{
  "swagger": "2.0",
  "info": {
    "title": "tyntec SMS Business",
    "description": "Allows SMS communication channel using the tyntec Conversations API to expand your outreach potential",
    "contact": {
      "name": "tyntec support",
      "url": "https://www.tyntec.com/get-help-support",
      "email": "support@tyntec.com"
    },
    "version": "3.0"
  },
  "host": "api.tyntec.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/chat-api/v2/applications/ms-connector/inbound-message-callback": {
      "x-ms-notification-content": {
        "description": "Response",
        "schema": {
          "type": "object",
          "properties": {
            "messageId": {
              "type": "string",
              "description": "messageId"
            },
            "channel": {
              "type": "string",
              "description": "channel"
            },
            "from": {
              "type": "string",
              "description": "from"
            },
            "to": {
              "type": "string",
              "description": "to"
            },
            "receivedAt": {
              "type": "string",
              "description": "receivedAt"
            },
            "content": {
              "type": "object",
              "properties": {
                "contentType": {
                  "type": "string",
                  "description": "contentType"
                },
                "text": {
                  "type": "string",
                  "description": "text"
                },
                "file": {
                  "type": "string",
                  "description": "file"
                }
              },
              "description": "content"
            },
            "event": {
              "type": "string",
              "description": "event"
            },
            "timestamp": {
              "type": "string",
              "description": "timestamp"
            }
          }
        }
      },
      "patch": {
        "responses": {},
        "summary": "Incoming message (deprecated)",
        "description": "Triggers on Incoming message (deprecated)",
        "operationId": "incoming",
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "Incoming",
          "revision": 1
        },
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ]
      }
    },
    "/chat-api/v2/messages": {
      "post": {
        "responses": {
          "202": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "messageId",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        },
        "summary": "Send a custom SMS (deprecated)",
        "description": "Send a custom SMS (deprecated)",
        "operationId": "SendSMS",
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "SendSMS",
          "revision": 1
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "to": {
                  "type": "string",
                  "description": "Receiver's phone number",
                  "title": "to"
                },
                "channels": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "title": "channels key item",
                    "description": "Connector channel",
                    "default": "sms",
                    "x-ms-visibility": "internal"
                  },
                  "description": "channels"
                },
                "sms": {
                  "type": "object",
                  "properties": {
                    "from": {
                      "type": "string",
                      "description": "Your phone number",
                      "title": "from"
                    },
                    "contentType": {
                      "type": "string",
                      "description": "contentType",
                      "title": "contentType",
                      "default": "text",
                      "x-ms-visibility": "internal"
                    },
                    "text": {
                      "type": "string",
                      "description": "Your SMS message text",
                      "title": "text"
                    }
                  },
                  "description": "sms",
                  "required": [
                    "from",
                    "text",
                    "contentType"
                  ]
                }
              },
              "required": [
                "channels",
                "sms",
                "to"
              ]
            }
          }
        ]
      }
    },
    "/chat-api/v2/messages/{id}/status": {
      "get": {
        "responses": {
          "202": {
            "description": "Returned when the operation successfully connects to Conversations API",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "messageId",
                  "x-ms-visibility": "important"
                },
                "deliveryChannel": {
                  "type": "string",
                  "description": "deliveryChannel",
                  "x-ms-visibility": "important"
                },
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-visibility": "important"
                },
                "timestamp": {
                  "type": "string",
                  "description": "timestamp",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        },
        "summary": "Status Check (deprecated)",
        "description": "Check for status of your message (deprecated)",
        "operationId": "StatusCheck",
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "GetStatus",
          "revision": 1
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of your message",
            "x-ms-summary": "ID of your message",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/conversations/v3/power-automate/messages/sms/text": {
      "post": {
        "responses": {
          "202": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "messageId",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        },
        "operationId": "SendSMSv3",
        "summary": "Send a custom SMS",
        "description": "This action sends a custom SMS to given phone number using tyntec Conversations API",
        "deprecated": false,
        "x-ms-api-annotation": {
          "family": "SendSMS",
          "revision": 2
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "string",
                  "description": "from"
                },
                "to": {
                  "type": "string",
                  "description": "to"
                },
                "channel": {
                  "type": "string",
                  "description": "channel",
                  "title": "",
                  "default": "sms",
                  "x-ms-visibility": "internal"
                },
                "content": {
                  "type": "object",
                  "properties": {
                    "contentType": {
                      "type": "string",
                      "description": "contentType",
                      "title": "",
                      "x-ms-visibility": "internal",
                      "default": "text"
                    },
                    "text": {
                      "type": "string",
                      "description": "text"
                    }
                  },
                  "description": "content",
                  "required": [
                    "contentType"
                  ]
                }
              },
              "required": [
                "channel",
                "content"
              ]
            }
          }
        ]
      }
    },
    "/conversations/v3/power-automate/webhooks/channels/sms/phone-numbers/{smsSender}": {
      "x-ms-notification-content": {
        "description": "Response",
        "schema": {
          "type": "object",
          "properties": {
            "messageId": {
              "type": "string",
              "description": "messageId"
            },
            "channel": {
              "type": "string",
              "description": "channel"
            },
            "from": {
              "type": "string",
              "description": "from"
            },
            "to": {
              "type": "string",
              "description": "to"
            },
            "receivedAt": {
              "type": "string",
              "description": "receivedAt"
            },
            "content": {
              "type": "object",
              "properties": {
                "contentType": {
                  "type": "string",
                  "description": "contentType"
                },
                "text": {
                  "type": "string",
                  "description": "text"
                },
                "file": {
                  "type": "string",
                  "description": "file"
                }
              },
              "description": "content"
            },
            "event": {
              "type": "string",
              "description": "event"
            },
            "timestamp": {
              "type": "string",
              "description": "timestamp"
            }
          }
        }
      },
      "post": {
        "responses": {},
        "operationId": "incomingV3",
        "summary": "Incoming message",
        "description": "Triggers on Incoming message",
        "x-ms-trigger": "single",
        "deprecated": false,
        "x-ms-api-annotation": {
          "family": "Incoming",
          "revision": 2
        },
        "parameters": [
          {
            "name": "smsSender",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Your SMS sender phone number",
            "description": "Your phone number"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "inboundMessageUrl": {
                  "type": "string",
                  "description": "inboundMessageUrl",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true,
                  "title": ""
                }
              },
              "required": [
                "inboundMessageUrl"
              ]
            }
          }
        ]
      }
    },
    "/conversations/v3/messages/{messageId}/status": {
      "get": {
        "responses": {
          "202": {
            "description": "Returned when the operation successfully connects to Conversations API",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "messageId",
                  "x-ms-visibility": "important"
                },
                "deliveryChannel": {
                  "type": "string",
                  "description": "deliveryChannel",
                  "x-ms-visibility": "important"
                },
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-visibility": "important"
                },
                "timestamp": {
                  "type": "string",
                  "description": "timestamp",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        },
        "operationId": "StatusCheckV3",
        "summary": "Status Check",
        "description": "Check for status of your message",
        "deprecated": false,
        "x-ms-api-annotation": {
          "family": "GetStatus",
          "revision": 2
        },
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Message ID of your message",
            "x-ms-summary": "Message ID of your message"
          }
        ]
      }
    },
    "/conversations/v3/configurations/channels/sms": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "description": "channel"
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "scopes"
                  },
                  "id": {
                    "type": "object",
                    "properties": {
                      "phoneNumber": {
                        "type": "string",
                        "description": "phoneNumber"
                      }
                    },
                    "description": "id"
                  },
                  "callback": {
                    "type": "object",
                    "properties": {
                      "callbackVersion": {
                        "type": "string",
                        "description": "callbackVersion"
                      },
                      "inboundMessageUrl": {
                        "type": "string",
                        "description": "inboundMessageUrl"
                      },
                      "messageStatusUrl": {
                        "type": "string",
                        "description": "messageStatusUrl"
                      },
                      "eventFilter": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "eventFilter"
                      }
                    },
                    "description": "callback"
                  }
                }
              }
            }
          }
        },
        "summary": "TestMyAPIConnection",
        "description": "Tests if your Authentication is correct",
        "operationId": "TestMyAPIConnection",
        "x-ms-visibility": "internal",
        "parameters": []
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "apikey"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "TestMyAPIConnection",
      "parameters": {}
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.tyntec.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.tyntec.com/data-privacy-statement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Marketing"
    }
  ]
}