{
  "swagger": "2.0",
  "info": {
    "title": "Today in History",
    "description": "Today in History retrieves some basic historical information for any given day. All date entries are parsed from Wikipedia.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "history.muffinlabs.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/date": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "description": "The date.",
                  "title": "Date"
                },
                "url": {
                  "type": "string",
                  "description": "The Wikipedia URL address.",
                  "title": "URL"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "Events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "year": {
                            "type": "string",
                            "description": "The year.",
                            "title": "Year"
                          },
                          "text": {
                            "type": "string",
                            "description": "The event text.",
                            "title": "Text"
                          },
                          "html": {
                            "type": "string",
                            "description": "The HTML.",
                            "title": "HTML"
                          },
                          "no_year_html": {
                            "type": "string",
                            "description": "The no year HTML.",
                            "title": "No Year HTML"
                          },
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string",
                                  "description": "The title.",
                                  "title": "Title"
                                },
                                "link": {
                                  "type": "string",
                                  "description": "The link address.",
                                  "title": "Link"
                                }
                              }
                            },
                            "title": "Links"
                          }
                        }
                      },
                      "title": "Events"
                    },
                    "Births": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "year": {
                            "type": "string",
                            "description": "The year.",
                            "title": "Year"
                          },
                          "text": {
                            "type": "string",
                            "description": "The event text.",
                            "title": "Text"
                          },
                          "html": {
                            "type": "string",
                            "description": "The HTML.",
                            "title": "HTML"
                          },
                          "no_year_html": {
                            "type": "string",
                            "description": "The no year HTML.",
                            "title": "No Year HTML"
                          },
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string",
                                  "description": "The title.",
                                  "title": "Title"
                                },
                                "link": {
                                  "type": "string",
                                  "description": "The link address.",
                                  "title": "Link"
                                }
                              }
                            },
                            "title": "Links"
                          }
                        }
                      },
                      "title": "Births"
                    },
                    "Deaths": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "year": {
                            "type": "string",
                            "description": "The year.",
                            "title": "Year"
                          },
                          "text": {
                            "type": "string",
                            "description": "The event text.",
                            "title": "Text"
                          },
                          "html": {
                            "type": "string",
                            "description": "The HTML.",
                            "title": "HTML"
                          },
                          "no_year_html": {
                            "type": "string",
                            "description": "The no year HTML.",
                            "title": "No Year HTML"
                          },
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string",
                                  "description": "The title.",
                                  "title": "Title"
                                },
                                "link": {
                                  "type": "string",
                                  "description": "The link address.",
                                  "title": "Link"
                                }
                              }
                            },
                            "title": "Links"
                          }
                        }
                      },
                      "title": "Deaths"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get events for today",
        "description": "Retrieve a list of events that happened on this day in history.",
        "operationId": "TodayGet",
        "parameters": []
      }
    },
    "/date/{month}/{day}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "description": "The date.",
                  "title": "Date"
                },
                "url": {
                  "type": "string",
                  "description": "The Wikipedia URL address.",
                  "title": "URL"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "Events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "year": {
                            "type": "string",
                            "description": "The year.",
                            "title": "Year"
                          },
                          "text": {
                            "type": "string",
                            "description": "The event text.",
                            "title": "Text"
                          },
                          "html": {
                            "type": "string",
                            "description": "The HTML.",
                            "title": "HTML"
                          },
                          "no_year_html": {
                            "type": "string",
                            "description": "The no year HTML.",
                            "title": "No Year HTML"
                          },
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string",
                                  "description": "The title.",
                                  "title": "Title"
                                },
                                "link": {
                                  "type": "string",
                                  "description": "The link address.",
                                  "title": "Link"
                                }
                              }
                            },
                            "title": "Links"
                          }
                        }
                      },
                      "title": "Events"
                    },
                    "Births": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "year": {
                            "type": "string",
                            "description": "The year.",
                            "title": "Year"
                          },
                          "text": {
                            "type": "string",
                            "description": "The event text.",
                            "title": "Text"
                          },
                          "html": {
                            "type": "string",
                            "description": "The HTML.",
                            "title": "HTML"
                          },
                          "no_year_html": {
                            "type": "string",
                            "description": "The no year HTML.",
                            "title": "No Year HTML"
                          },
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string",
                                  "description": "The title.",
                                  "title": "Title"
                                },
                                "link": {
                                  "type": "string",
                                  "description": "The link address.",
                                  "title": "Link"
                                }
                              }
                            },
                            "title": "Links"
                          }
                        }
                      },
                      "title": "Births"
                    },
                    "Deaths": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "year": {
                            "type": "string",
                            "description": "The year.",
                            "title": "Year"
                          },
                          "text": {
                            "type": "string",
                            "description": "The event text.",
                            "title": "Text"
                          },
                          "html": {
                            "type": "string",
                            "description": "The HTML.",
                            "title": "HTML"
                          },
                          "no_year_html": {
                            "type": "string",
                            "description": "The no year HTML.",
                            "title": "No Year HTML"
                          },
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string",
                                  "description": "The title.",
                                  "title": "Title"
                                },
                                "link": {
                                  "type": "string",
                                  "description": "The link address.",
                                  "title": "Link"
                                }
                              }
                            },
                            "title": "Links"
                          }
                        }
                      },
                      "title": "Deaths"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get events for a different day",
        "description": "Retrieve a list of events that happened on a specific day in history.",
        "operationId": "DayGet",
        "parameters": [
          {
            "name": "month",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The month in M format.",
            "x-ms-summary": "Month"
          },
          {
            "name": "day",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The day in the D format.",
            "x-ms-summary": "Day"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://history.muffinlabs.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://history.muffinlabs.com/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ]
}