{
  "swagger": "2.0",
  "info": {
    "title": "iLovePDF",
    "description": "Whether you are a small startup or a large business, iLoveAPI is here to help you automate document processes. Our infrastructure uses the best technology for processing PDF and image files.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.ilovepdf.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/processCloudFile": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Process file from cloud URL",
        "description": "Authenticate token, get server, upload file from cloud URL, start process, and download file.",
        "operationId": "ProcessCloudFile",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "tool",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "compress",
            "description": "PDF processing tool to use",
            "x-ms-summary": "Tool"
          },
          {
            "name": "filename",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "filename.pdf",
            "description": "Output filename",
            "x-ms-summary": "Filename"
          },
          {
            "name": "cloud_file",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Public URL of the file to process",
            "x-ms-summary": "Cloud File URL"
          }
        ]
      }
    },
    "/processLocalFile": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Process file",
        "description": "Authenticate token, get server, upload local file, start process, and download file.",
        "operationId": "ProcessLocalFile",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "tool",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "compress",
            "description": "PDF processing tool to use",
            "x-ms-summary": "Tool"
          },
          {
            "name": "filename",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "filename.pdf",
            "description": "Output filename",
            "x-ms-summary": "Filename"
          },
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file",
            "description": "Local file to upload and process",
            "x-ms-summary": "File"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "Public Key": {
      "type": "apiKey",
      "in": "header",
      "name": "public_key"
    }
  },
  "security": [
    {
      "Public Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.iloveapi.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.iloveapi.com/policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files"
    }
  ]
}