{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "description": "Eduframe is a complete solution for commercial training providers & business schools to attract more students, manage & automate the course administration, and deliver the ultimate learning experience. Eduframe seamlessly integrates with Canvas LMS. The connector opens up the opportunity to easily integrate your existing software applications with Eduframe, like your CRM and accounting software.",
    "title": "Eduframe",
    "contact": {
      "name": "Eduframe Development Team",
      "url": "https://eduframe.co",
      "email": "dev@drieam.nl"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://eduframe.co"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://drieam.com/security-and-privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ],
  "basePath": "/api/v1",
  "produces": [],
  "security": [
    {
      "undefined": []
    }
  ],
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "host": "api.eduframe.nl",
  "responses": {},
  "definitions": {
    "account": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "Unique identifier of the account.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The account name."
        },
        "email": {
          "type": "string",
          "description": "A string representing the billing e-mail of the account."
        },
        "account_type": {
          "type": "string",
          "enum": [
            "business",
            "personal"
          ],
          "description": "The account type.",
          "readOnly": true
        },
        "address": {
          "$ref": "#/definitions/address"
        },
        "phone": {
          "type": "string",
          "description": "A string representing the phone number of the account."
        },
        "updated_at": {
          "type": "string",
          "description": "Timestamp of last update.",
          "readOnly": true
        },
        "created_at": {
          "type": "string",
          "description": "Timestamp of creation.",
          "readOnly": true
        },
        "signup_answers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/customField"
          },
          "description": "List of signup answers for this account.",
          "readOnly": true
        }
      },
      "additionalProperties": true
    },
    "address": {
      "type": "object",
      "required": [
        "address",
        "postal_code",
        "city",
        "country"
      ],
      "properties": {
        "id": {
          "description": "Unique identifier of the address.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "addressee": {
          "description": "The addressee of the address.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "address": {
          "description": "Concatenation of the street and house number.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "postal_code": {
          "description": "A string representing the postal code.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "city": {
          "description": "A string representing the city.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "country": {
          "description": "A string representing the country.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "updated_at": {
          "description": "Timestamp of last update.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced"
        },
        "created_at": {
          "description": "Timestamp of creation.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced"
        }
      },
      "additionalProperties": true
    },
    "authentication": {
      "type": "object",
      "required": [
        "user_id",
        "authentication_provider_id",
        "uid"
      ],
      "properties": {
        "id": {
          "description": "Unique identifier of the authentication.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "user_id": {
          "description": "The id of the user that this authentication belongs to.",
          "type": "integer",
          "format": "int64"
        },
        "authentication_provider_id": {
          "description": "The id of the authentication provider.",
          "type": "integer",
          "format": "int64"
        },
        "uid": {
          "description": "The unique identifier of this authentication that corresponds the a unique id from the IDP.",
          "type": "string"
        },
        "otp_enabled": {
          "description": "In case auth provider is Eduframe, indicates if one time password is enabled for this login, is false for any other providers.",
          "x-ms-summary": "If OTP is enabled for this login.",
          "x-ms-visibility": "advanced"
        },
        "updated_at": {
          "description": "Timestamp of last update.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced"
        },
        "created_at": {
          "description": "Timestamp of creation.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced"
        }
      },
      "additionalProperties": true
    },
    "customField": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "Unique identifier of the signup answer.",
          "readOnly": true
        },
        "value": {
          "type": "string",
          "description": "The formatted value of the answer."
        },
        "signup_question_id": {
          "type": "integer",
          "format": "int64",
          "description": "Unique identifier of the question.",
          "readOnly": true
        }
      },
      "additionalProperties": true
    },
    "category": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "id": {
          "description": "Unique identifier of the category.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "name": {
          "title": "Name",
          "type": "string",
          "description": "Title of the category."
        },
        "description": {
          "title": "Description",
          "type": "string",
          "description": "The description of the category."
        },
        "slug": {
          "type": "string",
          "description": "Friendly identifier of a category.",
          "x-ms-visibility": "internal",
          "readOnly": true
        },
        "position": {
          "description": "Sorting position of the category. Lower is higher.",
          "type": "number",
          "x-ms-visibility": "advanced"
        },
        "parent_id": {
          "description": "Unique identifier of the parent category",
          "type": "number",
          "x-ms-visibility": "advanced",
          "x-ms-dynamic-values": {
            "operationId": "Get_categories",
            "value-path": "id",
            "value-title": "name"
          }
        },
        "avatar": {
          "description": "URL to the category avatar.",
          "type": "string",
          "readOnly": true
        },
        "is_published": {
          "title": "Published",
          "description": "If the category should be published on the website.",
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "default": true
        },
        "courses_count": {
          "description": "Number of courses directly linked to this category.",
          "type": "number",
          "readOnly": true
        },
        "children_count": {
          "description": "Number of children categories directly linked to this category.",
          "type": "number",
          "readOnly": true
        },
        "meta_title": {
          "description": "The meta title of the category, used for SEO (Search Engine Optimisation) purposes.",
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "meta_description": {
          "description": "The meta description of the category, used for SEO (Search Engine Optimisation) purposes.",
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "updated_at": {
          "description": "Timestamp of last update.",
          "type": "string",
          "readOnly": true
        },
        "created_at": {
          "description": "Timestamp of creation.",
          "type": "string",
          "readOnly": true
        },
        "avatar_url": {
          "description": "URL to a resized avatar image (300x200^).",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "course": {
      "type": "object",
      "required": [
        "category_id",
        "name",
        "code"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "Unique identifier of the course",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the course."
        },
        "position": {
          "type": "number",
          "description": "Sorting position of the course. Lower is higher.",
          "x-ms-visibility": "advanced"
        },
        "starting_price": {
          "type": "string",
          "description": "Lowest price of all of its planned courses.",
          "x-ms-visibility": "internal"
        },
        "signup_url": {
          "type": "string",
          "description": "URL to the signup page for this course.",
          "readOnly": true
        },
        "slug": {
          "type": "string",
          "description": "Human readable identifier, unique per educator.",
          "x-ms-visibility": "internal",
          "readOnly": true
        },
        "slug_history": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of old slugs, old calls will be redirected.",
          "readOnly": true,
          "x-ms-visibility": "internal"
        },
        "avatar": {
          "type": "string",
          "description": "URL to a resized avatar image (300x200^).",
          "readOnly": true
        },
        "avatar_thumb_url": {
          "type": "string",
          "description": "URL to a resized avatar image (748x296^).",
          "readOnly": true,
          "x-ms-visibility": "internal"
        },
        "website_url": {
          "type": "string",
          "description": "Expected URL of the course on the educator website.",
          "readOnly": true,
          "x-ms-visibility": "internal"
        },
        "certificate_template_id": {
          "type": "number",
          "description": "Identifier of the optionally linked certificate template.",
          "x-ms-visibility": "advanced"
        },
        "category_id": {
          "title": "Category",
          "type": "number",
          "description": "Identifier of the category of the course.",
          "x-ms-dynamic-values": {
            "operationId": "Get_categories",
            "value-path": "id",
            "value-title": "name"
          }
        },
        "code": {
          "type": "string",
          "description": "The code of the course."
        },
        "meta_title": {
          "type": "string",
          "description": "Meta title of the course for SEO purposes.",
          "x-ms-visibility": "internal"
        },
        "meta_description": {
          "type": "string",
          "description": "Meta description of the course for SEO purposes.",
          "x-ms-visibility": "internal"
        },
        "cost": {
          "type": "string",
          "description": "The price to be paid for this course."
        },
        "cost_scheme": {
          "type": "string",
          "enum": [
            "student",
            "order",
            "tbd",
            "free"
          ],
          "description": "How should the course be paid by default."
        },
        "is_published": {
          "type": "boolean",
          "description": "Boolean representing the publishable status of the course.",
          "default": true
        },
        "updated_at": {
          "type": "string",
          "description": "Timestamp of last update.",
          "readOnly": true
        },
        "created_at": {
          "type": "string",
          "description": "Timestamp of creation.",
          "readOnly": true
        }
      },
      "additionalProperties": true
    },
    "create_authentication": {
      "type": "object",
      "required": [
        "user_id",
        "authentication_provider_type",
        "uid"
      ],
      "properties": {
        "user_id": {
          "description": "The id of the user that this authentication belongs to.",
          "type": "integer",
          "format": "int64"
        },
        "authentication_provider_type": {
          "description": "The type of the authentication provider.",
          "type": "string",
          "enum": [
            "azure_active_directory",
            "eduframe",
            "openid_connect",
            "surf_conext"
          ]
        },
        "uid": {
          "description": "The unique identifier of this authentication that corresponds the a unique id from the IDP.",
          "type": "string"
        }
      },
      "additionalProperties": true
    },
    "user": {
      "type": "object",
      "required": [
        "first_name",
        "last_name",
        "email"
      ],
      "properties": {
        "id": {
          "description": "Unique identifier of the user.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "employee_number": {
          "title": "Employee number",
          "description": "The employee number of this user.",
          "type": "string",
          "readOnly": true
        },
        "first_name": {
          "title": "First name",
          "description": "First name of the user.",
          "type": "string"
        },
        "middle_name": {
          "title": "Middle name",
          "description": "Middle name of the user.",
          "type": "string"
        },
        "last_name": {
          "title": "Last name",
          "description": "Last name of the user.",
          "type": "string"
        },
        "email": {
          "title": "Email",
          "description": "The e-mail of the user.",
          "type": "string"
        },
        "phone": {
          "title": "Phone number",
          "description": "The telephone number of the user.",
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/label"
          },
          "readOnly": true
        },
        "slug": {
          "description": "The human readable unique identifier, you can also use this to fetch the user.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "internal"
        },
        "wants_newsletter": {
          "title": "Subscribe for newsletter",
          "description": "Does the user want to receive newsletters?",
          "type": "boolean",
          "x-ms-visibility": "advanced"
        },
        "with_authentication": {
          "title": "Create authentication",
          "description": "Create an authentication for the user, such that the user is able to login.",
          "type": "boolean",
          "x-ms-visibility": "advanced"
        },
        "locale": {
          "type": "string",
          "enum": [
            "nl",
            "en",
            "is",
            "es",
            "en-US",
            "en_GB"
          ],
          "description": "The locale of the user.",
          "x-ms-visibility": "advanced"
        },
        "address": {
          "$ref": "#/definitions/address"
        },
        "roles": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of roles the user has.",
          "readOnly": true,
          "x-ms-visibility": "internal"
        },
        "teacher_headline": {
          "description": "Short description of the user.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "internal"
        },
        "description": {
          "description": "Long description of the user. (same as teacher_description)",
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "teacher_description": {
          "description": "Long description of the user. (same as description)",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "internal"
        },
        "avatar_url": {
          "title": "Avatar",
          "description": "The relative url path to the avatar.",
          "type": "string",
          "readOnly": true
        },
        "notes_user": {
          "type": "string",
          "description": "Short note about the user.",
          "x-ms-visibility": "internal"
        },
        "teacher_enrollments_count": {
          "type": "number",
          "description": "Number of assigned planned courses as a teacher.",
          "readOnly": true,
          "x-ms-visibility": "internal"
        },
        "updated_at": {
          "description": "Timestamp of last update.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced"
        },
        "created_at": {
          "description": "Timestamp of creation.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced"
        }
      },
      "additionalProperties": true
    },
    "invoice": {
      "type": "object",
      "required": [
        "currency",
        "account_id"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "Unique identifier of the invoice.",
          "readOnly": true
        },
        "reference_id": {
          "description": "Reference id of the Invoice. Is used to find the invoice.",
          "type": "string",
          "readOnly": true
        },
        "account_id": {
          "title": "Account",
          "type": "number",
          "description": "Identifier of the account.",
          "x-ms-dynamic-values": {
            "operationId": "Get_accounts",
            "value-path": "id",
            "value-title": "name"
          }
        },
        "number": {
          "type": "string",
          "description": "The invoice number which is unique per educator. If left empty, it autoincrements.",
          "readOnly": true
        },
        "number_int": {
          "type": "number",
          "description": "The invoice number converted to an integer value.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "enum": [
            "concept",
            "open",
            "expired",
            "paid",
            "deleted"
          ],
          "description": "The status of the invoice. The initial status will always be concept.",
          "readOnly": true
        },
        "expiration_date": {
          "type": "string",
          "description": "The expiration date of the invoice. Is set when the invoice is set to open.",
          "readOnly": true
        },
        "opened_at": {
          "type": "string",
          "description": "The date when the invoice status was changed to open.",
          "readOnly": true
        },
        "invoice_set_id": {
          "title": "Invoice set",
          "type": "number",
          "description": "Add this invoice to an invoice set by giving the identifier of the invoice set.",
          "x-ms-visibility": "internal"
        },
        "description": {
          "type": "string",
          "description": "Human readable description of the invoice.",
          "readOnly": true
        },
        "account_name": {
          "type": "string",
          "description": "The name of the account that is paying. Is copied to the invoice and is thus not automatically updated if the account name changes.",
          "x-ms-visibility": "advanced"
        },
        "currency": {
          "type": "string",
          "enum": [
            "EUR",
            "ISK",
            "USD",
            "GBP"
          ],
          "description": "The currency of the invoice."
        },
        "total_incl": {
          "type": "string",
          "description": "The total cost of the invoice including VAT.",
          "readOnly": true
        },
        "total_excl": {
          "type": "string",
          "description": "The total cost of the invoice excluding VAT.",
          "readOnly": true
        },
        "total_open": {
          "type": "string",
          "description": "The open cost of the invoice including VAT.",
          "readOnly": true
        },
        "pdf_url": {
          "type": "string",
          "description": "Url to the download path of the invoice in PDF format.",
          "readOnly": true
        },
        "xml_url": {
          "type": "string",
          "description": "Url to the download path of the invoice in UML format.",
          "readOnly": true
        },
        "feature": {
          "type": "string",
          "description": "Some description of the invoice which is displayed on the invoice.",
          "x-ms-visibility": "advanced"
        },
        "footnote": {
          "type": "string",
          "description": "The note displayed at the bottom of the invoice.",
          "x-ms-visibility": "advanced"
        },
        "invoice_items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/invoice_item"
          },
          "readOnly": true
        },
        "updated_at": {
          "type": "string",
          "description": "Timestamp of last update.",
          "readOnly": true
        },
        "created_at": {
          "type": "string",
          "description": "Timestamp of creation.",
          "readOnly": true
        }
      },
      "additionalProperties": true
    },
    "invoice_item": {
      "type": "object",
      "required": [
        "units",
        "unit_price",
        "name"
      ],
      "properties": {
        "id": {
          "description": "Unique identifier of the invoice item.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "units": {
          "title": "Units",
          "description": "The number of units of the invoice item.",
          "type": "number"
        },
        "name": {
          "title": "Description",
          "type": "string",
          "description": "The name of the invoice item."
        },
        "unit_price": {
          "title": "Price",
          "description": "The price of a single unit.",
          "type": "string"
        },
        "invoice_vat_id": {
          "title": "Vat",
          "type": "number",
          "description": "Identifier of the invoice vat.",
          "x-ms-dynamic-values": {
            "operationId": "Get_invoice_vats",
            "value-path": "id",
            "value-title": "name"
          }
        },
        "catalog_variant_id": {
          "title": "Catalog Variant",
          "type": "number",
          "description": "Identifier of the catalog variant.",
          "x-ms-dynamic-values": {
            "operationId": "Get_catalog_variants",
            "value-path": "id",
            "value-title": "name"
          }
        },
        "updated_at": {
          "description": "Timestamp of last update.",
          "type": "string",
          "readOnly": true
        },
        "created_at": {
          "description": "Timestamp of creation.",
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": true
    },
    "invoice_vat": {
      "type": "object",
      "required": [
        "name",
        "percentage"
      ],
      "properties": {
        "id": {
          "description": "Unique idenitfier of the invoice vat.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "name": {
          "description": "Name of the invoice vat.",
          "type": "string"
        },
        "percentage": {
          "description": "Number representing the VAT percentage.",
          "type": "string"
        }
      },
      "additionalProperties": true
    },
    "catalog_variant": {
      "type": "object",
      "properties": {
        "id": {
          "type": "number",
          "description": "Unique identifier of the catalog variant",
          "readOnly": true
        },
        "product_id": {
          "type": "number",
          "description": "Unique identifier of the catalog product",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the course."
        },
        "cost_scheme": {
          "type": "string",
          "enum": [
            "student",
            "order",
            "tbd",
            "free"
          ],
          "description": "How should the catalog variant be paid by default."
        },
        "cost": {
          "type": "string",
          "description": "The price to be paid for this catalog variant."
        },
        "currency": {
          "type": "string",
          "enum": [
            "EUR",
            "ISK",
            "USD",
            "GBP"
          ],
          "description": "The currency of the catalog variant."
        },
        "variantable_type": {
          "type": "string",
          "enum": [
            "PlannedCourse",
            "Program::Edition"
          ],
          "description": "The currency of the invoice."
        },
        "variantable_id": {
          "type": "number",
          "description": "Unique identifier of the variantable.",
          "readOnly": true
        },
        "updated_at": {
          "type": "string",
          "description": "Timestamp of last update.",
          "readOnly": true
        },
        "created_at": {
          "type": "string",
          "description": "Timestamp of creation.",
          "readOnly": true
        },
        "is_published": {
          "title": "Published",
          "description": "If the category should be published on the website.",
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "default": true
        }
      },
      "additionalProperties": true
    },
    "label": {
      "type": "object",
      "required": [
        "name",
        "color",
        "model_type"
      ],
      "properties": {
        "id": {
          "type": "number",
          "description": "Unique identifier of the label",
          "readOnly": true
        },
        "name": {
          "title": "Name",
          "type": "string",
          "description": "The name of the label."
        },
        "color": {
          "title": "Color",
          "type": "string",
          "description": "Hex code of the color of the label."
        },
        "model_type": {
          "title": "Model",
          "type": "string",
          "enum": [
            "Lead",
            "Order",
            "Catalog::Product",
            "User",
            "Account",
            "Teacher"
          ],
          "description": "The model type for which this label is made available."
        },
        "updated_at": {
          "type": "string",
          "description": "Timestamp of last update.",
          "readOnly": true
        },
        "created_at": {
          "type": "string",
          "description": "Timestamp of creation.",
          "readOnly": true
        }
      },
      "additionalProperties": true
    },
    "webhook": {
      "type": "object",
      "required": [
        "events"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier of the webhook. (a UUID).",
          "readOnly": true
        },
        "url": {
          "type": "string",
          "description": "The callback url for Eduframe to send a HTTP POST payload to.",
          "x-ms-visibility": "internal"
        },
        "active": {
          "type": "boolean",
          "description": "State of webhook.",
          "default": true
        },
        "events": {
          "items": {
            "type": "string",
            "enum": [
              "account.created",
              "account.deleted",
              "account.updated",
              "category.created",
              "category.deleted",
              "category.updated",
              "course.created",
              "course.deleted",
              "course.updated",
              "course_location.created",
              "course_location.deleted",
              "course_location.updated",
              "course_variant.created",
              "course_variant.deleted",
              "course_variant.updated",
              "educator.created",
              "educator.deleted",
              "educator.updated",
              "enrollment.created",
              "enrollment.deleted",
              "enrollment.updated",
              "invoice.created",
              "invoice.deleted",
              "invoice.updated",
              "invoice_vat.created",
              "invoice_vat.deleted",
              "invoice_vat.updated",
              "lead.created",
              "lead.deleted",
              "lead.updated",
              "meeting.created",
              "meeting.deleted",
              "meeting.updated",
              "meeting.teacher_attendees_changed",
              "meeting_location.created",
              "meeting_location.deleted",
              "meeting_location.updated",
              "order.created",
              "order.deleted",
              "order.updated",
              "payment.created",
              "payment.deleted",
              "payment.updated",
              "planned_course.created",
              "planned_course.deleted",
              "planned_course.updated",
              "planning_event.created",
              "planning_event.deleted",
              "planning_event.updated",
              "planning_event.teacher_attendees_changed",
              "teacher_role.created",
              "teacher_role.deleted",
              "teacher_role.updated",
              "user.created",
              "user.deleted",
              "user.updated"
            ]
          },
          "type": "array",
          "description": "Array of events that should trigger this webhook."
        },
        "updated_at": {
          "type": "string",
          "description": "Timestamp of last update.",
          "readOnly": true
        },
        "created_at": {
          "type": "string",
          "description": "Timestamp of creation.",
          "readOnly": true
        }
      },
      "additionalProperties": true
    },
    "webhook_payload": {
      "type": "object",
      "properties": {
        "educator": {
          "type": "string",
          "description": "Slug of the educator.",
          "readOnly": true
        },
        "event": {
          "type": "string",
          "description": "Type of event that triggerd the webhook.",
          "readOnly": true
        },
        "entity_type": {
          "type": "string",
          "description": "Type of the model that triggerd the webhook.",
          "readOnly": true
        },
        "entity_id": {
          "type": "number",
          "description": "Unique identifier of the model that triggerd the webhook.",
          "readOnly": true
        },
        "tenant_id": {
          "type": "string",
          "description": "UUID of the educator.",
          "readOnly": true
        }
      },
      "additionalProperties": true
    }
  },
  "paths": {
    "/accounts": {
      "post": {
        "operationId": "Post_accounts",
        "summary": "Add an account",
        "description": "Add an account to your administration.",
        "tags": [
          "accounts"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "required": [
                "name"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The account name."
                },
                "email": {
                  "type": "string",
                  "description": "A string representing the billing e-mail of the account."
                },
                "address_attributes": {
                  "$ref": "#/definitions/address"
                },
                "visible": {
                  "type": "boolean",
                  "description": "Boolean whether this account should be visible (i.e. business or multiple users or any orders).",
                  "x-ms-visibility": "internal"
                }
              },
              "additionalProperties": true
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/account"
            }
          }
        }
      },
      "get": {
        "operationId": "Get_accounts",
        "summary": "List all accounts",
        "description": "Get all accounts.",
        "tags": [
          "accounts"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/account"
              },
              "type": "array"
            },
            "headers": {
              "total": {
                "description": "Total number of records.",
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "/accounts/{id}": {
      "get": {
        "operationId": "Get_accounts_id",
        "summary": "Get an account",
        "description": "Get an account by id.",
        "tags": [
          "accounts"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Account id",
            "description": "Identifier of the account."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/account"
            }
          }
        }
      }
    },
    "/authentications": {
      "post": {
        "operationId": "Post_authentication",
        "summary": "Add an authentication",
        "description": "Add an authentication method to an existing user",
        "tags": [
          "authentications"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/create_authentication"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/authentication"
            }
          }
        }
      }
    },
    "/categories": {
      "post": {
        "operationId": "Post_categories",
        "summary": "Add a category",
        "description": "Add a category to your administration.",
        "tags": [
          "categories"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/category"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/category"
            }
          }
        }
      },
      "get": {
        "operationId": "Get_categories",
        "summary": "List all categories",
        "description": "Get all categories.",
        "tags": [
          "categories"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PerPage"
          },
          {
            "items": {
              "enum": [
                "position"
              ],
              "type": "string"
            },
            "type": "array",
            "x-ms-summary": "Sort",
            "description": "Sort the results. Change order by using `<sort_by>:[asc|desc]`",
            "in": "query",
            "name": "sort"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/category"
              },
              "type": "array"
            },
            "headers": {
              "total": {
                "description": "Total number of records.",
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "/categories/{id}": {
      "get": {
        "operationId": "Get_categories_id",
        "summary": "Get a category",
        "description": "Get a category by id",
        "tags": [
          "categories"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Category Id",
            "description": "Identifier of the category."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/category"
            }
          }
        }
      }
    },
    "/courses": {
      "post": {
        "operationId": "Post_courses",
        "summary": "Add a course",
        "description": "Add a course to your administration.",
        "tags": [
          "courses"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/course"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/course"
            }
          }
        }
      },
      "get": {
        "operationId": "Get_courses",
        "summary": "List all courses",
        "description": "Get all courses.",
        "tags": [
          "courses"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PerPage"
          },
          {
            "items": {
              "enum": [
                "position"
              ],
              "type": "string"
            },
            "type": "array",
            "x-ms-summary": "Sort",
            "description": "Sort the results. Change order by using `<sort_by>:[asc|desc]`",
            "in": "query",
            "name": "sort"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/course"
              },
              "type": "array"
            },
            "headers": {
              "total": {
                "description": "Total number of records.",
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "/courses/{id}": {
      "get": {
        "operationId": "Get_courses_id",
        "summary": "Get a course",
        "description": "Get a single course by id",
        "tags": [
          "courses"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Course id",
            "description": "Identifier of the course."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/course"
            }
          }
        }
      }
    },
    "/users": {
      "post": {
        "operationId": "Post_users",
        "summary": "Add a user",
        "description": "Add a user to your administration.",
        "tags": [
          "users"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "required": [
                "first_name",
                "last_name",
                "email"
              ],
              "properties": {
                "first_name": {
                  "title": "First name",
                  "description": "First name of the user.",
                  "type": "string"
                },
                "middle_name": {
                  "title": "Middle name",
                  "description": "Middle name of the user.",
                  "type": "string"
                },
                "last_name": {
                  "title": "Last name",
                  "description": "Last name of the user.",
                  "type": "string"
                },
                "email": {
                  "title": "Email",
                  "description": "The e-mail of the user.",
                  "type": "string"
                },
                "phone": {
                  "title": "Phone number",
                  "description": "The telephone number of the user.",
                  "type": "string"
                },
                "wants_newsletter": {
                  "title": "Subscribe for newsletter",
                  "description": "Does the user want to receive newsletters?",
                  "type": "boolean",
                  "default": false,
                  "x-ms-visibility": "advanced"
                },
                "with_authentication": {
                  "title": "Create authentication",
                  "description": "Create an authentication for the user, such that the user is able to login.",
                  "type": "boolean",
                  "default": true,
                  "x-ms-visibility": "advanced"
                },
                "locale": {
                  "type": "string",
                  "enum": [
                    "nl",
                    "en",
                    "is",
                    "es",
                    "en-US",
                    "en_GB"
                  ],
                  "description": "The locale of the user.",
                  "x-ms-visibility": "advanced"
                },
                "label_ids": {
                  "type": "array",
                  "items": {
                    "type": "number",
                    "x-ms-dynamic-values": {
                      "parameters": {
                        "model_type": "User"
                      },
                      "operationId": "Get_labels",
                      "value-path": "id",
                      "value-title": "name"
                    }
                  }
                },
                "address_attributes": {
                  "$ref": "#/definitions/address"
                },
                "notes_user": {
                  "type": "string",
                  "description": "Short note about the user.",
                  "x-ms-visibility": "advanced"
                }
              },
              "additionalProperties": true
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/user"
            },
            "headers": {
              "total": {
                "description": "Total number of records.",
                "type": "integer"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "Get_users",
        "summary": "List all users",
        "description": "Get all users.",
        "tags": [
          "users"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PerPage"
          },
          {
            "items": {
              "enum": [
                "first_name",
                "last_name",
                "middle_name"
              ],
              "type": "string"
            },
            "type": "array",
            "x-ms-summary": "Sort",
            "description": "Sort the results. Change order by using `<sort_by>:[asc|desc]`",
            "in": "query",
            "name": "sort"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/user"
              },
              "type": "array"
            },
            "headers": {
              "total": {
                "description": "Total number of records.",
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "operationId": "Get_users_id",
        "summary": "Get a user",
        "description": "Get a single user by id.",
        "tags": [
          "users"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "single",
            "x-ms-summary": "User id",
            "description": "Identifier of the user."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/user"
            }
          }
        }
      }
    },
    "/users/{user_id}/authentications": {
      "get": {
        "operationId": "Get_authentications_by_user_id",
        "summary": "Get the authentications of a user",
        "description": "Get a list of authentications that belong to a specific user.",
        "tags": [
          "authentications"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PerPage"
          },
          {
            "$ref": "#/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/authentication"
              },
              "type": "array"
            },
            "headers": {
              "total": {
                "description": "Total number of records.",
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "/users/{user_id}/authentications/{authentication_id}": {
      "delete": {
        "operationId": "Delete_authentication_by_user_id",
        "summary": "Delete an authentication of a user",
        "description": "Delete one of the authentications of an user. Note that you cannot delete the last authentication!",
        "tags": [
          "authentications"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/UserId"
          },
          {
            "name": "authentication_id",
            "type": "integer",
            "format": "int64",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Authentication id",
            "description": "Identifier of the authentication."
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          }
        }
      }
    },
    "/invoices": {
      "post": {
        "operationId": "Post_invoices",
        "summary": "Add an invoice",
        "description": "Add an invoice to your administration.",
        "tags": [
          "invoices"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "required": [
                "account_id",
                "currency",
                "invoice_items_attributes"
              ],
              "properties": {
                "account_id": {
                  "title": "Account",
                  "type": "number",
                  "description": "Identifier of the account.",
                  "x-ms-dynamic-values": {
                    "operationId": "Get_accounts",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "invoice_set_id": {
                  "title": "Invoice set",
                  "type": "number",
                  "description": "Add this invoice to an invoice set by giving the identifier of the invoice set.",
                  "x-ms-visibility": "internal"
                },
                "account_name": {
                  "type": "string",
                  "description": "The name of the account that is paying. Is copied to the invoice and is thus not automatically updated if the account name changes.",
                  "x-ms-visibility": "advanced"
                },
                "currency": {
                  "type": "string",
                  "enum": [
                    "EUR",
                    "ISK",
                    "USD",
                    "GBP"
                  ],
                  "description": "The currency of the invoice."
                },
                "invoice_items_attributes": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/invoice_item"
                  }
                },
                "feature": {
                  "type": "string",
                  "description": "Some description of the invoice which is displayed on the invoice.",
                  "x-ms-visibility": "advanced"
                },
                "footnote": {
                  "type": "string",
                  "description": "The note displayed at the bottom of the invoice.",
                  "x-ms-visibility": "advanced"
                }
              },
              "additionalProperties": true
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/invoice"
            }
          }
        }
      },
      "get": {
        "operationId": "Get_invoices",
        "summary": "List all invoices",
        "description": "Get all invoices.",
        "tags": [
          "invoices"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/invoice"
              },
              "type": "array"
            },
            "headers": {
              "total": {
                "description": "Total number of records.",
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "/invoices/{id}": {
      "get": {
        "operationId": "Get_invoices_id",
        "summary": "Get an invoice",
        "description": "Get a single invoice by id.",
        "tags": [
          "invoices"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Invoice id",
            "description": "Identifier of the invoice."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/invoice"
            }
          }
        }
      }
    },
    "/invoice_vats": {
      "get": {
        "operationId": "Get_invoice_vats",
        "summary": "List all invoice vats",
        "description": "Get all invoice vats",
        "tags": [
          "invoices"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/invoice_vat"
              }
            },
            "headers": {
              "total": {
                "description": "Total number of records.",
                "type": "integer"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "Post_invoice_vats",
        "summary": "Add an invoice vat",
        "description": "Add an invoice vat which can be used on the invoice.",
        "tags": [
          "invoices"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/invoice_vat"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/invoice_vat"
            }
          }
        }
      }
    },
    "/catalog/variants": {
      "get": {
        "operationId": "Get_catalog_variants",
        "summary": "Get all catalog variants",
        "description": "Get all catalog variants.",
        "tags": [
          "catalog"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/catalog_variant"
              },
              "type": "array"
            },
            "headers": {
              "total": {
                "description": "Total number of records.",
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "/labels": {
      "get": {
        "operationId": "Get_labels",
        "summary": "List all labels",
        "description": "Get all labels.",
        "tags": [
          "labels"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PerPage"
          },
          {
            "in": "query",
            "name": "model_type",
            "type": "string",
            "enum": [
              "Lead",
              "Order",
              "Catalog::Product",
              "User",
              "Account",
              "Teacher"
            ],
            "description": "Filter labels based on model type.",
            "x-ms-summary": "Filter on model type of the label"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/label"
              },
              "type": "array"
            },
            "headers": {
              "total": {
                "description": "Total number of records.",
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/webhook_payload"
        }
      },
      "post": {
        "operationId": "Post_webhooks",
        "summary": "Subscribe to a webhook",
        "description": "Subscribe to a webhook to get notified on record updates.",
        "x-ms-trigger": "single",
        "tags": [
          "webhooks"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
            "required": [
              "url",
              "events"
            ],
            "properties": {
              "id": {
                "type": "string",
                "description": "Unique identifier of the webhook. (a UUID).",
                "readOnly": true
              },
              "url": {
                "type": "string",
                "description": "The callback url for Eduframe to send a HTTP POST payload to.",
                "x-ms-notification-url": true,
                "x-ms-visibility": "internal",
                "default": ""
              },
              "active": {
                "type": "boolean",
                "description": "State of webhook.",
                "default": true
              },
              "events": {
                "items": {
                  "type": "string",
                  "enum": [
                    "account.created",
                    "account.deleted",
                    "account.updated",
                    "category.created",
                    "category.deleted",
                    "category.updated",
                    "course.created",
                    "course.deleted",
                    "course.updated",
                    "course_location.created",
                    "course_location.deleted",
                    "course_location.updated",
                    "course_variant.created",
                    "course_variant.deleted",
                    "course_variant.updated",
                    "educator.created",
                    "educator.deleted",
                    "educator.updated",
                    "enrollment.created",
                    "enrollment.deleted",
                    "enrollment.updated",
                    "invoice.created",
                    "invoice.deleted",
                    "invoice.updated",
                    "invoice_vat.created",
                    "invoice_vat.deleted",
                    "invoice_vat.updated",
                    "lead.created",
                    "lead.deleted",
                    "lead.updated",
                    "meeting.created",
                    "meeting.deleted",
                    "meeting.updated",
                    "meeting.teacher_attendees_changed",
                    "meeting_location.created",
                    "meeting_location.deleted",
                    "meeting_location.updated",
                    "order.created",
                    "order.deleted",
                    "order.updated",
                    "payment.created",
                    "payment.deleted",
                    "payment.updated",
                    "planned_course.created",
                    "planned_course.deleted",
                    "planned_course.updated",
                    "planning_event.created",
                    "planning_event.deleted",
                    "planning_event.updated",
                    "planning_event.teacher_attendees_changed",
                    "teacher_role.created",
                    "teacher_role.deleted",
                    "teacher_role.updated",
                    "user.created",
                    "user.deleted",
                    "user.updated"
                  ]
                },
                "type": "array",
                "description": "Array of events that should trigger this webhook."
              }
            },
            "additionalProperties": true
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/webhook"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "description": "",
      "name": "users"
    }
  ],
  "securityDefinitions": {
    "undefined": {
      "authorizationUrl": "https://api.eduframe.nl/login/oauth2/auth",
      "tokenUrl": "https://api.eduframe.nl/login/oauth2/token",
      "scopes": {},
      "type": "oauth2",
      "flow": "accessCode"
    }
  },
  "parameters": {
    "Page": {
      "x-ms-summary": "Page number",
      "description": "Page number to get.",
      "name": "page",
      "in": "query",
      "type": "integer",
      "default": 1
    },
    "PerPage": {
      "x-ms-summary": "Records per page",
      "description": "Number of records per page.",
      "name": "per_page",
      "in": "query",
      "type": "integer",
      "default": 25
    },
    "UserId": {
      "name": "user_id",
      "type": "integer",
      "format": "int64",
      "in": "path",
      "required": true,
      "x-ms-url-encoding": "single",
      "x-ms-summary": "User id",
      "description": "Identifier of the user."
    }
  }
}
