{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "support@pdf4me.com",
      "name": "PDF4me Support",
      "url": "https://dev.pdf4me.com/help/"
    },
    "title": "PDF4me AI",
    "description": "PDF4me AI gives you all functionalities around PDF AI, ProcessInvoice, ProcessHealthCard, ProcessContract",
    "version": "1.0"
  },
  "host": "api.pdf4me.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v2/FlowV2/ProcessInvoice": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Process Invoice Parser"
        ],
        "summary": "AI - Invoice Parser",
        "description": "This action collects and returns detailed information about the provided invoice file.",
        "operationId": "ProcessInvoiceAi",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/InvoiceExtractionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InvoiceData"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/InvoiceData"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/InvoiceData"
            }
          }
        }
      }
    },
    "/v2/FlowV2/ProcessHealthCard": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Process Healthcard Parser"
        ],
        "summary": "AI - Healthcard Parser",
        "description": "This action collects and returns detailed information about the provided Healthcard file.",
        "operationId": "ProcessHealthCardAi",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ProcessHealthCardRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/HealthInsuranceCardData"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/HealthInsuranceCardData"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/HealthInsuranceCardData"
            }
          }
        }
      }
    },
    "/v2/FlowV2/ProcessContract": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Process Contract Parser"
        ],
        "summary": "AI - Contract Parser",
        "description": "This action collects and returns detailed information about the provided Contract file.",
        "operationId": "ProcessContractAi",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ProcessContractRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ContractData"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ContractData"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ContractData"
            }
          }
        }
      }
    },
    "/v2/FlowV2/GetActionStatus": {
      "get": {
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output File Content from the PDF4me Connect",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          },
          "202": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output File Content from the PDF4me Connect",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "getActionStatus_v1",
        "description": "getActionStatus_v1",
        "operationId": "getActionStatus_v1",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {
    "InvoiceExtractionRequest": {
      "type": "object",
      "properties": {
        "docContent": {
          "type": "string",
          "format": "byte",
          "description": "The content of the invoice file.",
          "title": "File Content",
          "x-ms-visibility": "important"
        },
        "Document": {
          "$ref": "#/definitions/Document"
        }
      }
    },
    "InvoiceData": {
      "type": "object",
      "properties": {
        "invoiceNumber": {
          "type": "string"
        },
        "invoiceDate": {
          "type": "string",
          "format": "date"
        },
        "orderId": {
          "type": "string"
        },
        "vendorName": {
          "type": "string"
        },
        "vendorAddress": {
          "type": "string"
        },
        "vendorGSTIN": {
          "type": "string"
        },
        "vendorPAN": {
          "type": "string"
        },
        "vendorCIN": {
          "type": "string"
        },
        "billTo": {
          "type": "string"
        },
        "billToAddress": {
          "type": "string"
        },
        "billToState": {
          "type": "string"
        },
        "billToPincode": {
          "type": "string"
        },
        "lineItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InvoiceLineItem"
          }
        },
        "subTotal": {
          "type": "number",
          "format": "decimal"
        },
        "cgst": {
          "type": "number",
          "format": "decimal"
        },
        "sgst": {
          "type": "number",
          "format": "decimal"
        },
        "cgstRate": {
          "type": "number",
          "format": "decimal"
        },
        "sgstRate": {
          "type": "number",
          "format": "decimal"
        },
        "total": {
          "type": "number",
          "format": "decimal"
        },
        "confidence": {
          "type": "object",
          "additionalProperties": {
            "type": "number",
            "format": "decimal"
          }
        }
      }
    },
    "InvoiceLineItem": {
      "type": "object",
      "properties": {
        "hsnCode": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "unitPrice": {
          "type": "number",
          "format": "decimal"
        },
        "discount": {
          "type": "number",
          "format": "decimal"
        },
        "quantity": {
          "type": "number",
          "format": "decimal"
        },
        "taxableValue": {
          "type": "number",
          "format": "decimal"
        },
        "cgstAmount": {
          "type": "number",
          "format": "decimal"
        },
        "sgstAmount": {
          "type": "number",
          "format": "decimal"
        },
        "total": {
          "type": "number",
          "format": "decimal"
        }
      }
    },
    "ProcessContractRequest": {
      "type": "object",
      "properties": {
        "docContent": {
          "type": "string",
          "format": "byte",
          "description": "The content of the contract file.",
          "title": "File Content",
          "x-ms-visibility": "important"
        },
        "Document": {
          "$ref": "#/definitions/Document"
        }
      }
    },
    "ContractData": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "contractId": {
          "type": "string"
        },
        "parties": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Party"
          }
        },
        "executionDateStr": {
          "type": "string",
          "description": "Execution date as string."
        },
        "effectiveDateStr": {
          "type": "string",
          "description": "Effective date as string."
        },
        "expirationDateStr": {
          "type": "string",
          "description": "Expiration date as string."
        },
        "contractDuration": {
          "type": "string"
        },
        "jurisdiction": {
          "$ref": "#/definitions/Jurisdiction"
        }
      }
    },
    "Party": {
      "type": "object",
      "properties": {
        "legalParty": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "address": {
          "type": "string"
        },
        "referenceName": {
          "type": "string"
        },
        "fullDescription": {
          "type": "string"
        }
      }
    },
    "Jurisdiction": {
      "type": "object",
      "properties": {
        "jurisdictions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "courtLocation": {
          "type": "string"
        },
        "fullDescription": {
          "type": "string"
        },
        "region": {
          "type": "string"
        }
      }
    },
    "ProcessHealthCardRequest": {
      "type": "object",
      "properties": {
        "docContent": {
          "type": "string",
          "format": "byte",
          "title": "File Content",
          "description": "The content of the health card file.",
          "x-ms-visibility": "important"
        },
        "Document": {
          "$ref": "#/definitions/Document"
        }
      }
    },
    "HealthInsuranceCardData": {
      "type": "object",
      "properties": {
        "memberId": {
          "type": "string"
        },
        "groupNumber": {
          "type": "string"
        },
        "planType": {
          "type": "string"
        },
        "insuranceProvider": {
          "type": "string"
        },
        "memberName": {
          "type": "string"
        },
        "dateOfBirth": {
          "type": "string"
        },
        "effectiveDate": {
          "type": "string"
        },
        "rxBin": {
          "type": "string"
        },
        "rxPcn": {
          "type": "string"
        },
        "rxGroup": {
          "type": "string"
        },
        "copayInfo": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "confidence": {
          "type": "object",
          "additionalProperties": {
            "type": "number",
            "format": "decimal"
          }
        }
      }
    },
    "Document": {
      "type": "object",
      "properties": {
        "Name": {
          "type": "string",
          "description": "The name of the file.",
          "x-ms-visibility": "important"
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://dev.pdf4me.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://dev.pdf4me.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Website"
    }
  ]
}