{
  "swagger": "2.0",
  "info": {
    "title": "The Lord of the Rings",
    "description": "This is the one API to rule them all. No really, it serves your needs regarding data about The Lord of the Rings, the epic books by J. R. R. Tolkien and the official movie adaptions by Peter Jackson.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "the-one-api.dev",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/book": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "docs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      }
                    }
                  },
                  "title": "Docs"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The limit.",
                  "title": "Limit"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The offset.",
                  "title": "Offset"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The page.",
                  "title": "Page"
                },
                "pages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The pages.",
                  "title": "Pages"
                }
              }
            }
          }
        },
        "summary": "List books",
        "description": "The list of all \"The Lord of the Rings\" books.",
        "operationId": "BookList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The number offset.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sorting",
            "in": "query",
            "x-ms-summary": "Sorting",
            "description": "The sorting.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/book/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "docs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      }
                    }
                  },
                  "title": "Docs"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The limit.",
                  "title": "Limit"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The offset.",
                  "title": "Offset"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The page.",
                  "title": "Page"
                },
                "pages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The pages.",
                  "title": "Pages"
                }
              }
            }
          }
        },
        "summary": "Request a book",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The number offset.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sorting",
            "in": "query",
            "x-ms-summary": "Sorting",
            "description": "The sorting.",
            "required": false,
            "type": "string"
          }
        ],
        "description": "Request one specific book.",
        "operationId": "BookGet"
      }
    },
    "/book/{id}/chapter": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "docs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "chapterName": {
                        "type": "string",
                        "description": "The chapter name.",
                        "title": "Chapter Name"
                      }
                    }
                  },
                  "title": "Docs"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The limit.",
                  "title": "Limit"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The offset.",
                  "title": "Offset"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The page.",
                  "title": "Page"
                },
                "pages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The pages.",
                  "title": "Pages"
                }
              }
            }
          }
        },
        "description": "Request all chapters of one specific book.",
        "summary": "Request chapters",
        "operationId": "BookGetChapters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The number offset.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sorting",
            "in": "query",
            "x-ms-summary": "Sorting",
            "description": "The sorting.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/movie": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "docs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "runtimeInMinutes": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The runtime in minutes.",
                        "title": "Runtime In Minutes"
                      },
                      "budgetInMillions": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The budget in millions.",
                        "title": "Budget In Millions"
                      },
                      "boxOfficeRevenueInMillions": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The box office revenue in millions.",
                        "title": "Box Office Revenue In Millions"
                      },
                      "academyAwardNominations": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of Academy Award nominations.",
                        "title": "Academy Award Nominations"
                      },
                      "academyAwardWins": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of Academy Award wins..",
                        "title": "Academy Award Wins"
                      },
                      "rottenTomatoesScore": {
                        "type": "number",
                        "description": "The Rotten Tomatoes score.",
                        "title": "Rotten Tomatoes Score"
                      }
                    }
                  },
                  "title": "Docs"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The limit.",
                  "title": "Limit"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The offset.",
                  "title": "Offset"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The page.",
                  "title": "Page"
                },
                "pages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The pages.",
                  "title": "Pages"
                }
              }
            }
          }
        },
        "summary": "List movies",
        "description": "List of all movies, including the \"The Lord of the Rings\" and the \"The Hobbit\" trilogies.",
        "operationId": "MovieList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The number offset.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sorting",
            "in": "query",
            "x-ms-summary": "Sorting",
            "description": "The sorting.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/movie/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "docs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "runtimeInMinutes": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The runtime in minutes.",
                        "title": "Runtime In Minutes"
                      },
                      "budgetInMillions": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The budget in millions.",
                        "title": "Budget In Millions"
                      },
                      "boxOfficeRevenueInMillions": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The box office revenue in millions.",
                        "title": "Box Office Revenue In Millions"
                      },
                      "academyAwardNominations": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of Academy Award nominations.",
                        "title": "Academy Award Nominations"
                      },
                      "academyAwardWins": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of Academy Award wins..",
                        "title": "Academy Award Wins"
                      },
                      "rottenTomatoesScore": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The Rotten Tomatoes score.",
                        "title": "Rotten Tomatoes Score"
                      }
                    }
                  },
                  "title": "Docs"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The limit.",
                  "title": "Limit"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The offset.",
                  "title": "Offset"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The page.",
                  "title": "Page"
                },
                "pages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The pages.",
                  "title": "Pages"
                }
              }
            }
          }
        },
        "summary": "Request a movie",
        "description": "Request one specific movie.",
        "operationId": "MovieGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The number offset.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sorting",
            "in": "query",
            "x-ms-summary": "Sorting",
            "description": "The sorting.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/movie/{id}/quote": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "docs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "dialog": {
                        "type": "string",
                        "description": "The dialog.",
                        "title": "Dialog"
                      },
                      "movie": {
                        "type": "string",
                        "description": "The movie.",
                        "title": "Movie"
                      },
                      "character": {
                        "type": "string",
                        "description": "The character.",
                        "title": "Character"
                      }
                    }
                  },
                  "title": "Docs"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The limit.",
                  "title": "Limit"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The offset.",
                  "title": "Offset"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The page.",
                  "title": "Page"
                },
                "pages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The pages.",
                  "title": "Pages"
                }
              }
            }
          }
        },
        "summary": "Request quotes from a movie",
        "description": "Request all movie quotes for one specific movie (only working for the LotR trilogy).",
        "operationId": "MovieGetQuote",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The number offset.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sorting",
            "in": "query",
            "x-ms-summary": "Sorting",
            "description": "The sorting.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/character": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "docs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "height": {
                        "type": "string",
                        "description": "Their height.",
                        "title": "Height"
                      },
                      "race": {
                        "type": "string",
                        "description": "Their race.",
                        "title": "Race"
                      },
                      "gender": {
                        "type": "string",
                        "description": "Their gender.",
                        "title": "Gender"
                      },
                      "birth": {
                        "type": "string",
                        "description": "Their birth year.",
                        "title": "Birth"
                      },
                      "spouse": {
                        "type": "string",
                        "description": "Their spouse.",
                        "title": "Spouse"
                      },
                      "death": {
                        "type": "string",
                        "description": "Their death year.",
                        "title": "Death"
                      },
                      "realm": {
                        "type": "string",
                        "description": "Their realm.",
                        "title": "Realm"
                      },
                      "hair": {
                        "type": "string",
                        "description": "Their hair color.",
                        "title": "Hair"
                      },
                      "name": {
                        "type": "string",
                        "description": "Their name.",
                        "title": "Name"
                      },
                      "wikiUrl": {
                        "type": "string",
                        "description": "Their wiki URL page.",
                        "title": "Wiki URL"
                      }
                    }
                  },
                  "title": "Docs"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The limit.",
                  "title": "Limit"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The offset.",
                  "title": "Offset"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The page.",
                  "title": "Page"
                },
                "pages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The pages.",
                  "title": "Pages"
                }
              }
            }
          }
        },
        "summary": "Get characters",
        "description": "List of characters including metadata like name, gender, realm, race and more.",
        "operationId": "CharacterList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The number offset.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sorting",
            "in": "query",
            "x-ms-summary": "Sorting",
            "description": "The sorting.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/character/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "docs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "height": {
                        "type": "string",
                        "description": "Their height.",
                        "title": "Height"
                      },
                      "race": {
                        "type": "string",
                        "description": "Their race.",
                        "title": "Race"
                      },
                      "gender": {
                        "type": "string",
                        "description": "Their gender.",
                        "title": "Gender"
                      },
                      "birth": {
                        "type": "string",
                        "description": "Their birth year.",
                        "title": "Birth"
                      },
                      "spouse": {
                        "type": "string",
                        "description": "Their spouse.",
                        "title": "Spouse"
                      },
                      "death": {
                        "type": "string",
                        "description": "Their death year.",
                        "title": "Death"
                      },
                      "realm": {
                        "type": "string",
                        "description": "Their realm.",
                        "title": "Realm"
                      },
                      "hair": {
                        "type": "string",
                        "description": "Their hair color.",
                        "title": "Hair"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "wikiUrl": {
                        "type": "string",
                        "description": "Their wiki URL page.",
                        "title": "Wiki URL"
                      }
                    }
                  },
                  "title": "Docs"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The limit.",
                  "title": "Limit"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The offset.",
                  "title": "Offset"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The page.",
                  "title": "Page"
                },
                "pages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The pages.",
                  "title": "Pages"
                }
              }
            }
          }
        },
        "summary": "Request a character",
        "description": "Request one specific character.",
        "operationId": "CharacterGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The number offset.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sorting",
            "in": "query",
            "x-ms-summary": "Sorting",
            "description": "The sorting.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/character/{id}/quote": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "docs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "dialog": {
                        "type": "string",
                        "description": "The dialog.",
                        "title": "Dialog"
                      },
                      "movie": {
                        "type": "string",
                        "description": "The movie.",
                        "title": "Movie"
                      },
                      "character": {
                        "type": "string",
                        "description": "The character.",
                        "title": "Character"
                      }
                    }
                  },
                  "title": "Docs"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The limit.",
                  "title": "Limit"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The offset.",
                  "title": "Offset"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The page.",
                  "title": "Page"
                },
                "pages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The pages.",
                  "title": "Pages"
                }
              }
            }
          }
        },
        "summary": "Request a character's quotes",
        "description": "Request all movie quotes of one specific character",
        "operationId": "CharacterGetQuote",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The number offset.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sorting",
            "in": "query",
            "x-ms-summary": "Sorting",
            "description": "The sorting.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/quote": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "docs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "dialog": {
                        "type": "string",
                        "description": "The dialog.",
                        "title": "Dialog"
                      },
                      "movie": {
                        "type": "string",
                        "description": "The movie.",
                        "title": "Movie"
                      },
                      "character": {
                        "type": "string",
                        "description": "The character.",
                        "title": "Character"
                      }
                    }
                  },
                  "title": "Docs"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The limit.",
                  "title": "Limit"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The offset.",
                  "title": "Offset"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The page.",
                  "title": "Page"
                },
                "pages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The pages.",
                  "title": "Pages"
                }
              }
            }
          }
        },
        "summary": "List quotes",
        "description": "List of all movie quotes.",
        "operationId": "QuoteList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The number offset.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sorting",
            "in": "query",
            "x-ms-summary": "Sorting",
            "description": "The sorting.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/quote/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "docs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "dialog": {
                        "type": "string",
                        "description": "The dialog.",
                        "title": "Dialog"
                      },
                      "movie": {
                        "type": "string",
                        "description": "The movie.",
                        "title": "Movie"
                      },
                      "character": {
                        "type": "string",
                        "description": "The character.",
                        "title": "Character"
                      }
                    }
                  },
                  "title": "Docs"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The limit.",
                  "title": "Limit"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The offset.",
                  "title": "Offset"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The page.",
                  "title": "Page"
                },
                "pages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The pages.",
                  "title": "Pages"
                }
              }
            }
          }
        },
        "summary": "Request a quote",
        "description": "Request one specific movie quote.",
        "operationId": "QuoteGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The number offset.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sorting",
            "in": "query",
            "x-ms-summary": "Sorting",
            "description": "The sorting.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/chapter": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "docs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "chapterName": {
                        "type": "string",
                        "description": "The chapter name.",
                        "title": "Chapter Name"
                      },
                      "book": {
                        "type": "string",
                        "description": "The book.",
                        "title": "Book"
                      }
                    }
                  },
                  "title": "Docs"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The limit.",
                  "title": "Limit"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The offset.",
                  "title": "Offset"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The page.",
                  "title": "Page"
                },
                "pages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The pages.",
                  "title": "Pages"
                }
              }
            }
          }
        },
        "summary": "List chapters",
        "description": "List of all book chapters",
        "operationId": "ChapterList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The number offset.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sorting",
            "in": "query",
            "x-ms-summary": "Sorting",
            "description": "The sorting.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/chapter/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "docs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "chapterName": {
                        "type": "string",
                        "description": "The chapter name.",
                        "title": "Chapter Name"
                      },
                      "book": {
                        "type": "string",
                        "description": ".",
                        "title": "Book"
                      }
                    }
                  },
                  "title": "Docs"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The limit.",
                  "title": "Limit"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The offset.",
                  "title": "Offset"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The page.",
                  "title": "Page"
                },
                "pages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The pages.",
                  "title": "Pages"
                }
              }
            }
          }
        },
        "summary": "Request a chapter",
        "description": "Request one specific book chapter.",
        "operationId": "ChapterGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The number offset.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sorting",
            "in": "query",
            "x-ms-summary": "Sorting",
            "description": "The sorting.",
            "required": false,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://the-one-api.dev/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://the-one-api.dev/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ]
}