{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "r/SpaceX",
    "description": "r/SpaceX is an open Source REST API for SpaceX launch, rocket, core, capsule, Starlink, launchpad, and landing pad data. r/SpaceX is not affiliated, associated, authorized, endorsed by, or in any way officially connected with Space Exploration Technologies Corp (SpaceX), or any of its subsidiaries or its affiliates. The names SpaceX as well as related names, marks, emblems and images are registered trademarks of their respective owners.",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.spacexdata.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v4/capsules": {
      "get": {
        "summary": "Get all capsules",
        "description": "Detailed info for all serialized Dragon capsules.",
        "operationId": "GetAllCapsules",
        "parameters": [],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "reuse_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The reuse count.",
                    "title": "Reuse Count"
                  },
                  "water_landings": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The number of water landings.",
                    "title": "Water Landings"
                  },
                  "land_landings": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The number of land landings.",
                    "title": "Land Landings"
                  },
                  "last_update": {
                    "type": "string",
                    "description": "When last updated.",
                    "title": "Last Update"
                  },
                  "launches": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The launch identifiers.",
                    "title": "Launches"
                  },
                  "serial": {
                    "type": "string",
                    "description": "The serial number.",
                    "title": "Serial"
                  },
                  "status": {
                    "type": "string",
                    "description": "The current status.",
                    "title": "Status"
                  },
                  "type": {
                    "type": "string",
                    "description": "The type.",
                    "title": "Type"
                  },
                  "id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/capsules/{capsuleID}": {
      "get": {
        "summary": "Get a capsule",
        "description": "Detailed info for a serialized Dragon capsule.",
        "operationId": "GetACapsule",
        "parameters": [
          {
            "name": "capsuleID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the capsule.",
            "x-ms-summary": "Capsule ID"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "reuse_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The reuse count.",
                  "title": "Reuse Count"
                },
                "water_landings": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of water landings.",
                  "title": "Water Landings"
                },
                "land_landings": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of land landings.",
                  "title": "Land Landings"
                },
                "last_update": {
                  "type": "string",
                  "description": "When last updated.",
                  "title": "Last Update"
                },
                "launches": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The launch identifiers.",
                  "title": "Launches"
                },
                "serial": {
                  "type": "string",
                  "description": "The serial number.",
                  "title": "Serial"
                },
                "status": {
                  "type": "string",
                  "description": "The current status.",
                  "title": "Status"
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                }
              }
            }
          }
        }
      }
    },
    "/v4/capsules/query": {
      "post": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "object",
                  "properties": {},
                  "description": "Accepts any valid MongoDB find() query.",
                  "title": "Query"
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "select": {
                      "type": "string",
                      "description": "Fields to return (by default returns all fields).",
                      "title": "Select"
                    },
                    "collation": {
                      "type": "object",
                      "properties": {},
                      "description": "Specify the collation",
                      "title": "collation"
                    },
                    "sort": {
                      "type": "string",
                      "description": "Sort order.",
                      "title": "Sort"
                    },
                    "populate": {
                      "type": "array",
                      "items": {},
                      "description": "Paths which should be populated with other documents.",
                      "title": "Populate"
                    },
                    "projection": {
                      "type": "string",
                      "description": "Get/set the query projection.",
                      "title": "Projection"
                    },
                    "lean": {
                      "type": "boolean",
                      "description": "Should return plain javascript objects instead of Mongoose documents.",
                      "title": "Lean"
                    },
                    "leanWithId": {
                      "type": "boolean",
                      "description": "If lean and leanWithId are true adds id field with string representation of _id to every document.",
                      "title": "Lean With Id"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Use offset or page to set skip position.",
                      "title": "Offset"
                    },
                    "page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The page number.",
                      "title": "Page"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The limit per page.",
                      "title": "Limit"
                    },
                    "customLabels": {
                      "type": "object",
                      "properties": {},
                      "description": "Developers can provide custom labels for manipulating the response data.",
                      "title": "Custom Labels"
                    },
                    "pagination": {
                      "type": "boolean",
                      "description": "If pagination is set to false it will return all docs without adding limit condition.",
                      "title": "Pagination"
                    },
                    "useEstimatedCount": {
                      "type": "boolean",
                      "description": "Enable estimatedDocumentCount for larger datasets. Does not count based on given query so the count will match entire collection size.",
                      "title": "Use Estimated Count"
                    },
                    "useCustomCountFn": {
                      "type": "boolean",
                      "description": "Enable custom function for count datasets.",
                      "title": "Use Custom Count Function"
                    },
                    "forceCountFn": {
                      "type": "boolean",
                      "description": "Set this to true if you need to support $geo queries.",
                      "title": "Force Count Function"
                    },
                    "allowDiskUse": {
                      "type": "boolean",
                      "description": "Set this to true which allows the MongoDB server to use more than 100 MB for query. This option can let you work around QueryExceededMemoryLimitNoDiskUseAllowed errors from the MongoDB server.",
                      "title": "Allow Disk Use"
                    },
                    "options": {
                      "type": "object",
                      "properties": {
                        "pref": {
                          "type": "string",
                          "description": "A of the listed preference options or aliases.",
                          "title": "Preference"
                        },
                        "tags": {
                          "type": "string",
                          "description": "Optional tags for this query (must be used with pref).",
                          "title": "Tags"
                        }
                      },
                      "description": "Determines the MongoDB nodes from which to read.",
                      "title": "Options"
                    }
                  },
                  "description": "Requested options",
                  "title": "Options"
                }
              }
            }
          }
        ],
        "summary": "Query capsules",
        "description": "Detailed info for queried serialized Dragon capsules.",
        "operationId": "QueryCapsules",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "docs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "reuse_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The reuse count.",
                        "title": "Reuse Count"
                      },
                      "water_landings": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of water landings.",
                        "title": "Water Landings"
                      },
                      "land_landings": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of land landings.",
                        "title": "Land Landings"
                      },
                      "last_update": {
                        "type": "string",
                        "description": "When last updated.",
                        "title": "Last Update"
                      },
                      "launches": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The launch identifiers.",
                        "title": "Launches"
                      },
                      "serial": {
                        "type": "string",
                        "description": "The serial number.",
                        "title": "Serial"
                      },
                      "status": {
                        "type": "string",
                        "description": "The current status.",
                        "title": "Status"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      }
                    }
                  },
                  "description": "The documentation.",
                  "title": "Docs"
                },
                "totalDocs": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number of documentations.",
                  "title": "Total Docs"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response offset.",
                  "title": "Offset"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response limit.",
                  "title": "Limit"
                },
                "totalPages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number of pages.",
                  "title": "Total Pages"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current page.",
                  "title": "Page"
                },
                "pagingCounter": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The paging counter.",
                  "title": "Paging Counter"
                },
                "hasPrevPage": {
                  "type": "boolean",
                  "description": "Whether has previous page.",
                  "title": "Has Previous Page"
                },
                "hasNextPage": {
                  "type": "boolean",
                  "description": "Whether has next page.",
                  "title": "Has Next Page"
                },
                "prevPage": {
                  "type": "string",
                  "description": "The previous page.",
                  "title": "Previous Page"
                },
                "nextPage": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The next page.",
                  "title": "Next Page"
                }
              }
            }
          }
        }
      }
    },
    "/v4/company": {
      "get": {
        "summary": "Get company info",
        "description": "Detailed info about SpaceX as a company.",
        "operationId": "GetCompanyInfo",
        "parameters": [],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "headquarters": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "description": "The street address.",
                      "title": "Address"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    }
                  },
                  "description": "The headquarter address.",
                  "title": "Headquarters"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "website": {
                      "type": "string",
                      "description": "The website address.",
                      "title": "Website"
                    },
                    "flickr": {
                      "type": "string",
                      "description": "The Flickr address.",
                      "title": "Flickr"
                    },
                    "twitter": {
                      "type": "string",
                      "description": "The Twitter address.",
                      "title": "Twitter"
                    },
                    "elon_twitter": {
                      "type": "string",
                      "description": "Elon Musk's Twitter address.",
                      "title": "Elon's Twitter"
                    }
                  },
                  "description": "Link addresses.",
                  "title": "Links"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "founder": {
                  "type": "string",
                  "description": "The founder.",
                  "title": "Founder"
                },
                "founded": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The year founded.",
                  "title": "Founded"
                },
                "employees": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of employees.",
                  "title": "Employees"
                },
                "vehicles": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of vehicles.",
                  "title": "Vehicles"
                },
                "launch_sites": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of launch sites.",
                  "title": "Launch Sites"
                },
                "test_sites": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of test sites.",
                  "title": "Test Sites"
                },
                "ceo": {
                  "type": "string",
                  "description": "The current CEO.",
                  "title": "CEO"
                },
                "cto": {
                  "type": "string",
                  "description": "The current CTO.",
                  "title": "CTO"
                },
                "coo": {
                  "type": "string",
                  "description": "The current COO.",
                  "title": "COO"
                },
                "cto_propulsion": {
                  "type": "string",
                  "description": "The CTO of Propulsion.",
                  "title": "CTO Propulsion"
                },
                "valuation": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current valuation.",
                  "title": "Valuation"
                },
                "summary": {
                  "type": "string",
                  "description": "The company summary.",
                  "title": "Summary"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                }
              }
            }
          }
        }
      }
    },
    "/v4/cores": {
      "get": {
        "summary": "Get all cores",
        "description": "Detailed info for all serialized first stage cores.",
        "operationId": "GetAllCores",
        "parameters": [],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "headquarters": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "description": "The street address.",
                      "title": "Address"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    }
                  },
                  "description": "The state.",
                  "title": "State"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "website": {
                      "type": "string",
                      "description": "The website address.",
                      "title": "Website"
                    },
                    "flickr": {
                      "type": "string",
                      "description": "The Flickr address.",
                      "title": "Flickr"
                    },
                    "twitter": {
                      "type": "string",
                      "description": "The Twitter address.",
                      "title": "Twitter"
                    },
                    "elon_twitter": {
                      "type": "string",
                      "description": "Elon Musk's Twitter address.",
                      "title": "Elon's Twitter"
                    }
                  },
                  "description": "Link addresses.",
                  "title": "Links"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "founder": {
                  "type": "string",
                  "description": "The founder.",
                  "title": "Founder"
                },
                "founded": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The year founded.",
                  "title": "Founded"
                },
                "employees": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of employees.",
                  "title": "Employees"
                },
                "vehicles": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of vehicles.",
                  "title": "Vehicles"
                },
                "launch_sites": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of launch sites.",
                  "title": "Launch Sites"
                },
                "test_sites": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of test sites.",
                  "title": "Test Sites"
                },
                "ceo": {
                  "type": "string",
                  "description": "The current CEO.",
                  "title": "CEO"
                },
                "cto": {
                  "type": "string",
                  "description": "The current CTO.",
                  "title": "CTO"
                },
                "coo": {
                  "type": "string",
                  "description": "The current COO.",
                  "title": "COO"
                },
                "cto_propulsion": {
                  "type": "string",
                  "description": "The CTO of Propulsion.",
                  "title": "CTO Propulsion"
                },
                "valuation": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current valuation.",
                  "title": "Valuation"
                },
                "summary": {
                  "type": "string",
                  "description": "The company summary.",
                  "title": "Summary"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                }
              }
            }
          }
        }
      }
    },
    "/v4/cores/{coreID}": {
      "get": {
        "summary": "Get a core",
        "description": "Detailed info for a serialized first stage core.",
        "operationId": "GetACore",
        "parameters": [
          {
            "name": "coreID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the core.",
            "x-ms-summary": "Core ID"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "block": {
                  "type": "string",
                  "description": "The block.",
                  "title": "Block"
                },
                "reuse_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The reuse count.",
                  "title": "Reuse Count"
                },
                "rtls_attempts": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of RTLS attempts.",
                  "title": "RTLS Attempts"
                },
                "rtls_landings": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of RTLS landings.",
                  "title": "RTLS Landings"
                },
                "asds_attempts": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of ASDS attempts.",
                  "title": "ASDS Attempts"
                },
                "asds_landings": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of ASDS landings.",
                  "title": "ASDS Landings"
                },
                "last_update": {
                  "type": "string",
                  "description": "When last updated.",
                  "title": "Last Update"
                },
                "launches": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The launch identifiers.",
                  "title": "Launches"
                },
                "serial": {
                  "type": "string",
                  "description": "The serial number.",
                  "title": "Serial"
                },
                "status": {
                  "type": "string",
                  "description": "The current status.",
                  "title": "Status"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                }
              }
            }
          }
        }
      }
    },
    "/v4/cores/query": {
      "post": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "object",
                  "properties": {},
                  "description": "Accepts any valid MongoDB find() query.",
                  "title": "Query"
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "select": {
                      "type": "string",
                      "description": "Fields to return (by default returns all fields).",
                      "title": "Select"
                    },
                    "collation": {
                      "type": "object",
                      "properties": {},
                      "description": "Specify the collation",
                      "title": "collation"
                    },
                    "sort": {
                      "type": "string",
                      "description": "Sort order.",
                      "title": "Sort"
                    },
                    "populate": {
                      "type": "array",
                      "items": {},
                      "description": "Paths which should be populated with other documents.",
                      "title": "Populate"
                    },
                    "projection": {
                      "type": "string",
                      "description": "Get/set the query projection.",
                      "title": "Projection"
                    },
                    "lean": {
                      "type": "boolean",
                      "description": "Should return plain javascript objects instead of Mongoose documents.",
                      "title": "Lean"
                    },
                    "leanWithId": {
                      "type": "boolean",
                      "description": "If lean and leanWithId are true adds id field with string representation of _id to every document.",
                      "title": "Lean With Id"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Use offset or page to set skip position.",
                      "title": "Offset"
                    },
                    "page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The page number.",
                      "title": "Page"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The limit per page.",
                      "title": "Limit"
                    },
                    "customLabels": {
                      "type": "object",
                      "properties": {},
                      "description": "Developers can provide custom labels for manipulating the response data.",
                      "title": "Custom Labels"
                    },
                    "pagination": {
                      "type": "boolean",
                      "description": "If pagination is set to false it will return all docs without adding limit condition.",
                      "title": "Pagination"
                    },
                    "useEstimatedCount": {
                      "type": "boolean",
                      "description": "Enable estimatedDocumentCount for larger datasets. Does not count based on given query so the count will match entire collection size.",
                      "title": "Use Estimated Count"
                    },
                    "useCustomCountFn": {
                      "type": "boolean",
                      "description": "Enable custom function for count datasets.",
                      "title": "Use Custom Count Function"
                    },
                    "forceCountFn": {
                      "type": "boolean",
                      "description": "Set this to true if you need to support $geo queries.",
                      "title": "Force Count Function"
                    },
                    "allowDiskUse": {
                      "type": "boolean",
                      "description": "Set this to true which allows the MongoDB server to use more than 100 MB for query. This option can let you work around QueryExceededMemoryLimitNoDiskUseAllowed errors from the MongoDB server.",
                      "title": "Allow Disk Use"
                    },
                    "options": {
                      "type": "object",
                      "properties": {
                        "pref": {
                          "type": "string",
                          "description": "A of the listed preference options or aliases.",
                          "title": "Preference"
                        },
                        "tags": {
                          "type": "string",
                          "description": "Optional tags for this query (must be used with pref).",
                          "title": "Tags"
                        }
                      },
                      "description": "Determines the MongoDB nodes from which to read.",
                      "title": "Options"
                    }
                  },
                  "description": "Requested options",
                  "title": "Options"
                }
              }
            }
          }
        ],
        "summary": "Query cores",
        "description": "Detailed info for queried serialized first stage cores.",
        "operationId": "QueryCores",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "docs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "block": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of blocks.",
                        "title": "Block"
                      },
                      "reuse_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The reuse count.",
                        "title": "Reuse Count"
                      },
                      "rtls_attempts": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of RTLS attempts.",
                        "title": "RTLS Attempts"
                      },
                      "rtls_landings": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of RTLS landings.",
                        "title": "RTLS Landings"
                      },
                      "asds_attempts": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of ASDS attempts.",
                        "title": "ASDS Attempts"
                      },
                      "asds_landings": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of ASDS landings.",
                        "title": "ASDS Landings"
                      },
                      "last_update": {
                        "type": "string",
                        "description": "When last updated.",
                        "title": "Last Update"
                      },
                      "launches": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The launch identifiers.",
                        "title": "Launches"
                      },
                      "serial": {
                        "type": "string",
                        "description": "The serial number.",
                        "title": "Serial"
                      },
                      "status": {
                        "type": "string",
                        "description": "The current status.",
                        "title": "Status"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      }
                    }
                  },
                  "description": "The documentation.",
                  "title": "Docs"
                },
                "totalDocs": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number of documentations.",
                  "title": "Total Docs"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response offset.",
                  "title": "Offset"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response limit.",
                  "title": "Limit"
                },
                "totalPages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number of pages.",
                  "title": "Total Pages"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current page.",
                  "title": "Page"
                },
                "pagingCounter": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The paging counter.",
                  "title": "Paging Counter"
                },
                "hasPrevPage": {
                  "type": "boolean",
                  "description": "Whether has previous page.",
                  "title": "Has Previous Page"
                },
                "hasNextPage": {
                  "type": "boolean",
                  "description": "Whether has next page.",
                  "title": "Has Next Page"
                },
                "prevPage": {
                  "type": "string",
                  "description": "The previous page.",
                  "title": "Previous Page"
                },
                "nextPage": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The next page.",
                  "title": "Next Page"
                }
              }
            }
          }
        }
      }
    },
    "/v4/crew": {
      "get": {
        "summary": "Get all crew members",
        "description": "Detailed info on all Dragon crew members.",
        "operationId": "GetAllCrew",
        "parameters": [],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "agency": {
                    "type": "string",
                    "description": "The space agency.",
                    "title": "Agency"
                  },
                  "image": {
                    "type": "string",
                    "description": "An image.",
                    "title": "Image"
                  },
                  "wikipedia": {
                    "type": "string",
                    "description": "The Wikipedia address.",
                    "title": "Wikipedia"
                  },
                  "launches": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The launch identifiers.",
                    "title": "Launches"
                  },
                  "status": {
                    "type": "string",
                    "description": "The current status.",
                    "title": "Status"
                  },
                  "id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/crew/{id}": {
      "get": {
        "summary": "Get a crew member",
        "description": "Detailed info on a Dragon crew member.",
        "operationId": "GetACrewMember",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the crew member.",
            "x-ms-summary": "Crew Member ID"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "agency": {
                  "type": "string",
                  "description": "The space agency.",
                  "title": "Agency"
                },
                "image": {
                  "type": "string",
                  "description": "Image.",
                  "title": "Image"
                },
                "wikipedia": {
                  "type": "string",
                  "description": "The Wikipedia address.",
                  "title": "Wikipedia"
                },
                "launches": {
                  "type": "array",
                  "items": {},
                  "description": "The launch identifiers.",
                  "title": "Launches"
                },
                "status": {
                  "type": "string",
                  "description": "The current status.",
                  "title": "Status"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                }
              }
            }
          }
        }
      }
    },
    "/v4/crew/query": {
      "post": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "object",
                  "properties": {},
                  "description": "Accepts any valid MongoDB find() query.",
                  "title": "Query"
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "select": {
                      "type": "string",
                      "description": "Fields to return (by default returns all fields).",
                      "title": "Select"
                    },
                    "collation": {
                      "type": "object",
                      "properties": {},
                      "description": "Specify the collation",
                      "title": "collation"
                    },
                    "sort": {
                      "type": "string",
                      "description": "Sort order.",
                      "title": "Sort"
                    },
                    "populate": {
                      "type": "array",
                      "items": {},
                      "description": "Paths which should be populated with other documents.",
                      "title": "Populate"
                    },
                    "projection": {
                      "type": "string",
                      "description": "Get/set the query projection.",
                      "title": "Projection"
                    },
                    "lean": {
                      "type": "boolean",
                      "description": "Should return plain javascript objects instead of Mongoose documents.",
                      "title": "Lean"
                    },
                    "leanWithId": {
                      "type": "boolean",
                      "description": "If lean and leanWithId are true adds id field with string representation of _id to every document.",
                      "title": "Lean With Id"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Use offset or page to set skip position.",
                      "title": "Offset"
                    },
                    "page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The page number.",
                      "title": "Page"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The limit per page.",
                      "title": "Limit"
                    },
                    "customLabels": {
                      "type": "object",
                      "properties": {},
                      "description": "Developers can provide custom labels for manipulating the response data.",
                      "title": "Custom Labels"
                    },
                    "pagination": {
                      "type": "boolean",
                      "description": "If pagination is set to false it will return all docs without adding limit condition.",
                      "title": "Pagination"
                    },
                    "useEstimatedCount": {
                      "type": "boolean",
                      "description": "Enable estimatedDocumentCount for larger datasets. Does not count based on given query so the count will match entire collection size.",
                      "title": "Use Estimated Count"
                    },
                    "useCustomCountFn": {
                      "type": "boolean",
                      "description": "Enable custom function for count datasets.",
                      "title": "Use Custom Count Function"
                    },
                    "forceCountFn": {
                      "type": "boolean",
                      "description": "Set this to true if you need to support $geo queries.",
                      "title": "Force Count Function"
                    },
                    "allowDiskUse": {
                      "type": "boolean",
                      "description": "Set this to true which allows the MongoDB server to use more than 100 MB for query. This option can let you work around QueryExceededMemoryLimitNoDiskUseAllowed errors from the MongoDB server.",
                      "title": "Allow Disk Use"
                    },
                    "options": {
                      "type": "object",
                      "properties": {
                        "pref": {
                          "type": "string",
                          "description": "A of the listed preference options or aliases.",
                          "title": "Preference"
                        },
                        "tags": {
                          "type": "string",
                          "description": "Optional tags for this query (must be used with pref).",
                          "title": "Tags"
                        }
                      },
                      "description": "Determines the MongoDB nodes from which to read.",
                      "title": "Options"
                    }
                  },
                  "description": "Requested options",
                  "title": "Options"
                }
              }
            }
          }
        ],
        "summary": "Query crew members",
        "description": "Detailed info on queried Dragon crew members.",
        "operationId": "QueryCrewMembers",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "docs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "agency": {
                        "type": "string",
                        "description": "The space agency.",
                        "title": "Agency"
                      },
                      "image": {
                        "type": "string",
                        "description": "An image.",
                        "title": "Image"
                      },
                      "wikipedia": {
                        "type": "string",
                        "description": "The Wikipedia link.",
                        "title": "Wikipedia"
                      },
                      "launches": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The launch identifiers.",
                        "title": "Launches"
                      },
                      "status": {
                        "type": "string",
                        "description": "The current status.",
                        "title": "Status"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      }
                    }
                  },
                  "description": "The documentation.",
                  "title": "Docs"
                },
                "totalDocs": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number of documentations.",
                  "title": "Total Docs"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response offset.",
                  "title": "Offset"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response limit.",
                  "title": "Limit"
                },
                "totalPages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number of pages.",
                  "title": "Total Pages"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current page.",
                  "title": "Page"
                },
                "pagingCounter": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The paging counter.",
                  "title": "Paging Counter"
                },
                "hasPrevPage": {
                  "type": "boolean",
                  "description": "Whether has previous page.",
                  "title": "Has Previous Page"
                },
                "hasNextPage": {
                  "type": "boolean",
                  "description": "Whether has next page.",
                  "title": "Has Next Page"
                },
                "prevPage": {
                  "type": "string",
                  "description": "The previous page.",
                  "title": "Previous Page"
                },
                "nextPage": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The next page.",
                  "title": "Next Page"
                }
              }
            }
          }
        }
      }
    },
    "/v4/dragons": {
      "get": {
        "summary": "Get all Dragons",
        "description": "Detailed info about all Dragon capsule versions.",
        "operationId": "GetAllDragons",
        "parameters": [],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "heat_shield": {
                    "type": "object",
                    "properties": {
                      "material": {
                        "type": "string",
                        "description": "The heat shield material.",
                        "title": "Heat Shield Material"
                      },
                      "size_meters": {
                        "type": "number",
                        "format": "float",
                        "description": "The heat shield size in meters.",
                        "title": "Heat Shield Size in Meters"
                      },
                      "temp_degrees": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The heat shield temperature rating in degrees.",
                        "title": "Heat Shield Temperature in Degrees"
                      },
                      "dev_partner": {
                        "type": "string",
                        "description": "The heat shield developing partner.",
                        "title": "Heat Shield Developing Partner"
                      }
                    },
                    "description": "The heat shield.",
                    "title": "Heat Shield"
                  },
                  "launch_payload_mass": {
                    "type": "object",
                    "properties": {
                      "kg": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The launch mass in kilograms.",
                        "title": "Launch Payload Kg"
                      },
                      "lb": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The launch mass in pounds",
                        "title": "Launch Payload Lb"
                      }
                    },
                    "description": "The launch payload mass.",
                    "title": "Launch Payload Mass"
                  },
                  "launch_payload_vol": {
                    "type": "object",
                    "properties": {
                      "cubic_meters": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The volume in cubic meters. ",
                        "title": "Launch Payload Cubic Meters"
                      },
                      "cubic_feet": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The volume in cubic feet.",
                        "title": "Launch Payload Cubic Feet"
                      }
                    },
                    "description": "The launch payload volume",
                    "title": "Launch Payload Volume"
                  },
                  "return_payload_mass": {
                    "type": "object",
                    "properties": {
                      "kg": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The mass in kilograms.",
                        "title": "Return Payload Kg"
                      },
                      "lb": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The mass in pounds",
                        "title": "Return Payload Lb"
                      }
                    },
                    "description": "return_payload_mass"
                  },
                  "return_payload_vol": {
                    "type": "object",
                    "properties": {
                      "cubic_meters": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The volume in cubic meters. ",
                        "title": "Return Payload Cubic Meters"
                      },
                      "cubic_feet": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The volume in cubic feet.",
                        "title": "Return Payload Cubic Feet"
                      }
                    },
                    "description": "The return payload volume.",
                    "title": "Return Payload Volume"
                  },
                  "pressurized_capsule": {
                    "type": "object",
                    "properties": {
                      "payload_volume": {
                        "type": "object",
                        "properties": {
                          "cubic_meters": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The pressurized capsule's volume in cubic meters.",
                            "title": "Pressurized Capsule Cubic Meters"
                          },
                          "cubic_feet": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The pressurized capsule's volume in cubic feet.",
                            "title": "Pressurized Capsule Cubic Feet"
                          }
                        },
                        "description": "The Pressurized Capsule's Volume.",
                        "title": "Pressurized Capsule Volume"
                      }
                    },
                    "description": "The Pressurized Capsule.",
                    "title": "Pressurized Capsule"
                  },
                  "trunk": {
                    "type": "object",
                    "properties": {
                      "trunk_volume": {
                        "type": "object",
                        "properties": {
                          "cubic_meters": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The trunk volume in cubic meters.",
                            "title": "Trunk Cubic Meters"
                          },
                          "cubic_feet": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The trunk volume in cubic feet.",
                            "title": "Trunk Cubic Feet"
                          }
                        },
                        "description": "The trunk volume.",
                        "title": "Trunk Volume"
                      },
                      "cargo": {
                        "type": "object",
                        "properties": {
                          "solar_array": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of solar arrays in cargo.",
                            "title": "solar_array"
                          },
                          "unpressurized_cargo": {
                            "type": "boolean",
                            "description": "Whether the cargo is unpressurized.",
                            "title": "Unpressurized Cargo"
                          }
                        },
                        "description": "The cargo.",
                        "title": "Cargo"
                      }
                    },
                    "description": "The trunk.",
                    "title": "Trunk"
                  },
                  "height_w_trunk": {
                    "type": "object",
                    "properties": {
                      "meters": {
                        "type": "number",
                        "format": "float",
                        "description": "The height with trunk in meters.",
                        "title": "Meters"
                      },
                      "feet": {
                        "type": "number",
                        "format": "float",
                        "description": "The height with trunk in feet.",
                        "title": "Feet"
                      }
                    },
                    "description": "The height with trunk.",
                    "title": "Height with Trunk"
                  },
                  "diameter": {
                    "type": "object",
                    "properties": {
                      "meters": {
                        "type": "number",
                        "format": "float",
                        "description": "The diameter in meters.",
                        "title": "Diameter Meters"
                      },
                      "feet": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The diameter in feet.",
                        "title": "Diameter Feet"
                      }
                    },
                    "description": "The diameter.",
                    "title": "Diameter"
                  },
                  "first_flight": {
                    "type": "string",
                    "description": "The first flight.",
                    "title": "First Flight"
                  },
                  "flickr_images": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The Flickr image links.",
                    "title": "Flickr Images"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "type": {
                    "type": "string",
                    "description": "The type.",
                    "title": "Type"
                  },
                  "active": {
                    "type": "boolean",
                    "description": "Whether active.",
                    "title": "Active"
                  },
                  "crew_capacity": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The crew capacity.",
                    "title": "Crew Capacity"
                  },
                  "sidewall_angle_deg": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The sidewall angle in degrees.",
                    "title": "Sidewall Angle Degrees"
                  },
                  "orbit_duration_yr": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The orbit duration in years.",
                    "title": "Orbit Duration Years"
                  },
                  "dry_mass_kg": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The dry mass in kilograms.",
                    "title": "Dry Mass Kilograms"
                  },
                  "dry_mass_lb": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The dry mass in kilograms.",
                    "title": "Dry Mass Pounds"
                  },
                  "thrusters": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "The thruster type.",
                          "title": "Thruster Type"
                        },
                        "amount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The thruster amount.",
                          "title": "Thruster Amount"
                        },
                        "pods": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of thruster pods.",
                          "title": "Thruster Pods"
                        },
                        "fuel_1": {
                          "type": "string",
                          "description": "The thruster fuel 1 type.",
                          "title": "Thruster Fuel 1"
                        },
                        "fuel_2": {
                          "type": "string",
                          "description": "The thruster fuel 2 type",
                          "title": "Thruster Fuel 2"
                        },
                        "isp": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The specific impulse.",
                          "title": "Isp"
                        },
                        "thrust": {
                          "type": "object",
                          "properties": {
                            "kN": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The thrust in newtons.",
                              "title": "Thrust kN"
                            },
                            "lbf": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The thrust in total impulse.",
                              "title": "Thrust lbf"
                            }
                          },
                          "description": "The thrust.",
                          "title": "Thrust"
                        }
                      }
                    },
                    "description": "The thrusters.",
                    "title": "Thrusters"
                  },
                  "wikipedia": {
                    "type": "string",
                    "description": "The Wikipedia address.",
                    "title": "Wikipedia"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description.",
                    "title": "Description"
                  },
                  "id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/dragons/{id}": {
      "get": {
        "summary": "Get a Dragon",
        "description": "Detailed info about a Dragon capsule version.",
        "operationId": "GetADragon",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the Dragon.",
            "x-ms-summary": "Dragon ID"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "heat_shield": {
                  "type": "object",
                  "properties": {
                    "material": {
                      "type": "string",
                      "description": "The heat shield material",
                      "title": "Heat Shield Material"
                    },
                    "size_meters": {
                      "type": "number",
                      "format": "float",
                      "description": "The heat shield size in meters.",
                      "title": "Heat Shield Size Meters"
                    },
                    "temp_degrees": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The heat shield maximum temperature in degrees.",
                      "title": "temp_degrees"
                    },
                    "dev_partner": {
                      "type": "string",
                      "description": "The heat shield developing partner.",
                      "title": "Heat Shield Dev Partner"
                    }
                  },
                  "description": "The heat shield.",
                  "title": "Heat Shield"
                },
                "launch_payload_mass": {
                  "type": "object",
                  "properties": {
                    "kg": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The launch payload mass in kilograms.",
                      "title": "Launch Payload Kg"
                    },
                    "lb": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The mass in pounds.",
                      "title": "Launch Payload Lb"
                    }
                  },
                  "description": "The launch payload mass.",
                  "title": "Launch Payload Mass"
                },
                "launch_payload_vol": {
                  "type": "object",
                  "properties": {
                    "cubic_meters": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The launch payload volume in cubic meters.",
                      "title": "Launch Payload Cubic Meters"
                    },
                    "cubic_feet": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The launch payload volume in cubic feet.",
                      "title": "Launch Payload Cubic Feet"
                    }
                  },
                  "description": "The launch payload volume",
                  "title": "Launch Payload Volume"
                },
                "return_payload_mass": {
                  "type": "object",
                  "properties": {
                    "kg": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The return payload mass in kilograms.",
                      "title": "Return Payload Kg"
                    },
                    "lb": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The return payload mass in pounds.",
                      "title": "Return Payload Lb"
                    }
                  },
                  "description": "The return payload mass.",
                  "title": "Return Payload Mass"
                },
                "return_payload_vol": {
                  "type": "object",
                  "properties": {
                    "cubic_meters": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The return payload volume in cubic meters.",
                      "title": "Return Payload Cubic Meters"
                    },
                    "cubic_feet": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The return payload volume in cubic feet.",
                      "title": "Return Payload Cubic Feet"
                    }
                  },
                  "description": "The return payload volume.",
                  "title": "Return Payload Volume"
                },
                "pressurized_capsule": {
                  "type": "object",
                  "properties": {
                    "payload_volume": {
                      "type": "object",
                      "properties": {
                        "cubic_meters": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The pressurized capsule volume in cubic meters.",
                          "title": "Pressurized Capsule Cubic Meters"
                        },
                        "cubic_feet": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The pressurized capsulevolume in cubic feet.",
                          "title": "Pressurized Cubic Feet"
                        }
                      },
                      "description": "The payload volume.",
                      "title": "Payload Volume"
                    }
                  },
                  "description": "The pressurized capsule.",
                  "title": "Pressurized Capsule"
                },
                "trunk": {
                  "type": "object",
                  "properties": {
                    "trunk_volume": {
                      "type": "object",
                      "properties": {
                        "cubic_meters": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The trunk volume in cubic meters.",
                          "title": "Trunk Cubic Meters"
                        },
                        "cubic_feet": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The trunk volume in cubic feet.",
                          "title": "Trunk Cubic Feet"
                        }
                      },
                      "description": "The trunk volume.",
                      "title": "Trunk Volume"
                    },
                    "cargo": {
                      "type": "object",
                      "properties": {
                        "solar_array": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The solar array in cargo.",
                          "title": "solar_array"
                        },
                        "unpressurized_cargo": {
                          "type": "boolean",
                          "description": "The unpressurized cargo.",
                          "title": "unpressurized_cargo"
                        }
                      },
                      "description": "The cargo.",
                      "title": "Cargo"
                    }
                  },
                  "description": "The trunk.",
                  "title": "Trunk"
                },
                "height_w_trunk": {
                  "type": "object",
                  "properties": {
                    "meters": {
                      "type": "number",
                      "format": "float",
                      "description": "The height with trunk in meters",
                      "title": "Meters"
                    },
                    "feet": {
                      "type": "number",
                      "format": "float",
                      "description": "The height with trunk in feet.",
                      "title": "Feet"
                    }
                  },
                  "description": "The height with trunk.",
                  "title": "Height with Trunk"
                },
                "diameter": {
                  "type": "object",
                  "properties": {
                    "meters": {
                      "type": "number",
                      "format": "float",
                      "description": "The diameter in meters",
                      "title": "Meters"
                    },
                    "feet": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The diaameter in feet.",
                      "title": "Feet"
                    }
                  },
                  "description": "The diameter.",
                  "title": "Diameter"
                },
                "first_flight": {
                  "type": "string",
                  "description": "The first flight.",
                  "title": "First Flight"
                },
                "flickr_images": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Flickr image links.",
                  "title": "Flickr Images"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                },
                "active": {
                  "type": "boolean",
                  "description": "Whether active.",
                  "title": "Active"
                },
                "crew_capacity": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The crew capacity.",
                  "title": "Crew Capacity"
                },
                "sidewall_angle_deg": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The sidewall angle in degrees.",
                  "title": "Sidewall Angle Degrees"
                },
                "orbit_duration_yr": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The orbit duration in years.",
                  "title": "Orbit Duration Years"
                },
                "dry_mass_kg": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The dry mass in kilograms.",
                  "title": "Dry Mass Kg"
                },
                "dry_mass_lb": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The dry mass in pounds.",
                  "title": "Dry Mass Lb"
                },
                "thrusters": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The thruster type.",
                        "title": "Thruster Type"
                      },
                      "amount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The thruster amount.",
                        "title": "Thruster Amount"
                      },
                      "pods": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of thruster pods.",
                        "title": "Thruster Pods"
                      },
                      "fuel_1": {
                        "type": "string",
                        "description": "The thruster fuel 1 type.",
                        "title": "Thruster Fuel 1"
                      },
                      "fuel_2": {
                        "type": "string",
                        "description": "The thruster fuel 2 type.",
                        "title": "Thruster Fuel 2"
                      },
                      "isp": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The specific impulse.",
                        "title": "Isp"
                      },
                      "thrust": {
                        "type": "object",
                        "properties": {
                          "kN": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The thrust in kilogram newtons.",
                            "title": "Thurst kN"
                          },
                          "lbf": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The thrust in pounds of force.",
                            "title": "Thurst Lbf"
                          }
                        },
                        "description": "The thrust.",
                        "title": "Thrust"
                      }
                    }
                  },
                  "description": "The thrusters.",
                  "title": "Thrusters"
                },
                "wikipedia": {
                  "type": "string",
                  "description": "The Wikipedia address.",
                  "title": "Wikipedia"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                }
              }
            }
          }
        }
      }
    },
    "/v4/dragons/query": {
      "post": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "object",
                  "properties": {},
                  "description": "Accepts any valid MongoDB find() query.",
                  "title": "Query"
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "select": {
                      "type": "string",
                      "description": "Fields to return (by default returns all fields).",
                      "title": "Select"
                    },
                    "collation": {
                      "type": "object",
                      "properties": {},
                      "description": "Specify the collation",
                      "title": "collation"
                    },
                    "sort": {
                      "type": "string",
                      "description": "Sort order.",
                      "title": "Sort"
                    },
                    "populate": {
                      "type": "array",
                      "items": {},
                      "description": "Paths which should be populated with other documents.",
                      "title": "Populate"
                    },
                    "projection": {
                      "type": "string",
                      "description": "Get/set the query projection.",
                      "title": "Projection"
                    },
                    "lean": {
                      "type": "boolean",
                      "description": "Should return plain javascript objects instead of Mongoose documents.",
                      "title": "Lean"
                    },
                    "leanWithId": {
                      "type": "boolean",
                      "description": "If lean and leanWithId are true adds id field with string representation of _id to every document.",
                      "title": "Lean With Id"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Use offset or page to set skip position.",
                      "title": "Offset"
                    },
                    "page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The page number.",
                      "title": "Page"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The limit per page.",
                      "title": "Limit"
                    },
                    "customLabels": {
                      "type": "object",
                      "properties": {},
                      "description": "Developers can provide custom labels for manipulating the response data.",
                      "title": "Custom Labels"
                    },
                    "pagination": {
                      "type": "boolean",
                      "description": "If pagination is set to false it will return all docs without adding limit condition.",
                      "title": "Pagination"
                    },
                    "useEstimatedCount": {
                      "type": "boolean",
                      "description": "Enable estimatedDocumentCount for larger datasets. Does not count based on given query so the count will match entire collection size.",
                      "title": "Use Estimated Count"
                    },
                    "useCustomCountFn": {
                      "type": "boolean",
                      "description": "Enable custom function for count datasets.",
                      "title": "Use Custom Count Function"
                    },
                    "forceCountFn": {
                      "type": "boolean",
                      "description": "Set this to true if you need to support $geo queries.",
                      "title": "Force Count Function"
                    },
                    "allowDiskUse": {
                      "type": "boolean",
                      "description": "Set this to true which allows the MongoDB server to use more than 100 MB for query. This option can let you work around QueryExceededMemoryLimitNoDiskUseAllowed errors from the MongoDB server.",
                      "title": "Allow Disk Use"
                    },
                    "options": {
                      "type": "object",
                      "properties": {
                        "pref": {
                          "type": "string",
                          "description": "A of the listed preference options or aliases.",
                          "title": "Preference"
                        },
                        "tags": {
                          "type": "string",
                          "description": "Optional tags for this query (must be used with pref).",
                          "title": "Tags"
                        }
                      },
                      "description": "Determines the MongoDB nodes from which to read.",
                      "title": "Options"
                    }
                  },
                  "description": "Requested options",
                  "title": "Options"
                }
              }
            }
          }
        ],
        "summary": "Query Dragons",
        "description": "Detailed info about queried Dragon capsule versions.",
        "operationId": "QueryDragons",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "docs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "heat_shield": {
                        "type": "object",
                        "properties": {
                          "material": {
                            "type": "string",
                            "description": "The heat shield material type.",
                            "title": "Heat Shield Material"
                          },
                          "size_meters": {
                            "type": "number",
                            "format": "float",
                            "description": "The heat shield size in meters.",
                            "title": "Heat Shield Size Meters"
                          },
                          "temp_degrees": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The heat shield maximum temperature in degrees.",
                            "title": "Heat Sheild Temp Degrees"
                          },
                          "dev_partner": {
                            "type": "string",
                            "description": "The heat shield developing partner.",
                            "title": "Heat Shield Dev Partner"
                          }
                        },
                        "description": "The heat shield.",
                        "title": "Heat Shield"
                      },
                      "launch_payload_mass": {
                        "type": "object",
                        "properties": {
                          "kg": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The launch payload mass in kilograms.",
                            "title": "Launch Payload Mass Kg"
                          },
                          "lb": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The launch payload mass in pounds.",
                            "title": "Launch Payload Mass Lb"
                          }
                        },
                        "description": "The launch payload mass.",
                        "title": "Launch Payload Mass"
                      },
                      "launch_payload_vol": {
                        "type": "object",
                        "properties": {
                          "cubic_meters": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The launch payload volume in cubic meters.",
                            "title": "Launch Payload Cubic Meters"
                          },
                          "cubic_feet": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The  launch payload volume in cubic feet.",
                            "title": "Launch Payload Cubic Feet"
                          }
                        },
                        "description": "The launch payload.",
                        "title": "Launch Payload Volume"
                      },
                      "return_payload_mass": {
                        "type": "object",
                        "properties": {
                          "kg": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The return payload mass in kilograms.",
                            "title": "Return Payload Mass Kg"
                          },
                          "lb": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The return payload mass in pounds.",
                            "title": "Return Payload Mass Lb"
                          }
                        },
                        "description": "The return payload mass.",
                        "title": "Return Payload Mass"
                      },
                      "return_payload_vol": {
                        "type": "object",
                        "properties": {
                          "cubic_meters": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The return payload volume in cubic meters.",
                            "title": "Return Payload Cubic Meters"
                          },
                          "cubic_feet": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The return payload volume in cubic feet.",
                            "title": "Return Payload Cubic Feet"
                          }
                        },
                        "description": "The return payload volume.",
                        "title": "Return Payload Volume"
                      },
                      "pressurized_capsule": {
                        "type": "object",
                        "properties": {
                          "payload_volume": {
                            "type": "object",
                            "properties": {
                              "cubic_meters": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The pressurized capsule volume in cubic meter.",
                                "title": "Pressurized Capsule Cubic Meters"
                              },
                              "cubic_feet": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The pressurized capsule volume in cubic feet.",
                                "title": "Pressurized Capsule Cubic Feet"
                              }
                            },
                            "description": "The pressurized capsule payload volume.",
                            "title": "Pressurized Capsule Payload Volume"
                          }
                        },
                        "description": "The pressurized capsule.",
                        "title": "Pressurized Capsule"
                      },
                      "trunk": {
                        "type": "object",
[...]
