{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "r/SpaceX",
    "description": "r/SpaceX is an open Source REST API for SpaceX launch, rocket, core, capsule, Starlink, launchpad, and landing pad data. r/SpaceX is not affiliated, associated, authorized, endorsed by, or in any way officially connected with Space Exploration Technologies Corp (SpaceX), or any of its subsidiaries or its affiliates. The names SpaceX as well as related names, marks, emblems and images are registered trademarks of their respective owners.",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.spacexdata.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v4/capsules": {
      "get": {
        "summary": "Get all capsules",
        "description": "Detailed info for all serialized Dragon capsules.",
        "operationId": "GetAllCapsules",
        "parameters": [],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "reuse_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "reuse_count"
                  },
                  "water_landings": {
                    "type": "integer",
                    "format": "int32",
                    "description": "water_landings"
                  },
                  "land_landings": {
                    "type": "integer",
                    "format": "int32",
                    "description": "land_landings"
                  },
                  "last_update": {
                    "type": "string",
                    "description": "last_update"
                  },
                  "launches": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "launches"
                  },
                  "serial": {
                    "type": "string",
                    "description": "serial"
                  },
                  "status": {
                    "type": "string",
                    "description": "status"
                  },
                  "type": {
                    "type": "string",
                    "description": "type"
                  },
                  "id": {
                    "type": "string",
                    "description": "id"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/capsules/{capsuleID}": {
      "get": {
        "summary": "Get a capsule",
        "description": "Detailed info for a serialized Dragon capsule.",
        "operationId": "GetACapsule",
        "parameters": [
          {
            "name": "capsuleID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the capsule.",
            "x-ms-summary": "Capsule ID"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "reuse_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "reuse_count"
                },
                "water_landings": {
                  "type": "integer",
                  "format": "int32",
                  "description": "water_landings"
                },
                "land_landings": {
                  "type": "integer",
                  "format": "int32",
                  "description": "land_landings"
                },
                "last_update": {
                  "type": "string",
                  "description": "last_update"
                },
                "launches": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "launches"
                },
                "serial": {
                  "type": "string",
                  "description": "serial"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                }
              }
            }
          }
        }
      }
    },
    "/v4/capsules/query": {
      "post": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "object",
                  "properties": {},
                  "description": "Accepts any valid MongoDB find() query.",
                  "title": "Query"
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "select": {
                      "type": "string",
                      "description": "Fields to return (by default returns all fields).",
                      "title": "Select"
                    },
                    "collation": {
                      "type": "object",
                      "properties": {},
                      "description": "Specify the collation",
                      "title": "collation"
                    },
                    "sort": {
                      "type": "string",
                      "description": "Sort order.",
                      "title": "Sort"
                    },
                    "populate": {
                      "type": "array",
                      "items": {},
                      "description": "Paths which should be populated with other documents.",
                      "title": "Populate"
                    },
                    "projection": {
                      "type": "string",
                      "description": "Get/set the query projection.",
                      "title": "Projection"
                    },
                    "lean": {
                      "type": "boolean",
                      "description": "Should return plain javascript objects instead of Mongoose documents.",
                      "title": "Lean"
                    },
                    "leanWithId": {
                      "type": "boolean",
                      "description": "If lean and leanWithId are true adds id field with string representation of _id to every document.",
                      "title": "Lean With Id"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Use offset or page to set skip position.",
                      "title": "Offset"
                    },
                    "page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The page number.",
                      "title": "Page"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The limit per page.",
                      "title": "Limit"
                    },
                    "customLabels": {
                      "type": "object",
                      "properties": {},
                      "description": "Developers can provide custom labels for manipulating the response data.",
                      "title": "Custom Labels"
                    },
                    "pagination": {
                      "type": "boolean",
                      "description": "If pagination is set to false it will return all docs without adding limit condition.",
                      "title": "Pagination"
                    },
                    "useEstimatedCount": {
                      "type": "boolean",
                      "description": "Enable estimatedDocumentCount for larger datasets. Does not count based on given query so the count will match entire collection size.",
                      "title": "Use Estimated Count"
                    },
                    "useCustomCountFn": {
                      "type": "boolean",
                      "description": "Enable custom function for count datasets.",
                      "title": "Use Custom Count Function"
                    },
                    "forceCountFn": {
                      "type": "boolean",
                      "description": "Set this to true if you need to support $geo queries.",
                      "title": "Force Count Function"
                    },
                    "allowDiskUse": {
                      "type": "boolean",
                      "description": "Set this to true which allows the MongoDB server to use more than 100 MB for query. This option can let you work around QueryExceededMemoryLimitNoDiskUseAllowed errors from the MongoDB server.",
                      "title": "Allow Disk Use"
                    },
                    "options": {
                      "type": "object",
                      "properties": {
                        "pref": {
                          "type": "string",
                          "description": "A of the listed preference options or aliases.",
                          "title": "Preference"
                        },
                        "tags": {
                          "type": "string",
                          "description": "Optional tags for this query (must be used with pref).",
                          "title": "Tags"
                        }
                      },
                      "description": "Determines the MongoDB nodes from which to read."
                    }
                  },
                  "description": "options"
                }
              }
            }
          }
        ],
        "summary": "Query capsules",
        "description": "Detailed info for queried serialized Dragon capsules.",
        "operationId": "QueryCapsules",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "docs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "reuse_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "reuse_count"
                      },
                      "water_landings": {
                        "type": "integer",
                        "format": "int32",
                        "description": "water_landings"
                      },
                      "land_landings": {
                        "type": "integer",
                        "format": "int32",
                        "description": "land_landings"
                      },
                      "last_update": {
                        "type": "string",
                        "description": "last_update"
                      },
                      "launches": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "launches"
                      },
                      "serial": {
                        "type": "string",
                        "description": "serial"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      }
                    }
                  },
                  "description": "docs"
                },
                "totalDocs": {
                  "type": "integer",
                  "format": "int32",
                  "description": "totalDocs"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "offset"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "limit"
                },
                "totalPages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "totalPages"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "page"
                },
                "pagingCounter": {
                  "type": "integer",
                  "format": "int32",
                  "description": "pagingCounter"
                },
                "hasPrevPage": {
                  "type": "boolean",
                  "description": "hasPrevPage"
                },
                "hasNextPage": {
                  "type": "boolean",
                  "description": "hasNextPage"
                },
                "prevPage": {
                  "type": "string",
                  "description": "prevPage"
                },
                "nextPage": {
                  "type": "integer",
                  "format": "int32",
                  "description": "nextPage"
                }
              }
            }
          }
        }
      }
    },
    "/v4/company": {
      "get": {
        "summary": "Get company info",
        "description": "Detailed info about SpaceX as a company.",
        "operationId": "GetCompanyInfo",
        "parameters": [],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "headquarters": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "description": "address"
                    },
                    "city": {
                      "type": "string",
                      "description": "city"
                    },
                    "state": {
                      "type": "string",
                      "description": "state"
                    }
                  },
                  "description": "headquarters"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "website": {
                      "type": "string",
                      "description": "website"
                    },
                    "flickr": {
                      "type": "string",
                      "description": "flickr"
                    },
                    "twitter": {
                      "type": "string",
                      "description": "twitter"
                    },
                    "elon_twitter": {
                      "type": "string",
                      "description": "elon_twitter"
                    }
                  },
                  "description": "links"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "founder": {
                  "type": "string",
                  "description": "founder"
                },
                "founded": {
                  "type": "integer",
                  "format": "int32",
                  "description": "founded"
                },
                "employees": {
                  "type": "integer",
                  "format": "int32",
                  "description": "employees"
                },
                "vehicles": {
                  "type": "integer",
                  "format": "int32",
                  "description": "vehicles"
                },
                "launch_sites": {
                  "type": "integer",
                  "format": "int32",
                  "description": "launch_sites"
                },
                "test_sites": {
                  "type": "integer",
                  "format": "int32",
                  "description": "test_sites"
                },
                "ceo": {
                  "type": "string",
                  "description": "ceo"
                },
                "cto": {
                  "type": "string",
                  "description": "cto"
                },
                "coo": {
                  "type": "string",
                  "description": "coo"
                },
                "cto_propulsion": {
                  "type": "string",
                  "description": "cto_propulsion"
                },
                "valuation": {
                  "type": "integer",
                  "format": "int32",
                  "description": "valuation"
                },
                "summary": {
                  "type": "string",
                  "description": "summary"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                }
              }
            }
          }
        }
      }
    },
    "/v4/cores": {
      "get": {
        "summary": "Get all cores",
        "description": "Detailed info for all serialized first stage cores.",
        "operationId": "GetAllCores",
        "parameters": [],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "headquarters": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "description": "address"
                    },
                    "city": {
                      "type": "string",
                      "description": "city"
                    },
                    "state": {
                      "type": "string",
                      "description": "state"
                    }
                  },
                  "description": "headquarters"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "website": {
                      "type": "string",
                      "description": "website"
                    },
                    "flickr": {
                      "type": "string",
                      "description": "flickr"
                    },
                    "twitter": {
                      "type": "string",
                      "description": "twitter"
                    },
                    "elon_twitter": {
                      "type": "string",
                      "description": "elon_twitter"
                    }
                  },
                  "description": "links"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "founder": {
                  "type": "string",
                  "description": "founder"
                },
                "founded": {
                  "type": "integer",
                  "format": "int32",
                  "description": "founded"
                },
                "employees": {
                  "type": "integer",
                  "format": "int32",
                  "description": "employees"
                },
                "vehicles": {
                  "type": "integer",
                  "format": "int32",
                  "description": "vehicles"
                },
                "launch_sites": {
                  "type": "integer",
                  "format": "int32",
                  "description": "launch_sites"
                },
                "test_sites": {
                  "type": "integer",
                  "format": "int32",
                  "description": "test_sites"
                },
                "ceo": {
                  "type": "string",
                  "description": "ceo"
                },
                "cto": {
                  "type": "string",
                  "description": "cto"
                },
                "coo": {
                  "type": "string",
                  "description": "coo"
                },
                "cto_propulsion": {
                  "type": "string",
                  "description": "cto_propulsion"
                },
                "valuation": {
                  "type": "integer",
                  "format": "int32",
                  "description": "valuation"
                },
                "summary": {
                  "type": "string",
                  "description": "summary"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                }
              }
            }
          }
        }
      }
    },
    "/v4/cores/{coreID}": {
      "get": {
        "summary": "Get a core",
        "description": "Detailed info for a serialized first stage core.",
        "operationId": "GetACore",
        "parameters": [
          {
            "name": "coreID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the core.",
            "x-ms-summary": "Core ID"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "block": {
                  "type": "string",
                  "description": "block"
                },
                "reuse_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "reuse_count"
                },
                "rtls_attempts": {
                  "type": "integer",
                  "format": "int32",
                  "description": "rtls_attempts"
                },
                "rtls_landings": {
                  "type": "integer",
                  "format": "int32",
                  "description": "rtls_landings"
                },
                "asds_attempts": {
                  "type": "integer",
                  "format": "int32",
                  "description": "asds_attempts"
                },
                "asds_landings": {
                  "type": "integer",
                  "format": "int32",
                  "description": "asds_landings"
                },
                "last_update": {
                  "type": "string",
                  "description": "last_update"
                },
                "launches": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "launches"
                },
                "serial": {
                  "type": "string",
                  "description": "serial"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                }
              }
            }
          }
        }
      }
    },
    "/v4/cores/query": {
      "post": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "object",
                  "properties": {},
                  "description": "Accepts any valid MongoDB find() query.",
                  "title": "Query"
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "select": {
                      "type": "string",
                      "description": "Fields to return (by default returns all fields).",
                      "title": "Select"
                    },
                    "collation": {
                      "type": "object",
                      "properties": {},
                      "description": "Specify the collation",
                      "title": "collation"
                    },
                    "sort": {
                      "type": "string",
                      "description": "Sort order.",
                      "title": "Sort"
                    },
                    "populate": {
                      "type": "array",
                      "items": {},
                      "description": "Paths which should be populated with other documents.",
                      "title": "Populate"
                    },
                    "projection": {
                      "type": "string",
                      "description": "Get/set the query projection.",
                      "title": "Projection"
                    },
                    "lean": {
                      "type": "boolean",
                      "description": "Should return plain javascript objects instead of Mongoose documents.",
                      "title": "Lean"
                    },
                    "leanWithId": {
                      "type": "boolean",
                      "description": "If lean and leanWithId are true adds id field with string representation of _id to every document.",
                      "title": "Lean With Id"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Use offset or page to set skip position.",
                      "title": "Offset"
                    },
                    "page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The page number.",
                      "title": "Page"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The limit per page.",
                      "title": "Limit"
                    },
                    "customLabels": {
                      "type": "object",
                      "properties": {},
                      "description": "Developers can provide custom labels for manipulating the response data.",
                      "title": "Custom Labels"
                    },
                    "pagination": {
                      "type": "boolean",
                      "description": "If pagination is set to false it will return all docs without adding limit condition.",
                      "title": "Pagination"
                    },
                    "useEstimatedCount": {
                      "type": "boolean",
                      "description": "Enable estimatedDocumentCount for larger datasets. Does not count based on given query so the count will match entire collection size.",
                      "title": "Use Estimated Count"
                    },
                    "useCustomCountFn": {
                      "type": "boolean",
                      "description": "Enable custom function for count datasets.",
                      "title": "Use Custom Count Function"
                    },
                    "forceCountFn": {
                      "type": "boolean",
                      "description": "Set this to true if you need to support $geo queries.",
                      "title": "Force Count Function"
                    },
                    "allowDiskUse": {
                      "type": "boolean",
                      "description": "Set this to true which allows the MongoDB server to use more than 100 MB for query. This option can let you work around QueryExceededMemoryLimitNoDiskUseAllowed errors from the MongoDB server.",
                      "title": "Allow Disk Use"
                    },
                    "options": {
                      "type": "object",
                      "properties": {
                        "pref": {
                          "type": "string",
                          "description": "A of the listed preference options or aliases.",
                          "title": "Preference"
                        },
                        "tags": {
                          "type": "string",
                          "description": "Optional tags for this query (must be used with pref).",
                          "title": "Tags"
                        }
                      },
                      "description": "Determines the MongoDB nodes from which to read."
                    }
                  },
                  "description": "options"
                }
              }
            }
          }
        ],
        "summary": "Query cores",
        "description": "Detailed info for queried serialized first stage cores.",
        "operationId": "QueryCores",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "docs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "block": {
                        "type": "integer",
                        "format": "int32",
                        "description": "block"
                      },
                      "reuse_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "reuse_count"
                      },
                      "rtls_attempts": {
                        "type": "integer",
                        "format": "int32",
                        "description": "rtls_attempts"
                      },
                      "rtls_landings": {
                        "type": "integer",
                        "format": "int32",
                        "description": "rtls_landings"
                      },
                      "asds_attempts": {
                        "type": "integer",
                        "format": "int32",
                        "description": "asds_attempts"
                      },
                      "asds_landings": {
                        "type": "integer",
                        "format": "int32",
                        "description": "asds_landings"
                      },
                      "last_update": {
                        "type": "string",
                        "description": "last_update"
                      },
                      "launches": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "launches"
                      },
                      "serial": {
                        "type": "string",
                        "description": "serial"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      }
                    }
                  },
                  "description": "docs"
                },
                "totalDocs": {
                  "type": "integer",
                  "format": "int32",
                  "description": "totalDocs"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "offset"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "limit"
                },
                "totalPages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "totalPages"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "page"
                },
                "pagingCounter": {
                  "type": "integer",
                  "format": "int32",
                  "description": "pagingCounter"
                },
                "hasPrevPage": {
                  "type": "boolean",
                  "description": "hasPrevPage"
                },
                "hasNextPage": {
                  "type": "boolean",
                  "description": "hasNextPage"
                },
                "prevPage": {
                  "type": "string",
                  "description": "prevPage"
                },
                "nextPage": {
                  "type": "integer",
                  "format": "int32",
                  "description": "nextPage"
                }
              }
            }
          }
        }
      }
    },
    "/v4/crew": {
      "get": {
        "summary": "Get all crew members",
        "description": "Detailed info on all Dragon crew members.",
        "operationId": "GetAllCrew",
        "parameters": [],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "agency": {
                    "type": "string",
                    "description": "agency"
                  },
                  "image": {
                    "type": "string",
                    "description": "image"
                  },
                  "wikipedia": {
                    "type": "string",
                    "description": "wikipedia"
                  },
                  "launches": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "launches"
                  },
                  "status": {
                    "type": "string",
                    "description": "status"
                  },
                  "id": {
                    "type": "string",
                    "description": "id"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/crew/{id}": {
      "get": {
        "summary": "Get a crew member",
        "description": "Detailed info on a Dragon crew member.",
        "operationId": "GetACrewMember",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the crew member.",
            "x-ms-summary": "Crew Member ID"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "agency": {
                  "type": "string",
                  "description": "agency"
                },
                "image": {
                  "type": "string",
                  "description": "image"
                },
                "wikipedia": {
                  "type": "string",
                  "description": "wikipedia"
                },
                "launches": {
                  "type": "array",
                  "items": {},
                  "description": "launches"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                }
              }
            }
          }
        }
      }
    },
    "/v4/crew/query": {
      "post": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "object",
                  "properties": {},
                  "description": "Accepts any valid MongoDB find() query.",
                  "title": "Query"
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "select": {
                      "type": "string",
                      "description": "Fields to return (by default returns all fields).",
                      "title": "Select"
                    },
                    "collation": {
                      "type": "object",
                      "properties": {},
                      "description": "Specify the collation",
                      "title": "collation"
                    },
                    "sort": {
                      "type": "string",
                      "description": "Sort order.",
                      "title": "Sort"
                    },
                    "populate": {
                      "type": "array",
                      "items": {},
                      "description": "Paths which should be populated with other documents.",
                      "title": "Populate"
                    },
                    "projection": {
                      "type": "string",
                      "description": "Get/set the query projection.",
                      "title": "Projection"
                    },
                    "lean": {
                      "type": "boolean",
                      "description": "Should return plain javascript objects instead of Mongoose documents.",
                      "title": "Lean"
                    },
                    "leanWithId": {
                      "type": "boolean",
                      "description": "If lean and leanWithId are true adds id field with string representation of _id to every document.",
                      "title": "Lean With Id"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Use offset or page to set skip position.",
                      "title": "Offset"
                    },
                    "page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The page number.",
                      "title": "Page"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The limit per page.",
                      "title": "Limit"
                    },
                    "customLabels": {
                      "type": "object",
                      "properties": {},
                      "description": "Developers can provide custom labels for manipulating the response data.",
                      "title": "Custom Labels"
                    },
                    "pagination": {
                      "type": "boolean",
                      "description": "If pagination is set to false it will return all docs without adding limit condition.",
                      "title": "Pagination"
                    },
                    "useEstimatedCount": {
                      "type": "boolean",
                      "description": "Enable estimatedDocumentCount for larger datasets. Does not count based on given query so the count will match entire collection size.",
                      "title": "Use Estimated Count"
                    },
                    "useCustomCountFn": {
                      "type": "boolean",
                      "description": "Enable custom function for count datasets.",
                      "title": "Use Custom Count Function"
                    },
                    "forceCountFn": {
                      "type": "boolean",
                      "description": "Set this to true if you need to support $geo queries.",
                      "title": "Force Count Function"
                    },
                    "allowDiskUse": {
                      "type": "boolean",
                      "description": "Set this to true which allows the MongoDB server to use more than 100 MB for query. This option can let you work around QueryExceededMemoryLimitNoDiskUseAllowed errors from the MongoDB server.",
                      "title": "Allow Disk Use"
                    },
                    "options": {
                      "type": "object",
                      "properties": {
                        "pref": {
                          "type": "string",
                          "description": "A of the listed preference options or aliases.",
                          "title": "Preference"
                        },
                        "tags": {
                          "type": "string",
                          "description": "Optional tags for this query (must be used with pref).",
                          "title": "Tags"
                        }
                      },
                      "description": "Determines the MongoDB nodes from which to read."
                    }
                  },
                  "description": "options"
                }
              }
            }
          }
        ],
        "summary": "Query crew members",
        "description": "Detailed info on queried Dragon crew members.",
        "operationId": "QueryCrewMembers",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "docs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "agency": {
                        "type": "string",
                        "description": "agency"
                      },
                      "image": {
                        "type": "string",
                        "description": "image"
                      },
                      "wikipedia": {
                        "type": "string",
                        "description": "wikipedia"
                      },
                      "launches": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "launches"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      }
                    }
                  },
                  "description": "docs"
                },
                "totalDocs": {
                  "type": "integer",
                  "format": "int32",
                  "description": "totalDocs"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "offset"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "limit"
                },
                "totalPages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "totalPages"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "page"
                },
                "pagingCounter": {
                  "type": "integer",
                  "format": "int32",
                  "description": "pagingCounter"
                },
                "hasPrevPage": {
                  "type": "boolean",
                  "description": "hasPrevPage"
                },
                "hasNextPage": {
                  "type": "boolean",
                  "description": "hasNextPage"
                },
                "prevPage": {
                  "type": "string",
                  "description": "prevPage"
                },
                "nextPage": {
                  "type": "integer",
                  "format": "int32",
                  "description": "nextPage"
                }
              }
            }
          }
        }
      }
    },
    "/v4/dragons": {
      "get": {
        "summary": "Get all Dragons",
        "description": "Detailed info about all Dragon capsule versions.",
        "operationId": "GetAllDragons",
        "parameters": [],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "heat_shield": {
                    "type": "object",
                    "properties": {
                      "material": {
                        "type": "string",
                        "description": "material"
                      },
                      "size_meters": {
                        "type": "number",
                        "format": "float",
                        "description": "size_meters"
                      },
                      "temp_degrees": {
                        "type": "integer",
                        "format": "int32",
                        "description": "temp_degrees"
                      },
                      "dev_partner": {
                        "type": "string",
                        "description": "dev_partner"
                      }
                    },
                    "description": "heat_shield"
                  },
                  "launch_payload_mass": {
                    "type": "object",
                    "properties": {
                      "kg": {
                        "type": "integer",
                        "format": "int32",
                        "description": "kg"
                      },
                      "lb": {
                        "type": "integer",
                        "format": "int32",
                        "description": "lb"
                      }
                    },
                    "description": "launch_payload_mass"
                  },
                  "launch_payload_vol": {
                    "type": "object",
                    "properties": {
                      "cubic_meters": {
                        "type": "integer",
                        "format": "int32",
                        "description": "cubic_meters"
                      },
                      "cubic_feet": {
                        "type": "integer",
                        "format": "int32",
                        "description": "cubic_feet"
                      }
                    },
                    "description": "launch_payload_vol"
                  },
                  "return_payload_mass": {
                    "type": "object",
                    "properties": {
                      "kg": {
                        "type": "integer",
                        "format": "int32",
                        "description": "kg"
                      },
                      "lb": {
                        "type": "integer",
                        "format": "int32",
                        "description": "lb"
                      }
                    },
                    "description": "return_payload_mass"
                  },
                  "return_payload_vol": {
                    "type": "object",
                    "properties": {
                      "cubic_meters": {
                        "type": "integer",
                        "format": "int32",
                        "description": "cubic_meters"
                      },
                      "cubic_feet": {
                        "type": "integer",
                        "format": "int32",
                        "description": "cubic_feet"
                      }
                    },
                    "description": "return_payload_vol"
                  },
                  "pressurized_capsule": {
                    "type": "object",
                    "properties": {
                      "payload_volume": {
                        "type": "object",
                        "properties": {
                          "cubic_meters": {
                            "type": "integer",
                            "format": "int32",
                            "description": "cubic_meters"
                          },
                          "cubic_feet": {
                            "type": "integer",
                            "format": "int32",
                            "description": "cubic_feet"
                          }
                        },
                        "description": "payload_volume"
                      }
                    },
                    "description": "pressurized_capsule"
                  },
                  "trunk": {
                    "type": "object",
                    "properties": {
                      "trunk_volume": {
                        "type": "object",
                        "properties": {
                          "cubic_meters": {
                            "type": "integer",
                            "format": "int32",
                            "description": "cubic_meters"
                          },
                          "cubic_feet": {
                            "type": "integer",
                            "format": "int32",
                            "description": "cubic_feet"
                          }
                        },
                        "description": "trunk_volume"
                      },
                      "cargo": {
                        "type": "object",
                        "properties": {
                          "solar_array": {
                            "type": "integer",
                            "format": "int32",
                            "description": "solar_array"
                          },
                          "unpressurized_cargo": {
                            "type": "boolean",
                            "description": "unpressurized_cargo"
                          }
                        },
                        "description": "cargo"
                      }
                    },
                    "description": "trunk"
                  },
                  "height_w_trunk": {
                    "type": "object",
                    "properties": {
                      "meters": {
                        "type": "number",
                        "format": "float",
                        "description": "meters"
                      },
                      "feet": {
                        "type": "number",
                        "format": "float",
                        "description": "feet"
                      }
                    },
                    "description": "height_w_trunk"
                  },
                  "diameter": {
                    "type": "object",
                    "properties": {
                      "meters": {
                        "type": "number",
                        "format": "float",
                        "description": "meters"
                      },
                      "feet": {
                        "type": "integer",
                        "format": "int32",
                        "description": "feet"
                      }
                    },
                    "description": "diameter"
                  },
                  "first_flight": {
                    "type": "string",
                    "description": "first_flight"
                  },
                  "flickr_images": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "flickr_images"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "type": {
                    "type": "string",
                    "description": "type"
                  },
                  "active": {
                    "type": "boolean",
                    "description": "active"
                  },
                  "crew_capacity": {
                    "type": "integer",
                    "format": "int32",
                    "description": "crew_capacity"
                  },
                  "sidewall_angle_deg": {
                    "type": "integer",
                    "format": "int32",
                    "description": "sidewall_angle_deg"
                  },
                  "orbit_duration_yr": {
                    "type": "integer",
                    "format": "int32",
                    "description": "orbit_duration_yr"
                  },
                  "dry_mass_kg": {
                    "type": "integer",
                    "format": "int32",
                    "description": "dry_mass_kg"
                  },
                  "dry_mass_lb": {
                    "type": "integer",
                    "format": "int32",
                    "description": "dry_mass_lb"
                  },
                  "thrusters": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "amount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "amount"
                        },
                        "pods": {
                          "type": "integer",
                          "format": "int32",
                          "description": "pods"
                        },
                        "fuel_1": {
                          "type": "string",
                          "description": "fuel_1"
                        },
                        "fuel_2": {
                          "type": "string",
                          "description": "fuel_2"
                        },
                        "isp": {
                          "type": "integer",
                          "format": "int32",
                          "description": "isp"
                        },
                        "thrust": {
                          "type": "object",
                          "properties": {
                            "kN": {
                              "type": "integer",
                              "format": "int32",
                              "description": "kN"
                            },
                            "lbf": {
                              "type": "integer",
                              "format": "int32",
                              "description": "lbf"
                            }
                          },
                          "description": "thrust"
                        }
                      }
                    },
                    "description": "thrusters"
                  },
                  "wikipedia": {
                    "type": "string",
                    "description": "wikipedia"
                  },
                  "description": {
                    "type": "string",
                    "description": "description"
                  },
                  "id": {
                    "type": "string",
                    "description": "id"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/dragons/{id}": {
      "get": {
        "summary": "Get a Dragon",
        "description": "Detailed info about a Dragon capsule version.",
        "operationId": "GetADragon",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the Dragon.",
            "x-ms-summary": "Dragon ID"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "heat_shield": {
                  "type": "object",
                  "properties": {
                    "material": {
                      "type": "string",
                      "description": "material"
                    },
                    "size_meters": {
                      "type": "number",
                      "format": "float",
                      "description": "size_meters"
                    },
                    "temp_degrees": {
                      "type": "integer",
                      "format": "int32",
                      "description": "temp_degrees"
                    },
                    "dev_partner": {
                      "type": "string",
                      "description": "dev_partner"
                    }
                  },
                  "description": "heat_shield"
                },
                "launch_payload_mass": {
                  "type": "object",
                  "properties": {
                    "kg": {
                      "type": "integer",
                      "format": "int32",
                      "description": "kg"
                    },
                    "lb": {
                      "type": "integer",
                      "format": "int32",
                      "description": "lb"
                    }
                  },
                  "description": "launch_payload_mass"
                },
                "launch_payload_vol": {
                  "type": "object",
                  "properties": {
                    "cubic_meters": {
                      "type": "integer",
                      "format": "int32",
                      "description": "cubic_meters"
                    },
                    "cubic_feet": {
                      "type": "integer",
                      "format": "int32",
                      "description": "cubic_feet"
                    }
                  },
                  "description": "launch_payload_vol"
                },
                "return_payload_mass": {
                  "type": "object",
                  "properties": {
                    "kg": {
                      "type": "integer",
                      "format": "int32",
                      "description": "kg"
                    },
                    "lb": {
                      "type": "integer",
                      "format": "int32",
                      "description": "lb"
                    }
                  },
                  "description": "return_payload_mass"
                },
                "return_payload_vol": {
                  "type": "object",
                  "properties": {
                    "cubic_meters": {
                      "type": "integer",
                      "format": "int32",
                      "description": "cubic_meters"
                    },
                    "cubic_feet": {
                      "type": "integer",
                      "format": "int32",
                      "description": "cubic_feet"
                    }
                  },
                  "description": "return_payload_vol"
                },
                "pressurized_capsule": {
                  "type": "object",
                  "properties": {
                    "payload_volume": {
                      "type": "object",
                      "properties": {
                        "cubic_meters": {
                          "type": "integer",
                          "format": "int32",
                          "description": "cubic_meters"
                        },
                        "cubic_feet": {
                          "type": "integer",
                          "format": "int32",
                          "description": "cubic_feet"
                        }
                      },
                      "description": "payload_volume"
                    }
                  },
                  "description": "pressurized_capsule"
                },
                "trunk": {
                  "type": "object",
                  "properties": {
                    "trunk_volume": {
                      "type": "object",
                      "properties": {
                        "cubic_meters": {
                          "type": "integer",
                          "format": "int32",
                          "description": "cubic_meters"
                        },
                        "cubic_feet": {
                          "type": "integer",
                          "format": "int32",
                          "description": "cubic_feet"
                        }
                      },
                      "description": "trunk_volume"
                    },
                    "cargo": {
                      "type": "object",
                      "properties": {
                        "solar_array": {
                          "type": "integer",
                          "format": "int32",
                          "description": "solar_array"
                        },
                        "unpressurized_cargo": {
                          "type": "boolean",
                          "description": "unpressurized_cargo"
                        }
                      },
                      "description": "cargo"
                    }
                  },
                  "description": "trunk"
                },
                "height_w_trunk": {
                  "type": "object",
                  "properties": {
                    "meters": {
                      "type": "number",
                      "format": "float",
                      "description": "meters"
                    },
                    "feet": {
                      "type": "number",
                      "format": "float",
                      "description": "feet"
                    }
                  },
                  "description": "height_w_trunk"
                },
                "diameter": {
                  "type": "object",
                  "properties": {
                    "meters": {
                      "type": "number",
                      "format": "float",
                      "description": "meters"
                    },
                    "feet": {
                      "type": "integer",
                      "format": "int32",
                      "description": "feet"
                    }
                  },
                  "description": "diameter"
                },
                "first_flight": {
                  "type": "string",
                  "description": "first_flight"
                },
                "flickr_images": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "flickr_images"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "active": {
                  "type": "boolean",
                  "description": "active"
                },
                "crew_capacity": {
                  "type": "integer",
                  "format": "int32",
                  "description": "crew_capacity"
                },
                "sidewall_angle_deg": {
                  "type": "integer",
                  "format": "int32",
                  "description": "sidewall_angle_deg"
                },
                "orbit_duration_yr": {
                  "type": "integer",
                  "format": "int32",
                  "description": "orbit_duration_yr"
                },
                "dry_mass_kg": {
                  "type": "integer",
                  "format": "int32",
                  "description": "dry_mass_kg"
                },
                "dry_mass_lb": {
                  "type": "integer",
                  "format": "int32",
                  "description": "dry_mass_lb"
                },
                "thrusters": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "amount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "amount"
                      },
                      "pods": {
                        "type": "integer",
                        "format": "int32",
                        "description": "pods"
                      },
                      "fuel_1": {
                        "type": "string",
                        "description": "fuel_1"
                      },
                      "fuel_2": {
                        "type": "string",
                        "description": "fuel_2"
                      },
                      "isp": {
                        "type": "integer",
                        "format": "int32",
                        "description": "isp"
                      },
                      "thrust": {
                        "type": "object",
                        "properties": {
                          "kN": {
                            "type": "integer",
                            "format": "int32",
                            "description": "kN"
                          },
                          "lbf": {
                            "type": "integer",
                            "format": "int32",
                            "description": "lbf"
                          }
                        },
                        "description": "thrust"
                      }
                    }
                  },
                  "description": "thrusters"
                },
                "wikipedia": {
                  "type": "string",
                  "description": "wikipedia"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                }
              }
            }
          }
        }
      }
    },
    "/v4/dragons/query": {
      "post": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "object",
                  "properties": {},
                  "description": "Accepts any valid MongoDB find() query.",
                  "title": "Query"
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "select": {
                      "type": "string",
                      "description": "Fields to return (by default returns all fields).",
                      "title": "Select"
                    },
                    "collation": {
                      "type": "object",
                      "properties": {},
                      "description": "Specify the collation",
                      "title": "collation"
                    },
                    "sort": {
                      "type": "string",
                      "description": "Sort order.",
                      "title": "Sort"
                    },
                    "populate": {
                      "type": "array",
                      "items": {},
                      "description": "Paths which should be populated with other documents.",
                      "title": "Populate"
                    },
                    "projection": {
                      "type": "string",
                      "description": "Get/set the query projection.",
                      "title": "Projection"
                    },
                    "lean": {
                      "type": "boolean",
                      "description": "Should return plain javascript objects instead of Mongoose documents.",
                      "title": "Lean"
                    },
                    "leanWithId": {
                      "type": "boolean",
                      "description": "If lean and leanWithId are true adds id field with string representation of _id to every document.",
                      "title": "Lean With Id"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Use offset or page to set skip position.",
                      "title": "Offset"
                    },
                    "page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The page number.",
                      "title": "Page"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The limit per page.",
                      "title": "Limit"
                    },
                    "customLabels": {
                      "type": "object",
                      "properties": {},
                      "description": "Developers can provide custom labels for manipulating the response data.",
                      "title": "Custom Labels"
                    },
                    "pagination": {
                      "type": "boolean",
                      "description": "If pagination is set to false it will return all docs without adding limit condition.",
                      "title": "Pagination"
                    },
                    "useEstimatedCount": {
                      "type": "boolean",
                      "description": "Enable estimatedDocumentCount for larger datasets. Does not count based on given query so the count will match entire collection size.",
                      "title": "Use Estimated Count"
                    },
                    "useCustomCountFn": {
                      "type": "boolean",
                      "description": "Enable custom function for count datasets.",
                      "title": "Use Custom Count Function"
                    },
                    "forceCountFn": {
                      "type": "boolean",
                      "description": "Set this to true if you need to support $geo queries.",
                      "title": "Force Count Function"
                    },
                    "allowDiskUse": {
                      "type": "boolean",
                      "description": "Set this to true which allows the MongoDB server to use more than 100 MB for query. This option can let you work around QueryExceededMemoryLimitNoDiskUseAllowed errors from the MongoDB server.",
                      "title": "Allow Disk Use"
                    },
                    "options": {
                      "type": "object",
                      "properties": {
                        "pref": {
                          "type": "string",
                          "description": "A of the listed preference options or aliases.",
                          "title": "Preference"
                        },
                        "tags": {
                          "type": "string",
                          "description": "Optional tags for this query (must be used with pref).",
                          "title": "Tags"
                        }
                      },
                      "description": "Determines the MongoDB nodes from which to read."
                    }
                  },
                  "description": "options"
                }
              }
            }
          }
        ],
        "summary": "Query Dragons",
        "description": "Detailed info about queried Dragon capsule versions.",
        "operationId": "QueryDragons",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "docs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "heat_shield": {
                        "type": "object",
                        "properties": {
                          "material": {
                            "type": "string",
                            "description": "material"
                          },
                          "size_meters": {
                            "type": "number",
                            "format": "float",
                            "description": "size_meters"
                          },
                          "temp_degrees": {
                            "type": "integer",
                            "format": "int32",
                            "description": "temp_degrees"
                          },
                          "dev_partner": {
                            "type": "string",
                            "description": "dev_partner"
                          }
                        },
                        "description": "heat_shield"
                      },
                      "launch_payload_mass": {
                        "type": "object",
                        "properties": {
                          "kg": {
                            "type": "integer",
                            "format": "int32",
                            "description": "kg"
                          },
                          "lb": {
                            "type": "integer",
                            "format": "int32",
                            "description": "lb"
                          }
                        },
                        "description": "launch_payload_mass"
                      },
                      "launch_payload_vol": {
                        "type": "object",
                        "properties": {
                          "cubic_meters": {
                            "type": "integer",
                            "format": "int32",
                            "description": "cubic_meters"
                          },
                          "cubic_feet": {
                            "type": "integer",
                            "format": "int32",
                            "description": "cubic_feet"
                          }
                        },
                        "description": "launch_payload_vol"
                      },
                      "return_payload_mass": {
                        "type": "object",
                        "properties": {
                          "kg": {
                            "type": "integer",
                            "format": "int32",
                            "description": "kg"
                          },
                          "lb": {
                            "type": "integer",
                            "format": "int32",
                            "description": "lb"
                          }
                        },
                        "description": "return_payload_mass"
                      },
                      "return_payload_vol": {
                        "type": "object",
                        "properties": {
                          "cubic_meters": {
                            "type": "integer",
                            "format": "int32",
                            "description": "cubic_meters"
                          },
                          "cubic_feet": {
                            "type": "integer",
                            "format": "int32",
                            "description": "cubic_feet"
                          }
                        },
                        "description": "return_payload_vol"
                      },
                      "pressurized_capsule": {
                        "type": "object",
                        "properties": {
                          "payload_volume": {
                            "type": "object",
                            "properties": {
                              "cubic_meters": {
                                "type": "integer",
                                "format": "int32",
                                "description": "cubic_meters"
                              },
                              "cubic_feet": {
                                "type": "integer",
                                "format": "int32",
                                "description": "cubic_feet"
                              }
                            },
                            "description": "payload_volume"
                          }
                        },
                        "description": "pressurized_capsule"
                      },
                      "trunk": {
                        "type": "object",
                        "properties": {
                          "trunk_volume": {
                            "type": "object",
                            "properties": {
                              "cubic_meters": {
                                "type": "integer",
                                "format": "int32",
                                "description": "cubic_meters"
                              },
                              "cubic_feet": {
                                "type": "integer",
                                "format": "int32",
                                "description": "cubic_feet"
                              }
                            },
                            "description": "trunk_volume"
                          },
                          "cargo": {
                            "type": "object",
                            "properties": {
                              "solar_array": {
                                "type": "integer",
                                "format": "int32",
                                "description": "solar_array"
                              },
                              "unpressurized_cargo": {
                                "type": "boolean",
                                "description": "unpressurized_cargo"
                              }
                            },
                            "description": "cargo"
                          }
                        },
                        "description": "trunk"
                      },
                      "height_w_trunk": {
                        "type": "object",
                        "properties": {
                          "meters": {
                            "type": "number",
                            "format": "float",
                            "description": "meters"
                          },
                          "feet": {
                            "type": "number",
                            "format": "float",
                            "description": "feet"
                          }
                        },
                        "description": "height_w_trunk"
                      },
                      "diameter": {
                        "type": "object",
                        "properties": {
                          "meters": {
                            "type": "number",
                            "format": "float",
                            "description": "meters"
                          },
                          "feet": {
                            "type": "integer",
                            "format": "int32",
                            "description": "feet"
                          }
                        },
                        "description": "diameter"
                      },
                      "first_flight": {
                        "type": "string",
                        "description": "first_flight"
                      },
                      "flickr_images": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "flickr_images"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "active": {
                        "type": "boolean",
                        "description": "active"
                      },
                      "crew_capacity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "crew_capacity"
                      },
                      "sidewall_angle_deg": {
                        "type": "integer",
                        "format": "int32",
                        "description": "sidewall_angle_deg"
                      },
                      "orbit_duration_yr": {
                        "type": "integer",
                        "format": "int32",
                        "description": "orbit_duration_yr"
                      },
                      "dry_mass_kg": {
                        "type": "integer",
                        "format": "int32",
                        "description": "dry_mass_kg"
                      },
                      "dry_mass_lb": {
                        "type": "integer",
                        "format": "int32",
                        "description": "dry_mass_lb"
                      },
                      "thrusters": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "type"
                            },
                            "amount": {
                              "type": "integer",
                              "format": "int32",
                              "description": "amount"
                            },
                            "pods": {
                              "type": "integer",
                              "format": "int32",
                              "description": "pods"
                            },
                            "fuel_1": {
                              "type": "string",
                              "description": "fuel_1"
                            },
                            "fuel_2": {
                              "type": "string",
                              "description": "fuel_2"
                            },
                            "isp": {
                              "type": "integer",
                              "format": "int32",
                              "description": "isp"
                            },
                            "thrust": {
                              "type": "object",
                              "properties": {
                                "kN": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "kN"
                                },
                                "lbf": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "lbf"
                                }
                              },
                              "description": "thrust"
                            }
                          }
                        },
                        "description": "thrusters"
                      },
                      "wikipedia": {
                        "type": "string",
                        "description": "wikipedia"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      }
                    }
                  },
                  "description": "docs"
                },
                "totalDocs": {
                  "type": "integer",
                  "format": "int32",
                  "description": "totalDocs"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "offset"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "limit"
                },
                "totalPages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "totalPages"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "page"
                },
                "pagingCounter": {
                  "type": "integer",
                  "format": "int32",
                  "description": "pagingCounter"
                },
                "hasPrevPage": {
                  "type": "boolean",
                  "description": "hasPrevPage"
                },
                "hasNextPage": {
                  "type": "boolean",
                  "description": "hasNextPage"
                },
                "prevPage": {
                  "type": "string",
                  "description": "prevPage"
                },
                "nextPage": {
                  "type": "string",
                  "description": "nextPage"
                }
              }
            }
          }
        }
      }
    },
    "/v4/history": {
      "get": {
        "summary": "Get all history events",
        "description": "Detailed info on all SpaceX historical events.",
        "operationId": "GetAllHistory",
        "parameters": [],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "links": {
                    "type": "object",
                    "properties": {
                      "article": {
                        "type": "string",
                        "description": "article"
                      }
                    },
                    "description": "links"
                  },
                  "title": {
                    "type": "string",
                    "description": "title"
                  },
                  "event_date_utc": {
                    "type": "string",
                    "description": "event_date_utc"
                  },
                  "event_date_unix": {
                    "type": "integer",
                    "format": "int32",
                    "description": "event_date_unix"
                  },
                  "details": {
                    "type": "string",
                    "description": "details"
                  },
                  "id": {
                    "type": "string",
                    "description": "id"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/history/{id}": {
      "get": {
        "summary": "Get a historic event",
        "description": "Detailed info on a SpaceX historical event.",
        "operationId": "GetAHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the historic event.",
            "x-ms-summary": "Historic Event ID"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "links": {
                  "type": "object",
                  "properties": {
                    "article": {
                      "type": "string",
                      "description": "article"
                    }
                  },
                  "description": "links"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "event_date_utc": {
                  "type": "string",
                  "description": "event_date_utc"
                },
                "event_date_unix": {
                  "type": "integer",
                  "format": "int32",
                  "description": "event_date_unix"
                },
                "details": {
                  "type": "string",
                  "description": "details"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                }
              }
            }
          }
        }
      }
    },
    "/v4/history/query": {
      "post": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "object",
                  "properties": {},
                  "description": "Accepts any valid MongoDB find() query.",
                  "title": "Query"
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "select": {
                      "type": "string",
                      "description": "Fields to return (by default returns all fields).",
                      "title": "Select"
                    },
                    "collation": {
                      "type": "object",
                      "properties": {},
                      "description": "Specify the collation",
                      "title": "collation"
                    },
                    "sort": {
                      "type": "string",
                      "description": "Sort order.",
                      "title": "Sort"
                    },
                    "populate": {
                      "type": "array",
                      "items": {},
                      "description": "Paths which should be populated with other documents.",
                      "title": "Populate"
                    },
                    "projection": {
                      "type": "string",
                      "description": "Get/set the query projection.",
                      "title": "Projection"
                    },
                    "lean": {
                      "type": "boolean",
                      "description": "Should return plain javascript objects instead of Mongoose documents.",
                      "title": "Lean"
                    },
                    "leanWithId": {
                      "type": "boolean",
                      "description": "If lean and leanWithId are true adds id field with string representation of _id to every document.",
                      "title": "Lean With Id"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Use offset or page to set skip position.",
                      "title": "Offset"
                    },
                    "page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The page number.",
                      "title": "Page"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The limit per page.",
                      "title": "Limit"
                    },
                    "customLabels": {
                      "type": "object",
                      "properties": {},
                      "description": "Developers can provide custom labels for manipulating the response data.",
                      "title": "Custom Labels"
                    },
                    "pagination": {
                      "type": "boolean",
                      "description": "If pagination is set to false it will return all docs without adding limit condition.",
                      "title": "Pagination"
                    },
                    "useEstimatedCount": {
                      "type": "boolean",
                      "description": "Enable estimatedDocumentCount for larger datasets. Does not count based on given query so the count will match entire collection size.",
                      "title": "Use Estimated Count"
                    },
                    "useCustomCountFn": {
                      "type": "boolean",
                      "description": "Enable custom function for count datasets.",
                      "title": "Use Custom Count Function"
                    },
                    "forceCountFn": {
                      "type": "boolean",
                      "description": "Set this to true if you need to support $geo queries.",
                      "title": "Force Count Function"
                    },
                    "allowDiskUse": {
                      "type": "boolean",
                      "description": "Set this to true which allows the MongoDB server to use more than 100 MB for query. This option can let you work around QueryExceededMemoryLimitNoDiskUseAllowed errors from the MongoDB server.",
                      "title": "Allow Disk Use"
                    },
[...]
