{
  "swagger": "2.0",
  "info": {
    "title": "DataScope Forms",
    "description": "DataScope Forms is a mobile solution to automate your operation. Collect data offline, manage field teams and share business insights.",
    "version": "1.0",
    "contact": {
      "name": "DataScope Support",
      "url": "https://help.mydatascope.com",
      "email": "support@mydatascope.com"
    }
  },
  "host": "www.mydatascope.com",
  "basePath": "/api/external/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/form_schema/{formId}": {
      "get": {
        "responses": {
          "200": {
            "description": "Get Form schema",
            "schema": {
              "type": "object"
            }
          }
        },
        "summary": "Get Form Schema",
        "description": "Get Form Schema",
        "operationId": "Get-form-schema",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "formId",
            "type": "string",
            "in": "path",
            "description": "Select Form you want to query",
	    "x-ms-url-encoding": "single",
            "required": true,
            "x-ms-summary": "Select Form"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/hooks_flow/{formId}": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "Get-form-schema",
            "parameters": {
              "formId": {
                "parameter": "formId"
              }
            },
            "value-path": "schema"
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "summary": "When a response is submitted",
        "description": "When a response is submitted",
        "operationId": "Form-answer",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "subscription_url": {
                  "type": "string",
                  "description": "subscription_url",
                  "x-ms-notification-url": true,
                  "x-ms-url-encoding": "single",
                  "x-ms-visibility": "internal",
                  "title": ""
                }
              },
              "required": [
                "subscription_url"
              ]
            }
          },
          {
            "name": "formId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Select Form",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Select Form",
            "x-ms-dynamic-values": {
              "operationId": "Form-list",
              "value-path": "key",
              "value-title": "label"
            }
          }
        ]
      }
    },
    "/tasks_forms_flow": {
      "get": {
        "responses": {
          "200": {
            "description": "List forms",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "type"
                  },
                  "key": {
                    "type": "string",
                    "description": "key"
                  },
                  "label": {
                    "type": "string",
                    "description": "label"
                  }
                }
              }
            }
          }
        },
        "summary": "Get List of Forms",
        "description": "Get List of Forms",
        "operationId": "Form-list",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    }
  },
  "x-ms-connector-metadata": [
      {
          "propertyName": "Website",
          "propertyValue": "https://mydatascope.com"
      },
      {
          "propertyName": "Privacy policy",
          "propertyValue": "https://help.mydatascope.com/english/web-platform/datascope-privacy-policy"
      },
      {
          "propertyName": "Categories",
          "propertyValue": "Productivity;Data"
      }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}
