{
  "swagger": "2.0",
  "info": {
    "title": "Pexels",
    "description": "Pexels is a free stock photo and video website and app that helps designers, bloggers, and everyone who is looking for visuals to find great photos and videos that can be downloaded and used for free.",
    "version": "1.0",
    "contact": {
      "name": "Vivek Bavishi",
      "url": "https://thatapiguy.tech",
      "email": "vivekbavishi@thatapiguy.tech"
    }
  },
  "host": "api.pexels.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1/search": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "total_results": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number of results for the request."
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current page number."
                },
                "per_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of results returned with each page."
                },
                "photos": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The id of the photo."
                      },
                      "width": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The real width of the photo in pixels."
                      },
                      "height": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The real height of the photo in pixels."
                      },
                      "url": {
                        "type": "string",
                        "description": "The Pexels URL where the photo is located."
                      },
                      "photographer": {
                        "type": "string",
                        "description": "The name of the photographer who took the photo."
                      },
                      "photographer_url": {
                        "type": "string",
                        "description": "The URL of the photographer's Pexels profile."
                      },
                      "photographer_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The id of the photographer."
                      },
                      "avg_color": {
                        "type": "string",
                        "description": "The average color of the photo. Useful for a placeholder while the image loads."
                      },
                      "src": {
                        "type": "object",
                        "properties": {
                          "original": {
                            "type": "string",
                            "description": "The image without any size changes. It will be the same as the width and height attributes."
                          },
                          "large": {
                            "type": "string",
                            "description": "The image resized to W 940px X H 650px DPR 1."
                          },
                          "large2x": {
                            "type": "string",
                            "description": "The image resized W 940px X H 650px DPR 2."
                          },
                          "medium": {
                            "type": "string",
                            "description": "The image scaled proportionally so that it's new height is 350px."
                          },
                          "small": {
                            "type": "string",
                            "description": "The image scaled proportionally so that it's new height is 130px."
                          },
                          "portrait": {
                            "type": "string",
                            "description": "The image cropped to W 800px X H 1200px."
                          },
                          "landscape": {
                            "type": "string",
                            "description": "The image cropped to W 1200px X H 627px."
                          },
                          "tiny": {
                            "type": "string",
                            "description": "The image cropped to W 280px X H 200px."
                          }
                        },
                        "description": "An assortment of different image sizes that can be used to display this Photo."
                      },
                      "liked": {
                        "type": "boolean",
                        "description": "Tells if the photo is liked by you or not."
                      },
                      "alt": {
                        "type": "string",
                        "description": "Text description of the photo for use in the alt attribute."
                      }
                    }
                  },
                  "description": "An array of Photo objects."
                },
                "prev_page": {
                  "type": "string",
                  "description": "URL for the previous page of results, if applicable."
                },
                "next_page": {
                  "type": "string",
                  "description": "URL for the next page of results, if applicable."
                }
              }
            }
          }
        },
        "summary": "Search for Photos",
        "description": "Search Pexels for any photos that you would like. For example your query could be something broad like Nature, Tigers, People. Or it could be something specific like Group of people working.",
        "operationId": "SearchPhotos",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The search query.",
            "x-ms-summary": "Search Query"
          },
          {
            "name": "orientation",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Desired photo orientation.",
            "x-ms-summary": "Orientation",
            "enum": [
              "landscape",
              "portrait",
              "square"
            ]
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Minimum photo size.",
            "x-ms-summary": "Size",
            "enum": [
              "large",
              "medium",
              "small"
            ]
          },
          {
            "name": "color",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Desired photo color. Supported colors: red, orange, yellow, green, turquoise, blue, violet, pink, brown, black, gray, white or any hexadecimal color code (eg. #ffffff).",
            "x-ms-summary": "Color"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The locale of the search you are performing.",
            "x-ms-summary": "Locale",
            "enum": [
              "en-US",
              "pt-BR",
              "es-ES",
              "ca-ES",
              "de-DE",
              "it-IT",
              "fr-FR",
              "sv-SE",
              "id-ID",
              "pl-PL",
              "ja-JP",
              "zh-TW",
              "zh-CN",
              "ko-KR",
              "th-TH",
              "nl-NL",
              "hu-HU",
              "vi-VN",
              "cs-CZ",
              "da-DK",
              "fi-FI",
              "uk-UA",
              "el-GR",
              "ro-RO",
              "nb-NO",
              "sk-SK",
              "tr-TR",
              "ru-RU"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1,
            "description": "The page number you are requesting.",
            "x-ms-summary": "Page Number"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The number of results you are requesting per page. Default value is 15 and Max limit is 80",
            "x-ms-summary": "Per Page"
          }
        ]
      }
    },
    "/v1/curated": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "total_results": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number of results for the request."
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current page number."
                },
                "per_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of results returned with each page."
                },
                "photos": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The id of the photo."
                      },
                      "width": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The real width of the photo in pixels."
                      },
                      "height": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The real height of the photo in pixels."
                      },
                      "url": {
                        "type": "string",
                        "description": "The Pexels URL where the photo is located."
                      },
                      "photographer": {
                        "type": "string",
                        "description": "The name of the photographer who took the photo."
                      },
                      "photographer_url": {
                        "type": "string",
                        "description": "The URL of the photographer's Pexels profile."
                      },
                      "photographer_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The id of the photographer."
                      },
                      "avg_color": {
                        "type": "string",
                        "description": "The average color of the photo. Useful for a placeholder while the image loads."
                      },
                      "src": {
                        "type": "object",
                        "properties": {
                          "original": {
                            "type": "string",
                            "description": "The image without any size changes. It will be the same as the width and height attributes."
                          },
                          "large": {
                            "type": "string",
                            "description": "The image resized to W 940px X H 650px DPR 1."
                          },
                          "large2x": {
                            "type": "string",
                            "description": "The image resized W 940px X H 650px DPR 2."
                          },
                          "medium": {
                            "type": "string",
                            "description": "The image scaled proportionally so that it's new height is 350px."
                          },
                          "small": {
                            "type": "string",
                            "description": "The image scaled proportionally so that it's new height is 130px."
                          },
                          "portrait": {
                            "type": "string",
                            "description": "The image cropped to W 800px X H 1200px."
                          },
                          "landscape": {
                            "type": "string",
                            "description": "The image cropped to W 1200px X H 627px."
                          },
                          "tiny": {
                            "type": "string",
                            "description": "The image cropped to W 280px X H 200px."
                          }
                        },
                        "description": "An assortment of different image sizes that can be used to display this Photo."
                      },
                      "liked": {
                        "type": "boolean",
                        "description": "Tells if the photo is liked by you or not."
                      },
                      "alt": {
                        "type": "string",
                        "description": "Text description of the photo for use in the alt attribute."
                      }
                    }
                  },
                  "description": "An array of Photo objects."
                },
                "prev_page": {
                  "type": "string",
                  "description": "URL for the previous page of results, if applicable."
                },
                "next_page": {
                  "type": "string",
                  "description": "URL for the next page of results, if applicable."
                }
              }
            }
          }
        },
        "summary": "List Curated Photos",
        "description": "Retrieves a list of real-time photos curated by the Pexels team.",
        "operationId": "ListCuratedPhotos",
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The number of results you are requesting per page. Default value is 15 and Max limit is 80.",
            "x-ms-summary": "Results Per Page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1,
            "description": "The page number you are requesting.",
            "x-ms-summary": "Page Number"
          }
        ]
      }
    },
    "/v1/photos/{photo-id}": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The id of the photo."
                },
                "width": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The real width of the photo in pixels."
                },
                "height": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The real height of the photo in pixels."
                },
                "url": {
                  "type": "string",
                  "description": "The Pexels URL where the photo is located."
                },
                "photographer": {
                  "type": "string",
                  "description": "The name of the photographer who took the photo."
                },
                "photographer_url": {
                  "type": "string",
                  "description": "The URL of the photographer's Pexels profile."
                },
                "photographer_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The id of the photographer."
                },
                "avg_color": {
                  "type": "string",
                  "description": "The average color of the photo. Useful for a placeholder while the image loads."
                },
                "src": {
                  "type": "object",
                  "properties": {
                    "original": {
                      "type": "string",
                      "description": "The image without any size changes. It will be the same as the width and height attributes."
                    },
                    "large": {
                      "type": "string",
                      "description": "The image resized to W 940px X H 650px DPR 1."
                    },
                    "large2x": {
                      "type": "string",
                      "description": "The image resized W 940px X H 650px DPR 2."
                    },
                    "medium": {
                      "type": "string",
                      "description": "The image scaled proportionally so that it's new height is 350px."
                    },
                    "small": {
                      "type": "string",
                      "description": "The image scaled proportionally so that it's new height is 130px."
                    },
                    "portrait": {
                      "type": "string",
                      "description": "The image cropped to W 800px X H 1200px."
                    },
                    "landscape": {
                      "type": "string",
                      "description": "The image cropped to W 1200px X H 627px."
                    },
                    "tiny": {
                      "type": "string",
                      "description": "The image cropped to W 280px X H 200px."
                    }
                  },
                  "description": "An assortment of different image sizes that can be used to display this Photo."
                },
                "liked": {
                  "type": "boolean",
                  "description": "Tells if the photo is liked by you or not."
                },
                "alt": {
                  "type": "string",
                  "description": "Text description of the photo for use in the alt attribute."
                }
              }
            }
          }
        },
        "summary": "Get Photo",
        "description": "Retrieve a specific Photo from its id.",
        "operationId": "GetPhoto",
        "parameters": [
          {
            "name": "photo-id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the photo you are requesting.",
            "x-ms-summary": "Photo ID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/videos/search": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "total_results": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number of results for the request."
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current page number."
                },
                "per_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of results returned with each page."
                },
                "url": {
                  "type": "string",
                  "description": "The Pexels URL for the current search query."
                },
                "videos": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The id of the video."
                      },
                      "width": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The real width of the photo in pixels."
                      },
                      "height": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The real height of the photo in pixels."
                      },
                      "url": {
                        "type": "string",
                        "description": "The Pexels URL where the video is located."
                      },
                      "image": {
                        "type": "string",
                        "description": "URL to a screenshot of the video."
                      },
                      "duration": {
                        "type": "integer",
                        "description": "The duration of the video in seconds."
                      },
                      "user": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The id of the photographer."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the videographer."
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL of the videographer's Pexels profile."
                          }
                        }
                      },
                      "video_files": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The id of the video_file."
                            },
                            "quality": {
                              "type": "string",
                              "description": "The video quality of the video_file."
                            },
                            "file_type": {
                              "type": "string",
                              "description": "The video format of the video_file."
                            },
                            "width": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The width of the video_file in pixels."
                            },
                            "height": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The height of the video_file in pixels."
                            },
                            "link": {
                              "type": "string",
                              "description": "A link to where the video_file is hosted."
                            }
                          }
                        },
                        "description": "An array of different sized versions of the video."
                      },
                      "video_pictures": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The id of the video_picture."
                            },
                            "picture": {
                              "type": "string",
                              "description": "A link to the preview image."
                            },
                            "nr": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Image number."
                            }
                          }
                        },
                        "description": "An array of preview pictures of the video."
                      }
                    }
                  },
                  "description": "An array of Video objects."
                },
                "prev_page": {
                  "type": "string",
                  "description": "URL for the previous page of results, if applicable."
                },
                "next_page": {
                  "type": "string",
                  "description": "URL for the next page of results, if applicable."
                }
              }
            }
          }
        },
        "summary": "Search for Videos",
        "description": "Search Pexels for any videos that you would like. For example your query could be something broad like Nature, Tigers, People. Or it could be something specific like Group of people working.",
        "operationId": "SearchVideos",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The search query.",
            "x-ms-summary": "Search Query"
          },
          {
            "name": "orientation",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Desired video orientation.",
            "x-ms-summary": "Orientation",
            "enum": [
              "landscape",
              "portrait",
              "square"
            ]
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Minimum video size. The current supported sizes are: large(4K), medium(Full HD) or small(HD).",
            "x-ms-summary": "Size",
            "enum": [
              "large",
              "medium",
              "small"
            ]
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The locale of the search you are performing.",
            "x-ms-summary": "Locale",
            "enum": [
              "en-US",
              "pt-BR",
              "es-ES",
              "ca-ES",
              "de-DE",
              "it-IT",
              "fr-FR",
              "sv-SE",
              "id-ID",
              "pl-PL",
              "ja-JP",
              "zh-TW",
              "zh-CN",
              "ko-KR",
              "th-TH",
              "nl-NL",
              "hu-HU",
              "vi-VN",
              "cs-CZ",
              "da-DK",
              "fi-FI",
              "uk-UA",
              "el-GR",
              "ro-RO",
              "nb-NO",
              "sk-SK",
              "tr-TR",
              "ru-RU"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1,
            "description": "The page number you are requesting.",
            "x-ms-summary": "Page Number"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The number of results you are requesting per page. Default value is 15 and Max limit is 80",
            "x-ms-summary": "Per Page"
          }
        ]
      }
    },
    "/videos/popular": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "total_results": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number of results for the request."
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current page number."
                },
                "per_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of results returned with each page."
                },
                "url": {
                  "type": "string",
                  "description": "The Pexels URL for the current search query."
                },
                "videos": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The id of the video."
                      },
                      "width": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The real width of the photo in pixels."
                      },
                      "height": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The real height of the photo in pixels."
                      },
                      "url": {
                        "type": "string",
                        "description": "The Pexels URL where the video is located."
                      },
                      "image": {
                        "type": "string",
                        "description": "URL to a screenshot of the video."
                      },
                      "duration": {
                        "type": "integer",
                        "description": "The duration of the video in seconds."
                      },
                      "user": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The id of the photographer."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the videographer."
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL of the videographer's Pexels profile."
                          }
                        }
                      },
                      "video_files": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The id of the video_file."
                            },
                            "quality": {
                              "type": "string",
                              "description": "The video quality of the video_file."
                            },
                            "file_type": {
                              "type": "string",
                              "description": "The video format of the video_file."
                            },
                            "width": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The width of the video_file in pixels."
                            },
                            "height": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The height of the video_file in pixels."
                            },
                            "link": {
                              "type": "string",
                              "description": "A link to where the video_file is hosted."
                            }
                          }
                        },
                        "description": "An array of different sized versions of the video."
                      },
                      "video_pictures": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The id of the video_picture."
                            },
                            "picture": {
                              "type": "string",
                              "description": "A link to the preview image."
                            },
                            "nr": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Image number."
                            }
                          }
                        },
                        "description": "An array of preview pictures of the video."
                      }
                    }
                  },
                  "description": "An array of Video objects."
                },
                "prev_page": {
                  "type": "string",
                  "description": "URL for the previous page of results, if applicable."
                },
                "next_page": {
                  "type": "string",
                  "description": "URL for the next page of results, if applicable."
                }
              }
            }
          }
        },
        "summary": "List Popular Videos",
        "description": "Retrieves a list of the current popular videos.",
        "operationId": "ListPopularVideos",
        "parameters": [
          {
            "name": "min_width",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The minimum width in pixels of the returned videos.",
            "x-ms-summary": "Min. Width"
          },
          {
            "name": "min_height",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The minimum height in pixels of the returned videos.",
            "x-ms-summary": "Min. Width"
          },
          {
            "name": "min_duration",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The minimum duration in seconds of the returned videos.",
            "x-ms-summary": "Min. Width"
          },
          {
            "name": "max_duration",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The max duration in seconds of the returned videos.",
            "x-ms-summary": "Min. Width"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1,
            "description": "The page number you are requesting.",
            "x-ms-summary": "Page Number"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The number of results you are requesting per page. Default value is 15 and Max limit is 80",
            "x-ms-summary": "Per Page"
          }
        ]
      }
    },
    "/videos/videos/{video-id}": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The id of the video."
                },
                "width": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The real width of the photo in pixels."
                },
                "height": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The real height of the photo in pixels."
                },
                "url": {
                  "type": "string",
                  "description": "The Pexels URL where the video is located."
                },
                "image": {
                  "type": "string",
                  "description": "URL to a screenshot of the video."
                },
                "duration": {
                  "type": "integer",
                  "description": "The duration of the video in seconds."
                },
                "user": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The id of the photographer."
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the videographer."
                    },
                    "url": {
                      "type": "string",
                      "description": "The URL of the videographer's Pexels profile."
                    }
                  }
                },
                "video_files": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The id of the video_file."
                      },
                      "quality": {
                        "type": "string",
                        "description": "The video quality of the video_file."
                      },
                      "file_type": {
                        "type": "string",
                        "description": "The video format of the video_file."
                      },
                      "width": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The width of the video_file in pixels."
                      },
                      "height": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The height of the video_file in pixels."
                      },
                      "link": {
                        "type": "string",
                        "description": "A link to where the video_file is hosted."
                      }
                    }
                  },
                  "description": "An array of different sized versions of the video."
                },
                "video_pictures": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The id of the video_picture."
                      },
                      "picture": {
                        "type": "string",
                        "description": "A link to the preview image."
                      },
                      "nr": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Image number."
                      }
                    }
                  },
                  "description": "An array of preview pictures of the video."
                }
              }
            }
          }
        },
        "summary": "Get Video",
        "description": "Retrieve a specific Video from its id.",
        "operationId": "GetVideo",
        "parameters": [
          {
            "name": "video-id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id of the video you are requesting.",
            "x-ms-summary": "Video ID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.pexels.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.pexels.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files"
    }
  ]
}
