{
  "swagger": "2.0",
  "info": {
    "title": "SwiftKanban",
    "description": "SwiftKanban is a Visual Work Management Tool for helping users manage their work effectively by leveraging the simple yet powerful principles of the Kanban Methodology. Use SwiftKanban connector to add/modify cards with the data from rest of your ecosystem.",
    "version": "1.0",
    "contact": {
      "name": "SwiftKanban Support",
      "url": "https://www.digite.com/services/customer-support",
      "email": "support@swiftkanban.com"
    }
  },
  "host": "login.swiftkanban.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [],
  "paths": {
    "/restapi/comment-operations/boards/{boardId}/cards/{cardType}:{cardId}/comments": {
      "post": {
        "responses": {
          "201": {
            "description": "Successful request and response",
            "schema": {
              "properties": {
                "Response": {
                  "properties": {
                    "details": {
                      "properties": {
                        "commentDetails": {
                          "items": {
                            "$ref": "#/definitions/commentDetails"
                          },
                          "type": "array",
                          "x-ms-summary": "Comment details"
                        }
                      },
                      "type": "object"
                    },
                    "messageView": {
                      "$ref": "#/definitions/commentDetailsMessageView"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          },
          "207": {
            "description": "Partially successful"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "operationId": "AddComment",
        "description": "This operation is used to add a comment to an existing SwiftKanban card",
        "summary": "Add comment to a card",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetBoards",
              "value-path": "boardId",
              "value-collection": "Response/details/board",
              "value-title": "projectName"
            },
            "description": "Pick your SwiftKanban Board",
            "x-ms-summary": "Get all accessible boards",
            "x-ms-url-encoding": "double"
          },
          {
            "name": "cardType",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetCardTypes",
              "value-path": "CardType",
              "value-collection": "Response/details/CardTypes/Card",
              "value-title": "TypeName",
              "parameters": {
                "boardId": {
                  "parameter": "boardId"
                }
              }
            },
            "description": "Pick your cardType",
            "x-ms-summary": "Get all accessible cardTypes",
            "x-ms-url-encoding": "double"
          },
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Pick your card",
            "x-ms-summary": "Get all cards",
            "x-ms-url-encoding": "double"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "comment": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "commentText": {
                        "type": "string",
                        "description": "commentText",
                        "title": ""
                      },
                      "commentedBy": {
                        "type": "string",
                        "description": "commentedBy",
                        "title": "",
                        "x-ms-dynamic-values": {
                          "operationId": "GetBoardTeamMembers",
                          "value-path": "loginId",
                          "value-collection": "Response/details/teamMember",
                          "value-title": "loginId",
                          "parameters": {
                            "boardId": {
                              "parameter": "boardId"
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "commentText",
                      "commentedBy"
                    ]
                  },
                  "description": "comment"
                }
              },
              "required": [
                "comment"
              ]
            }
          }
        ]
      }
    },
    "/restapi/card-operations/boards/{boardId}/cards": {
      "post": {
        "responses": {
          "201": {
            "description": "Successful request and response",
            "schema": {
              "properties": {
                "Response": {
                  "properties": {
                    "details": {
                      "properties": {
                        "cardDetails": {
                          "items": {
                            "$ref": "#/definitions/cardDetails"
                          },
                          "type": "array",
                          "x-ms-summary": "Card details"
                        }
                      },
                      "type": "object"
                    },
                    "messageView": {
                      "$ref": "#/definitions/cardDetailsMessageView"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          },
          "207": {
            "description": "Partially successful"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "summary": "Create a card",
        "description": "This operation is used to add card in the Backlog or the custom column as defined in the Board Policies",
        "operationId": "AddCard",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Pick your SwiftKanban Board",
            "x-ms-summary": "Get all accessible boards",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetBoards",
              "value-path": "boardId",
              "value-collection": "Response/details/board",
              "value-title": "projectName",
              "parameters": {
                "other-boards": "N"
              }
            }
          },
          {
            "name": "skipMandatory",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "Y",
            "description": "skipMandatory",
            "x-ms-summary": "skipMandatory",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "card": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "workType": {
                        "type": "string",
                        "description": "workType",
                        "title": "workType",
                        "x-ms-dynamic-values": {
                          "operationId": "GetCardTypes",
                          "value-path": "CardType",
                          "value-collection": "Response/details/CardTypes/Card",
                          "value-title": "TypeName",
                          "parameters": {
                            "boardId": {
                              "parameter": "boardId"
                            }
                          }
                        }
                      },
                      "name": {
                        "type": "string",
                        "description": "name",
                        "title": "name",
                        "default": "name"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "cardSize": {
                        "type": "string",
                        "description": "cardSize"
                      },
                      "classOfService": {
                        "type": "string",
                        "description": "classOfService"
                      },
                      "priority": {
                        "type": "string",
                        "description": "priority"
                      },
                      "currentOwner": {
                        "type": "string",
                        "description": "currentOwner"
                      },
                      "dueDate": {
                        "type": "string",
                        "description": "dueDate"
                      },
                      "estimates": {
                        "type": "string",
                        "description": "estimates"
                      },
                      "tags": {
                        "type": "string",
                        "description": "tags"
                      },
                      "release": {
                        "type": "string",
                        "description": "release"
                      },
                      "iteration": {
                        "type": "string",
                        "description": "iteration"
                      }
                    },
                    "required": [
                      "workType",
                      "name"
                    ]
                  },
                  "description": "card"
                }
              },
              "required": [
                "card"
              ]
            }
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "Successful request and response",
            "schema": {
              "properties": {
                "Response": {
                  "properties": {
                    "details": {
                      "properties": {
                        "cardDetails": {
                          "items": {
                            "$ref": "#/definitions/cardUpdateDetails"
                          },
                          "type": "array",
                          "x-ms-summary": "Card details"
                        }
                      },
                      "type": "object"
                    },
                    "messageView": {
                      "$ref": "#/definitions/cardDetailsMessageView"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          },
          "207": {
            "description": "Partially successful"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "summary": "Update a Card",
        "description": "This operation is used to update a specific card for for a given card ID",
        "operationId": "UpdateCard",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetBoards",
              "value-path": "boardId",
              "value-collection": "Response/details/board",
              "value-title": "projectName"
            },
            "description": "Pick your SwiftKanban Board",
            "x-ms-summary": "Get all accessible boards",
            "x-ms-url-encoding": "double"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "card": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "id",
                        "title": "",
                        "format": "int32"
                      },
                      "workType": {
                        "type": "string",
                        "description": "workType",
                        "title": "",
                        "default": "workType",
                        "x-ms-dynamic-values": {
                          "operationId": "GetCardTypes",
                          "value-path": "CardType",
                          "value-collection": "Response/details/CardTypes/Card",
                          "value-title": "TypeName",
                          "parameters": {
                            "boardId": {
                              "parameter": "boardId"
                            }
                          }
                        }
                      },
                      "name": {
                        "type": "string",
                        "description": "name",
                        "title": ""
                      },
                      "cardSize": {
                        "type": "string",
                        "description": "cardSize",
                        "title": ""
                      },
                      "cardService": {
                        "type": "string",
                        "description": "cardService",
                        "title": ""
                      },
                      "currentOwner": {
                        "type": "string",
                        "description": "currentOwner",
                        "title": ""
                      },
                      "description": {
                        "type": "string",
                        "description": "description",
                        "title": ""
                      },
                      "dueDate": {
                        "type": "string",
                        "description": "dueDate",
                        "title": ""
                      },
                      "estimates": {
                        "type": "string",
                        "description": "estimates",
                        "title": ""
                      },
                      "iteration": {
                        "type": "string",
                        "description": "iteration",
                        "title": ""
                      },
                      "priority": {
                        "type": "string",
                        "description": "priority",
                        "title": ""
                      },
                      "release": {
                        "type": "string",
                        "description": "release",
                        "title": ""
                      },
                      "tags": {
                        "type": "string",
                        "description": "tags",
                        "title": ""
                      }
                    },
                    "required": [
                      "workType",
                      "id"
                    ]
                  },
                  "description": "card"
                }
              },
              "required": [
                "card"
              ]
            }
          }
        ]
      }
    },
    "/restapi/card-operations/boards/{boardId}/cards/{cardType}:{cardId}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful request and response",
            "schema": {
              "properties": {
                "Response": {
                  "properties": {
                    "details": {
                      "properties": {
                        "cardDetails": {
                          "items": {
                            "$ref": "#/definitions/cardFetchDetails"
                          },
                          "type": "array",
                          "x-ms-summary": "Card details"
                        }
                      },
                      "type": "object"
                    },
                    "messageView": {
                      "$ref": "#/definitions/cardDetailsMessageView"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "summary": "Get card by Card ID",
        "description": "This operation is used to retrieve a specific card details for a given card ID",
        "operationId": "GetCard",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetBoards",
              "value-path": "boardId",
              "value-collection": "Response/details/board",
              "value-title": "projectName"
            },
            "description": "Pick your SwiftKanban Board",
            "x-ms-summary": "Get all accessible boards",
            "x-ms-url-encoding": "double"
          },
          {
            "name": "cardType",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetCardTypes",
              "value-path": "CardType",
              "value-collection": "Response/details/CardTypes/Card",
              "value-title": "TypeName",
              "parameters": {
                "boardId": {
                  "parameter": "boardId"
                }
              }
            },
            "description": "Pick your cardType",
            "x-ms-summary": "Get all cardTypes",
            "x-ms-url-encoding": "double"
          },
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Pick your card",
            "x-ms-summary": "Get all cards",
            "x-ms-url-encoding": "double"
          }
        ]
      }
    },
    "/restapi/board-operations/boards": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful request and response",
            "schema": {
              "properties": {
                "Response": {
                  "properties": {
                    "details": {
                      "properties": {
                        "board": {
                          "items": {
                            "$ref": "#/definitions/boardDetails"
                          },
                          "type": "array",
                          "x-ms-summary": "Board details"
                        }
                      },
                      "type": "object"
                    },
                    "messageView": {
                      "$ref": "#/definitions/cardDetailsMessageView"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Get all accessible boards",
        "description": "This operation is used to retrieve a list of all accessible projects for your SwiftKanban instance",
        "operationId": "GetBoards",
        "parameters": [
          {
            "name": "other-boards",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "N",
            "description": "other-boards",
            "x-ms-summary": "other-boards",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/restapi/team-member-operations/boards/{boardId}/team-members": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful request and response",
            "schema": {
              "properties": {
                "Response": {
                  "properties": {
                    "details": {
                      "properties": {
                        "teamMember": {
                          "items": {
                            "$ref": "#/definitions/teamMemberDetails"
                          },
                          "type": "array",
                          "x-ms-summary": "Team Member details"
                        }
                      },
                      "type": "object"
                    },
                    "messageView": {
                      "$ref": "#/definitions/cardDetailsMessageView"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "summary": "Get Team Members details in a board",
        "description": "This operation is used to retrieve a detailed list of all users associated with a SwiftKanban board.",
        "operationId": "GetBoardTeamMembers",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Pick your SwiftKanban Board",
            "x-ms-summary": "Get all accessible boards",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetBoards",
              "value-path": "boardId",
              "value-collection": "Response/details/board",
              "value-title": "projectName"
            }
          }
        ]
      }
    },
    "/restapi/metadata-operations/boards/{boardId}/cardTypes": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful request and response",
            "schema": {
              "properties": {
                "Response": {
                  "properties": {
                    "details": {
                      "properties": {
                        "CardTypes": {
                          "properties": {
                            "Card": {
                              "items": {
                                "$ref": "#/definitions/cardTypesDetails"
                              },
                              "type": "array",
                              "x-ms-summary": "Card types details"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    },
                    "messageView": {
                      "$ref": "#/definitions/cardDetailsMessageView"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "summary": "Get all the card types available in a board",
        "description": "This operation is used to retrieve a list of cardTypes for your SwiftKanban board.",
        "operationId": "GetCardTypes",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Pick your SwiftKanban Board",
            "x-ms-summary": "Get all accessible boards",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetBoards",
              "value-path": "boardId",
              "value-collection": "Response/details/board",
              "value-title": "projectName"
            }
          }
        ]
      }
    },
    "/restapi/card-operations/boards/{boardId}/cards/archive": {
      "put": {
        "responses": {
          "200": {
            "description": "Successful request and response",
            "schema": {
              "properties": {
                "Response": {
                  "properties": {
                    "details": {
                      "properties": {
                        "cardDetails": {
                          "items": {
                            "$ref": "#/definitions/cardArchiveDetails"
                          },
                          "type": "array",
                          "x-ms-summary": "Archive details"
                        }
                      },
                      "type": "object"
                    },
                    "messageView": {
                      "$ref": "#/definitions/cardDetailsMessageView"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          },
          "207": {
            "description": "Partially successful"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "summary": "Archive a card",
        "description": "This operation is used to archive a specific card for a given card ID.",
        "operationId": "ArchiveCard",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Pick your SwiftKanban Board",
            "x-ms-summary": "Get all accessible boards",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetBoards",
              "value-path": "boardId",
              "value-collection": "Response/details/board",
              "value-title": "projectName",
              "parameters": {
                "other-boards": "N"
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cardDetails": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "cardUniqueId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "cardUniqueId",
                        "title": ""
                      },
                      "cardType": {
                        "type": "string",
                        "description": "cardType",
                        "title": "",
                        "x-ms-dynamic-values": {
                          "operationId": "GetCardTypes",
                          "value-path": "CardType",
                          "value-collection": "Response/details/CardTypes/Card",
                          "value-title": "TypeName",
                          "parameters": {
                            "boardId": {
                              "parameter": "boardId"
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "cardType",
                      "cardUniqueId"
                    ]
                  },
                  "description": "cardDetails"
                }
              },
              "required": [
                "cardDetails"
              ]
            }
          }
        ]
      }
    },
    "/restapi/card-operations/boards/{boardId}/cards/discard-abort": {
      "put": {
        "responses": {
          "200": {
            "description": "Successful request and response",
            "schema": {
              "properties": {
                "Response": {
                  "properties": {
                    "details": {
                      "properties": {
                        "cardDetails": {
                          "items": {
                            "$ref": "#/definitions/cardDiscardAbortDetails"
                          },
                          "type": "array",
                          "x-ms-summary": "Discard abort details"
                        }
                      },
                      "type": "object"
                    },
                    "messageView": {
                      "$ref": "#/definitions/cardDetailsMessageView"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          },
          "207": {
            "description": "Partially successful"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "summary": "Discard or Abort a card",
        "description": "This operation is used to discard or abort a specific card for a given card ID",
        "operationId": "DiscardAbortCard",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetBoards",
              "value-path": "boardId",
              "value-collection": "Response/details/board",
              "value-title": "projectName"
            },
            "description": "Pick your SwiftKanban Board",
            "x-ms-summary": "Get all accessible boards",
            "x-ms-url-encoding": "double"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cardDetails": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "cardUniqueId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "cardUniqueId",
                        "title": ""
                      },
                      "cardType": {
                        "type": "string",
                        "description": "cardType",
                        "title": "",
                        "x-ms-dynamic-values": {
                          "operationId": "GetCardTypes",
                          "value-path": "CardType",
                          "value-collection": "Response/details/CardTypes/Card",
                          "value-title": "TypeName",
                          "parameters": {
                            "boardId": {
                              "parameter": "boardId"
                            }
                          }
                        }
                      },
                      "discardAbortReason": {
                        "type": "string",
                        "description": "discardAbortReason",
                        "title": "",
                        "enum": [
                          "Dropped",
                          "Obsolete",
                          "Deferred",
                          "Merged",
                          "Clarification Needed"
                        ]
                      },
                      "discardAbortComment": {
                        "type": "string",
                        "description": "discardAbortComment",
                        "title": ""
                      }
                    },
                    "required": [
                      "cardType",
                      "cardUniqueId",
                      "discardAbortComment",
                      "discardAbortReason"
                    ]
                  },
                  "description": "cardDetails"
                }
              },
              "required": [
                "cardDetails"
              ]
            }
          }
        ]
      }
    },
    "/restapi/board-operations/boards/{boardId}/config": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful request and response",
            "schema": {}
          },
          "400": {
            "description": "Bad request"
          }
        },
        "summary": "Get details of queues and sub-queues",
        "description": "This operation is used to fetch Lane details along with queues and subqueues",
        "operationId": "GetLaneAndQueue",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetBoards",
              "value-path": "boardId",
              "value-collection": "Response/details/board",
              "value-title": "projectName"
            },
            "description": "Pick your SwiftKanban Board",
            "x-ms-summary": "Get all accessible boards",
            "x-ms-url-encoding": "double"
          }
        ]
      }
    },
    "/restapi/card-operations/boards/{boardId}/cards/move/backlog": {
      "put": {
        "responses": {
          "200": {
            "description": "Successful request and response",
            "schema": {
              "properties": {
                "Response": {
                  "properties": {
                    "details": {
                      "properties": {
                        "cardDetails": {
                          "items": {
                            "$ref": "#/definitions/cardArchiveDetails"
                          },
                          "type": "array",
                          "x-ms-summary": "Backlog details"
                        }
                      },
                      "type": "object"
                    },
                    "messageView": {
                      "$ref": "#/definitions/cardDetailsMessageView"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          },
          "207": {
            "description": "Partially successful"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "summary": "Move a card to backlog",
        "description": "This operation is used to move a card to backlog",
        "operationId": "MoveCardToBacklog",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetBoards",
              "value-path": "boardId",
              "value-collection": "Response/details/board",
              "value-title": "projectName",
              "parameters": {
                "other-boards": "N"
              }
            },
            "description": "Pick your SwiftKanban Board",
            "x-ms-summary": "Get all accessible boards",
            "x-ms-url-encoding": "double"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cardDetails": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "cardType": {
                        "type": "string",
                        "description": "cardType",
                        "title": "",
                        "x-ms-dynamic-values": {
                          "operationId": "GetCardTypes",
                          "value-path": "CardType",
                          "value-collection": "Response/details/CardTypes/Card",
                          "value-title": "TypeName",
                          "parameters": {
                            "boardId": {
                              "parameter": "boardId"
                            }
                          }
                        }
                      },
                      "cardUniqueId": {
                        "type": "integer",
                        "description": "cardUniqueId",
                        "title": "",
                        "format": "int32"
                      }
                    },
                    "required": [
                      "cardType",
                      "cardUniqueId"
                    ]
                  },
                  "description": "cardDetails"
                }
              },
              "required": [
                "cardDetails"
              ]
            }
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.digite.com/swiftkanban"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.digite.com/about-us/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Productivity"
    }
  ],
  "definitions": {
    "commentDetails": {
      "properties": {
        "comment": {
          "description": "Comment",
          "x-ms-summary": "Comment",
          "properties": {
            "id": {
              "description": "Id",
              "type": "string",
              "x-ms-summary": "id"
            },
            "commentedBy": {
              "description": "Commented by",
              "type": "string",
              "x-ms-summary": "commentedBy"
            },
            "commentedText": {
              "description": "Commented text",
              "type": "string",
              "x-ms-summary": "commentedText"
            }
          },
          "type": "object"
        },
        "responseStatus": {
          "description": "Response Status",
          "type": "string",
          "x-ms-summary": "responseStatus"
        },
        "responseMsg": {
          "description": "Response Message",
          "type": "string",
          "x-ms-summary": "responseMessage"
        }
      },
      "type": "object"
    },
    "commentDetailsMessageView": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Success",
          "x-ms-summary": "Status"
        },
        "message": {
          "type": "string",
          "description": "Message",
          "x-ms-summary": "Message"
        },
        "uriMap": {
          "type": "string",
          "description": "uriMap",
          "x-ms-summary": "uriMap"
        }
      },
      "type": "object"
    },
    "cardDetails": {
      "properties": {
        "responseStatus": {
          "type": "string",
          "description": "responseStatus",
          "x-ms-summary": "responseStatus"
        },
        "card": {
          "description": "Card",
          "x-ms-summary": "Card",
          "properties": {
            "currentSwimId": {
              "description": "currentSwimId",
              "type": "string",
              "x-ms-summary": "currentSwimId"
            },
            "ExternalCardId": {
              "description": "ExternalCardId",
              "type": "string",
              "x-ms-summary": "ExternalCardId"
            },
            "currentQueue": {
              "description": "currentQueue",
              "type": "string",
              "x-ms-summary": "currentQueue"
            },
            "currentOwner": {
              "description": "currentOwner",
              "type": "string",
              "x-ms-summary": "currentOwner"
            },
            "rootCause": {
              "description": "rootCause",
              "type": "string",
              "x-ms-summary": "rootCause"
            },
            "modifiedBy": {
              "description": "modifiedBy",
              "type": "string",
              "x-ms-summary": "modifiedBy"
            },
            "currentQueueId": {
              "description": "currentQueueId",
              "type": "string",
              "x-ms-summary": "currentQueueId"
            },
            "id": {
              "description": "id",
              "type": "string",
              "x-ms-summary": "id"
            },
            "defectNumber": {
              "description": "defectNumber",
              "type": "string",
              "x-ms-summary": "defectNumber"
            },
            "currentSwimName": {
              "description": "currentSwimName",
              "type": "string",
              "x-ms-summary": "currentSwimName"
            },
            "currentOwner_userId": {
              "description": "currentOwner_userId",
              "type": "string",
              "x-ms-summary": "currentOwner_userId"
            },
            "workspaceId": {
              "description": "workspaceId",
              "type": "string",
              "x-ms-summary": "workspaceId"
            },
            "severity": {
              "description": "severity",
              "type": "string",
              "x-ms-summary": "severity"
            },
            "classOfService": {
              "description": "classOfService",
              "type": "string",
              "x-ms-summary": "classOfService"
            },
            "summaryType": {
              "description": "summaryType",
              "type": "string",
              "x-ms-summary": "summaryType"
            },
            "priority": {
              "description": "priority",
              "type": "string",
              "x-ms-summary": "priority"
            },
            "cardSize": {
              "description": "cardSize",
              "type": "string",
              "x-ms-summary": "cardSize"
            },
            "workspaceType": {
              "description": "workspaceType",
              "type": "string",
              "x-ms-summary": "workspaceType"
            },
            "createdDate": {
              "description": "createdDate",
              "type": "string",
              "x-ms-summary": "createdDate"
            },
            "createdBy": {
              "description": "createdBy",
              "type": "string",
              "x-ms-summary": "createdBy"
            },
            "dateIdentified": {
              "description": "dateIdentified",
              "type": "string",
              "x-ms-summary": "dateIdentified"
            },
            "name": {
              "description": "name",
              "type": "string",
              "x-ms-summary": "name"
            },
            "workType": {
              "description": "workType",
              "type": "string",
              "x-ms-summary": "workType"
            },
            "currentState": {
              "description": "currentState",
              "type": "string",
              "x-ms-summary": "currentState"
            },
            "modifiedDate": {
              "description": "modifiedDate",
              "type": "string",
              "x-ms-summary": "modifiedDate"
            },
            "defectType": {
              "description": "defectType",
              "type": "string",
              "x-ms-summary": "defectType"
            }
          },
          "type": "object"
        },
        "responseMsg": {
          "description": "Response Message",
          "type": "string",
          "x-ms-summary": "responseMessage"
        }
      },
      "type": "object"
    },
    "cardDetailsMessageView": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Type",
          "x-ms-summary": "Status"
        },
        "message": {
          "type": "string",
          "description": "Message",
          "x-ms-summary": "Message"
        },
        "uriMap": {
          "type": "string",
          "description": "uriMap",
          "x-ms-summary": "uriMap"
        }
      },
      "type": "object"
    },
    "cardUpdateDetails": {
      "properties": {
        "responseStatus": {
          "type": "string",
          "description": "responseStatus",
          "x-ms-summary": "responseStatus"
        },
        "card": {
          "description": "Card",
          "x-ms-summary": "Card",
          "properties": {
            "id": {
              "description": "id",
              "type": "string",
              "x-ms-summary": "id"
            },
            "workspaceType": {
              "description": "workspaceType",
              "type": "string",
              "x-ms-summary": "workspaceType"
            }
          },
          "type": "object"
        },
        "responseMessage": {
          "description": "Response Message",
          "type": "string",
          "x-ms-summary": "responseMessage"
        }
      },
      "type": "object"
    },
    "cardFetchDetails": {
      "properties": {
        "id": {
          "description": "id",
          "type": "string",
          "x-ms-summary": "id"
        },
        "workspaceType": {
          "description": "workspaceType",
          "type": "string",
          "x-ms-summary": "workspaceType"
        },
        "priority": {
          "description": "priority",
          "type": "string",
          "x-ms-summary": "priority"
        }
      },
      "type": "object"
    },
    "boardDetails": {
      "properties": {
        "currentState": {
          "description": "currentState",
          "type": "string",
          "x-ms-summary": "currentState"
        },
        "modifiedDate": {
          "description": "modifiedDate",
          "type": "string",
          "x-ms-summary": "modifiedDate"
        },
        "createdDate": {
          "description": "createdDate",
          "type": "string",
          "x-ms-summary": "createdDate"
        },
        "createdBy": {
          "description": "createdBy",
          "type": "string",
          "x-ms-summary": "createdBy"
        },
        "boardId": {
          "description": "boardId",
          "type": "string",
          "x-ms-summary": "boardId"
        },
        "personRole": {
          "description": "personRole",
          "type": "string",
          "x-ms-summary": "personRole"
        },
        "modifiedBy": {
          "description": "modifiedBy",
          "type": "string",
          "x-ms-summary": "modifiedBy"
        },
        "projectName": {
          "description": "projectName",
          "type": "string",
          "x-ms-summary": "projectName"
        },
        "projectNumber": {
          "description": "projectNumber",
          "type": "string",
          "x-ms-summary": "projectNumber"
        }
      },
      "type": "object"
    },
    "teamMemberDetails": {
      "properties": {
        "primaryRole": {
          "description": "primaryRole",
          "type": "string",
          "x-ms-summary": "primaryRole"
        },
        "firstName": {
          "description": "firstName",
          "type": "string",
          "x-ms-summary": "firstName"
        },
        "lastName": {
          "description": "lastName",
          "type": "string",
          "x-ms-summary": "lastName"
        },
        "emailAddress": {
          "description": "emailAddress",
          "type": "string",
          "x-ms-summary": "emailAddress"
        },
        "loginId": {
          "description": "loginId",
          "type": "string",
          "x-ms-summary": "loginId"
        },
        "projectRole": {
          "description": "projectRole",
          "type": "string",
          "x-ms-summary": "projectRole"
        },
        "id": {
          "description": "id",
          "type": "string",
          "x-ms-summary": "id"
        }
      },
      "type": "object"
    },
    "cardTypesDetails": {
      "properties": {
        "TypeName": {
          "description": "TypeName",
          "type": "string",
          "x-ms-summary": "TypeName"
        },
        "CardType": {
          "description": "CardType",
          "type": "string",
          "x-ms-summary": "CardType"
        },
        "CardCode": {
          "description": "CardCode",
          "type": "string",
          "x-ms-summary": "CardCode"
        }
      },
      "type": "object"
    },
    "cardArchiveDetails": {
      "properties": {
        "cardType": {
          "description": "cardType",
          "type": "string",
          "x-ms-summary": "cardType"
        },
        "cardUniqueId": {
          "description": "cardUniqueId",
          "type": "string",
          "x-ms-summary": "cardUniqueId"
        },
        "responseStatus": {
          "description": "responseStatus",
          "type": "string",
          "x-ms-summary": "responseStatus"
        },
        "responseMsg": {
          "description": "responseMsg",
          "type": "string",
          "x-ms-summary": "responseMsg"
        }
      },
      "type": "object"
    },
    "cardDiscardAbortDetails": {
      "properties": {
        "cardType": {
          "description": "cardType",
          "type": "string",
          "x-ms-summary": "cardType"
        },
        "cardUniqueId": {
          "description": "cardUniqueId",
          "type": "string",
          "x-ms-summary": "cardUniqueId"
        },
        "responseStatus": {
          "description": "responseStatus",
          "type": "string",
          "x-ms-summary": "responseStatus"
        },
        "responseMsg": {
          "description": "responseMsg",
          "type": "string",
          "x-ms-summary": "responseMsg"
        },
        "discardAbortReason": {
          "description": "discardAbortReason",
          "type": "string",
          "x-ms-summary": "discardAbortReason"
        },
        "discardAbortComment": {
          "description": "discardAbortComment",
          "type": "string",
          "x-ms-summary": "discardAbortComment"
        }
      },
      "type": "object"
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "AuthorizationToken"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}