{
  "swagger": "2.0",
  "info": {
    "title": "Spotify",
    "description": "The Spotify connector will give you access to your Library, Artists, Albums, Tracks and more!",
    "version": "1.0",
    "contact": {
      "name": "Daniel Laskewitz | Sogeti",
      "url": "https://youtube.com/daniellaskewitz",
      "email": "connectorsupport@laskewitz.io"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://spotify.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.spotify.com/us/legal/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment;Social Media"
    }
  ],
  "host": "api.spotify.com",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1/me/albums": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Album"
                  },
                  "x-ms-summary": "Albums",
                  "description": "Get a list of the albums saved in the current Spotify user's 'Your Music' library."
                },
                "href": {
                  "type": "string",
                  "x-ms-summary": "Href",
                  "description": "A link to the Web API endpoint returning the full result of the request"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "x-ms-summary": "Limit",
                  "description": "The maximum number of items in the response (as set in the query or by default)."
                },
                "next": {
                  "type": "string",
                  "x-ms-summary": "Next",
                  "description": "URL to the next page of items. (null if none)"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "x-ms-summary": "Offset",
                  "description": "The offset of the items returned (as set in the query or by default)"
                },
                "previous": {
                  "type": "string",
                  "x-ms-summary": "Previous",
                  "description": "URL to the previous page of items. (null if none)"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "x-ms-summary": "Total",
                  "description": "The total number of items available to return."
                }
              }
            }
          }
        },
        "summary": "Get User's Saved Albums",
        "description": "Get a list of the albums saved in the current Spotify user's 'Your Music' library.",
        "operationId": "GetSavedAlbums",
        "parameters": []
      }
    },
    "/v1/me": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/PrivateUser"
            }
          }
        },
        "summary": "Get Current User's Profile",
        "description": "Get detailed profile information about the current user (including the current user's username).",
        "operationId": "GetUserProfile",
        "parameters": []
      }
    },
    "/v1/me/top/artists": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Artist"
                  },
                  "description": "The current user's top artists."
                },
                "href": {
                  "type": "string",
                  "x-ms-summary": "Href",
                  "description": "A link to the Web API endpoint returning the full result of the request"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "x-ms-summary": "Limit",
                  "description": "The maximum number of items in the response (as set in the query or by default)."
                },
                "next": {
                  "type": "string",
                  "x-ms-summary": "Next",
                  "description": "URL to the next page of items. (null if none)"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "x-ms-summary": "Offset",
                  "description": "The offset of the items returned (as set in the query or by default)"
                },
                "previous": {
                  "type": "string",
                  "x-ms-summary": "Previous",
                  "description": "URL to the previous page of items. (null if none)"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "x-ms-summary": "Total",
                  "description": "The total number of items available to return."
                }
              }
            }
          }
        },
        "summary": "Get a User's Top Artists",
        "description": "Get the current user's top artists based on calculated affinity.",
        "operationId": "GetTopArtists",
        "parameters": []
      }
    },
    "/v1/browse/new-releases": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "albums": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/SimplifiedAlbum"
                      },
                      "x-ms-summary": "Albums",
                      "description": "A list of new album releases featured in Spotify."
                    }
                  },
                  "description": "A list of new album releases featured in Spotify (Example: 'Browse' tab on the Spotify player)."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "country",
            "x-ms-summary": "Country",
            "description": "Provide this parameter if you want the list of returned items to be relevant to a particular country. If omitted, the returned items will be relevant to all countries.",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAvailableMarkets",
              "value-collection": "Markets"
            }
          }
        ],
        "summary": "Get All New Releases",
        "description": "A list of new album releases featured in Spotify (Example: 'Browse' tab on the Spotify player).",
        "operationId": "GetNewReleases"
      }
    },
    "/v1/markets": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "markets": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Markets",
                    "title": "Markets"
                  },
                  "description": "markets"
                }
              }
            }
          }
        },
        "summary": "Get Available Markets",
        "description": "Get the list of markets where Spotify is available.",
        "operationId": "GetAvailableMarkets",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    }
  },
  "definitions": {
    "Album": {
      "type": "object",
      "properties": {
        "album_type": {
          "type": "string",
          "x-ms-summary": "Album type",
          "description": "The type of the album: album, single, or compilation."
        },
        "artists": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Artist"
          },
          "x-ms-summary": "Artists",
          "description": "The artists of the album. Each artist object includes a link in href to more detailed information about the artist."
        },
        "available_markets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Available markets",
          "description": "The markets in which the album is available: ISO 3166-1 alpha-2 country codes."
        },
        "copyrights": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Copyright"
          },
          "x-ms-summary": "Copyrights",
          "description": "The copyright statements of the album."
        },
        "external_ids": {
          "$ref": "#/definitions/ExternalId"
        },
        "external_urls": {
          "$ref": "#/definitions/ExternalUrl"
        },
        "genres": {
          "type": "array",
          "items": {},
          "x-ms-summary": "Genres",
          "description": "A list of the genres used to classify the album. For example: 'Prog Rock' , 'Post-Grunge'. (If not yet classified, the array is empty.)"
        },
        "href": {
          "type": "string",
          "x-ms-summary": "Href",
          "description": "A link to the Web API endpoint providing full details of the album."
        },
        "id": {
          "type": "string",
          "x-ms-summary": "Id",
          "description": "The Spotify ID for the album."
        },
        "images": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Image"
          },
          "x-ms-summary": "Images",
          "description": "The cover art for the album in various sizes, widest first."
        },
        "label": {
          "type": "string",
          "x-ms-summary": "Label",
          "description": "The label for the album."
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name",
          "description": "The name of the album. In case of an album takedown, the value may be an empty string."
        },
        "popularity": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Popularity",
          "description": "The popularity of the album. The value will be between 0 and 100, with 100 being the most popular. The popularity is calculated from the popularity of the album’s individual tracks."
        },
        "release_date": {
          "type": "string",
          "x-ms-summary": "Release Date",
          "description": "The date the album was first released, for example '1981-12-15'. Depending on the precision, it might be shown as '1981' or '1981-12'."
        },
        "release_date_precision": {
          "type": "string",
          "x-ms-summary": "Release Date Precision",
          "description": "The precision with which release_date value is known: 'year' , 'month' , or 'day'."
        },
        "restrictions": {
          "$ref": "#/definitions/AlbumRestriction"
        },
        "total_tracks": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Total Tracks",
          "description": "The total number of tracks in the album."
        },
        "tracks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SimplifiedTrack"
          },
          "x-ms-summary": "Tracks",
          "description": "The tracks of the album."
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Type",
          "description": "The object type: 'album'"
        },
        "uri": {
          "type": "string",
          "x-ms-summary": "URI",
          "description": "The Spotify URI for the album."
        }
      },
      "description": "album"
    },
    "AlbumRestriction": {},
    "Artist": {
      "type": "object",
      "x-ms-summary": "Artist",
      "description": "The performing artist(s).",
      "properties": {
        "external_urls": {
          "$ref": "#/definitions/ExternalUrl"
        },
        "href": {
          "type": "string",
          "x-ms-summary": "Href",
          "description": "A link to the Web API endpoint providing full details of the artist."
        },
        "id": {
          "type": "string",
          "x-ms-summary": "Id",
          "description": "The Spotify ID for the artist."
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name",
          "description": "The name of the artist."
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Type",
          "description": "The object type: 'artist'"
        },
        "uri": {
          "type": "string",
          "x-ms-summary": "URI",
          "description": "The Spotify URI for the artist."
        }
      }
    },
    "Copyright": {
      "type": "object",
      "x-ms-summary": "Copyright",
      "description": "The copyright statements.",
      "properties": {
        "text": {
          "type": "string",
          "x-ms-summary": "Text",
          "description": "The copyright text for this content."
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Type",
          "description": "The type of copyright: C = the copyright, P = the sound recording (performance) copyright."
        }
      }
    },
    "ExplicitContentSettings": {
      "type": "object",
      "x-ms-summary": "Explicit Content Settings",
      "description": "The user's explicit content settings.",
      "properties": {
        "filter_enabled": {
          "type": "boolean",
          "x-ms-summary": "Filter Enabled",
          "description": "When true, indicates that explicit content should not be played."
        },
        "filter_locked": {
          "type": "boolean",
          "x-ms-summary": "Filter Locked",
          "description": "When true, indicates that the explicit content setting is locked and can’t be changed by the user."
        }
      }
    },
    "ExternalId": {
      "type": "object",
      "description": "Known external IDs for the album.",
      "x-ms-summary": "External IDs",
      "properties": {
        "ean": {
          "type": "string",
          "x-ms-summary": "EAN",
          "description": "International Article Number."
        },
        "isrc": {
          "type": "string",
          "x-ms-summary": "ISRC",
          "description": "International Standard Recording Code."
        },
        "upc": {
          "type": "string",
          "x-ms-summary": "UPC",
          "description": "Universal Product Code."
        }
      }
    },
    "ExternalUrl": {
      "type": "object",
      "x-ms-summary": "External urls",
      "description": "Known external URLs for this object.",
      "properties": {
        "spotify": {
          "type": "string",
          "x-ms-summary": "Spotify",
          "description": "The Spotify URL for the object."
        }
      }
    },
    "Followers": {
      "type": "object",
      "x-ms-summary": "Followers",
      "description": "Information about the followers.",
      "properties": {
        "href": {
          "type": "string",
          "description": "href"
        },
        "total": {
          "type": "integer",
          "format": "int32",
          "description": "total"
        }
      }
    },
    "Image": {
      "type": "object",
      "x-ms-summary": "Image",
      "description": "Image belonging to the object.",
      "properties": {
        "height": {
          "type": "integer",
          "description": "height"
        },
        "url": {
          "type": "string",
          "description": "url"
        },
        "width": {
          "type": "integer",
          "description": "width"
        }
      }
    },
    "LinkedTrack": {},
    "PrivateUser": {
      "type": "object",
      "x-ms-summary": "Private User",
      "description": "Private user information.",
      "properties": {
        "country": {
          "type": "string",
          "x-ms-summary": "Country",
          "description": "The country of the user, as set in the user’s account profile."
        },
        "display_name": {
          "type": "string",
          "x-ms-summary": "Display Name",
          "description": "The name displayed on the user's profile."
        },
        "email": {
          "type": "string",
          "x-ms-summary": "Email",
          "description": "The email address of the user."
        },
        "explicit_content": {
          "$ref": "#/definitions/ExplicitContentSettings"
        },
        "external_urls": {
          "$ref": "#/definitions/ExternalUrl"
        },
        "followers": {
          "$ref": "#/definitions/Followers"
        },
        "href": {
          "type": "string",
          "x-ms-summary": "Href",
          "description": "A link to the Web API endpoint for this user."
        },
        "id": {
          "type": "string",
          "x-ms-summary": "Id",
          "description": "The Spotify ID for the user."
        },
        "images": {
          "$ref": "#/definitions/Image"
        },
        "product": {
          "type": "string",
          "x-ms-summary": "Product",
          "description": "The user's Spotify subscription level: 'premium', 'free', etc. (The subscription level 'open' can be considered the same as 'free'.)"
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Type",
          "description": "The object type: 'user'"
        },
        "uri": {
          "type": "string",
          "x-ms-summary": "URI",
          "description": "The Spotify URI for the user."
        }
      }
    },
    "PublicUser": {
      "type": "object",
      "x-ms-summary": "Public User",
      "description": "Public user information.",
      "properties": {
        "display_name": {
          "type": "string",
          "x-ms-summary": "Display Name",
          "description": "The name displayed on the user's profile."
        },
        "external_urls": {
          "$ref": "#/definitions/ExternalUrl"
        },
        "followers": {
          "$ref": "#/definitions/Followers"
        },
        "href": {
          "type": "string",
          "x-ms-summary": "Href",
          "description": "A link to the Web API endpoint for this user."
        },
        "id": {
          "type": "string",
          "x-ms-summary": "ID",
          "description": "The Spotify ID for the user."
        },
        "images": {
          "type": "array",
          "x-ms-summary": "Images",
          "items": {
            "$ref": "#/definitions/Image"
          }
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Type",
          "description": "The object type: 'user'"
        },
        "uri": {
          "type": "string",
          "x-ms-summary": "URI",
          "description": "The Spotify URI for the user."
        }
      }
    },
    "SavedAlbum": {
      "type": "object",
      "properties": {
        "added_at": {
          "type": "string",
          "x-ms-summary": "Added at",
          "description": "The date and time the album was saved."
        },
        "album": {
          "$ref": "#/definitions/Album"
        }
      }
    },
    "SimplifiedAlbum": {
      "type": "object",
      "properties": {
        "album_group": {
          "type": "string",
          "x-ms-summary": "Album Group",
          "description": "The field is present when getting an artist's albums. Possible values are 'album', 'single', 'compilation', 'appears_on'. Compare to album_type this field represents relationship between the artist and the album."
        },
        "album_type": {
          "type": "string",
          "x-ms-summary": "Album Type",
          "description": "The type of the album: one of 'album', 'single', or 'compilation'."
        },
        "artists": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SimplifiedArtist"
          },
          "x-ms-summary": "Artists",
          "description": "The artists of the album. Each artist object includes a link in href to more detailed information about the artist."
        },
        "available_markets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Available Markets",
          "description": "The markets in which the album is available: ISO 3166-1 alpha-2 country codes."
        },
        "external_urls": {
          "$ref": "#/definitions/ExternalUrl"
        },
        "href": {
          "type": "string",
          "x-ms-summary": "Href",
          "description": "A link to the Web API endpoint providing full details of the album."
        },
        "id": {
          "type": "string",
          "x-ms-summary": "ID",
          "description": "The Spotify ID for the album."
        },
        "images": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Image"
          },
          "x-ms-summary": "Images",
          "description": "The cover art for the album in various sizes, widest first."
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name",
          "description": "The name of the album. In case of an album takedown, the value may be an empty string."
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Type",
          "description": "The object type: 'album'"
        },
        "uri": {
          "type": "string",
          "x-ms-summary": "URI",
          "description": "The Spotify URI for the album."
        }
      }
    },
    "SimplifiedArtist": {
      "type": "object",
      "x-ms-summary": "Artist",
      "description": "The performing artist(s).",
      "properties": {
        "external_urls": {
          "$ref": "#/definitions/ExternalUrl"
        },
        "href": {
          "type": "string",
          "x-ms-summary": "Href",
          "description": "A link to the Web API endpoint providing full details of the artist."
        },
        "id": {
          "type": "string",
          "x-ms-summary": "Id",
          "description": "The Spotify ID for the artist."
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name",
          "description": "The name of the artist."
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Type",
          "description": "The object type: 'artist'"
        },
        "uri": {
          "type": "string",
          "x-ms-summary": "URI",
          "description": "The Spotify URI for the artist."
        }
      }
    },
    "SimplifiedTrack": {
      "type": "object",
      "properties": {
        "artists": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SimplifiedArtist"
          },
          "x-ms-summary": "Artists",
          "description": "The artists who performed the track."
        },
        "available_markets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Available Markets",
          "description": "A list of the countries in which the track can be played, identified by their ISO 3166-1 alpha-2 code."
        },
        "disc_number": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Disc Number",
          "description": "The disc number (usually 1 unless the album consists of more than one disc)."
        },
        "duration_ms": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Duration (ms)",
          "description": "The track length in milliseconds."
        },
        "explicit": {
          "type": "boolean",
          "x-ms-summary": "Explicit",
          "description": "Whether or not the track has explicit lyrics (true = yes it does; false = no it does not OR unknown)."
        },
        "external_urls": {
          "$ref": "#/definitions/ExternalUrl"
        },
        "href": {
          "type": "string",
          "x-ms-summary": "Href",
          "description": "A link to the Web API endpoint providing full details of the track."
        },
        "id": {
          "type": "string",
          "x-ms-summary": "ID",
          "description": "The Spotify ID for the track."
        },
        "is_local": {
          "type": "boolean",
          "x-ms-summary": "Is Local",
          "description": "Whether or not the track is from a local file."
        },
        "is_playable": {
          "type": "boolean",
          "x-ms-summary": "Is Playable",
          "description": "Part of the response when Track Relinking is applied. If true , the track is playable in the given market. Otherwise false."
        },
        "linked_from": {
          "$ref": "#/definitions/LinkedTrack"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name",
          "description": "The name of the track."
        },
        "preview_url": {
          "type": "string",
          "x-ms-summary": "Preview URL",
          "description": "A URL to a 30 second preview (MP3 format) of the track."
        },
        "restrictions": {
          "$ref": "#/definitions/TrackRestriction"
        },
        "track_number": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Track Number",
          "description": "The number of the track. If an album has several discs, the track number is the number on the specified disc."
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Type",
          "description": "The object type: 'track'."
        },
        "uri": {
          "type": "string",
          "x-ms-summary": "URI",
          "description": "The Spotify URI for the track."
        }
      }
    },
    "Track": {
      "type": "object",
      "properties": {
        "album": {
          "$ref": "#/definitions/SimplifiedAlbum"
        },
        "artists": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Artist"
          },
          "x-ms-summary": "Artists",
          "description": "The artists who performed the track. Each artist object includes a link in href to more detailed information about the artist."
        },
        "available_markets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Available Markets",
          "description": "A list of the countries in which the track can be played, identified by their ISO 3166-1 alpha-2 code."
        },
        "disc_number": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Disc Number",
          "description": "The disc number (usually 1 unless the album consists of more than one disc)."
        },
        "duration_ms": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Duration (ms)",
          "description": "The track length in milliseconds."
        },
        "explicit": {
          "type": "boolean",
          "x-ms-summary": "Explicit",
          "description": "Whether or not the track has explicit lyrics (true = yes it does; false = no it does not OR unknown)."
        },
        "external_ids": {
          "$ref": "#/definitions/ExternalId"
        },
        "external_urls": {
          "$ref": "#/definitions/ExternalUrl"
        },
        "href": {
          "type": "string",
          "x-ms-summary": "Href",
          "description": "A link to the Web API endpoint providing full details of the track."
        },
        "id": {
          "type": "string",
          "x-ms-summary": "ID",
          "description": "The Spotify ID for the track."
        },
        "is_local": {
          "type": "boolean",
          "x-ms-summary": "Is Local",
          "description": "Whether or not the track is from a local file."
        },
        "is_playable": {
          "type": "boolean",
          "x-ms-summary": "Is Playable",
          "description": "Part of the response when Track Relinking is applied. If true , the track is playable in the given market. Otherwise false."
        },
        "linked_from": {
          "$ref": "#/definitions/LinkedTrack"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name",
          "description": "The name of the track."
        },
        "popularity": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Popularity",
          "description": "The popularity of the track. The value will be between 0 and 100, with 100 being the most popular."
        },
        "preview_url": {
          "type": "string",
          "x-ms-summary": "Preview URL",
          "description": "A link to a 30 second preview (MP3 format) of the track. Can be null."
        },
        "restrictions": {
          "$ref": "#/definitions/TrackRestriction"
        },
        "track_number": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Track Number",
          "description": "The number of the track. If an album has several discs, the track number is the number on the specified disc."
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Type",
          "description": "The object type: 'track'."
        },
        "uri": {
          "type": "string",
          "x-ms-summary": "URI",
          "description": "The Spotify URI for the track."
        }
      }
    },
    "TrackRestriction": {
      "type": "string",
      "enum": ["market", "product", "explicit"],
      "description": "The reason for the restriction."
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://accounts.spotify.com/authorize",
      "tokenUrl": "https://accounts.spotify.com/api/token",
      "scopes": {
        "user-read-recently-played user-read-currently-playing user-modify-playback-state user-read-playback-state user-library-modify user-library-read user-top-read playlist-modify-private playlist-read-private playlist-read-collaborative user-follow-modify user-follow-read": "user-read-recently-played user-read-currently-playing user-modify-playback-state user-read-playback-state user-library-modify user-library-read user-top-read playlist-modify-private playlist-read-private playlist-read-collaborative user-follow-modify user-follow-read"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "user-read-recently-played user-read-currently-playing user-modify-playback-state user-read-playback-state user-library-modify user-library-read user-top-read playlist-modify-private playlist-read-private playlist-read-collaborative user-follow-modify user-follow-read"
      ]
    }
  ],
  "tags": []
}
