{
    "swagger": "2.0",
    "info": {
        "title": "Spotify",
        "description": "The Spotify connector will give you access to your Library, Artists, Albums, Tracks and more!",
        "version": "1.0",
        "contact": {
            "name": "Daniel Laskewitz",
            "url": "https://youtube.com/daniellaskewitz",
            "email": "connectorsupport@laskewitz.io"
        }
    },
    "x-ms-connector-metadata": [{
            "propertyName": "Website",
            "propertyValue": "https://spotify.com"
        }, {
            "propertyName": "Privacy policy",
            "propertyValue": "https://www.spotify.com/us/legal/privacy-policy/"
        }, {
            "propertyName": "Categories",
            "propertyValue": "Lifestyle and Entertainment;Social Media"
        }
    ],
    "host": "api.spotify.com",
    "basePath": "/v1",
    "schemes": [
        "https"
    ],
    "consumes": [],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/albums/{id}": {
            "get": {
                "summary": "Get Album\n",
                "description": "Get Album",
                "operationId": "GetAlbum",
                "parameters": [{
                        "name": "market",
                        "default": "US",
                        "in": "query",
                        "type": "string",
                        "required": false
                    }, {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "4aawyAB9vmqN3uQ7FjRGTy"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "album_type": {
                                    "type": "string",
                                    "description": "album_type"
                                },
                                "total_tracks": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "total_tracks"
                                },
                                "available_markets": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    },
                                    "description": "available_markets"
                                },
                                "external_urls": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "string",
                                            "description": "value"
                                        }
                                    },
                                    "description": "external_urls"
                                },
                                "href": {
                                    "type": "string",
                                    "description": "href"
                                },
                                "id": {
                                    "type": "string",
                                    "description": "id"
                                },
                                "images": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "value": {
                                                "type": "string",
                                                "description": "value"
                                            }
                                        }
                                    },
                                    "description": "images"
                                },
                                "name": {
                                    "type": "string",
                                    "description": "name"
                                },
                                "release_date": {
                                    "type": "string",
                                    "description": "release_date"
                                },
                                "release_date_precision": {
                                    "type": "string",
                                    "description": "release_date_precision"
                                },
                                "type": {
                                    "type": "string",
                                    "description": "type"
                                },
                                "uri": {
                                    "type": "string",
                                    "description": "uri"
                                },
                                "restrictions": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "string",
                                            "description": "value"
                                        }
                                    },
                                    "description": "restrictions"
                                },
                                "artists": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "external_urls": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "external_urls"
                                            },
                                            "href": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "href"
                                            },
                                            "id": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "id"
                                            },
                                            "name": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "name"
                                            },
                                            "type": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "type"
                                            },
                                            "uri": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "uri"
                                            }
                                        }
                                    },
                                    "description": "artists"
                                },
                                "tracks": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "string",
                                            "description": "value"
                                        }
                                    },
                                    "description": "tracks"
                                },
                                "popularity": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "popularity"
                                },
                                "label": {
                                    "type": "string",
                                    "description": "label"
                                },
                                "external_ids": {
                                    "type": "object",
                                    "properties": {
                                        "isrc": {
                                            "type": "object",
                                            "properties": {
                                                "value": {
                                                    "type": "string",
                                                    "description": "value"
                                                }
                                            },
                                            "description": "isrc"
                                        },
                                        "ean": {
                                            "type": "object",
                                            "properties": {
                                                "value": {
                                                    "type": "string",
                                                    "description": "value"
                                                }
                                            },
                                            "description": "ean"
                                        },
                                        "upc": {
                                            "type": "object",
                                            "properties": {
                                                "value": {
                                                    "type": "string",
                                                    "description": "value"
                                                }
                                            },
                                            "description": "upc"
                                        }
                                    },
                                    "description": "external_ids"
                                },
                                "genres": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    },
                                    "description": "genres"
                                },
                                "copyrights": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "text": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "text"
                                            },
                                            "type": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "type"
                                            }
                                        }
                                    },
                                    "description": "copyrights"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "default",
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    },
                    "401": {
                        "description": "401",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "status"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "message"
                                        }
                                    },
                                    "description": "error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "403",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "status"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "message"
                                        }
                                    },
                                    "description": "error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "429",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "status"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "message"
                                        }
                                    },
                                    "description": "error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/albums/{id}/tracks": {
            "get": {
                "summary": "Get Album Tracks\n",
                "description": "Get Album Tracks",
                "operationId": "GetAlbumTracks",
                "parameters": [{
                        "name": "market",
                        "default": "US",
                        "in": "query",
                        "type": "string",
                        "required": false
                    }, {
                        "name": "limit",
                        "default": 10,
                        "in": "query",
                        "type": "number",
                        "required": false
                    }, {
                        "name": "offset",
                        "default": 5,
                        "in": "query",
                        "type": "number",
                        "required": false
                    }, {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "4aawyAB9vmqN3uQ7FjRGTy"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "href": {
                                    "type": "string",
                                    "description": "href"
                                },
                                "items": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "artists": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "external_urls": {
                                                            "type": "object",
                                                            "properties": {
                                                                "spotify": {
                                                                    "type": "string",
                                                                    "description": "spotify"
                                                                }
                                                            },
                                                            "description": "external_urls"
                                                        },
                                                        "href": {
                                                            "type": "string",
                                                            "description": "href"
                                                        },
                                                        "id": {
                                                            "type": "string",
                                                            "description": "id"
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "description": "name"
                                                        },
                                                        "type": {
                                                            "type": "string",
                                                            "description": "type"
                                                        },
                                                        "uri": {
                                                            "type": "string",
                                                            "description": "uri"
                                                        }
                                                    }
                                                },
                                                "description": "artists"
                                            },
                                            "disc_number": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "disc_number"
                                            },
                                            "duration_ms": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "duration_ms"
                                            },
                                            "explicit": {
                                                "type": "boolean",
                                                "description": "explicit"
                                            },
                                            "external_urls": {
                                                "type": "object",
                                                "properties": {
                                                    "spotify": {
                                                        "type": "string",
                                                        "description": "spotify"
                                                    }
                                                },
                                                "description": "external_urls"
                                            },
                                            "href": {
                                                "type": "string",
                                                "description": "href"
                                            },
                                            "id": {
                                                "type": "string",
                                                "description": "id"
                                            },
                                            "is_local": {
                                                "type": "boolean",
                                                "description": "is_local"
                                            },
                                            "is_playable": {
                                                "type": "boolean",
                                                "description": "is_playable"
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": "name"
                                            },
                                            "preview_url": {
                                                "type": "string",
                                                "description": "preview_url"
                                            },
                                            "track_number": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "track_number"
                                            },
                                            "type": {
                                                "type": "string",
                                                "description": "type"
                                            },
                                            "uri": {
                                                "type": "string",
                                                "description": "uri"
                                            }
                                        }
                                    },
                                    "description": "items"
                                },
                                "limit": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "limit"
                                },
                                "next": {
                                    "type": "string",
                                    "description": "next"
                                },
                                "offset": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "offset"
                                },
                                "previous": {
                                    "type": "string",
                                    "description": "previous"
                                },
                                "total": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "total"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "401",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "status"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "message"
                                        }
                                    },
                                    "description": "error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "403",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "status"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "message"
                                        }
                                    },
                                    "description": "error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "429",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "status"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "message"
                                        }
                                    },
                                    "description": "error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/albums": {
            "get": {
                "summary": "Get Several Albums\n",
                "description": "Get Several Albums\n",
                "operationId": "GetSeveralAlbums",
                "parameters": [{
                        "name": "ids",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "x-ms-summary": "",
                        "description": "382ObEPsp2rxGrnsizN5TX,1A2GTWGtFfWp7KSQTwWOyo,2noRn2Aes5aoNVsU6iWThc"
                    }, {
                        "name": "market",
                        "default": "US",
                        "in": "query",
                        "type": "string",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "albums": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "album_type": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "album_type"
                                            },
                                            "total_tracks": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "total_tracks"
                                            },
                                            "available_markets": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "available_markets"
                                            },
                                            "external_urls": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "external_urls"
                                            },
                                            "href": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "href"
                                            },
                                            "id": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "id"
                                            },
                                            "images": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "images"
                                            },
                                            "name": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "name"
                                            },
                                            "release_date": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "release_date"
                                            },
                                            "release_date_precision": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "release_date_precision"
                                            },
                                            "type": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "type"
                                            },
                                            "uri": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "uri"
                                            },
                                            "restrictions": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "restrictions"
                                            },
                                            "artists": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "value"
                                                        }
                                                    }
                                                },
                                                "description": "artists"
                                            },
                                            "tracks": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "tracks"
                                            },
                                            "popularity": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "popularity"
                                            },
                                            "label": {
                                                "type": "string",
                                                "description": "label"
                                            },
                                            "external_ids": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "external_ids"
                                            },
                                            "genres": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "value"
                                                        }
                                                    }
                                                },
                                                "description": "genres"
                                            },
                                            "copyrights": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "value"
                                                        }
                                                    }
                                                },
                                                "description": "copyrights"
                                            }
                                        }
                                    },
                                    "description": "albums"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "401",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "status"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "message"
                                        }
                                    },
                                    "description": "error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "403",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "status"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "message"
                                        }
                                    },
                                    "description": "error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "429",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "status"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "message"
                                        }
                                    },
                                    "description": "error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/artists/{id}": {
            "get": {
                "summary": "Get Artist\n",
                "description": "Get Artist\n",
                "operationId": "GetArtist",
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "0TnOYISbd1XYRBk9myaseg"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "external_urls": {
                                    "type": "object",
                                    "properties": {
                                        "spotify": {
                                            "type": "string",
                                            "description": "spotify"
                                        }
                                    },
                                    "description": "external_urls"
                                },
                                "followers": {
                                    "type": "object",
                                    "properties": {
                                        "href": {
                                            "type": "string",
                                            "description": "href"
                                        },
                                        "total": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "total"
                                        }
                                    },
                                    "description": "followers"
                                },
                                "genres": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    },
                                    "description": "genres"
                                },
                                "href": {
                                    "type": "string",
                                    "description": "href"
                                },
                                "id": {
                                    "type": "string",
                                    "description": "id"
                                },
                                "images": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "url": {
                                                "type": "string",
                                                "description": "url"
                                            },
                                            "height": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "height"
                                            },
                                            "width": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "width"
                                            }
                                        }
                                    },
                                    "description": "images"
                                },
                                "name": {
                                    "type": "string",
                                    "description": "name"
                                },
                                "popularity": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "popularity"
                                },
                                "type": {
                                    "type": "string",
                                    "description": "type"
                                },
                                "uri": {
                                    "type": "string",
                                    "description": "uri"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "401",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "status"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "message"
                                        }
                                    },
                                    "description": "error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "403",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "status"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "message"
                                        }
                                    },
                                    "description": "error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "429",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "status"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "message"
                                        }
                                    },
                                    "description": "error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/artists/{id}/albums": {
            "get": {
                "summary": "Get Artist Albums",
                "description": "Get Artist Albums",
                "operationId": "GetArtistAlbums",
                "parameters": [{
                        "name": "include_groups",
                        "in": "query",
                        "type": "string",
                        "required": false,
                        "x-ms-summary": "",
                        "description": "single,appears_on"
                    }, {
                        "name": "market",
                        "default": "US",
                        "in": "query",
                        "type": "string",
                        "required": false
                    }, {
                        "name": "limit",
                        "default": 10,
                        "in": "query",
                        "type": "number",
                        "required": false
                    }, {
                        "name": "offset",
                        "default": 5,
                        "in": "query",
                        "type": "number",
                        "required": false
                    }, {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "0TnOYISbd1XYRBk9myaseg"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "href": {
                                    "type": "string",
                                    "description": "href"
                                },
                                "items": {
                                    "type": "array",
                                    "items": {},
                                    "description": "items"
                                },
                                "limit": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "limit"
                                },
                                "next": {
                                    "type": "string",
                                    "description": "next"
                                },
                                "offset": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "offset"
                                },
                                "previous": {
                                    "type": "string",
                                    "description": "previous"
                                },
                                "total": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "total"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "401",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "status"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "message"
                                        }
                                    },
                                    "description": "error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "403",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "status"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "message"
                                        }
                                    },
                                    "description": "error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "429",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "status"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "message"
                                        }
                                    },
                                    "description": "error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/artists/{id}/top-tracks": {
            "get": {
                "summary": "Get Artist Top Tracks",
                "description": "Get Artist Top Tracks",
                "operationId": "GetArtistTopTracks",
                "parameters": [{
                        "name": "market",
                        "default": "US",
                        "in": "query",
                        "type": "string",
                        "required": false
                    }, {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "0TnOYISbd1XYRBk9myaseg"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "tracks": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "album": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "album"
                                            },
                                            "artists": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "value"
                                                        }
                                                    }
                                                },
                                                "description": "artists"
                                            },
                                            "available_markets": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "description": "available_markets"
                                            },
                                            "disc_number": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "disc_number"
                                            },
                                            "duration_ms": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "duration_ms"
                                            },
                                            "explicit": {
                                                "type": "boolean",
                                                "description": "explicit"
                                            },
                                            "external_ids": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "external_ids"
                                            },
                                            "external_urls": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "external_urls"
                                            },
                                            "href": {
                                                "type": "string",
                                                "description": "href"
                                            },
                                            "id": {
                                                "type": "string",
                                                "description": "id"
                                            },
                                            "is_playable": {
                                                "type": "boolean",
                                                "description": "is_playable"
                                            },
                                            "linked_from": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "linked_from"
                                            },
                                            "restrictions": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "restrictions"
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": "name"
                                            },
                                            "popularity": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "popularity"
                                            },
                                            "preview_url": {
                                                "type": "string",
                                                "description": "preview_url"
                                            },
                                            "track_number": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "track_number"
                                            },
                                            "type": {
                                                "type": "string",
                                                "description": "type"
                                            },
                                            "uri": {
                                                "type": "string",
                                                "description": "uri"
                                            },
                                            "is_local": {
                                                "type": "boolean",
                                                "description": "is_local"
                                            }
                                        }
                                    },
                                    "description": "tracks"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "401",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "status"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "message"
                                        }
                                    },
                                    "description": "error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "403",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "status"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "message"
                                        }
                                    },
                                    "description": "error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "429",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "status"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "message"
                                        }
                                    },
                                    "description": "error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/artists/{id}/related-artists": {
            "get": {
                "summary": "Get Artist Related Artists",
                "description": "Get Artist Related Artists",
                "operationId": "GetArtistRelatedArtists",
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "0TnOYISbd1XYRBk9myaseg"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "artists": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "external_urls": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "external_urls"
                                            },
                                            "followers": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "followers"
                                            },
                                            "genres": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "description": "genres"
                                            },
                                            "href": {
                                                "type": "string",
                                                "description": "href"
                                            },
                                            "id": {
                                                "type": "string",
                                                "description": "id"
                                            },
                                            "images": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "value"
                                                        }
                                                    }
                                                },
                                                "description": "images"
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": "name"
                                            },
                                            "popularity": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "popularity"
                                            },
                                            "type": {
                                                "type": "string",
                                                "description": "type"
                                            },
                                            "uri": {
                                                "type": "string",
                                                "description": "uri"
                                            }
                                        }
                                    },
                                    "description": "artists"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "401",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "status"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "message"
                                        }
                                    },
                                    "description": "error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "403",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "status"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "message"
                                        }
                                    },
                                    "description": "error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "429",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "status"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "message"
                                        }
                                    },
                                    "description": "error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/artists": {
            "get": {
                "summary": "Get Several Artists\n",
                "description": "Get Several Artists\n",
                "operationId": "GetSeveralArtists",
                "parameters": [{
                        "name": "ids",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "2CIMQHirSU0MQqyYHq0eOx,57dN52uHvrHOxijzpIgu3E,1vCWHaC5f2uS3yhpwWbIA6"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "artists": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "external_urls": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "external_urls"
                                            },
                                            "followers": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "value"
                                                    }
                                                },
                                                "description": "followers"
                                            },
                                            "genres": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "description": "genres"
                                            },
                                            "href": {
                                                "type": "string",
                                                "description": "href"
                                            },
                                            "id": {
                                                "type": "string",
                                                "description": "id"
                                            },
                                            "images": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "value"
                                                        }
                                                    }
                                                },
                                                "description": "images"
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": "name"
                                            },
                                            "popularity": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "popularity"
                                            },
                                            "type": {
                                                "type": "string",
                                                "description": "type"
                                            },
                                            "uri": {
                                                "type": "string",
                                                "description": "uri"
                                            }
                                        }
                                    },
                                    "description": "artists"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "401",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "status"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "message"
                                        }
                                    },
                                    "description": "error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "403",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "status"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "message"
                                        }
                                    },
                                    "description": "error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "429",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "status"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "message"
                                        }
                                    },
                                    "description": "error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/shows/{id}": {
            "get": {
                "summary": "Get Show\n",
                "description": "Get Show\n",
                "operationId": "GetShow",
                "parameters": [{
                        "name": "market",
                        "default": "US",
                        "in": "query",
                        "type": "string",
                        "required": false
                    }, {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "38bS44xjbVVZ3No3ByF1dJ"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "available_markets": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    },
                                    "description": "available_markets"
                                },
                                "copyrights": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "value": {
                                                "type": "string",
                                                "description": "value"
                                            }
                                        }
                                    },
                                    "description": "copyrights"
                                },
                                "description": {
                                    "type": "string",
                                    "description": "description"
                                },
                                "episodes": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "string",
                                            "description": "value"
                                        }
                                    },
                                    "description": "episodes"
                                },
                                "explicit": {
                                    "type": "boolean",
                                    "description": "explicit"
                                },
                                "external_urls": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "string",
                                            "description": "value"
                                        }
                                    },
                                    "description": "external_urls"
                                },
                                "href": {
                                    "type": "string",
                                    "description": "href"
                                },
                                "html_description": {
                                    "type": "string",
                                    "description": "html_description"
                                },
                                "id": {
                                    "type": "string",
                                    "description": "id"
                                },
                                "images": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "value": {
                                                "type": "string",
                                                "description": "value"
                                            }
                                        }
                                    },
                                    "description": "images"
                                },
                                "is_externally_hosted": {
                                    "type": "boolean",
                                    "description": "is_externally_hosted"
                                },
                                "languages": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    },
                                    "description": "languages"
                                },
                                "media_type": {
                                    "type": "string",
                                    "description": "media_type"
                                },
                                "name": {
                                    "type": "string",
                                    "description": "name"
                                },
                                "publisher": {
                                    "type": "string",
                                    "description": "publisher"
                                },
                                "type": {
                                    "type": "string",
                                    "description": "type"
                                },
                                "uri": {
                                    "type": "string",
                                    "description": "uri"
                                },
                                "total_episodes": {
                                    "type": "string",
                                    "description": "total_episodes"
[...]
