{
  "swagger": "2.0",
  "info": {
    "title": "PDF Export by PDFCrowd",
    "description": "Convert HTML pages and web URLs to PDF documents using PDFCrowd's cloud API. Features include customizable page size, margins, headers/footers, watermarks, and more.",
    "version": "1.1.0",
    "contact": {
      "name": "PDFCrowd Support",
      "url": "https://pdfcrowd.com/contact/",
      "email": "support@pdfcrowd.com"
    },
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "api.pdfcrowd.com",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": ["multipart/form-data"],
  "produces": ["application/pdf", "text/plain"],
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic",
      "description": "Use your PDFCrowd username and API key. Get credentials at https://pdfcrowd.com/user/account/"
    }
  },
  "security": [
    {
      "basic_auth": []
    }
  ],
  "paths": {
    "/convert/24.04/": {
      "post": {
        "operationId": "HtmlToPdf",
        "summary": "Convert HTML to PDF",
        "description": "Convert a web page URL or HTML content to a PDF document. The conversion runs in the PDFCrowd cloud, ensuring high performance and reliability.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "url",
            "in": "formData",
            "type": "string",
            "required": false,
            "x-ms-summary": "URL",
            "description": "The URL of the web page to convert. The page must be publicly accessible.",
            "x-ms-visibility": "important"
          },
          {
            "name": "text",
            "in": "formData",
            "type": "string",
            "required": false,
            "x-ms-summary": "HTML Content",
            "description": "The HTML string content to convert.",
            "x-ms-visibility": "important"
          },
          {
            "name": "file",
            "in": "formData",
            "type": "file",
            "required": false,
            "x-ms-summary": "HTML File",
            "description": "An HTML file to convert. The file can be a single HTML file or an archive (.zip, .tar.gz) containing HTML with assets.",
            "x-ms-visibility": "important"
          },
          {
            "name": "output_name",
            "in": "formData",
            "type": "string",
            "required": false,
            "x-ms-summary": "Output Filename",
            "description": "Set the file name of the output PDF without the file extension.",
            "x-ms-visibility": "advanced"
          },
        {
          "name": "page_size",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Page Size",
          "enum": ["A0", "A1", "A2", "A3", "A4", "A5", "A6", "Letter"],
          "default": "A4",
          "description": "Set the output page size using standard formats (A4, Letter, A3, etc.). Use A4 for international documents, Letter for US-based content, or larger sizes like A3 for posters and presentations.",
          "x-ms-visibility": "important"
        },
        {
          "name": "page_width",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Page Width",
          "default": "8.27in",
          "description": "Set custom page dimensions when standard sizes don't fit your needs. Useful for banners, receipts, custom forms, or when matching specific printing equipment. The safe maximum is <code>200in</code> - larger sizes may fail to open in some PDF viewers. For standard sizes like A4 or Letter, use the predefined page size option instead.",
          "x-ms-visibility": "important"
        },
        {
          "name": "page_height",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Page Height",
          "default": "11.7in",
          "description": "Set custom page height for specific formats like receipts, banners, or legal documents. Set to <code>\"-1\"</code> for a single-page PDF that expands to fit all content vertically - ideal for web pages, infographics, or documents where page breaks are undesirable. The safe maximum is <code>200in</code> otherwise some viewers cannot open the PDF. For standard sizes, use the predefined page size option instead.",
          "x-ms-visibility": "important"
        },
        {
          "name": "orientation",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Orientation",
          "enum": ["landscape", "portrait"],
          "default": "portrait",
          "description": "Set the output page orientation to portrait or landscape. Use landscape for wide content like spreadsheets, charts, or dashboards. Use portrait for standard documents and text-heavy content.",
          "x-ms-visibility": "important"
        },
        {
          "name": "margin_top",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Margin Top",
          "default": "0.4in",
          "description": "Control white space at the top of the page. Increase for header space, formal documents, or annotation room (e.g., 1in or more). Decrease to maximize content area or fit more content (e.g., 5mm to 10mm). Default 0.4in balances readability with space efficiency. Set to 0 for full-bleed designs. Affects where content starts and where headers appear.",
          "x-ms-visibility": "important"
        },
        {
          "name": "margin_right",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Margin Right",
          "default": "0.4in",
          "description": "Control white space on the right edge of the page. Increase for binding/hole-punch clearance or note-taking space (e.g., 1in or more). Decrease to fit wider content (e.g., 5mm to 10mm). Default 0.4in balances readability with space efficiency. Set to 0 for full-bleed designs. Affects where content wraps and text line length.",
          "x-ms-visibility": "important"
        },
        {
          "name": "margin_bottom",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Margin Bottom",
          "default": "0.4in",
          "description": "Control white space at the bottom of the page. Increase for footer space, page numbers, or formal documents (e.g., 1in or more). Decrease to fit more content per page (e.g., 5mm to 10mm). Default 0.4in balances readability with space efficiency. Set to 0 for full-bleed designs. Affects where content ends and where footers appear.",
          "x-ms-visibility": "important"
        },
        {
          "name": "margin_left",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Margin Left",
          "default": "0.4in",
          "description": "Control white space on the left edge of the page. Increase for binding/hole-punch clearance or note-taking space (e.g., 1in or more). Decrease to fit wider content (e.g., 5mm to 10mm). Default 0.4in balances readability with space efficiency. Set to 0 for full-bleed designs. Affects where content starts horizontally and text line length.",
          "x-ms-visibility": "important"
        },
        {
          "name": "content_viewport_width",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Content Viewport Width",
          "enum": ["balanced", "small", "medium", "large", "extra-large"],
          "default": "medium",
          "description": "Set the viewport width for formatting the HTML content when generating a PDF. Use this to control how responsive designs render - prevent mobile styles from applying when you want desktop layout, or ensure content appears at the right width. Specify a viewport width to control content rendering, ensuring it mimics the appearance on various devices or matches specific design requirements.",
          "x-ms-visibility": "important"
        },
        {
          "name": "custom_css",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Custom CSS",
          "description": "Apply custom CSS to the input HTML document to modify the visual appearance and layout of your content dynamically. Use this to override default styles, adjust spacing, change fonts, or fix layout issues without modifying the source HTML. Use <code>!important</code> in your CSS rules to prioritize and override conflicting styles.",
          "x-ms-visibility": "important"
        },
        {
          "name": "custom_javascript",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Custom JavaScript",
          "description": "Run a custom JavaScript after the document is loaded and ready to print. Use this to modify page content before conversion, remove unwanted elements, or trigger specific page states. The script is intended for post-load DOM manipulation (add/remove elements, update CSS, ...). In addition to the standard browser APIs, the custom JavaScript code can use helper functions from our <a href='/api/libpdfcrowd/'>JavaScript library</a>.",
          "x-ms-visibility": "important"
        },
        {
          "name": "element_to_convert",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Element To Convert",
          "description": "Convert only the specified element from the main document and its children. Use this to extract specific portions of a page (like article content) while excluding navigation, headers, footers, or sidebars. The element is specified by one or more <a href='https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Selectors'>CSS selectors</a>. If the element is not found, the conversion fails. If multiple elements are found, the first one is used.",
          "x-ms-visibility": "important"
        },
        {
          "name": "zip_main_filename",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Zip Main Filename",
          "description": "Set the file name of the main HTML document stored in the input archive. Use this when your ZIP/TAR archive contains multiple HTML files and you need to specify which one to convert. If not specified, the first HTML file found in the archive is automatically used for conversion.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "no_margins",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "No Margins",
          "description": "Disable all page margins to use the entire page area. Use this for full-bleed designs where content should extend to the page edges, such as posters, certificates, or branded materials. Combine with custom CSS to ensure your content fills the page properly.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "print_page_range",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Print Page Range",
          "description": "Set the page range to print when you only need specific pages from the conversion. Use this to extract individual pages (e.g., \"2\"), specific ranges (e.g., \"3-7\"), or combinations (e.g., \"1,4-6,last\"). Ideal for creating excerpts from long documents or excluding cover pages from batch processing.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "content_viewport_height",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Content Viewport Height",
          "enum": ["auto", "large"],
          "default": "auto",
          "description": "Set the viewport height for formatting the HTML content when generating a PDF. Specify a viewport height to enforce loading of lazy-loaded images and affect vertical positioning of absolutely positioned elements within the content.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "content_fit_mode",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Content Fit Mode",
          "enum": ["auto", "smart-scaling", "no-scaling", "viewport-width", "content-width", "single-page", "single-page-ratio"],
          "default": "auto",
          "description": "Specify the mode for fitting the HTML content to the print area by upscaling or downscaling it. Use this to prevent content from being cut off at page edges or to enable smart scaling of oversized content.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "remove_blank_pages",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Remove Blank Pages",
          "enum": ["trailing", "all", "none"],
          "default": "trailing",
          "description": "Specify which blank pages to exclude from the output document to create cleaner PDFs. Use <code>\"trailing\"</code> to remove empty pages at the end caused by page break issues. Use <code>\"all\"</code> to remove blank pages throughout the document when converting content with formatting quirks. Helps eliminate unwanted white pages from the final output.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "header_url",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Header URL",
          "description": "Load an HTML code from the specified URL and use it as the page header.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "header_html",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Header HTML",
          "description": "Set the HTML header content with custom styling and dynamic page numbers. Use this to add page numbers, document titles, author names, dates, or company branding to the top of every page. Supports full HTML/CSS for complete design control. Use special CSS classes like <code>pdfcrowd-page-number</code> and <code>pdfcrowd-page-count</code> for dynamic content. Ideal for reports, invoices, and professional documents.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "header_height",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Header Height",
          "default": "0.5in",
          "description": "Set the header height to allocate space for header content and prevent overlap with main content. Increase this if your header text is getting cut off or overlapping with page content. Must be large enough to accommodate your header HTML including any multi-line text or images.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "zip_header_filename",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Zip Header Filename",
          "description": "Set the file name of the header HTML document stored in the input archive. Use this method if the input archive contains multiple HTML documents.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "footer_url",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Footer URL",
          "description": "Load an HTML code from the specified URL and use it as the page footer.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "footer_html",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Footer HTML",
          "description": "Set the HTML footer content with custom styling and dynamic page numbers. Use this to add page numbers, copyright notices, document dates, or company information to the bottom of every page. Supports full HTML/CSS for complete design control. Use special CSS classes like <code>pdfcrowd-page-number</code> and <code>pdfcrowd-page-count</code> for dynamic content. Ideal for contracts, reports, and official documents.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "footer_height",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Footer Height",
          "default": "0.5in",
          "description": "Set the footer height to allocate space for footer content and prevent overlap with main content. Increase this if your footer text is getting cut off or overlapping with page content. Must be large enough to accommodate your footer HTML including any multi-line text or images.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "zip_footer_filename",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Zip Footer Filename",
          "description": "Set the file name of the footer HTML document stored in the input archive. Use this method if the input archive contains multiple HTML documents.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "no_header_footer_horizontal_margins",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "No Header Footer Horizontal Margins",
          "description": "Disable horizontal page margins for header and footer. The header/footer contents width will be equal to the physical page width.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "exclude_header_on_pages",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Exclude Header On Pages",
          "description": "The page header content is not printed on the specified pages. To remove the entire header area, use the <a href=\"#set_conversion_config\">conversion config</a>.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "exclude_footer_on_pages",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Exclude Footer On Pages",
          "description": "The page footer content is not printed on the specified pages. To remove the entire footer area, use the <a href=\"#set_conversion_config\">conversion config</a>.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "header_footer_scale_factor",
          "in": "formData",
          "type": "integer",
          "required": false,
          "x-ms-summary": "Header Footer Scale Factor",
          "default": "100",
          "description": "Set the scaling factor (zoom) for the header and footer.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "page_numbering_offset",
          "in": "formData",
          "type": "integer",
          "required": false,
          "x-ms-summary": "Page Numbering Offset",
          "description": "Set the numbering offset for page numbers in header/footer HTML to continue page numbering from a previous document. Use this when generating document sections separately - for example, if you have already generated pages 1-10, set offset to 10. The next section will then start numbering at page 11. Essential for multi-part reports or book chapters.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "page_watermark",
          "in": "formData",
          "type": "file",
          "required": false,
          "x-ms-summary": "Page Watermark",
          "description": "Apply the first page of a watermark PDF to every page of the output PDF. Use this to add transparent overlays like \"DRAFT\" stamps, security markings, or branding elements that appear on top of content. Ideal for confidential document marking or adding protective overlays.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "page_watermark_url",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Page Watermark URL",
          "description": "Load a file from the specified URL and apply the file as a watermark to each page of the output PDF. A watermark can be either a PDF or an image. If a multi-page file (PDF or TIFF) is used, the first page is used as the watermark.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "multipage_watermark",
          "in": "formData",
          "type": "file",
          "required": false,
          "x-ms-summary": "Multipage Watermark",
          "description": "Apply each page of a watermark PDF to the corresponding page of the output PDF. Use this for page-specific watermarks where different pages need different overlays - for example, different approval stamps per department. If the watermark has fewer pages than the output, the last watermark page is repeated for remaining pages.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "multipage_watermark_url",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Multipage Watermark URL",
          "description": "Load a file from the specified URL and apply each page of the file as a watermark to the corresponding page of the output PDF. A watermark can be either a PDF or an image.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "page_background",
          "in": "formData",
          "type": "file",
          "required": false,
          "x-ms-summary": "Page Background",
          "description": "Apply the first page of a background PDF to every page of the output PDF. Use this to add letterheads, branded templates, or decorative backgrounds that appear behind your content. Backgrounds appear beneath content, while watermarks layer on top. Perfect for adding company letterheads to reports or applying branded templates to dynamically generated content.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "page_background_url",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Page Background URL",
          "description": "Load a file from the specified URL and apply the file as a background to each page of the output PDF. A background can be either a PDF or an image. If a multi-page file (PDF or TIFF) is used, the first page is used as the background.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "multipage_background",
          "in": "formData",
          "type": "file",
          "required": false,
          "x-ms-summary": "Multipage Background",
          "description": "Apply each page of a background PDF to the corresponding page of the output PDF. Use this for page-specific backgrounds where each page needs a different template - for example, different letterheads for front and back pages. If the background has fewer pages than the output, the last background page is repeated for remaining pages.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "multipage_background_url",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Multipage Background URL",
          "description": "Load a file from the specified URL and apply each page of the file as a background to the corresponding page of the output PDF. A background can be either a PDF or an image.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "page_background_color",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Page Background Color",
          "description": "Set a solid background color for all pages, filling the entire page area including margins. Useful for creating branded PDFs with corporate colors, highlighting draft documents, or improving readability with off-white backgrounds. Supports transparency with RGBA format - use semi-transparent colors for subtle effects without obscuring content. Format as RGB (FF0000) or RGBA (FF000080) hexadecimal.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "use_print_media",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "Use Print Media",
          "description": "Use the print version of the page if available via <code>@media</code> print CSS rules. Enable this when converting websites that have print-optimized styles. Many sites hide navigation, ads, and sidebars in print mode. Produces cleaner PDFs by using the design the website creator intended for printing.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "no_background",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "No Background",
          "description": "Do not print the background graphics to create printer-friendly PDFs. Use this when documents will be physically printed to save ink costs and improve readability. Removes background colors, images, and patterns while preserving text and foreground content. Particularly useful for documents with dark backgrounds or decorative elements.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "disable_javascript",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "Disable JavaScript",
          "description": "Do not execute JavaScript during conversion. Use this to improve conversion speed when JavaScript is not needed, prevent dynamic content changes, or avoid security risks from untrusted scripts. Note that disabling JavaScript means lazy-loaded images and AJAX content will not load.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "disable_image_loading",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "Disable Image Loading",
          "description": "Do not load images during conversion to create text-only PDFs. Use this to significantly speed up conversion, reduce file size, or create accessible text-focused documents. Ideal for converting documentation where images are not needed, reducing bandwidth usage, or creating lightweight PDFs for email distribution.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "disable_remote_fonts",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "Disable Remote Fonts",
          "description": "Disable loading fonts from remote sources. Use this to speed up conversion by avoiding font download delays, ensure consistent rendering with system fonts, or work around font loading failures. Note that text will fall back to system fonts, which may change the document's appearance.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "load_iframes",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Load Iframes",
          "enum": ["all", "same-origin", "none"],
          "default": "all",
          "description": "Specifies how iframes are handled during conversion. Use <code>\"all\"</code> to include all embedded content (videos, maps, widgets). Use <code>\"same-origin\"</code> to include only content from the same domain for security purposes. Use <code>\"none\"</code> to exclude all iframes for faster conversion and to avoid third-party content issues. Disabling iframes can significantly improve performance and reliability.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "block_ads",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "Block Ads",
          "description": "Automatically block common advertising networks and tracking scripts during conversion, producing cleaner PDFs with faster conversion times. Filters out third-party ad content, analytics beacons, and ad network resources. Ideal for converting news sites, blogs, or any ad-heavy content where ads distract from the main message. May occasionally block legitimate third-party content - disable if critical third-party resources are missing.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "default_encoding",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Default Encoding",
          "default": "auto detect",
          "description": "Specify the character encoding when the HTML lacks proper charset declaration or has incorrect encoding. Prevents garbled text for non-English content, especially legacy pages without UTF-8 encoding. Set to <code>\"utf-8\"</code> for modern content, <code>\"iso-8859-1\"</code> for Western European legacy pages, or other encodings for specific regional content. Only needed when auto-detection fails and you see corrupted characters in the output.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "locale",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Locale",
          "default": "en-US",
          "description": "Set the locale for the conversion to control regional formatting of dates, times, and numbers. Use this when converting content for specific regions - for example, set to <code>\"en-US\"</code> for MM/DD/YYYY dates and comma thousand separators, or <code>\"de-DE\"</code> for DD.MM.YYYY dates and period thousand separators. Essential for financial reports, invoices, or localized content.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "http_auth_user_name",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "HTTP Auth User Name",
          "description": "Set the HTTP authentication user name. Required to access protected web pages or staging environments.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "http_auth_password",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "HTTP Auth Password",
          "description": "Set the HTTP authentication password. Required to access protected web pages or staging environments.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "cookies",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Cookies",
          "description": "Set HTTP cookies to be included in all requests made by the converter to access authenticated or session-based content. Use this when converting pages that require login, maintain user sessions, or personalize content based on cookies. Essential for converting member-only areas, dashboards, or any content behind cookie-based authentication. Format as semicolon-separated name=value pairs.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "verify_ssl_certificates",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "Verify SSL Certificates",
          "description": "Enforce SSL certificate validation for secure connections, preventing conversions from sites with invalid certificates. Enable when converting from production sites with valid certificates to ensure security. When disabled, allows conversion from any HTTPS site regardless of certificate validity - including development servers with self-signed certificates, internal corporate sites with expired certificates, or local testing environments.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "fail_on_main_url_error",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "Fail On Main URL Error",
          "description": "Abort the conversion if the HTTP status code of the main URL is greater than or equal to 400 (client/server errors). Use this in automated workflows to catch broken URLs or authentication failures early rather than producing invalid PDFs. Ensures your system does not silently generate error page PDFs when source content is unavailable.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "fail_on_any_url_error",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "Fail On Any URL Error",
          "description": "Abort the conversion if any sub-request (images, stylesheets, scripts) fails with HTTP 400+ errors. Use this for strict quality control when all assets must load successfully.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "css_page_rule_mode",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "CSS Page Rule Mode",
          "enum": ["default", "mode1", "mode2"],
          "default": "default",
          "description": "Specifies behavior in the presence of CSS <code>@page</code> rules to control which settings take precedence. Use <code>\"default\"</code> to prioritize API settings over CSS rules, ensuring consistent output regardless of input HTML. Use <code>\"mode2\"</code> to respect CSS <code>@page</code> rules for print-optimized HTML. This solves conflicts when CSS tries to override your API page setup.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "on_load_javascript",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "On Load JavaScript",
          "description": "Run a custom JavaScript right after the document is loaded. The script is intended for early DOM manipulation (add/remove elements, update CSS, ...). In addition to the standard browser APIs, the custom JavaScript code can use helper functions from our <a href='/api/libpdfcrowd/'>JavaScript library</a>.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "custom_http_header",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Custom HTTP Header",
          "description": "Set a custom HTTP header to be included in all requests made by the converter. Use this to pass authentication tokens to protected sites, add tracking headers for analytics, or provide API keys for accessing private content. Essential when converting content from APIs or internal systems that require special headers for access control.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "javascript_delay",
          "in": "formData",
          "type": "integer",
          "required": false,
          "x-ms-summary": "JavaScript Delay",
          "default": "200",
          "description": "Wait the specified number of milliseconds to finish all JavaScript after the document is loaded. Use this to ensure lazy-loaded images, AJAX content, or animations complete before conversion. Your license defines the maximum wait time by \"Max Delay\" parameter.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "element_to_convert_mode",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Element To Convert Mode",
          "enum": ["cut-out", "remove-siblings", "hide-siblings"],
          "default": "cut-out",
          "description": "Control how CSS styles are applied when converting only part of a page. The <code>\"cut-out\"</code> option extracts the element into a new document root, which may break CSS selectors like <code>\"body > div\"</code>. The <code>\"remove-siblings\"</code> option keeps the element in its original DOM position but deletes other elements, preserving descendant selectors.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "wait_for_element",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Wait For Element",
          "description": "Wait for the specified element in a source document. Use this when specific dynamic content must be ready before conversion, avoiding unnecessary delays from a fixed JavaScript delay. The element is specified by one or more <a href='https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Selectors'>CSS selectors</a>. The element is searched for in the main document and all iframes. If the element is not found, the conversion fails.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "auto_detect_element_to_convert",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "Auto Detect Element To Convert",
          "description": "The main HTML element for conversion is detected automatically. Use this when you want to extract article or main content without knowing the exact CSS selector, automatically excluding navigation and sidebars.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "readability_enhancements",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Readability Enhancements",
          "enum": ["none", "readability-v1", "readability-v2", "readability-v3", "readability-v4"],
          "default": "none",
          "description": "Automatically enhance the input HTML to improve readability by removing clutter and reformatting content. Use this when converting web pages with excessive navigation, ads, or sidebars that distract from the main content. Different versions (<code>v1-v4</code>) use progressively aggressive algorithms - start with <code>\"v1\"</code> and increase if more cleanup is needed. Ideal for converting blog posts, articles, or documentation into clean PDFs.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "scale_factor",
          "in": "formData",
          "type": "integer",
          "required": false,
          "x-ms-summary": "Scale Factor",
          "default": "100",
          "description": "Set the scaling factor (zoom) for the main page area to fit content better. Use values below 100% to shrink oversized content that is getting cut off at page edges. Use values above 100% to enlarge small content for better readability. Common use cases include shrinking wide tables to fit (70-80%), or enlarging mobile-optimized layouts for desktop PDFs (120-150%).",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "jpeg_quality",
          "in": "formData",
          "type": "integer",
          "required": false,
          "x-ms-summary": "JPEG Quality",
          "default": "100",
          "description": "Set the quality of embedded JPEG images to balance file size and visual quality. Use 100% for archival documents or when image quality is critical. Use 70-85% for web distribution to significantly reduce file size with minimal visible quality loss. Use lower values (50-60%) only when file size is more important than image clarity. Common artifacts below 60% include blockiness and color banding.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "convert_images_to_jpeg",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Convert Images To JPEG",
          "enum": ["none", "opaque", "all"],
          "default": "none",
          "description": "Specify which image types will be converted to JPEG to reduce PDF file size. Use <code>\"opaque\"</code> to convert only non-transparent images (safe for most documents). Use <code>\"all\"</code> to convert everything including transparent images (transparent areas become white). Use <code>\"none\"</code> to preserve original image formats. Ideal for reducing file size when distributing large image-heavy PDFs via email or web.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "image_dpi",
          "in": "formData",
          "type": "integer",
          "required": false,
          "x-ms-summary": "Image DPI",
          "description": "Set the DPI of images in PDF to control resolution and file size. Use 300 DPI for professional printing, 150 DPI for everyday documents, 96 DPI for screen-only viewing, or 72 DPI for web distribution. Lower DPI creates smaller files but reduces image quality. Use 0 to preserve original image resolution. Note that this only downscales - it will not upscale low-resolution images.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "enable_pdf_forms",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "Enable PDF Forms",
          "description": "Convert HTML forms to fillable PDF forms that users can complete in PDF readers. Use this to create interactive PDFs from HTML forms. Ideal for creating fillable applications, surveys, or order forms that work offline. Details can be found in the <a href='https://pdfcrowd.com/blog/create-fillable-pdf-form/'>blog post</a>.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "linearize",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "Linearize",
          "description": "Create linearized PDF. This is also known as Fast Web View. Use this to optimize PDFs for progressive download, allowing users to start viewing the first page while the rest downloads.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "encrypt",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "Encrypt",
          "description": "Encrypt the PDF to prevent search engines from indexing the contents and add an extra layer of security. Use this for confidential documents, internal reports, or any content you do not want appearing in search results. Combine with a password to require authentication for viewing, or just use encryption alone to prevent indexing while keeping the PDF publicly readable.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "user_password",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "User Password",
          "description": "Protect the PDF with a user password to restrict who can open and view the document. Recipients must enter this password to view the PDF. Use this for confidential documents, sensitive data, or content distribution where you want to control access. Combine with permission flags to restrict what users can do after opening.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "owner_password",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Owner Password",
          "description": "Protect the PDF with an owner password for administrative control. This password allows changing permissions, passwords, and document restrictions - like a master key. Use different user and owner passwords to give recipients restricted access while retaining full control. The owner password should be kept confidential and different from the user password.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "no_print",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "No Print",
          "description": "Disallow printing of the output PDF to protect sensitive content. Use this for confidential documents, copyrighted materials, or preview versions you want to restrict.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "no_modify",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "No Modify",
          "description": "Disallow modification of the output PDF to maintain document integrity. Use this for official documents, contracts, or records that should not be altered after creation. Prevents recipients from editing content, adding annotations, or extracting pages.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "no_copy",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "No Copy",
          "description": "Disallow text and graphics extraction from the output PDF to protect copyrighted content. Use this for ebooks, proprietary documents, or materials where you want to prevent easy copying and redistribution.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "title",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Title",
          "description": "Set the title of the PDF that appears in PDF reader title bars and document properties. Use descriptive titles for better organization and searchability in document management systems. This metadata helps users identify documents when multiple PDFs are open and improves accessibility for screen readers.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "subject",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Subject",
          "description": "Set the subject of the PDF to categorize or summarize the document content. Use this to add searchable metadata for document management systems, improve organization in large PDF libraries, or provide context about the document's purpose. Appears in PDF properties dialog.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "author",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Author",
          "description": "Set the author of the PDF for attribution and document tracking. Use this to identify who created the document, important for official documents, reports, or publications. This metadata appears in PDF properties and helps with document management and version control.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "keywords",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Keywords",
          "description": "Associate keywords with the document to improve searchability in document management systems. Use relevant terms that describe the content, making it easier to find documents later. Separate multiple keywords with commas. Particularly useful for large document repositories or DAM systems.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "extract_meta_tags",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "Extract Meta Tags",
          "description": "Extract meta tags (author, keywords and description) from the input HTML and automatically populate PDF metadata. Use this when converting web pages that already have proper HTML meta tags, saving you from manually setting title, author, and keywords. Ideal for automated conversion workflows where source HTML is well-structured.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "page_layout",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Page Layout",
          "enum": ["single-page", "one-column", "two-column-left", "two-column-right"],
          "description": "Control how pages appear when the PDF opens in viewers that respect these preferences. <code>\"single-page\"</code> for focused reading one page at a time. <code>\"one-column\"</code> for continuous scrolling like a web page. <code>\"two-column-left\"</code> for book-like layouts with odd pages on left (international standard). <code>\"two-column-right\"</code> for magazines with odd pages on right.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "page_mode",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Page Mode",
          "enum": ["full-screen", "thumbnails", "outlines"],
          "description": "Control the initial display mode when the PDF opens. <code>\"full-screen\"</code> for presentations and kiosk displays where you want an immersive experience. <code>\"thumbnails\"</code> for long documents where visual page navigation is helpful. <code>\"outlines\"</code> for structured documents with bookmarks/table of contents.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "initial_zoom_type",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Initial Zoom Type",
          "enum": ["fit-width", "fit-height", "fit-page"],
          "description": "Control how the PDF is initially zoomed when opened.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "initial_page",
          "in": "formData",
          "type": "integer",
          "required": false,
          "x-ms-summary": "Initial Page",
          "description": "Display the specified page when the document is opened.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "initial_zoom",
          "in": "formData",
          "type": "integer",
          "required": false,
          "x-ms-summary": "Initial Zoom",
          "description": "Specify the initial page zoom in percents when the document is opened.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "hide_toolbar",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "Hide Toolbar",
          "description": "Hide the viewer's toolbar when the PDF is opened to provide a cleaner, more focused reading experience. Use this for presentations, kiosk displays, or immersive reading where you want minimal UI distractions.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "hide_menubar",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "Hide Menubar",
          "description": "Hide the viewer's menu bar when the PDF is opened for a cleaner interface. Use this for kiosk mode, presentations, or embedded PDFs where you want to minimize UI elements.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "hide_window_ui",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "Hide Window UI",
          "description": "Hide user interface elements like scroll bars and navigation controls when the PDF opens. Use this for presentation mode, digital signage, or embedded PDFs where you want the most minimal interface possible. Combines with other UI hiding options for full-screen immersive viewing.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "fit_window",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "Fit Window",
          "description": "Resize the PDF viewer window to fit the size of the first displayed page when opened. Use this to ensure the PDF opens at an appropriate size rather than filling the entire screen. Particularly useful for small documents, forms, or certificates that look better at actual size.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "center_window",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "Center Window",
          "description": "Position the PDF viewer window in the center of the screen when opened. Use this with window resizing to create a professional, centered display for forms, certificates, or small documents. Improves the initial viewing experience by avoiding corner-positioned windows.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "display_title",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "Display Title",
          "description": "Display the title of the HTML document in the PDF viewer's title bar instead of the filename. Use this to show more descriptive titles when PDFs are opened - particularly useful when the filename is cryptic or auto-generated. Improves user experience by showing meaningful document names.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "right_to_left",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "Right To Left",
          "description": "Set the predominant reading order for text to right-to-left. This option has no direct effect on the document's contents or page numbering but can be used to determine the relative positioning of pages when displayed side by side or printed n-up.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "data_string",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Data String",
          "description": "Set the input data for template rendering. The data format can be JSON, XML, YAML or CSV.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "data_format",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Data Format",
          "enum": ["auto", "json", "xml", "yaml", "csv"],
          "default": "auto",
          "description": "Specify the input data format. Use <code>\"auto\"</code> for automatic detection or explicitly set to JSON, XML, YAML, or CSV when format is known.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "data_encoding",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Data Encoding",
          "default": "utf-8",
          "description": "Set the encoding of the data file set by <a href='#set_data_file'>setDataFile</a>.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "data_ignore_undefined",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "Data Ignore Undefined",
          "description": "Ignore undefined variables in the HTML template. The default mode is strict so any undefined variable causes the conversion to fail. You can use <span class='field-value text-nowrap'>&#x007b;&#x0025; if variable is defined &#x0025;&#x007d;</span> to check if the variable is defined.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "data_auto_escape",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "Data Auto Escape",
          "description": "Auto escape HTML symbols in the input data before placing them into the output.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "data_trim_blocks",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "Data Trim Blocks",
          "description": "Auto trim whitespace around each template command block.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "data_options",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Data Options",
          "description": "Set the advanced data options:<ul><li><code>csv_delimiter</code> - The CSV data delimiter, the default is <code>,</code>.</li><li><code>xml_remove_root</code> - Remove the root XML element from the input data.</li><li><code>data_root</code> - The name of the root element inserted into the input data without a root node (e.g. CSV), the default is <code>data</code>.</li></ul>",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "debug_log",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "Debug Log",
          "description": "Turn on debug logging to troubleshoot conversion issues. Details about the conversion process, including resource loading, rendering steps, and error messages are stored in the debug log. Use this when conversions fail or produce unexpected results.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "tag",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Tag",
          "description": "Tag the conversion with a custom value for tracking and analytics. Use this to categorize conversions by customer ID, document type, or business unit. The tag appears in <a href='/user/account/log/conversion/'>conversion statistics</a>. A value longer than 32 characters is cut off.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "http_proxy",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "HTTP Proxy",
          "description": "A proxy server used by the conversion process for accessing the source URLs with HTTP scheme. This can help circumvent regional restrictions or provide limited access to your intranet.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "https_proxy",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "HTTPS Proxy",
          "description": "A proxy server used by the conversion process for accessing the source URLs with HTTPS scheme. This can help circumvent regional restrictions or provide limited access to your intranet.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "layout_dpi",
          "in": "formData",
          "type": "integer",
          "required": false,
          "x-ms-summary": "Layout DPI",
          "default": "300",
          "description": "Set the internal DPI resolution used for positioning of PDF contents. It can help in situations where there are small inaccuracies in the PDF. It is recommended to use values that are a multiple of 72, such as 288 or 360.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "main_document_css_annotation",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "Main Document CSS Annotation",
          "description": "Add special CSS classes to the main document's body element. This allows applying custom styling based on these classes:   <ul>     <li><code>pdfcrowd-page-X</code> - where X is the current page number</li>     <li><code>pdfcrowd-page-odd</code> - odd page</li>     <li><code>pdfcrowd-page-even</code> - even page</li>   </ul>",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "header_footer_css_annotation",
          "in": "formData",
          "type": "boolean",
          "required": false,
          "x-ms-summary": "Header Footer CSS Annotation",
          "description": "Add special CSS classes to the header/footer's body element. This allows applying custom styling based on these classes:   <ul>     <li><code>pdfcrowd-page-X</code> - where X is the current page number</li>     <li><code>pdfcrowd-page-count-X</code> - where X is the total page count</li>     <li><code>pdfcrowd-page-first</code> - the first page</li>     <li><code>pdfcrowd-page-last</code> - the last page</li>     <li><code>pdfcrowd-page-odd</code> - odd page</li>     <li><code>pdfcrowd-page-even",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "conversion_config",
          "in": "formData",
          "type": "string",
          "required": false,
          "x-ms-summary": "Conversion Config",
          "description": "<p id=\"json-format\"> Configure conversion via JSON. The configuration defines various page settings for individual PDF pages or ranges of pages. It provides flexibility in designing each page of the PDF, giving control over each page's size, header, footer, etc. If a page or parameter is not explicitly specified, the system will use the default settings for that page or attribute.",
          "x-ms-visibility": "advanced"
        },
        {
          "name": "conversion_config_file",
          "in": "formData",
          "type": "file",
          "required": false,
          "x-ms-summary": "Conversion Config File",
          "description": "Configure the conversion process via JSON file. See details of the <a href=\"#json-format\">JSON string</a>.",
          "x-ms-visibility": "advanced"
        }
        ],
        "responses": {
          "200": {
            "description": "PDF document generated successfully",
            "schema": {
              "type": "file"
            },
            "headers": {
              "x-pdfcrowd-job-id": {
                "type": "string",
                "description": "Unique job identifier for this conversion"
              },
              "x-pdfcrowd-pages": {
                "type": "integer",
                "description": "Number of pages in the generated PDF"
              },
              "x-pdfcrowd-output-size": {
                "type": "integer",
                "description": "Size of the output PDF file in bytes"
              },
              "x-pdfcrowd-consumed-credits": {
                "type": "integer",
                "description": "Number of credits consumed by this conversion"
              },
              "x-pdfcrowd-remaining-credits": {
                "type": "integer",
                "description": "Number of credits remaining on your account"
              },
              "x-pdfcrowd-debug-log": {
                "type": "string",
                "description": "URL to the debug log (if debug mode was enabled)"
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters or input"
          },
          "401": {
            "description": "Authentication failed - check username and API key"
          },
          "402": {
            "description": "Insufficient credits - purchase more at pdfcrowd.com"
          },
          "429": {
            "description": "Rate limit exceeded - slow down requests"
          },
          "500": {
            "description": "Server error during conversion"
          }
        }
      }
    },
    "/api/info/": {
      "get": {
        "operationId": "GetAccountInfo",
        "summary": "Get Account Info",
        "description": "Retrieve your PDFCrowd account information including remaining credits balance. Use this to check credits before or after conversions.",
        "x-ms-visibility": "important",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Account information retrieved successfully",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status of the request (ok)"
                },
                "credits": {
                  "type": "integer",
                  "description": "Number of credits remaining on your account"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - authentication failed or invalid credentials",
            "schema": {
              "type": "string",
              "description": "Error message describing the issue"
            }
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://pdfcrowd.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://pdfcrowd.com/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Productivity"
    }
  ]
}
