{
  "swagger": "2.0",
  "info": {
    "version": "1.2.0",
    "title": "Working days",
    "description": "Working days service. It covers more than 45 countries and 230 regional calendars. It also covers main stock exchanges calendars. The quality of data is the top priority. API offers up to date information by following government announcements regarding public holidays changes.",
    "contact": {
      "name": "Tomasz Poszytek",
      "url": "https://aka.ms/poszytek",
      "email": "tomasz@poszytek.eu"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://api.workingdays.org/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://api.workingdays.org/1.2/privacy_policy.php"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Finance;Commerce"
    }
  ],
  "host": "api.workingdays.org",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/1.2/add_working_days": {
      "get": {
        "summary": "Add working days",
        "description": "Add (or remove) any number of working days to a date.",
        "operationId": "AddWorkingDays",
        "parameters": [
          {
            "name": "country_code",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The ISO country code (2 letters).",
            "x-ms-summary": "Country code",
            "enum": [
              "AR",
              "AU",
              "AT",
              "BE",
              "BR",
              "BG",
              "CA",
              "CL",
              "CN",
              "CO",
              "CZ",
              "DK",
              "DE",
              "ES",
              "FI",
              "FR",
              "GR",
              "HK",
              "HU",
              "IN",
              "IL",
              "IT",
              "JP",
              "LU",
              "MC",
              "MX",
              "NL",
              "NZ",
              "NO",
              "PE",
              "PL",
              "PT",
              "RO",
              "RU",
              "SG",
              "SK",
              "ZA",
              "KR",
              "CH",
              "SE",
              "TR",
              "US",
              "UA",
              "GB",
              "VE"
            ],
            "x-ms-visibility": "important",
            "default": "US"
          },
          {
            "name": "start_date",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The start date (YYYY-MM-DD)",
            "x-ms-summary": "Start date",
            "x-ms-visibility": "important"
          },
          {
            "name": "increment",
            "default": "10",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The number of working days you want to add to your start date (positive or negative integer but not zero).",
            "x-ms-summary": "Increment",
            "x-ms-visibility": "important"
          },
          {
            "name": "include_start",
            "default": true,
            "in": "query",
            "type": "boolean",
            "required": true,
            "description": "Should the count include the start_date? Default value is true.",
            "x-ms-summary": "Include start",
            "x-ms-visibility": "important"
          },
          {
            "name": "configuration",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The name of the regional preset configuration. See documentation for more.",
            "x-ms-summary": "Configuration",
            "x-ms-visibility": "advanced",

            "default": "Federal holidays"
          },
          {
            "name": "weekend",
            "default": "1000001",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Your weekend structure. Sunday-Monday-Tuesday-Wednesday-Thursday-Friday-Saturday. If the weekend for you is Sunday and Monday, you can send: 1100000 If the weekend is Saturday afternoon and Sunday: 1000003",
            "x-ms-summary": "Weekend",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "week_times",
            "default": "08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Your week working schedule structure. This parameter is useful when computing work hours over a period. When used, this parameter overides the week_hours parameter.",
            "x-ms-summary": "Week times",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "start_template",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The start date of an alternating week template (YYYY-MM-DD) If you define an alternating week template schedule, you have to tell which sunday the template is starting.",
            "x-ms-summary": "Start template",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "use_custom_configuration",
            "default": false,
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Take into account your own personal configuration.",
            "x-ms-summary": "Use custom configuration",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "profile_id",
            "default": "ut",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Profile Id",
            "description": "If you created several profiles under your custom configuration, the ID of the profile to be used. 6 characters.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json; charset=utf-8",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "end_date": {
                      "type": "string",
                      "description": "End date"
                    },
                    "days": {
                      "type": "object",
                      "title": "Days",
                      "description": "All days within the period",
                      "properties": {
                        "total": {
                          "type": "string",
                          "title": "All total",
                          "description": "Total days within the period"
                        },
                        "mondays": {
                          "type": "string",
                          "title": "All Mondays",
                          "description": "Mondays within the period"
                        },
                        "tuesdays": {
                          "type": "string",
                          "title": "All Tuesdays",
                          "description": "Tuesdays within the period"
                        },
                        "wednesdays": {
                          "type": "string",
                          "title": "All Wednesdays",
                          "description": "Wednesdays within the period"
                        },
                        "thursdays": {
                          "type": "string",
                          "title": "All Thursdays",
                          "description": "Thursdays within the period"
                        },
                        "fridays": {
                          "type": "string",
                          "description": "Fridays within the period",
                          "title": "All Fridays"
                        },
                        "saturdays": {
                          "type": "string",
                          "description": "Saturdays within the period",
                          "title": "All Saturdays"
                        },
                        "sundays": {
                          "type": "string",
                          "description": "Sundays within the period",
                          "title": "All Sundays"
                        },
                        "hours": {
                          "type": "string",
                          "description": "Hours within the period",
                          "title": "All hours"
                        }
                      }
                    },
                    "working_days": {
                      "title": "Working days",
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "string",
                          "title": "All working total",
                          "description": "Total working days within the period"
                        },
                        "mondays": {
                          "type": "string",
                          "title": "All working Mondays",
                          "description": "Working Mondays within the period"
                        },
                        "tuesdays": {
                          "type": "string",
                          "title": "All working Tuesdays",
                          "description": "Working Tuesdays within the period"
                        },
                        "wednesdays": {
                          "type": "string",
                          "title": "All working Wednesdays",
                          "description": "Working Wednesdays within the period"
                        },
                        "thursdays": {
                          "type": "string",
                          "title": "All working Thursdays",
                          "description": "Working Thursdays within the period"
                        },
                        "fridays": {
                          "type": "string",
                          "description": "Working Fridays within the period",
                          "title": "All working Fridays"
                        },
                        "saturdays": {
                          "type": "string",
                          "description": "Working Saturdays within the period",
                          "title": "All working Saturdays"
                        },
                        "sundays": {
                          "type": "string",
                          "description": "Working Sundays within the period",
                          "title": "All working Sundays"
                        },
                        "work_hours": {
                          "type": "string",
                          "description": "Working hours within the period",
                          "title": "All working hours"
                        },
                        "wages": {
                          "type": "string",
                          "description": "Wages within the period",
                          "title": "All wages"
                        }
                      },
                      "description": "All working days within the period"
                    },
                    "weekend_days": {
                      "type": "object",
                      "title": "Weekend days",
                      "description": "All weekend days within the period",
                      "properties": {
                        "total": {
                          "type": "string",
                          "title": "Total weekend days",
                          "description": "Total weekend days within the period"
                        },
                        "mondays": {
                          "type": "string",
                          "title": "All weekend days on Mondays",
                          "description": "Weekend days taking place on Mondays within the period"
                        },
                        "tuesdays": {
                          "type": "string",
                          "title": "All weekend days on Tuesdays",
                          "description": "Weekend days taking place on Tuesdays within the period"
                        },
                        "wednesdays": {
                          "type": "string",
                          "title": "All weekend days on Wednesdays",
                          "description": "Weekend days taking place on Wednesdays within the period"
                        },
                        "thursdays": {
                          "type": "string",
                          "title": "All weekend days on Thursdays",
                          "description": "Weekend days taking place on Thursdays within the period"
                        },
                        "fridays": {
                          "type": "string",
                          "description": "Weekend days taking place on Fridays within the period",
                          "title": "All weekend days on Fridays"
                        },
                        "saturdays": {
                          "type": "string",
                          "description": "Weekend days taking place on Saturdays within the period",
                          "title": "All weekend days on Saturdays"
                        },
                        "sundays": {
                          "type": "string",
                          "description": "Weekend days taking place on Sundays within the period",
                          "title": "All weekend days on Sundays"
                        }
                      }
                    },
                    "public_holidays": {
                      "title": "Public holidays",
                      "type": "object",
                      "description": "List of public holidays"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/1.2/analyse": {
      "get": {
        "summary": "Analyze",
        "description": "Analyze a period (provide a start_date and an end_date over a given calendar, API responds with the period analysis).",
        "operationId": "Analyze",
        "parameters": [
          {
            "name": "country_code",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The ISO country code (2 letters).",
            "x-ms-summary": "Country code",
            "enum": [
              "AR",
              "AU",
              "AT",
              "BE",
              "BR",
              "BG",
              "CA",
              "CL",
              "CN",
              "CO",
              "CZ",
              "DK",
              "DE",
              "ES",
              "FI",
              "FR",
              "GR",
              "HK",
              "HU",
              "IN",
              "IL",
              "IT",
              "JP",
              "LU",
              "MC",
              "MX",
              "NL",
              "NZ",
              "NO",
              "PE",
              "PL",
              "PT",
              "RO",
              "RU",
              "SG",
              "SK",
              "ZA",
              "KR",
              "CH",
              "SE",
              "TR",
              "US",
              "UA",
              "GB",
              "VE"
            ],
            "x-ms-visibility": "important",
            "default": "US"
          },
          {
            "name": "start_date",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The start date (YYYY-MM-DD)",
            "x-ms-summary": "Start date",
            "x-ms-visibility": "important"
          },
          {
            "name": "end_date",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The end date (YYYY-MM-DD)",
            "x-ms-summary": "End date",
            "x-ms-visibility": "important"
          },
          {
            "name": "start_time",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The start time (HH:MM)",
            "x-ms-summary": "Start time",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "end_time",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The end time (HH:MM)",
            "x-ms-summary": "End time",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "configuration",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The name of the regional preset configuration. See documentation for more.",
            "x-ms-summary": "Configuration",
            "x-ms-visibility": "advanced",

            "default": "Federal holidays"
          },
          {
            "name": "weekend",
            "default": "1000001",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Your weekend structure. Sunday-Monday-Tuesday-Wednesday-Thursday-Friday-Saturday. If the weekend for you is Sunday and Monday, you can send: 1100000 If the weekend is Saturday afternoon and Sunday: 1000003",
            "x-ms-summary": "Weekend",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "week_times",
            "default": "08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Your week working schedule structure. This parameter is useful when computing work hours over a period. When used, this parameter overides the week_hours parameter.",
            "x-ms-summary": "Week times",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "start_template",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The start date of an alternating week template (YYYY-MM-DD) If you define an alternating week template schedule, you have to tell which sunday the template is starting.",
            "x-ms-summary": "Start template",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "use_custom_configuration",
            "default": false,
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Take into account your own personal configuration.",
            "x-ms-summary": "Use custom configuration",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "profile_id",
            "default": "ut",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Profile Id",
            "description": "If you created several profiles under your custom configuration, the ID of the profile to be used. 6 characters.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json; charset=utf-8",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "end_date": {
                      "type": "string",
                      "description": "End date"
                    },
                    "days": {
                      "type": "object",
                      "title": "Days",
                      "description": "All days within the period",
                      "properties": {
                        "total": {
                          "type": "string",
                          "title": "All total",
                          "description": "Total days within the period"
                        },
                        "mondays": {
                          "type": "string",
                          "title": "All Mondays",
                          "description": "Mondays within the period"
                        },
                        "tuesdays": {
                          "type": "string",
                          "title": "All Tuesdays",
                          "description": "Tuesdays within the period"
                        },
                        "wednesdays": {
                          "type": "string",
                          "title": "All Wednesdays",
                          "description": "Wednesdays within the period"
                        },
                        "thursdays": {
                          "type": "string",
                          "title": "All Thursdays",
                          "description": "Thursdays within the period"
                        },
                        "fridays": {
                          "type": "string",
                          "description": "Fridays within the period",
                          "title": "All Fridays"
                        },
                        "saturdays": {
                          "type": "string",
                          "description": "Saturdays within the period",
                          "title": "All Saturdays"
                        },
                        "sundays": {
                          "type": "string",
                          "description": "Sundays within the period",
                          "title": "All Sundays"
                        },
                        "hours": {
                          "type": "string",
                          "description": "Hours within the period",
                          "title": "All hours"
                        }
                      }
                    },
                    "working_days": {
                      "title": "Working days",
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "string",
                          "title": "All working total",
                          "description": "Total working days within the period"
                        },
                        "mondays": {
                          "type": "string",
                          "title": "All working Mondays",
                          "description": "Working Mondays within the period"
                        },
                        "tuesdays": {
                          "type": "string",
                          "title": "All working Tuesdays",
                          "description": "Working Tuesdays within the period"
                        },
                        "wednesdays": {
                          "type": "string",
                          "title": "All working Wednesdays",
                          "description": "Working Wednesdays within the period"
                        },
                        "thursdays": {
                          "type": "string",
                          "title": "All working Thursdays",
                          "description": "Working Thursdays within the period"
                        },
                        "fridays": {
                          "type": "string",
                          "description": "Working Fridays within the period",
                          "title": "All working Fridays"
                        },
                        "saturdays": {
                          "type": "string",
                          "description": "Working Saturdays within the period",
                          "title": "All working Saturdays"
                        },
                        "sundays": {
                          "type": "string",
                          "description": "Working Sundays within the period",
                          "title": "All working Sundays"
                        },
                        "work_hours": {
                          "type": "string",
                          "description": "Working hours within the period",
                          "title": "All working hours"
                        },
                        "wages": {
                          "type": "string",
                          "description": "Wages within the period",
                          "title": "All wages"
                        }
                      },
                      "description": "All working days within the period"
                    },
                    "weekend_days": {
                      "type": "object",
                      "title": "Weekend days",
                      "description": "All weekend days within the period",
                      "properties": {
                        "total": {
                          "type": "string",
                          "title": "Total weekend days",
                          "description": "Total weekend days within the period"
                        },
                        "mondays": {
                          "type": "string",
                          "title": "All weekend days on Mondays",
                          "description": "Weekend days taking place on Mondays within the period"
                        },
                        "tuesdays": {
                          "type": "string",
                          "title": "All weekend days on Tuesdays",
                          "description": "Weekend days taking place on Tuesdays within the period"
                        },
                        "wednesdays": {
                          "type": "string",
                          "title": "All weekend days on Wednesdays",
                          "description": "Weekend days taking place on Wednesdays within the period"
                        },
                        "thursdays": {
                          "type": "string",
                          "title": "All weekend days on Thursdays",
                          "description": "Weekend days taking place on Thursdays within the period"
                        },
                        "fridays": {
                          "type": "string",
                          "description": "Weekend days taking place on Fridays within the period",
                          "title": "All weekend days on Fridays"
                        },
                        "saturdays": {
                          "type": "string",
                          "description": "Weekend days taking place on Saturdays within the period",
                          "title": "All weekend days on Saturdays"
                        },
                        "sundays": {
                          "type": "string",
                          "description": "Weekend days taking place on Sundays within the period",
                          "title": "All weekend days on Sundays"
                        }
                      }
                    },
                    "public_holidays": {
                      "title": "Public holidays",
                      "type": "object",
                      "description": "List of public holidays"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/1.2/get_info_day": {
      "get": {
        "summary": "Get day information",
        "description": "Get detailed information about a specific day.",
        "operationId": "GetInfoDay",
        "parameters": [
          {
            "name": "country_code",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The ISO country code (2 letters).",
            "x-ms-summary": "Country code",
            "enum": [
              "AR",
              "AU",
              "AT",
              "BE",
              "BR",
              "BG",
              "CA",
              "CL",
              "CN",
              "CO",
              "CZ",
              "DK",
              "DE",
              "ES",
              "FI",
              "FR",
              "GR",
              "HK",
              "HU",
              "IN",
              "IL",
              "IT",
              "JP",
              "LU",
              "MC",
              "MX",
              "NL",
              "NZ",
              "NO",
              "PE",
              "PL",
              "PT",
              "RO",
              "RU",
              "SG",
              "SK",
              "ZA",
              "KR",
              "CH",
              "SE",
              "TR",
              "US",
              "UA",
              "GB",
              "VE"
            ],
            "x-ms-visibility": "important",
            "default": "US"
          },
          {
            "name": "date",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The date to analyze (YYYY-MM-DD)",
            "x-ms-summary": "Date",
            "x-ms-visibility": "important"
          },
          {
            "name": "configuration",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The name of the regional preset configuration. See documentation for more.",
            "x-ms-summary": "Configuration",
            "x-ms-visibility": "advanced",

            "default": "Federal holidays"
          },
          {
            "name": "weekend",
            "default": "1000001",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Your weekend structure. Sunday-Monday-Tuesday-Wednesday-Thursday-Friday-Saturday. If the weekend for you is Sunday and Monday, you can send: 1100000 If the weekend is Saturday afternoon and Sunday: 1000003",
            "x-ms-summary": "Weekend",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "use_custom_configuration",
            "default": false,
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Take into account your own personal configuration.",
            "x-ms-summary": "Use custom configuration",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "profile_id",
            "default": "ut",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Profile Id",
            "description": "If you created several profiles under your custom configuration, the ID of the profile to be used. 6 characters.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json; charset=utf-8",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "working_day": {
                      "type": "string",
                      "description": "Is this a working day (0 means no).",
                      "title": "Working day"
                    },
                    "work_hours": {
                      "type": "string",
                      "description": "Number of working hours on that day.",
                      "title": "Working hours"
                    },
                    "wages": {
                      "type": "string",
                      "description": "Wages",
                      "title": "Wages"
                    },
                    "morning_start": {
                      "type": "string",
                      "description": "Time when morning starts",
                      "title": "Morning start"
                    },
                    "morning_end": {
                      "type": "string",
                      "description": "Time when morning ends",
                      "title": "Morning end"
                    },
                    "afternoon_start": {
                      "type": "string",
                      "description": "Time when afternoon starts",
                      "title": "Afternoon start"
                    },
                    "afternoon_end": {
                      "type": "string",
                      "description": "Time when afternoon ends",
                      "title": "Afternoon end"
                    },
                    "public_holiday": {
                      "type": "string",
                      "description": "Is this a public holiday (0 means no).",
                      "title": "Public holiday"
                    },
                    "public_holiday_description": {
                      "type": "string",
                      "description": "Description of this public holiday",
                      "title": "Public holiday description"
                    },
                    "weekend_day": {
                      "type": "string",
                      "description": "Is this a weekend day (0 means no).",
                      "title": "Weekend day"
                    },
                    "custom_date": {
                      "type": "string",
                      "description": "Is this a custom date (0 means no).",
                      "title": "Custom date"
                    },
                    "custom_date_description": {
                      "type": "string",
                      "description": "Description for this custom date.",
                      "title": "Custom date description"
                    },
                    "custom_date_color": {
                      "type": "string",
                      "description": "Color defined for this custom date.",
                      "title": "Custom date color"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/1.2/list_non_working_days": {
      "get": {
        "summary": "List non working days",
        "description": "List the non working days (weekend days, public holidays and custom dates) between 2 dates.",
        "operationId": "ListNonWorkingDays",
        "parameters": [
          {
            "name": "country_code",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The ISO country code (2 letters).",
            "x-ms-summary": "Country code",
            "enum": [
              "AR",
              "AU",
              "AT",
              "BE",
              "BR",
              "BG",
              "CA",
              "CL",
              "CN",
              "CO",
              "CZ",
              "DK",
              "DE",
              "ES",
              "FI",
              "FR",
              "GR",
              "HK",
              "HU",
              "IN",
              "IL",
              "IT",
              "JP",
              "LU",
              "MC",
              "MX",
              "NL",
              "NZ",
              "NO",
              "PE",
              "PL",
              "PT",
              "RO",
              "RU",
              "SG",
              "SK",
              "ZA",
              "KR",
              "CH",
              "SE",
              "TR",
              "US",
              "UA",
              "GB",
              "VE"
            ],
            "x-ms-visibility": "important",
            "default": "US"
          },
          {
            "name": "start_date",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The start date (YYYY-MM-DD)",
            "x-ms-summary": "Start date",
            "x-ms-visibility": "important"
          },
          {
            "name": "end_date",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The end date (YYYY-MM-DD)",
            "x-ms-summary": "End date",
            "x-ms-visibility": "important"
          },
          {
            "name": "configuration",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The name of the regional preset configuration. See documentation for more.",
            "x-ms-summary": "Configuration",
            "x-ms-visibility": "advanced",

            "default": "Federal holidays"
          },
          {
            "name": "weekend",
            "default": "1000001",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Your weekend structure. Sunday-Monday-Tuesday-Wednesday-Thursday-Friday-Saturday. If the weekend for you is Sunday and Monday, you can send: 1100000 If the weekend is Saturday afternoon and Sunday: 1000003",
            "x-ms-summary": "Weekend",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "use_custom_configuration",
            "default": false,
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Take into account your own personal configuration.",
            "x-ms-summary": "Use custom configuration",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "profile_id",
            "default": "ut",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Profile Id",
            "description": "If you created several profiles under your custom configuration, the ID of the profile to be used. 6 characters.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json; charset=utf-8",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "non_working_days": {
                      "type": "object",
                      "description": "List of non working days.",
                      "title": "Non working days"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/1.2/add_working_hours": {
      "get": {
        "summary": "Add working hours",
        "description": "Add an amount of working time to a given start date/time.",
        "operationId": "AddWorkingHours",
        "parameters": [
          {
            "name": "country_code",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The ISO country code (2 letters).",
            "x-ms-summary": "Country code",
            "enum": [
              "AR",
              "AU",
              "AT",
              "BE",
              "BR",
              "BG",
              "CA",
              "CL",
              "CN",
              "CO",
              "CZ",
              "DK",
              "DE",
              "ES",
              "FI",
              "FR",
              "GR",
              "HK",
              "HU",
              "IN",
              "IL",
              "IT",
              "JP",
              "LU",
              "MC",
              "MX",
              "NL",
              "NZ",
              "NO",
              "PE",
              "PL",
              "PT",
              "RO",
              "RU",
              "SG",
              "SK",
              "ZA",
              "KR",
              "CH",
              "SE",
              "TR",
              "US",
              "UA",
              "GB",
              "VE"
            ],
            "x-ms-visibility": "important",
            "default": "US"
          },
          {
            "name": "start_date",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The start date (YYYY-MM-DD)",
            "x-ms-summary": "Start date",
            "x-ms-visibility": "important"
          },
          {
            "name": "start_time",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The start time (HH:MM)",
            "x-ms-summary": "Start time",
            "x-ms-visibility": "important"
          },
          {
            "name": "increment_time",
            "default": "1:00",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The amount of working time to be added (or removed) to the start date time. Format: H:i",
            "x-ms-summary": "Increment time",
            "x-ms-visibility": "important"
          },
          {
            "name": "configuration",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The name of the regional preset configuration. See documentation for more.",
            "x-ms-summary": "Configuration",
            "x-ms-visibility": "advanced",

            "default": "Federal holidays"
          },
          {
            "name": "weekend",
            "default": "1000001",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Your weekend structure. Sunday-Monday-Tuesday-Wednesday-Thursday-Friday-Saturday. If the weekend for you is Sunday and Monday, you can send: 1100000 If the weekend is Saturday afternoon and Sunday: 1000003",
            "x-ms-summary": "Weekend",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "week_times",
            "default": "08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Your week working schedule structure. This parameter is useful when computing work hours over a period. When used, this parameter overides the week_hours parameter.",
            "x-ms-summary": "Week times",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "start_template",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The start date of an alternating week template (YYYY-MM-DD) If you define an alternating week template schedule, you have to tell which sunday the template is starting.",
            "x-ms-summary": "Start template",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "use_custom_configuration",
            "default": false,
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Take into account your own personal configuration.",
            "x-ms-summary": "Use custom configuration",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "profile_id",
            "default": "ut",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Profile Id",
            "description": "If you created several profiles under your custom configuration, the ID of the profile to be used. 6 characters.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json; charset=utf-8",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "end_date": {
                      "type": "string",
                      "description": "Calculated end date.",
                      "title": "End date"
                    },
                    "end_time": {
                      "type": "string",
                      "description": "Calculated end time.",
                      "title": "End time"
                    }
                  },
                  "description": "result"
                }
              }
            }
          }
        }
      }
    },
    "/1.2/add_public_holidays": {
      "get": {
        "summary": "Add public holidays",
        "description": "Add days where public holidays are taking place to a given date.",
        "operationId": "AddPublicHolidays",
        "parameters": [
          {
            "name": "country_code",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The ISO country code (2 letters).",
            "x-ms-summary": "Country code",
            "enum": [
              "AR",
              "AU",
              "AT",
              "BE",
              "BR",
              "BG",
              "CA",
              "CL",
              "CN",
              "CO",
              "CZ",
              "DK",
              "DE",
              "ES",
              "FI",
              "FR",
              "GR",
              "HK",
              "HU",
              "IN",
              "IL",
              "IT",
              "JP",
              "LU",
              "MC",
              "MX",
              "NL",
              "NZ",
              "NO",
              "PE",
              "PL",
              "PT",
              "RO",
              "RU",
              "SG",
              "SK",
              "ZA",
              "KR",
              "CH",
              "SE",
              "TR",
              "US",
              "UA",
              "GB",
              "VE"
            ],
            "x-ms-visibility": "important",
            "default": "US"
          },
          {
            "name": "start_date",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The start date (YYYY-MM-DD)",
            "x-ms-summary": "Start date",
            "x-ms-visibility": "important"
          },
          {
            "name": "increment",
            "default": "10",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The number of days being public holidays you want to add to your start date (positive or negative integer but not zero).",
            "x-ms-summary": "Increment",
            "x-ms-visibility": "important"
          },
          {
            "name": "include_start",
            "default": true,
            "in": "query",
            "type": "boolean",
            "required": true,
            "description": "Should the count include the start_date? Default value is true.",
            "x-ms-summary": "Include start",
            "x-ms-visibility": "important"
          },
          {
            "name": "configuration",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The name of the regional preset configuration. See documentation for more.",
            "x-ms-summary": "Configuration",
            "x-ms-visibility": "advanced",

            "default": "Federal holidays"
          },
          {
            "name": "weekend",
            "default": "1000001",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Your weekend structure. Sunday-Monday-Tuesday-Wednesday-Thursday-Friday-Saturday. If the weekend for you is Sunday and Monday, you can send: 1100000 If the weekend is Saturday afternoon and Sunday: 1000003",
            "x-ms-summary": "Weekend",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "week_times",
            "default": "08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Your week working schedule structure. This parameter is useful when computing work hours over a period. When used, this parameter overides the week_hours parameter.",
            "x-ms-summary": "Week times",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "start_template",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The start date of an alternating week template (YYYY-MM-DD) If you define an alternating week template schedule, you have to tell which sunday the template is starting.",
            "x-ms-summary": "Start template",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "use_custom_configuration",
            "default": false,
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Take into account your own personal configuration.",
            "x-ms-summary": "Use custom configuration",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "profile_id",
            "default": "ut",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Profile Id",
            "description": "If you created several profiles under your custom configuration, the ID of the profile to be used. 6 characters.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json; charset=utf-8",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "end_date": {
                      "type": "string",
                      "description": "End date"
                    },
                    "days": {
                      "type": "object",
                      "title": "Days",
                      "description": "All days within the period",
                      "properties": {
                        "total": {
                          "type": "string",
                          "title": "All total",
                          "description": "Total days within the period"
                        },
                        "mondays": {
                          "type": "string",
                          "title": "All Mondays",
                          "description": "Mondays within the period"
                        },
                        "tuesdays": {
                          "type": "string",
                          "title": "All Tuesdays",
                          "description": "Tuesdays within the period"
                        },
                        "wednesdays": {
                          "type": "string",
                          "title": "All Wednesdays",
                          "description": "Wednesdays within the period"
                        },
                        "thursdays": {
                          "type": "string",
                          "title": "All Thursdays",
                          "description": "Thursdays within the period"
                        },
                        "fridays": {
                          "type": "string",
                          "description": "Fridays within the period",
                          "title": "All Fridays"
                        },
                        "saturdays": {
                          "type": "string",
                          "description": "Saturdays within the period",
                          "title": "All Saturdays"
                        },
                        "sundays": {
                          "type": "string",
                          "description": "Sundays within the period",
                          "title": "All Sundays"
                        },
                        "hours": {
                          "type": "string",
                          "description": "Hours within the period",
                          "title": "All hours"
                        }
                      }
                    },
                    "working_days": {
                      "title": "Working days",
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "string",
                          "title": "All working total",
                          "description": "Total working days within the period"
                        },
                        "mondays": {
                          "type": "string",
                          "title": "All working Mondays",
                          "description": "Working Mondays within the period"
                        },
                        "tuesdays": {
                          "type": "string",
                          "title": "All working Tuesdays",
                          "description": "Working Tuesdays within the period"
                        },
                        "wednesdays": {
                          "type": "string",
                          "title": "All working Wednesdays",
                          "description": "Working Wednesdays within the period"
                        },
                        "thursdays": {
                          "type": "string",
                          "title": "All working Thursdays",
                          "description": "Working Thursdays within the period"
                        },
                        "fridays": {
                          "type": "string",
                          "description": "Working Fridays within the period",
                          "title": "All working Fridays"
                        },
                        "saturdays": {
                          "type": "string",
                          "description": "Working Saturdays within the period",
                          "title": "All working Saturdays"
                        },
                        "sundays": {
                          "type": "string",
                          "description": "Working Sundays within the period",
                          "title": "All working Sundays"
                        },
                        "work_hours": {
                          "type": "string",
                          "description": "Working hours within the period",
                          "title": "All working hours"
                        },
                        "wages": {
                          "type": "string",
                          "description": "Wages within the period",
                          "title": "All wages"
                        }
                      },
                      "description": "All working days within the period"
                    },
                    "weekend_days": {
                      "type": "object",
                      "title": "Weekend days",
                      "description": "All weekend days within the period",
                      "properties": {
                        "total": {
                          "type": "string",
                          "title": "Total weekend days",
                          "description": "Total weekend days within the period"
                        },
                        "mondays": {
                          "type": "string",
                          "title": "All weekend days on Mondays",
                          "description": "Weekend days taking place on Mondays within the period"
                        },
                        "tuesdays": {
                          "type": "string",
                          "title": "All weekend days on Tuesdays",
                          "description": "Weekend days taking place on Tuesdays within the period"
                        },
                        "wednesdays": {
                          "type": "string",
                          "title": "All weekend days on Wednesdays",
                          "description": "Weekend days taking place on Wednesdays within the period"
                        },
                        "thursdays": {
                          "type": "string",
                          "title": "All weekend days on Thursdays",
                          "description": "Weekend days taking place on Thursdays within the period"
                        },
                        "fridays": {
                          "type": "string",
                          "description": "Weekend days taking place on Fridays within the period",
                          "title": "All weekend days on Fridays"
                        },
                        "saturdays": {
                          "type": "string",
                          "description": "Weekend days taking place on Saturdays within the period",
                          "title": "All weekend days on Saturdays"
                        },
                        "sundays": {
                          "type": "string",
                          "description": "Weekend days taking place on Sundays within the period",
                          "title": "All weekend days on Sundays"
                        }
                      }
                    },
                    "public_holidays": {
                      "title": "Public holidays",
                      "type": "object",
                      "description": "List of public holidays"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/1.2/add_weekend_days": {
      "get": {
        "summary": "Add weekend days",
        "description": "Add weekends days to a given date.",
        "operationId": "AddWeekendDays",
        "parameters": [
          {
            "name": "country_code",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The ISO country code (2 letters).",
            "x-ms-summary": "Country code",
            "enum": [
              "AR",
              "AU",
              "AT",
              "BE",
              "BR",
              "BG",
              "CA",
              "CL",
              "CN",
              "CO",
              "CZ",
              "DK",
              "DE",
              "ES",
              "FI",
              "FR",
              "GR",
              "HK",
              "HU",
              "IN",
              "IL",
              "IT",
              "JP",
              "LU",
              "MC",
              "MX",
              "NL",
              "NZ",
              "NO",
              "PE",
              "PL",
              "PT",
              "RO",
              "RU",
              "SG",
              "SK",
              "ZA",
              "KR",
              "CH",
              "SE",
              "TR",
              "US",
              "UA",
              "GB",
              "VE"
            ],
            "x-ms-visibility": "important",
            "default": "US"
          },
          {
            "name": "start_date",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The start date (YYYY-MM-DD)",
            "x-ms-summary": "Start date",
            "x-ms-visibility": "important"
          },
          {
            "name": "increment",
            "default": "10",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The number of weekend days you want to add to your start date (positive or negative integer but not zero).",
            "x-ms-summary": "Increment",
            "x-ms-visibility": "important"
          },
          {
            "name": "include_start",
            "default": true,
            "in": "query",
            "type": "boolean",
            "required": true,
            "description": "Should the count include the start_date? Default value is true.",
            "x-ms-summary": "Include start",
            "x-ms-visibility": "important"
          },
          {
            "name": "configuration",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The name of the regional preset configuration. See documentation for more.",
            "x-ms-summary": "Configuration",
            "x-ms-visibility": "advanced",

            "default": "Federal holidays"
          },
          {
            "name": "weekend",
            "default": "1000001",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Your weekend structure. Sunday-Monday-Tuesday-Wednesday-Thursday-Friday-Saturday. If the weekend for you is Sunday and Monday, you can send: 1100000 If the weekend is Saturday afternoon and Sunday: 1000003",
            "x-ms-summary": "Weekend",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "week_times",
            "default": "08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*08:00*12:00*14:00*18:00*",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Your week working schedule structure. This parameter is useful when computing work hours over a period. When used, this parameter overides the week_hours parameter.",
            "x-ms-summary": "Week times",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "start_template",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The start date of an alternating week template (YYYY-MM-DD) If you define an alternating week template schedule, you have to tell which sunday the template is starting.",
            "x-ms-summary": "Start template",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "use_custom_configuration",
            "default": false,
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Take into account your own personal configuration.",
            "x-ms-summary": "Use custom configuration",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "profile_id",
            "default": "ut",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Profile Id",
            "description": "If you created several profiles under your custom configuration, the ID of the profile to be used. 6 characters.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json; charset=utf-8",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "end_date": {
                      "type": "string",
                      "description": "End date"
                    },
                    "days": {
                      "type": "object",
                      "title": "Days",
                      "description": "All days within the period",
                      "properties": {
                        "total": {
                          "type": "string",
                          "title": "All total",
                          "description": "Total days within the period"
                        },
                        "mondays": {
                          "type": "string",
                          "title": "All Mondays",
                          "description": "Mondays within the period"
                        },
                        "tuesdays": {
                          "type": "string",
                          "title": "All Tuesdays",
                          "description": "Tuesdays within the period"
                        },
                        "wednesdays": {
                          "type": "string",
                          "title": "All Wednesdays",
                          "description": "Wednesdays within the period"
                        },
                        "thursdays": {
                          "type": "string",
                          "title": "All Thursdays",
                          "description": "Thursdays within the period"
                        },
                        "fridays": {
                          "type": "string",
                          "description": "Fridays within the period",
                          "title": "All Fridays"
                        },
                        "saturdays": {
                          "type": "string",
                          "description": "Saturdays within the period",
                          "title": "All Saturdays"
                        },
                        "sundays": {
                          "type": "string",
                          "description": "Sundays within the period",
                          "title": "All Sundays"
                        },
                        "hours": {
                          "type": "string",
                          "description": "Hours within the period",
                          "title": "All hours"
                        }
                      }
                    },
                    "working_days": {
                      "title": "Working days",
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "string",
                          "title": "All working total",
                          "description": "Total working days within the period"
                        },
                        "mondays": {
                          "type": "string",
                          "title": "All working Mondays",
                          "description": "Working Mondays within the period"
                        },
                        "tuesdays": {
                          "type": "string",
                          "title": "All working Tuesdays",
                          "description": "Working Tuesdays within the period"
                        },
                        "wednesdays": {
                          "type": "string",
                          "title": "All working Wednesdays",
                          "description": "Working Wednesdays within the period"
                        },
                        "thursdays": {
                          "type": "string",
                          "title": "All working Thursdays",
                          "description": "Working Thursdays within the period"
                        },
                        "fridays": {
                          "type": "string",
                          "description": "Working Fridays within the period",
                          "title": "All working Fridays"
                        },
                        "saturdays": {
                          "type": "string",
                          "description": "Working Saturdays within the period",
                          "title": "All working Saturdays"
                        },
                        "sundays": {
                          "type": "string",
                          "description": "Working Sundays within the period",
                          "title": "All working Sundays"
                        },
                        "work_hours": {
                          "type": "string",
                          "description": "Working hours within the period",
                          "title": "All working hours"
                        },
                        "wages": {
                          "type": "string",
                          "description": "Wages within the period",
                          "title": "All wages"
                        }
                      },
                      "description": "All working days within the period"
                    },
                    "weekend_days": {
                      "type": "object",
                      "title": "Weekend days",
                      "description": "All weekend days within the period",
                      "properties": {
                        "total": {
                          "type": "string",
                          "title": "Total weekend days",
                          "description": "Total weekend days within the period"
                        },
                        "mondays": {
                          "type": "string",
                          "title": "All weekend days on Mondays",
                          "description": "Weekend days taking place on Mondays within the period"
                        },
                        "tuesdays": {
                          "type": "string",
                          "title": "All weekend days on Tuesdays",
                          "description": "Weekend days taking place on Tuesdays within the period"
                        },
                        "wednesdays": {
                          "type": "string",
                          "title": "All weekend days on Wednesdays",
                          "description": "Weekend days taking place on Wednesdays within the period"
                        },
                        "thursdays": {
                          "type": "string",
                          "title": "All weekend days on Thursdays",
                          "description": "Weekend days taking place on Thursdays within the period"
                        },
                        "fridays": {
                          "type": "string",
                          "description": "Weekend days taking place on Fridays within the period",
                          "title": "All weekend days on Fridays"
                        },
                        "saturdays": {
                          "type": "string",
                          "description": "Weekend days taking place on Saturdays within the period",
                          "title": "All weekend days on Saturdays"
                        },
                        "sundays": {
                          "type": "string",
                          "description": "Weekend days taking place on Sundays within the period",
                          "title": "All weekend days on Sundays"
                        }
                      }
                    },
                    "public_holidays": {
                      "title": "Public holidays",
                      "type": "object",
                      "description": "List of public holidays"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/1.2/address_to_configuration": {
      "get": {
        "summary": "Locating a postal address",
        "description": "Sometimes it may be needed to identify which calendar configuration is relevant to a given customer's postal address. This service returns the appropriate country_code & configuration for a given postal adresss.",
        "operationId": "AddressToConfiguration",
        "parameters": [
          {
            "name": "address",
            "default": "Plac Defilad 1, 00-901 Warsaw, Poland",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The postal address. It is a string with no constraint.",
            "x-ms-summary": "Address",
            "x-ms-visibility": "important"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json; charset=utf-8",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Address status",
                      "title": "Status"
                    },
                    "country_code": {
                      "type": "string",
                      "description": "ISO country code.",
                      "title": "Country code"
                    },
                    "configuration": {
                      "type": "string",
                      "description": "Address additional information.",
                      "title": "Configuration"
                    },
                    "formatted_address": {
                      "type": "string",
                      "description": "Returned formatted address.",
                      "title": "Formatted address"
                    }
                  },
                  "description": "result"
                }
              }
            }
          }
        }
      }
    },
    "/1.2/quota": {
      "get": {
        "summary": "Check quota",
        "description": "Check quota of left days to use within the current month and available for the next month.",
        "operationId": "Quota",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json; charset=utf-8",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "string",
                      "description": "The state of your plan (1:active, 2:cancelled, -1:error).",
                      "title": "State"
                    },
                    "current": {
                      "type": "string",
                      "description": "Current quota (days left to be analyzed within this month).",
                      "title": "Current"
                    },
                    "next": {
                      "type": "string",
                      "description": "Quota available for next month.",
                      "title": "Next"
                    }
                  },
                  "description": "result"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}