{
  "swagger": "2.0",
  "info": {
    "title": "RiskIQ Illuminate",
    "contact": {
      "name": "RiskIQ Illuminate",
      "url": "https://www.riskiq.com/contact-us/",
      "email": "support@riskiq.com"
    },
    "description": "RiskIQ Illuminate reveals cyber threats relevant to your critical assets through connected digital relationships. It is the only security intelligence solution with tailored attack surface intelligence to uncover exposures, risks, and threats against your unique digital footprint, pinpointing what’s relevant to you—all in one place.",
    "version": "1.1"
  },
  "host": "api.riskiq.net",
  "basePath": "/pt/v2",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/account": {
      "get": {
        "tags": [
          "Account"
        ],
        "description": "Retrieve current account metadata and settings.",
        "summary": "Get account metadata and settings",
        "operationId": "Account",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/AccountResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/account/history": {
      "get": {
        "tags": [
          "Account"
        ],
        "description": "Retrieve the details of API usage history of the account.",
        "summary": "Get API usage history",
        "operationId": "History",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "History type (api/web), defaults to both",
            "type": "string",
            "x-ms-summary": "Source",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "dt",
            "in": "query",
            "required": false,
            "description": "Date to start showing results for",
            "type": "string",
            "x-ms-summary": "Date",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "focus",
            "in": "query",
            "required": false,
            "description": "Query to filter for (domain, ip, etc)",
            "type": "string",
            "x-ms-summary": "Focus",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/HistoryResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/account/monitors": {
      "get": {
        "tags": [
          "Account"
        ],
        "description": "Retrieve the set of active monitors.",
        "summary": "Get active monitors",
        "operationId": "Monitors",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/MonitorsResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/account/organization": {
      "get": {
        "tags": [
          "Account"
        ],
        "description": "Retrieve the details of current organization metadata.",
        "summary": "Get current organization metadata",
        "operationId": "Organization",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/OrganizationResponse"
            }
          }
        }
      }
    },
    "/account/quota": {
      "get": {
        "tags": [
          "Account"
        ],
        "description": "Retrieve the details of current account and organization quotas.",
        "summary": "Get account and organization quotas",
        "operationId": "Quota",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/QuotaResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/account/sources": {
      "get": {
        "tags": [
          "Account"
        ],
        "description": "Retrieve the details of sources being used for queries.",
        "summary": "Get sources used for queries",
        "operationId": "Sources",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "The source to filter on",
            "type": "string",
            "x-ms-summary": "Source",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/SourcesResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/account/organization/teamstream": {
      "get": {
        "tags": [
          "Account"
        ],
        "description": "Retrieve the details of team activity.",
        "summary": "Get team activity",
        "operationId": "Teamstream",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Filter to this source",
            "type": "string",
            "x-ms-summary": "Source",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "dt",
            "in": "query",
            "required": false,
            "description": "Filter to this datetime. Formats: \"yyyy-MM-dd\", \"yyyy-MM-dd HH:mm:ss\" ",
            "type": "string",
            "x-ms-summary": "Date",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filter by type field",
            "type": "string",
            "x-ms-summary": "Type",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "focus",
            "in": "query",
            "required": false,
            "description": "Filter by focus (domain, ip, etc)",
            "type": "string",
            "x-ms-summary": "Focus",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/TeamstreamResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/account/classifications": {
      "get": {
        "tags": [
          "Account"
        ],
        "description": "Retrieve items with the specified classification.",
        "summary": "Get items by classification",
        "operationId": "Classifications",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "classification",
            "in": "query",
            "required": false,
            "description": "Classification for which to retrieve items for",
            "type": "string",
            "x-ms-summary": "Classification",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/ClassificationsResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/actions/tags": {
      "get": {
        "tags": [
          "Actions"
        ],
        "description": "Get tags from a given artifact.",
        "summary": "Get tags",
        "operationId": "GetTags",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Artifact for which to retrieve tags",
            "required": true,
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/TagActionResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      },
      "delete": {
        "tags": [
          "Actions"
        ],
        "description": "Removes tags from an artifact.",
        "summary": "Delete tags",
        "operationId": "DeleteTags",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Delete tags request",
            "required": true,
            "schema": {
              "type": "object"
            },
            "x-ms-summary": "Request",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/TagActionResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      },
      "post": {
        "tags": [
          "Actions"
        ],
        "description": "Adds tags to a given artifact.",
        "summary": "Add tags",
        "operationId": "AddTags",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Add tags request",
            "required": true,
            "schema": {
              "type": "object"
            },
            "x-ms-summary": "Request",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/TagActionResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      },
      "put": {
        "tags": [
          "Actions"
        ],
        "description": "Sets tags to a given artifact.",
        "summary": "Set tags",
        "operationId": "SetTags",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Set tags request",
            "required": true,
            "schema": {
              "type": "object"
            },
            "x-ms-summary": "Request",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/TagActionResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/actions/bulk/classification": {
      "get": {
        "tags": [
          "Actions"
        ],
        "description": "Retrieve classification statuses for given domains.",
        "summary": "Get bulk classification status",
        "operationId": "GetBulkClassificationStatus",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Domains for which to retrieve classification statuses",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/BulkClassificationResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      },
      "post": {
        "tags": [
          "Actions"
        ],
        "description": "Set classification statuses for given domains.",
        "summary": "Set bulk classification status",
        "operationId": "SetBulkClassificationStatus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Set bulk classification status request",
            "required": true,
            "schema": {
              "type": "object"
            },
            "x-ms-summary": "Request",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/ClassificationInfo"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/actions/classification": {
      "get": {
        "tags": [
          "Actions"
        ],
        "description": "Retrieve classification status for a given domain.",
        "summary": "Get classification status",
        "operationId": "GetClassificationStatus",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Domain for which to retrieve classification status",
            "required": true,
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/ClassificationInfo"
            }
          }
        },
        "x-ms-visibility": "important"
      },
      "post": {
        "tags": [
          "Actions"
        ],
        "description": "Sets the classification status for a given domain.",
        "summary": "Set classification status",
        "operationId": "SetClassificationStatus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Set classification status request",
            "required": true,
            "schema": {
              "type": "object"
            },
            "x-ms-summary": "Request",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/ClassificationInfo"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/actions/ever-compromised": {
      "get": {
        "tags": [
          "Actions"
        ],
        "description": "Indicates whether or not a given domain has ever been compromised.",
        "summary": "Get compromised status",
        "operationId": "GetCompromisedStatus",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Domain to check for compromised status",
            "required": true,
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/CompromisedStatusResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      },
      "post": {
        "tags": [
          "Actions"
        ],
        "description": "Sets status for a domain to indicate if it has ever been compromised.",
        "summary": "Set compromised status",
        "operationId": "SetCompromisedStatus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Set compromised status request",
            "required": true,
            "schema": {
              "type": "object"
            },
            "x-ms-summary": "Request",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/CompromisedStatusResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/actions/dynamic-dns": {
      "get": {
        "tags": [
          "Actions"
        ],
        "description": "Indicates whether or not a domain's DNS records are updated via dynamic DNS.",
        "summary": "Get dynamic DNS status",
        "operationId": "GetDynamicDNSStatus",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Domain for which to retrieve dynamic DNS status",
            "required": true,
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/DynamicDnsResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      },
      "post": {
        "tags": [
          "Actions"
        ],
        "description": "Sets a domain's status to indicate whether or not its DNS records are updated via dynamic DNS.",
        "summary": "Set dynamic DNS status",
        "operationId": "SetDynamicDNSStatus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Set dynamic DNS status request",
            "required": true,
            "schema": {
              "type": "object"
            },
            "x-ms-summary": "Request",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/DynamicDnsResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/actions/monitor": {
      "get": {
        "tags": [
          "Actions"
        ],
        "description": "Indicates whether or not a domain is monitored.",
        "summary": "Get monitor status",
        "operationId": "GetMonitorStatus",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Domain for which to check for monitoring",
            "required": true,
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/MonitorStatusResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/actions/sinkhole": {
      "get": {
        "tags": [
          "Actions"
        ],
        "description": "Indicates whether or not an IP address is a sinkhole.",
        "summary": "Get sinkhole status",
        "operationId": "GetSinkholeStatus",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "IP address to check for sinkhole status",
            "required": true,
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/SinkholeStatusResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      },
      "post": {
        "tags": [
          "Actions"
        ],
        "description": "Sets status for an IP address to indicate whether or not it is a sinkhole.",
        "summary": "Set sinkhole status",
        "operationId": "SetSinkholeStatus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Set sinkhole status request",
            "required": true,
            "schema": {
              "type": "object"
            },
            "x-ms-summary": "Request",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/SinkholeStatusResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/actions/tags/search": {
      "get": {
        "tags": [
          "Actions"
        ],
        "description": "Retrieve artifacts for a given tag.",
        "summary": "Search tags",
        "operationId": "SearchTags",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Tag for which to retrieve artifacts",
            "required": true,
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/ActionSearchTagResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/artifact": {
      "get": {
        "tags": [
          "Artifact"
        ],
        "description": "Read existing artifacts. If no filters are passed, this returns all your personal artifacts created by you or your organization.",
        "summary": "Find artifact",
        "operationId": "FindArtifact",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "artifact",
            "in": "query",
            "required": false,
            "description": "The artifact UUID id",
            "type": "string",
            "x-ms-summary": "Artifact",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "project",
            "in": "query",
            "required": false,
            "description": "Filter by project UUID id",
            "type": "string",
            "x-ms-summary": "Project",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "description": "Filter by owner (an email or organization id)",
            "type": "string",
            "x-ms-summary": "Owner",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "creator",
            "in": "query",
            "required": false,
            "description": "Filter by creator",
            "type": "string",
            "x-ms-summary": "Creator",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "organization",
            "in": "query",
            "required": false,
            "description": "Filter by organization",
            "type": "string",
            "x-ms-summary": "Organization",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Filter by query (passivetotal.org, etc)",
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filter by type (domain, ip, etc)",
            "type": "string",
            "x-ms-summary": "Type",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/FindArtifactResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      },
      "delete": {
        "tags": [
          "Artifact"
        ],
        "description": "Delete artifact having a certain UUID.",
        "summary": "Delete artifact with a UUID",
        "operationId": "DeleteArtifact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Delete artifact request",
            "required": true,
            "schema": {
              "type": "object"
            },
            "x-ms-summary": "Request",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/SingleArtifactResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      },
      "post": {
        "tags": [
          "Artifact"
        ],
        "description": "Update artifact, or toggle monitoring status.",
        "summary": "Update artifact",
        "operationId": "UpdateArtifact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Update artifact request",
            "required": true,
            "schema": {
              "type": "object"
            },
            "x-ms-summary": "Request",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/SingleArtifactResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      },
      "put": {
        "tags": [
          "Artifact"
        ],
        "description": "Create artifact with given parameters.",
        "summary": "Create artifact",
        "operationId": "CreateArtifact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Create artifact request",
            "required": true,
            "schema": {
              "type": "object"
            },
            "x-ms-summary": "Request",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/SingleArtifactResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/artifact/bulk": {
      "delete": {
        "tags": [
          "Artifact"
        ],
        "description": "Delete artifacts in bulk by their artifacts ids.",
        "summary": "Delete artifacts in bulk",
        "operationId": "BulkArtifactDelete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "artifacts",
            "in": "body",
            "description": "The artifact ids to delete",
            "required": true,
            "schema": {
              "type": "object"
            },
            "x-ms-summary": "Artifacts",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/BulkDeleteResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      },
      "post": {
        "tags": [
          "Artifact"
        ],
        "description": "Perform artifact updates in bulk.",
        "summary": "Artifact updates in bulk",
        "operationId": "BulkArtifactUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "artifacts",
            "in": "body",
            "description": "Artifact updates in bulk",
            "required": true,
            "schema": {
              "type": "object"
            },
            "x-ms-summary": "Artifacts",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/BulkUpdateResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      },
      "put": {
        "tags": [
          "Artifact"
        ],
        "description": "Create artifacts in bulk with given parameters.",
        "summary": "Create artifacts in bulk",
        "operationId": "BulkArtifactCreate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "artifacts",
            "in": "body",
            "description": "Create artifacts in bulk request",
            "required": true,
            "schema": {
              "type": "object"
            },
            "x-ms-summary": "Artifacts",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/BulkCreateResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/articles/indicators": {
      "get": {
        "tags": [
          "Articles"
        ],
        "description": "Retrieves articles indicators.",
        "summary": "Get articles indicators",
        "operationId": "GetArticlesIndicators",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "articleGuid",
            "in": "query",
            "description": "The article short guid. Use this parameter if you want to consult the indicators of a single article",
            "required": false,
            "type": "string",
            "x-ms-summary": "Article GUID",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "This represents the publish date of articles where you want to start looking at indicators Formats:yyyy-MM-dd HH:mm:ss",
            "required": false,
            "type": "string",
            "x-ms-summary": "Start Date",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/ArticlesIndicatorsResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/articles/indicator": {
      "get": {
        "tags": [
          "Articles"
        ],
        "description": "Retrieves all articles containing the indicator specified.",
        "summary": "Get articles by indicator",
        "operationId": "GetArticlesByIndicator",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Indicator value to search for in articles (e.g. domain, ip)",
            "required": true,
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Indicator type to filter by",
            "required": false,
            "type": "string",
            "x-ms-summary": "Type",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/ArticlesListResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/articles/{article}": {
      "get": {
        "tags": [
          "Articles"
        ],
        "description": "Retrieves the details of the article specified.",
        "summary": "Get article details",
        "operationId": "GetArticleDetails",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "article",
            "in": "path",
            "description": "Article short guid",
            "required": true,
            "type": "string",
            "x-ms-summary": "Article",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/ArticlesResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/articles": {
      "get": {
        "tags": [
          "Articles"
        ],
        "description": "Retrieves all articles.",
        "summary": "Get articles",
        "operationId": "GetArticles",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Order to sort, defaults to created",
            "required": false,
            "type": "string",
            "default": "created",
            "x-ms-summary": "Sort",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Field name to sort by, defaults to desc",
            "required": false,
            "type": "string",
            "default": "desc",
            "enum": [
              "desc",
              "asc"
            ],
            "x-ms-summary": "Order",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for paging through results, defaults to 0",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0,
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/ArticlesListResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/cards/summary": {
      "get": {
        "tags": [
          "Data Card"
        ],
        "description": "Retrieves a summary data card associated to the given query.",
        "summary": "Get summary data card",
        "operationId": "SummaryDataCard",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "The domain or IP address to be queried",
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/SummaryDataCardResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/enrichment": {
      "get": {
        "tags": [
          "Enrichment"
        ],
        "description": "Get enrichment data for a query.",
        "summary": "Get enrichment data",
        "operationId": "GetEnrichment",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "The domain or IP being queried",
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/EnrichmentResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/enrichment/malware": {
      "get": {
        "tags": [
          "Enrichment"
        ],
        "description": "Get malware data for a query.",
        "summary": "Get malware",
        "operationId": "GetMalware",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "The domain or IP being queried",
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/EnrichmentMalwareResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/enrichment/osint": {
      "get": {
        "tags": [
          "Enrichment"
        ],
        "description": "Get OSINT data for a query.",
        "summary": "Get OSINT",
        "operationId": "GetOSINT",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "The domain or IP being queried",
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/EnrichmentOsintResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/enrichment/subdomains": {
      "get": {
        "tags": [
          "Enrichment"
        ],
        "description": "Get subdomains data for a query.",
        "summary": "Get subdomains",
        "operationId": "GetSubDomains",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "The domain being queried",
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/EnrichmentSubdomainsResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/services": {
      "get": {
        "tags": [
          "Services"
        ],
        "description": "The exposed services endpoints allow you to see services on recently open ports for an IP address.",
        "summary": "Get the open ports info for the IP address given",
        "operationId": "GetOpenPorts",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "The IP being queried",
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/ServicesResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/monitor": {
      "get": {
        "tags": [
          "Monitor"
        ],
        "description": "Retrieve all alerts associated with an artifact or project.",
        "summary": "Get alerts associated with an artifact or project",
        "operationId": "GetAlerts",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "required": false,
            "description": "The project to filter on",
            "type": "string",
            "x-ms-summary": "Project",
            "x-ms-visibility": "important"
          },
          {
            "name": "artifact",
            "in": "query",
            "required": false,
            "description": "The artifact to filter on",
            "type": "string",
            "x-ms-summary": "Artifact",
            "x-ms-visibility": "important"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Filter results to after this datetime. Formats:\"yyyy-MM-dd HH:mm:ss\" ",
            "type": "string",
            "x-ms-summary": "Start",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Filter results to before this datetime. Formats:\"yyyy-MM-dd HH:mm:ss\" ",
            "type": "string",
            "x-ms-summary": "End",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Max number of results, default is 25",
            "default": 25,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Size",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number, default is 0",
            "default": 0,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/MonitorResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/project": {
      "get": {
        "tags": [
          "Project"
        ],
        "description": "Retrieve all information related to project.",
        "summary": "Find project",
        "operationId": "FindProject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "required": false,
            "description": "Filter by project id",
            "type": "string",
            "x-ms-summary": "Project",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "description": "Filter by owner (an email or organization id)",
            "type": "string",
            "x-ms-summary": "Owner",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "creator",
            "in": "query",
            "required": false,
            "description": "Filter by creator email",
            "type": "string",
            "x-ms-summary": "Creator",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "organization",
            "in": "query",
            "required": false,
            "description": "Filter by organization",
            "type": "string",
            "x-ms-summary": "Organization",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "visibility",
            "in": "query",
            "required": false,
            "description": "Filter by visibility",
            "type": "string",
            "enum": [
              "public",
              "private",
              "analyst"
            ],
            "x-ms-summary": "Visibility",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "featured",
            "in": "query",
            "required": false,
            "description": "Filter by featured status",
            "type": "boolean",
            "x-ms-summary": "Featured",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/FindProjectResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      },
      "delete": {
        "tags": [
          "Project"
        ],
        "description": "Delete project by project ID.",
        "summary": "Delete project",
        "operationId": "DeleteProject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Delete project request",
            "required": true,
            "schema": {
              "type": "object"
            },
            "x-ms-summary": "Request",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/ProjectResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      },
      "post": {
        "tags": [
          "Project"
        ],
        "description": "Updates a project denoted by project ID.",
        "summary": "Update project",
        "operationId": "UpdateProject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Update project request",
            "required": true,
            "schema": {
              "type": "object"
            },
            "x-ms-summary": "Request",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/ProjectResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      },
      "put": {
        "tags": [
          "Project"
        ],
        "description": "Create project with given parameters.",
        "summary": "Create project",
        "operationId": "CreateProject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Create project request",
            "required": true,
            "schema": {
              "type": "object"
            },
            "x-ms-summary": "Request",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/ProjectResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/project/tag": {
      "delete": {
        "tags": [
          "Project"
        ],
        "description": "Remove tags from a project by project ID.",
        "summary": "Remove project tags",
        "operationId": "RemoveProjectTags",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Remove project tags request",
            "required": true,
            "schema": {
              "type": "object"
            },
            "x-ms-summary": "Request",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/ProjectResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      },
      "post": {
        "tags": [
          "Project"
        ],
        "description": "Add tags to a project by project ID.",
        "summary": "Add project tags",
        "operationId": "AddProjectTags",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Add project tags request",
            "required": true,
            "schema": {
              "type": "object"
            },
            "x-ms-summary": "Request",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/ProjectResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      },
      "put": {
        "tags": [
          "Project"
        ],
        "description": "Set the project tags of given project ID.",
        "summary": "Set project tags",
        "operationId": "SetProjectTags",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Set project tags request",
            "required": true,
            "schema": {
              "type": "object"
            },
            "x-ms-summary": "Request",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/ProjectResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/ssl-certificate": {
      "get": {
        "tags": [
          "SSL Certificates"
        ],
        "description": "Retrieves an SSL certificate by its SHA-1 hash.",
        "summary": "Get SSL certificate",
        "operationId": "GetSSLCertificate",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "SHA-1 hash of the certificate to retrieve",
            "required": true,
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/SSLResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/ssl-certificate/history": {
      "get": {
        "tags": [
          "SSL Certificates"
        ],
        "description": "Retrieves the SSL certificate history for a given certificate SHA-1 hash or IP address.",
        "summary": "Get SSL certificate history",
        "operationId": "GetSSLCertificateHistory",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "SHA-1 hash or associated IP address for which to retrieve certificate history",
            "required": true,
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/SSLHistoryResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/ssl-certificate/search": {
      "get": {
        "tags": [
          "SSL Certificates"
        ],
        "description": "Retrieves SSL certificates for a given field value.",
        "summary": "Search SSL certificates",
        "operationId": "SearchSSLCertificates",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "field",
            "in": "query",
            "description": "Field by which to search",
            "required": true,
            "type": "string",
            "enum": [
              "issuerSurname",
              "subjectOrganizationName",
              "issuerCountry",
              "issuerOrganizationUnitName",
              "fingerprint",
              "subjectOrganizationUnitName",
              "serialNumber",
              "subjectEmailAddress",
              "subjectCountry",
              "issuerGivenName",
              "subjectCommonName",
              "issuerCommonName",
              "issuerStateOrProvinceName",
              "issuerProvince",
              "subjectStateOrProvinceName",
              "sha1",
              "subjectStreetAddress",
              "subjectSerialNumber",
              "issuerOrganizationName",
              "subjectSurname",
              "subjectLocalityName",
              "issuerStreetAddress",
              "issuerLocalityName",
              "subjectGivenName",
              "subjectProvince",
              "issuerSerialNumber",
              "issuerEmailAddress",
              "name",
              "issuerAlternativeName",
              "subjectAlternativeName"
            ],
            "x-ms-summary": "Field",
            "x-ms-visibility": "important"
          },
          {
            "name": "query",
            "in": "query",
            "description": "Field value for which to search",
            "required": true,
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/SSLSearchResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/ssl-certificate/search/keyword": {
      "get": {
        "tags": [
          "SSL Certificates"
        ],
        "description": "Retrieves SSL certificates for a given keyword.",
        "summary": "Search SSL certificates by keyword",
        "operationId": "SearchSSLCertificatesByKeyword",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Keyword on which to search",
            "required": true,
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/SSLSearchKeywordResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/artifact/tag": {
      "get": {
        "tags": [
          "Tag Artifact"
        ],
        "description": "Retrieve the tags of an artifact or artifacts.",
        "summary": "Get artifact tags",
        "operationId": "GetArtifactTags",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "artifact",
            "in": "query",
            "description": "The artifact UUID or UUIDs to list",
            "required": true,
            "type": "string",
            "x-ms-summary": "Artifact",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/ArtifactTagResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      },
      "delete": {
        "tags": [
          "Tag Artifact"
        ],
        "description": "Remove a set of tags from an artifact or artifacts.",
        "summary": "Remove artifact tags",
        "operationId": "RemoveArtifactTags",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Remove artifact tags request",
            "required": true,
            "schema": {
              "type": "object"
            },
            "x-ms-summary": "Request",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/RemoveArtifactTagResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      },
      "post": {
        "tags": [
          "Tag Artifact"
        ],
        "description": "Add tags to an artifact or artifacts.",
        "summary": "Update artifact tags",
        "operationId": "UpdateArtifactTags",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Update artifact tags",
            "required": true,
            "schema": {
              "type": "object"
            },
            "x-ms-summary": "Request",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/UpdateArtifactTagResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      },
      "put": {
        "tags": [
          "Tag Artifact"
        ],
        "description": "Set the tags of an artifact or artifacts.",
        "summary": "Set artifact tags",
        "operationId": "SetArtifactTags",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Set artifact tags",
            "required": true,
            "schema": {
              "type": "object"
            },
            "x-ms-summary": "Request",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/SetArtifactTagResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/trackers/search": {
      "get": {
        "tags": [
          "Trackers"
        ],
        "description": "Retrieves hosts or IP addresses that employ a specific user tracking service.",
        "summary": "Search trackers that match the criteria",
        "operationId": "SearchTrackers",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Host from which trackers originate",
            "required": true,
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Type of trackers to retrieve a type other than the officially supported ones may be supplied",
            "type": "string",
            "enum": [
              "51laId",
              "AboutmeId",
              "AddThisPubId",
              "AddThisUsername",
              "AuthorstreamId",
              "BitbucketcomId",
              "BitlyId",
              "CheezburgerId",
              "ClickyId",
              "ColourloversId",
              "DiigoId",
              "DispusId",
              "EngadgetId",
              "EtsyId",
              "FacebookId",
              "FavstarId",
              "FfffoundId",
              "FlavorsId",
              "FlickrId",
              "FoodspottingId",
              "FreesoundId",
              "GitHubId",
              "GithubId",
              "GoogleAnalyticsTrackingId",
              "GooglePlusId",
              "GoogleTagManagerId",
              "HubpagesId",
              "ImgurId",
              "InstagramId",
              "KloutId",
              "LanyrdId",
              "LastfmId",
              "LibrarythingId",
              "LinkedInId",
              "LinkedinId",
              "MarketinglandcomId",
              "MixpanelId",
              "MuckrackId",
              "MyanimelistId",
              "MyfitnesspalId",
              "NewRelicId",
              "OptimizelyId",
              "PandoraId",
              "PicasaId",
              "PinkbikeId",
              "PinterestId",
              "PlancastId",
              "PlurkId",
              "PornhubId",
              "RaptorId",
              "ReadabilityId",
              "RedditId",
              "RedtubeId",
              "SlideshareId",
              "SmugmugId",
              "SmuleId",
              "SoundcloudId",
              "SoupId",
              "SpeakerdeckId",
              "SporcleId",
              "StackoverflowId",
              "SteamcommunityId",
              "StumbleuponId",
              "ThesixtyoneId",
              "TribeId",
              "TripitId",
              "TumblrId",
              "TwitpicId",
              "TwitterId",
              "UntappdId",
              "UstreamId",
              "WattpadId",
              "WefollowId",
              "WhosAmungUsId",
              "WordPressId",
              "Wordpress",
              "SupportId",
              "XangaId",
              "Xfire",
              "SocialId",
              "XhamsterId",
              "XvideosId",
              "YandexMetricaCounterId",
              "YouTubeChannel",
              "YouTubeId",
              "YoutubeId"
            ],
            "x-ms-summary": "Type",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/TrackersSearchResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/host-attributes/components": {
      "get": {
        "tags": [
          "Host Attributes"
        ],
        "description": "Retrieves the host attribute components of a query.",
        "summary": "Get components",
        "operationId": "GetComponents",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The domain or IP being queried",
            "required": true,
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          },
          {
            "name": "start",
            "in": "query",
            "description": "The start datetime. Formats: \"yyyy-MM-dd\", \"yyyy-MM-dd HH:mm:ss\" ",
            "required": false,
            "type": "string",
            "x-ms-summary": "Start",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "end",
            "in": "query",
            "description": "The end datetime. Formats: \"yyyy-MM-dd\", \"yyyy-MM-dd HH:mm:ss\" ",
            "required": false,
            "type": "string",
            "x-ms-summary": "End",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for paging through results, defaults to 0",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0,
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/ComponentInfo"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/host-attributes/pairs": {
      "get": {
        "tags": [
          "Host Attributes"
        ],
        "description": "Retrieves the host attribute pairs related to the query.",
        "summary": "Get pairs",
        "operationId": "GetPairs",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The domain or IP being queried",
            "required": true,
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          },
          {
            "name": "direction",
            "in": "query",
            "description": "The domain or IP being queried",
            "required": true,
            "type": "string",
            "enum": [
              "children",
              "parents"
            ],
            "x-ms-summary": "Direction",
            "x-ms-visibility": "important"
          },
          {
            "name": "start",
            "in": "query",
            "description": "The start datetime. Formats: \"yyyy-MM-dd\", \"yyyy-MM-dd HH:mm:ss\" ",
            "required": false,
            "type": "string",
            "x-ms-summary": "Start",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "end",
            "in": "query",
            "description": "The end datetime. Formats: \"yyyy-MM-dd\", \"yyyy-MM-dd HH:mm:ss\" ",
            "required": false,
            "type": "string",
            "x-ms-summary": "End",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for paging through results, defaults to 0",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0,
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/PairInfo"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/host-attributes/trackers": {
      "get": {
        "tags": [
          "Host Attributes"
        ],
        "description": "Retrieves the host attribute trackers.",
        "summary": "Get trackers",
        "operationId": "GetTrackers",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The domain or IP being queried",
            "required": true,
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          },
          {
            "name": "start",
            "in": "query",
            "description": "The start datetime. Formats: \"yyyy-MM-dd\", \"yyyy-MM-dd HH:mm:ss\" ",
            "required": false,
            "type": "string",
            "x-ms-summary": "Start",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "end",
            "in": "query",
            "description": "The end datetime. Formats: \"yyyy-MM-dd\", \"yyyy-MM-dd HH:mm:ss\" ",
            "required": false,
            "type": "string",
            "x-ms-summary": "End",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for paging through results, defaults to 0",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0,
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/TrackerInfo"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/host-attributes/cookies": {
      "get": {
        "tags": [
          "Host Attributes"
        ],
        "description": "Retrieves the host attribute cookies related to the query.",
        "summary": "Get cookies",
        "operationId": "GetCookies",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The domain or IP being queried",
            "required": true,
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          },
          {
            "name": "start",
            "in": "query",
            "description": "The start datetime. Formats: \"yyyy-MM-dd\", \"yyyy-MM-dd HH:mm:ss\" ",
            "required": false,
            "type": "string",
            "x-ms-summary": "Start",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "end",
            "in": "query",
            "description": "The end datetime. Formats: \"yyyy-MM-dd\", \"yyyy-MM-dd HH:mm:ss\" ",
            "required": false,
            "type": "string",
            "x-ms-summary": "End",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for paging through results, defaults to 0",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0,
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/CookiesResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/cookies/domain/{domain}/addresses": {
      "get": {
        "tags": [
          "Cookies"
        ],
        "description": "Searches the cookies addresses information by cookie domain.",
        "summary": "Get addresses by cookie domain",
        "operationId": "GetAddressesByCookieDomain",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "description": "Cookie domain",
            "required": true,
            "type": "string",
            "x-ms-summary": "Domain",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for paging through results, defaults to 0",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field to sort on, default value lastSeen",
            "required": false,
            "type": "string",
            "default": "lastSeen",
            "enum": [
              "lastSeen",
              "firstSeen"
            ],
            "x-ms-summary": "Sort",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order to return results in, default value desc",
            "required": false,
            "type": "string",
            "default": "desc",
            "enum": [
              "desc",
              "asc"
            ],
            "x-ms-summary": "Order",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/CookiesSearchResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/cookies/name/{name}/addresses": {
      "get": {
        "tags": [
          "Cookies"
        ],
        "description": "Searches the addresses information by cookie name.",
        "summary": "Get addresses by cookie name",
        "operationId": "GetAddressesByCookieName",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Cookie name",
            "required": true,
            "type": "string",
            "x-ms-summary": "Name",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for paging through results, defaults to 0",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field to sort on, default value lastSeen",
            "required": false,
            "type": "string",
            "default": "lastSeen",
            "enum": [
              "lastSeen",
              "firstSeen"
            ],
            "x-ms-summary": "Sort",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order to return results in, default value desc",
            "required": false,
            "type": "string",
            "default": "desc",
            "enum": [
              "desc",
              "asc"
            ],
            "x-ms-summary": "Order",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/CookiesSearchResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/cookies/domain/{domain}/hosts": {
      "get": {
        "tags": [
          "Cookies"
        ],
        "description": "Searches the cookies hosts information by cookie domain.",
        "summary": "Get hosts by cookie domain",
        "operationId": "GetHostsByCookieDomain",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "description": "Cookie domain",
            "required": true,
            "type": "string",
            "x-ms-summary": "Domain",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for paging through results, defaults to 0",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field to sort on, default value lastSeen",
            "required": false,
            "type": "string",
            "default": "lastSeen",
            "enum": [
              "lastSeen",
              "firstSeen"
            ],
            "x-ms-summary": "Sort",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order to return results in, default value desc",
            "required": false,
            "type": "string",
            "default": "desc",
            "enum": [
              "desc",
              "asc"
            ],
            "x-ms-summary": "Order",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/CookiesSearchResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/cookies/name/{name}/hosts": {
      "get": {
        "tags": [
          "Cookies"
        ],
        "description": "Searches the hosts information by cookie name.",
        "summary": "Get hosts by cookie name",
        "operationId": "GetHostsByCookieName",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Cookie name",
            "required": true,
            "type": "string",
            "x-ms-summary": "Name",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for paging through results, defaults to 0",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field to sort on, default value lastSeen",
            "required": false,
            "type": "string",
            "default": "lastSeen",
            "enum": [
              "lastSeen",
              "firstSeen"
            ],
            "x-ms-summary": "Sort",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order to return results in, default value desc",
            "required": false,
            "type": "string",
            "default": "desc",
            "enum": [
              "desc",
              "asc"
            ],
            "x-ms-summary": "Order",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/CookiesSearchResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/components/{name}/addresses": {
      "get": {
        "tags": [
          "Components"
        ],
        "description": "Searches the components addresses information by component name.",
        "summary": "Get addresses by component name",
        "operationId": "GetAddressesByComponentName",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Component name",
            "required": true,
            "type": "string",
            "x-ms-summary": "Name",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "version",
            "in": "query",
            "description": "Component version to search for",
            "required": false,
            "type": "string",
            "x-ms-summary": "Version",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "category",
            "in": "query",
            "description": "Component category to search for",
            "required": false,
            "type": "string",
            "x-ms-summary": "Category",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for paging through results, defaults to 0",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field to sort on, default value lastSeen",
            "required": false,
            "type": "string",
            "default": "lastSeen",
            "enum": [
              "lastSeen",
              "firstSeen"
            ],
            "x-ms-summary": "Sort",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order to return results in, default value desc",
            "required": false,
            "type": "string",
            "default": "desc",
            "enum": [
              "desc",
              "asc"
            ],
            "x-ms-summary": "Order",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/ComponentsSearchAddressesResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/components/{name}/hosts": {
      "get": {
        "tags": [
          "Components"
        ],
        "description": "Searches the components hosts information by component name.",
        "summary": "Get hosts by component name",
        "operationId": "GetHostsByComponentName",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Component name",
            "required": true,
            "type": "string",
            "x-ms-summary": "Name",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "version",
            "in": "query",
            "description": "Component version to search for",
            "required": false,
            "type": "string",
            "x-ms-summary": "Version",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "category",
            "in": "query",
            "description": "Component category to search for",
            "required": false,
            "type": "string",
            "x-ms-summary": "Category",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for paging through results, defaults to 0",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field to sort on, default value lastSeen",
            "required": false,
            "type": "string",
            "default": "lastSeen",
            "enum": [
              "lastSeen",
              "firstSeen"
            ],
            "x-ms-summary": "Sort",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order to return results in, default value desc",
            "required": false,
            "type": "string",
            "default": "desc",
            "enum": [
              "desc",
              "asc"
            ],
            "x-ms-summary": "Order",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/ComponentsSearchHostsResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/dns/passive": {
      "get": {
        "tags": [
          "Passive DNS"
        ],
        "description": "Retrieves the passive DNS results from active account sources.",
        "summary": "Get passive DNS",
        "operationId": "GetPassiveDNS",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "The domain or IP being queried",
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "The start datetime. Formats: \"yyyy-MM-dd\", \"yyyy-MM-dd HH:mm:ss\" ",
            "type": "string",
            "x-ms-summary": "Start",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "The end datetime. Formats: \"yyyy-MM-dd\", \"yyyy-MM-dd HH:mm:ss\" ",
            "type": "string",
            "x-ms-summary": "End",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "Timeout to use for external resources, defaults to 7",
            "type": "integer",
            "default": 7,
            "format": "int32",
            "x-ms-summary": "Timeout",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/PassiveDnsSearchResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/dns/passive/unique": {
      "get": {
        "tags": [
          "Passive DNS"
        ],
        "description": "Retrieves the unique passive DNS results from active account sources.",
        "summary": "Get unique passive DNS",
        "operationId": "GetUniquePassiveDNS",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "The domain or IP being queried",
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "The start datetime. Formats: \"yyyy-MM-dd\", \"yyyy-MM-dd HH:mm:ss\" ",
            "type": "string",
            "x-ms-summary": "Start",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "The end datetime. Formats: \"yyyy-MM-dd\", \"yyyy-MM-dd HH:mm:ss\" ",
            "type": "string",
            "x-ms-summary": "End",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "Timeout to use for external resources, defaults to 7",
            "type": "integer",
            "default": 7,
            "format": "int32",
            "x-ms-summary": "Timeout",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/PassiveUniqueDnsSearchResponse"
            }
          }
        }
      }
    },
    "/dns/search/keyword": {
      "get": {
        "tags": [
          "Passive DNS"
        ],
        "description": "Searches the passive DNS data for a keyword query.",
        "summary": "Search passive DNS",
        "operationId": "SearchByKeyword",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The query to execute as a keyword search.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/KeywordDnsSearchResponse"
            }
          }
        }
      }
    },
    "/whois": {
      "get": {
        "tags": [
          "Whois"
        ],
        "description": "Retrieves the WHOIS data for the specified query.",
        "summary": "Get WHOIS",
        "operationId": "GetWHOIS",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The domain being queried",
            "required": true,
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          },
          {
            "name": "compact_record",
            "in": "query",
            "description": "Whether to compress the results",
            "required": false,
            "type": "boolean",
            "enum": [
              true,
              false
            ],
            "x-ms-summary": "Compact Record",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "history",
            "in": "query",
            "description": "Whether to return historical results",
            "required": false,
            "type": "boolean",
            "enum": [
              true,
              false
            ],
            "x-ms-summary": "History",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/WhoisResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/whois/search/keyword": {
      "get": {
        "tags": [
          "Whois"
        ],
        "description": "Search WHOIS data for a keyword.",
        "summary": "Search WHOIS keyword",
        "operationId": "SearchWHOISKeyword",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The value of the field being queried",
            "required": true,
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/WhoisKeywordSearchResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/whois/search": {
      "get": {
        "tags": [
          "Whois"
        ],
        "description": "Searches WHOIS data by field and query.",
        "summary": "Search WHOIS",
        "operationId": "SearchWHOIS",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The value of the field being queried",
            "required": true,
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          },
          {
            "name": "field",
            "in": "query",
            "description": "The field to query",
            "required": true,
            "type": "string",
            "enum": [
              "email",
              "domain",
              "name",
              "organization",
              "address",
              "phone",
              "nameserver"
            ],
            "x-ms-summary": "Field",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/ResultListResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/enrichment/bulk": {
      "get": {
        "tags": [
          "Bulk Enrichment"
        ],
        "description": "Get bulk enrichment data for many queries.",
        "summary": "Get enrichment data bulk",
        "operationId": "GetBulkEnrichment",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The domains and IPs being queried",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/EnrichmentBulkResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/enrichment/bulk/malware": {
      "get": {
        "tags": [
          "Bulk Enrichment"
        ],
        "description": "Get bulk malware data for many queries.",
        "summary": "Get malware bulk",
        "operationId": "GetMalwareBulk",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The domains and IPs being queried",
            "required": true,
            "type": "string",
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/MalwareBulkSearchResults"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/enrichment/bulk/osint": {
      "get": {
        "tags": [
          "Bulk Enrichment"
        ],
        "description": "Get bulk OSINT data for many queries.",
        "summary": "Get OSINT bulk",
        "operationId": "GetOSINTBulk",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
[...]
