{
  "swagger": "2.0",
  "info": {
    "title": "HR Cloud",
    "description": "HR Cloud is a powerful and globally recognized HRMS software for the entire employee lifecycle.\nUser this connector to easily send employee information between HR Cloud and other systems you use.",
    "version": "1.0",
    "contact": {
		"name": "HR Cloud Support",
		"url": "https://support.hrcloud.com/en/help-center",
		"email": "support@hrcloud.com"
	}
  },
  "host": "corehr-api.hrcloud.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1/cloud/xEmployee": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Id": {
                    "type": "string",
                    "description": "Employees Id"
                  },
                  "xAddress1": {
                    "type": "string",
                    "description": "Employees Address1"
                  },
                  "xAddress2": {
                    "type": "string",
                    "description": "Employees Address2"
                  },
                  "xBonus": {
                    "type": "object",
                    "properties": {
                      "Amount": {
                        "type": "number",
                        "description": "Employees Bonus Amount"
                      },
                      "Currency": {
                        "type": "string",
                        "description": "Employees Bonus Currency"
                      }
                    },
                    "description": "An information about employees Bonuses"
                  },
                  "xCellPhone": {
                    "type": "string",
                    "description": "Employees Cell Phone"
                  },
                  "xCity": {
                    "type": "string",
                    "description": "Employees address City"
                  },
                  "xCountry": {
                    "type": "string",
                    "description": "Employees address Country"
                  },
                  "xCreatedOn": {
                    "type": "string",
                    "description": "Date and time employee was Created On"
                  },
                  "xDateOfBirth": {
                    "type": "string",
                    "description": "Employees Date Of Birth"
                  },
                  "xDepartmentLookup": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "An Id of employees Department"
                      },
                      "xDepartmentCode": {
                        "type": "string",
                        "description": "A Code of employees Department"
                      },
                      "xDepartmentName": {
                        "type": "string",
                        "description": "A Name of employees Department"
                      },
                      "xRecordStatus": {
                        "type": "string",
                        "description": "A Record Status of employees Department"
                      }
                    },
                    "description": "An information about employees Department"
                  },
                  "xDivisionLookup": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "An Id of employees Division"
                      },
                      "xDivisionCode": {
                        "type": "string",
                        "description": "A Code of employees Division"
                      },
                      "xDivisionName": {
                        "type": "string",
                        "description": "A Name of employees Division"
                      },
                      "xRecordStatus": {
                        "type": "string",
                        "description": "A Record Status of employees Division"
                      }
                    },
                    "description": "An information about employees Division"
                  },
                  "xEducationLevel": {
                    "type": "string",
                    "description": "Employees Education Level"
                  },
                  "xEmail": {
                    "type": "string",
                    "description": "Employees Email"
                  },
                  "xEmployeeNumber": {
                    "type": "string",
                    "description": "Employees Employee Number"
                  },
                  "xEmploymentStatusLookup": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "An Id of employees Employment Status"
                      },
                      "xRecordStatus": {
                        "type": "string",
                        "description": "A Record Status of employees Employment Status"
                      },
                      "xType": {
                        "type": "string",
                        "description": "A Type of employees Employment Status"
                      }
                    },
                    "description": "An information about employees Employment Status"
                  },
                  "xEmploymentTypeLookup": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "An Id of employees Employment Type"
                      },
                      "xRecordStatus": {
                        "type": "string",
                        "description": "A Record Status of employees Employment Type"
                      },
                      "xType": {
                        "type": "string",
                        "description": "A Type of employees Employment Type"
                      }
                    },
                    "description": "An information about employees Employment Type"
                  },
                  "xEthnicity": {
                    "type": "string",
                    "description": "Employees Ethnicity"
                  },
                  "xFirstName": {
                    "type": "string",
                    "description": "Employees First Name"
                  },
                  "xFullName": {
                    "type": "string",
                    "description": "Emyploees Full Name"
                  },
                  "xGender": {
                    "type": "string",
                    "description": "Employees Gender"
                  },
                  "xLastName": {
                    "type": "string",
                    "description": "Employees Last Name"
                  },
                  "xLocationLookup": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "An Id of employees Location"
                      },
                      "xAddress": {
                        "type": "string",
                        "description": "An Address of employees Location"
                      },
                      "xDescription": {
                        "type": "string",
                        "description": "A Description of employees Location"
                      },
                      "xLocationCode": {
                        "type": "string",
                        "description": "A Code of employees Location"
                      },
                      "xLocationName": {
                        "type": "string",
                        "description": "A Name of employees Location"
                      },
                      "xRecordStatus": {
                        "type": "string",
                        "description": "A Record Status of employees Location"
                      }
                    },
                    "description": "An information about employees Location"
                  },
                  "xManagerLookup": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "An Id of employees Manager"
                      },
                      "xFullName": {
                        "type": "string",
                        "description": "A Full Name of employees Manager"
                      },
                      "xEmail": {
                        "type": "string",
                        "description": "An Email address of employees Manager"
                      },
                      "xPictures": {
                        "type": "object",
                        "properties": {
                          "OriginalPictureResourceCropParameters": {
                            "type": "string",
                            "description": "Employees Managers Original Picture Resource Crop Parameters"
                          },
                          "SmallResourceId": {
                            "type": "string",
                            "description": "Employees Managers Small Picture Resource"
                          },
                          "OriginalResourceId": {
                            "type": "string",
                            "description": "Employees Managers Original Picture Resource"
                          },
                          "MediumResourceId": {
                            "type": "string",
                            "description": "Employees Managers Medium Picture Resource"
                          }
                        },
                        "description": "An information about employees Managers Pictures"
                      }
                    },
                    "description": "An information about employees Manager"
                  },
                  "xMiddleName": {
                    "type": "string",
                    "description": "Employees Middle Name"
                  },
                  "xNickname": {
                    "type": "string",
                    "description": "Employees Nickname"
                  },
                  "xNumberOfPoints": {
                    "type": "number",
                    "description": "Employees Number Of Kudos Points"
                  },
                  "xOnboardingFinishedOn": {
                    "type": "string",
                    "description": "An information when Employee finished Onboarding"
                  },
                  "xPayFrequencyType": {
                    "type": "string",
                    "description": "Employees Pay Frequency Type"
                  },
                  "xPayRateLookup": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "An Id of employees Pay Rate"
                      },
                      "xName": {
                        "type": "string",
                        "description": "Pay Rate Name"
                      },
                      "xCode": {
                        "type": "string",
                        "description": "Pay Rate Code"
                      },
                      "xRecordStatus": {
                        "type": "string",
                        "description": "A Record Status of employees Position"
                      }
                    },
                    "description": "Employees Pay Rate"
                  },
                  "xPersonalEmail": {
                    "type": "string",
                    "description": "Employees Personal Email"
                  },
                  "xPictures": {
                    "type": "object",
                    "properties": {
                      "OriginalPictureResourceCropParameters": {
                        "type": "string",
                        "description": "Employees Original Picture Resource Crop Parameters"
                      },
                      "SmallResourceId": {
                        "type": "string",
                        "description": "Employees Small Picture Resource"
                      },
                      "OriginalResourceId": {
                        "type": "string",
                        "description": "Employees Original Picture Resource"
                      },
                      "MediumResourceId": {
                        "type": "string",
                        "description": "Employees Medium Picture Resource"
                      }
                    },
                    "description": "An information about employees Pictures"
                  },
                  "xPositionLookup": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "An Id of employees Position"
                      },
                      "xDescription": {
                        "type": "string",
                        "description": "A Description of employees Position"
                      },
                      "xPositionCode": {
                        "type": "string",
                        "description": "A Code of employees Position"
                      },
                      "xPositionTitle": {
                        "type": "string",
                        "description": "A Title of employees Position"
                      },
                      "xRecordStatus": {
                        "type": "string",
                        "description": "A Record Status of employees Position"
                      }
                    },
                    "description": "An information about employees Position"
                  },
                  "xRecordStatus": {
                    "type": "string",
                    "description": "Employees Record Status"
                  },
                  "xSalary": {
                    "type": "object",
                    "properties": {
                      "Amount": {
                        "type": "number",
                        "description": "Employees Salary Amount"
                      },
                      "Currency": {
                        "type": "string",
                        "description": "Employees Salary Currency"
                      }
                    },
                    "description": "An information about employees Salary"
                  },
                  "xSeparationDate": {
                    "type": "string",
                    "description": "Employees Separation Date"
                  },
                  "xSeparationReason": {
                    "type": "string",
                    "description": "Employees Separation Reason"
                  },
                  "xStartDate": {
                    "type": "string",
                    "description": "Employees Start Date"
                  },
                  "xState": {
                    "type": "string",
                    "description": "Employees State"
                  },
                  "xUpdatedOn": {
                    "type": "string",
                    "description": "Employees last Updated On date and time"
                  },
                  "xVeteranStatus": {
                    "type": "string",
                    "description": "Employees Veteran Status"
                  },
                  "xWorkPhone": {
                    "type": "string",
                    "description": "Employees Work Phone"
                  },
                  "xZipCode": {
                    "type": "string",
                    "description": "Employees Zip Code"
                  }
                }
              }
            }
          },
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Gets Employee Data",
        "description": "Gets Employee Data",
        "operationId": "GetEmployee",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "xEmployeeNumber eq 'ENTER EMPLOYEE NUMBER HERE'",
            "x-ms-summary": "FilterEmployeeNumber",
            "description": "If you want to fetch a specific Employe, enter the Employee Number in the place provided for that. If you want to fetch all the Employees empty this field."
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Adds Employee",
        "description": "Adds Employee",
        "operationId": "AddEmployee",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "xAddress1": {
                  "type": "string",
                  "description": "Employees Address1"
                },
                "xCity": {
                  "type": "string",
                  "description": "Employees Address City"
                },
                "xEmail": {
                  "type": "string",
                  "description": "Employees Email",
                  "title": ""
                },
                "xFirstName": {
                  "type": "string",
                  "description": "Employees First Name",
                  "title": ""
                },
                "xLastName": {
                  "type": "string",
                  "description": "Employees Last Name",
                  "title": ""
                },
                "xPersonalEmail": {
                  "type": "string",
                  "description": "Employees Personal Email"
                },
                "xRecordStatus": {
                  "type": "string",
                  "description": "Employees Record Status",
                  "title": "",
                  "default": "Active"
                },
                "xStartDate": {
                  "type": "string",
                  "description": "Employees Start Date",
                  "title": "",
                  "format": "date-time"
                },
                "xState": {
                  "type": "string",
                  "description": "Employees Address State"
                },
                "xZipCode": {
                  "type": "string",
                  "description": "Employees Address Zip Code"
                },
                "xEmployeeNumber": {
                  "type": "string",
                  "description": "Employees Employee Number"
                },
                "xEmploymentStatusLookup": {
                  "type": "string",
                  "description": "Employees Employment Status Id"
                },
                "xLocationLookup": {
                  "type": "string",
                  "description": "Employees Location Id"
                },
                "xPositionLookup": {
                  "type": "string",
                  "description": "Employees Position Id"
                },
                "xDivisionLookup": {
                  "type": "string",
                  "description": "Employees Division Id"
                },
                "xDepartmentLookup": {
                  "type": "string",
                  "description": "Employees Department Id",
                  "title": ""
                }
              },
              "required": [
                "xEmail",
                "xFirstName",
                "xLastName"
              ]
            }
          }
        ]
      },
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Updates Employee Data",
        "description": "Updates Employee Data",
        "operationId": "UpdateEmployee",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "string",
                  "description": "Employees Id",
                  "title": ""
                },
                "xAddress1": {
                  "type": "string",
                  "description": "Employees Address1"
                },
                "xCity": {
                  "type": "string",
                  "description": "Employees Address City"
                },
                "xEmail": {
                  "type": "string",
                  "description": "Employees Email"
                },
                "xFirstName": {
                  "type": "string",
                  "description": "Employees First Name"
                },
                "xLastName": {
                  "type": "string",
                  "description": "Employees Last Name"
                },
                "xPersonalEmail": {
                  "type": "string",
                  "description": "Employees Personal Email"
                },
                "xRecordStatus": {
                  "type": "string",
                  "description": "Employees Record Status"
                },
                "xStartDate": {
                  "type": "string",
                  "description": "Employees Start Date",
                  "title": "",
                  "format": "date-time"
                },
                "xState": {
                  "type": "string",
                  "description": "Employees Address State"
                },
                "xZipCode": {
                  "type": "string",
                  "description": "Employees Address Zip Code"
                },
                "xEmployeeNumber": {
                  "type": "string",
                  "description": "Employees Employee Number"
                },
                "xEmploymentStatusLookup": {
                  "type": "string",
                  "description": "Employees Employment Status Id"
                },
                "xLocationLookup": {
                  "type": "string",
                  "description": "Employees Location Id"
                },
                "xPositionLookup": {
                  "type": "string",
                  "description": "Employees Position Id"
                },
                "xDivisionLookup": {
                  "type": "string",
                  "description": "Employees Division Id"
                },
                "xDepartmentLookup": {
                  "type": "string",
                  "description": "Employees Department Id"
                }
              },
              "required": [
                "Id"
              ]
            }
          }
        ]
      }
    },
    "/v1/cloud/xDepartment": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Id": {
                    "type": "string",
                    "description": "Department Id"
                  },
                  "xDepartmentCode": {
                    "type": "string",
                    "description": "Department Code"
                  },
                  "xDepartmentName": {
                    "type": "string",
                    "description": "Department Name"
                  },
                  "xOverheadDepartment": {
                    "type": "string",
                    "description": "Department Overhead Department"
                  },
                  "xRecordStatus": {
                    "type": "string",
                    "description": "Department Record Status"
                  }
                }
              }
            }
          }
        },
        "summary": "Gets Department Data",
        "description": "Gets Department Data",
        "operationId": "GetDepartment",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "xDepartmentName eq 'ENTER DEPARTMENT NAME HERE'",
            "description": "If you want to fetch a specific Department, enter the Department name in the place provided for that. If you want to fetch all the Departments empty this field.",
            "x-ms-summary": "FilterDepartmentName"
          }
        ]
      }
    },
    "/v1/cloud/xLocation": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Id": {
                    "type": "string",
                    "description": "Location Id"
                  },
                  "xAddress": {
                    "type": "string",
                    "description": "Location Address"
                  },
                  "xDescription": {
                    "type": "string",
                    "description": "Location Description"
                  },
                  "xLocationCode": {
                    "type": "string",
                    "description": "Location Code"
                  },
                  "xLocationName": {
                    "type": "string",
                    "description": "Location Name"
                  },
                  "xRecordStatus": {
                    "type": "string",
                    "description": "Location Record Status"
                  }
                }
              }
            }
          }
        },
        "summary": "Gets Location Data",
        "description": "Gets Location Data",
        "operationId": "GetLocation",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "xLocationName eq 'ENTER LOCATION NAME HERE'",
            "x-ms-summary": "FilterLocationName",
            "description": "If you want to fetch a specific Location, enter the Location name in the place provided for that. If you want to fetch all the Locations empty this field."
          }
        ]
      }
    },
    "/v1/cloud/xPosition": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Id": {
                    "type": "string",
                    "description": "Position Id"
                  },
                  "xDescription": {
                    "type": "string",
                    "description": "Position Description"
                  },
                  "xPositionCode": {
                    "type": "string",
                    "description": "Position Code"
                  },
                  "xPositionTitle": {
                    "type": "string",
                    "description": "Position Title"
                  },
                  "xRecordStatus": {
                    "type": "string",
                    "description": "Position Record Status"
                  }
                }
              }
            }
          }
        },
        "summary": "Gets Position Data",
        "description": "Gets Position Data",
        "operationId": "GetPosition",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "xPositionTitle eq 'ENTER POSITION TITLE HERE'",
            "x-ms-summary": "FilterPositionTitle",
            "description": "If you want to fetch a specific Position, enter the Positon title in the place provided for that. If you want to fetch all the Positions empty this field."
          }
        ]
      }
    },
    "/v1/cloud/xDivision": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Id": {
                    "type": "string",
                    "description": "Division Id"
                  },
                  "xDivisionCode": {
                    "type": "string",
                    "description": "Division Code"
                  },
                  "xDivisionName": {
                    "type": "string",
                    "description": "Division Name"
                  },
                  "xRecordStatus": {
                    "type": "string",
                    "description": "Division Record Status"
                  }
                }
              }
            }
          }
        },
        "summary": "Gets Division Data",
        "description": "Gets Division Data",
        "operationId": "GetDivision",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "xDivisionName eq 'ENTER DIVISION NAME HERE'",
            "x-ms-summary": "FilterDivisionName",
            "description": "If you want to fetch a specific Division, enter the Division name in the place provided for that. If you want to fetch all the Division empty this field."
          }
        ]
      }
    },
    "/v1/cloud/xEmploymentStatus": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Id": {
                    "type": "string",
                    "description": "Employment Status Id"
                  },
                  "xRecordStatus": {
                    "type": "string",
                    "description": "Employment Status Record Status"
                  },
                  "xType": {
                    "type": "string",
                    "description": "Employment Status Type"
                  }
                }
              }
            }
          }
        },
        "summary": "Gets Employment Status Data",
        "description": "Gets Employment Status Data",
        "operationId": "GetEmploymentStatus",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "xType eq 'ENTER EMPLOYMENT STATUS TYPE HERE'",
            "x-ms-summary": "FilterEmploymentStatusType",
            "description": "If you want to fetch a specific Employment Status, enter the Employment Status type in the place provided for that. If you want to fetch all the Employment Statuses empty this field."
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "security": [
	{
      "basic_auth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.hrcloud.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.hrcloud.com/privacypolicy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Human Resources"
    }
  ]
}