{
  "swagger": "2.0",
  "info": {
    "title": "HR Cloud",
    "description": "HR Cloud is a powerful and globally recognized HRMS software for the entire employee lifecycle.\nUser this connector to easily send employee information between HR Cloud and other systems you use.",
    "version": "1.0",
	"contact":{
	"name": "HR Cloud Support",
	"url": "https://support.hrcloud.com/en/help-center",
	"email": "support@hrcloud.com"
	}
  },
  "host": "corehr-api.hrcloud.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1/cloud/xApplicant": {},
    "/v1/cloud/xEmployee": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Id": {
                    "type": "string",
                    "description": "Id"
                  },
                  "New_custom_field_on_employee": {
                    "type": "string",
                    "description": "New_custom_field_on_employee"
                  },
                  "xAddress1": {
                    "type": "string",
                    "description": "xAddress1"
                  },
                  "xAddress2": {
                    "type": "string",
                    "description": "xAddress2"
                  },
                  "xBonus": {
                    "type": "object",
                    "properties": {
                      "Amount": {
                        "type": "string",
                        "description": "Amount"
                      },
                      "Currency": {
                        "type": "string",
                        "description": "Currency"
                      }
                    },
                    "description": "xBonus"
                  },
                  "xCellPhone": {
                    "type": "string",
                    "description": "xCellPhone"
                  },
                  "xCity": {
                    "type": "string",
                    "description": "xCity"
                  },
                  "xCountry": {
                    "type": "string",
                    "description": "xCountry"
                  },
                  "xCreatedOn": {
                    "type": "string",
                    "description": "xCreatedOn"
                  },
                  "xDateOfBirth": {
                    "type": "string",
                    "description": "xDateOfBirth"
                  },
                  "xDepartmentLookup": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "Id"
                      },
                      "xDepartmentCode": {
                        "type": "string",
                        "description": "xDepartmentCode"
                      },
                      "xDepartmentName": {
                        "type": "string",
                        "description": "xDepartmentName"
                      },
                      "xRecordStatus": {
                        "type": "string",
                        "description": "xRecordStatus"
                      }
                    },
                    "description": "xDepartmentLookup"
                  },
                  "xDivisionLookup": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "Id"
                      },
                      "xDivisionCode": {
                        "type": "string",
                        "description": "xDivisionCode"
                      },
                      "xDivisionName": {
                        "type": "string",
                        "description": "xDivisionName"
                      },
                      "xRecordStatus": {
                        "type": "string",
                        "description": "xRecordStatus"
                      }
                    },
                    "description": "xDivisionLookup"
                  },
                  "xEducationLevel": {
                    "type": "string",
                    "description": "xEducationLevel"
                  },
                  "xEmail": {
                    "type": "string",
                    "description": "xEmail"
                  },
                  "xEmployeeNumber": {
                    "type": "string",
                    "description": "xEmployeeNumber"
                  },
                  "xEmploymentStatusLookup": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "Id"
                      },
                      "xRecordStatus": {
                        "type": "string",
                        "description": "xRecordStatus"
                      },
                      "xType": {
                        "type": "string",
                        "description": "xType"
                      }
                    },
                    "description": "xEmploymentStatusLookup"
                  },
                  "xEmploymentTypeLookup": {
                    "type": "string",
                    "description": "xEmploymentTypeLookup"
                  },
                  "xEthnicity": {
                    "type": "string",
                    "description": "xEthnicity"
                  },
                  "xFirstName": {
                    "type": "string",
                    "description": "xFirstName"
                  },
                  "xFullName": {
                    "type": "string",
                    "description": "xFullName"
                  },
                  "xGender": {
                    "type": "string",
                    "description": "xGender"
                  },
                  "xLastName": {
                    "type": "string",
                    "description": "xLastName"
                  },
                  "xLocationLookup": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "Id"
                      },
                      "xAddress": {
                        "type": "string",
                        "description": "xAddress"
                      },
                      "xDescription": {
                        "type": "string",
                        "description": "xDescription"
                      },
                      "xLocationCode": {
                        "type": "string",
                        "description": "xLocationCode"
                      },
                      "xLocationName": {
                        "type": "string",
                        "description": "xLocationName"
                      },
                      "xRecordStatus": {
                        "type": "string",
                        "description": "xRecordStatus"
                      }
                    },
                    "description": "xLocationLookup"
                  },
                  "xManagerLookup": {
                    "type": "string",
                    "description": "xManagerLookup"
                  },
                  "xMiddleName": {
                    "type": "string",
                    "description": "xMiddleName"
                  },
                  "xNickname": {
                    "type": "string",
                    "description": "xNickname"
                  },
                  "xNumberOfPoints": {
                    "type": "string",
                    "description": "xNumberOfPoints"
                  },
                  "xOnboardingFinishedOn": {
                    "type": "string",
                    "description": "xOnboardingFinishedOn"
                  },
                  "xPayFrequencyType": {
                    "type": "string",
                    "description": "xPayFrequencyType"
                  },
                  "xPayRateLookup": {
                    "type": "string",
                    "description": "xPayRateLookup"
                  },
                  "xPersonalEmail": {
                    "type": "string",
                    "description": "xPersonalEmail"
                  },
                  "xPictures": {
                    "type": "object",
                    "properties": {
                      "OriginalPictureResourceCropParameters": {
                        "type": "string",
                        "description": "OriginalPictureResourceCropParameters"
                      },
                      "SmallResourceId": {
                        "type": "string",
                        "description": "SmallResourceId"
                      },
                      "OriginalResourceId": {
                        "type": "string",
                        "description": "OriginalResourceId"
                      },
                      "MediumResourceId": {
                        "type": "string",
                        "description": "MediumResourceId"
                      }
                    },
                    "description": "xPictures"
                  },
                  "xPositionLookup": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "Id"
                      },
                      "xDescription": {
                        "type": "string",
                        "description": "xDescription"
                      },
                      "xPositionCode": {
                        "type": "string",
                        "description": "xPositionCode"
                      },
                      "xPositionTitle": {
                        "type": "string",
                        "description": "xPositionTitle"
                      },
                      "xRecordStatus": {
                        "type": "string",
                        "description": "xRecordStatus"
                      }
                    },
                    "description": "xPositionLookup"
                  },
                  "xRecordStatus": {
                    "type": "string",
                    "description": "xRecordStatus"
                  },
                  "xSalary": {
                    "type": "object",
                    "properties": {
                      "Amount": {
                        "type": "string",
                        "description": "Amount"
                      },
                      "Currency": {
                        "type": "string",
                        "description": "Currency"
                      }
                    },
                    "description": "xSalary"
                  },
                  "xSeparationDate": {
                    "type": "string",
                    "description": "xSeparationDate"
                  },
                  "xSeparationReason": {
                    "type": "string",
                    "description": "xSeparationReason"
                  },
                  "xStartDate": {
                    "type": "string",
                    "description": "xStartDate"
                  },
                  "xState": {
                    "type": "string",
                    "description": "xState"
                  },
                  "xUpdatedOn": {
                    "type": "string",
                    "description": "xUpdatedOn"
                  },
                  "xVeteranStatus": {
                    "type": "string",
                    "description": "xVeteranStatus"
                  },
                  "xWorkableId": {
                    "type": "string",
                    "description": "xWorkableId"
                  },
                  "xWorkPhone": {
                    "type": "string",
                    "description": "xWorkPhone"
                  },
                  "xZipCode": {
                    "type": "string",
                    "description": "xZipCode"
                  }
                }
              }
            }
          },
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "GetEmployees",
        "description": "GetEmployees",
        "operationId": "GetEmployees",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "xEmployeeNumber eq 'ENTER EMPLOYEE NUMBER HERE'",
            "x-ms-summary": "FilterEmployeeNumber",
            "description": "If you want to fetch a specific Employe, enter the Employee Number in the place provided for that. If you want to fetch all the Employees empty this field."
          },
          {
            "name": "Customer_Key",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentification value you need to obtain from HR Cloud Service Accounts.",
            "x-ms-summary": "CustomerKey"
          },
          {
            "name": "Customer_Secret",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentification value you need to obtain from HR Cloud Service Accounts.",
            "x-ms-summary": "CustomerSecret"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "AddEmployee",
        "description": "AddEmployee",
        "operationId": "AddEmployee",
        "parameters": [
          {
            "name": "Customer_Key",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentification value you need to obtain from HR Cloud Service Accounts.",
            "x-ms-summary": "CustomerKey"
          },
          {
            "name": "Customer_Secret",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentification value you need to obtain from HR Cloud Service Accounts.",
            "x-ms-summary": "CustomerSecret"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "xAddress1": {
                  "type": "string",
                  "description": "xAddress1"
                },
                "xCity": {
                  "type": "string",
                  "description": "xCity"
                },
                "xEmail": {
                  "type": "string",
                  "description": "xEmail",
                  "title": ""
                },
                "xFirstName": {
                  "type": "string",
                  "description": "xFirstName",
                  "title": ""
                },
                "xLastName": {
                  "type": "string",
                  "description": "xLastName",
                  "title": ""
                },
                "xPersonalEmail": {
                  "type": "string",
                  "description": "xPersonalEmail"
                },
                "xRecordStatus": {
                  "type": "string",
                  "description": "xRecordStatus",
                  "title": "",
                  "default": "Active"
                },
                "xStartDate": {
                  "type": "string",
                  "description": "xStartDate",
                  "title": "",
                  "format": "date-time"
                },
                "xState": {
                  "type": "string",
                  "description": "xState"
                },
                "xZipCode": {
                  "type": "string",
                  "description": "xZipCode"
                },
                "xEmployeeNumber": {
                  "type": "string",
                  "description": "xEmployeeNumber"
                },
                "xEmploymentStatusLookup": {
                  "type": "string",
                  "description": "xEmploymentStatusLookup"
                },
                "xLocationLookup": {
                  "type": "string",
                  "description": "xLocationLookup"
                },
                "xPositionLookup": {
                  "type": "string",
                  "description": "xPositionLookup"
                },
                "xDivisionLookup": {
                  "type": "string",
                  "description": "xDivisionLookup"
                },
                "xDepartmentLookup": {
                  "type": "string",
                  "description": "xDepartmentLookup",
                  "title": ""
                }
              },
              "required": [
                "xEmail",
                "xFirstName",
                "xLastName"
              ]
            }
          }
        ]
      },
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "UpdateEmployee",
        "description": "UpdateEmployee",
        "operationId": "UpdateEmployee",
        "parameters": [
          {
            "name": "Customer_Key",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentification value you need to obtain from HR Cloud Service Accounts.",
            "x-ms-summary": "CustomerKey"
          },
          {
            "name": "Customer_Secret",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentification value you need to obtain from HR Cloud Service Accounts.",
            "x-ms-summary": "CustomerSecret"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "string",
                  "description": "Id",
                  "title": ""
                },
                "xAddress1": {
                  "type": "string",
                  "description": "xAddress1"
                },
                "xCity": {
                  "type": "string",
                  "description": "xCity"
                },
                "xEmail": {
                  "type": "string",
                  "description": "xEmail"
                },
                "xFirstName": {
                  "type": "string",
                  "description": "xFirstName"
                },
                "xLastName": {
                  "type": "string",
                  "description": "xLastName"
                },
                "xPersonalEmail": {
                  "type": "string",
                  "description": "xPersonalEmail"
                },
                "xRecordStatus": {
                  "type": "string",
                  "description": "xRecordStatus"
                },
                "xStartDate": {
                  "type": "string",
                  "description": "xStartDate",
                  "title": "",
                  "format": "date-time"
                },
                "xState": {
                  "type": "string",
                  "description": "xState"
                },
                "xZipCode": {
                  "type": "string",
                  "description": "xZipCode"
                },
                "xEmployeeNumber": {
                  "type": "string",
                  "description": "xEmployeeNumber"
                },
                "xEmploymentStatusLookup": {
                  "type": "string",
                  "description": "xEmploymentStatusLookup"
                },
                "xLocationLookup": {
                  "type": "string",
                  "description": "xLocationLookup"
                },
                "xPositionLookup": {
                  "type": "string",
                  "description": "xPositionLookup"
                },
                "xDivisionLookup": {
                  "type": "string",
                  "description": "xDivisionLookup"
                },
                "xDepartmentLookup": {
                  "type": "string",
                  "description": "xDepartmentLookup"
                }
              },
              "required": [
                "Id"
              ]
            }
          }
        ]
      }
    },
    "/v1/cloud/xDepartment": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Id": {
                    "type": "string",
                    "description": "Id"
                  },
                  "xDepartmentCode": {
                    "type": "string",
                    "description": "xDepartmentCode"
                  },
                  "xDepartmentName": {
                    "type": "string",
                    "description": "xDepartmentName"
                  },
                  "xOverheadDepartment": {
                    "type": "string",
                    "description": "xOverheadDepartment"
                  },
                  "xRecordStatus": {
                    "type": "string",
                    "description": "xRecordStatus"
                  }
                }
              }
            }
          }
        },
        "summary": "GetDepartment",
        "description": "GetDepartment",
        "operationId": "GetDepartment",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "xDepartmentName eq 'ENTER DEPARTMENT NAME HERE'",
            "description": "If you want to fetch a specific Department, enter the Department name in the place provided for that. If you want to fetch all the Departments empty this field.",
            "x-ms-summary": "FilterDepartmentName"
          },
          {
            "name": "Customer_Key",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentification value you need to obtain from HR Cloud Service Accounts.",
            "x-ms-summary": "CustomerKey"
          },
          {
            "name": "Customer_Secret",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentification value you need to obtain from HR Cloud Service Accounts.",
            "x-ms-summary": "CustomerSecret"
          }
        ]
      }
    },
    "/v1/cloud/xLocation": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Id": {
                    "type": "string",
                    "description": "Id"
                  },
                  "xAddress": {
                    "type": "string",
                    "description": "xAddress"
                  },
                  "xDescription": {
                    "type": "string",
                    "description": "xDescription"
                  },
                  "xLocationCode": {
                    "type": "string",
                    "description": "xLocationCode"
                  },
                  "xLocationName": {
                    "type": "string",
                    "description": "xLocationName"
                  },
                  "xRecordStatus": {
                    "type": "string",
                    "description": "xRecordStatus"
                  }
                }
              }
            }
          }
        },
        "summary": "GetLocation",
        "description": "GetLocation",
        "operationId": "GetLocation",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "xLocationName eq 'ENTER LOCATION NAME HERE'",
            "x-ms-summary": "FilterLocationName",
            "description": "If you want to fetch a specific Location, enter the Location name in the place provided for that. If you want to fetch all the Locations empty this field."
          },
          {
            "name": "Customer_Key",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentification value you need to obtain from HR Cloud Service Accounts.",
            "x-ms-summary": "CustomerKey"
          },
          {
            "name": "Customer_Secret",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentification value you need to obtain from HR Cloud Service Accounts.",
            "x-ms-summary": "CustomerSecret"
          }
        ]
      }
    },
    "/v1/cloud/xPosition": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Id": {
                    "type": "string",
                    "description": "Id"
                  },
                  "xDescription": {
                    "type": "string",
                    "description": "xDescription"
                  },
                  "xPositionCode": {
                    "type": "string",
                    "description": "xPositionCode"
                  },
                  "xPositionTitle": {
                    "type": "string",
                    "description": "xPositionTitle"
                  },
                  "xRecordStatus": {
                    "type": "string",
                    "description": "xRecordStatus"
                  }
                }
              }
            }
          }
        },
        "summary": "GetPosition",
        "description": "GetPosition",
        "operationId": "GetPosition",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "xPositionTitle eq 'ENTER POSITION TITLE HERE'",
            "x-ms-summary": "FilterPositionTitle",
            "description": "If you want to fetch a specific Position, enter the Positon title in the place provided for that. If you want to fetch all the Positions empty this field."
          },
          {
            "name": "Customer_Key",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentification value you need to obtain from HR Cloud Service Accounts.",
            "x-ms-summary": "CustomerKey"
          },
          {
            "name": "Customer_Secret",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentification value you need to obtain from HR Cloud Service Accounts.",
            "x-ms-summary": "CustomerSecret"
          }
        ]
      }
    },
    "/v1/cloud/xDivision": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Id": {
                    "type": "string",
                    "description": "Id"
                  },
                  "xDivisionCode": {
                    "type": "string",
                    "description": "xDivisionCode"
                  },
                  "xDivisionName": {
                    "type": "string",
                    "description": "xDivisionName"
                  },
                  "xRecordStatus": {
                    "type": "string",
                    "description": "xRecordStatus"
                  }
                }
              }
            }
          }
        },
        "summary": "GetDivision",
        "description": "GetDivision",
        "operationId": "GetDivision",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "xDivisionName eq 'ENTER DIVISION NAME HERE'",
            "x-ms-summary": "FilterDivisionName",
            "description": "If you want to fetch a specific Division, enter the Division name in the place provided for that. If you want to fetch all the Division empty this field."
          },
          {
            "name": "Customer_Key",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentification value you need to obtain from HR Cloud Service Accounts.",
            "x-ms-summary": "CustomerKey"
          },
          {
            "name": "Customer_Secret",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentification value you need to obtain from HR Cloud Service Accounts.",
            "x-ms-summary": "CustomerSecret"
          }
        ]
      }
    },
    "/v1/cloud/xEmploymentStatus": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Id": {
                    "type": "string",
                    "description": "Id"
                  },
                  "xRecordStatus": {
                    "type": "string",
                    "description": "xRecordStatus"
                  },
                  "xType": {
                    "type": "string",
                    "description": "xType"
                  }
                }
              }
            }
          }
        },
        "summary": "GetEmploymentStatus",
        "description": "GetEmploymentStatus",
        "operationId": "GetEmploymentStatus",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "xType eq 'ENTER EMPLOYMENT STATUS TYPE HERE'",
            "x-ms-summary": "FilterEmploymentStatusType",
            "description": "If you want to fetch a specific Employment Status, enter the Employment Status type in the place provided for that. If you want to fetch all the Employment Statuses empty this field."
          },
          {
            "name": "Customer_Key",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentification value you need to obtain from HR Cloud Service Accounts.",
            "x-ms-summary": "CustomerKey"
          },
          {
            "name": "Customer_Secret",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentification value you need to obtain from HR Cloud Service Accounts.",
            "x-ms-summary": "CustomerSecret"
          }
        ]
      }
    }
  },
    "x-ms-connector-metadata": [
	{
	"propertyName" : "Website",
	"propertyValue" : "https://www.hrcloud.com/"
	},
	{
	"propertyName" : "Privacy policy",
	"propertyValue" : "https://www.hrcloud.com/privacypolicy/"
	},
	{
	"propertyName" : "Categories",
	"propertyValue" : "Human Resources"
	}
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}