{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "CPQSync",
    "description": "Leverage the 365 technology stack to integrate CPQSync, to the 365 Dynamics ecosystem for a seamless experience. This includes workflow, data, and events.",
    "contact": {
      "name": "Cincom Support",
      "url": "https://cincom.force.com/SyncPortal/",
      "email": "support@cincom.com"
    }
  },
  "host": "api.cincomcpq.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/configurator/tenants/{tenantId}/web-hooks/selfServiceCartCreated": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/selfServiceCartDto"
        },
        "description": "A custom self service cart response based on the tenant's parameters and integrations"
      },
      "post": {
        "responses": {
          "201": {
            "description": "Web hook subscription created"
          }
        },
        "summary": "Self Service Cart Created",
        "operationId": "SelfServiceCartCreated",
        "x-ms-trigger": "single",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Tenant Id",
            "x-ms-summary": "The tenant id found under your subscriptions in CCA",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "*/*",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "The callback url for Power Automate",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "callbackUrl"
                },
                "awaitResult": {
                  "type": "boolean",
                  "description": "The callback url for Power Automate",
                  "x-ms-visibility": "internal",
                  "title": "awaitResult"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "description": "Fired when a self service cart is created in CPQ Sync"
      }
    },
    "/configurator/tenants/{tenantId}/web-hook-schemas/selfServiceCartCreated": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "title": "selfServiceCartForCreationDto",
              "type": "object"
            }
          }
        },
        "summary": "Get self service cart created schema",
        "operationId": "GetSelfServiceCartCreatedSchema",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Tenant Id",
            "x-ms-summary": "The tenant id found under your subscriptions in CCA",
            "x-ms-url-encoding": "single"
          }
        ],
        "description": "Get the schema to create a self service cart",
        "x-ms-visibility": "internal"
      }
    },
    "/master-data/tenants/{tenantId}/web-hooks/PricedItemUpdated": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/productForManipulationDto"
        },
        "description": "A custom product response based on the tenant's custom fields"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Web hook subscription created"
          }
        },
        "summary": "Product Updated",
        "operationId": "ProductUpdated",
        "x-ms-trigger": "single",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Tenant Id",
            "x-ms-summary": "The tenant id found under your subscriptions in CCA",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "*/*",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "The callback url for Power Automate",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "callbackUrl",
                  "x-ms-url-encoding": "single"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "description": "Fired when a product is updated in CPQ Sync"
      }
    },
    "/master-data/tenants/{tenantId}/web-hooks/PricedItemCreated": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/productForCreationDto"
        },
        "description": "A custom product response based on the tenant's custom fields"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Web hook subscription created"
          }
        },
        "summary": "Product Created",
        "operationId": "ProductCreated",
        "x-ms-trigger": "single",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Tenant Id",
            "x-ms-summary": "The tenant id found under your subscriptions in CCA",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "*/*",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "The callback url for Power Automate",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "callbackUrl",
                  "x-ms-url-encoding": "single"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "description": "Fired when a product is created in CPQ Sync"
      }
    },
    "/master-data/tenants/{tenantId}/priced-items/{externalRefId}": {
      "post": {
        "summary": "Add product",
        "description": "Add a product to the catalog",
        "operationId": "AddProduct",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Tenant Id",
            "x-ms-summary": "The tenant id found under your subscriptions in CCA"
          },
          {
            "name": "externalRefId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Record Identifier",
            "x-ms-summary": "The record Id from your external system"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productForCreationDto"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Product Created",
            "schema": {
              "$ref": "#/definitions/productForManipulationDto"
            }
          },
          "404": {
            "description": "Product Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "detail": {
                  "type": "string",
                  "description": "detail"
                },
                "instance": {
                  "type": "string",
                  "description": "instance"
                }
              }
            }
          },
          "500": {
            "description": "Internal Service Error",
            "schema": {
              "type": "object"
            }
          }
        }
      },
      "put": {
        "summary": "Update product",
        "description": "Update a product in the catalog",
        "operationId": "UpdateProduct",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Tenant Id",
            "x-ms-summary": "The tenant id found under your subscriptions in CCA",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "externalRefId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The product identifier from your external system.",
            "x-ms-summary": "The record Id from your external system",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productForManipulationDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/productForManipulationDto"
            }
          },
          "404": {
            "description": "Product Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "detail": {
                  "type": "string",
                  "description": "detail"
                },
                "instance": {
                  "type": "string",
                  "description": "instance"
                }
              }
            }
          },
          "500": {
            "description": "Internal Service Error",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/master-data/tenants/{tenantId}/web-hooks/schema/PricedItemUpdated/ConfiguredProduct": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "title": "pricedItemForUpdateDto",
              "type": "object"
            }
          }
        },
        "summary": "Get product updated schema",
        "operationId": "GetProductUpdatedSchema",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Tenant Id",
            "x-ms-summary": "The tenant id found under your subscriptions in CCA",
            "x-ms-url-encoding": "single"
          }
        ],
        "description": "Get the schema to update a product",
        "x-ms-visibility": "internal"
      }
    },
    "/master-data/tenants/{tenantId}/web-hooks/schema/PricedItemCreated/ConfiguredProduct": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "title": "pricedItemForCreationDto",
              "type": "object"
            }
          }
        },
        "summary": "Get product created schema",
        "operationId": "GetProductCreatedSchema",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Tenant Id",
            "x-ms-summary": "The tenant id found under your subscriptions in CCA",
            "x-ms-url-encoding": "single"
          }
        ],
        "description": "Get the schema to update a product",
        "x-ms-visibility": "internal"
      }
    }
  },
  "definitions": {
    "productForManipulationDto": {
      "type": "object",
      "properties": {},
      "x-ms-dynamic-schema": {
        "operationId": "GetProductUpdatedSchema",
        "value-path": "properties",
        "parameters": {
          "tenantId": {
            "parameter": "tenantId"
          }
        }
      },
      "x-ms-dynamic-properties": {
        "operationId": "GetProductUpdatedSchema",
        "parameters": {
          "tenantId": {
            "parameterReference": "tenantId"
          }
        }
      }
    },
    "productForCreationDto": {
      "type": "object",
      "properties": {},
      "x-ms-dynamic-schema": {
        "operationId": "GetProductCreatedSchema",
        "value-path": "properties",
        "parameters": {
          "tenantId": {
            "parameter": "tenantId"
          }
        }
      },
      "x-ms-dynamic-properties": {
        "operationId": "GetProductCreatedSchema",
        "parameters": {
          "tenantId": {
            "parameterReference": "tenantId"
          }
        }
      }
    },
    "selfServiceCartDto": {
      "type": "object",
      "properties": {},
      "x-ms-dynamic-schema": {
        "operationId": "GetSelfServiceCartCreatedSchema",
        "value-path": "properties",
        "parameters": {
          "tenantId": {
            "parameter": "tenantId"
          }
        }
      },
      "x-ms-dynamic-properties": {
        "operationId": "GetSelfServiceCartCreatedSchema",
        "parameters": {
          "tenantId": {
            "parameterReference": "tenantId"
          }
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.cincom.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.cincom.com/us/company/terms-policies"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Sales and CRM"
    }
  ]
}