{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Get Asset - Oxmaint",
    "description": "The Get Asset connector (Oxmaint) allows users to retrieve assets with relevant metadata and properties for efficient tracking and management."
  },
  "host": "prod-41.westeurope.logic.azure.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/workflows/d19cca452f59445581c1a0cf9a16b50f/triggers/manual/paths/invoke": {
      "post": {
        "summary": "Get Asset - Oxmaint",
        "description": "Get Asset - Oxmaint",
        "operationId": "GetAssetOxmaint",
        "parameters": [
          {
            "name": "api-version",
            "default": "2016-06-01",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "sp",
            "default": "/triggers/manual/run",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "sv",
            "default": "1.0",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "sig",
            "default": "tyR2KwcLzVPrThB_9wZQhtd2JUnKATbgC_o7xZmlous",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "user_email": {
                  "type": "string",
                  "description": "user_email",
                  "title": "Master Email",
                  "x-ms-visibility": "important"
                },
                "password": {
                  "type": "string",
                  "description": "password",
                  "title": "Password",
                  "x-ms-visibility": "important"
                }
              },
              "default": {
                "user_email": "jasmine@gmail.om",
                "password": "123456"
              },
              "required": [
                "password",
                "user_email"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}