{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Companies House",
    "description": "Companies House Connector to search for information.",
    "contact": {
      "name": "Matt Collins-Jones",
      "url": "https://github.com/MattCollins-Jones",
      "email": "mattcollinsjones@gmail.com"
    }
  },
  "host": "api.company-information.service.gov.uk",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/company/%7B%7BCompanyNumber%7D%7D": {},
    "/company/%7B%7BCompanyNumber%7D%7D/persons-with-significant-control-statements": {},
    "/company/%7B%7BCompanyNumber%7D%7D/persons-with-significant-control": {},
    "/company/%7B%7BCompanyNumber%7D%7D/persons-with-significant-control/individual/%7B%7BPCSId%7D%7D": {},
    "/company/%7B%7BCompanyNumber%7D%7D/persons-with-significant-control-statements/%7B%7BStatementId%7D%7D": {},
    "/company/%7B%7BCompanyNumber%7D%7D/uk-establishments": {},
    "//officers/%7B%7BOfficerId%7D%7D/appointments": {},
    "/company/%7B%7BCompanyNumber%7D%7D/filing-history/%7B%7BTransactionId%7D%7D": {},
    "/company/%7B%7BCompanyNumber%7D%7D/charges": {},
    "/company/%7B%7BCompanyNumber%7D%7D/charges/%7B%7BChargeId%7D%7D": {},
    "/company/%7B%7BCompanyNumber%7D%7D/registers": {},
    "/company/%7B%7BCompanyNumber%7D%7D/registered-office-address": {},
    "/company/%7B%7BCompanyNumber%7D%7D/officers": {},
    "/company/%7B%7BCompanyNumber%7D%7D/appointments/%7B%7BAppointmentId%7D%7D": {},
    "/company/{CompanyNumber}": {
      "get": {
        "summary": "Find Company By Number",
        "description": "Find a Company By their Company Number",
        "operationId": "CompanyByNumber",
        "parameters": [
          {
            "name": "CompanyNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the Company Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Company Number"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "jurisdiction": {
                  "type": "string",
                  "description": "jurisdiction"
                },
                "has_been_liquidated": {
                  "type": "boolean",
                  "description": "has_been_liquidated"
                },
                "registered_office_address": {
                  "type": "object",
                  "properties": {
                    "postal_code": {
                      "type": "string",
                      "description": "postal_code"
                    },
                    "address_line_1": {
                      "type": "string",
                      "description": "address_line_1"
                    },
                    "region": {
                      "type": "string",
                      "description": "region"
                    },
                    "country": {
                      "type": "string",
                      "description": "country"
                    },
                    "address_line_2": {
                      "type": "string",
                      "description": "address_line_2"
                    },
                    "locality": {
                      "type": "string",
                      "description": "locality"
                    }
                  },
                  "description": "registered_office_address"
                },
                "date_of_creation": {
                  "type": "string",
                  "description": "date_of_creation"
                },
                "company_name": {
                  "type": "string",
                  "description": "company_name"
                },
                "accounts": {
                  "type": "object",
                  "properties": {
                    "accounting_reference_date": {
                      "type": "object",
                      "properties": {
                        "day": {
                          "type": "string",
                          "description": "day"
                        },
                        "month": {
                          "type": "string",
                          "description": "month"
                        }
                      },
                      "description": "accounting_reference_date"
                    },
                    "overdue": {
                      "type": "boolean",
                      "description": "overdue"
                    },
                    "last_accounts": {
                      "type": "object",
                      "properties": {
                        "period_end_on": {
                          "type": "string",
                          "description": "period_end_on"
                        },
                        "made_up_to": {
                          "type": "string",
                          "description": "made_up_to"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "period_start_on": {
                          "type": "string",
                          "description": "period_start_on"
                        }
                      },
                      "description": "last_accounts"
                    },
                    "next_due": {
                      "type": "string",
                      "description": "next_due"
                    },
                    "next_accounts": {
                      "type": "object",
                      "properties": {
                        "period_start_on": {
                          "type": "string",
                          "description": "period_start_on"
                        },
                        "overdue": {
                          "type": "boolean",
                          "description": "overdue"
                        },
                        "period_end_on": {
                          "type": "string",
                          "description": "period_end_on"
                        },
                        "due_on": {
                          "type": "string",
                          "description": "due_on"
                        }
                      },
                      "description": "next_accounts"
                    },
                    "next_made_up_to": {
                      "type": "string",
                      "description": "next_made_up_to"
                    }
                  },
                  "description": "accounts"
                },
                "company_number": {
                  "type": "string",
                  "description": "company_number"
                },
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "undeliverable_registered_office_address": {
                  "type": "boolean",
                  "description": "undeliverable_registered_office_address"
                },
                "sic_codes": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "sic_codes"
                },
                "last_full_members_list_date": {
                  "type": "string",
                  "description": "last_full_members_list_date"
                },
                "has_insolvency_history": {
                  "type": "boolean",
                  "description": "has_insolvency_history"
                },
                "etag": {
                  "type": "string",
                  "description": "etag"
                },
                "has_charges": {
                  "type": "boolean",
                  "description": "has_charges"
                },
                "company_status": {
                  "type": "string",
                  "description": "company_status"
                },
                "confirmation_statement": {
                  "type": "object",
                  "properties": {
                    "last_made_up_to": {
                      "type": "string",
                      "description": "last_made_up_to"
                    },
                    "next_made_up_to": {
                      "type": "string",
                      "description": "next_made_up_to"
                    },
                    "overdue": {
                      "type": "boolean",
                      "description": "overdue"
                    },
                    "next_due": {
                      "type": "string",
                      "description": "next_due"
                    }
                  },
                  "description": "confirmation_statement"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "description": "self"
                    },
                    "filing_history": {
                      "type": "string",
                      "description": "filing_history"
                    },
                    "officers": {
                      "type": "string",
                      "description": "officers"
                    },
                    "charges": {
                      "type": "string",
                      "description": "charges"
                    },
                    "persons_with_significant_control_statements": {
                      "type": "string",
                      "description": "persons_with_significant_control_statements"
                    },
                    "persons_with_significant_control": {
                      "type": "string",
                      "description": "persons_with_significant_control"
                    }
                  },
                  "description": "links"
                },
                "registered_office_is_in_dispute": {
                  "type": "boolean",
                  "description": "registered_office_is_in_dispute"
                },
                "has_super_secure_pscs": {
                  "type": "boolean",
                  "description": "has_super_secure_pscs"
                },
                "can_file": {
                  "type": "boolean",
                  "description": "can_file"
                }
              }
            },
            "headers": {
              "{": {
                "description": "{",
                "type": "string"
              },
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"content-length\"": {
                "description": "\"content-length\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"date\"": {
                "description": "\"date\"",
                "type": "string"
              },
              "\"pragma\"": {
                "description": "\"pragma\"",
                "type": "string"
              },
              "\"x-ms-apihub-cached-response\"": {
                "description": "\"x-ms-apihub-cached-response\"",
                "type": "string"
              },
              "\"x-ratelimit-limit\"": {
                "description": "\"x-ratelimit-limit\"",
                "type": "string"
              },
              "\"x-ratelimit-remain\"": {
                "description": "\"x-ratelimit-remain\"",
                "type": "string"
              },
              "\"x-ratelimit-reset\"": {
                "description": "\"x-ratelimit-reset\"",
                "type": "string"
              },
              "\"x-ratelimit-window\"": {
                "description": "\"x-ratelimit-window\"",
                "type": "string"
              },
              "}": {
                "description": "}",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/company/{CompanyNumber}/persons-with-significant-control-statements": {
      "get": {
        "summary": "List Person of Significant Control",
        "description": "List Persons of Significant Control by Company Number",
        "operationId": "ListPsc",
        "parameters": [
          {
            "name": "CompanyNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the Company Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Company Number"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "description": "self"
                    },
                    "persons_with_significant_control": {
                      "type": "string",
                      "description": "persons_with_significant_control"
                    }
                  },
                  "description": "links"
                },
                "total_results": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total_results"
                },
                "ceased_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ceased_count"
                },
                "start_index": {
                  "type": "integer",
                  "format": "int32",
                  "description": "start_index"
                },
                "active_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "active_count"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "notified_on": {
                        "type": "string",
                        "description": "notified_on"
                      },
                      "statement": {
                        "type": "string",
                        "description": "statement"
                      },
                      "etag": {
                        "type": "string",
                        "description": "etag"
                      },
                      "kind": {
                        "type": "string",
                        "description": "kind"
                      },
                      "links": {
                        "type": "object",
                        "properties": {
                          "self": {
                            "type": "string",
                            "description": "self"
                          }
                        },
                        "description": "links"
                      },
                      "ceased_on": {
                        "type": "string",
                        "description": "ceased_on"
                      }
                    }
                  },
                  "description": "items"
                },
                "items_per_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "items_per_page"
                }
              }
            },
            "headers": {
              "{": {
                "description": "{",
                "type": "string"
              },
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"content-length\"": {
                "description": "\"content-length\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"date\"": {
                "description": "\"date\"",
                "type": "string"
              },
              "\"pragma\"": {
                "description": "\"pragma\"",
                "type": "string"
              },
              "\"x-ms-apihub-cached-response\"": {
                "description": "\"x-ms-apihub-cached-response\"",
                "type": "string"
              },
              "\"x-ratelimit-limit\"": {
                "description": "\"x-ratelimit-limit\"",
                "type": "string"
              },
              "\"x-ratelimit-remain\"": {
                "description": "\"x-ratelimit-remain\"",
                "type": "string"
              },
              "\"x-ratelimit-reset\"": {
                "description": "\"x-ratelimit-reset\"",
                "type": "string"
              },
              "\"x-ratelimit-window\"": {
                "description": "\"x-ratelimit-window\"",
                "type": "string"
              },
              "}": {
                "description": "}",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/company/{CompanyNumber}/persons-with-significant-control": {
      "get": {
        "summary": "List Statements for Person of Significant Control",
        "description": "List Statements for Person of Significant Control by Company Number",
        "operationId": "ListStatementsPsc",
        "parameters": [
          {
            "name": "CompanyNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the Company Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Company Number"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "address": {
                        "type": "object",
                        "properties": {
                          "address_line_2": {
                            "type": "string",
                            "description": "address_line_2"
                          },
                          "locality": {
                            "type": "string",
                            "description": "locality"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "postal_code"
                          },
                          "region": {
                            "type": "string",
                            "description": "region"
                          },
                          "country": {
                            "type": "string",
                            "description": "country"
                          },
                          "premises": {
                            "type": "string",
                            "description": "premises"
                          },
                          "address_line_1": {
                            "type": "string",
                            "description": "address_line_1"
                          }
                        },
                        "description": "address"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "country_of_residence": {
                        "type": "string",
                        "description": "country_of_residence"
                      },
                      "notified_on": {
                        "type": "string",
                        "description": "notified_on"
                      },
                      "natures_of_control": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "natures_of_control"
                      },
                      "name_elements": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "title"
                          },
                          "middle_name": {
                            "type": "string",
                            "description": "middle_name"
                          },
                          "surname": {
                            "type": "string",
                            "description": "surname"
                          },
                          "forename": {
                            "type": "string",
                            "description": "forename"
                          }
                        },
                        "description": "name_elements"
                      },
                      "date_of_birth": {
                        "type": "object",
                        "properties": {
                          "year": {
                            "type": "integer",
                            "format": "int32",
                            "description": "year"
                          },
                          "month": {
                            "type": "integer",
                            "format": "int32",
                            "description": "month"
                          }
                        },
                        "description": "date_of_birth"
                      },
                      "nationality": {
                        "type": "string",
                        "description": "nationality"
                      },
                      "kind": {
                        "type": "string",
                        "description": "kind"
                      },
                      "etag": {
                        "type": "string",
                        "description": "etag"
                      },
                      "links": {
                        "type": "object",
                        "properties": {
                          "self": {
                            "type": "string",
                            "description": "self"
                          }
                        },
                        "description": "links"
                      }
                    }
                  },
                  "description": "items"
                },
                "active_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "active_count"
                },
                "total_results": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total_results"
                },
                "items_per_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "items_per_page"
                },
                "ceased_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ceased_count"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "description": "self"
                    },
                    "persons_with_significant_control_statements": {
                      "type": "string",
                      "description": "persons_with_significant_control_statements"
                    }
                  },
                  "description": "links"
                },
                "start_index": {
                  "type": "integer",
                  "format": "int32",
                  "description": "start_index"
                }
              }
            },
            "headers": {
              "{": {
                "description": "{",
                "type": "string"
              },
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"content-length\"": {
                "description": "\"content-length\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"date\"": {
                "description": "\"date\"",
                "type": "string"
              },
              "\"pragma\"": {
                "description": "\"pragma\"",
                "type": "string"
              },
              "\"x-ms-apihub-cached-response\"": {
                "description": "\"x-ms-apihub-cached-response\"",
                "type": "string"
              },
              "\"x-ratelimit-limit\"": {
                "description": "\"x-ratelimit-limit\"",
                "type": "string"
              },
              "\"x-ratelimit-remain\"": {
                "description": "\"x-ratelimit-remain\"",
                "type": "string"
              },
              "\"x-ratelimit-reset\"": {
                "description": "\"x-ratelimit-reset\"",
                "type": "string"
              },
              "\"x-ratelimit-window\"": {
                "description": "\"x-ratelimit-window\"",
                "type": "string"
              },
              "}": {
                "description": "}",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/company/{CompanyNumber}/persons-with-significant-control/individual/{PCSId}": {
      "get": {
        "summary": "Individual PSC",
        "description": "Find information about a Person of Significan Control by Company Number and PCS ID",
        "operationId": "IndividualPsc",
        "parameters": [
          {
            "name": "CompanyNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the Company Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Company Number"
          },
          {
            "name": "PCSId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the ID of the Person with Significant Control",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Person with Significant Control ID"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "natures_of_control": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "natures_of_control"
                },
                "kind": {
                  "type": "string",
                  "description": "kind"
                },
                "name_elements": {
                  "type": "object",
                  "properties": {
                    "forename": {
                      "type": "string",
                      "description": "forename"
                    },
                    "title": {
                      "type": "string",
                      "description": "title"
                    },
                    "surname": {
                      "type": "string",
                      "description": "surname"
                    }
                  },
                  "description": "name_elements"
                },
                "date_of_birth": {
                  "type": "object",
                  "properties": {
                    "month": {
                      "type": "integer",
                      "format": "int32",
                      "description": "month"
                    },
                    "year": {
                      "type": "integer",
                      "format": "int32",
                      "description": "year"
                    }
                  },
                  "description": "date_of_birth"
                },
                "etag": {
                  "type": "string",
                  "description": "etag"
                },
                "notified_on": {
                  "type": "string",
                  "description": "notified_on"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "description": "self"
                    }
                  },
                  "description": "links"
                },
                "address": {
                  "type": "object",
                  "properties": {
                    "country": {
                      "type": "string",
                      "description": "country"
                    },
                    "locality": {
                      "type": "string",
                      "description": "locality"
                    },
                    "premises": {
                      "type": "string",
                      "description": "premises"
                    },
                    "postal_code": {
                      "type": "string",
                      "description": "postal_code"
                    }
                  },
                  "description": "address"
                },
                "nationality": {
                  "type": "string",
                  "description": "nationality"
                },
                "country_of_residence": {
                  "type": "string",
                  "description": "country_of_residence"
                }
              }
            },
            "headers": {
              "{": {
                "description": "{",
                "type": "string"
              },
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"content-length\"": {
                "description": "\"content-length\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"date\"": {
                "description": "\"date\"",
                "type": "string"
              },
              "\"pragma\"": {
                "description": "\"pragma\"",
                "type": "string"
              },
              "\"x-ms-apihub-cached-response\"": {
                "description": "\"x-ms-apihub-cached-response\"",
                "type": "string"
              },
              "\"x-ratelimit-limit\"": {
                "description": "\"x-ratelimit-limit\"",
                "type": "string"
              },
              "\"x-ratelimit-remain\"": {
                "description": "\"x-ratelimit-remain\"",
                "type": "string"
              },
              "\"x-ratelimit-reset\"": {
                "description": "\"x-ratelimit-reset\"",
                "type": "string"
              },
              "\"x-ratelimit-window\"": {
                "description": "\"x-ratelimit-window\"",
                "type": "string"
              },
              "}": {
                "description": "}",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/company/{CompanyNumber}/uk-establishments": {
      "get": {
        "summary": "UK Establishments",
        "description": "List of UK-establishments companies",
        "operationId": "UKEstablishments",
        "parameters": [
          {
            "name": "CompanyNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the Company Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Company Number"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "etag": {
                  "type": "string",
                  "description": "etag"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "company_name": {
                        "type": "string",
                        "description": "company_name"
                      },
                      "company_number": {
                        "type": "string",
                        "description": "company_number"
                      },
                      "company_status": {
                        "type": "string",
                        "description": "company_status"
                      },
                      "links": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "description": "company"
                          }
                        },
                        "description": "links"
                      },
                      "locality": {
                        "type": "string",
                        "description": "locality"
                      }
                    }
                  },
                  "description": "items"
                },
                "kind": {
                  "type": "string",
                  "description": "kind"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "description": "self"
                    }
                  },
                  "description": "links"
                }
              }
            },
            "headers": {
              "{": {
                "description": "{",
                "type": "string"
              },
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"content-length\"": {
                "description": "\"content-length\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"date\"": {
                "description": "\"date\"",
                "type": "string"
              },
              "\"pragma\"": {
                "description": "\"pragma\"",
                "type": "string"
              },
              "\"x-ms-apihub-cached-response\"": {
                "description": "\"x-ms-apihub-cached-response\"",
                "type": "string"
              },
              "\"x-ratelimit-limit\"": {
                "description": "\"x-ratelimit-limit\"",
                "type": "string"
              },
              "\"x-ratelimit-remain\"": {
                "description": "\"x-ratelimit-remain\"",
                "type": "string"
              },
              "\"x-ratelimit-reset\"": {
                "description": "\"x-ratelimit-reset\"",
                "type": "string"
              },
              "\"x-ratelimit-window\"": {
                "description": "\"x-ratelimit-window\"",
                "type": "string"
              },
              "}": {
                "description": "}",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/officers/{OfficerId}/appointments": {
      "get": {
        "summary": "Officer Appointment by Officer Id",
        "description": "Officer Appointment by Officer Id",
        "operationId": "OfficerAppointmentByOfficerId",
        "parameters": [
          {
            "name": "OfficerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the ID of the Officer at the Company",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Officer ID"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "start_index": {
                  "type": "integer",
                  "format": "int32",
                  "description": "start_index"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "description": "self"
                    }
                  },
                  "description": "links"
                },
                "etag": {
                  "type": "string",
                  "description": "etag"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "total_results": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total_results"
                },
                "is_corporate_officer": {
                  "type": "boolean",
                  "description": "is_corporate_officer"
                },
                "kind": {
                  "type": "string",
                  "description": "kind"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "officer_role": {
                        "type": "string",
                        "description": "officer_role"
                      },
                      "name_elements": {
                        "type": "object",
                        "properties": {
                          "forename": {
                            "type": "string",
                            "description": "forename"
                          },
                          "surname": {
                            "type": "string",
                            "description": "surname"
                          },
                          "title": {
                            "type": "string",
                            "description": "title"
                          }
                        },
                        "description": "name_elements"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "appointed_to": {
                        "type": "object",
                        "properties": {
                          "company_number": {
                            "type": "string",
                            "description": "company_number"
                          },
                          "company_name": {
                            "type": "string",
                            "description": "company_name"
                          },
                          "company_status": {
                            "type": "string",
                            "description": "company_status"
                          }
                        },
                        "description": "appointed_to"
                      },
                      "links": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "description": "company"
                          }
                        },
                        "description": "links"
                      },
                      "appointed_on": {
                        "type": "string",
                        "description": "appointed_on"
                      },
                      "address": {
                        "type": "object",
                        "properties": {
                          "locality": {
                            "type": "string",
                            "description": "locality"
                          },
                          "address_line_1": {
                            "type": "string",
                            "description": "address_line_1"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "postal_code"
                          },
                          "premises": {
                            "type": "string",
                            "description": "premises"
                          },
                          "country": {
                            "type": "string",
                            "description": "country"
                          }
                        },
                        "description": "address"
                      }
                    }
                  },
                  "description": "items"
                },
                "items_per_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "items_per_page"
                }
              }
            },
            "headers": {
              "{": {
                "description": "{",
                "type": "string"
              },
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"content-length\"": {
                "description": "\"content-length\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"date\"": {
                "description": "\"date\"",
                "type": "string"
              },
              "\"pragma\"": {
                "description": "\"pragma\"",
                "type": "string"
              },
              "\"x-ms-apihub-cached-response\"": {
                "description": "\"x-ms-apihub-cached-response\"",
                "type": "string"
              },
              "\"x-ratelimit-limit\"": {
                "description": "\"x-ratelimit-limit\"",
                "type": "string"
              },
              "\"x-ratelimit-remain\"": {
                "description": "\"x-ratelimit-remain\"",
                "type": "string"
              },
              "\"x-ratelimit-reset\"": {
                "description": "\"x-ratelimit-reset\"",
                "type": "string"
              },
              "\"x-ratelimit-window\"": {
                "description": "\"x-ratelimit-window\"",
                "type": "string"
              },
              "}": {
                "description": "}",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/company/{CompanyNumber}/filing-history/{TransactionId}": {
      "get": {
        "summary": "Filing History By Number and Id",
        "description": "Filing History By Number and Id",
        "operationId": "FilingHistoryByNumberAndId",
        "parameters": [
          {
            "name": "CompanyNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the Company Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Company Number"
          },
          {
            "name": "TransactionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the Transaction ID",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Transaction ID"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "action_date": {
                  "type": "string",
                  "description": "action_date"
                },
                "category": {
                  "type": "string",
                  "description": "category"
                },
                "date": {
                  "type": "string",
                  "description": "date"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "description_values": {
                  "type": "object",
                  "properties": {
                    "change_date": {
                      "type": "string",
                      "description": "change_date"
                    },
                    "new_address": {
                      "type": "string",
                      "description": "new_address"
                    },
                    "old_address": {
                      "type": "string",
                      "description": "old_address"
                    }
                  },
                  "description": "description_values"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "description": "self"
                    },
                    "document_metadata": {
                      "type": "string",
                      "description": "document_metadata"
                    }
                  },
                  "description": "links"
                },
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "pages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "pages"
                },
                "barcode": {
                  "type": "string",
                  "description": "barcode"
                },
                "transaction_id": {
                  "type": "string",
                  "description": "transaction_id"
                }
              }
            },
            "headers": {
              "{": {
                "description": "{",
                "type": "string"
              },
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"content-length\"": {
                "description": "\"content-length\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"date\"": {
                "description": "\"date\"",
                "type": "string"
              },
              "\"pragma\"": {
                "description": "\"pragma\"",
                "type": "string"
              },
              "\"x-ms-apihub-cached-response\"": {
                "description": "\"x-ms-apihub-cached-response\"",
                "type": "string"
              },
              "\"x-ratelimit-limit\"": {
                "description": "\"x-ratelimit-limit\"",
                "type": "string"
              },
              "\"x-ratelimit-remain\"": {
                "description": "\"x-ratelimit-remain\"",
                "type": "string"
              },
              "\"x-ratelimit-reset\"": {
                "description": "\"x-ratelimit-reset\"",
                "type": "string"
              },
              "\"x-ratelimit-window\"": {
                "description": "\"x-ratelimit-window\"",
                "type": "string"
              },
              "}": {
                "description": "}",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/company/{CompanyNumber}/charges": {
      "get": {
        "summary": "Charges By Company Number",
        "description": "Charges By Company Number",
        "operationId": "ChargesByNumber",
        "parameters": [
          {
            "name": "CompanyNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the Company Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Company Number"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total_count"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "charge_number": {
                        "type": "integer",
                        "format": "int32",
                        "description": "charge_number"
                      },
                      "links": {
                        "type": "object",
                        "properties": {
                          "self": {
                            "type": "string",
                            "description": "self"
                          }
                        },
                        "description": "links"
                      },
                      "created_on": {
                        "type": "string",
                        "description": "created_on"
                      },
                      "transactions": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "filing_type": {
                              "type": "string",
                              "description": "filing_type"
                            },
                            "links": {
                              "type": "object",
                              "properties": {
                                "filing": {
                                  "type": "string",
                                  "description": "filing"
                                }
                              },
                              "description": "links"
                            },
                            "delivered_on": {
                              "type": "string",
                              "description": "delivered_on"
                            }
                          }
                        },
                        "description": "transactions"
                      },
                      "etag": {
                        "type": "string",
                        "description": "etag"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "charge_code": {
                        "type": "string",
                        "description": "charge_code"
                      },
                      "classification": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "description": "description"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          }
                        },
                        "description": "classification"
                      },
                      "particulars": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "description": "description"
                          },
                          "contains_fixed_charge": {
                            "type": "boolean",
                            "description": "contains_fixed_charge"
                          },
                          "floating_charge_covers_all": {
                            "type": "boolean",
                            "description": "floating_charge_covers_all"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          },
                          "contains_floating_charge": {
                            "type": "boolean",
                            "description": "contains_floating_charge"
                          }
                        },
                        "description": "particulars"
                      },
                      "delivered_on": {
                        "type": "string",
                        "description": "delivered_on"
                      },
                      "persons_entitled": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "name"
                            }
                          }
                        },
                        "description": "persons_entitled"
                      }
                    }
                  },
                  "description": "items"
                },
                "satisfied_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "satisfied_count"
                },
                "unfiltered_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "unfiltered_count"
                },
                "part_satisfied_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "part_satisfied_count"
                }
              }
            },
            "headers": {
              "{": {
                "description": "{",
                "type": "string"
              },
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"content-length\"": {
                "description": "\"content-length\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"date\"": {
                "description": "\"date\"",
                "type": "string"
              },
              "\"pragma\"": {
                "description": "\"pragma\"",
                "type": "string"
              },
              "\"x-ms-apihub-cached-response\"": {
                "description": "\"x-ms-apihub-cached-response\"",
                "type": "string"
              },
              "\"x-ratelimit-limit\"": {
                "description": "\"x-ratelimit-limit\"",
                "type": "string"
              },
              "\"x-ratelimit-remain\"": {
                "description": "\"x-ratelimit-remain\"",
                "type": "string"
              },
              "\"x-ratelimit-reset\"": {
                "description": "\"x-ratelimit-reset\"",
                "type": "string"
              },
              "\"x-ratelimit-window\"": {
                "description": "\"x-ratelimit-window\"",
                "type": "string"
              },
              "}": {
                "description": "}",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/company/{CompanyNumber}/charges/{ChargeId}": {
      "get": {
        "summary": "Charges By Number and Charge Id",
        "description": "Charges By Number and Charge Id",
        "operationId": "ChargesByNumberAndChargeId",
        "parameters": [
          {
            "name": "CompanyNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the Company Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Company Number"
          },
          {
            "name": "ChargeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the Charge ID",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Charge ID"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "charge_number": {
                  "type": "integer",
                  "format": "int32",
                  "description": "charge_number"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "description": "self"
                    }
                  },
                  "description": "links"
                },
                "created_on": {
                  "type": "string",
                  "description": "created_on"
                },
                "transactions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "filing_type": {
                        "type": "string",
                        "description": "filing_type"
                      },
                      "links": {
                        "type": "object",
                        "properties": {
                          "filing": {
                            "type": "string",
                            "description": "filing"
                          }
                        },
                        "description": "links"
                      },
                      "delivered_on": {
                        "type": "string",
                        "description": "delivered_on"
                      }
                    }
                  },
                  "description": "transactions"
                },
                "etag": {
                  "type": "string",
                  "description": "etag"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "charge_code": {
                  "type": "string",
                  "description": "charge_code"
                },
                "classification": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                      "description": "description"
                    },
                    "type": {
                      "type": "string",
                      "description": "type"
                    }
                  },
                  "description": "classification"
                },
                "particulars": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                      "description": "description"
                    },
                    "contains_fixed_charge": {
                      "type": "boolean",
                      "description": "contains_fixed_charge"
                    },
                    "floating_charge_covers_all": {
                      "type": "boolean",
                      "description": "floating_charge_covers_all"
                    },
                    "type": {
                      "type": "string",
                      "description": "type"
                    },
                    "contains_floating_charge": {
                      "type": "boolean",
                      "description": "contains_floating_charge"
                    }
                  },
                  "description": "particulars"
                },
                "delivered_on": {
                  "type": "string",
                  "description": "delivered_on"
                },
                "persons_entitled": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    }
                  },
                  "description": "persons_entitled"
                }
              }
            },
            "headers": {
              "{": {
                "description": "{",
                "type": "string"
              },
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"content-length\"": {
                "description": "\"content-length\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"date\"": {
                "description": "\"date\"",
                "type": "string"
              },
              "\"pragma\"": {
                "description": "\"pragma\"",
                "type": "string"
              },
              "\"x-ms-apihub-cached-response\"": {
                "description": "\"x-ms-apihub-cached-response\"",
                "type": "string"
              },
              "\"x-ratelimit-limit\"": {
                "description": "\"x-ratelimit-limit\"",
                "type": "string"
              },
              "\"x-ratelimit-remain\"": {
                "description": "\"x-ratelimit-remain\"",
                "type": "string"
              },
              "\"x-ratelimit-reset\"": {
                "description": "\"x-ratelimit-reset\"",
                "type": "string"
              },
              "\"x-ratelimit-window\"": {
                "description": "\"x-ratelimit-window\"",
                "type": "string"
              },
              "}": {
                "description": "}",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/company/{CompanyNumber}/registered-office-address": {
      "get": {
        "summary": "Address By Number",
        "description": "Address By Number",
        "operationId": "AddressByNumber",
        "parameters": [
          {
            "name": "CompanyNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the Company Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Company Number"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "etag": {
                  "type": "string",
                  "description": "etag"
                },
                "kind": {
                  "type": "string",
                  "description": "kind"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "description": "self"
                    }
                  },
                  "description": "links"
                },
                "address_line_1": {
                  "type": "string",
                  "description": "address_line_1"
                },
                "address_line_2": {
                  "type": "string",
                  "description": "address_line_2"
                },
                "country": {
                  "type": "string",
                  "description": "country"
                },
                "locality": {
                  "type": "string",
                  "description": "locality"
                },
                "region": {
                  "type": "string",
                  "description": "region"
                },
                "postal_code": {
                  "type": "string",
                  "description": "postal_code"
                }
              }
            },
            "headers": {
              "{": {
                "description": "{",
                "type": "string"
              },
              "\"content-length\"": {
                "description": "\"content-length\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"date\"": {
                "description": "\"date\"",
                "type": "string"
              },
              "\"x-ms-apihub-cached-response\"": {
                "description": "\"x-ms-apihub-cached-response\"",
                "type": "string"
              },
              "\"x-ratelimit-limit\"": {
                "description": "\"x-ratelimit-limit\"",
                "type": "string"
              },
              "\"x-ratelimit-remain\"": {
                "description": "\"x-ratelimit-remain\"",
                "type": "string"
              },
              "\"x-ratelimit-reset\"": {
                "description": "\"x-ratelimit-reset\"",
                "type": "string"
              },
              "\"x-ratelimit-window\"": {
                "description": "\"x-ratelimit-window\"",
                "type": "string"
              },
              "}": {
                "description": "}",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/company/{CompanyNumber}/officers": {
      "get": {
        "summary": "Company Officers By Company Number",
        "description": "Company Officers By Company Number",
        "operationId": "CompanyOfficersByNumber",
        "parameters": [
          {
            "name": "CompanyNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the Company Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Company Number"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "etag": {
                  "type": "string",
                  "description": "etag"
                },
                "active_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "active_count"
                },
                "kind": {
                  "type": "string",
                  "description": "kind"
                },
                "inactive_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "inactive_count"
                },
                "resigned_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "resigned_count"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "links": {
                        "type": "object",
                        "properties": {
                          "officer": {
                            "type": "object",
                            "properties": {
                              "appointments": {
                                "type": "string",
                                "description": "appointments"
                              }
                            },
                            "description": "officer"
                          },
                          "self": {
                            "type": "string",
                            "description": "self"
                          }
                        },
                        "description": "links"
                      },
                      "address": {
                        "type": "object",
                        "properties": {
                          "premises": {
                            "type": "string",
                            "description": "premises"
                          },
                          "locality": {
                            "type": "string",
                            "description": "locality"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "postal_code"
                          },
                          "country": {
                            "type": "string",
                            "description": "country"
                          },
                          "address_line_1": {
                            "type": "string",
                            "description": "address_line_1"
                          },
                          "region": {
                            "type": "string",
                            "description": "region"
                          },
                          "address_line_2": {
                            "type": "string",
                            "description": "address_line_2"
                          }
                        },
                        "description": "address"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "officer_role": {
                        "type": "string",
                        "description": "officer_role"
                      },
                      "appointed_on": {
                        "type": "string",
                        "description": "appointed_on"
                      },
                      "date_of_birth": {
                        "type": "object",
                        "properties": {
                          "month": {
                            "type": "integer",
                            "format": "int32",
                            "description": "month"
                          },
                          "year": {
                            "type": "integer",
                            "format": "int32",
                            "description": "year"
                          }
                        },
                        "description": "date_of_birth"
                      },
                      "country_of_residence": {
                        "type": "string",
                        "description": "country_of_residence"
                      },
                      "occupation": {
                        "type": "string",
                        "description": "occupation"
                      },
                      "nationality": {
                        "type": "string",
                        "description": "nationality"
                      },
                      "former_names": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "surname": {
                              "type": "string",
                              "description": "surname"
                            }
                          }
                        },
                        "description": "former_names"
                      },
                      "resigned_on": {
                        "type": "string",
                        "description": "resigned_on"
                      }
                    }
                  },
                  "description": "items"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "description": "self"
                    }
                  },
                  "description": "links"
                },
                "total_results": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total_results"
                },
                "start_index": {
                  "type": "integer",
                  "format": "int32",
                  "description": "start_index"
                },
                "items_per_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "items_per_page"
                }
              }
            },
            "headers": {
              "{": {
                "description": "{",
                "type": "string"
              },
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"content-length\"": {
                "description": "\"content-length\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"date\"": {
                "description": "\"date\"",
                "type": "string"
              },
              "\"pragma\"": {
                "description": "\"pragma\"",
                "type": "string"
              },
              "\"x-ms-apihub-cached-response\"": {
                "description": "\"x-ms-apihub-cached-response\"",
                "type": "string"
              },
              "\"x-ratelimit-limit\"": {
                "description": "\"x-ratelimit-limit\"",
                "type": "string"
              },
              "\"x-ratelimit-remain\"": {
                "description": "\"x-ratelimit-remain\"",
                "type": "string"
              },
              "\"x-ratelimit-reset\"": {
                "description": "\"x-ratelimit-reset\"",
                "type": "string"
              },
              "\"x-ratelimit-window\"": {
                "description": "\"x-ratelimit-window\"",
                "type": "string"
              },
              "}": {
                "description": "}",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/company/{CompanyNumber}/appointments/{AppointmentId}": {
      "get": {
        "summary": "Company Officers By Number and Appointment Id",
        "description": "Company Officers By Number and Appointment Id",
        "operationId": "CompanyOfficersByNumberAndAppointmentId",
        "parameters": [
          {
            "name": "CompanyNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the Company Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Company Number"
          },
          {
            "name": "AppointmentId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the Appointment ID",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Appointment ID"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "description": "self"
                    },
                    "officer": {
                      "type": "object",
                      "properties": {
                        "appointments": {
                          "type": "string",
                          "description": "appointments"
                        }
                      },
                      "description": "officer"
                    }
                  },
                  "description": "links"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "address": {
                  "type": "object",
                  "properties": {
                    "address_line_1": {
                      "type": "string",
                      "description": "address_line_1"
                    },
                    "country": {
                      "type": "string",
                      "description": "country"
                    },
                    "locality": {
                      "type": "string",
                      "description": "locality"
                    },
                    "postal_code": {
                      "type": "string",
                      "description": "postal_code"
                    },
                    "premises": {
                      "type": "string",
                      "description": "premises"
                    }
                  },
                  "description": "address"
                },
                "appointed_on": {
                  "type": "string",
                  "description": "appointed_on"
                },
                "officer_role": {
                  "type": "string",
                  "description": "officer_role"
                }
              }
            },
            "headers": {
              "{": {
                "description": "{",
                "type": "string"
              },
              "\"content-length\"": {
                "description": "\"content-length\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"date\"": {
                "description": "\"date\"",
                "type": "string"
              },
              "\"x-ms-apihub-cached-response\"": {
                "description": "\"x-ms-apihub-cached-response\"",
                "type": "string"
              },
              "\"x-ratelimit-limit\"": {
                "description": "\"x-ratelimit-limit\"",
                "type": "string"
              },
              "\"x-ratelimit-remain\"": {
                "description": "\"x-ratelimit-remain\"",
                "type": "string"
              },
              "\"x-ratelimit-reset\"": {
                "description": "\"x-ratelimit-reset\"",
                "type": "string"
              },
              "\"x-ratelimit-window\"": {
                "description": "\"x-ratelimit-window\"",
                "type": "string"
              },
              "}": {
                "description": "}",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/company/{CompanyNumber}/filing-history": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "filing_history_status": {
                  "type": "string",
                  "description": "filing_history_status"
                },
                "items_per_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "items_per_page"
                },
                "start_index": {
                  "type": "integer",
                  "format": "int32",
                  "description": "start_index"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "action_date": {
                        "type": "string",
                        "description": "action_date"
                      },
                      "category": {
                        "type": "string",
                        "description": "category"
                      },
                      "date": {
                        "type": "string",
                        "description": "date"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "description_values": {
                        "type": "object",
                        "properties": {
                          "change_date": {
                            "type": "string",
                            "description": "change_date"
                          },
                          "new_address": {
                            "type": "string",
                            "description": "new_address"
                          },
                          "old_address": {
                            "type": "string",
                            "description": "old_address"
                          },
                          "made_up_date": {
                            "type": "string",
                            "description": "made_up_date"
                          },
                          "description": {
                            "type": "string",
                            "description": "description"
                          },
                          "capital": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "figure": {
                                  "type": "string",
                                  "description": "figure"
                                },
                                "currency": {
                                  "type": "string",
                                  "description": "currency"
                                }
                              }
                            },
                            "description": "capital"
                          },
                          "date": {
                            "type": "string",
                            "description": "date"
                          },
                          "officer_name": {
                            "type": "string",
                            "description": "officer_name"
                          },
                          "appointment_date": {
                            "type": "string",
                            "description": "appointment_date"
                          }
                        },
                        "description": "description_values"
                      },
                      "links": {
                        "type": "object",
                        "properties": {
                          "self": {
                            "type": "string",
                            "description": "self"
                          },
                          "document_metadata": {
                            "type": "string",
                            "description": "document_metadata"
                          }
                        },
                        "description": "links"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "pages": {
                        "type": "integer",
                        "format": "int32",
                        "description": "pages"
                      },
                      "barcode": {
                        "type": "string",
                        "description": "barcode"
                      },
                      "transaction_id": {
                        "type": "string",
                        "description": "transaction_id"
                      },
                      "paper_filed": {
                        "type": "boolean",
                        "description": "paper_filed"
                      },
                      "resolutions": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "category": {
                              "type": "string",
                              "description": "category"
                            },
                            "description": {
                              "type": "string",
                              "description": "description"
                            },
                            "description_values": {
                              "type": "object",
                              "properties": {
                                "res_type": {
                                  "type": "string",
                                  "description": "res_type"
                                }
                              },
                              "description": "description_values"
                            },
                            "subcategory": {
                              "type": "string",
                              "description": "subcategory"
                            },
                            "type": {
                              "type": "string",
                              "description": "type"
                            }
                          }
                        },
                        "description": "resolutions"
                      },
                      "subcategory": {
                        "type": "string",
                        "description": "subcategory"
                      }
                    }
                  },
                  "description": "items"
                },
                "total_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total_count"
                }
              }
            },
            "headers": {
              "{": {
                "description": "{",
                "type": "string"
              },
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"content-length\"": {
                "description": "\"content-length\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"date\"": {
                "description": "\"date\"",
                "type": "string"
              },
              "\"pragma\"": {
                "description": "\"pragma\"",
                "type": "string"
              },
              "\"x-ms-apihub-cached-response\"": {
                "description": "\"x-ms-apihub-cached-response\"",
                "type": "string"
              },
              "\"x-ratelimit-limit\"": {
                "description": "\"x-ratelimit-limit\"",
                "type": "string"
              },
              "\"x-ratelimit-remain\"": {
                "description": "\"x-ratelimit-remain\"",
                "type": "string"
              },
              "\"x-ratelimit-reset\"": {
                "description": "\"x-ratelimit-reset\"",
                "type": "string"
              },
              "\"x-ratelimit-window\"": {
                "description": "\"x-ratelimit-window\"",
                "type": "string"
              },
              "}": {
                "description": "}",
                "type": "string"
              }
            }
          }
        },
        "summary": "Filing History By Company Number",
        "description": "Filing History By Company Number",
        "operationId": "FilingHistoryByCompNumber",
        "parameters": [
          {
            "name": "CompanyNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the Company Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Company Number"
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.gov.uk/government/organisations/companies-house"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.gov.uk/help/privacy-notice"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Website"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}