{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Companies House",
     "description": "This connectors uses the Companies House API to search and retrieve information about companies registered in the UK. Companies House is a UK government organisation that registers companies, recording information about them like their address, annual turnover and who is elected as an officer of the company. ",
    "contact": {
      "name": "Matt Collins-Jones",
      "url": "https://github.com/MattCollins-Jones",
      "email": "mattcollinsjones@gmail.com"
    }
  },
  "host": "api.company-information.service.gov.uk",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/company/{CompanyNumber}": {
      "get": {
        "summary": "Find Company By Number",
         "description": "Find a Company By their Company Number",
        "operationId": "CompanyByNumber",
        "parameters": [
          {
            "name": "CompanyNumber",
            "in": "path",
            "required": true,
            "type": "string",
              "description": "Specify the Company Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Company Number"
          }
        ],
        "responses": {
          "200": {
             "description": "Default",
            "schema": {
              "type": "object",
              "properties": {
                "jurisdiction": {
                  "type": "string",
                   "description": "Jurisdiction"
                },
                "has_been_liquidated": {
                  "type": "boolean",
                   "description": "Has been liquidated"
                },
                "registered_office_address": {
                  "type": "object",
                  "properties": {
                    "postal_code": {
                      "type": "string",
                       "description": "Postal code"
                    },
                    "address_line_1": {
                      "type": "string",
                       "description": "Address line 1"
                    },
                    "region": {
                      "type": "string",
                       "description": "Region"
                    },
                    "country": {
                      "type": "string",
                       "description": "Country"
                    },
                    "address_line_2": {
                      "type": "string",
                       "description": "Address line 2"
                    },
                    "locality": {
                      "type": "string",
                       "description": "Locality"
                    }
                  },
                   "description": "Registered office address"
                },
                "date_of_creation": {
                  "type": "string",
                   "description": "Date of creation"
                },
                "company_name": {
                  "type": "string",
                   "description": "Company name"
                },
                "accounts": {
                  "type": "object",
                  "properties": {
                    "accounting_reference_date": {
                      "type": "object",
                      "properties": {
                        "day": {
                          "type": "string",
                           "description": "Day"
                        },
                        "month": {
                          "type": "string",
                           "description": "Month"
                        }
                      },
                       "description": "Accounting reference date"
                    },
                    "overdue": {
                      "type": "boolean",
                       "description": "Overdue"
                    },
                    "last_accounts": {
                      "type": "object",
                      "properties": {
                        "period_end_on": {
                          "type": "string",
                           "description": "Period end on"
                        },
                        "made_up_to": {
                          "type": "string",
                           "description": "Made up to"
                        },
                        "type": {
                          "type": "string",
                           "description": "Type"
                        },
                        "period_start_on": {
                          "type": "string",
                           "description": "Period start on"
                        }
                      },
                       "description": "Last accounts"
                    },
                    "next_due": {
                      "type": "string",
                       "description": "Next due"
                    },
                    "next_accounts": {
                      "type": "object",
                      "properties": {
                        "period_start_on": {
                          "type": "string",
                           "description": "Period start on"
                        },
                        "overdue": {
                          "type": "boolean",
                           "description": "Overdue"
                        },
                        "period_end_on": {
                          "type": "string",
                           "description": "Period end on"
                        },
                        "due_on": {
                          "type": "string",
                           "description": "Due on"
                        }
                      },
                       "description": "Next accounts"
                    },
                    "next_made_up_to": {
                      "type": "string",
                       "description": "Next made up to"
                    }
                  },
                   "description": "Accounts"
                },
                "company_number": {
                  "type": "string",
                   "description": "Company number"
                },
                "type": {
                  "type": "string",
                   "description": "Type"
                },
                "undeliverable_registered_office_address": {
                  "type": "boolean",
                   "description": "Undeliverable registered office address"
                },
                "sic_codes": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                    "description": "SIC codes"
                },
                "last_full_members_list_date": {
                  "type": "string",
                   "description": "Last full members list date"
                },
                "has_insolvency_history": {
                  "type": "boolean",
                   "description": "Has insolvency history"
                },
                "etag": {
                  "type": "string",
                   "description": "Etag"
                },
                "has_charges": {
                  "type": "boolean",
                   "description": "Has charges"
                },
                "company_status": {
                  "type": "string",
                   "description": "Company status"
                },
                "confirmation_statement": {
                  "type": "object",
                  "properties": {
                    "last_made_up_to": {
                      "type": "string",
                       "description": "Last made up to"
                    },
                    "next_made_up_to": {
                      "type": "string",
                       "description": "Next made up to"
                    },
                    "overdue": {
                      "type": "boolean",
                       "description": "Overdue"
                    },
                    "next_due": {
                      "type": "string",
                       "description": "Next due"
                    }
                  },
                   "description": "Confirmation statement"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                        "description": "Self"
                    },
                    "filing_history": {
                      "type": "string",
                       "description": "Filing history"
                    },
                    "officers": {
                      "type": "string",
                       "description": "Officers"
                    },
                    "charges": {
                      "type": "string",
                       "description": "Charges"
                    },
                    "persons_with_significant_control_statements": {
                      "type": "string",
                       "description": "Persons with significant control statements"
                    },
                    "persons_with_significant_control": {
                      "type": "string",
                       "description": "Persons with significant control"
                    }
                  },
                   "description": "Links"
                },
                "registered_office_is_in_dispute": {
                  "type": "boolean",
                   "description": "Registered office is in dispute"
                },
                "has_super_secure_pscs": {
                  "type": "boolean",
                   "description": "Has super secure pscs"
                },
                "can_file": {
                  "type": "boolean",
                   "description": "Can file"
                }
              }
            },
            "headers": {
              "{": {
                "description": "{",
                "type": "string"
              },
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"content-length\"": {
                "description": "\"content-length\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"date\"": {
                "description": "\"date\"",
                "type": "string"
              },
              "\"pragma\"": {
                "description": "\"pragma\"",
                "type": "string"
              },
              "\"x-ms-apihub-cached-response\"": {
                "description": "\"x-ms-apihub-cached-response\"",
                "type": "string"
              },
              "\"x-ratelimit-limit\"": {
                "description": "\"x-ratelimit-limit\"",
                "type": "string"
              },
              "\"x-ratelimit-remain\"": {
                "description": "\"x-ratelimit-remain\"",
                "type": "string"
              },
              "\"x-ratelimit-reset\"": {
                "description": "\"x-ratelimit-reset\"",
                "type": "string"
              },
              "\"x-ratelimit-window\"": {
                "description": "\"x-ratelimit-window\"",
                "type": "string"
              },
              "}": {
                "description": "}",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/company/{CompanyNumber}/persons-with-significant-control-statements": {
      "get": {
        "summary": "List Person of Significant Control",
         "description": "List Persons of Significant Control by Company Number",
        "operationId": "ListPsc",
        "parameters": [
          {
            "name": "CompanyNumber",
            "in": "path",
            "required": true,
            "type": "string",
              "description": "Specify the Company Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Company Number"
          }
        ],
        "responses": {
          "200": {
             "description": "Default",
            "schema": {
              "type": "object",
              "properties": {
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                        "description": "Self"
                    },
                    "persons_with_significant_control": {
                      "type": "string",
                       "description": "Persons with significant control"
                    }
                  },
                   "description": "Links"
                },
                "total_results": {
                  "type": "integer",
                  "format": "int32",
                   "description": "Total results"
                },
                "ceased_count": {
                  "type": "integer",
                  "format": "int32",
                   "description": "Ceased count"
                },
                "start_index": {
                  "type": "integer",
                  "format": "int32",
                    "description": "Start index"
                },
                "active_count": {
                  "type": "integer",
                  "format": "int32",
                   "description": "Active count"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "notified_on": {
                        "type": "string",
                         "description": "Notified on"
                      },
                      "statement": {
                        "type": "string",
                          "description": "Statement"
                      },
                      "etag": {
                        "type": "string",
                         "description": "Etag"
                      },
                      "kind": {
                        "type": "string",
                         "description": "Kind"
                      },
                      "links": {
                        "type": "object",
                        "properties": {
                          "self": {
                            "type": "string",
                              "description": "Self"
                          }
                        },
                         "description": "Links"
                      },
                      "ceased_on": {
                        "type": "string",
                         "description": "Ceased on"
                      }
                    }
                  },
                   "description": "Items"
                },
                "items_per_page": {
                  "type": "integer",
                  "format": "int32",
                   "description": "Items per page"
                }
              }
            },
            "headers": {
              "{": {
                "description": "{",
                "type": "string"
              },
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"content-length\"": {
                "description": "\"content-length\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"date\"": {
                "description": "\"date\"",
                "type": "string"
              },
              "\"pragma\"": {
                "description": "\"pragma\"",
                "type": "string"
              },
              "\"x-ms-apihub-cached-response\"": {
                "description": "\"x-ms-apihub-cached-response\"",
                "type": "string"
              },
              "\"x-ratelimit-limit\"": {
                "description": "\"x-ratelimit-limit\"",
                "type": "string"
              },
              "\"x-ratelimit-remain\"": {
                "description": "\"x-ratelimit-remain\"",
                "type": "string"
              },
              "\"x-ratelimit-reset\"": {
                "description": "\"x-ratelimit-reset\"",
                "type": "string"
              },
              "\"x-ratelimit-window\"": {
                "description": "\"x-ratelimit-window\"",
                "type": "string"
              },
              "}": {
                "description": "}",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/company/{CompanyNumber}/persons-with-significant-control": {
      "get": {
        "summary": "List Statements for Person of Significant Control",
         "description": "List Statements for Person of Significant Control by Company Number",
        "operationId": "ListStatementsPsc",
        "parameters": [
          {
            "name": "CompanyNumber",
            "in": "path",
            "required": true,
            "type": "string",
              "description": "Specify the Company Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Company Number"
          }
        ],
        "responses": {
          "200": {
             "description": "Default",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "address": {
                        "type": "object",
                        "properties": {
                          "address_line_2": {
                            "type": "string",
                             "description": "Address line 2"
                          },
                          "locality": {
                            "type": "string",
                             "description": "Locality"
                          },
                          "postal_code": {
                            "type": "string",
                             "description": "Postal code"
                          },
                          "region": {
                            "type": "string",
                             "description": "Region"
                          },
                          "country": {
                            "type": "string",
                             "description": "Country"
                          },
                          "premises": {
                            "type": "string",
                             "description": "Premises"
                          },
                          "address_line_1": {
                            "type": "string",
                             "description": "Address line 1"
                          }
                        },
                         "description": "Address"
                      },
                      "name": {
                        "type": "string",
                         "description": "Name"
                      },
                      "country_of_residence": {
                        "type": "string",
                         "description": "Country of residence"
                      },
                      "notified_on": {
                        "type": "string",
                         "description": "Notified on"
                      },
                      "natures_of_control": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                         "description": "Natures of control"
                      },
                      "name_elements": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                             "description": "Title"
                          },
                          "middle_name": {
                            "type": "string",
                             "description": "Middle name"
                          },
                          "surname": {
                            "type": "string",
                              "description": "Surname"
                          },
                          "forename": {
                            "type": "string",
                             "description": "Forename"
                          }
                        },
                         "description": "Name elements"
                      },
                      "date_of_birth": {
                        "type": "object",
                        "properties": {
                          "year": {
                            "type": "integer",
                            "format": "int32",
                             "description": "Year"
                          },
                          "month": {
                            "type": "integer",
                            "format": "int32",
                             "description": "Month"
                          }
                        },
                         "description": "Date of birth"
                      },
                      "nationality": {
                        "type": "string",
                         "description": "Nationality"
                      },
                      "kind": {
                        "type": "string",
                         "description": "Kind"
                      },
                      "etag": {
                        "type": "string",
                         "description": "Etag"
                      },
                      "links": {
                        "type": "object",
                        "properties": {
                          "self": {
                            "type": "string",
                              "description": "Self"
                          }
                        },
                         "description": "Links"
                      }
                    }
                  },
                   "description": "Items"
                },
                "active_count": {
                  "type": "integer",
                  "format": "int32",
                   "description": "Active count"
                },
                "total_results": {
                  "type": "integer",
                  "format": "int32",
                   "description": "Total results"
                },
                "items_per_page": {
                  "type": "integer",
                  "format": "int32",
                   "description": "Items per page"
                },
                "ceased_count": {
                  "type": "integer",
                  "format": "int32",
                   "description": "Ceased count"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                        "description": "Self"
                    },
                    "persons_with_significant_control_statements": {
                      "type": "string",
                       "description": "Persons with significant control statements"
                    }
                  },
                   "description": "Links"
                },
                "start_index": {
                  "type": "integer",
                  "format": "int32",
                    "description": "Start index"
                }
              }
            },
            "headers": {
              "{": {
                "description": "{",
                "type": "string"
              },
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"content-length\"": {
                "description": "\"content-length\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"date\"": {
                "description": "\"date\"",
                "type": "string"
              },
              "\"pragma\"": {
                "description": "\"pragma\"",
                "type": "string"
              },
              "\"x-ms-apihub-cached-response\"": {
                "description": "\"x-ms-apihub-cached-response\"",
                "type": "string"
              },
              "\"x-ratelimit-limit\"": {
                "description": "\"x-ratelimit-limit\"",
                "type": "string"
              },
              "\"x-ratelimit-remain\"": {
                "description": "\"x-ratelimit-remain\"",
                "type": "string"
              },
              "\"x-ratelimit-reset\"": {
                "description": "\"x-ratelimit-reset\"",
                "type": "string"
              },
              "\"x-ratelimit-window\"": {
                "description": "\"x-ratelimit-window\"",
                "type": "string"
              },
              "}": {
                "description": "}",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/company/{CompanyNumber}/persons-with-significant-control/individual/{PCSId}": {
      "get": {
        "summary": "Individual PSC",
         "description": "Find information about a Person of Significan Control by Company Number and PCS ID",
        "operationId": "IndividualPsc",
        "parameters": [
          {
            "name": "CompanyNumber",
            "in": "path",
            "required": true,
            "type": "string",
              "description": "Specify the Company Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Company Number"
          },
          {
            "name": "PCSId",
            "in": "path",
            "required": true,
            "type": "string",
              "description": "Specify the ID of the Person with Significant Control",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Person with Significant Control ID"
          }
        ],
        "responses": {
          "200": {
             "description": "Default",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                   "description": "Name"
                },
                "natures_of_control": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                   "description": "Natures of control"
                },
                "kind": {
                  "type": "string",
                   "description": "Kind"
                },
                "name_elements": {
                  "type": "object",
                  "properties": {
                    "forename": {
                      "type": "string",
                       "description": "Forename"
                    },
                    "title": {
                      "type": "string",
                       "description": "Title"
                    },
                    "surname": {
                      "type": "string",
                        "description": "Surname"
                    }
                  },
                   "description": "Name elements"
                },
                "date_of_birth": {
                  "type": "object",
                  "properties": {
                    "month": {
                      "type": "integer",
                      "format": "int32",
                       "description": "Month"
                    },
                    "year": {
                      "type": "integer",
                      "format": "int32",
                       "description": "Year"
                    }
                  },
                   "description": "Date of birth"
                },
                "etag": {
                  "type": "string",
                   "description": "Etag"
                },
                "notified_on": {
                  "type": "string",
                   "description": "Notified on"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                        "description": "Self"
                    }
                  },
                   "description": "Links"
                },
                "address": {
                  "type": "object",
                  "properties": {
                    "country": {
                      "type": "string",
                       "description": "Country"
                    },
                    "locality": {
                      "type": "string",
                       "description": "Locality"
                    },
                    "premises": {
                      "type": "string",
                       "description": "Premises"
                    },
                    "postal_code": {
                      "type": "string",
                       "description": "Postal code"
                    }
                  },
                   "description": "Address"
                },
                "nationality": {
                  "type": "string",
                   "description": "Nationality"
                },
                "country_of_residence": {
                  "type": "string",
                   "description": "Country of residence"
                }
              }
            },
            "headers": {
              "{": {
                "description": "{",
                "type": "string"
              },
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"content-length\"": {
                "description": "\"content-length\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"date\"": {
                "description": "\"date\"",
                "type": "string"
              },
              "\"pragma\"": {
                "description": "\"pragma\"",
                "type": "string"
              },
              "\"x-ms-apihub-cached-response\"": {
                "description": "\"x-ms-apihub-cached-response\"",
                "type": "string"
              },
              "\"x-ratelimit-limit\"": {
                "description": "\"x-ratelimit-limit\"",
                "type": "string"
              },
              "\"x-ratelimit-remain\"": {
                "description": "\"x-ratelimit-remain\"",
                "type": "string"
              },
              "\"x-ratelimit-reset\"": {
                "description": "\"x-ratelimit-reset\"",
                "type": "string"
              },
              "\"x-ratelimit-window\"": {
                "description": "\"x-ratelimit-window\"",
                "type": "string"
              },
              "}": {
                "description": "}",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/company/{CompanyNumber}/uk-establishments": {
      "get": {
        "summary": "UK Establishments",
         "description": "List of UK-establishments companies",
        "operationId": "UKEstablishments",
        "parameters": [
          {
            "name": "CompanyNumber",
            "in": "path",
            "required": true,
            "type": "string",
              "description": "Specify the Company Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Company Number"
          }
        ],
        "responses": {
          "200": {
             "description": "Default",
            "schema": {
              "type": "object",
              "properties": {
                "etag": {
                  "type": "string",
                   "description": "Etag"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "company_name": {
                        "type": "string",
                         "description": "Company name"
                      },
                      "company_number": {
                        "type": "string",
                         "description": "Company number"
                      },
                      "company_status": {
                        "type": "string",
                         "description": "Company status"
                      },
                      "links": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                             "description": "Company"
                          }
                        },
                         "description": "Links"
                      },
                      "locality": {
                        "type": "string",
                         "description": "Locality"
                      }
                    }
                  },
                   "description": "Items"
                },
                "kind": {
                  "type": "string",
                   "description": "Kind"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                        "description": "Self"
                    }
                  },
                   "description": "Links"
                }
              }
            },
            "headers": {
              "{": {
                "description": "{",
                "type": "string"
              },
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"content-length\"": {
                "description": "\"content-length\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"date\"": {
                "description": "\"date\"",
                "type": "string"
              },
              "\"pragma\"": {
                "description": "\"pragma\"",
                "type": "string"
              },
              "\"x-ms-apihub-cached-response\"": {
                "description": "\"x-ms-apihub-cached-response\"",
                "type": "string"
              },
              "\"x-ratelimit-limit\"": {
                "description": "\"x-ratelimit-limit\"",
                "type": "string"
              },
              "\"x-ratelimit-remain\"": {
                "description": "\"x-ratelimit-remain\"",
                "type": "string"
              },
              "\"x-ratelimit-reset\"": {
                "description": "\"x-ratelimit-reset\"",
                "type": "string"
              },
              "\"x-ratelimit-window\"": {
                "description": "\"x-ratelimit-window\"",
                "type": "string"
              },
              "}": {
                "description": "}",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/officers/{OfficerId}/appointments": {
      "get": {
        "summary": "Officer Appointment by Officer Id",
         "description": "Officer Appointment by Officer Id",
        "operationId": "OfficerAppointmentByOfficerId",
        "parameters": [
          {
            "name": "OfficerId",
            "in": "path",
            "required": true,
            "type": "string",
              "description": "Specify the ID of the Officer at the Company",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Officer ID"
          }
        ],
        "responses": {
          "200": {
             "description": "Default",
            "schema": {
              "type": "object",
              "properties": {
                "start_index": {
                  "type": "integer",
                  "format": "int32",
                    "description": "Start index"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                        "description": "Self"
                    }
                  },
                   "description": "Links"
                },
                "etag": {
                  "type": "string",
                   "description": "Etag"
                },
                "name": {
                  "type": "string",
                   "description": "Name"
                },
                "total_results": {
                  "type": "integer",
                  "format": "int32",
                   "description": "Total results"
                },
                "is_corporate_officer": {
                  "type": "boolean",
                   "description": "Is corporate officer"
                },
                "kind": {
                  "type": "string",
                   "description": "Kind"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "officer_role": {
                        "type": "string",
                         "description": "Officer role"
                      },
                      "name_elements": {
                        "type": "object",
                        "properties": {
                          "forename": {
                            "type": "string",
                             "description": "Forename"
                          },
                          "surname": {
                            "type": "string",
                              "description": "Surname"
                          },
                          "title": {
                            "type": "string",
                             "description": "Title"
                          }
                        },
                         "description": "Name elements"
                      },
                      "name": {
                        "type": "string",
                         "description": "Name"
                      },
                      "appointed_to": {
                        "type": "object",
                        "properties": {
                          "company_number": {
                            "type": "string",
                             "description": "Company number"
                          },
                          "company_name": {
                            "type": "string",
                             "description": "Company name"
                          },
                          "company_status": {
                            "type": "string",
                             "description": "Company status"
                          }
                        },
                         "description": "Appointed to"
                      },
                      "links": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                             "description": "Company"
                          }
                        },
                         "description": "Links"
                      },
                      "appointed_on": {
                        "type": "string",
                         "description": "Appointed on"
                      },
                      "address": {
                        "type": "object",
                        "properties": {
                          "locality": {
                            "type": "string",
                             "description": "Locality"
                          },
                          "address_line_1": {
                            "type": "string",
                             "description": "Address line 1"
                          },
                          "postal_code": {
                            "type": "string",
                             "description": "Postal code"
                          },
                          "premises": {
                            "type": "string",
                             "description": "Premises"
                          },
                          "country": {
                            "type": "string",
                             "description": "Country"
                          }
                        },
                         "description": "Address"
                      }
                    }
                  },
                   "description": "Items"
                },
                "items_per_page": {
                  "type": "integer",
                  "format": "int32",
                   "description": "Items per page"
                }
              }
            },
            "headers": {
              "{": {
                "description": "{",
                "type": "string"
              },
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"content-length\"": {
                "description": "\"content-length\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"date\"": {
                "description": "\"date\"",
                "type": "string"
              },
              "\"pragma\"": {
                "description": "\"pragma\"",
                "type": "string"
              },
              "\"x-ms-apihub-cached-response\"": {
                "description": "\"x-ms-apihub-cached-response\"",
                "type": "string"
              },
              "\"x-ratelimit-limit\"": {
                "description": "\"x-ratelimit-limit\"",
                "type": "string"
              },
              "\"x-ratelimit-remain\"": {
                "description": "\"x-ratelimit-remain\"",
                "type": "string"
              },
              "\"x-ratelimit-reset\"": {
                "description": "\"x-ratelimit-reset\"",
                "type": "string"
              },
              "\"x-ratelimit-window\"": {
                "description": "\"x-ratelimit-window\"",
                "type": "string"
              },
              "}": {
                "description": "}",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/company/{CompanyNumber}/filing-history/{TransactionId}": {
      "get": {
        "summary": "Filing History By Number and Id",
         "description": "Filing History By Number and Id",
        "operationId": "FilingHistoryByNumberAndId",
        "parameters": [
          {
            "name": "CompanyNumber",
            "in": "path",
            "required": true,
            "type": "string",
              "description": "Specify the Company Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Company Number"
          },
          {
            "name": "TransactionId",
            "in": "path",
            "required": true,
            "type": "string",
              "description": "Specify the Transaction ID",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Transaction ID"
          }
        ],
        "responses": {
          "200": {
             "description": "Default",
            "schema": {
              "type": "object",
              "properties": {
                "action_date": {
                  "type": "string",
                   "description": "Action date"
                },
                "category": {
                  "type": "string",
                   "description": "Category"
                },
                "date": {
                  "type": "string",
                   "description": "Date"
                },
                "description": {
                  "type": "string",
                   "description": "Description"
                },
                "description_values": {
                  "type": "object",
                  "properties": {
                    "change_date": {
                      "type": "string",
                       "description": "Change date"
                    },
                    "new_address": {
                      "type": "string",
                       "description": "New address"
                    },
                    "old_address": {
                      "type": "string",
                       "description": "Old address"
                    }
                  },
                   "description": "Description values"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                        "description": "Self"
                    },
                    "document_metadata": {
                      "type": "string",
                       "description": "Document metadata"
                    }
                  },
                   "description": "Links"
                },
                "type": {
                  "type": "string",
                   "description": "Type"
                },
                "pages": {
                  "type": "integer",
                  "format": "int32",
                   "description": "Pages"
                },
                "barcode": {
                  "type": "string",
                   "description": "Barcode"
                },
                "transaction_id": {
                  "type": "string",
                   "description": "Transaction id"
                }
              }
            },
            "headers": {
              "{": {
                "description": "{",
                "type": "string"
              },
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"content-length\"": {
                "description": "\"content-length\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"date\"": {
                "description": "\"date\"",
                "type": "string"
              },
              "\"pragma\"": {
                "description": "\"pragma\"",
                "type": "string"
              },
              "\"x-ms-apihub-cached-response\"": {
                "description": "\"x-ms-apihub-cached-response\"",
                "type": "string"
              },
              "\"x-ratelimit-limit\"": {
                "description": "\"x-ratelimit-limit\"",
                "type": "string"
              },
              "\"x-ratelimit-remain\"": {
                "description": "\"x-ratelimit-remain\"",
                "type": "string"
              },
              "\"x-ratelimit-reset\"": {
                "description": "\"x-ratelimit-reset\"",
                "type": "string"
              },
              "\"x-ratelimit-window\"": {
                "description": "\"x-ratelimit-window\"",
                "type": "string"
              },
              "}": {
                "description": "}",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/company/{CompanyNumber}/charges": {
      "get": {
        "summary": "Charges By Company Number",
         "description": "Charges By Company Number",
        "operationId": "ChargesByNumber",
        "parameters": [
          {
            "name": "CompanyNumber",
            "in": "path",
            "required": true,
            "type": "string",
              "description": "Specify the Company Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Company Number"
          }
        ],
        "responses": {
          "200": {
             "description": "Default",
            "schema": {
              "type": "object",
              "properties": {
                "total_count": {
                  "type": "integer",
                  "format": "int32",
                   "description": "Total count"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "charge_number": {
                        "type": "integer",
                        "format": "int32",
                         "description": "Charge number"
                      },
                      "links": {
                        "type": "object",
                        "properties": {
                          "self": {
                            "type": "string",
                              "description": "Self"
                          }
                        },
                         "description": "Links"
                      },
                      "created_on": {
                        "type": "string",
                         "description": "Created on"
                      },
                      "transactions": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "filing_type": {
                              "type": "string",
                               "description": "Filing type"
                            },
                            "links": {
                              "type": "object",
                              "properties": {
                                "filing": {
                                  "type": "string",
                                   "description": "Filing"
                                }
                              },
                               "description": "Links"
                            },
                            "delivered_on": {
                              "type": "string",
                               "description": "Delivered on"
                            }
                          }
                        },
                         "description": "Transactions"
                      },
                      "etag": {
                        "type": "string",
                         "description": "Etag"
                      },
                      "status": {
                        "type": "string",
                          "description": "Status"
                      },
                      "charge_code": {
                        "type": "string",
                         "description": "Charge code"
                      },
                      "classification": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                             "description": "Description"
                          },
                          "type": {
                            "type": "string",
                             "description": "Type"
                          }
                        },
                         "description": "Classification"
                      },
                      "particulars": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                             "description": "Description"
                          },
                          "contains_fixed_charge": {
                            "type": "boolean",
                             "description": "Contains fixed charge"
                          },
                          "floating_charge_covers_all": {
                            "type": "boolean",
                             "description": "Floating charge covers all"
                          },
                          "type": {
                            "type": "string",
                             "description": "Type"
                          },
                          "contains_floating_charge": {
                            "type": "boolean",
                             "description": "Contains floating charge"
                          }
                        },
                         "description": "Particulars"
                      },
                      "delivered_on": {
                        "type": "string",
                         "description": "Delivered on"
                      },
                      "persons_entitled": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                               "description": "Name"
                            }
                          }
                        },
                         "description": "Persons entitled"
                      }
                    }
                  },
                   "description": "Items"
                },
                "satisfied_count": {
                  "type": "integer",
                  "format": "int32",
                    "description": "Satisfied count"
                },
                "unfiltered_count": {
                  "type": "integer",
                  "format": "int32",
                   "description": "Unfiltered count"
                },
                "part_satisfied_count": {
                  "type": "integer",
                  "format": "int32",
                   "description": "Part satisfied count"
                }
              }
            },
            "headers": {
              "{": {
                "description": "{",
                "type": "string"
              },
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"content-length\"": {
                "description": "\"content-length\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"date\"": {
                "description": "\"date\"",
                "type": "string"
              },
              "\"pragma\"": {
                "description": "\"pragma\"",
                "type": "string"
              },
              "\"x-ms-apihub-cached-response\"": {
                "description": "\"x-ms-apihub-cached-response\"",
                "type": "string"
              },
              "\"x-ratelimit-limit\"": {
                "description": "\"x-ratelimit-limit\"",
                "type": "string"
              },
              "\"x-ratelimit-remain\"": {
                "description": "\"x-ratelimit-remain\"",
                "type": "string"
              },
              "\"x-ratelimit-reset\"": {
                "description": "\"x-ratelimit-reset\"",
                "type": "string"
              },
              "\"x-ratelimit-window\"": {
                "description": "\"x-ratelimit-window\"",
                "type": "string"
              },
              "}": {
                "description": "}",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/company/{CompanyNumber}/charges/{ChargeId}": {
      "get": {
        "summary": "Charges By Number and Charge Id",
         "description": "Charges By Number and Charge Id",
        "operationId": "ChargesByNumberAndChargeId",
        "parameters": [
          {
            "name": "CompanyNumber",
            "in": "path",
            "required": true,
            "type": "string",
              "description": "Specify the Company Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Company Number"
          },
          {
            "name": "ChargeId",
            "in": "path",
            "required": true,
            "type": "string",
              "description": "Specify the Charge ID",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Charge ID"
          }
        ],
        "responses": {
          "200": {
             "description": "Default",
            "schema": {
              "type": "object",
              "properties": {
                "charge_number": {
                  "type": "integer",
                  "format": "int32",
                   "description": "Charge number"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                        "description": "Self"
                    }
                  },
                   "description": "Links"
                },
                "created_on": {
                  "type": "string",
                   "description": "Created on"
                },
                "transactions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "filing_type": {
                        "type": "string",
                         "description": "Filing type"
                      },
                      "links": {
                        "type": "object",
                        "properties": {
                          "filing": {
                            "type": "string",
                             "description": "Filing"
                          }
                        },
                         "description": "Links"
                      },
                      "delivered_on": {
                        "type": "string",
                         "description": "Delivered on"
                      }
                    }
                  },
                   "description": "Transactions"
                },
                "etag": {
                  "type": "string",
                   "description": "Etag"
                },
                "status": {
                  "type": "string",
                    "description": "Status"
                },
                "charge_code": {
                  "type": "string",
                   "description": "Charge code"
                },
                "classification": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                       "description": "Description"
                    },
                    "type": {
                      "type": "string",
                       "description": "Type"
                    }
                  },
                   "description": "Classification"
                },
                "particulars": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                       "description": "Description"
                    },
                    "contains_fixed_charge": {
                      "type": "boolean",
                       "description": "Contains fixed charge"
                    },
                    "floating_charge_covers_all": {
                      "type": "boolean",
                       "description": "Floating charge covers all"
                    },
                    "type": {
                      "type": "string",
                       "description": "Type"
                    },
                    "contains_floating_charge": {
                      "type": "boolean",
                       "description": "Contains floating charge"
                    }
                  },
                   "description": "Particulars"
                },
                "delivered_on": {
                  "type": "string",
                   "description": "Delivered on"
                },
                "persons_entitled": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                         "description": "Name"
                      }
                    }
                  },
                   "description": "Persons entitled"
                }
              }
            },
            "headers": {
              "{": {
                "description": "{",
                "type": "string"
              },
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"content-length\"": {
                "description": "\"content-length\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"date\"": {
                "description": "\"date\"",
                "type": "string"
              },
              "\"pragma\"": {
                "description": "\"pragma\"",
                "type": "string"
              },
              "\"x-ms-apihub-cached-response\"": {
                "description": "\"x-ms-apihub-cached-response\"",
                "type": "string"
              },
              "\"x-ratelimit-limit\"": {
                "description": "\"x-ratelimit-limit\"",
                "type": "string"
              },
              "\"x-ratelimit-remain\"": {
                "description": "\"x-ratelimit-remain\"",
                "type": "string"
              },
              "\"x-ratelimit-reset\"": {
                "description": "\"x-ratelimit-reset\"",
                "type": "string"
              },
              "\"x-ratelimit-window\"": {
                "description": "\"x-ratelimit-window\"",
                "type": "string"
              },
              "}": {
                "description": "}",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/company/{CompanyNumber}/registered-office-address": {
      "get": {
        "summary": "Address By Number",
         "description": "Address By Number",
        "operationId": "AddressByNumber",
        "parameters": [
          {
            "name": "CompanyNumber",
            "in": "path",
            "required": true,
            "type": "string",
              "description": "Specify the Company Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Company Number"
          }
        ],
        "responses": {
          "200": {
             "description": "Default",
            "schema": {
              "type": "object",
              "properties": {
                "etag": {
                  "type": "string",
                   "description": "Etag"
                },
                "kind": {
                  "type": "string",
                   "description": "Kind"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                        "description": "Self"
                    }
                  },
                   "description": "Links"
                },
                "address_line_1": {
                  "type": "string",
                   "description": "Address line 1"
                },
                "address_line_2": {
                  "type": "string",
                   "description": "Address line 2"
                },
                "country": {
                  "type": "string",
                   "description": "Country"
                },
                "locality": {
                  "type": "string",
                   "description": "Locality"
                },
                "region": {
                  "type": "string",
                   "description": "Region"
                },
                "postal_code": {
                  "type": "string",
                   "description": "Postal code"
                }
              }
            },
            "headers": {
              "{": {
                "description": "{",
                "type": "string"
              },
              "\"content-length\"": {
                "description": "\"content-length\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"date\"": {
                "description": "\"date\"",
                "type": "string"
              },
              "\"x-ms-apihub-cached-response\"": {
                "description": "\"x-ms-apihub-cached-response\"",
                "type": "string"
              },
              "\"x-ratelimit-limit\"": {
                "description": "\"x-ratelimit-limit\"",
                "type": "string"
              },
              "\"x-ratelimit-remain\"": {
                "description": "\"x-ratelimit-remain\"",
                "type": "string"
              },
              "\"x-ratelimit-reset\"": {
                "description": "\"x-ratelimit-reset\"",
                "type": "string"
              },
              "\"x-ratelimit-window\"": {
                "description": "\"x-ratelimit-window\"",
                "type": "string"
              },
              "}": {
                "description": "}",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/company/{CompanyNumber}/officers": {
      "get": {
        "summary": "Company Officers By Company Number",
         "description": "Company Officers By Company Number",
        "operationId": "CompanyOfficersByNumber",
        "parameters": [
          {
            "name": "CompanyNumber",
            "in": "path",
            "required": true,
            "type": "string",
              "description": "Specify the Company Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Company Number"
          }
        ],
        "responses": {
          "200": {
             "description": "Default",
            "schema": {
              "type": "object",
              "properties": {
                "etag": {
                  "type": "string",
                   "description": "Etag"
                },
                "active_count": {
                  "type": "integer",
                  "format": "int32",
                   "description": "Active count"
                },
                "kind": {
                  "type": "string",
                   "description": "Kind"
                },
                "inactive_count": {
                  "type": "integer",
                  "format": "int32",
                   "description": "Inactive count"
                },
                "resigned_count": {
                  "type": "integer",
                  "format": "int32",
                   "description": "Resigned count"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "links": {
                        "type": "object",
                        "properties": {
                          "officer": {
                            "type": "object",
                            "properties": {
                              "appointments": {
                                "type": "string",
                                 "description": "Appointments"
                              }
                            },
                             "description": "Officer"
                          },
                          "self": {
                            "type": "string",
                              "description": "Self"
                          }
                        },
                         "description": "Links"
                      },
                      "address": {
                        "type": "object",
                        "properties": {
                          "premises": {
                            "type": "string",
                             "description": "Premises"
                          },
                          "locality": {
                            "type": "string",
                             "description": "Locality"
                          },
                          "postal_code": {
                            "type": "string",
                             "description": "Postal code"
                          },
                          "country": {
                            "type": "string",
                             "description": "Country"
                          },
                          "address_line_1": {
                            "type": "string",
                             "description": "Address line 1"
                          },
                          "region": {
                            "type": "string",
                             "description": "Region"
                          },
                          "address_line_2": {
                            "type": "string",
                             "description": "Address line 2"
                          }
                        },
                         "description": "Address"
                      },
                      "name": {
                        "type": "string",
                         "description": "Name"
                      },
                      "officer_role": {
                        "type": "string",
                         "description": "Officer role"
                      },
                      "appointed_on": {
                        "type": "string",
                         "description": "Appointed on"
                      },
                      "date_of_birth": {
                        "type": "object",
                        "properties": {
                          "month": {
                            "type": "integer",
                            "format": "int32",
                             "description": "Month"
                          },
                          "year": {
                            "type": "integer",
                            "format": "int32",
                             "description": "Year"
                          }
                        },
                         "description": "Date of birth"
                      },
                      "country_of_residence": {
                        "type": "string",
                         "description": "Country of residence"
                      },
                      "occupation": {
                        "type": "string",
                         "description": "Occupation"
                      },
                      "nationality": {
                        "type": "string",
                         "description": "Nationality"
                      },
                      "former_names": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "surname": {
                              "type": "string",
                                "description": "Surname"
                            }
                          }
                        },
                         "description": "Former names"
                      },
                      "resigned_on": {
                        "type": "string",
                         "description": "Resigned on"
                      }
                    }
                  },
                   "description": "Items"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                        "description": "Self"
                    }
                  },
                   "description": "Links"
                },
                "total_results": {
                  "type": "integer",
                  "format": "int32",
                   "description": "Total results"
                },
                "start_index": {
                  "type": "integer",
                  "format": "int32",
                    "description": "Start index"
                },
                "items_per_page": {
                  "type": "integer",
                  "format": "int32",
                   "description": "Items per page"
                }
              }
            },
            "headers": {
              "{": {
                "description": "{",
                "type": "string"
              },
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"content-length\"": {
                "description": "\"content-length\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"date\"": {
                "description": "\"date\"",
                "type": "string"
              },
              "\"pragma\"": {
                "description": "\"pragma\"",
                "type": "string"
              },
              "\"x-ms-apihub-cached-response\"": {
                "description": "\"x-ms-apihub-cached-response\"",
                "type": "string"
              },
              "\"x-ratelimit-limit\"": {
                "description": "\"x-ratelimit-limit\"",
                "type": "string"
              },
              "\"x-ratelimit-remain\"": {
                "description": "\"x-ratelimit-remain\"",
                "type": "string"
              },
              "\"x-ratelimit-reset\"": {
                "description": "\"x-ratelimit-reset\"",
                "type": "string"
              },
              "\"x-ratelimit-window\"": {
                "description": "\"x-ratelimit-window\"",
                "type": "string"
              },
              "}": {
                "description": "}",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/company/{CompanyNumber}/appointments/{AppointmentId}": {
      "get": {
        "summary": "Company Officers By Number and Appointment Id",
         "description": "Company Officers By Number and Appointment Id",
        "operationId": "CompanyOfficersByNumberAndAppointmentId",
        "parameters": [
          {
            "name": "CompanyNumber",
            "in": "path",
            "required": true,
            "type": "string",
              "description": "Specify the Company Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Company Number"
          },
          {
            "name": "AppointmentId",
            "in": "path",
            "required": true,
            "type": "string",
              "description": "Specify the Appointment ID",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Appointment ID"
          }
        ],
        "responses": {
          "200": {
             "description": "Default",
            "schema": {
              "type": "object",
              "properties": {
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                        "description": "Self"
                    },
                    "officer": {
                      "type": "object",
                      "properties": {
                        "appointments": {
                          "type": "string",
                           "description": "Appointments"
                        }
                      },
                       "description": "Officer"
                    }
                  },
                   "description": "Links"
                },
                "name": {
                  "type": "string",
                   "description": "Name"
                },
                "address": {
                  "type": "object",
                  "properties": {
                    "address_line_1": {
                      "type": "string",
                       "description": "Address line 1"
                    },
                    "country": {
                      "type": "string",
                       "description": "Country"
                    },
                    "locality": {
                      "type": "string",
                       "description": "Locality"
                    },
                    "postal_code": {
                      "type": "string",
                       "description": "Postal code"
                    },
                    "premises": {
                      "type": "string",
                       "description": "Premises"
                    }
                  },
                   "description": "Address"
                },
                "appointed_on": {
                  "type": "string",
                   "description": "Appointed on"
                },
                "officer_role": {
                  "type": "string",
                   "description": "Officer role"
                }
              }
            },
            "headers": {
              "{": {
                "description": "{",
                "type": "string"
              },
              "\"content-length\"": {
                "description": "\"content-length\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"date\"": {
                "description": "\"date\"",
                "type": "string"
              },
              "\"x-ms-apihub-cached-response\"": {
                "description": "\"x-ms-apihub-cached-response\"",
                "type": "string"
              },
              "\"x-ratelimit-limit\"": {
                "description": "\"x-ratelimit-limit\"",
                "type": "string"
              },
              "\"x-ratelimit-remain\"": {
                "description": "\"x-ratelimit-remain\"",
                "type": "string"
              },
              "\"x-ratelimit-reset\"": {
                "description": "\"x-ratelimit-reset\"",
                "type": "string"
              },
              "\"x-ratelimit-window\"": {
                "description": "\"x-ratelimit-window\"",
                "type": "string"
              },
              "}": {
                "description": "}",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/company/{CompanyNumber}/filing-history": {
      "get": {
        "responses": {
          "200": {
             "description": "Default",
            "schema": {
              "type": "object",
              "properties": {
                "filing_history_status": {
                  "type": "string",
                   "description": "Filing history status"
                },
                "items_per_page": {
                  "type": "integer",
                  "format": "int32",
                   "description": "Items per page"
                },
                "start_index": {
                  "type": "integer",
                  "format": "int32",
                    "description": "Start index"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "action_date": {
                        "type": "string",
                         "description": "Action date"
                      },
                      "category": {
                        "type": "string",
                         "description": "Category"
                      },
                      "date": {
                        "type": "string",
                         "description": "Date"
                      },
                      "description": {
                        "type": "string",
                         "description": "Description"
                      },
                      "description_values": {
                        "type": "object",
                        "properties": {
                          "change_date": {
                            "type": "string",
                             "description": "Change date"
                          },
                          "new_address": {
                            "type": "string",
                             "description": "New address"
                          },
                          "old_address": {
                            "type": "string",
                             "description": "Old address"
                          },
                          "made_up_date": {
                            "type": "string",
                             "description": "Made up date"
                          },
                          "description": {
                            "type": "string",
                             "description": "Description"
                          },
                          "capital": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "figure": {
                                  "type": "string",
                                   "description": "Figure"
                                },
                                "currency": {
                                  "type": "string",
                                   "description": "Currency"
                                }
                              }
                            },
                             "description": "Capital"
                          },
                          "date": {
                            "type": "string",
                             "description": "Date"
                          },
                          "officer_name": {
                            "type": "string",
                             "description": "Officer name"
                          },
                          "appointment_date": {
                            "type": "string",
                             "description": "Appointment date"
                          }
                        },
                         "description": "Description values"
                      },
                      "links": {
                        "type": "object",
                        "properties": {
                          "self": {
                            "type": "string",
                              "description": "Self"
                          },
                          "document_metadata": {
                            "type": "string",
                             "description": "Document metadata"
                          }
                        },
                         "description": "Links"
                      },
                      "type": {
                        "type": "string",
                         "description": "Type"
                      },
                      "pages": {
                        "type": "integer",
                        "format": "int32",
                         "description": "Pages"
                      },
                      "barcode": {
                        "type": "string",
                         "description": "Barcode"
                      },
                      "transaction_id": {
                        "type": "string",
                         "description": "Transaction id"
                      },
                      "paper_filed": {
                        "type": "boolean",
                         "description": "Paper filed"
                      },
                      "resolutions": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "category": {
                              "type": "string",
                               "description": "Category"
                            },
                            "description": {
                              "type": "string",
                               "description": "Description"
                            },
                            "description_values": {
                              "type": "object",
                              "properties": {
                                "res_type": {
                                  "type": "string",
                                   "description": "Res type"
                                }
                              },
                               "description": "Description values"
                            },
                            "subcategory": {
                              "type": "string",
                                "description": "Subcategory"
                            },
                            "type": {
                              "type": "string",
                               "description": "Type"
                            }
                          }
                        },
                         "description": "Resolutions"
                      },
                      "subcategory": {
                        "type": "string",
                          "description": "Subcategory"
                      }
                    }
                  },
                   "description": "Items"
                },
                "total_count": {
                  "type": "integer",
                  "format": "int32",
                   "description": "Total count"
                }
              }
            },
            "headers": {
              "{": {
                "description": "{",
                "type": "string"
              },
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"content-length\"": {
                "description": "\"content-length\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"date\"": {
                "description": "\"date\"",
                "type": "string"
              },
              "\"pragma\"": {
                "description": "\"pragma\"",
                "type": "string"
              },
              "\"x-ms-apihub-cached-response\"": {
                "description": "\"x-ms-apihub-cached-response\"",
                "type": "string"
              },
              "\"x-ratelimit-limit\"": {
                "description": "\"x-ratelimit-limit\"",
                "type": "string"
              },
              "\"x-ratelimit-remain\"": {
                "description": "\"x-ratelimit-remain\"",
                "type": "string"
              },
              "\"x-ratelimit-reset\"": {
                "description": "\"x-ratelimit-reset\"",
                "type": "string"
              },
              "\"x-ratelimit-window\"": {
                "description": "\"x-ratelimit-window\"",
                "type": "string"
              },
              "}": {
                "description": "}",
                "type": "string"
              }
            }
          }
        },
        "summary": "Filing History By Company Number",
         "description": "Filing History By Company Number",
        "operationId": "FilingHistoryByCompNumber",
        "parameters": [
          {
            "name": "CompanyNumber",
            "in": "path",
            "required": true,
            "type": "string",
              "description": "Specify the Company Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Company Number"
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.gov.uk/government/organisations/companies-house"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.gov.uk/help/privacy-notice"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Website"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}