{
  "swagger": "2.0",
  "info": {
    "title": "TPC Portal",
    "description": "The Portal Connector (TPC) is the leading alternative for delivering Customer Engagement portals connected to Microsoft Dynamics 365. The TPC Portal Connector enables organizations and businesses to capture triggers based on the interaction of portal users within The Portal Connector. The Connector also enables administrators to execute actions within The Portal Connector like assigning roles, creating content, and managing common processes.",
    "contact": {
      "name": "TPC Support",
      "url": "https://www.portalconnector.com",
      "email": "support@portalconnector.com"
    },
    "version": "1.0"
  },
  "host": "cheese.crmportalconnector.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/PortalConnectorPowerPlatform/Services/Flow/v1/CreateContent": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Create Content",
        "description": "Create content on the portal site.",
        "operationId": "TpcActionCreateContent",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Create Content Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Actions.Sitefinity.Content.Request.InitiateCreateContentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "x-ms-dynamic-schema": {
                "operationId": "TpcDynamicResolveContentSchema",
                "value-path": "schema",
                "parameters": {
                  "operation": 0,
                  "phase": 1,
                  "fullName": {
                    "parameter": "contentType"
                  },
                  "version": 1
                }
              },
              "x-ms-dynamic-properties": {
                "operationId": "TpcDynamicResolveContentSchema",
                "itemValuePath": "schema",
                "parameters": {
                  "body/operation": {
                    "value": 0
                  },
                  "body/phase": {
                    "value": 1
                  },
                  "body/fullName": {
                    "parameterReference": "body/contentType"
                  },
                  "body/version": {
                    "value": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "501": {
            "description": "Not Implemented.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcActionCreateContent",
          "revision": 1
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/DeleteContent": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Delete Content",
        "description": "Delete content on the portal site.",
        "operationId": "TpcActionDeleteContent",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Delete Content Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Actions.Sitefinity.Content.Request.InitiateDeleteContentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "x-ms-dynamic-schema": {
                "operationId": "TpcDynamicResolveContentSchema",
                "value-path": "schema",
                "parameters": {
                  "operation": 3,
                  "phase": 1,
                  "fullName": {
                    "parameter": "contentType"
                  },
                  "version": 1
                }
              },
              "x-ms-dynamic-properties": {
                "operationId": "TpcDynamicResolveContentSchema",
                "itemValuePath": "schema",
                "parameters": {
                  "body/operation": {
                    "value": 3
                  },
                  "body/phase": {
                    "value": 1
                  },
                  "body/fullName": {
                    "parameterReference": "body/contentType"
                  },
                  "body/version": {
                    "value": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "501": {
            "description": "Not Implemented.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcActionDeleteContent",
          "revision": 1
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/EditContent": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Edit Content",
        "description": "Edit content on the portal site.",
        "operationId": "TpcActionEditContent",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Edit Content Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Actions.Sitefinity.Content.Request.InitiateEditContentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "x-ms-dynamic-schema": {
                "operationId": "TpcDynamicResolveContentSchema",
                "value-path": "schema",
                "parameters": {
                  "operation": 2,
                  "phase": 1,
                  "fullName": {
                    "parameter": "contentType"
                  },
                  "version": 1
                }
              },
              "x-ms-dynamic-properties": {
                "operationId": "TpcDynamicResolveContentSchema",
                "itemValuePath": "schema",
                "parameters": {
                  "body/operation": {
                    "value": 2
                  },
                  "body/phase": {
                    "value": 1
                  },
                  "body/fullName": {
                    "parameterReference": "body/contentType"
                  },
                  "body/version": {
                    "value": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "501": {
            "description": "Not Implemented.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcActionEditContent",
          "revision": 1
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/GetAllContent": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Get All Content",
        "description": "Get all content on the portal site.",
        "operationId": "TpcActionGetAllContent",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Get All Content Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Actions.Sitefinity.Content.Request.InitiateGetAllContentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "x-ms-dynamic-schema": {
                "operationId": "TpcDynamicResolveContentSchema",
                "value-path": "schema",
                "parameters": {
                  "operation": 4,
                  "phase": 1,
                  "fullName": {
                    "parameter": "contentType"
                  },
                  "version": 1
                }
              },
              "x-ms-dynamic-properties": {
                "operationId": "TpcDynamicResolveContentSchema",
                "itemValuePath": "schema",
                "parameters": {
                  "body/operation": {
                    "value": 4
                  },
                  "body/phase": {
                    "value": 1
                  },
                  "body/fullName": {
                    "parameterReference": "body/contentType"
                  },
                  "body/version": {
                    "value": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "501": {
            "description": "Not Implemented.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcActionGetAllContent",
          "revision": 1
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/GetContent": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Get Content",
        "description": "Get content on the portal site.",
        "operationId": "TpcActionGetContent",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Get Content Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Actions.Sitefinity.Content.Request.InitiateGetContentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "x-ms-dynamic-schema": {
                "operationId": "TpcDynamicResolveContentSchema",
                "value-path": "schema",
                "parameters": {
                  "operation": 1,
                  "phase": 1,
                  "fullName": {
                    "parameter": "contentType"
                  },
                  "version": 1
                }
              },
              "x-ms-dynamic-properties": {
                "operationId": "TpcDynamicResolveContentSchema",
                "itemValuePath": "schema",
                "parameters": {
                  "body/operation": {
                    "value": 1
                  },
                  "body/phase": {
                    "value": 1
                  },
                  "body/fullName": {
                    "parameterReference": "body/contentType"
                  },
                  "body/version": {
                    "value": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "501": {
            "description": "Not Implemented.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcActionGetContent",
          "revision": 1
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/SyncMetadata": {
      "get": {
        "tags": [
          "Actions"
        ],
        "summary": "Sync Metadata",
        "description": "Trigger a metadata sync on the portal site.",
        "operationId": "TpcActionSyncMetadata",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcActionSyncMetadata",
          "revision": 1
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/PublishContent": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Publish Content",
        "description": "Publish content on the portal site.",
        "operationId": "TpcActionPublishContent",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Publish Content Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Actions.Sitefinity.Content.Request.InitiatePublishContentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "x-ms-dynamic-schema": {
                "operationId": "TpcDynamicResolveContentSchema",
                "value-path": "schema",
                "parameters": {
                  "operation": 5,
                  "phase": 1,
                  "fullName": {
                    "parameter": "contentType"
                  },
                  "version": 1
                }
              },
              "x-ms-dynamic-properties": {
                "operationId": "TpcDynamicResolveContentSchema",
                "itemValuePath": "schema",
                "parameters": {
                  "body/operation": {
                    "value": 5
                  },
                  "body/phase": {
                    "value": 1
                  },
                  "body/fullName": {
                    "parameterReference": "body/contentType"
                  },
                  "body/version": {
                    "value": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "501": {
            "description": "Not Implemented.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcActionPublishContent",
          "revision": 1
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/CreatePortalUser": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Create Portal User",
        "description": "Create a portal user on the portal site.",
        "operationId": "TpcActionCreatePortalUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Create Portal User Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Engine.Operations.TPC.PortalUser.PortalUserInfoCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.Content.TPC.PortalUser.Response.PortalUserResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "501": {
            "description": "Not Implemented.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcActionCreatePortalUser",
          "revision": 1
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/EditPortalUser": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Edit Portal User",
        "description": "Edit a portal user on the portal site.",
        "operationId": "TpcActionEditPortalUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Edit Portal User Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Engine.Operations.TPC.PortalUser.PortalUserInfoEdit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.Content.TPC.PortalUser.Response.PortalUserResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "501": {
            "description": "Not Implemented.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcActionEditPortalUser",
          "revision": 1
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/GetPortalUser": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Get Portal User",
        "description": "Get a portal user on the portal site.",
        "operationId": "TpcActionGetPortalUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Select Portal User Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.Content.TPC.PortalUser.SelectPortalUserParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.Content.TPC.PortalUser.Response.PortalUserResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "501": {
            "description": "Not Implemented.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcActionGetPortalUser",
          "revision": 1
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/DeletePortalUser": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Delete Portal User",
        "description": "Deletes a portal user on the portal site.",
        "operationId": "TpcActionDeletePortalUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Select Portal User Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.Content.TPC.PortalUser.SelectPortalUserParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "501": {
            "description": "Not Implemented.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcActionDeletePortalUser",
          "revision": 1
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/GetAllPortalUsers": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Get All Portal Users",
        "description": "Get all portal users on the portal site.",
        "operationId": "TpcActionGetAllPortalUsers",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.Content.TPC.PortalUser.Response.PortalUsersResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "501": {
            "description": "Not Implemented.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcActionGetAllPortalUsers",
          "revision": 1
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/AssignRole": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Assign Role",
        "description": "Assign a role to a sitefinity user on the portal site.",
        "operationId": "TpcActionAssignRole",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Initiate Role Action Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Actions.Sitefinity.Role.Request.InitiateRoleActionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.Content.Sitefinity.Hybrid.Response.UserRolePortalResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcActionAssignRole",
          "revision": 1
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/UnassignRole": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Unassign Role",
        "description": "Unassign a role from a sitefinity user on the portal site.",
        "operationId": "TpcActionUnassignRole",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Initiate Role Action Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Actions.Sitefinity.Role.Request.InitiateRoleActionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.Content.Sitefinity.Hybrid.Response.UserRolePortalResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcActionUnassignRole",
          "revision": 1
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/UnpublishContent": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Unpublish Content",
        "description": "Unpublish content on the portal site.",
        "operationId": "TpcActionUnpublishContent",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Unpublish Content Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Actions.Sitefinity.Content.Request.InitiateUnpublishContentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "x-ms-dynamic-schema": {
                "operationId": "TpcDynamicResolveContentSchema",
                "value-path": "schema",
                "parameters": {
                  "operation": 6,
                  "phase": 1,
                  "fullName": {
                    "parameter": "contentType"
                  },
                  "version": 1
                }
              },
              "x-ms-dynamic-properties": {
                "operationId": "TpcDynamicResolveContentSchema",
                "itemValuePath": "schema",
                "parameters": {
                  "body/operation": {
                    "value": 6
                  },
                  "body/phase": {
                    "value": 1
                  },
                  "body/fullName": {
                    "parameterReference": "body/contentType"
                  },
                  "body/version": {
                    "value": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "501": {
            "description": "Not Implemented.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcActionUnpublishContent",
          "revision": 1
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/LockoutUser": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Lockout User",
        "description": "Lockout a user on the portal site.",
        "operationId": "TpcActionLockoutUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Initiate User Action Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Actions.Sitefinity.User.Request.InitiateUserActionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.Content.Sitefinity.User.Response.UserPortalResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcActionLockoutUser",
          "revision": 1
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/UnlockUser": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Unlock User",
        "description": "Unlock a user on the portal site.",
        "operationId": "TpcActionUnlockUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Initiate User Action Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Actions.Sitefinity.User.Request.InitiateUserActionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.Content.Sitefinity.User.Response.UserPortalResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcActionUnlockUser",
          "revision": 1
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/RetrieveContentTypes": {
      "post": {
        "tags": [
          "Dynamic"
        ],
        "summary": "Retrieve Content Types",
        "description": "Retrieve a list of all content types on the portal site.",
        "operationId": "TpcDynamicRetrieveContentTypes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Types Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Actions.Generic.Types.Request.TypesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.Content.Generic.Types.Response.TypesPortalResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.Content.Generic.Types.Response.TypesPortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.Content.Generic.Types.Response.TypesPortalResponse"
            }
          }
        },
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcDynamicRetrieveContentTypes",
          "revision": 1
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/ResolveContentSchema": {
      "post": {
        "tags": [
          "Dynamic"
        ],
        "summary": "Resolve Content Schema",
        "description": "Resolve a content schema for a specific content type of the portal site.",
        "operationId": "TpcDynamicResolveContentSchema",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Schema Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Actions.Generic.Schema.Request.SchemaRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Actions.Generic.Schema.Response.SchemaResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Actions.Generic.Schema.Response.SchemaResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Actions.Generic.Schema.Response.SchemaResponse"
            }
          },
          "501": {
            "description": "Not Implemented.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Actions.Generic.Schema.Response.SchemaResponse"
            }
          }
        },
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcDynamicResolveContentSchema",
          "revision": 1
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/RetrieveFrontendPages": {
      "get": {
        "tags": [
          "Dynamic"
        ],
        "summary": "Retrieve Pages",
        "description": "Retrieve a list of all frontend pages on the portal site.",
        "operationId": "TpcDynamicRetrieveFrontendPages",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.Content.Sitefinity.Page.Response.PageNodesPortalResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.Content.Sitefinity.Page.Response.PageNodesPortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.Content.Sitefinity.Page.Response.PageNodesPortalResponse"
            }
          }
        },
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcDynamicRetrieveFrontendPages",
          "revision": 1
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/SubscribeLogin": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "Login",
        "description": "Subscribes to the login event.",
        "operationId": "TpcTriggerLogin",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Login Subscribe Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.Authentication.Request.SubscribeLoginRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully Created Event Subscription.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            },
            "headers": {
              "Location": {
                "description": "Location of the Delete Method of the WebHook",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcTriggerLogin",
          "revision": 1
        }
      },
      "x-ms-notification-content": {
        "description": "Details for the object provided by the WebHook notification",
        "schema": {
          "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.Authentication.Request.NotifyLoginRequest"
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/SubscribeLogout": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "Logout",
        "description": "Subscribes to the logout event.",
        "operationId": "TpcTriggerLogout",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Logout Subscribe Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.Authentication.Request.SubscribeLogoutRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully Created Event Subscription.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            },
            "headers": {
              "Location": {
                "description": "Location of the Delete Method of the WebHook",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcTriggerLogout",
          "revision": 1
        }
      },
      "x-ms-notification-content": {
        "description": "Details for the object provided by the WebHook notification",
        "schema": {
          "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.Authentication.Request.NotifyLogoutRequest"
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/SubscribeCommentCreated": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "Comment Created",
        "description": "Subscribes to the comment created event.",
        "operationId": "TpcTriggerCommentCreated",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Comment Subscribe Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.Comment.Request.SubscribeCommentRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully Created Event Subscription.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            },
            "headers": {
              "Location": {
                "description": "Location of the Delete Method of the WebHook",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcTriggerCommentCreated",
          "revision": 1
        }
      },
      "x-ms-notification-content": {
        "description": "Details for the object provided by the WebHook notification",
        "schema": {
          "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.Comment.Request.NotifyCommentRequest"
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/SubscribeCommentUpdated": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "Comment Updated",
        "description": "Subscribes to the comment updated event.",
        "operationId": "TpcTriggerCommentUpdated",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Comment Subscribe Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.Comment.Request.SubscribeCommentRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully Created Event Subscription.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            },
            "headers": {
              "Location": {
                "description": "Location of the Delete Method of the WebHook",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcTriggerCommentUpdated",
          "revision": 1
        }
      },
      "x-ms-notification-content": {
        "description": "Details for the object provided by the WebHook notification",
        "schema": {
          "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.Comment.Request.NotifyCommentRequest"
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/SubscribeCommentDeleted": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "Comment Deleted",
        "description": "Subscribes to the comment deleted event.",
        "operationId": "TpcTriggerCommentDeleted",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Comment Subscribe Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.Comment.Request.SubscribeCommentRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully Created Event Subscription.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            },
            "headers": {
              "Location": {
                "description": "Location of the Delete Method of the WebHook",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcTriggerCommentDeleted",
          "revision": 1
        }
      },
      "x-ms-notification-content": {
        "description": "Details for the object provided by the WebHook notification",
        "schema": {
          "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.Comment.Request.NotifyCommentRequest"
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/Unsubscribe": {
      "delete": {
        "tags": [
          "Triggers"
        ],
        "summary": "Unsubscribe Trigger",
        "description": "Deletes a web hook subscription for a trigger.",
        "operationId": "TpcTriggerDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "description": "Id of the Web Hook to be Deleted",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully Deleted WebHook Subscription.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcTriggerDelete",
          "revision": 1
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/SubscribeContentCreated": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "Content Created",
        "description": "Subscribes to the content created event.",
        "operationId": "TpcTriggerContentCreated",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Content Created Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.Content.Request.SubscribeContentRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully Created Event Subscription.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            },
            "headers": {
              "Location": {
                "description": "Location of the Delete Method of the WebHook",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "x-ms-dynamic-schema": "TpcDynamicResolveContentSchemaschema",
        "x-ms-dynamic-properties": "TpcDynamicResolveContentSchemaschema",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcTriggerContentCreated",
          "revision": 1
        }
      },
      "x-ms-notification-content": {
        "description": "Details for the object provided by the WebHook notification\n                TpcDynamicResolveContentSchemaschemaTpcDynamicResolveContentSchemaschema",
        "schema": {
          "x-ms-dynamic-schema": {
            "operationId": "TpcDynamicResolveContentSchema",
            "value-path": "schema",
            "parameters": {
              "operation": 8,
              "phase": 1,
              "fullName": {
                "parameter": "contentType"
              },
              "version": 1
            }
          },
          "x-ms-dynamic-properties": {
            "operationId": "TpcDynamicResolveContentSchema",
            "itemValuePath": "schema",
            "parameters": {
              "body/operation": {
                "value": 8
              },
              "body/phase": {
                "value": 1
              },
              "body/fullName": {
                "parameterReference": "body/contentType"
              },
              "body/version": {
                "value": 1
              }
            }
          }
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/SubscribeContentUpdated": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "Content Updated",
        "description": "Subscribes to the content updated event.",
        "operationId": "TpcTriggerContentUpdated",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Content Updated Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.Content.Request.SubscribeContentRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully Created Event Subscription.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            },
            "headers": {
              "Location": {
                "description": "Location of the Delete Method of the WebHook",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "x-ms-dynamic-schema": "TpcDynamicResolveContentSchemaschema",
        "x-ms-dynamic-properties": "TpcDynamicResolveContentSchemaschema",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcTriggerContentUpdated",
          "revision": 1
        }
      },
      "x-ms-notification-content": {
        "description": "Details for the object provided by the WebHook notification\n                TpcDynamicResolveContentSchemaschemaTpcDynamicResolveContentSchemaschema",
        "schema": {
          "x-ms-dynamic-schema": {
            "operationId": "TpcDynamicResolveContentSchema",
            "value-path": "schema",
            "parameters": {
              "operation": 8,
              "phase": 1,
              "fullName": {
                "parameter": "contentType"
              },
              "version": 1
            }
          },
          "x-ms-dynamic-properties": {
            "operationId": "TpcDynamicResolveContentSchema",
            "itemValuePath": "schema",
            "parameters": {
              "body/operation": {
                "value": 8
              },
              "body/phase": {
                "value": 1
              },
              "body/fullName": {
                "parameterReference": "body/contentType"
              },
              "body/version": {
                "value": 1
              }
            }
          }
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/SubscribeContentDeleted": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "Content Deleted",
        "description": "Subscribes to the content deleted event.",
        "operationId": "TpcTriggerContentDeleted",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Content Deleted Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.Content.Request.SubscribeContentRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully Created Event Subscription.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            },
            "headers": {
              "Location": {
                "description": "Location of the Delete Method of the WebHook",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "x-ms-dynamic-schema": "TpcDynamicResolveContentSchemaschema",
        "x-ms-dynamic-properties": "TpcDynamicResolveContentSchemaschema",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcTriggerContentDeleted",
          "revision": 1
        }
      },
      "x-ms-notification-content": {
        "description": "Details for the object provided by the WebHook notification\n                TpcDynamicResolveContentSchemaschemaTpcDynamicResolveContentSchemaschema",
        "schema": {
          "x-ms-dynamic-schema": {
            "operationId": "TpcDynamicResolveContentSchema",
            "value-path": "schema",
            "parameters": {
              "operation": 9,
              "phase": 1,
              "fullName": {
                "parameter": "contentType"
              },
              "version": 1
            }
          },
          "x-ms-dynamic-properties": {
            "operationId": "TpcDynamicResolveContentSchema",
            "itemValuePath": "schema",
            "parameters": {
              "body/operation": {
                "value": 9
              },
              "body/phase": {
                "value": 1
              },
              "body/fullName": {
                "parameterReference": "body/contentType"
              },
              "body/version": {
                "value": 1
              }
            }
          }
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/SubscribeFormEntryCreated": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "Form Entry Created",
        "description": "Subscribes to the form entry created event.",
        "operationId": "TpcTriggerFormEntryCreated",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Form Entry Subscribe Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.Form.Request.SubscribeFormEntryRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully Created Event Subscription.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            },
            "headers": {
              "Location": {
                "description": "Location of the Delete Method of the WebHook",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcTriggerFormEntryCreated",
          "revision": 1
        }
      },
      "x-ms-notification-content": {
        "description": "Details for the object provided by the WebHook notification",
        "schema": {
          "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.Form.Request.NotifyFormEntryRequest"
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/SubscribeFormEntryUpdated": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "Form Entry Updated",
        "description": "Subscribes to the form entry updated event.",
        "operationId": "TpcTriggerFormEntryUpdated",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Form Entry Subscribe Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.Form.Request.SubscribeFormEntryRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully Created Event Subscription.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            },
            "headers": {
              "Location": {
                "description": "Location of the Delete Method of the WebHook",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcTriggerFormEntryUpdated",
          "revision": 1
        }
      },
      "x-ms-notification-content": {
        "description": "Details for the object provided by the WebHook notification",
        "schema": {
          "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.Form.Request.NotifyFormEntryRequest"
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/SubscribeKnowledgeSearch": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "TPC Knowledge Search",
        "description": "Subscribes to the TPC knowledge search event.",
        "operationId": "TpcTriggerKnowledgeSearch",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "TPC Knowledge Search Subscribe Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.TPC.Search.Request.SubscribeKnowledgeSearchRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully Created Event Subscription.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            },
            "headers": {
              "Location": {
                "description": "Location of the Delete Method of the WebHook",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcTriggerKnowledgeSearch",
          "revision": 1
        }
      },
      "x-ms-notification-content": {
        "description": "Details for the object provided by the WebHook notification",
        "schema": {
          "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.TPC.Search.Request.NotifyKnowledgeSearchRequest"
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/SubscribePageNavigation": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "Page Navigation",
        "description": "Subscribes to the page navigation event.",
        "operationId": "TpcTriggerPageNavigation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Page Navigation Subscribe Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.Navigation.Request.SubscribePageNavigationRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully Created Event Subscription.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            },
            "headers": {
              "Location": {
                "description": "Location of the Delete Method of the WebHook",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcTriggerPageNavigation",
          "revision": 1
        }
      },
      "x-ms-notification-content": {
        "description": "Details for the object provided by the WebHook notification",
        "schema": {
          "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.Navigation.Request.NotifyPageNavigationRequest"
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/SubscribePortalUserCreated": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "Portal User Created",
        "description": "Subscribes to a portal user created event.",
        "operationId": "TpcTriggerPortalUserCreated",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Portal Subscribe Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.Triggers.Request.PortalSubscribeRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully Created Event Subscription.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            },
            "headers": {
              "Location": {
                "description": "Location of the Delete Method of the WebHook",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcTriggerPortalUserCreated",
          "revision": 1
        }
      },
      "x-ms-notification-content": {
        "description": "Details for the object provided by the WebHook notification",
        "schema": {
          "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.TPC.PortalUser.Request.NotifyPortalUserRequest"
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/SubscribePortalUserUpdated": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "Portal User Updated",
        "description": "Subscribes to a portal user updated event.",
        "operationId": "TpcTriggerPortalUserUpdated",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Portal Subscribe Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.Triggers.Request.PortalSubscribeRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully Created Event Subscription.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            },
            "headers": {
              "Location": {
                "description": "Location of the Delete Method of the WebHook",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcTriggerPortalUserUpdated",
          "revision": 1
        }
      },
      "x-ms-notification-content": {
        "description": "Details for the object provided by the WebHook notification",
        "schema": {
          "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.TPC.PortalUser.Request.NotifyPortalUserRequest"
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/SubscribePortalUserDeleted": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "Portal User Deleted",
        "description": "Subscribes to a portal user deleted event.",
        "operationId": "TpcTriggerPortalUserDeleted",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Portal Subscribe Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.Triggers.Request.PortalSubscribeRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully Created Event Subscription.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            },
            "headers": {
              "Location": {
                "description": "Location of the Delete Method of the WebHook",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcTriggerPortalUserDeleted",
          "revision": 1
        }
      },
      "x-ms-notification-content": {
        "description": "Details for the object provided by the WebHook notification",
        "schema": {
          "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.TPC.PortalUser.Request.NotifyPortalUserDeleteRequest"
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/SubscribeRoleAssigned": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "Role Assigned",
        "description": "Subscribes to the role assigned event.",
        "operationId": "TpcTriggerRoleAssigned",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Role Subscribe Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.Role.Request.SubscribeRoleRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully Created Event Subscription.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            },
            "headers": {
              "Location": {
                "description": "Location of the Delete Method of the WebHook",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcTriggerRoleAssigned",
          "revision": 1
        }
      },
      "x-ms-notification-content": {
        "description": "Details for the object provided by the WebHook notification",
        "schema": {
          "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.Role.Request.NotifyRoleRequest"
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/SubscribeRoleUnassigned": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "Role Unassigned",
        "description": "Subscribes to the role unassigned event.",
        "operationId": "TpcTriggerRoleUnassigned",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Role Subscribe Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.Role.Request.SubscribeRoleRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully Created Event Subscription.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            },
            "headers": {
              "Location": {
                "description": "Location of the Delete Method of the WebHook",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcTriggerRoleUnassigned",
          "revision": 1
        }
      },
      "x-ms-notification-content": {
        "description": "Details for the object provided by the WebHook notification",
        "schema": {
          "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.Role.Request.NotifyRoleRequest"
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/SubscribeSearch": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "Search",
        "description": "Subscribes to the search event.",
        "operationId": "TpcTriggerSearch",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Search Subscribe Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.Search.Request.SubscribeSearchRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully Created Event Subscription.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            },
            "headers": {
              "Location": {
                "description": "Location of the Delete Method of the WebHook",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcTriggerSearch",
          "revision": 1
        }
      },
      "x-ms-notification-content": {
        "description": "Details for the object provided by the WebHook notification",
        "schema": {
          "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.Search.Request.NotifySearchRequest"
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/SubscribeFormSubmission": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "TPC Form Submission",
        "description": "Subscribes to the TPC form submission event.",
        "operationId": "TpcTriggerFormSubmission",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Form Submission Subscribe Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.TPC.Form.Request.SubscribeFormSubmissionRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully Created Event Subscription.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            },
            "headers": {
              "Location": {
                "description": "Location of the Delete Method of the WebHook",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcTriggerFormSubmission",
          "revision": 1
        }
      },
      "x-ms-notification-content": {
        "description": "Details for the object provided by the WebHook notification",
        "schema": {
          "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.TPC.Form.Request.NotifyFormSubmissionRequest"
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/SubscribeUserCreated": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "User Created",
        "description": "Subscribes to a user created event.",
        "operationId": "TpcTriggerUserCreated",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Portal Subscribe Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.Triggers.Request.PortalSubscribeRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully Created Event Subscription.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            },
            "headers": {
              "Location": {
                "description": "Location of the Delete Method of the WebHook",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcTriggerUserCreated",
          "revision": 1
        }
      },
      "x-ms-notification-content": {
        "description": "Details for the object provided by the WebHook notification",
        "schema": {
          "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.User.Request.NotifyUserRequest"
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/SubscribeUserUpdated": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "User Updated",
        "description": "Subscribes to a user updated event.",
        "operationId": "TpcTriggerUserUpdated",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Portal Subscribe Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.Triggers.Request.PortalSubscribeRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully Created Event Subscription.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            },
            "headers": {
              "Location": {
                "description": "Location of the Delete Method of the WebHook",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcTriggerUserUpdated",
          "revision": 1
        }
      },
      "x-ms-notification-content": {
        "description": "Details for the object provided by the WebHook notification",
        "schema": {
          "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.User.Request.NotifyUserRequest"
        }
      }
    },
    "/PortalConnectorPowerPlatform/Services/Flow/v1/SubscribeUserDeleted": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "User Deleted",
        "description": "Subscribes to a user deleted event.",
        "operationId": "TpcTriggerUserDeleted",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Portal Subscribe Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.Triggers.Request.PortalSubscribeRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully Created Event Subscription.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            },
            "headers": {
              "Location": {
                "description": "Location of the Delete Method of the WebHook",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          },
          "403": {
            "description": "Unauthorized Request.",
            "schema": {
              "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse"
            }
          }
        },
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TpcTriggerUserDeleted",
          "revision": 1
        }
      },
      "x-ms-notification-content": {
        "description": "Details for the object provided by the WebHook notification",
        "schema": {
          "$ref": "#/definitions/pavliks.PortalConnector.PowerPlatform.Models.Services.Triggers.Sitefinity.User.Request.NotifyUserRequest"
        }
      }
    }
  },
  "definitions": {
    "pavliks.PortalConnector.PowerPlatform.Models.Services.Actions.Sitefinity.Content.Request.InitiateCreateContentRequest": {
      "description": "Request Object that is Used to Initiate Create Content requests on the Portal Site.",
      "required": [
        "contentType"
      ],
      "type": "object",
      "properties": {
        "contentType": {
          "description": "Content type of the create request.",
          "type": "string",
          "x-ms-summary": "Content Type",
          "x-ms-visibility": "important",
          "x-ms-dynamic-values": {
            "operationId": "TpcDynamicRetrieveContentTypes",
            "value-path": "fullName",
            "value-title": "_tpcDisplayName",
            "value-collection": "items",
            "parameters": {
              "operation": 0,
              "version": 1
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "TpcDynamicRetrieveContentTypes",
            "itemsPath": "items",
            "itemValuePath": "fullName",
            "itemTitlePath": "_tpcDisplayName",
            "parameters": {
              "body/operation": {
                "value": 0
              },
              "body/version": {
                "value": 1
              }
            }
          }
        },
        "schema": {
          "description": "Schema of the content create request.",
          "type": "object",
          "x-ms-summary": "Schema",
          "x-ms-visibility": "important",
          "x-ms-dynamic-schema": {
            "operationId": "TpcDynamicResolveContentSchema",
            "value-path": "schema",
            "parameters": {
              "operation": 0,
              "phase": 0,
              "fullName": {
                "parameter": "contentType"
              },
              "version": 1
            }
          },
          "x-ms-dynamic-properties": {
            "operationId": "TpcDynamicResolveContentSchema",
            "itemValuePath": "schema",
            "parameters": {
              "body/operation": {
                "value": 0
              },
              "body/phase": {
                "value": 0
              },
              "body/fullName": {
                "parameterReference": "body/contentType"
              },
              "body/version": {
                "value": 1
              }
            }
          }
        }
      },
      "x-ms-summary": ""
    },
    "pavliks.PortalConnector.PowerPlatform.Models.Services.Shared.PortalResponse": {
      "description": "Generic Portal Response Message.",
      "required": [
        "status",
        "message",
        "timestamp"
      ],
      "type": "object",
      "properties": {
        "status": {
          "description": "Boolean that indicates whether the request failed (false) or succeeded (true).",
          "enum": [
            "true",
            "false"
          ],
          "type": "boolean",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important"
        },
        "message": {
          "description": "Message that summarizes the results of the request.",
          "type": "string",
          "x-ms-summary": "Message",
          "x-ms-visibility": "important"
        },
        "timestamp": {
          "format": "date-time",
[...]
