{
  "swagger": "2.0",
  "info": {
    "title": "Icon Horse",
    "description": "Get any site's favicon with Icon Horse. Confidently use Icon Horse and get bulletproof favicons with fallbacks if no icon exists. Icon Horse scours any website for the perfect favicon to use. Not just any icon, but the best quality available.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "icon.horse",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/icon/{domain}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "content-length": {
                "description": "content-length",
                "type": "integer"
              },
              "content-disposition": {
                "description": "content-disposition",
                "type": "string"
              },
              "age": {
                "description": "age",
                "type": "integer"
              }
            }
          }
        },
        "summary": "Get favicon",
        "description": "Retrieve the best available favicon. A backup image is returned if no favicon is available.",
        "operationId": "FaviconGet",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The domain name you are requesting a favicon for.",
            "x-ms-summary": "Domain",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://icon.horse/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://icon.horse/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Website"
    }
  ]
}