{
  "swagger": "2.0",
  "info": {
    "title": "Icon Horse",
    "description": "Get any site's favicon with Icon Horse. Confidently use Icon Horse and get bulletproof favicons with fallbacks if no icon exists. Icon Horse scours any website for the perfect favicon to use. Not just any icon, but the best quality available.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "icon.horse",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/icon/{domain}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "The response media type.",
                "x-ms-summary": "Content-Type",
                "type": "string"
              },
              "content-disposition": {
                "description": "Contains whether the response content is displayed in the browser or saved locally, and the filename.",
                "x-ms-summary": "content-disposition",
                "type": "string"
              }
            }
          }
        },
        "summary": "Get favicon",
        "description": "Retrieve the best available favicon. A backup image is returned if no favicon is available.",
        "operationId": "FaviconGet",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The domain name you are requesting a favicon for.",
            "x-ms-summary": "Domain",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://icon.horse/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://icon.horse/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Website"
    }
  ]
}
