{
  "swagger": "2.0",
  "info": {
    "title": "Icon Horse",
    "description": "Get any site's favicon with Icon Horse. Confidently use Icon Horse and get bulletproof favicons with fallbacks if no icon exists. Icon Horse scours any website for the perfect favicon to use. Not just any icon, but the best quality available.",
    "version": "1.1",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "icon.horse",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/icon/{domain}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "The response media type.",
                "x-ms-summary": "Content-Type",
                "type": "string"
              },
              "content-disposition": {
                "description": "Contains whether the response content is displayed in the browser or saved locally, and the filename.",
                "x-ms-summary": "content-disposition",
                "type": "string"
              }
            }
          }
        },
        "summary": "Get favicon",
        "description": "Retrieve the best available favicon. A backup image is returned if no favicon is available.",
        "operationId": "FaviconGet",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The domain name you are requesting a favicon for.",
            "x-ms-summary": "Domain",
            "x-ms-url-encoding": "single",
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Identifies you as a Pro client, meaning you can use Pro features.",
            "x-ms-summary": "API Key"
          },
          {
            "name": "fallback_text",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "EFF6FF",
            "description": "Specify a custom text colour for the fallback icon's text. Expects a hex colour value with no hash mark. Pro/Enterprise only",
            "x-ms-summary": "Fallback Text"
          },
          {
            "name": "fallback_bg",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "1F2937",
            "description": "Specify a custom background colour for the fallback icon. Expects a hex colour value with no hash mark. Pro/Enterprise only",
            "x-ms-summary": "Fallback Background"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "If the site has multiple options available for icons, serve the size you prefer. Please note that if you request a size that is not available, you will be served whatever icon size is closest to the one you requested \u2013 unless you set ignore_other_sizes (see below), in which case you will get the fallback in the size you requested. Pro/Enterprise only",
            "x-ms-summary": "Size"
          },
          {
            "name": "ignore_other_sizes",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "If you specified a size param, and if you want Icon Horse to serve you a fallback if that size is not available (but other sizes might be), set this to true. Pro/Enterprise only",
            "x-ms-summary": "Ignore Other Sizes",
            "enum": [
              false,
              true
            ]
          }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://icon.horse/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://icon.horse/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Website"
    }
  ]
}
