{
  "swagger": "2.0",
  "info": {
    "title": "SendSMS",
    "description": "sendSMS is a leading European Communications Platform as a Service (CPaaS) known for its reliability. Established in 2008, the platform has expanded its services globally. Specializing in seamless no-code and low-code integrations, sendSMS has effectively integrated with over 30 eCommerce platforms, CRMs, ERPs, and various integrators, streamlining communications and operational efficiency.",
    "version": "1.0"
  },
  "host": "api.sendsms.ro",
  "basePath": "/integration/powerautomate/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/message_send": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "message_id": {
                  "type": "string",
                  "description": "message_id"
                },
                "details": {
                  "type": "string",
                  "description": "details"
                },
                "mcc": {
                  "type": "string",
                  "description": "mcc"
                },
                "mnc": {
                  "type": "string",
                  "description": "mnc"
                },
                "parts": {
                  "type": "integer",
                  "format": "int32",
                  "description": "parts"
                },
                "length": {
                  "type": "integer",
                  "format": "int32",
                  "description": "length"
                },
                "shortlink": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "shortlink"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "to": {
                  "type": "string",
                  "description": "to"
                },
                "text": {
                  "type": "string",
                  "description": "text"
                },
                "from": {
                  "type": "string",
                  "description": "from",
                  "title": "Sender (From)",
                  "x-ms-visibility": "important"
                },
                "short": {
                  "type": "string",
                  "description": "short"
                }
              },
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ],
        "operationId": "message_send",
        "summary": "Message Send",
        "x-ms-visibility": "important",
        "description": "This method is designed to activate the process of sending a Short Message Service (SMS) message to a pre-determined phone number upon receiving a specific request. It seamlessly facilitates the communication by ensuring that the SMS is transmitted efficiently to the designated recipient.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "message_send",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/message_status": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "details": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "description": "status"
                    },
                    "message": {
                      "type": "string",
                      "description": "message"
                    },
                    "cost": {
                      "type": "number",
                      "format": "float",
                      "description": "cost",
                      "title": ""
                    },
                    "parts": {
                      "type": "integer",
                      "format": "int32",
                      "description": "parts"
                    },
                    "timestamp_created": {
                      "type": "string",
                      "description": "timestamp_created"
                    },
                    "timestamp_delivered": {
                      "type": "string",
                      "description": "timestamp_delivered"
                    },
                    "timestamp_failed": {
                      "type": "string",
                      "description": "timestamp_failed"
                    },
                    "failover_id": {
                      "type": "string",
                      "description": "failover_id"
                    },
                    "ctype": {
                      "type": "string",
                      "description": "ctype"
                    }
                  },
                  "description": "details"
                }
              }
            }
          }
        },
        "summary": "Message Status",
        "description": "The Message Status method is designed to retrieve the current status of a message that has been sent through a communication platform. This method plays a critical role in message delivery systems, offering developers and users insights into the message lifecycle, including whether a message has been sent, delivered or encountered any errors during the process.",
        "x-ms-visibility": "important",
        "operationId": "message_status",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "message_id": {
                  "type": "string",
                  "description": "message_id",
                  "title": "Message ID",
                  "x-ms-visibility": "important"
                }
              },
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "message_status",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://api.sendsms.ro/oauth2/authorize",
      "tokenUrl": "https://api.sendsms.ro/oauth2/token",
      "scopes": {
        "PowerAutomate": "PowerAutomate"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "PowerAutomate"
      ]
    }
  ],
  "tags": [],
  "x-ms-openai-manifest": {
    "humanName": "sendSMS",
    "contactEmail": "support@sendsms.ro",
    "legalUrl": "https://www.sendsms.ro",
    "modelDescription": "sendSMS is a leading European Communications Platform as a Service (CPaaS) known for its reliability. Established in 2008, the platform has expanded its services globally. Specializing in seamless no-code and low-code integrations, sendSMS has effectively integrated with over 30 eCommerce platforms, CRMs, ERPs, and various integrators, streamlining communications and operational efficiency."
  }
}