{
  "swagger": "2.0",
  "info": {
    "title": "Google Chart QR Code Generator",
    "description": "This Connector is build arount the Google Chart API to generate QR codes to be used in Power Platform applications",
    "version": "1.0",
    "contact": {
      "name": "Iona Varga",
      "email": "ionavarga@outlook.com"
    }
  },
  "host": "chart.googleapis.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "x-ms-connector-metadata": [
  {
      "propertyName": "Website",
      "propertyValue": "https://chart.googleapis.com/"
  }
  ],
  "paths": {
    "/chart": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "type": "string",
                  "description": "$content-type"
                },
                "$content": {
                  "type": "string",
                  "description": "$content"
                }
              }
            }
          }
        },
        "operationId": "GenerateQR",
        "summary": "Generate a QR code based on a set of inputs",
        "description": "By providing a width and heigth, data, encoding and correction level, the Google Chart API can generate a QR code.",
        "parameters": [
          {
            "name": "cht",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "qr",
            "enum": [
              "qr"
            ],
            "description": "This parameter is only used to tell the Chart API it should generate a QR code",
            "x-ms-summary": "Parameter to generate a QR",
            "x-ms-visibility": "internal"
          },
          {
            "name": "chs",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "128x128",
            "description": "The width and height of the QR code in pixels",
            "x-ms-summary": "The width and height of QR code",
            "enum": [
              "64x64",
              "128x128",
              "164x164",
              "256x256"
            ]
          },
          {
            "name": "chld",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "L",
            "enum": [
              "L",
              "M",
              "Q",
              "H"
            ],
            "description": "Error correction level to determine the minimum quality needed",
            "x-ms-summary": "Quality loss acceptance"
          },
          {
            "name": "chl",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "https://www.google.nl",
            "description": "The data that should be in your QR code",
            "x-ms-summary": "This can be any string, data or URL"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}
