{
  "swagger": "2.0",
  "info": {
    "title": "TLDR",
    "description": "TLDR helps you summarize any piece of text into concise, easy to digest content so you can free yourself from information overload. Summarize any URL or text using state-of-the-art abstractive and extractive summarization models.",
    "version": "1.0.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "tldrthis.p.rapidapi.com",
  "basePath": "/v1/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/model/abstractive/summarize-url/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "summary": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The summary.",
                  "title": "Summary"
                },
                "article_text": {
                  "type": "string",
                  "description": "The article text.",
                  "title": "Article Text"
                },
                "article_title": {
                  "type": "string",
                  "description": "The article title.",
                  "title": "Article Title"
                },
                "article_authors": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The article authors.",
                  "title": "Article Authors"
                },
                "article_image": {
                  "type": "string",
                  "description": "The article image.",
                  "title": "Article Image"
                },
                "article_pub_date": {
                  "type": "string",
                  "description": "The article publish date.",
                  "title": "Article Pub Date"
                },
                "article_url": {
                  "type": "string",
                  "description": "The article URL.",
                  "title": "Article URL"
                },
                "article_html": {
                  "type": "string",
                  "description": "The article HTML.",
                  "title": "Article HTML"
                },
                "article_abstract": {
                  "type": "string",
                  "description": "The article abstract.",
                  "title": "Article Abstract"
                }
              }
            }
          }
        },
        "summary": "Get human-like article summarization",
        "description": "Use one of the world's most advanced abstractive summarization models to extract the most important sentences from a given article URL.",
        "operationId": "ArticleHumanPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The URL.",
                  "title": "URL"
                },
                "min_length": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The minimum length.",
                  "title": "Min Length",
                  "default": 100
                },
                "max_length": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum length.",
                  "title": "Max Length",
                  "default": 300
                },
                "is_detailed": {
                  "type": "boolean",
                  "description": "Whether is detailed.",
                  "title": "Is Detailed"
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ]
      }
    },
    "/model/extractive/summarize-url/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "summary": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The summary.",
                  "title": "Summary"
                },
                "article_text": {
                  "type": "string",
                  "description": "The article text.",
                  "title": "Article Text"
                },
                "article_title": {
                  "type": "string",
                  "description": "The article title.",
                  "title": "Article Title"
                },
                "article_authors": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The article authors.",
                  "title": "Article Authors"
                },
                "article_image": {
                  "type": "string",
                  "description": "The article image.",
                  "title": "Article Image"
                },
                "article_pub_date": {
                  "type": "string",
                  "description": "The article publish date.",
                  "title": "Article Pub Date"
                },
                "article_url": {
                  "type": "string",
                  "description": "The article URL.",
                  "title": "Article URL"
                },
                "article_html": {
                  "type": "string",
                  "description": "The article HTML.",
                  "title": "Article HTML"
                },
                "article_abstract": {
                  "type": "string",
                  "description": "The article abstract.",
                  "title": "Article Abstract"
                }
              }
            }
          }
        },
        "summary": "Get extractive article summarization",
        "description": "Use one of the world's most advanced extractive summarization models to extract the most important sentences from a given article URL.",
        "operationId": "ExtractArticlePost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The URL.",
                  "title": "URL"
                },
                "num_sentences": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of sentences.",
                  "title": "Sentences Number"
                },
                "is_detailed": {
                  "type": "boolean",
                  "description": "Whether is detailed.",
                  "title": "Is Detailed",
                  "default": true,
                  "enum": [
                    true,
                    false
                  ]
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ]
      }
    },
    "/model/abstractive/summarize-text/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "summary": {
                  "type": "string",
                  "description": "The summary.",
                  "title": "Summary"
                }
              }
            }
          }
        },
        "summary": "Get human-like text summarization",
        "description": "Use one of the world's most advanced abstractive summarization models to extract the most important sentences from a given text.",
        "operationId": "TextHumanPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string",
                  "description": "The text.",
                  "title": "Text"
                },
                "min_length": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The minimum length.",
                  "title": "Min Length",
                  "default": 100
                },
                "max_length": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum length.",
                  "title": "Max Length",
                  "default": 300
                }
              },
              "required": [
                "text"
              ]
            }
          }
        ]
      }
    },
    "/model/extractive/summarize-text/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "summary": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The summary.",
                  "title": "Summary"
                }
              }
            }
          }
        },
        "summary": "Get extractive text summarization",
        "description": "Use one of the world's most advanced extractive summarization models to extract the most important sentences from a given text.",
        "operationId": "ExtractTextPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string",
                  "description": "The text.",
                  "title": "Text"
                },
                "num_sentences": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of sentences.",
                  "title": "Sentences Number"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-RapidAPI-key"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://tldrthis.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://tldrthis.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI"
    }
  ]
}
