{
  "swagger": "2.0",
  "info": {
    "title": "MURAL",
    "description": "Connect MURAL with your favorite apps, so you can automate your work and have more time for what matters most—no code required.",
    "version": "1.0",
    "contact": {
      "name": "MURAL Support",
      "url": "https://www.mural.co/support",
      "email": "support@mural.co"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.mural.co/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.mural.co/terms/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Collaboration;Productivity"
    }
  ],
  "host": "app.mural.co",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [],
  "paths": {
    "/api/public/v1/murals": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "object",
                  "properties": {
                    "backgroundColor": {
                      "type": "string",
                      "description": "backgroundColor"
                    },
                    "createdBy": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "description": "email"
                        },
                        "firstName": {
                          "type": "string",
                          "description": "firstName"
                        },
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "lastName": {
                          "type": "string",
                          "description": "lastName"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        }
                      },
                      "description": "createdBy"
                    },
                    "createdOn": {
                      "type": "integer",
                      "format": "int32",
                      "description": "createdOn"
                    },
                    "embedLink": {
                      "type": "string",
                      "description": "embedLink"
                    },
                    "favorite": {
                      "type": "boolean",
                      "description": "favorite"
                    },
                    "height": {
                      "type": "integer",
                      "format": "int32",
                      "description": "height"
                    },
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "roomId": {
                      "type": "integer",
                      "format": "int32",
                      "description": "roomId"
                    },
                    "sharingSettings": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string",
                          "description": "link"
                        }
                      },
                      "description": "sharingSettings"
                    },
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "thumbnailUrl": {
                      "type": "string",
                      "description": "thumbnailUrl"
                    },
                    "timerSoundTheme": {
                      "type": "string",
                      "description": "timerSoundTheme"
                    },
                    "title": {
                      "type": "string",
                      "description": "title"
                    },
                    "updatedBy": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "description": "email"
                        },
                        "firstName": {
                          "type": "string",
                          "description": "firstName"
                        },
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "lastName": {
                          "type": "string",
                          "description": "lastName"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        }
                      },
                      "description": "updatedBy"
                    },
                    "updatedOn": {
                      "type": "integer",
                      "format": "int32",
                      "description": "updatedOn"
                    },
                    "visitorAvatarTheme": {
                      "type": "string",
                      "description": "visitorAvatarTheme"
                    },
                    "visitorsSettings": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string",
                          "description": "link"
                        },
                        "visitors": {
                          "type": "string",
                          "description": "visitors"
                        },
                        "workspaceMembers": {
                          "type": "string",
                          "description": "workspaceMembers"
                        }
                      },
                      "description": "visitorsSettings"
                    },
                    "width": {
                      "type": "integer",
                      "format": "int32",
                      "description": "width"
                    },
                    "workspaceId": {
                      "type": "string",
                      "description": "workspaceId"
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Create a Mural",
        "description": "This action for creating a new Mural",
        "operationId": "CreateNewMural",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "workspaceId": {
                  "type": "string",
                  "description": "Workspace",
                  "title": "Workspace",
                  "x-ms-dynamic-values": {
                    "operationId": "GetWorkspaceOperation",
                    "value-path": "id",
                    "value-collection": "value",
                    "value-title": "name"
                  }
                },
                "roomId": {
                  "type": "integer",
                  "description": "Room",
                  "title": "Room",
                  "format": "int64",
                  "x-ms-dynamic-values": {
                    "operationId": "GetRoomsOperation",
                    "value-path": "id",
                    "value-collection": "value",
                    "value-title": "name",
                    "parameters": {
                      "workspaceId": {
                        "parameter": "workspaceId"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetRoomsOperation",
                    "itemsPath": "value",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "workspaceId": {
                        "parameterReference": "body/workspaceId"
                      }
                    }
                  }
                },
                "title": {
                  "type": "string",
                  "description": "Title",
                  "title": "Title"
                }
              },
              "required": [
                "roomId",
                "workspaceId"
              ]
            }
          }
        ]
      }
    },
    "/api/public/v1/murals/{muralId}/widgets/sticky-note": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "object",
                  "properties": {
                    "contentEditedBy": {
                      "type": "object",
                      "properties": {
                        "firstName": {
                          "type": "string",
                          "description": "firstName"
                        },
                        "lastName": {
                          "type": "string",
                          "description": "lastName"
                        }
                      },
                      "description": "contentEditedBy"
                    },
                    "contentEditedOn": {
                      "type": "integer",
                      "format": "int32",
                      "description": "contentEditedOn"
                    },
                    "createdBy": {
                      "type": "object",
                      "properties": {
                        "firstName": {
                          "type": "string",
                          "description": "firstName"
                        },
                        "lastName": {
                          "type": "string",
                          "description": "lastName"
                        }
                      },
                      "description": "createdBy"
                    },
                    "createdOn": {
                      "type": "integer",
                      "format": "int32",
                      "description": "createdOn"
                    },
                    "height": {
                      "type": "integer",
                      "format": "int32",
                      "description": "height"
                    },
                    "hidden": {
                      "type": "boolean",
                      "description": "hidden"
                    },
                    "hideEditor": {
                      "type": "boolean",
                      "description": "hideEditor"
                    },
                    "hideOwner": {
                      "type": "boolean",
                      "description": "hideOwner"
                    },
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "instruction": {
                      "type": "string",
                      "description": "instruction"
                    },
                    "locked": {
                      "type": "boolean",
                      "description": "locked"
                    },
                    "lockedByFacilitator": {
                      "type": "boolean",
                      "description": "lockedByFacilitator"
                    },
                    "parentId": {
                      "type": "string",
                      "description": "parentId"
                    },
                    "presentationIndex": {
                      "type": "integer",
                      "format": "int32",
                      "description": "presentationIndex"
                    },
                    "rotation": {
                      "type": "integer",
                      "format": "int32",
                      "description": "rotation"
                    },
                    "stackingOrder": {
                      "type": "integer",
                      "format": "int32",
                      "description": "stackingOrder"
                    },
                    "title": {
                      "type": "string",
                      "description": "title"
                    },
                    "updatedBy": {
                      "type": "object",
                      "properties": {
                        "firstName": {
                          "type": "string",
                          "description": "firstName"
                        },
                        "lastName": {
                          "type": "string",
                          "description": "lastName"
                        }
                      },
                      "description": "updatedBy"
                    },
                    "updatedOn": {
                      "type": "integer",
                      "format": "int32",
                      "description": "updatedOn"
                    },
                    "width": {
                      "type": "integer",
                      "format": "int32",
                      "description": "width"
                    },
                    "x": {
                      "type": "integer",
                      "format": "int32",
                      "description": "x"
                    },
                    "y": {
                      "type": "integer",
                      "format": "int32",
                      "description": "y"
                    },
                    "minLines": {
                      "type": "integer",
                      "format": "int32",
                      "description": "minLines"
                    },
                    "shape": {
                      "type": "string",
                      "description": "shape"
                    },
                    "style": {
                      "type": "object",
                      "properties": {
                        "backgroundColor": {
                          "type": "string",
                          "description": "backgroundColor"
                        },
                        "bold": {
                          "type": "boolean",
                          "description": "bold"
                        },
                        "font": {
                          "type": "string",
                          "description": "font"
                        },
                        "fontSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "fontSize"
                        },
                        "italic": {
                          "type": "boolean",
                          "description": "italic"
                        },
                        "strike": {
                          "type": "boolean",
                          "description": "strike"
                        },
                        "textAlign": {
                          "type": "string",
                          "description": "textAlign"
                        },
                        "underline": {
                          "type": "boolean",
                          "description": "underline"
                        },
                        "border": {
                          "type": "boolean",
                          "description": "border"
                        }
                      },
                      "description": "style"
                    },
                    "text": {
                      "type": "string",
                      "description": "text"
                    },
                    "type": {
                      "type": "string",
                      "description": "type"
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Create a new Sticky-note",
        "description": "The action for creating a new Sticky-note",
        "operationId": "CreateNewStickyNote",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetWorkspaceOperation",
              "value-path": "id",
              "value-collection": "value",
              "value-title": "name"
            },
            "description": "Workspace",
            "x-ms-summary": "Workspace",
            "x-ms-visibility": "important"
          },
          {
            "name": "roomId",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetRoomsOperation",
              "value-path": "id",
              "value-collection": "value",
              "value-title": "name",
              "parameters": {
                "workspaceId": {
                  "parameter": "workspaceId"
                }
              }
            },
            "description": "Room",
            "x-ms-summary": "Room",
            "x-ms-visibility": "important"
          },
          {
            "name": "muralId",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "single",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetMurals",
              "value-path": "id",
              "value-collection": "value",
              "value-title": "title",
              "parameters": {
                "roomId": {
                  "parameter": "roomId"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "GetMurals",
              "itemsPath": "value",
              "itemValuePath": "id",
              "itemTitlePath": "title",
              "parameters": {
                "roomId": {
                  "parameterReference": "roomId"
                }
              }
            },
            "description": "Mural",
            "x-ms-summary": "Mural",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string",
                  "description": "Text",
                  "title": "Text"
                },
                "title": {
                  "type": "string",
                  "description": "Title",
                  "title": "Title"
                },
                "shape": {
                  "type": "string",
                  "description": "Shape",
                  "title": "Shape",
                  "default": "circle",
                  "enum": [
                    "rectangle",
                    "circle"
                  ]
                },
                "x": {
                  "type": "integer",
                  "format": "int32",
                  "description": "x",
                  "title": "X",
                  "default": 150,
                  "x-ms-visibility": "internal"
                },
                "y": {
                  "type": "integer",
                  "format": "int32",
                  "description": "y",
                  "title": "y",
                  "default": 250,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "shape",
                "x",
                "y"
              ]
            }
          }
        ]
      }
    },
    "/api/public/v1/workspaces/{workspaceId}/rooms": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "confidential": {
                        "type": "boolean",
                        "description": "confidential"
                      },
                      "createdBy": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "email"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "firstName"
                          },
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "lastName"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          }
                        },
                        "description": "createdBy"
                      },
                      "createdOn": {
                        "type": "integer",
                        "format": "int32",
                        "description": "createdOn"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "favorite": {
                        "type": "boolean",
                        "description": "favorite"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "updatedBy": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "email"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "firstName"
                          },
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "lastName"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          }
                        },
                        "description": "updatedBy"
                      },
                      "updatedOn": {
                        "type": "integer",
                        "format": "int32",
                        "description": "updatedOn"
                      },
                      "workspaceId": {
                        "type": "string",
                        "description": "workspaceId"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Get Rooms Operation",
        "description": "Get Rooms Operation",
        "operationId": "GetRoomsOperation",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "single",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetWorkspaceOperation",
              "value-path": "id",
              "value-collection": "value",
              "value-title": "name"
            },
            "x-ms-visibility": "internal",
            "description": "Get workspaces",
            "x-ms-summary": "Get workspaces",
            "default": "Null"
          }
        ]
      }
    },
    "/api/public/v1/workspaces": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "companyId": {
                        "type": "string",
                        "description": "companyId"
                      },
                      "createdBy": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "email"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "firstName"
                          },
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "lastName"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          }
                        },
                        "description": "createdBy"
                      },
                      "createdOn": {
                        "type": "integer",
                        "format": "int32",
                        "description": "createdOn"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "locked": {
                        "type": "boolean",
                        "description": "locked"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "sharingSettings": {
                        "type": "object",
                        "properties": {
                          "link": {
                            "type": "string",
                            "description": "link"
                          }
                        },
                        "description": "sharingSettings"
                      },
                      "suspended": {
                        "type": "boolean",
                        "description": "suspended"
                      },
                      "image": {
                        "type": "string",
                        "description": "image"
                      },
                      "trialExtended": {
                        "type": "boolean",
                        "description": "trialExtended"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Get Workspaces Operation",
        "description": "Get Workspace Operation",
        "operationId": "GetWorkspaceOperation",
        "x-ms-visibility": "internal",
        "parameters": []
      }
    },
    "/api/public/v1/rooms/{roomId}/murals": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "backgroundColor": {
                        "type": "string",
                        "description": "backgroundColor"
                      },
                      "createdBy": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "email"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "firstName"
                          },
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "lastName"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          }
                        },
                        "description": "createdBy"
                      },
                      "createdOn": {
                        "type": "integer",
                        "format": "int32",
                        "description": "createdOn"
                      },
                      "embedLink": {
                        "type": "string",
                        "description": "embedLink"
                      },
                      "favorite": {
                        "type": "boolean",
                        "description": "favorite"
                      },
                      "height": {
                        "type": "integer",
                        "format": "int32",
                        "description": "height"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "roomId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "roomId"
                      },
                      "sharingSettings": {
                        "type": "object",
                        "properties": {
                          "link": {
                            "type": "string",
                            "description": "link"
                          }
                        },
                        "description": "sharingSettings"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "thumbnailUrl": {
                        "type": "string",
                        "description": "thumbnailUrl"
                      },
                      "timerSoundTheme": {
                        "type": "string",
                        "description": "timerSoundTheme"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "updatedBy": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "email"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "firstName"
                          },
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "lastName"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          }
                        },
                        "description": "updatedBy"
                      },
                      "updatedOn": {
                        "type": "integer",
                        "format": "int32",
                        "description": "updatedOn"
                      },
                      "visitorAvatarTheme": {
                        "type": "string",
                        "description": "visitorAvatarTheme"
                      },
                      "visitorsSettings": {
                        "type": "object",
                        "properties": {
                          "link": {
                            "type": "string",
                            "description": "link"
                          },
                          "visitors": {
                            "type": "string",
                            "description": "visitors"
                          },
                          "workspaceMembers": {
                            "type": "string",
                            "description": "workspaceMembers"
                          }
                        },
                        "description": "visitorsSettings"
                      },
                      "width": {
                        "type": "integer",
                        "format": "int32",
                        "description": "width"
                      },
                      "workspaceId": {
                        "type": "string",
                        "description": "workspaceId"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Get Murals",
        "description": "Get Murals",
        "operationId": "GetMurals",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetRoomsOperation",
              "value-path": "id",
              "value-collection": "value",
              "value-title": "name",
              "parameters": {
                "workspaceId": {
                  "parameter": "workspaceId"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "GetRoomsOperation",
              "itemsPath": "value",
              "itemValuePath": "id",
              "itemTitlePath": "name",
              "parameters": {
                "workspaceId": {
                  "parameterReference": "workspaceId"
                }
              }
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Workspace",
            "x-ms-summary": "Workspace",
            "x-ms-dynamic-values": {
              "operationId": "GetWorkspaceOperation",
              "value-path": "id",
              "value-collection": "value",
              "value-title": "name"
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://app.mural.co/api/public/v1/authorization/oauth2/",
      "tokenUrl": "https://app.mural.co/api/public/v1/authorization/oauth2/token",
      "scopes": {
        "rooms:read users:read workspaces:read murals:read murals:write identity:read templates:read": "rooms:read users:read workspaces:read murals:read murals:write identity:read templates:read"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "rooms:read users:read workspaces:read murals:read murals:write identity:read templates:read"
      ]
    }
  ],
  "tags": []
}