{
  "swagger": "2.0",
  "info": {
    "title": "MURAL",
    "description": "Connect MURAL with your favorite apps, so you can automate your work and have more time for what matters most—no code required.",
    "version": "1.0",
    "contact": {
      "name": "MURAL Support",
      "url": "https://www.mural.co/support",
      "email": "support@mural.co"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.mural.co/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.mural.co/terms/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Collaboration;Productivity"
    }
  ],
  "host": "app.mural.co",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": [],
  "paths": {
    "/api/public/v1/murals": {
      "post": {
        "responses": {
          "201": {
            "description": "Mural successfully created.",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "object",
                  "properties": {
                    "backgroundColor": {
                      "type": "string",
                      "description": "Background Color",
                      "x-ms-visibility": "internal"
                    },
                    "createdBy": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "description": "email"
                        },
                        "firstName": {
                          "type": "string",
                          "description": "first name"
                        },
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "lastName": {
                          "type": "string",
                          "description": "last name"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        }
                      },
                      "description": "created by",
                      "x-ms-visibility": "internal"
                    },
                    "createdOn": {
                      "type": "integer",
                      "format": "int32",
                      "description": "created on",
                      "x-ms-visibility": "internal"
                    },
                    "embedLink": {
                      "type": "string",
                      "description": "The embed link for the new mural",
                      "x-ms-summary": "Embed Link"
                    },
                    "favorite": {
                      "type": "boolean",
                      "description": "favorite",
                      "x-ms-visibility": "internal"
                    },
                    "height": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The height of the new mural",
                      "x-ms-visibility": "internal"
                    },
                    "id": {
                      "type": "string",
                      "description": "The ID of the new mural",
                      "x-ms-summary": "ID"
                    },
                    "roomId": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The room where the new mural was created",
                      "x-ms-summary": "Room ID"
                    },
                    "sharingSettings": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string",
                          "description": "link"
                        }
                      },
                      "description": "Sharing Settings",
                      "x-ms-visibility": "internal"
                    },
                    "status": {
                      "type": "string",
                      "description": "status",
                      "x-ms-visibility": "internal"
                    },
                    "thumbnailUrl": {
                      "type": "string",
                      "description": "The thumbnail URL for the new mural",
                      "x-ms-summary": "Thumbnail URL"
                    },
                    "timerSoundTheme": {
                      "type": "string",
                      "description": "timer sound theme",
                      "x-ms-visibility": "internal"
                    },
                    "title": {
                      "type": "string",
                      "description": "The title of the new mural",
                      "x-ms-summary": "Title"
                    },
                    "updatedBy": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "description": "email"
                        },
                        "firstName": {
                          "type": "string",
                          "description": "first name"
                        },
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "lastName": {
                          "type": "string",
                          "description": "last name"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        }
                      },
                      "description": "updated by",
                      "x-ms-visibility": "internal"
                    },
                    "updatedOn": {
                      "type": "integer",
                      "format": "int32",
                      "description": "updated on",
                      "x-ms-visibility": "internal"
                    },
                    "visitorAvatarTheme": {
                      "type": "string",
                      "description": "visitor avatar theme",
                      "x-ms-visibility": "internal"
                    },
                    "visitorsSettings": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string",
                          "description": "link"
                        },
                        "visitors": {
                          "type": "string",
                          "description": "visitors"
                        },
                        "workspaceMembers": {
                          "type": "string",
                          "description": "workspace members"
                        }
                      },
                      "description": "visitors settings",
                      "x-ms-visibility": "internal"
                    },
                    "width": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The width of the new mural",
                      "x-ms-visibility": "internal"
                    },
                    "workspaceId": {
                      "type": "string",
                      "description": "The workspace where the new mural was created",
                      "x-ms-summary": "Workspace ID"
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Create a Mural",
        "description": "This action for creating a new Mural",
        "operationId": "CreateNewMural",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "workspaceId": {
                  "type": "string",
                  "description": "Workspace",
                  "title": "Workspace",
                  "x-ms-dynamic-values": {
                    "operationId": "GetWorkspaceOperation",
                    "value-path": "id",
                    "value-collection": "value",
                    "value-title": "name"
                  }
                },
                "roomId": {
                  "type": "integer",
                  "description": "Room",
                  "title": "Room",
                  "format": "int64",
                  "x-ms-dynamic-values": {
                    "operationId": "GetRoomsOperation",
                    "value-path": "id",
                    "value-collection": "value",
                    "value-title": "name",
                    "parameters": {
                      "workspaceId": {
                        "parameter": "workspaceId"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetRoomsOperation",
                    "itemsPath": "value",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "workspaceId": {
                        "parameterReference": "body/workspaceId"
                      }
                    }
                  }
                },
                "title": {
                  "type": "string",
                  "description": "Title",
                  "title": "Title"
                }
              },
              "required": ["roomId", "workspaceId"]
            }
          }
        ]
      }
    },
    "/api/public/v1/murals/{muralId}/widgets/sticky-note": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "object",
                  "properties": {
                    "contentEditedBy": {
                      "type": "object",
                      "properties": {
                        "firstName": {
                          "type": "string",
                          "description": "first name"
                        },
                        "lastName": {
                          "type": "string",
                          "description": "last name"
                        }
                      },
                      "description": "content edited by",
                      "x-ms-visibility": "internal"
                    },
                    "contentEditedOn": {
                      "type": "integer",
                      "format": "int32",
                      "description": "content edited on",
                      "x-ms-visibility": "internal"
                    },
                    "createdBy": {
                      "type": "object",
                      "properties": {
                        "firstName": {
                          "type": "string",
                          "description": "first name"
                        },
                        "lastName": {
                          "type": "string",
                          "description": "last name"
                        }
                      },
                      "description": "created by",
                      "x-ms-visibility": "internal"
                    },
                    "createdOn": {
                      "type": "integer",
                      "format": "int32",
                      "description": "created on",
                      "x-ms-visibility": "internal"
                    },
                    "height": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The height of the new sticky",
                      "x-ms-visibility": "internal"
                    },
                    "hidden": {
                      "type": "boolean",
                      "description": "hidden",
                      "x-ms-visibility": "internal"
                    },
                    "hideEditor": {
                      "type": "boolean",
                      "description": "hide editor",
                      "x-ms-visibility": "internal"
                    },
                    "hideOwner": {
                      "type": "boolean",
                      "description": "hide owner",
                      "x-ms-visibility": "internal"
                    },
                    "id": {
                      "type": "string",
                      "description": "The ID of the new sticky note",
                      "x-ms-summary": "ID"
                    },
                    "instruction": {
                      "type": "string",
                      "description": "instruction",
                      "x-ms-visibility": "internal"
                    },
                    "locked": {
                      "type": "boolean",
                      "description": "locked",
                      "x-ms-visibility": "internal"
                    },
                    "lockedByFacilitator": {
                      "type": "boolean",
                      "description": "locked by facilitator",
                      "x-ms-visibility": "internal"
                    },
                    "parentId": {
                      "type": "string",
                      "description": "parent id",
                      "x-ms-visibility": "internal"
                    },
                    "presentationIndex": {
                      "type": "integer",
                      "format": "int32",
                      "description": "presentation index",
                      "x-ms-visibility": "internal"
                    },
                    "rotation": {
                      "type": "integer",
                      "format": "int32",
                      "description": "rotation",
                      "x-ms-visibility": "internal"
                    },
                    "stackingOrder": {
                      "type": "integer",
                      "format": "int32",
                      "description": "stacking order",
                      "x-ms-visibility": "internal"
                    },
                    "title": {
                      "type": "string",
                      "description": "The title of the new sticky",
                      "x-ms-summary": "Title"
                    },
                    "updatedBy": {
                      "type": "object",
                      "properties": {
                        "firstName": {
                          "type": "string",
                          "description": "first name"
                        },
                        "lastName": {
                          "type": "string",
                          "description": "last name"
                        }
                      },
                      "description": "updated by",
                      "x-ms-visibility": "internal"
                    },
                    "updatedOn": {
                      "type": "integer",
                      "format": "int32",
                      "description": "updated on",
                      "x-ms-visibility": "internal"
                    },
                    "width": {
                      "type": "integer",
                      "format": "int32",
                      "description": "width",
                      "x-ms-visibility": "internal"
                    },
                    "x": {
                      "type": "integer",
                      "format": "int32",
                      "description": "x",
                      "x-ms-visibility": "internal"
                    },
                    "y": {
                      "type": "integer",
                      "format": "int32",
                      "description": "y",
                      "x-ms-visibility": "internal"
                    },
                    "minLines": {
                      "type": "integer",
                      "format": "int32",
                      "description": "min lines",
                      "x-ms-visibility": "internal"
                    },
                    "shape": {
                      "type": "string",
                      "description": "shape",
                      "x-ms-visibility": "internal"
                    },
                    "style": {
                      "type": "object",
                      "properties": {
                        "backgroundColor": {
                          "type": "string",
                          "description": "background color"
                        },
                        "bold": {
                          "type": "boolean",
                          "description": "bold"
                        },
                        "font": {
                          "type": "string",
                          "description": "font"
                        },
                        "fontSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "font size"
                        },
                        "italic": {
                          "type": "boolean",
                          "description": "italic"
                        },
                        "strike": {
                          "type": "boolean",
                          "description": "strike"
                        },
                        "textAlign": {
                          "type": "string",
                          "description": "text align"
                        },
                        "underline": {
                          "type": "boolean",
                          "description": "underline"
                        },
                        "border": {
                          "type": "boolean",
                          "description": "border"
                        }
                      },
                      "description": "style",
                      "x-ms-visibility": "internal"
                    },
                    "text": {
                      "type": "string",
                      "description": "The text displayed in the new sticky",
                      "x-ms-summary": "Text"
                    },
                    "type": {
                      "type": "string",
                      "description": "type",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Create a new Sticky-note",
        "description": "The action for creating a new Sticky-note",
        "operationId": "CreateNewStickyNote",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetWorkspaceOperation",
              "value-path": "id",
              "value-collection": "value",
              "value-title": "name"
            },
            "description": "Workspace",
            "x-ms-summary": "Workspace",
            "x-ms-visibility": "important"
          },
          {
            "name": "roomId",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetRoomsOperation",
              "value-path": "id",
              "value-collection": "value",
              "value-title": "name",
              "parameters": {
                "workspaceId": {
                  "parameter": "workspaceId"
                }
              }
            },
            "description": "Room",
            "x-ms-summary": "Room",
            "x-ms-visibility": "important"
          },
          {
            "name": "muralId",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "single",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetMurals",
              "value-path": "id",
              "value-collection": "value",
              "value-title": "title",
              "parameters": {
                "roomId": {
                  "parameter": "roomId"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "GetMurals",
              "itemsPath": "value",
              "itemValuePath": "id",
              "itemTitlePath": "title",
              "parameters": {
                "roomId": {
                  "parameterReference": "roomId"
                }
              }
            },
            "description": "Mural",
            "x-ms-summary": "Mural",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string",
                  "description": "Text",
                  "title": "Text"
                },
                "shape": {
                  "type": "string",
                  "description": "Shape",
                  "title": "Shape",
                  "default": "circle",
                  "enum": ["rectangle", "circle"]
                },
                "x": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The X coordinate for the sticky note.",
                  "title": "X",
                  "x-ms-visibility": "advanced"
                },
                "y": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The Y coordinate for the sticky note.",
                  "title": "Y",
                  "x-ms-visibility": "advanced"
                },
                "width": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The width of the sticky note.",
                  "title": "Width",
                  "default": 138
                },
                "height": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The height of the sticky note.",
                  "title": "Height",
                  "default": 138
                }
              },
              "required": ["shape"]
            }
          }
        ]
      }
    },
    "/api/public/v1/workspaces/{workspaceId}/rooms": {
      "get": {
        "responses": {
          "200": {
            "description": "Retrieved rooms successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "confidential": {
                        "type": "boolean",
                        "description": "confidential"
                      },
                      "createdBy": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "email"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "first name"
                          },
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "last name"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          }
                        },
                        "description": "created by"
                      },
                      "createdOn": {
                        "type": "integer",
                        "format": "int32",
                        "description": "created on"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "favorite": {
                        "type": "boolean",
                        "description": "favorite"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "updatedBy": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "email"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "first name"
                          },
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "last name"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          }
                        },
                        "description": "updated by"
                      },
                      "updatedOn": {
                        "type": "integer",
                        "format": "int32",
                        "description": "updated on"
                      },
                      "workspaceId": {
                        "type": "string",
                        "description": "workspace id"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Get Rooms Operation",
        "description": "Get Rooms Operation",
        "operationId": "GetRoomsOperation",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "single",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetWorkspaceOperation",
              "value-path": "id",
              "value-collection": "value",
              "value-title": "name"
            },
            "x-ms-visibility": "internal",
            "description": "Get workspaces",
            "x-ms-summary": "Get workspaces",
            "default": "Null"
          }
        ]
      }
    },
    "/api/public/v1/workspaces": {
      "get": {
        "responses": {
          "200": {
            "description": "Retrieved workspaces successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "companyId": {
                        "type": "string",
                        "description": "company id"
                      },
                      "createdBy": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "email"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "first name"
                          },
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "last name"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          }
                        },
                        "description": "created by"
                      },
                      "createdOn": {
                        "type": "integer",
                        "format": "int32",
                        "description": "created on"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "locked": {
                        "type": "boolean",
                        "description": "locked"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "sharingSettings": {
                        "type": "object",
                        "properties": {
                          "link": {
                            "type": "string",
                            "description": "link"
                          }
                        },
                        "description": "sharing settings"
                      },
                      "suspended": {
                        "type": "boolean",
                        "description": "suspended"
                      },
                      "image": {
                        "type": "string",
                        "description": "image"
                      },
                      "trialExtended": {
                        "type": "boolean",
                        "description": "trial extended"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Get Workspaces Operation",
        "description": "Get Workspace Operation",
        "operationId": "GetWorkspaceOperation",
        "x-ms-visibility": "internal",
        "parameters": []
      }
    },
    "/api/public/v1/rooms/{roomId}/murals": {
      "get": {
        "responses": {
          "200": {
            "description": "Retrieved murals from room successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "backgroundColor": {
                        "type": "string",
                        "description": "background color"
                      },
                      "createdBy": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "email"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "first name"
                          },
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "last name"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          }
                        },
                        "description": "created by"
                      },
                      "createdOn": {
                        "type": "integer",
                        "format": "int32",
                        "description": "created on"
                      },
                      "embedLink": {
                        "type": "string",
                        "description": "embed link"
                      },
                      "favorite": {
                        "type": "boolean",
                        "description": "favorite"
                      },
                      "height": {
                        "type": "integer",
                        "format": "int32",
                        "description": "height"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "roomId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "room id"
                      },
                      "sharingSettings": {
                        "type": "object",
                        "properties": {
                          "link": {
                            "type": "string",
                            "description": "link"
                          }
                        },
                        "description": "sharing settings"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "thumbnailUrl": {
                        "type": "string",
                        "description": "thumbnail url"
                      },
                      "timerSoundTheme": {
                        "type": "string",
                        "description": "timer sound theme"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "updatedBy": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "email"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "first name"
                          },
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "last name"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          }
                        },
                        "description": "updated by"
                      },
                      "updatedOn": {
                        "type": "integer",
                        "format": "int32",
                        "description": "updated on"
                      },
                      "visitorAvatarTheme": {
                        "type": "string",
                        "description": "visitor avatar theme"
                      },
                      "visitorsSettings": {
                        "type": "object",
                        "properties": {
                          "link": {
                            "type": "string",
                            "description": "link"
                          },
                          "visitors": {
                            "type": "string",
                            "description": "visitors"
                          },
                          "workspaceMembers": {
                            "type": "string",
                            "description": "workspace members"
                          }
                        },
                        "description": "visitors settings"
                      },
                      "width": {
                        "type": "integer",
                        "format": "int32",
                        "description": "width"
                      },
                      "workspaceId": {
                        "type": "string",
                        "description": "workspace id"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Get Murals",
        "description": "Get Murals",
        "operationId": "GetMurals",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetRoomsOperation",
              "value-path": "id",
              "value-collection": "value",
              "value-title": "name",
              "parameters": {
                "workspaceId": {
                  "parameter": "workspaceId"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "GetRoomsOperation",
              "itemsPath": "value",
              "itemValuePath": "id",
              "itemTitlePath": "name",
              "parameters": {
                "workspaceId": {
                  "parameterReference": "workspaceId"
                }
              }
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Workspace",
            "x-ms-summary": "Workspace",
            "x-ms-dynamic-values": {
              "operationId": "GetWorkspaceOperation",
              "value-path": "id",
              "value-collection": "value",
              "value-title": "name"
            }
          }
        ]
      }
    },
    "/api/public/v1/templates": {
      "get": {
        "responses": {
          "200": {
            "description": "Retrieved templates successfully.",
            "schema": {
              "$ref": "#/definitions/TemplatesResponse"
            }
          }
        },
        "summary": "GetDefaultTemplates",
        "description": "Get list of default templates",
        "operationId": "GetDefaultTemplates",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "next",
            "in": "query",
            "type": "string"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/api/public/v1/templates/{templateId}/murals": {
      "post": {
        "responses": {
          "201": {
            "description": "Created Mural from a template successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "object",
                  "properties": {
                    "backgroundColor": {
                      "type": "string",
                      "description": "Background Color",
                      "x-ms-visibility": "internal"
                    },
                    "createdBy": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "description": "email"
                        },
                        "firstName": {
                          "type": "string",
                          "description": "first name"
                        },
                        "id": {
                          "type": "string",
                          "description": "createdBy ID"
                        },
                        "lastName": {
                          "type": "string",
                          "description": "last name"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        }
                      },
                      "description": "created by",
                      "x-ms-visibility": "internal"
                    },
                    "createdOn": {
                      "type": "integer",
                      "format": "int32",
                      "description": "created on",
                      "x-ms-visibility": "internal"
                    },
                    "embedLink": {
                      "type": "string",
                      "description": "The embed link of the new mural",
                      "x-ms-summary": "Embed Link"
                    },
                    "favorite": {
                      "type": "boolean",
                      "description": "favorite",
                      "x-ms-visibility": "internal"
                    },
                    "height": {
                      "type": "number",
                      "format": "float",
                      "description": "height",
                      "x-ms-visibility": "internal"
                    },
                    "id": {
                      "type": "string",
                      "description": "The ID of the new mural",
                      "x-ms-summary": "ID"
                    },
                    "roomId": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The room where the mural was created.",
                      "x-ms-summary": "Room ID"
                    },
                    "sharingSettings": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string",
                          "description": "link"
                        }
                      },
                      "description": "Sharing Settings",
                      "x-ms-visibility": "internal"
                    },
                    "status": {
                      "type": "string",
                      "description": "status",
                      "x-ms-visibility": "internal"
                    },
                    "thumbnailUrl": {
                      "type": "string",
                      "description": "The thumbnail URL for the new mural",
                      "x-ms-summary": "Thumbnail URL"
                    },
                    "timerSoundTheme": {
                      "type": "string",
                      "description": "timer sound theme",
                      "x-ms-visibility": "internal"
                    },
                    "title": {
                      "type": "string",
                      "description": "The title of the new mural",
                      "x-ms-summary": "Title"
                    },
                    "updatedBy": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "description": "email"
                        },
                        "firstName": {
                          "type": "string",
                          "description": "first name"
                        },
                        "id": {
                          "type": "string",
                          "description": "updatedBy ID"
                        },
                        "lastName": {
                          "type": "string",
                          "description": "last name"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        }
                      },
                      "description": "updated by",
                      "x-ms-visibility": "internal"
                    },
                    "updatedOn": {
                      "type": "integer",
                      "format": "int32",
                      "description": "updated on",
                      "x-ms-visibility": "internal"
                    },
                    "visitorAvatarTheme": {
                      "type": "string",
                      "description": "visitor avatar theme",
                      "x-ms-visibility": "internal"
                    },
                    "visitorsSettings": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string",
                          "description": "link"
                        },
                        "visitors": {
                          "type": "string",
                          "description": "visitors"
                        },
                        "workspaceMembers": {
                          "type": "string",
                          "description": "workspace members"
                        }
                      },
                      "description": "visitors settings",
                      "x-ms-visibility": "internal"
                    },
                    "width": {
                      "type": "number",
                      "format": "float",
                      "description": "width",
                      "x-ms-visibility": "internal"
                    },
                    "workspaceId": {
                      "type": "string",
                      "description": "The workspace where the new mural was created",
                      "x-ms-summary": "Workspace ID"
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Create a Mural from a template",
        "description": "This action for creating a new Mural using a public template",
        "operationId": "CreateNewMuralFromTemplate",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Template",
            "x-ms-summary": "Template",
            "x-ms-dynamic-values": {
              "operationId": "GetDefaultTemplates",
              "value-path": "id",
              "value-collection": "value",
              "value-title": "name"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetDefaultTemplates",
              "itemsPath": "value",
              "itemValuePath": "id",
              "itemTitlePath": "name"
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "type": "string",
            "description": "Workspace",
            "x-ms-summary": "Workspace",
            "x-ms-dynamic-values": {
              "operationId": "GetWorkspaceOperation",
              "value-path": "id",
              "value-collection": "value",
              "value-title": "name"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetWorkspaceOperation",
              "itemsPath": "value",
              "itemValuePath": "id",
              "itemTitlePath": "name"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "roomId": {
                  "type": "integer",
                  "description": "Room",
                  "title": "Room",
                  "format": "int64",
                  "x-ms-dynamic-values": {
                    "operationId": "GetRoomsOperation",
                    "value-path": "id",
                    "value-collection": "value",
                    "value-title": "name",
                    "parameters": {
                      "workspaceId": {
                        "parameter": "workspaceId"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetRoomsOperation",
                    "itemsPath": "value",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "workspaceId": {
                        "parameterReference": "workspaceId"
                      }
                    }
                  }
                },
                "title": {
                  "type": "string",
                  "description": "Title",
                  "title": "Title"
                }
              },
              "required": ["roomId"]
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "TemplatesResponse": {
      "type": "object",
      "properties": {
        "next": {
          "type": "string",
          "description": "The token used to retrieve the next page of templates"
        },
        "value": {
          "type": "array",
          "description": "The array of templates",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://app.mural.co/api/public/v1/authorization/oauth2/",
      "tokenUrl": "https://app.mural.co/api/public/v1/authorization/oauth2/token",
      "scopes": {
        "rooms:read users:read workspaces:read murals:read murals:write identity:read templates:read": "rooms:read users:read workspaces:read murals:read murals:write identity:read templates:read"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "rooms:read users:read workspaces:read murals:read murals:write identity:read templates:read"
      ]
    }
  ],
  "tags": []
}
