{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "title": "Aranda Service Management",
    "description": "Boost your company's productivity and transform your users' experience with Aranda Service Management Suite, the multi-tenant solution that allows you to manage, integrate, and automate business processes and services.",
    "version": "2.0",
    "contact": {
      "name": "Aranda Software",
      "url": "https://arandasoft.com/",
      "email": "soporte@arandasoft.com"
    }
  },
  "host": "automate.arandasoft.com",
  "basePath": "/asmsadapter/api/asms",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/attachment/file": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }         
        },
        "summary": "Add Attachment",
        "description": "Attach a file to a specific case record in ASMS.",
        "consumes": [
          "multipart/form-data",
          "application/json"
        ],
        "operationId": "AttachFile",
        "parameters": [
          {
            "$ref": "#/parameters/ticketIdHeader"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "file": {
                  "type": "string",
                  "format": "byte",
                  "description": "Byte file",
                  "title": "File",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "File"
                },
                "fileName": {
                  "type": "string",
                  "description": "File name (e.g 'Vacation_Approval_Form.docx')",
                  "title": "File Name",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "File Name"
                }
              },
              "required": [
                "file",
                "fileName"
              ]
            }
          }
        ]
      }
    },
    "/case/{ticketId}/note": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            
            "schema": {
            }
          }
        },
        "summary": "Add note",
        "description": "Add a note to a specific case record in ASMS.",
        "consumes": [
          "application/json"
        ],
        "operationId": "AttachNote",
        "parameters": [
          {
            "$ref": "#/parameters/ticketIdPath"
          },
          {
            "name": "message",
            "in": "query",
            "required": true,
            "maxLength": 254,
            "minLength": 1,
            "type": "string",
            "x-ms-summary": "Note",
            "description": "Note to be attached to the record."
          }

        ]
      }
    },
    "/case/list": {
      "post": {
        "responses": {
          "200": {
            "description": "Case list",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Case ID",
                    "description": "System ID for the record"
                  },
                  "idByProject": {
                    "description": "Case code for the record",
                    "title": "Case Code",
                    "type": "string"
                  },
                  "subject": {
                    "type": "string",
                    "title": "Subject",
                    "description": "Case subject"
                  },
                  "description": {
                    "type": "string",
                    "title": "Description",
                    "description": "Detailed description of the case"
                  },
                  "projectId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Project ID",
                    "description": "Project ID"
                  },
                  "projectName": {
                    "type": "string",
                    "title": "Project",
                    "description": "Project name"
                  },
                  "itemTypeName": {
                    "type": "string",
                    "title": "Case Type",
                    "description": "Case type name"
                  },
                  "itemTypeId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Case Type ID",
                    "description": "Case Type ID"
                  },
                  "serviceId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Service ID",
                    "description": "Service ID"
                  },
                  "serviceName": {
                    "type": "string",
                    "title": "Service",
                    "description": "Service name"
                  },
                  "modelId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Model ID",
                    "description": "Model ID"
                  },
                  "modelName": {
                    "type": "string",
                    "title": "Model",
                    "description": "Model name"
                  },
                  "categoryId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Category ID",
                    "description": "Category ID"
                  },
                  "categoryName": {
                    "type": "string",
                    "description": "Category name",
                    "title": "Category"
                  },
                  "applicantId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Applicant ID",
                    "title": "Applicant ID"
                  },
                  "ciId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "CI ID",
                    "description": "Configuration item ID"
                  },
                  "ciName": {
                    "type": "string",
                    "title": "CI",
                    "description": "Main configuration item name"
                  },
                  "customerId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Client ID",
                    "description": "Client ID"
                  },
                  "customerName": {
                    "type": "string",
                    "title": "Client",
                    "description": "Client name"
                  },
                  "companyId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Company ID",
                    "description": "Company ID"
                  },
                  "companyName": {
                    "type": "string",
                    "title": "Company",
                    "description": "Company name"
                  },
                  "slaId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "SLA ID",
                    "description": "SLA ID"
                  },
                  "slaName": {
                    "type": "string",
                    "title": "SLA",
                    "description": "SLA name"
                  },
                  "stateId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Status ID",
                    "description": "Status ID"
                  },
                  "stateName": {
                    "type": "string",
                    "title": "Status",
                    "description": "Status name"
                  },
                  "reasonId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Reason ID",
                    "description": "Reason ID"
                  },
                  "reasonName": {
                    "type": "string",
                    "title": "Reason",
                    "description": "Reason name"
                  },
                  "groupId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Group ID",
                    "description": "Group ID"
                  },
                  "groupName": {
                    "type": "string",
                    "title": "Group",
                    "description": "Group name"
                  },
                  "responsibleId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Responsible ID",
                    "description": "Responsible ID"
                  },
                  "responsibleName": {
                    "type": "string",
                    "title": "Responsible",
                    "description": "Responsible name"
                  },
                  "impactId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Impact ID",
                    "description": "Impact ID"
                  },
                  "impactName": {
                    "type": "string",
                    "title": "Impact",
                    "description": "Impact name"
                  },
                  "openedDate": {
                    "type": "string",
                    "title": "Registry Date",
                    "description": "Registry Date"
                  },
                  "authorId": {
                    "title": "Author ID",
                    "type": "integer",
                    "format": "int32",
                    "description": "Author ID"
                  },
                  "authorName": {
                    "type": "string",
                    "title": "Author",
                    "description": "Author name"
                  }
                }
              }
            }
          }        
        },
        "summary": "Search cases",
        "description": "Retrieves a list of ASMS case records depending on the search criteria added in the query.",
        "consumes": [
          "application/json"
        ],
        "operationId": "SearchTickets",
        "parameters": [
          {
            "name": "requestBody",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "logicOperator": {
                  "type": "string",
                  "description": "Specifies the relation between search criteria.",
                  "title": "Relation between filters",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Specifies the relation between search criteria.",
                  "enum": [
                    "And",
                    "Or"
                  ]
                },
                "filters": {
                  "type": "array",
                  "minItems": 1,
                  "title": "Filters",
                  "description": "Specifies the fields that will be used as search criteria.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "field": {
                        "type": "string",
                        "description": "Case field to filter (e.g 'stateName')",
                        "title": "Field to filter",
                        "enum": [
                          "Commentary",
                          "Description",
                          "Subject",
                          "ApplicantName",
                          "AuthorName",
                          "CategoryName",
                          "CiName",
                          "CompanyName",
                          "CustomerName",
                          "GroupName",
                          "ImpactName",
                          "ItemTypeName",
                          "ModelName",
                          "ModifierName",
                          "OlaName",
                          "PriorityName",
                          "ProjectName",
                          "ProviderName",
                          "ReasonName",
                          "RegistryTypeName",
                          "ResponsibleName",
                          "ServiceName",
                          "SlaName",
                          "StateName",
                          "UcName",
                          "UnitName",
                          "UrgencyName",
                          "ApplicantId",
                          "AuthorId",
                          "CategoryId",
                          "CiId",
                          "CompanyId",
                          "ConsoleType",
                          "CustomerId",
                          "GroupId",
                          "ImpactId",
                          "InterfaceId",
                          "ModelId",
                          "ModifierId",
                          "OlaId",
                          "PriorityId",
                          "ProjectId",
                          "ProviderId",
                          "ReasonId",
                          "RegistryTypeId",
                          "ResponsibleId",
                          "ServiceId",
                          "SlaId",
                          "StateId",
                          "UcId",
                          "UnitId",
                          "UrgencyId",
                          "OpenedDate"
                        ]
                      },
                      "operator": {
                        "description": "Search operator",
                        "title": "Search operator",
                        "type": "string",
                        "enum": [
                          "EqualTo",
                          "NotEqualTo",
                          "GreaterThan",
                          "GreaterThanOrEqualTo",
                          "LessThan",
                          "LessThanOrEqualTo",
                          "Like"
                        ]
                      },
                      "value": {
                        "title": "Value to find",
                        "description": "Field value to find",
                        "type": "string"
                      }
                    },
                    "required": [
                      "field",
                      "operator",
                      "value"
                    ]
                  },
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "logicOperator"
              ]
            }
          }
        ]
      }
    },
    "/case": {
      "post": {
        "responses": {
          "200": {
            "description": "Successful creation",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Case ID",
                  "description": "Case ID"
                },
                "idByProject": {
                  "description": "Case code for the record",
                  "title": "Case Code",
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Create case",
        "description": "Create a new case record in ASMS.",
        "consumes": [
          "application/json"
        ],
        "operationId": "CreateCase",
        "parameters": [
          {
            "name": "requestBody",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "itemType": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Case Type ID",
                  "title": "Case Type ID",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Case Type ID"
                  
                },
                "projectId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Project ID",
                  "title": "Project ID",
                  "x-ms-visibility": "important",
                  
                  "x-ms-summary": "Project ID"
                },
                "serviceId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Service ID",
                  "title": "Service ID",
                  "x-ms-visibility": "important",
                  
                  "x-ms-summary": "Service ID"
                },
                "categoryId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Category ID",
                  "title": "Category ID",
                  "x-ms-visibility": "important",
                  
                  "x-ms-summary": "Category ID"
                },
                "subject": {
                  "type": "string",
                  "description": "Subject",
                  "title": "Subject",
                  
                  "x-ms-visibility": "important"
                },
                "description": {
                  "type": "string",
                  "description": "Detailed description of the case",
                  "title": "Description",
                  
                  "x-ms-visibility": "important"
                },
                "stateId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status ID",
                  "title": "Status ID",
                  
                  "x-ms-visibility": "advanced"
                },
                "reasonId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Reason ID",
                  "title": "Reason ID",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced"
                },
                "groupId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Group ID",
                  "title": "Group ID",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced"
                },
                "responsibleId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Responsible ID",
                  "title": "Responsible ID",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced"
                },
                "applicantId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Applicant ID",
                  "title": "Applicant ID",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced"
                },
                "customerId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Client",
                  "title": "Client",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced"
                },
                "companyId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Company ID",
                  "title": "Company ID",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced"
                },
                "registryTypeId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Registry type ID",
                  "title": "Registry type ID",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced"
                },
                "ciId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CI ID",
                  "title": "CI ID",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced"
                },
                "urgencyId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Urgency ID",
                  "title": "Urgency ID",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced"
                },
                "impactId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Impact ID",
                  "title": "Impact ID",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced"
                },
                "providerId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Provider ID",
                  "title": "Provider ID",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced"
                },
                "unitId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Organizational Area ID",
                  "title": "Organizational Area ID",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced"
                },
                "additionalFields": {
                  "type": "array",
                  "title": "Additional Fields",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fieldId": {
                        "type": "string",
                        
                        "description": "Field ID"
                      },
                      "values": {
                        "description": "Value",
                        "type": "array",
                        "items": {
                          "description": "Value",
                          
                          "type": "string"
                        }
                      }
                    }
                  },
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "itemType",
                "projectId",
                "serviceId",
                "categoryId",
                "subject"
              ]
            }
          }
        ]
      }
    },
    "/case/{ticketId}": {
      "get": {
        "responses": {
          "200": {
            "description": "Case information",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Case ID",
                  
                  "description": "System ID for the record"
                },
                "idByProject": {
                  "description": "Case code for the record",
                  "title": "Case Code",
                  
                  "type": "string"
                },
                "subject": {
                  "type": "string",
                  "title": "Subject",
                  
                  "description": "Subject"
                },
                "description": {
                  "type": "string",
                  "title": "Description",
                  
                  "description": "Detailed description of the case"
                },
                "commentary": {
                  "type": "string",
                  "title": "Solution",
                  
                  "description": "Case solution"
                },
                "projectId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Project ID",
                  
                  "description": "Project ID"
                },
                "projectName": {
                  "type": "string",
                  "title": "Project",
                  
                  "description": "Project name"
                },
                "itemTypeName": {
                  "type": "string",
                  "title": "Case Type",
                  
                  "description": "Case Type name"
                },
                "itemTypeId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Case Type ID",
                  
                  "description": "Case Type ID"
                },
                "serviceId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Service ID",
                  
                  "description": "Service ID"
                },
                "serviceName": {
                  "type": "string",
                  "title": "Service",
                  
                  "description": "Service name"
                },
                "modelId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Model ID",
                  
                  "description": "Model ID"
                },
                "modelName": {
                  "type": "string",
                  "title": "Model",
                  
                  "description": "Model name"
                },
                "categoryId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Category ID",
                  
                  "description": "Category ID"
                },
                "categoryName": {
                  "type": "string",
                  "description": "Category",
                  
                  "title": "Category name"
                },
                "applicantId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Applicant ID",
                  
                  "title": "Applicant ID"
                },
                "customerId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Client ID",
                  
                  "description": "Client ID"
                },
                "customerName": {
                  "type": "string",
                  "title": "Client",
                  
                  "description": "Client name"
                },
                "companyId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Company ID",
                  
                  "description": "Company ID"
                },
                "companyName": {
                  "type": "string",
                  "title": "Company",
                  
                  "description": "Company name"
                },
                "ciId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "CI ID",
                  
                  "description": "CI ID"
                },
                "ciName": {
                  "type": "string",
                  "title": "CI",
                  
                  "description": "CI name"
                },
                "slaId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "SLA ID",
                  
                  "description": "SLA ID"
                },
                "slaName": {
                  "type": "string",
                  "title": "SLA",
                  
                  "description": "SLA name"
                },
                "stateId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Status ID",
                  
                  "description": "Status ID"
                },
                "stateName": {
                  "type": "string",
                  "title": "Status",
                  
                  "description": "Status name"
                },
                "reasonId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Reason ID",
                  
                  "description": "Reason ID"
                },
                "reasonName": {
                  "type": "string",
                  "title": "Reason",
                  
                  "description": "Reason name"
                },
                "groupId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Group ID",
                  
                  "description": "Group ID"
                },
                "groupName": {
                  "type": "string",
                  "title": "Group",
                  
                  "description": "Group name"
                },
                "responsibleId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Responsible ID",
                  
                  "description": "Responsible ID"
                },
                "responsibleName": {
                  "type": "string",
                  "title": "Responsible",
                  
                  "description": "Responsible name"
                },
                "registryTypeId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Registry type ID",
                  
                  "description": "Registry type ID"
                },
                "registryTypeName": {
                  "type": "string",
                  "title": "Registry type",
                  
                  "description": "Registry type name"
                },
                "impactId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Impact ID",
                  
                  "description": "Impact ID"
                },
                "impactName": {
                  "type": "string",
                  "title": "Impact",
                  
                  "description": "Impact name"
                },
                "urgencyId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Urgency ID",
                  
                  "description": "Urgency ID"
                },
                "urgencyName": {
                  "type": "string",
                  
                  "title": "Urgency",
                  "description": "Urgency name"
                },
                "priorityId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Priority ID",
                  
                  "description": "Priority ID"
                },
                "priorityName": {
                  "type": "string",
                  "title": "Priority",
                  
                  "description": "Priority name"
                },
                "riskId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Risk ID",
                  
                  "description": "Risk ID"
                },
                "riskName": {
                  "type": "string",
                  "title": "Risk",
                  
                  "description": "Risk name"
                },
                "providerId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Provider ID",
                  
                  "description": "Provider ID"
                },
                "providerName": {
                  "type": "string",
                  "title": "Provider",
                  
                  "description": "Provider name"
                },
                "ucId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "UC ID",
                  
                  "description": "UC ID"
                },
                "ucName": {
                  "type": "string",
                  "title": "UC",
                  
                  "description": "UC name"
                },
                "unitId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Organizational Area ID",
                  
                  "description": "Organizational Area ID"
                },
                "unitName": {
                  "type": "string",
                  "title": "Organizational Area",
                  
                  "description": "Organizational area name"
                },
                "olaId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "OLA ID",
                  
                  "description": "OLA ID"
                },
                "olaName": {
                  "type": "string",
                  "title": "OLA",
                  
                  "description": "OLA name"
                },
                "openedDate": {
                  "type": "string",
                  "title": "Registry date",
                  
                  "description": "Registry date"
                },
                "closedDate": {
                  "type": "string",
                  "title": "Closed date",
                  
                  "description": "Closed date"
                },
                "finalDate": {
                  "type": "string",
                  "title": "Final date",
                  
                  "description": "Final date (only for Task records)"
                },
                "initialDate": {
                  "type": "string",
                  "title": "Initial date",
                  
                  "description": "Initial date (only for Task records)"
                },
                "cost": {
                  "type": "number",
                  "title": "Costs",
                  
                  "description": "Costs"
                },
                "realCost": {
                  "type": "number",
                  "title": "Real cost",
                  
                  "description": "Real cost"
                },
                "estimatedCost": {
                  "type": "number",
                  "title": "Estimated cost",
                  
                  "description": "Estimated cost"
                },
                "price": {
                  "type": "number",
                  "title": "Price",
                  
                  "description": "Price"
                },
                "interfaceId": {
                  "type": "string",
                  "title": "Interface ID",
                  
                  "description": "Interface ID"
                },
                "isClosed": {
                  "type": "boolean",
                  "title": "Closed",
                  
                  "description": "Closed"
                },
                "currentProgress": {
                  "type": "number",
                  "title": "Progress",
                  
                  "description": "Progress"
                },
                "realDate": {
                  "type": "string",
                  "title": "Real date",
                  
                  "description": "Real date"
                },
                "estimatedDate": {
                  "type": "string",
                  "title": "Estimated Date",
                  
                  "description": "Estimated Date"
                },
                "authorId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Author ID",
                  
                  "description": "Author ID"
                },
                "authorName": {
                  "type": "string",
                  "title": "Author",                 
                  "description": "Author name"
                },
                "additionalFields": {
                  "type": "array",
                  "description": "Additional Fields",
                  "title": "Additional Fields",
                  "items": {
                    "type": "object",
                    "description": "Additional Field",
                    "title": "Additional Field",
                    "properties": {
                      "fieldId": {
                        "title": "Field Id",
                        "type": "integer",
                        "format": "int32",                       
                        "description": "Field Id"
                      },
                      "nameField": {
                        "type": "string",
                        "title": "Name field",                     
                        "description": "Name field"
                      },
                      "valueDetails":{
                        "type": "object",
                        "title": "Values Details",
                        "description": "Description of values ​​for list or catalog type fields",
                        "x-nullable":true,
                        "properties": {
                          "id": {
                            "title": "Value Id",
                            "type": "integer",
                            "format": "int32",
                            "x-nullable":true,                      
                            "description": "Value Id"
                          },
                          "value":{
                            "type": "string",
                            "title": "Field value",                     
                            "description": "Field value"
                          }
                        }
                      },
                      "values": {
                        "type": "array",
                        "title": "Values",
                        "items": {
                          "type": "string"
                        },
                        "description": "Additional field values"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Get case",
        "description": "Gets a record of the metadata of an ASMS case.",
        "operationId": "GetCase",
        "parameters": [
          {
            "$ref": "#/parameters/ticketIdPath"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "boolean",
                  "description": "Result"
                }
              }
            }
          }
        },
        "summary": "Update Case",
        "description": "Updates a record for a ASMS case.",
        "consumes": [
          "application/json"
        ],
        "operationId": "UpdateCase",
        "parameters": [
          {
            "$ref": "#/parameters/ticketIdPath"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "serviceId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Service ID",
                  "title": "Service ID",
                  "x-nullable": true,
                  "x-ms-visibility": "important"
                },
                "categoryId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Category ID",
                  "title": "Category ID",
                  "x-nullable": true,
                  "x-ms-visibility": "important"
                },
                "subject": {
                  "type": "string",
                  "description": "Subject",
                  "title": "Subject",
                  "x-nullable": true,
                  "x-ms-visibility": "important"
                },
                "description": {
                  "type": "string",
                  "description": "Detailed description of the case",
                  "title": "Description",
                  "x-nullable": true,
                  "x-ms-visibility": "important"
                },
                "commentary": {
                  "type": "string",
                  "description": "Case solution",
                  "title": "Solution",
                  "x-nullable": true,
                  "x-ms-visibility": "important"
                },
                "stateId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status ID",
                  "title": "Status ID",
                  "x-nullable": true,
                  "x-ms-visibility": "important"
                },
                "reasonId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Reason ID",
                  "title": "Reason ID",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced"
                },
                "groupId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Group ID",
                  "title": "Group ID",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced"
                },
                "responsibleId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Responsible ID",
                  "title": "Responsible ID",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced"
                },
                "applicantId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Applicant ID",
                  "title": "Applicant ID",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced"
                },
                "customerId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Client ID",
                  "title": "Client ID",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced"
                },
                "companyId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Company ID",
                  "title": "Company ID",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced"
                },
                "registryTypeId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Registry type ID",
                  "title": "Registry type ID",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced"
                },
                "ciId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CI ID",
                  "x-nullable": true,
                  "title": "CI ID"
                },
                "urgencyId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Urgency ID",
                  "title": "Urgency ID",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced"
                },
                "impactId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Impact ID",
                  "title": "Impact ID",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced"
                },
                "providerId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Provider ID",
                  "title": "Provider ID",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced"
                },
                "unitId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Organizational Area ID",
                  "title": "Organizational Area ID",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced"
                },
                "additionalFields": {
                  "type": "array",
                  "title": "Additional Fields",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fieldId": {
                        "type": "string",
                        "title": "Field Id",
                        "x-nullable": false,
                        "description": "Field Id"
                      },
                      "values": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "description": "Value"
                        },
                        "title": "Values",
                        "x-nullable": false,
                        "description": "Values"
                      }
                    }
                  },
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        ]
      }
    },
    "/connection": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
            }
          }
        },
        "summary": "itemType",
        "description": "Validate the connection with ASMS",
        "operationId": "TestConnection",
        "x-ms-visibility": "internal",
        "parameters": []
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://arandasoft.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://arandasoft.com/politica-de-privacidad/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Collaboration"
    }
  ],
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "TestConnection"
    }
  },
  "definitions": {
  },
  "parameters": {
    "ticketIdPath": {
      "name": "ticketId",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-url-encoding": "single",
      "x-ms-visibility": "important",
      "x-ms-summary": "Case code",
      "description": "Code of the record for which metadata will be attached."
    },
    "ticketIdHeader": {
      "name": "ticketId",
      "in": "header",
      "required": true,
      "type": "string",
      "x-ms-url-encoding": "single",
      "x-ms-visibility": "important",
      "x-ms-summary": "Case code",
      "description": "Code of the record for which metadata will be attached."
    }
  },
  "responses": {},
  "security": [
    {
      "Clave de API": []
    }
  ],
  "securityDefinitions": {
    "Clave de API": {
      "type": "apiKey",
      "in": "header",
      "name": "TokenAsms"
    }
  },
  "tags": []
}