{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "2.0.1",
    "title": "Aranda Service Management",
    "description": "Boost your company's productivity and transform your users' experience with Aranda Service Management Suite, the multi-tenant solution that allows you to manage, integrate, and automate business processes and services.",
    "version": "2.0",
    "contact": {
      "name": "Aranda Software",
      "url": "https://arandasoft.com/",
      "email": "soporte@arandasoft.com"
    }
  },
  "host": "automate.arandasoft.com",
  "basePath": "/asmsadapter/api",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/cmdb/ci": {
      "post": {
        "responses": {
          "200": {
            "description": "Successful creation.",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Configuration item identifier",
                  "description": "Configuration item identifier."
                }
              }
            }
          }
        },
        "operationId": "CreateCI",
        "consumes": [
          "application/json"
        ],
        "summary": "Create configuration item",
        "description": "Create CIs in the Aranda CMDB.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "description": "Name",
                  "title": "Name"
                },
                "description": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "title": "Description",
                  "description": "Detailed description of the CI."
                },
                "serial": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "title": "Serial",
                  "description": "Serial."
                },
                "assetTag": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "title": "Asset tag",
                  "description": "Asset tag."
                },
                "projectId": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 1,
                  "x-ms-visibility": "important",
                  "title": "Project",
                  "description": "Select a project or enter manually a project identifier.",
                  "x-ms-dynamic-values": {
                    "operationId": "GetProject",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "categoryId": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 1,
                  "title": "Category",
                  "description": "Select a category or enter manually a category identifier.",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCatalog",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "catalog": "category"
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetCatalog",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "catalog": {
                        "value": "category"
                      }
                    }
                  }
                },
                "responsibleId": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 1,
                  "x-nullable": true,
                  "x-ms-visibility": "important",
                  "title": "Responsible ID",
                  "description": "Responsible identifier."
                },
                "licenseNumber": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "title": "License number",
                  "description": "License number."
                },
                "manufacturerId": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 1,
                  "x-nullable": true,
                  "x-ms-visibility": "important",
                  "title": "Manufacturer",
                  "description": "Select a manufacturer or enter manually a manufacturer identifier.",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCmdbProperties",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "cmdbProperty": "manufacturer",
                      "projectId": {
                        "parameter": "projectId"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetCmdbProperties",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "projectId": {
                        "parameterReference": "body/projectId"
                      },
                      "cmdbProperty": {
                        "value": "manufacturer"
                      }
                    }
                  }
                },
                "brandId": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 1,
                  "x-nullable": true,
                  "x-ms-visibility": "important",
                  "title": "Brand",
                  "description": "Select a brand or enter manually a brand identifier.",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCatalog",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "catalog": "brand"
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetCatalog",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "catalog": {
                        "value": "brand"
                      }
                    }
                  }
                },
                "modelId": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 1,
                  "x-nullable": true,
                  "x-ms-visibility": "important",
                  "title": "Model",
                  "description": "Select a model or enter manually a model identifier.",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCatalog",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "catalog": "model"
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetCatalog",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "catalog": {
                        "value": "model"
                      }
                    }
                  }
                },
                "providerId": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 1,
                  "x-nullable": true,
                  "x-ms-visibility": "important",
                  "title": "Provider ID",
                  "description": "Select a provider or enter manually a provider identifier.",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCmdbProperties",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "cmdbProperty": "provider",
                      "projectId": {
                        "parameter": "projectId"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetCmdbProperties",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "projectId": {
                        "parameterReference": "body/projectId"
                      },
                      "cmdbProperty": {
                        "value": "provider"
                      }
                    }
                  }
                },
                "reasonId": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 1,
                  "x-nullable": true,
                  "x-ms-visibility": "advanced",
                  "title": "Reason ID",
                  "description": "Reason identifier."
                },
                "price": {
                  "type": "number",

                  "minimum": 1,
                  "x-nullable": true,
                  "x-ms-visibility": "advanced",
                  "title": "Price",
                  "description": "Price."
                },
                "rfid": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "title": "RFID",
                  "description": "RFID"
                },
                "acceptDate": {
                  "type": "string",
                  "format": "date-time",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced",
                  "title": "Acceptance date",
                  "description": "Acceptance date."
                },
                "checkInDate": {
                  "type": "string",
                  "format": "date-time",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced",
                  "title": "Date of delivery to the company",
                  "description": "Date of delivery to the company."
                },
                "responsibilityDate": {
                  "type": "string",
                  "format": "date-time",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced",
                  "title": "Initial date of responsibility",
                  "description": "Initial date of responsibility."
                },
                "barCode": {
                  "type": "string",
                  "title": "Bar code",
                  "x-ms-visibility": "advanced",
                  "description": "Bar code."
                },
                "unitSize": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "title": "Measure unit value",
                  "description": "Measure unit value."
                },
                "unitId": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 1,
                  "x-nullable": true,
                  "x-ms-visibility": "advanced",
                  "title": "Measure unit",
                  "description": "Select a measure unit or enter manually a measure unit identifier.",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCatalog",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "catalog": "measureUnit"
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetCatalog",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "catalog": {
                        "value": "measureUnit"
                      }
                    }
                  }
                },
                "costCenterId": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 1,
                  "x-nullable": true,
                  "x-ms-visibility": "advanced",
                  "title": "Cost center",
                  "description": "Select a cost center or enter manually a cost center identifier.",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCmdbProperties",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "cmdbProperty": "costCenter",
                      "projectId": {
                        "parameter": "projectId"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetCmdbProperties",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "projectId": {
                        "parameterReference": "body/projectId"
                      },
                      "cmdbProperty": {
                        "value": "costCenter"
                      }
                    }
                  }
                },
                "impactId": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 1,
                  "x-nullable": true,
                  "x-ms-visibility": "advanced",
                  "title": "Impact",
                  "description": "Select a impact or enter manually a impact identifier.",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCatalog",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "catalog": "impact"
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetCatalog",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "catalog": {
                        "value": "impact"
                      }
                    }
                  }

                },
                "riskId": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 1,
                  "x-ms-visibility": "advanced",
                  "x-nullable": true,
                  "title": "Risk",
                  "description": "Select a risk or enter manually a risk identifier.",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCatalog",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "catalog": "risk"
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetCatalog",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "catalog": {
                        "value": "risk"
                      }
                    }
                  }
                },
                "locationId": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 1,
                  "x-ms-visibility": "advanced",
                  "title": "Location",
                  "description": "Select a location or enter manually a location identifier.",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCmdbProperties",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "cmdbProperty": "location",
                      "projectId": {
                        "parameter": "projectId"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetCmdbProperties",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "projectId": {
                        "parameterReference": "body/projectId"
                      },
                      "cmdbProperty": {
                        "value": "location"
                      }
                    }
                  }
                },
                "additionalFields": {
                  "type": "array",
                  "title": "Additional fields",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fieldId": {
                        "type": "string",
                        "description": "Field identifier."
                      },
                      "values": {
                        "description": "Value",
                        "type": "array",
                        "items": {
                          "description": "Value",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "projectId",
                "categoryId",
                "name",
                "responsibleId"
              ]
            }
          }
        ]
      }
    },
    "/cmdb/ci/list": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "acceptDate": {
                    "type": "string",
                    "format": "date-time",
                    "x-nullable": true,
                    "title": "Acceptance date",
                    "description": "Acceptance date"
                  },
                  "assetTag": {
                    "type": "string",
                    "title": "Asset tag",
                    "description": "Asset tag"
                  },
                  "responsibleName": {
                    "type": "string",
                    "title": "Responsible name",
                    "description": "Responsible name"
                  },
                  "category": {
                    "type": "object",
                    "title": "Category",
                    "description": "Category",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "title": "ID",
                        "description": "Category identifier"
                      },
                      "name": {
                        "type": "string",
                        "title": "name",
                        "description": "Category name"
                      }
                    }
                  },
                  "checkinDate": {
                    "type": "string",
                    "format": "date-time",
                    "x-nullable": true,
                    "title": "Date of delivery to the company",
                    "description": "Date of delivery to the company."
                  },
                  "createdDate": {
                    "type": "string",
                    "format": "date-time",
                    "x-nullable": true,
                    "title": "Created date",
                    "description": "Created date"
                  },
                  "description": {
                    "type": "string",
                    "title": "Description",
                    "description": "Detailed description of the CI."
                  },
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "title": "CI ID",
                    "description": "System identifier for the record."
                  },
                  "impact": {
                    "type": "object",
                    "title": "Impact",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Impact identifier",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Impact name",
                        "title": "name"
                      }
                    },
                    "description": "Impact"
                  },
                  "modifiedDate": {
                    "type": "string",
                    "format": "date-time",
                    "x-nullable": true,
                    "title": "Modified date",
                    "description": "Modified date"
                  },
                  "name": {
                    "type": "string",
                    "title": "CI Name",
                    "description": "Configuration item name."
                  },
                  "responsibilityDate": {
                    "type": "string",
                    "format": "date-time",
                    "x-nullable": true,
                    "title": "Initial date of responsibility",
                    "description": "Initial date of responsibility."
                  },
                  "serial": {
                    "type": "string",
                    "description": "Serial",
                    "title": "Serial"
                  },
                  "state": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "title": "ID",
                        "description": "State identifier."
                      },
                      "name": {
                        "type": "string",
                        "title": "name",
                        "description": "State name."
                      }
                    },
                    "description": "State",
                    "title": "State"
                  },
                  "type": {
                    "type": "string",
                    "description": "Configuration item type.",
                    "title": "CI type"
                  }
                }
              }
            }
          }
        },
        "summary": "Search configuration items",
        "description": "Retrieves a list of CMDB CIs records depending on the search criteria added in the query.",
        "consumes": [
          "application/json"
        ],
        "operationId": "SearchCIs",
        "parameters": [
          {
            "name": "requestBody",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "logicOperator": {
                  "type": "string",
                  "description": "Specifies the relation between search criteria.",
                  "title": "Relation between filters",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Specifies the relation between search criteria.",
                  "enum": [
                    "And",
                    "Or"
                  ]
                },
                "filters": {
                  "type": "array",
                  "minItems": 1,
                  "title": "Filters",
                  "description": "Specifies the fields that will be used as search criteria.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "field": {
                        "type": "string",
                        "description": "CI field to filter (e.g 'stateName')",
                        "title": "Field to filter",
                        "enum": [
                          "CheckinDate",
                          "CreatedDate",
                          "ModifiedDate",
                          "AcceptDate",
                          "ReponsibleDate",

                          "BrandId",
                          "CategoryId",
                          "CostCenterId",
                          "ImpactId",
                          "LocationId",
                          "ManufacturerId",
                          "ProjectId",
                          "ProviderId",
                          "ModelId",
                          "ReasonId",
                          "ResponsibleId",
                          "RiskId",
                          "StateId",
                          "UnitId",

                          "AssetTag",
                          "BarCode",
                          "Description",
                          "LicenseNumber",
                          "Name",
                          "Price",
                          "Rfid",
                          "RiskName",
                          "Serial",
                          "UnitName",
                          "UnitSize"
                        ]
                      },
                      "operator": {
                        "description": "Search operator.",
                        "title": "Search operator",
                        "type": "string",
                        "enum": [
                          "EqualTo",
                          "NotEqualTo",
                          "GreaterThan",
                          "GreaterThanOrEqualTo",
                          "LessThan",
                          "LessThanOrEqualTo",
                          "Like"
                        ]
                      },
                      "value": {
                        "title": "Value to find",
                        "description": "Field value to find.",
                        "type": "string"
                      }
                    },
                    "required": [
                      "field",
                      "operator",
                      "value"
                    ]
                  },
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "logicOperator"
              ]
            }
          }
        ]
      }
    },
    "/cmdb/ci/{request}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "type": "object",
              "properties": {
                "additionalFields": {
                  "type": "array",
                  "description": "Additional field.",
                  "title": "Additional field",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fieldId": {
                        "title": "ID",
                        "type": "integer",
                        "format": "int32",
                        "description": "field identifier"
                      },
                      "nameField": {
                        "type": "string",
                        "title": "name",
                        "description": "field name"
                      },
                      "values": {
                        "type": "array",
                        "title": "values",
                        "items": {
                          "type": "string"
                        },
                        "description": "Additional field values"
                      },
                      "valueDetails": {
                        "type": "object",
                        "x-ms-summary": "details",
                        "description": "Specification for list or catalog type fields.",
                        "x-nullable": true,
                        "properties": {
                          "id": {
                            "title": ": ID",
                            "type": "integer",
                            "format": "int32",
                            "x-nullable": true,
                            "description": "Specification for list or catalog type fields: identifier"
                          },
                          "value": {
                            "type": "string",
                            "title": ": Value",
                            "description": "Specification for list or catalog type fields: Value"
                          }
                        }
                      }
                    }
                  }
                },
                "assetTag": {
                  "type": "string",
                  "title": "Asset tag",
                  "description": "Asset tag."
                },
                "barCode": {
                  "type": "string",
                  "title": "Bar code",
                  "description": "Bar code."
                },
                "brand": {
                  "type": "object",
                  "title": "Brand",
                  "description": "Brand.",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "title": "ID",
                      "description": "Brand identifier."
                    },
                    "name": {
                      "type": "string",
                      "title": "name",
                      "description": "Brand name."
                    }
                  }
                },
                "category": {
                  "type": "object",
                  "title": "Category",
                  "description": "Category.",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "title": "ID",
                      "description": "Category identifier."
                    },
                    "name": {
                      "type": "string",
                      "title": "name",
                      "description": "Category name."
                    }
                  }
                },
                "costCenter": {
                  "type": "object",
                  "title": "Cost center",
                  "description": "Cost center.",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "title": "ID",
                      "description": "Cost center identifier."
                    },
                    "name": {
                      "type": "string",
                      "title": "name",
                      "description": "Cost center name."
                    }
                  }
                },
                "acceptDate": {
                  "type": "string",
                  "format": "date-time",
                  "x-nullable": true,
                  "title": "Acceptance date",
                  "description": "Acceptance date."
                },
                "checkinDate": {
                  "type": "string",
                  "format": "date-time",
                  "x-nullable": true,
                  "title": "Date of delivery to the company",
                  "description": "Date of delivery to the company."
                },
                "responsibilityDate": {
                  "type": "string",
                  "format": "date-time",
                  "x-nullable": true,
                  "title": "Initial date of responsibility",
                  "description": "Initial date of responsibility."
                },
                "createdDate": {
                  "type": "string",
                  "format": "date-time",
                  "x-nullable": true,
                  "title": "Created date",
                  "description": "Created date."
                },
                "modifiedDate": {
                  "type": "string",
                  "format": "date-time",
                  "x-nullable": true,
                  "title": "Modified date",
                  "description": "Modified date."
                },

                "description": {
                  "type": "string",
                  "title": "Description",
                  "description": "Detailed description of the CI."
                },
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "title": "CI ID",
                  "description": "System identifier for the record."
                },
                "impact": {
                  "type": "object",
                  "title": "Impact",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Impact identifier.",
                      "title": "ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "Impact name.",
                      "title": "name"
                    }
                  },
                  "description": "Impact"
                },
                "licenseNumber": {
                  "type": "string",
                  "description": "License number.",
                  "title": "License number"
                },
                "manufacturer": {
                  "type": "object",
                  "title": "Manufacturer",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "title": "ID",
                      "description": "Manufacturer identifier."
                    },
                    "name": {
                      "type": "string",
                      "title": "name",
                      "description": "Manufacturer name."
                    }
                  },
                  "description": "Manufacturer"
                },
                "model": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "title": "ID",
                      "description": "Model identifier."
                    },
                    "name": {
                      "type": "string",
                      "title": "name",
                      "description": "Model name."
                    }
                  },
                  "title": "Model",
                  "description": "Model."
                },
                "name": {
                  "type": "string",
                  "title": "CI Name",
                  "description": "Configuration item name."
                },
                "projects": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "title": "ID",
                        "description": "identifier."
                      }
                    }
                  },
                  "description": "Projects.",
                  "title": "Projects"
                },
                "provider": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "title": "ID",
                      "description": "Manufacturer identifier."
                    },
                    "name": {
                      "type": "string",
                      "title": "name",
                      "description": "Manufacturer name."
                    }
                  },
                  "description": "Provider",
                  "title": "Provider"
                },
                "reason": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "title": "ID",
                      "description": "Reason identifier."
                    },
                    "name": {
                      "type": "string",
                      "title": "name",
                      "description": "Reason name"
                    }
                  },
                  "description": "Reason",
                  "title": "Reason"
                },
                "responsible": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "title": "ID",
                      "description": "Responsible identifier."
                    },
                    "name": {
                      "type": "string",
                      "title": "name",
                      "description": "Responsible name."
                    }
                  },
                  "description": "Responsible",
                  "title": "Responsible"
                },
                "risk": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "title": "ID",
                      "description": "Risk identifier."
                    },
                    "name": {
                      "type": "string",
                      "title": "name",
                      "description": "Risk name."
                    }
                  },
                  "description": "Risk",
                  "title": "Risk"
                },
                "rfid": {
                  "type": "string",
                  "description": "RFID",
                  "title": "RFID"
                },
                "serial": {
                  "type": "string",
                  "description": "Serial",
                  "title": "Serial"
                },
                "state": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "title": "ID",
                      "description": "State identifier."
                    },
                    "name": {
                      "type": "string",
                      "title": "name",
                      "description": "State name."
                    }
                  },
                  "description": "State",
                  "title": "State"
                },
                "tempItemId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Temp item identifier.",
                  "title": "Temp item identifier"
                },
                "type": {
                  "type": "string",
                  "description": "Configuration item type.",
                  "title": "CI type"
                },
                "unit": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "title": "ID",
                      "description": "Unit identifier."
                    },
                    "name": {
                      "type": "string",
                      "title": "name",
                      "description": "Unit name."
                    }
                  },
                  "description": "Measure unit.",
                  "title": "Measure unit"
                },
                "unitSize": {
                  "type": "string",
                  "description": "Measure unit value.",
                  "title": "Measure unit value"
                },
                "usefulLife": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Useful life.",
                  "title": "Useful life"
                },
                "version": {
                  "type": "integer",
                  "format": "int32",
                  "description": "version",
                  "title": "Version"
                }
              }
            }
          }
        },
        "summary": "Get configuration item",
        "operationId": "GetCI",
        "description": "Get CI by name and serial.",
        "parameters": [
          {
            "name": "request",
            "x-ms-summary": "Name or Serial CI",
            "description": "Enter the name or serial of the configuration item.",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "Successful creation",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Configuration item identifier",
                  "description": "Configuration item identifier."
                }
              }
            }
          }
        },
        "operationId": "UpdateCI",
        "consumes": [
          "application/json"
        ],
        "summary": "Update configuration item",
        "description": "Update CIs in the Aranda CMDB.",
        "parameters": [
          {
            "name": "request",
            "x-ms-summary": "Name or Serial CI",
            "description": "Enter the name or serial of the configuration item.",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "title": "Description",
                  "description": "Detailed description of the CI."
                },
                "serial": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "title": "Serial",
                  "description": "Serial"
                },
                "assetTag": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "title": "Asset tag",
                  "description": "Asset tag."
                },
                "categoryId": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "title": "Category",
                  "description": "Select a category or enter manually a category identifier.",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCatalog",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "catalog": "category"
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetCatalog",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "catalog": {
                        "value": "category"
                      }
                    }
                  }
                },
                "responsibleId": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "x-nullable": true,
                  "x-ms-visibility": "important",
                  "title": "Responsible ID",
                  "description": "Responsible identifier."
                },
                "stateId": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "x-nullable": true,
                  "x-ms-visibility": "important",
                  "title": "Status ID",
                  "description": "Status identifier."
                },
                "licenseNumber": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "title": "License number",
                  "description": "License number."
                },
                "manufacturerId": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "x-nullable": true,
                  "x-ms-visibility": "important",
                  "title": "Manufacturer ID",
                  "description": "Manufacturer identifier."
                },
                "brandId": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "x-nullable": true,
                  "x-ms-visibility": "important",
                  "title": "Brand",
                  "description": "Select a brand or enter manually a brand identifier.",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCatalog",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "catalog": "brand"
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetCatalog",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "catalog": {
                        "value": "brand"
                      }
                    }
                  }
                },
                "modelId": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "x-nullable": true,
                  "x-ms-visibility": "important",
                  "title": "Model",
                  "description": "Select a model or enter manually a model identifier.",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCatalog",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "catalog": "model"
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetCatalog",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "catalog": {
                        "value": "model"
                      }
                    }
                  }
                },
                "providerId": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "x-nullable": true,
                  "x-ms-visibility": "important",
                  "title": "Provider ID",
                  "description": "Provider identifier."

                },
                "reasonId": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "x-nullable": true,
                  "x-ms-visibility": "advanced",
                  "title": "Reason ID",
                  "description": "Reason identifier."
                },
                "price": {
                  "type": "number",

                  "minimum": 0,
                  "x-nullable": true,
                  "x-ms-visibility": "advanced",
                  "title": "Price",
                  "description": "Price."
                },
                "rfid": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "title": "RFID",
                  "description": "RFID"
                },
                "acceptDate": {
                  "type": "string",
                  "format": "date-time",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced",
                  "title": "Acceptance date",
                  "description": "Acceptance date."
                },
                "checkInDate": {
                  "type": "string",
                  "format": "date-time",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced",
                  "title": "Date of delivery to the company",
                  "description": "Date of delivery to the company."
                },
                "responsibilityDate": {
                  "type": "string",
                  "format": "date-time",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced",
                  "title": "Initial date of responsibility",
                  "description": "Initial date of responsibility."
                },
                "barCode": {
                  "type": "string",
                  "title": "Bar code",
                  "x-ms-visibility": "advanced",
                  "description": "Bar code."
                },
                "unitSize": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "title": "Measure unit value",
                  "description": "Measure unit value."
                },
                "unitId": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "x-nullable": true,
                  "x-ms-visibility": "advanced",
                  "title": "Measure unit",
                  "description": "Select a measure unit or enter manually a measure unit identifier.",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCatalog",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "catalog": "measureUnit"
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetCatalog",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "catalog": {
                        "value": "measureUnit"
                      }
                    }
                  }
                },
                "costCenterId": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "x-nullable": true,
                  "x-ms-visibility": "advanced",
                  "title": "Cost center ID",
                  "description": "Cost center identifier."

                },
                "impactId": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 1,
                  "x-nullable": true,
                  "x-ms-visibility": "advanced",
                  "title": "Impact",
                  "description": "Select a impact or enter manually a impact identifier.",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCatalog",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "catalog": "impact"
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetCatalog",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "catalog": {
                        "value": "impact"
                      }
                    }
                  }

                },
                "riskId": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "x-ms-visibility": "advanced",
                  "x-nullable": true,
                  "title": "Risk",
                  "description": "Select a risk or enter manually a risk identifier.",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCatalog",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "catalog": "risk"
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetCatalog",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "catalog": {
                        "value": "risk"
                      }
                    }
                  }
                },
                "locationId": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "x-ms-visibility": "advanced",
                  "title": "Location ID",
                  "description": "Location identifier."

                },
                "additionalFields": {
                  "type": "array",
                  "title": "Additional fields",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fieldId": {
                        "type": "string",
                        "description": "Field identifier"
                      },
                      "values": {
                        "description": "Value",
                        "type": "array",
                        "items": {
                          "description": "Value",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        ]
      }
    },
    "/asms/case": {
      "post": {
        "responses": {
          "200": {
            "description": "Successful creation.",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Case ID",
                  "description": "Case identifier"
                },
                "idByProject": {
                  "description": "Id by project for the record",
                  "title": "Id by project",
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Create case",
        "description": "Create a new case record in ASMS.",
        "consumes": [
          "application/json"
        ],
        "operationId": "CreateCase",
        "parameters": [
          {
            "name": "requestBody",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "subject": {
                  "type": "string",
                  "description": "Subject.",
                  "title": "Subject",
                  "x-ms-visibility": "important"
                },
                "description": {
                  "type": "string",
                  "description": "Detailed description of the case.",
                  "title": "Description",
                  "x-ms-visibility": "important"
                },
                "itemType": {
                  "type": "string",
                  "description": "Select a case type or enter manually a case type name.",
                  "title": "Case Type",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Case Type",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCaseType",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "projectId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Select a project or enter manually a project identifier.",
                  "title": "Project",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Project",
                  "x-ms-dynamic-values": {
                    "operationId": "GetProject",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "serviceId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Select a service or enter manually a service identifier.",
                  "title": "Service",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Service",
                  "x-ms-dynamic-values": {
                    "operationId": "GetService",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "itemType": {
                        "parameter": "itemType"
                      },
                      "projectId": {
                        "parameter": "projectId"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetService",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "projectId": {
                        "parameterReference": "requestBody/projectId"
                      },
                      "itemType": {
                        "parameterReference": "requestBody/itemType"
                      }
                    }
                  }
                },
                "categoryId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Select a category or enter manually a category identifier.",
                  "title": "Category",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Category",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCategory",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "itemType": {
                        "parameter": "itemType"
                      },
                      "serviceId": {
                        "parameter": "serviceId"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetCategory",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "serviceId": {
                        "parameterReference": "requestBody/serviceId"
                      },
                      "itemType": {
                        "parameterReference": "requestBody/itemType"
                      }
                    }
                  }
                },
                "reasonId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Select a reason or enter manually a reason identifier.",
                  "title": "Reason",
                  "x-ms-summary": "Reason",
                  "x-nullable": true,
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetReason",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "property": "reasons",
                      "itemType": {
                        "parameter": "itemType"
                      },
                      "serviceId": {
                        "parameter": "serviceId"
                      },
                      "categoryId": {
                        "parameter": "categoryId"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetReason",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "itemType": {
                        "parameterReference": "requestBody/itemType"
                      },
                      "serviceId": {
                        "parameterReference": "requestBody/serviceId"
                      },
                      "categoryId": {
                        "parameterReference": "requestBody/categoryId"
                      },
                      "property": {
                        "value": "reasons"
                      }
                    }
                  }
                },
                "groupId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Select a group or enter manually a group identifier.",
                  "title": "Group",
                  "x-ms-summary": "Group",
                  "x-nullable": true,
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetReason",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "property": "groups",
                      "itemType": {
                        "parameter": "itemType"
                      },
                      "serviceId": {
                        "parameter": "serviceId"
                      },
                      "categoryId": {
                        "parameter": "categoryId"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetReason",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "property": {
                        "value": "groups"
                      },
                      "itemType": {
                        "parameterReference": "requestBody/itemType"
                      },
                      "serviceId": {
                        "parameterReference": "requestBody/serviceId"
                      },
                      "categoryId": {
                        "parameterReference": "requestBody/categoryId"
                      }
                    }
                  }
                },
                "responsibleId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Select a responsible or enter manually a responsible identifier.",
                  "title": "Responsible",
                  "x-nullable": true,
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetResponsible",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "groupId": {
                        "parameter": "groupId"
                      },
                      "projectId": {
                        "parameter": "projectId"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetResponsible",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "groupId": {
                        "parameterReference": "requestBody/groupId"
                      },
                      "projectId": {
                        "parameterReference": "requestBody/projectId"
                      }
                    }
                  }
                },
                "companyId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Select a company or enter manually a company identifier.",
                  "title": "Company",
                  "x-ms-summary": "Company",
                  "x-nullable": true,
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCompanies",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "itemType": {
                        "parameter": "itemType"
                      },
                      "projectId": {
                        "parameter": "projectId"
                      },
                      "serviceId": {
                        "parameter": "serviceId"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetCompanies",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "itemType": {
                        "parameterReference": "requestBody/itemType"
                      },
                      "projectId": {
                        "parameterReference": "requestBody/projectId"
                      },
                      "serviceId": {
                        "parameterReference": "requestBody/serviceId"
                      }
                    }
                  }
                },
                "providerId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Select a provider or enter manually a provider identifier.",
                  "title": "Provider",
                  "x-nullable": true,
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetOrganizationalArea",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "property": "provider",
                      "projectId": {
                        "parameter": "projectId"
                      },
                      "serviceId": {
                        "parameter": "serviceId"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetOrganizationalArea",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "projectId": {
                        "parameterReference": "requestBody/projectId"
                      },
                      "serviceId": {
                        "parameterReference": "requestBody/serviceId"
                      },
                      "property": {
                        "value": "provider"
                      }
                    }
                  }
                },
                "unitId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Select a organizational area or enter manually a organizational area identifier.",
                  "title": "Organizational area",
                  "x-nullable": true,
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetOrganizationalArea",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "property": "units",
                      "projectId": {
                        "parameter": "projectId"
                      },
                      "serviceId": {
                        "parameter": "serviceId"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetOrganizationalArea",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "projectId": {
                        "parameterReference": "requestBody/projectId"
                      },
                      "serviceId": {
                        "parameterReference": "requestBody/serviceId"
                      },
                      "property": {
                        "value": "units"
                      }
                    }
                  }
                },
                "applicantId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Applicant identifier.",
                  "title": "Applicant ID",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced"
                },
                "customerId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Client identifier.",
                  "title": "Client ID",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced"
                },
                "ciId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CI identifier.",
                  "title": "CI identifier",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced"
                },
                "registryTypeId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Select a registry type or enter manually a registry type identifier.",
                  "title": "Registry type",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCatalog",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "catalog": "registryType"
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetCatalog",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "catalog": {
                        "value": "registryType"
                      }
                    }
                  }
                },
                "urgencyId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Select a urgency or enter manually a urgency identifier.",
                  "title": "Urgency",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCatalog",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "catalog": "urgency"
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetCatalog",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "catalog": {
                        "value": "urgency"
                      }
                    }
                  }
                },
                "impactId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Select a impact or enter manually a impact identifier.",
                  "title": "Impact",
                  "x-nullable": true,
                  "x-ms-visibility": "advanced",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCatalog",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "catalog": "impact"
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetCatalog",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "catalog": {
                        "value": "impact"
                      }
                    }
                  }
                },
                "additionalFields": {
                  "type": "array",
                  "title": "Additional fields",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fieldId": {
                        "type": "string",
                        "title": "ID",
                        "description": "Field identifier."
                      },
                      "values": {
                        "description": "Value.",
                        "type": "array",
                        "items": {
                          "title": "value",
                          "description": "Value",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "itemType",
                "projectId",
                "serviceId",
                "categoryId",
                "subject"
              ]
            }
          }
        ]
      }
    },
    "/asms/case/list": {
      "post": {
        "responses": {
          "200": {
            "description": "Case list.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Case ID",
                    "description": "System identifier for the record."
                  },
                  "idByProject": {
                    "description": "Id by project for the record.",
                    "title": "Id by project",
                    "type": "string"
                  },
                  "subject": {
                    "type": "string",
                    "title": "Subject",
                    "description": "Case subject."
                  },
                  "description": {
                    "type": "string",
                    "title": "Description",
                    "description": "Detailed description of the case."
                  },
                  "projectId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Project ID",
                    "description": "Project identifier."
                  },
                  "projectName": {
                    "type": "string",
                    "title": "Project",
                    "description": "Project name."
                  },
                  "itemTypeName": {
                    "type": "string",
                    "title": "Case Type",
                    "description": "Case type name."
                  },
                  "itemTypeId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Case type ID",
                    "description": "Case type identifier."
                  },
                  "serviceId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Service ID",
                    "description": "Service identifier."
                  },
                  "serviceName": {
                    "type": "string",
                    "title": "Service",
                    "description": "Service name."
                  },
                  "modelId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Model ID",
                    "description": "Model identifier."
                  },
                  "modelName": {
                    "type": "string",
                    "title": "Model",
                    "description": "Model name."
                  },
                  "categoryId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Category ID",
                    "description": "Category identifier."
                  },
                  "categoryName": {
                    "type": "string",
                    "description": "Category name.",
                    "title": "Category"
                  },
                  "applicantId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Applicant identifier.",
                    "title": "Applicant ID"
                  },
                  "ciId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "CI ID",
                    "description": "Configuration item identifier."
                  },
                  "ciName": {
                    "type": "string",
                    "title": "CI",
                    "description": "Main configuration item name."
                  },
                  "customerId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Client ID",
                    "description": "Client identifier."
                  },
                  "customerName": {
                    "type": "string",
                    "title": "Client",
                    "description": "Client name."
                  },
                  "companyId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Company ID",
                    "description": "Company identifier."
                  },
                  "companyName": {
                    "type": "string",
                    "title": "Company",
                    "description": "Company name."
                  },
                  "slaId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "SLA ID",
                    "description": "SLA identifier."
                  },
                  "slaName": {
                    "type": "string",
                    "title": "SLA",
                    "description": "SLA name."
                  },
                  "stateId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Status ID",
                    "description": "Status identifier."
                  },
                  "stateName": {
                    "type": "string",
                    "title": "Status",
                    "description": "Status name."
                  },
                  "reasonId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Reason ID",
                    "description": "Reason identifier."
                  },
                  "reasonName": {
                    "type": "string",
                    "title": "Reason",
                    "description": "Reason name."
                  },
                  "groupId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Group ID",
                    "description": "Group identifier."
                  },
                  "groupName": {
                    "type": "string",
                    "title": "Group",
                    "description": "Group name."
                  },
                  "responsibleId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Responsible ID",
                    "description": "Responsible identifier."
                  },
                  "responsibleName": {
                    "type": "string",
                    "title": "Responsible",
                    "description": "Responsible name."
                  },
                  "impactId": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Impact ID",
                    "description": "Impact identifier."
                  },
                  "impactName": {
                    "type": "string",
                    "title": "Impact",
                    "description": "Impact name."
                  },
                  "openedDate": {
                    "type": "string",
                    "title": "Registry Date",
                    "description": "Registry Date."
                  },
                  "authorId": {
                    "title": "Author ID",
                    "type": "integer",
                    "format": "int32",
                    "description": "Author identifier."
                  },
                  "authorName": {
                    "type": "string",
                    "title": "Author",
                    "description": "Author name."
                  }
                }
              }
            }
          }
        },
        "summary": "Search cases",
        "description": "Retrieves a list of ASMS case records depending on the search criteria added in the query.",
        "consumes": [
          "application/json"
        ],
        "operationId": "SearchTickets",
        "parameters": [
          {
            "name": "requestBody",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "logicOperator": {
                  "type": "string",
                  "description": "Specifies the relation between search criteria.",
                  "title": "Relation between filters",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Specifies the relation between search criteria.",
                  "enum": [
                    "And",
                    "Or"
                  ]
                },
                "filters": {
                  "type": "array",
                  "minItems": 1,
                  "title": "Filters",
                  "description": "Specifies the fields that will be used as search criteria.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "field": {
                        "type": "string",
                        "description": "Case field to filter (e.g 'stateName').",
                        "title": "Field to filter",
                        "enum": [
                          "Commentary",
                          "Description",
                          "Subject",
                          "ApplicantName",
                          "AuthorName",
                          "CategoryName",
                          "CiName",
                          "CompanyName",
                          "CustomerName",
                          "GroupName",
                          "ImpactName",
                          "ItemTypeName",
                          "ModelName",
                          "ModifierName",
                          "OlaName",
                          "PriorityName",
                          "ProjectName",
                          "ProviderName",
                          "ReasonName",
                          "RegistryTypeName",
                          "ResponsibleName",
                          "ServiceName",
                          "SlaName",
                          "StateName",
                          "UcName",
                          "UnitName",
                          "UrgencyName",
                          "ApplicantId",
                          "AuthorId",
                          "CategoryId",
                          "CiId",
                          "CompanyId",
                          "ConsoleType",
                          "CustomerId",
                          "GroupId",
                          "ImpactId",
                          "InterfaceId",
                          "ModelId",
                          "ModifierId",
                          "OlaId",
                          "PriorityId",
                          "ProjectId",
                          "ProviderId",
                          "ReasonId",
                          "RegistryTypeId",
                          "ResponsibleId",
                          "ServiceId",
                          "SlaId",
                          "StateId",
                          "UcId",
                          "UnitId",
                          "UrgencyId",
                          "OpenedDate"
                        ]
                      },
                      "operator": {
                        "description": "Search operator.",
                        "title": "Search operator",
                        "type": "string",
                        "enum": [
                          "EqualTo",
                          "NotEqualTo",
                          "GreaterThan",
                          "GreaterThanOrEqualTo",
                          "LessThan",
                          "LessThanOrEqualTo",
                          "Like"
                        ]
                      },
                      "value": {
                        "title": "Value to find",
                        "description": "Field value to find.",
                        "type": "string"
                      }
                    },
                    "required": [
                      "field",
                      "operator",
                      "value"
                    ]
                  },
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "logicOperator"
              ]
            }
          }
        ]
      }
    },
    "/asms/case/{ticketId}": {
      "get": {
        "responses": {
          "200": {
            "description": "Case information.",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Case ID",
                  "description": "System identifier for the record."
                },
                "idByProject": {
                  "description": "Id by project for the record.",
                  "title": "Id by project",
                  "type": "string"
                },
                "subject": {
                  "type": "string",
                  "title": "Subject",
                  "description": "Subject."
                },
                "description": {
                  "type": "string",
                  "title": "Description",
                  "description": "Detailed description of the case."
                },
                "commentary": {
                  "type": "string",
                  "title": "Solution",
                  "description": "Case solution."
                },
                "projectId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Project ID",
                  "description": "Project identifier."
                },
                "projectName": {
                  "type": "string",
                  "title": "Project",
                  "description": "Project name."
                },
                "itemTypeName": {
                  "type": "string",
                  "title": "Case type",
                  "description": "Case type name."
                },
                "itemTypeId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Case type ID",
                  "description": "Case type identifier."
                },
                "serviceId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Service ID",
                  "description": "Service identifier."
                },
                "serviceName": {
                  "type": "string",
                  "title": "Service",
                  "description": "Service name."
                },
                "modelId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Model ID",
                  "description": "Model identifier."
                },
                "modelName": {
                  "type": "string",
                  "title": "Model",
                  "description": "Model name."
                },
                "categoryId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Category ID",
                  "description": "Category identifier."
                },
                "categoryName": {
                  "type": "string",
                  "description": "Category.",
                  "title": "Category name"
                },
                "applicantId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Applicant identifier.",
                  "title": "Applicant ID"
                },
                "customerId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Client ID",
                  "description": "Client identifier."
                },
                "customerName": {
                  "type": "string",
                  "title": "Client",
                  "description": "Client name."
                },
                "companyId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Company ID",
                  "description": "Company identifier."
                },
                "companyName": {
                  "type": "string",
                  "title": "Company",
                  "description": "Company name."
                },
                "ciId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "CI ID",
                  "description": "CI identifier."
                },
                "ciName": {
                  "type": "string",
                  "title": "CI",
                  "description": "CI name."
                },
                "slaId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "SLA ID",
                  "description": "SLA identifier."
                },
                "slaName": {
                  "type": "string",
                  "title": "SLA",
                  "description": "SLA name."
                },
                "stateId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Status ID",
                  "description": "Status identifier."
                },
                "stateName": {
                  "type": "string",
                  "title": "Status",
                  "description": "Status name."
                },
                "reasonId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Reason ID",
                  "description": "Reason identifier."
                },
                "reasonName": {
                  "type": "string",
                  "title": "Reason",
                  "description": "Reason name."
                },
                "groupId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Group ID",
                  "description": "Group identifier."
                },
                "groupName": {
                  "type": "string",
                  "title": "Group",
                  "description": "Group name."
                },
                "responsibleId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Responsible ID",
                  "description": "Responsible identifier."
                },
                "responsibleName": {
                  "type": "string",
                  "title": "Responsible",
                  "description": "Responsible name."
                },
                "registryTypeId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Registry type ID",
                  "description": "Registry type identifier."
                },
                "registryTypeName": {
                  "type": "string",
                  "title": "Registry type",
                  "description": "Registry type name."
                },
                "impactId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Impact ID",
                  "description": "Impact identifier."
                },
                "impactName": {
                  "type": "string",
                  "title": "Impact",
                  "description": "Impact name."
                },
                "urgencyId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Urgency ID",
                  "description": "Urgency identifier."
                },
                "urgencyName": {
                  "type": "string",
                  "title": "Urgency",
                  "description": "Urgency name."
                },
                "priorityId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Priority ID",
                  "description": "Priority identifier."
                },
                "priorityName": {
                  "type": "string",
                  "title": "Priority",
                  "description": "Priority name."
                },
                "riskId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Risk ID",
                  "description": "Risk identifier."
                },
                "riskName": {
                  "type": "string",
                  "title": "Risk",
                  "description": "Risk name."
                },
                "providerId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Provider ID",
                  "description": "Provider identifier."
                },
                "providerName": {
                  "type": "string",
                  "title": "Provider",
                  "description": "Provider name."
                },
                "ucId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "UC ID",
                  "description": "UC identifier."
                },
                "ucName": {
                  "type": "string",
                  "title": "UC",
                  "description": "UC name."
                },
                "unitId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Organizational area ID",
                  "description": "Organizational area identifier."
                },
                "unitName": {
                  "type": "string",
                  "title": "Organizational area",
                  "description": "Organizational area name."
                },
                "olaId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "OLA ID",
                  "description": "OLA identifier."
                },
                "olaName": {
                  "type": "string",
                  "title": "OLA",
                  "description": "OLA name."
                },
                "openedDate": {
                  "type": "string",
                  "title": "Registry date",
                  "description": "Registry date."
                },
                "closedDate": {
                  "type": "string",
                  "title": "Closed date",
                  "description": "Closed date."
                },
                "finalDate": {
                  "type": "string",
                  "title": "Final date",
                  "description": "Final date (only for Task records)."
                },
                "initialDate": {
                  "type": "string",
                  "title": "Initial date",
                  "description": "Initial date (only for Task records)."
                },
                "cost": {
                  "type": "number",
                  "title": "Costs",
                  "description": "Costs."
                },
                "realCost": {
                  "type": "number",
                  "title": "Real cost",
                  "description": "Real cost."
                },
                "estimatedCost": {
                  "type": "number",
                  "title": "Estimated cost",
                  "description": "Estimated cost."
                },
                "price": {
                  "type": "number",
                  "title": "Price",
                  "description": "Price."
                },
                "interfaceId": {
                  "type": "string",
                  "title": "Interface identifier",
                  "description": "Interface identifier."
                },
                "isClosed": {
                  "type": "boolean",
                  "title": "Closed",
                  "description": "Closed."
                },
                "currentProgress": {
[...]
