{
  "swagger": "2.0",
  "info": {
    "title": "absentify",
    "description": "Integrate absentify into your existing systems with this connector. Use the absences of your employees in other systems.",
    "version": "1.0",
    "contact": {
      "name": "absentify Support",
      "url": "https://support.absentify.com/",
      "email": "support@absentify.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://absentify.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://absentify.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Human Resources;Business Management"
    }
  ],
  "host": "app.absentify.com",
  "basePath": "/api/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/webhooks/manage_ms_webhook/request_created": {
      "x-ms-notification-content": {
        "description": "200",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "title": "id",
              "type": "string",
              "description": "id"
            },
            "createdAt": {
              "title": "request created at",
              "type": "string",
              "description": "request created at"
            },
            "updatedAt": {
              "title": "request updated at",
              "type": "string",
              "description": "request updated at"
            },
            "start": {
              "title": "Request start date",
              "type": "string",
              "description": "Request start date"
            },
            "start_at": {
              "title": "Request start at",
              "type": "string",
              "description": "Request start at"
            },
            "end": {
              "title": "Request end date",
              "type": "string",
              "description": "Request end date"
            },
            "end_at": {
              "title": "Request end at",
              "type": "string",
              "description": "Request end at"
            },
            "duration": {
              "title": "Request duration substracted",
              "type": "number",
              "format": "float",
              "description": "Request duration substracted"
            },
            "year": {
              "title": "Request year",
              "type": "integer",
              "format": "int32",
              "description": "Request year"
            },
            "details": {
              "type": "object",
              "properties": {
                "status": {
                  "title": "Request status",
                  "type": "string",
                  "description": "Request status",
                  "enum": [
                    "PENDING",
                    "APPROVED",
                    "DECLINED",
                    "CANCELED"
                  ]
                },
                "deducted": {
                  "title": "Request deducted from the user's allowance",
                  "type": "number",
                  "format": "float",
                  "description": "Request deducted from the user's allowance"
                },
                "reason": {
                  "title": "Request reason",
                  "type": "string",
                  "description": "Request reason"
                },
                "approval_process": {
                  "description": "Approval process",
                  "title": "Approval process",
                  "type": "string",
                  "x-enumNames": [
                    "Linear - All must agree",
                    "Linear - One must agree",
                    "Parallel - All must agree",
                    "Parallel - One must agree"
                  ],
                  "enum": [
                    "Linear_all_have_to_agree",
                    "Linear_one_has_to_agree",
                    "Parallel_all_have_to_agree",
                    "Parallel_one_has_to_agree"
                  ]
                },
                "request_approvers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uuid": {
                        "title": "Internal uuid",
                        "type": "string",
                        "description": "Internal uuid"
                      },
                      "status": {
                        "description": "Status",
                        "title": "Status",
                        "type": "string",
                        "enum": [
                          "PENDING",
                          "APPROVED",
                          "DECLINED",
                          "CANCELED",
                          "APPROVED_BY_ANOTHER_MANAGER",
                          "DECLINED_BY_ANOTHER_MANAGER",
                          "CANCELED_BY_ANOTHER_MANAGER"
                        ]
                      },
                      "status_changed_by_member": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "title": "Changed by email",
                            "type": "string",
                            "description": "Changed by email"
                          },
                          "name": {
                            "title": "Changed by name",
                            "type": "string",
                            "description": "Changed by name"
                          },
                          "id": {
                            "title": "Changed by id",
                            "type": "string",
                            "description": "Changed by id"
                          },
                          "custom_id": {
                            "title": "Changed by custom id",
                            "type": "string",
                            "description": "Changed by custom id"
                          }
                        },
                        "description": "Status changed by",
                        "title": "Status changed by"
                      },
                      "status_change_date": {
                        "title": "Status changed date",
                        "type": "string",
                        "description": "Status changed date",
                        "format": "date-time"
                      },
                      "predecessor_request_member_approver_id": {
                        "title": "Predecessor request member approver id",
                        "type": "string",
                        "description": "Is there a predecessor that needs to approve earlier?"
                      },
                      "reason": {
                        "title": "Reason",
                        "type": "string",
                        "description": "Reason"
                      }
                    }
                  },
                  "description": "Request approvers",
                  "title": "Request approvers"
                },
                "requester_member": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "title": "Request requester email",
                      "type": "string",
                      "description": "Request requester email"
                    },
                    "name": {
                      "title": "Request requester name",
                      "type": "string",
                      "description": "Request requester name"
                    },
                    "id": {
                      "title": "Request requester id",
                      "type": "string",
                      "description": "Request requester id"
                    },
                    "custom_id": {
                      "title": "Request requester custom id",
                      "type": "string",
                      "description": "Request requester custom id"
                    },
                    "allowances": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allowance": {
                            "title": "Allowance",
                            "type": "number",
                            "description": "Allowance"
                          },
                          "brought_forward": {
                            "description": "Carried over",
                            "title": "Carried over",
                            "type": "number"
                          },
                          "compensatory_time_off": {
                            "title": "Compensatory time off",
                            "type": "number",
                            "description": "Compensatory time off"
                          },
                          "remaining": {
                            "title": "Remaining",
                            "type": "number",
                            "description": "Remaining"
                          },
                          "taken": {
                            "title": "Taken",
                            "type": "number",
                            "description": "Taken"
                          },
                          "year": {
                            "title": "Year",
                            "type": "number",
                            "description": "Year"
                          }
                        }
                      },
                      "description": "Allowances",
                      "title": "Allowances"
                    }
                  },
                  "description": "Request requester",
                  "title": "Request requester"
                },
                "approved_date": {
                  "title": "Request approved date (deprecated)",
                  "type": "string",
                  "description": "Request approved date (deprecated)"
                },
                "cancel_reason": {
                  "title": "Request cancel reason",
                  "type": "string",
                  "description": "Request cancel reason"
                },
                "canceld_date": {
                  "title": "Request cancel date",
                  "type": "string",
                  "description": "Request cancel date"
                },
                "declined_date": {
                  "title": "Request declined date (deprecated)",
                  "type": "string",
                  "description": "Request declined date (deprecated)"
                },
                "decline_reason": {
                  "title": "Request decline reason (deprecated)",
                  "type": "string",
                  "description": "Request decline reason (deprecated)"
                },
                "approver_member": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "title": "Request approver email (deprecated)",
                      "type": "string",
                      "description": "Request approver email (deprecated)"
                    },
                    "name": {
                      "title": "Request approver name (deprecated)",
                      "type": "string",
                      "description": "Request approver name (deprecated)"
                    },
                    "id": {
                      "title": "Request approver id (deprecated)",
                      "type": "string",
                      "description": "Request approver id (deprecated)"
                    },
                    "custom_id": {
                      "title": "Request approver custom id (deprecated)",
                      "type": "string",
                      "description": "Request approver custom id (deprecated)"
                    }
                  },
                  "description": "Request approver (deprecated)",
                  "title": "Request approver (deprecated)"
                },
                "canceld_by_member": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "title": "Request canceled by email",
                      "type": "string",
                      "description": "Request canceled by email"
                    },
                    "name": {
                      "title": "Request canceled by name",
                      "type": "string",
                      "description": "Request canceled by name"
                    },
                    "id": {
                      "title": "Request canceled by id",
                      "type": "string",
                      "description": "Request canceled by id"
                    },
                    "custom_id": {
                      "title": "Request canceled by custom id",
                      "type": "string",
                      "description": "Request canceled by custom id"
                    }
                  },
                  "description": "Request canceled by",
                  "title": "Request canceled by"
                },
                "declined_by_member": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "title": "Request declined by email (deprecated)",
                      "type": "string",
                      "description": "Request declined by email (deprecated)"
                    },
                    "name": {
                      "title": "Request declined by name (deprecated)",
                      "type": "string",
                      "description": "Request declined by name (deprecated)"
                    },
                    "id": {
                      "title": "Request declined by id (deprecated)",
                      "type": "string",
                      "description": "Request declined by id (deprecated)"
                    },
                    "custom_id": {
                      "title": "Request declined by custom id (deprecated)",
                      "type": "string",
                      "description": "Request declined by custom id (deprecated)"
                    }
                  },
                  "description": "Request declined by (deprecated)",
                  "title": "Request declined by (deprecated)"
                },
                "leave_type": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Leave type id",
                      "type": "string",
                      "description": "Leave type id"
                    },
                    "name": {
                      "title": "Leave type name",
                      "type": "string",
                      "description": "Leave type name"
                    }
                  },
                  "description": "Leave type",
                  "title": "Leave type"
                }
              },
              "title": "details",
              "description": "details"
            }
          }
        }
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Request created",
        "description": "This trigger is executed when a new request is created in your company.",
        "operationId": "TriggerRequestCreated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The webhook url",
                  "title": "url",
                  "x-ms-visibility": "internal",
                  "default": "url",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ]
      }
    },
    "/webhooks/manage_ms_webhook/request_status_changed": {
      "x-ms-notification-content": {
        "description": "200",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "title": "id",
              "type": "string",
              "description": "id"
            },
            "createdAt": {
              "title": "request created at",
              "type": "string",
              "description": "request created at"
            },
            "updatedAt": {
              "title": "request updated at",
              "type": "string",
              "description": "request updated at"
            },
            "start": {
              "title": "Request start date",
              "type": "string",
              "description": "Request start date"
            },
            "start_at": {
              "title": "Request start at",
              "type": "string",
              "description": "Request start at"
            },
            "end": {
              "title": "Request end date",
              "type": "string",
              "description": "Request end date"
            },
            "end_at": {
              "title": "Request end at",
              "type": "string",
              "description": "Request end at"
            },
            "duration": {
              "title": "Request duration substracted",
              "type": "number",
              "format": "float",
              "description": "Request duration substracted"
            },
            "year": {
              "title": "Request year",
              "type": "integer",
              "format": "int32",
              "description": "Request year"
            },
            "details": {
              "type": "object",
              "properties": {
                "status": {
                  "title": "Request status",
                  "type": "string",
                  "description": "Request status",
                  "enum": [
                    "PENDING",
                    "APPROVED",
                    "DECLINED",
                    "CANCELED"
                  ]
                },
                "deducted": {
                  "title": "Request deducted from the user's allowance",
                  "type": "number",
                  "format": "float",
                  "description": "Request deducted from the user's allowance"
                },
                "reason": {
                  "title": "Request reason",
                  "type": "string",
                  "description": "Request reason"
                },
                "approval_process": {
                  "description": "Approval process",
                  "title": "Approval process",
                  "type": "string",
                  "x-enumNames": [
                    "Linear - All must agree",
                    "Linear - One must agree",
                    "Parallel - All must agree",
                    "Parallel - One must agree"
                  ],
                  "enum": [
                    "Linear_all_have_to_agree",
                    "Linear_one_has_to_agree",
                    "Parallel_all_have_to_agree",
                    "Parallel_one_has_to_agree"
                  ]
                },
                "request_approvers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uuid": {
                        "title": "Internal uuid",
                        "type": "string",
                        "description": "Internal uuid"
                      },
                      "status": {
                        "description": "Status",
                        "title": "Status",
                        "type": "string",
                        "enum": [
                          "PENDING",
                          "APPROVED",
                          "DECLINED",
                          "CANCELED",
                          "APPROVED_BY_ANOTHER_MANAGER",
                          "DECLINED_BY_ANOTHER_MANAGER",
                          "CANCELED_BY_ANOTHER_MANAGER"
                        ]
                      },
                      "status_changed_by_member": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "title": "Changed by email",
                            "type": "string",
                            "description": "Changed by email"
                          },
                          "name": {
                            "title": "Changed by name",
                            "type": "string",
                            "description": "Changed by name"
                          },
                          "id": {
                            "title": "Changed by id",
                            "type": "string",
                            "description": "Changed by id"
                          },
                          "custom_id": {
                            "title": "Changed by custom id",
                            "type": "string",
                            "description": "Changed by custom id"
                          }
                        },
                        "description": "Status changed by",
                        "title": "Status changed by"
                      },
                      "status_change_date": {
                        "title": "Status changed date",
                        "type": "string",
                        "description": "Status changed date",
                        "format": "date-time"
                      },
                      "predecessor_request_member_approver_id": {
                        "title": "Predecessor request member approver id",
                        "type": "string",
                        "description": "Is there a predecessor that needs to approve earlier?"
                      },
                      "reason": {
                        "title": "Reason",
                        "type": "string",
                        "description": "Reason"
                      }
                    }
                  },
                  "description": "Request approvers",
                  "title": "Request approvers"
                },
                "requester_member": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "title": "Request requester email",
                      "type": "string",
                      "description": "Request requester email"
                    },
                    "name": {
                      "title": "Request requester name",
                      "type": "string",
                      "description": "Request requester name"
                    },
                    "id": {
                      "title": "Request requester id",
                      "type": "string",
                      "description": "Request requester id"
                    },
                    "custom_id": {
                      "title": "Request requester custom id",
                      "type": "string",
                      "description": "Request requester custom id"
                    },
                    "allowances": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allowance": {
                            "title": "Allowance",
                            "type": "number",
                            "description": "Allowance"
                          },
                          "brought_forward": {
                            "description": "Carried over",
                            "title": "Carried over",
                            "type": "number"
                          },
                          "compensatory_time_off": {
                            "title": "Compensatory time off",
                            "type": "number",
                            "description": "Compensatory time off"
                          },
                          "remaining": {
                            "title": "Remaining",
                            "type": "number",
                            "description": "Remaining"
                          },
                          "taken": {
                            "title": "Taken",
                            "type": "number",
                            "description": "Taken"
                          },
                          "year": {
                            "title": "Year",
                            "type": "number",
                            "description": "Year"
                          }
                        }
                      },
                      "description": "Allowances",
                      "title": "Allowances"
                    }
                  },
                  "description": "Request requester",
                  "title": "Request requester"
                },
                "approved_date": {
                  "title": "Request approved date (deprecated)",
                  "type": "string",
                  "description": "Request approved date (deprecated)"
                },
                "cancel_reason": {
                  "title": "Request cancel reason",
                  "type": "string",
                  "description": "Request cancel reason"
                },
                "canceld_date": {
                  "title": "Request cancel date",
                  "type": "string",
                  "description": "Request cancel date"
                },
                "declined_date": {
                  "title": "Request declined date (deprecated)",
                  "type": "string",
                  "description": "Request declined date (deprecated)"
                },
                "decline_reason": {
                  "title": "Request decline reason (deprecated)",
                  "type": "string",
                  "description": "Request decline reason (deprecated)"
                },
                "approver_member": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "title": "Request approver email (deprecated)",
                      "type": "string",
                      "description": "Request approver email (deprecated)"
                    },
                    "name": {
                      "title": "Request approver name (deprecated)",
                      "type": "string",
                      "description": "Request approver name (deprecated)"
                    },
                    "id": {
                      "title": "Request approver id (deprecated)",
                      "type": "string",
                      "description": "Request approver id (deprecated)"
                    },
                    "custom_id": {
                      "title": "Request approver custom id (deprecated)",
                      "type": "string",
                      "description": "Request approver custom id (deprecated)"
                    }
                  },
                  "description": "Request approver (deprecated)",
                  "title": "Request approver (deprecated)"
                },
                "canceld_by_member": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "title": "Request canceled by email",
                      "type": "string",
                      "description": "Request canceled by email"
                    },
                    "name": {
                      "title": "Request canceled by name",
                      "type": "string",
                      "description": "Request canceled by name"
                    },
                    "id": {
                      "title": "Request canceled by id",
                      "type": "string",
                      "description": "Request canceled by id"
                    },
                    "custom_id": {
                      "title": "Request canceled by custom id",
                      "type": "string",
                      "description": "Request canceled by custom id"
                    }
                  },
                  "description": "Request canceled by",
                  "title": "Request canceled by"
                },
                "declined_by_member": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "title": "Request declined by email (deprecated)",
                      "type": "string",
                      "description": "Request declined by email (deprecated)"
                    },
                    "name": {
                      "title": "Request declined by name (deprecated)",
                      "type": "string",
                      "description": "Request declined by name (deprecated)"
                    },
                    "id": {
                      "title": "Request declined by id (deprecated)",
                      "type": "string",
                      "description": "Request declined by id (deprecated)"
                    },
                    "custom_id": {
                      "title": "Request declined by custom id (deprecated)",
                      "type": "string",
                      "description": "Request declined by custom id (deprecated)"
                    }
                  },
                  "description": "Request declined by (deprecated)",
                  "title": "Request declined by (deprecated)"
                },
                "leave_type": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Leave type id",
                      "type": "string",
                      "description": "Leave type id"
                    },
                    "name": {
                      "title": "Leave type name",
                      "type": "string",
                      "description": "Leave type name"
                    }
                  },
                  "description": "Leave type",
                  "title": "Leave type"
                }
              },
              "title": "details",
              "description": "details"
            }
          }
        }
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Request status updated",
        "description": "This trigger is executed if the status of an existing request is changed.",
        "operationId": "TriggerRequestStatusChanged",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The webhook url",
                  "title": "url",
                  "x-ms-visibility": "internal",
                  "default": "url",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "undefined": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "undefined": []
    }
  ],
  "tags": []
}