{
  "swagger": "2.0",
  "info": {
    "title": "absentify",
    "description": "Integrate absentify into your existing systems with this connector. Use the absences of your employees in other systems.",
    "version": "1.0"
  },
  "host": "app.absentify.com",
  "basePath": "/api/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/webhooks/manage_ms_webhook/request_created": {
      "x-ms-notification-content": {
        "description": "200",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "id"
            },
            "createdAt": {
              "type": "string",
              "description": "createdAt"
            },
            "updatedAt": {
              "type": "string",
              "description": "updatedAt"
            },
            "start": {
              "type": "string",
              "description": "start"
            },
            "start_at": {
              "type": "string",
              "description": "start_at"
            },
            "end": {
              "type": "string",
              "description": "end"
            },
            "end_at": {
              "type": "string",
              "description": "end_at"
            },
            "duration": {
              "type": "number",
              "format": "float",
              "description": "duration"
            },
            "year": {
              "type": "integer",
              "format": "int32",
              "description": "year"
            },
            "details": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "approved_date": {
                  "type": "string",
                  "description": "approved_date"
                },
                "cancel_reason": {
                  "type": "string",
                  "description": "cancel_reason"
                },
                "canceld_date": {
                  "type": "string",
                  "description": "canceld_date"
                },
                "declined_date": {
                  "type": "string",
                  "description": "declined_date"
                },
                "decline_reason": {
                  "type": "string",
                  "description": "decline_reason"
                },
                "deducted": {
                  "type": "number",
                  "format": "float",
                  "description": "deducted"
                },
                "reason": {
                  "type": "string",
                  "description": "reason"
                },
                "approver_member": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "custom_id": {
                      "type": "string",
                      "description": "custom_id"
                    }
                  },
                  "description": "approver_member"
                },
                "requester_member": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "custom_id": {
                      "type": "string",
                      "description": "custom_id"
                    }
                  },
                  "description": "requester_member"
                },
                "canceld_by_member": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "custom_id": {
                      "type": "string",
                      "description": "custom_id"
                    }
                  },
                  "description": "canceld_by_member"
                },
                "declined_by_member": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "custom_id": {
                      "type": "string",
                      "description": "custom_id"
                    }
                  },
                  "description": "declined_by_member"
                },
                "leave_type": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    }
                  },
                  "description": "leave_type"
                }
              },
              "description": "details"
            }
          }
        }
      },
      "post": {
        "responses": {},
        "summary": "Request created",
        "description": "This trigger is executed when a new request is created in your company.",
        "operationId": "trigger_request_created",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The webhook url",
                  "title": "url",
                  "x-ms-visibility": "internal",
                  "default": "url",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ]
      }
    },
    "/webhooks/manage_ms_webhook/request_status_changed": {
      "x-ms-notification-content": {
        "description": "200",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "id"
            },
            "createdAt": {
              "type": "string",
              "description": "createdAt"
            },
            "updatedAt": {
              "type": "string",
              "description": "updatedAt"
            },
            "start": {
              "type": "string",
              "description": "start"
            },
            "start_at": {
              "type": "string",
              "description": "start_at"
            },
            "end": {
              "type": "string",
              "description": "end"
            },
            "end_at": {
              "type": "string",
              "description": "end_at"
            },
            "duration": {
              "type": "number",
              "format": "float",
              "description": "duration"
            },
            "year": {
              "type": "integer",
              "format": "int32",
              "description": "year"
            },
            "details": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "approved_date": {
                  "type": "string",
                  "description": "approved_date"
                },
                "cancel_reason": {
                  "type": "string",
                  "description": "cancel_reason"
                },
                "canceld_date": {
                  "type": "string",
                  "description": "canceld_date"
                },
                "declined_date": {
                  "type": "string",
                  "description": "declined_date"
                },
                "decline_reason": {
                  "type": "string",
                  "description": "decline_reason"
                },
                "deducted": {
                  "type": "number",
                  "format": "float",
                  "description": "deducted"
                },
                "reason": {
                  "type": "string",
                  "description": "reason"
                },
                "approver_member": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "custom_id": {
                      "type": "string",
                      "description": "custom_id"
                    }
                  },
                  "description": "approver_member"
                },
                "requester_member": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "custom_id": {
                      "type": "string",
                      "description": "custom_id"
                    }
                  },
                  "description": "requester_member"
                },
                "canceld_by_member": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "custom_id": {
                      "type": "string",
                      "description": "custom_id"
                    }
                  },
                  "description": "canceld_by_member"
                },
                "declined_by_member": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "custom_id": {
                      "type": "string",
                      "description": "custom_id"
                    }
                  },
                  "description": "declined_by_member"
                },
                "leave_type": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    }
                  },
                  "description": "leave_type"
                }
              },
              "description": "details"
            }
          }
        }
      },
      "post": {
        "responses": {},
        "summary": "Request status updated",
        "description": "This trigger is executed if the status of an existing request is changed.",
        "operationId": "trigger_request_status_changed",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The webhook url",
                  "title": "url",
                  "x-ms-visibility": "internal",
                  "default": "url",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "undefined": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "undefined": []
    }
  ],
  "tags": []
}