{
  "swagger": "2.0",
  "info": {
    "title": "absentify",
    "description": "Integrate absentify into your existing systems with this connector. Use employee absence data in other systems.",
    "version": "1.0",
    "contact": {
      "name": "absentify Support",
      "url": "https://support.absentify.com/",
      "email": "support@absentify.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://absentify.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://absentify.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Human Resources;Business Management"
    }
  ],
  "host": "api.absentify.com",
  "basePath": "/api/",
  "schemes": ["https"],
  "consumes": [],
  "produces": [],
  "paths": {
    "/webhooks/manage_ms_webhook/request_created": {
      "x-ms-notification-content": {
        "description": "Notification content for request creation",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "title": "Request ID",
              "description": "Unique identifier of the request",
              "x-ms-summary": "Request ID"
            },
            "request_creator_member": {
              "type": "object",
              "title": "Request Creator",
              "description": "Information about the member who created the request",
              "properties": {
                "email": {
                  "type": "string",
                  "title": "Creator's Email",
                  "description": "The email address of the person who created the request.",
                  "x-ms-summary": "Creator's Email"
                },
                "name": {
                  "type": "string",
                  "title": "Creator's Name",
                  "description": "The name of the person who created the request.",
                  "x-ms-summary": "Creator's Name"
                },
                "id": {
                  "type": "string",
                  "title": "Creator's ID",
                  "description": "The unique identifier of the person who created the request.",
                  "x-ms-summary": "Creator's ID"
                },
                "custom_id": {
                  "type": "string",
                  "title": "Creator's Custom ID",
                  "description": "A custom identifier for the person who created the request.",
                  "x-ms-summary": "Creator's Custom ID"
                }
              }
            },
            "createdAt": {
              "type": "string",
              "title": "Creation Date",
              "description": "Timestamp when the request was created.",
              "x-ms-summary": "Creation Date"
            },
            "updatedAt": {
              "type": "string",
              "title": "Last Updated",
              "description": "Timestamp when the request was last updated.",
              "x-ms-summary": "Last Updated"
            },
            "start": {
              "type": "string",
              "title": "Start Date",
              "description": "Start date of the request.",
              "x-ms-summary": "Start Date"
            },
            "start_at": {
              "type": "string",
              "title": "Start Time of Day",
              "description": "Time of day when the request starts.",
              "x-ms-summary": "Start Time of Day",
              "enum": ["morning", "afternoon"]
            },
            "end": {
              "type": "string",
              "title": "End Date",
              "description": "End date of the request.",
              "x-ms-summary": "End Date"
            },
            "end_at": {
              "type": "string",
              "title": "End Time of Day",
              "description": "Time of day when the request ends.",
              "x-ms-summary": "End Time of Day",
              "enum": ["lunchtime", "end_of_day"]
            },
            "leave_unit": {
              "type": "string",
              "title": "Leave Unit",
              "description": "Unit of leave taken.",
              "x-ms-summary": "Leave Unit",
              "enum": ["days", "half_days", "hours", "minutes_30", "minutes_15", "minutes_10", "minutes_5", "minutes_1"]
            },
            "year": {
              "type": "integer",
              "format": "int32",
              "title": "Year",
              "description": "Year of the request.",
              "x-ms-summary": "Year"
            },
            "details": {
              "$ref": "#/definitions/Details"
            },
            "duration": {
              "type": "number",
              "format": "float",
              "title": "Total Duration",
              "description": "Total duration of the request including weekends and holidays.",
              "x-ms-summary": "Total Duration"
            }
          }
        }
      },
      "post": {
        "responses": {
          "default": {
            "description": "Default response",
            "schema": {}
          }
        },
        "summary": "Request created",
        "description": "This trigger is executed when a new request is created within your company.",
        "operationId": "TriggerRequestCreated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "title": "Webhook URL",
                  "description": "The webhook URL for the notification.",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              },
              "required": ["url"]
            }
          }
        ]
      }
    },
    "/webhooks/manage_ms_webhook/request_status_changed": {
      "x-ms-notification-content": {
        "description": "Notification content for request status change",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "title": "Request ID",
              "description": "Unique identifier of the request.",
              "x-ms-summary": "Request ID"
            },
            "request_creator_member": {
              "type": "object",
              "title": "Request Creator",
              "description": "Information about the member who created the request.",
              "properties": {
                "email": {
                  "type": "string",
                  "title": "Creator's Email",
                  "description": "The email address of the person who created the request.",
                  "x-ms-summary": "Creator's Email"
                },
                "name": {
                  "type": "string",
                  "title": "Creator's Name",
                  "description": "The name of the person who created the request.",
                  "x-ms-summary": "Creator's Name"
                },
                "id": {
                  "type": "string",
                  "title": "Creator's ID",
                  "description": "The unique identifier of the person who created the request.",
                  "x-ms-summary": "Creator's ID"
                },
                "custom_id": {
                  "type": "string",
                  "title": "Creator's Custom ID",
                  "description": "A custom identifier for the person who created the request.",
                  "x-ms-summary": "Creator's Custom ID"
                }
              }
            },
            "createdAt": {
              "type": "string",
              "title": "Creation Date",
              "description": "Timestamp when the request was created.",
              "x-ms-summary": "Creation Date"
            },
            "updatedAt": {
              "type": "string",
              "title": "Last Updated",
              "description": "Timestamp when the request was last updated.",
              "x-ms-summary": "Last Updated"
            },
            "start": {
              "type": "string",
              "title": "Start Date",
              "description": "Start date of the request.",
              "x-ms-summary": "Start Date"
            },
            "start_at": {
              "type": "string",
              "title": "Start Time of Day",
              "description": "Time of day when the request starts.",
              "x-ms-summary": "Start Time of Day",
              "enum": ["morning", "afternoon"]
            },
            "end": {
              "type": "string",
              "title": "End Date",
              "description": "End date of the request.",
              "x-ms-summary": "End Date"
            },
            "end_at": {
              "type": "string",
              "title": "End Time of Day",
              "description": "Time of day when the request ends.",
              "x-ms-summary": "End Time of Day",
              "enum": ["lunchtime", "end_of_day"]
            },
            "leave_unit": {
              "type": "string",
              "title": "Leave Unit",
              "description": "Unit of leave taken.",
              "x-ms-summary": "Leave Unit",
              "enum": ["days", "half_days", "hours", "minutes_30", "minutes_15", "minutes_10", "minutes_5", "minutes_1"]
            },
            "year": {
              "type": "integer",
              "format": "int32",
              "title": "Year",
              "description": "Year of the request.",
              "x-ms-summary": "Year"
            },
            "details": {
              "$ref": "#/definitions/Details"
            },
            "duration": {
              "type": "number",
              "format": "float",
              "title": "Total Duration",
              "description": "Total duration of the request including weekends and holidays.",
              "x-ms-summary": "Total Duration"
            }
          }
        }
      },
      "post": {
        "responses": {
          "default": {
            "description": "Default response",
            "schema": {}
          }
        },
        "summary": "Request status updated",
        "description": "This trigger is executed when the status of an existing request is changed.",
        "operationId": "TriggerRequestStatusChanged",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "title": "Webhook URL",
                  "description": "The webhook URL for the notification.",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              },
              "required": ["url"]
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "LeaveType": {
      "type": "object",
      "title": "Leave Type",
      "description": "Information about the type of leave.",
      "properties": {
        "id": {
          "type": "string",
          "title": "Leave Type ID",
          "description": "Unique identifier of the leave type.",
          "x-ms-summary": "Leave Type ID"
        },
        "name": {
          "type": "string",
          "title": "Leave Type Name",
          "description": "Name of the leave type.",
          "x-ms-summary": "Leave Type Name"
        },
        "take_from_allowance": {
          "type": "boolean",
          "title": "Take from Allowance",
          "description": "Indicates if the leave is deducted from the allowance.",
          "x-ms-summary": "Take from Allowance"
        },
        "leave_unit": {
          "type": "string",
          "title": "Leave Unit",
          "description": "Unit of leave.",
          "x-ms-summary": "Leave Unit",
          "enum": ["days", "half_days", "hours", "minutes_30", "minutes_15", "minutes_10", "minutes_5", "minutes_1"]
        },
        "allowance_type": {
          "$ref": "#/definitions/AllowanceType"
        }
      }
    },
    "AllowanceType": {
      "type": "object",
      "title": "Allowance Type",
      "description": "Details of the allowance type.",
      "properties": {
        "id": {
          "type": "string",
          "title": "Allowance Type ID",
          "description": "Unique identifier of the allowance type.",
          "x-ms-summary": "Allowance Type ID"
        },
        "name": {
          "type": "string",
          "title": "Allowance Type Name",
          "description": "Name of the allowance type.",
          "x-ms-summary": "Allowance Type Name"
        },
        "ignore_allowance_limit": {
          "type": "boolean",
          "title": "Ignore Allowance Limit",
          "description": "Indicates if the allowance limit should be ignored.",
          "x-ms-summary": "Ignore Allowance Limit"
        },
        "allowance_unit": {
          "type": "string",
          "title": "Allowance Unit",
          "description": "Unit of the allowance.",
          "x-ms-summary": "Allowance Unit",
          "enum": ["days", "hours"]
        }
      }
    },
    "Allowances": {
      "type": "array",
      "title": "Allowances",
      "description": "Allowance details for the requester.",
      "items": {
        "type": "object",
        "properties": {
          "allowance": {
            "type": "number",
            "format": "float",
            "title": "Allowance",
            "description": "Total allowance for the year.",
            "x-ms-summary": "Allowance"
          },
          "brought_forward": {
            "type": "number",
            "format": "float",
            "title": "Brought Forward",
            "description": "Brought forward days from the previous year.",
            "x-ms-summary": "Brought Forward"
          },
          "compensatory_time_off": {
            "type": "number",
            "format": "float",
            "title": "Compensatory Time Off",
            "description": "Compensatory time off.",
            "x-ms-summary": "Compensatory Time Off"
          },
          "remaining": {
            "type": "number",
            "format": "float",
            "title": "Remaining Allowance",
            "description": "Remaining allowance.",
            "x-ms-summary": "Remaining Allowance"
          },
          "taken": {
            "type": "number",
            "format": "float",
            "title": "Taken Allowance",
            "description": "Taken allowance.",
            "x-ms-summary": "Taken Allowance"
          },
          "year": {
            "type": "integer",
            "format": "int32",
            "title": "Allowance Year",
            "description": "Year for the allowance.",
            "x-ms-summary": "Allowance Year"
          }
        }
      }
    },
    "Details": {
      "type": "object",
      "title": "Request Details",
      "description": "Details of the request.",
      "properties": {
        "workday_absence_duration": {
          "type": "number",
          "format": "float",
          "title": "Workday Absence Duration",
          "description": "Duration of absence in workdays (only counting the employee's workdays).",
          "x-ms-summary": "Workday Absence Duration"
        },
        "status": {
          "type": "string",
          "title": "Request Status",
          "description": "Current status of the request.",
          "x-ms-summary": "Request Status",
          "enum": ["PENDING", "APPROVED", "DECLINED", "CANCELED"]
        },
        "cancel_reason": {
          "type": "string",
          "title": "Cancellation Reason",
          "description": "Reason for request cancellation.",
          "x-ms-summary": "Cancellation Reason"
        },
        "canceld_date": {
          "type": "string",
          "title": "Cancellation Date",
          "description": "Date when the request was canceled.",
          "x-ms-summary": "Cancellation Date"
        },
        "reason": {
          "type": "string",
          "title": "Request Reason",
          "description": "Reason provided for the request.",
          "x-ms-summary": "Request Reason"
        },
        "approval_process": {
          "type": "string",
          "title": "Approval Process",
          "description": "Approval process type for the request.",
          "x-ms-summary": "Approval Process",
          "enum": [
            "Linear_all_have_to_agree",
            "Linear_one_has_to_agree",
            "Parallel_all_have_to_agree",
            "Parallel_one_has_to_agree"
          ]
        },
        "request_approvers": {
          "type": "array",
          "title": "Request Approvers",
          "description": "List of approvers for the request.",
          "items": {
            "type": "object",
            "properties": {
              "uuid": {
                "type": "string",
                "title": "Approver ID",
                "description": "Unique identifier of the approver.",
                "x-ms-summary": "Approver ID"
              },
              "status": {
                "type": "string",
                "title": "Approver Status",
                "description": "Current approval status.",
                "x-ms-summary": "Approver Status",
                "enum": [
                  "PENDING",
                  "APPROVED",
                  "DECLINED",
                  "CANCELED",
                  "APPROVED_BY_ANOTHER_MANAGER",
                  "DECLINED_BY_ANOTHER_MANAGER",
                  "CANCELED_BY_ANOTHER_MANAGER"
                ]
              },
              "status_changed_by_member": {
                "type": "object",
                "title": "Status Changed By",
                "description": "Member who changed the approval status.",
                "properties": {
                  "email": {
                    "type": "string",
                    "title": "Member Email",
                    "description": "Email of the member who changed the status.",
                    "x-ms-summary": "Member Email"
                  },
                  "name": {
                    "type": "string",
                    "title": "Member Name",
                    "description": "Name of the member who changed the status.",
                    "x-ms-summary": "Member Name"
                  },
                  "id": {
                    "type": "string",
                    "title": "Member ID",
                    "description": "ID of the member who changed the status.",
                    "x-ms-summary": "Member ID"
                  },
                  "custom_id": {
                    "type": "string",
                    "title": "Custom ID",
                    "description": "Custom ID of the member who changed the status.",
                    "x-ms-summary": "Custom ID"
                  }
                }
              },
              "status_change_date": {
                "type": "string",
                "title": "Status Change Date",
                "description": "Date when the approval status was changed.",
                "x-ms-summary": "Status Change Date"
              },
              "predecessor_request_member_approver_id": {
                "type": "string",
                "title": "Predecessor Approver ID",
                "description": "ID of the predecessor approver, if applicable.",
                "x-ms-summary": "Predecessor Approver ID"
              },
              "reason": {
                "type": "string",
                "title": "Approval Reason",
                "description": "Reason provided by the approver.",
                "x-ms-summary": "Approval Reason"
              }
            }
          }
        },
        "requester_member": {
          "type": "object",
          "title": "Requester",
          "description": "Information about the requester.",
          "properties": {
            "email": {
              "type": "string",
              "title": "Requester Email",
              "description": "Email of the requester.",
              "x-ms-summary": "Requester Email"
            },
            "name": {
              "type": "string",
              "title": "Requester Name",
              "description": "Name of the requester.",
              "x-ms-summary": "Requester Name"
            },
            "id": {
              "type": "string",
              "title": "Requester ID",
              "description": "ID of the requester.",
              "x-ms-summary": "Requester ID"
            },
            "custom_id": {
              "type": "string",
              "title": "Requester Custom ID",
              "description": "Custom ID of the requester.",
              "x-ms-summary": "Requester Custom ID"
            },
            "allowances": {
              "$ref": "#/definitions/Allowances"
            }
          }
        },
        "canceld_by_member": {
          "type": "object",
          "title": "Canceled By",
          "description": "Member who canceled the request.",
          "properties": {
            "email": {
              "type": "string",
              "title": "Canceling Member's Email",
              "description": "Email of the member who canceled the request.",
              "x-ms-summary": "Canceling Member's Email"
            },
            "name": {
              "type": "string",
              "title": "Canceling Member's Name",
              "description": "Name of the member who canceled the request.",
              "x-ms-summary": "Canceling Member's Name"
            },
            "id": {
              "type": "string",
              "title": "Canceling Member's ID",
              "description": "ID of the member who canceled the request.",
              "x-ms-summary": "Canceling Member's ID"
            },
            "custom_id": {
              "type": "string",
              "title": "Canceling Member's Custom ID",
              "description": "Custom ID of the member who canceled the request.",
              "x-ms-summary": "Canceling Member's Custom ID"
            }
          }
        },
        "leave_type": {
          "$ref": "#/definitions/LeaveType"
        },
        "deducted": {
          "type": "number",
          "format": "float",
          "title": "Deducted Amount",
          "description": "Amount deducted from the user's allowance.",
          "x-ms-summary": "Deducted Amount"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "undefined": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "undefined": []
    }
  ],
  "tags": []
}
