{
  "swagger": "2.0",
  "info": {
    "title": "absentify",
    "description": "absentify is a comprehensive absence management solution designed for Microsoft 365. This connector enables seamless integration, allowing you to automate workflows based on employee leave requests, track approval statuses, and synchronize absence data across your business systems.",
    "version": "2.0",
    "contact": {
      "name": "absentify Support",
      "url": "https://absentify.com/docs",
      "email": "support@absentify.com"
    },
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://absentify.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://absentify.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Human Resources;Business Management"
    }
  ],
  "host": "api.absentify.com",
  "basePath": "/api/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/webhooks/manage_ms_webhook_v2/request_created": {
      "x-ms-notification-content": {
        "description": "Webhook payload when a leave request is created.",
        "schema": {
          "$ref": "#/definitions/RequestWebhookPayloadV2"
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Webhook subscription created successfully."
          },
          "201": {
            "description": "Webhook subscription created successfully."
          },
          "default": {
            "description": "Operation failed."
          }
        },
        "summary": "When a leave request is created",
        "description": "Triggers when any employee in your organization submits a new leave or absence request. Use this to start approval workflows, send notifications, or update external calendars.",
        "operationId": "TriggerRequestCreatedV2",
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "tags": ["Triggers"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "title": "Webhook URL",
                  "description": "The callback URL where absentify will send notifications.",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              },
              "required": ["url"]
            }
          }
        ]
      }
    },
    "/webhooks/manage_ms_webhook_v2/request_status_changed": {
      "x-ms-notification-content": {
        "description": "Webhook payload when a leave request status changes.",
        "schema": {
          "$ref": "#/definitions/RequestWebhookPayloadV2"
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Webhook subscription created successfully."
          },
          "201": {
            "description": "Webhook subscription created successfully."
          },
          "default": {
            "description": "Operation failed."
          }
        },
        "summary": "When a leave request status changes",
        "description": "Triggers when the status of a leave request changes (approved, declined, or canceled). Use this to notify employees, update HR systems, or sync calendar entries.",
        "operationId": "TriggerRequestStatusChangedV2",
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "tags": ["Triggers"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "title": "Webhook URL",
                  "description": "The callback URL where absentify will send notifications.",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              },
              "required": ["url"]
            }
          }
        ]
      }
    },
    "/webhooks/manage_ms_webhook/request_created": {
      "x-ms-notification-content": {
        "description": "Legacy webhook payload for request creation.",
        "schema": {
          "$ref": "#/definitions/RequestPayloadV1"
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Webhook subscription created successfully."
          },
          "201": {
            "description": "Webhook subscription created successfully."
          },
          "default": {
            "description": "Operation failed."
          }
        },
        "summary": "[Deprecated] When a leave request is created",
        "description": "DEPRECATED: Use 'When a leave request is created' instead. This legacy trigger will be removed in a future version.",
        "operationId": "TriggerRequestCreated",
        "x-ms-trigger": "single",
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "TriggerRequestCreated",
          "revision": 1
        },
        "deprecated": true,
        "tags": ["Triggers (Legacy)"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "title": "Webhook URL",
                  "description": "The callback URL for webhook notifications.",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              },
              "required": ["url"]
            }
          }
        ]
      }
    },
    "/webhooks/manage_ms_webhook/request_status_changed": {
      "x-ms-notification-content": {
        "description": "Legacy webhook payload for request status change.",
        "schema": {
          "$ref": "#/definitions/RequestPayloadV1"
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Webhook subscription created successfully."
          },
          "201": {
            "description": "Webhook subscription created successfully."
          },
          "default": {
            "description": "Operation failed."
          }
        },
        "summary": "[Deprecated] When a leave request status changes",
        "description": "DEPRECATED: Use 'When a leave request status changes' instead. This legacy trigger will be removed in a future version.",
        "operationId": "TriggerRequestStatusChanged",
        "x-ms-trigger": "single",
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "TriggerRequestStatusChanged",
          "revision": 1
        },
        "deprecated": true,
        "tags": ["Triggers (Legacy)"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "title": "Webhook URL",
                  "description": "The callback URL for webhook notifications.",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              },
              "required": ["url"]
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "RequestWebhookPayloadV2": {
      "type": "object",
      "title": "Request Webhook Payload",
      "description": "Webhook payload containing leave request data.",
      "properties": {
        "event_type": {
          "type": "string",
          "title": "Event Type",
          "description": "The type of event that triggered this webhook.",
          "x-ms-summary": "Event Type",
          "enum": ["request_created", "request_status_changed"]
        },
        "body": {
          "$ref": "#/definitions/RequestBodyV2"
        }
      }
    },
    "RequestBodyV2": {
      "type": "object",
      "title": "Request Body",
      "description": "The leave request details.",
      "properties": {
        "id": {
          "type": "string",
          "title": "Request ID",
          "description": "Unique identifier of the leave request.",
          "x-ms-summary": "Request ID"
        },
        "createdAt": {
          "type": "string",
          "title": "Created At",
          "description": "Timestamp when the request was created.",
          "x-ms-summary": "Created At"
        },
        "updatedAt": {
          "type": "string",
          "title": "Updated At",
          "description": "Timestamp when the request was last updated.",
          "x-ms-summary": "Updated At"
        },
        "start": {
          "type": "string",
          "title": "Start Date",
          "description": "Start date of the leave request.",
          "x-ms-summary": "Start Date"
        },
        "start_at": {
          "type": "string",
          "title": "Start Time",
          "description": "Time of day when the leave starts.",
          "x-ms-summary": "Start Time",
          "enum": ["morning", "afternoon"]
        },
        "end": {
          "type": "string",
          "title": "End Date",
          "description": "End date of the leave request.",
          "x-ms-summary": "End Date"
        },
        "end_at": {
          "type": "string",
          "title": "End Time",
          "description": "Time of day when the leave ends.",
          "x-ms-summary": "End Time",
          "enum": ["lunchtime", "end_of_day"]
        },
        "leave_unit": {
          "type": "string",
          "title": "Leave Unit",
          "description": "Unit used for measuring the leave duration.",
          "x-ms-summary": "Leave Unit",
          "enum": ["days", "hours"]
        },
        "status": {
          "type": "string",
          "title": "Status",
          "description": "Current status of the leave request.",
          "x-ms-summary": "Status",
          "enum": ["PENDING", "APPROVED", "DECLINED", "CANCELED"]
        },
        "reason": {
          "type": "string",
          "title": "Reason",
          "description": "Reason provided for the leave request.",
          "x-ms-summary": "Reason"
        },
        "approval_process": {
          "type": "string",
          "title": "Approval Process",
          "description": "Type of approval process for this request.",
          "x-ms-summary": "Approval Process",
          "enum": ["ONE_APPROVAL", "ALL_APPROVAL", "AUTOMATIC"]
        },
        "cancel_reason": {
          "type": "string",
          "title": "Cancel Reason",
          "description": "Reason for cancellation if the request was canceled.",
          "x-ms-summary": "Cancel Reason"
        },
        "canceld_date": {
          "type": "string",
          "title": "Canceled Date",
          "description": "Date when the request was canceled.",
          "x-ms-summary": "Canceled Date"
        },
        "canceld_by_member": {
          "$ref": "#/definitions/MemberReference"
        },
        "workday_absence_duration": {
          "type": "number",
          "format": "float",
          "title": "Workday Duration",
          "description": "Duration of absence in workdays.",
          "x-ms-summary": "Workday Duration"
        },
        "duration": {
          "type": "number",
          "format": "float",
          "title": "Total Duration",
          "description": "Total duration of the leave request.",
          "x-ms-summary": "Total Duration"
        },
        "take_from_allowance": {
          "type": "boolean",
          "title": "Take From Allowance",
          "description": "Whether this leave is deducted from the allowance.",
          "x-ms-summary": "Take From Allowance"
        },
        "request_creator_member": {
          "$ref": "#/definitions/MemberReference"
        },
        "requester_member": {
          "$ref": "#/definitions/MemberReference"
        },
        "leave_type": {
          "$ref": "#/definitions/LeaveTypeV2"
        },
        "allowance_type": {
          "$ref": "#/definitions/AllowanceTypeV2"
        },
        "request_approvers": {
          "type": "array",
          "title": "Request Approvers",
          "description": "List of approvers for this request.",
          "items": {
            "$ref": "#/definitions/RequestApproverV2"
          }
        }
      }
    },
    "MemberReference": {
      "type": "object",
      "title": "Member",
      "description": "Reference to a member.",
      "properties": {
        "id": {
          "type": "string",
          "title": "Member ID",
          "description": "Unique identifier of the member.",
          "x-ms-summary": "Member ID"
        },
        "custom_id": {
          "type": "string",
          "title": "Custom ID",
          "description": "Custom identifier for the member.",
          "x-ms-summary": "Custom ID"
        },
        "name": {
          "type": "string",
          "title": "Name",
          "description": "Name of the member.",
          "x-ms-summary": "Name"
        },
        "email": {
          "type": "string",
          "title": "Email",
          "description": "Email address of the member.",
          "x-ms-summary": "Email"
        }
      }
    },
    "LeaveTypeV2": {
      "type": "object",
      "title": "Leave Type",
      "description": "Information about the leave type.",
      "properties": {
        "id": {
          "type": "string",
          "title": "Leave Type ID",
          "description": "Unique identifier of the leave type.",
          "x-ms-summary": "Leave Type ID"
        },
        "name": {
          "type": "string",
          "title": "Leave Type Name",
          "description": "Name of the leave type.",
          "x-ms-summary": "Leave Type Name"
        },
        "leave_unit": {
          "type": "string",
          "title": "Leave Unit",
          "description": "Unit of the leave type.",
          "x-ms-summary": "Leave Unit",
          "enum": ["days", "hours"]
        }
      }
    },
    "AllowanceTypeV2": {
      "type": "object",
      "title": "Allowance Type",
      "description": "Information about the allowance type.",
      "properties": {
        "id": {
          "type": "string",
          "title": "Allowance Type ID",
          "description": "Unique identifier of the allowance type.",
          "x-ms-summary": "Allowance Type ID"
        },
        "name": {
          "type": "string",
          "title": "Allowance Type Name",
          "description": "Name of the allowance type.",
          "x-ms-summary": "Allowance Type Name"
        },
        "ignore_allowance_limit": {
          "type": "boolean",
          "title": "Ignore Limit",
          "description": "Whether the allowance limit should be ignored.",
          "x-ms-summary": "Ignore Limit"
        },
        "allowance_unit": {
          "type": "string",
          "title": "Allowance Unit",
          "description": "Unit of the allowance.",
          "x-ms-summary": "Allowance Unit",
          "enum": ["days", "hours"]
        }
      }
    },
    "RequestApproverV2": {
      "type": "object",
      "title": "Request Approver",
      "description": "Information about a request approver.",
      "properties": {
        "status": {
          "type": "string",
          "title": "Approver Status",
          "description": "Current approval status.",
          "x-ms-summary": "Approver Status",
          "enum": ["PENDING", "APPROVED", "DECLINED"]
        },
        "reason": {
          "type": "string",
          "title": "Approver Reason",
          "description": "Reason provided by the approver.",
          "x-ms-summary": "Approver Reason"
        },
        "status_changed_date": {
          "type": "string",
          "title": "Status Changed Date",
          "description": "Date when the approval status was changed.",
          "x-ms-summary": "Status Changed Date"
        },
        "status_changed_by_member": {
          "$ref": "#/definitions/MemberReference"
        },
        "approver_member": {
          "$ref": "#/definitions/MemberReference"
        }
      }
    },
    "RequestPayloadV1": {
      "type": "object",
      "title": "Request Payload (Legacy)",
      "description": "Legacy webhook payload format.",
      "properties": {
        "id": {
          "type": "string",
          "title": "Request ID",
          "description": "Unique identifier of the request.",
          "x-ms-summary": "Request ID"
        },
        "request_creator_member": {
          "$ref": "#/definitions/MemberReference"
        },
        "createdAt": {
          "type": "string",
          "title": "Created At",
          "description": "Timestamp when the request was created.",
          "x-ms-summary": "Created At"
        },
        "updatedAt": {
          "type": "string",
          "title": "Updated At",
          "description": "Timestamp when the request was last updated.",
          "x-ms-summary": "Updated At"
        },
        "start": {
          "type": "string",
          "title": "Start Date",
          "description": "Start date of the request.",
          "x-ms-summary": "Start Date"
        },
        "start_at": {
          "type": "string",
          "title": "Start Time",
          "description": "Time of day when the request starts.",
          "x-ms-summary": "Start Time",
          "enum": ["morning", "afternoon"]
        },
        "end": {
          "type": "string",
          "title": "End Date",
          "description": "End date of the request.",
          "x-ms-summary": "End Date"
        },
        "end_at": {
          "type": "string",
          "title": "End Time",
          "description": "Time of day when the request ends.",
          "x-ms-summary": "End Time",
          "enum": ["lunchtime", "end_of_day"]
        },
        "leave_unit": {
          "type": "string",
          "title": "Leave Unit",
          "description": "Unit of leave taken.",
          "x-ms-summary": "Leave Unit",
          "enum": ["days", "half_days", "hours", "minutes_30", "minutes_15", "minutes_10", "minutes_5", "minutes_1"]
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "title": "Year",
          "description": "Year of the request.",
          "x-ms-summary": "Year"
        },
        "duration": {
          "type": "number",
          "format": "float",
          "title": "Total Duration",
          "description": "Total duration of the request.",
          "x-ms-summary": "Total Duration"
        },
        "details": {
          "$ref": "#/definitions/DetailsV1"
        }
      }
    },
    "DetailsV1": {
      "type": "object",
      "title": "Request Details (Legacy)",
      "description": "Legacy details object.",
      "properties": {
        "workday_absence_duration": {
          "type": "number",
          "format": "float",
          "title": "Workday Duration",
          "description": "Duration in workdays.",
          "x-ms-summary": "Workday Duration"
        },
        "status": {
          "type": "string",
          "title": "Status",
          "description": "Current status of the request.",
          "x-ms-summary": "Status",
          "enum": ["PENDING", "APPROVED", "DECLINED", "CANCELED"]
        },
        "cancel_reason": {
          "type": "string",
          "title": "Cancel Reason",
          "description": "Reason for cancellation.",
          "x-ms-summary": "Cancel Reason"
        },
        "canceld_date": {
          "type": "string",
          "title": "Canceled Date",
          "description": "Date when canceled.",
          "x-ms-summary": "Canceled Date"
        },
        "reason": {
          "type": "string",
          "title": "Request Reason",
          "description": "Reason for the request.",
          "x-ms-summary": "Request Reason"
        },
        "approval_process": {
          "type": "string",
          "title": "Approval Process",
          "description": "Type of approval process.",
          "x-ms-summary": "Approval Process",
          "enum": [
            "Linear_all_have_to_agree",
            "Linear_one_has_to_agree",
            "Parallel_all_have_to_agree",
            "Parallel_one_has_to_agree"
          ]
        },
        "deducted": {
          "type": "number",
          "format": "float",
          "title": "Deducted Amount",
          "description": "Amount deducted from allowance.",
          "x-ms-summary": "Deducted Amount"
        },
        "requester_member": {
          "$ref": "#/definitions/MemberReference"
        },
        "canceld_by_member": {
          "$ref": "#/definitions/MemberReference"
        },
        "approver_member": {
          "$ref": "#/definitions/MemberReference"
        },
        "approved_date": {
          "type": "string",
          "title": "Approved Date",
          "description": "Date when approved.",
          "x-ms-summary": "Approved Date"
        },
        "decline_reason": {
          "type": "string",
          "title": "Decline Reason",
          "description": "Reason for declining.",
          "x-ms-summary": "Decline Reason"
        },
        "declined_by_member": {
          "$ref": "#/definitions/MemberReference"
        },
        "declined_date": {
          "type": "string",
          "title": "Declined Date",
          "description": "Date when declined.",
          "x-ms-summary": "Declined Date"
        },
        "leave_type": {
          "$ref": "#/definitions/LeaveTypeV1"
        },
        "request_approvers": {
          "type": "array",
          "title": "Request Approvers",
          "description": "List of approvers.",
          "items": {
            "$ref": "#/definitions/RequestApproverV1"
          }
        }
      }
    },
    "LeaveTypeV1": {
      "type": "object",
      "title": "Leave Type (Legacy)",
      "description": "Legacy leave type information.",
      "properties": {
        "id": {
          "type": "string",
          "title": "Leave Type ID",
          "description": "Unique identifier.",
          "x-ms-summary": "Leave Type ID"
        },
        "name": {
          "type": "string",
          "title": "Name",
          "description": "Name of the leave type.",
          "x-ms-summary": "Name"
        },
        "take_from_allowance": {
          "type": "boolean",
          "title": "Take From Allowance",
          "description": "Whether deducted from allowance.",
          "x-ms-summary": "Take From Allowance"
        },
        "leave_unit": {
          "type": "string",
          "title": "Leave Unit",
          "description": "Unit of leave.",
          "x-ms-summary": "Leave Unit",
          "enum": ["days", "hours"]
        },
        "allowance_type": {
          "$ref": "#/definitions/AllowanceTypeV2"
        }
      }
    },
    "RequestApproverV1": {
      "type": "object",
      "title": "Request Approver (Legacy)",
      "description": "Legacy approver information.",
      "properties": {
        "id": {
          "type": "string",
          "title": "Approver Record ID",
          "description": "Unique identifier of the approver record.",
          "x-ms-summary": "Approver Record ID"
        },
        "approver_member": {
          "$ref": "#/definitions/MemberReference"
        },
        "status": {
          "type": "string",
          "title": "Status",
          "description": "Approval status.",
          "x-ms-summary": "Status",
          "enum": ["PENDING", "APPROVED", "DECLINED"]
        },
        "reason": {
          "type": "string",
          "title": "Reason",
          "description": "Reason provided.",
          "x-ms-summary": "Reason"
        },
        "status_change_date": {
          "type": "string",
          "title": "Status Change Date",
          "description": "Date of status change.",
          "x-ms-summary": "Status Change Date"
        },
        "predecessor_request_approver_id": {
          "type": "string",
          "title": "Predecessor ID",
          "description": "ID of predecessor approver.",
          "x-ms-summary": "Predecessor ID"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": [
    {
      "name": "Triggers",
      "description": "Webhook triggers for leave request events."
    },
    {
      "name": "Triggers (Legacy)",
      "description": "Deprecated triggers. Use the new triggers instead."
    }
  ]
}
