{
  "swagger": "2.0",
  "info": {
    "title": "absentify",
    "description": "Integrate absentify into your existing systems with this connector. Use the absences of your employees in other systems.",
    "version": "1.0",
    "contact": {
      "name": "absentify Support",
      "url": "https://support.absentify.com/",
      "email": "support@absentify.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://absentify.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://absentify.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Human Resources;Business Management"
    }
  ],
  "host": "app.absentify.com",
  "basePath": "/api/",
  "schemes": ["https"],
  "consumes": [],
  "produces": [],
  "paths": {
    "/webhooks/manage_ms_webhook/request_created": {
      "x-ms-notification-content": {
        "description": "200",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "id"
            },
            "createdAt": {
              "type": "string",
              "description": "request created at"
            },
            "updatedAt": {
              "type": "string",
              "description": "request updated at"
            },
            "start": {
              "type": "string",
              "description": "Request start date"
            },
            "start_at": {
              "type": "string",
              "description": "Request start at"
            },
            "end": {
              "type": "string",
              "description": "Request end date"
            },
            "end_at": {
              "type": "string",
              "description": "Request end at"
            },
            "duration": {
              "type": "number",
              "format": "float",
              "description": "Request duration substracted"
            },
            "year": {
              "type": "integer",
              "format": "int32",
              "description": "Request year"
            },
            "details": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Request status"
                },
                "approved_date": {
                  "type": "string",
                  "description": "Request approved date"
                },
                "cancel_reason": {
                  "type": "string",
                  "description": "Request cancel reason"
                },
                "canceld_date": {
                  "type": "string",
                  "description": "Request cancel date"
                },
                "declined_date": {
                  "type": "string",
                  "description": "Request declined date"
                },
                "decline_reason": {
                  "type": "string",
                  "description": "Request decline reason"
                },
                "deducted": {
                  "type": "number",
                  "format": "float",
                  "description": "Request deducted from the user's allowance"
                },
                "reason": {
                  "type": "string",
                  "description": "Request reason"
                },
                "approver_member": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "Request approver email"
                    },
                    "name": {
                      "type": "string",
                      "description": "Request approver name"
                    },
                    "id": {
                      "type": "string",
                      "description": "Request approver id"
                    },
                    "custom_id": {
                      "type": "string",
                      "description": "Request approver custom id"
                    }
                  },
                  "description": "Request approver"
                },
                "requester_member": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "Request requester email"
                    },
                    "name": {
                      "type": "string",
                      "description": "Request requester name"
                    },
                    "id": {
                      "type": "string",
                      "description": "Request requester id"
                    },
                    "custom_id": {
                      "type": "string",
                      "description": "Request requester custom id"
                    }
                  },
                  "description": "Request requester"
                },
                "canceld_by_member": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "Request canceled by email"
                    },
                    "name": {
                      "type": "string",
                      "description": "Request canceled by name"
                    },
                    "id": {
                      "type": "string",
                      "description": "Request canceled by id"
                    },
                    "custom_id": {
                      "type": "string",
                      "description": "Request canceled by custom id"
                    }
                  },
                  "description": "Request canceled by"
                },
                "declined_by_member": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "Request declined by email"
                    },
                    "name": {
                      "type": "string",
                      "description": "Request declined by name"
                    },
                    "id": {
                      "type": "string",
                      "description": "Request declined by id"
                    },
                    "custom_id": {
                      "type": "string",
                      "description": "Request declined by custom id"
                    }
                  },
                  "description": "Request declined by"
                },
                "leave_type": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Leave type id"
                    },
                    "name": {
                      "type": "string",
                      "description": "Leave type name"
                    }
                  },
                  "description": "Leave type"
                }
              },
              "description": "details"
            }
          }
        }
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Request created",
        "description": "This trigger is executed when a new request is created in your company.",
        "operationId": "TriggerRequestCreated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The webhook url",
                  "title": "url",
                  "x-ms-visibility": "internal",
                  "default": "url",
                  "x-ms-notification-url": true
                }
              },
              "required": ["url"]
            }
          }
        ]
      }
    },
    "/webhooks/manage_ms_webhook/request_status_changed": {
      "x-ms-notification-content": {
        "description": "200",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "id"
            },
            "createdAt": {
              "type": "string",
              "description": "request created at"
            },
            "updatedAt": {
              "type": "string",
              "description": "request updated at"
            },
            "start": {
              "type": "string",
              "description": "Request start date"
            },
            "start_at": {
              "type": "string",
              "description": "Request start at"
            },
            "end": {
              "type": "string",
              "description": "Request end date"
            },
            "end_at": {
              "type": "string",
              "description": "Request end at"
            },
            "duration": {
              "type": "number",
              "format": "float",
              "description": "Request duration substracted"
            },
            "year": {
              "type": "integer",
              "format": "int32",
              "description": "Request year"
            },
            "details": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Request status"
                },
                "approved_date": {
                  "type": "string",
                  "description": "Request approved date"
                },
                "cancel_reason": {
                  "type": "string",
                  "description": "Request cancel reason"
                },
                "canceld_date": {
                  "type": "string",
                  "description": "Request cancel date"
                },
                "declined_date": {
                  "type": "string",
                  "description": "Request declined date"
                },
                "decline_reason": {
                  "type": "string",
                  "description": "Request decline reason"
                },
                "deducted": {
                  "type": "number",
                  "format": "float",
                  "description": "Request deducted from the user's allowance"
                },
                "reason": {
                  "type": "string",
                  "description": "Request reason"
                },
                "approver_member": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "Request approver email"
                    },
                    "name": {
                      "type": "string",
                      "description": "Request approver name"
                    },
                    "id": {
                      "type": "string",
                      "description": "Request approver id"
                    },
                    "custom_id": {
                      "type": "string",
                      "description": "Request approver custom id"
                    }
                  },
                  "description": "Request approver"
                },
                "requester_member": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "Request requester email"
                    },
                    "name": {
                      "type": "string",
                      "description": "Request requester name"
                    },
                    "id": {
                      "type": "string",
                      "description": "Request requester id"
                    },
                    "custom_id": {
                      "type": "string",
                      "description": "Request requester custom id"
                    }
                  },
                  "description": "Request requester"
                },
                "canceld_by_member": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "Request canceled by email"
                    },
                    "name": {
                      "type": "string",
                      "description": "Request canceled by name"
                    },
                    "id": {
                      "type": "string",
                      "description": "Request canceled by id"
                    },
                    "custom_id": {
                      "type": "string",
                      "description": "Request canceled by custom id"
                    }
                  },
                  "description": "Request canceled by"
                },
                "declined_by_member": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "Request declined by email"
                    },
                    "name": {
                      "type": "string",
                      "description": "Request declined by name"
                    },
                    "id": {
                      "type": "string",
                      "description": "Request declined by id"
                    },
                    "custom_id": {
                      "type": "string",
                      "description": "Request declined by custom id"
                    }
                  },
                  "description": "Request declined by"
                },
                "leave_type": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Leave type id"
                    },
                    "name": {
                      "type": "string",
                      "description": "Leave type name"
                    }
                  },
                  "description": "Leave type"
                }
              },
              "description": "details"
            }
          }
        }
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Request status updated",
        "description": "This trigger is executed if the status of an existing request is changed.",
        "operationId": "TriggerRequestStatusChanged",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The webhook url",
                  "title": "url",
                  "x-ms-visibility": "internal",
                  "default": "url",
                  "x-ms-notification-url": true
                }
              },
              "required": ["url"]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "undefined": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "undefined": []
    }
  ],
  "tags": []
}
