{
  "swagger": "2.0",
  "info": {
    "title": "Datablend",
    "description": "Connect to the Datablend API for a cost-effective iPaaS solution supporting finance and accounting ",
    "version": "1.0",
	"contact":{
		"name":"Datablend Support",
		"url":"https://datablend.com/contact",
		"email":"support@datablend.com"
	}
  },
  "host": "api.ml.datablend.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/groups/search": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Groups Search",
        "description": "Groups Search",
        "operationId": "GroupsSearch",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "offset",
				  "default":0
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "limit",
				  "default":"1"
                },
                "orders": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "path": {
                        "type": "string",
                        "description": "path",
						"default":"name"
                      },
                      "direction": {
                        "type": "string",
                        "description": "sort direction",
						"default":"Ascending"
                      }
                    }
                  },
                  "description": "orders"
                }
              }
            }
          }
        ]
      }
    },
    "/query-executions/{id}/results": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get Query Execution By Id",
        "description": "Get Query Execution By Id",
        "operationId": "GetQueryExecutionById",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
			"x-ms-summary":"The ID of the query execution used when running a workflow.",
			"description": "Get Query Execution By Id"
          }
        ]
      }
    },
    "/workflow-executions/search": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Workflow Executions Search",
        "description": "Workflow Executions Search",
        "operationId": "WorkflowExecutionsSearch",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "limit",
				  "default":1
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "offset",
				  "default":0
                },
                "orders": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "path": {
                        "type": "string",
                        "description": "path",
						"default":"created"
                      },
                      "direction": {
                        "type": "string",
                        "description": "direction",
						"default":"Descending"
                      }
                    }
                  },
                  "description": "order by"
                },
                "predicate": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string",
                      "description": "path",
					  "default":"parent.id"
                    },
                    "value": {
                      "type": "string",
                      "description": "id of the workflow previously executed"
                    },
                    "comparator": {
                      "type": "string",
                      "description": "comparator",
					  "default":"EqualTo"
                    }
                  },
                  "description": "predicate"
                }
              }
            }
          }
        ]
      }
    },
    "/workflow-executions": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Workflow Executions",
        "description": "Workflow Executions",
        "operationId": "WorkflowExecutions",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "parent": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the workflow to execute"
                    }
                  },
                  "description": "parent"
                }
              }
            }
          }
        ]
      }
    },
    "/workflows/search": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Workflows Search",
        "description": "Workflows Search",
        "operationId": "WorkflowsSearch",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "offset",
				  "default":0
                },
                "orders": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "path": {
                        "type": "string",
                        "description": "path",
						"default":"name"
                      },
                      "direction": {
                        "type": "string",
                        "description": "direction",
						"default":"Ascending"
                      }
                    }
                  },
                  "description": "orders"
                },
                "predicate": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string",
                      "description": "path",
					  "default":"group.id"
                    },
                    "value": {
                      "type": "string",
                      "description": "ID of the group you wish to find workflows in."
					  
                    },
                    "comparator": {
                      "type": "string",
                      "description": "comparator",
					  "default":"EqualTo"
                    }
                  },
                  "description": "predicate"
                }
              }
            }
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata":[
	  {
		  "propertyName":"Website",
		  "propertyValue":"https://datablend.com"
	  },
	  {
		   "propertyName":"Privacy Policy",
		  "propertyValue":"https://datablend.com/privacy-policy/"
	  },
	  {
		   "propertyName":"Categories",
		  "propertyValue":"Finance;Productivity"
	  }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://cognito.ml.datablend.com/oauth2/authorize",
      "tokenUrl": "https://cognito.ml.datablend.com/oauth2/token",
      "scopes": {
        "aws.cognito.signin.user.admin openid profile email https://api.datablend.com/default": "aws.cognito.signin.user.admin openid profile email https://api.datablend.com/default"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "aws.cognito.signin.user.admin openid profile email https://api.datablend.com/default"
      ]
    }
  ],
  "tags": []
}