{
  "swagger": "2.0",
  "info": {
    "title": "Datablend",
    "description": "Connect to Datablend for a cost-effective iPaaS solution supporting finance and accounting",
    "version": "1.0",
    "contact": {
      "name": "Datablend Support",
      "url": "https://datablend.com/contact",
      "email": "support@datablend.com"
    }
  },
  "host": "api.ml.datablend.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/groups/search": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "$ref": "#/definitions/GroupSearch"
            }
          }
        },
        "summary": "Groups Search",
        "description": "Groups Search",
        "operationId": "GroupsSearch",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "offset",
                  "default": 0
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "limit",
                  "default": "1"
                },
                "orders": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "path": {
                        "type": "string",
                        "description": "path",
                        "default": "name"
                      },
                      "direction": {
                        "type": "string",
                        "description": "sort direction",
                        "default": "Ascending"
                      }
                    }
                  },
                  "description": "orders"
                }
              }
            }
          }
        ]
      }
    },
    "/query-executions/{id}/results": {
      "get": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "$ref": "#/definitions/QueryExecutionResults"
            }
          }
        },
        "summary": "Get Query Execution by ID",
        "description": "Get Query Execution by ID",
        "operationId": "GetQueryExecutionById",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The ID of the query execution used when running a workflow.",
            "description": "Get Query Execution by ID"
          }
        ]
      }
    },
    "/workflow-executions/search": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "$ref": "#/definitions/WorkflowExecutionsSearch"
            }
          }
        },
        "summary": "Workflow Executions Search",
        "description": "Workflow Executions Search",
        "operationId": "WorkflowExecutionsSearch",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "limit",
                  "default": 1
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "offset",
                  "default": 0
                },
                "orders": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "path": {
                        "type": "string",
                        "description": "path",
                        "default": "created"
                      },
                      "direction": {
                        "type": "string",
                        "description": "direction",
                        "default": "Descending"
                      }
                    }
                  },
                  "description": "order by"
                },
                "predicate": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string",
                      "description": "path",
                      "default": "parent.id"
                    },
                    "value": {
                      "type": "string",
                      "description": "id of the workflow previously executed"
                    },
                    "comparator": {
                      "type": "string",
                      "description": "comparator",
                      "default": "EqualTo"
                    }
                  },
                  "description": "predicate"
                }
              }
            }
          }
        ]
      }
    },
    "/workflow-executions": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "$ref": "#/definitions/WorkflowExecutions"
            }
          }
        },
        "summary": "Workflow Executions",
        "description": "Workflow Executions",
        "operationId": "WorkflowExecutions",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "parent": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the workflow to execute"
                    }
                  },
                  "description": "parent"
                }
              }
            }
          }
        ]
      }
    },
    "/workflows/search": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "$ref": "#/definitions/WorkflowsSearch"
            }
          }
        },
        "summary": "Workflows Search",
        "description": "Workflows Search",
        "operationId": "WorkflowsSearch",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "offset",
                  "default": 0
                },
                "orders": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "path": {
                        "type": "string",
                        "description": "path",
                        "default": "name"
                      },
                      "direction": {
                        "type": "string",
                        "description": "direction",
                        "default": "Ascending"
                      }
                    }
                  },
                  "description": "orders"
                },
                "predicate": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string",
                      "description": "path",
                      "default": "group.id"
                    },
                    "value": {
                      "type": "string",
                      "description": "ID of the group you wish to find workflows in."
                    },
                    "comparator": {
                      "type": "string",
                      "description": "comparator",
                      "default": "EqualTo"
                    }
                  },
                  "description": "predicate"
                }
              }
            }
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://datablend.com"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://datablend.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Finance;Productivity"
    }
  ],
  "definitions": {
    "WorkflowsSearch": {
      "type": "object",
      "properties": {
        "predicate": {
          "$ref": "#/definitions/Predicate"
        },
        "offset": {
          "description": "Starting Array Number",
          "type": "integer",
          "format": "int32"
        },
        "limit": {
          "description": "Number of results to show",
          "type": "integer",
          "format": "int32"
        },
        "orders": {
          "description": "Sort Order",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Orders"
          }
        },
        "totalResults": {
          "description": "Total results",
          "type": "integer",
          "format": "int32"
        },
        "results": {
          "description": "Results",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkflowSearchResults"
          }
        }
      }
    },
    "WorkflowSearchResults": {
      "type": "object",
      "properties": {
        "schedule": {
          "type": "string",
          "description": "Schedule"
        },
        "isPaused": {
          "type": "boolean",
          "description": "Is Paused"
        },
        "parameters": {
          "type": "array",
          "description": "Parameters",
          "items": {
            "$ref": "#/definitions/Parameters"
          }
        },
        "name": {
          "type": "string",
          "description": "Workflow Name"
        },
        "ownableType": {
          "type": "string",
          "description": "Ownable Type"
        },
        "created": {
          "type": "string",
          "format": "date-time",
          "description": "Created"
        },
        "updated": {
          "type": "string",
          "format": "date-time",
          "description": "Updated"
        },
        "createdBy": {
          "$ref": "#/definitions/CreateUpdateBy"
        },
        "updatedBy": {
          "$ref": "#/definitions/CreateUpdateBy"
        },
        "group": {
          "$ref": "#/definitions/Groups"
        },
        "id": {
          "type": "string",
          "description": "Workflow Search Id"
        }
      }
    },
    "WorkflowExecutions": {
      "type": "object",
      "properties": {
        "steps": {
          "type": "array",
          "description": "Workflow steps",
          "items": {
            "$ref": "#/definitions/Steps"
          }
        },
        "parameters": {
          "type": "array",
          "description": "Workflow parameters",
          "items": {
            "$ref": "#/definitions/Parameters"
          }
        },
        "parent": {
          "$ref": "#/definitions/Parent"
        },
        "created": {
          "type": "string",
          "format": "date-time",
          "description": "Results Created"
        },
        "updated": {
          "type": "string",
          "format": "date-time",
          "description": "Results Updated"
        },
        "started": {
          "type": "string",
          "format": "date-time",
          "description": "Results Started"
        },
        "completed": {
          "type": "string",
          "format": "date-time",
          "description": "Results Completed"
        },
        "state": {
          "type": "string",
          "description": "Result State"
        },
        "statusMessage": {
          "type": "string",
          "description": "Status Message"
        },
        "createdBy": {
          "$ref": "#/definitions/CreateUpdateBy"
        },
        "updatedBy": {
          "$ref": "#/definitions/CreateUpdateBy"
        },
        "cancelBy": {
          "$ref": "#/definitions/CreateUpdateBy"
        },
        "jobId": {
          "type": "string",
          "description": "Job ID"
        },
        "scheduled": {
          "type": "boolean",
          "description": "Scheduled"
        },
        "hasWarnings": {
          "type": "boolean",
          "description": "Has Warnings"
        },
        "timeout": {
          "format": "int32",
          "type": "integer",
          "description": "Timeout"
        },
        "id": {
          "type": "string",
          "description": "Workflow Execution Query Result ID"
        }
      }
    },
    "WorkflowExecutionsSearch": {
      "type": "object",
      "properties": {
        "predicate": {
          "$ref": "#/definitions/Predicate"
        },
        "offset": {
          "description": "Starting Array Number",
          "type": "integer",
          "format": "int32"
        },
        "limit": {
          "description": "Number of results to show",
          "type": "integer",
          "format": "int32"
        },
        "orders": {
          "description": "Sort Order",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Orders"
          }
        },
        "totalResults": {
          "description": "Total results",
          "type": "integer",
          "format": "int32"
        },
        "results": {
          "description": "Results",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkflowExecutionsSearchResults"
          }
        }
      }
    },
    "WorkflowExecutionsSearchResults": {
      "type": "object",
      "description": "Workflow Execution Query Results",
      "properties": {
        "steps": {
          "type": "array",
          "description": "Workflow steps",
          "items": {
            "$ref": "#/definitions/Steps"
          }
        },
        "parameters": {
          "type": "array",
          "description": "Workflow parameters",
          "items": {
            "$ref": "#/definitions/Parameters"
          }
        },
        "parent": {
          "$ref": "#/definitions/Parent"
        },
        "created": {
          "type": "string",
          "format": "date-time",
          "description": "Results Created"
        },
        "updated": {
          "type": "string",
          "format": "date-time",
          "description": "Results Updated"
        },
        "started": {
          "type": "string",
          "format": "date-time",
          "description": "Results Started"
        },
        "completed": {
          "type": "string",
          "format": "date-time",
          "description": "Results Completed"
        },
        "state": {
          "type": "string",
          "description": "Result State"
        },
        "statusMessage": {
          "type": "string",
          "description": "Status Message"
        },
        "createdBy": {
          "$ref": "#/definitions/CreateUpdateBy"
        },
        "updatedBy": {
          "$ref": "#/definitions/CreateUpdateBy"
        },
        "cancelBy": {
          "$ref": "#/definitions/CreateUpdateBy"
        },
        "jobId": {
          "type": "string",
          "description": "Job ID"
        },
        "scheduled": {
          "type": "boolean",
          "description": "Scheduled"
        },
        "hasWarnings": {
          "type": "boolean",
          "description": "Has Warnings"
        },
        "timeout": {
          "format": "int32",
          "type": "integer",
          "description": "Timeout"
        },
        "id": {
          "type": "string",
          "description": "Workflow Execution Query Result ID"
        }
      }
    },
    "Parent": {
      "type": "object",
      "properties": {
        "schedule": {
          "description": "Schedule",
          "type": "string"
        },
        "isPaused": {
          "description": "Is Paused",
          "type": "boolean"
        },
        "parameters": {
          "type": "array",
          "description": "Parameters",
          "items": {
            "$ref": "#/definitions/Parameters"
          }
        },
        "name": {
          "description": "Name",
          "type": "string"
        },
        "ownableType": {
          "description": "Credential",
          "type": "string"
        },
        "created": {
          "type": "string",
          "format": "date-time",
          "description": "Created"
        },
        "updated": {
          "type": "string",
          "format": "date-time",
          "description": "Updated"
        },
        "createdBy": {
          "$ref": "#/definitions/CreateUpdateBy"
        },
        "updatedBy": {
          "$ref": "#/definitions/CreateUpdateBy"
        },
        "group": {
          "$ref": "#/definitions/Groups"
        },
        "id": {
          "type": "string",
          "description": "Parent ID"
        }
      }
    },
    "CreateUpdateBy": {
      "type": "object",
      "properties": {
        "created": {
          "type": "string",
          "format": "date-time",
          "description": "Created"
        },
        "profile": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "Profile Name"
            },
            "id": {
              "type": "string",
              "description": "Profile Id"
            }
          }
        },
        "id": {
          "type": "string",
          "description": "Created by ID"
        }
      }
    },
    "Steps": {
      "type": "object",
      "properties": {
        "started": {
          "format": "date-time",
          "description": "DateTime workflow step started",
          "type": "string"
        },
        "completed": {
          "format": "date-time",
          "description": "DateTime workflow step completed",
          "type": "string"
        },
        "state": {
          "description": "State of workflow step",
          "type": "string"
        },
        "name": {
          "description": "Name of workflow step",
          "type": "string"
        },
        "taskId": {
          "description": "Task ID of workflow step",
          "type": "string"
        },
        "statusMessage": {
          "description": "Status Message",
          "type": "string"
        },
        "outputs": {
          "$ref": "#/definitions/Outputs"
        },
        "hasWarnings": {
          "type": "boolean",
          "description": "Has warnings"
        },
        "continueOnError": {
          "type": "boolean",
          "description": "Can continue on error"
        }
      }
    },
    "Outputs": {
      "type": "object",
      "properties": {
        "additionalProp1": {
          "description": "Additional Property 1",
          "type": "string"
        },
        "additionalProp2": {
          "description": "Additional Property 2",
          "type": "string"
        },
        "additionalProp3": {
          "description": "Additional Property 3",
          "type": "string"
        }
      }
    },
    "Groups": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Group Name"
        },
        "created": {
          "type": "string",
          "format": "date-time",
          "description": "Group Create DateTime"
        },
        "currentRole": {
          "type": "string",
          "description": "Current Role"
        },
        "historyRetentionDays": {
          "type": "integer",
          "format": "int32",
          "description": "Days to retain data"
        },
        "fiscalYearStartMonth": {
          "type": "integer",
          "format": "int32",
          "description": "Fiscal Year start month"
        },
        "externalId": {
          "type": "string",
          "description": "External ID"
        },
        "id": {
          "type": "string",
          "description": "Group Id"
        }
      }
    },
    "Parameters": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Replace",
          "type": "string"
        },
        "valueType": {
          "description": "Value Type",
          "type": "string"
        },
        "enumType": {
          "description": "Enum type",
          "type": "string"
        },
        "name": {
          "description": "Name",
          "type": "string"
        },
        "value": {
          "description": "Value",
          "type": "string"
        },
        "path": {
          "type": "object"
        },
        "dateFormat": {
          "description": "Date Format",
          "type": "string"
        },
        "calculatedValue": {
          "description": "Calculated Value",
          "type": "string"
        }
      }
    },
    "GroupSearch": {
      "type": "object",
      "properties": {
        "predicate": {
          "$ref": "#/definitions/Predicate"
        },
        "offset": {
          "description": "Starting Array Number",
          "type": "integer",
          "format": "int32"
        },
        "limit": {
          "description": "Number of results to show",
          "type": "integer",
          "format": "int32"
        },
        "orders": {
          "description": "Sort Order",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Orders"
          }
        },
        "totalResults": {
          "description": "Total results",
          "type": "integer",
          "format": "int32"
        },
        "results": {
          "description": "Results",
          "type": "array",
          "items": {
            "$ref": "#/definitions/GroupSearchResults"
          }
        }
      }
    },
    "QueryExecutionResults": {
      "type": "object",
      "properties": {
        "queryExecutionId": {
          "description": "Id of the executed query",
          "type": "string"
        },
        "nextToken": {
          "description": "Next Token",
          "type": "string"
        },
        "columns": {
          "type": "array",
          "description": "Columns",
          "items": {
            "$ref": "#/definitions/QueryExecutionResultsColumns"
          }
        },
        "rows": {
          "type": "object",
          "description": "Rows"
        }
      }
    },
    "QueryExecutionResultsColumns": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name",
          "type": "string"
        },
        "type": {
          "description": "Type",
          "type": "string"
        }
      }
    },
    "Predicate": {
      "type": "object",
      "properties": {
        "id": {
          "description": "ID",
          "type": "string"
        }
      }
    },
    "Orders": {
      "type": "object",
      "properties": {
        "path": {
          "description": "Property path",
          "type": "string"
        },
        "direction": {
          "description": "Ascending or Descending sort",
          "type": "string"
        }
      }
    },
    "GroupSearchResults": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name",
          "type": "string"
        },
        "created": {
          "description": "DateTime string",
          "type": "string"
        },
        "currentRole": {
          "description": "Role",
          "type": "string"
        },
        "historyRetentionDays": {
          "description": "Days to retain data",
          "type": "integer",
          "format": "int32"
        },
        "fiscalYearStartMonth": {
          "description": "Fiscal Year start month",
          "type": "integer",
          "format": "int32"
        },
        "externalId": {
          "description": "External Id string",
          "type": "string"
        },
        "id": {
          "description": "GUID string",
          "type": "string"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://cognito.ml.datablend.com/oauth2/authorize",
      "tokenUrl": "https://cognito.ml.datablend.com/oauth2/token",
      "scopes": {
        "aws.cognito.signin.user.admin openid profile email https://api.datablend.com/default": "aws.cognito.signin.user.admin openid profile email https://api.datablend.com/default"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "aws.cognito.signin.user.admin openid profile email https://api.datablend.com/default"
      ]
    }
  ],
  "tags": []
}