{
  "swagger": "2.0",
  "info": {
    "title": "Tax ID Pro",
    "description": "Tax ID Pro makes it easy to validate over 200 different tax ID formats for over 100+ countries.",
    "version": "1.0",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_tip@gmail.com"
    }
  },
  "host": "v3.api.taxid.pro",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/validate": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "is_valid": {
                  "type": "boolean",
                  "description": "Defines, whether the tax number is valid or not.",
                  "title": "Is valid?"
                },
                "message": {
                  "type": "string",
                  "description": "If the tax number is invalid, this property provides further guidance.",
                  "title": "Message"
                },
                "tin_compact": {
                  "type": "string",
                  "description": "Compact format of the tax number.",
                  "title": "TIN compact"
                },
                "tin_standard": {
                  "type": "string",
                  "description": "Tax number in its standard format.",
                  "title": "TIN standard"
                },
                "country_name": {
                  "type": "string",
                  "description": "Name of the identified country to where the tax number belongs.",
                  "title": "Country name"
                },
                "format_name": {
                  "type": "string",
                  "description": "Name of the tax number format.",
                  "title": "Format name"
                }
              }
            }
          }
        },
        "summary": "Tax ID Validation",
        "operationId": "Validate",
        "description": "The Tax ID Pro API makes it easy to validate tax ID numbers for over 100 countries.",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Country",
            "description": "A two-letter country code, as defined in the ISO standard. If you need to use IRS country codes, see the is_irs query parameter"
          },
          {
            "name": "tin",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "TIN",
            "description": "The tax ID Number. It may contain numbers, letters (uppercase or lowercase), dots, dashes, or slashes."
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Specify type of tax number. Exclude this parameter to test all available types for a given country.",
            "x-ms-summary": "Type",
            "enum": [
              "individual",
              "entity",
              "vat"
            ]
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Locale",
            "description": "Determines the language of the message property in the response. Messages are in English by default.",
            "enum": [
              "auto",
              "nl",
              "en",
              "fr",
              "de",
              "it",
              "jp",
              "ru",
              "es"
            ]
          },
          {
            "name": "is_irs",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "If you are using IRS country codes instead of ISO country codes, set is_irs to true",
            "x-ms-summary": "Is IRS"
          }
        ]
      }
    },
    "/lookup": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "is_valid": {
                  "type": "boolean",
                  "description": "Defines, whether the tax number is valid or not.",
                  "title": "Is valid?"
                },
                "message": {
                  "type": "string",
                  "description": "If the tax number is invalid, this property provides further guidance.",
                  "title": "Message"
                },
                "tin_compact": {
                  "type": "string",
                  "description": "Compact format of the tax number.",
                  "title": "TIN compact"
                },
                "tin_standard": {
                  "type": "string",
                  "description": "Tax number in its standard format.",
                  "title": "TIN standard"
                },
                "country_name": {
                  "type": "string",
                  "description": "Name of the identified country to where the tax number belongs.",
                  "title": "Country name"
                },
                "format_name": {
                  "type": "string",
                  "description": "Name of the tax number format.",
                  "title": "Format name"
                },
                "lookup_data": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Associated name.",
                      "title": "Name"
                    },
                    "address": {
                      "type": "string",
                      "description": "Associated address.",
                      "title": "Address"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Tax ID Lookup",
        "operationId": "Lookup",
        "description": "The lookup endpoint first validates the tax number, then enriches the response with additional data.",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Country",
            "description": "A two-letter country code, as defined in the ISO standard. If you need to use IRS country codes, see the is_irs query parameter"
          },
          {
            "name": "tin",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "TIN",
            "description": "The tax ID Number. It may contain numbers, letters (uppercase or lowercase), dots, dashes, or slashes."
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Specify type of tax number. Exclude this parameter to test all available types for a given country.",
            "x-ms-summary": "Type",
            "enum": [
              "individual",
              "entity",
              "vat"
            ]
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Locale",
            "description": "Determines the language of the message property in the response. Messages are in English by default.",
            "enum": [
              "auto",
              "nl",
              "en",
              "fr",
              "de",
              "it",
              "jp",
              "ru",
              "es"
            ]
          },
          {
            "name": "is_irs",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "If you are using IRS country codes instead of ISO country codes, set is_irs to true",
            "x-ms-summary": "Is IRS"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "api_key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://taxid.pro/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://taxid.pro/docs/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}