{
  "swagger": "2.0",
  "info": {
    "title": "Seismic MCP",
    "contact": {
      "name": "Seismic",
      "email": "support@seismic.com",
      "url": "https://seismic.com"
    },
    "license": {
      "name": "seismic"
    },
    "description": "Access and retrieve sales enablement content from the Seismic platform using AI-powered generative search.",
    "version": "1.0.0"
  },
  "host": "mcp.seismic.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/m365copilot": {
      "post": {
        "responses": {
          "200": {
            "description": "Immediate Response"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "x-ms-agentic-protocol": "mcp-streamable-1.0",
        "operationId": "InvokeServer",
        "summary": "Seismic MCP",
        "description": "Access and retrieve sales enablement content from the Seismic platform using AI-powered generative search.",
        "x-ms-visibility": "advanced"
      }
    }
  },
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://auth.seismic.com/central/connect/authorize",
      "tokenUrl": "https://auth.seismic.com/central/connect/token",
      "scopes": {
        "seismic.mcp offline_access": "seismic.mcp offline_access"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "seismic.mcp offline_access"
      ]
    }
  ],
  "tags": [
    {
      "name": "Seismic MCP"
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://seismic.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://seismic.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Marketing;Sales and CRM"
    }
  ]
}