{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "dan.romano@swolcat.com",
      "name": "Dan Romano",
      "url": "https://developments.substack.com/"
    },
    "title": "GSA Public Comment (Independent Publisher)",
    "version": "4.0",
    "description": "The GSA Public Comment connector provides access to the Regulations.gov public commenting apparatus. Query federal regulatory dockets, documents, and public comments submitted through the US GSA."
  },
  "host": "api.regulations.gov",
  "basePath": "/v4",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/documents": {
      "get": {
        "summary": "List documents",
        "operationId": "GetDocuments",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/GetDocumentsResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        },
        "tags": [
          "documents"
        ],
        "x-ms-visibility": "important",
        "description": "This endpoint returns list of documents"
      }
    },
    "/documents/{documentId}": {
      "get": {
        "summary": "Get document by ID",
        "operationId": "GetDocumentById",
        "x-ms-summary": "Document ID",
        "parameters": [
          {
            "name": "documentId",
            "x-ms-summary": "Document ID",
            "description": "Document ID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/GetDocumentByIdResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        },
        "tags": [
          "documents"
        ],
        "x-ms-visibility": "important",
        "description": "Gets the detailed information of a specific document with the passed documentId"
      }
    },
    "/comments": {
      "get": {
        "summary": "List comments",
        "operationId": "GetComments",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/GetCommentsResponse"
            }
          }
        },
        "tags": [
          "comments"
        ],
        "x-ms-visibility": "important",
        "description": "This endpoint returns list of comments"
      },
      "post": {
        "summary": "Creates a new comment",
        "description": "A JSON object containing comment information",
        "operationId": "PostComments",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        },
        "tags": [
          "comments"
        ],
        "x-ms-visibility": "important"
      }
    },
    "/comments/{commentId}": {
      "get": {
        "summary": "Get comment by ID",
        "operationId": "GetCommentById",
        "parameters": [
          {
            "name": "commentId",
            "x-ms-summary": "Comment ID",
            "description": "Comment ID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/GetCommentByIdResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        },
        "tags": [
          "comments"
        ],
        "x-ms-visibility": "important",
        "description": "Gets the detailed information of a specific comment with the passed commentId"
      }
    },
    "/dockets": {
      "get": {
        "summary": "List dockets",
        "operationId": "GetDockets",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/GetDocketsResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        },
        "tags": [
          "dockets"
        ],
        "x-ms-visibility": "important",
        "description": "This endpoint returns list of dockets"
      }
    },
    "/dockets/{docketId}": {
      "get": {
        "tags": [
          "dockets"
        ],
        "summary": "Get detailed information for specified docketId",
        "description": "Gets the detailed information of a specific docket with the passed docketId",
        "parameters": [
          {
            "name": "docketId",
            "in": "path",
            "x-ms-summary": "Docket ID",
            "description": "ID of docket to return",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DocketFindOneResponse"
            }
          },
          "400": {
            "description": "Validation error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "API key is missing or invalid",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Document not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "operationId": "GetDocketById",
        "x-ms-visibility": "important"
      }
    },
    "/agency-categories": {
      "get": {
        "summary": "List agency categories",
        "operationId": "GetAgencyCategories",
        "parameters": [
          {
            "name": "filter[acronym]",
            "x-ms-summary": "Agency acronym",
            "description": "Agency acronym - FAA, for example",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/GetAgencyCategoriesResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        },
        "tags": [
          "comment submission utilities"
        ],
        "x-ms-visibility": "important",
        "description": "This endpoint returns list of categories"
      }
    },
    "/submission-keys": {
      "post": {
        "summary": "Creates the unique submission key",
        "description": "Creates the unique submission key",
        "operationId": "GetSubmitterKey",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        },
        "tags": [
          "comment submission utilities"
        ],
        "x-ms-visibility": "important"
      }
    },
    "/file-upload-urls": {
      "post": {
        "summary": "Creates a presigned url to upload file",
        "description": "Returns a pre-signed URL to upload a file to the S3 bucket",
        "operationId": "PostFileUploadUrls",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        },
        "tags": [
          "comment submission utilities"
        ],
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "AgencyCategory": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "properties": {
            "default": {
              "type": "boolean"
            },
            "acronym": {
              "type": "string"
            },
            "category": {
              "type": "string"
            }
          }
        },
        "links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "string"
            }
          }
        }
      }
    },
    "GetAgencyCategoriesResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AgencyCategory"
          }
        }
      }
    },
    "Document": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "properties": {
            "documentType": {
              "type": "string"
            },
            "lastModifiedDate": {
              "type": "string"
            },
            "highlightedContent": {
              "type": "string"
            },
            "frDocNum": {
              "type": "string"
            },
            "withdrawn": {
              "type": "boolean"
            },
            "agencyId": {
              "type": "string"
            },
            "allowLateComments": {
              "type": "boolean"
            },
            "commentEndDate": {
              "type": "string"
            },
            "title": {
              "type": "string"
            },
            "postedDate": {
              "type": "string"
            },
            "docketId": {
              "type": "string"
            },
            "subtype": {
              "type": "string"
            },
            "commentStartDate": {
              "type": "string"
            },
            "withinCommentPeriod": {
              "type": "boolean"
            },
            "openForComment": {
              "type": "boolean"
            },
            "objectId": {
              "type": "string"
            }
          }
        },
        "links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "string"
            }
          }
        }
      }
    },
    "GetDocumentsResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Document"
          }
        },
        "meta": {
          "type": "object",
          "properties": {
            "aggregations": {
              "type": "object"
            },
            "filters": {
              "type": "object"
            },
            "hasNextPage": {
              "type": "boolean"
            },
            "hasPreviousPage": {
              "type": "boolean"
            },
            "numberOfElements": {
              "type": "integer"
            },
            "pageNumber": {
              "type": "integer"
            },
            "pageSize": {
              "type": "integer"
            },
            "totalElements": {
              "type": "integer"
            },
            "totalPages": {
              "type": "integer"
            },
            "firstPage": {
              "type": "boolean"
            },
            "lastPage": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "GetDocumentByIdResponse": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/Document"
        }
      }
    },
    "Comment": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "properties": {
            "documentType": {
              "type": "string"
            },
            "lastModifiedDate": {
              "type": "string"
            },
            "highlightedContent": {
              "type": "string"
            },
            "withdrawn": {
              "type": "boolean"
            },
            "agencyId": {
              "type": "string"
            },
            "title": {
              "type": "string"
            },
            "objectId": {
              "type": "string"
            },
            "postedDate": {
              "type": "string"
            }
          }
        },
        "links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "string"
            }
          }
        }
      }
    },
    "GetCommentsResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Comment"
          }
        },
        "meta": {
          "type": "object",
          "properties": {
            "aggregations": {
              "type": "object"
            },
            "filters": {
              "type": "object"
            },
            "hasNextPage": {
              "type": "boolean"
            },
            "hasPreviousPage": {
              "type": "boolean"
            },
            "numberOfElements": {
              "type": "integer"
            },
            "pageNumber": {
              "type": "integer"
            },
            "pageSize": {
              "type": "integer"
            },
            "totalElements": {
              "type": "integer"
            },
            "totalPages": {
              "type": "integer"
            },
            "firstPage": {
              "type": "boolean"
            },
            "lastPage": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "GetCommentByIdResponse": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/Comment"
        }
      }
    },
    "Docket": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "properties": {
            "docketType": {
              "type": "string"
            },
            "lastModifiedDate": {
              "type": "string",
              "format": "date-time"
            },
            "highlightedContent": {
              "type": "string"
            },
            "agencyId": {
              "type": "string"
            },
            "title": {
              "type": "string"
            },
            "objectId": {
              "type": "string"
            }
          }
        },
        "links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "string"
            }
          }
        }
      }
    },
    "GetDocketsResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Docket"
          }
        },
        "meta": {
          "type": "object",
          "properties": {
            "aggregations": {
              "type": "object"
            },
            "filters": {
              "type": "object"
            },
            "hasNextPage": {
              "type": "boolean"
            },
            "hasPreviousPage": {
              "type": "boolean"
            },
            "numberOfElements": {
              "type": "integer"
            },
            "pageNumber": {
              "type": "integer"
            },
            "pageSize": {
              "type": "integer"
            },
            "totalElements": {
              "type": "integer"
            },
            "totalPages": {
              "type": "integer"
            },
            "firstPage": {
              "type": "boolean"
            },
            "lastPage": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "DocketFindOneResponse": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/Docket"
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-Api-Key"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://open.gsa.gov/api/regulationsgov/#overview"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.regulations.gov/privacy-notice"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations"
    }
  ]
}