{
  "swagger": "2.0",
  "info": {
    "title": "PDFco",
    "description": "PDF.co extracts data from pdf, splits pdf, merges pdf, converts PDF, translates PDF, adds and removes security options and other PDF tools. PDF.co API platform is trusted by 50,000+ users. It's Secure and Scalable and powered by AI, ML and OCR.",
    "version": "1.0",
    "contact": {
      "email": "plugins@bytescout.com",
      "name": "PDF.co Support",
      "url": "https://support.bytescout.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://pdf.co/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://pdf.co/pages/legal/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Data"
    }
  ],
  "host": "api.pdf.co",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": [
    "application/json",
    "application/x-www-form-urlencoded"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/pdf/convert/from/html": {
      "post": {
        "responses": {
          "200": {
            "description": "OK, success",
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "",
                  "title": "url",
                  "x-ms-visibility": "important"
                },
                "pageCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "pageCount",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "string",
                  "description": "",
                  "title": "error",
                  "enum": ["", "true", "false"],
                  "x-ms-visibility": "important"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "status",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "description": "",
                  "title": "name",
                  "x-ms-visibility": "advanced"
                },
                "credits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "credits",
                  "x-ms-visibility": "advanced"
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "duration",
                  "x-ms-visibility": "advanced"
                },
                "remainingCredits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "remainingCredits",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        },
        "summary": "HTML to PDF",
        "description": "Convert HTML code snippet into full featured PDF.",
        "operationId": "HTML_to_PDF",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "html": {
                  "type": "string",
                  "description": "Input HTML code to be converted.",
                  "title": "html",
                  "format": "html",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "description": "Base file name for new PDF files.",
                  "title": "name",
                  "x-ms-visibility": "advanced"
                },
                "margins": {
                  "type": "string",
                  "description": "Override default margins with custom values (the order is `top right bottom left`). You can als set all margins: `10px`, `5mm`, `5in` for all sides.",
                  "title": "margins",
                  "default": "5px 5px 5px 5px",
                  "x-ms-visibility": "advanced"
                },
                "paperSize": {
                  "type": "string",
                  "description": "Select PDF paper size. Can be Letter, Legal, Tabloid, Ledger, A0, A1, A2, A3, A4, A5, A6 or a custom size. Custom size can be set in px (pixels), mm or in (inches) with width and height separated by space like this: 200 300, 200px 300px, 200mm 300mm, 20cm 30cm or 6in 8in.",
                  "title": "paperSize",
                  "default": "Letter",
                  "x-ms-visibility": "important",
                  "enum": [
                    "Letter",
                    "Legal",
                    "Tabloid",
                    "Ledger",
                    "A0",
                    "A1",
                    "A2",
                    "A3",
                    "A4",
                    "A5",
                    "A6"
                  ]
                },
                "orientation": {
                  "type": "string",
                  "description": "Select PDF page orientation.",
                  "title": "orientation",
                  "default": "portrait",
                  "enum": ["portrait", "landscape"],
                  "x-ms-visibility": "important"
                },
                "printBackground": {
                  "type": "boolean",
                  "description": "Print Background",
                  "title": "printBackground",
                  "enum": [true, false],
                  "default": true,
                  "x-ms-visibility": "advanced"
                },
                "header": {
                  "type": "string",
                  "description": "Set to HTML for header to be applied on every page at the header.",
                  "title": "header",
                  "format": "html",
                  "x-ms-visibility": "advanced"
                },
                "footer": {
                  "type": "string",
                  "description": "Set to HTML for footer to be applied on every page at the bottom.",
                  "title": "footer",
                  "format": "html",
                  "x-ms-visibility": "advanced"
                },
                "async": {
                  "type": "boolean",
                  "description": "Set to true to run as async job in background",
                  "title": "async",
                  "enum": [true, false],
                  "x-ms-visibility": "advanced",
                  "default": false
                },
                "encrypt": {
                  "type": "boolean",
                  "description": "",
                  "title": "encrypt",
                  "enum": [true, false],
                  "x-ms-visibility": "internal"
                }
              },
              "required": ["html"]
            }
          }
        ]
      }
    },
    "/v1/pdf/convert/from/url": {
      "post": {
        "responses": {
          "200": {
            "description": "OK, Success",
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "",
                  "title": "url",
                  "x-ms-visibility": "important"
                },
                "pageCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "pageCount",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "string",
                  "description": "",
                  "title": "error",
                  "enum": ["", "true", "false"],
                  "x-ms-visibility": "important"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "status",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "description": "",
                  "title": "name",
                  "x-ms-visibility": "advanced"
                },
                "credits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "credits",
                  "x-ms-visibility": "advanced"
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "duration",
                  "x-ms-visibility": "advanced"
                },
                "remainingCredits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "remainingCredits",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        },
        "summary": "URL to PDF",
        "description": "Create PDF from URL",
        "operationId": "URL_to_PDF",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "Link to input HTML file or website page to be converted. You can pass link to file from Google Drive, Dropbox or another online file service that can generate shareable links.",
                  "title": "url",
                  "x-ms-visibility": "important"
                },
                "margins": {
                  "type": "string",
                  "description": "set to css style margins like 10px, 5mm, 5in for all sides or 5px 5px 5px 5px (the order of margins is top, right, bottom, left).",
                  "title": "margins",
                  "x-ms-visibility": "advanced",
                  "default": "5mm"
                },
                "paperSize": {
                  "type": "string",
                  "description": "Letter is set by default. Can be Letter, Legal, Tabloid, Ledger, A0, A1, A2, A3, A4, A5, A6 or a custom size. Custom size can be set in px (pixels), mm or in (inches) with width and height separated by space like this: 200 300, 200px 300px, 200mm 300mm, 20cm 30cm or 6in 8in.",
                  "title": "paperSize",
                  "default": "Letter",
                  "x-ms-visibility": "advanced"
                },
                "orientation": {
                  "type": "string",
                  "description": "Output page orientation",
                  "title": "orientation",
                  "default": "Portrait",
                  "x-ms-visibility": "advanced",
                  "enum": ["Portrait", "Landscape"]
                },
                "printBackground": {
                  "type": "boolean",
                  "description": "enable/disable printing of background",
                  "title": "printBackground",
                  "enum": [true, false],
                  "default": true
                },
                "header": {
                  "type": "string",
                  "description": "Set to HTML for header to be applied on every page at the header.",
                  "title": "header",
                  "format": "html",
                  "x-ms-visibility": "advanced"
                },
                "footer": {
                  "type": "string",
                  "description": "Set to HTML for footer to be applied on every page at the bottom.",
                  "title": "footer",
                  "format": "html",
                  "x-ms-visibility": "advanced"
                },
                "async": {
                  "type": "boolean",
                  "description": "",
                  "title": "async",
                  "enum": [true, false],
                  "default": false,
                  "x-ms-visibility": "advanced"
                },
                "encrypt": {
                  "type": "boolean",
                  "description": "",
                  "title": "encrypt",
                  "enum": [true, false],
                  "x-ms-visibility": "internal"
                },
                "profiles": {
                  "type": "object",
                  "properties": {
                    "CustomScript": {
                      "type": "string",
                      "description": "",
                      "title": "profiles",
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "description": "profiles"
                }
              },
              "required": ["url"]
            }
          }
        ]
      }
    },
    "/v1/pdf/edit/add": {
      "post": {
        "responses": {
          "200": {
            "description": "OK, success",
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "",
                  "title": "url",
                  "x-ms-visibility": "important"
                },
                "pageCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "pageCount",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "string",
                  "description": "",
                  "title": "error",
                  "enum": ["", "true", "false"],
                  "x-ms-visibility": "important"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "status",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "description": "",
                  "title": "name",
                  "x-ms-visibility": "advanced"
                },
                "credits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "credits",
                  "x-ms-visibility": "advanced"
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "duration",
                  "x-ms-visibility": "advanced"
                },
                "remainingCredits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "remainingCredits",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        },
        "summary": "PDF Filler",
        "description": "Add text, images, signatures to pdf. Fill PDF form fields and create new pdf from templates",
        "operationId": "PDF_Filler",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "async": {
                  "type": "boolean",
                  "description": "",
                  "title": "async",
                  "enum": [true, false],
                  "default": false,
                  "x-ms-visibility": "advanced"
                },
                "encrypt": {
                  "type": "boolean",
                  "description": "",
                  "title": "encrypt",
                  "enum": [true, false],
                  "x-ms-visibility": "internal"
                },
                "inline": {
                  "type": "boolean",
                  "description": "",
                  "title": "inline",
                  "enum": [true, false],
                  "x-ms-visibility": "internal"
                },
                "name": {
                  "type": "string",
                  "description": "Output PDF Name",
                  "title": "name",
                  "x-ms-visibility": "advanced"
                },
                "url": {
                  "type": "string",
                  "description": "Url to the input PDF document",
                  "title": "url",
                  "x-ms-visibility": "important"
                },
                "annotationsString": {
                  "type": "string",
                  "description": "Each text object should be defined as \"x;y;page;text\" where `;` is the separator between params. Advanced version: `x;y;pages;text;fontsize+bold+italic+underline+strikeout;fontname;fontcolor;link;transparent;width;height;alignment`. Pages starts at `0` (zero), set multiple pages as comma-separated ranges like `0,1-2,5,7-` where `7-` means pages from 7th to the last one. Use dash for a range (ex. `-2` = from second to the last page). Use `!` to count page index from the last page, for example `!0` means the very last page, `!1` means penultimate page and so on. Example: `20;20;0-;Sample Text` or `20;20;0-;Sample Text;24+bold+italic+underline+strikeout;Arial;FF0000;www.pdf.co;false;120;100;right`. If you need to insert `;` symbol then escape it with `\\\\` like this `\\\\;`. To get `X` and `Y` coordinates in your PDF file please use PDF.co Simple PDF Viewer at \"https://app.pdf.co/pdfviewer\".",
                  "title": "annotationsString",
                  "x-ms-visibility": "important",
                  "default": "10;10;0;some text here;14;Arial"
                },
                "imagesString": {
                  "type": "string",
                  "description": "Each image is defined as `x;y;page;urltoimage;link;width;height` where `;` separates parameters. Page index starts at `0`, you can set page range using `-`, for example: `0,1-2,5,7-`. `7-` means from 7th page to the last one. Use `!` to for inverted page index, for example: `!0` means the very last page, `!1` means pennultimate page and so on.  Example: `20;80;0-;bytescout-com.s3-us-west-2.amazonaws.com/files/demo-files/cloud-api/pdf-edit/logo.png`. Advanced example: `20;80;0-;bytescout-com.s3-us-west-2.amazonaws.com/files/demo-files/cloud-api/pdf-edit/logo.png;www.pdf.co;200;200`.\\r\\n\\r\\nTo get `X` and `Y` coordinates use PDF.co Simple PDF Viewer at \"https://app.pdf.co/pdfviewer\")\". You can create datauri for your signature at \"https://app.pdf.co/make-signature\")\" or convert image to datauri at \"https://app.pdf.co/image-to-base64\".",
                  "title": "imagesString",
                  "default": "10;80;0;https://bytescout-com.s3-us-west-2.amazonaws.com/files/demo-files/cloud-api/pdf-edit/logo.png",
                  "x-ms-visibility": "important"
                },
                "fieldsString": {
                  "type": "string",
                  "description": "Value to fill into a fillable field should be defined as: `page;fieldName;value` where `;` is the separator between params. View field names in pdf forms using https://app.pdf.co/pdf-info.",
                  "title": "fieldsString",
                  "default": "0;editbox1;value for a field",
                  "x-ms-visibility": "important"
                }
              },
              "required": ["url"]
            }
          }
        ]
      }
    },
    "/v1/pdf/merge2": {
      "post": {
        "responses": {
          "200": {
            "description": "OK, success",
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "",
                  "title": "url",
                  "x-ms-visibility": "important"
                },
                "pageCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "pageCount",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "string",
                  "description": "",
                  "title": "error",
                  "enum": ["", "true", "false"],
                  "x-ms-visibility": "important"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "status",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "description": "",
                  "title": "name",
                  "x-ms-visibility": "advanced"
                },
                "credits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "credits",
                  "x-ms-visibility": "advanced"
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "duration",
                  "x-ms-visibility": "advanced"
                },
                "remainingCredits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "remainingCredits",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        },
        "summary": "Merge PDF",
        "operationId": "Merge_PDF",
        "description": "Merge multiple documents into one new single PDF. Supports many file formats. For example, pdf, doc, docx, xls, jpg, png, etc.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The comma-separated list of links to PDFs, documents, spreadsheets, images. Enable `Auto-convert` option to support non-PDF files. Supports links to external sites, `filetoken://..` from PDF.co Files storage and links to G Drive, Dropbox and other services. Links should be accessible without password. For password protected PDF files, use PDF Security module first to unlock input pdf.",
                  "title": "url",
                  "default": "https://bytescout-com.s3-us-west-2.amazonaws.com/files/demo-files/cloud-api/pdf-merge/sample1.pdf,https://bytescout-com.s3-us-west-2.amazonaws.com/files/demo-files/cloud-api/other/Input.xls, https://bytescout-com.s3-us-west-2.amazonaws.com/files/demo-files/cloud-api/pdf-merge/images-and-documents.zip",
                  "x-ms-visibility": "important"
                },
                "async": {
                  "type": "boolean",
                  "description": "",
                  "title": "async",
                  "enum": [true, false],
                  "default": false,
                  "x-ms-visibility": "advanced"
                }
              },
              "required": ["url"]
            }
          }
        ]
      }
    },
    "/v1/pdf/split": {
      "post": {
        "responses": {
          "200": {
            "description": "OK, success",
            "schema": {
              "type": "object",
              "properties": {
                "urls": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "urls"
                },
                "pageCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "pageCount"
                },
                "error": {
                  "type": "boolean",
                  "description": "error"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "credits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "credits"
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "duration"
                },
                "remainingCredits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "remainingCredits"
                }
              }
            }
          }
        },
        "summary": "Split PDF",
        "description": "Splits pages from PDF document into multiple new PDF files using page numbers and page ranges",
        "operationId": "Split_PDF",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "Url to the source PDF document",
                  "title": "url",
                  "x-ms-visibility": "important",
                  "default": "https://bytescout-com.s3.amazonaws.com/files/demo-files/cloud-api/pdf-split/sample.pdf"
                },
                "pages": {
                  "type": "string",
                  "description": "Comma-separated list of page indices (or ranges) to split into. First page is 1 (one). Example: \"1,2-5,7-\". Special cases: to extract each page into separate PDF use to `*`.",
                  "title": "pages",
                  "default": "1-2,3-",
                  "x-ms-visibility": "important"
                },
                "inline": {
                  "type": "boolean",
                  "description": "",
                  "title": "inline",
                  "enum": [true, false],
                  "x-ms-visibility": "internal"
                },
                "name": {
                  "type": "string",
                  "description": "Base file name for new PDF files",
                  "title": "name",
                  "x-ms-visibility": "advanced"
                },
                "async": {
                  "type": "boolean",
                  "description": "",
                  "title": "async",
                  "enum": [true, false],
                  "default": false,
                  "x-ms-visibility": "advanced"
                }
              },
              "required": ["url", "pages"]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}
