{
  "swagger": "2.0",
  "info": {
    "title": "PDFco",
    "description": "PDF.co is the set of PDF tools from Data extraction to Document Parser. Generate PDF, Read unstructured PDF, Fill PDF Forms, Add Text/Images to PDF, Split PDF, Merge PDF, Convert Pdf tables to CSV, JSON, XML and much more.",
    "version": "2.0",
    "contact": {
      "email": "plugins@bytescout.com",
      "name": "PDF.co Support",
      "url": "https://support.bytescout.com"
    }
  },
  "host": "api.pdf.co",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "application/x-www-form-urlencoded"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/pdf/convert/from/html": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "Output document URL.",
                  "title": "URL",
                  "x-ms-visibility": "important"
                },
                "jobId": {
                  "type": "string",
                  "description": "jobId",
                  "title": "Job Id"
                },
                "pageCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of pages in the output document.",
                  "title": "Page Count",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "boolean",
                  "description": "Indicates whether the operation is successful or not.",
                  "title": "Error",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "important"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status code for HTTP response",
                  "title": "Status Code",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "description": "Output document name",
                  "title": "Name",
                  "x-ms-visibility": "advanced"
                },
                "credits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PDF.co credits used for this request",
                  "title": "Credits",
                  "x-ms-visibility": "advanced"
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Request execution duration",
                  "title": "Duration",
                  "x-ms-visibility": "advanced"
                },
                "remainingCredits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PDF.co account remaining credits",
                  "title": "Remaining Credits",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served."
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect."
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error. The server has encountered an error and is unable to process your request at this time."
          }
        },
        "summary": "HTML to PDF",
        "description": "Convert HTML code snippet into full featured PDF. Please see api documentation at https://developer.pdf.co/api/pdf-to-html/index.html for comprehensive guidelines.",
        "operationId": "HtmlToPdf",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "html": {
                  "type": "string",
                  "description": "Input HTML code to be converted.",
                  "title": "HTML",
                  "format": "html",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "description": "Base file name for new PDF files.",
                  "title": "Name",
                  "x-ms-visibility": "advanced"
                },
                "margins": {
                  "type": "string",
                  "description": "Override default margins with custom values (the order is `top right bottom left`). You can als set all margins: `10px`, `5mm`, `5in` for all sides.",
                  "title": "margins",
                  "default": "5px 5px 5px 5px",
                  "x-ms-visibility": "advanced"
                },
                "paperSize": {
                  "type": "string",
                  "description": "Select PDF paper size. Can be Letter, Legal, Tabloid, Ledger, A0, A1, A2, A3, A4, A5, A6 or a custom size. Custom size can be set in px (pixels), mm or in (inches) with width and height separated by space like this: 200 300, 200px 300px, 200mm 300mm, 20cm 30cm or 6in 8in.",
                  "title": "Paper Size",
                  "default": "Letter",
                  "x-ms-visibility": "important",
                  "enum": [
                    "Letter",
                    "Legal",
                    "Tabloid",
                    "Ledger",
                    "A0",
                    "A1",
                    "A2",
                    "A3",
                    "A4",
                    "A5",
                    "A6"
                  ]
                },
                "orientation": {
                  "type": "string",
                  "description": "PDF page orientation.",
                  "title": "Orientation",
                  "default": "portrait",
                  "enum": [
                    "portrait",
                    "landscape"
                  ],
                  "x-ms-visibility": "important"
                },
                "printBackground": {
                  "type": "boolean",
                  "description": "Enable or disable printing of document background",
                  "title": "Print Background",
                  "enum": [
                    true,
                    false
                  ],
                  "default": true,
                  "x-ms-visibility": "advanced"
                },
                "header": {
                  "type": "string",
                  "description": "Set to HTML for header to be applied on every page at the header.",
                  "title": "Header",
                  "format": "html",
                  "x-ms-visibility": "advanced"
                },
                "footer": {
                  "type": "string",
                  "description": "Set to HTML for footer to be applied on every page at the bottom.",
                  "title": "Footer",
                  "format": "html",
                  "x-ms-visibility": "advanced"
                },
                "expiration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Set the expiration time for the output link in minutes (default is 60 i.e 60 minutes or 1 hour), After this specified duration, any generated output file(s) will be automatically deleted from PDF.co temporary files storage. The maximum duration for link expiration varies based on your current subscription plan.",
                  "title": "Expiration",
                  "x-ms-visibility": "advanced",
                  "default": 60
                },
                "profiles": {
                  "type": "string",
                  "description": "This parameter can be used to set additional configurations for fine-tuning and to enable more options. Visit PDF.co knowledgebase (https://developer.pdf.co/api/profiles/index.html) for profile examples and more.",
                  "title": "Profiles",
                  "x-ms-visibility": "advanced"
                },
                "async": {
                  "type": "boolean",
                  "description": "Set to true for long processes to run in the background, API will then return a jobId which you can use with JobCheck endpoint to check the status of the process and retrieve the output while you can proceed with other tasks without waiting for this process to finish.",
                  "title": "Async",
                  "default": false,
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "html"
              ]
            }
          }
        ]
      }
    },
    "/v1/pdf/convert/from/url": {
      "post": {
        "responses": {
          "200": {
            "description": "OK, Success",
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "Output document URL.",
                  "title": "URL",
                  "x-ms-visibility": "important"
                },
                "jobId": {
                  "type": "string",
                  "description": "jobId",
                  "title": "Job Id"
                },
                "pageCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of pages in the output document.",
                  "title": "Page Count",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "boolean",
                  "description": "Indicates whether the operation is successful or not.",
                  "title": "Error",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "important"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status code for HTTP response",
                  "title": "Status Code",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "description": "Output document name",
                  "title": "Name",
                  "x-ms-visibility": "advanced"
                },
                "credits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PDF.co credits used for this request",
                  "title": "Credits",
                  "x-ms-visibility": "advanced"
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Request execution duration",
                  "title": "Duration",
                  "x-ms-visibility": "advanced"
                },
                "remainingCredits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PDF.co account remaining credits",
                  "title": "Remaining Credits",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served."
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect."
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error. The server has encountered an error and is unable to process your request at this time."
          }
        },
        "summary": "URL to PDF",
        "description": "Create PDF from URL. Please see api documentation at https://developer.pdf.co/api/pdf-from-url/index.html for comprehensive guidelines.",
        "operationId": "UrlToPdf",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "Link to input HTML file or website page to be converted. You can pass link to file from Google Drive, Dropbox or another online file service that can generate shareable links.",
                  "title": "URL",
                  "x-ms-visibility": "important"
                },
                "margins": {
                  "type": "string",
                  "description": "Margins to be used in output document. Set to css style margins like 10px, 5mm, 5in for all sides or 5px 5px 5px 5px (the order of margins is top, right, bottom, left).",
                  "title": "Margins",
                  "x-ms-visibility": "advanced",
                  "default": "5mm"
                },
                "paperSize": {
                  "type": "string",
                  "description": "Letter is set by default. Can be Letter, Legal, Tabloid, Ledger, A0, A1, A2, A3, A4, A5, A6 or a custom size. Custom size can be set in px (pixels), mm or in (inches) with width and height separated by space like this: 200 300, 200px 300px, 200mm 300mm, 20cm 30cm or 6in 8in.",
                  "title": "Paper Size",
                  "default": "Letter",
                  "x-ms-visibility": "advanced"
                },
                "orientation": {
                  "type": "string",
                  "description": "Output page orientation",
                  "title": "Orientation",
                  "default": "Portrait",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "Portrait",
                    "Landscape"
                  ]
                },
                "printBackground": {
                  "type": "boolean",
                  "description": "Enable or disable printing of document background",
                  "title": "Print Background",
                  "enum": [
                    true,
                    false
                  ],
                  "default": true
                },
                "header": {
                  "type": "string",
                  "description": "Set to HTML for header to be applied on every page at the header.",
                  "title": "Header",
                  "format": "html",
                  "x-ms-visibility": "advanced"
                },
                "footer": {
                  "type": "string",
                  "description": "Set to HTML for footer to be applied on every page at the bottom.",
                  "title": "Footer",
                  "format": "html",
                  "x-ms-visibility": "advanced"
                },
                "expiration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Set the expiration time for the output link in minutes (default is 60 i.e 60 minutes or 1 hour), After this specified duration, any generated output file(s) will be automatically deleted from PDF.co temporary files storage. The maximum duration for link expiration varies based on your current subscription plan.",
                  "title": "Expiration",
                  "x-ms-visibility": "advanced",
                  "default": 60
                },
                "profiles": {
                  "type": "string",
                  "description": "This parameter can be used to set additional configurations for fine-tuning and to enable more options. Visit PDF.co knowledgebase (https://developer.pdf.co/api/profiles/index.html) for profile examples and more.",
                  "title": "Profiles",
                  "x-ms-visibility": "advanced"
                },
                "async": {
                  "type": "boolean",
                  "description": "Set to true for long processes to run in the background, API will then return a jobId which you can use with JobCheck endpoint to check the status of the process and retrieve the output while you can proceed with other tasks without waiting for this process to finish.",
                  "title": "Async",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false,
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ]
      }
    },
    "/v1/pdf/edit/add": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "Output document URL.",
                  "title": "URL",
                  "x-ms-visibility": "important"
                },
                "jobId": {
                  "type": "string",
                  "description": "jobId",
                  "title": "Job Id"
                },
                "pageCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of pages in the output document.",
                  "title": "Page Count",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "boolean",
                  "description": "Indicates whether the operation is successful or not.",
                  "title": "Error",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "important"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status code for HTTP response",
                  "title": "Status Code",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "description": "Output document name",
                  "title": "Name",
                  "x-ms-visibility": "advanced"
                },
                "credits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PDF.co credits used for this request",
                  "title": "Credits",
                  "x-ms-visibility": "advanced"
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Request execution duration",
                  "title": "Duration",
                  "x-ms-visibility": "advanced"
                },
                "remainingCredits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PDF.co account remaining credits",
                  "title": "Remaining Credits",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served."
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect."
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error. The server has encountered an error and is unable to process your request at this time."
          }
        },
        "summary": "Add Text, Images, Form Fields to PDF",
        "description": "Add text, images, signatures to pdf. Fill PDF form fields and create new pdf from templates. Please see api documentation at https://developer.pdf.co/api/pdf-add/index.html for comprehensive guidelines.",
        "operationId": "PdfFiller",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "Url to the input PDF document",
                  "title": "URL",
                  "x-ms-visibility": "important"
                },
                "annotationsString": {
                  "type": "string",
                  "description": "Annotation strings to be added to the PDF document. Format should be like “x;y;page;text”. Refer to PDF.co documentations for more advanced formats and examples.",
                  "title": "Annotations String",
                  "x-ms-visibility": "important"
                },
                "imagesString": {
                  "type": "string",
                  "description": "Images to be added to the PDF document. Format should be like “x;y;page;urltoimage;link;width;height”. Refer to PDF.co documentations for more advanced formats and examples.",
                  "title": "Images String",
                  "x-ms-visibility": "important"
                },
                "fieldsString": {
                  "type": "string",
                  "description": "Fill PDF form fields. Format should be like “page;fieldName;value”. Refer to PDF.co documentations for more advanced formats and examples.",
                  "title": "Fields String",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "description": "Output PDF Name",
                  "title": "Name",
                  "x-ms-visibility": "advanced"
                },
                "inline": {
                  "type": "boolean",
                  "description": "Determines whether to return output in response or link to output file.",
                  "title": "Inline",
                  "enum": [
                    true,
                    false
                  ],
                  "default": true,
                  "x-ms-visibility": "advanced"
                },
                "expiration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Set the expiration time for the output link in minutes (default is 60 i.e 60 minutes or 1 hour), After this specified duration, any generated output file(s) will be automatically deleted from PDF.co temporary files storage. The maximum duration for link expiration varies based on your current subscription plan.",
                  "title": "Expiration",
                  "x-ms-visibility": "advanced",
                  "default": 60
                },
                "profiles": {
                  "type": "string",
                  "description": "This parameter can be used to set additional configurations for fine-tuning and to enable more options. Visit PDF.co knowledgebase (https://developer.pdf.co/api/profiles/index.html) for profile examples and more.",
                  "title": "Profiles",
                  "x-ms-visibility": "advanced"
                },
                "async": {
                  "type": "boolean",
                  "description": "Set to true for long processes to run in the background, API will then return a jobId which you can use with JobCheck endpoint to check the status of the process and retrieve the output while you can proceed with other tasks without waiting for this process to finish.",
                  "title": "Async",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false,
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ]
      }
    },
    "/v1/pdf/merge": {
      "post": {
        "responses": {
          "200": {
            "description": "OK, success",
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "Output document URL.",
                  "title": "URL",
                  "x-ms-visibility": "important"
                },
                "jobId": {
                  "type": "string",
                  "description": "jobId",
                  "title": "Job Id"
                },
                "pageCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of pages in the output document.",
                  "title": "Page Count",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "boolean",
                  "description": "Indicates whether the operation is successful or not.",
                  "title": "Error",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "important"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status code for HTTP response",
                  "title": "Status Code",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "description": "Output document name",
                  "title": "Name",
                  "x-ms-visibility": "advanced"
                },
                "credits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PDF.co credits used for this request",
                  "title": "Credits",
                  "x-ms-visibility": "advanced"
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Request execution duration",
                  "title": "Duration",
                  "x-ms-visibility": "advanced"
                },
                "remainingCredits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PDF.co account remaining credits",
                  "title": "Remaining Credits",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served."
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect."
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error. The server has encountered an error and is unable to process your request at this time."
          }
        },
        "summary": "Merge PDF",
        "operationId": "MergePdfSimplified",
        "description": "Merge PDF from two or more PDF files into a new one. Please see api documentation at https://developer.pdf.co/api/pdf-merge/index.html for comprehensive guidelines.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The comma-separated list of links to PDFs files. Supports links to external sites, `filetoken://..` from PDF.co Files storage and links to G Drive, Dropbox and other services. Links should be accessible without password. For password protected PDF files, use PDF Security module first to unlock input pdf.",
                  "title": "URL",
                  "x-ms-visibility": "important"
                },
                "expiration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Set the expiration time for the output link in minutes (default is 60 i.e 60 minutes or 1 hour), After this specified duration, any generated output file(s) will be automatically deleted from PDF.co temporary files storage. The maximum duration for link expiration varies based on your current subscription plan.",
                  "title": "Expiration",
                  "default": 60,
                  "x-ms-visibility": "advanced"
                },
                "profiles": {
                  "type": "string",
                  "description": "Use this parameter to set additional configurations for fine-tuning and extra options. Explore PDF.co knowledgebase (https://developer.pdf.co/api/profiles/index.html) for profile examples.",
                  "title": "Profiles",
                  "x-ms-visibility": "advanced"
                },
                "async": {
                  "type": "boolean",
                  "description": "Set async to true for long processes to run in the background, API will then return a jobId which you can use with JobCheck endpoint to check the status of the process and retrieve the output while you can proceed with other tasks without waiting for this process to finish.",
                  "title": "Async",
                  "default": false,
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ]
      }
    },
    "/v1/pdf/merge2": {
      "post": {
        "responses": {
          "200": {
            "description": "OK, success",
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "Output document URL.",
                  "title": "URL",
                  "x-ms-visibility": "important"
                },
                "jobId": {
                  "type": "string",
                  "description": "jobId",
                  "title": "Job Id"
                },
                "pageCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of pages in the output document.",
                  "title": "Page Count",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "boolean",
                  "description": "Indicates whether the operation is successful or not.",
                  "title": "Error",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "important"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status code for HTTP response",
                  "title": "Status Code",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "description": "Output document name",
                  "title": "Name",
                  "x-ms-visibility": "advanced"
                },
                "credits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PDF.co credits used for this request",
                  "title": "Credits",
                  "x-ms-visibility": "advanced"
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Request execution duration",
                  "title": "Duration",
                  "x-ms-visibility": "advanced"
                },
                "remainingCredits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PDF.co account remaining credits",
                  "title": "Remaining Credits",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served."
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect."
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error. The server has encountered an error and is unable to process your request at this time."
          }
        },
        "summary": "Merge PDF (Advanced)",
        "operationId": "MergePdf",
        "description": "Merge PDF from two or more pdf, doc, xls, images, even zip with documents and images into a new PDF. Supports zip, doc, docx, xls, xlsx, rtf, txt, png, jpg. Please see api documentation at https://developer.pdf.co/api/pdf-merge/index.html#post-tag-pdf-merge2 for comprehensive guidelines.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The comma-separated list of links to PDFs, documents, spreadsheets, images. Supports links to external sites, `filetoken://..` from PDF.co Files storage and links to G Drive, Dropbox and other services. Links should be accessible without password. For password protected PDF files, use PDF Security module first to unlock input pdf.",
                  "title": "URL",
                  "x-ms-visibility": "important"
                },
                "expiration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Set the expiration time for the output link in minutes (default is 60 i.e 60 minutes or 1 hour), After this specified duration, any generated output file(s) will be automatically deleted from PDF.co temporary files storage. The maximum duration for link expiration varies based on your current subscription plan.",
                  "title": "Expiration",
                  "default": 60,
                  "x-ms-visibility": "advanced"
                },
                "profiles": {
                  "type": "string",
                  "description": "Use this parameter to set additional configurations for fine-tuning and extra options. Explore PDF.co knowledgebase (https://developer.pdf.co/api/profiles/index.html) for profile examples.",
                  "title": "Profiles",
                  "x-ms-visibility": "advanced"
                },
                "async": {
                  "type": "boolean",
                  "description": "Set async to true for long processes to run in the background, API will then return a jobId which you can use with JobCheck endpoint to check the status of the process and retrieve the output while you can proceed with other tasks without waiting for this process to finish.",
                  "title": "Async",
                  "default": false,
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ]
      }
    },
    "/v1/pdf/split": {
      "post": {
        "responses": {
          "200": {
            "description": "OK, success",
            "schema": {
              "type": "object",
              "properties": {
                "urls": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "urls"
                },
                "url": {
                  "type": "string",
                  "description": "Output document URL.",
                  "title": "URL",
                  "x-ms-visibility": "important"
                },
                "jobId": {
                  "type": "string",
                  "description": "jobId",
                  "title": "Job Id",
                  "x-ms-visibility": "important"
                },
                "pageCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of pages in the output document.",
                  "title": "Page Count"
                },
                "error": {
                  "type": "boolean",
                  "description": "Indicates whether the operation is successful or not.",
                  "title": "Error",
                  "enum": [
                    true,
                    false
                  ]
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Status",
                  "description": "Status code for HTTP response"
                },
                "name": {
                  "type": "string",
                  "title": "Name",
                  "description": "Output document name"
                },
                "credits": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Credits",
                  "description": "PDF.co credits used for this request"
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Duration",
                  "description": "Request execution duration"
                },
                "remainingCredits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PDF.co account remaining credits",
                  "title": "Remaining Credits"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served."
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect."
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error. The server has encountered an error and is unable to process your request at this time."
          }
        },
        "summary": "Split PDF",
        "description": "Splits pages from PDF document into multiple new PDF files using page numbers and page ranges. Please see api documentation at https://developer.pdf.co/api/pdf-split/index.html for comprehensive guidelines.",
        "operationId": "SplitPdf",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "Url to the source PDF document",
                  "title": "URL",
                  "x-ms-visibility": "important"
                },
                "pages": {
                  "type": "string",
                  "description": "Comma-separated list of page indices (or ranges) to split into. First page is 1 (one). Example: \"1,2-5,7-\". Special cases: to extract each page into separate PDF use to `*`.",
                  "title": "Pages",
                  "x-ms-visibility": "important"
                },
                "inline": {
                  "type": "boolean",
                  "description": "Determines whether to return output in response or link to output file.",
                  "title": "Inline",
                  "enum": [
                    true,
                    false
                  ],
                  "default": true,
                  "x-ms-visibility": "advanced"
                },
                "name": {
                  "type": "string",
                  "description": "Base file name for new PDF files",
                  "title": "Name",
                  "x-ms-visibility": "advanced"
                },
                "expiration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Set the expiration time for the output link in minutes (default is 60 i.e 60 minutes or 1 hour), After this specified duration, any generated output file(s) will be automatically deleted from PDF.co temporary files storage. The maximum duration for link expiration varies based on your current subscription plan.",
                  "title": "Expiration",
                  "default": 60,
                  "x-ms-visibility": "advanced"
                },
                "profiles": {
                  "type": "string",
                  "description": "Use this parameter to set additional configurations for fine-tuning and extra options. Explore PDF.co knowledgebase (https://developer.pdf.co/api/profiles/index.html) for profile examples.",
                  "title": "Profiles",
                  "x-ms-visibility": "advanced"
                },
                "async": {
                  "type": "boolean",
                  "description": "Creates a background processing job.",
                  "title": "Async",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false,
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "url",
                "pages"
              ]
            }
          }
        ]
      }
    },
    "/v1/pdf/split2": {
      "post": {
        "responses": {
          "200": {
            "description": "OK, success",
            "schema": {
              "type": "object",
              "properties": {
                "urls": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "urls"
                },
                "url": {
                  "type": "string",
                  "description": "Output document URL.",
                  "title": "URL",
                  "x-ms-visibility": "important"
                },
                "jobId": {
                  "type": "string",
                  "description": "jobId",
                  "title": "Job Id",
                  "x-ms-visibility": "important"
                },
                "pageCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of pages in the output document.",
                  "title": "Page Count"
                },
                "error": {
                  "type": "boolean",
                  "description": "Indicates whether the operation is successful or not.",
                  "title": "Error",
                  "enum": [
                    true,
                    false
                  ]
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Status",
                  "description": "Status code for HTTP response"
                },
                "name": {
                  "type": "string",
                  "title": "Name",
                  "description": "Output document name"
                },
                "credits": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Credits",
                  "description": "PDF.co credits used for this request"
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Duration",
                  "description": "Request execution duration"
                },
                "remainingCredits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PDF.co account remaining credits",
                  "title": "Remaining Credits"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served."
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect."
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error. The server has encountered an error and is unable to process your request at this time."
          }
        },
        "summary": "Split PDF (Advanced)",
        "description": "Split PDF into multiple PDF files by text search (support regular expressions) or barcode. Please see api documentation at https://developer.pdf.co/api/pdf-split/index.html#post-tag-pdf-split2 for comprehensive guidelines.",
        "operationId": "SplitPdf2",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "Url to the source PDF document",
                  "title": "URL",
                  "x-ms-visibility": "important"
                },
                "searchString": {
                  "type": "string",
                  "description": "Text to search for on pages. Can also search by barcode, for more info visit https://developer.pdf.co/api/pdf-split/index.html?utm_source=api-docs#post-tag-pdf-split2",
                  "title": "Search String",
                  "x-ms-visibility": "important"
                },
                "excludeKeyPages": {
                  "type": "boolean",
                  "description": "Set to true if you want to exclude pages where text was found",
                  "title": "Exclude Key Pages",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false,
                  "x-ms-visibility": "advanced"
                },
                "regexSearch": {
                  "type": "boolean",
                  "description": "Set to true to enable regular expressions for the search string",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false,
                  "x-ms-visibility": "advanced"
                },
                "caseSensitive": {
                  "type": "boolean",
                  "description": "Set to true to enable case-sensitive search.",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false,
                  "x-ms-visibility": "advanced"
                },
                "lang": {
                  "type": "string",
                  "description": "the language for OCR (text from image) to use for scanned PDF, PNG, and JPG documents input when extracting text. The default is “eng”. Other languages are also supported: deu, spa, chi_sim, jpn, and many others (full list of supported OCR languages is at https://developer.pdf.co/api/pdf-make-text-searchable-or-unsearchable/index.html#language-support). You can also use 2 languages simultaneously like this: eng+deu or jpn+kor (any combination).",
                  "title": "OCR Language",
                  "default": "eng",
                  "x-ms-visibility": "important"
                },
                "inline": {
                  "type": "boolean",
                  "description": "Determines whether to return output in response or link to output file.",
                  "title": "Inline",
                  "enum": [
                    true,
                    false
                  ],
                  "default": true,
                  "x-ms-visibility": "advanced"
                },
                "name": {
                  "type": "string",
                  "description": "Base file name for new PDF files",
                  "title": "Name",
                  "x-ms-visibility": "advanced"
                },
                "expiration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Set the expiration time for the output link in minutes (default is 60 i.e 60 minutes or 1 hour), After this specified duration, any generated output file(s) will be automatically deleted from PDF.co temporary files storage. The maximum duration for link expiration varies based on your current subscription plan.",
                  "title": "Expiration",
                  "default": 60,
                  "x-ms-visibility": "advanced"
                },
                "profiles": {
                  "type": "string",
                  "description": "Use this parameter to set additional configurations for fine-tuning and extra options. Explore PDF.co knowledgebase (https://developer.pdf.co/api/profiles/index.html) for profile examples.",
                  "title": "Profiles",
                  "x-ms-visibility": "advanced"
                },
                "async": {
                  "type": "boolean",
                  "description": "Creates a background processing job.",
                  "title": "Async",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false,
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "url",
                "searchString"
              ]
            }
          }
        ]
      }
    },
    "/v1/pdf/find": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "body": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "text": {
                        "type": "string",
                        "description": "text",
                        "title": "Text"
                      },
                      "left": {
                        "type": "number",
                        "format": "float",
                        "description": "left",
                        "title": "Left"
                      },
                      "top": {
                        "type": "number",
                        "format": "float",
                        "description": "top",
                        "title": "Top"
                      },
                      "width": {
                        "type": "number",
                        "format": "float",
                        "description": "width",
                        "title": "Width"
                      },
                      "height": {
                        "type": "number",
                        "format": "float",
                        "description": "height",
                        "title": "Height"
                      },
                      "pageIndex": {
                        "type": "integer",
                        "format": "int32",
                        "description": "pageIndex",
                        "title": "Page Index"
                      }
                    }
                  },
                  "description": "body"
                },
                "url": {
                  "type": "string",
                  "description": "url",
                  "title": "URL"
                },
                "jobId": {
                  "type": "string",
                  "title": "Job Id"
                },
                "pageCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "pageCount",
                  "title": "Page Count"
                },
                "error": {
                  "type": "boolean",
                  "description": "error",
                  "title": "Error",
                  "enum": [
                    true,
                    false
                  ]
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status",
                  "title": "Status",
                  "x-ms-visibility": "advanced"
                },
                "name": {
                  "type": "string",
                  "description": "name",
                  "title": "Name",
                  "x-ms-visibility": "internal"
                },
                "credits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "credits",
                  "title": "Credits",
                  "x-ms-visibility": "advanced"
                },
                "remainingCredits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "remainingCredits",
                  "title": "Remaining Credits",
                  "x-ms-visibility": "advanced"
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "duration",
                  "title": "Duration",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served."
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect."
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error. The server has encountered an error and is unable to process your request at this time."
          }
        },
        "summary": "PDF Search Text",
        "description": "Search text in PDF and get coordinates. Supports regular expressions. Please see api documentation at https://developer.pdf.co/api/pdf-find/index.html for comprehensive guidelines.",
        "operationId": "PDFSerarchText",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "URL to the source file. Supports links from Google Drive, Dropbox, and PDF.co built-in files storage.",
                  "title": "URL",
                  "x-ms-visibility": "important"
                },
                "searchString": {
                  "type": "string",
                  "description": "Text to search can support regular expressions if you set the \"Regex Search\" parameter to true.",
                  "title": "Search String",
                  "x-ms-visibility": "important"
                },
                "regexSearch": {
                  "type": "boolean",
                  "description": "",
                  "title": "Is Regex Search",
                  "default": false
                },
                "name": {
                  "type": "string",
                  "description": "name",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "pages": {
                  "type": "string",
                  "description": "Comma-separated list of page indices (or ranges) to process. IMPORTANT: the very first page starts at 0 (zero). To set a range use the dash -, for example: 0,2-5,7-. To set a range from index to the last page use range like this: 2- (from page #3 as the index starts at zero and till the of the document) for ALL pages just leave this param empty. Example: 0,2-5,7- means the first page, then the 3rd page to the 6th page, and then the range from the 8th (index = 7) page till the end of the document, The input must be in string format.",
                  "title": "Pages"
                },
                "inline": {
                  "type": "boolean",
                  "description": "",
                  "title": "Inline",
                  "default": true
                },
                "wordMatchingMode": {
                  "type": "string",
                  "description": "Values can be either ‘SmartMatch’, ‘ExactMatch’, or ‘None’.",
                  "title": "Word Matching Mode",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "",
                    "SmartMatch",
                    "ExactMatch",
                    "None"
                  ]
                },
                "password": {
                  "type": "string",
                  "description": "Password of the PDF file",
                  "title": "Password",
                  "x-ms-visibility": "advanced"
                },
                "async": {
                  "type": "boolean",
                  "description": "Set async to true for long processes to run in the background, API will then return a jobId which you can use with JobCheck module to check the status of the process and retrieve the output while you can proceed with other tasks without waiting for this process to finish.",
                  "title": "Async",
                  "default": false,
                  "x-ms-visibility": "advanced"
                },
                "profiles": {
                  "type": "string",
                  "description": "Use this parameter to set additional configurations for fine-tuning and extra options. Explore PDF.co knowledgebase (https://developer.pdf.co/api/profiles/index.html) for profile examples.",
                  "title": "Profiles",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "url",
                "searchString"
              ]
            }
          }
        ]
      }
    },
    "/v1/pdf/documentparser": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "Output URL",
                  "title": "URL",
                  "x-ms-visibility": "important"
                },
                "body": {
                  "type": "object",
                  "properties": {
                    "objects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "objectType": {
                            "type": "string",
                            "description": "type of object"
                          },
                          "value": {
                            "type": "string",
                            "description": "value"
                          },
                          "pageIndex": {
                            "type": "integer",
                            "format": "int32",
                            "description": "pageIndex"
                          },
                          "rectangle": {
                            "type": "array",
                            "items": {
                              "type": "number",
                              "format": "float"
                            },
                            "description": "rectangle"
                          },
                          "rows": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            },
                            "description": "rows"
                          }
                        }
                      },
                      "description": "tables"
                    }
                  },
                  "description": "body"
                },
                "pageCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "Page Count",
                  "x-ms-visibility": "advanced"
                },
                "error": {
                  "type": "boolean",
                  "description": "",
                  "title": "Error",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "internal"
                },
                "jobId": {
                  "type": "string",
                  "description": "",
                  "title": "Job Id",
                  "x-ms-visibility": "important"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "Status",
                  "x-ms-visibility": "advanced"
                },
                "name": {
                  "type": "string",
                  "description": "",
                  "title": "Name",
                  "x-ms-visibility": "advanced"
                },
                "credits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "Credits",
                  "x-ms-visibility": "internal"
                },
                "remainingCredits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "Remaining Credits",
                  "x-ms-visibility": "advanced"
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "Duration",
                  "x-ms-visibility": "internal"
                },
                "message": {
                  "type": "string",
                  "description": "",
                  "title": "Message",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served."
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect."
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error. The server has encountered an error and is unable to process your request at this time."
          }
        },
        "summary": "Document Parser",
        "description": "Document Parser can automatically parse PDF, JPG, and PNG documents to extract fields, tables, values, and barcodes from invoices, statements, orders, and other PDF and scanned documents. Please see api documentation at https://developer.pdf.co/api/document-parser/index.html for comprehensive guidelines.",
        "operationId": "DocumentParser",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "URL to the source file. Supports links from Google Drive, Dropbox, and PDF.co built-in files storage. To upload files via API, Check out the Files Upload section at https://developer.pdf.co/api/file-upload/index.html",
                  "title": "URL",
                  "x-ms-visibility": "important"
                },
                "templateId": {
                  "type": "string",
                  "description": "Set ID of document parser template to be used. View and manage your templates at https://app.pdf.co/document-parser",
                  "title": "Template Id",
                  "x-ms-visibility": "important"
                },
                "outputFormat": {
                  "type": "string",
                  "description": "Default is JSON. You can override the default output format to CSV or XML to generate CSV or XML output accordingly.",
                  "title": "Output Format",
                  "default": "JSON",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "JSON",
                    "CSV",
                    "XML"
                  ]
                },
                "inline": {
                  "type": "boolean",
                  "description": "Set to true to return results inside the response. Otherwise, the endpoint will return a link to the output file generated",
                  "title": "Inline",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "advanced"
                },
                "password": {
                  "type": "string",
                  "description": "Password of PDF file",
                  "title": "Password",
                  "x-ms-visibility": "advanced"
                },
                "profiles": {
                  "type": "string",
                  "description": "Use this parameter to set additional configurations for fine-tuning and extra options. Explore PDF.co knowledgebase https://developer.pdf.co/api/profiles/index.html for profile examples,",
                  "title": "Profiles",
                  "x-ms-visibility": "advanced"
                },
                "expiration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Set the expiration time for the output link in minutes (default is 60 i.e 60 minutes or 1 hour), After this specified duration, any generated output file(s) will be automatically deleted from PDF.co temporary files storage. The maximum duration for link expiration varies based on your current subscription plan.",
                  "title": "Expiration",
                  "default": 60,
                  "x-ms-visibility": "advanced"
                },
                "async": {
                  "type": "boolean",
                  "description": "Set async to true for long processes to run in the background, API will then return a jobId which you can use with \"Job Check\"  to check the status of the process and retrieve the output while you can proceed with other tasks without waiting for this process to finish.",
                  "title": "Async",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "url",
                "outputFormat"
              ]
            }
          }
        ]
      }
    },
    "/v1/job/check": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "title": "Status",
                  "x-ms-visibility": "important"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "Message",
                  "x-ms-visibility": "internal"
                },
                "pageCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "pageCount",
                  "title": "Page Count",
                  "x-ms-visibility": "internal"
                },
                "url": {
                  "type": "string",
                  "description": "url",
                  "title": "Url",
                  "x-ms-visibility": "important"
                },
                "jobId": {
                  "type": "string",
                  "description": "jobId",
                  "title": "Job Id",
                  "x-ms-visibility": "advanced"
                },
                "credits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "credits",
                  "title": "Credits",
                  "x-ms-visibility": "internal"
                },
                "remainingCredits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "remainingCredits",
                  "title": "Remaining Credits",
                  "x-ms-visibility": "internal"
                },
                "jobDuration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "jobDuration",
                  "title": "Job Duration",
                  "x-ms-visibility": "internal"
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "duration",
                  "title": "Duration"
                },
                "error": {
                  "type": "boolean",
                  "description": "error",
                  "title": "Error",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "internal"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode",
                  "title": "Error Code",
                  "x-ms-visibility": "internal"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served."
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect."
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error. The server has encountered an error and is unable to process your request at this time."
          }
        },
        "summary": "Background Jobs Check",
        "description": "Checks status of background job that was previously created with PDF.co API. Please see api documentation at https://developer.pdf.co/api/background-job-check/index.html for comprehensive guidelines.",
        "operationId": "JobCheck",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "jobid": {
                  "type": "string",
                  "description": "PDF.co background Job Id",
                  "title": "Job Id",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "jobid"
              ],
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/v1/barcode/generate": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "jobId": {
                  "type": "string",
                  "description": "jobId",
                  "title": "JobId"
                },
                "url": {
                  "type": "string",
                  "description": "url",
                  "title": "URL",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "boolean",
                  "description": "error",
                  "title": "Error",
                  "enum": [
                    true,
                    false
                  ]
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status",
                  "title": "Status",
                  "x-ms-visibility": "advanced"
                },
                "name": {
                  "type": "string",
                  "description": "name",
                  "title": "Name"
                },
                "credits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "credits",
                  "title": "Credits",
                  "x-ms-visibility": "advanced"
                },
                "remainingCredits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "remainingCredits",
                  "title": "Remaining Credits",
                  "x-ms-visibility": "advanced"
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "duration",
                  "title": "Duration",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served."
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect."
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error. The server has encountered an error and is unable to process your request at this time."
          }
        },
        "summary": "Barcode Generator",
        "description": "Generate high quality barcode images. Supports QR Code, Datamatrix, Code 39, Code 128, PDF417 and many other barcode types. Please see api documentation at https://developer.pdf.co/api/barcode-generator/index.html for comprehensive guidelines.",
        "operationId": "BarcodeGenerator",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Set async to true for long processes to run in the background, API will then return a jobId which you can use with /job/check endpoint to check the status of the process and retrieve the output while you can proceed with other tasks without waiting for this process to finish.",
                  "title": "Name",
                  "x-ms-visibility": "advanced"
                },
                "value": {
                  "type": "string",
                  "description": "Set the string value to encode inside the barcode.",
                  "title": "Value",
                  "x-ms-visibility": "important"
                },
                "type": {
                  "type": "string",
                  "description": "Set the barcode type, QRCode By default.",
                  "title": "Type",
                  "x-ms-visibility": "important",
                  "enum": [
                    "Code128",
                    "Code39",
                    "Postnet",
                    "UPCA",
                    "EAN8",
                    "ISBN",
                    "Codabar",
                    "I2of5",
                    "Code93",
                    "EAN13",
                    "JAN13",
                    "Bookland",
                    "UPCE",
                    "PDF417",
                    "PDF417Truncated",
                    "DataMatrix",
                    "QRCode",
                    "Aztec",
                    "Planet",
                    "EAN128",
                    "GS1_128",
                    "USPSSackLabel",
                    "USPSTrayLabel",
                    "DeutschePostIdentcode",
                    "DeutschePostLeitcode",
                    "Numly",
                    "PZN",
                    "OpticalProduct",
                    "SwissPostParcel",
                    "RoyalMail",
                    "DutchKix",
                    "SingaporePostalCode",
                    "EAN2",
                    "EAN5",
                    "EAN14",
                    "MacroPDF417",
                    "MicroPDF417",
                    "GS1_DataMatrix",
                    "Telepen",
                    "IntelligentMail",
                    "GS1_DataBar_Omnidirectional",
                    "GS1_DataBar_Truncated",
                    "GS1_DataBar_Stacked",
                    "GS1_DataBar_Stacked_Omnidirectional",
                    "GS1_DataBar_Limited",
                    "GS1_DataBar_Expanded",
                    "GS1_DataBar_Expanded_Stacked",
                    "MaxiCode",
                    "Plessey",
                    "MSI",
                    "ITF14",
                    "GTIN12",
                    "GTIN8",
                    "GTIN13",
                    "GTIN14",
                    "GS1_QRCode",
                    "PharmaCode"
                  ],
                  "default": "QRCode"
                },
                "decorationImage": {
                  "type": "string",
                  "description": "Set this to the image that you want to be inserted the logo inside the QR-Code barcode.",
                  "title": "Decoration Image",
                  "x-ms-visibility": "advanced"
                },
                "async": {
                  "type": "boolean",
                  "description": "Set async to true for long processes to run in the background, API will then return a jobId which you can use with JobCheck Module to check the status of the process and retrieve the output while you can proceed with other tasks without waiting for this process to finish.",
                  "title": "Async",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false,
                  "x-ms-visibility": "advanced"
                },
                "expiration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Set the expiration time for the output link in minutes (default is 60 i.e 60 minutes or 1 hour), After this specified duration, any generated output file(s) will be automatically deleted from PDF.co temporary files storage. The maximum duration for link expiration varies based on your current subscription plan.",
                  "title": "Expiration",
                  "default": 60,
                  "x-ms-visibility": "advanced"
                },
                "profiles": {
                  "type": "string",
                  "description": "Use this parameter to set additional configurations for fine-tuning and extra options. Explore PDF.co Knowledgebase https://developer.pdf.co/api/profiles/index.html for profile examples",
                  "title": "Profiles",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "type",
                "value"
              ]
            }
          }
        ]
      }
    },
    "/v1/barcode/read/from/url": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "jobId": {
                  "type": "string",
                  "description": "jobId",
                  "title": "JobId"
                },
                "url": {
                  "type": "string",
                  "description": "url",
                  "title": "URL",
                  "x-ms-visibility": "important"
                },
                "barcodes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "string",
                        "description": "Value",
                        "title": "Value"
                      },
                      "Type": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Type",
                        "title": "Type"
                      },
                      "Rect": {
                        "type": "string",
                        "description": "Rect",
                        "title": "Rect"
                      },
                      "Page": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Page",
                        "title": "Page"
                      },
                      "File": {
                        "type": "string",
                        "description": "File",
                        "title": "File"
                      },
                      "Confidence": {
                        "type": "number",
                        "format": "float",
                        "description": "Confidence",
                        "title": "Confidence"
                      },
                      "Metadata": {
                        "type": "string",
                        "description": "Metadata",
                        "title": "Metadata"
                      },
                      "TypeName": {
                        "type": "string",
                        "description": "TypeName",
                        "title": "TypeName"
                      }
                    }
                  },
                  "description": "barcodes"
                },
                "pageCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "pageCount",
                  "title": "Page Count",
                  "x-ms-visibility": "advanced"
                },
                "error": {
                  "type": "boolean",
                  "description": "error",
                  "title": "Error",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "advanced"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status",
                  "title": "Status",
                  "x-ms-visibility": "advanced"
                },
                "credits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "credits",
                  "title": "Credits",
                  "x-ms-visibility": "advanced"
                },
                "remainingCredits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "remainingCredits",
                  "title": "Remaining Credits",
                  "x-ms-visibility": "advanced"
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "duration",
                  "title": "Duration",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served."
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect."
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error. The server has encountered an error and is unable to process your request at this time."
          }
        },
        "summary": "Barcode Reader",
        "description": "Read barcodes from images and PDF. Can read all popular barcode types from QR Code and Code 128, EAN to Datamatrix, PDF417, GS1 and many other barcodes. Please see api documentation at https://developer.pdf.co/api/barcode-reader/index.html for comprehensive guidelines.",
        "operationId": "BarcodeReader",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "URL to the source file. Supports links from Google Drive, Dropbox, and PDF.co built-in files storage.",
                  "title": "URL",
                  "x-ms-visibility": "important"
                },
                "types": {
                  "type": "string",
                  "description": "Set the barcode type, QRCode is default. You can also combine types by comma, example \"QRCode,Code128,Code39,Interleaved2of5,EAN13\".  All supported barcode types are AustralianPostCode, Aztec, BorderedTable, Checkbox, Circle, CircularI2of5, Codabar, CodablockF, Code128, Code16K, Code39, Code39Extended, Code39Mod43, Code39Mod43Extended, Code93, DataMatrix, DPMDataMatrix, EAN13, EAN2, EAN5, EAN8, GS1, GS1DataBarExpanded, GS1DataBarExpandedStacked, GS1DataBarLimited, GS1DataBarOmnidirectional, GS1DataBarStacked, GTIN12, GTIN13, GTIN14, GTIN8, HorizontalLine, IntelligentMail, Interleaved2of5, ITF14, MaxiCode, MICR, MicroPDF, MSI, Oval, PatchCode, PDF417, Pharmacode, PostNet, PZN, QRCode, Rectangle, RoyalMail, RoyalMailKIX, Segment, Trioptic, UnderlinedField, UPCA, UPCE, UPU, VerticalLine.",
                  "title": "Types",
                  "x-ms-visibility": "important",
                  "default": "QRCode"
                },
                "pages": {
                  "type": "string",
                  "description": "Comma-Separated list of page indices (or ranges) to process. IMPORTANT: the very first page starts at 0 (zero). To set a range use the dash -, for example: 0,2-5,7-. To set a range from the index to the last page use range like this: 2- (from page #3 as the index starts at zero and till the end of the document). For ALL pages just leave this param empty. Example: 0,2-5,7- means the first page, then the 3rd page to the 6th page, and then the range from the 8th (index = 7) page till the end of the document.",
                  "title": "Pages",
                  "x-ms-visibility": "advanced"
                },
                "encrypt": {
                  "type": "boolean",
                  "description": "encrypt",
                  "title": "",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "internal"
                },
                "profiles": {
                  "type": "string",
                  "description": "Use this parameter to set additional configurations for fine-tuning and extra options. Explore PDF.co knowledgebase (https://developer.pdf.co/api/profiles/index.html) for profile examples.",
                  "title": "Profiles",
                  "x-ms-visibility": "advanced"
                },
                "async": {
                  "type": "boolean",
                  "description": "Set async to true for long processes to run in the background, API will then return a jobId which you can use with JobCheck module to check the status of the process and retrieve the output while you can proceed with other tasks without waiting for this process to finish.",
                  "title": "Async",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "advanced",
                  "default": false
                }
              },
              "required": [
                "url",
                "types"
              ]
            }
          }
        ]
      }
    },
    "/v1/pdf/info": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "jobId": {
                  "type": "string",
                  "description": "jobId",
                  "title": "JobId"
                },
                "url": {
                  "type": "string",
                  "description": "url",
                  "title": "URL",
                  "x-ms-visibility": "important"
                },
                "info": {
                  "type": "object",
                  "properties": {
                    "PageCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "PageCount"
                    },
                    "Author": {
                      "type": "string",
                      "description": "Author"
                    },
                    "Title": {
                      "type": "string",
                      "description": "Title"
                    },
                    "Producer": {
                      "type": "string",
                      "description": "Producer"
                    },
                    "Subject": {
                      "type": "string",
                      "description": "Subject"
                    },
                    "CreationDate": {
                      "type": "string",
                      "description": "CreationDate"
                    },
                    "Bookmarks": {
                      "type": "string",
                      "description": "Bookmarks"
                    },
                    "Keywords": {
                      "type": "string",
                      "description": "Keywords"
                    },
                    "Creator": {
                      "type": "string",
                      "description": "Creator"
                    },
                    "Encrypted": {
                      "type": "boolean",
                      "description": "Encrypted"
                    },
                    "PasswordProtected": {
                      "type": "boolean",
                      "description": "PasswordProtected"
                    },
                    "PageRectangle": {
                      "type": "object",
                      "properties": {
                        "Location": {
                          "type": "object",
                          "properties": {
                            "IsEmpty": {
                              "type": "boolean",
                              "description": "IsEmpty"
                            },
                            "X": {
                              "type": "number",
                              "format": "float",
                              "description": "X",
                              "title": ""
                            },
                            "Y": {
                              "type": "number",
                              "format": "float",
                              "description": "Y",
                              "title": ""
                            }
                          },
                          "description": "Location"
                        },
                        "Size": {
                          "type": "string",
                          "description": "Size"
                        },
                        "X": {
                          "type": "number",
                          "format": "float",
                          "description": "X",
                          "title": ""
                        },
                        "Y": {
                          "type": "number",
                          "format": "float",
                          "description": "Y",
                          "title": ""
                        },
                        "Width": {
                          "type": "number",
                          "format": "float",
                          "description": "Width",
                          "title": ""
                        },
                        "Height": {
                          "type": "number",
                          "format": "float",
                          "description": "Height",
                          "title": ""
                        },
                        "Left": {
                          "type": "number",
                          "format": "float",
                          "description": "Left",
                          "title": ""
                        },
                        "Top": {
                          "type": "number",
                          "format": "float",
                          "description": "Top",
                          "title": ""
                        },
                        "Right": {
                          "type": "number",
                          "format": "float",
                          "description": "Right",
                          "title": ""
                        },
                        "Bottom": {
                          "type": "number",
                          "format": "float",
                          "description": "Bottom",
                          "title": ""
                        },
                        "IsEmpty": {
                          "type": "boolean",
                          "description": "IsEmpty"
                        }
                      },
                      "description": "PageRectangle"
                    },
                    "ModificationDate": {
                      "type": "string",
                      "description": "ModificationDate"
                    },
                    "AttachmentCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "AttachmentCount"
                    },
                    "EncryptionAlgorithm": {
                      "type": "string",
                      "description": "EncryptionAlgorithm"
                    },
                    "PermissionPrinting": {
                      "type": "boolean",
                      "description": "PermissionPrinting"
                    },
                    "PermissionModifyDocument": {
                      "type": "boolean",
                      "description": "PermissionModifyDocument"
                    },
                    "PermissionContentExtraction": {
                      "type": "boolean",
                      "description": "PermissionContentExtraction"
                    },
                    "PermissionModifyAnnotations": {
                      "type": "boolean",
                      "description": "PermissionModifyAnnotations"
                    },
                    "PermissionFillForms": {
                      "type": "boolean",
                      "description": "PermissionFillForms"
                    },
                    "PermissionAccessibility": {
                      "type": "boolean",
                      "description": "PermissionAccessibility"
                    },
                    "PermissionAssemble": {
                      "type": "boolean",
                      "description": "PermissionAssemble"
                    },
                    "PermissionHighQualityPrint": {
                      "type": "boolean",
                      "description": "PermissionHighQualityPrint"
                    }
                  },
                  "description": "info"
                },
                "error": {
                  "type": "boolean",
                  "description": "error",
                  "title": "Error",
                  "enum": [
                    true,
                    false
[...]
