{
  "swagger": "2.0",
  "info": {
    "title": "PDFco",
    "description": "PDF.co connector is an excellent tool for converting raw HTML or website URL to PDF document. It also has features to merge documents of different formats into PDF, Split PDF document, adding text/images to existing PDF and filling out PDF form fields.",
    "version": "1.0",
    "contact": {
      "email": "plugins@bytescout.com",
      "name": "PDF.co Support",
      "url": "https://support.bytescout.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://pdf.co/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://pdf.co/pages/legal/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Data"
    }
  ],
  "host": "api.pdf.co",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": [
    "application/json",
    "application/x-www-form-urlencoded"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/pdf/convert/from/html": {
      "post": {
        "responses": {
          "200": {
            "description": "OK, success",
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "Output document URL.",
                  "title": "URL",
                  "x-ms-visibility": "important"
                },
                "pageCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of pages in the output document.",
                  "title": "Page Count",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "boolean",
                  "description": "Indicates whether the operation is successful or not.",
                  "title": "Error",
                  "enum": [true, false],
                  "x-ms-visibility": "important"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status code for HTTP response",
                  "title": "Status Code",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "description": "Output document name",
                  "title": "Name",
                  "x-ms-visibility": "advanced"
                },
                "credits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PDF.co credits used for this request",
                  "title": "Credits",
                  "x-ms-visibility": "advanced"
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Request execution duration",
                  "title": "Duration",
                  "x-ms-visibility": "advanced"
                },
                "remainingCredits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PDF.co account remaining credits",
                  "title": "Remaining Credits",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        },
        "summary": "HTML to PDF",
        "description": "Convert HTML code snippet into full featured PDF.",
        "operationId": "HtmlToPdf",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "html": {
                  "type": "string",
                  "description": "Input HTML code to be converted.",
                  "title": "HTML",
                  "format": "html",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "description": "Base file name for new PDF files.",
                  "title": "Name",
                  "x-ms-visibility": "advanced"
                },
                "margins": {
                  "type": "string",
                  "description": "Override default margins with custom values (the order is `top right bottom left`). You can als set all margins: `10px`, `5mm`, `5in` for all sides.",
                  "title": "margins",
                  "default": "5px 5px 5px 5px",
                  "x-ms-visibility": "advanced"
                },
                "paperSize": {
                  "type": "string",
                  "description": "Select PDF paper size. Can be Letter, Legal, Tabloid, Ledger, A0, A1, A2, A3, A4, A5, A6 or a custom size. Custom size can be set in px (pixels), mm or in (inches) with width and height separated by space like this: 200 300, 200px 300px, 200mm 300mm, 20cm 30cm or 6in 8in.",
                  "title": "Paper Size",
                  "default": "Letter",
                  "x-ms-visibility": "important",
                  "enum": [
                    "Letter",
                    "Legal",
                    "Tabloid",
                    "Ledger",
                    "A0",
                    "A1",
                    "A2",
                    "A3",
                    "A4",
                    "A5",
                    "A6"
                  ]
                },
                "orientation": {
                  "type": "string",
                  "description": "PDF page orientation.",
                  "title": "Orientation",
                  "default": "portrait",
                  "enum": ["portrait", "landscape"],
                  "x-ms-visibility": "important"
                },
                "printBackground": {
                  "type": "boolean",
                  "description": "Enable or disable printing of document background",
                  "title": "Print Background",
                  "enum": [true, false],
                  "default": true,
                  "x-ms-visibility": "advanced"
                },
                "header": {
                  "type": "string",
                  "description": "Set to HTML for header to be applied on every page at the header.",
                  "title": "Header",
                  "format": "html",
                  "x-ms-visibility": "advanced"
                },
                "footer": {
                  "type": "string",
                  "description": "Set to HTML for footer to be applied on every page at the bottom.",
                  "title": "Footer",
                  "format": "html",
                  "x-ms-visibility": "advanced"
                },
                "async": {
                  "type": "boolean",
                  "description": "Set to true to run as async job in background",
                  "title": "Async",
                  "enum": [true, false],
                  "x-ms-visibility": "advanced",
                  "default": false
                }
              },
              "required": ["html"]
            }
          }
        ]
      }
    },
    "/v1/pdf/convert/from/url": {
      "post": {
        "responses": {
          "200": {
            "description": "OK, Success",
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "Output document URL.",
                  "title": "URL",
                  "x-ms-visibility": "important"
                },
                "pageCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of pages in the output document.",
                  "title": "Page Count",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "boolean",
                  "description": "Indicates whether the operation is successful or not.",
                  "title": "Error",
                  "enum": [true, false],
                  "x-ms-visibility": "important"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status code for HTTP response",
                  "title": "Status Code",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "description": "Output document name",
                  "title": "Name",
                  "x-ms-visibility": "advanced"
                },
                "credits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PDF.co credits used for this request",
                  "title": "Credits",
                  "x-ms-visibility": "advanced"
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Request execution duration",
                  "title": "Duration",
                  "x-ms-visibility": "advanced"
                },
                "remainingCredits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PDF.co account remaining credits",
                  "title": "Remaining Credits",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        },
        "summary": "URL to PDF",
        "description": "Create PDF from URL",
        "operationId": "UrlToPdf",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "Link to input HTML file or website page to be converted. You can pass link to file from Google Drive, Dropbox or another online file service that can generate shareable links.",
                  "title": "URL",
                  "x-ms-visibility": "important"
                },
                "margins": {
                  "type": "string",
                  "description": "Margins to be used in output document. Set to css style margins like 10px, 5mm, 5in for all sides or 5px 5px 5px 5px (the order of margins is top, right, bottom, left).",
                  "title": "Margins",
                  "x-ms-visibility": "advanced",
                  "default": "5mm"
                },
                "paperSize": {
                  "type": "string",
                  "description": "Letter is set by default. Can be Letter, Legal, Tabloid, Ledger, A0, A1, A2, A3, A4, A5, A6 or a custom size. Custom size can be set in px (pixels), mm or in (inches) with width and height separated by space like this: 200 300, 200px 300px, 200mm 300mm, 20cm 30cm or 6in 8in.",
                  "title": "Paper Size",
                  "default": "Letter",
                  "x-ms-visibility": "advanced"
                },
                "orientation": {
                  "type": "string",
                  "description": "Output page orientation",
                  "title": "Orientation",
                  "default": "Portrait",
                  "x-ms-visibility": "advanced",
                  "enum": ["Portrait", "Landscape"]
                },
                "printBackground": {
                  "type": "boolean",
                  "description": "Enable or disable printing of document background",
                  "title": "Print Background",
                  "enum": [true, false],
                  "default": true
                },
                "header": {
                  "type": "string",
                  "description": "Set to HTML for header to be applied on every page at the header.",
                  "title": "Header",
                  "format": "html",
                  "x-ms-visibility": "advanced"
                },
                "footer": {
                  "type": "string",
                  "description": "Set to HTML for footer to be applied on every page at the bottom.",
                  "title": "Footer",
                  "format": "html",
                  "x-ms-visibility": "advanced"
                },
                "async": {
                  "type": "boolean",
                  "description": "Creates a background processing job.",
                  "title": "Async",
                  "enum": [true, false],
                  "default": false,
                  "x-ms-visibility": "advanced"
                },
                "profiles": {
                  "type": "object",
                  "properties": {
                    "CustomScript": {
                      "type": "string",
                      "description": "Pass options for advanced output processing.",
                      "title": "Profiles",
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "description": "profiles"
                }
              },
              "required": ["url"]
            }
          }
        ]
      }
    },
    "/v1/pdf/edit/add": {
      "post": {
        "responses": {
          "200": {
            "description": "OK, success",
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "Output document URL.",
                  "title": "URL",
                  "x-ms-visibility": "important"
                },
                "pageCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of pages in the output document.",
                  "title": "Page Count",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "boolean",
                  "description": "Indicates whether the operation is successful or not.",
                  "title": "Error",
                  "enum": [true, false],
                  "x-ms-visibility": "important"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status code for HTTP response",
                  "title": "Status Code",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "description": "Output document name",
                  "title": "Name",
                  "x-ms-visibility": "advanced"
                },
                "credits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PDF.co credits used for this request",
                  "title": "Credits",
                  "x-ms-visibility": "advanced"
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Request execution duration",
                  "title": "Duration",
                  "x-ms-visibility": "advanced"
                },
                "remainingCredits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PDF.co account remaining credits",
                  "title": "Remaining Credits",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        },
        "summary": "PDF Filler",
        "description": "Add text, images, signatures to pdf. Fill PDF form fields and create new pdf from templates",
        "operationId": "PdfFiller",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "async": {
                  "type": "boolean",
                  "description": "Creates a background processing job.",
                  "title": "Async",
                  "enum": [true, false],
                  "default": false,
                  "x-ms-visibility": "advanced"
                },
                "name": {
                  "type": "string",
                  "description": "Output PDF Name",
                  "title": "Name",
                  "x-ms-visibility": "advanced"
                },
                "url": {
                  "type": "string",
                  "description": "Url to the input PDF document",
                  "title": "URL",
                  "x-ms-visibility": "important"
                },
                "annotationsString": {
                  "type": "string",
                  "description": "Annotation strings to be added to the PDF document. Format should be like “x;y;page;text”. Refer to PDF.co documentations for more advanced formats and examples.",
                  "title": "Annotations String",
                  "x-ms-visibility": "important",
                  "default": "10;10;0;some text here;14;Arial"
                },
                "imagesString": {
                  "type": "string",
                  "description": "Images to be added to the PDF document. Format should be like “x;y;page;urltoimage;link;width;height”. Refer to PDF.co documentations for more advanced formats and examples.",
                  "title": "Images String",
                  "default": "10;80;0;https://bytescout-com.s3-us-west-2.amazonaws.com/files/demo-files/cloud-api/pdf-edit/logo.png",
                  "x-ms-visibility": "important"
                },
                "fieldsString": {
                  "type": "string",
                  "description": "Fill PDF form fields. Format should be like “page;fieldName;value”. Refer to PDF.co documentations for more advanced formats and examples.",
                  "title": "Fields String",
                  "default": "0;editbox1;value for a field",
                  "x-ms-visibility": "important"
                }
              },
              "required": ["url"]
            }
          }
        ]
      }
    },
    "/v1/pdf/merge2": {
      "post": {
        "responses": {
          "200": {
            "description": "OK, success",
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "Output document URL.",
                  "title": "URL",
                  "x-ms-visibility": "important"
                },
                "pageCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of pages in the output document.",
                  "title": "Page Count",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "boolean",
                  "description": "Indicates whether the operation is successful or not.",
                  "title": "Error",
                  "enum": [true, false],
                  "x-ms-visibility": "important"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status code for HTTP response",
                  "title": "Status Code",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "description": "Output document name",
                  "title": "Name",
                  "x-ms-visibility": "advanced"
                },
                "credits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PDF.co credits used for this request",
                  "title": "Credits",
                  "x-ms-visibility": "advanced"
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Request execution duration",
                  "title": "Duration",
                  "x-ms-visibility": "advanced"
                },
                "remainingCredits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PDF.co account remaining credits",
                  "title": "Remaining Credits",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        },
        "summary": "Merge PDF",
        "operationId": "MergePdf",
        "description": "Merge multiple documents into one new single PDF. Supports many file formats. For example, pdf, doc, docx, xls, jpg, png, etc.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The comma-separated list of links to PDFs, documents, spreadsheets, images. Enable `Auto-convert` option to support non-PDF files. Supports links to external sites, `filetoken://..` from PDF.co Files storage and links to G Drive, Dropbox and other services. Links should be accessible without password. For password protected PDF files, use PDF Security module first to unlock input pdf.",
                  "title": "URL",
                  "default": "https://bytescout-com.s3-us-west-2.amazonaws.com/files/demo-files/cloud-api/pdf-merge/sample1.pdf,https://bytescout-com.s3-us-west-2.amazonaws.com/files/demo-files/cloud-api/other/Input.xls, https://bytescout-com.s3-us-west-2.amazonaws.com/files/demo-files/cloud-api/pdf-merge/images-and-documents.zip",
                  "x-ms-visibility": "important"
                },
                "async": {
                  "type": "boolean",
                  "description": "Creates a background processing job.",
                  "title": "Async",
                  "enum": [true, false],
                  "default": false,
                  "x-ms-visibility": "advanced"
                }
              },
              "required": ["url"]
            }
          }
        ]
      }
    },
    "/v1/pdf/split": {
      "post": {
        "responses": {
          "200": {
            "description": "OK, success",
            "schema": {
              "type": "object",
              "properties": {
                "urls": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "urls"
                },
                "pageCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of pages in the output document.",
                  "title": "Page Count"
                },
                "error": {
                  "type": "boolean",
                  "description": "Indicates whether the operation is successful or not.",
                  "title": "Error",
                  "enum": [true, false]
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Status",
                  "description": "Status code for HTTP response"
                },
                "name": {
                  "type": "string",
                  "title": "Name",
                  "description": "Output document name"
                },
                "credits": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Credits",
                  "description": "PDF.co credits used for this request"
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Duration",
                  "description": "Request execution duration"
                },
                "remainingCredits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PDF.co account remaining credits",
                  "title": "Remaining Credits"
                }
              }
            }
          }
        },
        "summary": "Split PDF",
        "description": "Splits pages from PDF document into multiple new PDF files using page numbers and page ranges",
        "operationId": "SplitPdf",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "Url to the source PDF document",
                  "title": "URL",
                  "x-ms-visibility": "important",
                  "default": "https://bytescout-com.s3.amazonaws.com/files/demo-files/cloud-api/pdf-split/sample.pdf"
                },
                "pages": {
                  "type": "string",
                  "description": "Comma-separated list of page indices (or ranges) to split into. First page is 1 (one). Example: \"1,2-5,7-\". Special cases: to extract each page into separate PDF use to `*`.",
                  "title": "Pages",
                  "default": "1-2,3-",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "description": "Base file name for new PDF files",
                  "title": "Name",
                  "x-ms-visibility": "advanced"
                },
                "async": {
                  "type": "boolean",
                  "description": "Creates a background processing job.",
                  "title": "Async",
                  "enum": [true, false],
                  "default": false,
                  "x-ms-visibility": "advanced"
                }
              },
              "required": ["url", "pages"]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}