{
  "swagger": "2.0",
  "info": {
    "title": "BILL Converter by Power2Apps",
    "description": "Processes and transforms electronic invoices in full compliance with ZUGFeRD, XRechnung, EN 16931 and PDF/A-3. Converts XML invoices to PDF, generates ZUGFeRD-compliant hybrid PDF/A-3 documents, and extracts embedded XML from ZUGFeRD or PDF/A-3 files. Supports automated workflows for validating, transforming and exchanging structured e-invoice data across modern e-invoicing ecosystems.",
    "contact": {
      "name": "Power2Apps Support",
      "url": "https://www.power2apps.de/en/contact",
      "email": "getintouch@power2apps.de"
    },
    "version": "1.0.0"
  },
  "host": "converterbypower2appswebapi.orangemoss-ec8ae189.germanywestcentral.azurecontainerapps.io",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/T10_Bill/V01/GetInvoiceTypes": {
      "get": {
        "tags": [
          "T10_BillController_V01"
        ],
        "operationId": "GetInvoiceTypes",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Invoice Type List",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DtoListOption"
              }
            }
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Get List of Invoice Types",
        "description": "Returns supported invoice types"
      }
    },
    "/api/T10_Bill/V01/T10_A001_AV01_CV01_ConvertInvoiceToZugferdPdf": {
      "post": {
        "tags": [
          "T10_BillController_V01"
        ],
        "operationId": "T10_A001_AV01_CV01_ConvertInvoiceToZugferdPdf",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dtoRequestT10_A001_AV01_CV01_ConvertInvoiceToZugferdPdf",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DtoRequestT10_A001_AV01_CV01_ConvertInvoiceToZugferdPdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ZUGFeRD PDF result",
            "schema": {
              "$ref": "#/definitions/DtoResponseT10_A001_AV01_CV01_ConvertInvoiceToZugferdPdf"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert Invoice to ZUGFeRD PDF",
        "description": "Creates a fully compliant ZUGFeRD PDF/A-3 invoice by embedding structured invoice data (XML) into a readable PDF. Supports the ZUGFeRD standard (EN 16931) and generates hybrid PDF/A-3 documents suitable for digital archiving and electronic invoice exchange - https://support.power2apps.de/T10_BillConverter/t10-a001-av01-cv01-convertinvoicetozugferdpdf"
      }
    },
    "/api/T10_Bill/V01/T10_A002_AV01_CV01_ExtractXmlFromInvoicePdf": {
      "post": {
        "tags": [
          "T10_BillController_V01"
        ],
        "operationId": "T10_A002_AV01_CV01_ExtractXmlFromInvoicePdf",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dtoRequestT10_A002_AV01_CV01_ExtractXmlFromInvoicePdf",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DtoRequestT10_A002_AV01_CV01_ExtractXmlFromInvoicePdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice XML result",
            "schema": {
              "$ref": "#/definitions/DtoResponseT10_A002_AV01_CV01_ExtractXmlFromInvoicePdf"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Extract XML from ZUGFeRD PDF",
        "description": "Extracts the embedded ZUGFeRD XML file from a ZUGFeRD-compliant PDF and returns it as a standalone XML document for further processing - https://support.power2apps.de/T10_BillConverter/t10-a002-av01-cv01-extractxmlfrominvoicedpdf"
      }
    },
    "/api/T10_Bill/V01/T10_A003_AV01_CV01_ConvertXmlInvoiceToPdf": {
      "post": {
        "tags": [
          "T10_BillController_V01"
        ],
        "operationId": "T10_A003_AV01_CV01_ConvertXmlInvoiceToPdf",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dtoRequestT10_A003_AV01_CV01_ConvertXmlInvoiceToPdf",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DtoRequestT10_A003_AV01_CV01_ConvertXmlInvoiceToPdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Visualized Invoice PDF result",
            "schema": {
              "$ref": "#/definitions/DtoResponseT10_A003_AV01_CV01_ConvertXmlInvoiceToPdf"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert XML Invoice to PDF",
        "description": "Generates a readable PDF document from an electronic XML invoice (e.g., ZUGFeRD or XRechnung) by rendering the XML data into a formatted PDF layout - https://support.power2apps.de/T10_BillConverter/t10-a003-av01-cv01-convertxmlinvoicetopdf"
      }
    }
  },
  "definitions": {
    "DtoAttachment": {
      "type": "object",
      "properties": {
        "content": {
          "format": "binary",
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "File Content",
          "description": "The file content as binary (base64 in JSON)"
        },
        "filename": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Filename",
          "description": "Filename with extension (e.g., calculation.xlsx)"
        },
        "description": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Description",
          "description": "Optional description of the attachment"
        }
      },
      "additionalProperties": false
    },
    "DtoInvoiceLine": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Description",
          "description": "Short description of the invoiced item or service"
        },
        "quantity": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "important",
          "x-ms-summary": "Quantity",
          "description": "The quantity of the item (e.g., 1, 5.5)"
        },
        "unitCode": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Unit Code",
          "description": "Measurement unit (ISO code, e.g., C62 for piece)"
        },
        "unitPrice": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "important",
          "x-ms-summary": "Unit Price",
          "description": "Net unit price without tax"
        },
        "vatPercent": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "important",
          "x-ms-summary": "VAT Percent",
          "description": "Applicable VAT rate for the item (e.g., 19 for 19%). Default is 19"
        },
        "categoryCode": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Tax Category Code",
          "description": "Tax category for this item (e.g., S = standard rate). Default is 'S'"
        },
        "taxType": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Tax Type",
          "description": "Type of tax applied (e.g., VAT). Default is 'VAT'"
        }
      },
      "additionalProperties": false
    },
    "DtoListOption": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "DtoRequestT10_A001_AV01_CV01_ConvertInvoiceToZugferdPdf": {
      "type": "object",
      "properties": {
        "invoicePdf": {
          "format": "byte",
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Invoice PDF",
          "description": "Invoice PDF"
        },
        "invoiceNumber": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Invoice Number",
          "description": "The invoice number (e.g., RE-2025-001)"
        },
        "invoiceDate": {
          "format": "date-time",
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Invoice Date",
          "description": "The invoice date (format: yyyy-MM-dd)"
        },
        "currencyCode": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Currency",
          "description": "Currency code (e.g., EUR, USD)"
        },
        "sellerName": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Seller Name",
          "description": "Seller company or person name"
        },
        "sellerIdentifier": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Seller Identifier",
          "description": "Seller Identifier"
        },
        "sellerVatId": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Seller VAT ID",
          "description": "Seller VAT ID"
        },
        "sellerLegalRegistrationId": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Seller Registration ID",
          "description": "Seller Registration ID"
        },
        "sellerStreet": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Seller Street",
          "description": "Seller street address"
        },
        "sellerPostcode": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Seller Postcode",
          "description": "Seller postal code"
        },
        "sellerCity": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Seller City",
          "description": "Seller city or locality"
        },
        "sellerCountry": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Seller Country",
          "description": "Seller country (ISO code, e.g., DE)"
        },
        "buyerName": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Buyer Name",
          "description": "Buyer company or person name"
        },
        "buyerStreet": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Buyer Street",
          "description": "Buyer street address"
        },
        "buyerPostcode": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Buyer Postcode",
          "description": "Buyer postal code"
        },
        "buyerCity": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Buyer City",
          "description": "Buyer city or locality"
        },
        "buyerCountry": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Buyer Country",
          "description": "Buyer country (ISO code, e.g., DE)"
        },
        "iban": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "IBAN",
          "description": "Bank account IBAN for payment"
        },
        "bic": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "BIC",
          "description": "Bank identifier code (BIC)"
        },
        "paymentRecipient": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Payment Recipient",
          "description": "Name of the payment recipient"
        },
        "paymentInfo": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Payment Info",
          "description": "Optional payment information or reference"
        },
        "paymentTerm": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Payment Term",
          "description": "Optional Payment Term"
        },
        "paymentDueDate": {
          "format": "date-time",
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Payment Due Date",
          "description": "Optional Payment Due Date"
        },
        "invoiceLines": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DtoInvoiceLine"
          },
          "x-ms-visibility": "important",
          "x-ms-summary": "Invoice Items",
          "description": "Invoice lines as array"
        },
        "attachments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DtoAttachment"
          },
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Attachments",
          "description": "Optional additional file attachments to embed in the PDF"
        }
      },
      "additionalProperties": false
    },
    "DtoRequestT10_A002_AV01_CV01_ExtractXmlFromInvoicePdf": {
      "type": "object",
      "properties": {
        "invoicePdf": {
          "format": "byte",
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Invoice PDF",
          "description": "Invoice PDF"
        }
      },
      "additionalProperties": false
    },
    "DtoRequestT10_A003_AV01_CV01_ConvertXmlInvoiceToPdf": {
      "type": "object",
      "properties": {
        "xml": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Invoice XML",
          "description": "Invoice XML"
        },
        "type": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Invoice Type",
          "description": "Invoice Type",
          "x-ms-dynamic-values": {
            "operationId": "GetInvoiceTypes",
            "value-path": "name",
            "value-title": "name",
            "parameters": { }
          }
        }
      },
      "additionalProperties": false
    },
    "DtoResponseT10_A001_AV01_CV01_ConvertInvoiceToZugferdPdf": {
      "type": "object",
      "properties": {
        "zugferdPdf": {
          "format": "byte",
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "ZUGFeRD PDF",
          "description": "ZUGFeRD PDF"
        }
      },
      "additionalProperties": false
    },
    "DtoResponseT10_A002_AV01_CV01_ExtractXmlFromInvoicePdf": {
      "type": "object",
      "properties": {
        "xml": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "XML",
          "description": "XML"
        }
      },
      "additionalProperties": false
    },
    "DtoResponseT10_A003_AV01_CV01_ConvertXmlInvoiceToPdf": {
      "type": "object",
      "properties": {
        "pdf": {
          "format": "byte",
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Visualized Invoice PDF",
          "description": "Visualized Invoice PDF"
        }
      },
      "additionalProperties": false
    }
  },
  "securityDefinitions": {
    "ApiKey": {
      "type": "apiKey",
      "name": "ApiKey",
      "in": "header",
      "description": "ApiKey Authorization header"
    }
  },
  "security": [
    {
      "ApiKey": [ ]
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.power2apps.de/en"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.power2apps.de/en/converterprivacypolicy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Finance"
    }
  ]
}