{
  "swagger": "2.0",
  "info": {
    "title": "Elfsquad Data",
    "description": "",
    "version": "1.0"
  },
  "host": "api.elfsquad.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/2/webhooks/{trigger_name}": {
      "x-ms-notification-content": {
        "description": "Details for trigger response",
        "schema": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "get_trigger_schema",
            "parameters": {
              "trigger_name": {
                "parameter": "trigger_name"
              }
            },
            "value-path": "schema"
          }
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "When a event is triggered",
        "operationId": "create_trigger",
        "parameters": [
          {
            "$ref": "#/parameters/trigger_name"
          },
          {
            "description": "Request body of the webhook",
            "in": "body",
            "name": "webHooksSubscription",
            "required": false,
            "schema": {
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "x-ms-notification-url": true,
                  "x-ms-summary": "Callback Url",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "callbackUrl"
              ],
              "type": "object"
            }
          }
        ],
        "produces": [],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "Custom trigger",
        "tags": [
          "Webhooks"
        ],
        "x-ms-trigger": "single"
      }
    },
    "/data/1": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get schemas",
        "operationId": "get_schemas",
        "x-ms-visibility": "internal"
      }
    },
    "/data/1/$triggers": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get triggers",
        "operationId": "get_triggers",
        "x-ms-visibility": "internal"
      }
    },
    "/data/1/$triggers/{trigger_name}/$schema": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "parameters": [
          {
            "name": "trigger_name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "summary": "Get trigger schema",
        "operationId": "get_trigger_schema",
        "x-ms-visibility": "internal"
      }
    },
    "/data/1/$functions": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get function",
        "operationId": "get_functions",
        "x-ms-visibility": "internal"
      }
    },
    "/data/1/$functions/{function_path}/$schema": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "parameters": [
          {
            "name": "function_path",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "summary": "Get function definition",
        "operationId": "get_function_definition",
        "x-ms-visibility": "internal"
      }
    },
    "/data/1/{entity_name}/$schema": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get schema",
        "operationId": "get_schema",
        "parameters": [
          {
            "name": "entity_name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/data/1/{entity_name}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "x-ms-dynamic-schema": {
                      "operationId": "get_schema",
                      "parameters": {
                        "entity_name": {
                          "parameter": "entity_name"
                        }
                      },
                      "value-path": "schema"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Get entities",
        "operationId": "get_entities",
        "parameters": [
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/expand"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "$ref": "#/parameters/entity_name"
          }
        ]
      },
      "post": {
        "summary": "Create entity",
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "get_schema",
                "parameters": {
                  "entity_name": {
                    "parameter": "entity_name"
                  }
                },
                "value-path": "schema"
              }
            }
          }
        },
        "operationId": "post_entity_by_id",
        "parameters": [
          {
            "$ref": "#/parameters/entity_name"
          },
          {
            "name": "entity",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "get_schema",
                "parameters": {
                  "entity_name": {
                    "parameter": "entity_name"
                  }
                },
                "value-path": "schema"
              }
            }
          }
        ]
      }
    },
    "/data/1/{entity_name}({id})": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "get_schema",
                "parameters": {
                  "entity_name": {
                    "parameter": "entity_name"
                  }
                },
                "value-path": "schema"
              }
            }
          }
        },
        "summary": "Get entity by id",
        "operationId": "get_entity_by_id",
        "parameters": [
          {
            "$ref": "#/parameters/entity_name"
          },
          {
            "x-ms-summary": "Identifier",
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Delete entity",
        "operationId": "delete_entity_by_id",
        "parameters": [
          {
            "$ref": "#/parameters/entity_name"
          },
          {
            "x-ms-summary": "Identifier",
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "summary": "Update entity",
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "put_entity_by_id",
        "parameters": [
          {
            "$ref": "#/parameters/entity_name"
          },
          {
            "x-ms-summary": "Identifier",
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "entity",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "get_schema",
                "parameters": {
                  "entity_name": {
                    "parameter": "entity_name"
                  }
                },
                "value-path": "schema"
              }
            }
          }
        ]
      }
    },
    "/{function_path}": {
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "get_function_definition",
                "parameters": {
                  "function_path": {
                    "parameter": "function_path"
                  }
                },
                "value-path": "outputSchema"
              }
            }
          }
        },
        "summary": "Invoke function",
        "operationId": "invoke_function",
        "parameters": [
          {
            "$ref": "#/parameters/function_path"
          },
          {
            "$ref": "#/parameters/function_input_schema"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {
    "top": {
      "in": "query",
      "name": "$top",
      "description": "Show only the first n items",
      "type": "integer",
      "minimum": 0
    },
    "skip": {
      "in": "query",
      "name": "$skip",
      "description": "Skip the first n items",
      "type": "integer",
      "minimum": 0
    },
    "count": {
      "in": "query",
      "name": "$count",
      "description": "Include count of items",
      "type": "boolean"
    },
    "filter": {
      "in": "query",
      "name": "$filter",
      "description": "Filter items by property values",
      "type": "string"
    },
    "expand": {
      "in": "query",
      "name": "$expand",
      "description": "Expand related entities",
      "type": "string"
    },
    "entity_name": {
      "name": "entity_name",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-summary": "Name of the entity",
      "x-ms-dynamic-values": {
        "operationId": "get_schemas",
        "parameters": {},
        "value-collection": "value",
        "value-path": "url",
        "value-title": "name"
      }
    },
    "trigger_name": {
      "name": "trigger_name",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-summary": "Trigger",
      "x-ms-dynamic-values": {
        "operationId": "get_triggers",
        "parameters": {},
        "value-collection": "value",
        "value-path": "name",
        "value-title": "description"
      }
    },
    "function_name": {
      "name": "function_name",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-summary": "Name of the function",
      "x-ms-dynamic-values": {
        "operationId": "get_functions",
        "parameters": {},
        "value-collection": "value",
        "value-path": "name",
        "value-title": "description"
      }
    },
    "function_path": {
      "name": "function_path",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-summary": "Path of the function",
      "x-ms-dynamic-values": {
        "operationId": "get_functions",
        "parameters": {},
        "value-collection": "value",
        "value-path": "path",
        "value-title": "description"
      }
    },
    "function_input_schema": {
      "name": "function_input_schema",
      "in": "body",
      "required": true,
      "schema": {
        "type": "object",
        "x-ms-dynamic-schema": {
          "operationId": "get_function_definition",
          "parameters": {
            "function_path": {
              "parameter": "function_path"
            }
          },
          "value-path": "inputSchema"
        }
      }
    }
  },
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.elfsquad.io/connect/authorize",
      "tokenUrl": "https://login.elfsquad.io/connect/token",
      "scopes": {
        "profile openid Elfskot.Api offline_access": "profile openid Elfskot.Api offline_access"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "profile openid Elfskot.Api offline_access"
      ]
    }
  ],
  "tags": []
}