{
  "swagger": "2.0",
  "info": {
    "title": "Bitskout",
    "description": "This Custom connector is used to run Bitskout plugins for a provided file or text",
    "version": "1.0",
    "contact": {
      "name": "Bitskout",
      "email": "admin@bitskout.com",
      "url": "https://www.bitskout.com"
    }
  },
  "x-ms-connector-metadata":[
    {
      "propertyName": "Website",
      "propertyValue": "https://www.bitskout.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.bitskout.com"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Productivity"
    }
  ],
  "host": "api.bitskout.com",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/powerauto/plugins": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "unique_id": {
                    "type": "string",
                    "description": "unique_id"
                  }
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "summary": "List Plugins",
        "description": "Retrieves a list of Bitskout plugins",
        "operationId": "ListPlugins",
        "parameters": []
      }
    },
    "/powerauto/run_file": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "outputs": {
                  "type": "object",
                  "properties": {},
                  "description": "outputs"
                }
              }
            }
          }
        },
        "summary": "Run Plugin for a File",
        "description": "Run the Bitskout plugin for a Provided file",
        "operationId": "RunPluginForFile",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "plugin": {
                  "type": "string",
                  "description": "plugin",
                  "title": "Plugin ID",
                  "x-ms-dynamic-values": {
                    "operationId": "ListPlugins",
                    "value-path": "unique_id",
                    "value-title": "name"
                  }
                },
                "file_url": {
                  "type": "string",
                  "description": "file_url"
                }
              }
            }
          }
        ]
      }
    },
    "/powerauto/run_text": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "outputs": {
                  "type": "object",
                  "properties": {},
                  "description": "outputs"
                }
              }
            }
          }
        },
        "summary": "Run Plugin for a Text",
        "description": "Run the Bitskout plugin for a Provided Text",
        "operationId": "RunPluginText",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "plugin": {
                  "type": "string",
                  "description": "plugin",
                  "title": "Plugin ID",
                  "x-ms-dynamic-values": {
                    "operationId": "ListPlugins",
                    "value-path": "unique_id",
                    "value-title": "name"
                  }
                },
                "text": {
                  "type": "string",
                  "description": "text",
                  "title": "Input Text"
                }
              }
            }
          }
        ]
      }
    },
    "/actions/invoices": {
			"post": {
				"responses": {
					"200": {
						"description": "default",
						"schema": {
							"type": "object",
							"properties": {
								"outputs": {
									"type": "object",
									"properties": {
										"CURRENCY": {
											"type": "string",
											"description": "CURRENCY"
										},
										"CUSTOMER_ADDRESS": {
											"type": "string",
											"description": "CUSTOMER_ADDRESS"
										},
										"CUSTOMER_NAME": {
											"type": "string",
											"description": "CUSTOMER_NAME"
										},
										"DISCOUNT": {
											"type": "string",
											"description": "DISCOUNT"
										},
										"DUE_DATE": {
											"type": "string",
											"description": "DUE_DATE"
										},
										"INVOICE_RECEIPT_DATE": {
											"type": "string",
											"description": "INVOICE_RECEIPT_DATE"
										},
										"INVOICE_RECEIPT_ID": {
											"type": "string",
											"description": "INVOICE_RECEIPT_ID"
										},
										"LINE_ITEMS": {
											"type": "string",
											"description": "LINE_ITEMS"
										},
										"NUMBER_OF_PAGES": {
											"type": "integer",
											"format": "int32",
											"description": "NUMBER_OF_PAGES"
										},
										"RECEIVER_ADDRESS": {
											"type": "string",
											"description": "RECEIVER_ADDRESS"
										},
										"RawJSON": {
											"type": "string",
											"description": "RawJSON"
										},
										"SUBTOTAL": {
											"type": "string",
											"description": "SUBTOTAL"
										},
										"SUPPLIER_ADDRESS": {
											"type": "string",
											"description": "SUPPLIER_ADDRESS"
										},
										"TAX": {
											"type": "string",
											"description": "TAX"
										},
										"TOTAL": {
											"type": "string",
											"description": "TOTAL"
										},
										"VENDOR_NAME": {
											"type": "string",
											"description": "VENDOR_NAME"
										},
										"VENDOR_VAT_NUMBER": {
											"type": "string",
											"description": "VENDOR_VAT_NUMBER"
										},
										"name": {
											"type": "string",
											"description": "name"
										}
									},
									"description": "outputs"
								}
							}
						}
					}
				},
				"summary": "Extract data from Invoice",
				"description": "Extract data from provisioned Invoice using predefined Bitskout plugin",
				"operationId": "Extract_Data_From_Invoice",
				"parameters": [{
					"name": "body",
					"in": "body",
					"required": false,
					"schema": {
						"type": "object",
						"properties": {
							"file_url": {
								"type": "string",
								"description": "file_url"
							}
						}
					}
				}],
				"x-ms-visibility": "important"
			}
		},
		"/actions/purchase_order": {
			"post": {
				"responses": {
					"100": {
						"description": "default",
						"schema": {
							"type": "object",
							"properties": {
								"outputs": {
									"type": "object",
									"properties": {
										"ACCOUNT_NUMBER": {
											"type": "string",
											"description": "ACCOUNT_NUMBER"
										},
										"CUSTOMER_NAME": {
											"type": "string",
											"description": "CUSTOMER_NAME"
										},
										"LINE_ITEMS": {
											"type": "string",
											"description": "LINE_ITEMS"
										},
										"NUMBER_OF_PAGES": {
											"type": "integer",
											"format": "int32",
											"description": "NUMBER_OF_PAGES"
										},
										"PURCHASE_ORDER_DATE": {
											"type": "string",
											"description": "PURCHASE_ORDER_DATE"
										},
										"PURCHASE_ORDER_ID": {
											"type": "string",
											"description": "PURCHASE_ORDER_ID"
										},
										"PURCHASE_ORDER_NUMBER": {
											"type": "string",
											"description": "PURCHASE_ORDER_NUMBER"
										},
										"RECEIVER_ADDRESS": {
											"type": "string",
											"description": "RECEIVER_ADDRESS"
										},
										"RECEIVER_NAME": {
											"type": "string",
											"description": "RECEIVER_NAME"
										},
										"REFERENCE_NUMBER": {
											"type": "string",
											"description": "REFERENCE_NUMBER"
										},
										"RawJSON": {
											"type": "string",
											"description": "RawJSON"
										},
										"TAX_ID": {
											"type": "string",
											"description": "TAX_ID"
										},
										"TOTAL": {
											"type": "string",
											"description": "TOTAL"
										},
										"TRACKING_NUMBER": {
											"type": "string",
											"description": "TRACKING_NUMBER"
										},
										"name": {
											"type": "string",
											"description": "name"
										}
									},
									"description": "outputs"
								}
							}
						}
					}
				},
				"summary": "Extract Data from Purchase Order",
				"description": "Extract data from Purchase Order using Bitskout predefined plugin",
				"operationId": "Extract_Data_From_Purchase_Orders",
				"parameters": [{
					"name": "body",
					"in": "body",
					"required": false,
					"schema": {
						"type": "object",
						"properties": {
							"file_url": {
								"type": "string",
								"description": "file_url"
							}
						}
					}
				}],
				"x-ms-visibility": "important"
			}
		},
		"/actions/bill_of_lading": {
			"post": {
				"responses": {
					"100": {
						"description": "default",
						"schema": {
							"type": "object",
							"properties": {
								"outputs": {
									"type": "object",
									"properties": {
										"BL Number": {
											"type": "string",
											"description": "BL Number"
										},
										"BOL Type": {
											"type": "string",
											"description": "BOL Type"
										},
										"Booking N": {
											"type": "string",
											"description": "Booking N"
										},
										"Consignee": {
											"type": "string",
											"description": "Consignee"
										},
										"Notify Party": {
											"type": "string",
											"description": "Notify Party"
										},
										"Port of Discharge": {
											"type": "string",
											"description": "Port of Discharge"
										},
										"Port of Loading": {
											"type": "string",
											"description": "Port of Loading"
										},
										"RawJSON": {
											"type": "string",
											"description": "RawJSON"
										},
										"ShippedOnBoard": {
											"type": "string",
											"description": "ShippedOnBoard"
										},
										"Shipper": {
											"type": "string",
											"description": "Shipper"
										},
										"Vessel": {
											"type": "string",
											"description": "Vessel"
										},
										"VoyageN": {
											"type": "string",
											"description": "VoyageN"
										},
										"Weight": {
											"type": "string",
											"description": "Weight"
										}
									},
									"description": "outputs"
								}
							}
						}
					}
				},
				"summary": "Extract data from Bill of Lading",
				"description": "Extract data from Bill of Lading using predefined Bitskout plugin",
				"operationId": "Extract_Data_From_Bill_of_Lading",
				"parameters": [{
					"name": "body",
					"in": "body",
					"required": false,
					"schema": {
						"type": "object",
						"properties": {
							"file_url": {
								"type": "string",
								"description": "file_url"
							}
						}
					}
				}],
				"x-ms-visibility": "important"
			}
		},
		"/actions/cv": {
			"post": {
				"responses": {
					"100": {
						"description": "default",
						"schema": {
							"type": "object",
							"properties": {
								"outputs": {
									"type": "object",
									"properties": {
										"EDUCATION": {
											"type": "string",
											"description": "EDUCATION"
										},
										"EMAILS": {
											"type": "string",
											"description": "EMAILS"
										},
										"EXPERIENCE": {
											"type": "string",
											"description": "EXPERIENCE"
										},
										"JOB_TITLE": {
											"type": "string",
											"description": "JOB_TITLE"
										},
										"LINKEDIN": {
											"type": "string",
											"description": "LINKEDIN"
										},
										"LOCATION": {
											"type": "string",
											"description": "LOCATION"
										},
										"NAME": {
											"type": "string",
											"description": "NAME"
										},
										"PHONE_NUMBERS": {
											"type": "string",
											"description": "PHONE_NUMBERS"
										},
										"RawJSON": {
											"type": "string",
											"description": "RawJSON"
										},
										"SKILLS": {
											"type": "string",
											"description": "SKILLS"
										},
										"TOTAL_YEARS_EXPERIENCE": {
											"type": "string",
											"description": "TOTAL_YEARS_EXPERIENCE"
										}
									},
									"description": "outputs"
								}
							}
						}
					}
				},
				"summary": "Extract Data from CV (Resume)",
				"description": "Extract data from CV (Resume) using predefined Bitskout plugin",
				"operationId": "Extract_Data_From_CV",
				"parameters": [{
					"name": "body",
					"in": "body",
					"required": false,
					"schema": {
						"type": "object",
						"properties": {
							"file_url": {
								"type": "string",
								"description": "file_url"
							}
						}
					}
				}],
				"x-ms-visibility": "important"
			}
		},
		"/actions/doctype_{doctype}": {
			"post": {
				"responses": {
					"100": {
						"description": "default",
						"schema": {
							"type": "object",
							"properties": {
								"outputs": {
									"type": "object",
									"properties": {
										"Document Type": {
											"type": "string",
											"description": "Document Type"
										},
										"RawJSON": {
											"type": "string",
											"description": "RawJSON"
										}
									},
									"description": "outputs"
								}
							}
						}
					}
				},
				"summary": "Detect Document Type",
				"description": "Detect the type of the provisioned document",
				"operationId": "Detect_Document_Type",
				"parameters": [{
						"name": "doctype",
						"in": "path",
						"required": true,
						"type": "string",
						"enum": [
							"legal",
							"logistics"
						]
					},
					{
						"name": "body",
						"in": "body",
						"required": false,
						"schema": {
							"type": "object",
							"properties": {
								"file_url": {
									"type": "string",
									"description": "file_url"
								}
							}
						}
					}
				],
				"x-ms-visibility": "important"
			}
		},
		"/actions/business_cards": {
			"post": {
				"responses": {
					"100": {
						"description": "default",
						"schema": {
							"type": "object",
							"properties": {
								"outputs": {
									"type": "object",
									"properties": {
										"ADDRESS": {
											"type": "string",
											"description": "ADDRESS"
										},
										"COMPANY_NAME": {
											"type": "string",
											"description": "COMPANY_NAME"
										},
										"EMAIL_ADDRESS": {
											"type": "string",
											"description": "EMAIL_ADDRESS"
										},
										"FAX": {
											"type": "string",
											"description": "FAX"
										},
										"LOCATION": {
											"type": "string",
											"description": "LOCATION"
										},
										"LOGO_URL": {
											"type": "string",
											"description": "LOGO_URL"
										},
										"MOBILE": {
											"type": "string",
											"description": "MOBILE"
										},
										"PERSON_NAME": {
											"type": "string",
											"description": "PERSON_NAME"
										},
										"PERSON_POSITION": {
											"type": "string",
											"description": "PERSON_POSITION"
										},
										"PHONE_NUMBER": {
											"type": "string",
											"description": "PHONE_NUMBER"
										},
										"RawJSON": {
											"type": "string",
											"description": "RawJSON"
										},
										"WEBSITE": {
											"type": "string",
											"description": "WEBSITE"
										}
									},
									"description": "outputs"
								}
							}
						}
					}
				},
				"summary": "Extract data from Business Cards",
				"description": "Extract data from Business Cards using Bitskout predefined plugins",
				"operationId": "Extract_Data_From_Business_Cards",
				"parameters": [{
					"name": "body",
					"in": "body",
					"required": false,
					"schema": {
						"type": "object",
						"properties": {
							"file_url": {
								"type": "string",
								"description": "file_url"
							}
						}
					}
				}]
			}
		},
		"/actions/qrcodes": {
			"post": {
				"responses": {
					"100": {
						"description": "default",
						"schema": {
							"type": "object",
							"properties": {
								"outputs": {
									"type": "object",
									"properties": {
										"RawJSON": {
											"type": "string",
											"description": "RawJSON"
										},
										"qrcode": {
											"type": "string",
											"description": "qrcode"
										}
									},
									"description": "outputs"
								}
							}
						}
					}
				},
				"summary": "Extract QR Code from Document",
				"description": "Extract QR code value from provisioned documents using Bitskout predefined plugin",
				"operationId": "Extract_QR_From_Document",
				"parameters": [{
					"name": "body",
					"in": "body",
					"required": false,
					"schema": {
						"type": "object",
						"properties": {
							"file_url": {
								"type": "string",
								"description": "file_url"
							}
						}
					}
				}]
			}
		},
		"/actions/barcodes": {
			"post": {
				"responses": {
					"200": {
						"description": "default",
						"schema": {
							"type": "object",
							"properties": {
								"outputs": {
									"type": "object",
									"properties": {
										"RawJSON": {
											"type": "string",
											"description": "RawJSON"
										},
										"barcode": {
											"type": "string",
											"description": "barcode"
										}
									},
									"description": "outputs"
								}
							}
						}
					}
				},
				"summary": "Extract Barcode from File",
				"description": "Extract Barcode value from provisioned file using Bitskout predefined plugin",
				"operationId": "Extract_Barcode_From_File",
				"parameters": [{
					"name": "body",
					"in": "body",
					"required": false,
					"schema": {
						"type": "object",
						"properties": {
							"file_url": {
								"type": "string",
								"description": "file_url"
							}
						}
					}
				}]
			}
		},
		"/actions/cold_response": {
			"post": {
				"responses": {
					"200": {
						"description": "default",
						"schema": {
							"type": "object",
							"properties": {
								"outputs": {
									"type": "object",
									"properties": {
										"RawJSON": {
											"type": "string",
											"description": "RawJSON"
										},
										"Result": {
											"type": "string",
											"description": "Analysis result - Interested or not Interested",
											"title": "Result"
										}
									},
									"description": "outputs"
								}
							}
						}
					}
				},
				"summary": "Detect Response to Cold Email",
				"description": "Detects response to Cold Email using predefined Bitskout plugin",
				"operationId": "Detect_Response_Cold_Email",
				"parameters": [{
					"name": "body",
					"in": "body",
					"required": false,
					"schema": {
						"type": "object",
						"properties": {
							"text": {
								"type": "string",
								"description": "text"
							}
						}
					}
				}]
			}
		},
		"/actions/haro": {
			"post": {
				"responses": {
					"default": {
						"description": "default",
						"schema": {
							"type": "object",
							"properties": {
								"outputs": {
									"type": "object",
									"properties": {
										"CATEGORY": {
											"type": "string",
											"description": "CATEGORY"
										},
										"DEADLINE": {
											"type": "string",
											"description": "DEADLINE"
										},
										"EMAIL": {
											"type": "string",
											"description": "EMAIL"
										},
										"MEDIA OUTLET": {
											"type": "string",
											"description": "MEDIA OUTLET"
										},
										"NAME": {
											"type": "string",
											"description": "NAME"
										},
										"QUERY": {
											"type": "string",
											"description": "QUERY"
										},
										"REQUIREMENTS": {
											"type": "string",
											"description": "REQUIREMENTS"
										},
										"RawJSON": {
											"type": "string",
											"description": "Response Raw JSON",
											"title": "RawJSON"
										}
									},
									"description": "outputs"
								}
							}
						}
					}
				},
				"summary": "Extract data from HARO Query",
				"description": "Extract data from HARO query using predefined Bitskout plugin",
				"operationId": "Extract_Data_From_HARO",
				"parameters": [{
					"name": "body",
					"in": "body",
					"required": false,
					"schema": {
						"type": "object",
						"properties": {
							"text": {
								"type": "string",
								"description": "text"
							}
						}
					}
				}]
			}
		}
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [],
  "tags": []
}