{
  "swagger": "2.0",
  "info": {
    "title": "Bitskout",
    "description": "This Custom connector is used to run Bitskout plugins for a provided file or text",
    "version": "1.0",
    "contact": {
      "name": "Bitskout",
      "email": "admin@bitskout.com",
      "url": "https://www.bitskout.com"
    }
  },
  "x-ms-connector-metadata":[
    {
      "propertyName": "Website",
      "propertyValue": "https://www.bitskout.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.bitskout.com"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Productivity"
    }
  ],
  "host": "api.bitskout.com",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/powerauto/plugins": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Plugin's name"
                  },
                  "unique_id": {
                    "type": "string",
                    "description": "Plugin's Unique ID"
                  }
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "summary": "List Plugins",
        "description": "Retrieves a list of Bitskout plugins",
        "operationId": "ListPlugins",
        "parameters": []
      }
    },
    "/powerauto/run_file": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "outputs": {
                  "type": "object",
                  "properties": {},
                  "description": "List of keys returned by selected Bitskout plugin"
                }
              }
            }
          }
        },
        "summary": "Run Plugin for a File",
        "description": "Run the Bitskout plugin for a Provided file",
        "operationId": "RunPluginForFile",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "plugin": {
                  "type": "string",
                  "description": "plugin",
                  "title": "Plugin ID",
                  "x-ms-dynamic-values": {
                    "operationId": "ListPlugins",
                    "value-path": "unique_id",
                    "value-title": "name"
                  }
                },
                "file_url": {
                  "type": "string",
                  "description": "Direct link to download file"
                }
              }
            }
          }
        ]
      }
    },
    "/powerauto/run_text": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "outputs": {
                  "type": "object",
                  "properties": {},
                  "description": "List of keys returned by selected Bitskout plugin"
                }
              }
            }
          }
        },
        "summary": "Run Plugin for a Text",
        "description": "Run the Bitskout plugin for a Provided Text",
        "operationId": "RunPluginText",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "plugin": {
                  "type": "string",
                  "description": "Unique Plugin ID",
                  "title": "Plugin ID",
                  "x-ms-dynamic-values": {
                    "operationId": "ListPlugins",
                    "value-path": "unique_id",
                    "value-title": "name"
                  }
                },
                "text": {
                  "type": "string",
                  "description": "Text to be analyzed by Bitskout plugin",
                  "title": "Input Text"
                }
              }
            }
          }
        ]
      }
    },
    "/actions/invoices": {
      "post": {
        "responses": {
          "200": {
              "description": "default",
              "schema": {
              "type": "object",
              "properties": {
                "outputs": {
                  "type": "object",
                  "properties": {
                    "CURRENCY": {
                      "type": "string",
                      "description": "Currency"
                    },
                    "CUSTOMER_ADDRESS": {
                      "type": "string",
                      "description": "Customer's Address"
                    },
                    "CUSTOMER_NAME": {
                      "type": "string",
                      "description": "Customer's Name"
                    },
                    "DISCOUNT": {
                      "type": "string",
                      "description": "Discount"
                    },
                    "DUE_DATE": {
                      "type": "string",
                      "description": "Due Date"
                    },
                    "INVOICE_RECEIPT_DATE": {
                      "type": "string",
                      "description": "Invoice Receipt Date"
                    },
                    "INVOICE_RECEIPT_ID": {
                      "type": "string",
                      "description": "Invoice Receipt ID"
                    },
                    "LINE_ITEMS": {
                      "type": "string",
                      "description": "Line Items as CSV"
                    },
                    "NUMBER_OF_PAGES": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of pages in the document"
                    },
                    "RECEIVER_ADDRESS": {
                      "type": "string",
                      "description": "Receiver's Address"
                    },
                    "RawJSON": {
                      "type": "string",
                      "description": "RawJSON"
                    },
                    "SUBTOTAL": {
                      "type": "string",
                      "description": "Subtotal"
                    },
                    "SUPPLIER_ADDRESS": {
                      "type": "string",
                      "description": "Supplier Address"
                    },
                    "TAX": {
                      "type": "string",
                      "description": "Tax"
                    },
                    "TOTAL": {
                      "type": "string",
                      "description": "Total"
                    },
                    "VENDOR_NAME": {
                      "type": "string",
                      "description": "Vendor's name"
                    },
                    "VENDOR_VAT_NUMBER": {
                      "type": "string",
                      "description": "Vendor's VAT Number"
                    },
                    "name": {
                      "type": "string",
                      "description": "File Name"
                    }
                  },
                  "description": "List of keys returned by Bitskout plugin"
                }
              }
            }
          }
        },
        "summary": "Extract data from Invoice",
        "description": "Extract data from provisioned Invoice using predefined Bitskout plugin",
        "operationId": "ExtractDataFromInvoice",
        "parameters": [{
          "name": "body",
          "in": "body",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "file_url": {
                "type": "string",
                "description": "Link to download file"
              }
            }
          }
        }],
        "x-ms-visibility": "important"
      }
    },
    "/actions/purchase_order": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "outputs": {
                  "type": "object",
                  "properties": {
                    "ACCOUNT_NUMBER": {
                      "type": "string",
                      "description": "Account Number"
                    },
                    "CUSTOMER_NAME": {
                      "type": "string",
                      "description": "Customer Name"
                    },
                    "LINE_ITEMS": {
                      "type": "string",
                      "description": "Line Items as CSV"
                    },
                    "NUMBER_OF_PAGES": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of Pages in the Document"
                    },
                    "PURCHASE_ORDER_DATE": {
                      "type": "string",
                      "description": "Purchase Order Date"
                    },
                    "PURCHASE_ORDER_ID": {
                      "type": "string",
                      "description": "Purchase Order ID"
                    },
                    "PURCHASE_ORDER_NUMBER": {
                      "type": "string",
                      "description": "Purchase Order Number"
                    },
                    "RECEIVER_ADDRESS": {
                      "type": "string",
                      "description": "Receiver's Address"
                    },
                    "RECEIVER_NAME": {
                      "type": "string",
                      "description": "Receiver's Name"
                    },
                    "REFERENCE_NUMBER": {
                      "type": "string",
                      "description": "Reference Number"
                    },
                    "RawJSON": {
                      "type": "string",
                      "description": "RawJSON"
                    },
                    "TAX_ID": {
                      "type": "string",
                      "description": "Tax ID"
                    },
                    "TOTAL": {
                      "type": "string",
                      "description": "Total"
                    },
                    "TRACKING_NUMBER": {
                      "type": "string",
                      "description": "Tracking Number"
                    },
                    "name": {
                      "type": "string",
                      "description": "File Name"
                    }
                  },
                  "description": "List of keys returned by Bitskout plugin"
                }
              }
            }
          }
        },
        "summary": "Extract Data from Purchase Order",
        "description": "Extract data from Purchase Order using Bitskout predefined plugin",
        "operationId": "ExtractDataPurchaseOrders",
        "parameters": [{
          "name": "body",
          "in": "body",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "file_url": {
                "type": "string",
                "description": "Link to download file"
              }
            }
          }
        }],
        "x-ms-visibility": "important"
      }
    },
    "/actions/bill_of_lading": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "outputs": {
                  "type": "object",
                  "properties": {
                    "BL Number": {
                      "type": "string",
                      "description": "Bill of Lading Number"
                    },
                    "BOL Type": {
                      "type": "string",
                      "description": "Bill of Lading Type"
                    },
                    "Booking N": {
                      "type": "string",
                      "description": "Booking Number"
                    },
                    "Consignee": {
                      "type": "string",
                      "description": "Consignee"
                    },
                    "Notify Party": {
                      "type": "string",
                      "description": "Notify Party"
                    },
                    "Port of Discharge": {
                      "type": "string",
                      "description": "Port of Discharge"
                    },
                    "Port of Loading": {
                      "type": "string",
                      "description": "Port of Loading"
                    },
                    "RawJSON": {
                      "type": "string",
                      "description": "RawJSON"
                    },
                    "ShippedOnBoard": {
                      "type": "string",
                      "description": "Shipped on Board"
                    },
                    "Shipper": {
                      "type": "string",
                      "description": "Shipper"
                    },
                    "Vessel": {
                      "type": "string",
                      "description": "Vessel"
                    },
                    "VoyageN": {
                      "type": "string",
                      "description": "Voyage Number"
                    },
                    "Weight": {
                      "type": "string",
                      "description": "Weight"
                    }
                  },
                  "description": "List of keys returned by Bitskout plugin"
                }
              }
            }
          }
        },
        "summary": "Extract data from Bill of Lading",
        "description": "Extract data from Bill of Lading using predefined Bitskout plugin",
        "operationId": "ExtractDataBillofLading",
        "parameters": [{
          "name": "body",
          "in": "body",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "file_url": {
                "type": "string",
                "description": "Direct link to download file"
              }
            }
          }
        }],
        "x-ms-visibility": "important"
      }
    },
    "/actions/cv": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "outputs": {
                  "type": "object",
                  "properties": {
                    "EDUCATION": {
                      "type": "string",
                      "description": "EDUCATION"
                    },
                    "EMAILS": {
                      "type": "string",
                      "description": "List of Emails, specified in CV(Resume)"
                    },
                    "EXPERIENCE": {
                      "type": "string",
                      "description": "Experience"
                    },
                    "JOB_TITLE": {
                      "type": "string",
                      "description": "Job Title"
                    },
                    "LINKEDIN": {
                      "type": "string",
                      "description": "LinkedIn Profile"
                    },
                    "LOCATION": {
                      "type": "string",
                      "description": "Location"
                    },
                    "NAME": {
                      "type": "string",
                      "description": "Person's name"
                    },
                    "PHONE_NUMBERS": {
                      "type": "string",
                      "description": "List of phone numbers"
                    },
                    "RawJSON": {
                      "type": "string",
                      "description": "RawJSON"
                    },
                    "SKILLS": {
                      "type": "string",
                      "description": "List of Skills"
                    },
                    "TOTAL_YEARS_EXPERIENCE": {
                      "type": "string",
                      "description": "Total years of experience"
                    }
                  },
                  "description": "List of Keys returned by Bitskout plugin"
                }
              }
            }
          }
        },
        "summary": "Extract Data from CV (Resume)",
        "description": "Extract data from CV (Resume) using predefined Bitskout plugin",
        "operationId": "ExtractDataCV",
        "parameters": [{
          "name": "body",
          "in": "body",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "file_url": {
                "type": "string",
                "description": "Direct link to download file"
              }
            }
          }
        }],
        "x-ms-visibility": "important"
      }
    },
    "/actions/doctype_{doctype}": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "outputs": {
                  "type": "object",
                  "properties": {
                    "Document Type": {
                      "type": "string",
                      "description": "Document Type"
                    },
                    "RawJSON": {
                      "type": "string",
                      "description": "RawJSON"
                    }
                  },
                  "description": "outputs"
                }
              }
            }
          }
        },
        "summary": "Detect Document Type",
        "description": "Detect the type of the provisioned document",
        "operationId": "DetectDocumentType",
        "parameters": [{
            "name": "doctype",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Document Type",
            "description": "Document Type (legal, logistics and etc.)",
            "enum": [
              "legal",
              "logistics"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "file_url": {
                  "type": "string",
                  "description": "Direct Link to download file"
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/actions/business_cards": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "outputs": {
                  "type": "object",
                  "properties": {
                    "ADDRESS": {
                      "type": "string",
                      "description": "Address"
                    },
                    "COMPANY_NAME": {
                      "type": "string",
                      "description": "Company Name"
                    },
                    "EMAIL_ADDRESS": {
                      "type": "string",
                      "description": "Email"
                    },
                    "FAX": {
                      "type": "string",
                      "description": "Fax"
                    },
                    "LOCATION": {
                      "type": "string",
                      "description": "Location"
                    },
                    "LOGO_URL": {
                      "type": "string",
                      "description": "Logo URL"
                    },
                    "MOBILE": {
                      "type": "string",
                      "description": "Mobile phone number"
                    },
                    "PERSON_NAME": {
                      "type": "string",
                      "description": "Person's name"
                    },
                    "PERSON_POSITION": {
                      "type": "string",
                      "description": "Person's position"
                    },
                    "PHONE_NUMBER": {
                      "type": "string",
                      "description": "Phone Number"
                    },
                    "RawJSON": {
                      "type": "string",
                      "description": "RawJSON"
                    },
                    "WEBSITE": {
                      "type": "string",
                      "description": "Website URL"
                    }
                  },
                  "description": "List of keys returned by Bitskout plugin"
                }
              }
            }
          }
        },
        "summary": "Extract data from Business Cards",
        "description": "Extract data from Business Cards using Bitskout predefined plugins",
        "operationId": "ExtractDataBusinessCards",
        "parameters": [{
          "name": "body",
          "in": "body",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "file_url": {
                "type": "string",
                "description": "Direct link to download file"
              }
            }
          }
        }]
      }
    },
    "/actions/qrcodes": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "outputs": {
                  "type": "object",
                  "properties": {
                    "RawJSON": {
                      "type": "string",
                      "description": "RawJSON"
                    },
                    "qrcode": {
                      "type": "string",
                      "description": "QRCode value"
                    }
                  },
                  "description": "List of keys returned by Bitskout plugin"
                }
              }
            }
          }
        },
        "summary": "Extract QR Code from Document",
        "description": "Extract QR code value from provisioned documents using Bitskout predefined plugin",
        "operationId": "ExtractQRCode",
        "parameters": [{
          "name": "body",
          "in": "body",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "file_url": {
                "type": "string",
                "description": "Direct link to download file"
              }
            }
          }
        }]
      }
    },
    "/actions/barcodes": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "outputs": {
                  "type": "object",
                  "properties": {
                    "RawJSON": {
                      "type": "string",
                      "description": "RawJSON"
                    },
                    "barcode": {
                      "type": "string",
                      "description": "Barcode value"
                    }
                  },
                  "description": "List of keys returned by Bitskout plugin"
                }
              }
            }
          }
        },
        "summary": "Extract Barcode from File",
        "description": "Extract Barcode value from provisioned file using Bitskout predefined plugin",
        "operationId": "ExtractBarcodeFromFile",
        "parameters": [{
          "name": "body",
          "in": "body",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "file_url": {
                "type": "string",
                "description": "Direct link to download file"
              }
            }
          }
        }]
      }
    },
    "/actions/cold_response": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "outputs": {
                  "type": "object",
                  "properties": {
                    "RawJSON": {
                      "type": "string",
                      "description": "RawJSON"
                    },
                    "Result": {
                      "type": "string",
                      "description": "Analysis result - Interested or not Interested",
                      "title": "Result"
                    }
                  },
                  "description": "List of keys returned by Bitskout plugin"
                }
              }
            }
          }
        },
        "summary": "Detect Response to Cold Email",
        "description": "Detects response to Cold Email using predefined Bitskout plugin",
        "operationId": "DetectResponseColdEmail",
        "parameters": [{
          "name": "body",
          "in": "body",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string",
                "description": "text"
              }
            }
          }
        }]
      }
    },
    "/actions/haro": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "outputs": {
                  "type": "object",
                  "properties": {
                    "CATEGORY": {
                      "type": "string",
                      "description": "CATEGORY"
                    },
                    "DEADLINE": {
                      "type": "string",
                      "description": "DEADLINE"
                    },
                    "EMAIL": {
                      "type": "string",
                      "description": "EMAIL"
                    },
                    "MEDIA OUTLET": {
                      "type": "string",
                      "description": "MEDIA OUTLET"
                    },
                    "NAME": {
                      "type": "string",
                      "description": "NAME"
                    },
                    "QUERY": {
                      "type": "string",
                      "description": "QUERY"
                    },
                    "REQUIREMENTS": {
                      "type": "string",
                      "description": "REQUIREMENTS"
                    },
                    "RawJSON": {
                      "type": "string",
                      "description": "Response Raw JSON",
                      "title": "RawJSON"
                    }
                  },
                  "description": "outputs"
                }
              }
            }
          }
        },
        "summary": "Extract data from HARO Query",
        "description": "Extract data from HARO query using predefined Bitskout plugin",
        "operationId": "ExtractDataHARO",
        "parameters": [{
          "name": "body",
          "in": "body",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string",
                "description": "HARO Query text"
              }
            }
          }
        }]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [],
  "tags": []
}