{
  "swagger": "2.0",
  "info":
  {
    "title": "UiPath Custom Connector Preview",
    "description": "UiPath Connector for Power Automate",
    "version": "0.5",
    "contact":
    {
      "name": "Integrations Team",
      "email": "integrations-apps@uipath.com",
      "url": "https://www.uipath.com/support"
    }
  },
  "host": "cloud.uipath.com",
  "basePath": "/orchestrator_/",
  "schemes":
  [
    "https"
  ],
  "x-ms-connector-metadata":
  [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.uipath.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.uipath.com/legal/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Business Intelligence;RPA;IT Operations"
    }
  ],
  "securityDefinitions":
  {
    "oauth2_auth":
    {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://cloud.uipath.com/identity_/connect/authorize",
      "tokenUrl": "https://cloud.uipath.com/identity_/connect/token",
      "scopes":
      {
        "OR.Assets OR.Execution OR.Folders OR.Jobs OR.Machines OR.Queues OR.Robots OR.Tasks offline_access": "OR.Assets OR.Execution OR.Folders OR.Jobs OR.Machines OR.Queues OR.Robots OR.Tasks offline_access"
      }
    }
  },
  "security":
  [
    {
      "oauth2_auth":
      [
        "OR.Assets OR.Execution OR.Folders OR.Jobs OR.Machines OR.Queues OR.Robots OR.Tasks offline_access"
      ]
    }
  ],
  "paths":
  {
    "/odata/Folders":
    {
      "get":
      {
        "tags":
        [
          "Folders"
        ],
        "summary": "Get Folders",
        "description": "Gets a list of folders.",
        "operationId": "Folders_Get",
        "produces":
        [
          "application/json"
        ],
        "parameters":
        [
          {
            "in": "query",
            "name": "$filter",
            "description": "Restricts the set of items returned. The maximum number of expressions is 100.",
            "type": "string",
            "x-ms-summary": "Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Specifies the order in which items are returned. The maximum number of expressions is 5.",
            "type": "string",
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Limits the number of items returned from a collection. The maximum value is 1000.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Top",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "Excludes the specified number of items of the queried collection from the result.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Skip",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses":
        {
          "200":
          {
            "description": "Success",
            "schema":
            {
              "$ref": "#/definitions/ODataValueOfIEnumerableOfFolderDto"
            }
          }
        }
      },
      "post":
      {
        "tags":
        [
          "Folders"
        ],
        "summary": "Create Folder",
        "description": "Creates a new folder.",
        "operationId": "Folders_Post",
        "consumes":
        [
          "application/json"
        ],
        "produces":
        [
          "application/json"
        ],
        "parameters":
        [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "schema":
            {
              "required":
              [
                "Description"
              ],
              "properties":
              {
                "DisplayName":
                {
                  "description": "Display of the new folder.",
                  "maxLength": 115,
                  "type": "string",
                  "x-ms-summary": "Display Name"
                },
                "Description":
                {
                  "description": "Description of the folder.",
                  "maxLength": 500,
                  "type": "string"
                },
                "IsPersonal":
                {
                  "description": "True if Personal",
                  "type": "boolean",
                  "default": "false",
                  "enum":
                  [
                    "true",
                    "false"
                  ],
                  "x-ms-summary": "Is Personal"
                },
                "ParentId":
                {
                  "format": "int64",
                  "description": "Optionally specifies a parent folder other will be created at the root level.",
                  "type": "integer",
                  "x-ms-summary": "Parent Folder",
                  "x-ms-visibility": "advanced",
                  "x-ms-dynamic-values":
                  {
                    "operationId": "Folders_Get",
                    "value-path": "Id",
                    "value-collection": "value",
                    "value-title": "FullyQualifiedName"
                  }
                },
                "ProvisionType":
                {
                  "description": "Robot provisioning type",
                  "enum":
                  [
                    "Manual",
                    "Automatic"
                  ],
                  "type": "string",
                  "x-ms-enum":
                  {
                    "name": "FolderDtoProvisionType",
                    "modelAsString": false
                  },
                  "x-ms-summary": "Provision Type",
                  "x-ms-visibility": "advanced"
                },
                "PermissionModel":
                {
                  "description": "Folder permissions model",
                  "enum":
                  [
                    "InheritFromTenant",
                    "FineGrained"
                  ],
                  "type": "string",
                  "x-ms-enum":
                  {
                    "name": "FolderDtoPermissionModel",
                    "modelAsString": false
                  },
                  "x-ms-summary": "Permission Model",
                  "x-ms-visibility": "advanced"
                },
                "FeedType":
                {
                  "description": "Folder feed type",
                  "enum":
                  [
                    "Undefined",
                    "Processes",
                    "Libraries",
                    "PersonalWorkspace",
                    "FolderHierarchy"
                  ],
                  "type": "string",
                  "x-ms-enum":
                  {
                    "name": "FolderDtoFeedType",
                    "modelAsString": false
                  },
                  "x-ms-summary": "Feed Type",
                  "x-ms-visibility": "advanced"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses":
        {
          "201":
          {
            "description": "Success",
            "schema":
            {
              "$ref": "#/definitions/FolderDto"
            }
          }
        }
      }
    },
    "/odata/Assets":
    {
      "get":
      {
        "tags":
        [
          "Assets"
        ],
        "summary": "Get Assets",
        "description": "Gets a list of assets.",
        "operationId": "Assets_Get",
        "produces":
        [
          "application/json"
        ],
        "parameters":
        [
          {
            "in": "query",
            "name": "$filter",
            "description": "Restricts the set of items returned. The maximum number of expressions is 100.",
            "type": "string",
            "x-ms-summary": "Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Specifies the order in which items are returned. The maximum number of expressions is 5.",
            "type": "string",
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Limits the number of items returned from a collection. The maximum value is 1000.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Top",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "Excludes the specified number of items of the queried collection from the result.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Skip",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64",
            "required": true,
            "x-ms-summary": "Folder",
            "x-ms-dynamic-values":
            {
              "operationId": "Folders_Get",
              "value-path": "Id",
              "value-collection": "value",
              "value-title": "FullyQualifiedName"
            }
          }
        ],
        "responses":
        {
          "200":
          {
            "description": "Success",
            "schema":
            {
              "$ref": "#/definitions/ODataValueOfIEnumerableOfAssetDto"
            }
          }
        }
      },
      "post":
      {
        "tags":
        [
          "Assets"
        ],
        "summary": "Create Asset",
        "description": "Creates a new asset.",
        "operationId": "Assets_Post",
        "consumes":
        [
          "application/json;odata.metadata=minimal;odata.streaming=true",
          "application/json;odata.metadata=minimal;odata.streaming=false",
          "application/json;odata.metadata=minimal",
          "application/json;odata.metadata=full;odata.streaming=true",
          "application/json;odata.metadata=full;odata.streaming=false",
          "application/json;odata.metadata=full",
          "application/json;odata.metadata=none;odata.streaming=true",
          "application/json;odata.metadata=none;odata.streaming=false",
          "application/json;odata.metadata=none",
          "application/json;odata.streaming=true",
          "application/json;odata.streaming=false",
          "application/json"
        ],
        "produces":
        [
          "application/json"
        ],
        "parameters":
        [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "schema":
            {
              "description": "Stores specific data so that robots can easily have access to it.",
              "required":
              [
                "Name",
                "ValueScope"
              ],
              "type": "object",
              "properties":
              {
                "Name":
                {
                  "description": "A name for the asset.",
                  "maxLength": 256,
                  "type": "string"
                },
                "ValueType":
                {
                  "description": "Defines the type of value stored by the asset.",
                  "enum":
                  [
                    "DBConnectionString",
                    "HttpConnectionString",
                    "Text",
                    "Bool",
                    "Integer",
                    "Credential",
                    "WindowsCredential",
                    "KeyValueList"
                  ],
                  "type": "string",
                  "x-ms-enum":
                  {
                    "name": "AssetDtoValueType",
                    "modelAsString": false
                  },
                  "x-ms-summary": "Type"
                },
                "Description":
                {
                  "description": "The description of the asset.",
                  "maxLength": 250,
                  "type": "string"
                },
                "CanBeDeleted":
                {
                  "description": "States if an assets can be deleted. The default value of this property is true.",
                  "type": "boolean",
                  "x-ms-summary": "Can Be Deleted",
                  "default": true
                },
                "ValueScope":
                {
                  "description": "Defines the scope of the asset.",
                  "enum":
                  [
                    "Global",
                    "PerRobot"
                  ],
                  "default": "Global",
                  "type": "string",
                  "x-ms-enum":
                  {
                    "name": "AssetDtoValueScope",
                    "modelAsString": false
                  },
                  "x-ms-visibility": "internal",
                  "x-ms-summary": "Scope"
                },
                "Value":
                {
                  "description": "The textual representation of the asset value, irrespective of value type.",
                  "type": "string"
                },
                "StringValue":
                {
                  "description": "The value of the asset when the value type is Text. Empty when the value type is not Text.",
                  "maxLength": 1000000,
                  "type": "string"
                },
                "BoolValue":
                {
                  "description": "The value of the asset when the value type is Bool. False when the value type is not Bool.",
                  "type": "boolean"
                },
                "IntValue":
                {
                  "format": "int32",
                  "description": "The value of the asset when the value type is Integer. 0 when the value type is not Integer.",
                  "type": "integer"
                },
                "CredentialUsername":
                {
                  "description": "The user name when the value type is Credential. Empty when the value type is not Credential.",
                  "maxLength": 512,
                  "type": "string"
                },
                "CredentialPassword":
                {
                  "description": "The password when the value type is Credential. Empty when the value type is not Credential.",
                  "maxLength": 256,
                  "type": "string"
                }
              }
            }
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64",
            "required": true,
            "x-ms-summary": "Folder",
            "x-ms-dynamic-values":
            {
              "operationId": "Folders_Get",
              "value-path": "Id",
              "value-collection": "value",
              "value-title": "FullyQualifiedName"
            }
          }
        ],
        "responses":
        {
          "201":
          {
            "description": "Successfully created the asset",
            "schema":
            {
              "$ref": "#/definitions/AssetDto"
            }
          }
        }
      }
    },
    "/odata/Jobs":
    {
      "get":
      {
        "tags":
        [
          "Jobs"
        ],
        "summary": "Gets Jobs",
        "description": "Gets a list of jobs.",
        "operationId": "Jobs_Get",
        "produces":
        [
          "application/json"
        ],
        "parameters":
        [
          {
            "in": "query",
            "name": "mandatoryPermissions",
            "description": "All permissions in this set must be met",
            "type": "array",
            "x-ms-summary": "Mandatory Permissions",
            "x-ms-visibility": "advanced",
            "items":
            {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "atLeastOnePermissions",
            "description": "At least one permission in this set must be met",
            "type": "array",
            "x-ms-summary": "At Least One Permission",
            "x-ms-visibility": "advanced",
            "items":
            {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "Restricts the set of items returned. The maximum number of expressions is 100.",
            "type": "string",
            "x-ms-summary": "Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Specifies the order in which items are returned. The maximum number of expressions is 5.",
            "type": "string",
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Limits the number of items returned from a collection. The maximum value is 1000.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Top",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "Excludes the specified number of items of the queried collection from the result.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Skip",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64",
            "required": true,
            "x-ms-summary": "Folder",
            "x-ms-dynamic-values":
            {
              "operationId": "Folders_Get",
              "value-path": "Id",
              "value-collection": "value",
              "value-title": "FullyQualifiedName"
            }
          }
        ],
        "responses":
        {
          "200":
          {
            "description": "Success",
            "schema":
            {
              "$ref": "#/definitions/ODataValueOfIEnumerableOfJobDto"
            }
          }
        }
      }
    },
    "/odata/Jobs({key})":
    {
      "get":
      {
        "tags":
        [
          "Jobs"
        ],
        "summary": "Get Job",
        "description": "Gets a single job.",
        "operationId": "Jobs_GetById",
        "produces":
        [
          "application/json"
        ],
        "parameters":
        [
          {
            "in": "path",
            "name": "key",
            "description": "Specifies the Id of the job to retrieve.",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "Id",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64",
            "required": true,
            "x-ms-summary": "Folder",
            "x-ms-dynamic-values":
            {
              "operationId": "Folders_Get",
              "value-path": "Id",
              "value-collection": "value",
              "value-title": "FullyQualifiedName"
            }
          }
        ],
        "responses":
        {
          "200":
          {
            "description": "Success",
            "schema":
            {
              "$ref": "#/definitions/JobDto"
            }
          }
        }
      }
    },
    "/odata/Processes":
    {
      "get":
      {
        "tags":
        [
          "Processes"
        ],
        "summary": "Get Processes",
        "description": "Gets a list of processes.",
        "operationId": "Processes_Get",
        "produces":
        [
          "application/json"
        ],
        "parameters":
        [
          {
            "in": "query",
            "name": "searchTerm",
            "description": "Used to narrow result items to those matching the requested search term.",
            "type": "string",
            "default": "",
            "x-ms-summary": "Search Term",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "feedId",
            "description": "Indicates the feed id.",
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Search Term",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "Restricts the set of items returned. The maximum number of expressions is 100.",
            "type": "string",
            "x-ms-summary": "Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Specifies the order in which items are returned. The maximum number of expressions is 5.",
            "type": "string",
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Limits the number of items returned from a collection. The maximum value is 1000.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Top",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "Excludes the specified number of items of the queried collection from the result.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Skip",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses":
        {
          "200":
          {
            "description": "Success",
            "schema":
            {
              "$ref": "#/definitions/ODataValueOfIEnumerableOfProcessDto"
            }
          }
        }
      }
    },
    "/odata/Releases":
    {
      "get":
      {
        "tags":
        [
          "Releases"
        ],
        "summary": "Get Releases",
        "description": "Gets a list of releases.",
        "operationId": "Releases_Get",
        "produces":
        [
          "application/json"
        ],
        "parameters":
        [
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "Folder Id"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "Restricts the set of items returned. The maximum number of expressions is 100.",
            "type": "string",
            "x-ms-summary": "Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Specifies the order in which items are returned. The maximum number of expressions is 5.",
            "type": "string",
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Limits the number of items returned from a collection. The maximum value is 1000.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Top",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "Excludes the specified number of items of the queried collection from the result.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Skip",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses":
        {
          "200":
          {
            "description": "Success",
            "schema":
            {
              "$ref": "#/definitions/ODataValueOfIEnumerableOfReleaseDto"
            }
          }
        }
      }
    },
    "/odata/Machines":
    {
      "get":
      {
        "tags":
        [
          "Machines"
        ],
        "summary": "Gets Machines",
        "description": "Gets a list of machines.",
        "operationId": "Machines_Get",
        "produces":
        [
          "application/json"
        ],
        "parameters":
        [
          {
            "in": "query",
            "name": "$filter",
            "description": "Restricts the set of items returned. The maximum number of expressions is 100.",
            "type": "string",
            "x-ms-summary": "Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Specifies the order in which items are returned. The maximum number of expressions is 5.",
            "type": "string",
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Limits the number of items returned from a collection. The maximum value is 1000.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Top",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "Excludes the specified number of items of the queried collection from the result.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Skip",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses":
        {
          "200":
          {
            "description": "Success",
            "schema":
            {
              "$ref": "#/definitions/ODataValueOfIEnumerableOfExtendedMachineDto"
            }
          }
        }
      }
    },
    "/odata/Sessions":
    {
      "get":
      {
        "tags":
        [
          "Sessions"
        ],
        "summary": "Get Folder Sessions",
        "description": "Gets the sessions for the current folder.",
        "operationId": "Sessions_Get",
        "produces":
        [
          "application/json"
        ],
        "parameters":
        [
          {
            "in": "query",
            "name": "$filter",
            "description": "Restricts the set of items returned. The maximum number of expressions is 100.",
            "type": "string",
            "x-ms-summary": "Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Specifies the order in which items are returned. The maximum number of expressions is 5.",
            "type": "string",
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Limits the number of items returned from a collection. The maximum value is 1000.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Top",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "Excludes the specified number of items of the queried collection from the result.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Skip",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Specifies the folder or organization unit Id.",
            "type": "integer",
            "format": "int64",
            "required": true,
            "x-ms-summary": "Folder Id"
          }
        ],
        "responses":
        {
          "200":
          {
            "description": "Success",
            "schema":
            {
              "$ref": "#/definitions/ODataValueOfIEnumerableOfSessionDto"
            }
          }
        }
      }
    },
    "/odata/Sessions/UiPath.Server.Configuration.OData.GetGlobalSessions":
    {
      "get":
      {
        "tags":
        [
          "Sessions"
        ],
        "summary": "Gets Tenant Sessions",
        "description": "Gets all tenant sessions.",
        "operationId": "Sessions_GetGlobalSessions",
        "produces":
        [
          "application/json"
        ],
        "parameters":
        [
          {
            "in": "query",
            "name": "$filter",
            "description": "Restricts the set of items returned. The maximum number of expressions is 100.",
            "type": "string",
            "x-ms-summary": "Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Specifies the order in which items are returned. The maximum number of expressions is 5.",
            "type": "string",
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Limits the number of items returned from a collection. The maximum value is 1000.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Top",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "Excludes the specified number of items of the queried collection from the result.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Skip",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses":
        {
          "200":
          {
            "description": "Success",
            "schema":
            {
              "$ref": "#/definitions/ODataValueOfIEnumerableOfSessionDto"
            }
          }
        }
      }
    },
    "/odata/QueueDefinitions":
    {
      "get":
      {
        "tags":
        [
          "QueueDefinitions"
        ],
        "summary": "Gets Queues",
        "description": "Gets a list of queues.",
        "operationId": "QueueDefinitions_Get",
        "produces":
        [
          "application/json"
        ],
        "parameters":
        [
          {
            "in": "query",
            "name": "mandatoryPermissions",
            "description": "All permissions in this set must be met",
            "type": "array",
            "x-ms-summary": "Mandatory Permissions",
            "x-ms-visibility": "advanced",
            "items":
            {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "atLeastOnePermissions",
            "description": "At least one permission in this set must be met",
            "type": "array",
            "x-ms-summary": "At Least One Permission",
            "x-ms-visibility": "advanced",
            "items":
            {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "Restricts the set of items returned. The maximum number of expressions is 100.",
            "type": "string",
            "x-ms-summary": "Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Specifies the order in which items are returned. The maximum number of expressions is 5.",
            "type": "string",
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Limits the number of items returned from a collection. The maximum value is 1000.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Top",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "Excludes the specified number of items of the queried collection from the result.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Skip",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64",
            "required": true,
            "x-ms-summary": "Folder",
            "x-ms-dynamic-values":
            {
              "operationId": "Folders_Get",
              "value-path": "Id",
              "value-collection": "value",
              "value-title": "FullyQualifiedName"
            }
          }
        ],
        "responses":
        {
          "200":
          {
            "description": "Success",
            "schema":
            {
              "$ref": "#/definitions/ODataValueOfIEnumerableOfQueueDefinitionDto"
            }
          }
        }
      }
    },
    "/odata/Queues/UiPathODataSvc.AddQueueItem":
    {
      "post":
      {
        "tags":
        [
          "Queues"
        ],
        "summary": "Adds Queue Item",
        "description": "Add a new queue item for processing.",
        "operationId": "Queues_AddQueueItem",
        "consumes":
        [
          "application/json;odata.metadata=minimal;odata.streaming=true",
          "application/json;odata.metadata=minimal;odata.streaming=false",
          "application/json;odata.metadata=minimal",
          "application/json;odata.metadata=full;odata.streaming=true",
          "application/json;odata.metadata=full;odata.streaming=false",
          "application/json;odata.metadata=full",
          "application/json;odata.metadata=none;odata.streaming=true",
          "application/json;odata.metadata=none;odata.streaming=false",
          "application/json;odata.metadata=none",
          "application/json;odata.streaming=true",
          "application/json;odata.streaming=false",
          "application/json"
        ],
        "produces":
        [
          "application/json"
        ],
        "parameters":
        [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "schema":
            {
              "type": "object",
              "properties":
              {
                "itemData":
                {
                  "description": "Defines the work item content.",
                  "type": "object",
                  "properties":
                  {
                    "Name":
                    {
                      "description": "The name of the queue into which the item will be added.",
                      "type": "string",
                      "x-ms-dynamic-values":
                      {
                        "operationId": "QueueDefinitions_Get",
                        "value-path": "Name",
                        "value-collection": "value",
                        "value-title": "Name",
                        "parameters":
                        {
                          "X-UIPATH-OrganizationUnitId":
                          {
                            "parameter": "X-UIPATH-OrganizationUnitId"
                          }
                        }
                      }
                    },
                    "Priority":
                    {
                      "description": "Sets the processing importance for a given item.",
                      "default": "Normal",
                      "enum":
                      [
                        "High",
                        "Normal",
                        "Low"
                      ],
                      "type": "string",
                      "x-ms-enum":
                      {
                        "name": "QueueItemDataDtoPriority",
                        "modelAsString": false
                      }
                    },
                    "SpecificContent":
                    {
                      "description": "A collection of key value pairs. Example: \"Name\":\"John\", \"Status\": true",
                      "type": "object",
                      "x-ms-summary": "Specific Content",
                      "additionalProperties":
                      {
                      }
                    },
                    "DeferDate":
                    {
                      "format": "date-time",
                      "x-ms-summary": "Defer Date",
                      "description": "The earliest date and time at which the item is available for processing. If empty the item can be processed as soon as possible.",
                      "type": "string"
                    },
                    "DueDate":
                    {
                      "format": "date-time",
                      "x-ms-summary": "Due Date",
                      "description": "The latest date and time at which the item should be processed. If empty the item can be processed at any given time.",
                      "type": "string"
                    },
                    "RiskSlaDate":
                    {
                      "format": "date-time",
                      "x-ms-summary": "Risk SLA Date",
                      "description": "The RiskSla date at time which is considered as risk zone for the item to be processed.",
                      "type": "string"
                    },
                    "Reference":
                    {
                      "description": "An optional, user-specified value for queue item identification.",
                      "maxLength": 128,
                      "minLength": 0,
                      "type": "string"
                    },
                    "Progress":
                    {
                      "description": "String field which is used to keep track of the business flow progress.",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64",
            "required": true,
            "x-ms-summary": "Folder",
            "x-ms-dynamic-values":
            {
              "operationId": "Folders_Get",
              "value-path": "Id",
              "value-collection": "value",
              "value-title": "FullyQualifiedName"
            }
          }
        ],
        "responses":
        {
          "200":
          {
            "description": "Success"
          },
          "201":
          {
            "description": "Success",
            "schema":
            {
              "$ref": "#/definitions/QueueItemDto"
            }
          }
        }
      }
    },
    "/odata/Jobs/UiPath.Server.Configuration.OData.StartJobs":
    {
      "post":
      {
        "tags":
        [
          "Jobs"
        ],
        "summary": "Start Job",
        "description": "Creates a new job and sets it in Pending state for each robot based on the input parameters and notifies the respective robots about the pending job.",
        "operationId": "Jobs_StartJobs",
        "consumes":
        [
          "application/json;odata.metadata=minimal;odata.streaming=true",
          "application/json;odata.metadata=minimal;odata.streaming=false",
          "application/json;odata.metadata=minimal",
          "application/json;odata.metadata=full;odata.streaming=true",
          "application/json;odata.metadata=full;odata.streaming=false",
          "application/json;odata.metadata=full",
          "application/json;odata.metadata=none;odata.streaming=true",
          "application/json;odata.metadata=none;odata.streaming=false",
          "application/json;odata.metadata=none",
          "application/json;odata.streaming=true",
          "application/json;odata.streaming=false",
          "application/json"
        ],
        "produces":
        [
          "application/json"
        ],
        "parameters":
        [
          {
            "in": "body",
            "name": "body",
            "description": "StartInfo - The information required to register the new jobs.",
            "schema":
            {
              "type": "object",
              "properties":
              {
                "startInfo":
                {
                  "description": "The Start Process transfers information from client to the server during JobsController.StartJobs custom action.",
                  "required":
                  [
                    "ReleaseKey",
                    "Strategy"
                  ],
                  "type": "object",
                  "properties":
                  {
                    "ReleaseKey":
                    {
                      "description": "Select process you want to run.",
                      "type": "string",
                      "x-ms-dynamic-values":
                      {
                        "operationId": "Releases_Get",
                        "value-path": "Key",
                        "value-collection": "value",
                        "value-title": "Name",
                        "parameters":
                        {
                          "X-UIPATH-OrganizationUnitId":
                          {
                            "parameter": "X-UIPATH-OrganizationUnitId"
                          }
                        }
                      },
                      "x-ms-summary": "Process Name"
                    },
                    "Strategy":
                    {
                      "description": "States which robots from the environment are being run by the process.",
                      "type": "string",
                      "default": "ModernJobsCount"
                    },
                    "JobsCount":
                    {
                      "format": "int32",
                      "description": "Number of pending jobs to be created in the environment, for the current process. This number must be greater than 0 only if the start strategy is JobsCount.",
                      "type": "integer"
                    },
                    "Source":
                    {
                      "description": "The Source of the job starting the current process.",
                      "enum":
                      [
                        "Manual",
                        "Schedule",
                        "Queue",
                        "StudioWeb"
                      ],
                      "type": "string",
                      "x-ms-enum":
                      {
                        "name": "StartProcessDtoSource",
                        "modelAsString": false
                      }
                    },
                    "JobPriority":
                    {
                      "description": "Execution priority. If null, defaults to the JobPriority of its release.",
                      "enum":
                      [
                        "Low",
                        "Normal",
                        "High"
                      ],
                      "type": "string",
                      "x-ms-enum":
                      {
                        "name": "StartProcessDtoJobPriority",
                        "modelAsString": false
                      }
                    },
                    "RuntimeType":
                    {
                      "enum":
                      [
                        "NonProduction",
                        "Attended",
                        "Unattended",
                        "Studio",
                        "RpaDeveloper",
                        "Development",
                        "StudioX",
                        "CitizenDeveloper",
                        "Headless",
                        "RpaDeveloperPro",
                        "StudioPro",
                        "TestAutomation"
                      ],
                      "type": "string",
                      "x-ms-enum":
                      {
                        "name": "StartProcessDtoRuntimeType",
                        "modelAsString": false
                      }
                    },
                    "InputArguments":
                    {
                      "description": "Input parameters in JSON format to be passed to job execution.",
                      "maxLength": 10000,
                      "type": "string"
                    },
                    "Reference":
                    {
                      "description": "Optional user-specified reference for jobs",
                      "maxLength": 128,
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64",
            "required": true,
            "x-ms-summary": "Folder",
            "x-ms-dynamic-values":
            {
              "operationId": "Folders_Get",
              "value-path": "Id",
              "value-collection": "value",
              "value-title": "FullyQualifiedName"
            }
          }
        ],
        "responses":
        {
          "201":
          {
            "description": "Success",
            "schema":
            {
              "$ref": "#/definitions/ODataValueOfIEnumerableOfJobDto"
            }
          }
        }
      }
    }
  },
  "definitions":
  {
    "CreateFolderDto":
    {
      "required":
      [
        "DisplayName"
      ],
      "type": "object",
      "properties":
      {
        "DisplayName":
        {
          "description": "Display name for the folder.",
          "maxLength": 115,
          "type": "string"
        },
        "Description":
        {
          "description": "Description of folder",
          "maxLength": 500,
          "type": "string"
        },
        "IsPersonal":
        {
          "description": "True if Personal",
          "type": "boolean",
          "readOnly": true
        },
        "ProvisionType":
        {
          "description": "Robot provisioning type",
          "enum":
          [
            "Manual",
            "Automatic"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "FolderDtoProvisionType",
            "modelAsString": false
          }
        },
        "PermissionModel":
        {
          "description": "Folder permissions model",
          "enum":
          [
            "InheritFromTenant",
            "FineGrained"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "FolderDtoPermissionModel",
            "modelAsString": false
          }
        },
        "ParentId":
        {
          "format": "int64",
          "description": "Id of parent folder in the folders hierarchy",
          "type": "integer"
        },
        "FeedType":
        {
          "description": "Folder feed type",
          "enum":
          [
            "Undefined",
            "Processes",
            "Libraries",
            "PersonalWorkspace",
            "FolderHierarchy"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "FolderDtoFeedType",
            "modelAsString": false
          }
        }
      }
    },
    "FolderDto":
    {
      "required":
      [
        "DisplayName"
      ],
      "type": "object",
      "properties":
      {
        "Key":
        {
          "format": "uuid",
          "description": "Unique key for the folder",
          "type": "string"
        },
        "DisplayName":
        {
          "description": "Display name for the folder.",
          "maxLength": 115,
          "type": "string"
        },
        "FullyQualifiedName":
        {
          "description": "Name of folder prepended by the names of its ancestors.",
          "type": "string"
        },
        "Description":
        {
          "description": "Description of folder",
          "maxLength": 500,
          "type": "string"
        },
        "IsPersonal":
        {
          "description": "True if Personal",
          "type": "boolean",
          "readOnly": true
        },
        "ProvisionType":
        {
          "description": "Robot provisioning type",
          "enum":
          [
            "Manual",
            "Automatic"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "FolderDtoProvisionType",
            "modelAsString": false
          }
        },
        "PermissionModel":
        {
          "description": "Folder permissions model",
          "enum":
          [
            "InheritFromTenant",
            "FineGrained"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "FolderDtoPermissionModel",
            "modelAsString": false
          }
        },
        "ParentId":
        {
          "format": "int64",
          "description": "Id of parent folder in the folders hierarchy",
          "type": "integer"
        },
        "ParentKey":
        {
          "format": "uuid",
          "description": "Unique key for the parent folder",
          "type": "string"
        },
        "FeedType":
        {
          "description": "Folder feed type",
          "enum":
          [
            "Undefined",
            "Processes",
            "Libraries",
            "PersonalWorkspace",
            "FolderHierarchy"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "FolderDtoFeedType",
            "modelAsString": false
          }
        },
        "Id":
        {
          "format": "int64",
          "type": "integer"
        }
      }
    },
    "ODataValueOfIEnumerableOfFolderDto":
    {
      "type": "object",
      "properties":
      {
        "value":
        {
          "type": "array",
          "items":
          {
            "$ref": "#/definitions/FolderDto"
          }
        }
      }
    },
    "CustomKeyValuePair":
    {
      "description": "Stores a custom pair of key and value for assets with type KeyValueList.",
      "type": "object",
      "properties":
      {
        "Key":
        {
          "description": "A piece of text representing the key.",
          "type": "string"
        },
        "Value":
        {
          "description": "A piece of text representing the value.",
          "type": "string"
        }
      }
    },
    "AssetRobotValueDto":
    {
      "description": "Stores the value of an asset associated with a robot as well as the robot association data.",
      "type": "object",
      "properties":
      {
        "RobotId":
        {
          "format": "int64",
          "description": "The Id of the robot with which the asset is associated.",
          "type": "integer"
        },
        "RobotName":
        {
          "description": "The name of the robot with which the asset is associated.",
          "type": "string"
        },
        "KeyTrail":
        {
          "description": "Masked value of the robot key.",
          "type": "string"
        },
        "ValueType":
        {
          "description": "Defines the type of value stored by the asset.",
          "enum":
          [
            "DBConnectionString",
            "HttpConnectionString",
            "Text",
            "Bool",
            "Integer",
            "Credential",
            "WindowsCredential",
            "KeyValueList"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "AssetRobotValueDtoValueType",
            "modelAsString": false
          }
        },
        "StringValue":
        {
          "description": "The value of the asset when the value type is Text. Empty when the value type is not Text.",
          "maxLength": 1000000,
          "type": "string"
        },
        "BoolValue":
        {
          "description": "The value of the asset when the value type is Bool. False when the value type is not Bool.",
          "type": "boolean"
        },
        "IntValue":
        {
          "format": "int32",
          "description": "The value of the asset when the value type is Integer. 0 when the value type is not Integer.",
          "type": "integer"
        },
        "Value":
        {
          "description": "The textual representation of the asset value, irrespective of value type.",
          "type": "string"
        },
        "CredentialUsername":
        {
          "description": "The user name when the value type is Credential. Empty when the value type is not Credential.",
          "type": "string"
        },
        "CredentialPassword":
        {
          "description": "The password when the value type is Credential. Empty when the value type is not Credential.",
          "type": "string"
        },
        "ExternalName":
        {
          "description": "Contains the value of the key in the external store used to store the credentials.",
          "maxLength": 450,
          "minLength": 0,
          "type": "string"
        },
        "CredentialStoreId":
        {
          "format": "int64",
          "description": "The Credential Store used to store the credentials.",
          "type": "integer"
        },
        "KeyValueList":
        {
          "description": "A collection of key value pairs when the type is KeyValueList. Empty when the value type is not KeyValueList.",
          "type": "array",
          "items":
          {
            "$ref": "#/definitions/CustomKeyValuePair"
          }
        },
        "Id":
        {
          "format": "int64",
          "type": "integer"
        }
      }
    },
    "AssetUserValueDto":
    {
      "description": "Stores the value of an asset associated with a user.",
      "type": "object",
      "properties":
      {
        "UserId":
        {
          "format": "int64",
          "description": "The Id of the user with which the asset is associated.",
          "type": "integer"
        },
        "UserName":
        {
          "description": "The name of the user which the asset is associated.",
          "type": "string"
        },
        "MachineId":
        {
          "format": "int64",
          "description": "The Id of the machine which the asset is associated",
          "type": "integer"
        },
        "MachineName":
        {
          "description": "The name of the machine which the asset is associated.",
          "type": "string"
        },
        "ValueType":
        {
          "description": "Defines the type of value stored by the asset.",
          "enum":
          [
            "DBConnectionString",
            "HttpConnectionString",
            "Text",
            "Bool",
            "Integer",
            "Credential",
            "WindowsCredential",
            "KeyValueList"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "AssetUserValueDtoValueType",
            "modelAsString": false
          }
        },
        "StringValue":
        {
          "description": "The value of the asset when the value type is Text. Empty when the value type is not Text.",
          "maxLength": 1000000,
          "type": "string"
        },
        "BoolValue":
        {
          "description": "The value of the asset when the value type is Bool. False when the value type is not Bool.",
          "type": "boolean"
        },
        "IntValue":
        {
          "format": "int32",
          "description": "The value of the asset when the value type is Integer. 0 when the value type is not Integer.",
          "type": "integer"
        },
        "Value":
        {
          "description": "The textual representation of the asset value, irrespective of value type.",
          "type": "string"
        },
        "CredentialUsername":
        {
          "description": "The user name when the value type is Credential. Empty when the value type is not Credential.",
          "type": "string"
        },
        "CredentialPassword":
        {
          "description": "The password when the value type is Credential. Empty when the value type is not Credential.",
          "type": "string"
        },
        "CredentialStoreId":
        {
          "format": "int64",
          "description": "The Credential Store used to store the credentials.",
          "type": "integer"
        },
        "ExternalName":
        {
          "description": "Contains the value of the key in the external store used to store the credentials.",
          "maxLength": 450,
          "minLength": 0,
          "type": "string"
        },
        "KeyValueList":
        {
          "description": "A collection of key value pairs when the type is KeyValueList. Empty when the value type is not KeyValueList.",
          "type": "array",
          "items":
          {
            "$ref": "#/definitions/CustomKeyValuePair"
          }
        },
        "Id":
        {
          "format": "int64",
          "type": "integer"
        }
      }
    },
    "AssetDto":
    {
      "description": "Stores specific data so that robots can easily have access to it.",
      "required":
      [
        "Name",
        "ValueScope"
      ],
      "type": "object",
      "properties":
      {
        "Name":
        {
          "description": "A custom name for the asset.",
          "maxLength": 256,
          "type": "string"
        },
        "CanBeDeleted":
        {
          "description": "States if an assets can be deleted. The default value of this property is true.",
          "type": "boolean"
        },
        "ValueScope":
        {
          "description": "Defines the scope of the asset.",
          "enum":
          [
            "Global",
            "PerRobot"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "AssetDtoValueScope",
            "modelAsString": false
          }
        },
        "ValueType":
        {
          "description": "Defines the type of value stored by the asset.",
          "enum":
          [
            "DBConnectionString",
            "HttpConnectionString",
            "Text",
            "Bool",
            "Integer",
            "Credential",
            "WindowsCredential",
            "KeyValueList"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "AssetDtoValueType",
            "modelAsString": false
          }
        },
        "Value":
        {
          "description": "The textual representation of the asset value, irrespective of value type.",
          "type": "string"
        },
        "StringValue":
        {
          "description": "The value of the asset when the value type is Text. Empty when the value type is not Text.",
          "maxLength": 1000000,
          "type": "string"
        },
        "BoolValue":
        {
          "description": "The value of the asset when the value type is Bool. False when the value type is not Bool.",
          "type": "boolean"
        },
        "IntValue":
        {
          "format": "int32",
          "description": "The value of the asset when the value type is Integer. 0 when the value type is not Integer.",
          "type": "integer"
        },
        "CredentialUsername":
        {
          "description": "The user name when the value type is Credential. Empty when the value type is not Credential.",
          "maxLength": 512,
          "type": "string"
        },
        "CredentialPassword":
        {
          "description": "The password when the value type is Credential. Empty when the value type is not Credential.",
          "maxLength": 256,
          "type": "string"
        },
        "ExternalName":
        {
          "description": "Contains the value of the key in the external store used to store the credentials.",
          "maxLength": 450,
          "minLength": 0,
          "type": "string"
        },
        "CredentialStoreId":
        {
          "format": "int64",
          "description": "The Credential Store used to store the credentials.",
          "type": "integer"
        },
        "KeyValueList":
        {
          "description": "A collection of key value pairs when the type is KeyValueList. Empty when the value type is not KeyValueList.",
          "type": "array",
          "items":
          {
            "$ref": "#/definitions/CustomKeyValuePair"
          }
        },
        "HasDefaultValue":
        {
          "description": "The asset has a default value set. This value will be null when set from legacy components that don't support\r\nthe PerRobot assets with default value feature.",
          "type": "boolean"
        },
        "Description":
        {
          "description": "The description of the asset.",
          "maxLength": 250,
          "type": "string"
        },
        "RobotValues":
        {
          "description": "The collection of asset values per robot. Empty if the asset type is Global or PerUser.",
          "type": "array",
          "items":
          {
            "$ref": "#/definitions/AssetRobotValueDto"
          }
        },
        "UserValues":
        {
          "description": "The collection of asset values per user. Empty if the asset type is Global or PerRobot.",
          "type": "array",
          "items":
          {
            "$ref": "#/definitions/AssetUserValueDto"
          }
        },
        "FoldersCount":
        {
          "format": "int32",
          "description": "Number of folders where the asset is shared.",
          "type": "integer"
        },
        "Id":
        {
          "format": "int64",
          "type": "integer"
        }
      }
    },
    "ODataValueOfIEnumerableOfAssetDto":
    {
      "type": "object",
      "properties":
      {
        "value":
        {
          "type": "array",
          "items":
          {
            "$ref": "#/definitions/AssetDto"
          }
        }
      }
    },
    "EntryPointDto":
    {
      "type": "object",
      "properties":
      {
        "UniqueId":
        {
          "format": "uuid",
          "type": "string"
        },
        "Path":
        {
          "type": "string"
        },
        "InputArguments":
        {
          "type": "string"
        },
        "OutputArguments":
        {
          "type": "string"
        },
        "DataVariation":
        {
          "$ref": "#/definitions/EntryPointDataVariationDto"
        },
        "Id":
        {
          "format": "int64",
          "type": "integer"
        }
      }
    },
    "EntryPointDataVariationDto":
    {
      "type": "object",
      "properties":
      {
        "Content":
        {
          "type": "string"
        },
        "ContentType":
        {
          "enum":
          [
            "Json"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "EntryPointDataVariationDtoContentType",
            "modelAsString": false
          }
        },
        "Id":
        {
          "format": "int64",
          "type": "integer"
        }
      }
    },
    "ReleaseVersionDto":
    {
      "description": "Stores data about a version of the various versions of the process associated with a certain release.\r\n<para />If a certain version is associated on and off with a release a new ReleaseVersion object is created for each association.",
      "required":
      [
        "ReleaseId",
        "VersionNumber"
      ],
      "type": "object",
      "properties":
      {
        "ReleaseId":
        {
          "format": "int64",
          "description": "The Id of the parent release.",
          "type": "integer"
        },
        "VersionNumber":
        {
          "description": "The version of process associated with the release.",
          "maxLength": 50,
          "type": "string"
        },
        "CreationTime":
        {
          "format": "date-time",
          "description": "The date and time when the version was associated with the release.",
          "type": "string"
        },
        "ReleaseName":
        {
          "description": "The name of the process associated with the release.",
          "type": "string"
        },
        "Id":
        {
          "format": "int64",
          "type": "integer"
        }
      }
    },
    "ArgumentMetadata":
    {
      "type": "object",
      "properties":
      {
        "Input":
        {
          "type": "string"
        },
        "Output":
        {
          "type": "string"
        }
      }
    },
    "SimpleReleaseDto":
    {
      "description": "Entity derived from BaseReleaseDto. It shares all the properties of the base entity except the navigation properties.",
      "required":
      [
        "Name",
        "ProcessKey",
        "ProcessVersion"
      ],
      "type": "object",
      "properties":
      {
        "Key":
        {
          "description": "A unique identifier associated to each release.",
          "type": "string"
        },
        "ProcessKey":
        {
          "description": "The unique identifier of the process associated with the release.",
          "type": "string"
        },
        "ProcessVersion":
        {
          "description": "The version of the process associated with the release.",
          "type": "string"
        },
        "IsLatestVersion":
        {
          "description": "States whether the version of process associated with the release is latest or not.",
          "type": "boolean"
        },
        "IsProcessDeleted":
        {
          "description": "States whether the process associated with the release is deleted or not.",
          "type": "boolean"
        },
        "Description":
        {
          "description": "Used to add additional information about a release in order to better identify it.",
          "type": "string"
        },
        "Name":
        {
          "description": "A custom name of the release. The default name format is ProcessName_EnvironmentName.",
          "type": "string"
        },
        "EnvironmentId":
        {
          "format": "int64",
          "description": "The Id of the environment associated with the release.",
          "type": "integer"
        },
        "EnvironmentName":
        {
          "description": "The name of the environment associated with the release.",
          "type": "string"
        },
        "Environment":
        {
          "$ref": "#/definitions/EnvironmentDto"
        },
        "EntryPointId":
        {
          "format": "int64",
          "type": "integer"
        },
        "EntryPoint":
        {
          "$ref": "#/definitions/EntryPointDto"
        },
        "InputArguments":
        {
          "description": "Input parameters in JSON format to be passed as default values to job execution.",
          "maxLength": 10000,
          "type": "string"
        },
        "ProcessType":
        {
          "enum":
          [
            "Undefined",
            "Process",
            "TestAutomationProcess"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "ReleaseDtoProcessType",
            "modelAsString": false
          }
        },
        "SupportsMultipleEntryPoints":
        {
          "type": "boolean"
        },
        "RequiresUserInteraction":
        {
          "type": "boolean"
        },
        "CurrentVersion":
        {
          "$ref": "#/definitions/ReleaseVersionDto"
        },
        "ReleaseVersions":
        {
          "description": "The collection of release versions that current release had over time.",
          "type": "array",
          "items":
          {
            "$ref": "#/definitions/ReleaseVersionDto"
          }
        },
        "Arguments":
        {
          "$ref": "#/definitions/ArgumentMetadata"
        },
        "ProcessSettings":
        {
          "$ref": "#/definitions/ProcessSettingsDto"
        },
        "AutoUpdate":
        {
          "type": "boolean"
        },
        "FeedId":
        {
          "format": "uuid",
          "type": "string"
        },
        "JobPriority":
        {
          "description": "The execution priority. If null, it defaults to Normal.",
          "enum":
          [
            "Low",
            "Normal",
            "High"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "ReleaseDtoJobPriority",
            "modelAsString": false
          }
        },
        "CreationTime":
        {
          "format": "date-time",
          "description": "Creation time of this release.",
          "type": "string"
        },
        "OrganizationUnitId":
        {
          "format": "int64",
          "description": "Id of the folder this release is part of.",
          "type": "integer"
        },
        "OrganizationUnitFullyQualifiedName":
        {
          "description": "Fully qualified name of the folder this release is part of.",
          "type": "string"
        },
        "Id":
        {
          "format": "int64",
          "type": "integer"
        }
      }
    },
    "ProcessSettingsDto":
    {
      "type": "object",
      "properties":
      {
        "ErrorRecordingEnabled":
        {
          "type": "boolean"
        },
        "Duration":
        {
          "format": "int32",
          "type": "integer"
        },
        "Frequency":
        {
          "format": "int32",
          "type": "integer"
        },
        "Quality":
        {
          "format": "int32",
          "type": "integer"
        },
        "AutoStartProcess":
        {
          "type": "boolean"
        },
        "AlwaysRunning":
        {
          "type": "boolean"
        }
      }
    },
    "EnvironmentDto":
    {
      "description": "A grouping of Robots.",
      "required":
      [
        "Name"
      ],
      "type": "object",
      "properties":
      {
        "Name":
        {
          "description": "A custom name for the environment.",
          "maxLength": 100,
          "minLength": 0,
          "type": "string"
        },
        "Description":
        {
          "description": "Used to add additional information about an environment in order to better identify it.",
          "maxLength": 500,
          "minLength": 0,
          "type": "string"
        },
        "Robots":
        {
          "description": "The collection of robots associated with the current environment.",
          "type": "array",
          "items":
          {
            "$ref": "#/definitions/SimpleRobotDto"
          }
        },
        "Type":
        {
          "description": "DEPRECATED. The environment type specifies how it should be used.\r\nThis property is deprecated and should no longer be used.",
          "enum":
          [
            "Dev",
            "Test",
            "Prod"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "EnvironmentDtoType",
            "modelAsString": false
          },
          "x-deprecated": true
        },
        "Id":
        {
          "format": "int64",
          "type": "integer"
        }
      }
    },
    "SimpleRobotDto":
    {
      "description": "Entity derived from RobotDto. Is shares all the properties of the base entity except the navigation properties.",
      "required":
      [
        "HostingType",
        "Name",
        "Type",
        "Username"
      ],
      "type": "object",
      "properties":
      {
        "LicenseKey":
        {
          "description": "The key is automatically generated from the server for the Robot machine.\r\n<para />For the robot to work, the same key must exist on both the robot and Orchestrator.\r\n<para />All robots on a machine must have the same license key in order to register correctly.",
          "maxLength": 255,
          "minLength": 0,
          "type": "string"
        },
        "MachineName":
        {
          "description": "The name of the machine a Robot is hosted on.",
          "maxLength": 450,
          "minLength": 0,
          "type": "string"
        },
        "MachineId":
        {
          "format": "int64",
          "description": "The Id of the machine a Robot is hosted on",
          "type": "integer"
        },
        "Name":
        {
          "description": "A custom name for the robot.",
          "maxLength": 19,
          "minLength": 0,
          "type": "string"
        },
        "Username":
        {
          "description": "The machine username. If the user is under a domain, you are required to also specify it in a DOMAIN\\username format.\r\n<para />Note: You must use short domain names, such as desktop\\administrator and NOT desktop.local/administrator.",
          "maxLength": 100,
          "minLength": 0,
          "type": "string"
        },
        "ExternalName":
        {
          "description": "Contains the value of the key in the external store used to store the password.",
          "maxLength": 450,
          "minLength": 0,
          "type": "string"
        },
        "Description":
        {
          "description": "Used to add additional information about a robot in order to better identify it.",
          "maxLength": 500,
          "minLength": 0,
          "type": "string"
        },
        "Type":
        {
          "description": "The Robot type.",
          "enum":
          [
            "NonProduction",
            "Attended",
            "Unattended",
            "Studio",
            "RpaDeveloper",
            "Development",
            "StudioX",
            "CitizenDeveloper",
            "Headless",
            "RpaDeveloperPro",
            "StudioPro",
            "TestAutomation"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "RobotDtoType",
            "modelAsString": false
          }
        },
        "HostingType":
        {
          "description": "The Robot hosting type (Standard / Floating).",
          "enum":
          [
            "Standard",
            "Floating"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "RobotDtoHostingType",
            "modelAsString": false
          }
        },
        "ProvisionType":
        {
          "description": "The Robot provision type.",
          "enum":
          [
            "Manual",
            "Automatic"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "RobotDtoProvisionType",
            "modelAsString": false
          }
        },
        "Password":
        {
          "description": "The Windows password associated with the machine username.",
          "maxLength": 100,
          "minLength": 0,
          "type": "string"
        },
        "CredentialStoreId":
        {
          "format": "int64",
          "description": "The Credential Store used to store the password.",
          "type": "integer"
        },
        "UserId":
        {
          "format": "int64",
          "description": "The associated user's Id.",
          "type": "integer"
        },
        "Enabled":
        {
          "description": "Specificies the state of the Robot (enabled/disabled) - a disabled robot cannot connect to Orchestrator",
          "type": "boolean"
        },
        "CredentialType":
        {
          "description": "The robot credentials type (Default/ SmartCard)",
          "enum":
          [
            "Default",
            "SmartCard",
            "NCipher",
            "SafeNet"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "RobotDtoCredentialType",
            "modelAsString": false
          }
        },
        "Environments":
        {
          "description": "The collection of environments the robot is part of.",
          "type": "array",
          "items":
          {
            "$ref": "#/definitions/EnvironmentDto"
          }
        },
        "RobotEnvironments":
        {
          "description": "The comma separated textual representation of environment names the robot is part of.",
          "type": "string"
        },
        "ExecutionSettings":
        {
          "description": "A collection of key value pairs containing execution settings for this robot.",
          "type": "object",
          "additionalProperties":
          {
          }
        },
        "IsExternalLicensed":
        {
          "description": "Flag to indicate if the robot uses an external license",
          "type": "boolean"
        },
        "LimitConcurrentExecution":
        {
          "description": "Specifies if the robot can be used concurrently on multiple machines",
          "type": "boolean"
        },
        "Id":
        {
          "format": "int64",
          "type": "integer"
        }
      }
    },
    "MachinesRobotVersionDto":
    {
      "type": "object",
      "properties":
      {
        "Count":
        {
          "format": "int64",
          "description": "The number of Robots on the Machine with the specified version.",
          "type": "integer"
        },
        "Version":
        {
          "description": "The Version of the Robot hosted on the Machine.",
          "type": "string"
        },
        "MachineId":
        {
          "format": "int64",
          "description": "The Id of the Machine.",
          "type": "integer"
        }
      }
    },
    "RobotUserDto":
    {
      "required":
      [
        "RobotId"
      ],
      "type": "object",
      "properties":
      {
        "UserName":
        {
          "description": "The name of the user.",
          "type": "string"
        },
        "RobotId":
        {
          "format": "int64",
          "description": "The Id of the Robot.",
          "type": "integer"
        },
        "HasTriggers":
        {
          "description": "Whether the machine robot has triggers defined or not.",
          "type": "boolean"
        }
      }
    },
    "MachineDto":
    {
      "description": "The Machine that hosts the Robot",
      "required":
      [
        "Name"
      ],
      "type": "object",
      "properties":
      {
        "LicenseKey":
        {
          "description": "The key is automatically generated from the server for the Robot machine.\r\n<para />For the robot to work, the same key must exist on both the robot and Orchestrator.\r\n<para />All robots on a machine must have the same license key in order to register correctly.",
          "maxLength": 255,
          "minLength": 0,
          "type": "string"
        },
        "Name":
        {
          "description": "The name of the Machine a Robot is hosted on.",
          "maxLength": 450,
          "minLength": 0,
          "type": "string"
        },
        "Description":
        {
          "maxLength": 500,
          "minLength": 0,
          "type": "string"
        },
        "Type":
        {
          "description": "The type of the Machine (Standard / Template).",
          "enum":
          [
            "Standard",
            "Template"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "MachineDtoType",
            "modelAsString": false
          }
        },
        "Scope":
        {
          "description": "The scope of the Machine (Default / Shared / PW / Cloud).",
          "enum":
          [
            "Default",
            "Shared",
            "PersonalWorkspace",
            "Cloud"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "MachineDtoScope",
            "modelAsString": false
          }
        },
        "NonProductionSlots":
        {
          "format": "int32",
          "description": "Number of NonProduction slots to be reserved at runtime",
          "type": "integer"
        },
        "UnattendedSlots":
        {
          "format": "int32",
          "description": "Number of Unattended slots to be reserved at runtime",
          "type": "integer"
        },
        "HeadlessSlots":
        {
          "format": "int32",
          "description": "Number of Headless slots to be reserved at runtime",
          "type": "integer"
        },
        "TestAutomationSlots":
        {
          "format": "int32",
          "description": "Number of TestAutomation slots to be reserved at runtime",
          "type": "integer"
        },
        "Key":
        {
          "format": "uuid",
          "description": "An immutable unique identifier that is preserved during tenant migration",
          "type": "string"
        },
        "RobotVersions":
        {
          "description": "The versions of the Robots hosted on the Machine.",
          "type": "array",
          "items":
          {
            "$ref": "#/definitions/MachinesRobotVersionDto"
          }
        },
        "RobotUsers":
        {
          "description": "Robots assigned to template machine.",
          "type": "array",
          "items":
          {
            "$ref": "#/definitions/RobotUserDto"
          }
        },
        "AutoScalingProfile":
        {
          "description": "The profile that drives auto scaling.",
          "enum":
          [
            "CostEfficient",
            "Balanced",
            "Fast",
            "Custom"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "MachineDtoAutoScalingProfile",
            "modelAsString": false
          }
        },
        "Id":
        {
          "format": "int64",
          "type": "integer"
        }
      }
    },
    "JobDto":
    {
      "description": "Represents a scheduled or manual execution of a process on a robot.",
      "type": "object",
      "properties":
      {
        "Key":
        {
          "format": "uuid",
          "description": "The unique job identifier.",
          "type": "string"
        },
        "StartTime":
        {
          "format": "date-time",
          "description": "The date and time when the job execution started or null if the job hasn't started yet.",
          "type": "string"
        },
        "EndTime":
        {
          "format": "date-time",
          "description": "The date and time when the job execution ended or null if the job hasn't ended yet.",
          "type": "string"
        },
        "State":
        {
          "description": "The state in which the job is.",
          "enum":
          [
            "Pending",
            "Running",
            "Stopping",
            "Terminating",
            "Faulted",
            "Successful",
            "Stopped",
            "Suspended",
            "Resumed"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "JobDtoState",
            "modelAsString": false
          }
        },
        "JobPriority":
        {
          "description": "Execution priority.",
          "enum":
          [
            "Low",
            "Normal",
            "High"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "JobDtoJobPriority",
            "modelAsString": false
          }
        },
        "Robot":
        {
          "$ref": "#/definitions/SimpleRobotDto"
        },
        "Release":
        {
          "$ref": "#/definitions/SimpleReleaseDto"
        },
        "Source":
        {
          "description": "The Source name of the job.",
          "type": "string"
        },
        "SourceType":
        {
          "description": "The Source type of the job.",
          "enum":
          [
            "Manual",
            "Schedule",
            "Agent",
            "Queue",
            "StudioWeb"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "JobDtoSourceType",
            "modelAsString": false
          }
        },
        "BatchExecutionKey":
        {
          "format": "uuid",
          "description": "The unique identifier grouping multiple jobs. It is usually generated when the job is created by a schedule.",
          "type": "string"
        },
        "Info":
        {
          "description": "Additional information about the current job.",
          "type": "string"
        },
        "CreationTime":
        {
          "format": "date-time",
          "description": "The date and time when the job was created.",
          "type": "string"
        },
        "StartingScheduleId":
        {
          "format": "int64",
          "description": "The Id of the schedule that started the job, or null if the job was started by the user.",
          "type": "integer"
        },
        "ReleaseName":
        {
          "description": "The name of the release associated with the current name.",
          "type": "string"
        },
        "Type":
        {
          "description": "The type of the job, Attended if started via the robot, Unattended otherwise",
          "enum":
          [
            "Unattended",
            "Attended"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "JobDtoType",
            "modelAsString": false
          }
        },
        "InputArguments":
        {
          "description": "Input parameters in JSON format to be passed to job execution",
          "type": "string"
        },
        "OutputArguments":
        {
          "description": "Output parameters in JSON format resulted from job execution",
          "type": "string"
        },
        "HostMachineName":
        {
          "description": "The name of the machine where the Robot run the job.",
          "type": "string"
        },
        "HasMediaRecorded":
        {
          "description": "True if any execution media has been recorded for this job, false otherwise.",
          "type": "boolean"
        },
        "PersistenceId":
        {
          "format": "uuid",
          "description": "The persistence instance id for a suspended job",
          "type": "string"
        },
        "ResumeVersion":
        {
          "format": "int32",
          "description": "Distinguishes between multiple job suspend/resume cycles",
          "type": "integer"
        },
        "StopStrategy":
        {
          "enum":
          [
            "SoftStop",
            "Kill"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "JobDtoStopStrategy",
            "modelAsString": false
          }
        },
        "RuntimeType":
        {
          "description": "The runtime type of the robot which can pick up the job",
          "enum":
          [
            "NonProduction",
            "Attended",
            "Unattended",
            "Studio",
            "RpaDeveloper",
            "Development",
            "StudioX",
            "CitizenDeveloper",
            "Headless",
            "RpaDeveloperPro",
            "StudioPro",
            "TestAutomation"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "JobDtoRuntimeType",
            "modelAsString": false
          }
        },
        "RequiresUserInteraction":
        {
          "type": "boolean"
        },
        "ReleaseVersionId":
        {
          "format": "int64",
          "type": "integer"
        },
        "EntryPointPath":
        {
          "description": "Path to the entry point workflow (XAML) that will be executed by the robot",
          "maxLength": 512,
          "type": "string"
        },
        "OrganizationUnitId":
        {
          "format": "int64",
          "description": "Id of the folder this job is part of.",
          "type": "integer"
        },
        "OrganizationUnitFullyQualifiedName":
        {
          "description": "Fully qualified name of the folder this job is part of.",
          "type": "string"
        },
        "Reference":
        {
          "description": "Reference identifier for the job",
          "type": "string"
        },
        "ProcessType":
        {
          "enum":
          [
            "Undefined",
            "Process",
            "TestAutomationProcess"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "JobDtoProcessType",
            "modelAsString": false
          }
        },
        "Machine":
        {
          "$ref": "#/definitions/MachineDto"
        },
        "ProfilingOptions":
        {
          "description": "Options to instruct the robot what profiling info to collect (code coverage, CPU / memory utilization, etc)",
          "type": "string"
        },
        "Id":
        {
          "format": "int64",
          "type": "integer"
        }
      }
    },
    "ODataValueOfIEnumerableOfJobDto":
    {
      "type": "object",
      "properties":
      {
        "value":
        {
          "type": "array",
          "items":
          {
            "$ref": "#/definitions/JobDto"
          }
        }
      }
    },
    "ProcessDto":
    {
      "description": "A process is a project defined in UiPath Studio and published in Orchestrator from UiPath Studio or manually.",
      "type": "object",
      "properties":
      {
        "IsActive":
        {
          "description": "Specifies if the process is still active.",
          "type": "boolean"
        },
        "Arguments":
        {
          "$ref": "#/definitions/ArgumentMetadata"
        },
        "SupportsMultipleEntryPoints":
        {
          "description": "Specifies if the process has multiple entry points.",
          "type": "boolean"
        },
        "MainEntryPointPath":
        {
          "description": "The main entry point path.",
          "type": "string"
        },
        "RequiresUserInteraction":
        {
          "description": "Specifies if the process can run in headless mode.",
          "type": "boolean"
        },
        "TargetFramework":
        {
          "enum":
          [
            "Legacy",
            "Windows",
            "Portable"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "ProcessDtoTargetFramework",
            "modelAsString": false
          }
        },
        "EntryPoints":
        {
          "description": "Entry points.",
          "type": "array",
          "items":
          {
            "$ref": "#/definitions/EntryPointDto"
          }
        },
        "Title":
        {
          "description": "The custom name of the package.",
          "type": "string"
        },
        "Version":
        {
          "description": "The current version of the given package.",
          "type": "string"
        },
        "Key":
        {
          "description": "The unique identifier for the package.",
          "type": "string"
        },
        "Description":
        {
          "description": "Used to add additional information about a package in order to better identify it.",
          "type": "string"
        },
        "Published":
        {
          "format": "date-time",
          "description": "The date and time when the package was published or uploaded.",
          "type": "string"
        },
        "IsLatestVersion":
        {
          "description": "Specifies whether the current version is the latest of the given package.",
          "type": "boolean"
        },
        "OldVersion":
        {
          "description": "Specifies the last version before the current one.",
          "type": "string"
        },
        "ReleaseNotes":
        {
          "description": "Package release notes.",
          "type": "string"
        },
        "Authors":
        {
          "description": "Package authors.",
          "type": "string"
        },
        "ProjectType":
        {
          "description": "Package project type.",
          "enum":
          [
            "Undefined",
            "Process",
            "ProcessLibrary",
            "BusinessProcess",
            "BusinessProcessLibrary",
            "TestAutomationProcess"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "PackageDtoProjectType",
            "modelAsString": false
          }
        },
        "Id":
        {
          "type": "string"
        }
      }
    },
    "ODataValueOfIEnumerableOfProcessDto":
    {
      "type": "object",
      "properties":
      {
        "value":
        {
          "type": "array",
          "items":
          {
            "$ref": "#/definitions/ProcessDto"
          }
        }
      }
    },
    "ExtendedMachineDto":
    {
      "type": "object",
      "properties":
      {
        "LicenseKey":
        {
          "description": "The key is automatically generated from the server for the Robot machine.\r\n<para />For the robot to work, the same key must exist on both the robot and Orchestrator.\r\n<para />All robots on a machine must have the same license key in order to register correctly.",
          "maxLength": 255,
          "minLength": 0,
          "type": "string"
        },
        "Name":
        {
          "description": "The name of the Machine a Robot is hosted on.",
          "maxLength": 450,
          "minLength": 0,
          "type": "string"
        },
        "Description":
        {
          "maxLength": 500,
          "minLength": 0,
          "type": "string"
        },
        "Type":
        {
          "description": "The type of the Machine (Standard / Template).",
          "enum":
          [
            "Standard",
            "Template"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "MachineDtoType",
            "modelAsString": false
          }
        },
        "Scope":
        {
          "description": "The scope of the Machine (Default / Shared / PW / Cloud).",
          "enum":
          [
            "Default",
            "Shared",
            "PersonalWorkspace",
            "Cloud"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "MachineDtoScope",
            "modelAsString": false
          }
        },
        "NonProductionSlots":
        {
          "format": "int32",
          "description": "Number of NonProduction slots to be reserved at runtime",
          "type": "integer"
        },
        "UnattendedSlots":
        {
          "format": "int32",
          "description": "Number of Unattended slots to be reserved at runtime",
          "type": "integer"
        },
        "HeadlessSlots":
        {
          "format": "int32",
          "description": "Number of Headless slots to be reserved at runtime",
          "type": "integer"
        },
        "TestAutomationSlots":
        {
          "format": "int32",
          "description": "Number of TestAutomation slots to be reserved at runtime",
          "type": "integer"
        },
        "Key":
        {
          "format": "uuid",
          "description": "An immutable unique identifier that is preserved during tenant migration",
          "type": "string"
        },
        "RobotVersions":
        {
          "description": "The versions of the Robots hosted on the Machine.",
          "type": "array",
          "items":
          {
            "$ref": "#/definitions/MachinesRobotVersionDto"
          }
        },
        "RobotUsers":
        {
          "description": "Robots assigned to template machine.",
          "type": "array",
          "items":
          {
            "$ref": "#/definitions/RobotUserDto"
          }
        },
        "AutoScalingProfile":
        {
          "description": "The profile that drives auto scaling.",
          "enum":
          [
            "CostEfficient",
            "Balanced",
            "Fast",
            "Custom"
          ],
          "type": "string",
          "x-ms-enum":
          {
            "name": "MachineDtoAutoScalingProfile",
            "modelAsString": false
          }
        },
        "Id":
        {
          "format": "int64",
          "type": "integer"
        }
      }
    },
    "ODataValueOfIEnumerableOfExtendedMachineDto":
    {
      "type": "object",
      "properties":
      {
        "value":
        {
          "type": "array",
          "items":
          {
            "$ref": "#/definitions/ExtendedMachineDto"
          }
        }
      }
    },
    "OrganizationUnitDto":
    {
      "description": "Stores information about an organization unit in Orchestrator.\r\n<para /> An orchestrator unit can be understood as a company department and it is used to group different entities.",
      "required":
      [
        "DisplayName"
      ],
      "type": "object",
      "properties":
      {
        "DisplayName":
        {
          "description": "The name of the organization unit.",
          "maxLength": 128,
          "type": "string"
        },
        "Id":
        {
          "format": "int64",
          "type": "integer"
        }
      }
    },
    "UserNotificationSubscription":
    {
      "type": "object",
      "properties":
      {
        "Queues":
        {
          "type": "boolean"
        },
        "Robots":
        {
          "type": "boolean"
        },
        "Jobs":
        {
          "type": "boolean"
        },
        "Schedules":
        {
          "type": "boolean"
        },
        "Tasks":
        {
          "type": "boolean"
        },
        "QueueItems":
        {
          "type": "boolean"
        },
        "Insights":
        {
          "type": "boolean"
        },
        "CloudRobots":
        {
          "type": "boolean"
        }
      }
    },
    "UserRoleDto":
    {
      "description": "Stores information about the association between a user and a role.",
      "type": "object",
      "properties":
      {
        "UserId":
        {
          "format": "int64",
          "description": "The Id of the associated user.",
          "type": "integer"
        },
        "RoleId":
        {
          "format": "int32",
[...]
