{
  "swagger": "2.0",
  "info": {
    "title": "VoiceRSS",
    "description": "Voice RSS Text-to-Speech (TTS) allows conversion of textual content to speech easier than ever.",
    "version": "1.0",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_vrss@gmail.com"
    }
  },
  "host": "api.voicerss.org",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {},
            "headers": {
              "Content-Type": {
                "description": "The Content-Type of the received result.",
                "type": "string",
                "x-ms-summary": "Content-Type"
              }
            }
          }
        },
        "summary": "Convert text to speech",
        "operationId": "ConvertTTS",
        "description": "Convert text and get verbal representation of a textual content.",
        "parameters": [
          {
            "name": "hl",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The textual content language, for example: en-us. See documentation for more details.",
            "x-ms-summary": "Language",
            "x-ms-visibility": "important"
          },
          {
            "name": "c",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The speech audio codec, default value: WAV.",
            "x-ms-summary": "Codec",
            "x-ms-visibility": "advanced",
            "enum": [
              "MP3",
              "WAV",
              "AAC",
              "OGG",
              "CAF"
            ]
          },
          {
            "name": "f",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The speech audio format, default value: 8khz_8bit_mono. See documentation for possible values.",
            "x-ms-summary": "Format",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "src",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The textual content for converting to speech (length limited by 100KB).",
            "x-ms-summary": "Source",
            "x-ms-visibility": "important"
          },
          {
            "name": "v",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The speech voice, default value depends on the language. See possible values in documentation.",
            "x-ms-summary": "Voice",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "r",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The speech rate (speed). Allows values: from -10 (slowest speed) up to 10 (fastest speed). Default value: 0 (normal speed).",
            "x-ms-summary": "Rate",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "ssml",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "The SSML textual content format",
            "x-ms-summary": "SSML",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "b64",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Base64",
            "description": "Defines output as a Base64 string format (for an internet browser playing) instead of binary.",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "query",
      "name": "key"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.voicerss.org/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.voicerss.org/terms.aspx"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Data"
    }
  ]
}