{
  "swagger": "2.0",
  "info": {
    "title": "CarsXE",
    "description": "CarsXE provides vehicle specs, market value, license plate decoding, history and image search. Get robust vehicle specification data on selections, attributes, equipment, colors, recalls, warranties, and photos.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.carsxe.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": ["application/json"],
  "paths": {
    "/specs": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Whether a success.",
                  "title": "Success"
                },
                "input": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "The key.",
                      "title": "Key"
                    },
                    "vin": {
                      "type": "string",
                      "description": "The VIN number.",
                      "title": "VIN"
                    }
                  },
                  "title": "Input"
                },
                "attributes": {
                  "type": "object",
                  "properties": {
                    "year": {
                      "type": "string",
                      "description": "The year.",
                      "title": "Year"
                    },
                    "make": {
                      "type": "string",
                      "description": "The make.",
                      "title": "Make"
                    },
                    "model": {
                      "type": "string",
                      "description": "The model.",
                      "title": "Model"
                    },
                    "trim": {
                      "type": "string",
                      "description": "The trim.",
                      "title": "Trim"
                    },
                    "style": {
                      "type": "string",
                      "description": "The style.",
                      "title": "Style"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "size": {
                      "type": "string",
                      "description": "The size.",
                      "title": "Size"
                    },
                    "category": {
                      "type": "string",
                      "description": "The category.",
                      "title": "Category"
                    },
                    "made_in": {
                      "type": "string",
                      "description": "Where made in.",
                      "title": "Made In"
                    },
                    "made_in_city": {
                      "type": "string",
                      "description": "Where made in city.",
                      "title": "Made In City"
                    },
                    "doors": {
                      "type": "string",
                      "description": "The doors.",
                      "title": "Doors"
                    },
                    "fuel_type": {
                      "type": "string",
                      "description": "The fuel type.",
                      "title": "Fuel Type"
                    },
                    "fuel_capacity": {
                      "type": "string",
                      "description": "The fuel capacity.",
                      "title": "Fuel Capacity"
                    },
                    "city_mileage": {
                      "type": "string",
                      "description": "The city mileage.",
                      "title": "City Mileage"
                    },
                    "highway_mileage": {
                      "type": "string",
                      "description": "The highway mileage.",
                      "title": "Highway Mileage"
                    },
                    "engine": {
                      "type": "string",
                      "description": "The engine.",
                      "title": "Engine"
                    },
                    "engine_size": {
                      "type": "string",
                      "description": "The engine size.",
                      "title": "Engine Size"
                    },
                    "engine_cylinders": {
                      "type": "string",
                      "description": "The engine cylinders.",
                      "title": "Engine Cylinders"
                    },
                    "transmission": {
                      "type": "string",
                      "description": "The transmission.",
                      "title": "Transmission"
                    },
                    "transmission_short": {
                      "type": "string",
                      "description": "The transmission short name.",
                      "title": "Transmission Short"
                    },
                    "transmission_type": {
                      "type": "string",
                      "description": "The transmission type.",
                      "title": "Transmission Type"
                    },
                    "transmission_speeds": {
                      "type": "string",
                      "description": "The transmission speeds.",
                      "title": "Transmission Speeds"
                    },
                    "drivetrain": {
                      "type": "string",
                      "description": "The drivetrain.",
                      "title": "Drivetrain"
                    },
                    "anti_brake_system": {
                      "type": "string",
                      "description": "The antilock brake system (ABS).",
                      "title": "Antilock Brake System"
                    },
                    "steering_type": {
                      "type": "string",
                      "description": "The steering type.",
                      "title": "Steering Type"
                    },
                    "curb_weight": {
                      "type": "string",
                      "description": "The curb weight.",
                      "title": "Curb Weight"
                    },
                    "gross_vehicle_weight_rating": {
                      "type": "string",
                      "description": "The gross vehicle weight rating.",
                      "title": "Gross Vehicle Weight Rating"
                    },
                    "overall_height": {
                      "type": "string",
                      "description": "The overall height.",
                      "title": "Overall Height"
                    },
                    "overall_length": {
                      "type": "string",
                      "description": "The overall length.",
                      "title": "Overall Length"
                    },
                    "overall_width": {
                      "type": "string",
                      "description": "The overall width.",
                      "title": "Overall Width"
                    },
                    "wheelbase_length": {
                      "type": "string",
                      "description": "The wheelbase length.",
                      "title": "Wheelbase Length"
                    },
                    "standard_seating": {
                      "type": "string",
                      "description": "The standard seating.",
                      "title": "Standard Seating"
                    },
                    "invoice_price": {
                      "type": "string",
                      "description": "The invoice price.",
                      "title": "Invoice Price"
                    },
                    "delivery_charges": {
                      "type": "string",
                      "description": "The delivery charges.",
                      "title": "Delivery Charges"
                    },
                    "manufacturer_suggested_retail_price": {
                      "type": "string",
                      "description": "The manufacturer suggested retail price (MSRP).",
                      "title": "Manufacturer Suggested Retail Price"
                    },
                    "production_seq_number": {
                      "type": "string",
                      "description": "The production sequence number.",
                      "title": "Production Sequence Number"
                    },
                    "front_brake_type": {
                      "type": "string",
                      "description": "The front brake type.",
                      "title": "Front Brake Type"
                    },
                    "rear_brake_type": {
                      "type": "string",
                      "description": "The rear brake type.",
                      "title": "Rear Brake Type"
                    },
                    "turning_diameter": {
                      "type": "string",
                      "description": "The turning diameter.",
                      "title": "Turning Diameter"
                    },
                    "front_suspension": {
                      "type": "string",
                      "description": "The front suspension.",
                      "title": "Front Suspension"
                    },
                    "rear_suspension": {
                      "type": "string",
                      "description": "The rear suspension.",
                      "title": "Rear Suspension"
                    },
                    "front_spring_type": {
                      "type": "string",
                      "description": "The front spring type.",
                      "title": "Front Spring Type"
                    },
                    "rear_spring_type": {
                      "type": "string",
                      "description": "The rear spring type.",
                      "title": "Rear Spring Type"
                    },
                    "tires": {
                      "type": "string",
                      "description": "The tires.",
                      "title": "Tires"
                    },
                    "front_headroom": {
                      "type": "string",
                      "description": "The front headroom.",
                      "title": "Front Headroom"
                    },
                    "rear_headroom": {
                      "type": "string",
                      "description": "The rear headroom.",
                      "title": "Rear Headroom"
                    },
                    "front_legroom": {
                      "type": "string",
                      "description": "The front legroom.",
                      "title": "Front Legroom"
                    },
                    "rear_legroom": {
                      "type": "string",
                      "description": "The rear legroom.",
                      "title": "Rear Legroom"
                    },
                    "front_shoulder_room": {
                      "type": "string",
                      "description": "The front shoulder room.",
                      "title": "Front Shoulder Room"
                    },
                    "rear_shoulder_room": {
                      "type": "string",
                      "description": "The rear shoulder room.",
                      "title": "Rear Shoulder Room"
                    },
                    "front_hip_room": {
                      "type": "string",
                      "description": "The front hip room.",
                      "title": "Front Hip Room"
                    },
                    "rear_hip_room": {
                      "type": "string",
                      "description": "The rear hip room.",
                      "title": "Rear Hip Room"
                    },
                    "interior_trim": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The interior trim.",
                      "title": "Interior Trim"
                    },
                    "exterior_color": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The exterior color.",
                      "title": "Exterior Color"
                    },
                    "curb_weight_manual": {
                      "type": "string",
                      "description": "The curb weight manual.",
                      "title": "Curb Weight Manual"
                    },
                    "ground_clearance": {
                      "type": "string",
                      "description": "The group clearance.",
                      "title": "Ground Clearance"
                    },
                    "track_front": {
                      "type": "string",
                      "description": "The front track.",
                      "title": "Track Front"
                    },
                    "track_rear": {
                      "type": "string",
                      "description": "The rear track.",
                      "title": "Track Rear"
                    },
                    "cargo_length": {
                      "type": "string",
                      "description": "The cargo length.",
                      "title": "Cargo Length"
                    },
                    "width_at_wheelwell": {
                      "type": "string",
                      "description": "The width at wheelwell.",
                      "title": "Width At Wheelwell"
                    },
                    "width_at_wall": {
                      "type": "string",
                      "description": "The width at wall.",
                      "title": "Width At Wall"
                    },
                    "depth": {
                      "type": "string",
                      "description": "The depth.",
                      "title": "Depth"
                    },
                    "optional_seating": {
                      "type": "string",
                      "description": "The optional seating.",
                      "title": "Optional Seating"
                    },
                    "passenger_volume": {
                      "type": "string",
                      "description": "The passenger volume.",
                      "title": "Passenger Volume"
                    },
                    "cargo_volume": {
                      "type": "string",
                      "description": "The cargo volume.",
                      "title": "Cargo Volume"
                    },
                    "standard_towing": {
                      "type": "string",
                      "description": "The standard towing.",
                      "title": "Standard Towing"
                    },
                    "maximum_towing": {
                      "type": "string",
                      "description": "The maximum towing.",
                      "title": "Maximum Towing"
                    },
                    "standard_payload": {
                      "type": "string",
                      "description": "The standard payload.",
                      "title": "Standard Payload"
                    },
                    "maximum_payload": {
                      "type": "string",
                      "description": "The maximum payload.",
                      "title": "Maximum Payload"
                    },
                    "maximum_gvwr": {
                      "type": "string",
                      "description": "The maximum gross vehicle weight rating (GVWR).",
                      "title": "Maximum Gross Vehicle Weight Rating"
                    }
                  },
                  "title": "Attributes"
                },
                "colors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "category": {
                        "type": "string",
                        "description": "The category.",
                        "title": "Category"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      }
                    }
                  },
                  "title": "Colors"
                },
                "equipment": {
                  "type": "object",
                  "properties": {
                    "4wd_awd": {
                      "type": "string",
                      "description": "The 4WD or AWD.",
                      "title": "4WD/AWD"
                    },
                    "abs_brakes": {
                      "type": "string",
                      "description": "The antilock brake system.",
                      "title": "ABS Brakes"
                    },
                    "adjustable_foot_pedals": {
                      "type": "string",
                      "description": "The adjustable foot pedals.",
                      "title": "Adjustable Foot Pedals"
                    },
                    "air_conditioning": {
                      "type": "string",
                      "description": "The air conditioning.",
                      "title": "Air Conditioning"
                    },
                    "alloy_wheels": {
                      "type": "string",
                      "description": "The alloy wheels.",
                      "title": "Alloy Wheels"
                    },
                    "am_fm_radio": {
                      "type": "string",
                      "description": "The AM/FM radio.",
                      "title": "AM/FM Radio"
                    },
                    "automatic_headlights": {
                      "type": "string",
                      "description": "The automatic headlights.",
                      "title": "Automatic Headlights"
                    },
                    "automatic_load_leveling": {
                      "type": "string",
                      "description": "The automatic load leveling.",
                      "title": "Automatic Load Leveling"
                    },
                    "cargo_area_cover": {
                      "type": "string",
                      "description": "The cargo area cover.",
                      "title": "Cargo Area Cover"
                    },
                    "cargo_area_tiedowns": {
                      "type": "string",
                      "description": "The cargo area tiedowns.",
                      "title": "Cargo Area Tiedowns"
                    },
                    "cargo_net": {
                      "type": "string",
                      "description": "The cargo net.",
                      "title": "Cargo Net"
                    },
                    "cassette_player": {
                      "type": "string",
                      "description": "The cassette player.",
                      "title": "Cassette Player"
                    },
                    "cd_changer": {
                      "type": "string",
                      "description": "The CD changer.",
                      "title": "CD Changer"
                    },
                    "cd_player": {
                      "type": "string",
                      "description": "The CD player.",
                      "title": "Cd Player"
                    },
                    "child_safety_door_locks": {
                      "type": "string",
                      "description": "The child safety door locks.",
                      "title": "Child Safety Door Locks"
                    },
                    "chrome_wheels": {
                      "type": "string",
                      "description": "The chrome wheels.",
                      "title": "Chrome Wheels"
                    },
                    "cruise_control": {
                      "type": "string",
                      "description": "The cruise control.",
                      "title": "Cruise Control"
                    },
                    "daytime_running_lights": {
                      "type": "string",
                      "description": "The daytime running lights.",
                      "title": "Daytime Running Lights"
                    },
                    "deep_tinted_glass": {
                      "type": "string",
                      "description": "The deep tinted glass.",
                      "title": "Deep Tinted Glass"
                    },
                    "driver_airbag": {
                      "type": "string",
                      "description": "The driver airbag.",
                      "title": "Driver Airbag"
                    },
                    "driver_multi_adjustable_power_seat": {
                      "type": "string",
                      "description": "The driver multiple adjustable power seat.",
                      "title": "Driver Multi Adjustable Power Seat"
                    },
                    "dvd_player": {
                      "type": "string",
                      "description": "The DVD player.",
                      "title": "DVD Player"
                    },
                    "electrochromic_exterior_rearview_mirror": {
                      "type": "string",
                      "description": "The electrochromic exterior rearview mirror.",
                      "title": "Electrochromic Exterior Rearview Mirror"
                    },
                    "electrochromic_interior_rearview_mirror": {
                      "type": "string",
                      "description": "The electrochromic interior rearview mirror.",
                      "title": "Electrochromic Interior Rearview Mirror"
                    },
                    "electronic_brake_assistance": {
                      "type": "string",
                      "description": "The electronic brake assistance.",
                      "title": "Electronic Brake Assistance"
                    },
                    "electronic_parking_aid": {
                      "type": "string",
                      "description": "The electronic parking aid.",
                      "title": "Electronic Parking Aid"
                    },
                    "first_aid_kit": {
                      "type": "string",
                      "description": "The first aid kit.",
                      "title": "First Aid Kit"
                    },
                    "fog_lights": {
                      "type": "string",
                      "description": "The fog lights.",
                      "title": "Fog Lights"
                    },
                    "front_air_dam": {
                      "type": "string",
                      "description": "The front air dam.",
                      "title": "Front Air Dam"
                    },
                    "front_cooled_seat": {
                      "type": "string",
                      "description": "The front cooled seat.",
                      "title": "Front Cooled Seat"
                    },
                    "front_heated_seat": {
                      "type": "string",
                      "description": "The front heated seat.",
                      "title": "Front Heated Seat"
                    },
                    "front_power_lumbar_support": {
                      "type": "string",
                      "description": "The front power lumbar support.",
                      "title": "Front Power Lumbar Support"
                    },
                    "front_power_memory_seat": {
                      "type": "string",
                      "description": "The front power memory seat.",
                      "title": "Front Power Memory Seat"
                    },
                    "front_side_airbag": {
                      "type": "string",
                      "description": "The front side airbag.",
                      "title": "Front Side Airbag"
                    },
                    "front_side_airbag_with_head_protection": {
                      "type": "string",
                      "description": "The front side airbag with head protection.",
                      "title": "Front Side Airbag With Head Protection"
                    },
                    "front_split_bench_seat": {
                      "type": "string",
                      "description": "The front split bench seat.",
                      "title": "Front Split Bench Seat"
                    },
                    "full_size_spare_tire": {
                      "type": "string",
                      "description": "The full size spare tire.",
                      "title": "Full Size Spare Tire"
                    },
                    "genuine_wood_trim": {
                      "type": "string",
                      "description": "The genuine wood trim.",
                      "title": "Genuine Wood Trim"
                    },
                    "glass_rear_window_on_convertible": {
                      "type": "string",
                      "description": "The glass rear window on convertible.",
                      "title": "Glass Rear Window On Convertible"
                    },
                    "heated_exterior_mirror": {
                      "type": "string",
                      "description": "The heated exterior mirror.",
                      "title": "Heated Exterior Mirror"
                    },
                    "heated_steering_wheel": {
                      "type": "string",
                      "description": "The heated steering wheel.",
                      "title": "Heated Steering Wheel"
                    },
                    "high_intensity_discharge_headlights": {
                      "type": "string",
                      "description": "The high intensity discharge headlights.",
                      "title": "High Intensity Discharge Headlights"
                    },
                    "interval_wipers": {
                      "type": "string",
                      "description": "The interval wipers.",
                      "title": "Interval Wipers"
                    },
                    "keyless_entry": {
                      "type": "string",
                      "description": "The keyless entry.",
                      "title": "Keyless Entry"
                    },
                    "leather_seat": {
                      "type": "string",
                      "description": "The leather seat.",
                      "title": "Leather Seat"
                    },
                    "leather_steering_wheel": {
                      "type": "string",
                      "description": "The leather steering wheel.",
                      "title": "Leather Steering Wheel"
                    },
                    "limited_slip_differential": {
                      "type": "string",
                      "description": "The limited slip differential.",
                      "title": "Limited Slip Differential"
                    },
                    "load_bearing_exterior_rack": {
                      "type": "string",
                      "description": "The load bearing exterior rack.",
                      "title": "Load Bearing Exterior Rack"
                    },
                    "locking_differential": {
                      "type": "string",
                      "description": "The lock differential.",
                      "title": "Locking Differential"
                    },
                    "locking_pickup_truck_tailgate": {
                      "type": "string",
                      "description": "The locking pickup truck tailgate.",
                      "title": "Locking Pickup Truck Tailgate"
                    },
                    "manual_sunroof": {
                      "type": "string",
                      "description": "The manual sunroof.",
                      "title": "Manual Sunroof"
                    },
                    "navigation_aid": {
                      "type": "string",
                      "description": "The navigation aid.",
                      "title": "Navigation Aid"
                    },
                    "passenger_airbag": {
                      "type": "string",
                      "description": "The passenger airbag.",
                      "title": "Passenger Airbag"
                    },
                    "passenger_multi_adjustable_power_seat": {
                      "type": "string",
                      "description": "The passenger multiple adjustable power seat.",
                      "title": "Passenger Multi Adjustable Power Seat"
                    },
                    "pickup_truck_bed_liner": {
                      "type": "string",
                      "description": "The pickup truck bed liner.",
                      "title": "Pickup Truck Bed Liner"
                    },
                    "pickup_truck_cargo_box_light": {
                      "type": "string",
                      "description": "The pickup truck cargo box light.",
                      "title": "Pickup Truck Cargo Box Light"
                    },
                    "power_adjustable_exterior_mirror": {
                      "type": "string",
                      "description": "The power adjustable exterior mirror.",
                      "title": "Power Adjustable Exterior Mirror"
                    },
                    "power_door_locks": {
                      "type": "string",
                      "description": "The power door locks.",
                      "title": "Power Door Locks"
                    },
                    "power_sliding_side_van_door": {
                      "type": "string",
                      "description": "The power sliding side van door.",
                      "title": "Power Sliding Side Van Door"
                    },
                    "power_sunroof": {
                      "type": "string",
                      "description": "The power sunroof.",
                      "title": "Power Sunroof"
                    },
                    "power_trunk_lid": {
                      "type": "string",
                      "description": "The power trunk lid.",
                      "title": "Power Trunk Lid"
                    },
                    "power_windows": {
                      "type": "string",
                      "description": "The power windows.",
                      "title": "Power Windows"
                    },
                    "rain_sensing_wipers": {
                      "type": "string",
                      "description": "The rain sensing wipers.",
                      "title": "Rain Sensing Wipers"
                    },
                    "rear_spoiler": {
                      "type": "string",
                      "description": "The rear spoiler.",
                      "title": "Rear Spoiler"
                    },
                    "rear_window_defogger": {
                      "type": "string",
                      "description": "The rear window defogger.",
                      "title": "Rear Window Defogger"
                    },
                    "rear_wiper": {
                      "type": "string",
                      "description": "The rear wiper.",
                      "title": "Rear Wiper"
                    },
                    "remote_ignition": {
                      "type": "string",
                      "description": "The remote ignition.",
                      "title": "Remote Ignition"
                    },
                    "removable_top": {
                      "type": "string",
                      "description": "The removable top.",
                      "title": "Removable Top"
                    },
                    "run_flat_tires": {
                      "type": "string",
                      "description": "The run flat tires.",
                      "title": "Run Flat Tires"
                    },
                    "running_boards": {
                      "type": "string",
                      "description": "The running boards.",
                      "title": "Running Boards"
                    },
                    "second_row_folding_seat": {
                      "type": "string",
                      "description": "The second row folding seat.",
                      "title": "Second Row Folding Seat"
                    },
                    "second_row_heated_seat": {
                      "type": "string",
                      "description": "The second row heated seat.",
                      "title": "Second Row Heated Seat"
                    },
                    "second_row_multi_adjustable_power_seat": {
                      "type": "string",
                      "description": "The second row multiple adjustable power seat.",
                      "title": "Second Row Multi Adjustable Power Seat"
                    },
                    "second_row_removable_seat": {
                      "type": "string",
                      "description": "The second row removable.",
                      "title": "Second Row Removable Seat"
                    },
                    "second_row_side_airbag": {
                      "type": "string",
                      "description": "The second row side airbag.",
                      "title": "Second Row Side Airbag"
                    },
                    "second_row_side_airbag_with_head_protection": {
                      "type": "string",
                      "description": "The second row side airbag with head protection.",
                      "title": "Second Row Side Airbag With Head Protection"
                    },
                    "second_row_sound_controls": {
                      "type": "string",
                      "description": "The second row sound controls.",
                      "title": "Second Row Sound Controls"
                    },
                    "separate_driver_front_passenger_climate_controls": {
                      "type": "string",
                      "description": "The separate driver front passenger climate controls.",
                      "title": "Separate Driver Front Passenger Climate Controls"
                    },
                    "side_head_curtain_airbag": {
                      "type": "string",
                      "description": "The side head curtain airbag.",
                      "title": "Side Head Curtain Airbag"
                    },
                    "skid_plate": {
                      "type": "string",
                      "description": "The skid plate.",
                      "title": "Skid Plate"
                    },
                    "sliding_rear_pickup_truck_window": {
                      "type": "string",
                      "description": "The sliding rear pickup truck window.",
                      "title": "Sliding Rear Pickup Truck Window"
                    },
                    "splash_guards": {
                      "type": "string",
                      "description": "The splash guards.",
                      "title": "Splash Guards"
                    },
                    "steel_wheels": {
                      "type": "string",
                      "description": "The steel wheels.",
                      "title": "Steel Wheels"
                    },
                    "steering_wheel_mounted_controls": {
                      "type": "string",
                      "description": "The steering wheel mounted controls.",
                      "title": "Steering Wheel Mounted Controls"
                    },
                    "subwoofer": {
                      "type": "string",
                      "description": "The subwoofer.",
                      "title": "Subwoofer"
                    },
                    "tachometer": {
                      "type": "string",
                      "description": "The tachometer.",
                      "title": "Tachometer"
                    },
                    "telematics_system": {
                      "type": "string",
                      "description": "The telematics system.",
                      "title": "Telematics System"
                    },
                    "telescopic_steering_column": {
                      "type": "string",
                      "description": "The telescopic steering column.",
                      "title": "Telescopic Steering Column"
                    },
                    "third_row_removable_seat": {
                      "type": "string",
                      "description": "The third row removable seat.",
                      "title": "Third Row Removable Seat"
                    },
                    "tilt_steering": {
                      "type": "string",
                      "description": "The tilt steering.",
                      "title": "Tilt Steering"
                    },
                    "tilt_steering_column": {
                      "type": "string",
                      "description": "The tilt steering column.",
                      "title": "Tilt Steering Column"
                    },
                    "tire_pressure_monitor": {
                      "type": "string",
                      "description": "The tire pressure monitor.",
                      "title": "Tire Pressure Monitor"
                    },
                    "tow_hitch_receiver": {
                      "type": "string",
                      "description": "The tow hitch receiver.",
                      "title": "Tow Hitch Receiver"
                    },
                    "towing_preparation_package": {
                      "type": "string",
                      "description": "The towing preparation package.",
                      "title": "Towing Preparation Package"
                    },
                    "traction_control": {
                      "type": "string",
                      "description": "The traction control.",
                      "title": "Traction Control"
                    },
                    "trip_computer": {
                      "type": "string",
                      "description": "The trip computer.",
                      "title": "Trip Computer"
                    },
                    "trunk_anti_trap_device": {
                      "type": "string",
                      "description": "The trunk anti-trap device.",
                      "title": "Trunk Anti-Trap Device"
                    },
                    "vehicle_anti_theft": {
                      "type": "string",
                      "description": "The vehicle anti-theft.",
                      "title": "Vehicle Anti-Theft"
                    },
                    "vehicle_stability_control_system": {
                      "type": "string",
                      "description": "The vehicle stability control system.",
                      "title": "Vehicle Stability Control System"
                    },
                    "voice_activated_telephone": {
                      "type": "string",
                      "description": "The voice activated telephone.",
                      "title": "Voice Activated Telephone"
                    },
                    "wind_deflector_for_convertibles": {
                      "type": "string",
                      "description": "The wind deflector for convertibles.",
                      "title": "Wind Deflector For Convertibles"
                    }
                  },
                  "title": "Equipment"
                },
                "warranties": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "miles": {
                        "type": "string",
                        "description": "The miles.",
                        "title": "Miles"
                      },
                      "months": {
                        "type": "string",
                        "description": "The months.",
                        "title": "Months"
                      }
                    }
                  },
                  "title": "Warranties"
                },
                "timestamp": {
                  "type": "string",
                  "description": "The timestamp.",
                  "title": "Timestamp"
                }
              }
            }
          }
        },
        "summary": "Get vehicle specifications",
        "description": "Retrieve data including attributes, color options, equipment details, recall information, warranties, and photos.",
        "operationId": "SpecGet",
        "parameters": [
          {
            "name": "vin",
            "in": "query",
            "x-ms-summary": "VIN",
            "description": "The VIN number.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/marketvalue": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "modelYear": {
                  "type": "string",
                  "description": "The model year.",
                  "title": "Model Year"
                },
                "make": {
                  "type": "string",
                  "description": "The make.",
                  "title": "Make"
                },
                "retail": {
                  "type": "string",
                  "description": "The retail value.",
                  "title": "Retail"
                },
                "mileageAdjustment": {
                  "type": "string",
                  "description": "The mileage adjustment.",
                  "title": "Mileage Adjustment"
                },
                "adjustedCleanTrade": {
                  "type": "string",
                  "description": "The adjusted clean trade.",
                  "title": "Adjusted Clean Trade"
                },
                "tradeIn": {
                  "type": "string",
                  "description": "The trade in value.",
                  "title": "Trade In"
                },
                "averageTradeIn": {
                  "type": "string",
                  "description": "The average trade in.",
                  "title": "Average Trade In"
                },
                "adjustedCleanRetail": {
                  "type": "string",
                  "description": "The adjust clean retail.",
                  "title": "Adjusted Clean Retail"
                },
                "vin": {
                  "type": "string",
                  "description": "The VIN number.",
                  "title": "VIN"
                },
                "loanValue": {
                  "type": "string",
                  "description": "The loan value.",
                  "title": "Loan Value"
                },
                "tradeInValues": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The trade in values.",
                  "title": "Trade In Values"
                },
                "fuelType": {
                  "type": "string",
                  "description": "The fuel type.",
                  "title": "Fuel Type"
                },
                "body": {
                  "type": "string",
                  "description": "The body.",
                  "title": "Body"
                },
                "minAdjRoughTrade": {
                  "type": "string",
                  "description": "The minimum adjusted rough trade.",
                  "title": "Min Adjusted Rough Trade"
                },
                "success": {
                  "type": "boolean",
                  "description": "Whether a success.",
                  "title": "Success"
                },
                "model": {
                  "type": "string",
                  "description": "The model.",
                  "title": "Model"
                },
                "minAdjRetail": {
                  "type": "string",
                  "description": "The minimum adjusted retail value.",
                  "title": "Min Adjusted Retail"
                },
                "averageMileage": {
                  "type": "string",
                  "description": "The average mileage.",
                  "title": "Average Mileage"
                },
                "minAdjCleanTrade": {
                  "type": "string",
                  "description": "The minimum adjusted clean trade.",
                  "title": "Min Adjusted Clean Trade"
                },
                "minMileageAdj": {
                  "type": "string",
                  "description": "The minimum mileage adjustment.",
                  "title": "Min Mileage Adjustment"
                },
                "maxMileageAdj": {
                  "type": "string",
                  "description": "The maximum mileage adjustment.",
                  "title": "Max Mileage Adjustment"
                },
                "minAdjLoan": {
                  "type": "string",
                  "description": "The minimum adjustment load.",
                  "title": "Min Adjustment Loan"
                },
                "adjustedLoan": {
                  "type": "string",
                  "description": "The adjusted loan.",
                  "title": "Adjusted Loan"
                },
                "msrp": {
                  "type": "string",
                  "description": "The MSRP.",
                  "title": "MSRP"
                },
                "roughTradeIn": {
                  "type": "string",
                  "description": "The rough trade in value.",
                  "title": "Rough Trade In"
                },
                "adjustedRoughTrade": {
                  "type": "string",
                  "description": "The adjusted rough trade value.",
                  "title": "Adjusted Rough Trade"
                },
                "minAdjAverageTrade": {
                  "type": "string",
                  "description": "The minimum adjusted average trade.",
                  "title": "Min Adjusted Average Trade"
                },
                "adjustedAverageTrade": {
                  "type": "string",
                  "description": "The adjusted average trade.",
                  "title": "Adjusted Average Trade"
                }
              }
            }
          }
        },
        "summary": "Get vehicle market value",
        "description": "Retrieves estimate of the market value for used and new cars by VIN based on millions of historical vehicle sales stored in CarsXE's sales database.",
        "operationId": "ValueGet",
        "parameters": [
          {
            "name": "vin",
            "in": "query",
            "x-ms-summary": "VIN",
            "description": "The VIN number.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/history": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "insuranceInformation": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "VehicleObtainedDate": {
                        "type": "string",
                        "description": "The vehicle obtained date.",
                        "title": "Vehicle Obtained Date"
                      },
                      "ReportingEntityAbstract": {
                        "type": "object",
                        "properties": {
                          "ContactEmailID": {
                            "type": "string",
                            "description": "The contact email identifier.",
                            "title": "Contact Email ID"
                          },
                          "LocationStateUSPostalServiceCode": {
                            "type": "string",
                            "description": "The location state US postal service code.",
                            "title": "State Postal Code"
                          },
                          "ReportingEntityCategoryCode": {
                            "type": "string",
                            "description": "The reporting entity category code.",
                            "title": "Reporting Entity Category Code"
                          },
                          "ReportingEntityCategoryText": {
                            "type": "string",
                            "description": "The reporting entity category text.",
                            "title": "Reporting Entity Category Text"
                          },
                          "EntityName": {
                            "type": "string",
                            "description": "The entity name.",
                            "title": "Entity Name"
                          },
                          "LocationCityName": {
                            "type": "string",
                            "description": "The location city name.",
                            "title": "Location City Name"
                          },
                          "IdentificationID": {
                            "type": "string",
                            "description": "The identification identifier.",
                            "title": "Identification ID"
                          },
                          "TelephoneNumberFullID": {
                            "type": "string",
                            "description": "The telephone number full identifier.",
                            "title": "Telephone Number Full ID"
                          }
                        },
                        "title": "Reporting Entity Abstract"
                      },
                      "VehicleDispositionText": {
                        "type": "string",
                        "description": "The vehicle disposition text.",
                        "title": "Vehicle Disposition"
                      }
                    }
                  },
                  "title": "Insurance Information"
                },
                "historyInformation": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "VehicleIdentification": {
                        "type": "object",
                        "properties": {
                          "IdentificationID": {
                            "type": "string",
                            "description": "The identification identifier.",
                            "title": "Identification ID"
                          }
                        },
                        "title": "Vehicle Identification"
                      },
                      "VehicleOdometerReadingMeasure": {
                        "type": "string",
                        "description": "The odometer reading measure.",
                        "title": "Odometer Reading Measure"
                      },
                      "VehicleOdometerReadingUnitCode": {
                        "type": "string",
                        "description": "The odometer reading unit code.",
                        "title": "Odometer Reading Unit Code"
                      },
                      "TitleIssuingAuthorityName": {
                        "type": "string",
                        "description": "The title issuing authority name.",
                        "title": "Title Issuing Authority Name"
                      },
                      "TitleIssueDate": {
                        "type": "object",
                        "properties": {
                          "Date": {
                            "type": "string",
                            "description": "The date.",
                            "title": "Date"
                          }
                        },
                        "title": "Title Issue Date"
                      }
                    }
                  },
                  "title": "History Information"
                },
                "vin": {
                  "type": "string",
                  "description": "The VIN number.",
                  "title": "VIN"
                },
                "success": {
                  "type": "boolean",
                  "description": "Whether a success.",
                  "title": "Success"
                },
                "currentTitleInformation": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "VehicleOdometerReadingMeasure": {
                        "type": "string",
                        "description": "The odometer reading measure.",
                        "title": "Odometer Reading Measure"
                      },
                      "VehicleOdometerReadingUnitCode": {
                        "type": "string",
                        "description": "The odometer reading unit code.",
                        "title": "Odometer Reading Unit Code"
                      },
                      "RecordMatchSequenceID": {
                        "type": "string",
                        "description": "The record match sequence identifier.",
                        "title": "Record Match Sequence ID"
                      },
                      "HistoricTitleAbstract": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "TitleIssueDate": {
                              "type": "object",
                              "properties": {
                                "Date": {
                                  "type": "string",
                                  "description": "The date.",
                                  "title": "Date"
                                }
                              },
                              "title": "Title Issue Date"
                            },
                            "VehicleIdentification": {
                              "type": "object",
                              "properties": {
                                "IdentificationID": {
                                  "type": "string",
                                  "description": "The identification identifier.",
                                  "title": "Identification ID"
                                }
                              },
                              "title": "Vehicle Identification"
                            },
                            "VehicleOdometerReadingMeasure": {
                              "type": "string",
                              "description": "The odometer reading measure.",
                              "title": "Odometer Reading Measure"
                            },
                            "VehicleOdometerReadingUnitCode": {
                              "type": "string",
                              "description": "The odometer reading unit code.",
                              "title": "Odometer Reading Unit Code"
                            },
                            "TitleIssuingAuthorityName": {
                              "type": "string",
                              "description": "The title issuing authority name.",
                              "title": "Title Issuing Authority Name"
                            }
                          }
                        },
                        "title": "Historic Title Abstract"
                      },
                      "TitleIssuingAuthorityName": {
                        "type": "string",
                        "description": "The title issuing authority name.",
                        "title": "Title Issuing Authority Name"
                      },
                      "TitleIssueDate": {
                        "type": "object",
                        "properties": {
                          "Date": {
                            "type": "string",
                            "description": "The date.",
                            "title": "Date"
                          }
                        },
                        "title": "Title Issue Date"
                      },
                      "VehicleIdentification": {
                        "type": "object",
                        "properties": {
                          "IdentificationID": {
                            "type": "string",
                            "description": "The identification identifier.",
                            "title": "Identification ID"
                          }
                        },
                        "title": "Vehicle Identification"
                      }
                    }
                  },
                  "title": "Current Title Information"
                },
                "vinChanged": {
                  "type": "boolean",
                  "description": "Whether the VIN number changed.",
                  "title": "VIN Changed"
                },
                "brandsInformation": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "record": {
                        "type": "object",
                        "properties": {
                          "VehicleBrandDate": {
                            "type": "object",
                            "properties": {
                              "Date": {
                                "type": "string",
                                "description": "The date.",
                                "title": "Date"
                              }
                            },
                            "title": "Vehicle Brand"
                          },
                          "VehicleBrandCode": {
                            "type": "string",
                            "description": "The vehicle brand code.",
                            "title": "Vehicle Brand Code"
                          },
                          "ReportingEntityAbstract": {
                            "type": "object",
                            "properties": {
                              "EntityName": {
                                "type": "string",
                                "description": "The name.",
                                "title": "Name"
                              },
                              "ReportingEntityCategoryText": {
                                "type": "string",
                                "description": "The category text.",
                                "title": "Category Text"
                              },
                              "ReportingEntityCategoryCode": {
                                "type": "string",
                                "description": "The category code.",
                                "title": "Category Code"
                              },
                              "IdentificationID": {
                                "type": "string",
                                "description": "The identification identifier.",
                                "title": "Identification ID"
                              }
                            },
                            "title": "Reporting Entity"
                          },
                          "VehicleDispositionText": {
                            "type": "string",
                            "description": "The vehicle disposition text.",
                            "title": "Vehicle Disposition Text"
                          }
                        },
                        "title": "Record"
                      }
                    }
                  },
                  "title": "Brands Information"
                },
                "junkAndSalvageInformation": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "VehicleObtainedDate": {
                        "type": "string",
                        "description": "The vehicle obtained date.",
                        "title": "Vehicle Obtained Date"
                      },
                      "ReportingEntityAbstract": {
                        "type": "object",
                        "properties": {
                          "EntityName": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "LocationCityName": {
                            "type": "string",
                            "description": "The location city.",
                            "title": "Location City"
                          },
                          "ReportingEntityCategoryText": {
                            "type": "string",
                            "description": "The category text.",
                            "title": "Category Text"
                          },
                          "ContactEmailID": {
                            "type": "string",
                            "description": "The contact email identifier.",
                            "title": "Contact Email ID"
                          },
                          "TelephoneNumberFullID": {
                            "type": "string",
                            "description": "The telephone number full identifier.",
                            "title": "Telephone Number Full ID"
                          },
                          "IdentificationID": {
                            "type": "string",
                            "description": "The identification identifier.",
                            "title": "Identification ID"
                          },
                          "LocationStateUSPostalServiceCode": {
                            "type": "string",
                            "description": "The location state US postal service code.",
                            "title": "Location State US Postal Service Code"
                          },
                          "ReportingEntityCategoryCode": {
                            "type": "string",
                            "description": "The category code.",
                            "title": "Category Code"
                          }
                        },
                        "title": "Reporting Entity Abstract"
                      },
                      "VehicleIntendedForExportCode": {
                        "type": "string",
                        "description": "The vehicle intended for export code.",
                        "title": "Vehicle Intended For Export Code"
                      },
                      "VehicleDispositionText": {
                        "type": "string",
                        "description": "The vehicle disposition text.",
                        "title": "Vehicle Disposition Text"
                      }
                    }
                  },
                  "title": "Junk And Salvage Information"
                },
                "brandsRecordCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The brand record count.",
                  "title": "Brands Record Count"
                }
              }
            }
          }
        },
        "summary": "Get complete vehicle history",
        "description": "Retrieve a comprehensive set of history records for used and new cars by VIN based on millions of historical vehicle sales stored in CarsXE's sales database.",
        "operationId": "HistoryGet",
        "parameters": [
          {
            "name": "vin",
            "in": "query",
            "x-ms-summary": "VIN",
            "description": "The VIN number.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/platedecoder": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Whether a success.",
                  "title": "Success"
                },
                "imageUrl": {
                  "type": "string",
                  "description": "The image URL address.",
                  "title": "Image URL"
                },
                "input": {
                  "type": "object",
                  "properties": {
                    "plate": {
                      "type": "string",
                      "description": "The plate.",
                      "title": "Plate"
                    },
                    "country": {
                      "type": "string",
                      "description": "The country.",
                      "title": "Country"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    }
                  },
                  "title": "Input"
                },
                "CarModel": {
                  "type": "string",
                  "description": "The car model.",
                  "title": "Car Model"
                },
                "EngineSize": {
                  "type": "string",
                  "description": "The engine size.",
                  "title": "Engine Size"
                },
                "Description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "CarMake": {
                  "type": "string",
                  "description": "The car make.",
                  "title": "Car Make"
                },
                "assembly": {
                  "type": "string",
                  "description": "The assembly.",
                  "title": "Assembly"
                },
                "RegistrationYear": {
                  "type": "string",
                  "description": "The registration year.",
                  "title": "Registration Year"
                },
                "vin": {
                  "type": "string",
                  "description": "The VIN number.",
                  "title": "VIN"
                },
                "BodyStyle": {
                  "type": "string",
                  "description": "The body style.",
                  "title": "Body Style"
                },
                "NumberOfDoors": {
                  "type": "string",
                  "description": "The number of doors.",
                  "title": "Number Of Doors"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "plate",
            "in": "query",
            "x-ms-summary": "Plate",
            "description": "The plate.",
            "required": true,
            "type": "string"
          },
          {
            "name": "state",
            "in": "query",
            "x-ms-summary": "State/Country",
            "description": "The state or country code.",
            "required": true,
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "x-ms-summary": "County",
            "description": "The country. Only for use with Australian states.",
            "required": false,
            "type": "string",
            "enum": [
              "au"
            ]
          }
        ],
        "summary": "Decode a vehicle plate",
        "description": "Retrieves a library of vehicle's data based on the vehicle's registration/license plate number and state. The state is a two letter abbreviation, with international support also for Australia, Brazil, United Kingdom, Ireland, Italy, Spain, India, Mexico and New Zealand.",
        "operationId": "PlateDecode"
      }
    },
    "/images": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "object",
                  "properties": {
                    "format": {
                      "type": "string",
                      "description": "The format.",
                      "title": "Format"
                    },
                    "make": {
                      "type": "string",
                      "description": "The make.",
                      "title": "Make"
                    },
                    "model": {
                      "type": "string",
                      "description": "The model.",
                      "title": "Model"
                    },
                    "transparent": {
                      "type": "string",
                      "description": "The transparent.",
                      "title": "Transparent"
                    }
                  },
                  "title": "Query"
                },
                "images": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "mime": {
                        "type": "string",
                        "description": "The mime.",
                        "title": "Mime"
                      },
                      "link": {
                        "type": "string",
                        "description": "The link.",
                        "title": "Link"
                      },
                      "contextLink": {
                        "type": "string",
                        "description": "The context link.",
                        "title": "Context Link"
                      },
                      "height": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The height.",
                        "title": "Height"
                      },
                      "width": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The width.",
                        "title": "Width"
                      },
                      "byteSize": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The byte size.",
                        "title": "Byte Size"
                      },
                      "thumbnailLink": {
                        "type": "string",
                        "description": "The thumbnail link.",
                        "title": "Thumbnail Link"
                      },
                      "thumbnailHeight": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The thumbnail height.",
                        "title": "Thumbnail Height"
                      },
                      "thumbnailWidth": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The thumbnail width.",
                        "title": "Thumbnail Width"
                      },
                      "hostPageDomainFriendlyName": {
                        "type": "string",
                        "description": "The host page domain friendly name.",
                        "title": "Host Page Domain Friendly Name"
                      },
                      "accentColor": {
                        "type": "string",
                        "description": "The accent color.",
                        "title": "Accent Color"
                      },
                      "datePublished": {
                        "type": "string",
                        "description": "The date published.",
                        "title": "Date Published"
                      }
                    }
                  },
                  "title": "Images"
                },
                "success": {
                  "type": "boolean",
                  "description": "Whether a success.",
                  "title": "Success"
                },
                "error": {
                  "type": "string",
                  "description": "The error, if any.",
                  "title": "Error"
                }
              }
            }
          }
        },
        "summary": "Get vehicle images",
        "parameters": [
          {
            "name": "make",
            "in": "query",
            "x-ms-summary": "Make",
            "description": "The make.",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "query",
            "x-ms-summary": "Model",
            "description": "The model.",
            "required": true,
            "type": "string"
          },
          {
            "name": "year",
            "in": "query",
            "x-ms-summary": "Year",
            "description": "The year.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "trim",
            "in": "query",
            "x-ms-summary": "Trim",
            "description": "The trim.",
            "required": false,
            "type": "string"
          },
          {
            "name": "color",
            "in": "query",
            "x-ms-summary": "Color",
            "description": "The color.",
            "required": false,
            "type": "string"
          },
          {
            "name": "transparent",
            "in": "query",
            "x-ms-summary": "Transparent",
            "description": "Whether transparent.",
            "required": false,
            "type": "boolean",
            "default": true,
            "enum": [
              true,
              false
            ]
          },
          {
            "name": "angle",
            "in": "query",
            "x-ms-summary": "Angle",
            "description": "The angle.",
            "required": false,
            "type": "string",
            "enum": [
              "front",
              "side",
              "back"
            ]
          },
          {
            "name": "photoType",
            "in": "query",
            "x-ms-summary": "Type",
            "description": "The photo type.",
            "required": false,
            "type": "string",
            "enum": [
              "interior",
              "exterior",
              "engine"
            ]
          },
          {
            "name": "size",
            "in": "query",
            "x-ms-summary": "Size",
            "description": "The size.",
            "required": false,
            "type": "string",
            "enum": [
              "All",
              "Small",
              "Medium",
              "Large",
              "Wallpaper"
            ]
          },
          {
            "name": "license",
            "in": "query",
            "x-ms-summary": "License",
            "description": "The image license.",
            "required": false,
            "type": "string",
            "enum": [
              "Public",
              "Share",
              "ShareCommercially",
              "Modify",
              "ModifyCommercially"
            ]
          }
        ],
        "description": "Retrieves photos of vehicles based on their make and model, plus other optional parameters",
        "operationId": "ImageGet"
      }
    },
    "/platerecognition": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "box": {
                        "type": "object",
                        "properties": {
                          "xmax": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The X maximum.",
                            "title": "X Max"
                          },
                          "xmin": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The X minimum.",
                            "title": "X Min"
                          },
                          "ymax": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The Y maximum.",
                            "title": "Y Max"
                          },
                          "ymin": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The Y minimum.",
                            "title": "Y Min"
                          }
                        },
                        "title": "Box"
                      },
                      "candidates": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "plate": {
                              "type": "string",
                              "description": "The plate.",
                              "title": "Plate"
                            },
                            "score": {
                              "type": "number",
                              "format": "float",
                              "description": "The score.",
                              "title": "Score"
                            }
                          }
                        },
                        "title": "Candidates"
                      },
                      "dscore": {
                        "type": "number",
                        "format": "float",
                        "description": "The D score.",
                        "title": "D Score"
                      },
                      "plate": {
                        "type": "string",
                        "description": "The plate.",
                        "title": "Plate"
                      },
                      "region": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "The code.",
                            "title": "Code"
                          },
                          "score": {
                            "type": "number",
                            "format": "float",
                            "description": "The score.",
                            "title": "Score"
                          }
                        },
                        "title": "Region"
                      },
                      "score": {
                        "type": "number",
                        "format": "float",
                        "description": "The score.",
                        "title": "Score"
                      },
                      "vehicle": {
                        "type": "object",
                        "properties": {
                          "score": {
                            "type": "number",
                            "format": "float",
                            "description": "The score.",
                            "title": "Score"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          }
                        },
                        "title": "Vehicle"
                      }
                    }
                  },
                  "title": "Results"
                },
                "success": {
                  "type": "boolean",
                  "description": "Whether a success.",
                  "title": "Success"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "camera_id": {
                  "type": "string",
                  "description": "The camera identifier.",
                  "title": "Camera ID"
                },
                "filename": {
                  "type": "string",
                  "description": "The filename.",
                  "title": "Filename"
                },
                "processing_time": {
                  "type": "number",
                  "format": "float",
                  "description": "The processing time.",
                  "title": "Processing Time"
                }
              }
            }
          }
        },
        "summary": "Get license plate recognition",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "x-ms-summary": "Content Type",
            "description": "The content type.",
            "required": true,
            "type": "string",
            "default": "text/plain",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Retrieves accurate recognition of license plates from images, based on training from license plates from over 100 countries and states.",
        "operationId": "PlateRecog"
      }
    },
    "/obdcodesdecoder": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Whether a success.",
                  "title": "Success"
                },
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "diagnosis": {
                  "type": "string",
                  "description": "The diagnosis.",
                  "title": "Diagnosis"
                },
                "date": {
                  "type": "string",
                  "description": "The date.",
                  "title": "Date"
                }
              }
            }
          }
        },
        "summary": "Get OBD code",
        "description": "Retrieve code information from a library of over 3000 OBD codes and their matching vehicle diagnosis.",
        "operationId": "CodeGet",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "x-ms-summary": "Code",
            "description": "The code.",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "query",
      "name": "key"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://api.carsxe.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://api.carsxe.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}