{
  "swagger": "2.0",
  "info": {
    "title": "IN-D Face Match",
    "description": "Detect human faces and match it against the photos from ID cards for identity verification process in onboarding. Multiple faces on the photo or No faces on the photo and photos taken in poor lighting conditions can be rejected at source for re-upload.",
    "version": "1.0",
    "contact": {
      "name": "IN-D Support",
      "url": "https://www.one.in-d.ai/developer/",
      "email": "explore@in-d.ai"
    }
  },
  "host": "kycsandbox.in-d.ai",
  "basePath": "//",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/facematch": {
      "post": {
        "responses": {
          "200": {
            "description": "Successfull",
            "schema": {
              "type": "object",
              "properties": {
                "desc": {
                  "type": "string",
                  "description": "Error description",
                  "title": "description"
                },
                "result": {
                  "type": "object",
                  "properties": {
                    "Confidence score in percentage": {
                      "type": "number",
                      "description": "Face Match Confidence score in percentage",
                      "title": "Confidence score",
                      "format": "float"
                    },
                    "match": {
                      "type": "string",
                      "description": "Yes or No",
                      "title": "match"
                    },
                    "status": {
                      "type": "string",
                      "description": "status Success or Fail",
                      "title": "status"
                    }
                  },
                  "description": "result"
                }
              }
            }
          },
          "207": {
            "description": "Error in saving base64",
            "schema": {
              "type": "object",
              "properties": {
                "desc": {
                  "type": "string",
                  "description": "Error in Base64",
                  "title": "description"
                },
                "flag": {
                  "type": "string",
                  "description": "Fail or Success",
                  "title": "Flag"
                },
                "status": {
                  "type": "string",
                  "description": "Request status either success or fail",
                  "title": "Status"
                }
              }
            }
          },
          "400": {
            "description": "Invalid base64 format",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Request status either success or fail",
                  "title": "Status"
                },
                "desc": {
                  "type": "string",
                  "description": "Invalid base64 string",
                  "title": "Error Description"
                }
              }
            }
          },
          "401": {
            "description": "API Key invalid or expired",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Invalid api key",
                  "title": "message"
                }
              }
            }
          },
          "403": {
            "description": "authorization headers or api key not given",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "headers or api key is missing",
                  "title": "message"
                }
              }
            }
          }
        },
        "summary": "Face Match",
        "description": "Match Human faces against the ID card photograph",
        "operationId": "FaceMatch",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type of post request",
            "x-ms-summary": "Content-Type of request"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "image": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "image",
                    "title": "base64 format",
                    "format": "byte"
                  },
                  "description": "image"
                }
              },
              "required": [
                "image"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.in-d.ai"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.in-d.ai/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;IT Operations"
    }
  ]
}
