{
  "swagger": "2.0",
  "info": {
    "version": "v3",
    "title": "EXPOCAD",
    "description": "This service interfaces with live EXPOCAD event data.  Please use PUT, POST, and DELETE operations with discretion. Keep authorization codes private. If your code has been compromised, contact tech@expocad.com immediately.",
    "contact": {
      "name": "EXPOCAD Developer Support",
      "url": "https://support.expocad.com/",
      "email": "developer@expocad.com"
    }
  },
  "host": "api2.expocad.com",
  "basePath": "/edgewebapi",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{ClientName}/booths": {
      "get": {
        "tags": [
          "Booths"
        ],
        "summary": "Get Specific Booth",
        "operationId": "Booths_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "boothNumber",
            "in": "query",
            "description": "The booth number of the booth",
            "x-ms-summary": "The booth number of the booth",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Booth"
            }
          }
        },
        "description": "Returns the specified booth."
      }
    },
    "/{ClientName}/booths/all": {
      "get": {
        "tags": [
          "Booths"
        ],
        "summary": "Get All Booths",
        "operationId": "Booths_GetAllBooths",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          },
          {
            "name": "deletedFilter",
            "in": "query",
            "description": "Filter by deleted booths. Default includes only non deleted booths",
            "x-ms-summary": "Filter by deleted booths. Default includes only non deleted booths",
            "required": false,
            "type": "string",
            "enum": [
              "IncludeAll",
              "OnlyNonDeleted",
              "OnlyDeleted"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Booth"
              }
            }
          }
        },
        "description": "Returns an array of all booths in the supplied event."
      }
    },
    "/{ClientName}/booths/all/available": {
      "get": {
        "tags": [
          "Booths"
        ],
        "summary": "Get All Available Booths",
        "operationId": "Booths_GetAllAvailableBooths",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Booth"
              }
            }
          }
        },
        "description": "Returns a collection of all available booths in the supplied event"
      }
    },
    "/{ClientName}/booths/all/rented": {
      "get": {
        "tags": [
          "Booths"
        ],
        "summary": "Get All Rented Booths",
        "operationId": "Booths_GetAllRentedBooths",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Booth"
              }
            }
          }
        },
        "description": "Returns a collection of all rented booths in the supplied event."
      }
    },
    "/{ClientName}/booths/rent": {
      "put": {
        "tags": [
          "Booths"
        ],
        "summary": "Rent a Booth",
        "operationId": "Booths_RentBooth",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "boothNumber",
            "in": "query",
            "description": "The booth number of the booth",
            "x-ms-summary": "The booth number of the booth",
            "required": true,
            "type": "string"
          },
          {
            "name": "exhibitorId",
            "in": "query",
            "description": "The ID of the exhibitor",
            "x-ms-summary": "The ID of the exhibitor",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          },
          {
            "name": "ratePlan",
            "in": "query",
            "description": "The rate plan name",
            "x-ms-summary": "The rate plan name",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "A status for the rented booth",
            "x-ms-summary": "A status for the rented booth",
            "required": false,
            "type": "string"
          },
          {
            "name": "comment",
            "in": "query",
            "description": "A comment for the rented booth",
            "x-ms-summary": "A comment for the rented booth",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "description": "Rents the specified booth in the supplied event."
      }
    },
    "/{ClientName}/booths/unrent": {
      "put": {
        "tags": [
          "Booths"
        ],
        "summary": "Unrent a Booth",
        "operationId": "Booths_UnRentBooth",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "boothNumber",
            "in": "query",
            "description": "The booth number of the booth",
            "x-ms-summary": "The booth number of the booth",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "description": "Unrents the specified booth in the supplied event."
      }
    },
    "/{ClientName}/booths/hold": {
      "put": {
        "tags": [
          "Booths"
        ],
        "summary": "Holds the specified booth",
        "description": "EXPOCAD allows for a booth to be placed on hold to either an existing Exhibitor (by Id) or to a temporary Exhibitor (by Name). Choose one parameter or the other -  'ExhibitorId' or 'ExhibitorName'. If both paramerters are supplied, the hold will default to the Exhibitor ID.",
        "operationId": "Booths_HoldBooth",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "boothNumber",
            "in": "query",
            "description": "The booth number of the booth",
            "x-ms-summary": "The booth number of the booth",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          },
          {
            "name": "exhibitorId",
            "in": "query",
            "description": "The ID of the exhibitor",
            "x-ms-summary": "The ID of the exhibitor",
            "required": false,
            "type": "string"
          },
          {
            "name": "exhibitorName",
            "in": "query",
            "description": "The name of the exhibitor",
            "x-ms-summary": "The name of the exhibitor",
            "required": false,
            "type": "string"
          },
          {
            "name": "comment",
            "in": "query",
            "description": "Comments regarding the hold",
            "x-ms-summary": "Comments regarding the hold",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{ClientName}/booths/unhold": {
      "put": {
        "tags": [
          "Booths"
        ],
        "summary": "Unholds the specified booth",
        "operationId": "Booths_UnHoldBooth",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "boothNumber",
            "in": "query",
            "description": "The booth number of the booth",
            "x-ms-summary": "The booth number of the booth",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "description": "Unholds the specified booth in the supplied event."
      }
    },
    "/{ClientName}/booths/rentToHold": {
      "put": {
        "tags": [
          "Booths"
        ],
        "summary": "Convert Rented booth to Hold",
        "operationId": "Booths_RentToHold",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "boothNumber",
            "in": "query",
            "description": "The booth number of the booth",
            "x-ms-summary": "The booth number of the booth",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "description": "Converts the specified rented booth to a booth on hold to the same exhibitor in the supplied event."
      }
    },
    "/{ClientName}/booths/holdToRent": {
      "put": {
        "tags": [
          "Booths"
        ],
        "summary": "Convert Held booth to Rented",
        "description": "Rents the specified held booth to the held exhibitor in the supplied event. This operation will fail if the booth is currently held to a temporary exhibitor.",
        "operationId": "Booths_HoldToRent",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "boothNumber",
            "in": "query",
            "description": "The booth number of the booth",
            "x-ms-summary": "The booth number of the booth",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          },
          {
            "name": "ratePlan",
            "in": "query",
            "description": "The rate plan name",
            "x-ms-summary": "The rate plan name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{ClientName}/booths/combine": {
      "put": {
        "tags": [
          "Booths"
        ],
        "summary": "Combine the specified booths into a new booth",
        "operationId": "Booths_CombineBooths",
        "consumes": [
          "application/json",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "boothNumbers",
            "in": "body",
            "description": "The booth numbers of the booths to combine. e.g. [100,101,102,103]",
            "x-ms-summary": "The booth numbers of the booths to combine. e.g. [100,101,102,103]",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          },
          {
            "name": "boundary",
            "in": "query",
            "description": "0 or 1",
            "x-ms-summary": "0 or 1",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "description": "Combines the specified booths into a new booth in the supplied event."
      }
    },
    "/{ClientName}/booths/uncombine": {
      "put": {
        "tags": [
          "Booths"
        ],
        "summary": "Uncombine the specified booth",
        "operationId": "Booths_UncombineBooth",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "boothNumber",
            "in": "query",
            "description": "The booth number of the booth",
            "x-ms-summary": "The booth number of the booth",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "description": "Uncombines the specified booth in the supplied event."
      }
    },
    "/{ClientName}/booths/delete": {
      "put": {
        "tags": [
          "Booths"
        ],
        "summary": "Delete the specified booths",
        "operationId": "Booths_DeleteBooths",
        "consumes": [
          "application/json",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "boothNumbers",
            "in": "body",
            "description": "The booth numbers of the booths",
            "x-ms-summary": "The booth numbers of the booths",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "description": "Deletes the specified booths in the supplied event."
      }
    },
    "/{ClientName}/booths/undelete": {
      "put": {
        "tags": [
          "Booths"
        ],
        "summary": "Undelete the specified booths",
        "operationId": "Booths_UndeleteBooths",
        "consumes": [
          "application/json",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "boothNumbers",
            "in": "body",
            "description": "The booth numbers of the booths to undelete. e.g. [100,101,102,103]",
            "x-ms-summary": "The booth numbers of the booths to undelete. e.g. [100,101,102,103]",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "description": "Undeletes the specified booths in the supplied event."
      }
    },
    "/{ClientName}/booths/changenumber": {
      "put": {
        "tags": [
          "Booths"
        ],
        "summary": "Change the number of the specified booth",
        "operationId": "Booths_ChangeBoothNumber",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "oldNumber",
            "in": "query",
            "description": "The booth number of the existing booth to change",
            "x-ms-summary": "The booth number of the existing booth to change",
            "required": true,
            "type": "string"
          },
          {
            "name": "newNumber",
            "in": "query",
            "description": "The new booth number to be assigned",
            "x-ms-summary": "The new booth number to be assigned",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "description": "Changes the number of the specified booth in the supplied event."
      }
    },
    "/{ClientName}/booths/classes/apply": {
      "put": {
        "tags": [
          "Booths"
        ],
        "summary": "Apply a single booth class to the specified booth",
        "operationId": "Booths_SetBoothClass",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "classId",
            "in": "query",
            "description": "The class ID of the booth class",
            "x-ms-summary": "The class ID of the booth class",
            "required": true,
            "type": "string"
          },
          {
            "name": "boothNumber",
            "in": "query",
            "description": "The booth number of the booth",
            "x-ms-summary": "The booth number of the booth",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "description": "Applys a single booth class to the specified booth in the supplied event."
      }
    },
    "/{ClientName}/booths/classes/remove": {
      "put": {
        "tags": [
          "Booths"
        ],
        "summary": "Remove a single booth class from the specified booth",
        "operationId": "Booths_ClearBoothClass",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "classId",
            "in": "query",
            "description": "The class ID of the booth class",
            "x-ms-summary": "The class ID of the booth class",
            "required": true,
            "type": "string"
          },
          {
            "name": "boothNumber",
            "in": "query",
            "description": "The booth number of the booth",
            "x-ms-summary": "The booth number of the booth",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "description": "Removes a single booth class from the specified booth in the supplied event."
      }
    },
    "/{ClientName}/booths/displayNameOverride/set": {
      "put": {
        "tags": [
          "Booths"
        ],
        "summary": "Override the display on drawing property for the specified booth",
        "operationId": "Booths_SetBoothDisplayName",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "text",
            "in": "query",
            "description": "The text to override the display on drawing",
            "x-ms-summary": "The text to override the display on drawing",
            "required": true,
            "type": "string"
          },
          {
            "name": "boothNumber",
            "in": "query",
            "description": "The booth number of the booth",
            "x-ms-summary": "The booth number of the booth",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "description": "Overrides the display on drawing property for the specified booth."
      }
    },
    "/{ClientName}/booths/displayNameOverride/reset": {
      "put": {
        "tags": [
          "Booths"
        ],
        "summary": "Reset the display on drawing override for the specified booth",
        "operationId": "Booths_ClearBoothDisplayName",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "boothNumber",
            "in": "query",
            "description": "The booth number of the booth",
            "x-ms-summary": "The booth number of the booth",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "description": "Resets the display on drawing override for the specified booth."
      }
    },
    "/{ClientName}/booths/childExhibitor/add": {
      "put": {
        "tags": [
          "Booths"
        ],
        "summary": "Add a child exhibitor to the specified booth",
        "description": "When adding a child exhibitor, the child exhibitor must already exist",
        "operationId": "Booths_AddChildExhibitor",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "childExhibitorId",
            "in": "query",
            "description": "The ID of the child exhibitor",
            "x-ms-summary": "The ID of the child exhibitor",
            "required": true,
            "type": "string"
          },
          {
            "name": "boothNumber",
            "in": "query",
            "description": "The booth number of the booth",
            "x-ms-summary": "The booth number of the booth",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{ClientName}/booths/childExhibitor/remove": {
      "put": {
        "tags": [
          "Booths"
        ],
        "summary": "Remove a child exhibitor from the specified booth",
        "operationId": "Booths_RemoveChildExhibitor",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "childExhibitorId",
            "in": "query",
            "description": "The ID of the child exhibitor",
            "x-ms-summary": "The ID of the child exhibitor",
            "required": true,
            "type": "string"
          },
          {
            "name": "boothNumber",
            "in": "query",
            "description": "The booth number of the booth",
            "x-ms-summary": "The booth number of the booth",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "description": "Removes a child exhibitor from the specified booth in the supplied event."
      }
    },
    "/{ClientName}/classes": {
      "get": {
        "tags": [
          "Classes"
        ],
        "summary": "Return the specified booth class",
        "operationId": "Classes_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "classId",
            "in": "query",
            "description": "The class ID of the booth class",
            "x-ms-summary": "The class ID of the booth class",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BoothClass"
            }
          }
        },
        "description": "Returns the specified booth class."
      }
    },
    "/{ClientName}/classes/all": {
      "get": {
        "tags": [
          "Classes"
        ],
        "summary": "Return a collection of all booth classes",
        "operationId": "Classes_GetAllBoothClasses",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BoothClass"
              }
            }
          }
        },
        "description": "Returns a collection of all booth classes in the supplied event."
      }
    },
    "/{ClientName}/classes/add": {
      "post": {
        "tags": [
          "Classes"
        ],
        "summary": "Add a new booth class",
        "operationId": "Classes_Create",
        "consumes": [
          "application/json",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "boothClass",
            "in": "body",
            "description": "A booth class object to create",
            "x-ms-summary": "A booth class object to create",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BoothClass"
            }
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BoothClass"
            }
          }
        },
        "description": "Adds a new booth class to the supplied event."
      }
    },
    "/{ClientName}/classes/update": {
      "put": {
        "tags": [
          "Classes"
        ],
        "summary": "Update the specified booth class",
        "operationId": "Classes_Update",
        "consumes": [
          "application/json",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "boothClass",
            "in": "body",
            "description": "A booth class object to update",
            "x-ms-summary": "A booth class object to update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BoothClass"
            }
          },
          {
            "name": "classId",
            "in": "query",
            "description": "The class ID of the booth class",
            "x-ms-summary": "The class ID of the booth class",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BoothClass"
            }
          }
        },
        "description": "Updates the specified booth class."
      }
    },
    "/{ClientName}/classes/delete": {
      "delete": {
        "tags": [
          "Classes"
        ],
        "summary": "Delete a booth class",
        "operationId": "Classes_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "classId",
            "in": "query",
            "description": "The class Id of the booth class",
            "x-ms-summary": "The class Id of the booth class",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "description": "Deletes a booth class in the supplied event."
      }
    },
    "/{ClientName}/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get All Events",
        "operationId": "Events_GetAllEvents",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExpocadEvent"
              }
            }
          }
        },
        "description": "Returns a collection of registered events."
      }
    },
    "/{ClientName}/events/stats": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get Event Statistics",
        "operationId": "Events_GetEventStatistics",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EventStats"
            }
          }
        },
        "description": "Returns basic statistics describing the supplied event."
      }
    },
    "/{ClientName}/events/info": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get Event Information",
        "operationId": "Events_GetEventInformation",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExpoEventInformation"
            }
          }
        },
        "description": "Returns basic information about the supplied event."
      }
    },
    "/{ClientName}/exhibitors": {
      "get": {
        "tags": [
          "Exhibitors"
        ],
        "summary": "Get an Exhibitor",
        "operationId": "Exhibitors_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the exhibitor",
            "x-ms-summary": "The ID of the exhibitor",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Exhibitor"
            }
          }
        },
        "description": "Returns the specified exhibitor."
      }
    },
    "/{ClientName}/exhibitors/all": {
      "get": {
        "tags": [
          "Exhibitors"
        ],
        "summary": "Get All Exhibitors",
        "operationId": "Exhibitors_GetAllExhibitors",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Exhibitor"
              }
            }
          }
        },
        "description": "Returns a collection of all exhibitors in the supplied event."
      }
    },
    "/{ClientName}/exhibitors/add": {
      "post": {
        "tags": [
          "Exhibitors"
        ],
        "summary": "Add a new exhibitor",
        "operationId": "Exhibitors_AddExhibitor",
        "consumes": [
          "application/json",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "exhibitor",
            "in": "body",
            "description": "An exhibitor object to create",
            "x-ms-summary": "An exhibitor object to create",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Exhibitor"
            }
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Exhibitor"
            }
          }
        },
        "description": "Adds a new exhibitor to the supplied event."
      }
    },
    "/{ClientName}/exhibitors/update": {
      "put": {
        "tags": [
          "Exhibitors"
        ],
        "summary": "Update an exhibitor",
        "operationId": "Exhibitors_UpdateExhibitor",
        "consumes": [
          "application/json",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "exhibitor",
            "in": "body",
            "description": "An exhibitor object to update",
            "x-ms-summary": "An exhibitor object to update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Exhibitor"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the exhibitor",
            "x-ms-summary": "The ID of the exhibitor",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Exhibitor"
            }
          }
        },
        "description": "Updates an exhibitor in the supplied event."
      }
    },
    "/{ClientName}/exhibitors/delete": {
      "delete": {
        "tags": [
          "Exhibitors"
        ],
        "summary": "Delete an exhibitor",
        "operationId": "Exhibitors_DeleteExhibitor",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the exhibitor",
            "x-ms-summary": "The ID of the exhibitor",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "description": "Deletes an exhibitor in the supplied event."
      }
    },
    "/{ClientName}/financials/transactions": {
      "get": {
        "tags": [
          "Financials"
        ],
        "summary": "Get a collection of transactions",
        "description": "Parameters <b>startDate</b> and <b>endDate</b> allow you to filter by a date range. \r\n            <br />If you do decide to filter by a range, you must supply at least one valid date.\r\n            <br /><br />Valid dates are in the format of: <b>YYYY-MM-DD</b>",
        "operationId": "Financials_GetAllTransactions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Filter transactions on and after this date. YYYY-MM-DD",
            "x-ms-summary": "Filter transactions on and after this date. YYYY-MM-DD",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Filter transactions on and before this date. YYYY-MM-DD",
            "x-ms-summary": "Filter transactions on and before this date. YYYY-MM-DD",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "exhibitorId",
            "in": "query",
            "description": "An exhibitor ID to filter by",
            "x-ms-summary": "An exhibitor ID to filter by",
            "required": false,
            "type": "string"
          },
          {
            "name": "boothNumber",
            "in": "query",
            "description": "A booth number to filter by",
            "x-ms-summary": "A booth number to filter by",
            "required": false,
            "type": "string"
          },
          {
            "name": "expocadUser",
            "in": "query",
            "description": "An expocad user to filter by",
            "x-ms-summary": "An expocad user to filter by",
            "required": false,
            "type": "string"
          },
          {
            "name": "glCode",
            "in": "query",
            "description": "A general ledger code to filter by",
            "x-ms-summary": "A general ledger code to filter by",
            "required": false,
            "type": "string"
          },
          {
            "name": "reversedFilter",
            "in": "query",
            "description": "Filter by reversed transactions. Default includes all transactions",
            "x-ms-summary": "Filter by reversed transactions. Default includes all transactions",
            "required": false,
            "type": "string",
            "enum": [
              "All",
              "Reversed",
              "NonReversed"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Transaction"
              }
            }
          }
        }
      }
    },
    "/{ClientName}/financials/booths": {
      "get": {
        "tags": [
          "Financials"
        ],
        "summary": "Get financial information for the specified booth",
        "operationId": "Financials_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "boothNumber",
            "in": "query",
            "description": "The booth number of the booth",
            "x-ms-summary": "The booth number of the booth",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BoothFinancial"
            }
          }
        },
        "description": "Returns financial information for the specified booth."
      }
    },
    "/{ClientName}/financials/invoices": {
      "get": {
        "tags": [
          "Financials"
        ],
        "summary": "Get details of a single invoice",
        "operationId": "Financials_GetInvoice",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "Name of the event database",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          },
          {
            "name": "invoiceNo",
            "in": "query",
            "description": "Invoice Number to get",
            "x-ms-summary": "Invoice Number to get",
            "required": false,
            "type": "string"
          },
          {
            "name": "exhibitorId",
            "in": "query",
            "description": "Customer Id of the exhibitor",
            "x-ms-summary": "Customer Id of the exhibitor",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          }
        },
        "description": "Gets details of a single invoice Either invoiceNo or exhibtitorId is required."
      }
    },
    "/{ClientName}/financials/invoices/all": {
      "get": {
        "tags": [
          "Financials"
        ],
        "summary": "Returns all invoices in supplied event",
        "operationId": "Financials_GetAllInvoices",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "Name of the event database",
            "x-ms-summary": "Name of the event database",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Invoice"
              }
            }
          }
        },
        "description": "Returns all invoices in the supplied event."
      }
    },
    "/{ClientName}/financials/requestitemlist": {
      "get": {
        "tags": [
          "Financials"
        ],
        "summary": "Returns the master list of requestable items",
        "description": "Will return items that match either the glCode or the transactionCode. For TotalNumberAvailable, 0 = Unlimited",
        "operationId": "Financials_GetRequestItemList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          },
          {
            "name": "glCode",
            "in": "query",
            "description": "The item code of a particular Request Item.  If omitted, returns all available Request Items",
            "x-ms-summary": "The item code of a Request Item. If omitted, returns all available Request Items",
            "required": false,
            "type": "string"
          },
          {
            "name": "transactionCode",
            "in": "query",
            "description": "The transaction code of a particular Request Item",
            "x-ms-summary": "The transaction code of a particular Request Item",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MasterRequestItem"
              }
            }
          }
        }
      }
    },
    "/{ClientName}/financials/requestitems": {
      "get": {
        "tags": [
          "Financials"
        ],
        "summary": "Get a list of all assigned request items",
        "operationId": "Financials_GetAssignedRequestItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          },
          {
            "name": "exhibitorId",
            "in": "query",
            "description": "The Id of an Exhibitor",
            "x-ms-summary": "The Id of an Exhibitor",
            "required": false,
            "type": "string"
          },
          {
            "name": "invoiceNumber",
            "in": "query",
            "description": "The number of an Invoice",
            "x-ms-summary": "The number of an Invoice",
            "required": false,
            "type": "string"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Only items on or after startDate are returned",
            "x-ms-summary": "Only items on or after startDate are returned",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Only items on or before endDate are returned",
            "x-ms-summary": "Only items on or before endDate are returned",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "booth",
            "in": "query",
            "description": "Only items assigned to this booth number are return",
            "x-ms-summary": "Only items assigned to this booth number are return",
            "required": false,
            "type": "string"
          },
          {
            "name": "glCode",
            "in": "query",
            "description": "The item code of a Master Request Item",
            "x-ms-summary": "The item code of a Master Request Item",
            "required": false,
            "type": "string"
          },
          {
            "name": "transactionCode",
            "in": "query",
            "description": "Only items with this transactionCode are returned",
            "x-ms-summary": "Only items with this transactionCode are returned",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/InvoiceRequestItem"
              }
            }
          }
        },
        "description": "Returns a list of all assigned request items. If any parameter is omitted, that filter will not be applied."
      }
    },
    "/{ClientName}/financials/paymenttypelist": {
      "get": {
        "tags": [
          "Financials"
        ],
        "summary": "Get the master list of payment types",
        "operationId": "Financials_GetPaymentTypeList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "Event database name",
            "x-ms-summary": "Event database name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PaymentTypeItem"
              }
            }
          }
        },
        "description": "Returns the master list of payment types."
      }
    },
    "/{ClientName}/financials/payments": {
      "get": {
        "tags": [
          "Financials"
        ],
        "summary": "Get a list of payments in the Expocad Event",
        "operationId": "Financials_GetPayments",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          },
          {
            "name": "ExhibitorId",
            "in": "query",
            "description": "The Id of an Exhibitor. If omitted, this filter is not applied",
            "x-ms-summary": "The Id of an Exhibitor. If omitted, this filter is not applied",
            "required": false,
            "type": "string"
          },
          {
            "name": "DepositId",
            "in": "query",
            "description": "The depositId of a payment.  If omitted, this filter is not applied",
            "x-ms-summary": "The depositId of a payment.  If omitted, this filter is not applied",
            "required": false,
            "type": "string"
          },
          {
            "name": "InvoiceNumber",
            "in": "query",
            "description": "The number of a particular Invoice.  If omitted, this filter is not applied",
            "x-ms-summary": "The number of a particular Invoice.  If omitted, this filter is not applied",
            "required": false,
            "type": "string"
          },
          {
            "name": "StartDate",
            "in": "query",
            "description": "The start date of a payment range.  If omitted, this filter is not applied",
            "x-ms-summary": "The start date of a payment range.  If omitted, this filter is not applied",
            "required": false,
            "type": "string"
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "The end date of a payment range.  If omitted, this filter is not applied",
            "x-ms-summary": "The end date of a payment range.  If omitted, this filter is not applied",
            "required": false,
            "type": "string"
          },
          {
            "name": "PaymentTypeCategory",
            "in": "query",
            "description": "The type a payment.  If omitted, this filter is not applied",
            "x-ms-summary": "The type a payment.  If omitted, this filter is not applied",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/InvoicePayment"
              }
            }
          }
        },
        "description": "Returns list of payments in the Expocad Event.For Non-Credit Card Payments, The Check Number is returned in the CCLast4 field."
      }
    },
    "/{ClientName}/pavilions/all": {
      "get": {
        "tags": [
          "Pavilions"
        ],
        "summary": "Get a collection of all pavilions",
        "operationId": "Pavilions_GetAllPavilions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Pavilion"
              }
            }
          }
        },
        "description": "Returns a collection of all pavilions in the supplied event."
      }
    },
    "/{ClientName}/rateplans/default": {
      "get": {
        "tags": [
          "RatePlans"
        ],
        "summary": "Get the currently set default rate plan",
        "operationId": "RatePlans_GetDefaultRatePlan",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RatePlan"
            }
          }
        },
        "description": "Returns the currently set default rate plan from the supplied event."
      },
      "put": {
        "tags": [
          "RatePlans"
        ],
        "summary": "Set the default rate plan",
        "operationId": "RatePlans_SetDefaultRatePlan",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "The rate plan name",
            "x-ms-summary": "The rate plan name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "description": "Sets the default rate plan for the supplied event."
      }
    },
    "/{ClientName}/rateplans/all": {
      "get": {
        "tags": [
          "RatePlans"
        ],
        "summary": "Get a collection of all rate plans",
        "operationId": "RatePlans_GetAllRatePlans",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RatePlan"
              }
            }
          }
        },
        "description": "Returns a collection of all rate plans in the supplied event."
      }
    },
    "/{ClientName}/rateplans/add": {
      "post": {
        "tags": [
          "RatePlans"
        ],
        "summary": "Add a new rate plan",
        "operationId": "RatePlans_AddRatePlan",
        "consumes": [
          "application/json",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          },
          {
            "name": "ratePlan",
            "in": "body",
            "description": "The rate plan object",
            "x-ms-summary": "The rate plan object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RatePlan"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RatePlan"
            }
          }
        },
        "description": "Adds a new rate plan to the supplied event."
      }
    },
    "/{ClientName}/showinshows/all": {
      "get": {
        "tags": [
          "ShowInShows"
        ],
        "summary": "Get a collection of all showinshows",
        "operationId": "ShowInShows_GetAllShowinShows",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "description": "Organization Account use for EXPOCAD",
            "in": "path",
            "name": "ClientName",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "EXPOCAD Account"
          },
          {
            "name": "databaseName",
            "in": "query",
            "description": "The database name of the EXPOCAD event",
            "x-ms-summary": "The database name of the EXPOCAD event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ShowInShow"
              }
            }
          }
        },
        "description": "Returns a collection of all showinshows in the supplied event."
      }
    }
  },
  "definitions": {
    "Booth": {
      "default": {
        "ExhibitorId": "T0000001",
        "BoothNumber": "100",
        "Dimensions": "10' x 10'",
        "DisplayNameOverride": "",
        "XSize": "10'",
        "YSize": "10'",
        "Area": "100 SqFt",
        "NumericArea": 100,
        "Status": "Initial",
        "BoothClasses": [
          "Standard Booth"
        ],
        "ChildExhibitors": [
          "T0000002",
          "T0000003"
        ],
        "Pavilion": "Fruit Pavilion",
        "ShowInShow": "Fruit Show",
        "BoothType": "Inline",
        "UnitType": "ftin",
        "HoldExhibitorId": "",
        "HoldExhibitorName": "",
        "HoldComment": "",
        "OpenCorners": 0,
        "IsDeleted": false,
        "IsOnHold": false,
        "IsRented": true
      },
      "required": [
        "BoothNumber"
      ],
      "type": "object",
      "properties": {
        "ExhibitorId": {
          "maxLength": 20,
          "minLength": 0,
          "type": "string"
        },
        "BoothNumber": {
          "maxLength": 15,
          "minLength": 0,
          "type": "string"
        },
        "Dimensions": {
          "type": "string"
        },
        "DisplayNameOverride": {
          "maxLength": 100,
          "minLength": 0,
          "type": "string"
        },
        "XSize": {
          "maxLength": 30,
          "minLength": 0,
          "type": "string"
        },
        "YSize": {
          "maxLength": 30,
          "minLength": 0,
          "type": "string"
        },
        "Area": {
          "maxLength": 30,
          "minLength": 0,
          "type": "string"
        },
        "NumericArea": {
          "format": "double",
          "type": "number"
        },
        "Status": {
          "maxLength": 20,
          "minLength": 0,
          "type": "string"
        },
        "BoothClasses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ChildExhibitors": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Pavilion": {
          "maxLength": 65,
          "minLength": 0,
          "type": "string"
        },
        "ShowInShow": {
          "maxLength": 50,
          "minLength": 0,
          "type": "string"
        },
        "BoothType": {
          "maxLength": 50,
          "minLength": 0,
          "type": "string"
        },
        "UnitType": {
          "maxLength": 4,
          "minLength": 0,
          "type": "string"
        },
        "HoldExhibitorId": {
          "maxLength": 20,
          "minLength": 0,
          "type": "string"
        },
        "HoldExhibitorName": {
          "maxLength": 50,
          "minLength": 0,
          "type": "string"
        },
        "HoldComment": {
          "maxLength": 250,
          "minLength": 0,
          "type": "string"
        },
        "OpenCorners": {
          "format": "int32",
          "type": "integer"
        },
        "IsDeleted": {
          "type": "boolean"
        },
        "IsOnHold": {
          "type": "boolean"
        },
        "IsRented": {
          "type": "boolean"
        }
      },
      "example": {
        "ExhibitorId": "T0000001",
        "BoothNumber": "100",
        "Dimensions": "10' x 10'",
        "DisplayNameOverride": "",
        "XSize": "10'",
        "YSize": "10'",
        "Area": "100 SqFt",
        "NumericArea": 100,
        "Status": "Initial",
        "BoothClasses": [
          "Standard Booth"
        ],
        "ChildExhibitors": [
          "T0000002",
          "T0000003"
        ],
        "Pavilion": "Fruit Pavilion",
        "ShowInShow": "Fruit Show",
        "BoothType": "Inline",
        "UnitType": "ftin",
        "HoldExhibitorId": "",
        "HoldExhibitorName": "",
        "HoldComment": "",
        "OpenCorners": 0,
        "IsDeleted": false,
        "IsOnHold": false,
        "IsRented": true
      }
    },
    "BoothClass": {
      "default": {
        "Id": "ShowManagement",
        "Name": "Show Management",
        "Description": "Booth space designated to show management",
        "KeepWhenCombined": 1,
        "CountAsInventory": 1,
        "Prioritity": "10",
        "Color": 6
      },
      "required": [
        "Id",
        "KeepWhenCombined",
        "CountAsInventory"
      ],
      "type": "object",
      "properties": {
        "Id": {
          "maxLength": 31,
          "minLength": 0,
          "type": "string"
        },
        "Name": {
          "maxLength": 251,
          "minLength": 0,
          "type": "string"
        },
        "Description": {
          "maxLength": 502,
          "minLength": 0,
          "type": "string"
        },
        "KeepWhenCombined": {
          "format": "int32",
          "maximum": 1,
          "minimum": 0,
          "type": "integer"
        },
        "CountAsInventory": {
          "format": "int32",
          "maximum": 1,
          "minimum": 0,
          "type": "integer"
        },
        "Prioritity": {
          "maxLength": 6,
          "minLength": 0,
          "type": "string"
        },
        "Color": {
          "format": "int32",
          "maximum": 254,
          "minimum": 1,
          "type": "integer"
        }
      },
      "example": {
        "Id": "ShowManagement",
        "Name": "Show Management",
        "Description": "Booth space designated to show management",
        "KeepWhenCombined": 1,
        "CountAsInventory": 1,
        "Prioritity": "10",
        "Color": 6
      }
    },
    "ExpocadEvent": {
      "default": {
        "EventName": "Demo",
        "DatabaseName": "demo"
      },
      "type": "object",
      "properties": {
        "EventName": {
          "description": "Gets or sets the event name",
          "maxLength": 50,
          "minLength": 0,
          "type": "string"
        },
        "DatabaseName": {
          "description": "Gets or sets the database name",
          "type": "string"
        }
      },
      "example": {
        "EventName": "Demo",
        "DatabaseName": "demo"
      }
    },
    "EventStats": {
      "default": {
        "TotalBooths": "662",
        "RentedBooths": "59",
        "AvailableBooths": "603",
        "NonInventoryBooths": "0",
        "TotalExhibitors": "42",
        "TotalBoothArea": "109870.00",
        "RentedBoothArea": "36400.00",
        "AvailableBoothArea": "73470.00",
        "NonInventoryBoothArea": "0.00",
        "RentedBoothPercentage": "33.13",
        "AvailableBoothPercentage": "66.87",
        "NetValueSold": "255,000.00"
      },
      "type": "object",
      "properties": {
        "TotalBooths": {
          "type": "string"
        },
        "RentedBooths": {
          "type": "string"
        },
        "AvailableBooths": {
          "type": "string"
        },
        "HoldBooths": {
          "type": "string"
        },
        "NonInventoryBooths": {
          "type": "string"
        },
        "TotalExhibitors": {
          "type": "string"
        },
        "TotalBoothArea": {
          "type": "string"
        },
        "RentedBoothArea": {
          "type": "string"
        },
        "AvailableBoothArea": {
          "type": "string"
        },
        "HoldBoothArea": {
          "type": "string"
        },
        "NonInventoryBoothArea": {
          "type": "string"
        },
        "RentedBoothPercentage": {
          "type": "string"
        },
        "AvailableBoothPercentage": {
          "type": "string"
        },
        "HoldBoothPercentage": {
          "type": "string"
        },
        "NetValueSold": {
          "type": "string"
        }
      },
      "example": {
        "TotalBooths": "674",
        "RentedBooths": "59",
        "AvailableBooths": "603",
        "HoldBooths": "12",
        "NonInventoryBooths": "0",
        "TotalExhibitors": "42",
        "TotalBoothArea": "111070.00",
        "RentedBoothArea": "36400.00",
        "AvailableBoothArea": "73470.00",
        "HoldBoothArea": "1200.00",
        "NonInventoryBoothArea": "0.00",
        "RentedBoothPercentage": "32.77",
        "AvailableBoothPercentage": "66.15",
        "HoldBoothPercentage": "1.08",
        "NetValueSold": "255,000.00"
      }
    },
    "ExpoEventInformation": {
      "default": {
        "EventName": "demo",
        "DatabaseName": "demo",
        "EventExhibitorFile": "demoa",
        "EventDescription": "The World's Only Gathering of Fruit and Nuts",
        "ShowTitle": "Dec. 15 - 19, 2016",
        "ShowDates": "Annual Fruit & Nut EXPO",
        "ContractorName": "Deco Decorators",
        "ContractorPhone": "555-555-5555",
        "EventLocation": "San Diego Convention Center",
        "EventLocation2": "San Diego, CA"
      },
      "type": "object",
      "properties": {
        "EventName": {
          "description": "Gets or sets the event name",
          "maxLength": 50,
          "minLength": 0,
          "type": "string"
        },
        "DatabaseName": {
          "description": "Gets or sets the database name",
          "type": "string"
        },
        "EventExhibitorFile": {
          "description": "Gets or sets the event exhibitor file",
          "type": "string"
        },
        "EventDescription": {
          "description": "Gets or sets the event description",
          "maxLength": 100,
          "minLength": 0,
          "type": "string"
        },
        "ShowTitle": {
          "description": "Gets or sets the show title",
          "maxLength": 100,
          "minLength": 0,
          "type": "string"
        },
        "ShowDates": {
          "description": "Gets or sets the show dates",
          "maxLength": 100,
          "minLength": 0,
          "type": "string"
        },
        "ContractorName": {
          "description": "Gets or sets the contractor name",
          "maxLength": 100,
          "minLength": 0,
          "type": "string"
        },
        "ContractorPhone": {
          "description": "Gets or sets the contractor phone",
          "maxLength": 20,
          "minLength": 0,
          "type": "string"
        },
        "EventLocation": {
          "description": "Gets or sets the event location",
          "maxLength": 100,
          "minLength": 0,
          "type": "string"
        },
        "EventLocation2": {
          "description": "Gets or sets the event location 2",
          "maxLength": 100,
          "minLength": 0,
          "type": "string"
        }
      },
      "example": {
        "EventName": "demo",
        "DatabaseName": "demo",
        "EventExhibitorFile": "demoa",
        "EventDescription": "The World's Only Gathering of Fruit and Nuts",
        "ShowTitle": "Dec. 15 - 19, 2016",
        "ShowDates": "Annual Fruit & Nut EXPO",
        "ContractorName": "Deco Decorators",
        "ContractorPhone": "555-555-5555",
        "EventLocation": "San Diego Convention Center",
        "EventLocation2": "San Diego, CA"
      }
    },
    "Exhibitor": {
      "default": {
        "Address1": "678 Benton Street",
        "Address2": "Suite 10",
        "City": "Aurora",
        "Contact": "John Smith",
        "Country": "United States",
        "DisplayOnDrawing": "ABC Company",
        "Email": "john.smith@abccompany.com",
        "ExhibitorId": "T0000001",
        "ExhibitorName": "ABC Company",
        "Fax": "555-555-5555",
        "Phone": "555-555-5555",
        "PostalCode": "60505",
        "PrimaryGroup": "Kitchen Supplies",
        "State": "IL",
        "WebSite": "http://www.abccompany.com"
      },
      "required": [
        "ExhibitorId"
      ],
      "type": "object",
      "properties": {
        "Address1": {
          "maxLength": 50,
          "minLength": 0,
          "type": "string"
        },
        "Address2": {
          "maxLength": 50,
          "minLength": 0,
          "type": "string"
        },
        "City": {
          "maxLength": 40,
          "minLength": 0,
          "type": "string"
        },
        "Comments": {
          "maxLength": 254,
          "minLength": 0,
          "type": "string"
        },
        "Comments2": {
          "maxLength": 254,
          "minLength": 0,
          "type": "string"
        },
        "Contact": {
          "maxLength": 50,
          "minLength": 0,
          "type": "string"
        },
        "Country": {
          "maxLength": 40,
          "minLength": 0,
          "type": "string"
        },
        "CellPhone": {
          "maxLength": 20,
          "minLength": 0,
          "type": "string"
        },
        "DisplayOnDrawing": {
          "maxLength": 50,
          "minLength": 0,
          "type": "string"
        },
        "DoingBusinessAs": {
          "maxLength": 250,
          "minLength": 0,
          "type": "string"
        },
        "DoingBusinessAsDisplayOnDrawing": {
          "maxLength": 250,
          "minLength": 0,
          "type": "string"
        },
        "Email": {
          "maxLength": 50,
          "minLength": 0,
          "type": "string"
        },
        "ExhibitorId": {
          "maxLength": 20,
          "minLength": 0,
          "type": "string"
        },
        "ExhibitorName": {
          "maxLength": 50,
          "minLength": 0,
          "type": "string"
        },
        "ExhibitorNameLine2": {
          "maxLength": 50,
          "minLength": 0,
          "type": "string"
        },
        "Fax": {
          "maxLength": 20,
          "minLength": 0,
          "type": "string"
        },
        "Field1": {
          "maxLength": 30,
          "minLength": 0,
          "type": "string"
        },
        "Field2": {
          "maxLength": 30,
          "minLength": 0,
          "type": "string"
        },
        "Field3": {
          "maxLength": 30,
          "minLength": 0,
          "type": "string"
        },
        "Field4": {
          "maxLength": 30,
          "minLength": 0,
          "type": "string"
        },
        "Field5": {
          "maxLength": 50,
          "minLength": 0,
          "type": "string"
        },
        "Field6": {
          "maxLength": 50,
          "minLength": 0,
          "type": "string"
        },
        "Field7": {
          "maxLength": 100,
          "minLength": 0,
          "type": "string"
        },
        "Field8": {
          "maxLength": 100,
          "minLength": 0,
          "type": "string"
        },
        "Field9": {
          "maxLength": 254,
          "minLength": 0,
          "type": "string"
        },
        "NickName": {
          "maxLength": 20,
          "minLength": 0,
          "type": "string"
        },
        "Salutation": {
          "maxLength": 30,
          "minLength": 0,
          "type": "string"
        },
        "Title": {
          "maxLength": 100,
          "minLength": 0,
          "type": "string"
        },
        "Phone": {
          "maxLength": 20,
          "minLength": 0,
          "type": "string"
        },
        "PostalCode": {
          "maxLength": 10,
          "minLength": 0,
          "type": "string"
        },
        "PrimaryGroup": {
          "maxLength": 80,
          "minLength": 0,
          "type": "string"
        },
        "PriorityPoints": {
          "maxLength": 5,
          "minLength": 0,
          "type": "string"
        },
        "ProductDescription": {
          "maxLength": 508,
          "minLength": 0,
          "type": "string"
        },
        "State": {
          "maxLength": 10,
          "minLength": 0,
          "type": "string"
        },
        "WebSite": {
          "maxLength": 100,
          "minLength": 0,
          "type": "string"
        }
      },
      "example": {
        "Address1": "678 Benton Street",
        "Address2": "Suite 10",
        "City": "Aurora",
        "Comments": "This is an example of an exhibitor comment",
        "Comments2": "This is another 254 character field for exhibitor comments",
        "Contact": "John Smith",
        "Country": "United States",
        "CellPhone": "555-555-5555",
        "DisplayOnDrawing": "ABC Company",
        "DoingBusinessAs": "ABC, Ltd",
        "DoingBusinessAsDisplayOnDrawing": "ABC",
        "Email": "john.smith@abccompany.com",
        "ExhibitorId": "T0000001",
        "ExhibitorName": "ABC Company",
        "ExhibitorNameLine2": "",
        "Fax": "555-555-5555",
        "Field1": "User Field 1",
        "Field2": "User Field 2",
        "Field3": "User Field 3",
        "Field4": "User Field 4",
        "Field5": "User Field 5",
        "Field6": "User Field 6",
        "Field7": "User Field 7",
        "Field8": "User Field 8",
        "Field9": "User Field 9",
        "NickName": "John",
        "Salutation": "Mr.",
        "Title": "Marketing Director",
        "Phone": "555-555-5555",
        "PostalCode": "60505",
        "PrimaryGroup": "Kitchen Supplies",
        "PriorityPoints": "36",
        "ProductDescription": "This is an example of the company or product description.",
        "State": "IL",
        "WebSite": "http://www.abccompany.com"
      }
    },
    "Contact": {
      "required": [
        "ExhibitorId"
      ],
      "type": "object",
      "properties": {
        "ExhibitorId": {
          "maxLength": 20,
          "minLength": 0,
          "type": "string"
        },
        "RecordNumber": {
          "format": "int32",
          "type": "integer"
        },
        "ContactName": {
          "maxLength": 50,
          "minLength": 0,
          "type": "string"
        },
        "Type": {
          "maxLength": 20,
          "minLength": 0,
          "type": "string"
        },
        "Title": {
          "maxLength": 100,
          "minLength": 0,
          "type": "string"
        },
        "NickName": {
          "maxLength": 20,
          "minLength": 0,
          "type": "string"
[...]
