{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "BitlyIP",
    "description": "Bitly is the most widely trusted link management platform in the world. By using the Bitly API, you will exercise the full power of your links through automated link customization, mobile deep linking, and click analytics.",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api-ssl.bitly.com",
  "basePath": "/v4",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/groups/{group_guid}/referring_networks": {
      "get": {
        "description": "Returns metrics by referring networks for the specified group's links.",
        "summary": "Get group metrics by referring networks",
        "tags": [
          "Groups"
        ],
        "operationId": "GetGroupMetricsByReferringNetworks",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "group_guid",
            "x-ms-summary": "Group GUID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A GUID for a Bitly group"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ClickMetrics"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/groups/{group_guid}/tags": {
      "get": {
        "description": "Returns the tags currently used in the specified group. Maximum 1000.",
        "summary": "Get group tags",
        "tags": [
          "Groups"
        ],
        "operationId": "GetGroupTags",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "group_guid",
            "x-ms-summary": "Group GUID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A GUID for a Bitly group"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Tags"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/groups/{group_guid}/clicks": {
      "get": {
        "description": "Get number of clicks on Bitlinks in a group.",
        "summary": "Get group clicks",
        "tags": [
          "Groups"
        ],
        "operationId": "GetGroupClicks",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "group_guid",
            "x-ms-summary": "Group GUID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A GUID for a Bitly group"
          },
          {
            "name": "unit",
            "x-ms-summary": "Unit",
            "in": "query",
            "required": true,
            "enum": [
              "minute",
              "hour",
              "day",
              "week",
              "month"
            ],
            "type": "string",
            "description": "A unit of time"
          },
          {
            "name": "units",
            "x-ms-summary": "Units",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "An integer representing the time units to query data for. pass -1 to return all units of time."
          },
          {
            "name": "unit_reference",
            "x-ms-summary": "Unit Reference",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An ISO-8601 timestamp, indicating the most recent time for which to pull metrics. Will default to current time."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GroupClicks"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "402": {
            "description": "Upgrade required",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/groups/{group_guid}/devices": {
      "get": {
        "description": "Returns the device types generating click traffic to the specified group's links.",
        "summary": "Get group metrics by devices",
        "tags": [
          "Groups"
        ],
        "operationId": "GetGroupMetricsByDevices",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "group_guid",
            "x-ms-summary": "Group GUID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A GUID for a Bitly group"
          },
          {
            "name": "unit",
            "x-ms-summary": "Unit",
            "in": "query",
            "required": true,
            "enum": [
              "minute",
              "hour",
              "day",
              "week",
              "month"
            ],
            "type": "string",
            "description": "A unit of time"
          },
          {
            "name": "units",
            "x-ms-summary": "Units",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "An integer representing the time units to query data for. pass -1 to return all units of time."
          },
          {
            "name": "size",
            "x-ms-summary": "Size",
            "in": "query",
            "required": false,
            "default": 50,
            "type": "integer",
            "format": "int32",
            "description": "The quantity of items to be be returned"
          },
          {
            "name": "unit_reference",
            "x-ms-summary": "Unit Reference",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An ISO-8601 timestamp, indicating the most recent time for which to pull metrics. Will default to current time."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceMetrics"
            }
          },
          "402": {
            "description": "Upgrade required",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/groups/{group_guid}/countries": {
      "get": {
        "description": "Returns the geographic origins of click traffic by country for the specified group.",
        "summary": "Get group metrics by countries",
        "tags": [
          "Groups"
        ],
        "operationId": "GetGroupMetricsByCountries",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "group_guid",
            "x-ms-summary": "Group GUID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A GUID for a Bitly group"
          },
          {
            "name": "unit",
            "x-ms-summary": "Unit",
            "in": "query",
            "required": true,
            "enum": [
              "minute",
              "hour",
              "day",
              "week",
              "month"
            ],
            "type": "string",
            "description": "A unit of time"
          },
          {
            "name": "units",
            "x-ms-summary": "Units",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "An integer representing the time units to query data for. pass -1 to return all units of time."
          },
          {
            "name": "size",
            "x-ms-summary": "Size",
            "in": "query",
            "required": false,
            "default": 50,
            "type": "integer",
            "format": "int32",
            "description": "The quantity of items to be be returned"
          },
          {
            "name": "unit_reference",
            "x-ms-summary": "Unit Reference",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An ISO-8601 timestamp, indicating the most recent time for which to pull metrics. Will default to current time."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ClickMetrics"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/groups/{group_guid}": {
      "get": {
        "description": "Returns details for a group.",
        "summary": "Get group",
        "tags": [
          "Groups"
        ],
        "operationId": "GetGroup",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "group_guid",
            "x-ms-summary": "Group GUID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A GUID for a Bitly group"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Group"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "description": "Updates the details of a group.",
        "summary": "Update group",
        "tags": [
          "Groups"
        ],
        "operationId": "UpdateGroup",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "group_guid",
            "x-ms-summary": "Group GUID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A GUID for a Bitly group"
          },
          {
            "name": "body",
            "x-ms-summary": "Body",
            "in": "body",
            "required": true,
            "description": "The body.",
            "schema": {
              "$ref": "#/definitions/GroupUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Group"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "422": {
            "description": "UNPROCESSABLE_ENTITY",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/groups/{group_guid}/cities": {
      "get": {
        "description": "Returns the geographic origins of click traffic by city for the specified group.",
        "summary": "Get group metrics by cities",
        "tags": [
          "Groups"
        ],
        "operationId": "GetGroupMetricsByCities",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "group_guid",
            "x-ms-summary": "Group GUID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A GUID for a Bitly group"
          },
          {
            "name": "unit",
            "x-ms-summary": "Unit",
            "in": "query",
            "required": true,
            "enum": [
              "minute",
              "hour",
              "day",
              "week",
              "month"
            ],
            "type": "string",
            "description": "A unit of time"
          },
          {
            "name": "units",
            "x-ms-summary": "Units",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "An integer representing the time units to query data for. pass -1 to return all units of time."
          },
          {
            "name": "size",
            "x-ms-summary": "Size",
            "in": "query",
            "required": false,
            "default": 50,
            "type": "integer",
            "format": "int32",
            "description": "The quantity of items to be be returned"
          },
          {
            "name": "unit_reference",
            "x-ms-summary": "Unit Reference",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An ISO-8601 timestamp, indicating the most recent time for which to pull metrics. Will default to current time."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CityMetrics"
            }
          },
          "402": {
            "description": "Upgrade required",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/groups/{group_guid}/shorten_counts": {
      "get": {
        "description": "Returns all the shorten counts for a group.",
        "summary": "Get group shorten counts",
        "tags": [
          "Groups"
        ],
        "operationId": "GetGroupShortenCounts",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "group_guid",
            "x-ms-summary": "Group GUID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A GUID for a Bitly group"
          },
          {
            "name": "unit",
            "x-ms-summary": "Unit",
            "in": "query",
            "required": true,
            "enum": [
              "minute",
              "hour",
              "day",
              "week",
              "month"
            ],
            "type": "string",
            "description": "A unit of time"
          },
          {
            "name": "units",
            "x-ms-summary": "Units",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "An integer representing the time units to query data for. pass -1 to return all units of time."
          },
          {
            "name": "unit_reference",
            "x-ms-summary": "Unit Reference",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An ISO-8601 timestamp, indicating the most recent time for which to pull metrics. Will default to current time."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Metrics"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/groups": {
      "get": {
        "description": "Returns a list of groups in the organization.",
        "summary": "Get groups",
        "tags": [
          "Groups"
        ],
        "operationId": "GetGroups",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organization_guid",
            "x-ms-summary": "Organization GUID",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A GUID for a Bitly organization"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Groups"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "422": {
            "description": "UNPROCESSABLE_ENTITY",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/groups/{group_guid}/preferences": {
      "get": {
        "description": "Returns preferences for the specified group.",
        "summary": "Get group preferences",
        "tags": [
          "Groups"
        ],
        "operationId": "GetGroupPreferences",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "group_guid",
            "x-ms-summary": "Group GUID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A GUID for a Bitly group"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GroupPreferences"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "description": "Updates preferences for a group.",
        "summary": "Update group preferences",
        "tags": [
          "Groups"
        ],
        "operationId": "UpdateGroupPreferences",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "group_guid",
            "x-ms-summary": "Group GUID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A GUID for a Bitly group"
          },
          {
            "name": "body",
            "x-ms-summary": "Body",
            "in": "body",
            "required": true,
            "description": "The body.",
            "schema": {
              "$ref": "#/definitions/GroupPreferences"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GroupPreferences"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "422": {
            "description": "UNPROCESSABLE_ENTITY",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/organizations/{organization_guid}/shorten_counts": {
      "get": {
        "description": "Returns the shorten counts for a specific organization over a specified time period.",
        "summary": "Get organization shorten counts",
        "tags": [
          "Organizations"
        ],
        "operationId": "GetOrganizationShortenCounts",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organization_guid",
            "x-ms-summary": "Organization GUID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A GUID for a Bitly organization"
          },
          {
            "name": "unit",
            "x-ms-summary": "Unit",
            "in": "query",
            "required": true,
            "enum": [
              "minute",
              "hour",
              "day",
              "week",
              "month"
            ],
            "type": "string",
            "description": "A unit of time"
          },
          {
            "name": "units",
            "x-ms-summary": "Units",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "An integer representing the time units to query data for. pass -1 to return all units of time."
          },
          {
            "name": "unit_reference",
            "x-ms-summary": "Unit Reference",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An ISO-8601 timestamp, indicating the most recent time for which to pull metrics. Will default to current time."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Metrics"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/organizations/{organization_guid}": {
      "get": {
        "description": "Retrieve details for the specified organization.",
        "summary": "Get organization",
        "tags": [
          "Organizations"
        ],
        "operationId": "GetOrganization",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organization_guid",
            "x-ms-summary": "Organization GUID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A GUID for a Bitly organization"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Organization"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/organizations/{organization_guid}/plan_limits": {
      "get": {
        "description": "Returns all plan limits and counts available for an organization.",
        "summary": "Get plan limits",
        "tags": [
          "Organizations"
        ],
        "operationId": "GetPlanLimits",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organization_guid",
            "x-ms-summary": "Organization GUID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A GUID for a Bitly organization"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PlanLimits"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/organizations": {
      "get": {
        "description": "Retrieve a list of organizations.",
        "summary": "Get organizations",
        "tags": [
          "Organizations"
        ],
        "operationId": "GetOrganizations",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Organizations"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/user": {
      "get": {
        "description": "Returns information for the current authenticated user.",
        "summary": "Get user",
        "tags": [
          "User"
        ],
        "operationId": "GetUser",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "description": "Update fields in the user",
        "summary": "Update user",
        "tags": [
          "User"
        ],
        "operationId": "UpdateUser",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "x-ms-summary": "Body",
            "in": "body",
            "required": true,
            "description": "The body.",
            "schema": {
              "$ref": "#/definitions/UserUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "422": {
            "description": "UNPROCESSABLE_ENTITY",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/user/platform_limits": {
      "get": {
        "description": "Fetch all platform limits and counts available for an organization",
        "summary": "Get platform limits",
        "tags": [
          "User"
        ],
        "operationId": "GetPlatformLimits",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "path",
            "x-ms-summary": "Path",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The specific path for which information is requested"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PlatformLimits"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/groups/{group_guid}/overrides": {
      "get": {
        "description": "Gets custom Bitlinks for an organization filtered by BSD(s).",
        "summary": "Get custom Bitlinks for BSDs",
        "tags": [
          "BSDs"
        ],
        "operationId": "GetCustomBitlinksForBSDs",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "group_guid",
            "x-ms-summary": "Group GUID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A GUID for a Bitly group"
          },
          {
            "name": "created_after",
            "x-ms-summary": "Created After",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Timestamp as an integer unix epoch"
          },
          {
            "name": "limit",
            "x-ms-summary": "Limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "limit the amount of results returned"
          },
          {
            "name": "offset",
            "x-ms-summary": "Offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "set the starting index of the result set"
          },
          {
            "name": "bsd",
            "x-ms-summary": "BSD",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "a branded short domains to filter results"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BitlinkOverridesData"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "402": {
            "description": "Upgrade required",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/bsds": {
      "get": {
        "description": "Fetch all Branded Short Domains.",
        "summary": "Get BSDs",
        "tags": [
          "BSDs"
        ],
        "operationId": "GetBSDs",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BSDsResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "X-Ratelimit-Reason": {
                "description": "An explanation of the ratelimit received.",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/bitlinks/{bitlink}/countries": {
      "get": {
        "description": "Returns the country origins of click traffic for the specified link.",
        "summary": "Get metrics for Bitlink by countries",
        "tags": [
          "Bitlinks"
        ],
        "operationId": "GetMetricsForBitlinkByCountries",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bitlink",
            "x-ms-summary": "Bitlink",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A Bitlink made of the domain and hash"
          },
          {
            "name": "unit",
            "x-ms-summary": "Unit",
            "in": "query",
            "required": true,
            "enum": [
              "minute",
              "hour",
              "day",
              "week",
              "month"
            ],
            "type": "string",
            "description": "A unit of time"
          },
          {
            "name": "units",
            "x-ms-summary": "Units",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "An integer representing the time units to query data for. pass -1 to return all units of time."
          },
          {
            "name": "size",
            "x-ms-summary": "Size",
            "in": "query",
            "required": false,
            "default": 50,
            "type": "integer",
            "format": "int32",
            "description": "The quantity of items to be be returned"
          },
          {
            "name": "unit_reference",
            "x-ms-summary": "Unit Reference",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An ISO-8601 timestamp, indicating the most recent time for which to pull metrics. Will default to current time."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ClickMetrics"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/expand": {
      "post": {
        "description": "Returns the short link and long URL for the specified link.",
        "summary": "Expand Bitlink",
        "tags": [
          "Bitlinks"
        ],
        "operationId": "ExpandBitlink",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "x-ms-summary": "Body",
            "in": "body",
            "required": true,
            "description": "The body.",
            "schema": {
              "$ref": "#/definitions/ExpandBitlink"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExpandedBitlink"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "422": {
            "description": "UNPROCESSABLE_ENTITY",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/bitlinks/{bitlink}/clicks/summary": {
      "get": {
        "description": "Returns the click counts for the specified link rolled up into a single field.",
        "summary": "Get clicks summary for Bitlink",
        "tags": [
          "Bitlinks"
        ],
        "operationId": "GetClicksSummaryForBitlink",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bitlink",
            "x-ms-summary": "Bitlink",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A Bitlink made of the domain and hash"
          },
          {
            "name": "unit",
            "x-ms-summary": "Unit",
            "in": "query",
            "required": true,
            "enum": [
              "minute",
              "hour",
              "day",
              "week",
              "month"
            ],
            "type": "string",
            "description": "A unit of time"
          },
          {
            "name": "units",
            "x-ms-summary": "Units",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "An integer representing the time units to query data for. pass -1 to return all units of time."
          },
          {
            "name": "unit_reference",
            "x-ms-summary": "Unit Reference",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An ISO-8601 timestamp, indicating the most recent time for which to pull metrics. Will default to current time."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ClicksSummary"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/bitlinks/{bitlink}": {
      "get": {
        "description": "Returns information for the specified link.",
        "summary": "Get Bitlink",
        "tags": [
          "Bitlinks"
        ],
        "operationId": "GetBitlink",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bitlink",
            "x-ms-summary": "Bitlink",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A Bitlink made of the domain and hash"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BitlinkBody"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "description": "Updates fields in the specified link.",
        "summary": "Update Bitlink",
        "tags": [
          "Bitlinks"
        ],
        "operationId": "UpdateBitlink",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bitlink",
            "x-ms-summary": "Bitlink",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A Bitlink made of the domain and hash"
          },
          {
            "name": "body",
            "x-ms-summary": "Body",
            "in": "body",
            "required": true,
            "description": "The body.",
            "schema": {
              "$ref": "#/definitions/BitlinkBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BitlinkBody"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "402": {
            "description": "Upgrade required",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "422": {
            "description": "UNPROCESSABLE_ENTITY",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/bitlinks/{bitlink}/referring_domains": {
      "get": {
        "description": "Returns the referring domain click counts for the specified link.",
        "summary": "Get metrics for Bitlink by referring domains",
        "tags": [
          "Bitlinks"
        ],
        "operationId": "GetMetricsForBitlinkByReferringDomains",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bitlink",
            "x-ms-summary": "Bitlink",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A Bitlink made of the domain and hash"
          },
          {
            "name": "unit",
            "x-ms-summary": "Unit",
            "in": "query",
            "required": true,
            "enum": [
              "minute",
              "hour",
              "day",
              "week",
              "month"
            ],
            "type": "string",
            "description": "A unit of time"
          },
          {
            "name": "units",
            "x-ms-summary": "Units",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "An integer representing the time units to query data for. pass -1 to return all units of time."
          },
          {
            "name": "size",
            "x-ms-summary": "Size",
            "in": "query",
            "required": false,
            "default": 50,
            "type": "integer",
            "format": "int32",
            "description": "The quantity of items to be be returned"
          },
          {
            "name": "unit_reference",
            "x-ms-summary": "Unit Reference",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An ISO-8601 timestamp, indicating the most recent time for which to pull metrics. Will default to current time."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ClickMetrics"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/bitlinks/{bitlink}/qr": {
      "get": {
        "description": "Generates a QR code for a Bitlink.",
        "summary": "Get Bitlink QR code",
        "tags": [
          "Bitlinks"
        ],
        "operationId": "GetBitlinkQRCode",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bitlink",
            "x-ms-summary": "Bitlink",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A Bitlink made of the domain and hash"
          },
          {
            "name": "color",
            "x-ms-summary": "Color",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A color denoted in hexidecimal RGB format"
          },
          {
            "name": "exclude_bitly_logo",
            "x-ms-summary": "Exclude Bitly Logo",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Removes the Bitly logo from the center of the generated QR image"
          },
          {
            "name": "image_format",
            "x-ms-summary": "Image Format",
            "in": "query",
            "required": false,
            "enum": [
              "png",
              "svg"
            ],
            "default": "png",
            "type": "string",
            "description": "Determines the image format of the returned QR code"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BitlinkQR"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "402": {
            "description": "Upgrade required",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/bitlinks/{bitlink}/cities": {
      "get": {
        "description": "Returns the city origins of click traffic for the specified link.",
        "summary": "Get metrics for Bitlink by cities",
        "tags": [
          "Bitlinks"
        ],
        "operationId": "GetMetricsForBitlinkByCities",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bitlink",
            "x-ms-summary": "Bitlink",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A Bitlink made of the domain and hash"
          },
          {
            "name": "unit",
            "x-ms-summary": "Unit",
            "in": "query",
            "required": true,
            "enum": [
              "minute",
              "hour",
              "day",
              "week",
              "month"
            ],
            "type": "string",
            "description": "A unit of time"
          },
          {
            "name": "units",
            "x-ms-summary": "Units",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "An integer representing the time units to query data for. pass -1 to return all units of time."
          },
          {
            "name": "size",
            "x-ms-summary": "Size",
            "in": "query",
            "required": false,
            "default": 50,
            "type": "integer",
            "format": "int32",
            "description": "The quantity of items to be be returned"
          },
          {
            "name": "unit_reference",
            "x-ms-summary": "Unit Reference",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An ISO-8601 timestamp, indicating the most recent time for which to pull metrics. Will default to current time."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CityMetrics"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "402": {
            "description": "Upgrade required",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/bitlinks/{bitlink}/devices": {
      "get": {
        "description": "Returns the device types generating click traffic to the specified link.",
        "summary": "Get metrics for Bitlink by devices",
        "tags": [
          "Bitlinks"
        ],
        "operationId": "GetMetricsForBitlinkByDevices",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bitlink",
            "x-ms-summary": "Bitlink",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A Bitlink made of the domain and hash"
          },
          {
            "name": "unit",
            "x-ms-summary": "Unit",
            "in": "query",
            "required": true,
            "enum": [
              "minute",
              "hour",
              "day",
              "week",
              "month"
            ],
            "type": "string",
            "description": "A unit of time"
          },
          {
            "name": "units",
            "x-ms-summary": "Units",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "An integer representing the time units to query data for. pass -1 to return all units of time."
          },
          {
            "name": "size",
            "x-ms-summary": "Size",
            "in": "query",
            "required": false,
            "default": 50,
            "type": "integer",
            "format": "int32",
            "description": "The quantity of items to be be returned"
          },
          {
            "name": "unit_reference",
            "x-ms-summary": "Unit Reference",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An ISO-8601 timestamp, indicating the most recent time for which to pull metrics. Will default to current time."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceMetrics"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "402": {
            "description": "Upgrade required",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/bitlinks/{bitlink}/referrers_by_domains": {
      "get": {
        "description": "Returns click metrics grouped by referrers for the specified link.",
        "summary": "Get metrics for Bitlink by referrers by domains",
        "tags": [
          "Bitlinks"
        ],
        "operationId": "GetMetricsForBitlinkByReferrersByDomains",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bitlink",
            "x-ms-summary": "Bitlink",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A Bitlink made of the domain and hash"
          },
          {
            "name": "unit",
            "x-ms-summary": "Unit",
            "in": "query",
            "required": true,
            "enum": [
              "minute",
              "hour",
              "day",
              "week",
              "month"
            ],
            "type": "string",
            "description": "A unit of time"
          },
          {
            "name": "units",
            "x-ms-summary": "Units",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "An integer representing the time units to query data for. pass -1 to return all units of time."
          },
          {
            "name": "size",
            "x-ms-summary": "Size",
            "in": "query",
            "required": false,
            "default": 50,
            "type": "integer",
            "format": "int32",
            "description": "The quantity of items to be be returned"
          },
          {
            "name": "unit_reference",
            "x-ms-summary": "Unit Reference",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An ISO-8601 timestamp, indicating the most recent time for which to pull metrics. Will default to current time."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReferrersByDomains"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/groups/{group_guid}/bitlinks/{sort}": {
      "get": {
        "description": "Returns a list of Bitlinks sorted by group.",
        "summary": "Get sorted Bitlinks",
        "tags": [
          "Bitlinks"
        ],
        "operationId": "GetSortedBitlinks",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "group_guid",
            "x-ms-summary": "Group GUID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A GUID for a Bitly group"
          },
          {
            "name": "sort",
            "x-ms-summary": "Sort",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "enum": [
              "clicks"
            ],
            "type": "string",
            "description": "The type of sorting that you would like to do"
          },
          {
            "name": "unit",
            "x-ms-summary": "Unit",
            "in": "query",
            "required": false,
            "enum": [
              "minute",
              "hour",
              "day",
              "week",
              "month"
            ],
            "default": "day",
            "type": "string",
            "description": "A unit of time"
          },
          {
            "name": "units",
            "x-ms-summary": "Units",
            "in": "query",
            "required": false,
            "default": -1,
            "type": "integer",
            "format": "int32",
            "description": "An integer representing the time units to query data for. pass -1 to return all units of time."
          },
          {
            "name": "unit_reference",
            "x-ms-summary": "Unit Reference",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An ISO-8601 timestamp, indicating the most recent time for which to pull metrics. Will default to current time."
          },
          {
            "name": "size",
            "x-ms-summary": "Size",
            "in": "query",
            "required": false,
            "default": 50,
            "type": "integer",
            "format": "int32",
            "description": "The quantity of items to be be returned"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SortedLinks"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/bitlinks": {
      "post": {
        "description": "Converts a long URL to a Bitlink and sets additional parameters.",
        "summary": "Create full Bitlink",
        "tags": [
          "Bitlinks"
        ],
        "operationId": "CreateFullBitlink",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "x-ms-summary": "Body",
            "in": "body",
            "required": true,
            "description": "The body.",
            "schema": {
              "$ref": "#/definitions/FullShorten"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BitlinkBody"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "402": {
            "description": "Upgrade required",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "417": {
            "description": "EXPECTATION_FAILED",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "X-Bsd-Error": {
                "description": "An explanation of the DNS error received",
                "type": "string"
              }
            }
          },
          "422": {
            "description": "UNPROCESSABLE_ENTITY",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/bitlinks/{bitlink}/clicks": {
      "get": {
        "description": "Returns the click counts for the specified link in an array based on a date.",
        "summary": "Get clicks for Bitlink",
        "tags": [
          "Bitlinks"
        ],
        "operationId": "GetClicksForBitlink",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bitlink",
            "x-ms-summary": "Bitlink",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A Bitlink made of the domain and hash"
          },
          {
            "name": "unit",
            "x-ms-summary": "Unit",
            "in": "query",
            "required": true,
            "enum": [
              "minute",
              "hour",
              "day",
              "week",
              "month"
            ],
            "type": "string",
            "description": "A unit of time"
          },
          {
            "name": "units",
            "x-ms-summary": "Units",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "An integer representing the time units to query data for. pass -1 to return all units of time."
          },
          {
            "name": "unit_reference",
            "x-ms-summary": "Unit Reference",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An ISO-8601 timestamp, indicating the most recent time for which to pull metrics. Will default to current time."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Clicks"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/groups/{group_guid}/bitlinks": {
      "get": {
        "description": "Returns a paginated collection of Bitlinks for a group.",
        "summary": "Get Bitlinks by group",
        "tags": [
          "Bitlinks"
        ],
        "operationId": "GetBitlinksByGroup",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "group_guid",
            "x-ms-summary": "Group GUID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A GUID for a Bitly group"
          },
          {
            "name": "size",
            "x-ms-summary": "Size",
            "in": "query",
            "required": false,
            "default": 50,
            "type": "integer",
            "format": "int32",
            "description": "The quantity of items to be be returned"
          },
          {
            "name": "page",
            "x-ms-summary": "Page",
            "in": "query",
            "required": false,
            "default": 1,
            "type": "integer",
            "format": "int32",
            "description": "Integer specifying the numbered result at which to start"
          },
          {
            "name": "keyword",
            "x-ms-summary": "Keyword",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Custom keyword to filter on history entries"
          },
          {
            "name": "query",
            "x-ms-summary": "Query",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The value that you would like to search"
          },
          {
            "name": "created_before",
            "x-ms-summary": "Created Before",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Timestamp as an integer unix epoch"
          },
          {
            "name": "created_after",
            "x-ms-summary": "Created After",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Timestamp as an integer unix epoch"
          },
          {
            "name": "modified_after",
            "x-ms-summary": "Modified After",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Timestamp as an integer unix epoch"
          },
          {
            "name": "archived",
            "x-ms-summary": "Archived",
            "in": "query",
            "required": false,
            "enum": [
              "on",
              "off",
              "both"
            ],
            "default": "off",
            "type": "string",
            "description": "Whether or not to include archived bitlinks"
          },
          {
            "name": "deeplinks",
            "x-ms-summary": "Deeplinks",
            "in": "query",
            "required": false,
            "enum": [
              "on",
              "off",
              "both"
            ],
            "default": "both",
            "type": "string",
            "description": "Filter to only Bitlinks that contain deeplinks"
          },
          {
            "name": "domain_deeplinks",
            "x-ms-summary": "Domain Deeplinks",
            "in": "query",
            "required": false,
            "enum": [
              "on",
              "off",
              "both"
            ],
            "default": "both",
            "type": "string",
            "description": "Filter to only Bitlinks that contain deeplinks configured with a custom domain"
          },
          {
            "name": "campaign_guid",
            "x-ms-summary": "Campaign GUID",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter to return only links for the given campaign GUID, can be provided"
          },
          {
            "name": "channel_guid",
            "x-ms-summary": "Channel GUILD",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter to return only links for the given channel GUID, can be provided, overrides all other parameters"
          },
          {
            "name": "custom_bitlink",
            "x-ms-summary": "Custom Bitlink",
            "in": "query",
            "required": false,
            "enum": [
              "on",
              "off",
              "both"
            ],
            "default": "both",
            "type": "string",
            "description": "A Custom Bitlink made of the domain and keyword"
          },
          {
            "name": "tags",
            "x-ms-summary": "Tags",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "filter by given tags"
          },
          {
            "name": "launchpad_ids",
            "x-ms-summary": "Launchpad IDs",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "filter by launchpad id"
          },
          {
            "name": "encoding_login",
            "x-ms-summary": "Encoding Login",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by the login of the authenticated user that created the Bitlink"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Bitlinks"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "description": "Bulk update can add or remove tags or archive up to 100 links at a time; The response includes a a list of Bitlink ids that were updated.",
        "summary": "Update Bitlinks by group",
        "tags": [
          "Bitlinks"
        ],
        "operationId": "UpdateBitlinksByGroup",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "group_guid",
            "x-ms-summary": "Group GUID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A GUID for a Bitly group"
          },
          {
            "name": "body",
            "x-ms-summary": "Body",
            "in": "body",
            "required": true,
            "description": "The body.",
            "schema": {
              "$ref": "#/definitions/BulkUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BulkUpdate"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "422": {
            "description": "UNPROCESSABLE_ENTITY",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/bitlinks/{bitlink}/referrers": {
      "get": {
        "description": "Returns referrer click counts for the specified link.",
        "summary": "Get metrics for Bitlink by referrers",
        "tags": [
          "Bitlinks"
        ],
        "operationId": "GetMetricsForBitlinkByReferrers",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bitlink",
            "x-ms-summary": "Bitlink",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A Bitlink made of the domain and hash"
          },
          {
            "name": "unit",
            "x-ms-summary": "Unit",
            "in": "query",
            "required": true,
            "enum": [
              "minute",
              "hour",
              "day",
              "week",
              "month"
            ],
            "type": "string",
            "description": "A unit of time"
          },
          {
            "name": "units",
            "x-ms-summary": "Units",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "An integer representing the time units to query data for. pass -1 to return all units of time."
          },
          {
            "name": "size",
            "x-ms-summary": "Size",
            "in": "query",
            "required": false,
            "default": 50,
            "type": "integer",
            "format": "int32",
            "description": "The quantity of items to be be returned"
          },
          {
            "name": "unit_reference",
            "x-ms-summary": "Unit Reference",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An ISO-8601 timestamp, indicating the most recent time for which to pull metrics. Will default to current time."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ClickMetrics"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/shorten": {
      "post": {
        "description": "Converts a long URL to a Bitlink.",
        "summary": "Create Bitlink",
        "tags": [
          "Bitlinks"
        ],
        "operationId": "CreateBitlink",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "x-ms-summary": "Body",
            "in": "body",
            "required": true,
            "description": "The body.",
            "schema": {
              "$ref": "#/definitions/Shorten"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ShortenBitlinkBody"
            },
            "headers": {
              "X-Bsd-Error": {
                "description": "An explanation of the DNS error received",
                "type": "string"
              }
            }
          },
          "201": {
            "description": "CREATED",
            "schema": {
              "$ref": "#/definitions/ShortenBitlinkBody"
            },
            "headers": {
              "X-Bsd-Error": {
                "description": "An explanation of the DNS error received",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "X-Ratelimit-Reason": {
                "description": "An explanation of the ratelimit received.",
                "type": "string"
              }
            }
          },
          "417": {
            "description": "EXPECTATION_FAILED",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "X-Bsd-Error": {
                "description": "An explanation of the DNS error received",
                "type": "string"
              }
            }
          },
          "422": {
            "description": "UNPROCESSABLE_ENTITY",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/custom_bitlinks/{custom_bitlink}/clicks_by_destination": {
      "get": {
        "description": "Returns click metrics for the specified link by its historical destinations.",
        "summary": "Get custom Bitlink metrics by destination",
        "tags": [
          "Custom Bitlinks"
        ],
        "operationId": "GetCustomBitlinkMetricsByDestination",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "custom_bitlink",
            "x-ms-summary": "Custom Bitlink",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A Custom Bitlink made of the domain and keyword"
          },
          {
            "name": "unit",
            "x-ms-summary": "Unit",
            "in": "query",
            "required": true,
            "enum": [
              "minute",
              "hour",
              "day",
              "week",
              "month"
            ],
            "type": "string",
            "description": "A unit of time"
          },
          {
            "name": "units",
            "x-ms-summary": "Units",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "An integer representing the time units to query data for. pass -1 to return all units of time."
          },
          {
            "name": "unit_reference",
            "x-ms-summary": "Unit Reference",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An ISO-8601 timestamp, indicating the most recent time for which to pull metrics. Will default to current time."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ClickMetrics"
            }
          },
          "402": {
            "description": "Upgrade required",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/custom_bitlinks/{custom_bitlink}/clicks": {
      "get": {
        "description": "Returns the click counts for the specified link. This returns an array with clicks based on a date.",
        "summary": "Get clicks for custom Bitlink",
        "tags": [
          "Custom Bitlinks"
        ],
        "operationId": "GetClicksForCustomBitlink",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "custom_bitlink",
            "x-ms-summary": "Custom Bitlink",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A Custom Bitlink made of the domain and keyword"
          },
          {
            "name": "unit",
            "x-ms-summary": "Unit",
            "in": "query",
            "required": true,
            "enum": [
              "minute",
              "hour",
              "day",
              "week",
              "month"
            ],
            "type": "string",
            "description": "A unit of time"
          },
          {
            "name": "units",
            "x-ms-summary": "Units",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "An integer representing the time units to query data for. pass -1 to return all units of time."
          },
          {
            "name": "unit_reference",
            "x-ms-summary": "Unit Reference",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An ISO-8601 timestamp, indicating the most recent time for which to pull metrics. Will default to current time."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Clicks"
            }
          },
          "402": {
            "description": "Upgrade required",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/custom_bitlinks/{custom_bitlink}": {
      "get": {
        "description": "Returns the details and history of the specified link.",
        "summary": "Get custom Bitlink",
        "tags": [
          "Custom Bitlinks"
        ],
        "operationId": "GetCustomBitlink",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "custom_bitlink",
            "x-ms-summary": "Custom Bitlink",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A Custom Bitlink made of the domain and keyword"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CustomBitlink"
            }
          },
          "402": {
            "description": "Upgrade required",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "description": "Move a keyword (or custom back-half) to a different Bitlink.",
        "summary": "Update custom Bitlink",
        "tags": [
          "Custom Bitlinks"
        ],
        "operationId": "UpdateCustomBitlink",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
[...]
