{
  "swagger": "2.0",
  "info": {
    "title": "Notion",
    "description": "Notion connector use the API to access Notion's pages, databases, and users.",
    "version": "2.0",
    "contact": {
      "name":"Chandra Sekhar & Harshini Varma",
      "url":"https://github.com/sekharmalla",
      "email":"chandra.malla@msftcommunity.com"
    }
  },
  "host": "api.notion.com",
  "basePath": "/v1/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/users/{user_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "object",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "id": {
                  "type": "string",
                  "description": "Identifier for a Notion user",
                  "title": "Id"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the User",
                  "title": "User Name"
                },
                "avatar_url": {
                  "type": "string",
                  "description": "Chosen avatar image",
                  "title": "Avatar URL"
                },
                "type": {
                  "type": "string",
                  "description": "type",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "email": {
                  "type": "string",
                  "description": "Email address of person.",
                  "title": "Email"
                }
              }
            }
          }
        },
        "summary": "Retrieve User",
        "description": "Retrieves a User using the ID specified.",
        "operationId": "Retrieveuser",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "User ID",
            "description": "Unique identifier for this user.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "2022-06-28"
          }
        ]
      }
    },
    "/users": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Identifier for a Notion block",
                  "title": "Id"
                },
                "name": {
                  "type": "string",
                  "description": "User's name displayed in Notion.",
                  "title": "Display Name"
                },
                "avatar_url": {
                  "type": "string",
                  "description": "Chosen avatar image.",
                  "title": "Avatar URL"
                },
                "type": {
                  "type": "string",
                  "description": "Type of the user. Possible values are \"person\" and \"bot\".",
                  "title": "Type"
                },
                "email": {
                  "type": "string",
                  "description": "Email address of person.",
                  "title": "Email"
                },
                "Bot": {
                  "type": "object",
                  "properties": {},
                  "title": "asc",
                  "description": "Properties only present for bot users."
                },
                "next_cursor": {
                  "type": "string",
                  "description": "A cursor returned used to request the next page of results. Treat this as an opaque value",
                  "title": "Next Cursor"
                },
                "has_more": {
                  "type": "boolean",
                  "description": "When the response includes the end of the list",
                  "title": "Has more"
                }
              }
            }
          }
        },
        "summary": "List of all users",
        "description": "Returns a paginated list of Users for the workspace",
        "operationId": "List_of_all_users",
        "parameters": [
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "2022-06-28",
            "x-ms-visibility": "internal"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 100,
            "x-ms-summary": "Page size",
            "description": "The number of items from the full list desired in the response. Maximum: 100"
          }
        ]
      }
    },
    "/blocks/{blockId}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "object"
                },
                "id": {
                  "type": "string",
                  "description": "Identifier for the block.",
                  "title": "id"
                },
                "created_time": {
                  "type": "string",
                  "description": "Date and time when this block was created.",
                  "title": "Created time",
                  "format": "date-time"
                },
                "last_edited_time": {
                  "type": "string",
                  "description": "Date and time when this block was last updated.",
                  "title": "Last edited time",
                  "format": "date-time"
                },
                "created_by": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Always \"user\"",
                      "title": "Object"
                    },
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for this user.",
                      "title": "Id"
                    }
                  },
                  "description": "User who created the block."
                },
                "last_edited_by": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Last edited user",
                      "title": "Object"
                    },
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for this user.",
                      "title": "Id"
                    }
                  },
                  "description": "Last edited by",
                  "title": "Last edited by"
                },
                "has_children": {
                  "type": "boolean",
                  "description": "Whether or not the block has children blocks nested within it.",
                  "title": "Has children",
                  "enum": [
                    true,
                    false
                  ]
                },
                "archived": {
                  "type": "boolean",
                  "description": "The archived status of the block.",
                  "title": "Archived",
                  "enum": [
                    true,
                    false
                  ]
                },
                "type": {
                  "type": "string",
                  "description": "An object containing a type-specific block information",
                  "title": "Type"
                }
              },
              "description": "type"
            }
          }
        },
        "summary": "Retrieve a block",
        "description": "Retrieves a Block object using the ID specified.",
        "operationId": "Retrieveablock",
        "parameters": [
          {
            "name": "blockId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier for the block.",
            "x-ms-summary": "Block ID",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "2022-02-22",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "object",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "id": {
                  "type": "string",
                  "description": "Identifier for the block.",
                  "title": "id"
                },
                "created_time": {
                  "type": "string",
                  "description": "Date and time when this block was created.",
                  "title": "Created time",
                  "format": "date-time"
                },
                "last_edited_time": {
                  "type": "string",
                  "description": "Date and time when this block was last updated.",
                  "title": "Last edited time",
                  "format": "date-time"
                },
                "created_by": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Always \"user\"",
                      "title": "Object"
                    },
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for this user.",
                      "title": "Id"
                    }
                  },
                  "description": "User who created the block."
                },
                "last_edited_by": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Last edited user",
                      "title": "Object"
                    },
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for this user.",
                      "title": "Id"
                    }
                  },
                  "description": "Last edited by",
                  "title": "Last edited by"
                },
                "has_children": {
                  "type": "boolean",
                  "description": "Whether or not the block has children blocks nested within it.",
                  "title": "Has children",
                  "enum": [
                    true,
                    false
                  ]
                },
                "archived": {
                  "type": "boolean",
                  "description": "The archived status of the block.",
                  "title": "Archived",
                  "enum": [
                    true,
                    false
                  ]
                },
                "type": {
                  "type": "string",
                  "description": "An object containing a type-specific block information",
                  "title": "Type"
                }
              }
            }
          }
        },
        "summary": "Delete a block",
        "operationId": "Deleteablock",
        "description": "Sets a Block object, including page blocks, to archived: true using the ID specified. Note: in the Notion UI application, this moves the block to the \"Trash\" where it can still be accessed and restored.",
        "parameters": [
          {
            "name": "blockId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier for a Notion block",
            "x-ms-visibility": "important",
            "x-ms-summary": "Block ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "2022-06-28"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Update a block",
        "description": "Updates the content for the specified block_id based on the block type. Supported fields based on the block object type",
        "operationId": "Updateablock",
        "parameters": [
          {
            "name": "blockId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier for a Notion block",
            "x-ms-summary": "Block ID",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "2022-02-22",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "paragraph": {
                  "type": "object",
                  "properties": {
                    "rich_text": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "type": "object",
                            "properties": {
                              "content": {
                                "type": "string",
                                "description": "Text content. This field contains the actual content of your text and is probably the field you'll use most often.",
                                "title": "Content"
                              }
                            },
                            "description": "text",
                            "title": "Text"
                          }
                        }
                      },
                      "description": "rich_text",
                      "title": "Paragraph"
                    },
                    "color": {
                      "type": "string",
                      "description": "Color of the block.",
                      "title": "Color"
                    }
                  },
                  "description": "paragraph"
                },
                "heading_1": {
                  "type": "object",
                  "properties": {
                    "rich_text": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "type": "object",
                            "properties": {
                              "content": {
                                "type": "string",
                                "description": "Text content. This field contains the actual content of your text and is probably the field you'll use most often.",
                                "title": "Content"
                              }
                            },
                            "description": "text",
                            "title": "Text"
                          }
                        }
                      },
                      "description": "rich_text",
                      "title": "Heading 1"
                    },
                    "color": {
                      "type": "string",
                      "description": "Color of the block.",
                      "title": "Color"
                    }
                  },
                  "description": "Heading one block objects contain the Rich_text object within the heading_1 property",
                  "x-ms-visibility": "advanced"
                },
                "heading_2": {
                  "type": "object",
                  "properties": {
                    "rich_text": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "type": "object",
                            "properties": {
                              "content": {
                                "type": "string",
                                "description": "Text content2. This field contains the actual content of your text and is probably the field you'll use most often.",
                                "title": "Content"
                              }
                            },
                            "description": "text",
                            "title": "Text"
                          }
                        }
                      },
                      "description": "rich_text",
                      "title": "Heading 2"
                    },
                    "color": {
                      "type": "string",
                      "description": "Color of the block.",
                      "title": "Color"
                    }
                  },
                  "description": "Heading one block objects contain the Rich_text within the heading_1 property",
                  "x-ms-visibility": "advanced"
                },
                "heading_3": {
                  "type": "object",
                  "properties": {
                    "rich_text": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "type": "object",
                            "properties": {
                              "content": {
                                "type": "string",
                                "description": "Text content. This field contains the actual content of your text and is probably the field you'll use most often.",
                                "title": "Content"
                              }
                            },
                            "description": "text",
                            "title": "Text"
                          }
                        }
                      },
                      "description": "rich_text",
                      "title": "Heading 3"
                    },
                    "color": {
                      "type": "string",
                      "description": "colors",
                      "title": "Color"
                    }
                  },
                  "description": "Heading one block objects contain the Rich_text object within the heading_3 property",
                  "x-ms-visibility": "advanced"
                },
                "bulleted_list_item": {
                  "type": "object",
                  "properties": {
                    "rich_text": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "type": "object",
                            "properties": {
                              "content": {
                                "type": "string",
                                "description": "Text content. This field contains the actual content of your text and is probably the field you'll use most often.",
                                "title": "Contents1"
                              }
                            },
                            "description": "text",
                            "title": "Text1"
                          }
                        }
                      },
                      "description": "rich_text",
                      "title": "bulleted list item"
                    },
                    "color": {
                      "type": "string",
                      "description": "Color of the block.",
                      "title": "Color"
                    }
                  },
                  "description": "bulleted list item",
                  "x-ms-visibility": "advanced"
                },
                "numbered_list_item": {
                  "type": "object",
                  "properties": {
                    "rich_text": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "type": "object",
                            "properties": {
                              "content": {
                                "type": "string",
                                "description": "Text content. This field contains the actual content of your text and is probably the field you'll use most often.",
                                "title": "Contents1"
                              }
                            },
                            "description": "text",
                            "title": "Text1"
                          }
                        }
                      },
                      "description": "rich_text",
                      "title": "numbered list item"
                    },
                    "color": {
                      "type": "string",
                      "description": "Color of the block.",
                      "title": "Color"
                    }
                  },
                  "description": "Numbered list item",
                  "x-ms-visibility": "advanced"
                },
                "to_do": {
                  "type": "object",
                  "properties": {
                    "rich_text": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "type": "object",
                            "properties": {
                              "content": {
                                "type": "string",
                                "description": "Text content. This field contains the actual content of your text and is probably the field you'll use most often.",
                                "title": "Contents1"
                              }
                            },
                            "description": "text",
                            "title": "Text1"
                          }
                        }
                      },
                      "description": "rich_text",
                      "title": "numbered list item"
                    },
                    "checked": {
                      "type": "boolean",
                      "description": "Whether the to_do is checked or not.",
                      "title": "Checked"
                    },
                    "color": {
                      "type": "string",
                      "description": "Color of the block.",
                      "title": "Color"
                    }
                  },
                  "description": "Numbered list item",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        ]
      }
    },
    "/blocks/{block_id}/children": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "object",
                      "title": "",
                      "x-ms-visibility": "internal"
                    },
                    "id": {
                      "type": "string",
                      "description": "Identifier for the block.",
                      "title": "id"
                    },
                    "created_time": {
                      "type": "string",
                      "description": "Date and time when this block was created.",
                      "title": "Created time",
                      "format": "date-time"
                    },
                    "last_edited_time": {
                      "type": "string",
                      "description": "Date and time when this block was last updated.",
                      "title": "Last edited time",
                      "format": "date-time"
                    },
                    "has_children": {
                      "type": "boolean",
                      "description": "Whether or not the block has children blocks nested within it.",
                      "title": "Has children",
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "archived": {
                      "type": "boolean",
                      "description": "The archived status of the block.",
                      "title": "Archived",
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of block. Possible values",
                      "title": "Type"
                    }
                  }
                },
                "plain_text": {
                  "type": "string",
                  "description": "Plain text in the paragraph block plain_text",
                  "title": "Plain text"
                },
                "next_cursor": {
                  "type": "string",
                  "description": "A cursor returned used to request the next page of results. Treat this as an opaque value",
                  "title": "Next cursor"
                },
                "has_more": {
                  "type": "boolean",
                  "description": "Whether or not the block has more blocks or not",
                  "title": "Has more",
                  "enum": [
                    true,
                    false
                  ]
                }
              }
            }
          }
        },
        "summary": "Retrieve block children",
        "description": "Returns a paginated array of child block objects contained in the block using the ID specified",
        "operationId": "Retrieve_block_children",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Block id",
            "description": "Identifier for a block",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 100,
            "x-ms-summary": "Page size",
            "description": "The number of items from the full list desired in the response. Maximum: 100"
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "2022-06-28",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Append block children",
        "description": "Creates and appends new children blocks to the parent block_id specified.",
        "operationId": "Appendblockchildren",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier for a block",
            "x-ms-summary": "Block id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "2022-06-28"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "children": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "object": {
                        "type": "string",
                        "description": "object"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "heading_1": {
                        "type": "object",
                        "properties": {
                          "rich_text": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "type"
                                },
                                "text": {
                                  "type": "object",
                                  "properties": {
                                    "content": {
                                      "type": "string",
                                      "description": "content"
                                    }
                                  },
                                  "description": "text"
                                }
                              }
                            },
                            "title": "Rich text"
                          }
                        },
                        "description": "Heading one block objects contain the Rich_text object within the heading_1 property"
                      },
                      "paragraph": {
                        "type": "object",
                        "properties": {
                          "rich_text": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "type"
                                },
                                "text": {
                                  "type": "object",
                                  "properties": {
                                    "content": {
                                      "type": "string",
                                      "description": "content"
                                    },
                                    "link": {
                                      "type": "object",
                                      "properties": {
                                        "url": {
                                          "type": "string",
                                          "description": "url"
                                        }
                                      },
                                      "description": "link"
                                    }
                                  },
                                  "description": "text"
                                }
                              }
                            },
                            "title": "Rich text"
                          }
                        },
                        "description": "paragraph"
                      }
                    }
                  },
                  "description": "children"
                }
              }
            }
          }
        ]
      }
    },
    "/databases/{database_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DatabaseResponse"
            }
          }
        },
        "summary": "Retrieve a database",
        "operationId": "Retrieve_a_database",
        "description": "Retrieves a Database object using the ID specified.",
        "parameters": [
          {
            "name": "database_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier for a Notion database",
            "x-ms-summary": "Database id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "2022-06-28",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/search": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "object",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "id": {
                  "type": "string",
                  "description": "Identifier for the block.",
                  "title": "id"
                },
                "created_time": {
                  "type": "string",
                  "description": "Date and time when this page was created.",
                  "title": "Created time"
                },
                "last_edited_time": {
                  "type": "string",
                  "description": "Date and time when this page was updated.",
                  "title": "Last edited time"
                },
                "plain_text": {
                  "type": "string",
                  "description": "The plain text without annotations.",
                  "title": "Plain text"
                },
                "Tags": {
                  "type": "object",
                  "description": "The tags object contains the list of tags.",
                  "title": "Tags"
                },
                "url": {
                  "type": "string",
                  "description": "The URL of the object.",
                  "title": "URL"
                },
                "next_cursor": {
                  "type": "string",
                  "description": "A cursor returned used to request the next page of results. Treat this as an opaque value",
                  "title": "Next cursor"
                },
                "has_more": {
                  "type": "boolean",
                  "description": "Whether or not the block has more blocks or not",
                  "title": "Has more"
                }
              }
            }
          }
        },
        "summary": "Search",
        "description": "Searches all pages and child pages that are shared with the integration. The results may include databases.",
        "operationId": "Search",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "2022-06-28",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "description": "When supplied, limits which pages are returned by comparing the query to the page title.",
                  "title": "Query"
                },
                "sort": {
                  "type": "object",
                  "properties": {
                    "direction": {
                      "type": "string",
                      "description": "The direction to sort. Possible values include ascending and descending.",
                      "title": "Direction"
                    },
                    "timestamp": {
                      "type": "string",
                      "description": "The name of the timestamp to sort against. Possible values include last_edited_time.",
                      "title": "Timestamp"
                    }
                  },
                  "description": "sort"
                }
              },
              "required": [
                "query"
              ]
            }
          }
        ]
      }
    },
    "/databases/{database_id}/query": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DatabaseResponse"
              }
          }
        },
        "summary": "Query a database",
        "description": "Gets a list of Pages contained in the database, filtered and ordered according to the filter conditions and sort criteria provided in the request.",
        "operationId": "Query_a_database",
        "parameters": [
          {
            "name": "database_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Database ID",
            "description": "Identifier for a Notion database.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "2022-06-28",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/v1/users/me": {
      "get": {
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier for this user.",
                  "title": "Id"
                },
                "name": {
                  "type": "string",
                  "description": "User's name as displayed in Notion.",
                  "title": "Name"
                },
                "avatar_url": {
                  "type": "string",
                  "description": "Chosen avatar image.",
                  "title": "Avatar url"
                },
                "type": {
                  "type": "string",
                  "description": "Type of the user. Possible values are \"person\" and \"bot\".",
                  "title": "Type"
                },
                "bot": {
                  "type": "object",
                  "properties": {
                    "owner": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "The type of owner - either \"workspace\" or \"user\".",
                          "title": "Owner type"
                        }
                      },
                      "description": "Information about who owns this bot."
                    }
                  },
                  "description": "Properties only present for bot users.\"If viewing your own bot with GET /v1/users/me or GET /v1/users/{{your_bot_id}}, this field will be populated with more information about the bot.\""
                }
              }
            }
          }
        },
        "summary": "Retrieve your token's bot user",
        "description": "Retrieves the bot User associated with the API token provided in the authorization header. The bot will have an owner field with information about the person who authorized the integration.",
        "operationId": "RetrieveYourTokensBotUser",
        "parameters": [
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "2022-06-28",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/pages/{page_id}/properties/{property_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "Always list.",
                  "title": "Object"
                },
                "has_more": {
                  "type": "boolean",
                  "description": "When the response includes the end of the list, false. Otherwise, true.",
                  "title": "Has more",
                  "enum": [
                    true,
                    false
                  ]
                }
              }
            }
          }
        },
        "summary": "Retrieve a page property item",
        "description": "Retrieve a page property item",
        "operationId": "Retrieveapagepropertyitem",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier for a Notion page",
            "x-ms-summary": "Page ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "property_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier for a page property",
            "x-ms-summary": "Property ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "2022-06-28",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/pages/{page_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the page.",
                  "title": "Id"
                },
                "created_time": {
                  "type": "string",
                  "description": "Date and time when this page was created. Formatted as an ISO 8601 date time string.",
                  "title": "Created time"
                },
                "last_edited_time": {
                  "type": "string",
                  "description": "Date and time when this page was updated. Formatted as an ISO 8601 date time string.",
                  "title": "Last edited time"
                },
                "created_by": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for this user.",
                      "title": "Id"
                    }
                  },
                  "description": "User who created the page.",
                  "title": "Created by"
                },
                "last_edited_by": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for this user.",
                      "title": "Id"
                    }
                  },
                  "description": "User who created the page",
                  "title": "Last edited by"
                },
                "cover": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "Link to the externally hosted image.",
                      "title": "url"
                    }
                  },
                  "description": "Page cover image.",
                  "title": "cover"
                },
                "icon": {
                  "type": "object",
                  "properties": {
                    "emoji": {
                      "type": "string",
                      "description": "Emoji character.",
                      "title": "emoji"
                    }
                  },
                  "description": "Page icon.",
                  "title": "Icon"
                },
                "parent": {
                  "type": "object",
                  "properties": {
                    "database_id": {
                      "type": "string",
                      "description": "database_id"
                    }
                  },
                  "description": "Information about the page's parent.",
                  "title": "Parent"
                },
                "archived": {
                  "type": "boolean",
                  "description": "The archived status of the page.",
                  "title": "archived"
                },
                "properties": {
                  "type": "object",
                  "properties": {},
                  "description": "Property values of this page.",
                  "title": "Page properties"
                },
                "url": {
                  "type": "string",
                  "description": "The URL of the Notion page.",
                  "title": "URL"
                }
              }
            }
          }
        },
        "summary": "Retrieve a page",
        "description": "Retrieves a Page object using the ID specified.",
        "operationId": "Retrieveapage",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Page ID",
            "description": "Identifier for a Notion page",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "2022-06-28",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/pages": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the page.",
                  "title": "Id"
                },
                "created_time": {
                  "type": "string",
                  "description": "Date and time when this page was created. Formatted as an ISO 8601 date time string.",
                  "title": "Created time"
                },
                "last_edited_time": {
                  "type": "string",
                  "description": "Date and time when this page was updated. Formatted as an ISO 8601 date time string.",
                  "title": "Last edited time"
                },
                "created_by": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for this user.",
                      "title": "Id"
                    }
                  },
                  "description": "User who created the page.",
                  "title": "Created by"
                },
                "last_edited_by": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for this user.",
                      "title": "Id"
                    }
                  },
                  "description": "User who created the page",
                  "title": "Last edited by"
                },
                "cover": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "Link to the externally hosted image.",
                      "title": "url"
                    }
                  },
                  "description": "Page cover image.",
                  "title": "cover"
                },
                "icon": {
                  "type": "object",
                  "properties": {
                    "emoji": {
                      "type": "string",
                      "description": "Emoji character.",
                      "title": "emoji"
                    }
                  },
                  "description": "Page icon.",
                  "title": "Icon"
                },
                "parent": {
                  "type": "object",
                  "properties": {
                    "database_id": {
                      "type": "string",
                      "description": "database_id"
                    }
                  },
                  "description": "Information about the page's parent.",
                  "title": "Parent"
                },
                "archived": {
                  "type": "boolean",
                  "description": "The archived status of the page.",
                  "title": "archived"
                },
                "properties": {
                  "type": "object",
                  "properties": {},
                  "description": "Property values of this page.",
                  "title": "Page properties"
                },
                "url": {
                  "type": "string",
                  "description": "The URL of the Notion page.",
                  "title": "URL"
                }
              }
            }
          }
        },
        "summary": "Create a page",
        "description": "Creates a new page in the specified database. existing page.",
        "operationId": "CreateaPage",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "2022-06-28",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "parent": {
                  "type": "object",
                  "properties": {
                    "database_id": {
                      "type": "string",
                      "description": "Unique identifier for the database.",
                      "title": "Database ID",
                      "x-ms-visibility": "important"
                    }
                  },
                  "description": "parent",
                  "required": [
                    "database_id"
                  ]
                },
                "icon": {
                  "type": "object",
                  "properties": {
                    "emoji": {
                      "type": "string",
                      "description": "emoji",
                      "title": "Emoji"
                    }
                  },
                  "description": "icon"
                },
                "cover": {
                  "type": "object",
                  "properties": {
                    "external": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "Page cover image URL.",
                          "title": "Cover URL",
                          "x-ms-visibility": "important"
                        }
                      },
                      "description": "external"
                    }
                  },
                  "description": "Page cover image."
                },
                "properties": {
                  "type": "object",
                  "title": "Properties",
                  "description": "Schema of properties for the database as they appear in Notion."
                }
              },
              "x-ms-visibility": "important",
              "required": [
                "parent"
              ]
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/comments": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CommentResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "block_id",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Identifier for a Notion block or page",
            "x-ms-summary": "Block Id",
            "x-ms-visibility": "important"
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "2022-06-28",
            "x-ms-visibility": "internal"
          }
        ],
        "summary": "Retrieve comments",
        "operationId": "Retrievecomments",
        "description": "Retrieves a list of un-resolved Comment objects from a page or block."
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CommentResponse"
            }
          }
        },
        "summary": "Create comment",
        "operationId": "Createcomment",
        "description": "Creates a comment in a page or existing discussion thread.",
        "parameters": [
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "2022-06-28",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "parent": {
                  "type": "object",
                  "properties": {
                    "page_id": {
                      "type": "string",
                      "description": "Identifier for a page",
                      "title": "Page ID",
                      "x-ms-visibility": "important"
                    }
                  },
                  "description": "parent"
                },
                "discussion_id": {
                  "type": "string",
                  "description": "Identifier for a Notion block",
                  "title": "Discussion ID",
                  "x-ms-visibility": "important"
                },
                "rich_text": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "text": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string",
                            "description": "Text content. This field contains the actual content of your text and is probably the field you'll use most often.",
                            "title": "Content"
                          }
                        },
                        "description": "Text objects contain Content and Link within the text property."
                      }
                    }
                  },
                  "description": "Rich text objects contain data for displaying formatted text, mentions, and equations. "
                }
              },
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    }
  },
  "definitions": {
    "CommentResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier of the comment.",
          "title": "Id"
        },
        "parent": {
          "type": "object",
          "properties": {
            "page_id": {
              "type": "string",
              "description": "The ID of the page that this page belongs to.",
              "title": "Page Id"
            }
          },
          "description": "Information about the comment's parent.",
          "title": "Parent"
        },
        "discussion_id": {
          "type": "string",
          "description": "Unique identifier of the discussion thread that the comment is associated with.",
          "title": "Discussion id"
        },
        "created_time": {
          "type": "string",
          "description": "Date and time when this comment was created.",
          "title": "Created time"
        },
        "last_edited_time": {
          "type": "string",
          "description": "Date and time when this comment was updated.",
          "title": "Last edited time"
        },
        "created_by": {
          "type": "object",
          "properties": {
            "object": {
              "type": "string",
              "description": "object"
            },
            "id": {
              "type": "string",
              "description": "id"
            }
          },
          "description": "User who created the comment.",
          "title": "Created by"
        },
        "rich_text": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "type"
              },
              "text": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "Text content.",
                    "title": "Content"
                  },
                  "link": {
                    "type": "string",
                    "description": "Any inline link in this text.",
                    "title": "Link"
                  }
                },
                "description": "Text objects contain Content and Link within the text property."
              },
              "plain_text": {
                "type": "string",
                "description": "The plain text without annotations.",
                "title": "Plain text"
              },
              "href": {
                "type": "string",
                "description": "(optional)  The URL of any link or internal Notion mention in this text, if any.",
                "title": "href"
              }
            }
          },
          "description": "Content of the comment, which supports rich text formatting, links, and mentions.",
          "title": "Rich text"
        }
      }
    },
    "DatabaseResponse":{
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "object": {
                "type": "string",
                "description": "Page or 'database'",
                "title": "Object"
              },
              "id": {
                "type": "string",
                "description": "Unique identifier for the database.",
                "title": "Id"
              },
              "created_time": {
                "type": "string",
                "description": "Date and time when this database was created. Formatted as an ISO 8601 date time string.",
                "title": "Created time"
              },
              "last_edited_time": {
                "type": "string",
                "description": "Date and time when this database was updated. Formatted as an ISO 8601 date time string.",
                "title": "Last edited time"
              },
              "created_by": {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "description": "User who created the database.",
                    "title": "Object"
                  },
                  "id": {
                    "type": "string",
                    "description": "Unique identifier for the user",
                    "title": "Id"
                  }
                },
                "description": "User who created the database.",
                "title": "Created by"
              },
              "last_edited_by": {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string",
                    "description": "User who created the database.",
                    "title": "Object"
                  },
                  "id": {
                    "type": "string",
                    "description": "Unique identifier for the user",
                    "title": "Id"
                  }
                },
                "description": "User who last edited the database.",
                "title": "Last edited by"
              },
              "archived": {
                "type": "boolean",
                "description": "The archived status of the database.",
                "title": "Archived",
                "enum": [
                  true,
                  false
                ]
              },
              "properties": {
                "type": "object",
                "properties": {},
                "description": "Schema of properties for the database as they appear in Notion.",
                "title": "Properties"
              },
              "url": {
                "type": "string",
                "description": "The URL of the Notion database",
                "title": "URL"
              }
            }
          }
        }
      }

  }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.notion.so/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.notion.so/Privacy-Policy-3468d120cf614d4c9014c09f6adc9091"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;collaboration"
    }
  ]
}
