{
  "swagger": "2.0",
  "info": {
    "title": "Notion",
    "description": "Notion connector use the API to access Notion's pages, databases, and users.",
    "version": "1.0",
    "contact": {
      "name":"Chandra Sekhar & Harshini Varma",
      "url":"https://github.com/sekharmalla",
      "email":"Sekharmalla.vfx@gmail.com"
    }
  },
  "host": "api.notion.com",
  "basePath": "/v1/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/users/{user_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "Name of the object always user.",
                  "title": "object"
                },
                "id": {
                  "type": "string",
                  "description": "Identifier for a Notion user",
                  "title": "Id"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the User",
                  "title": "User Name"
                },
                "avatar_url": {
                  "type": "string",
                  "description": "Chosen avatar image",
                  "title": "Avatar URL"
                },
                "type": {
                  "type": "string",
                  "description": "Type of the User or Bot",
                  "title": "Type of User",
                  "x-ms-visibility": "internal"
                },
                "email": {
                  "type": "string",
                  "description": "Email address of person.",
                  "title": "Email"
                }
              }
            }
          }
        },
        "summary": "Retrieve User",
        "description": "Retrieves a User using the ID specified.",
        "operationId": "RetrieveUser",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "User ID",
            "x-ms-url-encoding":"single",
            "description": "Unique identifier for this user."
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "2021-08-16"
          }
        ]
      }
    },
    "/users": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Identifier for a Notion block",
                  "title": "Id"
                },
                "name": {
                  "type": "string",
                  "description": "User's name displayed in Notion.",
                  "title": "Display Name"
                },
                "avatar_url": {
                  "type": "string",
                  "description": "Chosen avatar image.",
                  "title": "Avatar URL"
                },
                "type": {
                  "type": "string",
                  "description": "Type of the user. Possible values are \"person\" and \"bot\".",
                  "title": "Type"
                },
                "email": {
                  "type": "string",
                  "description": "Email address of person.",
                  "title": "Email"
                },
                "Bot": {
                  "type": "object",
                  "properties": {},
                  "title": "Bot",
                  "description": "Properties only present for bot users."
                },
                "next_cursor": {
                  "type": "string",
                  "description": "A cursor returned used to request the next page of results. Treat this as an opaque value",
                  "title": "Next Cursor"
                },
                "has_more": {
                  "type": "boolean",
                  "description": "When the response includes the end of the list",
                  "title": "Has more"
                }
              }
            }
          }
        },
        "summary": "List of all users",
        "description": "Returns a paginated list of Users for the workspace",
        "operationId": "Listofallusers",
        "parameters": [
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "2021-08-16",
            "x-ms-visibility": "internal"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 100,
            "x-ms-summary": "Page size",
            "description": "The number of items from the full list desired in the response. Maximum: 100"
          }
        ]
      }
    },
    "/blocks/{block_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "Name of the object always block.",
                  "title": "Object",
                  "x-ms-visibility": "internal"
                },
                "id": {
                  "type": "string",
                  "description": "Identifier for the block.",
                  "title": "Id"
                },
                "created_time": {
                  "type": "string",
                  "description": "Date and time when this block was created.",
                  "title": "Created time",
                  "format": "date-time"
                },
                "last_edited_time": {
                  "type": "string",
                  "description": "Date and time when this block was last updated.",
                  "title": "Last edited time",
                  "format": "date-time"
                },
                "has_children": {
                  "type": "boolean",
                  "description": "Whether or not the block has children blocks nested within it.",
                  "title": "Has children",
                  "enum": [
                    true,
                    false
                  ]
                },
                "archived": {
                  "type": "boolean",
                  "description": "The archived status of the block.",
                  "title": "Archived",
                  "enum": [
                    true,
                    false
                  ]
                },
                "type": {
                  "type": "string",
                  "description": "The type of the block",
                  "title": "Type"
                },
                "title": {
                  "type": "string",
                  "description": "Rich text in the paragraph block.",
                  "title": "Title"
                }
              }
            }
          }
        },
        "summary": "Retrieve a block",
        "description": "Retrieves a Block object using the ID specified.",
        "operationId": "RetrieveBlock",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier for the block.",
            "x-ms-summary": "Block id",
            "x-ms-url-encoding":"single"
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "2021-08-16",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "patch": {
        "consumes": ["application/json"],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "Name of the object.",
                  "title": "Object"
                },
                "id": {
                  "type": "string",
                  "description": "Identifier for a Notion block",
                  "title": "Id"
                },
                "created_time": {
                  "type": "string",
                  "description": "Date and time when this page was created.",
                  "title": "Created time"
                },
                "last_edited_time": {
                  "type": "string",
                  "description": "Date and time when this block was last updated.",
                  "title": "Last edited time",
                  "format": "date-time"
                },
                "has_children": {
                  "type": "boolean",
                  "description": "Whether or not the block has children blocks nested within it.",
                  "title": "Has children"
                },
                "type": {
                  "type": "string",
                  "description": "Type of block. Possible values",
                  "title": "Type"
                },
                "archived": {
                  "type": "boolean",
                  "description": "The archived status of the block.",
                  "title": "archived"
                },
                "content": {
                  "type": "string",
                  "description": "Updates the content for the specified block_id based on the block type.",
                  "title": "Content"
                },
                "plain_text": {
                  "type": "string",
                  "description": "Plain text in the paragraph block plain_text",
                  "title": "Plain text"
                }
              }
            }
          }
        },
        "summary": "Update a block (to-do)",
        "description": "Updates the content for the specified block_id based on the block type to-do.",
        "operationId": "UpdateaBlock",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier for a Notion block",
            "x-ms-summary": "Block id",
            "x-ms-url-encoding":"single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "2021-08-16",
            "x-ms-visibility": "internal"
          },

          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "to_do": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "type": "object",
                            "properties": {
                              "content": {
                                "type": "string",
                                "description": "content"
                              }
                            },
                            "description": "text"
                          }
                        }
                      },
                      "description": "text"
                    }
                  },
                  "description": "to_do"
                }
              }
            }
          }
        ]
      }
    },
    "/blocks/{block_id}/children": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Name of the object.",
                      "title": "Object",
                      "x-ms-visibility": "internal"
                    },
                    "id": {
                      "type": "string",
                      "description": "Identifier for the block.",
                      "title": "id"
                    },
                    "created_time": {
                      "type": "string",
                      "description": "Date and time when this block was created.",
                      "title": "Created time",
                      "format": "date-time"
                    },
                    "last_edited_time": {
                      "type": "string",
                      "description": "Date and time when this block was last updated.",
                      "title": "Last edited time",
                      "format": "date-time"
                    },
                    "has_children": {
                      "type": "boolean",
                      "description": "Whether or not the block has children blocks nested within it.",
                      "title": "Has children",
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "archived": {
                      "type": "boolean",
                      "description": "The archived status of the block.",
                      "title": "Archived",
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of block. Possible values",
                      "title": "Type"
                    }
                  }
                },
                "plain_text": {
                  "type": "string",
                  "description": "Plain text in the paragraph block plain_text",
                  "title": "Plain text"
                },
                "next_cursor": {
                  "type": "string",
                  "description": "A cursor returned used to request the next page of results. Treat this as an opaque value",
                  "title": "Next cursor"
                },
                "has_more": {
                  "type": "boolean",
                  "description": "Whether or not the block has more blocks or not",
                  "title": "Has more",
                  "enum": [
                    true,
                    false
                  ]
                }
              }
            }
          }
        },
        "summary": "Retrieve block children",
        "description": "Returns a paginated array of child block objects contained in the block using the ID specified",
        "operationId": "RetrieveBlockChildren",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Block id",
            "x-ms-url-encoding":"single",
            "description": "Identifier for a block"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 100,
            "x-ms-summary": "Page size",
            "description": "The number of items from the full list desired in the response. Maximum: 100"
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "2021-08-16",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/databases/{database_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object"
            }
          }
        },
        "summary": "Retrieve a database",
        "operationId": "RetrieveADatabase",
        "description": "Retrieves a Database object using the ID specified.",
        "parameters": [
          {
            "name": "database_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier for a Notion database",
            "x-ms-summary": "Database id",
            "x-ms-url-encoding":"single"
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "2021-08-16",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/search": {
      "post": {
        "consumes": ["application/json"],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "Name of the object.",
                  "title": "Object"
                },
                "id": {
                  "type": "string",
                  "description": "Identifier for the block.",
                  "title": "id"
                },
                "created_time": {
                  "type": "string",
                  "description": "Date and time when this page was created.",
                  "title": "Created time"
                },
                "last_edited_time": {
                  "type": "string",
                  "description": "Date and time when this page was updated.",
                  "title": "Last edited time"
                },
                "plain_text": {
                  "type": "string",
                  "description": "The plain text without annotations.",
                  "title": "Plain text"
                },
                "Tags": {
                  "type": "object",
                  "description": "The tags object contains the list of tags.",
                  "title": "Tags"
                },
                "url": {
                  "type": "string",
                  "description": "The URL of the object.",
                  "title": "URL"
                },
                "next_cursor": {
                  "type": "string",
                  "description": "A cursor returned used to request the next page of results. Treat this as an opaque value",
                  "title": "Next cursor"
                },
                "has_more": {
                  "type": "boolean",
                  "description": "Whether or not the block has more blocks or not.",
                  "title": "Has more"
                }
              }
            }
          }
        },
        "summary": "Search",
        "description": "Searches all pages and child pages that are shared with the integration. The results may include databases.",
        "operationId": "Search",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "2021-08-16",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "description": "When supplied, limits which pages are returned by comparing the query to the page title.",
                  "title": "Query"
                },
                "sort": {
                  "type": "object",
                  "properties": {
                    "direction": {
                      "type": "string",
                      "description": "The direction to sort. Possible values include ascending and descending.",
                      "title": "Direction"
                    },
                    "timestamp": {
                      "type": "string",
                      "description": "The name of the timestamp to sort against. Possible values include last_edited_time.",
                      "title": "Timestamp"
                    }
                  },
                  "description": "sort"
                }
              },
              "required": [
                "query"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.notion.so/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.notion.so/Privacy-Policy-3468d120cf614d4c9014c09f6adc9091"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;collaboration"
    }
  ]

}