{
  "swagger": "2.0",
  "info": {
    "title": "Taqnyat",
    "description": "Taqnyat integration for short messages \"SMS\"",
    "version": "1.0",
    "contact": {
      "name": "Taqnyat Support",
      "url": "https://www.taqnyat.sa/",
      "email": "support@taqnyat.sa"
    },
    "license": {
      "name": "MIT for OAS 2.0",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "host": "api.taqnyat.sa",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.taqnyat.sa/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.taqnyat.sa/en/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Website"
    }
  ],
  "paths": {
    "/v1/messages": {
      "post": {
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "default",
            "x-ms-summary": "Success response",
            "schema": {
              "type": "object",
              "properties": {
                "statusCode": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Status Code",
                  "description": "Status Code of your request",
                  "x-ms-summary": "Status Code"
                },
                "messageId": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Message ID",
                  "x-ms-summary": "Message ID",
                  "x-ms-visibility": "important",
                  "description": "Message Id for your message was sent"
                },
                "cost": {
                  "type": "string",
                  "title": "Cost",
                  "x-ms-summary": "Cost",
                  "x-ms-visibility": "important",
                  "description": "Cost of your message was sent"
                },
                "currency": {
                  "type": "string",
                  "title": "Currency",
                  "x-ms-summary": "Currency",
                  "x-ms-visibility": "important",
                  "description": "Currency of your message was sent"
                },
                "totalCount": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Total Count",
                  "x-ms-summary": "Total Count",
                  "x-ms-visibility": "important",
                  "description": "Total Count of your messages was sent"
                },
                "msgLength": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Message Length",
                  "x-ms-summary": "Message Length",
                  "x-ms-visibility": "important",
                  "description": "Message Length of your message was sent"
                },
                "accepted": {
                  "type": "string",
                  "title": "Accepted",
                  "x-ms-summary": "Accepted",
                  "x-ms-visibility": "important",
                  "description": "Accepted of mobile numbers for your message was sent"
                },
                "rejected": {
                  "type": "string",
                  "title": "Rejected",
                  "x-ms-summary": "Rejected",
                  "x-ms-visibility": "important",
                  "description": "Rejected of mobile numbers for your message was sent"
                }
              }
            }
          },
          "400": {
            "description": "Response to failed send sms.",
            "x-ms-summary": "Failed response",
            "schema": {
              "$ref": "#/definitions/FailureResponseBody"
            }
          }
        },
        "summary": "Send SMS",
        "description": "Send SMS To Recipients Mobile",
        "operationId": "SendSMS",
        "parameters": [
          {
            "name": "Request body",
            "in": "body",
            "description": "Request body.",
            "schema": {
              "$ref": "#/definitions/SendSMSRequestBody"
            }
          }
        ]
      }
    },
    "/v1/messages/senders": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "default",
            "x-ms-summary": "Success response",
            "schema": {
              "type": "object",
              "properties": {
                "statusCode": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Status Code",
                  "description": "Status Code of your request",
                  "x-ms-summary": "Status Code",
                  "x-ms-visibility": "advanced"
                },
                "senders": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "senderName": {
                        "type": "string",
                        "title": "Sender Name",
                        "x-ms-summary": "Sender Name",
                        "x-ms-visibility": "important",
                        "description": "Sender Name that will be used as a sender of the outbound text message."
                      },
                      "status": {
                        "type": "string",
                        "title": "Status",
                        "x-ms-summary": "Status",
                        "x-ms-visibility": "important",
                        "description": "Your Sender Name status"
                      },
                      "destination": {
                        "type": "string",
                        "title": "Destination",
                        "x-ms-summary": "Destination",
                        "x-ms-visibility": "important",
                        "description": "Your Sender Name destination"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Response to failed get senders.",
            "x-ms-summary": "Failure response",
            "schema": {
              "$ref": "#/definitions/FailureResponseBody"
            }
          }
        },
        "summary": "Sender Names",
        "description": "Get Your Verified Sender Names",
        "operationId": "GetSenders",
        "parameters": []
      }
    },
    "/account/balance": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "default",
            "x-ms-summary": "Success response",
            "schema": {
              "type": "object",
              "properties": {
                "statusCode": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Status Code",
                  "description": "Status Code of your request",
                  "x-ms-summary": "Status Code",
                  "x-ms-visibility": "advanced"
                },
                "accountStatus": {
                  "type": "string",
                  "title": "Account Status",
                  "x-ms-summary": "Account Status",
                  "x-ms-visibility": "important",
                  "description": "Your Account Status"
                },
                "accountExpiryDate": {
                  "type": "string",
                  "title": "Account Expiry Date",
                  "x-ms-summary": "Account Expiry Date",
                  "x-ms-visibility": "important",
                  "description": "Your Account Expiry Date"
                },
                "balance": {
                  "type": "string",
                  "title": "Balance",
                  "x-ms-summary": "Balance",
                  "x-ms-visibility": "important",
                  "description": "Your Account Balance in Your Currency"
                },
                "currency": {
                  "type": "string",
                  "title": "Currency",
                  "x-ms-summary": "Currency",
                  "x-ms-visibility": "important",
                  "description": "Your Account Currency"
                },
                "points": {
                  "type": "string",
                  "title": "Points",
                  "x-ms-summary": "Points",
                  "x-ms-visibility": "important",
                  "description": "Your Account Points"
                }
              }
            }
          },
          "400": {
            "description": "Response to failed get account balance.",
            "x-ms-summary": "Failed response",
            "schema": {
              "$ref": "#/definitions/FailureResponseBody"
            }
          }
        },
        "summary": "Account Balance",
        "description": "Get Your Account Balance",
        "operationId": "GetAccountBalance",
        "parameters": []
      }
    }
  },
  "definitions": {
    "SendSMSRequestBody": {
      "type": "object",
      "properties": {
        "recipients": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32",
            "description": "Recipient phone number",
            "title": "Recipient phone number"
          },
          "description": "recipients",
          "x-ms-visibility": "important",
          "x-ms-summary": "Recipient's phone number",
          "title": "Recipient's phone number"
        },
        "body": {
          "type": "string",
          "description": "Your Message Body Text",
          "title": "Message Text",
          "x-ms-visibility": "important",
          "x-ms-summary": "Message Text"
        },
        "sender": {
          "type": "string",
          "description": "Sender Name that will be used as a sender of the outbound text message.",
          "title": "Message Sender Name",
          "x-ms-visibility": "important",
          "x-ms-summary": "Message Sender Name",
          "x-ms-dynamic-values": {
            "operationId": "GetSenders",
            "value-path": "senderName",
            "value-collection": "senders",
            "value-title": "senderName"
          }
        }
      },
      "required": [
        "body",
        "recipients",
        "sender"
      ]
    },
    "FailureResponseBody": {
      "type": "object",
      "properties": {
        "statusCode": {
          "type": "integer",
          "format": "int32",
          "description": "Status Code of your request",
          "title": "Status Code",
          "x-ms-summary": "Status Code",
          "x-ms-visibility": "advanced"
        },
        "message": {
          "type": "string",
          "description": "Error Message  of your request",
          "title": "Error Message",
          "x-ms-summary": "Error Message",
          "x-ms-visibility": "important"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "BearerAuth": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      "description": "Authorization header using the Bearer scheme. Example: \"Authorization: Bearer {token}\""
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": []
}