{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "PUG Gamified Engagement",
    "description": "The PUG Gamified Engagement Connector for Dynamics 365 enables the first phase of a comprehensive and personalized gamified engagement program for driving customer loyalty. This app comes with out-of-the-box integration into D365 and enables D365 platform customers to create users within a loyalty framework, generate badges based on digital actions, and issue currency for answering calls to action.",
    "contact" : {
      "name" : "Pug Interactive",
      "url" : "https://www.puginteractive.com",
      "email" : "support@puginteractive.com"
    }
  },
  "host": "connector.picnicplatform.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/players/create_player": {
      "post": {
        "summary": "Create Player",
        "description": "Create a new Player",
        "operationId": "Create_Player",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Content Type Header",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Accept Header",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "player": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "Email to sign up"
                    },
                    "profile": {
                      "type": "object",
                      "properties": {
                        "first_name": {
                          "type": "string",
                          "description": "First Name"
                        },
                        "last_name": {
                          "type": "string",
                          "description": "Last Name"
                        }
                      },
                      "description": "profile"
                    },
                    "external_realm": {
                      "type": "string",
                      "description": "Third Party Authentication Type"
                    },
                    "external_realm_id": {
                      "type": "string",
                      "description": "ID of user in 3rd Party Authentication"
                    }
                  },
                  "description": "Player"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/api/players/{player_id}/currency_accounts": {
      "get": {
        "summary": "Get players Accounts",
        "description": "Get players list of accounts",
        "operationId": "Get_Player_Accounts",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary" : "Player ID",
            "description" : "Player ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Content-Type Header",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Accept Header",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/api/players/{player_id}/currency_accounts/{account_type}": {
      "get": {
        "summary": "Get account balance",
        "description": "Get an specific account balance",
        "operationId": "Get_Account_Balance",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary" : "Player ID",
            "description" : "Player ID"
          },
          {
            "name": "account_type",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary" : "Account Type",
            "description" : "Account Type"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Content-Type Header",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Accept Header",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/api/players/{player_id}/currency_accounts/{account_type}/add_currency/{amount}": {
      "post": {
        "summary": "Add Points",
        "description": "Add Points to an specific account",
        "operationId": "Add_Points",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary" : "Player ID",
            "description" : "Player ID"
          },
          {
            "name": "account_type",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary" : "Account Type",
            "description" : "Account Type"
          },
          {
            "name": "amount",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary" : "Amount",
            "description" : "Amount"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Content-Type Header",
            "x-ms-visibility": "internal",
            "x-ms-summary" : "Content-Type"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Accept",
            "x-ms-visibility": "internal",
            "x-ms-summary" : "Accept"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/api/players/{player_id}/currency_accounts/{account_type}/remove_currency/{amount}": {
      "post": {
        "summary": "Remove Points",
        "description": "Remove Points from an specific account",
        "operationId": "Remove_Points",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary" : "Player ID",
            "description" : "Player ID"
          },
          {
            "name": "account_type",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary" : "Account Type",
            "description" : "Account Type"
          },
          {
            "name": "amount",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary" : "Amount",
            "description" : "Amount"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Content-Type Header",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Accept Header",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/api/players/{player_id}": {
      "post": {
        "summary": "Get Batch",
        "description": "Get Batch of available items for different kinds and sizes",
        "operationId": "Get_Batch",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary" : "Player ID",
            "description" : "Player ID"
          },
          {
            "name": "newBatchSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary" : "Batch Size",
            "description" : "Batch Size"
          },
          {
            "name": "newBatchMaxPicks",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary" : "Batch Max Picks",
            "description" : "Batch Maximum Picks"
          },
          {
            "name": "newBatchKind",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" : "Batch Kind",
            "description" : "Batch Kind"
          },
          {
            "name": "newBatchUseTiers",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary" : "Batch Use Tiers",
            "description" : "Batch Use Tiers Setting"
          },
          {
            "name": "newBatchTtl",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary" : "Batch TTL",
            "description" : "Batch TTL"
          },
          {
            "name": "newBatchMetadata",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" : "Batch Metadata",
            "description" : "Batch Metadata"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Content-Type Header",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Accept Header",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/api/rewards": {
      "get": {
        "summary": "List Badges",
        "description": "List Badges of the player",
        "operationId": "List_Badges",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Content-Type Header",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Accept Header",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/api/instances/rewards/{reward_ref}": {
      "get": {
        "summary": "Get Badge",
        "description": "Get an specific Badge from a player",
        "operationId": "Get_Badge",
        "parameters": [
          {
            "name": "reward_ref",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary" : "Reward Ref",
            "description" : "Reward Reference"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Content-Type Header",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Accept Header",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/api/players/{player_id}/instances/rewards/issue_instance_by_ref/{reward_ref}": {
      "post": {
        "summary": "Issue Badge",
        "description": "Issue a Badge to a Player",
        "operationId": "Issue_Badge",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary" : "Player ID",
            "description" : "Player ID"
          },
          {
            "name": "reward_ref",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary" : "Reward Ref",
            "description" : "Reward Ref"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Content-Type Header",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Accept Header",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/api/players/{player_id}/instances/rewards/claim_instance_by_id/{reward_instance_id}": {
      "post": {
        "summary": "Claim Instance",
        "description": "Claim Instance of a Players Reward",
        "operationId": "Claim_Instance",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary" : "Player ID",
            "description" : "Player ID"
          },
          {
            "name": "reward_instance_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary" : "Reward Instance ID",
            "description" : "Reward Instance ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Content-Type Header",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Accept Header",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/api/players/{player_id}/instances/rewards": {
      "get": {
        "summary": "Get Player Badges Instances",
        "description": "Get a Players list of Badges",
        "operationId": "Get_Badges_Instances",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary" : "Player ID",
            "description" : "Player ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Content-Type Header",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Accept Header",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/api/players/{player_id}/instances/rewards/{reward_ref}": {
      "get": {
        "summary": "Get Badge Instance",
        "description": "Get an specific Badge Instance details of a Player",
        "operationId": "Get_Badge_Instance",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary" : "Player ID",
            "description" : "Player ID"
          },
          {
            "name": "reward_ref",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary" : "Reward Reference",
            "description" : "Reward Reference"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Content-Type Header",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Accept Header",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/api/players/{player_id}/add_item_instance_by_ref/{item_ref}": {
      "post": {
        "summary": "Add Item Instance",
        "description": "Add Item Instance to a Player",
        "operationId": "Add_Item_Instance",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary" : "Player ID",
            "description" : "Player ID"
          },
          {
            "name": "item_ref",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary" : "Item Reference",
            "description" : "Item Reference"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Content-Type Header",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Accept Header",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "Clave de API": {
      "type": "apiKey",
      "in": "header",
      "name": "X-SNO-GE-INT-API-Key"
    }
  },
  "security": [
    {
      "Clave de API": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata" : [
    {
      "propertyName" : "Website",
      "propertyValue" : "https://www.puginteractive.com"
    },
    {
      "propertyName" : "Privacy policy",
      "propertyValue" : "https://www.puginteractive.com/privacy_policy"
    },
    {
      "propertyName" : "Categories",
      "propertyValue" : "Human Resources;Marketing"
    },
  ]
}