{
  "swagger": "2.0",
  "info": {
    "title": "Pixel Encounter",
    "description": "Get your random generated pixel monster (or other goodies)",
    "version": "1.0",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_pixele@gmail.com"
    }
  },
  "host": "app.pixelencounter.com",
  "basePath": "/api/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/basic/monsters/random/json": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MonsterResponse"
            }
          }
        },
        "summary": "Get a random monster (JSON)",
        "description": "Get a random monster with its JSON representation.",
        "operationId": "GetRandomMonsterJson",
        "parameters": []
      }
    },
    "/basic/monsters/{id}/json": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MonsterResponse"
            }
          }
        },
        "summary": "Get a monster by ID (JSON)",
        "description": "Get a specific monster by ID with its JSON representation.",
        "operationId": "GetMonsterJson",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The seed id, must be greater than '0' and lower than or equal to '2147483647'.",
            "x-ms-summary": "Monster ID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/basic/monsters": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Monster identification.",
                        "title": "Id"
                      },
                      "svgContent": {
                        "type": "string",
                        "description": "SVG representation of the monster.",
                        "title": "SVG Content"
                      }
                    }
                  },
                  "description": "Array of result monsters.",
                  "title": "Results"
                },
                "currentPage": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of current page of results.",
                  "title": "Current Page"
                },
                "firstRowOnPage": {
                  "type": "integer",
                  "format": "int32",
                  "description": "First row on the result page.",
                  "title": "First row on page"
                },
                "rowCountOnLastPage": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Row count on last result page.",
                  "title": "Row count on last page"
                },
                "lastRowOnPage": {
                  "type": "integer",
                  "format": "int32",
                  "description": "First row on the result page.",
                  "title": "Last row on page"
                },
                "pageCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of result pages.",
                  "title": "Page count"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of results per page.",
                  "title": "Page size"
                },
                "rowCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Row count",
                  "title": "Row count"
                }
              }
            }
          }
        },
        "summary": "List monsters",
        "description": "Get a paged list with SVG monsters.",
        "operationId": "ListMonsters",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Page number, must be greater than 0 and lower than '44739242'.",
            "x-ms-summary": "Page number"
          },
          {
            "name": "startRange",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Must be greater than '0' and lower than endRange.",
            "x-ms-summary": "Start range"
          },
          {
            "name": "endRange",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Must be greater than startRange and lower than or equal to '2147483647'.",
            "x-ms-summary": "End range"
          }
        ]
      }
    },
    "/basic/svgmonsters/json": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MonsterResponse"
            },
            "headers": {
              "monster-id": {
                "description": "monster-id",
                "type": "integer"
              }
            }
          }
        },
        "summary": "Get a random SVG monster (JSON)",
        "description": "Get an SVG monster with random pattern with JSON representation.",
        "operationId": "GetRandomSvgMonster",
        "parameters": [
          {
            "name": "primaryColor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Must be a CSS color value, like '#FC6400'",
            "x-ms-summary": "Primary color"
          },
          {
            "name": "fillType",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Must be a number of: 0=Solid, 1=VerticalSplit, 2=HorizontalSplit, 3=Dotted, 4=Custom1, 5=RandomPixel.",
            "x-ms-summary": "Fill type",
            "enum": [
              0,
              1,
              2,
              3,
              4,
              5
            ]
          },
          {
            "name": "backgroundColor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Must be a CSS color value, like '#FC6400'",
            "x-ms-summary": "Background color"
          },
          {
            "name": "secondaryColor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Must be a CSS color value, like '#FC6400'",
            "x-ms-summary": "Secondary color"
          }
        ]
      }
    }
  },
  "definitions": {
    "MonsterResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of the monster.",
          "title": "Id"
        },
        "dataId": {
          "type": "string",
          "description": "Data ID of the monster.",
          "title": "Data Id"
        },
        "colors": {
          "type": "object",
          "description": "Mapping of included colors.",
          "title": "Colors"
        },
        "pattern": {
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "description": "Pixel pattern of the monster.",
          "title": "Pattern"
        },
        "fillType": {
          "type": "integer",
          "format": "int32",
          "description": "Fill type of the monster.",
          "title": "Fill Type"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://pixelencounter.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://pixelencounter.com/TermsAndPrivacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ]
}