{
  "swagger": "2.0",
  "info": {
    "title": "NASA NeoWs",
    "description": "NeoWs (Near Earth Object Web Service) is a web service for near earth Asteroid information: search for Asteroids based on their closest approach date to Earth, lookup a specific Asteroid with its NASA JPL small body id, as well as browse the overall data-set.",
    "version": "1.0",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_nasaneo@gmail.com"
    }
  },
  "host": "api.nasa.gov",
  "basePath": "/neo/rest/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1/feed": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "links": {
                  "$ref": "#/definitions/LinksResponse"
                },
                "element_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of results in current query.",
                  "title": "Element count"
                },
                "near_earth_objects": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "links": {
                          "$ref": "#/definitions/NEO_Links"
                        },
                        "id": {
                          "$ref": "#/definitions/NEO_ID"
                        },
                        "neo_reference_id": {
                          "$ref": "#/definitions/NEO_RefId"
                        },
                        "name": {
                          "$ref": "#/definitions/NEO_Name"
                        },
                        "nasa_jpl_url": {
                          "$ref": "#/definitions/NEO_JPLURL"
                        },
                        "absolute_magnitude_h": {
                          "$ref": "#/definitions/NEO_AbsMagnitude"
                        },
                        "estimated_diameter": {
                          "$ref": "#/definitions/NEO_EstDiameter"
                        },
                        "is_potentially_hazardous_asteroid": {
                          "$ref": "#/definitions/NEO_IsHazardous"
                        },
                        "close_approach_data": {
                          "$ref": "#/definitions/NEO_CloseApproach"
                        },
                        "is_sentry_object": {
                          "$ref": "#/definitions/NEO_IsSentry"
                        }
                      }
                    }
                  },
                  "description": "Collection of near earth objects.",
                  "title": "Near earth objects"
                }
              }
            }
          }
        },
        "summary": "Feed",
        "description": "Retrieve a list of Asteroids based on their closest approach date to Earth.",
        "operationId": "Feed",
        "parameters": [
          {
            "name": "start_date",
            "description": "Starting date for asteroid search, in YYYY-MM-DD format.",
            "x-ms-summary": "Start Date",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "end_date",
            "description": "Ending date for asteroid search, in YYYY-MM-DD format.",
            "x-ms-summary": "End Date",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/v1/neo/browse": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "links": {
                  "$ref": "#/definitions/LinksResponse"
                },
                "page": {
                  "type": "object",
                  "properties": {
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Size of the page.",
                      "title": "Size"
                    },
                    "total_elements": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of total elements.",
                      "title": "Total elements"
                    },
                    "total_pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of total pages.",
                      "title": "Total pages"
                    },
                    "number": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Page number.",
                      "title": "Number"
                    }
                  },
                  "description": "Page details.",
                  "title": "Page"
                },
                "near_earth_objects": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "links": {
                        "$ref": "#/definitions/NEO_Links"
                      },
                      "id": {
                        "$ref": "#/definitions/NEO_ID"
                      },
                      "neo_reference_id": {
                        "$ref": "#/definitions/NEO_RefId"
                      },
                      "name": {
                        "$ref": "#/definitions/NEO_Name"
                      },
                      "name_limited": {
                        "$ref": "#/definitions/NEO_NameLimited"
                      },
                      "designation": {
                        "$ref": "#/definitions/NEO_Designation"
                      },
                      "nasa_jpl_url": {
                        "$ref": "#/definitions/NEO_JPLURL"
                      },
                      "absolute_magnitude_h": {
                        "$ref": "#/definitions/NEO_AbsMagnitude"
                      },
                      "estimated_diameter": {
                        "$ref": "#/definitions/NEO_EstDiameter"
                      },
                      "is_potentially_hazardous_asteroid": {
                        "$ref": "#/definitions/NEO_IsHazardous"
                      },
                      "close_approach_data": {
                        "$ref": "#/definitions/NEO_CloseApproach"
                      },
                      "orbital_data": {
                        "$ref": "#/definitions/NEO_OrbitData"
                      },
                      "is_sentry_object": {
                        "$ref": "#/definitions/NEO_IsSentry"
                      }
                    }
                  },
                  "description": "Array of near earth objects.",
                  "title": "Near Earth Objects"
                }
              }
            }
          }
        },
        "summary": "Browse",
        "operationId": "Browse",
        "description": "Browse the overall Asteroid data-set.",
        "parameters": []
      }
    },
    "/v1/neo/{asteroid_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "links": {
                  "$ref": "#/definitions/NEO_Links"
                },
                "id": {
                  "$ref": "#/definitions/NEO_ID"
                },
                "neo_reference_id": {
                  "$ref": "#/definitions/NEO_RefId"
                },
                "name": {
                  "$ref": "#/definitions/NEO_Name"
                },
                "designation": {
                  "$ref": "#/definitions/NEO_Designation"
                },
                "nasa_jpl_url": {
                  "$ref": "#/definitions/NEO_JPLURL"
                },
                "absolute_magnitude_h": {
                  "$ref": "#/definitions/NEO_AbsMagnitude"
                },
                "estimated_diameter": {
                  "$ref": "#/definitions/NEO_EstDiameter"
                },
                "is_potentially_hazardous_asteroid": {
                  "$ref": "#/definitions/NEO_IsHazardous"
                },
                "close_approach_data": {
                  "$ref": "#/definitions/NEO_CloseApproach"
                },
                "orbital_data": {
                  "$ref": "#/definitions/NEO_OrbitData"
                },
                "is_sentry_object": {
                  "$ref": "#/definitions/NEO_IsSentry"
                }
              }
            }
          }
        },
        "summary": "Lookup",
        "operationId": "Lookup",
        "description": "Lookup a specific Asteroid based on its NASA JPL small body (SPK-ID) ID.",
        "parameters": [
          {
            "name": "asteroid_id",
            "description": "Asteroid SPK-ID, which correlates to the NASA JPL small body.",
            "x-ms-summary": "Asteroid ID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    }
  },
  "definitions": {
    "NEO_Links": {
      "type": "object",
      "properties": {
        "self": {
          "type": "string",
          "description": "URL to the detailed information about the object.",
          "title": "Self"
        }
      },
      "description": "Collection of links.",
      "title": "Links"
    },
    "NEO_ID": {
      "type": "string",
      "description": "Unique identifier of the object.",
      "title": "ID"
    },
    "NEO_RefId": {
      "type": "string",
      "description": "Unique NEO reference ID of the object.",
      "title": "NEO Reference ID"
    },
    "NEO_Name": {
      "type": "string",
      "description": "Name of the object.",
      "title": "Name"
    },
    "NEO_NameLimited": {
      "type": "string",
      "description": "Limited name of the object.",
      "title": "Name limited"
    },
    "NEO_Designation": {
      "type": "string",
      "description": "Designation of the object.",
      "title": "Designation"
    },
    "NEO_JPLURL": {
      "type": "string",
      "description": "NASA JPL URL for more details.",
      "title": "NASA JPL URL"
    },
    "NEO_AbsMagnitude": {
      "type": "number",
      "format": "float",
      "description": "The visual magnitude an observer would record if the asteroid were placed 1 Astronomical Unit (au) away, and 1 au from the Sun and at a zero phase angle.",
      "title": "Absolute magnitude (H)"
    },
    "NEO_EstDiameter": {
      "type": "object",
      "properties": {
        "kilometers": {
          "type": "object",
          "properties": {
            "estimated_diameter_min": {
              "type": "number",
              "format": "float",
              "description": "Minimal estimated diameter in kilometers.",
              "title": "Min (km)"
            },
            "estimated_diameter_max": {
              "type": "number",
              "format": "float",
              "description": "Maximum estimated diameter in kilometers.",
              "title": "Max (km)"
            }
          },
          "description": "Estimated diameter in kilometers.",
          "title": "Kilometers"
        },
        "meters": {
          "type": "object",
          "properties": {
            "estimated_diameter_min": {
              "type": "number",
              "format": "float",
              "description": "Minimum estimated diameter in meters.",
              "title": "Min (m)"
            },
            "estimated_diameter_max": {
              "type": "number",
              "format": "float",
              "description": "Maximum esitmated diameter in meters.",
              "title": "Max (m)"
            }
          },
          "description": "Estimated diameter in meters.",
          "title": "Meters"
        },
        "miles": {
          "type": "object",
          "properties": {
            "estimated_diameter_min": {
              "type": "number",
              "format": "float",
              "description": "Minimal estimated diameter in miles.",
              "title": "Min (mi)"
            },
            "estimated_diameter_max": {
              "type": "number",
              "format": "float",
              "description": "Maximum estimated diameter in miles.",
              "title": "Max (mi)"
            }
          },
          "description": "Estimated diameter in miles.",
          "title": "Miles"
        },
        "feet": {
          "type": "object",
          "properties": {
            "estimated_diameter_min": {
              "type": "number",
              "format": "float",
              "description": "Minimal estimated diameter in feet.",
              "title": "Min (ft)"
            },
            "estimated_diameter_max": {
              "type": "number",
              "format": "float",
              "description": "Maximal estimated diameter in feet.",
              "title": "Max (ft)"
            }
          },
          "description": "Estimated diameter in feet.",
          "title": "Feet"
        }
      },
      "description": "Details of estimated diameter.",
      "title": "Estimated diameter"
    },
    "NEO_IsHazardous": {
      "type": "boolean",
      "description": "Is potentially hazardous asteroid.",
      "title": "Is potentially hazardous"
    },
    "NEO_CloseApproach": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "close_approach_date": {
            "type": "string",
            "description": "Date of close approach.",
            "title": "Date"
          },
          "close_approach_date_full": {
            "type": "string",
            "description": "Full date of close approach.",
            "title": "Full Date"
          },
          "epoch_date_close_approach": {
            "type": "integer",
            "format": "int32",
            "description": "Epoch date of close approach.",
            "title": "Date (Epoch)"
          },
          "relative_velocity": {
            "type": "object",
            "properties": {
              "kilometers_per_second": {
                "type": "string",
                "description": "Relative velocity in kilometers per second.",
                "title": "(km/s)"
              },
              "kilometers_per_hour": {
                "type": "string",
                "description": "Relative velocity in kilometers per hour.",
                "title": "(km/h)"
              },
              "miles_per_hour": {
                "type": "string",
                "description": "Relative velocity in miles per hour.",
                "title": "(mi/h)"
              }
            },
            "description": "Relative velocity of the object.",
            "title": "Relative velocity"
          },
          "miss_distance": {
            "type": "object",
            "properties": {
              "astronomical": {
                "type": "string",
                "description": "Astronomical miss distance.",
                "title": "Astronimical"
              },
              "lunar": {
                "type": "string",
                "description": "Lunar miss distance.",
                "title": "Lunar"
              },
              "kilometers": {
                "type": "string",
                "description": "Miss distance in kilometers.",
                "title": "Miss distance (km)"
              },
              "miles": {
                "type": "string",
                "description": "Miss distance in miles.",
                "title": "Miss distance (mi)"
              }
            },
            "description": "Miss distance of the object.",
            "title": "Miss distance"
          },
          "orbiting_body": {
            "type": "string",
            "description": "Orbiting body of the object.",
            "title": "Orbiting body"
          }
        }
      },
      "description": "Details of close approach.",
      "title": "Close approach"
    },
    "NEO_IsSentry": {
      "type": "boolean",
      "description": "Indication, whether is sentry object.",
      "title": "Is sentry object"
    },
    "NEO_OrbitData": {
      "type": "object",
      "properties": {
        "orbit_id": {
          "type": "string",
          "description": "Unique ID of the orbit.",
          "title": "ID"
        },
        "orbit_determination_date": {
          "type": "string",
          "description": "Date, when orbit was determined.",
          "title": "Orbit determined"
        },
        "first_observation_date": {
          "type": "string",
          "description": "Date, when orbit was first observed.",
          "title": "First observed"
        },
        "last_observation_date": {
          "type": "string",
          "description": "Date, when orbit was last time observed.",
          "title": "Last observed"
        },
        "observations_used": {
          "type": "integer",
          "format": "int32",
          "description": "Number of observations used.",
          "title": "Observations used"
        },
        "orbit_uncertainty": {
          "type": "string",
          "description": "Uncertainty of the orbit.",
          "title": "Orbit uncertainty"
        },
        "minimum_orbit_intersection": {
          "type": "string",
          "description": "Minimum orbit intersection.",
          "title": "Min Orbit intersection"
        },
        "jupiter_tisserand_invariant": {
          "type": "string",
          "description": "Jupiter-Tisserand invariant.",
          "title": "Tj"
        },
        "epoch_osculation": {
          "type": "string",
          "description": "Epoch osculation.",
          "title": "Epoch osculation"
        },
        "eccentricity": {
          "type": "string",
          "description": "Eccentricity alias orbit deviation from perfect circle.",
          "title": "Eccentricity"
        },
        "semi_major_axis": {
          "type": "string",
          "description": "Semi major axis.",
          "title": "Semi major axis"
        },
        "inclination": {
          "type": "string",
          "description": "Orbit inclination.",
          "title": "Inclination"
        },
        "ascending_node_longitude": {
          "type": "string",
          "description": "Ascending node longitude.",
          "title": "Asc. node longitude"
        },
        "orbital_period": {
          "type": "string",
          "description": "Orbital period.",
          "title": "Orbital period"
        },
        "perihelion_distance": {
          "type": "string",
          "description": "Perihelion distance.",
          "title": "Perihelion distance"
        },
        "perihelion_argument": {
          "type": "string",
          "description": "Perihelion argument.",
          "title": "Perihelion argument"
        },
        "aphelion_distance": {
          "type": "string",
          "description": "Aphelion distance.",
          "title": "Aphelion distance"
        },
        "perihelion_time": {
          "type": "string",
          "description": "Perihelion time.",
          "title": "Perihelion time"
        },
        "mean_anomaly": {
          "type": "string",
          "description": "Mean anomaly.",
          "title": "Mean anomaly"
        },
        "mean_motion": {
          "type": "string",
          "description": "Mean motion.",
          "title": "Mean motion"
        },
        "equinox": {
          "type": "string",
          "description": "Equinox.",
          "title": "Equinox"
        },
        "orbit_class": {
          "type": "object",
          "properties": {
            "orbit_class_type": {
              "type": "string",
              "description": "Orbit class type.",
              "title": "Type"
            },
            "orbit_class_description": {
              "type": "string",
              "description": "Orbit class description.",
              "title": "Description"
            },
            "orbit_class_range": {
              "type": "string",
              "description": "Orbit class range.",
              "title": "Range"
            }
          },
          "description": "Orbit class details.",
          "title": "Class"
        }
      },
      "description": "Orbital details of the object.",
      "title": "Orbital data"
    },
    "LinksResponse": {
      "type": "object",
      "properties": {
        "next": {
          "type": "string",
          "description": "URL of next data set.",
          "title": "Next"
        },
        "previous": {
          "type": "string",
          "description": "URL of previous data set.",
          "title": "Previous"
        },
        "self": {
          "type": "string",
          "description": "URL of self query.",
          "title": "Self"
        }
      },
      "description": "Collection of query links.",
      "title": "Links"
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "api_key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.nasa.gov/about"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.nasa.gov/about/highlights/HP_Privacy.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}