{
  "swagger": "2.0",
  "info": {
    "title": "Calendly",
    "description": "Calendly is a scheduling automation platform. This connector enables querying events, invitees, availability, creating single-use booking links, and canceling events to complement the certified connector.",
    "version": "1.0",
    "contact": {
      "name": "Aaron Mah",
      "url": "https://github.com/aaronmah",
      "email": "aaronmah@microsoft.com"
    }
  },
  "host": "api.calendly.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://calendly.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://calendly.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Business Management"
    }
  ],
  "paths": {
    "/users/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get Current User",
        "description": "Returns the authenticated user profile including their URI, organization, and scheduling URL.",
        "x-ms-visibility": "important",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The authenticated user profile.",
            "schema": {
              "$ref": "#/definitions/GetCurrentUserResponse"
            }
          }
        }
      }
    },
    "/scheduled_events": {
      "get": {
        "operationId": "listScheduledEvents",
        "summary": "List Scheduled Events",
        "description": "Lists scheduled events for a user with optional filtering by status, date range, and invitee email.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "User URI from Get Current User (e.g., https://api.calendly.com/users/ABCDEF123).",
            "x-ms-summary": "User URI",
            "x-ms-visibility": "important"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter by event status.",
            "x-ms-summary": "Status",
            "x-ms-visibility": "advanced",
            "enum": [
              "active",
              "canceled"
            ]
          },
          {
            "name": "min_start_time",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Only return events starting at or after this time (ISO 8601, e.g., 2024-01-15T00:00:00Z).",
            "x-ms-summary": "Min Start Time",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "max_start_time",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Only return events starting before this time (ISO 8601).",
            "x-ms-summary": "Max Start Time",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "invitee_email",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter events by invitee email address.",
            "x-ms-summary": "Invitee Email",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of results per page (1-100, default 20).",
            "x-ms-summary": "Count",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Token for fetching the next page of results.",
            "x-ms-summary": "Page Token",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sort order: start_time:asc or start_time:desc.",
            "x-ms-summary": "Sort",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of scheduled events.",
            "schema": {
              "$ref": "#/definitions/ListScheduledEventsResponse"
            }
          }
        }
      }
    },
    "/scheduled_events/{event_uuid}": {
      "get": {
        "operationId": "getScheduledEvent",
        "summary": "Get Scheduled Event",
        "description": "Returns the full details of a specific scheduled event by its UUID.",
        "parameters": [
          {
            "name": "event_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The UUID of the scheduled event (last segment of the event URI).",
            "x-ms-summary": "Event UUID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The scheduled event details.",
            "schema": {
              "$ref": "#/definitions/GetScheduledEventResponse"
            }
          }
        }
      }
    },
    "/scheduled_events/{event_uuid}/invitees": {
      "get": {
        "operationId": "listEventInvitees",
        "summary": "List Event Invitees",
        "description": "Lists all invitees for a specific scheduled event, including contact info and custom question responses.",
        "parameters": [
          {
            "name": "event_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The UUID of the scheduled event.",
            "x-ms-summary": "Event UUID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter by invitee status.",
            "x-ms-summary": "Status",
            "x-ms-visibility": "advanced",
            "enum": [
              "active",
              "canceled"
            ]
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter by invitee email address.",
            "x-ms-summary": "Email",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of results per page (1-100, default 20).",
            "x-ms-summary": "Count",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Token for fetching the next page of results.",
            "x-ms-summary": "Page Token",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sort order: created_at:asc or created_at:desc.",
            "x-ms-summary": "Sort",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of event invitees.",
            "schema": {
              "$ref": "#/definitions/ListInviteesResponse"
            }
          }
        }
      }
    },
    "/scheduled_events/{event_uuid}/cancellation": {
      "post": {
        "operationId": "cancelScheduledEvent",
        "summary": "Cancel Scheduled Event",
        "description": "Cancels a scheduled event with an optional cancellation reason sent to all participants.",
        "parameters": [
          {
            "name": "event_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The UUID of the scheduled event to cancel.",
            "x-ms-summary": "Event UUID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "reason": {
                  "type": "string",
                  "description": "Cancellation reason sent to all participants.",
                  "x-ms-summary": "Reason"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The cancellation details.",
            "schema": {
              "$ref": "#/definitions/CancelEventResponse"
            }
          }
        }
      }
    },
    "/scheduling_links": {
      "post": {
        "operationId": "createSchedulingLink",
        "summary": "Create Scheduling Link",
        "description": "Creates a single-use scheduling link for an event type, ideal for personalized outreach.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "owner",
                "owner_type",
                "max_event_count"
              ],
              "properties": {
                "owner": {
                  "type": "string",
                  "description": "Event type URI to create the link for (from List Event Types).",
                  "x-ms-summary": "Event Type URI",
                  "x-ms-visibility": "important"
                },
                "owner_type": {
                  "type": "string",
                  "description": "Must be EventType.",
                  "x-ms-summary": "Owner Type",
                  "default": "EventType",
                  "x-ms-visibility": "internal"
                },
                "max_event_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of bookings allowed (typically 1 for single-use).",
                  "x-ms-summary": "Max Event Count",
                  "default": 1,
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The created scheduling link.",
            "schema": {
              "$ref": "#/definitions/CreateSchedulingLinkResponse"
            }
          }
        }
      }
    },
    "/event_type_available_times": {
      "get": {
        "operationId": "listAvailableTimes",
        "summary": "List Available Times",
        "description": "Returns available time slots for a specific event type within a date range.",
        "parameters": [
          {
            "name": "event_type",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Event type URI (from List Event Types).",
            "x-ms-summary": "Event Type URI",
            "x-ms-visibility": "important"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Start of the availability window (ISO 8601, e.g., 2024-01-15T00:00:00Z).",
            "x-ms-summary": "Start Time",
            "x-ms-visibility": "important"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "End of the availability window (ISO 8601).",
            "x-ms-summary": "End Time",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of available time slots.",
            "schema": {
              "$ref": "#/definitions/ListAvailableTimesResponse"
            }
          }
        }
      }
    },
    "/event_types": {
      "get": {
        "operationId": "listEventTypes",
        "summary": "List Event Types",
        "description": "Lists all event types (meeting templates) for the authenticated user.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "User URI from Get Current User (e.g., https://api.calendly.com/users/ABCDEF123).",
            "x-ms-summary": "User URI",
            "x-ms-visibility": "important"
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Filter to only active (true) or inactive (false) event types.",
            "x-ms-summary": "Active",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of results per page (1-100, default 20).",
            "x-ms-summary": "Count",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Token for fetching the next page of results.",
            "x-ms-summary": "Page Token",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sort order: name:asc or name:desc.",
            "x-ms-summary": "Sort",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of event types.",
            "schema": {
              "$ref": "#/definitions/ListEventTypesResponse"
            }
          }
        }
      }
    },
    "/user_busy_times": {
      "get": {
        "operationId": "getUserBusyTimes",
        "summary": "Get User Busy Times",
        "description": "Returns time ranges where the user is busy within a specified window.",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "User URI from Get Current User.",
            "x-ms-summary": "User URI",
            "x-ms-visibility": "important"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Start of the time range to check (ISO 8601).",
            "x-ms-summary": "Start Time",
            "x-ms-visibility": "important"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "End of the time range to check (ISO 8601).",
            "x-ms-summary": "End Time",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of busy time ranges.",
            "schema": {
              "$ref": "#/definitions/ListBusyTimesResponse"
            }
          }
        }
      }
    },
    "/scheduled_events/{event_uuid}/invitees/{invitee_uuid}": {
      "get": {
        "operationId": "getEventInvitee",
        "summary": "Get Event Invitee",
        "description": "Returns full details of a specific invitee for a scheduled event.",
        "parameters": [
          {
            "name": "event_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The UUID of the scheduled event.",
            "x-ms-summary": "Event UUID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "invitee_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The UUID of the invitee.",
            "x-ms-summary": "Invitee UUID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The invitee details.",
            "schema": {
              "$ref": "#/definitions/GetInviteeResponse"
            }
          }
        }
      }
    },
    "/user_availability_schedules": {
      "get": {
        "operationId": "listAvailabilitySchedules",
        "summary": "List Availability Schedules",
        "description": "Returns the user configured availability schedules including working hours and time-off rules.",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "User URI from Get Current User.",
            "x-ms-summary": "User URI",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of availability schedules.",
            "schema": {
              "$ref": "#/definitions/ListAvailabilitySchedulesResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "UserResource": {
      "type": "object",
      "description": "Calendly user profile.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The user full URI identifier.",
          "x-ms-summary": "User URI"
        },
        "name": {
          "type": "string",
          "description": "Display name of the user.",
          "x-ms-summary": "Name"
        },
        "email": {
          "type": "string",
          "description": "Email address of the user.",
          "x-ms-summary": "Email"
        },
        "timezone": {
          "type": "string",
          "description": "IANA timezone (e.g., America/New_York).",
          "x-ms-summary": "Timezone"
        },
        "scheduling_url": {
          "type": "string",
          "description": "Public Calendly scheduling page URL.",
          "x-ms-summary": "Scheduling URL"
        },
        "current_organization": {
          "type": "string",
          "description": "URI of the user organization.",
          "x-ms-summary": "Organization URI"
        },
        "slug": {
          "type": "string",
          "description": "Calendly URL slug for the user.",
          "x-ms-summary": "Slug"
        },
        "avatar_url": {
          "type": "string",
          "description": "URL of the user avatar image.",
          "x-ms-summary": "Avatar URL"
        },
        "created_at": {
          "type": "string",
          "description": "ISO 8601 timestamp of account creation.",
          "x-ms-summary": "Created At"
        },
        "updated_at": {
          "type": "string",
          "description": "ISO 8601 timestamp of last profile update.",
          "x-ms-summary": "Updated At"
        }
      }
    },
    "GetCurrentUserResponse": {
      "type": "object",
      "description": "Response containing the authenticated user profile.",
      "properties": {
        "resource": {
          "$ref": "#/definitions/UserResource"
        }
      }
    },
    "ScheduledEvent": {
      "type": "object",
      "description": "A Calendly scheduled event.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Unique URI of the scheduled event.",
          "x-ms-summary": "Event URI"
        },
        "name": {
          "type": "string",
          "description": "Name of the event type (e.g., 30 Minute Meeting).",
          "x-ms-summary": "Event Name"
        },
        "status": {
          "type": "string",
          "description": "Event status: active or canceled.",
          "x-ms-summary": "Status"
        },
        "start_time": {
          "type": "string",
          "description": "Event start time in ISO 8601 format.",
          "x-ms-summary": "Start Time"
        },
        "end_time": {
          "type": "string",
          "description": "Event end time in ISO 8601 format.",
          "x-ms-summary": "End Time"
        },
        "event_type": {
          "type": "string",
          "description": "URI of the associated event type.",
          "x-ms-summary": "Event Type URI"
        },
        "location": {
          "type": "object",
          "description": "Location details for the event.",
          "properties": {
            "type": {
              "type": "string",
              "description": "Location type (e.g., google_conference, zoom, microsoft_teams_conference).",
              "x-ms-summary": "Location Type"
            },
            "location": {
              "type": "string",
              "description": "Location description or URL.",
              "x-ms-summary": "Location"
            },
            "join_url": {
              "type": "string",
              "description": "Video conference join URL, if applicable.",
              "x-ms-summary": "Join URL"
            }
          }
        },
        "invitees_counter": {
          "type": "object",
          "description": "Summary of invitee counts for this event.",
          "properties": {
            "total": {
              "type": "integer",
              "format": "int32",
              "description": "Total number of invitees.",
              "x-ms-summary": "Total Invitees"
            },
            "active": {
              "type": "integer",
              "format": "int32",
              "description": "Number of active (non-canceled) invitees.",
              "x-ms-summary": "Active Invitees"
            },
            "limit": {
              "type": "integer",
              "format": "int32",
              "description": "Maximum invitees allowed for this event.",
              "x-ms-summary": "Invitee Limit"
            }
          }
        },
        "created_at": {
          "type": "string",
          "description": "ISO 8601 timestamp when the event was created.",
          "x-ms-summary": "Created At"
        },
        "updated_at": {
          "type": "string",
          "description": "ISO 8601 timestamp when the event was last updated.",
          "x-ms-summary": "Updated At"
        },
        "event_memberships": {
          "type": "array",
          "description": "List of host users for this event.",
          "items": {
            "type": "object",
            "description": "Host user membership for this event.",
            "properties": {
              "user": {
                "type": "string",
                "description": "URI of the host user.",
                "x-ms-summary": "Host User URI"
              }
            }
          }
        }
      }
    },
    "ListScheduledEventsResponse": {
      "type": "object",
      "description": "Response containing a paginated list of scheduled events.",
      "properties": {
        "collection": {
          "type": "array",
          "description": "Array of scheduled event objects.",
          "items": {
            "$ref": "#/definitions/ScheduledEvent"
          }
        },
        "pagination": {
          "type": "object",
          "properties": {
            "count": {
              "type": "integer",
              "format": "int32",
              "description": "Number of results returned in this page.",
              "x-ms-summary": "Result Count"
            },
            "next_page_token": {
              "type": "string",
              "description": "Token to retrieve the next page of results. Null if no more pages.",
              "x-ms-summary": "Next Page Token"
            }
          }
        }
      }
    },
    "GetScheduledEventResponse": {
      "type": "object",
      "description": "Response containing a single scheduled event with full details.",
      "properties": {
        "resource": {
          "type": "object",
          "description": "The scheduled event details.",
          "properties": {
            "uri": {
              "type": "string",
              "description": "Unique URI of the scheduled event.",
              "x-ms-summary": "Event URI"
            },
            "name": {
              "type": "string",
              "description": "Name of the event type.",
              "x-ms-summary": "Event Name"
            },
            "status": {
              "type": "string",
              "description": "Event status: active or canceled.",
              "x-ms-summary": "Status"
            },
            "start_time": {
              "type": "string",
              "description": "Event start time in ISO 8601 format.",
              "x-ms-summary": "Start Time"
            },
            "end_time": {
              "type": "string",
              "description": "Event end time in ISO 8601 format.",
              "x-ms-summary": "End Time"
            },
            "event_type": {
              "type": "string",
              "description": "URI of the associated event type.",
              "x-ms-summary": "Event Type URI"
            },
            "location": {
              "type": "object",
              "description": "Location details for the event.",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Location type (e.g., google_conference, zoom, microsoft_teams_conference).",
                  "x-ms-summary": "Location Type"
                },
                "location": {
                  "type": "string",
                  "description": "Location description or URL.",
                  "x-ms-summary": "Location"
                },
                "join_url": {
                  "type": "string",
                  "description": "Video conference join URL, if applicable.",
                  "x-ms-summary": "Join URL"
                }
              }
            },
            "invitees_counter": {
              "type": "object",
              "description": "Summary of invitee counts for this event.",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of invitees.",
                  "x-ms-summary": "Total Invitees"
                },
                "active": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of active (non-canceled) invitees.",
                  "x-ms-summary": "Active Invitees"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum invitees allowed for this event.",
                  "x-ms-summary": "Invitee Limit"
                }
              }
            },
            "created_at": {
              "type": "string",
              "description": "ISO 8601 timestamp when the event was created.",
              "x-ms-summary": "Created At"
            },
            "updated_at": {
              "type": "string",
              "description": "ISO 8601 timestamp when the event was last updated.",
              "x-ms-summary": "Updated At"
            },
            "event_memberships": {
              "type": "array",
              "description": "List of host users for this event.",
              "items": {
                "type": "object",
                "description": "Host user membership for this event.",
                "properties": {
                  "user": {
                    "type": "string",
                    "description": "URI of the host user.",
                    "x-ms-summary": "Host User URI"
                  }
                }
              }
            },
            "event_guests": {
              "type": "array",
              "description": "Additional guest emails for this event.",
              "items": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Guest email address.",
                    "x-ms-summary": "Guest Email"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "ISO 8601 timestamp when the guest was added.",
                    "x-ms-summary": "Created At"
                  }
                }
              }
            },
            "calendar_event": {
              "type": "object",
              "description": "External calendar event reference.",
              "properties": {
                "external_id": {
                  "type": "string",
                  "description": "ID in external calendar (Google, Outlook).",
                  "x-ms-summary": "External Calendar ID"
                },
                "kind": {
                  "type": "string",
                  "description": "Calendar type (e.g., google, outlook).",
                  "x-ms-summary": "Calendar Kind"
                }
              }
            }
          }
        }
      }
    },
    "Invitee": {
      "type": "object",
      "description": "An invitee for a scheduled event.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Unique URI of the invitee.",
          "x-ms-summary": "Invitee URI"
        },
        "email": {
          "type": "string",
          "description": "Email address of the invitee.",
          "x-ms-summary": "Email"
        },
        "name": {
          "type": "string",
          "description": "Full name of the invitee.",
          "x-ms-summary": "Name"
        },
        "first_name": {
          "type": "string",
          "description": "First name of the invitee.",
          "x-ms-summary": "First Name"
        },
        "last_name": {
          "type": "string",
          "description": "Last name of the invitee.",
          "x-ms-summary": "Last Name"
        },
        "status": {
          "type": "string",
          "description": "Invitee status: active or canceled.",
          "x-ms-summary": "Status"
        },
        "timezone": {
          "type": "string",
          "description": "IANA timezone of the invitee.",
          "x-ms-summary": "Timezone"
        },
        "created_at": {
          "type": "string",
          "description": "ISO 8601 timestamp when the invitee booked.",
          "x-ms-summary": "Created At"
        },
        "updated_at": {
          "type": "string",
          "description": "ISO 8601 timestamp of last update.",
          "x-ms-summary": "Updated At"
        },
        "questions_and_answers": {
          "type": "array",
          "description": "Custom question responses from the invitee.",
          "items": {
            "type": "object",
            "description": "Custom question and answer from the invitee.",
            "properties": {
              "question": {
                "type": "string",
                "description": "The question text.",
                "x-ms-summary": "Question"
              },
              "answer": {
                "type": "string",
                "description": "The invitee answer.",
                "x-ms-summary": "Answer"
              },
              "position": {
                "type": "integer",
                "format": "int32",
                "description": "Display order of the question.",
                "x-ms-summary": "Position"
              }
            }
          }
        },
        "cancel_url": {
          "type": "string",
          "description": "URL to cancel this booking.",
          "x-ms-summary": "Cancel URL"
        },
        "reschedule_url": {
          "type": "string",
          "description": "URL to reschedule this booking.",
          "x-ms-summary": "Reschedule URL"
        },
        "rescheduled": {
          "type": "boolean",
          "description": "Whether this invitee was rescheduled from another event.",
          "x-ms-summary": "Rescheduled"
        },
        "no_show": {
          "type": "object",
          "description": "No-show record if marked, null otherwise.",
          "properties": {
            "uri": {
              "type": "string",
              "description": "URI of the no-show record.",
              "x-ms-summary": "No-Show URI"
            },
            "created_at": {
              "type": "string",
              "description": "Timestamp when no-show was recorded.",
              "x-ms-summary": "No-Show Created At"
            }
          }
        },
        "payment": {
          "type": "object",
          "description": "Payment details if applicable, null otherwise.",
          "properties": {
            "external_id": {
              "type": "string",
              "description": "External payment transaction ID.",
              "x-ms-summary": "Payment ID"
            },
            "provider": {
              "type": "string",
              "description": "Payment provider name.",
              "x-ms-summary": "Payment Provider"
            },
            "amount": {
              "type": "number",
              "format": "float",
              "description": "Payment amount.",
              "x-ms-summary": "Amount"
            },
            "currency": {
              "type": "string",
              "description": "Payment currency code.",
              "x-ms-summary": "Currency"
            },
            "terms": {
              "type": "string",
              "description": "Payment terms text.",
              "x-ms-summary": "Terms"
            },
            "successful": {
              "type": "boolean",
              "description": "Whether the payment was successful.",
              "x-ms-summary": "Successful"
            }
          }
        }
      }
    },
    "ListInviteesResponse": {
      "type": "object",
      "description": "Response containing a paginated list of invitees.",
      "properties": {
        "collection": {
          "type": "array",
          "description": "Array of invitee objects.",
          "items": {
            "$ref": "#/definitions/Invitee"
          }
        },
        "pagination": {
          "type": "object",
          "properties": {
            "count": {
              "type": "integer",
              "format": "int32",
              "description": "Number of results returned in this page.",
              "x-ms-summary": "Result Count"
            },
            "next_page_token": {
              "type": "string",
              "description": "Token to retrieve the next page of results. Null if no more pages.",
              "x-ms-summary": "Next Page Token"
            }
          }
        }
      }
    },
    "GetInviteeResponse": {
      "type": "object",
      "description": "Response containing a single invitee with full details.",
      "properties": {
        "resource": {
          "type": "object",
          "description": "Full invitee details.",
          "properties": {
            "uri": {
              "type": "string",
              "description": "Unique URI of the invitee.",
              "x-ms-summary": "Invitee URI"
            },
            "email": {
              "type": "string",
              "description": "Email address of the invitee.",
              "x-ms-summary": "Email"
            },
            "name": {
              "type": "string",
              "description": "Full name of the invitee.",
              "x-ms-summary": "Name"
            },
            "first_name": {
              "type": "string",
              "description": "First name of the invitee.",
              "x-ms-summary": "First Name"
            },
            "last_name": {
              "type": "string",
              "description": "Last name of the invitee.",
              "x-ms-summary": "Last Name"
            },
            "status": {
              "type": "string",
              "description": "Invitee status: active or canceled.",
              "x-ms-summary": "Status"
            },
            "timezone": {
              "type": "string",
              "description": "IANA timezone of the invitee.",
              "x-ms-summary": "Timezone"
            },
            "created_at": {
              "type": "string",
              "description": "ISO 8601 timestamp when the invitee booked.",
              "x-ms-summary": "Created At"
            },
            "updated_at": {
              "type": "string",
              "description": "ISO 8601 timestamp of last update.",
              "x-ms-summary": "Updated At"
            },
            "questions_and_answers": {
              "type": "array",
              "description": "Custom question responses from the invitee.",
              "items": {
                "type": "object",
                "description": "Custom question and answer from the invitee.",
                "properties": {
                  "question": {
                    "type": "string",
                    "description": "The question text.",
                    "x-ms-summary": "Question"
                  },
                  "answer": {
                    "type": "string",
                    "description": "The invitee answer.",
                    "x-ms-summary": "Answer"
                  },
                  "position": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Display order of the question.",
                    "x-ms-summary": "Position"
                  }
                }
              }
            },
            "cancel_url": {
              "type": "string",
              "description": "URL to cancel this booking.",
              "x-ms-summary": "Cancel URL"
            },
            "reschedule_url": {
              "type": "string",
              "description": "URL to reschedule this booking.",
              "x-ms-summary": "Reschedule URL"
            },
            "rescheduled": {
              "type": "boolean",
              "description": "Whether this invitee was rescheduled.",
              "x-ms-summary": "Rescheduled"
            },
            "old_invitee": {
              "type": "string",
              "description": "URI of previous invitee record if rescheduled.",
              "x-ms-summary": "Old Invitee URI"
            },
            "new_invitee": {
              "type": "string",
              "description": "URI of new invitee record if rescheduled.",
              "x-ms-summary": "New Invitee URI"
            },
            "no_show": {
              "type": "object",
              "description": "No-show record if marked, null otherwise.",
              "properties": {
                "uri": {
                  "type": "string",
                  "description": "URI of the no-show record.",
                  "x-ms-summary": "No-Show URI"
                },
                "created_at": {
                  "type": "string",
                  "description": "Timestamp when no-show was recorded.",
                  "x-ms-summary": "No-Show Created At"
                }
              }
            },
            "tracking": {
              "type": "object",
              "description": "UTM tracking parameters.",
              "properties": {
                "utm_source": {
                  "type": "string",
                  "description": "UTM source.",
                  "x-ms-summary": "UTM Source"
                },
                "utm_medium": {
                  "type": "string",
                  "description": "UTM medium.",
                  "x-ms-summary": "UTM Medium"
                },
                "utm_campaign": {
                  "type": "string",
                  "description": "UTM campaign.",
                  "x-ms-summary": "UTM Campaign"
                },
                "utm_term": {
                  "type": "string",
                  "description": "UTM term.",
                  "x-ms-summary": "UTM Term"
                },
                "utm_content": {
                  "type": "string",
                  "description": "UTM content.",
                  "x-ms-summary": "UTM Content"
                }
              }
            },
            "payment": {
              "type": "object",
              "description": "Payment details if applicable, null otherwise.",
              "properties": {
                "external_id": {
                  "type": "string",
                  "description": "External payment transaction ID.",
                  "x-ms-summary": "Payment ID"
                },
                "provider": {
                  "type": "string",
                  "description": "Payment provider name.",
                  "x-ms-summary": "Payment Provider"
                },
                "amount": {
                  "type": "number",
                  "format": "float",
                  "description": "Payment amount.",
                  "x-ms-summary": "Amount"
                },
                "currency": {
                  "type": "string",
                  "description": "Payment currency code.",
                  "x-ms-summary": "Currency"
                },
                "terms": {
                  "type": "string",
                  "description": "Payment terms text.",
                  "x-ms-summary": "Terms"
                },
                "successful": {
                  "type": "boolean",
                  "description": "Whether the payment was successful.",
                  "x-ms-summary": "Successful"
                }
              }
            }
          }
        }
      }
    },
    "CancelEventResponse": {
      "type": "object",
      "description": "Response after canceling a scheduled event.",
      "properties": {
        "resource": {
          "type": "object",
          "description": "Cancellation details.",
          "properties": {
            "canceled_by": {
              "type": "string",
              "description": "Name of the person who canceled.",
              "x-ms-summary": "Canceled By"
            },
            "reason": {
              "type": "string",
              "description": "The cancellation reason provided.",
              "x-ms-summary": "Reason"
            },
            "created_at": {
              "type": "string",
              "description": "ISO 8601 timestamp of the cancellation.",
              "x-ms-summary": "Canceled At"
            }
          }
        }
      }
    },
    "CreateSchedulingLinkResponse": {
      "type": "object",
      "description": "Response after creating a scheduling link.",
      "properties": {
        "resource": {
          "type": "object",
          "description": "The created scheduling link.",
          "properties": {
            "booking_url": {
              "type": "string",
              "description": "The single-use scheduling URL to share.",
              "x-ms-summary": "Booking URL"
            },
            "owner": {
              "type": "string",
              "description": "The event type URI this link belongs to.",
              "x-ms-summary": "Owner URI"
            },
            "owner_type": {
              "type": "string",
              "description": "Owner type, always EventType.",
              "x-ms-summary": "Owner Type"
            }
          }
        }
      }
    },
    "AvailableTime": {
      "type": "object",
      "description": "An available time slot for booking.",
      "properties": {
        "status": {
          "type": "string",
          "description": "Slot availability status: available or unavailable.",
          "x-ms-summary": "Status"
        },
        "invitees_remaining": {
          "type": "integer",
          "format": "int32",
          "description": "Number of spots remaining for group events.",
          "x-ms-summary": "Invitees Remaining"
        },
        "start_time": {
          "type": "string",
          "description": "Slot start time in ISO 8601 format.",
          "x-ms-summary": "Start Time"
        },
        "scheduling_url": {
          "type": "string",
          "description": "Direct booking URL for this time slot.",
          "x-ms-summary": "Scheduling URL"
        }
      }
    },
    "ListAvailableTimesResponse": {
      "type": "object",
      "description": "Response containing available time slots.",
      "properties": {
        "collection": {
          "type": "array",
          "description": "Array of available time slot objects.",
          "items": {
            "$ref": "#/definitions/AvailableTime"
          }
        }
      }
    },
    "EventType": {
      "type": "object",
      "description": "A Calendly event type (meeting template).",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Unique URI of the event type.",
          "x-ms-summary": "Event Type URI"
        },
        "name": {
          "type": "string",
          "description": "Event type name (e.g., 30 Minute Meeting).",
          "x-ms-summary": "Name"
        },
        "active": {
          "type": "boolean",
          "description": "Whether this event type is currently active.",
          "x-ms-summary": "Active"
        },
        "slug": {
          "type": "string",
          "description": "URL-friendly identifier.",
          "x-ms-summary": "Slug"
        },
        "scheduling_url": {
          "type": "string",
          "description": "Public booking page URL.",
          "x-ms-summary": "Scheduling URL"
        },
        "duration": {
          "type": "integer",
          "format": "int32",
          "description": "Duration in minutes.",
          "x-ms-summary": "Duration (minutes)"
        },
        "kind": {
          "type": "string",
          "description": "Event kind: solo or group.",
          "x-ms-summary": "Kind"
        },
        "type": {
          "type": "string",
          "description": "StandardEventType or AdhocEventType.",
          "x-ms-summary": "Type"
        },
        "color": {
          "type": "string",
          "description": "Display color hex code.",
          "x-ms-summary": "Color"
        },
        "description_plain": {
          "type": "string",
          "description": "Plain text description of the event type.",
          "x-ms-summary": "Description"
        },
        "internal_note": {
          "type": "string",
          "description": "Internal note not visible to invitees.",
          "x-ms-summary": "Internal Note"
        },
        "pooling_type": {
          "type": "string",
          "description": "For round-robin: round_robin or collective.",
          "x-ms-summary": "Pooling Type"
        },
        "secret": {
          "type": "boolean",
          "description": "Whether hidden from the public booking page.",
          "x-ms-summary": "Secret"
        }
      }
    },
    "ListEventTypesResponse": {
      "type": "object",
      "description": "Response containing a paginated list of event types.",
      "properties": {
        "collection": {
          "type": "array",
          "description": "Array of event type objects.",
          "items": {
            "$ref": "#/definitions/EventType"
          }
        },
        "pagination": {
          "type": "object",
          "properties": {
            "count": {
              "type": "integer",
              "format": "int32",
              "description": "Number of results returned in this page.",
              "x-ms-summary": "Result Count"
            },
            "next_page_token": {
              "type": "string",
              "description": "Token to retrieve the next page of results. Null if no more pages.",
              "x-ms-summary": "Next Page Token"
            }
          }
        }
      }
    },
    "BusyTime": {
      "type": "object",
      "description": "A time range where the user is busy.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of busy time (e.g., calendly, external).",
          "x-ms-summary": "Type"
        },
        "start_time": {
          "type": "string",
          "description": "Busy period start in ISO 8601 format.",
          "x-ms-summary": "Start Time"
        },
        "end_time": {
          "type": "string",
          "description": "Busy period end in ISO 8601 format.",
          "x-ms-summary": "End Time"
        },
        "buffered": {
          "type": "boolean",
          "description": "Whether this includes buffer time around an event.",
          "x-ms-summary": "Buffered"
        },
        "event": {
          "type": "object",
          "description": "Reference to the Calendly event causing the busy time.",
          "properties": {
            "uri": {
              "type": "string",
              "description": "URI of the Calendly event.",
              "x-ms-summary": "Event URI"
            }
          }
        }
      }
    },
    "ListBusyTimesResponse": {
      "type": "object",
      "description": "Response containing busy time ranges.",
      "properties": {
        "collection": {
          "type": "array",
          "description": "Array of busy time range objects.",
          "items": {
            "$ref": "#/definitions/BusyTime"
          }
        }
      }
    },
    "AvailabilityRule": {
      "type": "object",
      "description": "An availability rule within a schedule.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Rule type: wday (weekday) or date (specific date).",
          "x-ms-summary": "Rule Type"
        },
        "intervals": {
          "type": "array",
          "description": "Time intervals for this rule.",
          "items": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "description": "Start time in HH:MM format.",
                "x-ms-summary": "From"
              },
              "to": {
                "type": "string",
                "description": "End time in HH:MM format.",
                "x-ms-summary": "To"
              }
            }
          }
        },
        "wday": {
          "type": "string",
          "description": "Day of week (e.g., monday). Only for wday type rules.",
          "x-ms-summary": "Weekday"
        },
        "date": {
          "type": "string",
          "description": "Specific date in YYYY-MM-DD format. Only for date type rules.",
          "x-ms-summary": "Date"
        }
      }
    },
    "AvailabilitySchedule": {
      "type": "object",
      "description": "A user availability schedule (working hours).",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Unique URI of the availability schedule.",
          "x-ms-summary": "Schedule URI"
        },
        "name": {
          "type": "string",
          "description": "Schedule name (e.g., Working Hours).",
          "x-ms-summary": "Name"
        },
        "default": {
          "type": "boolean",
          "description": "Whether this is the default schedule.",
          "x-ms-summary": "Default"
        },
        "timezone": {
          "type": "string",
          "description": "IANA timezone for this schedule.",
          "x-ms-summary": "Timezone"
        },
        "rules": {
          "type": "array",
          "description": "Array of availability rules.",
          "items": {
            "$ref": "#/definitions/AvailabilityRule"
          }
        }
      }
    },
    "ListAvailabilitySchedulesResponse": {
      "type": "object",
      "description": "Response containing availability schedules.",
      "properties": {
        "collection": {
          "type": "array",
          "description": "Array of availability schedule objects.",
          "items": {
            "$ref": "#/definitions/AvailabilitySchedule"
          }
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}
