{
  "swagger": "2.0",
  "info": {
    "title": "Calendly",
    "description": "Calendly is a scheduling automation platform. This connector enables listing events, invitees, availability, creating scheduling links, and canceling events to complement the certified connector's trigger-focused coverage.",
    "version": "1.0",
    "contact": {
      "name": "Aaron Mah",
      "url": "https://github.com/aaronmah",
      "email": "aaronmah@microsoft.com"
    }
  },
  "host": "api.calendly.com",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/users/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get Current User",
        "description": "Returns the authenticated user's profile including their URI, organization, and scheduling URL.",
        "x-ms-visibility": "important",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The authenticated user's profile.",
            "schema": {
              "$ref": "#/definitions/GetCurrentUserResponse"
            }
          }
        }
      }
    },
    "/scheduled_events": {
      "get": {
        "operationId": "listScheduledEvents",
        "summary": "List Scheduled Events",
        "description": "Lists scheduled events for the authenticated user with optional filtering by status, date range, and invitee email.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "User URI from Get Current User (resource.uri).",
            "x-ms-summary": "User URI"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter by event status: active or canceled.",
            "x-ms-summary": "Status",
            "enum": ["active", "canceled"]
          },
          {
            "name": "min_start_time",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Only return events starting at or after this time (ISO 8601).",
            "x-ms-summary": "Min Start Time"
          },
          {
            "name": "max_start_time",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Only return events starting before this time (ISO 8601).",
            "x-ms-summary": "Max Start Time"
          },
          {
            "name": "invitee_email",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter events by invitee email address.",
            "x-ms-summary": "Invitee Email"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Number of results per page (1-100, default 20).",
            "x-ms-summary": "Count"
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Token for fetching the next page of results.",
            "x-ms-summary": "Page Token",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sort order: start_time:asc or start_time:desc.",
            "x-ms-summary": "Sort",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of scheduled events.",
            "schema": {
              "$ref": "#/definitions/ListScheduledEventsResponse"
            }
          }
        }
      }
    },
    "/scheduled_events/{event_uuid}": {
      "get": {
        "operationId": "getScheduledEvent",
        "summary": "Get Scheduled Event",
        "description": "Returns the full details of a specific scheduled event by its UUID.",
        "parameters": [
          {
            "name": "event_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The UUID of the scheduled event.",
            "x-ms-summary": "Event UUID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The scheduled event details.",
            "schema": {
              "$ref": "#/definitions/GetScheduledEventResponse"
            }
          }
        }
      }
    },
    "/scheduled_events/{event_uuid}/invitees": {
      "get": {
        "operationId": "listEventInvitees",
        "summary": "List Event Invitees",
        "description": "Lists all invitees for a specific scheduled event, including their contact info and custom question responses.",
        "parameters": [
          {
            "name": "event_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The UUID of the scheduled event.",
            "x-ms-summary": "Event UUID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter by invitee status: active or canceled.",
            "x-ms-summary": "Status",
            "enum": ["active", "canceled"]
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter by invitee email address.",
            "x-ms-summary": "Email"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Number of results per page (1-100, default 20).",
            "x-ms-summary": "Count"
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Token for fetching the next page of results.",
            "x-ms-summary": "Page Token",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sort order: created_at:asc or created_at:desc.",
            "x-ms-summary": "Sort",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of event invitees.",
            "schema": {
              "$ref": "#/definitions/ListEventInviteesResponse"
            }
          }
        }
      }
    },
    "/scheduled_events/{event_uuid}/cancellation": {
      "post": {
        "operationId": "cancelScheduledEvent",
        "summary": "Cancel Scheduled Event",
        "description": "Cancels a scheduled event with an optional cancellation reason sent to all participants.",
        "parameters": [
          {
            "name": "event_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The UUID of the scheduled event to cancel.",
            "x-ms-summary": "Event UUID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "reason": {
                  "type": "string",
                  "description": "Cancellation reason sent to all participants.",
                  "x-ms-summary": "Reason"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The cancellation details.",
            "schema": {
              "$ref": "#/definitions/CancelScheduledEventResponse"
            }
          }
        }
      }
    },
    "/scheduling_links": {
      "post": {
        "operationId": "createSchedulingLink",
        "summary": "Create Scheduling Link",
        "description": "Creates a single-use scheduling link for an event type, ideal for personalized outreach.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["owner", "owner_type", "max_event_count"],
              "properties": {
                "owner": {
                  "type": "string",
                  "description": "Event type URI to create the link for (from List Event Types).",
                  "x-ms-summary": "Event Type URI"
                },
                "owner_type": {
                  "type": "string",
                  "description": "Must be EventType.",
                  "x-ms-summary": "Owner Type",
                  "default": "EventType",
                  "x-ms-visibility": "internal"
                },
                "max_event_count": {
                  "type": "integer",
                  "description": "Maximum number of bookings allowed (typically 1 for single-use).",
                  "x-ms-summary": "Max Event Count",
                  "default": 1
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The created scheduling link.",
            "schema": {
              "$ref": "#/definitions/CreateSchedulingLinkResponse"
            }
          }
        }
      }
    },
    "/event_type_available_times": {
      "get": {
        "operationId": "listAvailableTimes",
        "summary": "List Available Times",
        "description": "Returns available time slots for a specific event type within a date range.",
        "parameters": [
          {
            "name": "event_type",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Event type URI (from List Event Types).",
            "x-ms-summary": "Event Type URI"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Start of the availability window (ISO 8601).",
            "x-ms-summary": "Start Time"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "End of the availability window (ISO 8601).",
            "x-ms-summary": "End Time"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of available time slots.",
            "schema": {
              "$ref": "#/definitions/ListAvailableTimesResponse"
            }
          }
        }
      }
    },
    "/trigger/newScheduledEvent": {
      "get": {
        "operationId": "triggerNewScheduledEvent",
        "summary": "When a New Event Is Scheduled",
        "description": "Triggers when a new event is scheduled for the authenticated user.",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "A new event is scheduled.",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "parameters": [
          {
            "name": "x-user-uri",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "User URI from Get Current User (resource.uri). Used by the policy to build the real request.",
            "x-ms-summary": "User URI"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of newly scheduled events.",
            "schema": {
              "$ref": "#/definitions/ListScheduledEventsResponse"
            }
          }
        }
      }
    },
    "/event_types": {
      "get": {
        "operationId": "listEventTypes",
        "summary": "List Event Types",
        "description": "Lists all event types (meeting templates) for the authenticated user.",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "User URI from Get Current User (resource.uri).",
            "x-ms-summary": "User URI"
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Filter to only active (true) or inactive (false) event types.",
            "x-ms-summary": "Active Only"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Number of results per page (1-100, default 20).",
            "x-ms-summary": "Count"
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Token for fetching the next page of results.",
            "x-ms-summary": "Page Token",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sort order: name:asc or name:desc.",
            "x-ms-summary": "Sort",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of event types.",
            "schema": {
              "$ref": "#/definitions/ListEventTypesResponse"
            }
          }
        }
      }
    },
    "/user_busy_times": {
      "get": {
        "operationId": "getUserBusyTimes",
        "summary": "Get User Busy Times",
        "description": "Returns time ranges where the user is busy within a specified window.",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "User URI from Get Current User (resource.uri).",
            "x-ms-summary": "User URI"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Start of the time range to check (ISO 8601).",
            "x-ms-summary": "Start Time"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "End of the time range to check (ISO 8601).",
            "x-ms-summary": "End Time"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of busy time ranges.",
            "schema": {
              "$ref": "#/definitions/GetUserBusyTimesResponse"
            }
          }
        }
      }
    },
    "/scheduled_events/{event_uuid}/invitees/{invitee_uuid}": {
      "get": {
        "operationId": "getEventInvitee",
        "summary": "Get Event Invitee",
        "description": "Returns full details of a specific invitee for a scheduled event.",
        "parameters": [
          {
            "name": "event_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The UUID of the scheduled event.",
            "x-ms-summary": "Event UUID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "invitee_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The UUID of the invitee.",
            "x-ms-summary": "Invitee UUID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The invitee details.",
            "schema": {
              "$ref": "#/definitions/GetEventInviteeResponse"
            }
          }
        }
      }
    },
    "/user_availability_schedules": {
      "get": {
        "operationId": "listAvailabilitySchedules",
        "summary": "List Availability Schedules",
        "description": "Returns the user's configured availability schedules including working hours and time-off rules.",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "User URI from Get Current User (resource.uri).",
            "x-ms-summary": "User URI"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of availability schedules.",
            "schema": {
              "$ref": "#/definitions/ListAvailabilitySchedulesResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "UserResource": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The user's full URI.",
          "x-ms-summary": "User URI"
        },
        "name": {
          "type": "string",
          "description": "User's display name.",
          "x-ms-summary": "Name"
        },
        "email": {
          "type": "string",
          "description": "User's email address.",
          "x-ms-summary": "Email"
        },
        "timezone": {
          "type": "string",
          "description": "User's timezone (IANA format).",
          "x-ms-summary": "Timezone"
        },
        "scheduling_url": {
          "type": "string",
          "description": "User's Calendly scheduling page URL.",
          "x-ms-summary": "Scheduling URL"
        },
        "current_organization": {
          "type": "string",
          "description": "URI of the user's organization.",
          "x-ms-summary": "Organization URI"
        },
        "slug": {
          "type": "string",
          "description": "User's Calendly URL slug.",
          "x-ms-summary": "Slug"
        },
        "avatar_url": {
          "type": "string",
          "description": "URL of the user's avatar image.",
          "x-ms-summary": "Avatar URL"
        },
        "created_at": {
          "type": "string",
          "description": "ISO 8601 timestamp of account creation.",
          "x-ms-summary": "Created At"
        },
        "updated_at": {
          "type": "string",
          "description": "ISO 8601 timestamp of last profile update.",
          "x-ms-summary": "Updated At"
        }
      }
    },
    "GetCurrentUserResponse": {
      "type": "object",
      "properties": {
        "resource": {
          "$ref": "#/definitions/UserResource"
        }
      }
    },
    "ScheduledEventResource": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Event URI (unique identifier).",
          "x-ms-summary": "Event URI"
        },
        "name": {
          "type": "string",
          "description": "Event type name.",
          "x-ms-summary": "Name"
        },
        "status": {
          "type": "string",
          "description": "Event status: active or canceled.",
          "x-ms-summary": "Status"
        },
        "start_time": {
          "type": "string",
          "description": "Event start time (ISO 8601).",
          "x-ms-summary": "Start Time"
        },
        "end_time": {
          "type": "string",
          "description": "Event end time (ISO 8601).",
          "x-ms-summary": "End Time"
        },
        "event_type": {
          "type": "string",
          "description": "URI of the event type.",
          "x-ms-summary": "Event Type URI"
        },
        "location": {
          "type": "object",
          "description": "Location details.",
          "properties": {
            "type": {
              "type": "string",
              "description": "Location type (e.g., google_conference, zoom, microsoft_teams_conference).",
              "x-ms-summary": "Location Type"
            },
            "location": {
              "type": "string",
              "description": "Location description or URL.",
              "x-ms-summary": "Location"
            },
            "join_url": {
              "type": "string",
              "description": "Video conference join URL.",
              "x-ms-summary": "Join URL"
            }
          }
        },
        "invitees_counter": {
          "type": "object",
          "description": "Invitee count summary.",
          "properties": {
            "total": {
              "type": "integer",
              "format": "int32",
              "description": "Total invitees.",
              "x-ms-summary": "Total Invitees"
            },
            "active": {
              "type": "integer",
              "format": "int32",
              "description": "Active (non-canceled) invitees.",
              "x-ms-summary": "Active Invitees"
            },
            "limit": {
              "type": "integer",
              "format": "int32",
              "description": "Max invitees allowed.",
              "x-ms-summary": "Invitee Limit"
            }
          }
        },
        "created_at": {
          "type": "string",
          "description": "ISO 8601 creation timestamp.",
          "x-ms-summary": "Created At"
        },
        "updated_at": {
          "type": "string",
          "description": "ISO 8601 last update timestamp.",
          "x-ms-summary": "Updated At"
        },
        "event_memberships": {
          "type": "array",
          "description": "Array of host users for this event.",
          "items": {
            "type": "object",
            "properties": {
              "user": {
                "type": "string",
                "description": "Host user URI.",
                "x-ms-summary": "Host User URI"
              }
            }
          }
        }
      }
    },
    "Pagination": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Number of results returned.",
          "x-ms-summary": "Count"
        },
        "next_page_token": {
          "type": "string",
          "description": "Token for next page (null if no more pages).",
          "x-ms-summary": "Next Page Token"
        }
      }
    },
    "ListScheduledEventsResponse": {
      "type": "object",
      "properties": {
        "collection": {
          "type": "array",
          "description": "Array of scheduled event objects.",
          "items": {
            "$ref": "#/definitions/ScheduledEventResource"
          }
        },
        "pagination": {
          "$ref": "#/definitions/Pagination"
        }
      }
    },
    "GetScheduledEventResponse": {
      "type": "object",
      "properties": {
        "resource": {
          "type": "object",
          "properties": {
            "uri": {
              "type": "string",
              "description": "Event URI.",
              "x-ms-summary": "Event URI"
            },
            "name": {
              "type": "string",
              "description": "Event type name.",
              "x-ms-summary": "Name"
            },
            "status": {
              "type": "string",
              "description": "Event status: active or canceled.",
              "x-ms-summary": "Status"
            },
            "start_time": {
              "type": "string",
              "description": "Event start time (ISO 8601).",
              "x-ms-summary": "Start Time"
            },
            "end_time": {
              "type": "string",
              "description": "Event end time (ISO 8601).",
              "x-ms-summary": "End Time"
            },
            "event_type": {
              "type": "string",
              "description": "URI of the associated event type.",
              "x-ms-summary": "Event Type URI"
            },
            "location": {
              "type": "object",
              "description": "Location details.",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Location type.",
                  "x-ms-summary": "Location Type"
                },
                "location": {
                  "type": "string",
                  "description": "Location string or URL.",
                  "x-ms-summary": "Location"
                },
                "join_url": {
                  "type": "string",
                  "description": "Video conference join URL.",
                  "x-ms-summary": "Join URL"
                }
              }
            },
            "invitees_counter": {
              "type": "object",
              "description": "Invitee counts.",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total invitees.",
                  "x-ms-summary": "Total Invitees"
                },
                "active": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Active invitees.",
                  "x-ms-summary": "Active Invitees"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Max invitees allowed.",
                  "x-ms-summary": "Invitee Limit"
                }
              }
            },
            "created_at": {
              "type": "string",
              "description": "ISO 8601 creation timestamp.",
              "x-ms-summary": "Created At"
            },
            "updated_at": {
              "type": "string",
              "description": "ISO 8601 last update timestamp.",
              "x-ms-summary": "Updated At"
            },
            "event_memberships": {
              "type": "array",
              "description": "Host user memberships.",
              "items": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "string",
                    "description": "Host user URI.",
                    "x-ms-summary": "Host User URI"
                  }
                }
              }
            },
            "event_guests": {
              "type": "array",
              "description": "Additional guest emails.",
              "items": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Guest email address.",
                    "x-ms-summary": "Guest Email"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "Timestamp when guest was added.",
                    "x-ms-summary": "Created At"
                  }
                }
              }
            },
            "calendar_event": {
              "type": "object",
              "description": "External calendar event reference.",
              "properties": {
                "external_id": {
                  "type": "string",
                  "description": "ID in external calendar (Google, Outlook).",
                  "x-ms-summary": "External Calendar ID"
                },
                "kind": {
                  "type": "string",
                  "description": "Calendar type (google or outlook).",
                  "x-ms-summary": "Calendar Type"
                }
              }
            }
          }
        }
      }
    },
    "InviteeResource": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Invitee URI.",
          "x-ms-summary": "Invitee URI"
        },
        "email": {
          "type": "string",
          "description": "Invitee's email address.",
          "x-ms-summary": "Email"
        },
        "name": {
          "type": "string",
          "description": "Invitee's full name.",
          "x-ms-summary": "Name"
        },
        "first_name": {
          "type": "string",
          "description": "Invitee's first name.",
          "x-ms-summary": "First Name"
        },
        "last_name": {
          "type": "string",
          "description": "Invitee's last name.",
          "x-ms-summary": "Last Name"
        },
        "status": {
          "type": "string",
          "description": "Invitee status: active or canceled.",
          "x-ms-summary": "Status"
        },
        "timezone": {
          "type": "string",
          "description": "Invitee's timezone (IANA format).",
          "x-ms-summary": "Timezone"
        },
        "created_at": {
          "type": "string",
          "description": "ISO 8601 booking timestamp.",
          "x-ms-summary": "Created At"
        },
        "updated_at": {
          "type": "string",
          "description": "ISO 8601 last update timestamp.",
          "x-ms-summary": "Updated At"
        },
        "questions_and_answers": {
          "type": "array",
          "description": "Custom question responses.",
          "items": {
            "type": "object",
            "properties": {
              "question": {
                "type": "string",
                "description": "The question text.",
                "x-ms-summary": "Question"
              },
              "answer": {
                "type": "string",
                "description": "The invitee's answer.",
                "x-ms-summary": "Answer"
              },
              "position": {
                "type": "integer",
                "format": "int32",
                "description": "Question display order.",
                "x-ms-summary": "Position"
              }
            }
          }
        },
        "cancel_url": {
          "type": "string",
          "description": "URL to cancel this booking.",
          "x-ms-summary": "Cancel URL"
        },
        "reschedule_url": {
          "type": "string",
          "description": "URL to reschedule this booking.",
          "x-ms-summary": "Reschedule URL"
        },
        "rescheduled": {
          "type": "boolean",
          "description": "Whether this invitee was rescheduled from another event.",
          "x-ms-summary": "Rescheduled"
        },
        "no_show": {
          "type": "object",
          "description": "No-show record if marked.",
          "properties": {
            "uri": {
              "type": "string",
              "description": "No-show record URI.",
              "x-ms-summary": "No Show URI"
            },
            "created_at": {
              "type": "string",
              "description": "When the no-show was recorded.",
              "x-ms-summary": "No Show Created At"
            }
          }
        },
        "payment": {
          "type": "object",
          "description": "Payment details if applicable.",
          "properties": {
            "external_id": {
              "type": "string",
              "description": "External payment ID.",
              "x-ms-summary": "Payment ID"
            },
            "provider": {
              "type": "string",
              "description": "Payment provider name.",
              "x-ms-summary": "Payment Provider"
            },
            "amount": {
              "type": "number",
              "format": "float",
              "description": "Payment amount.",
              "x-ms-summary": "Payment Amount"
            },
            "currency": {
              "type": "string",
              "description": "Payment currency code.",
              "x-ms-summary": "Payment Currency"
            },
            "terms": {
              "type": "string",
              "description": "Payment terms.",
              "x-ms-summary": "Payment Terms"
            },
            "successful": {
              "type": "boolean",
              "description": "Whether payment was successful.",
              "x-ms-summary": "Payment Successful"
            }
          }
        }
      }
    },
    "ListEventInviteesResponse": {
      "type": "object",
      "properties": {
        "collection": {
          "type": "array",
          "description": "Array of invitee objects.",
          "items": {
            "$ref": "#/definitions/InviteeResource"
          }
        },
        "pagination": {
          "$ref": "#/definitions/Pagination"
        }
      }
    },
    "CancelScheduledEventResponse": {
      "type": "object",
      "properties": {
        "resource": {
          "type": "object",
          "properties": {
            "canceled_by": {
              "type": "string",
              "description": "Name of the person who canceled.",
              "x-ms-summary": "Canceled By"
            },
            "reason": {
              "type": "string",
              "description": "The cancellation reason provided.",
              "x-ms-summary": "Reason"
            },
            "created_at": {
              "type": "string",
              "description": "ISO 8601 timestamp of the cancellation.",
              "x-ms-summary": "Created At"
            }
          }
        }
      }
    },
    "CreateSchedulingLinkResponse": {
      "type": "object",
      "properties": {
        "resource": {
          "type": "object",
          "properties": {
            "booking_url": {
              "type": "string",
              "description": "The single-use scheduling URL to share.",
              "x-ms-summary": "Booking URL"
            },
            "owner": {
              "type": "string",
              "description": "The event type URI this link belongs to.",
              "x-ms-summary": "Owner"
            },
            "owner_type": {
              "type": "string",
              "description": "Always EventType.",
              "x-ms-summary": "Owner Type"
            }
          }
        }
      }
    },
    "ListAvailableTimesResponse": {
      "type": "object",
      "properties": {
        "collection": {
          "type": "array",
          "description": "Array of available time slot objects.",
          "items": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "description": "Slot status: available or unavailable.",
                "x-ms-summary": "Status"
              },
              "invitees_remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of spots remaining for group events.",
                "x-ms-summary": "Invitees Remaining"
              },
              "start_time": {
                "type": "string",
                "description": "Slot start time (ISO 8601).",
                "x-ms-summary": "Start Time"
              },
              "scheduling_url": {
                "type": "string",
                "description": "Direct booking URL for this time slot.",
                "x-ms-summary": "Scheduling URL"
              }
            }
          }
        }
      }
    },
    "ListEventTypesResponse": {
      "type": "object",
      "properties": {
        "collection": {
          "type": "array",
          "description": "Array of event type objects.",
          "items": {
            "type": "object",
            "properties": {
              "uri": {
                "type": "string",
                "description": "Event type URI.",
                "x-ms-summary": "Event Type URI"
              },
              "name": {
                "type": "string",
                "description": "Event type name.",
                "x-ms-summary": "Name"
              },
              "active": {
                "type": "boolean",
                "description": "Whether this event type is currently active.",
                "x-ms-summary": "Active"
              },
              "slug": {
                "type": "string",
                "description": "URL-friendly identifier.",
                "x-ms-summary": "Slug"
              },
              "scheduling_url": {
                "type": "string",
                "description": "Public booking page URL.",
                "x-ms-summary": "Scheduling URL"
              },
              "duration": {
                "type": "integer",
                "format": "int32",
                "description": "Duration in minutes.",
                "x-ms-summary": "Duration"
              },
              "kind": {
                "type": "string",
                "description": "Event kind: solo or group.",
                "x-ms-summary": "Kind"
              },
              "type": {
                "type": "string",
                "description": "StandardEventType or AdhocEventType.",
                "x-ms-summary": "Type"
              },
              "color": {
                "type": "string",
                "description": "Display color hex code.",
                "x-ms-summary": "Color"
              },
              "description_plain": {
                "type": "string",
                "description": "Plain text description.",
                "x-ms-summary": "Description"
              },
              "internal_note": {
                "type": "string",
                "description": "Internal note (not visible to invitees).",
                "x-ms-summary": "Internal Note"
              },
              "pooling_type": {
                "type": "string",
                "description": "For round-robin events: round_robin or collective.",
                "x-ms-summary": "Pooling Type"
              },
              "secret": {
                "type": "boolean",
                "description": "Whether the event type is hidden from the public page.",
                "x-ms-summary": "Secret"
              }
            }
          }
        },
        "pagination": {
          "$ref": "#/definitions/Pagination"
        }
      }
    },
    "GetUserBusyTimesResponse": {
      "type": "object",
      "properties": {
        "collection": {
          "type": "array",
          "description": "Array of busy time range objects.",
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "Type of busy time (e.g., calendly, external).",
                "x-ms-summary": "Type"
              },
              "start_time": {
                "type": "string",
                "description": "Busy period start time (ISO 8601).",
                "x-ms-summary": "Start Time"
              },
              "end_time": {
                "type": "string",
                "description": "Busy period end time (ISO 8601).",
                "x-ms-summary": "End Time"
              },
              "buffered": {
                "type": "boolean",
                "description": "Whether this includes buffer time around an event.",
                "x-ms-summary": "Buffered"
              },
              "event": {
                "type": "object",
                "description": "Reference to the Calendly event causing the busy time.",
                "properties": {
                  "uri": {
                    "type": "string",
                    "description": "URI of the Calendly event.",
                    "x-ms-summary": "Event URI"
                  }
                }
              }
            }
          }
        }
      }
    },
    "GetEventInviteeResponse": {
      "type": "object",
      "properties": {
        "resource": {
          "type": "object",
          "properties": {
            "uri": {
              "type": "string",
              "description": "Invitee URI.",
              "x-ms-summary": "Invitee URI"
            },
            "email": {
              "type": "string",
              "description": "Invitee's email address.",
              "x-ms-summary": "Email"
            },
            "name": {
              "type": "string",
              "description": "Invitee's full name.",
              "x-ms-summary": "Name"
            },
            "first_name": {
              "type": "string",
              "description": "Invitee's first name.",
              "x-ms-summary": "First Name"
            },
            "last_name": {
              "type": "string",
              "description": "Invitee's last name.",
              "x-ms-summary": "Last Name"
            },
            "status": {
              "type": "string",
              "description": "Invitee status: active or canceled.",
              "x-ms-summary": "Status"
            },
            "timezone": {
              "type": "string",
              "description": "Invitee's timezone (IANA format).",
              "x-ms-summary": "Timezone"
            },
            "created_at": {
              "type": "string",
              "description": "ISO 8601 booking timestamp.",
              "x-ms-summary": "Created At"
            },
            "updated_at": {
              "type": "string",
              "description": "ISO 8601 last update timestamp.",
              "x-ms-summary": "Updated At"
            },
            "questions_and_answers": {
              "type": "array",
              "description": "Custom question responses.",
              "items": {
                "type": "object",
                "properties": {
                  "question": {
                    "type": "string",
                    "description": "The question text.",
                    "x-ms-summary": "Question"
                  },
                  "answer": {
                    "type": "string",
                    "description": "The invitee's answer.",
                    "x-ms-summary": "Answer"
                  },
                  "position": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Question display order.",
                    "x-ms-summary": "Position"
                  }
                }
              }
            },
            "cancel_url": {
              "type": "string",
              "description": "Cancellation URL for this booking.",
              "x-ms-summary": "Cancel URL"
            },
            "reschedule_url": {
              "type": "string",
              "description": "Reschedule URL for this booking.",
              "x-ms-summary": "Reschedule URL"
            },
            "rescheduled": {
              "type": "boolean",
              "description": "Whether this was rescheduled from another event.",
              "x-ms-summary": "Rescheduled"
            },
            "old_invitee": {
              "type": "string",
              "description": "URI of the previous invitee record if rescheduled.",
              "x-ms-summary": "Old Invitee URI"
            },
            "new_invitee": {
              "type": "string",
              "description": "URI of the new invitee record if rescheduled.",
              "x-ms-summary": "New Invitee URI"
            },
            "no_show": {
              "type": "object",
              "description": "No-show record if marked.",
              "properties": {
                "uri": {
                  "type": "string",
                  "description": "No-show record URI.",
                  "x-ms-summary": "No Show URI"
                },
                "created_at": {
                  "type": "string",
                  "description": "When the no-show was recorded.",
                  "x-ms-summary": "No Show Created At"
                }
              }
            },
            "tracking": {
              "type": "object",
              "description": "UTM tracking parameters.",
              "properties": {
                "utm_campaign": {
                  "type": "string",
                  "description": "UTM campaign value.",
                  "x-ms-summary": "UTM Campaign"
                },
                "utm_source": {
                  "type": "string",
                  "description": "UTM source value.",
                  "x-ms-summary": "UTM Source"
                },
                "utm_medium": {
                  "type": "string",
                  "description": "UTM medium value.",
                  "x-ms-summary": "UTM Medium"
                },
                "utm_content": {
                  "type": "string",
                  "description": "UTM content value.",
                  "x-ms-summary": "UTM Content"
                },
                "utm_term": {
                  "type": "string",
                  "description": "UTM term value.",
                  "x-ms-summary": "UTM Term"
                },
                "salesforce_uuid": {
                  "type": "string",
                  "description": "Salesforce UUID for tracking.",
                  "x-ms-summary": "Salesforce UUID"
                }
              }
            },
            "payment": {
              "type": "object",
              "description": "Payment details if applicable.",
              "properties": {
                "external_id": {
                  "type": "string",
                  "description": "External payment ID.",
                  "x-ms-summary": "Payment ID"
                },
                "provider": {
                  "type": "string",
                  "description": "Payment provider name.",
                  "x-ms-summary": "Payment Provider"
                },
                "amount": {
                  "type": "number",
                  "format": "float",
                  "description": "Payment amount.",
                  "x-ms-summary": "Payment Amount"
                },
                "currency": {
                  "type": "string",
                  "description": "Payment currency code.",
                  "x-ms-summary": "Payment Currency"
                },
                "terms": {
                  "type": "string",
                  "description": "Payment terms.",
                  "x-ms-summary": "Payment Terms"
                },
                "successful": {
                  "type": "boolean",
                  "description": "Whether payment was successful.",
                  "x-ms-summary": "Payment Successful"
                }
              }
            }
          }
        }
      }
    },
    "ListAvailabilitySchedulesResponse": {
      "type": "object",
      "properties": {
        "collection": {
          "type": "array",
          "description": "Array of availability schedule objects.",
          "items": {
            "type": "object",
            "properties": {
              "uri": {
                "type": "string",
                "description": "Schedule URI.",
                "x-ms-summary": "Schedule URI"
              },
              "name": {
                "type": "string",
                "description": "Schedule name.",
                "x-ms-summary": "Name"
              },
              "default": {
                "type": "boolean",
                "description": "Whether this is the user's default schedule.",
                "x-ms-summary": "Default"
              },
              "timezone": {
                "type": "string",
                "description": "Timezone for this schedule (IANA format).",
                "x-ms-summary": "Timezone"
              },
              "rules": {
                "type": "array",
                "description": "Array of availability rules.",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Rule type: wday (weekday) or date (specific date).",
                      "x-ms-summary": "Rule Type"
                    },
                    "intervals": {
                      "type": "array",
                      "description": "Time intervals for this rule.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "from": {
                            "type": "string",
                            "description": "Start time (HH:MM format).",
                            "x-ms-summary": "From"
                          },
                          "to": {
                            "type": "string",
                            "description": "End time (HH:MM format).",
                            "x-ms-summary": "To"
                          }
                        }
                      }
                    },
                    "wday": {
                      "type": "string",
                      "description": "Day of week (e.g., monday, tuesday). Only for wday type.",
                      "x-ms-summary": "Weekday"
                    },
                    "date": {
                      "type": "string",
                      "description": "Specific date (YYYY-MM-DD). Only for date type.",
                      "x-ms-summary": "Date"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://calendly.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://calendly.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Collaboration"
    }
  ]
}
