{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Graph Add Users",
    "description": "Creates internal users or invites an external users using Microsoft Graph.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "graph.microsoft.com",
  "basePath": "/v1.0/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/users": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "The OData context.",
                  "title": "OData Context"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "businessPhones": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The business phone numbers.",
                  "title": "Business Phones"
                },
                "displayName": {
                  "type": "string",
                  "description": "The display name.",
                  "title": "Display Name"
                },
                "givenName": {
                  "type": "string",
                  "description": "The given name.",
                  "title": "Given Name"
                },
                "jobTitle": {
                  "type": "string",
                  "description": "The job title.",
                  "title": "Job Title"
                },
                "mail": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "mobilePhone": {
                  "type": "string",
                  "description": "The mobile phone number.",
                  "title": "Mobile Phone"
                },
                "officeLocation": {
                  "type": "string",
                  "description": "The office location.",
                  "title": "Office Location"
                },
                "preferredLanguage": {
                  "type": "string",
                  "description": "The preferred language.",
                  "title": "Preferred Language"
                },
                "surname": {
                  "type": "string",
                  "description": "The surname.",
                  "title": "Surname"
                },
                "userPrincipalName": {
                  "type": "string",
                  "description": "The User Principal Name (UPN).",
                  "title": "User Principal Name"
                },
                "identities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "signInType": {
                        "type": "string",
                        "description": "The sign in type.",
                        "title": "Sign In Type"
                      },
                      "issuer": {
                        "type": "string",
                        "description": "The issuer.",
                        "title": "Issuer"
                      },
                      "issuerAssignedId": {
                        "type": "string",
                        "description": "The issuer assigned identifier.",
                        "title": "Issuer Assigned ID"
                      }
                    }
                  },
                  "title": "Identities"
                },
                "passwordPolicies": {
                  "type": "string",
                  "description": "The password policies.",
                  "title": "Password Policies"
                }
              }
            }
          }
        },
        "summary": "Create a user",
        "description": "Creates a new user with the given properties.",
        "operationId": "UserPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "accountEnabled": {
                  "type": "boolean",
                  "description": "Whether the account is enabled.",
                  "title": "Account Enabled"
                },
                "displayName": {
                  "type": "string",
                  "description": "The display name.",
                  "title": "Display Name"
                },
                "mailNickname": {
                  "type": "string",
                  "description": "The email nickname.",
                  "title": "Email Nickname"
                },
                "userPrincipalName": {
                  "type": "string",
                  "description": "The User Principal Name (UPN).",
                  "title": "User Principal Name"
                },
                "passwordProfile": {
                  "type": "object",
                  "properties": {
                    "forceChangePasswordNextSignIn": {
                      "type": "boolean",
                      "description": "Whether to force change password on next sign in.",
                      "title": "Force Change Password Next Sign In"
                    },
                    "password": {
                      "type": "string",
                      "description": "The password.",
                      "title": "Password"
                    }
                  },
                  "title": "Password Profile"
                },
                "identities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "signInType": {
                        "type": "string",
                        "description": "The sign in type.",
                        "title": "Sign In Type"
                      },
                      "issuer": {
                        "type": "string",
                        "description": "The issuer.",
                        "title": "Issuer"
                      },
                      "issuerAssignedId": {
                        "type": "string",
                        "description": "The issuer assigned identifier.",
                        "title": "Issuer Assigned ID"
                      }
                    }
                  },
                  "title": "Identities"
                },
                "onPremisesImmutableId": {
                  "type": "string",
                  "description": "The on-premises immutable identifier.",
                  "title": "On-Premises Immutable ID"
                }
              }
            }
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "UserPost",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/invitations": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "The OData context.",
                  "title": "OData Context"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "inviteRedeemUrl": {
                  "type": "string",
                  "description": "The invite redeem URL address.",
                  "title": "Invite Redeem URL"
                },
                "invitedUserDisplayName": {
                  "type": "string",
                  "description": "The invited user display name.",
                  "title": "Invited User Display Name"
                },
                "invitedUserType": {
                  "type": "string",
                  "description": "The invited user type.",
                  "title": "Invited User Type"
                },
                "invitedUserEmailAddress": {
                  "type": "string",
                  "description": "The invited user email address.",
                  "title": "Invited User Email Address"
                },
                "sendInvitationMessage": {
                  "type": "boolean",
                  "description": "Whether invitation message was sent.",
                  "title": "Send Invitation Message"
                },
                "resetRedemption": {
                  "type": "boolean",
                  "description": "Whether to reset redemption.",
                  "title": "Reset Redemption"
                },
                "inviteRedirectUrl": {
                  "type": "string",
                  "description": "The invite redirect URL address.",
                  "title": "Invite Redirect URL"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "invitedUserMessageInfo": {
                  "type": "object",
                  "properties": {
                    "messageLanguage": {
                      "type": "string",
                      "description": "The message language.",
                      "title": "Message Language"
                    },
                    "customizedMessageBody": {
                      "type": "string",
                      "description": "The customized message body.",
                      "title": "Customized Message Body"
                    },
                    "ccRecipients": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "emailAddress": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name.",
                                "title": "Name"
                              },
                              "address": {
                                "type": "string",
                                "description": "The address.",
                                "title": "Address"
                              }
                            },
                            "title": "Email"
                          }
                        }
                      },
                      "title": "CC Recipients"
                    }
                  },
                  "title": "Invited User Message Info"
                },
                "invitedUser": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    }
                  },
                  "title": "Invited User"
                }
              }
            }
          }
        },
        "summary": "Invite external user",
        "description": "Creates a new invitation for an external user to the organization.",
        "operationId": "InvitePost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "invitedUserEmailAddress": {
                  "type": "string",
                  "description": "The invited user email address.",
                  "title": "Invited User Email Address"
                },
                "inviteRedirectUrl": {
                  "type": "string",
                  "description": "The invite redirect URL address.",
                  "title": "Invite Redirect URL"
                }
              }
            }
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "InvitePost",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {},
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize"
    },
    "oAuthClientCredentials": {
      "type": "oauth2",
      "flow": "application",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2-auth": []
    }
  ],
  "tags": [],
  "x-ms-openai-manifest": {
    "humanName": "Microsoft Graph Add Users",
    "modelDescription": "This is a Copilot plugin for the Microsoft Graph create user and create invitation for external user actions.",
    "contactEmail": "ttaylor@hitachisolutions.com"
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://learn.microsoft.com/en-us/graph/api/resources/users"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com/en-us/privacystatement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations"
    }
  ]
}