{
  "swagger": "2.0",
  "info": {
    "title": "IN-D Insurance (ICD10 & CPT)",
    "description": "IN-D Insurance does ICD10 and CPT auto-coding by understanding the disease name and the respective diagnosis by extracting the information from the discharge summary uploaded without a need to set up any template.",
    "version": "1.0",
    "contact": {
      "name": "IN-D Support",
      "url": "https://one.in-d.ai/developer/",
      "email": "explore@in-d.ai"
    }
  },
  "host": "indinsurance.in-d.ai",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/icd_code_disease": {
      "post": {
        "responses": {
          "200": {
            "description": "Successfull",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "input_given": {
                        "type": "string",
                        "description": "input_given",
                        "title": "Input Disease name"
                      },
                      "icd_code": {
                        "type": "string",
                        "description": "icd_code",
                        "title": "ICD Code"
                      },
                      "icd_desc": {
                        "type": "string",
                        "description": "icd_desc",
                        "title": "ICD Code description"
                      }
                    }
                  },
                  "description": "result"
                }
              }
            }
          },
          "400": {
            "description": "check the input",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "title": "request status either success or fail"
                },
                "desc": {
                  "type": "string",
                  "description": "desc",
                  "title": "error description"
                }
              }
            }
          },
          "403": {
            "description": "check the authorization",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "api key missing"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "title": "request status either success or fail"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "Internal error"
                }
              }
            }
          }
        },
        "summary": "ICD10 Auto-coding - From Disease Name",
        "description": "Automatically does ICD10 coding when given the disease name as the input",
        "operationId": "ICD10Auto-coding-FromDiseaseName",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type of post request",
            "x-ms-summary": "Content-Type of request"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "disease_name": {
                        "type": "string",
                        "description": "disease_name",
                        "title": "disease name"
                      }
                    },
                    "required": [
                      "disease_name"
                    ]
                  },
                  "description": "query"
                }
              },
              "required": [
                "query"
              ]
            }
          }
        ]
      }
    },
    "/icd_code_file": {
      "post": {
        "responses": {
          "200": {
            "description": "Successfull",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "file_name": {
                        "type": "string",
                        "description": "file name of input",
                        "title": "file name"
                      },
                      "disease": {
                        "type": "string",
                        "description": "list of diseases",
                        "title": "diseases"
                      },
                      "icd_code": {
                        "type": "string",
                        "description": "list of icd codes",
                        "title": "icd code"
                      },
                      "icd_desc": {
                        "type": "string",
                        "description": "icd code description",
                        "title": "icd desc"
                      },
                      "output_image": {
                        "type": "string",
                        "description": "base64 content of uploaded image with highlighted disease names and icd codes",
                        "title": "o/p image"
                      }
                    }
                  },
                  "description": "result"
                }
              }
            }
          },
          "400": {
            "description": "check the input",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "title": "request status either success or fail"
                },
                "desc": {
                  "type": "string",
                  "description": "desc",
                  "title": "error description"
                }
              }
            }
          },
          "403": {
            "description": "Authorization error",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "api key missing"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "title": "request status either sucess or failure"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "Internal error"
                }
              }
            }
          }
        },
        "summary": "ICD10 Auto-coding - From Discharge Summary Document",
        "description": "Smartly understand the disease from a Discharge Summary document without the need to set up any templates beforehand and does ICD10 auto-coding",
        "operationId": "ICD10Auto-coding-FromDischargeSummary",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "content-Type of post request",
            "x-ms-summary": "Content-Type of request"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "file_name": {
                        "type": "string",
                        "description": "file_name",
                        "title": "file name"
                      },
                      "file": {
                        "type": "string",
                        "description": "file",
                        "title": "file",
                        "format": "byte"
                      }
                    },
                    "required": [
                      "file",
                      "file_name"
                    ]
                  },
                  "description": "query"
                }
              },
              "required": [
                "query"
              ]
            }
          }
        ]
      }
    },
    "/icd_code_highlight": {
      "post": {
        "responses": {
          "200": {
            "description": "Successfull",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "file_name": {
                        "type": "string",
                        "description": "file_name",
                        "title": "file name"
                      },
                      "output_image": {
                        "type": "string",
                        "description": "output_image",
                        "title": "output image"
                      }
                    }
                  },
                  "description": "result"
                }
              }
            }
          },
          "400": {
            "description": "check the input",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "title": "request status either success or fail"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "Valid or Invalid input"
                }
              }
            }
          },
          "403": {
            "description": "check the authorization",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "title": "request status either success or fail"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "api key missing"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "title": "request status either success or fail"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "Internal error"
                }
              }
            }
          }
        },
        "summary": "Highlight disease and medical terms - From Discharge Summary Document",
        "description": "Automatically highlights the disease and other medical terms in a discharge summary document once uploaded",
        "operationId": "HighlightDisease_MedicalTerms",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Content-Type of post request",
            "x-ms-summary": "Content-Type of request",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "file_name": {
                        "type": "string",
                        "description": "file_name",
                        "title": "file name"
                      },
                      "file": {
                        "type": "string",
                        "description": "file",
                        "title": "base64 content of file",
                        "format": "byte"
                      }
                    },
                    "required": [
                      "file",
                      "file_name"
                    ]
                  },
                  "description": "query"
                }
              },
              "required": [
                "query"
              ]
            }
          }
        ]
      }
    },
    "/cpt_code_file": {
      "post": {
        "responses": {
          "200": {
            "description": "Successfull",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "file_name": {
                        "type": "string",
                        "description": "file_name",
                        "title": "file name"
                      },
                      "diseases_found": {
                        "type": "string",
                        "description": "diseases_found",
                        "title": "diseases found"
                      },
                      "cpt_code": {
                        "type": "string",
                        "description": "list of cpt codes",
                        "title": "cpt code"
                      },
                      "cpt_desc": {
                        "type": "string",
                        "description": "cpt_description",
                        "title": "cpt desc"
                      },
                      "output_image": {
                        "type": "string",
                        "description": "output_image"
                      }
                    }
                  },
                  "description": "result"
                }
              }
            }
          },
          "400": {
            "description": "check the input",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "title": "request status either success or fail"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "Valid or Invalid input"
                }
              }
            }
          },
          "403": {
            "description": "check the authorization",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "title": "request status either success or fail"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "api key missing"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "title": "request status either success or fail"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "Internal error"
                }
              }
            }
          }
        },
        "summary": "CPT Auto-coding - From Discharge Summary Document",
        "description": "Smartly understand the Diagnosis from a Discharge Summary document without the need to set up any templates beforehand and does CPT auto-coding",
        "operationId": "CPTAuto-coding-FromDischargeSummary",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type of post request",
            "x-ms-summary": "Content-Type of request"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "file_name": {
                        "type": "string",
                        "description": "file_name",
                        "title": "file name"
                      },
                      "file": {
                        "type": "string",
                        "description": "file",
                        "title": "base64 content of file",
                        "format": "byte"
                      }
                    },
                    "required": [
                      "file",
                      "file_name"
                    ]
                  },
                  "description": "query"
                }
              },
              "required": [
                "query"
              ]
            }
          }
        ]
      }
    },
    "/cpt_code_highlight": {
      "post": {
        "responses": {
          "200": {
            "description": "Successfull",
            "schema": {
              "type": "object",
              "properties": {
                "file_name": {
                  "type": "string",
                  "description": "file_name",
                  "title": "file name"
                },
                "output_image": {
                  "type": "string",
                  "description": "output_image",
                  "title": "output image"
                }
              }
            }
          },
          "400": {
            "description": "check the input",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "Valid or Invalid input"
                },
                "status": {
                  "type": "string",
                  "description": "status",
                  "title": "request status either success or fail"
                }
              }
            }
          },
          "403": {
            "description": "check the authorization",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "api key missing"
                },
                "status": {
                  "type": "string",
                  "description": "status",
                  "title": "request status either success or fail"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "Internal error"
                },
                "status": {
                  "type": "string",
                  "description": "status",
                  "title": "request status either success or fail"
                }
              }
            }
          }
        },
        "summary": "Highlight diagnosis and medical terms - From Discharge Summary Document",
        "description": "Automatically highlights the diagnosis and other medical terms in a discharge summary document once uploaded",
        "operationId": "HighlightDiagnosis_MedicalTerms",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type of post request",
            "x-ms-summary": "Content-Type of request"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "file_name": {
                        "type": "string",
                        "description": "file_name",
                        "title": "file name"
                      },
                      "file": {
                        "type": "string",
                        "description": "file",
                        "title": "base64 content of file",
                        "format": "byte"
                      }
                    },
                    "required": [
                      "file",
                      "file_name"
                    ]
                  },
                  "description": "query"
                }
              },
              "required": [
                "query"
              ]
            }
          }
        ]
      }
    },
    "/cpt_code_disease": {
      "post": {
        "responses": {
          "200": {
            "description": "Successfull",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "input_given": {
                        "type": "string",
                        "description": "input_given",
                        "title": "Input Disease name"
                      },
                      "cpt_code": {
                        "type": "string",
                        "description": "cpt_code",
                        "title": "cpt codes"
                      },
                      "cpt_desc": {
                        "type": "string",
                        "description": "cpt_description",
                        "title": "cpt desc"
                      }
                    }
                  },
                  "description": "result"
                }
              }
            }
          },
          "400": {
            "description": "check the input",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "title": "request status either success or fail"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "Valid or Invalid input"
                }
              }
            }
          },
          "403": {
            "description": "check the authorization",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "title": "request status either success or fail"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "api key missing"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "title": "request status either success or fail"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "Internal error"
                }
              }
            }
          }
        },
        "summary": "CPT Auto-coding - From Diagnosis Name",
        "description": "Automatically does CPT coding when given the diagnosis name as the input",
        "operationId": "CPTAuto-coding-FromDiagnosisName",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type of post request",
            "x-ms-summary": "Content-Type of request"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "procedure": {
                        "type": "string",
                        "description": "procedure",
                        "title": "diagnosis name"
                      }
                    },
                    "required": [
                      "procedure"
                    ]
                  },
                  "description": "query"
                }
              },
              "required": [
                "query"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.in-d.ai"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.in-d.ai/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;IT Operations"
    }
  ]
}
