{
  "swagger": "2.0",
  "info": {
    "title": "NIST NVD",
    "description": "The NVD is the U.S. government repository of standards based vulnerability management data represented using the Security Content Automation Protocol (SCAP). This data enables automation of vulnerability management, security measurement, and compliance. The NVD includes databases of security checklist references, security-related software flaws, misconfigurations, product names, and impact metrics.",
    "version": "1.0",
    "contact": {
      "name": "Paul Culmsee",
      "url": "https://nvd.nist.gov/",
      "email": "paul.culmsee@sevensigma.com.au"
    }
  },
  "host": "services.nvd.nist.gov",
  "basePath": "/rest/json/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/cves/1.0/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "resultsPerPage": {
                  "title": "resultsPerPage",
                  "type": "integer",
                  "format": "int32",
                  "description": "Results Per Page"
                },
                "startIndex": {
                  "title": "startIndex",
                  "type": "integer",
                  "format": "int32",
                  "description": "Start Index"
                },
                "totalResults": {
                  "title": "totalResults",
                  "type": "integer",
                  "format": "int32",
                  "description": "Total Results"
                },
                "result": {
                  "type": "object",
                  "properties": {
                    "CVE_data_type": {
                      "title": "CVE_data_type",
                      "type": "string",
                      "description": "CVE Data Type"
                    },
                    "CVE_data_format": {
                      "title": "CVE_data_format",
                      "type": "string",
                      "description": "CVE Data Format"
                    },
                    "CVE_data_version": {
                      "type": "string",
                      "description": "CVE Data Version"
                    },
                    "CVE_data_timestamp": {
                      "title": "CVE_data_timestamp",
                      "type": "string",
                      "description": "CVE Data Timestamp"
                    },
                    "CVE_Items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cve": {
                            "type": "object",
                            "properties": {
                              "data_type": {
                                "type": "string",
                                "description": "Data Type"
                              },
                              "data_format": {
                                "type": "string",
                                "description": "Data Format"
                              },
                              "data_version": {
                                "type": "string",
                                "description": "Data Version"
                              },
                              "CVE_data_meta": {
                                "type": "object",
                                "properties": {
                                  "ID": {
                                    "type": "string",
                                    "description": "CVE ID"
                                  },
                                  "ASSIGNER": {
                                    "type": "string",
                                    "description": "CVE ASSIGNER"
                                  }
                                },
                                "description": "CVE Metadata"
                              },
                              "problemtype": {
                                "type": "object",
                                "properties": {
                                  "problemtype_data": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "description": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "lang": {
                                                "type": "string",
                                                "description": "Problem Type Language"
                                              },
                                              "value": {
                                                "type": "string",
                                                "description": "Problem Type Value"
                                              }
                                            }
                                          },
                                          "description": "Problem Type Description"
                                        }
                                      }
                                    },
                                    "description": "Problem Type Data"
                                  }
                                },
                                "description": "Problem Type"
                              },
                              "references": {
                                "type": "object",
                                "properties": {
                                  "reference_data": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "url": {
                                          "type": "string",
                                          "description": "Reference Url"
                                        },
                                        "name": {
                                          "type": "string",
                                          "description": "Reference Name"
                                        },
                                        "refsource": {
                                          "type": "string",
                                          "description": "Reference Source"
                                        },
                                        "tags": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "description": "Reference Tags"
                                        }
                                      }
                                    },
                                    "description": "Reference Data"
                                  }
                                },
                                "description": "References"
                              },
                              "description": {
                                "type": "object",
                                "properties": {
                                  "description_data": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "lang": {
                                          "type": "string",
                                          "description": "Vulnerability Description Language"
                                        },
                                        "value": {
                                          "type": "string",
                                          "description": "Vulnerability Description Value"
                                        }
                                      }
                                    },
                                    "description": "Vulnerability Description Data"
                                  }
                                },
                                "description": "Vulnerability Description"
                              }
                            },
                            "description": "CVE"
                          },
                          "configurations": {
                            "type": "object",
                            "properties": {
                              "CVE_data_version": {
                                "type": "string",
                                "description": "CVE Data Version"
                              },
                              "nodes": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "operator": {
                                      "type": "string",
                                      "description": "Logical Operator"
                                    },
                                    "children": {
                                      "type": "array",
                                      "items": {},
                                      "description": "Children"
                                    },
                                    "cpe_match": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "vulnerable": {
                                            "type": "boolean",
                                            "description": "Vulnerable"
                                          },
                                          "cpe23Uri": {
                                            "type": "string",
                                            "description": "CPE23 Uri"
                                          },
                                          "versionEndExcluding": {
                                            "type": "string",
                                            "description": "Version End Excluding"
                                          },
                                          "cpe_name": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "cpe23Uri": {
                                                  "type": "string",
                                                  "description": "CPE23 Uri"
                                                },
                                                "lastModifiedDate": {
                                                  "type": "string",
                                                  "description": "Last Modified Date"
                                                }
                                              }
                                            },
                                            "description": "CPE_Name"
                                          }
                                        }
                                      },
                                      "description": "Maching CPE"
                                    }
                                  }
                                },
                                "description": "Nodes"
                              }
                            },
                            "description": "Configurations"
                          },
                          "impact": {
                            "type": "object",
                            "properties": {
                              "baseMetricV3": {
                                "type": "object",
                                "properties": {
                                  "cvssV3": {
                                    "type": "object",
                                    "properties": {
                                      "version": {
                                        "type": "string",
                                        "description": "CVSSV3 Version"
                                      },
                                      "vectorString": {
                                        "type": "string",
                                        "description": "CVSSV3 Vector String"
                                      },
                                      "attackVector": {
                                        "type": "string",
                                        "description": "CVSSV3 Attack Vector"
                                      },
                                      "attackComplexity": {
                                        "type": "string",
                                        "description": "CVSSV3 Attack Complexity"
                                      },
                                      "privilegesRequired": {
                                        "type": "string",
                                        "description": "CVSSV3 Privileges Required"
                                      },
                                      "userInteraction": {
                                        "type": "string",
                                        "description": "CVSSV3 User Interaction"
                                      },
                                      "scope": {
                                        "type": "string",
                                        "description": "CVSSV3 Scope"
                                      },
                                      "confidentialityImpact": {
                                        "type": "string",
                                        "description": "CVSSV3 Confidentiality Impact"
                                      },
                                      "integrityImpact": {
                                        "type": "string",
                                        "description": "CVSSV3 Integrity Impact"
                                      },
                                      "availabilityImpact": {
                                        "type": "string",
                                        "description": "CVSSV3 Availability Impact"
                                      },
                                      "baseScore": {
                                        "description": "CVSSV3 Base Score"
                                      },
                                      "baseSeverity": {
                                        "type": "string",
                                        "description": "CVSSV3 Base Severity"
                                      }
                                    },
                                    "description": "CVSSV3"
                                  },
                                  "exploitabilityScore": {
                                    "description": "CVSSV3 Exploitability Score"
                                  },
                                  "impactScore": {
                                    "description": "CVSSV3 Impact Score"
                                  }
                                },
                                "description": "Base Metric V3"
                              },
                              "baseMetricV2": {
                                "type": "object",
                                "properties": {
                                  "cvssV2": {
                                    "type": "object",
                                    "properties": {
                                      "version": {
                                        "type": "string",
                                        "description": "CVSSV2 Version"
                                      },
                                      "vectorString": {
                                        "type": "string",
                                        "description": "CVSSV2 VectorString"
                                      },
                                      "accessVector": {
                                        "type": "string",
                                        "description": "CVSSV2 AccessVector"
                                      },
                                      "accessComplexity": {
                                        "type": "string",
                                        "description": "CVSSV2 AccessComplexity"
                                      },
                                      "authentication": {
                                        "type": "string",
                                        "description": "CVSSV2 Authentication"
                                      },
                                      "confidentialityImpact": {
                                        "type": "string",
                                        "description": "CVSSV2 Confidentiality Impact"
                                      },
                                      "integrityImpact": {
                                        "type": "string",
                                        "description": "CVSSV2 Integrity Impact"
                                      },
                                      "availabilityImpact": {
                                        "type": "string",
                                        "description": "CVSSV2 Availability Impact"
                                      },
                                      "baseScore": {
                                        "description": "CVSSV2 Base Score"
                                      }
                                    },
                                    "description": "CVSSV2"
                                  },
                                  "severity": {
                                    "type": "string",
                                    "description": "CVSSV2 Severity"
                                  },
                                  "exploitabilityScore": {
                                    "description": "CVSSV2 Exploitability Score"
                                  },
                                  "impactScore": {
                                    "description": "CVSSV2 Impact Score"
                                  },
                                  "acInsufInfo": {
                                    "type": "boolean",
                                    "description": "CVSSV2 acInsufInfo"
                                  },
                                  "obtainAllPrivilege": {
                                    "type": "boolean",
                                    "description": "CVSSV2 Obtain All Privilege"
                                  },
                                  "obtainUserPrivilege": {
                                    "type": "boolean",
                                    "description": "CVSSV2 Obtain User Privilege"
                                  },
                                  "obtainOtherPrivilege": {
                                    "type": "boolean",
                                    "description": "CVSSV2 Obtain Other Privilege"
                                  },
                                  "userInteractionRequired": {
                                    "type": "boolean",
                                    "description": "CVSSV2 User Interaction Required"
                                  }
                                },
                                "description": "Base Metric V2"
                              }
                            },
                            "description": "Vulnerability Impact"
                          },
                          "publishedDate": {
                            "type": "string",
                            "description": "Published Date"
                          },
                          "lastModifiedDate": {
                            "type": "string",
                            "description": "Last ModifiedDate"
                          }
                        }
                      },
                      "description": "CVE Items"
                    }
                  },
                  "description": "Result"
                }
              }
            }
          }
        },
        "summary": "Retrieve a collection of CVE",
        "description": "Retrieve a collection of CVE",
        "operationId": "GetCVECollection",
        "parameters": [{
            "name": "addOns",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "dictionaryCpes"
            ],
            "description": "addOns=dictionaryCpes adds official CPE names to the request",
            "x-ms-summary": "Add CPE names"
          }, {
            "name": "cpeMatchString",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter vulnerabilities based on cpeMatchString of affected products",
            "x-ms-summary": "CPE Match String"
          }, {
            "name": "cvssV2Metrics",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter vulnerabilities based on CVSS vector strings",
            "x-ms-summary": "CVSS2 vector strings"
          }, {
            "name": "cvssV2Severity",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "LOW",
              "MEDIUM",
              "HIGH"
            ],
            "description": "LOW, MEDIUM, or HIGH vulnerabilities",
            "x-ms-summary": "CVSS V2 Severity"
          }, {
            "name": "cvssV3Metrics",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter vulnerabilities based on CVSS vector strings",
            "x-ms-summary": "CVSS3 vector strings."
          }, {
            "name": "cvssV3Severity",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "LOW",
              "MEDIUM",
              "HIGH",
              "CRITICAL"
            ],
            "x-ms-summary": "CVSS V3 Severity",
            "description": "Severity of LOW, MEDIUM, HIGH or CRITICAL vulnerabilities"
          }, {
            "name": "cweId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "MITRE Vulnerability classification (https://cwe.mitre.org/data/index.html)",
            "x-ms-summary": "Vulnerability classification (CWE-XX)"
          }, {
            "name": "includeMatchStringChange",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Include Modified Names",
            "description": "Include modified names in date queries"
          }, {
            "name": "isExactMatch",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Match all keywords exactly vs match any",
            "x-ms-summary": "Exact Match",
            "enum": [
              true,
              false
            ]
          }, {
            "name": "keyword",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "keywords from vulnerability description or reference links.",
            "x-ms-summary": "Keyword(s)"
          }, {
            "name": "modStartDate",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "yyyy-MM-ddTHH:mm:ss:SSS Z",
            "x-ms-summary": "Start Date Modified"
          }, {
            "name": "modEndDate",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "yyyy-MM-ddTHH:mm:ss:SSS Z",
            "x-ms-summary": "End Date Modified"
          }, {
            "name": "pubStartDate",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "yyyy-MM-ddTHH:mm:ss:SSS Z",
            "x-ms-summary": "Start Date Published"
          }, {
            "name": "pubEndDate",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "yyyy-MM-ddTHH:mm:ss:SSS Z",
            "x-ms-summary": "End Date Published"
          }, {
            "name": "resultsPerPage",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "maximum allowable limit is 2,000",
            "x-ms-summary": "Max results returned"
          }, {
            "name": "startIndex",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Start Index",
            "description": "Start Index"
          }
        ]
      }
    },
    "/cve/1.0/": {},
    "/cpes/1.0/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "resultsPerPage": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Results Per Page"
                },
                "startIndex": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Start Index"
                },
                "totalResults": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total Results"
                },
                "result": {
                  "type": "object",
                  "properties": {
                    "dataType": {
                      "type": "string",
                      "description": "Data Type"
                    },
                    "feedVersion": {
                      "type": "string",
                      "description": "Feed Version"
                    },
                    "cpeCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "CPE Count"
                    },
                    "feedTimestamp": {
                      "type": "string",
                      "description": "Feed Timestamp"
                    },
                    "cpes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deprecated": {
                            "type": "boolean",
                            "description": "CPE Deprecated"
                          },
                          "cpe23Uri": {
                            "type": "string",
                            "description": "CPE23 Uri"
                          },
                          "lastModifiedDate": {
                            "type": "string",
                            "description": "CPE Last Modified Date"
                          },
                          "titles": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string",
                                  "description": "CPE Title"
                                },
                                "lang": {
                                  "type": "string",
                                  "description": "CPE Language"
                                }
                              }
                            },
                            "description": "CPE Titles"
                          },
                          "refs": {
                            "type": "array",
                            "items": {},
                            "description": "References"
                          },
                          "deprecatedBy": {
                            "type": "array",
                            "items": {},
                            "description": "Deprecated By"
                          },
                          "vulnerabilities": {
                            "type": "array",
                            "items": {},
                            "description": "Vulnerabilities"
                          }
                        }
                      },
                      "description": "CPEs"
                    }
                  },
                  "description": "Result"
                }
              }
            }
          }
        },
        "summary": "Retrieve CPE information",
        "description": "Retrieve Common Platform Enumeration information",
        "operationId": "GetCPECollection",
        "parameters": [{
            "name": "addOns",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "cves"
            ],
            "description": "Including addOns=cves adds the vulnerabilities associated with the CPE.",
            "x-ms-summary": "Include vulnerabilities"
          }, {
            "name": "cpeMatchString",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "cpe:2.3:*:microsoft",
            "x-ms-summary": "CPE Match String",
            "description": "This parameter is used to filter products based on the CPE match criteria"
          }, {
            "name": "includeDeprecated",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "x-ms-summary": "include Deprecated CPE",
            "description": "A deprecated CPE is one that has been replaced by one or more other CPE"
          }, {
            "name": "keyword",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter results to words found in the CPE title or reference links",
            "x-ms-summary": "Keyword(s)"
          }, {
            "name": "modStartDate",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "yyyy-MM-ddTHH:mm:ss:SSS Z (Z indicates offset-from-UTC. eg UTC+01:00)",
            "x-ms-summary": "CPE that were modified after this date"
          }, {
            "name": "modEndDate",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "CPE that were modified before this date",
            "description": "yyyy-MM-ddTHH:mm:ss:SSS Z (Z indicates offset-from-UTC. eg UTC+01:00)"
          }, {
            "name": "resultsPerPage",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Results per page",
            "x-ms-summary": "Results per page"
          }, {
            "name": "startIndex",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Start Index",
            "x-ms-summary": "Start Index"
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [{
      "propertyName": "Website",
      "propertyValue": "https://nvd.nist.gov/"
    }, {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.nist.gov/privacy-policy#privpolicy"
    }, {
      "propertyName": "Categories",
      "propertyValue": "Business Management; IT Operations"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}
