{
  "swagger": "2.0",
  "info": {
    "title": "NIST NVD",
    "description": "",
    "version": "1.0"
  },
  "host": "services.nvd.nist.gov",
  "basePath": "/rest/json/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/cves/1.0/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "resultsPerPage": {
                  "type": "integer",
                  "format": "int32",
                  "description": "resultsPerPage"
                },
                "startIndex": {
                  "type": "integer",
                  "format": "int32",
                  "description": "startIndex"
                },
                "totalResults": {
                  "type": "integer",
                  "format": "int32",
                  "description": "totalResults"
                },
                "result": {
                  "type": "object",
                  "properties": {
                    "CVE_data_type": {
                      "type": "string",
                      "description": "CVE_data_type"
                    },
                    "CVE_data_format": {
                      "type": "string",
                      "description": "CVE_data_format"
                    },
                    "CVE_data_version": {
                      "type": "string",
                      "description": "CVE_data_version"
                    },
                    "CVE_data_timestamp": {
                      "type": "string",
                      "description": "CVE_data_timestamp"
                    },
                    "CVE_Items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cve": {
                            "type": "object",
                            "properties": {
                              "data_type": {
                                "type": "string",
                                "description": "data_type"
                              },
                              "data_format": {
                                "type": "string",
                                "description": "data_format"
                              },
                              "data_version": {
                                "type": "string",
                                "description": "data_version"
                              },
                              "CVE_data_meta": {
                                "type": "object",
                                "properties": {
                                  "ID": {
                                    "type": "string",
                                    "description": "ID"
                                  },
                                  "ASSIGNER": {
                                    "type": "string",
                                    "description": "ASSIGNER"
                                  }
                                },
                                "description": "CVE_data_meta"
                              },
                              "problemtype": {
                                "type": "object",
                                "properties": {
                                  "problemtype_data": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "description": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "lang": {
                                                "type": "string",
                                                "description": "lang"
                                              },
                                              "value": {
                                                "type": "string",
                                                "description": "value"
                                              }
                                            }
                                          },
                                          "description": "description"
                                        }
                                      }
                                    },
                                    "description": "problemtype_data"
                                  }
                                },
                                "description": "problemtype"
                              },
                              "references": {
                                "type": "object",
                                "properties": {
                                  "reference_data": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "url": {
                                          "type": "string",
                                          "description": "url"
                                        },
                                        "name": {
                                          "type": "string",
                                          "description": "name"
                                        },
                                        "refsource": {
                                          "type": "string",
                                          "description": "refsource"
                                        },
                                        "tags": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "description": "tags"
                                        }
                                      }
                                    },
                                    "description": "reference_data"
                                  }
                                },
                                "description": "references"
                              },
                              "description": {
                                "type": "object",
                                "properties": {
                                  "description_data": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "lang": {
                                          "type": "string",
                                          "description": "lang"
                                        },
                                        "value": {
                                          "type": "string",
                                          "description": "value"
                                        }
                                      }
                                    },
                                    "description": "description_data"
                                  }
                                },
                                "description": "description"
                              }
                            },
                            "description": "cve"
                          },
                          "configurations": {
                            "type": "object",
                            "properties": {
                              "CVE_data_version": {
                                "type": "string",
                                "description": "CVE_data_version"
                              },
                              "nodes": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "operator": {
                                      "type": "string",
                                      "description": "operator"
                                    },
                                    "children": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "operator": {
                                            "type": "string",
                                            "description": "operator"
                                          },
                                          "children": {
                                            "type": "array",
                                            "items": {},
                                            "description": "children"
                                          },
                                          "cpe_match": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "vulnerable": {
                                                  "type": "boolean",
                                                  "description": "vulnerable"
                                                },
                                                "cpe23Uri": {
                                                  "type": "string",
                                                  "description": "cpe23Uri"
                                                },
                                                "versionEndExcluding": {
                                                  "type": "string",
                                                  "description": "versionEndExcluding"
                                                },
                                                "cpe_name": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "properties": {
                                                      "cpe23Uri": {
                                                        "type": "string",
                                                        "description": "cpe23Uri"
                                                      },
                                                      "lastModifiedDate": {
                                                        "type": "string",
                                                        "description": "lastModifiedDate"
                                                      }
                                                    }
                                                  },
                                                  "description": "cpe_name"
                                                },
                                                "versionEndIncluding": {
                                                  "type": "string",
                                                  "description": "versionEndIncluding"
                                                }
                                              }
                                            },
                                            "description": "cpe_match"
                                          }
                                        }
                                      },
                                      "description": "children"
                                    },
                                    "cpe_match": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "vulnerable": {
                                            "type": "boolean",
                                            "description": "vulnerable"
                                          },
                                          "cpe23Uri": {
                                            "type": "string",
                                            "description": "cpe23Uri"
                                          },
                                          "versionEndExcluding": {
                                            "type": "string",
                                            "description": "versionEndExcluding"
                                          },
                                          "cpe_name": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "cpe23Uri": {
                                                  "type": "string",
                                                  "description": "cpe23Uri"
                                                },
                                                "lastModifiedDate": {
                                                  "type": "string",
                                                  "description": "lastModifiedDate"
                                                }
                                              }
                                            },
                                            "description": "cpe_name"
                                          }
                                        }
                                      },
                                      "description": "cpe_match"
                                    }
                                  }
                                },
                                "description": "nodes"
                              }
                            },
                            "description": "configurations"
                          },
                          "impact": {
                            "type": "object",
                            "properties": {
                              "baseMetricV3": {
                                "type": "object",
                                "properties": {
                                  "cvssV3": {
                                    "type": "object",
                                    "properties": {
                                      "version": {
                                        "type": "string",
                                        "description": "version"
                                      },
                                      "vectorString": {
                                        "type": "string",
                                        "description": "vectorString"
                                      },
                                      "attackVector": {
                                        "type": "string",
                                        "description": "attackVector"
                                      },
                                      "attackComplexity": {
                                        "type": "string",
                                        "description": "attackComplexity"
                                      },
                                      "privilegesRequired": {
                                        "type": "string",
                                        "description": "privilegesRequired"
                                      },
                                      "userInteraction": {
                                        "type": "string",
                                        "description": "userInteraction"
                                      },
                                      "scope": {
                                        "type": "string",
                                        "description": "scope"
                                      },
                                      "confidentialityImpact": {
                                        "type": "string",
                                        "description": "confidentialityImpact"
                                      },
                                      "integrityImpact": {
                                        "type": "string",
                                        "description": "integrityImpact"
                                      },
                                      "availabilityImpact": {
                                        "type": "string",
                                        "description": "availabilityImpact"
                                      },
                                      "baseScore": {
                                        "description": "baseScore"
                                      },
                                      "baseSeverity": {
                                        "type": "string",
                                        "description": "baseSeverity"
                                      }
                                    },
                                    "description": "cvssV3"
                                  },
                                  "exploitabilityScore": {
                                    "description": "exploitabilityScore"
                                  },
                                  "impactScore": {
                                    "description": "impactScore"
                                  }
                                },
                                "description": "baseMetricV3"
                              },
                              "baseMetricV2": {
                                "type": "object",
                                "properties": {
                                  "cvssV2": {
                                    "type": "object",
                                    "properties": {
                                      "version": {
                                        "type": "string",
                                        "description": "version"
                                      },
                                      "vectorString": {
                                        "type": "string",
                                        "description": "vectorString"
                                      },
                                      "accessVector": {
                                        "type": "string",
                                        "description": "accessVector"
                                      },
                                      "accessComplexity": {
                                        "type": "string",
                                        "description": "accessComplexity"
                                      },
                                      "authentication": {
                                        "type": "string",
                                        "description": "authentication"
                                      },
                                      "confidentialityImpact": {
                                        "type": "string",
                                        "description": "confidentialityImpact"
                                      },
                                      "integrityImpact": {
                                        "type": "string",
                                        "description": "integrityImpact"
                                      },
                                      "availabilityImpact": {
                                        "type": "string",
                                        "description": "availabilityImpact"
                                      },
                                      "baseScore": {
                                        "description": "baseScore"
                                      }
                                    },
                                    "description": "cvssV2"
                                  },
                                  "severity": {
                                    "type": "string",
                                    "description": "severity"
                                  },
                                  "exploitabilityScore": {
                                    "description": "exploitabilityScore"
                                  },
                                  "impactScore": {
                                    "description": "impactScore"
                                  },
                                  "acInsufInfo": {
                                    "type": "boolean",
                                    "description": "acInsufInfo"
                                  },
                                  "obtainAllPrivilege": {
                                    "type": "boolean",
                                    "description": "obtainAllPrivilege"
                                  },
                                  "obtainUserPrivilege": {
                                    "type": "boolean",
                                    "description": "obtainUserPrivilege"
                                  },
                                  "obtainOtherPrivilege": {
                                    "type": "boolean",
                                    "description": "obtainOtherPrivilege"
                                  },
                                  "userInteractionRequired": {
                                    "type": "boolean",
                                    "description": "userInteractionRequired"
                                  }
                                },
                                "description": "baseMetricV2"
                              }
                            },
                            "description": "impact"
                          },
                          "publishedDate": {
                            "type": "string",
                            "description": "publishedDate"
                          },
                          "lastModifiedDate": {
                            "type": "string",
                            "description": "lastModifiedDate"
                          }
                        }
                      },
                      "description": "CVE_Items"
                    }
                  },
                  "description": "result"
                }
              }
            }
          }
        },
        "summary": "Retrieve a collection of CVE",
        "description": "Retrieve a collection of CVE",
        "operationId": "GetCVECollection",
        "parameters": [
          {
            "name": "addOns",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "dictionaryCpes"
            ],
            "description": "addOns=dictionaryCpes adds official CPE names to the request",
            "x-ms-summary": "Add CPE names"
          },
          {
            "name": "cpeMatchString",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter vulnerabilities based on the affected products",
            "x-ms-summary": "Affected products"
          },
          {
            "name": "cvssV2Metrics",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter vulnerabilities based on CVSS vector strings",
            "x-ms-summary": "CVSS2 vector strings"
          },
          {
            "name": "cvssV2Severity",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "LOW",
              "MEDIUM",
              "HIGH"
            ],
            "description": "LOW, MEDIUM, or HIGH vulnerabilities",
            "x-ms-summary": "CVSS V2 Severity"
          },
          {
            "name": "cvssV3Metrics",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter vulnerabilities based on CVSS vector strings",
            "x-ms-summary": "CVSS3 vector strings."
          },
          {
            "name": "cvssV3Severity",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "LOW",
              "MEDIUM",
              "HIGH",
              "CRITICAL"
            ],
            "x-ms-summary": "CVSS V3 Severity",
            "description": "Severity of LOW, MEDIUM, HIGH or CRITICAL vulnerabilities"
          },
          {
            "name": "cweId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "MITRE Vulnerability classification (https://cwe.mitre.org/data/index.html)",
            "x-ms-summary": "Vulnerability classification (CWE-XX)"
          },
          {
            "name": "includeMatchStringChange",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Include Modified Names",
            "description": "Include modified names in date queries"
          },
          {
            "name": "isExactMatch",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Match all keywords exactly vs match any",
            "x-ms-summary": "Exact Match",
            "enum": [
              true,
              false
            ]
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "heywords from vulnerability description or reference links.",
            "x-ms-summary": "Keyword(s)"
          },
          {
            "name": "modStartDate",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "yyyy-MM-ddTHH:mm:ss:SSS Z",
            "x-ms-summary": "Start Date Modified"
          },
          {
            "name": "modEndDate",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "yyyy-MM-ddTHH:mm:ss:SSS Z",
            "x-ms-summary": "End Date Modified"
          },
          {
            "name": "pubStartDate",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "yyyy-MM-ddTHH:mm:ss:SSS Z",
            "x-ms-summary": "Start Date Published"
          },
          {
            "name": "pubEndDate",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "yyyy-MM-ddTHH:mm:ss:SSS Z",
            "x-ms-summary": "End Date Published"
          },
          {
            "name": "resultsPerPage",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "maximum allowable limit is 2,000",
            "x-ms-summary": "Max results returned"
          },
          {
            "name": "startIndex",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Start Index",
            "description": "Start Index"
          }
        ]
      }
    },
    "/cve/1.0/": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Retrieve a specific CVE",
        "description": "Retrieve a specific CVE",
        "operationId": "GetCVE",
        "parameters": [
          {
            "name": "cveId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The CVE Identifier",
            "x-ms-summary": "The CVE Identifier"
          },
          {
            "name": "addOns",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Add CPE Names",
            "description": "addOns=dictionaryCpes adds official CPE names to the request",
            "enum": [
              "dictionaryCpes"
            ],
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/cpes/1.0/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "resultsPerPage": {
                  "type": "integer",
                  "format": "int32",
                  "description": "resultsPerPage"
                },
                "startIndex": {
                  "type": "integer",
                  "format": "int32",
                  "description": "startIndex"
                },
                "totalResults": {
                  "type": "integer",
                  "format": "int32",
                  "description": "totalResults"
                },
                "result": {
                  "type": "object",
                  "properties": {
                    "dataType": {
                      "type": "string",
                      "description": "dataType"
                    },
                    "feedVersion": {
                      "type": "string",
                      "description": "feedVersion"
                    },
                    "cpeCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "cpeCount"
                    },
                    "feedTimestamp": {
                      "type": "string",
                      "description": "feedTimestamp"
                    },
                    "cpes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deprecated": {
                            "type": "boolean",
                            "description": "deprecated"
                          },
                          "cpe23Uri": {
                            "type": "string",
                            "description": "cpe23Uri"
                          },
                          "lastModifiedDate": {
                            "type": "string",
                            "description": "lastModifiedDate"
                          },
                          "titles": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string",
                                  "description": "title"
                                },
                                "lang": {
                                  "type": "string",
                                  "description": "lang"
                                }
                              }
                            },
                            "description": "titles"
                          },
                          "refs": {
                            "type": "array",
                            "items": {},
                            "description": "refs"
                          },
                          "deprecatedBy": {
                            "type": "array",
                            "items": {},
                            "description": "deprecatedBy"
                          },
                          "vulnerabilities": {
                            "type": "array",
                            "items": {},
                            "description": "vulnerabilities"
                          }
                        }
                      },
                      "description": "cpes"
                    }
                  },
                  "description": "result"
                }
              }
            }
          }
        },
        "summary": "Retrieve CPE information",
        "description": "Retrieve CPE information",
        "operationId": "GetCPE",
        "parameters": [
          {
            "name": "addOns",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "cves"
            ],
            "description": "Including addOns=cves adds the vulnerabilities associated with the CPE.",
            "x-ms-summary": "Include vulnerabilities"
          },
          {
            "name": "cpeMatchString",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "cpe:2.3:*:microsoft",
            "x-ms-summary": "CPE Match String",
            "description": "This parameter is used to filter products based on the CPE match criteria"
          },
          {
            "name": "includeDeprecated",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "x-ms-summary": "include Deprecated CPE",
            "description": "A deprecated CPE is one that has been replaced by one or more other CPE"
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter results to words found in the CPE title or reference links",
            "x-ms-summary": "Keyword(s)"
          },
          {
            "name": "modStartDate",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "yyyy-MM-ddTHH:mm:ss:SSS Z (Z indicates offset-from-UTC. eg UTC+01:00)",
            "x-ms-summary": "CPE that were modified after this date"
          },
          {
            "name": "modEndDate",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "CPE that were modified before this date",
            "description": "yyyy-MM-ddTHH:mm:ss:SSS Z (Z indicates offset-from-UTC. eg UTC+01:00)"
          },
          {
            "name": "resultsPerPage",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Results per page",
            "x-ms-summary": "Results per page"
          },
          {
            "name": "startIndex",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Start Index",
            "x-ms-summary": "Start Index"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}