{
  "swagger": "2.0",
  "info": {
    "title": "Mailinator",
    "description": "The Mailinator service provides programmatic access to the Mailinator system. This includes fetching and injecting messages into the Mailinator system and creating routing rules for specific message domains within the system.",
    "version": "1.0.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "mailinator.com",
  "basePath": "/api/v2/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/domains/{domain}/inboxes/{inbox}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "domain": {
                  "type": "string",
                  "description": "The domain.",
                  "title": "Domain"
                },
                "to": {
                  "type": "string",
                  "description": "The To address.",
                  "title": "To"
                },
                "msgs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "subject": {
                        "type": "string",
                        "description": "The subject.",
                        "title": "Subject"
                      },
                      "domain": {
                        "type": "string",
                        "description": "The domain.",
                        "title": "Domain"
                      },
                      "from": {
                        "type": "string",
                        "description": "The From address.",
                        "title": "From"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "to": {
                        "type": "string",
                        "description": "The To address.",
                        "title": "To"
                      },
                      "time": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The time.",
                        "title": "Time"
                      },
                      "seconds_ago": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The seconds ago.",
                        "title": "Seconds Ago"
                      }
                    }
                  },
                  "title": "Messages"
                }
              }
            }
          }
        },
        "summary": "Fetch inbox",
        "description": "This endpoint retrieves a list of messages summaries. You can retrieve a list by inbox, inboxes, or entire domain.",
        "operationId": "InboxGet",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "x-ms-summary": "Domain",
            "x-ms-url-encoding": "single",
            "description": "The domain.",
            "required": true,
            "type": "string"
          },
          {
            "name": "inbox",
            "in": "path",
            "x-ms-summary": "Inbox",
            "x-ms-url-encoding": "single",
            "description": "The inbox.",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort",
            "description": "The sort.",
            "required": false,
            "type": "string"
          },
          {
            "name": "skip",
            "in": "query",
            "x-ms-summary": "Skip",
            "description": "The number to skip.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "decode_subject",
            "in": "query",
            "x-ms-summary": "Decode Subject",
            "description": "Whether to decode subject.",
            "required": false,
            "type": "boolean"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/domains/{domain}/inboxes/{inbox}/messages/{message_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "fromfull": {
                  "type": "string",
                  "description": "The full From address.",
                  "title": "From"
                },
                "headers": {
                  "type": "object",
                  "properties": {
                    "mime-version": {
                      "type": "string",
                      "description": "The MIME version.",
                      "title": "MIME Version"
                    },
                    "date": {
                      "type": "string",
                      "description": "The date.",
                      "title": "Date"
                    },
                    "subject": {
                      "type": "string",
                      "description": "The subject.",
                      "title": "Subject"
                    },
                    "content-type": {
                      "type": "string",
                      "description": "The content type.",
                      "title": "Content Type"
                    }
                  },
                  "title": "Headers"
                },
                "subject": {
                  "type": "string",
                  "description": "The subject.",
                  "title": "Subject"
                },
                "parts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "headers": {
                        "type": "object",
                        "properties": {
                          "content-type": {
                            "type": "string",
                            "description": "The content type.",
                            "title": "Content Type"
                          },
                          "content-disposition": {
                            "type": "string",
                            "description": "The content disposition.",
                            "title": "Content Disposition"
                          },
                          "content-transfer-encoding": {
                            "type": "string",
                            "description": "The content transfer encoding.",
                            "title": "Content Transfer Encoding"
                          }
                        },
                        "title": "Headers"
                      },
                      "body": {
                        "type": "string",
                        "description": "The body.",
                        "title": "Body"
                      }
                    }
                  },
                  "title": "Parts"
                },
                "from": {
                  "type": "string",
                  "description": "The From address.",
                  "title": "From"
                },
                "to": {
                  "type": "string",
                  "description": "The To address.",
                  "title": "To"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The time.",
                  "title": "Time"
                },
                "seconds_ago": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The seconds ago.",
                  "title": "Seconds Ago"
                }
              }
            }
          }
        },
        "summary": "Get message",
        "description": "This endpoint retrieves a specific message by identifier.",
        "operationId": "MessageGet",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "x-ms-summary": "Domain",
            "x-ms-url-encoding": "single",
            "description": "The domain.",
            "required": true,
            "type": "string"
          },
          {
            "name": "inbox",
            "in": "path",
            "x-ms-summary": "Inbox",
            "x-ms-url-encoding": "single",
            "description": "The inbox.",
            "required": true,
            "type": "string"
          },
          {
            "name": "message_id",
            "in": "path",
            "x-ms-summary": "Message ID",
            "x-ms-url-encoding": "single",
            "description": "The message identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "messages_deleted": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Whether the message was deleted.",
                  "title": "Message Deleted"
                }
              }
            }
          }
        },
        "summary": "Delete message",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "x-ms-summary": "Domain",
            "x-ms-url-encoding": "single",
            "description": "The domain.",
            "required": true,
            "type": "string"
          },
          {
            "name": "inbox",
            "in": "path",
            "x-ms-summary": "Inbox",
            "x-ms-url-encoding": "single",
            "description": "The inbox.",
            "required": true,
            "type": "string"
          },
          {
            "name": "message_id",
            "in": "path",
            "x-ms-summary": "Message ID",
            "x-ms-url-encoding": "single",
            "description": "The message identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "description": "This endpoint deletes a specific message.",
        "operationId": "MessageDelete"
      }
    },
    "/domains/{domain}/inboxes/{inbox}/messages/{message_id}/attachments": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "attachments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "filename": {
                        "type": "string",
                        "description": "The filename.",
                        "title": "Filename"
                      },
                      "content-disposition": {
                        "type": "string",
                        "description": "The content disposition.",
                        "title": "Content Disposition"
                      },
                      "content-transfer-encoding": {
                        "type": "string",
                        "description": "The content transfer encoding.",
                        "title": "Content Transfer Encoding"
                      },
                      "content-type": {
                        "type": "string",
                        "description": "The content type.",
                        "title": "Content Type"
                      },
                      "attachment-id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The attachment identifier.",
                        "title": "Attachment ID"
                      }
                    }
                  },
                  "title": "Attachments"
                }
              }
            }
          }
        },
        "summary": "Get message attachments",
        "description": "This endpoint retrieves a list of attachments for a message. Note attachments are expected to be in Email format.",
        "operationId": "MessageAttachmentsGet",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "x-ms-summary": "Domain",
            "x-ms-url-encoding": "single",
            "description": "The domain.",
            "required": true,
            "type": "string"
          },
          {
            "name": "inbox",
            "in": "path",
            "x-ms-summary": "Inbox",
            "x-ms-url-encoding": "single",
            "description": "The inbox.",
            "required": true,
            "type": "string"
          },
          {
            "name": "message_id",
            "in": "path",
            "x-ms-summary": "Message ID",
            "x-ms-url-encoding": "single",
            "description": "The message identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/domains/{domain}/inboxes/{inbox}/messages/{message_id}/links": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "links": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The links.",
                  "title": "Links"
                }
              }
            }
          }
        },
        "summary": "Get message links",
        "description": "This endpoint retrieves all links found within a given email.",
        "operationId": "MessageLinksGet",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "x-ms-summary": "Domain",
            "x-ms-url-encoding": "single",
            "description": "The domain.",
            "required": true,
            "type": "string"
          },
          {
            "name": "inbox",
            "in": "path",
            "x-ms-summary": "Inbox",
            "x-ms-url-encoding": "single",
            "description": "The inbox.",
            "required": true,
            "type": "string"
          },
          {
            "name": "message_id",
            "in": "path",
            "x-ms-summary": "Message ID",
            "x-ms-url-encoding": "single",
            "description": "The message identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/domains/{domain}/inboxes/{inbox}/messages": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                }
              }
            }
          }
        },
        "summary": "Inject message",
        "description": "This endpoint allows you to deliver a JSON message into your private domain. This is similar to simply emailing a message to your private domain, except that you use HTTP Post and can programmatically inject the message.",
        "operationId": "MessagePost",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "x-ms-summary": "Domain",
            "x-ms-url-encoding": "single",
            "description": "The domain.",
            "required": true,
            "type": "string"
          },
          {
            "name": "inbox",
            "in": "path",
            "x-ms-summary": "Inbox",
            "x-ms-url-encoding": "single",
            "description": "The inbox.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "fromfull": {
                  "type": "string",
                  "description": "The full From address.",
                  "title": "From"
                },
                "headers": {
                  "type": "object",
                  "properties": {
                    "mime-version": {
                      "type": "string",
                      "description": "The MIME version.",
                      "title": "MIME Version"
                    },
                    "date": {
                      "type": "string",
                      "description": "The date.",
                      "title": "Date"
                    },
                    "subject": {
                      "type": "string",
                      "description": "The subject.",
                      "title": "Subject"
                    },
                    "content-type": {
                      "type": "string",
                      "description": "The content type.",
                      "title": "Content Type"
                    }
                  },
                  "title": "Headers"
                },
                "subject": {
                  "type": "string",
                  "description": "The subject.",
                  "title": "Subject"
                },
                "parts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "headers": {
                        "type": "object",
                        "properties": {
                          "content-type": {
                            "type": "string",
                            "description": "The content type.",
                            "title": "Content Type"
                          },
                          "content-disposition": {
                            "type": "string",
                            "description": "The content disposition.",
                            "title": "Content Disposition"
                          },
                          "content-transfer-encoding": {
                            "type": "string",
                            "description": "The content transfer encoding.",
                            "title": "Content Transfer Encoding"
                          }
                        },
                        "title": "Headers"
                      },
                      "body": {
                        "type": "string",
                        "description": "The body.",
                        "title": "Body"
                      }
                    }
                  },
                  "title": "Parts"
                },
                "from": {
                  "type": "string",
                  "description": "The From address.",
                  "title": "From"
                },
                "to": {
                  "type": "string",
                  "description": "The To address.",
                  "title": "To"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The time.",
                  "title": "Time"
                },
                "seconds_ago": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The seconds ago.",
                  "title": "Seconds Ago"
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/team/stats": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "stats": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "description": "The date.",
                        "title": "Date"
                      },
                      "retrieved": {
                        "type": "object",
                        "properties": {
                          "web_private": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of web private.",
                            "title": "Web Private"
                          },
                          "web_public": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of web public.",
                            "title": "Web Public"
                          },
                          "api_email": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of API emails.",
                            "title": "API Email"
                          },
                          "api_error": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of API errors.",
                            "title": "API Error"
                          }
                        },
                        "title": "Retrieved"
                      },
                      "sent": {
                        "type": "object",
                        "properties": {
                          "sms": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of SMS.",
                            "title": "SMS"
                          },
                          "email": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of emails.",
                            "title": "Email"
                          }
                        },
                        "title": "Sent"
                      }
                    }
                  },
                  "title": "Stats"
                }
              }
            }
          }
        },
        "summary": "Get stats",
        "parameters": [],
        "description": "This endpoint retrieves usage information for your Team.",
        "operationId": "StatsGet"
      }
    },
    "/domains/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "domains": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "_id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "enabled": {
                        "type": "boolean",
                        "description": "Whether enabled.",
                        "title": "Enabled"
                      }
                    }
                  },
                  "title": "Domains"
                }
              }
            }
          }
        },
        "summary": "Get all domains",
        "x-ms-visibility": "advanced",
        "description": "Retrieve a list of your domains.",
        "operationId": "DomainsGet",
        "parameters": []
      }
    },
    "/domains/{domain_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "_id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "enabled": {
                  "type": "boolean",
                  "description": "Whether enabled.",
                  "title": "Enabled"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "ownerid": {
                  "type": "string",
                  "description": "The owner identifier.",
                  "title": "Owner ID"
                }
              }
            }
          }
        },
        "summary": "Get domain",
        "description": "Retrieve a specific domain.",
        "operationId": "DomainGet",
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "x-ms-summary": "Domain ID",
            "x-ms-url-encoding": "single",
            "description": "The domain identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.mailinator.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.mailinator.com/site/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication"
    }
  ]
}
