{
  "swagger": "2.0",
  "info": {
    "title": "The Events Calendar",
    "description": "Use Event Automator to be able to manage, create, and inform your events with the free with the WordPress plugin The Events Calendar, or upgrade to Pro to unlock recurring events, views, premium support, and more.",
    "version": "1.0",
    "contact": {
      "name": "The Events Calendar Support",
      "url": "https://theeventscalendar.com/support/",
      "email": "support@theeventscalendar.com"
    }
  },
  "host": "theeventscalendar.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/trigger/wp-json/tribe/power-automate/v1/new-events/": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "type": "object",
              "properties": {
                "events": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Event ID."
                      },
                      "title": {
                        "type": "string",
                        "description": "Event title."
                      },
                      "description": {
                        "type": "string",
                        "description": "Event description."
                      },
                      "excerpt": {
                        "type": "string",
                        "description": "Event excerpt."
                      },
                      "permalink": {
                        "type": "string",
                        "description": "Event permalink."
                      },
                      "event_status": {
                        "type": "string",
                        "description": "Event status."
                      },
                      "featured": {
                        "type": "boolean",
                        "description": "Featured event."
                      },
                      "sticky": {
                        "type": "boolean",
                        "description": "Sticky in month view."
                      },
                      "organizers": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Organizer ID."
                            },
                            "title": {
                              "type": "string",
                              "description": "Organizer title."
                            },
                            "description": {
                              "type": "string",
                              "description": "Organizer description."
                            },
                            "excerpt": {
                              "type": "string",
                              "description": "Organizer excerpt."
                            },
                            "permalink": {
                              "type": "string",
                              "description": "Organizer permalink."
                            },
                            "featured_image_url": {
                              "type": "string",
                              "description": "Organizer featured image url."
                            },
                            "phone": {
                              "type": "string",
                              "description": "Organizer phone."
                            },
                            "website": {
                              "type": "string",
                              "description": "Organizer website."
                            },
                            "email": {
                              "type": "string",
                              "description": "Organizer email."
                            }
                          }
                        },
                        "description": "Event organizers."
                      },
                      "venue": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Venue ID."
                            },
                            "title": {
                              "type": "string",
                              "description": "Venue title."
                            },
                            "description": {
                              "type": "string",
                              "description": "Venue description."
                            },
                            "excerpt": {
                              "type": "string",
                              "description": "Venue excerpt."
                            },
                            "permalink": {
                              "type": "string",
                              "description": "Venue permalink."
                            },
                            "featured_image_url": {
                              "type": "string",
                              "description": "Venue featured image url."
                            },
                            "phone": {
                              "type": "string",
                              "description": "Venue phone."
                            },
                            "website": {
                              "type": "string",
                              "description": "Venue website."
                            },
                            "address": {
                              "type": "string",
                              "description": "Venue address."
                            },
                            "country": {
                              "type": "string",
                              "description": "Venue country."
                            },
                            "city": {
                              "type": "string",
                              "description": "Venue city."
                            },
                            "state_province": {
                              "type": "string",
                              "description": "Venue state/province."
                            },
                            "state": {
                              "type": "string",
                              "description": "Venue state."
                            },
                            "zip": {
                              "type": "string",
                              "description": "Venue zip."
                            },
                            "directions_link": {
                              "type": "string",
                              "description": "Venue directions link."
                            },
                            "geolocation": {
                              "type": "object",
                              "properties": {
                                "overwrite_coordinates": {
                                  "type": "boolean",
                                  "description": "Venue overwrite coordinates."
                                },
                                "latitude": {
                                  "type": "string",
                                  "description": "Venue latitude."
                                },
                                "longitude": {
                                  "type": "string",
                                  "description": "Venue longitude."
                                },
                                "address": {
                                  "type": "string",
                                  "description": "Venue geolocation address."
                                },
                                "distance": {
                                  "type": "boolean",
                                  "description": "Venue distance."
                                }
                              },
                              "description": "Venue geolocation."
                            }
                          }
                        },
                        "description": "Venue"
                      },
                      "cost": {
                        "type": "string",
                        "description": "Event cost."
                      },
                      "website_url": {
                        "type": "string",
                        "description": "Event website url."
                      },
                      "featured_image_url": {
                        "type": "string",
                        "description": "Event featured image url."
                      },
                      "category": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Category name."
                            },
                            "slug": {
                              "type": "string",
                              "description": "Category slug."
                            },
                            "description": {
                              "type": "string",
                              "description": "Category description."
                            },
                            "parent": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "Parent category name."
                                },
                                "slug": {
                                  "type": "string",
                                  "description": "Parent category slug."
                                },
                                "description": {
                                  "type": "string",
                                  "description": "Parent category description."
                                }
                              },
                              "description": "Parent category."
                            }
                          }
                        },
                        "description": "Event Category."
                      },
                      "tag": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Tag name."
                            },
                            "slug": {
                              "type": "string",
                              "description": "Tag slug."
                            },
                            "description": {
                              "type": "string",
                              "description": "Tag description."
                            }
                          }
                        },
                        "description": "Event Tags"
                      },
                      "tickets": {
                        "type": "object",
                        "properties": {
                          "has_ticket": {
                            "type": "boolean",
                            "description": "Event has tickets."
                          },
                          "has_rsvp": {
                            "type": "boolean",
                            "description": "Event has RSVPs."
                          },
                          "in_date_range": {
                            "type": "boolean",
                            "description": "Tickets or RSVP in date range."
                          },
                          "sold_out": {
                            "type": "boolean",
                            "description": "Tickets or RSVP sold out."
                          },
                          "tickets": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Ticket ID."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Ticket name."
                                },
                                "provider_class": {
                                  "type": "string",
                                  "description": "Ticket povider class."
                                }
                              }
                            },
                            "description": "Event Tickets."
                          },
                          "rsvps": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "RSVP ID."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "RSVP name."
                                },
                                "provider_class": {
                                  "type": "string",
                                  "description": "RSVP provider."
                                }
                              }
                            },
                            "description": "Event RSVPs."
                          }
                        },
                        "description": "Event ticket information."
                      },
                      "start_date": {
                        "type": "string",
                        "description": "Event Start Date."
                      },
                      "end_date": {
                        "type": "string",
                        "description": "Event End Date."
                      },
                      "timezone": {
                        "type": "string",
                        "description": "Event Timezone."
                      },
                      "timezone_abbr": {
                        "type": "string",
                        "description": "Event Timezone Abbreviation."
                      },
                      "all_day": {
                        "type": "boolean",
                        "description": "All day event."
                      },
                      "multi_day": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Multi day event."
                      },
                      "is_past": {
                        "type": "boolean",
                        "description": "Past event."
                      },
                      "duration": {
                        "type": "number",
                        "description": "Event duration.",
                        "title": "",
                        "format": "float"
                      },
                      "virtual": {
                        "type": "boolean",
                        "description": "Is virtual event."
                      },
                      "virtual_video_source": {
                        "type": "string",
                        "description": "Virtual video source."
                      },
                      "virtual_event_type": {
                        "type": "string",
                        "description": "Virtual event type."
                      },
                      "virtual_autodetect_source": {
                        "type": "string",
                        "description": "Virtual autodetect source."
                      },
                      "virtual_url": {
                        "type": "string",
                        "description": "Virtual url."
                      },
                      "virtual_meeting_provider": {
                        "type": "string",
                        "description": "Virtual meeting provider."
                      },
                      "virtual_provider_details": {
                        "type": "array",
                        "items": {},
                        "description": "Virtual provider details."
                      },
                      "virtual_embed_video": {
                        "type": "boolean",
                        "description": "Virtual embed video."
                      },
                      "virtual_linked_button": {
                        "type": "boolean",
                        "description": "Virtual linked button."
                      },
                      "virtual_linked_button_text": {
                        "type": "string",
                        "description": "Virtual linked button text."
                      },
                      "virtual_show_embed_at": {
                        "type": "string",
                        "description": "Virtual show embed at."
                      },
                      "virtual_show_embed_to": {
                        "type": "array",
                        "items": {},
                        "description": "Virtual show embed to."
                      },
                      "virtual_show_on_event": {
                        "type": "boolean",
                        "description": "Virtual show on event."
                      },
                      "virtual_show_on_views": {
                        "type": "boolean",
                        "description": "Virtual show on views."
                      },
                      "virtual_show_lead_up": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Virtual show lead up."
                      },
                      "virtual_rsvp_email_link": {
                        "type": "boolean",
                        "description": "Virtual RSVP email link."
                      },
                      "virtual_ticket_email_link": {
                        "type": "boolean",
                        "description": "Virtual ticket email link."
                      },
                      "virtual_is_immediate": {
                        "type": "boolean",
                        "description": "Virtual is immediate."
                      },
                      "virtual_is_linkable": {
                        "type": "boolean",
                        "description": "Virtual is linkable."
                      },
                      "virtual_should_show_embed": {
                        "type": "boolean",
                        "description": "Virtual should show embed."
                      },
                      "virtual_should_show_link": {
                        "type": "boolean",
                        "description": "Virtual should show link."
                      },
                      "recurring": {
                        "type": "boolean",
                        "description": "Is this a recurring event."
                      },
                      "recurring_meta": {
                        "type": "object",
                        "properties": {
                          "rules": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "Recurring properties."
                                },
                                "custom": {
                                  "type": "object",
                                  "properties": {
                                    "interval": {
                                      "type": "string",
                                      "description": "Recurring rnterval."
                                    },
                                    "type": {
                                      "type": "string",
                                      "description": "Custom recurring type."
                                    },
                                    "week": {
                                      "type": "object",
                                      "properties": {
                                        "day": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "description": "recurring day."
                                        }
                                      },
                                      "description": "recurring week."
                                    },
                                    "same-time": {
                                      "type": "string",
                                      "description": "recurring same time."
                                    }
                                  },
                                  "description": "Custom recurring rules."
                                },
                                "EventStartDate": {
                                  "type": "string",
                                  "description": "Recurring event start date."
                                },
                                "EventEndDate": {
                                  "type": "string",
                                  "description": "Recurring event end date."
                                },
                                "end-type": {
                                  "type": "string",
                                  "description": "Recurring end-type."
                                },
                                "end-count": {
                                  "type": "string",
                                  "description": "Recurring end-count."
                                }
                              }
                            },
                            "description": "Event recurring rules."
                          },
                          "exclusions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "Exclusion properties."
                                },
                                "custom": {
                                  "type": "object",
                                  "properties": {
                                    "interval": {
                                      "type": "string",
                                      "description": "Exclusion interval."
                                    },
                                    "type": {
                                      "type": "string",
                                      "description": "exclusion type."
                                    },
                                    "week": {
                                      "type": "object",
                                      "properties": {
                                        "day": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "description": "Exclusion day."
                                        }
                                      },
                                      "description": "Exclusion week."
                                    },
                                    "same-time": {
                                      "type": "string",
                                      "description": "Exclusion same-time."
                                    }
                                  },
                                  "description": "Exclusion custom."
                                },
                                "EventStartDate": {
                                  "type": "string",
                                  "description": "Exclusion event start date."
                                },
                                "EventEndDate": {
                                  "type": "string",
                                  "description": "Exclusion event end date."
                                },
                                "end-type": {
                                  "type": "string",
                                  "description": "Exclusion end-type."
                                }
                              }
                            },
                            "description": "Event exclusion rules."
                          },
                          "description": {
                            "type": "string",
                            "description": "Exclusion description."
                          }
                        },
                        "description": "Recurring meta rules."
                      },
                      "rrule": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Event rrules."
                      },
                      "exclusions": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "event exclusions."
                      },
                      "additional_fields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "additional_field_label": {
                              "type": "string",
                              "description": "Additional field label."
                            },
                            "additional_field_value": {
                              "type": "string",
                              "description": "Additional field values."
                            }
                          }
                        },
                        "description": "Additional fields."
                      }
                    }
                  },
                  "description": "The Events Calendar events."
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "403": {
            "description": "Authorization information is missing or invalid."
          },
          "429": {
            "description": "Throttled"
          },
          "500": {
            "description": "Server Error"
          },
          "404": {
            "description": "Not Found."
          },
          "default": {
            "description": "Unexpected error."
          }
        },
        "summary": "When an event is created on your website",
        "description": "Will return a new event created on your website",
        "operationId": "NewEventTrigger",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "eva-app-name",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-trigger-hint": "Only 1 event is returned at a time."
      }
    },
    "/trigger/wp-json/tribe/power-automate/v1/updated-events/": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "type": "object",
              "properties": {
                "events": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Event ID."
                      },
                      "title": {
                        "type": "string",
                        "description": "Event title."
                      },
                      "description": {
                        "type": "string",
                        "description": "Event description."
                      },
                      "excerpt": {
                        "type": "string",
                        "description": "Event excerpt."
                      },
                      "permalink": {
                        "type": "string",
                        "description": "Event permalink."
                      },
                      "event_status": {
                        "type": "string",
                        "description": "Event status."
                      },
                      "featured": {
                        "type": "boolean",
                        "description": "Featured event."
                      },
                      "sticky": {
                        "type": "boolean",
                        "description": "Sticky in month view."
                      },
                      "organizers": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Organizer ID."
                            },
                            "title": {
                              "type": "string",
                              "description": "Organizer title."
                            },
                            "description": {
                              "type": "string",
                              "description": "Organizer description."
                            },
                            "excerpt": {
                              "type": "string",
                              "description": "Organizer excerpt."
                            },
                            "permalink": {
                              "type": "string",
                              "description": "Organizer permalink."
                            },
                            "featured_image_url": {
                              "type": "string",
                              "description": "Organizer featured image url."
                            },
                            "phone": {
                              "type": "string",
                              "description": "Organizer phone."
                            },
                            "website": {
                              "type": "string",
                              "description": "Organizer website."
                            },
                            "email": {
                              "type": "string",
                              "description": "Organizer email."
                            }
                          }
                        },
                        "description": "Event organizers."
                      },
                      "venue": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Venue ID."
                            },
                            "title": {
                              "type": "string",
                              "description": "Venue title."
                            },
                            "description": {
                              "type": "string",
                              "description": "Venue description."
                            },
                            "excerpt": {
                              "type": "string",
                              "description": "Venue excerpt."
                            },
                            "permalink": {
                              "type": "string",
                              "description": "Venue permalink."
                            },
                            "featured_image_url": {
                              "type": "string",
                              "description": "Venue featured image url."
                            },
                            "phone": {
                              "type": "string",
                              "description": "Venue phone."
                            },
                            "website": {
                              "type": "string",
                              "description": "Venue website."
                            },
                            "address": {
                              "type": "string",
                              "description": "Venue address."
                            },
                            "country": {
                              "type": "string",
                              "description": "Venue country."
                            },
                            "city": {
                              "type": "string",
                              "description": "Venue city."
                            },
                            "state_province": {
                              "type": "string",
                              "description": "Venue state/province."
                            },
                            "state": {
                              "type": "string",
                              "description": "Venue state."
                            },
                            "zip": {
                              "type": "string",
                              "description": "Venue zip."
                            },
                            "directions_link": {
                              "type": "string",
                              "description": "Venue directions link."
                            },
                            "geolocation": {
                              "type": "object",
                              "properties": {
                                "overwrite_coordinates": {
                                  "type": "boolean",
                                  "description": "Venue overwrite coordinates."
                                },
                                "latitude": {
                                  "type": "string",
                                  "description": "Venue latitude."
                                },
                                "longitude": {
                                  "type": "string",
                                  "description": "Venue longitude."
                                },
                                "address": {
                                  "type": "string",
                                  "description": "Venue geolocation address."
                                },
                                "distance": {
                                  "type": "boolean",
                                  "description": "Venue distance."
                                }
                              },
                              "description": "Venue geolocation."
                            }
                          }
                        },
                        "description": "Venue"
                      },
                      "cost": {
                        "type": "string",
                        "description": "Event cost."
                      },
                      "website_url": {
                        "type": "string",
                        "description": "Event website url."
                      },
                      "featured_image_url": {
                        "type": "string",
                        "description": "Event featured image url."
                      },
                      "category": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Category name."
                            },
                            "slug": {
                              "type": "string",
                              "description": "Category slug."
                            },
                            "description": {
                              "type": "string",
                              "description": "Category description."
                            },
                            "parent": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "Parent category name."
                                },
                                "slug": {
                                  "type": "string",
                                  "description": "Parent category slug."
                                },
                                "description": {
                                  "type": "string",
                                  "description": "Parent category description."
                                }
                              },
                              "description": "Parent category."
                            }
                          }
                        },
                        "description": "Event Category."
                      },
                      "tag": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Tag name."
                            },
                            "slug": {
                              "type": "string",
                              "description": "Tag slug."
                            },
                            "description": {
                              "type": "string",
                              "description": "Tag description."
                            }
                          }
                        },
                        "description": "Event Tags"
                      },
                      "tickets": {
                        "type": "object",
                        "properties": {
                          "has_ticket": {
                            "type": "boolean",
                            "description": "Event has tickets."
                          },
                          "has_rsvp": {
                            "type": "boolean",
                            "description": "Event has RSVPs."
                          },
                          "in_date_range": {
                            "type": "boolean",
                            "description": "Tickets or RSVP in date range."
                          },
                          "sold_out": {
                            "type": "boolean",
                            "description": "Tickets or RSVP sold out."
                          },
                          "tickets": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Ticket ID."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Ticket name."
                                },
                                "provider_class": {
                                  "type": "string",
                                  "description": "Ticket povider class."
                                }
                              }
                            },
                            "description": "Event Tickets."
                          },
                          "rsvps": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "RSVP ID."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "RSVP name."
                                },
                                "provider_class": {
                                  "type": "string",
                                  "description": "RSVP provider."
                                }
                              }
                            },
                            "description": "Event RSVPs."
                          }
                        },
                        "description": "Event ticket information."
                      },
                      "start_date": {
                        "type": "string",
                        "description": "Event Start Date."
                      },
                      "end_date": {
                        "type": "string",
                        "description": "Event End Date."
                      },
                      "timezone": {
                        "type": "string",
                        "description": "Event Timezone."
                      },
                      "timezone_abbr": {
                        "type": "string",
                        "description": "Event Timezone Abbreviation."
                      },
                      "all_day": {
                        "type": "boolean",
                        "description": "All day event."
                      },
                      "multi_day": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Multi day event."
                      },
                      "is_past": {
                        "type": "boolean",
                        "description": "Past event."
                      },
                      "duration": {
                        "type": "number",
                        "description": "Event duration.",
                        "title": "",
                        "format": "float"
                      },
                      "virtual": {
                        "type": "boolean",
                        "description": "Is virtual event."
                      },
                      "virtual_video_source": {
                        "type": "string",
                        "description": "Virtual video source."
                      },
                      "virtual_event_type": {
                        "type": "string",
                        "description": "Virtual event type."
                      },
                      "virtual_autodetect_source": {
                        "type": "string",
                        "description": "Virtual autodetect source."
                      },
                      "virtual_url": {
                        "type": "string",
                        "description": "Virtual url."
                      },
                      "virtual_meeting_provider": {
                        "type": "string",
                        "description": "Virtual meeting provider."
                      },
                      "virtual_provider_details": {
                        "type": "array",
                        "items": {},
                        "description": "Virtual provider details."
                      },
                      "virtual_embed_video": {
                        "type": "boolean",
                        "description": "Virtual embed video."
                      },
                      "virtual_linked_button": {
                        "type": "boolean",
                        "description": "Virtual linked button."
                      },
                      "virtual_linked_button_text": {
                        "type": "string",
                        "description": "Virtual linked button text."
                      },
                      "virtual_show_embed_at": {
                        "type": "string",
                        "description": "Virtual show embed at."
                      },
                      "virtual_show_embed_to": {
                        "type": "array",
                        "items": {},
                        "description": "Virtual show embed to."
                      },
                      "virtual_show_on_event": {
                        "type": "boolean",
                        "description": "Virtual show on event."
                      },
                      "virtual_show_on_views": {
                        "type": "boolean",
                        "description": "Virtual show on views."
                      },
                      "virtual_show_lead_up": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Virtual show lead up."
                      },
                      "virtual_rsvp_email_link": {
                        "type": "boolean",
                        "description": "Virtual RSVP email link."
                      },
                      "virtual_ticket_email_link": {
                        "type": "boolean",
                        "description": "Virtual ticket email link."
                      },
                      "virtual_is_immediate": {
                        "type": "boolean",
                        "description": "Virtual is immediate."
                      },
                      "virtual_is_linkable": {
                        "type": "boolean",
                        "description": "Virtual is linkable."
                      },
                      "virtual_should_show_embed": {
                        "type": "boolean",
                        "description": "Virtual should show embed."
                      },
                      "virtual_should_show_link": {
                        "type": "boolean",
                        "description": "Virtual should show link."
                      },
                      "recurring": {
                        "type": "boolean",
                        "description": "Is this a recurring event."
                      },
                      "recurring_meta": {
                        "type": "object",
                        "properties": {
                          "rules": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "Recurring properties."
                                },
                                "custom": {
                                  "type": "object",
                                  "properties": {
                                    "interval": {
                                      "type": "string",
                                      "description": "Recurring rnterval."
                                    },
                                    "type": {
                                      "type": "string",
                                      "description": "Custom recurring type."
                                    },
                                    "week": {
                                      "type": "object",
                                      "properties": {
                                        "day": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "description": "recurring day."
                                        }
                                      },
                                      "description": "recurring week."
                                    },
                                    "same-time": {
                                      "type": "string",
                                      "description": "recurring same time."
                                    }
                                  },
                                  "description": "Custom recurring rules."
                                },
                                "EventStartDate": {
                                  "type": "string",
                                  "description": "Recurring event start date."
                                },
                                "EventEndDate": {
                                  "type": "string",
                                  "description": "Recurring event end date."
                                },
                                "end-type": {
                                  "type": "string",
                                  "description": "Recurring end-type."
                                },
                                "end-count": {
                                  "type": "string",
                                  "description": "Recurring end-count."
                                }
                              }
                            },
                            "description": "Event recurring rules."
                          },
                          "exclusions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "Exclusion properties."
                                },
                                "custom": {
                                  "type": "object",
                                  "properties": {
                                    "interval": {
                                      "type": "string",
                                      "description": "Exclusion interval."
                                    },
                                    "type": {
                                      "type": "string",
                                      "description": "exclusion type."
                                    },
                                    "week": {
                                      "type": "object",
                                      "properties": {
                                        "day": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "description": "Exclusion day."
                                        }
                                      },
                                      "description": "Exclusion week."
                                    },
                                    "same-time": {
                                      "type": "string",
                                      "description": "Exclusion same-time."
                                    }
                                  },
                                  "description": "Exclusion custom."
                                },
                                "EventStartDate": {
                                  "type": "string",
                                  "description": "Exclusion event start date."
                                },
                                "EventEndDate": {
                                  "type": "string",
                                  "description": "Exclusion event end date."
                                },
                                "end-type": {
                                  "type": "string",
                                  "description": "Exclusion end-type."
                                }
                              }
                            },
                            "description": "Event exclusion rules."
                          },
                          "description": {
                            "type": "string",
                            "description": "Exclusion description."
                          }
                        },
                        "description": "Recurring meta rules."
                      },
                      "rrule": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Event rrules."
                      },
                      "exclusions": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "event exclusions."
                      },
                      "additional_fields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "additional_field_label": {
                              "type": "string",
                              "description": "Additional field label."
                            },
                            "additional_field_value": {
                              "type": "string",
                              "description": "Additional field values."
                            }
                          }
                        },
                        "description": "Additional fields."
                      }
                    }
                  },
                  "description": "The Events Calendar events."
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "403": {
            "description": "Authorization information is missing or invalid."
          },
          "429": {
            "description": "Throttled"
          },
          "500": {
            "description": "Server Error"
          },
          "404": {
            "description": "Not Found."
          },
          "default": {
            "description": "Unexpected error"
          }
        },
        "operationId": "UpdatedEventTrigger",
        "summary": "When an event is updated on your website",
        "description": "When an event is updated on your website",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-visibility": "internal"
          },
          {
            "name": "eva-app-name",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-trigger-hint": "Only 1 event is returned at a time."
      }
    },
    "/trigger/wp-json/tribe/power-automate/v1/canceled-events/": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "type": "object",
              "properties": {
                "events": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Event ID."
                      },
                      "title": {
                        "type": "string",
                        "description": "Event title."
                      },
                      "description": {
                        "type": "string",
                        "description": "Event description."
                      },
                      "excerpt": {
                        "type": "string",
                        "description": "Event excerpt."
                      },
                      "permalink": {
                        "type": "string",
                        "description": "Event permalink."
                      },
                      "event_status": {
                        "type": "string",
                        "description": "Event status."
                      },
                      "featured": {
                        "type": "boolean",
                        "description": "Featured event."
                      },
                      "sticky": {
                        "type": "boolean",
                        "description": "Sticky in month view."
                      },
                      "organizers": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Organizer ID."
                            },
                            "title": {
                              "type": "string",
                              "description": "Organizer title."
                            },
                            "description": {
                              "type": "string",
                              "description": "Organizer description."
                            },
                            "excerpt": {
                              "type": "string",
                              "description": "Organizer excerpt."
                            },
                            "permalink": {
                              "type": "string",
                              "description": "Organizer permalink."
                            },
                            "featured_image_url": {
                              "type": "string",
                              "description": "Organizer featured image url."
                            },
                            "phone": {
                              "type": "string",
                              "description": "Organizer phone."
                            },
                            "website": {
                              "type": "string",
                              "description": "Organizer website."
                            },
                            "email": {
                              "type": "string",
                              "description": "Organizer email."
                            }
                          }
                        },
                        "description": "Event organizers."
                      },
                      "venue": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Venue ID."
                            },
                            "title": {
                              "type": "string",
                              "description": "Venue title."
                            },
                            "description": {
                              "type": "string",
                              "description": "Venue description."
                            },
                            "excerpt": {
                              "type": "string",
                              "description": "Venue excerpt."
                            },
                            "permalink": {
                              "type": "string",
                              "description": "Venue permalink."
                            },
                            "featured_image_url": {
                              "type": "string",
                              "description": "Venue featured image url."
                            },
                            "phone": {
                              "type": "string",
                              "description": "Venue phone."
                            },
                            "website": {
                              "type": "string",
                              "description": "Venue website."
                            },
                            "address": {
                              "type": "string",
                              "description": "Venue address."
                            },
                            "country": {
                              "type": "string",
                              "description": "Venue country."
                            },
                            "city": {
                              "type": "string",
                              "description": "Venue city."
                            },
                            "state_province": {
                              "type": "string",
                              "description": "Venue state/province."
                            },
                            "state": {
                              "type": "string",
                              "description": "Venue state."
                            },
                            "zip": {
                              "type": "string",
                              "description": "Venue zip."
                            },
                            "directions_link": {
                              "type": "string",
                              "description": "Venue directions link."
                            },
                            "geolocation": {
                              "type": "object",
                              "properties": {
                                "overwrite_coordinates": {
                                  "type": "boolean",
                                  "description": "Venue overwrite coordinates."
                                },
                                "latitude": {
                                  "type": "string",
                                  "description": "Venue latitude."
                                },
                                "longitude": {
                                  "type": "string",
                                  "description": "Venue longitude."
                                },
                                "address": {
                                  "type": "string",
                                  "description": "Venue geolocation address."
                                },
                                "distance": {
                                  "type": "boolean",
                                  "description": "Venue distance."
                                }
                              },
                              "description": "Venue geolocation."
                            }
                          }
                        },
                        "description": "Venue"
                      },
                      "cost": {
                        "type": "string",
                        "description": "Event cost."
                      },
                      "website_url": {
                        "type": "string",
                        "description": "Event website url."
                      },
                      "featured_image_url": {
                        "type": "string",
                        "description": "Event featured image url."
                      },
                      "category": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Category name."
                            },
                            "slug": {
                              "type": "string",
                              "description": "Category slug."
                            },
                            "description": {
                              "type": "string",
                              "description": "Category description."
                            },
                            "parent": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "Parent category name."
                                },
                                "slug": {
                                  "type": "string",
                                  "description": "Parent category slug."
                                },
                                "description": {
                                  "type": "string",
                                  "description": "Parent category description."
                                }
                              },
                              "description": "Parent category."
                            }
                          }
                        },
                        "description": "Event Category."
                      },
                      "tag": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Tag name."
                            },
                            "slug": {
                              "type": "string",
                              "description": "Tag slug."
                            },
                            "description": {
                              "type": "string",
                              "description": "Tag description."
                            }
                          }
                        },
                        "description": "Event Tags"
                      },
                      "tickets": {
                        "type": "object",
                        "properties": {
                          "has_ticket": {
                            "type": "boolean",
                            "description": "Event has tickets."
                          },
                          "has_rsvp": {
                            "type": "boolean",
                            "description": "Event has RSVPs."
                          },
                          "in_date_range": {
                            "type": "boolean",
                            "description": "Tickets or RSVP in date range."
                          },
                          "sold_out": {
                            "type": "boolean",
                            "description": "Tickets or RSVP sold out."
                          },
                          "tickets": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Ticket ID."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Ticket name."
                                },
                                "provider_class": {
                                  "type": "string",
                                  "description": "Ticket povider class."
                                }
                              }
                            },
                            "description": "Event Tickets."
                          },
                          "rsvps": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "RSVP ID."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "RSVP name."
                                },
                                "provider_class": {
                                  "type": "string",
                                  "description": "RSVP provider."
                                }
                              }
                            },
                            "description": "Event RSVPs."
                          }
                        },
                        "description": "Event ticket information."
                      },
                      "start_date": {
                        "type": "string",
                        "description": "Event Start Date."
                      },
                      "end_date": {
                        "type": "string",
                        "description": "Event End Date."
                      },
                      "timezone": {
                        "type": "string",
                        "description": "Event Timezone."
                      },
                      "timezone_abbr": {
                        "type": "string",
                        "description": "Event Timezone Abbreviation."
                      },
                      "all_day": {
                        "type": "boolean",
                        "description": "All day event."
                      },
                      "multi_day": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Multi day event."
                      },
                      "is_past": {
                        "type": "boolean",
                        "description": "Past event."
                      },
                      "duration": {
                        "type": "number",
                        "description": "Event duration.",
                        "title": "",
                        "format": "float"
                      },
                      "virtual": {
                        "type": "boolean",
                        "description": "Is virtual event."
                      },
                      "virtual_video_source": {
                        "type": "string",
                        "description": "Virtual video source."
                      },
                      "virtual_event_type": {
                        "type": "string",
                        "description": "Virtual event type."
                      },
                      "virtual_autodetect_source": {
                        "type": "string",
                        "description": "Virtual autodetect source."
                      },
                      "virtual_url": {
                        "type": "string",
                        "description": "Virtual url."
                      },
                      "virtual_meeting_provider": {
                        "type": "string",
                        "description": "Virtual meeting provider."
                      },
                      "virtual_provider_details": {
                        "type": "array",
                        "items": {},
                        "description": "Virtual provider details."
                      },
                      "virtual_embed_video": {
                        "type": "boolean",
                        "description": "Virtual embed video."
                      },
                      "virtual_linked_button": {
                        "type": "boolean",
                        "description": "Virtual linked button."
                      },
                      "virtual_linked_button_text": {
                        "type": "string",
                        "description": "Virtual linked button text."
                      },
                      "virtual_show_embed_at": {
                        "type": "string",
                        "description": "Virtual show embed at."
                      },
                      "virtual_show_embed_to": {
                        "type": "array",
                        "items": {},
                        "description": "Virtual show embed to."
                      },
                      "virtual_show_on_event": {
                        "type": "boolean",
                        "description": "Virtual show on event."
                      },
                      "virtual_show_on_views": {
                        "type": "boolean",
                        "description": "Virtual show on views."
                      },
                      "virtual_show_lead_up": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Virtual show lead up."
                      },
                      "virtual_rsvp_email_link": {
                        "type": "boolean",
                        "description": "Virtual RSVP email link."
                      },
                      "virtual_ticket_email_link": {
                        "type": "boolean",
                        "description": "Virtual ticket email link."
                      },
                      "virtual_is_immediate": {
                        "type": "boolean",
                        "description": "Virtual is immediate."
                      },
                      "virtual_is_linkable": {
                        "type": "boolean",
                        "description": "Virtual is linkable."
                      },
                      "virtual_should_show_embed": {
                        "type": "boolean",
                        "description": "Virtual should show embed."
                      },
                      "virtual_should_show_link": {
                        "type": "boolean",
                        "description": "Virtual should show link."
                      },
                      "recurring": {
                        "type": "boolean",
                        "description": "Is this a recurring event."
                      },
                      "recurring_meta": {
                        "type": "object",
                        "properties": {
                          "rules": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "Recurring properties."
                                },
                                "custom": {
                                  "type": "object",
                                  "properties": {
                                    "interval": {
                                      "type": "string",
                                      "description": "Recurring rnterval."
                                    },
                                    "type": {
                                      "type": "string",
                                      "description": "Custom recurring type."
                                    },
                                    "week": {
                                      "type": "object",
                                      "properties": {
                                        "day": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "description": "recurring day."
                                        }
                                      },
                                      "description": "recurring week."
                                    },
                                    "same-time": {
                                      "type": "string",
                                      "description": "recurring same time."
                                    }
                                  },
                                  "description": "Custom recurring rules."
                                },
                                "EventStartDate": {
                                  "type": "string",
                                  "description": "Recurring event start date."
                                },
                                "EventEndDate": {
                                  "type": "string",
                                  "description": "Recurring event end date."
                                },
                                "end-type": {
                                  "type": "string",
                                  "description": "Recurring end-type."
                                },
                                "end-count": {
                                  "type": "string",
                                  "description": "Recurring end-count."
                                }
                              }
                            },
                            "description": "Event recurring rules."
                          },
                          "exclusions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "Exclusion properties."
                                },
                                "custom": {
                                  "type": "object",
                                  "properties": {
                                    "interval": {
                                      "type": "string",
                                      "description": "Exclusion interval."
                                    },
                                    "type": {
                                      "type": "string",
                                      "description": "exclusion type."
                                    },
                                    "week": {
                                      "type": "object",
                                      "properties": {
                                        "day": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "description": "Exclusion day."
                                        }
                                      },
                                      "description": "Exclusion week."
                                    },
                                    "same-time": {
                                      "type": "string",
                                      "description": "Exclusion same-time."
                                    }
                                  },
                                  "description": "Exclusion custom."
                                },
                                "EventStartDate": {
                                  "type": "string",
                                  "description": "Exclusion event start date."
                                },
                                "EventEndDate": {
                                  "type": "string",
                                  "description": "Exclusion event end date."
                                },
                                "end-type": {
                                  "type": "string",
                                  "description": "Exclusion end-type."
                                }
                              }
                            },
                            "description": "Event exclusion rules."
                          },
                          "description": {
                            "type": "string",
                            "description": "Exclusion description."
                          }
                        },
                        "description": "Recurring meta rules."
                      },
                      "rrule": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Event rrules."
                      },
                      "exclusions": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "event exclusions."
                      },
                      "additional_fields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "additional_field_label": {
                              "type": "string",
                              "description": "Additional field label."
                            },
                            "additional_field_value": {
                              "type": "string",
                              "description": "Additional field values."
                            }
                          }
                        },
                        "description": "Additional fields."
                      }
                    }
                  },
                  "description": "The Events Calendar events."
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "403": {
            "description": "Authorization information is missing or invalid."
          },
          "429": {
            "description": "Throttled"
          },
          "500": {
            "description": "Server Error"
          },
          "404": {
            "description": "Not Found."
          },
          "default": {
            "description": "Unexpected error"
          }
        },
        "operationId": "CanceledEventTrigger",
        "summary": "When an event is canceled on your website",
        "description": "When an event is canceled on your website",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-visibility": "internal"
          },
          {
            "name": "eva-app-name",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-trigger-hint": "Only 1 event is returned at a time."
      }
    },
    "/wp-json/tribe/power-automate/v1/create-events/": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "global_id": {
                  "type": "string",
                  "description": "global_id"
                },
                "global_id_lineage": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "global_id_lineage"
                },
                "author": {
                  "type": "string",
                  "description": "author"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "date": {
                  "type": "string",
                  "description": "date"
                },
                "date_utc": {
                  "type": "string",
                  "description": "date_utc"
                },
                "modified": {
                  "type": "string",
                  "description": "modified"
                },
                "modified_utc": {
                  "type": "string",
                  "description": "modified_utc"
                },
                "url": {
                  "type": "string",
                  "description": "url"
                },
                "rest_url": {
                  "type": "string",
                  "description": "rest_url"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "excerpt": {
                  "type": "string",
                  "description": "excerpt"
                },
                "slug": {
                  "type": "string",
                  "description": "slug"
                },
                "image": {
                  "type": "boolean",
                  "description": "image"
                },
                "all_day": {
                  "type": "boolean",
                  "description": "all_day"
                },
                "start_date": {
                  "type": "string",
                  "description": "start_date"
                },
                "start_date_details": {
                  "type": "object",
                  "properties": {
                    "year": {
                      "type": "string",
                      "description": "year"
                    },
                    "month": {
                      "type": "string",
                      "description": "month"
                    },
                    "day": {
                      "type": "string",
                      "description": "day"
                    },
                    "hour": {
                      "type": "string",
                      "description": "hour"
                    },
                    "minutes": {
                      "type": "string",
                      "description": "minutes"
                    },
                    "seconds": {
                      "type": "string",
                      "description": "seconds"
                    }
                  },
                  "description": "start_date_details"
                },
                "end_date": {
                  "type": "string",
                  "description": "end_date"
                },
                "end_date_details": {
                  "type": "object",
                  "properties": {
                    "year": {
                      "type": "string",
                      "description": "year"
                    },
                    "month": {
                      "type": "string",
                      "description": "month"
                    },
                    "day": {
                      "type": "string",
                      "description": "day"
                    },
                    "hour": {
                      "type": "string",
                      "description": "hour"
                    },
                    "minutes": {
                      "type": "string",
                      "description": "minutes"
                    },
                    "seconds": {
                      "type": "string",
                      "description": "seconds"
                    }
                  },
                  "description": "end_date_details"
                },
                "utc_start_date": {
                  "type": "string",
                  "description": "utc_start_date"
                },
                "utc_start_date_details": {
                  "type": "object",
                  "properties": {
                    "year": {
                      "type": "string",
                      "description": "year"
                    },
                    "month": {
                      "type": "string",
                      "description": "month"
                    },
                    "day": {
                      "type": "string",
                      "description": "day"
                    },
                    "hour": {
                      "type": "string",
                      "description": "hour"
                    },
                    "minutes": {
                      "type": "string",
                      "description": "minutes"
                    },
                    "seconds": {
                      "type": "string",
                      "description": "seconds"
                    }
                  },
                  "description": "utc_start_date_details"
                },
                "utc_end_date": {
                  "type": "string",
                  "description": "utc_end_date"
                },
                "utc_end_date_details": {
                  "type": "object",
                  "properties": {
                    "year": {
                      "type": "string",
                      "description": "year"
                    },
                    "month": {
                      "type": "string",
                      "description": "month"
                    },
                    "day": {
                      "type": "string",
                      "description": "day"
                    },
                    "hour": {
                      "type": "string",
                      "description": "hour"
                    },
                    "minutes": {
                      "type": "string",
                      "description": "minutes"
                    },
                    "seconds": {
                      "type": "string",
                      "description": "seconds"
                    }
                  },
                  "description": "utc_end_date_details"
                },
                "timezone": {
                  "type": "string",
                  "description": "timezone"
                },
                "timezone_abbr": {
                  "type": "string",
                  "description": "timezone_abbr"
                },
                "cost": {
                  "type": "string",
                  "description": "cost"
                },
                "cost_details": {
                  "type": "object",
                  "properties": {
                    "currency_symbol": {
                      "type": "string",
                      "description": "currency_symbol"
                    },
                    "currency_code": {
                      "type": "string",
                      "description": "currency_code"
                    },
                    "currency_position": {
                      "type": "string",
                      "description": "currency_position"
                    },
                    "values": {
                      "type": "array",
                      "items": {},
                      "description": "values"
                    }
                  },
                  "description": "cost_details"
                },
                "website": {
                  "type": "string",
                  "description": "website"
                },
                "show_map": {
                  "type": "boolean",
                  "description": "show_map"
                },
                "show_map_link": {
                  "type": "boolean",
                  "description": "show_map_link"
                },
                "hide_from_listings": {
                  "type": "boolean",
                  "description": "hide_from_listings"
                },
                "sticky": {
                  "type": "boolean",
                  "description": "sticky"
                },
                "featured": {
                  "type": "boolean",
                  "description": "featured"
                },
                "categories": {
                  "type": "array",
                  "items": {},
                  "description": "categories"
                },
                "tags": {
                  "type": "array",
                  "items": {},
                  "description": "tags"
                },
                "venue": {
                  "type": "array",
                  "items": {},
                  "description": "venue"
                },
                "organizer": {
                  "type": "array",
                  "items": {},
                  "description": "organizer"
                },
                "attendance": {
                  "type": "object",
                  "properties": {
                    "total_attendees": {
                      "type": "integer",
                      "format": "int32",
                      "description": "total_attendees"
                    },
                    "checked_in": {
                      "type": "integer",
                      "format": "int32",
                      "description": "checked_in"
                    },
                    "not_checked_in": {
                      "type": "integer",
                      "format": "int32",
                      "description": "not_checked_in"
                    }
                  },
                  "description": "attendance"
                },
                "ticketed": {
                  "type": "boolean",
                  "description": "ticketed"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "403": {
            "description": "Authorization information is missing or invalid."
          },
          "429": {
            "description": "Throttled"
          },
          "500": {
            "description": "Server Error"
          },
          "404": {
            "description": "Not Found."
          },
          "default": {
            "description": "Unexpected error"
          }
        },
        "operationId": "CreateEvents",
        "summary": "Create an event on your website",
        "description": "Create an event on your website",
        "parameters": [
          {
            "name": "eva-app-name",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "author": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Author ID."
                },
                "date": {
                  "type": "string",
                  "description": "Event post date, automatically set by WordPress.",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "date_utc": {
                  "type": "string",
[...]
