{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Pantry",
    "description": "Pantry is a free service that provides perishable data storage for small projects. Data is securely stored for as long as you and your users need it and is deleted after a period of inactivity. Simply use the restful API to post JSON objects and we'll take care of the rest.\n\nIt was built to provide a simple, re-usable storage solution for smaller sized projects. It was created by developers for developers, to be there when you need it and to help you rapidly prototype your next project.",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "getpantry.cloud",
  "basePath": "/apiv1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/pantry/{pantry_ID}": {
      "get": {
        "summary": "Get pantry details",
        "description": "Given a PantryID, return the details of the pantry, including a list of baskets currently stored inside it.",
        "operationId": "GetDetails",
        "parameters": [
          {
            "name": "pantry_ID",
            "in": "path",
            "description": "The identifier for the pantry.",
            "x-ms-summary": "Pantry ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The pantry name.",
                  "title": "Name"
                },
                "description": {
                  "type": "string",
                  "description": "The pantry description.",
                  "title": "Description"
                },
                "errors": {
                  "type": "array",
                  "items": {},
                  "description": "The response errors.",
                  "title": "Errors"
                },
                "notifications": {
                  "type": "boolean",
                  "description": "Whether there are notifications.",
                  "title": "Notifications"
                },
                "percentFull": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The pantry percentage full.",
                  "title": "Percent Full"
                },
                "baskets": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The basket name.",
                        "title": "Name"
                      },
                      "ttl": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The time to live.",
                        "title": "TTL"
                      }
                    }
                  },
                  "title": "Baskets"
                }
              }
            }
          }
        }
      }
    },
    "/pantry/{pantry_ID}/basket/{basket_name}": {
      "get": {
        "summary": "Get basket contents",
        "description": "Given a basket name, return the full contents of the basket.",
        "operationId": "GetContents",
        "parameters": [
          {
            "name": "pantry_ID",
            "in": "path",
            "description": "The identifier for the pantry.",
            "x-ms-summary": "Pantry ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "basket_name",
            "in": "path",
            "description": "The name of the basket.",
            "x-ms-summary": "Basket Name",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "description": "The key.",
                  "title": "Key"
                },
                "boolean": {
                  "type": "boolean",
                  "description": "Whether boolean.",
                  "title": "Boolean"
                },
                "nestedObject": {
                  "type": "object",
                  "properties": {
                    "nestedKey": {
                      "type": "string",
                      "description": "The nested key.",
                      "title": "Nested Key"
                    }
                  },
                  "title": "Nested Object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a basket",
        "description": "Delete the entire basket. Warning, this action cannot be undone.",
        "operationId": "Delete",
        "parameters": [
          {
            "name": "pantry_ID",
            "in": "path",
            "description": "The identifier for the pantry.",
            "x-ms-summary": "Pantry ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "basket_name",
            "in": "path",
            "description": "The name of the basket.",
            "x-ms-summary": "Basket Name",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "post": {
        "summary": "Create and or replace basket",
        "description": "Given a basket name as provided in the url, this will either create a new basket inside your pantry, or replace an existing one.",
        "operationId": "CreateAnd_orReplace",
        "parameters": [
          {
            "name": "pantry_ID",
            "in": "path",
            "description": "The identifier for the pantry.",
            "x-ms-summary": "Pantry ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "basket_name",
            "in": "path",
            "description": "The name of the basket.",
            "x-ms-summary": "Basket Name",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "put": {
        "summary": "Update basket contents",
        "description": "Given a basket name, this will update the existing contents and return the contents of the newly updated basket. This operation performs a deep merge and will overwrite the values of any existing keys, or append values to nested objects or arrays.",
        "operationId": "UpdateContents",
        "parameters": [
          {
            "name": "pantry_ID",
            "in": "path",
            "description": "The identifier for the pantry.",
            "x-ms-summary": "Pantry ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "basket_name",
            "in": "path",
            "description": "The name of the basket.",
            "x-ms-summary": "Basket Name",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "description": "The key.",
                  "title": "Key"
                },
                "boolean": {
                  "type": "boolean",
                  "description": "Whether boolean.",
                  "title": "Boolean"
                },
                "nestedObject": {
                  "type": "object",
                  "properties": {
                    "nestedKey": {
                      "type": "string",
                      "description": "The nested key.",
                      "title": "Nested Key"
                    }
                  },
                  "title": "Nested Object"
                },
                "newKey": {
                  "type": "string",
                  "description": "The new key.",
                  "title": "New Key"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://getpantry.cloud/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://getpantry.cloud/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}