{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Blackbaud Raisers Edge NXT Lis",
    "description": "Blackbaud Raiser's Edge NXT is a comprehensive cloud-based fundraising and donor management software solution built specifically for nonprofits and the entire social good community. Use the Lists connector to manage lists.",
    "contact": {
      "name": "Blackbaud Support",
      "url": "https://www.blackbaud.com/support",
      "email": "skyapi@blackbaud.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.blackbaud.com/products/blackbaud-raisers-edge-nxt"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.blackbaud.com/privacy-shield"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM;Productivity"
    }
  ],
  "host": "api.sky.blackbaud.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "skyApiOAuth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://oauth2.sky.blackbaud.com/authorization",
      "tokenUrl": "https://oauth2.sky.blackbaud.com/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "skyApiOAuth": []
    }
  ],
  "paths": {
    "/list/v1/appendidstolist": {
      "post": {
        "operationId": "AppendIDsToList",
        "summary": "Add records to a list",
        "description": "Add a set of records to an existing list.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ListApi.AppendIDsToListRequest"
            },
            "description": "An object that represents the set of records to append to the list."
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds."
          },
          "400": {
            "description": "Returned when the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to modify lists."
          }
        }
      }
    },
    "/list/v1/createlistfromids": {
      "post": {
        "operationId": "CreateListFromIDs",
        "summary": "Create a list from a set of records",
        "description": "Creates a new list filtered to the specified set of records.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ListApi.CreateListFromIDsRequest"
            },
            "description": "An object that represents the list to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates a list. The response body contains the ID of the new list.",
            "schema": {
              "$ref": "#/definitions/ListApi.CreatedList"
            }
          },
          "400": {
            "description": "Returned when the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create lists."
          }
        }
      }
    },
    "/list/v1/lists": {
      "get": {
        "operationId": "ListLists",
        "summary": "List lists",
        "description": "Get a list of lists.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "list_type",
            "in": "query",
            "description": "The type of list to return.",
            "required": true,
            "type": "string",
            "x-ms-summary": "List type",
            "default": "Constituent",
            "enum": [
              "Constituent",
              "Gift",
              "Action",
              "Opportunity"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ListApi.ApiCollectionOfList"
            }
          },
          "400": {
            "description": "Returned when the specified request parameters are not in the appropriate format."
          }
        }
      }
    }
  },
  "definitions": {
    "ListApi.ApiCollectionOfList": {
      "type": "object",
      "description": "Lists",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of lists in the set.",
          "x-ms-summary": "Count"
        },
        "value": {
          "type": "array",
          "description": "The set of items included in the response.",
          "items": {
            "$ref": "#/definitions/ListApi.ApiList"
          }
        }
      }
    },
    "ListApi.ApiList": {
      "type": "object",
      "description": "List",
      "properties": {
        "id": {
          "type": "string",
          "description": "The system record ID for the list."
        },
        "name": {
          "type": "string",
          "description": "The name of the list."
        }
      }
    },
    "ListApi.AppendIDsToListRequest": {
      "type": "object",
      "description": "Describes the set of records to append to the list.",
      "required": [
        "list_type",
        "list_id",
        "ids"
      ],
      "properties": {
        "list_type": {
          "type": "string",
          "description": "The type of list.",
          "x-ms-summary": "List type",
          "enum": [
            "Constituent",
            "Gift",
            "Action",
            "Opportunity"
          ]
        },
        "list_id": {
          "type": "string",
          "description": "The system record ID of the list.",
          "x-ms-summary": "List",
          "x-ms-dynamic-values": {
            "operationId": "ListLists",
            "value-collection": "value",
            "value-path": "id",
            "value-title": "name",
            "parameters": {
              "list_type": {
                "parameter": "list_type"
              }
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "ListLists",
            "itemsPath": "value",
            "itemValuePath": "id",
            "itemTitlePath": "name",
            "parameters": {
              "list_type": {
                "parameterReference": "body/list_type"
              }
            }
          }
        },
        "ids": {
          "type": "array",
          "description": "The unique identifiers for the records to be added to the list (maximumum of 100,000 values).",
          "x-ms-summary": "ID(s)",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListApi.CreateListFromIDsRequest": {
      "type": "object",
      "description": "Describes the list to create with the specified unique record identifiers.",
      "required": [
        "name",
        "description",
        "list_type",
        "list_permissions",
        "ids"
      ],
      "properties": {
        "name": {
          "type": "string",
          "maxLength": 50,
          "minLength": 0,
          "description": "The name of the list. Character limit: 50.",
          "x-ms-summary": "Name"
        },
        "description": {
          "type": "string",
          "description": "The description of the list.",
          "x-ms-summary": "Description"
        },
        "list_type": {
          "type": "string",
          "description": "Determines the type of list to create.",
          "x-ms-summary": "List type",
          "enum": [
            "Constituent",
            "Gift",
            "Action",
            "Opportunity"
          ]
        },
        "list_permissions": {
          "type": "string",
          "description": "Determines whether other users can access the list.",
          "x-ms-summary": "Permissions",
          "enum": [
            "OnlyOwnerCanAccess",
            "OthersCanView",
            "OthersCanViewAndEdit"
          ]
        },
        "ids": {
          "type": "array",
          "description": "The unique identifiers for the records contained in the list (maximumum of 100,000 values).",
          "x-ms-summary": "ID(s)",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListApi.CreatedList": {
      "type": "object",
      "description": "Created list",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the newly created list.",
          "x-ms-summary": "ID"
        }
      }
    }
  }
}
