{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "VEV-IQ",
    "description": "VEV-IQ custom connectors enables you to retrieve data from your charging infrastructure and integrate it into Microsoft tools.",
    "contact": {
      "name": "VEV-IQ Support",
      "url": "https://www.vev.com/contact/",
      "email": "kinza.benslimane@vev.com"

    }
  },
  "host": "rest.vev-iq.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/client/api/Sites": {
      "get": {
        "summary": "List sites",
        "description": "Retrieves all sites details of your dedicated tenant",
        "operationId": "RetrieveSites",
        "parameters": [
          {
            "x-ms-summary": "Limit",
            "name": "Limit",
            "default": "100",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Content-Type"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v1/api/charging-stations": {
      "get": {
        "summary": "List Charging Stations",
        "description": "Retrive all Charging Stations of your dedicated tenant",
        "operationId": "ChargingStations",
        "parameters": [
          {
            "x-ms-summary": "Limit",
            "name": "Limit",
            "default": "100",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Content-Type"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v1/api/transactions": {
      "get": {
        "summary": "List all Transactions",
        "description": "Retrieve all Transactions of your dedicated tenant",
        "operationId": "Transactions",
        "parameters": [
          {
            "x-ms-summary": "Limit",
            "name": "Limit",
            "default": "100",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Content-Type"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v1/api/transactions/status/completed": {
      "get": {
        "summary": "List all Completed Transactions",
        "description": "Retrieve all Completed Transactions ",
        "operationId": "TransactionsCompleted",
        "parameters": [
          {
            "x-ms-summary": "Limit",
            "name": "Limit",
            "default": "100",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Content-Type"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v1/api/transactions/status/active": {
      "get": {
        "summary": "List all Active Transactions",
        "description": "Retrive all Active Transactions",
        "operationId": "TransactionsActive",
        "parameters": [
          {
            "x-ms-summary": "Limit",
            "name": "Limit",
            "default": "100",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Content-Type"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v1/api/users": {
      "get": {
        "summary": "List all Users",
        "description": "Retrive all Users",
        "operationId": "Users",
        "parameters": [
          {
            "x-ms-summary": "Limit",
            "name": "Limit",
            "default": "100",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Content-Type"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v1/api/tags": {
      "get": {
        "summary": "List all Tags",
        "description": "Retrive all Tags",
        "operationId": "Tags",
        "parameters": [
          {
            "x-ms-summary": "Limit",
            "name": "Limit",
            "default": "100",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Content-Type"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v1/api/assets": {
      "get": {
        "summary": "List all Assets",
        "description": "Retrieve all Assets",
        "operationId": "Assets",
        "parameters": [
          {
            "x-ms-summary": "Limit",
            "name": "Limit",
            "default": "100",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Content-Type"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v1/api/car-catalogs": {
      "get": {
        "summary": "List CarCatalogs",
        "description": "Retrieve CarCatalogs",
        "operationId": "CarCatalogs",
        "parameters": [
          {
            "x-ms-summary": "Limit",
            "name": "Limit",
            "default": "100",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Content-Type"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v1/api/car-makers": {
      "get": {
        "summary": "List all CarMakers",
        "description": "Retrive all CarMakers",
        "operationId": "CarMakers",
        "parameters": [],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v1/api/cars": {
      "get": {
        "summary": "List all Cars",
        "description": "Retrieve all Cars",
        "operationId": "Cars",
        "parameters": [
          {
            "x-ms-summary": "Limit",
            "name": "Limit",
            "default": "100",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Content-Type"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v1/api/site-areas": {
      "get": {
        "summary": "List all SiteAreas",
        "description": "Retrieve all SiteAreas",
        "operationId": "SiteAreas",
        "parameters": [
          {
            "x-ms-summary": "Limit",
            "name": "Limit",
            "default": "100",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Content-Type"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v1/api/statistics/charging-stations/consumption": {
      "get": {
        "summary": "List all Statistics Charging Station Consumption",
        "description": "Retrieve all Statistics Charging Station Consumption",
        "operationId": "tatisticsChargingStationConsumption",
        "parameters": [
          {
            "x-ms-summary": "Year",
            "name": "Year",
            "default": "2023",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Content-Type"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v1/api/statistics/charging-stations/inactivity": {
      "get": {
        "summary": "List Statistics Charging Station Inactivity",
        "description": "Retrieve Statistics Charging Station Inactivity",
        "operationId": "StatisticsChargingStationInactivity",
        "parameters": [
          {
            "x-ms-summary": "Year",
            "name": "Year",
            "default": "2023",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Content-Type"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v1/api/statistics/charging-stations/usage": {
      "get": {
        "summary": "List Statistics Charging Station Usage",
        "description": "Retrieve Statistics Charging Station Usage",
        "operationId": "StatisticsChargingStationUsage",
        "parameters": [
          {
            "x-ms-summary": "Year",
            "name": "Year",
            "default": "2023",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "year"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v1/api/statistics/charging-stations/transaction": {
      "get": {
        "summary": "List Statistics Charging Station Transaction",
        "description": "Retrieve Statistics Charging Station Transaction",
        "operationId": "StatisticsChargingStationTransaction",
        "parameters": [
          {
            "x-ms-summary": "Year",
            "name": "Year",
            "default": "2023",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Year"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v1/api/statistics/users/consumption": {
      "get": {
        "summary": "List Statistics Users Consumption",
        "description": "Retrieve Statistics Users Consumption",
        "operationId": "StatisticsUsersConsumption",
        "parameters": [
          {
            "x-ms-summary": "Year",
            "name": "Year",
            "default": "2023",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Content-Type"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v1/api/statistics/users/usage": {
      "get": {
        "summary": "List Statistics Users Usage",
        "description": "Retrieve Statistics Users Usage",
        "operationId": "StatisticsUsersUsage",
        "parameters": [
          {
            "x-ms-summary": "Year",
            "name": "Year",
            "default": "2023",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Content-Type"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v1/api/statistics/users/inactivity": {
      "get": {
        "summary": "List Statistics Users Inactivity",
        "description": "Retrieve Statistics Users Inactivity",
        "operationId": "StatisticsUsersInactivity",
        "parameters": [
          {
            "x-ms-summary": "Year",
            "name": "Year",
            "default": "2023",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Content-Type"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v1/api/statistics/users/transaction": {
      "get": {
        "summary": "List Statistics Users Transactions",
        "description": "Retrieve Statistics Users Transactions",
        "operationId": "StatisticsUsersTransactions",
        "parameters": [
          {
            "x-ms-summary": "Year",
            "name": "Year",
            "default": "2023",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Content-Type"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v1/api/statistics/users/pricing": {
      "get": {
        "summary": "List Statistics Users Pricing",
        "description": "Retrieve Statistics Users Pricing",
        "operationId": "StatisticsUsersPricing",
        "parameters": [
          {
            "x-ms-summary": "Year",
            "name": "Year",
            "default": "2023",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Content-Type"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v1/api/invoices": {
      "get": {
        "summary": "List BillingInvoices",
        "description": "Retrieve BillingInvoices",
        "operationId": "BillingInvoices",
        "parameters": [
          {
            "x-ms-summary": "Limit",
            "name": "Limit",
            "default": "100",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Content-Type"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    }
  },
  "x-ms-connector-metadata":[
    {
      "propertyName": "Website",
      "propertyValue": "https://www.vev.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://vev-iq.com/auth/eula"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Intelligence"
    }
  ]
}