{
  "swagger": "2.0",
  "info": {
    "title": "Xero Payroll - UK",
    "description": "Xero Payroll - UK community connector",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.xero.com",
  "basePath": "/payroll.xro/2.0/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/employees/{employeeID}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Retrieve a payroll employee",
        "description": "Allows you to retrieve details of a payroll employee in a Xero organisation",
        "operationId": "EmployeesGetA",
        "parameters": [
          {
            "name": "employeeID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Xero unique identifier for the employee",
            "x-ms-summary": "employeeID",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Update a payroll employee",
        "description": "Allows you to update a payroll employee in a Xero organisation",
        "operationId": "EmployeesUpdate",
        "parameters": [
          {
            "name": "employeeID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "employeeID",
            "x-ms-summary": "employeeID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "Title of the employee (max length = 35)",
                  "title": "Title"
                },
                "firstName": {
                  "type": "string",
                  "description": "First name of the employee (max length = 35)",
                  "title": "First name"
                },
                "lastName": {
                  "type": "string",
                  "description": "Last name of the employee (max length = 35)",
                  "title": "Last name"
                },
                "dateOfBirth": {
                  "type": "string",
                  "description": "Date of birth of the employee (YYYY-MM-DD)",
                  "title": "Date of birth"
                },
                "gender": {
                  "type": "string",
                  "description": "The employee\u2019s gender (F or M)",
                  "title": "Gender"
                },
                "email": {
                  "type": "string",
                  "description": "email"
                },
                "phoneNumber": {
                  "type": "string",
                  "description": "Phone number of the employee",
                  "title": "Phone number"
                },
                "isOffPayrollWorker": {
                  "type": "boolean",
                  "description": "Describes whether the employee is an off-payroll worker Cannot be modified after initial creation.",
                  "title": "Is Off-Payroll Worker",
                  "enum": [
                    false,
                    true
                  ],
                  "default": false
                },
                "address": {
                  "type": "object",
                  "properties": {
                    "addressLine1": {
                      "type": "string",
                      "description": "Address line 1 for employee home address",
                      "title": "Address line"
                    },
                    "addressLine2": {
                      "type": "string",
                      "description": "Address line 2 for employee home address",
                      "title": "Address line 2"
                    },
                    "city": {
                      "type": "string",
                      "description": "City for employee home address",
                      "title": "City"
                    },
                    "county": {
                      "type": "string",
                      "description": "County for employee home address",
                      "title": "County"
                    },
                    "postCode": {
                      "type": "string",
                      "description": "Post code for employee home address",
                      "title": "Post code"
                    }
                  },
                  "description": "Address",
                  "required": [
                    "addressLine1",
                    "city",
                    "postCode"
                  ]
                }
              },
              "required": [
                "address",
                "dateOfBirth",
                "gender",
                "firstName",
                "lastName",
                "title"
              ]
            }
          }
        ]
      }
    },
    "/employees": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Retrieve employees",
        "description": "Retrieves a list of active employees",
        "operationId": "EmployeesGet",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter the employees by first name(firstName) and/or last name (lastName) and/or by whether they are an off-payroll worker or not (isOffPayrollWorker) e.g. firstName==john.",
            "x-ms-summary": "filter",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Page number which specifies the set of records to retrieve. By default the number of the records per set is 100. When page value is not a number or a negative number, by default, the first set of records is returned.",
            "x-ms-summary": "page",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add a payroll employee",
        "description": "Allows you to add a payroll employee in a Xero organisation",
        "operationId": "EmployeesCreate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "Title of the employee (max length = 35)",
                  "title": "Title"
                },
                "firstName": {
                  "type": "string",
                  "description": "First name of the employee (max length = 35)",
                  "title": "First name"
                },
                "lastName": {
                  "type": "string",
                  "description": "Last name of the employee (max length = 35)",
                  "title": "Last name"
                },
                "dateOfBirth": {
                  "type": "string",
                  "description": "Date of birth of the employee (YYYY-MM-DD)",
                  "title": "Date of birth"
                },
                "gender": {
                  "type": "string",
                  "description": "The employee\u2019s gender (F or M)",
                  "title": "Gender"
                },
                "email": {
                  "type": "string",
                  "description": "email"
                },
                "phoneNumber": {
                  "type": "string",
                  "description": "Phone number of the employee",
                  "title": "Phone number"
                },
                "isOffPayrollWorker": {
                  "type": "boolean",
                  "description": "Describes whether the employee is an off-payroll worker Cannot be modified after initial creation.",
                  "title": "Is Off-Payroll Worker",
                  "enum": [
                    false,
                    true
                  ],
                  "default": false
                },
                "address": {
                  "type": "object",
                  "properties": {
                    "addressLine1": {
                      "type": "string",
                      "description": "Address line 1 for employee home address",
                      "title": "Address line"
                    },
                    "addressLine2": {
                      "type": "string",
                      "description": "Address line 2 for employee home address",
                      "title": "Address line 2"
                    },
                    "city": {
                      "type": "string",
                      "description": "City for employee home address",
                      "title": "City"
                    },
                    "county": {
                      "type": "string",
                      "description": "County for employee home address",
                      "title": "County"
                    },
                    "postCode": {
                      "type": "string",
                      "description": "Post code for employee home address",
                      "title": "Post code"
                    }
                  },
                  "description": "Address",
                  "required": [
                    "addressLine1",
                    "city",
                    "postCode"
                  ]
                }
              },
              "required": [
                "address",
                "dateOfBirth",
                "gender",
                "firstName",
                "lastName",
                "title"
              ]
            }
          }
        ]
      }
    },
    "/timesheets": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Retrieve payroll timesheets",
        "description": "Retrieves all Payroll Timesheets in a Xero organisation",
        "operationId": "TimesheetsGet",
        "parameters": []
      }
    },
    "/Timesheet/{timesheetID}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Retrieve a timesheet",
        "description": "Retrieves a Payroll Timesheet in a Xero organisation using timesheet identifier",
        "operationId": "TimesheetsGetA",
        "parameters": [
          {
            "name": "timesheetID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "timesheetID",
            "x-ms-summary": "timesheetID",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Delete a timesheet",
        "description": "Use this method to delete a timesheet",
        "operationId": "TimesheetDelete",
        "parameters": [
          {
            "name": "timesheetID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Timesheet ID",
            "x-ms-summary": "timesheetID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/timesheets/": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add a payroll timesheet",
        "description": "Use this method to add a payroll timesheet.",
        "operationId": "TimesheetsCreate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "payrollCalendarID": {
                  "type": "string",
                  "description": "The Xero identifier for the payroll calandar that the timesheet applies to.",
                  "title": "Payroll calendar ID"
                },
                "employeeID": {
                  "type": "string",
                  "description": "The Xero identifier for the employee that the timesheet is for.",
                  "title": "Employee ID"
                },
                "startDate": {
                  "type": "string",
                  "description": "The Start Date of the timesheet period (YYYY-MM-DD).",
                  "title": "Start date"
                },
                "endDate": {
                  "type": "string",
                  "description": "The End Date of the timesheet period (YYYY-MM-DD).",
                  "title": "End date"
                },
                "timesheetLines": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "description": "The worked day  (YYYY-MM-DD)",
                        "title": "Date"
                      },
                      "earningsRateID": {
                        "type": "string",
                        "description": "The earnings rate identifier",
                        "title": "Earnings rate ID"
                      },
                      "numberOfUnits": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of units worked.",
                        "title": "Number of Units"
                      }
                    }
                  },
                  "description": "timesheetLines"
                }
              },
              "required": [
                "employeeID",
                "endDate",
                "startDate",
                "payrollCalendarID"
              ]
            }
          }
        ]
      }
    },
    "/timesheets/{timesheetID}/approve": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Approve a timesheet",
        "description": "Use this method to approve a timesheet.",
        "operationId": "TimesheetApprove",
        "parameters": [
          {
            "name": "timesheetID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The timesheet identifier",
            "x-ms-summary": "timesheetID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/timesheets/{timesheetID}/lines": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add a timesheet line to payroll timesheet",
        "parameters": [
          {
            "name": "timesheetID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Xero identifier for a timesheet",
            "x-ms-summary": "timesheetID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "description": "The Date that this timesheet line is for (YYYY-MM-DD).",
                  "title": "Date"
                },
                "earningsRateID": {
                  "type": "string",
                  "description": "The Xero identifier for the earnings rate that the timesheet is for",
                  "title": "Earnings rate ID"
                },
                "numberOfUnits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of units of the timesheet line",
                  "title": "Number of units"
                },
                "trackingItemID": {
                  "type": "string",
                  "description": "The Xero identifier for the tracking item that the timesheet is for.",
                  "title": "Tracking item ID"
                }
              },
              "required": [
                "date",
                "earningsRateID",
                "numberOfUnits"
              ]
            }
          }
        ],
        "description": "Use this method to add a timesheet line to a payroll timesheet.",
        "operationId": "TimesheetLineCreate"
      }
    },
    "/timesheets/{timesheetID}/lines/{timesheetLineID}": {
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Delete a timesheet line",
        "parameters": [
          {
            "name": "timesheetID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "timesheetID",
            "x-ms-summary": "timesheetID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "timesheetLineID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "timesheetLineID",
            "x-ms-summary": "timesheetLineID",
            "x-ms-url-encoding": "single"
          }
        ],
        "description": "Use this method to delete a timesheet line from a payroll timesheet.",
        "operationId": "TimesheetLineDelete"
      },
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Update a timesheet line",
        "description": "Use this method to update a timesheet line of a payroll timesheet.",
        "operationId": "TimesheetLineUpdate",
        "parameters": [
          {
            "name": "timesheetID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "timesheetID",
            "x-ms-summary": "timesheetID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "timesheetLineID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "timesheetLineID",
            "x-ms-summary": "timesheetLineID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "description": "The Date that this timesheet line is for (YYYY-MM-DD).",
                  "title": "Date"
                },
                "earningsRateID": {
                  "type": "string",
                  "description": "The Xero identifier for the earnings rate that the timesheet is for",
                  "title": "Earnings rate ID"
                },
                "numberOfUnits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of units of the timesheet line",
                  "title": "Number of units"
                },
                "trackingItemID": {
                  "type": "string",
                  "description": "The Xero identifier for the tracking item that the timesheet is for.",
                  "title": "Tracking item ID"
                }
              },
              "required": [
                "date",
                "earningsRateID",
                "numberOfUnits"
              ]
            }
          }
        ]
      }
    },
    "/reimbursements": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Retrieve reimbursements",
        "description": "Retrieve all reimbursements.",
        "operationId": "ReimbursementsGet",
        "parameters": [
          {
            "name": "Page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Page number which specifies the set of records to retrieve. By default the number of the records per set is 100. When page value is not a number or a negative number, by default, the first set of records is returned.",
            "x-ms-summary": "page",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add a reimbursement",
        "description": "Add a reimbursement to an account",
        "operationId": "ReimbursementsCreate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name of the reimbursement",
                  "title": "Name"
                },
                "accountID": {
                  "type": "string",
                  "description": "Xero unique identifier for the account used for the reimbursement",
                  "title": "Account ID"
                }
              },
              "required": [
                "accountID",
                "name"
              ]
            }
          }
        ]
      }
    },
    "/reimbursements/{reimbursementID}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Retrieve a payroll reimbursement",
        "description": "Retrieve the details of a reimbursement.",
        "operationId": "ReimbursementsGetA",
        "parameters": [
          {
            "name": "reimbursementID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "reimbursementID",
            "x-ms-summary": "reimbursementID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.xero.com/identity/connect/authorize",
      "tokenUrl": "https://identity.xero.com/connect/token",
      "scopes": {
        "accounting.transactions accounting.transactions.read accounting.reports.read accounting.reports.tenninetynine.read accounting.journals.read accounting.settings accounting.settings.read accounting.contacts accounting.contacts.read accounting.attachments accounting.attachments.read": "accounting.transactions accounting.transactions.read accounting.reports.read accounting.reports.tenninetynine.read accounting.journals.read accounting.settings accounting.settings.read accounting.contacts accounting.contacts.read accounting.attachments accounting.attachments.read"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "accounting.transactions accounting.transactions.read accounting.reports.read accounting.reports.tenninetynine.read accounting.journals.read accounting.settings accounting.settings.read accounting.contacts accounting.contacts.read accounting.attachments accounting.attachments.read"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
      {
        "propertyName": "Website",
        "propertyValue": "https://www.xero.com/us/"
      },
      {
        "propertyName": "Privacy policy",
        "propertyValue": "https://www.xero.com/us/about/legal/privacy/"
      },
      {
        "propertyName": "Categories",
        "propertyValue": "Finance;Data"
      }
    ]
}
