{
  "swagger": "2.0",
  "info": {
    "description": "Rencore Governance helps you to automate managing your Office 365 tenant.",
    "title": "Rencore Governance",
    "version": "1.0",
    "contact": {
      "name": "Rencore support",
      "url": "https://rencore.com",
      "email": "support@rencore.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://rencore.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "http://url.rencore.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations;Security"
    }
  ],
  "host": "app.rencore.com",
  "basePath": "/api/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1/workspaces": {
      "get": {
        "description": "Get workspaces",
        "operationId": "GetWorkspaces",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type:": {
                "description": "Content-Type:",
                "type": "string"
              }
            },
            "schema": {
              "items": {
                "properties": {
                  "id": {
                    "description": "id",
                    "type": "string"
                  },
                  "name": {
                    "description": "name",
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Get workspaces",
        "x-ms-visibility": "internal"
      }
    },
    "/v1/workspaces/{workspaceId}/environments": {
      "get": {
        "description": "Get connected environments",
        "operationId": "GetEnvironments",
        "parameters": [
          {
            "description": "Workspace for which you want to receive notifications",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetWorkspaces",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Workspace",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type:": {
                "description": "Content-Type:",
                "type": "string"
              }
            },
            "schema": {
              "items": {
                "properties": {
                  "id": {
                    "description": "id",
                    "type": "string"
                  },
                  "name": {
                    "description": "name",
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Get connected environments",
        "x-ms-visibility": "internal"
      }
    },
    "/v1/workspaces/{workspaceId}/environments/{environmentId}/checks": {
      "get": {
        "description": "Get available checks",
        "operationId": "GetChecks",
        "parameters": [
          {
            "description": "Workspace for which you want to receive notifications",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetWorkspaces",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Workspace",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Environment for which you want to receive notifications",
            "in": "path",
            "name": "environmentId",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironments",
              "parameters": {
                "workspaceId": {
                  "parameter": "workspaceId"
                }
              },
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Environment",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type:": {
                "description": "Content-Type:",
                "type": "string"
              }
            },
            "schema": {
              "items": {
                "properties": {
                  "id": {
                    "description": "id",
                    "type": "string"
                  },
                  "name": {
                    "description": "name",
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Get available checks",
        "x-ms-visibility": "internal"
      }
    },
    "/v1/workspaces/{workspaceId}/environments/{environmentId}/checks/{checkId}/hooks": {
      "x-ms-notification-content": {
        "description": "200",
        "schema": {
          "properties": {}
        }
      },
      "post": {
        "description": "Get notified of changes in your environment monitored by Rencore Governance",
        "operationId": "CheckNotificationTrigger",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Workspace for which you want to receive notifications",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetWorkspaces",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Workspace",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Environment for which you want to receive notifications",
            "in": "path",
            "name": "environmentId",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironments",
              "parameters": {
                "workspaceId": {
                  "parameter": "workspaceId"
                }
              },
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Environment",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Check for which you want to receive notifications",
            "in": "path",
            "name": "checkId",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetChecks",
              "parameters": {
                "workspaceId": {
                  "parameter": "workspaceId"
                },
                "environmentId": {
                  "parameter": "environmentId"
                }
              },
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Check",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "url": {
                  "description": "url",
                  "title": "",
                  "type": "string",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "url"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "When a check in Rencore Governance is violated",
        "x-ms-trigger": "single"
      }
    },
    "/v1/workspaces/{workspaceId}/environments/{environmentId}/checks/{checkId}/hooks/{hookId}": {
      "delete": {
        "description": "Delete hook",
        "operationId": "DeleteHook",
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "path",
            "name": "environmentId",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "path",
            "name": "checkId",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "path",
            "name": "hookId",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Delete hook",
        "x-ms-visibility": "internal"
      }
    },
    "/v1/workspaces/{workspaceId}/environments/{environmentId}/checks/{checkId}/results": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "checkInfo": {
                  "description": "Information about the violated check",
                  "properties": {
                    "id": {
                      "title": "ID",
                      "description": "ID of the violated check",
                      "type": "string"
                    },
                    "name": {
                      "title": "Name",
                      "description": "Name of the violated check",
                      "type": "string"
                    },
                    "description": {
                      "title": "Description",
                      "description": "Description of the violated check",
                      "type": "string"
                    },
                    "category": {
                      "title": "Category",
                      "description": "Category of the violated check",
                      "type": "string"
                    },
                    "targetService": {
                      "title": "Service",
                      "description": "Microsoft 365 service in which the check was violated",
                      "type": "string"
                    },
                    "severity": {
                      "title": "Severity",
                      "description": "Severity of the violated check",
                      "type": "string"
                    },
                    "totalCount": {
                      "title": ""
                    }
                  },
                  "type": "object"
                },
                "affectedUsers": {
                  "default": [],
                  "description": "Users affected by the non-compliant resources they either own or use",
                  "items": {
                    "$ref": "#/definitions/violationResourcePrincipal"
                  },
                  "title": "Affected users",
                  "type": "array"
                },
                "nonCompliantResources": {
                  "default": [],
                  "description": "List of resources that violate the check",
                  "items": {
                    "$ref": "#/definitions/violationResource"
                  },
                  "title": "Non-compliant resources",
                  "type": "array"
                },
                "totalAffectedUsers": {
                  "default": 0,
                  "description": "The total number of users affected by the non-compliant resources they either own or use",
                  "title": "Number of affected users",
                  "type": "integer"
                },
                "totalNonCompliantResources": {
                  "default": 0,
                  "description": "The total number of resources that violate the check",
                  "title": "Number of non-compliant resources",
                  "type": "integer"
                },
                "totalResources": {
                  "default": 0,
                  "description": "The total number of resources analyzed by the check",
                  "title": "Number of resources analyzed",
                  "type": "integer"
                }
              },
              "required": [
                "checkInfo",
                "totalResources",
                "totalNonCompliantResources",
                "totalAffectedUsers",
                "nonCompliantResources",
                "affectedUsers"
              ],
              "type": "object"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Get check violations",
        "description": "Get check violations",
        "operationId": "GetViolations",
        "parameters": [
          {
            "description": "Workspace for which you want to receive notifications",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetWorkspaces",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Workspace",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Environment for which you want to receive notifications",
            "in": "path",
            "name": "environmentId",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironments",
              "parameters": {
                "workspaceId": {
                  "parameter": "workspaceId"
                }
              },
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Environment",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Check for which you want to receive notifications",
            "in": "path",
            "name": "checkId",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetChecks",
              "parameters": {
                "workspaceId": {
                  "parameter": "workspaceId"
                },
                "environmentId": {
                  "parameter": "environmentId"
                }
              },
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Check",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    }
  },
  "definitions": {
    "violationResource": {
      "properties": {
        "enabled": {
          "default": false,
          "description": "True if the resource is enabled and false if it's disabled",
          "title": "Enabled",
          "type": "boolean"
        },
        "id": {
          "default": "",
          "description": "Unique ID of the resource",
          "pattern": "^(.*)$",
          "title": "ID",
          "type": "string"
        },
        "lastUsed": {
          "default": "",
          "description": "Date and time when the resource was last used",
          "pattern": "^(.*)$",
          "title": "Last-used date and time",
          "type": "string"
        },
        "name": {
          "default": "",
          "description": "Name of the resource",
          "pattern": "^(.*)$",
          "title": "Name",
          "type": "string"
        },
        "nonCompliantSince": {
          "default": "",
          "description": "Date and time when the analysis discovered the resource as being non-compliant with the check",
          "pattern": "^(.*)$",
          "title": "Non-compliant since",
          "type": "string"
        },
        "owners": {
          "description": "List of principals who own this resource",
          "items": {
            "$ref": "#/definitions/violationResourcePrincipalWithoutResources"
          },
          "title": "Owners",
          "type": "array"
        },
        "type": {
          "default": "",
          "description": "Type of the resource",
          "pattern": "^(.*)$",
          "title": "Type",
          "type": "string"
        },
        "url": {
          "default": "",
          "description": "URL to access the resource in the browser",
          "pattern": "^(.*)$",
          "title": "URL",
          "type": "string"
        },
        "users": {
          "description": "List of principals who use this resource",
          "items": {
            "$ref": "#/definitions/violationResourcePrincipalWithoutResources"
          },
          "title": "Users",
          "type": "array"
        }
      },
      "required": [
        "type",
        "name",
        "url",
        "id",
        "nonCompliantSince",
        "enabled",
        "lastUsed"
      ],
      "type": "object"
    },
    "violationResourcePrincipal": {
      "properties": {
        "email": {
          "default": "",
          "description": "Person's e-mail address",
          "pattern": "^(.*)$",
          "title": "E-mail",
          "type": "string"
        },
        "name": {
          "default": "",
          "description": "User's or group's display name",
          "pattern": "^(.*)$",
          "title": "Name",
          "type": "string"
        },
        "ownedNonCompliantResources": {
          "description": "Non-compliant resources owned by this principal",
          "items": {
            "$ref": "#/definitions/violationResourceWithoutPrincipals"
          },
          "title": "Owned non-compliant resources",
          "type": "array"
        },
        "type": {
          "default": "",
          "description": "Type of principal",
          "pattern": "^(.*)$",
          "title": "Type",
          "type": "string"
        },
        "usedNonCompliantResources": {
          "description": "Non-compliant resources used by this principal",
          "items": {
            "$ref": "#/definitions/violationResourceWithoutPrincipals"
          },
          "title": "Used non-compliant resources",
          "type": "array"
        }
      },
      "required": [
        "name",
        "type"
      ],
      "type": "object"
    },
    "violationResourcePrincipalWithoutResources": {
      "properties": {
        "email": {
          "default": "",
          "description": "Person's e-mail address",
          "pattern": "^(.*)$",
          "title": "E-mail",
          "type": "string"
        },
        "name": {
          "default": "",
          "description": "User's or group's display name",
          "pattern": "^(.*)$",
          "title": "Name",
          "type": "string"
        },
        "type": {
          "default": "",
          "description": "Type of principal",
          "pattern": "^(.*)$",
          "title": "Type",
          "type": "string"
        }
      },
      "required": [
        "name",
        "type"
      ],
      "type": "object"
    },
    "violationResourceWithoutPrincipals": {
      "properties": {
        "enabled": {
          "default": false,
          "description": "True if the resource is enabled and false if it's disabled",
          "title": "Enabled",
          "type": "boolean"
        },
        "id": {
          "default": "",
          "description": "Unique ID of the resource",
          "pattern": "^(.*)$",
          "title": "ID",
          "type": "string"
        },
        "lastUsed": {
          "default": "",
          "description": "Date and time when the resource was last used",
          "pattern": "^(.*)$",
          "title": "Last-used date and time",
          "type": "string"
        },
        "name": {
          "default": "",
          "description": "Name of the resource",
          "pattern": "^(.*)$",
          "title": "Name",
          "type": "string"
        },
        "nonCompliantSince": {
          "default": "",
          "description": "Date and time when the analysis discovered the resource as being non-compliant with the check",
          "pattern": "^(.*)$",
          "title": "Non-compliant since",
          "type": "string"
        },
        "type": {
          "default": "",
          "description": "Type of the resource",
          "pattern": "^(.*)$",
          "title": "Type",
          "type": "string"
        },
        "url": {
          "default": "",
          "description": "URL to access the resource in the browser",
          "pattern": "^(.*)$",
          "title": "URL",
          "type": "string"
        }
      },
      "required": [
        "type",
        "name",
        "url",
        "id",
        "nonCompliantSince",
        "enabled",
        "lastUsed"
      ],
      "type": "object"
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "undefined": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://rencoreb2c.b2clogin.com/rencoreb2c.onmicrosoft.com/B2C_1A_signup_signin_platform/oauth2/v2.0/authorize",
      "tokenUrl": "https://rencoreb2c.b2clogin.com/rencoreb2c.onmicrosoft.com/B2C_1A_signup_signin_platform/oauth2/v2.0/token",
      "scopes": {
        "1d69539f-d94e-4763-b992-622c1b9dcd50": "1d69539f-d94e-4763-b992-622c1b9dcd50"
      }
    }
  },
  "security": [
    {
      "undefined": [
        "1d69539f-d94e-4763-b992-622c1b9dcd50"
      ]
    }
  ],
  "tags": []
}