{
    "swagger": "2.0",
    "info": {
        "title": "Meekou Share Connector",
        "description": "Provide common functions which help to improve PowerApps & Automate development process.",
        "contact": {
            "name": "米可爱分享",
            "url": "https://blog.meekou.cn/",
            "email": "support@meekou365.onmicrosoft.com"
        },
        "license": {
            "name": "MIT License",
            "url": "https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/LICENSE"
        },
        "version": "Power Platform"
    },
    "host": "api.meekou.cn",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "consumes": [],
    "produces": [],
    "paths": {
        "/api/services/app/PowerPlatform/Sum": {
            "post": {
                "tags": [
                    "PowerPlatform"
                ],
                "summary": "Sum values from json by path",
                "operationId": "Sum",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "input",
                        "schema": {
                            "$ref": "#/definitions/SumInput"
                        },
                        "x-examples": {
                            "Object": {
                                "summary": "Sum value by object path",
                                "value": {
                                    "data": "{\"Value\":[{\"Id\":1,\"Name\":\"Jack\",\"Score\":90},{\"Id\":2,\"Name\":\"Cindy\",\"Score\":90}]}",
                                    "path": "Value[*].Score"
                                }
                            },
                            "Array": {
                                "summary": "Sum Array Value",
                                "value": {
                                    "data": "\"[ 1, 2, 3 ]\"",
                                    "path": "[*]"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "format": "double",
                            "type": "number"
                        }
                    }
                }
            }
        },
        "/api/services/app/PowerPlatform/RoundUp": {
            "post": {
                "tags": [
                    "PowerPlatform"
                ],
                "operationId": "RoundUp",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/RoundUpInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "format": "double",
                            "type": "number"
                        }
                    }
                }
            }
        },
        "/api/services/app/PowerPlatform/ImageInfo": {
            "post": {
                "tags": [
                    "PowerPlatform"
                ],
                "operationId": "ImageInfo",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/ImageInfoInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ImageInfoOutput"
                        }
                    }
                }
            }
        },
        "/api/services/app/PowerPlatform/GetVersion": {
            "get": {
                "tags": [
                    "PowerPlatform"
                ],
                "summary": "Get current Meekou connector version",
                "operationId": "GetVersion",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "ImageInfoInput": {
            "type": "object",
            "properties": {
                "imageBase64": {
                    "type": "string"
                }
            },
            "additionalProperties": false
        },
        "ImageInfoOutput": {
            "type": "object",
            "properties": {
                "Width": {
                    "format": "int32",
                    "type": "integer"
                },
                "Height": {
                    "format": "int32",
                    "type": "integer"
                },
                "Length": {
                    "format": "int64",
                    "type": "integer"
                }
            },
            "additionalProperties": false
        },
        "RoundUpInput": {
            "type": "object",
            "properties": {
                "value": {
                    "format": "double",
                    "type": "number"
                }
            },
            "additionalProperties": false
        },
        "SumInput": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "string"
                },
                "path": {
                    "type": "string"
                }
            },
            "additionalProperties": false,
            "example": {
                "data": "{\"Value\":[{\"Id\":1,\"Name\":\"Jack\",\"Score\":90},{\"Id\":2,\"Name\":\"Cindy\",\"Score\":90}]}",
                "path": "Value[*].Score"
            }
        }
    },
    "securityDefinitions": {}
}