{
  "swagger": "2.0",
  "info": {
    "title": "Meekou Share Connector",
    "description": "Provide common functions which help to improve PowerApps \u0026 Automate development process.",
    "version": "1.0"
  },
  "host": "api.meekou.cn",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/services/app/PowerPlatform/Math_Sum": {
      "post": {
        "tags": [
          "PowerPlatform"
        ],
        "operationId": "MathSum",
        "consumes": [
          "application/json-patch\u002Bjson",
          "application/json",
          "text/json",
          "application/*\u002Bjson"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Math_Sum_Input"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "number"
            }
          }
        },
        "summary": "Math Sum",
        "description": "sum values for array from json by path"
      }
    }
  },
  "definitions": {
    "Math_Sum_Input": {
      "type": "object",
      "properties": {
        "data": {
          "type": "string"
        },
        "path": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}