{
  "swagger": "2.0",
  "info": {
      "title": "Meekou Share Connector",
      "description": "Provide common functions which help to improve PowerApps & Automate development process.",
      "contact": {
          "name": "米可爱分享",
          "url": "https://blog.meekou.cn/",
          "email": "support@meekou365.onmicrosoft.com"
      },
      "license": {
          "name": "MIT License",
          "url": "https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/LICENSE"
      },
      "version": "Power Platform"
  },
  "host": "api.meekou.cn",
  "basePath": "/",
  "schemes": [
      "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
      "/api/services/app/PowerPlatform/Sum": {
          "post": {
              "tags": [
                  "PowerPlatform"
              ],
              "summary": "Sum values from json by path",
              "description": "Sample request:\r\n            \r\n    POST /Todo\r\n    {\r\n       \"id\": 1,\r\n       \"name\": \"Item #1\",\r\n       \"isComplete\": true\r\n    }",
              "operationId": "Sum",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "body",
                      "description": "input",
                      "schema": {
                          "$ref": "#/definitions/SumInput"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Success",
                      "schema": {
                          "format": "double",
                          "type": "number"
                      }
                  }
              }
          }
      },
      "/api/services/app/PowerPlatform/RoundUp": {
          "post": {
              "tags": [
                  "PowerPlatform"
              ],
              "operationId": "RoundUp",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "body",
                      "schema": {
                          "$ref": "#/definitions/RoundUpInput"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Success",
                      "schema": {
                          "format": "double",
                          "type": "number"
                      }
                  }
              }
          }
      }
  },
  "definitions": {
      "RoundUpInput": {
          "type": "object",
          "properties": {
              "value": {
                  "format": "double",
                  "type": "number"
              }
          },
          "additionalProperties": false
      },
      "SumInput": {
          "type": "object",
          "properties": {
              "data": {
                  "type": "string"
              },
              "path": {
                  "type": "string"
              }
          },
          "additionalProperties": false,
          "example": {
              "data": "{\"Value\":[{\"Id\":1,\"Name\":\"Jack\",\"Score\":90},{\"Id\":2,\"Name\":\"Cindy\",\"Score\":90}]}",
              "path": "1Value[*].Score"
          }
      }
  },
  "securityDefinitions": {}
}