{
  "swagger": "2.0",
  "info": {
    "title": "Seismic Engagement",
    "description": "Seismic engagement connector provides set of actions required for delivering content from content repository to other and generating livesend link.",
    "contact": {
      "name": "Seismic",
      "email": "support@seismic.com",
      "url": "https://seismic.com"
    },
    "license": {
      "name": "Seismic"
    },
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "api.seismic.com",
  "basePath": "/integration/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/delivery": {
      "get": {
        "tags": [
          "Delivery"
        ],
        "summary": "Get list of delivery options",
        "description": "Gets the list delivery options within the system.",
        "operationId": "GetListOfDeliveryOptions",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "Enabled",
            "type": "boolean",
            "x-ms-summary": "Enabled",
            "description": "Enabled"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Seismic.Delivery.DeliveryOption"
              }
            }
          }
        }
      }
    },
    "/customDelivery/{deliveryOptionId}": {
      "get": {
        "tags": [
          "Delivery"
        ],
        "summary": "Get list of inputs for a custom delivery form",
        "description": "Get list of adHoc inputs required to delivery via custom delivery.",
        "operationId": "GetDeliveryOptionFormInputs",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "deliveryOptionId",
            "required": true,
            "type": "string",
            "x-ms-summary": "Delivery Option Id",
            "description": "Delivery Option Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.Delivery.DeliveryFormInputs"
            }
          }
        }
      }
    },
    "/customDelivery": {
      "post": {
        "tags": [
          "Delivery"
        ],
        "summary": "Deliver content via custom delivery",
        "description": "Deliver content via custom delivery option.Content object should represent the repository in which you are delivering content from.",
        "operationId": "DeliverViaCustomDelivery",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Seismic.Delivery.CustomDeliveryRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/saveToWorkspace": {
      "post": {
        "tags": [
          "Delivery"
        ],
        "summary": "Save a file to Workspace",
        "description": "Collaborate with others by saving one or more files to your workspace environment.",
        "operationId": "SaveToWorkspace",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Seismic.Delivery.SaveToWorkspaceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsItemResp"
            }
          }
        }
      }
    },
    "/liveSend/links": {
      "post": {
        "tags": [
          "LiveSend"
        ],
        "summary": "Create a new LiveSend link",
        "description": "Creates a LiveSend link with the requested settings and content.",
        "operationId": "CreateLiveSendLink",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "schema": {
              "$ref": "#/definitions/Seismic.LiveSend.LiveSendLink"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.LiveSend.LiveSendLinkResponse"
            },
            "examples": {
              "application/json": {
                "url": "https://livesend.seismic.com/i/xxxxx",
                "id": "id",
                "settings": {
                  "expiresAt": "2022-12-09T12:53:07.5498113+05:30",
                  "password": "123456",
                  "allowDownload": true,
                  "notificationType": "All",
                  "singleView": false
                },
                "content": [
                  {
                    "id": "id",
                    "versionId": "versionId",
                    "teamsiteId": "1",
                    "repository": "DocCenter",
                    "name": "docxTest",
                    "type": "file",
                    "contentProfileId": "contentProfileId",
                    "contentProfilePath": [
                      ""
                    ]
                  },
                  {
                    "id": "id",
                    "versionId": "versionId",
                    "teamsiteId": "1",
                    "repository": "WorkSpace",
                    "name": "pptxTest",
                    "type": "file"
                  },
                  {
                    "id": "id",
                    "versionId": "versionId",
                    "teamsiteId": "1",
                    "repository": "WorkSpace",
                    "name": "pdfTest",
                    "type": "file"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/liveSend/settings": {
      "get": {
        "tags": [
          "LiveSend"
        ],
        "summary": "Get LiveSend Settings",
        "description": "Get LiveSend Settings",
        "operationId": "GetLiveSendSettings",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.LiveSend.LiveSendSettingsResponse"
            },
            "examples": {
              "application/json": {
                "defaultExpirationDays": 20,
                "maxExpirationDays": 30,
                "allowDownload": true,
                "singleView": false,
                "passwordSettings": {
                  "requiresLowerCase": true,
                  "requiresNumber": true,
                  "requiresSymbols": true,
                  "requiresUpperCase": true,
                  "minimumLength": 8,
                  "isRequired": false
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Seismic.Delivery.AdHocInputType": {
      "enum": [
        "string",
        "integer",
        "date",
        "boolean",
        "float",
        "table"
      ],
      "type": "string"
    },
    "Seismic.Delivery.CustomDelContent": {
      "type": "object",
      "properties": {
        "repository": {
          "$ref": "#/definitions/Seismic.Delivery.CustomRepository"
        },
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "x-ms-summary": "Id"
        },
        "versionId": {
          "type": "string",
          "x-ms-summary": "version Id"
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Type"
        },
        "libraryContent": {
          "$ref": "#/definitions/Seismic.Delivery.InternalLibraryContent"
        },
        "contentProfileId": {
          "type": "string",
          "x-ms-summary": "Profile Id",
          "description": "use only when respository type is doccenter and newscenter."
        },
        "contentProfilePath": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "use only when respository type is doccenter."
          },
          "x-ms-summary": "Profile Path",
          "description": "use only when respository type is doccenter."
        }
      }
    },
    "Seismic.Delivery.InternalLibraryContent": {
      "type": "object",
      "x-ms-summary": "Library Content",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Id",
          "description": "use only when respository type is doccenter and newscenter."
        },
        "versionId": {
          "type": "string",
          "x-ms-summary": "Version Id",
          "description": "use only when respository type is doccenter and newscenter."
        },
        "teamsiteId": {
          "type": "string",
          "x-ms-summary": "Teamsite Id",
          "description": "use only when respository type is doccenter and newscenter."
        }
      }
    },
    "Seismic.Delivery.CustomDeliveryAdHocInput": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "title": "Name",
          "x-ms-summary": "Name"
        },
        "value": {
          "title": "Value",
          "type": "string",
          "x-ms-summary": "Value"
        }
      }
    },
    "Seismic.Delivery.CustomDeliveryContent": {
      "type": "object",
      "properties": {
        "repository": {
          "$ref": "#/definitions/Seismic.Delivery.CustomDeliveryRepository",
          "title": "Repository",
          "type": "string",
          "enum": [
            "generatedlivedocs",
            "library",
            "workspace",
            "doccenter",
            "newscenter"
          ]
        },
        "name": {
          "type": "string",
          "title": "Name",
          "x-ms-summary": "Name"
        },
        "id": {
          "type": "string",
          "x-ms-summary": "Id"
        },
        "versionId": {
          "type": "string",
          "x-ms-summary": "Version Id"
        },
        "teamsiteId": {
          "type": "string",
          "x-ms-summary": "Teamsite Id",
          "description": "Required when repository type is library"
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Type"
        },
        "contentProfileId": {
          "type": "string",
          "x-ms-summary": "Profile Id",
          "description": "use only when respository type is doccenter and newscenter."
        },
        "contentProfilePath": {
          "type": "array",
          "items": {
            "type": "string",
            "x-ms-summary": "Profile Path",
            "description": "use only when respository type is doccenter."
          }
        },
        "libraryContent": {
          "$ref": "#/definitions/Seismic.Delivery.InternalLibraryContent"
        }
      }
    },
    "Seismic.Delivery.CustomDeliveryRepository": {
      "enum": [
        "generatedlivedocs",
        "library",
        "workspace",
        "doccenter",
        "newscenter"
      ],
      "type": "string",
      "x-ms-summary": "Repository"
    },
    "Seismic.Delivery.CustomDeliveryRequest": {
      "type": "object",
      "properties": {
        "deliveryOption": {
          "type": "string",
          "x-ms-summary": "Delivery Option"
        },
        "deliveryOptionId": {
          "type": "string",
          "x-ms-summary": "Delivery Option Id"
        },
        "adHocInputs": {
          "type": "array",
          "x-ms-summary": "AdHoc Input",
          "items": {
            "$ref": "#/definitions/Seismic.Delivery.CustomDeliveryAdHocInput"
          }
        },
        "content": {
          "type": "array",
          "x-ms-summary": "Content",
          "items": {
            "$ref": "#/definitions/Seismic.Delivery.CustomDeliveryContent"
          }
        }
      }
    },
    "Seismic.Delivery.CustomRepository": {
      "enum": [
        "workspace",
        "doccenter",
        "newscenter"
      ],
      "type": "string",
      "x-ms-summary": "Repository"
    },
    "Seismic.Delivery.DeliveryFormInput": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/Seismic.Delivery.AdHocInputType"
        },
        "columns": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Seismic.Delivery.DeliveryFormInput"
          }
        },
        "format": {
          "type": "string"
        }
      }
    },
    "Seismic.Delivery.DeliveryFormInputs": {
      "type": "object",
      "properties": {
        "adHocInputs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Seismic.Delivery.DeliveryFormInput"
          }
        }
      }
    },
    "Seismic.Delivery.DeliveryOption": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "isEnabled": {
          "type": "boolean"
        },
        "isCustom": {
          "type": "boolean"
        },
        "hasForm": {
          "type": "boolean"
        },
        "externalApplication": {
          "$ref": "#/definitions/Seismic.Delivery.ExternalApplicationType"
        }
      }
    },
    "Seismic.Delivery.ExternalApplicationType": {
      "enum": [
        "",
        "ios",
        "salesforce",
        "sharepoint",
        "google drive",
        "gmail"
      ],
      "type": "string"
    },
    "Seismic.Delivery.SaveToWorkspaceRequest": {
      "type": "object",
      "properties": {
        "workspaceOptions": {
          "$ref": "#/definitions/Seismic.Delivery.WorkspaceOptions"
        },
        "content": {
          "type": "array",
          "x-ms-summary": "Content",
          "items": {
            "$ref": "#/definitions/Seismic.Delivery.CustomDelContent"
          }
        }
      }
    },
    "Seismic.Delivery.WorkspaceOptions": {
      "type": "object",
      "properties": {
        "workspaceFolderId": {
          "type": "string",
          "x-ms-summary": "Workspace Folder Id"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.ApplicationUrl": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "x-ms-summary": "Workspace application name"
        },
        "url": {
          "type": "string",
          "x-ms-summary": "Workspace application url"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.ItemType": {
      "enum": [
        "folder",
        "url",
        "file"
      ],
      "type": "string",
      "x-ms-summary": "Content Type"
    },
    "Seismic.WorkSpaceContentManager.CreatedUser": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Created By User Id"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.ModifiedUser": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Modified By User Id"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.WsDeliveryOption": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Workspace delivery option id"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.WsItemResp": {
      "type": "object",
      "properties": {
        "url": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsUrlInfoResp"
        },
        "id": {
          "type": "string",
          "x-ms-summary": "Workspace Id"
        },
        "type": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.ItemType"
        },
        "repository": {
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Repository"
        },
        "resourceUrl": {
          "type": "string",
          "x-ms-summary": "Resource Url"
        },
        "size": {
          "format": "int64",
          "type": "integer",
          "x-ms-summary": "Size"
        },
        "deliveryOptions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsDeliveryOption"
          }
        },
        "versionId": {
          "type": "string",
          "x-ms-summary": "Workspace Version Id"
        },
        "applicationUrls": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Seismic.WorkSpaceContentManager.ApplicationUrl"
          }
        },
        "createdAt": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Created At"
        },
        "createdBy": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.CreatedUser"
        },
        "modifiedAt": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Modified At"
        },
        "modifiedBy": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.ModifiedUser"
        },
        "isContextualContent": {
          "type": "boolean",
          "x-ms-summary": "Is Contextual Content"
        },
        "iconUrl": {
          "format": "uri",
          "type": "string",
          "x-ms-summary": "Icon Url"
        },
        "format": {
          "type": "string",
          "x-ms-summary": "Format"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Content Name"
        },
        "parentFolderId": {
          "type": "string",
          "x-ms-summary": "Content Parent Folder Id"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.WsUrlInfoResp": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "x-ms-summary": "Workspace Url"
        }
      }
    },
    "Seismic.LiveSend.LiveSendContentRepositoryEnum": {
      "enum": [
        "DocCenter",
        "NewsCenter",
        "WorkSpace",
        "Library",
        "GeneratedLivedocs"
      ],
      "type": "string",
      "x-ms-summary": "Repository"
    },
    "Seismic.LiveSend.LiveSendLink": {
      "description": "The link and content settings for a LiveSend link.",
      "type": "object",
      "properties": {
        "tags": {
          "type": "array",
          "x-ms-summary": "Tags",
          "items": {
            "type": "string",
            "description": "This is like legacy trackingId in LiveShare"
          }
        },
        "settings": {
          "$ref": "#/definitions/Seismic.LiveSend.LiveSendLinkSettings"
        },
        "content": {
          "description": "The contents for this LiveSend link.",
          "type": "array",
          "x-ms-summary": "Content",
          "items": {
            "$ref": "#/definitions/Seismic.LiveSend.LiveSendLinkContent"
          }
        }
      }
    },
    "Seismic.LiveSend.LiveSendLinkContent": {
      "description": "LiveSend link content properties.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Content Id",
          "type": "string",
          "x-ms-summary": "Id"
        },
        "versionId": {
          "description": "Content Version Id",
          "type": "string",
          "x-ms-summary": "Version Id"
        },
        "teamsiteId": {
          "description": "TeamSiteId - only used when Repository=Library",
          "type": "string",
          "x-ms-summary": "Teamsite Id"
        },
        "repository": {
          "$ref": "#/definitions/Seismic.LiveSend.LiveSendContentRepositoryEnum"
        },
        "name": {
          "description": "Content name",
          "type": "string",
          "x-ms-summary": "Name"
        },
        "type": {
          "description": "LiveSend Content Type(value can be \"file\", \"url\")",
          "type": "string",
          "x-ms-summary": "Type"
        },
        "libraryContent": {
          "$ref": "#/definitions/Seismic.LiveSend.LiveSendLinkContentBasicInfo"
        },
        "contentProfileId": {
          "description": "use only when respository type is doccenter and newscenter.",
          "type": "string",
          "x-ms-summary": "Profile Id"
        },
        "contentProfilePath": {
          "description": "use only when respository type is doccenter.",
          "type": "array",
          "x-ms-summary": "Profile Path",
          "items": {
            "type": "string",
            "description": "use only when respository type is doccenter."
          }
        }
      }
    },
    "Seismic.LiveSend.LiveSendLinkContentBasicInfo": {
      "description": "LiveSend link content Basic Info.",
      "type": "object",
      "x-ms-summary": "Library Content",
      "properties": {
        "id": {
          "description": "use only when respository type is doccenter and newscenter.",
          "type": "string",
          "x-ms-summary": "Id"
        },
        "versionId": {
          "description": "use only when respository type is doccenter and newscenter.",
          "type": "string",
          "x-ms-summary": "Version Id"
        },
        "teamsiteId": {
          "description": "use only when respository type is doccenter and newscenter.",
          "type": "string",
          "x-ms-summary": "TeamSite Id"
        }
      }
    },
    "Seismic.LiveSend.LiveSendLinkResponse": {
      "type": "object",
      "properties": {
        "url": {
          "description": "The LiveSend Link URL to be returned to the caller.",
          "type": "string",
          "x-ms-summary": "Livesend Url"
        },
        "id": {
          "description": "Unique ID for the LiveSend link.",
          "type": "string",
          "x-ms-summary": "Livesend Id"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string",
            "x-ms-summary": "Tags"
          }
        },
        "settings": {
          "$ref": "#/definitions/Seismic.LiveSend.LiveSendLinkSettings"
        },
        "content": {
          "description": "The contents for this LiveSend link.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Seismic.LiveSend.LiveSendLinkContent"
          }
        }
      }
    },
    "Seismic.LiveSend.LiveSendLinkSettings": {
      "description": "LiveSend link settings",
      "type": "object",
      "properties": {
        "expiresAt": {
          "format": "date-time",
          "x-ms-summary": "Expires At",
          "description": "Expiration date for the LiveSend link.",
          "type": "string"
        },
        "password": {
          "description": "Password to access the LiveSend link content.",
          "type": "string",
          "x-ms-summary": "Password"
        },
        "allowDownload": {
          "description": "Can the viewer download the content?",
          "type": "boolean",
          "x-ms-summary": "Allow Download"
        },
        "notificationType": {
          "description": "Notification type for the sender. Valid values are 'All','Session', and 'None'.",
          "type": "string",
          "x-ms-summary": "Notification Type"
        },
        "singleView": {
          "description": "Can the LiveSend link only be viewed once?",
          "type": "boolean",
          "x-ms-summary": "Single View"
        }
      }
    },
    "Seismic.LiveSend.LiveSendPasswordSettings": {
      "type": "object",
      "properties": {
        "requiresLowerCase": {
          "description": "Password requires attleast one lowercase letter",
          "type": "boolean",
          "x-ms-summary": "Requires Lower Case"
        },
        "requiresNumber": {
          "description": "Password requires at least one number",
          "type": "boolean",
          "x-ms-summary": "Requires Number"
        },
        "requiresSymbols": {
          "description": "Password require at least one symbol",
          "type": "boolean",
          "x-ms-summary": "Requires Symbols"
        },
        "requiresUpperCase": {
          "description": "Password requires at least one upper case letter",
          "type": "boolean",
          "x-ms-summary": "Requires Upper Case"
        },
        "minimumLength": {
          "format": "int32",
          "description": "Minimum length of password",
          "type": "integer",
          "x-ms-summary": "Minimum Length"
        },
        "isRequired": {
          "description": "Is password required, If true then the complexity rules will apply, otherwise not.",
          "type": "boolean",
          "x-ms-summary": "Is Required"
        }
      }
    },
    "Seismic.LiveSend.LiveSendSettingsResponse": {
      "type": "object",
      "properties": {
        "defaultExpirationDays": {
          "format": "int32",
          "description": "Default expiration days",
          "type": "integer",
          "x-ms-summary": "Default Expiration Days"
        },
        "maxExpirationDays": {
          "format": "int32",
          "description": "Max expiration days",
          "type": "integer",
          "x-ms-summary": "Max Expiration Days"
        },
        "allowDownload": {
          "description": "Can the viewer download the content?",
          "type": "boolean",
          "x-ms-summary": "Allow Download"
        },
        "singleView": {
          "description": "Can the LiveSend link only be viewed once?",
          "type": "boolean",
          "x-ms-summary": "Single View"
        },
        "passwordSettings": {
          "$ref": "#/definitions/Seismic.LiveSend.LiveSendPasswordSettings"
        }
      }
    }
  },
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://auth.seismic.com/central/connect/authorize",
      "tokenUrl": "https://auth.seismic.com/central/connect/token",
      "scopes": {
        "seismic.delivery seismic.configuration.view seismic.configuration.manage offline_access": "seismic.delivery seismic.configuration.view seismic.configuration.manage offline_access"
      }
    }
  },
  "tags": [
    {
      "name": "LiveSend"
    }
  ],
  "security": [
    {
      "oauth2-auth": [
        "seismic.delivery seismic.configuration.view seismic.configuration.manage offline_access"
      ]
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://seismic.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://seismic.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Marketing;Sales and CRM"
    }
  ]
}