{
  "swagger": "2.0",
  "info": {
    "title": "IP2WHOIS",
    "description": "Obtain domain information and WHOIS record by using a domain name, such as creation date, updated date, expiration date, etc.",
    "version": "1.0",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_ip2who@gmail.com"
    }
  },
  "host": "api.ip2whois.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v2": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "domain": {
                  "type": "string",
                  "description": "Domain name.",
                  "title": "Domain"
                },
                "domain_id": {
                  "type": "string",
                  "description": "Domain name ID.",
                  "title": "Domain ID"
                },
                "status": {
                  "type": "string",
                  "description": "Domain name status.",
                  "title": "Status"
                },
                "create_date": {
                  "type": "string",
                  "description": "Domain name creation date.",
                  "title": "Create date"
                },
                "update_date": {
                  "type": "string",
                  "description": "Domain name update date.",
                  "title": "Update date"
                },
                "expire_date": {
                  "type": "string",
                  "description": "Doman name expire date.",
                  "title": "Expire date"
                },
                "domain_age": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Domain name age in day(s).",
                  "title": "Domain age"
                },
                "whois_server": {
                  "type": "string",
                  "description": "WHOIS server name.",
                  "title": "WHOIS server"
                },
                "registrar": {
                  "type": "object",
                  "properties": {
                    "iana_id": {
                      "type": "string",
                      "description": "Registrar IANA ID.",
                      "title": "IANA ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "Registrar name.",
                      "title": "Name"
                    },
                    "url": {
                      "type": "string",
                      "description": "Registrar URL.",
                      "title": "URL"
                    }
                  },
                  "description": "Registrar details.",
                  "title": "Registrar"
                },
                "registrant": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Registrant name.",
                      "title": "Name"
                    },
                    "organization": {
                      "type": "string",
                      "description": "Registrant organization.",
                      "title": "Organization"
                    },
                    "street_address": {
                      "type": "string",
                      "description": "Registrant street address.",
                      "title": "Street address"
                    },
                    "city": {
                      "type": "string",
                      "description": "Registrant city.",
                      "title": "City"
                    },
                    "region": {
                      "type": "string",
                      "description": "Registrant region.",
                      "title": "Region"
                    },
                    "zip_code": {
                      "type": "string",
                      "description": "Registrant ZIP code.",
                      "title": "ZIP code"
                    },
                    "country": {
                      "type": "string",
                      "description": "Registrant country.",
                      "title": "Country"
                    },
                    "phone": {
                      "type": "string",
                      "description": "Registrant phone.",
                      "title": "Phone"
                    },
                    "fax": {
                      "type": "string",
                      "description": "Registrant fax.",
                      "title": "Fax"
                    },
                    "email": {
                      "type": "string",
                      "description": "Registrant email.",
                      "title": "Email"
                    }
                  },
                  "description": "Registrant details.",
                  "title": "Registrant"
                },
                "admin": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Admin name.",
                      "title": "Name"
                    },
                    "organization": {
                      "type": "string",
                      "description": "Admin organization.",
                      "title": "Organization"
                    },
                    "street_address": {
                      "type": "string",
                      "description": "Admin street address.",
                      "title": "Street address"
                    },
                    "city": {
                      "type": "string",
                      "description": "Admin city.",
                      "title": "City"
                    },
                    "region": {
                      "type": "string",
                      "description": "Admin region.",
                      "title": "Region"
                    },
                    "zip_code": {
                      "type": "string",
                      "description": "Admin ZIP code.",
                      "title": "ZIP code"
                    },
                    "country": {
                      "type": "string",
                      "description": "Admin country.",
                      "title": "Country"
                    },
                    "phone": {
                      "type": "string",
                      "description": "Admin phone.",
                      "title": "Phone"
                    },
                    "fax": {
                      "type": "string",
                      "description": "Admin fax.",
                      "title": "Fax"
                    },
                    "email": {
                      "type": "string",
                      "description": "Admin email.",
                      "title": "Email"
                    }
                  },
                  "description": "Admin details.",
                  "title": "Admin"
                },
                "tech": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Tech name.",
                      "title": "Name"
                    },
                    "organization": {
                      "type": "string",
                      "description": "Tech organization.",
                      "title": "Organization"
                    },
                    "street_address": {
                      "type": "string",
                      "description": "Tech street address.",
                      "title": "Street address"
                    },
                    "city": {
                      "type": "string",
                      "description": "Tech city.",
                      "title": "City"
                    },
                    "region": {
                      "type": "string",
                      "description": "Tech region.",
                      "title": "Region"
                    },
                    "zip_code": {
                      "type": "string",
                      "description": "Tech ZIP code.",
                      "title": "ZIP code"
                    },
                    "country": {
                      "type": "string",
                      "description": "Tech country.",
                      "title": "Country"
                    },
                    "phone": {
                      "type": "string",
                      "description": "Tech phone.",
                      "title": "Phone"
                    },
                    "fax": {
                      "type": "string",
                      "description": "Tech fax.",
                      "title": "Fax"
                    },
                    "email": {
                      "type": "string",
                      "description": "Tech email.",
                      "title": "Email"
                    }
                  },
                  "description": "Tech details.",
                  "title": "Tech"
                },
                "billing": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Billing name.",
                      "title": "Name"
                    },
                    "organization": {
                      "type": "string",
                      "description": "Billing organization.",
                      "title": "Organization"
                    },
                    "street_address": {
                      "type": "string",
                      "description": "Billing street address.",
                      "title": "Street address"
                    },
                    "city": {
                      "type": "string",
                      "description": "Billing city.",
                      "title": "City"
                    },
                    "region": {
                      "type": "string",
                      "description": "Billing region.",
                      "title": "Region"
                    },
                    "zip_code": {
                      "type": "string",
                      "description": "Billing ZIP code.",
                      "title": "ZIP code"
                    },
                    "country": {
                      "type": "string",
                      "description": "Billing country.",
                      "title": "Country"
                    },
                    "phone": {
                      "type": "string",
                      "description": "Billing phone.",
                      "title": "Phone"
                    },
                    "fax": {
                      "type": "string",
                      "description": "Billing fax.",
                      "title": "Fax"
                    },
                    "email": {
                      "type": "string",
                      "description": "Billing email.",
                      "title": "Email"
                    }
                  },
                  "description": "Billing details.",
                  "title": "Billing"
                },
                "nameservers": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Name servers details.",
                  "title": "Name servers"
                }
              }
            }
          }
        },
        "summary": "Check domain",
        "description": "Obtain domain information and WHOIS record by using a domain name, such as creation date, updated date, expiration date, etc.",
        "operationId": "CheckDomain",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Domain name, for example 'example.com'.",
            "x-ms-summary": "Domain"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "query",
      "name": "key"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.ip2location.io/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.ip2location.io/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Security;IT Operations"
    }
  ]
}