{
  "swagger": "2.0",
  "info": {
    "title": "Event Tickets",
    "description": "Sell Tickets and Manage Registration through the WordPress plugins Event Tickets and Events Automator.",
    "version": "1.0",
    "contact": {
      "name": "The Events Calendar Support",
      "url": "https://theeventscalendar.com/support/",
      "email": "support@theeventscalendar.com"
    }
  },
  "host": "theeventscalendar.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/trigger/wp-json/tribe/power-automate/v1/attendees/": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "type": "object",
              "properties": {
                "attendees": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "An attendee ID.",
                        "title": ""
                      },
                      "holder_name": {
                        "type": "string",
                        "description": "Attendee Holder Name."
                      },
                      "holder_email": {
                        "type": "string",
                        "description": "Attendee Holder Email"
                      },
                      "ticket_id": {
                        "type": "string",
                        "description": "Attendee Ticket ID"
                      },
                      "security_code": {
                        "type": "string",
                        "description": "Ticket Security Code."
                      },
                      "attendee_meta": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "attendee_meta_id": {
                              "type": "string",
                              "description": "Attendee Meta ID"
                            },
                            "attendee_meta_name": {
                              "type": "string",
                              "description": "Attendee Meta Name"
                            },
                            "attendee_meta_value": {
                              "type": "array",
                              "description": "Attendee Meta Values",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "description": "Attendee Meta."
                      },
                      "check_in": {
                        "type": "string",
                        "description": "Attende Checked in."
                      },
                      "optout": {
                        "type": "boolean",
                        "description": "Opt out of front end attendee list."
                      },
                      "user_id": {
                        "type": "string",
                        "description": "Attendee user id."
                      },
                      "is_subscribed": {
                        "type": "boolean",
                        "description": "Attendee is subscribed for updates."
                      },
                      "is_purchaser": {
                        "type": "boolean",
                        "description": "Attendee is purchaser of tickets."
                      },
                      "purchaser_name": {
                        "type": "string",
                        "description": "Attendee purchaser name."
                      },
                      "purchaser_email": {
                        "type": "string",
                        "description": "Attendee purchase email."
                      },
                      "provider": {
                        "type": "string",
                        "description": "Attendee ticket provider."
                      },
                      "ticket": {
                        "type": "string",
                        "description": "Attendee Ticket name."
                      },
                      "ticket_product_id": {
                        "type": "string",
                        "description": "Attende ticket product id."
                      },
                      "order_id": {
                        "type": "string",
                        "description": "Attendee order id.",
                        "title": ""
                      },
                      "order_status": {
                        "type": "string",
                        "description": "Attende order status."
                      },
                      "event_id": {
                        "type": "string",
                        "description": "Attendee event id."
                      },
                      "event_title": {
                        "type": "string",
                        "description": "Attendee event title."
                      }
                    }
                  },
                  "description": "attendees"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total attendees provided."
                },
                "total_pages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total pages of attendees."
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "403": {
            "description": "Authorization information is missing or invalid."
          },
          "429": {
            "description": "Throttled"
          },
          "500": {
            "description": "Server Error"
          },
          "404": {
            "description": "Not Found."
          },
          "default": {
            "description": "Unexpected error"
          }
        },
        "summary": "When an attendee is created in your site",
        "operationId": "AttendeeTrigger",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "description": "When an attendee is created in your site",
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "eva-app-name",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-trigger-hint": "Returns 1 attendee at a time."
      }
    },
    "/trigger/wp-json/tribe/power-automate/v1/updated-attendees/": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "type": "object",
              "properties": {
                "attendees": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "An attendee ID.",
                        "title": ""
                      },
                      "holder_name": {
                        "type": "string",
                        "description": "Attendee Holder Name."
                      },
                      "holder_email": {
                        "type": "string",
                        "description": "Attendee Holder Email"
                      },
                      "ticket_id": {
                        "type": "string",
                        "description": "Attendee Ticket ID"
                      },
                      "security_code": {
                        "type": "string",
                        "description": "Ticket Security Code."
                      },
                      "attendee_meta": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "attendee_meta_id": {
                              "type": "string",
                              "description": "Attendee Meta ID"
                            },
                            "attendee_meta_name": {
                              "type": "string",
                              "description": "Attendee Meta Name"
                            },
                            "attendee_meta_value": {
                              "type": "array",
                              "description": "Attendee Meta Values",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "description": "Attendee Meta."
                      },
                      "check_in": {
                        "type": "string",
                        "description": "Attende Checked in."
                      },
                      "optout": {
                        "type": "boolean",
                        "description": "Opt out of front end attendee list."
                      },
                      "user_id": {
                        "type": "string",
                        "description": "Attendee user id."
                      },
                      "is_subscribed": {
                        "type": "boolean",
                        "description": "Attendee is subscribed for updates."
                      },
                      "is_purchaser": {
                        "type": "boolean",
                        "description": "Attendee is purchaser of tickets."
                      },
                      "purchaser_name": {
                        "type": "string",
                        "description": "Attendee purchaser name."
                      },
                      "purchaser_email": {
                        "type": "string",
                        "description": "Attendee purchase email."
                      },
                      "provider": {
                        "type": "string",
                        "description": "Attendee ticket provider."
                      },
                      "ticket": {
                        "type": "string",
                        "description": "Attendee Ticket name."
                      },
                      "ticket_product_id": {
                        "type": "string",
                        "description": "Attende ticket product id."
                      },
                      "order_id": {
                        "type": "string",
                        "description": "Attendee order id.",
                        "title": ""
                      },
                      "order_status": {
                        "type": "string",
                        "description": "Attende order status."
                      },
                      "event_id": {
                        "type": "string",
                        "description": "Attendee event id."
                      },
                      "event_title": {
                        "type": "string",
                        "description": "Attendee event title."
                      }
                    }
                  },
                  "description": "attendees"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total attendees provided."
                },
                "total_pages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total pages of attendees."
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "403": {
            "description": "Authorization information is missing or invalid."
          },
          "429": {
            "description": "Throttled"
          },
          "500": {
            "description": "Server Error"
          },
          "404": {
            "description": "Not Found."
          },
          "default": {
            "description": "Unexpected error"
          }
        },
        "summary": "When an attendee is updated in your site",
        "description": "When an attendee is updated in your site",
        "operationId": "UpdatedAttendeeTrigger",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-visibility": "internal"
          },
          {
            "name": "eva-app-name",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-trigger-hint": "Returns 1 attendee at a time."
      }
    },
    "/trigger/wp-json/tribe/power-automate/v1/checkin/": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "type": "object",
              "properties": {
                "attendees": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "An attendee ID.",
                        "title": ""
                      },
                      "holder_name": {
                        "type": "string",
                        "description": "Attendee Holder Name."
                      },
                      "holder_email": {
                        "type": "string",
                        "description": "Attendee Holder Email"
                      },
                      "ticket_id": {
                        "type": "string",
                        "description": "Attendee Ticket ID"
                      },
                      "security_code": {
                        "type": "string",
                        "description": "Ticket Security Code."
                      },
                      "attendee_meta": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "attendee_meta_id": {
                              "type": "string",
                              "description": "Attendee Meta ID"
                            },
                            "attendee_meta_name": {
                              "type": "string",
                              "description": "Attendee Meta Name"
                            },
                            "attendee_meta_value": {
                              "type": "array",
                              "description": "Attendee Meta Values",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "description": "Attendee Meta."
                      },
                      "check_in": {
                        "type": "string",
                        "description": "Attende Checked in."
                      },
                      "optout": {
                        "type": "boolean",
                        "description": "Opt out of front end attendee list."
                      },
                      "user_id": {
                        "type": "string",
                        "description": "Attendee user id."
                      },
                      "is_subscribed": {
                        "type": "boolean",
                        "description": "Attendee is subscribed for updates."
                      },
                      "is_purchaser": {
                        "type": "boolean",
                        "description": "Attendee is purchaser of tickets."
                      },
                      "purchaser_name": {
                        "type": "string",
                        "description": "Attendee purchaser name."
                      },
                      "purchaser_email": {
                        "type": "string",
                        "description": "Attendee purchase email."
                      },
                      "provider": {
                        "type": "string",
                        "description": "Attendee ticket provider."
                      },
                      "ticket": {
                        "type": "string",
                        "description": "Attendee Ticket name."
                      },
                      "ticket_product_id": {
                        "type": "string",
                        "description": "Attende ticket product id."
                      },
                      "order_id": {
                        "type": "string",
                        "description": "Attendee order id.",
                        "title": ""
                      },
                      "order_status": {
                        "type": "string",
                        "description": "Attende order status."
                      },
                      "event_id": {
                        "type": "string",
                        "description": "Attendee event id."
                      },
                      "event_title": {
                        "type": "string",
                        "description": "Attendee event title."
                      }
                    }
                  },
                  "description": "attendees"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total attendees provided."
                },
                "total_pages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total pages of attendees."
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "403": {
            "description": "Authorization information is missing or invalid."
          },
          "429": {
            "description": "Throttled"
          },
          "500": {
            "description": "Server Error"
          },
          "404": {
            "description": "Not Found."
          },
          "default": {
            "description": "Unexpected error"
          }
        },
        "summary": "When an attendee is checked in on your site",
        "description": "When an attendee is checked in on your site",
        "operationId": "CheckinTrigger",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-visibility": "internal"
          },
          {
            "name": "eva-app-name",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-trigger-hint": "Returns 1 attendee at a time."
      }
    },
    "/trigger/wp-json/tribe/power-automate/v1/orders/": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "type": "object",
              "properties": {
                "orders": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "ID for the order."
                      },
                      "order_id": {
                        "type": "string",
                        "description": "Order ID."
                      },
                      "order_number": {
                        "type": "string",
                        "description": "Order number."
                      },
                      "order_date": {
                        "type": "string",
                        "description": "Order date."
                      },
                      "status": {
                        "type": "string",
                        "description": "Order Status."
                      },
                      "shipping_total": {
                        "type": "string",
                        "description": "Order Shipping Total."
                      },
                      "shipping_tax_total": {
                        "type": "string",
                        "description": "Order Shipping Tax Total."
                      },
                      "tax_total": {
                        "type": "number",
                        "description": "Order Tax Total.",
                        "format": "float"
                      },
                      "discount_total": {
                        "type": "number",
                        "description": "Order discount total.",
                        "format": "float"
                      },
                      "order_total": {
                        "type": "number",
                        "description": "Order total.",
                        "format": "float"
                      },
                      "order_currency": {
                        "type": "string",
                        "description": "Order currency."
                      },
                      "payment_method": {
                        "type": "string",
                        "description": "Order payment method."
                      },
                      "shipping_method": {
                        "type": "string",
                        "description": "Order shipping method."
                      },
                      "customer_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Order customer id."
                      },
                      "customer_user": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Order customer user id."
                      },
                      "customer_email": {
                        "type": "string",
                        "description": "Order custom email."
                      },
                      "billing_first_name": {
                        "type": "string",
                        "description": "Billing First Name."
                      },
                      "billing_last_name": {
                        "type": "string",
                        "description": "Billing Last Name."
                      },
                      "billing_company": {
                        "type": "string",
                        "description": "Billing Company."
                      },
                      "billing_email": {
                        "type": "string",
                        "description": "Billing Email."
                      },
                      "billing_phone": {
                        "type": "string",
                        "description": "Billing Phone."
                      },
                      "billing_address_1": {
                        "type": "string",
                        "description": "Billing Address Line 1."
                      },
                      "billing_address_2": {
                        "type": "string",
                        "description": "Billing Address Line 2."
                      },
                      "billing_postcode": {
                        "type": "string",
                        "description": "Billing Postcode."
                      },
                      "billing_city": {
                        "type": "string",
                        "description": "Billing City."
                      },
                      "billing_state": {
                        "type": "string",
                        "description": "Billing State."
                      },
                      "billing_country": {
                        "type": "string",
                        "description": "Billing Country."
                      },
                      "shipping_first_name": {
                        "type": "string",
                        "description": "Shipping First Name."
                      },
                      "shipping_last_name": {
                        "type": "string",
                        "description": "Shipping Last Name."
                      },
                      "shipping_company": {
                        "type": "string",
                        "description": "Shipping Company."
                      },
                      "shipping_address_1": {
                        "type": "string",
                        "description": "Shipping Address Line 1."
                      },
                      "shipping_address_2": {
                        "type": "string",
                        "description": "Shipping Address Line 2."
                      },
                      "shipping_postcode": {
                        "type": "string",
                        "description": "Shipping Postcode."
                      },
                      "shipping_city": {
                        "type": "string",
                        "description": "Shipping City."
                      },
                      "shipping_state": {
                        "type": "string",
                        "description": "Shipping State."
                      },
                      "shipping_country": {
                        "type": "string",
                        "description": "Shipping Country."
                      },
                      "customer_note": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "order_note_content": {
                              "type": "string",
                              "description": "Order Note."
                            },
                            "order_note_object_type": {
                              "type": "string",
                              "description": "Order Note Object Type."
                            },
                            "order_note_date_created": {
                              "type": "string",
                              "description": "Order Note Date Created."
                            }
                          }
                        },
                        "description": "Customer Order Note."
                      },
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "ticket_id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Order ticket item ID."
                            },
                            "ticket_name": {
                              "type": "string",
                              "description": "Order ticket item name."
                            },
                            "price": {
                              "type": "number",
                              "description": "Order ticket item price.",
                              "format": "float"
                            },
                            "quantity": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Order ticket item quantity."
                            },
                            "subtotal": {
                              "type": "number",
                              "description": "Order ticket item subtotal.",
                              "format": "float"
                            },
                            "total": {
                              "type": "number",
                              "description": "Order ticket item total.",
                              "format": "float"
                            },
                            "meta": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "ticket_meta_id": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Ticket meta ID"
                                  },
                                  "ticket_meta_name": {
                                    "type": "string",
                                    "description": "Ticket meta name."
                                  },
                                  "ticket_meta_value": {
                                    "type": "array",
                                    "description": "Ticket meta values.",
                                    "items": {}
                                  }
                                }
                              },
                              "description": "Order ticket item meta."
                            },
                            "variation_id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Order ticket item variation ID."
                            },
                            "tax": {
                              "type": "number",
                              "description": "Order ticket item tax.",
                              "format": "float"
                            },
                            "tax_class": {
                              "type": "string",
                              "description": "Order ticket item class."
                            },
                            "tax_status": {
                              "type": "string",
                              "description": "Order ticket item tax status."
                            }
                          }
                        },
                        "description": "Order ticket items."
                      }
                    }
                  },
                  "description": "Orders"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "403": {
            "description": "Authorization information is missing or invalid."
          },
          "429": {
            "description": "Throttled"
          },
          "500": {
            "description": "Server Error"
          },
          "404": {
            "description": "Not Found."
          },
          "default": {
            "description": "Unexpected error"
          }
        },
        "summary": "When a ticket order is created in your site",
        "description": "When a ticket order is created in your site",
        "operationId": "NewOrderTrigger",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-visibility": "internal"
          },
          {
            "name": "eva-app-name",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-trigger-hint": "Returns 1 order at a time."
      }
    },
    "/trigger/wp-json/tribe/power-automate/v1/refunded-orders/": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "type": "object",
              "properties": {
                "orders": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "ID for the order."
                      },
                      "order_id": {
                        "type": "string",
                        "description": "Order ID."
                      },
                      "order_number": {
                        "type": "string",
                        "description": "Order number."
                      },
                      "order_date": {
                        "type": "string",
                        "description": "Order date."
                      },
                      "status": {
                        "type": "string",
                        "description": "Order Status."
                      },
                      "shipping_total": {
                        "type": "string",
                        "description": "Order Shipping Total."
                      },
                      "shipping_tax_total": {
                        "type": "string",
                        "description": "Order Shipping Tax Total."
                      },
                      "tax_total": {
                        "type": "number",
                        "description": "Order Tax Total.",
                        "format": "float"
                      },
                      "discount_total": {
                        "type": "number",
                        "description": "Order discount total.",
                        "format": "float"
                      },
                      "order_total": {
                        "type": "number",
                        "description": "Order total.",
                        "format": "float"
                      },
                      "order_currency": {
                        "type": "string",
                        "description": "Order currency."
                      },
                      "payment_method": {
                        "type": "string",
                        "description": "Order payment method."
                      },
                      "shipping_method": {
                        "type": "string",
                        "description": "Order shipping method."
                      },
                      "customer_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Order customer id."
                      },
                      "customer_user": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Order customer user id."
                      },
                      "customer_email": {
                        "type": "string",
                        "description": "Order custom email."
                      },
                      "billing_first_name": {
                        "type": "string",
                        "description": "Billing First Name."
                      },
                      "billing_last_name": {
                        "type": "string",
                        "description": "Billing Last Name."
                      },
                      "billing_company": {
                        "type": "string",
                        "description": "Billing Company."
                      },
                      "billing_email": {
                        "type": "string",
                        "description": "Billing Email."
                      },
                      "billing_phone": {
                        "type": "string",
                        "description": "Billing Phone."
                      },
                      "billing_address_1": {
                        "type": "string",
                        "description": "Billing Address Line 1."
                      },
                      "billing_address_2": {
                        "type": "string",
                        "description": "Billing Address Line 2."
                      },
                      "billing_postcode": {
                        "type": "string",
                        "description": "Billing Postcode."
                      },
                      "billing_city": {
                        "type": "string",
                        "description": "Billing City."
                      },
                      "billing_state": {
                        "type": "string",
                        "description": "Billing State."
                      },
                      "billing_country": {
                        "type": "string",
                        "description": "Billing Country."
                      },
                      "shipping_first_name": {
                        "type": "string",
                        "description": "Shipping First Name."
                      },
                      "shipping_last_name": {
                        "type": "string",
                        "description": "Shipping Last Name."
                      },
                      "shipping_company": {
                        "type": "string",
                        "description": "Shipping Company."
                      },
                      "shipping_address_1": {
                        "type": "string",
                        "description": "Shipping Address Line 1."
                      },
                      "shipping_address_2": {
                        "type": "string",
                        "description": "Shipping Address Line 2."
                      },
                      "shipping_postcode": {
                        "type": "string",
                        "description": "Shipping Postcode."
                      },
                      "shipping_city": {
                        "type": "string",
                        "description": "Shipping City."
                      },
                      "shipping_state": {
                        "type": "string",
                        "description": "Shipping State."
                      },
                      "shipping_country": {
                        "type": "string",
                        "description": "Shipping Country."
                      },
                      "customer_note": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "order_note_content": {
                              "type": "string",
                              "description": "Order Note."
                            },
                            "order_note_object_type": {
                              "type": "string",
                              "description": "Order Note Object Type."
                            },
                            "order_note_date_created": {
                              "type": "string",
                              "description": "Order Note Date Created."
                            }
                          }
                        },
                        "description": "Customer Order Note."
                      },
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "ticket_id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Order ticket item ID."
                            },
                            "ticket_name": {
                              "type": "string",
                              "description": "Order ticket item name."
                            },
                            "price": {
                              "type": "number",
                              "description": "Order ticket item price.",
                              "format": "float"
                            },
                            "quantity": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Order ticket item quantity."
                            },
                            "subtotal": {
                              "type": "number",
                              "description": "Order ticket item subtotal.",
                              "format": "float"
                            },
                            "total": {
                              "type": "number",
                              "description": "Order ticket item total.",
                              "format": "float"
                            },
                            "meta": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "ticket_meta_id": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Ticket meta ID"
                                  },
                                  "ticket_meta_name": {
                                    "type": "string",
                                    "description": "Ticket meta name."
                                  },
                                  "ticket_meta_value": {
                                    "type": "array",
                                    "description": "Ticket meta values.",
                                    "items": {}
                                  }
                                }
                              },
                              "description": "Order ticket item meta."
                            },
                            "variation_id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Order ticket item variation ID."
                            },
                            "tax": {
                              "type": "number",
                              "description": "Order ticket item tax.",
                              "format": "float"
                            },
                            "tax_class": {
                              "type": "string",
                              "description": "Order ticket item class."
                            },
                            "tax_status": {
                              "type": "string",
                              "description": "Order ticket item tax status."
                            }
                          }
                        },
                        "description": "Order ticket items."
                      }
                    }
                  },
                  "description": "Orders"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "403": {
            "description": "Authorization information is missing or invalid."
          },
          "429": {
            "description": "Throttled"
          },
          "500": {
            "description": "Server Error"
          },
          "404": {
            "description": "Not Found."
          },
          "default": {
            "description": "Unexpected error"
          }
        },
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-visibility": "internal"
          },
          {
            "name": "eva-app-name",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "summary": "When a ticket order is refunded in your site",
        "description": "When a ticket order is refunded in your site",
        "operationId": "RefundedOrderTrigger",
        "x-ms-trigger-hint": "Returns 1 order at a time."
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://theeventscalendar.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://theeventscalendar.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Marketing;Commerce"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "tec_access_token"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}