{
  "swagger": "2.0",
  "info": {
    "title": "Leave Dates (Independent Publisher)",
    "description": "Leave Dates simplifies leave management, enabling seamless scheduling, tracking, and reporting for teams and organizations. Streamline time-off workflows effortlessly.",
    "version": "1.0.0",
    "contact": {
      "email": "tiago@novalogica.pt",
      "name": "Tiago Ramos",
      "url": "https://novalogica.pt/"
    }
  },
  "host": "api.leavedates.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/companies": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "List Companies",
        "description": "List all companies of authenticated user",
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Company ID",
                    "title": ""
                  },
                  "owner_id": {
                    "type": "string",
                    "description": "Owner ID of the Company",
                    "title": ""
                  },
                  "name": {
                    "type": "string",
                    "description": "Company Name",
                    "title": ""
                  },
                  "employments_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Total Employees",
                    "title": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "operationId": "GetAllCompaniesAuthenticatedUser"
      }
    },
    "/departments": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "List Departments",
        "description": "A list of departments for a specific company",
        "parameters": [
          {
            "name": "company",
            "in": "query",
            "description": "Company ID",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAllCompaniesAuthenticatedUser",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Company"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Department ID",
                    "title": ""
                  },
                  "name": {
                    "type": "string",
                    "description": "Department Name",
                    "title": ""
                  },
                  "company_id": {
                    "type": "string",
                    "description": "Company ID",
                    "title": ""
                  },
                  "employments_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Total Employees",
                    "title": ""
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "operationId": "GetDepartments"
      }
    },
    "/leave-types": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get All Leave Types",
        "description": "Get all leave types of the company",
        "parameters": [
          {
            "name": "company",
            "in": "query",
            "description": "Company ID",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAllCompaniesAuthenticatedUser",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Company"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Leave Type ID",
                    "title": ""
                  },
                  "company_id": {
                    "type": "string",
                    "description": "Company ID",
                    "title": ""
                  },
                  "name": {
                    "type": "string",
                    "description": "Leave Type Name",
                    "title": ""
                  },
                  "description": {
                    "type": "string",
                    "description": "Description",
                    "title": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "operationId": "GetLeaveTypes"
      }
    },
    "/reports/summary-allowances": {
      "get": {
        "tags": [
          "Reporting"
        ],
        "summary": "Get Allowance Summary Report",
        "description": "Get allowance summary report of the company by allowance type, calendar, and allowance unit",
        "parameters": [
          {
            "name": "company",
            "in": "query",
            "description": "Company ID",
            "required": true,
            "type": "string",
            "x-ms-summary": "Company",
            "x-ms-dynamic-values": {
              "operationId": "GetAllCompaniesAuthenticatedUser",
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Example: 2021-01-13",
            "required": true,
            "type": "string",
            "x-ms-summary": "Date"
          },
          {
            "name": "page",
            "in": "query",
            "description": "current page of the report",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Page"
          },
          {
            "name": "employee",
            "in": "query",
            "description": "Employee ID",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetEmployees",
              "value-path": "id",
              "value-title": "full_name",
              "parameters": {
                "company": {
                  "parameter": "company"
                }
              }
            },
            "x-ms-summary": "Employee"
          },
          {
            "name": "department",
            "in": "query",
            "description": "Department ID",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Department",
            "x-ms-dynamic-values": {
              "operationId": "GetDepartments",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "company": {
                  "parameter": "company"
                }
              }
            }
          },
          {
            "name": "allowance_type",
            "in": "query",
            "description": "Allowance Type ID",
            "required": false,
            "type": "string",
            "x-ms-summary": "Allowance Type",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "allowance_type": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Allowance Type Id",
                            "title": "Id"
                          },
                          "name": {
                            "type": "string",
                            "description": "Allowance Type Name",
                            "title": "Name"
                          }
                        },
                        "description": "allowance_type"
                      },
                      "calendar": {
                        "type": "object",
                        "properties": {
                          "start_date": {
                            "type": "string",
                            "description": "Start date of the calendar",
                            "title": "Start Date"
                          },
                          "end_date": {
                            "type": "string",
                            "description": "End date of the Calendar",
                            "title": "End Date"
                          }
                        },
                        "description": "calendar"
                      },
                      "allowance_unit": {
                        "type": "string",
                        "description": "Allowance Unit Example: Days",
                        "title": "Allowance Unit",
                        "x-ms-visibility": "advanced"
                      },
                      "is_unlimited": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Allowance was unlimited days?",
                        "title": "Is Unlimited"
                      },
                      "total_allowance": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Total units for the allowance type",
                        "title": "Total Allowance"
                      },
                      "annual_allowance": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Total allowance days for the year",
                        "title": "Annual Allowance"
                      },
                      "booked_allowance": {
                        "type": "number",
                        "format": "float",
                        "description": "Total booked allowance days for the year",
                        "title": "Booked Allowance"
                      },
                      "remaining_to_book": {
                        "type": "number",
                        "format": "float",
                        "description": "Remaining units to book for the allowance",
                        "title": "Remaining Book"
                      }
                    }
                  },
                  "description": "data"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total allowances on the current request",
                  "title": "Total allowances"
                },
                "current_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Current Page",
                  "title": "Current Page"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "operationId": "GetAllowanceSummary"
      }
    },
    "/employments": {
      "get": {
        "tags": [
          "Employment"
        ],
        "summary": "Get Employees",
        "description": "A list of employees",
        "parameters": [
          {
            "name": "company",
            "in": "query",
            "description": "Company ID",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAllCompaniesAuthenticatedUser",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Company"
          },
          {
            "name": "department_id",
            "in": "query",
            "description": "Department ID",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetDepartments",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "company": {
                  "parameter": "company"
                }
              }
            },
            "x-ms-summary": "Department"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Employee ID",
                    "title": ""
                  },
                  "company_id": {
                    "type": "string",
                    "description": "Company ID",
                    "title": ""
                  },
                  "department": {
                    "type": "string",
                    "description": "Department ID",
                    "title": ""
                  },
                  "full_name": {
                    "type": "string",
                    "description": "Full Name",
                    "title": ""
                  },
                  "email": {
                    "type": "string",
                    "description": "Email",
                    "title": ""
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "operationId": "GetEmployees"
      },
      "post": {
        "tags": [
          "Employment"
        ],
        "consumes": [
          "application/json"
        ],
        "summary": "Add Employee",
        "description": "Add Employee",
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "description": "Content Type",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-summary": "Content Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "job_title": {
                  "type": "string",
                  "example": null,
                  "title": "Job Title",
                  "x-ms-visibility": "advanced"
                },
                "full_name": {
                  "type": "string",
                  "example": "John Doe",
                  "title": "Full Name"
                },
                "email": {
                  "type": "string",
                  "example": "test@test.com",
                  "title": "Email"
                },
                "timezone": {
                  "type": "string",
                  "example": "UTC",
                  "title": "Timezone",
                  "x-ms-visibility": "advanced"
                },
                "company_id": {
                  "type": "string",
                  "example": "8c3b36c0-44be-4a35-83ff-236140b06b7f",
                  "title": "Company",
                  "x-ms-dynamic-values": {
                    "operationId": "GetAllCompaniesAuthenticatedUser",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "approver_id": {
                  "type": "string",
                  "example": null,
                  "title": "Approver",
                  "x-ms-visibility": "advanced"
                },
                "department_id": {
                  "type": "string",
                  "example": null,
                  "title": "Department",
                  "x-ms-visibility": "advanced"
                },
                "employee_code": {
                  "type": "string",
                  "title": "Employee Code",
                  "x-ms-visibility": "advanced"
                },
                "is_admin": {
                  "type": "boolean",
                  "title": "Is Admin",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false
                },
                "start_date": {
                  "type": "string",
                  "example": null,
                  "title": "Start Date",
                  "x-ms-visibility": "advanced"
                },
                "end_date": {
                  "type": "string",
                  "example": null,
                  "title": "End Date",
                  "x-ms-visibility": "advanced"
                },
                "holiday_location": {
                  "type": "string",
                  "example": "London",
                  "title": "Holiday Location",
                  "x-ms-visibility": "advanced"
                },
                "allowance_unit_is_days": {
                  "type": "string",
                  "example": null,
                  "title": "Allowance Unit is Days",
                  "x-ms-visibility": "advanced"
                },
                "minutes_per_working_day": {
                  "type": "string",
                  "example": null,
                  "title": "Minutes Per Working Day",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "full_name",
                "email",
                "company_id"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "job_title": {
                  "type": "string",
                  "description": "Job Title",
                  "title": ""
                },
                "full_name": {
                  "type": "string",
                  "description": "Full Name",
                  "title": ""
                },
                "email": {
                  "type": "string",
                  "description": "Email",
                  "title": ""
                },
                "department_id": {
                  "type": "string",
                  "description": "Department ID",
                  "title": ""
                },
                "employee_code": {
                  "type": "string",
                  "description": "Employee Code",
                  "title": ""
                },
                "company_id": {
                  "type": "string",
                  "description": "Company ID",
                  "title": ""
                },
                "is_admin": {
                  "type": "boolean",
                  "description": "Is Admin",
                  "title": "",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false
                },
                "start_date": {
                  "type": "string",
                  "description": "Start Date",
                  "title": ""
                },
                "end_date": {
                  "type": "string",
                  "description": "End Date",
                  "title": ""
                },
                "id": {
                  "type": "string",
                  "description": "Employee ID",
                  "title": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "422": {
            "description": "Invalid data"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "operationId": "AddEmployment"
      }
    },
    "/employments/{id}": {
      "get": {
        "tags": [
          "Employment"
        ],
        "summary": "Get Details Of An Employee",
        "description": "Get details of an employee",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Employee ID",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Employee ID",
            "x-ms-dynamic-values": {
              "operationId": "GetEmployees",
              "value-path": "id",
              "value-title": "full_name",
              "parameters": {
                "company": {
                  "parameter": "company"
                }
              }
            }
          },
          {
            "name": "company",
            "in": "query",
            "description": "Company ID",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAllCompaniesAuthenticatedUser",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Company",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "user": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "full_name": {
                      "type": "string",
                      "description": "full_name"
                    },
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "avatar": {
                      "type": "string",
                      "description": "avatar",
                      "title": ""
                    },
                    "date_of_birth": {
                      "type": "string",
                      "description": "date_of_birth"
                    },
                    "deleted_at": {
                      "type": "string",
                      "description": "deleted_at"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "created_at"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "updated_at"
                    },
                    "verification_pending_email": {
                      "type": "string",
                      "description": "verification_pending_email"
                    },
                    "avatar_url": {
                      "type": "string",
                      "description": "avatar_url"
                    }
                  },
                  "description": "user"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "operationId": "GetDetailsEmployee"
      },
      "delete": {
        "tags": [
          "Employment"
        ],
        "consumes": [
          "application/json"
        ],
        "summary": "Delete Employee",
        "description": "Delete a Employee",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Employment ID",
            "required": true,
            "type": "string",
            "x-ms-summary": "The unique identifier of the employment record",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "content-type",
            "in": "header",
            "description": "Content Type",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-summary": "Content Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "company_id": {
                  "type": "string",
                  "example": "8c3b36c0-44be-4a35-83ff-236140b06b7f",
                  "title": "Company",
                  "x-ms-dynamic-values": {
                    "operationId": "GetAllCompaniesAuthenticatedUser",
                    "value-path": "id",
                    "value-title": "name"
                  },
                  "description": "Company ID"
                }
              },
              "required": [
                "company_id"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "422": {
            "description": "Invalid data"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "operationId": "DeleteEmployment"
      },
      "put": {
        "tags": [
          "Employment"
        ],
        "consumes": [
          "application/json"
        ],
        "summary": "Update Employee",
        "description": "Update a Employee",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Employee ID",
            "required": true,
            "type": "string",
            "x-ms-summary": "Employee ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "content-type",
            "in": "header",
            "description": "Content Type",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-summary": "Content Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "job_title": {
                  "type": "string",
                  "example": null,
                  "title": "Job Title",
                  "x-ms-visibility": "advanced"
                },
                "full_name": {
                  "type": "string",
                  "example": "John Doe",
                  "title": "Full Name"
                },
                "email": {
                  "type": "string",
                  "example": "test@test.com",
                  "title": "Email"
                },
                "timezone": {
                  "type": "string",
                  "example": "UTC",
                  "title": "Timezone",
                  "x-ms-visibility": "advanced"
                },
                "company_id": {
                  "type": "string",
                  "example": "8c3b36c0-44be-4a35-83ff-236140b06b7f",
                  "title": "Company",
                  "x-ms-dynamic-values": {
                    "operationId": "GetAllCompaniesAuthenticatedUser",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "approver_id": {
                  "type": "string",
                  "example": null,
                  "title": "Approver",
                  "x-ms-visibility": "advanced"
                },
                "department_id": {
                  "type": "string",
                  "example": null,
                  "title": "Department",
                  "x-ms-visibility": "advanced"
                },
                "employee_code": {
                  "type": "string",
                  "example": null,
                  "title": "Employee Code",
                  "x-ms-visibility": "advanced"
                },
                "is_admin": {
                  "type": "boolean",
                  "title": "Is Admin",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false
                },
                "start_date": {
                  "type": "string",
                  "example": null,
                  "title": "Start Date",
                  "x-ms-visibility": "advanced"
                },
                "end_date": {
                  "type": "string",
                  "example": null,
                  "title": "End Date",
                  "x-ms-visibility": "advanced"
                },
                "holiday_location": {
                  "type": "string",
                  "example": "London",
                  "title": "Holiday Location",
                  "x-ms-visibility": "advanced"
                },
                "allowance_unit_is_days": {
                  "type": "string",
                  "example": null,
                  "title": "Allowance Unit is Days",
                  "x-ms-visibility": "advanced"
                },
                "minutes_per_working_day": {
                  "type": "string",
                  "example": null,
                  "title": "Minutes Per Working Day",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "full_name",
                "email",
                "company_id"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "job_title": {
                  "type": "string",
                  "description": "Job Title",
                  "title": ""
                },
                "full_name": {
                  "type": "string",
                  "description": "Full Name",
                  "title": ""
                },
                "email": {
                  "type": "string",
                  "description": "Email",
                  "title": ""
                },
                "department_id": {
                  "type": "string",
                  "description": "Department ID",
                  "title": ""
                },
                "employee_code": {
                  "type": "string",
                  "description": "Employee Code",
                  "title": ""
                },
                "company_id": {
                  "type": "string",
                  "description": "Company ID",
                  "title": ""
                },
                "is_admin": {
                  "type": "boolean",
                  "description": "Is Admin",
                  "title": "",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false
                },
                "start_date": {
                  "type": "string",
                  "description": "Start Date",
                  "title": ""
                },
                "end_date": {
                  "type": "string",
                  "description": "End Date",
                  "title": ""
                },
                "id": {
                  "type": "string",
                  "description": "Employee ID",
                  "title": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "422": {
            "description": "Invalid data"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "operationId": "UpdateEmployment"
      }
    },
    "/leaves/{id}": {
      "get": {
        "tags": [
          "Leave"
        ],
        "summary": "Get Leave Details",
        "description": "Get leave details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Leave ID",
            "required": true,
            "type": "string",
            "x-ms-summary": "The unique identifier of the leave record",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "company",
            "in": "query",
            "description": "Company ID",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAllCompaniesAuthenticatedUser",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Company"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Leave Id",
                  "title": "Leave Id"
                },
                "owner": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Leave Owner Id"
                    },
                    "full_name": {
                      "type": "string",
                      "description": "Leave Owner Full Name"
                    }
                  },
                  "description": "owner"
                },
                "status": {
                  "type": "string",
                  "description": "Status of the leave request"
                },
                "leave_breakdowns": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "from": {
                        "type": "string",
                        "description": "From date",
                        "title": ""
                      },
                      "to": {
                        "type": "string",
                        "description": "To date",
                        "title": ""
                      },
                      "duration": {
                        "type": "string",
                        "description": "Breakdown Leave duration",
                        "title": ""
                      },
                      "type": {
                        "type": "string",
                        "description": "Breakdown Leave Type",
                        "title": ""
                      }
                    }
                  },
                  "description": "leave_breakdowns"
                },
                "reason": {
                  "type": "string",
                  "description": "Reason for the requested leave"
                },
                "type": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Leave Type Id"
                    },
                    "name": {
                      "type": "string",
                      "description": "Leave Type Name"
                    }
                  },
                  "description": "type"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "operationId": "GetLeaveDetails"
      },
      "put": {
        "tags": [
          "Leave"
        ],
        "consumes": [
          "application/json"
        ],
        "summary": "Update Leave",
        "description": "Update a leave request. You would need available breakdown durations to update the leave.\n The available breakdown durations can be obtained from redraft leave. To know more, refer `leaves/{id}/redraft`\n section.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Leave ID",
            "required": true,
            "type": "string",
            "x-ms-summary": "Leave ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "content-type",
            "in": "header",
            "description": "Content Type",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-summary": "Content Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "company_id": {
                  "type": "string",
                  "example": "21a896cc-71ca-47db-96bb-57e3f639e822",
                  "description": "Company ID",
                  "title": "Company ID",
                  "x-ms-dynamic-values": {
                    "operationId": "GetAllCompaniesAuthenticatedUser",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "from": {
                  "type": "string",
                  "example": "2023-04-05 09:00",
                  "description": "From Date",
                  "title": "From"
                },
                "to": {
                  "type": "string",
                  "example": "2023-04-06 17:30",
                  "description": "To From",
                  "title": "To"
                },
                "type_id": {
                  "type": "string",
                  "example": "84bf115b-5336-44ba-a2fa-c217b6bb9f99",
                  "description": "Leave Type",
                  "title": "Type"
                },
                "reason": {
                  "type": "string",
                  "example": "Some reasons here",
                  "description": "Reason Description",
                  "title": "Reason"
                },
                "leave_breakdowns": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "from": {
                        "type": "string",
                        "example": "2023-04-05 09:00:00",
                        "description": "From Date",
                        "title": "From"
                      },
                      "to": {
                        "type": "string",
                        "example": "2023-04-05 17:30:00",
                        "description": "To Date",
                        "title": "To"
                      },
                      "type": {
                        "type": "string",
                        "example": "working_day",
                        "description": "Type Example working_day",
                        "title": "type"
                      },
                      "duration": {
                        "type": "string",
                        "example": "full_day",
                        "description": "Duration Example full day / custom",
                        "title": "Duration"
                      }
                    }
                  }
                }
              },
              "required": [
                "company_id",
                "type_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "36c9ba1e-d38e-4f5d-91d4-f0b0ce7fea5e",
                "description": "Leave Id",
                "title": "Leave Id"
              }
            }
          },
          "403": {
            "description": "Unauthorised Operation"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "operationId": "UpdateLeave"
      }
    },
    "/leaves": {
      "post": {
        "tags": [
          "Leave"
        ],
        "consumes": [
          "application/json"
        ],
        "summary": "Request Leave",
        "description": "To request a leave, first you need to draft a leave to get available breakdowns using\n `leaves/draft` endpoint. For more information refer `leaves/draft` section.\n\n Once you have drafted a leave, you can request the leave using available breakdowns.",
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "description": "Content Type",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-summary": "Content Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "company_id": {
                  "type": "string",
                  "example": "21a896cc-71ca-47db-96bb-57e3f639e822",
                  "description": "Company ID",
                  "title": "Company",
                  "x-ms-dynamic-values": {
                    "operationId": "GetAllCompaniesAuthenticatedUser",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "from": {
                  "type": "string",
                  "example": "2023-04-05 09:00:00",
                  "description": "From Date",
                  "title": "From"
                },
                "to": {
                  "type": "string",
                  "example": "2023-04-06 17:30:00",
                  "description": "To Date",
                  "title": "To"
                },
                "type_id": {
                  "type": "string",
                  "example": "84bf115b-5336-44ba-a2fa-c217b6bb9f99",
                  "description": "Leave Type ID",
                  "title": "Leave Type"
                },
                "reason": {
                  "type": "string",
                  "example": "Some reasons here",
                  "description": "Reason description",
                  "title": "Reason",
                  "x-ms-visibility": "advanced"
                },
                "is_private": {
                  "type": "boolean",
                  "example": false,
                  "description": "Is Private",
                  "title": "Is Private",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false,
                  "x-ms-visibility": "advanced"
                },
                "leave_breakdowns": {
                  "type": "array",
                  "title": "",
                  "items": {
                    "title": "",
                    "type": "object",
                    "properties": {
                      "owner_id": {
                        "type": "string",
                        "description": "Owner ID",
                        "title": "OwnerId"
                      },
                      "breakdowns": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "from": {
                              "type": "string",
                              "example": "2023-04-05 09:00:00",
                              "description": "From Date",
                              "title": "From"
                            },
                            "to": {
                              "type": "string",
                              "example": "2023-04-05 17:30:00",
                              "description": "To Date",
                              "title": "To"
                            },
                            "type": {
                              "type": "string",
                              "example": "working_day",
                              "description": "Type Example working_day",
                              "title": "Type"
                            },
                            "duration": {
                              "type": "string",
                              "example": "full_day",
                              "description": "Duration Example full_day / custom",
                              "title": "Duration"
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "owner_id"
                    ]
                  }
                }
              },
              "required": [
                "company_id",
                "from",
                "to",
                "type_id"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful Operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "Leave Id",
                "title": "Leave Id"
              }
            }
          },
          "403": {
            "description": "Unauthorised Operation"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "operationId": "RequestLeave"
      }
    },
    "/leaves/{id}/approve": {
      "patch": {
        "tags": [
          "Leave"
        ],
        "summary": "Approve Leave",
        "description": "Approve a leave request",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Leave ID",
            "required": true,
            "type": "string",
            "x-ms-summary": "The unique identifier of the leave record",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "company",
            "in": "query",
            "description": "Company ID",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAllCompaniesAuthenticatedUser",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Company"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation"
          },
          "403": {
            "description": "Unauthorised Operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "operationId": "ApproveLeave"
      }
    },
    "/leaves/{id}/cancel": {
      "patch": {
        "tags": [
          "Leave"
        ],
        "summary": "Cancel Leave",
        "description": "Cancel a leave",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Leave ID",
            "required": true,
            "type": "string",
            "x-ms-summary": "The unique identifier of the leave record",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "company",
            "in": "query",
            "description": "Company ID",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAllCompaniesAuthenticatedUser",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Company"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation"
          },
          "403": {
            "description": "Unauthorised Operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "operationId": "CancelLeave"
      }
    },
    "/me": {}
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.leavedates.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.leavedates.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Human Resources"
    }
  ]
}