{
  "swagger": "2.0",
  "info": {
    "title": "Mensagia",
    "description": "Mensagia offers reliable SMS, Email and Voice messages for business automation communication.",
    "version": "1.0",
    "contact": {
      "name": "Mensagia",
      "email": "support@mensagia.com",
      "url": "https://mensagia.com/"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://mensagia.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://mensagia.com/legal#privacidad"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication"
    }
  ],
  "host": "api.mensagia.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api_configurations": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ID",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name",
                        "title": "Name"
                      },
                      "sender_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Sender ID",
                        "title": "Sender ID"
                      },
                      "sender_name": {
                        "type": "string",
                        "description": "Sender Name",
                        "title": "Sender Name"
                      },
                      "callback_url": {
                        "type": "string",
                        "description": "Callback URL",
                        "title": "Callback URL"
                      },
                      "allow_service_number_alias": {
                        "type": "boolean",
                        "description": "Determines if the configuration allows alias",
                        "title": "Allow Service Number Alias"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "Configuration created at",
                        "title": "Created At"
                      }
                    }
                  },
                  "description": "data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Total",
                          "title": "Total"
                        },
                        "count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Count",
                          "title": "Count"
                        },
                        "per_page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Results per page",
                          "title": "Per Page"
                        },
                        "current_page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Current page",
                          "title": "Current Page"
                        },
                        "total_pages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Total pages",
                          "title": "Total Pages"
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "description": "Pagination Link",
                            "title": "Link",
                            "type": "string"
                          },
                          "description": "links"
                        }
                      },
                      "description": "Pagination"
                    }
                  },
                  "description": "meta"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "operationId": "ApiConfigurations",
        "summary": "Get Configurations",
        "description": "Get configurations names stored into your Mensagia's account.",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "API-source",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "Power-Automate",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/agendas": {
      "get": {
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ID",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name",
                        "title": "Name"
                      },
                      "total_users": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Total users",
                        "title": "Total Users"
                      },
                      "busy": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Agenda is Busy",
                        "title": "Agenda is Busy"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "Created at",
                        "title": "Created At"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "Updated at",
                        "title": "Updated At"
                      }
                    }
                  },
                  "description": "data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Total",
                          "title": "Total"
                        },
                        "count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Count",
                          "title": "Count"
                        },
                        "per_page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Results per page",
                          "title": "Per Page"
                        },
                        "current_page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Current page",
                          "title": "Current Page"
                        },
                        "total_pages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Total pages",
                          "title": "Total Pages"
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "description": "Pagination link",
                            "title": "Link",
                            "type": "string"
                          },
                          "description": "links"
                        }
                      },
                      "description": "Pagination"
                    }
                  },
                  "description": "meta"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Get Agendas",
        "description": "Get all agendas stored into your Mensagia's account.",
        "x-ms-visibility": "internal",
        "operationId": "GetAgendas",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "API-source",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "Power-Automate",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/email/sender_address": {
      "get": {
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ID",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name",
                        "title": "Name"
                      },
                      "email": {
                        "type": "string",
                        "description": "Email",
                        "title": "Email"
                      },
                      "domain_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Domain ID",
                        "title": "Domain ID"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "Created at",
                        "title": "Created At"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "Updated at",
                        "title": "Updated At"
                      }
                    }
                  },
                  "description": "data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Total",
                          "title": "Total"
                        },
                        "count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Count",
                          "title": "Count"
                        },
                        "per_page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Results per page",
                          "title": "Per Page"
                        },
                        "current_page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Current page",
                          "title": "Current Page"
                        },
                        "total_pages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Total pages",
                          "title": "Total Pages"
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "description": "Pagination link",
                            "title": "Link",
                            "type": "string"
                          },
                          "description": "links"
                        }
                      },
                      "description": "Pagination"
                    }
                  },
                  "description": "meta"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Get Sender Address",
        "description": "Get a list with the emails enabled in your Mensagia account to send.",
        "operationId": "GetSenderAddress",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "API-source",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "Power-Automate",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/email/templates": {
      "get": {
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ID",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name",
                        "title": "Name"
                      },
                      "screenshot_url": {
                        "type": "string",
                        "description": "Screenshot URL",
                        "title": "Screenshot URL"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "Created at",
                        "title": "Created At"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "Updated at",
                        "title": "Updated At"
                      }
                    }
                  },
                  "description": "data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Total",
                          "title": "Total"
                        },
                        "count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Count",
                          "title": "Count"
                        },
                        "per_page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Results per page",
                          "title": "Per Page"
                        },
                        "current_page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Current page",
                          "title": "Current Page"
                        },
                        "total_pages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Total pages",
                          "title": "Total Pages"
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "description": "Pagination link",
                            "title": "Link",
                            "type": "string"
                          },
                          "description": "links"
                        }
                      },
                      "description": "Pagination"
                    }
                  },
                  "description": "meta"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Get Templates",
        "description": "Get a list of the email templates stored into your Mensagia's account.",
        "operationId": "GetEmailTemplates",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "API-source",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "Power-Automate",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/voice/audio_library": {
      "get": {
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ID",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name",
                        "title": "Name"
                      },
                      "screenshot_url": {
                        "type": "string",
                        "description": "Screenshot URL",
                        "title": "Screenshot URL"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "Created at",
                        "title": "Created At"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "Updated at",
                        "title": "Updated At"
                      }
                    }
                  },
                  "description": "data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Total",
                          "title": "Total"
                        },
                        "count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Count",
                          "title": "Count"
                        },
                        "per_page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Results per page",
                          "title": "Per Page"
                        },
                        "current_page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Current page",
                          "title": "Current Page"
                        },
                        "total_pages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Total pages",
                          "title": "Total Pages"
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "description": "Pagination link",
                            "title": "Link",
                            "type": "string"
                          },
                          "description": "links"
                        }
                      },
                      "description": "Pagination"
                    }
                  },
                  "description": "meta"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Get Templates",
        "description": "Get a list of the audio files stored into your Mensagia's account.",
        "operationId": "GetAudioLibrary",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "API-source",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "Power-Automate",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/voice/numbers": {
      "get": {
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ID",
                        "title": "ID"
                      },
                      "number": {
                        "type": "string",
                        "description": "Number",
                        "title": "Number"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "Created at",
                        "title": "Created At"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "Updated at",
                        "title": "Updated At"
                      }
                    }
                  },
                  "description": "data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Total",
                          "title": "Total"
                        },
                        "count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Count",
                          "title": "Count"
                        },
                        "per_page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Results per page",
                          "title": "Per Page"
                        },
                        "current_page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Current page",
                          "title": "Current Page"
                        },
                        "total_pages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Total pages",
                          "title": "Total Pages"
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "description": "Pagination link",
                            "title": "Link",
                            "type": "string"
                          },
                          "description": "links"
                        }
                      },
                      "description": "Pagination"
                    }
                  },
                  "description": "Metadata"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Get Templates",
        "description": "Get a list of the allowed phone numbers stored into your Mensagia's account.",
        "operationId": "GetVoiceNumbers",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "API-source",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "Power-Automate",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/push/simple": {
      "post": {
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "configuration_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Sending header ID",
                      "title": "Configuration ID"
                    },
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Message ID",
                      "title": "Message ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "Message's name",
                      "title": "Message Name"
                    },
                    "message": {
                      "type": "string",
                      "description": "Message's body",
                      "title": "Message body"
                    },
                    "price": {
                      "type": "number",
                      "format": "float",
                      "description": "Message's price",
                      "title": "Price"
                    },
                    "price_with_packs": {
                      "type": "number",
                      "format": "float",
                      "description": "Price with packs",
                      "title": "Price with Packs"
                    },
                    "push_sender_name": {
                      "type": "string",
                      "description": "Push sender name",
                      "title": "Sender Header"
                    },
                    "route_name": {
                      "type": "string",
                      "description": "Route name",
                      "title": "Route Name"
                    },
                    "total_messages_sent": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total messages sent",
                      "title": "Messages Sent"
                    },
                    "total_messages_sent_with_packs": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total messages sent with packs",
                      "title": "Messages Sent Packs"
                    },
                    "dlrs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message_id": {
                            "type": "string",
                            "description": "Message ID",
                            "title": "Message ID"
                          },
                          "number": {
                            "type": "string",
                            "description": "Receptor's number",
                            "title": "To Number"
                          },
                          "messages_sent": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Total messages to number",
                            "title": "Messages Sent"
                          },
                          "in_SMS_blacklist": {
                            "type": "boolean",
                            "description": "Determines if the contact is in the SMS Blacklist",
                            "title": "Is in SMS Blacklist"
                          }
                        }
                      },
                      "description": "dlrs"
                    },
                    "callback_url": {
                      "type": "string",
                      "description": "Callback URL",
                      "title": "Callback URL"
                    },
                    "start_date": {
                      "type": "string",
                      "description": "Start Date",
                      "title": "Start Date"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "Validation Fail"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Send SMS",
        "description": "Send SMS's to your contacts through your Mensagia account.",
        "operationId": "SendSms",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "API-source",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "Power-Automate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "configuration_name": {
                  "type": "string",
                  "description": "Select the name that will appear in the header of your SMS.",
                  "title": "Configuration Name",
                  "x-ms-dynamic-values": {
                    "operationId": "ApiConfigurations",
                    "value-path": "name",
                    "value-collection": "data",
                    "value-title": "sender_name",
                    "parameters": {
                      "Accept": "application/json",
                      "API-source": "Power-Automate"
                    }
                  },
                  "x-ms-visibility": "important"
                },
                "message": {
                  "type": "string",
                  "description": "Text to be sent (no more than 160 characters).",
                  "title": "Message",
                  "x-ms-visibility": "important"
                },
                "numbers": {
                  "type": "string",
                  "description": "The mobile number of the recipient of this message. IMPORTANT: The number must have the corresponding country prefix.",
                  "title": "Numbers",
                  "x-ms-visibility": "important"
                },
                "start_date": {
                  "type": "string",
                  "description": "Sending date in the format 'YYYY-MM-DD hh:mm'. If you don't specify this parameter, the message will be sent immediately.",
                  "title": "Start Date",
                  "x-ms-visibility": "advanced"
                },
                "url_parameters": {
                  "type": "string",
                  "description": "Link tagging if there is a shortened link, Landing or Form in the message.",
                  "title": "URL Paremeters",
                  "x-ms-visibility": "advanced"
                },
                "url_extrafields_mode": {
                  "type": "string",
                  "description": "If you include shortened links or landings in your shipments, you can choose what value the custom fields will show when the recipient views the content.",
                  "title": "URL Extrafields Mode",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "configuration_name",
                "message",
                "numbers"
              ]
            }
          }
        ]
      }
    },
    "/push/campaigns": {
      "post": {
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "configuration_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Sending header ID",
                      "title": "Configuration ID"
                    },
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Message ID",
                      "title": "Message ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "Message's name",
                      "title": "Message Name"
                    },
                    "message": {
                      "type": "string",
                      "description": "Message's body",
                      "title": "Message body"
                    },
                    "price": {
                      "type": "number",
                      "format": "float",
                      "description": "Message's price",
                      "title": "Price"
                    },
                    "price_with_packs": {
                      "type": "number",
                      "format": "float",
                      "description": "Price with packs",
                      "title": "Price with Packs"
                    },
                    "push_sender_name": {
                      "type": "string",
                      "description": "Push sender name",
                      "title": "Sender Header"
                    },
                    "route_name": {
                      "type": "string",
                      "description": "Route name",
                      "title": "Route Name"
                    },
                    "total_messages_sent": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total messages sent",
                      "title": "Messages Sent"
                    },
                    "total_messages_sent_with_packs": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total messages sent with packs",
                      "title": "Messages Sent Packs"
                    },
                    "dlrs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message_id": {
                            "type": "string",
                            "description": "Message ID",
                            "title": "Message ID"
                          },
                          "number": {
                            "type": "string",
                            "description": "Receptor's number",
                            "title": "To Number"
                          },
                          "messages_sent": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Total messages to number",
                            "title": "Messages Sent"
                          },
                          "in_SMS_blacklist": {
                            "type": "boolean",
                            "description": "Determines if the contact is in the SMS Blacklist",
                            "title": "Is in SMS Blacklist"
                          }
                        }
                      },
                      "description": "dlrs"
                    },
                    "callback_url": {
                      "type": "string",
                      "description": "Callback URL",
                      "title": "Callback URL"
                    },
                    "start_date": {
                      "type": "string",
                      "description": "Start Date",
                      "title": "Start Date"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "Validation Fail"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Send SMS Campaigns",
        "description": "Send SMS Campaigns to your contacts through your Mensagia account.",
        "operationId": "SendSmsCampaigns",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "API-source",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "Power-Automate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "configuration_name": {
                  "type": "string",
                  "description": "Select the name that will appear in the header of your SMS.",
                  "title": "Configuration Name",
                  "x-ms-dynamic-values": {
                    "operationId": "ApiConfigurations",
                    "value-path": "name",
                    "value-collection": "data",
                    "value-title": "sender_name",
                    "parameters": {
                      "Accept": "application/json",
                      "API-source": "Power-Automate"
                    }
                  },
                  "x-ms-visibility": "important"
                },
                "message": {
                  "type": "string",
                  "description": "Text to be sent (no more than 160 characters).",
                  "title": "Message",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "description": "The name of your campaign",
                  "title": "Campaign's name",
                  "x-ms-visibility": "important"
                },
                "available_groups": {
                  "type": "string",
                  "description": "Assign the group to which the campaign will be directed.",
                  "title": "Available Group",
                  "x-ms-dynamic-values": {
                    "operationId": "GetAgendas",
                    "value-path": "id",
                    "value-collection": "data",
                    "value-title": "name"
                  }
                },
                "start_date": {
                  "type": "string",
                  "description": "Sending date in the format 'YYYY-MM-DD hh:mm'. If you don't specify this parameter, the message will be sent immediately.",
                  "title": "Start Date",
                  "format": "date-time",
                  "x-ms-visibility": "advanced"
                },
                "smsxblock": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of recipients per block. Mandatory in the presence of 'Minutes Per Block'. If the two parameters are sent, the campaign configuration is defined as 'custom configuration' and the value of the parameters 'Days' and 'Time Intervals' will be considered.",
                  "title": "Calls per Block"
                },
                "minutesxblock": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Every few minutes the block of recipients chosen in 'Calls Per Block' will be sent. Mandatory in the presence of 'Calls Per Block'. If the two parameters are sent, the campaign configuration is defined as 'custom configuration' and the value of the parameters 'Days' and 'Time Intervals' will be considered.",
                  "title": "Minutes per Block"
                },
                "days": {
                  "type": "string",
                  "description": "A list of days of the week separated by commas and without spaces on which calls can be made. (1,2,3,4,5,6,7)",
                  "title": "Days"
                },
                "time_intervals": {
                  "type": "string",
                  "description": "A list of time intervals separated by commas and without spaces, in which the call can be sent. It will only be taken into account if 'Minutes Per Block' and 'Calls Per Block' are sent.(hh:mm-hh:mm,hh:mm-hh:mm...)",
                  "title": "Time Intervals"
                },
                "url_parameters": {
                  "type": "string",
                  "description": "Link tagging if there is a shortened link, Landing or Form in the message.",
                  "title": "URL Paremeters",
                  "x-ms-visibility": "advanced"
                },
                "url_extrafields_mode": {
                  "type": "string",
                  "description": "If you include shortened links or landings in your shipments, you can choose what value the custom fields will show when the recipient views the content.",
                  "title": "URL Extrafields Mode",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "configuration_name",
                "message",
                "available_groups"
              ]
            }
          }
        ]
      }
    },
    "/email/simple": {
      "post": {
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "app_configuration_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "App Configuration ID",
                      "title": "App Configuration ID"
                    },
                    "start_date": {
                      "type": "string",
                      "description": "Start Date",
                      "title": "Start Date"
                    },
                    "domain_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "ID of the registered Domain from which the mail is sent.",
                      "title": "Domain ID"
                    },
                    "sender_address_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Sender Address ID",
                      "title": "Sender Address ID"
                    },
                    "from": {
                      "type": "string",
                      "description": "Sender of the message.",
                      "title": "From"
                    },
                    "from_name": {
                      "type": "string",
                      "description": "Name of the person sending the message.",
                      "title": "Sender Name"
                    },
                    "to": {
                      "type": "object",
                      "properties": {
                        "valids": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "description": "Valid Addresses",
                            "title": "Valid Addresses"
                          },
                          "description": "Valid Emails,",
                          "title": "Valid Emails"
                        },
                        "discardeds": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "description": "Discarded address",
                            "title": "Discarded address"
                          },
                          "description": "Discarded Emails,",
                          "title": "Discarded Emails"
                        },
                        "blacklisteds": {
                          "type": "array",
                          "items": {
                            "description": "Blacklisted",
                            "title": "Blacklisted",
                            "type": "string"
                          },
                          "description": "Blacklisted,",
                          "title": "Blacklisted Emails"
                        }
                      },
                      "description": "Details of the recipients of the message.",
                      "title": "To"
                    },
                    "subject": {
                      "type": "string",
                      "description": "Subject of your email.",
                      "title": "Subject"
                    },
                    "attachments": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "Attachment URL",
                        "title": "Attachment URL"
                      },
                      "description": "attachments"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "Validation Fail"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Send Transactional Email",
        "description": "Send a Transactional email to your contacts using your custom templates from Mensagia.",
        "operationId": "SendTransactionalEmail",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "API-source",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "Power-Automate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "string",
                  "description": "An email address that will act as the sender. It must be a sending address created on the platform, or a sending address with a domain validated and authenticated on the platform.",
                  "title": "From",
                  "x-ms-dynamic-values": {
                    "operationId": "GetSenderAddress",
                    "value-path": "email",
                    "value-collection": "data",
                    "value-title": "name",
                    "parameters": {
                      "Accept": "application/json",
                      "API-source": "Power-Automate"
                    }
                  }
                },
                "from_name": {
                  "type": "string",
                  "description": "Send this field if you want to use a different sender name than the one stored in a sending address on the platform if you will use one that is already created.",
                  "title": "From Name"
                },
                "to": {
                  "type": "string",
                  "description": "The email address to which the shipment is made.",
                  "title": "To"
                },
                "subject": {
                  "type": "string",
                  "description": "The subject to send.",
                  "title": "Subject"
                },
                "html": {
                  "type": "string",
                  "description": "The HTML to send. Required without Template parameter.",
                  "title": "HTML"
                },
                "template_id": {
                  "type": "integer",
                  "description": "You can use an email template configured in your Mensagia account to obtain the HTML for sending. If this parameter is sent, the HTML parameter will be ignored.",
                  "title": "Template",
                  "format": "int64",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEmailTemplates",
                    "value-path": "id",
                    "value-collection": "data",
                    "value-title": "name",
                    "parameters": {
                      "Accept": "application/json",
                      "API-source": "Power-Automate"
                    }
                  }
                },
                "start_date": {
                  "type": "string",
                  "description": "Shipment date in the format 'YYYY-MM-DD hh:mm'. If you do not send this parameter, the sending will be made immediately.",
                  "title": "Send At"
                },
                "url_parameters": {
                  "type": "string",
                  "description": "Tagging of links in the content of the email.",
                  "title": "URL Parameters"
                },
                "attachments": {
                  "type": "string",
                  "description": "A comma separated list of URLs with the files to attach. You can attach up to 5M in files.",
                  "title": "Attachments"
                }
              },
              "required": [
                "from",
                "to",
                "subject"
              ]
            }
          }
        ]
      }
    },
    "/voice/messages": {
      "post": {
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "configuration_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Sender's header name",
                      "title": "Sender name"
                    },
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Voice campaign ID",
                      "title": "Voice Campaign ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "Voice's campaign name",
                      "title": "Voice Campaign Name"
                    },
                    "active": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Determines if the campaign is currently active",
                      "title": "Is Campaign Active"
                    },
                    "state_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Determines the sending status identification",
                      "title": "State ID"
                    },
                    "state_name": {
                      "type": "string",
                      "description": "Status name",
                      "title": "Status"
                    },
                    "message": {
                      "type": "string",
                      "description": "Body of the message sent",
                      "title": "Voice Message"
                    },
                    "start_date": {
                      "type": "string",
                      "description": "Scheduled date for sending",
                      "title": "Start Date"
                    },
                    "vm_validated_phone_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Validated phone ID to send the Campaign",
                      "title": "Validated Phone ID"
                    },
                    "vm_validated_phone_number": {
                      "type": "string",
                      "description": "Validated phone number",
                      "title": "Validated Phone Number"
                    },
                    "groups": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Group ID",
                            "title": "Agenda ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Agenda Name",
                            "title": "Agenda Name"
                          }
                        }
                      },
                      "description": "Agendas to which the campaign is directed.",
                      "title": "Agendas"
                    },
                    "numbers": {
                      "type": "string",
                      "description": "Numbers to which the campaign is directed.",
                      "title": "Numbers"
                    },
                    "vm_timeout": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Call's timeout",
                      "title": "Timeout"
                    },
                    "max_retries": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Maximum number of call's retries",
                      "title": "Max Retries"
                    },
                    "min_retry_minutes": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Minimum minutes' interval to wait until the next try.",
                      "title": "Minimum Retries Minutes"
                    },
                    "max_retry_minutes": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Maximum minutes' interval to wait until the next try.",
                      "title": "Max Retries Minutes"
                    },
                    "response_codes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Code's name",
                            "title": "Code"
                          },
                          "action": {
                            "type": "string",
                            "description": "Code's action",
                            "title": "Action"
                          },
                          "transfer_to": {
                            "type": "string",
                            "description": "Specifies the number to which the call will be redirected if necessary.",
                            "title": "Transfer To"
                          },
                          "vm_validated_phone_id": {
                            "type": "string",
                            "description": "Validated phone ID",
                            "title": "Validated Phone ID"
                          }
                        }
                      },
                      "description": "Response codes assigned to the call.",
                      "title": "Response Codes"
                    },
                    "response_codes_timeout": {
                      "type": "string",
                      "description": "Response Codes Timeout",
                      "title": "Response Codes Timeout"
                    },
                    "callback_url": {
                      "type": "string",
                      "description": "Callback url",
                      "title": "Callback URL"
                    },
                    "type": {
                      "type": "string",
                      "description": "Call's Type",
                      "title": "Type"
                    },
                    "callsxblock": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Calls per Block",
                      "title": "Calls per Block"
                    },
                    "minutesxblock": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Minutes per Block",
                      "title": "Minutes per Block"
                    },
                    "days_allowed": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "Days allowed to send the voice campaign",
                        "title": "Days Allowed"
                      },
                      "description": "Days allowed to send the voice campaign,",
                      "title": "Days Allowed"
                    },
                    "time_intervals_allowed": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "Time Interval Item",
                        "title": "Time Interval Item"
                      },
                      "description": "Time intervals allowed to send the voice campaign,",
                      "title": "Time Intervals Allowed"
                    },
                    "ring_timeout": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Maximum time in which the call ring will sound until the attempt is completed.",
                      "title": "Voice Ring Timeout"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "Validation Fail"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Send Voice Message",
        "description": "This method allows you to carry out Voice campaigns to telephone numbers in Spain. The recipients of the voice campaign can be: agendas, agendas and telephone numbers, or telephone numbers.",
        "operationId": "SendVoiceMessage",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "API-source",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "Power-Automate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name for the new voice campaign.",
                  "title": "Name"
                },
                "vm_validated_phone_id": {
                  "type": "integer",
                  "description": "The phone that will be used in this voice campaign.",
                  "title": "Validated Phone",
                  "format": "int32",
                  "x-ms-dynamic-values": {
                    "operationId": "GetVoiceNumbers",
                    "value-path": "id",
                    "value-collection": "data",
                    "value-title": "number",
                    "parameters": {
                      "Accept": "application/json",
                      "API-source": "Power-Automate"
                    }
                  }
                },
                "type_locution": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "title": "Type Locution",
                      "enum": [
                        "text2speech",
                        "file"
                      ],
                      "description": "The type of voiceover that will be used in this voice campaign."
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "The text to be synthesized to reproduce in the call. Mandatory field if text2speech is the type of speech chosen.",
                  "title": "Message"
                },
                "message_language": {
                  "type": "string",
                  "description": "The code of the language with which you want to synthesize the text that will be reproduced in the call. Mandatory field if text2speech is the type of speech chosen.",
                  "title": "Message Language",
                  "enum": [
                    "en",
                    "en-gb",
                    "en-au",
                    "en-in",
                    "en-gb-wls",
                    "es",
                    "ca",
                    "zh-cn",
                    "zh-tw",
                    "da",
                    "nl",
                    "fr",
                    "de",
                    "it",
                    "ja",
                    "ko",
                    "no",
                    "pl",
                    "pt-pt",
                    "pt-br",
                    "ru",
                    "sv",
                    "fi",
                    "tr",
                    "wls"
                  ],
                  "default": "en"
                },
                "voice_file_id": {
                  "type": "string",
                  "description": "The audio library file that will be used as a voiceover. Mandatory field if file is the type of speech chosen.",
                  "title": "Voice File",
                  "x-ms-dynamic-values": {
                    "operationId": "GetAudioLibrary",
                    "value-path": "id",
                    "value-collection": "data",
                    "value-title": "name",
                    "parameters": {
                      "Accept": "application/json",
                      "API-source": "Power-Automate"
                    }
                  }
                },
                "numbers": {
                  "type": "string",
                  "description": "A list of phone numbers separated by commas, without spaces and with the international prefix.",
                  "title": "Numbers"
                },
                "available_groups": {
                  "type": "string",
                  "description": "List of contacts to whom the campaign will be sent.",
                  "title": "Available Groups",
                  "x-ms-dynamic-values": {
                    "operationId": "GetAgendas",
                    "value-path": "id",
                    "value-collection": "data",
                    "value-title": "name",
                    "parameters": {
                      "Accept": "application/json",
                      "API-source": "Power-Automate"
                    }
                  }
                },
                "vm_timeout": {
                  "type": "integer",
                  "description": "Maximum call duration in minutes.",
                  "title": "Call Timeout",
                  "format": "int32",
                  "default": 30
                },
                "max_retries": {
                  "type": "integer",
                  "description": "Number of retries to perform if the recipient of the call does not answer.",
                  "title": "Max Retries",
                  "format": "int32",
                  "enum": [
                    0,
                    1,
                    2,
                    3,
                    4
                  ],
                  "default": 0
                },
                "minutes_retry_1": {
                  "type": "integer",
                  "description": "Interval in minutes in which the first retry will be made after the first call is not answered. This field is mandatory if \"Max Retries\" is greater than 1.",
                  "title": "Minutes in retry 1",
                  "format": "int32",
                  "enum": [
                    1,
                    2,
                    5,
                    10,
                    20,
                    30,
                    60,
                    120,
                    240,
                    480,
                    960,
                    1440
                  ]
                },
                "minutes_retry_2": {
                  "type": "integer",
                  "description": "Interval in minutes in which the first retry will be made after the first call is not answered. This field is mandatory if \"Max Retries\" is greater than 2.",
                  "title": "Minutes in retry 2",
                  "format": "int32",
                  "enum": [
                    1,
                    2,
                    5,
                    10,
                    20,
                    30,
                    60,
                    120,
                    240,
                    480,
                    960,
                    1440
                  ]
                },
                "minutes_retry_3": {
                  "type": "integer",
                  "description": "Interval in minutes in which the first retry will be made after the first call is not answered. This field is mandatory if \"Max Retries\" is greater than 3.",
                  "title": "Minutes in retry 3",
                  "format": "int32",
                  "enum": [
                    1,
                    2,
                    5,
                    10,
                    20,
                    30,
                    60,
                    120,
                    240,
                    480,
                    960,
                    1440
                  ]
                },
                "minutes_retry_4": {
                  "type": "integer",
                  "description": "Interval in minutes in which the first retry will be made after the first call is not answered. This field is mandatory if \"Max Retries\" is greater than 4.",
                  "title": "Minutes in retry 4",
                  "format": "int32",
                  "enum": [
                    1,
                    2,
                    5,
                    10,
                    20,
                    30,
                    60,
                    120,
                    240,
                    480,
                    960,
                    1440
                  ]
                },
                "ring_timeout": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Time in seconds in which the recipient's phone will ring for you to pick up the call.",
                  "title": "Ring Timeout"
                },
                "response_codes": {
                  "type": "string",
                  "description": "(JSON) Response codes that can be pressed by the recipient that will generate an action on the call.",
                  "title": "Response Codes"
                },
                "response_codes_timeout": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Time in seconds in which the recipient will be able to press a reply code. This field is mandatory in the presence of 'Response Codes'",
                  "title": "Response Codes Timeout"
                },
                "start_date": {
                  "type": "string",
                  "description": "Campaign start date in the format 'YYYY-MM-DD hh:mm'. If you don't send this parameter, the campaign will start two minutes after the creation of the new campaign.",
                  "title": "Start Date"
                },
                "callsxblock": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of recipients per block. Mandatory in the presence of 'Minutes Per Block'. If the two parameters are sent, the campaign configuration is defined as 'custom configuration' and the value of the parameters 'Days' and 'Time Intervals' will be considered.",
                  "title": "Calls per Block"
                },
                "minutesxblock": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Every few minutes the block of recipients chosen in 'Calls Per Block' will be sent. Mandatory in the presence of 'Calls Per Block'. If the two parameters are sent, the campaign configuration is defined as 'custom configuration' and the value of the parameters 'Days' and 'Time Intervals' will be considered.",
                  "title": "Minutes per Block"
                },
                "days": {
                  "type": "integer",
                  "description": "A list of days of the week separated by commas and without spaces on which calls can be made. (1,2,3,4,5,6,7)",
                  "format": "int32",
                  "enum": [
                    1,
                    2,
                    5,
                    10,
                    20,
                    30,
                    60,
                    120,
                    240,
                    480,
                    960,
                    1440
                  ],
                  "title": "Days"
                },
                "time_intervals": {
                  "type": "string",
                  "description": "A list of time intervals separated by commas and without spaces, in which the call can be sent. It will only be taken into account if 'Minutes Per Block' and 'Calls Per Block' are sent.(hh:mm-hh:mm,hh:mm-hh:mm...)",
                  "title": "Time Intervals"
                }
              },
              "required": [
                "vm_validated_phone_id",
                "type_locution",
                "name"
              ]
            }
          }
        ]
      }
    },
    "/contacts": {
      "post": {
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Contact's ID in Mensagia",
                      "title": "Contact ID"
                    },
                    "number": {
                      "type": "string",
                      "description": "Contact's Number",
                      "title": "Contact Number"
                    },
                    "push_operator_destination_id": {
                      "type": "string",
                      "description": "Contact's Push operator destination",
                      "title": "Push Operator"
                    },
                    "name": {
                      "type": "string",
                      "description": "Contact's name",
                      "title": "Contact Name"
                    },
                    "email": {
                      "type": "string",
                      "description": "Contact's email",
                      "title": "Contact Email"
                    },
                    "city": {
                      "type": "string",
                      "description": "Contact's location",
                      "title": "Contact Location"
                    },
                    "language": {
                      "type": "string",
                      "description": "Contact's language",
                      "title": "Contact Language"
                    },
                    "country_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Contact's Country ID",
                      "title": "Contact Country"
                    },
                    "country_name": {
                      "type": "string",
                      "description": "Contact's country name",
                      "title": "Country Name"
                    },
                    "in_sms_blacklist": {
                      "type": "boolean",
                      "description": "Determines if the contact is in the SMS Blacklist",
                      "title": "Is in SMS Blacklist"
                    },
                    "in_voice_blacklist": {
                      "type": "boolean",
                      "description": "Determines if the contact is in the Voice Blacklist",
                      "title": "Is in Voice Blacklist"
                    },
                    "in_mail_blacklist": {
                      "type": "boolean",
                      "description": "Determines if the contact is in the Email Blacklist",
                      "title": "Is in Email Blacklist"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Contact created at",
                      "title": "Created At"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "Contact updated at",
                      "title": "Updated At"
                    },
                    "groups": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Group ID",
                                "title": "Group ID"
                              },
                              "name": {
                                "type": "string",
                                "description": "Group Name",
                                "title": "Group Name"
                              },
                              "total_users": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Total Group's Users",
                                "title": "Total Group's Users"
                              },
                              "busy": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Group is Busy",
                                "title": "Group is Busy"
                              },
                              "created_at": {
                                "type": "string",
                                "description": "Group Created At",
                                "title": "Group Created At"
                              },
                              "updated_at": {
                                "type": "string",
                                "description": "Group Updated At",
                                "title": "Group Updated At"
                              }
                            }
                          },
                          "description": "data"
                        }
                      },
                      "description": "groups"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "Validation Fail"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Create a Contact",
        "description": "Create a contact inside your Mensagia's account.",
        "operationId": "CreateContact",
        "parameters": [
          {
            "name": "in_mail_blacklist",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "Specify if your contact is on the Email blacklist.",
            "x-ms-summary": "Is in Mail Blacklist"
          },
          {
            "name": "in_sms_blacklist",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "Specify if your contact is on in_voice_blacklist.",
            "x-ms-summary": "Is in SMS Blacklist"
          },
          {
            "name": "in_voice_blacklist",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "Specify if your contact is on the Voice blacklist.",
            "x-ms-summary": "Is in Voice Blacklist"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "API-source",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "Power-Automate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "number": {
                  "type": "string",
                  "description": "The contact's mobile number without blank spaces, with the international prefix and without the + sign.",
                  "title": "Number"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the contact within Mensagia.",
                  "title": "Name"
                },
                "email": {
                  "type": "string",
                  "description": "Contact email within Mensagia.",
                  "title": "Email"
                },
                "city": {
                  "type": "string",
                  "description": "Location of your contact.",
                  "title": "City"
                },
                "language": {
                  "type": "string",
                  "description": "Contact's language in ISO code.",
                  "title": "Language",
                  "enum": [
                    "en",
                    "en-gb",
                    "en-au",
                    "en-in",
                    "en-gb-wls",
                    "es",
                    "ca",
                    "zh-cn",
                    "zh-tw",
                    "da",
                    "nl",
                    "fr",
                    "de",
                    "it",
                    "ja",
                    "ko",
                    "no",
                    "pl",
                    "pt-pt",
                    "pt-br",
                    "ru",
                    "sv",
                    "fi",
                    "tr",
                    "wls"
                  ],
                  "default": "en"
                },
                "groups": {
                  "type": "string",
                  "description": "Add your contact to an address book",
                  "title": "Agenda",
                  "x-ms-dynamic-values": {
                    "operationId": "GetAgendas",
                    "value-path": "id",
                    "value-collection": "data",
                    "value-title": "name",
                    "parameters": {
                      "Accept": "application/json",
                      "API-source": "Power-Automate"
                    }
                  }
                }
              },
              "required": [
                "email",
                "number"
              ]
            }
          }
        ]
      }
    },
    "/2-way-sms": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "Message ID",
                        "title": "Message ID",
                        "format": "int32"
                      },
                      "number": {
                        "type": "string",
                        "description": "Number",
                        "title": "Number"
                      },
                      "callback_url": {
                        "type": "string",
                        "description": "Callback URL",
                        "title": "Callback URL"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "Created At",
                        "title": "Created At"
                      }
                    },
                    "description": "data"
                  }
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Total",
                          "title": "Total"
                        },
                        "count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Count",
                          "title": "Count"
                        },
                        "per_page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Results per page",
                          "title": "Per Page"
                        },
                        "current_page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Current page",
                          "title": "Current Page"
                        },
                        "total_pages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Total pages",
                          "title": "Total Pages"
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "description": "Pagination Link",
                            "title": "Link",
                            "type": "string"
                          },
                          "description": "links"
                        }
                      },
                      "description": "Pagination"
                    }
                  },
                  "description": "meta"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Get 2 Way SMS's numbers",
        "description": "Get a list of 2 Way SMS's numbers through your Mensagia account.",
        "operationId": "Get2WaySms",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "API-source",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "Power-Automate",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/2-way-sms/messages": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Message ID",
                  "title": "Message ID",
                  "format": "int32"
                },
                "application_id": {
                  "type": "string",
                  "description": "Application ID",
                  "title": "Application ID"
                },
                "configuration_id": {
                  "type": "integer",
                  "description": "Sending header ID",
                  "title": "Configuration ID",
                  "format": "int32"
                },
                "number": {
                  "type": "string",
                  "description": "Number",
                  "title": "Number"
                },
                "type": {
                  "type": "string",
                  "description": "Type of SMS (MO or MT)",
                  "title": "Type"
                },
                "enduser_number": {
                  "type": "string",
                  "description": "Receptor's number",
                  "title": "To Number"
                },
                "message": {
                  "type": "string",
                  "description": "Message's body",
                  "title": "Message body"
                },
                "created_at": {
                  "type": "string",
                  "description": "Created At",
                  "title": "Created At"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Get 2 Way SMS",
        "description": "Get a list of 2 Way SMS through your Mensagia account.",
        "operationId": "Get2WaySmsMessages",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "API-source",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "Power-Automate",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/2-way-sms/send": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Message ID",
                  "title": "Message ID",
                  "format": "int32"
                },
                "application_id": {
                  "type": "string",
                  "description": "Application ID",
                  "title": "Application ID"
                },
                "configuration_id": {
                  "type": "integer",
                  "description": "Sending header ID",
                  "title": "Configuration ID",
                  "format": "int32"
                },
                "number": {
                  "type": "string",
                  "description": "Number",
                  "title": "Number"
                },
                "type": {
                  "type": "string",
                  "description": "Type of SMS (MO or MT)",
                  "title": "Type"
                },
                "enduser_number": {
                  "type": "string",
                  "description": "Receptor's number",
                  "title": "To Number"
                },
                "message": {
                  "type": "string",
                  "description": "Message's body",
                  "title": "Message body"
                },
                "created_at": {
                  "type": "string",
                  "description": "Created At",
                  "title": "Created At"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Send 2 Way SMS",
        "description": "Send a 2 Way SMS to your contacts through your Mensagia account.",
        "operationId": "Send2WaySms",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "API-source",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "Power-Automate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "number": {
                  "type": "string",
                  "description": "The number 2 Way SMS by which the message is to be sent",
                  "title": "Number",
                  "x-ms-visibility": "important"
                },
                "enduser_number": {
                  "type": "string",
                  "description": "Receiver's number",
                  "title": "To Number",
                  "x-ms-visibility": "important"
                },
                "message": {
                  "type": "string",
                  "description": "Text to be sent (no more than 160 characters).",
                  "title": "Message",
                  "x-ms-visibility": "important"
                }
              },
              "description": "body",
              "required": [
                "enduser_number",
                "number",
                "message"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "apiKey": {
      "type": "apiKey",
      "in": "query",
      "name": "api_token"
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": []
}