{
  "swagger": "2.0",
  "info": {
    "title": "Leap",
    "description": "Generate images, music, and more using Leap.",
    "version": "1.1",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }  
  },
  "host": "api.tryleap.ai",
  "basePath": "/api/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/images/models/{modelId}/inferences": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "height": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The height.",
                    "title": "Height"
                  },
                  "width": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The width.",
                    "title": "Width"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "The prompt.",
                    "title": "Prompt"
                  },
                  "negativePrompt": {
                    "type": "string",
                    "description": "The negative prompt.",
                    "title": "Negative Prompt"
                  },
                  "promptStrength": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The prompt strength.",
                    "title": "Prompt Strength"
                  },
                  "modelId": {
                    "type": "string",
                    "description": "The model identifier.",
                    "title": "Model ID"
                  },
                  "numberOfImages": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The number of images.",
                    "title": "Number Of Images"
                  },
                  "seed": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The seed.",
                    "title": "Seed"
                  },
                  "steps": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The steps.",
                    "title": "Steps"
                  },
                  "upscalingOption": {
                    "type": "string",
                    "description": "The upscaling option.",
                    "title": "Upscaling Option"
                  },
                  "createdAt": {
                    "type": "string",
                    "description": "When created at.",
                    "title": "Created At"
                  },
                  "state": {
                    "type": "string",
                    "description": "The state.",
                    "title": "State"
                  },
                  "status": {
                    "type": "string",
                    "description": "The status.",
                    "title": "Status"
                  },
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The identifier.",
                          "title": "ID"
                        },
                        "uri": {
                          "type": "string",
                          "description": "The URI.",
                          "title": "URI"
                        },
                        "createdAt": {
                          "type": "string",
                          "description": "When created at.",
                          "title": "Created At"
                        }
                      }
                    },
                    "title": "Images"
                  }
                }
              }
            }
          }
        },
        "summary": "Get image jobs",
        "description": "Retrieve a list of inference jobs for a specific model.",
        "operationId": "ImagesGet",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "x-ms-summary": "Model ID",
            "x-ms-url-encoding": "single",
            "description": "The ID of the model to generate images. This can be a custom model or a public model.",
            "required": true,
            "type": "string",
            "enum": [
              "26a1a203-3a46-42cb-8cfa-f4de075907d8",
              "ee88d150-4259-4b77-9d0f-090abe29f650",
              "8b1b897c-d66d-45a6-b8d7-8e32421d02cf",
              "37d42ae9-5f5f-4399-b60b-014d35e762a5",
              "eab32df0-de26-4b83-a908-a83f3015e971",
              "1e7737d7-545e-469f-857f-e4b46eaa151d",
              "d66b1686-5e5d-43b2-a2e7-d295d679917c",
              "7575ea52-3d4f-400f-9ded-09f7b1b1a5b8",
              "8ead1e66-5722-4ff6-a13f-b5212f575321",
              "1285ded4-b11b-4993-a491-d87cdfe6310c"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "SDXL",
                "value": "26a1a203-3a46-42cb-8cfa-f4de075907d8"
              },
              {
                "displayName": "Stable Diffusion 2.1",
                "value": "ee88d150-4259-4b77-9d0f-090abe29f650"
              },
              {
                "displayName": "Stable Diffusion 1.5",
                "value": "8b1b897c-d66d-45a6-b8d7-8e32421d02cf"
              },
              {
                "displayName": "Realistic Vision v4.0",
                "value": "37d42ae9-5f5f-4399-b60b-014d35e762a5"
              },
              {
                "displayName": "Realistic Vision v2.0",
                "value": "eab32df0-de26-4b83-a908-a83f3015e971"
              },
              {
                "displayName": "OpenJourney v4",
                "value": "1e7737d7-545e-469f-857f-e4b46eaa151d"
              },
              {
                "displayName": "OpenJourney v2",
                "value": "d66b1686-5e5d-43b2-a2e7-d295d679917c"
              },
              {
                "displayName": "OpenJourney v1",
                "value": "7575ea52-3d4f-400f-9ded-09f7b1b1a5b8"
              },
              {
                "displayName": "Modern Disney",
                "value": "8ead1e66-5722-4ff6-a13f-b5212f575321"
              },
              {
                "displayName": "Future Diffusion",
                "value": "1285ded4-b11b-4993-a491-d87cdfe6310c"
              }
            ]
          },
          {
            "name": "onlyFinished",
            "in": "query",
            "x-ms-summary": "Only Finished",
            "description": "If set to true, only finished inferences will be returned. If set to false or not set, all inference jobs will be returned.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "The page size.",
            "required": false,
            "type": "integer"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "prompt": {
                  "type": "string",
                  "description": "The prompt.",
                  "title": "Prompt"
                },
                "negativePrompt": {
                  "type": "string",
                  "description": "The negative prompt.",
                  "title": "Negative Prompt"
                },
                "seed": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The seed.",
                  "title": "Seed"
                },
                "width": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The width.",
                  "title": "Width"
                },
                "height": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The height.",
                  "title": "Height"
                },
                "promptStrength": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The prompt strength.",
                  "title": "Prompt Strength"
                },
                "numberOfImages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of images.",
                  "title": "Number Of Images"
                },
                "state": {
                  "type": "string",
                  "description": "The state.",
                  "title": "State"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "steps": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The steps.",
                  "title": "Steps"
                },
                "images": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "uri": {
                        "type": "string",
                        "description": "The URI.",
                        "title": "URI"
                      }
                    }
                  },
                  "title": "Images"
                },
                "modelId": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The model identifier.",
                  "title": "Model ID"
                },
                "upscalingOption": {
                  "type": "string",
                  "description": "The upscaling option.",
                  "title": "Upscaling Option"
                }
              }
            }
          }
        },
        "summary": "Generate an image",
        "operationId": "ImagePost",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "x-ms-summary": "Model ID",
            "x-ms-url-encoding": "single",
            "description": "The ID of the model to generate images. This can be a custom model or a public model.",
            "required": true,
            "type": "string",
            "enum": [
              "26a1a203-3a46-42cb-8cfa-f4de075907d8",
              "ee88d150-4259-4b77-9d0f-090abe29f650",
              "8b1b897c-d66d-45a6-b8d7-8e32421d02cf",
              "37d42ae9-5f5f-4399-b60b-014d35e762a5",
              "eab32df0-de26-4b83-a908-a83f3015e971",
              "1e7737d7-545e-469f-857f-e4b46eaa151d",
              "d66b1686-5e5d-43b2-a2e7-d295d679917c",
              "7575ea52-3d4f-400f-9ded-09f7b1b1a5b8",
              "8ead1e66-5722-4ff6-a13f-b5212f575321",
              "1285ded4-b11b-4993-a491-d87cdfe6310c"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "SDXL",
                "value": "26a1a203-3a46-42cb-8cfa-f4de075907d8"
              },
              {
                "displayName": "Stable Diffusion 2.1",
                "value": "ee88d150-4259-4b77-9d0f-090abe29f650"
              },
              {
                "displayName": "Stable Diffusion 1.5",
                "value": "8b1b897c-d66d-45a6-b8d7-8e32421d02cf"
              },
              {
                "displayName": "Realistic Vision v4.0",
                "value": "37d42ae9-5f5f-4399-b60b-014d35e762a5"
              },
              {
                "displayName": "Realistic Vision v2.0",
                "value": "eab32df0-de26-4b83-a908-a83f3015e971"
              },
              {
                "displayName": "OpenJourney v4",
                "value": "1e7737d7-545e-469f-857f-e4b46eaa151d"
              },
              {
                "displayName": "OpenJourney v2",
                "value": "d66b1686-5e5d-43b2-a2e7-d295d679917c"
              },
              {
                "displayName": "OpenJourney v1",
                "value": "7575ea52-3d4f-400f-9ded-09f7b1b1a5b8"
              },
              {
                "displayName": "Modern Disney",
                "value": "8ead1e66-5722-4ff6-a13f-b5212f575321"
              },
              {
                "displayName": "Future Diffusion",
                "value": "1285ded4-b11b-4993-a491-d87cdfe6310c"
              }
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "prompt": {
                  "type": "string",
                  "description": "The prompt.",
                  "title": "Prompt"
                },
                "negativePrompt": {
                  "type": "string",
                  "description": "The negative prompt.",
                  "title": "Negative Prompt"
                },
                "steps": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The steps.",
                  "title": "Steps"
                },
                "width": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The width.",
                  "title": "Width"
                },
                "height": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The height.",
                  "title": "Height"
                },
                "numberOfImages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of images.",
                  "title": "Number Of Images"
                },
                "promptStrength": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The prompt strength.",
                  "title": "Prompt Strength"
                },
                "seed": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The seed.",
                  "title": "Seed"
                },
                "webhookUrl": {
                  "type": "string",
                  "description": "The webhook URL address.",
                  "title": "Webhook URL"
                }
              },
              "required": [
                "prompt"
              ]
            }
          }
        ],
        "description": "Generate an image by providing a text description.",
        "x-ms-visibility": "important"
      }
    },
    "/v1/images/models/{modelId}/inferences/{inferenceId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "height": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The height.",
                  "title": "Height"
                },
                "width": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The width.",
                  "title": "Width"
                },
                "prompt": {
                  "type": "string",
                  "description": "The prompt.",
                  "title": "Prompt"
                },
                "negativePrompt": {
                  "type": "string",
                  "description": "The negative prompt.",
                  "title": "Negative Prompt"
                },
                "promptStrength": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The prompt strength.",
                  "title": "Prompt Strength"
                },
                "modelId": {
                  "type": "string",
                  "description": "The model identifier.",
                  "title": "Model ID"
                },
                "numberOfImages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of images.",
                  "title": "Number Of Images"
                },
                "seed": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The seed.",
                  "title": "Seed"
                },
                "steps": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The steps.",
                  "title": "Steps"
                },
                "upscalingOption": {
                  "type": "string",
                  "description": "The upscaling option.",
                  "title": "Upscaling Option"
                },
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "state": {
                  "type": "string",
                  "description": "The state.",
                  "title": "State"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "images": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "uri": {
                        "type": "string",
                        "description": "The URI.",
                        "title": "URI"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      }
                    }
                  },
                  "title": "Images"
                }
              }
            }
          }
        },
        "summary": "Get image job",
        "description": "Retrieve a single image generation job, including the URLs for the images generated.",
        "operationId": "ImageGet",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "x-ms-summary": "Model ID",
            "x-ms-url-encoding": "single",
            "description": "The ID of the model to generate images. This can be a custom model or a public model.",
            "required": true,
            "type": "string",
            "enum": [
              "26a1a203-3a46-42cb-8cfa-f4de075907d8",
              "ee88d150-4259-4b77-9d0f-090abe29f650",
              "8b1b897c-d66d-45a6-b8d7-8e32421d02cf",
              "37d42ae9-5f5f-4399-b60b-014d35e762a5",
              "eab32df0-de26-4b83-a908-a83f3015e971",
              "1e7737d7-545e-469f-857f-e4b46eaa151d",
              "d66b1686-5e5d-43b2-a2e7-d295d679917c",
              "7575ea52-3d4f-400f-9ded-09f7b1b1a5b8",
              "8ead1e66-5722-4ff6-a13f-b5212f575321",
              "1285ded4-b11b-4993-a491-d87cdfe6310c"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "SDXL",
                "value": "26a1a203-3a46-42cb-8cfa-f4de075907d8"
              },
              {
                "displayName": "Stable Diffusion 2.1",
                "value": "ee88d150-4259-4b77-9d0f-090abe29f650"
              },
              {
                "displayName": "Stable Diffusion 1.5",
                "value": "8b1b897c-d66d-45a6-b8d7-8e32421d02cf"
              },
              {
                "displayName": "Realistic Vision v4.0",
                "value": "37d42ae9-5f5f-4399-b60b-014d35e762a5"
              },
              {
                "displayName": "Realistic Vision v2.0",
                "value": "eab32df0-de26-4b83-a908-a83f3015e971"
              },
              {
                "displayName": "OpenJourney v4",
                "value": "1e7737d7-545e-469f-857f-e4b46eaa151d"
              },
              {
                "displayName": "OpenJourney v2",
                "value": "d66b1686-5e5d-43b2-a2e7-d295d679917c"
              },
              {
                "displayName": "OpenJourney v1",
                "value": "7575ea52-3d4f-400f-9ded-09f7b1b1a5b8"
              },
              {
                "displayName": "Modern Disney",
                "value": "8ead1e66-5722-4ff6-a13f-b5212f575321"
              },
              {
                "displayName": "Future Diffusion",
                "value": "1285ded4-b11b-4993-a491-d87cdfe6310c"
              }
            ]
          },
          {
            "name": "inferenceId",
            "in": "path",
            "x-ms-summary": "Inference ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier of the image generation job to retrieve.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ImagesGet",
              "value-path": "id",
              "value-title": "prompt",
              "parameters": {
                "modelId": {
                  "parameter": "modelId"
                }
              }
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Delete image job",
        "description": "Delete the image job and all related images.",
        "operationId": "ImageDelete",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "x-ms-summary": "Model ID",
            "x-ms-url-encoding": "single",
            "description": "The ID of the model to generate images. This can be a custom model or a public model.",
            "required": true,
            "type": "string",
            "enum": [
              "26a1a203-3a46-42cb-8cfa-f4de075907d8",
              "ee88d150-4259-4b77-9d0f-090abe29f650",
              "8b1b897c-d66d-45a6-b8d7-8e32421d02cf",
              "37d42ae9-5f5f-4399-b60b-014d35e762a5",
              "eab32df0-de26-4b83-a908-a83f3015e971",
              "1e7737d7-545e-469f-857f-e4b46eaa151d",
              "d66b1686-5e5d-43b2-a2e7-d295d679917c",
              "7575ea52-3d4f-400f-9ded-09f7b1b1a5b8",
              "8ead1e66-5722-4ff6-a13f-b5212f575321",
              "1285ded4-b11b-4993-a491-d87cdfe6310c"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "SDXL",
                "value": "26a1a203-3a46-42cb-8cfa-f4de075907d8"
              },
              {
                "displayName": "Stable Diffusion 2.1",
                "value": "ee88d150-4259-4b77-9d0f-090abe29f650"
              },
              {
                "displayName": "Stable Diffusion 1.5",
                "value": "8b1b897c-d66d-45a6-b8d7-8e32421d02cf"
              },
              {
                "displayName": "Realistic Vision v4.0",
                "value": "37d42ae9-5f5f-4399-b60b-014d35e762a5"
              },
              {
                "displayName": "Realistic Vision v2.0",
                "value": "eab32df0-de26-4b83-a908-a83f3015e971"
              },
              {
                "displayName": "OpenJourney v4",
                "value": "1e7737d7-545e-469f-857f-e4b46eaa151d"
              },
              {
                "displayName": "OpenJourney v2",
                "value": "d66b1686-5e5d-43b2-a2e7-d295d679917c"
              },
              {
                "displayName": "OpenJourney v1",
                "value": "7575ea52-3d4f-400f-9ded-09f7b1b1a5b8"
              },
              {
                "displayName": "Modern Disney",
                "value": "8ead1e66-5722-4ff6-a13f-b5212f575321"
              },
              {
                "displayName": "Future Diffusion",
                "value": "1285ded4-b11b-4993-a491-d87cdfe6310c"
              }
            ]
          },
          {
            "name": "inferenceId",
            "in": "path",
            "x-ms-summary": "Inference ID",
            "x-ms-url-encoding": "single",
            "description": "The ID of the image generation job to delete.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ImagesGet",
              "value-path": "id",
              "value-title": "id",
              "parameters": {
                "modelId": {
                  "parameter": "modelId"
                }
              }
            }
          }
        ]
      }
    },
    "/v2/images/models/new": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "subjectKeyword": {
                  "type": "string",
                  "description": "The subject keyword.",
                  "title": "Subject Keyword"
                },
                "subjectType": {
                  "type": "string",
                  "description": "The subject type.",
                  "title": "Subject Type"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "imageSamples": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The image samples.",
                  "title": "Image Samples"
                }
              }
            }
          }
        },
        "summary": "Train model",
        "description": "Upload a few image URL samples and train a new model. Training usually takes 20-40 minutes.",
        "operationId": "ModelPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "subjectKeyword": {
                  "type": "string",
                  "description": "The subject keyword.",
                  "title": "Subject Keyword"
                },
                "subjectType": {
                  "type": "string",
                  "description": "The subject type.",
                  "title": "Subject Type"
                },
                "webhookUrl": {
                  "type": "string",
                  "description": "The webhook URL address.",
                  "title": "Webhook URL"
                },
                "imageSampleUrls": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The image sample URL addresses.",
                  "title": "Image Sample URLs"
                }
              }
            }
          }
        ]
      }
    },
    "/v2/images/models": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "models": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "subjectKeyword": {
                        "type": "string",
                        "description": "The subject keyword.",
                        "title": "Subject Keyword"
                      },
                      "subjectType": {
                        "type": "string",
                        "description": "The subject type.",
                        "title": "Subject Type"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "imageSamples": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The image samples.",
                        "title": "Image Samples"
                      }
                    }
                  },
                  "title": "Models"
                }
              }
            }
          }
        },
        "summary": "Get models",
        "description": "Retrieve a list of all models for the workspace",
        "operationId": "ModelsGet",
        "parameters": []
      }
    },
    "/v2/images/models/{modelId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "subjectKeyword": {
                  "type": "string",
                  "description": "The subject keyword.",
                  "title": "Subject Keyword"
                },
                "subjectType": {
                  "type": "string",
                  "description": "The subject type.",
                  "title": "Subject Type"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "imageSamples": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The image samples.",
                  "title": "Image Samples"
                }
              }
            }
          }
        },
        "summary": "Get a model",
        "description": "Retrieve a single model.",
        "operationId": "ModelGet",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "x-ms-summary": "Model ID",
            "x-ms-url-encoding": "single",
            "description": "The ID of the model to generate images. This can be a custom model or a public model.",
            "required": true,
            "type": "string",
            "enum": [
              "26a1a203-3a46-42cb-8cfa-f4de075907d8",
              "ee88d150-4259-4b77-9d0f-090abe29f650",
              "8b1b897c-d66d-45a6-b8d7-8e32421d02cf",
              "37d42ae9-5f5f-4399-b60b-014d35e762a5",
              "eab32df0-de26-4b83-a908-a83f3015e971",
              "1e7737d7-545e-469f-857f-e4b46eaa151d",
              "d66b1686-5e5d-43b2-a2e7-d295d679917c",
              "7575ea52-3d4f-400f-9ded-09f7b1b1a5b8",
              "8ead1e66-5722-4ff6-a13f-b5212f575321",
              "1285ded4-b11b-4993-a491-d87cdfe6310c"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "SDXL",
                "value": "26a1a203-3a46-42cb-8cfa-f4de075907d8"
              },
              {
                "displayName": "Stable Diffusion 2.1",
                "value": "ee88d150-4259-4b77-9d0f-090abe29f650"
              },
              {
                "displayName": "Stable Diffusion 1.5",
                "value": "8b1b897c-d66d-45a6-b8d7-8e32421d02cf"
              },
              {
                "displayName": "Realistic Vision v4.0",
                "value": "37d42ae9-5f5f-4399-b60b-014d35e762a5"
              },
              {
                "displayName": "Realistic Vision v2.0",
                "value": "eab32df0-de26-4b83-a908-a83f3015e971"
              },
              {
                "displayName": "OpenJourney v4",
                "value": "1e7737d7-545e-469f-857f-e4b46eaa151d"
              },
              {
                "displayName": "OpenJourney v2",
                "value": "d66b1686-5e5d-43b2-a2e7-d295d679917c"
              },
              {
                "displayName": "OpenJourney v1",
                "value": "7575ea52-3d4f-400f-9ded-09f7b1b1a5b8"
              },
              {
                "displayName": "Modern Disney",
                "value": "8ead1e66-5722-4ff6-a13f-b5212f575321"
              },
              {
                "displayName": "Future Diffusion",
                "value": "1285ded4-b11b-4993-a491-d87cdfe6310c"
              }
            ]
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "subjectKeyword": {
                  "type": "string",
                  "description": "The subject keyword.",
                  "title": "Subject Keyword"
                },
                "subjectType": {
                  "type": "string",
                  "description": "The subject type.",
                  "title": "Subject Type"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "imageSamples": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The image samples.",
                  "title": "Image Samples"
                }
              }
            }
          }
        },
        "summary": "Delete a model",
        "description": "Deletes a model. This is not reversible.",
        "operationId": "ModelDelete",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "x-ms-summary": "Model ID",
            "x-ms-url-encoding": "single",
            "description": "The ID of the model to generate images. This can be a custom model or a public model.",
            "required": true,
            "type": "string",
            "enum": [
              "26a1a203-3a46-42cb-8cfa-f4de075907d8",
              "ee88d150-4259-4b77-9d0f-090abe29f650",
              "8b1b897c-d66d-45a6-b8d7-8e32421d02cf",
              "37d42ae9-5f5f-4399-b60b-014d35e762a5",
              "eab32df0-de26-4b83-a908-a83f3015e971",
              "1e7737d7-545e-469f-857f-e4b46eaa151d",
              "d66b1686-5e5d-43b2-a2e7-d295d679917c",
              "7575ea52-3d4f-400f-9ded-09f7b1b1a5b8",
              "8ead1e66-5722-4ff6-a13f-b5212f575321",
              "1285ded4-b11b-4993-a491-d87cdfe6310c"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "SDXL",
                "value": "26a1a203-3a46-42cb-8cfa-f4de075907d8"
              },
              {
                "displayName": "Stable Diffusion 2.1",
                "value": "ee88d150-4259-4b77-9d0f-090abe29f650"
              },
              {
                "displayName": "Stable Diffusion 1.5",
                "value": "8b1b897c-d66d-45a6-b8d7-8e32421d02cf"
              },
              {
                "displayName": "Realistic Vision v4.0",
                "value": "37d42ae9-5f5f-4399-b60b-014d35e762a5"
              },
              {
                "displayName": "Realistic Vision v2.0",
                "value": "eab32df0-de26-4b83-a908-a83f3015e971"
              },
              {
                "displayName": "OpenJourney v4",
                "value": "1e7737d7-545e-469f-857f-e4b46eaa151d"
              },
              {
                "displayName": "OpenJourney v2",
                "value": "d66b1686-5e5d-43b2-a2e7-d295d679917c"
              },
              {
                "displayName": "OpenJourney v1",
                "value": "7575ea52-3d4f-400f-9ded-09f7b1b1a5b8"
              },
              {
                "displayName": "Modern Disney",
                "value": "8ead1e66-5722-4ff6-a13f-b5212f575321"
              },
              {
                "displayName": "Future Diffusion",
                "value": "1285ded4-b11b-4993-a491-d87cdfe6310c"
              }
            ]
          }
        ]
      }
    },
    "/v1/music": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "createdAt": {
                    "type": "string",
                    "description": "When created at.",
                    "title": "Created At"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "The prompt.",
                    "title": "Prompt"
                  },
                  "state": {
                    "type": "string",
                    "description": "The state.",
                    "title": "State"
                  },
                  "media_uri": {
                    "type": "string",
                    "description": "The media URI.",
                    "title": "Media URI"
                  }
                }
              }
            }
          }
        },
        "summary": "Get music generation jobs",
        "description": "Retrieve a list of all music generation jobs for a workspace.",
        "operationId": "MusicsGet",
        "parameters": []
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "prompt": {
                  "type": "string",
                  "description": "The prompt.",
                  "title": "Prompt"
                },
                "state": {
                  "type": "string",
                  "description": "The state.",
                  "title": "State"
                },
                "media_uri": {
                  "type": "string",
                  "description": "The media URI.",
                  "title": "Media URI"
                }
              }
            }
          }
        },
        "summary": "Generate music",
        "description": "Generate music by providing a text description. Generations usually take between 1-3 minutes.",
        "operationId": "MusicPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "prompt": {
                  "type": "string",
                  "description": "The prompt.",
                  "title": "Prompt"
                },
                "mode": {
                  "type": "string",
                  "description": "Select a mode, each option generates different results. Melody is best for melody, music is best for full songs",
                  "title": "Mode",
                  "default": "melody",
                  "enum": [
                    "melody",
                    "music"
                  ]
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Duration of the generated audio in seconds. Max 30 seconds.",
                  "title": "Duration"
                }
              },
              "required": [
                "duration",
                "mode",
                "prompt"
              ]
            }
          }
        ]
      }
    },
    "/v1/music/{inferenceId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "prompt": {
                  "type": "string",
                  "description": "The prompt.",
                  "title": "Prompt"
                },
                "state": {
                  "type": "string",
                  "description": "The state.",
                  "title": "State"
                },
                "media_uri": {
                  "type": "string",
                  "description": "The media URI.",
                  "title": "Media URI"
                }
              }
            }
          }
        },
        "summary": "Get a music generation job",
        "description": "Retrieve a specific music generation job.",
        "operationId": "MusicGet",
        "parameters": [
          {
            "name": "inferenceId",
            "in": "path",
            "x-ms-summary": "Inference ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier of the music generation job to retrieve.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "MusicsGet",
              "value-path": "id",
              "value-title": "prompt"
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://tryleap.ai/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://app.getterms.io/view/dlM8u/privacy/en-us"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI"
    }
  ]
}