{
  "swagger": "2.0",
  "info": {
    "title": "Carbon Intensity",
    "description": "Uses Carbon Intensity API to provide an indicative trend of the regional carbon intensity of the electricity system in Great Britain",
    "version": "1.0",
    "contact": {
      "name": "Hasan Unlu",
      "email": "hu1997tr@gmail.com"
    }
  },
  "host": "api.carbonintensity.org.uk",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/intensity": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "from": {
                        "type": "string",
                        "description": "from"
                      },
                      "to": {
                        "type": "string",
                        "description": "to"
                      },
                      "intensity": {
                        "type": "object",
                        "properties": {
                          "forecast": {
                            "type": "integer",
                            "format": "int32",
                            "description": "forecast"
                          },
                          "actual": {
                            "type": "integer",
                            "format": "int32",
                            "description": "actual"
                          },
                          "index": {
                            "type": "string",
                            "description": "index"
                          }
                        },
                        "description": "intensity"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Get National Carbon Intensity",
        "description": "The API returns national carbon intensity data for current half hour. All times provided in UTC (+00:00)",
        "operationId": "GetIntensity",
        "parameters": []
      }
    },
    "/intensity/factors": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Biomass": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Biomass"
                      },
                      "Coal": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Coal"
                      },
                      "Dutch Imports": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Dutch Imports"
                      },
                      "French Imports": {
                        "type": "integer",
                        "format": "int32",
                        "description": "French Imports"
                      },
                      "Gas (Combined Cycle)": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Gas (Combined Cycle)"
                      },
                      "Gas (Open Cycle)": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Gas (Open Cycle)"
                      },
                      "Hydro": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Hydro"
                      },
                      "Irish Imports": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Irish Imports"
                      },
                      "Nuclear": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Nuclear"
                      },
                      "Oil": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Oil"
                      },
                      "Other": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Other"
                      },
                      "Pumped Storage": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Pumped Storage"
                      },
                      "Solar": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Solar"
                      },
                      "Wind": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Wind"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "description": "Get National Carbon Intensity factors for each fuel type",
        "summary": "Get National Carbon Intensity Factors",
        "operationId": "GetIntensityFactors",
        "parameters": []
      }
    },
    "/generation": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "from": {
                      "type": "string",
                      "description": "from"
                    },
                    "to": {
                      "type": "string",
                      "description": "to"
                    },
                    "generationmix": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fuel": {
                            "type": "string",
                            "description": "fuel"
                          },
                          "perc": {
                            "type": "number",
                            "format": "float",
                            "description": "perc"
                          }
                        }
                      },
                      "description": "generationmix"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "operationId": "GetGeneration",
        "summary": "Get National Generation Mix",
        "description": "Generation Mix for the GB power system. Contains the following fuel types: gas, coal, nuclear, biomass, hydro, imports, solar, wind, other.",
        "parameters": []
      }
    },
    "/regional/england": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "regionid": {
                        "type": "integer",
                        "format": "int32",
                        "description": "regionid"
                      },
                      "dnoregion": {
                        "type": "string",
                        "description": "dnoregion"
                      },
                      "shortname": {
                        "type": "string",
                        "description": "shortname"
                      },
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "from": {
                              "type": "string",
                              "description": "from"
                            },
                            "to": {
                              "type": "string",
                              "description": "to"
                            },
                            "intensity": {
                              "type": "object",
                              "properties": {
                                "forecast": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "forecast"
                                },
                                "index": {
                                  "type": "string",
                                  "description": "index"
                                }
                              },
                              "description": "intensity"
                            },
                            "generationmix": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "fuel": {
                                    "type": "string",
                                    "description": "fuel"
                                  },
                                  "perc": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "perc"
                                  }
                                }
                              },
                              "description": "generationmix"
                            }
                          }
                        },
                        "description": "data"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Get Carbon Intensity for England",
        "description": "Get Carbon Intensity data for current half hour for England. All times provided in UTC (+00:00).",
        "operationId": "GetIntensityEngland",
        "parameters": []
      }
    },
    "/regional/scotland": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "regionid": {
                        "type": "integer",
                        "format": "int32",
                        "description": "regionid"
                      },
                      "dnoregion": {
                        "type": "string",
                        "description": "dnoregion"
                      },
                      "shortname": {
                        "type": "string",
                        "description": "shortname"
                      },
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "from": {
                              "type": "string",
                              "description": "from"
                            },
                            "to": {
                              "type": "string",
                              "description": "to"
                            },
                            "intensity": {
                              "type": "object",
                              "properties": {
                                "forecast": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "forecast"
                                },
                                "index": {
                                  "type": "string",
                                  "description": "index"
                                }
                              },
                              "description": "intensity"
                            },
                            "generationmix": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "fuel": {
                                    "type": "string",
                                    "description": "fuel"
                                  },
                                  "perc": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "perc"
                                  }
                                }
                              },
                              "description": "generationmix"
                            }
                          }
                        },
                        "description": "data"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Get Carbon Intensity for Scotland",
        "description": "Get Carbon Intensity data for current half hour for Scotland. All times provided in UTC (+00:00).",
        "operationId": "GetIntensityScotland",
        "parameters": []
      }
    },
    "/regional/wales": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "regionid": {
                        "type": "integer",
                        "format": "int32",
                        "description": "regionid"
                      },
                      "dnoregion": {
                        "type": "string",
                        "description": "dnoregion"
                      },
                      "shortname": {
                        "type": "string",
                        "description": "shortname"
                      },
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "from": {
                              "type": "string",
                              "description": "from"
                            },
                            "to": {
                              "type": "string",
                              "description": "to"
                            },
                            "intensity": {
                              "type": "object",
                              "properties": {
                                "forecast": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "forecast"
                                },
                                "index": {
                                  "type": "string",
                                  "description": "index"
                                }
                              },
                              "description": "intensity"
                            },
                            "generationmix": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "fuel": {
                                    "type": "string",
                                    "description": "fuel"
                                  },
                                  "perc": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "perc"
                                  }
                                }
                              },
                              "description": "generationmix"
                            }
                          }
                        },
                        "description": "data"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Get Carbon Intensity for Wales",
        "description": "Get Carbon Intensity data for current half hour for Wales. All times provided in UTC (+00:00).",
        "operationId": "GetIntensityWales",
        "parameters": []
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
        "propertyName": "Website",
        "propertyValue": "https://carbonintensity.org.uk/"
    },
    {
        "propertyName": "Privacy policy",
        "propertyValue": "https://github.com/carbon-intensity/terms/"
    },
    {
        "propertyName": "Categories",
        "propertyValue": "Data"
    }
]
}