{
  "swagger": "2.0",
  "info": {
    "version": "v4.0",
    "title": "NH360 Portfolio Insights",
    "description": "NH360 Portfolio Insights connector enables you to continuously connect, align and orchestrate all investments with strategies to drive business agility more effectively. It connects disparate silos across the enterprise and provides 360 degrees of insight to help ensure that all investments are derived from – and continuously align with – strategic priorities. Connect to NH360 Portfolio Insights to plan, manage, and adjust your initiatives, projects, epics and more.",
    "contact": {
      "name": "NH360 Support",
      "url": "https://www.northhighland.com/contact-us",
      "email": "spm-support@northhighland.com"
    }
  },
  "host": "umt360pa-connector.umt360online.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/AllocationCenters/GetAllocationCenters": {
      "get": {
        "tags": [
          "AllocationCenters"
        ],
        "operationId": "AllocationCentersGetAllocationCenters",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your NH360 Portfolio Insights site"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Lists all allocation centers",
        "description": "Returns a list with all allocation centers from the NH360 Portfolio Insights site.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "AllocationCentersGetAllocationCenters",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/ChangeRequests/GetChangeRequests": {
      "get": {
        "tags": [
          "ChangeRequests"
        ],
        "operationId": "ChangeRequestsGetChangeRequests",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your NH360 Portfolio Insights site"
          },
          {
            "name": "entityId",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "FinancialEntitiesGetAllEntitiesShallow",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {
                "siteUrl": {
                  "parameter": "siteUrl"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "FinancialEntitiesGetAllEntitiesShallow",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {
                "siteUrl": {
                  "parameterReference": "siteUrl"
                }
              }
            },
            "x-ms-summary": "Entity",
            "description": "Choose entity by name or input an entity Uid."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "List Entity Change Requests",
        "description": "Lists all the change requests for an entity",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "ChangeRequestsGetChangeRequests",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/ChangeRequests/GetChangeRequestStatusEnumValues": {
      "get": {
        "tags": [
          "ChangeRequests"
        ],
        "operationId": "ChangeRequestsGetChangeRequestStatusEnumValues",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "List change request status enum values",
        "description": "Utility method",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "ChangeRequestsGetChangeRequestStatusEnumValues",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/ChangeRequests/SetChangeRequestStatus": {
      "post": {
        "tags": [
          "ChangeRequests"
        ],
        "operationId": "ChangeRequestsSetChangeRequestStatus",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your NH360 Portfolio Insights site"
          },
          {
            "name": "entityId",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "FinancialEntitiesGetAllEntitiesShallow",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {
                "siteUrl": {
                  "parameter": "siteUrl"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "FinancialEntitiesGetAllEntitiesShallow",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {
                "siteUrl": {
                  "parameterReference": "siteUrl"
                }
              }
            },
            "x-ms-summary": "Entity",
            "description": "Choose entity by name or input an entity Uid."
          },
          {
            "name": "changeRequestId",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "ChangeRequestsGetChangeRequests",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {
                "siteUrl": {
                  "parameter": "siteUrl"
                },
                "entityId": {
                  "parameter": "entityId"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "ChangeRequestsGetChangeRequests",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {
                "siteUrl": {
                  "parameterReference": "siteUrl"
                },
                "entityId": {
                  "parameterReference": "entityId"
                }
              }
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ChangeRequestsGetChangeRequestStatusEnumValues",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {}
            },
            "x-ms-dynamic-list": {
              "operationId": "ChangeRequestsGetChangeRequestStatusEnumValues",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {}
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Set Change Request Status",
        "description": "Sets a change request status to draft/approved/rejected etc.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "ChangeRequestsSetChangeRequestStatus",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/CustomFields/GetCustomFields": {
      "get": {
        "tags": [
          "CustomFields"
        ],
        "operationId": "CustomFieldsGetCustomFields",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your NH360 Portfolio Insights site"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Lists custom fields definitions",
        "description": "Utility method",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "CustomFieldsGetCustomFields",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/CustomFields/GetFinancialCustomFields": {
      "get": {
        "tags": [
          "CustomFields"
        ],
        "operationId": "CustomFieldsGetFinancialCustomFields",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your NH360 Portfolio Insights site"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Lists financial custom fields definitions",
        "description": "Utility method",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "CustomFieldsGetFinancialCustomFields",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/CustomFields/GetMilestoneCustomFields": {
      "get": {
        "tags": [
          "CustomFields"
        ],
        "operationId": "CustomFieldsGetMilestoneCustomFields",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your NH360 Portfolio Insights site"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Lists milestone custom fields definitions",
        "description": "Utility method",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "CustomFieldsGetMilestoneCustomFields",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/CustomFields/GetEntityCustomFields": {
      "get": {
        "tags": [
          "CustomFields"
        ],
        "operationId": "CustomFieldsGetEntityCustomFields",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your NH360 Portfolio Insights site"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Lists entity custom fields definitions",
        "description": "Utility method",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "CustomFieldsGetEntityCustomFields",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/EntityLifecycle/ExecuteStageValidation": {
      "get": {
        "tags": [
          "EntityLifecycle"
        ],
        "operationId": "FinancialEntitiesExecuteStageValidation",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your NH360 Portfolio Insights site"
          },
          {
            "name": "entityId",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "FinancialEntitiesGetAllInternalEntitiesWithLifecycle",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {
                "siteUrl": {
                  "parameter": "siteUrl"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "FinancialEntitiesGetAllInternalEntitiesWithLifecycle",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {
                "siteUrl": {
                  "parameterReference": "siteUrl"
                }
              }
            },
            "x-ms-summary": "Entity",
            "description": "Choose entity by name or input an entity Uid."
          },
          {
            "name": "stageId",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "FinancialEntitiesGetEntityStages",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {
                "siteUrl": {
                  "parameter": "siteUrl"
                },
                "entityId": {
                  "parameter": "entityId"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "FinancialEntitiesGetEntityStages",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {
                "siteUrl": {
                  "parameterReference": "siteUrl"
                },
                "entityId": {
                  "parameterReference": "entityId"
                }
              }
            },
            "x-ms-summary": "Stage",
            "description": "Choose stage by name or input stage Uid."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "Get the entity's stage validation status",
        "description": "Returns the stage validation status for the selected entity.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "FinancialEntitiesExecuteStageValidation",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/EntityLifecycle/ExecuteStageTransition": {
      "post": {
        "tags": [
          "EntityLifecycle"
        ],
        "operationId": "FinancialEntitiesExecuteStageTransition",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your NH360 Portfolio Insights site"
          },
          {
            "name": "entityId",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "FinancialEntitiesGetAllInternalEntitiesWithLifecycle",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {
                "siteUrl": {
                  "parameter": "siteUrl"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "FinancialEntitiesGetAllInternalEntitiesWithLifecycle",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {
                "siteUrl": {
                  "parameterReference": "siteUrl"
                }
              }
            },
            "x-ms-summary": "Entity",
            "description": "Choose entity by name or input an entity Uid."
          },
          {
            "name": "stageId",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "FinancialEntitiesGetEntityStages",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {
                "siteUrl": {
                  "parameter": "siteUrl"
                },
                "entityId": {
                  "parameter": "entityId"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "FinancialEntitiesGetEntityStages",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {
                "siteUrl": {
                  "parameterReference": "siteUrl"
                },
                "entityId": {
                  "parameterReference": "entityId"
                }
              }
            },
            "x-ms-summary": "Stage",
            "description": "Choose stage by name or input a stage Uid."
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "Execute Stage Transition",
        "description": "Executes an entity stage transition.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "FinancialEntitiesExecuteStageTransition",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/EntityLifecycle/GetEntityStages": {
      "get": {
        "tags": [
          "EntityLifecycle"
        ],
        "operationId": "FinancialEntitiesGetEntityStages",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your NH360 Portfolio Insights site"
          },
          {
            "name": "entityId",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Entity",
            "description": "Input an entity Uid."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Lists entity stages",
        "description": "Utility method",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "FinancialEntitiesGetEntityStages",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/EntityLifecycle/GetEntityHistoryEntries": {
      "get": {
        "tags": [
          "EntityLifecycle"
        ],
        "operationId": "FinancialEntitiesGetEntityHistoryEntries",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your NH360 Portfolio Insights site"
          },
          {
            "name": "entityId",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "FinancialEntitiesGetAllInternalEntitiesWithLifecycle",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {
                "siteUrl": {
                  "parameter": "siteUrl"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "FinancialEntitiesGetAllInternalEntitiesWithLifecycle",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {
                "siteUrl": {
                  "parameterReference": "siteUrl"
                }
              }
            },
            "x-ms-summary": "Entity",
            "description": "Choose entity by name or input an entity Uid."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EntityHistoryEntry"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "List entity history entries",
        "description": "Retrieve a list of all entries in the entity history of the selected entity.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "FinancialEntitiesGetEntityHistoryEntries",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/EntityLifecycle/LogEntityHistoryEntry": {
      "post": {
        "tags": [
          "EntityLifecycle"
        ],
        "operationId": "FinancialEntitiesLogEntityHistoryEntry",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your NH360 Portfolio Insights site"
          },
          {
            "name": "entityId",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "FinancialEntitiesGetAllInternalEntitiesWithLifecycle",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {
                "siteUrl": {
                  "parameter": "siteUrl"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "FinancialEntitiesGetAllInternalEntitiesWithLifecycle",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {
                "siteUrl": {
                  "parameterReference": "siteUrl"
                }
              }
            },
            "x-ms-summary": "Entity",
            "description": "Choose entity by name or input an entity Uid."
          },
          {
            "name": "activityType",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Activity type",
            "description": "Insert the activity type (ex: Entity field value changed )"
          },
          {
            "name": "activityTypeIcon",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "FinancialEntitiesGetIconEnumValues",
              "value-path": "Name",
              "value-title": "Name",
              "parameters": {}
            },
            "x-ms-dynamic-list": {
              "operationId": "FinancialEntitiesGetIconEnumValues",
              "itemValuePath": "Name",
              "itemTitlePath": "Name",
              "parameters": {}
            },
            "x-ms-summary": "Activity icon",
            "description": "Select or insert a fluent UI Icon (ex: AddLink)."
          },
          {
            "name": "activityDetails",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Activity Details",
            "description": "Insert some activity details"
          },
          {
            "name": "initiator",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "FinancialEntitiesGetInitiatorEnumValues",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {}
            },
            "x-ms-dynamic-list": {
              "operationId": "FinancialEntitiesGetInitiatorEnumValues",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {}
            },
            "x-ms-summary": "Add power apps user as initiator",
            "description": "Select if user from power apps is consider initiator"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "Add a new entry to the entity's history log",
        "description": "Add an entry to the entity history of the selected entity.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "FinancialEntitiesLogEntityHistoryEntry",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/EntityLifecycle/GetLifecycleApprovalStatusEnumValues": {
      "get": {
        "tags": [
          "EntityLifecycle"
        ],
        "operationId": "EntityLifecycleGetLifecycleApprovalStatusEnumValues",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "List lifecycle approval status enum values",
        "description": "Utility method",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EntityLifecycleGetLifecycleApprovalStatusEnumValues",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/EntityLifecycle/GetLifecycleApprovalRequestsByUser": {
      "get": {
        "tags": [
          "EntityLifecycle"
        ],
        "operationId": "EntityLifecycleGetLifecycleApprovalRequestsByUser",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your NH360 Portfolio Insights site"
          },
          {
            "name": "approver",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Approver Login Name",
            "description": "Login name used to identify the approver"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-dynamic-values": {
              "operationId": "EntityLifecycleGetLifecycleApprovalStatusEnumValues",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {}
            },
            "x-ms-dynamic-list": {
              "operationId": "EntityLifecycleGetLifecycleApprovalStatusEnumValues",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {}
            },
            "x-ms-summary": "Status",
            "description": "Filter by approval status (0 = Pending, 1 = Completed)."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LifecycleApprovalRequest"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "Get lifecycle approval requests by approver",
        "description": "Returns all lifecycle approval requests for which the current user is an approver.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EntityLifecycleGetLifecycleApprovalRequestsByUser",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/EntityLifecycle/GetLifecycleApprovalRequestsByEntity": {
      "get": {
        "tags": [
          "EntityLifecycle"
        ],
        "operationId": "EntityLifecycleGetLifecycleApprovalRequestsByEntity",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your NH360 Portfolio Insights site"
          },
          {
            "name": "entityId",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "FinancialEntitiesGetAllInternalEntitiesWithLifecycle",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {
                "siteUrl": {
                  "parameter": "siteUrl"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "FinancialEntitiesGetAllInternalEntitiesWithLifecycle",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {
                "siteUrl": {
                  "parameterReference": "siteUrl"
                }
              }
            },
            "x-ms-summary": "Entity",
            "description": "Choose entity by name or input an entity Uid."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-dynamic-values": {
              "operationId": "EntityLifecycleGetLifecycleApprovalStatusEnumValues",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {}
            },
            "x-ms-dynamic-list": {
              "operationId": "EntityLifecycleGetLifecycleApprovalStatusEnumValues",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {}
            },
            "x-ms-summary": "Status",
            "description": "Filter by approval status (0 = Pending, 1 = Completed)."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LifecycleApprovalRequest"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "Get lifecycle approval requests by entity",
        "description": "Returns all lifecycle approval requests for the selected entity.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EntityLifecycleGetLifecycleApprovalRequestsByEntity",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/EntityLifecycle/GetLifecycleApprovalRequestDetails": {
      "get": {
        "tags": [
          "EntityLifecycle"
        ],
        "operationId": "EntityLifecycleGetLifecycleApprovalRequestDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your NH360 Portfolio Insights site"
          },
          {
            "name": "requestInstanceId",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Request Instance",
            "description": "Input the approval request instance Uid."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LifecycleApprovalRequest"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "Get lifecycle approval request details",
        "description": "Retrieves detailed information for a specific lifecycle approval request.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EntityLifecycleGetLifecycleApprovalRequestDetails",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/EntityLifecycle/SetLifecycleApprovalResponse": {
      "post": {
        "tags": [
          "EntityLifecycle"
        ],
        "operationId": "EntityLifecycleSetLifecycleApprovalResponse",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your NH360 Portfolio Insights site"
          },
          {
            "name": "requestUid",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "EntityLifecycleGetCurrentUserLifecycleApprovalRequests",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {
                "siteUrl": {
                  "parameter": "siteUrl"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "EntityLifecycleGetCurrentUserLifecycleApprovalRequests",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {
                "siteUrl": {
                  "parameterReference": "siteUrl"
                }
              }
            },
            "x-ms-summary": "Approval request",
            "description": "Choose approval request by name or input a request Uid."
          },
          {
            "name": "response",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-dynamic-values": {
              "operationId": "EntityLifecycleGetLifecycleApprovalResponses",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {}
            },
            "x-ms-dynamic-list": {
              "operationId": "EntityLifecycleGetLifecycleApprovalResponses",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {}
            },
            "x-ms-summary": "Response type",
            "description": "Choose a response type."
          },
          {
            "name": "comment",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Comment",
            "description": "Enter an optional comment."
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "Set lifecycle approval response",
        "description": "Updates the response of the selected lifecycle approval request.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EntityLifecycleSetLifecycleApprovalResponse",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/EntityLifecycle/GetAllEntitiesWithLifecycle": {
      "get": {
        "tags": [
          "EntityLifecycle"
        ],
        "operationId": "FinancialEntitiesGetAllInternalEntitiesWithLifecycle",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Lists all entities with lifecycle settings",
        "description": "Utility method",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "FinancialEntitiesGetAllInternalEntitiesWithLifecycle",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/EntityLifecycle/GetInitiatorEnumValues": {
      "get": {
        "tags": [
          "EntityLifecycle"
        ],
        "operationId": "FinancialEntitiesGetInitiatorEnumValues",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "List initiators enum values",
        "description": "Utility method",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "FinancialEntitiesGetInitiatorEnumValues",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/EntityLifecycle/GetIconEnumValues": {
      "get": {
        "tags": [
          "EntityLifecycle"
        ],
        "operationId": "FinancialEntitiesGetIconEnumValues",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "List icons options values",
        "description": "Utility method",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "FinancialEntitiesGetIconEnumValues",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/EntityLifecycle/GetCurrentUserLifecycleApprovalRequests": {
      "get": {
        "tags": [
          "EntityLifecycle"
        ],
        "operationId": "EntityLifecycleGetCurrentUserLifecycleApprovalRequests",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "List lifecycle approval requests",
        "description": "Utility method",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EntityLifecycleGetCurrentUserLifecycleApprovalRequests",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/EntityLifecycle/GetLifecycleApprovalResponses": {
      "get": {
        "tags": [
          "EntityLifecycle"
        ],
        "operationId": "EntityLifecycleGetLifecycleApprovalResponses",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "List lifecycle approval responses",
        "description": "Utility method",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EntityLifecycleGetLifecycleApprovalResponses",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/EntityTypes/GetEntityTypes": {
      "get": {
        "tags": [
          "EntityTypes"
        ],
        "operationId": "EntityTypesGetEntityTypes",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your NH360 Portfolio Insights site"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "List entity types",
        "description": "Returns a list with all entity types from the NH360 Portfolio Insights site.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EntityTypesGetEntityTypes",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/Events/AddFinancialValuesChangedHook": {
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddFinancialValuesChangedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventCreationInformation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "On Financial Values Change",
        "description": "Executed when a financial value is changed.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when a financial value is changed.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EventsAddFinancialValuesChangedHook",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteFinancialValuesEventArgs"
        }
      }
    },
    "/Events/AddEntityCreatedHook": {
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddEntityCreatedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventCreationInformation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "On Entity Created",
        "description": "Executed when a new entity is created in the NH360 Portfolio Insights site.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when a new entity is created in the NH360 Portfolio Insights site.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EventsAddEntityCreatedHook",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteEntityEventArgs"
        }
      }
    },
    "/Events/AddEntityUpdatedHook": {
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddEntityUpdatedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventCreationInformation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "On Entity Updated",
        "description": "Executed when entity fields are updated.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when entity fields are updated.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EventsAddEntityUpdatedHook",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteEntityEventArgs"
        }
      }
    },
    "/Events/AddEntityDeletedHook": {
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddEntityDeletedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventCreationInformation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "On Entity Deleted",
        "description": "Executed when one or more entities are deleted from the NH360 Portfolio Insights site.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when one or more entities are deleted from the NH360 Portfolio Insights site.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EventsAddEntityDeletedHook",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteEntityDeletedEventArgs"
        }
      }
    },
    "/Events/AddStageTransitionHook": {
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddStageTransitionHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventCreationInformation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "On Process Stage Transition",
        "description": "Executed when an entity changes its workflow stage.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when an entity changes its workflow stage.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EventsAddStageTransitionHook",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteStageEventArgs"
        }
      }
    },
    "/Events/AddActualsApprovalWorkflowStartedHook": {
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddActualsApprovalWorkflowStartedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventCreationInformation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "On Actuals Approval Workflow Started",
        "description": "Executed when actuals approval workflow starts. (Not supported in NH360 Portfolio Insights 7.)",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when actuals approval workflow starts. (Not supported in NH360 Portfolio Insights 7.)",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EventsAddActualsApprovalWorkflowStartedHook",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteActualsStatusEventArgs"
        }
      }
    },
    "/Events/AddActualsPeriodStatusChangedHook": {
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddActualsPeriodStatusChangedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventCreationInformation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "On Actuals Period Status Changed",
        "description": "Executed when the status of an actuals period has been changed. Status values: Any = 0, Opened = 1, Locked = 2, Archived = 3, Waiting For Approval = 4, Open For Edit = 5, Processing = 6, Not Open = 7. (Not supported in NH360 Portfolio Insights 7.)",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when the status of an actuals period has been changed. Status values: Any = 0, Opened = 1, Locked = 2, Archived = 3, Waiting For Approval = 4, Open For Edit = 5, Processing = 6, Not Open = 7. (Not supported in NH360 Portfolio Insights 7.)",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EventsAddActualsPeriodStatusChangedHook",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteStageEventArgs"
        }
      }
    },
    "/Events/AddChangeRequestCreatedHook": {
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddChangeRequestCreatedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventCreationInformation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "On Change Request Created",
        "description": "Executed when a new change request is created.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when a new change request is created.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EventsAddChangeRequestCreatedHook",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteChangeRequestsEventArgs"
        }
      }
    },
    "/Events/AddChangeRequestUpdatedHook": {
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddChangeRequestUpdatedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventCreationInformation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "On Change Request Updated",
        "description": "Executed when a change request is updated.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when a change request is updated.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EventsAddChangeRequestUpdatedHook",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteChangeRequestsEventArgs"
        }
      }
    },
    "/Events/AddChangeRequestDeletedHook": {
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddChangeRequestDeletedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventCreationInformation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "On Change Request Deleted",
        "description": "Executed when a change request is deleted.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when a change request is deleted.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EventsAddChangeRequestDeletedHook",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteChangeRequestsEventArgs"
        }
      }
    },
    "/Events/AddChangeRequestStatusChangedHook": {
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddChangeRequestStatusChangedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventCreationInformation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "On Change Request Status Changed",
        "description": "Executed when a change request status is changed. Status values: Draft = 0, Pending = 1, Approved = 2, Rejected = 3, None = 4.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when a change request status is changed. Status values: Draft = 0, Pending = 1, Approved = 2, Rejected = 3, None = 4.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EventsAddChangeRequestStatusChangedHook",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteChangeRequestStatusEventArgs"
        }
      }
    },
    "/Events/AddResourceAssignmentAddedHook": {
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddResourceAssignmentAddedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventCreationInformation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "On Resource Assignment Created",
        "description": "Executed when one or more resources are assigned to an entity’s resource plan.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when one or more resources are assigned to an entity’s resource plan.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EventsAddResourceAssignmentAddedHook",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteAssignmentEventArgs"
        }
      }
    },
    "/Events/AddResourceAssignmentRemovedHook": {
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddResourceAssignmentRemovedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventCreationInformation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "On Resource Assignment Removed",
        "description": "Executed when one or more resource assignments are deleted from an entity's resource plan.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when one or more resource assignments are deleted from an entity's resource plan.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EventsAddResourceAssignmentRemovedHook",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteAssignmentEventArgs"
        }
      }
    },
    "/Events/AddResourceAssignmentUpdatedHook": {
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddResourceAssignmentUpdatedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventCreationInformation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "On Resource Assignment Updated",
        "description": "Executed when one or more resources are reassigned.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when one or more resources are reassigned.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EventsAddResourceAssignmentUpdatedHook",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteAssignmentEventArgs"
        }
      }
    },
    "/Events/AddMilestoneCreatedHook": {
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddMilestoneCreatedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventCreationInformation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "On Milestone Created",
        "description": "Executed when a milestone is created in the NH360 Portfolio Insights site.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when a milestone is created in the NH360 Portfolio Insights site.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EventsAddMilestoneCreatedHook",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteMilestoneEventArgs"
        }
      }
    },
    "/Events/AddMilestoneUpdatedHook": {
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddMilestoneUpdatedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventCreationInformation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "On Milestone Updated",
        "description": "Executed when a milestone is edited in the NH360 Portfolio Insights site.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when a milestone is edited in the NH360 Portfolio Insights site.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EventsAddMilestoneUpdatedHook",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteMilestoneEventArgs"
        }
      }
    },
    "/Events/AddMilestoneDeletedHook": {
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddMilestoneDeletedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventCreationInformation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "On Milestone Deleted",
        "description": "Executed when a milestone is deleted from the NH360 Portfolio Insights site.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when a milestone is deleted from the NH360 Portfolio Insights site.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EventsAddMilestoneDeletedHook",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteMilestoneEventArgs"
        }
      }
    },
    "/Events/AddRelationshipCreatedHook": {
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddRelationshipCreatedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventCreationInformation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "On Relationship Created",
        "description": "Executed each time a new relationship is created in the NH360 Portfolio Insights site.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed each time a new relationship is created in the NH360 Portfolio Insights site.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EventsAddRelationshipCreatedHook",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteRelationshipEventArgs"
        }
      }
    },
    "/Events/AddRelationshipUpdatedHook": {
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddRelationshipUpdatedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventCreationInformation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "On Relationship Updated",
        "description": "Executed each time a relationship is edited in the NH360 Portfolio Insights site.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed each time a relationship is edited in the NH360 Portfolio Insights site.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EventsAddRelationshipUpdatedHook",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteRelationshipEventArgs"
        }
      }
    },
    "/Events/AddRelationshipDeletedHook": {
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddRelationshipDeletedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventCreationInformation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "On Relationship Deleted",
        "description": "Executed each time a relationship is deleted from the NH360 Portfolio Insights site.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed each time a relationship is deleted from the NH360 Portfolio Insights site.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EventsAddRelationshipDeletedHook",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteRelationshipEventArgs"
        }
      }
    },
    "/Events/AddApprovalRequestCreatedHook": {
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddApprovalRequestCreatedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventCreationInformation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "On Lifecycle Approval Request Created",
        "description": "Executed when a new lifecycle approval request is created for an approver.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when a new lifecycle approval request is created for an approver.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EventsAddApprovalRequestCreatedHook",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteLifecycleApprovalRequestCreatedEventArgs"
        }
      }
    },
    "/Events/AddApprovalRequestChangedHook": {
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddApprovalRequestChangedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventCreationInformation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "summary": "On Lifecycle Approval Request Changed",
        "description": "Executed when a lifecycle approval request status changes.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when a lifecycle approval request status changes.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EventsAddApprovalRequestChangedHook",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteLifecycleApprovalRequestChangedEventArgs"
        }
      }
    },
    "/Events/DeleteHook": {
      "delete": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsDeleteHook",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "siteURL",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Removes an existing trigger",
        "description": "Called to remove trigger hooks",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EventsDeleteHook",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/FinancialDimensions/GetFinancialDimensions": {
      "get": {
        "tags": [
          "FinancialDimensions"
        ],
        "operationId": "FinancialDimensionsGetFinancialDimensions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your NH360 Portfolio Insights site"
          },
          {
            "name": "entityId",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "eftId",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Lists financial dimensions",
        "description": "Utility method",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "FinancialDimensionsGetFinancialDimensions",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/FinancialEntities/CreateEntity": {
      "post": {
        "tags": [
          "FinancialEntities"
        ],
        "operationId": "FinancialEntitiesCreateEntity",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your NH360 Portfolio Insights site"
          },
          {
            "name": "entityTypeUid",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "EntityTypesGetEntityTypes",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {
                "siteUrl": {
                  "parameter": "siteUrl"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "EntityTypesGetEntityTypes",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {
                "siteUrl": {
                  "parameterReference": "siteUrl"
                }
              }
            },
            "x-ms-summary": "Entity Type",
            "description": "Choose an Entity Type to create the entity."
          },
          {
            "name": "entityName",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Entity Name",
            "description": "Input a unique name for the entity."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "uuid",
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "Endpoint not found"
          }
        },
        "deprecated": true,
        "summary": "Create entity",
        "description": "Create a new entity in the NH360 Portfolio Insights site.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "FinancialEntitiesCreateEntity",
              "x-ms-require-user-confirmation": false
            }
          ]
[...]
