{
  "swagger": "2.0",
  "info": {
    "description": "Schiphol’s flight information offers a wealth of information on current and scheduled flights to and from the airport. The Flight API makes part of this information available to developers.",
    "version": "1.0",
    "title": "Schiphol Airport",
    "contact": {
      "name": "Michel Gueli",
      "url": "https://www.teqtive.nl",
      "email": "michel@teqtive.nl"
    }
  },
  "host": "api.schiphol.nl",
  "basePath": "/public-flights",
  "schemes": [ "https" ],
  "tags": [
    { "name": "flight-controller" },
    { "name": "aircraft-type-controller" },
    { "name": "destination-controller" },
    { "name": "airline-controller" }
  ],
  "paths": {
    "/flights/{id}": {
      "get": {
        "tags": [ "flight-controller" ],
        "summary": "Retrieve Flight by Id",
        "x-ms-summary": "Retrieve Flight by Id",
        "x-ms-visibility": "important",
        "operationId": "retrieveFlightUsingGET",
        "consumes": [ "application/json" ],
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "app_id",
            "in": "header",
            "description": "Your API app id",
            "required": true,
            "type": "string",
            "x-ms-summary": "App ID",
            "x-data-threescale-name": "app_ids"
          },
          {
            "name": "app_key",
            "in": "header",
            "description": "Your API app key",
            "required": true,
            "type": "string",
            "x-ms-summary": "App Key",
            "x-data-threescale-name": "app_keys"
          },
          {
            "name": "ResourceVersion",
            "in": "header",
            "description": "Resource version of the API",
            "required": true,
            "default": "v4",
            "type": "string",
            "x-ms-summary": "Resource Version"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Accept header",
            "required": true,
            "default": "application/json",
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique numeric id of flight",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]+$",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Flight" }
          }
        }
      }
    },
    "/flights": {
      "get": {
        "tags": [ "flight-controller" ],
        "summary": "Retrieve Flights",
        "x-ms-summary": "Retrieve Flights",
        "description": "Retrieves flights for a specific date. If scheduleDate is provided as query parameter, it will retrieve flights for that date. If not provided it is defaulted to today. If there are more hits then allowed on one page response headers will contain the URLs where other pages of the results can be reached.",
        "x-ms-visibility": "important",
        "operationId": "retrieveFlightsForDateOrPeriodUsingGET_1",
        "consumes": [ "application/json" ],
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "app_id",
            "in": "header",
            "description": "Your API app id",
            "required": true,
            "type": "string",
            "x-ms-summary": "App ID",
            "x-data-threescale-name": "app_ids"
          },
          {
            "name": "app_key",
            "in": "header",
            "description": "Your API app key",
            "required": true,
            "type": "string",
            "x-ms-summary": "App Key",
            "x-data-threescale-name": "app_keys"
          },
          {
            "name": "ResourceVersion",
            "in": "header",
            "description": "Resource version of the API",
            "default": "v4",
            "type": "string",
            "required": true,
            "x-ms-summary": "Resource Version"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Accept header",
            "required": true,
            "default": "application/json",
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept"
          },
          {
            "name": "scheduleDate",
            "in": "query",
            "description": "Scheduled date to get flights for. Format: yyyy-MM-dd. Defaults to today if not provided",
            "required": false,
            "type": "string",
            "x-ms-summary": "Schedule Date"
          },
          {
            "name": "scheduleTime",
            "in": "query",
            "description": "Scheduled time to get flights from. Format: HH:mm",
            "required": false,
            "type": "string",
            "x-ms-summary": "Schedule Time"
          },
          {
            "name": "flightName",
            "in": "query",
            "description": "Flight number as printed on the ticket",
            "required": false,
            "type": "string",
            "x-ms-summary": "Flight Name"
          },
          {
            "name": "flightDirection",
            "in": "query",
            "description": "Direction of the flight",
            "required": false,
            "type": "string",
            "enum": [ "A", "D" ],
            "x-ms-summary": "Flight Direction"
          },
          {
            "name": "airline",
            "in": "query",
            "description": "Prefix in flight number as printed on the ticket. For exmaple: KL. This can either be a 2-character (IATA) airline prefix or 3-character (ICAO) airline prefix. Only one airline (or airlineCode) can be queried at the same time. ",
            "required": false,
            "type": "string",
            "x-ms-summary": "Airline"
          },
          {
            "name": "airlineCode",
            "in": "query",
            "description": "NVLS code of an airliner.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Airline Code"
          },
          {
            "name": "route",
            "in": "query",
            "description": "IATA or ICAO code of airport in route; multiple values, comma separated",
            "required": false,
            "type": "string",
            "x-ms-summary": "Route"
          },
          {
            "name": "includedelays",
            "in": "query",
            "description": "Include flights of earlier an scheduleDate when these have enough delay to shift to the date that is queried upon.",
            "required": false,
            "type": "boolean",
            "default": false,
            "x-ms-summary": "Include Delays"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "x-ms-summary": "Page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies which field to use for sorting. Allowed values are flightname, scheduleDate, scheduleTime, flightDirection, mainflight, codeshare, airline, airlineCode, destination, id, estimatedLandingTime and publicEstimatedOffblockTime. Use plus or minus sign to indicate ascending or descending order. Multiple fields are allowed and should be separated by a comma. For example \"-scheduleDate, +scheduleTime\".",
            "required": false,
            "type": "string",
            "default": "+scheduleTime",
            "x-ms-summary": "Sort"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "description": "From date of search period. Format: yyyy-MM-dd'T'HH:mm:ss",
            "required": false,
            "type": "string",
            "x-ms-summary": "From DateTime"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "description": "To date of search period (inclusive). Format: yyyy-MM-dd'T'HH:mm:ss",
            "required": false,
            "type": "string",
            "x-ms-summary": "To DateTime"
          },
          {
            "name": "searchDateTimeField",
            "in": "query",
            "description": "Query by a specific DateTime field. Allowed fields are estimatedLandingTime, actualLandingTime, publicEstimatedOffBlockTime, actualOffBlockTime, expectedTimeBoarding, expectedTimeGateClosing, expectedTimeGateOpen, expectedTimeOnBelt, scheduleDateTime, lastUpdatedAt",
            "required": false,
            "type": "string",
            "x-ms-summary": "Search DateTime Field"
          },
          {
            "name": "fromScheduleDate",
            "in": "query",
            "description": "Query by ScheduleDate range.",
            "required": false,
            "type": "string",
            "x-ms-summary": "From Schedule Date"
          },
          {
            "name": "toScheduleDate",
            "in": "query",
            "description": "Query by ScheduleDate range",
            "type": "string",
            "x-ms-summary": "To Schedule Date"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/FlightList" }
          }
        }
      }
    },
    "/airlines": {
      "get": {
        "tags": [ "airline-controller" ],
        "summary": "Retrieve Airlines",
        "x-ms-summary": "Retrieve Airlines",
        "x-ms-visibility": "important",
        "description": "Retrieves a list of airlines.If there are more hits then allowed on one page response headers will contain the URLs where other pages of the results can be reached.",
        "operationId": "retrieveAllAirlinesUsingGET",
        "consumes": [ "application/json" ],
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "app_id",
            "in": "header",
            "description": "Your API app id",
            "required": true,
            "type": "string",
            "x-data-threescale-name": "app_ids",
            "x-ms-summary": "App ID"
          },
          {
            "name": "app_key",
            "in": "header",
            "description": "Your API app key",
            "required": true,
            "type": "string",
            "x-data-threescale-name": "app_keys",
            "x-ms-summary": "App Key"
          },
          {
            "name": "ResourceVersion",
            "in": "header",
            "description": "Resource version of the API",
            "default": "v4",
            "type": "string",
            "required": true,
            "x-ms-summary": "Resource Version"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Accept header",
            "required": true,
            "default": "application/json",
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept"
          },
          {
            "name": "page",
            "in": "query",
            "description": "page number",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "x-ms-summary": "Page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies which field to use for sorting. Allowed fields are publicName, iata, icao and nvls. Use plus or minus sign to indicate ascending or descending order.",
            "required": false,
            "type": "string",
            "default": "+publicName",
            "x-ms-summary": "Sort"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/AirlineList" }
          }
        }
      }
    },
    "/airlines/{airline}": {
      "get": {
        "tags": [ "airline-controller" ],
        "summary": "Retrieve Airline by IATA or ICAO",
        "x-ms-summary": "Retrieve Airline by IATA or ICAO",
        "description": "Retrieve airline based on IATA code or ICAO code.",
        "x-ms-visibility": "important",
        "operationId": "retrieveAirlineUsingGET",
        "consumes": [ "application/json" ],
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "app_id",
            "in": "header",
            "description": "Your API app id",
            "required": true,
            "type": "string",
            "x-data-threescale-name": "app_ids",
            "x-ms-summary": "App ID"
          },
          {
            "name": "app_key",
            "in": "header",
            "description": "Your API app key",
            "required": true,
            "type": "string",
            "x-data-threescale-name": "app_keys",
            "x-ms-summary": "App Key"
          },
          {
            "name": "ResourceVersion",
            "in": "header",
            "description": "Resource version of the API",
            "default": "v4",
            "type": "string",
            "required": true,
            "x-ms-summary": "Resource Version"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Accept header",
            "required": true,
            "default": "application/json",
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept"
          },
          {
            "name": "airline",
            "in": "path",
            "description": "IATA / ICAO code",
            "required": true,
            "type": "string",
            "x-ms-summary": "Airline",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Airline" }
          }
        }
      }
    },
    "/aircrafttypes": {
      "get": {
        "tags": [ "aircraft-type-controller" ],
        "summary": "Retrieve Aircraft Types",
        "x-ms-summary": "Retrieve Aircraft Types",
        "x-ms-visibility": "important",
        "description": "Retrieves list of aircrafttypes. If there are more hits then allowed on one page response headers will contain the URLs where other pages of the results can be reached.",
        "operationId": "retrieveAllAircraftTypesUsingGET",
        "consumes": [ "application/json" ],
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "app_id",
            "in": "header",
            "description": "Your API app id",
            "required": true,
            "type": "string",
            "x-data-threescale-name": "app_ids",
            "x-ms-summary": "App ID"
          },
          {
            "name": "app_key",
            "in": "header",
            "description": "Your API app key",
            "required": true,
            "type": "string",
            "x-data-threescale-name": "app_keys",
            "x-ms-summary": "App Key"
          },
          {
            "name": "ResourceVersion",
            "in": "header",
            "description": "Resource version of the API",
            "required": true,
            "default": "v4",
            "type": "string",
            "x-ms-summary": "Resource Version"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Accept header",
            "required": true,
            "default": "application/json",
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept"
          },
          {
            "name": "iataMain",
            "in": "query",
            "description": "IATA main code",
            "required": false,
            "type": "string",
            "x-ms-summary": "IATA Main Code"
          },
          {
            "name": "iataSub",
            "in": "query",
            "description": "IATA sub code",
            "required": false,
            "type": "string",
            "x-ms-summary": "IATA Sub Code"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "x-ms-summary": "Page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies which field to use for sorting. Allowed fields are iataMain, iataSub, longDescription and shortDescription. Use plus or minus sign to indicate ascending or descending order.",
            "required": false,
            "type": "string",
            "default": "+iataMain",
            "x-ms-summary": "Sort"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/AircraftTypeList" }
          }
        }
      }
    },
    "/destinations": {
      "get": {
        "tags": [ "destination-controller" ],
        "summary": "Retrieve Destinations",
        "x-ms-summary": "Retrieve Destinations",
        "x-ms-visibility": "important",
        "description": "Retrieves list of destinations. If there are more pages of the result, header will contain custom String field - Link, which will contain URLs where other pages of the results can be reached.",
        "operationId": "retrieveAllDestinationsUsingGET",
        "consumes": [ "application/json" ],
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "app_id",
            "in": "header",
            "description": "Your API app id",
            "required": true,
            "type": "string",
            "x-data-threescale-name": "app_ids",
            "x-ms-summary": "App ID"
          },
          {
            "name": "app_key",
            "in": "header",
            "description": "Your API app key",
            "required": true,
            "type": "string",
            "x-data-threescale-name": "app_keys",
            "x-ms-summary": "App Key"
          },
          {
            "name": "ResourceVersion",
            "in": "header",
            "description": "Resource version of the API",
            "required": true,
            "default": "v4",
            "type": "string",
            "x-ms-summary": "Resource Version"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Accept header",
            "required": true,
            "default": "application/json",
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "x-ms-summary": "Page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies which field to use for sorting. Allowed fields are publicName.dutch, publicName.english, iata, country and city.. Use plus or minus sign to indicate ascending or descending order.",
            "required": false,
            "type": "string",
            "default": "+publicName.dutch",
            "x-ms-summary": "Sort"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/DestinationList" }
          }
        }
      }
    },
    "/destinations/{iata}": {
      "get": {
        "tags": [ "destination-controller" ],
        "summary": "Retrieve Destination by IATA",
        "x-ms-summary": "Retrieve Destination by IATA",
        "description": "Retrieves destination based on IATA code",
        "x-ms-visibility": "important",
        "operationId": "retrieveDestinationUsingGET",
        "consumes": [ "application/json" ],
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "app_id",
            "in": "header",
            "description": "Your API app id",
            "required": true,
            "type": "string",
            "x-data-threescale-name": "app_ids",
            "x-ms-summary": "App ID"
          },
          {
            "name": "app_key",
            "in": "header",
            "description": "Your API app key",
            "required": true,
            "type": "string",
            "x-data-threescale-name": "app_keys",
            "x-ms-summary": "App Key"
          },
          {
            "name": "ResourceVersion",
            "in": "header",
            "description": "Resource version of the API",
            "required": true,
            "default": "v4",
            "type": "string",
            "x-ms-summary": "Resource Version"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Accept header",
            "required": true,
            "default": "application/json",
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept"
          },
          {
            "name": "iata",
            "in": "path",
            "description": "IATA code",
            "required": true,
            "type": "string",
            "x-ms-summary": "IATA Code",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Destination" }
          }
        }
      }
    }
  },
  "definitions": {
    "RowType": {
      "properties": {
        "position": { "type": "string" },
        "desks": { "$ref": "#/definitions/DesksType" }
      }
    },
    "BaggageClaimType": {
      "properties": {
        "belts": {
          "type": "array",
          "items": { "type": "string" }
        }
      }
    },
    "RemarksType": {
      "properties": {
        "remarks": {
          "type": "array",
          "items": { "type": "string" }
        }
      }
    },
    "CodesharesType": {
      "properties": {
        "codeshares": {
          "type": "array",
          "items": { "type": "string" }
        }
      }
    },
    "FlightList": {
      "properties": {
        "flights": {
          "type": "array",
          "items": { "$ref": "#/definitions/Flight" }
        }
      }
    },
    "CheckinAllocationType": {
      "properties": {
        "endTime": {
          "type": "string",
          "format": "date-time"
        },
        "rows": { "$ref": "#/definitions/RowsType" },
        "startTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "RowsType": {
      "properties": {
        "rows": {
          "type": "array",
          "items": { "$ref": "#/definitions/RowType" }
        }
      }
    },
    "PublicName": {
      "properties": {
        "dutch": { "type": "string" },
        "english": { "type": "string" }
      }
    },
    "DestinationList": {
      "properties": {
        "destinations": {
          "type": "array",
          "items": { "$ref": "#/definitions/Destination" }
        }
      }
    },
    "Destination": {
      "properties": {
        "city": { "type": "string" },
        "country": { "type": "string" },
        "iata": { "type": "string" },
        "publicName": { "$ref": "#/definitions/PublicName" }
      }
    },
    "Airline": {
      "properties": {
        "iata": { "type": "string" },
        "icao": { "type": "string" },
        "nvls": {
          "type": "integer",
          "format": "int64"
        },
        "publicName": { "type": "string" }
      }
    },
    "AirlineList": {
      "properties": {
        "airlines": {
          "type": "array",
          "items": { "$ref": "#/definitions/Airline" }
        }
      }
    },
    "AircraftType": {
      "properties": {
        "iataMain": { "type": "string" },
        "iataSub": { "type": "string" },
        "longDescription": { "type": "string" },
        "shortDescription": { "type": "string" }
      }
    },
    "AircraftTypeList": {
      "properties": {
        "aircraftTypes": {
          "type": "array",
          "items": { "$ref": "#/definitions/AircraftType" }
        }
      }
    },
    "Flight": {
      "properties": {
        "lastUpdatedAt": {
          "type": "string",
          "format": "date-time"
        },
        "actualLandingTime": {
          "type": "string",
          "format": "date-time",
          "description": "yyyy-MM-dd'T'HH:mm:ss.SSSZ"
        },
        "actualOffBlockTime": {
          "type": "string",
          "format": "date-time",
          "description": "yyyy-MM-dd'T'HH:mm:ss.SSSZ"
        },
        "aircraftRegistration": { "type": "string" },
        "aircraftType": { "$ref": "#/definitions/AircraftTypeType" },
        "baggageClaim": { "$ref": "#/definitions/BaggageClaimType" },
        "checkinAllocations": { "$ref": "#/definitions/CheckinAllocationsType" },
        "codeshares": { "$ref": "#/definitions/CodesharesType" },
        "estimatedLandingTime": {
          "type": "string",
          "format": "date-time",
          "description": "yyyy-MM-dd'T'HH:mm:ss.SSSZ"
        },
        "expectedTimeBoarding": {
          "type": "string",
          "format": "date-time",
          "description": "yyyy-MM-dd'T'HH:mm:ss.SSSZ"
        },
        "expectedTimeGateClosing": {
          "type": "string",
          "format": "date-time",
          "description": "yyyy-MM-dd'T'HH:mm:ss.SSSZ"
        },
        "expectedTimeGateOpen": {
          "type": "string",
          "format": "date-time",
          "description": "yyyy-MM-dd'T'HH:mm:ss.SSSZ"
        },
        "expectedTimeOnBelt": {
          "type": "string",
          "format": "date-time",
          "description": "yyyy-MM-dd'T'HH:mm:ss.SSSZ"
        },
        "expectedSecurityFilter": {
          "type": "string",
          "description": "expected security filter"
        },
        "flightDirection": {
          "type": "string",
          "enum": [ "A", "D" ]
        },
        "flightName": { "type": "string" },
        "flightNumber": {
          "type": "integer",
          "format": "int64"
        },
        "gate": { "type": "string" },
        "pier": { "type": "string" },
        "id": { "type": "string" },
        "mainFlight": { "type": "string" },
        "prefixIATA": { "type": "string" },
        "prefixICAO": { "type": "string" },
        "airlineCode": {
          "type": "integer",
          "format": "int64"
        },
        "publicEstimatedOffBlockTime": {
          "type": "string",
          "format": "date-time",
          "description": "yyyy-MM-dd'T'HH:mm:ss.SSSZ"
        },
        "publicFlightState": { "$ref": "#/definitions/PublicFlightStateType" },
        "route": { "$ref": "#/definitions/RouteType" },
        "scheduleDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "yyyy-MM-dd'T'HH:mm:ss.SSSZ"
        },
        "scheduleDate": {
          "type": "string",
          "description": "yyyy-MM-dd"
        },
        "scheduleTime": {
          "type": "string",
          "description": "hh:mm:ss"
        },
        "serviceType": {
          "type": "string",
          "description": "The service type category of the commercial flight. For example: J = Passenger Line, C=Passenger Charter, F = Freight Line and H = Freight Charter etc."
        },
        "terminal": {
          "type": "integer",
          "format": "int64"
        },
        "transferPositions": { "$ref": "#/definitions/TransferPositionsType" },
        "schemaVersion": { "type": "string" }
      }
    },
    "RouteType": {
      "properties": {
        "destinations": {
          "type": "array",
          "items": { "type": "string" }
        },
        "eu": {
          "type": "string",
          "description": "S (Schengen), E (Europe) or N (non-Europe)"
        },
        "visa": {
          "type": "boolean",
          "description": "Indicates if a visum is required for destination"
        }
      }
    },
    "DesksType": {
      "properties": {
        "desks": {
          "type": "array",
          "items": { "$ref": "#/definitions/DeskType" }
        }
      }
    },
    "AircraftTypeType": {
      "properties": {
        "iataMain": { "type": "string" },
        "iataSub": { "type": "string" }
      }
    },
    "DeskType": {
      "properties": {
        "checkinClass": { "$ref": "#/definitions/CheckinClassType" },
        "position": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "CheckinClassType": {
      "properties": {
        "code": { "type": "string" },
        "description": { "type": "string" }
      }
    },
    "TransferPositionsType": {
      "properties": {
        "transferPositions": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    },
    "PublicFlightStateType": {
      "properties": {
        "flightStates": {
          "type": "array",
          "items": { "type": "string" }
        }
      }
    },
    "CheckinAllocationsType": {
      "properties": {
        "checkinAllocations": {
          "type": "array",
          "items": { "$ref": "#/definitions/CheckinAllocationType" }
        },
        "remarks": { "$ref": "#/definitions/RemarksType" }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://https://developer.schiphol.nl/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.schiphol.nl/en/page/privacy-and-cookies/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}