{
  "swagger": "2.0",
  "info": {
    "description": "Schiphol's flight information offers a wealth of information on current and scheduled flights to and from the airport.",
    "version": "1.0",
    "title": "Schiphol Airport",
    "contact": {
      "name": "Michel Gueli",
      "url": "https://www.teqtive.nl",
      "email": "michel@teqtive.nl"
    }
  },
  "host": "api.schiphol.nl",
  "basePath": "/public-flights",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/flights/{id}": {
      "get": {
        "tags": [
          "flight-controller"
        ],
        "summary": "Retrieve Flight by Id",
        "description": "Retrieve Flight by Id",
        "x-ms-summary": "Retrieve Flight by Id",
        "x-ms-visibility": "important",
        "operationId": "RetrieveFlightUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "header",
            "description": "Your API app id",
            "required": true,
            "type": "string",
            "x-ms-summary": "App ID",
            "x-data-threescale-name": "app_ids"
          },
          {
            "name": "app_key",
            "in": "header",
            "description": "Your API app key",
            "required": true,
            "type": "string",
            "x-ms-summary": "App Key",
            "x-data-threescale-name": "app_keys"
          },
          {
            "name": "ResourceVersion",
            "in": "header",
            "description": "Resource version of the API",
            "required": true,
            "default": "v4",
            "type": "string",
            "x-ms-summary": "Resource Version"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Accept header",
            "required": true,
            "default": "application/json",
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique numeric id of flight",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]+$",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "lastUpdatedAt": {
                  "type": "string",
                  "description": "lastUpdatedAt",
                  "title": "Last Updated At"
                },
                "actualLandingTime": {
                  "type": "string",
                  "description": "actualLandingTime",
                  "title": "Actual Landing Time"
                },
                "aircraftType": {
                  "type": "object",
                  "properties": {
                    "iataMain": {
                      "type": "string",
                      "description": "iataMain",
                      "title": "IATA Main"
                    },
                    "iataSub": {
                      "type": "string",
                      "description": "iataSub",
                      "title": "IATA Sub"
                    }
                  },
                  "description": "aircraftType",
                  "title": "Aircraft Type"
                },
                "baggageClaim": {
                  "type": "object",
                  "properties": {
                    "belts": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "belts",
                      "title": "Belts"
                    }
                  },
                  "description": "baggageClaim",
                  "title": "Baggage Claim"
                },
                "estimatedLandingTime": {
                  "type": "string",
                  "description": "estimatedLandingTime",
                  "title": "Estimated Landing Time"
                },
                "expectedTimeOnBelt": {
                  "type": "string",
                  "description": "expectedTimeOnBelt",
                  "title": "Expected Time On Belt"
                },
                "flightDirection": {
                  "type": "string",
                  "description": "flightDirection",
                  "title": "Flight Direction"
                },
                "flightName": {
                  "type": "string",
                  "description": "flightName",
                  "title": "Flight Name"
                },
                "flightNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "flightNumber",
                  "title": "Flight Number"
                },
                "id": {
                  "type": "string",
                  "description": "id",
                  "title": "Id"
                },
                "isOperationalFlight": {
                  "type": "boolean",
                  "description": "isOperationalFlight",
                  "title": "Is Operational Flight",
                  "enum": [
                    true,
                    false
                  ]
                },
                "mainFlight": {
                  "type": "string",
                  "description": "mainFlight",
                  "title": "Main Flight"
                },
                "prefixIATA": {
                  "type": "string",
                  "description": "prefixIATA",
                  "title": "Prefix IATA"
                },
                "prefixICAO": {
                  "type": "string",
                  "description": "prefixICAO",
                  "title": "Prefix ICAO"
                },
                "airlineCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "airlineCode",
                  "title": "Airline Code"
                },
                "publicFlightState": {
                  "type": "object",
                  "properties": {
                    "flightStates": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "flightStates",
                      "title": "Flight States"
                    }
                  },
                  "description": "publicFlightState",
                  "title": "Public Flight State"
                },
                "route": {
                  "type": "object",
                  "properties": {
                    "destinations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "destinations",
                      "title": "Destinations"
                    },
                    "eu": {
                      "type": "string",
                      "description": "eu",
                      "title": "EU"
                    },
                    "visa": {
                      "type": "boolean",
                      "description": "visa",
                      "title": "Visa",
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  "description": "route",
                  "title": "Route"
                },
                "scheduleDateTime": {
                  "type": "string",
                  "description": "scheduleDateTime",
                  "title": "Schedule Date Time"
                },
                "scheduleDate": {
                  "type": "string",
                  "description": "scheduleDate",
                  "title": "Schedule Date"
                },
                "scheduleTime": {
                  "type": "string",
                  "description": "scheduleTime",
                  "title": "Schedule Time"
                },
                "serviceType": {
                  "type": "string",
                  "description": "serviceType",
                  "title": "Service Type"
                },
                "terminal": {
                  "type": "integer",
                  "format": "int32",
                  "description": "terminal",
                  "title": "Terminal"
                },
                "schemaVersion": {
                  "type": "string",
                  "description": "schemaVersion",
                  "title": "Schema Version"
                }
              }
            }
          }
        }
      }
    },
    "/flights": {
      "get": {
        "tags": [
          "flight-controller"
        ],
        "summary": "Retrieve Flights",
        "x-ms-summary": "Retrieve Flights",
        "description": "Retrieves flights for a specific date. If scheduleDate is provided as query parameter, it will retrieve flights for that date. If not provided it is defaulted to today.",
        "x-ms-visibility": "important",
        "operationId": "RetrieveFlightsForDateOrPeriodUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "header",
            "description": "Your API app id",
            "required": true,
            "type": "string",
            "x-ms-summary": "App ID",
            "x-data-threescale-name": "app_ids"
          },
          {
            "name": "app_key",
            "in": "header",
            "description": "Your API app key",
            "required": true,
            "type": "string",
            "x-ms-summary": "App Key",
            "x-data-threescale-name": "app_keys"
          },
          {
            "name": "ResourceVersion",
            "in": "header",
            "description": "Resource version of the API",
            "default": "v4",
            "type": "string",
            "required": true,
            "x-ms-summary": "Resource Version"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Accept header",
            "required": true,
            "default": "application/json",
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept"
          },
          {
            "name": "scheduleDate",
            "in": "query",
            "description": "Scheduled date to get flights for. Format: yyyy-MM-dd. Defaults to today if not provided.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Schedule Date"
          },
          {
            "name": "scheduleTime",
            "in": "query",
            "description": "Scheduled time to get flights from. Format: HH:mm.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Schedule Time"
          },
          {
            "name": "flightName",
            "in": "query",
            "description": "Flight number as printed on the ticket.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Flight Name"
          },
          {
            "name": "flightDirection",
            "in": "query",
            "description": "Direction of the flight.",
            "required": false,
            "type": "string",
            "enum": [
              "A",
              "D"
            ],
            "x-ms-summary": "Flight Direction"
          },
          {
            "name": "airline",
            "in": "query",
            "description": "Prefix in flight number as printed on the ticket. For example: KL. This can either be a 2-character (IATA) airline prefix or 3-character (ICAO) airline prefix. Only one airline (or airlineCode) can be queried at the same time.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Airline"
          },
          {
            "name": "airlineCode",
            "in": "query",
            "description": "NVLS code of an airliner.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Airline Code"
          },
          {
            "name": "route",
            "in": "query",
            "description": "IATA or ICAO code of airport in route; multiple values, comma separated.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Route"
          },
          {
            "name": "includedelays",
            "in": "query",
            "description": "Include flights of earlier an scheduleDate when these have enough delay to shift to the date that is queried upon.",
            "required": false,
            "type": "boolean",
            "default": false,
            "x-ms-summary": "Include Delays"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "x-ms-summary": "Page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies which field to use for sorting. Allowed values are flightname, scheduleDate, scheduleTime, flightDirection, mainflight, codeshare, airline, airlineCode, destination, id, estimatedLandingTime and publicEstimatedOffblockTime. Use plus or minus sign to indicate ascending or descending order. Multiple fields are allowed and should be separated by a comma. For example \"-scheduleDate, +scheduleTime\".",
            "required": false,
            "type": "string",
            "default": "+scheduleTime",
            "x-ms-summary": "Sort"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "description": "From date of search period. Format: yyyy-MM-dd'T'HH:mm:ss.",
            "required": false,
            "type": "string",
            "x-ms-summary": "From DateTime"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "description": "To date of search period (inclusive). Format: yyyy-MM-dd'T'HH:mm:ss.",
            "required": false,
            "type": "string",
            "x-ms-summary": "To DateTime"
          },
          {
            "name": "searchDateTimeField",
            "in": "query",
            "description": "Query by a specific DateTime field. Allowed fields are estimatedLandingTime, actualLandingTime, publicEstimatedOffBlockTime, actualOffBlockTime, expectedTimeBoarding, expectedTimeGateClosing, expectedTimeGateOpen, expectedTimeOnBelt, scheduleDateTime, lastUpdatedAt.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Search DateTime Field"
          },
          {
            "name": "fromScheduleDate",
            "in": "query",
            "description": "Query by ScheduleDate range.",
            "required": false,
            "type": "string",
            "x-ms-summary": "From Schedule Date"
          },
          {
            "name": "toScheduleDate",
            "in": "query",
            "description": "Query by ScheduleDate range",
            "type": "string",
            "x-ms-summary": "To Schedule Date"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "statusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "statusCode",
                  "title": "Status Code"
                },
                "headers": {
                  "type": "object",
                  "properties": {
                    "Transfer-Encoding": {
                      "type": "string",
                      "description": "Transfer-Encoding"
                    },
                    "link": {
                      "type": "string",
                      "description": "link",
                      "title": "Link"
                    },
                    "x-ms-apihub-cached-response": {
                      "type": "string",
                      "description": "x-ms-apihub-cached-response"
                    },
                    "x-ms-apihub-obo": {
                      "type": "string",
                      "description": "x-ms-apihub-obo"
                    },
                    "Cache-Control": {
                      "type": "string",
                      "description": "Cache-Control"
                    },
                    "Date": {
                      "type": "string",
                      "description": "Date"
                    },
                    "Set-Cookie": {
                      "type": "string",
                      "description": "Set-Cookie"
                    },
                    "Content-Type": {
                      "type": "string",
                      "description": "Content-Type"
                    },
                    "Content-Length": {
                      "type": "string",
                      "description": "Content-Length"
                    }
                  },
                  "description": "headers"
                },
                "body": {
                  "type": "object",
                  "properties": {
                    "flights": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "lastUpdatedAt": {
                            "type": "string",
                            "description": "lastUpdatedAt",
                            "title": "Last Updated At"
                          },
                          "actualLandingTime": {
                            "type": "string",
                            "description": "actualLandingTime",
                            "title": "Actual Landing Time"
                          },
                          "aircraftType": {
                            "type": "object",
                            "properties": {
                              "iataMain": {
                                "type": "string",
                                "description": "iataMain",
                                "title": "IATA Main"
                              },
                              "iataSub": {
                                "type": "string",
                                "description": "iataSub",
                                "title": "IATA Sub"
                              }
                            },
                            "description": "aircraftType",
                            "title": "Aircraft Type"
                          },
                          "baggageClaim": {
                            "type": "object",
                            "properties": {
                              "belts": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "belts",
                                "title": "Belts"
                              }
                            },
                            "description": "baggageClaim",
                            "title": "Baggage Claim"
                          },
                          "codeshares": {
                            "type": "object",
                            "properties": {
                              "codeshares": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "codeshares",
                                "title": "Codeshares String"
                              }
                            },
                            "description": "codeshares",
                            "title": "Codeshares Object"
                          },
                          "estimatedLandingTime": {
                            "type": "string",
                            "description": "estimatedLandingTime",
                            "title": "Estimated Landing Time"
                          },
                          "expectedTimeOnBelt": {
                            "type": "string",
                            "description": "expectedTimeOnBelt",
                            "title": "Expected Time On Belt"
                          },
                          "flightDirection": {
                            "type": "string",
                            "description": "flightDirection",
                            "title": "Flight Direction"
                          },
                          "flightName": {
                            "type": "string",
                            "description": "flightName",
                            "title": "Flight Name"
                          },
                          "flightNumber": {
                            "type": "integer",
                            "format": "int32",
                            "description": "flightNumber",
                            "title": "Flight Number"
                          },
                          "id": {
                            "type": "string",
                            "description": "id",
                            "title": "Id"
                          },
                          "isOperationalFlight": {
                            "type": "boolean",
                            "description": "isOperationalFlight",
                            "title": "Is Operational Flight",
                            "enum": [
                              true,
                              false
                            ]
                          },
                          "mainFlight": {
                            "type": "string",
                            "description": "mainFlight",
                            "title": "Main Flight"
                          },
                          "prefixIATA": {
                            "type": "string",
                            "description": "prefixIATA",
                            "title": "Prefix IATA"
                          },
                          "prefixICAO": {
                            "type": "string",
                            "description": "prefixICAO",
                            "title": "Prefix ICAO"
                          },
                          "airlineCode": {
                            "type": "integer",
                            "format": "int32",
                            "description": "airlineCode",
                            "title": "Airline Code"
                          },
                          "publicFlightState": {
                            "type": "object",
                            "properties": {
                              "flightStates": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "flightStates",
                                "title": "Flight States"
                              }
                            },
                            "description": "publicFlightState",
                            "title": "Public Flight State"
                          },
                          "route": {
                            "type": "object",
                            "properties": {
                              "destinations": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "destinations",
                                "title": "Destinations"
                              },
                              "eu": {
                                "type": "string",
                                "description": "eu",
                                "title": "EU"
                              },
                              "visa": {
                                "type": "boolean",
                                "description": "visa",
                                "title": "Visa",
                                "enum": [
                                  true,
                                  false
                                ]
                              }
                            },
                            "description": "route",
                            "title": "Route"
                          },
                          "scheduleDateTime": {
                            "type": "string",
                            "description": "scheduleDateTime",
                            "title": "Schedule Date Time"
                          },
                          "scheduleDate": {
                            "type": "string",
                            "description": "scheduleDate",
                            "title": "Schedule Date"
                          },
                          "scheduleTime": {
                            "type": "string",
                            "description": "scheduleTime",
                            "title": "Schedule Time"
                          },
                          "serviceType": {
                            "type": "string",
                            "description": "serviceType",
                            "title": "Service Type"
                          },
                          "terminal": {
                            "type": "integer",
                            "format": "int32",
                            "description": "terminal",
                            "title": "Terminal"
                          },
                          "schemaVersion": {
                            "type": "string",
                            "description": "schemaVersion",
                            "title": "Schema Version"
                          },
                          "actualOffBlockTime": {
                            "type": "string",
                            "description": "actualOffBlockTime",
                            "title": "Actual Off Block Time"
                          },
                          "aircraftRegistration": {
                            "type": "string",
                            "description": "aircraftRegistration",
                            "title": "Aircraft Registration"
                          },
                          "publicEstimatedOffBlockTime": {
                            "type": "string",
                            "description": "publicEstimatedOffBlockTime",
                            "title": "Public Estimated Off Block Time"
                          }
                        }
                      },
                      "description": "flights",
                      "title": "Flights"
                    }
                  },
                  "description": "body",
                  "title": "Body"
                }
              }
            }
          }
        }
      }
    },
    "/airlines": {
      "get": {
        "tags": [
          "airline-controller"
        ],
        "summary": "Retrieve Airlines",
        "x-ms-summary": "Retrieve Airlines",
        "x-ms-visibility": "important",
        "description": "Retrieves a list of airlines.If there are more hits then allowed on one page response headers will contain the URLs where other pages of the results can be reached.",
        "operationId": "RetrieveAllAirlinesUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "header",
            "description": "Your API app id",
            "required": true,
            "type": "string",
            "x-data-threescale-name": "app_ids",
            "x-ms-summary": "App ID"
          },
          {
            "name": "app_key",
            "in": "header",
            "description": "Your API app key",
            "required": true,
            "type": "string",
            "x-data-threescale-name": "app_keys",
            "x-ms-summary": "App Key"
          },
          {
            "name": "ResourceVersion",
            "in": "header",
            "description": "Resource version of the API",
            "default": "v4",
            "type": "string",
            "required": true,
            "x-ms-summary": "Resource Version"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Accept header",
            "required": true,
            "default": "application/json",
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept"
          },
          {
            "name": "page",
            "in": "query",
            "description": "page number",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "x-ms-summary": "Page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies which field to use for sorting. Allowed fields are publicName, iata, icao and nvls. Use plus or minus sign to indicate ascending or descending order.",
            "required": false,
            "type": "string",
            "default": "+publicName",
            "x-ms-summary": "Sort"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "airlines": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "nvls": {
                        "type": "integer",
                        "format": "int32",
                        "description": "nvls",
                        "title": "NVLS"
                      },
                      "publicName": {
                        "type": "string",
                        "description": "publicName",
                        "title": "Public Name"
                      },
                      "icao": {
                        "type": "string",
                        "description": "icao",
                        "title": "ICAO"
                      },
                      "iata": {
                        "type": "string",
                        "description": "iata",
                        "title": "IATA"
                      }
                    }
                  },
                  "description": "airlines",
                  "title": "Airlines"
                }
              }
            }
          }
        }
      }
    },
    "/airlines/{airline}": {
      "get": {
        "tags": [
          "airline-controller"
        ],
        "summary": "Retrieve Airline by IATA or ICAO",
        "x-ms-summary": "Retrieve Airline by IATA or ICAO",
        "description": "Retrieve airline based on IATA code or ICAO code.",
        "x-ms-visibility": "important",
        "operationId": "RetrieveAirlineUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "header",
            "description": "Your API app id",
            "required": true,
            "type": "string",
            "x-data-threescale-name": "app_ids",
            "x-ms-summary": "App ID"
          },
          {
            "name": "app_key",
            "in": "header",
            "description": "Your API app key",
            "required": true,
            "type": "string",
            "x-data-threescale-name": "app_keys",
            "x-ms-summary": "App Key"
          },
          {
            "name": "ResourceVersion",
            "in": "header",
            "description": "Resource version of the API",
            "default": "v4",
            "type": "string",
            "required": true,
            "x-ms-summary": "Resource Version"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Accept header",
            "required": true,
            "default": "application/json",
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept"
          },
          {
            "name": "airline",
            "in": "path",
            "description": "IATA / ICAO code",
            "required": true,
            "type": "string",
            "x-ms-summary": "Airline",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "iata": {
                  "type": "string",
                  "description": "iata",
                  "title": "IATA"
                },
                "icao": {
                  "type": "string",
                  "description": "icao",
                  "title": "ICAO"
                },
                "nvls": {
                  "type": "integer",
                  "format": "int32",
                  "description": "nvls",
                  "title": "NVLS"
                },
                "publicName": {
                  "type": "string",
                  "description": "publicName",
                  "title": "Public Name"
                }
              }
            }
          }
        }
      }
    },
    "/aircrafttypes": {
      "get": {
        "tags": [
          "aircraft-type-controller"
        ],
        "summary": "Retrieve Aircraft Types",
        "x-ms-summary": "Retrieve Aircraft Types",
        "x-ms-visibility": "important",
        "description": "Retrieves list of aircraft types. If there are more hits then allowed on one page response headers will contain the URLs where other pages of the results can be reached.",
        "operationId": "RetrieveAllAircraftTypesUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "header",
            "description": "Your API app id",
            "required": true,
            "type": "string",
            "x-data-threescale-name": "app_ids",
            "x-ms-summary": "App ID"
          },
          {
            "name": "app_key",
            "in": "header",
            "description": "Your API app key",
            "required": true,
            "type": "string",
            "x-data-threescale-name": "app_keys",
            "x-ms-summary": "App Key"
          },
          {
            "name": "ResourceVersion",
            "in": "header",
            "description": "Resource version of the API",
            "required": true,
            "default": "v4",
            "type": "string",
            "x-ms-summary": "Resource Version"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Accept header",
            "required": true,
            "default": "application/json",
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept"
          },
          {
            "name": "iataMain",
            "in": "query",
            "description": "IATA main code",
            "required": false,
            "type": "string",
            "x-ms-summary": "IATA Main Code"
          },
          {
            "name": "iataSub",
            "in": "query",
            "description": "IATA sub code",
            "required": false,
            "type": "string",
            "x-ms-summary": "IATA Sub Code"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "x-ms-summary": "Page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies which field to use for sorting. Allowed fields are iataMain, iataSub, longDescription and shortDescription. Use plus or minus sign to indicate ascending or descending order.",
            "required": false,
            "type": "string",
            "default": "+iataMain",
            "x-ms-summary": "Sort"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "aircraftTypes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "iataMain": {
                        "type": "string",
                        "description": "iataMain",
                        "title": "IATA Main"
                      },
                      "iataSub": {
                        "type": "string",
                        "description": "iataSub",
                        "title": "IATA Sub"
                      },
                      "longDescription": {
                        "type": "string",
                        "description": "longDescription",
                        "title": "Long Description"
                      },
                      "shortDescription": {
                        "type": "string",
                        "description": "shortDescription",
                        "title": "Short Description"
                      }
                    }
                  },
                  "description": "aircraftTypes",
                  "title": "Aircraft Types"
                }
              }
            }
          }
        }
      }
    },
    "/destinations": {
      "get": {
        "tags": [
          "destination-controller"
        ],
        "summary": "Retrieve Destinations",
        "x-ms-summary": "Retrieve Destinations",
        "x-ms-visibility": "important",
        "description": "Retrieves list of destinations. If there are more pages of the result, header will contain custom String field - Link, which will contain URLs where other pages of the results can be reached.",
        "operationId": "RetrieveAllDestinationsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "header",
            "description": "Your API app id",
            "required": true,
            "type": "string",
            "x-data-threescale-name": "app_ids",
            "x-ms-summary": "App ID"
          },
          {
            "name": "app_key",
            "in": "header",
            "description": "Your API app key",
            "required": true,
            "type": "string",
            "x-data-threescale-name": "app_keys",
            "x-ms-summary": "App Key"
          },
          {
            "name": "ResourceVersion",
            "in": "header",
            "description": "Resource version of the API",
            "required": true,
            "default": "v4",
            "type": "string",
            "x-ms-summary": "Resource Version"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Accept header",
            "required": true,
            "default": "application/json",
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "x-ms-summary": "Page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies which field to use for sorting. Allowed fields are publicName.dutch, publicName.english, iata, country and city.. Use plus or minus sign to indicate ascending or descending order.",
            "required": false,
            "type": "string",
            "default": "+publicName.dutch",
            "x-ms-summary": "Sort"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "destinations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "city": {
                        "type": "string",
                        "description": "city",
                        "title": "City"
                      },
                      "country": {
                        "type": "string",
                        "description": "country",
                        "title": "Country"
                      },
                      "iata": {
                        "type": "string",
                        "description": "iata",
                        "title": "IATA"
                      },
                      "publicName": {
                        "type": "object",
                        "properties": {
                          "dutch": {
                            "type": "string",
                            "description": "dutch",
                            "title": "Dutch"
                          },
                          "english": {
                            "type": "string",
                            "description": "english",
                            "title": "English"
                          }
                        },
                        "description": "publicName",
                        "title": "Public Name"
                      }
                    }
                  },
                  "description": "destinations",
                  "title": "Destinations"
                }
              }
            }
          }
        }
      }
    },
    "/destinations/{iata}": {
      "get": {
        "tags": [
          "destination-controller"
        ],
        "summary": "Retrieve Destination by IATA",
        "x-ms-summary": "Retrieve Destination by IATA",
        "description": "Retrieves destination based on IATA code",
        "x-ms-visibility": "important",
        "operationId": "RetrieveDestinationUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "header",
            "description": "Your API app id",
            "required": true,
            "type": "string",
            "x-data-threescale-name": "app_ids",
            "x-ms-summary": "App ID"
          },
          {
            "name": "app_key",
            "in": "header",
            "description": "Your API app key",
            "required": true,
            "type": "string",
            "x-data-threescale-name": "app_keys",
            "x-ms-summary": "App Key"
          },
          {
            "name": "ResourceVersion",
            "in": "header",
            "description": "Resource version of the API",
            "required": true,
            "default": "v4",
            "type": "string",
            "x-ms-summary": "Resource Version"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Accept header",
            "required": true,
            "default": "application/json",
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept"
          },
          {
            "name": "iata",
            "in": "path",
            "description": "IATA code",
            "required": true,
            "type": "string",
            "x-ms-summary": "IATA Code",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "country": {
                  "type": "string",
                  "description": "country",
                  "title": "Country"
                },
                "iata": {
                  "type": "string",
                  "description": "iata",
                  "title": "IATA"
                },
                "publicName": {
                  "type": "object",
                  "properties": {
                    "dutch": {
                      "type": "string",
                      "description": "dutch",
                      "title": "Dutch"
                    },
                    "english": {
                      "type": "string",
                      "description": "english",
                      "title": "English"
                    }
                  },
                  "description": "publicName",
                  "title": "Public Name"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "RowType": {
      "properties": {
        "Position": {
          "type": "string",
          "x-ms-summary": "Position"
        },
        "desks": {
          "$ref": "#/definitions/DesksType"
        }
      }
    },
    "BaggageClaimType": {
      "properties": {
        "belts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Belts"
        }
      }
    },
    "RemarksType": {
      "properties": {
        "remarks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Remarks"
        }
      }
    },
    "CodesharesType": {
      "properties": {
        "codeshares": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Code Shares"
        }
      }
    },
    "FlightList": {
      "properties": {
        "flights": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Flight"
          },
          "x-ms-summary": "Flights"
        }
      }
    },
    "CheckinAllocationType": {
      "properties": {
        "endTime": {
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "End Time"
        },
        "rows": {
          "$ref": "#/definitions/RowsType"
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Start Time"
        }
      }
    },
    "RowsType": {
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RowType"
          },
          "x-ms-summary": "Rows"
        }
      }
    },
    "PublicName": {
      "properties": {
        "dutch": {
          "type": "string",
          "x-ms-summary": "Dutch"
        },
        "english": {
          "type": "string",
          "x-ms-summary": "English"
        }
      }
    },
    "DestinationList": {
      "properties": {
        "destinations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Destination"
          },
          "x-ms-summary": "Destinations"
        }
      }
    },
    "Destination": {
      "properties": {
        "city": {
          "type": "string",
          "x-ms-summary": "City"
        },
        "country": {
          "type": "string",
          "x-ms-summary": "Country"
        },
        "iata": {
          "type": "string",
          "x-ms-summary": "IATA"
        },
        "publicName": {
          "$ref": "#/definitions/PublicName"
        }
      }
    },
    "Airline": {
      "properties": {
        "iata": {
          "type": "string",
          "x-ms-summary": "IATA"
        },
        "icao": {
          "type": "string",
          "x-ms-summary": "ICAO"
        },
        "nvls": {
          "type": "integer",
          "format": "int64",
          "x-ms-summary": "NVLS"
        },
        "publicName": {
          "type": "string",
          "x-ms-summary": "Public Name"
        }
      }
    },
    "AirlineList": {
      "properties": {
        "airlines": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Airline"
          },
          "x-ms-summary": "Airlines"
        }
      }
    },
    "AircraftType": {
      "properties": {
        "iataMain": {
          "type": "string",
          "x-ms-summary": "IATA Main"
        },
        "iataSub": {
          "type": "string",
          "x-ms-summary": "IATA Sub"
        },
        "longDescription": {
          "type": "string",
          "x-ms-summary": "Long Description"
        },
        "shortDescription": {
          "type": "string",
          "x-ms-summary": "Short Description"
        }
      }
    },
    "AircraftTypeList": {
      "properties": {
        "aircraftTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AircraftType"
          },
          "x-ms-summary": "Aircraft Types"
        }
      }
    },
    "Flight": {
      "properties": {
        "lastUpdatedAt": {
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Last Updated At"
        },
        "actualLandingTime": {
          "type": "string",
          "format": "date-time",
          "description": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
          "x-ms-summary": "Actual Landing Time"
        },
        "actualOffBlockTime": {
          "type": "string",
          "format": "date-time",
          "description": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
          "x-ms-summary": "Actual Off Block Time"
        },
        "aircraftRegistration": {
          "type": "string",
          "x-ms-summary": "Aircraft Registration"
        },
        "aircraftType": {
          "$ref": "#/definitions/AircraftTypeType"
        },
        "baggageClaim": {
          "$ref": "#/definitions/BaggageClaimType"
        },
        "checkinAllocations": {
          "$ref": "#/definitions/CheckinAllocationsType"
        },
        "codeshares": {
          "$ref": "#/definitions/CodesharesType"
        },
        "estimatedLandingTime": {
          "type": "string",
          "format": "date-time",
          "description": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
          "x-ms-summary": "Estimated Landing Time"
        },
        "expectedTimeBoarding": {
          "type": "string",
          "format": "date-time",
          "description": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
          "x-ms-summary": "Expected Time Boarding"
        },
        "expectedTimeGateClosing": {
          "type": "string",
          "format": "date-time",
          "description": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
          "x-ms-summary": "Expected Time Gate Closing"
        },
        "expectedTimeGateOpen": {
          "type": "string",
          "format": "date-time",
          "description": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
          "x-ms-summary": "Expected Time Gate open"
        },
        "expectedTimeOnBelt": {
          "type": "string",
          "format": "date-time",
          "description": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
          "x-ms-summary": "Expected Time On Belt"
        },
        "expectedSecurityFilter": {
          "type": "string",
          "description": "expected security filter",
          "x-ms-summary": "Expected Security Filter"
        },
        "flightDirection": {
          "type": "string",
          "enum": [
            "A",
            "D"
          ],
          "x-ms-summary": "Flight Direction"
        },
        "flightName": {
          "type": "string",
          "x-ms-summary": "Flight Name"
        },
        "flightNumber": {
          "type": "integer",
          "format": "int64",
          "x-ms-summary": "Flight Number"
        },
        "gate": {
          "type": "string",
          "x-ms-summary": "Gate"
        },
        "pier": {
          "type": "string",
          "x-ms-summary": "Pier"
        },
        "id": {
          "type": "string",
          "x-ms-summary": "Id"
        },
        "mainFlight": {
          "type": "string",
          "x-ms-summary": "Main Flight"
        },
        "prefixIATA": {
          "type": "string",
          "x-ms-summary": "Prefix IATA"
        },
        "prefixICAO": {
          "type": "string",
          "x-ms-summary": "Prefix ICAO"
        },
        "airlineCode": {
          "type": "integer",
          "format": "int64",
          "x-ms-summary": "Airline Code"
        },
        "publicEstimatedOffBlockTime": {
          "type": "string",
          "format": "date-time",
          "description": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
          "x-ms-summary": "Public Estimated Off Block Time"
        },
        "publicFlightState": {
          "$ref": "#/definitions/PublicFlightStateType"
        },
        "route": {
          "$ref": "#/definitions/RouteType"
        },
        "scheduleDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "yyyy-MM-dd'T'HH:mm:ss.SSSZ",
          "x-ms-summary": "Schedule Date Time"
        },
        "scheduleDate": {
          "type": "string",
          "description": "yyyy-MM-dd",
          "x-ms-summary": "Schedule Date"
        },
        "scheduleTime": {
          "type": "string",
          "description": "hh:mm:ss",
          "x-ms-summary": "Schedule Time"
        },
        "serviceType": {
          "type": "string",
          "description": "The service type category of the commercial flight. For example: J = Passenger Line, C=Passenger Charter, F = Freight Line and H = Freight Charter etc.",
          "x-ms-summary": "Service Type"
        },
        "terminal": {
          "type": "integer",
          "format": "int64",
          "x-ms-summary": "Terminal"
        },
        "transferPositions": {
          "$ref": "#/definitions/TransferPositionsType"
        },
        "schemaVersion": {
          "type": "string"
        }
      }
    },
    "RouteType": {
      "properties": {
        "destinations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Destinations"
        },
        "eu": {
          "type": "string",
          "description": "S (Schengen), E (Europe) or N (non-Europe)",
          "x-ms-summary": "EU"
        },
        "visa": {
          "type": "boolean",
          "description": "Indicates if a visum is required for destination",
          "x-ms-summary": "Visa"
        }
      }
    },
    "DesksType": {
      "properties": {
        "desks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeskType"
          },
          "x-ms-summary": "Desks"
        }
      }
    },
    "AircraftTypeType": {
      "properties": {
        "iataMain": {
          "type": "string",
          "x-ms-summary": "IATA Main"
        },
        "iataSub": {
          "type": "string",
          "x-ms-summary": "IATA Sub"
        }
      }
    },
    "DeskType": {
      "properties": {
        "checkinClass": {
          "$ref": "#/definitions/CheckinClassType"
        },
        "position": {
          "type": "integer",
          "format": "int64",
          "x-ms-summary": "Position"
        }
      }
    },
    "CheckinClassType": {
      "properties": {
        "code": {
          "type": "string",
          "x-ms-summary": "Code"
        },
        "description": {
          "type": "string",
          "x-ms-summary": "Description"
        }
      }
    },
    "TransferPositionsType": {
      "properties": {
        "transferPositions": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "Transfer Positions"
          }
        }
      }
    },
    "PublicFlightStateType": {
      "properties": {
        "flightStates": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Flight States"
        }
      }
    },
    "CheckinAllocationsType": {
      "properties": {
        "checkinAllocations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CheckinAllocationType"
          }
        },
        "remarks": {
          "$ref": "#/definitions/RemarksType"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [
    {
      "name": "flight-controller"
    },
    {
      "name": "aircraft-type-controller"
    },
    {
      "name": "destination-controller"
    },
    {
      "name": "airline-controller"
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://https://developer.schiphol.nl/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.schiphol.nl/en/page/privacy-and-cookies/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}