{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "iAuditor",
    "description": "iAuditor is the world's most popular inspection checklist app. SafetyCulture is iAuditor's cloud based backup and management system. Manage all your inspection teams and analyse data collected from the field. iAuditor and SafetyCulture give you real-time visibility across your entire operation.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "iAuditor Support",
      "url": "https://www.safetyculture.com/contact-us",
      "email": "support@safetyculture.com"
    }
  },
  "x-ms-connector-metadata": [
      {
        "propertyName": "Website",
        "propertyValue": "https://safetyculture.com/"
      },
      {
        "propertyName": "Privacy policy",
        "propertyValue": "https://safetyculture.com/legal/privacy-policy/"
      },
      {
        "propertyName": "Categories",
        "propertyValue": "Data;Productivity"
      }
    ],
  "host": "api.safetyculture.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/audits/search": {
      "get": {
        "tags": [
          "audits"
        ],
        "summary": "Search modified inspections",
        "description": "Retrieve the list of inspections filtered by dates, template, completion status and more.",
        "operationId": "SearchAudits",
        "parameters": [
          {
            "$ref": "#/parameters/sort_order__in_query"
          },
          {
            "$ref": "#/parameters/modified_after__in_query"
          },
          {
            "$ref": "#/parameters/modified_before__in_query"
          },
          {
            "$ref": "#/parameters/template__in_query"
          },
          {
            "$ref": "#/parameters/archived__in_query"
          },
          {
            "$ref": "#/parameters/completed__in_query"
          },
          {
            "$ref": "#/parameters/owner__in_query"
          },
          {
            "$ref": "#/parameters/limit__in_query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of audit IDs matching search",
            "schema": {
              "$ref": "#/definitions/AuditSearchResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced"
      }
    },
    "/audits/{auditId}": {
      "get": {
        "tags": [
          "audits"
        ],
        "summary": "Get a specific inspection",
        "description": "Retrieve the full data of an inspection.",
        "operationId": "GetAuditById",
        "parameters": [
          {
            "$ref": "#/parameters/auditId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the data of the specified inspection.",
            "schema": {
              "$ref": "#/definitions/GetAuditByIdResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced"
      },
      "put": {
        "tags": [
          "audits"
        ],
        "summary": "Set the archived state of an inspection",
        "description": "Choose 'Yes' to archive the inspection and 'No' to restore the archived inspection.",
        "operationId": "ArchiveRestoreAudit",
        "parameters": [
          {
            "$ref": "#/parameters/auditId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "archived": {
                  "type": "boolean",
                  "description": "Yes/No",
                  "x-ms-summary": "Archived"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully archived or restored the inspection.",
            "schema": {
              "$ref": "#/definitions/GetAuditByIdResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced"
      }
    },
    "/audits/{auditId}/deep_link": {
      "post": {
        "tags": [
          "audits"
        ],
        "summary": "Generate a link to an inspection",
        "description": "Generate a link to a specific inspection that opens in iAuditor/SafetyCulture.",
        "operationId": "CreateAuditLink",
        "parameters": [
          {
            "$ref": "#/parameters/auditId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "The inspection link was generated successfully",
            "schema": {
              "$ref": "#/definitions/GetAuditLinkResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true
      }
    },
    "/audits/{auditId}/export": {
      "post": {
        "tags": [
          "audits"
        ],
        "summary": "Export an audit report (legacy)",
        "description": "Submit an export request for an audit into the format passed as a query parameter.",
        "operationId": "InitiateAuditExport",
        "parameters": [
          {
            "$ref": "#/parameters/auditId__in_path"
          },
          {
            "$ref": "#/parameters/export_format__in_query"
          },
          {
            "$ref": "#/parameters/timezone__in_query"
          },
          {
            "$ref": "#/parameters/export_profile__in_query"
          }
        ],
        "responses": {
          "200": {
            "description": "The export task was requested successfully.",
            "schema": {
              "$ref": "#/definitions/InitExportResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true
      }
    },
    "/audits/{auditId}/exports/{exportId}": {
      "get": {
        "tags": [
          "audits"
        ],
        "summary": "Check the status of the export request submitted earlier (legacy)",
        "description": "Check whether the download report submitted earlier is ready for download.",
        "operationId": "PollExportStatus",
        "parameters": [
          {
            "$ref": "#/parameters/auditId__in_path"
          },
          {
            "$ref": "#/parameters/exportId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "Export status was successfully polled.",
            "schema": {
              "$ref": "#/definitions/ExportStatusResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true
      }
    },
    "/audits/{auditId}/exports/{exportId}/{filename}": {
      "get": {
        "tags": [
          "audits"
        ],
        "summary": "Download an audit report (legacy)",
        "description": "Download the audit report submitted earlier.",
        "operationId": "GetAuditExport",
        "produces": [
          "application/pdf",
          "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/auditId__in_path"
          },
          {
            "$ref": "#/parameters/exportId__in_path"
          },
          {
            "$ref": "#/parameters/export_filename__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "The exported audit report was successfully retrieved.",
            "schema": {
              "format": "binary",
              "description": "Audit Report as either PDF or Docx file.",
              "type": "string",
              "x-ms-summary": "Audit Report"
            },
            "headers": {
              "Content-Type": {
                "description": "The mime type of the exported audit report.",
                "x-ms-summary": "Content Type",
                "type": "string"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true
      }
    },
    "/audits/{auditId}/web_report_link": {
      "get": {
        "tags": [
          "audits"
        ],
        "summary": "Retrieve an inspection web report link",
        "description": "If a link has previously been generated for this inspection, it is returned. Otherwise a new link is generated.",
        "operationId": "GetWebReportLink",
        "parameters": [
          {
            "$ref": "#/parameters/auditId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "The web report link was generated successfully.",
            "schema": {
              "$ref": "#/definitions/GetAuditLinkResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced"
      },
      "delete": {
        "tags": [
          "audits"
        ],
        "summary": "Disable an inspection web report link",
        "description": "Disable the web report link to an inspection.",
        "operationId": "DeleteWebReportLink",
        "parameters": [
          {
            "$ref": "#/parameters/auditId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "The web report link was disabled successfully."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true
      }
    },
    "/export_profiles/search": {
      "get": {
        "tags": [
          "export_profiles"
        ],
        "summary": "Get a list of available export profiles",
        "description": "Profile ids can be used in export requests to ally the specified export profile.",
        "operationId": "SearchExportProfiles",
        "responses": {
          "200": {
            "description": "A list of export profiles.",
            "schema": {
              "$ref": "#/definitions/SearchExportProfilesResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/templates/search": {
      "get": {
        "tags": [
          "templates"
        ],
        "summary": "Search modified templates",
        "description": "Retrieve the list of templates between certain dates and by other constraints.",
        "operationId": "SearchTemplates",
        "parameters": [
          {
            "$ref": "#/parameters/sort_order__in_query"
          },
          {
            "$ref": "#/parameters/modified_after__in_query"
          },
          {
            "$ref": "#/parameters/modified_before__in_query"
          },
          {
            "$ref": "#/parameters/archived__in_query"
          },
          {
            "$ref": "#/parameters/owner__in_query"
          },
          {
            "$ref": "#/parameters/limit__in_query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TemplateSearchResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/actions/search": {
      "post": {
        "tags": [
          "actions"
        ],
        "summary": "Search actions",
        "description": "Find actions related based upon their status, priority, assignees, item, inspection and more.",
        "operationId": "SearchActions",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/search_actions__in_body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ActionsSearchResponse"
            }
          }
        }
      }
    },
    "/actions": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/action"
            }
          }
        },
        "summary": "Create an action",
        "description": "Create a new action",
        "operationId": "CreateAction",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "$ref": "#/parameters/create_action__in_body"
          }
        ]
      }
    },
    "/actions/{actionId}": {
      "delete": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "ok": {
                  "type": "boolean",
                  "description": "ok",
                  "x-ms-summary": "ok"
                }
              }
            }
          }
        },
        "summary": "Delete an action",
        "description": "Delete an existing action",
        "operationId": "DeleteAction",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "$ref": "#/parameters/actionId__in_path"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/action"
            }
          }
        },
        "summary": "Update an action",
        "description": "Update an existing action",
        "operationId": "UpdateAction",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "$ref": "#/parameters/actionId__in_path"
          },
          {
            "$ref": "#/parameters/update_action__in_body"
          }
        ]
      }
    },
    "/audits/{auditId}/media/{mediaId}": {
      "get": {
        "responses": {
          "200": {
            "description": "The inspection media file was successfully retrieved.",
            "schema": {
              "format": "binary",
              "description": "The media file from an inspection",
              "type": "string",
              "x-ms-summary": "Media File"
            },
            "headers": {
              "Content-Type": {
                "description": "The mime type of the media.",
                "x-ms-summary": "Content Type",
                "type": "string"
              }
            }
          }
        },
        "summary": "Get an inspection media",
        "description": "Get a media file from an inspection",
        "operationId": "GetMedia",
        "parameters": [
          {
            "$ref": "#/parameters/auditId__in_path"
          },
          {
            "$ref": "#/parameters/mediaId__in_path"
          }
        ]
      }
    },
    "/preferences/search": {
      "get": {
        "tags": [
          "preferences"
        ],
        "summary": "Search global preferences",
        "description": "Retrieve the list of Report Preferences available to all templates.",
        "operationId": "SearchPreferences",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PreferenceSearchResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/audits/{auditId}/report": {
      "post": {
        "tags": [
          "audits"
        ],
        "summary": "Export an inspection report",
        "description": "Submit an export request for an inspection report in the selected format.",
        "operationId": "InitiateInspectionExport",
        "parameters": [
          {
            "$ref": "#/parameters/auditId__in_path"
          },
          {
            "$ref": "#/parameters/export_params__in_body"
          }
        ],
        "responses": {
          "200": {
            "description": "The export task was requested successfully.",
            "schema": {
              "$ref": "#/definitions/InitInspectionExportResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true
      }
    },
    "/audits/{auditId}/report/{exportId}": {
      "get": {
        "tags": [
          "audits"
        ],
        "summary": "Check inspection export status",
        "description": "Check the inspection export status.",
        "operationId": "PollInspectionExportStatus",
        "parameters": [
          {
            "$ref": "#/parameters/auditId__in_path"
          },
          {
            "$ref": "#/parameters/exportId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "The export status was successfully polled.",
            "schema": {
              "$ref": "#/definitions/InspectionExportStatusResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true
      }
    }
  },
  "definitions": {
    "action_id": {
      "type": "string",
      "description": "The unique identifier of the action.",
      "x-ms-summary": "Action ID"
    },
    "count": {
      "description": "The number of actions returned.",
      "type": "number",
      "x-ms-summary": "Count"
    },
    "total": {
      "description": "The total number of actions found in the search parameters.",
      "type": "number",
      "x-ms-summary": "Total"
    },
    "offset": {
      "type": "number",
      "description": "The offset/page of the current set of results.",
      "x-ms-summary": "Offset"
    },
    "AuditSearchResponse": {
      "type": "object",
      "properties": {
        "count": {
          "$ref": "#/definitions/count"
        },
        "total": {
          "$ref": "#/definitions/total"
        },
        "audits": {
          "type": "array",
          "items": {
            "required": [
              "audit_id",
              "modified_at"
            ],
            "type": "object",
            "properties": {
              "audit_id": {
                "type": "string",
                "x-ms-summary": "Audit ID",
                "description": "The unique identifier of the inspection."
              },
              "modified_at": {
                "format": "date-time",
                "type": "string",
                "x-ms-summary": "Date Modified",
                "description": "The date and time the inspection was last modified, in the format of: yyyy-MM-ddTHH:mm:ss.fffZ (UTC time)."
              },
              "template_id": {
                "type": "string",
                "x-ms-summary": "Template ID",
                "description": "The unique identifier of the template."
              }
            }
          },
          "x-ms-summary": "Inspection"
        }
      }
    },
    "GetAuditLinkResponse": {
      "type": "object",
      "properties": {
        "url": {
          "description": "The inspection report link which can be viewed from a web browser.",
          "type": "string",
          "x-ms-summary": "Inspection Link"
        }
      }
    },
    "InitExportResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Export Task ID",
          "description": "The unique identifier of the export task."
        }
      }
    },
    "InitInspectionExportResponse": {
      "type": "object",
      "properties": {
        "messageId": {
          "type": "string",
          "x-ms-summary": "Export Task ID",
          "description": "The unique identifier of the export task."
        }
      }
    },
    "ExportStatusResponse": {
      "required": [
        "status"
      ],
      "type": "object",
      "properties": {
        "status": {
          "description": "The current status of the export request.",
          "type": "string",
          "x-ms-summary": "Export Status"
        },
        "href": {
          "description": "The web URL to the exported inspection report file.",
          "type": "string",
          "x-ms-summary": "Export URL"
        },
        "filename": {
          "description": "The filename of the exported inspection report.",
          "type": "string",
          "x-ms-summary": "Filename"
        }
      }
    },
    "SearchExportProfilesResponse": {
      "type": "object",
      "properties": {
        "export_profiles": {
          "type": "array",
          "items": {
            "required": [
              "id",
              "name",
              "templates"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "The unique identifier of the Export Profile.",
                "type": "string",
                "x-ms-summary": "Export Profile ID"
              },
              "name": {
                "description": "The name of the Export Profile.",
                "type": "string",
                "x-ms-summary": "Export Profile Name"
              },
              "templates": {
                "description": "The unique identifier of the template associated with the Export Profile.",
                "x-ms-summary": "Template ID",
                "type": "array",
                "items": {
                  "required": [
                    "id",
                    "name"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The unique identifier of the Template.",
                      "type": "string",
                      "x-ms-summary": "Template ID"
                    },
                    "name": {
                      "description": "The name of the Template.",
                      "type": "string",
                      "x-ms-summary": "Template Name"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "PreferenceSearchResponse": {
      "type": "object",
      "properties": {
        "preferences": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "x-ms-summary": "Preference ID",
                "description": "The unique identifier of the Report Preference."
              },
              "label": {
                "type": "string",
                "x-ms-summary": "Preference Name",
                "description": "The Report Preference name."
              }
            }
          },
          "x-ms-summary": "Preferences"
        }
      }
    },
    "InspectionExportStatusResponse": {
      "required": [
        "status"
      ],
      "type": "object",
      "properties": {
        "url": {
          "description": "The web URL to the exported inspection report file.",
          "type": "string",
          "x-ms-summary": "Export URL"
        },
        "status": {
          "description": "The current status of the export request.",
          "type": "string",
          "x-ms-summary": "Export status"
        }
      }
    },
    "TemplateSearchResponse": {
      "type": "object",
      "properties": {
        "count": {
          "type": "number",
          "x-ms-summary": "Count",
          "description": "The number of templates returned as results."
        },
        "total": {
          "type": "number",
          "x-ms-summary": "Total",
          "description": "The total number of templates found."
        },
        "templates": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "template_id": {
                "type": "string",
                "x-ms-summary": "Template ID",
                "description": "The unique identifier of the template."
              },
              "name": {
                "type": "string",
                "x-ms-summary": "Template Name",
                "description": "The name of the template."
              }
            }
          },
          "x-ms-summary": "Templates"
        }
      }
    },
    "GetAuditByIdResponse": {
      "type": "object",
      "properties": {
        "template_id": {
          "type": "string",
          "x-ms-summary": "Template ID",
          "description": "The unique identifier of the template."
        },
        "audit_id": {
          "type": "string",
          "x-ms-summary": "Audit ID",
          "description": "The unique identifier of the inspection."
        },
        "audit_data": {
          "type": "object",
          "properties": {
            "score": {
              "type": "number",
              "x-ms-summary": "Score",
              "description": "The score achieved in the inspection."
            },
            "total_score": {
              "type": "number",
              "x-ms-summary": "Total Score",
              "description": "The total score of the inspection."
            },
            "score_percentage": {
              "type": "number",
              "x-ms-summary": "Score Percentage",
              "format": "float",
              "description": "The score of the inspection in percentage."
            },
            "name": {
              "type": "string",
              "x-ms-summary": "Inspection Title",
              "description": "The name/title of the inspection."
            },
            "duration": {
              "type": "number",
              "x-ms-summary": "Duration",
              "description": "The duration of the inspection in seconds."
            },
            "authorship": {
              "type": "object",
              "properties": {
                "owner": {
                  "description": "The user who owns the inspection.",
                  "type": "string",
                  "x-ms-summary": "Inspection Owner"
                },
                "owner_id": {
                  "description": "The user ID of the inspection owner.",
                  "type": "string",
                  "x-ms-summary": "Inspection Owner ID"
                },
                "author": {
                  "description": "The user who created the inspection.",
                  "type": "string",
                  "x-ms-summary": "Inspection Author"
                },
                "author_id": {
                  "description": "The user ID of the inspection author.",
                  "type": "string",
                  "x-ms-summary": "Inspection Author ID"
                }
              }
            },
            "date_completed": {
              "format": "date-time",
              "type": "string",
              "x-ms-summary": "Date Completed",
              "description": "The date and time the inspection was completed, in the format of: yyyy-MM-ddTHH:mm:ss.fffZ (UTC time)."
            },
            "date_modified": {
              "format": "date-time",
              "type": "string",
              "x-ms-summary": "Date Modified",
              "description": "The date and time the inspection was last modified, in the format of: yyyy-MM-ddTHH:mm:ss.ffZ (UTC time)."
            },
            "date_started": {
              "format": "date-time",
              "type": "string",
              "x-ms-summary": "Date Started",
              "description": "The date and time the inspection was started, in the format of: yyyy-MM-ddTHH:mm:ss.fffZ (UTC time)."
            }
          }
        },
        "template_data": {
          "type": "object",
          "properties": {
            "authorship": {
              "type": "object",
              "properties": {
                "owner": {
                  "description": "The user who owns the template.",
                  "type": "string",
                  "x-ms-summary": "Template Owner"
                },
                "owner_id": {
                  "description": "The user ID of the template owner.",
                  "type": "string",
                  "x-ms-summary": "Template Owner ID"
                },
                "author": {
                  "description": "The user who created the template.",
                  "type": "string",
                  "x-ms-summary": "Template Author"
                },
                "author_id": {
                  "description": "The user ID of the template author.",
                  "type": "string",
                  "x-ms-summary": "Template Author ID"
                }
              }
            },
            "metadata": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string",
                  "x-ms-summary": "Template Description",
                  "description": "The description of the template."
                },
                "name": {
                  "type": "string",
                  "x-ms-summary": "Template Name",
                  "description": "The name of the template."
                }
              }
            }
          }
        }
      }
    },
    "ActionsSearchResponse": {
      "type": "object",
      "properties": {
        "count": {
          "$ref": "#/definitions/count"
        },
        "total": {
          "$ref": "#/definitions/total"
        },
        "offset": {
          "$ref": "#/definitions/offset"
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/action"
          },
          "description": "Actions",
          "x-ms-summary": "Actions"
        }
      }
    },
    "action": {
      "type": "object",
      "properties": {
        "action_id": {
          "$ref": "#/definitions/action_id"
        },
        "audit": {
          "type": "object",
          "properties": {
            "audit_id": {
              "type": "string",
              "description": "The unique identifier of the inspection.",
              "x-ms-summary": "Audit ID"
            },
            "name": {
              "type": "string",
              "description": "The name/title of the inspection.",
              "x-ms-summary": "Inspection Title"
            }
          },
          "description": "The inspection that the action is associated with.",
          "x-ms-summary": "Inspection"
        },
        "item": {
          "type": "object",
          "properties": {
            "item_id": {
              "type": "string",
              "description": "The question/item's unique identifier.",
              "x-ms-summary": "Item ID"
            },
            "label": {
              "type": "string",
              "description": "The question/item's label.",
              "x-ms-summary": "Item Label"
            }
          },
          "description": "The inspection question/item that the action is associated with.",
          "x-ms-summary": "Item"
        },
        "description": {
          "type": "string",
          "description": "The description of the action.",
          "x-ms-summary": "Description"
        },
        "title": {
          "type": "string",
          "description": "The title of the action.",
          "x-ms-summary": "Title"
        },
        "site": {
          "type": "string",
          "description": "The selected site of the action.",
          "x-ms-summary": "Site"
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the action: 0=None, 10=Low, 20=Medium, 30=High.",
          "x-ms-summary": "Priority"
        },
        "status": {
          "type": "integer",
          "format": "int32",
          "description": "The status of the action: 0=To Do, 10=In Progress, 50=Done, 60=Can't Do.",
          "x-ms-summary": "Status"
        },
        "assignees": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The assignee's user ID or email (external).",
                "x-ms-summary": " Assignee ID"
              },
              "name": {
                "type": "string",
                "description": "The action assignee's name or email (external).",
                "x-ms-summary": "Assignee Name"
              },
              "type": {
                "type": "string",
                "description": "The type of assignee. Either 'user' or 'email (external)'.",
                "x-ms-summary": "Type"
              }
            }
          },
          "description": "The assignees of the action.",
          "x-ms-summary": "Assignees"
        },
        "created_by": {
          "type": "object",
          "properties": {
            "user_id": {
              "type": "string",
              "description": "The unique identifier of the user who created the action.",
              "x-ms-summary": "Creator ID"
            },
            "name": {
              "type": "string",
              "description": "The name of the user who created the action.",
              "x-ms-summary": "Creator Name"
            }
          },
          "description": "The user who created the action.",
          "x-ms-summary": "Created By"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time the action was created.",
          "x-ms-summary": "Creation Date"
        },
        "modified_at": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time the action was last modified.",
          "x-ms-summary": "Modification Date"
        },
        "due_at": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time the action was due.",
          "x-ms-summary": "Due Date"
        },
        "completed_at": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time the action was completed.",
          "x-ms-summary": "Completion Date"
        }
      }
    },
    "auditId_array": {
      "type": "array",
      "items": {
        "type": "string",
        "description": "The unique identifier of the inspections to search against.",
        "title": "Audit ID(s)",
        "x-ms-visibility": ""
      },
      "description": "One or more audit IDs to search for actions within.",
      "x-ms-summary": "Audit ID(s)"
    },
    "assignees_array": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The assignee's user ID or email (external).",

            "x-ms-summary": "Assignee ID"
          },
          "type": {
            "type": "string",
            "description": "The type of assignee. Either 'user' or 'email (external)'.",
            "x-ms-summary": "Type",
            "enum": [
              "user",
              "email"
            ]
          }
        }
      },
      "description": "Users assigned the action.",
      "x-ms-summary": "Assignees"
    },
    "created_at": {
      "type": "object",
      "properties": {
        "from": {
          "type": "string",
          "format": "date-time",
          "description": "Search for results created after this date and time.",
          "x-ms-summary": "After Date"
        },
        "to": {
          "type": "string",
          "format": "date-time",
          "description": "Search for results created before this date and time.",
          "x-ms-summary": "Before Date"
        }
      },
      "description": "Creation date filter.",
      "x-ms-summary": "Created"
    },
    "modified_at": {
      "type": "object",
      "properties": {
        "from": {
          "type": "string",
          "format": "date-time",
          "description": "Search for results modified after this date and time.",
          "x-ms-summary": "After Date"
        },
        "to": {
          "type": "string",
          "format": "date-time",
          "description": "Search for results modified before this date and time.",
          "x-ms-summary": "Before Date"
        }
      },
      "description": "Modification date filter.",
      "x-ms-summary": "Modified"
    },
    "due_at": {
      "type": "object",
      "properties": {
        "from": {
          "type": "string",
          "format": "date-time",
          "description": "Search for results due after this date and time.",
          "x-ms-summary": "After Date"
        },
        "to": {
          "type": "string",
          "format": "date-time",
          "description": "Search for results due before this date and time.",
          "x-ms-summary": "Before Date"
        }
      },
      "description": "Due date filter.",
      "x-ms-summary": "Due"
    }
  },
  "parameters": {
    "limit__in_query": {
      "name": "limit",
      "in": "query",
      "description": "Maximum number of results to return. Shorten your recurrence and get past time intervals to retrieve more results",
      "required": false,
      "x-ms-summary": "Limit (Max 1000)",
      "type": "integer",
      "default": 1000,
      "maximum": 1000,
      "minimum": 1
    },
    "sort_order__in_query": {
      "name": "order",
      "in": "query",
      "description": "The date and time order in which the results will be given.",
      "required": false,
      "x-ms-summary": "Sort Order",
      "type": "string",
      "default": "desc",
      "enum": [
        "desc",
        "asc"
      ]
    },
    "modified_after__in_query": {
      "name": "modified_after",
      "in": "query",
      "description": "Filter to include results last modified after this date and time.",
      "required": false,
      "x-ms-summary": "Modified After",
      "type": "string",
      "format": "date-time"
    },
    "modified_before__in_query": {
      "name": "modified_before",
      "in": "query",
      "description": "Filter to include results last modified before this date and time.",
      "required": false,
      "x-ms-summary": "Modified Before",
      "type": "string",
      "format": "date-time"
    },
    "template__in_query": {
      "name": "template",
      "in": "query",
      "description": "Filter to include results from a specific template.",
      "required": false,
      "x-ms-summary": "Filter by Template",
      "x-ms-dynamic-values": {
        "operationId": "SearchTemplates",
        "value-path": "template_id",
        "value-title": "name",
        "value-collection": "templates"
      },
      "type": "string"
    },
    "export_params__in_body": {
      "name": "format",
      "in": "body",
      "description": "The format to export an inspection report to.",
      "required": true,
      "schema": {
        "type": "object",
        "properties": {
          "format": {
            "x-ms-summary": "Export Format",
            "description": "The format to export an inspection report to.",
            "type": "string",
            "default": "PDF",
            "enum": [
              "PDF",
              "WORD"
            ]
          },
          "preference_id": {
            "x-ms-summary": "Preference ID",
            "description": " The Report Preference to apply to the report export.",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "SearchPreferences",
              "value-path": "id",
              "value-title": "label",
              "value-collection": "preferences"
            }
          }
        }
      }
    },
    "archived__in_query": {
      "name": "archived",
      "in": "query",
      "description": "Filter to include only archived (true), non-archived (false), or both.",
      "required": false,
      "x-ms-summary": "Archived",
      "type": "string",
      "default": "false",
      "enum": [
        "true",
        "false",
        "both"
      ]
    },
    "completed__in_query": {
      "name": "completed",
      "in": "query",
      "description": "Filter results to include only complete, incomplete, or both.",
      "required": false,
      "x-ms-summary": "Completed",
      "type": "string",
      "default": "true",
      "enum": [
        "true",
        "false",
        "both"
      ]
    },
    "owner__in_query": {
      "name": "owner",
      "in": "query",
      "description": "Retrieve results owned by me, shared with me by other users, or all that I have access to.",
      "required": false,
      "x-ms-summary": "Ownership",
      "type": "string",
      "default": "all",
      "enum": [
        "me",
        "other",
        "all"
      ]
    },
    "export_format__in_query": {
      "name": "format",
      "in": "query",
      "description": "The format to generate an export in.",
      "required": true,
      "x-ms-summary": "Format",
      "type": "string",
      "default": "pdf",
      "enum": [
        "pdf",
        "docx"
      ]
    },
    "timezone__in_query": {
      "name": "timezone",
      "in": "query",
      "description": "The timezone to use when generating an export.",
      "required": false,
      "x-ms-summary": "Timezone",
      "type": "string",
      "default": "Etc/UTC",
      "enum": [
        "Pacific/Auckland",
        "Australia/Brisbane",
        "Asia/Tokyo",
        "Asia/Shanghai",
        "Asia/Karachi",
        "Europe/Moscow",
        "Europe/Brussels",
        "Europe/London",
        "America/St_Johns",
        "America/Argentina/Buenos_Aires",
        "America/New_York",
        "America/Mexico_City",
        "America/Guatemala",
        "Etc/UTC"
      ]
    },
    "export_profile__in_query": {
      "name": "export_profile",
      "in": "query",
      "description": "The unique identifier of the export profile to generate an export with.",
      "required": false,
      "x-ms-summary": "Export Profile",
      "x-ms-dynamic-values": {
        "operationId": "SearchExportProfiles",
        "value-path": "id",
        "value-title": "name",
        "value-collection": "export_profiles"
      },
      "type": "string"
    },
    "export_filename__in_path": {
      "name": "filename",
      "in": "path",
      "description": "The filename generated by an export request.",
      "required": true,
      "x-ms-summary": "Inspection Report Filename",
      "type": "string"
    },
    "mediaId__in_path": {
      "name": "mediaId",
      "in": "path",
      "description": "The unique identifier of a specific media file.",
      "required": true,
      "x-ms-summary": "media ID",
      "type": "string"
    },
    "auditId__in_path": {
      "name": "auditId",
      "in": "path",
      "description": "The unique identifier of a specific inspection.",
      "required": true,
      "x-ms-summary": "Audit ID",
      "type": "string",
      "x-ms-test-value": "audit_6173aebea9174803b61d10e4c9ef0ef8"
    },
    "actionId__in_path": {
      "name": "actionId",
      "in": "path",
      "description": "The unique identifier of a specific action.",
      "required": true,
      "x-ms-summary": "Action ID",
      "type": "string"
    },
    "exportId__in_path": {
      "name": "exportId",
      "in": "path",
      "description": "The unique identifierof an export task.",
      "required": true,
      "x-ms-summary": "Export Task ID",
      "type": "string"
    },
    "search_actions__in_body": {
      "name": "SearchActionsBody",
      "in": "body",
      "required": false,
      "schema": {
        "type": "object",
        "properties": {
          "audit_id": {
            "$ref": "#/definitions/auditId_array"
          },
          "assignees": {
            "$ref": "#/definitions/assignees_array"
          },
          "created_at": {
            "$ref": "#/definitions/created_at"
          },
          "modified_at": {
            "$ref": "#/definitions/modified_at"
          },
          "due_at": {
            "$ref": "#/definitions/due_at"
          }
        }
      },
      "x-ms-visibility": "important"
    },
    "update_action__in_body": {
      "name": "UpdateActionBody",
      "in": "body",
      "required": true,
      "schema": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "The text to use for the action title.",
            "x-ms-summary": "Title"
          },
          "description": {
            "type": "string",
            "description": "The text to use for the action description.",
            "x-ms-summary": "Description"
          },
          "priority": {
            "type": "string",
            "description": "The priority to assign for the action: 0=None, 10=Low, 20=Medium, 30=High.",
            "enum": [
              "0",
              "10",
              "20",
              "30"
            ],
            "x-ms-summary": "Priority"
          },
          "status": {
            "type": "string",
            "description": "The status to set for the action: 0=To Do, 10=In Progress, 50=Done, 60=Can't Do.",
            "enum": [
              "0",
              "10",
              "50",
              "60"
            ],
            "x-ms-summary": "Status"
          },
          "due_at": {
            "type": "string",
            "format": "date-time",
            "description": "The due date and time to set for the action.",
            "x-ms-summary": "Due At"
          },
          "assignees": {
            "$ref": "#/definitions/assignees_array"
          }
        }
      },
      "x-ms-visibility": "important"
    },
    "create_action__in_body": {
      "name": "CreateActionBody",
      "in": "body",
      "required": true,
      "schema": {
        "type": "object",
        "properties": {
          "audit_id": {
            "type": "string",
            "description": "The unique identifer of the inspection.",
            "x-ms-summary": "Audit ID"
          },
          "item_id": {
            "type": "string",
            "description": "The unique identifier of the question/item.",
            "x-ms-summary": "Item ID"
          },
          "title": {
            "type": "string",
            "description": "The text to use for the action title.",
            "x-ms-summary": "Title"
          },
          "description": {
            "type": "string",
            "description": "The text to use for the action description.",
            "x-ms-summary": "Description"
          },
          "priority": {
            "type": "string",
            "description": "The priority to assign for the action: 0=None, 10=Low, 20=Medium, 30=High.",
            "enum": [
              "0",
              "10",
              "20",
              "30"
            ],
            "x-ms-summary": "Priority"
          },
          "status": {
            "type": "string",
            "description": "The status to set for the action: 0=To Do, 10=In Progress, 50=Done, 60=Can't Do.",
            "enum": [
              "0",
              "10",
              "50",
              "60"
            ],
            "x-ms-summary": "Status"
          },
          "due_at": {
            "type": "string",
            "format": "date-time",
            "description": "The due date and time to set for the action.",
            "x-ms-summary": "Due At"
          },
          "assignees": {
            "$ref": "#/definitions/assignees_array"
          }
        },
        "x-ms-visibility": "important"
      }
    }
  },
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "SearchExportProfiles"
    }
  }
}
