{
  "swagger": "2.0",
  "info": {
    "title": "OpenAI Assistants",
    "description": "OpenAI Assistants allows you to build AI assistants within your own applications. An Assistant has instructions and can leverage models, tools, and knowledge to respond to user queries. The Assistants service currently supports three types of tools: Code Interpreter, Retrieval, and Function calling.",
    "version": "1.1",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.openai.com",
  "basePath": "/v1/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/models": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "object": {
                        "type": "string",
                        "description": "The object.",
                        "title": "Object"
                      },
                      "created": {
                        "type": "integer",
                        "format": "int32",
                        "description": "When created.",
                        "title": "Created"
                      },
                      "owned_by": {
                        "type": "string",
                        "description": "Owned by.",
                        "title": "Owned By"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "List models",
        "description": "Lists the currently available models, and provides basic information about each one such as the owner and availability.",
        "operationId": "ModelsGet",
        "parameters": []
      }
    },
    "/assistants": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "object": {
                        "type": "string",
                        "description": "The object.",
                        "title": "Object"
                      },
                      "created_at": {
                        "type": "integer",
                        "format": "int32",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "model": {
                        "type": "string",
                        "description": "The model.",
                        "title": "Model"
                      },
                      "instructions": {
                        "type": "string",
                        "description": "The instructions.",
                        "title": "Instructions"
                      },
                      "tools": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "The type.",
                              "title": "Type"
                            }
                          }
                        },
                        "title": "Tools"
                      },
                      "file_ids": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The file identifiers.",
                        "title": "File IDs"
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {},
                        "description": "The metadata object.",
                        "title": "Metadata"
                      }
                    }
                  },
                  "title": "Data"
                },
                "first_id": {
                  "type": "string",
                  "description": "The first identifier.",
                  "title": "First ID"
                },
                "last_id": {
                  "type": "string",
                  "description": "The last identifier.",
                  "title": "Last ID"
                },
                "has_more": {
                  "type": "boolean",
                  "description": "Whether has more.",
                  "title": "Has More"
                }
              }
            }
          }
        },
        "summary": "List assistants",
        "description": "Retrieves a list of assistants.",
        "operationId": "AssistantsGet",
        "parameters": [
          {
            "name": "OpenAI-Beta",
            "in": "header",
            "x-ms-summary": "Beta Header",
            "description": "The beta header. Required to be set while the API is in beta.",
            "required": true,
            "type": "string",
            "default": "assistants=v1"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "created_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "model": {
                  "type": "string",
                  "description": "The model.",
                  "title": "Model"
                },
                "instructions": {
                  "type": "string",
                  "description": "The instructions.",
                  "title": "Instructions"
                },
                "tools": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The tool type.",
                        "title": "Type",
                        "enum": [
                          "code_interpreter",
                          "retrieval",
                          "function"
                        ]
                      }
                    }
                  },
                  "title": "Tools"
                },
                "file_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The file identifiers.",
                  "title": "File IDs"
                },
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "The metadata object.",
                  "title": "Metadata"
                }
              }
            }
          }
        },
        "summary": "Create assistant",
        "description": "Create an assistant with a model and instructions.",
        "operationId": "AssistantPost",
        "parameters": [
          {
            "name": "OpenAI-Beta",
            "in": "header",
            "x-ms-summary": "Beta Header",
            "description": "The beta header. Required to be set while the API is in beta.",
            "required": true,
            "type": "string",
            "default": "assistants=v1"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "model": {
                  "type": "string",
                  "description": "The model.",
                  "title": "Model",
                  "default": "gpt-4-1106-preview",
                  "x-ms-dynamic-values": {
                    "operationId": "ModelsGet",
                    "value-path": "id",
                    "value-collection": "data",
                    "value-title": "id"
                  }
                },
                "instructions": {
                  "type": "string",
                  "description": "The instructions.",
                  "title": "Instructions"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "tools": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The tools type.",
                        "title": "Type"
                      }
                    }
                  },
                  "title": "Tools"
                },
                "file_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The file identifiers.",
                  "title": "File IDs"
                },
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "The metadata object.",
                  "title": "Metadata"
                }
              },
              "required": [
                "model"
              ]
            }
          }
        ]
      }
    },
    "/assistants/{assistant_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "created_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "model": {
                  "type": "string",
                  "description": "The model.",
                  "title": "Model"
                },
                "instructions": {
                  "type": "string",
                  "description": "The instructions.",
                  "title": "Instructions"
                },
                "tools": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The tools type.",
                        "title": "Type"
                      }
                    }
                  },
                  "title": "Tools"
                },
                "file_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The file identifiers.",
                  "title": "File IDs"
                },
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "The metadata object.",
                  "title": "Metadata"
                }
              }
            }
          }
        },
        "summary": "Retrieve assistant",
        "description": "Retrieves information about an assistant.",
        "operationId": "AssistantGet",
        "parameters": [
          {
            "name": "OpenAI-Beta",
            "in": "header",
            "x-ms-summary": "Beta Header",
            "description": "The beta header. Required to be set while the API is in beta.",
            "required": true,
            "type": "string",
            "default": "assistants=v1"
          },
          {
            "name": "assistant_id",
            "in": "path",
            "x-ms-summary": "Assistant ID",
            "x-ms-url-encoding": "single",
            "description": "The assistant identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "AssistantsGet",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "name",
              "parameters": {
                "OpenAI-Beta": "assistants=v1"
              }
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "deleted": {
                  "type": "boolean",
                  "description": "Whether deleted.",
                  "title": "Deleted"
                }
              }
            }
          }
        },
        "summary": "Delete assistant",
        "description": "Deletes an assistant.",
        "operationId": "AssistantDelete",
        "parameters": [
          {
            "name": "OpenAI-Beta",
            "in": "header",
            "x-ms-summary": "Beta Header",
            "description": "The beta header. Required to be set while the API is in beta.",
            "required": true,
            "type": "string",
            "default": "assistants=v1"
          },
          {
            "name": "assistant_id",
            "in": "path",
            "x-ms-summary": "Assistant ID",
            "x-ms-url-encoding": "single",
            "description": "The assistant identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/assistants/{assistant_id}/files": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "object": {
                        "type": "string",
                        "description": "The object.",
                        "title": "Object"
                      },
                      "created_at": {
                        "type": "integer",
                        "format": "int32",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "assistant_id": {
                        "type": "string",
                        "description": "The assistant identifier.",
                        "title": "Assistant ID"
                      }
                    }
                  },
                  "title": "Data"
                },
                "first_id": {
                  "type": "string",
                  "description": "The first identifier.",
                  "title": "First ID"
                },
                "last_id": {
                  "type": "string",
                  "description": "The last identifier.",
                  "title": "Last ID"
                },
                "has_more": {
                  "type": "boolean",
                  "description": "Whether has more.",
                  "title": "Has More"
                }
              }
            }
          }
        },
        "summary": "Get assistant files",
        "description": "Retrieves a list of assistant files.",
        "operationId": "FilesGet",
        "parameters": [
          {
            "name": "OpenAI-Beta",
            "in": "header",
            "x-ms-summary": "Beta Header",
            "description": "The beta header. Required to be set while the API is in beta.",
            "required": true,
            "type": "string",
            "default": "assistants=v1"
          },
          {
            "name": "assistant_id",
            "in": "path",
            "x-ms-summary": "Assistant ID",
            "x-ms-url-encoding": "single",
            "description": "The assistant identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "AssistantsGet",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "name",
              "parameters": {
                "OpenAI-Beta": "assistants=v1"
              }
            }
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "created_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "assistant_id": {
                  "type": "string",
                  "description": "The assistant identifier.",
                  "title": "Assistant ID"
                }
              }
            }
          }
        },
        "summary": "Create assistant file",
        "description": "Create an assistant file by attaching a file to an assistant.",
        "operationId": "FilePost",
        "parameters": [
          {
            "name": "OpenAI-Beta",
            "in": "header",
            "x-ms-summary": "Beta Header",
            "description": "The beta header. Required to be set while the API is in beta.",
            "required": true,
            "type": "string",
            "default": "assistants=v1"
          },
          {
            "name": "assistant_id",
            "in": "path",
            "x-ms-summary": "Assistant ID",
            "x-ms-url-encoding": "single",
            "description": "The assistant identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "AssistantsGet",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "name",
              "parameters": {
                "OpenAI-Beta": "assistants=v1"
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "file_id": {
                  "type": "string",
                  "description": "The file identifier.",
                  "title": "File ID"
                }
              },
              "required": [
                "file_id"
              ]
            }
          }
        ]
      }
    },
    "/assistants/{assistant_id}/files/{file_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "created_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "assistant_id": {
                  "type": "string",
                  "description": "The assistant identifier.",
                  "title": "Assistant ID"
                }
              }
            }
          }
        },
        "summary": "Retrieve assistant file",
        "description": "Retrieves an assistant file.",
        "operationId": "FileGet",
        "parameters": [
          {
            "name": "OpenAI-Beta",
            "in": "header",
            "x-ms-summary": "Beta Header",
            "description": "The beta header. Required to be set while the API is in beta.",
            "required": true,
            "type": "string",
            "default": "assistants=v1"
          },
          {
            "name": "assistant_id",
            "in": "path",
            "x-ms-summary": "Assistant ID",
            "x-ms-url-encoding": "single",
            "description": "The assistant identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "AssistantsGet",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "name",
              "parameters": {
                "OpenAI-Beta": "assistants=v1"
              }
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "x-ms-summary": "File ID",
            "x-ms-url-encoding": "single",
            "description": "The file identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "FilesGet",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "id",
              "parameters": {
                "OpenAI-Beta": "assistants=v1",
                "assistant_id": {
                  "parameter": "assistant_id"
                }
              }
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "deleted": {
                  "type": "boolean",
                  "description": "Whether deleted.",
                  "title": "Deleted"
                }
              }
            }
          }
        },
        "summary": "Delete assistant file",
        "description": "Deletes an assistant file.",
        "operationId": "FileDelete",
        "parameters": [
          {
            "name": "OpenAI-Beta",
            "in": "header",
            "x-ms-summary": "Beta Header",
            "description": "The beta header. Required to be set while the API is in beta.",
            "required": true,
            "type": "string",
            "default": "assistants=v1"
          },
          {
            "name": "assistant_id",
            "in": "path",
            "x-ms-summary": "Assistant ID",
            "x-ms-url-encoding": "single",
            "description": "The assistant identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "AssistantsGet",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "name",
              "parameters": {
                "OpenAI-Beta": "assistants=v1"
              }
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "x-ms-summary": "File ID",
            "x-ms-url-encoding": "single",
            "description": "The file identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "FilesGet",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "id",
              "parameters": {
                "OpenAI-Beta": "assistants=v1",
                "assistant_id": {
                  "parameter": "assistant_id"
                }
              }
            }
          }
        ]
      }
    },
    "/threads": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "created_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "The metadata object.",
                  "title": "Metadata"
                }
              }
            }
          }
        },
        "summary": "Create thread",
        "description": "Creates a thread that assistants can interact with.",
        "operationId": "ThreadPost",
        "parameters": [
          {
            "name": "OpenAI-Beta",
            "in": "header",
            "x-ms-summary": "Beta Header",
            "description": "The beta header. Required to be set while the API is in beta.",
            "required": true,
            "type": "string",
            "default": "assistants=v1"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "object": {
                        "type": "string",
                        "description": "The object.",
                        "title": "Object"
                      },
                      "created_at": {
                        "type": "integer",
                        "format": "int32",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "thread_id": {
                        "type": "string",
                        "description": "The thread identifier.",
                        "title": "Thread ID"
                      },
                      "role": {
                        "type": "string",
                        "description": "The role.",
                        "title": "Role"
                      },
                      "content": {
                        "type": "string",
                        "description": "The content.",
                        "title": "Content"
                      },
                      "file_ids": {
                        "type": "array",
                        "items": {
                          "type":"string"
                        },
                        "description": "The file identifiers.",
                        "title": "File IDs"
                      },
                      "assistant_id": {
                        "type": "string",
                        "description": "The assistant identifier.",
                        "title": "Assistant ID"
                      },
                      "run_id": {
                        "type": "string",
                        "description": "The run identifier.",
                        "title": "Run ID"
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {},
                        "description": "The metadata object.",
                        "title": "Metadata"
                      }
                    },
                    "required": [
                      "role",
                      "content"
                    ]
                  },
                  "title": "Messages"
                }
              },
              "required": [
                "messages"
              ]
            }
          }
        ]
      }
    },
    "/threads/{thread_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "created_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "The metadata object.",
                  "title": "Metadata"
                }
              }
            }
          }
        },
        "summary": "Get thread",
        "description": "Retrieve a thread.",
        "operationId": "ThreadGet",
        "parameters": [
          {
            "name": "OpenAI-Beta",
            "in": "header",
            "x-ms-summary": "Beta Header",
            "description": "The beta header. Required to be set while the API is in beta.",
            "required": true,
            "type": "string",
            "default": "assistants=v1"
          },
          {
            "name": "thread_id",
            "in": "path",
            "x-ms-summary": "Thread ID",
            "x-ms-url-encoding": "single",
            "description": "The thread identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "deleted": {
                  "type": "boolean",
                  "description": "Whether deleted.",
                  "title": "Deleted"
                }
              }
            }
          }
        },
        "summary": "Delete thread",
        "description": "Deletes a thread.",
        "operationId": "ThreadDelete",
        "parameters": [
          {
            "name": "OpenAI-Beta",
            "in": "header",
            "x-ms-summary": "Beta Header",
            "description": "The beta header. Required to be set while the API is in beta.",
            "required": true,
            "type": "string",
            "default": "assistants=v1"
          },
          {
            "name": "thread_id",
            "in": "path",
            "x-ms-summary": "Thread ID",
            "x-ms-url-encoding": "single",
            "description": "The thread identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "created_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "The metadata object.",
                  "title": "Metadata"
                }
              }
            }
          }
        },
        "summary": "Modify a thread",
        "description": "Modifies a thread.",
        "operationId": "ThreadModifyPost",
        "parameters": [
          {
            "name": "OpenAI-Beta",
            "in": "header",
            "x-ms-summary": "Beta Header",
            "description": "The beta header. Required to be set while the API is in beta.",
            "required": true,
            "type": "string",
            "default": "assistants=v1"
          },
          {
            "name": "thread_id",
            "in": "path",
            "x-ms-summary": "Thread ID",
            "x-ms-url-encoding": "single",
            "description": "The thread identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "The metadata object.",
                  "title": "Metadata"
                }
              }
            }
          }
        ]
      }
    },
    "/threads/{thread_id}/messages": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "object": {
                        "type": "string",
                        "description": "The object.",
                        "title": "Object"
                      },
                      "created_at": {
                        "type": "integer",
                        "format": "int32",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "thread_id": {
                        "type": "string",
                        "description": "The thread identifier.",
                        "title": "Thread ID"
                      },
                      "role": {
                        "type": "string",
                        "description": "The role.",
                        "title": "Role"
                      },
                      "content": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "The type.",
                              "title": "Type"
                            },
                            "text": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string",
                                  "description": "The value.",
                                  "title": "Value"
                                },
                                "annotations": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The annotations.",
                                  "title": "Annotations"
                                }
                              },
                              "title": "Text"
                            }
                          }
                        },
                        "title": "Content"
                      },
                      "file_ids": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The file identifiers.",
                        "title": "File IDs"
                      },
                      "assistant_id": {
                        "type": "string",
                        "description": "The assistant identifier.",
                        "title": "Assistant ID"
                      },
                      "run_id": {
                        "type": "string",
                        "description": "The run identifier.",
                        "title": "Run ID"
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {},
                        "description": "The metadata object.",
                        "title": "Metadata"
                      }
                    }
                  },
                  "title": "Data"
                },
                "first_id": {
                  "type": "string",
                  "description": "The first identifier.",
                  "title": "First ID"
                },
                "last_id": {
                  "type": "string",
                  "description": "The last identifier.",
                  "title": "Last ID"
                },
                "has_more": {
                  "type": "boolean",
                  "description": "Whether has more.",
                  "title": "Has More"
                }
              }
            }
          }
        },
        "summary": "List messages",
        "description": "Retrieve a list of messages for a given thread.",
        "operationId": "MessagesGet",
        "parameters": [
          {
            "name": "OpenAI-Beta",
            "in": "header",
            "x-ms-summary": "Beta Header",
            "description": "The beta header. Required to be set while the API is in beta.",
            "required": true,
            "type": "string",
            "default": "assistants=v1"
          },
          {
            "name": "thread_id",
            "in": "path",
            "x-ms-summary": "Thread ID",
            "x-ms-url-encoding": "single",
            "description": "The thread identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "order",
            "in": "query",
            "x-ms-summary": "Order",
            "description": "The order.",
            "required": false,
            "type": "string"
          },
          {
            "name": "after",
            "in": "query",
            "x-ms-summary": "After",
            "description": "The after.",
            "required": false,
            "type": "string"
          },
          {
            "name": "before",
            "in": "query",
            "x-ms-summary": "Before",
            "description": "The before.",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "created_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "thread_id": {
                  "type": "string",
                  "description": "The thread identifier.",
                  "title": "Thread ID"
                },
                "role": {
                  "type": "string",
                  "description": "The role.",
                  "title": "Role"
                },
                "content": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The tools type.",
                        "title": "Type"
                      },
                      "text": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The value.",
                            "title": "Value"
                          },
                          "annotations": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The annotations.",
                            "title": "Annotations"
                          }
                        },
                        "title": "Text"
                      }
                    }
                  },
                  "title": "Content"
                },
                "file_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The file identifiers.",
                  "title": "File IDs"
                },
                "assistant_id": {
                  "type": "string",
                  "description": "The assistant identifier.",
                  "title": "Assistant ID"
                },
                "run_id": {
                  "type": "string",
                  "description": "The run identifier.",
                  "title": "Run ID"
                },
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "The metadata object.",
                  "title": "Metadata"
                }
              }
            }
          }
        },
        "summary": "Create message",
        "description": "Create a message within a thread.",
        "operationId": "MessagePost",
        "parameters": [
          {
            "name": "OpenAI-Beta",
            "in": "header",
            "x-ms-summary": "Beta Header",
            "description": "The beta header. Required to be set while the API is in beta.",
            "required": true,
            "type": "string",
            "default": "assistants=v1"
          },
          {
            "name": "thread_id",
            "in": "path",
            "x-ms-summary": "Thread ID",
            "x-ms-url-encoding": "single",
            "description": "The thread identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/threads/{thread_id}/messages/{message_id}": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "created_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "thread_id": {
                  "type": "string",
                  "description": "The thread identifier.",
                  "title": "Thread ID"
                },
                "role": {
                  "type": "string",
                  "description": "The role.",
                  "title": "Role"
                },
                "content": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The tools type.",
                        "title": "Type"
                      },
                      "text": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The value.",
                            "title": "Value"
                          },
                          "annotations": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The annotations.",
                            "title": "Annotations"
                          }
                        },
                        "title": "Text"
                      }
                    }
                  },
                  "title": "Content"
                },
                "file_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The file identifiers.",
                  "title": "File IDs"
                },
                "assistant_id": {
                  "type": "string",
                  "description": "The assistant identifier.",
                  "title": "Assistant ID"
                },
                "run_id": {
                  "type": "string",
                  "description": "The run identifier.",
                  "title": "Run ID"
                },
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "The metadata object.",
                  "title": "Metadata"
                }
              }
            }
          }
        },
        "summary": "Modify message",
        "description": "Modifies a message.",
        "operationId": "MessageModifyPost",
        "parameters": [
          {
            "name": "OpenAI-Beta",
            "in": "header",
            "x-ms-summary": "Beta Header",
            "description": "The beta header. Required to be set while the API is in beta.",
            "required": true,
            "type": "string",
            "default": "assistants=v1"
          },
          {
            "name": "thread_id",
            "in": "path",
            "x-ms-summary": "Thread ID",
            "x-ms-url-encoding": "single",
            "description": "The thread identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "message_id",
            "in": "path",
            "x-ms-summary": "Message ID",
            "x-ms-url-encoding": "single",
            "description": "The message identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "The metadata object.",
                  "title": "Metadata"
                }
              }
            }
          }
        ]
      }
    },
    "/threads/{thread_id}/messages/{message_id}/files/{file_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "created_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "message_id": {
                  "type": "string",
                  "description": "The message identifier.",
                  "title": "Message ID"
                }
              }
            }
          }
        },
        "summary": "Retrieve message file",
        "description": "Retrieves a message file from a thread.",
        "operationId": "MessageFileGet",
        "parameters": [
          {
            "name": "OpenAI-Beta",
            "in": "header",
            "x-ms-summary": "Beta Header",
            "description": "The beta header. Required to be set while the API is in beta.",
            "required": true,
            "type": "string",
            "default": "assistants=v1"
          },
          {
            "name": "thread_id",
            "in": "path",
            "x-ms-summary": "Thread ID",
            "x-ms-url-encoding": "single",
            "description": "The thread identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "message_id",
            "in": "path",
            "x-ms-summary": "Message ID",
            "x-ms-url-encoding": "single",
            "description": "The message identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "file_id",
            "in": "path",
            "x-ms-summary": "File ID",
            "x-ms-url-encoding": "single",
            "description": "The file identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/threads/{thread_id}/messages/{message_id}/files": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "object": {
                        "type": "string",
                        "description": "The object.",
                        "title": "Object"
                      },
                      "created_at": {
                        "type": "integer",
                        "format": "int32",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "message_id": {
                        "type": "string",
                        "description": "The message identifier.",
                        "title": "Message ID"
                      }
                    }
                  },
                  "title": "Data"
                },
                "first_id": {
                  "type": "string",
                  "description": "The first identifier.",
                  "title": "First ID"
                },
                "last_id": {
                  "type": "string",
                  "description": "The last identifier.",
                  "title": "Last ID"
                },
                "has_more": {
                  "type": "boolean",
                  "description": "Whether has more.",
                  "title": "Has More"
                }
              }
            }
          }
        },
        "summary": "List message files",
        "description": "Retrieves a list of message files for a thread.",
        "operationId": "MessageFilesGet",
        "parameters": [
          {
            "name": "OpenAI-Beta",
            "in": "header",
            "x-ms-summary": "Beta Header",
            "description": "The beta header. Required to be set while the API is in beta.",
            "required": true,
            "type": "string",
            "default": "assistants=v1"
          },
          {
            "name": "thread_id",
            "in": "path",
            "x-ms-summary": "Thread ID",
            "x-ms-url-encoding": "single",
            "description": "The thread identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "message_id",
            "in": "path",
            "x-ms-summary": "Message ID",
            "x-ms-url-encoding": "single",
            "description": "The message identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/threads/{thread_id}/runs": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "object": {
                        "type": "string",
                        "description": "The object.",
                        "title": "Object"
                      },
                      "created_at": {
                        "type": "integer",
                        "format": "int32",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "assistant_id": {
                        "type": "string",
                        "description": "The assistant identifier.",
                        "title": "Assistant ID"
                      },
                      "thread_id": {
                        "type": "string",
                        "description": "The thread identifier.",
                        "title": "Thread ID"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "started_at": {
                        "type": "integer",
                        "format": "int32",
                        "description": "When started at.",
                        "title": "Started At"
                      },
                      "expires_at": {
                        "type": "string",
                        "description": "When expires at.",
                        "title": "Expires At"
                      },
                      "cancelled_at": {
                        "type": "string",
                        "description": "When cancelled at.",
                        "title": "Cancelled At"
                      },
                      "failed_at": {
                        "type": "string",
                        "description": "When failed at.",
                        "title": "Failed At"
                      },
                      "completed_at": {
                        "type": "integer",
                        "format": "int32",
                        "description": "When completed at.",
                        "title": "Completed At"
                      },
                      "last_error": {
                        "type": "string",
                        "description": "The last error.",
                        "title": "Last Error"
                      },
                      "model": {
                        "type": "string",
                        "description": "The model.",
                        "title": "Model"
                      },
                      "instructions": {
                        "type": "string",
                        "description": "The instructions.",
                        "title": "Instructions"
                      },
                      "tools": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "The type.",
                              "title": "Type"
                            }
                          }
                        },
                        "title": "Tools"
                      },
                      "file_ids": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The file identifiers.",
                        "title": "File IDs"
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {},
                        "description": "The metadata object.",
                        "title": "Metadata"
                      }
                    }
                  },
                  "title": "Data"
                },
                "first_id": {
                  "type": "string",
                  "description": "The first identifier.",
                  "title": "First ID"
                },
                "last_id": {
                  "type": "string",
                  "description": "The last identifier.",
                  "title": "Last ID"
                },
                "has_more": {
                  "type": "boolean",
                  "description": "Whether has more.",
                  "title": "Has More"
                }
              }
            }
          }
        },
        "summary": "List runs",
        "description": "Retrieve a list of runs for a thread.",
        "operationId": "RunsGet",
        "parameters": [
          {
            "name": "OpenAI-Beta",
            "in": "header",
            "x-ms-summary": "Beta Header",
            "description": "The beta header. Required to be set while the API is in beta.",
            "required": true,
            "type": "string",
            "default": "assistants=v1"
          },
          {
            "name": "thread_id",
            "in": "path",
            "x-ms-summary": "Thread ID",
            "x-ms-url-encoding": "single",
            "description": "The thread identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "order",
            "in": "query",
            "x-ms-summary": "Order",
            "description": "The order.",
            "required": false,
            "type": "string"
          },
          {
            "name": "after",
            "in": "query",
            "x-ms-summary": "After",
            "description": "The after.",
            "required": false,
            "type": "string"
          },
          {
            "name": "before",
            "in": "query",
            "x-ms-summary": "Before",
            "description": "The before.",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "created_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "assistant_id": {
                  "type": "string",
                  "description": "The assistant identifier.",
                  "title": "Assistant ID"
                },
                "thread_id": {
                  "type": "string",
                  "description": "The thread identifier.",
                  "title": "Thread ID"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "started_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When started at.",
                  "title": "Started At"
                },
                "expires_at": {
                  "type": "string",
                  "description": "When expires at.",
                  "title": "Expires At"
                },
                "cancelled_at": {
                  "type": "string",
                  "description": "When cancelled at.",
                  "title": "Cancelled At"
                },
                "failed_at": {
                  "type": "string",
                  "description": "When failed at.",
                  "title": "Failed At"
                },
                "completed_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When completed at.",
                  "title": "Completed At"
                },
                "last_error": {
                  "type": "string",
                  "description": "The last error.",
                  "title": "Last Error"
                },
                "model": {
                  "type": "string",
                  "description": "The model.",
                  "title": "Model"
                },
                "instructions": {
                  "type": "string",
                  "description": "The instructions.",
                  "title": "Instructions"
                },
                "tools": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The tools type.",
                        "title": "Type"
                      }
                    }
                  },
                  "title": "Tools"
                },
                "file_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The file identifiers.",
                  "title": "File IDs"
                },
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "The metadata object.",
                  "title": "Metadata"
                }
              }
            }
          }
        },
        "summary": "Create run",
        "description": "Creates a run for a thread.",
        "operationId": "RunPost",
        "parameters": [
          {
            "name": "OpenAI-Beta",
            "in": "header",
            "x-ms-summary": "Beta Header",
            "description": "The beta header. Required to be set while the API is in beta.",
            "required": true,
            "type": "string",
            "default": "assistants=v1"
          },
          {
            "name": "thread_id",
            "in": "path",
            "x-ms-summary": "Thread ID",
            "x-ms-url-encoding": "single",
            "description": "The thread identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "assistant_id": {
                  "type": "string",
                  "description": "The assistant identifier.",
                  "title": "Assistant ID"
                },
                "model": {
                  "type": "string",
                  "description": "The model.",
                  "title": "Model",
                  "x-ms-dynamic-values": {
                    "operationId": "ModelsGet",
                    "value-path": "id",
                    "value-collection": "data",
                    "value-title": "id"
                  }
                },
                "instructions": {
                  "type": "string",
                  "description": "The instructions.",
                  "title": "Instructions"
                },
                "tools": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The tools type.",
                        "title": "Type"
                      }
                    }
                  },
                  "title": "Tools"
                },
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "The metadata object.",
                  "title": "Metadata"
                }
              },
              "required": [
                "model"
              ]
            }
          }
        ]
      }
    },
    "/threads/{thread_id}/runs/{run_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "created_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "assistant_id": {
                  "type": "string",
                  "description": "The assistant identifier.",
                  "title": "Assistant ID"
                },
                "thread_id": {
                  "type": "string",
                  "description": "The thread identifier.",
                  "title": "Thread ID"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "started_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When started at.",
                  "title": "Started At"
                },
                "expires_at": {
                  "type": "string",
                  "description": "When expires at.",
                  "title": "Expires At"
                },
                "cancelled_at": {
                  "type": "string",
                  "description": "When cancelled at.",
                  "title": "Cancelled At"
                },
                "failed_at": {
                  "type": "string",
                  "description": "When failed at.",
                  "title": "Failed At"
                },
                "completed_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When completed at.",
                  "title": "Completed At"
                },
                "last_error": {
                  "type": "string",
                  "description": "The last error.",
                  "title": "Last Error"
                },
                "model": {
                  "type": "string",
                  "description": "The model.",
                  "title": "Model"
                },
                "instructions": {
                  "type": "string",
                  "description": "The instructions.",
                  "title": "Instructions"
                },
                "tools": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The tools type.",
                        "title": "Type"
                      }
                    }
                  },
                  "title": "Tools"
                },
                "file_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The file identifiers.",
                  "title": "File IDs"
                },
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "The metadata object.",
                  "title": "Metadata"
                }
              }
            }
          }
        },
        "summary": "Get run",
        "description": "Retrieve a run from a thread.",
        "operationId": "RunGet",
        "parameters": [
          {
            "name": "OpenAI-Beta",
            "in": "header",
            "x-ms-summary": "Beta Header",
            "description": "The beta header. Required to be set while the API is in beta.",
            "required": true,
            "type": "string",
            "default": "assistants=v1"
          },
          {
            "name": "thread_id",
            "in": "path",
            "x-ms-summary": "Thread ID",
            "x-ms-url-encoding": "single",
            "description": "The thread identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "run_id",
            "in": "path",
            "x-ms-summary": "Run ID",
            "x-ms-url-encoding": "single",
            "description": "The run identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "created_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "assistant_id": {
                  "type": "string",
                  "description": "The assistant identifier.",
                  "title": "Assistant ID"
                },
                "thread_id": {
                  "type": "string",
                  "description": "The thread identifier.",
                  "title": "Thread ID"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "started_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When started at.",
                  "title": "Started At"
                },
                "expires_at": {
                  "type": "string",
                  "description": "When expires at.",
                  "title": "Expires At"
                },
                "cancelled_at": {
                  "type": "string",
                  "description": "When cancelled at.",
                  "title": "Cancelled At"
                },
                "failed_at": {
                  "type": "string",
                  "description": "When failed at.",
                  "title": "Failed At"
                },
                "completed_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When completed at.",
                  "title": "Completed At"
                },
                "last_error": {
                  "type": "string",
                  "description": "The last error.",
                  "title": "Last Error"
                },
                "model": {
                  "type": "string",
                  "description": "The model.",
                  "title": "Model"
                },
                "instructions": {
                  "type": "string",
                  "description": "The instructions.",
                  "title": "Instructions"
                },
                "tools": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The tools type.",
                        "title": "Type"
                      }
                    }
                  },
                  "title": "Tools"
                },
                "file_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The file identifiers.",
                  "title": "File IDs"
                },
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "The metadata object.",
                  "title": "Metadata"
                }
              }
            }
          }
        },
        "summary": "Modify run",
        "description": "Modifies a run for a thread.",
        "operationId": "RunModifyPost",
        "parameters": [
          {
            "name": "OpenAI-Beta",
            "in": "header",
            "x-ms-summary": "Beta Header",
            "description": "The beta header. Required to be set while the API is in beta.",
            "required": true,
            "type": "string",
            "default": "assistants=v1"
          },
          {
            "name": "thread_id",
            "in": "path",
            "x-ms-summary": "Thread ID",
            "x-ms-url-encoding": "single",
            "description": "The thread identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "run_id",
            "in": "path",
            "x-ms-summary": "Run ID",
            "x-ms-url-encoding": "single",
            "description": "The run identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "The metadata object.",
                  "title": "Metadata"
                }
              }
            }
          }
        ]
      }
    },
    "/threads/{thread_id}/runs/{run_id}/submit_tool_outputs": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "created_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "assistant_id": {
                  "type": "string",
                  "description": "The assistant identifier.",
                  "title": "Assistant ID"
                },
                "thread_id": {
                  "type": "string",
                  "description": "The thread identifier.",
                  "title": "Thread ID"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "started_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When started at.",
                  "title": "Started At"
                },
                "expires_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When expires at.",
                  "title": "Expires At"
                },
                "cancelled_at": {
                  "type": "string",
                  "description": "When cancelled at.",
                  "title": "Cancelled At"
                },
                "failed_at": {
                  "type": "string",
                  "description": "When failed at.",
                  "title": "Failed At"
                },
                "completed_at": {
                  "type": "string",
                  "description": "When completed at.",
                  "title": "Completed At"
                },
                "last_error": {
                  "type": "string",
                  "description": "The last error.",
                  "title": "Last Error"
                },
                "model": {
                  "type": "string",
                  "description": "The model.",
                  "title": "Model"
                },
                "instructions": {
                  "type": "string",
                  "description": "The instructions.",
                  "title": "Instructions"
                },
                "tools": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The tools type.",
                        "title": "Type"
                      },
                      "function": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "description": {
                            "type": "string",
                            "description": "The description.",
                            "title": "Description"
                          },
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "The type.",
                                "title": "Type"
                              },
                              "properties": {
                                "type": "object",
                                "properties": {},
                                "description": "The properties.",
                                "title": "Properties"
                              }
                            },
                            "title": "Parameters"
                          }
                        },
                        "title": "Function"
                      }
                    }
                  },
                  "title": "Tools"
                },
                "file_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The file identifiers.",
                  "title": "File IDs"
                },
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "The metadata object.",
                  "title": "Metadata"
                }
              }
            }
          }
        },
        "summary": "Submit tool outputs to run",
        "description": "When a run has the status: \"requires_action\" and required_action.type is submit_tool_outputs, this action can be used to submit the outputs from the tool calls once they're all completed.",
        "operationId": "RunToolOutputsPost",
        "parameters": [
          {
            "name": "OpenAI-Beta",
            "in": "header",
            "x-ms-summary": "Beta Header",
            "description": "The beta header. Required to be set while the API is in beta.",
            "required": true,
            "type": "string",
            "default": "assistants=v1"
          },
          {
            "name": "thread_id",
            "in": "path",
            "x-ms-summary": "Thread ID",
            "x-ms-url-encoding": "single",
            "description": "The thread identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "run_id",
            "in": "path",
            "x-ms-summary": "Run ID",
            "x-ms-url-encoding": "single",
            "description": "The run identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "tool_outputs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "tool_call_id": {
                        "type": "string",
                        "description": "The toll call identifier.",
                        "title": "Tool Call ID"
                      },
                      "output": {
                        "type": "string",
                        "description": "The output.",
                        "title": "Output"
                      }
                    }
                  },
                  "title": "Tool Outputs"
                }
              }
            }
          }
        ]
      }
    },
    "/threads/{thread_id}/runs/{run_id}/cancel": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "created_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "assistant_id": {
                  "type": "string",
                  "description": "The assistant identifier.",
                  "title": "Assistant ID"
                },
                "thread_id": {
                  "type": "string",
                  "description": "The thread identifier.",
                  "title": "Thread ID"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "started_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When started at.",
                  "title": "Started At"
                },
                "expires_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When expires at.",
                  "title": "Expires At"
                },
                "cancelled_at": {
                  "type": "string",
                  "description": "When cancelled at.",
                  "title": "Cancelled At"
                },
                "failed_at": {
                  "type": "string",
                  "description": "When failed at.",
                  "title": "Failed At"
                },
                "completed_at": {
                  "type": "string",
                  "description": "When completed at.",
                  "title": "Completed At"
                },
                "last_error": {
                  "type": "string",
                  "description": "The last error.",
                  "title": "Last Error"
                },
                "model": {
                  "type": "string",
                  "description": "The model.",
                  "title": "Model"
                },
                "instructions": {
                  "type": "string",
                  "description": "The instructions.",
                  "title": "Instructions"
                },
                "tools": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The tools type.",
                        "title": "Type"
                      }
                    }
                  },
                  "title": "Tools"
                },
                "file_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The file identifiers.",
                  "title": "File IDs"
                },
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "The metadata object.",
                  "title": "Metadata"
                }
              }
            }
          }
        },
        "summary": "Cancel a run",
        "description": "Cancel a run for a thread that is in progress.",
        "operationId": "RunCancelPost",
        "parameters": [
          {
            "name": "OpenAI-Beta",
            "in": "header",
            "x-ms-summary": "Beta Header",
            "description": "The beta header. Required to be set while the API is in beta.",
            "required": true,
            "type": "string",
            "default": "assistants=v1"
          },
          {
            "name": "thread_id",
            "in": "path",
            "x-ms-summary": "Thread ID",
            "x-ms-url-encoding": "single",
            "description": "The thread identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "run_id",
            "in": "path",
            "x-ms-summary": "Run ID",
            "x-ms-url-encoding": "single",
            "description": "The run identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/threads/runs": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "created_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "assistant_id": {
                  "type": "string",
                  "description": "The assistant identifier.",
                  "title": "Assistant ID"
                },
                "thread_id": {
                  "type": "string",
                  "description": "The thread identifier.",
                  "title": "Thread ID"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "started_at": {
                  "type": "string",
                  "description": "When started at.",
                  "title": "Started At"
                },
                "expires_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When expires at.",
                  "title": "Expires At"
                },
                "cancelled_at": {
                  "type": "string",
                  "description": "When cancelled at.",
                  "title": "Cancelled At"
                },
                "failed_at": {
                  "type": "string",
                  "description": "When failed at.",
                  "title": "Failed At"
                },
                "completed_at": {
                  "type": "string",
                  "description": "When completed at.",
                  "title": "Completed At"
                },
                "last_error": {
                  "type": "string",
[...]
