{
  "swagger": "2.0",
  "info": {
    "title": "Aviationstack",
    "description": "The aviationstack API was built to deliver accurate data about global flights both in real-time as well as for historical flights. Being integrated with one of the most sophisticated aviation data provider on the market, the aviationstack API is capable of delivering real-time updates about ongoing flights with a delay of only 30-60 seconds.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.aviationstack.com",
  "basePath": "/v1",
  "schemes": [
    "http"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/flights": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pagination": {
                  "type": "object",
                  "properties": {
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The specified or default limit of results per pagination page.",
                      "title": "Limit"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The specified or default pagination offset.",
                      "title": "Offset"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of results found on the current pagination page.",
                      "title": "Count"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of results found for your request. ",
                      "title": "Total"
                    }
                  },
                  "title": "Pagination"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "flight_date": {
                        "type": "string",
                        "description": "The date of the flight",
                        "title": "Flight Date"
                      },
                      "flight_status": {
                        "type": "string",
                        "description": "The flight status. Possible values: scheduled, active, landed, cancelled, incident, or diverted.",
                        "title": "Flight Status"
                      },
                      "departure": {
                        "type": "object",
                        "properties": {
                          "airport": {
                            "type": "string",
                            "description": "The name of the departure airport.",
                            "title": "Airport"
                          },
                          "timezone": {
                            "type": "string",
                            "description": "The departure timezone.",
                            "title": "Timezone"
                          },
                          "iata": {
                            "type": "string",
                            "description": "The IATA code of the departure location/airport.",
                            "title": "IATA"
                          },
                          "icao": {
                            "type": "string",
                            "description": "The ICAO code of the departure location/airport.",
                            "title": "ICAO"
                          },
                          "terminal": {
                            "type": "string",
                            "description": "The departure terminal.",
                            "title": "Terminal"
                          },
                          "scheduled": {
                            "type": "string",
                            "description": "The scheduled departure date and time in RFC3339 (ISO8601) format. Example: 2019-12-12T04:20:00+00:00.",
                            "title": "Scheduled"
                          },
                          "estimated": {
                            "type": "string",
                            "description": "The estimated departure date and time in RFC3339 (ISO8601) format. Example: 2019-12-12T04:20:00+00:00.",
                            "title": "Estimated"
                          },
                          "delay": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The delay in departure in minutes.",
                            "title": "Delay"
                          },
                          "gate": {
                            "type": "string",
                            "description": "The departure gate.",
                            "title": "Gate"
                          }
                        },
                        "title": "Departure"
                      },
                      "arrival": {
                        "type": "object",
                        "properties": {
                          "airport": {
                            "type": "string",
                            "description": "The name of the arrival airport.",
                            "title": "Airport"
                          },
                          "timezone": {
                            "type": "string",
                            "description": "The arrival timezone.",
                            "title": "Timezone"
                          },
                          "iata": {
                            "type": "string",
                            "description": "The IATA code of the arrival location/airport.",
                            "title": "IATA"
                          },
                          "icao": {
                            "type": "string",
                            "description": "The ICAO code of the arrival location/airport.",
                            "title": "ICAO"
                          },
                          "scheduled": {
                            "type": "string",
                            "description": "The scheduled arrival date and time in RFC3339 (ISO8601) format. Example: 2019-12-12T04:20:00+00:00.",
                            "title": "Scheduled"
                          },
                          "estimated": {
                            "type": "string",
                            "description": "The estimated arrival date and time in RFC3339 (ISO8601) format. Example: 2019-12-12T04:20:00+00:00.",
                            "title": "Estimated"
                          },
                          "terminal": {
                            "type": "string",
                            "description": "The arrival terminal.",
                            "title": "Terminal"
                          },
                          "gate": {
                            "type": "string",
                            "description": "The arrival gate.",
                            "title": "Gate"
                          },
                          "baggage": {
                            "type": "string",
                            "description": "The baggage claim gate at the arrival airport.",
                            "title": "Baggage"
                          }
                        },
                        "title": "Arrival"
                      },
                      "airline": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name of the airline.",
                            "title": "Name"
                          },
                          "iata": {
                            "type": "string",
                            "description": "The IATA code of the airline.",
                            "title": "IATA"
                          },
                          "icao": {
                            "type": "string",
                            "description": "The ICAO code of the airline.",
                            "title": "ICAO"
                          }
                        },
                        "title": "Airline"
                      },
                      "flight": {
                        "type": "object",
                        "properties": {
                          "number": {
                            "type": "string",
                            "description": "The flight number",
                            "title": "Number"
                          },
                          "iata": {
                            "type": "string",
                            "description": "The IATA code of the flight.",
                            "title": "IATA"
                          },
                          "icao": {
                            "type": "string",
                            "description": "The ICAO code of the flight.",
                            "title": "ICAO"
                          },
                          "codeshared": {
                            "type": "object",
                            "properties": {
                              "airline_name": {
                                "type": "string",
                                "description": "The name of the airline.",
                                "title": "Airline Name"
                              },
                              "airline_iata": {
                                "type": "string",
                                "description": "The IATA code of the airline.",
                                "title": "Airline IATA"
                              },
                              "airline_icao": {
                                "type": "string",
                                "description": "The ICAO code of the airline.",
                                "title": "Airline ICAO"
                              },
                              "flight_number": {
                                "type": "string",
                                "description": "The number of the flight.",
                                "title": "Flight Number"
                              },
                              "flight_iata": {
                                "type": "string",
                                "description": "The IATA code of the flight.",
                                "title": "Flight IATA"
                              },
                              "flight_icao": {
                                "type": "string",
                                "description": "The ICAO code of the flight.",
                                "title": "Flight ICAO"
                              }
                            },
                            "title": "Code Shared"
                          }
                        },
                        "title": "Flight"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get flights",
        "description": "This action tracking flights and retrieving flight status information in real-time.",
        "operationId": "FlightGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Specify a limit of results to return in your API response. Maximum allowed value is 100.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "Specify an offset for pagination. Example: Specifying an offset of 10 in combination with a limit of 10 will show results 10-20. Default offset value is 0, starting with the first available result.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "flight_status",
            "in": "query",
            "x-ms-summary": "Flight Status",
            "description": "Filter your results by flight status. Available values: scheduled, active, landed, cancelled, incident, or diverted.",
            "enum": [
              "scheduled",
              "active",
              "landed",
              "cancelled",
              "incident",
              "diverted"
            ],
            "required": false,
            "type": "string"
          },
          {
            "name": "flight_date",
            "in": "query",
            "x-ms-summary": "Flight Date",
            "description": "Filter your results by providing a flight date in the format YYYY-MM-DD. Example: 2019-02-31.",
            "required": false,
            "type": "string"
          },
          {
            "name": "dep_iata",
            "in": "query",
            "x-ms-summary": "Departure IATA",
            "description": "Filter your results by departure city or airport using an IATA code.",
            "required": false,
            "type": "string"
          },
          {
            "name": "arr_iata",
            "in": "query",
            "x-ms-summary": "Arrival IATA",
            "description": "Filter your results by arrival city or airport using an IATA code.",
            "required": false,
            "type": "string"
          },
          {
            "name": "dep_icao",
            "in": "query",
            "x-ms-summary": "Departure ICAO",
            "description": "Filter your results by departure airport using an ICAO code.",
            "required": false,
            "type": "string"
          },
          {
            "name": "arr_icao",
            "in": "query",
            "x-ms-summary": "Arrival ICAO",
            "description": "Filter your results by departure airport using an ICAO code.",
            "required": false,
            "type": "string"
          },
          {
            "name": "airline_name",
            "in": "query",
            "x-ms-summary": "Airline Name",
            "description": "Filter your results by airline name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "airline_iata",
            "in": "query",
            "x-ms-summary": "Airline IATA",
            "description": "Filter your results by airline IATA code.",
            "required": false,
            "type": "string"
          },
          {
            "name": "airline_icao",
            "in": "query",
            "x-ms-summary": "Airline ICAO",
            "description": "Filter your results by airline ICAO code.",
            "required": false,
            "type": "string"
          },
          {
            "name": "flight_number",
            "in": "query",
            "x-ms-summary": "Flight Number",
            "description": " Filter your results by providing a flight number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "flight_iata",
            "in": "query",
            "x-ms-summary": "Flight IATA",
            "description": "Filter your results by providing a flight IATA code.",
            "required": false,
            "type": "string"
          },
          {
            "name": "flight_icao",
            "in": "query",
            "x-ms-summary": "Flight ICAO",
            "description": "Filter your results by providing a flight ICAO code.",
            "required": false,
            "type": "string"
          },
          {
            "name": "min_delay_dep",
            "in": "query",
            "x-ms-summary": "Minimum Delay Departure",
            "description": "Filter your results by providing a minimum amount of minutes in departure delay.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "min_delay_arr",
            "in": "query",
            "x-ms-summary": "Minimum Delay Arrival",
            "description": "Filter your results by providing a minimum amount of minutes in arrival delay.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "max_delay_dep",
            "in": "query",
            "x-ms-summary": "Maximum Delay Departure",
            "description": "Filter your results by providing a maximum amount of minutes in departure delay.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "max_delay_arr",
            "in": "query",
            "x-ms-summary": "Maximum Delay Arrival",
            "description": "Filter your results by providing a maximum amount of minutes in arrival delay.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "arr_scheduled_time_arr",
            "in": "query",
            "x-ms-summary": "Arrival Scheduled Time",
            "description": "Filter your results by providing a arrival date in the format YYYY-MM-DD. Example: 2019-02-31.",
            "required": false,
            "type": "string"
          },
          {
            "name": "arr_scheduled_time_dep",
            "in": "query",
            "x-ms-summary": "Departure Scheduled Time",
            "description": "Filter your results by providing a departure date in the format YYYY-MM-DD. Example: 2019-02-31",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/airports": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pagination": {
                  "type": "object",
                  "properties": {
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The specified or default limit of results per pagination page.",
                      "title": "Limit"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The specified or default pagination offset.",
                      "title": "Offset"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of results found on the current pagination page.",
                      "title": "Count"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of results found for your request. ",
                      "title": "Total"
                    }
                  },
                  "title": "Pagination"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "airport_name": {
                        "type": "string",
                        "description": "The full name of the airport.",
                        "title": "Airport Name"
                      },
                      "iata_code": {
                        "type": "string",
                        "description": "The IATA code associated with the airport.",
                        "title": "IATA Code"
                      },
                      "icao_code": {
                        "type": "string",
                        "description": "The ICAO code associated with the airport.",
                        "title": "ICAO Code"
                      },
                      "latitude": {
                        "type": "string",
                        "description": "The latitude coordinate associated with the airport location.",
                        "title": "Latitude"
                      },
                      "longitude": {
                        "type": "string",
                        "description": "The longitude coordinate associated with the airport location.",
                        "title": "Longitude"
                      },
                      "geoname_id": {
                        "type": "string",
                        "description": "The GeoNames ID of the airport.",
                        "title": "GeoName ID"
                      },
                      "timezone": {
                        "type": "string",
                        "description": "The timezone the airport is in.",
                        "title": "Timezone"
                      },
                      "gmt": {
                        "type": "string",
                        "description": "The GMT offset in hours.",
                        "title": "GMT"
                      },
                      "phone_number": {
                        "type": "string",
                        "description": "The phone number of the airport.",
                        "title": "Phone Number"
                      },
                      "country_name": {
                        "type": "string",
                        "description": "The name of the country the airport is in.",
                        "title": "Country Name"
                      },
                      "country_iso2": {
                        "type": "string",
                        "description": "The ISO code of the country the airport is in.",
                        "title": "Country ISO"
                      },
                      "city_iata_code": {
                        "type": "string",
                        "description": "The IATA code of the city the airport is in.",
                        "title": "City IATA Code"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get airports",
        "description": "This action returns data about global airports.",
        "operationId": "AirportGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Specify a limit of results to return in your API response. Maximum allowed value is 100.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "Specify an offset for pagination. Example: Specifying an offset of 10 in combination with a limit of 10 will show results 10-20. Default offset value is 0, starting with the first available result.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/airlines": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pagination": {
                  "type": "object",
                  "properties": {
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The specified or default limit of results per pagination page.",
                      "title": "Limit"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The specified or default pagination offset.",
                      "title": "Offset"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of results found on the current pagination page.",
                      "title": "Count"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of results found for your request. ",
                      "title": "Total"
                    }
                  },
                  "title": "Pagination"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "airline_name": {
                        "type": "string",
                        "description": "The full name of the airline.",
                        "title": "Airline Name"
                      },
                      "iata_code": {
                        "type": "string",
                        "description": "The IATA code of the airline.",
                        "title": "IATA Code"
                      },
                      "iata_prefix_accounting": {
                        "type": "string",
                        "description": "The IATA prefix or accounting code of the airline.",
                        "title": "IATA Prefix Accounting"
                      },
                      "icao_code": {
                        "type": "string",
                        "description": "The ICAO code of the airline.",
                        "title": "ICAO Code"
                      },
                      "callsign": {
                        "type": "string",
                        "description": "The ICAO callsign of the airline.",
                        "title": "Call Sign"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type of airline.",
                        "title": "Type"
                      },
                      "status": {
                        "type": "string",
                        "description": "The current status of the airline.",
                        "title": "Status"
                      },
                      "fleet_size": {
                        "type": "string",
                        "description": "The fleet size of the airline.",
                        "title": "Fleet Size"
                      },
                      "fleet_average_age": {
                        "type": "string",
                        "description": "The average aircraft age of the fleet.",
                        "title": "Fleet Average Age"
                      },
                      "date_founded": {
                        "type": "string",
                        "description": "The founding year of the airline.",
                        "title": "Date Founded"
                      },
                      "hub_code": {
                        "type": "string",
                        "description": "The hub code associated with the airline.",
                        "title": "Hub Code"
                      },
                      "country_name": {
                        "type": "string",
                        "description": "The name of the origin country of the airline.",
                        "title": "Country Name"
                      },
                      "country_iso2": {
                        "type": "string",
                        "description": "The 2-letter ISO code of the origin country of the airline.",
                        "title": "Country ISO"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get airlines",
        "description": "This action returns data about global airlines.",
        "operationId": "AirlineGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Specify a limit of results to return in your API response. Maximum allowed value is 100.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "Specify an offset for pagination. Example: Specifying an offset of 10 in combination with a limit of 10 will show results 10-20. Default offset value is 0, starting with the first available result.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/airplanes": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pagination": {
                  "type": "object",
                  "properties": {
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The specified or default limit of results per pagination page.",
                      "title": "Limit"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The specified or default pagination offset.",
                      "title": "Offset"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of results found on the current pagination page.",
                      "title": "Count"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of results found for your request. ",
                      "title": "Total"
                    }
                  },
                  "title": "Pagination"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "registration_number": {
                        "type": "string",
                        "description": "The registration number of the airplane.",
                        "title": "Registration Number"
                      },
                      "production_line": {
                        "type": "string",
                        "description": "The production line identifier of the airplane.",
                        "title": "Production Line"
                      },
                      "iata_type": {
                        "type": "string",
                        "description": "The IATA type of the airplane.",
                        "title": "IATA Type"
                      },
                      "model_name": {
                        "type": "string",
                        "description": "The model name of the airplane.",
                        "title": "Model Name"
                      },
                      "model_code": {
                        "type": "string",
                        "description": "The model code of the airplane.",
                        "title": "Model Code"
                      },
                      "icao_code_hex": {
                        "type": "string",
                        "description": "The HEX ICAO code of the airplane.",
                        "title": "ICAO Code Hex"
                      },
                      "iata_code_short": {
                        "type": "string",
                        "description": "The short IATA code of the airplane.",
                        "title": "IATA Code Short"
                      },
                      "construction_number": {
                        "type": "string",
                        "description": "The construction number of the airplane.",
                        "title": "Construction Number"
                      },
                      "test_registration_number": {
                        "type": "string",
                        "description": "The test registration number of the airplane.",
                        "title": "Test Registration Number"
                      },
                      "rollout_date": {
                        "type": "string",
                        "description": "The rollout date of the airplane.",
                        "title": "Rollout Date"
                      },
                      "first_flight_date": {
                        "type": "string",
                        "description": "The first flight date of the airplane.",
                        "title": "First Flight Date"
                      },
                      "delivery_date": {
                        "type": "string",
                        "description": "The initial delivery date of the airplane.",
                        "title": "Delivery Date"
                      },
                      "registration_date": {
                        "type": "string",
                        "description": "The initial registration date of the airplane.",
                        "title": "Registration Date"
                      },
                      "line_number": {
                        "type": "string",
                        "description": "The production line number of the airplane.",
                        "title": "Line Number"
                      },
                      "plane_series": {
                        "type": "string",
                        "description": "The airplane series.",
                        "title": "Plane Series"
                      },
                      "airline_iata_code": {
                        "type": "string",
                        "description": "The IATA code of the airplane.",
                        "title": "Airline IATA Code"
                      },
                      "airline_icao_code": {
                        "type": "string",
                        "description": "The ICAO code of the airplane.",
                        "title": "Airline ICAO Code"
                      },
                      "plane_owner": {
                        "type": "string",
                        "description": "The owner name of the airplane.",
                        "title": "Plane Owner"
                      },
                      "engines_count": {
                        "type": "string",
                        "description": "The number of engines on the airplane.",
                        "title": "Engines Count"
                      },
                      "engines_type": {
                        "type": "string",
                        "description": "The type of engines on the airplane.",
                        "title": "Engines Type"
                      },
                      "plane_age": {
                        "type": "string",
                        "description": "The age of the airplane in years.",
                        "title": "Plane Age"
                      },
                      "plane_status": {
                        "type": "string",
                        "description": "The current status of the airplane.",
                        "title": "Plane Status"
                      },
                      "plane_class": {
                        "type": "string",
                        "description": "TReturns one or multiple sub-objects containing information about the types of classes (e.g. Economy Class, Business Class) are available on the given airplane as well as details about the number of seats available, beds, cabin width, and more.",
                        "title": "Plane Class"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get airplanes",
        "description": "This action returns data about different airplanes and aircraft.",
        "operationId": "AirplaneGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Specify a limit of results to return in your API response. Maximum allowed value is 100.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "Specify an offset for pagination. Example: Specifying an offset of 10 in combination with a limit of 10 will show results 10-20. Default offset value is 0, starting with the first available result.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/aircraft_types": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pagination": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The specified or default pagination offset.",
                      "title": "Offset"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The specified or default limit of results per pagination page.",
                      "title": "Limit"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of results found on the current pagination page.",
                      "title": "Count"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of results found for your request. ",
                      "title": "Total"
                    }
                  },
                  "title": "Pagination"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The aircraft type identifier.",
                        "title": "ID"
                      },
                      "iata_code": {
                        "type": "string",
                        "description": "The IATA associated with the aircraft type.",
                        "title": "IATA Code"
                      },
                      "aircraft_name": {
                        "type": "string",
                        "description": "The aircraft name associated with the aircraft type.",
                        "title": "Aircraft Name"
                      },
                      "plane_type_id": {
                        "type": "string",
                        "description": "The plane type identifier associated with the aircraft type.",
                        "title": "Plane Type ID"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get aircraft types",
        "description": "This action returns data about different aircraft types.",
        "operationId": "AircraftGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Specify a limit of results to return in your API response. Maximum allowed value is 100.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "Specify an offset for pagination. Example: Specifying an offset of 10 in combination with a limit of 10 will show results 10-20. Default offset value is 0, starting with the first available result.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/taxes": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pagination": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The specified or default pagination offset.",
                      "title": "Offset"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The specified or default limit of results per pagination page.",
                      "title": "Limit"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of results found on the current pagination page.",
                      "title": "Count"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of results found for your request. ",
                      "title": "Total"
                    }
                  },
                  "title": "Pagination"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The aviation tax identifier.",
                        "title": "ID"
                      },
                      "tax_id": {
                        "type": "string",
                        "description": "The identifier of the aviation tax.",
                        "title": "Tax ID"
                      },
                      "tax_name": {
                        "type": "string",
                        "description": "The name of the aviation tax.",
                        "title": "Tax Name"
                      },
                      "iata_code": {
                        "type": "string",
                        "description": "The IATA code associated with the aviation tax.",
                        "title": "IATA Code"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get aviation taxes",
        "description": "This action returns data about aviation taxes.",
        "operationId": "TaxesGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Specify a limit of results to return in your API response. Maximum allowed value is 100.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "Specify an offset for pagination. Example: Specifying an offset of 10 in combination with a limit of 10 will show results 10-20. Default offset value is 0, starting with the first available result.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/cities": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pagination": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The specified or default pagination offset.",
                      "title": "Offset"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The specified or default limit of results per pagination page.",
                      "title": "Limit"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of results found on the current pagination page.",
                      "title": "Count"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of results found for your request. ",
                      "title": "Total"
                    }
                  },
                  "title": "Pagination"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "gmt": {
                        "type": "string",
                        "description": "The GMT offset in hours.",
                        "title": "GMT"
                      },
                      "city_id": {
                        "type": "string",
                        "description": "The city identifier.",
                        "title": "City ID"
                      },
                      "iata_code": {
                        "type": "string",
                        "description": "The IATA code of the city.",
                        "title": "IATA Code"
                      },
                      "country_iso2": {
                        "type": "string",
                        "description": "The 2-letter ISO code of the city.",
                        "title": "Country ISO"
                      },
                      "geoname_id": {
                        "type": "string",
                        "description": "The GeoName ID associated with the city.",
                        "title": "Geoname ID"
                      },
                      "latitude": {
                        "type": "string",
                        "description": "The latitude coordinate associated with the city.",
                        "title": "Latitude"
                      },
                      "longitude": {
                        "type": "string",
                        "description": "The longitude coordinate associated with the city.",
                        "title": "Longitude"
                      },
                      "city_name": {
                        "type": "string",
                        "description": "The name of the city.",
                        "title": "City Name"
                      },
                      "timezone": {
                        "type": "string",
                        "description": "The timezone the city is in.",
                        "title": "Timezone"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get cities",
        "description": "This action returns data about destination cities.",
        "operationId": "CityGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Specify a limit of results to return in your API response. Maximum allowed value is 100.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "Specify an offset for pagination. Example: Specifying an offset of 10 in combination with a limit of 10 will show results 10-20. Default offset value is 0, starting with the first available result.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/countries": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pagination": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The specified or default pagination offset.",
                      "title": "Offset"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The specified or default limit of results per pagination page.",
                      "title": "Limit"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of results found on the current pagination page.",
                      "title": "Count"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of results found for your request. ",
                      "title": "Total"
                    }
                  },
                  "title": "Pagination"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "capital": {
                        "type": "string",
                        "description": "The capital of the country.",
                        "title": "Capital"
                      },
                      "currency_code": {
                        "type": "string",
                        "description": "The code of the currency associated with the country.",
                        "title": "Currency Code"
                      },
                      "fips_code": {
                        "type": "string",
                        "description": "The FIPS code of the country.",
                        "title": "FIPS Code"
                      },
                      "country_iso2": {
                        "type": "string",
                        "description": "The 2-letter ISO code of the country.",
                        "title": "Country ISO"
                      },
                      "country_iso3": {
                        "type": "string",
                        "description": "The 3-letter ISO code of the country.",
                        "title": "Country ISO 3"
                      },
                      "continent": {
                        "type": "string",
                        "description": "The continent the country is located in.",
                        "title": "Continent"
                      },
                      "country_id": {
                        "type": "string",
                        "description": "The identifier of the country.",
                        "title": "Country ID"
                      },
                      "country_name": {
                        "type": "string",
                        "description": "The name of the country.",
                        "title": "Country Name"
                      },
                      "currency_name": {
                        "type": "string",
                        "description": "The name of the currency associated with the country.",
                        "title": "Currency Name"
                      },
                      "country_iso_numeric": {
                        "type": "string",
                        "description": "The numeric ISO code of the country.",
                        "title": "Country ISO Numeric"
                      },
                      "phone_prefix": {
                        "type": "string",
                        "description": "The phone prefix associated with the country.",
                        "title": "Phone Prefix"
                      },
                      "population": {
                        "type": "string",
                        "description": "The population of the country.",
                        "title": "Population"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get countries",
        "description": "This action returns data about destination countries.",
        "operationId": "CountryGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Specify a limit of results to return in your API response. Maximum allowed value is 100.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "Specify an offset for pagination. Example: Specifying an offset of 10 in combination with a limit of 10 will show results 10-20. Default offset value is 0, starting with the first available result.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "query",
      "name": "access_key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://aviationstack.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.ideracorp.com/Legal/APILayer/PrivacyStatement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}