{
  "swagger": "2.0",
  "info": {
    "version": "V1",
    "title": "intelliHR",
    "description": "intelliHR is a cloud-based people management platform with advanced analytics capabilities.  Connect to your intelliHR tenant to automate people-oriented workflows (such as onboarding) and data export.",
    "contact": {
      "email": "support@intellihr.co",
      "name": "Customer Support",
      "url": "https://intellihr.zendesk.com/hc/en-us"
    }
  },
  "host": "api.intellihr.io",
  "basePath": "/v1",
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.intellihr.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://intellihr.co/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Human Resources;Business Intelligence"
    }
  ],
  "paths": {
    "/business-entities": {
      "get": {
        "description": "Returns a list of all Business Entities.",
        "summary": "List all Business Entities",
        "tags": [
          "Business Entities"
        ],
        "operationId": "ListallBusinessEntities",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 100,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The number of items per page",
            "x-ms-summary": "The number of items per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "exclusiveMinimum": false,
            "description": "The page number",
            "x-ms-summary": "The page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListofBusinessEntities"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/business-entities/{id}": {
      "get": {
        "description": "Returns a single Business Entity by its identifier.",
        "summary": "Find a Business Entity by ID",
        "tags": [
          "Business Entities"
        ],
        "operationId": "FindaBusinessEntitybyID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource identifier string",
            "x-ms-summary": "The resource identifier string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SingleBusinessEntity"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/business-units": {
      "get": {
        "description": "Returns a list of all Business Units recorded in the system.",
        "summary": "List all Business Units",
        "tags": [
          "Business Units"
        ],
        "operationId": "ListallBusinessUnits",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 100,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The number of items per page",
            "x-ms-summary": "The number of items per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "exclusiveMinimum": false,
            "description": "The page number",
            "x-ms-summary": "The page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListofBusinessUnits"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Returns the created Business Unit.",
        "summary": "Create a new Business Unit",
        "tags": [
          "Business Units"
        ],
        "operationId": "CreateanewBusinessUnit",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/BusinessUnit"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created Successfully",
            "schema": {
              "$ref": "#/definitions/Response"
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "BadRequest",
                  "message": "error",
                  "code": 400,
                  "errors": [
                    {
                      "code": 400,
                      "detail": "An invalid UUID was provided"
                    },
                    {
                      "code": 400,
                      "detail": "An invalid email address was provided"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Forbidden",
                  "message": "Error",
                  "code": 403,
                  "errors": {}
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/business-units/{id}": {
      "get": {
        "description": "Returns a single Business Unit.",
        "summary": "Find a Business Unit by ID",
        "tags": [
          "Business Units"
        ],
        "operationId": "FindaBusinessUnitbyID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource identifier string",
            "x-ms-summary": "The ID of the business unit",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Response"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a Business Unit by the given ID.",
        "summary": "Delete a Business Unit by ID",
        "tags": [
          "Business Units"
        ],
        "operationId": "DeleteaBusinessUnitbyID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource identifier string",
            "x-ms-summary": "The ID of the business unit",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "type": "string",
              "properties": {}
            }
          },
          "204": {
            "description": "Success",
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "BadRequest",
                  "message": "error",
                  "code": 400,
                  "errors": [
                    {
                      "code": 400,
                      "detail": "An invalid UUID was provided"
                    },
                    {
                      "code": 400,
                      "detail": "An invalid email address was provided"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Forbidden",
                  "message": "Error",
                  "code": 403,
                  "errors": {}
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Returns the updated Business Unit.",
        "summary": "Update a Business Unit by ID",
        "tags": [
          "Business Units"
        ],
        "operationId": "UpdateaBusinessUnitbyID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource identifier string",
            "x-ms-summary": "The ID of the business unit",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/BusinessUnit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Response"
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "BadRequest",
                  "message": "error",
                  "code": 400,
                  "errors": [
                    {
                      "code": 400,
                      "detail": "An invalid UUID was provided"
                    },
                    {
                      "code": 400,
                      "detail": "An invalid email address was provided"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Forbidden",
                  "message": "Error",
                  "code": 403,
                  "errors": {}
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/custom-field-definitions": {
      "get": {
        "description": "Returns a list of all Custom Field Definitions.",
        "summary": "List all Custom Field Definitions",
        "tags": [
          "Custom Field Definitions"
        ],
        "operationId": "ListallCustomFieldDefinitions",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 100,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The number of items per page",
            "x-ms-summary": "The number of items per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "exclusiveMinimum": false,
            "description": "The page number",
            "x-ms-summary": "The page number"
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Filters to apply to the query",
            "description": "Filters can be applied in the query string to limit the data returned from this endpoint. Filters are provided in the format `filters[<filter_name>][<operation_type>]=<filter_value>`. For example, a filter to get items matching a specific ID would be `filters[id][eq]=8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9`."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListofCustomFieldDefinitions"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/custom-field-definitions/{id}": {
      "get": {
        "description": "Returns a single Custom Field Definition.",
        "summary": "Find a Custom Field Definition by ID",
        "tags": [
          "Custom Field Definitions"
        ],
        "operationId": "FindaCustomFieldDefinitionbyID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource identifier string",
            "x-ms-summary": "The ID of the custom field",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SingleCustomFieldDefinition"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/default-remuneration-components": {
      "get": {
        "description": "Returns a list of all Default Remuneration Components recorded in the system.",
        "summary": "List all Default Remuneration Components",
        "tags": [
          "Default Remuneration Components"
        ],
        "operationId": "ListallDefaultRemunerationComponents",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 100,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The number of items per page",
            "x-ms-summary": "The number of items per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "exclusiveMinimum": false,
            "description": "The page number",
            "x-ms-summary": "The page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListofDefaultRemunerationComponents"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/default-remuneration-components/{id}": {
      "get": {
        "description": "Returns a single default remuneration component.",
        "summary": "Find a Default Remuneration Component by ID",
        "tags": [
          "Default Remuneration Components"
        ],
        "operationId": "FindaDefaultRemunerationComponentbyID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource identifier string",
            "x-ms-summary": "The remuneration component ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SingleDefaultRemunerationComponent"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/employment-conditions": {
      "get": {
        "description": "Returns a list of all employment conditions.",
        "summary": "List all employment conditions",
        "tags": [
          "Employment Conditions"
        ],
        "operationId": "Listallemploymentconditions",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 100,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The number of items per page",
            "x-ms-summary": "The number of items per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "exclusiveMinimum": false,
            "description": "The page number",
            "x-ms-summary": "The page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListofEmploymentConditions"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/employment-conditions/{id}": {
      "get": {
        "description": "Returns a single employment condition.",
        "summary": "Find an Employment Condition by ID",
        "tags": [
          "Employment Conditions"
        ],
        "operationId": "FindanEmploymentConditionbyID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource identifier string",
            "x-ms-summary": "The employment condition ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SingleEmploymentCondition"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/job-end/{id}": {
      "patch": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SingleJob"
            },
            "headers": {}
          }
        },
        "summary": "Set the end date for a job",
        "description": "Set the end date for a job",
        "operationId": "EndJob",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the job to end",
            "x-ms-summary": "The ID of the job to end",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "endDate": {
                  "type": "string",
                  "description": "endDate",
                  "title": ""
                },
                "turnoverType": {
                  "type": "string",
                  "description": "turnoverType",
                  "title": ""
                },
                "turnoverReason": {
                  "type": "string",
                  "description": "turnoverReason"
                }
              },
              "required": [
                "endDate",
                "turnoverType"
              ]
            }
          }
        ]
      }
    },
    "/jobs": {
      "get": {
        "description": "Returns a list of all Job entity records as at the current date.",
        "summary": "List all Jobs",
        "tags": [
          "Jobs"
        ],
        "operationId": "ListallJobs",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 100,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The number of items per page",
            "x-ms-summary": "The number of items per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "exclusiveMinimum": false,
            "description": "The page number",
            "x-ms-summary": "The page number"
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Filters to apply to the query",
            "description": "Filters can be applied in the query string to limit the data returned from this endpoint. Filters are provided in the format `filters[<filter_name>][<operation_type>]=<filter_value>`. For example, a filter to get items matching a specific ID would be `filters[id][eq]=8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9`."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sorting order to apply to the query",
            "description": "Sorting can be applied in the query string to order the data returned from this endpoint. Sort can be prepended with a minus to return the data in descending (-) order. For example, a sort to get the most recent records first would be `-createdAt`."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListJobs"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new Job record with the provided data.",
        "summary": "Create a new Job",
        "tags": [
          "Jobs"
        ],
        "operationId": "CreateanewJob",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/job_create_request"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created Successfully",
            "schema": {
              "$ref": "#/definitions/SingleJob"
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "BadRequest",
                  "message": "error",
                  "code": 400,
                  "errors": [
                    {
                      "code": 400,
                      "detail": "An invalid UUID was provided"
                    },
                    {
                      "code": 400,
                      "detail": "An invalid email address was provided"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Forbidden",
                  "message": "Error",
                  "code": 403,
                  "errors": {}
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{id}": {
      "get": {
        "description": "Get a single Job record by UUIDv4 identifier.",
        "summary": "Find a Job by ID",
        "tags": [
          "Jobs"
        ],
        "operationId": "FindaJobbyID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource identifier string",
            "x-ms-summary": "The ID of the job to return",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "asAt",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return data accurate for the job at this date",
            "description": "Used to configure what date to return this job data for, as a [RFC3339](https://tools.ietf.org/html/rfc3339#section-5.6) datetime. \n\nAll data returned from the job endpoints represent the values of the Person's job attributes at a specific point in time. \n\nBy default, the current datetime is used, but this parameter can be used to configure a different datetime to see historical data."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SingleJob"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Patch attributes of an existing Job record with the provided data.",
        "summary": "Patch an existing Job",
        "tags": [
          "Jobs"
        ],
        "operationId": "PatchanexistingJob",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The ID of the job",
            "description": "The resource identifier string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/job_patch_request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SingleJob"
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "BadRequest",
                  "message": "error",
                  "code": 400,
                  "errors": [
                    {
                      "code": 400,
                      "detail": "An invalid UUID was provided"
                    },
                    {
                      "code": 400,
                      "detail": "An invalid email address was provided"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Forbidden",
                  "message": "Error",
                  "code": 403,
                  "errors": {}
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/locations": {
      "get": {
        "description": "Returns a list of all locations.",
        "summary": "List all locations",
        "tags": [
          "Locations"
        ],
        "operationId": "Listalllocations",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 100,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The number of items per page",
            "x-ms-summary": "The number of items per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "exclusiveMinimum": false,
            "description": "The page number",
            "x-ms-summary": "The page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Listlocations"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/locations/{id}": {
      "get": {
        "description": "Returns a single location.",
        "summary": "Find a Location by ID",
        "tags": [
          "Locations"
        ],
        "operationId": "FindaLocationbyID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource identifier string",
            "x-ms-summary": "The ID of the location",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SingleLocation"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/pay-grades": {
      "get": {
        "description": "Returns a list of all pay grades.",
        "summary": "List all pay grades",
        "tags": [
          "Pay Grades"
        ],
        "operationId": "Listallpaygrades",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 100,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The number of items per page",
            "x-ms-summary": "The number of items per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "exclusiveMinimum": false,
            "description": "The page number",
            "x-ms-summary": "The page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListofPayGrades"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/pay-grades/{id}": {
      "get": {
        "description": "Returns a single pay grade.",
        "summary": "Find a Pay Grade by ID",
        "tags": [
          "Pay Grades"
        ],
        "operationId": "FindaPayGradebyID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource identifier string",
            "x-ms-summary": "The ID of the pay grade",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SinglePayGrade"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/people": {
      "get": {
        "description": "Returns a list of all People as at the current date.",
        "summary": "List all people",
        "tags": [
          "People"
        ],
        "operationId": "Listallpeople",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 100,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The number of items per page",
            "x-ms-summary": "The number of items per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "exclusiveMinimum": false,
            "description": "The page number",
            "x-ms-summary": "The page number"
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Filters to apply to the query",
            "description": "Filters can be applied in the query string to limit the data returned from this endpoint. Filters are provided in the format `filters[<filter_name>][<operation_type>]=<filter_value>`. For example, a filter to get items matching a specific ID would be `filters[id][eq]=8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9`."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sorting order to apply to the query",
            "description": "Sorting can be applied in the query string to order the data returned from this endpoint. Sort can be prepended with a minus to return the data in descending (-) order. For example, a sort to get the most recent records first would be `-createdAt`."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListPeople"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a person",
        "summary": "Create a new person record",
        "tags": [
          "People"
        ],
        "operationId": "CreateaPerson",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/people_create_request"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created Successfully",
            "schema": {
              "$ref": "#/definitions/SinglePerson"
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "BadRequest",
                  "message": "error",
                  "code": 400,
                  "errors": [
                    {
                      "code": 400,
                      "detail": "An invalid UUID was provided"
                    },
                    {
                      "code": 400,
                      "detail": "An invalid email address was provided"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Forbidden",
                  "message": "Error",
                  "code": 403,
                  "errors": {}
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/people/{id}": {
      "get": {
        "description": "Get a single Person record by UUIDv4 identifier.",
        "summary": "Find a Person by ID",
        "tags": [
          "People"
        ],
        "operationId": "FindaPersonbyID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the person record",
            "x-ms-summary": "The ID of the person record",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SinglePerson"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Update a person",
        "summary": "Update a Person by ID",
        "tags": [
          "People"
        ],
        "operationId": "UpdatePersonByID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource identifier string",
            "x-ms-summary": "The ID of the person record",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/people_update_request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SinglePerson"
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "BadRequest",
                  "message": "error",
                  "code": 400,
                  "errors": [
                    {
                      "code": 400,
                      "detail": "An invalid UUID was provided"
                    },
                    {
                      "code": 400,
                      "detail": "An invalid email address was provided"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Forbidden",
                  "message": "Error",
                  "code": 403,
                  "errors": {}
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/person-documents": {
      "post": {
        "description": "Create a presigned upload URL",
        "summary": "Create a presigned upload URL",
        "tags": [
          "Person Documents"
        ],
        "operationId": "PersonDocuments_POST",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/person_documents_create_request"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created Successfully",
            "schema": {
              "$ref": "#/definitions/SinglePersonDocument"
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "BadRequest",
                  "message": "error",
                  "code": 400,
                  "errors": [
                    {
                      "code": 400,
                      "detail": "An invalid UUID was provided"
                    },
                    {
                      "code": 400,
                      "detail": "An invalid email address was provided"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Forbidden",
                  "message": "Error",
                  "code": 403,
                  "errors": {}
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/person-documents/{id}": {
      "patch": {
        "description": "Update a Document",
        "summary": "Update a document by id",
        "tags": [
          "Person Documents"
        ],
        "operationId": "PersonDocumentsById_PATCH",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource identifier string",
            "x-ms-summary": "The ID of the document",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/person_documents_patch_request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PatchaPersonDocument"
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "BadRequest",
                  "message": "error",
                  "code": 400,
                  "errors": [
                    {
                      "code": 400,
                      "detail": "An invalid UUID was provided"
                    },
                    {
                      "code": 400,
                      "detail": "An invalid email address was provided"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Forbidden",
                  "message": "Error",
                  "code": 403,
                  "errors": {}
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/recruitment-sources": {
      "get": {
        "description": "Returns a list of all recruitment sources.",
        "summary": "List all recruitment sources",
        "tags": [
          "Recruitment Sources"
        ],
        "operationId": "Listallrecruitmentsources",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 100,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The number of items per page",
            "x-ms-summary": "The number of items per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "exclusiveMinimum": false,
            "description": "The page number",
            "x-ms-summary": "The page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListofRecruitmentSources"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/recruitment-sources/{id}": {
      "get": {
        "description": "Returns a single recruitment source.",
        "summary": "Find a Recruitment Source by ID",
        "tags": [
          "Recruitment Sources"
        ],
        "operationId": "FindaRecruitmentSourcebyID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource identifier string",
            "x-ms-summary": "The ID of the recruitment source",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SingleRecruitmentSource"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/training-providers": {
      "get": {
        "description": "Returns a list of all Training Providers.",
        "summary": "List all Training Providers",
        "tags": [
          "Training Providers"
        ],
        "operationId": "ListallTrainingProviders",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 100,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The number of items per page",
            "x-ms-summary": "The number of items per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "exclusiveMinimum": false,
            "description": "The page number",
            "x-ms-summary": "The page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListallTrainingProviders"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/training-providers/{id}": {
      "get": {
        "description": "Returns a single Training Provider.",
        "summary": "Find a Training Provider by ID",
        "tags": [
          "Training Providers"
        ],
        "operationId": "FindaTrainingProviderbyID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource identifier string",
            "x-ms-summary": "The ID of the training provider",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SingleTrainingProvider"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/trainings": {
      "get": {
        "description": "Returns a list of all Training records.",
        "summary": "List all Trainings",
        "tags": [
          "Trainings"
        ],
        "operationId": "ListallTrainings",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 100,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The number of items per page",
            "x-ms-summary": "The number of items per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "exclusiveMinimum": false,
            "description": "The page number",
            "x-ms-summary": "The page number"
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Filters to apply to the query",
            "description": "Filters can be applied in the query string to limit the data returned from this endpoint. Filters are provided in the format `filters[<filter_name>][<operation_type>]=<filter_value>`. For example, a filter to get items matching a specific ID would be `filters[id][eq]=8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9`."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sorting order to apply to the query",
            "description": "Sorting can be applied in the query string to order the data returned from this endpoint. Sort can be prepended with a minus to return the data in descending (-) order. For example, a sort to get the most recent records first would be `-createdAt`."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListofTrainings"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new Training record",
        "summary": "Create a Training record",
        "tags": [
          "Trainings"
        ],
        "operationId": "CreateaTraining",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/trainings_create_request"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created Successfully",
            "schema": {
              "$ref": "#/definitions/SingleTraining"
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "BadRequest",
                  "message": "error",
                  "code": 400,
                  "errors": [
                    {
                      "code": 400,
                      "detail": "An invalid UUID was provided"
                    },
                    {
                      "code": 400,
                      "detail": "An invalid email address was provided"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Forbidden",
                  "message": "Error",
                  "code": 403,
                  "errors": {}
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/trainings/{id}": {
      "get": {
        "description": "Returns a single Training record.",
        "summary": "Find a Training record by ID",
        "tags": [
          "Trainings"
        ],
        "operationId": "FindaTrainingbyID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The ID of the training record",
            "description": "The resource identifier string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SingleTraining"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes the provided Training record.",
        "summary": "Delete a Training record by ID",
        "tags": [
          "Trainings"
        ],
        "operationId": "DeleteaTrainingbyID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The ID of the training record",
            "description": "The resource identifier string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "type": "string",
              "properties": {}
            }
          },
          "204": {
            "description": "Success",
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "BadRequest",
                  "message": "error",
                  "code": 400,
                  "errors": [
                    {
                      "code": 400,
                      "detail": "An invalid UUID was provided"
                    },
                    {
                      "code": 400,
                      "detail": "An invalid email address was provided"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Forbidden",
                  "message": "Error",
                  "code": 403,
                  "errors": {}
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Update a Training record",
        "summary": "Update a Training record by ID",
        "tags": [
          "Trainings"
        ],
        "operationId": "UpdateTrainingByID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The ID of the training record",
            "description": "The resource identifier string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/trainings_patch_request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SingleTraining"
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "BadRequest",
                  "message": "error",
                  "code": 400,
                  "errors": [
                    {
                      "code": 400,
                      "detail": "An invalid UUID was provided"
                    },
                    {
                      "code": 400,
                      "detail": "An invalid email address was provided"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Forbidden",
                  "message": "Error",
                  "code": 403,
                  "errors": {}
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/training-types": {
      "get": {
        "description": "Returns a list of all Training Types.",
        "summary": "List all Training Types",
        "tags": [
          "Training Types"
        ],
        "operationId": "ListallTrainingTypes",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 100,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The number of items per page",
            "x-ms-summary": "The number of items per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "exclusiveMinimum": false,
            "description": "The page number",
            "x-ms-summary": "The page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListallTrainingTypes"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/training-types/{id}": {
      "get": {
        "description": "Returns a single Training Type.",
        "summary": "Find a Training Type by ID",
        "tags": [
          "Training Types"
        ],
        "operationId": "FindaTrainingTypebyID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The training type ID",
            "description": "The resource identifier string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SingleTrainingTypes"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/work-classes": {
      "get": {
        "description": "Returns a list of all Work Classes recorded in the system.",
        "summary": "List all work classes",
        "tags": [
          "Work Classes"
        ],
        "operationId": "Listallworkclasses",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 100,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The number of items per page",
            "x-ms-summary": "The number of items per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "exclusiveMinimum": false,
            "description": "The page number",
            "x-ms-summary": "The page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListWorkClasses"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/work-classes/{id}": {
      "get": {
        "description": "Returns a single work class.",
        "summary": "Find a Work Class by ID",
        "tags": [
          "Work Classes"
        ],
        "operationId": "FindaWorkClassbyID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The ID of the work class",
            "description": "The resource identifier string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SingleWorkClass"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/work-rights": {
      "get": {
        "description": "Returns a list of all Work Rights recorded in the system.",
        "summary": "List all Work Rights",
        "tags": [
          "Work Rights"
        ],
        "operationId": "ListallWorkRights",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 100,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The number of items per page",
            "x-ms-summary": "The number of items per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "exclusiveMinimum": false,
            "x-ms-summary": "The page number",
            "description": "The page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListofWorkRights"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/work-rights/{id}": {
      "get": {
        "description": "Returns a single work right.",
        "summary": "Find a Work Right by ID",
        "tags": [
          "Work Rights"
        ],
        "operationId": "FindaWorkRightbyID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The ID of the work right",
            "description": "The resource identifier string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SingleWorkRight"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/work-types": {
      "get": {
        "description": "Returns a list of all Work Types recorded in the system.",
        "summary": "List all Work Types",
        "tags": [
          "Work Types"
        ],
        "operationId": "ListallWorkTypes",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 100,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The number of items per page",
            "x-ms-summary": "The number of items per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "exclusiveMinimum": false,
            "description": "The page number",
            "x-ms-summary": "The page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListWorkTypes"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/work-types/{id}": {
      "get": {
        "description": "Returns a single work type.",
        "summary": "Find a Work Type by ID",
        "tags": [
          "Work Types"
        ],
        "operationId": "FindaWorkTypebyID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The ID of the work type",
            "description": "The resource identifier string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SingleWorkType"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
                  "message": "An internal server error occurred and has been recorded. Please try again later. If this does not resolve your issue, please contact support@intellihr.co for support and guidance.",
                  "code": 500,
                  "errors": {}
                }
              }
            }
          }
        }
      }
    },
    "/webhook-events/{id}": {
      "get": {
        "description": "Returns a single Webhook Event.",
        "summary": "Find a Webhook Event by ID",
        "tags": [
          "Webhook Events"
        ],
        "operationId": "FindaWebhookEventbyID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The ID of the webhook event",
            "description": "The resource identifier string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/webhook-events"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            },
            "examples": {
              "application/json": {
                "value": {
                  "name": "Internal Server Error",
[...]
