{
  "swagger": "2.0",
  "info": {
    "title": "MintNFT",
    "description": "NFT Mania provides you with an Ultimate NFT experience and lets you develop applications in no time!",
    "version": "1.0",
    "contact": {
      "name": "Shreyan J D Fernandes",
      "url": "https://www.linkedin.com/in/shreyan-j-d-fernandes-227789147/",
      "email": "shreyan.fernandes@gmail.com"
    }
  
  },
  "host": "api.nftport.xyz",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v0/mints/easy/urls": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "string",
                  "description": "Response status, either OK or NOK.",
                  "title": "response",
                  "x-ms-visibility": "important"
                },
                "chain": {
                  "type": "string",
                  "description": "Polygon,goerli",
                  "title": "chain",
                  "x-ms-visibility": "important"
                },
                "contract_address": {
                  "type": "string",
                  "description": "The contract address where the NFT was minted.",
                  "title": "contract_address",
                  "x-ms-visibility": "important"
                },
                "transaction_hash": {
                  "type": "string",
                  "description": "The transaction hash which is returned by the blockchain after minting.",
                  "title": "transaction_hash",
                  "x-ms-visibility": "important"
                },
                "transaction_external_url": {
                  "type": "string",
                  "description": "Transaction URL in an external blockchain explorer.",
                  "title": "transaction_external_url",
                  "x-ms-visibility": "important"
                },
                "mint_to_address": {
                  "type": "string",
                  "description": "Account address where the NFT was sent.",
                  "title": "mint_to_address",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the NFT.",
                  "title": "name"
                },
                "description": {
                  "type": "string",
                  "description": "Description of the NFT.",
                  "title": "description"
                }
              }
            }
          },
          "402": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "string",
                  "description": "Response status either OK or NOK.",
                  "title": "response"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "status_code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "HTTP response status code.",
                      "title": "status_code",
                      "x-ms-visibility": "important"
                    },
                    "code": {
                      "type": "string",
                      "description": "Machine readable code describing the error.",
                      "title": "code",
                      "x-ms-visibility": "important"
                    },
                    "message": {
                      "type": "string",
                      "description": "Detailed description of the error.",
                      "title": "message",
                      "x-ms-visibility": "important"
                    }
                  },
                  "description": "error"
                }
              }
            }
          }
        },
        "summary": "Mint NFT",
        "description": "Mints NFT using the image URL",
        "operationId": "Authorization",
        "parameters": [
          {
            "name": "API",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary":"Mint NFT",
            "description": "Mints NFT using the image URL"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "chain": {
                  "type": "string",
                  "description": "Blockchain to mint the NFT on.",
                  "title": "chain",
                  "x-ms-visibility": "important",
                  "enum": [
                    "Polygon",
                    "Goerli"
                  ]
                },
                "name": {
                  "type": "string",
                  "description": "Name of the NFT.",
                  "title": "name",
                  "x-ms-visibility": "important"
                },
                "description": {
                  "type": "string",
                  "description": "Text description of the NFT which will be seen on NFT marketplaces, etc.",
                  "title": "description",
                  "x-ms-visibility": "important"
                },
                "file_url": {
                  "type": "string",
                  "description": "URL that points to the image/video or any other file format as long as it returns a Content-Length and Content-Type header or contains the file extension. HTML files are not supported.",
                  "title": "file_url",
                  "x-ms-visibility": "important"
                },
                "mint_to_address": {
                  "type": "string",
                  "description": "Account address where the NFT will be sent. For example, your Metamask wallet address if you wish to send it to yourself.",
                  "title": "mint_to_address",
                  "x-ms-visibility": "important"
                }
              },
              "x-ms-visibility": "important",
              "required": [
                "chain",
                "description",
                "file_url",
                "mint_to_address",
                "name"
              ]
            },
            "x-ms-visibility": "important"
          }
        ],
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.nftport.xyz/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.nftport.xyz/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}