{
  "swagger": "2.0",
  "info": {
    "title": "MintNFT",
    "description": "NFT Mania provides you with an Ultimate NFT experience and lets you develop applications in no time!",
    "version": "1.0",
    "contact": {
      "name": "Shreyan J D Fernandes",
      "url": "https://www.linkedin.com/in/shreyan-j-d-fernandes-227789147/",
      "email": "shreyan.fernandes@gmail.com"
    }
  },
  "host": "api.nftport.xyz",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v0/mints/easy/urls": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "string",
                  "description": "response"
                },
                "chain": {
                  "type": "string",
                  "description": "chain"
                },
                "contract_address": {
                  "type": "string",
                  "description": "contract_address"
                },
                "transaction_hash": {
                  "type": "string",
                  "description": "transaction_hash"
                },
                "transaction_external_url": {
                  "type": "string",
                  "description": "transaction_external_url"
                },
                "mint_to_address": {
                  "type": "string",
                  "description": "mint_to_address"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                }
              }
            }
          },
          "Error": {
            "description": "NOK",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "string",
                  "description": "response"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "status_code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "status_code"
                    },
                    "code": {
                      "type": "string",
                      "description": "code"
                    },
                    "message": {
                      "type": "string",
                      "description": "message"
                    }
                  },
                  "description": "error"
                }
              }
            }
          }
        },
        "summary": "Mint NFT",
        "description": "Mints NFT using the image URL",
        "operationId": "Authorization",
        "parameters": [
          {
            "name": "API",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "chain": {
                  "type": "string",
                  "description": "chain"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "file_url": {
                  "type": "string",
                  "description": "file_url"
                },
                "mint_to_address": {
                  "type": "string",
                  "description": "mint_to_address"
                }
              },
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ],
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [],
  "tags": []
}