{
  "swagger": "2.0",
  "info": {
    "title": "MintNFT",
    "description": "NFT Mania provides you with an Ultimate NFT experience and lets you develop applications in no time!",
    "version": "1.0",
    "contact": {
      "name": "Shreyan J D Fernandes",
      "url": "https://www.linkedin.com/in/shreyan-j-d-fernandes-227789147/",
      "email": "shreyan.fernandes@gmail.com"
    }
  },
  "host": "api.nftport.xyz",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v0/mints/easy/urls": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "string",
                  "description": "Response status, either OK or NOK.",
                  "title": "response",
                  "x-ms-visibility": "important"
                },
                "chain": {
                  "type": "string",
                  "description": "Polygon,goerli",
                  "title": "chain",
                  "x-ms-visibility": "important"
                },
                "contract_address": {
                  "type": "string",
                  "description": "The contract address where the NFT was minted.",
                  "title": "contract_address",
                  "x-ms-visibility": "important"
                },
                "transaction_hash": {
                  "type": "string",
                  "description": "The transaction hash which is returned by the blockchain after minting.",
                  "title": "transaction_hash",
                  "x-ms-visibility": "important"
                },
                "transaction_external_url": {
                  "type": "string",
                  "description": "Transaction URL in an external blockchain explorer.",
                  "title": "transaction_external_url",
                  "x-ms-visibility": "important"
                },
                "mint_to_address": {
                  "type": "string",
                  "description": "Account address where the NFT was sent.",
                  "title": "mint_to_address",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the NFT.",
                  "title": "name"
                },
                "description": {
                  "type": "string",
                  "description": "Description of the NFT.",
                  "title": "description"
                }
              }
            }
          }
        },
        "summary": "Mint NFT",
        "description": "Mints NFT using the image URL",
        "operationId": "Authorization",
        "parameters": [
          {
            "name": "API",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "chain": {
                  "type": "string",
                  "description": "chain"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "file_url": {
                  "type": "string",
                  "description": "file_url"
                },
                "mint_to_address": {
                  "type": "string",
                  "description": "mint_to_address"
                }
              },
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ],
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [],
  "tags": []
}