{
  "swagger": "2.0",
  "info": {
    "title": "PowerBI Admin API",
    "description": "Provides access to the Power BI Admin API for performing administrative tasks like examining workspaces, datasets, reports and dashboards (https://docs.microsoft.com/en-us/rest/api/power-bi/admin)",
    "version": "1.0",
	"contact" : {
		"name" : "Paul Culmsee",
		"url" : "https://docs.microsoft.com/en-us/power-bi/fundamentals/power-bi-overview",
		"email" : "paul.culmsee@sevensigma.com.au"
	}
  },
  "host": "api.powerbi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1.0/myorg/admin/groups": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "@odata.count"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "isReadOnly": {
                        "type": "boolean",
                        "description": "isReadOnly"
                      },
                      "isOnDedicatedCapacity": {
                        "type": "boolean",
                        "description": "isOnDedicatedCapacity"
                      },
                      "capacityMigrationStatus": {
                        "type": "string",
                        "description": "capacityMigrationStatus",
                        "title": "Capacity Migration Status"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "state": {
                        "type": "string",
                        "description": "state"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Get Groups as Admin",
        "description": "Returns a list of workspaces for the organization",
        "operationId": "GroupsGetGroupsAsAdmin",
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-summary" : "Use the expand property to expand certain properties in the group return object.",
            "description": "Use the expand property to expand certain properties in the group return object."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-summary" : "Enter filter criteria (eg type eq 'Workspace')",
            "description": "Use the filter parameter to filter groups on a property. In the default example this will contain a filter to get only groups of type 'Workspace'."
          },
          {
            "name": "$top",
            "in": "query",
            "required": true,
            "type": "integer",
			"x-ms-summary" : "Number of records to return",
            "description": "Use the top parameter to set the top n results",
            "default": 500,
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
			"x-ms-summary" : "Number of records to skip",
            "description": "Use the top parameter to skip the first x amount of groups that are being returned."
          }
        ]
      }
    },
    "/v1.0/myorg/admin/groups/{groupId}/users": {},
    "/v1.0/myorg/admin/dataflows": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "objectId": {
                        "type": "string",
                        "description": "objectId"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "modelUrl": {
                        "type": "string",
                        "description": "modelUrl"
                      },
                      "configuredBy": {
                        "type": "string",
                        "description": "configuredBy"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Get Dataflows As Admin",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-summary" : "Enter filter criteria (eg type eq 'Workspace')",
			"description" : "Filters the results, based on a boolean condition"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-summary" : "Number of records to return",
            "description": "Use the top parameter to set the top n results"
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-summary" : "Number of records to skip",
            "description": "Use the top parameter to skip the first x amount of groups that are being returned."
          }
        ],
        "description": "Returns a list of dataflows for the organization",
        "operationId": "DataflowsGetDataflowsAsAdmin"
      }
    },
    "/v1.0/myorg/admin/dataflows/{dataflowId}/datasources": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "connectionString": {
                        "type": "string",
                        "description": "connectionString"
                      },
                      "datasourceType": {
                        "type": "string",
                        "description": "datasourceType"
                      },
                      "datasourceId": {
                        "type": "string",
                        "description": "datasourceId"
                      },
                      "gatewayId": {
                        "type": "string",
                        "description": "gatewayId"
                      },
                      "connectionDetails": {
                        "type": "object",
                        "properties": {
                          "server": {
                            "type": "string",
                            "description": "server"
                          },
                          "database": {
                            "type": "string",
                            "description": "database"
                          }
                        },
                        "description": "connectionDetails"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Get Dataflow Datasources As Admin",
        "description": "Returns a list of datasources for the specified dataflow",
        "operationId": "DataflowsGetDataflowDatasourcesAsAdmin",
        "parameters": [
          {
            "name": "dataflowId",
            "in": "path",
            "required": true,
            "type": "string",
			"x-ms-url-encoding": "single",
			"x-ms-summary" : "Number of records to return",
            "description": "The dataflow id"
          }
        ]
      }
    },
    "/v1.0/myorg/admin/dashboards": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "displayName"
                      },
                      "embedUrl": {
                        "type": "string",
                        "description": "embedUrl"
                      },
                      "isReadOnly": {
                        "type": "boolean",
                        "description": "isReadOnly"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Get Dashboards As Admin",
        "description": "Returns a list of dashboards for the organization.",
        "operationId": "DashboardsGetDashboardsAsAdmin",
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-summary" : "Enter expand query",
			"description" : "Expands related entities inline, receives a comma-separated list of data types. Supported: tiles"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
			"description" : "Filters the results, based on a boolean condition",
			"x-ms-summary" : "Enter filter criteria"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-summary" : "Number of records to return",
            "description": "Use the top parameter to set the top n results"
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-summary" : "Number of records to skip",
            "description": "Use the top parameter to skip the first x amount of groups that are being returned."
          }
        ]
      }
    },
    "/v1.0/myorg/admin/dashboards/{dashboardId}/tiles": {
      "get": {
        "responses": {
          "200": {
            "description": "Get tiles of a specified dashboard",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "embedUrl": {
                        "type": "string",
                        "description": "embedUrl"
                      },
                      "rowSpan": {
                        "type": "integer",
                        "format": "int32",
                        "description": "rowSpan"
                      },
                      "colSpan": {
                        "type": "integer",
                        "format": "int32",
                        "description": "colSpan"
                      },
                      "reportId": {
                        "type": "string",
                        "description": "reportId"
                      },
                      "datasetId": {
                        "type": "string",
                        "description": "datasetId"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Get Tiles As Admin",
        "description": "Returns a list of tiles within the specified dashboard",
        "operationId": "DashboardsGetTilesAsAdmin",
        "parameters": [
          {
            "name": "dashboardId",
            "in": "path",
            "required": true,
            "type": "string",
			"x-ms-url-encoding": "single",
			"description" : "A Power BI dashboard ID",
			"x-ms-summary" : "Dashboard ID"
          }
        ]
      }
    },
    "/v1.0/myorg/admin/reports": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "datasetId": {
                        "type": "string",
                        "description": "datasetId"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "webUrl": {
                        "type": "string",
                        "description": "webUrl"
                      },
                      "embedUrl": {
                        "type": "string",
                        "description": "embedUrl"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Get Reports As Admin",
        "operationId": "ReportsGetReportsAsAdmin",
        "description": "Returns a list of reports for the organization",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-summary" : "Enter filter criteria",
			"description" : "Filters the results, based on a boolean condition"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-summary" : "Number of records to return",
            "description": "Use the top parameter to set the first n results"
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-summary" : "Number of records to skip",
            "description": "Use the top parameter to skip the first x amount of groups that are being returned."
          }
        ]
      }
    },
    "/GET https://api.powerbi.com/v1.0/myorg/admin/groups/{groupId}/dashboards": {},
    "/GET https://api.powerbi.com/v1.0/myorg/admin/groups/{groupId}/dataflows": {},
    "/GET https://api.powerbi.com/v1.0/myorg/admin/groups/{groupId}/reports": {},
    "/v1.0/myorg/admin/groups/{groupId}/dashboards": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "displayName"
                      },
                      "embedUrl": {
                        "type": "string",
                        "description": "embedUrl"
                      },
                      "isReadOnly": {
                        "type": "boolean",
                        "description": "isReadOnly"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Get Dashboards In Group As Admin",
        "description": "Returns a list of dashboards from the specified workspace",
        "operationId": "DashboardsGetDashboardsInGroupAsAdmin",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string",
			"x-ms-url-encoding": "single",
			"description" : "The workspace id",
			"x-ms-summary" : "Enter workspace ID"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-summary" : "Enter filter criteria",
			"description" : "Filters the results, based on a boolean condition"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-summary" : "Number of records to return",
            "description": "Use the top parameter to set the first n results"
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-summary" : "Number of records to skip",
            "description": "Use the top parameter to skip the first x amount of groups that are being returned."
          }
        ]
      }
    },
    "/v1.0/myorg/admin/groups/{groupId}/dataflows": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "objectId": {
                        "type": "string",
                        "description": "objectId"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "modelUrl": {
                        "type": "string",
                        "description": "modelUrl"
                      },
                      "configuredBy": {
                        "type": "string",
                        "description": "configuredBy"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Get Dataflows In Group As Admin",
        "description": "Returns a list of dataflows from the specified workspace",
        "operationId": "DataflowsGetDataflowsInGroupAsAdmin",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string",
			"x-ms-url-encoding": "single",
			"description" : "The workspace id",
			"x-ms-summary" : "Enter workspace ID"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-summary" : "Enter filter criteria",
			"description" : "Filters the results, based on a boolean condition"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-summary" : "Number of records to return",
            "description": "Use the top parameter to set the first n results"
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-summary" : "Number of records to skip",
            "description": "Use the top parameter to skip the first x amount of groups that are being returned."
          }
        ]
      }
    },
    "/v1.0/myorg/admin/groups/{groupId}/reports": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "datasetId": {
                        "type": "string",
                        "description": "datasetId"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "webUrl": {
                        "type": "string",
                        "description": "webUrl"
                      },
                      "embedUrl": {
                        "type": "string",
                        "description": "embedUrl"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string",
			"x-ms-url-encoding": "single",
			"description" : "The workspace id",
			"x-ms-summary" : "Enter workspace ID"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-summary" : "Enter filter criteria",
			"description" : "Filters the results, based on a boolean condition"			
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-summary" : "Number of records to return",
            "description": "Use the top parameter to set the first n results"
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-summary" : "Number of records to skip",
            "description": "Use the top parameter to skip the first x amount of groups that are being returned."
          }
        ],
        "operationId": "ReportsGetReportsInGroupAsAdmin",
        "summary": "Get Reports In Group As Admin",
        "description": "Returns a list of reports from the specified workspace"
      }
    },
    "/v1.0/myorg/admin/datasets": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "addRowsAPIEnabled": {
                        "type": "boolean",
                        "description": "addRowsAPIEnabled"
                      },
                      "configuredBy": {
                        "type": "string",
                        "description": "configuredBy"
                      },
                      "isRefreshable": {
                        "type": "boolean",
                        "description": "isRefreshable"
                      },
                      "isEffectiveIdentityRequired": {
                        "type": "boolean",
                        "description": "isEffectiveIdentityRequired"
                      },
                      "isEffectiveIdentityRolesRequired": {
                        "type": "boolean",
                        "description": "isEffectiveIdentityRolesRequired"
                      },
                      "isOnPremGatewayRequired": {
                        "type": "boolean",
                        "description": "isOnPremGatewayRequired"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-summary" : "Enter filter criteria",
			"description" : "Filters the results, based on a boolean condition"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-summary" : "Number of records to return",
            "description": "Use the top parameter to set the first n results"
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-summary" : "Number of records to skip",
            "description": "Use the top parameter to skip the first x amount of groups that are being returned."
          }
        ],
        "operationId": "DatasetsGetDatasetsAsAdmin",
        "summary": "Get Datasets As Admin",
        "description": "Returns a list of datasets for the organization"
      }
    },
    "/v1.0/myorg/admin/groups/{groupId}/datasets": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "addRowsAPIEnabled": {
                        "type": "boolean",
                        "description": "addRowsAPIEnabled"
                      },
                      "configuredBy": {
                        "type": "string",
                        "description": "configuredBy"
                      },
                      "isRefreshable": {
                        "type": "boolean",
                        "description": "isRefreshable"
                      },
                      "isEffectiveIdentityRequired": {
                        "type": "boolean",
                        "description": "isEffectiveIdentityRequired"
                      },
                      "isEffectiveIdentityRolesRequired": {
                        "type": "boolean",
                        "description": "isEffectiveIdentityRolesRequired"
                      },
                      "isOnPremGatewayRequired": {
                        "type": "boolean",
                        "description": "isOnPremGatewayRequired"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string",
			"x-ms-url-encoding": "single",
			"x-ms-summary" : "Enter workspace id",
            "description": "The workspace id"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filters the results, based on a boolean condition",
			"x-ms-summary" : "Enter filter criteria"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-summary" : "Number of records to return",
            "description": "Use the top parameter to set the first n results"
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-summary" : "Number of records to skip",
            "description": "Use the top parameter to skip the first x amount of groups that are being returned."
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Expands related entities inline",
			"x-ms-summary" : "Enter expand query"
          }
        ],
        "summary": "Get Datasets In Group As Admin",
        "operationId": "DatasetsGetDatasetsInGroupAsAdmin",
        "description": "Returns a list of datasets from the specified workspace"
      }
    },
    "/v1.0/myorg/admin/datasets/{datasetId}/datasources": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "connectionString": {
                        "type": "string",
                        "description": "connectionString"
                      },
                      "datasourceType": {
                        "type": "string",
                        "description": "datasourceType"
                      },
                      "datasourceId": {
                        "type": "string",
                        "description": "datasourceId"
                      },
                      "gatewayId": {
                        "type": "string",
                        "description": "gatewayId"
                      },
                      "connectionDetails": {
                        "type": "object",
                        "properties": {
                          "server": {
                            "type": "string",
                            "description": "server"
                          },
                          "database": {
                            "type": "string",
                            "description": "database"
                          }
                        },
                        "description": "connectionDetails"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "DatasetsGetDataSourcesAsAdmin",
        "description": "Returns a list of datasources for the specified dataset.",
        "operationId": "DatasetsGetDataSourcesAsAdmin",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "type": "string",
			"x-ms-url-encoding": "single",
			"x-ms-summary" : "Enter dataset id",
            "description": "The dataset id"
          }
        ]
      }
    },
    "/v1.0/myorg/admin/activityevents": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get Activities As Admin",
        "operationId": "GetActivitiesAsAdmin",
        "description": "Returns a list of audit activity events for a tenant",
        "parameters": [
          {
            "name": "startDateTime",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Date format must be yyyy-mm-ddThh:mm:ss.000Z and enclosed in single quotes",
			"x-ms-summary": "Enter date in quotes - ie 'yyyy-mm-ddThh:mm:ss'"
          },
          {
            "name": "endDateTime",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Date format must be yyyy-mm-ddThh:mm:ss.000Z and enclosed in single quotes",
			"x-ms-summary": "Enter date in quotes - ie 'yyyy-mm-ddThh:mm:ss'"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "required": false,
            "type": "string",
			"description" : "Continuation token",
			"x-ms-summary" : "Enter continuation Token"          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-summary" : "Enter filter criteria",
            "description": "Filters the results, based on a boolean condition"		
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata" : [
	  {
		 "propertyName" : "Website",
		 "propertyValue" : "https://docs.microsoft.com/en-us/rest/api/power-bi/admin"
	  },
	  {
		 "propertyName" : "Privacy Policy",
		 "propertyValue" : "https://privacy.microsoft.com/en-gb/privacy#:~:text=We%20are%20working%20to%20earn%20your%20trust%20every,through%20strong%20security%20and%20encryption.%20More%20items...%20"
	  },
	  {
		 "propertyName" : "Categories",
		 "propertyValue" : "Business Intelligence"
	  }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.microsoftonline.com/0ad613d9-63e6-474f-90a1-aa27f5ec3fe3/oauth2/v2.0/token",
      "scopes": {
        "openid": "openid"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "openid"
      ]
    }
  ],
  "tags": []
}