{
  "swagger": "2.0",
  "info": {
    "title": "Khalibre LMS",
    "description": "Khalibre is the provider of the Khalibre Platform, used by Crosswired and other collaboration and capacity building portals. We are a social enterprise, formed in 2010 in Singapore and Cambodia to deliver business technology solutions, capacity building and learning platform for medium and large organizations globally. With the Khalibre LMS Connector, you can extend LMS capabilities by integrating with the system of your choice through the APIs.",
    "contact": {
      "name": "Khalibre Support",
      "url": "https://www.khalibre.com/contact-us",
      "email": "contact@khalibre.com"
    },
    "version": "1.0"
  },
  "host": "khalibre.com",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": [],
  "produces": [],
  "paths": {
    "/o/kh-gateway/lms/v1.0/courses": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "actions": {
                  "type": "object",
                  "properties": {},
                  "description": "actions"
                },
                "facets": {
                  "type": "array",
                  "items": {
                    "title": "",
                    "type": "string"
                  },
                  "description": "facets"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "additionalBookingNote": {
                        "type": "string",
                        "description": "additionalBookingNote"
                      },
                      "bannerUrl": {
                        "type": "string",
                        "description": "bannerUrl"
                      },
                      "bookingUrl": {
                        "type": "string",
                        "description": "bookingUrl"
                      },
                      "classTitle": {
                        "type": "string",
                        "description": "classTitle"
                      },
                      "communities": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "bookingUrl": {
                              "type": "string",
                              "description": "bookingUrl"
                            },
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "id"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            }
                          }
                        },
                        "description": "communities"
                      },
                      "courseExpiryPeriod": {
                        "type": "integer",
                        "format": "int64",
                        "description": "courseExpiryPeriod",
                        "title": ""
                      },
                      "courseId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "courseId",
                        "title": ""
                      },
                      "createdDate": {
                        "type": "string",
                        "description": "createdDate"
                      },
                      "currency": {
                        "type": "string",
                        "description": "currency"
                      },
                      "dayBeforeBook": {
                        "type": "integer",
                        "format": "int64",
                        "description": "dayBeforeBook",
                        "title": ""
                      },
                      "dayBeforeCancel": {
                        "type": "integer",
                        "format": "int64",
                        "description": "dayBeforeCancel",
                        "title": ""
                      },
                      "deliveryMethod": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "description": "key"
                          },
                          "value": {
                            "type": "string",
                            "description": "value"
                          }
                        },
                        "description": "deliveryMethod"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "expectedDuration": {
                        "type": "integer",
                        "format": "int64",
                        "description": "expectedDuration",
                        "title": ""
                      },
                      "languages": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "languages"
                      },
                      "modifiedDate": {
                        "type": "string",
                        "description": "modifiedDate"
                      },
                      "price": {
                        "type": "number",
                        "format": "double",
                        "description": "price",
                        "title": ""
                      },
                      "timezone": {
                        "type": "string",
                        "description": "timezone"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "totalActivity": {
                        "type": "integer",
                        "format": "int64",
                        "description": "totalActivity",
                        "title": ""
                      },
                      "endDate": {
                        "type": "string",
                        "description": "endDate"
                      },
                      "startDate": {
                        "type": "string",
                        "description": "startDate"
                      }
                    }
                  },
                  "description": "items"
                },
                "lastPage": {
                  "type": "integer",
                  "format": "int64",
                  "description": "lastPage",
                  "title": ""
                },
                "page": {
                  "type": "integer",
                  "format": "int64",
                  "description": "page",
                  "title": ""
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int64",
                  "description": "pageSize",
                  "title": ""
                },
                "totalCount": {
                  "type": "integer",
                  "format": "int64",
                  "description": "totalCount",
                  "title": ""
                }
              }
            }
          }
        },
        "operationId": "ReadCourses",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "description": "Number of items to be fetched per request.",
            "x-ms-summary": "Page size",
            "format": "int64"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1,
            "x-ms-summary": "Pagination",
            "description": "Current pagination",
            "format": "int64"
          },
          {
            "name": "keywords",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Keyword",
            "description": "Search keyword to filer course."
          }
        ],
        "summary": "Read courses",
        "description": "Read list of courses exposed from your organization.",
        "x-ms-visibility": "advanced",
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "ReadCourses",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/o/kh-gateway/lms/v1.0/course/{courseId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "additionalBookingNote": {
                  "type": "string",
                  "description": "additionalBookingNote"
                },
                "bannerUrl": {
                  "type": "string",
                  "description": "bannerUrl"
                },
                "bookingUrl": {
                  "type": "string",
                  "description": "bookingUrl"
                },
                "classTitle": {
                  "type": "string",
                  "description": "classTitle"
                },
                "communities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "bookingUrl": {
                        "type": "string",
                        "description": "bookingUrl"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    }
                  },
                  "description": "communities"
                },
                "courseExpiryPeriod": {
                  "type": "integer",
                  "format": "int32",
                  "description": "courseExpiryPeriod"
                },
                "courseId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "courseId"
                },
                "createdDate": {
                  "type": "string",
                  "description": "createdDate"
                },
                "currency": {
                  "type": "string",
                  "description": "currency"
                },
                "dayBeforeBook": {
                  "type": "integer",
                  "format": "int32",
                  "description": "dayBeforeBook"
                },
                "dayBeforeCancel": {
                  "type": "integer",
                  "format": "int32",
                  "description": "dayBeforeCancel"
                },
                "deliveryMethod": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "key"
                    },
                    "value": {
                      "type": "string",
                      "description": "value"
                    }
                  },
                  "description": "deliveryMethod"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "endDate": {
                  "type": "string",
                  "description": "endDate"
                },
                "expectedDuration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "expectedDuration"
                },
                "languages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "languages"
                },
                "modifiedDate": {
                  "type": "string",
                  "description": "modifiedDate"
                },
                "price": {
                  "type": "number",
                  "format": "double",
                  "description": "price"
                },
                "startDate": {
                  "type": "string",
                  "description": "startDate"
                },
                "timezone": {
                  "type": "string",
                  "description": "timezone"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "totalActivity": {
                  "type": "integer",
                  "format": "int32",
                  "description": "totalActivity"
                }
              }
            }
          }
        },
        "summary": "Read course detail",
        "description": "Read course detail by course ID.",
        "operationId": "ReadCourseDetail",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Course ID that organization has published.",
            "x-ms-summary": "Course ID",
            "x-ms-url-encoding": "single",
            "format": "int64"
          }
        ]
      }
    },
    "/o/kh-gateway/lms/v1.0/progress/course/{courseId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "actions": {
                  "type": "object",
                  "properties": {},
                  "description": "actions"
                },
                "facets": {
                  "type": "array",
                  "items": {},
                  "description": "facets"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "activityOverdue": {
                        "type": "boolean",
                        "description": "activityOverdue"
                      },
                      "bookingDate": {
                        "type": "string",
                        "description": "bookingDate"
                      },
                      "classTitle": {
                        "type": "string",
                        "description": "classTitle"
                      },
                      "community": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          }
                        },
                        "description": "community"
                      },
                      "completedActivity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "completedActivity"
                      },
                      "courseId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "courseId"
                      },
                      "courseOverdue": {
                        "type": "boolean",
                        "description": "courseOverdue"
                      },
                      "emailAddress": {
                        "type": "string",
                        "description": "emailAddress"
                      },
                      "firstName": {
                        "type": "string",
                        "description": "firstName"
                      },
                      "lastName": {
                        "type": "string",
                        "description": "lastName"
                      },
                      "recentUpdateDate": {
                        "type": "string",
                        "description": "recentUpdateDate"
                      },
                      "status": {
                        "type": "integer",
                        "format": "int32",
                        "description": "status"
                      },
                      "statusDescription": {
                        "type": "string",
                        "description": "statusDescription"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "totalActivity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "totalActivity"
                      }
                    }
                  },
                  "description": "items"
                },
                "lastPage": {
                  "type": "integer",
                  "format": "int32",
                  "description": "lastPage"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "page"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "pageSize"
                },
                "totalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "totalCount"
                }
              }
            }
          }
        },
        "summary": "Progress by course ID",
        "description": "Show learner progress by course ID.",
        "operationId": "ProgressByCourseID",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Course ID that organization has published.",
            "x-ms-summary": "Course ID",
            "x-ms-url-encoding": "single",
            "format": "int64"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1,
            "description": "Current pagination",
            "x-ms-summary": "Pagination",
            "format": "int64"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "description": "Number of items to be fetched per request.",
            "x-ms-summary": "Page size",
            "format": "int64"
          }
        ]
      }
    },
    "/o/kh-gateway/lms/v1.0/progress/learner": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "actions": {
                  "type": "object",
                  "properties": {},
                  "description": "actions"
                },
                "facets": {
                  "type": "array",
                  "items": {},
                  "description": "facets"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "activityOverdue": {
                        "type": "boolean",
                        "description": "activityOverdue"
                      },
                      "bookingDate": {
                        "type": "string",
                        "description": "bookingDate"
                      },
                      "classTitle": {
                        "type": "string",
                        "description": "classTitle"
                      },
                      "community": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          }
                        },
                        "description": "community"
                      },
                      "completedActivity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "completedActivity"
                      },
                      "courseId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "courseId"
                      },
                      "courseOverdue": {
                        "type": "boolean",
                        "description": "courseOverdue"
                      },
                      "emailAddress": {
                        "type": "string",
                        "description": "emailAddress"
                      },
                      "firstName": {
                        "type": "string",
                        "description": "firstName"
                      },
                      "lastName": {
                        "type": "string",
                        "description": "lastName"
                      },
                      "recentUpdateDate": {
                        "type": "string",
                        "description": "recentUpdateDate"
                      },
                      "status": {
                        "type": "integer",
                        "format": "int32",
                        "description": "status"
                      },
                      "statusDescription": {
                        "type": "string",
                        "description": "statusDescription"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "totalActivity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "totalActivity"
                      }
                    }
                  },
                  "description": "items"
                },
                "lastPage": {
                  "type": "integer",
                  "format": "int32",
                  "description": "lastPage"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "page"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "pageSize"
                },
                "totalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "totalCount"
                }
              }
            }
          }
        },
        "summary": "Progress by email",
        "description": "Show learner progress by learner email.",
        "operationId": "ProgressByEmail",
        "parameters": [
          {
            "name": "learnerEmail",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Learner email address.",
            "x-ms-summary": "Learner email"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1,
            "description": "Current pagination",
            "x-ms-summary": "Pagination",
            "format": "int64"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "description": "Number of items to be fetched per request.",
            "x-ms-summary": "Page size",
            "format": "int64"
          }
        ]
      }
    },
    "/o/kh-gateway/lms/v1.0/course/booking": {
      "post": {
        "responses": {
          "204": {
            "description": "Request has been processed."
          }
        },
        "consumes": ["application/json"],
        "summary": "Book course",
        "description": "Book course for learner by email address",
        "operationId": "BookCourse",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "communityId": {
                  "type": "integer",
                  "description": "Community ID that learner will join to access the course.",
                  "title": "communityId",
                  "format": "int64"
                },
                "courseId": {
                  "type": "integer",
                  "description": "Course ID that learner will book.",
                  "title": "courseId",
                  "format": "int64"
                },
                "learnerEmail": {
                  "type": "string",
                  "description": "Learner email address.",
                  "title": "email"
                },
                "learnerFirstname": {
                  "type": "string",
                  "description": "Learner firstname.",
                  "title": "firstname"
                },
                "learnerLastname": {
                  "type": "string",
                  "description": "Learner lastname.",
                  "title": "lastname"
                }
              },
              "required": ["communityId", "courseId", "learnerEmail"]
            }
          }
        ]
      }
    },
    "/organization-settings": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "result": {
              "type": "string",
              "description": "result"
            },
            "success": {
              "type": "boolean",
              "description": "success"
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [
    {
      "oauth2-auth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.khalibre.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.khalibre.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Collaboration"
    }
  ]
}

