{
  "swagger": "2.0",
  "info": {
    "title": "Mailchimp Marketing (Independent Publisher)",
    "description": "Comprehensive Mailchimp Marketing API connector for audience management, campaign creation, engagement tracking, and automation workflows.",
    "version": "1.0.0",
    "contact": {
      "name": "Steve Mordue",
      "url": "https://www.forceworks.com",
      "email": "connect@forceworks.com"
    }
  },
  "host": "server.api.mailchimp.com",
  "basePath": "/3.0",
  "schemes": ["https"],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://mailchimp.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.intuit.com/privacy/statement/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Marketing;Sales and CRM"
    }
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/lists": {
      "get": {
        "operationId": "GetLists",
        "summary": "Get all audiences",
        "description": "Retrieves all audiences (lists) in the Mailchimp account",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "type": "integer",
            "default": 100,
            "description": "Number of records to return",
            "x-ms-summary": "Count"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListsResponse"
            }
          }
        }
      },
      "post": {
        "operationId": "CreateList",
        "summary": "Create audience",
        "description": "Creates a new audience (list)",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/List"
            }
          }
        }
      }
    },
    "/lists/{list_id}": {
      "get": {
        "operationId": "GetList",
        "summary": "Get audience",
        "description": "Retrieves a specific audience by ID",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the list",
            "x-ms-summary": "List ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/List"
            }
          }
        }
      }
    },
    "/lists/{list_id}/members": {
      "get": {
        "operationId": "GetListMembers",
        "summary": "Get audience members",
        "description": "Retrieves members of a specific audience",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the list",
            "x-ms-summary": "List ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "count",
            "in": "query",
            "type": "integer",
            "default": 100,
            "description": "Number of records to return (max 1000)",
            "x-ms-summary": "Count"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip",
            "x-ms-summary": "Offset"
          },
          {
            "name": "status",
            "in": "query",
            "type": "string",
            "enum": ["subscribed", "unsubscribed", "cleaned", "pending", "transactional"],
            "description": "Filter by subscription status",
            "x-ms-summary": "Status"
          },
          {
            "name": "since_last_changed",
            "in": "query",
            "type": "string",
            "description": "Filter by last changed date (ISO 8601)",
            "x-ms-summary": "Since Last Changed"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MembersResponse"
            }
          }
        }
      },
      "post": {
        "operationId": "AddListMember",
        "summary": "Add member to audience",
        "description": "Adds a new member to an audience",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the list",
            "x-ms-summary": "List ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddMemberRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Member"
            }
          }
        }
      }
    },
    "/lists/{list_id}/members/{subscriber_hash}": {
      "get": {
        "operationId": "GetListMember",
        "summary": "Get member",
        "description": "Retrieves a specific member by email hash",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the list",
            "x-ms-summary": "List ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "subscriber_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "MD5 hash of lowercase email address",
            "x-ms-summary": "Subscriber Hash",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Member"
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteListMember",
        "summary": "Archive member",
        "description": "Archives a member from the audience",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the list",
            "x-ms-summary": "List ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "subscriber_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "MD5 hash of lowercase email address",
            "x-ms-summary": "Subscriber Hash",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "Success - No Content"
          }
        }
      },
      "put": {
        "operationId": "UpsertListMember",
        "summary": "Add or update member",
        "description": "Adds or updates a member (upsert)",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the list",
            "x-ms-summary": "List ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "subscriber_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "MD5 hash of lowercase email address",
            "x-ms-summary": "Subscriber Hash",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpsertMemberRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Member"
            }
          }
        }
      },
      "patch": {
        "operationId": "UpdateListMember",
        "summary": "Update member",
        "description": "Updates an existing member",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the list",
            "x-ms-summary": "List ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "subscriber_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "MD5 hash of lowercase email address",
            "x-ms-summary": "Subscriber Hash",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateMemberRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Member"
            }
          }
        }
      }
    },
    "/lists/{list_id}/members/{subscriber_hash}/tags": {
      "post": {
        "operationId": "UpdateMemberTags",
        "summary": "Update member tags",
        "description": "Adds or removes tags from a member",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the list",
            "x-ms-summary": "List ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "subscriber_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "MD5 hash of lowercase email address",
            "x-ms-summary": "Subscriber Hash",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateTagsRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success - No Content"
          }
        }
      }
    },
    "/lists/{list_id}/members/{subscriber_hash}/activity": {
      "get": {
        "operationId": "GetMemberActivity",
        "summary": "Get member activity",
        "description": "Retrieves activity history for a member",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the list",
            "x-ms-summary": "List ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "subscriber_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "MD5 hash of lowercase email address",
            "x-ms-summary": "Subscriber Hash",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MemberActivityResponse"
            }
          }
        }
      }
    },
    "/lists/{list_id}/members/{subscriber_hash}/activity-feed": {
      "get": {
        "operationId": "GetMemberActivityFeed",
        "summary": "Get member activity feed",
        "description": "Retrieves detailed activity feed for a member",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the list",
            "x-ms-summary": "List ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "subscriber_hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "MD5 hash of lowercase email address",
            "x-ms-summary": "Subscriber Hash",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "count",
            "in": "query",
            "type": "integer",
            "default": 10,
            "description": "Number of records to return",
            "x-ms-summary": "Count"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MemberActivityFeedResponse"
            }
          }
        }
      }
    },
    "/lists/{list_id}/segments": {
      "get": {
        "operationId": "GetSegments",
        "summary": "Get segments",
        "description": "Retrieves all segments for an audience",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the list",
            "x-ms-summary": "List ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "count",
            "in": "query",
            "type": "integer",
            "default": 100,
            "description": "Number of records to return",
            "x-ms-summary": "Count"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SegmentsResponse"
            }
          }
        }
      }
    },
    "/lists/{list_id}/tags": {
      "get": {
        "operationId": "GetListTags",
        "summary": "Get audience tags",
        "description": "Retrieves all tags for an audience",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the list",
            "x-ms-summary": "List ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "count",
            "in": "query",
            "type": "integer",
            "default": 100,
            "description": "Number of records to return",
            "x-ms-summary": "Count"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TagsResponse"
            }
          }
        }
      }
    },
    "/campaigns": {
      "get": {
        "operationId": "GetCampaigns",
        "summary": "Get campaigns",
        "description": "Retrieves all campaigns",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "type": "integer",
            "default": 100,
            "description": "Number of records to return",
            "x-ms-summary": "Count"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip",
            "x-ms-summary": "Offset"
          },
          {
            "name": "status",
            "in": "query",
            "type": "string",
            "enum": ["save", "paused", "schedule", "sending", "sent"],
            "description": "Filter by campaign status",
            "x-ms-summary": "Status"
          },
          {
            "name": "since_send_time",
            "in": "query",
            "type": "string",
            "description": "Filter by send time (ISO 8601)",
            "x-ms-summary": "Since Send Time"
          },
          {
            "name": "list_id",
            "in": "query",
            "type": "string",
            "description": "Filter by audience ID",
            "x-ms-summary": "List ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CampaignsResponse"
            }
          }
        }
      },
      "post": {
        "operationId": "CreateCampaign",
        "summary": "Create campaign",
        "description": "Creates a new campaign",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCampaignRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Campaign"
            }
          }
        }
      }
    },
    "/campaigns/{campaign_id}": {
      "get": {
        "operationId": "GetCampaign",
        "summary": "Get campaign",
        "description": "Retrieves a specific campaign",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the campaign",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Campaign"
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteCampaign",
        "summary": "Delete campaign",
        "description": "Deletes a campaign",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the campaign",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "Success - No Content"
          }
        }
      },
      "patch": {
        "operationId": "UpdateCampaign",
        "summary": "Update campaign",
        "description": "Updates a campaign",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the campaign",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateCampaignRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Campaign"
            }
          }
        }
      }
    },
    "/campaigns/{campaign_id}/content": {
      "get": {
        "operationId": "GetCampaignContent",
        "summary": "Get campaign content",
        "description": "Retrieves the content of a campaign",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the campaign",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CampaignContent"
            }
          }
        }
      },
      "put": {
        "operationId": "SetCampaignContent",
        "summary": "Set campaign content",
        "description": "Sets the content of a campaign",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the campaign",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetCampaignContentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CampaignContent"
            }
          }
        }
      }
    },
    "/campaigns/{campaign_id}/actions/send": {
      "post": {
        "operationId": "SendCampaign",
        "summary": "Send campaign",
        "description": "Sends a campaign immediately",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the campaign",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "Success - No Content"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/actions/schedule": {
      "post": {
        "operationId": "ScheduleCampaign",
        "summary": "Schedule campaign",
        "description": "Schedules a campaign to send at a specific time",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the campaign",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScheduleCampaignRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success - No Content"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/actions/test": {
      "post": {
        "operationId": "SendTestEmail",
        "summary": "Send test email",
        "description": "Sends a test email for a campaign",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the campaign",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendTestEmailRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success - No Content"
          }
        }
      }
    },
    "/reports": {
      "get": {
        "operationId": "GetReports",
        "summary": "Get campaign reports",
        "description": "Retrieves reports for all campaigns",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "type": "integer",
            "default": 100,
            "description": "Number of records to return",
            "x-ms-summary": "Count"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip",
            "x-ms-summary": "Offset"
          },
          {
            "name": "since_send_time",
            "in": "query",
            "type": "string",
            "description": "Filter by send time (ISO 8601)",
            "x-ms-summary": "Since Send Time"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReportsResponse"
            }
          }
        }
      }
    },
    "/reports/{campaign_id}": {
      "get": {
        "operationId": "GetCampaignReport",
        "summary": "Get campaign report",
        "description": "Retrieves the report for a specific campaign",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the campaign",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CampaignReport"
            }
          }
        }
      }
    },
    "/reports/{campaign_id}/sent-to": {
      "get": {
        "operationId": "GetCampaignRecipients",
        "summary": "Get campaign recipients",
        "description": "Retrieves list of recipients for a campaign",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the campaign",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "count",
            "in": "query",
            "type": "integer",
            "default": 100,
            "description": "Number of records to return",
            "x-ms-summary": "Count"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SentToResponse"
            }
          }
        }
      }
    },
    "/reports/{campaign_id}/open-details": {
      "get": {
        "operationId": "GetCampaignOpenDetails",
        "summary": "Get campaign open details",
        "description": "Retrieves detailed open information for a campaign including who opened",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the campaign",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "count",
            "in": "query",
            "type": "integer",
            "default": 100,
            "description": "Number of records to return",
            "x-ms-summary": "Count"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OpenDetailsResponse"
            }
          }
        }
      }
    },
    "/reports/{campaign_id}/click-details": {
      "get": {
        "operationId": "GetCampaignClickDetails",
        "summary": "Get campaign click details",
        "description": "Retrieves detailed click information for a campaign including which URLs were clicked",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the campaign",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "count",
            "in": "query",
            "type": "integer",
            "default": 100,
            "description": "Number of records to return",
            "x-ms-summary": "Count"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ClickDetailsResponse"
            }
          }
        }
      }
    },
    "/reports/{campaign_id}/click-details/{link_id}/members": {
      "get": {
        "operationId": "GetClickLinkMembers",
        "summary": "Get members who clicked link",
        "description": "Retrieves subscribers who clicked a specific link in a campaign",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the campaign",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "link_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the clicked link",
            "x-ms-summary": "Link ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "count",
            "in": "query",
            "type": "integer",
            "default": 100,
            "description": "Number of records to return",
            "x-ms-summary": "Count"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ClickLinkMembersResponse"
            }
          }
        }
      }
    },
    "/reports/{campaign_id}/unsubscribed": {
      "get": {
        "operationId": "GetCampaignUnsubscribes",
        "summary": "Get campaign unsubscribes",
        "description": "Retrieves unsubscribe information for a campaign",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the campaign",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "count",
            "in": "query",
            "type": "integer",
            "default": 100,
            "description": "Number of records to return",
            "x-ms-summary": "Count"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UnsubscribesResponse"
            }
          }
        }
      }
    },
    "/reports/{campaign_id}/email-activity": {
      "get": {
        "operationId": "GetEmailActivity",
        "summary": "Get email activity",
        "description": "Retrieves email activity for a campaign or automation email",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the campaign or automation email",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "count",
            "in": "query",
            "type": "integer",
            "default": 100,
            "description": "Number of records to return",
            "x-ms-summary": "Count"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EmailActivityResponse"
            }
          }
        }
      }
    },
    "/batches": {
      "get": {
        "operationId": "GetBatches",
        "summary": "Get batch operations",
        "description": "Retrieves all batch operations",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "type": "integer",
            "default": 100,
            "description": "Number of records to return",
            "x-ms-summary": "Count"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchesResponse"
            }
          }
        }
      },
      "post": {
        "operationId": "CreateBatch",
        "summary": "Create batch operation",
        "description": "Creates a batch operation for bulk processing",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateBatchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Batch"
            }
          }
        }
      }
    },
    "/batches/{batch_id}": {
      "get": {
        "operationId": "GetBatch",
        "summary": "Get batch operation status",
        "description": "Retrieves the status of a batch operation",
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the batch operation",
            "x-ms-summary": "Batch ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Batch"
            }
          }
        }
      }
    },
    "/templates": {
      "get": {
        "operationId": "GetTemplates",
        "summary": "Get templates",
        "description": "Retrieves all templates",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "type": "integer",
            "default": 100,
            "description": "Number of records to return",
            "x-ms-summary": "Count"
          },
          {
            "name": "type",
            "in": "query",
            "type": "string",
            "enum": ["user", "base", "gallery"],
            "description": "Filter by template type",
            "x-ms-summary": "Type"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TemplatesResponse"
            }
          }
        }
      }
    },
    "/automations": {
      "get": {
        "operationId": "GetAutomations",
        "summary": "Get automations",
        "description": "Retrieves all classic automations",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "type": "integer",
            "default": 100,
            "description": "Number of records to return",
            "x-ms-summary": "Count"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip",
            "x-ms-summary": "Offset"
          },
          {
            "name": "status",
            "in": "query",
            "type": "string",
            "enum": ["save", "paused", "sending"],
            "description": "Filter by automation status",
            "x-ms-summary": "Status"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AutomationsResponse"
            }
          }
        }
      }
    },
    "/automations/{workflow_id}": {
      "get": {
        "operationId": "GetAutomation",
        "summary": "Get automation",
        "description": "Retrieves a specific automation",
        "parameters": [
          {
            "name": "workflow_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the automation",
            "x-ms-summary": "Workflow ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Automation"
            }
          }
        }
      }
    },
    "/automations/{workflow_id}/emails": {
      "get": {
        "operationId": "GetAutomationEmails",
        "summary": "Get automation emails",
        "description": "Retrieves all emails in an automation",
        "parameters": [
          {
            "name": "workflow_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the automation",
            "x-ms-summary": "Workflow ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AutomationEmailsResponse"
            }
          }
        }
      }
    },
    "/automations/{workflow_id}/emails/{workflow_email_id}": {
      "get": {
        "operationId": "GetAutomationEmail",
        "summary": "Get automation email",
        "description": "Retrieves a specific email in an automation",
        "parameters": [
          {
            "name": "workflow_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the automation",
            "x-ms-summary": "Workflow ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "workflow_email_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique ID for the automation email",
            "x-ms-summary": "Email ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AutomationEmail"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ListsResponse": {
      "type": "object",
      "properties": {
        "lists": {
          "type": "array",
          "items": { "$ref": "#/definitions/List" },
          "x-ms-summary": "Lists"
        },
        "total_items": { "type": "integer", "x-ms-summary": "Total Items" }
      }
    },
    "List": {
      "type": "object",
      "properties": {
        "id": { "type": "string", "x-ms-summary": "List ID" },
        "web_id": { "type": "integer", "x-ms-summary": "Web ID" },
        "name": { "type": "string", "x-ms-summary": "Name" },
        "permission_reminder": { "type": "string", "x-ms-summary": "Permission Reminder" },
        "date_created": { "type": "string", "x-ms-summary": "Date Created" },
        "list_rating": { "type": "integer", "x-ms-summary": "List Rating" },
        "subscribe_url_short": { "type": "string", "x-ms-summary": "Subscribe URL Short" },
        "subscribe_url_long": { "type": "string", "x-ms-summary": "Subscribe URL Long" },
        "stats": {
          "type": "object",
          "properties": {
            "member_count": { "type": "integer", "x-ms-summary": "Member Count" },
            "unsubscribe_count": { "type": "integer", "x-ms-summary": "Unsubscribe Count" },
            "cleaned_count": { "type": "integer", "x-ms-summary": "Cleaned Count" },
            "campaign_count": { "type": "integer", "x-ms-summary": "Campaign Count" },
            "open_rate": { "type": "number", "x-ms-summary": "Open Rate" },
            "click_rate": { "type": "number", "x-ms-summary": "Click Rate" }
          }
        }
      }
    },
    "CreateListRequest": {
      "type": "object",
      "required": ["name", "contact", "permission_reminder", "campaign_defaults", "email_type_option"],
      "properties": {
        "name": { "type": "string", "description": "The name of the list", "x-ms-summary": "Name" },
        "contact": { "type": "object", "x-ms-summary": "Contact" },
        "permission_reminder": { "type": "string", "description": "Permission reminder text", "x-ms-summary": "Permission Reminder" },
        "campaign_defaults": { "type": "object", "x-ms-summary": "Campaign Defaults" },
        "email_type_option": { "type": "boolean", "x-ms-summary": "Email Type Option" }
      }
    },
    "MembersResponse": {
      "type": "object",
      "properties": {
        "members": {
          "type": "array",
          "items": { "$ref": "#/definitions/Member" },
          "x-ms-summary": "Members"
        },
        "list_id": { "type": "string", "x-ms-summary": "List ID" },
        "total_items": { "type": "integer", "x-ms-summary": "Total Items" }
      }
    },
    "Member": {
      "type": "object",
      "properties": {
        "id": { "type": "string", "x-ms-summary": "Member ID" },
        "email_address": { "type": "string", "x-ms-summary": "Email Address" },
        "unique_email_id": { "type": "string", "x-ms-summary": "Unique Email ID" },
        "status": { "type": "string", "x-ms-summary": "Status" },
        "merge_fields": { "type": "object", "x-ms-summary": "Merge Fields" },
        "stats": {
          "type": "object",
          "properties": {
            "avg_open_rate": { "type": "number", "x-ms-summary": "Avg Open Rate" },
            "avg_click_rate": { "type": "number", "x-ms-summary": "Avg Click Rate" }
          }
        },
        "timestamp_signup": { "type": "string", "x-ms-summary": "Signup Timestamp" },
        "timestamp_opt": { "type": "string", "x-ms-summary": "Opt-in Timestamp" },
        "member_rating": { "type": "integer", "x-ms-summary": "Member Rating" },
        "last_changed": { "type": "string", "x-ms-summary": "Last Changed" },
        "language": { "type": "string", "x-ms-summary": "Language" },
        "vip": { "type": "boolean", "x-ms-summary": "VIP" },
        "list_id": { "type": "string", "x-ms-summary": "List ID" },
        "tags_count": { "type": "integer", "x-ms-summary": "Tags Count" },
        "tags": { "type": "array", "items": { "type": "object" }, "x-ms-summary": "Tags" }
      }
    },
    "AddMemberRequest": {
      "type": "object",
      "required": ["email_address", "status"],
      "properties": {
        "email_address": { "type": "string", "description": "Email address", "x-ms-summary": "Email Address" },
        "status": { "type": "string", "enum": ["subscribed", "unsubscribed", "cleaned", "pending", "transactional"], "description": "Subscription status", "x-ms-summary": "Status" },
        "merge_fields": { "type": "object", "description": "Merge field values (FNAME, LNAME, etc.)", "x-ms-summary": "Merge Fields" },
        "tags": { "type": "array", "items": { "type": "string" }, "description": "Tags to add", "x-ms-summary": "Tags" },
        "language": { "type": "string", "x-ms-summary": "Language" },
        "vip": { "type": "boolean", "x-ms-summary": "VIP" }
      }
    },
    "UpsertMemberRequest": {
      "type": "object",
      "required": ["email_address", "status_if_new"],
      "properties": {
        "email_address": { "type": "string", "description": "Email address", "x-ms-summary": "Email Address" },
        "status_if_new": { "type": "string", "enum": ["subscribed", "unsubscribed", "cleaned", "pending", "transactional"], "description": "Status if new subscriber", "x-ms-summary": "Status If New" },
        "merge_fields": { "type": "object", "description": "Merge field values", "x-ms-summary": "Merge Fields" },
        "language": { "type": "string", "x-ms-summary": "Language" },
        "vip": { "type": "boolean", "x-ms-summary": "VIP" }
      }
    },
    "UpdateMemberRequest": {
      "type": "object",
      "properties": {
        "email_address": { "type": "string", "x-ms-summary": "Email Address" },
        "status": { "type": "string", "enum": ["subscribed", "unsubscribed", "cleaned", "pending", "transactional"], "x-ms-summary": "Status" },
        "merge_fields": { "type": "object", "x-ms-summary": "Merge Fields" },
        "language": { "type": "string", "x-ms-summary": "Language" },
        "vip": { "type": "boolean", "x-ms-summary": "VIP" }
      }
    },
    "UpdateTagsRequest": {
      "type": "object",
      "required": ["tags"],
      "properties": {
        "tags": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": { "type": "string", "description": "Tag name", "x-ms-summary": "Name" },
              "status": { "type": "string", "enum": ["active", "inactive"], "description": "active to add, inactive to remove", "x-ms-summary": "Status" }
            }
          },
          "x-ms-summary": "Tags"
        }
      }
    },
    "MemberActivityResponse": {
      "type": "object",
      "properties": {
        "activity": { "type": "array", "items": { "type": "object" }, "x-ms-summary": "Activity" },
        "email_id": { "type": "string", "x-ms-summary": "Email ID" },
        "list_id": { "type": "string", "x-ms-summary": "List ID" }
      }
    },
    "MemberActivityFeedResponse": {
      "type": "object",
      "properties": {
        "activity": { "type": "array", "items": { "type": "object" }, "x-ms-summary": "Activity" },
        "email_id": { "type": "string", "x-ms-summary": "Email ID" },
        "list_id": { "type": "string", "x-ms-summary": "List ID" },
        "total_items": { "type": "integer", "x-ms-summary": "Total Items" }
      }
    },
    "SegmentsResponse": {
      "type": "object",
      "properties": {
        "segments": { "type": "array", "items": { "type": "object" }, "x-ms-summary": "Segments" },
        "total_items": { "type": "integer", "x-ms-summary": "Total Items" }
      }
    },
    "TagsResponse": {
      "type": "object",
      "properties": {
        "tags": { "type": "array", "items": { "type": "object" }, "x-ms-summary": "Tags" },
        "total_items": { "type": "integer", "x-ms-summary": "Total Items" }
      }
    },
    "CampaignsResponse": {
      "type": "object",
      "properties": {
        "campaigns": {
          "type": "array",
          "items": { "$ref": "#/definitions/Campaign" },
          "x-ms-summary": "Campaigns"
        },
        "total_items": { "type": "integer", "x-ms-summary": "Total Items" }
      }
    },
    "Campaign": {
      "type": "object",
      "properties": {
        "id": { "type": "string", "x-ms-summary": "Campaign ID" },
        "web_id": { "type": "integer", "x-ms-summary": "Web ID" },
        "type": { "type": "string", "x-ms-summary": "Type" },
        "create_time": { "type": "string", "x-ms-summary": "Create Time" },
        "archive_url": { "type": "string", "x-ms-summary": "Archive URL" },
        "status": { "type": "string", "x-ms-summary": "Status" },
        "emails_sent": { "type": "integer", "x-ms-summary": "Emails Sent" },
        "send_time": { "type": "string", "x-ms-summary": "Send Time" },
        "recipients": {
          "type": "object",
          "properties": {
            "list_id": { "type": "string", "x-ms-summary": "List ID" },
            "list_name": { "type": "string", "x-ms-summary": "List Name" },
            "recipient_count": { "type": "integer", "x-ms-summary": "Recipient Count" }
          }
        },
        "settings": {
          "type": "object",
          "properties": {
            "subject_line": { "type": "string", "x-ms-summary": "Subject Line" },
            "preview_text": { "type": "string", "x-ms-summary": "Preview Text" },
            "title": { "type": "string", "x-ms-summary": "Title" },
            "from_name": { "type": "string", "x-ms-summary": "From Name" },
            "reply_to": { "type": "string", "x-ms-summary": "Reply To" }
          }
        },
        "report_summary": {
          "type": "object",
          "properties": {
            "opens": { "type": "integer", "x-ms-summary": "Opens" },
            "unique_opens": { "type": "integer", "x-ms-summary": "Unique Opens" },
            "open_rate": { "type": "number", "x-ms-summary": "Open Rate" },
            "clicks": { "type": "integer", "x-ms-summary": "Clicks" },
            "subscriber_clicks": { "type": "integer", "x-ms-summary": "Subscriber Clicks" },
            "click_rate": { "type": "number", "x-ms-summary": "Click Rate" }
          }
        }
      }
    },
    "CreateCampaignRequest": {
      "type": "object",
      "required": ["type"],
      "properties": {
        "type": { "type": "string", "enum": ["regular", "plaintext", "absplit", "rss", "variate"], "description": "Campaign type", "x-ms-summary": "Type" },
        "recipients": { "type": "object", "x-ms-summary": "Recipients" },
        "settings": { "type": "object", "x-ms-summary": "Settings" },
        "tracking": { "type": "object", "x-ms-summary": "Tracking" }
      }
    },
    "UpdateCampaignRequest": {
      "type": "object",
      "properties": {
        "recipients": { "type": "object", "x-ms-summary": "Recipients" },
        "settings": { "type": "object", "x-ms-summary": "Settings" },
        "tracking": { "type": "object", "x-ms-summary": "Tracking" }
      }
    },
    "CampaignContent": {
      "type": "object",
      "properties": {
        "plain_text": { "type": "string", "x-ms-summary": "Plain Text" },
        "html": { "type": "string", "x-ms-summary": "HTML" },
        "archive_html": { "type": "string", "x-ms-summary": "Archive HTML" }
      }
    },
    "SetCampaignContentRequest": {
      "type": "object",
      "properties": {
        "plain_text": { "type": "string", "description": "Plain text content", "x-ms-summary": "Plain Text" },
        "html": { "type": "string", "description": "HTML content", "x-ms-summary": "HTML" },
        "template": { "type": "object", "x-ms-summary": "Template" }
      }
    },
    "ScheduleCampaignRequest": {
      "type": "object",
      "required": ["schedule_time"],
      "properties": {
        "schedule_time": { "type": "string", "description": "UTC time to send (ISO 8601)", "x-ms-summary": "Schedule Time" },
        "timewarp": { "type": "boolean", "description": "Send based on subscriber timezone", "x-ms-summary": "Timewarp" }
      }
    },
    "SendTestEmailRequest": {
      "type": "object",
      "required": ["test_emails", "send_type"],
      "properties": {
        "test_emails": { "type": "array", "items": { "type": "string" }, "description": "Email addresses to send test to", "x-ms-summary": "Test Emails" },
        "send_type": { "type": "string", "enum": ["html", "plaintext"], "description": "Type of test email", "x-ms-summary": "Send Type" }
      }
    },
    "ReportsResponse": {
      "type": "object",
      "properties": {
        "reports": {
          "type": "array",
          "items": { "$ref": "#/definitions/CampaignReport" },
          "x-ms-summary": "Reports"
        },
        "total_items": { "type": "integer", "x-ms-summary": "Total Items" }
      }
    },
    "CampaignReport": {
      "type": "object",
      "properties": {
        "id": { "type": "string", "x-ms-summary": "Campaign ID" },
        "campaign_title": { "type": "string", "x-ms-summary": "Campaign Title" },
        "type": { "type": "string", "x-ms-summary": "Type" },
        "list_id": { "type": "string", "x-ms-summary": "List ID" },
        "list_name": { "type": "string", "x-ms-summary": "List Name" },
        "subject_line": { "type": "string", "x-ms-summary": "Subject Line" },
        "emails_sent": { "type": "integer", "x-ms-summary": "Emails Sent" },
        "abuse_reports": { "type": "integer", "x-ms-summary": "Abuse Reports" },
        "unsubscribed": { "type": "integer", "x-ms-summary": "Unsubscribed" },
        "send_time": { "type": "string", "x-ms-summary": "Send Time" },
        "bounces": {
          "type": "object",
          "properties": {
            "hard_bounces": { "type": "integer", "x-ms-summary": "Hard Bounces" },
            "soft_bounces": { "type": "integer", "x-ms-summary": "Soft Bounces" },
            "syntax_errors": { "type": "integer", "x-ms-summary": "Syntax Errors" }
          }
        },
        "opens": {
          "type": "object",
          "properties": {
            "opens_total": { "type": "integer", "x-ms-summary": "Opens Total" },
            "unique_opens": { "type": "integer", "x-ms-summary": "Unique Opens" },
            "open_rate": { "type": "number", "x-ms-summary": "Open Rate" },
            "last_open": { "type": "string", "x-ms-summary": "Last Open" }
          }
        },
        "clicks": {
          "type": "object",
          "properties": {
            "clicks_total": { "type": "integer", "x-ms-summary": "Clicks Total" },
            "unique_clicks": { "type": "integer", "x-ms-summary": "Unique Clicks" },
            "unique_subscriber_clicks": { "type": "integer", "x-ms-summary": "Unique Subscriber Clicks" },
            "click_rate": { "type": "number", "x-ms-summary": "Click Rate" },
            "last_click": { "type": "string", "x-ms-summary": "Last Click" }
          }
        }
      }
    },
    "SentToResponse": {
      "type": "object",
      "properties": {
        "sent_to": { "type": "array", "items": { "type": "object" }, "x-ms-summary": "Sent To" },
        "campaign_id": { "type": "string", "x-ms-summary": "Campaign ID" },
        "total_items": { "type": "integer", "x-ms-summary": "Total Items" }
      }
    },
    "OpenDetailsResponse": {
      "type": "object",
      "properties": {
        "members": { "type": "array", "items": { "type": "object" }, "x-ms-summary": "Members" },
        "campaign_id": { "type": "string", "x-ms-summary": "Campaign ID" },
        "total_items": { "type": "integer", "x-ms-summary": "Total Items" }
      }
    },
    "ClickDetailsResponse": {
      "type": "object",
      "properties": {
        "urls_clicked": { "type": "array", "items": { "type": "object" }, "x-ms-summary": "URLs Clicked" },
        "campaign_id": { "type": "string", "x-ms-summary": "Campaign ID" },
        "total_items": { "type": "integer", "x-ms-summary": "Total Items" }
      }
    },
    "ClickLinkMembersResponse": {
      "type": "object",
      "properties": {
        "members": { "type": "array", "items": { "type": "object" }, "x-ms-summary": "Members" },
        "campaign_id": { "type": "string", "x-ms-summary": "Campaign ID" },
        "total_items": { "type": "integer", "x-ms-summary": "Total Items" }
      }
    },
    "UnsubscribesResponse": {
      "type": "object",
      "properties": {
        "unsubscribes": { "type": "array", "items": { "type": "object" }, "x-ms-summary": "Unsubscribes" },
        "campaign_id": { "type": "string", "x-ms-summary": "Campaign ID" },
        "total_items": { "type": "integer", "x-ms-summary": "Total Items" }
      }
    },
    "EmailActivityResponse": {
      "type": "object",
      "properties": {
        "emails": { "type": "array", "items": { "type": "object" }, "x-ms-summary": "Emails" },
        "campaign_id": { "type": "string", "x-ms-summary": "Campaign ID" },
        "total_items": { "type": "integer", "x-ms-summary": "Total Items" }
      }
    },
    "CreateBatchRequest": {
      "type": "object",
      "required": ["operations"],
      "properties": {
        "operations": {
          "type": "array",
          "items": { "type": "object" },
          "description": "Array of operations to perform",
          "x-ms-summary": "Operations"
        }
      }
    },
    "Batch": {
      "type": "object",
      "properties": {
        "id": { "type": "string", "x-ms-summary": "Batch ID" },
        "status": { "type": "string", "x-ms-summary": "Status" },
        "total_operations": { "type": "integer", "x-ms-summary": "Total Operations" },
        "finished_operations": { "type": "integer", "x-ms-summary": "Finished Operations" },
        "errored_operations": { "type": "integer", "x-ms-summary": "Errored Operations" },
        "submitted_at": { "type": "string", "x-ms-summary": "Submitted At" },
        "completed_at": { "type": "string", "x-ms-summary": "Completed At" },
        "response_body_url": { "type": "string", "x-ms-summary": "Response Body URL" }
      }
    },
    "BatchesResponse": {
      "type": "object",
      "properties": {
        "batches": { "type": "array", "items": { "$ref": "#/definitions/Batch" }, "x-ms-summary": "Batches" },
        "total_items": { "type": "integer", "x-ms-summary": "Total Items" }
      }
    },
    "TemplatesResponse": {
      "type": "object",
      "properties": {
        "templates": { "type": "array", "items": { "type": "object" }, "x-ms-summary": "Templates" },
        "total_items": { "type": "integer", "x-ms-summary": "Total Items" }
      }
    },
    "AutomationsResponse": {
      "type": "object",
      "properties": {
        "automations": {
          "type": "array",
          "items": { "$ref": "#/definitions/Automation" },
          "x-ms-summary": "Automations"
        },
        "total_items": { "type": "integer", "x-ms-summary": "Total Items" }
      }
    },
    "Automation": {
      "type": "object",
      "properties": {
        "id": { "type": "string", "x-ms-summary": "Automation ID" },
        "create_time": { "type": "string", "x-ms-summary": "Create Time" },
        "start_time": { "type": "string", "x-ms-summary": "Start Time" },
        "status": { "type": "string", "x-ms-summary": "Status" },
        "emails_sent": { "type": "integer", "x-ms-summary": "Emails Sent" },
        "recipients": { "type": "object", "x-ms-summary": "Recipients" },
        "settings": { "type": "object", "x-ms-summary": "Settings" },
        "report_summary": { "type": "object", "x-ms-summary": "Report Summary" }
      }
    },
    "AutomationEmailsResponse": {
      "type": "object",
      "properties": {
        "emails": {
          "type": "array",
          "items": { "$ref": "#/definitions/AutomationEmail" },
          "x-ms-summary": "Emails"
        },
        "total_items": { "type": "integer", "x-ms-summary": "Total Items" }
      }
    },
    "AutomationEmail": {
      "type": "object",
      "properties": {
        "id": { "type": "string", "x-ms-summary": "Email ID" },
        "web_id": { "type": "integer", "x-ms-summary": "Web ID" },
        "workflow_id": { "type": "string", "x-ms-summary": "Workflow ID" },
        "position": { "type": "integer", "x-ms-summary": "Position" },
        "delay": { "type": "object", "x-ms-summary": "Delay" },
        "create_time": { "type": "string", "x-ms-summary": "Create Time" },
        "start_time": { "type": "string", "x-ms-summary": "Start Time" },
        "archive_url": { "type": "string", "x-ms-summary": "Archive URL" },
        "status": { "type": "string", "x-ms-summary": "Status" },
        "emails_sent": { "type": "integer", "x-ms-summary": "Emails Sent" },
        "settings": { "type": "object", "x-ms-summary": "Settings" },
        "report_summary": { "type": "object", "x-ms-summary": "Report Summary" }
      }
    }
  }
}
