{
  "swagger": "2.0",
  "info": {
    "title": "WhoisFreaks",
    "description": "Unleash the Power of Data with Our Domain and IP Intelligence: \nGain real-time DNS, domain, and IP intelligence to strengthen security, protect your brand, and drive smarter decisions with our advanced data platform.",
    "version": "1.0",
    "contact": {
      "name": "WhoisFreaks Support",
      "url": "https://whoisfreaks.com/contact.html",
      "email": "support@whoisfreaks.com"
    }
  },
  "host": "api.whoisfreaks.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://whoisfreaks.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://whoisfreaks.com/privacy-policy.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Security;IT Operations"
    }
  ],
  "paths": {
    "/v2.0/whois/live": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Live Whois Lookup",
        "description": "Query live, structured WHOIS data for any domain and get owner details, registrar, registration dates, nameservers - returned as clean JSON or XML in milliseconds. No caching. No stale records. Directly from authoritative WHOIS servers and RDAP on every request.",
        "operationId": "Live_whois_lookup",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "domainName",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter domain name you want to search about e.g: whoisfreaks.com.",
            "x-ms-summary": "Domain Name",
            "x-ms-visibility": "important"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "description": "Enter format in which you want to get response like e.g: json.",
            "x-ms-summary": "Response Format",
            "x-ms-visibility": "important",
            "enum": [
              "json",
              "xml"
            ]
          }
        ]
      }
    },
    "/v1.0/whois": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Historical Whois Lookup",
        "description": "The WHOIS History API gives you programmatic access to the complete ownership timeline of any domain covering every registrar change, registrant update, nameserver modification, and expiry event, going back to 1986. Each record is deduplicated so you only see genuine changes, not noise.",
        "operationId": "Historical_whois_lookup",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "whois",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "historical",
            "description": "Type of WHOIS query",
            "x-ms-summary": "Whois Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "domainName",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter domain name you want to search about e.g: whoisfreaks.com.",
            "x-ms-summary": "Domain Name",
            "x-ms-visibility": "important"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "description": "Enter format in which you want to get response like e.g: json.",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-summary": "Response Format",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/v2.0/dns/live": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Live DNS Lookup",
        "description": "The WhoisFreaks DNS Lookup API resolves any domain or IP address to its current DNS records in real time.",
        "operationId": "Live_dns_lookup",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "domainName",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter domain name you want to search about e.g: whoisfreaks.com",
            "x-ms-summary": "Domain Name",
            "x-ms-visibility": "important"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "all",
            "description": "Enter the DNS record type to query.",
            "x-ms-summary": "DNS Record Type"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "description": "Enter format in which you want to get response like e.g: json.",
            "x-ms-summary": "Response Format",
            "x-ms-visibility": "important",
            "enum": [
              "xml",
              "json"
            ]
          }
        ]
      }
    },
    "/v2.0/dns/historical": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Historical DNS Lookup",
        "description": "lets you query historical DNS data going back years. Supports all major record types: A, AAAA, MX, NS, TXT, SOA, SPF, CNAME, and PTR. Available as a live, historical, reverse DNS and bulk DNS API. JSON and XML output.",
        "operationId": "Hitorical_dns_lookup",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "domainName",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter domain name you want to search about e.g: whoisfreaks.com.",
            "x-ms-summary": "Domain Name",
            "x-ms-visibility": "important"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "all",
            "description": "Enter the DNS record type to query.",
            "x-ms-summary": "DNS Record Type"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1,
            "description": "Page number to retrieve.",
            "x-ms-summary": "Page Number"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter format in which you want to get response like e.g: json",
            "x-ms-summary": "Response Format",
            "x-ms-visibility": "important",
            "enum": [
              "json",
              "xml"
            ],
            "default": "json"
          }
        ]
      }
    },
    "/v2.1/dns/reverse": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Reverse DNS Lookup",
        "description": "Reverse DNS for Any Record Type.",
        "operationId": "Reverse_dns_lookup",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "value",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter IP Address you want to search about e.g: 8.8.8.8",
            "x-ms-summary": "IP Address",
            "x-ms-visibility": "important"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "a",
            "description": "The DNS record type to query.",
            "x-ms-summary": "DNS Record Type"
          },
          {
            "name": "exact",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": true,
            "description": "Filter by exact matching logic.",
            "x-ms-summary": "Exact Match Only"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1,
            "description": "Page number to retrieve.",
            "x-ms-summary": "Page Number"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter format in which you want to get response like e.g: json",
            "x-ms-visibility": "important",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-summary": "Response Format",
            "default": "json"
          }
        ]
      }
    },
    "/v1.0/domain/availability": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Domain Availability Lookup",
        "description": "Check domain availability in real time via a single REST API call. Free tier included - 500 credits, no card required. Single lookups or bulk checks of up to 100 domains across 1,528 TLDs in JSON or XML format.",
        "operationId": "Domain_availability_lookup",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter domain name you want to search about e.g: whoisfreaks.com",
            "x-ms-summary": "Domain Name",
            "x-ms-visibility": "important"
          },
          {
            "name": "sug",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "Enable domain suggestion results.",
            "x-ms-summary": "Enable Suggestions"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter format in which you want to get response like e.g: json",
            "x-ms-visibility": "important",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Response Format",
            "default": "json"
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Bulk Domain Availability Lookup",
        "description": "Check domain availability in real time via a single REST API call. Single lookup or bulk checks of up to 100 domains across 1,528 TLDs in JSON or XML format.",
        "operationId": "Bulk_domain_availability_lookup",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "description": "Enter format in which you want to get response like e.g: json",
            "x-ms-visibility": "important",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-summary": "Response Format"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "description": "Format of the content body.",
            "x-ms-summary": "Content Type Header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "domainNames": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "You can enter multiple domain names you want to search about.",
                    "title": "domainNames",
                    "x-ms-visibility": "important"
                  },
                  "description": "domainNames"
                }
              },
              "x-ms-visibility": "important",
              "required": [
                "domainNames"
              ]
            },
            "description": "Contains list of domains to query availability.",
            "x-ms-summary": "Request Body Details",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/v3.0/domain/typos": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "description": "Typosquatting API Detect registered typo variants of a brand keyword or wildcard pattern. 100 domains per page, paginated via token. Credit Cost: 5 credits per page",
        "summary": "Typosquatting Lookup",
        "operationId": "Typosquatting_lookup",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter domain name you want to search about e.g: whoisfreaks",
            "x-ms-summary": "Brand Keyword",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/v1.0/ssl/live": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "SSL Lookup",
        "description": "Fetch the full SSL certificate chain - end-user, intermediate, and root CA for any domain in a single API call. Extract expiry dates for automated monitoring. Detect self-signed certificates for phishing and brand impersonation alerts. Free tier: 500 credits, no card needed.",
        "operationId": "SSL_lookup",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "domainName",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter domain name you want to search about e.g: whoisfreaks.com",
            "x-ms-summary": "Domain Name",
            "x-ms-visibility": "important"
          },
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": true,
            "description": "Retrieve intermediate certificates in chain.",
            "x-ms-summary": "Retrieve Entire Chain"
          },
          {
            "name": "sslRaw",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "Retrieve raw text/PEM format data.",
            "x-ms-summary": "Raw SSL Details"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter format in which you want to get response like e.g: json",
            "x-ms-visibility": "important",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-summary": "Response Format",
            "default": "json"
          }
        ]
      }
    },
    "/v1.0/geolocation": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "IP Geolocation Lookup",
        "description": "Resolve any IPv4 or IPv6 address to its precise location - country, city, ZIP, timezone, ISP, and ASN in a single API call. City-level accuracy for 85%+ of global IPs. Updated daily. JSON and XML output.",
        "operationId": "IP_geolocation_lookup",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter IP Address you want to search about e.g: 8.8.8.8",
            "x-ms-summary": "IP Address",
            "x-ms-visibility": "important"
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Bulk IP Geolocation Lookup",
        "description": "Bulk IP Geolocation API Real-time geolocation for any IPv4 or IPv6 address. Includes country, city, network, ASN, and currency data.",
        "operationId": "Bulk_ip_geolocation_lookup",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "description": "Payload layout structure.",
            "x-ms-summary": "Content Type Header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ips": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "you can enter multiple IPs you want to search about.",
                    "title": "ips",
                    "x-ms-visibility": "important"
                  },
                  "description": "ips"
                }
              },
              "x-ms-visibility": "important",
              "required": [
                "ips"
              ]
            },
            "description": "List of IP addresses to locate.",
            "x-ms-summary": "Request Body Details",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/v1.0/subdomains": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Subdomains Lookup",
        "description": "The WhoisFreaks Subdomain Finder API gives you passive access to 6.3B+ indexed hostnames. Use it as a subdomain scanner, subdomain checker, or enumeration tool - returning active, inactive, and historical records in seconds.",
        "operationId": "Subdomain_lookup",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter domain name you want to search about e.g: whoisfreaks.com",
            "x-ms-summary": "Domain Name",
            "x-ms-visibility": "important"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1,
            "description": "Page number to view.",
            "x-ms-summary": "Page Number"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter format in which you want to get response like e.g: json",
            "x-ms-visibility": "important",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-summary": "Response Format",
            "default": "json"
          }
        ]
      }
    },
    "/v1.0/security": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "IP Reputation Lookup",
        "description": "The WhoisFreaks IP Reputation API scores any IPv4 or IPv6 address against real-time threat data and returns a composite threat score (0-100), VPN, proxy, Tor and bot classification, VPN and proxy provider names with confidence scores, district-level geolocation, ASN and ISP. JSON or XML in one call.",
        "operationId": "IP_reputation_lookup",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter IP Address you want to search about e.g: 8.8.8.8",
            "x-ms-summary": "IP Address",
            "x-ms-visibility": "important"
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Bulk IP Reputation Lookup",
        "description": "Bulk IP Reputation API Detailed threat intelligence for any IPv4 or IPv6 address. Detects VPNs, proxies, Tor, bots, spam, known attackers, and cloud providers.",
        "operationId": "Bulk_ip_reputation_lookup",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "description": "Format structure of body payload.",
            "x-ms-summary": "Content Type Header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ips": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "You can enter multiple ip addresses you want to search about.",
                    "title": "ips",
                    "x-ms-visibility": "important"
                  },
                  "description": "ips"
                }
              },
              "x-ms-visibility": "important",
              "required": [
                "ips"
              ]
            },
            "description": "List of IP addresses to scan threat level.",
            "x-ms-summary": "Request Body Details",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/v1/domain/security": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Domain Reputation Lookup",
        "description": "It's for domain security like if a domain is being used in any sort of malware|phishing campaign.",
        "operationId": "Domain_reputation_lookup",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "domainName",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter domain name you want to search about e.g: whoisfreaks.com",
            "x-ms-summary": "Domain Name",
            "x-ms-visibility": "important"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "description": "Enter format in which you want to get response like e.g: json",
            "x-ms-summary": "Response Format",
            "x-ms-visibility": "important",
            "enum": [
              "json",
              "xml"
            ]
          }
        ]
      }
    },
    "/v2.0/whois/reverse": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Reverse Whois Lookup",
        "description": "Standard WHOIS lookup tells you who owns a domain. The WhoisFreaks Reverse WHOIS API flips that question - give it an email address, registrant name, company, or keyword and it returns every domain in our 4.1B+ record database connected to that identifier. Paginated, structured, and available in JSON or XML.",
        "operationId": "Reverse_whois_lookup",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter keyword you want to search about e.g: whoisfreaks",
            "x-ms-summary": "Lookup Keyword",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/v2.0/bulkwhois/live": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Bulk Whois Lookup",
        "description": "Bulk WHOIS API Process up to 100 domains per request with full WHOIS data. For 3M+ domains, use file upload mode and results are delivered via email. Credit Cost: 1 credit per successful domain query",
        "operationId": "Bulk_whois_lookup",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "description": "Enter format in which you want to get response like e.g: json",
            "x-ms-summary": "Response Format",
            "x-ms-visibility": "important",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "description": "Payload body format.",
            "x-ms-summary": "Content Type Header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "domainNames": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Enter domain names ( comma separated ) you want to search about e.g: google.com, whoisfreaks.com",
                    "title": "Domain Names",
                    "x-ms-visibility": "important"
                  },
                  "description": "domainNames"
                }
              },
              "x-ms-visibility": "important",
              "required": [
                "domainNames"
              ]
            },
            "description": "Contains payload list of domains for bulk search.",
            "x-ms-summary": "Request Body Details",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/v2.0/dns/bulk/live": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Bulk Domain Lookup",
        "description": "Real-time and historical DNS lookups in bulk across all record types. Supported Record Types: A, AAAA, MX, NS, CNAME, SOA, TXT, SPF, PTR",
        "operationId": "Bulk_domain_lookup",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "all",
            "description": "The DNS record type to query.",
            "x-ms-summary": "DNS Record Type"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "description": "Enter format in which you want to get response like e.g: json",
            "x-ms-summary": "Response Format",
            "x-ms-visibility": "important",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "description": "Structure of the bulk lookup data payload.",
            "x-ms-summary": "Content Type Header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "domainNames": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "You can enter multiple domain names, you want to search about",
                    "title": "domainNames",
                    "x-ms-visibility": "important"
                  },
                  "description": "domainNames"
                },
                "ipAddresses": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "You can enter multiple IP Address you want to search about",
                    "title": "ipAddresses",
                    "x-ms-visibility": "important"
                  },
                  "description": "ipAddresses"
                }
              },
              "x-ms-visibility": "important",
              "required": [
                "domainNames"
              ]
            },
            "description": "Contains list of targets for bulk query.",
            "x-ms-summary": "Request Body Details",
            "x-ms-visibility": "important"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "query",
      "name": "apiKey"
    }
  }
}
