{"swagger":"2.0","info":{"title":"WhoisFreaks","description":"Unleash the Power of Data with Our Domain and IP Intelligence: \nGain real-time DNS, domain, and IP intelligence to strengthen security, protect your brand, and drive smarter decisions with our advanced data platform.","version":"1.0","contact":{"name":"WhoisFreaks Support","url":"https://whoisfreaks.com/contact","email":"support@whoisfreaks.com"},"x-ms-connector-metadata":[{"propertyName":"Website","propertyValue":"https://whoisfreaks.com"},{"propertyName":"Privacy Policy","propertyValue":"https://whoisfreaks.com/privacy-policy"},{"propertyName":"Categories","propertyValue":"Security;Utilities"}]},"host":"api.whoisfreaks.com","basePath":"/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/v2.0/whois/live":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Live Whois Lookup","description":"Query live, structured WHOIS data for any domain and get owner details, registrar, registration dates, nameservers - returned as clean JSON or XML in milliseconds. No caching. No stale records. Directly from authoritative WHOIS servers and RDAP on every request.","operationId":"Live_whois_lookup","x-ms-visibility":"important","parameters":[{"name":"domainName","in":"query","required":true,"type":"string","description":"Enter domain name you want to search about e.g: whoisfreaks.com.","x-ms-summary":"Domain Name","x-ms-visibility":"important"},{"name":"format","in":"query","required":true,"type":"string","default":"json","description":"Enter format in which you want to get response like e.g: json.","x-ms-summary":"Format","x-ms-visibility":"important","enum":["json","xml"]}]}},"/v1.0/whois":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Historical Whois Lookup","description":"The WHOIS History API gives you programmatic access to the complete ownership timeline of any domain covering every registrar change, registrant update, nameserver modification, and expiry event, going back to 1986. Each record is deduplicated so you only see genuine changes, not noise.","operationId":"Historical_whois_lookup","x-ms-visibility":"important","parameters":[{"name":"whois","in":"query","required":true,"type":"string","default":"historical","description":"Type of query parameter lookup logic.","x-ms-visibility":"internal","x-ms-summary":"whois"},{"name":"domainName","in":"query","required":true,"type":"string","description":"Enter domain name you want to search about e.g: whoisfreaks.com.","x-ms-summary":"Domain Name","x-ms-visibility":"important"},{"name":"format","in":"query","required":true,"type":"string","default":"json","description":"Enter format in which you want to get response like e.g: json.","enum":["json","xml"],"x-ms-summary":"Format","x-ms-visibility":"important"}]}},"/v2.0/dns/live":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Live DNS Lookup","description":"The WhoisFreaks DNS Lookup API resolves any domain or IP address to its current DNS records in real time.","operationId":"Live_dns_lookup","x-ms-visibility":"important","parameters":[{"name":"domainName","in":"query","required":true,"type":"string","description":"Enter domain name you want to search about e.g: whoisfreaks.com","x-ms-summary":"Domain Name","x-ms-visibility":"important"},{"name":"type","in":"query","required":false,"type":"string","default":"all","description":"DNS record type to query such as A, MX, NS, TXT, or all.","x-ms-summary":"Type"},{"name":"format","in":"query","required":true,"type":"string","default":"json","description":"Enter format in which you want to get response like e.g: json.","x-ms-summary":"Format","x-ms-visibility":"important","enum":["xml","json"]}]}},"/v2.0/dns/historical":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Historical DNS Lookup","description":"lets you query historical DNS data going back years. Supports all major record types: A, AAAA, MX, NS, TXT, SOA, SPF, CNAME, and PTR. Available as a live, historical, reverse DNS and bulk DNS API. JSON and XML output.","operationId":"Hitorical_dns_lookup","x-ms-visibility":"important","parameters":[{"name":"domainName","in":"query","required":true,"type":"string","description":"Enter domain name you want to search about e.g: whoisfreaks.com.","x-ms-summary":"Domain Name","x-ms-visibility":"important"},{"name":"type","in":"query","required":false,"type":"string","default":"all","description":"DNS record type to look up historically.","x-ms-summary":"Type"},{"name":"page","in":"query","required":false,"type":"integer","default":1,"description":"Page index number for retrieving paginated results.","x-ms-summary":"Page"},{"name":"format","in":"query","required":true,"type":"string","description":"Enter format in which you want to get response like e.g: json","x-ms-summary":"Format","x-ms-visibility":"important","enum":["json","xml"],"default":"json"}]}},"/v2.1/dns/reverse":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Reverse DNS Lookup","description":"Reverse DNS for Any Record Type.","operationId":"Reverse_dns_lookup","x-ms-visibility":"important","parameters":[{"name":"value","in":"query","required":true,"type":"string","description":"Enter IP Address you want to search about e.g: 8.8.8.8","x-ms-visibility":"important","x-ms-summary":"Value"},{"name":"type","in":"query","required":false,"type":"string","default":"a","description":"The target DNS record parameter mapping.","x-ms-summary":"Type"},{"name":"exact","in":"query","required":false,"type":"boolean","default":true,"description":"Filter parameters strictly using an exact match evaluation.","x-ms-summary":"Exact"},{"name":"page","in":"query","required":false,"type":"integer","default":1,"description":"Page pagination counter index.","x-ms-summary":"Page"},{"name":"format","in":"query","required":true,"type":"string","description":"Enter format in which you want to get response like e.g: json","x-ms-summary":"Format","x-ms-visibility":"important","enum":["json","xml"],"default":"json"}]}},"/v1.0/domain/availability":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Domain Availability Lookup","description":"Check domain availability in real time via a single REST API call. Free tier included - 500 credits, no card required. Single lookups or bulk checks of up to 100 domains across 1,528 TLDs in JSON or XML format.","operationId":"Domain_availability_lookup","x-ms-visibility":"important","parameters":[{"name":"domain","in":"query","required":true,"type":"string","description":"Enter domain name you want to search about e.g: whoisfreaks.com","x-ms-summary":"Domain Name","x-ms-visibility":"important"},{"name":"sug","in":"query","required":false,"type":"boolean","default":false,"description":"Request automated optional generation of domain name variations.","x-ms-summary":"Sug"},{"name":"format","in":"query","required":true,"type":"string","description":"Enter format in which you want to get response like e.g: json","x-ms-summary":"Format","x-ms-visibility":"important","enum":["xml","json"],"default":"json"}]},"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Bulk Domain Availability Lookup","description":"Check domain availability in real time via a single REST API call. Single lookup or bulk checks of up to 100 domains across 1,528 TLDs in JSON or XML format.","operationId":"Bulk_domain_availability_lookup","x-ms-visibility":"important","parameters":[{"name":"format","in":"query","required":true,"type":"string","default":"json","description":"Enter format in which you want to get response like e.g: json","x-ms-summary":"Format","x-ms-visibility":"important","enum":["json","xml"]},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json","description":"The formatting pattern of the outgoing request body metadata envelope.","x-ms-summary":"Content-Type"},{"name":"body","in":"body","required":true,"description":"JSON list data matrix of target system endpoints.","x-ms-summary":"Body","schema":{"type":"object","properties":{"domainNames":{"type":"array","items":{"type":"string","description":"You can enter multiple domain names you want to search about.","title":"domainNames","x-ms-visibility":"important"},"description":"domainNames","x-ms-summary":"Domain Names"}},"x-ms-visibility":"important","x-ms-summary":"Body","required":["domainNames"]},"x-ms-visibility":"important"}]}},"/v3.0/domain/typos":{"get":{"responses":{"default":{"description":"default","schema":{}}},"description":"Typosquatting API Detect registered typo variants of a brand keyword or wildcard pattern. 100 domains per page, paginated via token. Credit Cost: 5 credits per page","summary":"Typosquatting Lookup","operationId":"Typosquatting_lookup","x-ms-visibility":"important","parameters":[{"name":"keyword","in":"query","required":true,"type":"string","description":"Enter domain name you want to search about e.g: whoisfreaks","x-ms-summary":"Keyword","x-ms-visibility":"important"}]}},"/v1.0/ssl/live":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"SSL Lookup","description":"Fetch the full SSL certificate chain - end-user, intermediate, and root CA for any domain in a single API call. Extract expiry dates for automated monitoring. Detect self-signed certificates for phishing and brand impersonation alerts. Free tier: 500 credits, no card needed.","operationId":"SSL_lookup","x-ms-visibility":"important","parameters":[{"name":"domainName","in":"query","required":true,"type":"string","description":"Enter domain name you want to search about e.g: whoisfreaks.com","x-ms-visibility":"important","x-ms-summary":"Domain Name"},{"name":"chain","in":"query","required":false,"type":"boolean","default":true,"description":"Toggle parsing options to pull full security context chains.","x-ms-summary":"Chain"},{"name":"sslRaw","in":"query","required":false,"type":"boolean","default":false,"description":"Return unformatted base configuration structure output.","x-ms-summary":"sslRaw"},{"name":"format","in":"query","required":true,"type":"string","description":"Enter format in which you want to get response like e.g: json","x-ms-summary":"Format","x-ms-visibility":"important","enum":["json","xml"],"default":"json"}]}},"/v1.0/geolocation":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"IP Geolocation Lookup","description":"Resolve any IPv4 or IPv6 address to its precise location - country, city, ZIP, timezone, ISP, and ASN in a single API call. City-level accuracy for 85%+ of global IPs. Updated daily. JSON and XML output.","operationId":"IP_geolocation_lookup","x-ms-visibility":"important","parameters":[{"name":"ip","in":"query","required":true,"type":"string","description":"Enter IP Address you want to search about e.g: 8.8.8.8","x-ms-visibility":"important","x-ms-summary":"IP"}]},"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Bulk IP Geolocation Lookup","description":"Bulk IP Geolocation API Real-time geolocation for any IPv4 or IPv6 address. Includes country, city, network, ASN, and currency data.","operationId":"Bulk_ip_geolocation_lookup","x-ms-visibility":"important","parameters":[{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json","description":"Document MIME formatting context definition payload header data.","x-ms-summary":"Content-Type"},{"name":"body","in":"body","required":true,"description":"Array elements containing system configuration mappings.","x-ms-summary":"Body","schema":{"type":"object","properties":{"ips":{"type":"array","items":{"type":"string","description":"you can enter multiple IPs you want to search about.","title":"ips","x-ms-summary":"IPs","x-ms-visibility":"important"},"description":"ips"}},"x-ms-visibility":"important","required":["ips"]},"x-ms-visibility":"important"}]}},"/v1.0/subdomains":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Subdomains Lookup","description":"The WhoisFreaks Subdomain Finder API gives you passive access to 6.3B+ indexed hostnames. Use it as a subdomain scanner, subdomain checker, or enumeration tool - returning active, inactive, and historical records in seconds.","operationId":"Subdomain_lookup","x-ms-visibility":"important","parameters":[{"name":"domain","in":"query","required":true,"type":"string","description":"Enter domain name you want to search about e.g: whoisfreaks.com","x-ms-visibility":"important","x-ms-summary":"Domain Name"},{"name":"page","in":"query","required":false,"type":"integer","default":1,"description":"Numerical offset index count parameters.","x-ms-summary":"Page"},{"name":"format","in":"query","required":true,"type":"string","description":"Enter format in which you want to get response like e.g: json","x-ms-visibility":"important","x-ms-summary":"Format","enum":["json","xml"],"default":"json"}]}},"/v1.0/security":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"IP Reputation Lookup","description":"The WhoisFreaks IP Reputation API scores any IPv4 or IPv6 address against real-time threat data and returns a composite threat score (0–100), VPN, proxy, Tor and bot classification, VPN and proxy provider names with confidence scores, district-level geolocation, ASN and ISP. JSON or XML in one call.","operationId":"IP_reputation_lookup","x-ms-visibility":"important","parameters":[{"name":"ip","in":"query","required":true,"type":"string","description":"Enter IP Address you want to search about e.g: 8.8.8.8","x-ms-visibility":"important","x-ms-summary":"IP"}]},"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Bulk IP Reputation Lookup","description":"Bulk IP Reputation API Detailed threat intelligence for any IPv4 or IPv6 address. Detects VPNs, proxies, Tor, bots, spam, known attackers, and cloud providers.","operationId":"Bulk_ip_reputation_lookup","x-ms-visibility":"important","parameters":[{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json","description":"The body content mime type encapsulation wrapper formatting key.","x-ms-summary":"Content-Type"},{"name":"body","in":"body","required":true,"description":"Request structural object definition holding specific elements block data.","x-ms-summary":"Body","schema":{"type":"object","properties":{"ips":{"type":"array","items":{"type":"string","description":"You can enter multiple ip addresses you want to search about.","title":"ips","x-ms-summary":"IPs","x-ms-visibility":"important"},"description":"ips"}},"x-ms-visibility":"important","required":["ips"]},"x-ms-visibility":"important"}]}},"/v1/domain/security":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Domain Reputation Lookup","description":"It's for domain security like if a domain is being used in any sort of malware|phishing campaign.","operationId":"Domain_reputation_lookup","x-ms-visibility":"important","parameters":[{"name":"domainName","in":"query","required":true,"type":"string","description":"Enter domain name you want to search about e.g: whoisfreaks.com","x-ms-visibility":"important","x-ms-summary":"Domain Name"},{"name":"format","in":"query","required":true,"type":"string","default":"json","description":"Enter format in which you want to get response like e.g: json","x-ms-visibility":"important","x-ms-summary":"Format","enum":["json","xml"]}]}},"/v2.0/whois/reverse":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Reverse Whois Lookup","description":"Standard WHOIS lookup tells you who owns a domain. The WhoisFreaks Reverse WHOIS API flips that question - give it an email address, registrant name, company, or keyword and it returns every domain in our 4.1B+ record database connected to that identifier. Paginated, structured, and available in JSON or XML.","operationId":"Reverse_whois_lookup","x-ms-visibility":"important","parameters":[{"name":"keyword","in":"query","required":true,"type":"string","description":"Enter keyword you want to search about e.g: whoisfreaks","x-ms-visibility":"important","x-ms-summary":"Keyword"}]}},"/v2.0/bulkwhois/live":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Bulk Whois Lookup","description":"Bulk WHOIS API Process up to 100 domains per request with full WHOIS data. For 3M+ domains, use file upload mode and results are delivered via email. Credit Cost: 1 credit per successful domain query","operationId":"Bulk_whois_lookup","x-ms-visibility":"important","parameters":[{"name":"format","in":"query","required":true,"type":"string","default":"json","description":"Enter format in which you want to get response like e.g: json","x-ms-visibility":"important","x-ms-summary":"Format","enum":["json","xml"]},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json","description":"MIME context type header format parameters tracking properties.","x-ms-summary":"Content-Type"},{"name":"body","in":"body","required":true,"description":"Structural component payload containing target items elements.","x-ms-summary":"Body","schema":{"type":"object","properties":{"domainNames":{"type":"array","items":{"type":"string","description":"Enter domain names ( comma separated ) you want to search about e.g: google.com, whoisfreaks.com","title":"Domain Names","x-ms-visibility":"important","x-ms-summary":"Domain Names"},"description":"domainNames"}},"x-ms-visibility":"important","required":["domainNames"]},"x-ms-visibility":"important"}]}},"/v2.0/dns/bulk/live":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Bulk Domain Lookup","description":"Real-time and historical DNS lookups in bulk across all record types. Supported Record Types: A, AAAA, MX, NS, CNAME, SOA, TXT, SPF, PTR","operationId":"Bulk_domain_lookup","x-ms-visibility":"important","parameters":[{"name":"type","in":"query","required":false,"type":"string","default":"all","x-ms-summary":"type","description":"The DNS record lookup filter string."},{"name":"format","in":"query","required":true,"type":"string","default":"json","x-ms-summary":"Format","description":"Enter format in which you want to get response like e.g: json","enum":["json","xml"]},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json","description":"Format serialization header identity key.","x-ms-summary":"Content-Type"},{"name":"body","in":"body","required":true,"description":"The incoming array envelope formatting map definition.","x-ms-summary":"Body","schema":{"type":"object","properties":{"domainNames":{"type":"array","items":{"type":"string","description":"You can enter multiple domain names, you want to search about","title":"domainNames","x-ms-visibility":"important","x-ms-summary":"Domain Names"},"description":"domainNames"},"ipAddresses":{"type":"array","items":{"type":"string","description":"You can enter multiple IP Address you want to search about","title":"ipAddresses","x-ms-visibility":"important","x-ms-summary":"IP Addresses"},"description":"ipAddresses"}},"x-ms-visibility":"important","required":["domainNames"]},"x-ms-visibility":"important"}]}},"/v1.0/ip-whois":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"IP Whois","description":"The WhoisFreaks IP WHOIS API lets you query real-time ownership, routing, and abuse contact data for any IP address, across all five Regional Internet Registries (ARIN, RIPE, APNIC, AFRINIC, LACNIC). Get structured JSON or XML responses in milliseconds best for security teams and network engineers.","operationId":"IP_whois","x-ms-visibility":"important","parameters":[{"name":"ip","in":"query","required":true,"type":"string","description":"Enter IP Address you want to search about e.g: 1.1.1.1","x-ms-visibility":"important","x-ms-summary":"IP"}]}},"/v1.0/asn-whois":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"ASN Whois v1","description":"The WhoisFreaks ASN WHOIS API lets you query real-time data for any Autonomous System Number including organisation details, BGP routing, IP prefixes, peer relationships, and upstream/downstream providers. Get clean JSON or XML responses. Built for security engineers, network researchers, and threat intelligence platforms.","operationId":"Asn_whois_v1","x-ms-visibility":"important","parameters":[{"name":"asn","in":"query","required":true,"type":"string","x-ms-visibility":"important","description":"Enter asn you want to search about e.g: AS15169","x-ms-summary":"ASN"},{"name":"format","in":"query","required":true,"type":"string","default":"json","description":"Enter format in which you want to get response like e.g: json","x-ms-summary":"Format","x-ms-visibility":"important","enum":["xml","json"]}]}},"/v2.0/asn-whois":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"ASN Whois v2","description":"The WhoisFreaks ASN WHOIS API lets you query real-time data for any Autonomous System Number including organisation details, BGP routing, IP prefixes, peer relationships, and upstream/downstream providers. Get clean JSON or XML responses. Built for security engineers, network researchers, and threat intelligence platforms.","operationId":"Asn_Whois_v2","x-ms-visibility":"important","parameters":[{"name":"asn","in":"query","required":true,"type":"string","description":"Enter asn you want to search about e.g: AS12","x-ms-visibility":"important","x-ms-summary":"ASN"},{"name":"format","in":"query","required":true,"type":"string","default":"json","description":"Enter format in which you want to get response like e.g: json","x-ms-visibility":"important","x-ms-summary":"Format","enum":["xml","json"]}]}},"/v1.0/whoisapi/usage":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Account Usage","description":"returns how much total credits you have, request served and api subscription details.","operationId":"Account_usage","x-ms-visibility":"important","parameters":[]}},"/v3.3/status":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Database File Status","description":"Returns the status of Database files","operationId":"Database_file_status","x-ms-visibility":"important","parameters":[]}},"/v1.0/api-key/rotate":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Rotate API Key","description":"Returns the new API key (plain JSON string, 32 characters). The old API key is immediately invalidated upon rotation.","operationId":"Rotate_api_key","x-ms-visibility":"important","parameters":[]}}},"definitions":{},"parameters":{},"responses":{},"security":[{"api_key":[]}],"tags":[],"securityDefinitions":{"api_key":{"type":"apiKey","in":"query","name":"apiKey"}}}