{
  "swagger": "2.0",
  "info": {
    "title": "Rev AI",
    "description": "The world's most accurate service for AI- and human-generated transcripts. Trained from the most diverse collection of voices in the world, Rev AI sets the accuracy standard for video and voice applications.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.rev.ai",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/speechtotext/v1/jobs/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "language": {
                  "type": "string",
                  "description": "The language.",
                  "title": "Language"
                },
                "created_on": {
                  "type": "string",
                  "description": "When created on.",
                  "title": "Created On"
                },
                "transcriber": {
                  "type": "string",
                  "description": "The transcriber.",
                  "title": "Transcriber"
                }
              }
            }
          }
        },
        "summary": "Get transcription job",
        "description": "Returns information about a transcription job.",
        "operationId": "TranscriptionGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "x-ms-visibility": "important"
      },
      "delete": {
        "responses": {
          "204": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Delete transcription job",
        "description": "Deletes a transcription job. All data related to the job, such as input media and transcript, will be permanently deleted. A job can only be deleted once it's completed (either with success or failure).",
        "operationId": "TranscriptionDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/speechtotext/v1/jobs": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "status": {
                    "type": "string",
                    "description": "The status.",
                    "title": "Status"
                  },
                  "created_on": {
                    "type": "string",
                    "description": "When created on.",
                    "title": "Created On"
                  },
                  "type": {
                    "type": "string",
                    "description": "The type.",
                    "title": "Type"
                  },
                  "delete_after_seconds": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The delete after seconds.",
                    "title": "Delete After Seconds"
                  },
                  "transcriber": {
                    "type": "string",
                    "description": "The transcriber.",
                    "title": "Transcriber"
                  }
                }
              }
            }
          }
        },
        "summary": "Get transcription job list",
        "description": "Retrieve a list of transcription jobs submitted within the last 30 days.",
        "operationId": "TranscriptionsGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer",
            "default": 100
          },
          {
            "name": "starting_after",
            "in": "query",
            "x-ms-summary": "Starting After",
            "description": "The starting after.",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "language": {
                  "type": "string",
                  "description": "The language.",
                  "title": "Language"
                },
                "created_on": {
                  "type": "string",
                  "description": "When created on.",
                  "title": "Created On"
                },
                "transcriber": {
                  "type": "string",
                  "description": "The transcriber.",
                  "title": "Transcriber"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Submit transcription job",
        "description": "Starts an asynchronous job to transcribe speech-to-text for a media file.",
        "operationId": "TranscriptionPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "source_config": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    },
                    "auth_headers": {
                      "type": "object",
                      "properties": {
                        "Authorization": {
                          "type": "string",
                          "description": "The authorization.",
                          "title": "Authorization"
                        }
                      },
                      "title": "Auth"
                    }
                  },
                  "title": "Source Config",
                  "required": [
                    "url"
                  ]
                },
                "metadata": {
                  "type": "string",
                  "description": "The metadata.",
                  "title": "Metadata"
                },
                "notification_config": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    },
                    "auth_headers": {
                      "type": "object",
                      "properties": {
                        "Authorization": {
                          "type": "string",
                          "description": "The authorization.",
                          "title": "Authorization"
                        }
                      },
                      "title": "Auth"
                    }
                  },
                  "title": "Notification Config",
                  "required": [
                    "url"
                  ]
                },
                "delete_after_seconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The delete after seconds.",
                  "title": "Delete After Seconds"
                },
                "transcriber": {
                  "type": "string",
                  "description": "The transcriber.",
                  "title": "Transcriber"
                },
                "verbatim": {
                  "type": "boolean",
                  "description": "Whether verbatim.",
                  "title": "Verbatim"
                },
                "rush": {
                  "type": "boolean",
                  "description": "Whether to rush.",
                  "title": "Rush"
                },
                "test_mode": {
                  "type": "boolean",
                  "description": "Whether test mode.",
                  "title": "Test Mode"
                },
                "segments_to_transcribe": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "start": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The start number.",
                        "title": "Start"
                      },
                      "end": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The end number.",
                        "title": "End"
                      }
                    }
                  },
                  "title": "Segments To Transcribe"
                },
                "speakers_names": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "display_name": {
                        "type": "string",
                        "description": "The display name.",
                        "title": "Name"
                      }
                    }
                  },
                  "title": "Speakers"
                },
                "skip_diarization": {
                  "type": "boolean",
                  "description": "Whether to skip diarization.",
                  "title": "Skip Diarization"
                },
                "skip_postprocessing": {
                  "type": "boolean",
                  "description": "Whether to skip postprocessing.",
                  "title": "Skip Postprocessing"
                },
                "skip_punctuation": {
                  "type": "boolean",
                  "description": "Whether to skip punctuations.",
                  "title": "Skip Punctuation"
                },
                "remove_disfluencies": {
                  "type": "boolean",
                  "description": "Whether to remove disfluencies.",
                  "title": "Remove Disfluencies"
                },
                "remove_atmospherics": {
                  "type": "boolean",
                  "description": "Whether to remove atmospherics.",
                  "title": "Remove Atmospherics"
                },
                "filter_profanity": {
                  "type": "boolean",
                  "description": "Whether to filter profanity.",
                  "title": "Filter Profanity"
                },
                "speaker_channels_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The speaker channels count.",
                  "title": "Speaker Channels Count"
                },
                "speakers_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The speakers count.",
                  "title": "Speakers Count"
                },
                "custom_vocabulary_id": {
                  "type": "string",
                  "description": "The custom vocabulary identifier.",
                  "title": "Custom Vocabulary ID"
                },
                "custom_vocabularies": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "phrases": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The phrases.",
                        "title": "Phrases"
                      }
                    }
                  },
                  "title": "Custom Vocabularies"
                },
                "language": {
                  "type": "string",
                  "description": "The language.",
                  "title": "Language"
                }
              },
              "required": [
                "notification_config"
              ]
            }
          }
        ]
      }
    },
    "/speechtotext/v1/jobs/{id}/transcript": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "monologues": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "speaker": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The speaker.",
                        "title": "Speaker"
                      },
                      "elements": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "The type.",
                              "title": "Type"
                            },
                            "value": {
                              "type": "string",
                              "description": "The value.",
                              "title": "Value"
                            },
                            "ts": {
                              "type": "number",
                              "format": "float",
                              "description": "The TS.",
                              "title": "TS"
                            },
                            "end_ts": {
                              "type": "number",
                              "format": "float",
                              "description": "The end TS.",
                              "title": "End TS"
                            },
                            "confidence": {
                              "type": "number",
                              "format": "float",
                              "description": "The confidence.",
                              "title": "Confidence"
                            }
                          }
                        },
                        "title": "Elements"
                      }
                    }
                  },
                  "title": "Monologues"
                }
              }
            }
          }
        },
        "summary": "Get transcript",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "description": "Returns the transcript for a completed transcription job.",
        "operationId": "TranscriptGet"
      }
    },
    "/speechtotext/v1/jobs/{id}/captions": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Get captions",
        "description": "Returns the caption output for a transcription job. We currently support the SubRip (SRT) format.",
        "operationId": "CaptionsGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "x-ms-summary": "Accept",
            "description": "The response format.",
            "required": false,
            "type": "string",
            "default": "application/x-subrip",
            "enum": [
              "application/x-subrip",
              "text/vtt"
            ]
          }
        ]
      }
    },
    "/speechtotext/v1/account": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "free_balance": {
                  "type": "number",
                  "format": "float",
                  "description": "The free balance.",
                  "title": "Free Balance"
                },
                "purchased_balance": {
                  "type": "number",
                  "format": "float",
                  "description": "The purchased balance.",
                  "title": "Purchased Balance"
                },
                "total_balance": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total balance.",
                  "title": "Total Balance"
                },
                "invoiced_balance": {
                  "type": "number",
                  "format": "float",
                  "description": "The invoiced balance.",
                  "title": "Invoiced Balance"
                },
                "balance_seconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The balance seconds.",
                  "title": "Balance Seconds"
                },
                "hipaa_enabled": {
                  "type": "boolean",
                  "description": "Whether HIPAA is enabled.",
                  "title": "HIPAA Enabled"
                }
              }
            }
          }
        },
        "summary": "Get account",
        "description": "Get the developer's account information.",
        "operationId": "AccountGet",
        "parameters": []
      }
    },
    "/speechtotext/v1/vocabularies": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "status": {
                    "type": "string",
                    "description": "The status.",
                    "title": "Status"
                  },
                  "created_on": {
                    "type": "string",
                    "description": "When created on.",
                    "title": "Created On"
                  },
                  "callback_url": {
                    "type": "string",
                    "description": "The callback URL address.",
                    "title": "Callback URL"
                  },
                  "completed_on": {
                    "type": "string",
                    "description": "When completed on.",
                    "title": "Completed On"
                  },
                  "failure": {
                    "type": "string",
                    "description": "The failure.",
                    "title": "Failure"
                  },
                  "failure_detail": {
                    "type": "string",
                    "description": "The failure details.",
                    "title": "Failure Details"
                  }
                }
              }
            }
          }
        },
        "summary": "Get list of vocabularies",
        "description": "Retrieves a list of most recent custom vocabularies' processing information.",
        "operationId": "VocabulariesGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer",
            "default": 100
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "created_on": {
                  "type": "string",
                  "description": "When created on.",
                  "title": "Created On"
                },
                "callback_url": {
                  "type": "string",
                  "description": "The callback URL address.",
                  "title": "Callback URL"
                }
              }
            }
          }
        },
        "summary": "Submit custom vocabulary",
        "description": "Submits a Custom Vocabulary for asynchronous processing.",
        "operationId": "VocabularyPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "string",
                  "description": "The metadata.",
                  "title": "Metadata"
                },
                "notification_config": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    },
                    "auth_headers": {
                      "type": "object",
                      "properties": {
                        "Authorization": {
                          "type": "string",
                          "description": "The authorization.",
                          "title": "Authorization"
                        }
                      },
                      "title": "Auth"
                    }
                  },
                  "title": "Notification Config"
                },
                "custom_vocabularies": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "phrases": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The phrases.",
                        "title": "Phrases"
                      }
                    }
                  },
                  "title": "Custom Vocabularies"
                }
              }
            }
          }
        ]
      }
    },
    "/speechtotext/v1/vocabularies/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "created_on": {
                  "type": "string",
                  "description": "When created on.",
                  "title": "Created On"
                },
                "callback_url": {
                  "type": "string",
                  "description": "The callback URL address.",
                  "title": "Callback URL"
                }
              }
            }
          }
        },
        "summary": "Get vocabulary",
        "description": "Retrieve a custom vocabulary processing information.",
        "operationId": "VocabularyGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Delete vocabulary",
        "description": "Deletes a custom vocabulary. All data related to the custom vocabulary, such as webhooks and metadata, will be permanently deleted.",
        "operationId": "VocabularyDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/topic_extraction/v1/jobs": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "status": {
                    "type": "string",
                    "description": "The status.",
                    "title": "Status"
                  },
                  "language": {
                    "type": "string",
                    "description": "The language.",
                    "title": "Language"
                  },
                  "created_on": {
                    "type": "string",
                    "description": "When created on.",
                    "title": "Created On"
                  },
                  "completed_on": {
                    "type": "string",
                    "description": "When completed on.",
                    "title": "Completed On"
                  },
                  "callback_url": {
                    "type": "string",
                    "description": "The callback URL address.",
                    "title": "Callback URL"
                  },
                  "type": {
                    "type": "string",
                    "description": "The type.",
                    "title": "Type"
                  },
                  "word_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The word count.",
                    "title": "Word Count"
                  }
                }
              }
            }
          }
        },
        "summary": "Get topic extraction jobs",
        "description": "Retrieves a list of topic extraction jobs submitted within the last 30 days in reverse chronological order.",
        "operationId": "ExtractionsGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer",
            "default": 100
          },
          {
            "name": "starting_after",
            "in": "query",
            "x-ms-summary": "Starting After",
            "description": "The starting after.",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "language": {
                  "type": "string",
                  "description": "The language.",
                  "title": "Language"
                },
                "created_on": {
                  "type": "string",
                  "description": "When created on.",
                  "title": "Created On"
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                }
              }
            }
          }
        },
        "summary": "Submit topic extraction job",
        "description": "Starts an asynchronous job to extract topics from a transcript.",
        "operationId": "ExtractionPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "language": {
                  "type": "string",
                  "description": "The language.",
                  "title": "Language"
                },
                "metadata": {
                  "type": "string",
                  "description": "The metadata.",
                  "title": "Metadata"
                },
                "notification_config": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    },
                    "auth_headers": {
                      "type": "object",
                      "properties": {
                        "Authorization": {
                          "type": "string",
                          "description": "The authorization.",
                          "title": "Authorization"
                        }
                      },
                      "title": "Auth"
                    }
                  },
                  "title": "Notification Config"
                },
                "delete_after_seconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The delete after seconds.",
                  "title": "Delete After Seconds"
                },
                "json": {
                  "type": "object",
                  "properties": {
                    "monologues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "speaker": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The speaker.",
                            "title": "Speaker"
                          },
                          "elements": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "The type.",
                                  "title": "Type"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "The value.",
                                  "title": "Value"
                                },
                                "ts": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "The TS.",
                                  "title": "TS"
                                },
                                "end_ts": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "The end TS.",
                                  "title": "End Ts"
                                },
                                "confidence": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "The confidence.",
                                  "title": "Confidence"
                                }
                              }
                            },
                            "title": "Elements"
                          }
                        }
                      },
                      "title": "Monologues"
                    }
                  },
                  "title": "JSON"
                }
              }
            }
          }
        ]
      }
    },
    "/topic_extraction/v1/jobs/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "language": {
                  "type": "string",
                  "description": "The language.",
                  "title": "Language"
                },
                "created_on": {
                  "type": "string",
                  "description": "When created on.",
                  "title": "Created On"
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                }
              }
            }
          }
        },
        "summary": "Get topic extraction job",
        "description": "Returns information about a topic extraction job.",
        "operationId": "ExtractionGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Delete topic extraction jo",
        "description": "Deletes a topic extraction job. All data related to the job will be permanently deleted.",
        "operationId": "ExtractionDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/topic_extraction/v1/jobs/{id}/result": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "topics": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "topic_name": {
                        "type": "string",
                        "description": "The topic name.",
                        "title": "Topic Name"
                      },
                      "score": {
                        "type": "number",
                        "format": "float",
                        "description": "The score.",
                        "title": "Score"
                      },
                      "informants": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "content": {
                              "type": "string",
                              "description": "The content.",
                              "title": "Content"
                            },
                            "ts": {
                              "type": "number",
                              "format": "float",
                              "description": "The TS.",
                              "title": "TS"
                            },
                            "end_ts": {
                              "type": "number",
                              "format": "float",
                              "description": "The end TS.",
                              "title": "End TS"
                            }
                          }
                        },
                        "title": "Informants"
                      }
                    }
                  },
                  "title": "Topics"
                }
              }
            }
          }
        },
        "summary": "Get topic extraction result",
        "description": "Returns the results for a completed topic extraction job.",
        "operationId": "ExtractionResultGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "threshold",
            "in": "query",
            "x-ms-summary": "Threshold",
            "description": "The threshold.",
            "required": false,
            "type": "number"
          }
        ]
      }
    },
    "/sentiment_analysis/v1/jobs": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get sentiment analysis jobs",
        "description": "Gets a list of sentiment analysis jobs submitted within the last 30 days in reverse chronological order.",
        "operationId": "AnalysisesGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer",
            "default": 100
          },
          {
            "name": "starting_after",
            "in": "query",
            "x-ms-summary": "Starting After",
            "description": "The starting after.",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "language": {
                  "type": "string",
                  "description": "The language.",
                  "title": "Language"
                },
                "created_on": {
                  "type": "string",
                  "description": "When created on.",
                  "title": "Created On"
                },
                "callback_url": {
                  "type": "string",
                  "description": "The callback URL address.",
                  "title": "Callback URL"
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                }
              }
            }
          }
        },
        "summary": "Submit sentiment analysis job",
        "description": "Starts an asynchronous job to analyze sentiments in a transcript.",
        "operationId": "AnalysisPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "language": {
                  "type": "string",
                  "description": "The language.",
                  "title": "Language"
                },
                "metadata": {
                  "type": "string",
                  "description": "The metadata.",
                  "title": "Metadata"
                },
                "notification_config": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    },
                    "auth_headers": {
                      "type": "object",
                      "properties": {
                        "Authorization": {
                          "type": "string",
                          "description": "The authorization.",
                          "title": "Authorization"
                        }
                      },
                      "title": "Auth"
                    }
                  },
                  "title": "Notification Config"
                },
                "delete_after_seconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The delete after seconds.",
                  "title": "Delete After Seconds"
                },
                "json": {
                  "type": "object",
                  "properties": {
                    "monologues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "speaker": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The speaker.",
                            "title": "Speaker"
                          },
                          "elements": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "The type.",
                                  "title": "Type"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "The value.",
                                  "title": "Value"
                                },
                                "ts": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "The TS.",
                                  "title": "TS"
                                },
                                "end_ts": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "The end TS.",
                                  "title": "End Ts"
                                },
                                "confidence": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "The confidence.",
                                  "title": "Confidence"
                                }
                              }
                            },
                            "title": "Elements"
                          }
                        }
                      },
                      "title": "Monologues"
                    }
                  },
                  "title": "JSON"
                }
              }
            }
          }
        ]
      }
    },
    "/sentiment_analysis/v1/jobs/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "language": {
                  "type": "string",
                  "description": "The language.",
                  "title": "Language"
                },
                "created_on": {
                  "type": "string",
                  "description": "When created on.",
                  "title": "Created On"
                },
                "callback_url": {
                  "type": "string",
                  "description": "The callback URL address.",
                  "title": "Callback URL"
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                }
              }
            }
          }
        },
        "summary": "Get sentiment analysis job",
        "description": "Returns information about a sentiment analysis job.",
        "operationId": "AnalysisGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Delete sentiment analysis job",
        "description": "Deletes a sentiment analysis job. All data related to the job will be permanently deleted.",
        "operationId": "AnalysisDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/sentiment_analysis/v1/jobs/{id}/result": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "content": {
                        "type": "string",
                        "description": "The content.",
                        "title": "Content"
                      },
                      "score": {
                        "type": "number",
                        "format": "float",
                        "description": "The score.",
                        "title": "Score"
                      },
                      "sentiment": {
                        "type": "string",
                        "description": "The sentiment.",
                        "title": "Sentiment"
                      },
                      "ts": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The TS.",
                        "title": "TS"
                      },
                      "end_ts": {
                        "type": "number",
                        "format": "float",
                        "description": "The end TS.",
                        "title": "End TS"
                      }
                    }
                  },
                  "title": "Messages"
                }
              }
            }
          }
        },
        "summary": "Get sentiment analysis result",
        "description": "Returns the results for a completed sentiment analysis job.",
        "operationId": "AnalysisResultGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter_for",
            "in": "query",
            "x-ms-summary": "Filter For",
            "description": "The filter for.",
            "required": false,
            "type": "string",
            "enum": [
              "positive",
              "negative",
              "neutral"
            ]
          }
        ]
      }
    },
    "/languageid/v1/jobs": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "status": {
                    "type": "string",
                    "description": "The status.",
                    "title": "Status"
                  },
                  "created_on": {
                    "type": "string",
                    "description": "When created on.",
                    "title": "Created On"
                  },
                  "type": {
                    "type": "string",
                    "description": "The type.",
                    "title": "Type"
                  },
                  "completed_on": {
                    "type": "string",
                    "description": "When completed on.",
                    "title": "Completed On"
                  }
                }
              }
            }
          }
        },
        "summary": "Get language identification jobs",
        "description": "Retrieves a list of language identification jobs submitted within the last 30 days in reverse chronological order.",
        "operationId": "IdentificationsGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer",
            "default": 100
          },
          {
            "name": "starting_after",
            "in": "query",
            "x-ms-summary": "Starting After",
            "description": "The starting after.",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "created_on": {
                  "type": "string",
                  "description": "When created on.",
                  "title": "Created On"
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                }
              }
            }
          }
        },
        "summary": "Submit language identification job",
        "description": "Starts an asynchronous job to identify the most probable language in the audio.",
        "operationId": "IdentificationPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "string",
                  "description": "The metadata.",
                  "title": "Metadata"
                },
                "notification_config": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    }
                  },
                  "title": "Notification Config"
                },
                "delete_after_seconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The delete after seconds.",
                  "title": "Delete After Seconds"
                },
                "source_config": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    }
                  },
                  "title": "Source Config"
                }
              }
            }
          }
        ]
      }
    },
    "/languageid/v1/jobs/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "created_on": {
                  "type": "string",
                  "description": "When created on.",
                  "title": "Created On"
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                }
              }
            }
          }
        },
        "summary": "Get language identification job",
        "description": "Returns information about a language identification job.",
        "operationId": "IdentificationGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Delete language identification job",
        "description": "Deletes a language identification job. All data related to the job will be permanently deleted.",
        "operationId": "IdentificationDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/languageid/v1/jobs/{id}/result": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "top_language": {
                  "type": "string",
                  "description": "The top language.",
                  "title": "Top Language"
                },
                "language_confidences": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "language": {
                        "type": "string",
                        "description": "The language.",
                        "title": "Language"
                      },
                      "confidence": {
                        "type": "number",
                        "format": "float",
                        "description": "The confidence.",
                        "title": "Confidence"
                      }
                    }
                  },
                  "title": "Language Confidences"
                }
              }
            }
          }
        },
        "summary": "Get language identification result",
        "description": "Returns the results for a completed language identification job.",
        "operationId": "IdentificationResultGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/alignment/v1/jobs": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "status": {
                    "type": "string",
                    "description": "The status.",
                    "title": "Status"
                  },
                  "created_on": {
                    "type": "string",
                    "description": "When created on.",
                    "title": "Created On"
                  },
                  "type": {
                    "type": "string",
                    "description": "The type.",
                    "title": "Type"
                  },
                  "completed_on": {
                    "type": "string",
                    "description": "When completed on.",
                    "title": "Completed On"
                  },
                  "language": {
                    "type": "string",
                    "description": "The language.",
                    "title": "Language"
                  }
                }
              }
            }
          }
        },
        "summary": "Get forced alignment jobs",
        "description": "Retrieve a list of alignment jobs submitted within the last 30 days in reverse chronological order.",
        "operationId": "AlignmentsGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer",
            "default": 100
          },
          {
            "name": "starting_after",
            "in": "query",
            "x-ms-summary": "Starting After",
            "description": "The starting after.",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "created_on": {
                  "type": "string",
                  "description": "When created on.",
                  "title": "Created On"
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                }
              }
            }
          }
        },
        "summary": "Submit forced alignment job",
        "description": "Starts an asynchronous job to obtain precise word timings for an audio file and text transcript.",
        "operationId": "AlignmentPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "string",
                  "description": "The metadata.",
                  "title": "Metadata"
                },
                "notification_config": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    }
                  },
                  "title": "Notification Config"
                },
                "delete_after_seconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The delete after seconds.",
                  "title": "Delete After Seconds"
                },
                "source_config": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    }
                  },
                  "title": "Source Config"
                },
                "transcript_text": {
                  "type": "string",
                  "description": "The transcript text.",
                  "title": "Transcript Text"
                },
                "language": {
                  "type": "string",
                  "description": "The language.",
                  "title": "Language",
                  "default": "en",
                  "enum": [
                    "en",
                    "es",
                    "fr"
                  ]
                }
              }
            }
          }
        ]
      }
    },
    "/alignment/v1/jobs/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "created_on": {
                  "type": "string",
                  "description": "When created on.",
                  "title": "Created On"
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                }
              }
            }
          }
        },
        "summary": "Get forced alignment job",
        "description": "Returns information about a forced alignment job.",
        "operationId": "AlignmentGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Delete forced alignment job",
        "description": "Deletes a forced alignment job. All data related to the job will be permanently deleted.",
        "operationId": "AlignmentDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/alignment/v1/jobs/{id}/transcript": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "monologues": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "speaker": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The speaker.",
                        "title": "Speaker"
                      },
                      "elements": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "The type.",
                              "title": "Type"
                            },
                            "value": {
                              "type": "string",
                              "description": "The value.",
                              "title": "Value"
                            },
                            "ts": {
                              "type": "number",
                              "format": "float",
                              "description": "The TS.",
                              "title": "TS"
                            },
                            "end_ts": {
                              "type": "number",
                              "format": "float",
                              "description": "The end TS.",
                              "title": "End TS"
                            }
                          }
                        },
                        "title": "Elements"
                      }
                    }
                  },
                  "title": "Monologues"
                }
              }
            }
          }
        },
        "summary": "Get forced alignment transcript",
        "description": "Returns the results for a completed forced alignment job.",
        "operationId": "AlignmentTranscriptGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.rev.ai/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.rev.ai/security"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI"
    }
  ]
}