{
  "swagger": "2.0",
  "info": {
    "description": "Connector for Lexware Office Taxservice",
    "title": "Lexoffice",
    "version": "1.0",
    "contact": {
      "name": "LowCode Investigator Support",
      "url": "https://lowcode-investigator.com/",
      "email": "kontakt@lowcodeinvestigator.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://office.lexware.de/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://office.lexware.de/datenschutz/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Finance"
    }
  ],
  "host": "api.lexware.io",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [],
  "paths": {
    "/articles": {
      "get": {
        "description": "Returns the articles that fulfill the criteria given by filters filter_1 to filter_n using a paging mechanism. If more than one filter is given, the logical connector is AND. Filters that are not set are ignored. To check the maximum page size for this endpoint, see Paging of Resources.",
        "operationId": "FilteringArticles",
        "parameters": [
          {
            "in": "query",
            "name": "articleNumber",
            "required": false,
            "type": "string",
            "x-ms-summary": "Article Number",
            "description": "Specify the article number."
          },
          {
            "in": "query",
            "name": "gtin",
            "required": false,
            "type": "string",
            "x-ms-summary": "Gtin",
            "description": "Specify the gtin.",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "type",
            "required": false,
            "type": "string",
            "x-ms-summary": "Type",
            "description": "Specify the type."
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page",
            "description": "Specify the page."
          },
          {
            "in": "query",
            "name": "size",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Size",
            "description": "Specify the size."
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sort",
            "description": "Specify the sort."
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Specify the accept.",
            "x-ms-url-encoding": "single"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Default response for retrieving articles",
            "schema": {
              "$ref": "#/definitions/Response_articles_get"
            }
          },
          "401": {
            "description": "Unauthorized – Token missing, incorrect format, or invalid. The API client may be disabled."
          },
          "403": {
            "description": "Forbidden – No access to the resource. Possibly incorrect URL or HTTP method."
          },
          "500": {
            "description": "Internal Server Error – Lexware server not available or internal issue."
          },
          "503": {
            "description": "Service Unavailable – Lexware server not available."
          },
          "504": {
            "description": "Gateway Timeout – Timeout after 30 seconds for all requests."
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Filtering Articles",
        "tags": [
          "articles"
        ]
      },
      "post": {
        "description": "The contents of the article are expected in the request’s body as an application/json.",
        "operationId": "CreateArticle",
        "parameters": [
          {
            "default": "application/json",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Content Type",
            "description": "Specify the content type."
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Specify the accept."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "articleNumber": {
                  "description": "articleNumber",
                  "type": "string"
                },
                "price": {
                  "description": "price",
                  "properties": {
                    "grossPrice": {
                      "description": "grossPrice",
                      "format": "float",
                      "type": "number"
                    },
                    "leadingPrice": {
                      "description": "leadingPrice",
                      "type": "string"
                    },
                    "netPrice": {
                      "description": "netPrice",
                      "format": "float",
                      "type": "number"
                    },
                    "taxRate": {
                      "description": "taxRate",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                },
                "title": {
                  "description": "title",
                  "type": "string"
                },
                "type": {
                  "description": "type",
                  "enum": [
                    "PRODUCT",
                    "SERVICE"
                  ],
                  "title": "",
                  "type": "string"
                },
                "unitName": {
                  "description": "unitName",
                  "type": "string"
                }
              },
              "type": "object"
            },
            "x-ms-summary": "Body",
            "description": "Specify the body."
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Default response for creating articles",
            "schema": {
              "$ref": "#/definitions/Response_articles_post"
            }
          },
          "401": {
            "description": "Unauthorized – Token missing, incorrect format, or invalid. The API client may be disabled."
          },
          "403": {
            "description": "Forbidden – No access to the resource. Possibly incorrect URL or HTTP method."
          },
          "500": {
            "description": "Internal Server Error – Lexware server not available or internal issue."
          },
          "503": {
            "description": "Service Unavailable – Lexware server not available."
          },
          "504": {
            "description": "Gateway Timeout – Timeout after 30 seconds for all requests."
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Create an Article",
        "tags": [
          "articles"
        ]
      }
    },
    "/articles/{id}": {
      "get": {
        "description": "Returns the article with id value {id}.",
        "operationId": "RetrieveAnArticle",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Id",
            "description": "Specify the id.",
            "x-ms-url-encoding": "single"
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Specify the accept.",
            "x-ms-url-encoding": "single"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Article retrieved successfully",
            "schema": {
              "properties": {
                "articleNumber": {
                  "type": "string"
                },
                "gtin": {
                  "type": "string"
                },
                "id": {
                  "format": "uuid",
                  "type": "string"
                },
                "note": {
                  "type": "string"
                },
                "price": {
                  "properties": {
                    "grossPrice": {
                      "type": "number"
                    },
                    "leadingPrice": {
                      "type": "string"
                    },
                    "netPrice": {
                      "type": "number"
                    },
                    "taxRate": {
                      "type": "number"
                    }
                  },
                  "type": "object"
                },
                "title": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "unitName": {
                  "type": "string"
                },
                "version": {
                  "type": "integer"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized – Token missing, incorrect format, or invalid. The API client may be disabled."
          },
          "403": {
            "description": "Forbidden – No access to the resource. Possibly incorrect URL or HTTP method."
          },
          "500": {
            "description": "Internal Server Error – Lexware server not available or internal issue."
          },
          "503": {
            "description": "Service Unavailable – Lexware server not available."
          },
          "504": {
            "description": "Gateway Timeout – Timeout after 30 seconds for all requests."
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Retrieve an Article",
        "tags": [
          "articles"
        ]
      },
      "delete": {
        "description": "Deletes the article with id value {id}. Returns 204 on success, or 404 if the id does not exist.",
        "operationId": "DeleteAnArticle",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Id",
            "description": "Specify the id.",
            "x-ms-url-encoding": "single"
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Content Type",
            "description": "Specify the content type."
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "The resource was successfully deleted.",
            "schema": {}
          },
          "401": {
            "description": "Unauthorized – Token missing, incorrect format, or invalid. The API client may be disabled."
          },
          "403": {
            "description": "Forbidden – No access to the resource. Possibly incorrect URL or HTTP method."
          },
          "500": {
            "description": "Internal Server Error – Lexware server not available or internal issue."
          },
          "503": {
            "description": "Service Unavailable – Lexware server not available."
          },
          "504": {
            "description": "Gateway Timeout – Timeout after 30 seconds for all requests."
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Delete an Article",
        "tags": [
          "articles"
        ]
      },
      "put": {
        "description": "Update an existing article with id {id} with the data given in the payload as JSON. Returns an action result on success.",
        "operationId": "UpdateAnArticle",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Id",
            "description": "Specify the id.",
            "x-ms-url-encoding": "single"
          },
          {
            "default": "application/json",
            "description": "Specify the content type.",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Content Type"
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Specify the accept."
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "articleNumber": {
                  "description": "articleNumber",
                  "type": "string"
                },
                "gtin": {
                  "description": "gtin",
                  "type": "string"
                },
                "note": {
                  "description": "note",
                  "type": "string"
                },
                "price": {
                  "description": "price",
                  "properties": {
                    "grossPrice": {
                      "description": "grossPrice",
                      "format": "float",
                      "title": "",
                      "type": "number",
                      "x-ms-visibility": "important"
                    },
                    "leadingPrice": {
                      "default": "GROSS",
                      "description": "leadingPrice",
                      "enum": [
                        "GROSS",
                        "NET"
                      ],
                      "title": "",
                      "type": "string",
                      "x-ms-visibility": "important"
                    },
                    "netPrice": {
                      "description": "netPrice",
                      "format": "float",
                      "title": "",
                      "type": "number",
                      "x-ms-visibility": "important"
                    },
                    "taxRate": {
                      "description": "taxRate",
                      "format": "int32",
                      "title": "",
                      "type": "integer",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "leadingPrice",
                    "grossPrice",
                    "netPrice"
                  ],
                  "type": "object"
                },
                "title": {
                  "description": "title",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "type": {
                  "description": "type",
                  "enum": [
                    "PRODUCT",
                    "SERVICE"
                  ],
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "unitName": {
                  "description": "unitName",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "version": {
                  "description": "version",
                  "format": "int32",
                  "title": "",
                  "type": "integer",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "version",
                "type",
                "unitName",
                "price"
              ],
              "type": "object"
            },
            "x-ms-summary": "Body",
            "description": "Specify the body."
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Article updated successfully",
            "schema": {
              "$ref": "#/definitions/Response_articles_id_get"
            }
          },
          "401": {
            "description": "Unauthorized – Token missing, incorrect format, or invalid. The API client may be disabled."
          },
          "403": {
            "description": "Forbidden – No access to the resource. Possibly incorrect URL or HTTP method."
          },
          "500": {
            "description": "Internal Server Error – Lexware server not available or internal issue."
          },
          "503": {
            "description": "Service Unavailable – Lexware server not available."
          },
          "504": {
            "description": "Gateway Timeout – Timeout after 30 seconds for all requests."
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Update an Article",
        "tags": [
          "articles"
        ]
      }
    },
    "/contacts": {
      "get": {
        "description": "Retrieve all Contacts",
        "operationId": "RetrieveAllContacts",
        "parameters": [
          {
            "in": "query",
            "name": "number",
            "required": false,
            "type": "integer",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Number",
            "description": "Specify the number."
          },
          {
            "in": "query",
            "name": "email",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Email",
            "description": "Specify the email."
          },
          {
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Name",
            "description": "Specify the name."
          },
          {
            "in": "query",
            "name": "vendor",
            "required": false,
            "type": "boolean",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Vendor",
            "description": "Specify the vendor."
          },
          {
            "in": "query",
            "name": "customer",
            "required": false,
            "type": "boolean",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Customer",
            "description": "Specify the customer."
          },
          {
            "default": 0,
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Page",
            "description": "Specify the page."
          },
          {
            "default": 250,
            "in": "query",
            "name": "size",
            "required": false,
            "type": "integer",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Size",
            "description": "Specify the size."
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Sort",
            "description": "Specify the sort."
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Specify the accept.",
            "x-ms-url-encoding": "single"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Default response for retrieving contacts",
            "schema": {
              "$ref": "#/definitions/Response_contacts_get"
            }
          },
          "401": {
            "description": "Unauthorized – Token missing, incorrect format, or invalid. The API client may be disabled."
          },
          "403": {
            "description": "Forbidden – No access to the resource. Possibly incorrect URL or HTTP method."
          },
          "500": {
            "description": "Internal Server Error – Lexware server not available or internal issue."
          },
          "503": {
            "description": "Service Unavailable – Lexware server not available."
          },
          "504": {
            "description": "Gateway Timeout – Timeout after 30 seconds for all requests."
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Retrieve all Contacts",
        "tags": [
          "contacts"
        ],
        "x-ms-visibility": "important"
      },
      "post": {
        "description": "Create a new contact",
        "operationId": "CreateContact",
        "parameters": [
          {
            "default": "application/json",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Content Type",
            "description": "Specify the content type."
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Specify the accept."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {},
              "type": "object"
            },
            "x-ms-summary": "Body",
            "description": "Specify the body."
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Default response for creating contacts",
            "schema": {
              "$ref": "#/definitions/Response_contacts_post"
            }
          },
          "401": {
            "description": "Unauthorized – Token missing, incorrect format, or invalid. The API client may be disabled."
          },
          "403": {
            "description": "Forbidden – No access to the resource. Possibly incorrect URL or HTTP method."
          },
          "406": {
            "description": "Not Acceptable - Validation failure"
          },
          "500": {
            "description": "Internal Server Error – Lexware server not available or internal issue."
          },
          "503": {
            "description": "Service Unavailable – Lexware server not available."
          },
          "504": {
            "description": "Gateway Timeout – Timeout after 30 seconds for all requests."
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Create a Contact",
        "tags": [
          "contacts"
        ]
      }
    },
    "/contacts/{id}": {
      "get": {
        "description": "Retrieve a contact by id",
        "operationId": "RetrieveContact",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Id",
            "description": "Specify the id.",
            "x-ms-url-encoding": "single"
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Specify the accept.",
            "x-ms-url-encoding": "single"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Contact retrieved successfully",
            "schema": {
              "properties": {
                "archived": {
                  "type": "boolean"
                },
                "id": {
                  "format": "uuid",
                  "type": "string"
                },
                "organizationId": {
                  "format": "uuid",
                  "type": "string"
                },
                "person": {
                  "properties": {
                    "firstName": {
                      "type": "string"
                    },
                    "lastName": {
                      "type": "string"
                    },
                    "salutation": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "roles": {
                  "properties": {
                    "customer": {
                      "properties": {
                        "number": {
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                },
                "version": {
                  "type": "integer"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized – Token missing, incorrect format, or invalid. The API client may be disabled."
          },
          "403": {
            "description": "Forbidden – No access to the resource. Possibly incorrect URL or HTTP method."
          },
          "500": {
            "description": "Internal Server Error – Lexware server not available or internal issue."
          },
          "503": {
            "description": "Service Unavailable – Lexware server not available."
          },
          "504": {
            "description": "Gateway Timeout – Timeout after 30 seconds for all requests."
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Retrieve a Contact",
        "tags": [
          "contacts"
        ]
      },
      "put": {
        "description": "Update a contact",
        "operationId": "UpdateContact",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Id",
            "description": "Specify the id.",
            "x-ms-url-encoding": "single"
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Content Type",
            "description": "Specify the content type."
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Specify the accept."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {},
              "type": "object",
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Body",
            "description": "Specify the body."
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Contact updated successfully",
            "schema": {
              "$ref": "#/definitions/Response_contacts_id_put"
            }
          },
          "401": {
            "description": "Unauthorized – Token missing, incorrect format, or invalid. The API client may be disabled."
          },
          "403": {
            "description": "Forbidden – No access to the resource. Possibly incorrect URL or HTTP method."
          },
          "500": {
            "description": "Internal Server Error – Lexware server not available or internal issue."
          },
          "503": {
            "description": "Service Unavailable – Lexware server not available."
          },
          "504": {
            "description": "Gateway Timeout – Timeout after 30 seconds for all requests."
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Update a Contact",
        "tags": [
          "contacts"
        ]
      }
    },
    "/countries": {
      "get": {
        "description": "List of countries known to lexoffice.",
        "operationId": "RetrieveListCountries",
        "parameters": [
          {
            "default": "application/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Specify the accept.",
            "x-ms-url-encoding": "single"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Default response for retrieving countries",
            "schema": {
              "items": {
                "$ref": "#/definitions/Response_countries_get_default"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "Unauthorized – Token missing, incorrect format, or invalid. The API client may be disabled."
          },
          "403": {
            "description": "Forbidden – No access to the resource. Possibly incorrect URL or HTTP method."
          },
          "500": {
            "description": "Internal Server Error – Lexware server not available or internal issue."
          },
          "503": {
            "description": "Service Unavailable – Lexware server not available."
          },
          "504": {
            "description": "Gateway Timeout – Timeout after 30 seconds for all requests."
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Retrieve List of Countries",
        "tags": [
          "countries"
        ]
      }
    },
    "/credit-notes": {
      "post": {
        "description": "Credit notes transmitted via the API are created in draft mode per default. To create a finalized credit note with status open the optional query parameter finalize has to be set. The status of a credit note cannot be changed via the api",
        "operationId": "CreateCreditNote",
        "parameters": [
          {
            "in": "query",
            "name": "precedingSalesVoucherId",
            "required": false,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Preceding Sales Voucher Id",
            "description": "Specify the preceding sales voucher id."
          },
          {
            "default": false,
            "in": "query",
            "name": "finalize",
            "required": true,
            "type": "boolean",
            "x-ms-visibility": "important",
            "x-ms-summary": "Finalize",
            "description": "Specify the finalize."
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Content Type",
            "description": "Specify the content type."
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Specify the accept."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {},
              "type": "object"
            },
            "x-ms-summary": "Body",
            "description": "Specify the body."
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Default response for creating credit notes",
            "schema": {
              "$ref": "#/definitions/Response_credit-notes_post"
            }
          },
          "401": {
            "description": "Unauthorized – Token missing, incorrect format, or invalid. The API client may be disabled."
          },
          "403": {
            "description": "Forbidden – No access to the resource. Possibly incorrect URL or HTTP method."
          },
          "500": {
            "description": "Internal Server Error – Lexware server not available or internal issue."
          },
          "503": {
            "description": "Service Unavailable – Lexware server not available."
          },
          "504": {
            "description": "Gateway Timeout – Timeout after 30 seconds for all requests."
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Create a Credit Note",
        "tags": [
          "credit-notes"
        ]
      }
    },
    "/credit-notes/{id}": {
      "get": {
        "description": "This endpoint provides read and write access to credit notes and also the possibility to render the document as a PDF in order to download it. Credit notes can be created as a draft or finalized in open mode.",
        "operationId": "RetrieveCreditNote",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Id",
            "description": "Specify the id.",
            "x-ms-url-encoding": "single"
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Specify the accept.",
            "x-ms-url-encoding": "single"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Credit note retrieved successfully",
            "schema": {
              "properties": {
                "address": {
                  "properties": {
                    "city": {
                      "type": "string"
                    },
                    "countryCode": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "street": {
                      "type": "string"
                    },
                    "supplement": {
                      "type": "string"
                    },
                    "zip": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "archived": {
                  "type": "boolean"
                },
                "createdDate": {
                  "format": "date-time",
                  "type": "string"
                },
                "id": {
                  "format": "uuid",
                  "type": "string"
                },
                "introduction": {
                  "type": "string"
                },
                "language": {
                  "type": "string"
                },
                "lineItems": {
                  "items": {
                    "properties": {
                      "lineItemAmount": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "quantity": {
                        "type": "number"
                      },
                      "type": {
                        "type": "string"
                      },
                      "unitName": {
                        "type": "string"
                      },
                      "unitPrice": {
                        "properties": {
                          "currency": {
                            "type": "string"
                          },
                          "grossAmount": {
                            "format": "float",
                            "type": "number"
                          },
                          "netAmount": {
                            "format": "float",
                            "type": "number"
                          },
                          "taxRatePercentage": {
                            "type": "number"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "organizationId": {
                  "format": "uuid",
                  "type": "string"
                },
                "remark": {
                  "type": "string"
                },
                "taxAmounts": {
                  "items": {
                    "properties": {
                      "netAmount": {
                        "type": "number"
                      },
                      "taxAmount": {
                        "type": "number"
                      },
                      "taxRatePercentage": {
                        "type": "number"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "taxConditions": {
                  "properties": {
                    "taxType": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "title": {
                  "type": "string"
                },
                "totalPrice": {
                  "properties": {
                    "currency": {
                      "type": "string"
                    },
                    "totalGrossAmount": {
                      "format": "float",
                      "type": "number"
                    },
                    "totalNetAmount": {
                      "format": "float",
                      "type": "number"
                    },
                    "totalTaxAmount": {
                      "format": "float",
                      "type": "number"
                    }
                  },
                  "type": "object"
                },
                "updatedDate": {
                  "format": "date-time",
                  "type": "string"
                },
                "version": {
                  "type": "integer"
                },
                "voucherDate": {
                  "format": "date-time",
                  "type": "string"
                },
                "voucherNumber": {
                  "type": "string"
                },
                "voucherStatus": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized – Token missing, incorrect format, or invalid. The API client may be disabled."
          },
          "403": {
            "description": "Forbidden – No access to the resource. Possibly incorrect URL or HTTP method."
          },
          "500": {
            "description": "Internal Server Error – Lexware server not available or internal issue."
          },
          "503": {
            "description": "Service Unavailable – Lexware server not available."
          },
          "504": {
            "description": "Gateway Timeout – Timeout after 30 seconds for all requests."
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Retrieve a Credit Note",
        "tags": [
          "credit-notes"
        ]
      }
    },
    "/credit-notes/{id}/document": {
      "get": {
        "description": "To download the pdf file of a credit note document, you need its documentFileId. This id is usually returned by the credit note resource. However, newly created credit notes in status open via the API have to trigger the pdf document file rendering separately. This can be done with this endpoint.",
        "operationId": "RenderCreditNoteDocument",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Id",
            "description": "Specify the id.",
            "x-ms-url-encoding": "single"
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Specify the accept.",
            "x-ms-url-encoding": "single"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Document reference for credit note retrieved successfully",
            "schema": {
              "properties": {
                "documentFileId": {
                  "format": "uuid",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized – Token missing, incorrect format, or invalid. The API client may be disabled."
          },
          "403": {
            "description": "Forbidden – No access to the resource. Possibly incorrect URL or HTTP method."
          },
          "500": {
            "description": "Internal Server Error – Lexware server not available or internal issue."
          },
          "503": {
            "description": "Service Unavailable – Lexware server not available."
          },
          "504": {
            "description": "Gateway Timeout – Timeout after 30 seconds for all requests."
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Render a Credit Note Document (PDF)",
        "tags": [
          "credit-notes"
        ]
      }
    },
    "/delivery-notes": {
      "post": {
        "description": "The created delivery note will be shown in the main voucher list in lexoffice. Delivery notes transmitted via the API are created in draft mode only.",
        "operationId": "CreateDeliveryNote",
        "parameters": [
          {
            "in": "query",
            "name": "precedingSalesVoucherId",
            "required": false,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Preceding Sales Voucher Id",
            "description": "Specify the preceding sales voucher id."
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Content Type",
            "description": "Specify the content type."
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Specify the accept."
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {},
              "type": "object",
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Body",
            "description": "Specify the body."
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Default response for creating delivery notes",
            "schema": {
              "$ref": "#/definitions/Response_delivery-notes_post"
            }
          },
          "401": {
            "description": "Unauthorized – Token missing, incorrect format, or invalid. The API client may be disabled."
          },
          "403": {
            "description": "Forbidden – No access to the resource. Possibly incorrect URL or HTTP method."
          },
          "500": {
            "description": "Internal Server Error – Lexware server not available or internal issue."
          },
          "503": {
            "description": "Service Unavailable – Lexware server not available."
          },
          "504": {
            "description": "Gateway Timeout – Timeout after 30 seconds for all requests."
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Create a Delivery Note",
        "tags": [
          "delivery-notes"
        ]
      }
    },
    "/delivery-notes/{DeliveryNoteid}/document": {
      "get": {
        "description": "This endpoint provides read and write access to delivery notes and also the possibility to render the document as a PDF in order to download it. Delivery notes are always created in draft mode and do not need to be finalized.",
        "operationId": "RenderDeliveryNoteDocument",
        "parameters": [
          {
            "in": "path",
            "name": "DeliveryNoteid",
            "required": true,
            "type": "string",
            "x-ms-summary": "Delivery Noteid",
            "description": "Specify the delivery noteid.",
            "x-ms-url-encoding": "single"
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Specify the accept.",
            "x-ms-url-encoding": "single"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Delivery note document retrieved successfully",
            "schema": {
              "properties": {
                "address": {
                  "properties": {
                    "city": {
                      "type": "string"
                    },
                    "countryCode": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "street": {
                      "type": "string"
                    },
                    "supplement": {
                      "type": "string"
                    },
                    "zip": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "archived": {
                  "type": "boolean"
                },
                "createdDate": {
                  "format": "date-time",
                  "type": "string"
                },
                "deliveryTerms": {
                  "type": "string"
                },
                "id": {
                  "format": "uuid",
                  "type": "string"
                },
                "introduction": {
                  "type": "string"
                },
                "language": {
                  "type": "string"
                },
                "lineItems": {
                  "items": {
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "quantity": {
                        "type": "number"
                      },
                      "type": {
                        "type": "string"
                      },
                      "unitName": {
                        "type": "string"
                      },
                      "unitPrice": {
                        "properties": {
                          "currency": {
                            "type": "string"
                          },
                          "grossAmount": {
                            "format": "float",
                            "type": "number"
                          },
                          "netAmount": {
                            "format": "float",
                            "type": "number"
                          },
                          "taxRatePercentage": {
                            "type": "number"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "organizationId": {
                  "format": "uuid",
                  "type": "string"
                },
                "remark": {
                  "type": "string"
                },
                "taxConditions": {
                  "properties": {
                    "taxType": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "title": {
                  "type": "string"
                },
                "updatedDate": {
                  "format": "date-time",
                  "type": "string"
                },
                "version": {
                  "type": "integer"
                },
                "voucherDate": {
                  "format": "date-time",
                  "type": "string"
                },
                "voucherNumber": {
                  "type": "string"
                },
                "voucherStatus": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized – Token missing, incorrect format, or invalid. The API client may be disabled."
          },
          "403": {
            "description": "Forbidden – No access to the resource. Possibly incorrect URL or HTTP method."
          },
          "500": {
            "description": "Internal Server Error – Lexware server not available or internal issue."
          },
          "503": {
            "description": "Service Unavailable – Lexware server not available."
          },
          "504": {
            "description": "Gateway Timeout – Timeout after 30 seconds for all requests."
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Render a Delivery Note Document (PDF)",
        "tags": [
          "delivery-notes"
        ]
      }
    },
    "/delivery-notes/{id}": {
      "get": {
        "description": "Returns the delivery note with id value {id}.",
        "operationId": "RetrieveDeliveryNote",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Id",
            "description": "Specify the id.",
            "x-ms-url-encoding": "single"
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Specify the accept.",
            "x-ms-url-encoding": "single"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Delivery note retrieved successfully",
            "schema": {
              "properties": {
                "address": {
                  "properties": {
                    "city": {
                      "type": "string"
                    },
                    "countryCode": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "street": {
                      "type": "string"
                    },
                    "supplement": {
                      "type": "string"
                    },
                    "zip": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "archived": {
                  "type": "boolean"
                },
                "createdDate": {
                  "format": "date-time",
                  "type": "string"
                },
                "deliveryTerms": {
                  "type": "string"
                },
                "id": {
                  "format": "uuid",
                  "type": "string"
                },
                "introduction": {
                  "type": "string"
                },
                "language": {
                  "type": "string"
                },
                "lineItems": {
                  "items": {
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "quantity": {
                        "type": "number"
                      },
                      "type": {
                        "type": "string"
                      },
                      "unitName": {
                        "type": "string"
                      },
                      "unitPrice": {
                        "properties": {
                          "currency": {
                            "type": "string"
                          },
                          "grossAmount": {
                            "type": "number"
                          },
                          "netAmount": {
                            "type": "number"
                          },
                          "taxRatePercentage": {
                            "type": "number"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "organizationId": {
                  "format": "uuid",
                  "type": "string"
                },
                "remark": {
                  "type": "string"
                },
                "taxConditions": {
                  "properties": {
                    "taxType": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "title": {
                  "type": "string"
                },
                "updatedDate": {
                  "format": "date-time",
                  "type": "string"
                },
                "version": {
                  "type": "integer"
                },
                "voucherDate": {
                  "format": "date-time",
                  "type": "string"
                },
                "voucherNumber": {
                  "type": "string"
                },
                "voucherStatus": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized – Token missing, incorrect format, or invalid. The API client may be disabled."
          },
          "403": {
            "description": "Forbidden – No access to the resource. Possibly incorrect URL or HTTP method."
          },
          "500": {
            "description": "Internal Server Error – Lexware server not available or internal issue."
          },
          "503": {
            "description": "Service Unavailable – Lexware server not available."
          },
          "504": {
            "description": "Gateway Timeout – Timeout after 30 seconds for all requests."
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Retrieve a Delivery Note",
        "tags": [
          "delivery-notes"
        ]
      }
    },
    "/down-payment-invoices/{id}": {
      "get": {
        "description": "Returns the down payment invoice with id value {id}.",
        "operationId": "RetrieveDownPaymentInvoice",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Id",
            "description": "Specify the id.",
            "x-ms-url-encoding": "single"
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Content Type",
            "description": "Specify the content type.",
            "x-ms-url-encoding": "single"
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Specify the accept.",
            "x-ms-url-encoding": "single"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Down payment invoice retrieved successfully",
            "schema": {
              "properties": {
                "address": {
                  "properties": {
                    "city": {
                      "type": "string"
                    },
                    "countryCode": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "street": {
                      "type": "string"
                    },
                    "supplement": {
                      "type": "string"
                    },
                    "zip": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "archived": {
                  "type": "boolean"
                },
                "closingInvoiceId": {
                  "format": "uuid",
                  "type": "string"
                },
                "createdDate": {
                  "format": "date-time",
                  "type": "string"
                },
                "dueDate": {
                  "format": "date-time",
                  "type": "string"
                },
                "files": {
                  "properties": {
                    "documentFileId": {
                      "format": "uuid",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "id": {
                  "format": "uuid",
                  "type": "string"
                },
                "introduction": {
                  "type": "string"
                },
                "language": {
                  "type": "string"
                },
                "lineItems": {
                  "items": {
                    "properties": {
                      "lineItemAmount": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "quantity": {
                        "type": "number"
                      },
                      "type": {
                        "type": "string"
                      },
                      "unitPrice": {
                        "properties": {
                          "currency": {
                            "type": "string"
                          },
                          "grossAmount": {
                            "type": "number"
                          },
                          "netAmount": {
                            "type": "number"
                          },
                          "taxRatePercentage": {
                            "type": "number"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "organizationId": {
                  "format": "uuid",
                  "type": "string"
                },
                "paymentConditions": {
                  "properties": {
                    "paymentDiscountConditions": {
                      "properties": {
                        "discountPercentage": {
                          "type": "number"
                        },
                        "discountRange": {
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "paymentTermDuration": {
                      "type": "integer"
                    },
                    "paymentTermLabel": {
                      "type": "string"
                    },
                    "paymentTermLabelTemplate": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "remark": {
                  "type": "string"
                },
                "shippingConditions": {
                  "properties": {
                    "shippingType": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "taxAmounts": {
                  "items": {
                    "properties": {
                      "netAmount": {
                        "type": "number"
                      },
                      "taxAmount": {
                        "type": "number"
                      },
                      "taxRatePercentage": {
                        "type": "number"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "taxConditions": {
                  "properties": {
                    "taxType": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "title": {
                  "type": "string"
                },
                "totalPrice": {
                  "properties": {
                    "currency": {
                      "type": "string"
                    },
                    "totalGrossAmount": {
                      "type": "number"
                    },
                    "totalNetAmount": {
                      "type": "number"
                    },
                    "totalTaxAmount": {
                      "type": "number"
                    }
                  },
                  "type": "object"
                },
                "updatedDate": {
                  "format": "date-time",
                  "type": "string"
                },
                "version": {
                  "type": "integer"
                },
                "voucherDate": {
                  "format": "date-time",
                  "type": "string"
                },
                "voucherNumber": {
                  "type": "string"
                },
                "voucherStatus": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized – Token missing, incorrect format, or invalid. The API client may be disabled."
          },
          "403": {
            "description": "Forbidden – No access to the resource. Possibly incorrect URL or HTTP method."
          },
          "500": {
            "description": "Internal Server Error – Lexware server not available or internal issue."
          },
          "503": {
            "description": "Service Unavailable – Lexware server not available."
          },
          "504": {
            "description": "Gateway Timeout – Timeout after 30 seconds for all requests."
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Retrieve a Down Payment Invoice",
        "tags": [
          "invoices"
        ]
      }
    },
    "/dunnings": {
      "post": {
        "description": "The created dunning will not be shown in the main voucher list in lexoffice, but will be attached to an invoice and will be visible there. To provide your customers access to the created dunning please use our deeplink function.",
        "operationId": "CreateDunning",
        "parameters": [
          {
            "in": "query",
            "name": "precedingSalesVoucherId",
            "required": false,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Preceding Sales Voucher Id",
            "description": "Specify the preceding sales voucher id."
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Content Type",
            "description": "Specify the content type."
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Specify the accept."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {},
              "type": "object",
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Body",
            "description": "Specify the body."
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Default response for creating dunnings",
            "schema": {
              "$ref": "#/definitions/Response_dunnings_post"
            }
          },
          "401": {
            "description": "Unauthorized – Token missing, incorrect format, or invalid. The API client may be disabled."
          },
          "403": {
            "description": "Forbidden – No access to the resource. Possibly incorrect URL or HTTP method."
          },
          "500": {
            "description": "Internal Server Error – Lexware server not available or internal issue."
          },
          "503": {
            "description": "Service Unavailable – Lexware server not available."
          },
          "504": {
            "description": "Gateway Timeout – Timeout after 30 seconds for all requests."
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Create a dunning",
        "tags": [
          "dunnings"
        ]
      }
    },
    "/dunnings/{dunningsid}": {
      "get": {
        "description": "Returns the dunning with id value {id}.",
        "operationId": "RetrieveDunning",
        "parameters": [
          {
            "in": "path",
            "name": "dunningsid",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Dunningsid",
            "description": "Specify the dunningsid.",
            "x-ms-url-encoding": "single"
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Specify the accept.",
            "x-ms-url-encoding": "single"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Dunning document retrieved successfully",
            "schema": {
              "properties": {
                "address": {
                  "properties": {
                    "city": {
                      "type": "string"
                    },
                    "countryCode": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "street": {
                      "type": "string"
                    },
                    "supplement": {
                      "type": "string"
                    },
                    "zip": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "archived": {
                  "type": "boolean"
                },
                "createdDate": {
                  "format": "date-time",
                  "type": "string"
                },
                "id": {
                  "format": "uuid",
                  "type": "string"
                },
                "introduction": {
                  "type": "string"
                },
                "language": {
                  "type": "string"
                },
                "lineItems": {
                  "items": {
                    "properties": {
                      "discountPercentage": {
                        "type": "number"
                      },
                      "lineItemAmount": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "quantity": {
                        "type": "number"
                      },
                      "type": {
                        "type": "string"
                      },
                      "unitName": {
                        "type": "string"
                      },
                      "unitPrice": {
                        "properties": {
                          "currency": {
                            "type": "string"
                          },
                          "grossAmount": {
                            "type": "number"
                          },
                          "netAmount": {
                            "type": "number"
                          },
                          "taxRatePercentage": {
                            "type": "number"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "organizationId": {
                  "format": "uuid",
                  "type": "string"
                },
                "relatedVouchers": {
                  "items": {
                    "properties": {
                      "id": {
                        "format": "uuid",
                        "type": "string"
                      },
                      "voucherNumber": {
                        "type": "string"
                      },
                      "voucherType": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "remark": {
                  "type": "string"
                },
                "shippingConditions": {
                  "properties": {
                    "shippingDate": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "shippingType": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "taxAmounts": {
                  "items": {
                    "properties": {
                      "netAmount": {
                        "type": "number"
                      },
                      "taxAmount": {
                        "type": "number"
                      },
                      "taxRatePercentage": {
                        "type": "number"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "taxConditions": {
                  "properties": {
                    "taxType": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "title": {
                  "type": "string"
                },
                "totalPrice": {
                  "properties": {
                    "currency": {
                      "type": "string"
                    },
                    "totalGrossAmount": {
                      "type": "number"
                    },
                    "totalNetAmount": {
                      "type": "number"
                    },
                    "totalTaxAmount": {
                      "type": "number"
                    }
                  },
                  "type": "object"
                },
                "updatedDate": {
                  "format": "date-time",
                  "type": "string"
                },
                "version": {
                  "type": "integer"
                },
                "voucherDate": {
                  "format": "date-time",
                  "type": "string"
                },
                "voucherStatus": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized – Token missing, incorrect format, or invalid. The API client may be disabled."
          },
          "403": {
            "description": "Forbidden – No access to the resource. Possibly incorrect URL or HTTP method."
          },
          "500": {
            "description": "Internal Server Error – Lexware server not available or internal issue."
          },
          "503": {
            "description": "Service Unavailable – Lexware server not available."
          },
          "504": {
            "description": "Gateway Timeout – Timeout after 30 seconds for all requests."
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Retrieve a dunning",
        "tags": [
          "dunnings"
        ]
      }
    },
    "/dunnings/{dunningsid}/document": {
      "get": {
        "description": "To download the pdf file of a dunning document, you need its documentFileId. This id is usually returned by the dunning resource. However, newly created dunnings via the API have to trigger the pdf document file rendering separately. This can be done with this endpoint.",
        "operationId": "RenderDunningDocument",
        "parameters": [
          {
            "in": "path",
            "name": "dunningsid",
            "required": true,
            "type": "string",
            "x-ms-summary": "Dunningsid",
            "description": "Specify the dunningsid.",
            "x-ms-url-encoding": "single"
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Specify the accept.",
            "x-ms-url-encoding": "single"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Document reference for dunning retrieved successfully",
            "schema": {
              "properties": {
                "documentFileId": {
                  "format": "uuid",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized – Token missing, incorrect format, or invalid. The API client may be disabled."
          },
          "403": {
            "description": "Forbidden – No access to the resource. Possibly incorrect URL or HTTP method."
          },
          "500": {
            "description": "Internal Server Error – Lexware server not available or internal issue."
          },
          "503": {
            "description": "Service Unavailable – Lexware server not available."
          },
          "504": {
            "description": "Gateway Timeout – Timeout after 30 seconds for all requests."
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Render a dunning Document (PDF)",
        "tags": [
          "dunnings"
        ]
      }
    },
    "/event-subscriptions": {
      "x-ms-notification-content": {
        "schema": {
          "properties": {
            "eventDate": {
              "description": "eventDate",
              "type": "string"
            },
            "eventType": {
              "description": "eventType",
              "type": "string"
            },
            "organizationId": {
              "description": "organizationId",
              "type": "string"
            },
            "resourceId": {
              "description": "resourceId",
              "type": "string"
            }
          },
          "type": "object"
        },
        "tags": [
          "event-subscriptions"
        ],
        "responses": {
          "default": {
            "description": "Operation Failed"
          }
        }
      },
      "post": {
        "description": "Register a new trigger for contacts endpoint",
        "operationId": "EventSubscription_Lexoffice",
        "parameters": [
          {
            "default": "application/json",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Content Type",
            "description": "Specify the content type."
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Specify the accept."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "callbackUrl": {
                  "description": "callbackUrl",
                  "title": "Callback Url",
                  "type": "string",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "eventType": {
                  "description": "eventType",
                  "enum": [
                    "article.created",
                    "article.changed",
                    "article.deleted",
                    "contact.created",
                    "contact.changed",
                    "contact.deleted",
                    "credit-note.created",
                    "credit-note.changed",
                    "credit-note.deleted",
                    "credit-note.status.changed",
                    "delivery-note.created",
                    "delivery-note.changed",
                    "delivery-note.deleted",
                    "down-payment-invoice.created",
                    "down-payment-invoice.changed",
                    "down-payment-invoice.deleted",
                    "down-payment-invoice.status.changed",
                    "dunning.created",
                    "dunning.changed",
                    "dunning.deleted",
                    "invoice.created",
                    "invoice.changed",
                    "invoice.deleted",
                    "invoice.status.changed",
                    "order-confirmation.created",
                    "order-confirmation.changed",
                    "order-confirmation.deleted",
                    "order-confirmation.status.changed",
                    "payment.changed",
                    "quotation.created",
                    "quotation.changed",
                    "quotation.deleted",
                    "quotation.status.changed",
                    "recurring-template.created",
                    "recurring-template.changed",
                    "recurring-template.deleted",
                    "token.revoked",
                    "voucher.created",
                    "voucher.changed",
                    "voucher.deleted",
                    "voucher.status.changed"
                  ],
                  "title": "Event Type",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "callbackUrl",
                "eventType"
              ],
              "type": "object"
            },
            "x-ms-summary": "Body",
            "description": "Specify the body."
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Successfully created event subscription",
            "schema": {
              "$ref": "#/definitions/Response_event-subscriptions_post"
            }
          },
          "401": {
            "description": "Unauthorized – Token missing, incorrect format, or invalid. The API client may be disabled."
          },
          "403": {
            "description": "Forbidden – No access to the resource. Possibly incorrect URL or HTTP method."
          },
          "500": {
            "description": "Internal Server Error – Lexware server not available or internal issue."
          },
          "503": {
            "description": "Service Unavailable – Lexware server not available."
          },
          "504": {
            "description": "Gateway Timeout – Timeout after 30 seconds for all requests."
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Select your custom Trigger",
        "tags": [
          "event-subscriptions"
        ],
        "x-ms-trigger": "single"
      }
    },
    "/event-subscriptions/": {
      "get": {
        "description": "Retrieve all Event Subscriptions",
        "operationId": "RetrieveAllEventSubscriptions",
        "parameters": [
          {
            "default": "application/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Specify the accept.",
            "x-ms-url-encoding": "single"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Default response for retrieving event subscriptions",
            "schema": {
              "$ref": "#/definitions/Response_event-subscriptions_get"
            }
          },
          "401": {
            "description": "Unauthorized – Token missing, incorrect format, or invalid. The API client may be disabled."
          },
          "403": {
            "description": "Forbidden – No access to the resource. Possibly incorrect URL or HTTP method."
          },
          "500": {
            "description": "Internal Server Error – Lexware server not available or internal issue."
          },
          "503": {
            "description": "Service Unavailable – Lexware server not available."
          },
          "504": {
            "description": "Gateway Timeout – Timeout after 30 seconds for all requests."
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Retrieve all Event Subscriptions",
        "tags": [
          "event-subscriptions"
        ]
      }
    },
    "/event-subscriptions/{subscriptionId}": {
      "get": {
        "description": "Retrieve a Event Subscription",
        "operationId": "RetrieveAEventSubscription",
        "parameters": [
          {
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Subscription Id",
            "description": "Specify the subscription id.",
            "x-ms-url-encoding": "single"
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Specify the accept.",
            "x-ms-url-encoding": "single"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EventSubscriptionResponse"
            },
            "headers": {
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized – Token missing, incorrect format, or invalid. The API client may be disabled."
          },
          "403": {
            "description": "Forbidden – No access to the resource. Possibly incorrect URL or HTTP method."
          },
          "500": {
            "description": "Internal Server Error – Lexware server not available or internal issue."
          },
          "503": {
            "description": "Service Unavailable – Lexware server not available."
          },
          "504": {
            "description": "Gateway Timeout – Timeout after 30 seconds for all requests."
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Retrieve a Event Subscription",
        "tags": [
          "event-subscriptions"
        ]
      },
      "delete": {
        "description": "Delete Trigger WebHook",
        "operationId": "DeleteEventSubscription",
        "parameters": [
          {
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string",
            "x-ms-summary": "Subscription Id",
            "description": "Specify the subscription id.",
            "x-ms-url-encoding": "single"
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Specify the accept."
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "The resource was successfully deleted.",
            "schema": {}
          },
          "401": {
            "description": "Unauthorized – Token missing, incorrect format, or invalid. The API client may be disabled."
          },
          "403": {
            "description": "Forbidden – No access to the resource. Possibly incorrect URL or HTTP method."
          },
          "500": {
            "description": "Internal Server Error – Lexware server not available or internal issue."
          },
          "503": {
            "description": "Service Unavailable – Lexware server not available."
          },
          "504": {
            "description": "Gateway Timeout – Timeout after 30 seconds for all requests."
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Delete a Event-Subscription",
        "tags": [
          "event-subscriptions"
        ]
      }
    },
    "/files": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Use this endpoint to upload files, e.g. vouchers or invoices.",
        "operationId": "UploadFile_Lexoffice",
        "parameters": [
          {
            "description": "The file to upload.",
            "in": "formData",
            "name": "file",
            "required": true,
            "type": "file",
            "x-ms-summary": "File"
          },
          {
            "description": "Description of file contents.",
            "in": "formData",
            "name": "type",
            "required": true,
            "type": "string",
            "x-ms-summary": "Type"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Default response for creating files",
            "schema": {
              "$ref": "#/definitions/Response_files_post"
            }
          },
          "401": {
            "description": "Unauthorized – Token missing, incorrect format, or invalid. The API client may be disabled."
          },
          "403": {
            "description": "Forbidden – No access to the resource. Possibly incorrect URL or HTTP method."
          },
          "500": {
            "description": "Internal Server Error – Lexware server not available or internal issue."
          },
          "503": {
            "description": "Service Unavailable – Lexware server not available."
          },
          "504": {
            "description": "Gateway Timeout – Timeout after 30 seconds for all requests."
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Upload a File",
        "tags": [
          "files"
        ],
        "x-ms-visibility": "important"
      }
    },
    "/files/{fileId}": {
      "get": {
        "description": "Use this endpoint to download files.",
        "operationId": "DownloadFile_Lexoffice",
        "parameters": [
          {
            "in": "path",
            "name": "fileId",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "File Id",
            "description": "Specify the file id.",
            "x-ms-url-encoding": "single"
          },
          {
            "default": "*/*",
            "enum": [
              "*/*",
              "application/xml",
              "application/pdf",
              "image/jpeg",
              "image/png"
            ],
            "in": "header",
            "name": "Accept",
            "required": false,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Accept",
            "description": "Specify the accept.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved file",
            "headers": {
              "Content-Disposition": {
                "description": "Suggests a default filename for the file download",
                "type": "string"
              }
            },
            "schema": {
              "type": "file"
            }
          },
          "401": {
            "description": "Unauthorized – Token missing, incorrect format, or invalid. The API client may be disabled."
          },
          "403": {
            "description": "Forbidden – No access to the resource. Possibly incorrect URL or HTTP method."
          },
          "500": {
            "description": "Internal Server Error – Lexware server not available or internal issue."
          },
          "503": {
            "description": "Service Unavailable – Lexware server not available."
          },
          "504": {
            "description": "Gateway Timeout – Timeout after 30 seconds for all requests."
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Download a File",
        "tags": [
          "files"
        ],
        "x-ms-visibility": "important"
      }
    },
    "/invoices": {
      "post": {
        "description": "Invoices transmitted via the API are created in draft mode per default. To create a finalized invoice with status open the optional query parameter finalize has to be set. The status of an invoice cannot be changed via the api.",
        "operationId": "CreateInvoice",
        "parameters": [
          {
            "in": "query",
            "name": "precedingSalesVoucherId",
            "required": false,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Preceding Sales Voucher Id",
            "description": "Specify the preceding sales voucher id."
          },
          {
            "default": false,
            "in": "query",
            "name": "finalize",
            "required": true,
            "type": "boolean",
            "x-ms-visibility": "important",
            "x-ms-summary": "Finalize",
            "description": "Specify the finalize."
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Content Type",
            "description": "Specify the content type."
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Specify the accept."
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {},
              "type": "object",
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Body",
            "description": "Specify the body."
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Default response for creating invoices",
            "schema": {
              "$ref": "#/definitions/Response_invoices_post"
            }
          },
          "401": {
            "description": "Unauthorized – Token missing, incorrect format, or invalid. The API client may be disabled."
          },
          "403": {
            "description": "Forbidden – No access to the resource. Possibly incorrect URL or HTTP method."
          },
          "500": {
            "description": "Internal Server Error – Lexware server not available or internal issue."
          },
          "503": {
            "description": "Service Unavailable – Lexware server not available."
          },
          "504": {
            "description": "Gateway Timeout – Timeout after 30 seconds for all requests."
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Create an Invoice",
[...]
