{
  "swagger": "2.0",
  "info": {
    "title": "Ticketmaster (Independent Publisher)",
    "description": "Ticketmaster gives you access to millions of live event tickets and makes it easy to buy, sell, transfer, and get in - so you can get on with making memories that last.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "app.ticketmaster.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/discovery/v2/events.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "_links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        },
                        "templated": {
                          "type": "boolean",
                          "description": "Whether templated.",
                          "title": "Templated"
                        }
                      },
                      "title": "Self"
                    },
                    "next": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        },
                        "templated": {
                          "type": "boolean",
                          "description": "Whether templated.",
                          "title": "Templated"
                        }
                      },
                      "title": "Next"
                    }
                  },
                  "title": "Links"
                },
                "_embedded": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "test": {
                            "type": "boolean",
                            "description": "Whether a test.",
                            "title": "Test"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "locale": {
                            "type": "string",
                            "description": "The locale.",
                            "title": "Locale"
                          },
                          "images": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "ratio": {
                                  "type": "string",
                                  "description": "The ratio.",
                                  "title": "Ratio"
                                },
                                "url": {
                                  "type": "string",
                                  "description": "The URL address.",
                                  "title": "URL"
                                },
                                "width": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The width.",
                                  "title": "Width"
                                },
                                "height": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The height.",
                                  "title": "Height"
                                },
                                "fallback": {
                                  "type": "boolean",
                                  "description": "Whether fallback.",
                                  "title": "Fallback"
                                }
                              }
                            },
                            "title": "Images"
                          },
                          "sales": {
                            "type": "object",
                            "properties": {
                              "public": {
                                "type": "object",
                                "properties": {
                                  "startDateTime": {
                                    "type": "string",
                                    "description": "The start date-time.",
                                    "title": "Start Date-time"
                                  },
                                  "startTBD": {
                                    "type": "boolean",
                                    "description": "Whether the start is TBD.",
                                    "title": "Start TBD"
                                  },
                                  "endDateTime": {
                                    "type": "string",
                                    "description": "The end date-time.",
                                    "title": "End Date-time"
                                  }
                                },
                                "title": "Public"
                              }
                            },
                            "title": "Sales"
                          },
                          "dates": {
                            "type": "object",
                            "properties": {
                              "start": {
                                "type": "object",
                                "properties": {
                                  "localDate": {
                                    "type": "string",
                                    "description": "The local date.",
                                    "title": "Local Date"
                                  },
                                  "dateTBD": {
                                    "type": "boolean",
                                    "description": "Whether the date is TBD.",
                                    "title": "Date TBD"
                                  },
                                  "dateTBA": {
                                    "type": "boolean",
                                    "description": "Whether the date is TBA.",
                                    "title": "Date TBA"
                                  },
                                  "timeTBA": {
                                    "type": "boolean",
                                    "description": "Whether the time is TBA.",
                                    "title": "Time TBA"
                                  },
                                  "noSpecificTime": {
                                    "type": "boolean",
                                    "description": "Whether no specific time.",
                                    "title": "No Specific Time"
                                  }
                                },
                                "title": "Start"
                              },
                              "timezone": {
                                "type": "string",
                                "description": "The timezone.",
                                "title": "Timezone"
                              },
                              "status": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string",
                                    "description": "The code.",
                                    "title": "Code"
                                  }
                                },
                                "title": "Status"
                              }
                            },
                            "title": "Dates"
                          },
                          "classifications": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "primary": {
                                  "type": "boolean",
                                  "description": "Whether primary.",
                                  "title": "Primary"
                                },
                                "segment": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "The identifier.",
                                      "title": "ID"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "The name.",
                                      "title": "Name"
                                    }
                                  },
                                  "title": "Segment"
                                },
                                "genre": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "The identifier.",
                                      "title": "ID"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "The name.",
                                      "title": "Name"
                                    }
                                  },
                                  "title": "Genre"
                                },
                                "subGenre": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "The identifier.",
                                      "title": "ID"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "The name.",
                                      "title": "Name"
                                    }
                                  },
                                  "title": "Sub-genre"
                                }
                              }
                            },
                            "title": "Classifications"
                          },
                          "promoter": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The identifier.",
                                "title": "ID"
                              }
                            },
                            "title": "Promoter"
                          },
                          "_links": {
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "object",
                                "properties": {
                                  "href": {
                                    "type": "string",
                                    "description": "The HREF.",
                                    "title": "HREF"
                                  }
                                },
                                "title": "Self"
                              },
                              "attractions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "href": {
                                      "type": "string",
                                      "description": "The HREF.",
                                      "title": "HREF"
                                    }
                                  }
                                },
                                "title": "Attractions"
                              },
                              "venues": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "href": {
                                      "type": "string",
                                      "description": "The HREF.",
                                      "title": "HREF"
                                    }
                                  }
                                },
                                "title": "Venues"
                              }
                            },
                            "title": "Links"
                          },
                          "_embedded": {
                            "type": "object",
                            "properties": {
                              "venues": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "The name.",
                                      "title": "Name"
                                    },
                                    "type": {
                                      "type": "string",
                                      "description": "The type.",
                                      "title": "Type"
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "The identifier.",
                                      "title": "ID"
                                    },
                                    "test": {
                                      "type": "boolean",
                                      "description": "Whether a test.",
                                      "title": "Test"
                                    },
                                    "locale": {
                                      "type": "string",
                                      "description": "The locale.",
                                      "title": "Locale"
                                    },
                                    "postalCode": {
                                      "type": "string",
                                      "description": "The postal code.",
                                      "title": "Postal Code"
                                    },
                                    "timezone": {
                                      "type": "string",
                                      "description": "The timezone.",
                                      "title": "Timezone"
                                    },
                                    "city": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string",
                                          "description": "The name.",
                                          "title": "Name"
                                        }
                                      },
                                      "title": "City"
                                    },
                                    "state": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string",
                                          "description": "The name.",
                                          "title": "Name"
                                        },
                                        "stateCode": {
                                          "type": "string",
                                          "description": "The code.",
                                          "title": "Code"
                                        }
                                      },
                                      "title": "State"
                                    },
                                    "country": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string",
                                          "description": "The name.",
                                          "title": "Name"
                                        },
                                        "countryCode": {
                                          "type": "string",
                                          "description": "The country code.",
                                          "title": "Code"
                                        }
                                      },
                                      "title": "Country"
                                    },
                                    "address": {
                                      "type": "object",
                                      "properties": {
                                        "line1": {
                                          "type": "string",
                                          "description": "The line.",
                                          "title": "Line"
                                        }
                                      },
                                      "title": "Address"
                                    },
                                    "location": {
                                      "type": "object",
                                      "properties": {
                                        "longitude": {
                                          "type": "string",
                                          "description": "The longitude.",
                                          "title": "Longitude"
                                        },
                                        "latitude": {
                                          "type": "string",
                                          "description": "The latitude.",
                                          "title": "Latitude"
                                        }
                                      },
                                      "title": "Location"
                                    },
                                    "markets": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "description": "The identifier.",
                                            "title": "ID"
                                          }
                                        }
                                      },
                                      "title": "Markets"
                                    },
                                    "_links": {
                                      "type": "object",
                                      "properties": {
                                        "self": {
                                          "type": "object",
                                          "properties": {
                                            "href": {
                                              "type": "string",
                                              "description": "The HREF.",
                                              "title": "HREF"
                                            }
                                          },
                                          "title": "Self"
                                        }
                                      },
                                      "title": "Links"
                                    }
                                  }
                                },
                                "title": "Venues"
                              },
                              "attractions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "The name.",
                                      "title": "Name"
                                    },
                                    "type": {
                                      "type": "string",
                                      "description": "The type.",
                                      "title": "Type"
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "The identifier.",
                                      "title": "ID"
                                    },
                                    "test": {
                                      "type": "boolean",
                                      "description": "Whether a test.",
                                      "title": "Test"
                                    },
                                    "locale": {
                                      "type": "string",
                                      "description": "The locale.",
                                      "title": "Locale"
                                    },
                                    "images": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "ratio": {
                                            "type": "string",
                                            "description": "The ratio.",
                                            "title": "Ratio"
                                          },
                                          "url": {
                                            "type": "string",
                                            "description": "The URL address.",
                                            "title": "URL"
                                          },
                                          "width": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "The width.",
                                            "title": "Width"
                                          },
                                          "height": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "The height.",
                                            "title": "Height"
                                          },
                                          "fallback": {
                                            "type": "boolean",
                                            "description": "Whether fallback.",
                                            "title": "Fallback"
                                          }
                                        }
                                      },
                                      "title": "Images"
                                    },
                                    "classifications": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "primary": {
                                            "type": "boolean",
                                            "description": "Whether primary.",
                                            "title": "Primary"
                                          },
                                          "segment": {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string",
                                                "description": "The identifier.",
                                                "title": "ID"
                                              },
                                              "name": {
                                                "type": "string",
                                                "description": "The name.",
                                                "title": "Name"
                                              }
                                            },
                                            "title": "Segment"
                                          },
                                          "genre": {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string",
                                                "description": "The identifier.",
                                                "title": "ID"
                                              },
                                              "name": {
                                                "type": "string",
                                                "description": "The name.",
                                                "title": "Name"
                                              }
                                            },
                                            "title": "Genre"
                                          },
                                          "subGenre": {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string",
                                                "description": "The identifier.",
                                                "title": "ID"
                                              },
                                              "name": {
                                                "type": "string",
                                                "description": "The name.",
                                                "title": "Name"
                                              }
                                            },
                                            "title": "Sub-genre"
                                          }
                                        }
                                      },
                                      "title": "Classifications"
                                    },
                                    "_links": {
                                      "type": "object",
                                      "properties": {
                                        "self": {
                                          "type": "object",
                                          "properties": {
                                            "href": {
                                              "type": "string",
                                              "description": "The HREF.",
                                              "title": "HREF"
                                            }
                                          },
                                          "title": "Self"
                                        }
                                      },
                                      "title": "Links"
                                    }
                                  }
                                },
                                "title": "Attractions"
                              }
                            },
                            "title": "Embedded"
                          }
                        }
                      },
                      "title": "Events"
                    }
                  },
                  "title": "Embedded"
                },
                "page": {
                  "type": "object",
                  "properties": {
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The size.",
                      "title": "Size"
                    },
                    "totalElements": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total elements.",
                      "title": "Total Elements"
                    },
                    "totalPages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total pages.",
                      "title": "Total Pages"
                    },
                    "number": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number.",
                      "title": "Number"
                    }
                  },
                  "title": "Page"
                }
              }
            }
          }
        },
        "summary": "Event search",
        "description": "Find events and filter your search by location, date, availability, and much more.",
        "operationId": "EventsGet",
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Size",
            "description": "The page size of the response."
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "ID",
            "description": "The filter for entities by their identifier."
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Keyword",
            "description": "The keyword to search on."
          },
          {
            "name": "attractionId",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Attraction ID",
            "description": "The filter by attraction identifier."
          },
          {
            "name": "venueId",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Venue ID",
            "description": "The filter by venue identifier."
          },
          {
            "name": "postalCode",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Postal Code",
            "description": "The filter by postal code or zipcode."
          },
          {
            "name": "latlong",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Latitude Longitude",
            "description": "The filter for events by latitude and longitude. This filter is deprecated and may be removed in a future release, please use geoPoint instead."
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Radius",
            "description": "The radius of the area in which we want to search for events."
          },
          {
            "name": "unit",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "miles",
              "km"
            ],
            "default": "miles",
            "x-ms-summary": "Unit",
            "description": "The unit of the radius."
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "ticketmaster",
              "universe",
              "frontgate",
              "tmr"
            ],
            "x-ms-summary": "Source",
            "description": "The filter for entities by their primary source name or publishing source name."
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "en",
            "x-ms-summary": "Locale",
            "description": "The locale in ISO code format. Multiple comma-separated values can be provided."
          },
          {
            "name": "marketId",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Market ID",
            "description": "The filter by market identifier.",
            "enum": [
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31",
              "33",
              "34",
              "35",
              "36",
              "37",
              "38",
              "39",
              "40",
              "41",
              "42",
              "43",
              "44",
              "45",
              "46",
              "47",
              "48",
              "49",
              "50",
              "52",
              "53",
              "54",
              "55",
              "121",
              "122",
              "123",
              "124",
              "125",
              "102",
              "103",
              "106",
              "107",
              "108",
              "110",
              "111",
              "112",
              "120",
              "202",
              "203",
              "204",
              "205",
              "206",
              "207",
              "208",
              "209",
              "210",
              "211",
              "500",
              "501",
              "502",
              "503",
              "600",
              "302",
              "303",
              "304",
              "305",
              "306",
              "351",
              "352",
              "402",
              "403",
              "404"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "Birmingham & More",
                "value": "1"
              },
              {
                "displayName": "Charlotte",
                "value": "2"
              },
              {
                "displayName": "Chicagoland & Northern IL",
                "value": "3"
              },
              {
                "displayName": "Cincinnati & Dayton",
                "value": "4"
              },
              {
                "displayName": "Dallas - Fort Worth & More",
                "value": "5"
              },
              {
                "displayName": "Denver & More",
                "value": "6"
              },
              {
                "displayName": "Detroit, Toledo & More",
                "value": "7"
              },
              {
                "displayName": "El Paso & New Mexico",
                "value": "8"
              },
              {
                "displayName": "Grand Rapids & More",
                "value": "9"
              },
              {
                "displayName": "Greater Atlanta Area",
                "value": "10"
              },
              {
                "displayName": "Greater Boston Area",
                "value": "11"
              },
              {
                "displayName": "Cleveland, Youngstown & More",
                "value": "12"
              },
              {
                "displayName": "Greater Columbus Area",
                "value": "13"
              },
              {
                "displayName": "Greater Las Vegas Area",
                "value": "14"
              },
              {
                "displayName": "Greater Miami Area",
                "value": "15"
              },
              {
                "displayName": "Minneapolis/St. Paul & More",
                "value": "16"
              },
              {
                "displayName": "Greater Orlando Area",
                "value": "17"
              },
              {
                "displayName": "Greater Philadelphia Area",
                "value": "18"
              },
              {
                "displayName": "Greater Pittsburgh Area",
                "value": "19"
              },
              {
                "displayName": "Greater San Diego Area",
                "value": "20"
              },
              {
                "displayName": "Greater Tampa Area",
                "value": "21"
              },
              {
                "displayName": "Houston & More",
                "value": "22"
              },
              {
                "displayName": "Indianapolis & More",
                "value": "23"
              },
              {
                "displayName": "Iowa",
                "value": "24"
              },
              {
                "displayName": "Jacksonville & More",
                "value": "25"
              },
              {
                "displayName": "Kansas City & More",
                "value": "26"
              },
              {
                "displayName": "Greater Los Angeles Area",
                "value": "27"
              },
              {
                "displayName": "Louisville & Lexington",
                "value": "28"
              },
              {
                "displayName": "Memphis, Little Rock & More",
                "value": "29"
              },
              {
                "displayName": "Milwaukee & WI",
                "value": "30"
              },
              {
                "displayName": "Nashville, Knoxville & More",
                "value": "31"
              },
              {
                "displayName": "New England",
                "value": "33"
              },
              {
                "displayName": "New Orleans & More",
                "value": "34"
              },
              {
                "displayName": "New York/Tri-State Area",
                "value": "35"
              },
              {
                "displayName": "Phoenix & Tucson",
                "value": "36"
              },
              {
                "displayName": "Portland & More",
                "value": "37"
              },
              {
                "displayName": "Raleigh & Durham",
                "value": "38"
              },
              {
                "displayName": "Saint Louis & More",
                "value": "39"
              },
              {
                "displayName": "San Antonio & Austin",
                "value": "40"
              },
              {
                "displayName": "N. California/N. Nevada",
                "value": "41"
              },
              {
                "displayName": "Greater Seattle Area",
                "value": "42"
              },
              {
                "displayName": "North & South Dakota",
                "value": "43"
              },
              {
                "displayName": "Upstate New York",
                "value": "44"
              },
              {
                "displayName": "Utah & Montana",
                "value": "45"
              },
              {
                "displayName": "Virginia",
                "value": "46"
              },
              {
                "displayName": "Washington, DC and Maryland",
                "value": "47"
              },
              {
                "displayName": "West Virginia",
                "value": "48"
              },
              {
                "displayName": "Hawaii",
                "value": "49"
              },
              {
                "displayName": "Alaska",
                "value": "50"
              },
              {
                "displayName": "Nebraska",
                "value": "52"
              },
              {
                "displayName": "Springfield",
                "value": "53"
              },
              {
                "displayName": "Central Illinois",
                "value": "54"
              },
              {
                "displayName": "Northern New Jersey",
                "value": "55"
              },
              {
                "displayName": "South Carolina",
                "value": "121"
              },
              {
                "displayName": "South Texas",
                "value": "122"
              },
              {
                "displayName": "Beaumont",
                "value": "123"
              },
              {
                "displayName": "Connecticut",
                "value": "124"
              },
              {
                "displayName": "Oklahoma",
                "value": "125"
              },
              {
                "displayName": "Toronto, Hamilton & Area",
                "value": "102"
              },
              {
                "displayName": "Ottawa & Eastern Ontario",
                "value": "103"
              },
              {
                "displayName": "Manitoba",
                "value": "106"
              },
              {
                "displayName": "Edmonton & Northern Alberta",
                "value": "107"
              },
              {
                "displayName": "Calgary & Southern Alberta",
                "value": "108"
              },
              {
                "displayName": "B.C. Interior",
                "value": "110"
              },
              {
                "displayName": "Vancouver & Area",
                "value": "111"
              },
              {
                "displayName": "Saskatchewan",
                "value": "112"
              },
              {
                "displayName": "Montreal & Area",
                "value": "120"
              },
              {
                "displayName": "London (UK)",
                "value": "202"
              },
              {
                "displayName": "South (UK)",
                "value": "203"
              },
              {
                "displayName": "Midlands and Central (UK)",
                "value": "204"
              },
              {
                "displayName": "Wales and North West (UK)",
                "value": "205"
              },
              {
                "displayName": "North and North East (UK)",
                "value": "206"
              },
              {
                "displayName": "Scotland",
                "value": "207"
              },
              {
                "displayName": "Ireland",
                "value": "208"
              },
              {
                "displayName": "Northern Ireland",
                "value": "209"
              },
              {
                "displayName": "Germany",
                "value": "210"
              },
              {
                "displayName": "Netherlands",
                "value": "211"
              },
              {
                "displayName": "Sweden",
                "value": "500"
              },
              {
                "displayName": "Spain",
                "value": "501"
              },
              {
                "displayName": "Barcelona (Spain)",
                "value": "502"
              },
              {
                "displayName": "Madrid (Spain)",
                "value": "503"
              },
              {
                "displayName": "Turkey",
                "value": "600"
              },
              {
                "displayName": "New South Wales/Australian Capital Territory",
                "value": "302"
              },
              {
                "displayName": "Queensland",
                "value": "303"
              },
              {
                "displayName": "Western Australia",
                "value": "304"
              },
              {
                "displayName": "Victoria/Tasmania",
                "value": "305"
              },
              {
                "displayName": "Western Australia",
                "value": "306"
              },
              {
                "displayName": "North Island",
                "value": "351"
              },
              {
                "displayName": "South Island",
                "value": "352"
              },
              {
                "displayName": "Mexico City and Metropolitan Area",
                "value": "402"
              },
              {
                "displayName": "Monterrey",
                "value": "403"
              },
              {
                "displayName": "Guadalajara",
                "value": "404"
              }
            ]
          },
          {
            "name": "startDateTime",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Start Date Time",
            "description": "The filter with a start date after this date."
          },
          {
            "name": "endDateTime",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "End Date Time",
            "description": "The filter with a start date before this date."
          },
          {
            "name": "includeTBA",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "yes",
              "no",
              "only"
            ],
            "x-ms-summary": "Include TBA",
            "description": "Indicates whether to include events with date to be announced (TBA)."
          },
          {
            "name": "includeTBD",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "yes",
              "no",
              "only"
            ],
            "x-ms-summary": "Include TBD",
            "description": "Indicates whether to include events with a date to be defined (TBD)."
          },
          {
            "name": "includeTest",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "yes",
              "no",
              "only"
            ],
            "default": "no",
            "x-ms-summary": "Include Test",
            "description": "Indicates whether to include entities flagged as test in the response."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "0",
            "x-ms-summary": "Page",
            "description": "The page number."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "relevance,desc",
            "x-ms-summary": "Sort",
            "description": "The sorting order of the search result."
          },
          {
            "name": "onsaleStartDateTime",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Onsale Start Date Time",
            "description": "The filter with onsale start date after this date."
          },
          {
            "name": "onsaleEndDateTime",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Onsale End Date Time",
            "description": "The filter with onsale end date before this date."
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-ms-summary": "City",
            "description": "The filter by city."
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "US",
              "AD",
              "AI",
              "AR",
              "AU",
              "AT",
              "AZ",
              "BS",
              "BH",
              "BB",
              "BE",
              "BM",
              "BR",
              "BG",
              "CA",
              "CL",
              "CN",
              "CO",
              "CR",
              "HR",
              "CY",
              "CZ",
              "DK",
              "DO",
              "EC",
              "EE",
              "FO",
              "FI",
              "FR",
              "GE",
              "DE",
              "GH",
              "GI",
              "GB",
              "GR",
              "HK",
              "HU",
              "IS",
              "IN",
              "IE",
              "IL",
              "IT",
              "JM",
              "JP",
              "KR",
              "LV",
              "LB",
              "LT",
              "LU",
              "MY",
              "MT",
              "MX",
              "MC",
              "ME",
              "MA",
              "NL",
              "AN",
              "NZ",
              "ND",
              "NO",
              "PE",
              "PL",
              "PT",
              "RO",
              "RU",
              "LC",
              "SA",
              "RS",
              "SG",
              "SK",
              "SI",
              "ZA",
              "ES",
              "SE",
              "CH",
              "TW",
              "TH",
              "TT",
              "TR",
              "UA",
              "AE",
              "UY",
              "VE"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "United States Of America",
                "value": "US"
              },
              {
                "displayName": "Andorra",
                "value": "AD"
              },
              {
                "displayName": "Anguilla",
                "value": "AI"
              },
              {
                "displayName": "Argentina",
                "value": "AR"
              },
              {
                "displayName": "Australia",
                "value": "AU"
              },
              {
                "displayName": "Austria",
                "value": "AT"
              },
              {
                "displayName": "Azerbaijan",
                "value": "AZ"
              },
              {
                "displayName": "Bahamas",
                "value": "BS"
              },
              {
                "displayName": "Bahrain",
                "value": "BH"
              },
              {
                "displayName": "Barbados",
                "value": "BB"
              },
              {
                "displayName": "Belgium",
                "value": "BE"
              },
              {
                "displayName": "Bermuda",
                "value": "BM"
              },
              {
                "displayName": "Brazil",
                "value": "BR"
              },
              {
                "displayName": "Bulgaria",
                "value": "BG"
              },
              {
                "displayName": "Canada",
                "value": "CA"
              },
              {
                "displayName": "Chile",
                "value": "CL"
              },
              {
                "displayName": "China",
                "value": "CN"
              },
              {
                "displayName": "Colombia",
                "value": "CO"
              },
              {
                "displayName": "Costa Rica",
                "value": "CR"
              },
              {
                "displayName": "Croatia",
                "value": "HR"
              },
              {
                "displayName": "Cyprus",
                "value": "CY"
              },
              {
                "displayName": "Czech Republic",
                "value": "CZ"
              },
              {
                "displayName": "Denmark",
                "value": "DK"
              },
              {
                "displayName": "Dominican Republic",
                "value": "DO"
              },
              {
                "displayName": "Ecuador",
                "value": "EC"
              },
              {
                "displayName": "Estonia",
                "value": "EE"
              },
              {
                "displayName": "Faroe Islands",
                "value": "FO"
              },
              {
                "displayName": "Finland",
                "value": "FI"
              },
              {
                "displayName": "France",
                "value": "FR"
              },
              {
                "displayName": "Georgia",
                "value": "GE"
              },
              {
                "displayName": "Germany",
                "value": "DE"
              },
              {
                "displayName": "Ghana",
                "value": "GH"
              },
              {
                "displayName": "Gibraltar",
                "value": "GI"
              },
              {
                "displayName": "Great Britain",
                "value": "GB"
              },
              {
                "displayName": "Greece",
                "value": "GR"
              },
              {
                "displayName": "Hong Kong",
                "value": "HK"
              },
              {
                "displayName": "Hungary",
                "value": "HU"
              },
              {
                "displayName": "Iceland",
                "value": "IS"
              },
              {
                "displayName": "India",
                "value": "IN"
              },
              {
                "displayName": "Ireland",
                "value": "IE"
              },
              {
                "displayName": "Israel",
                "value": "IL"
              },
              {
                "displayName": "Italy",
                "value": "IT"
              },
              {
                "displayName": "Jamaica",
                "value": "JM"
              },
              {
                "displayName": "Japan",
                "value": "JP"
              },
              {
                "displayName": "Korea, Republic of",
                "value": "KR"
              },
              {
                "displayName": "Latvia",
                "value": "LV"
              },
              {
                "displayName": "Lebanon",
                "value": "LB"
              },
              {
                "displayName": "Lithuania",
                "value": "LT"
              },
              {
                "displayName": "Luxembourg",
                "value": "LU"
              },
              {
                "displayName": "Malaysia",
                "value": "MY"
              },
              {
                "displayName": "Malta",
                "value": "MT"
              },
              {
                "displayName": "Mexico",
                "value": "MX"
              },
              {
                "displayName": "Monaco",
                "value": "MC"
              },
              {
                "displayName": "Montenegro",
                "value": "ME"
              },
              {
                "displayName": "Morocco",
                "value": "MA"
              },
              {
                "displayName": "Netherlands",
                "value": "NL"
              },
              {
                "displayName": "Netherlands Antilles",
                "value": "AN"
              },
              {
                "displayName": "New Zealand",
                "value": "NZ"
              },
              {
                "displayName": "Northern Ireland",
                "value": "ND"
              },
              {
                "displayName": "Norway",
                "value": "NO"
              },
              {
                "displayName": "Peru",
                "value": "PE"
              },
              {
                "displayName": "Poland",
                "value": "PL"
              },
              {
                "displayName": "Portugal",
                "value": "PT"
              },
              {
                "displayName": "Romania",
                "value": "RO"
              },
              {
                "displayName": "Russian Federation",
                "value": "RU"
              },
              {
                "displayName": "Saint Lucia",
                "value": "LC"
              },
              {
                "displayName": "Saudi Arabia",
                "value": "SA"
              },
              {
                "displayName": "Serbia",
                "value": "RS"
              },
              {
                "displayName": "Singapore",
                "value": "SG"
              },
              {
                "displayName": "Slovakia",
                "value": "SK"
              },
              {
                "displayName": "Slovenia",
                "value": "SI"
              },
              {
                "displayName": "South Africa",
                "value": "ZA"
              },
              {
                "displayName": "Spain",
                "value": "ES"
              },
              {
                "displayName": "Sweden",
                "value": "SE"
              },
              {
                "displayName": "Switzerland",
                "value": "CH"
              },
              {
                "displayName": "Taiwan",
                "value": "TW"
              },
              {
                "displayName": "Thailand",
                "value": "TH"
              },
              {
                "displayName": "Trinidad and Tobago",
                "value": "TT"
              },
              {
                "displayName": "Turkey",
                "value": "TR"
              },
              {
                "displayName": "Ukraine",
                "value": "UA"
              },
              {
                "displayName": "United Arab Emirates",
                "value": "AE"
              },
              {
                "displayName": "Uruguay",
                "value": "UY"
              },
              {
                "displayName": "Venezuela",
                "value": "VE"
              }
            ],
            "x-ms-summary": "Country Code",
            "description": "The filter by country code."
          },
          {
            "name": "stateCode",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "State Code",
            "description": "The filter by state code."
          },
          {
            "name": "classificationName",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-ms-summary": "Classification Name",
            "description": "The filter by classification name: name of any segment, genre, sub-genre, type, sub-type."
          },
          {
            "name": "classificationId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-ms-summary": "Classification ID",
            "description": "The filter by classification identifier: identifier of any segment, genre, sub-genre, type, sub-type."
          },
          {
            "name": "dmaId",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "DMA ID",
            "description": "The filter by DMA identifier."
          },
          {
            "name": "localStartDateTime",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-ms-summary": "Local Start Date Time",
            "description": "The filter with event local start date time within this range."
          },
          {
            "name": "localStartEndDateTime",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-ms-summary": "Local Start End Date Time",
            "description": "The filter for events where event local start and end date overlap this range."
          },
          {
            "name": "startEndDateTime",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-ms-summary": "Start End Date Time",
            "description": "The filter for events where event start and end date overlap this range."
          },
          {
            "name": "publicVisibilityStartDateTime",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-ms-summary": "Public Visibility Start Date Time",
            "description": "The filter for events with public visibility starting."
          },
          {
            "name": "preSaleDateTime",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-ms-summary": "Pre Sale Date Time",
            "description": "The filter for events with a presale start and end that intersects with this range."
          },
          {
            "name": "onsaleOnStartDate",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Onsale On Start Date",
            "description": "The filter with onsale start date on this date."
          },
          {
            "name": "onsaleOnAfterStartDate",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Onsale On After Start Date",
            "description": "The filter with onsale range within this date."
          },
          {
            "name": "collectionId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-ms-summary": "Collection ID",
            "description": "The filter by collection identifier."
          },
          {
            "name": "segmentId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-ms-summary": "Segment ID",
            "description": "The filter by segment identifier."
          },
          {
            "name": "segmentName",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-ms-summary": "Segment Name",
            "description": "The filter by segment name."
          },
          {
            "name": "includeFamily",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "yes",
              "no",
              "only"
            ],
            "default": "yes",
            "x-ms-summary": "Include Family",
            "description": "The filter by classification that are family-friendly."
          },
          {
            "name": "promoterId",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Promoter ID",
            "description": "The filter by promoter identifier."
          },
          {
            "name": "genreId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-ms-summary": "Genre ID",
            "description": "The filter by genre identifier."
          },
          {
            "name": "subGenreId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-ms-summary": "Sub-genre ID",
            "description": "The filter by sub-genre identifier."
          },
          {
            "name": "typeId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-ms-summary": "Type ID",
            "description": "The filter by type identifier."
          },
          {
            "name": "subTypeId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-ms-summary": "Sub Type ID",
            "description": "The filter by sub-type identifier."
          },
          {
            "name": "geoPoint",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Geo Point",
            "description": "The filter for events by geoHash."
          },
          {
            "name": "preferredCountry",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "us",
              "ca"
            ],
            "default": "us",
            "x-ms-summary": "Preferred Country",
            "description": "The popularity boost by country, default is us."
          },
          {
            "name": "includeSpellcheck",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "yes",
              "no"
            ],
            "default": "no",
            "x-ms-summary": "Include Spellcheck",
            "description": "Indicates whether to include spell check suggestions in the response."
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-ms-summary": "Domain",
            "description": "The filter for entities based on domains they are available on."
          }
        ]
      }
    },
    "/discovery/v2/events/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "_embedded": {
                  "type": "object",
                  "properties": {
                    "venues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "test": {
                            "type": "boolean",
                            "description": "Whether a test.",
                            "title": "Test"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "locale": {
                            "type": "string",
                            "description": "The locale.",
                            "title": "Locale"
                          },
                          "postalCode": {
                            "type": "string",
                            "description": "The postal code.",
                            "title": "Postal Code"
                          },
                          "timezone": {
                            "type": "string",
                            "description": "The timezone.",
                            "title": "Timezone"
                          },
                          "city": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name.",
                                "title": "Name"
                              }
                            },
                            "title": "City"
                          },
                          "state": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name.",
                                "title": "Name"
                              },
                              "stateCode": {
                                "type": "string",
                                "description": "The code.",
                                "title": "Code"
                              }
                            },
                            "title": "State"
                          },
                          "country": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name.",
                                "title": "Name"
                              },
                              "countryCode": {
                                "type": "string",
                                "description": "The code.",
                                "title": "Code"
                              }
                            },
                            "title": "Country"
                          },
                          "address": {
                            "type": "object",
                            "properties": {
                              "line1": {
                                "type": "string",
                                "description": "The line.",
                                "title": "Line"
                              }
                            },
                            "title": "Address"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "longitude": {
                                "type": "string",
                                "description": "The longitude.",
                                "title": "Longitude"
                              },
                              "latitude": {
                                "type": "string",
                                "description": "The latitude.",
                                "title": "Latitude"
                              }
                            },
                            "title": "Location"
                          },
                          "markets": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "The identifier.",
                                  "title": "ID"
                                }
                              }
                            },
                            "title": "Markets"
                          },
                          "dmas": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The identifier.",
                                  "title": "ID"
                                }
                              }
                            },
                            "title": "Dmas"
                          },
                          "_links": {
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "object",
                                "properties": {
                                  "href": {
                                    "type": "string",
                                    "description": "The HREF.",
                                    "title": "HREF"
                                  }
                                },
                                "title": "Self"
                              }
                            },
                            "title": "Links"
                          }
                        }
                      },
                      "title": "Venues"
                    },
                    "attractions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "test": {
                            "type": "boolean",
                            "description": "Whether a test.",
                            "title": "Test"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "locale": {
                            "type": "string",
                            "description": "The locale.",
                            "title": "Locale"
                          },
                          "images": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "ratio": {
                                  "type": "string",
                                  "description": "The ratio.",
                                  "title": "Ratio"
                                },
                                "url": {
                                  "type": "string",
                                  "description": "The URL address.",
                                  "title": "URL"
                                },
                                "width": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The width.",
                                  "title": "Width"
                                },
                                "height": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The height.",
                                  "title": "Height"
                                },
                                "fallback": {
                                  "type": "boolean",
                                  "description": "Whether fallback.",
                                  "title": "Fallback"
                                }
                              }
                            },
                            "title": "Images"
                          },
                          "classifications": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "primary": {
                                  "type": "boolean",
                                  "description": "Whether primary.",
                                  "title": "Primary"
                                },
                                "segment": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "The identifier.",
                                      "title": "ID"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "The name.",
                                      "title": "Name"
                                    }
                                  },
                                  "title": "Segment"
                                },
                                "genre": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "The identifier.",
                                      "title": "ID"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "The name.",
                                      "title": "Name"
                                    }
                                  },
                                  "title": "Genre"
                                },
                                "subGenre": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "The identifier.",
                                      "title": "ID"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "The name.",
                                      "title": "Name"
                                    }
                                  },
                                  "title": "Sub-genre"
                                }
                              }
                            },
                            "title": "Classifications"
                          },
                          "_links": {
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "object",
                                "properties": {
                                  "href": {
                                    "type": "string",
                                    "description": "The HREF.",
                                    "title": "HREF"
                                  }
                                },
                                "title": "Self"
                              }
                            },
                            "title": "Links"
                          }
                        }
                      },
                      "title": "Attractions"
                    }
                  },
                  "title": "Embedded"
                },
                "_links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        }
                      },
                      "title": "Self"
                    },
                    "attractions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "href": {
                            "type": "string",
                            "description": "The HREF.",
                            "title": "HREF"
                          }
                        }
                      },
                      "title": "Attractions"
                    },
                    "venues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "href": {
                            "type": "string",
                            "description": "The HREF.",
                            "title": "HREF"
                          }
                        }
                      },
                      "title": "Venues"
                    }
                  },
                  "title": "Links"
                },
                "classifications": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "primary": {
                        "type": "boolean",
                        "description": "Whether primary.",
                        "title": "Primary"
                      },
                      "segment": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          }
                        },
                        "title": "Segment"
                      },
                      "genre": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          }
                        },
                        "title": "Genre"
                      },
                      "subGenre": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          }
                        },
                        "title": "Sub-genre"
                      }
                    }
                  },
                  "title": "Classifications"
                },
                "dates": {
                  "type": "object",
                  "properties": {
                    "start": {
                      "type": "object",
                      "properties": {
                        "localDate": {
                          "type": "string",
                          "description": "The local date.",
                          "title": "Local Date"
                        },
                        "localTime": {
                          "type": "string",
                          "description": "The local time.",
                          "title": "Local Time"
                        },
                        "dateTime": {
                          "type": "string",
                          "description": "The date-time.",
                          "title": "Date-time"
                        },
                        "dateTBD": {
                          "type": "boolean",
                          "description": "The date is to be determined.",
                          "title": "Date TBD"
                        },
                        "dateTBA": {
                          "type": "boolean",
                          "description": "The date is to be announced.",
                          "title": "Date TBA"
                        },
                        "timeTBA": {
                          "type": "boolean",
                          "description": "The date is to be announced.",
                          "title": "Time TBA"
                        },
                        "noSpecificTime": {
                          "type": "boolean",
                          "description": "Whether no specific time.",
                          "title": "No Specific Time"
                        }
                      },
                      "title": "Start"
                    },
                    "timezone": {
                      "type": "string",
                      "description": "The timezone.",
                      "title": "Timezone"
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The code.",
                          "title": "Code"
                        }
                      },
                      "title": "Status"
                    }
                  },
                  "title": "Dates"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "images": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ratio": {
                        "type": "string",
                        "description": "The ratio.",
                        "title": "Ratio"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "width": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The width.",
                        "title": "Width"
                      },
                      "height": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The height.",
                        "title": "Height"
                      },
                      "fallback": {
                        "type": "boolean",
                        "description": "Whether fallback.",
                        "title": "Fallback"
                      }
                    }
                  },
                  "title": "Images"
                },
                "locale": {
                  "type": "string",
                  "description": "The locale.",
                  "title": "Locale"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "pleaseNote": {
                  "type": "string",
                  "description": "The please note.",
                  "title": "Please Note"
                },
                "priceRanges": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "currency": {
                        "type": "string",
                        "description": "The currency.",
                        "title": "Currency"
                      },
                      "min": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The minimum.",
                        "title": "Min"
                      },
                      "max": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum.",
                        "title": "Max"
                      }
                    }
                  },
                  "title": "Price Ranges"
                },
                "promoter": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    }
                  },
                  "title": "Promoter"
                },
                "sales": {
                  "type": "object",
                  "properties": {
                    "public": {
                      "type": "object",
                      "properties": {
                        "startDateTime": {
                          "type": "string",
                          "description": "The start date-time.",
                          "title": "Start Date-time"
                        },
                        "startTBD": {
                          "type": "boolean",
                          "description": "Whether the start is TBD.",
                          "title": "Start TBD"
                        },
                        "endDateTime": {
                          "type": "string",
                          "description": "The end date-time.",
                          "title": "End Date-time"
                        }
                      },
                      "title": "Public"
                    }
                  },
                  "title": "Sales"
                },
                "test": {
                  "type": "boolean",
                  "description": "Whether test.",
                  "title": "Test"
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                },
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL"
                }
              }
            }
          }
        },
        "summary": "Get event details",
        "description": "Get details for a specific event using the unique identifier for the event. This includes the venue and location, the attraction(s), and the Ticketmaster Website URL for purchasing tickets for the event",
        "operationId": "EventGet",
[...]
