{
  "swagger": "2.0",
  "info": {
    "title": "USGS Earthquake Hazards",
    "description": "The United States Geological Survey (USGS) monitors and reports on earthquakes, assesses earthquake impacts and hazards, and conducts targeted research on the causes and effects of earthquakes. USGS undertakes these activities as part of the larger National Earthquake Hazards Reduction Program (NEHRP), a four-agency partnership established by Congress.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "earthquake.usgs.gov",
  "basePath": "/fdsnws/event/1/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/query": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                },
                "metadata": {
                  "type": "object",
                  "properties": {
                    "generated": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number generated.",
                      "title": "Generated"
                    },
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    },
                    "title": {
                      "type": "string",
                      "description": "The title.",
                      "title": "Title"
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The status.",
                      "title": "Status"
                    },
                    "api": {
                      "type": "string",
                      "description": "The API.",
                      "title": "API"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The count.",
                      "title": "Count"
                    }
                  },
                  "title": "Metadata"
                },
                "features": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "mag": {
                            "type": "number",
                            "format": "float",
                            "description": "The magnitude.",
                            "title": "Magnitude"
                          },
                          "place": {
                            "type": "string",
                            "description": "The place.",
                            "title": "Place"
                          },
                          "time": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The time.",
                            "title": "Time"
                          },
                          "updated": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of times updated.",
                            "title": "Updated"
                          },
                          "tz": {
                            "type": "string",
                            "description": "The time zone.",
                            "title": "Time Zone"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "detail": {
                            "type": "string",
                            "description": "The detail.",
                            "title": "Detail"
                          },
                          "felt": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The felt.",
                            "title": "Felt"
                          },
                          "cdi": {
                            "type": "number",
                            "format": "float",
                            "description": "The maximum community determined.",
                            "title": "CDI"
                          },
                          "mmi": {
                            "type": "number",
                            "format": "float",
                            "description": "The maximum modified Mercalli intensity.",
                            "title": "MMI"
                          },
                          "alert": {
                            "type": "string",
                            "description": "The alert.",
                            "title": "Alert"
                          },
                          "status": {
                            "type": "string",
                            "description": "The status.",
                            "title": "Status"
                          },
                          "tsunami": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of tsunami.",
                            "title": "Tsunami"
                          },
                          "sig": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The significance.",
                            "title": "Sig"
                          },
                          "net": {
                            "type": "string",
                            "description": "The net.",
                            "title": "Net"
                          },
                          "code": {
                            "type": "string",
                            "description": "The code.",
                            "title": "Code"
                          },
                          "ids": {
                            "type": "string",
                            "description": "The identifiers.",
                            "title": "IDs"
                          },
                          "sources": {
                            "type": "string",
                            "description": "The sources.",
                            "title": "Sources"
                          },
                          "types": {
                            "type": "string",
                            "description": "The types.",
                            "title": "Types"
                          },
                          "nst": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of seismic stations which reported P- and S-arrival times for this earthquake.",
                            "title": "NST"
                          },
                          "dmin": {
                            "type": "number",
                            "description": "The horizontal distance from the epicenter to the nearest station (in degrees).",
                            "title": "DMIN"
                          },
                          "rms": {
                            "type": "number",
                            "format": "float",
                            "description": "The root-mean-square travel time residual, in seconds, using all weights.",
                            "title": "RMS"
                          },
                          "gap": {
                            "type": "number",
                            "format": "float",
                            "description": "The gap.",
                            "title": "Gap"
                          },
                          "magType": {
                            "type": "string",
                            "description": "The magnitude type.",
                            "title": "Mag Type"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          }
                        },
                        "title": "Properties"
                      },
                      "geometry": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Type"
                          },
                          "coordinates": {
                            "type": "array",
                            "items": {
                              "type": "number",
                              "format": "float"
                            },
                            "description": "The coordinates.",
                            "title": "Coordinates"
                          }
                        },
                        "title": "Geometry"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      }
                    }
                  },
                  "title": "Features"
                },
                "bbox": {
                  "type": "array",
                  "items": {
                    "type": "number",
                    "format": "float"
                  },
                  "description": "The boundary box.",
                  "title": "Boundary Box"
                }
              }
            }
          }
        },
        "summary": "Get earthquake information",
        "description": "Retrieves a list of earthquake information based on the supplied parameters.",
        "operationId": "Get",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "x-ms-summary": "Format",
            "description": "The format.",
            "required": true,
            "type": "string",
            "default": "geojson",
            "x-ms-visibility": "internal"
          },
          {
            "name": "endtime",
            "in": "query",
            "x-ms-summary": "End Time",
            "description": "Limit to events on or before the specified end time. NOTE: All times use ISO8601 Date/Time format. Unless a timezone is specified, UTC is assumed.",
            "required": false,
            "type": "string"
          },
          {
            "name": "starttime",
            "in": "query",
            "x-ms-summary": "Start Time",
            "description": "Limit to events on or after the specified start time. NOTE: All times use ISO8601 Date/Time format. Unless a timezone is specified, UTC is assumed.",
            "required": false,
            "type": "string"
          },
          {
            "name": "updatedafter",
            "in": "query",
            "x-ms-summary": "Updated After",
            "description": "Limit to events updated after the specified time. NOTE: All times use ISO8601 Date/Time format. Unless a timezone is specified, UTC is assumed.",
            "required": false,
            "type": "string"
          },
          {
            "name": "minlatitude",
            "in": "query",
            "x-ms-summary": "Min Latitude",
            "description": "Limit to events with a latitude larger than the specified minimum. NOTE: min values must be less than max values.",
            "required": false,
            "type": "number"
          },
          {
            "name": "minlongitude",
            "in": "query",
            "x-ms-summary": "Min Longitude",
            "description": "Limit to events with a longitude larger than the specified minimum. NOTE: rectangles may cross the date line by using a min longitude < -180 or max longitude > 180. NOTE: min values must be less than max values.",
            "required": false,
            "type": "number"
          },
          {
            "name": "maxlatitude",
            "in": "query",
            "x-ms-summary": "Max Latitude",
            "description": "Limit to events with a latitude smaller than the specified maximum. NOTE: min values must be less than max values.",
            "required": false,
            "type": "number"
          },
          {
            "name": "maxlongitude",
            "in": "query",
            "x-ms-summary": "Max Longitude",
            "description": "Limit to events with a longitude smaller than the specified maximum. NOTE: rectangles may cross the date line by using a min longitude < -180 or max longitude > 180. NOTE: min values must be less than max values.",
            "required": false,
            "type": "number"
          },
          {
            "name": "latitude",
            "in": "query",
            "x-ms-summary": "Latitude",
            "description": "Specify the latitude to be used for a radius search.",
            "required": false,
            "type": "number"
          },
          {
            "name": "longitude",
            "in": "query",
            "x-ms-summary": "Longitude",
            "description": "Specify the longitude to be used for a radius search.",
            "required": false,
            "type": "number"
          },
          {
            "name": "maxradius",
            "in": "query",
            "x-ms-summary": "Max Radius",
            "description": "Limit to events within the specified maximum number of degrees from the geographic point defined by the latitude and longitude parameters. NOTE: This option is mutually exclusive with max radius KM and specifying both will result in an error.",
            "required": false,
            "type": "number"
          },
          {
            "name": "maxradiuskm",
            "in": "query",
            "x-ms-summary": "Max Radius KM",
            "description": "Limit to events within the specified maximum number of kilometers from the geographic point defined by the latitude and longitude parameters. NOTE: This option is mutually exclusive with max radius and specifying both will result in an error.",
            "required": false,
            "type": "number"
          },
          {
            "name": "catalog",
            "in": "query",
            "x-ms-summary": "Catalog",
            "description": "Limit to events from a specified catalog.",
            "required": false,
            "type": "string"
          },
          {
            "name": "contributor",
            "in": "query",
            "x-ms-summary": "Contributor",
            "description": "Limit to events contributed by a specified contributor.",
            "required": false,
            "type": "string"
          },
          {
            "name": "eventid",
            "in": "query",
            "x-ms-summary": "Event ID",
            "description": "Select a specific event by ID; event identifiers are data center specific.",
            "required": false,
            "type": "string"
          },
          {
            "name": "includeallmagnitudes",
            "in": "query",
            "x-ms-summary": "Include All Magnitudes",
            "description": "Specify if all magnitudes for the event should be included, default is data center dependent but is suggested to be the preferred magnitude only.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "includeallorigins",
            "in": "query",
            "x-ms-summary": "Include All Origins",
            "description": "Specify if all origins for the event should be included, default is data center dependent but is suggested to be the preferred origin only.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "includedeleted",
            "in": "query",
            "x-ms-summary": "Include Deleted",
            "description": "Specify if deleted products and events should be included. The value only returns only deleted events.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "includesuperseded",
            "in": "query",
            "x-ms-summary": "Include Superseded",
            "description": "Specify if superseded products should be included. This also includes all deleted products, and is mutually exclusive to the include deleted parameter. NOTE: Only works when specifying event ID parameter.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "maxdepth",
            "in": "query",
            "x-ms-summary": "Max Depth",
            "description": "Limit to events with depth less than the specified maximum.",
            "required": false,
            "type": "number"
          },
          {
            "name": "maxmagnitude",
            "in": "query",
            "x-ms-summary": "Max Magnitude",
            "description": "Limit to events with a magnitude smaller than the specified maximum.",
            "required": false,
            "type": "number"
          },
          {
            "name": "mindepth",
            "in": "query",
            "x-ms-summary": "Min Depth",
            "description": "Limit to events with depth more than the specified minimum.",
            "required": false,
            "type": "number"
          },
          {
            "name": "minmagnitude",
            "in": "query",
            "x-ms-summary": "Min Magnitude",
            "description": "Limit to events with a magnitude larger than the specified minimum.",
            "required": false,
            "type": "number"
          },
          {
            "name": "alertlevel",
            "in": "query",
            "x-ms-summary": "Alert Level",
            "description": "Limit to events with a specific PAGER alert level.",
            "required": false,
            "type": "string"
          },
          {
            "name": "eventtype",
            "in": "query",
            "x-ms-summary": "Event Type",
            "description": "Limit to events of a specific type. NOTE: “earthquake” will filter non-earthquake events.",
            "required": false,
            "type": "string"
          },
          {
            "name": "maxcdi",
            "in": "query",
            "x-ms-summary": "Max CDI",
            "description": "Maximum value for Maximum Community Determined Intensity reported by DYFI.",
            "required": false,
            "type": "number"
          },
          {
            "name": "maxgap",
            "in": "query",
            "x-ms-summary": "Max Gap",
            "description": "Limit to events with no more than this azimuthal gap.",
            "required": false,
            "type": "number"
          },
          {
            "name": "maxmmi",
            "in": "query",
            "x-ms-summary": "Max MMI",
            "description": "Maximum value for Maximum Modified Mercalli Intensity reported by ShakeMap.",
            "required": false,
            "type": "number"
          },
          {
            "name": "maxsig",
            "in": "query",
            "x-ms-summary": "Max significance",
            "description": "Limit to events with no more than this significance.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "mincdi",
            "in": "query",
            "x-ms-summary": "Min CDI",
            "description": "Minimum value for Maximum Community Determined Intensity reported by DYFI.",
            "required": false,
            "type": "number"
          },
          {
            "name": "minfelt",
            "in": "query",
            "x-ms-summary": "Min Felt",
            "description": "Limit to events with this many DYFI responses.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "mingap",
            "in": "query",
            "x-ms-summary": "Min Gap",
            "description": "Limit to events with no less than this azimuthal gap.",
            "required": false,
            "type": "number"
          },
          {
            "name": "minsig",
            "in": "query",
            "x-ms-summary": "Min SIG",
            "description": "Limit to events with no less than this significance.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "producttype",
            "in": "query",
            "x-ms-summary": "Product Type",
            "description": "Limit to events that have this type of product associated",
            "required": false,
            "type": "string"
          },
          {
            "name": "productcode",
            "in": "query",
            "x-ms-summary": "Product Code",
            "description": "Return the event that is associated with the productcode. The event will be returned even if the productcode is not the preferred code for the event.",
            "required": false,
            "type": "string"
          },
          {
            "name": "reviewstatus",
            "in": "query",
            "x-ms-summary": "Review Status",
            "description": "Limit to events with a specific review status.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Limit the results to the specified number of events. NOTE: The service limits queries to 20000, and any that exceed this limit will generate a HTTP response code “400 Bad Request”.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "Return results starting at the event count specified, starting at 1.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "orderby",
            "in": "query",
            "x-ms-summary": "Order By",
            "description": "Order the results.",
            "required": false,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://earthquake.usgs.gov/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.usgs.gov/policies-and-notices"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}