{
  "swagger": "2.0",
  "info": {
    "version": "1.1",
    "title": "Secure Code Warrior",
    "description": "This Secure Code Warrior(https://securecodewarrior.com) connector provides programmatic access to the learning platform. Secure Code Warrior makes secure coding a positive and engaging experience for developers as they increase their software security skills. With our flagship Learning Platform, we guide each coder along their own preferred learning pathway, so that security-skilled developers become the everyday superheroes of our connected world.",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "externalDocs": {
    "description": "Find out more about Secure Code Warrior",
    "url": "https://securecodewarrior.com"
  },
  "host": "portal-api.securecodewarrior.com",
  "basePath": "/api/v2",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [
    {
      "name": "Training",
      "description": "Authorized Keys: Report API key, Admin API key, Team API Key"
    },
    {
      "name": "Assessments",
      "description": "Authorized Keys: Report API key, Admin API key, Team API Key"
    },
    {
      "name": "Tournaments",
      "description": "Authorized Keys: Report API key, Admin API key"
    },
    {
      "name": "Learning",
      "description": "Authorized Keys: Report API key, Admin API key, Team API Key"
    },
    {
      "name": "Users",
      "description": "Authorized Keys: Admin API key"
    },
    {
      "name": "Teams",
      "description": "Authorized Keys: Admin API key"
    },
    {
      "name": "URL fetcher",
      "description": "Authorized Keys: Report API key, Admin API key, Team API Key"
    },
    {
      "name": "Metrics",
      "description": "Authorized Keys: Report API key, Admin API key, Team API Key"
    },
    {
      "name": "Courses",
      "description": "Authorized Keys: Report API key, Admin API key, Team API Key"
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "responses": {
    "RequestEntityTooLarge": {
      "description": "The request entity was too large. Limit is 1mb.",
      "schema": {
        "$ref": "#/definitions/Error"
      },
      "examples": {
        "application/json": {
          "statusCode": 413,
          "error": "Request Entity Too Large",
          "message": "Request Entity Too Large",
          "code": 19
        }
      }
    },
    "BadRequest": {
      "description": "A bad request error",
      "examples": {
        "application/json": {
          "statusCode": 400,
          "error": "Bad Request",
          "message": "Request body expected",
          "code": 4
        }
      },
      "schema": {
        "$ref": "#/definitions/Error"
      }
    }
  },
  "definitions": {
    "Tournament": {
      "type": "object",
      "title": "Tournament",
      "required": [
        "_id",
        "name",
        "start_time",
        "end_time",
        "timezone"
      ],
      "properties": {
        "_id": {
          "description": "The ID of the tournament",
          "type": "string",
          "example": "58454294bc0cedf458849d49"
        },
        "name": {
          "description": "The name of the tournament",
          "type": "string",
          "example": "Annual Tournament"
        },
        "description": {
          "description": "The tournament description",
          "type": "string",
          "example": "Get ready for the ultimate tournament! Test your skills and win some prizes."
        },
        "start_time": {
          "description": "The time the tournament starts",
          "type": "string",
          "format": "date-time",
          "example": "2018-01-17T04:57:47.715Z"
        },
        "end_time": {
          "description": "The time the tournament ends",
          "type": "string",
          "format": "date-time",
          "example": "2018-01-21T04:57:47.715Z"
        },
        "timezone": {
          "description": "The timezone that the tournament is being held in",
          "type": "string",
          "example": "Australia/Sydney"
        }
      }
    },
    "TournamentLeaderboardSearch": {
      "description": "Tournament leaderboard search filters",
      "type": "object",
      "properties": {
        "report_period_in_days": {
          "description": "The number of days into the past to report on (valid values - 1, 7 and 30 days)",
          "type": "integer",
          "example": 1
        },
        "startdate": {
          "description": "developer leaderboard completed on or after the given time. Format: YYYY-MM-DDTHH:mm:ss.SSSZ",
          "type": "string",
          "example": "2017-01-01T00:00:00.000Z"
        },
        "enddate": {
          "description": "developer leaderboard completed on or before the given time. Format: YYYY-MM-DDTHH:mm:ss.SSSZ",
          "type": "string",
          "example": "2019-01-01T00:00:00.000Z"
        },
        "users": {
          "description": "Users to include in leaderboard (one or more user emails, separated by comma)",
          "type": "string",
          "example": "dev1@securecodewarrior.com, dev2@securecodewarrior.com"
        },
        "team_names": {
          "description": "Team names (one or more team names, separated by comma)",
          "type": "string",
          "example": "Company 1 Team 1, Company 1 Team 2"
        },
        "tags": {
          "description": "User tags (one or more user tags, separated by comma)",
          "type": "string",
          "example": "tag-11, tag-12"
        },
        "page": {
          "description": "The page number of results",
          "type": "integer",
          "example": 1
        }
      }
    },
    "TournamentParticipant": {
      "type": "object",
      "title": "Tournament Participant",
      "required": [
        "rank",
        "developer",
        "blocked",
        "minutes_spent",
        "language",
        "max_points",
        "points",
        "lives_lost",
        "hints_used",
        "levels"
      ],
      "properties": {
        "rank": {
          "description": "The final position of the participant within the tournament",
          "type": "integer",
          "example": 1
        },
        "developer": {
          "$ref": "#/definitions/Developer"
        },
        "blocked": {
          "description": "Whether this participant was blocked from the tournnament",
          "type": "boolean",
          "example": false
        },
        "minutes_spent": {
          "description": "How long the developer spent answering (in minutes)",
          "type": "integer",
          "example": 45
        },
        "language": {
          "description": "The language/framework the the participant used",
          "type": "string",
          "example": "Java Spring"
        },
        "max_points": {
          "description": "The maximum amount of points available in the tournament",
          "type": "integer",
          "example": 4000
        },
        "points": {
          "description": "The amount of points the participant gained",
          "type": "integer",
          "example": 3500
        },
        "hints_used": {
          "description": "Number of hints the participant used",
          "type": "integer",
          "example": 25
        },
        "lives_lost": {
          "description": "The number of lives the participant lost during the tournament",
          "type": "integer",
          "example": 10
        },
        "levels": {
          "description": "The levels of the challenge",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Level"
          }
        }
      }
    },
    "Level": {
      "type": "object",
      "title": "Level",
      "required": [
        "name",
        "challenges"
      ],
      "properties": {
        "name": {
          "description": "The level name",
          "type": "string",
          "example": "Level 1"
        },
        "challenges": {
          "type": "array",
          "items": {
            "type": "object",
            "required": [
              "number",
              "category",
              "subcategory",
              "difficulty",
              "status",
              "max_points",
              "points",
              "minutes_spent",
              "codebase_size",
              "stages"
            ],
            "properties": {
              "number": {
                "description": "The challenge number (starts at 1)",
                "type": "integer",
                "example": 1
              },
              "category": {
                "description": "The challenge category",
                "type": "string",
                "example": "Injection Flaws"
              },
              "subcategory": {
                "description": "The challenge subcategory",
                "type": "string",
                "example": "SQL Injection"
              },
              "difficulty": {
                "type": "string",
                "example": "hard",
                "enum": [
                  "easy",
                  "medium",
                  "hard"
                ]
              },
              "status": {
                "$ref": "#/definitions/Status"
              },
              "max_points": {
                "description": "The maximum points available for this challenge",
                "type": "integer",
                "example": 350
              },
              "points": {
                "description": "The points obtained for this challenge",
                "type": "integer",
                "example": 320
              },
              "codebase_size": {
                "type": "string",
                "example": "large",
                "enum": [
                  "small",
                  "large"
                ]
              },
              "minutes_spent": {
                "description": "How long the developer spent answering (in minutes)",
                "type": "integer",
                "example": 3
              },
              "stages": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/Stage"
                }
              }
            }
          }
        }
      }
    },
    "Stage": {
      "type": "object",
      "title": "Stage",
      "required": [
        "number",
        "name",
        "status",
        "points",
        "max_points",
        "minutes_spent",
        "lives_lost",
        "hints_used"
      ],
      "properties": {
        "number": {
          "description": "The stage number",
          "type": "integer",
          "example": 1
        },
        "name": {
          "description": "The name of the stage",
          "type": "string",
          "example": "Locate Vulnerability"
        },
        "status": {
          "description": "The status of the attempt at this stage",
          "type": "string",
          "example": "correct",
          "enum": [
            "correct",
            "incorrect",
            "pending"
          ]
        },
        "points": {
          "description": "Points gained on this stage",
          "type": "integer",
          "example": 320
        },
        "max_points": {
          "description": "Maximum points available on this stage",
          "type": "integer",
          "example": 350
        },
        "minutes_spent": {
          "description": "How long the developer spent answering (in minutes)",
          "type": "integer",
          "example": 3
        },
        "lives_lost": {
          "description": "The number of lives lost on this stage",
          "type": "integer",
          "example": 1
        },
        "hints_used": {
          "description": "The number of hints used on this stage",
          "type": "integer",
          "example": 0
        }
      }
    },
    "Assessment": {
      "type": "object",
      "title": "Assessment",
      "required": [
        "_id",
        "status",
        "name",
        "description",
        "supported_languages",
        "difficulty",
        "success_ratio",
        "emits_certificate",
        "time_limit",
        "start_date",
        "end_date",
        "number_of_challenges",
        "self_assess",
        "retries_allowed"
      ],
      "properties": {
        "_id": {
          "description": "The assessment ID",
          "type": "string",
          "example": "5702d346c6bf9dfe533ffa6d"
        },
        "status": {
          "description": "The status of the assessment",
          "type": "string",
          "example": "correct",
          "enum": [
            "correct",
            "incorrect",
            "done"
          ]
        },
        "name": {
          "description": "The name of the assessment",
          "type": "string",
          "example": "Junior Developer Assessment"
        },
        "description": {
          "description": "The assessment description",
          "type": "string",
          "example": "This assessment is useful for onboarding new developers into the team"
        },
        "supported_languages": {
          "description": "List of languages/frameworks available for the assessment",
          "type": "array",
          "items": {
            "type": "string",
            "example": "[\"Java Spring\", \"Ruby Rails\"]"
          }
        },
        "difficulty": {
          "description": "The difficulty of the assessment",
          "type": "string",
          "example": "medium",
          "enum": [
            "easy",
            "medium",
            "hard"
          ]
        },
        "success_ratio": {
          "description": "The percentage required to pass the assessment",
          "type": "integer",
          "example": 75
        },
        "emits_certificate": {
          "type": "boolean",
          "description": "Is the assessment linked to a certificate?",
          "example": true
        },
        "time_limit": {
          "description": "The time limit of the assessment in milliseconds. null = no time limit",
          "type": "integer",
          "example": 3600000
        },
        "start_date": {
          "description": "The date the assessment starts",
          "type": "string",
          "format": "date-time",
          "example": "2018-01-17T04:57:47.715Z"
        },
        "end_date": {
          "description": "The date the assessment ends",
          "type": "string",
          "format": "date-time",
          "example": "2018-01-18T04:57:47.715Z"
        },
        "timezone": {
          "description": "The timezone of the assessment",
          "type": "string",
          "example": "Australia/Sydney"
        },
        "number_of_challenges": {
          "description": "The number of challenges in the assessment",
          "type": "integer",
          "example": 21
        },
        "self_assess": {
          "description": "Is assessment a public assessment?",
          "type": "boolean",
          "example": true
        },
        "retries_allowed": {
          "description": "Are retries allowed for this assessment?",
          "type": "boolean",
          "example": true
        }
      }
    },
    "AccuracyStats": {
      "type": "object",
      "title": "Accuracy Stats",
      "description": "Accuracy statistics in percentages. A pair is returned. Either located/fixed or identified/fixed",
      "properties": {
        "located": {
          "description": "The % of vulnerabilities located",
          "type": "integer",
          "example": 100
        },
        "identified": {
          "description": "The % of vulnerabilities identified",
          "type": "integer",
          "example": 100
        },
        "fixed": {
          "description": "The % of vulnerabilities fixed",
          "type": "integer",
          "example": 100
        }
      }
    },
    "AssessmentAttempt": {
      "type": "object",
      "title": "Assessment Attempt",
      "required": [
        "_id",
        "_assessment",
        "developer",
        "status",
        "language",
        "started",
        "completed",
        "deadline",
        "progress"
      ],
      "properties": {
        "_id": {
          "description": "The assessment attempt ID",
          "type": "string"
        },
        "_assessment": {
          "description": "The assessment it belongs to",
          "type": "string",
          "example": "5702d346c6bf9dfe533ffa6d"
        },
        "name": {
          "description": "The assessment name",
          "type": "string",
          "example": "Junior Developer Assessment"
        },
        "developer": {
          "$ref": "#/definitions/Developer"
        },
        "status": {
          "$ref": "#/definitions/Status"
        },
        "language": {
          "description": "The language/framework of the assessment. null = language/framework not selected for assessment supporting more than one language",
          "type": "string",
          "example": "Java Spring"
        },
        "started": {
          "description": "The date/time that the assessment was started",
          "type": "string",
          "format": "date-time",
          "example": "2018-01-17T04:57:47.715Z"
        },
        "completed": {
          "description": "The date/time that the assessment was completed",
          "type": "string",
          "format": "date-time",
          "example": "2018-01-18T04:57:47.715Z"
        },
        "deadline": {
          "description": "The date/time of the assessment deadline. If an assessment does not have a time limit, deadline will be <code>null</code>",
          "type": "string",
          "format": "date-time",
          "example": "2018-01-19T04:57:47.715Z"
        },
        "score": {
          "description": "Assessment score in %",
          "type": "integer",
          "example": 100
        },
        "completed_in": {
          "description": "The amount of time taken to complete the assessment attempt",
          "type": "string",
          "example": "2 seconds"
        },
        "passing_grade": {
          "description": "The percentage required to pass the assessment",
          "type": "integer",
          "example": 30
        },
        "pass_status": {
          "description": "The pass status of the assessment",
          "type": "string",
          "example": "Passed"
        },
        "progress": {
          "description": "Details of the assessment attempt",
          "type": "object",
          "properties": {
            "correct": {
              "description": "The number of correct challenges",
              "type": "integer",
              "example": 25
            },
            "incorrect": {
              "description": "The number of incorrect challenges",
              "type": "integer",
              "example": 0
            },
            "number_of_challenges": {
              "description": "The total number of challenges",
              "type": "integer",
              "example": 25
            },
            "completed": {
              "description": "The number of challenges completed",
              "type": "integer",
              "example": 25
            }
          }
        },
        "accuracy": {
          "description": "The accuracy of locating/identifying/fixing the vulnerabilities",
          "allOf": [
            {
              "$ref": "#/definitions/AccuracyStats"
            }
          ]
        },
        "challenges": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Challenge"
          }
        }
      }
    },
    "Status": {
      "description": "Indicates the status of a challenge/assessment which may be pending, in progress, done or 'out of reach'",
      "type": "string",
      "example": "correct",
      "title": "Status",
      "enum": [
        "pending",
        "in_progress",
        "done",
        "out_of_reach",
        "skipped",
        "correct",
        "incorrect"
      ]
    },
    "Challenge": {
      "type": "object",
      "title": "Challenge",
      "required": [
        "number",
        "category",
        "subcategory",
        "difficulty",
        "status",
        "max_score",
        "score"
      ],
      "description": "A challenge object represents all the data relevent to a given type of challenge. The locate and identify fields are mutually exclusive thus only one will be returned based on the type of challenge. Empty array of challenges occurs when the language for the assessment attempt has yet to be selected",
      "properties": {
        "number": {
          "description": "The challenge number (starts at 1)",
          "type": "integer",
          "example": 1
        },
        "category": {
          "description": "The challenge category",
          "type": "string",
          "example": "Injection Flaws"
        },
        "subcategory": {
          "description": "The challenge subcategory",
          "type": "string",
          "example": "SQL Injection"
        },
        "difficulty": {
          "type": "string",
          "example": "medium",
          "enum": [
            "easy",
            "medium",
            "hard"
          ]
        },
        "status": {
          "$ref": "#/definitions/Status"
        },
        "max_score": {
          "description": "The maximum score available for this challenge",
          "type": "integer",
          "example": 300
        },
        "score": {
          "description": "The score obtained for this challenge",
          "type": "integer",
          "example": 300
        },
        "locate": {
          "description": "The statistics associated with the \"locating vulnerabilities\" stage",
          "type": "object",
          "properties": {
            "status": {
              "description": "The current status of the stage",
              "type": "string",
              "example": "correct",
              "enum": [
                "correct",
                "incorrect"
              ]
            }
          }
        },
        "identify": {
          "description": "The statistics associated with the \"identifying vulnerabilities\" stage",
          "type": "object",
          "properties": {
            "status": {
              "description": "The current status of the stage",
              "type": "string",
              "example": "correct",
              "enum": [
                "correct",
                "incorrect"
              ]
            }
          }
        },
        "fix": {
          "description": "The statistics associated with the \"fixing vulnerabilities\" stage",
          "type": "object",
          "properties": {
            "status": {
              "description": "The current status of the stage",
              "type": "string",
              "example": "correct",
              "enum": [
                "correct",
                "incorrect"
              ]
            }
          }
        }
      }
    },
    "AssessmentsSearch": {
      "description": "Assessments search filters",
      "type": "object",
      "properties": {
        "status": {
          "description": "Assessment status",
          "type": "string",
          "example": "enabled",
          "enum": [
            "enabled",
            "disabled",
            "closed"
          ]
        },
        "name": {
          "description": "Assessment name",
          "type": "string",
          "example": "Example assessment"
        },
        "supported_languages": {
          "description": "Language(s) supported by assessment",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SupportedLanguage"
          }
        },
        "difficulty": {
          "description": "Assessment difficulty",
          "type": "string",
          "example": "easy",
          "enum": [
            "easy",
            "medium",
            "hard"
          ]
        },
        "page": {
          "description": "The page number of results",
          "type": "integer",
          "example": 1
        }
      }
    },
    "AssessmentAttemptsSearch": {
      "description": "Assessment attempts search filters",
      "type": "object",
      "properties": {
        "assessment_id": {
          "description": "The assessment ID",
          "type": "string",
          "pattern": "^[0-9a-fA-F]{24}$",
          "example": "51c258a2551350e514d1ae24"
        },
        "name": {
          "description": "The assessment name",
          "type": "string",
          "example": "Junior Developer Assessment"
        },
        "users": {
          "description": "Users attempting the assessment (one or more user emails, separated by comma)",
          "type": "string",
          "example": "dev1@securecodewarrior.com, dev2@securecodewarrior.com"
        },
        "status": {
          "description": "Assessment attempt status",
          "type": "string",
          "example": "pending",
          "enum": [
            "pending",
            "in_progress",
            "done"
          ]
        },
        "team_names": {
          "description": "Team names (one or more team names, separated by comma)",
          "type": "string",
          "example": "Company 1 Team 1, Company 1 Team 2"
        },
        "tags": {
          "description": "User tags (one or more user tags, separated by comma)",
          "type": "string",
          "example": "tag-11, tag-12"
        },
        "pass_status": {
          "description": "Assessment attempt pass status",
          "type": "string",
          "example": "pass",
          "enum": [
            "pass",
            "fail",
            "in_progress"
          ]
        },
        "page": {
          "description": "The page number of results",
          "type": "integer",
          "example": 1
        }
      }
    },
    "AssessmentAssign": {
      "description": "Assign assessment to users/teams",
      "type": "object",
      "properties": {
        "users": {
          "description": "List of users to assign the assessment to",
          "type": "array",
          "items": {
            "description": "User to assign to assessment\n",
            "type": "string",
            "example": "dev1@securecodewarrior.com"
          }
        },
        "teams": {
          "description": "List of teams to assign the assessment to",
          "type": "array",
          "items": {
            "description": "Team to assign to assessment\n",
            "type": "string",
            "example": "Company 1 Team 1"
          }
        },
        "sendEmail": {
          "description": "Flag to indicate if assessment invite email sent on assigning assessment (Default: true)",
          "type": "boolean",
          "example": false
        }
      }
    },
    "SupportedLanguage": {
      "description": "Language supported by the assessment",
      "type": "object",
      "properties": {
        "_id": {
          "description": "Language Id",
          "type": "string",
          "example": "java"
        },
        "_framework": {
          "description": "Language framework",
          "type": "string",
          "example": "spring"
        }
      }
    },
    "preferredDevLanguage": {
      "description": "Dev language preference",
      "type": "object",
      "properties": {
        "_id": {
          "description": "Language Id",
          "type": "string",
          "example": "java"
        },
        "_framework": {
          "description": "Language Framework",
          "type": "string",
          "example": "spring"
        }
      }
    },
    "AssessmentAssignResponse": {
      "description": "Response to assessment assign POST request",
      "type": "object",
      "required": [
        "user",
        "inviteEmailSent",
        "inviteUrl"
      ],
      "properties": {
        "user": {
          "description": "User email Id",
          "type": "string",
          "example": "dev3@securecodewarrior.com"
        },
        "inviteEmailSent": {
          "description": "Was invite email sent ?",
          "type": "boolean",
          "example": true
        },
        "inviteUrl": {
          "description": "Assessment invite url",
          "type": "string",
          "example": "<%= EXTERNAL_HOST %>/invite-accept/..."
        }
      }
    },
    "TeamLeaderboard": {
      "description": "The team leaderboard contains all the team leaderboard entries valid during the given reporting period",
      "required": [
        "report_period_in_days",
        "leaderboard"
      ],
      "type": "object",
      "title": "Team Leaderboard",
      "properties": {
        "report_period_in_days": {
          "description": "The number of days into the past to report on",
          "type": "integer",
          "example": 7,
          "enum": [
            "1",
            "7",
            "30"
          ]
        },
        "leaderboard": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TeamLeaderboardEntry"
          }
        },
        "links": {
          "description": "Related API pages and pagination details",
          "type": "object",
          "title": "Links",
          "properties": {
            "total_pages": {
              "type": "integer",
              "description": "The total number of pages in the results",
              "example": 10
            },
            "results_per_page": {
              "type": "integer",
              "description": "The maximum number of results in each page",
              "example": 100
            },
            "next_page": {
              "type": "integer",
              "description": "The page number of the next page (if one exists)",
              "example": 3
            },
            "prev_page": {
              "type": "integer",
              "description": "The page number of the previous page (if one exists)",
              "example": 1
            },
            "total_results": {
              "type": "integer",
              "description": "The total number of the results",
              "example": 513
            }
          }
        }
      }
    },
    "TeamLeaderboardEntry": {
      "description": "An entry in the team leaderboard",
      "required": [
        "rank",
        "name",
        "developers",
        "points_average",
        "points_total",
        "accuracy",
        "confidence_level",
        "time_spent",
        "installed_sensei",
        "stats_over_report_period"
      ],
      "type": "object",
      "title": "Team Leaderboard Entry",
      "properties": {
        "rank": {
          "description": "The team's rank on the leaderboard.",
          "type": "integer",
          "example": 1
        },
        "name": {
          "description": "The name of the team",
          "type": "string",
          "example": "Team Awesome"
        },
        "developers": {
          "description": "The number of developers on the team",
          "type": "integer",
          "example": 7
        },
        "points_average": {
          "description": "The team's average points",
          "type": "integer",
          "example": 300
        },
        "points_total": {
          "description": "The team's total points",
          "type": "integer",
          "example": 2100
        },
        "accuracy": {
          "description": "The team's accuracy (in %)",
          "type": "integer",
          "example": 100
        },
        "confidence_level": {
          "description": "The team's confidence level (in %)",
          "type": "integer",
          "example": 100
        },
        "time_spent": {
          "description": "The total minutes spent by the team on challenges",
          "type": "integer",
          "example": 100
        },
        "installed_sensei": {
          "description": "The number of developers in the team that have installed sensei",
          "type": "integer",
          "example": 3
        },
        "stats_over_report_period": {
          "$ref": "#/definitions/StatsOverReportPeriod"
        }
      }
    },
    "MostEngagedTeams": {
      "description": "Most Engaged Teams in the company",
      "required": [
        "teams"
      ],
      "type": "object",
      "properties": {
        "teams": {
          "description": "Team details",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TeamEntry"
          }
        },
        "links": {
          "description": "Related API pages and pagination details",
          "type": "object",
          "title": "Links",
          "properties": {
            "total_pages": {
              "type": "integer",
              "description": "The total number of pages in the results",
              "example": 10
            },
            "results_per_page": {
              "type": "integer",
              "description": "The maximum number of results in each page",
              "example": 100
            },
            "next_page": {
              "type": "integer",
              "description": "The page number of the next page (if one exists)",
              "example": 3
            },
            "prev_page": {
              "type": "integer",
              "description": "The page number of the previous page (if one exists)",
              "example": 1
            },
            "total_results": {
              "type": "integer",
              "description": "The total number of the results",
              "example": 513
            }
          }
        }
      }
    },
    "TeamEntry": {
      "description": "This object represents team details",
      "required": [
        "name",
        "status",
        "timeSpent"
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the team",
          "type": "string",
          "example": "Demo Team"
        },
        "status": {
          "description": "Status of the team",
          "type": "string",
          "example": "enabled"
        },
        "timeSpent": {
          "description": "Team time spent",
          "type": "integer",
          "example": 826765
        }
      }
    },
    "MostEngagedUsers": {
      "description": "Most Engaged Users in the company",
      "required": [
        "users"
      ],
      "type": "object",
      "properties": {
        "users": {
          "description": "User details",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserEntry"
          }
        },
        "links": {
          "description": "Related API pages and pagination details",
          "type": "object",
          "title": "Links",
          "properties": {
            "total_pages": {
              "type": "integer",
              "description": "The total number of pages in the results",
              "example": 10
            },
            "results_per_page": {
              "type": "integer",
              "description": "The maximum number of results in each page",
              "example": 100
            },
            "next_page": {
              "type": "integer",
              "description": "The page number of the next page (if one exists)",
              "example": 3
            },
            "prev_page": {
              "type": "integer",
              "description": "The page number of the previous page (if one exists)",
              "example": 1
            },
            "total_results": {
              "type": "integer",
              "description": "The total number of the results",
              "example": 513
            }
          }
        }
      }
    },
    "UserEntry": {
      "description": "This object represents user details",
      "required": [
        "name",
        "status",
        "timeSpent"
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the user",
          "type": "string",
          "example": "Demo User"
        },
        "status": {
          "description": "Status of the user",
          "type": "string",
          "example": "enabled"
        },
        "timeSpent": {
          "description": "Time spent by the user",
          "type": "integer",
          "example": 826765
        }
      }
    },
    "StatsOverReportPeriod": {
      "description": "The statistics computed for the given report period",
      "required": [
        "points_gained",
        "accuracy_change",
        "confidence_level_change",
        "minutes_spent",
        "challenges_correct",
        "challenges_incorrect"
      ],
      "type": "object",
      "title": "Stats over Report Period",
      "properties": {
        "points_gained": {
          "description": "The number of points the developer has gained",
          "type": "integer",
          "example": 25
        },
        "accuracy_change": {
          "description": "The change in accuracy over the reporting period",
          "type": "integer",
          "example": 21
        },
        "confidence_level_change": {
          "description": "The change in confidence level over the reporting period",
          "type": "integer",
          "example": 28
        },
        "minutes_spent": {
          "description": "The minutes spent by the team on challenges",
          "type": "integer",
          "example": 52
        },
        "challenges_correct": {
          "description": "The number of correct challenges",
          "type": "integer",
          "example": 32
        },
        "challenges_incorrect": {
          "description": "The number of incorrect challenges",
          "type": "integer",
          "example": 0
        }
      }
    },
    "Developer": {
      "description": "Information about an individual developer",
      "type": "object",
      "title": "Developer",
      "required": [
        "name",
        "email"
      ],
      "properties": {
        "name": {
          "description": "The name of the developer (first + middle + surname)",
          "type": "string",
          "example": "Code Warrior"
        },
        "email": {
          "description": "The developers email address",
          "type": "string",
          "example": "user@securecodewarrior.com"
        },
        "member_since": {
          "description": "The date the developer became a member",
          "type": "string",
          "format": "date-time",
          "example": "2018-01-01T04:57:47.715Z"
        },
        "last_logged_in": {
          "description": "The date the developer last logged in",
          "type": "string",
          "format": "date-time",
          "example": "2018-01-01T04:57:47.715Z"
        },
        "status": {
          "description": "The current status of the developer account",
          "type": "string",
          "example": "enabled"
        },
        "company": {
          "description": "The company name that the developer is a part of",
          "type": "string",
          "example": "Secure Code Warrior"
        },
        "team": {
          "description": "The team name that the developer is a part of",
          "type": "string",
          "example": "Team Awesome"
        },
        "tags": {
          "description": "The tags associated with this developer",
          "type": "array",
          "items": {
            "type": "string",
            "example": "Syd branch"
          }
        },
        "roles": {
          "description": "The roles that this developer has",
          "type": "string",
          "enum": [
            "user",
            "developer",
            "team manager",
            "company admin"
          ],
          "items": {
            "type": "string",
            "example": "developer"
          }
        }
      }
    },
    "DeveloperLeaderboardEntry": {
      "description": "This object represents an entry in the developer leaderboard",
      "required": [
        "rank",
        "developer",
        "overall_stats_over_report_period"
      ],
      "type": "object",
      "title": "Developer Leaderboard Entry",
      "properties": {
        "rank": {
          "description": "The developer's rank on the leaderboard",
          "type": "integer",
          "example": 1
        },
        "developer": {
          "$ref": "#/definitions/Developer"
        },
        "overall_stats_over_report_period": {
          "description": "The statistics computed overall for the given report period",
          "allOf": [
            {
              "$ref": "#/definitions/StatsOverReportPeriod"
            },
            {
              "type": "object",
              "properties": {
                "installed_sensei": {
                  "description": "Whether the developer installed Sensei",
                  "type": "boolean",
                  "example": true
                },
                "used_sensei": {
                  "description": "Whether the developer used Sensei",
                  "type": "boolean",
                  "example": true
                }
              }
            }
          ]
        },
        "challenges": {
          "description": "The challenges that have been attempted",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "language": {
                "description": "The language/framework the the challenge relates to",
                "type": "string",
                "example": "Java Spring"
              },
              "challenges_completed": {
                "description": "The number of challenges completed",
                "type": "integer",
                "example": 32
              },
              "total_challenges": {
                "description": "The total number of challenges available",
                "type": "integer",
                "example": 32
              },
              "progress": {
                "description": "The % progress made through the challenge",
                "type": "integer",
                "example": 100
              },
              "security_maturity": {
                "description": "The security maturity level of the developer",
                "type": "string",
                "example": "Security Champion",
                "enum": [
                  "Beginner",
                  "Security Aware",
                  "Security Skilled",
                  "Security Champion"
                ]
              },
              "points": {
                "description": "The points gained on this challenge",
                "type": "integer",
                "example": 120
              },
              "accuracy": {
                "description": "How accurate the developer was in answering (in %)",
                "type": "integer",
                "example": 100
              },
              "confidence_level": {
                "description": "How confident the developer was in answering (in %)",
                "type": "integer",
                "example": 100
              },
              "minutes_spent": {
                "description": "How long the developer spent answering (in minutes)",
                "type": "integer",
                "example": 52
              },
              "stats_over_report_period": {
                "$ref": "#/definitions/StatsOverReportPeriod"
              }
            }
          }
        },
        "challenges_summary": {
          "description": "Summary data for the challenges",
          "type": "object",
          "properties": {
            "challenges_completed": {
              "description": "The number of challenges completed",
              "type": "integer",
              "example": 32
            },
            "total_challenges": {
              "description": "The total number of challenges available",
              "type": "integer",
              "example": 32
            },
            "progress": {
              "description": "The amount of progress the developer has made (in %)",
              "type": "integer",
              "example": 100
            },
            "security_maturity": {
              "description": "The security maturity level of the developer",
              "type": "string",
              "example": "Security Champion",
              "enum": [
                "Beginner",
                "Security Aware",
                "Security Skilled",
                "Security Champion"
              ]
            },
            "points": {
              "description": "The total points gained in the challenges",
              "type": "integer",
              "example": 6200
            },
            "accuracy": {
              "description": "How accurate the developer was overall in answering the challenges (in %)",
              "type": "integer",
              "example": 100
            },
            "confidence_level": {
              "description": "How confident the developer was in answering the challenges (in %)",
              "type": "integer",
              "example": 100
            },
            "minutes_spent": {
              "description": "How long the developer spent answering (in minutes)",
              "type": "integer",
              "example": 72
            }
          }
        }
      }
    },
    "DeveloperLeaderboardSearch": {
      "description": "Developer leaderboard search filters",
      "type": "object",
      "properties": {
        "report_period_in_days": {
          "description": "The number of days into the past to report on (valid values - 1, 7 and 30 days)",
          "type": "integer",
          "example": 1
        },
        "startdate": {
          "description": "developer leaderboard completed on or after the given time. Format: YYYY-MM-DDTHH:mm:ss.SSSZ",
          "type": "string",
          "example": "2017-01-01T00:00:00.000Z"
        },
        "enddate": {
          "description": "developer leaderboard completed on or before the given time. Format: YYYY-MM-DDTHH:mm:ss.SSSZ",
          "type": "string",
          "example": "2019-01-01T00:00:00.000Z"
        },
        "users": {
          "description": "Users to include in leaderboard (one or more user emails, separated by comma)",
          "type": "string",
          "example": "dev1@securecodewarrior.com, dev2@securecodewarrior.com"
        },
        "team_names": {
          "description": "Team names (one or more team names, separated by comma)",
          "type": "string",
          "example": "Company 1 Team 1, Company 1 Team 2"
        },
        "tags": {
          "description": "User tags (one or more user tags, separated by comma)",
          "type": "string",
          "example": "tag-11, tag-12"
        },
        "page": {
          "description": "The page number of results",
          "type": "integer",
          "example": 1
        }
      }
    },
    "DeveloperLeaderboard": {
      "description": "The developer leaderboard contains all the developer leaderboard entries valid during the given reporting period",
      "required": [
        "report_period_in_days",
        "leaderboard"
      ],
      "type": "object",
      "title": "Developer Leaderboard",
      "properties": {
        "report_period_in_days": {
          "description": "The number of days into the past to report on",
          "type": "integer",
          "example": 7,
          "enum": [
            1,
            7,
            30
          ]
        },
        "leaderboard": {
          "description": "The leaderboard entries",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeveloperLeaderboardEntry"
          }
        },
        "links": {
          "description": "Related API pages and pagination details",
          "type": "object",
          "title": "Links",
          "properties": {
            "total_pages": {
              "type": "integer",
              "description": "The total number of pages in the results",
              "example": 10
            },
            "results_per_page": {
              "type": "integer",
              "description": "The maximum number of results in each page",
              "example": 100
            },
            "next_page": {
              "type": "integer",
              "description": "The page number of the next page (if one exists)",
              "example": 3
            },
            "prev_page": {
              "type": "integer",
              "description": "The page number of the previous page (if one exists)",
              "example": 1
            },
            "total_results": {
              "type": "integer",
              "description": "The total number of the results",
              "example": 513
            }
          }
        }
      }
    },
    "DeveloperProgressSearch": {
      "description": "Developer progress search filters",
      "type": "object",
      "properties": {
        "report_period_in_days": {
          "description": "The number of days into the past to report on (valid values - 1, 7 and 30 days)",
          "type": "integer",
          "example": 1
        },
        "startdate": {
          "description": "developer progress completed on or after the given time. Format: YYYY-MM-DDTHH:mm:ss.SSSZ",
          "type": "string",
          "example": "2017-01-01T00:00:00.000Z"
        },
        "enddate": {
          "description": "developer progress completed on or before the given time. Format: YYYY-MM-DDTHH:mm:ss.SSSZ",
          "type": "string",
          "example": "2019-01-01T00:00:00.000Z"
        },
        "users": {
          "description": "Users to include in developer progress (one or more user emails, separated by comma)",
          "type": "string",
          "example": "dev1@securecodewarrior.com, dev2@securecodewarrior.com"
        },
        "team_names": {
          "description": "Team names (one or more team names, separated by comma)",
          "type": "string",
          "example": "Company 1 Team 1, Company 1 Team 2"
        },
        "tags": {
          "description": "User tags (one or more user tags, separated by comma)",
          "type": "string",
          "example": "tag-11, tag-12"
        },
        "page": {
          "description": "The page number of results",
          "type": "integer",
          "example": 1
        }
      }
    },
    "DevelopersProgress": {
      "description": "This contains the progress of each developer on each of languages, realms, levels, and quests",
      "required": [
        "developers"
      ],
      "type": "object",
      "title": "Developer Progress",
      "properties": {
        "developers": {
          "description": "List of developers who have made an attempt at training",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeveloperProgressEntry"
          }
        },
        "links": {
          "description": "Related API pages and pagination details",
          "type": "object",
          "title": "Links",
          "properties": {
            "total_pages": {
              "type": "integer",
              "description": "The total number of pages in the results",
              "example": 10
            },
            "results_per_page": {
              "type": "integer",
              "description": "The maximum number of results in each page",
              "example": 100
            },
            "next_page": {
              "type": "integer",
              "description": "The page number of the next page (if one exists)",
              "example": 3
            },
            "prev_page": {
              "type": "integer",
              "description": "The page number of the previous page (if one exists)",
              "example": 1
            },
            "total_results": {
              "type": "integer",
              "description": "The total number of the results",
              "example": 513
            }
          }
        }
      }
    },
    "DeveloperProgressEntry": {
      "description": "This entry represents an object in the developers training progress containing information the developer and the progress of their attempts in training mode",
      "required": [
        "developer",
        "languages"
      ],
      "type": "object",
      "title": "Developer Progress Entry",
      "properties": {
        "developer": {
          "$ref": "#/definitions/Developer"
        },
        "languages": {
          "description": "List of languages attempted by the developer on training mode",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TrainingProgressEntry"
          }
        }
      }
    },
    "TrainingProgressEntry": {
      "description": "Entry with progress of completion on languages and list of realms",
      "required": [
        "name",
        "language_progress",
        "realms"
      ],
      "type": "object",
      "title": "Training Progress Entry",
      "properties": {
        "name": {
          "description": "Name of language framework",
          "type": "string",
          "example": "Java Spring"
        },
        "language_progress": {
          "description": "Percentage of the language completed",
          "type": "integer",
          "example": 100
        },
        "realms": {
          "description": "List of realms for each language",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "description": "Name of realm",
                "type": "string",
                "example": "Defend Your Code"
              },
              "realm_progress": {
                "description": "Percentage of the realm completed",
                "type": "integer",
                "example": 100
              },
              "levels": {
                "description": "List of levels for each realm",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "description": "Name of level",
                      "type": "string",
                      "example": "Most Critical Weaknesses"
                    },
                    "level_progress": {
                      "description": "Percentage of the level completed",
                      "type": "integer",
                      "example": 100
                    },
                    "quests": {
                      "description": "List of quests for each level",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "description": "Name of quest",
                            "type": "string",
                            "example": "SQL Injection"
                          },
                          "quest_progress": {
                            "description": "percentage of quest completed",
                            "type": "integer",
                            "example": 100
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "DevelopersActivitySearch": {
      "description": "Developer activity search filters",
      "type": "object",
      "properties": {
        "report_period_in_days": {
          "description": "The number of days into the past to report on (valid values - 1, 7 and 30 days)",
          "type": "integer",
          "example": 1
        },
        "startdate": {
          "description": "developer challenge logs completed on or after the given time. Format: YYYY-MM-DDTHH:mm:ss.SSSZ",
          "type": "string",
          "example": "2017-01-01T00:00:00.000Z"
        },
        "enddate": {
          "description": "developer challenge logs completed on or before the given time. Format: YYYY-MM-DDTHH:mm:ss.SSSZ",
          "type": "string",
          "example": "2019-01-01T00:00:00.000Z"
        },
        "users": {
          "description": "Users to include in challenge logs (one or more user emails, separated by comma)",
          "type": "string",
          "example": "dev1@securecodewarrior.com, dev2@securecodewarrior.com"
        },
        "team_names": {
          "description": "Team names (one or more team names, separated by comma)",
          "type": "string",
          "example": "Company 1 Team 1, Company 1 Team 2"
        },
        "tags": {
          "description": "User tags (one or more user tags, separated by comma)",
          "type": "string",
          "example": "tag-11, tag-12"
        },
        "page": {
          "description": "The page number of results",
          "type": "integer",
          "example": 1
        }
      }
    },
    "DevelopersActivity": {
      "description": "Detailed log of challenges for a given time period",
      "required": [
        "activities"
      ],
      "type": "object",
      "title": "Developer Activity",
      "properties": {
        "activities": {
          "description": "List of developers containing with list of languages containing challenge attempts",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActivityEntry"
          }
        },
        "links": {
          "description": "Related API pages and pagination details",
          "type": "object",
          "title": "Links",
          "properties": {
            "total_pages": {
              "type": "integer",
              "description": "The total number of pages in the results",
              "example": 10
            },
            "results_per_page": {
              "type": "integer",
              "description": "The maximum number of results in each page",
              "example": 100
            },
            "next_page": {
              "type": "integer",
              "description": "The page number of the next page (if one exists)",
              "example": 3
            },
            "prev_page": {
              "type": "integer",
              "description": "The page number of the previous page (if one exists)",
              "example": 1
            },
            "total_results": {
              "type": "integer",
              "description": "The total number of the results",
              "example": 513
            }
          }
        }
      }
    },
    "ActivityEntry": {
      "description": "This object represents the developer and their challenge attempts",
      "required": [
        "developer",
        "challenge"
      ],
      "type": "object",
      "title": "Activity Entry",
      "properties": {
        "developer": {
          "$ref": "#/definitions/Developer"
        },
        "challenge": {
          "$ref": "#/definitions/ChallengeAttempt"
        }
      }
    },
    "ChallengeAttempt": {
      "description": "Attempt made by deverloper in training mode",
      "required": [
        "language",
        "realm",
        "level",
        "quest",
        "category",
        "subcategory",
        "difficulty"
      ],
      "type": "object",
      "title": "Challenge Attempt",
      "properties": {
        "language": {
          "description": "Name of language framework",
          "type": "string",
          "example": "Java Spring"
        },
        "realm": {
          "description": "Name of realm",
          "type": "string",
          "example": "Defend Your Code"
        },
        "level": {
          "description": "Name of level",
          "type": "string",
          "example": "Most Critical Weaknesses"
        },
        "quest": {
          "description": "Name of quest",
          "type": "string",
          "example": "SQL Injection"
        },
        "category": {
          "description": "Category name of the challenge",
          "type": "string",
          "example": "Injection Flaws"
        },
        "subcategory": {
          "description": "Subcategory name of the challenge",
          "type": "string",
          "example": "SQL Injection"
        },
        "difficulty": {
          "description": "Level of difficulty for the challenge",
          "type": "string",
          "example": "Hard",
          "enum": [
            "Easy",
            "Medium",
            "Hard"
          ]
        },
        "started": {
          "description": "Time challenge was started",
          "type": "string",
          "format": "date-time",
          "example": "2018-01-17T04:57:47.715Z"
        },
        "completed": {
          "description": "Time challenges was completed",
          "type": "string",
          "format": "date-time",
          "example": "2018-01-18T04:57:47.715Z"
        },
        "duration": {
          "description": "Time in seconds it took for the challenge to complete",
          "type": "integer",
          "example": 120
        },
        "status": {
          "description": "Status of challenge, with incorrect status on challenge with 1 or more incorrect stages",
          "type": "string",
          "example": "correct",
          "enum": [
            "correct",
            "incorrect"
          ]
        },
        "hints_used": {
          "description": "Total number of hints from the challenge stages used by the developer",
          "type": "integer",
          "example": 0
        },
        "score": {
          "description": "Points acquired",
          "type": "integer",
          "example": 300
        },
        "max_score": {
          "description": "Max points attainable for the challenge",
          "type": "string",
          "example": 300
        },
        "select_vulnerability": {
          "$ref": "#/definitions/SelectVulnerability"
        },
        "locate_vulnerability": {
          "$ref": "#/definitions/LocateVulnerability"
        },
        "identify_solution": {
          "$ref": "#/definitions/IdentifySolution"
        }
      }
    },
    "SelectVulnerability": {
      "description": "Nature of challenge challenge",
      "type": "object",
      "title": "Select Vulnerability",
      "properties": {
        "attempt_index": {
          "description": "Number of times the developer has attempted the stage",
          "type": "integer",
          "example": 1
        },
        "status": {
          "description": "Outcome of the challenge, out_of_reach status describes a stage not yet attempted by the developer",
          "type": "string",
          "example": "correct",
          "enum": [
            "correct",
            "incorrect",
            "out_of_reach"
          ]
        },
        "max_score": {
          "description": "Max points attainable for selecting the vulnerability",
          "type": "integer",
          "example": 100
        },
        "score": {
          "description": "Points acquired for selecting the vulnerability",
          "type": "integer",
          "example": 100
        },
        "skipped": {
          "description": "When set to true, stage has been skipped. If status is false, stage was completed or has yet to be attempted",
          "type": "boolean",
          "example": false
        }
      }
    },
    "LocateVulnerability": {
      "description": "Nature of challenge challenge",
      "type": "object",
      "title": "Locate Vulnerability",
      "properties": {
        "attempt_index": {
          "description": "Number of times the developer has attempted the stage",
          "type": "integer",
          "example": 1
        },
        "status": {
          "description": "Outcome of the challenge",
          "type": "string",
          "example": "correct",
          "enum": [
            "correct",
            "incorrect",
            "out_of_reach"
          ]
        },
        "max_score": {
          "description": "Max points attainable for locating the vulnerability",
          "type": "integer",
          "example": 100
        },
        "score": {
          "description": "Points acquired for locating the vulnerability",
          "type": "integer",
          "example": 100
        }
      }
    },
    "IdentifySolution": {
      "description": "Nature of challenge challenge",
      "type": "object",
      "title": "Identify Solution",
      "properties": {
        "attempt_index": {
          "description": "Number of times the developer has attempted the stage",
          "type": "integer",
          "example": 1
        },
        "status": {
          "description": "Outcome of the challenge",
          "type": "string",
          "example": "correct",
          "enum": [
            "correct",
            "incorrect",
            "out_of_reach"
          ]
        },
        "max_score": {
          "description": "Max points attainable for identifying the solution",
          "type": "integer",
          "example": 100
        },
        "score": {
          "description": "Points acquired for identifying the solution",
          "type": "integer",
          "example": 100
        }
      }
    },
    "ResourceItem": {
      "description": "Resource item details",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "example": "application_security_concepts"
        },
        "name": {
          "type": "string",
          "example": "Application Security Concepts"
        }
      }
    },
    "Resource": {
      "description": "Resource details",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "example": "security_fundamentals"
        },
        "name": {
          "type": "string",
          "example": "Security Fundamentals"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceItem"
          }
        }
      }
    },
    "CompletedResource": {
      "description": "Details of a completed learning resource",
      "type": "object",
      "title": "Completed Resource",
      "properties": {
        "resource": {
          "type": "array",
          "description": "An ordered list of the categorisation and name of the completed resource",
          "items": {
            "type": "string"
          },
          "example": [
            "Application Security Weaknesses",
            "Web",
            "Data Handling",
            "Injection Flaws",
            "SQL Injection"
          ]
        },
        "time_completed": {
          "description": "When the learning resource was completed",
          "type": "string",
          "format": "date-time",
          "example": "2018-01-01T04:57:47.715Z"
        }
      }
    },
    "ResourceRecord": {
      "description": "A record of a developer's completed learning resources",
      "type": "object",
      "title": "Resource Record",
      "properties": {
        "profile": {
          "$ref": "#/definitions/Developer"
        },
        "completed": {
          "description": "All learning resources completed by the user",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CompletedResource"
          }
        }
      }
    },
    "CourseURL": {
      "description": "URL to training courses",
      "type": "object",
      "title": "Course URL",
      "properties": {
        "url": {
          "description": "URL to course",
          "type": "string",
          "example": "<%= EXTERNAL_HOST %>/game/013/play/java/spring/realm/training_ground/level/common_weaknesses"
        }
      }
    },
    "UserCreate": {
      "type": "object",
      "title": "User Create",
      "properties": {
        "enabled": {
          "description": "Users status on the platform",
          "type": "boolean",
          "example": true
        },
        "email": {
          "description": "The email of the user",
          "type": "string",
          "example": "user@securecodewarrior.com"
        },
        "isProfileComplete": {
          "description": "Converts properties necessary for profile completion as required. If set to true properties 'name.first' and 'name.last' as required, Else the name is optional",
          "type": "boolean",
          "example": false,
          "default": false
        },
        "name": {
          "description": "Holds the properties for users first, middle and last name",
          "type": "object",
          "properties": {
            "first": {
              "description": "User first name. Required if 'isProfileComplete' is set to true",
              "type": "string",
              "example": "Secure"
            },
            "middle": {
              "description": "User middle name",
              "type": "string",
              "example": "Code"
            },
            "last": {
              "description": "User last name. Required if 'isProfileComplete' is set to true",
              "type": "string",
              "example": "Warrior"
            }
          }
        },
        "role": {
          "description": "The role assigned to the user which is one of developer, team manager or company administrator",
          "enum": [
            "developer",
            "team manager",
            "company admin"
          ],
          "type": "string",
          "example": "developer"
        },
        "team": {
          "description": "The team the user is associated with",
          "type": "string",
          "example": "Team Awesome"
        },
        "tags": {
          "description": "Any identifying information about the user. Example: Head Quarters, Asia-Pacific",
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": [
            "Syd branch"
          ]
        },
        "preferredDevLanguages": {
          "description": "Dev languages preference",
          "type": "array",
          "items": {
            "$ref": "#/definitions/preferredDevLanguage"
          }
        }
      },
      "required": [
        "email",
        "role"
      ]
    },
    "UserSearchParamBody": {
      "type": "object",
      "title": "User search body",
      "properties": {
        "id": {
          "description": "User resource ID",
          "type": "string",
          "example": "c0f1d2b3-ae71-440a-82fc-95d5fec4d91e"
        },
        "email": {
          "description": "The email of the user",
          "type": "string",
          "example": "user@securecodewarrior.com"
        },
        "role": {
          "description": "The role assigned to the user which is one of developer, team manager or company administrator",
          "enum": [
            "developer",
            "team manager",
            "company admin"
          ],
          "type": "string",
          "example": "developer"
        },
        "team": {
          "description": "The team the user is associated with",
          "type": "string",
          "example": "Team Awesome"
        },
        "tags": {
          "description": "Any identifying information about the user. Example: Head Quarters, Asia-Pacific",
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": [
            "Syd branch"
          ]
        }
      }
    },
    "TeamData": {
      "type": "object",
      "title": "Team Data",
      "properties": {
        "name": {
          "description": "Team name",
          "type": "string",
          "example": "Team Awesome"
        }
      },
      "required": [
        "name"
      ]
    },
    "UserData": {
      "type": "object",
      "title": "User Data",
      "properties": {
        "id": {
          "description": "The resource Id of the user",
          "type": "string",
          "example": "c0f1d2b3-ae71-440a-82fc-95d5fec4d91e"
        },
        "email": {
          "description": "The email of the user",
          "type": "string",
          "example": "user@securecodewarrior.com"
        },
        "role": {
          "description": "The role assigned to the user which is one of developer, team manager or company administrator",
          "enum": [
            "developer",
            "team manager",
            "company admin"
          ],
          "type": "string",
          "example": "developer"
        },
        "name": {
          "type": "object",
          "properties": {
            "first": {
              "description": "First name",
              "example": "Secure"
            },
            "middle": {
              "description": "Middle name",
              "example": "Code"
            },
            "last": {
              "description": "Last name",
              "example": "Warrior"
            }
          }
        },
        "status": {
          "type": "string",
          "description": "User status",
          "enum": [
            "enabled",
            "disabled",
            "invited",
            "registered"
          ],
          "example": "enabled"
        },
        "invite-date": {
          "type": "string",
          "format": "date-time",
          "description": "Time of when the user was last invited",
          "example": "2020-01-01T00:00:00.000Z"
        },
        "last-login-date": {
          "type": "string",
          "format": "date-time",
          "description": "Last time the user logged in",
          "example": "2020-01-01T00:00:00.000Z"
        },
        "team": {
          "$ref": "#/definitions/TeamData"
        },
        "tags": {
          "description": "Any identifying information about the user. Example: Head Quarters, Asia-Pacific",
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": [
            "Syd branch"
          ]
        },
        "preferredDevLanguages": {
          "description": "Dev languages preference",
          "type": "array",
          "items": {
            "$ref": "#/definitions/preferredDevLanguage"
          }
        }
      },
      "required": [
        "email",
        "role"
      ]
    },
    "UserUpdate": {
      "type": "object",
      "title": "User Update",
      "properties": {
        "email": {
          "description": "The email address of the user",
          "type": "string",
          "format": "email",
          "example": "newemail@example.com"
        },
        "enabled": {
          "description": "Users status on the platform",
          "type": "boolean",
          "example": false
        },
        "role": {
          "description": "The role assigned to the user which is one of developer, team manager or company administrator",
          "enum": [
            "developer",
            "team manager",
            "company admin"
          ],
          "type": "string",
          "example": "developer"
        },
        "team": {
          "description": "The team the user is associated with",
          "type": "string",
          "example": "Team Awesome"
        },
        "tags": {
          "description": "Any identifying information about the user. Example: Head Quarters, Asia-Pacific",
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": [
            "Syd branch"
          ]
        },
        "preferredDevLanguages": {
          "description": "Dev languages preference",
          "type": "array",
          "items": {
            "$ref": "#/definitions/preferredDevLanguage"
          }
        }
      }
    },
    "UserUpdated": {
      "type": "object",
      "title": "User Updated",
      "properties": {
        "statusCode": {
          "description": "Success response message status code",
          "type": "integer",
          "example": 200
        },
        "message": {
          "description": "Success response message description",
          "type": "string",
          "example": "User Updated"
        },
        "code": {
          "description": "Secure Code Warrior Code",
          "type": "string",
          "example": "103"
        }
      }
    },
    "UserCreated": {
      "type": "object",
      "title": "User Created",
      "properties": {
        "id": {
          "description": "Secure Code Warrior resource identifier",
          "example": "c0f1d2b3-ae71-440a-82fc-95d5fec4d91e",
          "type": "string"
        },
        "statusCode": {
          "description": "Success response message status code",
          "type": "integer",
          "example": 201
        },
        "message": {
          "description": "Success response message description",
          "type": "string",
          "example": "User Created"
        },
        "code": {
          "description": "Secure Code Warrior Code",
          "type": "string",
          "example": "100"
        }
      }
    },
    "UserDeleted": {
      "type": "object",
      "title": "User Deleted",
      "properties": {
        "statusCode": {
          "description": "Success response message status code",
          "type": "integer",
          "example": 200
        },
        "message": {
          "description": "Success response message description",
          "type": "string",
          "example": "User Deleted"
        },
        "code": {
          "description": "Secure Code Warrior Code",
          "type": "string",
          "example": "102"
        }
      }
    },
    "UsersList": {
      "title": "User List",
      "type": "object",
      "description": "List of UserData",
      "properties": {
        "users": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserData"
          }
        }
      }
    },
    "Error": {
      "type": "object",
      "title": "Error",
      "properties": {
        "statusCode": {
          "description": "Error response message status code",
          "type": "integer",
          "example": 422
        },
        "error": {
          "description": "Error message category",
          "type": "string",
          "example": "Unprocessable Entity"
        },
        "message": {
          "description": "Error message",
          "type": "string",
          "example": "Team license limit reached. Contact your company admin for an upgrade"
        },
        "code": {
          "description": "Secure Code Warrior request identifier",
          "type": "string",
          "example": "902"
        }
      }
    },
    "LearningProgressSearch": {
      "description": "Learning progress search filters",
      "type": "object",
      "properties": {
        "users": {
          "description": "Users to include in learning progress (one or more user emails, separated by comma)",
          "type": "string",
          "example": "dev1@securecodewarrior.com, dev2@securecodewarrior.com"
        },
        "team_names": {
          "description": "Team names (one or more team names, separated by comma)",
          "type": "string",
          "example": "Company 1 Team 1, Company 1 Team 2"
        },
        "tags": {
          "description": "User tags (one or more user tags, separated by comma)",
          "type": "string",
          "example": "tag-11, tag-12"
        },
        "page": {
          "description": "The page number of results",
          "type": "integer",
          "example": 1
        }
      }
    },
    "TopPerformers": {
      "description": "List of top performers",
      "type": "object",
      "properties": {
        "report_period_in_days": {
          "description": "The number of days in the past to report on",
          "type": "integer",
          "example": 7
        },
        "top_performers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TopPerformer"
          }
        },
        "links": {
          "description": "Related API pages and pagination details",
          "type": "object",
          "title": "Links",
          "properties": {
            "total_pages": {
              "type": "integer",
              "description": "The total number of pages in the results",
              "example": 10
            },
            "results_per_page": {
              "type": "integer",
              "description": "The maximum number of results in each page",
              "example": 100
            },
            "next_page": {
              "type": "integer",
              "description": "The page number of the next page (if one exists)",
              "example": 3
            },
            "prev_page": {
              "type": "integer",
              "description": "The page number of the previous page (if one exists)",
              "example": 1
            },
            "total_results": {
              "type": "integer",
              "description": "The total number of the results",
              "example": 513
            }
          }
        }
      }
    },
    "TopPerformer": {
      "description": "Top performing user",
      "type": "object",
      "properties": {
        "points": {
          "description": "Total points earned within a period of time",
          "type": "integer",
          "example": 90000
        },
        "id": {
          "description": "User Id in UUID format",
          "type": "string",
          "example": "c0f1d2b3-ae71-440a-82fc-95d5fec4d91e"
        },
        "email": {
          "description": "User email",
          "type": "string",
          "example": "user@securecodewarrior.com"
        },
        "name": {
          "description": "Users name",
          "type": "object",
          "properties": {
            "first": {
              "description": "User first name",
              "type": "string",
              "example": "Secure"
            },
            "middle": {
              "description": "User middle name",
              "type": "string",
              "example": "Code"
            },
            "last": {
              "description": "User last name",
              "type": "string",
              "example": "Warrior"
            }
          }
        },
        "tags": {
          "description": "User tags",
          "type": "array",
          "items": {
            "type": "string",
            "example": "Syd branch"
          }
        },
        "status": {
          "type": "string",
          "description": "User status",
          "enum": [
            "enabled",
            "disabled",
            "invited",
            "registered"
          ],
          "example": "enabled"
        },
        "team": {
          "$ref": "#/definitions/TeamData"
        }
      }
    },
    "UsersTimeSpent": {
      "description": "Entry showing users activity.",
      "type": "object",
      "properties": {
        "id": {
          "description": "User Id in UUID format",
          "type": "string",
          "example": "c0f1d2b3-ae71-440a-82fc-95d5fec4d91e"
        },
        "email": {
          "description": "User email",
          "type": "string",
          "example": "user@securecodewarrior.com"
        },
        "name": {
          "description": "Users name",
          "type": "object",
          "properties": {
            "first": {
              "description": "User first name",
              "type": "string",
              "example": "Secure"
            },
            "middle": {
              "description": "User middle name",
              "type": "string",
              "example": "Code"
            },
            "last": {
              "description": "User last name",
              "type": "string",
              "example": "Warrior"
            }
          }
        },
        "tags": {
          "description": "User tags",
          "type": "array",
          "items": {
            "type": "string",
            "example": "Syd branch"
          }
        },
        "status": {
          "type": "string",
          "description": "User status",
          "enum": [
            "enabled",
            "disabled",
            "invited",
            "registered"
          ],
          "example": "enabled"
        },
        "team": {
          "$ref": "#/definitions/TeamData"
        },
        "time-spent": {
          "description": "Array of dates with the breakdown of time-spent/activity in a day",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "date": {
                "description": "Date in UTC",
                "type": "string",
                "format": "date",
                "example": "2020-01-01"
              },
              "activity": {
                "type": "object",
                "description": "Breakdown of time-spent per activity",
                "properties": {
                  "Assessments": {
                    "description": "Time-spent on Assessments",
                    "type": "integer",
                    "example": 30
                  },
                  "Learning": {
                    "description": "Time-spent on Learning",
                    "type": "integer",
                    "example": 60
                  },
                  "Tournaments": {
                    "description": "Time-spent on Tournaments",
                    "type": "integer",
                    "example": 129
                  },
                  "Training": {
                    "description": "Time-spent on Training",
                    "type": "integer",
                    "example": 300
                  }
                }
              }
            }
          }
        }
      }
    },
    "StrengthsAndWeaknesses": {
      "description": "Average strengths and weaknesses object",
      "required": [
        "auth",
        "data_handling",
        "misconfig",
        "practices",
        "sensitive_data",
        "other"
      ],
      "type": "object",
      "properties": {
        "auth": {
          "$ref": "#/definitions/AverageStrengthsAndWeaknessesEntry"
        },
        "data_handling": {
          "$ref": "#/definitions/AverageStrengthsAndWeaknessesEntry"
        },
        "misconfig": {
          "$ref": "#/definitions/AverageStrengthsAndWeaknessesEntry"
        },
        "practices": {
          "$ref": "#/definitions/AverageStrengthsAndWeaknessesEntry"
        },
        "sensitive_data": {
          "$ref": "#/definitions/AverageStrengthsAndWeaknessesEntry"
        },
        "other": {
          "$ref": "#/definitions/AverageStrengthsAndWeaknessesEntry"
        }
      }
    },
    "AverageStrengthsAndWeaknessesEntry": {
      "description": "This object represents each individual management category",
      "required": [
        "challenges",
        "hints",
        "points",
        "timeSpent"
      ],
      "type": "object",
      "properties": {
        "challenges": {
          "$ref": "#/definitions/ChallengesEntry"
        },
        "hints": {
          "$ref": "#/definitions/HintsEntry"
        },
        "points": {
          "description": "Points",
          "type": "integer",
          "example": 65686
        },
        "timeSpent": {
          "description": "Time spent",
          "type": "integer",
          "example": 99442723
        }
      }
    },
    "ChallengesEntry": {
      "description": "Challenges Data",
      "required": [
        "attempted",
        "correct",
        "incorrect",
        "percentageCorrect",
        "ratioCorrect"
      ],
      "type": "object",
      "properties": {
        "attempted": {
          "description": "Attempted challenges",
          "type": "integer",
          "example": 727
        },
        "correct": {
          "description": "Correct of attempted",
          "type": "integer",
          "example": 276
        },
        "incorrect": {
          "description": "Incorrect of attempted",
          "type": "integer",
          "example": 451
        },
        "percentageCorrect": {
          "description": "Percentage correct",
          "type": "integer",
          "example": 38
        },
        "ratioCorrect": {
          "description": "Ratio correct",
          "type": "number",
          "example": 0.3796423658872077
        }
      }
    },
    "HintsEntry": {
      "description": "Hints Data",
      "required": [
        "confidenceLevel",
        "total",
        "used"
      ],
      "type": "object",
      "properties": {
        "confidenceLevel": {
          "description": "Confidence Level",
          "type": "integer",
          "example": 94
        },
        "total": {
          "description": "Total",
          "type": "integer",
          "example": 4030
        },
        "used": {
          "description": "Used",
          "type": "integer",
          "example": 260
        }
      }
    },
    "TeamDetails": {
      "description": "Team Details",
      "required": [
        "id",
        "name",
        "onboardingMessage",
        "status",
        "memberJoinToken",
        "companyName",
        "languages"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "Team Id",
          "type": "string",
          "example": "123fdab9ea7834e11e84a5bb"
        },
        "name": {
          "description": "Name of the team",
          "type": "string",
          "example": "Demo Team"
        },
        "tags": {
          "description": "Any identifying information about the team. Example: Head Quarters, Asia-Pacific, Engineering",
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": [
            "Engineering team"
          ]
        },
        "onboardingMessage": {
          "description": "On boarding message for the team",
          "type": "string",
          "example": "Sample on boarding message"
        },
        "status": {
          "description": "Team status",
          "type": "string",
          "example": "enabled"
        },
        "memberJoinToken": {
          "description": "Member Join Token",
          "type": "string",
          "example": "544219613"
        },
        "companyName": {
          "description": "Name of the company",
          "type": "string",
          "example": "Demo Company"
        },
        "languages": {
          "description": "Team languages",
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": [
            "Java Spring",
            "Java Enterprise Edition (JSP)",
            "JavaScript Node.js (Express)"
          ]
        }
      }
    },
    "TeamDeleteResponse": {
      "description": "Team Delete Response",
      "required": [
        "deleteStatus"
      ],
      "type": "object",
      "properties": {
        "deleteStatus": {
          "description": "Status of delete operation",
          "type": "string",
          "example": "success"
        }
      }
    },
    "LicensingEntry": {
      "description": "Licensing Entry",
      "type": "object",
      "properties": {
        "type": {
          "description": "License type",
          "type": "string",
          "enum": [
            "usage",
            "unlimited",
            "disabled"
          ],
          "example": "usage"
        },
        "granted": {
          "description": "Licenses granted (valid only if license type set to usage)",
          "type": "integer",
          "example": 50
        }
      }
    },
    "TeamLicensing": {
      "description": "Team licensing properties",
      "type": "object",
      "properties": {
        "training": {
          "$ref": "#/definitions/LicensingEntry"
        },
        "assessments": {
          "$ref": "#/definitions/LicensingEntry"
        },
        "tournaments": {
          "$ref": "#/definitions/LicensingEntry"
        }
      }
    },
    "TeamCreate": {
      "description": "Team create properties",
      "type": "object",
      "properties": {
        "name": {
          "description": "Team Name",
          "type": "string",
          "example": "New Sample Team"
        },
        "tags": {
          "description": "Any identifying information about the team. Example: Head Quarters, Asia-Pacific, Engineering",
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": [
            "Engineering team"
          ]
        },
        "activeFrom": {
          "description": "Team Active From. Format: YYYY-MM-DDTHH:mm:ss.SSSZ",
          "type": "string",
          "example": "2017-01-01T00:00:00.000Z"
        },
        "activeUntil": {
          "description": "Team Active Until. Format: YYYY-MM-DDTHH:mm:ss.SSSZ",
          "type": "string",
          "example": "2019-01-01T00:00:00.000Z"
        },
        "languages": {
          "description": "Team languages list, _id and _framework separated by double colons (::) and separated by commas (,)",
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": [
            "java::spring",
            "java::ee",
            "nodejs::express"
          ]
        },
        "onboardingmessage": {
          "description": "Team On Boarding Message",
          "type": "string",
          "example": "Sample on boarding message"
        },
        "licensing": {
          "$ref": "#/definitions/TeamLicensing"
        }
      }
    },
    "TeamUpdate": {
      "description": "Team update properties",
      "type": "object",
      "properties": {
        "name": {
          "description": "Team Name",
          "type": "string",
          "example": "New Updated Team"
        },
        "tags": {
          "description": "Any identifying information about the team. Example: Head Quarters, Asia-Pacific, Engineering",
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": [
            "Engineering team"
          ]
        },
        "status": {
          "description": "Team Status",
          "type": "string",
          "example": "enabled"
        },
        "onboardingmessage": {
          "description": "Team On Boarding Message",
          "type": "string",
          "example": "Sample on boarding message"
        },
        "languages": {
          "description": "Team languages list, _id and _framework separated by double colons (::) and separated by commas (,)",
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": [
            "java::spring",
            "java::ee",
            "nodejs::express"
          ]
        }
      }
    },
    "Course": {
      "type": "object",
      "title": "Course",
      "required": [
        "_id",
        "name",
        "description",
        "status",
        "supported_languages",
        "deadline",
        "created_by"
      ],
      "properties": {
        "_id": {
          "description": "The course ID",
          "type": "string",
          "example": "3027c99f-35d0-5806-b13d-a6b77b07ae9d"
        },
        "name": {
          "description": "The name of the course",
          "type": "string",
          "example": "Sample Course"
        },
        "description": {
          "description": "The course description",
          "type": "string",
          "example": "Sample Course Description"
        },
        "status": {
          "description": "The status of the course",
          "type": "string",
          "example": "published",
          "enum": [
            "archived",
            "draft",
            "published",
            "unpublished",
            "expired"
          ]
        },
        "supported_languages": {
          "description": "List of languages/frameworks available for the course",
          "type": "array",
          "items": {
            "type": "string",
            "example": [
              "Java Spring",
              "Ruby Rails"
            ]
          }
        },
        "deadline": {
          "description": "The date the course ends",
          "type": "string",
          "format": "date-time",
          "example": "2020-02-17T04:57:47.715Z"
        },
        "created_by": {
          "description": "The ResourceId of the author of the course",
[...]
