{
  "swagger": "2.0",
  "info": {
    "title": "Neum",
    "description": "With Neum AI, your context in prompts is always accurate and up to date. It enables you to create a pipeline that keeps your data synced between a source (ex. Document DB) and a sink (ex. Pinecone).",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.neum.ai",
  "basePath": "/v1/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/pipelines": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "source": {
                  "type": "object",
                  "properties": {
                    "source_name": {
                      "type": "string",
                      "description": "The source name.",
                      "title": "Name"
                    }
                  },
                  "title": "Source"
                },
                "sink": {
                  "type": "object",
                  "properties": {
                    "sink_name": {
                      "type": "string",
                      "description": "The sink name.",
                      "title": "Name"
                    }
                  },
                  "title": "Sink"
                },
                "embed": {
                  "type": "object",
                  "properties": {
                    "embed_name": {
                      "type": "string",
                      "description": "The embed name.",
                      "title": "Name"
                    }
                  },
                  "title": "Embed"
                },
                "created": {
                  "type": "number",
                  "format": "float",
                  "description": "When created.",
                  "title": "Created"
                },
                "trigger_schedule": {
                  "type": "object",
                  "properties": {
                    "start_date": {
                      "type": "string",
                      "description": "The start date.",
                      "title": "Start Date"
                    },
                    "cadence": {
                      "type": "string",
                      "description": "The cadence.",
                      "title": "Cadence"
                    }
                  },
                  "title": "Trigger Schedule"
                }
              }
            }
          }
        },
        "summary": "Create a pipeline",
        "description": "Creates a pipeline with an optional scheduled trigger.",
        "operationId": "PipelinePost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "source": {
                  "type": "object",
                  "properties": {
                    "source_name": {
                      "type": "string",
                      "description": "The source name.",
                      "title": "Source"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "connection_string": {
                          "type": "string",
                          "description": "The connection string.",
                          "title": "Connection String"
                        },
                        "container_name": {
                          "type": "string",
                          "description": "The container name.",
                          "title": "Container"
                        }
                      },
                      "title": "Metadata",
                      "required": [
                        "connection_string",
                        "container_name"
                      ]
                    }
                  },
                  "title": "Source",
                  "required": [
                    "source_name"
                  ]
                },
                "embed": {
                  "type": "object",
                  "properties": {
                    "embed_name": {
                      "type": "string",
                      "description": "The embed name.",
                      "title": "Name"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "api_key": {
                          "type": "string",
                          "description": "The API key.",
                          "title": "API Key"
                        },
                        "organization": {
                          "type": "string",
                          "description": "The organization.",
                          "title": "Organization"
                        }
                      },
                      "title": "Metadata",
                      "required": [
                        "api_key",
                        "organization"
                      ]
                    }
                  },
                  "title": "Embed",
                  "required": [
                    "embed_name"
                  ]
                },
                "sink": {
                  "type": "object",
                  "properties": {
                    "sink_name": {
                      "type": "string",
                      "description": "The sink name.",
                      "title": "Sink Name"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "api_key": {
                          "type": "string",
                          "description": "The API key.",
                          "title": "API Key"
                        },
                        "environment": {
                          "type": "string",
                          "description": "The environment.",
                          "title": "Environment"
                        },
                        "index": {
                          "type": "string",
                          "description": "The index.",
                          "title": "Index"
                        },
                        "namespace": {
                          "type": "string",
                          "description": "The namespace.",
                          "title": "Namespace"
                        }
                      },
                      "title": "Metadata",
                      "required": [
                        "api_key",
                        "environment",
                        "index",
                        "namespace"
                      ]
                    }
                  },
                  "title": "Sink",
                  "required": [
                    "sink_name"
                  ]
                },
                "trigger_schedule": {
                  "type": "object",
                  "properties": {
                    "start_date": {
                      "type": "string",
                      "description": "The start date.",
                      "title": "Start Date"
                    },
                    "cadence": {
                      "type": "string",
                      "description": "The cadence.",
                      "title": "Cadence"
                    }
                  },
                  "title": "Trigger Schedule"
                }
              }
            }
          }
        ]
      }
    },
    "/pipelines/{pipeline_id}/search": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The results.",
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Test pipeline",
        "description": "To test your new pipeline, Neum AI provides capabilities to quickly query the vector store that data is being pushed into. You can observe general information like the number of vectors in it as well as do quick queries using a provided text.",
        "operationId": "PipelineTestPost",
        "parameters": [
          {
            "name": "pipeline_id",
            "in": "path",
            "x-ms-summary": "Pipeline ID",
            "x-ms-url-encoding": "single",
            "description": "The pipeline identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "description": "The query.",
                  "title": "Query"
                },
                "number_of_results": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of results.",
                  "title": "Number Of Results"
                }
              },
              "required": [
                "number_of_results",
                "query"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "neum-api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.neum.ai/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.neum.ai/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI"
    }
  ]
}