{
  "swagger": "2.0",
  "info": {
    "version": "1.3",
    "title": "HubSpot CRM V2",
    "description": "With the easy-to-use HubSpot CRM, you'll never have to manually update reports or wonder how your team is tracking toward quotas. Get a real-time view of your entire sales pipeline on a visual dashboard. HubSpot CRM will automatically organize, enrich, and track each contact in a tidy timeline.",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    },
    "x-ms-keywords": [
      "HubSpot",
      "CRM",
      "customer relationship management",
      "contact",
      "company",
      "deal",
      "fee",
      "goal",
      "target",
      "product",
      "discount",
      "quote",
      "tax",
      "ticket",
      "association"
    ]
  },
  "host": "api.hubapi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/crm/v3/objects/companies/batch/read": {
      "post": {
        "summary": "Get companies by ID",
        "description": "Retrieve a batch of companies by internal identifier, or unique property values.",
        "operationId": "ReadABatchOfCompaniesByInternalIdOrUniquePropertyValues",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "description": "Whether to return only results that have been archived.",
            "type": "boolean",
            "required": false
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "inputs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      }
                    }
                  },
                  "title": "Inputs"
                },
                "properties": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The properties object.",
                  "title": "Properties"
                },
                "propertiesWithHistory": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The properties with history object.",
                  "title": "Properties With History"
                },
                "idProperty": {
                  "type": "string",
                  "description": "The identifier property.",
                  "title": "ID Property"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "completedAt": {
                  "type": "string",
                  "description": "When completed at.",
                  "title": "Completed At"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "propertiesWithHistory": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties with history object.",
                        "title": "Properties With History"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "Whether archived.",
                        "title": "Archived"
                      },
                      "archivedAt": {
                        "type": "string",
                        "description": "When archived at.",
                        "title": "Archived At"
                      }
                    }
                  },
                  "title": "Results"
                },
                "startedAt": {
                  "type": "string",
                  "description": "When started at.",
                  "title": "Started At"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "requestedAt": {
                  "type": "string",
                  "description": "When requested at.",
                  "title": "Requested At"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          },
          "207": {
            "description": "207",
            "schema": {
              "type": "object",
              "properties": {
                "completedAt": {
                  "type": "string",
                  "description": "When completed at.",
                  "title": "Completed At"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "propertiesWithHistory": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties with history object.",
                        "title": "Properties With History"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "Whether archived.",
                        "title": "Archived"
                      },
                      "archivedAt": {
                        "type": "string",
                        "description": "When archived at.",
                        "title": "Archived At"
                      }
                    }
                  },
                  "title": "Results"
                },
                "startedAt": {
                  "type": "string",
                  "description": "When started at.",
                  "title": "Started At"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "numErrors": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of errors.",
                  "title": "Errors"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "category": {
                        "type": "string",
                        "description": "The category.",
                        "title": "Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      },
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "description": "The message.",
                              "title": "Message"
                            },
                            "in": {
                              "type": "string",
                              "description": "The in.",
                              "title": "In"
                            },
                            "code": {
                              "type": "string",
                              "description": "The code.",
                              "title": "Code"
                            },
                            "subCategory": {
                              "type": "string",
                              "description": "The sub category.",
                              "title": "Sub Category"
                            },
                            "context": {
                              "type": "object",
                              "properties": {},
                              "description": "The context object.",
                              "title": "Context"
                            }
                          }
                        },
                        "title": "Errors"
                      },
                      "links": {
                        "type": "object",
                        "properties": {},
                        "description": "The links object.",
                        "title": "Links"
                      },
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "subCategory": {
                        "type": "object",
                        "properties": {},
                        "description": "The sub category object.",
                        "title": "Sub Category"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "requestedAt": {
                  "type": "string",
                  "description": "When requested at.",
                  "title": "Requested At"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "ReadABatchOfCompaniesByInternalIdOrUniquePropertyValues",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/crm/v3/objects/companies/batch/create": {
      "post": {
        "summary": "Create a batch of companies",
        "description": "Create a batch of companies.",
        "operationId": "CreateABatchOfCompanies",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "inputs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "associations": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "to": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "The identifier.",
                                  "title": "ID"
                                }
                              },
                              "title": "To"
                            },
                            "types": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "associationCategory": {
                                    "type": "string",
                                    "description": "The association category.",
                                    "title": "Association Category"
                                  },
                                  "associationTypeId": {
                                    "type": "string",
                                    "description": "The association type identifier.",
                                    "title": "Association Type ID"
                                  }
                                }
                              },
                              "title": "Types"
                            }
                          }
                        },
                        "title": "Associations"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      }
                    }
                  },
                  "title": "Inputs"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "type": "object",
              "properties": {
                "completedAt": {
                  "type": "string",
                  "description": "When completed at.",
                  "title": "Completed At"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "propertiesWithHistory": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties with history object.",
                        "title": "Properties With History"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "Whether archived.",
                        "title": "Archived"
                      },
                      "archivedAt": {
                        "type": "string",
                        "description": "When archived at.",
                        "title": "Archived At"
                      }
                    }
                  },
                  "title": "Results"
                },
                "startedAt": {
                  "type": "string",
                  "description": "When started at.",
                  "title": "Started At"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "requestedAt": {
                  "type": "string",
                  "description": "When requested at.",
                  "title": "Requested At"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          },
          "207": {
            "description": "207",
            "schema": {
              "type": "object",
              "properties": {
                "completedAt": {
                  "type": "string",
                  "description": "When completed at.",
                  "title": "Completed At"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "propertiesWithHistory": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties with history object.",
                        "title": "Properties With History"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "Whether archived.",
                        "title": "Archived"
                      },
                      "archivedAt": {
                        "type": "string",
                        "description": "When archived at.",
                        "title": "Archived At"
                      }
                    }
                  },
                  "title": "Results"
                },
                "startedAt": {
                  "type": "string",
                  "description": "When started at.",
                  "title": "Started At"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "numErrors": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of errors.",
                  "title": "Errors"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "category": {
                        "type": "string",
                        "description": "The category.",
                        "title": "Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      },
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "description": "The message.",
                              "title": "Message"
                            },
                            "in": {
                              "type": "string",
                              "description": "The in.",
                              "title": "In"
                            },
                            "code": {
                              "type": "string",
                              "description": "The code.",
                              "title": "Code"
                            },
                            "subCategory": {
                              "type": "string",
                              "description": "The sub category.",
                              "title": "Sub Category"
                            },
                            "context": {
                              "type": "object",
                              "properties": {},
                              "description": "The context object.",
                              "title": "Context"
                            }
                          }
                        },
                        "title": "Errors"
                      },
                      "links": {
                        "type": "object",
                        "properties": {},
                        "description": "The links object.",
                        "title": "Links"
                      },
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "subCategory": {
                        "type": "object",
                        "properties": {},
                        "description": "The sub category object.",
                        "title": "Sub Category"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "requestedAt": {
                  "type": "string",
                  "description": "When requested at.",
                  "title": "Requested At"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        }
      }
    },
    "/crm/v3/objects/companies/batch/update": {
      "post": {
        "summary": "Update a batch of companies",
        "description": "Update a batch of companies.",
        "operationId": "UpdateABatchOfCompanies",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "inputs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      }
                    }
                  },
                  "title": "Inputs"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "completedAt": {
                  "type": "string",
                  "description": "When completed at.",
                  "title": "Completed At"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "propertiesWithHistory": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties with history object.",
                        "title": "Properties With History"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "Whether archived.",
                        "title": "Archived"
                      },
                      "archivedAt": {
                        "type": "string",
                        "description": "When archived at.",
                        "title": "Archived At"
                      }
                    }
                  },
                  "title": "Results"
                },
                "startedAt": {
                  "type": "string",
                  "description": "When started at.",
                  "title": "Started At"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "requestedAt": {
                  "type": "string",
                  "description": "When requested at.",
                  "title": "Requested At"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          },
          "207": {
            "description": "207",
            "schema": {
              "type": "object",
              "properties": {
                "completedAt": {
                  "type": "string",
                  "description": "When completed at.",
                  "title": "Completed At"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "propertiesWithHistory": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties with history object.",
                        "title": "Properties With History"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "Whether archived.",
                        "title": "Archived"
                      },
                      "archivedAt": {
                        "type": "string",
                        "description": "When archived at.",
                        "title": "Archived At"
                      }
                    }
                  },
                  "title": "Results"
                },
                "startedAt": {
                  "type": "string",
                  "description": "When started at.",
                  "title": "Started At"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "numErrors": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of errors.",
                  "title": "Errors"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "category": {
                        "type": "string",
                        "description": "The category.",
                        "title": "Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      },
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "description": "The message.",
                              "title": "Message"
                            },
                            "in": {
                              "type": "string",
                              "description": "The in.",
                              "title": "In"
                            },
                            "code": {
                              "type": "string",
                              "description": "The code.",
                              "title": "Code"
                            },
                            "subCategory": {
                              "type": "string",
                              "description": "The sub category.",
                              "title": "Sub Category"
                            },
                            "context": {
                              "type": "object",
                              "properties": {},
                              "description": "The context object.",
                              "title": "Context"
                            }
                          }
                        },
                        "title": "Errors"
                      },
                      "links": {
                        "type": "object",
                        "properties": {},
                        "description": "The links object.",
                        "title": "Links"
                      },
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "subCategory": {
                        "type": "object",
                        "properties": {},
                        "description": "The sub category object.",
                        "title": "Sub Category"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "requestedAt": {
                  "type": "string",
                  "description": "When requested at.",
                  "title": "Requested At"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        }
      }
    },
    "/crm/v3/objects/companies/batch/archive": {
      "post": {
        "summary": "Archive a batch of companies by ID",
        "description": "Archive a batch of companies by identifier.",
        "operationId": "ArchiveABatchOfCompaniesById",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "inputs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      }
                    }
                  },
                  "title": "Inputs"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/crm/v3/objects/companies": {
      "get": {
        "summary": "Get companies",
        "description": "Retrieve a page of companies. Control what is returned via the properties query parameter.",
        "operationId": "List",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "type": "string",
            "required": false
          },
          {
            "name": "after",
            "in": "query",
            "x-ms-summary": "After",
            "description": "The after page.",
            "type": "string",
            "required": false
          },
          {
            "name": "properties",
            "in": "query",
            "x-ms-summary": "Properties",
            "description": "The properties.",
            "type": "string",
            "required": false
          },
          {
            "name": "propertiesWithHistory",
            "in": "query",
            "x-ms-summary": "Properties with History",
            "description": "The properties with history.",
            "type": "string",
            "required": false
          },
          {
            "name": "associations",
            "in": "query",
            "x-ms-summary": "Associations",
            "description": "The associations.",
            "type": "string",
            "required": false
          },
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "description": "Whether to return only results that have been archived.",
            "type": "boolean",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "propertiesWithHistory": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties with history object.",
                        "title": "Properties With History"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "Whether archived.",
                        "title": "Archived"
                      },
                      "archivedAt": {
                        "type": "string",
                        "description": "When archived at.",
                        "title": "Archived At"
                      },
                      "associations": {
                        "type": "object",
                        "properties": {},
                        "description": "The associations object.",
                        "title": "Associations"
                      }
                    }
                  },
                  "title": "Results"
                },
                "paging": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "object",
                      "properties": {
                        "after": {
                          "type": "string",
                          "description": "The after page.",
                          "title": "After"
                        },
                        "link": {
                          "type": "string",
                          "description": "The link.",
                          "title": "Link"
                        }
                      },
                      "title": "Next"
                    }
                  },
                  "title": "Paging"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "List",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "post": {
        "summary": "Create a company",
        "description": "Create a company with the given properties and return a copy of the object, including the identifier.",
        "operationId": "Create",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "associations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "to": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          }
                        },
                        "title": "To"
                      },
                      "types": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "associationCategory": {
                              "type": "string",
                              "description": "The association category.",
                              "title": "Association Category"
                            },
                            "associationTypeId": {
                              "type": "string",
                              "description": "The association type identifier.",
                              "title": "Association Type ID"
                            }
                          }
                        },
                        "title": "Types"
                      }
                    }
                  },
                  "title": "Associations"
                },
                "properties": {
                  "type": "object",
                  "properties": {},
                  "description": "The properties object.",
                  "title": "Properties"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "type": "object",
              "properties": {
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "properties": {
                  "type": "object",
                  "properties": {},
                  "description": "The properties object.",
                  "title": "Properties"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                },
                "propertiesWithHistory": {
                  "type": "object",
                  "properties": {},
                  "description": "The properties with history object.",
                  "title": "Properties With History"
                },
                "archived": {
                  "type": "boolean",
                  "description": "Whether archived.",
                  "title": "Archived"
                },
                "archivedAt": {
                  "type": "string",
                  "description": "When archived at.",
                  "title": "Archived At"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "Create",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/crm/v3/objects/companies/{companyId}": {
      "get": {
        "summary": "Get a company by ID",
        "description": "Retrieve an object identified by companyidentifier. companyId refers to the internal object identifier by default, or optionally any unique property value as specified by the idProperty query parameter.  Control what is returned via the properties query parameter.",
        "operationId": "Read",
        "parameters": [
          {
            "name": "properties",
            "in": "query",
            "x-ms-summary": "Properties",
            "description": "The properties.",
            "type": "string",
            "required": false
          },
          {
            "name": "propertiesWithHistory",
            "in": "query",
            "x-ms-summary": "Properties with History",
            "description": "The properties with history.",
            "type": "string",
            "required": false
          },
          {
            "name": "associations",
            "in": "query",
            "x-ms-summary": "Associations",
            "description": "The associations.",
            "type": "string",
            "required": false
          },
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "description": "Whether to return only results that have been archived.",
            "type": "boolean",
            "required": false
          },
          {
            "name": "idProperty",
            "in": "query",
            "x-ms-summary": "ID Property",
            "description": "The identifier property.",
            "type": "string",
            "required": false
          },
          {
            "name": "companyId",
            "in": "path",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "description": "The company identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "properties": {
                  "type": "object",
                  "properties": {},
                  "description": "The properties object.",
                  "title": "Properties"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                },
                "propertiesWithHistory": {
                  "type": "object",
                  "properties": {},
                  "description": "The properties with history object.",
                  "title": "Properties With History"
                },
                "archived": {
                  "type": "boolean",
                  "description": "Whether archived.",
                  "title": "Archived"
                },
                "archivedAt": {
                  "type": "string",
                  "description": "When archived at.",
                  "title": "Archived At"
                },
                "associations": {
                  "type": "object",
                  "properties": {},
                  "description": "The associations.",
                  "title": "Associations"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "Read",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "delete": {
        "summary": "Archive a company by ID",
        "description": "Move an object identified by companyId to the recycling bin.",
        "operationId": "Archive",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "description": "The company identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "patch": {
        "summary": "Update a company by ID",
        "description": "Perform a partial update of an object identified by companyidentifier. companyId refers to the internal object identifier by default, or optionally any unique property value as specified by the idProperty query parameter. Provided property values will be overwritten. Read-only and non-existent properties will be ignored. Properties values can be cleared by passing an empty string.",
        "operationId": "Update",
        "parameters": [
          {
            "name": "idProperty",
            "in": "query",
            "x-ms-summary": "ID Property",
            "description": "The identifier property.",
            "type": "string",
            "required": false
          },
          {
            "name": "companyId",
            "in": "path",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "description": "The company identifier.",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "properties": {
                  "type": "object",
                  "properties": {},
                  "description": "The properties object.",
                  "title": "Properties"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "properties": {
                  "type": "object",
                  "properties": {},
                  "description": "The properties object.",
                  "title": "Properties"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                },
                "propertiesWithHistory": {
                  "type": "object",
                  "properties": {},
                  "description": "The properties with history object.",
                  "title": "Properties With History"
                },
                "archived": {
                  "type": "boolean",
                  "description": "Whether archived.",
                  "title": "Archived"
                },
                "archivedAt": {
                  "type": "string",
                  "description": "When archived at.",
                  "title": "Archived At"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "Update",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/crm/v3/objects/companies/merge": {
      "post": {
        "summary": "Merge two companies",
        "description": "Merge two companies with same type.",
        "operationId": "MergeTwoCompaniesWithSameType",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "objectIdToMerge": {
                  "type": "string",
                  "description": "The object identifier to merge.",
                  "title": "Object identifier To Merge"
                },
                "primaryObjectId": {
                  "type": "string",
                  "description": "The primary object identifier.",
                  "title": "Primary object ID"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "properties": {
                  "type": "object",
                  "properties": {},
                  "description": "The properties object.",
                  "title": "Properties"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                },
                "propertiesWithHistory": {
                  "type": "object",
                  "properties": {},
                  "description": "The properties with history object.",
                  "title": "Properties With History"
                },
                "archived": {
                  "type": "boolean",
                  "description": "Whether archived.",
                  "title": "Archived"
                },
                "archivedAt": {
                  "type": "string",
                  "description": "When archived at.",
                  "title": "Archived At"
                }
              }
            }
          }
        }
      }
    },
    "/crm/v3/objects/companies/gdpr-delete": {
      "post": {
        "summary": "Delete a company to follow GDPR",
        "description": "Permanently delete a company and all associated content to follow GDPR. Use optional property 'ID Property' set to 'email' to identify contact by email address. If email address is not found, the email address will be added to a blocklist and prevent it from being used in the future.",
        "operationId": "GdprDelete",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "objectId": {
                  "type": "string",
                  "description": "The object identifier.",
                  "title": "Object ID"
                },
                "idProperty": {
                  "type": "string",
                  "description": "The identifier property.",
                  "title": "ID Property"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/crm/v3/objects/companies/search": {
      "post": {
        "summary": "Search companies",
        "description": "Retrieve a list of companies.",
        "operationId": "Post-_crm_v3_objects_companies_search",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "after": {
                  "type": "string",
                  "description": "The after page.",
                  "title": "After"
                },
                "filterGroups": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "filters": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "operator": {
                              "type": "string",
                              "description": "The operator.",
                              "title": "Operator"
                            },
                            "propertyName": {
                              "type": "string",
                              "description": "The property name.",
                              "title": "Property Name"
                            },
                            "value": {
                              "type": "string",
                              "description": "The value.",
                              "title": "Value"
                            },
                            "highValue": {
                              "type": "string",
                              "description": "The high value.",
                              "title": "High Value"
                            },
                            "values": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "The values.",
                              "title": "Values"
                            }
                          }
                        },
                        "title": "Filters"
                      }
                    }
                  },
                  "title": "Filter Groups"
                },
                "limit": {
                  "type": "string",
                  "description": "The limit.",
                  "title": "Limit"
                },
                "properties": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The properties object.",
                  "title": "Properties"
                },
                "sorts": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The sorts.",
                  "title": "Sorts"
                },
                "query": {
                  "type": "string",
                  "description": "The query.",
                  "title": "Query"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "propertiesWithHistory": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties with history object.",
                        "title": "Properties With History"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "Whether archived.",
                        "title": "Archived"
                      },
                      "archivedAt": {
                        "type": "string",
                        "description": "When archived at.",
                        "title": "Archived At"
                      }
                    }
                  },
                  "title": "Results"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                },
                "paging": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "object",
                      "properties": {
                        "after": {
                          "type": "string",
                          "description": "The after page.",
                          "title": "After"
                        },
                        "link": {
                          "type": "string",
                          "description": "The link.",
                          "title": "Link"
                        }
                      },
                      "title": "Next"
                    }
                  },
                  "title": "Paging"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "Post-_crm_v3_objects_companies_search",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/crm/v3/objects/contacts/batch/archive": {
      "post": {
        "summary": "Archive a batch of contacts by ID",
        "description": "Archive a batch of contacts by identifier.",
        "operationId": "ArchiveABatchOfContactsById",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "inputs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      }
                    }
                  },
                  "title": "Inputs"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/crm/v3/objects/contacts/batch/update": {
      "post": {
        "summary": "Update a batch of contacts",
        "description": "Update a batch of contacts.",
        "operationId": "UpdateABatchOfContacts",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "inputs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      }
                    }
                  },
                  "title": "Inputs"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "completedAt": {
                  "type": "string",
                  "description": "When completed at.",
                  "title": "Completed At"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "propertiesWithHistory": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties with history object.",
                        "title": "Properties With History"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "Whether archived.",
                        "title": "Archived"
                      },
                      "archivedAt": {
                        "type": "string",
                        "description": "When archived at.",
                        "title": "Archived At"
                      }
                    }
                  },
                  "title": "Results"
                },
                "startedAt": {
                  "type": "string",
                  "description": "When started at.",
                  "title": "Started At"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "requestedAt": {
                  "type": "string",
                  "description": "When requested at.",
                  "title": "Requested At"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          },
          "207": {
            "description": "207",
            "schema": {
              "type": "object",
              "properties": {
                "completedAt": {
                  "type": "string",
                  "description": "When completed at.",
                  "title": "Completed At"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "propertiesWithHistory": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties with history object.",
                        "title": "Properties With History"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "Whether archived.",
                        "title": "Archived"
                      },
                      "archivedAt": {
                        "type": "string",
                        "description": "When archived at.",
                        "title": "Archived At"
                      }
                    }
                  },
                  "title": "Results"
                },
                "startedAt": {
                  "type": "string",
                  "description": "When started at.",
                  "title": "Started At"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "numErrors": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of errors.",
                  "title": "Errors"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "category": {
                        "type": "string",
                        "description": "The category.",
                        "title": "Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      },
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "description": "The message.",
                              "title": "Message"
                            },
                            "in": {
                              "type": "string",
                              "description": "The in.",
                              "title": "In"
                            },
                            "code": {
                              "type": "string",
                              "description": "The code.",
                              "title": "Code"
                            },
                            "subCategory": {
                              "type": "string",
                              "description": "The sub category.",
                              "title": "Sub Category"
                            },
                            "context": {
                              "type": "object",
                              "properties": {},
                              "description": "The context object.",
                              "title": "Context"
                            }
                          }
                        },
                        "title": "Errors"
                      },
                      "links": {
                        "type": "object",
                        "properties": {},
                        "description": "The links object.",
                        "title": "Links"
                      },
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "subCategory": {
                        "type": "object",
                        "properties": {},
                        "description": "The sub category object.",
                        "title": "Sub Category"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "requestedAt": {
                  "type": "string",
                  "description": "When requested at.",
                  "title": "Requested At"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        }
      }
    },
    "/crm/v3/objects/contacts/batch/create": {
      "post": {
        "summary": "Create a batch of contacts",
        "description": "Create a batch of contacts.",
        "operationId": "CreateABatchOfContacts",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "inputs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "associations": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "to": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "The identifier.",
                                  "title": "ID"
                                }
                              },
                              "title": "To"
                            },
                            "types": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "associationCategory": {
                                    "type": "string",
                                    "description": "The association category.",
                                    "title": "Association Category"
                                  },
                                  "associationTypeId": {
                                    "type": "string",
                                    "description": "The association type identifier.",
                                    "title": "Association Type ID"
                                  }
                                }
                              },
                              "title": "Types"
                            }
                          }
                        },
                        "title": "Associations"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      }
                    }
                  },
                  "title": "Inputs"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "type": "object",
              "properties": {
                "completedAt": {
                  "type": "string",
                  "description": "When completed at.",
                  "title": "Completed At"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "propertiesWithHistory": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties with history object.",
                        "title": "Properties With History"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "Whether archived.",
                        "title": "Archived"
                      },
                      "archivedAt": {
                        "type": "string",
                        "description": "When archived at.",
                        "title": "Archived At"
                      }
                    }
                  },
                  "title": "Results"
                },
                "startedAt": {
                  "type": "string",
                  "description": "When started at.",
                  "title": "Started At"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "requestedAt": {
                  "type": "string",
                  "description": "When requested at.",
                  "title": "Requested At"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          },
          "207": {
            "description": "207",
            "schema": {
              "type": "object",
              "properties": {
                "completedAt": {
                  "type": "string",
                  "description": "When completed at.",
                  "title": "Completed At"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "propertiesWithHistory": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties with history object.",
                        "title": "Properties With History"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "Whether archived.",
                        "title": "Archived"
                      },
                      "archivedAt": {
                        "type": "string",
                        "description": "When archived at.",
                        "title": "Archived At"
                      }
                    }
                  },
                  "title": "Results"
                },
                "startedAt": {
                  "type": "string",
                  "description": "When started at.",
                  "title": "Started At"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "numErrors": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of errors.",
                  "title": "Errors"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "category": {
                        "type": "string",
                        "description": "The category.",
                        "title": "Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      },
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "description": "The message.",
                              "title": "Message"
                            },
                            "in": {
                              "type": "string",
                              "description": "The in.",
                              "title": "In"
                            },
                            "code": {
                              "type": "string",
                              "description": "The code.",
                              "title": "Code"
                            },
                            "subCategory": {
                              "type": "string",
                              "description": "The sub category.",
                              "title": "Sub Category"
                            },
                            "context": {
                              "type": "object",
                              "properties": {},
                              "description": "The context object.",
                              "title": "Context"
                            }
                          }
                        },
                        "title": "Errors"
                      },
                      "links": {
                        "type": "object",
                        "properties": {},
                        "description": "The links object.",
                        "title": "Links"
                      },
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "subCategory": {
                        "type": "object",
                        "properties": {},
                        "description": "The sub category object.",
                        "title": "Sub Category"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "requestedAt": {
                  "type": "string",
                  "description": "When requested at.",
                  "title": "Requested At"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        }
      }
    },
    "/crm/v3/objects/contacts/batch/read": {
      "post": {
        "summary": "Get a batch of contacts by ID",
        "description": "Retrieve a batch of contacts by internal identifier, or unique property values.",
        "operationId": "ReadABatchOfContactsByInternalIdOrUniquePropertyValues",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "description": "Whether to return only results that have been archived.",
            "type": "boolean",
            "required": false
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "inputs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      }
                    }
                  },
                  "title": "Inputs"
                },
                "properties": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The properties object.",
                  "title": "Properties"
                },
                "propertiesWithHistory": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The properties with history object.",
                  "title": "Properties With History"
                },
                "idProperty": {
                  "type": "string",
                  "description": "The identifier property.",
                  "title": "ID Property"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "completedAt": {
                  "type": "string",
                  "description": "When completed at.",
                  "title": "Completed At"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "propertiesWithHistory": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties with history object.",
                        "title": "Properties With History"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "Whether archived.",
                        "title": "Archived"
                      },
                      "archivedAt": {
                        "type": "string",
                        "description": "When archived at.",
                        "title": "Archived At"
                      }
                    }
                  },
                  "title": "Results"
                },
                "startedAt": {
                  "type": "string",
                  "description": "When started at.",
                  "title": "Started At"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "requestedAt": {
                  "type": "string",
                  "description": "When requested at.",
                  "title": "Requested At"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          },
          "207": {
            "description": "207",
            "schema": {
              "type": "object",
              "properties": {
                "completedAt": {
                  "type": "string",
                  "description": "When completed at.",
                  "title": "Completed At"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "propertiesWithHistory": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties with history object.",
                        "title": "Properties With History"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "Whether archived.",
                        "title": "Archived"
                      },
                      "archivedAt": {
                        "type": "string",
                        "description": "When archived at.",
                        "title": "Archived At"
                      }
                    }
                  },
                  "title": "Results"
                },
                "startedAt": {
                  "type": "string",
                  "description": "When started at.",
                  "title": "Started At"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "numErrors": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of errors.",
                  "title": "Errors"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "category": {
                        "type": "string",
                        "description": "The category.",
                        "title": "Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      },
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
[...]
