{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "BulkSMS",
    "description": "SMS enable your workflows and automations with BulkSMS.",
    "contact":{
      "name": "BulkSMS Support",
      "url": "https://www.bulksms.com/support/",
      "email":"support@bulksms.com"
    }
  },
  "host": "api.bulksms.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/messages": {
      "post": {
        "summary": "Send SMS Message",
        "description": "Send an SMS Text message",
        "operationId": "SendSmsMessage",
        "parameters": [
          {
            "name": "auto-unicode",
            "default": true,
            "in": "query",
            "type": "boolean",
            "required": true,
            "description": "Convert the message to Unicode if required",
            "x-ms-summary": "Auto-Unicode",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "string",
                  "description": "from"
                },
                "to": {
                  "type": "string",
                  "description": "to",
                  "title": ""
                },
                "body": {
                  "type": "string",
                  "description": "body",
                  "title": ""
                },
                "userSuppliedId": {
                  "type": "string",
                  "description": "userSuppliedId",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "BLKTM.GWPF.01.00.00"
                },
                "longMessageMaxParts": {
                  "type": "integer",
                  "format": "int32",
                  "description": "longMessageMaxParts",
                  "title": "",
                  "default": 10
                }
              },
              "default": {
                "from": "",
                "to": "",
                "body": "",
                "userSuppliedId": "BLKTM.GWPF.01.00.00",
                "longMessageMaxParts": 10
              },
              "required": [
                "body",
                "longMessageMaxParts",
                "to",
                "userSuppliedId"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        }
      }
    }
  },
  "x-ms-connector-metadata":[
    {
      "propertyName":"Website",
      "propertyValue":"https://www.bulksms.com"  

    },
    {
      "propertyName":"Privacy policy",
      "propertyValue":"https://www.bulksms.com/company/data-protection-and-privacy-policy.htm"  
    },
    {
      "propertyName":"Categories",
      "propertyValue":"Communication"  

    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "BasicAuth": {
      "type": "basic"
    }
  },
  "security": [],
  "tags": []
}
