{
  "swagger": "2.0",
  "info": {
    "version": "1.1.0",
    "title": "Webex Integration",
    "description": "Webex Integration for meetings",
    "contact": {
      "name": "University College London, Oscar Hui",
      "email": "oscar.hui@live.com",
      "url": "https://developer.webex.com/docs"
    }
  },
  "host": "webexapis.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/meetings": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ReadMeetingResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "409": {
            "description": "Conflict"
          },
          "410": {
            "description": "Gone"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "423": {
            "description": "Locked"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "502": {
            "description": "Bad Gateway"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Read Meetings",
        "description": "This Action would read meetings on webex.",
        "operationId": "ReadMeetings",
        "parameters": [
          {
            "name": "Content-Type",
            "x-ms-summary": "Operation",
            "description": "ReadMeeting",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "password",
            "x-ms-summary": "Password",
            "description": "password",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "timezone",
            "x-ms-summary": "Timezone",
            "description": "timezoe",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "summary": "Create a meeting",
        "description": "This Action would create a meeting on webex.",
        "operationId": "CreateAMeeting",
        "parameters": [
          {
            "name": "Content-Type",
            "x-ms-summary": "Operation",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "title",
                  "title": ""
                },
                "agenda": {
                  "type": "string",
                  "description": "agenda"
                },
                "password": {
                  "type": "string",
                  "description": "password"
                },
                "start": {
                  "type": "string",
                  "description": "start",
                  "title": ""
                },
                "end": {
                  "type": "string",
                  "description": "end",
                  "title": ""
                },
                "timezone": {
                  "type": "string",
                  "description": "timezone",
                  "title": "",
                  "default": "Europe/London"
                },
                "enabledAutoRecordMeeting": {
                  "type": "boolean",
                  "description": "enabledAutoRecordMeeting",
                  "title": "",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false
                },
                "allowAnyUserToBeCoHost": {
                  "type": "boolean",
                  "description": "allowAnyUserToBeCoHost",
                  "title": "",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false
                }
              },
              "default": {
                "title": "Sample Title",
                "agenda": "Sample Agenda",
                "password": "A@ssword123",
                "start": "{{_start_time}}",
                "end": "{{_end_time}}",
                "timezone": "{{TIMEZONE_STRING}}",
                "enabledAutoRecordMeeting": false,
                "allowAnyUserToBeCoHost": false
              },
              "required": [
                "title",
                "start",
                "end"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateAMeetingResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "409": {
            "description": "Conflict"
          },
          "410": {
            "description": "Gone"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "423": {
            "description": "Locked"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "502": {
            "description": "Bad Gateway"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "default": {
            "description": "Operation Failed."
          }
        }
      }
    },
    "/meetingInvitees": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "409": {
            "description": "Conflict"
          },
          "410": {
            "description": "Gone"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "423": {
            "description": "Locked"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "502": {
            "description": "Bad Gateway"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Create A Invitee",
        "description": "This Action invites a participant to the meeting via email",
        "operationId": "CreateAInvitee",
        "parameters": [
          {
            "name": "Content-Type",
            "x-ms-summary": "Operation",
            "description": "CreateAInvitee",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "meetingId": {
                  "type": "string",
                  "description": "meetingId",
                  "title": "",
                  "x-ms-visibility": "advanced"
                },
                "email": {
                  "type": "string",
                  "description": "email",
                  "title": ""
                },
                "displayName": {
                  "type": "string",
                  "description": "displayName"
                },
                "coHost": {
                  "type": "string",
                  "description": "coHost"
                },
                "hostEmail": {
                  "type": "string",
                  "description": "hostEmail"
                },
                "sendEmail": {
                  "type": "string",
                  "description": "sendEmail"
                },
                "panelist": {
                  "type": "string",
                  "description": "panelist"
                }
              },
              "required": [
                "email",
                "meetingId"
              ]
            }
          }
        ]
      }
    },
    "/meetings/{meetingId}": {
      "delete": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "409": {
            "description": "Conflict"
          },
          "410": {
            "description": "Gone"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "423": {
            "description": "Locked"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "502": {
            "description": "Bad Gateway"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Delete A Meeting",
        "operationId": "DeleteAMeeting",
        "description": "This Action would delete meetings on webex.",
        "parameters": [
          {
            "name": "meetingId",
            "x-ms-summary": "MeetingID",
            "description": "meetingId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "409": {
            "description": "Conflict"
          },
          "410": {
            "description": "Gone"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "423": {
            "description": "Locked"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "502": {
            "description": "Bad Gateway"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Update A Meeting",
        "description": "This action updates a meeting",
        "operationId": "UpdateAMeeting",
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "MeetingID",
            "description": "meetingId"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "x-ms-summary": "Content-type",
            "description": "content-type",
            "required": false,
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "agenda": {
                  "type": "string",
                  "description": "agenda"
                },
                "password": {
                  "type": "string",
                  "description": "password"
                },
                "timezone": {
                  "type": "string",
                  "description": "timezone"
                },
                "start": {
                  "type": "string",
                  "description": "start"
                },
                "end": {
                  "type": "string",
                  "description": "end"
                },
                "enabledAutoRecordMeeting": {
                  "type": "boolean",
                  "description": "enabledAutoRecordMeeting"
                },
                "allowAnyUserToBeCoHost": {
                  "type": "boolean",
                  "description": "allowAnyUserToBeCoHost"
                },
                "enabledJoinBeforeHost": {
                  "type": "boolean",
                  "description": "enabledJoinBeforeHost"
                },
                "enableConnectAudioBeforeHost": {
                  "type": "boolean",
                  "description": "enableConnectAudioBeforeHost"
                },
                "joinBeforeHostMinutes": {
                  "type": "integer",
                  "format": "int32",
                  "description": "joinBeforeHostMinutes"
                },
                "excludePassword": {
                  "type": "boolean",
                  "description": "excludePassword"
                },
                "publicMeeting": {
                  "type": "boolean",
                  "description": "publicMeeting"
                },
                "reminderTime": {
                  "type": "integer",
                  "format": "int32",
                  "description": "reminderTime"
                },
                "unlockedMeetingJoinSecurity": {
                  "type": "string",
                  "description": "unlockedMeetingJoinSecurity"
                },
                "enableAutomaticLock": {
                  "type": "boolean",
                  "description": "enableAutomaticLock"
                },
                "automaticLockMinutes": {
                  "type": "integer",
                  "format": "int32",
                  "description": "automaticLockMinutes"
                },
                "allowFirstUserToBeCoHost": {
                  "type": "boolean",
                  "description": "allowFirstUserToBeCoHost"
                },
                "allowAuthenticatedDevices": {
                  "type": "boolean",
                  "description": "allowAuthenticatedDevices"
                },
                "sendEmail": {
                  "type": "boolean",
                  "description": "sendEmail"
                },
                "hostEmail": {
                  "type": "string",
                  "description": "hostEmail"
                },
                "siteUrl": {
                  "type": "string",
                  "description": "siteUrl"
                },
                "meetingOptions": {
                  "type": "object",
                  "properties": {
                    "enabledChat": {
                      "type": "boolean",
                      "description": "enabledChat"
                    },
                    "enabledVideo": {
                      "type": "boolean",
                      "description": "enabledVideo"
                    },
                    "enabledPolling": {
                      "type": "boolean",
                      "description": "enabledPolling"
                    },
                    "enabledNote": {
                      "type": "boolean",
                      "description": "enabledNote"
                    },
                    "noteType": {
                      "type": "string",
                      "description": "noteType"
                    },
                    "enabledClosedCaptions": {
                      "type": "boolean",
                      "description": "enabledClosedCaptions"
                    },
                    "enabledFileTransfer": {
                      "type": "boolean",
                      "description": "enabledFileTransfer"
                    },
                    "enabledUCFRichMedia": {
                      "type": "boolean",
                      "description": "enabledUCFRichMedia"
                    }
                  },
                  "description": "meetingOptions"
                },
                "attendeePrivileges": {
                  "type": "object",
                  "properties": {
                    "enabledShareContent": {
                      "type": "boolean",
                      "description": "enabledShareContent"
                    },
                    "enabledSaveDocument": {
                      "type": "boolean",
                      "description": "enabledSaveDocument"
                    },
                    "enabledPrintDocument": {
                      "type": "boolean",
                      "description": "enabledPrintDocument"
                    },
                    "enabledAnnotate": {
                      "type": "boolean",
                      "description": "enabledAnnotate"
                    },
                    "enabledViewParticipantList": {
                      "type": "boolean",
                      "description": "enabledViewParticipantList"
                    },
                    "enabledViewThumbnails": {
                      "type": "boolean",
                      "description": "enabledViewThumbnails"
                    },
                    "enabledRemoteControl": {
                      "type": "boolean",
                      "description": "enabledRemoteControl"
                    },
                    "enabledViewAnyDocument": {
                      "type": "boolean",
                      "description": "enabledViewAnyDocument"
                    },
                    "enabledViewAnyPage": {
                      "type": "boolean",
                      "description": "enabledViewAnyPage"
                    },
                    "enabledContactOperatorPrivately": {
                      "type": "boolean",
                      "description": "enabledContactOperatorPrivately"
                    },
                    "enabledChatHost": {
                      "type": "boolean",
                      "description": "enabledChatHost"
                    },
                    "enabledChatPresenter": {
                      "type": "boolean",
                      "description": "enabledChatPresenter"
                    },
                    "enabledChatOtherParticipants": {
                      "type": "boolean",
                      "description": "enabledChatOtherParticipants"
                    }
                  },
                  "description": "attendeePrivileges"
                },
                "integrationTags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "integrationTags"
                },
                "enabledBreakoutSessions": {
                  "type": "boolean",
                  "description": "enabledBreakoutSessions"
                },
                "trackingCodes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "value": {
                        "type": "string",
                        "description": "value"
                      }
                    }
                  },
                  "description": "trackingCodes"
                },
                "audioConnectionOptions": {
                  "type": "object",
                  "properties": {
                    "audioConnectionType": {
                      "type": "string",
                      "description": "audioConnectionType"
                    },
                    "enabledTollFreeCallIn": {
                      "type": "boolean",
                      "description": "enabledTollFreeCallIn"
                    },
                    "enabledGlobalCallIn": {
                      "type": "boolean",
                      "description": "enabledGlobalCallIn"
                    },
                    "enabledAudienceCallBack": {
                      "type": "boolean",
                      "description": "enabledAudienceCallBack"
                    },
                    "entryAndExitTone": {
                      "type": "string",
                      "description": "entryAndExitTone"
                    },
                    "allowHostToUnmuteParticipants": {
                      "type": "boolean",
                      "description": "allowHostToUnmuteParticipants"
                    },
                    "allowAttendeeToUnmuteSelf": {
                      "type": "boolean",
                      "description": "allowAttendeeToUnmuteSelf"
                    },
                    "muteAttendeeUponEntry": {
                      "type": "boolean",
                      "description": "muteAttendeeUponEntry"
                    }
                  },
                  "description": "audioConnectionOptions"
                }
              }
            }
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://developer.webex.com/docs"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://help.webex.com/en-us/article/nv2hm53/Webex-Security-and-Privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication"
    }
  ],
  "definitions": {
    "ReadMeetingResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "id"
        },
        "meetingNumber": {
          "type": "string",
          "description": "meetingNumber"
        },
        "title": {
          "type": "string",
          "description": "title"
        },
        "agenda": {
          "type": "string",
          "description": "agenda"
        },
        "password": {
          "type": "string",
          "description": "password"
        },
        "phoneAndVideoSystemPassword": {
          "type": "string",
          "description": "phoneAndVideoSystemPassword"
        },
        "meetingType": {
          "type": "string",
          "description": "meetingType"
        },
        "state": {
          "type": "string",
          "description": "state"
        },
        "timezone": {
          "type": "string",
          "description": "timezone"
        },
        "start": {
          "type": "string",
          "description": "start"
        },
        "end": {
          "type": "string",
          "description": "end"
        },
        "recurrence": {
          "type": "string",
          "description": "recurrence"
        },
        "hostUserId": {
          "type": "string",
          "description": "hostUserId"
        },
        "hostDisplayName": {
          "type": "string",
          "description": "hostDisplayName"
        },
        "hostEmail": {
          "type": "string",
          "description": "hostEmail"
        },
        "hostKey": {
          "type": "string",
          "description": "hostKey"
        },
        "siteUrl": {
          "type": "string",
          "description": "siteUrl"
        },
        "webLink": {
          "type": "string",
          "description": "webLink"
        },
        "sipAddress": {
          "type": "string",
          "description": "sipAddress"
        },
        "dialInIpAddress": {
          "type": "string",
          "description": "dialInIpAddress"
        },
        "enabledAutoRecordMeeting": {
          "type": "boolean",
          "description": "enabledAutoRecordMeeting"
        },
        "allowAnyUserToBeCoHost": {
          "type": "boolean",
          "description": "allowAnyUserToBeCoHost"
        },
        "enabledJoinBeforeHost": {
          "type": "boolean",
          "description": "enabledJoinBeforeHost"
        },
        "enableConnectAudioBeforeHost": {
          "type": "boolean",
          "description": "enableConnectAudioBeforeHost"
        },
        "joinBeforeHostMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "joinBeforeHostMinutes"
        },
        "excludePassword": {
          "type": "boolean",
          "description": "excludePassword"
        },
        "publicMeeting": {
          "type": "boolean",
          "description": "publicMeeting"
        },
        "reminderTime": {
          "type": "integer",
          "format": "int32",
          "description": "reminderTime"
        },
        "unlockedMeetingJoinSecurity": {
          "type": "string",
          "description": "unlockedMeetingJoinSecurity"
        },
        "sessionTypeId": {
          "type": "integer",
          "format": "int32",
          "description": "sessionTypeId"
        },
        "enableAutomaticLock": {
          "type": "boolean",
          "description": "enableAutomaticLock"
        },
        "automaticLockMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "automaticLockMinutes"
        },
        "allowFirstUserToBeCoHost": {
          "type": "boolean",
          "description": "allowFirstUserToBeCoHost"
        },
        "allowAuthenticatedDevices": {
          "type": "boolean",
          "description": "allowAuthenticatedDevices"
        },
        "telephony": {
          "type": "object",
          "properties": {
            "accessCode": {
              "type": "string",
              "description": "accessCode"
            },
            "callInNumbers": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string",
                    "description": "label"
                  },
                  "callInNumber": {
                    "type": "string",
                    "description": "callInNumber"
                  },
                  "tollType": {
                    "type": "string",
                    "description": "tollType"
                  }
                }
              },
              "description": "callInNumbers"
            },
            "links": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "rel": {
                    "type": "string",
                    "description": "rel"
                  },
                  "href": {
                    "type": "string",
                    "description": "href"
                  },
                  "method": {
                    "type": "string",
                    "description": "method"
                  }
                }
              },
              "description": "links"
            }
          },
          "description": "telephony"
        },
        "meetingOptions": {
          "type": "object",
          "properties": {
            "enabledChat": {
              "type": "boolean",
              "description": "enabledChat"
            },
            "enabledVideo": {
              "type": "boolean",
              "description": "enabledVideo"
            },
            "enabledPolling": {
              "type": "boolean",
              "description": "enabledPolling"
            },
            "enabledNote": {
              "type": "boolean",
              "description": "enabledNote"
            },
            "noteType": {
              "type": "string",
              "description": "noteType"
            },
            "enabledClosedCaptions": {
              "type": "boolean",
              "description": "enabledClosedCaptions"
            },
            "enabledFileTransfer": {
              "type": "boolean",
              "description": "enabledFileTransfer"
            },
            "enabledUCFRichMedia": {
              "type": "boolean",
              "description": "enabledUCFRichMedia"
            }
          },
          "description": "meetingOptions"
        },
        "attendeePrivileges": {
          "type": "object",
          "properties": {
            "enabledShareContent": {
              "type": "boolean",
              "description": "enabledShareContent"
            },
            "enabledSaveDocument": {
              "type": "boolean",
              "description": "enabledSaveDocument"
            },
            "enabledPrintDocument": {
              "type": "boolean",
              "description": "enabledPrintDocument"
            },
            "enabledAnnotate": {
              "type": "boolean",
              "description": "enabledAnnotate"
            },
            "enabledViewParticipantList": {
              "type": "boolean",
              "description": "enabledViewParticipantList"
            },
            "enabledViewThumbnails": {
              "type": "boolean",
              "description": "enabledViewThumbnails"
            },
            "enabledRemoteControl": {
              "type": "boolean",
              "description": "enabledRemoteControl"
            },
            "enabledViewAnyDocument": {
              "type": "boolean",
              "description": "enabledViewAnyDocument"
            },
            "enabledViewAnyPage": {
              "type": "boolean",
              "description": "enabledViewAnyPage"
            },
            "enabledContactOperatorPrivately": {
              "type": "boolean",
              "description": "enabledContactOperatorPrivately"
            },
            "enabledChatHost": {
              "type": "boolean",
              "description": "enabledChatHost"
            },
            "enabledChatPresenter": {
              "type": "boolean",
              "description": "enabledChatPresenter"
            },
            "enabledChatOtherParticipants": {
              "type": "boolean",
              "description": "enabledChatOtherParticipants"
            }
          },
          "description": "attendeePrivileges"
        },
        "registration": {
          "type": "object",
          "properties": {
            "autoAcceptRequest": {
              "type": "boolean",
              "description": "autoAcceptRequest"
            },
            "requireFirstName": {
              "type": "boolean",
              "description": "requireFirstName"
            },
            "requireLastName": {
              "type": "boolean",
              "description": "requireLastName"
            },
            "requireEmail": {
              "type": "boolean",
              "description": "requireEmail"
            },
            "requireCompanyName": {
              "type": "boolean",
              "description": "requireCompanyName"
            },
            "requireCountryRegion": {
              "type": "boolean",
              "description": "requireCountryRegion"
            },
            "requireWorkPhone": {
              "type": "boolean",
              "description": "requireWorkPhone"
            },
            "customizedQuestions": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "question": {
                    "type": "string",
                    "description": "question"
                  },
                  "required": {
                    "type": "boolean",
                    "description": "required"
                  },
                  "type": {
                    "type": "string",
                    "description": "type"
                  },
                  "options": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      }
                    },
                    "description": "options"
                  },
                  "rules": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "condition": {
                          "type": "string",
                          "description": "condition"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        },
                        "result": {
                          "type": "string",
                          "description": "result"
                        },
                        "matchCase": {
                          "type": "boolean",
                          "description": "matchCase"
                        },
                        "order": {
                          "type": "integer",
                          "format": "int32",
                          "description": "order"
                        }
                      }
                    },
                    "description": "rules"
                  },
                  "maxLength": {
                    "type": "integer",
                    "format": "int32",
                    "description": "maxLength"
                  }
                }
              },
              "description": "customizedQuestions"
            },
            "rules": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "question": {
                    "type": "string",
                    "description": "question"
                  },
                  "condition": {
                    "type": "string",
                    "description": "condition"
                  },
                  "value": {
                    "type": "string",
                    "description": "value"
                  },
                  "result": {
                    "type": "string",
                    "description": "result"
                  },
                  "matchCase": {
                    "type": "boolean",
                    "description": "matchCase"
                  },
                  "order": {
                    "type": "integer",
                    "format": "int32",
                    "description": "order"
                  }
                }
              },
              "description": "rules"
            }
          },
          "description": "registration"
        },
        "integrationTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "integrationTags"
        },
        "scheduledType": {
          "type": "string",
          "description": "scheduledType"
        },
        "simultaneousInterpretation": {
          "type": "object",
          "properties": {
            "enabled": {
              "type": "boolean",
              "description": "enabled"
            },
            "interpreters": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "languageCode1": {
                    "type": "string",
                    "description": "languageCode1"
                  },
                  "languageCode2": {
                    "type": "string",
                    "description": "languageCode2"
                  },
                  "email": {
                    "type": "string",
                    "description": "email"
                  },
                  "displayName": {
                    "type": "string",
                    "description": "displayName"
                  }
                }
              },
              "description": "interpreters"
            }
          },
          "description": "simultaneousInterpretation"
        },
        "enabledBreakoutSessions": {
          "type": "boolean",
          "description": "enabledBreakoutSessions"
        },
        "links": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "rel": {
                "type": "string",
                "description": "rel"
              },
              "href": {
                "type": "string",
                "description": "href"
              },
              "method": {
                "type": "string",
                "description": "method"
              }
            }
          },
          "description": "links"
        },
        "trackingCodes": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "name"
              },
              "value": {
                "type": "string",
                "description": "value"
              }
            }
          },
          "description": "trackingCodes"
        },
        "audioConnectionOptions": {
          "type": "object",
          "properties": {
            "audioConnectionType": {
              "type": "string",
              "description": "audioConnectionType"
            },
            "enabledTollFreeCallIn": {
              "type": "boolean",
              "description": "enabledTollFreeCallIn"
            },
            "enabledGlobalCallIn": {
              "type": "boolean",
              "description": "enabledGlobalCallIn"
            },
            "enabledAudienceCallBack": {
              "type": "boolean",
              "description": "enabledAudienceCallBack"
            },
            "entryAndExitTone": {
              "type": "string",
              "description": "entryAndExitTone"
            },
            "allowHostToUnmuteParticipants": {
              "type": "boolean",
              "description": "allowHostToUnmuteParticipants"
            },
            "allowAttendeeToUnmuteSelf": {
              "type": "boolean",
              "description": "allowAttendeeToUnmuteSelf"
            },
            "muteAttendeeUponEntry": {
              "type": "boolean",
              "description": "muteAttendeeUponEntry"
            }
          },
          "description": "audioConnectionOptions"
        }
      }
    },
    "CreateAMeetingResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "id"
        },
        "meetingNumber": {
          "type": "string",
          "description": "meetingNumber"
        },
        "title": {
          "type": "string",
          "description": "title"
        },
        "agenda": {
          "type": "string",
          "description": "agenda"
        },
        "password": {
          "type": "string",
          "description": "password"
        },
        "phoneAndVideoSystemPassword": {
          "type": "string",
          "description": "phoneAndVideoSystemPassword"
        },
        "meetingType": {
          "type": "string",
          "description": "meetingType"
        },
        "state": {
          "type": "string",
          "description": "state"
        },
        "timezone": {
          "type": "string",
          "description": "timezone"
        },
        "start": {
          "type": "string",
          "description": "start"
        },
        "end": {
          "type": "string",
          "description": "end"
        },
        "recurrence": {
          "type": "string",
          "description": "recurrence"
        },
        "hostUserId": {
          "type": "string",
          "description": "hostUserId"
        },
        "hostDisplayName": {
          "type": "string",
          "description": "hostDisplayName"
        },
        "hostEmail": {
          "type": "string",
          "description": "hostEmail"
        },
        "hostKey": {
          "type": "string",
          "description": "hostKey"
        },
        "siteUrl": {
          "type": "string",
          "description": "siteUrl"
        },
        "webLink": {
          "type": "string",
          "description": "webLink"
        },
        "sipAddress": {
          "type": "string",
          "description": "sipAddress"
        },
        "dialInIpAddress": {
          "type": "string",
          "description": "dialInIpAddress"
        },
        "enabledAutoRecordMeeting": {
          "type": "boolean",
          "description": "enabledAutoRecordMeeting"
        },
        "allowAnyUserToBeCoHost": {
          "type": "boolean",
          "description": "allowAnyUserToBeCoHost"
        },
        "enabledJoinBeforeHost": {
          "type": "boolean",
          "description": "enabledJoinBeforeHost"
        },
        "enableConnectAudioBeforeHost": {
          "type": "boolean",
          "description": "enableConnectAudioBeforeHost"
        },
        "joinBeforeHostMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "joinBeforeHostMinutes"
        },
        "excludePassword": {
          "type": "boolean",
          "description": "excludePassword"
        },
        "publicMeeting": {
          "type": "boolean",
          "description": "publicMeeting"
        },
        "reminderTime": {
          "type": "integer",
          "format": "int32",
          "description": "reminderTime"
        },
        "unlockedMeetingJoinSecurity": {
          "type": "string",
          "description": "unlockedMeetingJoinSecurity"
        },
        "sessionTypeId": {
          "type": "integer",
          "format": "int32",
          "description": "sessionTypeId"
        },
        "enableAutomaticLock": {
          "type": "boolean",
          "description": "enableAutomaticLock"
        },
        "automaticLockMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "automaticLockMinutes"
        },
        "allowFirstUserToBeCoHost": {
          "type": "boolean",
          "description": "allowFirstUserToBeCoHost"
        },
        "allowAuthenticatedDevices": {
          "type": "boolean",
          "description": "allowAuthenticatedDevices"
        },
        "telephony": {
          "type": "object",
          "properties": {
            "accessCode": {
              "type": "string",
              "description": "accessCode"
            },
            "callInNumbers": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string",
                    "description": "label"
                  },
                  "callInNumber": {
                    "type": "string",
                    "description": "callInNumber"
                  },
                  "tollType": {
                    "type": "string",
                    "description": "tollType"
                  }
                }
              },
              "description": "callInNumbers"
            },
            "links": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "rel": {
                    "type": "string",
                    "description": "rel"
                  },
                  "href": {
                    "type": "string",
                    "description": "href"
                  },
                  "method": {
                    "type": "string",
                    "description": "method"
                  }
                }
              },
              "description": "links"
            }
          },
          "description": "telephony"
        },
        "meetingOptions": {
          "type": "object",
          "properties": {
            "enabledChat": {
              "type": "boolean",
              "description": "enabledChat"
            },
            "enabledVideo": {
              "type": "boolean",
              "description": "enabledVideo"
            },
            "enabledPolling": {
              "type": "boolean",
              "description": "enabledPolling"
            },
            "enabledNote": {
              "type": "boolean",
              "description": "enabledNote"
            },
            "noteType": {
              "type": "string",
              "description": "noteType"
            },
            "enabledClosedCaptions": {
              "type": "boolean",
              "description": "enabledClosedCaptions"
            },
            "enabledFileTransfer": {
              "type": "boolean",
              "description": "enabledFileTransfer"
            },
            "enabledUCFRichMedia": {
              "type": "boolean",
              "description": "enabledUCFRichMedia"
            }
          },
          "description": "meetingOptions"
        },
        "attendeePrivileges": {
          "type": "object",
          "properties": {
            "enabledShareContent": {
              "type": "boolean",
              "description": "enabledShareContent"
            },
            "enabledSaveDocument": {
              "type": "boolean",
              "description": "enabledSaveDocument"
            },
            "enabledPrintDocument": {
              "type": "boolean",
              "description": "enabledPrintDocument"
            },
            "enabledAnnotate": {
              "type": "boolean",
              "description": "enabledAnnotate"
            },
            "enabledViewParticipantList": {
              "type": "boolean",
              "description": "enabledViewParticipantList"
            },
            "enabledViewThumbnails": {
              "type": "boolean",
              "description": "enabledViewThumbnails"
            },
            "enabledRemoteControl": {
              "type": "boolean",
              "description": "enabledRemoteControl"
            },
            "enabledViewAnyDocument": {
              "type": "boolean",
              "description": "enabledViewAnyDocument"
            },
            "enabledViewAnyPage": {
              "type": "boolean",
              "description": "enabledViewAnyPage"
            },
            "enabledContactOperatorPrivately": {
              "type": "boolean",
              "description": "enabledContactOperatorPrivately"
            },
            "enabledChatHost": {
              "type": "boolean",
              "description": "enabledChatHost"
            },
            "enabledChatPresenter": {
              "type": "boolean",
              "description": "enabledChatPresenter"
            },
            "enabledChatOtherParticipants": {
              "type": "boolean",
              "description": "enabledChatOtherParticipants"
            }
          },
          "description": "attendeePrivileges"
        },
        "registration": {
          "type": "object",
          "properties": {
            "autoAcceptRequest": {
              "type": "boolean",
              "description": "autoAcceptRequest"
            },
            "requireFirstName": {
              "type": "boolean",
              "description": "requireFirstName"
            },
            "requireLastName": {
              "type": "boolean",
              "description": "requireLastName"
            },
            "requireEmail": {
              "type": "boolean",
              "description": "requireEmail"
            },
            "requireCompanyName": {
              "type": "boolean",
              "description": "requireCompanyName"
            },
            "requireCountryRegion": {
              "type": "boolean",
              "description": "requireCountryRegion"
            },
            "requireWorkPhone": {
              "type": "boolean",
              "description": "requireWorkPhone"
            },
            "customizedQuestions": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "question": {
                    "type": "string",
                    "description": "question"
                  },
                  "required": {
                    "type": "boolean",
                    "description": "required"
                  },
                  "type": {
                    "type": "string",
                    "description": "type"
                  },
                  "options": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      }
                    },
                    "description": "options"
                  },
                  "rules": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "condition": {
                          "type": "string",
                          "description": "condition"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        },
                        "result": {
                          "type": "string",
                          "description": "result"
                        },
                        "matchCase": {
                          "type": "boolean",
                          "description": "matchCase"
                        },
                        "order": {
                          "type": "integer",
                          "format": "int32",
                          "description": "order"
                        }
                      }
                    },
                    "description": "rules"
                  },
                  "maxLength": {
                    "type": "integer",
                    "format": "int32",
                    "description": "maxLength"
                  }
                }
              },
              "description": "customizedQuestions"
            },
            "rules": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "question": {
                    "type": "string",
                    "description": "question"
                  },
                  "condition": {
                    "type": "string",
                    "description": "condition"
                  },
                  "value": {
                    "type": "string",
                    "description": "value"
                  },
                  "result": {
                    "type": "string",
                    "description": "result"
                  },
                  "matchCase": {
                    "type": "boolean",
                    "description": "matchCase"
                  },
                  "order": {
                    "type": "integer",
                    "format": "int32",
                    "description": "order"
                  }
                }
              },
              "description": "rules"
            }
          },
          "description": "registration"
        },
        "integrationTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "integrationTags"
        },
        "scheduledType": {
          "type": "string",
          "description": "scheduledType"
        },
        "simultaneousInterpretation": {
          "type": "object",
          "properties": {
            "enabled": {
              "type": "boolean",
              "description": "enabled"
            },
            "interpreters": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "languageCode1": {
                    "type": "string",
                    "description": "languageCode1"
                  },
                  "languageCode2": {
                    "type": "string",
                    "description": "languageCode2"
                  },
                  "email": {
                    "type": "string",
                    "description": "email"
                  },
                  "displayName": {
                    "type": "string",
                    "description": "displayName"
                  }
                }
              },
              "description": "interpreters"
            }
          },
          "description": "simultaneousInterpretation"
        },
        "enabledBreakoutSessions": {
          "type": "boolean",
          "description": "enabledBreakoutSessions"
        },
        "links": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "rel": {
                "type": "string",
                "description": "rel"
              },
              "href": {
                "type": "string",
                "description": "href"
              },
              "method": {
                "type": "string",
                "description": "method"
              }
            }
          },
          "description": "links"
        },
        "trackingCodes": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "name"
              },
              "value": {
                "type": "string",
                "description": "value"
              }
            }
          },
          "description": "trackingCodes"
        },
        "audioConnectionOptions": {
          "type": "object",
          "properties": {
            "audioConnectionType": {
              "type": "string",
              "description": "audioConnectionType"
            },
            "enabledTollFreeCallIn": {
              "type": "boolean",
              "description": "enabledTollFreeCallIn"
            },
            "enabledGlobalCallIn": {
              "type": "boolean",
              "description": "enabledGlobalCallIn"
            },
            "enabledAudienceCallBack": {
              "type": "boolean",
              "description": "enabledAudienceCallBack"
            },
            "entryAndExitTone": {
              "type": "string",
              "description": "entryAndExitTone"
            },
            "allowHostToUnmuteParticipants": {
              "type": "boolean",
              "description": "allowHostToUnmuteParticipants"
            },
            "allowAttendeeToUnmuteSelf": {
              "type": "boolean",
              "description": "allowAttendeeToUnmuteSelf"
            },
            "muteAttendeeUponEntry": {
              "type": "boolean",
              "description": "muteAttendeeUponEntry"
            }
          },
          "description": "audioConnectionOptions"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "OAuth": {
      "type": "oauth2",
      "authorizationUrl": "https://webexapis.com/v1/authorize",
      "tokenUrl": "https://webexapis.com/v1/access_token",
      "flow": "accessCode",
      "scopes": {
        "meeting:schedules_read meeting:schedules_write meeting:preferences_read meeting:preferences_write meeting:controls_read meeting:controls_write meeting:participants_read meeting:participants_write spark:all": "meeting:schedules_read meeting:schedules_write meeting:preferences_read meeting:preferences_write meeting:controls_read meeting:controls_write meeting:participants_read meeting:participants_write spark:all"
      }
    }
  },
  "security": [
    {
      "OAuth": [
        "meeting:schedules_read meeting:schedules_write meeting:preferences_read meeting:preferences_write meeting:controls_read meeting:controls_write meeting:participants_read meeting:participants_write spark:all"
      ]
    }
  ],
  "tags": []
}
