{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Webex Integration",
    "description": "WebEx API for Power Platform\n\n- Setup meeting from Power Platform",
    "contact": {
      "name": "UCL",
      "email": "oscar.hui.21@ucl.ac.uk"
    }
  },
  "host": "webexapis.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/meetings": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Read Meetings",
        "description": "This Action would read meetings on webex.",
        "operationId": "ReadMeetings",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-summary": "header"
          },
          {
            "name": "password",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Password for the meeting",
            "x-ms-summary": "password"
          },
          {
            "name": "timezone",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Timezone for the meeting",
            "x-ms-summary": "timezone"
          }
        ]
      },
      "post": {
        "summary": "Create a meeting",
        "description": "This Action would create a meeting on webex.",
        "operationId": "CreateAMeeting",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-summary": "header"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "title",
                  "title": "",
                  "x-ms-summary": "title"
                  
                },
                "agenda": {
                  "type": "string",
                  "description": "agenda",
                  "x-ms-summary": "agenda"
                },
                "password": {
                  "type": "string",
                  "description": "password",
                  "x-ms-summary": "password"
                },
                "start": {
                  "type": "string",
                  "description": "start",
                  "title": "",
                  "x-ms-summary": "start_time"
                },
                "end": {
                  "type": "string",
                  "description": "end",
                  "title": "",
                  "x-ms-summary": "end_time"
                },
                "timezone": {
                  "type": "string",
                  "description": "timezone",
                  "title": "",
                  "default": "Europe/London",
                  "x-ms-summary": "timezone"
                },
                "enabledAutoRecordMeeting": {
                  "type": "string",
                  "description": "enabledAutoRecordMeeting",
                  "title": "",
                  "default": "false",
                  "x-ms-summary": "autorecord"
                },
                "allowAnyUserToBeCoHost": {
                  "type": "string",
                  "description": "allowAnyUserToBeCoHost",
                  "title": "",
                  "default": "false",
                  "x-ms-summary": "cohost"
                }
              },
              "default": {
                "title": "Sample Title",
                "agenda": "Sample Agenda",
                "password": "A@ssword123",
                "start": "{{_start_time}}",
                "end": "{{_end_time}}",
                "timezone": "{{TIMEZONE_STRING}}",
                "enabledAutoRecordMeeting": false,
                "allowAnyUserToBeCoHost": false
              },
              "required": [
                "title",
                "start",
                "end"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/meetings/%7B%7B_singleMeetingId%7D%7D": {},
    "/meetings/": {},
    "/meetings/%7B%7B_aScheduledMeetingId%7D%7D": {},
    "/meetings/%7B%7B_recurringMeetingId%7D%7D": {},
    "/meetings/%7B%7B_secondSingleMeetingId%7D%7D": {},
    "/": {},
    "/people": {},
    "/people/me": {},
    "/meetingInvitees": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create A Invitee",
        "description": "This Action invites a participant to the meeting via email",
        "operationId": "CreateAInvitee",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-summary": "header"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "meetingId": {
                  "type": "string",
                  "description": "meetingId",
                  "title": "",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "meetingId"
                },
                "email": {
                  "type": "string",
                  "description": "email",
                  "title": "",
                  "x-ms-summary": "email"
                },
                "displayName": {
                  "type": "string",
                  "description": "displayName",
                  "x-ms-summary": "name"
                },
                "coHost": {
                  "type": "string",
                  "description": "coHost",
                  "x-ms-summary": "cohost"
                },
                "hostEmail": {
                  "type": "string",
                  "description": "hostEmail",
                  "x-ms-summary": "hostEmail"
                },
                "sendEmail": {
                  "type": "string",
                  "description": "sendEmail",
                  "x-ms-summary": "sendEmailTrueOrFalse"
                },
                "panelist": {
                  "type": "string",
                  "description": "panelist",
                  "x-ms-summary": "panelist"
                }
              },
              "required": [
                "email",
                "meetingId"
              ]
            }
          }
        ]
      }
    },
    "/meetingInvitees/%7B%7B_meetingInvitee%7D%7D": {},
    "/meetingInvitees/%7B%7B_secondMeetingInvitee%7D%7D": {},
    "/meetingPreferences": {},
    "/meetingPreferences/personalMeetingRoom": {},
    "/meetingPreferences/audio": {},
    "/meetingPreferences/video": {},
    "/meetingPreferences/sites": {},
    "/meetingPreferences/schedulingOptions": {},
    "/meetings/join": {}
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://developer.webex.com/docs"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.ucl.ac.uk/legal-services/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "OAuth": {
      "type": "oauth2",
      "authorizationUrl": "https://webexapis.com/v1/authorize",
      "tokenUrl": "https://webexapis.com/v1/access_token",
      "flow": "accessCode",
      "scopes": {
        "meeting:schedules_read meeting:schedules_write meeting:preferences_read meeting:preferences_write meeting:controls_read  meeting:controls_write meeting:participants_read meeting:participants_write meeting:transcripts_read spark:all": "meeting:schedules_read meeting:schedules_write meeting:preferences_read meeting:preferences_write meeting:controls_read  meeting:controls_write meeting:participants_read meeting:participants_write meeting:transcripts_read spark:all"
      }
    }
  },
  "security": [
    {
      "OAuth": [
        "meeting:schedules_read meeting:schedules_write meeting:preferences_read meeting:preferences_write meeting:controls_read  meeting:controls_write meeting:participants_read meeting:participants_write meeting:transcripts_read spark:all"
      ]
    }
  ],
  "tags": []
}
