{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Strava",
    "description": "This is a connector for the Strava API",
    "contact": {
      "name": "Richard Wierenga",
      "url": "https://developers.strava.com/",
      "email": "rwconnectors@gmail.com"
    }
  },
  "host": "www.strava.com",
  "basePath": "/api/v3/",
  "schemes": ["https"],
  "consumes": [],
  "produces": ["application/json"],
  "paths": {
    "/athletes/{id}/stats": {
      "get": {
        "summary": "Get Athlete Stats",
        "description": "Returns the activity stats of an athlete. Only includes data from activities set to Everyone visibilty.",
        "operationId": "GetAthleteStats",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Athlete id",
            "description": "Specify the athlete id",
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "biggest_ride_distance": {
                  "type": "number",
                  "format": "float",
                  "description": "biggest ride distance"
                },
                "biggest_climb_elevation_gain": {
                  "type": "number",
                  "format": "float",
                  "description": "biggest_climb_elevation_gain"
                },
                "recent_ride_totals": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "count"
                    },
                    "distance": {
                      "type": "number",
                      "format": "float",
                      "description": "distance"
                    },
                    "moving_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "moving time"
                    },
                    "elapsed_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "elapsed time"
                    },
                    "elevation_gain": {
                      "type": "number",
                      "format": "float",
                      "description": "elevation gain"
                    },
                    "achievement_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "achievement count"
                    }
                  }
                },
                "all_ride_totals": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "count"
                    },
                    "distance": {
                      "type": "number",
                      "format": "float",
                      "description": "distance"
                    },
                    "moving_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "moving time"
                    },
                    "elapsed_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "elapsed time"
                    },
                    "elevation_gain": {
                      "type": "number",
                      "format": "float",
                      "description": "elevation gain"
                    }
                  }
                },
                "recent_run_totals": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "count"
                    },
                    "distance": {
                      "type": "number",
                      "format": "float",
                      "description": "distance"
                    },
                    "moving_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "moving time"
                    },
                    "elapsed_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "elapsed time"
                    },
                    "elevation_gain": {
                      "type": "number",
                      "format": "float",
                      "description": "elevation gain"
                    },
                    "achievement_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "achievement count"
                    }
                  }
                },
                "all_run_totals": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "count"
                    },
                    "distance": {
                      "type": "number",
                      "format": "float",
                      "description": "distance"
                    },
                    "moving_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "moving time"
                    },
                    "elapsed_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "elapsed time"
                    },
                    "elevation_gain": {
                      "type": "number",
                      "format": "float",
                      "description": "elevation gain"
                    }
                  }
                },
                "recent_swim_totals": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "count"
                    },
                    "distance": {
                      "type": "number",
                      "format": "float",
                      "description": "distance"
                    },
                    "moving_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "moving time"
                    },
                    "elapsed_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "elapsed time"
                    },
                    "elevation_gain": {
                      "type": "number",
                      "format": "float",
                      "description": "elevation gain"
                    },
                    "achievement_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "achievement count"
                    }
                  }
                },
                "all_swim_totals": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "count"
                    },
                    "distance": {
                      "type": "number",
                      "format": "float",
                      "description": "distance"
                    },
                    "moving_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "moving time"
                    },
                    "elapsed_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "elapsed time"
                    },
                    "elevation_gain": {
                      "type": "number",
                      "format": "float",
                      "description": "elevation gain"
                    }
                  }
                },
                "ytd_ride_totals": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "count"
                    },
                    "distance": {
                      "type": "number",
                      "format": "float",
                      "description": "distance"
                    },
                    "moving_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "moving time"
                    },
                    "elapsed_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "elapsed time"
                    },
                    "elevation_gain": {
                      "type": "number",
                      "format": "float",
                      "description": "elevation gain"
                    }
                  }
                },
                "ytd_run_totals": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "count"
                    },
                    "distance": {
                      "type": "number",
                      "format": "float",
                      "description": "distance"
                    },
                    "moving_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "moving time"
                    },
                    "elapsed_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "elapsed time"
                    },
                    "elevation_gain": {
                      "type": "number",
                      "format": "float",
                      "description": "elevation gain"
                    }
                  }
                },
                "ytd_swim_totals": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "count"
                    },
                    "distance": {
                      "type": "number",
                      "format": "float",
                      "description": "distance"
                    },
                    "moving_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "moving time"
                    },
                    "elapsed_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "elapsed time"
                    },
                    "elevation_gain": {
                      "type": "number",
                      "format": "float",
                      "description": "elevation gain"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/athlete": {
      "get": {
        "summary": "Get Authenticated Athlete",
        "description": "Returns the currently authenticated athlete. Tokens with profile:read_all scope will receive a detailed athlete representation; all others will receive a summary representation.",
        "operationId": "GetAuthenticatedAthlete",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "username": {
                  "type": "string",
                  "description": "username"
                },
                "resource_state": {
                  "type": "integer",
                  "format": "int32",
                  "description": "resource_state"
                },
                "firstname": {
                  "type": "string",
                  "description": "firstname"
                },
                "lastname": {
                  "type": "string",
                  "description": "lastname"
                },
                "city": {
                  "type": "string",
                  "description": "city"
                },
                "state": {
                  "type": "string",
                  "description": "state"
                },
                "country": {
                  "type": "string",
                  "description": "country"
                },
                "sex": {
                  "type": "string",
                  "description": "sex"
                },
                "premium": {
                  "type": "boolean",
                  "description": "premium"
                },
                "created_at": {
                  "type": "string",
                  "description": "created_at"
                },
                "updated_at": {
                  "type": "string",
                  "description": "updated_at"
                },
                "badge_type_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "badge_type_id"
                },
                "profile_medium": {
                  "type": "string",
                  "description": "profile_medium"
                },
                "profile": {
                  "type": "string",
                  "description": "profile"
                },
                "friend": {
                  "type": "string",
                  "description": "friend"
                },
                "follower": {
                  "type": "string",
                  "description": "follower"
                },
                "follower_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "follower_count"
                },
                "friend_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "friend_count"
                },
                "mutual_friend_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "mutual_friend_count"
                },
                "athlete_type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "athlete_type"
                },
                "date_preference": {
                  "type": "string",
                  "description": "date_preference"
                },
                "measurement_preference": {
                  "type": "string",
                  "description": "measurement_preference"
                },
                "clubs": {
                  "type": "array",
                  "items": {},
                  "description": "clubs"
                },
                "ftp": {
                  "type": "string",
                  "description": "ftp"
                },
                "weight": {
                  "type": "number",
                  "format": "float",
                  "description": "weight"
                },
                "bikes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "primary": {
                        "type": "boolean",
                        "description": "primary"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "resource_state": {
                        "type": "integer",
                        "format": "int32",
                        "description": "resource_state"
                      },
                      "distance": {
                        "type": "integer",
                        "format": "int32",
                        "description": "distance"
                      }
                    }
                  },
                  "description": "bikes"
                },
                "shoes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "primary": {
                        "type": "boolean",
                        "description": "primary"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "resource_state": {
                        "type": "integer",
                        "format": "int32",
                        "description": "resource_state"
                      },
                      "distance": {
                        "type": "integer",
                        "format": "int32",
                        "description": "distance"
                      }
                    }
                  },
                  "description": "shoes"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/athlete/activities": {
      "get": {
        "summary": "List Athlete Activities",
        "description": "Returns the activities of an athlete for a specific identifier. Requires activity:read. Only Me activities will be filtered out unless requested by a token with activity:read_all.",
        "operationId": "ListAthleteActivities",
        "parameters": [
          {
            "x-ms-summary": "Before timestamp",
            "description": "An epoch timestamp(the number of seconds since 1 January 1970) to use for filtering activities that have taken place before a certain time.",
            "name": "before",
            "in": "query",
            "type": "string",
            "required": false
          },
          {
            "x-ms-summary": "after timestamp",
            "description": "An epoch timestamp(the number of seconds since 1 January 1970) to use for filtering activities that have taken place after a certain time.",
            "name": "after",
            "in": "query",
            "type": "string",
            "required": false
          },
          {
            "x-ms-summary": "Page",
            "description": "Page number. Defaults to 1.",
            "name": "page",
            "default": "1",
            "in": "query",
            "type": "string",
            "required": false
          },
          {
            "x-ms-summary": "Per page",
            "description": "Number of items per page. Defaults to 30.",
            "name": "per_page",
            "default": "30",
            "in": "query",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "resource_state": {
                    "type": "integer",
                    "format": "int32",
                    "description": "resource_state"
                  },
                  "athlete": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "resource_state": {
                        "type": "integer",
                        "format": "int32",
                        "description": "resource_state"
                      }
                    },
                    "description": "athlete"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "distance": {
                    "type": "number",
                    "format": "float",
                    "description": "distance"
                  },
                  "moving_time": {
                    "type": "integer",
                    "format": "int32",
                    "description": "moving_time"
                  },
                  "elapsed_time": {
                    "type": "integer",
                    "format": "int32",
                    "description": "elapsed_time"
                  },
                  "total_elevation_gain": {
                    "type": "number",
                    "format": "float",
                    "description": "total_elevation_gain"
                  },
                  "type": {
                    "type": "string",
                    "description": "type"
                  },
                  "workout_type": {
                    "type": "integer",
                    "format": "int32",
                    "description": "workout_type"
                  },
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "id"
                  },
                  "external_id": {
                    "type": "string",
                    "description": "external_id"
                  },
                  "upload_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "upload_id"
                  },
                  "start_date": {
                    "type": "string",
                    "description": "start_date"
                  },
                  "start_date_local": {
                    "type": "string",
                    "description": "start_date_local"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "timezone"
                  },
                  "utc_offset": {
                    "type": "number",
                    "format": "float",
                    "description": "utc_offset"
                  },
                  "start_latlng": {
                    "type": "array",
                    "items": {
                      "type": "number",
                      "format": "float"
                    },
                    "description": "start_latlng"
                  },
                  "end_latlng": {
                    "type": "array",
                    "items": {
                      "type": "number",
                      "format": "float"
                    },
                    "description": "end_latlng"
                  },
                  "location_city": {
                    "type": "string",
                    "description": "location_city"
                  },
                  "location_state": {
                    "type": "string",
                    "description": "location_state"
                  },
                  "location_country": {
                    "type": "string",
                    "description": "location_country"
                  },
                  "achievement_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "achievement_count"
                  },
                  "kudos_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "kudos_count"
                  },
                  "comment_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "comment_count"
                  },
                  "athlete_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "athlete_count"
                  },
                  "photo_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "photo_count"
                  },
                  "map": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "summary_polyline": {
                        "type": "string",
                        "description": "summary_polyline"
                      },
                      "resource_state": {
                        "type": "integer",
                        "format": "int32",
                        "description": "resource_state"
                      }
                    },
                    "description": "map"
                  },
                  "trainer": {
                    "type": "boolean",
                    "description": "trainer"
                  },
                  "commute": {
                    "type": "boolean",
                    "description": "commute"
                  },
                  "manual": {
                    "type": "boolean",
                    "description": "manual"
                  },
                  "private": {
                    "type": "boolean",
                    "description": "private"
                  },
                  "flagged": {
                    "type": "boolean",
                    "description": "flagged"
                  },
                  "gear_id": {
                    "type": "string",
                    "description": "gear_id"
                  },
                  "from_accepted_tag": {
                    "type": "boolean",
                    "description": "from_accepted_tag"
                  },
                  "average_speed": {
                    "type": "number",
                    "format": "float",
                    "description": "average_speed"
                  },
                  "max_speed": {
                    "type": "number",
                    "format": "float",
                    "description": "max_speed"
                  },
                  "average_cadence": {
                    "type": "number",
                    "format": "float",
                    "description": "average_cadence"
                  },
                  "average_watts": {
                    "type": "number",
                    "format": "float",
                    "description": "average_watts"
                  },
                  "weighted_average_watts": {
                    "type": "integer",
                    "format": "int32",
                    "description": "weighted_average_watts"
                  },
                  "kilojoules": {
                    "type": "number",
                    "format": "float",
                    "description": "kilojoules"
                  },
                  "device_watts": {
                    "type": "boolean",
                    "description": "device_watts"
                  },
                  "has_heartrate": {
                    "type": "boolean",
                    "description": "has_heartrate"
                  },
                  "average_heartrate": {
                    "type": "number",
                    "format": "float",
                    "description": "average_heartrate"
                  },
                  "max_heartrate": {
                    "type": "number",
                    "format": "float",
                    "description": "max_heartrate"
                  },
                  "max_watts": {
                    "type": "integer",
                    "format": "int32",
                    "description": "max_watts"
                  },
                  "pr_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "pr_count"
                  },
                  "total_photo_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "total_photo_count"
                  },
                  "has_kudoed": {
                    "type": "boolean",
                    "description": "has_kudoed"
                  },
                  "suffer_score": {
                    "type": "integer",
                    "format": "int32",
                    "description": "suffer_score"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/athlete/clubs": {
      "get": {
        "summary": "List Athlete Clubs",
        "description": "Returns a list of the clubs whose membership includes the authenticated athlete.",
        "operationId": "ListAthleteClubs",
        "parameters": [
          {
            "x-ms-summary": "Page",
            "description": "Page number. Defaults to 1.",
            "name": "page",
            "in": "query",
            "type": "string",
            "required": false
          },
          {
            "x-ms-summary": "Per page",
            "description": "Number of items per page. Defaults to 30.",
            "name": "per_page",
            "default": "30",
            "in": "query",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "id"
                  },
                  "resource_state": {
                    "type": "integer",
                    "format": "int32",
                    "description": "resource_state"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "profile_medium": {
                    "type": "string",
                    "description": "profile_medium"
                  },
                  "profile": {
                    "type": "string",
                    "description": "profile"
                  },
                  "cover_photo": {
                    "type": "string",
                    "description": "cover_photo"
                  },
                  "cover_photo_small": {
                    "type": "string",
                    "description": "cover_photo_small"
                  },
                  "sport_type": {
                    "type": "string",
                    "description": "sport_type"
                  },
                  "city": {
                    "type": "string",
                    "description": "city"
                  },
                  "state": {
                    "type": "string",
                    "description": "state"
                  },
                  "country": {
                    "type": "string",
                    "description": "country"
                  },
                  "private": {
                    "type": "boolean",
                    "description": "private"
                  },
                  "member_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "member_count"
                  },
                  "featured": {
                    "type": "boolean",
                    "description": "featured"
                  },
                  "verified": {
                    "type": "boolean",
                    "description": "verified"
                  },
                  "url": {
                    "type": "string",
                    "description": "url"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/segments/{id}": {
      "get": {
        "summary": "Get Segment",
        "description": "Returns the specified segment. read_all scope required in order to retrieve athlete-specific segment information, or to retrieve private segments.",
        "operationId": "GetSegment",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Segment id",
            "description": "The identifier of the segment.",
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "resource_state": {
                  "type": "integer",
                  "format": "int32",
                  "description": "resource_state"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "activity_type": {
                  "type": "string",
                  "description": "activity_type"
                },
                "distance": {
                  "type": "number",
                  "format": "float",
                  "description": "distance"
                },
                "average_grade": {
                  "type": "number",
                  "format": "float",
                  "description": "average_grade"
                },
                "maximum_grade": {
                  "type": "number",
                  "format": "float",
                  "description": "maximum_grade"
                },
                "elevation_high": {
                  "type": "number",
                  "format": "float",
                  "description": "elevation_high"
                },
                "elevation_low": {
                  "type": "number",
                  "format": "float",
                  "description": "elevation_low"
                },
                "start_latlng": {
                  "type": "array",
                  "items": {
                    "type": "number",
                    "format": "float"
                  },
                  "description": "start_latlng"
                },
                "end_latlng": {
                  "type": "array",
                  "items": {
                    "type": "number",
                    "format": "float"
                  },
                  "description": "end_latlng"
                },
                "climb_category": {
                  "type": "integer",
                  "format": "int32",
                  "description": "climb_category"
                },
                "city": {
                  "type": "string",
                  "description": "city"
                },
                "state": {
                  "type": "string",
                  "description": "state"
                },
                "country": {
                  "type": "string",
                  "description": "country"
                },
                "private": {
                  "type": "boolean",
                  "description": "private"
                },
                "hazardous": {
                  "type": "boolean",
                  "description": "hazardous"
                },
                "starred": {
                  "type": "boolean",
                  "description": "starred"
                },
                "created_at": {
                  "type": "string",
                  "description": "created_at"
                },
                "updated_at": {
                  "type": "string",
                  "description": "updated_at"
                },
                "total_elevation_gain": {
                  "type": "number",
                  "format": "float",
                  "description": "total_elevation_gain"
                },
                "map": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "polyline": {
                      "type": "string",
                      "description": "polyline"
                    },
                    "resource_state": {
                      "type": "integer",
                      "format": "int32",
                      "description": "resource_state"
                    }
                  },
                  "description": "map"
                },
                "effort_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "effort_count"
                },
                "athlete_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "athlete_count"
                },
                "star_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "star_count"
                },
                "athlete_segment_stats": {
                  "type": "object",
                  "properties": {
                    "pr_elapsed_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "pr_elapsed_time"
                    },
                    "pr_date": {
                      "type": "string",
                      "description": "pr_date"
                    },
                    "effort_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "effort_count"
                    }
                  },
                  "description": "athlete_segment_stats"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/segments/starred": {
      "get": {
        "summary": "List Starred Segments",
        "description": "List of the authenticated athlete's starred segments. Private segments are filtered out unless requested by a token with read_all scope.",
        "operationId": "ListStarredSegments",
        "parameters": [
          {
            "x-ms-summary": "Page",
            "description": "Page number. Defaults to 1.",
            "name": "page",
            "in": "query",
            "type": "string",
            "required": false
          },
          {
            "x-ms-summary": "Per page",
            "description": "Number of items per page. Defaults to 30.",
            "name": "per_page",
            "default": "30",
            "in": "query",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "id"
                  },
                  "resource_state": {
                    "type": "integer",
                    "format": "int32",
                    "description": "resource_state"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "activity_type": {
                    "type": "string",
                    "description": "activity_type"
                  },
                  "distance": {
                    "type": "number",
                    "format": "float",
                    "description": "distance"
                  },
                  "average_grade": {
                    "type": "number",
                    "format": "float",
                    "description": "average_grade"
                  },
                  "maximum_grade": {
                    "type": "number",
                    "format": "float",
                    "description": "maximum_grade"
                  },
                  "elevation_high": {
                    "type": "number",
                    "format": "float",
                    "description": "elevation_high"
                  },
                  "elevation_low": {
                    "type": "number",
                    "format": "float",
                    "description": "elevation_low"
                  },
                  "start_latlng": {
                    "type": "array",
                    "items": {
                      "type": "number",
                      "format": "float"
                    },
                    "description": "start_latlng"
                  },
                  "end_latlng": {
                    "type": "array",
                    "items": {
                      "type": "number",
                      "format": "float"
                    },
                    "description": "end_latlng"
                  },
                  "climb_category": {
                    "type": "integer",
                    "format": "int32",
                    "description": "climb_category"
                  },
                  "city": {
                    "type": "string",
                    "description": "city"
                  },
                  "state": {
                    "type": "string",
                    "description": "state"
                  },
                  "country": {
                    "type": "string",
                    "description": "country"
                  },
                  "private": {
                    "type": "boolean",
                    "description": "private"
                  },
                  "hazardous": {
                    "type": "boolean",
                    "description": "hazardous"
                  },
                  "starred": {
                    "type": "boolean",
                    "description": "starred"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "created_at"
                  },
                  "updated_at": {
                    "type": "string",
                    "description": "updated_at"
                  },
                  "total_elevation_gain": {
                    "type": "number",
                    "format": "float",
                    "description": "total_elevation_gain"
                  },
                  "map": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "polyline": {
                        "type": "string",
                        "description": "polyline"
                      },
                      "resource_state": {
                        "type": "integer",
                        "format": "int32",
                        "description": "resource_state"
                      }
                    },
                    "description": "map"
                  },
                  "effort_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "effort_count"
                  },
                  "athlete_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "athlete_count"
                  },
                  "star_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "star_count"
                  },
                  "athlete_segment_stats": {
                    "type": "object",
                    "properties": {
                      "pr_elapsed_time": {
                        "type": "integer",
                        "format": "int32",
                        "description": "pr_elapsed_time"
                      },
                      "pr_date": {
                        "type": "string",
                        "description": "pr_date"
                      },
                      "effort_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "effort_count"
                      }
                    },
                    "description": "athlete_segment_stats"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/activities/{id}": {
      "get": {
        "summary": "Get Activity",
        "description": "Returns the given activity that is owned by the authenticated athlete. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.",
        "operationId": "GetActivity",
        "parameters": [
          {
            "x-ms-summary": "Include all efforts",
            "description": "To include all segments efforts (true/false).",
            "name": "include_all_efforts",
            "in": "query",
            "type": "string",
            "required": false
          },
          {
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Activity id",
            "description": "The identifier of the activity.",
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "resource_state": {
                  "type": "integer",
                  "format": "int32",
                  "description": "resource_state"
                },
                "external_id": {
                  "type": "string",
                  "description": "external_id"
                },
                "upload_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "upload_id"
                },
                "athlete": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "resource_state": {
                      "type": "integer",
                      "format": "int32",
                      "description": "resource_state"
                    }
                  },
                  "description": "athlete"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "distance": {
                  "type": "number",
                  "format": "float",
                  "description": "distance"
                },
                "moving_time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "moving_time"
                },
                "elapsed_time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "elapsed_time"
                },
                "total_elevation_gain": {
                  "type": "number",
                  "format": "float",
                  "description": "total_elevation_gain"
                },
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "start_date": {
                  "type": "string",
                  "description": "start_date"
                },
                "start_date_local": {
                  "type": "string",
                  "description": "start_date_local"
                },
                "timezone": {
                  "type": "string",
                  "description": "timezone"
                },
                "utc_offset": {
                  "type": "number",
                  "format": "float",
                  "description": "utc_offset"
                },
                "start_latlng": {
                  "type": "array",
                  "items": {
                    "type": "number",
                    "format": "float"
                  },
                  "description": "start_latlng"
                },
                "end_latlng": {
                  "type": "array",
                  "items": {
                    "type": "number",
                    "format": "float"
                  },
                  "description": "end_latlng"
                },
                "achievement_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "achievement_count"
                },
                "kudos_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "kudos_count"
                },
                "comment_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "comment_count"
                },
                "athlete_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "athlete_count"
                },
                "photo_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "photo_count"
                },
                "map": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "polyline": {
                      "type": "string",
                      "description": "polyline"
                    },
                    "resource_state": {
                      "type": "integer",
                      "format": "int32",
                      "description": "resource_state"
                    },
                    "summary_polyline": {
                      "type": "string",
                      "description": "summary_polyline"
                    }
                  },
                  "description": "map"
                },
                "trainer": {
                  "type": "boolean",
                  "description": "trainer"
                },
                "commute": {
                  "type": "boolean",
                  "description": "commute"
                },
                "manual": {
                  "type": "boolean",
                  "description": "manual"
                },
                "private": {
                  "type": "boolean",
                  "description": "private"
                },
                "flagged": {
                  "type": "boolean",
                  "description": "flagged"
                },
                "gear_id": {
                  "type": "string",
                  "description": "gear_id"
                },
                "from_accepted_tag": {
                  "type": "boolean",
                  "description": "from_accepted_tag"
                },
                "average_speed": {
                  "type": "number",
                  "format": "float",
                  "description": "average_speed"
                },
                "max_speed": {
                  "type": "number",
                  "format": "float",
                  "description": "max_speed"
                },
                "average_cadence": {
                  "type": "number",
                  "format": "float",
                  "description": "average_cadence"
                },
                "average_temp": {
                  "type": "integer",
                  "format": "int32",
                  "description": "average_temp"
                },
                "average_watts": {
                  "type": "number",
                  "format": "float",
                  "description": "average_watts"
                },
                "weighted_average_watts": {
                  "type": "integer",
                  "format": "int32",
                  "description": "weighted_average_watts"
                },
                "kilojoules": {
                  "type": "number",
                  "format": "float",
                  "description": "kilojoules"
                },
                "device_watts": {
                  "type": "boolean",
                  "description": "device_watts"
                },
                "has_heartrate": {
                  "type": "boolean",
                  "description": "has_heartrate"
                },
                "max_watts": {
                  "type": "integer",
                  "format": "int32",
                  "description": "max_watts"
                },
                "elev_high": {
                  "type": "number",
                  "format": "float",
                  "description": "elev_high"
                },
                "elev_low": {
                  "type": "number",
                  "format": "float",
                  "description": "elev_low"
                },
                "pr_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "pr_count"
                },
                "total_photo_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total_photo_count"
                },
                "has_kudoed": {
                  "type": "boolean",
                  "description": "has_kudoed"
                },
                "workout_type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "workout_type"
                },
                "suffer_score": {
                  "type": "string",
                  "description": "suffer_score"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "calories": {
                  "type": "number",
                  "format": "float",
                  "description": "calories"
                },
                "segment_efforts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "resource_state": {
                        "type": "integer",
                        "format": "int32",
                        "description": "resource_state"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "activity": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "resource_state": {
                            "type": "integer",
                            "format": "int32",
                            "description": "resource_state"
                          }
                        },
                        "description": "activity"
                      },
                      "athlete": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "resource_state": {
                            "type": "integer",
                            "format": "int32",
                            "description": "resource_state"
                          }
                        },
                        "description": "athlete"
                      },
                      "elapsed_time": {
                        "type": "integer",
                        "format": "int32",
                        "description": "elapsed_time"
                      },
                      "moving_time": {
                        "type": "integer",
                        "format": "int32",
                        "description": "moving_time"
                      },
                      "start_date": {
                        "type": "string",
                        "description": "start_date"
                      },
                      "start_date_local": {
                        "type": "string",
                        "description": "start_date_local"
                      },
                      "distance": {
                        "type": "number",
                        "format": "float",
                        "description": "distance"
                      },
                      "start_index": {
                        "type": "integer",
                        "format": "int32",
                        "description": "start_index"
                      },
                      "end_index": {
                        "type": "integer",
                        "format": "int32",
                        "description": "end_index"
                      },
                      "average_cadence": {
                        "type": "number",
                        "format": "float",
                        "description": "average_cadence"
                      },
                      "device_watts": {
                        "type": "boolean",
                        "description": "device_watts"
                      },
                      "average_watts": {
                        "type": "number",
                        "format": "float",
                        "description": "average_watts"
                      },
                      "segment": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "resource_state": {
                            "type": "integer",
                            "format": "int32",
                            "description": "resource_state"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "activity_type": {
                            "type": "string",
                            "description": "activity_type"
                          },
                          "distance": {
                            "type": "number",
                            "format": "float",
                            "description": "distance"
                          },
                          "average_grade": {
                            "type": "number",
                            "format": "float",
                            "description": "average_grade"
                          },
                          "maximum_grade": {
                            "type": "number",
                            "format": "float",
                            "description": "maximum_grade"
                          },
                          "elevation_high": {
                            "type": "number",
                            "format": "float",
                            "description": "elevation_high"
                          },
                          "elevation_low": {
                            "type": "number",
                            "format": "float",
                            "description": "elevation_low"
                          },
                          "start_latlng": {
                            "type": "array",
                            "items": {
                              "type": "number",
                              "format": "float"
                            },
                            "description": "start_latlng"
                          },
                          "end_latlng": {
                            "type": "array",
                            "items": {
                              "type": "number",
                              "format": "float"
                            },
                            "description": "end_latlng"
                          },
                          "climb_category": {
                            "type": "integer",
                            "format": "int32",
                            "description": "climb_category"
                          },
                          "city": {
                            "type": "string",
                            "description": "city"
                          },
                          "state": {
                            "type": "string",
                            "description": "state"
                          },
                          "country": {
                            "type": "string",
                            "description": "country"
                          },
                          "private": {
                            "type": "boolean",
                            "description": "private"
                          },
                          "hazardous": {
                            "type": "boolean",
                            "description": "hazardous"
                          },
                          "starred": {
                            "type": "boolean",
                            "description": "starred"
                          }
                        },
                        "description": "segment"
                      },
                      "kom_rank": {
                        "type": "integer",
                        "format": "int32",
                        "description": "kom_rank"
                      },
                      "pr_rank": {
                        "type": "integer",
                        "format": "int32",
                        "description": "pr_rank"
                      },
                      "achievements": {
                        "type": "array",
                        "items": {},
                        "description": "achievements"
                      },
                      "hidden": {
                        "type": "boolean",
                        "description": "hidden"
                      }
                    }
                  },
                  "description": "segment_efforts"
                },
                "splits_metric": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "distance": {
                        "type": "number",
                        "format": "float",
                        "description": "distance"
                      },
                      "elapsed_time": {
                        "type": "integer",
                        "format": "int32",
                        "description": "elapsed_time"
                      },
                      "elevation_difference": {
                        "type": "number",
                        "format": "float",
                        "description": "elevation_difference"
                      },
                      "moving_time": {
                        "type": "integer",
                        "format": "int32",
                        "description": "moving_time"
                      },
                      "split": {
                        "type": "integer",
                        "format": "int32",
                        "description": "split"
                      },
                      "average_speed": {
                        "type": "number",
                        "format": "float",
                        "description": "average_speed"
                      },
                      "pace_zone": {
                        "type": "integer",
                        "format": "int32",
                        "description": "pace_zone"
                      }
                    }
                  },
                  "description": "splits_metric"
                },
                "laps": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "resource_state": {
                        "type": "integer",
                        "format": "int32",
                        "description": "resource_state"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "activity": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "resource_state": {
                            "type": "integer",
                            "format": "int32",
                            "description": "resource_state"
                          }
                        },
                        "description": "activity"
                      },
                      "athlete": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "resource_state": {
                            "type": "integer",
                            "format": "int32",
                            "description": "resource_state"
                          }
                        },
                        "description": "athlete"
                      },
                      "elapsed_time": {
                        "type": "integer",
                        "format": "int32",
                        "description": "elapsed_time"
                      },
                      "moving_time": {
                        "type": "integer",
                        "format": "int32",
                        "description": "moving_time"
                      },
                      "start_date": {
                        "type": "string",
                        "description": "start_date"
                      },
                      "start_date_local": {
                        "type": "string",
                        "description": "start_date_local"
                      },
                      "distance": {
                        "type": "number",
                        "format": "float",
                        "description": "distance"
                      },
                      "start_index": {
                        "type": "integer",
                        "format": "int32",
                        "description": "start_index"
                      },
                      "end_index": {
                        "type": "integer",
                        "format": "int32",
                        "description": "end_index"
                      },
                      "total_elevation_gain": {
                        "type": "number",
                        "format": "float",
                        "description": "total_elevation_gain"
                      },
                      "average_speed": {
                        "type": "number",
                        "format": "float",
                        "description": "average_speed"
                      },
                      "max_speed": {
                        "type": "number",
                        "format": "float",
                        "description": "max_speed"
                      },
                      "average_cadence": {
                        "type": "number",
                        "format": "float",
                        "description": "average_cadence"
                      },
                      "device_watts": {
                        "type": "boolean",
                        "description": "device_watts"
                      },
                      "average_watts": {
                        "type": "number",
                        "format": "float",
                        "description": "average_watts"
                      },
                      "lap_index": {
                        "type": "integer",
                        "format": "int32",
                        "description": "lap_index"
                      },
                      "split": {
                        "type": "integer",
                        "format": "int32",
                        "description": "split"
                      }
                    }
                  },
                  "description": "laps"
                },
                "gear": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "primary": {
                      "type": "boolean",
                      "description": "primary"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "resource_state": {
                      "type": "integer",
                      "format": "int32",
                      "description": "resource_state"
                    },
                    "distance": {
                      "type": "integer",
                      "format": "int32",
                      "description": "distance"
                    }
                  },
                  "description": "gear"
                },
                "partner_brand_tag": {
                  "type": "string",
                  "description": "partner_brand_tag"
                },
                "photos": {
                  "type": "object",
                  "properties": {
                    "primary": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "unique_id": {
                          "type": "string",
                          "description": "unique_id"
                        },
                        "urls": {
                          "type": "object",
                          "properties": {
                            "100": {
                              "type": "string",
                              "description": "100"
                            },
                            "600": {
                              "type": "string",
                              "description": "600"
                            }
                          },
                          "description": "urls"
                        },
                        "source": {
                          "type": "integer",
                          "format": "int32",
                          "description": "source"
                        }
                      },
                      "description": "primary"
                    },
                    "use_primary_photo": {
                      "type": "boolean",
                      "description": "use_primary_photo"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "count"
                    }
                  },
                  "description": "photos"
                },
                "highlighted_kudosers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "destination_url": {
                        "type": "string",
                        "description": "destination_url"
                      },
                      "display_name": {
                        "type": "string",
                        "description": "display_name"
                      },
                      "avatar_url": {
                        "type": "string",
                        "description": "avatar_url"
                      },
                      "show_name": {
                        "type": "boolean",
                        "description": "show_name"
                      }
                    }
                  },
                  "description": "highlighted_kudosers"
                },
                "device_name": {
                  "type": "string",
                  "description": "device_name"
                },
                "embed_token": {
                  "type": "string",
                  "description": "embed_token"
                },
                "segment_leaderboard_opt_out": {
                  "type": "boolean",
                  "description": "segment_leaderboard_opt_out"
                },
                "leaderboard_opt_out": {
                  "type": "boolean",
                  "description": "leaderboard_opt_out"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/activities/{id}/laps": {
      "get": {
        "summary": "List Activity Laps",
        "description": "Returns the laps of an activity identified by an identifier. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.",
        "operationId": "ListActivityLaps",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Activity id",
            "description": "The identifier of the activity.",
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "id"
                  },
                  "resource_state": {
                    "type": "integer",
                    "format": "int32",
                    "description": "resource_state"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "activity": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "resource_state": {
                        "type": "integer",
                        "format": "int32",
                        "description": "resource_state"
                      }
                    },
                    "description": "activity"
                  },
                  "athlete": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "resource_state": {
                        "type": "integer",
                        "format": "int32",
                        "description": "resource_state"
                      }
                    },
                    "description": "athlete"
                  },
                  "elapsed_time": {
                    "type": "integer",
                    "format": "int32",
                    "description": "elapsed_time"
                  },
                  "moving_time": {
                    "type": "integer",
                    "format": "int32",
                    "description": "moving_time"
                  },
                  "start_date": {
                    "type": "string",
                    "description": "start_date"
                  },
                  "start_date_local": {
                    "type": "string",
                    "description": "start_date_local"
                  },
                  "distance": {
                    "type": "number",
                    "format": "float",
                    "description": "distance"
                  },
                  "start_index": {
                    "type": "integer",
                    "format": "int32",
                    "description": "start_index"
                  },
                  "end_index": {
                    "type": "integer",
                    "format": "int32",
                    "description": "end_index"
                  },
                  "total_elevation_gain": {
                    "type": "number",
                    "format": "float",
                    "description": "total_elevation_gain"
                  },
                  "average_speed": {
                    "type": "number",
                    "format": "float",
                    "description": "average_speed"
                  },
                  "max_speed": {
                    "type": "number",
                    "format": "float",
                    "description": "max_speed"
                  },
                  "average_cadence": {
                    "type": "number",
                    "format": "float",
                    "description": "average_cadence"
                  },
                  "device_watts": {
                    "type": "boolean",
                    "description": "device_watts"
                  },
                  "average_watts": {
                    "type": "number",
                    "format": "float",
                    "description": "average_watts"
                  },
                  "lap_index": {
                    "type": "integer",
                    "format": "int32",
                    "description": "lap_index"
                  },
                  "split": {
                    "type": "integer",
                    "format": "int32",
                    "description": "split"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/activities/{id}/comments": {
      "get": {
        "summary": "List Activity Comments",
        "description": "Returns the comments on the given activity. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.",
        "operationId": "ListActivityComments",
        "parameters": [
          {
            "x-ms-summary": "Page",
            "description": "Page number. Defaults to 1.",
            "name": "page",
            "in": "query",
            "type": "string",
            "required": false
          },
          {
            "x-ms-summary": "Per page",
            "description": "Number of items per page. Defaults to 30.",
            "name": "per_page",
            "default": "30",
            "in": "query",
            "type": "string",
            "required": false
          },
          {
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Activity id",
            "description": "The identifier of the activity.",
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "id"
                  },
                  "activity_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "activity_id"
                  },
                  "post_id": {
                    "type": "string",
                    "description": "post_id"
                  },
                  "resource_state": {
                    "type": "integer",
                    "format": "int32",
                    "description": "resource_state"
                  },
                  "text": {
                    "type": "string",
                    "description": "text"
                  },
                  "mentions_metadata": {
                    "type": "string",
                    "description": "mentions_metadata"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "created_at"
                  },
                  "athlete": {
                    "type": "object",
                    "properties": {
                      "firstname": {
                        "type": "string",
                        "description": "firstname"
                      },
                      "lastname": {
                        "type": "string",
                        "description": "lastname"
                      }
                    },
                    "description": "athlete"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/activities/{id}/kudos": {
      "get": {
        "summary": "List Activity Kudoers",
        "description": "Returns the athletes who kudoed an activity identified by an identifier. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.",
        "operationId": "ListActivityKudoers",
        "parameters": [
          {
            "x-ms-summary": "Page",
            "description": "Page number. Defaults to 1.",
            "name": "page",
            "in": "query",
            "type": "string",
            "required": false
          },
          {
            "x-ms-summary": "Per page",
            "description": "Number of items per page. Defaults to 30.",
            "name": "per_page",
            "default": "30",
            "in": "query",
            "type": "string",
            "required": false
          },
          {
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Activity id",
            "description": "The identifier of the activity.",
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "firstname": {
                    "type": "string",
                    "description": "firstname"
                  },
                  "lastname": {
                    "type": "string",
                    "description": "lastname"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/clubs/{id}": {
      "get": {
        "summary": "Get Club",
        "description": "Returns a given club using its identifier.",
        "operationId": "GetClub",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Club id",
            "description": "The identifier of the club.",
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "resource_state": {
                  "type": "integer",
                  "format": "int32",
                  "description": "resource_state"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "profile_medium": {
                  "type": "string",
                  "description": "profile_medium"
                },
                "profile": {
                  "type": "string",
                  "description": "profile"
                },
                "cover_photo": {
                  "type": "string",
                  "description": "cover_photo"
                },
                "cover_photo_small": {
                  "type": "string",
                  "description": "cover_photo_small"
                },
                "sport_type": {
                  "type": "string",
                  "description": "sport_type"
                },
                "city": {
                  "type": "string",
                  "description": "city"
                },
                "state": {
                  "type": "string",
                  "description": "state"
                },
                "country": {
                  "type": "string",
                  "description": "country"
                },
                "private": {
                  "type": "boolean",
                  "description": "private"
                },
                "member_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "member_count"
                },
                "featured": {
                  "type": "boolean",
                  "description": "featured"
                },
                "verified": {
                  "type": "boolean",
                  "description": "verified"
                },
                "url": {
                  "type": "string",
                  "description": "url"
                },
                "membership": {
                  "type": "string",
                  "description": "membership"
                },
                "admin": {
                  "type": "boolean",
                  "description": "admin"
                },
                "owner": {
                  "type": "boolean",
                  "description": "owner"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "club_type": {
                  "type": "string",
                  "description": "club_type"
                },
                "post_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "post_count"
                },
                "owner_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "owner_id"
                },
                "following_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "following_count"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/clubs/{id}/members": {
      "get": {
        "summary": "List Club Members",
        "description": "Returns a list of the athletes who are members of a given club.",
        "operationId": "ListClubMembers",
        "parameters": [
          {
            "x-ms-summary": "Page",
            "description": "Page number. Defaults to 1.",
            "name": "page",
            "in": "query",
            "type": "string",
            "required": false
          },
          {
            "x-ms-summary": "Per page",
            "description": "Number of items per page. Defaults to 30.",
            "name": "per_page",
            "default": "30",
            "in": "query",
            "type": "string",
            "required": false
          },
          {
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Club id",
            "description": "The identifier of the club.",
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "resource_state": {
                    "type": "integer",
                    "format": "int32",
                    "description": "resource_state"
                  },
                  "firstname": {
                    "type": "string",
                    "description": "firstname"
                  },
                  "lastname": {
                    "type": "string",
                    "description": "lastname"
                  },
                  "membership": {
                    "type": "string",
                    "description": "membership"
                  },
                  "admin": {
                    "type": "boolean",
                    "description": "admin"
                  },
                  "owner": {
                    "type": "boolean",
                    "description": "owner"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/clubs/{id}/admins": {
      "get": {
        "summary": "List Club Administrators",
        "description": "Returns a list of the administrators of a given club.",
        "operationId": "ListClubAdministrators",
        "parameters": [
          {
            "x-ms-summary": "Page",
            "description": "Page number. Defaults to 1.",
            "name": "page",
            "in": "query",
            "type": "string",
            "required": false
          },
          {
            "x-ms-summary": "Per page",
            "description": "Number of items per page. Defaults to 30.",
            "name": "per_page",
            "default": "30",
            "in": "query",
            "type": "string",
            "required": false
          },
          {
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Club id",
            "description": "The identifier of the club.",
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "resource_state": {
                    "type": "integer",
                    "format": "int32",
                    "description": "resource_state"
                  },
                  "firstname": {
                    "type": "string",
                    "description": "firstname"
                  },
                  "lastname": {
                    "type": "string",
                    "description": "lastname"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/clubs/{id}/activities": {
      "get": {
        "summary": "List Club Activities",
        "description": "Retrieve recent activities from members of a specific club. The authenticated athlete must belong to the requested club in order to hit this endpoint. Pagination is supported. Athlete profile visibility is respected for all activities.",
        "operationId": "ListClubActivities",
        "parameters": [
          {
            "x-ms-summary": "Page",
            "description": "Page number. Defaults to 1.",
            "name": "page",
            "in": "query",
            "type": "string",
            "required": false
          },
          {
            "x-ms-summary": "Per page",
            "description": "Number of items per page. Defaults to 30.",
            "name": "per_page",
            "default": "30",
            "in": "query",
            "type": "string",
            "required": false
          },
          {
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Club id",
            "description": "The identifier of the club.",
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "resource_state": {
                    "type": "integer",
                    "format": "int32",
                    "description": "resource_state"
                  },
                  "athlete": {
                    "type": "object",
                    "properties": {
                      "resource_state": {
                        "type": "integer",
                        "format": "int32",
                        "description": "resource_state"
                      },
                      "firstname": {
                        "type": "string",
                        "description": "firstname"
                      },
                      "lastname": {
                        "type": "string",
                        "description": "lastname"
                      }
                    },
                    "description": "athlete"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "distance": {
                    "type": "number",
                    "format": "float",
                    "description": "distance"
                  },
                  "moving_time": {
                    "type": "integer",
                    "format": "int32",
                    "description": "moving_time"
                  },
                  "elapsed_time": {
                    "type": "integer",
                    "format": "int32",
                    "description": "elapsed_time"
                  },
                  "total_elevation_gain": {
                    "type": "number",
                    "format": "float",
                    "description": "total_elevation_gain"
                  },
                  "type": {
                    "type": "string",
                    "description": "type"
                  },
                  "workout_type": {
                    "type": "integer",
                    "format": "int32",
                    "description": "workout_type"
                  }
                }
              }
            }
          },
          "500": {
[...]
