{
  "swagger": "2.0",
  "info": {
    "version": "0.1",
    "title": "Occuspace",
    "description": "The Occuspace connector provides real-time and historical occupancy data for Occuspace-enabled locations. Show how many people are in your space in real-time and learn from past trends to let people know when to expect busy times.",
    "contact": {
      "name": "Occuspace Support",
      "url": "https://occuspace.io/#contact",
      "email": "support@occuspace.io"
    }
  },
  "host": "api.occuspace.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://occuspace.io"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://occuspace.io/public/assets/Privacy_Policy.pdf"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Intelligence;Data"
    }
  ],
  "paths": {
    "/v1/locations": {
      "get": {
        "description": "An overall list of the spaces that Occuspace measures for a customer.",
        "summary": "Location List",
        "operationId": "LocationList",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "parentId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "parentId"
                      },
                      "capacity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "capacity"
                      },
                      "earliestCount": {
                        "type": "string",
                        "description": "earliestCount"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        }
      }
    },
    "/v1/location/{id}:/now": {
      "get": {
        "description": "The real-time occupancy count for a specific location being measured by Occuspace.",
        "summary": "Real-Time Data",
        "operationId": "Real-TimeData",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "minimum": 1,
            "exclusiveMinimum": false,
            "description": "ID of the location being queried for real-time data.",
            "x-ms-summary": "ID of zone being queried for count data. Can be retrieved from location list.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "count"
                    },
                    "percentage": {
                      "type": "number",
                      "format": "float",
                      "description": "percentage"
                    },
                    "timestamp": {
                      "type": "string",
                      "description": "timestamp"
                    },
                    "childCounts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "count"
                          },
                          "percentage": {
                            "type": "number",
                            "format": "float",
                            "description": "percentage"
                          }
                        }
                      },
                      "description": "childCounts"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        }
      }
    },
    "/v1/location/{id}:/counts": {
      "get": {
        "description": "Historical occupancy data for a specific location being measured by Occuspace.",
        "summary": "Historical Data",
        "operationId": "HistoricalData",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "minimum": 1,
            "exclusiveMinimum": false,
            "description": "ID of zone being queried for count data.",
            "x-ms-summary": "ID of zone being queried for count data. Can be retrieved from location list.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "UTC ISO timestamp of start date.",
            "x-ms-summary": "UTC ISO timestamp of start date."

          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "UTC ISO timestamp of end date.",
            "x-ms-summary": "UTC ISO timestamp of end date."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "counts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "percentage": {
                            "type": "number",
                            "format": "float",
                            "description": "percentage"
                          },
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "count"
                          },
                          "timestamp": {
                            "type": "string",
                            "description": "timestamp"
                          },
                          "normalizedDate": {
                            "type": "string",
                            "description": "normalizedDate"
                          },
                          "normalizedTime": {
                            "type": "string",
                            "description": "normalizedTime"
                          }
                        }
                      },
                      "description": "counts"
                    },
                    "maximum": {
                      "type": "object",
                      "properties": {
                        "percentage": {
                          "type": "number",
                          "format": "float",
                          "description": "percentage"
                        },
                        "count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "count"
                        },
                        "timestamp": {
                          "type": "string",
                          "description": "timestamp"
                        },
                        "normalizedDate": {
                          "type": "string",
                          "description": "normalizedDate"
                        },
                        "normalizedTime": {
                          "type": "string",
                          "description": "normalizedTime"
                        }
                      },
                      "description": "maximum"
                    },
                    "minimum": {
                      "type": "object",
                      "properties": {
                        "percentage": {
                          "type": "number",
                          "format": "float",
                          "description": "percentage"
                        },
                        "count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "count"
                        },
                        "timestamp": {
                          "type": "string",
                          "description": "timestamp"
                        },
                        "normalizedDate": {
                          "type": "string",
                          "description": "normalizedDate"
                        },
                        "normalizedTime": {
                          "type": "string",
                          "description": "normalizedTime"
                        }
                      },
                      "description": "minimum"
                    },
                    "average": {
                      "type": "integer",
                      "format": "int32",
                      "description": "average"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "externalDocs": {
    "url": "https://occuspace.io/api"
  }
}
