{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "ScrapingBee",
    "description": "ScrapingBee is the most powerful web scraping service on the web. It will handle headless browsers, proxies, CAPTCHAs, extracting complex structured information from any website with CSS selectors, and running JavaScript scenarios (click, scroll, form filling, etc.).",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "app.scrapingbee.com",
  "basePath": "/api",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1": {
      "get": {
        "summary": "Scrap URL",
        "tags": [
          "HTML API"
        ],
        "operationId": "HTML",
        "deprecated": false,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "x-ms-summary": "URL",
            "required": true,
            "type": "string",
            "description": "The URL you want to scrape."
          },
          {
            "name": "render_js",
            "in": "query",
            "x-ms-summary": "Render JS",
            "required": true,
            "type": "boolean",
            "description": "Render the website in an headless browser.",
            "default": true,
            "enum": [
              true,
              false
            ]
          },
          {
            "name": "js_scenario",
            "in": "query",
            "x-ms-summary": "JS Scenario",
            "required": false,
            "type": "string",
            "description": "Execute JavaScript before rendering."
          },
          {
            "name": "wait",
            "in": "query",
            "x-ms-summary": "Wait",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Time to wait before rendering."
          },
          {
            "name": "wait_for",
            "in": "query",
            "x-ms-summary": "Wait For",
            "required": false,
            "type": "string",
            "description": "Wait for a particular element to appear in the DOM."
          },
          {
            "name": "block_ads",
            "in": "query",
            "x-ms-summary": "Block Ads",
            "required": false,
            "type": "boolean",
            "description": "Whether to block ads."
          },
          {
            "name": "block_resources",
            "in": "query",
            "x-ms-summary": "Block Resources",
            "required": false,
            "type": "boolean",
            "description": "Whether to block all images and CSS."
          },
          {
            "name": "window_width",
            "in": "query",
            "x-ms-summary": "Window Width",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The width of the window to use."
          },
          {
            "name": "window_height",
            "in": "query",
            "x-ms-summary": "Window Height",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The height of the window to use."
          },
          {
            "name": "premium_proxy",
            "in": "query",
            "x-ms-summary": "Premium Proxy",
            "required": false,
            "type": "boolean",
            "description": "Whether to use a proxy to scrap website."
          },
          {
            "name": "country_code",
            "in": "query",
            "x-ms-summary": "Country Code",
            "required": false,
            "type": "string",
            "description": "The proxy country to use to scrap website."
          },
          {
            "name": "stealth_proxy",
            "in": "query",
            "x-ms-summary": "Stealth Proxy",
            "required": false,
            "type": "boolean",
            "description": "Whether to use a stealth proxy to scrap website."
          },
          {
            "name": "own_proxy",
            "in": "query",
            "x-ms-summary": "Own Proxy",
            "required": false,
            "type": "string",
            "description": "Your own proxy to use."
          },
          {
            "name": "extract_rules",
            "in": "query",
            "x-ms-summary": "Extract Rules",
            "required": false,
            "type": "string",
            "description": "Extraction rules to parse the HTML before responding."
          },
          {
            "name": "screenshot",
            "in": "query",
            "x-ms-summary": "Screenshot",
            "required": false,
            "type": "boolean",
            "description": "Take a screenshot of the requested website."
          },
          {
            "name": "screenshot_selector",
            "in": "query",
            "x-ms-summary": "Screenshot Selector",
            "required": false,
            "type": "string",
            "description": "Take a screenshot of a particular CSS selector."
          },
          {
            "name": "screenshot_full_page",
            "in": "query",
            "x-ms-summary": "Screenshot Full Page",
            "required": false,
            "type": "boolean",
            "description": "Take a screenshot of the entire website."
          },
          {
            "name": "json_response",
            "in": "query",
            "x-ms-summary": "JSON Response",
            "required": true,
            "type": "boolean",
            "default": true,
            "description": "Return the response as JSON.",
            "x-ms-visibility": "internal"
          },
          {
            "name": "return_page_source",
            "in": "query",
            "x-ms-summary": "Return Page Source",
            "required": false,
            "type": "boolean",
            "description": "Return the page source as well."
          },
          {
            "name": "session_id",
            "in": "query",
            "x-ms-summary": "Session ID",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "All API requests using the same session_id will be routed through the same IP address for a duration of 5 minutes."
          },
          {
            "name": "timeout",
            "in": "query",
            "x-ms-summary": "Timeout",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of ms timeout, between 1000 and 140000 (default)."
          },
          {
            "name": "cookies",
            "in": "query",
            "x-ms-summary": "Cookies",
            "required": false,
            "type": "string",
            "description": "Custom cookie to pass to the website."
          },
          {
            "name": "device",
            "in": "query",
            "x-ms-summary": "Device",
            "required": false,
            "type": "string",
            "default": "desktop",
            "enum": [
              "desktop",
              "mobile"
            ],
            "description": "The kind of device sent to the server."
          },
          {
            "name": "custom_google",
            "in": "query",
            "x-ms-summary": "Custom Google",
            "required": false,
            "type": "boolean",
            "description": "Set to true if scraping webpage on Google or a Google subdomain."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "body": {
                  "type": "string",
                  "description": "The body.",
                  "title": "Body"
                },
                "cookies": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "value": {
                        "type": "string",
                        "description": "The value.",
                        "title": "Value"
                      },
                      "domain": {
                        "type": "string",
                        "description": "The domain.",
                        "title": "Domain"
                      },
                      "path": {
                        "type": "string",
                        "description": "The path.",
                        "title": "Path"
                      },
                      "expires": {
                        "type": "number",
                        "format": "float",
                        "description": "When expires.",
                        "title": "Expires"
                      },
                      "size": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The size.",
                        "title": "Size"
                      },
                      "httpOnly": {
                        "type": "boolean",
                        "description": "Whether only HTTP.",
                        "title": "HTTP Only"
                      },
                      "secure": {
                        "type": "boolean",
                        "description": "Whether secure.",
                        "title": "Secure"
                      },
                      "session": {
                        "type": "boolean",
                        "description": "Whether session.",
                        "title": "Session"
                      },
                      "sameParty": {
                        "type": "boolean",
                        "description": "Whether the same party.",
                        "title": "Same Party"
                      },
                      "sourceScheme": {
                        "type": "string",
                        "description": "The source scheme.",
                        "title": "Source Scheme"
                      },
                      "sourcePort": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The source port.",
                        "title": "Source Port"
                      }
                    }
                  },
                  "title": "Cookies"
                },
                "evaluate_results": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The evaluated results.",
                  "title": "Evaluated Results"
                },
                "js_scenario_report": {
                  "type": "object",
                  "properties": {},
                  "description": "The JavaScript scenario report.",
                  "title": "JS Scenario Report"
                },
                "headers": {
                  "type": "object",
                  "properties": {
                    "age": {
                      "type": "string",
                      "description": "The age.",
                      "title": "Age"
                    },
                    "cache-control": {
                      "type": "string",
                      "description": "The cache control.",
                      "title": "Cache Control"
                    },
                    "content-encoding": {
                      "type": "string",
                      "description": "The content encoding.",
                      "title": "Content Encoding"
                    },
                    "content-security-policy": {
                      "type": "string",
                      "description": "The content security policy.",
                      "title": "Content Security Policy"
                    },
                    "content-type": {
                      "type": "string",
                      "description": "The content type.",
                      "title": "Content Type"
                    },
                    "date": {
                      "type": "string",
                      "description": "The date.",
                      "title": "Date"
                    },
                    "etag": {
                      "type": "string",
                      "description": "The eTag.",
                      "title": "ETag"
                    },
                    "referrer-policy": {
                      "type": "string",
                      "description": "The referrer policy.",
                      "title": "Referrer Policy"
                    },
                    "server": {
                      "type": "string",
                      "description": "The server.",
                      "title": "Server"
                    },
                    "strict-transport-security": {
                      "type": "string",
                      "description": "The strict transport security.",
                      "title": "Strict Transport Security"
                    },
                    "x-content-type-options": {
                      "type": "string",
                      "description": "The x content type options.",
                      "title": "X Content Type Options"
                    },
                    "x-frame-options": {
                      "type": "string",
                      "description": "The x frame options.",
                      "title": "X Frame Options"
                    },
                    "x-matched-path": {
                      "type": "string",
                      "description": "The x matched path.",
                      "title": "X Matched Path"
                    },
                    "x-powered-by": {
                      "type": "string",
                      "description": "The x powered by.",
                      "title": "X Powered By"
                    },
                    "x-vercel-cache": {
                      "type": "string",
                      "description": "The x Vercel cache.",
                      "title": "X Vercel Cache"
                    },
                    "x-vercel-id": {
                      "type": "string",
                      "description": "The x Vercel identifier.",
                      "title": "X Vercel ID"
                    }
                  },
                  "title": "Headers"
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                },
                "iframes": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The iFrames.",
                  "title": "IFrames"
                },
                "xhr": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "status_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The status code.",
                        "title": "Status Code"
                      },
                      "method": {
                        "type": "string",
                        "description": "The method.",
                        "title": "Method"
                      },
                      "headers": {
                        "type": "object",
                        "properties": {
                          "age": {
                            "type": "string",
                            "description": "The age.",
                            "title": "Age"
                          },
                          "cache-control": {
                            "type": "string",
                            "description": "The cache control.",
                            "title": "Cache Control"
                          },
                          "content-length": {
                            "type": "string",
                            "description": "The content length.",
                            "title": "Content Length"
                          },
                          "content-security-policy": {
                            "type": "string",
                            "description": "The content security policy.",
                            "title": "Content Security Policy"
                          },
                          "content-type": {
                            "type": "string",
                            "description": "The content type.",
                            "title": "Content Type"
                          },
                          "date": {
                            "type": "string",
                            "description": "The date.",
                            "title": "Date"
                          },
                          "etag": {
                            "type": "string",
                            "description": "The eTag.",
                            "title": "ETag"
                          },
                          "referrer-policy": {
                            "type": "string",
                            "description": "The referrer policy.",
                            "title": "Referrer Policy"
                          },
                          "server": {
                            "type": "string",
                            "description": "The server.",
                            "title": "Server"
                          },
                          "strict-transport-security": {
                            "type": "string",
                            "description": "The strict transport security.",
                            "title": "Strict Transport Security"
                          },
                          "x-content-type-options": {
                            "type": "string",
                            "description": "The X content type options.",
                            "title": "X Content Type Options"
                          },
                          "x-frame-options": {
                            "type": "string",
                            "description": "The X frame options.",
                            "title": "X Frame Options"
                          },
                          "x-matched-path": {
                            "type": "string",
                            "description": "The X matching path.",
                            "title": "X Matched Path"
                          },
                          "x-vercel-cache": {
                            "type": "string",
                            "description": "The X Vercel cache.",
                            "title": "X Vercel Cache"
                          },
                          "x-vercel-id": {
                            "type": "string",
                            "description": "The X Vercel identifier.",
                            "title": "X Vercel ID"
                          },
                          "access-control-allow-origin": {
                            "type": "string",
                            "description": "The access control allow origin.",
                            "title": "Access Control Allow Origin"
                          },
                          "access-control-expose-headers": {
                            "type": "string",
                            "description": "The access control expose headers.",
                            "title": "Access Control Expose Headers"
                          },
                          "alt-svc": {
                            "type": "string",
                            "description": "The alt SVC.",
                            "title": "Alt SVC"
                          },
                          "vary": {
                            "type": "string",
                            "description": "The vary.",
                            "title": "Vary"
                          },
                          "via": {
                            "type": "string",
                            "description": "The via.",
                            "title": "Via"
                          },
                          "x-envoy-upstream-service-time": {
                            "type": "string",
                            "description": "The X envoy upstream service time.",
                            "title": "X Envoy Upstream Service Time"
                          },
                          "x-amzn-requestid": {
                            "type": "string",
                            "description": "The X Amazon request identifier.",
                            "title": "X Amazon Request ID"
                          },
                          "x-amzn-trace-id": {
                            "type": "string",
                            "description": "The X Amazon trace identifier.",
                            "title": "X Amazon Trace ID"
                          }
                        },
                        "title": "Headers"
                      },
                      "body": {
                        "type": "string",
                        "description": "The body.",
                        "title": "Body"
                      }
                    }
                  },
                  "title": "XHR"
                },
                "cost": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The cost.",
                  "title": "Cost"
                },
                "initial-status-code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The initial status code.",
                  "title": "Initial Status Code"
                },
                "resolved-url": {
                  "type": "string",
                  "description": "The resolved URL address.",
                  "title": "Resolved URL"
                },
                "metadata": {
                  "type": "object",
                  "properties": {
                    "microdata": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The microdata.",
                      "title": "Microdata"
                    },
                    "json-ld": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "@context": {
                            "type": "string",
                            "description": "The context.",
                            "title": "Context"
                          },
                          "@type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "description": {
                            "type": "string",
                            "description": "The description.",
                            "title": "Description"
                          },
                          "mainEntityOfPage": {
                            "type": "object",
                            "properties": {
                              "@type": {
                                "type": "string",
                                "description": "The type.",
                                "title": "Type"
                              },
                              "url": {
                                "type": "string",
                                "description": "The URL address.",
                                "title": "URL"
                              }
                            },
                            "title": "Main Entity Of Page"
                          },
                          "image": {
                            "type": "object",
                            "properties": {
                              "@type": {
                                "type": "string",
                                "description": "The type.",
                                "title": "Type"
                              },
                              "url": {
                                "type": "string",
                                "description": "The URL address.",
                                "title": "URL"
                              }
                            },
                            "title": "Image"
                          },
                          "publisher": {
                            "type": "object",
                            "properties": {
                              "@type": {
                                "type": "string",
                                "description": "The type.",
                                "title": "Type"
                              },
                              "name": {
                                "type": "string",
                                "description": "The name.",
                                "title": "Name"
                              },
                              "url": {
                                "type": "string",
                                "description": "The URL address.",
                                "title": "URL"
                              }
                            },
                            "title": "Publisher"
                          },
                          "sameAs": {
                            "type": "string",
                            "description": "The same as.",
                            "title": "Same As"
                          }
                        }
                      },
                      "title": "JSON LD"
                    },
                    "opengraph": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "og:title": {
                            "type": "string",
                            "description": "The Open Graph title.",
                            "title": "Open Graph Title"
                          },
                          "og:description": {
                            "type": "string",
                            "description": "The Open Graph description.",
                            "title": "Open Graph Description"
                          },
                          "og:site_name": {
                            "type": "string",
                            "description": "The Open Graph site name.",
                            "title": "Open Graph Site Name"
                          },
                          "og:url": {
                            "type": "string",
                            "description": "The Open Graph URL address.",
                            "title": "Open Graph URL"
                          },
                          "og:image": {
                            "type": "string",
                            "description": "The Open Graph image.",
                            "title": "Open Graph Image"
                          },
                          "@type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "@context": {
                            "type": "object",
                            "properties": {
                              "og": {
                                "type": "string",
                                "description": "The Open Graph.",
                                "title": "OG"
                              }
                            },
                            "title": "Context"
                          }
                        }
                      },
                      "title": "Open Graph"
                    },
                    "dublincore": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "elements": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "content": {
                                  "type": "string",
                                  "description": "The content.",
                                  "title": "Content"
                                },
                                "URI": {
                                  "type": "string",
                                  "description": "The URI.",
                                  "title": "URI"
                                }
                              }
                            },
                            "title": "Elements"
                          },
                          "terms": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The terms.",
                            "title": "Terms"
                          },
                          "@context": {
                            "type": "object",
                            "properties": {},
                            "description": "The context.",
                            "title": "Context"
                          }
                        }
                      },
                      "title": "Dublincore"
                    }
                  },
                  "title": "Metadata"
                }
              }
            }
          }
        },
        "description": "Fetches the URL requested to scrap and will render JavaScript if requested.",
        "x-ms-visibility": "important"
      }
    },
    "/v1/usage": {
      "get": {
        "summary": "Get usage",
        "tags": [
          "HTML API"
        ],
        "operationId": "UsageInformation",
        "deprecated": false,
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "max_api_credit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The max API credit.",
                  "title": "Max API Credit"
                },
                "used_api_credit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The used API credit.",
                  "title": "Used API Credit"
                },
                "max_concurrency": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The max concurrency.",
                  "title": "Max Concurrency"
                },
                "current_concurrency": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current concurrency.",
                  "title": "Current Concurrency"
                },
                "renewal_subscription_date": {
                  "type": "string",
                  "description": "The renewal subscription date.",
                  "title": "Renewal Subscription Date"
                }
              }
            }
          }
        },
        "description": "Retrieve information about credit consumption and concurrency usage."
      }
    },
    "/v1/store/google": {
      "get": {
        "summary": "Perform Google search",
        "tags": [
          "Google Search API"
        ],
        "operationId": "SimpleSearch",
        "deprecated": false,
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "required": true,
            "type": "string",
            "description": "The text you would put in the Google search bar."
          },
          {
            "name": "country_code",
            "in": "query",
            "x-ms-summary": "Country Code",
            "required": false,
            "type": "string",
            "description": "The country you would like the request to come from."
          },
          {
            "name": "nb_results",
            "in": "query",
            "x-ms-summary": "Results",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The number of results to return."
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The page number to extract results from."
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "required": false,
            "type": "string",
            "description": "The language to return the results in."
          },
          {
            "name": "extra_params",
            "in": "query",
            "x-ms-summary": "Extra Params",
            "required": false,
            "type": "string",
            "description": "Any additional URL parameters to submit."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "meta_data": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    },
                    "number_of_results": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of results.",
                      "title": "Results"
                    },
                    "location": {
                      "type": "string",
                      "description": "The location.",
                      "title": "Location"
                    },
                    "number_of_organic_results": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of organic results.",
                      "title": "Organic Results"
                    },
                    "number_of_ads": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of ads.",
                      "title": "Ads"
                    },
                    "number_of_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The page number.",
                      "title": "Page"
                    },
                    "no_results_message": {
                      "type": "string",
                      "description": "The no results message.",
                      "title": "No Results Message"
                    }
                  },
                  "title": "Meta Data"
                },
                "organic_results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "displayed_url": {
                        "type": "string",
                        "description": "The displayed URL adress.",
                        "title": "Displayed URL"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "extra_info": {
                        "type": "string",
                        "description": "The extra info.",
                        "title": "Extra Info"
                      },
                      "position": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The position.",
                        "title": "Position"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      }
                    }
                  },
                  "title": "Organic Results"
                },
                "local_results": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The local results.",
                  "title": "Local Results"
                },
                "top_ads": {
                  "type": "string",
                  "description": "The top ads.",
                  "title": "Top Ads"
                },
                "bottom_ads": {
                  "type": "string",
                  "description": "The bottom ads.",
                  "title": "Bottom Ads"
                },
                "related_queries": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "text": {
                        "type": "string",
                        "description": "The text.",
                        "title": "Text"
                      },
                      "position": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The position.",
                        "title": "Position"
                      }
                    }
                  },
                  "title": "Related Queries"
                },
                "questions": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The questions.",
                  "title": "Questions"
                }
              }
            }
          }
        },
        "description": "Retrieves a scrape of Google Search results pages"
      }
    }
  },
  "definitions": {
    "extract_rules": {
      "title": "Extract Rules",
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        }
      },
      "required": [
        "title"
      ]
    },
    "extract_rules1": {
      "title": "extract_rules1",
      "type": "object",
      "properties": {
        "all_links": {
          "$ref": "#/definitions/AllLinks"
        }
      },
      "required": [
        "all_links"
      ]
    },
    "AllLinks": {
      "title": "AllLinks",
      "type": "object",
      "properties": {
        "selector": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "output": {
          "$ref": "#/definitions/Output"
        }
      },
      "required": [
        "selector",
        "type",
        "output"
      ]
    },
    "Output": {
      "title": "Output",
      "type": "object",
      "properties": {
        "anchor": {
          "type": "string"
        },
        "href": {
          "$ref": "#/definitions/Href"
        }
      },
      "required": [
        "anchor",
        "href"
      ]
    },
    "Href": {
      "title": "Href",
      "type": "object",
      "properties": {
        "selector": {
          "type": "string"
        },
        "output": {
          "type": "string"
        }
      },
      "required": [
        "selector",
        "output"
      ]
    },
    "extract_rules2": {
      "title": "extract_rules2",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "required": [
        "text"
      ]
    },
    "extract_rules3": {
      "title": "extract_rules3",
      "type": "object",
      "properties": {
        "email_addresses": {
          "$ref": "#/definitions/EmailAddresses"
        }
      },
      "required": [
        "email_addresses"
      ]
    },
    "EmailAddresses": {
      "title": "EmailAddresses",
      "type": "object",
      "properties": {
        "selector": {
          "type": "string"
        },
        "output": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      },
      "required": [
        "selector",
        "output",
        "type"
      ]
    },
    "js_scenario": {
      "title": "Js Scenario",
      "type": "object",
      "properties": {
        "instructions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Instruction"
          }
        }
      },
      "required": [
        "instructions"
      ]
    },
    "Instruction": {
      "title": "Instruction",
      "type": "object",
      "properties": {
        "wait": {
          "type": "integer",
          "format": "int32"
        }
      },
      "required": [
        "wait"
      ]
    },
    "js_scenario1": {
      "title": "js_scenario1",
      "type": "object",
      "properties": {
        "instructions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Instruction1"
          }
        }
      },
      "required": [
        "instructions"
      ]
    },
    "Instruction1": {
      "title": "Instruction1",
      "type": "object",
      "properties": {
        "wait_for_and_click": {
          "type": "string"
        }
      },
      "required": [
        "wait_for_and_click"
      ]
    },
    "js_scenario2": {
      "title": "js_scenario2",
      "type": "object",
      "properties": {
        "instructions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Instruction2"
          }
        }
      },
      "required": [
        "instructions"
      ]
    },
    "Instruction2": {
      "title": "Instruction2",
      "type": "object",
      "properties": {
        "scroll_x": {
          "type": "integer",
          "format": "int32"
        }
      },
      "required": [
        "scroll_x"
      ]
    },
    "js_scenario3": {
      "title": "js_scenario3",
      "type": "object",
      "properties": {
        "instructions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Instruction3"
          }
        }
      },
      "required": [
        "instructions"
      ]
    },
    "Instruction3": {
      "title": "Instruction3",
      "type": "object",
      "properties": {
        "scroll_y": {
          "type": "integer",
          "format": "int32"
        }
      },
      "required": [
        "scroll_y"
      ]
    },
    "js_scenario4": {
      "title": "js_scenario4",
      "type": "object",
      "properties": {
        "instructions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Instruction4"
          }
        }
      },
      "required": [
        "instructions"
      ]
    },
    "Instruction4": {
      "title": "Instruction4",
      "type": "object",
      "properties": {
        "fill": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "fill"
      ]
    },
    "js_scenario5": {
      "title": "js_scenario5",
      "type": "object",
      "properties": {
        "instructions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Instruction5"
          }
        }
      },
      "required": [
        "instructions"
      ]
    },
    "Instruction5": {
      "title": "Instruction5",
      "type": "object",
      "properties": {
        "evaluate": {
          "type": "string"
        }
      },
      "required": [
        "evaluate"
      ]
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "api_key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [
    {
      "name": "HTML API"
    },
    {
      "name": "Data Extraction"
    },
    {
      "name": "JavaScript Execution"
    },
    {
      "name": "Google Search API"
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.scrapingbee.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.scrapingbee.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Website"
    }
  ]
}
