{
  "swagger": "2.0",
  "info": {
    "title": "Plumsail Forms",
    "description": "Plumsail Forms allows you to design rich web forms, share them with your users, and automate processing of submissions and attachments: generate documents, create records in Excel or Google Sheets, save data to SharePoint or One Drive. Find more information at https://plumsail.com/forms/public-forms/",
    "contact": {
      "name": "Plumsail Team",
      "url": "https://plumsail.com",
      "email": "support@plumsail.com"
    },
    "version": "v5"
  },
  "host": "forms-api.plumsail.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/attachments": {
      "get": {
        "tags": [
          "Attachments"
        ],
        "operationId": "DownloadAttachment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "fileUrl",
            "required": true,
            "type": "string",
            "format": "uri",
            "x-ms-summary": "File URL",
            "description": "File URL"
          }
        ],
        "responses": {
          "200": {
            "description": "The contents of the attachment",
            "schema": {
              "format": "binary",
              "title": "Result file",
              "description": "The contents of the attachment",
              "type": "string"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Download attachment",
        "description": "Downloads an attachment by its URL"
      },
      "delete": {
        "tags": [
          "Attachments"
        ],
        "operationId": "DeleteAttachment",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "fileUrl",
            "required": true,
            "schema": {
              "format": "uri",
              "type": "string"
            },
            "x-ms-summary": "File URL",
            "description": "File URL"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Delete attachment",
        "description": "Deletes an attachment by its URL"
      }
    },
    "/api/v{version}/designer/forms": {
      "get": {
        "tags": [
          "Designer"
        ],
        "operationId": "GetPublicForms",
        "parameters": [
          {
            "in": "query",
            "name": "format",
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              1
            ]
          },
          {
            "in": "path",
            "name": "version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of public forms."
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Get public forms",
        "description": "Returns an array of public forms"
      }
    },
    "/api/forms/{formId}/submissions/{submissionId}": {
      "delete": {
        "tags": [
          "FormSubmissions"
        ],
        "operationId": "DeleteSubmission",
        "parameters": [
          {
            "in": "path",
            "name": "formId",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "GetPublicForms",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "version": "2"
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "GetPublicForms",
              "itemValuePath": "id",
              "itemTitlePath": "name",
              "parameters": {
                "version": {
                  "value": "2"
                }
              }
            },
            "x-ms-summary": "Form",
            "description": "The form which submission you want to delete."
          },
          {
            "in": "path",
            "name": "submissionId",
            "required": true,
            "type": "string",
            "x-ms-summary": "Submission ID",
            "description": "Submission ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Delete submission",
        "description": "Deletes an form submission by its ID"
      }
    },
    "/api/flow/Schema/form": {
      "get": {
        "tags": [
          "Schema"
        ],
        "operationId": "GetFormSchema",
        "parameters": [
          {
            "in": "query",
            "name": "formId",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Form ID",
            "description": "ID of the form"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns form schema."
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Get form schema",
        "description": "Returns schema of the specified form"
      }
    },
    "/api/submissions": {
      "x-ms-notification-content": {
        "description": "Form data",
        "schema": {
          "$ref": "#/definitions/FormSchema"
        }
      },
      "post": {
        "tags": [
          "SubmissionTrigger"
        ],
        "operationId": "FormIsSubmitted",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "subscriber",
            "required": true,
            "schema": {
              "required": [
                "callbackUrl",
                "formId"
              ],
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "formId": {
                  "format": "uuid",
                  "type": "string",
                  "x-ms-summary": "Form",
                  "description": "The form which submissions you want to track.",
                  "x-ms-dynamic-values": {
                    "operationId": "GetPublicForms",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "version": "2"
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetPublicForms",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "version": {
                        "value": "2"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Subscription has been created."
          },
          "400": {
            "description": "Invalid subscription configuration."
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          }
        },
        "x-ms-visibility": "important",
        "summary": "Form is submitted",
        "description": "Fires whenever the target form is submitted",
        "x-ms-trigger": "single"
      }
    },
    "/api/submissions/{subscriberId}": {
      "delete": {
        "tags": [
          "SubmissionTrigger"
        ],
        "operationId": "Unsubscribe",
        "parameters": [
          {
            "in": "path",
            "name": "subscriberId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Unsubscribe",
        "description": "Removes the subscriber"
      }
    }
  },
  "definitions": {
    "FormSchema": {
      "type": "object",
      "x-ms-dynamic-schema": {
        "operationId": "GetFormSchema",
        "value-path": "response",
        "parameters": {
          "formId": {
            "parameter": "formId"
          }
        }
      },
      "x-ms-dynamic-properties": {
        "operationId": "GetFormSchema",
        "parameters": {
          "formId": {
            "parameterReference": "subscriber/formId"
          }
        },
        "itemValuePath": "response"
      }
    },
    "Subscriber": {
      "required": [
        "callbackUrl",
        "formId"
      ],
      "type": "object",
      "properties": {
        "callbackUrl": {
          "type": "string",
          "x-ms-visibility": "internal",
          "x-ms-notification-url": true
        },
        "formId": {
          "format": "uuid",
          "type": "string",
          "x-ms-summary": "Form",
          "description": "The form which submissions you want to track.",
          "x-ms-dynamic-values": {
            "operationId": "GetPublicForms",
            "value-path": "id",
            "value-title": "name",
            "parameters": {
              "version": "2"
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "GetPublicForms",
            "itemValuePath": "id",
            "itemTitlePath": "name",
            "parameters": {
              "version": {
                "value": "2"
              }
            }
          }
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://auth.plumsail.com/connect/authorize",
      "tokenUrl": "https://auth.plumsail.com/connect/token",
      "scopes": {
        "openid": "openid",
        "offline_access": "offline_access"
      }
    }
  },
  "security": [
    {
      "oauth2": [
        "openid",
        "offline_access"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://plumsail.com/forms/public-forms"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://plumsail.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Content and Files"
    }
  ]
}