{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Plumsail Forms",
    "description": "This API allows you to subscribe to Plumsail Forms submissions",
    "contact": {
      "name": "Plumsail Team",
      "url": "https://plumsail.com",
      "email": "support@plumsail.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "forms.plumsail.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/api/flow/schema/form": {
      "get": {
        "tags": [ "Schema" ],
        "operationId": "GetFormSchema",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "formId",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Form ID",
            "description": "Form ID"
          }
        ],
        "responses": {
          "200": { "description": "Returns form schema." },
          "401": { "description": "Authorization information is missing or invalid." }
        },
        "x-ms-visibility": "internal",
        "summary": "Get form schema",
        "description": "Returns schema of the specified form"
      }
    },
    "/api/submissions": {
      "post": {
        "tags": [ "SubmissionTrigger" ],
        "operationId": "FormIsSubmitted",
        "consumes": [ "application/json-patch+json", "application/json", "text/json", "application/*+json" ],
        "produces": [],
        "parameters": [
          {
            "name": "subscriber",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Subscriber" }
          }
        ],
        "responses": {
          "201": { "description": "Subscription has been created." },
          "400": { "description": "Invalid subscription configuration." },
          "401": { "description": "Authorization information is missing or invalid." }
        },
        "x-ms-visibility": "important",
        "summary": "Form is submitted",
        "description": "Fires whenever the target form is submitted",
        "x-ms-trigger": "single"
      },
      "x-ms-notification-content": {
        "description": "Form data",
        "schema": { "$ref": "#/definitions/FormSchema" }
      }
    },
    "/api/submissions/{subscriberId}": {
      "delete": {
        "tags": [ "SubmissionTrigger" ],
        "operationId": "Unsubscribe",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "subscriberId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": { "200": { "description": "Success" } },
        "x-ms-visibility": "internal",
        "summary": "Unsubscribe",
        "description": "Removes the subscriber"
      }
    },
    "/api/submissions/user": {
      "get": {
        "tags": [ "SubmissionTrigger" ],
        "operationId": "GetCurrentUser",
        "consumes": [],
        "produces": [ "text/plain", "application/json", "text/json" ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns current user.",
            "schema": { "$ref": "#/definitions/UserResponse" }
          },
          "401": { "description": "Authorization information is missing or invalid." }
        },
        "x-ms-visibility": "internal",
        "summary": "Get current user",
        "description": "Returns an e-mail address of the current user"
      }
    }
  },
  "definitions": {
    "Subscriber": {
      "type": "object",
      "required": [ 
        "callbackUrl" 
      ],
      "properties": {
        "formId": {
          "format": "uuid",
          "type": "string",
          "x-ms-summary": "Form ID",
          "description": "The ID of a form which submissions you want to track."
        },
        "callbackUrl": {
          "type": "string",
          "x-ms-visibility": "internal",
          "x-ms-notification-url": "true"
        }
      }
    },
    "FormSchema": {
      "type": "object",
      "properties": {},
      "x-ms-dynamic-schema": {
        "operationId": "GetFormSchema",
        "value-path": "response",
        "parameters": { "formId": { "parameter": "formId" } }
      },
      "x-ms-dynamic-properties": {
        "operationId": "GetFormSchema",
        "itemValuePath": "response",
        "parameters": {
          "formId": {
             "parameterReference": "subscriber/formId"
          }
        }
      }
    },
    "UserResponse": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "x-ms-summary": "Email",
          "description": "Current user's e-mail address"
        }
      }
    }
  },
  "securityDefinitions": {
    "oauth2": {
      "flow": "accessCode",
      "authorizationUrl": "https://auth.plumsail.com/connect/authorize",
      "tokenUrl": "https://auth.plumsail.com/connect/token",
      "scopes": {
        "openid": "openid",
        "offline_access": "offline_access"
      },
      "type": "oauth2"
    }
  },
  "security": [ { "oauth2": [] } ]
}