{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Tikit",
    "description": "Extend conversational ticketing built for Microsoft Teams with activities to create tickets in response to events or update tickets with more information as context changes.",
    "contact": {
      "name": "Tikit Support",
      "url": "https://help.tikit.ai/",
      "email": "help@tikit.ai"
    }
  },
  "host": "app.tikit.ai",
  "basePath": "/api/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "multipart/form-data"
  ],
  "produces": [],
  "paths": {
    "/Ticket": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get all tickets",
        "description": "Fetch all Tickets",
        "operationId": "GetAllTickets",
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "description": "Define oData expand",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$expand"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Define oData select",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$select"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Define oData orderby",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$orderby"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Number Tickets",
            "type": "integer",
            "default": 10,
            "enum": [
              10,
              25,
              100,
              500
            ],
            "x-ms-summary": "$top"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Define oData skip",
            "type": "integer",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$skip"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Define oData count",
            "type": "boolean",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$count"
          }
        ]
      }
    },
    "/AddTicket": {
      "post": {
        "summary": "Create New Ticket",
        "description": "Create New Ticket",
        "operationId": "CreateTicket",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Actions.AddTicket"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from AddTicket",
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Models.Ticket"
            }
          },
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/UpdateTicket": {
      "post": {
        "summary": "Update a Ticket",
        "description": "Update a Ticket",
        "operationId": "UpdateTicket",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Actions.UpdateTicket"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from AddTicket",
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Models.Ticket"
            }
          },
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/ticket/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "RequesterId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "RequesterId"
                },
                "Title": {
                  "type": "string",
                  "description": "Title"
                },
                "Closed": {
                  "type": "boolean",
                  "description": "Closed"
                },
                "DueDate": {
                  "type": "string",
                  "description": "DueDate"
                },
                "ResolutionDate": {
                  "type": "string",
                  "description": "ResolutionDate"
                },
                "Description": {
                  "type": "string",
                  "description": "Description"
                },
                "AssigneeId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "AssigneeId"
                },
                "SupportGroupId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "SupportGroupId",
                  "x-ms-summary": "SupportGroupId",
                  "x-ms-dynamic-values": {
                    "operationId": "SupportGroupId_Get",
                    "value-collection": "Value",
                    "value-path": "Id",
                    "value-title": "Name"
                  }
                },
                "GroupId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "GroupId",
                  "x-ms-summary": "GroupId",
                  "x-ms-dynamic-values": {
                    "operationId": "GroupId_Get",
                    "value-collection": "Value",
                    "value-path": "Id",
                    "value-title": "Name"
                  }
                },
                "EscalationId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "EscalationId",
                  "x-ms-summary": "EscalationId",
                  "x-ms-dynamic-values": {
                    "operationId": "EsclationIds_get",
                    "value-collection": "Value",
                    "value-path": "Id",
                    "value-title": "Value"
                  }
                },
                "CategoryId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CategoryId",
                  "x-ms-summary": "CategoryId",
                  "x-ms-dynamic-values": {
                    "operationId": "CategoryId_Get",
                    "value-collection": "Value",
                    "value-path": "Id",
                    "value-title": "Value"
                  }
                },
                "ImpactId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ImpactId",
                  "x-ms-summary": "ImpactId",
                  "x-ms-dynamic-values": {
                    "operationId": "ImpactId_Get",
                    "value-collection": "Value",
                    "value-path": "Id",
                    "value-title": "Value"
                  }
                },
                "PriorityId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PriorityId",
                  "x-ms-summary": "PriorityId",
                  "x-ms-dynamic-values": {
                    "operationId": "PriorityId_Get",
                    "value-collection": "Value",
                    "value-path": "Id",
                    "value-title": "Value"
                  }
                },
                "SourceId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "SourceId",
                  "x-ms-summary": "SourceId",
                  "x-ms-dynamic-values": {
                    "operationId": "SourceID_Get",
                    "value-collection": "Value",
                    "value-path": "Id",
                    "value-title": "Value"
                  }
                },
                "StatusId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "StatusId",
                  "x-ms-summary": "Status",
                  "x-ms-dynamic-values": {
                    "operationId": "StatusList_Get",
                    "value-collection": "value",
                    "value-path": "Id",
                    "value-title": "Value"
                  }
                },
                "UrgencyId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "UrgencyId",
                  "x-ms-summary": "UrgencyId",
                  "x-ms-dynamic-values": {
                    "operationId": "UrgencyId_Get",
                    "value-collection": "value",
                    "value-path": "Id",
                    "value-title": "Value"
                  }
                },
                "TriageConversationId": {
                  "type": "string",
                  "description": "TriageConversationId"
                },
                "TriageActivityId": {
                  "type": "string",
                  "description": "TriageActivityId"
                },
                "LinkToMessage": {
                  "type": "string",
                  "description": "LinkToMessage",
                  "x-ms-visibility": "advanced"
                },
                "TemplateId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "TemplateId",
                  "x-ms-visibility": "advanced"
                },
                "CardTemplateJson": {
                  "type": "string",
                  "description": "CardTemplateJson",
                  "x-ms-visibility": "advanced"
                },
                "CardAnswerJson": {
                  "type": "string",
                  "description": "CardAnswerJson",
                  "x-ms-visibility": "advanced"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "ModifiedDate",
                  "x-ms-visibility": "advanced"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ModifiedById",
                  "x-ms-visibility": "advanced"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "CreatedDate",
                  "x-ms-visibility": "advanced"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CreatedById",
                  "x-ms-visibility": "advanced"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid",
                  "x-ms-visibility": "advanced"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "IsDeleted",
                  "x-ms-visibility": "advanced"
                }
              }
            },
            "headers": {
              "accept": {
                "description": "accept",
                "type": "string"
              }
            }
          }
        },
        "summary": "Get Ticket",
        "description": "Get One Ticket",
        "operationId": "GetOneTicket",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Enter Tikit ID",
            "x-ms-summary": "Tikit ID"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Define oData select",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Define oData select"
          }
        ]
      }
    },
    "/FileUpload/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get File(s) Attached to a Ticket",
        "description": "Get File(s) Attached to a Ticket",
        "operationId": "GetFileAttached",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Tikit ID",
            "description": "Enter Tikit ID"
          }
        ]
      }
    },
    "/Comment": {},
    "/Status": {
      "get": {
        "summary": "Get Status List",
        "operationId": "StatusList_Get",
        "description": "Returns a list of Status values",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "EntitySet Ticket Status",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "description": "context",
                  "type": "string"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ServiceDesk.Core.Models.Pickers.Ticket.Status"
                  }
                }
              }
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/SupportGroup": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "ModifiedDate"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ModifiedById"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "CreatedDate"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CreatedById"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "IsDeleted"
                },
                "Name": {
                  "type": "string",
                  "description": "Name"
                },
                "Description": {
                  "type": "string",
                  "description": "Description"
                },
                "TeamsChannelId": {
                  "type": "string",
                  "description": "TeamsChannelId"
                },
                "ApplicationRoleId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ApplicationRoleId"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "IsArchived"
                }
              }
            }
          }
        },
        "summary": "Support Group Id Get",
        "description": "Get a list of group ids",
        "operationId": "SupportGroupId_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/Category": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "IsArchived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "IsDefault"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "IsSystem"
                },
                "ParentId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ParentId"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "ModifiedDate"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ModifiedById"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "CreatedDate"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CreatedById"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "IsDeleted"
                }
              }
            }
          }
        },
        "summary": "GetCategory",
        "description": "Get Category",
        "operationId": "CategoryId_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/Impact": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "IsArchived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "IsDefault"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "IsSystem"
                },
                "ParentId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ParentId"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "ModifiedDate"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ModifiedById"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "CreatedDate"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CreatedById"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "IsDeleted"
                }
              }
            }
          }
        },
        "summary": "Impact",
        "description": "Get Impact",
        "operationId": "ImpactId_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/Priority": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "IsArchived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "IsDefault"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "IsSystem"
                },
                "ParentId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ParentId"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "ModifiedDate"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ModifiedById"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "CreatedDate"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CreatedById"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "IsDeleted"
                }
              }
            }
          }
        },
        "summary": "Get Priority",
        "description": "Get Priority ID",
        "operationId": "PriorityId_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/Source": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "IsArchived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "IsDefault"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "IsSystem"
                },
                "ParentId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ParentId"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "ModifiedDate"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ModifiedById"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "CreatedDate"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CreatedById"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "IsDeleted"
                }
              }
            }
          }
        },
        "summary": "Source ID",
        "description": "Get Source ID",
        "operationId": "SourceID_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/Urgency": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "IsArchived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "IsDefault"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "IsSystem"
                },
                "ParentId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ParentId"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "ModifiedDate"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ModifiedById"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "CreatedDate"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CreatedById"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "IsDeleted"
                }
              }
            }
          }
        },
        "summary": "Urgency ID",
        "description": "Get urgency id",
        "operationId": "UrgencyId_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/Escalation": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "IsArchived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "IsDefault"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "IsSystem"
                },
                "ParentId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ParentId"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "ModifiedDate"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ModifiedById"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "CreatedDate"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CreatedById"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "IsDeleted"
                }
              }
            }
          }
        },
        "summary": "GetEscalation",
        "description": "Get Escaltion Ids",
        "operationId": "EsclationIds_get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/Group": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "ModifiedDate"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ModifiedById"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "CreatedDate"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CreatedById"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "IsDeleted"
                },
                "Name": {
                  "type": "string",
                  "description": "Name"
                },
                "Description": {
                  "type": "string",
                  "description": "Description"
                },
                "ApplicationRoleId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ApplicationRoleId"
                }
              }
            }
          }
        },
        "summary": "Group ID",
        "description": "Group ID",
        "operationId": "GroupId_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/UploadTicketFiles/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "string",
                  "description": "data"
                },
                "error": {
                  "type": "string",
                  "description": "error"
                }
              }
            }
          }
        },
        "summary": "Get Ticket Attachment",
        "operationId": "GetTicketAttachment",
        "description": "Get Ticket Attachment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Tikit Id"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/ticket({id})/AddComment": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add Comment to a ticket",
        "description": "Add Comment to a ticket",
        "operationId": "AddComment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Enter Tikit ID",
            "x-ms-summary": "Tikit ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Comment": {
                  "type": "object",
                  "properties": {
                    "Body": {
                      "type": "string",
                      "description": "New comment message",
                      "title": "Message"
                    },
                    "IsPublic": {
                      "type": "boolean",
                      "description": "Is Private",
                      "title": "Private"
                    }
                  },
                  "description": "Comment"
                }
              }
            }
          }
        ]
      }
    },
    "/UploadTicketFiles": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "DownladUrl": {
                        "type": "string",
                        "description": "DownladUrl"
                      },
                      "ContentUrl": {
                        "type": "string",
                        "description": "ContentUrl"
                      },
                      "DriveItemGroupId": {
                        "type": "string",
                        "description": "DriveItemGroupId"
                      },
                      "DriveItemId": {
                        "type": "string",
                        "description": "DriveItemId"
                      },
                      "FileName": {
                        "type": "string",
                        "description": "FileName"
                      },
                      "MediaType": {
                        "type": "string",
                        "description": "MediaType"
                      },
                      "FileSize": {
                        "type": "integer",
                        "format": "int32",
                        "description": "FileSize"
                      },
                      "Buffer": {
                        "type": "string",
                        "description": "Buffer"
                      },
                      "FileExtension": {
                        "type": "string",
                        "description": "FileExtension"
                      },
                      "IsImage": {
                        "type": "boolean",
                        "description": "IsImage"
                      },
                      "Id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Id"
                      },
                      "ModifiedDate": {
                        "type": "string",
                        "description": "ModifiedDate"
                      },
                      "ModifiedById": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ModifiedById"
                      },
                      "CreatedDate": {
                        "type": "string",
                        "description": "CreatedDate"
                      },
                      "CreatedBy": {
                        "type": "string",
                        "description": "CreatedBy"
                      },
                      "CreatedById": {
                        "type": "integer",
                        "format": "int32",
                        "description": "CreatedById"
                      },
                      "Guid": {
                        "type": "string",
                        "description": "Guid"
                      },
                      "IsDeleted": {
                        "type": "boolean",
                        "description": "IsDeleted"
                      }
                    }
                  },
                  "description": "data"
                },
                "error": {
                  "type": "string",
                  "description": "error"
                }
              }
            }
          }
        },
        "summary": "Add Attachment to Ticket",
        "operationId": "AddAttachmentToTicket",
        "parameters": [
          {
            "name": "Content-type",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "fileContent",
            "in": "formData",
            "required": true,
            "type": "file"
          },
          {
            "name": "name",
            "in": "formData",
            "required": true,
            "type": "string"
          }
        ],
        "x-ms-visibility": "internal",
        "description": "Add Attachment to Ticket"
      }
    },
    "/CdmUser": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "Type": {
                        "type": "string",
                        "description": "Type"
                      },
                      "Notes": {
                        "type": "string",
                        "description": "Notes"
                      },
                      "Id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Id"
                      },
                      "ModifiedDate": {
                        "type": "string",
                        "description": "ModifiedDate"
                      },
                      "ModifiedById": {
                        "type": "string",
                        "description": "ModifiedById"
                      },
                      "CreatedDate": {
                        "type": "string",
                        "description": "CreatedDate"
                      },
                      "CreatedById": {
                        "type": "string",
                        "description": "CreatedById"
                      },
                      "Guid": {
                        "type": "string",
                        "description": "Guid"
                      },
                      "IsDeleted": {
                        "type": "boolean",
                        "description": "IsDeleted"
                      },
                      "Salutation": {
                        "type": "string",
                        "description": "Salutation"
                      },
                      "FirstName": {
                        "type": "string",
                        "description": "FirstName"
                      },
                      "MiddleName": {
                        "type": "string",
                        "description": "MiddleName"
                      },
                      "LastName": {
                        "type": "string",
                        "description": "LastName"
                      },
                      "EMailAddress": {
                        "type": "string",
                        "description": "EMailAddress"
                      },
                      "HomePhone": {
                        "type": "string",
                        "description": "HomePhone"
                      },
                      "MobilePhone": {
                        "type": "string",
                        "description": "MobilePhone"
                      },
                      "PlatformUserId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "PlatformUserId"
                      },
                      "AadObjectId": {
                        "type": "string",
                        "description": "AadObjectId"
                      },
                      "TeamsUserId": {
                        "type": "string",
                        "description": "TeamsUserId"
                      },
                      "HelpTeamsUserId": {
                        "type": "string",
                        "description": "HelpTeamsUserId"
                      },
                      "TeamsTimeZoneName": {
                        "type": "string",
                        "description": "TeamsTimeZoneName"
                      },
                      "ServiceUrl": {
                        "type": "string",
                        "description": "ServiceUrl"
                      },
                      "UserPrincipalName": {
                        "type": "string",
                        "description": "UserPrincipalName"
                      },
                      "JobTitle": {
                        "type": "string",
                        "description": "JobTitle"
                      },
                      "Department": {
                        "type": "string",
                        "description": "Department"
                      },
                      "CompanyName": {
                        "type": "string",
                        "description": "CompanyName"
                      },
                      "EmployeeId": {
                        "type": "string",
                        "description": "EmployeeId"
                      },
                      "StreetAddress": {
                        "type": "string",
                        "description": "StreetAddress"
                      },
                      "State": {
                        "type": "string",
                        "description": "State"
                      },
                      "Country": {
                        "type": "string",
                        "description": "Country"
                      },
                      "Office": {
                        "type": "string",
                        "description": "Office"
                      },
                      "City": {
                        "type": "string",
                        "description": "City"
                      },
                      "ZipCode": {
                        "type": "string",
                        "description": "ZipCode"
                      },
                      "OfficePhone": {
                        "type": "string",
                        "description": "OfficePhone"
                      },
                      "BlockSignIn": {
                        "type": "boolean",
                        "description": "BlockSignIn"
                      },
                      "IsExternalUser": {
                        "type": "boolean",
                        "description": "IsExternalUser"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "GetUser",
        "description": "GetUser",
        "operationId": "GetUserList",
        "x-ms-visibility": "internal",
        "parameters": []
      }
    },
    "/TicketWebHook": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "Requester": {
              "type": "object",
              "properties": {
                "FirstName": {
                  "type": "string",
                  "description": "FirstName"
                },
                "LastName": {
                  "type": "string",
                  "description": "LastName"
                },
                "EMailAddress": {
                  "type": "string",
                  "description": "EMailAddress"
                },
                "PlatformUser": {
                  "type": "object",
                  "properties": {
                    "UserName": {
                      "type": "string",
                      "description": "UserName"
                    },
                    "GivenName": {
                      "type": "string",
                      "description": "GivenName"
                    },
                    "FamilyName": {
                      "type": "string",
                      "description": "FamilyName"
                    },
                    "Email": {
                      "type": "string",
                      "description": "Email"
                    },
                    "Id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Id"
                    },
                    "ModifiedDate": {
                      "type": "string",
                      "description": "ModifiedDate"
                    },
                    "CreatedDate": {
                      "type": "string",
                      "description": "CreatedDate"
                    },
                    "Guid": {
                      "type": "string",
                      "description": "Guid"
                    },
                    "IsDeleted": {
                      "type": "boolean",
                      "description": "IsDeleted"
                    },
                    "FullName": {
                      "type": "string",
                      "description": "FullName"
                    },
                    "ApplicationRoleMaps": {
                      "type": "array",
                      "items": {},
                      "description": "ApplicationRoleMaps"
                    }
                  },
                  "description": "PlatformUser"
                },
                "PlatformUserId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PlatformUserId"
                },
                "TeamsTimeZoneName": {
                  "type": "string",
                  "description": "TeamsTimeZoneName"
                },
                "BlockSignIn": {
                  "type": "boolean",
                  "description": "BlockSignIn"
                },
                "IsExternalUser": {
                  "type": "boolean",
                  "description": "IsExternalUser"
                },
                "Name": {
                  "type": "string",
                  "description": "Name"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "ModifiedDate"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "CreatedDate"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "IsDeleted"
                }
              },
              "description": "Requester"
            },
            "RequesterId": {
              "type": "integer",
              "format": "int32",
              "description": "RequesterId"
            },
            "Title": {
              "type": "string",
              "description": "Title"
            },
            "Closed": {
              "type": "boolean",
              "description": "Closed"
            },
            "RelatedTickets": {
              "type": "array",
              "items": {},
              "description": "RelatedTickets"
            },
            "Assignee": {
              "type": "object",
              "properties": {
                "UserName": {
                  "type": "string",
                  "description": "UserName"
                },
                "GivenName": {
                  "type": "string",
                  "description": "GivenName"
                },
                "FamilyName": {
                  "type": "string",
                  "description": "FamilyName"
                },
                "Email": {
                  "type": "string",
                  "description": "Email"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "ModifiedDate"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "CreatedDate"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "IsDeleted"
                },
                "FullName": {
                  "type": "string",
                  "description": "FullName"
                },
                "ApplicationRoleMaps": {
                  "type": "array",
                  "items": {},
                  "description": "ApplicationRoleMaps"
                }
              },
              "description": "Assignee"
            },
            "AssigneeId": {
              "type": "integer",
              "format": "int32",
              "description": "AssigneeId"
            },
            "Escalation": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "IsArchived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "IsDefault"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "IsSystem"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "ModifiedDate"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "CreatedDate"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "IsDeleted"
                }
              },
              "description": "Escalation"
            },
            "EscalationId": {
              "type": "integer",
              "format": "int32",
              "description": "EscalationId"
            },
            "Category": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "IsArchived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "IsDefault"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "IsSystem"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "ModifiedDate"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "CreatedDate"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "IsDeleted"
                }
              },
              "description": "Category"
            },
            "CategoryId": {
              "type": "integer",
              "format": "int32",
              "description": "CategoryId"
            },
            "Impact": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "IsArchived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "IsDefault"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "IsSystem"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "ModifiedDate"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "CreatedDate"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "IsDeleted"
                }
              },
              "description": "Impact"
            },
            "ImpactId": {
              "type": "integer",
              "format": "int32",
              "description": "ImpactId"
            },
            "Priority": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "IsArchived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "IsDefault"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "IsSystem"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "ModifiedDate"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "CreatedDate"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "IsDeleted"
                }
              },
              "description": "Priority"
            },
            "PriorityId": {
              "type": "integer",
              "format": "int32",
              "description": "PriorityId"
            },
            "Status": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "IsArchived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "IsDefault"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "IsSystem"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "ModifiedDate"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "CreatedDate"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "IsDeleted"
                }
              },
              "description": "Status"
            },
            "StatusId": {
              "type": "integer",
              "format": "int32",
              "description": "StatusId"
            },
            "Urgency": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "IsArchived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "IsDefault"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "IsSystem"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "ModifiedDate"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "CreatedDate"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "IsDeleted"
                }
              },
              "description": "Urgency"
            },
            "UrgencyId": {
              "type": "integer",
              "format": "int32",
              "description": "UrgencyId"
            },
            "AffectedItems": {
              "type": "array",
              "items": {},
              "description": "AffectedItems"
            },
            "Comments": {
              "type": "array",
              "items": {},
              "description": "Comments"
            },
            "Message": {
              "type": "string",
              "description": "Message"
            },
            "FileAttachments": {
              "type": "array",
              "items": {},
              "description": "FileAttachments"
            },
            "TicketTypeId": {
              "type": "integer",
              "format": "int32",
              "description": "TicketTypeId"
            },
            "Id": {
              "type": "integer",
              "format": "int32",
              "description": "Id"
            },
            "ModifiedDate": {
              "type": "string",
              "description": "ModifiedDate"
            },
            "ModifiedById": {
              "type": "integer",
              "format": "int32",
              "description": "ModifiedById"
            },
            "CreatedDate": {
              "type": "string",
              "description": "CreatedDate"
            },
            "CreatedById": {
              "type": "integer",
              "format": "int32",
              "description": "CreatedById"
            },
            "Guid": {
              "type": "string",
              "description": "Guid"
            },
            "IsDeleted": {
              "type": "boolean",
              "description": "IsDeleted"
            }
          }
        },
        "headers": {
          "Host": {
            "description": "Host",
            "type": "string"
          },
          "Request-Id": {
            "description": "Request-Id",
            "type": "string"
          },
          "traceparent": {
            "description": "traceparent",
            "type": "string"
          },
          "Content-Length": {
            "description": "Content-Length",
            "type": "string"
          },
          "Content-Type": {
            "description": "Content-Type",
            "type": "string"
          }
        },
        "description": ""
      }
    },
    "/{Location}": {
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Webhook delete",
        "operationId": "WebHookDelete",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "Location",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/TicketType": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "IsArchived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "IsDefault"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "IsSystem"
                },
                "ParentId": {
                  "type": "string",
                  "description": "ParentId"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "ModifiedDate"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ModifiedById"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "CreatedDate"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CreatedById"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "IsDeleted"
                }
              }
            }
          }
        },
        "summary": "Ticket Type Id Get",
        "description": "Get a list of Ticket Type ids",
        "operationId": "TypeList_Get",
        "x-ms-visibility": "internal",
        "parameters": []
      }
    }
  },
  "definitions": {
    "ServiceDesk.Core.Models.Pickers.Ticket.Status": {
      "type": "object",
      "properties": {
        "Value": {
          "description": "Value",
          "type": "string"
        },
        "Position": {
          "description": "Position",
          "type": "integer",
          "format": "int32"
        },
        "IsArchived": {
          "description": "IsArchived",
          "type": "boolean"
        },
        "IsDefault": {
          "description": "IsDefault",
          "type": "boolean"
        },
        "IsSystem": {
          "description": "IsSystem",
          "type": "boolean"
        },
        "ParentId": {
          "description": "ParentId",
          "type": "integer",
          "format": "int32"
        },
        "Id": {
          "description": "Id",
          "type": "integer",
          "format": "int32"
        },
        "ModifiedDate": {
          "description": "ModifiedDate",
          "type": "string",
          "format": "date-time"
        },
        "ModifiedById": {
          "description": "ModifiedById",
          "type": "integer",
          "format": "int32"
        },
        "CreatedDate": {
          "description": "CreatedDate",
          "type": "string",
          "format": "date-time"
        },
        "CreatedById": {
          "description": "CreatedById",
          "type": "integer",
          "format": "int32"
        },
        "Guid": {
          "description": "Guid",
          "type": "string"
        },
        "IsDeleted": {
          "description": "IsDeleted",
          "type": "boolean"
        }
      }
    },
    "ServiceDesk.Core.Actions.UpdateTicket": {
      "type": "object",
      "required": [
        "Ticket"
      ],
      "properties": {
        "Ticket": {
          "$ref": "#/definitions/ServiceDesk.Core.Actions.UpdateTicket.TicketDTO"
        }
      }
    },
    "ServiceDesk.Core.Actions.AddTicket": {
      "type": "object",
      "required": [
        "Ticket"
      ],
      "properties": {
        "Ticket": {
          "$ref": "#/definitions/ServiceDesk.Core.Actions.AddTicket.TicketDTO"
        }
      }
    },
    "ServiceDesk.Core.Actions.AddTicket.PlatformUserDTO": {
      "type": "object",
      "required": [
        "Email"
      ],
      "properties": {
        "Email": {
          "description": "Enter Assignee Email",
          "x-ms-summary": "AssigneeEmail",
          "type": "string",
          "title": "Assignee Email"
        }
      }
    },
    "ServiceDesk.Core.Actions.UpdateTicket.PlatformUserDTO": {
      "type": "object",
      "required": [
        "Email"
      ],
      "properties": {
        "Email": {
          "description": "Change Assignee Email",
          "x-ms-summary": "AssigneeEmail",
          "type": "string",
          "title": "Assignee Email"
        }
      }
    },
    "ServiceDesk.Core.Actions.UpdateTicket.TicketDTO": {
      "type": "object",
      "required": [
        "Id"
      ],
      "properties": {
        "Id": {
          "description": "Enter Tikit ID",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Enter Tikit ID",
          "title": "Tikit ID"
        },
        "Title": {
          "description": "Change Request Information",
          "type": "string",
          "x-ms-summary": "Change Request Information",
          "title": "Request"
        },
        "Requester": {
          "$ref": "#/definitions/ServiceDesk.Core.Actions.UpdateTicket.CdmUserDTO"
        },
        "StatusId": {
          "description": "Change Status",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Status",
          "x-ms-dynamic-values": {
            "operationId": "StatusList_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Value"
          },
          "title": "Status"
        },
        "CategoryId": {
          "description": "Change Category",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Category",
          "x-ms-dynamic-values": {
            "operationId": "CategoryId_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Value"
          },
          "title": "Category"
        },
        "PriorityId": {
          "description": "Change Priority",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Priority",
          "x-ms-dynamic-values": {
            "operationId": "PriorityId_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Value"
          },
          "title": "Priority"
        },
        "TicketTypeId": {
          "description": "Change Ticket Type",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Ticket Type",
          "x-ms-dynamic-values": {
            "operationId": "TypeList_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Value"
          },
          "title": "Ticket Type"
        },
        "SupportGroupId": {
          "description": "Change Support Group",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Group",
          "x-ms-dynamic-values": {
            "operationId": "GroupId_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Name"
          },
          "title": "Group"
        },
        "DueDate": {
          "description": "Change Due Date",
          "type": "string",
          "format": "date",
          "title": "Due Date"
        },
        "ResolutionDate": {
          "description": "Change Resolution Date",
          "type": "string",
          "format": "date",
          "title": "Resolution Date"
        },
        "Assignee": {
          "$ref": "#/definitions/ServiceDesk.Core.Actions.UpdateTicket.PlatformUserDTO"
        }
      }
    },
    "ServiceDesk.Core.Actions.AddTicket.TicketDTO": {
      "type": "object",
      "required": [
        "Title",
        "Requester",
        "StatusId",
        "PriorityId",
        "TicketTypeId"
      ],
      "properties": {
        "Title": {
          "description": "Enter Request",
          "type": "string",
          "x-ms-summary": "Request"
        },
        "Requester": {
          "$ref": "#/definitions/ServiceDesk.Core.Actions.AddTicket.CdmUserDTO"
        },
        "StatusId": {
          "description": "Select Status",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Status",
          "x-ms-dynamic-values": {
            "operationId": "StatusList_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Value"
          },
          "title": "Status"
        },
        "CategoryId": {
          "description": "Select Category",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Category",
          "x-ms-dynamic-values": {
            "operationId": "CategoryId_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Value"
          },
          "title": "Category"
        },
        "PriorityId": {
          "description": "Select Priority",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Priority",
          "x-ms-dynamic-values": {
            "operationId": "PriorityId_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Value"
          },
          "title": "Priority"
        },
        "TicketTypeId": {
          "description": "Select Ticket Type",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Ticket Type",
          "x-ms-dynamic-values": {
            "operationId": "TypeList_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Value"
          },
          "title": "Ticket Type"
        },
        "SupportGroupId": {
          "description": "Select Support Group",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Group",
          "x-ms-dynamic-values": {
            "operationId": "GroupId_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Name"
          },
          "title": "Group"
        },
        "DueDate": {
          "description": "Enter Due Date",
          "type": "string",
          "format": "date",
          "title": "Due Date"
        },
        "ResolutionDate": {
          "description": "Enter Resolution Date",
          "type": "string",
          "format": "date",
          "title": "Resolution Date"
        },
        "Assignee": {
          "$ref": "#/definitions/ServiceDesk.Core.Actions.AddTicket.PlatformUserDTO"
        }
      }
    },
    "ServiceDesk.Core.Actions.AddTicket.CdmUserDTO": {
      "type": "object",
      "properties": {
        "EMailAddress": {
          "description": "Enter Requester Email",
          "x-ms-summary": "RequesterEmail",
          "type": "string",
          "title": "Requester Email"
        }
      },
      "required": [
        "EMailAddress"
      ]
    },
    "ServiceDesk.Core.Actions.UpdateTicket.CdmUserDTO": {
      "type": "object",
      "properties": {
        "EMailAddress": {
          "description": "Change Requester Email",
          "x-ms-summary": "RequesterEmail",
          "type": "string",
          "title": "Requester Email"
        }
      }
    },
    "ServiceDesk.Core.Models.Ticket": {
      "type": "object",
      "properties": {
        "@odata.context": {
          "description": "context",
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "RequesterId": {
          "description": "RequesterId",
          "type": "integer",
          "format": "int32"
        },
        "Title": {
          "description": "Title",
          "type": "string"
        },
        "Closed": {
          "description": "Closed",
          "type": "boolean"
        },
        "DueDate": {
          "description": "DueDate",
          "type": "string",
          "format": "date-time"
        },
        "ResolutionDate": {
          "description": "ResolutionDate",
          "type": "string",
          "format": "date-time"
        },
        "Description": {
          "description": "Description",
          "type": "string"
        },
        "AssigneeId": {
          "description": "AssigneeId",
          "type": "integer",
          "format": "int32"
        },
        "SupportGroupId": {
          "description": "SupportGroupId",
          "type": "integer",
          "format": "int32"
        },
        "GroupId": {
          "description": "GroupId",
          "type": "integer",
          "format": "int32"
        },
        "EscalationId": {
          "description": "EscalationId",
          "type": "integer",
          "format": "int32"
        },
        "CategoryId": {
          "description": "CategoryId",
          "type": "integer",
          "format": "int32"
        },
        "ImpactId": {
          "description": "ImpactId",
          "type": "integer",
          "format": "int32"
        },
        "PriorityId": {
          "description": "PriorityId",
          "type": "integer",
          "format": "int32"
        },
        "SourceId": {
          "description": "SourceId",
          "type": "integer",
          "format": "int32"
        },
        "StatusId": {
          "description": "StatusId",
          "type": "integer",
          "format": "int32"
        },
        "UrgencyId": {
          "description": "UrgencyId",
          "type": "integer",
          "format": "int32"
        },
        "TriageConversationId": {
          "description": "TriageConversationId",
          "type": "string"
        },
        "TriageActivityId": {
          "description": "TriageActivityId",
          "type": "string"
        },
        "LinkToMessage": {
          "description": "LinkToMessage",
          "type": "string"
        },
        "TemplateId": {
          "description": "TemplateId",
          "type": "integer",
          "format": "int32"
        },
        "CardAnswerJson": {
          "description": "CardAnswerJson",
          "type": "string"
        },
        "Id": {
          "description": "Id",
          "type": "integer",
          "format": "int32"
        },
        "ModifiedDate": {
          "description": "ModifiedDate",
          "type": "string",
          "format": "date-time"
        },
        "ModifiedById": {
          "description": "ModifiedById",
          "type": "integer",
          "format": "int32"
        },
        "CreatedDate": {
          "description": "CreatedDate",
          "type": "string",
          "format": "date-time"
        },
        "CreatedById": {
          "description": "CreatedById",
          "type": "integer",
          "format": "int32"
        },
        "Guid": {
          "description": "Guid",
          "type": "string"
        },
        "IsDeleted": {
          "description": "IsDeleted",
          "type": "boolean"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.tikit.ai/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.tikit.ai/privacy-statement/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations;Productivity"
    }
  ]
}