{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Tikit",
    "description": "Extend conversational ticketing built for Microsoft Teams with activities to create tickets in response to events or update tickets with more information as context changes.",
    "contact": {
      "name": "Tikit Support",
      "url": "https://help.tikit.ai/",
      "email": "help@tikit.ai"
    }
  },
  "host": "app.tikit.ai",
  "basePath": "/api/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "multipart/form-data"
  ],
  "produces": [],
  "paths": {
    "/Ticket": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get all tickets",
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Models.Ticket.Items"
            }
          }
        },
        "summary": "Get all tickets",
        "description": "Fetch all Tickets",
        "operationId": "GetAllTickets",
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "description": "Define oData expand",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$expand"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Define oData select",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$select"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Define oData orderby",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$orderby"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Number Tickets",
            "type": "integer",
            "default": 10,
            "enum": [
              10,
              25,
              100,
              500
            ],
            "x-ms-summary": "$top"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Define oData skip",
            "type": "integer",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$skip"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Define oData count",
            "type": "boolean",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$count"
          }
        ]
      }
    },
    "/AddTicket": {
      "post": {
        "summary": "Create New Ticket",
        "description": "Create New Ticket",
        "operationId": "CreateTicket",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Actions.AddTicket"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from Add Ticket",
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Models.Ticket"
            }
          }
        }
      }
    },
    "/UpdateTicket": {
      "post": {
        "summary": "Update a Ticket",
        "description": "Update a Ticket",
        "operationId": "UpdateTicket",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Actions.UpdateTicket"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from Update Ticket",
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Models.Ticket"
            }
          }
        }
      }
    },
    "/ticket/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get One Ticket",
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Models.Ticket"
            },
            "headers": {
              "accept": {
                "description": "accept",
                "type": "string"
              }
            }
          }
        },
        "summary": "Get Ticket",
        "description": "Get One Ticket",
        "operationId": "GetOneTicket",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Enter Tikit ID",
            "x-ms-summary": "Tikit ID"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Define oData select",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Define oData select"
          }
        ]
      }
    },
    "/FileUpload/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "string",
                  "description": "data"
                },
                "error": {
                  "type": "string",
                  "description": "error"
                }
              }
            }
          }
        },
        "summary": "Get File(s) Attached to a Ticket",
        "description": "Get File(s) Attached to a Ticket",
        "operationId": "GetFileAttached",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Tikit ID",
            "description": "Enter Tikit ID"
          }
        ]
      }
    },
    "/Status": {
      "get": {
        "summary": "Get Status List",
        "operationId": "StatusList_Get",
        "description": "Returns a list of Status values",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "EntitySet Ticket Status",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "description": "Context",
                  "type": "string"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ServiceDesk.Core.Models.Pickers.Ticket.Status"
                  }
                }
              }
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/SupportGroup": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Support Group Id Get",
            "schema": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                },
                "Name": {
                  "type": "string",
                  "description": "Name"
                },
                "Description": {
                  "type": "string",
                  "description": "Description"
                },
                "TeamsChannelId": {
                  "type": "string",
                  "description": "Teams Channel Id"
                },
                "ApplicationRoleId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Application Role Id"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "Is Archived"
                }
              }
            }
          }
        },
        "summary": "Support Group Id Get",
        "description": "Get a list of group ids",
        "operationId": "SupportGroupId_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/Category": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get Category",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "Is Archived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "Is Default"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "Is System"
                },
                "ParentId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Parent Id"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                }
              }
            }
          }
        },
        "summary": "GetCategory",
        "description": "Get Category",
        "operationId": "CategoryId_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/Impact": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get Impact",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "Is Archived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "Is Default"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "Is System"
                },
                "ParentId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Parent Id"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                }
              }
            }
          }
        },
        "summary": "Impact",
        "description": "Get Impact",
        "operationId": "ImpactId_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/Priority": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get Priority",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "Is Archived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "Is Default"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "Is System"
                },
                "ParentId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Parent Id"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                }
              }
            }
          }
        },
        "summary": "Get Priority",
        "description": "Get Priority ID",
        "operationId": "PriorityId_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/Source": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get Source ID",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "Is Archived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "Is Default"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "Is System"
                },
                "ParentId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Parent Id"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                }
              }
            }
          }
        },
        "summary": "Source ID",
        "description": "Get Source ID",
        "operationId": "SourceID_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/Urgency": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get urgency id",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "Is Archived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "Is Default"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "Is System"
                },
                "ParentId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Parent Id"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                }
              }
            }
          }
        },
        "summary": "Urgency ID",
        "description": "Get urgency id",
        "operationId": "UrgencyId_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/Escalation": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get Escaltion Ids",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "Is Archived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "Is Default"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "Is System"
                },
                "ParentId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Parent Id"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                }
              }
            }
          }
        },
        "summary": "Get Escalation",
        "description": "Get Escaltion Ids",
        "operationId": "EsclationIds_get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/Group": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Group ID",
            "schema": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                },
                "Name": {
                  "type": "string",
                  "description": "Name"
                },
                "Description": {
                  "type": "string",
                  "description": "Description"
                },
                "ApplicationRoleId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Application Role Id"
                }
              }
            }
          }
        },
        "summary": "Group ID",
        "description": "Group ID",
        "operationId": "GroupId_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/UploadTicketFiles/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Upload Ticket Files",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "string",
                  "description": "data"
                },
                "error": {
                  "type": "string",
                  "description": "error"
                }
              }
            }
          }
        },
        "summary": "Get Ticket Attachment",
        "operationId": "GetTicketAttachment",
        "description": "Get Ticket Attachment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Tikit Id"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/ticket({id})/AddComment": {
      "post": {
        "responses": {
          "200": {
            "description": "Response from Add Comment to a ticket",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "Context"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                },
                "Body": {
                  "type": "string",
                  "description": "Body"
                },
                "IsPublic": {
                  "type": "boolean",
                  "description": "Is Public"
                }
              }
            }
          }
        },
        "summary": "Add Comment to a ticket",
        "description": "Add Comment to a ticket",
        "operationId": "AddComment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Enter Tikit ID",
            "x-ms-summary": "Tikit ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Comment": {
                  "type": "object",
                  "properties": {
                    "Body": {
                      "type": "string",
                      "description": "New comment message",
                      "title": "Message"
                    },
                    "IsPublic": {
                      "type": "boolean",
                      "description": "Is Public",
                      "title": "Public"
                    }
                  },
                  "description": "Comment"
                }
              }
            }
          }
        ]
      }
    },
    "/UploadTicketFiles": {
      "post": {
        "responses": {
          "200": {
            "description": "Response from Upload Ticket Files",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "Context"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "DownladUrl": {
                        "type": "string",
                        "description": "Downlad Url"
                      },
                      "ContentUrl": {
                        "type": "string",
                        "description": "Content Url"
                      },
                      "DriveItemGroupId": {
                        "type": "string",
                        "description": "Drive Item Group Id"
                      },
                      "DriveItemId": {
                        "type": "string",
                        "description": "Drive Item Id"
                      },
                      "FileName": {
                        "type": "string",
                        "description": "File Name"
                      },
                      "MediaType": {
                        "type": "string",
                        "description": "Media Type"
                      },
                      "FileSize": {
                        "type": "integer",
                        "format": "int32",
                        "description": "File Size"
                      },
                      "Buffer": {
                        "type": "string",
                        "description": "Buffer"
                      },
                      "FileExtension": {
                        "type": "string",
                        "description": "File Extension"
                      },
                      "IsImage": {
                        "type": "boolean",
                        "description": "Is Image"
                      },
                      "Id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Id"
                      },
                      "ModifiedDate": {
                        "type": "string",
                        "description": "Modified Date"
                      },
                      "ModifiedById": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Modified By Id"
                      },
                      "CreatedDate": {
                        "type": "string",
                        "description": "Created Date"
                      },
                      "CreatedBy": {
                        "type": "string",
                        "description": "Created By"
                      },
                      "CreatedById": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Created By Id"
                      },
                      "Guid": {
                        "type": "string",
                        "description": "Guid"
                      },
                      "IsDeleted": {
                        "type": "boolean",
                        "description": "Is Deleted"
                      }
                    }
                  },
                  "description": "data"
                },
                "error": {
                  "type": "string",
                  "description": "error"
                }
              }
            }
          }
        },
        "summary": "Add Attachment to Ticket",
        "operationId": "AddAttachmentToTicket",
        "parameters": [
          {
            "name": "Content-type",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "fileContent",
            "in": "formData",
            "required": true,
            "type": "file"
          },
          {
            "name": "name",
            "in": "formData",
            "required": true,
            "type": "string"
          }
        ],
        "x-ms-visibility": "internal",
        "description": "Add Attachment to Ticket"
      }
    },
    "/CdmUser": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get User",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "Context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "Type": {
                        "type": "string",
                        "description": "Type"
                      },
                      "Notes": {
                        "type": "string",
                        "description": "Notes"
                      },
                      "Id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Id"
                      },
                      "ModifiedDate": {
                        "type": "string",
                        "description": "Modified Date"
                      },
                      "ModifiedById": {
                        "type": "string",
                        "description": "Modified By Id"
                      },
                      "CreatedDate": {
                        "type": "string",
                        "description": "Created Date"
                      },
                      "CreatedById": {
                        "type": "string",
                        "description": "Created By Id"
                      },
                      "Guid": {
                        "type": "string",
                        "description": "Guid"
                      },
                      "IsDeleted": {
                        "type": "boolean",
                        "description": "Is Deleted"
                      },
                      "Salutation": {
                        "type": "string",
                        "description": "Salutation"
                      },
                      "FirstName": {
                        "type": "string",
                        "description": "First Name"
                      },
                      "MiddleName": {
                        "type": "string",
                        "description": "Middle Name"
                      },
                      "LastName": {
                        "type": "string",
                        "description": "Last Name"
                      },
                      "EMailAddress": {
                        "type": "string",
                        "description": "EMail Address"
                      },
                      "HomePhone": {
                        "type": "string",
                        "description": "Home Phone"
                      },
                      "MobilePhone": {
                        "type": "string",
                        "description": "Mobile Phone"
                      },
                      "PlatformUserId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Platform User Id"
                      },
                      "AadObjectId": {
                        "type": "string",
                        "description": "Aad Object Id"
                      },
                      "TeamsUserId": {
                        "type": "string",
                        "description": "Teams User Id"
                      },
                      "HelpTeamsUserId": {
                        "type": "string",
                        "description": "Help Teams User Id"
                      },
                      "TeamsTimeZoneName": {
                        "type": "string",
                        "description": "Teams Time Zone Name"
                      },
                      "ServiceUrl": {
                        "type": "string",
                        "description": "Service Url"
                      },
                      "UserPrincipalName": {
                        "type": "string",
                        "description": "User Principal Name"
                      },
                      "JobTitle": {
                        "type": "string",
                        "description": "Job Title"
                      },
                      "Department": {
                        "type": "string",
                        "description": "Department"
                      },
                      "CompanyName": {
                        "type": "string",
                        "description": "Company Name"
                      },
                      "EmployeeId": {
                        "type": "string",
                        "description": "Employee Id"
                      },
                      "StreetAddress": {
                        "type": "string",
                        "description": "Street Address"
                      },
                      "State": {
                        "type": "string",
                        "description": "State"
                      },
                      "Country": {
                        "type": "string",
                        "description": "Country"
                      },
                      "Office": {
                        "type": "string",
                        "description": "Office"
                      },
                      "City": {
                        "type": "string",
                        "description": "City"
                      },
                      "ZipCode": {
                        "type": "string",
                        "description": "Zip Code"
                      },
                      "OfficePhone": {
                        "type": "string",
                        "description": "Office Phone"
                      },
                      "BlockSignIn": {
                        "type": "boolean",
                        "description": "Block Sign In"
                      },
                      "IsExternalUser": {
                        "type": "boolean",
                        "description": "Is External User"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Get User",
        "description": "Get User",
        "operationId": "GetUserList",
        "x-ms-visibility": "internal",
        "parameters": []
      }
    },
    "/TicketType": {
      "get": {
        "responses": {
          "200": {
            "description": "Response Ticket Type Id Get",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "Is Archived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "Is Default"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "Is System"
                },
                "ParentId": {
                  "type": "string",
                  "description": "Parent Id"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                }
              }
            }
          }
        },
        "summary": "Ticket Type Id Get",
        "description": "Get a list of Ticket Type ids",
        "operationId": "TypeList_Get",
        "x-ms-visibility": "internal",
        "parameters": []
      }
    }
  },
  "definitions": {
    "ServiceDesk.Core.Models.Pickers.Ticket.Status": {
      "type": "object",
      "properties": {
        "Value": {
          "description": "Value",
          "type": "string"
        },
        "Position": {
          "description": "Position",
          "type": "integer",
          "format": "int32"
        },
        "IsArchived": {
          "description": "Is Archived",
          "type": "boolean"
        },
        "IsDefault": {
          "description": "Is Default",
          "type": "boolean"
        },
        "IsSystem": {
          "description": "Is System",
          "type": "boolean"
        },
        "ParentId": {
          "description": "Parent Id",
          "type": "integer",
          "format": "int32"
        },
        "Id": {
          "description": "Id",
          "type": "integer",
          "format": "int32"
        },
        "ModifiedDate": {
          "description": "Modified Date",
          "type": "string",
          "format": "date-time"
        },
        "ModifiedById": {
          "description": "Modified By Id",
          "type": "integer",
          "format": "int32"
        },
        "CreatedDate": {
          "description": "Created Date",
          "type": "string",
          "format": "date-time"
        },
        "CreatedById": {
          "description": "Created By Id",
          "type": "integer",
          "format": "int32"
        },
        "Guid": {
          "description": "Guid",
          "type": "string"
        },
        "IsDeleted": {
          "description": "Is Deleted",
          "type": "boolean"
        }
      }
    },
    "ServiceDesk.Core.Actions.UpdateTicket": {
      "type": "object",
      "required": [
        "Ticket"
      ],
      "properties": {
        "Ticket": {
          "$ref": "#/definitions/ServiceDesk.Core.Actions.UpdateTicket.TicketDTO"
        }
      }
    },
    "ServiceDesk.Core.Actions.AddTicket": {
      "type": "object",
      "required": [
        "Ticket"
      ],
      "properties": {
        "Ticket": {
          "$ref": "#/definitions/ServiceDesk.Core.Actions.AddTicket.TicketDTO"
        }
      }
    },
    "ServiceDesk.Core.Actions.AddTicket.PlatformUserDTO": {
      "type": "object",
      "required": [
        "Email"
      ],
      "properties": {
        "Email": {
          "description": "Enter Assignee Email",
          "x-ms-summary": "AssigneeEmail",
          "type": "string",
          "title": "Assignee Email"
        }
      }
    },
    "ServiceDesk.Core.Actions.UpdateTicket.PlatformUserDTO": {
      "type": "object",
      "required": [
        "Email"
      ],
      "properties": {
        "Email": {
          "description": "Change Assignee Email",
          "x-ms-summary": "AssigneeEmail",
          "type": "string",
          "title": "Assignee Email"
        }
      }
    },
    "ServiceDesk.Core.Actions.UpdateTicket.TicketDTO": {
      "type": "object",
      "required": [
        "Id"
      ],
      "properties": {
        "Id": {
          "description": "Enter Tikit ID",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Enter Tikit ID",
          "title": "Tikit ID"
        },
        "Title": {
          "description": "Change Request Information",
          "type": "string",
          "x-ms-summary": "Change Request Information",
          "title": "Request"
        },
        "Requester": {
          "$ref": "#/definitions/ServiceDesk.Core.Actions.UpdateTicket.CdmUserDTO"
        },
        "StatusId": {
          "description": "Change Status",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Status",
          "x-ms-dynamic-values": {
            "operationId": "StatusList_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Value"
          },
          "title": "Status"
        },
        "CategoryId": {
          "description": "Change Category",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Category",
          "x-ms-dynamic-values": {
            "operationId": "CategoryId_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Value"
          },
          "title": "Category"
        },
        "PriorityId": {
          "description": "Change Priority",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Priority",
          "x-ms-dynamic-values": {
            "operationId": "PriorityId_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Value"
          },
          "title": "Priority"
        },
        "TicketTypeId": {
          "description": "Change Ticket Type",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Ticket Type",
          "x-ms-dynamic-values": {
            "operationId": "TypeList_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Value"
          },
          "title": "Ticket Type"
        },
        "SupportGroupId": {
          "description": "Change Support Group",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Group",
          "x-ms-dynamic-values": {
            "operationId": "GroupId_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Name"
          },
          "title": "Group"
        },
        "DueDate": {
          "description": "Change Due Date",
          "type": "string",
          "format": "date",
          "title": "Due Date"
        },
        "ResolutionDate": {
          "description": "Change Resolution Date",
          "type": "string",
          "format": "date",
          "title": "Resolution Date"
        },
        "Assignee": {
          "$ref": "#/definitions/ServiceDesk.Core.Actions.UpdateTicket.PlatformUserDTO"
        }
      }
    },
    "ServiceDesk.Core.Actions.AddTicket.TicketDTO": {
      "type": "object",
      "required": [
        "Title",
        "Requester",
        "StatusId",
        "PriorityId",
        "TicketTypeId"
      ],
      "properties": {
        "Title": {
          "description": "Enter Request",
          "type": "string",
          "x-ms-summary": "Request"
        },
        "Requester": {
          "$ref": "#/definitions/ServiceDesk.Core.Actions.AddTicket.CdmUserDTO"
        },
        "StatusId": {
          "description": "Select Status",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Status",
          "x-ms-dynamic-values": {
            "operationId": "StatusList_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Value"
          },
          "title": "Status"
        },
        "CategoryId": {
          "description": "Select Category",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Category",
          "x-ms-dynamic-values": {
            "operationId": "CategoryId_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Value"
          },
          "title": "Category"
        },
        "PriorityId": {
          "description": "Select Priority",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Priority",
          "x-ms-dynamic-values": {
            "operationId": "PriorityId_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Value"
          },
          "title": "Priority"
        },
        "TicketTypeId": {
          "description": "Select Ticket Type",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Ticket Type",
          "x-ms-dynamic-values": {
            "operationId": "TypeList_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Value"
          },
          "title": "Ticket Type"
        },
        "SupportGroupId": {
          "description": "Select Support Group",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Group",
          "x-ms-dynamic-values": {
            "operationId": "GroupId_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Name"
          },
          "title": "Group"
        },
        "DueDate": {
          "description": "Enter Due Date",
          "type": "string",
          "format": "date",
          "title": "Due Date"
        },
        "ResolutionDate": {
          "description": "Enter Resolution Date",
          "type": "string",
          "format": "date",
          "title": "Resolution Date"
        },
        "Assignee": {
          "$ref": "#/definitions/ServiceDesk.Core.Actions.AddTicket.PlatformUserDTO"
        }
      }
    },
    "ServiceDesk.Core.Actions.AddTicket.CdmUserDTO": {
      "type": "object",
      "properties": {
        "EMailAddress": {
          "description": "Enter Requester Email",
          "x-ms-summary": "RequesterEmail",
          "type": "string",
          "title": "Requester Email"
        }
      },
      "required": [
        "EMailAddress"
      ]
    },
    "ServiceDesk.Core.Actions.UpdateTicket.CdmUserDTO": {
      "type": "object",
      "properties": {
        "EMailAddress": {
          "description": "Change Requester Email",
          "x-ms-summary": "RequesterEmail",
          "type": "string",
          "title": "Requester Email"
        }
      }
    },
    "ServiceDesk.Core.Models.Ticket.Items": {
      "type": "object",
      "properties": {
        "@odata.context": {
          "type": "string",
          "description": "Context"
        },
        "value": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "RequesterId": {
                "type": "string",
                "description": "Requester Id"
              },
              "Title": {
                "type": "string",
                "description": "Title"
              },
              "Closed": {
                "type": "boolean",
                "description": "Closed"
              },
              "DueDate": {
                "type": "string",
                "description": "Due Date"
              },
              "ResolutionDate": {
                "type": "string",
                "description": "Resolution Date"
              },
              "Description": {
                "type": "string",
                "description": "Description"
              },
              "AssigneeId": {
                "type": "string",
                "description": "Assignee Id"
              },
              "SupportGroupId": {
                "type": "string",
                "description": "Support Group Id"
              },
              "GroupId": {
                "type": "string",
                "description": "Group Id"
              },
              "EscalationId": {
                "type": "string",
                "description": "Escalation Id"
              },
              "CategoryId": {
                "type": "integer",
                "format": "int32",
                "description": "Category Id"
              },
              "ImpactId": {
                "type": "integer",
                "format": "int32",
                "description": "Impact Id"
              },
              "PriorityId": {
                "type": "integer",
                "format": "int32",
                "description": "Priority Id"
              },
              "SourceId": {
                "type": "string",
                "description": "Source Id"
              },
              "StatusId": {
                "type": "integer",
                "format": "int32",
                "description": "Status Id"
              },
              "UrgencyId": {
                "type": "integer",
                "format": "int32",
                "description": "Urgency Id"
              },
              "TriageConversationId": {
                "type": "string",
                "description": "Triage Conversation Id"
              },
              "TriageActivityId": {
                "type": "string",
                "description": "Triage Activity Id"
              },
              "LinkToMessage": {
                "type": "string",
                "description": "Link To Message"
              },
              "TemplateId": {
                "type": "string",
                "description": "Template Id"
              },
              "CardTemplateJson": {
                "type": "string",
                "description": "Card Template Json"
              },
              "CardAnswerJson": {
                "type": "string",
                "description": "Card Answer Json"
              },
              "TicketTypeId": {
                "type": "string",
                "description": "Ticket Type Id"
              },
              "Id": {
                "type": "integer",
                "format": "int32",
                "description": "Id"
              },
              "ModifiedDate": {
                "type": "string",
                "description": "Modified Date"
              },
              "ModifiedById": {
                "type": "integer",
                "format": "int32",
                "description": "Modified By Id"
              },
              "CreatedDate": {
                "type": "string",
                "description": "Created Date"
              },
              "CreatedById": {
                "type": "integer",
                "format": "int32",
                "description": "Created By Id"
              },
              "Guid": {
                "type": "string",
                "description": "Guid"
              },
              "IsDeleted": {
                "type": "boolean",
                "description": "Is Deleted"
              }
            }
          }
        }
      }
    },
    "ServiceDesk.Core.Models.Ticket": {
      "type": "object",
      "properties": {
        "@odata.context": {
          "description": "Context",
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "RequesterId": {
          "description": "Requester Id",
          "type": "integer",
          "format": "int32"
        },
        "Title": {
          "description": "Title",
          "type": "string"
        },
        "Closed": {
          "description": "Closed",
          "type": "boolean"
        },
        "DueDate": {
          "description": "Due Date",
          "type": "string",
          "format": "date-time"
        },
        "ResolutionDate": {
          "description": "Resolution Date",
          "type": "string",
          "format": "date-time"
        },
        "Description": {
          "description": "Description",
          "type": "string"
        },
        "AssigneeId": {
          "description": "Assignee Id",
          "type": "integer",
          "format": "int32"
        },
        "SupportGroupId": {
          "description": "Support Group Id",
          "type": "integer",
          "format": "int32"
        },
        "GroupId": {
          "description": "Group Id",
          "type": "integer",
          "format": "int32"
        },
        "EscalationId": {
          "description": "Escalation Id",
          "type": "integer",
          "format": "int32"
        },
        "CategoryId": {
          "description": "Category Id",
          "type": "integer",
          "format": "int32"
        },
        "ImpactId": {
          "description": "Impact Id",
          "type": "integer",
          "format": "int32"
        },
        "PriorityId": {
          "description": "Priority Id",
          "type": "integer",
          "format": "int32"
        },
        "SourceId": {
          "description": "Source Id",
          "type": "integer",
          "format": "int32"
        },
        "StatusId": {
          "description": "Status Id",
          "type": "integer",
          "format": "int32"
        },
        "UrgencyId": {
          "description": "Urgency Id",
          "type": "integer",
          "format": "int32"
        },
        "TriageConversationId": {
          "description": "Triage Conversation Id",
          "type": "string"
        },
        "TriageActivityId": {
          "description": "Triage Activity Id",
          "type": "string"
        },
        "LinkToMessage": {
          "description": "Link To Message",
          "type": "string"
        },
        "TemplateId": {
          "description": "Template Id",
          "type": "integer",
          "format": "int32"
        },
        "CardAnswerJson": {
          "description": "Card Answer Json",
          "type": "string"
        },
        "Id": {
          "description": "Id",
          "type": "integer",
          "format": "int32"
        },
        "ModifiedDate": {
          "description": "Modified Date",
          "type": "string",
          "format": "date-time"
        },
        "ModifiedById": {
          "description": "Modified By Id",
          "type": "integer",
          "format": "int32"
        },
        "CreatedDate": {
          "description": "Created Date",
          "type": "string",
          "format": "date-time"
        },
        "CreatedById": {
          "description": "Created By Id",
          "type": "integer",
          "format": "int32"
        },
        "Guid": {
          "description": "Guid",
          "type": "string"
        },
        "IsDeleted": {
          "description": "Is Deleted",
          "type": "boolean"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.tikit.ai/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.tikit.ai/privacy-statement/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations;Productivity"
    }
  ]
}
