{
  "swagger": "2.0",
  "info": {
    "version": "1.1",
    "title": "Tikit",
    "description": "Extend conversational ticketing built for Microsoft Teams with activities to create tickets in response to events or update tickets with more information as context changes.",
    "contact": {
      "name": "Tikit Support",
      "url": "https://help.tikit.ai/",
      "email": "help@tikit.ai"
    }
  },
  "host": "app.tikit.ai",
  "basePath": "/api/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "multipart/form-data"
  ],
  "produces": [],
  "paths": {
    "/Ticket": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get all tickets",
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Models.Ticket.Items"
            }
          }
        },
        "summary": "Get all tickets",
        "description": "Fetch all Tickets",
        "operationId": "GetAllTickets",
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "description": "Define oData expand",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$expand"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Define oData select",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$select"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Define oData orderby",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$orderby"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Number Tickets",
            "type": "integer",
            "default": 10,
            "x-ms-summary": "$top"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Define oData skip",
            "type": "integer",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$skip"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Define oData count",
            "type": "boolean",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$count"
          }
        ]
      }
    },
    "/AddTicket": {
      "post": {
        "summary": "Create New Ticket",
        "description": "Create New Ticket",
        "operationId": "CreateTicket",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Actions.AddTicket"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from Add Ticket",
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Models.Ticket"
            }
          }
        }
      }
    },
    "/UpdateTicket": {
      "post": {
        "summary": "Update a Ticket",
        "description": "Update a Ticket",
        "operationId": "UpdateTicket",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Actions.UpdateTicket"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from Update Ticket",
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Models.Ticket"
            }
          }
        }
      }
    },
    "/ticket/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get One Ticket",
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Models.Ticket"
            },
            "headers": {
              "accept": {
                "description": "accept",
                "type": "string"
              }
            }
          }
        },
        "summary": "Get Ticket",
        "description": "Get One Ticket",
        "operationId": "GetOneTicket",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Enter Ticket ID",
            "x-ms-summary": "Ticket ID"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Define oData select",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Define oData select"
          }
        ]
      }
    },
    "/Status": {
      "get": {
        "summary": "Get Status List",
        "operationId": "StatusList_Get",
        "description": "Returns a list of Status values",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Entity Set Ticket Status",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "description": "Context",
                  "type": "string"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ServiceDesk.Core.Models.Pickers.Ticket.Status"
                  }
                }
              }
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/SupportGroup": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Support Group Id Get",
            "schema": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                },
                "Name": {
                  "type": "string",
                  "description": "Name"
                },
                "Description": {
                  "type": "string",
                  "description": "Description"
                },
                "TeamsChannelId": {
                  "type": "string",
                  "description": "Teams Channel Id"
                },
                "ApplicationRoleId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Application Role Id"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "Is Archived"
                }
              }
            }
          }
        },
        "summary": "Support Group Id Get",
        "description": "Get a list of group ids",
        "operationId": "SupportGroupId_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/Category": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get Category",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "Is Archived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "Is Default"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "Is System"
                },
                "ParentId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Parent Id"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                }
              }
            }
          }
        },
        "summary": "GetCategory",
        "description": "Get Category",
        "operationId": "CategoryId_Get",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "IsArchived eq false"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/Impact": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get Impact",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "Is Archived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "Is Default"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "Is System"
                },
                "ParentId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Parent Id"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                }
              }
            }
          }
        },
        "summary": "Impact",
        "description": "Get Impact",
        "operationId": "ImpactId_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/Priority": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get Priority",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "Is Archived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "Is Default"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "Is System"
                },
                "ParentId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Parent Id"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                }
              }
            }
          }
        },
        "summary": "Get Priority",
        "description": "Get Priority ID",
        "operationId": "PriorityId_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/Source": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get Source ID",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "Is Archived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "Is Default"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "Is System"
                },
                "ParentId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Parent Id"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                }
              }
            }
          }
        },
        "summary": "Source ID",
        "description": "Get Source ID",
        "operationId": "SourceID_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/Urgency": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get urgency id",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "Is Archived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "Is Default"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "Is System"
                },
                "ParentId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Parent Id"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                }
              }
            }
          }
        },
        "summary": "Urgency ID",
        "description": "Get urgency id",
        "operationId": "UrgencyId_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/Escalation": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get Escaltion Ids",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "Is Archived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "Is Default"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "Is System"
                },
                "ParentId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Parent Id"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                }
              }
            }
          }
        },
        "summary": "Get Escalation",
        "description": "Get Escaltion Ids",
        "operationId": "EsclationIds_get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/Group": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Group ID",
            "schema": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                },
                "Name": {
                  "type": "string",
                  "description": "Name"
                },
                "Description": {
                  "type": "string",
                  "description": "Description"
                },
                "ApplicationRoleId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Application Role Id"
                }
              }
            }
          }
        },
        "summary": "Group ID",
        "description": "Group ID",
        "operationId": "GroupId_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/TicketTemplate": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Ticket Template",
            "schema": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                },
                "Name": {
                  "type": "string",
                  "description": "Name"
                },
                "Description": {
                  "type": "string",
                  "description": "Description"
                },
                "ApplicationRoleId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Application Role Id"
                }
              }
            }
          }
        },
        "summary": "Template ID",
        "description": "Template ID",
        "operationId": "TemplateId_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/UploadTicketFiles/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Upload Ticket Files",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "string",
                  "description": "data"
                },
                "error": {
                  "type": "string",
                  "description": "error"
                }
              }
            }
          }
        },
        "summary": "Get Ticket Attachment",
        "operationId": "GetTicketAttachment",
        "description": "Get Ticket Attachment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Ticket ID"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/ticket({id})/AddComment": {
      "post": {
        "responses": {
          "200": {
            "description": "Response from Add Comment to a ticket",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "Context"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                },
                "Body": {
                  "type": "string",
                  "description": "Body"
                },
                "IsPublic": {
                  "type": "boolean",
                  "description": "Is Public"
                }
              }
            }
          }
        },
        "summary": "Add Comment to a ticket",
        "description": "Add Comment to a ticket",
        "operationId": "AddComment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Enter Ticket ID",
            "x-ms-summary": "Ticket ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Comment": {
                  "type": "object",
                  "properties": {
                    "Body": {
                      "type": "string",
                      "description": "New comment message",
                      "title": "Message"
                    },
                    "IsPublic": {
                      "type": "boolean",
                      "description": "Is Public",
                      "title": "Public"
                    }
                  },
                  "description": "Comment"
                }
              }
            }
          }
        ]
      }
    },
    "/UploadTicketFiles": {
      "post": {
        "responses": {
          "200": {
            "description": "Response from Upload Ticket Files",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "Context"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "DownladUrl": {
                        "type": "string",
                        "description": "Downlad Url"
                      },
                      "ContentUrl": {
                        "type": "string",
                        "description": "Content Url"
                      },
                      "DriveItemGroupId": {
                        "type": "string",
                        "description": "Drive Item Group Id"
                      },
                      "DriveItemId": {
                        "type": "string",
                        "description": "Drive Item Id"
                      },
                      "FileName": {
                        "type": "string",
                        "description": "File Name"
                      },
                      "MediaType": {
                        "type": "string",
                        "description": "Media Type"
                      },
                      "FileSize": {
                        "type": "integer",
                        "format": "int32",
                        "description": "File Size"
                      },
                      "Buffer": {
                        "type": "string",
                        "description": "Buffer"
                      },
                      "FileExtension": {
                        "type": "string",
                        "description": "File Extension"
                      },
                      "IsImage": {
                        "type": "boolean",
                        "description": "Is Image"
                      },
                      "Id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Id"
                      },
                      "ModifiedDate": {
                        "type": "string",
                        "description": "Modified Date"
                      },
                      "ModifiedById": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Modified By Id"
                      },
                      "CreatedDate": {
                        "type": "string",
                        "description": "Created Date"
                      },
                      "CreatedBy": {
                        "type": "string",
                        "description": "Created By"
                      },
                      "CreatedById": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Created By Id"
                      },
                      "Guid": {
                        "type": "string",
                        "description": "Guid"
                      },
                      "IsDeleted": {
                        "type": "boolean",
                        "description": "Is Deleted"
                      }
                    }
                  },
                  "description": "data"
                },
                "error": {
                  "type": "string",
                  "description": "error"
                }
              }
            }
          }
        },
        "summary": "Add Attachment to Ticket",
        "operationId": "AddAttachmentToTicket",
        "parameters": [
          {
            "name": "Content-type",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "fileContent",
            "in": "formData",
            "required": true,
            "type": "file"
          },
          {
            "name": "name",
            "in": "formData",
            "required": true,
            "type": "string"
          }
        ],
        "x-ms-visibility": "internal",
        "description": "Add Attachment to Ticket"
      }
    },
    "/{Location}": {
      "delete": {
        "responses": {
          "default": {
            "description": "200",
            "schema": {}
          }
        },
        "summary": "Webhook delete",
        "operationId": "WebHookDelete",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "Location",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/TicketType": {
      "get": {
        "responses": {
          "200": {
            "description": "Response Ticket Type Id Get",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "Is Archived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "Is Default"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "Is System"
                },
                "ParentId": {
                  "type": "string",
                  "description": "Parent Id"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                }
              }
            }
          }
        },
        "summary": "Ticket Type Id Get",
        "description": "Get a list of Ticket Type ids",
        "operationId": "TypeList_Get",
        "x-ms-visibility": "internal",
        "parameters": []
      }
    },
    "/AddTicketWebhook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/ServiceDesk.Core.Models.Ticket.WebhookRecieveProperties"
        },
        "headers": {
          "Host": {
            "description": "Host",
            "type": "string"
          },
          "Request-Id": {
            "description": "Request-Id",
            "type": "string"
          },
          "traceparent": {
            "description": "Trace parent",
            "type": "string"
          },
          "Content-Length": {
            "description": "Content-Length",
            "type": "string"
          },
          "Content-Type": {
            "description": "Content-Type",
            "type": "string"
          }
        },
        "description": ""
      },
      "post": {
        "summary": "When a Ticket is Created",
        "operationId": "AddTicketWebhookTrigger",
        "description": "This operation triggers when a new ticket is created",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "Enter Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "WebHook"
              ],
              "properties": {
                "WebHook": {
                  "type": "object",
                  "required": [
                    "URL"
                  ],
                  "properties": {
                    "URL": {
                      "type": "string",
                      "description": "URL",
                      "x-ms-notification-url": true,
                      "x-ms-visibility": "internal",
                      "title": ""
                    },
                    "Requesters": {
                      "type": "string",
                      "description": "Requester(s) email address separated by comma (If any match, the trigger will run)",
                      "title": "Requester(s)"
                    },
                    "Assignees": {
                      "type": "string",
                      "description": "Assignee(s) email address separated by comma (If any match, the trigger will run)",
                      "title": "Assignee(s)"
                    },
                    "Title": {
                      "type": "string",
                      "description": "String to look for in the Title."
                    },
                    "Status": {
                      "type": "string",
                      "description": "Select Status (If Any is selected, the trigger will run regardless of Status)",
                      "title": "Status",
                      "enum": [
                        "Any",
                        "Active",
                        "Pending",
                        "Resolved",
                        "Closed",
                        "Deflected"
                      ],
                      "default": "Any"
                    },
                    "Priority": {
                      "type": "string",
                      "description": "Select Status (If Any is selected, the trigger will run regardless of Priority)",
                      "title": "Priority",
                      "enum": [
                        "Any",
                        "1 (High)",
                        "2 (Medium)",
                        "3 (Low)"
                      ],
                      "default": "Any"
                    },
                    "GroupId": {
                      "description": "Select Group (Leave it blank and trigger wil run regardless of any Group)",
                      "type": "integer",
                      "format": "int32",
                      "x-ms-summary": "Group",
                      "x-ms-dynamic-values": {
                        "operationId": "SupportGroupId_Get",
                        "value-collection": "value",
                        "value-path": "Id",
                        "value-title": "Name"
                      },
                      "title": "Group"
                    },
                    "TemplateId": {
                      "description": "Select Template (Leave it blank and trigger wil run regardless of any Template)",
                      "type": "integer",
                      "format": "int32",
                      "x-ms-summary": "Select Template",
                      "x-ms-dynamic-values": {
                        "operationId": "TemplateId_Get",
                        "value-collection": "value",
                        "value-path": "Id",
                        "value-title": "Name"
                      },
                      "title": "Template"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from Add Ticket Webhook",
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Actions.AddWebhook.WebhookParam"
            }
          },
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/UpdateTicketWebhook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/ServiceDesk.Core.Models.Ticket.WebhookRecieveProperties"
        },
        "headers": {
          "Host": {
            "description": "Host",
            "type": "string"
          },
          "Request-Id": {
            "description": "Request-Id",
            "type": "string"
          },
          "traceparent": {
            "description": "traceparent",
            "type": "string"
          },
          "Content-Length": {
            "description": "Content-Length",
            "type": "string"
          },
          "Content-Type": {
            "description": "Content-Type",
            "type": "string"
          }
        },
        "description": ""
      },
      "post": {
        "summary": "When a Ticket is Updated",
        "operationId": "UpdateTicketWebhookTrigger",
        "description": "This operation triggers when a ticket is updated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "Enter Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "WebHook"
              ],
              "properties": {
                "WebHook": {
                  "type": "object",
                  "required": [
                    "URL"
                  ],
                  "properties": {
                    "URL": {
                      "type": "string",
                      "description": "URL",
                      "x-ms-notification-url": true,
                      "x-ms-visibility": "internal",
                      "title": ""
                    },
                    "Requesters": {
                      "type": "string",
                      "description": "Requester(s) email address separated by comma (If any match, the trigger will run)",
                      "title": "Requester(s)"
                    },
                    "Assignees": {
                      "type": "string",
                      "description": "Assignee(s) email address separated by comma (If any match, the trigger will run)",
                      "title": "Assignee(s)"
                    },
                    "Title": {
                      "type": "string",
                      "description": "String to look for in the Title."
                    },
                    "Status": {
                      "type": "string",
                      "description": "Select Status (If Any is selected, the trigger will run regardless of Status)",
                      "title": "Status",
                      "enum": [
                        "Any",
                        "Active",
                        "Pending",
                        "Resolved",
                        "Closed",
                        "Deflected"
                      ],
                      "default": "Any"
                    },
                    "Priority": {
                      "type": "string",
                      "description": "Select Status (If Any is selected, the trigger will run regardless of Priority)",
                      "title": "Priority",
                      "enum": [
                        "Any",
                        "1 (High)",
                        "2 (Medium)",
                        "3 (Low)"
                      ],
                      "default": "Any"
                    },
                    "GroupId": {
                      "description": "Select Group (Leave it blank and trigger wil run regardless of any Group)",
                      "type": "integer",
                      "format": "int32",
                      "x-ms-summary": "Group",
                      "x-ms-dynamic-values": {
                        "operationId": "SupportGroupId_Get",
                        "value-collection": "value",
                        "value-path": "Id",
                        "value-title": "Name"
                      },
                      "title": "Group"
                    },
                    "TemplateId": {
                      "description": "Select Template (Leave it blank and trigger wil run regardless of any Template)",
                      "type": "integer",
                      "format": "int32",
                      "x-ms-summary": "Select Template",
                      "x-ms-dynamic-values": {
                        "operationId": "TemplateId_Get",
                        "value-collection": "value",
                        "value-path": "Id",
                        "value-title": "Name"
                      },
                      "title": "Template"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from Update Ticket Webhook",
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Actions.AddWebhook.WebhookParam"
            }
          }
        }
      }
    },
    "/AddCommentTicketWebhook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/ServiceDesk.Core.Models.Ticket.WebhookRecieveProperties"
        },
        "headers": {
          "Host": {
            "description": "Host",
            "type": "string"
          },
          "Request-Id": {
            "description": "Request-Id",
            "type": "string"
          },
          "traceparent": {
            "description": "traceparent",
            "type": "string"
          },
          "Content-Length": {
            "description": "Content-Length",
            "type": "string"
          },
          "Content-Type": {
            "description": "Content-Type",
            "type": "string"
          }
        },
        "description": ""
      },
      "post": {
        "summary": "When a Comment is left on a Ticket",
        "operationId": "AddCommentTicketWebhook",
        "description": "This operation triggers when a comment is left on a ticket",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "Enter Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "WebHook"
              ],
              "properties": {
                "WebHook": {
                  "type": "object",
                  "required": [
                    "URL"
                  ],
                  "properties": {
                    "URL": {
                      "type": "string",
                      "description": "URL",
                      "x-ms-notification-url": true,
                      "x-ms-visibility": "internal",
                      "title": ""
                    },
                    "Commenter": {
                      "type": "string",
                      "description": "Commenter(s) email address separated by comma (If any match, the trigger will run)",
                      "title": "Commenter(s)"
                    },
                    "CommentStringContain": {
                      "type": "string",
                      "description": "String to look for in the comment body.",
                      "title": "Comment filter"
                    },
                    "IsPublicComment": {
                      "type": "string",
                      "description": "Select Privacy (If Any is selected, the trigger will run regardless of Privacy)",
                      "title": "Privacy",
                      "enum": [
                        "Any",
                        "Public",
                        "Private"
                      ],
                      "default": "Any"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from Update Ticket Webhook",
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Actions.AddWebhook.WebhookParam"
            }
          }
        }
      }
    },
    "/ticket/{id}/FileAttachments": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from File Attachments",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "FileName": {
                        "type": "string",
                        "description": "File Name",
                        "x-ms-summary": "File Name"
                      },
                      "FileSize": {
                        "type": "number",
                        "format": "float",
                        "description": "File Size",
                        "x-ms-summary": "File Size",
                        "title": "File Size"
                      },
                      "FileExtension": {
                        "type": "string",
                        "description": "File Extension",
                        "x-ms-summary": "File Extension"
                      },
                      "Id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Id",
                        "x-ms-summary": "Id"
                      },
                      "ModifiedDate": {
                        "type": "string",
                        "description": "Modified Date",
                        "x-ms-summary": "Modified Date"
                      },
                      "ModifiedById": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Modified By Id",
                        "x-ms-summary": "Modified By Id"
                      },
                      "CreatedDate": {
                        "type": "string",
                        "description": "Created Date",
                        "x-ms-summary": "Created Date"
                      },
                      "CreatedById": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Created By Id",
                        "x-ms-summary": "Created By Id"
                      },
                      "Guid": {
                        "type": "string",
                        "description": "Guid",
                        "x-ms-summary": "Guid"
                      },
                      "IsDeleted": {
                        "type": "boolean",
                        "description": "Is Deleted",
                        "x-ms-summary": "Is Deleted"
                      },
                      "DownladUrl": {
                        "type": "string",
                        "description": "Downlad Url",
                        "x-ms-summary": "Downlad Url"
                      },
                      "DriveItemGroupId": {
                        "type": "string",
                        "description": "Drive Item Group Id",
                        "x-ms-summary": "Drive Item Group Id"
                      },
                      "DriveItemId": {
                        "type": "string",
                        "description": "Drive Item Id",
                        "x-ms-summary": "Drive Item Id"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Get File(s) Attached to a Ticket",
        "description": "Get File(s) Attached to a Ticket",
        "operationId": "GetFileAttached",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Tikit Id",
            "x-ms-summary": "Tikit Id"
          }
        ]
      }
    }
  },
  "definitions": {
    "ServiceDesk.Core.Actions.AddWebhook.WebhookParam": {
      "type": "object",
      "required": [
        "WebHook"
      ],
      "properties": {
        "WebHook": {
          "$ref": "#/definitions/ServiceDesk.Core.Actions.AddWebhook.Properties"
        }
      }
    },
    "ServiceDesk.Core.Actions.AddWebhook.Properties": {
      "type": "object",
      "required": [
        "URL"
      ],
      "properties": {
        "URL": {
          "type": "string",
          "description": "URL",
          "x-ms-notification-url": true,
          "x-ms-visibility": "internal",
          "title": ""
        },
        "Requesters": {
          "type": "string",
          "description": "Requesters"
        },
        "Assignees": {
          "type": "string",
          "description": "Assignees"
        },
        "Template": {
          "type": "boolean",
          "description": "Template",
          "title": "Trigger Template Change",
          "default": false
        },
        "Title": {
          "type": "boolean",
          "description": "Title",
          "title": "Trigger Title Change",
          "default": true
        },
        "Status": {
          "type": "boolean",
          "description": "Status",
          "title": "Trigger Status Change",
          "default": true
        },
        "Priority": {
          "type": "boolean",
          "description": "Priority",
          "title": "Trigger PriorityChange",
          "default": true
        },
        "Group": {
          "type": "boolean",
          "description": "Group",
          "title": "Trigger Group Change",
          "default": false
        },
        "DueDate": {
          "type": "boolean",
          "description": "DueDate",
          "title": "Trigger Due Date Change",
          "default": false
        }
      }
    },
    "ServiceDesk.Core.Models.Pickers.Ticket.Status": {
      "type": "object",
      "properties": {
        "Value": {
          "description": "Value",
          "type": "string"
        },
        "Position": {
          "description": "Position",
          "type": "integer",
          "format": "int32"
        },
        "IsArchived": {
          "description": "Is Archived",
          "type": "boolean"
        },
        "IsDefault": {
          "description": "Is Default",
          "type": "boolean"
        },
        "IsSystem": {
          "description": "Is System",
          "type": "boolean"
        },
        "ParentId": {
          "description": "Parent Id",
          "type": "integer",
          "format": "int32"
        },
        "Id": {
          "description": "Id",
          "type": "integer",
          "format": "int32"
        },
        "ModifiedDate": {
          "description": "Modified Date",
          "type": "string",
          "format": "date-time"
        },
        "ModifiedById": {
          "description": "Modified By Id",
          "type": "integer",
          "format": "int32"
        },
        "CreatedDate": {
          "description": "Created Date",
          "type": "string",
          "format": "date-time"
        },
        "CreatedById": {
          "description": "Created By Id",
          "type": "integer",
          "format": "int32"
        },
        "Guid": {
          "description": "Guid",
          "type": "string"
        },
        "IsDeleted": {
          "description": "Is Deleted",
          "type": "boolean"
        }
      }
    },
    "ServiceDesk.Core.Actions.UpdateTicket": {
      "type": "object",
      "required": [
        "Ticket"
      ],
      "properties": {
        "Ticket": {
          "$ref": "#/definitions/ServiceDesk.Core.Actions.UpdateTicket.TicketDTO"
        }
      }
    },
    "ServiceDesk.Core.Actions.AddTicket": {
      "type": "object",
      "required": [
        "Ticket"
      ],
      "properties": {
        "Ticket": {
          "$ref": "#/definitions/ServiceDesk.Core.Actions.AddTicket.TicketDTO"
        }
      }
    },
    "ServiceDesk.Core.Actions.AddTicket.PlatformUserDTO": {
      "type": "object",
      "required": [
        "Email"
      ],
      "properties": {
        "Email": {
          "description": "Enter Assignee Email",
          "x-ms-summary": "Assignee Email",
          "type": "string",
          "title": "Assignee Email"
        }
      }
    },
    "ServiceDesk.Core.Actions.UpdateTicket.PlatformUserDTO": {
      "type": "object",
      "required": [
        "Email"
      ],
      "properties": {
        "Email": {
          "description": "Change Assignee Email",
          "x-ms-summary": "Assignee Email",
          "type": "string",
          "title": "Assignee Email"
        }
      }
    },
    "ServiceDesk.Core.Actions.UpdateTicket.TicketDTO": {
      "type": "object",
      "required": [
        "Id"
      ],
      "properties": {
        "Id": {
          "description": "Enter Ticket ID",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Enter Ticket ID",
          "title": "Ticket ID"
        },
        "Title": {
          "description": "Change Request Information",
          "type": "string",
          "x-ms-summary": "Change Request Information",
          "title": "Request"
        },
        "Requester": {
          "$ref": "#/definitions/ServiceDesk.Core.Actions.UpdateTicket.CdmUserDTO"
        },
        "StatusId": {
          "description": "Change Status",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Status",
          "x-ms-dynamic-values": {
            "operationId": "StatusList_Get",
            "value-path": "Id",
            "value-collection": "value",
            "value-title": "Value"
          },
          "title": "Status"
        },
        "CategoryId": {
          "description": "Change Category",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Category",
          "x-ms-dynamic-values": {
            "operationId": "CategoryId_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Value"
          },
          "title": "Category"
        },
        "PriorityId": {
          "description": "Change Priority",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Priority",
          "x-ms-dynamic-values": {
            "operationId": "PriorityId_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Value"
          },
          "title": "Priority"
        },
        "TicketTypeId": {
          "description": "Change Ticket Type",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Ticket Type",
          "x-ms-dynamic-values": {
            "operationId": "TypeList_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Value"
          },
          "title": "Ticket Type"
        },
        "SupportGroupId": {
          "description": "Change Support Group",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Group",
          "x-ms-dynamic-values": {
            "operationId": "SupportGroupId_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Name"
          },
          "title": "Group"
        },
        "DueDate": {
          "description": "Change Due Date",
          "type": "string",
          "format": "date",
          "title": "Due Date"
        },
        "ResolutionDate": {
          "description": "Change Resolution Date",
          "type": "string",
          "format": "date",
          "title": "Resolution Date"
        },
        "Assignee": {
          "$ref": "#/definitions/ServiceDesk.Core.Actions.UpdateTicket.PlatformUserDTO"
        }
      }
    },
    "ServiceDesk.Core.Actions.AddTicket.TicketDTO": {
      "type": "object",
      "required": [
        "Title",
        "Requester",
        "StatusId",
        "PriorityId",
        "TicketTypeId"
      ],
      "properties": {
        "Title": {
          "description": "Enter Request",
          "type": "string",
          "x-ms-summary": "Request"
        },
        "Requester": {
          "$ref": "#/definitions/ServiceDesk.Core.Actions.AddTicket.CdmUserDTO"
        },
        "StatusId": {
          "description": "Select Status",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Status",
          "x-ms-dynamic-values": {
            "operationId": "StatusList_Get",
            "value-path": "Id",
            "value-collection": "value",
            "value-title": "Value"
          },
          "title": "Status"
        },
        "CategoryId": {
          "description": "Select Category",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Category",
          "x-ms-dynamic-values": {
            "operationId": "CategoryId_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Value"
          },
          "title": "Category"
        },
        "PriorityId": {
          "description": "Select Priority",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Priority",
          "x-ms-dynamic-values": {
            "operationId": "PriorityId_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Value"
          },
          "title": "Priority"
        },
        "TicketTypeId": {
          "description": "Select Ticket Type",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Ticket Type",
          "x-ms-dynamic-values": {
            "operationId": "TypeList_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Value"
          },
          "title": "Ticket Type"
        },
        "SupportGroupId": {
          "description": "Select Support Group",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Group",
          "x-ms-dynamic-values": {
            "operationId": "SupportGroupId_Get",
            "value-collection": "value",
            "value-path": "Id",
            "value-title": "Name"
          },
          "title": "Group"
        },
        "DueDate": {
          "description": "Enter Due Date",
          "type": "string",
          "format": "date",
          "title": "Due Date"
        },
        "ResolutionDate": {
          "description": "Enter Resolution Date",
          "type": "string",
          "format": "date",
          "title": "Resolution Date"
        },
        "Assignee": {
          "$ref": "#/definitions/ServiceDesk.Core.Actions.AddTicket.PlatformUserDTO"
        }
      }
    },
    "ServiceDesk.Core.Actions.AddTicket.CdmUserDTO": {
      "type": "object",
      "properties": {
        "EMailAddress": {
          "description": "Enter Requester Email",
          "x-ms-summary": "RequesterEmail",
          "type": "string",
          "title": "Requester Email"
        }
      },
      "required": [
        "EMailAddress"
      ]
    },
    "ServiceDesk.Core.Actions.UpdateTicket.CdmUserDTO": {
      "type": "object",
      "properties": {
        "EMailAddress": {
          "description": "Change Requester Email",
          "x-ms-summary": "RequesterEmail",
          "type": "string",
          "title": "Requester Email"
        }
      }
    },
    "ServiceDesk.Core.Models.Ticket.Items": {
      "type": "object",
      "properties": {
        "@odata.context": {
          "type": "string",
          "description": "Context"
        },
        "value": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "RequesterId": {
                "type": "integer",
                "format": "int32",
                "description": "Requester Id",
                "x-ms-summary": "Requester Id"
              },
              "Title": {
                "type": "string",
                "description": "Title",
                "x-ms-summary": "Title"
              },
              "Closed": {
                "type": "boolean",
                "description": "Closed",
                "x-ms-summary": "Closed"
              },
              "DueDate": {
                "type": "string",
                "description": "Due Date",
                "x-ms-summary": "Due Date"
              },
              "ResolutionDate": {
                "type": "string",
                "description": "Resolution Date",
                "x-ms-summary": "Resolution Date"
              },
              "Description": {
                "type": "string",
                "description": "Description",
                "x-ms-summary": "Description"
              },
              "AssigneeId": {
                "type": "integer",
                "description": "Assignee Id",
                "x-ms-summary": "Assignee Id"
              },
              "SupportGroupId": {
                "type": "integer",
                "description": "Support Group Id",
                "x-ms-summary": "Support Group Id"
              },
              "GroupId": {
                "type": "integer",
                "description": "Group Id",
                "x-ms-summary": "Group Id"
              },
              "EscalationId": {
                "type": "integer",
                "description": "Escalation Id",
                "x-ms-summary": "Escalation Id"
              },
              "CategoryId": {
                "type": "integer",
                "format": "int32",
                "description": "Category Id",
                "x-ms-summary": "Category Id"
              },
              "PriorityId": {
                "type": "integer",
                "format": "int32",
                "description": "Priority Id",
                "x-ms-summary": "Priority Id"
              },
              "SourceId": {
                "type": "integer",
                "description": "Source Id",
                "x-ms-summary": "Source Id"
              },
              "StatusId": {
                "type": "integer",
                "format": "int32",
                "description": "Status Id",
                "x-ms-summary": "Status Id"
              },
              "UrgencyId": {
                "type": "integer",
                "format": "int32",
                "description": "Urgency Id",
                "x-ms-summary": "Urgency Id"
              },
              "TriageConversationId": {
                "type": "string",
                "description": "Triage Conversation Id",
                "x-ms-summary": "Triage Conversation Id"
              },
              "TriageActivityId": {
                "type": "string",
                "description": "Triage Activity Id",
                "x-ms-summary": "Triage Activity Id"
              },
              "LinkToMessage": {
                "type": "string",
                "description": "Link To Message",
                "x-ms-summary": "Link To Message"
              },
              "TemplateId": {
                "type": "integer",
                "description": "Template Id",
                "x-ms-summary": "Template Id"
              },
              "CardTemplateJson": {
                "type": "string",
                "description": "Card Template Json",
                "x-ms-summary": "Card Template Json"
              },
              "CardAnswerJson": {
                "type": "string",
                "description": "Card Answer Json",
                "x-ms-summary": "Card Answer Json"
              },
              "TicketTypeId": {
                "type": "integer",
                "description": "Ticket Type Id",
                "x-ms-summary": "Ticket Type Id"
              },
              "Id": {
                "type": "integer",
                "format": "int32",
                "description": "Id",
                "x-ms-summary": "Id"
              },
              "ModifiedDate": {
                "type": "string",
                "description": "Modified Date",
                "x-ms-summary": "Modified Date"
              },
              "ModifiedById": {
                "type": "integer",
                "format": "int32",
                "description": "Modified By Id",
                "x-ms-summary": "Modified By"
              },
              "CreatedDate": {
                "type": "string",
                "description": "Created Date",
                "x-ms-summary": "Created Date"
              },
              "CreatedById": {
                "type": "integer",
                "format": "int32",
                "description": "Created By Id",
                "x-ms-summary": "Created By Id"
              },
              "Guid": {
                "type": "string",
                "description": "Guid",
                "x-ms-summary": "Guid"
              },
              "IsDeleted": {
                "type": "boolean",
                "description": "Is Deleted",
                "x-ms-summary": "Is Deleted"
              }
            }
          }
        }
      }
    },
    "ServiceDesk.Core.Models.Ticket": {
      "type": "object",
      "properties": {
        "@odata.context": {
          "description": "Context",
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "RequesterId": {
          "description": "Requester Id",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Requester Id"
        },
        "Title": {
          "description": "Title",
          "type": "string",
          "x-ms-summary": "Title"
        },
        "Closed": {
          "description": "Closed",
          "type": "boolean",
          "x-ms-summary": "Closed"
        },
        "DueDate": {
          "description": "Due Date",
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Due Date"
        },
        "ResolutionDate": {
          "description": "Resolution Date",
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Resolution Date"
        },
        "Description": {
          "description": "Description",
          "type": "string",
          "x-ms-summary": "Description"
        },
        "AssigneeId": {
          "description": "Assignee Id",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Assignee Id"
        },
        "SupportGroupId": {
          "description": "Support Group Id",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Support Group Id"
        },
        "GroupId": {
          "description": "Group Id",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Group Id"
        },
        "EscalationId": {
          "description": "Escalation Id",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Escalation Id"
        },
        "CategoryId": {
          "description": "Category Id",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Category Id"
        },
        "ImpactId": {
          "description": "Impact Id",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Impact Id"
        },
        "PriorityId": {
          "description": "Priority Id",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Priority Id"
        },
        "SourceId": {
          "description": "Source Id",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Source Id"
        },
        "StatusId": {
          "description": "Status Id",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Status Id"
        },
        "UrgencyId": {
          "description": "Urgency Id",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Urgency Id"
        },
        "TriageConversationId": {
          "description": "Triage Conversation Id",
          "type": "string",
          "x-ms-summary": "Triage Conversation Id"
        },
        "TriageActivityId": {
          "description": "Triage Activity Id",
          "type": "string",
          "x-ms-summary": "Triage Activity Id"
        },
        "LinkToMessage": {
          "description": "Link To Message",
          "type": "string",
          "x-ms-summary": "Link To Message"
        },
        "TemplateId": {
          "description": "Template Id",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Template Id"
        },
        "CardAnswerJson": {
          "description": "Card Answer Json",
          "type": "string",
          "x-ms-summary": "Card Answer Json"
        },
        "Id": {
          "description": "Id",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Id"
        },
        "ModifiedDate": {
          "description": "Modified Date",
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Modified Date"
        },
        "ModifiedById": {
          "description": "Modified By Id",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Modified By Id"
        },
        "CreatedDate": {
          "description": "Created Date",
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Created Date"
        },
        "CreatedById": {
          "description": "Created By Id",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Created By Id"
        },
        "Guid": {
          "description": "Guid",
          "type": "string",
          "x-ms-summary": "Guid"
        },
        "IsDeleted": {
          "description": "Is Deleted",
          "type": "boolean",
          "x-ms-summary": "Is Deleted"
        }
      }
    },
    "ServiceDesk.Core.Models.Ticket.WebhookRecieveProperties": {
      "type": "object",
      "properties": {
        "Requester": {
          "type": "object",
          "properties": {
            "FirstName": {
              "type": "string",
              "description": "Requester First Name",
              "x-ms-summary": "First Name"
            },
            "LastName": {
              "type": "string",
              "description": "Requester Last Name",
              "x-ms-summary": "Last Name"
            },
            "EMailAddress": {
              "type": "string",
              "description": "Requester EMail",
              "x-ms-summary": "EMail"
            },
            "AadObjectId": {
              "type": "string",
              "description": "Requester Aad Object Id",
              "x-ms-summary": "Aad Object Id"
            },
            "TeamsUserId": {
              "type": "string",
              "description": "Requester Teams User Id",
              "x-ms-summary": "Teams User Id"
            },
            "HelpTeamsUserId": {
              "type": "string",
              "description": "Requester Help Teams User Id",
              "x-ms-summary": "Help Teams User Id"
            },
            "TeamsTimeZoneName": {
              "type": "string",
              "description": "Requester Teams Time Zone Name",
              "x-ms-summary": "Teams Time Zone"
            },
            "ServiceUrl": {
              "type": "string",
              "description": "Requester Service Url",
              "x-ms-summary": "Service Url"
            },
            "UserPrincipalName": {
              "type": "string",
              "description": "Requester User Principal Name",
              "x-ms-summary": "User Principal Name"
            },
            "BlockSignIn": {
              "type": "boolean",
              "description": "Requester Block SignIn",
              "x-ms-summary": "Block SignIn"
            },
            "IsExternalUser": {
              "type": "boolean",
              "description": "Requester Is External User",
              "x-ms-summary": "Is External User"
            },
            "Name": {
              "type": "string",
              "description": "Requester Full Name",
              "x-ms-summary": "Full Name"
            },
            "Id": {
              "type": "integer",
              "format": "int32",
              "description": "Requester Id",
              "x-ms-summary": "Id"
            },
            "ModifiedDate": {
              "type": "string",
              "description": "Requester Modified Date",
              "x-ms-summary": "Modified Date"
            },
            "ModifiedById": {
              "type": "integer",
              "format": "int32",
              "description": "Requester Modified By Id",
              "x-ms-summary": "Modified By Id"
            },
            "CreatedDate": {
              "type": "string",
              "description": "Requester Created Date",
              "x-ms-summary": "Created Date"
            },
            "Guid": {
              "type": "string",
              "description": "Requester Guid",
              "x-ms-summary": "Guid"
            },
            "IsDeleted": {
              "type": "boolean",
              "description": "Requester Is Deleted",
              "x-ms-summary": "Is Deleted"
            }
          },
          "description": "Requester",
          "x-ms-summary": "Requester"
        },
        "Title": {
          "type": "string",
          "description": "Title",
          "x-ms-summary": "Title"
        },
        "Closed": {
          "type": "boolean",
          "description": "Closed",
          "x-ms-summary": "Closed"
        },
        "IsMerged": {
          "type": "boolean",
          "description": "Is Merged",
          "x-ms-summary": "Is Merged"
        },
        "RelatedTickets": {
          "type": "array",
          "items": {},
          "description": "Related Tickets",
          "x-ms-summary": "Related Tickets"
        },
        "Assignee": {
          "type": "object",
          "properties": {
            "UserName": {
              "type": "string",
              "description": "Assignee User Name",
              "x-ms-summary": "User Name"
            },
            "GivenName": {
              "type": "string",
              "description": "Assignee First Name",
              "x-ms-summary": "First Name"
            },
            "FamilyName": {
              "type": "string",
              "description": "Assignee Last Name",
              "x-ms-summary": "Last Name"
            },
            "Email": {
              "type": "string",
              "description": "Assignee Email",
              "x-ms-summary": "Email"
            },
            "Id": {
              "type": "integer",
              "format": "int32",
              "description": "Assignee Id",
              "x-ms-summary": "Id"
            },
            "ModifiedDate": {
              "type": "string",
              "description": "Assignee Modified Date",
              "x-ms-summary": "Modified Date"
            },
            "CreatedDate": {
              "type": "string",
              "description": "Assignee Created Date",
              "x-ms-summary": "Created Date"
            },
            "Guid": {
              "type": "string",
              "description": "Assignee Guid",
              "x-ms-summary": "Guid"
            },
            "IsDeleted": {
              "type": "boolean",
              "description": "Assignee Is Deleted",
              "x-ms-summary": "Is Deleted"
            },
            "FullName": {
              "type": "string",
              "description": "Assignee Full Name",
              "x-ms-summary": "Full Name"
            },
            "ApplicationRoleMaps": {
              "type": "array",
              "items": {},
              "description": "Application Role Maps",
              "x-ms-summary": "Application Role Maps"
            }
          },
          "description": "Assignee",
          "x-ms-summary": "Assignee"
        },
        "Category": {
          "type": "object",
          "properties": {
            "Value": {
              "type": "string",
              "description": "Category Value",
              "x-ms-summary": "Value"
            },
            "Position": {
              "type": "integer",
              "format": "int32",
              "description": "Category Position",
              "x-ms-summary": "Position"
            },
            "IsArchived": {
              "type": "boolean",
              "description": "Category Is Archived",
              "x-ms-summary": "Is Archived"
            },
            "IsDefault": {
              "type": "boolean",
              "description": "Category Is Default",
              "x-ms-summary": "Is Default"
            },
            "IsSystem": {
              "type": "boolean",
              "description": "Category Is System",
              "x-ms-summary": "Is System"
            },
            "Id": {
              "type": "integer",
              "format": "int32",
              "description": "Category Id",
              "x-ms-summary": "Id"
            },
            "ModifiedDate": {
              "type": "string",
              "description": "Category Modified Date",
              "x-ms-summary": "Modified Date"
            },
            "CreatedDate": {
              "type": "string",
              "description": "Category Created Date",
              "x-ms-summary": "Created Date"
            },
            "Guid": {
              "type": "string",
              "description": "Category Guid",
              "x-ms-summary": "Guid"
            },
            "IsDeleted": {
              "type": "boolean",
              "description": "Category Is Deleted",
              "x-ms-summary": "Is Deleted"
            }
          },
          "description": "Category",
          "x-ms-summary": "Category"
        },
        "Priority": {
          "type": "object",
          "properties": {
            "Value": {
              "type": "string",
              "description": "Priority Value",
              "x-ms-summary": "Value"
            },
            "Position": {
              "type": "integer",
              "format": "int32",
              "description": "Priority Position",
              "x-ms-summary": "Position"
            },
            "IsArchived": {
              "type": "boolean",
              "description": "Priority Is Archived",
              "x-ms-summary": "Is Archived"
            },
            "IsDefault": {
              "type": "boolean",
              "description": "Priority Is Default",
              "x-ms-summary": "Is Default"
            },
            "IsSystem": {
              "type": "boolean",
              "description": "Priority Is System",
              "x-ms-summary": "Is System"
            },
            "Id": {
              "type": "integer",
              "format": "int32",
              "description": "Priority Id",
              "x-ms-summary": "Id"
            },
            "ModifiedDate": {
              "type": "string",
              "description": "Priority Modified Date",
              "x-ms-summary": "Modified Date"
            },
            "CreatedDate": {
              "type": "string",
              "description": "Priority Created Date",
              "x-ms-summary": "Created Date"
            },
            "Guid": {
              "type": "string",
              "description": "Priority Guid",
              "x-ms-summary": "Guid"
            },
            "IsDeleted": {
              "type": "boolean",
              "description": "Priority Is Deleted",
              "x-ms-summary": "Is Deleted"
            }
          },
          "description": "Priority",
          "x-ms-summary": "Priority"
        },
        "Status": {
          "type": "object",
          "properties": {
            "Value": {
              "type": "string",
              "description": "Status Value",
              "x-ms-summary": "Value"
            },
            "Position": {
              "type": "integer",
              "format": "int32",
              "description": "Status Position",
              "x-ms-summary": "Position"
            },
            "IsArchived": {
              "type": "boolean",
              "description": "Status Is Archived",
              "x-ms-summary": "Is Archived"
            },
            "IsDefault": {
              "type": "boolean",
              "description": "Status Is Default",
              "x-ms-summary": "Is Default"
            },
            "IsSystem": {
              "type": "boolean",
              "description": "Status Is System",
              "x-ms-summary": "Is System"
            },
            "Id": {
              "type": "integer",
              "format": "int32",
              "description": "Status Id",
              "x-ms-summary": "Id"
            },
            "ModifiedDate": {
              "type": "string",
              "description": "Status Modified Date",
              "x-ms-summary": "Modified Date"
            },
            "CreatedDate": {
              "type": "string",
              "description": "Status Created Date",
              "x-ms-summary": "Created Date"
            },
            "Guid": {
              "type": "string",
              "description": "Status Guid",
              "x-ms-summary": "Guid"
            },
            "IsDeleted": {
              "type": "boolean",
              "description": "Status Is Deleted",
              "x-ms-summary": "Is Deleted"
            }
          },
          "description": "Status",
          "x-ms-summary": "Status"
        },
        "Urgency": {
          "type": "object",
          "properties": {
            "Value": {
              "type": "string",
              "description": "Urgency Value",
              "x-ms-summary": "Value"
            },
            "Position": {
              "type": "integer",
              "format": "int32",
              "description": "Urgency Position",
              "x-ms-summary": "Position"
            },
            "IsArchived": {
              "type": "boolean",
              "description": "Urgency Is Archived",
              "x-ms-summary": "Is Archived"
            },
            "IsDefault": {
              "type": "boolean",
              "description": "Urgency Is Default",
              "x-ms-summary": "Is Default"
            },
            "IsSystem": {
              "type": "boolean",
              "description": "Urgency Is System",
              "x-ms-summary": "Is System"
            },
            "Id": {
              "type": "integer",
              "format": "int32",
              "description": "Urgency Id",
              "x-ms-summary": "Id"
            },
            "ModifiedDate": {
              "type": "string",
              "description": "Urgency Modified Date",
              "x-ms-summary": "Modified Date"
            },
            "CreatedDate": {
              "type": "string",
              "description": "Urgency Created Date",
              "x-ms-summary": "Created Date"
            },
            "Guid": {
              "type": "string",
              "description": "Urgency Guid",
              "x-ms-summary": "Guid"
            },
            "IsDeleted": {
              "type": "boolean",
              "description": "Urgency Is Deleted",
              "x-ms-summary": "Is Deleted"
            }
          },
          "description": "Urgency",
          "x-ms-summary": "Urgency"
        },
        "TicketType": {
          "type": "object",
          "properties": {
            "Value": {
              "type": "string",
              "description": "Ticket Type Value",
              "x-ms-summary": "Value"
            },
            "Position": {
              "type": "integer",
              "format": "int32",
              "description": "Ticket Type Position",
              "x-ms-summary": "Position"
            },
            "IsArchived": {
              "type": "boolean",
              "description": "Ticket Type Is Archived",
              "x-ms-summary": "Is Archived"
            },
            "IsDefault": {
              "type": "boolean",
              "description": "Ticket Type Is Default",
              "x-ms-summary": "Is Default"
            },
            "IsSystem": {
              "type": "boolean",
              "description": "Ticket Type Is System",
              "x-ms-summary": "Is System"
            },
            "Id": {
              "type": "integer",
              "format": "int32",
              "description": "Ticket Type Id",
              "x-ms-summary": "Id"
            },
            "ModifiedDate": {
              "type": "string",
              "description": "Ticket Type Modified Date",
              "x-ms-summary": "Modified Date"
            },
            "CreatedDate": {
              "type": "string",
              "description": "Ticket Type Created Date",
              "x-ms-summary": "Created Date"
            },
            "Guid": {
              "type": "string",
              "description": "Ticket Type Guid",
              "x-ms-summary": "Guid"
            },
            "IsDeleted": {
              "type": "boolean",
              "description": "Ticket Type Is Deleted",
              "x-ms-summary": "Is Deleted"
            }
          },
          "description": "Ticket Type",
          "x-ms-summary": "Ticket Type"
        },
        "Comments": {
          "type": "array",
          "items": {},
          "description": "Comments",
          "x-ms-summary": "Comments"
        },
        "TicketSlas": {
          "type": "array",
          "items": {},
          "description": "Ticket Slas",
          "x-ms-summary": "Ticket Slas"
        },
        "Message": {
          "type": "string",
          "description": "Message",
          "x-ms-summary": "Message"
        },
        "FileAttachments": {
          "type": "array",
          "items": {},
          "description": "File Attachments",
          "x-ms-summary": "File Attachments"
        },
        "Template": {
          "type": "object",
          "properties": {
            "Name": {
              "type": "string",
              "description": "Template Name",
              "x-ms-summary": "Template Name"
            },
            "Description": {
              "type": "string",
              "description": "Template Description",
              "x-ms-summary": "Description"
            },
            "CardResponseJson": {
              "type": "string",
              "description": "Template Card Response Json",
              "x-ms-summary": "Card Response Json"
            },
            "UnsetAssignee": {
              "type": "boolean",
              "description": "Template Unset Assignee",
              "x-ms-summary": "Unset Assignee"
            },
            "Assignee": {
              "type": "object",
              "properties": {
                "UserName": {
                  "type": "string",
                  "description": "Assignee User Name",
                  "x-ms-summary": "User Name"
                },
                "GivenName": {
                  "type": "string",
                  "description": "Assignee First Name",
                  "x-ms-summary": "First Name"
                },
                "FamilyName": {
                  "type": "string",
                  "description": "Assignee Last Name",
                  "x-ms-summary": "Last Name"
                },
                "Email": {
                  "type": "string",
                  "description": "Assignee Email",
                  "x-ms-summary": "Email"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Assignee Id",
                  "x-ms-summary": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Assignee Modified Date",
                  "x-ms-summary": "Modified Date"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Assignee Created Date",
                  "x-ms-summary": "Created Date"
                },
                "Guid": {
                  "type": "string",
                  "description": "Assignee Guid",
                  "x-ms-summary": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Assignee Is Deleted",
                  "x-ms-summary": "Is Deleted"
                },
                "FullName": {
                  "type": "string",
                  "description": "Assignee Full Name",
                  "x-ms-summary": "Full Name"
                },
                "ApplicationRoleMaps": {
[...]
