{
  "swagger": "2.0",
  "info": {
    "version": "2.0",
    "title": "Tikit",
    "description": "Extend conversational ticketing built for Microsoft Teams with activities to create tickets in response to events or update tickets with more information as context changes.",
    "contact": {
      "name": "Tikit Support",
      "url": "https://help.tikit.ai/",
      "email": "help@tikit.ai"
    }
  },
  "host": "app.tikit.ai",
  "basePath": "/api/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "multipart/form-data"
  ],
  "produces": [],
  "paths": {
    "/Ticket": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get all tickets",
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Models.Ticket.Items"
            }
          }
        },
        "summary": "Get all tickets",
        "description": "Fetch all Tickets",
        "operationId": "GetAllTickets",
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "description": "Define oData expand",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$expand"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Define oData select",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$select"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Define oData orderby",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$orderby"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Number Tickets",
            "type": "integer",
            "default": 10,
            "x-ms-summary": "$top"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Define oData skip",
            "type": "integer",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$skip"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Define oData count",
            "type": "boolean",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$count"
          },
          {
            "name": "x-requested-by",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/AddTicket": {
      "post": {
        "summary": "Create New Ticket",
        "description": "Create New Ticket",
        "operationId": "CreateTicket",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Actions.AddTicket"
            }
          },
          {
            "name": "x-requested-by",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Response from Add Ticket",
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Models.Ticket"
            }
          }
        }
      }
    },
    "/UpdateTicket": {
      "post": {
        "summary": "Update a Ticket",
        "description": "Update a Ticket",
        "operationId": "UpdateTicket",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Actions.UpdateTicket"
            }
          },
          {
            "name": "x-requested-by",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Response from Update Ticket",
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Models.Ticket"
            }
          }
        }
      }
    },
    "/ticket/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get One Ticket",
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Models.Ticket"
            },
            "headers": {
              "accept": {
                "description": "accept",
                "type": "string"
              }
            }
          }
        },
        "summary": "Get Ticket",
        "description": "Get One Ticket",
        "operationId": "GetOneTicket",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Enter Tikit Id",
            "x-ms-summary": "Tikit Id"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Define oData select",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Define oData select"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Define oData expand",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "$expand",
            "default": "Requester,Assignee",
            "required": false
          },
          {
            "name": "x-requested-by",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/Status": {
      "get": {
        "summary": "Get Status List",
        "operationId": "StatusList_Get",
        "description": "Returns a list of Status values",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Entity Set Ticket Status",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ServiceDesk.Core.Models.Pickers.Ticket.Status"
                  }
                }
              }
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/SupportGroup": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Support Group Id Get",
            "schema": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                },
                "Name": {
                  "type": "string",
                  "description": "Name"
                },
                "Description": {
                  "type": "string",
                  "description": "Description"
                },
                "TeamsChannelId": {
                  "type": "string",
                  "description": "Teams Channel Id"
                },
                "ApplicationRoleId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Application Role Id"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "Is Archived"
                }
              }
            }
          }
        },
        "summary": "Support Group Id Get",
        "description": "Get a list of group ids",
        "operationId": "SupportGroupId_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/Category": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get Category",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "Is Archived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "Is Default"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "Is System"
                },
                "ParentId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Parent Id"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                }
              }
            }
          }
        },
        "summary": "GetCategory",
        "description": "Get Category",
        "operationId": "CategoryId_Get",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "IsArchived eq false"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/Impact": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get Impact",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "Is Archived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "Is Default"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "Is System"
                },
                "ParentId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Parent Id"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                }
              }
            }
          }
        },
        "summary": "Impact",
        "description": "Get Impact",
        "operationId": "ImpactId_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/Priority": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get Priority",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "Is Archived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "Is Default"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "Is System"
                },
                "ParentId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Parent Id"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                }
              }
            }
          }
        },
        "summary": "Get Priority",
        "description": "Get Priority ID",
        "operationId": "PriorityId_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/Source": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get Source ID",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "Is Archived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "Is Default"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "Is System"
                },
                "ParentId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Parent Id"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                }
              }
            }
          }
        },
        "summary": "Source ID",
        "description": "Get Source ID",
        "operationId": "SourceID_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/Urgency": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get urgency id",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "Is Archived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "Is Default"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "Is System"
                },
                "ParentId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Parent Id"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                }
              }
            }
          }
        },
        "summary": "Urgency ID",
        "description": "Get urgency id",
        "operationId": "UrgencyId_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/Escalation": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get Escaltion Ids",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "Is Archived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "Is Default"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "Is System"
                },
                "ParentId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Parent Id"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                }
              }
            }
          }
        },
        "summary": "Get Escalation",
        "description": "Get Escaltion Ids",
        "operationId": "EsclationIds_get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/Group": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Group ID",
            "schema": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                },
                "Name": {
                  "type": "string",
                  "description": "Name"
                },
                "Description": {
                  "type": "string",
                  "description": "Description"
                },
                "ApplicationRoleId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Application Role Id"
                }
              }
            }
          }
        },
        "summary": "Group ID",
        "description": "Group ID",
        "operationId": "GroupId_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/TicketTemplate": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Ticket Template",
            "schema": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                },
                "Name": {
                  "type": "string",
                  "description": "Name"
                },
                "Description": {
                  "type": "string",
                  "description": "Description"
                },
                "ApplicationRoleId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Application Role Id"
                }
              }
            }
          }
        },
        "summary": "Template ID",
        "description": "Template ID",
        "operationId": "TemplateId_Get",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/UploadTicketFiles/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Upload Ticket Files",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "string",
                  "description": "data"
                },
                "error": {
                  "type": "string",
                  "description": "error"
                }
              }
            }
          }
        },
        "summary": "Get Ticket Attachment",
        "operationId": "GetTicketAttachment",
        "description": "Get Ticket Attachment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Tikit Id"
          },
          {
            "name": "x-requested-by",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/ticket({id})/AddComment": {
      "post": {
        "responses": {
          "200": {
            "description": "Response from Add Comment to a ticket",
            "schema": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                },
                "Body": {
                  "type": "string",
                  "description": "Body"
                },
                "IsPublic": {
                  "type": "boolean",
                  "description": "Is Public"
                }
              }
            }
          }
        },
        "summary": "Add Comment to a ticket",
        "description": "Add Comment to a ticket",
        "operationId": "AddComment",
        "parameters": [
          {
            "name": "x-requested-by",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Enter Tikit Id",
            "x-ms-summary": "Tikit Id"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Comment": {
                  "type": "object",
                  "properties": {
                    "Body": {
                      "type": "string",
                      "description": "New comment message",
                      "title": "Message"
                    },
                    "IsPublic": {
                      "type": "boolean",
                      "description": "Is Public",
                      "title": "Public"
                    }
                  },
                  "description": "Comment"
                }
              }
            }
          }
        ]
      }
    },
    "/UploadTicketFiles": {
      "post": {
        "responses": {
          "200": {
            "description": "Response from Upload Ticket Files",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "DownladUrl": {
                        "type": "string",
                        "description": "Downlad Url"
                      },
                      "ContentUrl": {
                        "type": "string",
                        "description": "Content Url"
                      },
                      "DriveItemGroupId": {
                        "type": "string",
                        "description": "Drive Item Group Id"
                      },
                      "DriveItemId": {
                        "type": "string",
                        "description": "Drive Item Id"
                      },
                      "FileName": {
                        "type": "string",
                        "description": "File Name"
                      },
                      "MediaType": {
                        "type": "string",
                        "description": "Media Type"
                      },
                      "FileSize": {
                        "type": "integer",
                        "format": "int32",
                        "description": "File Size"
                      },
                      "Buffer": {
                        "type": "string",
                        "description": "Buffer"
                      },
                      "FileExtension": {
                        "type": "string",
                        "description": "File Extension"
                      },
                      "IsImage": {
                        "type": "boolean",
                        "description": "Is Image"
                      },
                      "Id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Id"
                      },
                      "ModifiedDate": {
                        "type": "string",
                        "description": "Modified Date"
                      },
                      "ModifiedById": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Modified By Id"
                      },
                      "CreatedDate": {
                        "type": "string",
                        "description": "Created Date"
                      },
                      "CreatedBy": {
                        "type": "string",
                        "description": "Created By"
                      },
                      "CreatedById": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Created By Id"
                      },
                      "Guid": {
                        "type": "string",
                        "description": "Guid"
                      },
                      "IsDeleted": {
                        "type": "boolean",
                        "description": "Is Deleted"
                      }
                    }
                  },
                  "description": "data"
                },
                "error": {
                  "type": "string",
                  "description": "error"
                }
              }
            }
          }
        },
        "summary": "Add Attachment to Ticket",
        "operationId": "AddAttachmentToTicket",
        "parameters": [
          {
            "name": "x-requested-by",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-type",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "fileContent",
            "in": "formData",
            "required": true,
            "type": "file"
          },
          {
            "name": "name",
            "in": "formData",
            "required": true,
            "type": "string"
          }
        ],
        "x-ms-visibility": "internal",
        "description": "Add Attachment to Ticket"
      }
    },
    "/{Location}": {
      "delete": {
        "responses": {
          "default": {
            "description": "200",
            "schema": {}
          }
        },
        "summary": "Webhook delete",
        "operationId": "WebHookDelete",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "Location",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/TicketType": {
      "get": {
        "responses": {
          "200": {
            "description": "Response Ticket Type Id Get",
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "Value"
                },
                "Position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Position"
                },
                "IsArchived": {
                  "type": "boolean",
                  "description": "Is Archived"
                },
                "IsDefault": {
                  "type": "boolean",
                  "description": "Is Default"
                },
                "IsSystem": {
                  "type": "boolean",
                  "description": "Is System"
                },
                "ParentId": {
                  "type": "string",
                  "description": "Parent Id"
                },
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "Modified Date"
                },
                "ModifiedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified By Id"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created By Id"
                },
                "Guid": {
                  "type": "string",
                  "description": "Guid"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is Deleted"
                }
              }
            }
          }
        },
        "summary": "Ticket Type Id Get",
        "description": "Get a list of Ticket Type ids",
        "operationId": "TypeList_Get",
        "x-ms-visibility": "internal",
        "parameters": []
      }
    },
    "/AddTicketWebhook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/ServiceDesk.Core.Models.Ticket.WebhookRecieveProperties"
        },
        "headers": {
          "Host": {
            "description": "Host",
            "type": "string"
          },
          "Request-Id": {
            "description": "Request-Id",
            "type": "string"
          },
          "traceparent": {
            "description": "Trace parent",
            "type": "string"
          },
          "Content-Length": {
            "description": "Content-Length",
            "type": "string"
          },
          "Content-Type": {
            "description": "Content-Type",
            "type": "string"
          }
        },
        "description": ""
      },
      "post": {
        "summary": "When a Ticket is Created",
        "operationId": "AddTicketWebhookTrigger",
        "description": "This operation triggers when a new ticket is created",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "Enter Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "WebHook"
              ],
              "properties": {
                "WebHook": {
                  "type": "object",
                  "required": [
                    "URL"
                  ],
                  "properties": {
                    "URL": {
                      "type": "string",
                      "description": "URL",
                      "x-ms-notification-url": true,
                      "x-ms-visibility": "internal",
                      "title": ""
                    },
                    "Requesters": {
                      "type": "string",
                      "description": "Requester(s) email address separated by comma (If any match, the trigger will run)",
                      "title": "Requesters"
                    },
                    "Assignees": {
                      "type": "string",
                      "description": "Assignee(s) email address separated by comma (If any match, the trigger will run)",
                      "title": "Assignees"
                    },
                    "Title": {
                      "type": "string",
                      "description": "String to look for in the Title.",
                      "title": "Title"
                    },
                    "Status": {
                      "type": "string",
                      "description": "Select Status (If Any is selected, the trigger will run regardless of Status)",
                      "title": "Status",
                      "default": "Any",
                      "x-ms-dynamic-values": {
                        "operationId": "StatusList_Get",
                        "value-path": "Id",
                        "value-collection": "value",
                        "value-title": "Value"
                      }
                    },
                    "Priority": {
                      "type": "string",
                      "description": "Select Status (If Any is selected, the trigger will run regardless of Priority)",
                      "title": "Priority",
                      "enum": [
                        "Any",
                        "1 (High)",
                        "2 (Medium)",
                        "3 (Low)"
                      ],
                      "default": "Any"
                    },
                    "GroupId": {
                      "description": "Select Group (Leave it blank and trigger wil run regardless of any Group)",
                      "type": "integer",
                      "format": "int32",
                      "x-ms-summary": "Group",
                      "x-ms-dynamic-values": {
                        "operationId": "SupportGroupId_Get",
                        "value-collection": "value",
                        "value-path": "Id",
                        "value-title": "Name"
                      },
                      "title": "Group"
                    },
                    "TemplateId": {
                      "description": "Select Template (Leave it blank and trigger wil run regardless of any Template)",
                      "type": "integer",
                      "format": "int32",
                      "x-ms-summary": "Select Template",
                      "x-ms-dynamic-values": {
                        "operationId": "TemplateId_Get",
                        "value-collection": "value",
                        "value-path": "Id",
                        "value-title": "Name"
                      },
                      "title": "Template"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from Add Ticket Webhook",
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Actions.AddWebhook.WebhookParam"
            }
          },
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/UpdateTicketWebhook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/ServiceDesk.Core.Models.Ticket.WebhookRecieveProperties"
        },
        "headers": {
          "Host": {
            "description": "Host",
            "type": "string"
          },
          "Request-Id": {
            "description": "Request-Id",
            "type": "string"
          },
          "traceparent": {
            "description": "traceparent",
            "type": "string"
          },
          "Content-Length": {
            "description": "Content-Length",
            "type": "string"
          },
          "Content-Type": {
            "description": "Content-Type",
            "type": "string"
          }
        },
        "description": ""
      },
      "post": {
        "summary": "When a Ticket is Updated",
        "operationId": "UpdateTicketWebhookTrigger",
        "description": "This operation triggers when a ticket is updated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "Enter Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "WebHook"
              ],
              "properties": {
                "WebHook": {
                  "type": "object",
                  "required": [
                    "URL"
                  ],
                  "properties": {
                    "URL": {
                      "type": "string",
                      "description": "URL",
                      "x-ms-notification-url": true,
                      "x-ms-visibility": "internal",
                      "title": ""
                    },
                    "Requesters": {
                      "type": "string",
                      "description": "Requester(s) email address separated by comma (If any match, the trigger will run)",
                      "title": "Requesters"
                    },
                    "Assignees": {
                      "type": "string",
                      "description": "Assignee(s) email address separated by comma (If any match, the trigger will run)",
                      "title": "Assignees"
                    },
                    "Title": {
                      "type": "string",
                      "description": "String to look for in the Title.",
                      "title": "Title"
                    },
                    "Status": {
                      "type": "string",
                      "description": "Select Status (If Any is selected, the trigger will run regardless of Status)",
                      "title": "Status",
                      "default": "Any",
                      "x-ms-dynamic-values": {
                        "operationId": "StatusList_Get",
                        "value-path": "Id",
                        "value-collection": "value",
                        "value-title": "Value"
                      }
                    },
                    "Priority": {
                      "type": "string",
                      "description": "Select Status (If Any is selected, the trigger will run regardless of Priority)",
                      "title": "Priority",
                      "enum": [
                        "Any",
                        "1 (High)",
                        "2 (Medium)",
                        "3 (Low)"
                      ],
                      "default": "Any"
                    },
                    "GroupId": {
                      "description": "Select Group (Leave it blank and trigger wil run regardless of any Group)",
                      "type": "integer",
                      "format": "int32",
                      "x-ms-summary": "Group",
                      "x-ms-dynamic-values": {
                        "operationId": "SupportGroupId_Get",
                        "value-collection": "value",
                        "value-path": "Id",
                        "value-title": "Name"
                      },
                      "title": "Group"
                    },
                    "TemplateId": {
                      "description": "Select Template (Leave it blank and trigger wil run regardless of any Template)",
                      "type": "integer",
                      "format": "int32",
                      "x-ms-summary": "Select Template",
                      "x-ms-dynamic-values": {
                        "operationId": "TemplateId_Get",
                        "value-collection": "value",
                        "value-path": "Id",
                        "value-title": "Name"
                      },
                      "title": "Template"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from Update Ticket Webhook",
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Actions.AddWebhook.WebhookParam"
            }
          }
        }
      }
    },
    "/AddCommentTicketWebhook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/ServiceDesk.Core.Models.Ticket.WebhookRecieveProperties"
        },
        "headers": {
          "Host": {
            "description": "Host",
            "type": "string"
          },
          "Request-Id": {
            "description": "Request-Id",
            "type": "string"
          },
          "traceparent": {
            "description": "traceparent",
            "type": "string"
          },
          "Content-Length": {
            "description": "Content-Length",
            "type": "string"
          },
          "Content-Type": {
            "description": "Content-Type",
            "type": "string"
          }
        },
        "description": ""
      },
      "post": {
        "summary": "When a Comment is left on a Ticket",
        "operationId": "AddCommentTicketWebhook",
        "description": "This operation triggers when a comment is left on a ticket",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "Enter Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "WebHook"
              ],
              "properties": {
                "WebHook": {
                  "type": "object",
                  "required": [
                    "URL"
                  ],
                  "properties": {
                    "URL": {
                      "type": "string",
                      "description": "URL",
                      "x-ms-notification-url": true,
                      "x-ms-visibility": "internal",
                      "title": ""
                    },
                    "Commenter": {
                      "type": "string",
                      "description": "Commenter(s) email address separated by comma (If any match, the trigger will run)",
                      "title": "Commenters"
                    },
                    "CommentStringContain": {
                      "type": "string",
                      "description": "String to look for in the comment body.",
                      "title": "Comment filter"
                    },
                    "IsPublicComment": {
                      "type": "string",
                      "description": "Select Privacy (If Any is selected, the trigger will run regardless of Privacy)",
                      "title": "Privacy",
                      "enum": [
                        "Any",
                        "Public",
                        "Private"
                      ],
                      "default": "Any"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from Update Ticket Webhook",
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Actions.AddWebhook.WebhookParam"
            }
          }
        }
      }
    },
    "/ticket/{id}/FileAttachments": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from File Attachments",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "FileName": {
                        "type": "string",
                        "description": "File Name",
                        "x-ms-summary": "File Name"
                      },
                      "FileSize": {
                        "type": "number",
                        "format": "float",
                        "description": "File Size",
                        "x-ms-summary": "File Size",
                        "title": "File Size"
                      },
                      "FileExtension": {
                        "type": "string",
                        "description": "File Extension",
                        "x-ms-summary": "File Extension"
                      },
                      "Id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Id",
                        "x-ms-summary": "Id"
                      },
                      "ModifiedDate": {
                        "type": "string",
                        "description": "Modified Date",
                        "x-ms-summary": "Modified Date"
                      },
                      "ModifiedById": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Modified By Id",
                        "x-ms-summary": "Modified By Id"
                      },
                      "CreatedDate": {
                        "type": "string",
                        "description": "Created Date",
                        "x-ms-summary": "Created Date"
                      },
                      "CreatedById": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Created By Id",
                        "x-ms-summary": "Created By Id"
                      },
                      "Guid": {
                        "type": "string",
                        "description": "Guid",
                        "x-ms-summary": "Guid"
                      },
                      "IsDeleted": {
                        "type": "boolean",
                        "description": "Is Deleted",
                        "x-ms-summary": "Is Deleted"
                      },
                      "DownladUrl": {
                        "type": "string",
                        "description": "Downlad Url",
                        "x-ms-summary": "Downlad Url"
                      },
                      "DriveItemGroupId": {
                        "type": "string",
                        "description": "Drive Item Group Id",
                        "x-ms-summary": "Drive Item Group Id"
                      },
                      "DriveItemId": {
                        "type": "string",
                        "description": "Drive Item Id",
                        "x-ms-summary": "Drive Item Id"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Get File(s) Attached to a Ticket",
        "description": "Get File(s) Attached to a Ticket",
        "operationId": "GetFileAttached",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Tikit Id",
            "x-ms-summary": "Tikit Id"
          }
        ]
      }
    },
    "/Ticket({Id})/GetTasks": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get Tasks",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ServiceDesk.Core.Models.TicketTask"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Tasks",
        "description": "Get Tasks",
        "operationId": "GetTasks",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Tikit Id",
            "description": "Tikit Id"
          },
          {
            "name": "Lifecycle",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter on a specific Lifecycle",
            "x-ms-summary": "Lifecycle",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetActiveLifeCycles",
              "value-path": "Id",
              "value-collection": "value",
              "value-title": "Title"
            }
          },
          {
            "name": "Phase",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter on a specific Phase within a chosen Lifecycle",
            "x-ms-summary": "Phase",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetLifeCyclePhaseByName",
              "value-path": "Name",
              "value-collection": "value",
              "value-title": "Name",
              "parameters": {
                "Lifecycle": {
                  "parameter": "Lifecycle"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "GetLifeCyclePhaseByName",
              "itemsPath": "value",
              "itemValuePath": "Name",
              "itemTitlePath": "Name",
              "parameters": {
                "Lifecycle": {
                  "parameterReference": "Lifecycle"
                }
              }
            }
          },
          {
            "name": "TaskName",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Task Name",
            "description": "String to look for in the Name of the Task"
          },
          {
            "name": "Assignee",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Assignee",
            "description": "Assignee(s) email addresses separated by comma (if any match, the trigger will run)"
          },
          {
            "name": "x-requested-by",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/Ticket({Id})/GetTicketLifecycles": {
      "get": {
        "summary": "Get Ticket LifeCycles",
        "operationId": "GetTicketLifeCycles",
        "description": "Returns a list of active lifecycle values",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Tikit Id",
            "x-ms-summary": "Tikit Id"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "LifeCycle Schema",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ServiceDesk.Core.Models.TicketFlow.LifeCycle"
                  }
                }
              }
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/Ticket({Id})/GetTicketLifecyclePhases": {
      "get": {
        "responses": {
          "200": {
            "description": "LifeCycle Phase Schema",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ServiceDesk.Core.Models.TicketFlow.LifeCyclePhase"
                  }
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "summary": "GetTicketLifecyclePhase",
        "operationId": "GetTicketLifecyclePhase",
        "description": "Get a list of all Lifecycle Phases associated to the ticket",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Tikit Id",
            "description": "Tikit Id"
          }
        ]
      }
    },
    "/Ticket({Id})/GetPowerAutomateTasks": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get Tasks",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ServiceDesk.Core.Models.PowerAutomateTask"
                  }
                }
              }
            }
          }
        },
        "summary": "Get PA Tasks",
        "operationId": "GetPowerAutomateTasks",
        "description": "Get PA Tasks",
        "parameters": [
          {
            "name": "x-requested-by",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Tikit Id",
            "description": "Tikit Id"
          },
          {
            "name": "Lifecycle",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter on a specific Lifecycle",
            "x-ms-summary": "Lifecycle",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetActiveLifeCycles",
              "value-path": "Id",
              "value-collection": "value",
              "value-title": "Title"
            }
          },
          {
            "name": "Phase",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter on a specific Phase within a chosen Lifecycle",
            "x-ms-summary": "Phase",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetLIfeCyclePhase",
              "value-path": "Name",
              "value-collection": "value",
              "value-title": "Name",
              "parameters": {
                "Id": {
                  "parameter": "Lifecycle"
                }
              }
            }
          },
          {
            "name": "TaskName",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "PA Task Title",
            "description": "String to look for in the Title of the PA Task"
          }
        ],
        "x-ms-visibility": "advanced"
      }
    },
    "/Ticket({Id})/AddTask": {
      "post": {
        "responses": {
          "200": {
            "description": "Response from Add Task",
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Models.TicketTask"
            }
          }
        },
        "summary": "Add Task",
        "description": "Add Task",
        "operationId": "AddTask",
        "parameters": [
          {
            "name": "x-requested-by",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Tikit Id",
            "x-ms-summary": "Tikit Id"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Lifecycle": {
                  "type": "string",
                  "description": "Lifecycle",
                  "x-ms-summary": "Lifecycle",
                  "title": "Lifecycle",
                  "x-ms-visibility": "advanced",
                  "x-ms-dynamic-values": {
                    "operationId": "GetActiveLifeCycles",
                    "value-path": "Id",
                    "value-collection": "value",
                    "value-title": "Title"
                  }
                },
                "PhaseId": {
                  "type": "string",
                  "description": "Phase",
                  "x-ms-summary": "Phase",
                  "title": "Phase",
                  "x-ms-visibility": "advanced",
                  "x-ms-dynamic-values": {
                    "operationId": "GetLifeCyclePhaseByName",
                    "value-path": "Id",
                    "value-collection": "value",
                    "value-title": "Name",
                    "parameters": {
                      "Lifecycle": {
                        "parameter": "Lifecycle"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetLifeCyclePhaseByName",
                    "itemsPath": "value",
                    "itemValuePath": "Id",
                    "itemTitlePath": "Name",
                    "parameters": {
                      "Lifecycle": {
                        "parameterReference": "body/Lifecycle"
                      }
                    }
                  }
                },
                "Title": {
                  "type": "string",
                  "description": "Title",
                  "title": "Title"
                },
                "Assignee": {
                  "type": "string",
                  "description": "Assignee's Email Address",
                  "title": "Assignee",
                  "format": "string"
                }
              },
              "required": [
                "Title"
              ]
            }
          }
        ]
      }
    },
    "/Ticket({Id})/AddApproval": {
      "post": {
        "responses": {
          "200": {
            "description": "Response from Add Approval",
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Models.Approvals"
            }
          },
          "400": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "description": "Error Message",
                  "title": "Error Message"
                }
              }
            }
          }
        },
        "summary": "Add Approval",
        "description": "Add Approval",
        "operationId": "AddApproval",
        "parameters": [
          {
            "name": "x-requested-by",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Tikit Id",
            "x-ms-summary": "Tikit Id"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Lifecycle": {
                  "type": "string",
                  "description": "Lifecycle",
                  "x-ms-summary": "Lifecycle",
                  "title": "Lifecycle",
                  "x-ms-visibility": "advanced",
                  "x-ms-dynamic-values": {
                    "operationId": "GetActiveLifeCycles",
                    "value-path": "Id",
                    "value-collection": "value",
                    "value-title": "Title"
                  }
                },
                "PhaseId": {
                  "type": "string",
                  "description": "Phase",
                  "x-ms-summary": "Phase",
                  "title": "Phase",
                  "x-ms-visibility": "advanced",
                  "x-ms-dynamic-values": {
                    "operationId": "GetLifeCyclePhaseByName",
                    "value-path": "Id",
                    "value-collection": "value",
                    "value-title": "Name",
                    "parameters": {
                      "Lifecycle": {
                        "parameter": "Lifecycle"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetLifeCyclePhaseByName",
                    "itemsPath": "value",
                    "itemValuePath": "Id",
                    "itemTitlePath": "Name",
                    "parameters": {
                      "Lifecycle": {
                        "parameterReference": "body/Lifecycle"
                      }
                    }
                  }
                },
                "Title": {
                  "type": "string",
                  "description": "Title",
                  "title": "Title"
                },
                "Approvers": {
                  "type": "string",
                  "description": "Approver(s) email address separated by comma",
                  "title": "Approvers",
                  "format": "string"
                },
                "AdditionalDetails": {
                  "type": "string",
                  "description": "Additional Details",
                  "title": "Additional Details"
                },
                "IsRequiredByAll": {
                  "type": "boolean",
                  "description": "Required By All",
                  "title": "Required By All",
                  "enum": [
                    true,
                    false
                  ]
                }
              },
              "required": [
                "Title"
              ]
            }
          }
        ]
      }
    },
    "/TicketTask({Id})/UpdateTask": {
      "post": {
        "summary": "Update Task",
        "description": "Update Task",
        "operationId": "UpdateTask",
        "parameters": [
          {
            "name": "x-requested-by",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Task Id",
            "x-ms-summary": "Task Id"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Title": {
                  "type": "string",
                  "description": "Title",
                  "title": "Title"
                },
                "Assignee": {
                  "type": "string",
                  "description": "Assignee's Email Address",
                  "title": "Assignee",
                  "format": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Models.TicketTask"
            }
          }
        }
      }
    },
    "/TicketTask({Id})/UpdatePowerAutomateTask": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Models.PowerAutomateTask"
            }
          }
        },
        "summary": "Update PA Task",
        "description": "Update PA Task",
        "operationId": "UpdatePowerAutomateTask",
        "parameters": [
          {
            "name": "x-requested-by",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "PA Task Id",
            "x-ms-summary": "PA Task Id"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Title": {
                  "type": "string",
                  "description": "Title",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "StatusId": {
                  "type": "string",
                  "description": "Status",
                  "title": "Status",
                  "x-ms-dynamic-values": {
                    "operationId": "GetPowerAutomateTaskStatus",
                    "value-path": "Id",
                    "value-collection": "value",
                    "value-title": "Value"
                  },
                  "format": "string"
                }
              }
            }
          }
        ]
      }
    },
    "/Ticket({Id})/GetApprovals": {
      "get": {
        "responses": {
          "200": {
            "description": "Response from Get Approvals",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ServiceDesk.Core.Models.Approvals"
                  }
                }
              },
              "title": "Approvals",
              "description": "Approvals"
            }
          }
        },
        "summary": "Get Approvals",
        "description": "Get Approvals",
        "operationId": "GetApprovals",
        "parameters": [
          {
            "name": "x-requested-by",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Tikit Id",
            "x-ms-summary": "Tikit Id"
          },
          {
            "name": "Lifecycle",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter on a specific Lifecycle",
            "x-ms-summary": "Lifecycle",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetActiveLifeCycles",
              "value-path": "Id",
              "value-collection": "value",
              "value-title": "Title"
            }
          },
          {
            "name": "Phase",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter on a specific Phase within a chosen Lifecycle",
            "x-ms-summary": "Phase",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetLifeCyclePhaseByName",
              "value-path": "Name",
              "value-collection": "value",
              "value-title": "Name",
              "parameters": {
                "Lifecycle": {
                  "parameter": "Lifecycle"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "GetLifeCyclePhaseByName",
              "itemsPath": "value",
              "itemValuePath": "Name",
              "itemTitlePath": "Name",
              "parameters": {
                "Lifecycle": {
                  "parameterReference": "Lifecycle"
                }
              }
            }
          },
          {
            "name": "ApprovalName",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "String to look for in the Title of the Approval",
            "x-ms-summary": "Approval Title"
          },
          {
            "name": "Approvers",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Approver(s) email addresses separated by comma (if any match, the trigger will run)",
            "x-ms-summary": "Approvers"
          },
          {
            "name": "AdditionalDetails",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "String to look for the Additional Details of the Approval",
            "x-ms-summary": "Additional Details"
          }
        ]
      }
    },
    "/Approvals({Id})/UpdateApproval": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Models.Approvals"
            }
          }
        },
        "summary": "Update Approval",
        "description": "Update Approval",
        "operationId": "UpdateApproval",
        "parameters": [
          {
            "name": "x-requested-by",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Approval Id",
            "x-ms-summary": "Approval Id"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Title": {
                  "type": "string",
                  "description": "Title",
                  "title": "Title"
                },
                "AdditionalDetails": {
                  "type": "string",
                  "description": "Additional Details",
                  "title": "Additional Details"
                },
                "RequiredByAll": {
                  "type": "string",
                  "description": "RequiredByAll",
                  "title": "Required By All",
                  "enum": [
                    "True",
                    "False"
                  ]
                },
                "Approvers": {
                  "type": "string",
                  "description": "Approver(s) email address separated by comma",
                  "title": "Approvers"
                }
              }
            }
          }
        ]
      }
    },
    "/GetPowerAutomateTaskStatus": {
      "get": {
        "responses": {
          "200": {
            "description": "Task Status Schema",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ServiceDesk.Core.Models.PowerAutomateTask"
                  }
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "summary": "Get PA Task Status",
        "operationId": "GetPowerAutomateTaskStatus",
        "description": "Get PA Task Status",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/GetTaskStatus": {
      "get": {
        "responses": {
          "200": {
            "description": "Task Status Schema",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ServiceDesk.Core.Models.TaskStatus"
                  }
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "summary": "Get Task Status",
        "operationId": "GetTaskStatus",
        "description": "Get Task Status",
        "x-ms-visibility": "internal",
        "parameters": []
      }
    },
    "/ActivatePowerAutomateTaskWebhook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/ServiceDesk.Core.Models.PowerAutomateTask"
        },
        "headers": {
          "Host": {
            "description": "Host",
            "type": "string"
          },
          "Request-Id": {
            "description": "Request-Id",
            "type": "string"
          },
          "traceparent": {
            "description": "Trace parent",
            "type": "string"
          },
          "Content-Length": {
            "description": "Content-Length",
            "type": "string"
          },
          "Content-Type": {
            "description": "Content-Type",
            "type": "string"
          }
        },
        "description": ""
      },
      "post": {
        "summary": "When a Lifecycle PA Task Becomes Active",
        "operationId": "ActivatePowerAutomateTaskWebhook",
        "description": "This operation triggers when a PA Task becomes Active",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "Enter Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "WebHook"
              ],
              "properties": {
                "WebHook": {
                  "type": "object",
                  "required": [
                    "URL",
                    "LifecycleId",
                    "LifecyclePhaseId",
                    "LifecyclePowerAutomateName"
                  ],
                  "properties": {
                    "URL": {
                      "type": "string",
                      "description": "URL",
                      "x-ms-notification-url": true,
                      "x-ms-visibility": "internal",
                      "title": ""
                    },
                    "LifecycleId": {
                      "type": "string",
                      "description": "Select a Lifecycle",
                      "title": "Lifecycle",
                      "x-ms-dynamic-values": {
                        "operationId": "GetActiveLifeCycles",
                        "value-path": "Id",
                        "value-collection": "value",
                        "value-title": "Title"
                      }
                    },
                    "LifecyclePhaseId": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Select a Phase",
                      "title": "Phase",
                      "x-ms-dynamic-values": {
                        "operationId": "GetLIfeCyclePhase",
                        "value-path": "Id",
                        "value-collection": "value",
                        "value-title": "Name",
                        "parameters": {
                          "Id": {
                            "parameter": "WebHook.LifecycleId"
                          }
                        }
                      },
                      "x-ms-dynamic-list": {
                        "operationId": "GetLIfeCyclePhase",
                        "itemsPath": "value",
                        "itemValuePath": "Id",
                        "itemTitlePath": "Name",
                        "parameters": {
                          "Id": {
                            "parameterReference": "body/WebHook/LifecycleId"
                          }
                        }
                      }
                    },
                    "LifecyclePowerAutomateName": {
                      "type": "string",
                      "description": "Select a PA Task",
                      "title": "PA Task",
                      "x-ms-dynamic-values": {
                        "operationId": "GetLifeCyclePowerAutomateTasks",
                        "value-path": "Name",
                        "value-collection": "value",
                        "value-title": "Name",
                        "parameters": {
                          "Id": {
                            "parameter": "WebHook.LifecyclePhaseId"
                          }
                        }
                      },
                      "x-ms-dynamic-list": {
                        "operationId": "GetLifeCyclePowerAutomateTasks",
                        "itemsPath": "value",
                        "itemValuePath": "Name",
                        "itemTitlePath": "Name",
                        "parameters": {
                          "Id": {
                            "parameterReference": "body/WebHook/LifecyclePhaseId"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from Activate PowerAutomate Task Webhook",
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Models.TicketTask"
            }
          },
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/ChangeLifecyclePhaseWebhook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/ServiceDesk.Core.Models.TicketFlow.TicketLifeCyclePhase"
        },
        "headers": {
          "Host": {
            "description": "Host",
            "type": "string"
          },
          "Request-Id": {
            "description": "Request-Id",
            "type": "string"
          },
          "traceparent": {
            "description": "Trace parent",
            "type": "string"
          },
          "Content-Length": {
            "description": "Content-Length",
            "type": "string"
          },
          "Content-Type": {
            "description": "Content-Type",
            "type": "string"
          }
        },
        "description": ""
      },
      "post": {
        "summary": "When a Lifecycle Transitions to a Phase",
        "operationId": "ChangeLifecyclePhaseWebhook",
        "description": "This operation triggers when a lifecycle transitions to a new phase",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "Enter Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "WebHook"
              ],
              "properties": {
                "WebHook": {
                  "type": "object",
                  "required": [
                    "URL",
                    "LifecycleId",
                    "LifecyclePhaseId"
                  ],
                  "properties": {
                    "URL": {
                      "type": "string",
                      "description": "URL",
                      "x-ms-notification-url": true,
                      "x-ms-visibility": "internal",
                      "title": ""
                    },
                    "LifecycleId": {
                      "type": "string",
                      "description": "Select a Lifecycle",
                      "title": "Lifecycle",
                      "x-ms-dynamic-values": {
                        "operationId": "GetActiveLifeCycles",
                        "value-path": "Id",
                        "value-collection": "value",
                        "value-title": "Title"
                      }
                    },
                    "LifecyclePhaseId": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Select a Phase",
                      "title": "Phase",
                      "x-ms-dynamic-values": {
                        "operationId": "GetLIfeCyclePhase",
                        "value-path": "Id",
                        "value-collection": "value",
                        "value-title": "Name",
                        "parameters": {
                          "Id": {
                            "parameter": "WebHook.LifecycleId"
                          }
                        }
                      },
                      "x-ms-dynamic-list": {
                        "operationId": "GetLIfeCyclePhase",
                        "itemsPath": "value",
                        "itemValuePath": "Id",
                        "itemTitlePath": "Name",
                        "parameters": {
                          "Id": {
                            "parameterReference": "body/WebHook/LifecycleId"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from Activate PowerAutomate Task Webhook",
            "schema": {
              "$ref": "#/definitions/ServiceDesk.Core.Actions.AddWebhook.WebhookParam"
            }
          },
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/EngageLifecycleTransitionWebhook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/ServiceDesk.Core.Models.TicketFlow.LifecyclePhaseTransition"
        },
        "headers": {
          "Host": {
            "description": "Host",
            "type": "string"
          },
          "Request-Id": {
            "description": "Request-Id",
            "type": "string"
          },
          "traceparent": {
            "description": "Trace parent",
            "type": "string"
          },
          "Content-Length": {
            "description": "Content-Length",
            "type": "string"
          },
          "Content-Type": {
            "description": "Content-Type",
            "type": "string"
          }
        },
        "description": ""
      },
      "post": {
        "summary": "When a Lifecycle Transition Engages",
        "operationId": "EngageLifecycleTransitionWebhook",
        "description": "This operation triggers when a lifecycle transitions is engaged",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "Enter Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "WebHook"
              ],
              "properties": {
                "WebHook": {
                  "type": "object",
                  "required": [
                    "URL",
                    "LifecycleId",
                    "LifecyclePhaseId",
                    "LifecycleTransitionId"
                  ],
                  "properties": {
                    "URL": {
                      "type": "string",
                      "description": "URL",
                      "x-ms-notification-url": true,
                      "x-ms-visibility": "internal",
                      "title": ""
                    },
                    "LifecycleId": {
                      "type": "string",
                      "description": "Select a Lifecycle",
                      "title": "Lifecycle",
                      "x-ms-dynamic-values": {
                        "operationId": "GetActiveLifeCycles",
                        "value-path": "Id",
                        "value-collection": "value",
                        "value-title": "Title"
                      }
                    },
                    "LifecyclePhaseId": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Select a Phase",
                      "title": "Phase",
                      "x-ms-dynamic-values": {
                        "operationId": "GetLIfeCyclePhase",
                        "value-path": "Id",
                        "value-collection": "value",
                        "value-title": "Name",
                        "parameters": {
                          "Id": {
                            "parameter": "WebHook.LifecycleId"
                          }
                        }
                      },
                      "x-ms-dynamic-list": {
                        "operationId": "GetLIfeCyclePhase",
                        "itemsPath": "value",
                        "itemValuePath": "Id",
                        "itemTitlePath": "Name",
                        "parameters": {
                          "Id": {
                            "parameterReference": "body/WebHook/LifecycleId"
                          }
                        }
                      }
                    },
                    "LifecycleTransitionId": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Select a Transition",
                      "title": "Transition",
                      "x-ms-dynamic-list": {
                        "operationId": "GetLifeCyclePhaseTransitions",
                        "itemsPath": "value",
                        "itemValuePath": "Id",
                        "itemTitlePath": "Title",
                        "parameters": {
[...]
