{
  "swagger": "2.0",
  "info": {
    "title": "Square Business",
    "description": "Square helps millions of sellers run their business - from secure credit card processing to point of sale solutions. This connector contains actions for the following endpoints: Loyalty, Gift Cards, Bookings, Business, Team, Financials, Online and Auth.",
    "version": "1.2",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "connect.squareupsandbox.com",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [],
  "paths": {
    "/bank-accounts": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "bank_accounts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique, Square-issued identifier.",
                        "title": "ID"
                      },
                      "account_number_suffix": {
                        "type": "string",
                        "description": "The last few digits of the account number.",
                        "title": "Account Number Suffix"
                      },
                      "country": {
                        "type": "string",
                        "description": "The ISO 3166 Alpha-2 country code.",
                        "title": "Country"
                      },
                      "currency": {
                        "type": "string",
                        "description": "The 3-character ISO 4217 currency code.",
                        "title": "Currency"
                      },
                      "account_type": {
                        "type": "string",
                        "description": "The financial purpose of the associated bank account.",
                        "title": "Account Type"
                      },
                      "holder_name": {
                        "type": "string",
                        "description": "Name of the account holder. This name must match the name on the targeted bank account record.",
                        "title": "Holder Name"
                      },
                      "primary_bank_identification_number": {
                        "type": "string",
                        "description": "Primary identifier for the bank.",
                        "title": "Primary Bank Identification Number"
                      },
                      "location_id": {
                        "type": "string",
                        "description": "The identifier for the location.",
                        "title": "Location ID"
                      },
                      "status": {
                        "type": "string",
                        "description": "The current verification status of this object.",
                        "title": "Status"
                      },
                      "creditable": {
                        "type": "boolean",
                        "description": "Indicates whether it is possible for Square to send money to this bank account.",
                        "title": "Creditable"
                      },
                      "debitable": {
                        "type": "boolean",
                        "description": "Indicates whether it is possible for Square to send money to this bank account.",
                        "title": "Debitable"
                      },
                      "version": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The current version of the object.",
                        "title": "Version"
                      },
                      "bank_name": {
                        "type": "string",
                        "description": "Name of actual financial institution.",
                        "title": "Bank Name"
                      }
                    }
                  },
                  "title": "Bank Account"
                }
              }
            }
          }
        },
        "summary": "List bank accounts",
        "description": "Returns a list of BankAccount objects linked to a Square account.",
        "operationId": "BankAccountList",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor returned by a previous call to this endpoint.",
            "x-ms-summary": "Cursor",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Upper limit on the number to return in the response.",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "integer"
          },
          {
            "name": "location_id",
            "in": "query",
            "description": "You can specify this optional filter to retrieve only the records belonging to a specific location.",
            "x-ms-summary": "Location ID",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/bank-accounts/by-v1-id/{v1_bank_account_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "bank_account": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique, Square-issued identifier.",
                      "title": "ID"
                    },
                    "account_number_suffix": {
                      "type": "string",
                      "description": "The last few digits of the account number.",
                      "title": "Account Number Suffix"
                    },
                    "country": {
                      "type": "string",
                      "description": "The ISO 3166 Alpha-2 country code.",
                      "title": "Country"
                    },
                    "currency": {
                      "type": "string",
                      "description": "The 3-character ISO 4217 currency code.",
                      "title": "Currency"
                    },
                    "account_type": {
                      "type": "string",
                      "description": "The type of the account.",
                      "title": "Account Type"
                    },
                    "holder_name": {
                      "type": "string",
                      "description": "Name of the account holder.",
                      "title": "Holder Name"
                    },
                    "primary_bank_identification_number": {
                      "type": "string",
                      "description": "Primary identifier for the bank.",
                      "title": "Primary Bank Identification Number"
                    },
                    "location_id": {
                      "type": "string",
                      "description": "The identifier of the location.",
                      "title": "Location ID"
                    },
                    "status": {
                      "type": "string",
                      "description": "The current verification status of this object.",
                      "title": "Status"
                    },
                    "creditable": {
                      "type": "boolean",
                      "description": "Indicates whether it is possible for Square to send money to this account.",
                      "title": "Creditable"
                    },
                    "debitable": {
                      "type": "boolean",
                      "description": "Indicates whether it is possible for Square to take money from this account.",
                      "title": "Debitable"
                    },
                    "version": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current version of this object.",
                      "title": "Version"
                    },
                    "bank_name": {
                      "type": "string",
                      "description": "Name of actual financial institution.",
                      "title": "Bank Name"
                    }
                  },
                  "title": "Bank Account"
                }
              }
            }
          }
        },
        "summary": "Get bank account by V1 ID",
        "description": "Returns details of a BankAccount identified by V1 bank account ID.",
        "operationId": "BankAccountGetV1",
        "parameters": [
          {
            "name": "v1_bank_account_id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "Connect V1 ID of the desired BankAccount.",
            "x-ms-summary": "V1 Bank Account ID"
          }
        ]
      }
    },
    "/bank-accounts/{bank_account_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "bank_account": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique, Square-issued identifier.",
                      "title": "ID"
                    },
                    "account_number_suffix": {
                      "type": "string",
                      "description": "The last few digits of the account number.",
                      "title": "Account Number Suffix"
                    },
                    "country": {
                      "type": "string",
                      "description": "The ISO 3166 Alpha-2 country code.",
                      "title": "Country"
                    },
                    "currency": {
                      "type": "string",
                      "description": "The 3-character ISO 4217 currency code.",
                      "title": "Currency"
                    },
                    "account_type": {
                      "type": "string",
                      "description": "The type of the account.",
                      "title": "Account Type"
                    },
                    "holder_name": {
                      "type": "string",
                      "description": "Name of the account holder.",
                      "title": "Holder Name"
                    },
                    "primary_bank_identification_number": {
                      "type": "string",
                      "description": "Primary identifier for the bank.",
                      "title": "Primary Bank Identification Number"
                    },
                    "location_id": {
                      "type": "string",
                      "description": "The identifier of the location.",
                      "title": "Location ID"
                    },
                    "status": {
                      "type": "string",
                      "description": "The current verification status of this object.",
                      "title": "Status"
                    },
                    "creditable": {
                      "type": "boolean",
                      "description": "Indicates whether it is possible for Square to send money to this account.",
                      "title": "Creditable"
                    },
                    "debitable": {
                      "type": "boolean",
                      "description": "Indicates whether it is possible for Square to take money from this account.",
                      "title": "Debitable"
                    },
                    "version": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current version of this object.",
                      "title": "Version"
                    },
                    "bank_name": {
                      "type": "string",
                      "description": "Name of actual financial institution.",
                      "title": "Bank Name"
                    }
                  },
                  "title": "Bank Account"
                }
              }
            }
          }
        },
        "summary": "Get bank account",
        "description": "Returns details of a BankAccount linked to a Square account.",
        "operationId": "BankAccountGet",
        "parameters": [
          {
            "name": "bank_account_id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "Square-issued ID of the desired BankAccount.",
            "x-ms-summary": "Bank Account ID"
          }
        ]
      }
    },
    "/bookings": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "booking": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique, Square-issued identifier.",
                      "title": "ID"
                    },
                    "version": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current version of this object.",
                      "title": "Version"
                    },
                    "status": {
                      "type": "string",
                      "description": "The current verification status of this object.",
                      "title": "Status"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "The timestamp specifying the creation time of this object, in RFC 3339 format.",
                      "title": "Created At"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "The timestamp specifying the most recent update time of this object, in RFC 3339 format.",
                      "title": "Updated At"
                    },
                    "location_id": {
                      "type": "string",
                      "description": "The identifier of the location.",
                      "title": "Location ID"
                    },
                    "customer_id": {
                      "type": "string",
                      "description": "The ID of this object representing the customer.",
                      "title": "Customer ID"
                    },
                    "customer_note": {
                      "type": "string",
                      "description": "The free-text field for the customer to supply notes about the booking.",
                      "title": "Customer Note"
                    },
                    "seller_note": {
                      "type": "string",
                      "description": "The free-text field for the seller to supply notes about the booking.",
                      "title": "Seller Note"
                    },
                    "start_at": {
                      "type": "string",
                      "description": "The timestamp specifying the starting time of this object, in RFC 3339 format.",
                      "title": "Start At"
                    },
                    "appointment_segments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "duration_minutes": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The time span in minutes of an appointment segment.",
                            "title": "Duration Minutes"
                          },
                          "service_variation_id": {
                            "type": "string",
                            "description": "The ID of the CatalogItemVariation object representing the service booked in this segment.",
                            "title": "Service Variation ID"
                          },
                          "team_member_id": {
                            "type": "string",
                            "description": "The ID of the TeamMember object representing the team member booked in this segment.",
                            "title": "Team Member ID"
                          },
                          "service_variation_version": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The current version of the item variation representing the service booked in this segment.",
                            "title": "Service Variation Version"
                          }
                        }
                      },
                      "title": "Appointment Segment"
                    }
                  },
                  "title": "Booking"
                },
                "errors": {
                  "type": "array",
                  "items": {},
                  "title": "Errors"
                }
              }
            }
          }
        },
        "summary": "Create booking (Beta)",
        "description": "Creates a booking.",
        "operationId": "BookingCreate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "booking": {
                  "type": "object",
                  "properties": {
                    "customer_id": {
                      "type": "string",
                      "description": "The ID of this object representing the customer.",
                      "title": "Customer ID"
                    },
                    "start_at": {
                      "type": "string",
                      "description": "The timestamp specifying the starting time of this object, in RFC 3339 format.",
                      "title": "Start At"
                    },
                    "location_id": {
                      "type": "string",
                      "description": "The identifier of the location.",
                      "title": "Location ID"
                    },
                    "appointment_segments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "duration_minutes": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The time span in minutes of an appointment segment.",
                            "title": "Duration Minutes"
                          },
                          "team_member_id": {
                            "type": "string",
                            "description": "The ID of the TeamMember object representing the team member booked in this segment.",
                            "title": "Team Member ID"
                          },
                          "service_variation_id": {
                            "type": "string",
                            "description": "The ID of the CatalogItemVariation object representing the service booked in this segment.",
                            "title": "Service Variation ID"
                          },
                          "service_variation_version": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The current version of the item variation representing the service booked in this segment.",
                            "title": "Service Variation Version"
                          }
                        }
                      },
                      "title": "Appointment Segment"
                    }
                  },
                  "title": "Booking"
                }
              }
            }
          }
        ]
      }
    },
    "/bookings/availability/search": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "availabilities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "start_at": {
                        "type": "string",
                        "description": "The RFC 3339 timestamp specifying the beginning time of the slot available.",
                        "title": "Start At"
                      },
                      "location_id": {
                        "type": "string",
                        "description": "The identifier for the location.",
                        "title": "Location ID"
                      },
                      "appointment_segments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "duration_minutes": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The time span in minutes of an appointment segment.",
                              "title": "Duration Minutes"
                            },
                            "team_member_id": {
                              "type": "string",
                              "description": "The ID of the TeamMember object representing the team member booked in this segment.",
                              "title": "Team Member ID"
                            },
                            "service_variation_id": {
                              "type": "string",
                              "description": "The ID of the CatalogItemVariation object representing the service booked in this segment.",
                              "title": "Service Variation ID"
                            },
                            "service_variation_version": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The current version of the item variation representing the service booked in this segment.",
                              "title": "Service Variation Version"
                            }
                          }
                        },
                        "title": "Appointment Segments"
                      }
                    }
                  },
                  "title": "Availabilities"
                },
                "errors": {
                  "type": "array",
                  "items": {},
                  "title": "Errors"
                }
              }
            }
          }
        },
        "summary": "Search availability (Beta)",
        "description": "Searches for availabilities for booking.",
        "operationId": "BookingAvailability",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "object",
                  "properties": {
                    "filter": {
                      "type": "object",
                      "properties": {
                        "start_at_range": {
                          "type": "object",
                          "properties": {
                            "start_at": {
                              "type": "string",
                              "description": "A datetime value in RFC 3339 format indicating when the time range starts.",
                              "title": "Start At"
                            },
                            "end_at": {
                              "type": "string",
                              "description": "A datetime value in RFC 3339 format indicating when the time range ends.",
                              "title": "End At"
                            }
                          },
                          "title": "Start At Range"
                        },
                        "location_id": {
                          "type": "string",
                          "description": "The query expression to search for availabilities matching the specified seller location IDs.",
                          "title": "Location ID"
                        },
                        "segment_filters": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "service_variation_id": {
                                "type": "string",
                                "description": "The ID of the CatalogItemVariation representing the service booked in this segment.",
                                "title": "Service Variation ID"
                              },
                              "team_member_id_filter": {
                                "type": "object",
                                "properties": {
                                  "any": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "title": "Any"
                                  }
                                },
                                "title": "Team Member ID Filter"
                              }
                            }
                          },
                          "title": "Segment Filters"
                        }
                      },
                      "title": "Filter"
                    }
                  },
                  "title": "Query"
                }
              }
            }
          }
        ]
      }
    },
    "/bookings/business-booking-profile": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "business_booking_profile": {
                  "type": "object",
                  "properties": {
                    "seller_id": {
                      "type": "string",
                      "description": "The ID of the seller, obtainable using the Merchants API.",
                      "title": "Seller ID"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "The timestamp specifying the creation time of this object, in RFC 3339 format.",
                      "title": "Created At"
                    },
                    "booking_enabled": {
                      "type": "boolean",
                      "description": "Indicates whether the seller is open for booking.",
                      "title": "Booking Enabled"
                    },
                    "customer_timezone_choice": {
                      "type": "string",
                      "description": "The choice of customer's time zone information of a booking. The Square online booking site and all notifications to customers uses either the seller location’s time zone or the time zone the customer chooses at booking.",
                      "title": "Customer Timezone Choice"
                    },
                    "booking_policy": {
                      "type": "string",
                      "description": "The policy for the seller to automatically accept booking requests (ACCEPT_ALL) or not (REQUIRES_ACCEPTANCE).",
                      "title": "Booking Policy"
                    },
                    "allow_user_cancel": {
                      "type": "boolean",
                      "description": "Indicates whether customers can cancel or reschedule their own bookings (true) or not (false).",
                      "title": "Allow User Cancel"
                    },
                    "business_appointment_settings": {
                      "type": "object",
                      "properties": {
                        "location_types": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "title": "Location Types"
                        },
                        "alignment_time": {
                          "type": "string",
                          "description": "The time unit of the service duration for bookings.",
                          "title": "Alignment Time"
                        },
                        "min_booking_lead_time_seconds": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The minimum lead time in seconds before a service can be booked. Bookings must be created at least this far ahead of the booking's starting time.",
                          "title": "Min Booking Tead Time Seconds"
                        },
                        "max_booking_lead_time_seconds": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum lead time in seconds before a service can be booked. Bookings must be created at most this far ahead of the booking's starting time.",
                          "title": "Max Booking Lead Time Seconds"
                        },
                        "any_team_member_booking_enabled": {
                          "type": "boolean",
                          "description": "Indicates whether a customer can choose from all available time slots and have a staff member assigned automatically (true) or not (false).",
                          "title": "Any Team Member Booking Enabled"
                        },
                        "multiple_service_booking_enabled": {
                          "type": "boolean",
                          "description": "Indicates whether a customer can book multiple services in a single online booking.",
                          "title": "Multiple Service Booking Enabled"
                        },
                        "cancellation_fee_money": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "string",
                              "description": "The amount of money, in the smallest denomination of the currency indicated by currency",
                              "title": "Amount"
                            },
                            "currency": {
                              "type": "string",
                              "description": "The type of currency, in ISO 4217 format.",
                              "title": "Currency"
                            }
                          },
                          "title": "Cancellation Fee Money"
                        },
                        "cancellation_policy": {
                          "type": "string",
                          "description": "The cancellation policy adopted by the seller.",
                          "title": "Cancellation Policy"
                        },
                        "skip_booking_flow_staff_selection": {
                          "type": "boolean",
                          "description": "Indicates whether customers has an assigned staff member (true) or can select s staff member of their choice (false).",
                          "title": "Skip Booking Flow Staff Selection"
                        }
                      },
                      "title": "Business Appointment Settings"
                    }
                  },
                  "title": "Business Booking Profile"
                },
                "errors": {
                  "type": "array",
                  "items": {},
                  "title": "Errors"
                }
              }
            }
          }
        },
        "summary": "Retrieve business booking profile (Beta)",
        "operationId": "BookingRetrieveProfile",
        "description": "Retrieves a seller's booking profile.",
        "parameters": []
      }
    },
    "/bookings/team-member-booking-profiles": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "team_member_booking_profiles": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "team_member_id": {
                        "type": "string",
                        "description": "The ID of the TeamMember object for the team member associated with the object.",
                        "title": "Team Member ID"
                      },
                      "display_name": {
                        "type": "string",
                        "description": "The display name of the team member.",
                        "title": "Display Name"
                      },
                      "is_bookable": {
                        "type": "boolean",
                        "description": "Indicates whether the team member can be booked through the Bookings API or the seller's online booking channel or site (true) or not (false`).",
                        "title": "Is Bookable"
                      }
                    }
                  },
                  "title": "Team Member Booking Profiles"
                },
                "errors": {
                  "type": "array",
                  "items": {},
                  "title": "Errors"
                }
              }
            }
          }
        },
        "summary": "List team member booking profiles (Beta)",
        "description": "Lists booking profiles for team members.",
        "operationId": "BookingListTeamProfiles",
        "parameters": [
          {
            "name": "bookable_only",
            "in": "query",
            "description": "Indicates whether to include only bookable team members in the returned result (true) or not (false).",
            "x-ms-summary": "Bookable Only",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Upper limit on the number to return in the response.",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "integer"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor returned by a previous call to this endpoint.",
            "x-ms-summary": "Cursor",
            "required": false,
            "type": "string"
          },
          {
            "name": "location_id",
            "in": "query",
            "description": "You can specify this optional filter to retrieve only the records belonging to a specific location.",
            "x-ms-summary": "Location ID",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/cash-drawers/shifts": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique, Square-issued identifier.",
                        "title": "ID"
                      },
                      "state": {
                        "type": "string",
                        "description": "The current state.",
                        "title": "State"
                      },
                      "opened_at": {
                        "type": "string",
                        "description": "The shift start time in ISO 8601 format.",
                        "title": "Opened At"
                      },
                      "ended_at": {
                        "type": "string",
                        "description": "The shift end time in ISO 8601 format.",
                        "title": "Ended At"
                      },
                      "closed_at": {
                        "type": "string",
                        "description": "The shift close time in ISO 8601 format.",
                        "title": "Closed At"
                      },
                      "title": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "opened_cash_money": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The amount.",
                            "title": "Amount"
                          },
                          "currency": {
                            "type": "string",
                            "description": "The currency.",
                            "title": "Currency"
                          }
                        },
                        "title": "Opened Cash Money"
                      },
                      "expected_cash_money": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The amount.",
                            "title": "Amount"
                          },
                          "currency": {
                            "type": "string",
                            "description": "The currency.",
                            "title": "Currency"
                          }
                        },
                        "title": "Expected Cash Money"
                      },
                      "closed_cash_money": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The amount.",
                            "title": "Amount"
                          },
                          "currency": {
                            "type": "string",
                            "description": "The currency.",
                            "title": "Currency"
                          }
                        },
                        "title": "Closed Cash Money"
                      }
                    }
                  },
                  "title": "Items"
                }
              }
            }
          }
        },
        "summary": "List cash drawer shifts",
        "description": "Provides the details for all of the cash drawer shifts for a location in a date range.",
        "operationId": "CashDrawerListShifts",
        "parameters": [
          {
            "name": "location_id",
            "in": "query",
            "description": "You can specify this optional filter to retrieve only the records belonging to a specific location.",
            "x-ms-summary": "Location ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sorts the returned list by when the card was created with the specified order.",
            "x-ms-summary": "Sort Order",
            "enum": [
              "ASC",
              "DESC"
            ],
            "default": "ASC",
            "required": false,
            "type": "string"
          },
          {
            "name": "begin_time",
            "in": "query",
            "description": "The inclusive start time of the query on opened_at, in ISO 8601 format.",
            "x-ms-summary": "Begin Time",
            "required": false,
            "type": "string"
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "The exclusive end date of the query on opened_at, in ISO 8601 format.",
            "x-ms-summary": "End Time",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Upper limit on the number to return in the response.",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "integer"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor returned by a previous call to this endpoint.",
            "x-ms-summary": "Cursor",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/cash-drawers/shifts/{shift_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "cash_drawer_shift": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique, Square-issued identifier.",
                      "title": "ID"
                    },
                    "state": {
                      "type": "string",
                      "description": "The current state.",
                      "title": "State"
                    },
                    "opened_at": {
                      "type": "string",
                      "description": "The time when the shift began, in ISO 8601 format.",
                      "title": "Opened At"
                    },
                    "ended_at": {
                      "type": "string",
                      "description": "The time when the shift ended, in ISO 8601 format.",
                      "title": "Ended At"
                    },
                    "closed_at": {
                      "type": "string",
                      "description": "The time when closed, in ISO 8601 format.",
                      "title": "Closed At"
                    },
                    "opening_employee_id": {
                      "type": "string",
                      "description": "The ID of the employee that started the cash drawer shift.",
                      "title": "Opening Employee ID"
                    },
                    "ending_employee_id": {
                      "type": "string",
                      "description": "The ID of the employee that ended the cash drawer shift.",
                      "title": "Ending Employee ID"
                    },
                    "closing_employee_id": {
                      "type": "string",
                      "description": "The ID of the employee that closed the cash drawer shift by auditing the cash drawer contents.",
                      "title": "Closing Employee ID"
                    },
                    "description": {
                      "type": "string",
                      "description": "The description.",
                      "title": "Description"
                    },
                    "opened_cash_money": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The amount.",
                          "title": "Amount"
                        },
                        "currency": {
                          "type": "string",
                          "description": "The currency.",
                          "title": "Currency"
                        }
                      },
                      "title": "Opened Cash Money"
                    },
                    "cash_payment_money": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The amount.",
                          "title": "Amount"
                        },
                        "currency": {
                          "type": "string",
                          "description": "The currency.",
                          "title": "Currency"
                        }
                      },
                      "title": "Cash Payment Money"
                    },
                    "cash_refunds_money": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The amount.",
                          "title": "Amount"
                        },
                        "currency": {
                          "type": "string",
                          "description": "The currency.",
                          "title": "Currency"
                        }
                      },
                      "title": "Cash Refunds Money"
                    },
                    "cash_paid_in_money": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The amount.",
                          "title": "Amount"
                        },
                        "currency": {
                          "type": "string",
                          "description": "The currency.",
                          "title": "Currency"
                        }
                      },
                      "title": "Cash Paid In Money"
                    },
                    "cash_paid_out_money": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The amount.",
                          "title": "Amount"
                        },
                        "currency": {
                          "type": "string",
                          "description": "The currency.",
                          "title": "Currency"
                        }
                      },
                      "title": "Cash Paid Out Money"
                    },
                    "expected_cash_money": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The amount.",
                          "title": "Amount"
                        },
                        "currency": {
                          "type": "string",
                          "description": "The currency.",
                          "title": "Currency"
                        }
                      },
                      "title": "Expected Cash Money"
                    },
                    "closed_cash_money": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The amount.",
                          "title": "Amount"
                        },
                        "currency": {
                          "type": "string",
                          "description": "The currency.",
                          "title": "Currency"
                        }
                      },
                      "title": "Closed Cash Money"
                    },
                    "device": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        }
                      },
                      "title": "Device"
                    }
                  },
                  "title": "Cash Drawer Shift"
                }
              }
            }
          }
        },
        "summary": "Retrieve cash drawer shift",
        "description": "Provides the summary details for a single cash drawer shift.",
        "operationId": "CashDrawerRetrieveShift",
        "parameters": [
          {
            "name": "shift_id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-summary": "Shift ID",
            "description": "The identifier of the shift."
          },
          {
            "name": "location_id",
            "in": "query",
            "description": "You can specify this optional filter to retrieve only the records belonging to a specific location.",
            "x-ms-summary": "Location ID",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/cash-drawers/shifts/{shift_id}/events": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "events": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique, Square-issued identifier.",
                        "title": "ID"
                      },
                      "event_type": {
                        "type": "string",
                        "description": "The type of cash drawer shift event.",
                        "title": "Event Type"
                      },
                      "event_money": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The amount.",
                            "title": "Amount"
                          },
                          "currency": {
                            "type": "string",
                            "description": "The currency.",
                            "title": "Currency"
                          }
                        },
                        "title": "Event Money"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "The event time in ISO 8601 format.",
                        "title": "Created At"
                      },
                      "title": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      }
                    }
                  },
                  "title": "Events"
                }
              }
            }
          }
        },
        "summary": "List cash drawer shift events",
        "description": "Provides a paginated list of events for a single cash drawer shift.",
        "operationId": "CashDrawerListEvents",
        "parameters": [
          {
            "name": "shift_id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-summary": "Shift ID",
            "description": "The identifier of the shift."
          },
          {
            "name": "location_id",
            "in": "query",
            "description": "You can specify this optional filter to retrieve only the records belonging to a specific location.",
            "x-ms-summary": "Location ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Upper limit on the number to return in the response.",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "integer"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor returned by a previous call to this endpoint.",
            "x-ms-summary": "Cursor",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/locations/{location_id}/checkouts": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "checkout": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique, Square-issued identifier.",
                      "title": "ID"
                    },
                    "checkout_page_url": {
                      "type": "string",
                      "description": "The URL that the buyer's browser should be redirected to after the checkout is completed.",
                      "title": "Checkout Page URL"
                    },
                    "ask_for_shipping_address": {
                      "type": "boolean",
                      "description": "If true, Square Checkout will collect shipping information on your behalf and store that information with the transaction information in your Square Dashboard.",
                      "title": "Ask for Shipping Address"
                    },
                    "merchant_support_email": {
                      "type": "string",
                      "description": "The email address to display on the Square Checkout confirmation page and confirmation email that the buyer can use to contact the merchant.",
                      "title": "Merchant Support Email"
                    },
                    "pre_populate_buyer_email": {
                      "type": "string",
                      "description": "If provided, the buyer's email is pre-populated on the checkout page as an editable text field.",
                      "title": "Pre-populate Buyer Email"
                    },
                    "pre_populate_shipping_address": {
                      "type": "object",
                      "properties": {
                        "address_line_1": {
                          "type": "string",
                          "description": "The first line of the address. Fields that start with address_line provide the address's most specific details, like street number, street name, and building name.",
                          "title": "Address Line 1"
                        },
                        "address_line_2": {
                          "type": "string",
                          "description": "The second line of the address, if any.",
                          "title": "Address Line 2"
                        },
                        "locality": {
                          "type": "string",
                          "description": "The city or town of the address.",
                          "title": "Locality"
                        },
                        "administrative_district_level_1": {
                          "type": "string",
                          "description": "A civil entity within the address's country. In the US, this is the state.",
                          "title": "Administrative District Level 1"
                        },
                        "postal_code": {
                          "type": "string",
                          "description": "The address's postal code.",
                          "title": "Postal Code"
                        },
                        "country": {
                          "type": "string",
                          "description": "The address's country, in ISO 3166-1-alpha-2 format.",
                          "title": "Country"
                        },
                        "first_name": {
                          "type": "string",
                          "description": "Optional first name when it's representing recipient.",
                          "title": "First Name"
                        },
                        "last_name": {
                          "type": "string",
                          "description": "Optional lsat name when it's representing recipient.",
                          "title": "Last Name"
                        }
                      },
                      "title": "Pre-populate Shipping Address"
                    },
                    "redirect_url": {
                      "type": "string",
                      "description": "The URL to redirect to after checkout is completed with checkoutId, Square's orderId, transactionId, and referenceId appended as URL parameters. For example, if the provided redirect_url is http://www.example.com/order-complete, a successful transaction redirects the customer to: <pre><code>http://www.example.com/order-complete?checkoutId=xxxxxx&orderId=xxxxxx&referenceId=xxxxxx&transactionId=xxxxxx</code></pre> If you do not provide a redirect URL, Square Checkout will display an order confirmation page on your behalf; however Square strongly recommends that you provide a redirect URL so you can verify the transaction results and finalize the order through your existing/normal confirmation workflow.",
                      "title": "Redirect URL"
                    },
                    "order": {
                      "type": "object",
                      "properties": {
                        "location_id": {
                          "type": "string",
                          "description": "The query expression to search for availabilities matching the specified seller location IDs.",
                          "title": "Location ID"
                        },
                        "customer_id": {
                          "type": "string",
                          "description": "The ID of the customer associated with the order.",
                          "title": "Customer ID"
                        },
                        "reference_id": {
                          "type": "string",
                          "description": "A client-specified ID to associate an entity in another system with this order.",
                          "title": "Reference ID"
                        },
                        "line_items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name of the line item.",
                                "title": "Name"
                              },
                              "quantity": {
                                "type": "string",
                                "description": "The quantity purchased, formatted as a decimal number. Line items with a quantity of 0 are automatically removed when paying for or otherwise completing the order.",
                                "title": "Quantity"
                              },
                              "applied_taxes": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "tax_uid": {
                                      "type": "string",
                                      "description": "The UID of the tax for which this applied tax represents. It must reference a tax present in the order.taxes field. This field is immutable. To change which taxes apply to a line item, delete and add a new OrderLineItemAppliedTax.",
                                      "title": "Tax UID"
                                    },
                                    "applied_money": {
                                      "type": "object",
                                      "properties": {
                                        "amount": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "The amount of money, in the smallest denomination of the currency indicated by currency. For example, when currency is USD, amount is in cents. Monetary amounts can be positive or negative. See the specific field description to determine the meaning of the sign in a particular case.",
                                          "title": "Amount"
                                        },
                                        "currency": {
                                          "type": "string",
                                          "description": "The type of currency, in ISO 4217 format. For example, the currency code for US dollars is USD.",
                                          "title": "Currency"
                                        }
                                      },
                                      "title": "Applied Money"
                                    }
                                  }
                                },
                                "title": "Applied Taxes"
                              },
                              "applied_discounts": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "discount_uid": {
                                      "type": "string",
                                      "description": "The UID of the discount that the applied discount represents. It must reference a discount present in the order.discounts field. This field is immutable. To change which discounts apply to a line item, you must delete the discount and re-add it as a new OrderLineItemAppliedDiscount.",
                                      "title": "Discount UID"
                                    },
                                    "applied_money": {
                                      "type": "object",
                                      "properties": {
                                        "amount": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "The amount of money, in the smallest denomination of the currency indicated by currency. For example, when currency is USD, amount is in cents. Monetary amounts can be positive or negative. See the specific field description to determine the meaning of the sign in a particular case.",
                                          "title": "Amount"
                                        },
                                        "currency": {
                                          "type": "string",
                                          "description": "The type of currency, in ISO 4217 format. For example, the currency code for US dollars is USD.",
                                          "title": "Currency"
                                        }
                                      },
                                      "title": "Applied Money"
                                    }
                                  }
                                },
                                "title": "Applied Discounts"
                              },
                              "base_price_money": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The amount.",
                                    "title": "Amount"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "description": "The currency.",
                                    "title": "Currency"
                                  }
                                },
                                "title": "Base Price Money"
                              },
                              "total_tax_money": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The amount.",
                                    "title": "Amount"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "description": "The currency.",
                                    "title": "Currency"
                                  }
                                },
                                "title": "Total Tax money"
                              },
                              "total_discount_money": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The amount.",
                                    "title": "Amount"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "description": "The currency.",
                                    "title": "Currency"
                                  }
                                },
                                "title": "Total Discount Money"
                              },
                              "total_money": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The amount.",
                                    "title": "Amount"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "description": "The currency.",
                                    "title": "Currency"
                                  }
                                },
                                "title": "Total Money"
                              }
                            }
                          },
                          "title": "Line Items"
                        },
                        "taxes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "uid": {
                                "type": "string",
                                "description": "A unique ID.",
                                "title": "UID"
                              },
                              "type": {
                                "type": "string",
                                "description": "The type of this object.",
                                "title": "Type"
                              },
                              "percentage": {
                                "type": "string",
                                "description": "The percentage of the tax, as a string representation of a decimal number.",
                                "title": "Percentage"
                              },
                              "scope": {
                                "type": "string",
                                "description": "Indicates the level at which the object applies.",
                                "title": "Scope"
                              }
                            }
                          },
                          "title": "Taxes"
                        },
                        "discounts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "uid": {
                                "type": "string",
                                "description": "A unique ID.",
                                "title": "UID"
                              },
                              "type": {
                                "type": "string",
                                "description": "The type of this object.",
                                "title": "Type"
                              },
                              "scope": {
                                "type": "string",
                                "description": "Indicates the level at which the object applies.",
                                "title": "Scope"
                              },
                              "amount_money": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The amount.",
                                    "title": "Amount"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "description": "The currency.",
                                    "title": "Currency"
                                  }
                                },
                                "title": "Money"
                              },
                              "applied_money": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The amount.",
                                    "title": "Amount"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "description": "The currency.",
                                    "title": "Currency"
                                  }
                                },
                                "title": "Applied Money"
                              }
                            }
                          },
                          "title": "Discounts"
                        },
                        "total_money": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The amount.",
                              "title": "Amount"
                            },
                            "currency": {
                              "type": "string",
                              "description": "The currency.",
                              "title": "Currency"
                            }
                          },
                          "title": "Total Money"
                        },
                        "total_tax_money": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The amount.",
                              "title": "Amount"
                            },
                            "currency": {
                              "type": "string",
                              "description": "The currency.",
                              "title": "Currency"
                            }
                          },
                          "title": "Total Tax money"
                        },
                        "total_discount_money": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The amount.",
                              "title": "Amount"
                            },
                            "currency": {
                              "type": "string",
                              "description": "The currency.",
                              "title": "Currency"
                            }
                          },
                          "title": "Total Discount Money"
                        }
                      },
                      "title": "Order"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "The timestamp specifying the creation time of this object, in RFC 3339 format.",
                      "title": "Created At"
                    },
                    "version": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current version of this object.",
                      "title": "Version"
                    },
                    "additional_recipients": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "location_id": {
                            "type": "string",
                            "description": "The location ID for a recipient (other than the merchant) receiving a portion of this tender.",
                            "title": "Location ID"
                          },
                          "title": {
                            "type": "string",
                            "description": "The item's description. This is a searchable attribute for use in applicable query filters, and its value length is of Unicode code points.",
                            "title": "Description"
                          },
                          "amount_money": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The amount.",
                                "title": "Amount"
                              },
                              "currency": {
                                "type": "string",
                                "description": "The currency.",
                                "title": "Currency"
                              }
                            },
                            "title": "Money"
                          }
                        }
                      },
                      "title": "Additional Recipients"
                    }
                  },
                  "title": "Checkout"
                }
              }
            }
          }
        },
        "summary": "Create checkout",
        "description": "Links a checkoutId to a checkout_page_url that customers are directed to in order to provide their payment information using a payment processing workflow.",
        "operationId": "CheckoutCreate",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-summary": "Location ID",
            "description": "The identifier of the location."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "idempotency_key": {
                  "type": "string",
                  "description": "A value you specify that uniquely identifies this request among all your requests. A common way to create a valid idempotency key is to use a Universally unique identifier (UUID).",
                  "title": "Idempotency Key"
                },
                "redirect_url": {
                  "type": "string",
                  "description": " For example, if the provided redirect URL is http://www.example.com/order-complete, a successful transaction redirects the customer to: <pre><code>http://www.example.com/order-complete?checkoutId=xxxxxx&referenceId=xxxxxx&transactionId=xxxxxx</code></pre> If you do not provide a redirect URL, Square Checkout displays an order confirmation page on your behalf; however, it is strongly recommended that you provide a redirect URL so you can verify the transaction results and finalize the order through your existing/normal confirmation workflow.",
                  "title": "Redirect URL"
                },
                "order": {
                  "type": "object",
                  "properties": {
                    "idempotency_key": {
                      "type": "string",
                      "description": "A value you specify that uniquely identifies this order among orders you have created. If you are unsure whether a particular order was created successfully, you can try it again with the same idempotency key without worrying about creating duplicate orders.",
                      "title": "Idempotency Key"
                    },
                    "order": {
                      "type": "object",
                      "properties": {
                        "location_id": {
                          "type": "string",
                          "description": "The query expression to search for availabilities matching the specified seller location IDs.",
                          "title": "Location ID"
                        },
                        "customer_id": {
                          "type": "string",
                          "description": "The ID of the customer associated with the order.",
                          "title": "Customer ID"
                        },
                        "reference_id": {
                          "type": "string",
                          "description": "A client-specified ID to associate an entity in another system with this order.",
                          "title": "Reference ID"
                        },
                        "line_items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name of the item.",
                                "title": "Name"
                              },
                              "quantity": {
                                "type": "string",
                                "description": "The quantity purchased, formatted as a decimal number. Line items with a quantity of 0 are automatically removed when paying for or otherwise completing the order.",
                                "title": "Quantity"
                              },
                              "base_price_money": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The amount.",
                                    "title": "Amount"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "description": "The currency.",
                                    "title": "Currency"
                                  }
                                },
                                "title": "Base Price Money"
                              },
                              "applied_discounts": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "discount_uid": {
                                      "type": "string",
                                      "description": "The UID of the discount that the applied discount represents. It must reference a discount present in the order.discounts field. This field is immutable. To change which discounts apply to a line item, you must delete the discount and re-add it as a new OrderLineItemAppliedDiscount.",
                                      "title": "Discount UID"
                                    }
                                  }
                                },
                                "title": "Applied Discounts"
                              },
                              "applied_taxes": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "tax_uid": {
                                      "type": "string",
                                      "description": "The UID of the tax for which this applied tax represents. It must reference a tax present in the order.taxes field. This field is immutable. To change which taxes apply to a line item, delete and add a new OrderLineItemAppliedTax.",
                                      "title": "Tax UID"
                                    }
                                  }
                                },
                                "title": "Applied Taxes"
                              }
                            }
                          },
                          "title": "Line Items"
                        },
                        "taxes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "uid": {
                                "type": "string",
                                "description": "A unique ID.",
                                "title": "UID"
                              },
                              "type": {
                                "type": "string",
                                "description": "The type of this object.",
                                "title": "Type"
                              },
                              "percentage": {
                                "type": "string",
                                "description": "The percentage of the tax, as a string representation of a decimal number.",
                                "title": "Percentage"
                              },
                              "scope": {
                                "type": "string",
                                "description": "Indicates the level at which the object applies.",
                                "title": "Scope"
                              }
                            }
                          },
                          "title": "Taxes"
                        },
                        "discounts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "uid": {
                                "type": "string",
                                "description": "A unique ID.",
                                "title": "UID"
                              },
                              "type": {
                                "type": "string",
                                "description": "The type of this object.",
                                "title": "Type"
                              },
                              "scope": {
                                "type": "string",
                                "description": "Indicates the level at which the object applies.",
                                "title": "Scope"
                              },
                              "amount_money": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The amount.",
                                    "title": "Amount"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "description": "The currency.",
                                    "title": "Currency"
                                  }
                                },
                                "title": "Money"
                              }
                            }
                          },
                          "title": "Discounts"
                        }
                      },
                      "title": "Order"
                    }
                  },
                  "title": "Order"
                },
                "additional_recipients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "location_id": {
                        "type": "string",
                        "description": "The identifier for the location.",
                        "title": "Location ID"
                      },
                      "title": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "amount_money": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The amount.",
                            "title": "Amount"
                          },
                          "currency": {
                            "type": "string",
                            "description": "The currency.",
                            "title": "Currency"
                          }
                        },
                        "title": "Money"
                      }
                    }
                  },
                  "title": "Additional Recipients"
                },
                "ask_for_shipping_address": {
                  "type": "boolean",
                  "description": "If true, Square Checkout collects shipping information on your behalf and stores that information with the transaction information in the Square Seller Dashboard.",
                  "title": "Ask for Shipping Address"
                },
                "merchant_support_email": {
                  "type": "string",
                  "description": "The email address to display on the Square Checkout confirmation page and confirmation email that the buyer can use to contact the seller. If this value is not set, the confirmation page and email display the primary email address associated with the seller's Square account.",
                  "title": "Merchant Support Email"
                },
                "pre_populate_buyer_email": {
                  "type": "string",
                  "description": "If provided, the buyer's email is prepopulated on the checkout page as an editable text field.",
                  "title": "Pre-populate Buyer Email"
                },
                "pre_populate_shipping_address": {
                  "type": "object",
                  "properties": {
                    "address_line_1": {
                      "type": "string",
                      "description": "The first line of the address.",
                      "title": "Address Line 1"
                    },
                    "address_line_2": {
                      "type": "string",
                      "description": "The second line of the address, if any.",
                      "title": "Address Line 2"
                    },
                    "locality": {
                      "type": "string",
                      "description": "The city or town of the address.",
                      "title": "Locality"
                    },
                    "administrative_district_level_1": {
                      "type": "string",
                      "description": "A civil entity within the address's country. In the US, this is the state.",
                      "title": "Administrative District Level 1"
                    },
                    "postal_code": {
                      "type": "string",
                      "description": "The address's postal code.",
                      "title": "Postal Code"
                    },
                    "country": {
                      "type": "string",
                      "description": "The ISO 3166 Alpha-2 country code.",
                      "title": "Country"
                    },
                    "first_name": {
                      "type": "string",
                      "description": "Optional first name when it's representing recipient.",
                      "title": "First Name"
                    },
                    "last_name": {
                      "type": "string",
                      "description": "Optional last name when it's representing recipient.",
                      "title": "Last Name"
                    }
                  },
                  "title": "Pre-populate Shipping Address"
                }
              }
            }
          }
        ]
      }
    },
    "/devices/codes": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "device_codes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique, Square-issued identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the object.",
                        "title": "Name"
                      },
                      "code": {
                        "type": "string",
                        "description": "The unique code that can be used to login.",
                        "title": "Code"
                      },
                      "product_type": {
                        "type": "string",
                        "description": "The targeting product type of the device code.",
                        "title": "Product Type"
                      },
                      "location_id": {
                        "type": "string",
                        "description": "The identifier for the location.",
                        "title": "Location ID"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "The event time in ISO 8601 format.",
                        "title": "Created At"
                      },
                      "pair_by": {
                        "type": "string",
                        "description": "When this DeviceCode will expire and no longer login. Timestamp in RFC 3339 format.",
                        "title": "Pair By"
                      },
                      "status": {
                        "type": "string",
                        "description": "The current verification status of this object.",
                        "title": "Status"
                      },
                      "device_id": {
                        "type": "string",
                        "description": "The unique id of the device that used this code. Populated when the device is paired.",
                        "title": "Device ID"
                      },
                      "status_changed_at": {
                        "type": "string",
                        "description": "When this DeviceCode's status was last changed. Timestamp in RFC 3339 format.",
                        "title": "Status Changed At"
                      }
                    }
                  },
                  "title": "Device Codes"
                }
              }
            }
          }
        },
        "summary": "List device codes",
        "description": "Lists all DeviceCodes associated with the merchant.",
        "operationId": "DeviceList",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor returned by a previous call to this endpoint.",
            "x-ms-summary": "Cursor",
            "required": false,
            "type": "string"
          },
          {
            "name": "location_id",
            "in": "query",
            "description": "You can specify this optional filter to retrieve only the records belonging to a specific location.",
            "x-ms-summary": "Location ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "product_type",
[...]
