{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "HubSpot CMS V2",
    "description": "Content management software that's flexible for marketers, powerful for developers, and gives your customers a personalized, secure experience. Includes hosting, flexible themes, dynamic content, drag-and-drop page editing, memberships, and more - all powered by a CRM platform that allows you to build seamless digital experiences for your customers.",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.hubapi.com",
  "basePath": "/cms/v3",
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/blogs/posts/schedule": {
      "post": {
        "description": "Schedules a blog post to be published.",
        "summary": "Schedule blog post",
        "operationId": "ScheduleaBlogPosttobePublished",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScheduleaBlogPosttobePublishedRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "ScheduleaBlogPosttobePublished",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/blogs/posts/batch/read": {
      "post": {
        "description": "Retrieves the blog post objects identified in the request body.",
        "summary": "Retrieve batch of blog posts",
        "operationId": "RetrieveabatchofBlogPosts",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether to return deleted blog posts."
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RetrieveabatchofBlogPostsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation"
            }
          },
          "207": {
            "description": "Multi-Status",
            "schema": {
              "$ref": "#/definitions/multiplestatuses"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "RetrieveabatchofBlogPosts",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/blogs/posts/multi-language/update-languages": {
      "post": {
        "description": "Explicitly set new languages for each blog post in a multi-language group.",
        "summary": "Update languages of multi-language group",
        "operationId": "Updatelanguagesofmulti-languagegroup",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Updatelanguagesofmulti-languagegroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/blogs/posts/{objectId}/revisions/{revisionId}": {
      "get": {
        "description": "Retrieves a previous version of a blog post.",
        "summary": "Retrieve previous blog post",
        "operationId": "Retrievesapreviousversionofablogpost",
        "parameters": [
          {
            "name": "objectId",
            "in": "path",
            "x-ms-summary": "Object ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The object identifier."
          },
          {
            "name": "revisionId",
            "in": "path",
            "x-ms-summary": "Revision ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The revision identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation1"
            }
          }
        }
      }
    },
    "/blogs/posts/batch/update": {
      "post": {
        "description": "Updates the blog post objects identified in the request body.",
        "summary": "Update batch of blog posts",
        "operationId": "UpdateabatchofBlogPosts",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether to update deleted blog posts."
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateabatchofBlogPostsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation"
            }
          },
          "207": {
            "description": "Multi-Status",
            "schema": {
              "$ref": "#/definitions/multiplestatuses"
            }
          }
        }
      }
    },
    "/blogs/posts/{objectId}/draft": {
      "get": {
        "description": "Retrieves the full draft version of the blog post.",
        "summary": "Retrieve the full draft blog post",
        "operationId": "RetrievethefulldraftversionoftheBlogPost",
        "parameters": [
          {
            "name": "objectId",
            "in": "path",
            "x-ms-summary": "Object ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The object identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation3"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "RetrievethefulldraftversionoftheBlogPost",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "patch": {
        "description": "Sparse updates the draft version of a single blog post object identified by the identifier in the path. All the column values need not be specified. Only the that need to be modified can be specified.",
        "summary": "Update blog post draft",
        "operationId": "UpdateaBlogPostdraft",
        "parameters": [
          {
            "name": "objectId",
            "in": "path",
            "x-ms-summary": "Object ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The object identifier."
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateaBlogPostdraftRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation3"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "UpdateaBlogPostdraft",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/blogs/posts/batch/create": {
      "post": {
        "description": "Creates the blog post objects detailed in the request body.",
        "summary": "Create batch of blog posts",
        "operationId": "CreateabatchofBlogPosts",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateabatchofBlogPostsRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/successfuloperation"
            }
          },
          "207": {
            "description": "Multi-Status",
            "schema": {
              "$ref": "#/definitions/multiplestatuses"
            }
          }
        }
      }
    },
    "/blogs/posts/{objectId}/revisions/{revisionId}/restore-to-draft": {
      "post": {
        "description": "Takes a specified version of a blog post, sets it as the new draft version of the blog post.",
        "summary": "Restore previous version blog post",
        "operationId": "Restoreapreviousversionofablogposttothedraftversionoftheblogpost",
        "parameters": [
          {
            "name": "objectId",
            "in": "path",
            "x-ms-summary": "Object ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The object identifier."
          },
          {
            "name": "revisionId",
            "in": "path",
            "x-ms-summary": "Revision ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The revision identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation3"
            }
          }
        }
      }
    },
    "/blogs/posts/multi-language/create-language-variation": {
      "post": {
        "description": "Creates a new language variation from an existing blog post.",
        "summary": "Create new language variation",
        "operationId": "Createanewlanguagevariation",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateanewlanguagevariationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation3"
            }
          }
        }
      }
    },
    "/blogs/posts/clone": {
      "post": {
        "description": "Clones a blog post.",
        "summary": "Clone blog post",
        "operationId": "CloneaBlogPost",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CloneaBlogPostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation3"
            }
          }
        }
      }
    },
    "/blogs/posts": {
      "get": {
        "description": "Retrieves the list of blog posts.",
        "summary": "Get blog posts",
        "operationId": "GetallBlogPosts",
        "parameters": [
          {
            "name": "createdAt",
            "in": "query",
            "x-ms-summary": "Created At",
            "required": false,
            "type": "string",
            "description": "Only return blog posts created at exactly the specified time."
          },
          {
            "name": "createdAfter",
            "in": "query",
            "x-ms-summary": "Created After",
            "required": false,
            "type": "string",
            "description": "Only return blog posts created after the specified time."
          },
          {
            "name": "createdBefore",
            "in": "query",
            "x-ms-summary": "Created Before",
            "required": false,
            "type": "string",
            "description": "Only return blog posts created before the specified time."
          },
          {
            "name": "updatedAt",
            "in": "query",
            "x-ms-summary": "Updated At",
            "required": false,
            "type": "string",
            "description": "Only return blog posts last updated at exactly the specified time."
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "x-ms-summary": "Updated After",
            "required": false,
            "type": "string",
            "description": "Only return blog posts last updated after the specified time."
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "x-ms-summary": "Updated Before",
            "required": false,
            "type": "string",
            "description": "Only return blog posts last updated before the specified time."
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort",
            "required": false,
            "type": "string",
            "description": "Specifies which fields to use for sorting results. Valid fields are name, createdAt, updatedAt, createdBy, updatedBy. CreatedAt will be used by default."
          },
          {
            "name": "after",
            "in": "query",
            "x-ms-summary": "After",
            "required": false,
            "type": "string",
            "description": "The cursor token value to get the next set of results."
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "string",
            "description": "The maximum number of results to return. Default is 20."
          },
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether to return deleted blog posts."
          },
          {
            "name": "property",
            "in": "query",
            "x-ms-summary": "Property",
            "required": false,
            "type": "string",
            "description": "The property."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation9"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "GetallBlogPosts",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "post": {
        "description": "Creates a new blog post.",
        "summary": "Create new blog post",
        "operationId": "CreateanewBlogPost",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateanewBlogPostRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/successfuloperation3"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "CreateanewBlogPost",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/blogs/posts/{objectId}/revisions/{revisionId}/restore": {
      "post": {
        "description": "Takes a specified version of a blog post and restores it.",
        "summary": "Restore previous version blog post",
        "operationId": "Restoreapreviousversionofablogpost",
        "parameters": [
          {
            "name": "objectId",
            "in": "path",
            "x-ms-summary": "Object ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The object identifier."
          },
          {
            "name": "revisionId",
            "in": "path",
            "x-ms-summary": "Revision ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The revision identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation3"
            }
          }
        }
      }
    },
    "/blogs/posts/multi-language/detach-from-lang-group": {
      "post": {
        "description": "Detaches a blog post from a multi-language group.",
        "summary": "Detach blog post from group",
        "operationId": "DetachaBlogPostfromamulti-languagegroup",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DetachaBlogPostfromamulti-languagegroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/blogs/posts/{objectId}/draft/push-live": {
      "post": {
        "description": "Takes any changes from the draft version of the blog post and apply them to the live version.",
        "summary": "Push blog post live",
        "operationId": "PushBlogPostdrafteditslive",
        "parameters": [
          {
            "name": "objectId",
            "in": "path",
            "x-ms-summary": "Object ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The object identifier."
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "PushBlogPostdrafteditslive",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/blogs/posts/batch/archive": {
      "post": {
        "description": "Deletes the blog post objects identified in the request body. Note: This is not the same as the in-app archive function. To perform a dashboard archive send a normal update with the archivedInDashboard field set to true.",
        "summary": "Delete batch of blog posts",
        "operationId": "DeleteabatchofBlogPosts",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteabatchofBlogPostsRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/blogs/posts/{objectId}/draft/reset": {
      "post": {
        "description": "Discards any edits and resets the draft to the live version.",
        "summary": "Reset blog post draft to live version",
        "operationId": "ResettheBlogPostdrafttotheliveversion",
        "parameters": [
          {
            "name": "objectId",
            "in": "path",
            "x-ms-summary": "Object ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The object identifier."
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/blogs/posts/multi-language/attach-to-lang-group": {
      "post": {
        "description": "Attaches a blog post to a multi-language group.",
        "summary": "Attach blog post to group",
        "operationId": "AttachaBlogPosttoamulti-languagegroup",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AttachaBlogPosttoamulti-languagegroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/blogs/posts/{objectId}/revisions": {
      "get": {
        "description": "Retrieves all the previous versions of a blog post.",
        "summary": "Retrieve previous versions blog post",
        "operationId": "Retrievesallthepreviousversionsofablogpost",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "x-ms-summary": "After",
            "required": false,
            "type": "string",
            "description": "The cursor token value to get the next set of results."
          },
          {
            "name": "before",
            "in": "query",
            "x-ms-summary": "Before",
            "required": false,
            "type": "string",
            "description": "The cursor token value to get the previous set of results."
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "string",
            "description": "The maximum number of results to return. Default is 100."
          },
          {
            "name": "objectId",
            "in": "path",
            "x-ms-summary": "Object ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The object identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation12"
            }
          }
        }
      }
    },
    "/blogs/posts/multi-language/set-new-lang-primary": {
      "put": {
        "description": "Sets a blog post as the primary language of a multi-language group.",
        "summary": "Set new primary language",
        "operationId": "Setanewprimarylanguage",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetanewprimarylanguageRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/blogs/posts/{objectId}": {
      "get": {
        "description": "Retrieves the blog post object identified by the identifier in the path.",
        "summary": "Retrieve blog post",
        "operationId": "RetrieveaBlogPost",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether to return deleted blog posts."
          },
          {
            "name": "property",
            "in": "query",
            "x-ms-summary": "Property",
            "required": false,
            "type": "string",
            "description": "The property."
          },
          {
            "name": "objectId",
            "in": "path",
            "x-ms-summary": "Object ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The object identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation3"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "RetrieveaBlogPost",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "delete": {
        "description": "Deletes the blog post object identified by the identifier in the path.",
        "summary": "Delete blog post",
        "operationId": "DeleteaBlogPost",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "required": false,
            "type": "boolean",
            "description": "Whether to return only results that have been archived."
          },
          {
            "name": "objectId",
            "in": "path",
            "x-ms-summary": "Object ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The object identifier."
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "description": "Sparse updates a single blog post object identified by the identifier in the path. All the column values need not be specified. Only the that need to be modified can be specified.",
        "summary": "Update blog post",
        "operationId": "UpdateaBlogPost",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether to update deleted blog posts."
          },
          {
            "name": "objectId",
            "in": "path",
            "x-ms-summary": "Object ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The object identifier."
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateaBlogPostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation3"
            }
          }
        }
      }
    },
    "/blogs/authors/{objectId}": {
      "get": {
        "description": "Retrieves the blog author object identified by the identifier in the path.",
        "summary": "Retrieve blog author",
        "operationId": "RetrieveaBlogAuthor",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether to return deleted blog authors."
          },
          {
            "name": "property",
            "in": "query",
            "x-ms-summary": "Property",
            "required": false,
            "type": "string",
            "description": "The property."
          },
          {
            "name": "objectId",
            "in": "path",
            "x-ms-summary": "Object ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The object identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation15"
            }
          }
        }
      },
      "delete": {
        "description": "Deletes the blog author object identified by the identifier in the path.",
        "summary": "Delete blog author",
        "operationId": "DeleteaBlogAuthor",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "required": false,
            "type": "boolean",
            "description": "Whether to return only results that have been archived."
          },
          {
            "name": "objectId",
            "in": "path",
            "x-ms-summary": "Object ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The object identifier."
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "description": "Sparse updates a single blog author object identified by the identifier in the path. All the column values need not be specified. Only the that need to be modified can be specified.",
        "summary": "Update blog author",
        "operationId": "UpdateaBlogAuthor",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether to update deleted blog authors."
          },
          {
            "name": "objectId",
            "in": "path",
            "x-ms-summary": "Object ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The object identifier."
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateaBlogAuthorRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation15"
            }
          }
        }
      }
    },
    "/blogs/authors/multi-language/detach-from-lang-group": {
      "post": {
        "description": "Detaches a blog author from a multi-language group.",
        "summary": "Detach blog author from group",
        "operationId": "DetachaBlogAuthorfromamulti-languagegroup",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DetachaBlogAuthorfromamulti-languagegroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/blogs/authors/batch/update": {
      "post": {
        "description": "Updates the blog author objects identified in the request body.",
        "summary": "Update batch of blog authors",
        "operationId": "UpdateabatchofBlogAuthors",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether to update deleted blog authors."
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateabatchofBlogAuthorsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation17"
            }
          },
          "207": {
            "description": "Multi-Status",
            "schema": {
              "$ref": "#/definitions/multiplestatuses3"
            }
          }
        }
      }
    },
    "/blogs/authors/multi-language/set-new-lang-primary": {
      "put": {
        "description": "Sets a blog author as the primary language of a multi-language group.",
        "summary": "Set new primary language",
        "operationId": "PutSetanewprimarylanguage",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetanewprimarylanguageRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/blogs/authors/batch/archive": {
      "post": {
        "description": "Deletes the blog author objects identified in the request body.",
        "summary": "Delete batch of blog authors",
        "operationId": "DeleteabatchofBlogAuthors",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteabatchofBlogAuthorsRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/blogs/authors/batch/create": {
      "post": {
        "description": "Creates the blog author objects detailed in the request body.",
        "summary": "Create batch of blog authors",
        "operationId": "CreateabatchofBlogAuthors",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateabatchofBlogAuthorsRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/successfuloperation17"
            }
          },
          "207": {
            "description": "Multi-Status",
            "schema": {
              "$ref": "#/definitions/multiplestatuses3"
            }
          }
        }
      }
    },
    "/blogs/authors/batch/read": {
      "post": {
        "description": "Retrieves the blog author objects identified in the request body.",
        "summary": "Retrieve batch of blog authors",
        "operationId": "RetrieveabatchofBlogAuthors",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether to return deleted blog authors."
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RetrieveabatchofBlogAuthorsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation17"
            }
          },
          "207": {
            "description": "Multi-Status",
            "schema": {
              "$ref": "#/definitions/multiplestatuses3"
            }
          }
        }
      }
    },
    "/blogs/authors": {
      "get": {
        "description": "Retrieves the list of blog authors.",
        "summary": "Get blog authors",
        "operationId": "GetallBlogAuthors",
        "parameters": [
          {
            "name": "createdAt",
            "in": "query",
            "x-ms-summary": "Created At",
            "required": false,
            "type": "string",
            "description": "Only return blog authors created at exactly the specified time."
          },
          {
            "name": "createdAfter",
            "in": "query",
            "x-ms-summary": "Created After",
            "required": false,
            "type": "string",
            "description": "Only return blog authors created after the specified time."
          },
          {
            "name": "createdBefore",
            "in": "query",
            "x-ms-summary": "Created Before",
            "required": false,
            "type": "string",
            "description": "Only return blog authors created before the specified time."
          },
          {
            "name": "updatedAt",
            "in": "query",
            "x-ms-summary": "Updated At",
            "required": false,
            "type": "string",
            "description": "Only return blog authors last updated at exactly the specified time."
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "x-ms-summary": "Updated After",
            "required": false,
            "type": "string",
            "description": "Only return blog authors last updated after the specified time."
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "x-ms-summary": "Updated Before",
            "required": false,
            "type": "string",
            "description": "Only return blog authors last updated before the specified time."
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort",
            "required": false,
            "type": "string",
            "description": "Specifies which fields to use for sorting results. Valid fields are name, createdAt, updatedAt, createdBy, updatedBy. createdAt will be used by default."
          },
          {
            "name": "after",
            "in": "query",
            "x-ms-summary": "After",
            "required": false,
            "type": "string",
            "description": "The cursor token value to get the next set of results."
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "string",
            "description": "The maximum number of results to return. Default is 100."
          },
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether to return deleted blog authors."
          },
          {
            "name": "property",
            "in": "query",
            "x-ms-summary": "Property",
            "required": false,
            "type": "string",
            "description": "The property."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation20"
            }
          }
        }
      },
      "post": {
        "description": "Creates a new blog author.",
        "summary": "Create new blog author",
        "operationId": "CreateanewBlogAuthor",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateanewBlogAuthorRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/successfuloperation15"
            }
          }
        }
      }
    },
    "/blogs/authors/multi-language/create-language-variation": {
      "post": {
        "description": "Creates a new language variation from an existing blog author.",
        "summary": "Create new language variation",
        "operationId": "PostCreateanewlanguagevariation",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateanewlanguagevariationRequest1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation15"
            }
          }
        }
      }
    },
    "/blogs/authors/multi-language/attach-to-lang-group": {
      "post": {
        "description": "Attaches a blog author to a multi-language group.",
        "summary": "Attach blog author to a multi-language group",
        "operationId": "AttachaBlogAuthortoamulti-languagegroup",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AttachaBlogAuthortoamulti-languagegroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/blogs/authors/multi-language/update-languages": {
      "post": {
        "description": "Explicitly set new languages for each blog author in a multi-language group.",
        "summary": "Update languages of group",
        "operationId": "PostUpdatelanguagesofmulti-languagegroup",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Updatelanguagesofmulti-languagegroupRequest1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/blog-settings/settings/multi-language/update-languages": {
      "post": {
        "description": "Explicitly set new languages for each blog in a multi-language group.",
        "summary": "Update languages of group",
        "operationId": "PostUpdatelanguagesofmulti-languagegroup1",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Updatelanguagesofmulti-languagegroupRequest2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/blog-settings/settings/{blogId}/revisions": {
      "get": {
        "description": "Retrieves all the previous versions of a blog.",
        "summary": "Retrieve previous versions of a blog",
        "operationId": "RetrievesallthepreviousversionsofaBlog",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "x-ms-summary": "After",
            "required": false,
            "type": "string",
            "description": "The cursor token value to get the next set of results."
          },
          {
            "name": "before",
            "in": "query",
            "x-ms-summary": "Before",
            "required": false,
            "type": "string",
            "description": "The cursor token value to get the previous set of results."
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "string",
            "description": "The maximum number of results to return. Default is 100."
          },
          {
            "name": "blogId",
            "in": "path",
            "x-ms-summary": "Blog ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The blog identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation23"
            }
          }
        }
      }
    },
    "/blog-settings/settings/{blogId}/revisions/{revisionId}": {
      "get": {
        "description": "Retrieves a previous version of a blog.",
        "summary": "Retrieve previous version blog",
        "operationId": "RetrievesapreviousversionofaBlog",
        "parameters": [
          {
            "name": "blogId",
            "in": "path",
            "x-ms-summary": "Blog ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The blog identifier."
          },
          {
            "name": "revisionId",
            "in": "path",
            "x-ms-summary": "Revision ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The revision identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation24"
            }
          }
        }
      }
    },
    "/blog-settings/settings/{blogId}": {
      "get": {
        "description": "Retrieves the blog object identified by the identifier in the path.",
        "summary": "Retrieve blog",
        "operationId": "RetrieveaBlog",
        "parameters": [
          {
            "name": "blogId",
            "in": "path",
            "x-ms-summary": "Blog ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The blog identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation25"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "RetrieveaBlog",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/blog-settings/settings/multi-language/create-language-variation": {
      "post": {
        "description": "Creates a new language variation from an existing blog.",
        "summary": "Create new language variation",
        "operationId": "PostCreateanewlanguagevariation1",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateanewlanguagevariationRequest2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation25"
            }
          }
        }
      }
    },
    "/blog-settings/settings": {
      "get": {
        "description": "Retrieves the list of blogs.",
        "summary": "Get blogs",
        "operationId": "GetallBlogs",
        "parameters": [
          {
            "name": "createdAt",
            "in": "query",
            "x-ms-summary": "Created At",
            "required": false,
            "type": "string",
            "description": "Only return blogs created at exactly the specified time."
          },
          {
            "name": "createdAfter",
            "in": "query",
            "x-ms-summary": "Created After",
            "required": false,
            "type": "string",
            "description": "Only return blogs created after the specified time."
          },
          {
            "name": "createdBefore",
            "in": "query",
            "x-ms-summary": "Created Before",
            "required": false,
            "type": "string",
            "description": "Only return blogs created before the specified time."
          },
          {
            "name": "updatedAt",
            "in": "query",
            "x-ms-summary": "Updated At",
            "required": false,
            "type": "string",
            "description": "Only return blogs last updated at exactly the specified time."
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "x-ms-summary": "Updated After",
            "required": false,
            "type": "string",
            "description": "Only return blogs last updated after the specified time."
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "x-ms-summary": "Updated Before",
            "required": false,
            "type": "string",
            "description": "Only return blogs last updated before the specified time."
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort",
            "required": false,
            "type": "string",
            "description": "Specifies which fields to use for sorting results. Valid fields are name and id."
          },
          {
            "name": "after",
            "in": "query",
            "x-ms-summary": "After",
            "required": false,
            "type": "string",
            "description": "The cursor token value to get the next set of results."
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "string",
            "description": "The maximum number of results to return. Default is 100."
          },
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether to return archived blogs."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation27"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "GetallBlogs",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/blog-settings/settings/multi-language/set-new-lang-primary": {
      "put": {
        "description": "Sets a blog as the primary language of a multi-language group.",
        "summary": "Set new primary language",
        "operationId": "PutSetanewprimarylanguage1",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetanewprimarylanguageRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/blog-settings/settings/multi-language/detach-from-lang-group": {
      "post": {
        "description": "Detaches a blog from a multi-language group.",
        "summary": "Detach blog from group",
        "operationId": "Detachablogfromamulti-languagegroup",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Detachablogfromamulti-languagegroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/blog-settings/settings/multi-language/attach-to-lang-group": {
      "post": {
        "description": "Attaches a blog to a multi-language group.",
        "summary": "Attach blog to group",
        "operationId": "Attachablogtoamulti-languagegroup",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Attachablogtoamulti-languagegroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/blogs/tags/batch/update": {
      "post": {
        "description": "Updates the blog tag objects identified in the request body.",
        "summary": "Update batch of blog tags",
        "operationId": "UpdateabatchofBlogTags",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether to update deleted blog tags."
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateabatchofBlogTagsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation28"
            }
          },
          "207": {
            "description": "Multi-Status",
            "schema": {
              "$ref": "#/definitions/multiplestatuses6"
            }
          }
        }
      }
    },
    "/blogs/tags/multi-language/update-languages": {
      "post": {
        "description": "Explicitly set new languages for each blog tag in a multi-language group.",
        "summary": "Update languages of group",
        "operationId": "PostUpdatelanguagesofmulti-languagegroup2",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Updatelanguagesofmulti-languagegroupRequest3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/blogs/tags/multi-language/detach-from-lang-group": {
      "post": {
        "description": "Detaches a blog tag from a multi-language group.",
        "summary": "Detach blog tag from a multi-language group",
        "operationId": "DetachaBlogTagfromamulti-languagegroup",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DetachaBlogTagfromamulti-languagegroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/blogs/tags/batch/create": {
      "post": {
        "description": "Creates the blog tag objects detailed in the request body.",
        "summary": "Create batch of blog tags",
        "operationId": "CreateabatchofBlogTags",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateabatchofBlogTagsRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/successfuloperation28"
            }
          },
          "207": {
            "description": "Multi-Status",
            "schema": {
              "$ref": "#/definitions/multiplestatuses6"
            }
          }
        }
      }
    },
    "/blogs/tags/batch/archive": {
      "post": {
        "description": "Deletes the blog tag objects identified in the request body.",
        "summary": "Delete batch of blog tags",
        "operationId": "DeleteabatchofBlogTags",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteabatchofBlogTagsRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/blogs/tags/multi-language/set-new-lang-primary": {
      "put": {
        "description": "Sets a blog tag as the primary language of a multi-language group.",
        "summary": "Set new primary language",
        "operationId": "PutSetanewprimarylanguage2",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetanewprimarylanguageRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/blogs/tags/batch/read": {
      "post": {
        "description": "Retrieves the blog tag objects identified in the request body.",
        "summary": "Retrieve batch of blog tags",
        "operationId": "RetrieveabatchofBlogTags",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether to return deleted blog tags."
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RetrieveabatchofBlogTagsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation28"
            }
          },
          "207": {
            "description": "Multi-Status",
            "schema": {
              "$ref": "#/definitions/multiplestatuses6"
            }
          }
        }
      }
    },
    "/blogs/tags": {
      "get": {
        "description": "Retrieves the list of blog tags.",
        "summary": "Get blog tags",
        "operationId": "GetallBlogTags",
        "parameters": [
          {
            "name": "createdAt",
            "in": "query",
            "x-ms-summary": "Created At",
            "required": false,
            "type": "string",
            "description": "Only return blog tags created at exactly the specified time."
          },
          {
            "name": "createdAfter",
            "in": "query",
            "x-ms-summary": "Created After",
            "required": false,
            "type": "string",
            "description": "Only return blog tags created after the specified time."
          },
          {
            "name": "createdBefore",
            "in": "query",
            "x-ms-summary": "Created Before",
            "required": false,
            "type": "string",
            "description": "Only return blog tags created before the specified time."
          },
          {
            "name": "updatedAt",
            "in": "query",
            "x-ms-summary": "Updated At",
            "required": false,
            "type": "string",
            "description": "Only return blog tags last updated at exactly the specified time."
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "x-ms-summary": "Updated After",
            "required": false,
            "type": "string",
            "description": "Only return blog tags last updated after the specified time."
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "x-ms-summary": "Updated Before",
            "required": false,
            "type": "string",
            "description": "Only return blog tags last updated before the specified time."
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort",
            "required": false,
            "type": "string",
            "description": "Specifies which fields to use for sorting results. Valid fields are name, createdAt, updatedAt, createdBy, updatedBy. createdAt will be used by default."
          },
          {
            "name": "after",
            "in": "query",
            "x-ms-summary": "After",
            "required": false,
            "type": "string",
            "description": "The cursor token value to get the next set of results."
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "string",
            "description": "The maximum number of results to return. Default is 100."
          },
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether to return deleted blog tags."
          },
          {
            "name": "property",
            "in": "query",
            "x-ms-summary": "Property",
            "required": false,
            "type": "string",
            "description": "The property."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation31"
            }
          }
        }
      },
      "post": {
        "description": "Creates a new blog tag.",
        "summary": "Create new blog tag",
        "operationId": "CreateanewBlogTag",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateanewBlogTagRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/successfuloperation32"
            }
          }
        }
      }
    },
    "/blogs/tags/multi-language/attach-to-lang-group": {
      "post": {
        "description": "Attaches a blog tag to a multi-language group.",
        "summary": "Attach blog tag to group",
        "operationId": "AttachaBlogTagtoamulti-languagegroup",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AttachaBlogTagtoamulti-languagegroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/blogs/tags/{objectId}": {
      "get": {
        "description": "Retrieves the blog tag object identified by the identifier in the path.",
        "summary": "Retrieve blog tag",
        "operationId": "RetrieveaBlogTag",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether to return deleted blog tags."
          },
          {
            "name": "property",
            "in": "query",
            "x-ms-summary": "Property",
            "required": false,
            "type": "string",
            "description": "The property."
          },
          {
            "name": "objectId",
            "in": "path",
            "x-ms-summary": "Object ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The object identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation32"
            }
          }
        }
      },
      "delete": {
        "description": "Deletes the blog tag object identified by the identifier in the path.",
        "summary": "Delete blog tag",
        "operationId": "DeleteaBlogTag",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "required": false,
            "type": "boolean",
            "description": "Whether to return only results that have been archived."
          },
          {
            "name": "objectId",
            "in": "path",
            "x-ms-summary": "Object ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The object identifier."
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "description": "Sparse updates a single blog tag object identified by the identifier in the path. All the column values need not be specified. Only the that need to be modified can be specified.",
        "summary": "Update blog tag",
        "operationId": "UpdateaBlogTag",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether to update deleted blog tags."
          },
          {
            "name": "objectId",
            "in": "path",
            "x-ms-summary": "Object ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The object identifier."
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateaBlogTagRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation32"
            }
          }
        }
      }
    },
    "/blogs/tags/multi-language/create-language-variation": {
      "post": {
        "description": "Creates a new language variation from an existing blog tag.",
        "summary": "Create new language variation",
        "operationId": "PostCreateanewlanguagevariation2",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateanewlanguagevariationRequest3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation32"
            }
          }
        }
      }
    },
    "/hubdb/tables/{tableIdOrName}/draft/export": {
      "get": {
        "description": "Exports the draft version of a table to CSV format.",
        "summary": "Export draft table",
        "operationId": "Exportadrafttable",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "x-ms-summary": "Format",
            "required": true,
            "type": "string",
            "default": "CSV",
            "x-ms-visibility": "internal",
            "description": "The file format to export."
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "x-ms-summary": "Table ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The table identifier or name."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/hubdb/tables/draft": {
      "get": {
        "description": "Returns the details for each draft table defined in the specified account, including column definitions.",
        "summary": "Return all draft tables",
        "operationId": "Returnalldrafttables",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort",
            "required": false,
            "type": "string",
            "description": "Specifies which fields to use for sorting results. Valid fields are name, createdAt, updatedAt, createdBy, updatedBy. createdAt will be used by default."
          },
          {
            "name": "after",
            "in": "query",
            "x-ms-summary": "After",
            "required": false,
            "type": "string",
            "description": "The cursor token value to get the next set of results."
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "string",
            "description": "The maximum number of results to return. Default is 1000."
          },
          {
            "name": "createdAt",
            "in": "query",
            "x-ms-summary": "Created At",
            "required": false,
            "type": "string",
            "description": "Only return tables created at exactly the specified time."
          },
          {
            "name": "createdAfter",
            "in": "query",
            "x-ms-summary": "Created After",
            "required": false,
            "type": "string",
            "description": "Only return tables created after the specified time."
          },
          {
            "name": "createdBefore",
            "in": "query",
            "x-ms-summary": "Created Before",
            "required": false,
            "type": "string",
            "description": "Only return tables created before the specified time."
          },
          {
            "name": "updatedAt",
            "in": "query",
            "x-ms-summary": "Updated At",
            "required": false,
            "type": "string",
            "description": "Only return tables last updated at exactly the specified time."
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "x-ms-summary": "Updated After",
            "required": false,
            "type": "string",
            "description": "Only return tables last updated after the specified time."
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "x-ms-summary": "Updated Before",
            "required": false,
            "type": "string",
            "description": "Only return tables last updated before the specified time."
          },
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether to return archived tables."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation36"
            }
          }
        }
      }
    },
    "/hubdb/tables/{tableIdOrName}/draft/reset": {
      "post": {
        "description": "Replaces the data in the draft version of the table with values from the published version. Any unpublished changes in the draft will be lost after this call is made.",
        "summary": "Reset a draft table",
        "operationId": "Resetadrafttable",
        "parameters": [
          {
            "name": "includeForeignIds",
            "in": "query",
            "x-ms-summary": "Include Foreign IDs",
            "required": false,
            "type": "boolean",
            "description": "Sets this to true to populate foreign identifier values in the response."
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "x-ms-summary": "Table ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The table identifier or name."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation37"
            }
          }
        }
      }
    },
    "/hubdb/tables/{tableIdOrName}/export": {
      "get": {
        "description": "Exports the published version of a table to CSV format.",
        "summary": "Export published table",
        "operationId": "Exportapublishedversionofatable",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "x-ms-summary": "Format",
            "required": true,
            "type": "string",
            "default": "CSV",
            "x-ms-visibility": "internal",
            "description": "The file format to export."
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "x-ms-summary": "Table ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The table identifier or name."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/hubdb/tables/{tableIdOrName}/draft/clone": {
      "post": {
        "description": "Clone an existing HubDB table. The newName and newLabel of the new table can be sent as JSON in the body parameter. This will create the cloned table as a draft.",
        "summary": "Clone table",
        "operationId": "Cloneatable",
        "parameters": [
          {
            "name": "tableIdOrName",
            "in": "path",
            "x-ms-summary": "Table ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The table identifier or name."
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CloneatableRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation37"
            }
          }
        }
      }
    },
    "/hubdb/tables/{tableIdOrName}/draft/import": {
      "post": {
        "description": "Import the contents of a CSV file into an existing HubDB table. The data will always be imported into the draft version of the table.",
        "summary": "Import data into draft table",
        "operationId": "Importdataintodrafttable",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "tableIdOrName",
            "in": "path",
            "x-ms-summary": "Table ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The table identifier or name."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "multipart/form-data"
            ],
            "type": "string",
            "description": "The content type.",
            "x-ms-summary:": "Content Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "config",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-ms-summary": "Config",
            "description": "Configuration for the import in JSON format as described above."
          },
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-ms-summary": "File",
            "description": "The source CSV file to be imported."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation39"
            }
          }
        }
      }
    },
    "/hubdb/tables/{tableIdOrName}": {
      "get": {
        "description": "Returns the details for the published version of the specified table. This will include the definitions for the columns in the table and the number of rows in the table.",
        "summary": "Get published table details",
        "operationId": "Getdetailsforapublishedtable",
        "parameters": [
          {
            "name": "includeForeignIds",
            "in": "query",
            "x-ms-summary": "Include Foreign IDs",
            "required": false,
            "type": "boolean",
            "description": "Sets this to true to populate foreign identifier values in the result."
          },
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "required": false,
            "type": "boolean",
            "description": "Sets this to true to return details for an archived table."
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "x-ms-summary": "Table ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The table identifier or name."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation37"
            }
          }
        }
      },
      "delete": {
        "description": "Archives (soft delete) an existing HubDB table. This archives both the published and draft versions.",
        "summary": "Archive table",
        "operationId": "Archiveatable",
        "parameters": [
          {
            "name": "tableIdOrName",
            "in": "path",
            "x-ms-summary": "Table ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The table identifier or name."
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/hubdb/tables": {
      "get": {
        "description": "Returns the details for the published version of each table defined in an account, including column definitions.",
        "summary": "Get published tables",
        "operationId": "Getallpublishedtables",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort",
            "required": false,
            "type": "string",
            "description": "Specifies which fields to use for sorting results. Valid fields are name, createdAt, updatedAt, createdBy, updatedBy. createdAt will be used by default."
          },
          {
            "name": "after",
            "in": "query",
            "x-ms-summary": "After",
            "required": false,
            "type": "string",
            "description": "The cursor token value to get the next set of results."
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "string",
            "description": "The maximum number of results to return. Default is 1000."
          },
          {
            "name": "createdAt",
            "in": "query",
            "x-ms-summary": "Created At",
            "required": false,
            "type": "string",
            "description": "Only return tables created at exactly the specified time."
          },
          {
            "name": "createdAfter",
            "in": "query",
            "x-ms-summary": "Created After",
            "required": false,
            "type": "string",
            "description": "Only return tables created after the specified time."
          },
          {
            "name": "createdBefore",
            "in": "query",
            "x-ms-summary": "Created Before",
            "required": false,
            "type": "string",
            "description": "Only return tables created before the specified time."
          },
          {
            "name": "updatedAt",
            "in": "query",
            "x-ms-summary": "Updated At",
            "required": false,
            "type": "string",
            "description": "Only return tables last updated at exactly the specified time."
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "x-ms-summary": "Updated After",
            "required": false,
            "type": "string",
            "description": "Only return tables last updated after the specified time."
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "x-ms-summary": "Updated Before",
            "required": false,
            "type": "string",
            "description": "Only return tables last updated before the specified time."
          },
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether to return archived tables."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation36"
            }
          }
        }
      },
      "post": {
        "description": "Creates a new draft HubDB table given a JSON schema. The table name and label should be unique for each account.",
        "summary": "Create new table",
        "operationId": "Createanewtable",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateanewtableRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/successfuloperation37"
            }
          }
        }
      }
    },
    "/hubdb/tables/{tableIdOrName}/unpublish": {
      "post": {
        "description": "Unpublishes the table, meaning any website pages using data from the table will not render any data.",
        "summary": "Unpublish table",
        "operationId": "Unpublishatable",
        "parameters": [
          {
            "name": "includeForeignIds",
            "in": "query",
            "x-ms-summary": "Include Foreign IDs",
            "required": false,
            "type": "boolean",
            "description": "Sets this to true to populate foreign identifier values in the response."
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "x-ms-summary": "Table ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The table identifier or name."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation37"
            }
          }
        }
      }
    },
    "/hubdb/tables/{tableIdOrName}/draft": {
      "get": {
        "description": "Retrieves the details for the draft version of a specific HubDB table. This will include the definitions for the columns in the table and the number of rows in the table.",
        "summary": "Get draft table",
        "operationId": "Getdetailsforadrafttable",
        "parameters": [
          {
            "name": "includeForeignIds",
            "in": "query",
            "x-ms-summary": "Include Foreign IDs",
            "required": false,
            "type": "boolean",
            "description": "Sets this to true to populate foreign identifier values in the result."
          },
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "required": false,
            "type": "boolean",
            "description": "Sets this to true to return an archived table."
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "x-ms-summary": "Table ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The table identifier or name."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation37"
            }
          }
        }
      },
      "patch": {
        "description": "Updates an existing HubDB table. You can use this endpoint to add or remove columns to the table as well as restore an archived table. Tables updated using the endpoint will only modify the draft version of the table. Use publish endpoint to push all the changes to the published version. ",
        "summary": "Update existing table",
        "operationId": "Updateanexistingtable",
        "parameters": [
          {
            "name": "includeForeignIds",
            "in": "query",
            "x-ms-summary": "Include Foreign IDs",
            "required": false,
            "type": "boolean",
            "description": "Sets this to true to populate foreign identifier values in the result."
          },
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether to return archived tables."
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "x-ms-summary": "Table ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The table identifier or name."
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateanexistingtableRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation37"
            }
          }
        }
      }
    },
    "/hubdb/tables/{tableIdOrName}/draft/publish": {
      "post": {
        "description": "Publishes the table by copying the data and table schema changes from draft version to the published version, meaning any website pages using data from the table will be updated.",
        "summary": "Publish table from draft",
        "operationId": "Publishatablefromdraft",
        "parameters": [
          {
            "name": "includeForeignIds",
            "in": "query",
            "x-ms-summary": "Include Foreign IDs",
            "required": false,
            "type": "boolean",
            "description": "Sets this to true to populate foreign identifier values in the response."
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "x-ms-summary": "Table ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The table identifier or name."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation37"
            }
          }
        }
      }
    },
    "/hubdb/tables/{tableIdOrName}/rows/draft": {
      "get": {
        "description": "Returns rows in the draft version of the specified table. Row results can be filtered and sorted. Filtering and sorting options will be sent as query parameters to the API request. For example, by adding the query parameters column1__gt=5&sort=-column1, API returns the rows with values for column column1 greater than 5 and in the descending order of column1 values. Refer to the [overview section](https://developers.hubspot.com/docs/api/cms/hubdb#filtering-and-sorting-table-rows) for detailed filtering and sorting options.",
        "summary": "Get draft table rows",
        "operationId": "Getrowsfromdrafttable",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort",
            "required": false,
            "type": "string",
            "description": "Specifies the column names to sort the results by."
          },
          {
            "name": "after",
            "in": "query",
            "x-ms-summary": "After",
            "required": false,
            "type": "string",
            "description": "The cursor token value to get the next set of results."
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "string",
            "description": "The maximum number of results to return. Default is 1000."
          },
          {
            "name": "properties",
            "in": "query",
            "x-ms-summary": "Properties",
            "required": false,
            "type": "string",
            "description": "Specify the column names to get results containing only the required columns instead of all column details. If you want to include multiple columns in the result, use this query param as many times."
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "x-ms-summary": "Table ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The table identifier or name."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation47"
            }
          }
        }
      }
    },
    "/hubdb/tables/{tableIdOrName}/rows/{rowId}": {
      "get": {
        "description": "Retrieves a single row by identifier from a table's published version. ",
        "summary": "Get table row",
        "operationId": "Getatablerow",
        "parameters": [
          {
            "name": "tableIdOrName",
            "in": "path",
            "x-ms-summary": "Table ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The table identifier or name."
          },
          {
            "name": "rowId",
            "in": "path",
            "x-ms-summary": "Row ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The row identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation48"
            }
          }
        }
      }
    },
    "/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft/clone": {
      "post": {
        "description": "Clones a single row in the draft version of the table.",
        "summary": "Clone row",
        "operationId": "Clonearow",
        "parameters": [
          {
            "name": "tableIdOrName",
            "in": "path",
            "x-ms-summary": "Table ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The table identifier or name."
          },
          {
            "name": "rowId",
            "in": "path",
            "x-ms-summary": "Row ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The row identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation48"
            }
          }
        }
      }
    },
    "/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft": {
      "get": {
        "description": "Retrieves a single row by identifier from a table's draft version.",
        "summary": "Get draft table row",
        "operationId": "Getarowfromthedrafttable",
        "parameters": [
          {
            "name": "tableIdOrName",
            "in": "path",
            "x-ms-summary": "Table ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The table identifier or name."
          },
          {
            "name": "rowId",
            "in": "path",
            "x-ms-summary": "Row ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The row identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation48"
            }
          }
        }
      },
      "delete": {
        "description": "Permanently deletes a row from a table's draft version.",
        "summary": "Permanently delete row",
        "operationId": "Permanentlydeletesarow",
        "parameters": [
          {
            "name": "tableIdOrName",
            "in": "path",
            "x-ms-summary": "Table ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The table identifier or name."
          },
          {
            "name": "rowId",
            "in": "path",
            "x-ms-summary": "Row ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The row identifier."
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "put": {
        "description": "Replace a single row in the table's draft version. All the column values must be specified. If a column has a value in the target table and this request doesn't define that value, it will be deleted. See the Create a row endpoint for instructions on how to format the JSON row definitions.",
        "summary": "Replaces existing row",
        "operationId": "Replacesanexistingrow",
        "parameters": [
          {
            "name": "tableIdOrName",
            "in": "path",
            "x-ms-summary": "Table ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The table identifier or name."
          },
          {
            "name": "rowId",
            "in": "path",
            "x-ms-summary": "Row ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The row identifier."
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReplacesanexistingrowRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/successfuloperation48"
            }
          }
        }
      },
      "patch": {
        "description": "Sparse updates a single row in the table's draft version. All the column values need not be specified. Only the columns or fields that needs to be modified can be specified. See the Create a row endpoint for instructions on how to format the JSON row definitions.",
        "summary": "Update existing row",
        "operationId": "Updatesanexistingrow",
        "parameters": [
          {
            "name": "tableIdOrName",
            "in": "path",
            "x-ms-summary": "Table ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The table identifier or name."
          },
          {
            "name": "rowId",
            "in": "path",
            "x-ms-summary": "Row ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "format": "int32",
[...]
