{
  "swagger": "2.0",
  "info": {
    "title": "CO2 Signal",
    "description": "Co2 Signal intent is to allow users to consume electricity when its carbon footprint is lowest. \n\nBy using electricity at the right time, your device favors low-carbon sources of electricity",
    "version": "1.0",
	"contact": {
      "name": "Paul Culmsee",
      "url": "https://sevensigma.com.au",
      "email": "paul.culmsee@sevensigma.com.au"
    }
  },
  "host": "api.co2signal.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/latest": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "_disclaimer": {
                  "type": "string",
                  "description": "Data Disclaimer"
                },
                "status": {
                  "type": "string",
                  "description": "Status"
                },
                "countryCode": {
                  "type": "string",
                  "description": "Country Code"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "datetime": {
                      "type": "string",
                      "description": "Date/time"
                    },
                    "carbonIntensity": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Carbon Intensity"
                    },
                    "fossilFuelPercentage": {}
                  },
                  "description": "Zone Data"                },
                "units": {
                  "type": "object",
                  "properties": {
                    "carbonIntensity": {
                      "type": "string",
                      "description": "Carbon intensity units"
                    }
                  },
                  "description": "Units of measure"
                }
              }
            }
          }
        },
        "summary": "Get latest by country code or zone",
        "description": "This endpoint retrieves the last known state of a country. It is also possible to get data for a specific zone, in case the country is divided by zones seen on app.electricitymap.org",
        "operationId": "GetLatestbyCode",
        "parameters": [
          {
            "name": "countryCode",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Country or Zone",
            "x-ms-summary": "Country or Zone",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetZones",
              "value-path": "Name",
              "value-collection": "Zones",
              "value-title": "Details/zoneName"
            }
          }
        ]
      }
    },
    "/latestbyloc": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "_disclaimer": {
                  "type": "string",
                  "description": "Data Disclaimer"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "countryCode": {
                  "type": "string",
                  "description": "Country Code"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "datetime": {
                      "type": "string",
                      "description": "Date/time"
                    },
                    "carbonIntensity": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Carbon Intensity"
                    },
                    "fossilFuelPercentage": {}
                  },
                  "description": "Zone Data"
                },
                "units": {
                  "type": "object",
                  "properties": {
                    "carbonIntensity": {
                      "type": "string",
                      "description": "Carbon intensity units"
                    }
                  },
                  "description": "Units of measure"
                }
              }
            }
          }
        },
        "summary": "Get latest by geographic coordinate",
        "description": "Get latest by geographic coordinate",
        "operationId": "GetLatestbyLatLon",
        "parameters": [
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "type": "number",
			"description" : "Longitude",
			"x-ms-summary" : "Latitude"
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "type": "number",
			"description" : "Latitude",	
			"x-ms-summary" : "Latitude"			
          }
        ]
      }
    },
    "/zones": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Zones": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "Details": {
                        "type": "object",
                        "properties": {
                          "zoneName": {
                            "type": "string",
                            "description": "Zone Name"
                          },
                          "countryName": {
                            "type": "string",
                            "description": "Country Name"
                          }
                        },
                        "description": "Details for Zone"
                      }
                    }
                  },
                  "description": "Zone List"
                }
              }
            }
          }
        },
        "summary": "Get Available Zones",
        "description": "A list of countries and zones by code (zone being the country is divided by zones seen on app.electricitymap.org)",
        "operationId": "GetZones",
        "parameters": []
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "auth-token"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
    "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://co2signal.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://co2signal.com/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}