{
  "swagger": "2.0",
  "info": {
    "title": "SMS Wireless Services",
    "description": "Wireless Services offers high-quality products for sending SMS messages. This connector can be used to connect to the Wireless Services platform.",
    "contact": {
      "name": "Sietse Bakker",
      "url": "https://www.viadata.nl",
      "email": "s.bakker@viadata.nl"
    },
    "version": "1.0"
  },
  "host": "portal.wireless-services.nl",
  "basePath": "/gateway/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [],
  "paths": {
    "/message.php": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "string",
                  "description": "SMS has been sent successfully if the response starts with 001. A response starting with 100 means that the SMS was not sent and something went wrong.",
                  "title": "Response"
                }
              }
            }
          }
        },
        "summary": "Sends an SMS message",
        "description": "This allows an SMS message to be sent to a mobile phone number.",
        "operationId": "SendSMS",
        "parameters": [
          {
            "name": "Content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "username": {
                  "type": "string",
                  "description": "The username or UID to authenticate your request. Provided by Wireless Services.",
                  "title": "Username"
                },
                "password": {
                  "type": "string",
                  "description": "The API-password to authenticate your request. Provided by Wireless Services.",
                  "title": "Password"
                },
                "recipients": {
                  "type": "string",
                  "description": "The mobile phone number to which the SMS should be sent. Minimum 10 characters and maximum 16 characters. Only use numbers.",
                  "title": "Phone number"
                },
                "body": {
                  "type": "string",
                  "description": "The text to send. By default, the text is truncated at 160 characters, unless the \"Lengte\" parameter is used to increase this.",
                  "title": "SMS Text"
                },
                "concatenation": {
                  "type": "string",
                  "description": "The default maximum length of an SMS message is 160 characters. By increasing \"Lengte\", longer texts can be sent. The text is then sent using multiple separate SMS messages (therefore more costs) and merged into one message on the telephone. Each increase of this value adds an additional 153 characters. The \"Lengte\" can be a maximum of 10 (default value is 1).",
                  "title": "Lengte",
                  "x-ms-visibility": "advanced"
                },
                "info": {
                  "type": "string",
                  "description": "Response must provide additional information.",
                  "title": "Additional response information",
                  "default": "\"1\"",
                  "x-ms-visibility": "internal"
                },
                "originator": {
                  "type": "string",
                  "description": "The sender of the SMS message. This is either a number (max 16 digits) or a text (max 11 characters). By default, this is the Account Name (known to Wireless Service).",
                  "title": "Sender",
                  "x-ms-visibility": "advanced"
                },
                "test": {
                  "type": "string",
                  "description": "This allows a test call to be made. With a test call (value = 1) all validations are done with corresponding response, but the SMS message is not sent to the recipient.",
                  "title": "Test call",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "body",
                "password",
                "username",
                "info"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.viadata.nl"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.viadata.nl/privacyverklaring.pdf"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication"
    }
  ]
}