{
  "swagger": "2.0",
  "info": {
    "title": "allGeo",
    "description": "",
    "contact":{
      "name": "Abaqus Inc.",
      "url": "https://www.allgeo.com",
      "enail": "support@abaq.us"
    },
    "version": "1.0"
  },
  "host": "www.allgeo.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/track/api/v1/login": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "token": {
                  "type": "string",
                  "description": "token"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                }
              }
            }
          }
        },
        "summary": "Login",
        "description": "Login",
        "operationId": "Login",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string",
              "title": "",
              "format": ""
            }
          }
        ]
      }
    },
    "/track/api/v1/schedule": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "description": "Status"
                },
                "SucessMsg": {
                  "type": "string",
                  "description": "SucessMsg"
                },
                "StatusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "StatusCode"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "workOrderNumber": {
                    "type": "string",
                    "description": "Work Order Number"
                  },
                  "workOrderType": {
                    "type": "string",
                    "description": "Work Order Type",
                    "title": ""
                  },
                  "deviceDesc": {
                    "type": "string",
                    "description": "Device Description"
                  },
                  "groupID": {
                    "type": "string",
                    "description": "groupID"
                  },
                  "deviceID": {
                    "type": "string",
                    "description": "deviceID",
                    "title": ""
                  },
                  "locatable": {
                    "type": "string",
                    "description": "locatable",
                    "title": ""
                  },
                  "legNumber": {
                    "type": "string",
                    "description": "legNumber"
                  },
                  "startDate": {
                    "type": "string",
                    "description": "Start Date",
                    "title": ""
                  },
                  "endDate": {
                    "type": "string",
                    "description": "End Date",
                    "title": ""
                  },
                  "startTime": {
                    "type": "string",
                    "description": "Start Time"
                  },
                  "endTime": {
                    "type": "string",
                    "description": "End Time"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "TimeZone"
                  },
                  "customerName": {
                    "type": "string",
                    "description": "Customer Name"
                  },
                  "taskName": {
                    "type": "string",
                    "description": "Task Name"
                  },
                  "message": {
                    "type": "string",
                    "description": "Message"
                  },
                  "formName": {
                    "type": "string",
                    "description": "Form Name"
                  },
                  "action": {
                    "type": "string",
                    "description": "Action"
                  },
                  "createEmployee": {
                    "type": "string",
                    "description": "createEmployee"
                  },
                  "prefillData": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "name"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      }
                    },
                    "description": "prefillData"
                  }
                },
                "required": [
                  "workOrderType",
                  "deviceID",
                  "locatable",
                  "startDate",
                  "endDate"
                ]
              },
              "required": [
                "items"
              ]
            }
          }
        ],
        "summary": "Create Work Orders",
        "description": "Create Work Orders",
        "operationId": "CreateWorkOrders"
      }
    },
    "/track/api/v1/createSites": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "description": "Status"
                },
                "SucessMsg": {
                  "type": "string",
                  "description": "SucessMsg"
                },
                "StatusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "StatusCode"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "siteID": {
                    "type": "string",
                    "description": "siteID"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "address": {
                    "type": "string",
                    "description": "address"
                  },
                  "radius": {
                    "type": "string",
                    "description": "radius"
                  },
                  "groupID": {
                    "type": "string",
                    "description": "groupID"
                  },
                  "latitude": {
                    "type": "string",
                    "description": "latitude"
                  },
                  "longitude": {
                    "type": "string",
                    "description": "longitude"
                  }
                }
              }
            }
          }
        ],
        "summary": "Create Job-Site",
        "description": "Create Job-Site",
        "operationId": "CreateJobSite",
        "x-ms-visibility": "important"
      }
    },
    "/track/api/v1/createTimeClock": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "description": "Status"
                },
                "SucessMsg": {
                  "type": "string",
                  "description": "SucessMsg"
                },
                "StatusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "StatusCode"
                }
              }
            }
          }
        },
        "summary": "Create Time Clock",
        "description": "Create Time Clock",
        "x-ms-visibility": "important",
        "operationId": "CreateTimeClock",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "deviceID": {
                    "type": "string",
                    "description": "deviceID",
                    "title": ""
                  },
                  "timeClockSentTime": {
                    "type": "string",
                    "description": "timeClockSentTime",
                    "title": ""
                  },
                  "stageName": {
                    "type": "string",
                    "description": "stageName",
                    "title": ""
                  },
                  "customerName": {
                    "type": "string",
                    "description": "customerName"
                  },
                  "jobName": {
                    "type": "string",
                    "description": "jobName"
                  },
                  "address": {
                    "type": "string",
                    "description": "address"
                  }
                },
                "required": [
                  "deviceID",
                  "timeClockSentTime",
                  "stageName"
                ]
              },
              "required": [
                "items"
              ]
            }
          }
        ]
      }
    },
    "/track/api/v1/updateTimeClock": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "description": "Status"
                },
                "SucessMsg": {
                  "type": "string",
                  "description": "SucessMsg"
                },
                "StatusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "StatusCode"
                }
              }
            }
          }
        },
        "summary": "Update Time Clock",
        "description": "Update Time Clock",
        "operationId": "UpdateTimeClock",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "txnID": {
                    "type": "string",
                    "description": "txnID",
                    "title": ""
                  },
                  "deviceID": {
                    "type": "string",
                    "description": "deviceID",
                    "title": ""
                  },
                  "timeClockSentTime": {
                    "type": "string",
                    "description": "timeClockSentTime",
                    "title": ""
                  },
                  "customerName": {
                    "type": "string",
                    "description": "customerName"
                  },
                  "jobName": {
                    "type": "string",
                    "description": "jobName"
                  },
                  "managerNotes": {
                    "type": "string",
                    "description": "managerNotes"
                  },
                  "stageName": {
                    "type": "string",
                    "description": "stageName"
                  }
                },
                "required": [
                  "txnID",
                  "deviceID",
                  "timeClockSentTime",
                  "stageName"
                ]
              },
              "required": [
                "items"
              ]
            }
          }
        ]
      }
    },
    "/track/api/v1/deleteSite/{name}": {
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Delete Job-Site",
        "description": "Delete Job-Site",
        "operationId": "DeleteJobSite",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.allgeo.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.allgeo.com/allgeo-privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Field Service;Management;Automation"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}