{
  "swagger": "2.0",
  "info": {
    "title": "UrLBae",
    "description": "URLBae allows you to seamlessly track your audience with simple and easy-to-remember yet powerful links and provide your customers a unique tailored experience. Want an Instagram Bio Page? We can do that too! QR Code for Crypto? We have you covered. All completely free!",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "urlbae.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/account": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The error code.",
                  "title": "Error"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The unique identifier.",
                      "title": "ID"
                    },
                    "email": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email"
                    },
                    "username": {
                      "type": "string",
                      "description": "The username.",
                      "title": "Username"
                    },
                    "avatar": {
                      "type": "string",
                      "description": "The avatar.",
                      "title": "Avatar"
                    },
                    "status": {
                      "type": "string",
                      "description": "The status.",
                      "title": "Status"
                    },
                    "expires": {
                      "type": "string",
                      "description": "When expires.",
                      "title": "Expires"
                    },
                    "registered": {
                      "type": "string",
                      "description": "When registered.",
                      "title": "Registered"
                    }
                  },
                  "title": "Data"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "X-RateLimit-Reset",
                "type": "string"
              }
            }
          }
        },
        "summary": "Get account",
        "description": "To get information on the account, you can send a request to this endpoint and it will return data on the account.",
        "operationId": "AccountGet",
        "parameters": []
      }
    },
    "/account/update": {
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The error code.",
                  "title": "Error"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "X-RateLimit-Reset",
                "type": "string"
              }
            }
          }
        },
        "summary": "Update account",
        "description": "To update information on the account, you can send a request to this endpoint and it will update data on the account.",
        "operationId": "AccountUpdate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "password": {
                  "type": "string",
                  "description": "The password.",
                  "title": "Password"
                }
              }
            }
          }
        ]
      }
    },
    "/domains": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "The error code.",
                  "title": "Error"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The result.",
                      "title": "Result"
                    },
                    "perpage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number per page.",
                      "title": "Per Page"
                    },
                    "currentpage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page.",
                      "title": "Current Page"
                    },
                    "nextpage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The next page number.",
                      "title": "Next Page"
                    },
                    "maxpage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number per page.",
                      "title": "Max Page"
                    },
                    "domains": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unique identifier.",
                            "title": "ID"
                          },
                          "domain": {
                            "type": "string",
                            "description": "The domain.",
                            "title": "Domain"
                          },
                          "redirectroot": {
                            "type": "string",
                            "description": "The redirect root.",
                            "title": "Redirect Root"
                          },
                          "redirect404": {
                            "type": "string",
                            "description": "The redirect 404.",
                            "title": "Redirect 404"
                          }
                        }
                      },
                      "title": "Domains"
                    }
                  },
                  "title": "Data"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "X-RateLimit-Reset",
                "type": "string"
              }
            }
          }
        },
        "summary": "List all branded domains",
        "description": "To get your branded domains codes via the API, you can use this endpoint.",
        "operationId": "DomainList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/domain/add": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The error code.",
                  "title": "Error"
                },
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique identifier.",
                  "title": "ID"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "X-RateLimit-Reset",
                "type": "string"
              }
            }
          }
        },
        "summary": "Create a branded domain",
        "description": "A domain can be added using this endpoint. You need to send the pixel type and the tag.",
        "operationId": "DomainCreate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "domain": {
                  "type": "string",
                  "description": "The domain.",
                  "title": "Domain"
                },
                "redirectroot": {
                  "type": "string",
                  "description": "The redirect root.",
                  "title": "Redirect Root"
                },
                "redirect404": {
                  "type": "string",
                  "description": "The redirect 404.",
                  "title": "Redirect 404"
                }
              },
              "required": [
                "domain"
              ]
            }
          }
        ]
      }
    },
    "/domain/{id}/update": {
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The error code.",
                  "title": "Error"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "X-RateLimit-Reset",
                "type": "string"
              }
            }
          }
        },
        "summary": "Update a domain",
        "description": "A branded domain can be updated using this endpoint.",
        "operationId": "DomainUpdate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "redirectroot": {
                  "type": "string",
                  "description": "The redirect root.",
                  "title": "Redirect Root"
                },
                "redirect404": {
                  "type": "string",
                  "description": "The redirect 404.",
                  "title": "Redirect 404"
                }
              }
            }
          }
        ]
      }
    },
    "/domain/{id}/delete": {
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The error code.",
                  "title": "Error"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "X-RateLimit-Reset",
                "type": "string"
              }
            }
          }
        },
        "summary": "Delete domain",
        "operationId": "DomainDelete",
        "description": "To delete a domain, you need to send a request to this endpoint.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/splash": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The error code.",
                  "title": "Error"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The result.",
                      "title": "Result"
                    },
                    "perpage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number per page.",
                      "title": "Per Page"
                    },
                    "currentpage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page.",
                      "title": "Current Page"
                    },
                    "nextpage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The next page number.",
                      "title": "Next Page"
                    },
                    "maxpage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number per page.",
                      "title": "Max Page"
                    },
                    "splash": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unique identifier.",
                            "title": "ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "date": {
                            "type": "string",
                            "description": "The date.",
                            "title": "Date"
                          }
                        }
                      },
                      "title": "Splash"
                    }
                  },
                  "title": "Data"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "X-RateLimit-Reset",
                "type": "string"
              }
            }
          }
        },
        "summary": "List all custom splash",
        "description": "To get custom splash pages via the API, you can use this endpoint.",
        "operationId": "SplashList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/overlay": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The error code.",
                  "title": "Error"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The result.",
                      "title": "Result"
                    },
                    "perpage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number per page.",
                      "title": "Per Page"
                    },
                    "currentpage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page.",
                      "title": "Current Page"
                    },
                    "nextpage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The next page number.",
                      "title": "Next Page"
                    },
                    "maxpage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number per page.",
                      "title": "Max Page"
                    },
                    "cta": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unique identifier.",
                            "title": "ID"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "date": {
                            "type": "string",
                            "description": "The date.",
                            "title": "Date"
                          }
                        }
                      },
                      "title": "CtA"
                    }
                  },
                  "title": "Data"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "X-RateLimit-Reset",
                "type": "string"
              }
            }
          }
        },
        "summary": "List all CTA overlays",
        "description": "To get call-to-action overlays via the API, you can use this endpoint",
        "operationId": "CTAList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/urls": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "The error code.",
                  "title": "Error"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The result.",
                      "title": "Result"
                    },
                    "perpage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number per page.",
                      "title": "Per Page"
                    },
                    "currentpage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page.",
                      "title": "Current Page"
                    },
                    "nextpage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The next page number.",
                      "title": "Next Page"
                    },
                    "maxpage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number per page.",
                      "title": "Max Page"
                    },
                    "urls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unique identifier.",
                            "title": "ID"
                          },
                          "alias": {
                            "type": "string",
                            "description": "The alias.",
                            "title": "Alias"
                          },
                          "shorturl": {
                            "type": "string",
                            "description": "The short URL address.",
                            "title": "Short URL"
                          },
                          "longurl": {
                            "type": "string",
                            "description": "The long URL address.",
                            "title": "Long URL"
                          },
                          "clicks": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of clicks.",
                            "title": "Clicks"
                          },
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "description": {
                            "type": "string",
                            "description": "The description.",
                            "title": "Description"
                          },
                          "date": {
                            "type": "string",
                            "description": "The date.",
                            "title": "Date"
                          }
                        }
                      },
                      "title": "URLs"
                    }
                  },
                  "title": "Data"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "X-RateLimit-Reset",
                "type": "string"
              }
            }
          }
        },
        "summary": "List all links",
        "description": "To get your links via the API, you can use this endpoint.",
        "operationId": "LinkList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "order",
            "in": "query",
            "x-ms-summary": "Order",
            "description": "The order.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/url/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The error code.",
                  "title": "Error"
                },
                "details": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The unique identifier.",
                      "title": "ID"
                    },
                    "shorturl": {
                      "type": "string",
                      "description": "The short URL address.",
                      "title": "Short URL"
                    },
                    "longurl": {
                      "type": "string",
                      "description": "The long URL address.",
                      "title": "Long URL"
                    },
                    "title": {
                      "type": "string",
                      "description": "The title.",
                      "title": "Title"
                    },
                    "description": {
                      "type": "string",
                      "description": "The description.",
                      "title": "Description"
                    },
                    "location": {
                      "type": "object",
                      "properties": {
                        "canada": {
                          "type": "string",
                          "description": "Canada.",
                          "title": "Canada"
                        },
                        "united states": {
                          "type": "string",
                          "description": "United States.",
                          "title": "United States"
                        }
                      },
                      "title": "Location"
                    },
                    "device": {
                      "type": "object",
                      "properties": {
                        "iphone": {
                          "type": "string",
                          "description": "iPhone.",
                          "title": "iPhone"
                        },
                        "android": {
                          "type": "string",
                          "description": "Android.",
                          "title": "Android"
                        }
                      },
                      "title": "Device"
                    },
                    "expiry": {
                      "type": "string",
                      "description": "The expiration date.",
                      "title": "Expiry"
                    },
                    "date": {
                      "type": "string",
                      "description": "The date.",
                      "title": "Date"
                    }
                  },
                  "title": "Details"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "clicks": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of clicks.",
                      "title": "Clicks"
                    },
                    "uniqueClicks": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of unique clicks.",
                      "title": "Unique Clicks"
                    },
                    "topCountries": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of top countries.",
                      "title": "Top Countries"
                    },
                    "topReferrers": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of top referrers.",
                      "title": "Top Referrers"
                    },
                    "topBrowsers": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of top browsers.",
                      "title": "Top Browsers"
                    },
                    "topOs": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of top OS.",
                      "title": "Top OS"
                    },
                    "socialCount": {
                      "type": "object",
                      "properties": {
                        "facebook": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Facebook.",
                          "title": "Facebook"
                        },
                        "twitter": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Twitter.",
                          "title": "Twitter"
                        },
                        "google": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Google.",
                          "title": "Google"
                        }
                      },
                      "title": "Social Count"
                    }
                  },
                  "title": "Data"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "X-RateLimit-Reset",
                "type": "string"
              }
            }
          }
        },
        "summary": "Get a single link",
        "description": "To get details for a single link via the API, you can use this endpoint.",
        "operationId": "LinkGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/url/add": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The error code.",
                  "title": "Error"
                },
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique identifier.",
                  "title": "ID"
                },
                "shorturl": {
                  "type": "string",
                  "description": "The short URL address.",
                  "title": "Short URL"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "X-RateLimit-Reset",
                "type": "string"
              }
            }
          }
        },
        "summary": "Shorten a link",
        "description": "To shorten a single link via the API, you can use this endpoint.",
        "operationId": "LinkShorten",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL"
                },
                "custom": {
                  "type": "string",
                  "description": "The custom link.",
                  "title": "Custom"
                },
                "password": {
                  "type": "string",
                  "description": "The password.",
                  "title": "Password"
                },
                "expiry": {
                  "type": "string",
                  "description": "The expiration date.",
                  "title": "Expiry"
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                },
                "geotarget": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "location": {
                        "type": "string",
                        "description": "The location.",
                        "title": "Location"
                      },
                      "link": {
                        "type": "string",
                        "description": "The link.",
                        "title": "Link"
                      }
                    }
                  },
                  "title": "Geo Target"
                },
                "devicetarget": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "device": {
                        "type": "string",
                        "description": "The device.",
                        "title": "Device"
                      },
                      "link": {
                        "type": "string",
                        "description": "The link.",
                        "title": "Link"
                      }
                    }
                  },
                  "title": "Device Target"
                },
                "parameters": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "value": {
                        "type": "string",
                        "description": "The value.",
                        "title": "Value"
                      },
                      "device": {
                        "type": "string",
                        "description": "The device.",
                        "title": "Device"
                      },
                      "link": {
                        "type": "string",
                        "description": "The link.",
                        "title": "Link"
                      }
                    }
                  },
                  "title": "Parameters"
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ]
      }
    },
    "/url/{id}/update": {
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The error code.",
                  "title": "Error"
                },
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique identifier.",
                  "title": "ID"
                },
                "short": {
                  "type": "string",
                  "description": "The short URL.",
                  "title": "Short"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "X-RateLimit-Reset",
                "type": "string"
              }
            }
          }
        },
        "summary": "Update a link",
        "description": "To update a link via the API, you can use this endpoint.",
        "operationId": "LinkUpdate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL"
                },
                "custom": {
                  "type": "string",
                  "description": "The custom link.",
                  "title": "Custom"
                },
                "password": {
                  "type": "string",
                  "description": "The password.",
                  "title": "Password"
                },
                "expiry": {
                  "type": "string",
                  "description": "The expiration date.",
                  "title": "Expiry"
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                },
                "geotarget": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "location": {
                        "type": "string",
                        "description": "The location.",
                        "title": "Location"
                      },
                      "link": {
                        "type": "string",
                        "description": "The link.",
                        "title": "Link"
                      }
                    }
                  },
                  "title": "Geotarget"
                },
                "devicetarget": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "device": {
                        "type": "string",
                        "description": "The device.",
                        "title": "Device"
                      },
                      "link": {
                        "type": "string",
                        "description": "The link.",
                        "title": "Link"
                      }
                    }
                  },
                  "title": "Device Target"
                },
                "parameters": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "value": {
                        "type": "string",
                        "description": "The value.",
                        "title": "Value"
                      },
                      "device": {
                        "type": "string",
                        "description": "The device.",
                        "title": "Device"
                      },
                      "link": {
                        "type": "string",
                        "description": "The link.",
                        "title": "Link"
                      }
                    }
                  },
                  "title": "Parameters"
                }
              }
            }
          }
        ]
      }
    },
    "/url/{id}/delete": {
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The error code.",
                  "title": "Error"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "X-RateLimit-Reset",
                "type": "string"
              }
            }
          }
        },
        "summary": "Delete a link",
        "description": "To delete a link, you can use this endpoint.",
        "operationId": "LinkDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/pixels": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The error code.",
                  "title": "Error"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The result.",
                      "title": "Result"
                    },
                    "perpage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number per page.",
                      "title": "Per Page"
                    },
                    "currentpage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page.",
                      "title": "Current Page"
                    },
                    "nextpage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The next page number.",
                      "title": "Next Page"
                    },
                    "maxpage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number per page.",
                      "title": "Max Page"
                    },
                    "pixels": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unique identifier.",
                            "title": "ID"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "tag": {
                            "type": "string",
                            "description": "The tag.",
                            "title": "Tag"
                          },
                          "date": {
                            "type": "string",
                            "description": "The date.",
                            "title": "Date"
                          }
                        }
                      },
                      "title": "Pixels"
                    }
                  },
                  "title": "Data"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "X-RateLimit-Reset",
                "type": "string"
              }
            }
          }
        },
        "summary": "List all pixels",
        "description": "To get your pixels codes via the API, you can use this endpoint.",
        "operationId": "PixelList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/pixel/add": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The error code.",
                  "title": "Error"
                },
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique identifier.",
                  "title": "ID"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "X-RateLimit-Reset",
                "type": "string"
              }
            }
          }
        },
        "summary": "Create a pixel",
        "description": "A pixel can be created using this endpoint. You need to send the pixel type and the tag.",
        "operationId": "PixelCreate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "tag": {
                  "type": "string",
                  "description": "The tag.",
                  "title": "Tag"
                }
              },
              "required": [
                "name",
                "tag",
                "type"
              ]
            }
          }
        ]
      }
    },
    "/pixel/{id}/update": {
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The error code.",
                  "title": "Error"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "X-RateLimit-Reset",
                "type": "string"
              }
            }
          }
        },
        "summary": "Update a pixel",
        "description": "To update a pixel via the API, you can use this endpoint.",
        "operationId": "PixelUpdate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "tag": {
                  "type": "string",
                  "description": "The tag.",
                  "title": "Tag"
                }
              },
              "required": [
                "tag"
              ]
            }
          }
        ]
      }
    },
    "/pixel/{id}/delete": {
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The error code.",
                  "title": "Error"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "X-RateLimit-Reset",
                "type": "string"
              }
            }
          }
        },
        "summary": "Delete pixel",
        "description": "To delete a pixel via the API, you can use this endpoint.",
        "operationId": "PixelDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/qr": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The error code.",
                  "title": "Error"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The result.",
                      "title": "Result"
                    },
                    "perpage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number per page.",
                      "title": "Per Page"
                    },
                    "currentpage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page.",
                      "title": "Current Page"
                    },
                    "nextpage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The next page number.",
                      "title": "Next Page"
                    },
                    "maxpage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number per page.",
                      "title": "Max Page"
                    },
                    "qrs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unique identifier.",
                            "title": "ID"
                          },
                          "link": {
                            "type": "string",
                            "description": "The link.",
                            "title": "Link"
                          },
                          "scans": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of scans.",
                            "title": "Scans"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "date": {
                            "type": "string",
                            "description": "The date.",
                            "title": "Date"
                          }
                        }
                      },
                      "title": "QRs"
                    }
                  },
                  "title": "Data"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "X-RateLimit-Reset",
                "type": "string"
              }
            }
          }
        },
        "summary": "List all QR codes",
        "description": "To get your QR codes via the API, you can use this endpoint.",
        "operationId": "QRList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/qr/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The error code.",
                  "title": "Error"
                },
                "details": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The unique identifier.",
                      "title": "ID"
                    },
                    "link": {
                      "type": "string",
                      "description": "The link.",
                      "title": "Link"
                    },
                    "scans": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of scans.",
                      "title": "Scans"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "date": {
                      "type": "string",
                      "description": "The date.",
                      "title": "Date"
                    }
                  },
                  "title": "Details"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "clicks": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of clicks.",
                      "title": "Clicks"
                    },
                    "uniqueClicks": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of unique clicks.",
                      "title": "Unique Clicks"
                    },
                    "topCountries": {
                      "type": "object",
                      "properties": {
                        "Unknown": {
                          "type": "string",
                          "description": "The unknown.",
                          "title": "Unknown"
                        }
                      },
                      "title": "TopCountries"
                    },
                    "topReferrers": {
                      "type": "object",
                      "properties": {
                        "Direct, email and other": {
                          "type": "string",
                          "description": "The direct, email and other contacts.",
                          "title": "Direct, Email and Other"
                        }
                      },
                      "title": "TopReferrers"
                    },
                    "topBrowsers": {
                      "type": "object",
                      "properties": {
                        "Chrome": {
                          "type": "string",
                          "description": "Chrome.",
                          "title": "Chrome"
                        }
                      },
                      "title": "TopBrowsers"
                    },
                    "topOs": {
                      "type": "object",
                      "properties": {
                        "Windows 10": {
                          "type": "string",
                          "description": "Windows 10.",
                          "title": "Windows 10"
                        }
                      },
                      "title": "TopOs"
                    },
                    "socialCount": {
                      "type": "object",
                      "properties": {
                        "facebook": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Facebook.",
                          "title": "Facebook"
                        },
                        "twitter": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Twitter.",
                          "title": "Twitter"
                        },
                        "instagram": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Instagram.",
                          "title": "Instagram"
                        }
                      },
                      "title": "Social Count"
                    }
                  },
                  "title": "Data"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "X-RateLimit-Reset",
                "type": "string"
              }
            }
          }
        },
        "summary": "Get a single QR code",
        "description": "To get details for a single QR code via the API, you can use this endpoint.",
        "operationId": "QRGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/qr/add": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The error code.",
                  "title": "Error"
                },
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique identifier.",
                  "title": "ID"
                },
                "link": {
                  "type": "string",
                  "description": "The link.",
                  "title": "Link"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "X-RateLimit-Reset",
                "type": "string"
              }
            }
          }
        },
        "summary": "Create a QR code",
        "description": "To get create a single QR code via the API, you can use this endpoint.",
        "operationId": "QRCreate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                },
                "data": {
                  "type": "string",
                  "description": "The data.",
                  "title": "Data"
                },
                "background": {
                  "type": "string",
                  "description": "The background.",
                  "title": "Background"
                },
                "foreground": {
                  "type": "string",
                  "description": "The foreground.",
                  "title": "Foreground"
                },
                "logo": {
                  "type": "string",
                  "description": "The logo.",
                  "title": "Logo"
                }
              }
            }
          }
        ]
      }
    },
    "/qr/{id}/update": {
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The error code.",
                  "title": "Error"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "X-RateLimit-Reset",
                "type": "string"
              }
            }
          }
        },
        "summary": "Update a QR code",
        "description": "To update a single QR code via the API, you can use this endpoint.",
        "operationId": "QRUpdate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                },
                "data": {
                  "type": "string",
                  "description": "The data.",
                  "title": "Data"
                },
                "background": {
                  "type": "string",
                  "description": "The background.",
                  "title": "Background"
                },
                "foreground": {
                  "type": "string",
                  "description": "The foreground.",
                  "title": "Foreground"
                },
                "logo": {
                  "type": "string",
                  "description": "The logo.",
                  "title": "Logo"
                }
              },
              "required": [
                "data"
              ]
            }
          }
        ]
      }
    },
    "/qr/{id}/delete": {
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The error code.",
                  "title": "Error"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "X-RateLimit-Reset",
                "type": "string"
              }
            }
          }
        },
        "summary": "Delete a QR code",
        "description": "To delete a single QR code via the API, you can use this endpoint.",
        "operationId": "QRDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/plans": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The error code.",
                  "title": "Error"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "free": {
                        "type": "boolean",
                        "description": "Whether free.",
                        "title": "Free"
                      },
                      "prices": {
                        "type": "string",
                        "description": "The prices.",
                        "title": "Prices"
                      },
                      "limits": {
                        "type": "object",
                        "properties": {
                          "links": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The links.",
                            "title": "Links"
                          },
                          "clicks": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of clicks.",
                            "title": "Clicks"
                          },
                          "retention": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of retention.",
                            "title": "Retention"
                          },
                          "custom": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "string",
                                "description": "If enabled.",
                                "title": "Enabled"
                              }
                            },
                            "title": "Custom"
                          },
                          "team": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "string",
                                "description": "If enabled.",
                                "title": "Enabled"
                              },
                              "count": {
                                "type": "string",
                                "description": "The count.",
                                "title": "Count"
                              }
                            },
                            "title": "Team"
                          },
                          "splash": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "string",
                                "description": "If enabled.",
                                "title": "Enabled"
                              },
                              "count": {
                                "type": "string",
                                "description": "The count.",
                                "title": "Count"
                              }
                            },
                            "title": "Splash"
                          },
                          "overlay": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "string",
                                "description": "If enabled.",
                                "title": "Enabled"
                              },
                              "count": {
                                "type": "string",
                                "description": "The count.",
                                "title": "Count"
                              }
                            },
                            "title": "Overlay"
                          },
                          "pixels": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "string",
                                "description": "If enabled.",
                                "title": "Enabled"
                              },
                              "count": {
                                "type": "string",
                                "description": "The count.",
                                "title": "Count"
                              }
                            },
                            "title": "Pixels"
                          },
                          "domain": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "string",
                                "description": "If enabled.",
                                "title": "Enabled"
                              },
                              "count": {
                                "type": "string",
                                "description": "The count.",
                                "title": "Count"
                              }
                            },
                            "title": "Domain"
                          },
                          "multiple": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "string",
                                "description": "If enabled.",
                                "title": "Enabled"
                              }
                            },
                            "title": "Multiple"
                          },
                          "alias": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "string",
                                "description": "If enabled.",
                                "title": "Enabled"
                              }
                            },
                            "title": "Alias"
                          },
                          "device": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "string",
                                "description": "If enabled.",
                                "title": "Enabled"
                              }
                            },
                            "title": "Device"
                          },
                          "geo": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "string",
                                "description": "If enabled.",
                                "title": "Enabled"
                              }
                            },
                            "title": "Geo"
                          },
                          "bundle": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "string",
                                "description": "If enabled.",
                                "title": "Enabled"
                              }
                            },
                            "title": "Bundle"
                          },
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "string",
                                "description": "If enabled.",
                                "title": "Enabled"
                              }
                            },
                            "title": "Parameters"
                          },
                          "export": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "string",
                                "description": "If enabled.",
                                "title": "Enabled"
                              }
                            },
                            "title": "Export"
                          },
                          "api": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "string",
                                "description": "If enabled.",
                                "title": "Enabled"
                              }
                            },
                            "title": "API"
                          }
                        },
                        "title": "Limits"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "X-RateLimit-Reset",
                "type": "string"
              }
            }
          }
        },
        "summary": "List all plans",
        "description": "Get a list of all plans on the platform. This endpoint is only accessible by users with admin privileges.",
        "operationId": "PlanList",
        "parameters": []
      }
    },
    "/plan/{planid}/user/{userid}": {
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The error code.",
                  "title": "Error"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "X-RateLimit-Reset",
                "type": "string"
              }
            }
          }
        },
        "summary": "Subscribe a user to a plan",
        "description": "To subscribe a user to plan, send a PUT request to this endpoint with the plan id and user id. The type of subscription and the expiration date will need to be specified. If the expiration date is not specified, the date will be adjusted according to the type.",
        "operationId": "PlanSubscribe",
        "parameters": [
          {
            "name": "planid",
            "in": "path",
            "x-ms-summary": "Plan ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier of the plan.",
            "required": true,
            "type": "string"
          },
          {
            "name": "userid",
            "in": "path",
            "x-ms-summary": "User ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier of the user.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                },
                "expiration": {
                  "type": "string",
                  "description": "The expiration date.",
                  "title": "Expiration"
                }
              }
            }
          }
        ]
      }
    },
    "/users": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The error code.",
                  "title": "Error"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "email": {
                        "type": "string",
                        "description": "The email address.",
                        "title": "Email"
                      },
                      "username": {
                        "type": "string",
                        "description": "The username.",
                        "title": "Username"
                      },
                      "avatar": {
                        "type": "string",
                        "description": "The avatar.",
                        "title": "Avatar"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "planid": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier of the plan.",
                        "title": "Plan ID"
                      },
                      "expires": {
                        "type": "string",
                        "description": "When expires.",
                        "title": "Expires"
                      },
                      "registered": {
                        "type": "string",
                        "description": "When registered.",
                        "title": "Registered"
                      },
                      "apikey": {
                        "type": "string",
                        "description": "The API key.",
                        "title": "API Key"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "X-RateLimit-Reset",
                "type": "string"
              }
            }
          }
        },
        "summary": "List all users",
        "description": "Get a list of all users on the platform. This endpoint is only accessible by users with admin privileges.",
        "operationId": "UserList",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "x-ms-summary": "Filter",
            "description": "The filter.",
            "required": false,
            "type": "string",
            "enum": [
              "admin",
              "free",
              "pro"
            ]
          }
        ]
      }
    },
    "/user/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The error code.",
                  "title": "Error"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The unique identifier.",
                      "title": "ID"
                    },
                    "email": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email"
                    },
                    "username": {
                      "type": "string",
                      "description": "The username.",
                      "title": "Username"
                    },
                    "avatar": {
                      "type": "string",
                      "description": "The avatar.",
                      "title": "Avatar"
                    },
                    "status": {
                      "type": "string",
                      "description": "The status.",
                      "title": "Status"
                    },
                    "planid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The identifier of the plan.",
                      "title": "Plan ID"
                    },
                    "expires": {
                      "type": "string",
                      "description": "When expires.",
                      "title": "Expires"
                    },
                    "registered": {
                      "type": "string",
                      "description": "When registered.",
                      "title": "Registered"
                    },
                    "apikey": {
                      "type": "string",
                      "description": "The API key.",
                      "title": "API Key"
                    }
                  },
                  "title": "Data"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "X-RateLimit-Reset",
                "type": "string"
              }
            }
          }
        },
        "summary": "Get a single user",
        "description": "Get data for a single user.",
        "operationId": "UserGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/user/add": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The error code.",
                  "title": "Error"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The unique identifier.",
                      "title": "ID"
                    },
                    "email": {
                      "type": "string",
                      "description": "The email address.",
[...]
