{
  "swagger": "2.0",
  "info": {
    "title": "Finnish Railway Traffic",
    "description": "Get data of trains operating in Finland. The service is operated by Fintraffic. The data is sourced from the following applications used in traffic controlling and capacity management: Liike, Reaali and Loki.",
    "version": "1.0",
    "contact": {
      "name": "Timo Pertilä",
      "url": "https://timopertila.com",
      "email": "timo.pertila@gmail.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.digitraffic.fi/en/railway-traffic/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.fintraffic.fi/en/fintraffic/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Website;Data"
    }
  ],
  "host": "rata.digitraffic.fi",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/metadata/stations": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "passengerTraffic": {
                    "type": "boolean",
                    "description": "",
                    "title": "Passenger traffic"
       
                  },
                  "type": {
                    "type": "string",
                    "description": "",
                    "title": "Type"
                  },
                  "stationName": {
                    "type": "string",
                    "description": "",
                    "title": "Station name"
                  },
                  "stationShortCode": {
                    "type": "string",
                    "description": "",
                    "title": "Station short code"
                  },
                  "stationUICCode": {
                    "type": "integer",
                    "format": "int32",
                    "description": "",
                    "title": "Station UIC code"
                  },
                  "countryCode": {
                    "type": "string",
                    "description": "",
                    "title": "Country code"
                  },
                  "longitude": {
                    "type": "number",
                    "format": "float",
                    "description": "",
                    "title": "Longitude"
                  },
                  "latitude": {
                    "type": "number",
                    "format": "float",
                    "description": "",
                    "title": "Latitude"
                  }
                }
              }
            }
          }
        },
        "summary": "Get stations",
        "operationId": "GetStations",
        "description": "Finnish Railways - Get stations",
        "parameters": []
      }
    },
    "/live-trains/station/{Departure station}/{Arrival station}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "trainNumber": {
                    "type": "integer",
                    "format": "int32",
                    "description": "",
                    "title": "Train number"
                  },
                  "departureDate": {
                    "type": "string",
                    "description": "",
                    "title": "Departure date"
                  },
                  "operatorUICCode": {
                    "type": "integer",
                    "format": "int32",
                    "description": "",
                    "title": "Operator UIC code"
                  },
                  "operatorShortCode": {
                    "type": "string",
                    "description": "",
                    "title": "Operator short code"
                  },
                  "trainType": {
                    "type": "string",
                    "description": "",
                    "title": "Train type"
                  },
                  "trainCategory": {
                    "type": "string",
                    "description": "",
                    "title": "Train category"
                  },
                  "commuterLineID": {
                    "type": "string",
                    "description": "",
                    "title": "Commuter line ID"
                  },
                  "runningCurrently": {
                    "type": "boolean",
                    "description": "",
                    "title": "Running currently"

                  },
                  "cancelled": {
                    "type": "boolean",
                    "description": "",
                    "title": "Cancelled"
         
                  },
                  "version": {
                    "type": "integer",
                    "format": "int32",
                    "description": "",
                    "title": "Version"
                  },
                  "timetableType": {
                    "type": "string",
                    "description": "",
                    "title": "Timetable type"
                  },
                  "timetableAcceptanceDate": {
                    "type": "string",
                    "description": "",
                    "title": "Timetable acceptance date"
                  },
                  "timeTableRows": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "stationShortCode": {
                          "type": "string",
                          "description": "stationShortCode"
                        },
                        "stationUICCode": {
                          "type": "integer",
                          "format": "int32",
                          "description": "stationUICCode"
                        },
                        "countryCode": {
                          "type": "string",
                          "description": "countryCode"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "trainStopping": {
                          "type": "boolean",
                          "description": "trainStopping"
                        },
                        "commercialStop": {
                          "type": "boolean",
                          "description": "commercialStop"
                        },
                        "commercialTrack": {
                          "type": "string",
                          "description": "commercialTrack"
                        },
                        "cancelled": {
                          "type": "boolean",
                          "description": "cancelled"
                        },
                        "scheduledTime": {
                          "type": "string",
                          "description": "scheduledTime"
                        }
                      }
                    },
                    "description": "timeTableRows"
                  }
                }
              }
            }
          }
        },
        "summary": "Get schedules",
        "description": "Finnish railway traffic - Get schedules",
        "operationId": "GetSchedules",
        "parameters": [
          {
            "name": "Departure station",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Departure station",
            "x-ms-url-encoding": "single",
            "description": "Short code of the departure station. Like \"HKI\""
          },
          {
            "name": "Arrival station",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Arrival station",
            "x-ms-url-encoding": "single",
            "description": "Short code of the arrival station. Like \"TPE\""
          },
          {
            "name": "departure_date",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Departure date in format yyyy-mm-dd. If left empty, we will search for trains leaving in the next 24 hours.",
            "x-ms-summary": "Departure date"
          }
        ]
      }
    },
    "/live-trains/station/{Train station}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "trainNumber": {
                    "type": "integer",
                    "format": "int32",
                    "description": "",
                    "title": "Train number"
                  },
                  "departureDate": {
                    "type": "string",
                    "description": "",
                    "title": "Departure date"
                  },
                  "operatorUICCode": {
                    "type": "integer",
                    "format": "int32",
                    "description": "",
                    "title": "Operator UIC code"
                  },
                  "operatorShortCode": {
                    "type": "string",
                    "description": "",
                    "title": "Operator short code"
                  },
                  "trainType": {
                    "type": "string",
                    "description": "",
                    "title": "Train type"
                  },
                  "trainCategory": {
                    "type": "string",
                    "description": "",
                    "title": "Train category"
                  },
                  "commuterLineID": {
                    "type": "string",
                    "description": "",
                    "title": "Commuter line ID"
                  },
                  "runningCurrently": {
                    "type": "boolean",
                    "description": "",
                    "title": "Running currently"
     
                  },
                  "cancelled": {
                    "type": "boolean",
                    "description": "",
                    "title": "Cancelled"
     
                  },
                  "version": {
                    "type": "integer",
                    "format": "int32",
                    "description": "",
                    "title": "Version"
                  },
                  "timetableType": {
                    "type": "string",
                    "description": "",
                    "title": "Timetable type"
                  },
                  "timetableAcceptanceDate": {
                    "type": "string",
                    "description": "",
                    "title": "Timetable acceptance date"
                  },
                  "timeTableRows": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "stationShortCode": {
                          "type": "string",
                          "description": "stationShortCode"
                        },
                        "stationUICCode": {
                          "type": "integer",
                          "format": "int32",
                          "description": "stationUICCode"
                        },
                        "countryCode": {
                          "type": "string",
                          "description": "countryCode"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "trainStopping": {
                          "type": "boolean",
                          "description": "trainStopping"
                        },
                        "commercialStop": {
                          "type": "boolean",
                          "description": "commercialStop"
                        },
                        "commercialTrack": {
                          "type": "string",
                          "description": "commercialTrack"
                        },
                        "cancelled": {
                          "type": "boolean",
                          "description": "cancelled"
                        },
                        "scheduledTime": {
                          "type": "string",
                          "description": "scheduledTime"
                        },
                        "actualTime": {
                          "type": "string",
                          "description": "actualTime"
                        },
                        "differenceInMinutes": {
                          "type": "integer",
                          "format": "int32",
                          "description": "differenceInMinutes"
                        },
                        "causes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "categoryCode": {
                                "type": "string",
                                "description": "categoryCode"
                              },
                              "detailedCategoryCode": {
                                "type": "string",
                                "description": "detailedCategoryCode"
                              },
                              "categoryCodeId": {
                                "type": "integer",
                                "format": "int32",
                                "description": "categoryCodeId"
                              },
                              "detailedCategoryCodeId": {
                                "type": "integer",
                                "format": "int32",
                                "description": "detailedCategoryCodeId"
                              },
                              "thirdCategoryCode": {
                                "type": "string",
                                "description": "thirdCategoryCode"
                              },
                              "thirdCategoryCodeId": {
                                "type": "integer",
                                "format": "int32",
                                "description": "thirdCategoryCodeId"
                              }
                            }
                          },
                          "description": "causes"
                        },
                        "trainReady": {
                          "type": "object",
                          "properties": {
                            "source": {
                              "type": "string",
                              "description": "source"
                            },
                            "accepted": {
                              "type": "boolean",
                              "description": "accepted"
                            },
                            "timestamp": {
                              "type": "string",
                              "description": "timestamp"
                            }
                          },
                          "description": "trainReady"
                        },
                        "liveEstimateTime": {
                          "type": "string",
                          "description": "liveEstimateTime"
                        },
                        "estimateSource": {
                          "type": "string",
                          "description": "estimateSource"
                        }
                      }
                    },
                    "description": "timeTableRows"
                  }
                }
              }
            }
          }
        },
        "operationId": "GetArrivalsAndDepartures",
        "summary": "Get arrivals and departures",
        "description": "Finnish railway traffic - Get station arrivals and departures",
        "parameters": [
          {
            "name": "Train station",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Station",
            "x-ms-url-encoding": "single",
            "description": "Short code of the station. Like \"HKI\"."
          },
          {
            "name": "arriving_trains",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "How many arriving trains are shown",
            "x-ms-summary": "Arriving trains"
          },
          {
            "name": "departing_trains",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "How many departing trains are shown",
            "x-ms-summary": "Departing trains"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}