{
  "swagger": "2.0",
  "info": {
    "title": "ForceManager CRM",
    "description": "ForceManager CRM is designed by and for field sales representatives. Built with their needs and priorities in mind, ForceManager's goal is to make sales reps' jobs easier, so they can focus on what really matters: sales and building strong relationships with customers.",
    "version": "0.9.8",
    "contact": {
      "name": "ForceManager CRM",
      "url": "https://www.forcemanager.com/contact/",
      "email": "integrations@forcemanager.com"
    }
  },
  "host": "api.forcemanager.com",
  "basePath": "/api/v4",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [],
  "security": [],
  "securityDefinitions": {},
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.forcemanager.com"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.forcemanager.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Business Management"
    }
  ],
  "paths": {
    "/procedure/zapier_schema": {
      "post": {
        "operationId": "GetCustomFieldsSchema",
        "summary": "Get entity custom fields schema",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "entity",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "type": "object",
              "x-ms-summary": "Requested schema",
              "properties": {
                "data": {
                  "type": "object",
                  "description": "Schema of the requested entity",
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        }
      }
    },
    "/hooks/{id}": {
      "delete": {
        "summary": "Delete a Webhook",
        "description": "This operation allows you to delete a specific Webhook.",
        "operationId": "DeleteWebhook",
        "x-ms-summary": "Delete a Webhook",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/IdInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/DeleteResponse"
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/branches": {
      "get": {
        "summary": "List Branches",
        "description": "Returns all Branches.",
        "operationId": "ListBranches",
        "x-ms-summary": "List Branches",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "getFullList",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "internal",
            "description": "Download full list at code level"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BranchResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/countries": {
      "get": {
        "summary": "List Countries",
        "description": "Returns all Countries available.",
        "operationId": "ListCountries",
        "x-ms-summary": "List Countries",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "getFullList",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "internal",
            "description": "Download full list at code level"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CountryResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/currencies": {
      "get": {
        "summary": "List Currencies",
        "description": "Returns all Currencies available.",
        "operationId": "ListCurrencies",
        "x-ms-summary": "List Currencies",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "getFullList",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "internal",
            "description": "Download full list at code level"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CurrencyResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/timezones": {
      "get": {
        "summary": "List Timezones",
        "description": "Returns all Timezones available.",
        "operationId": "ListTimezones",
        "x-ms-summary": "List Timezones",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "getFullList",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "internal",
            "description": "Download full list at code level"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TimezoneResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/accountTypes": {
      "get": {
        "summary": "List Account Types",
        "description": "Returns all Account Types available in the user's ForceManager implementation database.",
        "operationId": "ListAccountTypes",
        "x-ms-summary": "List Account Types",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "getFullList",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "internal",
            "description": "Download full list at code level"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GenericValueListResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/accountStatuses": {
      "get": {
        "summary": "List Account Statuses",
        "description": "Returns all Account Statuses available in the user's ForceManager implementation database.",
        "operationId": "ListAccountStatuses",
        "x-ms-summary": "List Account Statuses",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "getFullList",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "internal",
            "description": "Download full list at code level"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccountStatusListResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/accountSegments": {
      "get": {
        "summary": "List Account Segments",
        "description": "Returns all Account Segments available in the user's ForceManager implementation database.",
        "operationId": "ListAccountSegments",
        "x-ms-summary": "List Account Segments",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "getFullList",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "internal",
            "description": "Download full list at code level"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GenericValueListResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/contactTypes": {
      "get": {
        "summary": "List Contact Types",
        "description": "Returns all Contact Types available in the user's ForceManager implementation database.",
        "operationId": "ListContactTypes",
        "x-ms-summary": "List Contact Types",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "getFullList",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "internal",
            "description": "Download full list at code level"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GenericValueListResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/opportunityTypes": {
      "get": {
        "summary": "List Opportunity Types",
        "description": "Returns all Opportunity Types available in the user's ForceManager implementation database.",
        "operationId": "ListOpportunityTypes",
        "x-ms-summary": "List Opportunity Types",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "getFullList",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "internal",
            "description": "Download full list at code level"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GenericValueListResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/opportunityStatuses": {
      "get": {
        "summary": "List Opportunity Statuses",
        "description": "Returns all Opportunity Statuses available in the user's ForceManager implementation database.",
        "operationId": "ListOpportunityStatuses",
        "x-ms-summary": "List Opportunity Statuses",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "getFullList",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "internal",
            "description": "Download full list at code level"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OpportunityStatusListResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/salesorderStatuses": {
      "get": {
        "summary": "List Sales Order Statuses",
        "description": "Returns all Sales Order Statuses available in the user's ForceManager implementation database.",
        "operationId": "ListSalesOrderStatuses",
        "x-ms-summary": "List Sales Order Statuses",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "getFullList",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "internal",
            "description": "Download full list at code level"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SalesOrderStatusListResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },    
    "/activityTypes": {
      "get": {
        "summary": "List Activity Types",
        "description": "Returns all Activity Types available in the user's ForceManager implementation database.",
        "operationId": "ListActivityTypes",
        "x-ms-summary": "List Activity Types",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "getFullList",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "internal",
            "description": "Download full list at code level"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GenericValueListResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "summary": "List Users",
        "description": "Returns Users available in the user's ForceManager implementation database.",
        "operationId": "ListUsers",
        "x-ms-summary": "List Users",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "where",
            "x-ms-summary": "Where",
            "description": "Allows to filter data using any SQL string parameter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "x-ms-summary": "Page",
            "description": "Define the pagination data for the returned objects",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "order",
            "x-ms-summary": "Order",
            "description": "Organise and view the results for a specific attribute in descendent order",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "lang",
            "x-ms-summary": "Language",
            "description": "Define the language in which you want to receive the response",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "count",
            "x-ms-summary": "Count",
            "description": "The number of records to return in each page of results",
            "in": "header",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UserResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "summary": "List Accounts",
        "description": "Returns Accounts available in the user's ForceManager implementation database.",
        "operationId": "ListAccounts",
        "x-ms-summary": "List Accounts",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "where",
            "x-ms-summary": "Where",
            "description": "Allows to filter data using any SQL string parameter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "x-ms-summary": "Page",
            "description": "Define the pagination data for the returned objects",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "order",
            "x-ms-summary": "Order",
            "description": "Organise and view the results for a specific attribute in descendent order",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "lang",
            "x-ms-summary": "Language",
            "description": "Define the language in which you want to receive the response",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "count",
            "x-ms-summary": "Count",
            "description": "The number of records to return in each page of results",
            "in": "header",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccountResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "Create an Account",
        "description": "This operation allows you to create am Account.",
        "operationId": "CreateAccount",
        "x-ms-summary": "Create am Account",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountModel",
              "required": [
                "branchId",
                "name",
                "salesRepId1"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/PostResponse"
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/accounts/{id}": {
      "get": {
        "summary": "Get an Account",
        "description": "This operation retrieves data of a specific Account.",
        "operationId": "GetAccount",
        "x-ms-summary": "Get an Account",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/IdInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/AccountResponse"
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "summary": "Update an Account",
        "description": "This operation allows you to update a specific Account.",
        "operationId": "UpdateAccount",
        "x-ms-summary": "Update an Account",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/IdInPath"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/PutResponse"
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an Account",
        "description": "This operation allows you to delete a specific Account from the user's ForceManager implementation database.",
        "operationId": "DeleteAccount",
        "x-ms-summary": "Delete an Account",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/IdInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/DeleteResponse"
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/accounts/hooks/insert": {
      "x-ms-notification-content": {
        "schema": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountResponse"
          }
        }
      },
      "post": {
        "summary": "When an Account is created",
        "description": "This operation triggers a flow when a new Account is created.",
        "operationId": "CreateAccountWebhook",
        "x-ms-summary": "When an Account is created",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "internal",
            "schema": {
              "type": "object",
              "x-ms-visibility": "internal",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name",
                  "default": "Power Automate Webhook - Insert Account",
                  "x-ms-visibility": "internal",
                  "title": "The name of the Webhook"
                },
                "action": {
                  "type": "string",
                  "description": "action",
                  "default": "insert",
                  "x-ms-visibility": "internal",
                  "title": "The action associated to the Webhook"
                },
                "entity": {
                  "type": "string",
                  "description": "entity",
                  "default": "account",
                  "x-ms-visibility": "internal",
                  "title": "The entity associated to the Webhook"
                },
                "url": {
                  "type": "string",
                  "description": "url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "The endpoint of the Webhook"
                }
              },
              "required": [
                "name",
                "action",
                "entity",
                "url"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/WebhookResponse"
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/accounts/hooks/update": {
      "x-ms-notification-content": {
        "schema": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountResponse"
          }
        }
      },
      "post": {
        "summary": "When an Account is updated",
        "description": "This operation triggers a flow when a new Account is updated.",
        "operationId": "UpdateAccountWebhook",
        "x-ms-summary": "When an Account is updated",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "internal",
            "schema": {
              "type": "object",
              "x-ms-visibility": "internal",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name",
                  "default": "Power Automate Webhook - Insert Account",
                  "x-ms-visibility": "internal",
                  "title": "The name of the Webhook"
                },
                "action": {
                  "type": "string",
                  "description": "action",
                  "default": "update",
                  "x-ms-visibility": "internal",
                  "title": "The action associated to the Webhook"
                },
                "entity": {
                  "type": "string",
                  "description": "entity",
                  "default": "account",
                  "x-ms-visibility": "internal",
                  "title": "The entity associated to the Webhook"
                },
                "url": {
                  "type": "string",
                  "description": "url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "The endpoint of the Webhook"
                }
              },
              "required": [
                "name",
                "action",
                "entity",
                "url"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/WebhookResponse"
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/contacts": {
      "get": {
        "summary": "List Contacts",
        "description": "Returns Contacts available in the user's ForceManager implementation database.",
        "operationId": "ListContacts",
        "x-ms-summary": "List Contacts",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "where",
            "x-ms-summary": "Where",
            "description": "Allows to filter data using any SQL string parameter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "x-ms-summary": "Page",
            "description": "Define the pagination data for the returned objects",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "order",
            "x-ms-summary": "Order",
            "description": "Organise and view the results for a specific attribute in descendent order",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "lang",
            "x-ms-summary": "Language",
            "description": "Define the language in which you want to receive the response",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "count",
            "x-ms-summary": "Count",
            "description": "The number of records to return in each page of results",
            "in": "header",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ContactResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "Create a Contact",
        "description": "This operation allows you to create a Contact.",
        "operationId": "CreateContact",
        "x-ms-summary": "Create a Contact",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContactModel",
              "required": [
                "branchId",
                "firstName",
                "lastName",
                "accountId",
                "salesRepId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/PostResponse"
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/contacts/{id}": {
      "get": {
        "summary": "Get a Contact",
        "description": "This operation retrieves data of a specific Contact.",
        "operationId": "GetContact",
        "x-ms-summary": "Get a Contact",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/IdInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/ContactResponse"
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "summary": "Update a Contact",
        "description": "This operation allows you to update a specific Contact.",
        "operationId": "UpdateContact",
        "x-ms-summary": "Update a Contact",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/IdInPath"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContactModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/PutResponse"
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a Contact",
        "description": "This operation allows you to delete a specific Contact from the user's ForceManager implementation database.",
        "operationId": "DeleteContact",
        "x-ms-summary": "Delete a Contact",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/IdInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/DeleteResponse"
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/contacts/hooks/insert": {
      "x-ms-notification-content": {
        "schema": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContactResponse"
          }
        }        
      },
      "post": {
        "summary": "When an Contact is created",
        "description": "This operation triggers a flow when a new Contact is created.",
        "operationId": "CreateContactWebhook",
        "x-ms-summary": "When an Contact is created",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "internal",
            "schema": {
              "type": "object",
              "x-ms-visibility": "internal",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name",
                  "default": "Power Automate Webhook - Insert Contact",
                  "x-ms-visibility": "internal",
                  "title": "The name of the Webhook"
                },
                "action": {
                  "type": "string",
                  "description": "action",
                  "default": "insert",
                  "x-ms-visibility": "internal",
                  "title": "The action associated to the Webhook"
                },
                "entity": {
                  "type": "string",
                  "description": "entity",
                  "default": "contact",
                  "x-ms-visibility": "internal",
                  "title": "The entity associated to the Webhook"
                },
                "url": {
                  "type": "string",
                  "description": "url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "The endpoint of the Webhook"
                }
              },
              "required": [
                "name",
                "action",
                "entity",
                "url"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/WebhookResponse"
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/contacts/hooks/update": {
      "x-ms-notification-content": {
        "schema": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContactResponse"
          }
        }
      },
      "post": {
        "summary": "When an Contact is updated",
        "description": "This operation triggers a flow when a new Contact is updated.",
        "operationId": "UpdateContactWebhook",
        "x-ms-summary": "When an Contact is updated",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "internal",
            "schema": {
              "type": "object",
              "x-ms-visibility": "internal",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name",
                  "default": "Power Automate Webhook - Insert Contact",
                  "x-ms-visibility": "internal",
                  "title": "The name of the Webhook"
                },
                "action": {
                  "type": "string",
                  "description": "action",
                  "default": "update",
                  "x-ms-visibility": "internal",
                  "title": "The action associated to the Webhook"
                },
                "entity": {
                  "type": "string",
                  "description": "entity",
                  "default": "contact",
                  "x-ms-visibility": "internal",
                  "title": "The entity associated to the Webhook"
                },
                "url": {
                  "type": "string",
                  "description": "url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "The endpoint of the Webhook"
                }
              },
              "required": [
                "name",
                "action",
                "entity",
                "url"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/WebhookResponse"
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/opportunities": {
      "get": {
        "summary": "List Opportunities",
        "description": "Returns Opportunities available in the user's ForceManager implementation database.",
        "operationId": "ListOpportunities",
        "x-ms-summary": "List Opportunities",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "where",
            "x-ms-summary": "Where",
            "description": "Allows to filter data using any SQL string parameter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "x-ms-summary": "Page",
            "description": "Define the pagination data for the returned objects",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "order",
            "x-ms-summary": "Order",
            "description": "Organise and view the results for a specific attribute in descendent order",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "lang",
            "x-ms-summary": "Language",
            "description": "Define the language in which you want to receive the response",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "count",
            "x-ms-summary": "Count",
            "description": "The number of records to return in each page of results",
            "in": "header",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OpportunityResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "Create an Opportunity",
        "description": "This operation allows you to create an Opportunity.",
        "operationId": "CreateOpportunity",
        "x-ms-summary": "Create an Opportunity",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OpportunityModel",
              "required": [
                "branchId",
                "reference",
                "salesRepId",
                "salesProbability",
                "accountId1"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/PostResponse"
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/opportunities/{id}": {
      "get": {
        "summary": "Get an Opportunity",
        "description": "This operation retrieves data of a specific Opportunity.",
        "operationId": "GetOpportunity",
        "x-ms-summary": "Get an Opportunity",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/IdInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/OpportunityResponse"
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "summary": "Update an Opportunity",
        "description": "This operation allows you to update a specific Opportunity.",
        "operationId": "UpdateOpportunity",
        "x-ms-summary": "Update an Opportunity",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/IdInPath"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OpportunityModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/PutResponse"
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an Opportunity",
        "description": "This operation allows you to delete a specific Opportunity from the user's ForceManager implementation database.",
        "operationId": "DeleteOpportunity",
        "x-ms-summary": "Delete an Opportunity",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/IdInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/DeleteResponse"
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/opportunities/hooks/insert": {
      "x-ms-notification-content": {
        "schema": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OpportunityResponse"
          }
        }         
      },
      "post": {
        "summary": "When an Opportunity is created",
        "description": "This operation triggers a flow when a new Opportunity is created.",
        "operationId": "CreateOpportunityWebhook",
        "x-ms-summary": "When an Opportunity is created",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "internal",
            "schema": {
              "type": "object",
              "x-ms-visibility": "internal",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name",
                  "default": "Power Automate Webhook - Insert Opportunity",
                  "x-ms-visibility": "internal",
                  "title": "The name of the Webhook"
                },
                "action": {
                  "type": "string",
                  "description": "action",
                  "default": "insert",
                  "x-ms-visibility": "internal",
                  "title": "The action associated to the Webhook"
                },
                "entity": {
                  "type": "string",
                  "description": "entity",
                  "default": "opportunity",
                  "x-ms-visibility": "internal",
                  "title": "The entity associated to the Webhook"
                },
                "url": {
                  "type": "string",
                  "description": "url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "The endpoint of the Webhook"
                }
              },
              "required": [
                "name",
                "action",
                "entity",
                "url"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/WebhookResponse"
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/opportunities/hooks/update": {
      "x-ms-notification-content": {
        "schema": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OpportunityResponse"
          }
        }  
      },
      "post": {
        "summary": "When an Opportunity is updated",
        "description": "This operation triggers a flow when a new Opportunity is updated.",
        "operationId": "UpdateOpportunityWebhook",
        "x-ms-summary": "When an Opportunity is updated",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "internal",
            "schema": {
              "type": "object",
              "x-ms-visibility": "internal",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name",
                  "default": "Power Automate Webhook - Insert Opportunity",
                  "x-ms-visibility": "internal",
                  "title": "The name of the Webhook"
                },
                "action": {
                  "type": "string",
                  "description": "action",
                  "default": "update",
                  "x-ms-visibility": "internal",
                  "title": "The action associated to the Webhook"
                },
                "entity": {
                  "type": "string",
                  "description": "entity",
                  "default": "opportunity",
                  "x-ms-visibility": "internal",
                  "title": "The entity associated to the Webhook"
                },
                "url": {
                  "type": "string",
                  "description": "url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "The endpoint of the Webhook"
                }
              },
              "required": [
                "name",
                "action",
                "entity",
                "url"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/WebhookResponse"
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/salesorders": {
      "get": {
        "summary": "List Sales Orders",
        "description": "Returns Sales Orders available in the user's ForceManager implementation database.",
        "operationId": "ListSalesOrders",
        "x-ms-summary": "List Sales Orders",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "where",
            "x-ms-summary": "Where",
            "description": "Allows to filter data using any SQL string parameter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "x-ms-summary": "Page",
            "description": "Define the pagination data for the returned objects",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "order",
            "x-ms-summary": "Order",
            "description": "Organise and view the results for a specific attribute in descendent order",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "lang",
            "x-ms-summary": "Language",
            "description": "Define the language in which you want to receive the response",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "count",
            "x-ms-summary": "Count",
            "description": "The number of records to return in each page of results",
            "in": "header",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SalesOrderResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "Create a Sales Order",
        "description": "This operation allows you to create a Sales Order.",
        "operationId": "CreateSalesOrder",
        "x-ms-summary": "Create a Sales Order",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SalesOrderModel",
              "required": [
                "branchId",
                "reference",
                "salesRepId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/PostResponse"
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/salesorders/{id}": {
      "get": {
        "summary": "Get a Sales Order",
        "description": "This operation retrieves data of a specific Sales Order.",
        "operationId": "GetSalesOrder",
        "x-ms-summary": "Get a Sales Order",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/IdInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/SalesOrderResponse"
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "summary": "Update a Sales Order",
        "description": "This operation allows you to update a specific Sales Order.",
        "operationId": "UpdateSalesOrder",
        "x-ms-summary": "Update a Sales Order",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/IdInPath"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SalesOrderModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/PutResponse"
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a Sales Order",
        "description": "This operation allows you to delete a specific Sales Order from the user's ForceManager implementation database.",
        "operationId": "DeleteSalesOrder",
        "x-ms-summary": "Delete a Sales Order",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/IdInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/DeleteResponse"
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/salesorders/hooks/insert": {
      "x-ms-notification-content": {
        "schema": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SalesOrderResponse"
          }
        }          
      },
      "post": {
        "summary": "When a Sales Order is created",
        "description": "This operation triggers a flow when a new Sales Order is created.",
        "operationId": "CreateSalesOrderWebhook",
        "x-ms-summary": "When a Sales Order is created",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "internal",
            "schema": {
              "type": "object",
              "x-ms-visibility": "internal",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name",
                  "default": "Power Automate Webhook - Insert Sales Order",
                  "x-ms-visibility": "internal",
                  "title": "The name of the Webhook"
                },
                "action": {
                  "type": "string",
                  "description": "action",
                  "default": "insert",
                  "x-ms-visibility": "internal",
                  "title": "The action associated to the Webhook"
                },
                "entity": {
                  "type": "string",
                  "description": "entity",
                  "default": "salesorder",
                  "x-ms-visibility": "internal",
                  "title": "The entity associated to the Webhook"
                },
                "url": {
                  "type": "string",
                  "description": "url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "The endpoint of the Webhook"
                }
              },
              "required": [
                "name",
                "action",
                "entity",
                "url"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/WebhookResponse"
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/salesorders/hooks/update": {
      "x-ms-notification-content": {
        "schema": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SalesOrderResponse"
          }
        } 
      },
      "post": {
        "summary": "When an Sales Order is updated",
        "description": "This operation triggers a flow when a new Sales Order is updated.",
        "operationId": "UpdateSalesOrderWebhook",
        "x-ms-summary": "When a Sales Order is updated",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "internal",
            "schema": {
              "type": "object",
              "x-ms-visibility": "internal",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name",
                  "default": "Power Automate Webhook - Insert Sales Order",
                  "x-ms-visibility": "internal",
                  "title": "The name of the Webhook"
                },
                "action": {
                  "type": "string",
                  "description": "action",
                  "default": "update",
                  "x-ms-visibility": "internal",
                  "title": "The action associated to the Webhook"
                },
                "entity": {
                  "type": "string",
                  "description": "entity",
                  "default": "salesorder",
                  "x-ms-visibility": "internal",
                  "title": "The entity associated to the Webhook"
                },
                "url": {
                  "type": "string",
                  "description": "url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "The endpoint of the Webhook"
                }
              },
              "required": [
                "name",
                "action",
                "entity",
                "url"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/WebhookResponse"
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/salesordersLines": {
      "get": {
        "summary": "List Sales Orders Lines",
        "description": "Returns Sales Orders Lines available in the user's ForceManager implementation database.",
        "operationId": "ListSalesOrdersLines",
        "x-ms-summary": "List Sales Orders Lines",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "where",
            "x-ms-summary": "Where",
            "description": "Allows to filter data using any SQL string parameter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "x-ms-summary": "Page",
            "description": "Define the pagination data for the returned objects",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "order",
            "x-ms-summary": "Order",
            "description": "Organise and view the results for a specific attribute in descendent order",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "lang",
            "x-ms-summary": "Language",
            "description": "Define the language in which you want to receive the response",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "count",
            "x-ms-summary": "Count",
            "description": "The number of records to return in each page of results",
            "in": "header",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SalesOrderLineResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "Create a Sales Order Line",
        "description": "This operation allows you to create a Sales Order Line.",
        "operationId": "CreateSalesOrderLine",
        "x-ms-summary": "Create a Sales Order Line",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SalesOrderLineModel",
              "required": [
                "quantity",
                "price",
                "productId",
                "salesOrderId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/PostResponse"
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials are missing or incorrect.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "408": {
            "description": "Request timed out. An operation has timed out on the client.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/salesordersLines/{id}": {
      "get": {
        "summary": "Get a Sales Order Line",
        "description": "This operation retrieves data of a specific Sales Order Line.",
        "operationId": "GetSalesOrderLine",
        "x-ms-summary": "Get a Sales Order Line",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/IdInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/SalesOrderLineResponse"
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "summary": "Update a Sales Order Line",
        "description": "This operation allows you to update a specific Sales Order Line.",
        "operationId": "UpdateSalesOrderLine",
        "x-ms-summary": "Update a Sales Order Line",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/IdInPath"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SalesOrderLineModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/PutResponse"
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a Sales Order Line",
        "description": "This operation allows you to delete a specific Sales Order Line from the user's ForceManager implementation database.",
        "operationId": "DeleteSalesOrderLine",
        "x-ms-summary": "Delete a Sales Order Line",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/IdInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful.",
            "schema": {
              "$ref": "#/definitions/DeleteResponse"
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be served.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }   
  },
  "parameters": {
    "IdInPath": {
      "name": "id",
      "in": "path",
      "description": "Unique identifier of the entity",
      "required": true,
      "x-ms-summary": "Entity ID",
      "type": "integer",
      "x-ms-url-encoding": "single"
    }
  },
  "definitions": {
    "Error": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string"
        },
        "code": {
          "type": "integer"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "AccountModel": {
      "type": "object",
      "properties": {
        "customFields": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "GetCustomFieldsSchema",
            "value-path": "data",
            "parameters": {
              "entity": "empresas",
              "action": "create"
            }
          }
        },
        "name": {
          "type": "string",
          "x-ms-visibility": "important",
          "title": "Name",
          "description": "Name of the Account"
        },
        "statusId": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "title": "Status ID",
          "description": "Status ID of the Account",
          "x-ms-dynamic-values": {
            "operationId": "ListAccountStatuses",
            "value-path": "id",
            "value-title": "description"
          }
        },
        "typeId": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "title": "Type ID",
          "description": "Type ID of the Account",
          "x-ms-dynamic-values": {
            "operationId": "ListAccountTypes",
            "value-path": "id",
            "value-title": "description"
          }
        },
        "vatNumber": {
          "type": "string",
          "x-ms-visibility": "important",
          "title": "Vat Number",
          "description": "Value Added Tax identification number of the Account"
        },
        "phone": {
          "type": "string",
          "x-ms-visibility": "important",
          "title": "Phone",
          "description": "First contact phone number for the Account"
        },
        "email": {
          "type": "string",
          "x-ms-visibility": "important",
          "title": "Email",
          "description": "Account's email address"
        },
        "branchId": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "advanced",
          "title": "Branch ID",
          "description": "Branch ID of the Account",
          "x-ms-dynamic-values": {
            "operationId": "ListBranches",
            "value-path": "id",
            "value-title": "description"
          }
        },
        "salesRepId1": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "title": "Sales Rep 1 ID",
          "description": "First User responsible for the Account"
        },
        "salesRepId2": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "advanced",
          "title": "Sales Rep 2 ID",
          "description": "Second User responsible for the Account"
        },
        "salesRepId3": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "advanced",
          "title": "Sales Rep 3 ID",
          "description": "Third User responsible for the Account"
        },
        "salesRepId4": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "advanced",
          "title": "Sales Rep 4 ID",
          "description": "Fourth User responsible for the Account"
        },
        "salesRepId5": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "advanced",
          "title": "Sales Rep 5 ID",
          "description": "Fifth User responsible for the Account"
        },
        "comment": {
          "type": "string",
          "x-ms-visibility": "important",
          "title": "Comment",
          "description": "Comment added to the Account"
        },
        "address1": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "title": "Address 1",
          "description": "The Account's main address. e.g. number, street, suite, apt#, postal code, etc."
        },
        "address2": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "title": "Address 2",
          "description": "The Account's second address"
        },
        "city": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "title": "City",
          "description": "City name"
        },
        "postcode": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "title": "Postal Code",
          "description": "The Account's address postcode"
        },
        "region": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "title": "Region",
          "description": "Region/State name"
        },
        "countryId": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "advanced",
          "title": "Country ID",
          "description": "Country ID of the Account",
          "x-ms-dynamic-values": {
            "operationId": "ListCountries",
            "value-path": "id",
            "value-title": "description"
          }
        },
        "extId": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "title": "External ID",
          "description": "External ID of the Account from a third party system"
        },
        "phone2": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "title": "Phone 2",
          "description": "Second contact phone number for the Account"
        },
        "phone3": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "title": "Phone 3",
          "description": "Third contact phone number for the Account"
        },
        "fax": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "title": "Fax",
          "description": "Account's fax number"
        },
        "website": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "title": "Website",
          "description": "The Account's website address"
        },
        "geocoded": {
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "title": "Geocoded",
          "description": "Flag to state if the Account has been geolocated"
        },
        "geocodingAccuracy": {
          "type": "integer",
          "x-ms-visibility": "advanced",
          "title": "Geocoding Accuracy",
          "description": "Accuracy radius based on information about cell towers and WiFi nodes that the mobile can detect"
        },
        "latitude": {
          "type": "number",
          "x-ms-visibility": "advanced",
          "title": "Latitude",
          "description": "Geocode address for the latitude coordinates"
        },
        "longitude": {
          "type": "number",
          "x-ms-visibility": "advanced",
          "title": "Longitude",
          "description": "Geocode address for the longitude coordinates"
        },
        "permissionLevel": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "advanced",
          "title": "Permission Level",
          "description": "Defines the visibility of the Account"
        },
        "public": {
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "title": "Public",
          "description": "Flag to state if the Account is visible to everyone regardless the permission level"
        },
        "readOnly": {
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "title": "Read-Only",
          "description": "Flag to state if the Account cannot be modified or deleted"
        },
        "rateId": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "advanced",
          "title": "Rate ID",
          "description": "Rate ID for the Account"
        },
        "segmentId": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "advanced",
          "title": "Segment ID",
          "description": "Segment ID for the Account",
          "x-ms-dynamic-values": {
            "operationId": "ListAccountSegments",
            "value-path": "id",
            "value-title": "description"
          }
        }
      }
    },
    "AccountResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "ID"
        },
        "name": {
          "type": "string",
          "title": "Name"
        },
        "statusId": {
          "properties": {
            "value": {
              "type": "string",
              "title": "Status Name"
            },
            "id": {
              "type": "integer",
              "format": "int32",
              "title": "Status ID"
            }
          },
          "type": "object"
        },
        "typeId": {
          "properties": {
            "value": {
              "type": "string",
              "title": "Type Name"
            },
            "id": {
              "type": "integer",
              "format": "int32",
              "title": "Type ID"
            }
          },
          "type": "object"
        },
        "vatNumber": {
          "type": "string",
          "title": "Vat Number"
        },
        "phone": {
          "type": "string",
          "title": "Phone"
        },
        "email": {
          "type": "string",
          "title": "Email"
        },
        "branchId": {
          "properties": {
            "value": {
              "type": "string",
              "title": "Branch Name"
            },
            "id": {
              "type": "integer",
              "format": "int32",
              "title": "Branch ID"
            }
          },
          "type": "object"
        },
        "salesRepId1": {
          "properties": {
            "value": {
              "type": "string",
              "title": "Sales Rep 1 Name"
            },
            "id": {
              "type": "integer",
              "format": "int32",
              "title": "Sales Rep 1 ID"
            }
          },
          "type": "object"
        },
        "salesRepId2": {
          "properties": {
            "value": {
              "type": "string",
              "title": "Sales Rep 2 Name"
            },
            "id": {
              "type": "integer",
              "format": "int32",
              "title": "Sales Rep 2 ID"
            }
          },
          "type": "object"
        },
        "salesRepId3": {
          "properties": {
            "value": {
              "type": "string",
              "title": "Sales Rep 3 Name"
            },
            "id": {
              "type": "integer",
              "format": "int32",
              "title": "Sales Rep 3 ID"
            }
          },
          "type": "object"
        },
        "salesRepId4": {
          "properties": {
            "value": {
              "type": "string",
              "title": "Sales Rep 4 Name"
            },
            "id": {
              "type": "integer",
              "format": "int32",
              "title": "Sales Rep 4 ID"
            }
          },
          "type": "object"
        },
        "salesRepId5": {
          "properties": {
            "value": {
              "type": "string",
              "title": "Sales Rep 5 Name"
            },
            "id": {
              "type": "integer",
              "format": "int32",
              "title": "Sales Rep 5 ID"
            }
          },
          "type": "object"
        },
        "comment": {
          "type": "string",
          "title": "Comment"
        },
        "address1": {
          "type": "string",
          "title": "Address 1"
        },
        "address2": {
          "type": "string",
          "title": "Address 2"
        },
        "city": {
          "type": "string",
          "title": "City"
        },
        "postcode": {
          "type": "string",
          "title": "Postal Code"
        },
        "region": {
          "type": "string",
          "title": "Region"
        },
        "countryId": {
          "properties": {
            "value": {
              "type": "string",
              "title": "Country Name"
            },
            "id": {
              "type": "integer",
              "format": "int32",
              "title": "Country ID"
            }
          },
          "type": "object"
        },
        "extId": {
          "type": "string",
          "title": "External ID"
        },
        "dateCreated": {
          "type": "string",
          "format": "date-time",
          "title": "Created At"
        },
        "dateUpdated": {
          "type": "string",
          "format": "date-time",
          "title": "Updated At"
        },
        "dateDeleted": {
          "type": "string",
          "format": "date-time",
          "title": "Deleted At"
        },
        "salesRepIdCreated": {
          "type": "integer",
          "format": "int32",
          "title": "Sales Rep ID  (Account Creation)"
        },
        "salesRepIdUpdated": {
          "type": "integer",
          "format": "int32",
          "title": "Sales Rep ID  (Account Update)"
        },
        "salesRepIdDeleted": {
          "type": "integer",
          "format": "int32",
          "title": "Sales Rep ID (Account Deletion)"
        },
        "phone2": {
          "type": "string",
          "title": "Phone 2"
        },
        "phone3": {
          "type": "string",
          "title": "Phone 3"
        },
        "fax": {
          "type": "string",
          "title": "Fax"
        },
        "website": {
          "type": "string",
          "title": "Website"
        },
        "geocoded": {
          "type": "boolean",
          "title": "Geocoded"
        },
        "geocodingAccuracy": {
          "type": "integer",
          "title": "Geocoding Accuracy"
        },
        "latitude": {
          "type": "number",
          "title": "Latitude"
        },
        "longitude": {
          "type": "number",
          "title": "Longitude"
        },
        "permissionLevel": {
          "type": "integer",
          "format": "int32",
          "title": "Permission Level"
        },
        "public": {
          "type": "boolean",
          "title": "Public"
        },
        "readOnly": {
          "type": "boolean",
          "title": "Read-Only"
        },
        "rateId": {
          "properties": {
            "value": {
              "type": "string",
              "title": "Rate Name"
            },
            "id": {
              "type": "integer",
              "format": "int32",
              "title": "Rate ID"
            }
          },
          "type": "object"
        },
        "segmentId": {
          "properties": {
            "value": {
              "type": "string",
              "title": "Segment Name"
            },
            "id": {
              "type": "integer",
              "format": "int32",
              "title": "Segment ID"
            }
          },
          "type": "object"
        }
      }
    },
    "ContactModel": {
      "type": "object",
      "properties": {
        "customFields": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "GetCustomFieldsSchema",
            "value-path": "data",
            "parameters": {
              "entity": "contactos",
              "action": "create"
            }
          }
        },
        "firstName": {
          "type": "string",
          "x-ms-visibility": "important",
          "title": "Name",
          "description": "First Name of the Contact"
        },
        "lastName": {
          "type": "string",
          "x-ms-visibility": "important",
          "title": "Last Name",
          "description": "Last Name of the Contact"
        },
        "accountId": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "title": "Account ID",
          "description": "Account ID related to the Contact"
        },
        "typeId": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "title": "Type ID",
          "description": "Type ID of the Contact",
          "x-ms-dynamic-values": {
            "operationId": "ListContactTypes",
            "value-path": "id",
            "value-title": "description"
          }
        },
        "phone1": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "title": "Phone 1",
          "description": "First phone number for the Contact"
        },
        "phone2": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "title": "Phone 2",
          "description": "Second phone number for the Contact"
        },
        "fax": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "title": "Fax",
          "description": "Contact's fax number"
        },
        "email": {
          "type": "string",
          "x-ms-visibility": "important",
          "title": "Email",
          "description": "Contact's email address"
        },
        "email2": {
          "type": "string",
          "x-ms-visibility": "important",
          "title": "Email 2",
          "description": "Contact's second email address"
        },
        "email3": {
          "type": "string",
          "x-ms-visibility": "important",
          "title": "Email 3",
          "description": "Contact's third email address"
        },
        "salesRepId": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "title": "Sales Rep ID",
          "description": "User responsible for the Contact"
        },
        "comment": {
[...]
