{
  "swagger": "2.0",
  "info": {
    "title": "APlace.io",
    "description": "APlace is a service that allows you to simply integrate powerful geolocation tools into your application, including address autocomplete and reverse geocoding.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.aplace.io",
  "basePath": "/api/v1.0/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/search": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "session_id": {
                  "type": "string",
                  "description": "The session identifier.",
                  "title": "Session ID"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "score": {
                        "type": "number",
                        "format": "float",
                        "description": "The score.",
                        "title": "Score"
                      },
                      "match": {
                        "type": "string",
                        "description": "The match.",
                        "title": "Match"
                      },
                      "match_details": {
                        "type": "string",
                        "description": "The match details.",
                        "title": "Match Details"
                      },
                      "lat": {
                        "type": "number",
                        "format": "float",
                        "description": "The latitude.",
                        "title": "Lat"
                      },
                      "lon": {
                        "type": "number",
                        "format": "float",
                        "description": "The longitude.",
                        "title": "Lon"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "address": {
                        "type": "object",
                        "properties": {
                          "house_number": {
                            "type": "string",
                            "description": "The house number.",
                            "title": "House Number"
                          },
                          "road": {
                            "type": "string",
                            "description": "The road.",
                            "title": "Road"
                          },
                          "quarter": {
                            "type": "string",
                            "description": "The quarter.",
                            "title": "Quarter"
                          },
                          "city": {
                            "type": "string",
                            "description": "The city.",
                            "title": "City"
                          },
                          "postcode": {
                            "type": "string",
                            "description": "The postal code.",
                            "title": "Postcode"
                          },
                          "county": {
                            "type": "string",
                            "description": "The country.",
                            "title": "County"
                          },
                          "state": {
                            "type": "string",
                            "description": "The state.",
                            "title": "State"
                          },
                          "state_code": {
                            "type": "string",
                            "description": "The state code.",
                            "title": "State Code"
                          },
                          "region": {
                            "type": "string",
                            "description": "The region.",
                            "title": "Region"
                          },
                          "region_code": {
                            "type": "string",
                            "description": "The region code.",
                            "title": "Region Code"
                          },
                          "country": {
                            "type": "string",
                            "description": "The country.",
                            "title": "Country"
                          },
                          "country_code": {
                            "type": "string",
                            "description": "The country code.",
                            "title": "Country Code"
                          }
                        },
                        "title": "Address"
                      },
                      "debug": {
                        "type": "object",
                        "properties": {
                          "custom_score_norm": {
                            "type": "string",
                            "description": "The norm custom score.",
                            "title": "Custom Score Norm"
                          },
                          "from": {
                            "type": "string",
                            "description": "The from.",
                            "title": "From"
                          }
                        },
                        "title": "Debug"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Search for location",
        "description": "Retrieve a list of matching locations.",
        "operationId": "SearchGet",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Query",
            "description": "The query.",
            "required": true,
            "type": "string"
          },
          {
            "name": "session_id",
            "in": "query",
            "x-ms-summary": "Session ID",
            "description": "The session identifier.",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "x-ms-summary": "Type",
            "description": "The type.",
            "required": false,
            "type": "string",
            "enum": [
              "house_number",
              "road",
              "quarter",
              "city",
              "county",
              "state",
              "region",
              "country"
            ]
          },
          {
            "name": "countries",
            "in": "query",
            "x-ms-summary": "Countries",
            "description": "The countries.",
            "required": false,
            "type": "string"
          },
          {
            "name": "lat",
            "in": "query",
            "x-ms-summary": "Latitude",
            "description": "The latitude.",
            "required": false,
            "type": "number"
          },
          {
            "name": "lon",
            "in": "query",
            "x-ms-summary": "Longitude",
            "description": "The longitude.",
            "required": false,
            "type": "number"
          },
          {
            "name": "radius",
            "in": "query",
            "x-ms-summary": "Radius",
            "description": "The radius.",
            "required": false,
            "type": "number"
          },
          {
            "name": "lang",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language.",
            "required": false,
            "type": "string"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/pip": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "session_id": {
                  "type": "string",
                  "description": "The session identifier.",
                  "title": "Session ID"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "score": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The score.",
                        "title": "Score"
                      },
                      "match": {
                        "type": "string",
                        "description": "The match.",
                        "title": "Match"
                      },
                      "match_details": {
                        "type": "string",
                        "description": "The match details.",
                        "title": "Match Details"
                      },
                      "lat": {
                        "type": "number",
                        "format": "float",
                        "description": "The latitude.",
                        "title": "Lat"
                      },
                      "lon": {
                        "type": "number",
                        "format": "float",
                        "description": "The longitude.",
                        "title": "Lon"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "address": {
                        "type": "object",
                        "properties": {
                          "house_number": {
                            "type": "string",
                            "description": "The house number.",
                            "title": "House Number"
                          },
                          "road": {
                            "type": "string",
                            "description": "The road.",
                            "title": "Road"
                          },
                          "quarter": {
                            "type": "string",
                            "description": "The quarter.",
                            "title": "Quarter"
                          },
                          "city": {
                            "type": "string",
                            "description": "The city.",
                            "title": "City"
                          },
                          "postcode": {
                            "type": "string",
                            "description": "The postal code.",
                            "title": "Postcode"
                          },
                          "county": {
                            "type": "string",
                            "description": "The country.",
                            "title": "County"
                          },
                          "state": {
                            "type": "string",
                            "description": "The state.",
                            "title": "State"
                          },
                          "region": {
                            "type": "string",
                            "description": "The region.",
                            "title": "Region"
                          },
                          "country": {
                            "type": "string",
                            "description": "The country.",
                            "title": "Country"
                          },
                          "country_code": {
                            "type": "string",
                            "description": "The country code.",
                            "title": "Country Code"
                          }
                        },
                        "title": "Address"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get point in polygon",
        "description": "Retrieve the point in polygon (PIP) from a geographical point.",
        "operationId": "PIPGet",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "x-ms-summary": "Latitude",
            "description": "The latitude.",
            "required": false,
            "type": "number"
          },
          {
            "name": "lon",
            "in": "query",
            "x-ms-summary": "Longitude",
            "description": "The longitude.",
            "required": false,
            "type": "number"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://aplace.io/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://aplace.io/en/info/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}