{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Docusign MCP Demo",
    "description": "Intelligent, secure contract management powered by Docusign.",
    "contact": {
      "name": "docusign",
      "url": "https://support.docusign.com"
    }
  },
  "host": "mcp-d.docusign.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/mcp": {
      "post": {
        "responses": {
          "200": {
            "description": "Immediate Response"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. Ensure a valid access token is provided and that the connector is properly authenticated with DocuSign."
          },
          "500": {
            "description": "Internal Server Error. An unexpected error occurred on the DocuSign MCP server. Please try again later or contact DocuSign support if the issue persists."
          }
        },
        "x-ms-agentic-protocol": "mcp-streamable-1.0",
        "operationId": "InvokeServer",
        "summary": "Docusign MCP Server",
        "description": "Invoke Docusign MCP Server with a streamable response"
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.docusign.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.docusign.com/company/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Productivity"
    }
  ]
}