{
  "swagger": "2.0",
  "info": {
    "title": "Exact Time & Billing",
    "version": "1.0.1",
    "description": "This API contains all methods for the Exact Online package \"Time & Billing\".",
    "contact": {
      "name": "Indocs",
      "url": "https://indocs.nl",
      "email": "support@indocs.nl"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://indocs.nl"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://indocs.nl/privacyverklaring"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM;Human Resources"
    }
  ],
  "host": "start.exactonline.nl",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{division}/hrm/Divisions": {
      "get": {
        "tags": [
          "Divisions"
        ],
        "summary": "Get divisions",
        "description": "Returns only divisions that are accessible to the signed-in user, as configured in the user card under 'Companies: Access rights'. Accountants will only see divisions that belong to a single license (either their own or a client's), being the license that owns the division specified in the URI.Please note that divisions returned are only those which the user has granted permission to.Recommended alternative that is not limited to accessible divisions: /api/v1/{division}/system/AllDivisionsRecommended alternative that is not limited to a single license: /api/v1/{division}/system/Divisions",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=HRMDivisions"
        },
        "operationId": "GetDivisions",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DivisionsResponse"
            }
          }
        }
      }
    },
    "/{division}/project/EmploymentInternalRates": {
      "get": {
        "tags": [
          "Employment Internal Rates"
        ],
        "summary": "Get employment internal rates",
        "description": "Use this endpoint to retrieve internal rates of employees.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ProjectEmploymentInternalRates"
        },
        "operationId": "GetEmploymentInternalRates",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EmploymentInternalRatesResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/HourCostTypes": {
      "get": {
        "tags": [
          "Hour Cost Types"
        ],
        "summary": "Get hour cost types",
        "description": "This endpoint enables users to retrieve up to date active Hour and Cost types.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectHourCostTypes"
        },
        "operationId": "GetHourCostTypes",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HourCostTypesResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/HourEntryActivitiesByProject": {
      "get": {
        "tags": [
          "Hour Entry Activities By Project"
        ],
        "summary": "Get hour entry activities by project",
        "description": "This endpoint enables users to retrieve a list of WBS Activities and its parent Deliverable based on the project ID provided.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectHourEntryActivitiesByProject"
        },
        "operationId": "GetHourEntryActivitiesByProject",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "The projectId.",
            "x-ms-summary": "projectId",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HourEntryActivitiesByProjectResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/HourEntryRecentAccounts": {
      "get": {
        "tags": [
          "Hour Entry Recent Accounts"
        ],
        "summary": "Get hour entry recent accounts",
        "description": "Use this endpoint to read a list of accounts that is used by an employee to create hour entries. The list is ordered by the most recently used first.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectHourEntryRecentAccounts"
        },
        "operationId": "GetHourEntryRecentAccounts",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HourEntryRecentAccountsResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/HourEntryRecentAccountsByProject": {
      "get": {
        "tags": [
          "Hour Entry Recent Accounts By Project"
        ],
        "summary": "Get hour entry recent accounts by project",
        "description": "This endpoint enables users to retrieve a list of Accounts used by an employee for hour entries based on the Project Id provided. The list is ordered by the most recently used first.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectHourEntryRecentAccountsByProject"
        },
        "operationId": "GetHourEntryRecentAccountsByProject",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "The projectId.",
            "x-ms-summary": "projectId",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HourEntryRecentAccountsByProjectResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/HourEntryRecentHourTypes": {
      "get": {
        "tags": [
          "Hour Entry Recent Hour Types"
        ],
        "summary": "Get hour entry recent hour types",
        "description": "Use this endpoint to read a list of items that is used by an employee to create hour entries. The list is ordered by the most recently used first.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectHourEntryRecentHourTypes"
        },
        "operationId": "GetHourEntryRecentHourTypes",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HourEntryRecentHourTypesResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/HourEntryRecentHourTypesByProject": {
      "get": {
        "tags": [
          "Hour Entry Recent Hour Types By Project"
        ],
        "summary": "Get hour entry recent hour types by project",
        "description": "This endpoint enables users to retrieve a list of Items used by an employee for hour entries based on the Project Id provided. The list is ordered by the most recently used first.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectHourEntryRecentHourTypesByProject"
        },
        "operationId": "GetHourEntryRecentHourTypesByProject",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "The projectId.",
            "x-ms-summary": "projectId",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HourEntryRecentHourTypesByProjectResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/HourEntryRecentProjects": {
      "get": {
        "tags": [
          "Hour Entry Recent Projects"
        ],
        "summary": "Get hour entry recent projects",
        "description": "Use this endpoint to read and retrieve projects that employees have used for entering hour entries order by most recently.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectHourEntryRecentProjects"
        },
        "operationId": "GetHourEntryRecentProjects",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HourEntryRecentProjectsResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/HoursByDate": {
      "get": {
        "tags": [
          "Hours By Date"
        ],
        "summary": "Get hours by date",
        "description": "Use this endpoint to read , filter and display all hour entries by employee based on the Date provided.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectHoursByDate"
        },
        "operationId": "GetHoursByDate",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "checkDate",
            "in": "query",
            "description": "The checkDate.",
            "x-ms-summary": "checkDate",
            "required": true,
            "type": "string",
            "format": "date-time",
            "x-ms-visibility": "important"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HoursByDateResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/HoursById": {
      "get": {
        "tags": [
          "Hours By Id"
        ],
        "summary": "Get hours by id",
        "description": "This endpoint enables users to retrieve an hour entry's information for an employee.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectHoursById"
        },
        "operationId": "GetHoursById",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          },
          {
            "name": "entryId",
            "in": "query",
            "description": "The entryId.",
            "x-ms-summary": "entryId",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HoursByIdResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/HourTypes": {
      "get": {
        "tags": [
          "Hour Types"
        ],
        "summary": "Get hour types",
        "description": "This endpoint enables users to retrieve up to date active Hour types.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectHourTypes"
        },
        "operationId": "GetHourTypes",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HourTypesResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/HourTypesByDate": {
      "get": {
        "tags": [
          "Hour Types By Date"
        ],
        "summary": "Get hour types by date",
        "description": "This endpoint enables users to retrieve active Hour types based on date provided.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectHourTypesByDate"
        },
        "operationId": "GetHourTypesByDate",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "checkDate",
            "in": "query",
            "description": "The checkDate.",
            "x-ms-summary": "checkDate",
            "required": true,
            "type": "string",
            "format": "date-time",
            "x-ms-visibility": "important"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HourTypesByDateResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/HourTypesByProjectAndDate": {
      "get": {
        "tags": [
          "Hour Types By Project And Date"
        ],
        "summary": "Get hour types by project and date",
        "description": "Use this endpoint to read active hour types by providing project id and a reference check date.Note: Employee Id parameter is optional. Hour types listed will be based on a hierachy with project employee hour type restriction, project hour type restriction and employee restriction by providing this additional parameter. For this function to work correctly, you must supply all parameters.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectHourTypesByProjectAndDate"
        },
        "operationId": "GetHourTypesByProjectAndDate",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "The projectId.",
            "x-ms-summary": "projectId",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HourTypesByProjectAndDateResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/project/ProjectRestrictionRebillings": {
      "get": {
        "tags": [
          "Project Restriction Rebillings"
        ],
        "summary": "Get project restriction rebillings",
        "description": "This endpoint enables users to restrict which cost types the project allows rebilling to customer.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ProjectProjectRestrictionRebillings"
        },
        "operationId": "GetProjectRestrictionRebillings",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProjectRestrictionRebillingsResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Project Restriction Rebillings"
        ],
        "summary": "Update project restriction rebillings",
        "description": "This endpoint enables users to restrict which cost types the project allows rebilling to customer.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ProjectProjectRestrictionRebillings"
        },
        "operationId": "PutProjectRestrictionRebillings",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          },
          {
            "name": "ID",
            "in": "query",
            "description": "Primary key",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "ProjectRestrictionRebillings",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ProjectRestrictionRebillings"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProjectRestrictionRebillingsResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Project Restriction Rebillings"
        ],
        "summary": "Create project restriction rebillings",
        "description": "This endpoint enables users to restrict which cost types the project allows rebilling to customer.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ProjectProjectRestrictionRebillings"
        },
        "operationId": "PostProjectRestrictionRebillings",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          },
          {
            "name": "ProjectRestrictionRebillings",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ProjectRestrictionRebillings"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProjectRestrictionRebillingsResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Project Restriction Rebillings"
        ],
        "summary": "Delete project restriction rebillings",
        "description": "This endpoint enables users to restrict which cost types the project allows rebilling to customer.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ProjectProjectRestrictionRebillings"
        },
        "operationId": "DeleteProjectRestrictionRebillings",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          },
          {
            "name": "ID",
            "in": "query",
            "description": "Primary key",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProjectRestrictionRebillingsResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/RecentCostsByNumberOfWeeks": {
      "get": {
        "tags": [
          "Recent Costs By Number Of Weeks"
        ],
        "summary": "Get recent costs by number of weeks",
        "description": "Use this endpoint to read cost entries in the last specified number of ISO weeks.For time and billing project users to gather insight on the cost based on status by the user per week ordered by the most recent date, in turn aid in generate powerful reports.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectRecentCostsByNumberOfWeeks"
        },
        "operationId": "GetRecentCostsByNumberOfWeeks",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          },
          {
            "name": "numberOfWeeks",
            "in": "query",
            "description": "The numberOfWeeks.",
            "x-ms-summary": "numberOfWeeks",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RecentCostsByNumberOfWeeksResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/RecentHours": {
      "get": {
        "tags": [
          "Recent Hours"
        ],
        "summary": "Get recent hours",
        "description": "This endpoint enables users to retrieve hour entries in the last 4 ISO weeks, including the current week. The list is ordered by most recent date first.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectRecentHours"
        },
        "operationId": "GetRecentHours",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RecentHoursResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/RecentHoursByNumberOfWeeks": {
      "get": {
        "tags": [
          "Recent Hours By Number Of Weeks"
        ],
        "summary": "Get recent hours by number of weeks",
        "description": "Use this endpoint to read hour entries in the last specified number of ISO weeks.For time and billing project users to gather insight on the amount of hours based on status by the user per week ordered by the most recent date, in turn aid in generate powerful reports.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectRecentHoursByNumberOfWeeks"
        },
        "operationId": "GetRecentHoursByNumberOfWeeks",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          },
          {
            "name": "numberOfWeeks",
            "in": "query",
            "description": "The numberOfWeeks.",
            "x-ms-summary": "numberOfWeeks",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RecentHoursByNumberOfWeeksResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/TimeAndBillingAccountDetails": {
      "get": {
        "tags": [
          "Time And Billing Account Details"
        ],
        "summary": "Get time and billing account details",
        "description": "This endpoint enables users to retrieve the account details.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectTimeAndBillingAccountDetails"
        },
        "operationId": "GetTimeAndBillingAccountDetails",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TimeAndBillingAccountDetailsResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/TimeAndBillingAccountDetailsByID": {
      "get": {
        "tags": [
          "Time And Billing Account Details ByID"
        ],
        "summary": "Get time and billing account details byid",
        "description": "This endpoint enables users to retrieve the account details.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectTimeAndBillingAccountDetailsByID"
        },
        "operationId": "GetTimeAndBillingAccountDetailsByID",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "accountId",
            "in": "query",
            "description": "The accountId.",
            "x-ms-summary": "accountId",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TimeAndBillingAccountDetailsByIDResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/TimeAndBillingActivitiesAndExpenses": {
      "get": {
        "tags": [
          "Time And Billing Activities And Expenses"
        ],
        "summary": "Get time and billing activities and expenses",
        "description": "Use this endpoint to retrieve a list of Activities, Expenses and its parent Deliverable.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectTimeAndBillingActivitiesAndExpenses"
        },
        "operationId": "GetTimeAndBillingActivitiesAndExpenses",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TimeAndBillingActivitiesAndExpensesResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/TimeAndBillingEntryAccounts": {
      "get": {
        "tags": [
          "Time And Billing Entry Accounts"
        ],
        "summary": "Get time and billing entry accounts",
        "description": "This endpoint enables users to retrieve currently active account details.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectTimeAndBillingEntryAccounts"
        },
        "operationId": "GetTimeAndBillingEntryAccounts",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TimeAndBillingEntryAccountsResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/TimeAndBillingEntryAccountsByDate": {
      "get": {
        "tags": [
          "Time And Billing Entry Accounts By Date"
        ],
        "summary": "Get time and billing entry accounts by date",
        "description": "This endpoint enables users to retrieve all accounts still active as of the date provided as the parameter.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectTimeAndBillingEntryAccountsByDate"
        },
        "operationId": "GetTimeAndBillingEntryAccountsByDate",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "checkDate",
            "in": "query",
            "description": "The checkDate.",
            "x-ms-summary": "checkDate",
            "required": true,
            "type": "string",
            "format": "date-time",
            "x-ms-visibility": "important"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TimeAndBillingEntryAccountsByDateResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/TimeAndBillingEntryAccountsByProjectAndDate": {
      "get": {
        "tags": [
          "Time And Billing Entry Accounts By Project And Date"
        ],
        "summary": "Get time and billing entry accounts by project and date",
        "description": "This endpoint enables users to retrieve the account related to the project ID as of the date provided as the parameters.For this function to work correctly, you must supply all parameters.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectTimeAndBillingEntryAccountsByProjectAndDate"
        },
        "operationId": "GetTimeAndBillingEntryAccountsByProjectAndDate",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "The projectId.",
            "x-ms-summary": "projectId",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TimeAndBillingEntryAccountsByProjectAndDateResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/TimeAndBillingEntryProjects": {
      "get": {
        "tags": [
          "Time And Billing Entry Projects"
        ],
        "summary": "Get time and billing entry projects",
        "description": "This endpoint enables users to retrieve project code and project description based on the project ID provided.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectTimeAndBillingEntryProjects"
        },
        "operationId": "GetTimeAndBillingEntryProjects",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TimeAndBillingEntryProjectsResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/TimeAndBillingEntryProjectsByAccountAndDate": {
      "get": {
        "tags": [
          "Time And Billing Entry Projects By Account And Date"
        ],
        "summary": "Get time and billing entry projects by account and date",
        "description": "This endpoint enables users to retrieve a list of projects allowed for an employee based on the Account and Date provided.For this function to work correctly, you must supply all parameters.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectTimeAndBillingEntryProjectsByAccountAndDate"
        },
        "operationId": "GetTimeAndBillingEntryProjectsByAccountAndDate",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "accountId",
            "in": "query",
            "description": "The accountId.",
            "x-ms-summary": "accountId",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TimeAndBillingEntryProjectsByAccountAndDateResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/TimeAndBillingEntryProjectsByDate": {
      "get": {
        "tags": [
          "Time And Billing Entry Projects By Date"
        ],
        "summary": "Get time and billing entry projects by date",
        "description": "Use this endpoint to read a list of projects allowed for an employee based on the Date provided.Note: For getting the list, it is mandatory to supply check date.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectTimeAndBillingEntryProjectsByDate"
        },
        "operationId": "GetTimeAndBillingEntryProjectsByDate",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "checkDate",
            "in": "query",
            "description": "The checkDate.",
            "x-ms-summary": "checkDate",
            "required": true,
            "type": "string",
            "format": "date-time",
            "x-ms-visibility": "important"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TimeAndBillingEntryProjectsByDateResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/TimeAndBillingEntryRecentAccounts": {
      "get": {
        "tags": [
          "Time And Billing Entry Recent Accounts"
        ],
        "summary": "Get time and billing entry recent accounts",
        "description": "This endpoint enables users to retrieve a list of Accounts used by an employee for hour and cost entries. The list is ordered by the most recently used first.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectTimeAndBillingEntryRecentAccounts"
        },
        "operationId": "GetTimeAndBillingEntryRecentAccounts",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TimeAndBillingEntryRecentAccountsResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/TimeAndBillingEntryRecentActivitiesAndExpenses": {
      "get": {
        "tags": [
          "Time And Billing Entry Recent Activities And Expenses"
        ],
        "summary": "Get time and billing entry recent activities and expenses",
        "description": "This endpoint enables users to retrieve a list of Activites and Expenses together with its corresponding parent Deliverable used by an employee for hour and cost entries. The list is ordered by the most recently used first.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectTimeAndBillingEntryRecentActivitiesAndExpenses"
        },
        "operationId": "GetTimeAndBillingEntryRecentActivitiesAndExpenses",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TimeAndBillingEntryRecentActivitiesAndExpensesResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/TimeAndBillingEntryRecentHourCostTypes": {
      "get": {
        "tags": [
          "Time And Billing Entry Recent Hour Cost Types"
        ],
        "summary": "Get time and billing entry recent hour cost types",
        "description": "This endpoint enables users to retrieve a list of Items used by an employee for hour and cost entries. The list is ordered by the most recently used first.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectTimeAndBillingEntryRecentHourCostTypes"
        },
        "operationId": "GetTimeAndBillingEntryRecentHourCostTypes",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TimeAndBillingEntryRecentHourCostTypesResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/TimeAndBillingEntryRecentProjects": {
      "get": {
        "tags": [
          "Time And Billing Entry Recent Projects"
        ],
        "summary": "Get time and billing entry recent projects",
        "description": "This endpoint enables users to retrieve a list of Projects used by an employee for hour and cost entries. The list is ordered by the most recently used first.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectTimeAndBillingEntryRecentProjects"
        },
        "operationId": "GetTimeAndBillingEntryRecentProjects",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TimeAndBillingEntryRecentProjectsResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/TimeAndBillingItemDetails": {
      "get": {
        "tags": [
          "Time And Billing Item Details"
        ],
        "summary": "Get time and billing item details",
        "description": "This endpoint enables users to retrieve a list of Items with details.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectTimeAndBillingItemDetails"
        },
        "operationId": "GetTimeAndBillingItemDetails",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TimeAndBillingItemDetailsResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/TimeAndBillingItemDetailsByID": {
      "get": {
        "tags": [
          "Time And Billing Item Details ByID"
        ],
        "summary": "Get time and billing item details byid",
        "description": "Use this endpoint to read an Item used in hour and cost entries with details based on the Item Id provided.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectTimeAndBillingItemDetailsByID"
        },
        "operationId": "GetTimeAndBillingItemDetailsByID",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          },
          {
            "name": "itemId",
            "in": "query",
            "description": "The itemId.",
            "x-ms-summary": "itemId",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TimeAndBillingItemDetailsByIDResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/TimeAndBillingProjectDetails": {
      "get": {
        "tags": [
          "Time And Billing Project Details"
        ],
        "summary": "Get time and billing project details",
        "description": "This endpoint enables users to retrieve a list of Projects with details.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectTimeAndBillingProjectDetails"
        },
        "operationId": "GetTimeAndBillingProjectDetails",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TimeAndBillingProjectDetailsResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Projects billing"
            ]
          }
        ]
      }
    },
    "/{division}/read/project/TimeAndBillingProjectDetailsByID": {
      "get": {
        "tags": [
          "Time And Billing Project Details ByID"
        ],
        "summary": "Get time and billing project details byid",
        "description": "Use this endpoint to read and retrieve time and billing project details based on the project ID provided.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=ReadProjectTimeAndBillingProjectDetailsByID"
        },
        "operationId": "GetTimeAndBillingProjectDetailsByID",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "The projectId.",
            "x-ms-summary": "projectId",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
[...]
