{
  "swagger": "2.0",
  "info": {
    "title": "TxtSync",
    "description": "TxtSync enables applications to send and receive global SMS while tracking open rates and delivery reports. Easily make SMS part of your organisations worflow processes through TxtSync. \n\nPlease go to https://txtsync.com/microsoft-flow for 3 simple steps on how to get up and running.  Remember to generate your Client Key and Client Secret as these are used for your Username and Password.",
    "version": "1.1"
  },
  "host": "api.txtsync.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/sms/send": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "FromNumber": {
                  "type": "string",
                  "description": "The Sender ID or E164 number to send from",
                  "title": "From Number",
                  "x-ms-visibility": ""
                },
                "ToNumber": {
                  "type": "string",
                  "description": "The mobile number to send the SMS to",
                  "title": "To Number",
                  "x-ms-visibility": ""
                },
                "ContactID": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Unique identifier of the Contact",
                  "title": "Contact ID",
                  "x-ms-visibility": ""
                },
                "Direction": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Direction of the SMS. 0 is outbound and 1 is inbound",
                  "title": "Direction",
                  "x-ms-visibility": ""
                },
                "Message": {
                  "type": "string",
                  "description": "The message body of the message",
                  "title": "Message",
                  "x-ms-visibility": ""
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "The date (UTC) of when the SMS was created",
                  "title": "Created Date",
                  "format": "date-time",
                  "x-ms-visibility": ""
                },
                "SMSID": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Unique identifier of the SMS",
                  "title": "SMS ID",
                  "x-ms-visibility": ""
                }
              }
            }
          }
        },
        "summary": "Send an SMS",
        "description": "Sends out a single SMS to an E164 number",
        "operationId": "SendSMS",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "M3Yf9L0njL8eL9ukphahq9zk5LFRIOvn2fT4BcmV",
            "x-ms-visibility": "internal"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-zapier",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "true",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "From": {
                  "type": "string",
                  "description": "The Sender ID or E164 number to send from",
                  "title": "From",
                  "x-ms-visibility": ""
                },
                "Message": {
                  "type": "string",
                  "description": "The message body of the message",
                  "title": "Message",
                  "x-ms-visibility": ""
                },
                "To": {
                  "type": "string",
                  "description": "The mobile number to send the SMS to, ideally this number needs to include the country code and be in E164 format",
                  "title": "To",
                  "x-ms-visibility": ""
                },
                "RegardingReference": {
                  "type": "string",
                  "description": "The Entity ID (Relates to Microsoft Dynamics 365 Entity)",
                  "title": "RegardingReference",
                  "x-ms-visibility": ""
                },
                "RegardingSchema": {
                  "type": "string",
                  "description": "The Entity Schema (Relates to Microsoft Dynamics 365 Entity)",
                  "title": "RegardingSchema",
                  "x-ms-visibility": ""
                },
                "ScheduledDate": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Schedule the SMS for a set time/date",
                  "title": "ScheduledDate",
                  "x-ms-visibility": ""
                },
                "Custom01": {
                  "type": "string",
                  "description": "Custom Field to store against the SMS",
                  "title": "Custom01",
                  "x-ms-visibility": ""
                },
                "Custom02": {
                  "type": "string",
                  "description": "Custom Field to store against the SMS",
                  "title": "Custom02",
                  "x-ms-visibility": ""
                },
                "Custom03": {
                  "type": "string",
                  "description": "Custom Field to store against the SMS",
                  "title": "Custom03",
                  "x-ms-visibility": ""
                }
              },
              "required": [
                "From",
                "Message",
                "To"
              ]
            }
          }
        ]
      }
    },
    "/sms/send/bulk": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "SendBulkSMS",
        "summary": "Send Bulk SMS",
        "description": "Send SMS by List of Numbers or Tag Names",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "M3Yf9L0njL8eL9ukphahq9zk5LFRIOvn2fT4BcmV",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type:",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-zapier",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "true",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "From": {
                  "type": "string",
                  "description": "The Sender ID or E164 number to send from",
                  "title": "From",
                  "x-ms-visibility": ""
                },
                "To": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "List of E164 numbers to send to",
                    "title": "To",
                    "x-ms-visibility": ""
                  },
                  "description": "To"
                },
                "ToTagName": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "List of tag names to send to. The tag must exist in TxtSync and have contacts allocated to it",
                    "title": "To Tag Names",
                    "x-ms-visibility": ""
                  },
                  "description": "ToTagName"
                },
                "Message": {
                  "type": "string",
                  "description": "The message body of the message",
                  "title": "Message",
                  "x-ms-visibility": ""
                }
              },
              "required": [
                "From",
                "Message"
              ]
            }
          }
        ]
      }
    },
    "/system/applications/2/webhooks": {
      "x-ms-notification-content": {}
    },
    "/system/applications/webhooks": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "Content": {
              "type": "object",
              "properties": {
                "LastSMSOutbound": {
                  "type": "object",
                  "properties": {
                    "ContactID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the contact",
                      "title": "Contact ID",
                      "x-ms-visibility": ""
                    },
                    "ContactName": {
                      "type": "string",
                      "description": "The name of the contact if known",
                      "title": "Contact Name",
                      "x-ms-visibility": ""
                    },
                    "DeliveredDate": {
                      "type": "string",
                      "description": "The date (UTC) in which the SMS was delivered",
                      "title": "Delivered Date",
                      "format": "date-time",
                      "x-ms-visibility": ""
                    },
                    "FromNumber": {
                      "type": "string",
                      "description": "The number that sent the SMS",
                      "title": "From Number",
                      "x-ms-visibility": ""
                    },
                    "Message": {
                      "type": "string",
                      "description": "The body of the message",
                      "title": "Message",
                      "x-ms-visibility": ""
                    },
                    "SMSID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the SMS",
                      "title": "SMSID",
                      "x-ms-visibility": ""
                    },
                    "ToNumber": {
                      "type": "string",
                      "description": "The number that received the SMS",
                      "title": "ToNumber",
                      "x-ms-visibility": ""
                    }
                  },
                  "description": "Last Outbound SMS"
                },
                "Contact": {
                  "type": "object",
                  "properties": {
                    "ExternalReference": {
                      "type": "string",
                      "description": "External system reference of the contact",
                      "title": "ExternalReference",
                      "x-ms-visibility": ""
                    }
                  },
                  "description": "Contact"
                },
                "SMS": {
                  "type": "object",
                  "properties": {
                    "ContactID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the contact",
                      "title": "Contact ID",
                      "x-ms-visibility": ""
                    },
                    "ContactName": {
                      "type": "string",
                      "description": "The name of the contact if known",
                      "title": "Contact Name",
                      "x-ms-visibility": ""
                    },
                    "DeliveredDate": {
                      "type": "string",
                      "description": "The date (UTC) in which the SMS was delivered",
                      "title": "Delivered Date",
                      "format": "date-time",
                      "x-ms-visibility": ""
                    },
                    "FromNumber": {
                      "type": "string",
                      "description": "The number that sent the SMS",
                      "title": "From Number",
                      "x-ms-visibility": ""
                    },
                    "Message": {
                      "type": "string",
                      "description": "The body of the message",
                      "title": "Message",
                      "x-ms-visibility": ""
                    },
                    "SMSID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the SMS",
                      "title": "SMSID",
                      "x-ms-visibility": ""
                    },
                    "ToNumber": {
                      "type": "string",
                      "description": "The number that received the SMS",
                      "title": "ToNumber",
                      "x-ms-visibility": ""
                    }
                  },
                  "description": "SMS"
                }
              },
              "description": "Content"
            }
          }
        },
        "description": "Inbound SMS Response"
      }
    },
    "/contacts": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "title": "List of Contacts",
              "items": {
                "type": "object",
                "properties": {
                  "ContactID": {
                    "type": "integer",
                    "format": "int64",
                    "title": "Contact ID",
                    "description": "Unique identifier of the Contact"
                  },
                  "FirstName": {
                    "type": "string",
                    "title": "First Name",
                    "description": "Contacts firstname"
                  },
                  "LastName": {
                    "type": "string",
                    "title": "Last Name",
                    "description": "Contacts lastname"
                  },
                  "MobileNumber": {
                    "type": "string",
                    "title": "Mobile Number",
                    "description": "Contacts mobile number in E164 formatting"
                  },
                  "EmailAddress": {
                    "type": "string",
                    "title": "Email Address",
                    "description": "Contacts email address"
                  },
                  "FullName": {
                    "type": "string",
                    "title": "Full Name",
                    "description": "Contacts fullname"
                  },
                  "Custom01": {
                    "type": "string",
                    "title": "Custom01",
                    "description": "Custom field"
                  },
                  "Custom02": {
                    "type": "string",
                    "title": "Custom02",
                    "description": "Custom field"
                  },
                  "Custom03": {
                    "type": "string",
                    "title": "Custom03",
                    "description": "Custom field"
                  },
                  "Custom04": {
                    "type": "string",
                    "title": "Custom04",
                    "description": "Custom field"
                  },
                  "Custom05": {
                    "type": "string",
                    "title": "Custom05",
                    "description": "Custom field"
                  },
                  "OverallRating": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Overall Rating",
                    "description": "Contacts engagement rating 0 - 100"
                  },
                  "TotalDistinctLinkClicks": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Total Distinct Link Clicks",
                    "description": "How many distinct link clicks the contact has performed"
                  },
                  "TotalLinksSent": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Total Links Sent",
                    "description": "How many links the contact has been sent"
                  },
                  "TotalInboundSMS": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Total Inbound SMS",
                    "description": "The total amount of inbound SMS recieved from this contact"
                  },
                  "TotalOutboundSMS": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Total Outbound SMS",
                    "description": "The total amount of outbound SMS recieved to this contact"
                  },
                  "TotalFailedSMS": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Total Failed SMS",
                    "description": "The total amount of outbound SMS fails to this contact"
                  },
                  "ExternalReference": {
                    "type": "string",
                    "title": "External Reference",
                    "description": "External system reference for this contact"
                  },
                  "CompanyName": {
                    "type": "string",
                    "title": "Company Name",
                    "description": "Comany name of the contact"
                  },
                  "AddressLine1": {
                    "type": "string",
                    "title": "Address Line1",
                    "description": "Address line"
                  },
                  "AddressLine2": {
                    "type": "string",
                    "title": "Address Line2",
                    "description": "Address line"
                  },
                  "City": {
                    "type": "string",
                    "title": "City",
                    "description": "Address line"
                  },
                  "Postcode": {
                    "type": "string",
                    "title": "Postcode",
                    "description": "Address line"
                  },
                  "County": {
                    "type": "string",
                    "title": "County",
                    "description": "Address line"
                  },
                  "Country": {
                    "type": "string",
                    "title": "Country",
                    "description": "Address line"
                  },
                  "LastCommunicationDate": {
                    "type": "string",
                    "description": "The date (UTC) that the contact last communicated",
                    "title": "Last Communication Date",
                    "format": "date-time"
                  },
                  "AllowSMS": {
                    "type": "boolean",
                    "description": "Whether the contact wishes to receive SMS",
                    "title": "AllowSMS"
                  }
                }
              }
            }
          }
        },
        "operationId": "SearchContact",
        "summary": "Search Contacts",
        "description": "Search for contacts by name or number",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search for contact by name, number, or external reference",
            "x-ms-summary": "Search"
          },
          {
            "name": "searchNumber",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search for Phone Number (Less intense)",
            "x-ms-summary": "Search"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "M3Yf9L0njL8eL9ukphahq9zk5LFRIOvn2fT4BcmV",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "FirstName": {
                  "type": "string",
                  "title": "First Name",
                  "description": "Contacts firstname"
                },
                "LastName": {
                  "type": "string",
                  "title": "Last Name",
                  "description": "Contacts lastname"
                },
                "MobileNumber": {
                  "type": "string",
                  "title": "Mobile Number",
                  "description": "Contacts mobile number in E164 formatting"
                },
                "EmailAddress": {
                  "type": "string",
                  "title": "Email Address",
                  "description": "Contacts email address"
                },
                "ContactID": {
                  "type": "integer",
                  "format": "int64",
                  "title": "Contact ID",
                  "description": "Unique identifier of the contact"
                },
                "FullName": {
                  "type": "string",
                  "title": "Full Name",
                  "description": "Contacts fullname"
                }
              }
            }
          }
        },
        "summary": "Add a Contact",
        "description": "Adds a contact and applies tags",
        "operationId": "AddContact",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "M3Yf9L0njL8eL9ukphahq9zk5LFRIOvn2fT4BcmV",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "FirstName": {
                  "type": "string",
                  "title": "First Name",
                  "description": "Contacts firstname"
                },
                "LastName": {
                  "type": "string",
                  "title": "Last Name",
                  "description": "Contacts lastname"
                },
                "MobileNumber": {
                  "type": "string",
                  "description": "Contacts mobile number in E164 formatting",
                  "title": "Mobile Number",
                  "x-ms-visibility": ""
                },
                "CompanyName": {
                  "type": "string",
                  "title": "Company Name",
                  "description": "Contacts company name"
                },
                "ExternalReference": {
                  "type": "string",
                  "title": "External Reference",
                  "description": "External system reference to the contact"
                },
                "EmailAddress": {
                  "type": "string",
                  "title": "Email Address",
                  "description": "Contacts email address"
                },
                "AddressLine1": {
                  "type": "string",
                  "title": "Address Line1",
                  "description": "Address Line"
                },
                "AddressLine2": {
                  "type": "string",
                  "title": "Address Line2",
                  "description": "Address Line"
                },
                "City": {
                  "type": "string",
                  "title": "City",
                  "description": "Address Line"
                },
                "County": {
                  "type": "string",
                  "title": "County",
                  "description": "Address Line"
                },
                "Postcode": {
                  "type": "string",
                  "title": "Postcode",
                  "description": "Address Line"
                },
                "Country": {
                  "type": "string",
                  "title": "Country",
                  "description": "Address Line"
                },
                "Custom01": {
                  "type": "string",
                  "title": "Custom01",
                  "description": "Customer Field"
                },
                "Custom02": {
                  "type": "string",
                  "title": "Custom02",
                  "description": "Custom Field"
                },
                "Custom03": {
                  "type": "string",
                  "title": "Custom03",
                  "description": "Custom Field"
                },
                "Custom04": {
                  "type": "string",
                  "title": "Custom04",
                  "description": "Custom Field"
                },
                "Custom05": {
                  "type": "string",
                  "title": "Custom05",
                  "description": "Custom Field"
                },
                "TagNames": {
                  "type": "string",
                  "description": "CSV of tag names to apply to the contact E.G. Tag1,Tag2,Tag3",
                  "title": "Tag Names",
                  "x-ms-visibility": ""
                }
              },
              "required": [
                "MobileNumber"
              ]
            }
          }
        ]
      }
    },
    "/system/applications/webhooks/{hook_Id}": {
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Delete Webhook",
        "description": "Delete  Webhook",
        "operationId": "DeleteTrigger",
        "parameters": [
          {
            "name": "hook_Id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "M3Yf9L0njL8eL9ukphahq9zk5LFRIOvn2fT4BcmV",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/system/applications/webhooks/{type}": {
      "x-ms-notification-content": {
        "description": "Outbound SMS Response",
        "schema": {
          "type": "object",
          "properties": {
            "Content": {
              "type": "object",
              "properties": {
                "Contact": {
                  "type": "object",
                  "properties": {
                    "ExternalReference": {
                      "type": "string",
                      "description": "External system reference of the contact",
                      "title": "External Reference",
                      "x-ms-visibility": ""
                    }
                  },
                  "description": "Contact"
                },
                "SMS": {
                  "type": "object",
                  "properties": {
                    "ContactID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the contact",
                      "title": "Contact ID",
                      "x-ms-visibility": ""
                    },
                    "ContactName": {
                      "type": "string",
                      "description": "The name of the contact if known",
                      "title": "Contact Name",
                      "x-ms-visibility": ""
                    },
                    "CreatedDate": {
                      "type": "string",
                      "description": "The date (UTC) in which the SMS was sent",
                      "title": "Created Date",
                      "format": "date-time",
                      "x-ms-visibility": ""
                    },
                    "FromNumber": {
                      "type": "string",
                      "description": "The number that sent the SMS",
                      "title": "From Number",
                      "x-ms-visibility": ""
                    },
                    "Message": {
                      "type": "string",
                      "description": "The body of the message",
                      "title": "Message",
                      "x-ms-visibility": ""
                    },
                    "SMSID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the SMS",
                      "title": "SMS ID",
                      "x-ms-visibility": ""
                    },
                    "ToNumber": {
                      "type": "string",
                      "description": "The number that received the SMS",
                      "title": "To Number",
                      "x-ms-visibility": ""
                    }
                  },
                  "description": "SMS"
                }
              },
              "description": "Content"
            }
          }
        }
      }
    },
    "/system/applications/webhooks/0": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "Content": {
              "type": "object",
              "properties": {
                "LastSMSOutbound": {
                  "type": "object",
                  "properties": {
                    "ContactID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the contact",
                      "title": "Contact ID",
                      "x-ms-visibility": ""
                    },
                    "ContactName": {
                      "type": "string",
                      "description": "The name of the contact if known",
                      "title": "Contact Name",
                      "x-ms-visibility": ""
                    },
                    "DeliveredDate": {
                      "type": "string",
                      "description": "The date (UTC) in which the SMS was delivered",
                      "title": "Delivered Date",
                      "format": "date-time",
                      "x-ms-visibility": ""
                    },
                    "FromNumber": {
                      "type": "string",
                      "description": "The number that sent the SMS",
                      "title": "From Number",
                      "x-ms-visibility": ""
                    },
                    "Message": {
                      "type": "string",
                      "description": "The body of the message",
                      "title": "Message",
                      "x-ms-visibility": ""
                    },
                    "SMSID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the SMS",
                      "title": "SMSID",
                      "x-ms-visibility": ""
                    },
                    "ToNumber": {
                      "type": "string",
                      "description": "The number that received the SMS",
                      "title": "ToNumber",
                      "x-ms-visibility": ""
                    }
                  },
                  "description": "Last Outbound SMS"
                },
                "Contact": {
                  "type": "object",
                  "properties": {
                    "ExternalReference": {
                      "type": "string",
                      "description": "Contact External Reference', type: 'string', helpText: 'External system reference of the contact",
                      "title": "External Reference",
                      "x-ms-visibility": ""
                    }
                  },
                  "description": "Contact"
                },
                "SMS": {
                  "type": "object",
                  "properties": {
                    "ContactID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the contact",
                      "title": "Contact ID",
                      "x-ms-visibility": ""
                    },
                    "ContactName": {
                      "type": "string",
                      "description": "The name of the contact if known",
                      "title": "Contact Name",
                      "x-ms-visibility": ""
                    },
                    "DeliveredDate": {
                      "type": "string",
                      "description": "The date (UTC) in which the SMS was delivered",
                      "title": "Delivered Date",
                      "format": "date-time",
                      "x-ms-visibility": ""
                    },
                    "FromNumber": {
                      "type": "string",
                      "description": "The number that sent the SMS",
                      "title": "From Number",
                      "x-ms-visibility": ""
                    },
                    "Message": {
                      "type": "string",
                      "description": "The body of the message",
                      "title": "Message",
                      "x-ms-visibility": ""
                    },
                    "SMSID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the SMS",
                      "title": "SMS ID",
                      "x-ms-visibility": ""
                    },
                    "ToNumber": {
                      "type": "string",
                      "description": "The number that received the SMS",
                      "title": "To Number",
                      "x-ms-visibility": ""
                    }
                  },
                  "description": "SMS"
                }
              },
              "description": "Content"
            }
          }
        },
        "description": "Inbound SMS Response"
      }
    },
    "/system/applications/webhooks/5": {
      "x-ms-notification-content": {
        "description": "Outbound SMS Response",
        "schema": {
          "type": "object",
          "properties": {
            "Content": {
              "type": "object",
              "properties": {
                "Contact": {
                  "type": "object",
                  "properties": {
                    "ExternalReference": {
                      "type": "string",
                      "description": "External system reference of the contact",
                      "title": "External Reference",
                      "x-ms-visibility": ""
                    }
                  },
                  "description": "Contact"
                },
                "SMS": {
                  "type": "object",
                  "properties": {
                    "ContactID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the contact",
                      "title": "Contact ID",
                      "x-ms-visibility": ""
                    },
                    "ContactName": {
                      "type": "string",
                      "description": "The name of the contact if known",
                      "title": "Contact Name",
                      "x-ms-visibility": ""
                    },
                    "CreatedDate": {
                      "type": "string",
                      "description": "The date (UTC) in which the SMS was sent",
                      "title": "Created Date",
                      "format": "date-time",
                      "x-ms-visibility": ""
                    },
                    "FromNumber": {
                      "type": "string",
                      "description": "The number that sent the SMS",
                      "title": "From Number",
                      "x-ms-visibility": ""
                    },
                    "Message": {
                      "type": "string",
                      "description": "The body of the message",
                      "title": "Message",
                      "x-ms-visibility": ""
                    },
                    "SMSID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the SMS",
                      "title": "SMS ID",
                      "x-ms-visibility": ""
                    },
                    "ToNumber": {
                      "type": "string",
                      "description": "The number that received the SMS",
                      "title": "To Number",
                      "x-ms-visibility": ""
                    }
                  },
                  "description": "SMS"
                }
              },
              "description": "Content"
            }
          }
        }
      }
    },
    "/system/applications/webhooks/type/0": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "Content": {
              "type": "object",
              "properties": {
                "LastSMSOutbound": {
                  "type": "object",
                  "properties": {
                    "ContactID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the contact",
                      "title": "Contact ID",
                      "x-ms-visibility": ""
                    },
                    "ContactName": {
                      "type": "string",
                      "description": "The name of the contact if known",
                      "title": "Contact Name",
                      "x-ms-visibility": ""
                    },
                    "DeliveredDate": {
                      "type": "string",
                      "description": "The date (UTC) in which the SMS was delivered",
                      "title": "Delivered Date",
                      "format": "date-time",
                      "x-ms-visibility": ""
                    },
                    "FromNumber": {
                      "type": "string",
                      "description": "The number that sent the SMS",
                      "title": "From Number",
                      "x-ms-visibility": ""
                    },
                    "Message": {
                      "type": "string",
                      "description": "The body of the message",
                      "title": "Message",
                      "x-ms-visibility": ""
                    },
                    "SMSID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the SMS",
                      "title": "SMSID",
                      "x-ms-visibility": ""
                    },
                    "ToNumber": {
                      "type": "string",
                      "description": "The number that received the SMS",
                      "title": "ToNumber",
                      "x-ms-visibility": ""
                    }
                  },
                  "description": "Last Outbound SMS"
                },
                "Contact": {
                  "type": "object",
                  "properties": {
                    "ExternalReference": {
                      "type": "string",
                      "description": "Contact External Reference', type: 'string', helpText: 'External system reference of the contact",
                      "title": "External Reference",
                      "x-ms-visibility": ""
                    }
                  },
                  "description": "Contact"
                },
                "SMS": {
                  "type": "object",
                  "properties": {
                    "ContactID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the contact",
                      "title": "Contact ID",
                      "x-ms-visibility": ""
                    },
                    "ContactName": {
                      "type": "string",
                      "description": "The name of the contact if known",
                      "title": "Contact Name",
                      "x-ms-visibility": ""
                    },
                    "DeliveredDate": {
                      "type": "string",
                      "description": "The date (UTC) in which the SMS was delivered",
                      "title": "Delivered Date",
                      "format": "date-time",
                      "x-ms-visibility": ""
                    },
                    "FromNumber": {
                      "type": "string",
                      "description": "The number that sent the SMS",
                      "title": "From Number",
                      "x-ms-visibility": ""
                    },
                    "Message": {
                      "type": "string",
                      "description": "The body of the message",
                      "title": "Message",
                      "x-ms-visibility": ""
                    },
                    "SMSID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the SMS",
                      "title": "SMS ID",
                      "x-ms-visibility": ""
                    },
                    "ToNumber": {
                      "type": "string",
                      "description": "The number that received the SMS",
                      "title": "To Number",
                      "x-ms-visibility": ""
                    }
                  },
                  "description": "SMS"
                }
              },
              "description": "Content"
            }
          }
        },
        "description": "Inbound SMS Response"
      },
      "post": {
        "responses": {
          "default": {
            "schema": {
              "type": "object",
              "properties": {
                "Content": {
                  "type": "object",
                  "properties": {
                    "LastSMSOutbound": {
                      "type": "object",
                      "properties": {
                        "ContactID": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Uniquely identifies the contact",
                          "title": "Contact ID",
                          "x-ms-visibility": ""
                        },
                        "ContactName": {
                          "type": "string",
                          "description": "The name of the contact if known",
                          "title": "Contact Name",
                          "x-ms-visibility": ""
                        },
                        "DeliveredDate": {
                          "type": "string",
                          "description": "The date (UTC) in which the SMS was delivered",
                          "title": "Delivered Date",
                          "format": "date-time",
                          "x-ms-visibility": ""
                        },
                        "FromNumber": {
                          "type": "string",
                          "description": "The number that sent the SMS",
                          "title": "From Number",
                          "x-ms-visibility": ""
                        },
                        "Message": {
                          "type": "string",
                          "description": "The body of the message",
                          "title": "Message",
                          "x-ms-visibility": ""
                        },
                        "SMSID": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Uniquely identifies the SMS",
                          "title": "SMSID",
                          "x-ms-visibility": ""
                        },
                        "ToNumber": {
                          "type": "string",
                          "description": "The number that received the SMS",
                          "title": "ToNumber",
                          "x-ms-visibility": ""
                        }
                      },
                      "description": "Last Outbound SMS"
                    },
                    "Contact": {
                      "type": "object",
                      "properties": {
                        "ExternalReference": {
                          "type": "string",
                          "description": "Contact External Reference', type: 'string', helpText: 'External system reference of the contact",
                          "title": "External Reference",
                          "x-ms-visibility": ""
                        }
                      },
                      "description": "Contact"
                    },
                    "SMS": {
                      "type": "object",
                      "properties": {
                        "ContactID": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Uniquely identifies the contact",
                          "title": "Contact ID",
                          "x-ms-visibility": ""
                        },
                        "ContactName": {
                          "type": "string",
                          "description": "The name of the contact if known",
                          "title": "Contact Name",
                          "x-ms-visibility": ""
                        },
                        "DeliveredDate": {
                          "type": "string",
                          "description": "The date (UTC) in which the SMS was delivered",
                          "title": "Delivered Date",
                          "format": "date-time",
                          "x-ms-visibility": ""
                        },
                        "FromNumber": {
                          "type": "string",
                          "description": "The number that sent the SMS",
                          "title": "From Number",
                          "x-ms-visibility": ""
                        },
                        "Message": {
                          "type": "string",
                          "description": "The body of the message",
                          "title": "Message",
                          "x-ms-visibility": ""
                        },
                        "SMSID": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Uniquely identifies the SMS",
                          "title": "SMS ID",
                          "x-ms-visibility": ""
                        },
                        "ToNumber": {
                          "type": "string",
                          "description": "The number that received the SMS",
                          "title": "To Number",
                          "x-ms-visibility": ""
                        }
                      },
                      "description": "SMS"
                    }
                  },
                  "description": "Content"
                }
              }
            },
            "description": "Inbound SMS Response"
          }
        },
        "summary": "Inbound SMS Notification",
        "description": "Raises a notification for an inbound SMS",
        "operationId": "InboundSMS",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "M3Yf9L0njL8eL9ukphahq9zk5LFRIOvn2fT4BcmV",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "internal",
            "schema": {
              "type": "object",
              "properties": {
                "URL": {
                  "type": "string",
                  "description": "URL",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "URL"
              ]
            }
          }
        ]
      }
    },
    "/system/applications/webhooks/type/5": {
      "x-ms-notification-content": {
        "description": "Outbound SMS Response",
        "schema": {
          "type": "object",
          "properties": {
            "Content": {
              "type": "object",
              "properties": {
                "Contact": {
                  "type": "object",
                  "properties": {
                    "ExternalReference": {
                      "type": "string",
                      "description": "External system reference of the contact",
                      "title": "External Reference",
                      "x-ms-visibility": ""
                    }
                  },
                  "description": "Contact"
                },
                "SMS": {
                  "type": "object",
                  "properties": {
                    "ContactID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the contact",
                      "title": "Contact ID",
                      "x-ms-visibility": ""
                    },
                    "ContactName": {
                      "type": "string",
                      "description": "The name of the contact if known",
                      "title": "Contact Name",
                      "x-ms-visibility": ""
                    },
                    "CreatedDate": {
                      "type": "string",
                      "description": "The date (UTC) in which the SMS was sent",
                      "title": "Created Date",
                      "format": "date-time",
                      "x-ms-visibility": ""
                    },
                    "FromNumber": {
                      "type": "string",
                      "description": "The number that sent the SMS",
                      "title": "From Number",
                      "x-ms-visibility": ""
                    },
                    "Message": {
                      "type": "string",
                      "description": "The body of the message",
                      "title": "Message",
                      "x-ms-visibility": ""
                    },
                    "SMSID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the SMS",
                      "title": "SMS ID",
                      "x-ms-visibility": ""
                    },
                    "ToNumber": {
                      "type": "string",
                      "description": "The number that received the SMS",
                      "title": "To Number",
                      "x-ms-visibility": ""
                    }
                  },
                  "description": "SMS"
                }
              },
              "description": "Content"
            }
          }
        }
      },
      "post": {
        "responses": {
          "default": {
            "description": "Outbound SMS Response",
            "schema": {
              "type": "object",
              "properties": {
                "Content": {
                  "type": "object",
                  "properties": {
                    "Contact": {
                      "type": "object",
                      "properties": {
                        "ExternalReference": {
                          "type": "string",
                          "description": "External system reference of the contact",
                          "title": "External Reference",
                          "x-ms-visibility": ""
                        }
                      },
                      "description": "Contact"
                    },
                    "SMS": {
                      "type": "object",
                      "properties": {
                        "ContactID": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Uniquely identifies the contact",
                          "title": "Contact ID",
                          "x-ms-visibility": ""
                        },
                        "ContactName": {
                          "type": "string",
                          "description": "The name of the contact if known",
                          "title": "Contact Name",
                          "x-ms-visibility": ""
                        },
                        "CreatedDate": {
                          "type": "string",
                          "description": "The date (UTC) in which the SMS was sent",
                          "title": "Created Date",
                          "format": "date-time",
                          "x-ms-visibility": ""
                        },
                        "FromNumber": {
                          "type": "string",
                          "description": "The number that sent the SMS",
                          "title": "From Number",
                          "x-ms-visibility": ""
                        },
                        "Message": {
                          "type": "string",
                          "description": "The body of the message",
                          "title": "Message",
                          "x-ms-visibility": ""
                        },
                        "SMSID": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Uniquely identifies the SMS",
                          "title": "SMS ID",
                          "x-ms-visibility": ""
                        },
                        "ToNumber": {
                          "type": "string",
                          "description": "The number that received the SMS",
                          "title": "To Number",
                          "x-ms-visibility": ""
                        }
                      },
                      "description": "SMS"
                    }
                  },
                  "description": "Content"
                }
              }
            }
          }
        },
        "summary": "Outbound SMS Notification",
        "operationId": "OutboundSMS",
        "description": "Raises a notification for an outbound SMS. Please note to protect you from potentially causing an infinite loop of sending SMS the Outbound SMS trigger is not invoked when sending an SMS from Flow",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "M3Yf9L0njL8eL9ukphahq9zk5LFRIOvn2fT4BcmV",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "URL": {
                  "type": "string",
                  "description": "URL",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "URL"
              ]
            },
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/contacts/{id}": {
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "DeleteContact",
        "summary": "Delete Contact",
        "description": "Deletes a contact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Primary Contact Identifier",
            "x-ms-summary": "Contact ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "M3Yf9L0njL8eL9ukphahq9zk5LFRIOvn2fT4BcmV",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "UpdateContact",
        "summary": "Update Contact",
        "description": "Updates a Contact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Primary Contact identifier",
            "x-ms-summary": "Contact ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "M3Yf9L0njL8eL9ukphahq9zk5LFRIOvn2fT4BcmV",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "FirstName": {
                  "type": "string",
                  "description": "Contacts firstname",
                  "title": "First Name",
                  "x-ms-visibility": ""
                },
                "LastName": {
                  "type": "string",
                  "description": "Contacts lastname",
                  "title": "Last Name",
                  "x-ms-visibility": ""
                },
                "MobileNumber": {
                  "type": "string",
                  "description": "Contacts mobile number in E164 formatting",
                  "title": "Mobile Number",
                  "x-ms-visibility": ""
                },
                "CompanyName": {
                  "type": "string",
                  "description": "Contacts company name",
                  "title": "Company Name",
                  "x-ms-visibility": ""
                },
                "ExternalReference": {
                  "type": "string",
                  "description": "External system reference to the contact",
                  "title": "External Reference",
                  "x-ms-visibility": ""
                },
                "EmailAddress": {
                  "type": "string",
                  "description": "Contacts email address",
                  "title": "Email Address",
                  "x-ms-visibility": ""
                },
                "AddressLine1": {
                  "type": "string",
                  "description": "Address Line",
                  "title": "Address Line1",
                  "x-ms-visibility": ""
                },
                "AddressLine2": {
                  "type": "string",
                  "description": "Address Line",
                  "title": "Address Line2",
                  "x-ms-visibility": ""
                },
                "City": {
                  "type": "string",
                  "description": "Address Line",
                  "title": "City",
                  "x-ms-visibility": ""
                },
                "County": {
                  "type": "string",
                  "description": "Address Line",
                  "title": "County",
                  "x-ms-visibility": ""
                },
                "Postcode": {
                  "type": "string",
                  "description": "Address Line",
                  "title": "Postcode",
                  "x-ms-visibility": ""
                },
                "Country": {
                  "type": "string",
                  "description": "Address Line",
                  "title": "Country",
                  "x-ms-visibility": ""
                },
                "Custom01": {
                  "type": "string",
                  "description": "Custom Field",
                  "title": "Custom01",
                  "x-ms-visibility": ""
                },
                "Custom02": {
                  "type": "string",
                  "description": "Custom Field",
                  "title": "Custom02",
                  "x-ms-visibility": ""
                },
                "Custom03": {
                  "type": "string",
                  "description": "Custom Field",
                  "title": "Custom03",
                  "x-ms-visibility": ""
                },
                "Custom04": {
                  "type": "string",
                  "description": "Custom Field",
                  "title": "Custom04",
                  "x-ms-visibility": ""
                },
                "Custom05": {
                  "type": "string",
                  "description": "Custom Field",
                  "title": "Custom05",
                  "x-ms-visibility": ""
                },
                "AllowSMS": {
                  "type": "boolean",
                  "description": "Whether the contact wants to receive SMS",
                  "title": "Allow SMS",
                  "x-ms-visibility": ""
                },
                "TagNames": {
                  "type": "string",
                  "description": "CSV of tag names to apply to the contact E.G. Tag1,Tag2,Tag3",
                  "title": "Tag Names",
                  "x-ms-visibility": ""
                }
              }
            }
          }
        ]
      }
    },
    "/contacts/external/{id}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "title": "List of Contacts",
              "items": {
                "type": "object",
                "properties": {
                  "ContactID": {
                    "type": "integer",
                    "format": "int64",
                    "title": "Contact ID",
                    "description": "Unique identifier of the Contact"
                  },
                  "FirstName": {
                    "type": "string",
                    "title": "First Name",
                    "description": "Contacts firstname"
                  },
                  "LastName": {
                    "type": "string",
                    "title": "Last Name",
                    "description": "Contacts lastname"
                  },
                  "MobileNumber": {
                    "type": "string",
                    "title": "Mobile Number",
                    "description": "Contacts mobile number in E164 formatting"
                  },
                  "EmailAddress": {
                    "type": "string",
                    "title": "Email Address",
                    "description": "Contacts email address"
                  },
                  "FullName": {
                    "type": "string",
                    "title": "Full Name",
                    "description": "Contacts fullname"
                  },
                  "Custom01": {
                    "type": "string",
                    "title": "Custom01",
                    "description": "Custom field"
                  },
                  "Custom02": {
                    "type": "string",
                    "title": "Custom02",
                    "description": "Custom field"
                  },
                  "Custom03": {
                    "type": "string",
                    "title": "Custom03",
                    "description": "Custom field"
                  },
                  "Custom04": {
                    "type": "string",
                    "title": "Custom04",
                    "description": "Custom field"
                  },
                  "Custom05": {
                    "type": "string",
                    "title": "Custom05",
                    "description": "Custom field"
                  },
                  "OverallRating": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Overall Rating",
                    "description": "Contacts engagement rating 0 - 100"
                  },
                  "TotalDistinctLinkClicks": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Total Distinct Link Clicks",
                    "description": "How many distinct link clicks the contact has performed"
                  },
                  "TotalLinksSent": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Total Links Sent",
                    "description": "How many links the contact has been sent"
                  },
                  "TotalInboundSMS": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Total Inbound SMS",
                    "description": "The total amount of inbound SMS recieved from this contact"
                  },
                  "TotalOutboundSMS": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Total Outbound SMS",
                    "description": "The total amount of outbound SMS recieved to this contact"
                  },
                  "TotalFailedSMS": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Total Failed SMS",
                    "description": "The total amount of outbound SMS fails to this contact"
                  },
                  "ExternalReference": {
                    "type": "string",
                    "title": "External Reference",
                    "description": "External system reference for this contact"
                  },
                  "CompanyName": {
                    "type": "string",
                    "title": "Company Name",
                    "description": "Comany name of the contact"
                  },
                  "AddressLine1": {
                    "type": "string",
                    "title": "Address Line1",
                    "description": "Address line"
                  },
                  "AddressLine2": {
                    "type": "string",
                    "title": "Address Line2",
                    "description": "Address line"
                  },
                  "City": {
                    "type": "string",
                    "title": "City",
                    "description": "Address line"
                  },
                  "Postcode": {
                    "type": "string",
                    "title": "Postcode",
                    "description": "Address line"
                  },
                  "County": {
                    "type": "string",
                    "title": "County",
                    "description": "Address line"
                  },
                  "Country": {
                    "type": "string",
                    "title": "Country",
                    "description": "Address line"
                  },
                  "LastCommunicationDate": {
                    "type": "string",
                    "description": "The date (UTC) that the contact last communicated",
                    "title": "Last Communication Date",
                    "format": "date-time"
                  },
                  "AllowSMS": {
                    "type": "boolean",
                    "description": "Whether the contact wishes to receive SMS",
                    "title": "AllowSMS"
                  }
                }
              }
            }
          }
        },
        "operationId": "GetContactByExternalReference",
        "summary": "Get Contact By External Reference",
        "description": "Get contact by external system reference",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "External Reference",
            "x-ms-summary": "External Reference"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "M3Yf9L0njL8eL9ukphahq9zk5LFRIOvn2fT4BcmV",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "DeleteContactByExternalReference",
        "summary": "Delete Contact By External Reference",
        "description": "Deletes a contact by the external system reference",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "External Reference",
            "x-ms-summary": "External Reference"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "M3Yf9L0njL8eL9ukphahq9zk5LFRIOvn2fT4BcmV",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "UpdateContactByExternalReference",
        "summary": "Update Contact By External Reference",
        "description": "Updates a contact by the external system reference",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "External Reference",
            "x-ms-summary": "External Reference"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "M3Yf9L0njL8eL9ukphahq9zk5LFRIOvn2fT4BcmV",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "FirstName": {
                  "type": "string",
                  "description": "Contacts firstname",
                  "title": "First Name",
                  "x-ms-visibility": ""
                },
                "LastName": {
                  "type": "string",
                  "description": "Contacts lastname",
                  "title": "Last Name",
                  "x-ms-visibility": ""
                },
                "MobileNumber": {
                  "type": "string",
                  "description": "Contacts mobile number in E164 formatting",
                  "title": "Mobile Number",
                  "x-ms-visibility": ""
                },
                "CompanyName": {
                  "type": "string",
                  "description": "Contacts company name",
                  "title": "Company Name",
                  "x-ms-visibility": ""
                },
                "ExternalReference": {
                  "type": "string",
                  "description": "External system reference to the contact",
                  "title": "External Reference",
                  "x-ms-visibility": ""
                },
                "EmailAddress": {
                  "type": "string",
                  "description": "Contacts email address",
                  "title": "Email Address",
                  "x-ms-visibility": ""
                },
                "AddressLine1": {
                  "type": "string",
                  "description": "Address Line",
                  "title": "Address Line1",
                  "x-ms-visibility": ""
                },
                "AddressLine2": {
                  "type": "string",
                  "description": "Address Line",
                  "title": "Address Line2",
                  "x-ms-visibility": ""
                },
                "City": {
                  "type": "string",
                  "description": "Address Line",
                  "title": "City",
                  "x-ms-visibility": ""
                },
                "County": {
                  "type": "string",
                  "description": "Address Line",
                  "title": "County",
                  "x-ms-visibility": ""
                },
                "Postcode": {
                  "type": "string",
                  "description": "Address Line",
                  "title": "Postcode",
                  "x-ms-visibility": ""
                },
                "Country": {
                  "type": "string",
                  "description": "Address Line",
                  "title": "Country",
                  "x-ms-visibility": ""
                },
                "Custom01": {
                  "type": "string",
                  "description": "Custom Field",
                  "title": "Custom01",
                  "x-ms-visibility": ""
                },
                "Custom02": {
                  "type": "string",
                  "description": "Custom Field",
                  "title": "Custom02",
                  "x-ms-visibility": ""
                },
                "Custom03": {
                  "type": "string",
                  "description": "Custom Field",
                  "title": "Custom03",
                  "x-ms-visibility": ""
                },
                "Custom04": {
                  "type": "string",
                  "description": "Custom Field",
                  "title": "Custom04",
                  "x-ms-visibility": ""
                },
                "Custom05": {
                  "type": "string",
                  "description": "Custom Field",
                  "title": "Custom05",
                  "x-ms-visibility": ""
                },
                "AllowSMS": {
                  "type": "boolean",
                  "description": "Whether the contact wants to receive SMS",
                  "title": "Allow SMS",
                  "x-ms-visibility": ""
                },
                "TagNames": {
                  "type": "string",
                  "description": "CSV of tag names to apply to the contact E.G. Tag1,Tag2,Tag3",
                  "title": "Tag Names",
                  "x-ms-visibility": ""
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "security": [],
  "tags": []
}