{
  "swagger": "2.0",
  "info": {
    "title": "PDF4me Word",
    "description": "Enhance your workflows with the powerful capabilities of the PDF4me Word Connector. Comprehensive features for creating and manipulating Word file formats. Seamlessly integrate advanced Microsoft Word, and more to drive better efficiency and intelligence across your processes.",
    "version": "1.00",
    "contact": {
      "name": "PDF4me Support",
      "email": "support@pdf4me.com",
      "url": "https://dev.pdf4me.com/support/"
    },
    "license": {
      "name": "Requires a PDF4me subscription",
      "url": "https://dev.pdf4me.com/pricing/"
    },
    "termsOfService": "https://www.pdf4me.com/terms-of-service"
  },
  "host": "api.pdf4me.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/office/FlowWord/AddWatermark": {
      "post": {
        "summary": "Word - Add Watermark",
        "description": "Add text or image watermarks to Word documents with advanced positioning and styling options - https://docs.pdf4me.com/integrations/power-automate/word/add-watermark",
        "operationId": "AddWatermark",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for adding watermark",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddWatermarkReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AddWatermarkRes"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/AddWatermarkRes"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/AddWatermarkRes"
            }
          }
        }
      }
    },
    "/office/FlowWord/AddTextWatermark": {
      "post": {
        "summary": "Word - Add Text Watermark",
        "description": "Add text watermarks to Word documents with advanced text styling and positioning options - https://docs.pdf4me.com/integrations/power-automate/word/add-text-watermark",
        "operationId": "AddTextWatermark",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for adding text watermark",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TextWatermarkReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TextWatermarkRes"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/TextWatermarkRes"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/TextWatermarkRes"
            }
          }
        }
      }
    },
    "/office/FlowWord/ApplySecurity": {
      "post": {
        "summary": "Word - Secure Document",
        "description": "Add password protection and security restrictions to Word documents - https://docs.pdf4me.com/integrations/power-automate/word/secure-document",
        "operationId": "SecureDocument",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for securing document",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecureDocumentReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SecureDocumentRes"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/SecureDocumentRes"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/SecureDocumentRes"
            }
          }
        }
      }
    },
    "/office/FlowWord/CompareDocuments": {
      "post": {
        "summary": "Word - Compare Documents",
        "description": "Compare two Word documents and track changes with detailed options - https://docs.pdf4me.com/integrations/power-automate/word/compare-documents",
        "operationId": "CompareDocuments",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for comparing documents",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompareDocumentsReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CompareDocumentsRes"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/CompareDocumentsRes"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/CompareDocumentsRes"
            }
          }
        }
      }
    },
    "/office/FlowWord/DeletePages": {
      "post": {
        "summary": "Word - Delete Pages",
        "description": "Delete specific pages or page ranges from Word documents - https://docs.pdf4me.com/integrations/power-automate/word/delete-pages",
        "operationId": "DeletePages",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for deleting pages",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeletePagesReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeletePagesRes"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DeletePagesRes"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/DeletePagesRes"
            }
          }
        }
      }
    },
    "/office/FlowWord/ExtractMetadata": {
      "post": {
        "summary": "Word - Extract Metadata",
        "description": "Extract metadata and properties from Word documents - https://docs.pdf4me.com/integrations/power-automate/word/extract-metadata",
        "operationId": "ExtractMetadata",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for extracting metadata",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExtractMetadataReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExtractMetadataRes"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ExtractMetadataRes"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ExtractMetadataRes"
            }
          }
        }
      }
    },
    "/office/FlowWord/MergeDocuments": {
      "post": {
        "summary": "Word - Merge Documents",
        "description": "Merge multiple Word documents into a single file with formatting preservation - https://docs.pdf4me.com/integrations/power-automate/word/merge-documents",
        "operationId": "MergeDocuments",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for merging documents",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MergeDocumentsReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MergeRes"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/MergeRes"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/MergeRes"
            }
          }
        }
      }
    },
    "/office/FlowWord/OptimizeDocument": {
      "post": {
        "summary": "Word - Optimize Document",
        "description": "Optimize Word documents for size and performance with various options - https://docs.pdf4me.com/integrations/power-automate/word/optimize-document",
        "operationId": "OptimizeDocument",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for optimizing document",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OptimizeDocumentReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OptimizeDocumentRes"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/OptimizeDocumentRes"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/OptimizeDocumentRes"
            }
          }
        }
      }
    },
    "/office/FlowWord/ReplaceText": {
      "post": {
        "summary": "Word - Replace Text",
        "description": "Find and replace text in Word documents with advanced formatting options and pattern matching -  https://docs.pdf4me.com/integrations/power-automate/word/replace-text",
        "operationId": "ReplaceText",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for replacing text",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReplaceTextReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReplaceTextRes"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ReplaceTextRes"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ReplaceTextRes"
            }
          }
        }
      }
    },
    "/office/FlowWord/ReplaceTextWithImage": {
      "post": {
        "summary": "Word - Replace Text with Image",
        "description": "Replace text with images in Word documents with size and positioning control - https://docs.pdf4me.com/integrations/power-automate/word/replace-text-with-image",
        "operationId": "ReplaceTextWithImage",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for replacing text with image",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReplaceTextWithImageReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReplaceTextWithImageRes"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ReplaceTextWithImageRes"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ReplaceTextWithImageRes"
            }
          }
        }
      }
    },
    "/office/FlowWord/SplitDocument": {
      "post": {
        "summary": "Word - Split Document",
        "description": "Split Word documents by pages, sections, or custom ranges - https://docs.pdf4me.com/integrations/power-automate/word/split-document",
        "operationId": "SplitDocument",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for splitting document",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SplitDocumentReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SplitDocumentRes"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/SplitDocumentRes"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/SplitDocumentRes"
            }
          }
        }
      }
    },
    "/office/FlowWord/UpdateTableOfContents": {
      "post": {
        "summary": "Word - Update Table of Contents",
        "description": "Update or create table of contents in Word documents with custom options  - https://docs.pdf4me.com/integrations/power-automate/word/update-table-of-contents",
        "operationId": "UpdateTableOfContents",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for updating TOC",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateTOCReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateTOCRes"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/UpdateTOCRes"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/UpdateTOCRes"
            }
          }
        }
      }
    },
    "/office/FlowWord/UpdateHeadersAndFooters": {
      "post": {
        "summary": "Word - Update Headers and Footers",
        "description": "Update headers and footers in Word documents with text or images - https://docs.pdf4me.com/integrations/power-automate/word/update-headers-footers",
        "operationId": "UpdateHeadersFooters",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for updating headers and footers",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateHeadersFootersReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateHeadersFootersRes"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/UpdateHeadersFootersRes"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/UpdateHeadersFootersRes"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ReplaceTextReq": {
      "type": "object",
      "required": [
        "document",
        "docContent",
        "Phrases"
      ],
      "properties": {
        "docContent": {
          "type": "string",
          "format": "byte",
          "description": "Input file content from the source",
          "x-ms-visibility": "important"
        },
        "document": {
          "description": "document",
          "type": "object",
          "required": [
            "Name"
          ],
          "properties": {
            "Name": {
              "type": "string",
              "description": "Input file name from the source",
              "title": "File Name",
              "x-ms-visibility": "important"
            }
          }
        },
        "Phrases": {
          "type": "array",
          "description": "Array of text replacements to perform",
          "x-ms-visibility": "important",
          "x-ms-summary": "Text Replacements",
          "items": {
            "$ref": "#/definitions/ReplacePhrase"
          }
        },
        "CultureName": {
          "type": "string",
          "description": "Culture name for localization",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Culture Name"
        }
      }
    },
    "ReplacePhrase": {
      "type": "object",
      "properties": {
        "FindText": {
          "type": "string",
          "description": "Text to search for",
          "x-ms-visibility": "important",
          "x-ms-summary": "Search Text"
        },
        "ReplaceText": {
          "type": "string",
          "description": "Text to replace with",
          "x-ms-visibility": "important",
          "x-ms-summary": "Replacement Text"
        },
        "CaseSensitive": {
          "type": "boolean",
          "default": false,
          "description": "Perform case-sensitive search",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Match Case"
        },
        "FindWholeWordsOnly": {
          "type": "boolean",
          "default": false,
          "description": "Match whole words only",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Match Whole Word"
        },
        "IsExpression": {
          "type": "boolean",
          "default": false,
          "description": "Use regular expressions",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Use Regular Expressions"
        },
        "Font": {
          "type": "string",
          "description": "Font name for the replacement text",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Font Name"
        },
        "FontColor": {
          "type": "string",
          "description": "Text color in hex format or colour name (e.g., \"#FF0000\" for red)",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Font Color"
        },
        "FontSize": {
          "type": "number",
          "description": "Font size in points",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Font Size"
        },
        "BackgroundColor": {
          "type": "string",
          "description": "Background color in hex format or colour name (e.g., \"#FFFF00\" for yellow)",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Background Color"
        },
        "Bold": {
          "type": "boolean",
          "description": "Apply bold formatting to replacement text",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Bold"
        },
        "Italic": {
          "type": "boolean",
          "description": "Apply italic formatting to replacement text",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Italic"
        },
        "Underline": {
          "type": "boolean",
          "description": "Apply underline formatting to replacement text",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Underline"
        },
        "Strikethrough": {
          "type": "boolean",
          "description": "Apply strikethrough formatting to replacement text",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Strikethrough"
        },
        "DoubleStrikethrough": {
          "type": "boolean",
          "description": "Apply double strikethrough formatting to replacement text",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Double Strikethrough"
        },
        "Subscript": {
          "type": "boolean",
          "description": "Apply subscript formatting to replacement text",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Subscript"
        },
        "Superscript": {
          "type": "boolean",
          "description": "Apply superscript formatting to replacement text",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Superscript"
        },
        "WordSpacing": {
          "type": "number",
          "description": "Word spacing in points (space between words)",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Word Spacing"
        }
      }
    },
    "ReplaceTextWithImageReq": {
      "type": "object",
      "properties": {
        "docContent": {
          "description": "Input file content from the source",
          "format": "byte",
          "title": "File Content",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "document": {
          "description": "document",
          "type": "object",
          "properties": {
            "name": {
              "description": "Input file name from the source",
              "title": "File Name",
              "type": "string",
              "x-ms-visibility": "important"
            }
          },
          "required": [
            "name"
          ]
        },
        "FindText": {
          "type": "string",
          "description": "Text to search for and replace with image",
          "x-ms-visibility": "important",
          "x-ms-summary": "Search Text"
        },
        "ImageContent": {
          "type": "string",
          "format": "byte",
          "description": "Base64-encoded image content to replace text with",
          "x-ms-visibility": "important",
          "x-ms-summary": "Image Content"
        },
        "Width": {
          "type": "number",
          "description": "Image width in points (optional, maintains aspect ratio if only one dimension provided)",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Image Width"
        },
        "Height": {
          "type": "number",
          "description": "Image height in points (optional, maintains aspect ratio if only one dimension provided)",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Image Height"
        },
        "MaintainAspectRatio": {
          "type": "boolean",
          "default": true,
          "description": "Maintain image aspect ratio when resizing",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Maintain Aspect Ratio"
        },
        "SkipFirstPage": {
          "type": "boolean",
          "description": "Skip replacement on the first page",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Skip First Page"
        },
        "ApplyTo": {
          "type": "string",
          "enum": [
            "all",
            "odd",
            "even",
            "first",
            "last"
          ],
          "description": "Apply replacement to specific page types",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Apply To Pages"
        },
        "PageNumbers": {
          "type": "string",
          "description": "Comma-separated page numbers or ranges (e.g., \"1,3,5-7\")",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Page Numbers"
        },
        "IgnorePageNumbers": {
          "type": "string",
          "description": "Comma-separated page numbers to skip (e.g., \"2,4\")",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Ignore Page Numbers"
        },
        "CultureName": {
          "type": "string",
          "description": "Culture name for document (e.g., en-US, fr-FR)",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Culture Name"
        }
      }
    },
    "AddWatermarkReq": {
      "type": "object",
      "properties": {
        "docContent": {
          "description": "Input file content from the source",
          "format": "byte",
          "title": "File Content",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "document": {
          "description": "document",
          "type": "object",
          "properties": {
            "name": {
              "description": "Input file name from the source",
              "title": "File Name",
              "type": "string",
              "x-ms-visibility": "important"
            }
          },
          "required": [
            "name"
          ]
        },
        "WatermarkFileContent": {
          "type": "string",
          "format": "byte",
          "description": "Base64-encoded watermark image content",
          "x-ms-visibility": "important",
          "x-ms-summary": "Watermark Image"
        },
        "Scale": {
          "type": "number",
          "description": "Scaling factor for watermark (e.g., 0.5 for 50%, 2.0 for 200%)",
          "x-ms-visibility": "important",
          "x-ms-summary": "Scale",
          "default": 1,
          "minimum": 0.1,
          "maximum": 10
        },
        "Width": {
          "type": "number",
          "description": "Watermark width in points (overrides Scale if provided)",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Width"
        },
        "Height": {
          "type": "number",
          "description": "Watermark height in points (overrides Scale if provided)",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Height"
        },
        "AlignImage": {
          "type": "boolean",
          "description": "If true, center on page; if false, align top-left",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Center Alignment",
          "default": true
        },
        "SemiTransparent": {
          "type": "boolean",
          "description": "If true, watermark opacity is 50%; if false, 100%",
          "x-ms-visibility": "important",
          "x-ms-summary": "Semi-Transparent",
          "default": false
        },
        "CultureName": {
          "type": "string",
          "description": "Culture/locale name for document metadata (e.g., en-US, fr-FR)",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Culture Name",
          "example": "en-US"
        }
      }
    },
    "SecureDocumentReq": {
      "type": "object",
      "required": [
        "Document",
        "docContent"
      ],
      "properties": {
        "docContent": {
          "type": "string",
          "format": "byte",
          "description": "Document content as byte array (base64-encoded)",
          "x-ms-visibility": "important"
        },
        "Document": {
          "type": "object",
          "required": [
            "Name"
          ],
          "properties": {
            "Name": {
              "type": "string",
              "description": "Input file name from the source",
              "x-ms-visibility": "important"
            }
          }
        },
        "SecureOnOpen": {
          "type": "boolean",
          "default": false,
          "enum": [
            true,
            false
          ],
          "description": "Enable password protection to open the document",
          "x-ms-visibility": "important",
          "x-ms-summary": "Secure On Open",
          "x-ms-enum-values": [
            {
              "value": true,
              "displayName": "Yes"
            },
            {
              "value": false,
              "displayName": "No"
            }
          ]
        },
        "SecureOnOpenPassword": {
          "type": "string",
          "description": "Password required to open the document",
          "x-ms-visibility": "important",
          "x-ms-summary": "Open Password"
        },
        "SecurityOptions": {
          "type": "object",
          "description": "Document protection settings to restrict editing",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Security Options",
          "properties": {
            "ProtectionType": {
              "type": "string",
              "enum": [
                "NoProtection",
                "ReadOnly",
                "AllowComments",
                "AllowFormFields",
                "AllowRevisions"
              ],
              "description": "Type of document editing restrictions",
              "x-ms-summary": "Protection Type",
              "default": "NoProtection",
              "x-ms-enum-values": [
                {
                  "value": "NoProtection",
                  "displayName": "No Protection"
                },
                {
                  "value": "ReadOnly",
                  "displayName": "Read Only"
                },
                {
                  "value": "AllowComments",
                  "displayName": "Allow Comments"
                },
                {
                  "value": "AllowFormFields",
                  "displayName": "Allow Form Fields"
                },
                {
                  "value": "AllowRevisions",
                  "displayName": "Allow Revisions"
                }
              ]
            },
            "ProtectionPassword": {
              "type": "string",
              "description": "Password for document protection",
              "x-ms-summary": "Protection Password"
            }
          }
        }
      }
    },
    "MergeDocumentsReq": {
      "type": "object",
      "required": [
        "Documents"
      ],
      "properties": {
        "Documents": {
          "type": "array",
          "description": "Array of documents to merge",
          "x-ms-visibility": "important",
          "x-ms-summary": "Documents to Merge",
          "items": {
            "$ref": "#/definitions/MergeDocument"
          }
        },
        "MergeOptions": {
          "$ref": "#/definitions/MergeOptions"
        }
      }
    },
    "MergeDocument": {
      "type": "object",
      "required": [
        "Filename",
        "DocContent",
        "SortPosition"
      ],
      "properties": {
        "Filename": {
          "type": "string",
          "description": "Original filename",
          "x-ms-summary": "File Name",
          "x-ms-visibility": "important"
        },
        "DocContent": {
          "type": "string",
          "format": "byte",
          "description": "Base64-encoded file content",
          "x-ms-summary": "Document Content",
          "x-ms-visibility": "important"
        },
        "SortPosition": {
          "type": "integer",
          "description": "Position in merge order",
          "x-ms-summary": "Sort Position",
          "x-ms-visibility": "important"
        },
        "FormatMode": {
          "type": "string",
          "enum": [
            "KeepSourceFormatting",
            "KeepDifferentStyles",
            "UseDestinationStyles"
          ],
          "description": "Select how to handle merging Microsoft Word document styles",
          "x-ms-summary": "Format Mode",
          "x-ms-visibility": "important",
          "default": "KeepSourceFormatting"
        }
      }
    },
    "MergeOptions": {
      "type": "object",
      "description": "Options for merging documents",
      "x-ms-visibility": "advanced",
      "x-ms-summary": "Merge Options",
      "properties": {
        "TimeZone": {
          "type": "string",
          "description": "Time zone for document metadata (e.g., \"UTC\", \"Asia/Kolkata\")",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Time Zone"
        },
        "ComplianceLevel": {
          "type": "string",
          "enum": [
            "ECMA",
            "Transitional",
            "Strict",
            "Custom"
          ],
          "description": "Document compliance level",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Compliance Level",
          "default": "Transitional"
        }
      }
    },
    "SplitDocumentReq": {
      "type": "object",
      "properties": {
        "docContent": {
          "description": "Input file content from the source",
          "format": "byte",
          "title": "File Content",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "document": {
          "description": "document",
          "type": "object",
          "properties": {
            "name": {
              "description": "Input file name from the source",
              "title": "File Name",
              "type": "string",
              "x-ms-visibility": "important",
              "required": [
                "name"
              ]
            }
          }
        },
        "SplitType": {
          "type": "string",
          "enum": [
            "allpages",
            "array",
            "number of pages",
            "section",
            "headings"
          ],
          "description": "Type of split operation",
          "x-ms-visibility": "important",
          "x-ms-summary": "Split Type"
        },
        "SplitConfig": {
          "type": "string",
          "description": "Split Configuration",
          "x-ms-visibility": "important",
          "x-ms-summary": "Split Config"
        },
        "CultureName": {
          "type": "string",
          "description": "Specifies the culture or locale to be used (e.g., en-US)",
          "x-ms-visibility": "important",
          "x-ms-summary": "Culture Name"
        }
      }
    },
    "CompareDocumentsReq": {
      "type": "object",
      "required": [
        "firstDocument",
        "secondDocument",
        "firstDocContent",
        "secondDocContent"
      ],
      "properties": {
        "firstDocument": {
          "$ref": "#/definitions/FlowDocument"
        },
        "firstDocContent": {
          "type": "string",
          "format": "byte",
          "description": "Input file content from the first document",
          "x-ms-visibility": "important"
        },
        "secondDocument": {
          "$ref": "#/definitions/FlowDocument"
        },
        "secondDocContent": {
          "type": "string",
          "format": "byte",
          "description": "Base64-encoded content of second document",
          "x-ms-visibility": "important"
        },
        "comparisonOptions": {
          "$ref": "#/definitions/ComparisonOptions"
        }
      }
    },
    "FlowDocument": {
      "type": "object",
      "required": [
        "Name"
      ],
      "properties": {
        "Name": {
          "type": "string",
          "description": "Input file name from the source",
          "x-ms-visibility": "important"
        }
      }
    },
    "ComparisonOptions": {
      "type": "object",
      "properties": {
        "IgnoreFormatting": {
          "type": "boolean",
          "default": false,
          "description": "Ignore formatting changes"
        },
        "IgnoreCaseChanges": {
          "type": "boolean",
          "default": false,
          "description": "Ignore case changes"
        },
        "IgnoreComments": {
          "type": "boolean",
          "default": false,
          "description": "Ignore comments"
        },
        "IgnoreTables": {
          "type": "boolean",
          "default": false,
          "description": "Ignore table changes"
        },
        "IgnoreFields": {
          "type": "boolean",
          "default": false,
          "description": "Ignore field changes"
        },
        "IgnoreFootnotes": {
          "type": "boolean",
          "default": false,
          "description": "Ignore footnote changes"
        },
        "IgnoreTextboxes": {
          "type": "boolean",
          "default": false,
          "description": "Ignore textbox changes"
        },
        "IgnoreHeadersAndFooters": {
          "type": "boolean",
          "default": false,
          "description": "Ignore header and footer changes"
        },
        "Author": {
          "type": "string",
          "description": "Author name for comparison tracking"
        }
      }
    },
    "OptimizeDocumentReq": {
      "type": "object",
      "properties": {
        "docContent": {
          "description": "Input file content from the source",
          "format": "byte",
          "title": "File Content",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "document": {
          "description": "document",
          "type": "object",
          "properties": {
            "name": {
              "description": "Input file name from the source",
              "title": "File Name",
              "type": "string",
              "x-ms-visibility": "important"
            }
          },
          "required": [
            "name"
          ]
        },
        "OptimizationLevel": {
          "type": "string",
          "enum": [
            "Low",
            "Medium",
            "High"
          ],
          "description": "Low (0-10%),  Medium( 50-80%),  High (80-90%)",
          "x-ms-visibility": "important",
          "x-ms-summary": "Optimization Level",
          "default": "Medium"
        },
        "CultureName": {
          "type": "string",
          "description": "Culture name for localization (e.g., \"en-US\", \"de-DE\")",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Culture Name"
        }
      }
    },
    "ExtractMetadataReq": {
      "type": "object",
      "properties": {
        "docContent": {
          "description": "Input file content from the source",
          "format": "byte",
          "title": "File Content",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "document": {
          "description": "document",
          "type": "object",
          "properties": {
            "name": {
              "description": "Input file name from the source",
              "title": "File Name",
              "type": "string",
              "x-ms-visibility": "important"
            }
          },
          "required": [
            "name"
          ]
        },
        "CultureName": {
          "type": "string",
          "description": "Culture name for localization (e.g., \"en-US\", \"de-DE\")",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Culture Name"
        }
      }
    },
    "UpdateTOCReq": {
      "type": "object",
      "properties": {
        "docContent": {
          "description": "Input file content from the source",
          "format": "byte",
          "title": "File Content",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "document": {
          "description": "document",
          "type": "object",
          "properties": {
            "name": {
              "description": "Input file name from the source",
              "title": "File Name",
              "type": "string",
              "x-ms-visibility": "important"
            }
          },
          "required": [
            "name"
          ]
        },
        "HeadingLevels": {
          "type": "string",
          "default": "1-3",
          "description": "Heading levels to include (e.g., \"1-3\", \"1-6\")",
          "x-ms-visibility": "important",
          "x-ms-summary": "Heading Levels"
        },
        "UseHyperlinks": {
          "type": "boolean",
          "default": true,
          "description": "Include hyperlinks in table of contents",
          "x-ms-visibility": "important",
          "x-ms-summary": "Use Hyperlinks"
        },
        "HideTabLeader": {
          "type": "boolean",
          "default": true,
          "description": "Hide tab leader dots in table of contents",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Hide Tab Leader"
        },
        "UseUppercase": {
          "type": "boolean",
          "default": true,
          "description": "Use uppercase for table of contents entries",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Use Uppercase"
        },
        "CultureName": {
          "type": "string",
          "description": "Culture name for localization (e.g., \"en-US\", \"de-DE\")",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Culture Name"
        }
      }
    },
    "UpdateHeadersFootersReq": {
      "type": "object",
      "properties": {
        "docContent": {
          "description": "Input file content from the source",
          "format": "byte",
          "title": "File Content",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "document": {
          "description": "document",
          "type": "object",
          "properties": {
            "name": {
              "description": "Input file name from the source",
              "title": "File Name",
              "type": "string",
              "x-ms-visibility": "important"
            }
          },
          "required": [
            "name"
          ]
        },
        "AllPagesHeaderHtml": {
          "type": "string",
          "description": "HTML content or plain text with default styling for headers on all pages",
          "x-ms-visibility": "important",
          "x-ms-summary": "All Pages Header",
          "example": "<div style='text-align: center;'>Document Header</div>"
        },
        "AllPagesFooterHtml": {
          "type": "string",
          "description": "HTML content or plain text with default styling for footers on all pages",
          "x-ms-visibility": "important",
          "x-ms-summary": "All Pages Footer",
          "example": "<div style='text-align: center;'>Page {PAGE} of {NUMPAGES}</div>"
        },
        "FirstPageHeaderHtml": {
          "type": "string",
          "description": "HTML content for header on first page only",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "First Page Header (HTML)"
        },
        "EvenPagesHeaderHtml": {
          "type": "string",
          "description": "HTML content for headers on even pages",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Even Pages Header (HTML)"
        },
        "OddPagesHeaderHtml": {
          "type": "string",
          "description": "HTML content for headers on odd pages",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Odd Pages Header (HTML)"
        },
        "FirstPageFooterHtml": {
          "type": "string",
          "description": "HTML content for footer on first page only",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "First Page Footer (HTML)"
        },
        "EvenPagesFooterHtml": {
          "type": "string",
          "description": "HTML content for footers on even pages",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Even Pages Footer (HTML)"
        },
        "OddPagesFooterHtml": {
          "type": "string",
          "description": "HTML content for footers on odd pages",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Odd Pages Footer (HTML)"
        },
        "CultureName": {
          "type": "string",
          "description": "Culture/locale name for document metadata (e.g., en-US, fr-FR)",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Culture Name",
          "pattern": "^[a-z]{2}-[A-Z]{2}$",
          "example": "en-US"
        }
      }
    },
    "DeletePagesReq": {
      "type": "object",
      "properties": {
        "docContent": {
          "description": "Input file content from the source",
          "format": "byte",
          "title": "File Content",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "document": {
          "description": "document",
          "type": "object",
          "properties": {
            "name": {
              "description": "Input file name from the source",
              "title": "File Name",
              "type": "string",
              "x-ms-visibility": "important"
            }
          },
          "required": [
            "name"
          ]
        },
        "StartPage": {
          "type": "integer",
          "description": "Set the page number to begin deleting pages from (1-based index)",
          "x-ms-visibility": "important",
          "x-ms-summary": "Start page"
        },
        "EndPage": {
          "type": "integer",
          "description": "Set the page number to stop deleting pages on. If not provided, defaults to the last page of the document",
          "x-ms-visibility": "important",
          "x-ms-summary": "End Page"
        },
        "PageNumbers": {
          "type": "string",
          "description": "A comma-separated list of page numbers to delete (e.g., \"1,3,4\"). Can be used alone or combined with StartPage/EndPage",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Page Numbers"
        },
        "CultureName": {
          "type": "string",
          "description": "Culture name for localization (e.g., \"en-US\", \"de-DE\")",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Culture Name"
        }
      }
    },
    "DeletePagesRes": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The processed Word file with deleted pages",
          "x-ms-summary": "Processed File Content"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "ReplaceTextRes": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The processed Word file with replaced text",
          "x-ms-summary": "Processed File Content"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "ReplaceTextWithImageRes": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The processed Word file with text replaced by image",
          "x-ms-summary": "Processed File Content"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "AddWatermarkRes": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The processed Word file with watermark added",
          "x-ms-summary": "Processed File Content"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "SecureDocumentRes": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The processed Word file with security settings applied",
          "x-ms-summary": "Processed File Content"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "MergeRes": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The merged Word file",
          "x-ms-summary": "Processed File Content"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "SplitDocumentRes": {
      "type": "object",
      "properties": {
        "documents": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          },
          "description": "Array of split Word documents",
          "x-ms-summary": "Split Documents"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "CompareDocumentsRes": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The Word file with comparison results",
          "x-ms-summary": "Processed File Content"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "OptimizeDocumentRes": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The optimized Word file",
          "x-ms-summary": "Processed File Content"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "ExtractMetadataRes": {
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Extracted metadata from the Word file",
          "x-ms-summary": "Metadata"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "UpdateTOCRes": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The Word file with updated table of contents",
          "x-ms-summary": "Processed File Content"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "UpdateHeadersFootersRes": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The Word file with updated headers and footers",
          "x-ms-summary": "Processed File Content"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "TextWatermarkReq": {
      "type": "object",
      "properties": {
        "docContent": {
          "description": "Input file content from the source",
          "format": "byte",
          "title": "File Content",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "document": {
          "description": "document",
          "type": "object",
          "properties": {
            "name": {
              "description": "Input file name from the source",
              "title": "File Name",
              "type": "string",
              "x-ms-visibility": "important"
            }
          },
          "required": [
            "name"
          ]
        },
        "WatermarkText": {
          "type": "string",
          "description": "Text content for watermark",
          "x-ms-visibility": "important",
          "x-ms-summary": "Watermark Text"
        },
        "FontFamily": {
          "type": "string",
          "description": "Font family for watermark text",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Font Family"
        },
        "FontSize": {
          "type": "number",
          "description": "Font size for watermark text",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Font Size"
        },
        "FontColor": {
          "type": "string",
          "description": "Color for watermark text",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Font Color"
        },
        "SemiTransparent": {
          "type": "boolean",
          "description": "Whether watermark is semi-transparent",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Semi Transparency"
        },
        "Rotation": {
          "type": "number",
          "description": "Rotation angle in degrees",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Rotation"
        },
        "Orientation": {
          "type": "string",
          "enum": [
            "Horizontal",
            "Vertical",
            "Diagonal",
            "Upside-Down"
          ],
          "description": "Watermark orientation",
          "x-ms-visibility": "important",
          "x-ms-summary": "Orientation of The Text"
        },
        "CultureName": {
          "type": "string",
          "description": "Culture name for document (e.g., en-US, fr-FR, de-DE)",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Culture Name"
        }
      }
    },
    "TextWatermarkRes": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The processed Word file with text watermark added",
          "x-ms-summary": "Processed File Content"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.dev.pdf4me.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.dev.pdf4me.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Productivity"
    }
  ]
}