{
  "swagger": "2.0",
  "info": {
    "title": "Jasper",
    "description": "Jasper is an on-brand AI platform for businesses. It helps creators use generative AI to break through writer\u2019s block, create original imagery, and repackage content into different formats, tones and languages. Unlike most AI tools which are tied to individual tools and can produce pretty generic outputs, Jasper can be trained on your brand and called up on any platform you use from email to social media to your website.",
    "version": "1.1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.jasper.ai",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/command": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "requestId": {
                  "type": "string",
                  "description": "The request identifier.",
                  "title": "Request ID"
                },
                "resource": {
                  "type": "string",
                  "description": "The resource.",
                  "title": "Resource"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "text": {
                        "type": "string",
                        "description": "The text.",
                        "title": "Text"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Run command",
        "description": "Run a command to generate an AI output.",
        "operationId": "CommandPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "inputs": {
                  "type": "object",
                  "properties": {
                    "command": {
                      "type": "string",
                      "description": "The command.",
                      "title": "Command"
                    },
                    "context": {
                      "type": "string",
                      "description": "The context.",
                      "title": "Context"
                    }
                  },
                  "title": "Inputs",
                  "required": [
                    "command"
                  ]
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "outputCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The output count.",
                      "title": "Output Count",
                      "default": 3
                    },
                    "inputLanguage": {
                      "type": "string",
                      "description": "The input language.",
                      "title": "Input Language",
                      "default": "English",
                      "enum": [
                        "English",
                        "French",
                        "Italian",
                        "Spanish",
                        "Portuguese",
                        "German"
                      ]
                    },
                    "outputLanguage": {
                      "type": "string",
                      "description": "The output language.",
                      "title": "Output Language",
                      "default": "English",
                      "enum": [
                        "English",
                        "French",
                        "Italian",
                        "Spanish",
                        "Portuguese",
                        "German"
                      ]
                    },
                    "languageFormality": {
                      "type": "string",
                      "description": "The language formality.",
                      "title": "Language Formality",
                      "default": "default",
                      "enum": [
                        "default",
                        "more",
                        "less"
                      ]
                    },
                    "completionType": {
                      "type": "string",
                      "description": "The completion type.",
                      "title": "Completion Type",
                      "default": "performance",
                      "enum": [
                        "performance",
                        "quality"
                      ]
                    }
                  },
                  "title": "Options"
                }
              },
              "required": [
                "inputs"
              ]
            }
          }
        ]
      }
    },
    "/v1/keep-writing": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "text": {
                        "type": "string",
                        "description": "The text.",
                        "title": "Text"
                      }
                    }
                  },
                  "title": "Data"
                },
                "requestId": {
                  "type": "string",
                  "description": "The request identifier.",
                  "title": "Request ID"
                },
                "resource": {
                  "type": "string",
                  "description": "The resource.",
                  "title": "Resource"
                }
              }
            }
          }
        },
        "summary": "Run keep writing",
        "description": "Continue writing content by using a previous AI text output or other written content as background information.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "inputs": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type",
                      "default": "text",
                      "enum": [
                        "text",
                        "id"
                      ]
                    },
                    "value": {
                      "type": "string",
                      "description": "The value.",
                      "title": "Value"
                    }
                  },
                  "title": "Inputs",
                  "required": [
                    "type",
                    "value"
                  ]
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "inputLanguage": {
                      "type": "string",
                      "description": "The input language.",
                      "title": "Input Language",
                      "default": "English",
                      "enum": [
                        "English",
                        "French",
                        "Italian",
                        "Spanish",
                        "Portuguese",
                        "German"
                      ]
                    },
                    "outputLanguage": {
                      "type": "string",
                      "description": "The output language.",
                      "title": "Output Language",
                      "default": "English",
                      "enum": [
                        "English",
                        "French",
                        "Italian",
                        "Spanish",
                        "Portuguese",
                        "German"
                      ]
                    },
                    "languageFormality": {
                      "type": "string",
                      "description": "The language formality.",
                      "title": "Language Formality",
                      "default": "default",
                      "enum": [
                        "default",
                        "more",
                        "less"
                      ]
                    }
                  },
                  "title": "Options"
                }
              },
              "required": [
                "inputs"
              ]
            }
          }
        ],
        "operationId": "KeepWritingPost"
      }
    },
    "/v1/templates": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "inputSchema": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "inputKey": {
                              "type": "string",
                              "description": "The input key.",
                              "title": "Input Key"
                            },
                            "type": {
                              "type": "string",
                              "description": "The type.",
                              "title": "Type"
                            },
                            "required": {
                              "type": "boolean",
                              "description": "Whether required.",
                              "title": "Required"
                            },
                            "label": {
                              "type": "string",
                              "description": "The label.",
                              "title": "Label"
                            },
                            "maxLength": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The maximum length.",
                              "title": "Max Length"
                            },
                            "placeholder": {
                              "type": "string",
                              "description": "The placeholder.",
                              "title": "Placeholder"
                            },
                            "tooltip": {
                              "type": "string",
                              "description": "The tooltip.",
                              "title": "Tooltip"
                            }
                          }
                        },
                        "title": "Input Schema"
                      }
                    }
                  },
                  "title": "Data"
                },
                "requestId": {
                  "type": "string",
                  "description": "The request identifier.",
                  "title": "Request ID"
                },
                "resource": {
                  "type": "string",
                  "description": "The resource.",
                  "title": "Resource"
                }
              }
            }
          }
        },
        "summary": "Retrieve templates",
        "description": "Retrieve all templates available in your workspace including default templates and custom templates.",
        "operationId": "TemplatesGet",
        "parameters": []
      }
    },
    "/v1/templates/{templateId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "description": {
                      "type": "string",
                      "description": "The description.",
                      "title": "Description"
                    },
                    "inputSchema": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "inputKey": {
                            "type": "string",
                            "description": "The input key.",
                            "title": "Input Key"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "required": {
                            "type": "boolean",
                            "description": "Whether required.",
                            "title": "Required"
                          },
                          "label": {
                            "type": "string",
                            "description": "The label.",
                            "title": "Label"
                          },
                          "maxLength": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The maximum length.",
                            "title": "Max Length"
                          },
                          "placeholder": {
                            "type": "string",
                            "description": "The placeholder.",
                            "title": "Placeholder"
                          }
                        }
                      },
                      "title": "Input Schema"
                    }
                  },
                  "title": "Data"
                },
                "requestId": {
                  "type": "string",
                  "description": "The request identifier.",
                  "title": "Request ID"
                },
                "resource": {
                  "type": "string",
                  "description": "The resource.",
                  "title": "Resource"
                }
              }
            }
          }
        },
        "summary": "Retrieve template by ID",
        "description": "Retrieve an individual default or custom template available in your workspace by identifier.",
        "operationId": "TemplateGet",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "x-ms-summary": "Template ID",
            "x-ms-url-encoding": "single",
            "description": "The template identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "TemplatesGet",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "name"
            }
          }
        ]
      }
    },
    "/v1/templates/{templateId}/run": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "requestId": {
                  "type": "string",
                  "description": "The request identifier.",
                  "title": "Request ID"
                },
                "resource": {
                  "type": "string",
                  "description": "The resource.",
                  "title": "Resource"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "text": {
                        "type": "string",
                        "description": "The text.",
                        "title": "Text"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Run template",
        "description": "Run a default template or custom template by identifier to generate an AI output.",
        "operationId": "TemplatePost",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "x-ms-summary": "Template ID",
            "x-ms-url-encoding": "single",
            "description": "The template identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "inputs": {
                  "type": "object",
                  "properties": {},
                  "description": "The inputs.",
                  "title": "Inputs"
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "outputCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The output count.",
                      "title": "Output Count"
                    },
                    "inputLanguage": {
                      "type": "string",
                      "description": "The input language.",
                      "title": "Input Language",
                      "default": "English",
                      "enum": [
                        "English",
                        "French",
                        "Italian",
                        "Spanish",
                        "Portuguese",
                        "German"
                      ]
                    },
                    "outputLanguage": {
                      "type": "string",
                      "description": "The output language.",
                      "title": "Output Language",
                      "default": "English",
                      "enum": [
                        "English",
                        "French",
                        "Italian",
                        "Spanish",
                        "Portuguese",
                        "German"
                      ]
                    },
                    "languageFormality": {
                      "type": "string",
                      "description": "The language formality.",
                      "title": "Language Formality",
                      "default": "default",
                      "enum": [
                        "default",
                        "more",
                        "less"
                      ]
                    }
                  },
                  "title": "Options"
                }
              }
            }
          }
        ]
      }
    },
    "/v1/knowledge": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "requestId": {
                  "type": "string",
                  "description": "The request identifier.",
                  "title": "Request ID"
                },
                "resource": {
                  "type": "string",
                  "description": "The resource.",
                  "title": "Resource"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "file": {
                        "type": "string",
                        "description": "The file, as a string.",
                        "title": "File"
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {},
                        "description": "The metadata object.",
                        "title": "Metadata"
                      },
                      "settings": {
                        "type": "object",
                        "properties": {
                          "appVisibility": {
                            "type": "string",
                            "description": "The app visibility.",
                            "title": "App Visibility"
                          }
                        },
                        "title": "Settings"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "processingState": {
                        "type": "string",
                        "description": "The processing state.",
                        "title": "Processing State"
                      }
                    }
                  },
                  "title": "Data"
                },
                "pagination": {
                  "type": "object",
                  "properties": {
                    "totalRecords": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of records.",
                      "title": "Total Records"
                    },
                    "page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The page number.",
                      "title": "Page"
                    },
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The size.",
                      "title": "Size"
                    },
                    "next": {
                      "type": "string",
                      "description": "The next link.",
                      "title": "Next"
                    },
                    "prev": {
                      "type": "string",
                      "description": "The previous link.",
                      "title": "Prev"
                    }
                  },
                  "title": "Pagination"
                }
              }
            }
          }
        },
        "summary": "Get all knowledges",
        "description": "Retrieves a list of knowledges available to your workspace, sorted from most recently created.",
        "operationId": "KnowledgesGet",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "size",
            "in": "query",
            "x-ms-summary": "Size",
            "description": "The size.",
            "required": false,
            "type": "integer"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "requestId": {
                  "type": "string",
                  "description": "The request identifier.",
                  "title": "Request ID"
                },
                "resource": {
                  "type": "string",
                  "description": "The resource.",
                  "title": "Resource"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "file": {
                        "type": "string",
                        "description": "The file, as a string.",
                        "title": "File"
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {},
                        "description": "The metadata object.",
                        "title": "Metadata"
                      },
                      "settings": {
                        "type": "object",
                        "properties": {
                          "appVisibility": {
                            "type": "string",
                            "description": "The app visibility.",
                            "title": "App Visibility"
                          }
                        },
                        "title": "Settings"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "processingState": {
                        "type": "string",
                        "description": "The processing state.",
                        "title": "Processing State"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Create a new knowledge",
        "description": "Creates a knowledge for use in personalizing AI outputs.",
        "operationId": "KnowledgePost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "The metadata object.",
                  "title": "Metadata"
                },
                "settings": {
                  "type": "object",
                  "properties": {
                    "appVisibility": {
                      "type": "string",
                      "description": "The app visibility.",
                      "title": "App Visibility",
                      "default": "visible",
                      "enum": [
                        "visible",
                        "hidden"
                      ]
                    }
                  },
                  "title": "Settings"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "file": {
                  "type": "string",
                  "description": "The file string.",
                  "title": "File"
                }
              },
              "required": [
                "file",
                "name"
              ]
            }
          }
        ]
      }
    },
    "/v1/knowledge/{knowledgeId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "requestId": {
                  "type": "string",
                  "description": "The request identifier.",
                  "title": "Request ID"
                },
                "resource": {
                  "type": "string",
                  "description": "The resource.",
                  "title": "Resource"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "file": {
                        "type": "string",
                        "description": "The file, as a string.",
                        "title": "File"
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "customerId": {
                            "type": "string",
                            "description": "The customer identifier.",
                            "title": "Customer ID"
                          }
                        },
                        "title": "Metadata"
                      },
                      "settings": {
                        "type": "object",
                        "properties": {
                          "appVisibility": {
                            "type": "string",
                            "description": "The app visibility.",
                            "title": "App Visibility"
                          }
                        },
                        "title": "Settings"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "processingState": {
                        "type": "string",
                        "description": "The processing state.",
                        "title": "Processing State"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get a knowledge",
        "description": "Retrieves a specific knowledge.",
        "operationId": "KnowledgeGet",
        "parameters": [
          {
            "name": "knowledgeId",
            "in": "path",
            "x-ms-summary": "Knowledge ID",
            "x-ms-url-encoding": "single",
            "description": "The knowledge identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "KnowledgesGet",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "name"
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "requestId": {
                  "type": "string",
                  "description": "The request identifier.",
                  "title": "Request ID"
                },
                "resource": {
                  "type": "string",
                  "description": "The resource.",
                  "title": "Resource"
                },
                "deleted": {
                  "type": "boolean",
                  "description": "Whether deleted.",
                  "title": "Deleted"
                }
              }
            }
          }
        },
        "summary": "Delete a knowledge",
        "description": "Deletes an existing knowledge.",
        "operationId": "KnowledgeDelete",
        "parameters": [
          {
            "name": "knowledgeId",
            "in": "path",
            "x-ms-summary": "Knowledge ID",
            "x-ms-url-encoding": "single",
            "description": "The knowledge identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "KnowledgesGet",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "name"
            }
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "requestId": {
                  "type": "string",
                  "description": "The request identifier.",
                  "title": "Request ID"
                },
                "resource": {
                  "type": "string",
                  "description": "The resource.",
                  "title": "Resource"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "file": {
                        "type": "string",
                        "description": "The file, as a string.",
                        "title": "File"
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {},
                        "description": "The metadata object.",
                        "title": "Metadata"
                      },
                      "settings": {
                        "type": "object",
                        "properties": {
                          "appVisibility": {
                            "type": "string",
                            "description": "The app visibility.",
                            "title": "App Visibility"
                          }
                        },
                        "title": "Settings"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "processingState": {
                        "type": "string",
                        "description": "The processing state.",
                        "title": "Processing State"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Update a knowledge",
        "description": "Updates an existing knowledge.",
        "operationId": "KnowledgePatch",
        "parameters": [
          {
            "name": "knowledgeId",
            "in": "path",
            "x-ms-summary": "Knowledge ID",
            "x-ms-url-encoding": "single",
            "description": "The knowledge identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "KnowledgesGet",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "name"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "The metadata object.",
                  "title": "Metadata"
                },
                "settings": {
                  "type": "object",
                  "properties": {
                    "appVisibility": {
                      "type": "string",
                      "description": "The app visibility.",
                      "title": "App Visibility"
                    }
                  },
                  "title": "Settings"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "file": {
                  "type": "string",
                  "description": "The file string.",
                  "title": "File"
                }
              }
            }
          }
        ]
      }
    },
    "/v1/tones": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "requestId": {
                    "type": "string",
                    "description": "The request identifier.",
                    "title": "Request ID"
                  },
                  "resource": {
                    "type": "string",
                    "description": "The resource.",
                    "title": "Resource"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "value": {
                        "type": "string",
                        "description": "The value.",
                        "title": "Value"
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {},
                        "description": "The metadata object.",
                        "title": "Metadata"
                      },
                      "settings": {
                        "type": "object",
                        "properties": {
                          "appVisibility": {
                            "type": "string",
                            "description": "The app visibility.",
                            "title": "App Visibility"
                          }
                        },
                        "title": "Settings"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      }
                    },
                    "title": "Data"
                  },
                  "pagination": {
                    "type": "object",
                    "properties": {
                      "totalRecords": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The total number of records.",
                        "title": "Total Records"
                      },
                      "page": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The page.",
                        "title": "Page"
                      },
                      "pageSize": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The page size.",
                        "title": "Page Size"
                      },
                      "next": {
                        "type": "string",
                        "description": "The next link.",
                        "title": "Next"
                      },
                      "prev": {
                        "type": "string",
                        "description": "The previous link.",
                        "title": "Prev"
                      }
                    },
                    "title": "Pagination"
                  }
                }
              }
            }
          }
        },
        "summary": "Get all tones",
        "description": "Retrieves a list of tones available to your workspace, sorted from most recently created.",
        "operationId": "TonesGet",
        "parameters": []
      },
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "requestId": {
                  "type": "string",
                  "description": "The request identifier.",
                  "title": "Request ID"
                },
                "resource": {
                  "type": "string",
                  "description": "The resource.",
                  "title": "Resource"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "value": {
                      "type": "string",
                      "description": "The value.",
                      "title": "Value"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {},
                      "description": "The metadata object.",
                      "title": "Metadata"
                    },
                    "settings": {
                      "type": "object",
                      "properties": {
                        "appVisibility": {
                          "type": "string",
                          "description": "The app visibility.",
                          "title": "App Visibility"
                        }
                      },
                      "title": "Settings"
                    },
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "updatedAt": {
                      "type": "string",
                      "description": "When updated at.",
                      "title": "Updated At"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Create a new tone",
        "description": "Creates a tone for use in personalizing AI outputs.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "The metadata object.",
                  "title": "Metadata"
                },
                "settings": {
                  "type": "object",
                  "properties": {
                    "appVisibility": {
                      "type": "string",
                      "description": "The app visibility.",
                      "title": "App Visibility",
                      "default": "visible",
                      "enum": [
                        "visible",
                        "hidden"
                      ]
                    }
                  },
                  "title": "Settings"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "value": {
                  "type": "string",
                  "description": "The value.",
                  "title": "Value"
                }
              },
              "required": [
                "name",
                "value"
              ]
            }
          }
        ],
        "operationId": "TonePost"
      }
    },
    "/v1/tones/{toneId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "requestId": {
                  "type": "string",
                  "description": "The request identifier.",
                  "title": "Request ID"
                },
                "resource": {
                  "type": "string",
                  "description": "The resource.",
                  "title": "Resource"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "value": {
                      "type": "string",
                      "description": "The value.",
                      "title": "Value"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {},
                      "description": "The metadata object.",
                      "title": "Metadata"
                    },
                    "settings": {
                      "type": "object",
                      "properties": {
                        "appVisibility": {
                          "type": "string",
                          "description": "The app visibility.",
                          "title": "App Visibility"
                        }
                      },
                      "title": "Settings"
                    },
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "updatedAt": {
                      "type": "string",
                      "description": "When updated at.",
                      "title": "Updated At"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get a tone",
        "description": "Retrieve a specific tone.",
        "operationId": "ToneGet",
        "parameters": [
          {
            "name": "toneId",
            "in": "path",
            "x-ms-summary": "Tone ID",
            "x-ms-url-encoding": "single",
            "description": "The tone identifer.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "TonesGet",
              "value-path": "data/id",
              "value-title": "data/name"
            }
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "requestId": {
                  "type": "string",
                  "description": "The request identifier.",
                  "title": "Request ID"
                },
                "resource": {
                  "type": "string",
                  "description": "The resource.",
                  "title": "Resource"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "value": {
                      "type": "string",
                      "description": "The value.",
                      "title": "Value"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {},
                      "description": "The metadata object.",
                      "title": "Metadata"
                    },
                    "settings": {
                      "type": "object",
                      "properties": {
                        "appVisibility": {
                          "type": "string",
                          "description": "The app visibility.",
                          "title": "App Visibility"
                        }
                      },
                      "title": "Settings"
                    },
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "updatedAt": {
                      "type": "string",
                      "description": "When updated at.",
                      "title": "Updated At"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Update a tone",
        "description": "Updates an existing tone.",
        "operationId": "TonePatch",
        "parameters": [
          {
            "name": "toneId",
            "in": "path",
            "x-ms-summary": "Tone ID",
            "x-ms-url-encoding": "single",
            "description": "The tone identifer.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "TonesGet",
              "value-path": "data/id",
              "value-title": "data/name"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "The metadata object.",
                  "title": "Metadata"
                },
                "settings": {
                  "type": "object",
                  "properties": {
                    "appVisibility": {
                      "type": "string",
                      "description": "The app visibility.",
                      "title": "App Visibility"
                    }
                  },
                  "title": "Settings"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "value": {
                  "type": "string",
                  "description": "The value.",
                  "title": "Value"
                }
              }
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "requestId": {
                  "type": "string",
                  "description": "The request identifier.",
                  "title": "Request ID"
                },
                "resource": {
                  "type": "string",
                  "description": "The resource.",
                  "title": "Resource"
                },
                "deleted": {
                  "type": "boolean",
                  "description": "Whether deleted.",
                  "title": "Deleted"
                }
              }
            }
          }
        },
        "summary": "Delete a tone",
        "description": "Deletes an existing tone.",
        "operationId": "ToneDelete",
        "parameters": [
          {
            "name": "toneId",
            "in": "path",
            "x-ms-summary": "Tone ID",
            "x-ms-url-encoding": "single",
            "description": "The tone identifer.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "TonesGet",
              "value-path": "data/id",
              "value-title": "data/name"
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.jasper.ai/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.jasper.ai/policies"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI"
    }
  ]
}