{
  "swagger": "2.0",
  "info": {
    "title": "Robohash",
    "description": "Robohash is a easy web service that makes it easy to provide unique, robot/alien/monster/whatever images for any text.\nPut in any text, such as IP address, email, filename, userid, or whatever else you like, and get back a pretty image for your site. With hundreds of millions of variations, Robohash is the among the leading robot-based hashing tools on the web.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "robohash.org",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [],
  "paths": {
    "/{text}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "type": "string",
                  "title": "Content Type",
                  "description": "The file content type."
                },
                "$content": {
                  "type": "string",
                  "title": "Content",
                  "description": "The file content."
                }
              }
            }
          }
        },
        "summary": "Generate image from text",
        "description": "Returns a unique image from the entered text.",
        "operationId": "ImageGet",
        "parameters": [
          {
            "name": "text",
            "in": "path",
            "x-ms-summary": "Text",
            "description": "The text used to create the image. Can be a single word or email address.",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "set",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "any",
            "description": "Image Set",
            "x-ms-summary": "The set of images to create the image from.",
            "enum": [
              "any",
              "set1",
              "set2",
              "set3",
              "set4",
              "set5"
            ]
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Size",
            "x-ms-summary": "The size of the image to return."
          },
          {
            "name": "bgset",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Background Set",
            "x-ms-summary": "The set background to add to the image."
          },
          {
            "name": "gravatar",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "no",
            "description": "Gravatar",
            "x-ms-summary": "Whether to use a Gravatar if one is available for the image.",
            "enum": [
              "no",
              "yes"
            ]
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://robohash.org/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://robohash.org/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ]
}