{
  "swagger": "2.0", 
  "info": {
    "title": "Finnish BIS",
    "description": "Get data from the Finnish Business Information System (BIS) maintained by the PRH and the Finnish Tax Administration. \n\nIn addition to basic details of businesses or companies registered at the Finnish Trade Register, the service also provides information on other registers they have been added to: the Prepayment Register, the Employer Register, the VAT Register, the register of bodies liable for tax on insurance premiums, and the Client Register of the Tax Administration.",
    "version": "1.0",
    "contact": {
      "name": "Timo Pertila",
      "url": "https://timopertila.com",
      "email": "timo.pertila@gmail.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://tietopalvelu.ytj.fi/yrityshaku.aspx?kielikoodi=3"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.ytj.fi/en/index/filedescriptions.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management"
    }
  ],
  "host": "avoindata.prh.fi",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/bis/v1/{businessId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "title": "Type"
                },
                "version": {
                  "type": "string",
                  "title": "Version"
                },
                "totalResults": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Total results"
                },
                "resultsFrom": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Results form"
                },
                "previousResultsUri": {
                  "type": "string",
                  "title": "Previous results URL"
                },
                "nextResultsUri": {
                  "type": "string",
                  "title": "Next results URL"
                },
                "exceptionNoticeUri": {
                  "type": "string",
                  "title": "Exception notice URL"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "businessId": {
                        "type": "string",
                        "title": "Business Id"
                      },
                      "name": {
                        "type": "string",
                        "title": "Company name"
                      },
                      "registrationDate": {
                        "type": "string",
                        "title": "Registration date"
                      },
                      "companyForm": {
                        "type": "string",
                        "title": "Company form"
                      },
                      "detailsUri": {
                        "type": "string",
                        "title": "Details URL"
                      },
                      "liquidations": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "version": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "name": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "registrationDate": {
                              "type": "string"
                            },
                            "endDate": {
                              "type": "string"
                            },
                            "language": {
                              "type": "string"
                            },
                            "source": {
                              "type": "integer",
                              "format": "int32"
                            }
                          }
                        }
                      },
                      "names": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "order": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "version": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "name": {
                              "type": "string"
                            },
                            "registrationDate": {
                              "type": "string"
                            },
                            "endDate": {
                              "type": "string"
                            },
                            "source": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "language": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "auxiliaryNames": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "order": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "version": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "name": {
                              "type": "string"
                            },
                            "registrationDate": {
                              "type": "string"
                            },
                            "endDate": {
                              "type": "string"
                            },
                            "source": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "language": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "addresses": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "careOf": {
                              "type": "string"
                            },
                            "street": {
                              "type": "string"
                            },
                            "postCode": {
                              "type": "string"
                            },
                            "type": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "version": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "city": {
                              "type": "string"
                            },
                            "country": {
                              "type": "string"
                            },
                            "registrationDate": {
                              "type": "string"
                            },
                            "endDate": {
                              "type": "string"
                            },
                            "language": {
                              "type": "string"
                            },
                            "source": {
                              "type": "integer",
                              "format": "int32"
                            }
                          }
                        }
                      },
                      "companyForms": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "version": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "name": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "registrationDate": {
                              "type": "string"
                            },
                            "endDate": {
                              "type": "string"
                            },
                            "language": {
                              "type": "string"
                            },
                            "source": {
                              "type": "integer",
                              "format": "int32"
                            }
                          }
                        }
                      },
                      "businessLines": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "order": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "version": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "code": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "registrationDate": {
                              "type": "string"
                            },
                            "endDate": {
                              "type": "string"
                            },
                            "language": {
                              "type": "string"
                            },
                            "source": {
                              "type": "integer",
                              "format": "int32"
                            }
                          }
                        }
                      },
                      "languages": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "version": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "name": {
                              "type": "string"
                            },
                            "registrationDate": {
                              "type": "string"
                            },
                            "endDate": {
                              "type": "string"
                            },
                            "language": {
                              "type": "string"
                            },
                            "source": {
                              "type": "integer",
                              "format": "int32"
                            }
                          }
                        }
                      },
                      "registedOffices": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "order": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "version": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "name": {
                              "type": "string"
                            },
                            "registrationDate": {
                              "type": "string"
                            },
                            "endDate": {
                              "type": "string"
                            },
                            "language": {
                              "type": "string"
                            },
                            "source": {
                              "type": "integer",
                              "format": "int32"
                            }
                          }
                        }
                      },
                      "contactDetails": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string"
                            },
                            "version": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "name": {
                              "type": "string"
                            },
                            "registrationDate": {
                              "type": "string"
                            },
                            "endDate": {
                              "type": "string"
                            },
                            "language": {
                              "type": "string"
                            },
                            "source": {
                              "type": "integer",
                              "format": "int32"
                            }
                          }
                        }
                      },
                      "registeredEntries": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "authority": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "register": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "status": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "registrationDate": {
                              "type": "string"
                            },
                            "endDate": {
                              "type": "string"
                            },
                            "statusDate": {
                              "type": "string"
                            },
                            "language": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "businessIdChanges": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "source": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "description": {
                              "type": "string"
                            },
                            "reason": {
                              "type": "string"
                            },
                            "changeDate": {
                              "type": "string"
                            },
                            "change": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "oldBusinessId": {
                              "type": "string"
                            },
                            "newBusinessId": {
                              "type": "string"
                            },
                            "language": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Get company information",
        "description": "Finnish BIS - Get company information",
        "operationId": "CompanyByBISCode",
        "parameters": [
          {
            "name": "businessId",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "single",
            "type": "string",
            "description": "Business ID",
            "x-ms-summary": "Business ID"
          }
        ]
      }
    },
    "/bis/v1": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "title": "Type"
                },
                "version": {
                  "type": "string",
                  "title": "Version"
                },
                "totalResults": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Total results"
                },
                "resultsFrom": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Results from"
                },
                "previousResultsUri": {
                  "type": "string",
                  "title": "Previous results URI"
                },
                "nextResultsUri": {
                  "type": "string",
                  "title": "Next results URI"
                },
                "exceptionNoticeUri": {
                  "type": "string",
                  "title": "Exception notice URL"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "businessId": {
                        "type": "string",
                        "title": "Business Id"
                      },
                      "name": {
                        "type": "string",
                        "title": "Company name"
                      },
                      "registrationDate": {
                        "type": "string",
                        "title": "Registration date"
                      },
                      "companyForm": {
                        "type": "string",
                        "title": "Company form"
                      },
                      "detailsUri": {
                        "type": "string",
                        "title": "Details URL"
                      }
                    }
                  }

                }
              }
            }
          }
        },
        "summary": "Search for companies",
        "operationId": "CompanySearch",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A company name or a prefix of it",
            "x-ms-summary": "Company name"
          },
          {
            "name": "maxResults",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "If set, maximum amount of results is limited to given number",
            "x-ms-summary": "Max results",
            "default": 10
          },
          {
            "name": "totalResults",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": true,
            "description": "If set to true, count of total search results will be included in results, as totalResults, otherwise totalResults will be set to -1",
            "x-ms-summary": "Show count of results"
          }
        ],
        "description": "Finnish BIS - Search Company"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}