{
  "swagger": "2.0",
  "info": {
    "title": "Finnish BIS",
    "description": "Get data from the Finnish Business Information System (BIS) maintained by the PRH and the Finnish Tax Administration. \n\nIn addition to basic details of businesses or companies registered at the Finnish Trade Register, the service also provides information on other registers they have been added to: the Prepayment Register, the Employer Register, the VAT Register, the register of bodies liable for tax on insurance premiums, and the Client Register of the Tax Administration.",
    "version": "1.0",
    "contact": {
      "name": "Timo Pertil\u00e4",
      "url": "https://timopertila.com",
      "email": "timo.pertila@gmail.com"
    },
    "x-ms-connector-metadata": [
      {
        "propertyName": "Website",
        "propertyValue": "https://tietopalvelu.ytj.fi/yrityshaku.aspx?kielikoodi=3"
      },
      {
        "propertyName": "Privacy policy",
        "propertyValue": "https://www.ytj.fi/en/index/filedescriptions.html"
      },
      {
        "propertyName": "Categories",
        "propertyValue": "Business Management"
      }
    ]
  },
  "host": "avoindata.prh.fi",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/bis/v1/{businessId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "version": {
                  "type": "string",
                  "description": "version"
                },
                "totalResults": {
                  "type": "integer",
                  "format": "int32",
                  "description": "totalResults"
                },
                "resultsFrom": {
                  "type": "integer",
                  "format": "int32",
                  "description": "resultsFrom"
                },
                "previousResultsUri": {
                  "type": "string",
                  "description": "previousResultsUri"
                },
                "nextResultsUri": {
                  "type": "string",
                  "description": "nextResultsUri"
                },
                "exceptionNoticeUri": {
                  "type": "string",
                  "description": "exceptionNoticeUri"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "businessId": {
                        "type": "string",
                        "description": "businessId"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "registrationDate": {
                        "type": "string",
                        "description": "registrationDate"
                      },
                      "companyForm": {
                        "type": "string",
                        "description": "companyForm"
                      },
                      "detailsUri": {
                        "type": "string",
                        "description": "detailsUri"
                      }
                    }
                  },
                  "description": "results"
                }
              }
            }
          }
        },
        "summary": "Get company information",
        "description": "Finnish BIS - Get company information",
        "operationId": "CompanyByBISCode",
        "parameters": [
          {
            "name": "businessId",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "single",
            "type": "string",
            "description": "Business ID",
            "x-ms-summary": "Business ID"
          }
        ]
      }
    },
    "/bis/v1": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "version": {
                  "type": "string",
                  "description": "version"
                },
                "totalResults": {
                  "type": "integer",
                  "format": "int32",
                  "description": "totalResults"
                },
                "resultsFrom": {
                  "type": "integer",
                  "format": "int32",
                  "description": "resultsFrom"
                },
                "previousResultsUri": {
                  "type": "string",
                  "description": "previousResultsUri"
                },
                "nextResultsUri": {
                  "type": "string",
                  "description": "nextResultsUri"
                },
                "exceptionNoticeUri": {
                  "type": "string",
                  "description": "exceptionNoticeUri"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "businessId": {
                        "type": "string",
                        "description": "businessId"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "registrationDate": {
                        "type": "string",
                        "description": "registrationDate"
                      },
                      "companyForm": {
                        "type": "string",
                        "description": "companyForm"
                      },
                      "detailsUri": {
                        "type": "string",
                        "description": "detailsUri"
                      }
                    }
                  },
                  "description": "results"
                }
              }
            }
          }
        },
        "summary": "Search for companies",
        "operationId": "CompanySearch",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A company name or a prefix of it",
            "x-ms-summary": "Company name"
          },
          {
            "name": "maxResults",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "If set, maximum amount of results is limited to given number",
            "x-ms-summary": "Max results",
            "default": 10
          },
          {
            "name": "totalResults",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": true,
            "description": "If set to true, count of total search results will be included in results, as totalResults, otherwise totalResults will be set to -1",
            "x-ms-summary": "Show count of results"
          }
        ],
        "description": "Finnish BIS - Search Company"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}