{
  "swagger": "2.0",
  "info": {
    "title": "Autodesk Forge® Data Exchange",
    "description": "Unleash your productivity and streamline collaboration by connecting design and make data between Revit and the tools of your choice.",
    "version": "1.0",
    "contact": {
      "name": "Autodesk Forge Data Exchange Team",
      "url": "https://forge.autodesk.com/contact-support",
      "email": "data.exchange.support@autodesk.com"
    }
  },
  "host": "developer.api.autodesk.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "x-ms-connector-metadata": [
      {
        "propertyName": "Website",
        "propertyValue": "https://forge.autodesk.com"
      },
      {
        "propertyName": "Privacy policy",
        "propertyValue": "https://www.autodesk.com/company/legal-notices-trademarks/privacy-statement"
      },
      {
        "propertyName": "Categories",
        "propertyValue": "Data;Collaboration"
      }
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/project/v1/hubs": {
      "get": {
        "operationId": "GetHubs",
        "summary": "Get root folders",
        "description": "Get root folders",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FolderMetadata"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/project/v1/hubs/{hubId}/projects": {
      "get": {
        "operationId": "GetProjectByHubId",
        "summary": "Get Projects by Hub ID",
        "description": "Get Projects by Hub ID",
        "parameters": [
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/project/v1/hubs/{hubId}/projects/{projectId}/topFolders": {
      "get": {
        "operationId": "GetTopFolderByProjectId",
        "summary": "Get Top Folder by Project ID",
        "description": "Get Top Folder by Project ID",
        "parameters": [
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/exchange/v1/collections/assets:get-closure": {
      "get": {
        "operationId": "GetAssetInfo",
        "summary": "Get details of a Data Exchange property",
        "description": "This operation gets details of a property associated with a Data Exchange.",
        "parameters": [
          {
            "$ref": "#/parameters/FilePickerSingleReturn"
          },
          {
            "name": "assetid",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Property identifier",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AssetParametersResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/connector/basefolder/test": {
      "get": {
        "operationId": "GetRootFolderContents",
        "summary": "Get root folders",
        "description": "Get root folders",
        "parameters": [
          {
            "name": "folderId",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FolderMetadata"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/connector/folder/test": {
      "get": {
        "operationId": "GetSubFolderContents",
        "summary": "Get inner folders",
        "description": "Get inner folders",
        "parameters": [
          {
            "name": "folderId",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FolderMetadata"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/connector/hubs": {
      "get": {
        "operationId": "ListRootFolders",
        "summary": "Get root folders",
        "description": "Get root folders",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FolderMetadata"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/connector/folder": {
      "get": {
        "operationId": "ListFolderContents",
        "tags": [
          "file",
          "folder"
        ],
        "summary": "Get folder contents",
        "description": "Get folder contents",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fileId",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "$ref": "#/parameters/FolderTypeFromPath"
          },
          {
            "name": "returnType",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FolderMetadata"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/exchange/v1/exchanges": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/ExchangeData"
            }
          }
        },
        "summary": "Get details about a Data Exchange",
        "description": "This operation gets details about a Data Exchange such as its Autodesk Docs project name, author of the file, and the last modified time, etc.",
        "tags": [
          "file",
          "folder"
        ],
        "operationId": "GetExchanges",
        "parameters": [
          {
            "$ref": "#/parameters/FilePickerMultipleReturn"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/fake/assets:sync": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/ParametersResponse"
            }
          }
        },
        "summary": "Get properties of a Data Exchange",
        "description": "This operation gets the properties of a Data Exchange. You can specify to get all the properties or only the latest properties.",
        "operationId": "GetAllPropertiesCodeBehind",
        "x-ms-visibility": "important",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "#/parameters/FilePickerSingleReturn"
          },
          {
            "name": "getlatest",
            "in": "query",
            "required": true,
            "x-ms-summary": "Get all or latest properties",
            "type": "string",
            "default": "all",
            "enum": [
              "all",
              "latest"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "All Properties",
                "value": "all"
              },
              {
                "displayName": "Latest Properties",
                "value": "latest"
              }
            ]
          },
          {
            "name": "cursor",
            "x-ms-summary": "Next page of properties",
            "description": "A pagination token for the next page of properties",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/exchange/v1/exchanges/assets:sync": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/ParametersResponse"
            }
          }
        },
        "summary": "Get All Properties (Supports Pagination)",
        "description": "Get All Properties for a given Exchange",
        "operationId": "GetAllProperties",
        "x-ms-visibility": "internal",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "#/parameters/FilePickerSingleReturn"
          },
          {
            "name": "getlatest",
            "in": "query",
            "required": true,
            "x-ms-summary": "Get all/latest properties",
            "type": "string",
            "default": "all",
            "enum": [
              "all",
              "latest"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "All Properties",
                "value": "all"
              },
              {
                "displayName": "Latest Properties",
                "value": "latest"
              }
            ]
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "x-ms-summary": "Next page of properties",
            "description": "A pagination token for the next page of properties",
            "type": "string",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/connector/webhook": {
      "x-ms-notification-content": {
        "description": "VersionAdded",
        "schema": {
          "$ref": "#/definitions/VersionAdded"
        }
      },
      "post": {
        "responses": {
          "201": {
            "description": "ok"
          }
        },
        "summary": "When a Data Exchange is updated",
        "description": "This operation triggers a flow when a Data Exchange is updated.",
        "operationId": "RegisterWebhookExchangeModified",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/HubsDropDown"
          },
          {
            "$ref": "#/parameters/ProjectsDropDown"
          },
          {
            "$ref": "#/parameters/TopFoldersDropDown"
          },
          {
            "$ref": "#/parameters/FilePickerUpdateWebhook"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ]
      }
    },
    "/connector/webhookModified": {
      "x-ms-notification-content": {
        "description": "ExchangeAdded",
        "schema": {
          "$ref": "#/definitions/ExchangeAdded"
        }
      },
      "post": {
        "responses": {
          "201": {
            "description": "ok"
          }
        },
        "summary": "When a Data Exchange is created",
        "description": "This operation triggers a flow when a Data Exchange is created.",
        "operationId": "RegisterWebhookExchangeAdded",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/HubsDropDown"
          },
          {
            "$ref": "#/parameters/ProjectsDropDown"
          },
          {
            "$ref": "#/parameters/TopFoldersDropDown"
          },
          {
            "$ref": "#/parameters/FolderPicker"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ]
      }
    },
    "/webhooks/v1/systems/data/events/dm.version.added/hooks/{webhookID}": {
      "delete": {
        "description": "Delete  webhook",
        "operationId": "DeleteWebhook",
        "parameters": [
          {
            "description": "Webhook ID",
            "in": "path",
            "name": "webhookID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": " Webhook Deleted",
            "schema": {
              "$ref": "#/definitions/WebhookDeleteResponse"
            }
          }
        },
        "summary": "Delete webhook",
        "x-ms-visibility": "internal"
      }
    },
    "/newsyncapi": {
      "get": {
        "summary": "GetParameterSchema",
        "description": "Get Parameter Schema",
        "operationId": "GetParameterSchema",
        "parameters": [
          {
            "name": "fileId",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/paramassetsyncapi": {
      "get": {
        "summary": "GetAssetParameterSchema",
        "description": "Get Parameter Schema for Asset",
        "operationId": "GetAssetParameterSchema",
        "parameters": [
          {
            "name": "exchangefileurn",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "assetid",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    }
  },
  "definitions": {
    "ParametersResponse": {
      "type": "object",
      "properties": {
        "value": {
          "description": "A list of all properties",
          "type": "array",
          "title": "Property List",
          "items": {
            "x-ms-dynamic-schema": {
              "operationId": "GetParameterSchema",
              "parameters": {
                "fileId": {
                  "parameter": "fileId"
                }
              }
            }
          }
        },
        "cursor": {
          "description": "A pagination token for the next page of properties",
          "type": "string",
          "title": "Next page of properties",
          "x-ms-visibility": "important"
        },
        "nextLink": {
          "type": "string",
          "x-ms-visibility": "internal"
        }
      }
    },
    "AssetParametersResponse": {
      "x-ms-dynamic-schema": {
        "operationId": "GetParameterSchema",
        "parameters": {
          "fileId": {
            "parameter": "fileId"
          }
        }
      }
    },
    "FolderContents": {
      "description": "Folder Contents",
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "FolderMetadata": {
      "description": "Folder data",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "Type of folder",
                "type": "string"
              },
              "isFolder": {
                "description": "A boolean value (true, false) to indicate whether or not the blob is a folder.",
                "type": "boolean"
              },
              "id": {
                "type": "string",
                "description": "Folder ID",
                "title": "Folder ID"
              },
              "displayName": {
                "type": "string",
                "description": "Folder Name",
                "title": "Folder Name:"
              }
            }
          },
          "description": "folders"
        }
      }
    },
    "ExchangeData": {
      "description": "Exchange data",
      "type": "object",
      "properties": {
        "hubName": {
          "type": "string",
          "description": "Hub name in Autodesk Docs",
          "title": "Hub Name",
          "x-ms-visibility": "important"
        },
        "projectName": {
          "type": "string",
          "description": "Project name in Autodesk Docs",
          "title": "Project Name",
          "x-ms-visibility": "important"
        },
        "folderName": {
          "type": "string",
          "description": "Folder name in Autodesk Docs",
          "title": "Folder Name",
          "x-ms-visibility": "important"
        },
        "collectionId": {
          "description": "Collection Id",
          "type": "string",
          "title": "Collection Id",
          "x-ms-visibility": "important"
        },
        "id": {
          "type": "string",
          "description": "Id",
          "title": "Id",
          "x-ms-visibility": "important"
        },
        "version": {
          "type": "string",
          "description": "Exchange Version",
          "title": "Version",
          "x-ms-visibility": "important"
        },
        "sourceVersionUrn": {
          "type": "string",
          "description": "Source version URN",
          "title": "Source version URN",
          "x-ms-visibility": "important"
        },
        "hostingProviderName": {
          "type": "string",
          "description": "Hosting provider name",
          "title": "Hosting provider name",
          "x-ms-visibility": "important"
        },
        "exchangeFileProjectUrn": {
          "type": "string",
          "description": "Exchange project URN",
          "title": "Exchange project URN",
          "x-ms-visibility": "important"
        },
        "baseSourceVersionUrn": {
          "type": "string",
          "description": "Base source version URN",
          "title": "Base source version URN",
          "x-ms-visibility": "important"
        },
        "exchangeFileFolderUrn": {
          "type": "string",
          "description": "Exchange folder URN",
          "title": "Exchange folder URN",
          "x-ms-visibility": "important"
        },
        "exchangeFileName": {
          "type": "string",
          "description": "Name of the Data Exchange",
          "title": "Data Exchange file name",
          "x-ms-visibility": "important"
        },
        "exchangeFileUrn": {
          "type": "string",
          "description": "Exchange URN",
          "title": "Exchange URN",
          "x-ms-visibility": "important"
        },
        "exchangeFileVersionUrn": {
          "type": "string",
          "description": "Exchange version URN",
          "title": "Exchange version URN",
          "x-ms-visibility": "important"
        },
        "createdBy": {
          "type": "string",
          "description": "Created by",
          "title": "Created by",
          "x-ms-visibility": "important"
        },
        "created": {
          "type": "string",
          "description": "Created",
          "title": "Created",
          "x-ms-visibility": "important"
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "Last modified by",
          "title": "Last modified by",
          "x-ms-visibility": "important"
        },
        "lastModified": {
          "type": "string",
          "description": "Last modified",
          "title": "Last modified",
          "x-ms-visibility": "important"
        }
      }
    },
    "WebhookDeleteResponse": {
      "properties": {
        "content": {
          "description": "content",
          "type": "string"
        },
        "duration": {
          "description": "duration",
          "type": "string"
        },
        "message": {
          "description": "message",
          "type": "string"
        },
        "responseCode": {
          "description": "responseCode",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ExchangeAdded": {
      "type": "object",
      "properties": {
        "payload": {
          "type": "object",
          "properties": {
            "modifiedTime": {
              "type": "string",
              "description": "Time Modified",
              "title": "Time Modified"
            },
            "name": {
              "type": "string",
              "description": "File Name",
              "title": "File Name"
            },
            "lineageUrn": {
              "type": "string",
              "description": "Exchange File Urn",
              "title": "Exchange File Urn"
            },
            "context": {
              "type": "object",
              "properties": {
                "lineage": {
                  "type": "object",
                  "x-ms-visibility": "advanced",
                  "properties": {
                    "createUserName": {
                      "type": "string",
                      "description": "Created By",
                      "title": "Created By",
                      "x-ms-visibility": "important"
                    },
                    "lastModifiedUserName": {
                      "type": "string",
                      "description": "Modified By",
                      "title": "Modified By",
                      "x-ms-visibility": "important"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "VersionAdded": {
      "type": "object",
      "properties": {
        "hook": {
          "type": "object",
          "properties": {
            "hookAttribute": {
              "type": "object",
              "properties": {
                "fileId": {
                  "type": "string",
                  "description": "Exchange File Id",
                  "title": "Exchange File Id"
                }
              }
            }
          }
        },
        "payload": {
          "type": "object",
          "properties": {
            "modifiedTime": {
              "type": "string",
              "description": "Time Modified",
              "title": "Time Modified"
            },
            "name": {
              "type": "string",
              "description": "File Name",
              "title": "File Name"
            },
            "modifiedBy": {
              "type": "string",
              "description": "Modified By",
              "title": "Modified By"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "HubsDropDown": {
      "required": true,
      "x-ms-summary": "Hub",
      "name": "hubId",
      "in": "query",
      "description": "Select the hub (account) for the Data Exchange in Autodesk Docs",
      "type": "string",
      "x-ms-dynamic-values": {
        "operationId": "GetHubs",
        "value-path": "id",
        "value-title": "attributes/name",
        "value-collection": "data"
      }
    },
    "ProjectsDropDown": {
      "name": "projectId",
      "x-ms-summary": "Project",
      "required": true,
      "in": "query",
      "description": "Select the project for the Data Exchange in Autodesk Docs",
      "type": "string",
      "x-ms-dynamic-values": {
        "operationId": "GetProjectByHubId",
        "value-path": "id",
        "value-title": "attributes/name",
        "value-collection": "data",
        "parameters": {
          "hubId": {
            "parameter": "hubId"
          }
        }
      }
    },
    "TopFoldersDropDown": {
      "name": "topFolderId",
      "x-ms-summary": "Top Folder",
      "required": true,
      "in": "query",
      "description": "Select the top folder for the Data Exchange in Autodesk Docs",
      "type": "string",
      "x-ms-dynamic-values": {
        "operationId": "GetTopFolderByProjectId",
        "value-path": "id",
        "value-title": "attributes/name",
        "value-collection": "data",
        "parameters": {
          "hubId": {
            "parameter": "hubId"
          },
          "projectId": {
            "parameter": "projectId"
          }
        }
      }
    },
    "FolderTypeFromPath": {
      "name": "type",
      "in": "query",
      "description": "Specify the folder ",
      "required": true,
      "x-ms-url-encoding": "single",
      "type": "string",
      "default": "hubs",
      "x-ms-visibility": "internal"
    },
    "FilePickerSingleReturn": {
      "name": "fileId",
      "in": "query",
      "type": "string",
      "description": "Select the Data Exchange in Autodesk Docs",
      "required": true,
      "x-ms-url-encoding": "single",
      "x-ms-dynamic-values": {
        "capability": "file-picker",
        "parameters": {
          "isFolder": true,
          "fileFilter": [],
          "dataset": null
        },
        "value-path": "id",
        "value-collection": "value",
        "value-title": "displayName"
      },
      "x-ms-summary": "Data Exchange",
      "x-ms-dynamic-tree": {
        "settings": {
          "canSelectParentNodes": false,
          "canSelectLeafNodes": true
        },
        "open": {
          "operationId": "ListRootFolders",
          "itemValuePath": "id",
          "itemTitlePath": "displayName",
          "itemIsParent": "(isFolder eq true)",
          "itemFullTitlePath": "displayName",
          "itemsPath": "value"
        },
        "browse": {
          "operationId": "ListFolderContents",
          "itemValuePath": "id",
          "itemsPath": "value",
          "itemTitlePath": "displayName",
          "itemIsParent": "(isFolder eq true)",
          "itemFullTitlePath": "displayName",
          "parameters": {
            "fileId": {
              "selectedItemValuePath": "id"
            },
            "type": {
              "selectedItemValuePath": "type"
            },
            "returnType": {
              "value": "single"
            }
          }
        }
      }
    },
    "FilePickerMultipleReturn": {
      "name": "fileId",
      "in": "query",
      "type": "string",
      "description": "Select the Data Exchange in Autodesk Docs",
      "required": true,
      "x-ms-url-encoding": "single",
      "x-ms-dynamic-values": {
        "capability": "file-picker",
        "parameters": {
          "isFolder": true,
          "fileFilter": [],
          "dataset": null
        },
        "value-path": "id",
        "value-collection": "value",
        "value-title": "displayName"
      },
      "x-ms-summary": "Data Exchange",
      "x-ms-dynamic-tree": {
        "settings": {
          "canSelectParentNodes": false,
          "canSelectLeafNodes": true
        },
        "open": {
          "operationId": "ListRootFolders",
          "itemValuePath": "id",
          "itemTitlePath": "displayName",
          "itemIsParent": "(isFolder eq true)",
          "itemFullTitlePath": "displayName",
          "itemsPath": "value"
        },
        "browse": {
          "operationId": "ListFolderContents",
          "itemValuePath": "id",
          "itemsPath": "value",
          "itemTitlePath": "displayName",
          "itemIsParent": "(isFolder eq true)",
          "itemFullTitlePath": "displayName",
          "parameters": {
            "fileId": {
              "selectedItemValuePath": "id"
            },
            "type": {
              "selectedItemValuePath": "type"
            }
          }
        }
      }
    },
    "FolderPicker": {
      "name": "folderId",
      "in": "query",
      "type": "string",
      "description": "Select Exchange Folder to Monitor",
      "required": true,
      "x-ms-url-encoding": "single",
      "x-ms-summary": "Exchange Folder",
      "x-ms-visibility": "important",
      "x-ms-dynamic-values": {
        "capability": "file-picker",
        "parameters": {
          "projectId": {
            "parameter": "projectId"
          },
          "isFolder": true,
          "fileFilter": [],
          "dataset": null
        },
        "value-path": "id",
        "value-collection": "value",
        "value-title": "displayName"
      },
      "x-ms-dynamic-tree": {
        "settings": {
          "canSelectParentNodes": true,
          "canSelectLeafNodes": false
        },
        "open": {
          "operationId": "GetRootFolderContents",
          "itemValuePath": "id",
          "itemTitlePath": "displayName",
          "itemIsParent": "(isFolder eq true)",
          "itemFullTitlePath": "displayName",
          "itemsPath": "value",
          "parameters": {
            "folderId": {
              "parameterReference": "topFolderId"
            },
            "projectId": {
              "parameterReference": "projectId"
            }
          }
        },
        "browse": {
          "operationId": "GetSubFolderContents",
          "itemValuePath": "id",
          "itemsPath": "value",
          "itemTitlePath": "displayName",
          "itemIsParent": "(isFolder eq true)",
          "itemFullTitlePath": "displayName",
          "parameters": {
            "folderId": {
              "selectedItemValuePath": "id"
            },
            "projectId": {
              "parameterReference": "projectId"
            }
          }
        }
      }
    },
    "FilePickerUpdateWebhook": {
      "name": "folderId",
      "in": "query",
      "type": "string",
      "description": "Select the Data Exchange in Autodesk Docs",
      "required": true,
      "x-ms-url-encoding": "single",
      "x-ms-summary": "Data Exchange",
      "x-ms-visibility": "important",
      "x-ms-dynamic-values": {
        "capability": "file-picker",
        "parameters": {
          "projectId": {
            "parameter": "projectId"
          },
          "isFolder": true,
          "fileFilter": [],
          "dataset": null
        },
        "value-path": "id",
        "value-collection": "value",
        "value-title": "displayName"
      },
      "x-ms-dynamic-tree": {
        "settings": {
          "canSelectParentNodes": false,
          "canSelectLeafNodes": true
        },
        "open": {
          "operationId": "GetRootFolderContents",
          "itemValuePath": "id",
          "itemTitlePath": "displayName",
          "itemIsParent": "(isFolder eq true)",
          "itemFullTitlePath": "displayName",
          "itemsPath": "value",
          "parameters": {
            "folderId": {
              "parameterReference": "topFolderId"
            },
            "projectId": {
              "parameterReference": "projectId"
            }
          }
        },
        "browse": {
          "operationId": "GetSubFolderContents",
          "itemValuePath": "id",
          "itemsPath": "value",
          "itemTitlePath": "displayName",
          "itemIsParent": "(isFolder eq true)",
          "itemFullTitlePath": "displayName",
          "parameters": {
            "folderId": {
              "selectedItemValuePath": "id"
            },
            "projectId": {
              "parameterReference": "projectId"
            }
          }
        }
      }
    }
  },
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://developer.api.autodesk.com/authentication/v1/authorize",
      "tokenUrl": "https://developer.api.autodesk.com/authentication/v1/gettoken",
      "scopes": {
        "data:read": "data:read",
        "data:search": "data:search"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "data:read",
        "data:search"
      ]
    }
  ],
  "tags": []
}
