{
  "swagger": "2.0",
  "info": {
    "title": "DiceBear",
    "description": "With DiceBear you can create awesome avatars for your project in no time. Whether you are looking for abstract shapes or lovingly designed characters, you will find something suitable among our avatar styles. In addition to purely random avatars, you can also create deterministic avatars for user identities.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.dicebear.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{version}/{styleName}/{fileFormat}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "type": "string",
                  "description": "The content type.",
                  "title": "Content Type"
                },
                "$content": {
                  "type": "string",
                  "description": "The file content.",
                  "title": "Content"
                }
              }
            }
          }
        },
        "summary": "Create an avatar",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "x-ms-summary": "Version",
            "x-ms-url-encoding": "single",
            "description": "The API version.",
            "required": true,
            "type": "string",
            "default": "5.x",
            "enum": [
              "5.x",
              "5.1",
              "5",
              "4.x",
              "4.1",
              "4.9",
              "4.8",
              "4.7",
              "4.6",
              "4.5",
              "4.4"
            ]
          },
          {
            "name": "styleName",
            "in": "path",
            "x-ms-summary": "Style",
            "x-ms-url-encoding": "single",
            "description": "The style name.",
            "required": true,
            "type": "string",
            "default": "adventurer",
            "enum": [
              "adventurer",
              "adventurer-neutral",
              "avataaars",
              "avataaars-neutral",
              "big-ears",
              "big-ears-neutral",
              "big-smile",
              "bottts",
              "bottts-neutral",
              "croodles",
              "croodles-neutral",
              "fun-emoji",
              "icons",
              "identicon",
              "initials",
              "lorelei",
              "lorelei-neutral",
              "micah",
              "miniavs",
              "open-peeps",
              "personas",
              "pixel-art",
              "pixel-art-neutral"
            ]
          },
          {
            "name": "fileFormat",
            "in": "path",
            "x-ms-summary": "File Format",
            "x-ms-url-encoding": "single",
            "description": "The file format.",
            "required": true,
            "type": "string",
            "default": "png",
            "enum": [
              "png",
              "jpg"
            ]
          },
          {
            "name": "seed",
            "in": "query",
            "x-ms-summary": "Seed",
            "description": "The seed.",
            "required": false,
            "type": "string"
          },
          {
            "name": "hair",
            "in": "query",
            "x-ms-summary": "Hair",
            "description": "The hair style.",
            "required": false,
            "type": "string"
          },
          {
            "name": "flip",
            "in": "query",
            "x-ms-summary": "Flip",
            "description": "Whether the avatar is flipped.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "rotate",
            "in": "query",
            "x-ms-summary": "Rotate",
            "description": "The rotation.",
            "required": false,
            "type": "integer",
            "minimum": 0,
            "maximum": 360
          },
          {
            "name": "scale",
            "in": "query",
            "x-ms-summary": "Scale",
            "description": "The scale.",
            "required": false,
            "type": "integer",
            "minimum": 0,
            "maximum": 200
          },
          {
            "name": "radius",
            "in": "query",
            "x-ms-summary": "Radius",
            "description": "The radius.",
            "required": false,
            "type": "integer",
            "minimum": 0,
            "maximum": 50
          },
          {
            "name": "size",
            "in": "query",
            "x-ms-summary": "Size",
            "description": "The size.",
            "required": false,
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "backgroundColor",
            "in": "query",
            "x-ms-summary": "Background Color",
            "description": "The background color.",
            "required": false,
            "type": "string"
          },
          {
            "name": "backgroundType",
            "in": "query",
            "x-ms-summary": "Background Type",
            "description": "The background type.",
            "required": false,
            "type": "string",
            "enum": [
              "gradientLinear",
              "solid"
            ]
          },
          {
            "name": "backgroundRotations",
            "in": "query",
            "x-ms-summary": "Background Rotation",
            "description": "The background rotation.",
            "required": false,
            "type": "integer",
            "minimum": 0,
            "maximum": 360
          },
          {
            "name": "translateX",
            "in": "query",
            "x-ms-summary": "Translate X",
            "description": "The X reposition.",
            "required": false,
            "type": "integer",
            "minimum": -100,
            "maximum": 100
          },
          {
            "name": "translateY",
            "in": "query",
            "x-ms-summary": "Translate Y",
            "description": "The Y reposition.",
            "required": false,
            "type": "integer",
            "minimum": -100,
            "maximum": 100
          },
          {
            "name": "clip",
            "in": "query",
            "x-ms-summary": "Clip",
            "description": "The clip.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "base",
            "in": "query",
            "x-ms-summary": "Base",
            "description": "The base.",
            "required": false,
            "type": "string"
          },
          {
            "name": "earrings",
            "in": "query",
            "x-ms-summary": "Earrings",
            "description": "The earrings.",
            "required": false,
            "type": "string"
          },
          {
            "name": "earringsProbabilty",
            "in": "query",
            "x-ms-summary": "Earrings Probability",
            "description": "The earrings probability.",
            "required": false,
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          {
            "name": "eyebrows",
            "in": "query",
            "x-ms-summary": "Eyebrows",
            "description": "The eyebrows.",
            "required": false,
            "type": "string"
          },
          {
            "name": "eyes",
            "in": "query",
            "x-ms-summary": "Eyes",
            "description": "The eyes.",
            "required": false,
            "type": "string"
          },
          {
            "name": "features",
            "in": "query",
            "x-ms-summary": "Features",
            "description": "The features.",
            "required": false,
            "type": "string"
          },
          {
            "name": "featuresProbability",
            "in": "query",
            "x-ms-summary": "Features Probability",
            "description": "The feature probability.",
            "required": false,
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          {
            "name": "glasses",
            "in": "query",
            "x-ms-summary": "Glasses",
            "description": "The glasses.",
            "required": false,
            "type": "string"
          },
          {
            "name": "glassesProbability",
            "in": "query",
            "x-ms-summary": "Glasses Probability",
            "description": "The glasses probability.",
            "required": false,
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          {
            "name": "hairColor",
            "in": "query",
            "x-ms-summary": "Hair Color",
            "description": "The hair color.",
            "required": false,
            "type": "string"
          },
          {
            "name": "hairProbability",
            "in": "query",
            "x-ms-summary": "Hair Probability",
            "description": "The hair probability.",
            "required": false,
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          {
            "name": "mouth",
            "in": "query",
            "x-ms-summary": "Mouth",
            "description": "The mouth.",
            "required": false,
            "type": "string"
          },
          {
            "name": "skinColor",
            "in": "query",
            "x-ms-summary": "Skin Color",
            "description": "The skin color.",
            "required": false,
            "type": "string"
          }
        ],
        "description": "Retrieves an avatar based on the style and options submitted.",
        "operationId": "AvatarGet"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://dicebear.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://dicebear.com/legal/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ]
}