{
  "swagger": "2.0",
  "info": {
    "title": "Seismic Workspace",
    "description": "The Seismic workspace connector includes actions related to adding, updating, deleting, and downloading workspace content.",
    "contact": {
      "name": "Seismic",
      "email": "support@seismic.com",
      "url": "https://seismic.com"
    },
    "license": {
      "name": "Seismic"
    },
    "version": "1.0"
  },
  "host": "api.seismic.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/integration/v2/workspace/spaces/{spaceId}/items/{workspaceContentId}/comments": {
      "get": {
        "tags": [
          "Workspace Comments"
        ],
        "summary": "Get the comments on a item",
        "description": "Get the comments on an item along with any replies and annotations.",
        "operationId": "GetWorkspaceItemComments",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceContentId",
            "description": "Workspace Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Content Id"
          },
          {
            "in": "path",
            "name": "spaceId",
            "description": "space Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Space Id"
          },
          {
            "in": "query",
            "name": "versionId",
            "description": "Workspace Content Version Id",
            "type": "string",
            "x-ms-summary": "Version Id"
          },
          {
            "in": "query",
            "name": "offset",
            "description": "offset",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Offset"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "limit",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.Paging.WorkspaceComment.WorkspaceComment"
            }
          }
        }
      }
    },
    "/integration/v2/workspace/spaces/{spaceId}/items/{workspaceContentId}/versions/{workspaceVersionId}/comments": {
      "post": {
        "tags": [
          "Workspace Comments"
        ],
        "summary": "Add a comment on an item",
        "operationId": "AddWorkspaceItemComments",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "description": "Space Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Space Id"
          },
          {
            "in": "path",
            "name": "workspaceContentId",
            "description": "Workspace Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Content Id"
          },
          {
            "in": "path",
            "name": "workspaceVersionId",
            "description": "Workspace Content Version Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Version Id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryCommenting.CommentOrAnnotationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkspaceComments.WorkspaceAddCommentResponse"
            }
          }
        },
        "description": "Add a comment on an item"
      }
    },
    "/integration/v2/workspace/spaces/{spaceId}/items/{workspaceContentId}/versions/{workspaceVersionId}/comments/{commentId}/reply": {
      "post": {
        "tags": [
          "Workspace Comments"
        ],
        "summary": "Add a reply on comment",
        "operationId": "AddReplyToComment",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "description": "Space Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Space Id"
          },
          {
            "in": "path",
            "name": "workspaceContentId",
            "description": "Workspace Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Content Id"
          },
          {
            "in": "path",
            "name": "workspaceVersionId",
            "description": "Workspace Content Version Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Version Id"
          },
          {
            "in": "path",
            "name": "commentId",
            "description": "Comment Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Comment Id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkspaceComments.WorkspaceAddCommentReply"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkspaceComments.WorkspaceReplyCommentResponse"
            }
          }
        },
        "description": "Add a reply on comment"
      }
    },
    "/integration/v2/workspace/spaces/{spaceId}/items/{workspaceContentId}/versions/{workspaceVersionId}/comments/{commentId}": {
      "delete": {
        "tags": [
          "Workspace Comments"
        ],
        "summary": "Delete a comment on an item",
        "operationId": "DeleteWorkspaceItemComment",
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "description": "Space Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Space Id"
          },
          {
            "in": "path",
            "name": "workspaceContentId",
            "description": "Workspace Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Content Id"
          },
          {
            "in": "path",
            "name": "workspaceVersionId",
            "description": "Workspace Content Version Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Content Version Id"
          },
          {
            "in": "path",
            "name": "commentId",
            "description": "Comment Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Comment Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "Delete a comment on an item"
      }
    },
    "/integration/v2/workspace/spaces/{spaceId}/items/{workspaceContentId}/versions/{workspaceVersionId}/comments/{commentId}/reply/{replyId}": {
      "delete": {
        "tags": [
          "Workspace Comments"
        ],
        "summary": "Delete a reply to a comment",
        "operationId": "DeleteWorkspaceItemCommentsReply",
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "description": "Space Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Space Id"
          },
          {
            "in": "path",
            "name": "workspaceContentId",
            "description": "Workspace Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Content Id"
          },
          {
            "in": "path",
            "name": "workspaceVersionId",
            "description": "Workspace Content Version Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Content Version Id"
          },
          {
            "in": "path",
            "name": "commentId",
            "description": "Comment Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Comment Id"
          },
          {
            "in": "path",
            "name": "replyId",
            "description": "reply Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Reply Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "Delete a reply to a comment"
      }
    },
    "/integration/v2/workspace/spaces/{spaceId}/items/{workspaceContentId}/versions/{workspaceVersionId}/comments/{commentId}/resolve": {
      "put": {
        "tags": [
          "Workspace Comments"
        ],
        "summary": "Resolve a comment",
        "operationId": "ResolveWorkspaceItemComment",
        "parameters": [
          {
            "in": "path",
            "name": "spaceId",
            "description": "Space Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Space Id"
          },
          {
            "in": "path",
            "name": "workspaceContentId",
            "description": "Workspace Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Content Id"
          },
          {
            "in": "path",
            "name": "workspaceVersionId",
            "description": "Workspace Content Version Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Content Version Id"
          },
          {
            "in": "path",
            "name": "commentId",
            "description": "Comment Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Comment Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "Resolve a comment"
      }
    },
    "/integration/v2/workspace/folders": {
      "post": {
        "tags": [
          "Workspace Content Management"
        ],
        "summary": "Add a folder",
        "description": "Adds a new subfolder to a specified workspace folder",
        "operationId": "CreateWorkspaceFolder",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Details for the new folder",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsFolderReq"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsFolderRespForAddAPI"
            }
          }
        }
      }
    },
    "/integration/v2/workspace/folders/{workspaceFolderId}": {
      "get": {
        "tags": [
          "Workspace Content Management"
        ],
        "summary": "Get information about a folder",
        "description": "Gets the basic information about a folder in workspace.",
        "operationId": "GetWorkspaceFolderDetails",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceFolderId",
            "description": "Id of the folder. Use \"root\" for the root folder.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Folder Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsFolderRespForAddAPI"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Workspace Content Management"
        ],
        "summary": "Delete a folder",
        "description": "Deletes a Workspace folder.",
        "operationId": "DeleteWorkspaceFolder",
        "parameters": [
          {
            "in": "path",
            "name": "workspaceFolderId",
            "description": "Id of the folder.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Folder Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Workspace Content Management"
        ],
        "summary": "Update a folder",
        "description": "This endpoint can be used to move or rename a folder.",
        "operationId": "UpdateWorkspaceFolder",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceFolderId",
            "description": "Id of the folder.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Folder Id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsFolderReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsFolderRespForAddAPI"
            }
          }
        }
      }
    },
    "/integration/v2/workspace/folders/{workspaceFolderId}/items": {
      "get": {
        "tags": [
          "Workspace Content Management"
        ],
        "summary": "Get list of items in a folder",
        "description": "Get list of items in a folder.",
        "operationId": "GetWorkspaceFolderItems",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceFolderId",
            "description": "Id of the folder. Use \"root\" for the root folder.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Folder Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.Common.WorkSpaceContentManager.WsItemResp"
            }
          }
        }
      }
    },
    "/integration/v2/workspace/folders/{workspaceFolderId}/copy": {
      "post": {
        "tags": [
          "Workspace Content Management"
        ],
        "summary": "Copy a folder",
        "description": "Copies a folder to a specified target folder.",
        "operationId": "CopyWorkspaceFolder",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceFolderId",
            "description": "Workspace Folder Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Folder Id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Body",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.CopyToFolderReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsFolderRespForAddAPI"
            }
          }
        }
      }
    },
    "/integration/v2/workspace/folders/createContextualFolder": {
      "post": {
        "tags": [
          "Workspace Content Management"
        ],
        "summary": "Create or get a contextual workspace folder",
        "description": "Creates a contextual folder or gets the workspaceContentId for a contextual folder if it already exists.",
        "operationId": "CreateWorkspaceContextualFolder",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Body",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.ContextualFolderRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsFolderRespForAddAPI"
            }
          }
        }
      }
    },
    "/integration/v2/workspace/files": {
      "post": {
        "tags": [
          "Workspace Content Management"
        ],
        "summary": "Add a File",
        "description": "Adds a new file to the Seismic workspace.",
        "operationId": "CreateWorkSpaceFile",
        "consumes": [
          "multipart/form-data",
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "metadata",
            "description": "Json Object with 'name', 'parentFolderId' and 'format' like 'ppt' or 'doc'. Example: {\"name\" : \"Big Presentation\", \"parentFolderId\" : \"root\", \"format\": \"ppt\"}",
            "type": "string",
            "x-ms-summary": "Metadata"
          },
          {
            "in": "formData",
            "name": "content",
            "description": "Only text file supported here, Add any strings to create file.",
            "type": "file",
            "x-ms-summary": "Content"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsFileResp"
            }
          }
        }
      }
    },
    "/integration/v2/workspace/files/{workspaceContentId}": {
      "get": {
        "tags": [
          "Workspace Content Management"
        ],
        "summary": "Get file information",
        "description": "Gets the basic information about a file in workspace.",
        "operationId": "GetWorkspaceFileDetails",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceContentId",
            "description": "WorkspaceContentId",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Content Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsFileResp"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Workspace Content Management"
        ],
        "summary": "Delete a file",
        "description": "Deletes a Workspace file.",
        "operationId": "DeleteWorkspaceFile",
        "parameters": [
          {
            "in": "path",
            "name": "workspaceContentId",
            "description": "Workspace Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Content Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Workspace Content Management"
        ],
        "summary": "Update File metadata",
        "description": "This endpoint can be used to move or rename a file.",
        "operationId": "UpdateWorkspaceFile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceContentId",
            "description": "workspace Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Content Id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsFileReqForPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsFileResp"
            }
          }
        }
      }
    },
    "/integration/v2/workspace/files/{workspaceContentId}/copy": {
      "post": {
        "tags": [
          "Workspace Content Management"
        ],
        "summary": "Copy a File",
        "description": "Copies a file to a specified target folder.",
        "operationId": "CopyWorkspaceFile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceContentId",
            "description": "Workspace Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Content Id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Body",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.CopyToFolderReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsFileResp"
            }
          }
        }
      }
    },
    "/integration/v2/workspace/files/{workspaceContentId}/content": {
      "get": {
        "tags": [
          "Workspace Content Management"
        ],
        "summary": "Download a file",
        "description": "Downloads the binary contents of a workspace content.",
        "operationId": "DownloadWorkspaceFile",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceContentId",
            "description": "Workspace Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Content Id"
          },
          {
            "in": "query",
            "name": "redirect",
            "description": "Optional query parameter. Accepts true or false, defaults to true. If true then response is a 302 redirect to download url,\r\n            else a 200 response with download location in response body.",
            "type": "boolean",
            "default": true,
            "x-ms-summary": "Redirect"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.Common.DownloadLocationResp"
            }
          },
          "302": {
            "description": "Redirect"
          }
        }
      },
      "put": {
        "tags": [
          "Workspace Content Management"
        ],
        "summary": "Upload a new file version",
        "description": "Adds a new version of an existing workspace file.",
        "operationId": "CreateWorkspaceFileVersion",
        "consumes": [
          "multipart/form-data",
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceContentId",
            "description": "workspace Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Content Id"
          },
          {
            "in": "formData",
            "name": "content",
            "description": "Only text file supported here, Add any strings to create file.",
            "type": "file",
            "x-ms-summary": "Content"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsFileResp"
            }
          }
        }
      }
    },
    "/integration/v2/workspace/urls": {
      "post": {
        "tags": [
          "Workspace Content Management"
        ],
        "summary": "Create a Url",
        "description": "Adds a new URL content item to the workspace.",
        "operationId": "CreateWorkspaceUrl",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "openInNewWindow",
            "description": "Open in new Window",
            "type": "boolean",
            "default": false,
            "x-ms-summary": "Open In New Window"
          },
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsUrlReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsUrlResp"
            }
          }
        }
      }
    },
    "/integration/v2/workspace/urls/{workspaceContentId}": {
      "get": {
        "tags": [
          "Workspace Content Management"
        ],
        "summary": "Get a Url",
        "description": "Get the basic information about a url in workspace.",
        "operationId": "GetWorkspaceUrlDetails",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceContentId",
            "description": "Workspace Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Content Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsUrlRespForGetAPI"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Workspace Content Management"
        ],
        "summary": "Delete a Url",
        "description": "Delete a url from workspace.",
        "operationId": "DeleteWorkspaceUrl",
        "parameters": [
          {
            "in": "path",
            "name": "workspaceContentId",
            "description": "Workspace Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Content Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Workspace Content Management"
        ],
        "summary": "Update Url metadata",
        "description": "This endpoint can be used to move or rename a url.",
        "operationId": "UpdateWorkspaceUrl",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceContentId",
            "description": "Workspace Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Content Id"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsUrlReqForPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsUrlResp"
            }
          }
        }
      }
    },
    "/integration/v2/workspace/urls/{workspaceContentId}/copy": {
      "post": {
        "tags": [
          "Workspace Content Management"
        ],
        "summary": "Copy a Url",
        "description": "Copies a Url to a specified target folder.",
        "operationId": "CopyWorkspaceUrl",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceContentId",
            "description": "Workspace Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Content Id"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.CopyToFolderReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsUrlResp"
            }
          }
        }
      }
    },
    "/integration/v2/workspace/items/{workspaceContentId}": {
      "get": {
        "tags": [
          "Workspace Content Management"
        ],
        "summary": "Get an Item's metadata",
        "description": "Get the basic information about an item in workspace.",
        "operationId": "GetWorkspaceItemDetails",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceContentId",
            "required": true,
            "type": "string",
            "description": "Workspace Content Id",
            "x-ms-summary": "Workspace Content Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsItemResp"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Workspace Content Management"
        ],
        "summary": "Delete an Item",
        "description": "Delete an item from workspace.",
        "operationId": "DeleteWorkspaceItem",
        "parameters": [
          {
            "in": "path",
            "name": "workspaceContentId",
            "description": "Workspace Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Content Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Workspace Content Management"
        ],
        "summary": "Update an Item",
        "description": "This endpoint can be used to move or rename an item.",
        "operationId": "UpdateWorkspaceItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceContentId",
            "description": "Workspace Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Content Id"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsItemReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsItemResp"
            }
          }
        }
      }
    },
    "/integration/v2/workspace/items/{workspaceContentId}/copy": {
      "post": {
        "tags": [
          "Workspace Content Management"
        ],
        "summary": "Copy an Item",
        "description": "Copies a item to a specified target folder.",
        "operationId": "CopyWorkspaceItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceContentId",
            "description": "Workspace Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Content Id"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.CopyToFolderReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsItemResp"
            }
          }
        }
      }
    },
    "/integration/v2/workspace/{workspaceContentId}/members": {
      "get": {
        "tags": [
          "Workspace Permissions/Sharing"
        ],
        "summary": "Get the list of members on an item",
        "description": "Gets a full list of members on an item",
        "operationId": "GetWorkspaceItenMembers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceContentId",
            "description": "workspace item id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace Content Id"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Seismic.WorkspacePermissionsAndSharing.WorkspaceMemberResponse"
              }
            }
          }
        }
      }
    },
    "/v1/items/{workspaceContentId}/members": {
      "post": {
        "tags": [
          "SCIMCollaborator",
          "RateLimitTierThree"
        ],
        "operationId": "addCollaboratorAsync",
        "summary": "Add a member to content",
        "description": "Add a member to a folder or file",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceContentId",
            "description": "Workspace Content Id",
            "x-ms-summary": "Workspace Content Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AddColloratorRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CollaboratorResponse"
            }
          }
        }
      }
    },
    "/v1/items/{workspaceContentId}/members/{memberId}": {
      "delete": {
        "tags": [
          "SCIMCollaborator",
          "RateLimitTierThree"
        ],
        "operationId": "deleteCollaboratorAsync",
        "summary": "Remove a member from content",
        "description": "Delete a user for a folder or file",
        "parameters": [
          {
            "in": "path",
            "name": "workspaceContentId",
            "description": "Workspace Content Id",
            "x-ms-summary": "Workspace Content Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "memberId",
            "description": "Workspace Member Id",
            "x-ms-summary": "Workspace Member Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/items/{workspaceContentId}/owner": {
      "put": {
        "tags": [
          "SCIMCollaborator",
          "RateLimitTierThree"
        ],
        "description": "Transfer the owner of content to a collaborator",
        "summary": "Transfers the owner of content to a collaborator",
        "operationId": "transferOwnerAsync",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceContentId",
            "description": "Workspace Content Id",
            "x-ms-summary": "WorkSpace Content Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/TransferOwnerRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/files/{fileId}/customProperties": {
      "get": {
        "tags": [
          "SCIMCollaborator",
          "RateLimitTierThree"
        ],
        "summary": "Get custom file properties",
        "operationId": "GetCustomPropertiesByFileId",
        "description": "Get custom properties of workspace file which added from doccenter",

        "parameters": [
          {
            "in": "path",
            "name": "fileId",
            "description": "File Id",
            "x-ms-summary": "File Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeInvisibledInDC",
            "description": "Include Invisibled in DC",
            "x-ms-summary": "Include Invisibled in DC",
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  },
  "definitions": {
    "Seismic.PublicIntegrationApi.OriginApiClient.Models.ContentManager.PointServiceModel": {
      "type": "object",
      "properties": {
        "x": {
          "format": "double",
          "type": "number"
        },
        "y": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "Seismic.Paging.WorkspaceComment.WorkspaceComment": {
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Seismic.WorkspaceComments.WorkspaceComment"
          }
        },
        "totalCount": {
          "format": "int64",
          "type": "integer",
          "x-ms-summary": "Total Count"
        },
        "pageCap": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Page Cap"
        },
        "limit": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Limit"
        },
        "offset": {
          "format": "int64",
          "type": "integer",
          "x-ms-summary": "Offset"
        },
        "continuationToken": {
          "type": "string",
          "x-ms-summary": "Continuation Token"
        },
        "nextPageLink": {
          "type": "string",
          "x-ms-summary": "Next Page Link"
        }
      }
    },
    "Seismic.Common.DownloadLocationResp": {
      "type": "object",
      "properties": {
        "downloadUrl": {
          "type": "string",
          "x-ms-summary": "Download Url"
        }
      }
    },
    "Seismic.Common.WorkSpaceContentManager.WsItemResp": {
      "required": [
        "itemCount",
        "items"
      ],
      "type": "object",
      "properties": {
        "itemCount": {
          "format": "int64",
          "type": "integer",
          "x-ms-summary": "Item Count"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsItemResp"
          }
        }
      }
    },
    "Seismic.Common.User": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Id"
        },
        "username": {
          "type": "string",
          "x-ms-summary": "User name"
        },
        "email": {
          "type": "string",
          "x-ms-summary": "Email"
        },
        "firstName": {
          "type": "string",
          "x-ms-summary": "First Name"
        },
        "lastName": {
          "type": "string",
          "x-ms-summary": "Last Name"
        },
        "fullName": {
          "type": "string",
          "x-ms-summary": "Full Name"
        },
        "photoId": {
          "type": "string",
          "x-ms-summary": "Photo Id"
        },
        "photoUrl": {
          "type": "string",
          "x-ms-summary": "Photo Url"
        },
        "isDeleted": {
          "type": "boolean",
          "x-ms-summary": "Is Deleted"
        }
      }
    },
    "Seismic.Common.User.Created": {
      "type": "object",
      "x-ms-summary": "Created By User",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Id"
        },
        "username": {
          "type": "string",
          "x-ms-summary": "User name"
        },
        "email": {
          "type": "string",
          "x-ms-summary": "Email"
        },
        "firstName": {
          "type": "string",
          "x-ms-summary": "First Name"
        },
        "lastName": {
          "type": "string",
          "x-ms-summary": "Last Name"
        },
        "fullName": {
          "type": "string",
          "x-ms-summary": "Full Name"
        },
        "photoId": {
          "type": "string",
          "x-ms-summary": "Photo Id"
        },
        "photoUrl": {
          "type": "string",
          "x-ms-summary": "Photo Url"
        },
        "isDeleted": {
          "type": "boolean",
          "x-ms-summary": "Is Deleted"
        }
      }
    },
    "Seismic.LibraryCommenting.Annotation": {
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/Seismic.LibraryCommenting.AnnotationType"
        },
        "page": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Page"
        },
        "color": {
          "type": "string",
          "x-ms-summary": "Color",
          "description": "Enter color hex code"
        },
        "points": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Seismic.PublicIntegrationApi.OriginApiClient.Models.ContentManager.PointServiceModel"
          }
        }
      }
    },
    "Seismic.LibraryCommenting.AnnotationType": {
      "enum": [
        "pen",
        "text",
        "pin",
        "line",
        "rectangle",
        "oval",
        "arrow"
      ],
      "type": "string"
    },
    "Seismic.LibraryCommenting.CommentOrAnnotationRequest": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "x-ms-summary": "Text"
        },
        "annotation": {
          "$ref": "#/definitions/Seismic.LibraryCommenting.Annotation"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.ApplicationUrl": {
      "type": "object",
      "x-ms-summary": "Application Url",
      "properties": {
        "name": {
          "type": "string",
          "x-ms-summary": "Name"
        },
        "url": {
          "type": "string",
          "x-ms-summary": "Url"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.ContentClass": {
      "type": "object",
      "x-ms-summary": "Workspace Content",
      "properties": {
        "repository": {
          "type": "string",
          "x-ms-summary": "repository"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name"
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Type"
        },
        "id": {
          "type": "string",
          "x-ms-summary": "Id"
        },
        "versionId": {
          "type": "string",
          "x-ms-summary": "Version Id"
        },
        "format": {
          "type": "string",
          "x-ms-summary": "Format"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.ContextualFolderRequest": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the folder you would like to create.",
          "type": "string",
          "x-ms-summary": "Name"
        },
        "systemType": {
          "description": "This is typically one of the following: Salesforce, MicrosoftDynamicCRM, Sugar, Oracle.   But there are no restrictions and any string can be used to specify a new system type for custom applications.",
          "type": "string",
          "x-ms-summary": "System Type"
        },
        "contextType": {
          "description": "This is the singular form of the context such as \"Opportunity\" or \"Account\"",
          "type": "string",
          "x-ms-summary": "Context Type"
        },
        "contextTypePlural": {
          "description": "This is the plural form of the context such as \"Opportunities\" or \"Accounts\"",
          "type": "string",
          "x-ms-summary": "Context Type Plural"
        },
        "contextId": {
          "description": "The ID of the record in the external system.  For Salesforce we use 18 character record IDs.  For Dynamics we use the record GUID .  For Oracle we use the record number such as 3002.",
          "type": "string",
          "x-ms-summary": "Context Id"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.CopyToFolderReq": {
      "type": "object",
      "properties": {
        "parentFolderId": {
          "type": "string",
          "x-ms-summary": "Parent Folder Id"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.ItemType": {
      "enum": [
        "folder",
        "url",
        "file"
      ],
      "type": "string"
    },
    "Seismic.WorkSpaceContentManager.LibraryContentInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Id"
        },
        "versionId": {
          "type": "string",
          "x-ms-summary": "Version Id"
        },
        "teamsiteId": {
          "type": "string",
          "x-ms-summary": "Teamsite Id"
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Seismic.WorkSpaceContentManager.LibraryContentProperty"
          }
        }
      }
    },
    "Seismic.WorkSpaceContentManager.LibraryContentProperty": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Id"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name"
        },
        "values": {
          "type": "array",
          "x-ms-summary": "Values",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Seismic.WorkSpaceContentManager.User": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Id"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.User.Modified": {
      "type": "object",
      "x-ms-summary": "Modified By User",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Id"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.User.Created": {
      "type": "object",
      "x-ms-summary": "Created By User",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Id"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.WorkspaceContextualInfo": {
      "type": "object",
      "properties": {
        "systemType": {
          "type": "string",
          "x-ms-summary": "System Type"
        },
        "displayName": {
          "type": "string",
          "x-ms-summary": "Display Name"
        },
        "context": {
          "type": "array",
          "x-ms-summary": "Context",
          "items": {
            "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WorkspaceContextualTypes"
          }
        }
      }
    },
    "Seismic.WorkSpaceContentManager.WorkspaceContextualTypes": {
      "type": "object",
      "properties": {
        "folderId": {
          "type": "string",
          "x-ms-summary": "Folder Id"
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Type"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.WorkspaceFolderResp": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Id"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name"
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Type"
        },
        "folderPath": {
          "type": "string",
          "x-ms-summary": "Folder Path"
        },
        "parent": {
          "type": "string",
          "x-ms-summary": "Parent"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.WsDeliveryOption": {
      "type": "object",
      "x-ms-summary": "Delivery Option",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Id"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.WsFileReqForPatch": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "x-ms-summary": "Name"
        },
        "parentFolderId": {
          "type": "string",
          "x-ms-summary": "Parent Folder Id"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.WsFileResp": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Id",
          "description": "File Id"
        },
        "type": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.ItemType"
        },
        "repository": {
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Repository"
        },
        "resourceUrl": {
          "type": "string",
          "x-ms-summary": "Resource Url"
        },
        "size": {
          "format": "int64",
          "type": "integer",
          "x-ms-summary": "Size"
        },
        "deliveryOptions": {
          "type": "array",
          "x-ms-summary": "Delivery Options",
          "items": {
            "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsDeliveryOption"
          }
        },
        "versionId": {
          "type": "string",
          "x-ms-summary": "Version Id"
        },
        "applicationUrls": {
          "type": "array",
          "x-ms-summary": "Application Url",
          "items": {
            "$ref": "#/definitions/Seismic.WorkSpaceContentManager.ApplicationUrl"
          }
        },
        "createdAt": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Created At"
        },
        "createdBy": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.User.Created"
        },
        "modifiedAt": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Modified At"
        },
        "modifiedBy": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.User.Modified"
        },
        "isContextualContent": {
          "type": "boolean",
          "x-ms-summary": "Is Contextual Content"
        },
        "iconUrl": {
          "format": "uri",
          "type": "string",
          "x-ms-summary": "Icon Url"
        },
        "format": {
          "type": "string",
          "x-ms-summary": "Format"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name"
        },
        "parentFolderId": {
          "type": "string",
          "x-ms-summary": "Parent Folder Id"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.WsFolderReq": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "x-ms-summary": "Name"
        },
        "parentFolderId": {
          "type": "string",
          "x-ms-summary": "Parent Folder Id"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.WsFolderRespForAddAPI": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Id",
          "description": "Folder Id"
        },
        "type": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.ItemType"
        },
        "repository": {
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Repository"
        },
        "resourceUrl": {
          "type": "string",
          "x-ms-summary": "Resource Url"
        },
        "applicationUrls": {
          "type": "array",
          "x-ms-summary": "Application Urls",
          "items": {
            "$ref": "#/definitions/Seismic.WorkSpaceContentManager.ApplicationUrl"
          }
        },
        "createdAt": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Created At"
        },
        "createdBy": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.User.Created"
        },
        "modifiedAt": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Modified At"
        },
        "modifiedBy": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.User.Modified"
        },
        "isContextualContent": {
          "type": "boolean",
          "x-ms-summary": "Is Contextual Content"
        },
        "iconUrl": {
          "format": "uri",
          "type": "string",
          "x-ms-summary": "Icon Url"
        },
        "format": {
          "type": "string",
          "x-ms-summary": "Format"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name"
        },
        "parentFolderId": {
          "type": "string",
          "x-ms-summary": "Parent Folder Id"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.WsFolderResp": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Id",
          "description": "Folder Id"
        },
        "type": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.ItemType"
        },
        "repository": {
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Repository"
        },
        "resourceUrl": {
          "type": "string",
          "x-ms-summary": "Resource Url"
        },
        "size": {
          "format": "int64",
          "type": "integer",
          "x-ms-summary": "Size"
        },
        "deliveryOptions": {
          "type": "array",
          "x-ms-summary": "Delivery Options",
          "items": {
            "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsDeliveryOption"
          }
        },
        "versionId": {
          "type": "string",
          "x-ms-summary": "Version Id"
        },
        "applicationUrls": {
          "type": "array",
          "x-ms-summary": "Application Urls",
          "items": {
            "$ref": "#/definitions/Seismic.WorkSpaceContentManager.ApplicationUrl"
          }
        },
        "createdAt": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Created At"
        },
        "createdBy": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.User.Created"
        },
        "modifiedAt": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Modified At"
        },
        "modifiedBy": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.User.Modified"
        },
        "isContextualContent": {
          "type": "boolean",
          "x-ms-summary": "Is Contextual Content"
        },
        "iconUrl": {
          "format": "uri",
          "type": "string",
          "x-ms-summary": "Icon Url"
        },
        "format": {
          "type": "string",
          "x-ms-summary": "Format"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name"
        },
        "parentFolderId": {
          "type": "string",
          "x-ms-summary": "Parent Folder Id"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.WsItemReq": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "parentFolderId": {
          "type": "string",
          "x-ms-summary": "Parent Folder Id"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.WsItemResp": {
      "type": "object",
      "properties": {
        "url": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsUrlInfoResp"
        },
        "id": {
          "type": "string",
          "x-ms-summary": "Id",
          "description": "Item Id"
        },
        "type": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.ItemType"
        },
        "repository": {
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Repository"
        },
        "resourceUrl": {
          "type": "string",
          "x-ms-summary": "Resource Url"
        },
        "size": {
          "format": "int64",
          "type": "integer",
          "x-ms-summary": "Size"
        },
        "deliveryOptions": {
          "type": "array",
          "x-ms-summary": "Delivery Options",
          "items": {
            "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsDeliveryOption"
          }
        },
        "versionId": {
          "type": "string",
          "x-ms-summary": "Version Id"
        },
        "applicationUrls": {
          "type": "array",
          "x-ms-summary": "Application Url",
          "items": {
            "$ref": "#/definitions/Seismic.WorkSpaceContentManager.ApplicationUrl"
          }
        },
        "createdAt": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Created At"
        },
        "createdBy": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.User.Created"
        },
        "modifiedAt": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Modified At"
        },
        "modifiedBy": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.User.Modified"
        },
        "isContextualContent": {
          "type": "boolean",
          "x-ms-summary": "Is Contextual Content"
        },
        "iconUrl": {
          "format": "uri",
          "type": "string",
          "x-ms-summary": "Icon Url"
        },
        "format": {
          "type": "string",
          "x-ms-summary": "Format"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name"
        },
        "parentFolderId": {
          "type": "string",
          "x-ms-summary": "Parent Folder Id"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.WsUrlInfoReq": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "x-ms-summary": "Url"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.WsUrlInfoResp": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "x-ms-summary": "Url"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.WsUrlReq": {
      "type": "object",
      "properties": {
        "url": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsUrlInfoReq"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name"
        },
        "parentFolderId": {
          "type": "string",
          "x-ms-summary": "Parent Folder Id"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.WsUrlReqForPatch": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "x-ms-summary": "Name"
        },
        "parentFolderId": {
          "type": "string",
          "x-ms-summary": "Parent Folder Id"
        },
        "url": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsUrlInfoReq"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.WsUrlResp": {
      "type": "object",
      "properties": {
        "url": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsUrlInfoResp"
        },
        "id": {
          "type": "string",
          "x-ms-summary": "Id",
          "description": "Url Id"
        },
        "type": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.ItemType"
        },
        "repository": {
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Repository"
        },
        "resourceUrl": {
          "type": "string",
          "x-ms-summary": "Resource Url"
        },
        "size": {
          "format": "int64",
          "type": "integer",
          "x-ms-summary": "Size"
        },
        "deliveryOptions": {
          "type": "array",
          "x-ms-summary": "Delivery Options",
          "items": {
            "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsDeliveryOption"
          }
        },
        "versionId": {
          "type": "string",
          "x-ms-summary": "Version Id"
        },
        "applicationUrls": {
          "type": "array",
          "x-ms-summary": "Application Url",
          "items": {
            "$ref": "#/definitions/Seismic.WorkSpaceContentManager.ApplicationUrl"
          }
        },
        "createdAt": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Created At"
        },
        "createdBy": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.User.Created"
        },
        "modifiedAt": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Modified At"
        },
        "modifiedBy": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.User.Modified"
        },
        "isContextualContent": {
          "type": "boolean",
          "x-ms-summary": "Is Contextual Content"
        },
        "iconUrl": {
          "format": "uri",
          "type": "string",
          "x-ms-summary": "Icon Url"
        },
        "format": {
          "type": "string",
          "x-ms-summary": "Format"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name"
        },
        "parentFolderId": {
          "type": "string",
          "x-ms-summary": "Parent Folder Id"
        }
      }
    },
    "Seismic.WorkSpaceContentManager.WsUrlRespForGetAPI": {
      "type": "object",
      "properties": {
        "url": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsUrlInfoResp"
        },
        "id": {
          "type": "string",
          "x-ms-summary": "Id",
          "description": "Url Id"
        },
        "type": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.ItemType"
        },
        "repository": {
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Repository"
        },
        "resourceUrl": {
          "type": "string",
          "x-ms-summary": "Resource Url"
        },
        "size": {
          "format": "int64",
          "type": "integer",
          "x-ms-summary": "Size"
        },
        "deliveryOptions": {
          "type": "array",
          "x-ms-summary": "Delivery Options",
          "items": {
            "$ref": "#/definitions/Seismic.WorkSpaceContentManager.WsDeliveryOption"
          }
        },
        "versionId": {
          "type": "string",
          "x-ms-summary": "Version Id"
        },
        "applicationUrls": {
          "type": "array",
          "x-ms-summary": "Application Url",
          "items": {
            "$ref": "#/definitions/Seismic.WorkSpaceContentManager.ApplicationUrl"
          }
        },
        "createdAt": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Created At"
        },
        "createdBy": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.User.Created"
        },
        "modifiedAt": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Modified At"
        },
        "modifiedBy": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.User.Modified"
        },
        "isContextualContent": {
          "type": "boolean",
          "x-ms-summary": "Is Contextual Content"
        },
        "iconUrl": {
          "format": "uri",
          "type": "string",
          "x-ms-summary": "Icon Url"
        },
        "format": {
          "type": "string",
          "x-ms-summary": "Format"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name"
        },
        "parentFolderId": {
          "type": "string",
          "x-ms-summary": "Parent Folder Id"
        }
      }
    },
    "Seismic.WorkspaceComments.Annotation": {
      "type": "object",
      "x-ms-summary": "Annotation",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Id"
        },
        "type": {
          "$ref": "#/definitions/Seismic.LibraryCommenting.AnnotationType"
        },
        "page": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Page"
        },
        "color": {
          "type": "string",
          "x-ms-summary": "Color"
        },
        "points": {
          "type": "array",
          "x-ms-summary": "Points",
          "items": {
            "$ref": "#/definitions/Seismic.PublicIntegrationApi.OriginApiClient.Models.ContentManager.PointServiceModel"
          }
        }
      }
    },
    "Seismic.WorkspaceComments.PointInfo": {
      "type": "object",
      "properties": {
        "x": {
          "format": "double",
          "type": "number"
        },
        "y": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "Seismic.WorkspaceComments.WorkspaceAddCommentReply": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "x-ms-summary": "Text"
        }
      }
    },
    "Seismic.WorkspaceComments.WorkspaceAddCommentResponse": {
      "type": "object",
      "properties": {
        "annotation": {
          "$ref": "#/definitions/Seismic.WorkspaceComments.Annotation"
        },
        "id": {
          "type": "string",
          "x-ms-summary": "Comment Id"
        },
        "createdAt": {
          "type": "string",
          "x-ms-summary": "Created At"
        },
        "text": {
          "type": "string",
          "x-ms-summary": "Text"
        },
        "isResolved": {
          "type": "boolean",
          "x-ms-summary": "Is Resolved"
        },
        "content": {
          "$ref": "#/definitions/Seismic.WorkspaceComments.WorkspaceContent"
        },
        "createdBy": {
          "$ref": "#/definitions/Seismic.Common.User.Created"
        }
      }
    },
    "Seismic.WorkspaceComments.WorkspaceAnnotation": {
      "type": "object",
      "x-ms-summary": "Annotation",
      "properties": {
        "type": {
          "$ref": "#/definitions/Seismic.LibraryCommenting.AnnotationType"
        },
        "page": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Page"
        },
        "points": {
          "type": "array",
          "x-ms-summary": "Points",
          "items": {
            "$ref": "#/definitions/Seismic.WorkspaceComments.PointInfo"
          }
        },
        "color": {
          "type": "string",
          "x-ms-summary": "Color"
        },
        "timestamp": {
          "format": "double",
          "type": "number",
          "x-ms-summary": "Timestamp"
        }
      }
    },
    "Seismic.WorkspaceComments.WorkspaceComment": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Comment Id"
        },
        "content": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.ContentClass"
        },
        "createdAt": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Created At"
        },
        "createdBy": {
          "$ref": "#/definitions/Seismic.Common.User.Created"
        },
        "text": {
          "type": "string",
          "x-ms-summary": "Text"
        },
        "isResolved": {
          "type": "boolean",
          "x-ms-summary": "Is Resolved"
        },
        "annotation": {
          "$ref": "#/definitions/Seismic.WorkspaceComments.WorkspaceAnnotation"
        },
        "replies": {
          "type": "array",
          "x-ms-summary": "Replies",
          "items": {
            "$ref": "#/definitions/Seismic.WorkspaceComments.WorkspaceCommentReply"
          }
        }
      }
    },
    "Seismic.WorkspaceComments.WorkspaceCommentReply": {
      "type": "object",
      "x-ms-summary": "Comment Reply",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Id"
        },
        "createdAt": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Created At"
        },
        "createdBy": {
          "$ref": "#/definitions/Seismic.Common.User.Created"
        },
        "text": {
          "type": "string",
          "x-ms-summary": "Text"
        },
        "isResolved": {
          "type": "boolean",
          "x-ms-summary": "Is Resolved"
        }
      }
    },
    "Seismic.WorkspaceComments.WorkspaceContent": {
      "type": "object",
      "x-ms-summary": "Workspace Content",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Id"
        },
        "versionId": {
          "type": "string",
          "x-ms-summary": "Version Id"
        },
        "format": {
          "type": "string",
          "x-ms-summary": "Format"
        },
        "repository": {
          "type": "string",
          "x-ms-summary": "Repository"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name"
        },
        "type": {
          "$ref": "#/definitions/Seismic.WorkSpaceContentManager.ItemType"
        }
      }
    },
    "Seismic.WorkspacePermissionsAndSharing.WorkspaceMemberResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Id"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name"
        },
        "email": {
          "type": "string",
          "x-ms-summary": "Email"
        },
        "role": {
          "type": "string",
          "x-ms-summary": "Role"
        },
        "createdAt": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Created At"
        }
      }
    },
    "Seismic.WorkspaceComments.WorkspaceReplyCommentResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Reply Id"
        },
        "createdAt": {
          "type": "string",
          "x-ms-summary": "Created At"
        },
        "createdBy": {
          "$ref": "#/definitions/Seismic.Common.User.Created"
        },
        "text": {
          "type": "string",
          "x-ms-summary": "Text"
        },
        "commentId": {
          "type": "string",
          "x-ms-summary": "Comment Id"
        },
        "content": {
          "$ref": "#/definitions/Seismic.WorkspaceComments.WorkspaceContent"
        }
      }
    },
    "AddColloratorRequest": {
      "type": "object",
      "x-ms-summary": "Add Collaborator Request",
      "properties": {
        "id": {
          "description": "Id",
          "x-ms-summary": "Id",
          "type": "string"
        },
        "role": {
          "description": "role",
          "x-ms-summary": "Role",
          "type": "string"
        }
      }
    },
    "CollaboratorResponse": {
      "type": "object",
      "x-ms-summary": "Collaborator Response",
      "properties": {
        "id": {
          "description": "Collaborator Id",
          "x-ms-summary": "Id",
          "type": "string"
        },
        "name": {
          "description": "Collaborator Name",
          "x-ms-summary": "Name",
          "type": "string"
        },
        "email": {
          "description": "Collaborator Email",
          "x-ms-summary": "Email",
          "type": "string"
        },
        "role": {
          "description": "Collaborator Role",
          "x-ms-summary": "Role",
          "type": "string"
        },
        "createdAt": {
          "description": "Date of addition for Collaborator",
          "x-ms-summary": "Created At",
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "TransferOwnerRequest": {
      "type": "object",
      "properties": {
        "ownerId": {
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://auth.seismic.com/central/connect/authorize",
      "tokenUrl": "https://auth.seismic.com/central/connect/token",
      "scopes": {
        "seismic.workspace.view seismic.workspace.manage": "seismic.workspace.view seismic.workspace.manage"
      }
    }
  },
  "tags": [
    {
      "name": "Workspace Content Management"
    },
    {
      "name": "Workspace Permissions or Sharing"
    },
    {
      "name": "RateLimitTierThree"
    }
  ],
  "security": [
    {
      "oauth2-auth": [
        "seismic.workspace.view seismic.workspace.manage"
      ]
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://seismic.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://seismic.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Marketing;Sales and CRM"
    }
  ]
}