{
  "swagger": "2.0",
  "info": {
    "title": "Ubiqod by Skiply",
    "description": "Ubiqod provides a simple and powerful platform to connect your Skiply IoT buttons and Qods to third party platforms. This connector triggers a flow every time data is sent by any of the IoT-devices or Qods belonging to the configured group.",
    "contact": {
      "name": "Skiply Support",
      "url": "https://desk.zoho.com/portal/skiply",
      "email": "ubiqod@skiply.zohodesk.com"
    },
    "version": "1.0"
  },
  "host": "admin.ubiqod.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [],
  "paths": {
    "/key/unsubscribe/{routingId}": {
      "delete": {
        "responses": {
          "200": {
            "description": "Unsubscribe response"
          }
        },
        "operationId": "DeleteRouting",
        "x-ms-visibility": "internal",
        "summary": "Delete a routing",
        "description": "Delete the routing of data to the trigger.",
        "parameters": [
          {
            "name": "routingId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The routingId is the unique identifier of the routing in the DB.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Routing ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "description": "The Content-Type specifies that the data is sent in json format.",
            "x-ms-summary": "Content Type of the data"
          }
        ]
      }
    },
    "/key/subscribe": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "device_name": {
              "type": "string",
              "description": "Identifier of the Qod or IoT-device (s/n)",
              "title": "Identifier"
            },
            "device_label": {
              "type": "string",
              "description": "Label of the Qod or IoT-device.",
              "title": "Qod or IoT-device label"
            },
            "request_date": {
              "type": "string",
              "description": "Datetime of Qod scanning or IoT-device message transmission.",
              "title": "Timestamp"
            },
            "button_label": {
              "type": "string",
              "description": "Code label or raw value if no such code defined in the related code list (button index for IoT-devices if no such code defined).",
              "title": "Action value"
            },
            "times_button_pressed": {
              "type": "integer",
              "format": "int32",
              "description": "Only for IoT-devices, number of times the button was pressed ",
              "title": "Number of presses"
            },
            "site_id": {
              "type": "integer",
              "format": "int32",
              "description": "Site ID the Qod or IoT-device is linked to.",
              "title": "Site Id"
            },
            "site_label": {
              "type": "string",
              "description": "Site name the Qod or IoT-device is linked to.",
              "title": "Site label"
            },
            "badge": {
              "type": "integer",
              "format": "int32",
              "description": "1 if condition is valid, 0 if not - For IoT-device: condition is valid when magnetic badge has been swiped / For S-Qod: condition is valid when dynamic QR code has been scanned from the device and validated by the Ubiqod server.",
              "title": "On-device condition"
            },
            "customer_contact_email": {
              "type": "string",
              "description": "Email of customer contact defined on Site.",
              "title": "Customer contact email"
            },            
            "customer_contact_phone": {
              "type": "string",
              "description": "Phone number of customer contact defined on Site.",
              "title": "Customer contact phone"
            },
            "site_manager_email": {
              "type": "string",
              "description": "Email of site manager defined on Site.",
              "title": "Site manager email"
            },
            "site_manager_phone": {
              "type": "string",
              "description": "Phone number of site manager defined on Site.",
              "title": "Site manager phone"
            },
            "gps_condition": {
              "type": "integer",
              "format": "int32",
              "description": "1 if condition is valid, 0 if not - condition is valid when the user GPS position is under the validation distance from the site position, 0 if not or if the user refused to give its position.",
              "title": "GPS condition"
            },
            "code_condition": {
              "type": "integer",
              "format": "int32",
              "description": "1 if condition is valid, 0 if not - condition is valid when the entered code is defined in the related code list.",
              "title": "Code condition"
            },
            "gps_value": {
              "type": "string",
              "description": "If available, GPS coordinates of the user's position.",
              "title": "GPS value"
            },
            "validation_code_value": {
              "type": "string",
              "description": "If available, validation code label or raw value if no such code defined in the related code list.",
              "title": "Validation code value"
            },
            "custom_field_1": {
              "type": "string",
              "description": "Only for Qod with a form, value of field #1.",
              "title": "Custom field 1"
            },
            "custom_field_2": {
              "type": "string",
              "description": "Only for Qod with a form, value of field #2.",
              "title": "Custom field 2"
            },
            "custom_field_3": {
              "type": "string",
              "description": "Only for Qod with a form, value of field #3.",
              "title": "Custom field 3"
            },
            "custom_field_4": {
              "type": "string",
              "description": "Only for Qod with a form, value of field #4.",
              "title": "Custom field 4"
            }
          }
        },
        "headers": {
          "Content-Type": {
            "description": "application/json",
            "type": "string"
          }
        },
        "description": "Data In"
      },
      "post": {
        "responses": {
          "201": {
            "description": "Subscribe response"
          }
        },
        "summary": "When data is received from IoT-device or Qod",
        "description": "This operation triggers when one of the IoT-devices or Qods in the target group sends data.",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "operationId": "DataIn",
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "pa",
            "description": "This parameter is used by Ubiqod to determine the origin of the request.",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Origin of the request"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "The Content-Type specifies that the data is sent on json format.",
            "x-ms-summary": "Content Type of Data"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "group_id": {
                  "type": "integer",
                  "description": "Name of the Ubiqod group you want to link to this trigger.",
                  "title": "Group Name",
                  "format": "int32",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetGroupsList",
                    "value-path": "id",
                    "value-title": "group_name",
                    "parameters": {
                      "provider": "pa"
                    }
                  }
                },
                "hookUrl": {
                  "type": "string",
                  "description": "URL of the webhook where we will post data.",
                  "title": "Webhook URL",
                  "format": "byte",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "x-ms-visibility": "important",
              "required": [
                "hookUrl",
                "group_id"
              ]
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/key/getGroupsByName": {
      "get": {
        "responses": {
          "200": {
            "description": "Group list response",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "ID of the group in the Ubiqod account.",
                    "title": "Group ID"
                  },
                  "group_name": {
                    "type": "string",
                    "description": "Name of the group in the Ubiqod account.",
                    "title": "Group Name"
                  }
                }
              }
            }
          }
        },
        "operationId": "GetGroupsList",
        "summary": "Retrieve group list for user",
        "description": "Retrieve group list for user, to be used in dynamic fields.",
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "pa",
            "format": "byte",
            "description": "This parameter is used by Ubiqod to determine the origin of the request.",
            "x-ms-summary": "Origin of the request"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "format": "byte",
            "description": "The Content-Type specifies that the data is sent on json format.",
            "x-ms-summary": "Content Type of data"
          }
        ],
        "x-ms-visibility": "internal"
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.ubiqod.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.skiply.eu/en/privacy-policy-of-ubiqod/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Internet of Things"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "api_key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}
