{
  "swagger": "2.0",
  "info": {
    "title": "Ubiqod by Skiply",
    "description": "Use Ubiqod connected buttons to trigger your flows.",
    "contact": {
      "name": "Skiply Support",
      "url": "https://desk.zoho.com/portal/skiply",
      "email": "ubiqod@skiply.zohodesk.com"
    },
    "version": "1.0"
  },
  "host": "admin.ubiqod.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [],
  "paths": {
    "/key/unsubscribe/{routingId}": {
      "delete": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "operationId": "DeleteRouting",
        "x-ms-visibility": "internal",
        "summary": "Delete a routing",
        "description": "Delete the routing of data to the trigger.",
        "parameters": [
          {
            "name": "routingId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The routingId is the unique identifier of the routing in the DB.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Routing ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "description": "The Content-Type specifies that the data is sent in json format.",
            "x-ms-summary": "Content Type of the data"
          }
        ]
      }
    },
    "/key/subscribe": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "device_name": {
              "type": "string",
              "description": "Device Name as defined in the Ubiqod platform. This name is also visible on the device itself.",
              "title": "Device Name"
            },
            "device_label": {
              "type": "string",
              "description": "Device Label as defined in the Ubiqod platform. Can be a place or anything helping to identify the device.",
              "title": "Device Label"
            },
            "request_date": {
              "type": "string",
              "description": "Date of the request from Ubiqod server.",
              "title": "Request Date"
            },
            "button_label": {
              "type": "string",
              "description": "Label of the action. Can be the label of a button, or the label of a code, if code mode is activated.",
              "title": "Action Label"
            },
            "times_button_pressed": {
              "type": "integer",
              "format": "int32",
              "description": "For non-code mode, indicates the number of times that the same button has been pressed.",
              "title": "Times Button Pressed"
            },
            "site_id": {
              "type": "integer",
              "format": "int32",
              "description": "Ubiqod ID of the site associated with the device.",
              "title": "Site Id"
            },
            "site_label": {
              "type": "string",
              "description": "Ubiqod label of the site associated with the device.",
              "title": "Site Label"
            },
            "badge": {
              "type": "integer",
              "format": "int32",
              "description": "Will be 1 if badge was used, 0 if not.",
              "title": "Badge"
            }
          }
        },
        "headers": {
          "Content-Type": {
            "description": "application/json",
            "type": "string"
          }
        },
        "description": "Data In"
      },
      "post": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "When data is received from devices",
        "description": "This operation triggers when one of the devices in the target group sends data.",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "operationId": "DataIn",
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "pa",
            "description": "This parameter is used by Ubiqod to determine the origin of the request.",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Origin of the request"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "The Content-Type specifies that the data is sent on json format.",
            "x-ms-summary": "Content Type of Data"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "group_id": {
                  "type": "integer",
                  "description": "Name of the Ubiqod group you want to link to this trigger.",
                  "title": "Group Name",
                  "format": "int32",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetGroupsList",
                    "value-path": "id",
                    "value-title": "group_name",
                    "parameters": {
                      "provider": "pa"
                    }
                  }
                },
                "hookUrl": {
                  "type": "string",
                  "description": "URL of the webhook where we will post data.",
                  "title": "Webhook URL",
                  "format": "byte",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "x-ms-visibility": "important",
              "required": [
                "hookUrl",
                "group_id"
              ]
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/key/getGroupsByName": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "ID of the group in the Ubiqod account.",
                    "title": "Group ID"
                  },
                  "group_name": {
                    "type": "string",
                    "description": "Name of the group in the Ubiqod account.",
                    "title": "Group Name"
                  }
                }
              }
            }
          }
        },
        "operationId": "GetGroupsList",
        "summary": "Retrieve group list for user",
        "description": "Retrieve group list for user, to be used in dynamic fields.",
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "pa",
            "format": "byte",
            "description": "This parameter is used by Ubiqod to determine the origin of the request.",
            "x-ms-summary": "Origin of the request"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "format": "byte",
            "description": "The Content-Type specifies that the data is sent on json format.",
            "x-ms-summary": "Content Type of data"
          }
        ],
        "x-ms-visibility": "internal"
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.skiply.eu/en"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.skiply.eu/en/terms-and-conditions-of-use/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IOT"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "api_key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}
