{
  "swagger": "2.0",
  "info": {
    "title": "Library of Congress",
    "description": "The Library of Congress service provides information about things you can find on the Library of Congress website, including:\n\nitems (books, archived websites, photos, and videos)\ncollections (thematic or otherwise grouped items that have been digitized)\nimages (thumbnails and higher resolution formats)",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "www.loc.gov",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/search/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "breadcrumbs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Library of Congress": {
                        "type": "string",
                        "description": "The Library of Congress URL address.",
                        "title": "Library of Congress"
                      },
                      "Search": {
                        "type": "string",
                        "description": "The search URL address.",
                        "title": "Search"
                      }
                    }
                  },
                  "title": "Breadcrumbs"
                },
                "expert_resources": {
                  "type": "string",
                  "description": "The expert resources.",
                  "title": "Expert Resources"
                },
                "facet_trail": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "facet": {
                        "type": "string",
                        "description": "The facet.",
                        "title": "Facet"
                      },
                      "field": {
                        "type": "string",
                        "description": "The field.",
                        "title": "Field"
                      },
                      "superset": {
                        "type": "string",
                        "description": "The superset.",
                        "title": "Superset"
                      },
                      "value": {
                        "type": "string",
                        "description": "The value.",
                        "title": "Value"
                      }
                    }
                  },
                  "title": "Facet Trail"
                },
                "facet_views": {
                  "type": "object",
                  "properties": {
                    "calendar": {
                      "type": "string",
                      "description": "The calendar.",
                      "title": "Calendar"
                    },
                    "chart": {
                      "type": "string",
                      "description": "The chart.",
                      "title": "Chart"
                    },
                    "current": {
                      "type": "string",
                      "description": "The current.",
                      "title": "Current"
                    },
                    "list": {
                      "type": "string",
                      "description": "The list.",
                      "title": "List"
                    }
                  },
                  "title": "Facet Views"
                },
                "facets": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "filters": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "count": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The count.",
                              "title": "Count"
                            },
                            "not": {
                              "type": "string",
                              "description": "The not.",
                              "title": "Not"
                            },
                            "off": {
                              "type": "string",
                              "description": "The off.",
                              "title": "Off"
                            },
                            "on": {
                              "type": "string",
                              "description": "The on.",
                              "title": "On"
                            },
                            "title": {
                              "type": "string",
                              "description": "The title.",
                              "title": "Title"
                            },
                            "term": {
                              "type": "string",
                              "description": "The term.",
                              "title": "Term"
                            }
                          }
                        },
                        "title": "Filters"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "index": {
                        "type": "string",
                        "description": "The index.",
                        "title": "Index"
                      }
                    }
                  },
                  "title": "Facets"
                },
                "form_facets": {
                  "type": "object",
                  "description": "The form facets.",
                  "title": "Form Facets"
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "access_group": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The access group.",
                      "title": "Access Group"
                    },
                    "access_group_raw": {
                      "type": "string",
                      "description": "The access group raw.",
                      "title": "Access Group Raw"
                    },
                    "all": {
                      "type": "string",
                      "description": "The all.",
                      "title": "All"
                    },
                    "api_version": {
                      "type": "string",
                      "description": "The API version.",
                      "title": "API Version"
                    },
                    "app_context": {
                      "type": "string",
                      "description": "The app context.",
                      "title": "App Context"
                    },
                    "application_version": {
                      "type": "string",
                      "description": "The application version.",
                      "title": "Application Version"
                    },
                    "attribute": {
                      "type": "string",
                      "description": "The attribute.",
                      "title": "Attribute"
                    },
                    "attribute!": {
                      "type": "string",
                      "description": "The attribute!.",
                      "title": "Attribute!"
                    },
                    "attribute_map": {
                      "type": "string",
                      "description": "The attribute map.",
                      "title": "Attribute Map"
                    },
                    "cache_tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The cache tags.",
                      "title": "Cache Tags"
                    },
                    "callback": {
                      "type": "string",
                      "description": "The callback.",
                      "title": "Callback"
                    },
                    "clip": {
                      "type": "string",
                      "description": "The clip.",
                      "title": "Clip"
                    },
                    "clip_image_width": {
                      "type": "string",
                      "description": "The clip image width.",
                      "title": "Clip Image Width"
                    },
                    "clip_rotation": {
                      "type": "string",
                      "description": "The clip rotation.",
                      "title": "Clip Rotation"
                    },
                    "content_filter": {
                      "type": "string",
                      "description": "The content filter.",
                      "title": "Content Filter"
                    },
                    "content_replacement": {
                      "type": "string",
                      "description": "The content replacement.",
                      "title": "Content Replacement"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The count.",
                      "title": "Count"
                    },
                    "dates": {
                      "type": "string",
                      "description": "The dates.",
                      "title": "Dates"
                    },
                    "delimiter": {
                      "type": "string",
                      "description": "The delimiter.",
                      "title": "Delimiter"
                    },
                    "digital_id": {
                      "type": "string",
                      "description": "The digital identifier.",
                      "title": "Digital ID"
                    },
                    "display_level": {
                      "type": "string",
                      "description": "The display level.",
                      "title": "Display Level"
                    },
                    "distance": {
                      "type": "string",
                      "description": "The distance.",
                      "title": "Distance"
                    },
                    "downloadOption": {
                      "type": "string",
                      "description": "The download option.",
                      "title": "Download Option"
                    },
                    "duration": {
                      "type": "number",
                      "format": "float",
                      "description": "The duration.",
                      "title": "Duration"
                    },
                    "embed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The embed.",
                      "title": "Embed"
                    },
                    "embed!": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The embed!",
                      "title": "embed!"
                    },
                    "excludeTerms": {
                      "type": "string",
                      "description": "The exclude terms.",
                      "title": "Exclude Terms"
                    },
                    "facetLimits": {
                      "type": "string",
                      "description": "The facet limits.",
                      "title": "Facet Limits"
                    },
                    "facetPrefix": {
                      "type": "string",
                      "description": "The facet prefix.",
                      "title": "Facet Prefix"
                    },
                    "facet_count": {
                      "type": "string",
                      "description": "The facet count.",
                      "title": "Facet Count"
                    },
                    "facet_style": {
                      "type": "string",
                      "description": "The facet style.",
                      "title": "Facet Style"
                    },
                    "field": {
                      "type": "string",
                      "description": "The field.",
                      "title": "Field"
                    },
                    "format": {
                      "type": "string",
                      "description": "The format.",
                      "title": "Format"
                    },
                    "host": {
                      "type": "string",
                      "description": "The host.",
                      "title": "Host"
                    },
                    "ical": {
                      "type": "boolean",
                      "description": "Whether iCal.",
                      "title": "iCal"
                    },
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "iiif": {
                      "type": "boolean",
                      "description": "Whether IIIF.",
                      "title": "IIIF"
                    },
                    "index": {
                      "type": "string",
                      "description": "The index.",
                      "title": "Index"
                    },
                    "inputEncoding": {
                      "type": "string",
                      "description": "The input encoding.",
                      "title": "Input Encoding"
                    },
                    "is_portal": {
                      "type": "string",
                      "description": "The is portal.",
                      "title": "Is Portal"
                    },
                    "item": {
                      "type": "string",
                      "description": "The item.",
                      "title": "Item"
                    },
                    "items": {
                      "type": "string",
                      "description": "The items.",
                      "title": "Items"
                    },
                    "keys": {
                      "type": "string",
                      "description": "The keys.",
                      "title": "Keys"
                    },
                    "language": {
                      "type": "string",
                      "description": "The language.",
                      "title": "Language"
                    },
                    "latlong": {
                      "type": "string",
                      "description": "The latitude and longitude.",
                      "title": "Lat Long"
                    },
                    "method": {
                      "type": "string",
                      "description": "The method.",
                      "title": "Method"
                    },
                    "newSearch": {
                      "type": "string",
                      "description": "The new search.",
                      "title": "New Search"
                    },
                    "new_clip_url": {
                      "type": "boolean",
                      "description": "Whether new clip URL address.",
                      "title": "New Clip URL"
                    },
                    "onsite": {
                      "type": "boolean",
                      "description": "Whether onsite.",
                      "title": "Onsite"
                    },
                    "operator": {
                      "type": "string",
                      "description": "The operator.",
                      "title": "Operator"
                    },
                    "outputEncoding": {
                      "type": "string",
                      "description": "The output encoding.",
                      "title": "Output Encoding"
                    },
                    "page_has_campaign": {
                      "type": "boolean",
                      "description": "Whether page has campaign.",
                      "title": "Page Has Campaign"
                    },
                    "path_info": {
                      "type": "string",
                      "description": "The path info.",
                      "title": "Path Info"
                    },
                    "port": {
                      "type": "string",
                      "description": "The port.",
                      "title": "Port"
                    },
                    "proxypath": {
                      "type": "string",
                      "description": "The proxy path.",
                      "title": "Proxy Path"
                    },
                    "query_string": {
                      "type": "string",
                      "description": "The query string.",
                      "title": "Query String"
                    },
                    "redirect_proxy": {
                      "type": "boolean",
                      "description": "Whether redirect proxy.",
                      "title": "Redirect Proxy"
                    },
                    "redirect_to_item": {
                      "type": "string",
                      "description": "The redirect to item.",
                      "title": "Redirect To Item"
                    },
                    "referer": {
                      "type": "string",
                      "description": "The referer.",
                      "title": "Referer"
                    },
                    "region": {
                      "type": "string",
                      "description": "The region.",
                      "title": "Region"
                    },
                    "release_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The release identifier.",
                      "title": "Release ID"
                    },
                    "request_url": {
                      "type": "string",
                      "description": "The request URL address.",
                      "title": "Request URL"
                    },
                    "resource": {
                      "type": "string",
                      "description": "The resource.",
                      "title": "Resource"
                    },
                    "resource_sequence": {
                      "type": "string",
                      "description": "The resource sequence.",
                      "title": "Resource Sequence"
                    },
                    "scheme": {
                      "type": "string",
                      "description": "The scheme.",
                      "title": "Scheme"
                    },
                    "searchIn": {
                      "type": "string",
                      "description": "The search in.",
                      "title": "Search In"
                    },
                    "searchTerms": {
                      "type": "string",
                      "description": "The search terms.",
                      "title": "Search Terms"
                    },
                    "segments": {
                      "type": "string",
                      "description": "The segments.",
                      "title": "Segments"
                    },
                    "site_id": {
                      "type": "string",
                      "description": "The site identifier.",
                      "title": "Site ID"
                    },
                    "site_type": {
                      "type": "string",
                      "description": "The site type.",
                      "title": "Site Type"
                    },
                    "solrQuery": {
                      "type": "string",
                      "description": "The solr query.",
                      "title": "Solr Query"
                    },
                    "sortBy": {
                      "type": "string",
                      "description": "The sort by.",
                      "title": "Sort By"
                    },
                    "sortOrder": {
                      "type": "string",
                      "description": "The sort order.",
                      "title": "Sort Order"
                    },
                    "startPage": {
                      "type": "string",
                      "description": "The start page.",
                      "title": "Start Page"
                    },
                    "style": {
                      "type": "string",
                      "description": "The style.",
                      "title": "Style"
                    },
                    "suggested": {
                      "type": "string",
                      "description": "The suggested.",
                      "title": "Suggested"
                    },
                    "target": {
                      "type": "string",
                      "description": "The target.",
                      "title": "Target"
                    },
                    "template": {
                      "type": "string",
                      "description": "The template.",
                      "title": "Template"
                    },
                    "timestamp": {
                      "type": "number",
                      "format": "float",
                      "description": "The timestamp.",
                      "title": "Timestamp"
                    },
                    "unionFacets": {
                      "type": "string",
                      "description": "The union facets.",
                      "title": "Union Facets"
                    },
                    "webcast_permalink": {
                      "type": "string",
                      "description": "The webcast permalink.",
                      "title": "Webcast Permalink"
                    }
                  },
                  "title": "Options"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "access_restricted": {
                        "type": "boolean",
                        "description": "Whether access is restricted.",
                        "title": "Access Restricted"
                      },
                      "aka": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The AKA.",
                        "title": "AKA"
                      },
                      "campaigns": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The campaigns.",
                        "title": "Campaigns"
                      },
                      "description": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The description.",
                        "title": "Description"
                      },
                      "digitized": {
                        "type": "boolean",
                        "description": "Whether digitized.",
                        "title": "Digitized"
                      },
                      "extract_timestamp": {
                        "type": "string",
                        "description": "The exact timestamp.",
                        "title": "Extract Timestamp"
                      },
                      "group": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The group.",
                        "title": "Group"
                      },
                      "hassegments": {
                        "type": "boolean",
                        "description": "Whether has segments.",
                        "title": "Has Segments"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "image_url": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The image URL address.",
                        "title": "Image URL"
                      },
                      "index": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The index.",
                        "title": "Index"
                      },
                      "language": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The language.",
                        "title": "Language"
                      },
                      "mime_type": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The MIME type.",
                        "title": "MIME Type"
                      },
                      "online_format": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The online format.",
                        "title": "Online Format"
                      },
                      "other_title": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The other title.",
                        "title": "Other Title"
                      },
                      "partof": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The part of.",
                        "title": "Part Of"
                      },
                      "shelf_id": {
                        "type": "string",
                        "description": "The shelf identifier.",
                        "title": "Shelf ID"
                      },
                      "site": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The site.",
                        "title": "Site"
                      },
                      "subject": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The subject.",
                        "title": "Subject"
                      },
                      "timestamp": {
                        "type": "string",
                        "description": "The timestamp.",
                        "title": "Timestamp"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "date": {
                        "type": "string",
                        "description": "The date.",
                        "title": "Date"
                      },
                      "dates": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The dates.",
                        "title": "Dates"
                      },
                      "original_format": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The original format.",
                        "title": "Original Format"
                      },
                      "location": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The location.",
                        "title": "Location"
                      },
                      "contributor": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The contributor.",
                        "title": "Contributor"
                      },
                      "item": {
                        "type": "object",
                        "properties": {
                          "call_number": {
                            "type": "string",
                            "description": "The call number.",
                            "title": "Call Number"
                          },
                          "contributor_names": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The contributor names.",
                            "title": "Contributor Names"
                          },
                          "contributors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The contributors.",
                            "title": "Contributors"
                          },
                          "control_number": {
                            "type": "string",
                            "description": "The control number.",
                            "title": "Control Number"
                          },
                          "created": {
                            "type": "string",
                            "description": "When created.",
                            "title": "Created"
                          },
                          "creators": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "link": {
                                  "type": "string",
                                  "description": "The link.",
                                  "title": "Link"
                                },
                                "role": {
                                  "type": "string",
                                  "description": "The role.",
                                  "title": "Role"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "The title.",
                                  "title": "Title"
                                }
                              }
                            },
                            "title": "Creators"
                          },
                          "date": {
                            "type": "string",
                            "description": "The date.",
                            "title": "Date"
                          },
                          "digital_id": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The digital identifier.",
                            "title": "Digital ID"
                          },
                          "format": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The format.",
                            "title": "Format"
                          },
                          "formats": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "link": {
                                  "type": "string",
                                  "description": "The link.",
                                  "title": "Link"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "The title.",
                                  "title": "Title"
                                }
                              }
                            },
                            "title": "Formats"
                          },
                          "genre": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The genre.",
                            "title": "Genre"
                          },
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "language": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The language.",
                            "title": "Language"
                          },
                          "link": {
                            "type": "string",
                            "description": "The link.",
                            "title": "Link"
                          },
                          "marc": {
                            "type": "string",
                            "description": "The Marc.",
                            "title": "Marc"
                          },
                          "medium": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The medium.",
                            "title": "Medium"
                          },
                          "medium_brief": {
                            "type": "string",
                            "description": "The medium brief.",
                            "title": "Medium Brief"
                          },
                          "mediums": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The mediums.",
                            "title": "Mediums"
                          },
                          "modified": {
                            "type": "string",
                            "description": "When modified.",
                            "title": "Modified"
                          },
                          "notes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The notes.",
                            "title": "Notes"
                          },
                          "other_control_numbers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The other control numbers.",
                            "title": "Other Control Numbers"
                          },
                          "part_of": {
                            "type": "string",
                            "description": "The part of.",
                            "title": "Part Of"
                          },
                          "repository": {
                            "type": "string",
                            "description": "The repository.",
                            "title": "Repository"
                          },
                          "reproduction_number": {
                            "type": "string",
                            "description": "The reproduction number.",
                            "title": "Reproduction Number"
                          },
                          "resource_links": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The resource link.",
                            "title": "Resource Links"
                          },
                          "rights_advisory": {
                            "type": "string",
                            "description": "The rights advisory.",
                            "title": "Rights Advisory"
                          },
                          "rights_information": {
                            "type": "string",
                            "description": "The rights information.",
                            "title": "Rights Information"
                          },
                          "service_low": {
                            "type": "string",
                            "description": "The service low.",
                            "title": "Service Low"
                          },
                          "service_medium": {
                            "type": "string",
                            "description": "The service medium.",
                            "title": "Service Medium"
                          },
                          "sort_date": {
                            "type": "string",
                            "description": "The sort date.",
                            "title": "Sort Date"
                          },
                          "source_created": {
                            "type": "string",
                            "description": "When the source created.",
                            "title": "Source Created"
                          },
                          "source_modified": {
                            "type": "string",
                            "description": "When the source modified.",
                            "title": "Source Modified"
                          },
                          "subject_headings": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The subject heading.",
                            "title": "Subject Headings"
                          },
                          "subjects": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The subjects.",
                            "title": "Subjects"
                          },
                          "summary": {
                            "type": "string",
                            "description": "The summary.",
                            "title": "Summary"
                          },
                          "thumb_gallery": {
                            "type": "string",
                            "description": "The thumbnail gallery.",
                            "title": "Thumbnail Gallery"
                          },
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "lc_classification": {
                            "type": "string",
                            "description": "The LC classification.",
                            "title": "LC Classification"
                          },
                          "other_formats": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The other formats.",
                            "title": "Other Formats"
                          },
                          "extent": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The extent.",
                            "title": "Extent"
                          },
                          "form": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The form.",
                            "title": "Form"
                          },
                          "display_offsite": {
                            "type": "boolean",
                            "description": "Whether to display offsite.",
                            "title": "Display Offsite"
                          },
                          "source_collection": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The source collection.",
                            "title": "Source Collection"
                          }
                        },
                        "title": "Item"
                      },
                      "number": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The number.",
                        "title": "Number"
                      },
                      "number_former_id": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The former identifier number.",
                        "title": "Former ID Number"
                      },
                      "related": {
                        "type": "object",
                        "properties": {
                          "neighbors": {
                            "type": "string",
                            "description": "The neighbors.",
                            "title": "Neighbors"
                          }
                        },
                        "title": "Related"
                      },
                      "reproductions": {
                        "type": "string",
                        "description": "The reproductions.",
                        "title": "Reproductions"
                      },
                      "resources": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "caption": {
                              "type": "string",
                              "description": "The caption.",
                              "title": "Caption"
                            },
                            "files": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The number of files.",
                              "title": "Files"
                            },
                            "image": {
                              "type": "string",
                              "description": "The image.",
                              "title": "Image"
                            },
                            "url": {
                              "type": "string",
                              "description": "The URL address.",
                              "title": "URL"
                            }
                          }
                        },
                        "title": "Resources"
                      },
                      "unrestricted": {
                        "type": "boolean",
                        "description": "Whether unrestricted.",
                        "title": "Unrestricted"
                      },
                      "segments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "count": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The count.",
                              "title": "Count"
                            },
                            "link": {
                              "type": "string",
                              "description": "The link.",
                              "title": "Link"
                            },
                            "url": {
                              "type": "string",
                              "description": "The URL address.",
                              "title": "URL"
                            }
                          }
                        },
                        "title": "Segments"
                      }
                    }
                  },
                  "title": "Results"
                },
                "search": {
                  "type": "object",
                  "properties": {
                    "dates": {
                      "type": "string",
                      "description": "The dates.",
                      "title": "Dates"
                    },
                    "facet_limits": {
                      "type": "string",
                      "description": "The facet limits.",
                      "title": "Facet Limits"
                    },
                    "field": {
                      "type": "string",
                      "description": "The field.",
                      "title": "Field"
                    },
                    "hits": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of hits.",
                      "title": "Hits"
                    },
                    "in": {
                      "type": "string",
                      "description": "The in.",
                      "title": "In"
                    },
                    "query": {
                      "type": "string",
                      "description": "The query.",
                      "title": "Query"
                    },
                    "recommended": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number recommended.",
                      "title": "Recommended"
                    },
                    "site": {
                      "type": "object",
                      "description": "The site.",
                      "title": "Site"
                    },
                    "sort_by": {
                      "type": "string",
                      "description": "The sort by.",
                      "title": "Sort By"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "union_facets": {
                      "type": "string",
                      "description": "The union facets.",
                      "title": "Union Facets"
                    },
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    }
                  },
                  "title": "Search"
                },
                "timestamp": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The timestamp.",
                  "title": "Timestamp"
                },
                "views": {
                  "type": "object",
                  "properties": {
                    "brief": {
                      "type": "string",
                      "description": "The brief.",
                      "title": "Brief"
                    },
                    "current": {
                      "type": "string",
                      "description": "The current.",
                      "title": "Current"
                    },
                    "gallery": {
                      "type": "string",
                      "description": "The gallery.",
                      "title": "Gallery"
                    },
                    "grid": {
                      "type": "string",
                      "description": "The grid.",
                      "title": "Grid"
                    },
                    "list": {
                      "type": "string",
                      "description": "The list.",
                      "title": "List"
                    },
                    "slideshow": {
                      "type": "string",
                      "description": "The slideshow.",
                      "title": "Slideshow"
                    }
                  },
                  "title": "Views"
                }
              }
            }
          }
        },
        "summary": "Search the Library of Congress",
        "description": "Searches everything on the www.loc.gov website. Includes items in the collection, legislation, web pages, blog posts, and press releases.",
        "operationId": "Search",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Query",
            "description": "The query or search term.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fa",
            "in": "query",
            "x-ms-summary": "Filter",
            "description": "The filter or facet.",
            "required": false,
            "type": "string"
          },
          {
            "name": "c",
            "in": "query",
            "x-ms-summary": "Per Page",
            "description": "The results per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sp",
            "in": "query",
            "x-ms-summary": "Pages",
            "description": "The pages in results.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "at",
            "in": "query",
            "x-ms-summary": "Attributes",
            "description": "The attributes to return.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sb",
            "in": "query",
            "x-ms-summary": "Sort Field",
            "description": "The sort field.",
            "required": false,
            "type": "string"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/collections/{collection}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "aka": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The AKA.",
                  "title": "AKA"
                },
                "categories": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The categories.",
                  "title": "Categories"
                },
                "content": {
                  "type": "object",
                  "properties": {
                    "active": {
                      "type": "boolean",
                      "description": "Whether active.",
                      "title": "Active"
                    },
                    "link": {
                      "type": "string",
                      "description": "The link.",
                      "title": "Link"
                    },
                    "markup": {
                      "type": "string",
                      "description": "The markup.",
                      "title": "Markup"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "access_restricted": {
                            "type": "boolean",
                            "description": "Whether access is restricted.",
                            "title": "Access Restricted"
                          },
                          "aka": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The AKA.",
                            "title": "AKA"
                          },
                          "campaigns": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The campaigns.",
                            "title": "Campaigns"
                          },
                          "contributor": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The contributor.",
                            "title": "Contributor"
                          },
                          "date": {
                            "type": "string",
                            "description": "The date.",
                            "title": "Date"
                          },
                          "dates": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The dates.",
                            "title": "Dates"
                          },
                          "description": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The description.",
                            "title": "Description"
                          },
                          "digitized": {
                            "type": "boolean",
                            "description": "Whether digitized.",
                            "title": "Digitized"
                          },
                          "extract_timestamp": {
                            "type": "string",
                            "description": "The exact timestamp.",
                            "title": "Extract Timestamp"
                          },
                          "group": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The group.",
                            "title": "Group"
                          },
                          "hassegments": {
                            "type": "boolean",
                            "description": "Whether has segments.",
                            "title": "Has Segments"
                          },
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "image_url": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The image URL address.",
                            "title": "Image URL"
                          },
                          "index": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The index number.",
                            "title": "Index"
                          },
                          "item": {
                            "type": "object",
                            "properties": {
                              "call_number": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The call number.",
                                "title": "Call Number"
                              },
                              "contributors": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The contributors.",
                                "title": "Contributors"
                              },
                              "creator": {
                                "type": "string",
                                "description": "The creator.",
                                "title": "Creator"
                              },
                              "date": {
                                "type": "string",
                                "description": "The date.",
                                "title": "Date"
                              },
                              "digital_id": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The digital identifier.",
                                "title": "Digital ID"
                              },
                              "format": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The format.",
                                "title": "Format"
                              },
                              "language": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The language.",
                                "title": "Language"
                              },
                              "location": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The location.",
                                "title": "Location"
                              },
                              "medium": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The medium.",
                                "title": "Medium"
                              },
                              "notes": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The notes.",
                                "title": "Notes"
                              },
                              "number_former_id": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The number former identifier.",
                                "title": "Number Former ID"
                              },
                              "repository": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The repository.",
                                "title": "Repository"
                              },
                              "subjects": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The subjects.",
                                "title": "Subjects"
                              },
                              "title": {
                                "type": "string",
                                "description": "The title.",
                                "title": "Title"
                              },
                              "contents": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The contents.",
                                "title": "Contents"
                              },
                              "other_title": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The other title.",
                                "title": "Other Title"
                              },
                              "genre": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The genre.",
                                "title": "Genre"
                              }
                            },
                            "title": "Item"
                          },
                          "language": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The language.",
                            "title": "Language"
                          },
                          "location": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The location.",
                            "title": "Location"
                          },
                          "location_country": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The location country.",
                            "title": "Location Country"
                          },
                          "mime_type": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The MIME type.",
                            "title": "MIME Type"
                          },
                          "number": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The number.",
                            "title": "Number"
                          },
                          "number_former_id": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The number former identifier.",
                            "title": "Number Former ID"
                          },
                          "number_lccn": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The number LCCN.",
                            "title": "Number LCCN"
                          },
                          "number_source_modified": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "When the number source modified.",
                            "title": "Number Source Modified"
                          },
                          "online_format": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The online format.",
                            "title": "Online Format"
                          },
                          "original_format": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The original format.",
                            "title": "Original Format"
                          },
                          "other_title": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The other title.",
                            "title": "Other Title"
                          },
                          "partof": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The part of.",
                            "title": "Part Of"
                          },
                          "resources": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "files": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The number of files.",
                                  "title": "Files"
                                },
                                "image": {
                                  "type": "string",
                                  "description": "The image.",
                                  "title": "Image"
                                },
                                "url": {
                                  "type": "string",
                                  "description": "The URL address.",
                                  "title": "URL"
                                },
                                "caption": {
                                  "type": "string",
                                  "description": "The caption.",
                                  "title": "Caption"
                                },
                                "captions": {
                                  "type": "string",
                                  "description": "The captions.",
                                  "title": "Captions"
                                },
                                "search": {
                                  "type": "string",
                                  "description": "The search.",
                                  "title": "Search"
                                },
                                "segments": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The segments.",
                                  "title": "Segments"
                                }
                              }
                            },
                            "title": "Resources"
                          },
                          "shelf_id": {
                            "type": "string",
                            "description": "The shelf identifier.",
                            "title": "Shelf ID"
                          },
                          "site": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The site.",
                            "title": "Site"
                          },
                          "subject": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The subject.",
                            "title": "Subject"
                          },
                          "timestamp": {
                            "type": "string",
                            "description": "The timestamp.",
                            "title": "Timestamp"
                          },
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "segments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "count": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The count.",
                                  "title": "Count"
                                },
                                "link": {
                                  "type": "string",
                                  "description": "The link.",
                                  "title": "Link"
                                },
                                "url": {
                                  "type": "string",
                                  "description": "The URL address.",
                                  "title": "URL"
                                }
                              }
                            },
                            "title": "Segments"
                          }
                        }
                      },
                      "title": "Results"
                    },
                    "slug": {
                      "type": "string",
                      "description": "The slug.",
                      "title": "Slug"
                    },
                    "title": {
                      "type": "string",
                      "description": "The title.",
                      "title": "Title"
                    },
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    },
                    "views": {
                      "type": "object",
                      "properties": {
                        "brief": {
                          "type": "string",
                          "description": "The brief.",
                          "title": "Brief"
                        },
                        "current": {
                          "type": "string",
                          "description": "The current.",
                          "title": "Current"
                        },
                        "gallery": {
                          "type": "string",
                          "description": "The gallery.",
                          "title": "Gallery"
                        },
                        "grid": {
                          "type": "string",
                          "description": "The grid.",
                          "title": "Grid"
                        },
                        "list": {
                          "type": "string",
                          "description": "The list.",
                          "title": "List"
                        },
                        "slideshow": {
                          "type": "string",
                          "description": "The slideshow.",
                          "title": "Slideshow"
                        }
                      },
                      "title": "Views"
                    }
                  },
                  "title": "Content"
                },
                "content_is_post": {
                  "type": "boolean",
                  "description": "Whether content is post.",
                  "title": "Content Is Post"
                },
                "digitized": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The digitized.",
                  "title": "Digitized"
                },
                "expert_resources": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      }
                    }
                  },
                  "title": "Expert Resources"
                },
                "facet_trail": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "facet": {
                        "type": "string",
                        "description": "The facet.",
                        "title": "Facet"
                      },
                      "field": {
                        "type": "string",
                        "description": "The field.",
                        "title": "Field"
                      },
                      "superset": {
                        "type": "string",
                        "description": "The superset.",
                        "title": "Superset"
                      },
                      "value": {
                        "type": "string",
                        "description": "The value.",
                        "title": "Value"
                      }
                    }
                  },
                  "title": "Facet Trail"
                },
                "facet_views": {
                  "type": "object",
                  "properties": {
                    "calendar": {
                      "type": "string",
                      "description": "The calendar.",
                      "title": "Calendar"
                    },
                    "chart": {
                      "type": "string",
                      "description": "The chart.",
                      "title": "Chart"
                    },
                    "current": {
                      "type": "string",
                      "description": "The current.",
                      "title": "Current"
                    },
                    "list": {
                      "type": "string",
                      "description": "The list.",
                      "title": "List"
                    }
                  },
                  "title": "Facet Views"
                },
                "facets": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "filters": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "count": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The count.",
                              "title": "Count"
                            },
                            "not": {
                              "type": "string",
                              "description": "The not.",
                              "title": "Not"
                            },
                            "off": {
                              "type": "string",
                              "description": "The off.",
                              "title": "Off"
                            },
                            "on": {
                              "type": "string",
                              "description": "The on.",
                              "title": "On"
                            },
                            "title": {
                              "type": "string",
                              "description": "The title.",
                              "title": "Title"
                            },
                            "term": {
                              "type": "string",
                              "description": "The term.",
                              "title": "Term"
                            }
                          }
                        },
                        "title": "Filters"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "index": {
                        "type": "string",
                        "description": "The index.",
                        "title": "Index"
                      }
                    }
                  },
                  "title": "Facets"
                },
                "featured_items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "image": {
                        "type": "string",
                        "description": "The image.",
                        "title": "Image"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      }
                    }
                  },
                  "title": "Featured Items"
                },
                "form_facets": {
                  "type": "object",
                  "description": "The form facets.",
                  "title": "Form Facets"
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "access_group": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The access group.",
                      "title": "Access Group"
                    },
                    "access_group_raw": {
                      "type": "string",
                      "description": "The access group raw.",
                      "title": "Access Group Raw"
                    },
                    "all": {
                      "type": "string",
                      "description": "The all.",
                      "title": "All"
                    },
                    "api_version": {
                      "type": "string",
                      "description": "The API version.",
                      "title": "API Version"
                    },
                    "app_context": {
                      "type": "string",
                      "description": "The app context.",
                      "title": "App Context"
                    },
                    "application_version": {
                      "type": "string",
                      "description": "The application version.",
                      "title": "Application Version"
                    },
                    "attribute": {
                      "type": "string",
                      "description": "The attribute.",
                      "title": "Attribute"
                    },
                    "attribute!": {
                      "type": "string",
                      "description": "The attribute!.",
                      "title": "Attribute!"
                    },
                    "attribute_map": {
                      "type": "string",
                      "description": "The attribute map.",
                      "title": "Attribute Map"
                    },
                    "cache_tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The cache tags.",
                      "title": "Cache Tags"
                    },
                    "callback": {
                      "type": "string",
                      "description": "The callback.",
                      "title": "Callback"
                    },
                    "clip": {
                      "type": "string",
                      "description": "The clip.",
                      "title": "Clip"
                    },
                    "clip_image_width": {
                      "type": "string",
                      "description": "The clip image width.",
                      "title": "Clip Image Width"
                    },
                    "clip_rotation": {
                      "type": "string",
                      "description": "The clip rotation.",
                      "title": "Clip Rotation"
                    },
                    "content_filter": {
                      "type": "string",
                      "description": "The content filter.",
                      "title": "Content Filter"
                    },
                    "content_replacement": {
                      "type": "string",
                      "description": "The content replacement.",
                      "title": "Content Replacement"
                    },
                    "count": {
                      "type": "string",
                      "description": "The count.",
                      "title": "Count"
                    },
                    "dates": {
                      "type": "string",
                      "description": "The dates.",
                      "title": "Dates"
                    },
                    "default_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The default count.",
                      "title": "Default Count"
                    },
                    "delimiter": {
                      "type": "string",
                      "description": "The delimiter.",
                      "title": "Delimiter"
                    },
                    "digital_id": {
                      "type": "string",
                      "description": "The digital identifier.",
                      "title": "Digital ID"
                    },
                    "display_level": {
                      "type": "string",
                      "description": "The display level.",
                      "title": "Display Level"
                    },
                    "distance": {
                      "type": "string",
                      "description": "The distance.",
                      "title": "Distance"
                    },
                    "downloadOption": {
                      "type": "string",
                      "description": "The download option.",
                      "title": "Download Option"
                    },
                    "duration": {
                      "type": "number",
                      "format": "float",
                      "description": "The duration.",
                      "title": "Duration"
                    },
                    "embed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The embed.",
                      "title": "Embed"
                    },
                    "embed!": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The embed!",
                      "title": "embed!"
                    },
                    "excludeTerms": {
                      "type": "string",
                      "description": "The exclude terms.",
                      "title": "Exclude Terms"
                    },
                    "facetLimits": {
                      "type": "string",
                      "description": "The facet limits.",
                      "title": "Facet Limits"
                    },
                    "facetPrefix": {
                      "type": "string",
                      "description": "The facet prefix.",
                      "title": "Facet Prefix"
                    },
                    "facet_count": {
                      "type": "string",
                      "description": "The facet count.",
                      "title": "Facet Count"
                    },
                    "facet_style": {
                      "type": "string",
                      "description": "The facet style.",
                      "title": "Facet Style"
                    },
                    "field": {
                      "type": "string",
                      "description": "The field.",
                      "title": "Field"
                    },
                    "format": {
                      "type": "string",
                      "description": "The format.",
                      "title": "Format"
                    },
                    "groupBy": {
                      "type": "string",
                      "description": "The group by.",
                      "title": "Group By"
                    },
                    "host": {
                      "type": "string",
                      "description": "The host.",
                      "title": "Host"
                    },
                    "ical": {
                      "type": "boolean",
                      "description": "Whether iCal.",
                      "title": "iCal"
                    },
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "iiif": {
                      "type": "boolean",
                      "description": "Whether IIIF.",
                      "title": "IIIF"
                    },
                    "index": {
                      "type": "string",
                      "description": "The index.",
                      "title": "Index"
                    },
                    "inputEncoding": {
                      "type": "string",
                      "description": "The input encoding.",
                      "title": "Input Encoding"
                    },
                    "is_portal": {
                      "type": "string",
                      "description": "The is portal.",
                      "title": "Is Portal"
                    },
                    "item": {
                      "type": "string",
                      "description": "The item.",
                      "title": "Item"
                    },
                    "items": {
                      "type": "string",
                      "description": "The items.",
                      "title": "Items"
                    },
                    "keys": {
                      "type": "string",
                      "description": "The keys.",
                      "title": "Keys"
                    },
                    "language": {
                      "type": "string",
                      "description": "The language.",
                      "title": "Language"
                    },
                    "latlong": {
                      "type": "string",
                      "description": "The latitude and longitude.",
                      "title": "Lat Long"
                    },
                    "method": {
                      "type": "string",
                      "description": "The method.",
                      "title": "Method"
                    },
                    "newSearch": {
                      "type": "string",
                      "description": "The new search.",
                      "title": "New Search"
                    },
                    "new_clip_url": {
                      "type": "boolean",
                      "description": "Whether new clip URL address.",
                      "title": "New Clip URL"
                    },
                    "onsite": {
                      "type": "boolean",
                      "description": "Whether onsite.",
                      "title": "Onsite"
                    },
                    "operator": {
                      "type": "string",
                      "description": "The operator.",
                      "title": "Operator"
                    },
                    "outputEncoding": {
                      "type": "string",
                      "description": "The output encoding.",
                      "title": "Output Encoding"
                    },
                    "page_has_campaign": {
                      "type": "boolean",
                      "description": "Whether page has campaign.",
                      "title": "Page Has Campaign"
                    },
                    "path_info": {
                      "type": "string",
                      "description": "The path info.",
                      "title": "Path Info"
                    },
                    "port": {
                      "type": "string",
                      "description": "The port.",
                      "title": "Port"
                    },
                    "proxypath": {
                      "type": "string",
                      "description": "The proxy path.",
                      "title": "Proxy Path"
                    },
                    "query_string": {
                      "type": "string",
                      "description": "The query string.",
                      "title": "Query String"
                    },
                    "redirect_proxy": {
                      "type": "boolean",
                      "description": "Whether redirect proxy.",
                      "title": "Redirect Proxy"
                    },
                    "redirect_to_item": {
                      "type": "string",
                      "description": "The redirect to item.",
                      "title": "Redirect To Item"
                    },
                    "referer": {
                      "type": "string",
                      "description": "The referer.",
                      "title": "Referer"
                    },
                    "region": {
                      "type": "string",
                      "description": "The region.",
                      "title": "Region"
                    },
                    "release_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The release identifier.",
                      "title": "Release ID"
                    },
                    "request_url": {
                      "type": "string",
                      "description": "The request URL address.",
                      "title": "Request URL"
                    },
                    "resource": {
                      "type": "string",
                      "description": "The resource.",
                      "title": "Resource"
[...]
