{
  "swagger": "2.0",
  "info": {
    "contact": {
      "name": "ConvertAPI Support",
      "url": "https://www.convertapi.com/support",
      "email": "support@convertapi.com"
    },
    "description": "Leverage ConvertAPI’s high-performance PDF toolkit and document conversion features. Merge, split, compress, protect, redact, or rotate your PDF files, and convert them into editable Word, PowerPoint, or Excel documents using our fast and secure service. You can also extract text and tables from both textual and scanned PDFs, making it easy to generate CSV or XLSX outputs. Get your token at: https://www.convertapi.com. For questions or assistance, contact us at support@convertapi.com.",
    "title": "ConvertAPI",
    "version": "1.0.0"
  },
  "host": "v2.convertapi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/convert/pdf/to/compress": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "(Required) File to be compressed.",
            "in": "formData",
            "name": "File",
            "x-ms-summary": "File",
            "type": "file",
            "required": true
          },
          {
            "in": "formData",
            "name": "FileName",
            "x-ms-summary": "File Name",
            "type": "string",
            "description": "Set the output file name (optional)"
          },
          {
            "description": "Set image quality in percentage.",
            "in": "formData",
            "name": "ImageQuality",
            "x-ms-summary": "Image Quality",
            "type": "number",
            "default": 80
          },
          {
            "description": "Set the maximum image resolution in DPI.",
            "in": "formData",
            "name": "ImageResolution",
            "x-ms-summary": "Image Resolution",
            "type": "number",
            "default": 150
          },
          {
            "description": "Linearize PDF file and optimize for fast Web View.",
            "in": "formData",
            "name": "Linearize",
            "x-ms-summary": "Linearize PDF",
            "type": "boolean",
            "default": false
          },
          {
            "description": "Optimize page content streams in the PDF file.",
            "in": "formData",
            "name": "Optimize",
            "x-ms-summary": "Optimize content streams",
            "type": "boolean",
            "default": true
          },
          {
            "description": "Sets the password to open protected PDF.",
            "in": "formData",
            "name": "Password",
            "x-ms-summary": "Password",
            "type": "string"
          },
          {
            "description": "Preserve the PDF/A standard in the PDF file.",
            "in": "formData",
            "name": "PreservePdfa",
            "x-ms-summary": "Preserve PDF/A",
            "type": "boolean",
            "default": false
          },
          {
            "description": "Choose a compression level from the available presets. If a preset is selected, all other compression options will be ignored. These presets are optimized for various use cases, such as balancing file size and quality., * `none` - Not set - advanced properties used, * `text` - Text - 20 image DPI, lowest quality, highest compression, * `archive` - Archive - 40 image DPI, low quality, high compression, * `web` - Web - 75 image DPI, medium quality, high compression, * `ebook` - Ebook - 150 image DPI, high quality, medium compression, * `printer` - Printer - 300 image DPI, high quality, low compression (This can only be one of none,text,archive,web,ebook,printer)",
            "in": "formData",
            "name": "Preset",
            "x-ms-summary": "Preset",
            "type": "string",
            "enum": [
              "none",
              "text",
              "archive",
              "web",
              "ebook",
              "printer"
            ],
            "default": "none"
          },
          {
            "description": "Remove duplicate fonts and color profiles from the PDF file.",
            "in": "formData",
            "name": "RemoveDuplicates",
            "x-ms-summary": "Remove Duplicates",
            "type": "boolean",
            "default": true
          },
          {
            "description": "Remove embedded/attachments files from the PDF file.",
            "in": "formData",
            "name": "RemoveEmbeddedFiles",
            "x-ms-summary": "Remove Embedded Files",
            "type": "boolean",
            "default": true
          },
          {
            "description": "Remove PDF forms from the PDF file.",
            "in": "formData",
            "name": "RemoveForms",
            "x-ms-summary": "Remove Forms",
            "type": "boolean",
            "default": false
          },
          {
            "description": "Detach the XMP metadata embedded in the document from its catalog, clear all properties in all schemas, and remove metadata from marked content.",
            "in": "formData",
            "name": "RemoveMetadata",
            "x-ms-summary": "Remove Metadata",
            "type": "boolean",
            "default": true
          },
          {
            "description": "Remove piece information dictionaries like Adobe Illustrator or Photoshop private data.",
            "in": "formData",
            "name": "RemovePieceInformation",
            "x-ms-summary": "Remove Piece Information",
            "type": "boolean",
            "default": true
          },
          {
            "description": "Remove all structure information from the PDF document.",
            "in": "formData",
            "name": "RemoveStructureInformation",
            "x-ms-summary": "Remove Structure Information",
            "type": "boolean",
            "default": true
          },
          {
            "description": "Remove references to resources such as fonts, images, patterns.",
            "in": "formData",
            "name": "RemoveUnusedResources",
            "x-ms-summary": "Remove Unused Resources",
            "type": "boolean",
            "default": true
          },
          {
            "description": "Output PDF should only contain font characters utilized in the original document, and any unused glyphs from all fonts in the document should be removed.",
            "in": "formData",
            "name": "SubsetEmbeddedFonts",
            "x-ms-summary": "Subset Embedded Fonts",
            "type": "boolean",
            "default": false
          },
          {
            "description": "Specifies whether to remove the base fonts from the PDF file.",
            "in": "formData",
            "x-ms-summary": "Unembed Base Fonts",
            "name": "UnembedBaseFonts",
            "type": "boolean",
            "default": false
          },
          {
            "description": "Store converted file on our secure server and provides download URL.",
            "in": "formData",
            "name": "StoreFile",
            "x-ms-summary": "Store File",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "properties": {
                "ConversionCost": {
                  "example": "<integer>",
                  "type": "integer"
                },
                "Files": {
                  "example": [
                    {
                      "FileData": "<string>",
                      "FileExt": "<string>",
                      "FileId": "<string>",
                      "FileName": "<string>",
                      "FileSize": "<integer>",
                      "Url": "<string>"
                    }
                  ],
                  "items": {
                    "properties": {
                      "FileData": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileExt": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileId": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileName": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileSize": {
                        "example": "<integer>",
                        "type": "integer"
                      },
                      "Url": {
                        "example": "<string>",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Malformed request",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Authentication error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "415": {
            "description": "File type error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "500": {
            "description": "Conversion failure",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "503": {
            "description": "Conversion rate limit error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "convert",
          "pdf",
          "to",
          "compress"
        ],
        "summary": "Compress a PDF file",
        "description": "Reduce PDF file size by adjusting image quality, resolution, removing duplicate resources, or applying various compression presets.",
        "operationId": "convertPdfToCompress",
        "x-ms-summary": "Compress a PDF file",
        "x-ms-visibility": "important"
      }
    },
    "/convert/pdf/to/csv": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "(Required) File to be converted.",
            "in": "formData",
            "name": "File",
            "x-ms-summary": "File",
            "type": "file",
            "required": true
          },
          {
            "description": "(Required) Set fields separator.",
            "in": "formData",
            "name": "Delimiter",
            "x-ms-summary": "Delimiter",
            "type": "string",
            "default": ",",
            "required": true
          },
          {
            "description": "Enable optical character recognition(OCR). Set the property to ALL to perform OCR on all pages and Scanned to perform OCR on scanned pages if PDF contains mixed pages - text and image pages., * `Scanned` - Scanned Only, * `All` - All Pages, * `None` - None",
            "in": "formData",
            "name": "EnableOcr",
            "x-ms-summary": "Enable OCR",
            "type": "string",
            "enum": [
              "scanned",
              "all",
              "none"
            ],
            "default": "scanned"
          },
          {
            "in": "formData",
            "name": "FileName",
            "x-ms-summary": "File Name",
            "type": "string",
            "description": "Set the output file name (optional)"
          },
          {
            "description": "Set the OCR language. Ask support to add your language if missing., * `ca` - Catalan, * `da` - Danish, * `nl` - Dutch, * `fa` - French, * `de` - German, * `es` - Spanish, * `en` - English, * `he` - Hebrew, * `pl` - Polish, * `pt` - Portuguese, * `ru` - Russian, * `sv` - Swedish, * `tr` - Turkish, * `lt` - Lithuanian (This can only be one of ca,da,nl,fa,de,es,en,he,pl,pt,ru,sv,tr,lt)",
            "in": "formData",
            "name": "OcrLanguage",
            "x-ms-summary": "OCR Language",
            "type": "string",
            "enum": [
              "en",
              "ca",
              "da",
              "nl",
              "fa",
              "de",
              "es",
              "he",
              "pl",
              "pt",
              "ru",
              "sv",
              "tr",
              "lt"
            ],
            "default": "en"
          },
          {
            "description": "Set page range. Example 1-10 or 1,2,5.",
            "in": "formData",
            "name": "PageRange",
            "x-ms-summary": "Page Range",
            "type": "string",
            "default": "1-2000"
          },
          {
            "description": "Sets the password to open protected documents.",
            "in": "formData",
            "name": "Password",
            "x-ms-summary": "Password",
            "type": "string"
          },
          {
            "description": "Store converted file on our secure server and provides download URL.",
            "in": "formData",
            "name": "StoreFile",
            "x-ms-summary": "Store File",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "properties": {
                "ConversionCost": {
                  "example": "<integer>",
                  "type": "integer"
                },
                "Files": {
                  "example": [
                    {
                      "FileData": "<string>",
                      "FileExt": "<string>",
                      "FileId": "<string>",
                      "FileName": "<string>",
                      "FileSize": "<integer>",
                      "Url": "<string>"
                    },
                    {
                      "FileData": "<string>",
                      "FileExt": "<string>",
                      "FileId": "<string>",
                      "FileName": "<string>",
                      "FileSize": "<integer>",
                      "Url": "<string>"
                    }
                  ],
                  "items": {
                    "properties": {
                      "FileData": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileExt": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileId": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileName": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileSize": {
                        "example": "<integer>",
                        "type": "integer"
                      },
                      "Url": {
                        "example": "<string>",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Malformed request",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Authentication error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "415": {
            "description": "File type error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "500": {
            "description": "Conversion failure",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "503": {
            "description": "Conversion rate limit error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "convert",
          "pdf",
          "to",
          "csv"
        ],
        "summary": "Convert PDF to CSV",
        "x-ms-summary": "Convert PDF to CSV",
        "description": "Extract tables from textual or scanned PDF documents to CSV format. Optionally apply OCR to handle scanned pages, define a delimiter, and set page ranges.",
        "operationId": "convertPdfToCsv"
      }
    },
    "/convert/pdf/to/delete-pages": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "(Required) File of which you want to delete specific pages.",
            "in": "formData",
            "name": "File",
            "x-ms-summary": "File",
            "type": "file",
            "required": true
          },
          {
            "in": "formData",
            "name": "FileName",
            "x-ms-summary": "File Name",
            "type": "string",
            "description": "Set the output file name (optional)"
          },
          {
            "description": "(Required) Set page range or individual pages to delete. Example 1-10 or 1,2,5.",
            "in": "formData",
            "name": "PageRange",
            "x-ms-summary": "Page Range",
            "type": "string",
            "required": true
          },
          {
            "description": "Sets the password to open protected documents.",
            "in": "formData",
            "name": "Password",
            "x-ms-summary": "Password",
            "type": "string"
          },
          {
            "description": "Store converted file on our secure server and provides download URL.",
            "in": "formData",
            "name": "StoreFile",
            "x-ms-summary": "Store File",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "properties": {
                "ConversionCost": {
                  "example": "<integer>",
                  "type": "integer"
                },
                "Files": {
                  "example": [
                    {
                      "FileData": "<string>",
                      "FileExt": "<string>",
                      "FileId": "<string>",
                      "FileName": "<string>",
                      "FileSize": "<integer>",
                      "Url": "<string>"
                    }
                  ],
                  "items": {
                    "properties": {
                      "FileData": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileExt": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileId": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileName": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileSize": {
                        "example": "<integer>",
                        "type": "integer"
                      },
                      "Url": {
                        "example": "<string>",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Malformed request",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Authentication error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "415": {
            "description": "File type error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "500": {
            "description": "Conversion failure",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "503": {
            "description": "Conversion rate limit error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "convert",
          "pdf",
          "to",
          "delete-pages"
        ],
        "summary": "Remove pages from PDF",
        "x-ms-summary": "Remove pages from PDF",
        "description": "Delete specific pages from a PDF document using a page range or comma-separated page list. Also supports password-protected PDFs.",
        "operationId": "convertPdfToDeletePages"
      }
    },
    "/convert/pdf/to/docx": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "(Required) File to be converted.",
            "in": "formData",
            "name": "File",
            "x-ms-summary": "File",
            "type": "file",
            "required": true
          },
          {
            "in": "formData",
            "name": "FileName",
            "x-ms-summary": "File Name",
            "type": "string",
            "description": "Set the output file name (optional)"
          },
          {
            "description": "Enable optical character recognition(OCR).",
            "in": "formData",
            "name": "EnableOcr",
            "x-ms-summary": "Enable OCR",
            "type": "boolean",
            "default": true
          },
          {
            "description": "Configure the OCR language for text recognition. If auto-detection fails, manually specify the language. * `automatic` - Automatic, * `ar` - Arabic, * `ca` - Catalan, * `zh` - Chinese, * `da` - Danish, * `nl` - Dutch, * `en` - English, * `fi` - Finnish, * `fr` - French, * `de` - German, * `gr` - Greek, * `ko` - Korean, * `it` - Italian, * `ja` - Japanese, * `no` - Norwegian, * `pl` - Polish, * `pt` - Portuguese, * `ro` - Romanian, * `ru` - Russian, * `sl` - Slovenian, * `es` - Spanish, * `sv` - Swedish, * `tr` - Turkish, * `th` - Thai",
            "in": "formData",
            "name": "OcrLanguage",
            "x-ms-summary": "OCR Language",
            "type": "string",
            "enum": [
              "automatic",
              "ar",
              "ca",
              "zh",
              "da",
              "nl",
              "en",
              "fi",
              "fr",
              "de",
              "gr",
              "ko",
              "it",
              "ja",
              "no",
              "pl",
              "pt",
              "ro",
              "ru",
              "sl",
              "es",
              "sv",
              "tr",
              "th"
            ],
            "default": "automatic"
          },
          {
            "description": "Set page range. Example 1-10 or 1,2,5.",
            "in": "formData",
            "name": "PageRange",
            "x-ms-summary": "Page Range",
            "type": "string"
          },
          {
            "description": "Sets the password to open protected documents.",
            "in": "formData",
            "name": "Password",
            "x-ms-summary": "Password",
            "type": "string"
          },
          {
            "description": "Persist exact formatting using text boxes.",
            "in": "formData",
            "name": "Wysiwyg",
            "x-ms-summary": "Wysiwyg",
            "type": "boolean",
            "default": false
          },
          {
            "description": "Store converted file on our secure server and provides download URL.",
            "in": "formData",
            "name": "StoreFile",
            "x-ms-summary": "Store File",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "properties": {
                "ConversionCost": {
                  "example": "<integer>",
                  "type": "integer"
                },
                "Files": {
                  "example": [
                    {
                      "FileData": "<string>",
                      "FileExt": "<string>",
                      "FileId": "<string>",
                      "FileName": "<string>",
                      "FileSize": "<integer>",
                      "Url": "<string>"
                    }
                  ],
                  "items": {
                    "properties": {
                      "FileData": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileExt": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileId": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileName": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileSize": {
                        "example": "<integer>",
                        "type": "integer"
                      },
                      "Url": {
                        "example": "<string>",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Malformed request",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Authentication error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "415": {
            "description": "File type error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "500": {
            "description": "Conversion failure",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "503": {
            "description": "Conversion rate limit error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "convert",
          "pdf",
          "to",
          "docx"
        ],
        "summary": "Convert PDF to DOCX",
        "x-ms-summary": "Convert PDF to DOCX",
        "description": "Transform PDF files into editable Word documents. Optionally apply OCR to scanned PDFs, define page ranges, or preserve layout with text boxes (WYSIWYG).",
        "operationId": "convertPdfToDocx"
      }
    },
    "/convert/pdf/to/extract-images": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "(Required) File from which you want to extract the images.",
            "in": "formData",
            "name": "File",
            "x-ms-summary": "File",
            "type": "file",
            "required": true
          },
          {
            "in": "formData",
            "name": "FileName",
            "x-ms-summary": "File Name",
            "type": "string",
            "description": "Set the output file name (optional)"
          },
          {
            "description": ", * `default` - Default, * `jpg` - JPG, * `png` - PNG, * `tiff` - TIFF",
            "in": "formData",
            "name": "ImageOutputFormat",
            "x-ms-summary": "Image Output Format",
            "type": "string",
            "enum": [
              "default",
              "jpg",
              "png",
              "tiff"
            ],
            "default": "default"
          },
          {
            "description": "Set output image resolution in dpi.",
            "in": "formData",
            "name": "ImageResolution",
            "x-ms-summary": "Image Resolution",
            "type": "integer"
          },
          {
            "description": "Set page range. Example 1-10 or 1,2,5.",
            "in": "formData",
            "name": "PageRange",
            "x-ms-summary": "Page Range",
            "type": "string"
          },
          {
            "description": "Sets the password to open protected documents.",
            "in": "formData",
            "name": "Password",
            "x-ms-summary": "Password",
            "type": "string"
          },
          {
            "description": "Store converted file on our secure server and provides download URL.",
            "in": "formData",
            "name": "StoreFile",
            "x-ms-summary": "Store File",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "properties": {
                "ConversionCost": {
                  "example": "<integer>",
                  "type": "integer"
                },
                "Files": {
                  "example": [
                    {
                      "FileData": "<string>",
                      "FileExt": "<string>",
                      "FileId": "<string>",
                      "FileName": "<string>",
                      "FileSize": "<integer>",
                      "Url": "<string>"
                    },
                    {
                      "FileData": "<string>",
                      "FileExt": "<string>",
                      "FileId": "<string>",
                      "FileName": "<string>",
                      "FileSize": "<integer>",
                      "Url": "<string>"
                    }
                  ],
                  "items": {
                    "properties": {
                      "FileData": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileExt": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileId": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileName": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileSize": {
                        "example": "<integer>",
                        "type": "integer"
                      },
                      "Url": {
                        "example": "<string>",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Malformed request",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Authentication error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "415": {
            "description": "File type error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "500": {
            "description": "Conversion failure",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "503": {
            "description": "Conversion rate limit error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "convert",
          "pdf",
          "to",
          "extract-images"
        ],
        "summary": "Extract images from PDF",
        "x-ms-summary": "Extract images from PDF",
        "description": "Retrieve embedded images from each page of a PDF. Configure output image format, resolution, and page ranges. Works with password-protected PDFs as well.",
        "operationId": "convertPdfToExtractImages"
      }
    },
    "/convert/pdf/to/flatten": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "(Required) File to be flattened.",
            "in": "formData",
            "name": "File",
            "x-ms-summary": "File",
            "type": "file",
            "required": true
          },
          {
            "in": "formData",
            "name": "FileName",
            "x-ms-summary": "File Name",
            "type": "string",
            "description": "Set the output file name (optional)"
          },
          {
            "description": "Prevent text selection, copying, and extraction by turning the textual symbols into vectorial paths to make the PDF read-only while preserving the original vectorial PDF quality.",
            "in": "formData",
            "name": "FlattenText",
            "x-ms-summary": "Flatten Text",
            "type": "boolean",
            "default": true
          },
          {
            "description": "Sets the password to open protected documents.",
            "in": "formData",
            "name": "Password",
            "x-ms-summary": "Password",
            "type": "string"
          },
          {
            "description": "Store converted file on our secure server and provides download URL.",
            "in": "formData",
            "name": "StoreFile",
            "x-ms-summary": "Store File",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "properties": {
                "ConversionCost": {
                  "example": "<integer>",
                  "type": "integer"
                },
                "Files": {
                  "example": [
                    {
                      "FileData": "<string>",
                      "FileExt": "<string>",
                      "FileId": "<string>",
                      "FileName": "<string>",
                      "FileSize": "<integer>",
                      "Url": "<string>"
                    }
                  ],
                  "items": {
                    "properties": {
                      "FileData": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileExt": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileId": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileName": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileSize": {
                        "example": "<integer>",
                        "type": "integer"
                      },
                      "Url": {
                        "example": "<string>",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Malformed request",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Authentication error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "415": {
            "description": "File type error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "500": {
            "description": "Conversion failure",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "503": {
            "description": "Conversion rate limit error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "convert",
          "pdf",
          "to",
          "flatten"
        ],
        "summary": "Flatten PDF",
        "x-ms-summary": "Flatten PDF",
        "description": "Flatten a PDF to make form fields, annotations, and text layers static. Optionally convert editable text to vector paths to protect content from selection or copying.",
        "operationId": "convertPdfToFlatten"
      }
    },
    "/convert/pdf/to/jpg": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "(Required) File to be converted.",
            "in": "formData",
            "name": "File",
            "x-ms-summary": "File",
            "type": "file",
            "required": true
          },
          {
            "in": "formData",
            "name": "FileName",
            "x-ms-summary": "File Name",
            "type": "string",
            "description": "The FileName property defines the name of the output file(s) generated by the file conversion API, ensuring safe and unique file naming. It sanitizes input filenames to remove potentially harmful characters, automatically appends the correct file extension based on the target format, and includes an indexing feature to distinguish multiple output files from a single input. For example, converting report.docx to PDF format might result in report.pdf for a single file, or report_0.pdf, report_1.pdf for multiple files, ensuring each output file is uniquely identifiable."
          },
          {
            "description": "Set image color space., * `rgb` - RGB, * `cmyk` - CMYK, * `gray` - Gray (This can only be one of rgb,cmyk,gray)",
            "in": "formData",
            "name": "ColorSpace",
            "x-ms-summary": "Color Space",
            "type": "string",
            "enum": [
              "rgb",
              "cmyk",
              "gray"
            ],
            "default": "rgb"
          },
          {
            "description": "Defines the options for cropping the page., * `BoundingBox` - Bounding Box, * `TrimBox` - Trim Box, * `MediaBox` - Media Box, * `ArtBox` - Art Box, * `BleedBox` - Bleed Box",
            "in": "formData",
            "name": "CropTo",
            "x-ms-summary": "Crop To",
            "type": "string",
            "enum": [
              "BoundingBox",
              "TrimBox",
              "MediaBox",
              "ArtBox",
              "BleedBox"
            ],
            "default": "BoundingBox"
          },
          {
            "description": "Image height in pixels.",
            "in": "formData",
            "name": "ImageHeight",
            "x-ms-summary": "Image Height",
            "type": "integer",
            "minimum": 10,
            "maximum": 10000
          },
          {
            "description": "Set output image quality.",
            "in": "formData",
            "name": "ImageQuality",
            "x-ms-summary": "Image Quality",
            "type": "integer",
            "minimum": 10,
            "maximum": 100,
            "default": 75
          },
          {
            "description": "Set output image resolution in dpi.",
            "in": "formData",
            "name": "ImageResolution",
            "x-ms-summary": "Image Resolution",
            "type": "integer",
            "default": 200,
            "minimum": 10,
            "maximum": 800
          },
          {
            "description": "Image width in pixels.",
            "in": "formData",
            "name": "ImageWidth",
            "x-ms-summary": "Image Width",
            "type": "integer",
            "minimum": 10,
            "maximum": 10000
          },
          {
            "description": "Set PDF page range to convert. Example 1-10 or 1,2,5.",
            "in": "formData",
            "name": "PageRange",
            "x-ms-summary": "Page Range",
            "type": "string"
          },
          {
            "description": "Sets the password to open protected PDF.",
            "in": "formData",
            "name": "Password",
            "x-ms-summary": "Password",
            "type": "string"
          },
          {
            "description": "Set PDF page rotation before converting to image., * `default` - Default, * `none` - None, * `rotate90` - Rotate 90, * `rotate180` - Rotate 180, * `rotate270` - Rotate 270",
            "in": "formData",
            "name": "Rotate",
            "x-ms-summary": "Rotate",
            "type": "string",
            "enum": [
              "default",
              "none",
              "rotate90",
              "rotate180",
              "rotate270"
            ],
            "default": "default"
          },
          {
            "description": "Store converted file on our secure server and provides download URL.",
            "in": "formData",
            "name": "StoreFile",
            "x-ms-summary": "Store File",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "properties": {
                "ConversionCost": {
                  "example": "<integer>",
                  "type": "integer"
                },
                "Files": {
                  "example": [
                    {
                      "FileData": "<string>",
                      "FileExt": "<string>",
                      "FileId": "<string>",
                      "FileName": "<string>",
                      "FileSize": "<integer>",
                      "Url": "<string>"
                    },
                    {
                      "FileData": "<string>",
                      "FileExt": "<string>",
                      "FileId": "<string>",
                      "FileName": "<string>",
                      "FileSize": "<integer>",
                      "Url": "<string>"
                    }
                  ],
                  "items": {
                    "properties": {
                      "FileData": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileExt": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileId": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileName": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileSize": {
                        "example": "<integer>",
                        "type": "integer"
                      },
                      "Url": {
                        "example": "<string>",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Malformed request",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Authentication error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "415": {
            "description": "File type error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "500": {
            "description": "Conversion failure",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "503": {
            "description": "Conversion rate limit error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "convert",
          "pdf",
          "to",
          "jpg"
        ],
        "summary": "Convert PDF to JPG",
        "x-ms-summary": "Convert PDF to JPG",
        "description": "Render each page of a PDF as a JPG image. Control resolution, color space (RGB, CMYK, Gray), image width/height, and page rotation if needed.",
        "operationId": "convertPdfToJpg"
      }
    },
    "/convert/pdf/to/merge": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Files[0]",
            "x-ms-summary": "First file",
            "in": "formData",
            "description": "First file to be merged",
            "required": true,
            "type": "file"
          },
          {
            "name": "Files[1]",
            "x-ms-summary": "Second file",
            "in": "formData",
            "description": "Second file to be merged",
            "required": true,
            "type": "file"
          },
          {
            "name": "Files[2]",
            "x-ms-summary": "Third file",
            "in": "formData",
            "description": "Third file to be merged",
            "required": false,
            "type": "file"
          },
          {
            "name": "Files[3]",
            "x-ms-summary": "Fourth file",
            "in": "formData",
            "description": "Fourth file to be merged",
            "required": false,
            "type": "file"
          },
          {
            "name": "Files[4]",
            "x-ms-summary": "Fifth file",
            "in": "formData",
            "description": "Fifth file to be merged",
            "required": false,
            "type": "file"
          },
          {
            "description": "Adds a top-level bookmark for each file, using the filename or PDF title from metadata., * `disabled` - Disabled, * `filename` - File Name, * `title` - Title (This can only be one of disabled,filename,title)",
            "in": "formData",
            "name": "BookmarksToc",
            "x-ms-summary": "Bookmarks TOC",
            "type": "string",
            "enum": [
              "disabled",
              "filename",
              "title"
            ],
            "default": "disabled"
          },
          {
            "in": "formData",
            "name": "FileName",
            "x-ms-summary": "File Name",
            "type": "string",
            "description": "Set the output file name (optional)"
          },
          {
            "description": "Set the page number at which the PDF document should open.",
            "in": "formData",
            "name": "OpenPage",
            "x-ms-summary": "Open Page",
            "type": "integer",
            "minimum": 1,
            "maximum": 3000,
            "default": 1
          },
          {
            "description": "Set page orientation., * `default` - Default, * `portrait` - Portrait, * `landscape` - Landscape (This can only be one of default,portrait,landscape)",
            "in": "formData",
            "name": "PageOrientation",
            "x-ms-summary": "Page Orientation",
            "type": "string",
            "enum": [
              "default",
              "portrait",
              "landscape"
            ],
            "default": "default"
          },
          {
            "description": "The property scales each page to fit a given page size., * `default` - Default, * `a2` - A2, * `a3` - A3, * `a4` - A4, * `a5` - A5, * `a6` - A6, * `letter` - Letter, * `legal` - Legal",
            "in": "formData",
            "name": "PageSize",
            "x-ms-summary": "Page Size",
            "type": "string",
            "enum": [
              "default",
              "a2",
              "a3",
              "a4",
              "a5",
              "a6",
              "letter",
              "legal"
            ],
            "default": "default"
          },
          {
            "description": "Sets the password to open protected PDF.",
            "in": "formData",
            "name": "Password",
            "x-ms-summary": "Password",
            "type": "string"
          },
          {
            "description": "Do not include the same fonts from source PDFs while merging.",
            "in": "formData",
            "name": "RemoveDuplicateFonts",
            "x-ms-summary": "Remove Duplicate Fonts",
            "type": "boolean",
            "default": false
          },
          {
            "description": "Store converted file on our secure server and provides download URL.",
            "in": "formData",
            "name": "StoreFile",
            "x-ms-summary": "Store File",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "properties": {
                "ConversionCost": {
                  "example": "<integer>",
                  "type": "integer"
                },
                "Files": {
                  "example": [
                    {
                      "FileData": "<string>",
                      "FileExt": "<string>",
                      "FileId": "<string>",
                      "FileName": "<string>",
                      "FileSize": "<integer>",
                      "Url": "<string>"
                    }
                  ],
                  "items": {
                    "properties": {
                      "FileData": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileExt": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileId": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileName": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileSize": {
                        "example": "<integer>",
                        "type": "integer"
                      },
                      "Url": {
                        "example": "<string>",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Malformed request",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Authentication error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "415": {
            "description": "File type error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "500": {
            "description": "Conversion failure",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "503": {
            "description": "Conversion rate limit error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "convert",
          "pdf",
          "to",
          "merge"
        ],
        "summary": "Merge multiple PDFs",
        "x-ms-summary": "Merge multiple PDFs",
        "description": "Combine multiple PDF files into a single PDF. Configure page size, orientation, bookmarks, and more. Supports up to five input files in this definition (Files[0]–Files[4]).",
        "operationId": "convertPdfToMerge"
      }
    },
    "/convert/pdf/to/ocr": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "(Required) File to which you want to add a textual layer.",
            "in": "formData",
            "name": "File",
            "x-ms-summary": "File",
            "type": "file",
            "required": true
          },
          {
            "in": "formData",
            "name": "FileName",
            "x-ms-summary": "File Name",
            "type": "string",
            "description": "Set the output file name (optional)"
          },
          {
            "description": "Set the OCR language. Ask support to add your language if missing., * `ca` - Catalan, * `da` - Danish, * `nl` - Dutch, * `fa` - French, * `de` - German, * `es` - Spanish, * `en` - English, * `he` - Hebrew, * `pl` - Polish, * `pt` - Portuguese, * `ru` - Russian, * `sv` - Swedish, * `tr` - Turkish, * `lt` - Lithuanian (This can only be one of ca,da,nl,fa,de,es,en,he,pl,pt,ru,sv,tr,lt)",
            "in": "formData",
            "name": "OcrLanguage",
            "x-ms-summary": "OCR Language",
            "type": "string",
            "enum": [
              "en",
              "ca",
              "da",
              "nl",
              "fa",
              "de",
              "es",
              "he",
              "pl",
              "pt",
              "ru",
              "sv",
              "tr",
              "lt"
            ],
            "default": "en"
          },
          {
            "description": "This property is used to determine how the OCR layer should be returned. If the output type is PDF, the OCR layer will be embedded into the PDF file. Alternatively, if a text output is selected, the OCR layer will be returned as a text file., * `pdf` - PDF file, * `txt` - Text file (This can only be one of pdf,txt)",
            "in": "formData",
            "name": "OutputType",
            "x-ms-summary": "Output Type",
            "type": "string",
            "enum": [
              "pdf",
              "txt"
            ],
            "default": "pdf"
          },
          {
            "description": "Set page range. Example 1-10 or 1,2,5.",
            "in": "formData",
            "name": "PageRange",
            "x-ms-summary": "Page Range",
            "type": "string"
          },
          {
            "description": "Sets the password to open protected documents.",
            "in": "formData",
            "name": "Password",
            "x-ms-summary": "Password",
            "type": "string"
          },
          {
            "description": "Store converted file on our secure server and provides download URL.",
            "in": "formData",
            "name": "StoreFile",
            "x-ms-summary": "Store File",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "properties": {
                "ConversionCost": {
                  "example": "<integer>",
                  "type": "integer"
                },
                "Files": {
                  "example": [
                    {
                      "FileData": "<string>",
                      "FileExt": "<string>",
                      "FileId": "<string>",
                      "FileName": "<string>",
                      "FileSize": "<integer>",
                      "Url": "<string>"
                    }
                  ],
                  "items": {
                    "properties": {
                      "FileData": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileExt": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileId": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileName": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileSize": {
                        "example": "<integer>",
                        "type": "integer"
                      },
                      "Url": {
                        "example": "<string>",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Malformed request",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Authentication error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "415": {
            "description": "File type error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "500": {
            "description": "Conversion failure",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "503": {
            "description": "Conversion rate limit error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "convert",
          "pdf",
          "to",
          "ocr"
        ],
        "summary": "Add OCR layer to PDF",
        "x-ms-summary": "Add OCR layer to PDF",
        "description": "Add an OCR-based text layer to a scanned or image-based PDF. Specify languages, page ranges, and output type (PDF or TXT).",
        "operationId": "convertPdfToOcr"
      }
    },
    "/convert/pdf/to/pdfa": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "(Required) File to be converted.",
            "in": "formData",
            "name": "File",
            "x-ms-summary": "File",
            "type": "file",
            "required": true
          },
          {
            "in": "formData",
            "name": "FileName",
            "x-ms-summary": "File Name",
            "type": "string",
            "description": "Set the output file name (optional)"
          },
          {
            "description": "Provide a value to customize the PDF author. Otherwise, the default document author will be used. Use single quotes and a space (' ') to remove the author.",
            "in": "formData",
            "name": "PdfAuthor",
            "x-ms-summary": "PDF Author",
            "type": "string"
          },
          {
            "description": "Provide a value to customize the PDF keywords. Otherwise, the default document keywords will be used. Use single quotes and a space (' ') to remove the keywords.",
            "in": "formData",
            "name": "PdfKeywords",
            "x-ms-summary": "PDF keywords",
            "type": "string"
          },
          {
            "description": "Provide a value to customize the PDF subject. Otherwise, the default document subject will be used. Use single quotes and a space (' ') to remove the subject.",
            "in": "formData",
            "name": "PdfSubject",
            "x-ms-summary": "PDF subject",
            "type": "string"
          },
          {
            "description": "Provide a value to customize the PDF title. Otherwise, the default document title will be used. Use single quotes and a space (' ') to remove the title.",
            "in": "formData",
            "name": "PdfTitle",
            "x-ms-summary": "PDF title",
            "type": "string"
          },
          {
            "description": "Set PDF/A output intent. These are supported sRGB, Japan Color 2001 Coated (JC200103), Europe ISO Coated (FOGRA27), U.S. Web Coated (SWOP), Gray Gamma 2.2 (GRAY)., * `srgb` - sRGB, * `jc200103` - Japan Color 2001 Coated, * `fogra27` - Europe ISO Coated, * `swop` - U.S. Web Coated, * `gray` - Gray Gamma 2.2 (This can only be one of srgb,jc200103,fogra27,swop,gray)",
            "in": "formData",
            "name": "PdfaOutputIntent",
            "x-ms-summary": "PDF/A output intent",
            "type": "string",
            "enum": [
              "srgb",
              "jc200103",
              "fogra27",
              "swop",
              "gray"
            ],
            "default": "srgb"
          },
          {
            "description": "Set PDF/A version., * `pdfa` - PDF/A-1b, * `pdfa2` - PDF/A-2b, * `pdfa2u` - PDF/A-2u, * `pdfa3` - PDF/A-3b, * `pdfa3u` - PDF/A-3u (This can only be one of pdfa,pdfa2,pdfa2u,pdfa3,pdfa3u)",
            "in": "formData",
            "name": "PdfaVersion",
            "x-ms-summary": "PDF/A version",
            "type": "string",
            "enum": [
              "pdfa",
              "pdfa2",
              "pdfa2u",
              "pdfa3",
              "pdfa3u"
            ],
            "default": "pdfa2"
          },
          {
            "description": "Store converted file on our secure server and provides download URL.",
            "in": "formData",
            "name": "StoreFile",
            "x-ms-summary": "Store File",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "properties": {
                "ConversionCost": {
                  "example": "<integer>",
                  "type": "integer"
                },
                "Files": {
                  "example": [
                    {
                      "FileData": "<string>",
                      "FileExt": "<string>",
                      "FileId": "<string>",
                      "FileName": "<string>",
                      "FileSize": "<integer>",
                      "Url": "<string>"
                    }
                  ],
                  "items": {
                    "properties": {
                      "FileData": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileExt": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileId": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileName": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileSize": {
                        "example": "<integer>",
                        "type": "integer"
                      },
                      "Url": {
                        "example": "<string>",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Malformed request",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Authentication error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "415": {
            "description": "File type error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "500": {
            "description": "Conversion failure",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "503": {
            "description": "Conversion rate limit error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "convert",
          "pdf",
          "to",
          "pdfa"
        ],
        "summary": "Convert PDF to PDFA",
        "x-ms-summary": "Convert PDF to PDFA",
        "description": "Convert PDF to an archival PDF/A format (e.g., PDF/A-1b, PDF/A-2u). Adjust metadata, title, author, keywords, and output intent.",
        "operationId": "convertPdfToPdfa"
      }
    },
    "/convert/pdf/to/png": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "(Required) File to be converted.",
            "in": "formData",
            "name": "File",
            "x-ms-summary": "File",
            "type": "file",
            "required": true
          },
          {
            "in": "formData",
            "name": "BackgroundColor",
            "x-ms-summary": "Background Color",
            "type": "string",
            "description": "Applies a color to the transparent PDF background, thereby setting the background color of the generated images. You can specify a color name (e.g. white or black), or use color codes such as RGB (e.g. 255,0,0) or HEX (e.g."
          },
          {
            "description": "Defines the options for cropping the page., * `BoundingBox` - Bounding Box, * `TrimBox` - Trim Box, * `MediaBox` - Media Box, * `ArtBox` - Art Box, * `BleedBox` - Bleed Box",
            "in": "formData",
            "name": "CropTo",
            "x-ms-summary": "Crop To",
            "type": "string",
            "enum": [
              "BoundingBox",
              "TrimBox",
              "MediaBox",
              "ArtBox",
              "BleedBox"
            ],
            "default": "BoundingBox"
          },
          {
            "in": "formData",
            "name": "FileName",
            "x-ms-summary": "File Name",
            "type": "string",
            "description": "Set the output file name (optional)"
          },
          {
            "description": "Image height in pixels.",
            "in": "formData",
            "name": "ImageHeight",
            "x-ms-summary": "Image Height",
            "type": "integer",
            "minimum": 10,
            "maximum": 10000
          },
          {
            "description": "Set output image resolution in dpi.",
            "in": "formData",
            "name": "ImageResolution",
            "x-ms-summary": "Image Resolution",
            "type": "integer",
            "minimum": 10,
            "maximum": 800,
            "default": 200
          },
          {
            "description": "Image width in pixels.",
            "in": "formData",
            "name": "ImageWidth",
            "x-ms-summary": "Image Width",
            "type": "integer",
            "minimum": 10,
            "maximum": 10000
          },
          {
            "description": "Set PDF page range to convert. Example 1-10 or 1,2,5.",
            "in": "formData",
            "name": "PageRange",
            "x-ms-summary": "Page Range",
            "type": "string"
          },
          {
            "description": "Sets the password to open protected PDF.",
            "in": "formData",
            "name": "Password",
            "x-ms-summary": "Password",
            "type": "string"
          },
          {
            "description": "Set PDF page rotation before converting to image., * `default` - Default, * `none` - None, * `rotate90` - Rotate 90, * `rotate180` - Rotate 180, * `rotate270` - Rotate 270",
            "in": "formData",
            "name": "Rotate",
            "x-ms-summary": "PDF page rotation",
            "type": "string",
            "enum": [
              "default",
              "none",
              "rotate90",
              "rotate180",
              "rotate270"
            ],
            "default": "default"
          },
          {
            "description": "Store converted file on our secure server and provides download URL.",
            "in": "formData",
            "name": "StoreFile",
            "x-ms-summary": "Store File",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "properties": {
                "ConversionCost": {
                  "example": "<integer>",
                  "type": "integer"
                },
                "Files": {
                  "example": [
                    {
                      "FileData": "<string>",
                      "FileExt": "<string>",
                      "FileId": "<string>",
                      "FileName": "<string>",
                      "FileSize": "<integer>",
                      "Url": "<string>"
                    },
                    {
                      "FileData": "<string>",
                      "FileExt": "<string>",
                      "FileId": "<string>",
                      "FileName": "<string>",
                      "FileSize": "<integer>",
                      "Url": "<string>"
                    }
                  ],
                  "items": {
                    "properties": {
                      "FileData": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileExt": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileId": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileName": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileSize": {
                        "example": "<integer>",
                        "type": "integer"
                      },
                      "Url": {
                        "example": "<string>",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Malformed request",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Authentication error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "415": {
            "description": "File type error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "500": {
            "description": "Conversion failure",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "503": {
            "description": "Conversion rate limit error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "convert",
          "pdf",
          "to",
          "png"
        ],
        "summary": "Convert PDF to PNG",
        "x-ms-summary": "Convert PDF to PNG",
        "description": "Render PDF pages to PNG images. Control crop boxes, resolution, page ranges, and password protection.",
        "operationId": "convertPdfToPng"
      }
    },
    "/convert/pdf/to/pptx": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "(Required) File to be converted.",
            "in": "formData",
            "name": "File",
            "x-ms-summary": "File",
            "type": "file",
            "required": true
          },
          {
            "description": "Enable optical character recognition(OCR).",
            "in": "formData",
            "name": "EnableOcr",
            "x-ms-summary": "Enable OCR",
            "type": "boolean",
            "default": true
          },
          {
            "in": "formData",
            "name": "FileName",
            "x-ms-summary": "File Name",
            "type": "string",
            "description": "Set the output file name (optional)"
          },
          {
            "description": "Configure the OCR language for text recognition. If auto-detection fails, manually specify the language., * `automatic` - Automatic, * `ar` - Arabic, * `ca` - Catalan, * `zh` - Chinese, * `da` - Danish, * `nl` - Dutch, * `en` - English, * `fi` - Finnish, * `fr` - French, * `de` - German, * `gr` - Greek, * `ko` - Korean, * `it` - Italian, * `ja` - Japanese, * `no` - Norwegian, * `pl` - Polish, * `pt` - Portuguese, * `ro` - Romanian, * `ru` - Russian, * `sl` - Slovenian, * `es` - Spanish, * `sv` - Swedish, * `tr` - Turkish, * `th` - Thai (This can only be one of automatic,ar,ca,zh,da,nl,en,fi,fr,de,gr,ko,it,ja,no,pl,pt,ro,ru,sl,es,sv,tr,th)",
            "in": "formData",
            "name": "OcrLanguage",
            "x-ms-summary": "OCR Language",
            "type": "string",
            "enum": [
              "automatic",
              "ar",
              "ca",
              "zh",
              "da",
              "nl",
              "en",
              "fi",
              "fr",
              "de",
              "gr",
              "ko",
              "it",
              "ja",
              "no",
              "pl",
              "pt",
              "ro",
              "ru",
              "sl",
              "es",
              "sv",
              "tr",
              "th"
            ],
            "default": "automatic"
          },
          {
            "description": "Set page range. Example 1-10 or 1,2,5.",
            "in": "formData",
            "name": "PageRange",
            "x-ms-summary": "Page Range",
            "type": "string"
          },
          {
            "description": "Sets the password to open protected documents.",
            "in": "formData",
            "name": "Password",
            "x-ms-summary": "Password",
            "type": "string"
          },
          {
            "description": "Store converted file on our secure server and provides download URL.",
            "in": "formData",
            "name": "StoreFile",
            "x-ms-summary": "Store File",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "properties": {
                "ConversionCost": {
                  "example": "<integer>",
                  "type": "integer"
                },
                "Files": {
                  "example": [
                    {
                      "FileData": "<string>",
                      "FileExt": "<string>",
                      "FileId": "<string>",
                      "FileName": "<string>",
                      "FileSize": "<integer>",
                      "Url": "<string>"
                    }
                  ],
                  "items": {
                    "properties": {
                      "FileData": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileExt": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileId": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileName": {
                        "example": "<string>",
                        "type": "string"
                      },
                      "FileSize": {
                        "example": "<integer>",
                        "type": "integer"
                      },
                      "Url": {
                        "example": "<string>",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Malformed request",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Authentication error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "415": {
            "description": "File type error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "500": {
            "description": "Conversion failure",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "503": {
            "description": "Conversion rate limit error",
            "schema": {
              "properties": {
                "Code": {
                  "example": "<integer>",
                  "type": "string"
                },
                "Message": {
                  "example": "<string>",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "convert",
          "pdf",
          "to",
          "pptx"
        ],
        "summary": "Convert PDF to PPTX",
        "x-ms-summary": "Convert PDF to PPTX",
        "description": "Transform PDF pages into PowerPoint slides. Apply OCR to scanned PDFs, define page ranges, and handle password protection.",
        "operationId": "convertPdfToPptx"
      }
    },
    "/convert/pdf/to/protect": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "(Required) File to be protected.",
            "in": "formData",
            "name": "File",
            "x-ms-summary": "File",
            "type": "file",
            "required": true
          },
          {
            "description": "Enable or disable all permissions. The specific permissions listed below overrides this property.",
            "in": "formData",
            "name": "AllowEverything",
            "x-ms-summary": "Allow Everything",
            "type": "boolean",
            "default": false
          },
          {
            "description": "Enable or disable assembly of the document - insert, rotate, or delete pages and create bookmarks or thumbnail images.",
            "in": "formData",
            "name": "AssembleDocument",
            "x-ms-summary": "Assemble Document",
            "type": "boolean",
            "default": false
          },
          {
            "description": "Enable or disable copy or extract text and graphics from the document.",
            "in": "formData",
            "name": "CopyContents",
            "x-ms-summary": "Copy Contents",
            "type": "boolean",
            "default": false
          },
          {
            "description": "Encrypt metadata of PDF file.",
            "in": "formData",
            "name": "EncryptMeta",
            "x-ms-summary": "Encrypt Meta",
            "type": "boolean",
            "default": false
          },
          {
            "description": "Sets the encryption algorithm., * `Standard40Bit` - 40-bit RC4 algorithm. Acrobat 3 (PDF 1.1) and above, * `Standard128Bit` - 128-bit RC4 algorithm. Acrobat 5 (PDF 1.4) and above, * `Aes128Bit` - 128-bit AES algorithm. Acrobat 7 (PDF 1.6) and above, * `Aes256Bit` - 256-bit AES algorithm. PDF 2.0",
            "in": "formData",
            "name": "EncryptionAlgorithm",
            "x-ms-summary": "Encryption Algorithm",
            "type": "string",
            "enum": [
              "Standard40Bit",
              "Standard128Bit",
              "Aes128Bit",
              "Aes256Bit"
            ],
            "default": "Aes256Bit"
          },
          {
            "description": "Enable or disable extract text and graphics.",
            "in": "formData",
            "name": "ExtractContents",
            "x-ms-summary": "Extract Contents",
            "type": "boolean",
            "default": false
          },
          {
            "in": "formData",
            "name": "FileName",
            "x-ms-summary": "File Name",
            "type": "string",
            "description": "Set the output file name (optional)"
          },
          {
            "description": "Enable or disable fill-in existing interactive form fields, including signature fields.",
            "in": "formData",
            "name": "FillFormFields",
            "x-ms-summary": "Fill Form Fields",
            "type": "boolean",
            "default": false
          },
          {
            "description": "Enable or disable adding or modifying text annotations and fill in interactive form fields.",
            "in": "formData",
            "name": "ModifyAnnotations",
            "x-ms-summary": "Modify Annotations",
[...]
