{
  "swagger": "2.0",
  "info": {
    "title": "Zoom Meetings",
    "description": "This Connector will help to automate Zoom Meeting Operations",
    "version": "1.0"
  },
  "host": "api.zoom.us",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v2/users/me/meetings": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "page_size": {
                  "type": "integer",
                  "format": "int32",
                  "description": "page_size"
                },
                "total_records": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total_records"
                },
                "next_page_token": {
                  "type": "string",
                  "description": "next_page_token"
                },
                "meetings": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uuid": {
                        "type": "string",
                        "description": "uuid"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "host_id": {
                        "type": "string",
                        "description": "host_id"
                      },
                      "topic": {
                        "type": "string",
                        "description": "topic"
                      },
                      "type": {
                        "type": "integer",
                        "format": "int32",
                        "description": "type"
                      },
                      "start_time": {
                        "type": "string",
                        "description": "start_time"
                      },
                      "duration": {
                        "type": "integer",
                        "format": "int32",
                        "description": "duration"
                      },
                      "timezone": {
                        "type": "string",
                        "description": "timezone"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "created_at"
                      },
                      "join_url": {
                        "type": "string",
                        "description": "join_url"
                      }
                    }
                  },
                  "description": "meetings"
                }
              }
            }
          }
        },
        "summary": "Get Meetings",
        "description": "Gives the Upcoming Meetings",
        "operationId": "GetMetings",
        "parameters": []
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create Meeting",
        "description": "For Creating Meetings",
        "operationId": "CreateMeeting",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "topic": {
                  "type": "string",
                  "description": "topic"
                },
                "type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "type"
                },
                "start_time": {
                  "type": "string",
                  "description": "start_time"
                },
                "duration": {
                  "type": "string",
                  "description": "duration"
                },
                "settings": {
                  "type": "object",
                  "properties": {
                    "host_video": {
                      "type": "boolean",
                      "description": "host_video"
                    },
                    "participant_video": {
                      "type": "boolean",
                      "description": "participant_video"
                    },
                    "join_before_host": {
                      "type": "boolean",
                      "description": "join_before_host"
                    },
                    "mute_upon_entry": {
                      "type": "string",
                      "description": "mute_upon_entry"
                    },
                    "watermark": {
                      "type": "string",
                      "description": "watermark"
                    },
                    "audio": {
                      "type": "string",
                      "description": "audio"
                    },
                    "auto_recording": {
                      "type": "string",
                      "description": "auto_recording"
                    }
                  },
                  "description": "settings"
                }
              }
            }
          }
        ]
      }
    },
    "/v2/meetings/84149771828": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "description": "uuid"
                },
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "host_id": {
                  "type": "string",
                  "description": "host_id"
                },
                "host_email": {
                  "type": "string",
                  "description": "host_email"
                },
                "assistant_id": {
                  "type": "string",
                  "description": "assistant_id"
                },
                "topic": {
                  "type": "string",
                  "description": "topic"
                },
                "type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "type"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "start_time": {
                  "type": "string",
                  "description": "start_time"
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "duration"
                },
                "timezone": {
                  "type": "string",
                  "description": "timezone"
                },
                "agenda": {
                  "type": "string",
                  "description": "agenda"
                },
                "created_at": {
                  "type": "string",
                  "description": "created_at"
                },
                "start_url": {
                  "type": "string",
                  "description": "start_url"
                },
                "join_url": {
                  "type": "string",
                  "description": "join_url"
                },
                "password": {
                  "type": "string",
                  "description": "password"
                },
                "h323_password": {
                  "type": "string",
                  "description": "h323_password"
                },
                "pstn_password": {
                  "type": "string",
                  "description": "pstn_password"
                },
                "encrypted_password": {
                  "type": "string",
                  "description": "encrypted_password"
                },
                "settings": {
                  "type": "object",
                  "properties": {
                    "host_video": {
                      "type": "boolean",
                      "description": "host_video"
                    },
                    "participant_video": {
                      "type": "boolean",
                      "description": "participant_video"
                    },
                    "cn_meeting": {
                      "type": "boolean",
                      "description": "cn_meeting"
                    },
                    "in_meeting": {
                      "type": "boolean",
                      "description": "in_meeting"
                    },
                    "join_before_host": {
                      "type": "boolean",
                      "description": "join_before_host"
                    },
                    "jbh_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "jbh_time"
                    },
                    "mute_upon_entry": {
                      "type": "boolean",
                      "description": "mute_upon_entry"
                    },
                    "watermark": {
                      "type": "boolean",
                      "description": "watermark"
                    },
                    "use_pmi": {
                      "type": "boolean",
                      "description": "use_pmi"
                    },
                    "approval_type": {
                      "type": "integer",
                      "format": "int32",
                      "description": "approval_type"
                    },
                    "audio": {
                      "type": "string",
                      "description": "audio"
                    },
                    "auto_recording": {
                      "type": "string",
                      "description": "auto_recording"
                    },
                    "enforce_login": {
                      "type": "boolean",
                      "description": "enforce_login"
                    },
                    "enforce_login_domains": {
                      "type": "string",
                      "description": "enforce_login_domains"
                    },
                    "alternative_hosts": {
                      "type": "string",
                      "description": "alternative_hosts"
                    },
                    "close_registration": {
                      "type": "boolean",
                      "description": "close_registration"
                    },
                    "show_share_button": {
                      "type": "boolean",
                      "description": "show_share_button"
                    },
                    "allow_multiple_devices": {
                      "type": "boolean",
                      "description": "allow_multiple_devices"
                    },
                    "registrants_confirmation_email": {
                      "type": "boolean",
                      "description": "registrants_confirmation_email"
                    },
                    "waiting_room": {
                      "type": "boolean",
                      "description": "waiting_room"
                    },
                    "request_permission_to_unmute_participants": {
                      "type": "boolean",
                      "description": "request_permission_to_unmute_participants"
                    },
                    "registrants_email_notification": {
                      "type": "boolean",
                      "description": "registrants_email_notification"
                    },
                    "meeting_authentication": {
                      "type": "boolean",
                      "description": "meeting_authentication"
                    },
                    "encryption_type": {
                      "type": "string",
                      "description": "encryption_type"
                    },
                    "approved_or_denied_countries_or_regions": {
                      "type": "object",
                      "properties": {
                        "enable": {
                          "type": "boolean",
                          "description": "enable"
                        }
                      },
                      "description": "approved_or_denied_countries_or_regions"
                    },
                    "breakout_room": {
                      "type": "object",
                      "properties": {
                        "enable": {
                          "type": "boolean",
                          "description": "enable"
                        }
                      },
                      "description": "breakout_room"
                    },
                    "alternative_hosts_email_notification": {
                      "type": "boolean",
                      "description": "alternative_hosts_email_notification"
                    },
                    "device_testing": {
                      "type": "boolean",
                      "description": "device_testing"
                    }
                  },
                  "description": "settings"
                },
                "pre_schedule": {
                  "type": "boolean",
                  "description": "pre_schedule"
                }
              }
            }
          }
        },
        "summary": "Meeting Details",
        "description": "For Selected Meeting you will get the Details",
        "operationId": "MeetingDetails",
        "parameters": []
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "undefined": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://zoom.us/oauth/authorize",
      "tokenUrl": "https://zoom.us/oauth/token",
      "scopes": {
        "meeting:read:admin meeting:read": "meeting:read:admin meeting:read"
      }
    }
  },
  "security": [
    {
      "undefined": [
        "meeting:read:admin meeting:read"
      ]
    }
  ],
  "tags": []
}
