{
  "swagger": "2.0",
  "info": {
    "title": "Zoom Meetings",
    "description": "This Connector will help to automate Zoom Meeting Operations",
    "version": "1.0",
    "contact": {
      "name": "Akuthota Deekshith",
      "url": "https://www.linkedin.com/in/akuthota-deekshith/",
      "email": "akuthotadeekshith28@gmail.com"
    }
  },
  "host": "api.zoom.us",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://zoom.us/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://zoom.us/privacy"
    },
    {
      "propertyName": "Categories",      
      "propertyValue": "Communication;Collaboration"
    }
  ],
  
  "consumes": [],
  "produces": [],
  "paths": {
    "/v2/users/me/meetings": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "page_size": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of records returned with a single API"
                },
                "total_records": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The Total number of all the records available across pages"
                },
                "next_page_token": {
                  "type": "string",
                  "description": "The next page token is used to paginate through large result sets"
                },
                "meetings": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uuid": {
                        "type": "string",
                        "description": "uuid"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "host_id": {
                        "type": "string",
                        "description": "ID of the user who set as the host of the meeting"
                      },
                      "topic": {
                        "type": "string",
                        "description": "topic"
                      },
                      "type": {
                        "type": "integer",
                        "format": "int32",
                        "description": "type"
                      },
                      "start_time": {
                        "type": "string",
                        "description": "Meeting start time"
                      },
                      "duration": {
                        "type": "integer",
                        "format": "int32",
                        "description": "duration"
                      },
                      "timezone": {
                        "type": "string",
                        "description": "timezone"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "Time of Creation"
                      },
                      "join_url": {
                        "type": "string",
                        "description": "URL using which participants can join a meeting"
                      }
                    }
                  },
                  "description": "meetings"
                }
              }
            }
          }
        },
        "summary": "Get Meetings",
        "description": "Gives the Upcoming Meetings",
        "operationId": "GetMeetings",
        "parameters": []
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "page_size": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of records returned with a single API"
                },
                "total_records": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The Total number of all the records available across pages"
                },
                "next_page_token": {
                  "type": "string",
                  "description": "The next page token is used to paginate through large result sets"
                },
                "meetings": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uuid": {
                        "type": "string",
                        "description": "uuid"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "host_id": {
                        "type": "string",
                        "description": "ID of the user who set as the host of the meeting"
                      },
                      "topic": {
                        "type": "string",
                        "description": "topic"
                      },
                      "start_time": {
                        "type": "string",
                        "description": "Meeting start time"
                      },
                      "duration": {
                        "type": "integer",
                        "format": "int32",
                        "description": "duration"
                      },
                      "timezone": {
                        "type": "string",
                        "description": "timezone"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "Time of Creation"
                      },
                      "join_url": {
                        "type": "string",
                        "description": "URL using which participants can join a meeting"
                      }
                    }
                  },
                  "description": "meetings"
                }
              }
            }
          }
        },
        "summary": "Create Meeting",
        "description": "For Creating Meetings",
        "operationId": "CreateMeeting",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "topic": {
                  "type": "string",
                  "description": "topic"
                },
                "type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "type"
                },
                "start_time": {
                  "type": "string",
                  "description": "The meeting's start time"
                },
                "duration": {
                  "type": "string",
                  "description": "duration"
                },
                "settings": {
                  "type": "object",
                  "properties": {
                    "host_video": {
                      "type": "boolean",
                      "description": "Whether to start meetings with the host video on",
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "participant_video": {
                      "type": "boolean",
                      "description": "Whether to start meetings with the participant video on",
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "join_before_host": {
                      "type": "boolean",
                      "description": "Whether participants can join the meeting before its host",
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "mute_upon_entry": {
                      "type": "string",
                      "description": "Whether to mute participants upon entry"
                    },
                    "watermark": {
                      "type": "string",
                      "description": "watermark"
                    },
                    "audio": {
                      "type": "string",
                      "description": "audio"
                    },
                    "auto_recording": {
                      "type": "string",
                      "description": "The automatic recording settings local cloud none"
                    }
                  },
                  "description": "settings"
                }
              }
            }
          }
        ]
      }
    },
    
    "/v2/meetings/{meetingid}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "description": "Unique Meeting Id for each meeting instance will generate its own Meeting UUID."
                },
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Meeting ID is also known as the meeting number in long format"
                },
                "host_id": {
                  "type": "string",
                  "description": "ID of the user who is set as host of meeting"
                },
                "host_email": {
                  "type": "string",
                  "description": "Email address of the meeting host"
                },
                "assistant_id": {
                  "type": "string",
                  "description": "Unique identifier of the scheduler who scheduled this meeting on behalf of the host"
                },
                "topic": {
                  "type": "string",
                  "description": "topic"
                },
                "type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "type"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "start_time": {
                  "type": "string",
                  "description": "Meeting start time in GMT/UTC"
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "duration"
                },
                "timezone": {
                  "type": "string",
                  "description": "timezone"
                },
                "agenda": {
                  "type": "string",
                  "description": "agenda"
                },
                "created_at": {
                  "type": "string",
                  "description": "Time of creation"
                },
                "start_url": {
                  "type": "string",
                  "description": "Using which a host or an alternative host can start the Meeting"
                },
                "join_url": {
                  "type": "string",
                  "description": "URL using which participants can join a meeting"
                },
                "password": {
                  "type": "string",
                  "description": "password"
                },
                "h323_password": {
                  "type": "string",
                  "description": "room system passcode"
                },
                "pstn_password": {
                  "type": "string",
                  "description": "pstn password"
                },
                "encrypted_password": {
                  "type": "string",
                  "description": "Encrypted passcode for third party endpoints (H323/SIP)"
                },
                "settings": {
                  "type": "object",
                  "properties": {
                    "host_video": {
                      "type": "boolean",
                      "description": "Start video when the host joins the meeting"
                    },
                    "participant_video": {
                      "type": "boolean",
                      "description": "Whether to start meetings with the participant video on"
                    },
                    "cn_meeting": {
                      "type": "boolean",
                      "description": "Host meeting in China"
                    },
                    "in_meeting": {
                      "type": "boolean",
                      "description": "Host meeting in India"
                    },
                    "join_before_host": {
                      "type": "boolean",
                      "description": "Allow participants to join the meeting before the host starts the meeting"
                    },
                    "jbh_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Join Before Host with few options"
                    },
                    "mute_upon_entry": {
                      "type": "boolean",
                      "description": "Mute participants upon entry"
                    },
                    "watermark": {
                      "type": "boolean",
                      "description": "watermark"
                    },
                    "use_pmi": {
                      "type": "boolean",
                      "description": "Use a personal meeting ID. Only used for scheduled meetings and recurring meetings without fixed time"
                    },
                    "approval_type": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Enable registration and set approval for the registration"
                    },
                    "audio": {
                      "type": "string",
                      "description": "audio"
                    },
                    "auto_recording": {
                      "type": "string",
                      "description": "local cloud none three possibilities"
                    },
                    "enforce_login": {
                      "type": "boolean",
                      "description": "Only signed in users can join this meeting"
                    },
                    "enforce_login_domains": {
                      "type": "string",
                      "description": "Only signed in users with specified domains can join meetings"
                    },
                    "alternative_hosts": {
                      "type": "string",
                      "description": "Alternative host's emails or IDs multiple values are separated by a semicolon"
                    },
                    "close_registration": {
                      "type": "boolean",
                      "description": "Close registration after event date"
                    },
                    "show_share_button": {
                      "type": "boolean",
                      "description": "Show social share buttons on the meeting registration page"
                    },
                    "allow_multiple_devices": {
                      "type": "boolean",
                      "description": "Allow attendees to join the meeting from multiple devices"
                    },
                    "registrants_confirmation_email": {
                      "type": "boolean",
                      "description": "Whether to send registrants an email confirmation"
                    },
                    "waiting_room": {
                      "type": "boolean",
                      "description": "Enable waiting room"
                    },
                    "request_permission_to_unmute_participants": {
                      "type": "boolean",
                      "description": "Permission for participants to request for unmute"
                    },
                    "registrants_email_notification": {
                      "type": "boolean",
                      "description": "Whether to send registrants email notifications about their registration approval cancellation or rejection"
                    },
                    "meeting_authentication": {
                      "type": "boolean",
                      "description": "Only authenticated users can join meetings"
                    },
                    "encryption_type": {
                      "type": "string",
                      "description": "Choose between enhanced encryption and end-to-end encryption"
                    },
                    "approved_or_denied_countries_or_regions": {
                      "type": "object",
                      "properties": {
                        "enable": {
                          "type": "boolean",
                          "description": "enable"
                        }
                      },
                      "description": "Approve or block users from specific regions or countries from joining this meeting"
                    },
                    "breakout_room": {
                      "type": "object",
                      "properties": {
                        "enable": {
                          "type": "boolean",
                          "description": "enable"
                        }
                      },
                      "description": "Breakout room"
                    },
                    "alternative_hosts_email_notification": {
                      "type": "boolean",
                      "description": "Flag to determine whether to send email notifications to alternative hosts"
                    },
                    "device_testing": {
                      "type": "boolean",
                      "description": "Device Testing"
                    }
                  },
                  "description": "settings"
                },
                "pre_schedule": {
                  "type": "boolean",
                  "description": "whether to create a prescheduled meeting"
                }
              }
            }
          }
        },
        "summary": "Meeting Details",
        "description": "For Selected Meeting you will get the Details",
        "operationId": "MeetingDetails",
        "parameters": [
          {
            "name": "meetingid",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Zoom Meeting Id",
            "x-ms-url-encoding":"single",
            "description": "Meeting ID also known as the meeting number in long format"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://zoom.us/oauth/authorize",
      "tokenUrl": "https://zoom.us/oauth/token",
      "scopes": {
        "meeting:read:admin meeting:read": "meeting:read:admin meeting:read"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "meeting:read:admin meeting:read"
      ]
    }
  ],
  "tags": []
}
