{
  "swagger": "2.0",
  "info": {
    "title": "Zoom Meetings",
    "description": "This Connector will help to automate Zoom Meeting Operations",
    "version": "1.0"
  },
  "host": "api.zoom.us",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v2/users/me/meetings": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get Meetings",
        "description": "Gives the Upcoming Meetings",
        "operationId": "GetMetings",
        "parameters": []
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create Meeting",
        "description": "For Creating Meetings",
        "operationId": "CreateMeeting",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "topic": {
                  "type": "string",
                  "description": "topic"
                },
                "type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "type"
                },
                "start_time": {
                  "type": "string",
                  "description": "start_time"
                },
                "duration": {
                  "type": "string",
                  "description": "duration"
                },
                "settings": {
                  "type": "object",
                  "properties": {
                    "host_video": {
                      "type": "boolean",
                      "description": "host_video"
                    },
                    "participant_video": {
                      "type": "boolean",
                      "description": "participant_video"
                    },
                    "join_before_host": {
                      "type": "boolean",
                      "description": "join_before_host"
                    },
                    "mute_upon_entry": {
                      "type": "string",
                      "description": "mute_upon_entry"
                    },
                    "watermark": {
                      "type": "string",
                      "description": "watermark"
                    },
                    "audio": {
                      "type": "string",
                      "description": "audio"
                    },
                    "auto_recording": {
                      "type": "string",
                      "description": "auto_recording"
                    }
                  },
                  "description": "settings"
                }
              }
            }
          }
        ]
      }
    },
    "/v2/meetings/84149771828": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Meeting Details",
        "description": "For Selected Meeting you will get the Details",
        "operationId": "MeetingDetails",
        "parameters": []
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "undefined": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://zoom.us/oauth/authorize",
      "tokenUrl": "https://zoom.us/oauth/token",
      "scopes": {
        "meeting:read:admin meeting:read": "meeting:read:admin meeting:read"
      }
    }
  },
  "security": [
    {
      "undefined": [
        "meeting:read:admin meeting:read"
      ]
    }
  ],
  "tags": []
}