{
  "swagger": "2.0",
  "info": {
    "title": "Lexica",
    "description": "Lexica is the stable diffusion search engine. Generate photorealistic images with Lexica Aperture.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "lexica.art",
  "basePath": "/api/v1/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/search": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "images": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The image identifier.",
                        "title": "ID"
                      },
                      "gallery": {
                        "type": "string",
                        "description": "The query gallery.",
                        "title": "Gallery"
                      },
                      "src": {
                        "type": "string",
                        "description": "The image.",
                        "title": "Source"
                      },
                      "srcSmall": {
                        "type": "string",
                        "description": "The image small.",
                        "title": "Source Small"
                      },
                      "prompt": {
                        "type": "string",
                        "description": "The prompt.",
                        "title": "Prompt"
                      },
                      "width": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The image width.",
                        "title": "Width"
                      },
                      "height": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The image height.",
                        "title": "Height"
                      },
                      "seed": {
                        "type": "string",
                        "description": "The seed.",
                        "title": "Seed"
                      },
                      "grid": {
                        "type": "boolean",
                        "description": "Whether this image is a grid of multiple images.",
                        "title": "Grid"
                      },
                      "model": {
                        "type": "string",
                        "description": "The model used to generate this image.",
                        "title": "Model"
                      },
                      "guidance": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The guidance scale.",
                        "title": "Guidance"
                      },
                      "promptid": {
                        "type": "string",
                        "description": "The prompt identifier.",
                        "title": "Prompt ID"
                      },
                      "nsfw": {
                        "type": "boolean",
                        "description": "Whether NSFW.",
                        "title": "NSFW"
                      }
                    }
                  },
                  "title": "images"
                }
              }
            }
          }
        },
        "summary": "Search for a term",
        "description": "Retrieve a list of images generated by the query term(s). For a reverse image search, you can pass in the URL of an image as the query.",
        "operationId": "Search",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Query",
            "description": "The search query.",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://lexica.art/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://lexica.art/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI"
    }
  ]
}