{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Cognito Forms",
    "description": "Cognito Forms lets you easily build powerful online forms, such as surveys, order forms, registration forms and more. For free.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Cognito Forms Support",
      "email": "support@cognitoforms.com",
      "url": "https://www.cognitoforms.com/support"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.cognitoforms.com"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.cognitoforms.com/legal/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Collaboration"
    }
  ],
  "host": "www.cognitoforms.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/forms": {
      "get": {
        "tags": [
          "Cognito Forms"
        ],
        "summary": "Get forms",
        "description": "Gets the list of available forms.",
        "operationId": "GetForms",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FormRef"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/api/forms/{form}/schema": {
      "get": {
        "tags": [
          "Cognito Forms"
        ],
        "summary": "Get form schema",
        "description": "Gets the Swagger schema for a specific form.",
        "operationId": "GetFormSchema",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "form",
            "in": "path",
            "description": "The name of the form.",
            "required": true,
            "x-ms-summary": "Form",
            "x-ms-test-value": "1",
            "type": "string"
          },
          {
            "name": "input",
            "in": "query",
            "description": "Input",
            "required": false,
            "x-ms-summary": "Input",
            "type": "boolean"
          },
          {
            "name": "includeLinks",
            "in": "query",
            "description": "Include Links",
            "required": false,
            "x-ms-summary": "includeLinks",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/api/forms/{form}/entries": {
      "post": {
        "tags": [
          "Cognito Forms"
        ],
        "summary": "Create entry",
        "description": "Creates a new entry.",
        "operationId": "CreateEntry",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "form",
            "in": "path",
            "description": "The name of the form",
            "required": true,
            "x-ms-summary": "Form",
            "x-ms-dynamic-values": {
              "operationId": "GetForms",
              "value-path": "Id",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "entry",
            "in": "body",
            "description": "The entry to create for the form",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetFormSchema",
                "parameters": {
                  "form": {
                    "parameter": "form"
                  },
                  "input": true
                },
                "value-path": "properties"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetFormSchema",
                "parameters": {
                  "form": {
                    "parameterReference": "form"
                  },
                  "input": {
                    "value": true
                  }
                }
              }
            },
            "x-ms-summary": "Entry"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetFormSchema",
                "parameters": {
                  "form": {
                    "parameter": "form"
                  },
                  "input": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-trigger-hint": "Creates a new entry.",
        "x-ms-visibility": "important"
      }
    },
    "/api/forms/{form}/entries/{entryId}": {
      "get": {
        "tags": [
          "Cognito Forms"
        ],
        "summary": "Get entry",
        "description": "Gets an entry.",
        "operationId": "GetEntry",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "form",
            "in": "path",
            "description": "The name of the form",
            "required": true,
            "x-ms-summary": "Form",
            "x-ms-dynamic-values": {
              "operationId": "GetForms",
              "value-path": "Id",
              "value-title": "Name"
            },
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "entryId",
            "in": "path",
            "description": "The entry id",
            "required": true,
            "x-ms-summary": "Entry Id",
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetFormSchema",
                "parameters": {
                  "form": {
                    "parameter": "form"
                  },
                  "input": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-trigger-hint": "Gets an entry.",
        "x-ms-visibility": "important"
      },
      "delete": {
        "tags": [
          "Cognito Forms"
        ],
        "summary": "Delete entry",
        "description": "Delete an entry.",
        "operationId": "DeleteEntry",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "form",
            "in": "path",
            "description": "The name of the form",
            "required": true,
            "x-ms-summary": "Form",
            "x-ms-dynamic-values": {
              "operationId": "GetForms",
              "value-path": "Id",
              "value-title": "Name"
            },
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "entryId",
            "in": "path",
            "description": "The entry id",
            "required": true,
            "x-ms-summary": "Entry Id",
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-trigger-hint": "Deletes an entry.",
        "x-ms-visibility": "important"
      },
      "patch": {
        "tags": [
          "Cognito Forms"
        ],
        "summary": "Update entry",
        "description": "Updates an entry.",
        "operationId": "EditEntry",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "form",
            "in": "path",
            "description": "The name of the form",
            "required": true,
            "x-ms-summary": "Form",
            "x-ms-dynamic-values": {
              "operationId": "GetForms",
              "value-path": "Id",
              "value-title": "Name"
            },
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "entryId",
            "in": "path",
            "description": "The entry id",
            "required": true,
            "x-ms-summary": "Entry Id",
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "entry",
            "in": "body",
            "description": "The updated entry data",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetFormSchema",
                "parameters": {
                  "form": {
                    "parameter": "form"
                  },
                  "input": true
                },
                "value-path": "properties"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetFormSchema",
                "parameters": {
                  "form": {
                    "parameterReference": "form"
                  },
                  "input": {
                    "value": true
                  }
                }
              }
            },
            "x-ms-summary": "Entry"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetFormSchema",
                "parameters": {
                  "form": {
                    "parameter": "form"
                  },
                  "input": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-trigger-hint": "Updates an entry.",
        "x-ms-visibility": "important"
      }
    },
    "/api/files/{id}": {
      "get": {
        "tags": [
          "Cognito Forms"
        ],
        "summary": "Get file",
        "description": "Gets a file by id",
        "operationId": "GetFile",
        "consumes": [],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the file",
            "required": true,
            "x-ms-summary": "File Id",
            "x-ms-test-value": "1",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FileDataRef"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important"
      }
    },
    "/api/forms/{form}/entries/{entry}/documents/{templateNumber}": {
      "get": {
        "tags": [
          "Cognito Forms"
        ],
        "summary": "Get Document",
        "description": "Gets a document",
        "operationId": "GetDocument",
        "produces": [
          "application/pdf",
          "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
        ],
        "parameters": [
          {
            "name": "form",
            "in": "path",
            "description": "The name of the form",
            "required": true,
            "x-ms-summary": "Form",
            "x-ms-dynamic-values": {
              "operationId": "GetForms",
              "value-path": "Id",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "entry",
            "in": "path",
            "description": "The entry id",
            "required": true,
            "x-ms-summary": "Entry Id",
            "type": "string"
          },
          {
            "name": "templateNumber",
            "in": "path",
            "description": "The template number",
            "required": true,
            "x-ms-summary": "Template Number",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FileDataRef"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-trigger-hint": "Gets a document",
        "x-ms-visibility": "important"
      }
    },
    "/api/forms/{form}/public-link-availability": {
      "post": {
        "tags": [
          "Cognito Forms"
        ],
        "summary": "Set form availability",
        "description": "Sets the availability of a form.",
        "operationId": "SetFormAvailability",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "form",
            "in": "path",
            "description": "The name of the form",
            "required": true,
            "x-ms-summary": "Form",
            "x-ms-dynamic-values": {
              "operationId": "GetForms",
              "value-path": "Id",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "start",
            "in": "body",
            "description": "Availability",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "start": {
                  "description": "Availability start date",
                  "type": "string",
                  "format": "date-time",
                  "x-ms-summary": "Availability Start"
                },
                "end": {
                  "description": "Availability end date",
                  "type": "string",
                  "format": "date-time",
                  "x-ms-summary": "Availability End"
                },
                "message": {
                  "description": "Not Available Message",
                  "type": "string",
                  "x-ms-summary": "Not Available Message"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FormAvailability"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-trigger-hint": "Sets form availability.",
        "x-ms-visibility": "important"
      }
    },
    "/integration/oauth/subscribenewentry": {
      "x-ms-notification-content": {
        "description": "Hook response from Cognito",
        "schema": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "GetFormSchema",
            "parameters": {
              "form": {
                "parameter": "publisher"
              }
            },
            "value-path": "properties"
          },
          "x-ms-dynamic-properties": {
            "operationId": "GetFormSchema",
            "parameters": {
              "form": {
                "parameterReference": "publisher"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Cognito Forms"
        ],
        "summary": "When a new entry is created",
        "description": "Triggers when someone creates a new entry.",
        "operationId": "NewEntry",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "module",
            "in": "query",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "forms",
            "required": true
          },
          {
            "name": "publisher",
            "in": "query",
            "description": "The name of the form",
            "required": true,
            "x-ms-summary": "Form",
            "x-ms-dynamic-values": {
              "operationId": "GetForms",
              "value-path": "Id",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "endpoint",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "notificationUrl"
              ],
              "properties": {
                "notificationUrl": {
                  "description": "The URL to call back to.",
                  "type": "string",
                  "x-ms-summary": "Notification URL",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              }
            },
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-trigger-hint": "When a new entry is created",
        "x-ms-trigger": "single",
        "x-ms-visibility": "important"
      }
    },
    "/integration/oauth/subscribeupdateentry": {
      "x-ms-notification-content": {
        "description": "Hook response from Cognito",
        "schema": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "GetFormSchema",
            "parameters": {
              "form": {
                "parameter": "publisher"
              }
            },
            "value-path": "properties"
          },
          "x-ms-dynamic-properties": {
            "operationId": "GetFormSchema",
            "parameters": {
              "form": {
                "parameterReference": "publisher"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Cognito Forms"
        ],
        "summary": "When an entry is updated",
        "description": "Triggers when someone updates an entry.",
        "operationId": "UpdateEntry",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "module",
            "in": "query",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "forms",
            "required": true
          },
          {
            "name": "publisher",
            "in": "query",
            "description": "The name of the form",
            "required": true,
            "x-ms-summary": "Form",
            "x-ms-dynamic-values": {
              "operationId": "GetForms",
              "value-path": "Id",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "endpoint",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "notificationUrl"
              ],
              "properties": {
                "notificationUrl": {
                  "description": "The URL to call back to.",
                  "type": "string",
                  "x-ms-summary": "Notification URL",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              }
            },
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-trigger-hint": "When an entry is updated",
        "x-ms-trigger": "single",
        "x-ms-visibility": "advanced"
      }
    },
    "/integration/oauth/subscribeentrydeleted": {
      "x-ms-notification-content": {
        "description": "Hook response from Cognito",
        "schema": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "GetFormSchema",
            "parameters": {
              "form": {
                "parameter": "publisher"
              },
              "includeLinks": false
            },
            "value-path": "properties"
          },
          "x-ms-dynamic-properties": {
            "operationId": "GetFormSchema",
            "parameters": {
              "form": {
                "parameterReference": "publisher"
              },
              "includeLinks": {
                "value": false
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Cognito Forms"
        ],
        "summary": "When an entry is deleted",
        "description": "Triggers when someone deletes an entry.",
        "operationId": "EntryDeleted",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "module",
            "in": "query",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "forms",
            "required": true
          },
          {
            "name": "publisher",
            "in": "query",
            "description": "The name of the form",
            "required": true,
            "x-ms-summary": "Form",
            "x-ms-dynamic-values": {
              "operationId": "GetForms",
              "value-path": "Id",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "endpoint",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "notificationUrl"
              ],
              "properties": {
                "notificationUrl": {
                  "description": "The URL to call back to.",
                  "type": "string",
                  "x-ms-summary": "Notification URL",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              }
            },
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-trigger-hint": "When an entry is deleted",
        "x-ms-trigger": "single",
        "x-ms-visibility": "advanced"
      }
    },
    "/integration/oauth/unsubscribe": {
      "delete": {
        "tags": [
          "Cognito Forms"
        ],
        "summary": "Unsubscribe Webhook",
        "description": "Unsubscribes a webhook.",
        "operationId": "UnsubscribeWebhook",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The unique subscription id.",
            "x-ms-summary": "Subscription",
            "type": "string"
          },
          {
            "name": "module",
            "in": "query",
            "description": "The module the subscription is associated with.",
            "x-ms-summary": "Module",
            "type": "string",
            "default": "forms"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "internal"
      }
    }
  },
  "definitions": {
    "FormRef": {
      "description": "A form reference that includes the name and id of the form.",
      "type": "object",
      "properties": {
        "Id": {
          "description": "The unique id of the form.",
          "type": "string",
          "x-ms-summary": "Form Id",
          "x-ms-visibility": "internal"
        },
        "Name": {
          "description": "The name of the form.",
          "type": "string",
          "x-ms-summary": "Form Name"
        }
      }
    },
    "FileDataRef": {
      "description": "A file reference that includes file data and metadata",
      "type": "object",
      "properties": {
        "Id": {
          "description": "The unique id of the file.",
          "type": "string",
          "x-ms-summary": "File Id",
          "x-ms-visibility": "important"
        },
        "Name": {
          "description": "The name of the file",
          "type": "string",
          "x-ms-summary": "File Name",
          "x-ms-visibility": "important"
        },
        "ContentType": {
          "description": "The content type of the file.",
          "type": "string",
          "x-ms-summary": "File Content Type",
          "x-ms-visibility": "important"
        },
        "Size": {
          "description": "The size of the file.",
          "type": "integer",
          "x-ms-summary": "File Size",
          "x-ms-visibility": "important"
        },
        "File": {
          "description": "The URL of the file.",
          "type": "string",
          "x-ms-summary": "File URL",
          "x-ms-visibility": "important"
        },
        "Content": {
          "description": "The file content",
          "type": "string",
          "format": "byte",
          "x-ms-summary": "File Content",
          "x-ms-visibility": "important"
        }
      }
    },
    "SubscriptionRequest": {
      "type": "object",
      "required": [
        "notificationUrl"
      ],
      "properties": {
        "notificationUrl": {
          "description": "The URL to call back to.",
          "type": "string",
          "x-ms-summary": "Notification URL",
          "x-ms-notification-url": true,
          "x-ms-visibility": "internal"
        }
      }
    },
    "FormAvailability": {
      "description": "Form availability information such as start/end availability and not available message.",
      "type": "object",
      "properties": {
        "availabilityStart": {
          "description": "Form availability start",
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Form availability start",
          "x-ms-visibility": "important"
        },
        "availabilityEnd": {
          "description": "Form availability end",
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Form availability end",
          "x-ms-visibility": "important"
        },
        "notAvailableMessage": {
          "description": "Not available message",
          "type": "string",
          "x-ms-summary": "Not available message",
          "x-ms-visibility": "important"
        }
      }
    },
    "Error": {
      "description": "An error",
      "type": "object",
      "properties": {
        "Message": {
          "description": "A message describing the error",
          "type": "string",
          "x-ms-summary": "Error Message"
        },
        "Type": {
          "description": "The type of the error",
          "type": "string",
          "x-ms-summary": "Error Type"
        },
        "SupportCode": {
          "description": "A support code identifying the specific error",
          "type": "string",
          "x-ms-summary": "Error Support Code"
        },
        "Data": {
          "description": "Data related to the error",
          "type": "object",
          "x-ms-summary": "Error Data"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "apiKey": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://www.cognitoforms.com/admin/oauthlogin",
      "tokenUrl": "https://www.cognitoforms.com/admin/oauthtoken",
      "scopes": {
        "admin": "admin"
      }
    }
  },
  "security": [
    {
      "apiKey": [
        "admin"
      ]
    }
  ],
  "tags": [],
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "GetForms"
    }
  }
}