{
  "swagger": "2.0",
  "info": {
    "title": "Synthesia",
    "description": "Synthesia STUDIO lets you create one-off videos and test different types of videos before automating the process through the service. Also, Synthesia STUDIO lets you define templates with personalization variables that you can call later through the service.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.synthesia.io",
  "basePath": "/v2/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/videos": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "videos": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "callbackId": {
                        "type": "string",
                        "description": "The callback identifier.",
                        "title": "Callback ID"
                      },
                      "createdAt": {
                        "type": "integer",
                        "format": "int32",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "ctaSettings": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string",
                            "description": "The label.",
                            "title": "Label"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          }
                        },
                        "title": "CTA Settings"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "download": {
                        "type": "string",
                        "description": "The download.",
                        "title": "Download"
                      },
                      "duration": {
                        "type": "string",
                        "description": "The duration.",
                        "title": "Duration"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "lastUpdatedAt": {
                        "type": "integer",
                        "format": "int32",
                        "description": "When last updated at.",
                        "title": "Last Updated At"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "visibility": {
                        "type": "string",
                        "description": "The visibility.",
                        "title": "Visibility"
                      }
                    }
                  },
                  "title": "Videos"
                }
              }
            }
          }
        },
        "summary": "List videos",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The page offset.",
            "required": false,
            "type": "integer"
          }
        ],
        "description": "Retrieve a list of all videos created via the API or STUDIO.",
        "operationId": "VideoList"
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "callbackId": {
                  "type": "string",
                  "description": "The callback identifier.",
                  "title": "Callback ID"
                },
                "createdAt": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "ctaSettings": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string",
                      "description": "The label.",
                      "title": "Label"
                    },
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    }
                  },
                  "title": "CTA Settings"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "lastUpdatedAt": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When last updated at.",
                  "title": "Last Updated At"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "visibility": {
                  "type": "string",
                  "description": "The visibility.",
                  "title": "Visibility"
                }
              }
            }
          }
        },
        "summary": "Create a video",
        "description": "Creates a video based on the request parameters",
        "operationId": "VideoCreate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "test": {
                  "type": "boolean",
                  "description": "Whether a test.",
                  "title": "Test"
                },
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "visibility": {
                  "type": "string",
                  "description": "The visibility.",
                  "title": "Visibility"
                },
                "ctaSettings": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string",
                      "description": "The label.",
                      "title": "Label"
                    },
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    }
                  },
                  "title": "CTA Settings"
                },
                "callbackId": {
                  "type": "string",
                  "description": "The callback identifier.",
                  "title": "Callback ID"
                },
                "input": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "scriptText": {
                        "type": "string",
                        "description": "The script test.",
                        "title": "Script Text"
                      },
                      "scriptAudio": {
                        "type": "string",
                        "description": "The script audio.",
                        "title": "Script Audio"
                      },
                      "scriptLanguage": {
                        "type": "string",
                        "description": "The script language.",
                        "title": "Script Language"
                      },
                      "avatar": {
                        "type": "string",
                        "description": "The avatar.",
                        "title": "Avatar"
                      },
                      "avatarSettings": {
                        "type": "object",
                        "properties": {
                          "voice": {
                            "type": "string",
                            "description": "The voice.",
                            "title": "Voice"
                          },
                          "horizontalAlign": {
                            "type": "string",
                            "description": "The horizontal align.",
                            "title": "Horizontal Align"
                          },
                          "scale": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The scale.",
                            "title": "Scale"
                          },
                          "style": {
                            "type": "string",
                            "description": "The style.",
                            "title": "Style"
                          },
                          "backgroundColor": {
                            "type": "string",
                            "description": "The background color.",
                            "title": "Background Color"
                          },
                          "seamless": {
                            "type": "boolean",
                            "description": "Whether seamless.",
                            "title": "Seamless"
                          }
                        },
                        "title": "Avatar Settings"
                      },
                      "background": {
                        "type": "string",
                        "description": "The background.",
                        "title": "Background"
                      },
                      "backgroundSettings": {
                        "type": "object",
                        "properties": {
                          "videoSettings": {
                            "type": "object",
                            "properties": {
                              "shortBackgroundContentMatchMode": {
                                "type": "string",
                                "description": "The short background content match mode.",
                                "title": "Short Background Content Match Mode"
                              },
                              "longBackgroundContentMatchMode": {
                                "type": "string",
                                "description": "The long background content match mode.",
                                "title": "Long Background Content Match Mode"
                              }
                            },
                            "title": "Video Settings"
                          }
                        },
                        "title": "Background Settings"
                      }
                    },
                    "required": [
                      "scriptText",
                      "avatar",
                      "background"
                    ]
                  },
                  "title": "Input"
                },
                "soundtrack": {
                  "type": "string",
                  "description": "The soundtrack.",
                  "title": "Soundtrack"
                }
              },
              "required": [
                "input"
              ]
            }
          }
        ]
      }
    },
    "/videos/{video_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "callbackId": {
                  "type": "string",
                  "description": "The callback identifier.",
                  "title": "Callback ID"
                },
                "createdAt": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "ctaSettings": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string",
                      "description": "The label.",
                      "title": "Label"
                    },
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    }
                  },
                  "title": "CTA Settings"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "download": {
                  "type": "string",
                  "description": "The download.",
                  "title": "Download"
                },
                "duration": {
                  "type": "string",
                  "description": "The duration.",
                  "title": "Duration"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "lastUpdatedAt": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When last updated at.",
                  "title": "Last Updated At"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "visibility": {
                  "type": "string",
                  "description": "The visibility.",
                  "title": "Visibility"
                }
              }
            }
          }
        },
        "summary": "Get video status",
        "description": "Queries the video status. A video can be in status `in_progress' from 10 minutes up to 40+. Once a video is completed, you will be able to see a download URL that you can use to download the .mp4 file.",
        "operationId": "VideoStatus",
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "x-ms-summary": "Video ID",
            "x-ms-url-encoding": "single",
            "description": "The video identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Delete video",
        "description": "Delete a video.",
        "operationId": "VideoDelete",
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "x-ms-summary": "Video ID",
            "x-ms-url-encoding": "single",
            "description": "The video identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "callbackId": {
                  "type": "string",
                  "description": "The callback identifier.",
                  "title": "Callback ID"
                },
                "createdAt": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "ctaSettings": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string",
                      "description": "The label.",
                      "title": "Label"
                    },
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    }
                  },
                  "title": "CTA Settings"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "download": {
                  "type": "string",
                  "description": "The download.",
                  "title": "Download"
                },
                "duration": {
                  "type": "string",
                  "description": "The duration.",
                  "title": "Duration"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "lastUpdatedAt": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When last updated at.",
                  "title": "Last Updated At"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "visibility": {
                  "type": "string",
                  "description": "The visibility.",
                  "title": "Visibility"
                }
              }
            }
          }
        },
        "summary": "Update a video",
        "description": "Patch the parameters of an existing video.",
        "operationId": "VideoPatch",
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "x-ms-summary": "Video ID",
            "x-ms-url-encoding": "single",
            "description": "The video identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "ctaSettings": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string",
                      "description": "The label.",
                      "title": "Label"
                    },
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    }
                  },
                  "title": "CTA Settings"
                },
                "visibility": {
                  "type": "string",
                  "description": "The visibility.",
                  "title": "Visibility"
                }
              }
            }
          }
        ]
      }
    },
    "/templates": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "nextOffset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The next offset.",
                  "title": "Next Offset"
                },
                "templates": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "createdAt": {
                        "type": "integer",
                        "format": "int32",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "lastUpdatedAt": {
                        "type": "integer",
                        "format": "int32",
                        "description": "When last updated at.",
                        "title": "Last Updated At"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "variables": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The identifier.",
                              "title": "ID"
                            },
                            "label": {
                              "type": "string",
                              "description": "The label.",
                              "title": "Label"
                            },
                            "type": {
                              "type": "string",
                              "description": "The type.",
                              "title": "Type"
                            }
                          }
                        },
                        "title": "Variables"
                      }
                    }
                  },
                  "title": "Templates"
                }
              }
            }
          }
        },
        "summary": "List templates",
        "description": "Retrieve a list of all templates in Synthesia STUDIO, as well as the variables that may be provided when using them.",
        "operationId": "TemplateList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The page offset.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/templates/{template_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "createdAt": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "lastUpdatedAt": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When last updated at.",
                  "title": "Last Updated At"
                },
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "variables": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  },
                  "title": "Variables"
                }
              }
            }
          }
        },
        "summary": "Get template",
        "description": "Retrieve the information on a template. In particular, you may use it to find out the variables available for customization.",
        "operationId": "TemplateGet",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "x-ms-summary": "Template ID",
            "x-ms-url-encoding": "single",
            "description": "The template identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/videos/fromTemplate": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "createdAt": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "lastUpdatedAt": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When last updated at.",
                  "title": "Last Updated At"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "visibility": {
                  "type": "string",
                  "description": "The visibility.",
                  "title": "Visibility"
                }
              }
            }
          }
        },
        "summary": "Create a video from a template",
        "description": "Create a video based on a template created in Synthesia STUDIO.",
        "operationId": "VideoCreateTemplate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "visibility": {
                  "type": "string",
                  "description": "The visibility.",
                  "title": "Visibility"
                },
                "templateId": {
                  "type": "string",
                  "description": "The template identifier.",
                  "title": "Template ID"
                },
                "templateData": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    }
                  },
                  "title": "Template Data"
                },
                "test": {
                  "type": "boolean",
                  "description": "Whether a test.",
                  "title": "Test"
                },
                "callbackId": {
                  "type": "string",
                  "description": "The callback identifier.",
                  "title": "Callback ID"
                }
              },
              "required": [
                "templateId"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.synthesia.io/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.synthesia.io/terms/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Lifestyle and Entertainment"
    }
  ]
}