{
  "swagger": "2.0",
  "info": {
    "title": "ShortySMS",
    "description": "Automate SMS and MMS campaigns and connect your own Twilio account, so you can send unlimited messages internationally. Create lists for different contacts, and track conversations and results across multiple campaigns.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "shortysms.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/me": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "lifetime_subscription_plan_id": {
                  "type": "string",
                  "description": "The lifetime subscription plan identifier.",
                  "title": "Lifetime Subscription Plan ID"
                },
                "subscription_plan_id": {
                  "type": "string",
                  "description": "The subscription plan identifier.",
                  "title": "Subscription Plan ID"
                },
                "timezone": {
                  "type": "string",
                  "description": "The timezone.",
                  "title": "Timezone"
                },
                "disabled_at": {
                  "type": "string",
                  "description": "When disabled at.",
                  "title": "Disabled At"
                }
              }
            }
          }
        },
        "summary": "Get my info",
        "description": "Get information about my account.",
        "operationId": "MeGet",
        "parameters": []
      }
    },
    "/api/contacts": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "current_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current page.",
                  "title": "Current Page"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "phone": {
                        "type": "string",
                        "description": "The phone number.",
                        "title": "Phone"
                      },
                      "first_name": {
                        "type": "string",
                        "description": "The first name.",
                        "title": "First Name"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "The last name.",
                        "title": "Last Name"
                      },
                      "unsubscribed_at": {
                        "type": "string",
                        "description": "When unsubscribed at.",
                        "title": "Unsubscribed At"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "deleted_at": {
                        "type": "string",
                        "description": "When deleted at.",
                        "title": "Deleted At"
                      },
                      "last_clicked_at": {
                        "type": "string",
                        "description": "When last clicked at.",
                        "title": "Last Clicked At"
                      },
                      "phone_formatted": {
                        "type": "string",
                        "description": "The phone number formatted.",
                        "title": "Phone Formatted"
                      }
                    }
                  },
                  "title": "Data"
                },
                "first_page_url": {
                  "type": "string",
                  "description": "The first page URL address.",
                  "title": "First Page URL"
                },
                "from": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The from number.",
                  "title": "From"
                },
                "last_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The last page.",
                  "title": "Last Page"
                },
                "last_page_url": {
                  "type": "string",
                  "description": "The last page URL address.",
                  "title": "Last Page URL"
                },
                "links": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "label": {
                        "type": "string",
                        "description": "The label.",
                        "title": "Label"
                      },
                      "active": {
                        "type": "boolean",
                        "description": "Whether active.",
                        "title": "Active"
                      }
                    }
                  },
                  "title": "Links"
                },
                "next_page_url": {
                  "type": "string",
                  "description": "The next page URL address.",
                  "title": "Next Page URL"
                },
                "path": {
                  "type": "string",
                  "description": "The path.",
                  "title": "Path"
                },
                "per_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number per page.",
                  "title": "Per Page"
                },
                "prev_page_url": {
                  "type": "string",
                  "description": "The previous page URL address.",
                  "title": "Prev Page URL"
                },
                "to": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The to.",
                  "title": "To"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                }
              }
            }
          }
        },
        "summary": "Get contacts",
        "description": "Retrieve a paginated list of contacts.",
        "operationId": "ContactsGet",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "integer"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "contact": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "phone": {
                      "type": "string",
                      "description": "The phone number.",
                      "title": "Phone"
                    },
                    "first_name": {
                      "type": "string",
                      "description": "The first name.",
                      "title": "First Name"
                    },
                    "last_name": {
                      "type": "string",
                      "description": "The last name.",
                      "title": "Last Name"
                    },
                    "unsubscribed_at": {
                      "type": "string",
                      "description": "When unsubscribed at.",
                      "title": "Unsubscribed At"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "When updated at.",
                      "title": "Updated At"
                    },
                    "deleted_at": {
                      "type": "string",
                      "description": "When deleted at.",
                      "title": "Deleted At"
                    },
                    "last_clicked_at": {
                      "type": "string",
                      "description": "When last clicked at.",
                      "title": "Last Clicked At"
                    },
                    "phone_formatted": {
                      "type": "string",
                      "description": "The phone number formatted.",
                      "title": "Phone Formatted"
                    }
                  },
                  "title": "Contact"
                }
              }
            }
          }
        },
        "summary": "Create a contact",
        "description": "Add a contact to your account.",
        "operationId": "ContactsPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "first_name": {
                  "type": "string",
                  "description": "The first name.",
                  "title": "First Name"
                },
                "last_name": {
                  "type": "string",
                  "description": "The last name.",
                  "title": "Last Name"
                },
                "phone": {
                  "type": "string",
                  "description": "The phone number.",
                  "title": "Phone"
                },
                "contact_list_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The contact list identifier.",
                  "title": "Contact List ID"
                }
              },
              "required": [
                "email",
                "first_name",
                "last_name",
                "phone"
              ]
            }
          }
        ]
      }
    },
    "/api/contact-lists": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "current_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current page.",
                  "title": "Current Page"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "deleted_at": {
                        "type": "string",
                        "description": "When deleted at.",
                        "title": "Deleted At"
                      }
                    }
                  },
                  "title": "Data"
                },
                "first_page_url": {
                  "type": "string",
                  "description": "The first page URL address.",
                  "title": "First Page URL"
                },
                "from": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The from number.",
                  "title": "From"
                },
                "last_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The last page.",
                  "title": "Last Page"
                },
                "last_page_url": {
                  "type": "string",
                  "description": "The last page URL address.",
                  "title": "Last Page URL"
                },
                "links": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "label": {
                        "type": "string",
                        "description": "The label.",
                        "title": "Label"
                      },
                      "active": {
                        "type": "boolean",
                        "description": "Whether active.",
                        "title": "Active"
                      }
                    }
                  },
                  "title": "Links"
                },
                "next_page_url": {
                  "type": "string",
                  "description": "The next page URL address.",
                  "title": "Next Page URL"
                },
                "path": {
                  "type": "string",
                  "description": "The path.",
                  "title": "Path"
                },
                "per_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number per page.",
                  "title": "Per Page"
                },
                "prev_page_url": {
                  "type": "string",
                  "description": "The previous page URL address.",
                  "title": "Prev Page URL"
                },
                "to": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The to.",
                  "title": "To"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                }
              }
            }
          }
        },
        "summary": "Get contact lists",
        "description": "Retrieve a paginated list of contacts.",
        "operationId": "ContactListsGet",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "integer"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "contactList": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "When updated at.",
                      "title": "Updated At"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The identifier.",
                      "title": "ID"
                    }
                  },
                  "title": "ContactList"
                }
              }
            }
          }
        },
        "summary": "Create a contact list",
        "description": "Add a contact list to your account.",
        "operationId": "ContactListsPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                }
              },
              "required": [
                "name"
              ]
            }
          }
        ]
      }
    },
    "/api/contact-list-triggers": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "current_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current page.",
                  "title": "Current Page"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "trigger_string": {
                        "type": "string",
                        "description": "The trigger string.",
                        "title": "Trigger String"
                      },
                      "active": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Whether active.",
                        "title": "Active"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "contact_list": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "When created at.",
                            "title": "Created At"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "When updated at.",
                            "title": "Updated At"
                          },
                          "deleted_at": {
                            "type": "string",
                            "description": "When deleted at.",
                            "title": "Deleted At"
                          }
                        },
                        "title": "Contact List"
                      }
                    }
                  },
                  "title": "Data"
                },
                "first_page_url": {
                  "type": "string",
                  "description": "The first page URL address.",
                  "title": "First Page URL"
                },
                "from": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The from number.",
                  "title": "From"
                },
                "last_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The last page.",
                  "title": "Last Page"
                },
                "last_page_url": {
                  "type": "string",
                  "description": "The last page URL address.",
                  "title": "Last Page URL"
                },
                "links": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "label": {
                        "type": "string",
                        "description": "The label.",
                        "title": "Label"
                      },
                      "active": {
                        "type": "boolean",
                        "description": "Whether active.",
                        "title": "Active"
                      }
                    }
                  },
                  "title": "Links"
                },
                "next_page_url": {
                  "type": "string",
                  "description": "The next page URL address.",
                  "title": "Next Page URL"
                },
                "path": {
                  "type": "string",
                  "description": "The path.",
                  "title": "Path"
                },
                "per_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number per page.",
                  "title": "Per Page"
                },
                "prev_page_url": {
                  "type": "string",
                  "description": "The previous page URL address.",
                  "title": "Prev Page URL"
                },
                "to": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The to.",
                  "title": "To"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                }
              }
            }
          }
        },
        "summary": "Get triggers",
        "description": "Retrieve a paginated list of triggers.",
        "operationId": "TriggersGet",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "integer"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "contactListTrigger": {
                  "type": "object",
                  "properties": {
                    "active": {
                      "type": "boolean",
                      "description": "Whether active.",
                      "title": "Active"
                    },
                    "title": {
                      "type": "string",
                      "description": "The title.",
                      "title": "Title"
                    },
                    "trigger_string": {
                      "type": "string",
                      "description": "The trigger string.",
                      "title": "Trigger String"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "When updated at.",
                      "title": "Updated At"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The identifier.",
                      "title": "ID"
                    }
                  },
                  "title": "ContactListTrigger"
                }
              }
            }
          }
        },
        "summary": "Add a list trigger",
        "description": "Add a trigger for a list to your account.",
        "operationId": "TriggersPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "trigger_string": {
                  "type": "string",
                  "description": "The trigger string.",
                  "title": "Trigger String"
                },
                "contact_list_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The contact list identifier.",
                  "title": "Contact List ID"
                },
                "active": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Whether active.",
                  "title": "Active",
                  "default": 0,
                  "enum": [
                    0,
                    1
                  ]
                }
              },
              "required": [
                "contact_list_id",
                "title",
                "trigger_string"
              ]
            }
          }
        ]
      }
    },
    "/api/campaigns": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "current_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current page.",
                  "title": "Current Page"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "content": {
                        "type": "string",
                        "description": "The content.",
                        "title": "Content"
                      },
                      "scheduled_at": {
                        "type": "string",
                        "description": "When scheduled at.",
                        "title": "Scheduled At"
                      },
                      "sent_at": {
                        "type": "string",
                        "description": "When sent at.",
                        "title": "Sent At"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "click_tracking_enabled": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Whether click tracking is enabled.",
                        "title": "Click Tracking Enabled"
                      },
                      "from_phone_number": {
                        "type": "string",
                        "description": "The from phone number.",
                        "title": "From Phone Number"
                      },
                      "is_campaign": {
                        "type": "boolean",
                        "description": "Whether is campaign.",
                        "title": "Is Campaign"
                      },
                      "is_automation": {
                        "type": "boolean",
                        "description": "Whether is automation.",
                        "title": "Is Automation"
                      },
                      "is_direct_message": {
                        "type": "boolean",
                        "description": "Whether is direct message.",
                        "title": "Is Direct Message"
                      },
                      "contact_lists": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The identifier.",
                              "title": "ID"
                            },
                            "name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            },
                            "created_at": {
                              "type": "string",
                              "description": "When created at.",
                              "title": "Created At"
                            },
                            "updated_at": {
                              "type": "string",
                              "description": "When updated at.",
                              "title": "Updated At"
                            },
                            "deleted_at": {
                              "type": "string",
                              "description": "When deleted at.",
                              "title": "Deleted At"
                            }
                          }
                        },
                        "title": "Contact Lists"
                      }
                    }
                  },
                  "title": "Data"
                },
                "first_page_url": {
                  "type": "string",
                  "description": "The first page URL address.",
                  "title": "First Page URL"
                },
                "from": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The from number.",
                  "title": "From"
                },
                "last_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The last page.",
                  "title": "Last Page"
                },
                "last_page_url": {
                  "type": "string",
                  "description": "The last page URL address.",
                  "title": "Last Page URL"
                },
                "links": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "label": {
                        "type": "string",
                        "description": "The label.",
                        "title": "Label"
                      },
                      "active": {
                        "type": "boolean",
                        "description": "Whether active.",
                        "title": "Active"
                      }
                    }
                  },
                  "title": "Links"
                },
                "next_page_url": {
                  "type": "string",
                  "description": "The next page URL address.",
                  "title": "Next Page URL"
                },
                "path": {
                  "type": "string",
                  "description": "The path.",
                  "title": "Path"
                },
                "per_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number per page.",
                  "title": "Per Page"
                },
                "prev_page_url": {
                  "type": "string",
                  "description": "The previous page URL address.",
                  "title": "Prev Page URL"
                },
                "to": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The to.",
                  "title": "To"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                }
              }
            }
          }
        },
        "summary": "Get campaigns",
        "description": "Retrieve a paginated list of campaigns in your account.",
        "operationId": "CampaignsGet",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/api/automations": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "current_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current page.",
                  "title": "Current Page"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "user_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The user identifier.",
                        "title": "User ID"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "contact_list_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The contact list identifier.",
                        "title": "Contact List ID"
                      },
                      "active": {
                        "type": "boolean",
                        "description": "Whether active.",
                        "title": "Active"
                      },
                      "deleted_at": {
                        "type": "string",
                        "description": "When deleted at.",
                        "title": "Deleted At"
                      }
                    }
                  },
                  "title": "Data"
                },
                "first_page_url": {
                  "type": "string",
                  "description": "The first page URL address.",
                  "title": "First Page URL"
                },
                "from": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The from number.",
                  "title": "From"
                },
                "last_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The last page.",
                  "title": "Last Page"
                },
                "last_page_url": {
                  "type": "string",
                  "description": "The last page URL address.",
                  "title": "Last Page URL"
                },
                "links": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "label": {
                        "type": "string",
                        "description": "The label.",
                        "title": "Label"
                      },
                      "active": {
                        "type": "boolean",
                        "description": "Whether active.",
                        "title": "Active"
                      }
                    }
                  },
                  "title": "Links"
                },
                "next_page_url": {
                  "type": "string",
                  "description": "The next page URL address.",
                  "title": "Next Page URL"
                },
                "path": {
                  "type": "string",
                  "description": "The path.",
                  "title": "Path"
                },
                "per_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number per page.",
                  "title": "Per Page"
                },
                "prev_page_url": {
                  "type": "string",
                  "description": "The previous page URL address.",
                  "title": "Prev Page URL"
                },
                "to": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The to.",
                  "title": "To"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                }
              }
            }
          }
        },
        "summary": "Get automations",
        "description": "Retrieve a paginated list of automations in your account.",
        "operationId": "AutomationsGet",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/api/incoming-deliverables": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "current_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current page.",
                  "title": "Current Page"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "twilio_sid": {
                        "type": "string",
                        "description": "The Twilio SID.",
                        "title": "Twilio SID"
                      },
                      "contact_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The contact identifier.",
                        "title": "Contact ID"
                      },
                      "content": {
                        "type": "string",
                        "description": "The content.",
                        "title": "Content"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "read_at": {
                        "type": "string",
                        "description": "When read at.",
                        "title": "Read At"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "is_unsubscribe": {
                        "type": "boolean",
                        "description": "Whether is Unsubscribed.",
                        "title": "Is Unsubscribed"
                      },
                      "is_resubscribe": {
                        "type": "boolean",
                        "description": "Whether is resubscribed.",
                        "title": "Is Resubscribed"
                      },
                      "contact": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "phone": {
                            "type": "string",
                            "description": "The phone number.",
                            "title": "Phone"
                          },
                          "first_name": {
                            "type": "string",
                            "description": "The first name.",
                            "title": "First Name"
                          },
                          "last_name": {
                            "type": "string",
                            "description": "The last name.",
                            "title": "Last Name"
                          },
                          "unsubscribed_at": {
                            "type": "string",
                            "description": "When unsubscribed at.",
                            "title": "Unsubscribed At"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "When created at.",
                            "title": "Created At"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "When updated at.",
                            "title": "Updated At"
                          },
                          "deleted_at": {
                            "type": "string",
                            "description": "When deleted at.",
                            "title": "Deleted At"
                          },
                          "last_clicked_at": {
                            "type": "string",
                            "description": "When last clicked at.",
                            "title": "Last Clicked At"
                          },
                          "phone_formatted": {
                            "type": "string",
                            "description": "The phone number formatted.",
                            "title": "Phone Formatted"
                          }
                        },
                        "title": "Contact"
                      }
                    }
                  },
                  "title": "Data"
                },
                "first_page_url": {
                  "type": "string",
                  "description": "The first page URL address.",
                  "title": "First Page URL"
                },
                "from": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The from number.",
                  "title": "From"
                },
                "last_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The last page.",
                  "title": "Last Page"
                },
                "last_page_url": {
                  "type": "string",
                  "description": "The last page URL address.",
                  "title": "Last Page URL"
                },
                "links": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "label": {
                        "type": "string",
                        "description": "The label.",
                        "title": "Label"
                      },
                      "active": {
                        "type": "boolean",
                        "description": "Whether active.",
                        "title": "Active"
                      }
                    }
                  },
                  "title": "Links"
                },
                "next_page_url": {
                  "type": "string",
                  "description": "The next page URL address.",
                  "title": "Next Page URL"
                },
                "path": {
                  "type": "string",
                  "description": "The path.",
                  "title": "Path"
                },
                "per_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number per page.",
                  "title": "Per Page"
                },
                "prev_page_url": {
                  "type": "string",
                  "description": "The previous page URL address.",
                  "title": "Prev Page URL"
                },
                "to": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The to.",
                  "title": "To"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                }
              }
            }
          }
        },
        "summary": "Get incoming deliverables",
        "description": "Retrieve a paginated list of incoming deliverables.",
        "operationId": "DeliverablesGet",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://shortysms.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://shortysms.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication"
    }
  ]
}