{
  "swagger": "2.0",
  "info": {
    "version": "1.8",
    "title": "CivicPlus Transform",
    "description": "Empowers business users to create and deploy digital forms for enterprise and government organizations as web and native apps, while allowing developers to customize, extend, or harness the forms through their own custom apps. Connect your forms with this connector to allow easy submission of your form data into your backend systems or databases without the need to write complex integration code.",
    "contact": {
      "name": "CivicPlus Support",
      "url": "https://www.civicoptimize.civicplus.help/hc/en-us",
      "email": "support@civicplus.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "auth-api.transform.civicplus.com",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/form-submission-meta/web-hooks": {
      "x-ms-notification-content": {
        "description": "Details for Form Submission Meta Webhook",
        "schema": {
          "$ref": "#/definitions/FormSubmissionMetaWebhookPush"
        }
      },
      "post": {
        "description": "Creates a Form Submission Meta Webhook",
        "summary": "Triggers when a Form submission occurs",
        "operationId": "FormSubmissionMetaWebhookTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "Request body of webhook",
            "in": "body",
            "description": "This is the request body of the Webhook",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "type": "object",
              "required": ["callbackUrl"],
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "Callback URL to push data to the Form Submission Meta Webhook Trigger",
                  "title": "Callback URL",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "label": {
                  "type": "string",
                  "description": "Label to display in CivicOptimize Productivity to identify the Workflow Event",
                  "title": "Label",
                  "x-ms-visibility": "important"
                },
                "formId": {
                  "type": "number",
                  "description": "Select a form to restrict this flow to a single form's submissions",
                  "title": "Form",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetForms",
                    "value-collection": "forms",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "trigger": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "title": "Trigger",
                  "description": "Select when this trigger will occur",
                  "enum": ["AFTER_SUBMISSION", "AFTER_APPROVAL"],
                  "x-ms-enum-values": [
                    {
                      "value": "AFTER_SUBMISSION",
                      "displayName": "After a user submits a form"
                    },
                    {
                      "value": "AFTER_APPROVAL",
                      "displayName": "After the submission has been approved"
                    }
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/FormSubmissionMetaWebhook"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          },
          "401": {
            "description": "Unauthorised",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          }
        }
      }
    },
    "/form-submission-meta/web-hooks/{webhookSubscriptionId}": {
      "get": {
        "description": "Retrieve a Form Submission Meta Webhook",
        "summary": "Allows for Form Submission Meta Webhook to be retrieved",
        "operationId": "GetFormSubmissionMetaWebhookTrigger",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "webhookSubscriptionId",
            "in": "path",
            "description": "ID of the Hook being retrieved",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FormSubmissionMetaWebhook"
            }
          },
          "401": {
            "description": "Unauthorised",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a Form Submission Meta Webhook",
        "summary": "Allows for Form Submission Meta Webhook to be deleted",
        "operationId": "DeleteFormSubmissionMetaWebhookTrigger",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "webhookSubscriptionId",
            "in": "path",
            "description": "ID of the Hook being deleted",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorised",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          }
        }
      }
    },
    "/storage/forms/{formId}/submissions/{submissionId}": {
      "get": {
        "description": "Allows for Form Submission data to be retrieved",
        "summary": "Retrieve Form Submission Data",
        "operationId": "GetFormSubmissionData",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "ID of the form being retrieved",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Form Id"
          },
          {
            "name": "submissionId",
            "in": "path",
            "description": "ID of the form submission being retrieved",
            "required": true,
            "type": "string",
            "x-ms-summary": "Submission Id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FormSubmissionData"
            }
          },
          "401": {
            "description": "Unauthenticated",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          }
        }
      }
    },
    "/storage/forms/{formId}/attachments/{attachmentId}": {
      "get": {
        "description": "Allows for Form Submission attachments to be retrieved",
        "summary": "Retrieve Form Submission Attachment",
        "operationId": "GetFormSubmissionAttachment",
        "x-ms-visibility": "important",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "ID of the form the attachment was uploaded with",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Form Id"
          },
          {
            "name": "attachmentId",
            "in": "path",
            "description": "ID of the uploaded attachment",
            "required": true,
            "type": "string",
            "x-ms-summary": "Attachment Id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "format": "binary",
              "description": "Output file content of the form attachment",
              "x-ms-summary": "Attachment Content"
            }
          },
          "401": {
            "description": "Unauthenticated",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          }
        }
      }
    },
    "/forms": {
      "get": {
        "description": "Allows for Forms to be retrieved",
        "summary": "Retrieve Forms",
        "operationId": "GetForms",
        "x-ms-visibility": "internal",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "forms": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          }
        }
      }
    },
    "/forms/{formId}/submissions/{submissionId}/pdf-document": {
      "post": {
        "description": "Allows for Form Submission PDF to be generated",
        "summary": "Generate Form Submission PDF",
        "operationId": "GenerateFormSubmissionPDF",
        "x-ms-visibility": "important",
        "produces": ["application/pdf"],
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "ID of the form that was submitted",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Form Id"
          },
          {
            "name": "submissionId",
            "in": "path",
            "description": "ID of the form submission",
            "required": true,
            "type": "string",
            "x-ms-summary": "Submission Id"
          },
          {
            "name": "Request Body",
            "in": "body",
            "description": "This is the request body",
            "schema": {
              "type": "object",
              "properties": {
                "includeSubmissionIdInPdf": {
                  "type": "boolean",
                  "x-ms-summary": "Include submission identifier in PDF",
                  "description": "The submission identifier can be included at the bottom of each page in the PDF"
                },
                "includePaymentInPdf": {
                  "type": "boolean",
                  "x-ms-summary": "Include payment details in PDF",
                  "description": "Payment details can be included as the final page in the PDF"
                },
                "usePagesAsBreaks": {
                  "type": "boolean",
                  "x-ms-summary": "Page break on form pages",
                  "description": "Form pages can be translated to page breaks in the PDF"
                },
                "excludedElementIds": {
                  "type": "array",
                  "x-ms-summary": "Excluded form elements",
                  "description": "The identifiers of the form elements to exclude from the PDF",
                  "x-ms-visibility": "advanced",
                  "items": {
                    "type": "string",
                    "description": "The form element identifier to exclude from the PDF",
                    "x-ms-summary": "Form element identifier"
                  }
                },
                "approvalFormsInclusion": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "x-ms-summary": "Include Approval Details In PDF",
                      "title": "Include Approval Details In PDF",
                      "x-ms-visibility": "advanced",
                      "enum": ["ALL"]
                    }
                  }
                },
                "pdfSize": {
                  "type": "string",
                  "x-ms-summary": "Change PDF page sizing",
                  "title": "PDF Page Size",
                  "x-ms-visibility": "advanced",
                  "enum": ["Letter", "A4"],
                  "x-ms-enum-values": [
                    {
                      "value": "Letter",
                      "displayName": "US Letter Size"
                    },
                    {
                      "value": "A4",
                      "displayName": "A4 Size"
                    }
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "string",
              "format": "binary",
              "description": "Output file content from the PDF Service",
              "x-ms-summary": "Form Submission PDF Content"
            }
          },
          "401": {
            "description": "Unauthenticated",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          }
        }
      }
    },
    "/form-submission-meta/{submissionId}/payments/cp-pay": {
      "get": {
        "description": "Allows for a CivicPlus Pay Payment to be retrieved",
        "summary": "Get CivicPlus Pay Payment",
        "operationId": "GetFormSubmissionCivicPlusPayPayment",
        "x-ms-visibility": "important",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "submissionId",
            "in": "path",
            "description": "ID of the form submission",
            "required": true,
            "type": "string",
            "x-ms-summary": "Submission Id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FormSubmissionPaymentCPPay"
            }
          },
          "401": {
            "description": "Unauthenticated",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIErrorPayload"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "APIErrorPayload": {
      "type": "object",
      "properties": {
        "error": {
          "x-ms-summary": "Error Title"
        },
        "message": {
          "type": "string",
          "x-ms-summary": "Error Message"
        },
        "statusCode": {
          "type": "integer",
          "x-ms-summary": "HTTP Status Code"
        }
      }
    },
    "FormSubmissionMetaWebhookPush": {
      "type": "object",
      "properties": {
        "formId": {
          "type": "integer",
          "x-ms-summary": "Form Id"
        },
        "submissionId": {
          "type": "string",
          "x-ms-summary": "Submission Id"
        },
        "externalId": {
          "type": "string",
          "x-ms-summary": "External Id"
        },
        "formsAppId": {
          "type": "integer",
          "x-ms-summary": "App Id"
        }
      }
    },
    "FormSubmissionMetaWebhook": {
      "type": "object",
      "properties": {
        "callbackUrl": {
          "type": "string"
        },
        "keyId": {
          "type": "string"
        },
        "organisationId": {
          "type": "string"
        },
        "id": {
          "type": "integer"
        },
        "createdAt": {
          "type": "string"
        }
      }
    },
    "FormSubmissionData": {
      "type": "object",
      "properties": {
        "definition": {
          "type": "object",
          "additionalProperties": true,
          "properties": {
            "name": {
              "type": "string",
              "x-ms-summary": "Form Name"
            },
            "description": {
              "type": "string",
              "x-ms-summary": "Form Description"
            }
          }
        },
        "submission": {
          "type": "object",
          "additionalProperties": true,
          "x-ms-summary": "Submission Data"
        },
        "ipAddress": {
          "type": "string",
          "x-ms-summary": "Submitted By: IP Address"
        },
        "submissionTimestamp": {
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Submission Timestamp"
        },
        "user": {
          "type": "object",
          "additionalProperties": true,
          "properties": {
            "providerUserId": {
              "type": "string",
              "x-ms-summary": "Submitted By: User Id"
            },
            "firstName": {
              "type": "string",
              "x-ms-summary": "Submitted By: First Name"
            },
            "lastName": {
              "type": "string",
              "x-ms-summary": "Submitted By: Last Name"
            },
            "fullName": {
              "type": "string",
              "x-ms-summary": "Submitted By: Full Name"
            },
            "email": {
              "type": "string",
              "x-ms-summary": "Submitted By: Email Address"
            },
            "picture": {
              "type": "string",
              "x-ms-summary": "Submitted By: Image URL"
            },
            "role": {
              "type": "string",
              "x-ms-summary": "Submitted By: Role"
            },
            "userId": {
              "type": "string",
              "x-ms-summary": "Submitted By: Internal User Id"
            },
            "providerType": {
              "type": "string",
              "x-ms-summary": "Submitted By: Provider Type"
            },
            "supervisor": {
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "providerUserId": {
                  "type": "string",
                  "x-ms-summary": "Submitted By: Supervisor User Id"
                },
                "fullName": {
                  "type": "string",
                  "x-ms-summary": "Submitted By: Supervisor Full Name"
                },
                "email": {
                  "type": "string",
                  "x-ms-summary": "Submitted By: Supervisor Email Address"
                }
              }
            }
          }
        },
        "device": {
          "type": "object",
          "additionalProperties": true,
          "properties": {
            "type": {
              "type": "string",
              "x-ms-summary": "Device: Type (CORDOVA, BROWSER, PWA)"
            },
            "cordova": {
              "type": "string",
              "x-ms-summary": "Device: Cordova Version"
            },
            "model": {
              "type": "string",
              "x-ms-summary": "Device: Model"
            },
            "platform": {
              "type": "string",
              "x-ms-summary": "Device: Platform"
            },
            "uuid": {
              "type": "string",
              "x-ms-summary": "Device: Universally Unique Identifier"
            },
            "version": {
              "type": "string",
              "x-ms-summary": "Device: Operating System Version"
            },
            "manufacturer": {
              "type": "string",
              "x-ms-summary": "Device: Manufacturer"
            },
            "isVirtual": {
              "type": "boolean",
              "x-ms-summary": "Device: Was a Simulator"
            },
            "serial": {
              "type": "string",
              "x-ms-summary": "Device: Hardware Serial Number"
            },
            "appCodeName": {
              "type": "string",
              "x-ms-summary": "Device: Browser Code"
            },
            "appName": {
              "type": "string",
              "x-ms-summary": "Device: Browser Name"
            },
            "appVersion": {
              "type": "string",
              "x-ms-summary": "Device: Browser Version"
            },
            "cookieEnabled": {
              "type": "boolean",
              "x-ms-summary": "Device: Were Cookies Enabled"
            },
            "hardwareConcurrency": {
              "type": "number",
              "x-ms-summary": "Device: Hardware Concurrency"
            },
            "language": {
              "type": "string",
              "x-ms-summary": "Device: Preferred Language"
            },
            "maxTouchPoints": {
              "type": "number",
              "x-ms-summary": "Device: Maximum Supported Touch Points"
            },
            "userAgent": {
              "type": "string",
              "x-ms-summary": "Device: User Agent"
            },
            "vendor": {
              "type": "string",
              "x-ms-summary": "Device: Browser Vendor"
            },
            "vendorSub": {
              "type": "string",
              "x-ms-summary": "Device: Browser Vendor Version"
            },
            "webdriver": {
              "type": "boolean",
              "x-ms-summary": "Device: Was Controlled by Automation"
            }
          }
        }
      }
    },
    "FormSubmissionPaymentCPPay": {
      "type": "object",
      "additionalProperties": true,
      "properties": {
        "paymentTransaction": {
          "$ref": "#/definitions/CPPayTransactionDetailsViewModelResponseEnvelope"
        }
      }
    },
    "CPPayTransactionDetailsViewModelResponseEnvelope": {
      "type": "object",
      "additionalProperties": true,
      "properties": {
        "result": {
          "$ref": "#/definitions/CPPayTransactionDetailsViewModel"
        },
        "timeGenerated": {
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Time Generated"
        },
        "isSuccess": {
          "type": "boolean",
          "readOnly": true,
          "x-ms-visibility": "internal"
        },
        "error": {
          "$ref": "#/definitions/CPPayErrorViewModel",
          "x-ms-visibility": "internal"
        },
        "links": {
          "type": "object",
          "properties": {
            "details": {
              "$ref": "#/definitions/CPPayActionLinkViewModel"
            },
            "capture": {
              "$ref": "#/definitions/CPPayActionLinkViewModel"
            },
            "void": {
              "$ref": "#/definitions/CPPayActionLinkViewModel"
            },
            "refund": {
              "$ref": "#/definitions/CPPayActionLinkViewModel"
            }
          },
          "readOnly": true,
          "x-ms-visibility": "internal"
        }
      }
    },
    "CPPayErrorViewModel": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "code": {
          "$ref": "#/definitions/CPPayErrorCodeEnum"
        }
      }
    },
    "CPPayActionLinkViewModel": {
      "type": "object",
      "properties": {
        "href": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "CPPayTransactionDetailsViewModel": {
      "type": "object",
      "x-ms-summary": "Transaction",
      "properties": {
        "type": {
          "$ref": "#/definitions/CPPayTransactionTypeEnum"
        },
        "id": {
          "type": "string",
          "x-ms-summary": ": Id"
        },
        "token": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "state": {
          "$ref": "#/definitions/CPPayTransactionStateEnum"
        },
        "externalReferenceId": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "merchantCode": {
          "type": "string",
          "x-ms-summary": ": Merchant Code"
        },
        "paymentMethodType": {
          "$ref": "#/definitions/CPPayPaymentMethodTypeEnum"
        },
        "lastFour": {
          "type": "string",
          "x-ms-summary": ": Credit Card : Last 4 Digits"
        },
        "expMonth": {
          "type": "integer",
          "x-ms-summary": ": Credit Card : Expiration Month"
        },
        "expYear": {
          "type": "integer",
          "x-ms-summary": ": Credit Card : Expiration Year"
        },
        "paymentType": {
          "$ref": "#/definitions/CPPayPaymentTypeEnum"
        },
        "amount": {
          "type": "number",
          "format": "double",
          "x-ms-summary": ": Amount"
        },
        "responseType": {
          "$ref": "#/definitions/CPPayResponseTypeEnum",
          "x-ms-visibility": "internal"
        },
        "errorCode": {
          "$ref": "#/definitions/CPPayErrorCodeEnum"
        },
        "customerReceipt": {
          "type": "string",
          "x-ms-summary": ": Customer Receipt"
        },
        "merchantReceipt": {
          "type": "string",
          "x-ms-summary": ": Merchant Receipt"
        },
        "customerSignatureFormat": {
          "$ref": "#/definitions/CPPaySignatureFormatEnum"
        },
        "customerSignature": {
          "type": "string",
          "x-ms-summary": ": Customer Signature"
        },
        "savedPaymentMethodToken": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "isSuccessSavedPaymentMethod": {
          "type": "boolean",
          "x-ms-visibility": "internal"
        },
        "createdOnUtc": {
          "type": "string",
          "readOnly": true,
          "x-ms-summary": ": Created Date"
        },
        "lastModifiedOnUtc": {
          "type": "string",
          "readOnly": true,
          "x-ms-summary": ": Last Updated Date"
        }
      },
      "additionalProperties": true
    },
    "CPPayTransactionTypeEnum": {
      "enum": [
        "Unknown",
        "HostedFormAuthorization",
        "HostedFormSale",
        "HostedFormSavePaymentMethod",
        "SystemSavePaymentMethod",
        "SavedPaymentMethodAuthorization",
        "SavedPaymentMethodSale",
        "SavedPaymentMethodRemove",
        "AuthorizationCapture",
        "Void",
        "Refund"
      ],
      "type": "string",
      "x-ms-summary": ": Type"
    },
    "CPPayTransactionStateEnum": {
      "enum": [
        "InProgress",
        "Authorized",
        "Captured",
        "Voided",
        "PartiallyRefunded",
        "CompletelyRefunded",
        "Declined",
        "Errored",
        "Canceled",
        "Abandoned",
        "Completed"
      ],
      "type": "string",
      "x-ms-summary": ": State"
    },
    "CPPayPaymentMethodTypeEnum": {
      "enum": [
        "Unknown",
        "Visa",
        "MasterCard",
        "Amex",
        "Discover",
        "Checking",
        "Savings"
      ],
      "type": "string",
      "x-ms-summary": ": Payment Method"
    },
    "CPPayPaymentTypeEnum": {
      "enum": ["CreditDebitCard", "Ach"],
      "type": "string",
      "x-ms-summary": ": Payment Type"
    },
    "CPPayResponseTypeEnum": {
      "enum": ["Incomplete", "Success", "Fail"],
      "type": "string"
    },
    "CPPayErrorCodeEnum": {
      "enum": [
        "NoError",
        "BadRequest",
        "Unauthorized",
        "NotFound",
        "Unavailable",
        "InvalidApiCredentials",
        "CardTypeNotEnabled",
        "MissingRequestFields",
        "InvalidConfiguration",
        "BlockedIpAddress",
        "OperationNotSupported",
        "UnknownInternalError",
        "TransactionCanceled",
        "SecurityTokenMismatch",
        "ExpiredSession",
        "OutstandingTransactionsExist",
        "MissingFormFields",
        "UnknownOrInvalidTokenData",
        "CardNumberInvalid",
        "CardLimitExceeded",
        "CardExpired",
        "CardExpirationInvalid",
        "CardCvvInvalid",
        "CardAvsFailed",
        "CardDeclined",
        "CardDeclinedFraud",
        "CardDeclinedCallForApproval",
        "CardDeclinedCallIssuer",
        "CardDeclinedPossibleLost",
        "CardDeclinedPossibleStolen",
        "CardDeclinedLostOrStolen",
        "CardDeclinedPickUpCard",
        "CardDeclinedInsufficientFunds",
        "CardDeclinedNoAccount",
        "CardDeclinedContactIssuingBank",
        "CardDeclinedByDevice",
        "CardPartialApproval",
        "CardNotFound",
        "CardDeclinedLost",
        "CardDeclinedStolen",
        "CardDeclinedWrongPin",
        "CardDeclinedInvalid",
        "CardDeclinedWithdrawLimit",
        "CardDeclinedPossibleFraud",
        "CardDeclinedWrongPinLimit",
        "CardOk",
        "CardDeclinedCantVerifyPin",
        "SignatureDeclined",
        "CardDeclinedPartialAuth",
        "CardDeclinedSwipeOnly",
        "CardDeclinedTrackInvalid",
        "CardDeclinedSwipeError",
        "CardDeclinedChipError",
        "CardMismatch",
        "PaymentMethodNotSupported",
        "AmountInvalid",
        "AmountLimitExceeded",
        "InvalidCurrency",
        "DuplicateTransaction",
        "InvalidTransaction",
        "TransactionNotAllowedCallIssuer",
        "TransactionAbandoned",
        "TransactionReenter",
        "TransactionReversalDataDoesNotMatchIssuer",
        "TransactionTimeOut",
        "TransactionStopSingleRecurringPayment",
        "TransactionStopRecurringPayment",
        "TransactionStopAllRecurringPaymentsForThisCard",
        "TransactionTerminalIdError",
        "TransactionAborted",
        "TransactionUnsupported",
        "TransactionAlreadyVoided",
        "TransactionInvalidTaxExceedAmount",
        "TransactionNotFound",
        "TransactionDataMismatch",
        "TransactionResponseDataMissing",
        "TransactionAlreadyRefunded",
        "TransactionAlreadyCaptured",
        "TransactionRejected",
        "TransactionDisputed",
        "TransactionAlreadyInProgress",
        "TransactionCaptureFailed",
        "TransactionVoidFailed",
        "TransactionAuthorizationFailed",
        "TransactionSavePaymentFailed",
        "TransactionListRetrievalFailed",
        "TemporaryErrorPleaseTryAgain",
        "TemporaryErrorDoNotTryAgain",
        "UnknownMerchantError",
        "UnsupportedDataFormatError",
        "InvalidRequestToGateway",
        "GatewayOperationError",
        "CustomerDataCouldNotBeFound",
        "MerchantClosed",
        "SecViolation",
        "DateError",
        "CheckDigitError",
        "CIDFormatError",
        "MerchantTransactionLimitExceeded",
        "InvalidGatewayConfigurationCredentials",
        "TerminalRemoveCardFirst",
        "TerminalUnsupportedEDC",
        "TerminalBatchFailed",
        "TerminalConnectionError",
        "TerminalReceiveMessageError",
        "TerminalCommunicationError",
        "TerminalVariableError",
        "TerminalPINPadError",
        "TerminalUnknownError",
        "TerminalNoHostApp",
        "TerminalSettlementRequested",
        "TerminalPartialBatchClosed",
        "TerminalPrinterNotSupported",
        "TerminalPrinterDisabled",
        "TerminalPrinterOutOfPaper",
        "TerminalInternalError",
        "TerminalSendMessageError",
        "TerminalUnsupportedCommand",
        "TerminalTypeInvalid",
        "TerminalInvalid",
        "TerminalUpdatePending",
        "AccountError",
        "AccountOnHold",
        "AccountRoutingError",
        "AccountNumberInvalid"
      ],
      "type": "string",
      "x-ms-summary": ": Error Code"
    },
    "CPPaySignatureFormatEnum": {
      "enum": ["RawData", "Png", "SigBin2"],
      "type": "string",
      "x-ms-summary": ": Signature Format"
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "apiKey": {
      "type": "apiKey",
      "name": "X-API-Key",
      "in": "header"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "http://oneblink.io/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "http://oneblink.io/legal/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Data"
    }
  ]
}
