{
  "swagger": "2.0",
  "info": {
    "title": "SOCRadar XTI MCP",
    "description": "Bring SOCRadar Extended Threat Intelligence (XTI) into Microsoft Copilot. Enrich indicators of compromise (IP, domain, file hash, URL), investigate threat actors and vulnerabilities, monitor dark web credential leaks, track ransomware activity, and triage incidents - all through the SOCRadar Model Context Protocol (MCP) server.",
    "version": "1.0.0",
    "contact": {
      "name": "SOCRadar Support",
      "url": "https://socradar.io/contact/",
      "email": "support@socradar.io"
    }
  },
  "host": "mcp.socradar.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/": {
      "post": {
        "responses": {
          "200": {
            "description": "Immediate Response"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "x-ms-agentic-protocol": "mcp-streamable-1.0",
        "operationId": "InvokeServer",
        "summary": "SOCRadar XTI MCP",
        "description": "Streamable HTTP endpoint for the SOCRadar Extended Threat Intelligence MCP server.",
        "x-ms-visibility": "advanced"
      }
    }
  },
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://mcp.socradar.com/authorize",
      "tokenUrl": "https://mcp.socradar.com/token",
      "scopes": {
        "tools:read": "Read SOCRadar threat intelligence tools and data",
        "tools:execute": "Execute SOCRadar threat intelligence tools"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "tools:read",
        "tools:execute"
      ]
    }
  ],
  "tags": [
    {
      "name": "SOCRadar XTI MCP"
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://socradar.io/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://socradar.io/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Security;IT Operations"
    }
  ]
}
