{
  "swagger": "2.0",
  "info": {
    "title": "World Bank (Independent Publisher)",
    "description": "Power Platform custom connector for accessing World Bank Indicators, Country Metadata, and Reference Data.",
    "version": "1.0.0",
    "contact": {
      "name": "Dan Romano",
      "url": "https://developments.substack.com/p/institutionalized",
      "email": "dan.romano@swolcat.com"
    },
    "x-ms-connector-metadata": [
      {
        "propertyName": "Website",
        "propertyValue": "https://www.worldbank.org/en/about/legal/privacy-notice"
      },
      {
        "propertyName": "Privacy policy",
        "propertyValue": "https://datahelpdesk.worldbank.org/knowledgebase/topics/125589-developer-information"
      },
      {
        "propertyName": "Categories",
        "propertyValue": "Finance;Commerce"
      }
    ]
  },
  "host": "api.worldbank.org",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/country/{countryCode}/indicator/{indicatorCode}": {
      "get": {
        "tags": [
          "Indicators"
        ],
        "summary": "Query Indicator Data",
        "description": "Retrieve a time series of an economic indicator for a country, region, or income group. Supports 'all' for all countries.",
        "operationId": "QueryIndicatorData",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Country code",
            "description": "The ISO 3-letter country code (e.g., USA, FRA, JPN)."
          },
          {
            "name": "indicatorCode",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Indicator code",
            "description": "World Bank indicator code (e.g., SP.POP.TOTL, NY.GDP.MKTP.CD)."
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-summary": "Response format",
            "description": "The format of the response. Use 'json' for JSON, or 'xml' for XML."
          },
          {
            "name": "mrv",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Most recent values",
            "description": "The number of most recent values to retrieve. Overrides the date range if specified."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page number",
            "description": "Page number of results to retrieve, for paginated responses."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Results per page",
            "description": "Number of records to return per page."
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": "^\\d{4}(:\\d{4})?$",
            "x-ms-summary": "Year or range of years",
            "description": "Filter by a specific year (e.g., '2020') or range (e.g., '2010:2020')."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/country/{countryCode}": {
      "get": {
        "tags": [
          "Reference"
        ],
        "summary": "Get Country Metadata",
        "description": "Retrieve region, income level, capital, and other country metadata.",
        "operationId": "GetCountryMetadata",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Country code",
            "description": "The ISO 3-letter country code to retrieve (e.g., BRA, DEU, IND)."
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-summary": "Response format",
            "description": "The format of the response. Use 'json' for JSON, or 'xml' for XML."
          },
          {
            "name": "mrv",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Most recent values",
            "description": "The number of most recent values to retrieve. Overrides the date range if specified."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page number",
            "description": "Page number of results to retrieve, for paginated responses."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Results per page",
            "description": "Number of records to return per page."
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": "^\\d{4}(:\\d{4})?$",
            "x-ms-summary": "Year or range of years",
            "description": "Filter by a specific year (e.g., '2020') or range (e.g., '2010:2020')."
          }
        ],
        "responses": {
          "200": {
            "description": "Country code for a country"
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/indicator/{indicatorCode}": {
      "get": {
        "tags": [
          "Indicators"
        ],
        "summary": "Get Indicator Metadata",
        "description": "Retrieve detailed metadata about a specific World Bank indicator, including source and topic.",
        "operationId": "GetIndicatorMetadata",
        "parameters": [
          {
            "name": "indicatorCode",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Indicator code",
            "description": "World Bank indicator code to retrieve (e.g., SP.POP.TOTL)."
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-summary": "Response format",
            "description": "The format of the response. Use 'json' for JSON, or 'xml' for XML."
          },
          {
            "name": "mrv",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Most recent values",
            "description": "The number of most recent values to retrieve. Overrides the date range if specified."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page number",
            "description": "Page number of results to retrieve, for paginated responses."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Results per page",
            "description": "Number of records to return per page."
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": "^\\d{4}(:\\d{4})?$",
            "x-ms-summary": "Year or range of years",
            "description": "Filter by a specific year (e.g., '2020') or range (e.g., '2010:2020')."
          }
        ],
        "responses": {
          "200": {
            "description": "Metadata for a single indicator"
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/country": {
      "get": {
        "tags": [
          "Reference"
        ],
        "summary": "Search Countries by Region or Income Level",
        "description": "Returns a list of countries, optionally filtered by region or income level.",
        "operationId": "SearchCountries",
        "parameters": [
          {
            "name": "incomeLevel",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Income level filter",
            "description": "Filter countries by income level (e.g., LIC, MIC, HIC)."
          },
          {
            "name": "lendingType",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Lending type filter",
            "description": "Filter countries by lending type (e.g., IBR, IDX, HIC"
          },
          {
            "name": "region",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Region filter",
            "description": "Filter countries by region code (e.g., EAS, SSA)"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-summary": "Response format",
            "description": "The format of the response. Use 'json' for JSON, or 'xml' for XML."
          },
          {
            "name": "mrv",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Most recent values",
            "description": "The number of most recent values to retrieve. Overrides the date range if specified."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page number",
            "description": "Page number of results to retrieve, for paginated responses."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Results per page",
            "description": "Number of records to return per page."
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": "^\\d{4}(:\\d{4})?$",
            "x-ms-summary": "Year or range of years",
            "description": "Filter by a specific year (e.g., '2020') or range (e.g., '2010:2020')."
          }
        ],
        "responses": {
          "200": {
            "description": "Country list with pagination metadata"
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/indicator": {
      "get": {
        "tags": [
          "Reference"
        ],
        "summary": "Get All Indicators",
        "description": "Returns a list of World Bank indicators.",
        "operationId": "GetAllIndicators",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-summary": "Response format",
            "description": "The format of the response. Use 'json' for JSON, or 'xml' for XML."
          },
          {
            "name": "mrv",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Most recent values",
            "description": "The number of most recent values to retrieve. Overrides the date range if specified."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page number",
            "description": "Page number of results to retrieve, for paginated responses."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Results per page",
            "description": "Number of records to return per page."
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": "^\\d{4}(:\\d{4})?$",
            "x-ms-summary": "Year or range of years",
            "description": "Filter by a specific year (e.g., '2020') or range (e.g., '2010:2020')."
          }
        ],
        "responses": {
          "200": {
            "description": "Source list with metadata"
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/region": {
      "get": {
        "tags": [
          "Reference"
        ],
        "summary": "Get All Regions",
        "description": "Returns a list of regional classifications used by the World Bank.",
        "operationId": "GetAllRegions",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-summary": "Response format",
            "description": "The format of the response. Use 'json' for JSON, or 'xml' for XML."
          },
          {
            "name": "mrv",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Most recent values",
            "description": "The number of most recent values to retrieve. Overrides the date range if specified."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page number",
            "description": "Page number of results to retrieve, for paginated responses."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Results per page",
            "description": "Number of records to return per page."
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": "^\\d{4}(:\\d{4})?$",
            "x-ms-summary": "Year or range of years",
            "description": "Filter by a specific year (e.g., '2020') or range (e.g., '2010:2020')."
          }
        ],
        "responses": {
          "200": {
            "description": "Region list"
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/incomeLevel": {
      "get": {
        "tags": [
          "Reference"
        ],
        "summary": "Get All Income Levels",
        "description": "Returns income levels used by the World Bank.",
        "operationId": "GetAllIncomeLevels",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-summary": "Response format",
            "description": "The format of the response. Use 'json' for JSON, or 'xml' for XML."
          },
          {
            "name": "mrv",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Most recent values",
            "description": "The number of most recent values to retrieve. Overrides the date range if specified."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page number",
            "description": "Page number of results to retrieve, for paginated responses."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Results per page",
            "description": "Number of records to return per page."
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": "^\\d{4}(:\\d{4})?$",
            "x-ms-summary": "Year or range of years",
            "description": "Filter by a specific year (e.g., '2020') or range (e.g., '2010:2020')."
          }
        ],
        "responses": {
          "200": {
            "description": "Get all income levels"
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/lendingType": {
      "get": {
        "tags": [
          "Reference"
        ],
        "summary": "Get All Lending Types",
        "description": "Returns World Bank lending types.",
        "operationId": "GetAllLendingTypes",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-summary": "Response format",
            "description": "The format of the response. Use 'json' for JSON, or 'xml' for XML."
          },
          {
            "name": "mrv",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Most recent values",
            "description": "The number of most recent values to retrieve. Overrides the date range if specified."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page number",
            "description": "Page number of results to retrieve, for paginated responses."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Results per page",
            "description": "Number of records to return per page."
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": "^\\d{4}(:\\d{4})?$",
            "x-ms-summary": "Year or range of years",
            "description": "Filter by a specific year (e.g., '2020') or range (e.g., '2010:2020')."
          }
        ],
        "responses": {
          "200": {
            "description": "Lending types with metadata"
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/country/{regionCode}/indicator/NY.GDP.MKTP.CD": {
      "get": {
        "tags": [
          "GDP"
        ],
        "summary": "Get GDP for a Region",
        "description": "Retrieves GDP (current US$) for all countries in a region for a given year.",
        "operationId": "GetGDPForRegion",
        "parameters": [
          {
            "name": "regionCode",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Region code (e.g., SSF, EAS, LCN)",
            "description": "Region code"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-summary": "Response format",
            "description": "The format of the response. Use 'json' for JSON, or 'xml' for XML."
          },
          {
            "name": "mrv",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Most recent values",
            "description": "The number of most recent values to retrieve. Overrides the date range if specified."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page number",
            "description": "Page number of results to retrieve, for paginated responses."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Results per page",
            "description": "Number of records to return per page."
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": "^\\d{4}(:\\d{4})?$",
            "x-ms-summary": "Year or range of years",
            "description": "Filter by a specific year (e.g., '2020') or range (e.g., '2010:2020')."
          }
        ],
        "responses": {
          "200": {
            "description": "Indicator data for region"
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/country/{countryCode}/indicator/FP.CPI.TOTL.ZG": {
      "get": {
        "tags": [
          "Inflation"
        ],
        "summary": "Get Inflation (Consumer Price Index)",
        "description": "Retrieves inflation data (annual %) for a specific country and year.",
        "operationId": "GetInflation",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Country code",
            "description": "3-letter ISO country code used to identify the country."
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-summary": "Response format",
            "description": "The format of the response. Use 'json' for JSON, or 'xml' for XML."
          },
          {
            "name": "mrv",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Most recent values",
            "description": "The number of most recent values to retrieve. Overrides the date range if specified."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page number",
            "description": "Page number of results to retrieve, for paginated responses."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Results per page",
            "description": "Number of records to return per page."
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": "^\\d{4}(:\\d{4})?$",
            "x-ms-summary": "Year or range of years",
            "description": "Filter by a specific year (e.g., '2020') or range (e.g., '2010:2020')."
          }
        ],
        "responses": {
          "200": {
            "description": "Inflation indicator data for country (full array with metadata and records)"
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/country/{countryCode}/indicator/GC.DOD.TOTL.GD.ZS": {
      "get": {
        "tags": [
          "Debt"
        ],
        "summary": "Get Debt-to-GDP Ratio",
        "description": "Retrieves general government gross debt as a percentage of GDP.",
        "operationId": "GetDebtToGDP",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Country code",
            "description": "3-letter ISO country code used to identify the country."
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-summary": "Response format",
            "description": "The format of the response. Use 'json' for JSON, or 'xml' for XML."
          },
          {
            "name": "mrv",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Most recent values",
            "description": "The number of most recent values to retrieve. Overrides the date range if specified."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page number",
            "description": "Page number of results to retrieve, for paginated responses."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Results per page",
            "description": "Number of records to return per page."
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": "^\\d{4}(:\\d{4})?$",
            "x-ms-summary": "Year or range of years",
            "description": "Filter by a specific year (e.g., '2020') or range (e.g., '2010:2020')."
          }
        ],
        "responses": {
          "200": {
            "description": "Government debt (as % of GDP) indicator data for the specified country over time. Includes full array with pagination metadata and records."
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/country/{incomeLevelCode}/indicator/SP.DYN.LE00.IN": {
      "get": {
        "tags": [
          "Life Expectancy"
        ],
        "summary": "Get Life Expectancy by Income Level",
        "description": "Retrieves life expectancy for countries in a given income level group.",
        "operationId": "GetLifeExpectancyForIncomeLevel",
        "parameters": [
          {
            "name": "incomeLevelCode",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Income level code (e.g., LIC, MIC, HIC)",
            "description": "Income level code"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-summary": "Response format",
            "description": "The format of the response. Use 'json' for JSON, or 'xml' for XML."
          },
          {
            "name": "mrv",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Most recent values",
            "description": "The number of most recent values to retrieve. Overrides the date range if specified."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page number",
            "description": "Page number of results to retrieve, for paginated responses."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Results per page",
            "description": "Number of records to return per page."
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": "^\\d{4}(:\\d{4})?$",
            "x-ms-summary": "Year or range of years",
            "description": "Filter by a specific year (e.g., '2020') or range (e.g., '2010:2020')."
          }
        ],
        "responses": {
          "200": {
            "description": "Life expectancy data for income level group over time. Includes full array with pagination metadata and records."
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/country/{countryCode}/indicator/SE.ADT.LITR.ZS": {
      "get": {
        "tags": [
          "Education"
        ],
        "summary": "Get Literacy Rate for a Country",
        "description": "Returns the adult literacy rate (% of people ages 15+) for a specific country.",
        "operationId": "GetLiteracyRate",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Country code",
            "description": "3-letter ISO country code used to identify the country."
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-summary": "Response format",
            "description": "The format of the response. Use 'json' for JSON, or 'xml' for XML."
          },
          {
            "name": "mrv",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Most recent values",
            "description": "The number of most recent values to retrieve. Overrides the date range if specified."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page number",
            "description": "Page number of results to retrieve, for paginated responses."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Results per page",
            "description": "Number of records to return per page."
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": "^\\d{4}(:\\d{4})?$",
            "x-ms-summary": "Year or range of years",
            "description": "Filter by a specific year (e.g., '2020') or range (e.g., '2010:2020')."
          }
        ],
        "responses": {
          "200": {
            "description": "Literacy rate data. Includes full array with pagination metadata and records."
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/country/{countryCode}/indicator/SE.PRM.NENR": {
      "get": {
        "tags": [
          "Education"
        ],
        "summary": "Get Primary School Enrollment (Net Percent)",
        "description": "Returns primary school net enrollment rate for a given country.",
        "operationId": "GetPrimarySchoolEnrollment",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Country code",
            "description": "3-letter ISO country code used to identify the country."
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-summary": "Response format",
            "description": "The format of the response. Use 'json' for JSON, or 'xml' for XML."
          },
          {
            "name": "mrv",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Most recent values",
            "description": "The number of most recent values to retrieve. Overrides the date range if specified."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page number",
            "description": "Page number of results to retrieve, for paginated responses."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Results per page",
            "description": "Number of records to return per page."
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": "^\\d{4}(:\\d{4})?$",
            "x-ms-summary": "Year or range of years",
            "description": "Filter by a specific year (e.g., '2020') or range (e.g., '2010:2020')."
          }
        ],
        "responses": {
          "200": {
            "description": "Net enrollment rate data. Includes full array with pagination metadata and records."
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/topic": {
      "get": {
        "tags": [
          "Reference"
        ],
        "summary": "Get All Topics",
        "description": "Returns a list of indicator topics (e.g., Health, Education, Environment).",
        "operationId": "GetAllTopics",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-summary": "Response format",
            "description": "The format of the response. Use 'json' for JSON, or 'xml' for XML."
          },
          {
            "name": "mrv",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Most recent values",
            "description": "The number of most recent values to retrieve. Overrides the date range if specified."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page number",
            "description": "Page number of results to retrieve, for paginated responses."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Results per page",
            "description": "Number of records to return per page."
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": "^\\d{4}(:\\d{4})?$",
            "x-ms-summary": "Year or range of years",
            "description": "Filter by a specific year (e.g., '2020') or range (e.g., '2010:2020')."
          }
        ],
        "responses": {
          "200": {
            "description": "Topic list"
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/source": {
      "get": {
        "tags": [
          "Reference"
        ],
        "summary": "Get All Data Sources",
        "description": "Returns a list of data sources (e.g., IMF, WHO, UNESCO).",
        "operationId": "GetAllSources",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-summary": "Response format",
            "description": "The format of the response. Use 'json' for JSON, or 'xml' for XML."
          },
          {
            "name": "mrv",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Most recent values",
            "description": "The number of most recent values to retrieve. Overrides the date range if specified."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page number",
            "description": "Page number of results to retrieve, for paginated responses."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Results per page",
            "description": "Number of records to return per page."
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": "^\\d{4}(:\\d{4})?$",
            "x-ms-summary": "Year or range of years",
            "description": "Filter by a specific year (e.g., '2020') or range (e.g., '2010:2020')."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/incomeLevel/{incomeLevel}/country": {
      "get": {
        "tags": [
          "Income Level"
        ],
        "summary": "Get Countries by Income Level",
        "description": "Returns a list of countries classified under a specific income level.",
        "operationId": "GetCountriesByIncomeLevel",
        "parameters": [
          {
            "name": "incomeLevel",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Income level code (e.g., LIC, MIC, HIC)",
            "description": "Income level code"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-summary": "Response format",
            "description": "The format of the response. Use 'json' for JSON, or 'xml' for XML."
          },
          {
            "name": "mrv",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Most recent values",
            "description": "The number of most recent values to retrieve. Overrides the date range if specified."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page number",
            "description": "Page number of results to retrieve, for paginated responses."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Results per page",
            "description": "Number of records to return per page."
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": "^\\d{4}(:\\d{4})?$",
            "x-ms-summary": "Year or range of years",
            "description": "Filter by a specific year (e.g., '2020') or range (e.g., '2010:2020')."
          }
        ],
        "responses": {
          "200": {
            "description": "List of countries grouped by income level (e.g., LIC, MIC, HIC). Includes pagination metadata and country records."
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/region/{regionCode}/country": {
      "get": {
        "tags": [
          "Reference"
        ],
        "summary": "Get Countries by Region",
        "description": "Returns a list of countries within a specific region.",
        "operationId": "GetCountriesByRegion",
        "parameters": [
          {
            "name": "regionCode",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Region code (e.g., EAS, SSA)",
            "description": "Region code"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-summary": "Response format",
            "description": "The format of the response. Use 'json' for JSON, or 'xml' for XML."
          },
          {
            "name": "mrv",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Most recent values",
            "description": "The number of most recent values to retrieve. Overrides the date range if specified."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page number",
            "description": "Page number of results to retrieve, for paginated responses."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Results per page",
            "description": "Number of records to return per page."
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": "^\\d{4}(:\\d{4})?$",
            "x-ms-summary": "Year or range of years",
            "description": "Filter by a specific year (e.g., '2020') or range (e.g., '2010:2020')."
          }
        ],
        "responses": {
          "200": {
            "description": "Country list within a region"
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/country/{countryCode}/indicator/SE.XPD.TOTL.GD.ZS": {
      "get": {
        "tags": [
          "Education"
        ],
        "summary": "Get Public Education Spending (Percent of GDP)",
        "description": "Returns government expenditure on education as a percentage of GDP for a given country.",
        "operationId": "GetEducationSpending",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Country code",
            "description": "3-letter ISO country code used to identify the country."
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-summary": "Response format",
            "description": "The format of the response. Use 'json' for JSON, or 'xml' for XML."
          },
          {
            "name": "mrv",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Most recent values",
            "description": "The number of most recent values to retrieve. Overrides the date range if specified."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page number",
            "description": "Page number of results to retrieve, for paginated responses."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Results per page",
            "description": "Number of records to return per page."
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": "^\\d{4}(:\\d{4})?$",
            "x-ms-summary": "Year or range of years",
            "description": "Filter by a specific year (e.g., '2020') or range (e.g., '2010:2020')."
          }
        ],
        "responses": {
          "200": {
            "description": "Education spending data. Includes full array with pagination metadata and records."
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/country/all/indicator/NE.EXP.GNFS.CD": {
      "get": {
        "tags": [
          "Indicators"
        ],
        "summary": "Global Export Trends",
        "description": "Returns time series data for exports of goods and services (current US$) across all countries.",
        "operationId": "CompareExportsOverTime",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-summary": "Response format",
            "description": "The format of the response. Use 'json' for JSON, or 'xml' for XML."
          },
          {
            "name": "mrv",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Most recent values",
            "description": "The number of most recent values to retrieve. Overrides the date range if specified."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page number",
            "description": "Page number of results to retrieve, for paginated responses."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Results per page",
            "description": "Number of records to return per page."
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": "^\\d{4}(:\\d{4})?$",
            "x-ms-summary": "Year or range of years",
            "description": "Filter by a specific year (e.g., '2020') or range (e.g., '2010:2020')."
          }
        ],
        "responses": {
          "200": {
            "description": "Export indicator data for all countries"
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        },
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {
    "IndicatorMetadata": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Indicator code (e.g., SP.POP.TOTL)"
        },
        "name": {
          "type": "string",
          "description": "Human-readable name of the indicator"
        },
        "unit": {
          "type": "string",
          "description": "Unit of measurement"
        },
        "source": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          }
        },
        "sourceNote": {
          "type": "string",
          "description": "Methodological note or definition"
        },
        "sourceOrganization": {
          "type": "string",
          "description": "Organization(s) responsible for the indicator"
        },
        "topics": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "detail": {
          "type": "string"
        }
      }
    },
    "GenericIndicatorRecord": {
      "type": "object",
      "properties": {
        "indicator": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          }
        },
        "country": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          }
        },
        "countryiso3code": {
          "type": "string"
        },
        "date": {
          "type": "string"
        },
        "value": {
          "type": "number"
        },
        "unit": {
          "type": "string"
        },
        "obs_status": {
          "type": "string"
        },
        "decimal": {
          "type": "integer"
        }
      }
    },
    "CountryMetadataRecord": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "3-letter ISO country code (e.g., AFG)"
        },
        "iso2Code": {
          "type": "string",
          "description": "2-letter ISO country code (e.g., AF)"
        },
        "name": {
          "type": "string",
          "description": "Full country name"
        },
        "region": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "iso2code": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          }
        },
        "adminregion": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "iso2code": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          }
        },
        "incomeLevel": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "iso2code": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          }
        },
        "lendingType": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "iso2code": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          }
        },
        "capitalCity": {
          "type": "string"
        },
        "longitude": {
          "type": "string"
        },
        "latitude": {
          "type": "string"
        }
      }
    },
    "TopicMetadata": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "SourceMetadata": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "LendingTypeMetadata": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "iso2code": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "IncomeLevelMetadata": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Income level ID (e.g., HIC, LIC, MIC)"
        },
        "iso2code": {
          "type": "string",
          "description": "2-letter ISO income group code"
        },
        "value": {
          "type": "string",
          "description": "Income level label (e.g., High income)"
        }
      }
    },
    "RegionMetadata": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Region ID (e.g., EAS)"
        },
        "iso2code": {
          "type": "string",
          "description": "2-letter ISO region code"
        },
        "value": {
          "type": "string",
          "description": "Region name"
        }
      }
    },
    "Source": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {},
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.worldbank.org/en/about/legal/privacy-notice"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://datahelpdesk.worldbank.org/knowledgebase/topics/125589-developer-information"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Finance;Commerce"
    }
  ]
}