{
    "x-generator": "NSwag v14.4.0.0 (NJsonSchema v11.3.2.0 (Newtonsoft.Json v13.0.0.0))",
    "swagger": "2.0",
    "info": {
        "title": "Glaass Pro",
        "version": "v2026.01",
        "description": "Enables users to interact with forms (Cases) filled out in Glaass and extract data from Case fields. Triggers include Case creation and Case updates, allowing users to set up custom workflows for templates in Glaass projects whenever changes occur, whether for actioning or recording purposes. Useful for custom workflow automations, data integration, supporting construction-related notifications, and enhancing operational efficiency in the field and office.",
        "contact": {
            "name": "Glaass Pty Ltd",
            "url": "https://glaass.net",
            "email": "support@glaass.net"
        }
    },
    "host": "api.glaass.net",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/api/me": {
            "get": {
                "tags": [
                    "Account"
                ],
                "operationId": "Account_Get",
                "summary": "Get the Connected User Account and Connected Project Information",
                "description": "Retrieves connected user account and project information",
                "x-ms-visibility": "important",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Account and project details",
                        "schema": {
                            "$ref": "#/definitions/AccountResponse"
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/api/s": {
            "get": {
                "tags": [
                    "Templates"
                ],
                "operationId": "CaseType_GetList",
                "summary": "Get List of Templates",
                "description": "Gets a list of Templates within the connected project",
                "x-ms-visibility": "important",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The list of Templates",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TemplateResponse"
                            }
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/api/t/casecreated": {
            "x-ms-notification-content": {
                "schema": {
                    "$ref": "#/definitions/CaseCreatedNotificationContent"
                },
                "description": "Newly created case"
            },
            "post": {
                "tags": [
                    "Case"
                ],
                "operationId": "Case_Created_Trigger",
                "summary": "When a New Case is Created",
                "description": "Trigger when a new Glaass Case is created",
                "x-ms-visibility": "important",
                "x-ms-trigger": "single",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "TemplateId": {
                                    "type": "string",
                                    "description": "Choose the relevant Template",
                                    "title": "Template ID",
                                    "x-ms-visibility": "important",
                                    "x-ms-dynamic-values": {
                                        "operationId": "CaseType_GetList",
                                        "parameters": {},
                                        "value-path": "Id",
                                        "value-title": "Name"
                                    }
                                },
                                "Scope": {
                                    "type": "string",
                                    "enum": [
                                        "ByMe",
                                        "ForMe",
                                        "All"
                                    ],
                                    "description": "Choose when this automation triggers (ByMe, ForMe, All)",
                                    "title": "Scope",
                                    "x-ms-visibility": "important"
                                },
                                "Notification": {
                                    "type": "string",
                                    "description": "x-ms-notification-url",
                                    "title": "",
                                    "x-ms-visibility": "internal",
                                    "x-ms-notification-url": true
                                }
                            },
                            "required": [
                                "Notification"
                            ]
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Status code Created (201) and link to deregister web hook",
                        "schema": {
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/api/t/caseupdated": {
            "x-ms-notification-content": {
                "schema": {
                    "$ref": "#/definitions/CaseUpdatedNotificationContent"
                },
                "description": "Updated case"
            },
            "post": {
                "tags": [
                    "Case"
                ],
                "operationId": "Case_Updated_Trigger",
                "summary": "When an Existing Case is Updated",
                "description": "Trigger when an existing Glaass Case is updated",
                "x-ms-visibility": "important",
                "x-ms-trigger": "single",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "TemplateId": {
                                    "type": "string",
                                    "description": "Choose the relevant Template",
                                    "title": "Template ID",
                                    "x-ms-visibility": "important",
                                    "x-ms-dynamic-values": {
                                        "operationId": "CaseType_GetList",
                                        "parameters": {},
                                        "value-path": "Id",
                                        "value-title": "Name"
                                    }
                                },
                                "Scope": {
                                    "type": "string",
                                    "enum": [
                                        "ByMe",
                                        "ForMe",
                                        "All"
                                    ],
                                    "description": "Choose when this automation triggers (ByMe, ForMe, All)",
                                    "title": "Scope",
                                    "x-ms-visibility": "important"
                                },
                                "Notification": {
                                    "type": "string",
                                    "description": "x-ms-notification-url",
                                    "title": "",
                                    "x-ms-visibility": "internal",
                                    "x-ms-notification-url": true
                                }
                            },
                            "required": [
                                "Notification"
                            ]
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Status code Created (201) and link to deregister web hook",
                        "schema": {
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/api/t/caseclosed": {
            "x-ms-notification-content": {
                "schema": {
                    "$ref": "#/definitions/CaseClosedNotificationContent"
                },
                "description": "Case closed"
            },
            "post": {
                "tags": [
                    "Case"
                ],
                "operationId": "Case_Closed_Trigger",
                "summary": "When a Case is Closed",
                "description": "Trigger when a Case Status is set to Closed",
                "x-ms-visibility": "important",
                "x-ms-trigger": "single",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "TemplateId": {
                                    "type": "string",
                                    "description": "Choose the relevant Template",
                                    "title": "Template ID",
                                    "x-ms-visibility": "important",
                                    "x-ms-dynamic-values": {
                                        "operationId": "CaseType_GetList",
                                        "parameters": {},
                                        "value-path": "Id",
                                        "value-title": "Name"
                                    }
                                },
                                "Scope": {
                                    "type": "string",
                                    "enum": [
                                        "ByMe",
                                        "ForMe",
                                        "All"
                                    ],
                                    "description": "Choose when this automation triggers (ByMe, ForMe, All)",
                                    "title": "Scope",
                                    "x-ms-visibility": "important"
                                },
                                "Notification": {
                                    "type": "string",
                                    "description": "x-ms-notification-url",
                                    "title": "",
                                    "x-ms-visibility": "internal",
                                    "x-ms-notification-url": true
                                }
                            },
                            "required": [
                                "Notification"
                            ]
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Status code Created (201) and link to deregister web hook",
                        "schema": {
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/api/mt/metadatacreated": {
            "x-ms-notification-content": {
                "schema": {
                    "$ref": "#/definitions/MetadataNotificationContent"
                },
                "description": "Metadata created"
            },
            "post": {
                "tags": [
                    "Metadata"
                ],
                "operationId": "Metadata_Created_Trigger",
                "summary": "When a Metadata is Created",
                "description": "Trigger when a new metadata is created in Glaass",
                "x-ms-visibility": "important",
                "x-ms-trigger": "single",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "MetadataId": {
                                    "type": "string",
                                    "description": "Specific metadata ID to monitor",
                                    "title": "Metadata ID",
                                    "x-ms-visibility": "important",
                                    "example": "aceb364e-8f86-4599-90f3-41f77e107117"
                                },
                                "Notification": {
                                    "type": "string",
                                    "description": "x-ms-notification-url",
                                    "title": "",
                                    "x-ms-visibility": "internal",
                                    "x-ms-notification-url": true
                                }
                            },
                            "required": [
                                "Notification"
                            ]
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Status code Created (201) and link to deregister web hook",
                        "schema": {
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "X-Glaass-Token": []
                    }
                ]
            }
        },
        "/api/mt/metadataupdated": {
            "x-ms-notification-content": {
                "schema": {
                    "$ref": "#/definitions/MetadataNotificationContent"
                },
                "description": "Metadata updated"
            },
            "post": {
                "tags": [
                    "Metadata"
                ],
                "operationId": "Metadata_Updated_Trigger",
                "summary": "When a Metadata is Updated",
                "description": "Trigger when an existing Glaass metadata is updated",
                "x-ms-visibility": "important",
                "x-ms-trigger": "single",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "MetadataId": {
                                    "type": "string",
                                    "description": "Specific metadata ID to monitor",
                                    "title": "Metadata ID",
                                    "x-ms-visibility": "important",
                                    "example": "aceb364e-8f86-4599-90f3-41f77e107117"
                                },
                                "Notification": {
                                    "type": "string",
                                    "description": "x-ms-notification-url",
                                    "title": "",
                                    "x-ms-visibility": "internal",
                                    "x-ms-notification-url": true
                                }
                            },
                            "required": [
                                "Notification"
                            ]
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Status code Created (201) and link to deregister web hook",
                        "schema": {
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "X-Glaass-Token": []
                    }
                ]
            }
        },
        "/api/u": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get All Project Users",
                "operationId": "User_GetAll",
                "description": "Gets a list/array of all project users and their account details for the connected project",
                "responses": {
                    "200": {
                        "x-nullable": true,
                        "description": "List of users with ID, first name, last name, active, pending, sso, company, position, phone, email",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/UserListResponse"
                            }
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "X-Glaass-Token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Create New Project User",
                "operationId": "User_Post",
                "description": "Creates a new project user in Glaass",
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "description": "Request containing user details",
                        "schema": {
                            "type": "object",
                            "description": "Request for creating a new project user",
                            "required": [
                                "Email",
                                "FirstName",
                                "LastName",
                                "IsAdmin",
                                "IsReadOnly",
                                "IsDocumentController",
                                "IsFolderController",
                                "IsManagerial"
                            ],
                            "properties": {
                                "Email": {
                                    "type": "string",
                                    "description": "User email address",
                                    "x-ms-summary": "Email",
                                    "format": "email",
                                    "minLength": 1,
                                    "example": "ringo.doe@example.com"
                                },
                                "FirstName": {
                                    "type": "string",
                                    "description": "User First Name",
                                    "x-ms-summary": "First Name",
                                    "minLength": 1,
                                    "example": "Ringo"
                                },
                                "LastName": {
                                    "type": "string",
                                    "description": "User Last Name",
                                    "x-ms-summary": "Last Name",
                                    "minLength": 1,
                                    "example": "Doe"
                                },
                                "Company": {
                                    "type": "string",
                                    "description": "User Company",
                                    "x-ms-summary": "Company",
                                    "example": "Company Name"
                                },
                                "Position": {
                                    "type": "string",
                                    "description": "User Position",
                                    "x-ms-summary": "Position",
                                    "example": "Senior Engineer"
                                },
                                "Phone": {
                                    "type": "string",
                                    "description": "User Phone Number",
                                    "x-ms-summary": "Phone",
                                    "example": "+1234567890"
                                },
                                "IsAdmin": {
                                    "type": "boolean",
                                    "description": "Set up the User as Administrator?",
                                    "x-ms-summary": "Is Admin",
                                    "example": false
                                },
                                "IsReadOnly": {
                                    "type": "boolean",
                                    "description": "Set up User as Read Only?",
                                    "x-ms-summary": "Is Read Only",
                                    "example": false
                                },
                                "IsDocumentController": {
                                    "type": "boolean",
                                    "description": "Set up User as Document Controller?",
                                    "x-ms-summary": "Is Document Controller",
                                    "example": false
                                },
                                "IsFolderController": {
                                    "type": "boolean",
                                    "description": "Set up User as Folder Controller?",
                                    "x-ms-summary": "Is Folder Controller",
                                    "example": false
                                },
                                "IsManagerial": {
                                    "type": "boolean",
                                    "description": "Procide Managerial (i.e Analytics) Permissions?",
                                    "x-ms-summary": "Is Managerial",
                                    "example": false
                                }
                            }
                        },
                        "required": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "User created successfully",
                        "schema": {
                            "$ref": "#/definitions/UserResponse"
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "X-Glaass-Token": []
                    }
                ]
            }
        },
        "/api/u/{userId}": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get a User's Details",
                "operationId": "User_Get",
                "description": "Gets the Glaass account details of one user",
                "parameters": [
                    {
                        "type": "string",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "description": "The user identifier",
                        "x-ms-summary": "User ID",
                        "x-ms-url-encoding": "single",
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "User received successfully",
                        "schema": {
                            "$ref": "#/definitions/UserResponse"
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "X-Glaass-Token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Update User Active Status",
                "operationId": "User_Post2",
                "description": "Updates the active status of a user (active to deactivated or vice versa)",
                "parameters": [
                    {
                        "type": "string",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "description": "The user identifier",
                        "x-ms-summary": "User ID",
                        "x-nullable": false,
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "description": "Request containing the active status",
                        "schema": {
                            "type": "object",
                            "description": "Request to update user active status",
                            "required": [
                                "Active"
                            ],
                            "properties": {
                                "Active": {
                                    "type": "boolean",
                                    "description": "Set user status to Active (Yes) or Deactivated (No)",
                                    "x-ms-summary": "Active",
                                    "example": true
                                }
                            }
                        },
                        "required": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "User updated successfully",
                        "schema": {
                            "$ref": "#/definitions/UserResponse"
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "X-Glaass-Token": []
                    }
                ]
            }
        },
        "/api/m": {
            "get": {
                "tags": [
                    "Metadata"
                ],
                "summary": "Get All Project Metadata",
                "description": "Gets a list of metadata from the connected project",
                "operationId": "Metadata_GetAll",
                "responses": {
                    "200": {
                        "x-nullable": true,
                        "description": "List of metadata with MetadataId, Name, and FieldType",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/MetadataListResponse"
                            }
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "X-Glaass-Token": []
                    }
                ]
            }
        },
        "/api/m/{metadataId}": {
            "get": {
                "tags": [
                    "Metadata"
                ],
                "summary": "Get Specific Metadata Information",
                "description": "Gets information for a particular metadata field, using technical metadata ID",
                "operationId": "Metadata_Get",
                "parameters": [
                    {
                        "type": "string",
                        "name": "metadataId",
                        "x-ms-summary": "Metadata ID",
                        "in": "path",
                        "required": true,
                        "description": "The metadata technical identifier",
                        "x-nullable": false,
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": true,
                        "description": "Metadata details including switches",
                        "schema": {
                            "$ref": "#/definitions/MetadataResponse"
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "X-Glaass-Token": []
                    }
                ]
            }
        },
        "/api/m/{metadataId}/switch": {
            "get": {
                "tags": [
                    "Metadata"
                ],
                "summary": "Get Single or Multi Select List of Options",
                "description": "Gets a list of switches/options for single or multiple option select fields for a specific metadata",
                "operationId": "Metadata_GetSwitches",
                "parameters": [
                    {
                        "type": "string",
                        "name": "metadataId",
                        "x-ms-summary": "Metadata ID",
                        "in": "path",
                        "required": true,
                        "description": "The metadata technical identifier",
                        "x-nullable": false,
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": true,
                        "description": "List of switches with Id and Label",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/MetadataSwitchResponse"
                            }
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "X-Glaass-Token": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Metadata"
                ],
                "summary": "Replace Metadata Options with New List of Options",
                "description": "Replaces entire list of options for the metadata field with a new list of options, to be provided in this automation",
                "operationId": "Metadata_PutSwitches",
                "parameters": [
                    {
                        "type": "string",
                        "name": "metadataId",
                        "x-ms-summary": "Metadata ID",
                        "in": "path",
                        "required": true,
                        "description": "The metadata technical identifier",
                        "x-nullable": false,
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "Switches",
                        "in": "body",
                        "description": "List of options to replace existing ones",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "description": "Request for bulk switch operations",
                                "required": [
                                    "Id",
                                    "Label"
                                ],
                                "properties": {
                                    "Id": {
                                        "type": "string",
                                        "title": "Option ID",
                                        "description": "Switch/option technical identifier",
                                        "example": "switch-1"
                                    },
                                    "Label": {
                                        "type": "string",
                                        "title": "Option Label",
                                        "description": "Display label of the switch/option",
                                        "example": "Option 1"
                                    }
                                }
                            }
                        },
                        "required": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": true,
                        "description": "Updated list of switches",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/MetadataSwitchResponse"
                            }
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "X-Glaass-Token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Metadata"
                ],
                "summary": "Add New Option to Existing Metadata",
                "description": "Creates new switch/option for existing single or multi choice metadata",
                "operationId": "Metadata_PostSwitch",
                "parameters": [
                    {
                        "type": "string",
                        "name": "metadataId",
                        "x-ms-summary": "Metadata ID",
                        "in": "path",
                        "required": true,
                        "description": "The metadata technical identifier",
                        "x-nullable": false,
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "description": "Request containing the label for the new switch/option",
                        "schema": {
                            "type": "object",
                            "description": "Request for creating a new switch/option",
                            "required": [
                                "Label"
                            ],
                            "properties": {
                                "Label": {
                                    "type": "string",
                                    "title": "Option Label",
                                    "description": "Label for the new switch/option",
                                    "example": "New Option Label"
                                }
                            }
                        },
                        "required": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": true,
                        "description": "Created switch with Id and Label",
                        "schema": {
                            "$ref": "#/definitions/MetadataSwitchResponse"
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "X-Glaass-Token": []
                    }
                ]
            }
        },
        "/api/m/{metadataId}/switch/{switchId}": {
            "put": {
                "tags": [
                    "Metadata"
                ],
                "summary": "Update Existing Metadata Option Label",
                "description": "Updates the label of particular switch/option for an existing single or multi option select metadata",
                "operationId": "Metadata_PutSwitch",
                "parameters": [
                    {
                        "type": "string",
                        "name": "metadataId",
                        "x-ms-summary": "Metadata ID",
                        "in": "path",
                        "required": true,
                        "description": "The metadata technical identifier",
                        "x-nullable": false,
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "type": "string",
                        "name": "switchId",
                        "x-ms-summary": "Option ID",
                        "in": "path",
                        "required": true,
                        "description": "The switch/option technical identifier",
                        "x-nullable": false,
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "description": "Request containing the new label",
                        "schema": {
                            "type": "object",
                            "description": "Request for updating a switch/option label",
                            "required": [
                                "Label"
                            ],
                            "properties": {
                                "Label": {
                                    "type": "string",
                                    "title": "New Option Label",
                                    "description": "New label for the existing switch/option",
                                    "example": "Updated Option Label"
                                }
                            }
                        },
                        "required": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": true,
                        "description": "Updated switch with Id and Label",
                        "schema": {
                            "$ref": "#/definitions/MetadataSwitchResponse"
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "X-Glaass-Token": []
                    }
                ]
            }
        },
        "/api/q": {
            "get": {
                "tags": [
                    "Search"
                ],
                "operationId": "Search_Get",
                "summary": "Search on Glaass",
                "description": "Gets a list of the search results based on the query and provided filters",
                "x-ms-visibility": "important",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "query",
                        "x-ms-summary": "Query",
                        "in": "query",
                        "required": true,
                        "description": "Query parameter to match (text)",
                        "x-nullable": true
                    },
                    {
                        "type": "string",
                        "enum": [
                            "Location",
                            "Company",
                            "Case",
                            "User",
                            "Group"
                        ],
                        "name": "filter",
                        "x-ms-summary": "Filter",
                        "in": "query",
                        "description": "Filter to limit the search results (Location, Company, Case, User, Group)",
                        "x-nullable": true
                    },
                    {
                        "type": "integer",
                        "name": "take",
                        "x-ms-summary": "Take",
                        "in": "query",
                        "description": "Limit the number of results (max is 10)",
                        "format": "int32",
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": true,
                        "description": "The list of search results",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SearchResponse"
                            }
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/api/c/{id}": {
            "get": {
                "tags": [
                    "Case"
                ],
                "summary": "Get Case Details",
                "description": "Gets Case details using trigger's technical Case ID",
                "operationId": "Case_Get",
                "parameters": [
                    {
                        "type": "string",
                        "name": "id",
                        "x-ms-summary": "Case ID",
                        "in": "path",
                        "required": true,
                        "description": "The technical Case ID",
                        "x-nullable": false,
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": true,
                        "description": "Case details",
                        "schema": {
                            "$ref": "#/definitions/CaseResponse"
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "X-Glaass-Token": []
                    }
                ]
            }
        },
        "/api/c/{id}/fields": {
            "get": {
                "tags": [
                    "Case"
                ],
                "summary": "Get All Case Fields",
                "description": "Gets all sections and fields for a Case",
                "operationId": "CaseField_Get",
                "parameters": [
                    {
                        "type": "string",
                        "name": "id",
                        "x-ms-summary": "Case ID",
                        "in": "path",
                        "required": true,
                        "description": "The technical Case ID",
                        "x-nullable": false,
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": true,
                        "description": "Case fields",
                        "schema": {
                            "$ref": "#/definitions/CaseFieldsResponse"
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "X-Glaass-Token": []
                    }
                ]
            }
        },
        "/api/c/{id}/print": {
            "post": {
                "tags": [
                    "Case"
                ],
                "summary": "Get Case Printing",
                "description": "Gets printing of a Case by technical Case ID.",
                "operationId": "CasePrint_Post",
                "parameters": [
                    {
                        "type": "string",
                        "name": "id",
                        "x-ms-summary": "Case ID",
                        "in": "path",
                        "required": true,
                        "description": "The technical Case ID",
                        "x-nullable": false,
                        "x-ms-url-encoding": "single"
                    },
                   {
                        "name": "body",
                        "in": "body",
                        "description": "get a Case print",
                        "schema": {
                            "$ref": "#/definitions/CasePrintRequest"
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": true,
                        "description": "The link to check the printing progress or binary stream of print result.",
                        "schema": {
                            "type": "file"
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "X-Glaass-Token": []
                    }
                ]
            }
        },
        "/api/c/{id}/reply": {
            "get": {
                "tags": [
                    "Case"
                ],
                "summary": "Get Default Recipients for Case Reply",
                "description": "Gets a list of default recipients for the Case reply by technical Case ID. This is used to pre-fill the reply form",
                "operationId": "CaseReply_Get",
                "parameters": [
                    {
                        "type": "string",
                        "name": "id",
                        "x-ms-summary": "Case ID",
                        "in": "path",
                        "required": true,
                        "description": "The technical Case ID",
                        "x-nullable": false,
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": true,
                        "description": "Proposed recipients of the reply",
                        "schema": {
                            "$ref": "#/definitions/CaseReplyResponse"
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "X-Glaass-Token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Case"
                ],
                "summary": "Post a Reply to the Case Timeline",
                "description": "Posts a reply to the Timeline of the specified Case. The reply can be sent with or without notification to default recipients",
                "operationId": "CaseReply_Post",
                "parameters": [
                    {
                        "type": "string",
                        "name": "id",
                        "x-ms-summary": "Case ID",
                        "in": "path",
                        "required": true,
                        "description": "The technical Case ID",
                        "x-nullable": false,
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "The reply request",
                        "schema": {
                            "type": "object",
                            "description": "Request to add a reply to a Case timeline",
                            "required": [
                                "Message",
                                "WithoutNotification"
                            ],
                            "properties": {
                                "Message": {
                                    "type": "string",
                                    "description": "Insert text that will go into the Timeline as a Case reply",
                                    "x-ms-summary": "Message",
                                    "example": "Thank you for your update."
                                },
                                "WithoutNotification": {
                                    "type": "boolean",
                                    "description": "Choose to avoid notifying default recipients (No = with notification, Yes = no notification)",
                                    "x-ms-summary": "Without Notification",
                                    "example": false
                                }
                            }
                        },
                        "required": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": true,
                        "description": "Information about reply and list of recipients",
                        "schema": {
                            "$ref": "#/definitions/CaseReplyResponse"
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "X-Glaass-Token": []
                    }
                ]
            }
        }
    },
    "definitions": {
        "AccountResponse": {
            "type": "object",
            "description": "Response containing account and project information for the current user.",
            "properties": {
                "ProjectId": {
                    "type": "string",
                    "title": "Project ID",
                    "description": "Unique identifier for the connected project",
                    "example": "aceb364e-8f86-4599-90f3-41f77e107117"
                },
                "ProjectName": {
                    "type": "string",
                    "title": "Project Name",
                    "description": "Name of the connected project",
                    "example": "Robina Railways"
                },
                "UserId": {
                    "type": "string",
                    "title": "User ID",
                    "description": "Unique identifier for the Power Automate connected user",
                    "example": "aceb364e-8f86-4599-90f3-41f77e107117"
                },
                "FirstName": {
                    "type": "string",
                    "title": "First Name",
                    "description": "First Name of the Power Automate connected user",
                    "example": "Jane"
                },
                "LastName": {
                    "type": "string",
                    "title": "Last Name",
                    "description": "Last Name of the Power Automate connected user",
                    "example": "Doe"
                },
                "ProjectLink": {
                    "type": "string",
                    "title": "Project URL Link",
                    "description": "URL of the connected project environment",
                    "example": "https://ae.glaass.com/Project/New/aceb364e-8f86-4599-90f3-41f77e107117"
                }
            }
        },
        "TemplateResponse": {
            "type": "object",
            "description": "Response containing information about a Template",
            "properties": {
                "Id": {
                    "type": "string",
                    "title": "Template Technical ID",
                    "description": "The technical ID of the Template",
                    "example": "aceb364e-8f86-4599-90f3-41f77e107117"
                },
                "Name": {
                    "type": "string",
                    "title": "Template Name",
                    "description": "Display name of the Template",
                    "example": "Correspondence"
                },
                "Module": {
                    "type": "string",
                    "title": "Template Module",
                    "description": "Module or path associated with the Template",
                    "example": "Quality > Forms"
                }
            }
        },
        "CaseResponse": {
            "type": "object",
            "description": "Response containing summary information about a Case.",
            "properties": {
                "Id": {
                    "type": "string",
                    "title": "Case ID",
                    "description": "The technical Case ID",
                    "example": "aceb364e-8f86-4599-90f3-41f77e107117"
                },
                "Title": {
                    "type": "string",
                    "title": "Case Title",
                    "description": "The title of the Case",
                    "example": "My new case"
                },
                "CaseId": {
                    "type": "string",
                    "title": "Glaass Case ID",
                    "description": "The Case identifier generated by Glaass, for ex. ABC-QUA-123",
                    "example": "CORRES-001"
                },
                "Revision": {
                    "type": "string",
                    "title": "Case Revision Number",
                    "description": "The Case revision number, if applicable",
                    "example": 1.0
                },
                "CreatedBy": {
                    "$ref": "#/definitions/CaseCreatedByUserResponse"
                },
                "Status": {
                    "type": "string",
                    "title": "Case Status",
                    "description": "The Status of the Case i.e In Process, Collaboration or Closed"
                },
                "CreatedAtUtc": {
                    "type": "string",
                    "title": "Case Creation Time (UTC)",
                    "description": "The time the Case was created (UTC time zone), output format yyyy'-'MM'-'dd'T'HH':'mm':'ss"
                },
                "CreatedAtLocal": {
                    "type": "string",
                    "title": "Case Creation Time (Project Timezone)",
                    "description": "The time the Case was created (project time zone), output format yyyy'-'MM'-'dd'T'HH':'mm':'ss"
                },
                "ApplicationLink": {
                    "type": "string",
                    "title": "Case URL",
                    "description": "The URL link of the Case in Glaass"
                }
            }
        },
        "ProjectUserResponse": {
            "type": "object",
            "description": "Represents a Glaass user within a project",
            "properties": {
                "Id": {
                    "type": "string",
                    "title": "User ID",
                    "description": "Unique identifier for the user",
                    "example": "aceb364e-8f86-4599-90f3-41f77e107117"
                },
                "Name": {
                    "type": "string",
                    "title": "User Full Name",
                    "description": "Name of the user",
                    "example": "Jane Doe"
                }
            }
        },
        "CaseCreatedByUserResponse": {
            "type": "object",
            "title": "Created By User",
            "description": "The user who created this case",
            "properties": {
                "Id": {
                    "type": "string",
                    "title": "User ID",
                    "description": "Unique identifier for the user",
                    "example": "aceb364e-8f86-4599-90f3-41f77e107117"
                },
                "Name": {
                    "type": "string",
                    "title": "User Full Name",
                    "description": "Name of the user",
                    "example": "Jane Doe"
                }
            }
        },
        "CasePrintRequest": {
            "type": "object",
            "description": "Request to get a Case print",
            "properties": {
                "UseCustom": {
                    "type": "boolean",
                    "title": "Use Custom Printing",
                    "description": "If configured in Glaass, use custom print Template"
                },
                "DisplayGallery": {
                    "type": "string",
                    "title": "Display Image Style",
                    "enum": [
                        "Gallery",
                        "List"
                    ],
                    "description": "Display images as \"gallery\" or \"list\""
                },
                "DisplayText": {
                    "type": "string",
                    "title": "Display Field Labels Style",
                    "enum": [
                        "Beside",
                        "Below"
                    ],
                    "description": "Display field labels in Case form \"beside\" or \"below\""
                }
            }
        },
        "CaseFieldsResponse": {
            "type": "object",
            "description": "Response containing all sections and fields for a Case.",
            "properties": {
                "Id": {
                    "type": "string",
                    "title": "Case ID",
                    "description": "The technical Case ID",
                    "example": "aceb364e-8f86-4599-90f3-41f77e107117"
                },
                "Sections": {
                    "type": "array",
                    "description": "List of sections and their fields for the Case",
                    "items": {
                        "$ref": "#/definitions/CaseFieldSectionsResponse"
                    }
                }
            }
        },
        "CaseFieldSectionsResponse": {
            "type": "object",
            "description": "Represents a section containing multiple fields in a Case.",
            "properties": {
                "SectionId": {
                    "type": "string",
                    "title": "Section ID",
                    "description": "Unique identifier for the section. Either empty or in a form \"multiline:N\" where N is the item number",
                    "example": "multiline:3"
                },
                "Fields": {
                    "type": "array",
                    "title": "Section Fields",
                    "description": "List of fields and values in this section",
                    "items": {
                        "$ref": "#/definitions/CaseFieldsFieldResponse"
                    }
                }
            }
        },
        "CaseFieldsFieldResponse": {
            "type": "object",
            "description": "Represents a data of single field in a Case section.",
            "properties": {
                "FieldId": {
                    "type": "string",
                    "title": "Field ID",
                    "description": "Unique technical identifier for the field",
                    "example": "aceb364e-8f86-4599-90f3-41f77e107117"
                },
                "FieldLabel": {
                    "type": "string",
                    "title": "Field Label",
                    "description": "Display label for the field i.e what users see in Glaass",
                    "example": "Project Location"
                },
                "Value": {
                    "title": "Field Value",
                    "description": "Value of the field",
                    "example": "aceb364e-8f86-4599-90f3-41f77e107117"
                },
                "Text": {
                    "type": "string",
                    "title": "Field Text",
                    "description": "Text representation of the field value",
                    "example": "Base Level Platform"
                }
            }
        },
        "CaseReplyResponse": {
            "type": "object",
            "description": "Response containing reply information for a Case.",
            "properties": {
                "Id": {
                    "type": "string",
                    "title": "Case ID",
                    "description": "The technical Case ID",
                    "example": "aceb364e-8f86-4599-90f3-41f77e107117"
                },
                "Message": {
                    "type": "string",
                    "title": "Case Reply Message Body",
                    "description": "Message body of the reply",
                    "example": "Thank you for your update."
                },
                "RecipientsTo": {
                    "type": "array",
                    "title": "Primary Reply Recepients",
                    "description": "List of primary recipients of the Case reply, in the 'To' section",
                    "items": {
                        "$ref": "#/definitions/ProjectUserResponse"
                    }
                },
                "RecipientsCc": {
                    "type": "array",
                    "title": "Cc Reply Receipients",
                    "description": "List of carbon copy (CC) recipients of the Case reply, in the 'CC' section",
                    "items": {
                        "$ref": "#/definitions/ProjectUserResponse"
                    }
                }
            }
        },
        "MetadataListResponse": {
            "type": "object",
            "description": "Response for metadata list containing basic information",
            "properties": {
                "MetadataId": {
                    "type": "string",
                    "title": "Metadata ID",
                    "description": "Unique technical identifier for the metadata field",
                    "example": "meta-123"
                },
                "Name": {
                    "type": "string",
                    "title": "Metadata Name",
                    "description": "Name/label of the metadata field in Glaass",
                    "example": "Status"
                },
                "FieldType": {
                    "type": "string",
                    "title": "Metadata Type",
                    "description": "Type of the metadata field",
                    "example": "Dropdown"
                }
            }
        },
        "MetadataResponse": {
            "type": "object",
            "description": "Response containing metadata field details and available switches/options.",
            "properties": {
                "MetadataId": {
                    "type": "string",
                    "title": "Metadata ID",
                    "description": "Unique technical identifier for the metadata field",
                    "example": "meta-123"
                },
                "Name": {
                    "type": "string",
                    "title": "Metadata Name",
                    "description": "Name/label of the metadata field in Glaass",
                    "example": "Status"
                },
                "FieldType": {
                    "type": "string",
                    "title": "Metadata Type",
                    "description": "Type of the metadata field",
                    "example": "Dropdown"
                },
                "Active": {
                    "type": "boolean",
                    "title": "Is Metadata Active?",
                    "description": "Confirms if metadata field is active, outputs 'true' or 'false'"
                },
                "Analytics": {
                    "type": "boolean",
                    "title": "Is Metadata Used for Analytics?",
                    "description": "Confirms if metadata field used for analytics, outputs 'true' or 'false'"
                },
                "Register": {
                    "type": "boolean",
                    "title": "Is Metadata USed for Register",
                    "description": "Confirms if metadata field available for Register, outputs 'true' or 'false'"
                },
                "ControlType": {
                    "type": "string",
                    "title": "Control Type",
                    "description": "Control type for the metadata field"
                },
                "Switches": {
                    "type": "array",
                    "title": "List of Switches/Options",
                    "description": "List of available switches/options for the metadata field",
                    "items": {
                        "$ref": "#/definitions/MetadataSwitchResponse"
                    }
                },
                "ApplicationLink": {
                    "type": "string",
                    "description": "The URL link to open the metadata in the application."
                }
            }
        },
        "MetadataSwitchResponse": {
            "type": "object",
            "description": "Represents a selectable switch/option for a metadata field.",
            "properties": {
                "Id": {
                    "type": "string",
                    "title": "Option ID",
                    "description": "Unique technical identifier of the switch/option",
                    "example": "option-1"
                },
                "Label": {
                    "type": "string",
                    "title": "Option Label",
                    "description": "Display label of the switch/option",
                    "example": "Option 1"
                }
            }
        },
        "MetadataRequest": {
            "type": "object",
            "description": "Request to update metadata switches/options.",
            "properties": {
                "Switches": {
                    "type": "array",
                    "title": "Options",
                    "description": "List of switches/options to update",
                    "items": {
                        "$ref": "#/definitions/MetadataSwitchResponse"
                    }
                }
            }
        },
        "UserListResponse": {
            "type": "object",
            "description": "Response for user list operations",
            "properties": {
                "Id": {
                    "type": "string",
                    "title": "User ID",
                    "description": "Technical user identifier",
                    "example": "user-123"
                },
                "FirstName": {
                    "type": "string",
                    "title": "First Name",
                    "description": "User First Name",
                    "example": "John"
                },
                "LastName": {
                    "type": "string",
                    "title": "Last Name",
                    "description": "User Last Name",
                    "example": "Doe"
                },
                "FullName": {
                    "type": "string",
                    "title": "Full Name",
                    "description": "User Full Name",
                    "example": "John Doe"
                },
                "Active": {
                    "type": "boolean",
                    "title": "Is User Active?",
                    "description": "Confirms if user status is Active, output 'true' or 'false'",
                    "example": true
                },
                "Pending": {
                    "type": "boolean",
                    "title": "Is User Pending?",
                    "description": "Confirms if user status is Pending, output 'true' or 'false'",
                    "example": false
                },
                "SsoLogin": {
                    "type": "boolean",
                    "title": "Is User Using SSO?",
                    "description": "Confirms if user uses SSO, output 'true' or 'false'",
                    "example": true
                },
                "Company": {
                    "type": "string",
                    "title": "Company",
                    "description": "User Company, may return null or '-' if left empty on Glaass",
                    "example": "Glaass Pty Ltd"
                },
                "Position": {
                    "type": "string",
                    "title": "Position",
                    "description": "User Position on Glaass, may return null or '-' if left empty on Glaass",
                    "example": "Senior Engineer"
                },
                "Phone": {
                    "type": "string",
                    "title": "Phone Number",
                    "description": "User phone number on Glaass, may return null or '-' if left empty on Glaass",
                    "example": "+1234567890"
                },
                "Email": {
                    "type": "string",
                    "title": "Email",
                    "description": "Email address used for Glaass",
                    "example": "john.doe@example.com"
                },
                "IsAdmin": {
                    "type": "boolean",
                    "title": "User has Admin Permissions?",
                    "description": "Confirms if user has Administrator permissions, output 'true' or 'false'"
                },
                "IsDocumentController": {
                    "type": "boolean",
                    "title": "User has Document Controller Permissions?",
                    "description": "Confirms if user has Document Controller permissions, output 'true' or 'false'"
                },
                "IsFolderController": {
                    "type": "boolean",
                    "title": "User Has Folder Controller Permissions?",
                    "description": "Confirms if user has Folder Controller permissions, output 'true' or 'false'"
                },
                "IsManagerial": {
                    "type": "boolean",
                    "title": "User Has Managerial Permissions?",
                    "description": "Confirms if user has Managerial permissions, output 'true' or 'false'"
                },
                "IsReadOnly": {
                    "type": "boolean",
                    "title": "User is Read Only?",
                    "description": "Confirms if user is Read Only, output 'true' or 'false'"
                }
            }
        },
        "UserResponse": {
            "type": "object",
            "description": "Response for detailed user operations",
            "properties": {
                "Id": {
                    "type": "string",
                    "title": "User ID",
                    "description": "User identifier",
                    "example": "user-123"
                },
                "FirstName": {
                    "type": "string",
                    "title": "First Name",
                    "description": "User First Name",
                    "example": "John"
                },
                "LastName": {
                    "type": "string",
                    "title": "Last Name",
                    "description": "User Last Name",
                    "example": "Doe"
                },
                "FullName": {
                    "type": "string",
                    "title": "Full Name",
                    "description": "User Full Name",
                    "example": "John Doe"
                },
                "Active": {
                    "type": "boolean",
                    "title": "Is User Active?",
                    "description": "Confirms if user status is Active, output 'true' or 'false'",
                    "example": true
                },
                "Pending": {
                    "type": "boolean",
                    "title": "Is User Pending?",
                    "description": "Confirms if user status is Pending, output 'true' or 'false'",
                    "example": false
                },
                "SsoLogin": {
                    "type": "boolean",
                    "title": "Is User Using SSO?",
                    "description": "Confirms if user uses SSO, output 'true' or 'false'",
                    "example": true
                },
                "Company": {
                    "type": "string",
                    "title": "Company",
                    "description": "User Company, may return null or '-' if left empty on Glaass",
                    "example": "Glaass Pty Ltd"
                },
                "Position": {
                    "type": "string",
                    "title": "Position",
                    "description": "User Position on Glaass, may return null or '-' if left empty on Glaass",
                    "example": "Senior Engineer"
                },
                "Phone": {
                    "type": "string",
                    "title": "Phone Number",
                    "description": "User phone number on Glaass, may return null or '-' if left empty on Glaass",
                    "example": "+1234567890"
                },
                "Email": {
                    "type": "string",
                    "title": "Email",
                    "description": "Email address used for Glaass",
                    "example": "john.doe@example.com"
                },
                "IsAdmin": {
                    "type": "boolean",
                    "title": "User has Admin Permissions?",
                    "description": "Confirms if user has Administrator permissions, output 'true' or 'false'"
                },
                "IsDocumentController": {
                    "type": "boolean",
                    "title": "User has Document Controller Permissions?",
                    "description": "Confirms if user has Document Controller permissions, output 'true' or 'false'"
                },
                "IsFolderController": {
                    "type": "boolean",
                    "title": "User Has Folder Controller Permissions?",
                    "description": "Confirms if user has Folder Controller permissions, output 'true' or 'false'"
                },
                "IsManagerial": {
                    "type": "boolean",
                    "title": "User Has Managerial Permissions?",
                    "description": "Confirms if user has Managerial permissions, output 'true' or 'false'"
                },
                "IsReadOnly": {
                    "type": "boolean",
                    "title": "User is Read Only?",
                    "description": "Confirms if user is Read Only, output 'true' or 'false'"
                },
                "ApplicationUrl": {
                    "type": "string",
                    "title": "User Glaass Profile URL",
                    "description": "Application URL for the user on Glaass",
                    "example": "https://app.glaass.com/project/123/users/user-123"
                }
            }
        },
        "SearchResponse": {
            "type": "object",
            "description": "Response containing a single search result item.",
            "properties": {
                "SearchType": {
                    "type": "string",
                    "title": "Search Type",
                    "description": "The type of the search result (e.g. Location, Company, Case, User)",
                    "example": "Location"
                },
                "ItemId": {
                    "type": "string",
                    "title": "Search Result Item ID",
                    "description": "The technical identifier of the search result, can be Case ID, User ID, etc.",
                    "example": "aceb364e-8f86-4599-90f3-41f77e107117"
                },
                "Text": {
                    "type": "string",
                    "title": "Search Result (Text Output)",
                    "description": "Display text of the search result",
                    "example": "Base Platform Level"
                },
                "Link": {
                    "type": "string",
                    "title": "Search Result Item URL Link",
                    "description": "Link to the search result item",
                    "example": "https://api.glaass.net/api/l/aceb364e-8f86-4599-90f3-41f77e107117"
                },
                "ApplicationLink": {
                    "type": "string",
                    "title": "Search Result URL Link",
                    "description": "The URL link to open the search result in the application."
                }
            }
        },
        "CaseCreatedNotificationContent": {
            "type": "object",
            "properties": {
                "User": {
                    "type": "string",
                    "title": "User ID",
                    "description": "ID of user who created the Case"
                },
                "Project": {
                    "type": "string",
                    "title": "Project ID",
                    "description": "ID of project where the Case was created"
                },
                "Case": {
                    "type": "string",
                    "title": "Case ID",
                    "description": "Technical ID of the Case that was created"
                }
            }
        },
        "CaseClosedNotificationContent": {
            "type": "object",
            "properties": {
                "User": {
                    "type": "string",
                    "title": "User ID",
                    "description": "Technical ID of user who closed the Case"
                },
                "Project": {
                    "type": "string",
                    "title": "Project ID",
                    "description": "Technical ID of project where the Case was closed"
                },
                "Case": {
                    "type": "string",
                    "title": "Case ID",
                    "description": "Technical ID of the Case that was closed"
                }
            }
        },
        "CaseUpdatedNotificationContent": {
            "type": "object",
            "properties": {
                   "User": {
                    "type": "string",
                    "title": "User ID",
                    "description": "Technical ID of user who updated the Case"
                },
                "Project": {
                    "type": "string",
                    "title": "Project ID",
                    "description": "Technical ID of project where the Case was updated"
                },
                "Case": {
                    "type": "string",
                    "title": "Case ID",
                    "description": "Technical ID of the Case that was updated"
                },
                "Fields": {
                    "type": "array",
                    "title": "Updated Fields",
                    "description": "List/array of fields that were updated in the Case only",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "MetadataNotificationContent": {
            "type": "object",
            "properties": {
                "User": {
                    "type": "string",
                    "title": "User ID",
                    "description": "Technical ID of the user that updated the metadata"
                },
                "Project": {
                    "type": "string",
                    "title": "Project ID",
                    "description": "Technical ID of the project where metadata was updated"
                },
                "Metadata": {
                    "type": "string",
                    "title": "Metadata ID",
                    "description": "Technical ID of metadata that was updated"
                },
                "Fields": {
                    "type": "array",
                    "title": "Updated Metadata Fields",
                    "description": "List/array of fields updated in the metadata only",
                    "items": {
                        "type": "string"
                    }
                }
            }
        }
    },
    "securityDefinitions": {
        "api_key": {
            "type": "apiKey",
            "description": "API Key Authentication",
            "name": "X-Glaass-Token",
            "in": "header"
        }
    },
    "security": [
        {
            "api_key": []
        }
    ],
    "x-ms-connector-metadata": [
        {
            "propertyName": "Website",
            "propertyValue": "https://glaass.net"
        },
        {
            "propertyName": "Privacy policy",
            "propertyValue": "https://www.glaass.net/privacy-policy/"
        },
        {
            "propertyName": "Categories",
            "propertyValue": "Productivity;Collaboration"
        }
    ]
}