{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "ConnectWise PSA",
        "description": "ConnectWise PSA - This connector is designed to aid in the Creation, Updating, and Selection of records from ConnectWise",
        "contact": {
            "name": "Support",
            "url": "https://www.opalbiz.com",
            "email": "CWConnector@opalbiz.com"
        }
    },
    "basePath": "/",
    "host": "api-na.myconnectwise.net",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/v4_6_release/apis/3.0/service/tickets": {
            "get": {
                "summary": "GetTickets",
                "operationId": "GetTickets",
                "description": "Get Ticket Details based on Conditions and selecting certain fields",
                "parameters": [
                    {
                        "name": "conditions",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "Filters for retrieving tickets based on specific conditions.",
                        "x-ms-summary": "Ticket Conditions"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "Comma-separated list of fields to include in the response.",
                        "x-ms-summary": "Fields to Retrieve"
                    },
                    {
                        "name": "ClientID",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "Your ConnectWise Client ID",
                        "x-ms-summary": "Client ID Header"
                    }
                ],
                "responses": {
                    "default": {
                        "x-ms-parameter-location": "client",
                        "description": "The Client ID used for API authentication.",
                        "x-ms-summary": "Client ID Header"
                    }
                },
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ]
            },
            "post": {
                "summary": "Create Service Ticket",
                "operationId": "CreateServiceTicket",
                "description": "Create Service Ticket in ConnectWise",
                "parameters": [
                    {
                        "name": "ClientID",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "x-ms-parameter-location": "client",
                        "description": "Client ID used for API authentication.",
                        "x-ms-summary": "Client ID Header"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "x-ms-summary": "Ticket Payload",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The unique identifier of the ticket."
                                },
                                "summary": {
                                    "type": "string",
                                    "description": "A brief description of the ticket."
                                },
                                "board": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "The unique identifier of the board."
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "The name of the board."
                                        }
                                    },
                                    "description": "Details of the board associated with the ticket."
                                },
                                "status": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "The unique identifier of the status."
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "The name of the status."
                                        }
                                    },
                                    "description": "Status information for the ticket."
                                },
                                "company": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "The unique identifier of the company."
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "The name of the company."
                                        }
                                    },
                                    "description": "Company details related to the ticket."
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default"
                    }
                },
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ]
            }
        }
    },
    "tags": [],
    "x-ms-connector-metadata": [
        {
            "propertyName": "Website",
            "propertyValue": "https://www.opalbiz.com"
        },
        {
            "propertyName": "Privacy policy",
            "propertyValue": "https://www.opalbiz.com"
        },
        {
            "propertyName": "Categories",
            "propertyValue": "Data"
        }
    ],
    "x-ms-parameterized-host": {
        "hostTemplate": "{regionHost}",
        "useSchemePrefix": true,
        "parameters": [
            {
                "name": "regionHost",
                "type": "string",
                "x-ms-parameter-location": "client",
                "defaultValue": "api-na.myconnectwise.net",
                "required": true,
                "description": "Enter the region-specific ConnectWise API domain, like api-na.myconnectwise.net or api-eu.myconnectwise.net",
                "x-ms-summary": "ConnectWise Region Host"
            }
        ]
    },
    "securityDefinitions": {
        "api_key": {
            "type": "apiKey",
            "in": "header",
            "name": "Authorization"
        }
    },
    "security": [
        {
            "api_key": []
        }
    ]
}
