{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "ConnectWise PSA",
    "description": "ConnectWise PSA - This connector is designed to aid in the Creation, Updating, and Selection of records from ConnectWise",
    "contact": {
      "name": "Support",
      "url": "https://support.connectwise.com",
      "email": "support@connectwise.com"
    }
  },
  "host": "api-na.myconnectwise.net",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v4_6_release/apis/3.0/service/tickets": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "GetTickets",
        "operationId": "GetTickets",
        "parameters": [
          {
            "name": "conditions",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filters for retrieving tickets based on specific conditions.",
            "x-ms-summary": "Ticket Conditions"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma-separated list of fields to include in the response.",
            "x-ms-summary": "Fields to Retrieve"
          },
          {
            "name": "ClientID",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The Client ID used for API authentication.",
            "x-ms-summary": "Client Identifier"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "description": "The content type of the request payload.",
            "x-ms-summary": "Content Type"
          }
        ],
        "description": "Get Ticket Details based on Conditions and selecting certain fields"
      },
      "post": {
        "summary": "Create Service Ticket",
        "description": "Create Service Ticket in ConnectWise",
        "operationId": "CreateServiceTicket",
        "parameters": [
          {
            "name": "ClientID",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "ClientID",
            "x-ms-summary": "Client Identifier"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-summary": "Content Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique identifier of the ticket."
                },
                "summary": {
                  "type": "string",
                  "description": "A brief description of the ticket."
                },
                "board": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The unique identifier of the board."
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the board."
                    }
                  },
                  "description": "Details of the board associated with the ticket."
                },
                "status": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The unique identifier of the status."
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the status."
                    }
                  },
                  "description": "Status information for the ticket."
                },
                "company": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The unique identifier of the company."
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the company."
                    }
                  },
                  "description": "Company details related to the ticket."
                }
              },
              "default": {
                "id": 0,
                "summary": "string",
                "board": {
                  "id": 0,
                  "name": "Incoming Service Requests"
                },
                "status": {
                  "id": 0,
                  "name": "New"
                },
                "company": {
                  "id": 2,
                  "name": "Opal Business Solutions"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.opalbiz.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.opalbiz.com"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}
