{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "ConnectWise PSA",
        "description": "ConnectWise PSA - This connector is designed to aid in the Creation and Selection of Ticket records from ConnectWise",
        "contact": {
            "name": "Support",
            "url": "https://www.opalbiz.com",
            "email": "CWConnector@opalbiz.com"
        }
    },
    "basePath": "/",
    "host": "api-na.myconnectwise.net",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/v4_6_release/apis/3.0/service/tickets": {
        "get": {
              "summary": "Get List of ConnectWise.Apis.v3_0.v2015_3.Service.Ticket.Ticket\r\n            To obtain the current SLA times for an active ticket, please use the /service/tickets/calculateSLA endpoint for multiple tickets or /service/tickets/{id} for individual tickets.",
              "operationId": "getServiceTickets",
              "description": "Get List of ConnectWise.Apis.v3_0.v2015_3.Service.Ticket.Ticket\r\n            To obtain the current SLA times for an active ticket, please use the /service/tickets/calculateSLA endpoint for multiple tickets or /service/tickets/{id} for individual tickets.",
              "parameters": [
                {
                  "name": "conditions",
                  "in": "query",
                  "required": false,
                  "type": "string",
                  "description": "",
                  "x-ms-summary": "conditions"
                },
                {
                  "name": "childConditions",
                  "in": "query",
                  "required": false,
                  "type": "string",
                  "description": "",
                  "x-ms-summary": "childConditions"
                },
                {
                  "name": "customFieldConditions",
                  "in": "query",
                  "required": false,
                  "type": "string",
                  "description": "",
                  "x-ms-summary": "customFieldConditions"
                },
                {
                  "name": "orderBy",
                  "in": "query",
                  "required": false,
                  "type": "string",
                  "description": "",
                  "x-ms-summary": "orderBy"
                },
                {
                  "name": "fields",
                  "in": "query",
                  "required": false,
                  "type": "string",
                  "description": "",
                  "x-ms-summary": "fields"
                },
                {
                  "name": "page",
                  "in": "query",
                  "required": false,
                  "type": "integer",
                  "description": "",
                  "x-ms-summary": "page"
                },
                {
                  "name": "pageSize",
                  "in": "query",
                  "required": false,
                  "type": "integer",
                  "description": "",
                  "x-ms-summary": "pageSize"
                },
                {
                  "name": "pageId",
                  "in": "query",
                  "required": false,
                  "type": "integer",
                  "description": "",
                  "x-ms-summary": "pageId"
                },
                {
                  "name": "clientId",
                  "in": "header",
                  "required": true,
                  "type": "string",
                  "description": "",
                  "x-ms-summary": "clientId",
                  "x-ms-parameter-location": "client"
                }
              ],
              "responses": {
                "200": {
                  "description": "List of ConnectWise.Apis.v3_0.v2015_3.Service.Ticket.Ticket"
                }
              },
              "consumes": [
                "application/json"
              ],
              "produces": [
                "application/json"
              ]
            },

        "post": {
                "summary": "Post Ticket",
                "operationId": "postServiceTickets",
                "description": "Post Ticket",
                "parameters": [
                  {
                    "name": "clientId",
                    "in": "header",
                    "required": true,
                    "type": "string",
                    "description": "",
                    "x-ms-summary": "clientId",
                    "x-ms-parameter-location": "client"
                  },
                  {
                    "name": "body",
                    "in": "body",
                    "required": true,
                    "x-ms-summary": "ticket",
                    "schema": {
                      "$ref": "#/components/schemas/Ticket"
                    }
                  }
                ],
                "responses": {
                  "201": {
                    "description": "Ticket"
                  }
                },
                "consumes": [
                  "application/json"
                ],
                "produces": [
                  "application/json"
                ]
              }

        }
    },
    "tags": [],
    "x-ms-connector-metadata": [
        {
            "propertyName": "Website",
            "propertyValue": "https://www.opalbiz.com"
        },
        {
            "propertyName": "Privacy policy",
            "propertyValue": "https://www.opalbiz.com"
        },
        {
            "propertyName": "Categories",
            "propertyValue": "Data"
        }
    ],
    "x-ms-parameterized-host": {
        "hostTemplate": "{regionHost}",
        "useSchemePrefix": true,
        "parameters": [
            {
                "name": "regionHost",
                "type": "string",
                "x-ms-parameter-location": "client",
                "defaultValue": "api-na.myconnectwise.net",
                "required": true,
                "description": "Enter the region-specific ConnectWise API domain, like api-na.myconnectwise.net or api-eu.myconnectwise.net",
                "x-ms-summary": "ConnectWise Region Host"
            }
        ]
    },
    "securityDefinitions": {
        "api_key": {
            "type": "apiKey",
            "in": "header",
            "name": "Authorization"
        }
    },
    "security": [
        {
            "api_key": []
        }
    ]
}


