{
  "swagger": "2.0",
  "info": {
    "title": "SMS-Meeting",
    "description": "Sms-Meeting allows you to send SMS reminders, notifications, and manage message templates directly from your business tools. Fast, secure, and ideal for automating customer communication.",
    "version": "2.0.0",
    "contact": {
      "name": "Support SMS Meeting",
      "url": "https://www.sms-meeting.com",
      "email": "hello@sms-meeting.com"
    }
  },
"x-ms-connector-metadata": [
  { "propertyName": "website", "propertyValue": "https://www.sms-meeting.com" },
  { "propertyName": "privacy Policy", "propertyValue": "https://sms-meeting.com/politique-de-confidentialite" },
  { "propertyName": "categories", "propertyValue": "Communication" },
  { "propertyName": "brandColor", "propertyValue": "#3484fa" },
  { "propertyName": "useNewConnectionExperience", "propertyValue": true },
  { "propertyName": "stackOwner", "propertyValue": "SMS Meeting" },
  { "propertyName": "version", "propertyValue": "2.0.0" }
],
  "host": "api.sms-meeting.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v2/auth/askCode": {
  "post": {
    "tags": [
      "UserAuth"
    ],
    "summary": "Deprecated operation. Not implemented",
    "description": "This endpoint is deprecated and not implemented. Do not use.",
    "deprecated": true,
    "responses": {
      "501": {
        "description": "Not implemented."
      }
    },
    "operationId": "AskCode"
  }
},
"/v2/auth/verifyCode": {
  "post": {
    "tags": [
      "UserAuth"
    ],
    "summary": "Deprecated operation. Not implemented",
    "description": "This endpoint is deprecated and not implemented. Do not use.",
    "deprecated": true,
    "responses": {
      "501": {
        "description": "Not implemented."
      }
    },
    "operationId": "VerifyCode"
  }
},
    "/v2/auth/verifyKey": {
      "post": {
        "tags": [
          "UserAuth"
        ],
        "summary": "Verify secret key to obtain JWT Token",
        "description": "Verifies a secret key and retrieves the JWT Token for the license.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "required": [
                "secretKey"
              ],
              "type": "object",
              "properties": {
                "secretKey": {
                  "type": "string",
                  "description": "Secret key provided by SMS Meeting."
                }
              }
            },
            "description": "Secret key verification request.",
            "x-ms-summary": "Body containing the secret key to verify."
          }
        ],
        "responses": {
          "200": {
            "description": "JWT Token successfully returned."
          }
        },
        "operationId": "VerifyKey"
      }
    },
    "/v2/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List all contacts",
        "description": "Retrieves a paginated list of all contacts, with filtering and sorting options.",
        "parameters": [
          {
            "in": "query",
            "name": "ids",
            "type": "string",
            "description": "Comma-separated list of contact IDs to filter.",
            "x-ms-summary": "Filter by contact IDs."
          },
          {
            "in": "query",
            "name": "lists",
            "type": "string",
            "description": "Show contact lists linked to each contact.",
            "x-ms-summary": "Include linked contact lists."
          },
          {
            "in": "query",
            "name": "firstname",
            "type": "string",
            "description": "Filter contacts by first name (case insensitive).",
            "x-ms-summary": "First name to filter by."
          },
          {
            "in": "query",
            "name": "lastname",
            "type": "string",
            "description": "Filter contacts by last name (case insensitive).",
            "x-ms-summary": "Last name to filter by."
          },
          {
            "in": "query",
            "name": "query",
            "type": "string",
            "description": "Search by email, phone number, first name, or last name.",
            "x-ms-summary": "General search string."
          },
          {
            "in": "query",
            "name": "groupIds",
            "type": "string",
            "description": "Comma-separated list of group IDs (CRM only).",
            "x-ms-summary": "Group IDs to filter by."
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts successfully returned."
          }
        },
        "operationId": "GetContacts"
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create a new contact",
        "description": "Creates a new contact in the SMS Meeting database with the provided information.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "required": [
                "firstname",
                "lastname",
                "phonenumber"
              ],
              "type": "object",
              "properties": {
                "group_id": {
                  "type": "string",
                  "description": "Group ID this contact belongs to."
                },
                "civility": {
                  "type": "string",
                  "description": "Civility (e.g., Mr, Mrs)."
                },
                "firstname": {
                  "type": "string",
                  "description": "First name of the contact."
                },
                "lastname": {
                  "type": "string",
                  "description": "Last name of the contact."
                },
                "phonenumber": {
                  "type": "string",
                  "description": "Phone number of the contact."
                },
                "email": {
                  "type": "string",
                  "description": "Email address of the contact."
                },
                "public": {
                  "type": "boolean",
                  "description": "Define if the contact is public (shared within the group)."
                }
              }
            },
            "description": "New contact data.",
            "x-ms-summary": "Body containing contact information."
          }
        ],
        "responses": {
          "201": {
            "description": "Contact successfully created."
          }
        },
        "operationId": "CreateContact"
      }
    },
    "/v2/contacts/{id}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get a specific contact",
        "description": "Retrieves information about a specific contact by its ID.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "description": "Unique identifier of the contact.",
            "x-ms-summary": "Contact ID.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact information successfully returned."
          }
        },
        "operationId": "GetContact"
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete a contact",
        "description": "Deletes a contact identified by its ID.\n",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "description": "Unique identifier of the contact to delete.",
            "x-ms-summary": "Contact ID.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact successfully deleted."
          }
        },
        "operationId": "DeleteContact"
      },
      "patch": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update a contact",
        "description": "Updates information for the specified contact.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "description": "Unique identifier of the contact to update.",
            "x-ms-summary": "Contact ID.",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "group_id": {
                  "type": "string",
                  "description": "Group ID this contact belongs to."
                },
                "civility": {
                  "type": "string",
                  "description": "Civility (e.g., Mr, Mrs)."
                },
                "firstname": {
                  "type": "string",
                  "description": "First name of the contact."
                },
                "lastname": {
                  "type": "string",
                  "description": "Last name of the contact."
                },
                "phonenumber": {
                  "type": "string",
                  "description": "Phone number of the contact."
                },
                "email": {
                  "type": "string",
                  "description": "Email address of the contact."
                },
                "public": {
                  "type": "boolean",
                  "description": "Define if the contact is public (shared within the group)."
                }
              }
            },
            "description": "Updated contact data.",
            "x-ms-summary": "Body containing updated contact information."
          }
        ],
        "responses": {
          "200": {
            "description": "Contact successfully updated."
          }
        },
        "operationId": "UpdateContact"
      }
    },
    "/v2/listsContacts": {
      "get": {
        "tags": [
          "ListContacts"
        ],
        "summary": "List all contact lists (paginated, sortable by name)",
        "parameters": [
          {
            "in": "query",
            "name": "ids",
            "description": "Array of contact list IDs (comma-separated)",
            "type": "string",
            "x-ms-summary": "Contact list IDs"
          },
          {
            "in": "query",
            "name": "groupIds",
            "description": "Array of group IDs (comma-separated, CRM Only)",
            "type": "string",
            "x-ms-summary": "Group IDs"
          },
          {
            "in": "query",
            "name": "name",
            "description": "Filter by name (case-insensitive)",
            "type": "string",
            "x-ms-summary": "Contact list name"
          }
        ],
        "responses": {
          "200": {
            "description": "List of contact lists."
          }
        },
        "description": "Returns all contact lists, with pagination and sorting by name.",
        "operationId": "GetListsContacts"
      },
      "post": {
        "tags": [
          "ListContacts"
        ],
        "summary": "Create a new contact list",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "required": [
                "name"
              ],
              "type": "object",
              "properties": {
                "group_id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            },
            "x-ms-summary": "Body with contact list details"
          }
        ],
        "responses": {
          "201": {
            "description": "Contact list created."
          }
        },
        "description": "Create a new contact list for the specified group.",
        "operationId": "CreateListContact"
      }
    },
    "/v2/listsContacts/{id}": {
      "get": {
        "tags": [
          "ListContacts"
        ],
        "summary": "Get a specific contact list",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "description": "Contact list ID",
            "x-ms-summary": "Contact list ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested contact list."
          }
        },
        "description": "Get details of a contact list by its unique ID.",
        "operationId": "GetListContact"
      },
      "delete": {
        "tags": [
          "ListContacts"
        ],
        "summary": "Delete a contact list",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "description": "Contact list ID",
            "x-ms-summary": "Contact list ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact list deleted."
          }
        },
        "description": "Delete a contact list by its unique ID.",
        "operationId": "DeleteListContact"
      },
      "patch": {
        "tags": [
          "ListContacts"
        ],
        "summary": "Update a contact list",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "description": "Contact list ID",
            "x-ms-summary": "Contact list ID",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "group_id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            },
            "x-ms-summary": "Body with updated contact list details"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact list updated."
          }
        },
        "description": "Update the information of a contact list by its unique ID.",
        "operationId": "UpdateListContact"
      }
    },
    "/v2/listsContacts/{id}/addContact": {
      "post": {
        "tags": [
          "ListContacts"
        ],
        "summary": "Add one or more contacts to a list",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "description": "Contact list ID",
            "x-ms-summary": "Contact list ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "201": {
            "description": "Contacts added to the list."
          }
        },
        "description": "Add one or more contacts to an existing contact list using its ID.",
        "operationId": "AddContactToList"
      }
    },
    "/v2/listsContacts/{id}/removeContact": {
      "post": {
        "tags": [
          "ListContacts"
        ],
        "summary": "Remove one or more contacts from a list",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "description": "Contact list ID",
            "x-ms-summary": "Contact list ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "202": {
            "description": "Contacts removed from the list."
          }
        },
        "description": "Remove one or more contacts from an existing contact list using its ID.",
        "operationId": "RemoveContactFromList"
      }
    },
    "/v2/Sms": {
      "get": {
        "tags": [
          "Sms"
        ],
        "summary": "List all SMS messages (paginated and sortable)",
        "parameters": [
          {
            "in": "query",
            "name": "sent",
            "type": "boolean",
            "description": "Filter by sent status",
            "x-ms-summary": "Sent status"
          },
          {
            "in": "query",
            "name": "phone_number",
            "type": "string",
            "description": "Filter by phone number",
            "x-ms-summary": "Phone number"
          },
          {
            "in": "query",
            "name": "eventId",
            "type": "string",
            "description": "Filter by event ID",
            "x-ms-summary": "Event ID"
          },
          {
            "in": "query",
            "name": "start_date",
            "type": "string",
            "format": "date-time",
            "description": "Start date (ISO format)",
            "x-ms-summary": "Start date"
          },
          {
            "in": "query",
            "name": "end_date",
            "type": "string",
            "format": "date-time",
            "description": "End date (ISO format)",
            "x-ms-summary": "End date"
          },
          {
            "in": "query",
            "name": "licenses",
            "type": "string",
            "description": "License UUIDs (comma-separated)",
            "x-ms-summary": "License UUIDs"
          },
          {
            "in": "query",
            "name": "groupIds",
            "type": "string",
            "description": "Group IDs (comma-separated)",
            "x-ms-summary": "Group IDs"
          }
        ],
        "responses": {
          "200": {
            "description": "List of SMS messages."
          }
        },
        "description": "Returns all sent or scheduled SMS messages, with options for pagination and sorting.",
        "operationId": "GetAllSms"
      },
      "post": {
        "tags": [
          "Sms"
        ],
        "summary": "Send an SMS",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "required": [
                "phonenumber",
                "content",
                "type"
              ],
              "type": "object",
              "properties": {
                "license_uuid": {
                  "type": "string"
                },
                "eventId": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "confirmation",
                    "reminder"
                  ]
                },
                "phonenumber": {
                  "type": "string"
                },
                "expeditor": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                },
                "send_date": {
                  "type": "integer"
                }
              }
            },
            "x-ms-summary": "SMS details"
          }
        ],
        "responses": {
          "201": {
            "description": "SMS created."
          }
        },
        "description": "Sends a new SMS to one or more recipients. Required fields: phone number, content, type.",
        "operationId": "CreateSms"
      }
    },
    "/v2/Sms/{id}": {
      "get": {
        "tags": [
          "Sms"
        ],
        "summary": "Get a specific SMS",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "description": "SMS ID",
            "x-ms-summary": "SMS ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested SMS."
          }
        },
        "description": "Returns the details of the SMS with the given ID.",
        "operationId": "GetSms"
      },
      "delete": {
        "tags": [
          "Sms"
        ],
        "summary": "Delete an SMS",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "description": "SMS ID",
            "x-ms-summary": "SMS ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "SMS deleted."
          }
        },
        "description": "Deletes the SMS with the given ID.",
        "operationId": "DeleteSms"
      },
      "patch": {
        "tags": [
          "Sms"
        ],
        "summary": "Update an SMS",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "description": "SMS ID",
            "x-ms-summary": "SMS ID",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "phonenumber": {
                  "type": "string"
                },
                "expeditor": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                },
                "send_date": {
                  "type": "integer"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "x-ms-summary": "Updated SMS fields"
          }
        ],
        "responses": {
          "200": {
            "description": "SMS updated."
          }
        },
        "description": "Update the content, expeditor, send date or type of the SMS with the given ID.",
        "operationId": "UpdateSms"
      }
    },
    "/v2/templates": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "List all templates (paginated, sortable by name)",
        "parameters": [
          {
            "in": "query",
            "name": "ids",
            "type": "string",
            "description": "List of template IDs (comma-separated)",
            "x-ms-summary": "Template IDs"
          },
          {
            "in": "query",
            "name": "name",
            "type": "string",
            "description": "Filter by template name",
            "x-ms-summary": "Template name"
          },
          {
            "in": "query",
            "name": "groupIds",
            "type": "string",
            "description": "Filter by group IDs (comma-separated)",
            "x-ms-summary": "Group IDs"
          }
        ],
        "responses": {
          "200": {
            "description": "List of templates."
          }
        },
        "description": "Returns the list of all templates, paginated and sortable by name.",
        "operationId": "GetTemplates"
      },
      "post": {
        "tags": [
          "Templates"
        ],
        "summary": "Create a new template",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "required": [
                "name"
              ],
              "type": "object",
              "properties": {
                "group_id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "expeditor": {
                  "type": "string"
                },
                "confirmation_message": {
                  "type": "string"
                },
                "reminder_message": {
                  "type": "string"
                },
                "reminder_delay": {
                  "type": "integer"
                },
                "alert_recipient": {
                  "type": "string"
                },
                "alert_message": {
                  "type": "string"
                },
                "alert_delay": {
                  "type": "integer"
                },
                "group_access": {
                  "type": "boolean"
                }
              }
            },
            "x-ms-summary": "Template details"
          }
        ],
        "responses": {
          "201": {
            "description": "Template created."
          }
        },
        "description": "Create a new SMS template for the specified group with the provided information.",
        "operationId": "CreateTemplate"
      }
    },
    "/v2/templates/{id}": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "Get a specific template",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "description": "Template ID",
            "x-ms-summary": "Template ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested template."
          }
        },
        "description": "Get the information of the template with the specified ID.",
        "operationId": "GetTemplate"
      },
      "delete": {
        "tags": [
          "Templates"
        ],
        "summary": "Delete a template",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "description": "Template ID",
            "x-ms-summary": "Template ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Template deleted."
          }
        },
        "description": "Delete the template with the specified ID.",
        "operationId": "DeleteTemplate"
      },
      "patch": {
        "tags": [
          "Templates"
        ],
        "summary": "Update a template",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "description": "Template ID",
            "x-ms-summary": "Template ID",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "group_id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "expeditor": {
                  "type": "string"
                },
                "confirmation_message": {
                  "type": "string"
                },
                "reminder_message": {
                  "type": "string"
                },
                "reminder_delay": {
                  "type": "integer"
                },
                "alert_recipient": {
                  "type": "string"
                },
                "alert_message": {
                  "type": "string"
                },
                "alert_delay": {
                  "type": "integer"
                },
                "group_access": {
                  "type": "boolean"
                }
              }
            },
            "x-ms-summary": "Updated template fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Template updated."
          }
        },
        "description": "Update the template with the specified ID. The provided fields will be updated.",
        "operationId": "UpdateTemplate"
      }
    },
    "/v2/templates/{id}/allowAccess": {
      "post": {
        "tags": [
          "Templates"
        ],
        "summary": "Allow one or more licenses to access a template",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "description": "Template ID",
            "x-ms-summary": "Template ID",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "required": [
                "license_uuid"
              ],
              "type": "object",
              "properties": {
                "license_uuid": {
                  "type": "string"
                }
              }
            },
            "x-ms-summary": "License UUID"
          }
        ],
        "responses": {
          "201": {
            "description": "Access granted."
          }
        },
        "description": "Grant access to the template for one or more licenses (users) by their UUID.",
        "operationId": "AllowTemplateAccess"
      }
    },
    "/v2/templates/{id}/revokeAccess": {
  "post": {
    "tags": [
      "Templates"
    ],
    "summary": "Revoke access to a template",
    "description": "Revokes access for one or more licenses to the specified template.",
    "consumes": [
      "application/json"
    ],
    "parameters": [
      {
        "in": "path",
        "name": "id",
        "required": true,
        "type": "string",
        "description": "Template ID",
        "x-ms-summary": "Template ID",
        "x-ms-url-encoding": "single"
      },
      {
        "in": "body",
        "name": "body",
        "required": true,
        "schema": {
          "required": [
            "license_uuid"
          ],
          "type": "object",
          "properties": {
            "license_uuid": {
              "type": "string"
            }
          }
        },
        "x-ms-summary": "License UUID"
      }
    ],
    "responses": {
      "200": {
        "description": "Access revoked."
      }
    },
    "operationId": "RevokeTemplateAccess",
    "deprecated": true
  }
}
  },
  "definitions": {
    "Sms": {
      "required": [
        "id",
        "license_uuid",
        "external_id",
        "external_name",
        "phonenumber",
        "send_date",
        "sent"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "The auto-generated id of the sms.",
          "type": "integer"
        },
        "license_uuid": {
          "description": "The foreign key which represents the owner of this sms.",
          "type": "string"
        },
        "external_id": {
          "description": "The auto-generated id of the sms by the service provider.",
          "type": "string"
        },
        "external_name": {
          "description": "The name if the service provider used to send this SMS.",
          "type": "string"
        },
        "phonenumber": {
          "description": "Phonenumber of the recipient with indicator example +33667845152.",
          "type": "string"
        },
        "expeditor": {
          "description": "Name of the expeditor.",
          "type": "string"
        },
        "content": {
          "description": "Content of the message.",
          "type": "string"
        },
        "type": {
          "description": "Type of SMS sent (reminder or confirmation).",
          "type": "string"
        },
        "send_date": {
          "description": "Unix timestamp UTC of the date when the SMS has been sent.",
          "type": "integer"
        },
        "sent": {
          "description": "Boolean which represent if the sms has been sent or not yet by the service provider (updated every /getSMS).",
          "type": "boolean"
        },
        "crmMetaData": {
          "description": "Field reserved to CRM to store some meta data.",
          "type": "string"
        },
        "createdAt": {
          "format": "date-time",
          "description": "The date of creation.",
          "type": "string"
        },
        "updatedAt": {
          "format": "date-time",
          "description": "The date of the last update.",
          "type": "string"
        }
      }
    },
    "Template": {
      "required": [
        "id",
        "group_id",
        "name"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "The auto-generated id of the template.",
          "type": "integer"
        },
        "group_id": {
          "description": "The foreign key which represents the group owner of this template.",
          "type": "string"
        },
        "name": {
          "description": "Name of the template.",
          "type": "string"
        },
        "expeditor": {
          "description": "Name of the expeditor.",
          "type": "string"
        },
        "confirmation_message": {
          "description": "Confirmation message.",
          "type": "string"
        },
        "reminder_message": {
          "description": "Reminder message.",
          "type": "string"
        },
        "reminder_delay": {
          "description": "Delay before reminder to be sent, in minutes.",
          "type": "integer"
        },
        "alert_recipient": {
          "description": "Recipient for alerts.",
          "type": "string"
        },
        "alert_message": {
          "description": "Alert message.",
          "type": "string"
        },
        "alert_delay": {
          "description": "Alert delay (same format as reminder delay).",
          "type": "integer"
        },
        "group_access": {
          "description": "Allow access to the whole group.",
          "type": "boolean"
        },
        "crmMetaData": {
          "description": "Field reserved to CRM to store some meta data.",
          "type": "string"
        },
        "createdAt": {
          "format": "date-time",
          "description": "The date of the creation.",
          "type": "string"
        },
        "updatedAt": {
          "format": "date-time",
          "description": "The date of the last update.",
          "type": "string"
        }
      }
    },
    "Contact": {
      "required": [
        "id",
        "group_id",
        "phonenumber"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "The auto-generated id of the contact.",
          "type": "integer"
        },
        "group_id": {
          "description": "The foreign key which represents the owner of this contact.",
          "type": "string"
        },
        "license_uuid": {
          "description": "The foreign key which represents the license who created this contact.",
          "type": "string"
        },
        "civility": {
          "description": "Civility of the contact (M, Mlle...).",
          "type": "string"
        },
        "firstname": {
          "description": "Firstname of the contact.",
          "type": "string"
        },
        "lastname": {
          "description": "Lastname of the contact.",
          "type": "string"
        },
        "phonenumber": {
          "description": "Phonenumber of the contact.",
          "type": "string"
        },
        "email": {
          "description": "Email of the contact.",
          "type": "string"
        },
        "public": {
          "description": "Define if the contact is shared to the license group (default true).",
          "type": "boolean"
        },
        "crmMetaData": {
          "description": "Field reserved to CRM to store some meta data.",
          "type": "string"
        },
        "createdAt": {
          "format": "date-time",
          "description": "The date of the creation.",
          "type": "string"
        },
        "updatedAt": {
          "format": "date-time",
          "description": "The date of the last update.",
          "type": "string"
        }
      }
    },
    "ListContact": {
      "required": [
        "id",
        "group_id",
        "name"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "The auto-generated id of the contact.",
          "type": "integer"
        },
        "group_id": {
          "description": "The foreign key which represents the owner of this contact.",
          "type": "string"
        },
        "name": {
          "description": "Name of the list.",
          "type": "string"
        },
        "crmMetaData": {
          "description": "Field reserved to CRM to store some meta data.",
          "type": "string"
        },
        "createdAt": {
          "format": "date-time",
          "description": "The date of the creation.",
          "type": "string"
        },
        "updatedAt": {
          "format": "date-time",
          "description": "The date of the last update.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
  },
  "responses": {
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [
    {
      "api_key": [

      ]
    }
  ],
  "tags": [

  ]
}