{
	"swagger": "2.0",
	"info": {
		"title": "SMS Meeting Public API",
		"description": "Ce connecteur permet d’intégrer toutes les fonctionnalités SMS Meeting dans Microsoft Power Automate :\n– Envoi de SMS, rappels, notifications – Gestion des modèles (templates) – Intégration Excel, Power Apps et plus\nSimple, rapide, sécurisé. Idéal pour automatiser vos campagnes et notifications clients.",
		"version": "2.0.0"
	},
	"host": "api.sms-meeting.com",
	"basePath": "/api",
	"schemes": [
		"https"
	],
	"consumes": [],
	"produces": [],
	"paths": {
		"/v2/auth/askCode": {},
		"/v2/auth/verifyCode": {},
		"/v2/auth/verifyKey": {
			"post": {
				"tags": [
					"UserAuth"
				],
				"summary": "Vérifier une clé secrète pour obtenir le JWT Token",
				"consumes": [
					"application/json"
				],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"required": [
								"secretKey"
							],
							"type": "object",
							"properties": {
								"secretKey": {
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "The JWT Token."
					}
				},
				"description": "Permet de vérifier une clé secrète (secret key) et de récupérer le JWT Token de la licence.",
				"operationId": "VerifyKey"
			}
		},
		"/v2/contacts": {
			"get": {
				"tags": [
					"Contacts"
				],
				"summary": "Lister tous les contacts",
				"parameters": [
					{
						"in": "query",
						"name": "ids",
						"description": "Array of contact IDs (comma-separated)",
						"type": "string"
					},
					{
						"in": "query",
						"name": "lists",
						"description": "Includes contacts list linked to each contact",
						"type": "string"
					},
					{
						"in": "query",
						"name": "firstname",
						"description": "Filter by firstname (ilike)",
						"type": "string"
					},
					{
						"in": "query",
						"name": "lastname",
						"description": "Filter by lastname (ilike)",
						"type": "string"
					},
					{
						"in": "query",
						"name": "query",
						"description": "Filter on email or phonenumber or firstname or lastname",
						"type": "string"
					},
					{
						"in": "query",
						"name": "groupIds",
						"description": "Array of group IDs (comma-separated, CRM Only)",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "The list of contacts."
					}
				},
				"description": "Récupère la liste paginée de tous les contacts, avec possibilités de filtrage et tri.",
				"operationId": "GetContacts"
			},
			"post": {
				"tags": [
					"Contacts"
				],
				"summary": "Créer un nouveau contact",
				"consumes": [
					"application/json"
				],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"required": [
								"firstname",
								"lastname",
								"phonenumber"
							],
							"type": "object",
							"properties": {
								"group_id": {
									"type": "string"
								},
								"civility": {
									"type": "string"
								},
								"firstname": {
									"type": "string"
								},
								"lastname": {
									"type": "string"
								},
								"phonenumber": {
									"type": "string"
								},
								"email": {
									"type": "string"
								},
								"public": {
									"type": "boolean"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Contact created."
					}
				},
				"description": "Crée un contact dans la base SMS Meeting avec les informations fournies.",
				"operationId": "CreateContact"
			}
		},
		"/v2/contacts/{id}": {
			"get": {
				"tags": [
					"Contacts"
				],
				"summary": "Obtenir un contact spécifique",
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "The contact you asked for."
					}
				},
				"description": "Récupère les informations d'un contact en fonction de son identifiant.",
				"operationId": "GetContact"
			},
			"delete": {
				"tags": [
					"Contacts"
				],
				"summary": "Supprimer un contact",
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Contact deleted."
					}
				},
				"description": "Supprime le contact correspondant à l'identifiant fourni.",
				"operationId": "DeleteContact"
			},
			"patch": {
				"tags": [
					"Contacts"
				],
				"summary": "Mettre à jour un contact",
				"consumes": [
					"application/json"
				],
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"required": true,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"group_id": {
									"type": "string"
								},
								"civility": {
									"type": "string"
								},
								"firstname": {
									"type": "string"
								},
								"lastname": {
									"type": "string"
								},
								"phonenumber": {
									"type": "string"
								},
								"email": {
									"type": "string"
								},
								"public": {
									"type": "boolean"
								}
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Contact updated."
					}
				},
				"description": "Met à jour les informations du contact correspondant à l'identifiant fourni.",
				"operationId": "UpdateContact"
			}
		},
		"/v2/listsContacts": {
			"get": {
				"tags": [
					"ListContacts"
				],
				"summary": "Lister toutes les listes de contacts (paginé, triable par nom)",
				"parameters": [
					{
						"in": "query",
						"name": "ids",
						"description": "Array of list IDs (comma separated)",
						"type": "string"
					},
					{
						"in": "query",
						"name": "groupIds",
						"description": "Array of group IDs (comma separated, CRM Only)",
						"type": "string"
					},
					{
						"in": "query",
						"name": "name",
						"description": "Filter by name (ilike)",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "The list of the lists contacts."
					}
				},
				"description": "Retourne toutes les listes de contacts, avec options de pagination et de tri par nom.",
				"operationId": "GetListsContacts"
			},
			"post": {
				"tags": [
					"ListContacts"
				],
				"summary": "Créer une nouvelle liste de contacts",
				"consumes": [
					"application/json"
				],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"required": [
								"name"
							],
							"type": "object",
							"properties": {
								"group_id": {
									"type": "string"
								},
								"name": {
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "ListContact created."
					}
				},
				"description": "Crée une nouvelle liste de contacts pour le groupe donné.",
				"operationId": "CreateListContact"
			}
		},
		"/v2/listsContacts/{id}": {
			"get": {
				"tags": [
					"ListContacts"
				],
				"summary": "Récupérer une liste de contacts spécifique",
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "The list contact you asked for."
					}
				},
				"description": "Permet de récupérer une liste de contacts à partir de son identifiant unique.",
				"operationId": "GetListContact"
			},
			"delete": {
				"tags": [
					"ListContacts"
				],
				"summary": "Supprimer une liste de contacts",
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "ListContact deleted."
					}
				},
				"description": "Permet de supprimer une liste de contacts à partir de son identifiant unique.",
				"operationId": "DeleteListContact"
			},
			"patch": {
				"tags": [
					"ListContacts"
				],
				"summary": "Mettre à jour une liste de contacts",
				"consumes": [
					"application/json"
				],
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"required": true,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"group_id": {
									"type": "string"
								},
								"name": {
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "ListContact updated."
					}
				},
				"description": "Permet de modifier les informations d’une liste de contacts à partir de son identifiant unique.",
				"operationId": "UpdateListContact"
			}
		},
		"/v2/listsContacts/{id}/addContact": {
			"post": {
				"tags": [
					"ListContacts"
				],
				"summary": "Ajouter un ou plusieurs contacts à une liste",
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"201": {
						"description": "List of added contact."
					}
				},
				"description": "Permet d’ajouter un ou plusieurs contacts à une liste de contacts existante, en utilisant l’identifiant de la liste.",
				"operationId": "AddContactToList"
			}
		},
		"/v2/listsContacts/{id}/removeContact": {
			"post": {
				"tags": [
					"ListContacts"
				],
				"summary": "Supprimer un ou plusieurs contacts d'une liste",
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"202": {
						"description": "None."
					}
				},
				"description": "Permet de retirer un ou plusieurs contacts d’une liste de contacts existante, en utilisant l’identifiant de la liste.",
				"operationId": "RemoveContactFromList"
			}
		},
		"/v2/Sms": {
			"get": {
				"tags": [
					"Sms"
				],
				"summary": "Lister tous les SMS (paginés & triables)",
				"parameters": [
					{
						"in": "query",
						"name": "sent",
						"type": "boolean"
					},
					{
						"in": "query",
						"name": "phone_number",
						"type": "string"
					},
					{
						"in": "query",
						"name": "eventId",
						"type": "string"
					},
					{
						"in": "query",
						"name": "start_date",
						"type": "string",
						"format": "date-time"
					},
					{
						"in": "query",
						"name": "end_date",
						"type": "string",
						"format": "date-time"
					},
					{
						"in": "query",
						"name": "licenses",
						"type": "string"
					},
					{
						"in": "query",
						"name": "groupIds",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "The list of sms."
					}
				},
				"description": "Récupère la liste de tous les SMS envoyés ou programmés, avec options de pagination et de tri.",
				"operationId": "GetAllSms"
			},
			"post": {
				"tags": [
					"Sms"
				],
				"summary": "Envoyer un SMS",
				"consumes": [
					"application/json"
				],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"required": [
								"phonenumber",
								"content",
								"type"
							],
							"type": "object",
							"properties": {
								"license_uuid": {
									"type": "string"
								},
								"eventId": {
									"type": "string"
								},
								"type": {
									"type": "string",
									"enum": [
										"confirmation",
										"reminder"
									]
								},
								"phonenumber": {
									"type": "string"
								},
								"expeditor": {
									"type": "string"
								},
								"content": {
									"type": "string"
								},
								"send_date": {
									"type": "integer"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Sms created."
					}
				},
				"description": "Envoie un nouveau SMS à un ou plusieurs destinataires avec les champs obligatoires (numéro, contenu, type...)",
				"operationId": "CreateSms"
			}
		},
		"/v2/Sms/{id}": {
			"get": {
				"tags": [
					"Sms"
				],
				"summary": "Récupérer un SMS spécifique",
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "The sms you asked for."
					}
				},
				"description": "Retourne le détail du SMS correspondant à l'identifiant fourni.",
				"operationId": "GetSms"
			},
			"delete": {
				"tags": [
					"Sms"
				],
				"summary": "Supprimer un SMS",
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Sms deleted."
					}
				},
				"description": "Supprime le SMS correspondant à l'identifiant fourni.",
				"operationId": "DeleteSms"
			},
			"patch": {
				"tags": [
					"Sms"
				],
				"summary": "Mettre à jour un SMS",
				"consumes": [
					"application/json"
				],
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"required": true,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"phonenumber": {
									"type": "string"
								},
								"expeditor": {
									"type": "string"
								},
								"content": {
									"type": "string"
								},
								"send_date": {
									"type": "integer"
								},
								"type": {
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Sms updated."
					}
				},
				"description": "Met à jour le contenu, l'expéditeur, la date d'envoi ou le type du SMS correspondant à l'identifiant fourni.",
				"operationId": "UpdateSms"
			}
		},
		"/v2/templates": {
			"get": {
				"tags": [
					"Templates"
				],
				"summary": "Lister tous les templates (paginés et triables par nom)",
				"parameters": [
					{
						"in": "query",
						"name": "ids",
						"type": "string"
					},
					{
						"in": "query",
						"name": "name",
						"type": "string"
					},
					{
						"in": "query",
						"name": "groupIds",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "The list of templates."
					}
				},
				"description": "Récupère la liste de tous les modèles (templates), paginés et triables par nom.",
				"operationId": "GetTemplates"
			},
			"post": {
				"tags": [
					"Templates"
				],
				"summary": "Créer un nouveau template",
				"consumes": [
					"application/json"
				],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"required": [
								"name"
							],
							"type": "object",
							"properties": {
								"group_id": {
									"type": "string"
								},
								"name": {
									"type": "string"
								},
								"expeditor": {
									"type": "string"
								},
								"confirmation_message": {
									"type": "string"
								},
								"reminder_message": {
									"type": "string"
								},
								"reminder_delay": {
									"type": "integer"
								},
								"alert_recipient": {
									"type": "string"
								},
								"alert_message": {
									"type": "string"
								},
								"alert_delay": {
									"type": "integer"
								},
								"group_access": {
									"type": "boolean"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Template created."
					}
				},
				"description": "Crée un nouveau modèle/template SMS pour le groupe indiqué et avec les informations fournies.",
				"operationId": "CreateTemplate"
			}
		},
		"/v2/templates/{id}": {
			"get": {
				"tags": [
					"Templates"
				],
				"summary": "Récupérer un template spécifique",
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "The template you asked for."
					}
				},
				"description": "Récupère les informations du template identifié par son ID.",
				"operationId": "GetTemplate"
			},
			"delete": {
				"tags": [
					"Templates"
				],
				"summary": "Supprimer un template",
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Template deleted."
					}
				},
				"description": "Supprime le template identifié par son ID.",
				"operationId": "DeleteTemplate"
			},
			"patch": {
				"tags": [
					"Templates"
				],
				"summary": "Mettre à jour un template",
				"consumes": [
					"application/json"
				],
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"required": true,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"group_id": {
									"type": "string"
								},
								"name": {
									"type": "string"
								},
								"expeditor": {
									"type": "string"
								},
								"confirmation_message": {
									"type": "string"
								},
								"reminder_message": {
									"type": "string"
								},
								"reminder_delay": {
									"type": "integer"
								},
								"alert_recipient": {
									"type": "string"
								},
								"alert_message": {
									"type": "string"
								},
								"alert_delay": {
									"type": "integer"
								},
								"group_access": {
									"type": "boolean"
								}
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Template updated."
					}
				},
				"description": "Met à jour le template identifié par son ID. Les champs renseignés dans le corps de la requête seront modifiés.",
				"operationId": "UpdateTemplate"
			}
		},
		"/v2/templates/{id}/allowAccess": {
			"post": {
				"tags": [
					"Templates"
				],
				"summary": "Autoriser une ou plusieurs licences à accéder à un template",
				"consumes": [
					"application/json"
				],
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"required": true,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"required": [
								"license_uuid"
							],
							"type": "object",
							"properties": {
								"license_uuid": {
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Access created."
					}
				},
				"description": "Permet de donner l’accès à un ou plusieurs utilisateurs (licences) sur un template identifié par son ID.",
				"operationId": "AllowTemplateAccess"
			}
		},
		"/v2/templates/{id}/revokeAccess": {
			"post": {
				"tags": [
					"Templates"
				],
				"summary": "Révoquer l’accès d’une ou plusieurs licences à un template",
				"consumes": [
					"application/json"
				],
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"required": true,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"required": [
								"license_uuid"
							],
							"type": "object",
							"properties": {
								"license_uuid": {
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Count of access revoked."
					}
				},
				"description": "Retire l’accès à un template pour une ou plusieurs licences (utilisateurs), identifié(s) par leur UUID.",
				"operationId": "RevokeTemplateAccess"
			}
		}
	},
	"definitions": {
		"Sms": {
			"required": [
				"id",
				"license_uuid",
				"external_id",
				"external_name",
				"phonenumber",
				"send_date",
				"sent"
			],
			"type": "object",
			"properties": {
				"id": {
					"description": "The auto-generated id of the sms.",
					"type": "integer"
				},
				"license_uuid": {
					"description": "The foreign key which represents the owner of this sms.",
					"type": "string"
				},
				"external_id": {
					"description": "The auto-generated id of the sms by the service provider.",
					"type": "string"
				},
				"external_name": {
					"description": "The name if the service provider used to send this SMS.",
					"type": "string"
				},
				"phonenumber": {
					"description": "Phonenumber of the recipient with indicator example +33667845152.",
					"type": "string"
				},
				"expeditor": {
					"description": "Name of the expeditor.",
					"type": "string"
				},
				"content": {
					"description": "Content of the message.",
					"type": "string"
				},
				"type": {
					"description": "Type of SMS sent (reminder or confirmation).",
					"type": "string"
				},
				"send_date": {
					"description": "Unix timestamp UTC of the date when the SMS has been sent.",
					"type": "integer"
				},
				"sent": {
					"description": "Boolean which represent if the sms has been sent or not yet by the service provider (updated every /getSMS).",
					"type": "boolean"
				},
				"crmMetaData": {
					"description": "Field reserved to CRM to store some meta data.",
					"type": "string"
				},
				"createdAt": {
					"format": "date-time",
					"description": "The date of creation.",
					"type": "string"
				},
				"updatedAt": {
					"format": "date-time",
					"description": "The date of the last update.",
					"type": "string"
				}
			}
		},
		"Template": {
			"required": [
				"id",
				"group_id",
				"name"
			],
			"type": "object",
			"properties": {
				"id": {
					"description": "The auto-generated id of the template.",
					"type": "integer"
				},
				"group_id": {
					"description": "The foreign key which represents the group owner of this template.",
					"type": "string"
				},
				"name": {
					"description": "Name of the template.",
					"type": "string"
				},
				"expeditor": {
					"description": "Name of the expeditor.",
					"type": "string"
				},
				"confirmation_message": {
					"description": "Confirmation message.",
					"type": "string"
				},
				"reminder_message": {
					"description": "Reminder message.",
					"type": "string"
				},
				"reminder_delay": {
					"description": "Delay before reminder to be sent, in minutes.",
					"type": "integer"
				},
				"alert_recipient": {
					"description": "Recipient for alerts.",
					"type": "string"
				},
				"alert_message": {
					"description": "Alert message.",
					"type": "string"
				},
				"alert_delay": {
					"description": "Alert delay (same format as reminder delay).",
					"type": "integer"
				},
				"group_access": {
					"description": "Allow access to the whole group.",
					"type": "boolean"
				},
				"crmMetaData": {
					"description": "Field reserved to CRM to store some meta data.",
					"type": "string"
				},
				"createdAt": {
					"format": "date-time",
					"description": "The date of the creation.",
					"type": "string"
				},
				"updatedAt": {
					"format": "date-time",
					"description": "The date of the last update.",
					"type": "string"
				}
			}
		},
		"Contact": {
			"required": [
				"id",
				"group_id",
				"phonenumber"
			],
			"type": "object",
			"properties": {
				"id": {
					"description": "The auto-generated id of the contact.",
					"type": "integer"
				},
				"group_id": {
					"description": "The foreign key which represents the owner of this contact.",
					"type": "string"
				},
				"license_uuid": {
					"description": "The foreign key which represents the license who created this contact.",
					"type": "string"
				},
				"civility": {
					"description": "Civility of the contact (M, Mlle...).",
					"type": "string"
				},
				"firstname": {
					"description": "Firstname of the contact.",
					"type": "string"
				},
				"lastname": {
					"description": "Lastname of the contact.",
					"type": "string"
				},
				"phonenumber": {
					"description": "Phonenumber of the contact.",
					"type": "string"
				},
				"email": {
					"description": "Email of the contact.",
					"type": "string"
				},
				"public": {
					"description": "Define if the contact is shared to the license group (default true).",
					"type": "boolean"
				},
				"crmMetaData": {
					"description": "Field reserved to CRM to store some meta data.",
					"type": "string"
				},
				"createdAt": {
					"format": "date-time",
					"description": "The date of the creation.",
					"type": "string"
				},
				"updatedAt": {
					"format": "date-time",
					"description": "The date of the last update.",
					"type": "string"
				}
			}
		},
		"ListContact": {
			"required": [
				"id",
				"group_id",
				"name"
			],
			"type": "object",
			"properties": {
				"id": {
					"description": "The auto-generated id of the contact.",
					"type": "integer"
				},
				"group_id": {
					"description": "The foreign key which represents the owner of this contact.",
					"type": "string"
				},
				"name": {
					"description": "Name of the list.",
					"type": "string"
				},
				"crmMetaData": {
					"description": "Field reserved to CRM to store some meta data.",
					"type": "string"
				},
				"createdAt": {
					"format": "date-time",
					"description": "The date of the creation.",
					"type": "string"
				},
				"updatedAt": {
					"format": "date-time",
					"description": "The date of the last update.",
					"type": "string"
				}
			}
		}
	},
	"parameters": {},
	"responses": {},
	"securityDefinitions": {
		"api_key": {
			"type": "apiKey",
			"in": "header",
			"name": "x-api-key"
		}
	},
	"security": [
		{
			"api_key": []
		}
	],
	"tags": []
}