{
  "swagger": "2.0",
  "info": {
    "title": "Cascade Strategy New",
    "description": "Cascade is a cloud-based strategic planning and execution platform for teams to plan, execute, measure, and adapt their strategy all in one place. Connect your Cascade workspace to the rest of your tools to always have the most up-to-date and relevant data that pertains to your strategy.",
    "version": "1.0",
    "contact": {
      "name": "Cascade Support",
      "url": "https://help.cascade.app",
      "email": "support@cascade.app"
    }
  },
  "host": "integrations-api.go.cascade.app",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1/measures/{measureId}": {
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Message of the result status.",
                  "title": "Message"
                }
              }
            }
          }
        },
        "summary": "Update Measure",
        "operationId": "UpdateMeasure",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "measureId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetMeasuresByPlan",
              "value-path": "id",
              "value-collection": "measures",
              "value-title": "name",
              "parameters": {
                "measure_plan_id": {
                  "parameter": "plan_id"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "GetMeasuresByPlan",
              "itemsPath": "measures",
              "itemValuePath": "id",
              "itemTitlePath": "name",
              "parameters": {
                "measure_plan_id": {
                  "parameterReference": "body/plan_id"
                }
              }
            },
            "description": "Select Measure to be updated after selecting Plan.",
            "x-ms-summary": "Measure Id"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "workspace_id": {
                  "type": "string",
                  "description": "Select Workspace of the measure to be updated.",
                  "title": "Workspace Id",
                  "x-ms-dynamic-values": {
                    "operationId": "GetWorkspaces",
                    "value-path": "id",
                    "value-collection": "workspaces",
                    "value-title": "displayName"
                  }
                },
                "plan_id": {
                  "type": "string",
                  "description": "Select Plan after selecting Workspace to update the measure.",
                  "title": "Plan Id",
                  "x-ms-dynamic-values": {
                    "operationId": "GetPlansByWorkspace",
                    "value-path": "id",
                    "value-title": "name",
                    "value-collection": "plans",
                    "parameters": {
                      "plan_workspace_id": {
                        "parameter": "workspace_id"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetPlansByWorkspace",
                    "itemsPath": "plans",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "plan_workspace_id": {
                        "parameterReference": "body/workspace_id"
                      }
                    }
                  }
                },
                "measure_value": {
                  "type": "number",
                  "format": "double",
                  "description": "Value to update the measure.",
                  "title": "Measure Value"
                }
              },
              "required": [
                "plan_id",
                "workspace_id",
                "measure_value"
              ]
            }
          }
        ],
        "description": "Updates selected measure value with the corresponding value.",
        "x-ms-visibility": "important"
      }
    },
    "/v1/users/me/workspaces": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "workspaces": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Workspace Id",
                        "title": "Id"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "Workspace name",
                        "title": "DisplayName"
                      }
                    }
                  },
                  "description": "workspaces"
                }
              }
            }
          }
        },
        "summary": "Get User Workspaces",
        "operationId": "GetWorkspaces",
        "parameters": [],
        "x-ms-visibility": "internal",
        "description": "Gets authenticated user workspaces."
      }
    },
    "/v1/workspaces/{plan_workspace_id}/plans": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "plans": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Plan Id",
                        "title": "Id"
                      },
                      "name": {
                        "type": "string",
                        "description": "Plan Name",
                        "title": "Name"
                      },
                      "workspaceId": {
                        "type": "string",
                        "description": "Plan Workspace Id",
                        "title": "Workspace Id"
                      },
                      "owner": {
                        "type": "string",
                        "description": "Plan Owner",
                        "title": "Owner"
                      },
                      "collaborators": {
                        "type": "array",
                        "items": {},
                        "description": "collaborators"
                      },
                      "team": {
                        "type": "string",
                        "description": "Plan Team",
                        "title": "Team"
                      }
                    }
                  },
                  "description": "plans"
                }
              }
            }
          }
        },
        "summary": "Get Plans by Workspace",
        "operationId": "GetPlansByWorkspace",
        "parameters": [
          {
            "name": "plan_workspace_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Workspace Id",
            "description": "Workspace Id for which getting the plans."
          }
        ],
        "x-ms-visibility": "internal",
        "description": "Gets all the plans for selected workspace."
      }
    },
    "/v1/plans/{measure_plan_id}/measures": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "measures": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Measure Id",
                        "title": "Id"
                      },
                      "name": {
                        "type": "string",
                        "description": "Measure Name",
                        "title": "Name"
                      },
                      "workspaceId": {
                        "type": "string",
                        "description": "Measure Workspace Id",
                        "title": "Workspace Id"
                      }
                    }
                  },
                  "description": "measures"
                }
              }
            }
          }
        },
        "summary": "Get Measures by Plan",
        "description": "Gets all measures for selected plan.",
        "operationId": "GetMeasuresByPlan",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "measure_plan_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Plan Id for which getting its measures.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Plan Id"
          }
        ]
      }
    },
    "/v1/measures/historical/{measureId}": {
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Message of the result status.",
                  "title": "Message"
                }
              }
            }
          }
        },
        "summary": "Update Measure Historical Value",
        "description": "Updates historical values of the selected measure.",
        "x-ms-visibility": "important",
        "operationId": "UpdateMeasureHistoricalValue",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "measureId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Measure Id",
            "x-ms-url-encoding": "single",
            "description": "Select Measure to be updated after selecting Plan.",
            "x-ms-dynamic-values": {
              "operationId": "GetMeasuresByPlan",
              "value-path": "id",
              "value-collection": "measures",
              "value-title": "name",
              "parameters": {
                "measure_plan_id": {
                  "parameter": "plan_id"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "GetMeasuresByPlan",
              "itemsPath": "measures",
              "itemValuePath": "id",
              "itemTitlePath": "name",
              "parameters": {
                "measure_plan_id": {
                  "parameterReference": "body/plan_id"
                }
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "workspace_id": {
                  "type": "string",
                  "description": "Select Workspace of the measure to be updated.",
                  "title": "Workspace Id",
                  "x-ms-dynamic-values": {
                    "operationId": "GetWorkspaces",
                    "value-path": "id",
                    "value-collection": "workspaces",
                    "value-title": "displayName"
                  }
                },
                "plan_id": {
                  "type": "string",
                  "description": "Select Plan after selecting Workspace to update the measure.",
                  "title": "Plan Id",
                  "x-ms-dynamic-values": {
                    "operationId": "GetPlansByWorkspace",
                    "value-path": "id",
                    "value-collection": "plans",
                    "value-title": "name",
                    "parameters": {
                      "plan_workspace_id": {
                        "parameter": "workspace_id"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetPlansByWorkspace",
                    "itemsPath": "plans",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "plan_workspace_id": {
                        "parameterReference": "body/workspace_id"
                      }
                    }
                  }
                },
                "historical_data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "description": "Date of measure value.",
                        "title": "Date",
                        "format": "date"
                      },
                      "value": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Value to the entered date to update the measure.",
                        "title": "Value"
                      }
                    }
                  },
                  "description": "historical_data"
                }
              },
              "required": [
                "workspace_id",
                "plan_id"
              ]
            }
          }
        ]
      }
    },
    "/v1/actions/{actionId}": {
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Message of the result status.",
                  "title": "Message"
                }
              }
            }
          }
        },
        "summary": "Update Action",
        "description": "Updates selected action value with the corresponding value.",
        "operationId": "UpdateAction",
        "x-ms-visibility": "important",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "actionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Select Action to be updated after selecting Plan.",
            "x-ms-summary": "Action Id",
            "x-ms-dynamic-values": {
              "operationId": "GetActionsByPlan",
              "value-path": "id",
              "value-collection": "actions",
              "value-title": "name",
              "parameters": {
                "action_plan_id": {
                  "parameter": "plan_id"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "GetActionsByPlan",
              "itemsPath": "actions",
              "itemValuePath": "id",
              "itemTitlePath": "name",
              "parameters": {
                "action_plan_id": {
                  "parameterReference": "body/plan_id"
                }
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "workspace_id": {
                  "type": "string",
                  "description": "Select Workspace of the measure to be updated.",
                  "title": "Workspace Id",
                  "x-ms-dynamic-values": {
                    "operationId": "GetWorkspaces",
                    "value-path": "id",
                    "value-collection": "workspaces",
                    "value-title": "displayName"
                  }
                },
                "plan_id": {
                  "type": "string",
                  "description": "Select Plan after selecting Workspace to update the measure.",
                  "title": "Plan Id",
                  "x-ms-dynamic-values": {
                    "operationId": "GetPlansByWorkspace",
                    "value-path": "id",
                    "value-collection": "plans",
                    "value-title": "name",
                    "parameters": {
                      "plan_workspace_id": {
                        "parameter": "workspace_id"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetPlansByWorkspace",
                    "itemsPath": "plans",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "plan_workspace_id": {
                        "parameterReference": "body/workspace_id"
                      }
                    }
                  }
                },
                "action_value": {
                  "type": "number",
                  "format": "double",
                  "description": "Value to update the action.",
                  "title": "Action Value"
                }
              },
              "required": [
                "action_value",
                "plan_id",
                "workspace_id"
              ]
            }
          }
        ]
      }
    },
    "/v1/plans/{action_plan_id}/actions": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "actions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Action Id",
                        "title": "Id"
                      },
                      "workspaceId": {
                        "type": "string",
                        "description": "Action Workspace Id",
                        "title": "Workspace Id"
                      },
                      "name": {
                        "type": "string",
                        "description": "Action Name",
                        "title": "Name"
                      }
                    }
                  },
                  "description": "actions"
                }
              }
            }
          }
        },
        "summary": "Get Actions by Plan",
        "description": "Gets all actions for selected plan.",
        "operationId": "GetActionsByPlan",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "action_plan_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Plan Id for which getting its actions.",
            "x-ms-summary": "Plan Id",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.cascade.app"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.cascade.app/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Collaboration"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://integrations-router.go.cascade.app/authorize",
      "tokenUrl": "https://auth.go.cascade.app/oauth/token",
      "scopes": {
        "openid profile email offline_access": "openid profile email offline_access"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "openid profile email offline_access"
      ]
    }
  ],
  "tags": []
}