{
  "swagger": "2.0",
  "info": {
    "title": "eBay",
    "description": "eBay is an American multinational e-commerce company that facilitates consumer-to-consumer and business-to-consumer sales through its website.",
    "version": "1.0",
    "contact": {
      "name": "Artesian Software Technologies LLP",
      "url": "https://artesian.io",
      "email": "amit.sharma@artesian.io"
    }
  },
  "host": "api.ebay.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/commerce/taxonomy/v1/get_default_category_tree_id": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "categoryTreeId": {
                  "type": "string",
                  "description": "eBay unique category tree ID for the specified marketplace.",
                  "title": "Category Tree ID"
                },
                "categoryTreeVersion": {
                  "type": "string",
                  "description": "The version of the category tree identified by categoryTreeId.",
                  "title": "Category Tree Version"
                }
              }
            }
          }
        },
        "summary": "Get Default Category TreeId",
        "description": "A given eBay marketplace might use multiple category trees, but one of those trees is considered to be the default for that marketplace. This call retrieves a reference to the default category tree associated with the specified eBay marketplace ID.",
        "operationId": "GetDefaultCategoryTreeId",
        "parameters": [
          {
            "name": "marketplace_id",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "eBay marketplace ID for which the category tree ID is being requested.",
            "x-ms-summary": "Marketplace ID"
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "en-US",
            "description": "A header used to indicate the natural language the seller prefers for the response.",
            "x-ms-summary": "Accept-Language"
          }
        ]
      }
    },
    "/commerce/taxonomy/v1/category_tree/{category_tree_id}/get_category_suggestions": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "categorySuggestions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "category": {
                        "type": "object",
                        "properties": {
                          "categoryId": {
                            "type": "string",
                            "description": "Unique identifier of the eBay category within its category tree.",
                            "title": "Category Id"
                          },
                          "categoryName": {
                            "type": "string",
                            "description": "Name of category identified by categoryId.",
                            "title": "Category Name"
                          }
                        },
                        "description": "Contains detail about the suggested category."
                      },
                      "categoryTreeNodeAncestors": {
                        "type": "array",
                        "title": "Category Tree Node Ancestors",
                        "items": {
                          "type": "object",
                          "properties": {
                            "categoryId": {
                              "type": "string",
                              "description": "Unique identifier of the eBay ancestor category."
                            },
                            "categoryName": {
                              "type": "string",
                              "description": "Name of the ancestor category identified by categoryId."
                            },
                            "categorySubtreeNodeHref": {
                              "type": "string",
                              "description": "The href portion of the getCategorySubtree call that retrieves the subtree below the ancestor category node."
                            },
                            "categoryTreeNodeLevel": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Absolute level of the ancestor category node in the hierarchy of its category tree."
                            }
                          }
                        },
                        "description": "An array of ordered list of category references that describes the location of the suggested category in the specified category tree."
                      },
                      "categoryTreeNodeLevel": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Absolute level of the ancestor category node in the hierarchy of its category tree.",
                        "title": "Category Tree Node Level"
                      },
                      "relevancy": {
                        "type": "string",
                        "description": "This field is reserved for internal or future use.",
                        "title": "Relevancy"
                      }
                    }
                  },
                  "description": "Contains details about one or more suggested categories that correspond to the provided keywords."
                },
                "categoryTreeId": {
                  "type": "string",
                  "description": "Unique identifier of the eBay category tree from which suggestions are returned.",
                  "title": "Category Tree Id"
                },
                "categoryTreeVersion": {
                  "type": "string",
                  "description": "The version of the category tree identified by categoryTreeId.",
                  "title": "Category Tree Version"
                }
              }
            }
          }
        },
        "summary": "Get Category Suggestions",
        "description": "This call returns an array of category tree leaf nodes in the specified category tree that are considered by eBay to most closely correspond to the query.",
        "operationId": "GetCategorySuggestions",
        "parameters": [
          {
            "name": "category_tree_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Category Tree Id",
            "description": "eBay category tree unique identifier for which suggested nodes are being requested.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Search Term",
            "description": "A search term that describes the item being offered for sale."
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "en-US",
            "description": "A header used to indicate the natural language the seller prefers for the response.",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/gzip",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/commerce/taxonomy/v1/category_tree/{category_tree_id}/get_item_aspects_for_category": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "aspects": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "aspectConstraint": {
                        "type": "object",
                        "properties": {
                          "aspectApplicableTo": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "title": "Aspect Applicable To",
                            "description": "This value indicate if the aspect identified by the aspects.localizedAspectName field is a product aspect or an item/instance aspect, which is an aspect whose value will vary based on a particular instance of the product."
                          },
                          "aspectDataType": {
                            "type": "string",
                            "description": "Aspect data type.",
                            "title": "Aspect Data Type"
                          },
                          "aspectEnabledForVariations": {
                            "type": "boolean",
                            "description": "A value of true indicates that this aspect can be used to help identify item variations.",
                            "title": "Aspect Enabled For Variations",
                            "enum": [
                              true,
                              false
                            ]
                          },
                          "aspectFormat": {
                            "type": "string",
                            "description": "Returned only if the value of aspectDataType identifies a data type that requires specific formatting.",
                            "title": "Aspect Format"
                          },
                          "aspectMaxLength": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Maximum length of the item aspect's value.",
                            "title": "Aspect Max Length"
                          },
                          "aspectMode": {
                            "type": "string",
                            "description": "Manner in which values of this aspect must be specified by the seller.",
                            "title": "Aspect Mode"
                          },
                          "aspectRequired": {
                            "type": "boolean",
                            "description": "A value of true indicates that this aspect is required when offering items in the specified category.",
                            "title": "Aspect Required",
                            "enum": [
                              true,
                              false
                            ]
                          },
                          "aspectUsage": {
                            "type": "string",
                            "description": "The value indicates if the corresponding aspect is recommended or optional.",
                            "title": "Aspect Usage"
                          },
                          "expectedRequiredByDate": {
                            "type": "string",
                            "description": "Expected date after which the aspect will be required.",
                            "title": "Expected Required By Date"
                          },
                          "itemToAspectCardinality": {
                            "type": "string",
                            "description": "Indicates whether this aspect can accept single or multiple values for items in the specified category.",
                            "title": "Item To Aspect Cardinality"
                          }
                        },
                        "description": "Information about the formatting, occurrence, and support of this aspect."
                      },
                      "aspectValues": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "localizedValue": {
                              "type": "string",
                              "description": "The localized value of this aspect."
                            },
                            "valueConstraints": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "applicableForLocalizedAspectName": {
                                    "type": "string",
                                    "description": "The name of the control aspect on which the current aspect value depends."
                                  },
                                  "applicableForLocalizedAspectValues": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Contains a list of the values of the control aspect on which this aspect's value depends."
                                  }
                                }
                              },
                              "description": "Contains a list of the dependencies that identify when the value of the localizedValue field is available for the current aspect."
                            }
                          }
                        },
                        "description": "A list of valid values along with any constraints for this aspect."
                      },
                      "localizedAspectName": {
                        "type": "string",
                        "description": "Localized name of this aspect.",
                        "title": "Localized Aspect Name"
                      },
                      "relevanceIndicator": {
                        "type": "object",
                        "properties": {
                          "searchCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Number of recent searches for the aspect.",
                            "title": "Search Count"
                          }
                        },
                        "description": "Relevance of this aspect."
                      }
                    },
                    "description": "List of item aspects that are appropriate for accurately describing items in a particular leaf category."
                  },
                  "description": "List of item aspects that are appropriate for describing items in a particular leaf category"
                }
              }
            }
          }
        },
        "summary": "Get Item Aspects for Category",
        "description": "This call returns a list of aspects that are appropriate or necessary for accurately describing items in the specified leaf category. Each aspect identifies an item attribute (for example, color) for which the seller will be required or encouraged to provide a value (or variation values) when offering an item in that category on eBay.",
        "operationId": "GetItemAspects",
        "parameters": [
          {
            "name": "category_tree_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Category Tree Id",
            "description": "eBay category tree Unique ID from which the specified category's aspects are being requested.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "category_id",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Leaf category unique identifier for which aspects are being requested.",
            "x-ms-summary": "Category Id"
          }
        ]
      }
    },
    "/sell/account/v1/fulfillment_policy": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "fulfillmentPolicies": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "categoryTypes": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The category type to which the policy applies"
                            }
                          },
                          "description": "Category types item"
                        },
                        "title": "Category Types",
                        "description": "This container indicates whether the fulfillment policy applies to motor or non-motor vehicle listings."
                      },
                      "description": {
                        "type": "string",
                        "description": "A seller-defined description of the fulfillment policy.",
                        "title": "Description"
                      },
                      "freightShipping": {
                        "type": "boolean",
                        "description": "If returned as true, the seller offers freight shipping for large items over 150 lbs.",
                        "title": "Freight Shipping",
                        "enum": [
                          true,
                          false
                        ]
                      },
                      "fulfillmentPolicyId": {
                        "type": "string",
                        "description": "Unique eBay-assigned ID for the fulfillment policy.",
                        "title": "Fulfillment Policy Id"
                      },
                      "globalShipping": {
                        "type": "boolean",
                        "description": "If returned as true, eBay's Global Shipping Program will be used by the seller to ship items to international locations.",
                        "title": "Global Shipping",
                        "enum": [
                          true,
                          false
                        ]
                      },
                      "handlingTime": {
                        "type": "object",
                        "properties": {
                          "unit": {
                            "type": "string",
                            "description": "Time measurement unit, such as DAY.",
                            "title": "Unit"
                          },
                          "value": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time-measurement unit value specified in the unit field.",
                            "title": "Value"
                          }
                        },
                        "title": "Handling Time",
                        "description": "Maximum number of business days the seller commits to for preparing and shipping an order after receiving a cleared payment for the order."
                      },
                      "localPickup": {
                        "type": "boolean",
                        "description": "If returned as true, local pickup is available for this policy.",
                        "title": "Local Pickup",
                        "enum": [
                          true,
                          false
                        ]
                      },
                      "marketplaceId": {
                        "type": "string",
                        "description": "ID of the eBay marketplace to which this fulfillment policy applies.",
                        "title": "Marketplace Id"
                      },
                      "name": {
                        "type": "string",
                        "description": "A seller-defined name for this fulfillment policy. Names must be unique for policies assigned to the same marketplace.",
                        "title": "Name"
                      },
                      "pickupDropOff": {
                        "type": "boolean",
                        "description": "If returned as true, the seller offers the \"Click and Collect\" option.",
                        "title": "Pickup Drop Off",
                        "enum": [
                          true,
                          false
                        ]
                      },
                      "shippingOptions": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "costType": {
                              "type": "string",
                              "title": "Cost Type",
                              "description": "This field defines whether shipping cost model is FLAT_RATE or CALCULATED"
                            },
                            "insuranceFee": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string",
                                  "title": "Currency",
                                  "description": "Base currency applied to the value field to establish a monetary amount."
                                },
                                "value": {
                                  "title": "Value",
                                  "type": "string",
                                  "description": "The monetary amount in the specified currency."
                                }
                              },
                              "description": "insuranceFee"
                            },
                            "optionType": {
                              "type": "string",
                              "description": "optionType"
                            },
                            "packageHandlingCost": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string",
                                  "description": "currency"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "value"
                                }
                              },
                              "description": "packageHandlingCost"
                            },
                            "rateTableId": {
                              "type": "string",
                              "description": "rateTableId"
                            },
                            "shippingServices": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "additionalShippingCost": {
                                    "type": "object",
                                    "properties": {
                                      "currency": {
                                        "type": "string",
                                        "description": "currency"
                                      },
                                      "value": {
                                        "type": "string",
                                        "description": "value"
                                      }
                                    },
                                    "description": "additionalShippingCost"
                                  },
                                  "buyerResponsibleForPickup": {
                                    "type": "boolean",
                                    "description": "buyerResponsibleForPickup"
                                  },
                                  "buyerResponsibleForShipping": {
                                    "type": "boolean",
                                    "description": "buyerResponsibleForShipping"
                                  },
                                  "cashOnDeliveryFee": {
                                    "type": "object",
                                    "properties": {
                                      "currency": {
                                        "type": "string",
                                        "description": "currency"
                                      },
                                      "value": {
                                        "type": "string",
                                        "description": "value"
                                      }
                                    },
                                    "description": "cashOnDeliveryFee"
                                  },
                                  "freeShipping": {
                                    "type": "boolean",
                                    "description": "freeShipping"
                                  },
                                  "shippingCarrierCode": {
                                    "type": "string",
                                    "description": "shippingCarrierCode"
                                  },
                                  "shippingCost": {
                                    "type": "object",
                                    "properties": {
                                      "currency": {
                                        "type": "string",
                                        "description": "currency"
                                      },
                                      "value": {
                                        "type": "string",
                                        "description": "value"
                                      }
                                    },
                                    "description": "shippingCost"
                                  },
                                  "shippingServiceCode": {
                                    "type": "string",
                                    "description": "shippingServiceCode"
                                  },
                                  "shipToLocations": {
                                    "type": "object",
                                    "properties": {
                                      "regionExcluded": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "regionName": {
                                              "type": "string",
                                              "description": "regionName"
                                            },
                                            "regionType": {
                                              "type": "string",
                                              "description": "regionType"
                                            }
                                          }
                                        },
                                        "description": "regionExcluded"
                                      },
                                      "regionIncluded": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "regionName": {
                                              "type": "string",
                                              "description": "regionName"
                                            },
                                            "regionType": {
                                              "type": "string",
                                              "description": "regionType"
                                            }
                                          }
                                        },
                                        "description": "regionIncluded"
                                      }
                                    },
                                    "description": "shipToLocations"
                                  },
                                  "sortOrder": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "sortOrder"
                                  },
                                  "surcharge": {
                                    "type": "object",
                                    "properties": {
                                      "currency": {
                                        "type": "string",
                                        "description": "currency"
                                      },
                                      "value": {
                                        "type": "string",
                                        "description": "value"
                                      }
                                    },
                                    "description": "surcharge"
                                  }
                                }
                              },
                              "description": "shippingServices"
                            }
                          },
                          "description": "Shipping options item"
                        },
                        "description": "The array provide detailed information on the domestic and international shipping options available for the policy."
                      },
                      "shipToLocations": {
                        "type": "object",
                        "properties": {
                          "regionExcluded": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "regionName": {
                                  "type": "string",
                                  "description": "regionName"
                                },
                                "regionType": {
                                  "type": "string",
                                  "description": "regionType"
                                }
                              }
                            },
                            "description": "An array of regionName values that specify the areas to where a seller does not ship.",
                            "title": "Region Excluded"
                          },
                          "regionIncluded": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "regionName": {
                                  "type": "string",
                                  "description": "regionName"
                                },
                                "regionType": {
                                  "type": "string",
                                  "description": "regionType"
                                }
                              },
                              "description": "Region included item"
                            },
                            "title": "Region Included",
                            "description": "An array of regionName fields that specify the areas to where a seller ships."
                          }
                        },
                        "description": "This container consists of the regionIncluded and regionExcluded containers, which define the geographical regions."
                      }
                    }
                  },
                  "description": "List of seller's fulfillment policies defined for the specified marketplace."
                },
                "href": {
                  "type": "string",
                  "description": "This field is for future use.",
                  "title": "Href"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "This field is for future use.",
                  "title": "Limit"
                },
                "next": {
                  "type": "string",
                  "description": "This field is for future use.",
                  "title": "Next"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "This field is for future use.",
                  "title": "Offset"
                },
                "prev": {
                  "type": "string",
                  "description": "This field is for future use.",
                  "title": "Prev"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of fulfillment policies retrieved in the result set.",
                  "title": "Total"
                }
              }
            }
          }
        },
        "summary": "Get Fulfillment Policies",
        "description": "This method retrieves all the fulfillment policies configured for the marketplace you specify using the marketplace_id query parameter.",
        "operationId": "GetFulfillmentPolicies",
        "parameters": [
          {
            "name": "marketplace_id",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Marketplace Id",
            "description": "eBay marketplace ID of the policies you want to retrieve."
          }
        ]
      }
    },
    "/sell/account/v1/fulfillment_policy/{fulfillmentPolicyId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "categoryTypes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Category type name to which the policy applies.",
                        "title": "Name"
                      }
                    },
                    "description": "Category types item"
                  },
                  "description": "This container indicates whether the fulfillment policy applies to motor vehicle listings or non-motor vehicle listings."
                },
                "description": {
                  "type": "string",
                  "description": "A seller-defined description of the fulfillment policy. This description is only for the seller's use, and is not exposed on any eBay pages.",
                  "title": "Description"
                },
                "freightShipping": {
                  "type": "boolean",
                  "description": "If returned as true, the seller offers freight shipping.",
                  "title": "Freight Shipping",
                  "enum": [
                    true,
                    false
                  ]
                },
                "fulfillmentPolicyId": {
                  "type": "string",
                  "description": "Unique eBay-assigned ID for the fulfillment policy.",
                  "title": "Fulfillment PolicyId"
                },
                "globalShipping": {
                  "type": "boolean",
                  "description": "If returned as true, eBay's Global Shipping Program will be used by the seller to ship items to international locations.",
                  "title": "Global Shipping",
                  "enum": [
                    true,
                    false
                  ]
                },
                "handlingTime": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "A span of time is defined when you apply the value specified in the value field to the value specified for unit.",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Time-measurement unit value specified in the unit field.",
                      "title": "Value"
                    }
                  },
                  "description": "Maximum number of business days the seller commits to for preparing and shipping an order after receiving a cleared payment for the order.",
                  "title": "HandlingTime"
                },
                "localPickup": {
                  "type": "boolean",
                  "description": "If returned as true, local pickup is available for this policy.",
                  "title": "Local Pickup",
                  "enum": [
                    true,
                    false
                  ]
                },
                "marketplaceId": {
                  "type": "string",
                  "description": "eBay marketplace ID to which this fulfillment policy applies.",
                  "title": "Marketplace Id"
                },
                "name": {
                  "type": "string",
                  "description": "Unique seller-defined name for this fulfillment policy.",
                  "title": "Name"
                },
                "pickupDropOff": {
                  "type": "boolean",
                  "description": "If returned as true, the seller offers the \"Click and Collect\" option.",
                  "title": "Pickup Drop Off",
                  "enum": [
                    true,
                    false
                  ]
                },
                "shippingOptions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "costType": {
                        "type": "string",
                        "description": "This field defines whether the shipping cost model is FLAT_RATE or CALCULATED",
                        "title": "Cost Type"
                      },
                      "optionType": {
                        "type": "string",
                        "description": "This field is used to indicate if the corresponding shipping service options are either domestic or international.",
                        "title": "Option Type"
                      },
                      "packageHandlingCost": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "description": "The base currency applied to the value field to establish a monetary amount.",
                            "title": "Currency"
                          },
                          "value": {
                            "type": "string",
                            "description": "The monetary amount in the specified currency.",
                            "title": "Value"
                          }
                        },
                        "description": "This container is used if the seller adds handling charges to domestic and/or international shipments."
                      },
                      "rateTableId": {
                        "type": "string",
                        "description": "This field is used if the seller wants to associate a domestic or international shipping rate table to the fulfillment business policy.",
                        "title": "Rate Table Id"
                      },
                      "shippingServices": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "additionalShippingCost": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string",
                                  "description": "currency"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "value"
                                }
                              },
                              "description": "This container is used by the seller when a single buyer purchases multiple quantities of the same line item.",
                              "title": "AdditionalShippingCost"
                            },
                            "buyerResponsibleForPickup": {
                              "type": "boolean",
                              "description": "This field should be included for a motor vehicle listing if it will be the buyer's responsibility to pick up the purchased motor vehicle after full payment is made."
                            },
                            "buyerResponsibleForShipping": {
                              "type": "boolean",
                              "description": "This field should be included for a motor vehicle listing if it will be the buyer's responsibility to arrange for shipment of a purchased motor vehicle after full payment is made"
                            },
                            "cashOnDeliveryFee": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string",
                                  "description": "currency"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "value"
                                }
                              },
                              "description": "This container is used if the seller charges a Cash on Delivery fee.",
                              "title": "CashOnDeliveryFee"
                            },
                            "freeShipping": {
                              "type": "boolean",
                              "description": "This field is included if the seller offers a free shipping option to the buyer."
                            },
                            "shippingCarrierCode": {
                              "type": "string",
                              "description": "This field sets/indicates the shipping carrier."
                            },
                            "shippingCost": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string",
                                  "description": "currency"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "value"
                                }
                              },
                              "description": "This container is used to set the shipping cost to ship one item using the corresponding shipping service option.",
                              "title": "ShippingCost"
                            },
                            "shippingServiceCode": {
                              "type": "string",
                              "description": "This field sets/indicates the domestic or international shipping service option."
                            },
                            "shipToLocations": {
                              "type": "object",
                              "properties": {
                                "regionExcluded": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "regionName": {
                                        "type": "string",
                                        "description": "regionName"
                                      },
                                      "regionType": {
                                        "type": "string",
                                        "description": "regionType"
                                      }
                                    }
                                  },
                                  "description": "regionExcluded"
                                },
                                "regionIncluded": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "regionName": {
                                        "type": "string",
                                        "description": "regionName"
                                      },
                                      "regionType": {
                                        "type": "string",
                                        "description": "regionType"
                                      }
                                    },
                                    "description": "Region included item"
                                  },
                                  "description": "regionIncluded"
                                }
                              },
                              "description": "This container is used to set the ship-to locations applicable to the corresponding shipping service option."
                            },
                            "sortOrder": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The integer value set in this field controls the order of shipping service."
                            }
                          },
                          "description": "Shipping services item"
                        },
                        "description": "This array consists of the domestic or international shipping services options that are defined for the policy."
                      }
                    },
                    "description": "Shipping options item"
                  },
                  "description": "This array is used to provide detailed information on the domestic and international shipping options available for the policy."
                },
                "shipToLocations": {
                  "type": "object",
                  "properties": {
                    "regionExcluded": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "regionName": {
                            "type": "string",
                            "description": "A string that indicates the name of a region, as defined by eBay.",
                            "title": "Region Name"
                          },
                          "regionType": {
                            "type": "string",
                            "description": "Reserved for future use.",
                            "title": "Region Type"
                          }
                        },
                        "description": "Region excluded item"
                      },
                      "description": "An array of regionName values that specify the areas to where a seller does not ship."
                    },
                    "regionIncluded": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "regionName": {
                            "type": "string",
                            "description": "A string that indicates the name of a region, as defined by eBay.",
                            "title": "Region Name"
                          },
                          "regionType": {
                            "type": "string",
                            "description": "Reserved for future use.",
                            "title": "Region Type"
                          }
                        },
                        "description": "Region included item"
                      },
                      "description": "An array of regionName fields that specify the areas to where a seller ships."
                    }
                  },
                  "description": "This container is used to set the ship-to locations applicable to the corresponding shipping service option."
                }
              }
            }
          }
        },
        "summary": "Get Fulfillment Policy",
        "description": "This method retrieves the complete details of a fulfillment policy. Supply the ID of the policy you want to retrieve using the fulfillmentPolicyId path parameter.",
        "operationId": "GetFulfillmentPolicy",
        "parameters": [
          {
            "name": "fulfillmentPolicyId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Fulfillment Policy Id you want to retrieve",
            "x-ms-summary": "Fulfillment Policy Id",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/sell/account/v1/payment_policy": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "href": {
                  "type": "string",
                  "description": "This field is for future use.",
                  "title": "Href"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "This field is for future use.",
                  "title": "Limit"
                },
                "next": {
                  "type": "string",
                  "description": "This field is for future use.",
                  "title": "Next"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "This field is for future use.",
                  "title": "Offset"
                },
                "paymentPolicies": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "categoryTypes": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "default": {
                              "type": "boolean",
                              "description": "default"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            }
                          }
                        },
                        "description": "This container indicates whether the fulfillment policy applies to motor vehicle or non-motor vehicle listings."
                      },
                      "deposit": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "object",
                            "properties": {
                              "currency": {
                                "type": "string",
                                "description": "The base currency applied to the value field to establish a monetary amount.",
                                "title": "Currency"
                              },
                              "value": {
                                "type": "string",
                                "description": "The monetary amount in the specified currency.",
                                "title": "Value"
                              }
                            },
                            "title": "Amount",
                            "description": "This value indicates the initial deposit amount required from the buyer in order to purchase a motor vehicle."
                          },
                          "dueIn": {
                            "type": "object",
                            "properties": {
                              "unit": {
                                "type": "string",
                                "description": "These values represent the time measurement unit, such as DAY.",
                                "title": "Unit"
                              },
                              "value": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Time-measurement unit value specified in the unit field.",
                                "title": "Value"
                              }
                            },
                            "title": "Due In",
                            "description": "This value indicates the number of hours that the buyer has (after they commit to buy) to pay the initial deposit on a motor vehicle."
                          }
                        },
                        "description": "This container is applicable only if the categoryTypes.name field is set to MOTORS_VEHICLES, and is only returned if the seller requires an initial deposit on motor vehicles."
                      },
                      "description": {
                        "type": "string",
                        "description": "A seller-defined description of the payment policy.",
                        "title": "Description"
                      },
                      "fullPaymentDueIn": {
                        "type": "object",
                        "properties": {
                          "unit": {
                            "type": "string",
                            "description": "Time measurement unit, such as DAY.",
                            "title": "Unit"
                          },
                          "value": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time-measurement unit value specified in the unit field.",
                            "title": "Value"
                          }
                        },
                        "title": "Full Payment Due In",
                        "description": "This container applies to motor vehicles listings only and indicates when a final payment for the vehicle is due."
                      },
                      "immediatePay": {
                        "type": "boolean",
                        "description": "If this field is returned as true, immediate payment is required from the buyer",
                        "title": "Immediate Pay",
                        "enum": [
                          true,
                          false
                        ]
                      },
                      "marketplaceId": {
                        "type": "string",
                        "description": "eBay marketplace ID to which the payment business policy applies.",
                        "title": "Marketplace Id"
                      },
                      "name": {
                        "type": "string",
                        "description": "A seller-defined name for this fulfillment policy.",
                        "title": "Name"
                      },
                      "paymentInstructions": {
                        "type": "string",
                        "description": "Although this field may be returned for some older payment business policies, payment instructions are no longer supported by payment business policies. If this field is returned, it can be ignored and these payment instructions will not appear in any listings that use the corresponding business policy.",
                        "title": "Payment Instructions"
                      },
                      "paymentMethods": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "paymentMethodType": {
                              "type": "string",
                              "description": "Type of Payment Method"
                            }
                          }
                        },
                        "description": "This container is returned to show the payment methods that are accepted for the payment business policy."
                      },
                      "paymentPolicyId": {
                        "type": "string",
                        "description": "Unique eBay-assigned ID for a payment business policy.",
                        "title": "Payment Policy Id"
                      }
                    }
                  },
                  "description": "List of seller's payment business policies defined for the specified marketplace."
                },
                "prev": {
                  "type": "string",
                  "description": "This field is for future use.",
                  "title": "Prev"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of payment business policies retrieved in the result set.",
                  "title": "Total"
                }
              }
            }
          }
        },
        "summary": "Get Payment Policies",
        "description": "This method retrieves all the payment policies configured for the marketplace you specify using the marketplace_id query parameter.",
        "operationId": "GetPaymentPolicies",
        "parameters": [
          {
            "name": "marketplace_id",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Marketplace Id",
            "description": "eBay marketplace ID of the policies you want to retrieve."
          }
        ]
      }
    },
    "/sell/account/v1/payment_policy/{payment_policy_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "categoryTypes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The category type to which the policy applies.",
                        "title": "Name"
                      }
                    }
                  },
                  "description": "This container indicates whether the fulfillment policy applies to motor vehicle or non-motor vehicle listings."
                },
                "deposit": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "description": "The base currency applied to the value field to establish a monetary amount.",
                          "title": "Currency"
                        },
                        "value": {
                          "type": "string",
                          "description": "The monetary amount in the specified currency.",
                          "title": "Value"
                        }
                      },
                      "description": "This value indicates the initial deposit amount required from the buyer in order to purchase a motor vehicle.",
                      "title": "Amount"
                    },
                    "dueIn": {
                      "type": "object",
                      "properties": {
                        "unit": {
                          "type": "string",
                          "description": "Time measurement unit, such as DAY.",
                          "title": "Unit"
                        },
                        "value": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Time-measurement unit value specified in the unit field.",
                          "title": "Value"
                        }
                      },
                      "description": "This value indicates the number of hours that the buyer has to pay the initial deposit on a motor vehicle.",
                      "title": "DueIn"
                    }
                  },
                  "description": "This container is applicable only if the categoryTypes.name field is set to MOTORS_VEHICLES, and is only returned if the seller requires an initial deposit on motor vehicles."
                },
                "description": {
                  "type": "string",
                  "description": "A seller-defined description of the payment policy.",
                  "title": "Description"
                },
                "fullPaymentDueIn": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Time measurement unit, such as DAY.",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Time-measurement unit value specified in the unit field.",
                      "title": "Value"
                    }
                  },
                  "description": "This container applies to motor vehicles listings only and indicates when a final payment for the vehicle is due.",
                  "title": "FullPaymentDueIn"
                },
                "immediatePay": {
                  "type": "boolean",
                  "description": "If this field is returned as true, immediate payment is required from the buyer",
                  "title": "Immediate Pay",
                  "enum": [
                    true,
                    false
                  ]
                },
                "marketplaceId": {
                  "type": "string",
                  "description": "ID of the eBay marketplace to which the payment business policy applies.",
                  "title": "Marketplace Id"
                },
                "name": {
                  "type": "string",
                  "description": "ID of the eBay marketplace to which the payment business policy applies.",
                  "title": "Name"
                },
                "paymentInstructions": {
                  "type": "string",
                  "description": "Although this field may be returned for some older payment business policies, payment instructions are no longer supported by payment business policies",
                  "title": "Payment Instructions"
                },
                "paymentMethods": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "paymentMethodType": {
                        "type": "string",
                        "description": "Payment method type for offline support",
                        "title": "Payment Method Type"
                      }
                    }
                  },
                  "description": "This container is returned to show the payment methods that are accepted for the payment business policy."
                },
                "paymentPolicyId": {
                  "type": "string",
                  "description": "A unique eBay-assigned ID for a payment business policy.",
                  "title": "Payment Policy Id"
                }
              }
            }
          }
        },
        "summary": "Get Payment Policy",
        "description": "This method retrieves the complete details of a payment policy. Supply the ID of the policy you want to retrieve using the paymentPolicyId path parameter.",
        "parameters": [
          {
            "name": "payment_policy_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Payment Policy Id",
            "description": "Payment policy ID you want to retrieve.",
            "x-ms-url-encoding": "single"
          }
        ],
        "operationId": "GetPaymentPolicy"
      }
    },
    "/sell/account/v1/return_policy": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "href": {
                  "type": "string",
                  "description": "This field is for future use.",
                  "title": "Href"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "This field is for future use.",
                  "title": "Limit"
                },
                "next": {
                  "type": "string",
                  "description": "This field is for future use.",
                  "title": "Next"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "This field is for future use.",
                  "title": "Offset"
                },
                "prev": {
                  "type": "string",
                  "description": "This field is for future use.",
                  "title": "Prev"
                },
                "returnPolicies": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "categoryTypes": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "name"
                            }
                          }
                        },
                        "description": "This container indicates which category group that the return policy applies to."
                      },
                      "description": {
                        "type": "string",
                        "description": "A seller-defined description of the return business policy.",
                        "title": "Description"
                      },
                      "internationalOverride": {
                        "type": "object",
                        "properties": {
                          "returnMethod": {
                            "type": "string",
                            "description": "This field sets/indicates if the seller offers replacement items to the buyer in the case of an international return.",
                            "title": "Return Method"
                          },
                          "returnPeriod": {
                            "type": "object",
                            "properties": {
                              "unit": {
                                "type": "string",
                                "description": "These enum values represent the time measurement unit, such as DAY.",
                                "title": "Unit"
                              },
                              "value": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Time measurement unit, such as DAY.",
                                "title": "Value"
                              }
                            },
                            "description": "This container indicates the number of calendar days that the buyer has to return an item.",
                            "title": "ReturnMethod"
                          },
                          "returnsAccepted": {
                            "type": "boolean",
                            "description": "If set to true, the seller accepts international returns.",
                            "title": "Returns Accepted",
                            "enum": [
                              true,
                              false
                            ]
                          },
                          "returnShippingCostPayer": {
                            "type": "string",
                            "description": "This field indicates who is responsible for paying for the shipping charges for returned items.",
                            "title": "Return Shipping Cost Payer"
                          }
                        },
                        "description": "This container shows the seller's international return policy settings.",
                        "title": "InternationalOverride"
                      },
                      "marketplaceId": {
                        "type": "string",
                        "description": "eBay marketplace ID to which this return business policy applies.",
                        "title": "Marketplace Id"
                      },
                      "name": {
                        "type": "string",
                        "description": "A seller-defined name for this payment business policy.",
                        "title": "Name"
                      },
                      "refundMethod": {
                        "type": "string",
                        "description": "If a seller indicates that they will accept buyer returns, this value will be set to MONEY_BACK.",
                        "title": "Refund Method"
                      },
                      "returnInstructions": {
                        "type": "string",
                        "description": "This text-based field provides more details on seller-specified return instructions.",
                        "title": "Return Instructions"
                      },
                      "returnMethod": {
                        "type": "string",
                        "description": "This field is only returned if the seller is willing to offer a replacement item as an alternative to 'Money Back'.",
                        "title": "Return Method"
                      },
                      "returnPeriod": {
                        "type": "object",
                        "properties": {
                          "unit": {
                            "type": "string",
                            "description": "Time measurement unit, such as DAY.",
                            "title": "Unit"
                          },
                          "value": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time-measurement unit value specified in the unit field.",
                            "title": "Value"
                          }
                        },
                        "description": "This container indicates the number of calendar days that the buyer has to return an item.",
                        "title": "ReturnMethod"
                      },
                      "returnPolicyId": {
                        "type": "string",
                        "description": "A unique eBay-assigned ID for a return business policy.",
                        "title": "Return Policy Id"
                      },
                      "returnsAccepted": {
                        "type": "boolean",
                        "description": "If this field is returned as true, the seller accepts returns.",
                        "title": "Return Accepted",
                        "enum": [
                          true,
                          false
                        ]
                      },
                      "returnShippingCostPayer": {
                        "type": "string",
                        "description": "This field indicates who is responsible for paying for the shipping charges for returned items.",
                        "title": "Return Shipping Cost Payer"
                      }
                    }
                  },
                  "description": "List of the seller's return business policies defined for the specified marketplace."
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of return business policies retrieved in the result set.",
                  "title": "Total"
                }
              }
            }
          }
        },
        "summary": "Get Return Policies",
        "description": "This method retrieves all the return policies configured for the marketplace you specify using the marketplace_id query parameter.",
        "operationId": "GetReturnPolicies",
        "parameters": [
          {
            "name": "marketplace_id",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "eBay marketplace ID of the policy you want to retrieve.",
            "x-ms-summary": "Marketplace ID"
          }
        ]
      }
    },
    "/sell/account/v1/return_policy/{return_policy_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "categoryTypes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The category type to which the policy applies",
                        "title": "Name"
                      }
                    }
                  },
                  "description": "This container indicates which category group that the return policy applies to."
                },
                "description": {
                  "type": "string",
                  "description": "A seller-defined description of the return business policy.",
                  "title": "Description"
                },
                "internationalOverride": {
                  "type": "object",
                  "properties": {
                    "returnMethod": {
                      "type": "string",
                      "description": "This field sets/indicates if the seller offers replacement items to the buyer in the case of an international return.",
                      "title": "Return Method"
                    },
                    "returnPeriod": {
                      "type": "object",
                      "properties": {
                        "unit": {
                          "type": "string",
                          "description": "Time measurement unit, such as DAY.",
                          "title": "Unit"
                        },
                        "value": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Time-measurement unit value specified in the unit field.",
                          "title": "Value"
                        }
                      },
                      "description": "This container indicates the number of calendar days that the buyer has to return an item.",
                      "title": "ReturnPeriod"
                    },
                    "returnsAccepted": {
                      "type": "boolean",
                      "description": "Time-measurement unit value specified in the unit field.",
                      "title": "Returns Accepted",
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "returnShippingCostPayer": {
                      "type": "string",
                      "description": "This field indicates who is responsible for paying for the shipping charges for returned items.",
                      "title": "Return Shipping Cost Payer"
                    }
                  },
                  "description": "This container indicates which category group that the return policy applies to.",
                  "title": "InternationalOverride"
                },
                "marketplaceId": {
                  "type": "string",
                  "description": "ID of the eBay marketplace to which this return business policy applies.",
                  "title": "Marketplace Id"
                },
                "name": {
                  "type": "string",
                  "description": "A seller-defined name for this payment business policy.",
                  "title": "Name"
                },
                "refundMethod": {
                  "type": "string",
                  "description": "If a seller indicates that they will accept buyer returns, this value will be set to MONEY_BACK.",
                  "title": "Refund Method"
                },
                "returnInstructions": {
                  "type": "string",
                  "description": "This text-based field provides more details on seller-specified return instructions. This field is only returned if set for the return business policy.",
                  "title": "Return Instructions"
                },
                "returnMethod": {
                  "type": "string",
                  "description": "This field is only returned if the seller is willing to offer a replacement item as an alternative to 'Money Back'",
                  "title": "Return Method"
                },
                "returnPeriod": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Time measurement unit, such as DAY.",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Time-measurement unit value specified in the unit field.",
                      "title": "Value"
                    }
                  },
                  "description": "This container indicates the number of calendar days that the buyer has to return an item.",
                  "title": "ReturnPeriod"
                },
                "returnPolicyId": {
                  "type": "string",
                  "description": "Unique eBay-assigned ID for a return business policy. This ID is generated when the policy is created.",
                  "title": "Return Policy Id"
                },
                "returnsAccepted": {
                  "type": "boolean",
                  "description": "If this field is returned as true, the seller accepts returns.",
                  "title": "Returns Accepted",
                  "enum": [
                    true,
                    false
                  ]
                },
                "returnShippingCostPayer": {
                  "type": "string",
                  "description": "This field indicates who is responsible for paying for the shipping charges for returned items.",
                  "title": "Return Shipping Cost Payer"
                }
              }
            }
          }
        },
        "summary": "Get Return Policy",
        "description": "This method retrieves the complete details of the return policy specified by the returnPolicyId path parameter.",
        "operationId": "GetReturnPolicy",
        "parameters": [
          {
            "name": "return_policy_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Return policy ID you want to retrieve.",
            "x-ms-summary": "Return Policy Id",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/sell/inventory/v1/inventory_item/{sku}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "availability": {
                  "type": "object",
                  "properties": {
                    "pickupAtLocationAvailability": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "availabilityType": {
                            "type": "string",
                            "description": "This field indicates the availability status of the inventory item at the merchant's physical store.",
                            "title": "Availability Type"
                          },
                          "fulfillmentTime": {
                            "type": "object",
                            "properties": {
                              "unit": {
                                "type": "string",
                                "description": "The value indicates the time unit used to specify the fulfillment time",
                                "title": "Unit"
                              },
                              "value": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The integer value in this field, along with the time unit in the unit field, will indicate the fulfillment time.",
                                "title": "Value"
                              }
                            },
                            "description": "This container is used to indicate the expected fulfillment time if the inventory item is shipped from the warehouse location identified in the corresponding merchantLocationKey field.",
                            "title": "FulfillmentTime"
                          },
                          "merchantLocationKey": {
                            "type": "string",
                            "description": "Merchant's store unique identifier where the In-Store Pickup inventory item is currently located, or will be sent to.",
                            "title": "Merchant Location Key"
                          },
                          "quantity": {
                            "type": "integer",
                            "format": "int32",
                            "description": "This integer value indicates the quantity of the inventory item that is available for In-Store Pickup",
                            "title": "Quantity"
                          }
                        }
                      },
                      "description": "This container consists of an array of merchant's physical stores where the inventory item is available for in-store pickup.",
                      "title": "PickupAtLocationAvailability"
                    },
                    "shipToLocationAvailability": {
                      "type": "object",
                      "properties": {
                        "allocationByFormat": {
                          "type": "object",
                          "properties": {
                            "auction": {
                              "type": "integer",
                              "format": "int32",
                              "description": "This integer value indicates the quantity of the inventory item that is reserved for the published auction format offers of the SKU.",
                              "title": "Auction"
                            },
                            "fixedPrice": {
                              "type": "integer",
                              "format": "int32",
                              "description": "This integer value indicates the quantity of the inventory item that is available for the fixed-price offers of the SKU.",
                              "title": "Fixed Price"
                            }
                          },
                          "description": "This container is used to specify the quantity of the inventory item that is available for purchase, allocated by the offer types."
                        },
                        "availabilityDistributions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "fulfillmentTime": {
                                "type": "object",
                                "properties": {
                                  "unit": {
                                    "type": "string",
                                    "description": "The value indicates the time unit used to specify the fulfillment time",
                                    "title": "Unit"
                                  },
                                  "value": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The integer value in this field, along with the time unit in the unit field, will indicate the fulfillment time.",
                                    "title": "Value"
                                  }
                                },
                                "description": "This container is used to indicate the expected fulfillment time if the inventory item is shipped from the warehouse location identified in the corresponding merchantLocationKey field.",
                                "title": "FulfillmentTime"
                              },
                              "merchantLocationKey": {
                                "type": "string",
                                "description": "Unique identifier of an inventory location where quantity is available for the inventory item.",
                                "title": "Merchant Location Key"
                              },
                              "quantity": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Quantity of the inventory item that is available at this inventory location.",
                                "title": "Quantity"
                              }
                            }
                          },
                          "description": "This container is used to set the available quantity of the inventory item at one or more warehouse locations.",
                          "title": "AvailabilityDistributions"
                        },
                        "quantity": {
                          "type": "integer",
                          "format": "int32",
                          "description": "This container is used to set the total 'ship-to-home' quantity of the inventory item that will be available for purchase through one or more published offers.",
                          "title": "Quantity"
                        }
                      },
                      "description": "This container specifies the quantity of the inventory items that are available for a standard purchase, where the item is shipped to the buyer."
                    }
                  },
                  "description": "Quantity of the inventory item that are available for purchase"
                },
                "condition": {
                  "type": "string",
                  "description": "This value indicates the condition of the item",
                  "title": "Condition"
                },
                "conditionDescription": {
                  "type": "string",
                  "description": "This string field is used by the seller to more clearly describe the condition of used items, or items that are not 'Brand New', 'New with tags', or 'New in box'.",
                  "title": "Condition Description"
                },
                "groupIds": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "This array is returned if the inventory item is associated with any inventory item group(s).",
                    "title": "Group Ids"
                  }
                },
                "inventoryItemGroupKeys": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "This array is returned if the inventory item is associated with any inventory item group(s).",
                    "title": "Inventory Item Group Keys"
                  },
                  "description": "This array is returned if the inventory item is associated with any inventory item group(s)."
                },
                "locale": {
                  "type": "string",
                  "description": "This field returns the natural language that was provided in the field values of the request payload",
                  "title": "Locale"
                },
                "packageWeightAndSize": {
                  "type": "object",
                  "properties": {
                    "dimensions": {
                      "type": "object",
                      "properties": {
                        "height": {
                          "type": "number",
                          "description": "The actual height of the shipping package.",
                          "title": "Height"
                        },
                        "length": {
                          "type": "number",
                          "description": "The actual length of the shipping package.",
                          "title": "Length"
                        },
                        "unit": {
                          "type": "string",
                          "description": "Unit of measurement used to specify the dimensions of a shipping package.",
                          "title": "Unit"
                        },
                        "width": {
                          "type": "number",
                          "description": "The actual width of the shipping package.",
                          "title": "Width"
                        }
                      },
                      "description": "This container is used to indicate the length, width, and height of the shipping package that will be used to ship the inventory item."
                    },
                    "packageType": {
                      "type": "string",
                      "description": "This value indicates the type of shipping package used to ship the inventory item.",
                      "title": "Package Type"
                    },
                    "weight": {
                      "type": "object",
                      "properties": {
                        "unit": {
                          "type": "string",
                          "description": "The unit of measurement used to specify the weight of a shipping package.",
                          "title": "Unit"
                        },
                        "value": {
                          "type": "number",
                          "description": "The actual weight of the shipping package.",
                          "title": "Value"
                        }
                      },
                      "description": "This container is used to specify the weight of the shipping package that will be used to ship the inventory item.",
                      "title": "Weight"
                    }
                  },
                  "description": "This container is used to specify the dimensions and weight of a shipping package."
                },
                "product": {
                  "type": "object",
                  "properties": {
                    "aspects": {
                      "type": "object",
                      "description": "This is a collection of item specifics name-value pairs that provide more information about the product and might make it easier for buyers to find.",
                      "title": "Aspects"
                    },
                    "brand": {
                      "type": "string",
                      "description": "The brand of the product.",
                      "title": "Brand"
                    },
                    "description": {
                      "type": "string",
                      "description": "The description of the product.",
                      "title": "Description"
                    },
                    "ean": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "The European Article Number/International Article Number (EAN) for the product.",
                        "title": "EAN"
                      },
                      "description": "European Article Number/International Article Number (EAN) for the product."
                    },
                    "epid": {
                      "type": "string",
                      "description": "The eBay Product Identifier (ePID) for the product.",
                      "title": "ePID"
                    },
                    "imageUrls": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "An array of one or more links to images for the product.",
                        "title": "Image Urls"
                      },
                      "description": "An array of one or more links to images for the product."
                    },
                    "isbn": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "The International Standard Book Number value for the product.",
                        "title": "ISBN"
                      },
                      "description": "International Standard Book Number value for the product."
                    },
                    "mpn": {
                      "type": "string",
                      "description": "The Manufacturer Part Number (MPN) of a product.",
                      "title": "MPN"
                    },
                    "subtitle": {
                      "type": "string",
                      "description": "A subtitle is an optional listing feature that allows the seller to provide more information about the product, possibly including keywords that may assist with search results.",
                      "title": "Subtitle"
                    },
                    "title": {
                      "type": "string",
                      "description": "The title of an inventory item can be added or modified with a createOrReplaceInventoryItem call.",
                      "title": "Title"
                    },
                    "upc": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "The Universal Product Code value for the product.",
                        "title": "UPC"
                      },
                      "description": "International Standard Book Number value for the product."
                    },
                    "videoIds": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "An array of one or more VideoId values for the product.",
                        "title": "Video Ids"
                      },
                      "description": "An array of one or more VideoId values for the product."
                    }
                  },
                  "description": "This container is used in a createOrReplaceInventoryItem call to pass in a GTIN or MPN pair to identify a product to be matched with a product in the eBay catalog."
                },
                "sku": {
                  "type": "string",
                  "description": "The seller-defined Stock-Keeping Unit (SKU) of the inventory item. The seller should have a unique SKU value for every product that they sell.",
                  "title": "SKU"
                }
              }
            }
          }
        },
        "summary": "GET Inventory Item",
        "operationId": "GetInventoryItem",
        "description": "This call retrieves the inventory item record for a given SKU.",
        "parameters": [
          {
            "name": "sku",
            "in": "path",
[...]
