{
  "swagger": "2.0",
  "info": {
    "title": "AI or Not",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_aion@gmail.com"
    },
    "description": "Detect AI-generated images & audio for your business - and yourself - with AI or Not.",
    "version": "1.0"
  },
  "host": "api.aiornot.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/system/live": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "is_live": {
                  "type": "boolean",
                  "description": "True or false indicating, whether the system is alive.",
                  "title": "Is Live"
                }
              }
            }
          }
        },
        "summary": "Is Live",
        "description": "Check if system is alive and ready to serve requests.",
        "operationId": "IsLive",
        "parameters": []
      }
    },
    "/v1/reports/image": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "created_at": {
                  "type": "string",
                  "description": "The date and time when the report was created.",
                  "title": "Created at"
                },
                "report": {
                  "type": "object",
                  "properties": {
                    "verdict": {
                      "type": "string",
                      "description": "The verdict of the report. The verdict can be 'ai' or 'human'.",
                      "title": "Verdict"
                    },
                    "ai": {
                      "type": "object",
                      "properties": {
                        "confidence": {
                          "type": "number",
                          "format": "double",
                          "description": "The confidence of the AI analysis.",
                          "title": "Confidence"
                        },
                        "is_detected": {
                          "type": "boolean",
                          "description": "The detection status of the AI analysis.",
                          "title": "Is detected"
                        }
                      },
                      "description": "The results of the AI analysis. The results contain the confidence and the detection status.",
                      "title": "AI"
                    },
                    "human": {
                      "type": "object",
                      "properties": {
                        "confidence": {
                          "type": "number",
                          "format": "double",
                          "description": "The confidence of the human analysis.",
                          "title": "Confidence"
                        },
                        "is_detected": {
                          "type": "boolean",
                          "description": "The detection status of the human analysis.",
                          "title": "Is detected"
                        }
                      },
                      "description": "The results of the human analysis. The results contain the confidence and the detection status.",
                      "title": "Human"
                    },
                    "generator": {
                      "type": "object",
                      "properties": {
                        "midjourney": {
                          "$ref": "#/definitions/AiGenerator"
                        },
                        "dall_e": {
                          "$ref": "#/definitions/AiGenerator"
                        },
                        "stable_diffusion": {
                          "$ref": "#/definitions/AiGenerator"
                        },
                        "this_person_does_not_exist": {
                          "$ref": "#/definitions/AiGenerator"
                        }
                      },
                      "description": "The results of the AI generators. The results contain the confidence and the detection status.",
                      "title": "Generator"
                    }
                  },
                  "description": "The report itself. The report contains the verdict, the results of the AI and human analysis, and the results of the AI generators.",
                  "title": "Report"
                },
                "facets": {
                  "type": "object",
                  "properties": {
                    "quality": {
                      "type": "object",
                      "properties": {
                        "version": {
                          "type": "string",
                          "description": "Version of the detection module.",
                          "title": "Version"
                        },
                        "is_detected": {
                          "type": "boolean",
                          "description": "The detection status of the image quality check.",
                          "title": "Is detected"
                        }
                      },
                      "description": "The results of the image quality check. The results contain the detection status.",
                      "title": "Quality"
                    },
                    "nsfw": {
                      "type": "object",
                      "properties": {
                        "version": {
                          "type": "string",
                          "description": "Version of the detection module.",
                          "title": "Version"
                        },
                        "is_detected": {
                          "type": "boolean",
                          "description": "The detection status of the NSFW analysis.",
                          "title": "Is detected"
                        }
                      },
                      "description": "The results of the NSFW analysis. The results contain the detection status.",
                      "title": "NSFW"
                    }
                  },
                  "description": "The results of the image quality check and NSFW.",
                  "title": "Facets"
                }
              }
            }
          }
        },
        "consumes": [
          "application/json"
        ],
        "summary": "Image reports",
        "description": "The response model containing the result of the image report processing, which includes the results of the image quality check, NSFW, and the image analysis itself.",
        "operationId": "ImageReport",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "The image URL that needs to be verified.",
                  "title": "Object"
                }
              },
              "required": [
                "object"
              ]
            }
          }
        ]
      }
    }
  },
  "responses": {},
  "parameters": {},
  "definitions": {
    "AiGenerator": {
      "type": "object",
      "description": "The results of the generator. The results contain the confidence and the detection status.",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "double",
          "description": "The confidence of the analysis.",
          "title": "Confidence"
        },
        "is_detected": {
          "type": "boolean",
          "description": "The detection status of the analysis.",
          "title": "Is detected"
        }
      }
    }
  },
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "api_key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.aiornot.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.aiornot.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Productivity"
    }
  ]
}