{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Yarado",
    "description": "Yarado connector lets users list down robots and tasks belonging to their organisation and schedule a single task run.",
    "contact": {
      "name": "Yarado Customer Service Center",
      "url": "https://yarado.atlassian.net/servicedesk/customer/portals",
      "email": "info@yarado.com"
    }
  },
  "host": "api.yarado.com",
  "basePath": "/",
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://yarado.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.yarado.com/terms"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Productivity"
    }
  ],
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/robots": {
      "get": {
        "summary": "GET Robots",
        "description": "GET Robots",
        "operationId": "GetRobots",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "organisation_name": {
                    "type": "string"
                  },
                  "is_deleted": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/task-files": {
      "get": {
        "summary": "GET Task Files",
        "description": "GET Task Files",
        "operationId": "GetTaskFiles",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "filename": {
                    "type": "string"
                  },
                  "created_by": {
                    "type": "string"
                  },
                  "created_at": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/task-schedules": {
      "post": {
        "responses": {
          "204": {
            "description": "Task schedule has been created."
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "robot_id": {
                  "type": "string",
                  "description": "Id of a robot"
                },
                "task_file_id": {
                  "type": "string",
                  "description": "Id of task file"
                }
              },
              "required": [
                "robot_id",
                "task_file_id"
              ]
            }
          }
        ],
        "summary": "POST Schedule Task Run",
        "description": "POST Schedule Task Run",
        "operationId": "CreateScheduleTaskRun"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://api.yarado.com/oauth/authorize",
      "tokenUrl": "https://api.yarado.com/oauth/token",
      "scopes": {
        "robots task-files task-schedules": "robots task-files task-schedules"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "robots task-files task-schedules"
      ]
    }
  ],
  "tags": []
}