{
  "swagger": "2.0",
  "info": {
    "title": "Feathery",
    "description": "Feathery is transforming the way user interfaces for collecting information are built. We help users build customizable and developer-friendly forms.",
    "version": "1.0.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.feathery.io",
  "basePath": "/api/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/account/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "team": {
                  "type": "string",
                  "description": "The team name.",
                  "title": "Team"
                }
              }
            }
          }
        },
        "summary": "Get account",
        "description": "Retrieve the team name of your account.",
        "operationId": "AccountGet",
        "parameters": []
      }
    },
    "/form/{form_id}/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "form_id": {
                  "type": "string",
                  "description": "The form identifier.",
                  "title": "Form ID"
                },
                "steps": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "origin": {
                        "type": "boolean",
                        "description": "Whether origin.",
                        "title": "Origin"
                      },
                      "images": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The identifier.",
                              "title": "ID"
                            },
                            "properties": {
                              "type": "object",
                              "properties": {
                                "source_image": {
                                  "type": "string",
                                  "description": "The source image.",
                                  "title": "Source Image"
                                }
                              },
                              "title": "Properties"
                            }
                          }
                        },
                        "title": "Images"
                      },
                      "videos": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The identifier.",
                              "title": "ID"
                            },
                            "properties": {
                              "type": "object",
                              "properties": {
                                "loop": {
                                  "type": "boolean",
                                  "description": "Whether to loop.",
                                  "title": "Loop"
                                },
                                "muted": {
                                  "type": "boolean",
                                  "description": "Whether muted.",
                                  "title": "Muted"
                                },
                                "autoplay": {
                                  "type": "boolean",
                                  "description": "Whether to autoplay.",
                                  "title": "Autoplay"
                                },
                                "controls": {
                                  "type": "boolean",
                                  "description": "Whether to show controls.",
                                  "title": "Controls"
                                },
                                "source_url": {
                                  "type": "string",
                                  "description": "The source URL address.",
                                  "title": "Source URL"
                                },
                                "source_type": {
                                  "type": "string",
                                  "description": "The source type.",
                                  "title": "Source Type"
                                },
                                "video_extension": {
                                  "type": "string",
                                  "description": "The video extension.",
                                  "title": "Video Extension"
                                }
                              },
                              "title": "Properties"
                            }
                          }
                        },
                        "title": "Videos"
                      },
                      "progress_bars": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The identifier.",
                              "title": "ID"
                            },
                            "properties": {
                              "type": "object",
                              "properties": {
                                "progress": {
                                  "type": "string",
                                  "description": "The progress.",
                                  "title": "Progress"
                                },
                                "num_segments": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The number of segments.",
                                  "title": "Segments"
                                }
                              },
                              "title": "Properties"
                            }
                          }
                        },
                        "title": "Progress Bars"
                      },
                      "texts": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The identifier.",
                              "title": "ID"
                            },
                            "properties": {
                              "type": "object",
                              "properties": {
                                "text": {
                                  "type": "string",
                                  "description": "The text.",
                                  "title": "Text"
                                },
                                "text_formatted": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "insert": {
                                        "type": "string",
                                        "description": "The insert.",
                                        "title": "Insert"
                                      },
                                      "attributes": {
                                        "type": "object",
                                        "properties": {
                                          "font_size": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "The font size.",
                                            "title": "Font Size"
                                          },
                                          "font_color": {
                                            "type": "string",
                                            "description": "The font color.",
                                            "title": "Font Color"
                                          },
                                          "font_link": {
                                            "type": "string",
                                            "description": "The font link.",
                                            "title": "Font Link"
                                          },
                                          "font_weight": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "The font weight.",
                                            "title": "Font Weight"
                                          },
                                          "font_strike": {
                                            "type": "boolean",
                                            "description": "Whether the font is striked-through.",
                                            "title": "Font Strike"
                                          },
                                          "font_underline": {
                                            "type": "boolean",
                                            "description": "Whether the font is underlined.",
                                            "title": "Font Underline"
                                          }
                                        },
                                        "title": "Attributes"
                                      }
                                    }
                                  },
                                  "title": "Text Formatted"
                                }
                              },
                              "title": "Properties"
                            }
                          }
                        },
                        "title": "Texts"
                      },
                      "buttons": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The identifier.",
                              "title": "ID"
                            },
                            "properties": {
                              "type": "object",
                              "properties": {
                                "text": {
                                  "type": "string",
                                  "description": "The text.",
                                  "title": "Text"
                                },
                                "submit": {
                                  "type": "boolean",
                                  "description": "Whether a submit button.",
                                  "title": "Submit"
                                },
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "url": {
                                        "type": "string",
                                        "description": "The URL address.",
                                        "title": "URL"
                                      },
                                      "type": {
                                        "type": "string",
                                        "description": "The type.",
                                        "title": "Type"
                                      },
                                      "submit": {
                                        "type": "boolean",
                                        "description": "Whether a submit button.",
                                        "title": "Submit"
                                      },
                                      "open_tab": {
                                        "type": "boolean",
                                        "description": "Whether to open a tab.",
                                        "title": "Open Tab"
                                      }
                                    }
                                  },
                                  "title": "Actions"
                                },
                                "text_formatted": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "insert": {
                                        "type": "string",
                                        "description": "The insert.",
                                        "title": "Insert"
                                      },
                                      "attributes": {
                                        "type": "object",
                                        "properties": {
                                          "font_color": {
                                            "type": "string",
                                            "description": "The font color.",
                                            "title": "Font Color"
                                          },
                                          "font_strike": {
                                            "type": "boolean",
                                            "description": "Whether the font is striked-through.",
                                            "title": "Font Strike"
                                          },
                                          "font_underline": {
                                            "type": "boolean",
                                            "description": "Whether the font is underlined.",
                                            "title": "Font Underline"
                                          }
                                        },
                                        "title": "Attributes"
                                      }
                                    }
                                  },
                                  "title": "Text Formatted"
                                },
                                "show_loading_icon": {
                                  "type": "string",
                                  "description": "The show loading icon.",
                                  "title": "Show Loading Icon"
                                },
                                "disable_if_fields_incomplete": {
                                  "type": "boolean",
                                  "description": "Whether to disable if fields are imcomplete.",
                                  "title": "Disable If Fields Incomplete"
                                }
                              },
                              "title": "Properties"
                            }
                          }
                        },
                        "title": "Buttons"
                      },
                      "subgrids": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The identifier.",
                              "title": "ID"
                            },
                            "position": {
                              "type": "array",
                              "items": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "description": "The position.",
                              "title": "Position"
                            },
                            "axis": {
                              "type": "string",
                              "description": "The axis.",
                              "title": "Axis"
                            },
                            "mobile_axis": {
                              "type": "string",
                              "description": "The mobile axis.",
                              "title": "Mobile Axis"
                            },
                            "layout": {
                              "type": "array",
                              "items": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "description": "The layout.",
                              "title": "Layout"
                            },
                            "mobile_layout": {
                              "type": "string",
                              "description": "The mobile layout.",
                              "title": "Mobile Layout"
                            },
                            "styles": {
                              "type": "object",
                              "properties": {
                                "gap": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The gap.",
                                  "title": "Gap"
                                },
                                "padding_top": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The padding top.",
                                  "title": "Padding Top"
                                },
                                "padding_left": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The padding left.",
                                  "title": "Padding Left"
                                },
                                "padding_right": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The padding right.",
                                  "title": "Padding Right"
                                },
                                "padding_bottom": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The padding bottom.",
                                  "title": "Padding Bottom"
                                },
                                "vertical_align": {
                                  "type": "string",
                                  "description": "The vertical align.",
                                  "title": "Vertical Align"
                                },
                                "horizontal_align": {
                                  "type": "string",
                                  "description": "The horizontal align.",
                                  "title": "Horizontal Align"
                                },
                                "external_padding_top": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The external padding top.",
                                  "title": "External Padding Top"
                                },
                                "external_padding_left": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The external padding left.",
                                  "title": "External Padding Left"
                                },
                                "external_padding_right": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The external padding right.",
                                  "title": "External Padding Right"
                                },
                                "external_padding_bottom": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The external padding bottom.",
                                  "title": "External Padding Bottom"
                                },
                                "background_color": {
                                  "type": "string",
                                  "description": "The background color.",
                                  "title": "Background Color"
                                },
                                "layout": {
                                  "type": "string",
                                  "description": "The layout.",
                                  "title": "Layout"
                                }
                              },
                              "title": "Styles"
                            },
                            "mobile_styles": {
                              "type": "object",
                              "properties": {
                                "gap": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The gap.",
                                  "title": "Gap"
                                },
                                "padding_top": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The padding top.",
                                  "title": "Padding Top"
                                },
                                "padding_left": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The padding left.",
                                  "title": "Padding Left"
                                },
                                "padding_right": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The padding right.",
                                  "title": "Padding Right"
                                },
                                "padding_bottom": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The padding bottom.",
                                  "title": "Padding Bottom"
                                },
                                "vertical_align": {
                                  "type": "string",
                                  "description": "The vertical align.",
                                  "title": "Vertical Align"
                                },
                                "horizontal_align": {
                                  "type": "string",
                                  "description": "The horizontal align.",
                                  "title": "Horizontal Align"
                                },
                                "external_padding_top": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The external padding top.",
                                  "title": "External Padding Top"
                                },
                                "external_padding_left": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The external padding left.",
                                  "title": "External Padding Left"
                                },
                                "external_padding_right": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The external padding right.",
                                  "title": "External Padding Right"
                                },
                                "external_padding_bottom": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The external padding bottom.",
                                  "title": "External Padding Bottom"
                                },
                                "background_color": {
                                  "type": "string",
                                  "description": "The background color.",
                                  "title": "Background Color"
                                },
                                "layout": {
                                  "type": "string",
                                  "description": "The layout.",
                                  "title": "Layout"
                                }
                              },
                              "title": "Mobile Styles"
                            },
                            "key": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The key.",
                              "title": "Key"
                            }
                          }
                        },
                        "title": "Subgrids"
                      },
                      "previous_conditions": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The identifier.",
                              "title": "ID"
                            },
                            "element_type": {
                              "type": "string",
                              "description": "The element type.",
                              "title": "Element Type"
                            },
                            "element_id": {
                              "type": "string",
                              "description": "The element identifier.",
                              "title": "Element ID"
                            },
                            "next_step": {
                              "type": "string",
                              "description": "The next step.",
                              "title": "Next Step"
                            },
                            "previous_step": {
                              "type": "string",
                              "description": "The previous step.",
                              "title": "Previous Step"
                            },
                            "next_step_key": {
                              "type": "string",
                              "description": "The next step key.",
                              "title": "Next Step Key"
                            },
                            "previous_step_key": {
                              "type": "string",
                              "description": "The previous step key.",
                              "title": "Previous Step Key"
                            }
                          }
                        },
                        "title": "Previous Conditions"
                      },
                      "next_conditions": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The identifier.",
                              "title": "ID"
                            },
                            "element_type": {
                              "type": "string",
                              "description": "The element type.",
                              "title": "Element Type"
                            },
                            "element_id": {
                              "type": "string",
                              "description": "The element identifier.",
                              "title": "Element ID"
                            },
                            "next_step": {
                              "type": "string",
                              "description": "The next step.",
                              "title": "Next Step"
                            },
                            "previous_step": {
                              "type": "string",
                              "description": "The previous step.",
                              "title": "Previous Step"
                            },
                            "next_step_key": {
                              "type": "string",
                              "description": "The next step key.",
                              "title": "Next Step Key"
                            },
                            "previous_step_key": {
                              "type": "string",
                              "description": "The previous step key.",
                              "title": "Previous Step Key"
                            }
                          }
                        },
                        "title": "Next Conditions"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "fields": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The fields.",
                        "title": "Fields"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      }
                    }
                  },
                  "title": "Steps"
                }
              }
            }
          }
        },
        "summary": "Retrieve form",
        "description": "Retrieve the schema of a form created in Feathery.",
        "operationId": "FormGet",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "x-ms-summary": "Form ID",
            "x-ms-url-encoding": "single",
            "description": "The form identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/form/": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create form",
        "description": "Creates a form based off an existing template form.",
        "operationId": "FormPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "form_id": {
                  "type": "string",
                  "description": "The form identifier.",
                  "title": "Form ID"
                },
                "template_form_id": {
                  "type": "string",
                  "description": "The template form identifier.",
                  "title": "Template Form ID"
                },
                "steps": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "step_id": {
                        "type": "string",
                        "description": "The step identifier.",
                        "title": "Step ID"
                      },
                      "template_step_id": {
                        "type": "string",
                        "description": "The template step identifier.",
                        "title": "Template Step ID"
                      },
                      "origin": {
                        "type": "boolean",
                        "description": "Whether origin.",
                        "title": "Origin"
                      },
                      "fields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The identifier.",
                              "title": "ID"
                            },
                            "field_id": {
                              "type": "string",
                              "description": "The field identifier.",
                              "title": "Field ID"
                            }
                          }
                        },
                        "title": "Fields"
                      },
                      "texts": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The identifier.",
                              "title": "ID"
                            },
                            "text": {
                              "type": "string",
                              "description": "The text.",
                              "title": "Text"
                            }
                          }
                        },
                        "title": "Texts"
                      },
                      "buttons": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The identifier.",
                              "title": "ID"
                            },
                            "text": {
                              "type": "string",
                              "description": "The text.",
                              "title": "Text"
                            }
                          }
                        },
                        "title": "Buttons"
                      },
                      "images": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The identifier.",
                              "title": "ID"
                            },
                            "source_url": {
                              "type": "string",
                              "description": "The source URL address.",
                              "title": "Source URL"
                            }
                          }
                        },
                        "title": "Images"
                      },
                      "progress_bars": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The identifier.",
                              "title": "ID"
                            },
                            "progress": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The progress.",
                              "title": "Progress"
                            }
                          }
                        },
                        "title": "Progress Bars"
                      }
                    }
                  },
                  "title": "Steps"
                },
                "navigation_rules": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "previous_step_id": {
                        "type": "string",
                        "description": "The previous step identifier.",
                        "title": "Previous Step ID"
                      },
                      "next_step_id": {
                        "type": "string",
                        "description": "The next step identifier.",
                        "title": "Next Step ID"
                      },
                      "trigger": {
                        "type": "string",
                        "description": "The trigger.",
                        "title": "Trigger"
                      },
                      "element_type": {
                        "type": "string",
                        "description": "The element type.",
                        "title": "Element Type"
                      },
                      "element_id": {
                        "type": "string",
                        "description": "The element identifier.",
                        "title": "Element ID"
                      },
                      "rules": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "comparison": {
                              "type": "string",
                              "description": "The comparison.",
                              "title": "Comparison"
                            },
                            "field_key": {
                              "type": "string",
                              "description": "The field key.",
                              "title": "Field Key"
                            },
                            "value": {
                              "type": "string",
                              "description": "The value.",
                              "title": "Value"
                            }
                          }
                        },
                        "title": "Rules"
                      }
                    }
                  },
                  "title": "Navigation"
                }
              }
            }
          }
        ]
      }
    },
    "/user": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "When created at.",
                    "title": "Created At"
                  },
                  "updated_at": {
                    "type": "string",
                    "description": "When updated at.",
                    "title": "Updated At"
                  }
                }
              }
            }
          }
        },
        "summary": "List users",
        "description": "Retrieve a list of all of your users in Feathery.",
        "operationId": "UsersGet",
        "parameters": []
      }
    },
    "/user/{user_id}/session/{form_key}/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "current_step_key": {
                  "type": "string",
                  "description": "The current step key.",
                  "title": "Current Step Key"
                },
                "auth_id": {
                  "type": "string",
                  "description": "The authorization identifier.",
                  "title": "Authorization ID"
                },
                "auth_email": {
                  "type": "string",
                  "description": "The authorization email address.",
                  "title": "Authorization Email"
                },
                "auth_phone": {
                  "type": "string",
                  "description": "The authorization phone number.",
                  "title": "Authorization Phone"
                }
              }
            }
          }
        },
        "summary": "Get user session",
        "description": "Retrieve session data for a form user.",
        "operationId": "UserSessionGet",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "x-ms-summary": "User ID",
            "x-ms-url-encoding": "single",
            "description": "The user identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "form_key",
            "in": "path",
            "x-ms-summary": "Form Key",
            "x-ms-url-encoding": "single",
            "description": "The form key.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/user/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "api_key": {
                  "type": "string",
                  "description": "The API key.",
                  "title": "API Key"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "created_at": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "updated_at": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                }
              }
            }
          }
        },
        "summary": "Create or update user",
        "description": "Creates, updates, or retrieves the information of a specific user.",
        "operationId": "UserPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                }
              },
              "required": [
                "id"
              ]
            }
          }
        ]
      }
    },
    "/user/{id}/": {
      "delete": {
        "responses": {
          "204": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Delete user",
        "description": "Deletes a specific user.",
        "operationId": "UserDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/field/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "type": {
                    "type": "string",
                    "description": "The type.",
                    "title": "Type"
                  },
                  "display_text": {
                    "type": "string",
                    "description": "The display text.",
                    "title": "Display Text"
                  },
                  "value": {
                    "type": "string",
                    "description": "The value.",
                    "title": "Value"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "When created at.",
                    "title": "Created At"
                  },
                  "updated_at": {
                    "type": "string",
                    "description": "When updated at.",
                    "title": "Updated At"
                  },
                  "hidden": {
                    "type": "boolean",
                    "description": "Whether hidden.",
                    "title": "Hidden"
                  }
                }
              }
            }
          }
        },
        "summary": "Get user fields",
        "description": "Retrieve a list of all fields for a user.",
        "operationId": "UserFieldsGet",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "x-ms-summary": "ID",
            "description": "The identifier.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/field/{id}/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "field_id": {
                  "type": "string",
                  "description": "The field identifier.",
                  "title": "Field ID"
                },
                "value": {
                  "type": "string",
                  "description": "The value.",
                  "title": "Value"
                },
                "created_at": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "updated_at": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                }
              }
            }
          }
        },
        "summary": "Create user field",
        "description": "Creates or updates the value of a field for a specific user.",
        "operationId": "UserFieldPost",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "field_id": {
                  "type": "string",
                  "description": "The field identifier.",
                  "title": "Field ID"
                },
                "value": {
                  "type": "string",
                  "description": "The value.",
                  "title": "Value"
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.feathery.io/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.feathery.io/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Marketing"
    }
  ]
}
