{
    "swagger": "2.0",
    "info": {
        "title": "LawVu",
        "description": "LawVu is a connected legal workspace, providing advanced matter and contract management capabilities and connecting in-house legal teams to the rest of the business.",
        "contact": {
            "name": "LawVu Support",
            "url": "https://help.lawvu.com/",
            "email": "support@lawvu.com"
        },
        "version": "1.0"
    },
    "host": "au.public-api.lawvu.com",
    "schemes": [
        "https"
    ],
    "paths": {
        "/power-platform-apis/v1/contracts-power-platform/{contractId}/files": {
            "post": {
                "tags": [
                    "ContractFiles"
                ],
                "summary": "Upload file to a contract",
                "description": "Uploads a file to the contract",
                "operationId": "Contracts_UploadFile",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "contractId",
                        "description": "The ID of the contract",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "Contract ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "The file to be uploaded",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LawVu.PowerPlatform.MiddlewareApi.ClientModels.ContractFileUpload"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "format": "int32",
                            "type": "integer",
                            "x-ms-summary": "File ID"
                        }
                    }
                }
            }
        },
        "/contract-apis/v1/contracts/{contractId}/keyDates": {
            "get": {
                "tags": [
                    "ContractKeyDate"
                ],
                "summary": "Get contract key dates",
                "description": "Returns a list of contract key dates",
                "operationId": "Contracts_GetKeyDates",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "contractId",
                        "description": "Enter a contract ID (number)",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "Contract ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ContractKeyDateModelArray"
                        }
                    }
                }
            }
        },
        "/power-platform-apis/v1/contracts-power-platform/wizard": {
            "post": {
                "tags": [
                    "Contracts"
                ],
                "summary": "Create contract by wizard",
                "description": "Creates a new contract, using the contract template wizard",
                "operationId": "Contracts_CreateByWizard",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Details of the contract to be created",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LawVu.PowerPlatform.MiddlewareApi.ClientModels.CreateContractByWizard"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "format": "int32",
                            "type": "integer",
                            "x-ms-summary": "Contract ID"
                        }
                    }
                }
            }
        },
        "/power-platform-apis/v1/contracts-power-platform": {
            "post": {
                "tags": [
                    "Contracts"
                ],
                "summary": "Create contract by upload",
                "description": "Creates a new contract, with the main contract file being sent as base64 string",
                "operationId": "Contracts_CreateByUpload",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Details of the contract to be created",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LawVu.PowerPlatform.MiddlewareApi.ClientModels.CreateContractByUpload"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "format": "int32",
                            "type": "integer",
                            "x-ms-summary": "Contract ID"
                        }
                    }
                }
            }
        },
        "/power-platform-apis/v1/contracts-power-platform/{contractId}": {
            "get": {
                "tags": [
                    "Contracts"
                ],
                "summary": "Get contract",
                "description": "Gets the details of the selected contract",
                "operationId": "Contracts_GetContract",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "contractId",
                        "description": "Enter a contract ID (number)",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "Contract ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/LawVu.PowerPlatform.MiddlewareApi.Model.ClientModels.Contract"
                        }
                    }
                }
            }
        },
        "/power-platform-apis/v1/contracts-power-platform/{contractId}/fields": {
            "put": {
                "tags": [
                    "Contracts"
                ],
                "summary": "Update contract field",
                "description": "Update a field in the selected contract",
                "operationId": "PowerPlatform_ContractFields_Update",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "contractId",
                        "description": "Enter the ID of the contract to update (number)",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "Contract ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "The field update",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LawVu.PowerPlatform.MiddlewareApi.Model.ClientModels.UpdateContractFieldRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/contract-apis/v1/contracts/entities": {
            "get": {
                "tags": [
                    "Contracts"
                ],
                "summary": "Contract entities",
                "description": "Gets contract entities (other parties)",
                "operationId": "Contracts_GetEntities",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ContractEntityArray"
                        }
                    }
                },
                "x-ms-visibility": "internal"
            }
        },
        "/contract-apis/v1/contracts/{contractId}/statusMessages": {
            "post": {
                "tags": [
                    "ContractStatusMessage"
                ],
                "summary": "Add a status message to a contract",
                "description": "Add status message to a contract",
                "operationId": "Contracts_AddStatusMessage",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "contractId",
                        "description": "Enter a contract ID (number)",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "Contract ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "The status message to add",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LawVu.PublicApi.Contracts.v1.ClientModels.ContractStatusMessageModel"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/power-platform-apis/v1/contractsTemplates-power-platform": {
            "get": {
                "tags": [
                    "ContractTemplates"
                ],
                "summary": "Get contract templates",
                "description": "Gets a list of contract templates",
                "operationId": "Contracts_GetTemplates",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "hasWizard",
                        "type": "boolean",
                        "x-ms-summary": "Has Wizard"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/LawVu.PublicApi.Contracts.v1.ClientModels.ContractTemplate"
                            }
                        }
                    }
                },
                "x-ms-visibility": "internal"
            }
        },
        "/power-platform-apis/v1/contractsTemplates-power-platform/{templateId}/createSchema": {
            "get": {
                "tags": [
                    "ContractTemplates"
                ],
                "summary": "Get contract creation schema",
                "description": "Gets the schema for creating a new contract",
                "operationId": "Contracts_GetUploadSchema",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "templateId",
                        "description": "The ID of the contract template",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "Template ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "x-ms-visibility": "internal"
            }
        },
        "/power-platform-apis/v1/contracts-power-platform/{contractId}/users": {
            "get": {
                "tags": [
                    "ContractUser"
                ],
                "summary": "Get members of a contract",
                "description": "Returns users that are added as members of the contract",
                "operationId": "PowerPlatform_Contracts_GetContractUsers",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "contractId",
                        "description": "The contract ID",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "Contract ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ContractUserArray"
                        }
                    }
                }
            }
        },
        "/contract-apis/v1/contracts/{contractId}/users": {
            "post": {
                "tags": [
                    "ContractUser"
                ],
                "summary": "Add user to a contract",
                "description": "Adds a user to a contract as a member",
                "operationId": "Contracts_AddContractUser",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "contractId",
                        "description": "Enter a contract ID (number)",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "Contract ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "The ID of the user to add into a contract",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LawVu.PublicApi.Contracts.v1.ClientModels.AssignContractUser"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/power-platform-apis/v1/fields-power-platform": {
            "get": {
                "tags": [
                    "Fields"
                ],
                "summary": "Get fields schema",
                "description": "All fields in the organisation",
                "operationId": "PowerPlatform_Fields_Get",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "forRecordType",
                        "description": "Restrict field list to fields only used in Matters or Contracts",
                        "type": "string",
                        "enum": [
                            "Matter",
                            "Milestone",
                            "Task",
                            "Organisation",
                            "Contract",
                            "File",
                            "InvoiceBatch",
                            "KnowledgeArticle",
                            "Folder",
                            "FolderTemplate",
                            "KnowledgeLibrary",
                            "InboundEmail",
                            "User",
                            "MessageThread",
                            "TimelineEntry",
                            "MatterStatus",
                            "ContractStatus",
                            "Message",
                            "Comment"
                        ],
                        "x-ms-enum-values": [
                            {
                                "displayName": "Matter",
                                "value": "Matter"
                            },
                            {
                                "displayName": "Milestone",
                                "value": "Milestone"
                            },
                            {
                                "displayName": "Task",
                                "value": "Task"
                            },
                            {
                                "displayName": "Organisation",
                                "value": "Organisation"
                            },
                            {
                                "displayName": "Contract",
                                "value": "Contract"
                            },
                            {
                                "displayName": "File",
                                "value": "File"
                            },
                            {
                                "displayName": "Invoice Batch",
                                "value": "InvoiceBatch"
                            },
                            {
                                "displayName": "Knowledge Article",
                                "value": "KnowledgeArticle"
                            },
                            {
                                "displayName": "Folder",
                                "value": "Folder"
                            },
                            {
                                "displayName": "Folder Template",
                                "value": "FolderTemplate"
                            },
                            {
                                "displayName": "Knowledge Library",
                                "value": "KnowledgeLibrary"
                            },
                            {
                                "displayName": "Inbound Email",
                                "value": "InboundEmail"
                            },
                            {
                                "displayName": "User",
                                "value": "User"
                            },
                            {
                                "displayName": "Message Thread",
                                "value": "MessageThread"
                            },
                            {
                                "displayName": "Timeline Entry",
                                "value": "TimelineEntry"
                            },
                            {
                                "displayName": "Matter Status",
                                "value": "MatterStatus"
                            },
                            {
                                "displayName": "Contract Status",
                                "value": "ContractStatus"
                            },
                            {
                                "displayName": "Message",
                                "value": "Message"
                            },
                            {
                                "displayName": "Comment",
                                "value": "Comment"
                            }
                        ],
                        "x-ms-summary": "For Record Type"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/LawVu.PublicApi.Libs.Business.Models.LawVu.Grids.DataSourceResult`1[System.Object]"
                        }
                    }
                },
                "x-ms-visibility": "internal"
            }
        },
        "/power-platform-apis/v1/fields-power-platform/{fieldId}/schema": {
            "get": {
                "tags": [
                    "Fields"
                ],
                "summary": "Get field schema",
                "operationId": "PowerPlatform_Field_GetSchema",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "fieldId",
                        "description": "e.g. field_1",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "Field ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "in": "query",
                        "name": "includeDefaultValues",
                        "description": "Include the default values for the field in the schema<p>Default: True</p>",
                        "type": "boolean",
                        "default": true,
                        "x-ms-summary": "Include Default Values"
                    },
                    {
                        "in": "query",
                        "name": "fieldTitleOverride",
                        "description": "Override the title of the field, normally the friendly field name",
                        "type": "string",
                        "x-ms-summary": "Field Title Override"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/LawVu.PublicApi.Libs.Business.Models.LawVu.Grids.DataSourceResult`1[System.Object]"
                        }
                    }
                },
                "x-ms-visibility": "internal"
            }
        },
        "/power-platform-apis/v1/fields-power-platform/list": {
            "get": {
                "tags": [
                    "Fields"
                ],
                "summary": "Get field list",
                "description": "All fields in the organisation",
                "operationId": "PowerPlatform_FieldList_Get",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "forRecordType",
                        "description": "Restrict field list to fields only used in Matters or Contracts",
                        "type": "string",
                        "enum": [
                            "Matter",
                            "Milestone",
                            "Task",
                            "Organisation",
                            "Contract",
                            "File",
                            "InvoiceBatch",
                            "KnowledgeArticle",
                            "Folder",
                            "FolderTemplate",
                            "KnowledgeLibrary",
                            "InboundEmail",
                            "User",
                            "MessageThread",
                            "TimelineEntry",
                            "MatterStatus",
                            "ContractStatus",
                            "Message",
                            "Comment"
                        ],
                        "x-ms-enum-values": [
                            {
                                "displayName": "Matter",
                                "value": "Matter"
                            },
                            {
                                "displayName": "Milestone",
                                "value": "Milestone"
                            },
                            {
                                "displayName": "Task",
                                "value": "Task"
                            },
                            {
                                "displayName": "Organisation",
                                "value": "Organisation"
                            },
                            {
                                "displayName": "Contract",
                                "value": "Contract"
                            },
                            {
                                "displayName": "File",
                                "value": "File"
                            },
                            {
                                "displayName": "Invoice Batch",
                                "value": "InvoiceBatch"
                            },
                            {
                                "displayName": "Knowledge Article",
                                "value": "KnowledgeArticle"
                            },
                            {
                                "displayName": "Folder",
                                "value": "Folder"
                            },
                            {
                                "displayName": "Folder Template",
                                "value": "FolderTemplate"
                            },
                            {
                                "displayName": "Knowledge Library",
                                "value": "KnowledgeLibrary"
                            },
                            {
                                "displayName": "Inbound Email",
                                "value": "InboundEmail"
                            },
                            {
                                "displayName": "User",
                                "value": "User"
                            },
                            {
                                "displayName": "Message Thread",
                                "value": "MessageThread"
                            },
                            {
                                "displayName": "Timeline Entry",
                                "value": "TimelineEntry"
                            },
                            {
                                "displayName": "Matter Status",
                                "value": "MatterStatus"
                            },
                            {
                                "displayName": "Contract Status",
                                "value": "ContractStatus"
                            },
                            {
                                "displayName": "Message",
                                "value": "Message"
                            },
                            {
                                "displayName": "Comment",
                                "value": "Comment"
                            }
                        ],
                        "x-ms-summary": "For Record Type"
                    },
                    {
                        "in": "query",
                        "name": "includeRecordProperties",
                        "description": "Includes items in the field list which don't map back to fields e.g. name, record owner, etc.<p>Default: True</p>",
                        "type": "boolean",
                        "default": true,
                        "x-ms-summary": "Include Record Properties"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/FieldArray"
                        }
                    }
                },
                "x-ms-visibility": "internal"
            }
        },
        "/power-platform-apis/v1/fields-power-platform/{fieldId}/options": {
            "get": {
                "tags": [
                    "Fields"
                ],
                "summary": "Get the possible options for an options field",
                "operationId": "PowerPlatform_Field_GetFieldSchemaOptions",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "fieldId",
                        "description": "e.g. field_1",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "Field ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/LawVuFieldOptionArray"
                        }
                    }
                },
                "x-ms-visibility": "internal"
            }
        },
        "/power-platform-apis/v1/files-power-platform/{fileId}/content": {
            "get": {
                "tags": [
                    "Files"
                ],
                "summary": "Get file content",
                "description": "Returns the content of a file.",
                "operationId": "PowerPlatform_Files_GetFileContent",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "fileId",
                        "description": "Enter the ID of the file to get content for (number)",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "File ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "format": "binary",
                            "type": "string",
                            "x-ms-summary": "File content"
                        }
                    }
                }
            }
        },
        "/power-platform-apis/v1/files-power-platform/{fileId}": {
            "get": {
                "tags": [
                    "Files"
                ],
                "summary": "Get file",
                "description": "Gets a file in LawVu",
                "operationId": "PowerPlatform_Files_GetFile",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "fileId",
                        "description": "Enter the ID of the file to get metadata for (number)",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "File ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/LawVu.PowerPlatform.MiddlewareApi.Model.ClientModels.FileDetail"
                        }
                    }
                }
            }
        },
        "/power-platform-apis/v1/files-power-platform": {
            "get": {
                "tags": [
                    "Files"
                ],
                "summary": "Get files",
                "description": "Gets a list of files in LawVu (with filters)",
                "operationId": "PowerPlatform_Files_GetFiles",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "getfiles.filesparentrecordtype",
                        "description": "Select the record type which contains the files",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "Matter",
                            "Contract"
                        ],
                        "x-ms-summary": "Record Type",
                        "x-ms-enum-values": [
                            {
                                "displayName": "Matter",
                                "value": "Matter"
                            },
                            {
                                "displayName": "Contract",
                                "value": "Contract"
                            }
                        ]
                    },
                    {
                        "in": "query",
                        "name": "getfiles.recordid",
                        "description": "The record ID which contains the files (e.g. matter ID)",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "Record ID"
                    },
                    {
                        "in": "query",
                        "name": "getfiles.recursive",
                        "description": "Include files in nested folders",
                        "required": true,
                        "type": "boolean",
                        "x-ms-summary": "Include Nested"
                    },
                    {
                        "in": "query",
                        "name": "getfiles.parentfolderid",
                        "description": "Optionally select the subfolder which contains the files",
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "Sub folder"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/FileListItemArray"
                        }
                    }
                }
            }
        },
        "/power-platform-apis/v1/files-power-platform/{fileId}/download": {
            "get": {
                "tags": [
                    "Files"
                ],
                "summary": "Get temporary file download link",
                "description": "Gets a temporary link where the file can be downloaded",
                "operationId": "PowerPlatform_Files_GetFileDownload",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "fileId",
                        "description": "Enter the ID of the file to get temporary download link for (number)",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "File ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/LawVu.PowerPlatform.MiddlewareApi.Model.ClientModels.DownloadFile"
                        }
                    }
                }
            }
        },
        "/power-platform-apis/v1/folders-power-platform/picker": {
            "get": {
                "tags": [
                    "Folders"
                ],
                "summary": "Get folders for folder picker only",
                "description": "Gets a list of folders in LawVu, with the ID as a string for compatability with folder picker",
                "operationId": "PowerPlatform_Files_GetFoldersForPicker",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "recordId",
                        "description": "The record ID the folders are linked to",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "Record ID"
                    },
                    {
                        "in": "query",
                        "name": "recordType",
                        "description": "The record type the folders are linked to (Matter, Contract, Organisation etc)",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "Matter",
                            "Milestone",
                            "Task",
                            "Organisation",
                            "Contract",
                            "File",
                            "InvoiceBatch",
                            "KnowledgeArticle",
                            "Folder",
                            "FolderTemplate",
                            "KnowledgeLibrary",
                            "InboundEmail",
                            "User",
                            "MessageThread",
                            "TimelineEntry",
                            "MatterStatus",
                            "ContractStatus",
                            "Message",
                            "Comment"
                        ],
                        "x-ms-enum-values": [
                            {
                                "displayName": "Matter",
                                "value": "Matter"
                            },
                            {
                                "displayName": "Milestone",
                                "value": "Milestone"
                            },
                            {
                                "displayName": "Task",
                                "value": "Task"
                            },
                            {
                                "displayName": "Organisation",
                                "value": "Organisation"
                            },
                            {
                                "displayName": "Contract",
                                "value": "Contract"
                            },
                            {
                                "displayName": "File",
                                "value": "File"
                            },
                            {
                                "displayName": "Invoice Batch",
                                "value": "InvoiceBatch"
                            },
                            {
                                "displayName": "Knowledge Article",
                                "value": "KnowledgeArticle"
                            },
                            {
                                "displayName": "Folder",
                                "value": "Folder"
                            },
                            {
                                "displayName": "Folder Template",
                                "value": "FolderTemplate"
                            },
                            {
                                "displayName": "Knowledge Library",
                                "value": "KnowledgeLibrary"
                            },
                            {
                                "displayName": "Inbound Email",
                                "value": "InboundEmail"
                            },
                            {
                                "displayName": "User",
                                "value": "User"
                            },
                            {
                                "displayName": "Message Thread",
                                "value": "MessageThread"
                            },
                            {
                                "displayName": "Timeline Entry",
                                "value": "TimelineEntry"
                            },
                            {
                                "displayName": "Matter Status",
                                "value": "MatterStatus"
                            },
                            {
                                "displayName": "Contract Status",
                                "value": "ContractStatus"
                            },
                            {
                                "displayName": "Message",
                                "value": "Message"
                            },
                            {
                                "displayName": "Comment",
                                "value": "Comment"
                            }
                        ],
                        "x-ms-summary": "Record Type"
                    },
                    {
                        "in": "query",
                        "name": "parentFolderId",
                        "description": "Returns folders under the specified parentd folder ID otherwise it returns them from the root folder",
                        "type": "string",
                        "x-ms-summary": "Parent Folder ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/FolderModelForPickerArray"
                        }
                    }
                },
                "x-ms-visibility": "internal"
            }
        },
        "/file-apis/v1/folders": {
            "get": {
                "tags": [
                    "Folders"
                ],
                "summary": "Get folders",
                "description": "Gets a list of folders in LawVu",
                "operationId": "PowerPlatform_Files_GetFolders",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "recordId",
                        "description": "Enter a record ID (number)",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "Record ID"
                    },
                    {
                        "in": "query",
                        "name": "recordType",
                        "description": "Select or enter a record type",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "Matter",
                            "Milestone",
                            "Task",
                            "Organisation",
                            "Contract",
                            "File",
                            "InvoiceBatch",
                            "KnowledgeArticle",
                            "Folder",
                            "FolderTemplate",
                            "KnowledgeLibrary",
                            "InboundEmail",
                            "User",
                            "MessageThread",
                            "TimelineEntry",
                            "MatterStatus",
                            "ContractStatus",
                            "Message",
                            "Comment"
                        ],
                        "x-ms-enum-values": [
                            {
                                "displayName": "Matter",
                                "value": "Matter"
                            },
                            {
                                "displayName": "Milestone",
                                "value": "Milestone"
                            },
                            {
                                "displayName": "Task",
                                "value": "Task"
                            },
                            {
                                "displayName": "Organisation",
                                "value": "Organisation"
                            },
                            {
                                "displayName": "Contract",
                                "value": "Contract"
                            },
                            {
                                "displayName": "File",
                                "value": "File"
                            },
                            {
                                "displayName": "Invoice Batch",
                                "value": "InvoiceBatch"
                            },
                            {
                                "displayName": "Knowledge Article",
                                "value": "KnowledgeArticle"
                            },
                            {
                                "displayName": "Folder",
                                "value": "Folder"
                            },
                            {
                                "displayName": "Folder Template",
                                "value": "FolderTemplate"
                            },
                            {
                                "displayName": "Knowledge Library",
                                "value": "KnowledgeLibrary"
                            },
                            {
                                "displayName": "Inbound Email",
                                "value": "InboundEmail"
                            },
                            {
                                "displayName": "User",
                                "value": "User"
                            },
                            {
                                "displayName": "Message Thread",
                                "value": "MessageThread"
                            },
                            {
                                "displayName": "Timeline Entry",
                                "value": "TimelineEntry"
                            },
                            {
                                "displayName": "Matter Status",
                                "value": "MatterStatus"
                            },
                            {
                                "displayName": "Contract Status",
                                "value": "ContractStatus"
                            },
                            {
                                "displayName": "Message",
                                "value": "Message"
                            },
                            {
                                "displayName": "Comment",
                                "value": "Comment"
                            }
                        ],
                        "x-ms-summary": "Record Type"
                    },
                    {
                        "in": "query",
                        "name": "parentFolderId",
                        "description": "Optional. Enter a folder ID to return folders under the specified folder ID, otherwise returns them from the root folder",
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "Parent Folder ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/FolderModelArray"
                        }
                    }
                }
            }
        },
        "/field-apis/v1/lookupFields/{id}/choices": {
            "get": {
                "tags": [
                    "LookupFields"
                ],
                "summary": "Get available choices for a multi lookup field",
                "operationId": "LookupFields_GetChoices",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "The ID of the field",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "Number of results to skip<p>Default: 0</p>",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "x-ms-summary": "Skip"
                    },
                    {
                        "in": "query",
                        "name": "take",
                        "description": "The maximum number of choices to return<p>Default: 25</p>",
                        "type": "integer",
                        "format": "int32",
                        "default": 25,
                        "x-ms-summary": "Take"
                    },
                    {
                        "in": "query",
                        "name": "search",
                        "description": "Text filter",
                        "type": "string",
                        "x-ms-summary": "Search"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/LawVu.PublicApi.Fields.v1.ClientModels.PaganationResult`1[LawVu.PublicApi.Fields.v1.ClientModels.LookupOption]"
                        }
                    }
                },
                "x-ms-visibility": "internal"
            }
        },
        "/power-platform-apis/v1/matters-power-platform/{matterId}/files": {
            "post": {
                "tags": [
                    "MatterFiles"
                ],
                "summary": "Upload file to a matter",
                "description": "Uploads a file to the matter",
                "operationId": "Matters_UploadFile",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "matterId",
                        "description": "The ID of the matter",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "Matter ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "The file to be uploaded",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LawVu.PowerPlatform.MiddlewareApi.ClientModels.FileUploadRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "format": "int32",
                            "type": "integer",
                            "x-ms-summary": "File ID"
                        }
                    }
                }
            }
        },
        "/power-platform-apis/v1/matters-power-platform/{matterId}": {
            "get": {
                "tags": [
                    "Matters"
                ],
                "summary": "Get matter",
                "description": "Gets the details of the selected matter",
                "operationId": "PowerPlatform_Matters_GetMatter",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "matterId",
                        "description": "Enter a matter ID (number)",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "Matter ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/LawVu.PowerPlatform.MiddlewareApi.Model.ClientModels.Matter"
                        }
                    }
                }
            }
        },
        "/power-platform-apis/v1/matters-power-platform": {
            "post": {
                "tags": [
                    "Matters"
                ],
                "summary": "Create matter",
                "description": "Creates a new matter with the supplied values",
                "operationId": "Matters_CreateMatter",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LawVu.PublicApi.Matters.v1.ClientModels.CreateMatter"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "format": "int32",
                            "type": "integer",
                            "x-ms-summary": "Matter ID"
                        }
                    }
                }
            }
        },
        "/power-platform-apis/v1/matters-power-platform/{matterId}/users": {
            "get": {
                "tags": [
                    "Matters"
                ],
                "summary": "Get members of a matter",
                "description": "Returns users that are added as members of the matter",
                "operationId": "PowerPlatform_Matters_GetMatterUsers",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "matterId",
                        "description": "Enter a matter ID (number)",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "Matter ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/MatterUserArray"
                        }
                    }
                }
            }
        },
        "/power-platform-apis/v1/matters-power-platform/{matterId}/fields": {
            "put": {
                "tags": [
                    "Matters"
                ],
                "summary": "Update matter field",
                "description": "Update a field in the selected matter",
                "operationId": "PowerPlatform_MatterFields_Update",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "matterId",
                        "description": "Enter a matter ID (number)",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "Matter ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "The field update",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LawVu.PowerPlatform.MiddlewareApi.Model.ClientModels.UpdateMatterFieldRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/matter-apis/v1/matters/quickfind": {
            "get": {
                "tags": [
                    "Matters"
                ],
                "summary": "Find matters",
                "description": "Quickly find and filter matters",
                "operationId": "Matters_QuickFind",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "term",
                        "description": "A term to search matters by",
                        "type": "string",
                        "x-ms-summary": "Term"
                    },
                    {
                        "in": "query",
                        "name": "includeRestricted",
                        "description": "Include restricted matters in the search<p>Default: False</p>",
                        "type": "boolean",
                        "default": false,
                        "x-ms-summary": "Include Restricted",
                        "x-ms-visibility": "internal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/QuickFindMatterArray"
                        }
                    }
                },
                "x-ms-visibility": "internal"
            }
        },
        "/matter-apis/v1/matters/{matterId}/users": {
            "post": {
                "tags": [
                    "Matters"
                ],
                "summary": "Add user to a matter",
                "description": "Adds a user to the matter (as owner, manager or regular matter member)",
                "operationId": "Matters_AddMatterUser",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "matterId",
                        "description": "Enter a matter ID (number)",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "Matter ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Details about how to assign the user to the matter",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LawVu.PublicApi.Matters.v1.ClientModels.AssignMatterUser"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/matter-apis/v1/matters/{matterId}/statusMessages": {
            "post": {
                "tags": [
                    "MatterStatusMessage"
                ],
                "summary": "Add a status message to a matter",
                "description": "Adds a status message to a matter",
                "operationId": "Matters_AddStatusMessage",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "matterId",
                        "description": "Enter a matter ID (number)",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "Matter ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "The status message to add",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LawVu.PublicApi.Matters.v1.ClientModels.MatterStatusMessageModel"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/matter-apis/v1/matters/tasktemplates": {
            "get": {
                "tags": [
                    "MatterTaskTemplates"
                ],
                "summary": "Get task templates",
                "description": "Gets task templates",
                "operationId": "Matters_GetTaskTemplates",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/TaskTemplatesArray"
                        }
                    }
                }
            }
        },
        "/matter-apis/v1/matters/{matterId}/taskTemplates": {
            "post": {
                "tags": [
                    "MatterTaskTemplates"
                ],
                "summary": "Add a task template to matter",
                "description": "Adds a task template to a matter",
                "operationId": "Matters_AddTaskTemplate",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "matterId",
                        "description": "Enter a matter ID (number)",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "Matter ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "The ID of the task template",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LawVu.PublicApi.Matters.v1.ClientModels.AddTaskFromTemplateModel"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/power-platform-apis/v1/mattertypes-power-platform": {
            "get": {
                "tags": [
                    "MatterTypes"
                ],
                "summary": "Matter types",
                "description": "Gets the configured types for a matter",
                "operationId": "PowerPlatform_MatterTypes_GetTypes",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/MatterCategoryArray"
                        }
                    }
                },
                "x-ms-visibility": "internal"
            }
        },
        "/power-platform-apis/v1/mattertypes-power-platform/{matterTypeId}/createSchema": {
            "get": {
                "tags": [
                    "MatterTypes"
                ],
                "summary": "Matter creation schema",
                "description": "Get the form and fields for rendering a create matter form",
                "operationId": "PowerPlatform_MatterTypes_GetCreateSchema",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "matterTypeId",
                        "description": "The matter type to get the create form for",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "Matter Type ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "x-ms-visibility": "internal"
            }
        },
        "/account-apis/v1/organisations/{organisationId}/departments": {
            "get": {
                "tags": [
                    "Organisations"
                ],
                "summary": "Get departments",
                "description": "Returns an array of departments for the given organisation",
                "operationId": "Organisations_GetDepartments",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "organisationId",
                        "description": "The organisation to get departments",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "Organisation ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/DepartmentArray"
                        }
                    }
                },
                "x-ms-visibility": "internal"
            }
        },
        "/account-apis/v1/organisations/{organisationId}/regions": {
            "get": {
                "tags": [
                    "Organisations"
                ],
                "summary": "Get regions",
                "description": "Returns an array of regions for the given organisation",
                "operationId": "Organisations_GetRegions",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "organisationId",
                        "description": "The organisation to get regions",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "Organisation ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/RegionArray"
                        }
                    }
                },
                "x-ms-visibility": "internal"
            }
        },
        "/account-apis/v1/teams": {
            "get": {
                "tags": [
                    "Teams"
                ],
                "summary": "Get teams",
                "description": "Get teams",
                "operationId": "Teams_Get",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "allowAssigment",
                        "description": "Only return teams that allow work assignment<p>Default: False</p>",
                        "type": "boolean",
                        "default": false,
                        "x-ms-summary": "Allow Assigment",
                        "x-ms-visibility": "internal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/TeamArray"
                        }
                    }
                }
            }
        },
        "/account-apis/v1/webhooks/subscriptions/matter-created": {
            "post": {
                "tags": [
                    "Triggers"
                ],
                "summary": "When a matter is created",
                "description": "This operation is triggered when a new matter is created",
                "operationId": "Triggers_CreateSubscriptionMatterCreated",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LawVu.PublicApi.Accounts.v1.ClientModels.SaveWebhookSubscriptionModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "format": "int32",
                            "type": "integer"
                        }
                    }
                },
                "x-ms-trigger": "single"
            },
            "x-ms-notification-content": {
                "description": "The created matter",
                "schema": {
                    "$ref": "#/definitions/LawVu.PowerPlatform.Business.Model.WebhookMessage.MatterCreated"
                }
            }
        },
        "/account-apis/v1/webhooks/subscriptions/matter-status-updated": {
            "post": {
                "tags": [
                    "Triggers"
                ],
                "summary": "When a matter state changes",
                "description": "This operation is triggered when a matter state is updated",
                "operationId": "Triggers_CreateSubscriptionMatterStatusUpdated",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LawVu.PublicApi.Accounts.v1.ClientModels.SaveWebhookSubscriptionModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "format": "int32",
                            "type": "integer"
                        }
                    }
                },
                "x-ms-trigger": "single"
            },
            "x-ms-notification-content": {
                "description": "The updated matter",
                "schema": {
                    "$ref": "#/definitions/LawVu.PowerPlatform.Business.Model.WebhookMessage.MatterStatusUpdated"
                }
            }
        },
        "/account-apis/v1/webhooks/subscriptions/matter-updated": {
            "post": {
                "tags": [
                    "Triggers"
                ],
                "summary": "When a matter is updated",
                "description": "This operation is triggered when a matter is updated",
                "operationId": "Triggers_CreateSubscriptionMatterUpdated",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LawVu.PublicApi.Accounts.v1.ClientModels.SaveWebhookSubscriptionModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "format": "int32",
                            "type": "integer"
                        }
                    }
                },
                "x-ms-trigger": "single"
            },
            "x-ms-notification-content": {
                "description": "The updated matter",
                "schema": {
                    "$ref": "#/definitions/LawVu.PowerPlatform.Business.Model.WebhookMessage.MatterUpdated"
                }
            }
        },
        "/account-apis/v1/webhooks/subscriptions/contract-created": {
            "post": {
                "tags": [
                    "Triggers"
                ],
                "summary": "When a contract is created",
                "description": "This operation is triggered when a new contract is created",
                "operationId": "Triggers_CreateSubscriptionContractCreated",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LawVu.PublicApi.Accounts.v1.ClientModels.SaveWebhookSubscriptionModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "format": "int32",
                            "type": "integer"
                        }
                    }
                },
                "x-ms-trigger": "single"
            },
            "x-ms-notification-content": {
                "description": "The created contract",
                "schema": {
                    "$ref": "#/definitions/LawVu.PowerPlatform.Business.Model.WebhookMessage.ContractCreated"
                }
            }
        },
        "/account-apis/v1/webhooks/subscriptions/contract-status-updated": {
            "post": {
                "tags": [
                    "Triggers"
                ],
                "summary": "When a contract state changes",
                "description": "This operation is triggered when a contract state is updated",
                "operationId": "Triggers_CreateSubscriptionContractStatusUpdated",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LawVu.PublicApi.Accounts.v1.ClientModels.SaveWebhookSubscriptionModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "format": "int32",
                            "type": "integer"
                        }
                    }
                },
                "x-ms-trigger": "single"
            },
            "x-ms-notification-content": {
                "description": "The updated contract",
                "schema": {
                    "$ref": "#/definitions/LawVu.PowerPlatform.Business.Model.WebhookMessage.ContractStatusUpdated"
                }
            }
        },
        "/account-apis/v1/webhooks/subscriptions/contract-updated": {
            "post": {
                "tags": [
                    "Triggers"
                ],
                "summary": "When a contract is updated",
                "description": "This operation is triggered when a contract is updated",
                "operationId": "Triggers_CreateSubscriptionContractUpdated",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LawVu.PublicApi.Accounts.v1.ClientModels.SaveWebhookSubscriptionModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "format": "int32",
                            "type": "integer"
                        }
                    }
                },
                "x-ms-trigger": "single"
            },
            "x-ms-notification-content": {
                "description": "The updated contract",
                "schema": {
                    "$ref": "#/definitions/LawVu.PowerPlatform.Business.Model.WebhookMessage.ContractUpdated"
                }
            }
        },
        "/account-apis/v1/webhooks/subscriptions/matter-file-created-or-updated": {
            "post": {
                "tags": [
                    "Triggers"
                ],
                "summary": "When a file is added or updated in a matter",
                "description": "This operation is triggered when a matter file is created or updated",
                "operationId": "Triggers_CreateSubscriptionMatterFileCreatedOrUpdated",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LawVu.PublicApi.Accounts.v1.ClientModels.SaveWebhookSubscriptionModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "format": "int32",
                            "type": "integer"
                        }
                    }
                },
                "x-ms-trigger": "single"
            },
            "x-ms-notification-content": {
                "description": "The added or updated matter file",
                "schema": {
                    "$ref": "#/definitions/LawVu.PowerPlatform.Business.Model.WebhookMessage.MatterFileCreatedOrUpdated"
                }
            }
        },
        "/account-apis/v1/webhooks/subscriptions/contract-file-created-or-updated": {
            "post": {
                "tags": [
                    "Triggers"
                ],
                "summary": "When a file is added or updated in a contract",
                "description": "This operation is triggered when a contract file is added or updated",
                "operationId": "Triggers_CreateSubscriptionContractFileCreatedOrUpdated",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LawVu.PublicApi.Accounts.v1.ClientModels.SaveWebhookSubscriptionModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "format": "int32",
                            "type": "integer"
                        }
                    }
                },
                "x-ms-trigger": "single"
            },
            "x-ms-notification-content": {
                "description": "The created or updated contract file",
                "schema": {
                    "$ref": "#/definitions/LawVu.PowerPlatform.Business.Model.WebhookMessage.ContractFileCreatedOrUpdated"
                }
            }
        },
        "/account-apis/v1/webhooks/subscriptions/contract-document-updated": {
            "post": {
                "tags": [
                    "Triggers"
                ],
                "summary": "When a contract document is updated",
                "description": "This operation is triggered when a contract document is updated",
                "operationId": "Triggers_CreateSubscriptionContractDocumentUpdated",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LawVu.PublicApi.Accounts.v1.ClientModels.SaveWebhookSubscriptionModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "format": "int32",
                            "type": "integer"
                        }
                    }
                },
                "x-ms-trigger": "single"
            },
            "x-ms-notification-content": {
                "description": "The added or updated contract document",
                "schema": {
                    "$ref": "#/definitions/LawVu.PowerPlatform.Business.Model.WebhookMessage.ContractDocumentUpdated"
                }
            }
        },
        "/account-apis/v1/webhooks/subscriptions/matter-tag-created": {
            "post": {
                "tags": [
                    "Triggers"
                ],
                "summary": "When a tag is added to a matter",
                "description": "This operation is triggered when a matter tag is added",
                "operationId": "Triggers_CreateSubscriptionMatterTagCreated",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LawVu.PublicApi.Accounts.v1.ClientModels.SaveWebhookSubscriptionModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "format": "int32",
                            "type": "integer"
                        }
                    }
                },
                "x-ms-trigger": "single"
            },
            "x-ms-notification-content": {
                "description": "The tag added to the matter",
                "schema": {
                    "$ref": "#/definitions/LawVu.PowerPlatform.Business.Model.WebhookMessage.MatterTagCreated"
                }
            }
        },
        "/account-apis/v1/webhooks/subscriptions/matter-status-message-created": {
            "post": {
                "tags": [
                    "Triggers"
                ],
                "summary": "When a status message is posted to a matter",
                "description": "This operation is triggered when a matter status message is posted",
                "operationId": "Triggers_CreateSubscriptionMatterStatusMessageCreated",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LawVu.PublicApi.Accounts.v1.ClientModels.SaveWebhookSubscriptionModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "format": "int32",
                            "type": "integer"
                        }
                    }
                },
                "x-ms-trigger": "single"
            },
            "x-ms-notification-content": {
                "description": "The status message posted in the matter",
                "schema": {
                    "$ref": "#/definitions/LawVu.PowerPlatform.Business.Model.WebhookMessage.MatterStatusMessageCreated"
                }
            }
        },
        "/account-apis/v1/webhooks/subscriptions/contract-status-message-created": {
            "post": {
                "tags": [
                    "Triggers"
                ],
                "summary": "When a status message is posted to a contract",
                "description": "This operation is triggered when a contract status message is posted",
                "operationId": "Triggers_CreateSubscriptionContractStatusMessageCreated",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LawVu.PublicApi.Accounts.v1.ClientModels.SaveWebhookSubscriptionModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "format": "int32",
                            "type": "integer"
                        }
                    }
                },
                "x-ms-trigger": "single"
            },
            "x-ms-notification-content": {
                "description": "The status message posted in the contract",
                "schema": {
                    "$ref": "#/definitions/LawVu.PowerPlatform.Business.Model.WebhookMessage.ContractStatusMessageCreated"
                }
            }
        },
        "/account-apis/v1/webhooks/subscriptions/contract-key-date-created": {
            "post": {
                "tags": [
                    "Triggers"
                ],
                "summary": "When a contract key date is created",
                "description": "This operation is triggered when a contract key date is created",
                "operationId": "Triggers_CreateSubscriptionContractKeyDateCreated",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LawVu.PublicApi.Accounts.v1.ClientModels.SaveWebhookSubscriptionModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "format": "int32",
                            "type": "integer"
                        }
                    }
                },
                "x-ms-trigger": "single"
            },
            "x-ms-notification-content": {
                "description": "The key date added in the contract",
                "schema": {
                    "$ref": "#/definitions/LawVu.PowerPlatform.Business.Model.WebhookMessage.ContractKeyDateCreated"
                }
            }
        },
        "/account-apis/v1/webhooks/subscriptions/contract-key-date-updated": {
            "post": {
                "tags": [
                    "Triggers"
                ],
                "summary": "When a contract key date is updated",
                "description": "This operation is triggered when a contract key date is updated",
                "operationId": "Triggers_CreateSubscriptionContractKeyDateUpdated",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LawVu.PublicApi.Accounts.v1.ClientModels.SaveWebhookSubscriptionModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "format": "int32",
                            "type": "integer"
                        }
                    }
                },
                "x-ms-trigger": "single"
            },
            "x-ms-notification-content": {
                "description": "The key date updated in the contract",
                "schema": {
                    "$ref": "#/definitions/LawVu.PowerPlatform.Business.Model.WebhookMessage.ContractKeyDateUpdated"
                }
            }
        },
        "/account-apis/v1/users": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Search users",
                "description": "Returns a list of users based on the filter criteria",
                "operationId": "Users_Get",
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "filter.search",
                        "description": "Search text (applies to: name & email address)",
                        "type": "string",
                        "x-ms-summary": "Search Term"
                    },
                    {
                        "in": "query",
                        "name": "filter.permission",
                        "type": "string",
                        "enum": [
                            "CreateMatters",
                            "ContractCreator"
                        ],
                        "x-ms-summary": "Permission",
                        "x-ms-enum-values": [
                            {
                                "displayName": "Create Matters",
                                "value": "CreateMatters"
                            },
                            {
                                "displayName": "Contract Creator",
                                "value": "ContractCreator"
                            }
                        ],
                        "x-ms-visibility": "internal"
                    },
                    {
                        "in": "query",
                        "name": "filter.activeandinvitedusersonly",
[...]
