{
  "swagger": "2.0",
  "info": {
    "title": "Cyberday",
    "description": "Cyberday is an information security management system, where one key part is managing the data assets of a company. Often the most important data asset are the data systems used to process data and run operations. Sometimes organizations already have some other locations for asset listings. This connector helps to bring info of all assets to Cyberday, so the asset information and the decided safeguards to deploy can live in the same place.",
    "version": "1.0",
    "contact": {
      "name": "Cyberday",
      "email": "team@cyberday.ai",
      "url": "https://cyberday.ai"
    }
  },
  "host": "dash.appcover.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/external/systems/topics/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "x-ms-summary": "ID",
                    "description": "The unique ID of the item."
                  },
                  "assigned_user": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "ID",
                        "description": "User ID"
                      },
                      "name": {
                        "type": "string",
                        "x-ms-summary": "Name",
                        "description": "Full name of the assigned user."
                      },
                      "email": {
                        "type": "string",
                        "description": "Email address of the assigned user.",
                        "x-ms-summary": "Email"
                      }
                    },
                    "x-ms-summary": "Assigned user",
                    "description": "Details of the user assigned to this item."
                  },
                  "child_stats": {
                    "type": "object",
                    "properties": {
                      "total": {
                        "type": "integer",
                        "format": "int32",
                        "x-ms-sumamry": "Total",
                        "description": "Total questions in this item."
                      },
                      "done": {
                        "type": "integer",
                        "format": "int32",
                        "x-ms-sumamry": "Done",
                        "description": "Total questions marked as done."
                      },
                      "active": {
                        "type": "integer",
                        "format": "int32",
                        "x-ms-sumamry": "Active",
                        "description": "Total questions marked as active."
                      }
                    },
                    "x-ms-sumamry": "Item stats",
                    "description": "Stats related to the questions of this item."
                  },
                  "cia_importance": {
                    "type": "string",
                    "x-ms-sumamry": "Detailed priority classification",
                    "description": "Detailed priority of the item based on the confidentiality, integrity and availability requirements of the linked data."
                  },
                  "created": {
                    "type": "string",
                    "x-ms-summary": "Created",
                    "description": "The date this item was created."
                  },
                  "description": {
                    "type": "string",
                    "x-ms-summary": "Description",
                    "description": "The description of the item."
                  },
                  "due_date": {
                    "type": "string",
                    "x-ms-summary": "Due date",
                    "description": "The date this item is due."
                  },
                  "goals": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The frameworks related to this item.",
                    "x-ms-summary": "Frameworks"
                  },
                  "importance": {
                    "type": "integer",
                    "format": "int32",
                    "x-ms-summary": "Priority",
                    "description": "The priority of this item."
                  },
                  "is_draft": {
                    "type": "boolean",
                    "description": "Indicates if this is a draft item submitted by an employee via the Guidebook.",
                    "x-ms-summary": "Draft"
                  },
                  "next_review_date": {
                    "type": "string",
                    "description": "The date this item is next due for review.",
                    "x-ms-summary": "Next review date"
                  },
                  "review_interval": {
                    "type": "integer",
                    "format": "int32",
                    "x-ms-summary": "Review interval",
                    "description": "The review interval for this item in days."
                  },
                  "start_date": {
                    "type": "string",
                    "x-ms-summary": "Start date",
                    "description": "The start date for this item."
                  },
                  "title": {
                    "type": "string",
                    "x-ms-summary": "Title",
                    "description": "The System title."
                  },
                  "week_num": {
                    "type": "string",
                    "x-ms-summary": "Week number",
                    "description": "The week number for this item based on either start date, or due date, depending which has been set."
                  },
                  "workflow_status": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "x-ms-summary": "Title",
                        "description": "The name of the status."
                      },
                      "type": {
                        "type": "string",
                        "x-ms-summary": "Type",
                        "description": "The type of the status, such as 'active' or 'cancelled'."
                      },
                      "color": {
                        "type": "string",
                        "x-ms-summary": "Color",
                        "description": "The color of the status."
                      }
                    },
                    "x-ms-summary": "Status",
                    "description": "The status of this item."
                  },
                  "text___system-template-location-hostingtype": {
                    "type": "string",
                    "description": "Hosting"
                  },
                  "text___system-template-search-criteria": {
                    "type": "string",
                    "description": "Search criteria"
                  },
                  "user_text___system-template-additional-year": {
                    "type": "string",
                    "description": "Year"
                  },
                  "text___system-template-processors-yesno": {
                    "type": "string",
                    "description": "Own"
                  },
                  "text___situation-template-datasources-integrations": {
                    "type": "string",
                    "description": "Integrations"
                  },
                  "text___system-template-accessandauth-accessblock": {
                    "type": "string",
                    "description": "Access roles"
                  },
                  "text___system-template-units-authority": {
                    "type": "string",
                    "description": "Authority"
                  },
                  "user_text___system-template-additional-ip": {
                    "type": "string",
                    "description": "IP"
                  },
                  "text___system-template-accessandauth-authblock": {
                    "type": "string",
                    "description": "Auth methods"
                  },
                  "user_text___system-template-units-purpose": {
                    "type": "string",
                    "description": "Purpose"
                  },
                  "text___situation-template-datasources-block": {
                    "type": "string",
                    "description": "Data sources"
                  },
                  "text___system-template-processors-block": {
                    "type": "string",
                    "description": "Main providers"
                  },
                  "text___system-template-location-block": {
                    "type": "string",
                    "description": "Location"
                  },
                  "text___system-template-location-explain": {
                    "type": "string",
                    "description": "Transfer basis"
                  },
                  "user_text___system-template-additional-name": {
                    "type": "string",
                    "description": "Nickname"
                  },
                  "text___system-template-units-block": {
                    "type": "string",
                    "description": "Units"
                  },
                  "text___system-template-product": {
                    "type": "string",
                    "description": "Product"
                  },
                  "text___system-template-units-authessentialyesno": {
                    "type": "string",
                    "description": "Essential"
                  },
                  "user_text___system-template-additional-id": {
                    "type": "string",
                    "description": "ID"
                  },
                  "user_text___system-template-additional-cost": {
                    "type": "string",
                    "description": "Cost center"
                  },
                  "text___system-template-additional-critical": {
                    "type": "string",
                    "description": "Criticality"
                  },
                  "text___system-template-location-explaintext": {
                    "type": "string",
                    "description": "Explanation"
                  },
                  "user_text___system-template-additional-users": {
                    "type": "string",
                    "description": "Users"
                  },
                  "user_text___system-template-additional-os": {
                    "type": "string",
                    "description": "OS"
                  },
                  "text___system-template-additional-linksystems": {
                    "type": "string",
                    "description": "Linked systems"
                  },
                  "text___system-template-processors-otherparties": {
                    "type": "string",
                    "description": "Other"
                  }
                }
              }
            }
          }
        },
        "summary": "List Systems",
        "description": "Retrieve a list of systems from your Cyberday account.",
        "operationId": "GetSystems",
        "parameters": [],
        "x-ms-visibility": "important"
      },
      "post": {
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "x-ms-summary": "ID",
                  "description": "The ID of the newly created System."
                },
                "title": {
                  "type": "string",
                  "x-ms-summary": "Title",
                  "description": "The title of the newly created System."
                }
              }
            }
          }
        },
        "summary": "Create a System",
        "operationId": "AddSystem",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "x-ms-summary": "Title",
                  "description": "Title of the System to be created."
                }
              }
            }
          }
        ],
        "description": "Create a System in your Cyberday account."
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "GROUP-API-KEY"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://cyberday.ai"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://cyberday.ai/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Security;IT Operations"
    }
  ]
}
