{
  "swagger": "2.0",
  "info": {
    "title": "Databox",
    "description": "Build dashboards and track performance from everywhere. Connect your data from any tool and track it from any device.",
    "version": "1.0.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "push.databox.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status of the request.",
                  "title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "The message of the request.",
                  "title": "Message"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier of the request.",
                  "title": "ID"
                }
              }
            }
          }
        },
        "summary": "Send data",
        "description": "Send a metric and value to your Datablock.",
        "operationId": "DataPost",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/vnd.databox.v2+json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "metric_key_id": {
                    "type": "string",
                    "description": "The Metric Key identifier of the metric you want to send data to.",
                    "title": "Metric Key ID"
                  },
                  "value": {
                    "type": "number",
                    "format": "float",
                    "description": "The value you want to send to the metric, either an integer or a float.",
                    "title": "Value"
                  }
                },
                "required": [
                  "metric_key_id",
                  "value"
                ]
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic-auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic-auth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://databox.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://databox.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Intelligence;Data"
    }
  ]
}
