{
  "swagger": "2.0",
  "info": {
    "title": "IP2LOCATION",
    "description": "IP2Location returns geolocation information like country, region, city, latitude & longitude, ZIP code, time zone, ASN, ISP and so on for an IP.",
    "version": "1.0",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_ip2loc@gmail.com"
    }
  },
  "host": "api.ip2location.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "ip": {
                  "type": "string",
                  "description": "IP address.",
                  "title": "IP"
                },
                "country_code": {
                  "type": "string",
                  "description": "Two-character country code based on ISO 3166.",
                  "title": "Country code"
                },
                "country_name": {
                  "type": "string",
                  "description": "Country name based on ISO 3166.",
                  "title": "Country name"
                },
                "region_name": {
                  "type": "string",
                  "description": "Region or state name.",
                  "title": "Region name"
                },
                "city_name": {
                  "type": "string",
                  "description": "City name.",
                  "title": "City name"
                },
                "latitude": {
                  "type": "number",
                  "format": "float",
                  "description": "City latitude. Defaults to capital city latitude if city is unknown.",
                  "title": "Latitude"
                },
                "longitude": {
                  "type": "number",
                  "format": "float",
                  "description": "City longitude. Defaults to capital city longitude if city is unknown.",
                  "title": "Longitude"
                },
                "zip_code": {
                  "type": "string",
                  "description": "ZIP/Postal code.",
                  "title": "ZIP code"
                },
                "time_zone": {
                  "type": "string",
                  "description": "UTC time zone (with DST supported).",
                  "title": "Time zone"
                },
                "asn": {
                  "type": "string",
                  "description": "Autonomous system number (ASN).",
                  "title": "ASN"
                },
                "as": {
                  "type": "string",
                  "description": "Autonomous system (AS) name.",
                  "title": "AS"
                },
                "isp": {
                  "type": "string",
                  "description": "Internet Service Provider or company's name.",
                  "title": "ISP"
                },
                "domain": {
                  "type": "string",
                  "description": "Internet domain name associated with IP address range.",
                  "title": "Domain"
                },
                "net_speed": {
                  "type": "string",
                  "description": "Internet connection type. DIAL = dial-up, DSL = broadband/cable/fiber/mobile, COMP = company/T1.",
                  "title": "Net speed"
                },
                "idd_code": {
                  "type": "string",
                  "description": "The IDD prefix to call the city from another country.",
                  "title": "IDD code"
                },
                "area_code": {
                  "type": "string",
                  "description": "A varying length number assigned to geographic areas for calls between cities.",
                  "title": "Area code"
                },
                "weather_station_code": {
                  "type": "string",
                  "description": "The special code to identify the nearest weather observation station.",
                  "title": "Weather station code"
                },
                "weather_station_name": {
                  "type": "string",
                  "description": "The name of the nearest weather observation station.",
                  "title": "Weather station name"
                },
                "mcc": {
                  "type": "string",
                  "description": "Mobile Country Codes (MCC) as defined in ITU E.212 for use in identifying mobile stations in wireless telephone networks, particularly GSM and UMTS networks.",
                  "title": "MCC"
                },
                "mnc": {
                  "type": "string",
                  "description": "Mobile Network Code (MNC) is used in combination with a Mobile Country Code (MCC) to uniquely identify a mobile phone operator or carrier.",
                  "title": "MNC"
                },
                "mobile_brand": {
                  "type": "string",
                  "description": "Commercial brand associated with the mobile carrier.",
                  "title": "Mobile brand"
                },
                "elevation": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Average height of city above sea level in meters (m).",
                  "title": "Elevation"
                },
                "usage_type": {
                  "type": "string",
                  "description": "Usage type classification of ISP or company.",
                  "title": "Usage type"
                },
                "address_type": {
                  "type": "string",
                  "description": "IP address types as defined in Internet Protocol version 4.",
                  "title": "Address type"
                },
                "continent": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Continent name.",
                      "title": "Name"
                    },
                    "code": {
                      "type": "string",
                      "description": "Two-character continent code.",
                      "title": "Code"
                    },
                    "hemisphere": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The hemisphere of where the country located. The data in array format with first item indicates (north/south) hemisphere and second item indicates (east/west) hemisphere information.",
                      "title": "Hemisphere"
                    }
                  },
                  "description": "Continent details.",
                  "title": "Continent"
                },
                "country": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Country name based on ISO 3166.",
                      "title": "Name"
                    },
                    "alpha3_code": {
                      "type": "string",
                      "description": "Three-character country code based on ISO 3166.",
                      "title": "Alpha3 code"
                    },
                    "numeric_code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Three-character country numeric code based on ISO 3166.",
                      "title": "Numeric code"
                    },
                    "demonym": {
                      "type": "string",
                      "description": "Native of the country.",
                      "title": "Demonym"
                    },
                    "flag": {
                      "type": "string",
                      "description": "URL of the country flag image.",
                      "title": "Flag"
                    },
                    "capital": {
                      "type": "string",
                      "description": "Capital of the country.",
                      "title": "Capital"
                    },
                    "total_area": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Total area in km2.",
                      "title": "Total area"
                    },
                    "population": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Population of the country.",
                      "title": "Population"
                    },
                    "currency": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Currency code.",
                          "title": "Code"
                        },
                        "name": {
                          "type": "string",
                          "description": "Currency name.",
                          "title": "Name"
                        },
                        "symbol": {
                          "type": "string",
                          "description": "Currency symbol.",
                          "title": "Symbol"
                        }
                      },
                      "description": "Currency of the country.",
                      "title": "Currency"
                    },
                    "language": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Language code.",
                          "title": "Code"
                        },
                        "name": {
                          "type": "string",
                          "description": "Language name.",
                          "title": "Name"
                        }
                      },
                      "description": "Language of the country.",
                      "title": "Language"
                    },
                    "tld": {
                      "type": "string",
                      "description": "Country-Code Top-Level Domain.",
                      "title": "TLD"
                    }
                  },
                  "description": "Country details.",
                  "title": "Country"
                },
                "region": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Region or state name.",
                      "title": "Name"
                    },
                    "code": {
                      "type": "string",
                      "description": "ISO3166-2 code.",
                      "title": "Code"
                    }
                  },
                  "description": "Region information.",
                  "title": "Region"
                },
                "city": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "City name.",
                      "title": "Name"
                    }
                  },
                  "description": "City details.",
                  "title": "City"
                },
                "time_zone_info": {
                  "type": "object",
                  "properties": {
                    "olson": {
                      "type": "string",
                      "description": "Time zone in Olson format.",
                      "title": "Olson"
                    },
                    "current_time": {
                      "type": "string",
                      "description": "Current time in ISO 8601 format.",
                      "title": "Current time"
                    },
                    "gmt_offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "GMT offset value in seconds.",
                      "title": "GMT offset"
                    },
                    "is_dst": {
                      "type": "boolean",
                      "description": "Indicate if the time zone value is in DST.",
                      "title": "Is DST"
                    },
                    "sunrise": {
                      "type": "string",
                      "description": "Time of sunrise. (hh:mm format in local time, i.e, 07:47)",
                      "title": "Sunrise"
                    },
                    "sunset": {
                      "type": "string",
                      "description": "Time of sunset. (hh:mm format in local time, i.e 19:50)",
                      "title": "Sunset"
                    }
                  },
                  "description": "Time zone information.",
                  "title": "Time zone"
                },
                "ads_category": {
                  "type": "string",
                  "description": "The domain category code based on IAB Tech Lab Content Taxonomy.",
                  "title": "ADS category"
                },
                "ads_category_name": {
                  "type": "string",
                  "description": "The domain category based on IAB Tech Lab Content Taxonomy. These categories are comprised of Tier-1 and Tier-2 (if available) level categories widely used in services like advertising, Internet security and filtering appliances.",
                  "title": "ADS category name"
                },
                "district": {
                  "type": "string",
                  "description": "District or county name.",
                  "title": "District"
                },
                "is_proxy": {
                  "type": "boolean",
                  "description": "Whether is a proxy or not.",
                  "title": "Is proxy"
                },
                "proxy": {
                  "type": "object",
                  "properties": {
                    "last_seen": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Proxy last seen in days.",
                      "title": "Last seen"
                    },
                    "proxy_type": {
                      "type": "string",
                      "description": "Type of proxy.",
                      "title": "Type"
                    },
                    "threat": {
                      "type": "string",
                      "description": "Security threat reported.",
                      "title": "Threat"
                    },
                    "provider": {
                      "type": "string",
                      "description": "Name of VPN provider if available.",
                      "title": "Provider"
                    }
                  },
                  "description": "Proxy details.",
                  "title": "Proxy"
                }
              }
            }
          }
        },
        "summary": "Lookup IP",
        "description": "Query for an enriched data set, such as country, region, district, city, latitude & longitude and more with an IP address.",
        "operationId": "LookupIp",
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "IP address (IPv4 or IPv6) for reverse IP location lookup purposes.",
            "x-ms-summary": "IP"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "query",
      "name": "key"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.ip2location.io/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.ip2location.io/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Security;IT Operations"
    }
  ]
}