{
  "swagger": "2.0",
  "info": {
    "title": "Festivo",
    "description": "Festivo Public Holidays service contains holidays in 250+ countries, states and regions around the world. You can filter holidays by the ISO code for the country or state.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.getfestivo.com",
  "basePath": "/v2/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/holidays": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "holidays": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the holiday or observance. Format: YYYY-MM-DD.",
                        "title": "Name"
                      },
                      "date": {
                        "type": "string",
                        "description": "The date that the holiday actually occurs. Format: YYYY-MM-DD.",
                        "title": "Date"
                      },
                      "observed": {
                        "type": "string",
                        "description": "The date that the holiday is observed on. Example, some countries move holidays that land on a weekend to the following Monday. Often times, this value may be the same as date.",
                        "title": "Observed"
                      },
                      "substitute": {
                        "type": "boolean",
                        "description": "Whether the substitute holiday is another working day off work that is designated to replace a public holiday.",
                        "title": "Substitute"
                      },
                      "start": {
                        "type": "string",
                        "description": "The start date and time in specified timezone of the holiday. Alterable by timezone parameter. Format: YYYY-MM-DD HH:ii:ss.",
                        "title": "Start"
                      },
                      "end": {
                        "type": "string",
                        "description": "The end date and time in specified timezone of the holiday. Alterable by timezone parameter. Format: YYYY-MM-DD HH:ii:ss.",
                        "title": "End"
                      },
                      "type": {
                        "type": "string",
                        "description": "The specific holiday type that this holiday has been recognized as.",
                        "title": "Type"
                      },
                      "public": {
                        "type": "boolean",
                        "description": "Whether or not the holiday or observance is a public holiday.",
                        "title": "Public"
                      },
                      "country": {
                        "type": "string",
                        "description": "The ISO 3166-1 alpha-2 code for the country that the holiday is for.",
                        "title": "Country"
                      },
                      "subdivisions": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The ISO 3166-2 codes for states or provinces that the holiday is for.",
                        "title": "Subdivisions"
                      }
                    }
                  },
                  "title": "Holidays"
                }
              }
            }
          }
        },
        "summary": "List holidays",
        "description": "Retrieves a list public holidays and observances for countries, states and provinces.",
        "operationId": "HolidaysGet",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "x-ms-summary": "Country",
            "description": "The ISO 3166-1 alpha-2 country code.",
            "required": true,
            "type": "string"
          },
          {
            "name": "year",
            "in": "query",
            "x-ms-summary": "Year",
            "description": "The 4-digit year.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "month",
            "in": "query",
            "x-ms-summary": "Month",
            "description": "The 1 or 2 digit month identifier (MM or M).",
            "required": false,
            "type": "integer"
          },
          {
            "name": "day",
            "in": "query",
            "x-ms-summary": "Day",
            "description": "The 1 or 2 digit day identifier (DD or D).",
            "required": false,
            "type": "integer"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The ISO 639-1 language code (default: en). Please note not all countries have their holiday names available in different languages.",
            "required": false,
            "type": "string"
          },
          {
            "name": "before",
            "in": "query",
            "x-ms-summary": "Before",
            "description": "Return only holidays before given date (default: false).",
            "required": false,
            "type": "boolean",
            "default": "false",
            "enum": ["false","true"]
          },
          {
            "name": "after",
            "in": "query",
            "x-ms-summary": "After",
            "description": "Return only holidays after given date (default: false).",
            "required": false,
            "type": "boolean",
            "default": "false",
            "enum": ["false","true"]
          },
          {
            "name": "public",
            "in": "query",
            "x-ms-summary": "Public",
            "description": "Return only public holidays.",
            "required": false,
            "type": "boolean",
            "default": "false",
            "enum": ["false","true"]
          },
          {
            "name": "format",
            "in": "query",
            "x-ms-summary": "Format",
            "description": "The data format returned.",
            "required": false,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"            
          },
          {
            "name": "timezone",
            "in": "query",
            "x-ms-summary": "Timezone",
            "description": "Convert start and end date and time according to the passed timezone.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/countries": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The country name.",
                    "title": "Name"
                  },
                  "codeAlpha2": {
                    "type": "string",
                    "description": "The ISO 3166-1 alpha-2 country code.",
                    "title": "Alpha Code"
                  },
                  "isSupported": {
                    "type": "boolean",
                    "description": "Whether is support.",
                    "title": "Is Supported"
                  },
                  "languages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The languages.",
                    "title": "Languages"
                  }
                }
              }
            }
          }
        },
        "summary": "List available countries",
        "description": "Retrieves a list of currently supported countries and states along with their ISO codes.",
        "operationId": "CountriesGet",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "x-ms-summary": "Cpde",
            "description": "The ISO 3166-1 alpha-2 country code.",
            "required": false,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "query",
      "name": "api_key"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://getfestivo.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://getfestivo.com/legal/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ]
}