{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "SureXeroLite",
    "description": "Unlock the power of a versatile   connector designed for effortless setup and seamless integration into your   preferred business applications. With this connector, you can effortlessly   generate invoices, manage customers and products, and effortlessly access   invoice details, creating a smooth and efficient workflow.",
    "contact": {
      "name": "848 Support",
      "url": "https://service.nowplatform.co/csm",
      "email": "support@848.co"
    }
  },
  "host": "api.xero.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/connections": {
      "get": {
        "summary": "Xero sign in",
        "description": "Log in to your Xero account to get started",
        "operationId": "GetStarted",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Xero sign in response",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Id"
                  },
                  "authEventId": {
                    "type": "string",
                    "description": "Auth Event Id"
                  },
                  "tenantId": {
                    "type": "string",
                    "description": "Xero tenant Id"
                  },
                  "tenantType": {
                    "type": "string",
                    "description": "Tenant Type"
                  },
                  "tenantName": {
                    "type": "string",
                    "description": "Tenant Name"
                  },
                  "createdDateUtc": {
                    "type": "string",
                    "description": "Created Date UTC"
                  },
                  "updatedDateUtc": {
                    "type": "string",
                    "description": "Updated Date UTC"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api.xro/2.0/Invoices": {
      "get": {
        "summary": "List invoices",
        "description": "This action allows you to list the invoices from Xero that match the selected options",
        "operationId": "GetInvoices",
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero tenant id",
            "x-ms-visibility": "important",
            "x-ms-summary": "Xero tenant id"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter, for example Type==\"ACCPAY\" AND Status==\"AUTHORISED\"",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Where Filter"
          },
          {
            "name": "Statuses",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter on a comma separated list of statuses. for example- AUTHORISED, DRAFT",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Filter on Statuses"
          },
          {
            "name": "IDs",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter on a comma separated list of IDs",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Filter on IDs"
          },
          {
            "name": "InvoiceNumbers",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter on a comma separated list of invoice number.",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Filter on invoice numbers"
          },
          {
            "name": "ContactIDs",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter on a comma separated list of contact ids.",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Filter on contact ids"
          },
          {
            "name": "summaryOnly",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Retrieve a smaller version of the response object.",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "A smaller lightweight response"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Retrieving a collection of invoices using paging",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List Invoices",
            "schema": {
              "type": "object",
              "properties": {
                "Invoices": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Contact": {
                        "type": "object",
                        "properties": {
                          "ContactID": {
                            "type": "string",
                            "description": "Xero Contact identifier",
                            "title": "Contact ID",
                            "x-ms-visibility": "important"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Full name of contact/organisation",
                            "title": "Name",
                            "x-ms-visibility": "important"
                          }
                        },
                        "description": "Contact"
                      },
                      "Date": {
                        "type": "string",
                        "description": "Date invoice was issued – YYYY-MM-DD",
                        "title": "Date",
                        "x-ms-visibility": "important"
                      },
                      "DueDate": {
                        "type": "string",
                        "description": "Date invoice is due – YYYY-MM-DD",
                        "title": "Due Date",
                        "x-ms-visibility": "important"
                      },
                      "Status": {
                        "type": "string",
                        "description": "Invoice status (DRAFT, SUBMITTED, AUTHORISED)",
                        "title": "Invoice Status",
                        "x-ms-visibility": "important"
                      },
                      "LineAmountTypes": {
                        "type": "string",
                        "description": "Line Amount Types(Exclusive, Inclusive, NoTax)",
                        "title": "Line Amount Types",
                        "x-ms-visibility": "important"
                      },
                      "LineItems": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Description": {
                              "type": "string",
                              "description": "Line Item Description"
                            },
                            "UnitAmount": {
                              "type": "number",
                              "description": "Lineitem unit amount",
                              "title": "Unit Amount"
                            },
                            "TaxType": {
                              "type": "string",
                              "description": "Used as an override if the default Tax Code for the selected AccountCode is not correct",
                              "title": "Tax Type"
                            },
                            "TaxAmount": {
                              "type": "number",
                              "description": "The tax amount is auto calculated as a percentage of the line amount (see below) based on the tax rate.",
                              "title": "Tax Amount"
                            },
                            "LineAmount": {
                              "type": "number",
                              "description": "The line amount reflects the discounted price if a DiscountRate has been used",
                              "title": "Line Amount"
                            },
                            "AccountCode": {
                              "type": "string",
                              "description": "Customer defined alpha numeric account code e.g 200 or SALES",
                              "title": "Account Code"
                            },
                            "AccountId": {
                              "type": "string",
                              "description": "Xero Account identifier (unique within organisations)",
                              "title": "Account Id"
                            },
                            "Quantity": {
                              "type": "number",
                              "description": "LineItem Quantity",
                              "title": "Quantity"
                            },
                            "LineItemID": {
                              "type": "string",
                              "description": "The Xero generated identifier for a LineItem",
                              "title": "LineItem ID"
                            }
                          }
                        },
                        "description": "LineItems"
                      },
                      "SubTotal": {
                        "type": "number",
                        "description": "Total of invoice excluding taxes",
                        "title": "Sub Total",
                        "x-ms-visibility": "advanced"
                      },
                      "TotalTax": {
                        "type": "number",
                        "description": "Total tax on invoice",
                        "title": "Total Tax",
                        "x-ms-visibility": "important"
                      },
                      "Total": {
                        "type": "number",
                        "description": "Total of Invoice tax inclusive (i.e. SubTotal + TotalTax)",
                        "title": "Total",
                        "x-ms-visibility": "important"
                      },
                      "UpdatedDateUTC": {
                        "type": "string",
                        "description": "Last modified date UTC format",
                        "title": "Updated Date UTC",
                        "x-ms-visibility": "advanced"
                      },
                      "CurrencyCode": {
                        "type": "string",
                        "description": "The currency that invoice has been raised in",
                        "title": "Currency Code",
                        "x-ms-visibility": "advanced"
                      },
                      "Type": {
                        "type": "string",
                        "description": "Invoice Type",
                        "title": "",
                        "x-ms-visibility": "important"
                      },
                      "InvoiceID": {
                        "type": "string",
                        "description": "Xero generated identifier for invoice (unique within organisations)",
                        "title": "Invoice ID",
                        "x-ms-visibility": "important"
                      },
                      "InvoiceNumber": {
                        "type": "string",
                        "description": "Unique alpha numeric code identifying invoice",
                        "title": "Invoice Number",
                        "x-ms-visibility": "important"
                      },
                      "AmountDue": {
                        "type": "number",
                        "description": "Amount remaining to be paid on invoice",
                        "title": "Amount Due",
                        "x-ms-visibility": "advanced"
                      },
                      "AmountPaid": {
                        "type": "number",
                        "description": "Sum of payments received for invoice",
                        "title": "Amount Paid",
                        "x-ms-visibility": "advanced"
                      },
                      "AmountCredited": {
                        "type": "number",
                        "description": "Sum of all credit notes, over-payments and pre-payments applied to invoice",
                        "title": "Amount Credited",
                        "x-ms-visibility": "advanced"
                      },
                      "CurrencyRate": {
                        "type": "number",
                        "description": "The currency rate for a multicurrency invoice",
                        "title": "Currency Rate",
                        "x-ms-visibility": "advanced"
                      },
                      "FullyPaidOnDate": {
                        "type": "string",
                        "description": "The date the invoice was fully paid",
                        "title": "Fully Paid On Date",
                        "x-ms-visibility": "advanced"
                      },
                      "Payments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "BatchPaymentID": {
                              "type": "string",
                              "description": "Present if the payment was created as part of a batch",
                              "title": "Batch Payment ID"
                            },
                            "PaymentID": {
                              "type": "string",
                              "description": "Xero generated identifier for payment (unique within organisations)",
                              "title": "Payment ID"
                            },
                            "Date": {
                              "type": "string",
                              "description": "Date the payment is being made (YYYY-MM-DD) e.g. 2009-09-06",
                              "title": "Date"
                            },
                            "Amount": {
                              "type": "number",
                              "description": "The amount of the payment",
                              "title": "Amount"
                            },
                            "CurrencyRate": {
                              "type": "number",
                              "description": "Exchange rate when payment is received",
                              "title": "Currency Rate"
                            }
                          }
                        },
                        "description": "Payments"
                      }
                    }
                  },
                  "description": "Invoices"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add a new invoice",
        "description": "This action allows you to add a new invoice in Xero",
        "operationId": "PostInvoice",
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero Tenant Id",
            "x-ms-visibility": "important",
            "x-ms-summary": "Xero tenant id"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/json",
            "description": "Accept",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "Date": {
                  "type": "string",
                  "description": "Date invoice was issued – YYYY-MM-DD",
                  "title": "Date",
                  "x-ms-visibility": "advanced"
                },
                "DueDate": {
                  "type": "string",
                  "description": "Date invoice is due – YYYY-MM-DD",
                  "title": "Due Date",
                  "x-ms-visibility": "advanced"
                },
                "Type": {
                  "type": "string",
                  "description": "Invoice Type (ACCREC - a sales invoice  or customer invoice, ACCPAY-a bill or supplier invoice)",
                  "title": "Invoice Type",
                  "x-ms-visibility": "important",
                  "default": "ACCREC"
                },
                "Reference": {
                  "type": "string",
                  "description": "ACCREC only – additional reference number",
                  "title": "Additional Reference Number",
                  "x-ms-visibility": "advanced"
                },
                "Contact": {
                  "type": "object",
                  "properties": {
                    "ContactID": {
                      "type": "string",
                      "description": "Xero identifier (unique within organisations)",
                      "title": "Contact ID",
                      "x-ms-visibility": "important"
                    }
                  },
                  "description": "Contact",
                  "required": [
                    "ContactID"
                  ]
                },
                "LineAmountTypes": {
                  "type": "string",
                  "description": "Line amounts are exclusive of tax by default if you don't specify this element. (Exclusive, Inclusive, NoTax).",
                  "title": "Line Amount Types",
                  "x-ms-visibility": "advanced"
                },
                "InvoiceNumber": {
                  "type": "string",
                  "description": "Unique alpha numeric code identifying invoice",
                  "title": "Invoice Number",
                  "x-ms-visibility": "advanced"
                },
                "LineItems": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Description": {
                        "type": "string",
                        "description": "Line Item Description",
                        "title": "Line Item Description",
                        "x-ms-visibility": "important"
                      },
                      "Quantity": {
                        "type": "number",
                        "description": "Line Item Quantity",
                        "title": "Line Item Quantity",
                        "x-ms-visibility": "important"
                      },
                      "UnitAmount": {
                        "type": "number",
                        "description": "Line Item Unit Amount",
                        "title": "Line Item Unit Amount",
                        "x-ms-visibility": "important"
                      },
                      "AccountCode": {
                        "type": "string",
                        "description": "Customer defined alpha numeric account code e.g 200 or SALES",
                        "title": "Line Item Account Code",
                        "x-ms-visibility": "advanced"
                      },
                      "DiscountRate": {
                        "type": "number",
                        "description": "Percentage discount or discount amount being applied to a line item.",
                        "title": "Discount Rate",
                        "x-ms-visibility": "advanced"
                      }
                    },
                    "required": [
                      "Quantity",
                      "UnitAmount",
                      "Description"
                    ]
                  },
                  "description": "LineItems"
                },
                "CurrencyCode": {
                  "type": "string",
                  "description": "The currency that invoice has been raised in",
                  "title": "Currency Code",
                  "x-ms-visibility": "advanced"
                },
                "CurrencyRate": {
                  "type": "number",
                  "description": "The currency rate for a multicurrency invoice",
                  "title": "Currency Rate",
                  "x-ms-visibility": "advanced"
                },
                "Status": {
                  "type": "string",
                  "description": "Invoice status (DRAFT, SUBMITTED, AUTHORISED)",
                  "title": "Invoice Status",
                  "x-ms-visibility": "advanced"
                },
                "ExpectedPaymentDate": {
                  "type": "string",
                  "description": "Shown on sales invoices (Accounts Receivable) when this has been set",
                  "title": "Expected Payment Date",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "Type",
                "Contact",
                "LineItems"
              ],
              "x-ms-visibility": "important"
            },
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "Add a new invoices",
            "schema": {
              "type": "object",
              "properties": {
                "Invoices": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Contact": {
                        "type": "object",
                        "properties": {
                          "ContactID": {
                            "type": "string",
                            "description": "Xero Contact identifier",
                            "title": "Contact ID",
                            "x-ms-visibility": "important"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Full name of contact/organisation",
                            "title": "Name",
                            "x-ms-visibility": "important"
                          }
                        },
                        "description": "Contact"
                      },
                      "Date": {
                        "type": "string",
                        "description": "Date invoice was issued – YYYY-MM-DD",
                        "title": "Date",
                        "x-ms-visibility": "important"
                      },
                      "DueDate": {
                        "type": "string",
                        "description": "Date invoice is due – YYYY-MM-DD",
                        "title": "Due Date",
                        "x-ms-visibility": "important"
                      },
                      "Status": {
                        "type": "string",
                        "description": "Invoice status (DRAFT, SUBMITTED, AUTHORISED)",
                        "title": "Invoice Status",
                        "x-ms-visibility": "important"
                      },
                      "LineAmountTypes": {
                        "type": "string",
                        "description": "Line Amount Types(Exclusive, Inclusive, NoTax)",
                        "title": "Line Amount Types",
                        "x-ms-visibility": "important"
                      },
                      "LineItems": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Description": {
                              "type": "string",
                              "description": "Line Item Description"
                            },
                            "UnitAmount": {
                              "type": "number",
                              "description": "Lineitem unit amount",
                              "title": "Unit Amount"
                            },
                            "TaxType": {
                              "type": "string",
                              "description": "Used as an override if the default Tax Code for the selected AccountCode is not correct",
                              "title": "Tax Type"
                            },
                            "TaxAmount": {
                              "type": "number",
                              "description": "The tax amount is auto calculated as a percentage of the line amount (see below) based on the tax rate.",
                              "title": "Tax Amount"
                            },
                            "LineAmount": {
                              "type": "number",
                              "description": "The line amount reflects the discounted price if a DiscountRate has been used",
                              "title": "Line Amount"
                            },
                            "AccountCode": {
                              "type": "string",
                              "description": "Customer defined alpha numeric account code e.g 200 or SALES",
                              "title": "Account Code"
                            },
                            "AccountId": {
                              "type": "string",
                              "description": "Xero Account identifier (unique within organisations)",
                              "title": "Account Id"
                            },
                            "Quantity": {
                              "type": "number",
                              "description": "LineItem Quantity",
                              "title": "Quantity"
                            },
                            "LineItemID": {
                              "type": "string",
                              "description": "The Xero generated identifier for a LineItem",
                              "title": "LineItem ID"
                            }
                          }
                        },
                        "description": "LineItems"
                      },
                      "SubTotal": {
                        "type": "number",
                        "description": "Total of invoice excluding taxes",
                        "title": "Sub Total",
                        "x-ms-visibility": "advanced"
                      },
                      "TotalTax": {
                        "type": "number",
                        "description": "Total tax on invoice",
                        "title": "Total Tax",
                        "x-ms-visibility": "important"
                      },
                      "Total": {
                        "type": "number",
                        "description": "Total of Invoice tax inclusive (i.e. SubTotal + TotalTax)",
                        "title": "Total",
                        "x-ms-visibility": "important"
                      },
                      "UpdatedDateUTC": {
                        "type": "string",
                        "description": "Last modified date UTC format",
                        "title": "Updated Date UTC",
                        "x-ms-visibility": "advanced"
                      },
                      "CurrencyCode": {
                        "type": "string",
                        "description": "The currency that invoice has been raised in",
                        "title": "Currency Code",
                        "x-ms-visibility": "advanced"
                      },
                      "Type": {
                        "type": "string",
                        "description": "Invoice Type",
                        "title": "",
                        "x-ms-visibility": "important"
                      },
                      "InvoiceID": {
                        "type": "string",
                        "description": "Xero generated identifier for invoice (unique within organisations)",
                        "title": "Invoice ID",
                        "x-ms-visibility": "important"
                      },
                      "InvoiceNumber": {
                        "type": "string",
                        "description": "Unique alpha numeric code identifying invoice",
                        "title": "Invoice Number",
                        "x-ms-visibility": "important"
                      },
                      "AmountDue": {
                        "type": "number",
                        "description": "Amount remaining to be paid on invoice",
                        "title": "Amount Due",
                        "x-ms-visibility": "advanced"
                      },
                      "AmountPaid": {
                        "type": "number",
                        "description": "Sum of payments received for invoice",
                        "title": "Amount Paid",
                        "x-ms-visibility": "advanced"
                      },
                      "AmountCredited": {
                        "type": "number",
                        "description": "Sum of all credit notes, over-payments and pre-payments applied to invoice",
                        "title": "Amount Credited",
                        "x-ms-visibility": "advanced"
                      },
                      "CurrencyRate": {
                        "type": "number",
                        "description": "The currency rate for a multicurrency invoice",
                        "title": "Currency Rate",
                        "x-ms-visibility": "advanced"
                      }
                    }
                  },
                  "description": "Invoices"
                }
              }
            }
          }
        }
      }
    },
    "/api.xro/2.0/Contacts": {
      "get": {
        "summary": "List contacts",
        "description": "This action allows you to list the contacts from Xero that match the selected options",
        "operationId": "GetContacts",
        "parameters": [
          {
            "name": "where",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter, for example Name=\"ABC limited\"",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Where Filter"
          },
          {
            "name": "IDs",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter on a comma separated list of ContactIDs",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Filter on ContactIDs"
          },
          {
            "name": "summaryOnly",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Retrieve a smaller version of the response object.",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "A smaller lightweight response"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Retrieving a collection of invoices using paging",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Pagination"
          },
          {
            "name": "includeArchived",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Contacts with a status of ARCHIVED will be included in the response",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Include Archived"
          },
          {
            "name": "searchTerm",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search parameter that performs a case-insensitive text search across the field (Name, FirstName, LastName, ContactNumber, CompanyNumber, EmailAddress)",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Search Term"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Specify Xero tenant id",
            "x-ms-visibility": "important",
            "x-ms-summary": "Xero Tenant Id"
          }
        ],
        "responses": {
          "200": {
            "description": "List Contacts",
            "schema": {
              "type": "object",
              "properties": {
                "Contacts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ContactID": {
                        "type": "string",
                        "description": "Xero identifier (unique within organisations)",
                        "title": "Contact Id",
                        "x-ms-visibility": "important"
                      },
                      "ContactNumber": {
                        "type": "string",
                        "description": "This field is read only in the Xero UI, used to identify contacts in external systems. It is displayed as Contact Code in the Contacts UI in Xero.",
                        "title": "Contact Number",
                        "x-ms-visibility": "advanced"
                      },
                      "ContactStatus": {
                        "type": "string",
                        "description": "Current status of a contact",
                        "title": "Contact Status",
                        "x-ms-visibility": "advanced"
                      },
                      "Name": {
                        "type": "string",
                        "description": "Full name of contact/organisation",
                        "title": "Name",
                        "x-ms-visibility": "important"
                      },
                      "FirstName": {
                        "type": "string",
                        "description": "First name of contact person",
                        "title": "First Name",
                        "x-ms-visibility": "advanced"
                      },
                      "LastName": {
                        "type": "string",
                        "description": "Last name of contact person",
                        "title": "Last Name",
                        "x-ms-visibility": "advanced"
                      },
                      "EmailAddress": {
                        "type": "string",
                        "description": "Email address of contact person",
                        "title": "Email Address",
                        "x-ms-visibility": "advanced"
                      },
                      "BankAccountDetails": {
                        "type": "string",
                        "description": "Bank account number of contact",
                        "title": "Bank Account Details",
                        "x-ms-visibility": "advanced"
                      },
                      "Addresses": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "AddressType": {
                              "type": "string",
                              "description": "Address Type"
                            },
                            "City": {
                              "type": "string",
                              "description": "City"
                            },
                            "Region": {
                              "type": "string",
                              "description": "Region"
                            },
                            "PostalCode": {
                              "type": "string",
                              "description": "Postal Code"
                            },
                            "Country": {
                              "type": "string",
                              "description": "Country"
                            },
                            "AttentionTo": {
                              "type": "string",
                              "description": "Attention To"
                            }
                          }
                        },
                        "description": "Addresses"
                      },
                      "Phones": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "PhoneType": {
                              "type": "string",
                              "description": "Phone Type"
                            },
                            "PhoneNumber": {
                              "type": "string",
                              "description": "Phone Number"
                            },
                            "PhoneAreaCode": {
                              "type": "string",
                              "description": "Phone Area Code"
                            },
                            "PhoneCountryCode": {
                              "type": "string",
                              "description": "Phone Country Code"
                            }
                          }
                        },
                        "description": "Phones"
                      },
                      "UpdatedDateUTC": {
                        "type": "string",
                        "description": "UTC timestamp of last update to contact",
                        "title": "Updated Date UTC",
                        "x-ms-visibility": "advanced"
                      },
                      "ContactPersons": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "FirstName": {
                              "type": "string",
                              "description": "Additional contact person first name",
                              "title": "First Name"
                            },
                            "LastName": {
                              "type": "string",
                              "description": "Additonal contact person last name",
                              "title": "Last Name"
                            },
                            "EmailAddress": {
                              "type": "string",
                              "description": "Additonal contact person email address",
                              "title": "Email Address"
                            }
                          }
                        },
                        "description": "Additonal contact people",
                        "title": "ContactPersons"
                      }
                    }
                  },
                  "description": "Contacts"
                }
              }
            },
            "headers": {
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "x-ms-visibility": "important"
      },
      "post": {
        "summary": "Add a new contact",
        "description": "This action allows you to add a new contact in Xero",
        "operationId": "PostContacts",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Xero Tenant ID",
            "x-ms-summary": "Xero Tenant ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "x-ms-summary": "body",
            "schema": {
              "type": "object",
              "properties": {
                "Contacts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Name": {
                        "type": "string",
                        "description": "Full name of contact/organisation",
                        "title": "Name",
                        "x-ms-visibility": "important"
                      },
                      "FirstName": {
                        "type": "string",
                        "description": "Primary contact first name",
                        "title": "First Name",
                        "x-ms-visibility": "advanced"
                      },
                      "LastName": {
                        "type": "string",
                        "description": "Primary contact last name",
                        "title": "Last Name",
                        "x-ms-visibility": "advanced"
                      },
                      "EmailAddress": {
                        "type": "string",
                        "description": "Primary contact email address",
                        "title": "Email Address",
                        "x-ms-visibility": "advanced"
                      },
                      "AccountsReceivableTaxType": {
                        "type": "string",
                        "description": "Default tax type used for contact on AR invoices",
                        "title": "Accounts Receivable Tax Type",
                        "x-ms-visibility": "advanced"
                      }
                    },
                    "required": [
                      "Name"
                    ]
                  },
                  "description": "Contacts"
                }
              },
              "required": [
                "Contacts"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Add a new contact",
            "schema": {
              "type": "object",
              "properties": {
                "Contacts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ContactID": {
                        "type": "string",
                        "description": "Xero identifier",
                        "title": "Contact ID",
                        "x-ms-visibility": "important"
                      },
                      "ContactNumber": {
                        "type": "string",
                        "description": "Number to identify contacts in external systems",
                        "title": "Contact Number",
                        "x-ms-visibility": "advanced"
                      },
                      "ContactStatus": {
                        "type": "string",
                        "description": "Current status of a contact",
                        "title": "Contact Status",
                        "x-ms-visibility": "advanced"
                      },
                      "Name": {
                        "type": "string",
                        "description": "Full name of contact/organisation",
                        "title": "Name",
                        "x-ms-visibility": "important"
                      },
                      "FirstName": {
                        "type": "string",
                        "description": "Primary contact first name",
                        "title": "First Name",
                        "x-ms-visibility": "advanced"
                      },
                      "LastName": {
                        "type": "string",
                        "description": "Primary contact last name",
                        "title": "Last Name",
                        "x-ms-visibility": "advanced"
                      },
                      "EmailAddress": {
                        "type": "string",
                        "description": "Primary contact email address",
                        "title": "Email Address",
                        "x-ms-visibility": "advanced"
                      },
                      "BankAccountDetails": {
                        "type": "string",
                        "description": "Bank account number of contact",
                        "title": "Bank Account Details",
                        "x-ms-visibility": "advanced"
                      },
                      "Addresses": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "AddressType": {
                              "type": "string",
                              "description": "Address Type"
                            },
                            "City": {
                              "type": "string",
                              "description": "City"
                            },
                            "Region": {
                              "type": "string",
                              "description": "Region"
                            },
                            "PostalCode": {
                              "type": "string",
                              "description": "Postal Code"
                            },
                            "Country": {
                              "type": "string",
                              "description": "Country"
                            }
                          }
                        },
                        "description": "Addresses for a contact"
                      },
                      "Phones": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "PhoneType": {
                              "type": "string",
                              "description": "Phone Type"
                            },
                            "PhoneNumber": {
                              "type": "string",
                              "description": "Phone Number"
                            },
                            "PhoneAreaCode": {
                              "type": "string",
                              "description": "Phone Area Code"
                            },
                            "PhoneCountryCode": {
                              "type": "string",
                              "description": "Phone Country Code"
                            }
                          }
                        },
                        "description": "Phones for a contact"
                      },
                      "UpdatedDateUTC": {
                        "type": "string",
                        "description": "Updated Date UTC",
                        "title": "",
                        "x-ms-visibility": "advanced"
                      },
                      "ContactPersons": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "FirstName": {
                              "type": "string",
                              "description": "Additional contact person first name",
                              "title": "First Name"
                            },
                            "LastName": {
                              "type": "string",
                              "description": "Additonal contact person last name",
                              "title": "Last Name"
                            },
                            "EmailAddress": {
                              "type": "string",
                              "description": "Additonal contact person email address",
                              "title": "Email Address"
                            }
                          }
                        },
                        "description": "Additonal contact people",
                        "title": "ContactPersons"
                      }
                    }
                  },
                  "description": "Contacts"
                }
              }
            },
            "headers": {
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.xero.com/identity/connect/authorize",
      "tokenUrl": "https://identity.xero.com/connect/token",
      "scopes": {
        "offline_access accounting.transactions openid profile email accounting.contacts accounting.settings": "offline_access accounting.transactions openid profile email accounting.contacts accounting.settings"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "offline_access accounting.transactions openid profile email accounting.contacts accounting.settings"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.xero.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.xero.com/uk/legal/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Finance"
    }
  ]
}
