{
  "swagger": "2.0",
  "info": {
    "title": "IN-D Payables",
    "description": "IN-D Payables process invoices to extract only the useful details like invoice numbers, PO number, vendor name, etc., and the line items in the table automatically without a need to input a template. The IN-D Payables, can process multiple invoices at once directly from the source you choose from, and send the relevant fields to the accounting software connected in the flow for accounting purposes in a matter of seconds.",
    "version": "1.0",
    "contact": {
      "name": "IN-D Support",
      "url": "https://one.in-d.ai/developer/",
      "email": "explore@in-d.ai"
    }
  },
  "host": "payables.in-d.ai",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/extract_data": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "file_name": {
                        "type": "string",
                        "description": "file_name"
                      },
                      "invoice_number": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "A reference generated by the supplier which uniquely identifies a document, e.g. INV-1447"
                          },
                          "conf_score": {
                            "type": "number",
                            "format": "float",
                            "description": "confidence score for invoice number",
                            "title": "conf_score"
                          }
                        },
                        "description": "invoice number with confidence score"
                      },
                      "invoice_date": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The date at which the documentwas released or printed. Generally distinct from the due date for bills and may be presented in a variety of formats,e.g. 11st December, 2018 or 11-12-2018 in invoices. However, thereturned date always follows a stdformat of yyyy-mm-dd."
                          },
                          "conf_score": {
                            "type": "number",
                            "format": "float",
                            "description": "confidence score for invoice date",
                            "title": "conf_score"
                          }
                        },
                        "description": "invoice date with confidence score"
                      },
                      "po_number": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "A reference generated by thebuyer which uniquely identifies aproduct, e.g. PO-112345."
                          },
                          "conf_score": {
                            "type": "number",
                            "format": "float",
                            "description": "confidence score for po number",
                            "title": "conf_score"
                          }
                        },
                        "description": "po number with confidence score"
                      },
                      "vendor_name": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Name of a supplier. A name used to describe a Company or Individual."
                          },
                          "conf_score": {
                            "type": "number",
                            "format": "float",
                            "description": "confidence score for vendor name",
                            "title": "conf_score"
                          }
                        },
                        "description": "vendor name with confidence score"
                      },
                      "vendor_address": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Address of a supplier. It refers to the location where the Vendor\\u2019s office exists. For e.g. XYZ street,Chennai,India"
                          },
                          "conf_score": {
                            "type": "number",
                            "format": "float",
                            "description": "confidence score for vendor address",
                            "title": "conf_score"
                          }
                        },
                        "description": "vendor address with confidence score"
                      },
                      "total_amount": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Total Amount (including taxes)"
                          },
                          "conf_score": {
                            "type": "number",
                            "format": "float",
                            "description": "confidence score for total amount",
                            "title": "conf_score"
                          }
                        },
                        "description": "Total Amount (including taxes) with confidence score"
                      },
                      "subtotal_amount": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Base Amount (excluding taxes)"
                          },
                          "conf_score": {
                            "type": "number",
                            "format": "float",
                            "description": "confidence score for base amount (excluding taxes)",
                            "title": "conf_score"
                          }
                        },
                        "description": "Base Amount (excluding taxes) with confidence score"
                      },
                      "tax_amount": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Total Tax Amount"
                          },
                          "conf_score": {
                            "type": "number",
                            "format": "float",
                            "description": "confidence score for total tax amount",
                            "title": "conf_score"
                          }
                        },
                        "description": "Total Tax Amount with confidence score"
                      },
                      "cgst": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Central GST"
                          },
                          "conf_score": {
                            "type": "number",
                            "format": "float",
                            "description": "confidence score for Central GST",
                            "title": "conf_score"
                          }
                        },
                        "description": "Central GST with confidence score"
                      },
                      "sgst": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "State GST"
                          },
                          "conf_score": {
                            "type": "number",
                            "format": "float",
                            "description": "confidence score for State GST",
                            "title": "conf_score"
                          }
                        },
                        "description": "State GST with confidence score"
                      },
                      "igst": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Integrated GST"
                          },
                          "conf_score": {
                            "type": "number",
                            "format": "float",
                            "description": "confidence score with Integrated GST",
                            "title": "conf_score"
                          }
                        },
                        "description": "Integrated GST with confidence score"
                      },
                      "table_data": {
                        "type": "object",
                        "properties": {
                          "columns": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "columns"
                          },
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "description": "data"
                          }
                        },
                        "description": "Quantity of the item, Price of each unit of line item, Total Price that includes all the line- item quantities.Total Price = Quantity * Unit Price"
                      }
                    }
                  },
                  "description": "result"
                }
              }
            }
          },
          "400": {
            "description": "invalid base64 string",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                }
              }
            }
          },
          "401": {
            "description": "invalid api key",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                }
              }
            }
          },
          "403": {
            "description": "authorization headers or api key not given",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                }
              }
            }
          },
          "500": {
            "description": "internal error",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                }
              }
            }
          }
        },
        "summary": "invoice process",
        "operationId": "InvoiceCapture",
        "description": "Process invoices to extract only the useful details like invoice numbers, PO number, vendor name, etc., and the line items in the table automatically without a need to input a template.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type of POST request",
            "x-ms-summary": "Content-Type of request"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "payload",
                    "title": "Base64 content of file",
                    "format": "byte"
                  }
                },
                "required": [
                  "payload"
                ]
              },
              "required": [
                "items"
              ]
            }
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.in-d.ai"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.in-d.ai/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;IT Operations"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}
