{
  "swagger": "2.0",
  "info": {
    "title": "IN-D Payables",
    "description": "IN-D Payables process invoices to extract key attributes like invoice numbers, vendor name, etc., and the table line items without setting up a template. When it feels less confident about the extraction, it prompts the user to validate the results extracted with an intuitive UI. IN-D Payables continuously learn over time and does support stamped/crumpled invoices, multi-page invoices and multiple invoices in batches",
    "version": "1.0",
    "contact": {
      "name": "IN-D Support",
      "url": "https://one.in-d.ai/developer/",
      "email": "explore@in-d.ai"
    }
  },
  "host": "payables.in-d.ai",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/extract_data": {
      "post": {
        "responses": {
          "200": {
            "description": "Successfull",
            "schema": {
              "type": "object",
              "properties": {
                "batch_details": {
                  "type": "object",
                  "properties": {
                    "batch_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Batch ID is an unique ID generated corresponding to every invoice uploaded in batches or uploaded as a single document",
                      "title": "Batch ID"
                    },
                    "validation_url": {
                      "type": "string",
                      "description": "Validation URL enables you to do a manual validation of the extracted attributes via an intuitive UI",
                      "title": "Validation URL"
                    },
                    "confidence_score": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Batch Confidence Score shows how confident IN-D is about the extracted output",
                      "title": "Batch Confidence Score"
                    }
                  },
                  "description": "This object gives you the information about the uploaded batch along with a Validation URL for manual validation and a Batch Confidence Score"
                },
                "num_records": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of Records shows the total number of invoices in the batch",
                  "title": "Number of Records"
                },
                "desc": {
                  "type": "string",
                  "description": "Error Description helps you understand what went wrong in the other side",
                  "title": "Error Description"
                },
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "file_name": {
                        "type": "string",
                        "description": "File name of the invoice uploaded for reference",
                        "title": "Invoice file name"
                      },
                      "invoice_number": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The Invoice number extracted from the corresponding Invoice image",
                            "title": "Invoice number"
                          },
                          "conf_score": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Field Confidence Score shows how confident IN-D is about the extracted Invoice Number in the corresponding Invoice image",
                            "title": "Field Confidence Score - Invoice number"
                          }
                        },
                        "description": "This object gives the extracted value of the Invoice Number from the Invoice Document along with a confidence score"
                      },
                      "invoice_date": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The Invoice date extracted from the corresponding Invoice image",
                            "title": "Invoice date"
                          },
                          "conf_score": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Field Confidence Score shows how confident IN-D is about the extracted Invoice Number in the corresponding Invoice image",
                            "title": "Field Confidence Score - Invoice date"
                          }
                        },
                        "description": "This object gives the extracted value of the Invoice date from the Invoice Document along with a confidence score"
                      },
                      "po_number": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": " The PO number extracted from the corresponding Invoice image",
                            "title": "PO number "
                          },
                          "conf_score": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Field Confidence Score shows how confident IN-D is about the extracted PO Number in the corresponding Invoice image",
                            "title": "Field Confidence Score - PO Number"
                          }
                        },
                        "description": "This object gives the extracted value of the PO Number from the Invoice Document along with a confidence score"
                      },
                      "vendor_name": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The Vendor name extracted from the corresponding Invoice image",
                            "title": "Vendor name"
                          },
                          "conf_score": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Field Confidence Score shows how confident IN-D is about the extracted Vendor name in the corresponding Invoice image",
                            "title": "Field Confidence Score - Vendor name"
                          }
                        },
                        "description": "This object gives the extracted value of the Vendor name from the Invoice Document along with a confidence score"
                      },
                      "vendor_address": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The Vendor address extracted from the corresponding Invoice image",
                            "title": "Vendor address"
                          },
                          "conf_score": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Field Confidence Score shows how confident IN-D is about the extracted Vendor address in the corresponding Invoice image",
                            "title": "Field Confidence Score - Vendor address"
                          }
                        },
                        "description": "This object gives the extracted value of the Vendor address from the Invoice Document along with a confidence score"
                      },
                      "customer_name": {
                        "type": "object",
                        "properties": {
                          "value": {
                            
                            "type": "string",
                            "description": "The Customer name extracted from the corresponding Invoice image",
                            "title": "Customer name"
                          },
                          "conf_score": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Field Confidence Score shows how confident IN-D is about the extracted Customer name in the corresponding Invoice image",
                            "title": "Field Confidence Score - Customer name"
                          }
                        },
                        "description": "This object gives the extracted value of the Customer name from the Invoice Document along with a confidence score"
                      },
                      "customer_address": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The Customer address extracted from the corresponding Invoice image",
                            "title": "Customer address"
                          },
                          "conf_score": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Field Confidence Score shows how confident IN-D is about the extracted Customer address in the corresponding Invoice image",
                            "title": "Field Confidence Score - Customer address"
                          }
                        },
                        "description": "This object gives the extracted value of the Customer address from the Invoice Document along with a confidence score"
                      },
                      "total_amount": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The Total amount extracted from the corresponding Invoice image",
                            "title": "Total amount"
                          },
                          "conf_score": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Field Confidence Score shows how confident IN-D is about the extracted Total amount in the corresponding Invoice image",
                            "title": "Field Confidence Score - Total amount"
                          }
                        },
                        "description": "This object gives the extracted value of the Total amount from the Invoice Document along with a confidence score"
                      },
                      "subtotal_amount": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The Subtotal amount extracted from the corresponding Invoice image",
                            "title": "Subtotal amount"
                          },
                          "conf_score": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Field Confidence Score shows how confident IN-D is about the extracted Subtotal amount in the corresponding Invoice image",
                            "title": "Field Confidence Score - Subtotal amount"
                          }
                        },
                        "description": "This object gives the extracted value of the Subtotal amount from the Invoice Document along with a confidence score"
                      },
                      "tax_amount": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The Tax amount extracted from the corresponding Invoice image",
                            "title": "Tax amount"
                          },
                          "conf_score": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Field Confidence Score shows how confident IN-D is about the extracted Tax amount in the corresponding Invoice image",
                            "title": "Field Confidence Score - Tax amount"
                          }
                        },
                        "description": "This object gives the extracted value of the Tax amount from the Invoice Document along with a confidence score"
                      },
                      "cgst": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The CGST extracted from the corresponding Invoice image",
                            "title": "CGST"
                          },
                          "conf_score": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Field Confidence Score shows how confident IN-D is about the extracted CGST in the corresponding Invoice image",
                            "title": "Field Confidence Score - CGST"
                          }
                        },
                        "description": "This object gives the extracted value of the CGST from the Invoice Document along with a confidence score"
                      },
                      "sgst": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The SGST extracted from the corresponding Invoice image",
                            "title": "SGST"
                          },
                          "conf_score": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Field Confidence Score shows how confident IN-D is about the extracted SGST in the corresponding Invoice image",
                            "title": "Field Confidence Score - SGST"
                          }
                        },
                        "description": "This object gives the extracted value of the SGST from the Invoice Document along with a confidence score"
                      },
                      "igst": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The IGST extracted from the corresponding Invoice image",
                            "title": "IGST"
                          },
                          "conf_score": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Field Confidence Score shows how confident IN-D is about the extracted IGST in the corresponding Invoice image",
                            "title": "Field Confidence Score - IGST"
                          }
                        },
                        "description": "This object gives the extracted value of the IGST from the Invoice Document along with a confidence score"
                      },
                      "vendor_gstin": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The Vendor GSTIN extracted from the corresponding Invoice image",
                            "title": "Vendor GSTIN"
                          },
                          "conf_score": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Field Confidence Score shows how confident IN-D is about the extracted Vendor GSTIN in the corresponding Invoice image",
                            "title": "Field Confidence Score - Vendor GSTIN"
                          }
                        },
                        "description": "This object gives the extracted value of the Vendor GSTIN from the Invoice Document along with a confidence score"
                      },
                      "customer_gstin": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The Customer GSTIN extracted from the corresponding Invoice image",
                            "title": "Customer GSTIN"
                          },
                          "conf_score": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Field Confidence Score shows how confident IN-D is about the extracted Customer GSTIN in the corresponding Invoice image",
                            "title": "Field Confidence Score - Customer GSTIN"
                          }
                        },
                        "description": "This object gives the extracted value of the Customer GSTIN from the Invoice Document along with a confidence score"
                      },
                      "imei_number_1": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The IMEI number 1 extracted from the corresponding Invoice image",
                            "title": "IMEI number 1"
                          },
                          "conf_score": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Field Confidence Score shows how confident IN-D is about the extracted IMEI number 1 in the corresponding Invoice image",
                            "title": "Field Confidence Score - IMEI number 1"
                          }
                        },
                        "description": "This object gives the extracted value of the IMEI number 1 from the Invoice Document along with a confidence score"
                      },
                      "imei_number_2": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The IMEI number 2 extracted from the corresponding Invoice image",
                            "title": "IMEI number 2"
                          },
                          "conf_score": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Field Confidence Score shows how confident IN-D is about the extracted IMEI number 2 in the corresponding Invoice image",
                            "title": "Field Confidence Score - IMEI number 2"
                          }
                        },
                        "description": "This object gives the extracted value of the IMEI number 2 from the Invoice Document along with a confidence score"
                      },
                      "phone_number_": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The Phone Number extracted from the corresponding Invoice image",
                            "title": "Phone Number"
                          },
                          "conf_score": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Field Confidence Score shows how confident IN-D is about the extracted Phone Number in the corresponding Invoice image",
                            "title": "Field Confidence Score - Phone Number"
                          }
                        },
                        "description": "This object gives the extracted value of the Phone number from the Invoice Document along with a confidence score"
                      },
                      "table_data": {
                        "type": "object",
                        "properties": {
                          "columns": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "First row of the table is considered as the Header for each Column"
                          },
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "description": "Each item corresponds to the values extracted in a row against the Header items"
                          }
                        },
                        "description": "The line items in the Table is extracted"
                      }
                    }
                  },
                  "description": "The Result Data for the whole batch of invoices"
                }
              }
            }
          },
          "400": {
            "description": "Invalid base64 string",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Invalid base64 string"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Invalid API key"
                }
              }
            }
          },
          "403": {
            "description": "Authorization headers or API key not given",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Authorization headers or API key not given"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Internal error"
                }
              }
            }
          }
        },
        "summary": "Invoice process",
        "operationId": "InvoiceCapture",
        "description": "Process invoices to extract only the useful details like invoice numbers, PO number, vendor name, etc., and the line items in the table automatically without a need to input a template.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type of POST request",
            "x-ms-summary": "Content-Type of request"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "payload",
                    "title": "Base64 content of file",
                    "format": "byte"
                  }
                },
                "required": [
                  "payload"
                ]
              },
              "required": [
                "items"
              ]
            }
          }
        ]
      }
    },
    "/validation_completed": {
      "post": {
        "responses": {
          "200": {
            "description": "Successfull",
            "schema": {
              "type": "object",
              "properties": {
                "completed_batches": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The List of batches validated so far",
                    "title": "List of validated batches"
                  },
                  "description": "The List of batches validated so far"
                }
              }
            }
          },
          "403": {
            "description": "Authorization Error",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Authorization Error",
                  "title": "Authorization error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Internal Error",
                  "title": "Internal error"
                }
              }
            }
          }
        },
        "summary": "Validated batches",
        "operationId": "ValidatedBatches",
        "description": "The List of batches validated so far",
        "parameters": []
      }
    },
    "/export_response": {
      "post": {
        "responses": {
          "200": {
            "description": "Successfull",
            "schema": {
              "type": "object",
              "properties": {
                "batch_details": {
                  "type": "object",
                  "properties": {
                    "batch_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Batch ID is an unique ID generated corresponding to every invoice uploaded in batches or uploaded as a single document",
                      "title": "Batch ID"
                    },
                    "confidence_score": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Batch Confidence Score shows how confident IN-D is about the extracted output",
                      "title": "Batch Confidence Score"
                    }
                  },
                  "description": "This object gives you the information about the validated batch along with Batch Confidence Score"
                },
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "file_name": {
                        "type": "string",
                        "description": "validated file_name",
                        "title": "file name"
                      },
                      "invoice_number": {
                        "type": "string",
                        "description": "The Invoice number extracted from the corresponding Invoice image (Validated)",
                        "title": "Invoice number (Validated)"
                      },
                      "invoice_date": {
                        "type": "string",
                        "description": "The Invoice date extracted from the corresponding Invoice image (Validated)",
                        "title": "Invoice date (Validated)"
                      },
                      "po_number": {
                        "type": "string",
                        "description": "The PO Number extracted from the corresponding Invoice image (Validated)",
                        "title": "PO Number (Validated)"
                      },
                      "vendor_name": {
                        "type": "string",
                        "description": "The Vendor Name extracted from the corresponding Invoice image (Validated)",
                        "title": "Vendor Name (Validated)"
                      },
                      "vendor_address": {
                        "type": "string",
                        "description": "The Vendor Address extracted from the corresponding Invoice image (Validated)",
                        "title": "Vendor Address (Validated)"
                      },
                      "customer_name": {
                        "type": "string",
                        "description": "The Customer Name extracted from the corresponding Invoice image (Validated)",
                        "title": "Customer Name (Validated)"
                      },
                      "customer_address": {
                        "type": "string",
                        "description": "The Customer Address extracted from the corresponding Invoice image (Validated)",
                        "title": "Customer Address (Validated)"
                      },
                      "total_amount": {
                        "type": "string",
                        "description": "The Total Amount extracted from the corresponding Invoice image (Validated)",
                        "title": "Total Amount (Validated)"
                      },
                      "subtotal_amount": {
                        "type": "string",
                        "description": "The SubTotal Amount extracted from the corresponding Invoice image (Validated)",
                        "title": "SubTotal Amount (Validated)"
                      },
                      "tax_amount": {
                        "type": "string",
                        "description": "The Tax Amount extracted from the corresponding Invoice image (Validated)",
                        "title": "Tax Amount (Validated)"
                      },
                      "cgst": {
                        "type": "string",
                        "description": "The CGST extracted from the corresponding Invoice image (Validated)",
                        "title": "CGST (Validated)"
                      },
                      "sgst": {
                        "type": "string",
                        "description": "The SGST extracted from the corresponding Invoice image (Validated)",
                        "title": "SGST (Validated)"
                      },
                      "igst": {
                        "type": "string",
                        "description": "The IGST extracted from the corresponding Invoice image (Validated)",
                        "title": "IGST (Validated)"
                      },
                      "vendor_gstin": {
                        "type": "string",
                        "description": "The Vendor GSTIN extracted from the corresponding Invoice image (Validated)",
                        "title": "Vendor GSTIN (Validated)"
                      },
                      "customer_gstin": {
                        "type": "string",
                        "description": "The Customer GSTIN extracted from the corresponding Invoice image (Validated)",
                        "title": "Customer GSTIN (Validated)"
                      },
                      "imei_number_1": {
                        "type": "string",
                        "description": "The IMEI Number 1 extracted from the corresponding Invoice image (Validated)",
                        "title": "IMEI Number 1 (Validated)"
                      },
                      "imei_number_2": {
                        "type": "string",
                        "description": "The IMEI Number 2 extracted from the corresponding Invoice image (Validated)",
                        "title": "IMEI Number 2 (Validated)"
                      },
                      "table_data": {
                        "type": "object",
                        "properties": {
                          "columns": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "columns"
                          },
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "description": "Each item corresponds to the values extracted in a row against the Header items (Validated)"
                          }
                        },
                        "description": "The line items in the Table is extracted (Validated)"
                      }
                    }
                  },
                  "description": "The Result Data for the whole batch of invoices (Validated)"
                }
              }
            }
          },
          "403": {
            "description": "Authorization headers or API key not given",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Authorization headers or API key not given",
                  "title": "Authorization error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Request",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Invalid Request",
                  "title": "Invalid Request"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Internal error",
                  "title": "Internal error"
                }
              }
            }
          }
        },
        "summary": "Export validated data",
        "description": "Export validated invoice data using particular batch id",
        "operationId": "ExportValidatedData",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "batch_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "validated invoice batch data",
                  "title": "batch id"
                }
              },
              "required": [
                "batch_id"
              ]
            }
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.in-d.ai"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.in-d.ai/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;IT Operations"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}
