{
  "swagger": "2.0",
  "info": {
    "title": "Zellis Intelligence Platform",
    "description": "This connectors consists various actions you can use to perform your daily tasks.",
    "contact": {
      "name": "Zellis Support",
      "url": "https://zellis.service-now.com/csm",
      "email": "ukmmprodmgmt@zellis.onmicrosoft.com"
    },
    "version": "1.0"
  },
  "host": "resourcelinkdev.co.uk",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/zip/odata/AbsenceCategories": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Get Absence Category details",
        "description": "Get Absence Category details from ResourceLink",
        "operationId": "GetAbsenceCategory",
        "parameters": [
          {
            "x-ms-summary": "Get Absence Category details",
            "description": "Get Absence Category details from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/zip/odata/AbsenceCauses": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "parameters": [
          {
            "x-ms-summary": "Get Absence Cause details",
            "description": "Get Absence Cause details from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "summary": "Get Absence Cause details",
        "description": "Get Absence Cause details from ResourceLink",
        "operationId": "GetAbsenceCaus"
      }
    },
    "/zip/odata/AbsenceCertificateTypes": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Get Absence Certificate Type details",
        "description": "Get Absence Certificate Type details from ResourceLink",
        "operationId": "GetAbsenceCertificateType",
        "parameters": [
          {
            "x-ms-summary": "Get Absence Certificate Type details",
            "description": "Get Absence Certificate Type details from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/zip/odata/AbsenceDailyDetails": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Get Absence Daily details",
        "description": "Get Absence Daily details from ResourceLink",
        "operationId": "GetAbsenceDailyDetail",
        "parameters": [
          {
            "x-ms-summary": "Get Absence Daily details",
            "description": "Get Absence Daily details from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/zip/odata/AbsenceEntitlements": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Get Absence Entitlement details",
        "description": "Get Absence Entitlement details from ResourceLink",
        "operationId": "GetAbsenceEntitlement",
        "parameters": [
          {
            "x-ms-summary": "Get Absence Entitlement details",
            "description": "Get Absence Entitlement details from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/zip/odata/AbsenceEntitlementTypes": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Get Absence Entitlement Type details",
        "description": "Get Absence Entitlement Type details from ResourceLink",
        "operationId": "GetAbsenceEntitlementType",
        "parameters": [
          {
            "x-ms-summary": "Get Absence Entitlement Type details",
            "description": "Get Absence Entitlement Type details from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/zip/odata/AbsenceHeaders": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Get Absence Header details",
        "description": "Get Absence Header details from ResourceLink",
        "operationId": "GetAbsenceHeader",
        "parameters": [
          {
            "x-ms-summary": "Get Absence Header details",
            "description": "Get Absence Header details from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/zip/odata/AbsenceReasons": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Get Absence Reason details",
        "description": "Get Absence Reason details from ResourceLink",
        "operationId": "GetAbsenceReason",
        "parameters": [
          {
            "x-ms-summary": "Get Absence Reason details",
            "description": "Get Absence Reason details from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/zip/odata/AbsenceReasonTypes": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Get Absence Reason Types",
        "operationId": "GetAbsenceReasonTypes",
        "description": "Get Absence Reason Types from ResourceLink",
        "parameters": [
          {
            "x-ms-summary": "Get Absence Reason Types",
            "description": "Get Absence Reason Types from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/zip/odata/AbsenceSubTypes": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Get Absence Sub-Types",
        "operationId": "GetAbsenceSubTypes",
        "description": "Get Absence Sub-Types from ResourceLink",
        "parameters": [
          {
            "x-ms-summary": "Get Absence Sub-Types",
            "description": "Get Absence Sub-Types from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/zip/odata/AbsenceTypes": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "operationId": "GetAbsenceType",
        "summary": "Get Absence Type",
        "description": "Get Absence Types from ResourceLink",
        "parameters": [
          {
            "x-ms-summary": "Get Absence Type",
            "description": "Get Absence Types from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/zip/odata/AbsenceUnitTypes": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Get Absence Unit Type",
        "operationId": "GetAbsenceUnitType",
        "description": "Get Absence Unit Types from ResourceLink",
        "parameters": [
          {
            "x-ms-summary": "Get Absence Unit Type",
            "description": "Get Absence Unit Types from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/zip/odata/Addresses": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "operationId": "GetAddress",
        "summary": "Get Address",
        "description": "Get Addresses from ResourceLink",
        "parameters": [
          {
            "x-ms-summary": "Get Address",
            "description": "Get Addresses from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/zip/odata/AdminCostCentres": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "parameters": [
          {
            "x-ms-summary": "Get Admin Cost Centres",
            "description": "Get Admin Cost Centres details from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "operationId": "GetAdminCostCentre",
        "description": "Get Admin Cost Centres details from ResourceLink",
        "summary": "Get Admin Cost Centres"
      }
    },
    "/zip/odata/BankAccounts": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Get Bank Account",
        "operationId": "GetBankAccount",
        "description": "Get Bank Accounts from ResourceLink",
        "parameters": [
          {
            "x-ms-summary": "Get Bank Account",
            "description": "Get Bank Accounts from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/zip/odata/Branches": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Get Branche",
        "description": "Get Branches from ResourceLink",
        "operationId": "GetBranch",
        "parameters": [
          {
            "x-ms-summary": "Get Branche",
            "description": "Get Branches from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/zip/odata/FixedPayments": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Get Fixed Payment",
        "operationId": "GetFixedPayment",
        "description": "Get Fixed Payment",
        "parameters": [
          {
            "x-ms-summary": "Get Fixed Payment",
            "description": "Get Fixed Payment",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "x-ms-summary": "Get Fixed Payment",
            "description": "Get Fixed Payment",
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "PayMethod,PayElement,ThirdParty,ErsCostCentre,Worker,Post,CostCentre,BankAccount,PayReason"
          }
        ]
      }
    },
    "/zip/odata/CostCentres": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "parameters": [
          {
            "x-ms-summary": "Get Cost Centres details",
            "description": "Get Cost Centres details from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "summary": "Get Cost Centres details",
        "description": "Get Cost Centres details from ResourceLink",
        "operationId": "GetCostCetre"
      }
    },
    "/zip/odata/Grades": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "description": "Get Grade details from ResourceLink",
        "operationId": "GetGrade",
        "summary": "Get Grade details",
        "parameters": [
          {
            "x-ms-summary": "Get Grade details",
            "description": "Get Grade details from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/zip/odata/Jobs": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "description": "Get Job details from ResourceLink",
        "summary": "Get Job details",
        "operationId": "GetJob",
        "parameters": [
          {
            "x-ms-summary": "Get Job details",
            "description": "Get Job details from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/zip/odata/Locations": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "description": "Get Location details from ResourceLink",
        "summary": "Get Location details",
        "operationId": "GetLocation",
        "parameters": [
          {
            "x-ms-summary": "Get Location details",
            "description": "Get Location details from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/zip/odata/PayGroups": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "description": "Get Pay Group details from ResourceLink",
        "summary": "Get Pay Group details",
        "operationId": "GetPayGroup",
        "parameters": [
          {
            "x-ms-summary": "Get Pay Group details",
            "description": "Get Pay Group details from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/zip/odata/PayElements": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Get Pay Element details",
        "operationId": "GetPayElement",
        "description": "Get Pay Element details from ResourceLink",
        "parameters": [
          {
            "x-ms-summary": "Get Pay Element details",
            "description": "Get Pay Element details from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "x-ms-summary": "Get Pay Element details",
            "description": "Get Pay Element details from ResourceLink",
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/zip/odata/PayPeriods": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Get Pay Period details",
        "description": "Get Pay Period details from ResourceLink",
        "operationId": "GetPayPeriod",
        "parameters": [
          {
            "x-ms-summary": "Get Pay Period details",
            "description": "Get Pay Period details from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "x-ms-summary": "Get Pay Period details",
            "description": "Get Pay Period details from ResourceLink",
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/zip/odata/Posts": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "parameters": [
          {
            "x-ms-summary": "Get Post details",
            "description": "Get Post details from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "operationId": "GetPost",
        "description": "Get Post details from ResourceLink",
        "summary": "Get Post details"
      }
    },
    "/zip/odata/PostToPostHierarchies": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Get Post To Post Hierarchy details",
        "description": "Get Post To Post Hierarchy details from ResourceLink",
        "operationId": "GetPostToPostHierarchy",
        "parameters": [
          {
            "x-ms-summary": "Get Post To Post Hierarchy details",
            "description": "Get Post To Post Hierarchy details from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "x-ms-summary": "Get Post To Post Hierarchy details",
            "description": "Get Post To Post Hierarchy details from ResourceLink",
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/zip/odata/StatutoryUnits": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "description": "Get Statutory Unit details from ResourceLink",
        "summary": "Get Statutory Unit details",
        "operationId": "GetStatutoryUnit",
        "parameters": [
          {
            "x-ms-summary": "Get Statutory Unit details",
            "description": "Get Statutory Unit details from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/zip/odata/TemporaryPayments": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "operationId": "GetTemporaryPayments",
        "description": "Get Temporary Payments",
        "summary": "Get Temporary Payments",
        "parameters": [
          {
            "x-ms-summary": "Get Temporary Payments",
            "description": "Get Temporary Payments",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "x-ms-summary": "Get Temporary Payments",
            "description": "Get Temporary Payments",
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "ErsCostCentre,Worker,Post,CostCentre,PayMethod,PayElement,PayType,AdvanceType"
          }
        ]
      }
    },
    "/zip/odata/Titles": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Get Titles",
        "description": "Get Titles",
        "operationId": "GetTitles",
        "parameters": [
          {
            "x-ms-summary": "Get Titles",
            "description": "Get Titles",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/zip/odata/ThirdParties": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Get Third Party details",
        "operationId": "GetThirdParty",
        "description": "Get Third Party details from ResourceLink",
        "parameters": [
          {
            "x-ms-summary": "Get Third Party details",
            "description": "Get Third Party details from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "x-ms-summary": "Get Third Party details",
            "description": "Get Third Party details from ResourceLink",
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/zip/odata/Workers": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Get Worker",
        "description": "Get Worker details",
        "operationId": "GetWorker",
        "parameters": [
          {
            "x-ms-summary": "Get Worker",
            "description": "Get Worker details",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "x-ms-summary": "Get Worker",
            "description": "Get Worker details",
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/zip/odata/WorkPatterns": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "parameters": [
          {
            "x-ms-summary": "Get Work Pattern details",
            "description": "Get Work Pattern details from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "summary": "Get Work Pattern details",
        "operationId": "GetWorkPattern",
        "description": "Get Work Pattern details from ResourceLink"
      }
    },
    "/zip/odata/WorkerPayPeriods": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Get Worker Pay Periods",
        "operationId": "GetWorkerPayPeriods",
        "description": "Get Worker Pay Periods",
        "parameters": []
      }
    },
    "/zip/odata/WorkerPosts": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "operationId": "GetWorkerPost",
        "summary": "Get Worker Posts",
        "description": "Get Worker Posts from ResourceLink",
        "parameters": [
          {
            "x-ms-summary": "Get Worker Posts",
            "description": "Get Worker Posts from ResourceLink",
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "x-ms-summary": "Get Worker Posts",
            "description": "Get Worker Posts from ResourceLink",
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/notificationhub/v1/subscription": {
      "x-ms-notification-content": {
        "description": "WebHook Response",
        "schema": {
          "type": "object",
          "properties": {
            "specversion": {
              "type": "string",
              "description": "specversion"
            },
            "id": {
              "type": "string",
              "description": "id"
            },
            "source": {
              "type": "string",
              "description": "source"
            },
            "type": {
              "type": "string",
              "description": "type"
            },
            "time": {
              "type": "string",
              "description": "time"
            },
            "data": {
              "type": "object",
              "properties": {
                "Action": {
                  "type": "string",
                  "description": "Action"
                },
                "Entity": {
                  "type": "string",
                  "description": "Entity"
                },
                "EntityId": {
                  "type": "string",
                  "description": "EntityId"
                },
                "EntityPath": {
                  "type": "string",
                  "description": "EntityPath"
                },
                "Payload": {
                  "type": "object",
                  "properties": {
                    "ParameterFive": {
                      "type": "string",
                      "description": "ParameterFive"
                    },
                    "OperatorSelectionNo": {
                      "type": "string",
                      "description": "OperatorSelectionNo"
                    },
                    "EventUUID": {
                      "type": "string",
                      "description": "EventUUID"
                    },
                    "ConnectionType": {
                      "type": "string",
                      "description": "ConnectionType"
                    },
                    "ParameterOne": {
                      "type": "string",
                      "description": "ParameterOne"
                    },
                    "ParameterFour": {
                      "type": "string",
                      "description": "ParameterFour"
                    },
                    "ParameterThree": {
                      "type": "string",
                      "description": "ParameterThree"
                    },
                    "EventDatetime": {
                      "type": "integer",
                      "format": "int32",
                      "description": "EventDatetime"
                    },
                    "ParameterTwo": {
                      "type": "string",
                      "description": "ParameterTwo"
                    },
                    "OperatorId": {
                      "type": "string",
                      "description": "OperatorId"
                    },
                    "Application": {
                      "type": "string",
                      "description": "Application"
                    }
                  },
                  "description": "Payload"
                }
              },
              "description": "data"
            }
          }
        }
      },
      "post": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Entity Trigger",
        "consumes": [
          "application/json"
        ],
        "description": "Trigger for webhook",
        "operationId": "CRUDEntitiy",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Event": {
                  "type": "string",
                  "description": "Name of entity on which trigger placed",
                  "title": "Entity Name",
                  "x-ms-visibility": "important"
                },
                "EventType": {
                  "type": "object",
                  "properties": {
                    "Create": {
                      "type": "boolean",
                      "description": "Whether to enable trigger when new entity created",
                      "title": "Create Event",
                      "x-ms-visibility": "important",
                      "enum": [
                        true,
                        false
                      ],
                      "default": true
                    },
                    "Delete": {
                      "type": "boolean",
                      "description": "Whether to enable trigger when entity deleted",
                      "title": "Delete Event",
                      "x-ms-visibility": "important",
                      "enum": [
                        true,
                        false
                      ],
                      "default": true
                    },
                    "Update": {
                      "type": "boolean",
                      "description": "Whether to enable trigger when entity updated",
                      "title": "Update Event",
                      "x-ms-visibility": "important",
                      "enum": [
                        true,
                        false
                      ],
                      "default": true
                    }
                  },
                  "description": "Describe on which event trigger need to enabled",
                  "required": [
                    "Create",
                    "Delete",
                    "Update"
                  ]
                },
                "IsEnabled": {
                  "type": "boolean",
                  "description": "Enable the trigger",
                  "title": "Whether to enable or disable the trigger",
                  "x-ms-visibility": "important",
                  "enum": [
                    true,
                    false
                  ],
                  "default": true
                },
                "URL": {
                  "type": "string",
                  "description": "URL to call when triggering event occurs",
                  "title": "Callback URL",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "Event",
                "EventType",
                "IsEnabled",
                "URL"
              ],
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.zellis.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.zellis.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Human Resources;Website"
    }
  ],
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}