{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Blackbaud Raisers Edge NXT Doc",
    "description": "Blackbaud Raiser's Edge NXT is a comprehensive cloud-based fundraising and donor management software solution built specifically for nonprofits and the entire social good community. Use the Documents connector to create documentation locations used when storing physical attachments.",
    "contact": {
      "name": "Blackbaud Support",
      "url": "https://www.blackbaud.com/support",
      "email": "skyapi@blackbaud.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.blackbaud.com/products/blackbaud-raisers-edge-nxt"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.blackbaud.com/privacy-shield"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM;Productivity"
    }
  ],
  "host": "api.sky.blackbaud.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "skyApiOAuth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://oauth2.sky.blackbaud.com/authorization",
      "tokenUrl": "https://oauth2.sky.blackbaud.com/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "skyApiOAuth": []
    }
  ],
  "paths": {
    "/constituent/v1/documents": {
      "post": {
        "operationId": "CreateDocument",
        "summary": "Create a document location",
        "description": "Creates a new unique document identifier and upload location for use with physical attachments.  The response will include instructions for where and how to upload the document contents.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.NewDocumentInfo"
            },
            "description": "An object that represents the document to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates a document location. The response describes how and where the document should be uploaded.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.FileDefinition"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create a document."
          }
        }
      }
    }
  },
  "definitions": {
    "ConstituentApi.FileDefinition": {
      "type": "object",
      "description": "File definition",
      "properties": {
        "file_id": {
          "type": "string",
          "description": "The identifier of the file.",
          "x-ms-summary": "File ID"
        },
        "file_upload_request": {
          "type": "object",
          "description": "The metadata for the request for uploading the file.",
          "x-ms-summary": "File upload",
          "properties": {
            "url": {
              "type": "string",
              "description": "The URL to use for the upload request.",
              "x-ms-summary": "URL"
            },
            "method": {
              "type": "string",
              "description": "The HTTP method to use with the upload request.",
              "x-ms-summary": "method"
            },
            "headers": {
              "type": "array",
              "description": "The headers to supply when making the request.",
              "x-ms-summary": "headers",
              "items": {
                "$ref": "#/definitions/ConstituentApi.Header"
              }
            }
          }
        },
        "thumbnail_id": {
          "type": "string",
          "description": "The identifier of the thumbnail.",
          "x-ms-summary": "Thumbnail ID"
        },
        "thumbnail_upload_request": {
          "type": "object",
          "description": "The metadata for the request for uploading the thumbnail.",
          "x-ms-summary": "Thumbnail upload",
          "properties": {
            "url": {
              "type": "string",
              "description": "The URL to use for the upload request.",
              "x-ms-summary": "URL"
            },
            "method": {
              "type": "string",
              "description": "The HTTP method to use with the upload request.",
              "x-ms-summary": "method"
            },
            "headers": {
              "type": "array",
              "description": "The headers to supply when making the request.",
              "x-ms-summary": "headers",
              "items": {
                "$ref": "#/definitions/ConstituentApi.Header"
              }
            }
          }
        }
      }
    },
    "ConstituentApi.Header": {
      "type": "object",
      "description": "Request header used for uploading the physical attachment.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name for the header.",
          "x-ms-summary": "name"
        },
        "value": {
          "type": "string",
          "description": "The value for the header.",
          "x-ms-summary": "value"
        }
      }
    },
    "ConstituentApi.NewDocumentInfo": {
      "type": "object",
      "description": "Cultivation activities often result in physical collateral such as images, PDFs, or Word files. The New Document entity allows you to upload these files to maintain a holistic view of target constituents.",
      "properties": {
        "file_name": {
          "type": "string",
          "description": "The file name of the document to be uploaded.",
          "x-ms-summary": "File name"
        },
        "upload_thumbnail": {
          "type": "boolean",
          "description": "Include a thumbnail document location?",
          "x-ms-summary": "Include thumbnail?"
        }
      }
    }
  }
}
