{
  "swagger": "2.0",
  "info": {
    "title": "OpenPLZ API",
    "description": "OpenPLZ API – Public street and postal code API\nfor Germany, Liechtenstein, Switzerland and Austria.\n\nDocumentation:\nhttps://www.openplzapi.org/de/germany/\n",
    "version": "1.0.0",
    "contact": {
      "name": "OpenPLZ API",
      "url": "https://www.openplzapi.org"
    }
  },
  "host": "openplzapi.org",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "DE",
      "description": "German administrative structures, localities and streets"
    },
    {
      "name": "LI",
      "description": "Municipalities, localities and streets in Liechtenstein"
    },
    {
      "name": "CH",
      "description": "Swiss cantons, districts, municipalities, localities and streets"
    },
    {
      "name": "AT",
      "description": "Austrian federal provinces, districts, municipalities, localities and streets"
    }
  ],
  "paths": {
    "/de/FederalStates": {
      "get": {
        "tags": [
          "DE"
        ],
        "operationId": "GetFederalStates",
        "summary": "List of all federal states",
        "description": "Returns all 16 German federal states.",
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FederalState"
              }
            }
          }
        }
      }
    },
    "/de/FederalStates/{federalStateKey}/GovernmentRegions": {
      "get": {
        "tags": [
          "DE"
        ],
        "operationId": "GetGovernmentRegionsByFederalState",
        "summary": "Government regions of a federal state",
        "description": "List of all government regions in a federal state.",
        "parameters": [
          {
            "name": "federalStateKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Regional code of the federal state (2 digits), e.g. '09' for Bavaria."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GovernmentRegion"
              }
            }
          }
        }
      }
    },
    "/de/FederalStates/{federalStateKey}/Districts": {
      "get": {
        "tags": [
          "DE"
        ],
        "operationId": "GetDistrictsByFederalState",
        "summary": "Districts of a federal state",
        "description": "List of all districts in a federal state.",
        "parameters": [
          {
            "name": "federalStateKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Regional code of the federal state (2 digits)."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/District"
              }
            }
          }
        }
      }
    },
    "/de/GovernmentRegions/{governmentRegionKey}/Districts": {
      "get": {
        "tags": [
          "DE"
        ],
        "operationId": "GetDistrictsByGovernmentRegion",
        "summary": "Districts of a government region",
        "description": "List of all districts in a government region.",
        "parameters": [
          {
            "name": "governmentRegionKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Regional code of the government region (3 digits)."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/District"
              }
            }
          }
        }
      }
    },
    "/de/FederalStates/{federalStateKey}/Municipalities": {
      "get": {
        "tags": [
          "DE"
        ],
        "operationId": "GetMunicipalitiesByFederalState",
        "summary": "Municipalities of a federal state",
        "description": "List of all municipalities in a federal state.",
        "parameters": [
          {
            "name": "federalStateKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Regional code of the federal state (2 digits)."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Municipality"
              }
            }
          }
        }
      }
    },
    "/de/GovernmentRegions/{governmentRegionKey}/Municipalities": {
      "get": {
        "tags": [
          "DE"
        ],
        "operationId": "GetMunicipalitiesByGovernmentRegion",
        "summary": "Municipalities of a government region",
        "description": "List of all municipalities in a government region.",
        "parameters": [
          {
            "name": "governmentRegionKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Regional code of the government region (3 digits)."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Municipality"
              }
            }
          }
        }
      }
    },
    "/de/Districts/{districtKey}/Municipalities": {
      "get": {
        "tags": [
          "DE"
        ],
        "operationId": "GetMunicipalitiesByDistrict",
        "summary": "Municipalities of a district",
        "description": "List of all municipalities in a district.",
        "parameters": [
          {
            "name": "districtKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Regional code of the district (5 digits)."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Municipality"
              }
            }
          }
        }
      }
    },
    "/de/FederalStates/{federalStateKey}/MunicipalAssociations": {
      "get": {
        "tags": [
          "DE"
        ],
        "operationId": "GetMunicipalAssociationsByFederalState",
        "summary": "Municipal associations of a federal state",
        "description": "List of all municipal associations in a federal state.",
        "parameters": [
          {
            "name": "federalStateKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Regional code of the federal state (2 digits)."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MunicipalAssociation"
              }
            }
          }
        }
      }
    },
    "/de/GovernmentRegions/{governmentRegionKey}/MunicipalAssociations": {
      "get": {
        "tags": [
          "DE"
        ],
        "operationId": "GetMunicipalAssociationsByGovernmentRegion",
        "summary": "Municipal associations of a government region",
        "description": "List of all municipal associations in a government region.",
        "parameters": [
          {
            "name": "governmentRegionKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Regional code of the government region (3 digits)."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MunicipalAssociation"
              }
            }
          }
        }
      }
    },
    "/de/Districts/{districtKey}/MunicipalAssociations": {
      "get": {
        "tags": [
          "DE"
        ],
        "operationId": "GetMunicipalAssociationsByDistrict",
        "summary": "Municipal associations of a district",
        "description": "List of all municipal associations in a district.",
        "parameters": [
          {
            "name": "districtKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Regional code of the district (5 digits)."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MunicipalAssociation"
              }
            }
          }
        }
      }
    },
    "/de/FederalStates/{federalStateKey}/Localities": {
      "get": {
        "tags": [
          "DE"
        ],
        "operationId": "GetLocalitiesByFederalState",
        "summary": "Localities of a federal state",
        "description": "List of all localities in a federal state.",
        "parameters": [
          {
            "name": "federalStateKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Regional code of the federal state (2 digits)."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Locality"
              }
            }
          }
        }
      }
    },
    "/de/GovernmentRegions/{governmentRegionKey}/Localities": {
      "get": {
        "tags": [
          "DE"
        ],
        "operationId": "GetLocalitiesByGovernmentRegion",
        "summary": "Localities of a government region",
        "description": "List of all localities in a government region.",
        "parameters": [
          {
            "name": "governmentRegionKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Regional code of the government region (3 digits)."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Locality"
              }
            }
          }
        }
      }
    },
    "/de/Districts/{districtKey}/Localities": {
      "get": {
        "tags": [
          "DE"
        ],
        "operationId": "GetLocalitiesByDistrict",
        "summary": "Localities of a district",
        "description": "List of all localities in a district.",
        "parameters": [
          {
            "name": "districtKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Regional code of the district (5 digits)."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Locality"
              }
            }
          }
        }
      }
    },
    "/de/Localities": {
      "get": {
        "tags": [
          "DE"
        ],
        "operationId": "SearchLocalities",
        "summary": "Search for localities and postal codes",
        "description": "Searches for localities by postal code and/or locality name. Both parameters support regular expressions.\n",
        "parameters": [
          {
            "name": "postalCode",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Postal code or regular expression (e.g. '^13')."
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Locality name or regular expression."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Locality"
              }
            }
          }
        }
      }
    },
    "/de/Streets": {
      "get": {
        "tags": [
          "DE"
        ],
        "operationId": "SearchStreets",
        "summary": "Search for streets",
        "description": "Searches for streets by street name and/or postal code and/or locality name. All parameters support regular expressions.\n",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Street name or regular expression."
          },
          {
            "name": "postalCode",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Postal code or regular expression."
          },
          {
            "name": "locality",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Locality name or regular expression."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Street"
              }
            }
          }
        }
      }
    },
    "/de/FullTextSearch": {
      "get": {
        "tags": [
          "DE"
        ],
        "operationId": "FullTextSearchStreets",
        "summary": "Full-text search across streets, postal codes and localities",
        "description": "Full-text search across street names, postal codes and locality names.\n",
        "parameters": [
          {
            "name": "searchTerm",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Search term, e.g. 'Berlin Pariser Platz'."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Street"
              }
            }
          }
        }
      }
    },
    "/li/Communes": {
      "get": {
        "tags": [
          "LI"
        ],
        "operationId": "GetCommunesLiechtenstein",
        "summary": "List of all municipalities in Liechtenstein",
        "description": "Returns the 11 municipalities of the Principality of Liechtenstein.",
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CommuneLI"
              }
            }
          }
        }
      }
    },
    "/li/Localities": {
      "get": {
        "tags": [
          "LI"
        ],
        "operationId": "SearchLocalitiesLiechtenstein",
        "summary": "Search for localities and postal codes in Liechtenstein",
        "description": "Searches for localities in Liechtenstein by postal code and/or locality name (RegEx supported).\n",
        "parameters": [
          {
            "name": "postalCode",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Postal code or regular expression, e.g. '^94'."
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Locality name or regular expression."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LocalityLI"
              }
            }
          }
        }
      }
    },
    "/li/Streets": {
      "get": {
        "tags": [
          "LI"
        ],
        "operationId": "SearchStreetsLiechtenstein",
        "summary": "Search for streets in Liechtenstein",
        "description": "Searches for streets in Liechtenstein by street name and/or postal code and/or locality (RegEx supported).\n",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Street name or regular expression."
          },
          {
            "name": "postalCode",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Postal code or regular expression."
          },
          {
            "name": "locality",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Locality name or regular expression."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/StreetLI"
              }
            }
          }
        }
      }
    },
    "/li/FullTextSearch": {
      "get": {
        "tags": [
          "LI"
        ],
        "operationId": "FullTextSearchLiechtenstein",
        "summary": "Full-text search in Liechtenstein",
        "description": "Full-text search across street names, postal codes and locality names in Liechtenstein.\n",
        "parameters": [
          {
            "name": "searchTerm",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Search term, e.g. '9490 Alte Landstrasse'."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/StreetLI"
              }
            }
          }
        }
      }
    },
    "/ch/Cantons": {
      "get": {
        "tags": [
          "CH"
        ],
        "operationId": "GetCantonsCH",
        "summary": "List of all cantons",
        "description": "List of all 26 cantons of Switzerland.",
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CantonCH"
              }
            }
          }
        }
      }
    },
    "/ch/Cantons/{cantonKey}/Districts": {
      "get": {
        "tags": [
          "CH"
        ],
        "operationId": "GetDistrictsByCantonCH",
        "summary": "Districts of a canton",
        "description": "List of all districts in a canton.",
        "parameters": [
          {
            "name": "cantonKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "BFS number of the canton (max. 2 digits), e.g. '10' for Fribourg."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DistrictCH"
              }
            }
          }
        }
      }
    },
    "/ch/Cantons/{cantonKey}/Communes": {
      "get": {
        "tags": [
          "CH"
        ],
        "operationId": "GetCommunesByCantonCH",
        "summary": "Municipalities of a canton",
        "description": "List of all municipalities in a canton.",
        "parameters": [
          {
            "name": "cantonKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "BFS number of the canton (max. 2 digits)."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CommuneCH"
              }
            }
          }
        }
      }
    },
    "/ch/Districts/{districtKey}/Communes": {
      "get": {
        "tags": [
          "CH"
        ],
        "operationId": "GetCommunesByDistrictCH",
        "summary": "Municipalities of a district",
        "description": "List of all municipalities in a district.",
        "parameters": [
          {
            "name": "districtKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "BFS number of the district (max. 4 digits)."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CommuneCH"
              }
            }
          }
        }
      }
    },
    "/ch/Cantons/{cantonKey}/Localities": {
      "get": {
        "tags": [
          "CH"
        ],
        "operationId": "GetLocalitiesByCantonCH",
        "summary": "Localities of a canton",
        "description": "List of all localities in a canton.",
        "parameters": [
          {
            "name": "cantonKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "BFS number of the canton (max. 2 digits)."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LocalityCH"
              }
            }
          }
        }
      }
    },
    "/ch/Districts/{districtKey}/Localities": {
      "get": {
        "tags": [
          "CH"
        ],
        "operationId": "GetLocalitiesByDistrictCH",
        "summary": "Localities of a district",
        "description": "List of all localities in a district.",
        "parameters": [
          {
            "name": "districtKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "BFS number of the district (max. 4 digits)."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LocalityCH"
              }
            }
          }
        }
      }
    },
    "/ch/Localities": {
      "get": {
        "tags": [
          "CH"
        ],
        "operationId": "SearchLocalitiesCH",
        "summary": "Search for localities and postal codes (CH)",
        "description": "Searches for localities in Switzerland by postal code and/or locality name. Both parameters support regular expressions.\n",
        "parameters": [
          {
            "name": "postalCode",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Postal code or regular expression (e.g. '^80')."
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Locality name or regular expression."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LocalityCH"
              }
            }
          }
        }
      }
    },
    "/ch/Streets": {
      "get": {
        "tags": [
          "CH"
        ],
        "operationId": "SearchStreetsCH",
        "summary": "Search for streets (CH)",
        "description": "Searches for streets by street name and/or postal code and/or locality name. All parameters support regular expressions.\n",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Street name or regular expression."
          },
          {
            "name": "postalCode",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Postal code or regular expression."
          },
          {
            "name": "locality",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Locality name or regular expression."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/StreetCH"
              }
            }
          }
        }
      }
    },
    "/ch/FullTextSearch": {
      "get": {
        "tags": [
          "CH"
        ],
        "operationId": "FullTextSearchCH",
        "summary": "Full-text search streets (CH)",
        "description": "Full-text search across street names, postal codes and locality names in Switzerland.",
        "parameters": [
          {
            "name": "searchTerm",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Search term, e.g. 'Zürich Bederstrasse'."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/StreetCH"
              }
            }
          }
        }
      }
    },
    "/at/FederalProvinces": {
      "get": {
        "tags": [
          "AT"
        ],
        "operationId": "GetFederalProvincesAT",
        "summary": "List of all federal provinces (Austria)",
        "description": "List of all 9 federal provinces in Austria.",
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FederalProvinceAT"
              }
            }
          }
        }
      }
    },
    "/at/FederalProvinces/{federalProvinceKey}/Districts": {
      "get": {
        "tags": [
          "AT"
        ],
        "operationId": "GetDistrictsByFederalProvinceAT",
        "summary": "Districts of a federal province (Austria)",
        "description": "List of all districts in an Austrian federal province.",
        "parameters": [
          {
            "name": "federalProvinceKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Federal province code (1 digit)."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DistrictAT"
              }
            }
          }
        }
      }
    },
    "/at/FederalProvinces/{federalProvinceKey}/Municipalities": {
      "get": {
        "tags": [
          "AT"
        ],
        "operationId": "GetMunicipalitiesByFederalProvinceAT",
        "summary": "Municipalities of a federal province (Austria)",
        "description": "List of all municipalities in an Austrian federal province.",
        "parameters": [
          {
            "name": "federalProvinceKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Federal province code (1 digit)."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MunicipalityAT"
              }
            }
          }
        }
      }
    },
    "/at/Districts/{districtKey}/Municipalities": {
      "get": {
        "tags": [
          "AT"
        ],
        "operationId": "GetMunicipalitiesByDistrictAT",
        "summary": "Municipalities of a district (Austria)",
        "description": "List of all municipalities in an Austrian district.",
        "parameters": [
          {
            "name": "districtKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "District identifier or district code (3 digits)."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MunicipalityAT"
              }
            }
          }
        }
      }
    },
    "/at/FederalProvinces/{federalProvinceKey}/Localities": {
      "get": {
        "tags": [
          "AT"
        ],
        "operationId": "GetLocalitiesByFederalProvinceAT",
        "summary": "Localities of a federal province (Austria)",
        "description": "List of all localities in an Austrian federal province.",
        "parameters": [
          {
            "name": "federalProvinceKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Federal province code (1 digit)."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LocalityAT"
              }
            }
          }
        }
      }
    },
    "/at/Districts/{districtKey}/Localities": {
      "get": {
        "tags": [
          "AT"
        ],
        "operationId": "GetLocalitiesByDistrictAT",
        "summary": "Localities of a district (Austria)",
        "description": "List of all localities in an Austrian district.",
        "parameters": [
          {
            "name": "districtKey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "District identifier or district code (3 digits)."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LocalityAT"
              }
            }
          }
        }
      }
    },
    "/at/Localities": {
      "get": {
        "tags": [
          "AT"
        ],
        "operationId": "SearchLocalitiesAT",
        "summary": "Search for localities and postal codes (Austria)",
        "description": "Searches for localities in Austria by postal code and/or locality name. Both parameters support regular expressions.\n",
        "parameters": [
          {
            "name": "postalCode",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Postal code or regular expression (e.g. '^10')."
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Locality name or regular expression."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LocalityAT"
              }
            }
          }
        }
      }
    },
    "/at/Streets": {
      "get": {
        "tags": [
          "AT"
        ],
        "operationId": "SearchStreetsAT",
        "summary": "Search for streets (Austria)",
        "description": "Searches for streets by street name and/or postal code and/or locality name. All parameters support regular expressions.\n",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Street name or regular expression."
          },
          {
            "name": "postalCode",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Postal code or regular expression."
          },
          {
            "name": "locality",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Locality name or regular expression."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/StreetAT"
              }
            }
          }
        }
      }
    },
    "/at/FullTextSearch": {
      "get": {
        "tags": [
          "AT"
        ],
        "operationId": "FullTextSearchAT",
        "summary": "Full-text search streets (Austria)",
        "description": "Full-text search across street names, postal codes and locality names for the Austrian data directory.\n",
        "parameters": [
          {
            "name": "searchTerm",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Search term, e.g. 'Wien Alfred Dallinger Platz'."
          },
          {
            "$ref": "#/parameters/Page"
          },
          {
            "$ref": "#/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/StreetAT"
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "Page": {
      "name": "page",
      "in": "query",
      "required": false,
      "type": "integer",
      "format": "int32",
      "minimum": 1,
      "description": "Page index (default: 1)."
    },
    "PageSize": {
      "name": "pageSize",
      "in": "query",
      "required": false,
      "type": "integer",
      "format": "int32",
      "minimum": 1,
      "maximum": 50,
      "description": "Number of items per page (default: 50, max: 50)."
    }
  },
  "definitions": {
    "FederalState": {
      "type": "object",
      "description": "German federal state",
      "properties": {
        "key": {
          "type": "string",
          "description": "Regional code (2 digits).",
          "example": "09"
        },
        "name": {
          "type": "string",
          "description": "Name of the federal state.",
          "example": "Bayern"
        },
        "seatOfGovernment": {
          "type": "string",
          "description": "Seat of government of the federal state.",
          "example": "München"
        }
      }
    },
    "GovernmentRegion": {
      "type": "object",
      "description": "Government region",
      "properties": {
        "key": {
          "type": "string",
          "description": "Regional code (3 digits).",
          "example": "071"
        },
        "name": {
          "type": "string",
          "description": "Name of the government region.",
          "example": "früher: Reg.-Bez. Koblenz"
        },
        "administrativeHeadquarters": {
          "type": "string",
          "description": "Administrative headquarters of the government region."
        },
        "federalState": {
          "$ref": "#/definitions/FederalStateSummary"
        }
      }
    },
    "GovernmentRegionSummary": {
      "type": "object",
      "description": "Short form of a government region",
      "properties": {
        "key": {
          "type": "string",
          "description": "Regional code (3 digits)."
        },
        "name": {
          "type": "string",
          "description": "Name of the government region."
        }
      }
    },
    "FederalStateSummary": {
      "type": "object",
      "description": "Short form of a federal state",
      "properties": {
        "key": {
          "type": "string",
          "description": "Regional code (2 digits)."
        },
        "name": {
          "type": "string",
          "description": "Name of the federal state."
        }
      }
    },
    "District": {
      "type": "object",
      "description": "District",
      "properties": {
        "key": {
          "type": "string",
          "description": "Regional code of the district (5 digits)."
        },
        "name": {
          "type": "string",
          "description": "Name of the district."
        },
        "type": {
          "type": "string",
          "description": "Type of district (e.g. 'Landkreis', 'Kreisfreie Stadt')."
        },
        "administrativeHeadquarters": {
          "type": "string",
          "description": "Seat of the district administration."
        },
        "governmentRegion": {
          "$ref": "#/definitions/GovernmentRegionSummary"
        },
        "federalState": {
          "$ref": "#/definitions/FederalStateSummary"
        }
      }
    },
    "DistrictSummary": {
      "type": "object",
      "description": "Short form of a district",
      "properties": {
        "key": {
          "type": "string",
          "description": "Regional code of the district (5 digits)."
        },
        "name": {
          "type": "string",
          "description": "Name of the district."
        }
      }
    },
    "MunicipalAssociation": {
      "type": "object",
      "description": "Municipal association",
      "properties": {
        "key": {
          "type": "string",
          "description": "Code of the municipal association (9 digits)."
        },
        "name": {
          "type": "string",
          "description": "Name of the municipal association."
        },
        "type": {
          "type": "string",
          "description": "Type of the municipal association (e.g. 'Amt', 'Verbandsgemeinde')."
        },
        "administrativeHeadquarters": {
          "type": "string",
          "description": "Administrative headquarters of the municipal association."
        },
        "district": {
          "$ref": "#/definitions/DistrictSummary"
        },
        "governmentRegion": {
          "$ref": "#/definitions/GovernmentRegionSummary"
        },
        "federalState": {
          "$ref": "#/definitions/FederalStateSummary"
        }
      }
    },
    "MunicipalAssociationSummary": {
      "type": "object",
      "description": "Short form of a municipal association",
      "properties": {
        "key": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "Municipality": {
      "type": "object",
      "description": "Municipality",
      "properties": {
        "key": {
          "type": "string",
          "description": "Regional code of the municipality (8 digits)."
        },
        "name": {
          "type": "string",
          "description": "Name of the municipality."
        },
        "type": {
          "type": "string",
          "description": "Type of municipality (e.g. town, market, independent city, ...)."
        },
        "postalCode": {
          "type": "string",
          "description": "Postal code of the administrative seat."
        },
        "multiplePostalCodes": {
          "type": "boolean",
          "description": "Does the municipality cover more than one postal code?"
        },
        "association": {
          "$ref": "#/definitions/MunicipalAssociationSummary"
        },
        "district": {
          "$ref": "#/definitions/DistrictSummary"
        },
        "governmentRegion": {
          "$ref": "#/definitions/GovernmentRegionSummary"
        },
        "federalState": {
          "$ref": "#/definitions/FederalStateSummary"
        }
      }
    },
    "MunicipalitySummary": {
      "type": "object",
      "description": "Short form of a municipality",
      "properties": {
        "key": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "Locality": {
      "type": "object",
      "description": "Locality",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the locality."
        },
        "postalCode": {
          "type": "string",
          "description": "Postal code of the locality."
        },
        "municipality": {
          "$ref": "#/definitions/MunicipalitySummary"
        },
        "district": {
          "$ref": "#/definitions/DistrictSummary"
        },
        "governmentRegion": {
          "$ref": "#/definitions/GovernmentRegionSummary"
        },
        "federalState": {
          "$ref": "#/definitions/FederalStateSummary"
        }
      }
    },
    "Street": {
      "type": "object",
      "description": "Street",
      "properties": {
        "name": {
          "type": "string",
          "description": "Street name."
        },
        "postalCode": {
          "type": "string",
          "description": "Postal code."
        },
        "locality": {
          "type": "string",
          "description": "Locality name."
        },
        "borough": {
          "type": "string",
          "description": "City district (if available)."
        },
        "suburb": {
          "type": "string",
          "description": "Suburb or locality subdivision (if available)."
        },
        "municipality": {
          "$ref": "#/definitions/MunicipalitySummary"
        },
        "district": {
          "$ref": "#/definitions/DistrictSummary"
        },
        "governmentRegion": {
          "$ref": "#/definitions/GovernmentRegionSummary"
        },
        "federalState": {
          "$ref": "#/definitions/FederalStateSummary"
        }
      }
    },
    "CommuneLI": {
      "type": "object",
      "description": "Municipality in Liechtenstein",
      "properties": {
        "key": {
          "type": "string",
          "description": "Municipality number (4 digits).",
          "example": "0101"
        },
        "name": {
          "type": "string",
          "description": "Official name of the municipality.",
          "example": "Vaduz"
        },
        "electoralDistrict": {
          "type": "string",
          "description": "Electoral district – Oberland or Unterland.",
          "example": "Oberland"
        }
      }
    },
    "LocalityLI": {
      "type": "object",
      "description": "Locality in Liechtenstein",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the locality.",
          "example": "Vaduz"
        },
        "postalCode": {
          "type": "string",
          "description": "Postal code of the locality.",
          "example": "9490"
        },
        "commune": {
          "type": "object",
          "properties": {
            "key": {
              "type": "string",
              "description": "Municipality number (4 digits)."
            },
            "name": {
              "type": "string",
              "description": "Official name of the municipality."
            }
          }
        }
      }
    },
    "StreetLI": {
      "type": "object",
      "description": "Street in Liechtenstein",
      "properties": {
        "key": {
          "type": "string",
          "description": "Street identifier.",
          "example": "123456"
        },
        "name": {
          "type": "string",
          "description": "Name of the street.",
          "example": "Alte Landstrasse"
        },
        "status": {
          "type": "string",
          "description": "Street status (Planned, Real, Outdated).",
          "example": "Real"
        },
        "postalCode": {
          "type": "string",
          "description": "Postal code.",
          "example": "9490"
        },
        "locality": {
          "type": "string",
          "description": "Name of the locality.",
          "example": "Vaduz"
        },
        "commune": {
          "type": "object",
          "properties": {
            "key": {
              "type": "string",
              "description": "Municipality number (4 digits)."
            },
            "name": {
              "type": "string",
              "description": "Official name of the municipality."
            }
          }
        }
      }
    },
    "CantonCH": {
      "type": "object",
      "description": "Canton of Switzerland",
      "properties": {
        "key": {
          "type": "string",
          "description": "BFS number of the canton (max. 2 digits).",
          "example": "10"
        },
        "historicalCode": {
          "type": "string",
          "description": "Historicised number of the canton."
        },
        "name": {
          "type": "string",
          "description": "Name of the canton.",
          "example": "Freiburg"
        },
        "shortName": {
          "type": "string",
          "description": "Canton abbreviation (2 characters).",
          "example": "FR"
        }
      }
    },
    "CantonCHSummary": {
      "type": "object",
      "description": "Short form of a Swiss canton",
      "properties": {
        "key": {
          "type": "string",
          "description": "BFS number of the canton (max. 2 digits)."
        },
        "name": {
          "type": "string",
          "description": "Name of the canton."
        },
        "shortName": {
          "type": "string",
          "description": "Canton abbreviation (2 characters)."
        }
      }
    },
    "DistrictCH": {
      "type": "object",
      "description": "District in Switzerland",
      "properties": {
        "key": {
          "type": "string",
          "description": "BFS number of the district (max. 4 digits)."
        },
        "historicalCode": {
          "type": "string",
          "description": "Historicised number of the district."
        },
        "name": {
          "type": "string",
          "description": "Name of the district."
        },
        "shortName": {
          "type": "string",
          "description": "Short name of the district."
        },
        "canton": {
          "$ref": "#/definitions/CantonCHSummary"
        }
      }
    },
    "DistrictCHSummary": {
      "type": "object",
      "description": "Short form of a Swiss district",
      "properties": {
        "key": {
          "type": "string",
          "description": "BFS number of the district (max. 4 digits)."
        },
        "name": {
          "type": "string",
          "description": "Name of the district."
        },
        "shortName": {
          "type": "string",
          "description": "Short name of the district."
        }
      }
    },
    "CommuneCH": {
      "type": "object",
      "description": "Municipality in Switzerland",
      "properties": {
        "key": {
          "type": "string",
          "description": "BFS number of the municipality (max. 4 digits)."
        },
        "historicalCode": {
          "type": "string",
          "description": "Historicised number of the municipality."
        },
        "name": {
          "type": "string",
          "description": "Official municipality name."
        },
        "shortName": {
          "type": "string",
          "description": "Short municipality name."
        },
        "district": {
          "$ref": "#/definitions/DistrictCHSummary"
        },
        "canton": {
          "$ref": "#/definitions/CantonCHSummary"
        }
      }
    },
    "CommuneCHSummary": {
      "type": "object",
      "description": "Short form of a Swiss municipality",
      "properties": {
        "key": {
          "type": "string",
          "description": "BFS number of the municipality (max. 4 digits)."
        },
        "name": {
          "type": "string",
          "description": "Name of the municipality."
        },
        "shortName": {
          "type": "string",
          "description": "Short municipality name."
        }
      }
    },
    "LocalityCH": {
      "type": "object",
      "description": "Locality in Switzerland",
      "properties": {
        "key": {
          "type": "string",
          "description": "Locality identifier."
        },
        "name": {
          "type": "string",
          "description": "Name of the locality."
        },
        "postalcode": {
          "type": "string",
          "description": "Postal code of the locality."
        },
        "commune": {
          "$ref": "#/definitions/CommuneCHSummary"
        },
        "district": {
          "$ref": "#/definitions/DistrictCHSummary"
        },
        "canton": {
          "$ref": "#/definitions/CantonCHSummary"
        }
      }
    },
    "StreetCH": {
      "type": "object",
      "description": "Street in Switzerland",
      "properties": {
        "key": {
          "type": "string",
          "description": "Street identifier."
        },
        "name": {
          "type": "string",
          "description": "Name of the street."
        },
        "status": {
          "type": "string",
          "description": "Street status. Possible values: Planned, Real, Outdated."
        },
        "postalcode": {
          "type": "string",
          "description": "Postal code of the locality."
        },
        "locality": {
          "type": "string",
          "description": "Name of the locality."
        },
        "commune": {
          "$ref": "#/definitions/CommuneCHSummary"
        },
        "district": {
          "$ref": "#/definitions/DistrictCHSummary"
        },
        "canton": {
          "$ref": "#/definitions/CantonCHSummary"
        }
      }
    },
    "FederalProvinceAT": {
      "type": "object",
      "description": "Federal province in Austria",
      "properties": {
        "key": {
          "type": "string",
          "description": "Federal province code (1 digit).",
          "example": "7"
        },
        "name": {
          "type": "string",
          "description": "Name of the federal province.",
          "example": "Wien"
        }
      }
    },
    "FederalProvinceATSummary": {
      "type": "object",
      "description": "Short form of an Austrian federal province",
      "properties": {
        "key": {
          "type": "string",
          "description": "Federal province code (1 digit)."
        },
        "name": {
          "type": "string",
          "description": "Name of the federal province."
        }
      }
    },
    "DistrictAT": {
      "type": "object",
      "description": "District in Austria",
      "properties": {
        "key": {
          "type": "string",
          "description": "District identifier (3 digits)."
        },
        "code": {
          "type": "string",
          "description": "District code (3 digits)."
        },
        "name": {
          "type": "string",
          "description": "Name of the district."
        },
        "federalProvince": {
          "$ref": "#/definitions/FederalProvinceATSummary"
        }
      }
    },
    "DistrictATSummary": {
      "type": "object",
      "description": "Short form of an Austrian district",
      "properties": {
        "key": {
          "type": "string",
          "description": "District identifier (3 digits)."
        },
        "code": {
          "type": "string",
          "description": "District code (3 digits)."
        },
        "name": {
          "type": "string",
          "description": "Name of the district."
        }
      }
    },
    "MunicipalityAT": {
      "type": "object",
      "description": "Municipality in Austria",
      "properties": {
        "key": {
          "type": "string",
          "description": "Municipality identifier (5 digits)."
        },
        "code": {
          "type": "string",
          "description": "Municipality code (5 digits)."
        },
        "name": {
          "type": "string",
          "description": "Name of the municipality."
        },
        "status": {
          "type": "string",
          "description": "Status of the municipality (e.g. town, market, etc.)."
        },
        "postalCode": {
          "type": "string",
          "description": "Postal code of the municipal office."
        },
        "multiplePostalCodes": {
          "type": "boolean",
          "description": "Does the municipality cover more than one postal code?"
        },
        "district": {
          "$ref": "#/definitions/DistrictATSummary"
        },
        "federalProvince": {
          "$ref": "#/definitions/FederalProvinceATSummary"
        }
      }
    },
    "MunicipalityATSummary": {
      "type": "object",
      "description": "Short form of an Austrian municipality",
      "properties": {
        "key": {
          "type": "string",
          "description": "Municipality identifier (5 digits)."
        },
        "code": {
          "type": "string",
          "description": "Municipality code (5 digits)."
        },
        "name": {
          "type": "string",
          "description": "Name of the municipality."
        }
      }
    },
    "LocalityAT": {
      "type": "object",
      "description": "Locality in Austria",
      "properties": {
        "key": {
          "type": "string",
          "description": "Locality identifier."
        },
        "name": {
          "type": "string",
          "description": "Name of the locality."
        },
        "postalcode": {
          "type": "string",
          "description": "Postal code of the locality."
        },
        "municipality": {
          "$ref": "#/definitions/MunicipalityATSummary"
        },
        "district": {
          "$ref": "#/definitions/DistrictATSummary"
        },
        "federalProvince": {
          "$ref": "#/definitions/FederalProvinceATSummary"
        }
      }
    },
    "StreetAT": {
      "type": "object",
      "description": "Street in Austria",
      "properties": {
        "key": {
          "type": "string",
          "description": "Street identifier."
        },
        "name": {
          "type": "string",
          "description": "Name of the street."
        },
        "postalcode": {
          "type": "string",
          "description": "Postal code of the locality."
        },
        "locality": {
          "type": "string",
          "description": "Name of the locality."
        },
        "municipality": {
          "$ref": "#/definitions/MunicipalityATSummary"
        },
        "district": {
          "$ref": "#/definitions/DistrictATSummary"
        },
        "federalProvince": {
          "$ref": "#/definitions/FederalProvinceATSummary"
        }
      }
    }
  },
  "securityDefinitions": {}
}
