{
  "swagger": "2.0",
  "info": {
    "title": "Egnyte",
    "description": "Egnyte is a service that keeps your files safe, synced, and easy to share. Connect to Egnyte to manage your files. You can perform various actions such as upload, update, get, and delete files in Egnyte.",
    "version": "1.4",
    "contact": {
      "name": "Egnyte Support",
      "url": "https://helpdesk.egnyte.com",
      "email": "support@egnyte.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://egnyte.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.egnyte.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Collaboration;Productivity"
    }
  ],
  "host": "us-partner-integrations.egnyte.com",
  "basePath": "/ms-flow/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/trigger/polling/created-files": {
      "get": {
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "summary": "When a file is created (properties)",
        "operationId": "pollCreatedFiles",
        "description": "This operation triggers a flow when a new file is created in a folder.",
        "x-ms-trigger": "batch",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The ID of an event.",
                    "title": "Event ID"
                  },
                  "timestamp": {
                    "type": "string",
                    "description": "The ISO-8601 formatted timestamp for when this event was recorded.",
                    "title": "Timestamp"
                  },
                  "actor": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The numeric ID of the user who performed the action.",
                    "title": "User ID"
                  },
                  "action": {
                    "type": "string",
                    "description": "The action associated with this event.",
                    "title": "Action"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "target_path": {
                        "type": "string",
                        "description": "Full path to the file.",
                        "title": "File Path"
                      },
                      "target_id": {
                        "type": "string",
                        "description": "The ID of the specific version of the file.",
                        "title": "Version ID"
                      },
                      "target_group_id": {
                        "type": "string",
                        "description": "The ID to reference the file as a whole.",
                        "title": "File ID"
                      },
                      "is_folder": {
                        "type": "boolean",
                        "description": "Whether the resource is a folder (True or False).",
                        "title": "Is Folder",
                        "enum": [
                          true,
                          false
                        ]
                      }
                    },
                    "description": "data"
                  },
                  "action_source": {
                    "type": "string",
                    "description": "The source of the event. For example WebUI, Mobile, etc.",
                    "title": "Action Source"
                  },
                  "object_detail": {
                    "type": "string",
                    "description": "Object Detail.",
                    "title": "Object Detail"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "x-ms-trigger-hint": "Poll created files",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        }
      }
    },
    "/trigger/polling/created-folders": {
      "get": {
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "summary": "When a folder is created (properties)",
        "operationId": "pollCreatedFolders",
        "description": "This operation triggers a flow when a sub-folder is created in a folder.",
        "x-ms-trigger": "batch",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The ID of an event.",
                    "title": "Event ID"
                  },
                  "timestamp": {
                    "type": "string",
                    "description": "The ISO-8601 formatted timestamp for when this event was recorded.",
                    "title": "Timestamp"
                  },
                  "actor": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The numeric ID of the user who performed the action.",
                    "title": "User ID"
                  },
                  "action": {
                    "type": "string",
                    "description": "The action associated with this event.",
                    "title": "Action"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "target_path": {
                        "type": "string",
                        "description": "The full path to the folder.",
                        "title": "Folder Path"
                      },
                      "is_folder": {
                        "type": "boolean",
                        "description": "Whether the resource is a folder. (True or False)",
                        "title": "Is Folder"
                      }
                    },
                    "description": "data"
                  },
                  "action_source": {
                    "type": "string",
                    "description": "The source of the event. For example WebUI, Mobile, etc.",
                    "title": "Action Source"
                  },
                  "object_detail": {
                    "type": "string",
                    "description": "Object Detail.",
                    "title": "Object Detail"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "x-ms-trigger-hint": "Poll created folders",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        }
      }
    },
    "/trigger/polling/deleted-files": {
      "get": {
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "summary": "When a file is deleted (properties)",
        "operationId": "pollDeletedFiles",
        "description": "This operation triggers a flow when a file is deleted in a folder.",
        "x-ms-trigger": "batch",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The ID of an event.",
                    "title": "Event ID"
                  },
                  "timestamp": {
                    "type": "string",
                    "description": "The ISO-8601 formatted timestamp for when this event was recorded.",
                    "title": "Timestamp"
                  },
                  "actor": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The numeric ID of the user who performed the action.",
                    "title": "User ID"
                  },
                  "action": {
                    "type": "string",
                    "description": "The action associated with this event.",
                    "title": "Action"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "target_path": {
                        "type": "string",
                        "description": "Full path to the specific file version.",
                        "title": "Version Path"
                      },
                      "target_group_id": {
                        "type": "string",
                        "description": "The ID to reference the file as a whole.",
                        "title": "File ID"
                      },
                      "is_folder": {
                        "type": "boolean",
                        "description": "Whether the resource is a folder. (True or False)",
                        "title": "Is Folder"
                      }
                    },
                    "description": "data"
                  },
                  "action_source": {
                    "type": "string",
                    "description": "The source of the event. For example WebUI, Mobile, etc.",
                    "title": "Action Source"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "x-ms-trigger-hint": "Poll deleted files",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        }
      }
    },
    "/trigger/polling/deleted-folders": {
      "get": {
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "summary": "When a folder is deleted (properties)",
        "operationId": "pollDeletedFolders",
        "description": "This operation triggers a flow when a sub-folder is deleted in a folder.",
        "x-ms-trigger": "batch",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The ID of an event.",
                    "title": "Event ID"
                  },
                  "timestamp": {
                    "type": "string",
                    "description": "The ISO-8601 formatted timestamp for when this event was recorded.",
                    "title": "Timestamp"
                  },
                  "actor": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The numeric ID of the user who performed the action.",
                    "title": "User ID"
                  },
                  "action": {
                    "type": "string",
                    "description": "The action associated with this event.",
                    "title": "Action"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "target_path": {
                        "type": "string",
                        "description": "Full path to the deleted folder.",
                        "title": "Folder Path"
                      },
                      "is_folder": {
                        "type": "boolean",
                        "description": "Whether the resource is a folder. (True or False)",
                        "title": "Is Folder"
                      }
                    },
                    "description": "data"
                  },
                  "action_source": {
                    "type": "string",
                    "description": "The source of the event. For example WebUI, Mobile, etc.",
                    "title": "Action Source"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "x-ms-trigger-hint": "Poll created folders",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        }
      }
    },
    "/trigger/polling/renamed-files": {
      "get": {
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "summary": "When a file is renamed (properties)",
        "operationId": "pollRenamedFiles",
        "description": "This operation triggers a flow when a file is renamed in a folder.",
        "x-ms-trigger": "batch",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The ID of an individual event.",
                    "title": "Event ID"
                  },
                  "timestamp": {
                    "type": "string",
                    "description": "The ISO-8601 formatted timestamp for when this event was recorded.",
                    "title": "Timestamp"
                  },
                  "actor": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The numeric ID of the user who performed the action.",
                    "title": "User ID"
                  },
                  "action": {
                    "type": "string",
                    "description": "The action associated with this event.",
                    "title": "Action"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "target_path": {
                        "type": "string",
                        "description": "Full path to the renamed file",
                        "title": "File Path"
                      },
                      "target_id": {
                        "type": "string",
                        "description": "The ID of the specific version of the file.",
                        "title": "Version ID"
                      },
                      "target_group_id": {
                        "type": "string",
                        "description": "The ID to reference the file as a whole.",
                        "title": "File ID"
                      },
                      "source_path": {
                        "type": "string",
                        "description": "Full original path to the file.",
                        "title": "Source File Path"
                      },
                      "is_folder": {
                        "type": "boolean",
                        "description": "Whether the resource is a folder. (True or False)",
                        "title": "Is Folder"
                      }
                    },
                    "description": "data"
                  },
                  "action_source": {
                    "type": "string",
                    "description": "The source of the event. For example WebUI, Mobile, etc.",
                    "title": "Action Source"
                  },
                  "object_detail": {
                    "type": "string",
                    "description": "Object Detail",
                    "title": "Object Detail"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "x-ms-trigger-hint": "Poll renamed files",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        }
      }
    },
    "/trigger/polling/renamed-folders": {
      "get": {
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "summary": "When a folder is renamed (properties)",
        "operationId": "pollRenamedFolders",
        "description": "This operation triggers a flow when a sub-folder is renamed in a folder.",
        "x-ms-trigger": "batch",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The ID of an individual event.",
                    "title": "Event ID"
                  },
                  "timestamp": {
                    "type": "string",
                    "description": "The ISO-8601 formatted timestamp for when this event was recorded.",
                    "title": "Timestamp"
                  },
                  "actor": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The numeric ID of the user who performed the action.",
                    "title": "User ID"
                  },
                  "action": {
                    "type": "string",
                    "description": "The action associated with this event.",
                    "title": "Action"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "target_path": {
                        "type": "string",
                        "description": "Full destination path to the folder.",
                        "title": "Folder Path"
                      },
                      "source_path": {
                        "type": "string",
                        "description": "Full original path to the folder.",
                        "title": "Source Folder Path"
                      },
                      "is_folder": {
                        "type": "boolean",
                        "description": "Whether the resource is a folder. (True or False)",
                        "title": "Is Folder"
                      }
                    },
                    "description": "data"
                  },
                  "action_source": {
                    "type": "string",
                    "description": "The source of the event. For example WebUI, Mobile, etc.",
                    "title": "Action Source"
                  },
                  "object_detail": {
                    "type": "string",
                    "description": "Object Detail",
                    "title": "Object Detail"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "x-ms-trigger-hint": "Poll renamed folders",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        }
      }
    },
    "/trigger/polling/moved-files": {
      "get": {
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "summary": "When a file is moved (properties)",
        "operationId": "pollMovedFiles",
        "description": "This operation triggers a flow when a file is moved in a folder.",
        "x-ms-trigger": "batch",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The ID of an individual event.",
                    "title": "Event ID"
                  },
                  "timestamp": {
                    "type": "string",
                    "description": "The ISO-8601 formatted timestamp for when this event was recorded.",
                    "title": "Timestamp"
                  },
                  "actor": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The numeric ID of the user who performed the action.",
                    "title": "User ID"
                  },
                  "action": {
                    "type": "string",
                    "description": "The action associated with this event.",
                    "title": "Action"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "target_path": {
                        "type": "string",
                        "description": "Full path to the file.",
                        "title": "File Path"
                      },
                      "target_id": {
                        "type": "string",
                        "description": "The ID of the specific version of the file.",
                        "title": "Version ID"
                      },
                      "target_group_id": {
                        "type": "string",
                        "description": "The ID to reference the file as a whole.",
                        "title": "File ID"
                      },
                      "source_path": {
                        "type": "string",
                        "description": "Full original path to the file.",
                        "title": "Source File Path"
                      },
                      "is_folder": {
                        "type": "boolean",
                        "description": "Whether the resource is a folder. (True or False)",
                        "title": "Is Folder"
                      }
                    },
                    "description": "data"
                  },
                  "action_source": {
                    "type": "string",
                    "description": "The source of the event. For example WebUI, Mobile, etc.",
                    "title": "Action Source"
                  },
                  "object_detail": {
                    "type": "string",
                    "description": "Object Detail.",
                    "title": "Object Detail"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "x-ms-trigger-hint": "Poll moved files",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        }
      }
    },
    "/trigger/polling/moved-folders": {
      "get": {
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "summary": "When a folder is moved (properties)",
        "operationId": "pollMovedFolders",
        "description": "This operation triggers a flow when a sub-folder is moved in a folder.",
        "x-ms-trigger": "batch",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The ID of an individual event.",
                    "title": "Event ID"
                  },
                  "timestamp": {
                    "type": "string",
                    "description": "The ISO-8601 formatted timestamp for when this event was recorded.",
                    "title": "Timestamp"
                  },
                  "actor": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The numeric ID of the user who performed the action.",
                    "title": "User ID"
                  },
                  "action": {
                    "type": "string",
                    "description": "The action associated with this event.",
                    "title": "Action"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "target_path": {
                        "type": "string",
                        "description": "Full destination path to the folder.",
                        "title": "Folder Path"
                      },
                      "source_path": {
                        "type": "string",
                        "description": "Full original path to the folder.",
                        "title": "Source Folder Path"
                      },
                      "is_folder": {
                        "type": "boolean",
                        "description": "Whether the resource is a folder. (True or False)",
                        "title": "Is Folder"
                      }
                    },
                    "description": "data"
                  },
                  "action_source": {
                    "type": "string",
                    "description": "The source of the event. For example WebUI, Mobile, etc.",
                    "title": "Action Source"
                  },
                  "object_detail": {
                    "type": "string",
                    "description": "Object Detail",
                    "title": "Object Detail"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "x-ms-trigger-hint": "Poll moved folders",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        }
      }
    },
    "/trigger/polling/copied-files": {
      "get": {
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "summary": "When a file is copied (properties)",
        "operationId": "pollCopiedFiles",
        "description": "This operation triggers a flow when a file is copied in a folder.",
        "x-ms-trigger": "batch",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The ID of an individual event.",
                    "title": "Event ID"
                  },
                  "timestamp": {
                    "type": "string",
                    "description": "The ISO-8601 formatted timestamp for when this event was recorded.",
                    "title": "Timestamp"
                  },
                  "actor": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The numeric ID of the user who performed the action.",
                    "title": "User ID"
                  },
                  "action": {
                    "type": "string",
                    "description": "The action associated with this event.",
                    "title": "Action"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "target_path": {
                        "type": "string",
                        "description": "Full path to the file.",
                        "title": "File Path"
                      },
                      "target_id": {
                        "type": "string",
                        "description": "The ID of the specific version of the file.",
                        "title": "Version ID"
                      },
                      "target_group_id": {
                        "type": "string",
                        "description": "The ID to reference the file as a whole.",
                        "title": "File ID"
                      },
                      "source_path": {
                        "type": "string",
                        "description": "Full original path to the file.",
                        "title": "Source File Path"
                      },
                      "source_id": {
                        "type": "string",
                        "description": "Source file specific version ID.",
                        "title": "Source File Version ID"
                      },
                      "source_group_id": {
                        "type": "string",
                        "description": "The source file ID to reference the file as a whole.",
                        "title": "Source File ID"
                      },
                      "is_folder": {
                        "type": "boolean",
                        "description": "Whether the resource is a folder. (True or False)",
                        "title": "Is Folder"
                      }
                    },
                    "description": "data"
                  },
                  "action_source": {
                    "type": "string",
                    "description": "The source of the event. For example WebUI, Mobile, etc.",
                    "title": "Action Source"
                  },
                  "object_detail": {
                    "type": "string",
                    "description": "Object Detail.",
                    "title": "Object Detail"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "x-ms-trigger-hint": "Poll copied files",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        }
      }
    },
    "/trigger/polling/copied-folders": {
      "get": {
        "summary": "When a folder is copied (properties)",
        "operationId": "pollCopiedFolders",
        "description": "This operation triggers a flow when a sub-folder is copied in a folder.",
        "x-ms-trigger": "batch",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The ID of an individual event.",
                    "title": "Event ID"
                  },
                  "timestamp": {
                    "type": "string",
                    "description": "The ISO-8601 formatted timestamp for when this event was recorded.",
                    "title": "Timestamp"
                  },
                  "actor": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The numeric ID of the user who performed the action.",
                    "title": "User ID"
                  },
                  "action": {
                    "type": "string",
                    "description": "The action associated with this event.",
                    "title": "Action"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "target_path": {
                        "type": "string",
                        "description": "Full destination path to the folder",
                        "title": "Folder Path"
                      },
                      "source_path": {
                        "type": "string",
                        "description": "Full original path to the folder",
                        "title": "Source Folder Path"
                      },
                      "is_folder": {
                        "type": "boolean",
                        "description": "Whether the resource is a folder (True or False)",
                        "title": "Is Folder"
                      }
                    },
                    "description": "data"
                  },
                  "action_source": {
                    "type": "string",
                    "description": "The source of the event. For example WebUI, Mobile, etc.",
                    "title": "Action Source"
                  },
                  "object_detail": {
                    "type": "string",
                    "description": "Object Detail",
                    "title": "Object Detail"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "x-ms-trigger-hint": "Poll copied folders",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        }
      }
    },
    "/api-proxy/CreateFolder": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "Full path of the created folder",
                  "title": "Folder Path"
                },
                "folder_id": {
                  "type": "string",
                  "description": "The unique ID of the created folder",
                  "title": "Folder ID"
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "consumes": [
          "application/json"
        ],
        "summary": "Create Folder",
        "operationId": "createFolder",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "The full path of the new folder.",
                  "title": "Folder Path",
                  "x-ms-dynamic-values": {
                    "parameters": {
                      "isFolder": true,
                      "fileFilter": [],
                      "dataset": null
                    },
                    "capability": "file-picker",
                    "value-path": "path"
                  },
                  "x-ms-dynamic-tree": {
                    "settings": {
                      "canSelectParentNodes": true,
                      "canSelectLeafNodes": true
                    },
                    "open": {
                      "operationId": "listRootFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path"
                    },
                    "browse": {
                      "operationId": "listFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path",
                      "parameters": {
                        "path": {
                          "selectedItemValuePath": "path"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important",
        "description": "Create a folder in Egnyte."
      }
    },
    "/api-proxy/DeleteFileByPath": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "parent_folder_path": {
                  "type": "string",
                  "description": "Path to the parent folder for the deleted file",
                  "title": "Parent Folder Path"
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "consumes": [
          "application/json"
        ],
        "summary": "Delete File By Path",
        "operationId": "deleteFileByPath",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "The file path in Egnyte, including target filename.",
                  "title": "File Path",
                  "x-ms-dynamic-values": {
                    "parameters": {
                      "isFolder": false,
                      "fileFilter": [],
                      "dataset": null
                    },
                    "capability": "file-picker",
                    "value-path": "path"
                  },
                  "x-ms-dynamic-tree": {
                    "settings": {
                      "canSelectParentNodes": false,
                      "canSelectLeafNodes": true
                    },
                    "open": {
                      "operationId": "listRootFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path"
                    },
                    "browse": {
                      "operationId": "listFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path",
                      "parameters": {
                        "path": {
                          "selectedItemValuePath": "path"
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "path"
              ]
            }
          }
        ],
        "description": "Delete a file using a path."
      }
    },
    "/api-proxy/DeleteFolderByPath": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "parent_folder_path": {
                  "type": "string",
                  "description": "Path to the parent folder for the deleted folder.",
                  "title": "Parent Folder Path"
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "consumes": [
          "application/json"
        ],
        "summary": "Delete Folder By Path",
        "operationId": "deleteFolderByPath",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "The folder path in Egnyte, including target folder name to be deleted.",
                  "title": "Folder Path",
                  "x-ms-dynamic-values": {
                    "parameters": {
                      "isFolder": true,
                      "fileFilter": [],
                      "dataset": null
                    },
                    "capability": "file-picker",
                    "value-path": "path"
                  },
                  "x-ms-dynamic-tree": {
                    "settings": {
                      "canSelectParentNodes": true,
                      "canSelectLeafNodes": true
                    },
                    "open": {
                      "operationId": "listRootFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path"
                    },
                    "browse": {
                      "operationId": "listFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path",
                      "parameters": {
                        "path": {
                          "selectedItemValuePath": "path"
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "path"
              ]
            }
          }
        ],
        "description": "Delete a folder using a path."
      }
    },
    "/api-proxy/DeleteFolderById": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "parent_folder_path": {
                  "type": "string",
                  "description": "Path to the parent folder for the deleted folder.",
                  "title": "Parent Folder Path"
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "consumes": [
          "application/json"
        ],
        "summary": "Delete Folder By Id",
        "operationId": "deleteFolderById",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The unique identifier of the folder to delete from Egnyte.",
                  "title": "Folder Id"
                }
              },
              "required": [
                "id"
              ]
            }
          }
        ],
        "description": "Delete a folder using an id."
      }
    },
    "/api-proxy/DeleteFileById": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "parent_folder_path": {
                  "type": "string",
                  "description": "Path to the parent folder for the deleted file.",
                  "title": "Parent Folder Path"
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "consumes": [
          "application/json"
        ],
        "summary": "Delete File By Id",
        "operationId": "deleteFileById",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The unique identifier of the file to delete from Egnyte.",
                  "title": "File Id"
                }
              },
              "required": [
                "id"
              ]
            }
          }
        ],
        "description": "Delete a file using an id."
      }
    },
    "/api-proxy/CopyFileByPath": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "Full path of the copied file.",
                  "title": "File Path"
                },
                "group_id": {
                  "type": "string",
                  "description": "The ID to reference the file as a whole.",
                  "title": "File ID"
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "consumes": [
          "application/json"
        ],
        "summary": "Copy File By Path",
        "operationId": "copyFileByPath",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "The source file path in Egnyte, including target filename.",
                  "title": "Source File",
                  "x-ms-dynamic-values": {
                    "parameters": {
                      "isFolder": false,
                      "fileFilter": [],
                      "dataset": null
                    },
                    "capability": "file-picker",
                    "value-path": "path"
                  },
                  "x-ms-dynamic-tree": {
                    "settings": {
                      "canSelectParentNodes": false,
                      "canSelectLeafNodes": true
                    },
                    "open": {
                      "operationId": "listRootFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path"
                    },
                    "browse": {
                      "operationId": "listFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path",
                      "parameters": {
                        "path": {
                          "selectedItemValuePath": "path"
                        }
                      }
                    }
                  }
                },
                "destination_path": {
                  "type": "string",
                  "description": "The destination file path in Egnyte, including target filename.",
                  "title": "Destination File"
                }
              },
              "required": [
                "destination_path",
                "path"
              ]
            }
          }
        ],
        "description": "Copy a file by using a path."
      }
    },
    "/api-proxy/CopyFolderByPath": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "Full path of the copied folder.",
                  "title": "Folder Path"
                },
                "folder_id": {
                  "type": "string",
                  "description": "The unique ID of the copied folder.",
                  "title": "Folder ID"
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "consumes": [
          "application/json"
        ],
        "summary": "Copy Folder By Path",
        "operationId": "copyFolderByPath",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "The source folder path in Egnyte.",
                  "title": "Source Folder Path",
                  "x-ms-dynamic-values": {
                    "parameters": {
                      "isFolder": true,
                      "fileFilter": [],
                      "dataset": null
                    },
                    "capability": "file-picker",
                    "value-path": "path"
                  },
                  "x-ms-dynamic-tree": {
                    "settings": {
                      "canSelectParentNodes": true,
                      "canSelectLeafNodes": true
                    },
                    "open": {
                      "operationId": "listRootFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path"
                    },
                    "browse": {
                      "operationId": "listFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path",
                      "parameters": {
                        "path": {
                          "selectedItemValuePath": "path"
                        }
                      }
                    }
                  }
                },
                "destination_path": {
                  "type": "string",
                  "description": "The destination folder path in Egnyte.",
                  "title": "Destination Folder Path",
                  "x-ms-dynamic-values": {
                    "parameters": {
                      "isFolder": true,
                      "fileFilter": [],
                      "dataset": null
                    },
                    "capability": "file-picker",
                    "value-path": "path"
                  },
                  "x-ms-dynamic-tree": {
                    "settings": {
                      "canSelectParentNodes": true,
                      "canSelectLeafNodes": true
                    },
                    "open": {
                      "operationId": "listRootFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path"
                    },
                    "browse": {
                      "operationId": "listFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path",
                      "parameters": {
                        "path": {
                          "selectedItemValuePath": "path"
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "destination_path",
                "path"
              ]
            }
          }
        ],
        "description": "Copy a folder by using a path."
      }
    },
    "/api-proxy/CopyFileById": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "Full path of the copied file.",
                  "title": "File Path"
                },
                "group_id": {
                  "type": "string",
                  "description": "The ID to reference the file as a whole.",
                  "title": "File ID"
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "consumes": [
          "application/json"
        ],
        "summary": "Copy File By Id",
        "operationId": "copyFileById",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The unique identifier of the file to copy in Egnyte.",
                  "title": "File Id"
                },
                "destination_path": {
                  "type": "string",
                  "description": "The destination file path in Egnyte, including target filename.",
                  "title": "Destination File Path"
                }
              },
              "required": [
                "destination_path",
                "id"
              ]
            }
          }
        ],
        "description": "Copy a file by using an id."
      }
    },
    "/api-proxy/CopyFolderById": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "Full path of the copied folder.",
                  "title": "Folder Path"
                },
                "folder_id": {
                  "type": "string",
                  "description": "The unique ID of the copied folder.",
                  "title": "Folder ID"
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "consumes": [
          "application/json"
        ],
        "summary": "Copy Folder By Id",
        "operationId": "copyFolderById",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The unique identifier of the folder to copy in Egnyte.",
                  "title": "Folder Id"
                },
                "destination_path": {
                  "type": "string",
                  "description": "The destination folder path in Egnyte.",
                  "title": "Destination Folder Path",
                  "x-ms-dynamic-values": {
                    "parameters": {
                      "isFolder": true,
                      "fileFilter": [],
                      "dataset": null
                    },
                    "capability": "file-picker",
                    "value-path": "path"
                  },
                  "x-ms-dynamic-tree": {
                    "settings": {
                      "canSelectParentNodes": true,
                      "canSelectLeafNodes": true
                    },
                    "open": {
                      "operationId": "listRootFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path"
                    },
                    "browse": {
                      "operationId": "listFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path",
                      "parameters": {
                        "path": {
                          "selectedItemValuePath": "path"
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "id",
                "destination_path"
              ]
            }
          }
        ],
        "description": "Copy a folder using an id."
      }
    },
    "/api-proxy/MoveFileByPath": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "Full path of the moved file.",
                  "title": "File Path"
                },
                "group_id": {
                  "type": "string",
                  "description": "The ID to reference the file as a whole.",
                  "title": "File ID"
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "consumes": [
          "application/json"
        ],
        "summary": "Move File By Path",
        "operationId": "moveFileByPath",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "The path to source file.",
                  "title": "Source Path",
                  "x-ms-dynamic-values": {
                    "parameters": {
                      "isFolder": false,
                      "fileFilter": [],
                      "dataset": null
                    },
                    "capability": "file-picker",
                    "value-path": "path"
                  },
                  "x-ms-dynamic-tree": {
                    "settings": {
                      "canSelectParentNodes": false,
                      "canSelectLeafNodes": true
                    },
                    "open": {
                      "operationId": "listRootFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path"
                    },
                    "browse": {
                      "operationId": "listFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path",
                      "parameters": {
                        "path": {
                          "selectedItemValuePath": "path"
                        }
                      }
                    }
                  }
                },
                "destination_path": {
                  "type": "string",
                  "description": "The destination file path in Egnyte, including target filename.",
                  "title": "Destination File Path"
                }
              },
              "required": [
                "destination_path",
                "path"
              ]
            }
          }
        ],
        "description": "Move a file in Egnyte using path."
      }
    },
    "/api-proxy/MoveFolderByPath": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "Full path of the moved folder.",
                  "title": "Folder Path"
                },
                "folder_id": {
                  "type": "string",
                  "description": "The unique ID of the moved folder.",
                  "title": "Folder ID"
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "consumes": [
          "application/json"
        ],
        "summary": "Move Folder By Path",
        "operationId": "moveFolderByPath",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "The path to source folder.",
                  "title": "Source Path",
                  "x-ms-dynamic-values": {
                    "parameters": {
                      "isFolder": true,
                      "fileFilter": [],
                      "dataset": null
                    },
                    "capability": "file-picker",
                    "value-path": "path"
                  },
                  "x-ms-dynamic-tree": {
                    "settings": {
                      "canSelectParentNodes": true,
                      "canSelectLeafNodes": true
                    },
                    "open": {
                      "operationId": "listRootFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path"
                    },
                    "browse": {
                      "operationId": "listFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path",
                      "parameters": {
                        "path": {
                          "selectedItemValuePath": "path"
                        }
                      }
                    }
                  }
                },
                "destination_path": {
                  "type": "string",
                  "description": "The destination folder path in Egnyte.",
                  "title": "Destination Folder Path",
                  "x-ms-dynamic-values": {
                    "parameters": {
                      "isFolder": true,
                      "fileFilter": [],
                      "dataset": null
                    },
                    "capability": "file-picker",
                    "value-path": "path"
                  },
                  "x-ms-dynamic-tree": {
                    "settings": {
                      "canSelectParentNodes": true,
                      "canSelectLeafNodes": true
                    },
                    "open": {
                      "operationId": "listRootFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path"
                    },
                    "browse": {
                      "operationId": "listFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path",
                      "parameters": {
                        "path": {
                          "selectedItemValuePath": "path"
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "destination_path",
                "path"
              ]
            }
          }
        ],
        "description": "Move a folder in Egnyte using path."
      }
    },
    "/api-proxy/MoveFileById": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "Full path of the moved file.",
                  "title": "File Path"
                },
                "group_id": {
                  "type": "string",
                  "description": "The ID to reference the file as a whole.",
                  "title": "File ID"
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "consumes": [
          "application/json"
        ],
        "summary": "Move File By Id",
        "operationId": "moveFileById",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The unique identifier of the file in Egnyte.",
                  "title": "File Id"
                },
                "destination_path": {
                  "type": "string",
                  "description": "The destination file path in Egnyte. Including target filename.",
                  "title": "Destination File Path"
                }
              },
              "required": [
                "id",
                "destination_path"
              ]
            }
          }
        ],
        "description": "Move a file in Egnyte using file id."
      }
    },
    "/api-proxy/MoveFolderById": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "Full path of the moved folder.",
                  "title": "Folder Path"
                },
                "folder_id": {
                  "type": "string",
                  "description": "The unique ID of the moved folder.",
                  "title": "Folder ID"
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "consumes": [
          "application/json"
        ],
        "summary": "Move Folder By Id",
        "operationId": "moveFolderById",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The unique identifier of the folder in Egnyte.",
                  "title": "Folder Id"
                },
                "destination_path": {
                  "type": "string",
                  "description": "The destination folder path in Egnyte.",
                  "title": "Destination Folder Path",
                  "x-ms-dynamic-values": {
                    "parameters": {
                      "isFolder": true,
                      "fileFilter": [],
                      "dataset": null
                    },
                    "capability": "file-picker",
                    "value-path": "path"
                  },
                  "x-ms-dynamic-tree": {
                    "settings": {
                      "canSelectParentNodes": true,
                      "canSelectLeafNodes": true
                    },
                    "open": {
                      "operationId": "listRootFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path"
                    },
                    "browse": {
                      "operationId": "listFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path",
                      "parameters": {
                        "path": {
                          "selectedItemValuePath": "path"
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "destination_path",
                "id"
              ]
            }
          }
        ],
        "description": "Move a folder using id."
      }
    },
    "/api-proxy/ShareFile": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "links": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The id of the link.",
                        "title": "Link ID"
                      },
                      "url": {
                        "type": "string",
                        "description": "The full url of the link.",
                        "title": "Link Url"
                      },
                      "recipients": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "An array of valid email addresses to which the link was sent.",
                        "title": "Recipients"
                      }
                    }
                  },
                  "description": "Links"
                },
                "path": {
                  "type": "string",
                  "description": "Full path of the shared file.",
                  "title": "File Path"
                },
                "type": {
                  "type": "string",
                  "description": "The type of link, either file, folder, or upload.",
                  "title": "Type"
                },
                "accessibility": {
                  "type": "string",
                  "description": "Who a link is accessible by, one of anyone, password, domain, or recipients.",
                  "title": "Accessibility"
                },
                "notify": {
                  "type": "boolean",
                  "description": "Whether the link creator will be notified via email when link is accessed.",
                  "title": "Notify creator when accessed",
                  "enum": [
                    true,
                    false
                  ]
                },
                "link_to_current": {
                  "type": "boolean",
                  "description": "Is this current version? T or F",
                  "title": "Is referring to version",
                  "enum": [
                    true,
                    false
                  ]
                },
                "expiry_date": {
                  "type": "string",
                  "description": "Date and time of the expiration of the link.",
                  "title": "Expiry Date"
                },
                "creation_date": {
                  "type": "string",
                  "description": "Date and time of creation of the link.",
                  "title": "Creation Date"
                },
                "created_by": {
                  "type": "string",
                  "description": "Username of the user that created the link.",
                  "title": "Created By"
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "consumes": [
          "application/json"
        ],
        "summary": "Share File",
        "operationId": "shareFile",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "The file path in Egnyte, including target filename to share.",
                  "title": "File Path",
                  "x-ms-dynamic-values": {
                    "parameters": {
                      "isFolder": false,
                      "fileFilter": [],
                      "dataset": null
                    },
                    "capability": "file-picker",
                    "value-path": "path"
                  },
                  "x-ms-dynamic-tree": {
                    "settings": {
                      "canSelectParentNodes": false,
                      "canSelectLeafNodes": true
                    },
                    "open": {
                      "operationId": "listRootFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path"
                    },
                    "browse": {
                      "operationId": "listFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path",
                      "parameters": {
                        "path": {
                          "selectedItemValuePath": "path"
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "path"
              ]
            }
          }
        ],
        "description": "Share a file in Egnyte."
      }
    },
    "/api-proxy/ShareFolder": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "links": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The id of the link.",
                        "title": "Link ID"
                      },
                      "url": {
                        "type": "string",
                        "description": " The full url of the link.",
                        "title": "Link Url"
                      },
                      "recipients": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "An array of valid email addresses to which the link was sent.",
                        "title": "Recipients"
                      }
                    }
                  },
                  "description": "Links"
                },
                "path": {
                  "type": "string",
                  "description": "Full path of the shared folder.",
                  "title": "Folder Path"
                },
                "type": {
                  "type": "string",
                  "description": "The type of link, either file, folder, or upload.",
                  "title": "Type"
                },
                "accessibility": {
                  "type": "string",
                  "description": "Who a link is accessible by, one of anyone, password, domain, or recipients.",
                  "title": "Accessibility"
                },
                "notify": {
                  "type": "boolean",
                  "description": "Whether the link creator will be notified via email when link is accessed.",
                  "title": "Notify creator when accessed",
                  "enum": [
                    true,
                    false
                  ]
                },
                "link_to_current": {
                  "type": "boolean",
                  "description": "Is this current version? T or F",
                  "title": "Is referring to version",
                  "enum": [
                    true,
                    false
                  ]
                },
                "expiry_date": {
                  "type": "string",
                  "description": "Date and time of the expiration of the link.",
                  "title": "Expiry Date"
                },
                "creation_date": {
                  "type": "string",
                  "description": "Date and time of creation of the link.",
                  "title": "Creation Date"
                },
                "created_by": {
                  "type": "string",
                  "description": "Username of the user that created the link.",
                  "title": "Created by"
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "consumes": [
          "application/json"
        ],
        "summary": "Share Folder",
        "operationId": "shareFolder",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "The folder path in Egnyte, to share.",
                  "title": "Folder Path",
                  "x-ms-dynamic-values": {
                    "parameters": {
                      "isFolder": true,
                      "fileFilter": [],
                      "dataset": null
                    },
                    "capability": "file-picker",
                    "value-path": "path"
                  },
                  "x-ms-dynamic-tree": {
                    "settings": {
                      "canSelectParentNodes": true,
                      "canSelectLeafNodes": true
                    },
                    "open": {
                      "operationId": "listRootFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path"
                    },
                    "browse": {
                      "operationId": "listFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path",
                      "parameters": {
                        "path": {
                          "selectedItemValuePath": "path"
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "path"
              ]
            }
          }
        ],
        "description": "Share a folder in Egnyte."
      }
    },
    "/api-proxy/FileInfoByPath": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FileInfoResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "consumes": [
          "application/json"
        ],
        "summary": "File Info By Path",
        "operationId": "fileInfoByPath",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "The unique path to the file in Egnyte.",
                  "title": "File Path",
                  "x-ms-dynamic-values": {
                    "parameters": {
                      "isFolder": false,
                      "fileFilter": [],
                      "dataset": null
                    },
                    "capability": "file-picker",
                    "value-path": "path"
                  },
                  "x-ms-dynamic-tree": {
                    "settings": {
                      "canSelectParentNodes": false,
                      "canSelectLeafNodes": true
                    },
                    "open": {
                      "operationId": "listRootFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path"
                    },
                    "browse": {
                      "operationId": "listFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path",
                      "parameters": {
                        "path": {
                          "selectedItemValuePath": "path"
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "path"
              ]
            }
          }
        ],
        "description": "Retrieve file info using path."
      }
    },
    "/api-proxy/FolderInfoByPath": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FolderInfoResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "consumes": [
          "application/json"
        ],
        "summary": "Folder Info By Path",
        "operationId": "folderInfoByPath",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "The unique path to the folder in Egnyte.",
                  "title": "Folder Path",
                  "x-ms-dynamic-values": {
                    "parameters": {
                      "isFolder": true,
                      "fileFilter": [],
                      "dataset": null
                    },
                    "capability": "file-picker",
                    "value-path": "path"
                  },
                  "x-ms-dynamic-tree": {
                    "settings": {
                      "canSelectParentNodes": true,
                      "canSelectLeafNodes": true
                    },
                    "open": {
                      "operationId": "listRootFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path"
                    },
                    "browse": {
                      "operationId": "listFolder",
                      "itemValuePath": "path",
                      "itemTitlePath": "name",
                      "itemIsParent": "(is_folder eq true)",
                      "itemFullTitlePath": "path",
                      "parameters": {
                        "path": {
                          "selectedItemValuePath": "path"
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "path"
              ]
            }
          }
        ],
        "description": "Retrieve folder info using path."
      }
    },
    "/api-proxy/FileInfoById": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FileInfoResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "consumes": [
          "application/json"
        ],
        "summary": "File Info By Id",
        "operationId": "fileInfoById",
[...]
