{
  "swagger": "2.0",
  "info": {
    "title": "Egnyte",
    "description": "Egnyte is a service that keeps your files safe, synced, and easy to share. Connect to Egnyte to manage your files. You can perform various actions such as upload, update, get, and delete files in Egnyte.",
    "version": "1.4",
    "contact": {
      "name": "Egnyte Support",
      "url": "https://helpdesk.egnyte.com",
      "email": "support@egnyte.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://egnyte.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.egnyte.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Collaboration;Productivity"
    }
  ],
  "host": "us-partner-integrations.egnyte.com",
  "basePath": "/ms-flow/",
  "schemes": ["https"],
  "consumes": [],
  "produces": [],
  "paths": {
    "/webhook/FileLocked": {
      "x-ms-notification-content": {
        "description": "Details for Webhooks response",
        "schema": {
          "$ref": "#/definitions/FileLockWebhookResponse"
        }
      },
      "post": {
        "description": "This operation triggers a flow when a file is locked",
        "summary": "When a file is locked",
        "operationId": "fileLocked",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "callback.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "Callback"
                }
              },
              "required": ["url"]
            }
          },
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target file or folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/webhook/FileUnlocked": {
      "x-ms-notification-content": {
        "description": "Details for Webhooks response",
        "schema": {
          "$ref": "#/definitions/FileLockWebhookResponse"
        }
      },
      "post": {
        "description": "This operation triggers a flow when a file is unlocked",
        "summary": "When a file is unlocked",
        "operationId": "fileUnlocked",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "callback.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "Callback"
                }
              },
              "required": ["url"]
            }
          },
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target file or folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/webhook/FileUpdated": {
      "x-ms-notification-content": {
        "description": "Details for Webhooks response",
        "schema": {
          "type": "object",
          "properties": {
            "targetEntryId": {
              "title": "File Entry ID",
              "type": "string"
            },
            "targetGroupId": {
              "title": "File ID",
              "type": "string"
            },
            "targetPath": {
              "title": "File Path",
              "type": "string"
            }
          }
        }
      },
      "post": {
        "description": "This operation triggers a flow when a file is updated in specific Folder",
        "summary": "When a file is updated",
        "operationId": "fileUpdated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "callback.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "Callback"
                }
              },
              "required": ["url"]
            }
          },
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target file or folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/webhook/FileCreated": {
      "x-ms-notification-content": {
        "description": "Details for Webhooks response",
        "schema": {
          "type": "object",
          "properties": {
            "targetEntryId": {
              "title": "File Entry ID",
              "type": "string"
            },
            "targetGroupId": {
              "title": "File ID",
              "type": "string"
            },
            "targetPath": {
              "title": "File Path",
              "type": "string"
            }
          }
        }
      },
      "post": {
        "description": "This operation triggers a flow when a file creates in specific Folder",
        "summary": "When a file is created v2",
        "operationId": "fileCreated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "callback.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "Callback"
                }
              },
              "required": ["url"]
            }
          },
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target file or folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/webhook/ShareLinkCreated": {
      "x-ms-notification-content": {
        "description": "Details for Webhooks response",
        "schema": {
          "type": "object",
          "$ref": "#/definitions/LinkWebhookResponse"
        }
      },
      "post": {
        "description": "This operation triggers a flow when a share link is created",
        "summary": "When a share link is created",
        "operationId": "shareLinkCreated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "callback.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "Callback"
                }
              },
              "required": ["url"]
            }
          },
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/webhook/ShareLinkDeleted": {
      "x-ms-notification-content": {
        "description": "Details for Webhooks response",
        "schema": {
          "type": "object",
          "$ref": "#/definitions/LinkWebhookResponse"
        }
      },
      "post": {
        "description": "This operation triggers a flow when a share link is deleted",
        "summary": "When a share link is deleted",
        "operationId": "shareLinkDeleted",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "callback.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "Callback"
                }
              },
              "required": ["url"]
            }
          },
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Deleted"
          }
        }
      }
    },
    "/webhook/FileOrFolderPermissionChange": {
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "type": "object",
          "properties": {
            "assignee": {
              "title": "Assigner",
              "type": "string"
            },
            "assigneeId": {
              "title": "Assignee ID",
              "type": "number"
            },
            "assigner": {
              "title": "Assigner",
              "type": "string"
            },
            "assignerId": {
              "title": "Assigner ID",
              "type": "number"
            },
            "folderPath": {
              "title": "Folder Path",
              "type": "string"
            },
            "newPrivilege": {
              "title": "New Privilege",
              "type": "string"
            },
            "oldPrivilege": {
              "title": "Old Privilege",
              "type": "string"
            },
            "groupName": {
              "title": "Group Name",
              "type": "string"
            }
          }
        }
      },
      "post": {
        "description": "This operation triggers a flow when a file or a folder permissions changes",
        "summary": "When the file or folder permission changes",
        "operationId": "fileOrFolderPermissionChange",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "callback.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "Callback"
                }
              },
              "required": ["url"]
            }
          },
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/webhook/FileOrFolderMetadataChange": {
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "type": "object",
          "properties": {
            "targetPath": {
              "title": "Target Path",
              "type": "string"
            },
            "targetGroupId": {
              "title": "Target Group ID",
              "type": "string"
            },
            "namespace": {
              "title": "Namespace",
              "type": "string"
            },
            "key": {
              "title": "Key",
              "type": "string"
            },
            "action": {
              "type": "string",
              "title": "Action"
            }
          }
        }
      },
      "post": {
        "description": "This operation triggers a flow when a file or a folder metadata changes",
        "summary": "When the file or folder metadata changes",
        "operationId": "fileOrFolderMetadataChange",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "callback.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "Callback"
                }
              },
              "required": ["url"]
            }
          },
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/webhook/FolderProjectAdded": {
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/FolderProjectCommon"
        }
      },
      "post": {
        "description": "This operation triggers a flow when a project folder is created or when an existing folder is marked as a project folder",
        "summary": "When a project folder is created",
        "operationId": "folderProjectAdded",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "callback.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "Callback"
                }
              },
              "required": ["url"]
            }
          },
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/webhook/FolderProjectUnmarked": {
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/FolderProjectCommon"
        }
      },
      "post": {
        "description": "This operation triggers a flow when a folder is unmarked as a project",
        "summary": "When a folder is unmarked as a project",
        "operationId": "folderProjectUnmarked",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "callback.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "Callback"
                }
              },
              "required": ["url"]
            }
          },
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/webhook/FolderProjectUpdated": {
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "type": "object",
          "required": ["projectId", "projectRootFolderId"],
          "properties": {
            "projectId": {
              "type": "string"
            },
            "projectRootFolderId": {
              "type": "string"
            },
            "name": {
              "title": "Project Name",
              "type": "string"
            },
            "location": {
              "title": "Project Location",
              "type": "string"
            },
            "status": {
              "title": "Project Status",
              "description": "Project status (PENDING, IN PROGRESS, ON-HOLD, DONE, CANCELLED)",
              "type": "string"
            }
          }
        }
      },
      "post": {
        "description": "This operation triggers a flow when a project is updated",
        "summary": "When a project is updated",
        "operationId": "folderProjectUpdated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "callback.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "Callback"
                }
              },
              "required": ["url"]
            }
          },
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/webhook/WorkflowCreated": {
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "type": "object",
          "required": ["workflow", "firstEntity", "definitionJson"],
          "properties": {
            "workflow": {
              "type": "object",
              "required": ["id", "name", "displayId", "type", "actionStatus"],
              "properties": {
                "id": {
                  "title": "Workflow ID",
                  "type": "string"
                },
                "name": {
                  "title": "Workflow Name",
                  "type": "string"
                },
                "displayId": {
                  "title": "Workflow Display ID",
                  "type": "number"
                },
                "type": {
                  "title": "Workflow Type",
                  "type": "string"
                },
                "templateId": {
                  "title": "Workflow Template ID",
                  "type": "string"
                },
                "actionStatus": {
                  "title": "Workflow Action Status",
                  "type": "string"
                }
              }
            },
            "firstEntity": {
              "type": "object",
              "required": ["type", "filePath", "entryID", "groupID"],
              "properties": {
                "type": {
                  "title": "First Entity Type",
                  "type": "string"
                },
                "filePath": {
                  "title": "First Entity Path",
                  "type": "string"
                },
                "entryID": {
                  "title": "First Entity Entry ID",
                  "type": "string"
                },
                "groupID": {
                  "title": "First Entity Group ID",
                  "type": "string"
                }
              }
            },
            "definitionJson": {
              "title": "JSON Definition",
              "type": "string"
            }
          }
        }
      },
      "post": {
        "description": "This operation triggers a flow when a workflow is created",
        "summary": "When a workflow is created",
        "operationId": "workflowCreated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "callback.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "Callback"
                }
              },
              "required": ["url"]
            }
          },
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/webhook/WorkflowCompleted": {
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "type": "object",
          "required": [
            "workflow",
            "firstEntity",
            "completionStatusCode",
            "totalNumberOfSteps",
            "completionDate"
          ],
          "properties": {
            "workflow": {
              "type": "object",
              "required": ["id", "name", "displayId", "type", "actionStatus"],
              "properties": {
                "id": {
                  "title": "Workflow ID",
                  "type": "string"
                },
                "name": {
                  "title": "Workflow Name",
                  "type": "string"
                },
                "displayId": {
                  "title": "Workflow Display ID",
                  "type": "number"
                },
                "type": {
                  "title": "Workflow Type",
                  "type": "string"
                },
                "templateId": {
                  "title": "Workflow Template ID",
                  "type": "string"
                },
                "actionStatus": {
                  "title": "Workflow Action Status",
                  "type": "string"
                }
              }
            },
            "firstEntity": {
              "type": "object",
              "required": ["type", "filePath", "entryID", "groupID"],
              "properties": {
                "type": {
                  "title": "First Entity Type",
                  "type": "string"
                },
                "filePath": {
                  "title": "First Entity Path",
                  "type": "string"
                },
                "entryID": {
                  "title": "First Entity Entry ID",
                  "type": "string"
                },
                "groupID": {
                  "title": "First Entity Group ID",
                  "type": "string"
                }
              }
            },
            "completionStatusCode": {
              "title": "Completion Status Code",
              "type": "string"
            },
            "totalNumberOfSteps": {
              "title": "Total Number of Steps",
              "type": "number"
            },
            "completionDate": {
              "title": "Completion Date",
              "type": "number"
            }
          }
        }
      },
      "post": {
        "description": "This operation triggers a flow when a workflow is completed",
        "summary": "When a workflow is completed",
        "operationId": "workflowCompleted",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "callback.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "Callback"
                }
              },
              "required": ["url"]
            }
          },
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/webhook/WorkflowApprovalTaskApproved": {
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/WorkflowStepResponse"
        }
      },
      "post": {
        "description": "This operation triggers a flow when an approval type workflow is approved",
        "summary": "When an approval type workflow is approved",
        "operationId": "workflowApprovalTaskApproved",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "callback.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "Callback"
                }
              },
              "required": ["url"]
            }
          },
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/webhook/WorkflowApprovalTaskRejected": {
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/WorkflowStepResponse"
        }
      },
      "post": {
        "description": "This operation triggers a flow when an approval type workflow is rejected",
        "summary": "When an approval type workflow is rejected",
        "operationId": "workflowApprovalTaskRejected",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "callback.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "Callback"
                }
              },
              "required": ["url"]
            }
          },
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/webhook/GroupCreated": {
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "name": "body",
        "in": "body",
        "required": true,
        "schema": {
          "type": "object",
          "properties": {
            "user": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "title": "User ID",
                  "description": "The unique identifier of the user."
                },
                "fullName": {
                  "type": "string",
                  "title": "Full Name",
                  "description": "The full name of the user."
                },
                "userName": {
                  "type": "string",
                  "title": "Username",
                  "description": "The username of the user."
                },
                "email": {
                  "type": "string",
                  "title": "User email",
                  "description": "The email address of the user."
                }
              },
              "required": ["id", "fullName", "userName", "email"],
              "title": "User - "
            },
            "owner": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "title": "User ID",
                  "description": "The unique identifier of the user."
                },
                "fullName": {
                  "type": "string",
                  "title": "Full Name",
                  "description": "The full name of the user."
                },
                "userName": {
                  "type": "string",
                  "title": "Username",
                  "description": "The username of the user."
                },
                "email": {
                  "type": "string",
                  "title": "User email",
                  "description": "The email address of the user."
                }
              },
              "required": ["id", "fullName", "userName", "email"],
              "title": "Owner - "
            },
            "groupName": {
              "type": "string",
              "title": "Group Name",
              "description": "The name of the group."
            },
            "groupId": {
              "type": "string",
              "title": "Group ID",
              "description": "The unique identifier of the group."
            },
            "members": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GroupUser"
              },
              "title": "Members",
              "description": "The members of the group."
            }
          },
          "required": ["user", "groupName", "groupId"]
        }
      },
      "post": {
        "description": "This operation triggers a flow when a group is created",
        "summary": "When a group is created",
        "operationId": "groupCreated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "callback.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "Callback"
                }
              },
              "required": ["url"]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/webhook/GroupUpdated": {
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "type": "object",
          "properties": {
            "user": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "title": "User ID",
                  "description": "The unique identifier of the user."
                },
                "fullName": {
                  "type": "string",
                  "title": "Full Name",
                  "description": "The full name of the user."
                },
                "userName": {
                  "type": "string",
                  "title": "Username",
                  "description": "The username of the user."
                },
                "email": {
                  "type": "string",
                  "title": "User email",
                  "description": "The email address of the user."
                }
              },
              "required": ["id", "fullName", "userName", "email"],
              "title": "User -"
            },
            "owner": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "title": "User ID",
                  "description": "The unique identifier of the user."
                },
                "fullName": {
                  "type": "string",
                  "title": "Full Name",
                  "description": "The full name of the user."
                },
                "userName": {
                  "type": "string",
                  "title": "Username",
                  "description": "The username of the user."
                },
                "email": {
                  "type": "string",
                  "title": "User email",
                  "description": "The email address of the user."
                }
              },
              "required": ["id", "fullName", "userName", "email"],
              "title": "Owner -"
            },
            "groupName": {
              "type": "string",
              "title": "Group Name",
              "description": "The name of the group."
            },
            "groupId": {
              "type": "string",
              "title": "Group ID",
              "description": "The unique identifier of the group."
            },
            "action": {
              "type": "string",
              "title": "Action",
              "description": "The specific action that triggered the group update."
            },
            "members": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GroupUser"
              },
              "title": "Members",
              "description": "The members of the group."
            }
          },
          "required": ["user", "groupName", "groupId"]
        }
      },
      "post": {
        "description": "This operation triggers a flow when a group is updated",
        "summary": "When a group is updated",
        "operationId": "groupUpdated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "callback.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "Callback"
                }
              },
              "required": ["url"]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/webhook/GroupDeleted": {
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "type": "object",
          "properties": {
            "user": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "title": "User ID",
                  "description": "The unique identifier of the user."
                },
                "fullName": {
                  "type": "string",
                  "title": "Full Name",
                  "description": "The full name of the user."
                },
                "userName": {
                  "type": "string",
                  "title": "Username",
                  "description": "The username of the user."
                },
                "email": {
                  "type": "string",
                  "title": "User email",
                  "description": "The email address of the user."
                }
              },
              "required": ["id", "fullName", "userName", "email"],
              "title": "User -"
            },
            "groupName": {
              "type": "string",
              "title": "Group Name",
              "description": "The name of the group."
            },
            "groupId": {
              "type": "string",
              "title": "Group ID",
              "description": "The unique identifier of the group."
            }
          },
          "required": ["user", "groupName", "groupId"]
        }
      },
      "post": {
        "description": "This operation triggers a flow when a group is deleted",
        "summary": "When a group is deleted",
        "operationId": "groupDeleted",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "callback.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "Callback"
                }
              },
              "required": ["url"]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/webhook/{id}": {
      "delete": {
        "description": "Deletes a webhook",
        "summary": "Delete webhook",
        "operationId": "webhookDelete",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Hook being deleted",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/trigger/polling/created-files": {
      "get": {
        "consumes": [],
        "produces": ["application/json"],
        "summary": "When a file is created (properties)",
        "operationId": "pollCreatedFiles",
        "description": "This operation triggers a flow when a new file is created in a folder.",
        "x-ms-trigger": "batch",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The ID of an event.",
                    "title": "Event ID"
                  },
                  "timestamp": {
                    "type": "string",
                    "description": "The ISO-8601 formatted timestamp for when this event was recorded.",
                    "title": "Timestamp"
                  },
                  "actor": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The numeric ID of the user who performed the action.",
                    "title": "User ID"
                  },
                  "action": {
                    "type": "string",
                    "description": "The action associated with this event.",
                    "title": "Action"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "target_path": {
                        "type": "string",
                        "description": "Full path to the file.",
                        "title": "File Path"
                      },
                      "target_id": {
                        "type": "string",
                        "description": "The ID of the specific version of the file.",
                        "title": "Version ID"
                      },
                      "target_group_id": {
                        "type": "string",
                        "description": "The ID to reference the file as a whole.",
                        "title": "File ID"
                      },
                      "is_folder": {
                        "type": "boolean",
                        "description": "Whether the resource is a folder (True or False).",
                        "title": "Is Folder",
                        "enum": [true, false]
                      }
                    },
                    "description": "data"
                  },
                  "action_source": {
                    "type": "string",
                    "description": "The source of the event. For example WebUI, Mobile, etc.",
                    "title": "Action Source"
                  },
                  "object_detail": {
                    "type": "string",
                    "description": "Object Detail.",
                    "title": "Object Detail"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "x-ms-trigger-hint": "Poll created files",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        }
      }
    },
    "/trigger/polling/created-folders": {
      "get": {
        "consumes": [],
        "produces": ["application/json"],
        "summary": "When a folder is created (properties)",
        "operationId": "pollCreatedFolders",
        "description": "This operation triggers a flow when a sub-folder is created in a folder.",
        "x-ms-trigger": "batch",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The ID of an event.",
                    "title": "Event ID"
                  },
                  "timestamp": {
                    "type": "string",
                    "description": "The ISO-8601 formatted timestamp for when this event was recorded.",
                    "title": "Timestamp"
                  },
                  "actor": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The numeric ID of the user who performed the action.",
                    "title": "User ID"
                  },
                  "action": {
                    "type": "string",
                    "description": "The action associated with this event.",
                    "title": "Action"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "target_path": {
                        "type": "string",
                        "description": "The full path to the folder.",
                        "title": "Folder Path"
                      },
                      "is_folder": {
                        "type": "boolean",
                        "description": "Whether the resource is a folder. (True or False)",
                        "title": "Is Folder"
                      }
                    },
                    "description": "data"
                  },
                  "action_source": {
                    "type": "string",
                    "description": "The source of the event. For example WebUI, Mobile, etc.",
                    "title": "Action Source"
                  },
                  "object_detail": {
                    "type": "string",
                    "description": "Object Detail.",
                    "title": "Object Detail"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "x-ms-trigger-hint": "Poll created folders",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        }
      }
    },
    "/trigger/polling/deleted-files": {
      "get": {
        "consumes": [],
        "produces": ["application/json"],
        "summary": "When a file is deleted (properties)",
        "operationId": "pollDeletedFiles",
        "description": "This operation triggers a flow when a file is deleted in a folder.",
        "x-ms-trigger": "batch",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The ID of an event.",
                    "title": "Event ID"
                  },
                  "timestamp": {
                    "type": "string",
                    "description": "The ISO-8601 formatted timestamp for when this event was recorded.",
                    "title": "Timestamp"
                  },
                  "actor": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The numeric ID of the user who performed the action.",
                    "title": "User ID"
                  },
                  "action": {
                    "type": "string",
                    "description": "The action associated with this event.",
                    "title": "Action"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "target_path": {
                        "type": "string",
                        "description": "Full path to the specific file version.",
                        "title": "Version Path"
                      },
                      "target_group_id": {
                        "type": "string",
                        "description": "The ID to reference the file as a whole.",
                        "title": "File ID"
                      },
                      "is_folder": {
                        "type": "boolean",
                        "description": "Whether the resource is a folder. (True or False)",
                        "title": "Is Folder"
                      }
                    },
                    "description": "data"
                  },
                  "action_source": {
                    "type": "string",
                    "description": "The source of the event. For example WebUI, Mobile, etc.",
                    "title": "Action Source"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "x-ms-trigger-hint": "Poll deleted files",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        }
      }
    },
    "/trigger/polling/deleted-folders": {
      "get": {
        "consumes": [],
        "produces": ["application/json"],
        "summary": "When a folder is deleted (properties)",
        "operationId": "pollDeletedFolders",
        "description": "This operation triggers a flow when a sub-folder is deleted in a folder.",
        "x-ms-trigger": "batch",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The ID of an event.",
                    "title": "Event ID"
                  },
                  "timestamp": {
                    "type": "string",
                    "description": "The ISO-8601 formatted timestamp for when this event was recorded.",
                    "title": "Timestamp"
                  },
                  "actor": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The numeric ID of the user who performed the action.",
                    "title": "User ID"
                  },
                  "action": {
                    "type": "string",
                    "description": "The action associated with this event.",
                    "title": "Action"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "target_path": {
                        "type": "string",
                        "description": "Full path to the deleted folder.",
                        "title": "Folder Path"
                      },
                      "is_folder": {
                        "type": "boolean",
                        "description": "Whether the resource is a folder. (True or False)",
                        "title": "Is Folder"
                      }
                    },
                    "description": "data"
                  },
                  "action_source": {
                    "type": "string",
                    "description": "The source of the event. For example WebUI, Mobile, etc.",
                    "title": "Action Source"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "x-ms-trigger-hint": "Poll created folders",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        }
      }
    },
    "/trigger/polling/renamed-files": {
      "get": {
        "consumes": [],
        "produces": ["application/json"],
        "summary": "When a file is renamed (properties)",
        "operationId": "pollRenamedFiles",
        "description": "This operation triggers a flow when a file is renamed in a folder.",
        "x-ms-trigger": "batch",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The ID of an individual event.",
                    "title": "Event ID"
                  },
                  "timestamp": {
                    "type": "string",
                    "description": "The ISO-8601 formatted timestamp for when this event was recorded.",
                    "title": "Timestamp"
                  },
                  "actor": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The numeric ID of the user who performed the action.",
                    "title": "User ID"
                  },
                  "action": {
                    "type": "string",
                    "description": "The action associated with this event.",
                    "title": "Action"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "target_path": {
                        "type": "string",
                        "description": "Full path to the renamed file",
                        "title": "File Path"
                      },
                      "target_id": {
                        "type": "string",
                        "description": "The ID of the specific version of the file.",
                        "title": "Version ID"
                      },
                      "target_group_id": {
                        "type": "string",
                        "description": "The ID to reference the file as a whole.",
                        "title": "File ID"
                      },
                      "source_path": {
                        "type": "string",
                        "description": "Full original path to the file.",
                        "title": "Source File Path"
                      },
                      "is_folder": {
                        "type": "boolean",
                        "description": "Whether the resource is a folder. (True or False)",
                        "title": "Is Folder"
                      }
                    },
                    "description": "data"
                  },
                  "action_source": {
                    "type": "string",
                    "description": "The source of the event. For example WebUI, Mobile, etc.",
                    "title": "Action Source"
                  },
                  "object_detail": {
                    "type": "string",
                    "description": "Object Detail",
                    "title": "Object Detail"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "x-ms-trigger-hint": "Poll renamed files",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        }
      }
    },
    "/trigger/polling/renamed-folders": {
      "get": {
        "consumes": [],
        "produces": ["application/json"],
        "summary": "When a folder is renamed (properties)",
        "operationId": "pollRenamedFolders",
        "description": "This operation triggers a flow when a sub-folder is renamed in a folder.",
        "x-ms-trigger": "batch",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The ID of an individual event.",
                    "title": "Event ID"
                  },
                  "timestamp": {
                    "type": "string",
                    "description": "The ISO-8601 formatted timestamp for when this event was recorded.",
                    "title": "Timestamp"
                  },
                  "actor": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The numeric ID of the user who performed the action.",
                    "title": "User ID"
                  },
                  "action": {
                    "type": "string",
                    "description": "The action associated with this event.",
                    "title": "Action"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "target_path": {
                        "type": "string",
                        "description": "Full destination path to the folder.",
                        "title": "Folder Path"
                      },
                      "source_path": {
                        "type": "string",
                        "description": "Full original path to the folder.",
                        "title": "Source Folder Path"
                      },
                      "is_folder": {
                        "type": "boolean",
                        "description": "Whether the resource is a folder. (True or False)",
                        "title": "Is Folder"
                      }
                    },
                    "description": "data"
                  },
                  "action_source": {
                    "type": "string",
                    "description": "The source of the event. For example WebUI, Mobile, etc.",
                    "title": "Action Source"
                  },
                  "object_detail": {
                    "type": "string",
                    "description": "Object Detail",
                    "title": "Object Detail"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "x-ms-trigger-hint": "Poll renamed folders",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        }
      }
    },
    "/trigger/polling/moved-files": {
      "get": {
        "consumes": [],
        "produces": ["application/json"],
        "summary": "When a file is moved (properties)",
        "operationId": "pollMovedFiles",
        "description": "This operation triggers a flow when a file is moved in a folder.",
        "x-ms-trigger": "batch",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The ID of an individual event.",
                    "title": "Event ID"
                  },
                  "timestamp": {
                    "type": "string",
                    "description": "The ISO-8601 formatted timestamp for when this event was recorded.",
                    "title": "Timestamp"
                  },
                  "actor": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The numeric ID of the user who performed the action.",
                    "title": "User ID"
                  },
                  "action": {
                    "type": "string",
                    "description": "The action associated with this event.",
                    "title": "Action"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "target_path": {
                        "type": "string",
                        "description": "Full path to the file.",
                        "title": "File Path"
                      },
                      "target_id": {
                        "type": "string",
                        "description": "The ID of the specific version of the file.",
                        "title": "Version ID"
                      },
                      "target_group_id": {
                        "type": "string",
                        "description": "The ID to reference the file as a whole.",
                        "title": "File ID"
                      },
                      "source_path": {
                        "type": "string",
                        "description": "Full original path to the file.",
                        "title": "Source File Path"
                      },
                      "is_folder": {
                        "type": "boolean",
                        "description": "Whether the resource is a folder. (True or False)",
                        "title": "Is Folder"
                      }
                    },
                    "description": "data"
                  },
                  "action_source": {
                    "type": "string",
                    "description": "The source of the event. For example WebUI, Mobile, etc.",
                    "title": "Action Source"
                  },
                  "object_detail": {
                    "type": "string",
                    "description": "Object Detail.",
                    "title": "Object Detail"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "x-ms-trigger-hint": "Poll moved files",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        }
      }
    },
    "/trigger/polling/moved-folders": {
      "get": {
        "consumes": [],
        "produces": ["application/json"],
        "summary": "When a folder is moved (properties)",
        "operationId": "pollMovedFolders",
        "description": "This operation triggers a flow when a sub-folder is moved in a folder.",
        "x-ms-trigger": "batch",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The ID of an individual event.",
                    "title": "Event ID"
                  },
                  "timestamp": {
                    "type": "string",
                    "description": "The ISO-8601 formatted timestamp for when this event was recorded.",
                    "title": "Timestamp"
                  },
                  "actor": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The numeric ID of the user who performed the action.",
                    "title": "User ID"
                  },
                  "action": {
                    "type": "string",
                    "description": "The action associated with this event.",
                    "title": "Action"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "target_path": {
                        "type": "string",
                        "description": "Full destination path to the folder.",
                        "title": "Folder Path"
                      },
                      "source_path": {
                        "type": "string",
                        "description": "Full original path to the folder.",
                        "title": "Source Folder Path"
                      },
                      "is_folder": {
                        "type": "boolean",
                        "description": "Whether the resource is a folder. (True or False)",
                        "title": "Is Folder"
                      }
                    },
                    "description": "data"
                  },
                  "action_source": {
                    "type": "string",
                    "description": "The source of the event. For example WebUI, Mobile, etc.",
                    "title": "Action Source"
                  },
                  "object_detail": {
                    "type": "string",
                    "description": "Object Detail",
                    "title": "Object Detail"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "x-ms-trigger-hint": "Poll moved folders",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        }
      }
    },
    "/trigger/polling/copied-files": {
      "get": {
        "consumes": [],
        "produces": ["application/json"],
        "summary": "When a file is copied (properties)",
        "operationId": "pollCopiedFiles",
        "description": "This operation triggers a flow when a file is copied in a folder.",
        "x-ms-trigger": "batch",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The ID of an individual event.",
                    "title": "Event ID"
                  },
                  "timestamp": {
                    "type": "string",
                    "description": "The ISO-8601 formatted timestamp for when this event was recorded.",
                    "title": "Timestamp"
                  },
                  "actor": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The numeric ID of the user who performed the action.",
                    "title": "User ID"
                  },
                  "action": {
                    "type": "string",
                    "description": "The action associated with this event.",
                    "title": "Action"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "target_path": {
                        "type": "string",
                        "description": "Full path to the file.",
                        "title": "File Path"
                      },
                      "target_id": {
                        "type": "string",
                        "description": "The ID of the specific version of the file.",
                        "title": "Version ID"
                      },
                      "target_group_id": {
                        "type": "string",
                        "description": "The ID to reference the file as a whole.",
                        "title": "File ID"
                      },
                      "source_path": {
                        "type": "string",
                        "description": "Full original path to the file.",
                        "title": "Source File Path"
                      },
                      "source_id": {
                        "type": "string",
                        "description": "Source file specific version ID.",
                        "title": "Source File Version ID"
                      },
                      "source_group_id": {
                        "type": "string",
                        "description": "The source file ID to reference the file as a whole.",
                        "title": "Source File ID"
                      },
                      "is_folder": {
                        "type": "boolean",
                        "description": "Whether the resource is a folder. (True or False)",
                        "title": "Is Folder"
                      }
                    },
                    "description": "data"
                  },
                  "action_source": {
                    "type": "string",
                    "description": "The source of the event. For example WebUI, Mobile, etc.",
                    "title": "Action Source"
                  },
                  "object_detail": {
                    "type": "string",
                    "description": "Object Detail.",
                    "title": "Object Detail"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "FolderPath",
            "x-ms-summary": "Folder Path",
            "type": "string",
            "required": true,
            "description": "The path to the target folder.",
            "x-ms-dynamic-values": {
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "capability": "file-picker",
              "value-path": "path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "listRootFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path"
              },
              "browse": {
                "operationId": "listFolder",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemIsParent": "(is_folder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                }
              }
            }
          }
        ],
        "x-ms-trigger-hint": "Poll copied files",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        }
      }
    },
    "/trigger/polling/copied-folders": {
      "get": {
        "summary": "When a folder is copied (properties)",
        "operationId": "pollCopiedFolders",
        "description": "This operation triggers a flow when a sub-folder is copied in a folder.",
        "x-ms-trigger": "batch",
        "consumes": [],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The ID of an individual event.",
                    "title": "Event ID"
                  },
                  "timestamp": {
[...]
