{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Gravity Forms Professional",
    "description": "Connect your WordPress forms powered by Gravity Forms to the Power Platform. This is the Professional and Enterprise version, offering greater features.",
    "contact": {
      "name": "Reenhanced",
      "url": "https://www.reenhanced.com",
      "email": "support@reenhanced.com"
    }
  },
  "host": "we.buildbettersoftware.com",
  "basePath": "/gfpa",
  "schemes": ["https"],
  "consumes": [ "application/json" ],
  "produces": [ "application/json" ],
  "paths": {
    "/resources": {
      "get": {
        "tags": ["Resources"],
        "summary": "Get resources",
        "description": "Get resources",
        "x-ms-visibility": "internal",
        "operationId": "GetResources",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Resource"
              }
            }
          },
          "403": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Throttled"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/resources/forms/1": {
      "options": {
        "operationId": "FormSchema",
        "summary": "Retrieve schema for the form",
        "description": "This is where the magic happens for member objects",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "get": {
                  "type": "object"
                },
                "post": {
                  "type": "object"
                },
                "schema": {
                  "type": "object"
                },
                "delete": {
                  "type": "object"
                },
                "patch": {
                  "type": "object"
                }
              }
            }

          }
        }
      }
    },
    "/resources/forms": {
      "get": {
        "operationId": "GetForms",
        "tags": ["Forms"],
        "summary": "Get forms",
        "description": "Get a list of forms",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Form ID"
                  },
                  "title": {
                    "type": "string",
                    "description": "Form name"
                  },
                  "entries": {
                    "type": "string",
                    "description": "Number of entries"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/resources/forms/{id}": {
      "get": {
        "operationId": "GetForm",
        "tags": ["Forms"],
        "summary": "Get form",
        "description": "Get a Gravity Forms Form (Work In Progress)",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "Form ID",
            "x-ms-url-encoding": "single",
            "description": "The ID of the form to get",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "FormSchema",
                "itemValuePath": "schema"
              }
            }
          }
        }
      }
    },
    "/resources/forms/{form_id}/fields": {
      "options": {
        "operationId": "GetFormFieldsSchema",
        "summary": "Get the schema for a form's fields. Internal use only",
        "description": "Get the schema for a form's fields. Internal use only",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "in": "path",
            "name": "form_id",
            "x-ms-summary": "Form",
            "description": "Form ID",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetForms",
              "value-title": "title",
              "value-path": "id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "get": {
                  "type": "object"
                },
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "GetFormFields",
        "summary": "Get a Gravity Forms form's fields",
        "description": "Get a list of fields for a Gravity Forms form",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "description": "The ID of the form",
            "x-ms-summary": "Form ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "customFilter",
            "in": "query",
            "description": "Filter the fields by type",
            "x-ms-summary": "Filter",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "fields": {
                  "type": "array",
                  "items": {
                    "x-ms-dynamic-properties": {
                      "operationId": "GetFormFieldsSchema",
                      "itemValuePath": "schema",
                      "parameters": {
                        "form_id": {
                          "value": "1"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/resources/forms/{form_id}/fields/{id}/choices": {
      "options": {
        "operationId": "GetFieldChoicesSchema",
        "summary": "Get the schema for a field's choices. Internal use only",
        "description": "Get the schema for a field's choices. Internal use only",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "in": "path",
            "name": "form_id",
            "x-ms-summary": "Form",
            "description": "Form ID",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetForms",
              "value-title": "title",
              "value-path": "id"
            }
          },
          {
            "in": "path",
            "name": "id",
            "x-ms-summary": "Field ID",
            "x-ms-url-encoding": "single",
            "description": "Field ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "get": {
                  "type": "object"
                },
                "post": {
                  "type": "object"
                },
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "GetFieldChoices",
        "summary": "Get a Gravity Forms field's choices",
        "description": "Get a list of choices for a Gravity Forms field",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "description": "Select the form",
            "x-ms-summary": "Form",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetForms",
              "value-title": "title",
              "value-path": "id"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Select the field",
            "x-ms-summary": "Field",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetFormFields",
              "value-collection": "fields",
              "value-title": "label",
              "value-path": "id",
              "parameters": {
                "form_id": {
                  "parameter": "form_id"
                },
                "customFilter": "choices isArray"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "GetFieldChoicesSchema",
                "itemValuePath": "schema",
                "parameters": {
                  "form_id": {
                    "value": "1"
                  },
                  "id": {
                    "value": "1"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "UpdateFieldChoices",
        "summary": "Update a Gravity Forms field's choices",
        "description": "Update a list of choices for a Gravity Forms field",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "description": "Select the form",
            "x-ms-summary": "Form",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetForms",
              "value-title": "title",
              "value-path": "id"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Select the field",
            "x-ms-summary": "Field",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetFormFields",
              "value-collection": "fields",
              "value-title": "label",
              "value-path": "id",
              "parameters": {
                "form_id": {
                  "parameter": "form_id"
                },
                "customFilter": "choices isArray"
              }
            }
          },
          {
            "in": "body",
            "name": "body",
            "description": "Request body",
            "required": true,
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "GetFieldChoicesSchema",
                "itemValuePath": "post",
                "parameters": {
                  "form_id": {
                    "parameterReference": "form_id"
                  },
                  "id": {
                    "value": "1"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "GetFieldChoicesSchema",
                "itemValuePath": "schema",
                "parameters": {
                  "form_id": {
                    "parameterReference": "form_id"
                  },
                  "id": {
                    "value": "1"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/resources/feeds/schema": {
      "get": {
        "operationId": "GetFeedSchema",
        "summary": "Get the schema for a feed",
        "description": "Get the schema for a feed",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "in": "query",
            "name": "form_id",
            "description": "Select the form for this trigger",
            "x-ms-summary": "Form",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetForms",
              "value-title": "title",
              "value-path": "id"
            }
          },
          {
            "in": "query",
            "name": "triggerOn",
            "description": "Specify the trigger for this feed",
            "x-ms-summary": "Trigger",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/resources/feeds/t/entry_update": {
      "x-ms-notification-content": {
        "schema": {
          "x-ms-dynamic-properties": {
            "operationId": "GetFeedSchema",
            "itemValuePath": "schema",
            "parameters": {
              "form_id": {
                "parameterReference": "body/form_id"
              },
              "triggerOn": {
                "value": "entry_update"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "TriggerOnEntryUpdate",
        "summary": "When a new Gravity Forms entry is updated",
        "description": "Trigger a flow when an existing Gravity Forms entry is updated",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, update an existing entry for the selected form",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TriggerRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/resources/feeds/t/form_submission": {
      "x-ms-notification-content": {
        "schema": {
          "x-ms-dynamic-properties": {
            "operationId": "GetFeedSchema",
            "itemValuePath": "schema",
            "parameters": {
              "form_id": {
                "parameterReference": "body/form_id"
              },
              "triggerOn": {
                "value": "form_submission"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "TriggerOnFormSubmission",
        "summary": "When a Gravity Forms form is submitted",
        "description": "Trigger a flow when a new Gravity Forms entry is submitted",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, submit a new entry to the selected form",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TriggerRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/resources/feeds/t/entry_update_status": {
      "x-ms-notification-content": {
        "schema": {
          "x-ms-dynamic-properties": {
            "operationId": "GetFeedSchema",
            "itemValuePath": "schema",
            "parameters": {
              "form_id": {
                "parameterReference": "body/form_id"
              },
              "triggerOn": {
                "value": "entry_update_status"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "TriggerOnEntryUpdateStatus",
        "summary": "When a Gravity Forms entry status is updated",
        "description": "Trigger a flow when a Gravity Forms entry's status is updated",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, update the status of an existing entry for the selected form",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TriggerRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/resources/feeds/t/entry_delete": {
      "x-ms-notification-content": {
        "schema": {
          "x-ms-dynamic-properties": {
            "operationId": "GetFeedSchema",
            "itemValuePath": "schema",
            "parameters": {
              "form_id": {
                "parameterReference": "body/form_id"
              },
              "triggerOn": {
                "value": "entry_delete"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "TriggerOnEntryDelete",
        "summary": "When a Gravity Forms entry is deleted",
        "description": "Trigger a flow when a Gravity Forms entry is deleted",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, delete an existing entry for the selected form (not just move to trash)",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TriggerRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/resources/feeds/t/payment_action": {
      "x-ms-notification-content": {
        "schema": {
          "x-ms-dynamic-properties": {
            "operationId": "GetFeedSchema",
            "itemValuePath": "schema",
            "parameters": {
              "form_id": {
                "parameterReference": "body/form_id"
              },
              "triggerOn": {
                "value": "payment_action"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "TriggerOnPaymentAction",
        "summary": "When a payment action occurs on a Gravity Forms entry",
        "description": "Trigger a flow when a payment action occurs on a Gravity Forms entry",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, perform a payment action on an entry for the selected form",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TriggerRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/resources/feeds/t/note_added": {
      "x-ms-notification-content": {
        "schema": {
          "x-ms-dynamic-properties": {
            "operationId": "GetFeedSchema",
            "itemValuePath": "schema",
            "parameters": {
              "form_id": {
                "parameterReference": "body/form_id"
              },
              "triggerOn": {
                "value": "note_added"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "TriggerOnNoteAdded",
        "summary": "When a Gravity Forms entry gets a note",
        "description": "Trigger a flow when a Gravity Forms entry gets a note",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, add a note to an existing entry for the selected form",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TriggerRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/resources/feeds/t/entry_approval_update": {
      "x-ms-notification-content": {
        "schema": {
          "x-ms-dynamic-properties": {
            "operationId": "GetFeedSchema",
            "itemValuePath": "schema",
            "parameters": {
              "form_id": {
                "parameterReference": "body/form_id"
              },
              "triggerOn": {
                "value": "entry_approval_update"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "TriggerOnEntryEntryApprovalUpdate",
        "summary": "When a Gravity Forms entry approval is changed (GravityView)",
        "description": "Trigger a flow when a Gravity Forms entry approval is accepted/rejected/changed (GravityView)",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, make sure GravityView is installed and update the approval status of an existing entry for the selected form",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TriggerRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/resources/flows/{id}": {
      "delete": {
        "operationId": "DeleteFlow",
        "summary": "Delete a flow -- Internal usage",
        "description": "Delete a flow -- Internal usage",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "description": "Flow ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/resources/entries/query": {
      "post": {
        "operationId": "GetEntries",
        "summary": "Get Gravity Forms form entries",
        "description": "Get a list of Gravity Form entries for the selected form",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "query",
            "name": "form_id",
            "description": "Select the form that you want to get entries from",
            "x-ms-summary": "Form to get entries from",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetForms",
              "value-title": "title",
              "value-path": "id"
            }
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "GetEntryCollectionSchema",
                "itemValuePath": "get",
                "parameters": {
                  "form_id": {
                    "parameterReference": "form_id"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "entries": {
                  "type": "array",
                  "items": {
                    "x-ms-dynamic-properties": {
                      "operationId": "GetEntryCollectionSchema",
                      "itemValuePath": "schema",
                      "parameters": {
                        "form_id": {
                          "parameterReference": "form_id"
                        }
                      }
                    }
                  }
                },
                "total_entries": {
                  "type": "integer",
                  "x-ms-summary": "Total Entries",
                  "description": "Total number of entries"
                }
              }
            }
          }
        }

      }
    },
    "/resources/entries": {
      "options": {
        "operationId": "GetEntryCollectionSchema",
        "summary": "Get the schema for an entry. Internal use only",
        "description": "Get the schema for an entry. Internal use only",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "in": "query",
            "name": "form_id",
            "x-ms-summary": "Form",
            "description": "Form ID",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetForms",
              "value-title": "title",
              "value-path": "id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "get": {
                  "type": "object"
                },
                "post": {
                  "type": "object"
                },
                "schema": {
                  "type": "object"
                },
                "patch": {
                  "type": "object"
                },
                "delete": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "CreateEntry",
        "summary": "Create a Gravity Forms entry",
        "description": "Create a Gravity Forms entry",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "query",
            "name": "form_id",
            "description": "Select form",
            "x-ms-summary": "Form",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetForms",
              "value-title": "title",
              "value-path": "id"
            }
          },
          {
            "in": "body",
            "name": "body",
            "description": "Request body",
            "required": true,
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "GetEntrySchema",
                "itemValuePath": "post",
                "parameters": {
                  "form_id": {
                    "parameterReference": "form_id"
                  },
                  "id": {
                    "value": "1"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "GetEntrySchema",
                "itemValuePath": "schema",
                "parameters": {
                  "form_id": {
                    "parameterReference": "form_id"
                  },
                  "id": {
                    "value": "1"
                  }
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "CreateEntry",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/resources/entries/{id}": {
      "options": {
        "operationId": "GetEntrySchema",
        "summary": "Get the schema for an entry. Internal use only",
        "description": "Get the schema for an entry. Internal use only",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "in": "query",
            "name": "form_id",
            "x-ms-summary": "Form",
            "description": "Form ID",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetForms",
              "value-title": "title",
              "value-path": "id"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the entry",
            "x-ms-summary": "Entry ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetEntries",
              "value-title": "id",
              "value-path": "id",
              "parameters": {
                "form_id": {
                  "parameter": "form_id"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "get": {
                  "type": "object"
                },
                "post": {
                  "type": "object"
                },
                "schema": {
                  "type": "object"
                },
                "patch": {
                  "type": "object"
                },
                "put": {
                  "type": "object"
                },
                "delete": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "GetEntry",
        "summary": "Get a Gravity Forms entry",
        "description": "Get a single Gravity Forms entry containing all the fields",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "query",
            "name": "form_id",
            "description": "Select the form that you want to get entries from",
            "x-ms-summary": "Form",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetForms",
              "value-title": "title",
              "value-path": "id"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the entry",
            "x-ms-summary": "Entry ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "GetEntrySchema",
                "itemValuePath": "schema",
                "parameters": {
                  "form_id": {
                    "parameterReference": "form_id"
                  },
                  "id": {
                    "value": "1"
                  }
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "GetEntry",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "put": {
        "operationId": "UpdateEntry",
        "summary": "Update a Gravity Forms entry",
        "description": "Update a Gravity Forms entry",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "query",
            "name": "form_id",
            "description": "Select the form that you want to get entries from",
            "x-ms-summary": "Form",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetForms",
              "value-title": "title",
              "value-path": "id"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the entry",
            "x-ms-summary": "Entry ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Request body",
            "required": true,
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "GetEntrySchema",
                "itemValuePath": "put",
                "parameters": {
                  "form_id": {
                    "parameterReference": "form_id"
                  },
                  "id": {
                    "value": "1"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "GetEntrySchema",
                "itemValuePath": "post",
                "parameters": {
                  "form_id": {
                    "parameterReference": "form_id"
                  },
                  "id": {
                    "value": "1"
                  }
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "UpdateEntry",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      },
      "delete": {
        "operationId": "DeleteEntry",
        "summary": "Delete a Gravity Forms entry",
        "description": "Delete a Gravity Forms entry",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the entry",
            "x-ms-summary": "Entry ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "DeleteEntry",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/resources/validations": {
      "options": {
        "operationId": "GetValidationSchema",
        "summary": "Get the schema for a validation. Internal use only",
        "description": "Get the schema for a validation. Internal use only",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "in": "query",
            "name": "form_id",
            "x-ms-summary": "Form",
            "description": "Form ID",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetForms",
              "value-title": "title",
              "value-path": "id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "post": {
                  "type": "object"
                },
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "ValidateEntry",
        "summary": "Validate a Gravity Forms entry",
        "description": "Validate a Gravity Forms entry",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "query",
            "name": "form_id",
            "description": "Select the form that you want to get entries from",
            "x-ms-summary": "Form",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetForms",
              "value-title": "title",
              "value-path": "id"
            }
          },
          {
            "in": "body",
            "name": "body",
            "description": "Request body",
            "required": true,
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "GetValidationSchema",
                "itemValuePath": "post",
                "parameters": {
                  "form_id": {
                    "parameterReference": "form_id"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "GetValidationSchema",
                "itemValuePath": "schema",
                "parameters": {
                  "form_id": {
                    "parameterReference": "form_id"
                  }
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "ValidateEntry",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/resources/entries/{entry_id}/notes": {
      "options": {
        "operationId": "GetEntryNotesSchema",
        "summary": "Get the schema for an entry's notes. Internal use only",
        "description": "Get the schema for an entry's notes. Internal use only",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "in": "path",
            "name": "entry_id",
            "x-ms-summary": "Entry ID",
            "description": "Entry ID",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "get": {
                  "type": "object"
                },
                "post": {
                  "type": "object"
                },
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "GetEntryNotes",
        "summary": "Get a Gravity Forms entry's notes",
        "description": "Get a list of notes for a Gravity Forms entry",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "entry_id",
            "in": "path",
            "description": "The ID of the entry",
            "x-ms-summary": "Entry ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "x-ms-dynamic-properties": {
                  "operationId": "GetEntryNotesSchema",
                  "itemValuePath": "schema",
                  "parameters": {
                    "entry_id": {
                      "value": "1"
                    }
                  }
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "GetEntryNotes",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "post": {
        "operationId": "CreateEntryNote",
        "summary": "Create a note for a Gravity Forms entry",
        "description": "Create a note for a Gravity Forms entry",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "entry_id",
            "in": "path",
            "description": "The ID of the entry",
            "x-ms-summary": "Entry ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Request body",
            "required": true,
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "GetEntryNotesSchema",
                "itemValuePath": "post",
                "parameters": {
                  "entry_id": {
                    "value": "1"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "GetEntryNotesSchema",
                "itemValuePath": "schema",
                "parameters": {
                  "entry_id": {
                    "value": "1"
                  }
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "CreateEntryNote",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/resources/entries/{entry_id}/attachments": {
      "delete": {
        "operationId": "DeleteEntryAttachment",
        "summary": "Delete an attachment for a Gravity Forms entry",
        "description": "Delete an attachment for a Gravity Forms entry",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "entry_id",
            "in": "path",
            "description": "The ID of the entry",
            "x-ms-summary": "Entry ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "attachment_url",
            "in": "query",
            "description": "The URL of the attachment to delete",
            "x-ms-summary": "Attachment URL",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/resources/entries/{entry_id}/attachments/all": {
      "delete": {
        "operationId": "DeleteAllEntryAttachments",
        "summary": "Delete all attachments for a Gravity Forms entry",
        "description": "Delete all attachments for a Gravity Forms entry",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "entry_id",
            "in": "path",
            "description": "The ID of the entry",
            "x-ms-summary": "Entry ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/resources/entries/{entry_id}/attachments/download": {
      "options": {
        "operationId": "GetEntryAttachmentSchema",
        "summary": "Get the schema for an entry's attachments. Internal use only",
        "description": "Get the schema for an entry's attachments. Internal use only",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "in": "path",
            "name": "entry_id",
            "x-ms-summary": "Entry ID",
            "description": "Entry ID",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "get": {
                  "type": "object"
                },
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "DownloadEntryAttachment",
        "summary": "Download an attachment for a Gravity Forms entry",
        "description": "Download an attachment for a Gravity Forms entry",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "entry_id",
            "in": "path",
            "description": "The ID of the entry",
            "x-ms-summary": "Entry ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "attachment_url",
            "in": "query",
            "description": "The URL of the attachment to download",
            "x-ms-summary": "Attachment URL",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The attachment content",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "GetEntryAttachmentSchema",
                "itemValuePath": "schema",
                "parameters": {
                  "entry_id": {
                    "value": "1"
                  }
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "DownloadEntryAttachment",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    }
  },
  "definitions": {
    "TriggerRequestBody": {
      "type": "object",
      "required": [
        "form_id",
        "meta"
      ],
      "properties": {
        "form_id": {
          "type": "string",
          "x-ms-summary": "Form ID",
          "description": "Select the form that will trigger the flow when submitted",
          "x-ms-dynamic-values": {
            "operationId": "GetForms",
            "value-title": "title",
            "value-path": "id"
          }
        },
        "meta": {
          "type": "object",
          "description": "Metadata for the trigger",
          "x-ms-visibility": "internal",
          "required": [
            "powerAutomateUrl"
          ],
          "properties": {
            "powerAutomateUrl": {
              "type":"string",
              "x-ms-notification-url": true,
              "x-ms-visibility": "internal"
            }
          }
        }
      }
    },
    "Resource": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name"
        },
        "key": {
          "type": "string",
          "description": "Resource key"
        },
        "schema_path": {
          "type": "string",
          "description": "Resource schema path"
        }
      }
    }
  },
  "parameters": {},
  "responses": {
    "403": {
      "schema": {},
      "description": "Unauthorized"
    },
    "429": {
      "schema": {},
      "description": "Throttled"
    },
    "500": {
      "schema": {},
      "description": "Server Error"
    }
  },
  "security": [
  ],
  "securityDefinitions": {
    "secretKey": {
      "type": "apiKey",
      "in": "header",
      "name": "X-Secret-Key"
    }
  },
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.reenhanced.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.reenhanced.com/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Marketing"
    }
  ],
  "x-ms-openai-manifest": {
    "humanName": "Gravity Forms Power Automate Professional",
    "modelDescription": "This is the best way to connect WordPress forms powered by Gravity Forms to all Microsoft products through Power Automate. Gravity Forms is one of the most popular form plugins for WordPress and is preferred by millions of users around the world. Through this plugin by Reenhanced you can connect your WordPress website to Dynamics 365, SharePoint, Teams, Excel, and over 1000 other services. If you have a WordPress website and can install Gravity Forms onto it, you can use this plugin to connect your website to over 1000 different products. WordPress is the most popular website software in the world and powers over 40% of all sites on the internet.",
    "contactEmail": "support@reenhanced.com",
    "legalUrl": "https://reenhanced.com/products/gravity-forms-power-automate-pro/"
  }
}
