{
   "swagger":"2.0",
   "info":{
      "title":"Mavim iMprove",
      "description":"With the Mavim connector you are able to build a digital twin of your organization by visualizing the relationships among people, process and technology and creates a map of business operations to help you monitor change, measure impact, and make informed business decisions to help you reach your destination. Our cloud software makes use of open standards for integration with third party applications, enabling simple adoption into any company’s technology stack.",
      "contact":{
         "name":"Mavim servicedesk",
         "url":"https://my.mavim.com",
         "email":"servicedesk@mavim.com"
      },
      "version":"1.0"
   },
   "host":"api.mavimcloud.com",
   "basePath":"/topic",
   "schemes":[
      "https"
   ],
   "paths":{
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/charts":{
         "get":{
            "tags":[
               "Chart"
            ],
            "summary":"Get the Charts of the topic",
            "description":"From a specific topic requested with the topic id, a collection of charts is returned.",
            "operationId":"GetTopicCharts",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The Topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic identifier."
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/IChart"
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}":{
         "post":{
            "tags":[
               "CreateTopics"
            ],
            "summary":"Create a new topic",
            "description":"A new topic is created as a sibling after the referenced topic.",
            "operationId":"CreateTopicAfter",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The Topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic identifier."
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"The topic.",
                  "schema":{
                     "$ref":"#/definitions/CreateTopic"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/ITopic"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         },
         "delete":{
            "tags":[
               "DeleteTopics"
            ],
            "summary":"Delete a topic",
            "description":"The specific topic requested by the topic id is deleted.",
            "operationId":"DeleteTopic",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The Topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic identifier."
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/ITopic"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         },
         "get":{
            "tags":[
               "Topics"
            ],
            "summary":"Get Topic",
            "description":"Get a specific topic by the DCV indentifier.",
            "operationId":"GetTopic",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The Topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic identifier."
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/ITopic"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         },
         "patch":{
            "tags":[
               "Topics"
            ],
            "summary":"Updates the name of the topic",
            "description":"Updates the name of a specific topic.",
            "operationId":"UpdateTopic",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The Topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic identifier."
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"The topic",
                  "schema":{
                     "$ref":"#/definitions/SaveTopic"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/ITopic"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/children":{
         "post":{
            "tags":[
               "CreateTopics"
            ],
            "summary":"Create new child topic",
            "description":"A new topic is created as a child of the referenced topic.",
            "operationId":"CreateChildTopic",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The Topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic identifier."
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"The topic.",
                  "schema":{
                     "$ref":"#/definitions/CreateTopic"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/ITopic"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         },
         "get":{
            "tags":[
               "Topics"
            ],
            "summary":"Get the children of a topic",
            "description":"Get the children topics of the topic",
            "operationId":"GetTopicChildren",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The Topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic identifier."
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/ITopic"
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/fieldsets":{
         "get":{
            "tags":[
               "FieldSet"
            ],
            "summary":"Get the fields from topic",
            "description":"From a specific topic requested with the topic id, a collection of fields is returned.",
            "operationId":"GetTopicFields",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The topic identifier."
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/IField"
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/fieldsets/{fieldsetId}/{fieldId}":{
         "get":{
            "tags":[
               "FieldSet"
            ],
            "summary":"Get field from topic",
            "description":"Get a specific field by field and fieldset identifier for a specific topic.",
            "operationId":"GetFieldByDcvAndFieldsetId",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The topic identifier."
               },
               {
                  "in":"path",
                  "name":"fieldsetId",
                  "description":"The field set definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field set definition identifier."
               },
               {
                  "in":"path",
                  "name":"fieldId",
                  "description":"The field definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field definition identifier."
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/IField"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/fieldsets/{fieldsetId}/bool/{fieldId}":{
         "patch":{
            "tags":[
               "FieldSet"
            ],
            "summary":"Update boolean field from topic",
            "description":"Updates a specific boolean field by field and fieldset identifier for a specific topic.",
            "operationId":"UpdateBooleanSingleField",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The topic identifier."
               },
               {
                  "in":"path",
                  "name":"fieldsetId",
                  "description":"The field set definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field set definition identifier."
               },
               {
                  "in":"path",
                  "name":"fieldId",
                  "description":"The field definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field definition identifier."
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"The field.",
                  "schema":{
                     "$ref":"#/definitions/PatchSingleBooleanField"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/SingleBooleanField"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/fieldsets/{fieldsetId}/text/{fieldId}":{
         "patch":{
            "tags":[
               "FieldSet"
            ],
            "summary":"Update text field from topic",
            "description":"Updates a specific single value text field by field and fieldset identifier for a specific topic.",
            "operationId":"UpdateTextSingleField",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The topic identifier."
               },
               {
                  "in":"path",
                  "name":"fieldsetId",
                  "description":"The field set definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field set definition identifier."
               },
               {
                  "in":"path",
                  "name":"fieldId",
                  "description":"The field definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field definition identifier."
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"The field.",
                  "schema":{
                     "$ref":"#/definitions/PatchSingleTextField"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/SingleTextField"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/fieldsets/{fieldsetId}/multitext/{fieldId}":{
         "patch":{
            "tags":[
               "FieldSet"
            ],
            "summary":"Update multi value text field from topic",
            "description":"Updates a specific multi value text field by field and fieldset identifier for a specific topic.",
            "operationId":"UpdateTextMultiField",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The topic identifier."
               },
               {
                  "in":"path",
                  "name":"fieldsetId",
                  "description":"The field set definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field set definition identifier."
               },
               {
                  "in":"path",
                  "name":"fieldId",
                  "description":"The field definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field definition identifier."
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"The field.",
                  "schema":{
                     "$ref":"#/definitions/PatchMultiTextField"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/MultiTextField"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/fieldsets/{fieldsetId}/number/{fieldId}":{
         "patch":{
            "tags":[
               "FieldSet"
            ],
            "summary":"Update number field from topic",
            "description":"Updates a specific single value number field by field and fieldset identifier for a specific topic.",
            "operationId":"UpdateNumberSingleField",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The topic identifier."
               },
               {
                  "in":"path",
                  "name":"fieldsetId",
                  "description":"The field set definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field set definition identifier."
               },
               {
                  "in":"path",
                  "name":"fieldId",
                  "description":"The field definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field definition identifier."
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"The field.",
                  "schema":{
                     "$ref":"#/definitions/PatchSingleNumberField"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/SingleNumberField"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/fieldsets/{fieldsetId}/multinumber/{fieldId}":{
         "patch":{
            "tags":[
               "FieldSet"
            ],
            "summary":"Update multivalue number field from topic",
            "description":"Updates a specific boolean field by field and fieldset identifier for a specific topic.",
            "operationId":"UpdateNumberMultiField",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The topic identifier."
               },
               {
                  "in":"path",
                  "name":"fieldsetId",
                  "description":"The field set definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field set definition identifier."
               },
               {
                  "in":"path",
                  "name":"fieldId",
                  "description":"The field definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field definition identifier."
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"The field.",
                  "schema":{
                     "$ref":"#/definitions/PatchMultiNumberField"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/MultiNumberField"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/fieldsets/{fieldsetId}/decimal/{fieldId}":{
         "patch":{
            "tags":[
               "FieldSet"
            ],
            "summary":"Update decimal field from topic",
            "description":"Updates a specific single value decimal field by field and fieldset identifier for a specific topic.",
            "operationId":"UpdateDecimalSingleField",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The topic identifier."
               },
               {
                  "in":"path",
                  "name":"fieldsetId",
                  "description":"The field set definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field set definition identifier."
               },
               {
                  "in":"path",
                  "name":"fieldId",
                  "description":"The field definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field definition identifier."
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"The field.",
                  "schema":{
                     "$ref":"#/definitions/PatchSingleDecimalField"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/SingleDecimalField"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/fieldsets/{fieldsetId}/multidecimal/{fieldId}":{
         "patch":{
            "tags":[
               "FieldSet"
            ],
            "summary":"Update multi value decimal field from topic",
            "description":"Updates a specific multi value decimal field by field and fieldset identifier for a specific topic.",
            "operationId":"UpdateDecimalMultiField",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The topic identifier."
               },
               {
                  "in":"path",
                  "name":"fieldsetId",
                  "description":"The field set definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field set definition identifier."
               },
               {
                  "in":"path",
                  "name":"fieldId",
                  "description":"The field definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field definition identifier."
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"The field.",
                  "schema":{
                     "$ref":"#/definitions/PatchMultiDecimalField"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/MultiDecimalField"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/fieldsets/{fieldsetId}/date/{fieldId}":{
         "patch":{
            "tags":[
               "FieldSet"
            ],
            "summary":"Update date field from topic",
            "description":"Updates a specific single value date field by field and fieldset identifier for a specific topic.",
            "operationId":"UpdateDateSingleField",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The topic identifier."
               },
               {
                  "in":"path",
                  "name":"fieldsetId",
                  "description":"The field set definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field set definition identifier."
               },
               {
                  "in":"path",
                  "name":"fieldId",
                  "description":"The field definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field definition identifier."
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"The field.",
                  "schema":{
                     "$ref":"#/definitions/PatchSingleDateField"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/SingleDateField"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/fieldsets/{fieldsetId}/multidate/{fieldId}":{
         "patch":{
            "tags":[
               "FieldSet"
            ],
            "summary":"Update multi value date field from topic",
            "description":"Updates a specific multi value date field by field and fieldset identifier for a specific topic.",
            "operationId":"UpdateDateMultiField",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The topic identifier."
               },
               {
                  "in":"path",
                  "name":"fieldsetId",
                  "description":"The field set definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field set definition identifier."
               },
               {
                  "in":"path",
                  "name":"fieldId",
                  "description":"The field definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field definition identifier."
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"The field.",
                  "schema":{
                     "$ref":"#/definitions/PatchMultiDateField"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/MultiDateField"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/fieldsets/{fieldsetId}/list/{fieldId}":{
         "patch":{
            "tags":[
               "FieldSet"
            ],
            "summary":"Update list field from topic",
            "description":"Updates a specific list field by field and fieldset identifier for a specific topic.",
            "operationId":"UpdateListSingleField",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The topic identifier."
               },
               {
                  "in":"path",
                  "name":"fieldsetId",
                  "description":"The field set definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field set definition identifier."
               },
               {
                  "in":"path",
                  "name":"fieldId",
                  "description":"The field definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field definition identifier."
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"The field.",
                  "schema":{
                     "$ref":"#/definitions/PatchSingleListField"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/SingleListField"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/fieldsets/{fieldsetId}/relationship/{fieldId}":{
         "patch":{
            "tags":[
               "FieldSet"
            ],
            "summary":"Update relationship field from topic",
            "description":"Updates a specific single value relationship field by field and fieldset identifier for a specific topic.",
            "operationId":"UpdateRelationshipSingleField",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The topic identifier."
               },
               {
                  "in":"path",
                  "name":"fieldsetId",
                  "description":"The field set definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field set definition identifier."
               },
               {
                  "in":"path",
                  "name":"fieldId",
                  "description":"The field definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field definition identifier."
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"The field.",
                  "schema":{
                     "$ref":"#/definitions/PatchRelationshipField"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/RelationshipField"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/fieldsets/{fieldsetId}/multirelationship/{fieldId}":{
         "patch":{
            "tags":[
               "FieldSet"
            ],
            "summary":"Update multi value relationship field from topic",
            "description":"Updates a specific multi value relationship field by field and fieldset identifier for a specific topic.",
            "operationId":"UpdateRelationshipMultiField",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The topic identifier."
               },
               {
                  "in":"path",
                  "name":"fieldsetId",
                  "description":"The field set definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field set definition identifier."
               },
               {
                  "in":"path",
                  "name":"fieldId",
                  "description":"The field definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field definition identifier."
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"The field.",
                  "schema":{
                     "$ref":"#/definitions/PatchMultiRelationshipField"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/MultiRelationshipField"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/fieldsets/{fieldsetId}/relationshiplist/{fieldId}":{
         "patch":{
            "tags":[
               "FieldSet"
            ],
            "summary":"Update relationship list field from topic",
            "description":"Updates a specific single value relationshiplist field by field and fieldset identifier for a specific topic.",
            "operationId":"UpdateRelationshipListField",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The topic identifier."
               },
               {
                  "in":"path",
                  "name":"fieldsetId",
                  "description":"The field set definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field set definition identifier."
               },
               {
                  "in":"path",
                  "name":"fieldId",
                  "description":"The field definition identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field definition identifier."
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"The field.",
                  "schema":{
                     "$ref":"#/definitions/PatchRelationshipListField"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/RelationshipListField"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/fields":{
         "patch":{
            "tags":[
               "FieldSet"
            ],
            "summary":"Updates the fields from topic",
            "description":"Updates multiple types of fields for a specific topic.",
            "operationId":"UpdateFields",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The topic identifier."
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"The fields.",
                  "schema":{
                     "$ref":"#/definitions/Fields"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/Fields"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/fieldsets/{fieldsetId}/hyperlink/{fieldId}":{
         "patch":{
            "tags":[
               "FieldSet"
            ],
            "summary":"Updates a singlevalue hyperlink field",
            "description":"Updates a single value hyperlink field for a specific topic.",
            "operationId":"UpdateSingleHyperlinkField",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The topic identifier."
               },
               {
                  "in":"path",
                  "name":"fieldsetId",
                  "description":"The fieldset identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The fieldset identifier."
               },
               {
                  "in":"path",
                  "name":"fieldId",
                  "description":"The field identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field identifier."
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"The field.",
                  "schema":{
                     "$ref":"#/definitions/PatchSingleHyperlinkField"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/SingleHyperlinkField"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/fieldsets/{fieldsetId}/multihyperlink/{fieldId}":{
         "patch":{
            "tags":[
               "FieldSet"
            ],
            "summary":"Updates a multivalue hyperlink field",
            "description":"Updates a multi value hyperlink field for a specific topic.",
            "operationId":"UpdateMultiHyperlinkField",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The topic identifier."
               },
               {
                  "in":"path",
                  "name":"fieldsetId",
                  "description":"The fieldset identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The fieldset identifier."
               },
               {
                  "in":"path",
                  "name":"fieldId",
                  "description":"The field identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The field identifier."
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"The field.",
                  "schema":{
                     "$ref":"#/definitions/PatchMultiHyperlinkField"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/MultiHyperlinkField"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/movetotop":{
         "patch":{
            "tags":[
               "MoveTopics"
            ],
            "summary":"Move a topic to the top of the branch",
            "description":"Move a specific topic to the top of the branch.",
            "operationId":"MoveTopicToTop",
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The Topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic identifier."
               }
            ],
            "responses":{
               "200":{
                  "description":"Success"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/movetobottom":{
         "patch":{
            "tags":[
               "MoveTopics"
            ],
            "summary":"Move a topic to the bottom of the branch",
            "description":"Move a specific topic to the bottom of the branch.",
            "operationId":"MoveTopicToBottom",
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The Topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic identifier."
               }
            ],
            "responses":{
               "200":{
                  "description":"Success"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/moveup":{
         "patch":{
            "tags":[
               "MoveTopics"
            ],
            "summary":"Move a topic up in the branch",
            "description":"Move a specific topic one place up in the branch.",
            "operationId":"MoveTopicUp",
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The Topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic identifier."
               }
            ],
            "responses":{
               "200":{
                  "description":"Success"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/movedown":{
         "patch":{
            "tags":[
               "MoveTopics"
            ],
            "summary":"Move a topic down in the branch",
            "description":"Move a specific topic one place down in the branch.",
            "operationId":"MoveTopicDown",
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The Topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic identifier."
               }
            ],
            "responses":{
               "200":{
                  "description":"Success"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/movelevelup":{
         "patch":{
            "tags":[
               "MoveTopics"
            ],
            "summary":"Move a topic up in the branch",
            "description":"Move a specific topic one place up in the branch.",
            "operationId":"MoveTopicLevelUp",
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The Topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic identifier."
               }
            ],
            "responses":{
               "200":{
                  "description":"Success"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/moveleveldown":{
         "patch":{
            "tags":[
               "MoveTopics"
            ],
            "summary":"Move a topic down in the branch",
            "description":"Move a specific topic one place down in the branch.",
            "operationId":"MoveTopicLevelDown",
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The Topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic identifier."
               }
            ],
            "responses":{
               "200":{
                  "description":"Success"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/relations":{
         "get":{
            "tags":[
               "Relationships"
            ],
            "summary":"Get the Relations of the topic",
            "description":"Get the Relations of the topic supplied by topic DCV ID.",
            "operationId":"GetTopicRelations",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The Topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic identifier."
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/IRelationship"
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/relation":{
         "post":{
            "tags":[
               "Relationships"
            ],
            "summary":"Create relation",
            "description":"Creates a relation between two topics.",
            "operationId":"SaveRelation",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"The relation.",
                  "schema":{
                     "$ref":"#/definitions/SaveRelationship"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/IRelationship"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/topic/{topicId}/relation/{relationId}":{
         "delete":{
            "tags":[
               "Relationships"
            ],
            "summary":"Delete relation from topic",
            "description":"Deletes the relation by topic id and relationId.",
            "operationId":"DeleteRelation",
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               },
               {
                  "in":"path",
                  "name":"topicId",
                  "description":"The Topic identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic identifier."
               },
               {
                  "in":"path",
                  "name":"relationId",
                  "description":"The relation identifier.",
                  "required":true,
                  "type":"string",
                  "pattern":"^d\\d{1,8}c\\d{1,8}v\\d{1,8}$",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The relation identifier."
               }
            ],
            "responses":{
               "200":{
                  "description":"Success"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/root":{
         "get":{
            "tags":[
               "Topics"
            ],
            "summary":"Get the root topic",
            "description":"Get the root topic.",
            "operationId":"GetTopicRoot",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
                  "description":"The Mavim database identifier.",
                  "required":true,
                  "type":"string",
                  "format":"uuid",
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Mavim database identifier."
               },
               {
                  "in":"path",
                  "name":"dataLanguage",
                  "description":"The Topic language.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "en",
                     "nl"
                  ],
                  "x-ms-url-encoding":"single",
                  "x-ms-summary":"The Topic language."
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/ITopic"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "400":{
                  "description":"Bad Request"
               },
               "404":{
                  "description":"Not Found"
               },
               "500":{
                  "description":"Server Error"
               }
            }
         }
      },
      "/v1/{dbId}/{dataLanguage}/path/{topicId}":{
         "get":{
            "tags":[
               "Topics"
            ],
            "summary":"Get the path of the supplied topic id to the root",
            "description":"Get the all topics in the path to the root topic.",
            "operationId":"GetPathToRoot",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"path",
                  "name":"dbId",
[...]
