{
  "swagger": "2.0",
  "info": {
    "title": "Entra ID Password Reset",
    "description": "Microsoft Entra ID is an integrated cloud identity and access solution, and a leader in the market for managing directories, enabling access to applications, and protecting identities. This connector allows authorized users to reset Entra ID passwords.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    },
    "x-ms-keywords": [
      "Entra ID",
      "password",
      "reset",
      "identity"
    ]
  },
  "host": "graph.microsoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1.0/users/{id}/authentication/passwordMethods": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "The OData context.",
                  "title": "OData Context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identfier.",
                        "title": "ID"
                      },
                      "password": {
                        "type": "string",
                        "description": "The password.",
                        "title": "Password"
                      },
                      "createdDateTime": {
                        "type": "string",
                        "description": "The created date and time.",
                        "title": "Created Date Time"
                      }
                    }
                  },
                  "title": "Value"
                }
              }
            }
          }
        },
        "summary": "List password",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The user identifier or UPN.",
            "required": true,
            "type": "string"
          }
        ],
        "description": "Retrieve a list of the passwords registered to a user.",
        "operationId": "PasswordListGet",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "PasswordListGet",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/v1.0/users/{id}/authentication/methods/{passwordId}/resetPassword": {
      "post": {
        "responses": {
          "202": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "The OData context..",
                  "title": "OData Context"
                },
                "newPassword": {
                  "type": "string",
                  "description": "The new password.",
                  "title": "New Password"
                }
              }
            }
          }
        },
        "summary": "Reset password",
        "description": "Reset a user's password.",
        "operationId": "PasswordResetPost",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The user identifier or UPN.",
            "required": true,
            "type": "string"
          },
          {
            "name": "passwordId",
            "in": "path",
            "x-ms-summary": "Password ID",
            "x-ms-url-encoding": "single",
            "description": "The password identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "PasswordListGet",
              "value-path": "id",
              "value-collection": "value",
              "value-title": "id",
              "parameters": {
                "id": {
                  "parameter": "id"
                }
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "newPassword": {
                  "type": "string",
                  "description": "The new password.",
                  "title": "New Password"
                }
              }
            }
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "PasswordResetPost",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {},
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize"
    }
  },
  "security": [
    {
      "oauth2-auth": []
    }
  ],
  "tags": [],
  "x-ms-openai-manifest": {
    "humanName": "Entra ID Password Reset",
    "modelDescription": "This is a Copilot connector to allow authorized users to reset Entra ID passwords.",
    "contactEmail": "ttaylor@hitachisolutions.com"
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.microsoft.com/en-us/security/business/identity-access/microsoft-entra-id"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com/en-us/privacystatement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations"
    }
  ]
}