{
  "swagger": "2.0",
  "info": {
    "title": "Deliverea",
    "description": "Allows users to connect to Deliverea API.",
    "version": "1.0",
    "contact": {
      "name": "IFR",
      "url": "https://www.ifr.es",
      "email": "web@ifr.es"
    }
  },
  "host": "api.deliverea.com",
  "basePath": "/v3/",
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.deliverea.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.deliverea.com/en/privacy-policy"
    },
    {
      "propertyName": "Terms of service",
      "propertyValue": "https://www.deliverea.com/en/legal-notice"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Productivity"
    },
    {
      "propertyName": "Publisher",
      "propertyValue": "IFR"
    }
  ],
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/shipments": {
      "post": {
        "summary": "Create a shipment (sync flow)",
        "description": "Create a shipment (sync flow)",
        "operationId": "Shipments",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Indicates the media type (text/html or text/JSON) of the response sent to the client by the server.",
            "x-ms-summary": "Content type"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "*/*",
            "description": "Indicates the server which type of content they expect/prefer as response.",
            "x-ms-summary": "Accept"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "address": {
                      "type": "string",
                      "description": "address"
                    },
                    "city": {
                      "type": "string",
                      "description": "city"
                    },
                    "zipCode": {
                      "type": "string",
                      "description": "zipCode"
                    },
                    "countryCode": {
                      "type": "string",
                      "description": "countryCode"
                    },
                    "idNumber": {
                      "type": "string",
                      "description": "idNumber"
                    },
                    "stateCode": {
                      "type": "string",
                      "description": "stateCode"
                    },
                    "phone": {
                      "type": "string",
                      "description": "phone"
                    },
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "distributionCenterId": {
                      "type": "string",
                      "description": "distributionCenterId"
                    }
                  },
                  "description": "from"
                },
                "to": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "address": {
                      "type": "string",
                      "description": "address"
                    },
                    "city": {
                      "type": "string",
                      "description": "city"
                    },
                    "zipCode": {
                      "type": "string",
                      "description": "zipCode"
                    },
                    "countryCode": {
                      "type": "string",
                      "description": "countryCode"
                    },
                    "idNumber": {
                      "type": "string",
                      "description": "idNumber"
                    },
                    "stateCode": {
                      "type": "string",
                      "description": "stateCode"
                    },
                    "observations": {
                      "type": "string",
                      "description": "observations"
                    },
                    "phone": {
                      "type": "string",
                      "description": "phone"
                    },
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "distributionCenterId": {
                      "type": "string",
                      "description": "distributionCenterId"
                    }
                  },
                  "description": "to"
                },
                "costCenterCode": {
                  "type": "string",
                  "description": "costCenterCode"
                },
                "clientAdditionalInfo": {
                  "type": "object",
                  "properties": {
                    "category": {
                      "type": "string",
                      "description": "category"
                    }
                  },
                  "description": "clientAdditionalInfo"
                },
                "serviceAttributes": {
                  "type": "object",
                  "properties": {
                    "cashOnDelivery": {
                      "type": "string",
                      "description": "cashOnDelivery"
                    }
                  },
                  "description": "serviceAttributes"
                },
                "serviceCode": {
                  "type": "string",
                  "description": "serviceCode"
                },
                "distributionCenterId": {
                  "type": "string",
                  "description": "distributionCenterId"
                },
                "carrierCode": {
                  "type": "string",
                  "description": "carrierCode"
                },
                "clientReference": {
                  "type": "string",
                  "description": "clientReference"
                },
                "shippingDate": {
                  "type": "string",
                  "description": "shippingDate"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "totalAmount": {
                  "type": "string",
                  "description": "totalAmount"
                },
                "customs": {
                  "type": "object",
                  "properties": {
                    "invoiceId": {
                      "type": "string",
                      "description": "invoiceId"
                    }
                  },
                  "description": "customs"
                },
                "batch": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    }
                  },
                  "description": "batch"
                },
                "estimatedDate": {
                  "type": "string",
                  "description": "estimatedDate"
                },
                "parcels": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "weight": {
                        "type": "number",
                        "format": "float",
                        "description": "weight",
                        "title": ""
                      },
                      "height": {
                        "type": "number",
                        "format": "float",
                        "description": "height",
                        "title": ""
                      },
                      "width": {
                        "type": "number",
                        "format": "float",
                        "description": "width",
                        "title": ""
                      },
                      "length": {
                        "type": "number",
                        "format": "float",
                        "description": "length",
                        "title": ""
                      }
                    }
                  },
                  "description": "parcels"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/shipments/{delivereaReference}/label": {
      "get": {
        "summary": "Get shipment label",
        "description": "Get shipment label",
        "operationId": "Label",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "delivereaReference",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Deliverea reference",
            "x-ms-summary": "Deliverea reference",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Indicates the media type (text/html or text/JSON) of the response sent to the client by the server.",
            "x-ms-summary": "Content type"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "*/*",
            "description": "Indicates the server which type of content they expect/prefer as response.",
            "x-ms-summary": "Accept"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/distribution-centers": {
      "get": {
        "summary": "Get distribution centers",
        "description": "Get distribution centers",
        "operationId": "DistributionCenters",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Indicates the media type (text/html or text/JSON) of the response sent to the client by the server.",
            "x-ms-summary": "Content type"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "*/*",
            "description": "Indicates the server which type of content they expect/prefer as response.",
            "x-ms-summary": "Accept"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "address": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string"
                      },
                      "zipCode": {
                        "type": "string"
                      },
                      "countryCode": {
                        "type": "string"
                      },
                      "stateCode": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      },
                      "phone": {
                        "type": "string"
                      },
                      "active": {
                        "type": "boolean"
                      },
                      "worksAsDropPoint": {
                        "type": "boolean"
                      }
                    }
                  }
                },
                "hasMore": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/distribution-centers/{distributionCenter}/carriers": {
      "get": {
        "summary": "Get carriers from distribution center",
        "description": "Get carriers from distribution center",
        "operationId": "CarriersInDistributionCenter",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "distributionCenter",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the distribution center to query the available carriers.",
            "x-ms-summary": "Distribution center ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Indicates the media type (text/html or text/JSON) of the response sent to the client by the server.",
            "x-ms-summary": "Content type"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "*/*",
            "description": "Indicates the server which type of content they expect/prefer as response.",
            "x-ms-summary": "Accept"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "distributionCenterId": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "costCenters": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string"
                            },
                            "active": {
                              "type": "boolean"
                            },
                            "services": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "active": {
                                    "type": "boolean"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/shipments/{delivereaReference}": {
      "delete": {
        "summary": "Cancel a shipment",
        "description": "Cancel a shipment",
        "operationId": "CancelShipment",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "delivereaReference",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Deliverea reference",
            "x-ms-summary": "Deliverea reference",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "*/*",
            "description": "Indicates the media type (text/html or text/JSON) of the response sent to the client by the server.",
            "x-ms-summary": "Content type"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Indicates the server which type of content they expect/prefer as response.",
            "x-ms-summary": "Accept"
          }
        ],
        "responses": {
          "204": {
            "description": "Canceled"
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "tags": []
}