{
  "swagger": "2.0",
  "info": {
    "title": "Deliverea",
    "description": "Allows users to connect to Deliverea API.",
    "version": "1.0",
    "contact": {
      "name": "IFR",
      "url": "https://www.ifr.es",
      "email": "web@ifr.es"
    }
  },
  "host": "api.deliverea.com",
  "basePath": "/v3/",
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.deliverea.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.deliverea.com/en/privacy-policy"
    },
    {
      "propertyName": "Terms of service",
      "propertyValue": "https://www.deliverea.com/en/legal-notice"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Productivity"
    },
    {
      "propertyName": "Publisher",
      "propertyValue": "IFR"
    }
  ],
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/shipments": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "delivereaReference": {
                  "type": "string",
                  "description": "delivereaReference"
                },
                "carrierCode": {
                  "type": "string",
                  "description": "carrierCode"
                },
                "costCenterCode": {
                  "type": "string",
                  "description": "costCenterCode"
                },
                "serviceCode": {
                  "type": "string",
                  "description": "serviceCode"
                },
                "carrierReference": {
                  "type": "string",
                  "description": "carrierReference"
                },
                "batchId": {
                  "type": "string",
                  "description": "batchId"
                },
                "dormantReturn": {
                  "type": "string",
                  "description": "dormantReturn"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden (invalid/expired API key or insufficient permissions)"
          },
          "429": {
            "description": "Too Many Requests (quota exceeded or rate-limited)"
          },
          "default": {
            "description": "Unexpected error (unhandled status code)."
          }
        },
        "summary": "Create a shipment (sync flow)",
        "description": "Create a shipment (sync flow)",
        "operationId": "Shipments",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-summary": "Content-Type",
            "description": "Indicates the media type (text/html or text/JSON) of the response sent to the client by the server."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "*/*",
            "description": "Indicates the server which type of content they expect/prefer as response.",
            "x-ms-summary": "Accept"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "address": {
                      "type": "string",
                      "description": "address"
                    },
                    "city": {
                      "type": "string",
                      "description": "city"
                    },
                    "zipCode": {
                      "type": "string",
                      "description": "zipCode"
                    },
                    "countryCode": {
                      "type": "string",
                      "description": "countryCode"
                    },
                    "idNumber": {
                      "type": "string",
                      "description": "idNumber"
                    },
                    "stateCode": {
                      "type": "string",
                      "description": "stateCode"
                    },
                    "phone": {
                      "type": "string",
                      "description": "phone"
                    },
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "distributionCenterId": {
                      "type": "string",
                      "description": "distributionCenterId"
                    }
                  },
                  "description": "from"
                },
                "to": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "address": {
                      "type": "string",
                      "description": "address"
                    },
                    "city": {
                      "type": "string",
                      "description": "city"
                    },
                    "zipCode": {
                      "type": "string",
                      "description": "zipCode"
                    },
                    "countryCode": {
                      "type": "string",
                      "description": "countryCode"
                    },
                    "idNumber": {
                      "type": "string",
                      "description": "idNumber"
                    },
                    "stateCode": {
                      "type": "string",
                      "description": "stateCode"
                    },
                    "observations": {
                      "type": "string",
                      "description": "observations"
                    },
                    "phone": {
                      "type": "string",
                      "description": "phone"
                    },
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "distributionCenterId": {
                      "type": "string",
                      "description": "distributionCenterId"
                    }
                  },
                  "description": "to"
                },
                "costCenterCode": {
                  "type": "string",
                  "description": "costCenterCode",
                  "title": "",
                  "x-ms-visibility": "important"
                },
                "clientAdditionalInfo": {
                  "type": "object",
                  "properties": {
                    "category": {
                      "type": "string",
                      "description": "category"
                    }
                  },
                  "description": "clientAdditionalInfo"
                },
                "serviceCode": {
                  "type": "string",
                  "description": "serviceCode"
                },
                "distributionCenterId": {
                  "type": "string",
                  "description": "distributionCenterId"
                },
                "carrierCode": {
                  "type": "string",
                  "description": "carrierCode",
                  "title": "",
                  "x-ms-visibility": "important"
                },
                "clientReference": {
                  "type": "string",
                  "description": "clientReference",
                  "title": "",
                  "x-ms-visibility": "important"
                },
                "shippingDate": {
                  "type": "string",
                  "description": "shippingDate",
                  "title": "",
                  "x-ms-visibility": "important"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "totalAmount": {
                  "type": "string",
                  "description": "totalAmount"
                },
                "customs": {
                  "type": "object",
                  "properties": {
                    "invoiceId": {
                      "type": "string",
                      "description": "invoiceId"
                    }
                  },
                  "description": "customs"
                },
                "batch": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    }
                  },
                  "description": "batch"
                },
                "estimatedDate": {
                  "type": "string",
                  "description": "estimatedDate"
                },
                "parcels": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "weight": {
                        "type": "integer",
                        "format": "int32",
                        "description": "weight",
                        "title": "",
                        "x-ms-visibility": "important",
                        "default": 1
                      },
                      "height": {
                        "type": "integer",
                        "format": "int32",
                        "description": "height",
                        "title": "",
                        "default": 1
                      },
                      "width": {
                        "type": "integer",
                        "format": "int32",
                        "description": "width",
                        "title": "",
                        "default": 1,
                        "x-ms-visibility": "important"
                      },
                      "length": {
                        "type": "integer",
                        "format": "int32",
                        "description": "length",
                        "title": "",
                        "default": 1
                      }
                    },
                    "required": [
                      "weight",
                      "width",
                      "length",
                      "height"
                    ]
                  },
                  "description": "parcels"
                }
              },
              "required": [
                "carrierCode",
                "clientReference",
                "shippingDate",
                "parcels"
              ]
            }
          }
        ]
      }
    },
    "/shipments/{delivereaReference}/label": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "carrierCode": {
                  "type": "string",
                  "description": "carrierCode"
                },
                "delivereaReference": {
                  "type": "string",
                  "description": "delivereaReference"
                },
                "clientReference": {
                  "type": "string",
                  "description": "clientReference"
                },
                "carrierReference": {
                  "type": "string",
                  "description": "carrierReference"
                },
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "content": {
                  "type": "string",
                  "description": "content"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden (invalid/expired API key or insufficient permissions)"
          },
          "429": {
            "description": "Too Many Requests (quota exceeded or rate-limited)"
          },
          "default": {
            "description": "Unexpected error (unhandled status code)."
          }
        },
        "summary": "Get shipment label",
        "description": "Get shipment label",
        "operationId": "Label",
        "parameters": [
          {
            "name": "delivereaReference",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Deliverea reference",
            "x-ms-summary": "Deliverea reference",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Indicates the media type (text/html or text/JSON) of the response sent to the client by the server.",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "*/*",
            "x-ms-summary": "Accept",
            "description": "Indicates the server which type of content they expect/prefer as response."
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/distribution-centers": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "active": {
                        "type": "boolean",
                        "description": "active"
                      },
                      "address": {
                        "type": "string",
                        "description": "address"
                      },
                      "billingAccountId": {
                        "type": "string",
                        "description": "billingAccountId"
                      },
                      "city": {
                        "type": "string",
                        "description": "city"
                      },
                      "clientId": {
                        "type": "string",
                        "description": "clientId"
                      },
                      "countryCode": {
                        "type": "string",
                        "description": "countryCode"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "createdAt"
                      },
                      "email": {
                        "type": "string",
                        "description": "email"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "latitude": {
                        "type": "number",
                        "format": "float",
                        "description": "latitude"
                      },
                      "longitude": {
                        "type": "number",
                        "format": "float",
                        "description": "longitude"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "observations": {
                        "type": "string",
                        "description": "observations"
                      },
                      "phone": {
                        "type": "string",
                        "description": "phone"
                      },
                      "stateCode": {
                        "type": "string",
                        "description": "stateCode"
                      },
                      "timetable": {
                        "type": "object",
                        "properties": {
                          "monday": {
                            "type": "string",
                            "description": "monday"
                          },
                          "tuesday": {
                            "type": "string",
                            "description": "tuesday"
                          },
                          "wednesday": {
                            "type": "string",
                            "description": "wednesday"
                          },
                          "thursday": {
                            "type": "string",
                            "description": "thursday"
                          },
                          "friday": {
                            "type": "string",
                            "description": "friday"
                          },
                          "saturday": {
                            "type": "string",
                            "description": "saturday"
                          },
                          "sunday": {
                            "type": "string",
                            "description": "sunday"
                          },
                          "holiday": {
                            "type": "string",
                            "description": "holiday"
                          }
                        },
                        "description": "timetable"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "updatedAt"
                      },
                      "worksAsDropPoint": {
                        "type": "boolean",
                        "description": "worksAsDropPoint"
                      },
                      "zipCode": {
                        "type": "string",
                        "description": "zipCode"
                      }
                    }
                  },
                  "description": "data"
                },
                "hasMore": {
                  "type": "boolean",
                  "description": "hasMore"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden (invalid/expired API key or insufficient permissions)"
          },
          "429": {
            "description": "Too Many Requests (quota exceeded or rate-limited)"
          },
          "default": {
            "description": "Unexpected error (unhandled status code)."
          }
        },
        "summary": "Get distribution centers",
        "description": "Get distribution centers",
        "operationId": "DistributionCenters",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Indicates the media type (text/html or text/JSON) of the response sent to the client by the server.",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "*/*",
            "description": "Indicates the server which type of content they expect/prefer as response.",
            "x-ms-summary": "Accept"
          }
        ]
      }
    },
    "/distribution-centers/{distributionCenter}/carriers": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "description": "data",
                  "items": {
                    "type": "object",
                    "properties": {
                      "distributionCenterId": {
                        "type": "string",
                        "description": "distributionCenterId"
                      },
                      "code": {
                        "type": "string",
                        "description": "code"
                      },
                      "costCenters": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "description": "code"
                            },
                            "active": {
                              "type": "boolean",
                              "description": "active"
                            },
                            "services": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string",
                                    "description": "code"
                                  },
                                  "active": {
                                    "type": "boolean",
                                    "description": "active"
                                  }
                                }
                              },
                              "description": "services"
                            }
                          }
                        },
                        "description": "costCenters"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden (invalid/expired API key or insufficient permissions)"
          },
          "429": {
            "description": "Too Many Requests (quota exceeded or rate-limited)"
          },
          "default": {
            "description": "Unexpected error (unhandled status code)."
          }
        },
        "summary": "Get carriers from distribution center",
        "description": "Get carriers from distribution center",
        "operationId": "CarriersInDistributionCenter",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "distributionCenter",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Distribution center",
            "x-ms-summary": "Distribution center",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Indicates the media type (text/html or text/JSON) of the response sent to the client by the server.",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "*/*",
            "description": "Indicates the server which type of content they expect/prefer as response.",
            "x-ms-summary": "Accept"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": []
}