{
  "swagger": "2.0",
  "info": {
    "title": "ApyHub",
    "description": "ApyHub is a service utility belt that helps developers save time and boost efficiency. Included are actions for calculating the readability score of PDF or Word documents, providing insights into their ease of comprehension. Includes Flesh-Kincaid reading ease score and grade level.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.apyhub.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/extract/document/readability-score/file": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "flesh_kincaid_reading_ease": {
                      "type": "object",
                      "properties": {
                        "score": {
                          "type": "number",
                          "format": "float",
                          "description": "The score.",
                          "title": "Score"
                        },
                        "level": {
                          "type": "number",
                          "format": "float",
                          "description": "The level.",
                          "title": "Level"
                        },
                        "label": {
                          "type": "boolean",
                          "description": "Whether the ease score is greater than 70.",
                          "title": "Label"
                        },
                        "class": {
                          "type": "string",
                          "description": "The class.",
                          "title": "Class"
                        },
                        "class_label": {
                          "type": "string",
                          "description": "The full class label.",
                          "title": "Class Label"
                        }
                      },
                      "title": "Flesh-Kincaid Reading Ease"
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "paragraphs": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The paragraphs.",
                          "title": "Paragraphs"
                        },
                        "sentences": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The sentences.",
                          "title": "Sentences"
                        },
                        "words": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The words.",
                          "title": "Words"
                        },
                        "characters": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The characters.",
                          "title": "Characters"
                        },
                        "reading_time": {
                          "type": "number",
                          "format": "float",
                          "description": "The reading time in seconds.",
                          "title": "Reading Time"
                        },
                        "speaking_time": {
                          "type": "number",
                          "format": "float",
                          "description": "The speaking time in seconds.",
                          "title": "Speaking Time"
                        },
                        "avg_word_length": {
                          "type": "number",
                          "format": "float",
                          "description": "The average word length.",
                          "title": "Avg Word Length"
                        },
                        "avg_sentence_length": {
                          "type": "number",
                          "format": "float",
                          "description": "The average sentence length.",
                          "title": "Avg Sentence Length"
                        },
                        "avg_paragraph_length": {
                          "type": "number",
                          "format": "float",
                          "description": "The average paragraph length.",
                          "title": "Avg Paragraph Length"
                        }
                      },
                      "title": "Stats"
                    }
                  },
                  "title": "File"
                }
              }
            }
          }
        },
        "summary": "Get readability scores",
        "description": "Retrieve the readability score of a PDF or Word document file.",
        "operationId": "ScorePost",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "The file content.",
            "x-ms-summary": "File",
            "required": true,
            "type": "file"
          },
          {
            "name": "Content-Type",
            "in": "formData",
            "description": "The file content type.",
            "x-ms-summary": "Content Type",
            "required": true,
            "type": "string",
            "default": "application/pdf",
            "enum": [
              "application/pdf",
              "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
              "application/msword"
            ]
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "apy-token"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://apyhub.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://apyhub.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;AI"
    }
  ]
}