{
  "swagger": "2.0",
  "info": {
    "title": "WhatIsMyBrowser",
    "description": "The WhatIsMyBrowser.com service provides an easy way for your website or system to get detailed information about the technology that your visitors are using to browse your website. There are lots of uses for it, but some of the most popular ones include using this information to personalize the content and advertising on your site for each visitor, help identify \"strange\" or risky activity on your site, and to gather general demographic information about the visitors to your site.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.whatismybrowser.com",
  "basePath": "/api/v3/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/detect": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detection": {
                  "type": "object",
                  "properties": {
                    "simple_software_string": {
                      "type": "string",
                      "description": "The simple software string.",
                      "title": "Simple Software String"
                    },
                    "simple_sub_description_string": {
                      "type": "string",
                      "description": "The simple sub description string.",
                      "title": "Simple Sub Description String"
                    },
                    "simple_operating_platform_string": {
                      "type": "string",
                      "description": "The simple operating platform string.",
                      "title": "Simple Operating Platform String"
                    },
                    "software": {
                      "type": "string",
                      "description": "The software.",
                      "title": "Software"
                    },
                    "software_name": {
                      "type": "string",
                      "description": "The software name.",
                      "title": "Software Name"
                    },
                    "software_name_code": {
                      "type": "string",
                      "description": "The software name code.",
                      "title": "Software Name Code"
                    },
                    "software_version": {
                      "type": "string",
                      "description": "The software version.",
                      "title": "Software Version"
                    },
                    "software_version_full": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The software version full.",
                      "title": "Software Version Full"
                    },
                    "operating_system": {
                      "type": "string",
                      "description": "The operating system.",
                      "title": "Operating System"
                    },
                    "operating_system_name": {
                      "type": "string",
                      "description": "The operating system name.",
                      "title": "Operating System Name"
                    },
                    "operating_system_name_code": {
                      "type": "string",
                      "description": "The operating system name code.",
                      "title": "Operating System Name Code"
                    },
                    "operating_system_flavour": {
                      "type": "string",
                      "description": "The operating system flavor.",
                      "title": "Operating System Flavor"
                    },
                    "operating_system_version": {
                      "type": "string",
                      "description": "The operating system version.",
                      "title": "Operating System Version"
                    },
                    "operating_system_version_full": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The full operating system version.",
                      "title": "Operating System Version Full"
                    },
                    "operating_platform": {
                      "type": "string",
                      "description": "The operating platform.",
                      "title": "Operating Platform"
                    },
                    "operating_platform_code": {
                      "type": "string",
                      "description": "The operating platform code.",
                      "title": "Operating Platform Code"
                    },
                    "operating_platform_code_name": {
                      "type": "string",
                      "description": "The operating platform code name.",
                      "title": "Operating Platform Code Name"
                    },
                    "operating_platform_vendor_name": {
                      "type": "string",
                      "description": "The operating platform vendor name.",
                      "title": "Operating Platform Vendor Name"
                    },
                    "extra_info": {
                      "type": "object",
                      "properties": {},
                      "description": "The extra info.",
                      "title": "Extra Info"
                    },
                    "extra_info_dict": {
                      "type": "object",
                      "properties": {},
                      "description": "The extra info dictionary.",
                      "title": "Extra Info Dictionary"
                    },
                    "capabilities": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The capabilities.",
                      "title": "Capabilities"
                    },
                    "layout_engine_name": {
                      "type": "string",
                      "description": "The layout engine name.",
                      "title": "Layout Engine Name"
                    },
                    "software_type": {
                      "type": "string",
                      "description": "The software type.",
                      "title": "Software Type"
                    },
                    "software_sub_type": {
                      "type": "string",
                      "description": "The software sub type.",
                      "title": "Software Sub Type"
                    },
                    "hardware_type": {
                      "type": "string",
                      "description": "The hardware type.",
                      "title": "Hardware Type"
                    },
                    "hardware_sub_type": {
                      "type": "string",
                      "description": "The hardware sub type.",
                      "title": "Hardware Sub Type"
                    },
                    "hardware_sub_sub_type": {
                      "type": "string",
                      "description": "The hardware sub sub type.",
                      "title": "Hardware Sub Sub Type"
                    }
                  },
                  "title": "Detection"
                },
                "version_check": {
                  "type": "object",
                  "properties": {
                    "software_version_check": {
                      "type": "object",
                      "properties": {
                        "is_checkable": {
                          "type": "boolean",
                          "description": "Whether is checkable.",
                          "title": "Is Checkable"
                        },
                        "is_up_to_date": {
                          "type": "boolean",
                          "description": "Whether is up to date.",
                          "title": "Is Up To Date"
                        },
                        "latest_version": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The latest version",
                          "title": "Latest Version"
                        },
                        "download_url": {
                          "type": "string",
                          "description": "The download URL address.",
                          "title": "Download URL"
                        },
                        "update_url": {
                          "type": "string",
                          "description": "The update URL address.",
                          "title": "Update URL"
                        },
                        "release_date": {
                          "type": "string",
                          "description": "The release date.",
                          "title": "Release Date"
                        },
                        "hours_released_ago": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The hours released ago.",
                          "title": "Hours Released Ago"
                        }
                      },
                      "title": "Software Version Check"
                    }
                  },
                  "title": "Version Check"
                },
                "risks": {
                  "type": "object",
                  "properties": {
                    "user_agent_risks": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The user agent risks.",
                      "title": "User Agent Risks"
                    },
                    "client_hints_risks": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The client hints risk.",
                      "title": "Client Hints Risks"
                    }
                  },
                  "title": "Risks"
                },
                "result": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "The code.",
                      "title": "Code"
                    },
                    "message_code": {
                      "type": "string",
                      "description": "The message code.",
                      "title": "Message Code"
                    },
                    "message": {
                      "type": "string",
                      "description": "The message.",
                      "title": "Message"
                    }
                  },
                  "title": "Result"
                }
              }
            }
          }
        },
        "summary": "Detect headers",
        "description": "Retrieve a listing of data fields for the given headers.",
        "operationId": "DetectPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "headers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "value": {
                        "type": "string",
                        "description": "The value.",
                        "title": "Value"
                      }
                    }
                  },
                  "title": "Headers"
                }
              }
            }
          }
        ]
      }
    },
    "/version_numbers": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "version_data": {
                  "type": "object",
                  "properties": {
                    "software": {
                      "type": "object",
                      "properties": {
                        "firefox": {
                          "type": "object",
                          "properties": {
                            "standard": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "update_url": {
                                  "type": "string",
                                  "description": "The update URL address.",
                                  "title": "Update URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Standard"
                            },
                            "android": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "update_url": {
                                  "type": "string",
                                  "description": "The update URL address.",
                                  "title": "Update URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Android"
                            },
                            "ios": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "update_url": {
                                  "type": "string",
                                  "description": "The update URL address.",
                                  "title": "Update URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Ios"
                            }
                          },
                          "title": "Firefox"
                        },
                        "firefox-esr": {
                          "type": "object",
                          "properties": {
                            "standard": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Standard"
                            }
                          },
                          "title": "firefox-esr"
                        },
                        "opera": {
                          "type": "object",
                          "properties": {
                            "standard": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Standard"
                            },
                            "android": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Android"
                            }
                          },
                          "title": "Opera"
                        },
                        "internet-explorer": {
                          "type": "object",
                          "properties": {
                            "internet-explorer-xp": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "update_url": {
                                  "type": "string",
                                  "description": "The update URL address.",
                                  "title": "Update URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "internet-explorer-xp"
                            },
                            "internet-explorer-vista": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "update_url": {
                                  "type": "string",
                                  "description": "The update URL address.",
                                  "title": "Update URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "internet-explorer-vista"
                            },
                            "internet-explorer-windows-7": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "update_url": {
                                  "type": "string",
                                  "description": "The update URL address.",
                                  "title": "Update URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "internet-explorer-windows-7"
                            },
                            "internet-explorer-windows-8": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "update_url": {
                                  "type": "string",
                                  "description": "The update URL address.",
                                  "title": "Update URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "internet-explorer-windows-8"
                            },
                            "internet-explorer-windows-8-1": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "update_url": {
                                  "type": "string",
                                  "description": "The update URL address.",
                                  "title": "Update URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "internet-explorer-windows-8-1"
                            },
                            "internet-explorer-windows-10": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "update_url": {
                                  "type": "string",
                                  "description": "The update URL address.",
                                  "title": "Update URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "internet-explorer-windows-10"
                            },
                            "internet-explorer": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "update_url": {
                                  "type": "string",
                                  "description": "The update URL address.",
                                  "title": "Update URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "internet-explorer"
                            }
                          },
                          "title": "internet-explorer"
                        },
                        "chrome": {
                          "type": "object",
                          "properties": {
                            "windows": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "update_url": {
                                  "type": "string",
                                  "description": "The update URL address.",
                                  "title": "Update URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Windows"
                            },
                            "macos": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "update_url": {
                                  "type": "string",
                                  "description": "The update URL address.",
                                  "title": "Update URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Macos"
                            },
                            "linux": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "update_url": {
                                  "type": "string",
                                  "description": "The update URL address.",
                                  "title": "Update URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Linux"
                            },
                            "android": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "update_url": {
                                  "type": "string",
                                  "description": "The update URL address.",
                                  "title": "Update URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Android"
                            },
                            "ios": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "update_url": {
                                  "type": "string",
                                  "description": "The update URL address.",
                                  "title": "Update URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Ios"
                            }
                          },
                          "title": "Chrome"
                        },
                        "edge": {
                          "type": "object",
                          "properties": {
                            "windows": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "update_url": {
                                  "type": "string",
                                  "description": "The update URL address.",
                                  "title": "Update URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Windows"
                            },
                            "ios": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Ios"
                            },
                            "macos": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Macos"
                            },
                            "android": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Android"
                            }
                          },
                          "title": "Edge"
                        },
                        "safari": {
                          "type": "object",
                          "properties": {
                            "macos": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "update_url": {
                                  "type": "string",
                                  "description": "The update URL address.",
                                  "title": "Update URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Macos"
                            },
                            "ios": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "update_url": {
                                  "type": "string",
                                  "description": "The update URL address.",
                                  "title": "Update URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Ios"
                            }
                          },
                          "title": "Safari"
                        },
                        "vivaldi": {
                          "type": "object",
                          "properties": {
                            "standard": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Standard"
                            }
                          },
                          "title": "Vivaldi"
                        },
                        "yandex-browser": {
                          "type": "object",
                          "properties": {
                            "windows": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Windows"
                            },
                            "ios": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Ios"
                            },
                            "android": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Android"
                            },
                            "macos": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Macos"
                            }
                          },
                          "title": "yandex-browser"
                        }
                      },
                      "title": "Software"
                    },
                    "operating_system": {
                      "type": "object",
                      "properties": {
                        "chrome-os": {
                          "type": "object",
                          "properties": {
                            "standard": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "platform_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The platform version.",
                                  "title": "Platform Version"
                                },
                                "update_url": {
                                  "type": "string",
                                  "description": "The update URL address.",
                                  "title": "Update URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Standard"
                            }
                          },
                          "title": "chrome-os"
                        },
                        "macos": {
                          "type": "object",
                          "properties": {
                            "standard": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Standard"
                            }
                          },
                          "title": "Macos"
                        },
                        "ios": {
                          "type": "object",
                          "properties": {
                            "standard": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "update_url": {
                                  "type": "string",
                                  "description": "The update URL address.",
                                  "title": "Update URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Standard"
                            }
                          },
                          "title": "Ios"
                        },
                        "windows": {
                          "type": "object",
                          "properties": {
                            "standard": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "build": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The build.",
                                  "title": "Build"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Standard"
                            }
                          },
                          "title": "Windows"
                        },
                        "android": {
                          "type": "object",
                          "properties": {
                            "standard": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Standard"
                            }
                          },
                          "title": "Android"
                        }
                      },
                      "title": "Operating System"
                    },
                    "plugin": {
                      "type": "object",
                      "properties": {
                        "flash": {
                          "type": "object",
                          "properties": {
                            "standard": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "update": {
                                  "type": "string",
                                  "description": "The update.",
                                  "title": "Update"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Standard"
                            },
                            "android": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "update": {
                                  "type": "string",
                                  "description": "The update.",
                                  "title": "Update"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Android"
                            }
                          },
                          "title": "Flash"
                        },
                        "java": {
                          "type": "object",
                          "properties": {
                            "standard": {
                              "type": "object",
                              "properties": {
                                "latest_version": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The latest version.",
                                  "title": "Latest Version"
                                },
                                "update": {
                                  "type": "string",
                                  "description": "The update.",
                                  "title": "Update"
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The download URL address.",
                                  "title": "Download URL"
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "The release date.",
                                  "title": "Release Date"
                                }
                              },
                              "title": "Standard"
                            }
                          },
                          "title": "Java"
                        }
                      },
                      "title": "Plugin"
                    }
                  },
                  "title": "Version Data"
                },
                "result": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "The code.",
                      "title": "Code"
                    },
                    "message_code": {
                      "type": "string",
                      "description": "The message code.",
                      "title": "Message Code"
                    },
                    "message": {
                      "type": "string",
                      "description": "The message.",
                      "title": "Message"
                    }
                  },
                  "title": "Result"
                }
              }
            }
          }
        },
        "summary": "Get version numbers",
        "description": "Retrieves the version data for each package tracked.",
        "operationId": "VersionGet",
        "parameters": []
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-KEY"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.whatismybrowser.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.whatismybrowser.com/about/legal/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Website"
    }
  ]
}