{
  "swagger": "2.0",
  "info": {
    "title": "QuickBooks Online",
    "description": "Connect to QuickBooks Online to manage customers, vendors, invoices, bills, payments, items, and financial reports. Sync accounting data with your business applications.",
    "version": "1.0.0",
    "contact": {
      "name": "Publisher Support",
      "url": "https://github.com/microsoft/PowerPlatformConnectors"
    }
  },
  "host": "quickbooks.api.intuit.com",
  "basePath": "/v3/company",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://quickbooks.intuit.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.intuit.com/privacy/statement/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Finance;Business Management"
    }
  ],
  "paths": {
    "/{realmId}/account/{id}": {
      "get": {
        "operationId": "GetAccount",
        "summary": "Get account",
        "description": "Retrieves a specific account by ID. Returns account details including type, balance, and classification.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "$ref": "#/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "schema": {
              "type": "object",
              "properties": {
                "Account": {
                  "$ref": "#/definitions/Account"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/reports/AgedPayables": {
      "get": {
        "operationId": "GetAgedPayables",
        "summary": "Get Aged Payables report",
        "description": "Generates an Aged Payables (AP Aging) report showing outstanding vendor balances by age.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "report_date",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Report Date",
            "description": "As-of date for aging (YYYY-MM-DD)"
          },
          {
            "name": "aging_method",
            "in": "query",
            "type": "string",
            "enum": [
              "Current",
              "Report_Date"
            ],
            "required": false,
            "x-ms-summary": "Aging Method",
            "description": "How to calculate age"
          },
          {
            "name": "days_per_aging_period",
            "in": "query",
            "type": "integer",
            "required": false,
            "x-ms-summary": "Days Per Period",
            "description": "Days in each aging bucket (default 30)"
          }
        ],
        "responses": {
          "200": {
            "description": "Report generated successfully",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{realmId}/reports/AgedReceivables": {
      "get": {
        "operationId": "GetAgedReceivables",
        "summary": "Get Aged Receivables report",
        "description": "Generates an Aged Receivables (AR Aging) report showing outstanding customer balances by age.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "report_date",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Report Date",
            "description": "As-of date for aging (YYYY-MM-DD)"
          },
          {
            "name": "aging_method",
            "in": "query",
            "type": "string",
            "enum": [
              "Current",
              "Report_Date"
            ],
            "required": false,
            "x-ms-summary": "Aging Method",
            "description": "How to calculate age"
          },
          {
            "name": "days_per_aging_period",
            "in": "query",
            "type": "integer",
            "required": false,
            "x-ms-summary": "Days Per Period",
            "description": "Days in each aging bucket (default 30)"
          }
        ],
        "responses": {
          "200": {
            "description": "Report generated successfully",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{realmId}/reports/BalanceSheet": {
      "get": {
        "operationId": "GetBalanceSheet",
        "summary": "Get Balance Sheet report",
        "description": "Generates a Balance Sheet report showing assets, liabilities, and equity as of a specific date.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "start_date",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Start Date",
            "description": "Report start date (YYYY-MM-DD)"
          },
          {
            "name": "end_date",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "End Date",
            "description": "Report end date (YYYY-MM-DD)"
          },
          {
            "name": "accounting_method",
            "in": "query",
            "type": "string",
            "enum": [
              "Cash",
              "Accrual"
            ],
            "required": false,
            "x-ms-summary": "Accounting Method",
            "description": "Cash or Accrual basis"
          }
        ],
        "responses": {
          "200": {
            "description": "Report generated successfully",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{realmId}/bill/{id}": {
      "get": {
        "operationId": "GetBill",
        "summary": "Get bill",
        "description": "Retrieves a specific bill by ID. Returns full bill details including vendor, line items, due date, and balance.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "$ref": "#/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Bill retrieved successfully",
            "schema": {
              "type": "object",
              "properties": {
                "Bill": {
                  "$ref": "#/definitions/Bill"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/billpayment/{id}": {
      "get": {
        "operationId": "GetBillPayment",
        "summary": "Get bill payment",
        "description": "Retrieves a specific bill payment by ID. Returns payment details including vendor, amount, payment type, and linked bills.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "$ref": "#/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Bill payment retrieved successfully",
            "schema": {
              "type": "object",
              "properties": {
                "BillPayment": {
                  "$ref": "#/definitions/BillPayment"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/reports/CashFlow": {
      "get": {
        "operationId": "GetCashFlow",
        "summary": "Get Cash Flow report",
        "description": "Generates a Statement of Cash Flows report showing cash inflows and outflows from operations, investing, and financing.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "start_date",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Start Date",
            "description": "Report start date (YYYY-MM-DD)"
          },
          {
            "name": "end_date",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "End Date",
            "description": "Report end date (YYYY-MM-DD)"
          }
        ],
        "responses": {
          "200": {
            "description": "Report generated successfully",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{realmId}/cdc": {
      "get": {
        "operationId": "GetChanges",
        "summary": "Get changed entities (CDC)",
        "description": "Returns all entities that have been created, updated, or deleted since the specified date. Use for incremental sync operations. Maximum lookback period is 30 days.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "entities",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Entities",
            "description": "Comma-separated list of entity types (e.g., Customer,Invoice,Payment)"
          },
          {
            "name": "changedSince",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Changed Since",
            "description": "ISO 8601 datetime (e.g., 2024-01-01T00:00:00-07:00)"
          }
        ],
        "responses": {
          "200": {
            "description": "Changed entities retrieved successfully",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{realmId}/companyinfo/{id}": {
      "get": {
        "operationId": "GetCompanyInfo",
        "summary": "Get company info",
        "description": "Retrieves company information including name, address, and settings. Use the realmId as the id parameter.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "$ref": "#/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Company info retrieved successfully",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{realmId}/creditmemo/{id}": {
      "get": {
        "operationId": "GetCreditMemo",
        "summary": "Get credit memo",
        "description": "Retrieves a specific credit memo by ID. Returns details including line items, remaining credit, and linked transactions.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "$ref": "#/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Credit memo retrieved successfully",
            "schema": {
              "type": "object",
              "properties": {
                "CreditMemo": {
                  "$ref": "#/definitions/CreditMemo"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/customer/{id}": {
      "get": {
        "operationId": "GetCustomer",
        "summary": "Get customer",
        "description": "Retrieves a specific customer by their QuickBooks ID. Returns full customer details including contact info, addresses, balance, and settings.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "$ref": "#/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer retrieved successfully",
            "schema": {
              "type": "object",
              "properties": {
                "Customer": {
                  "$ref": "#/definitions/Customer"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/reports/CustomerBalance": {
      "get": {
        "operationId": "GetCustomerBalance",
        "summary": "Get Customer Balance report",
        "description": "Generates a report showing current balance for each customer.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "report_date",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Report Date",
            "description": "As-of date (YYYY-MM-DD)"
          }
        ],
        "responses": {
          "200": {
            "description": "Report generated successfully",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{realmId}/deposit/{id}": {
      "get": {
        "operationId": "GetDeposit",
        "summary": "Get deposit",
        "description": "Retrieves a specific deposit by ID.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "$ref": "#/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Deposit retrieved successfully",
            "schema": {
              "type": "object",
              "properties": {
                "Deposit": {
                  "$ref": "#/definitions/Deposit"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/employee/{id}": {
      "get": {
        "operationId": "GetEmployee",
        "summary": "Get employee",
        "description": "Retrieves a specific employee by ID.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "$ref": "#/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Employee retrieved successfully",
            "schema": {
              "type": "object",
              "properties": {
                "Employee": {
                  "$ref": "#/definitions/Employee"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/estimate/{id}": {
      "get": {
        "operationId": "GetEstimate",
        "summary": "Get estimate",
        "description": "Retrieves a specific estimate by ID. Returns full estimate details including line items, totals, status, and expiration date.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "$ref": "#/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Estimate retrieved successfully",
            "schema": {
              "type": "object",
              "properties": {
                "Estimate": {
                  "$ref": "#/definitions/Estimate"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/estimate/{id}/pdf": {
      "get": {
        "operationId": "GetEstimatePDF",
        "summary": "Download estimate PDF",
        "description": "Downloads the estimate as a PDF file using the company's estimate template.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "$ref": "#/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF file downloaded successfully",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/{realmId}/reports/GeneralLedger": {
      "get": {
        "operationId": "GetGeneralLedger",
        "summary": "Get General Ledger report",
        "description": "Generates a General Ledger report showing all transactions by account.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "start_date",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Start Date",
            "description": "Report start date (YYYY-MM-DD)"
          },
          {
            "name": "end_date",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "End Date",
            "description": "Report end date (YYYY-MM-DD)"
          },
          {
            "name": "account",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Account",
            "description": "Filter by account ID(s)"
          }
        ],
        "responses": {
          "200": {
            "description": "Report generated successfully",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{realmId}/invoice/{id}": {
      "get": {
        "operationId": "GetInvoice",
        "summary": "Get invoice",
        "description": "Retrieves a specific invoice by ID. Returns full invoice details including line items, totals, balance due, and linked transactions.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "$ref": "#/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice retrieved successfully",
            "schema": {
              "type": "object",
              "properties": {
                "Invoice": {
                  "$ref": "#/definitions/Invoice"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/invoice/{id}/pdf": {
      "get": {
        "operationId": "GetInvoicePDF",
        "summary": "Download invoice PDF",
        "description": "Downloads the invoice as a PDF file. The PDF uses the company's invoice template settings.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "$ref": "#/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF file downloaded successfully",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/{realmId}/item/{id}": {
      "get": {
        "operationId": "GetItem",
        "summary": "Get item",
        "description": "Retrieves a specific product or service item by ID. Returns full details including pricing, accounts, and inventory levels.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "$ref": "#/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Item retrieved successfully",
            "schema": {
              "type": "object",
              "properties": {
                "Item": {
                  "$ref": "#/definitions/Item"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/journalentry/{id}": {
      "get": {
        "operationId": "GetJournalEntry",
        "summary": "Get journal entry",
        "description": "Retrieves a specific journal entry by ID.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "$ref": "#/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Journal entry retrieved successfully",
            "schema": {
              "type": "object",
              "properties": {
                "JournalEntry": {
                  "$ref": "#/definitions/JournalEntry"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/payment/{id}": {
      "get": {
        "operationId": "GetPayment",
        "summary": "Get payment",
        "description": "Retrieves a specific payment by ID. Returns payment details including amount, customer, deposit account, and linked invoices.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "$ref": "#/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment retrieved successfully",
            "schema": {
              "type": "object",
              "properties": {
                "Payment": {
                  "$ref": "#/definitions/Payment"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/preferences": {
      "get": {
        "operationId": "GetPreferences",
        "summary": "Get preferences",
        "description": "Retrieves company preferences including accounting settings, sales forms, and email settings.",
        "responses": {
          "200": {
            "description": "Preferences retrieved successfully",
            "schema": {
              "type": "object"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          }
        ]
      }
    },
    "/{realmId}/reports/ProfitAndLoss": {
      "get": {
        "operationId": "GetProfitAndLoss",
        "summary": "Get Profit and Loss report",
        "description": "Generates a Profit and Loss (Income Statement) report for the specified date range. Shows revenue, expenses, and net income.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "start_date",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Start Date",
            "description": "Report start date (YYYY-MM-DD)"
          },
          {
            "name": "end_date",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "End Date",
            "description": "Report end date (YYYY-MM-DD)"
          },
          {
            "name": "accounting_method",
            "in": "query",
            "type": "string",
            "enum": [
              "Cash",
              "Accrual"
            ],
            "required": false,
            "x-ms-summary": "Accounting Method",
            "description": "Cash or Accrual basis"
          },
          {
            "name": "summarize_column_by",
            "in": "query",
            "type": "string",
            "enum": [
              "Total",
              "Month",
              "Week",
              "Quarter",
              "Year"
            ],
            "required": false,
            "x-ms-summary": "Summarize By",
            "description": "Time period for columns"
          }
        ],
        "responses": {
          "200": {
            "description": "Report generated successfully",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{realmId}/purchase/{id}": {
      "get": {
        "operationId": "GetPurchase",
        "summary": "Get purchase",
        "description": "Retrieves a specific purchase/expense by ID.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "$ref": "#/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Purchase retrieved successfully",
            "schema": {
              "type": "object",
              "properties": {
                "Purchase": {
                  "$ref": "#/definitions/Purchase"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/purchaseorder/{id}": {
      "get": {
        "operationId": "GetPurchaseOrder",
        "summary": "Get purchase order",
        "description": "Retrieves a specific purchase order by ID.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "$ref": "#/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Purchase order retrieved successfully",
            "schema": {
              "type": "object",
              "properties": {
                "PurchaseOrder": {
                  "$ref": "#/definitions/PurchaseOrder"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/refundreceipt/{id}": {
      "get": {
        "operationId": "GetRefundReceipt",
        "summary": "Get refund receipt",
        "description": "Retrieves a specific refund receipt by ID.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "$ref": "#/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Refund receipt retrieved successfully",
            "schema": {
              "type": "object",
              "properties": {
                "RefundReceipt": {
                  "$ref": "#/definitions/RefundReceipt"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/salesreceipt/{id}": {
      "get": {
        "operationId": "GetSalesReceipt",
        "summary": "Get sales receipt",
        "description": "Retrieves a specific sales receipt by ID. Returns full details including line items, payment method, and deposit account.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "$ref": "#/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Sales receipt retrieved successfully",
            "schema": {
              "type": "object",
              "properties": {
                "SalesReceipt": {
                  "$ref": "#/definitions/SalesReceipt"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/salesreceipt/{id}/pdf": {
      "get": {
        "operationId": "GetSalesReceiptPDF",
        "summary": "Download sales receipt PDF",
        "description": "Downloads the sales receipt as a PDF file.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "$ref": "#/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF file downloaded successfully",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/{realmId}/reports/TransactionList": {
      "get": {
        "operationId": "GetTransactionList",
        "summary": "Get Transaction List report",
        "description": "Generates a list of all transactions for the specified date range. Can filter by transaction type.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "start_date",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Start Date",
            "description": "Report start date (YYYY-MM-DD)"
          },
          {
            "name": "end_date",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "End Date",
            "description": "Report end date (YYYY-MM-DD)"
          },
          {
            "name": "transaction_type",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Transaction Type",
            "description": "Filter by type (e.g., Invoice, Payment)"
          }
        ],
        "responses": {
          "200": {
            "description": "Report generated successfully",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{realmId}/transfer/{id}": {
      "get": {
        "operationId": "GetTransfer",
        "summary": "Get transfer",
        "description": "Retrieves a specific transfer by ID.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "$ref": "#/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer retrieved successfully",
            "schema": {
              "type": "object",
              "properties": {
                "Transfer": {
                  "$ref": "#/definitions/Transfer"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/reports/TrialBalance": {
      "get": {
        "operationId": "GetTrialBalance",
        "summary": "Get Trial Balance report",
        "description": "Generates a Trial Balance report showing debit and credit balances for all accounts.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "start_date",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Start Date",
            "description": "Report start date (YYYY-MM-DD)"
          },
          {
            "name": "end_date",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "End Date",
            "description": "Report end date (YYYY-MM-DD)"
          }
        ],
        "responses": {
          "200": {
            "description": "Report generated successfully",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{realmId}/vendor/{id}": {
      "get": {
        "operationId": "GetVendor",
        "summary": "Get vendor",
        "description": "Retrieves a specific vendor by their QuickBooks ID. Returns full vendor details including contact info, address, balance, and 1099 status.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "$ref": "#/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Vendor retrieved successfully",
            "schema": {
              "type": "object",
              "properties": {
                "Vendor": {
                  "$ref": "#/definitions/Vendor"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/reports/VendorBalance": {
      "get": {
        "operationId": "GetVendorBalance",
        "summary": "Get Vendor Balance report",
        "description": "Generates a report showing current balance owed to each vendor.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "report_date",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Report Date",
            "description": "As-of date (YYYY-MM-DD)"
          }
        ],
        "responses": {
          "200": {
            "description": "Report generated successfully",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{realmId}/vendorcredit/{id}": {
      "get": {
        "operationId": "GetVendorCredit",
        "summary": "Get vendor credit",
        "description": "Retrieves a specific vendor credit by ID.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "$ref": "#/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Vendor credit retrieved successfully",
            "schema": {
              "type": "object",
              "properties": {
                "VendorCredit": {
                  "$ref": "#/definitions/VendorCredit"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/query": {
      "get": {
        "operationId": "Query",
        "summary": "Query entities",
        "description": "Execute SQL-like queries against QuickBooks data. Supports Customer, Vendor, Invoice, Bill, Payment, Item, Account, and more. Example: SELECT * FROM Customer WHERE Active = true MAXRESULTS 100",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Query",
            "description": "SQL-like query string (e.g., SELECT * FROM Invoice WHERE TotalAmt > '1000')"
          }
        ],
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{realmId}/batch": {
      "post": {
        "operationId": "Batch",
        "summary": "Execute batch operations",
        "description": "Execute up to 30 create, update, delete, or query operations in a single API request. Each operation in the batch is processed independently.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Batch request containing up to 30 operations",
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch executed successfully",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{realmId}/account": {
      "post": {
        "operationId": "CreateOrUpdateAccount",
        "summary": "Create or update account",
        "description": "Creates a new account or updates an existing one. To update, include Id and SyncToken in the request body.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Account data to update",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "schema": {
              "type": "object",
              "properties": {
                "Account": {
                  "$ref": "#/definitions/Account"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/bill": {
      "post": {
        "operationId": "CreateOrUpdateBill",
        "summary": "Create or update bill",
        "description": "Creates a new bill or updates an existing one. To update, include Id and SyncToken in the request body.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Bill data to update (include Id and SyncToken)",
            "schema": {
              "$ref": "#/definitions/Bill"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bill updated successfully",
            "schema": {
              "type": "object",
              "properties": {
                "Bill": {
                  "$ref": "#/definitions/Bill"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/billpayment": {
      "post": {
        "operationId": "CreateOrUpdateBillPayment",
        "summary": "Create or update billpayment",
        "description": "Creates a new billpayment or updates an existing one. To update, include Id and SyncToken in the request body.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Bill payment data to update (include Id and SyncToken)",
            "schema": {
              "$ref": "#/definitions/BillPayment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bill payment updated successfully",
            "schema": {
              "type": "object",
              "properties": {
                "BillPayment": {
                  "$ref": "#/definitions/BillPayment"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/creditmemo": {
      "post": {
        "operationId": "CreateOrUpdateCreditMemo",
        "summary": "Create or update creditmemo",
        "description": "Creates a new creditmemo or updates an existing one. To update, include Id and SyncToken in the request body.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Credit memo data to update (include Id and SyncToken)",
            "schema": {
              "$ref": "#/definitions/CreditMemo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credit memo updated successfully",
            "schema": {
              "type": "object",
              "properties": {
                "CreditMemo": {
                  "$ref": "#/definitions/CreditMemo"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/customer": {
      "post": {
        "operationId": "CreateOrUpdateCustomer",
        "summary": "Create or update customer",
        "description": "Creates a new customer or updates an existing one. To update, include Id and SyncToken in the request body.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Customer data to update (include Id and SyncToken)",
            "schema": {
              "$ref": "#/definitions/Customer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer updated successfully",
            "schema": {
              "type": "object",
              "properties": {
                "Customer": {
                  "$ref": "#/definitions/Customer"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/deposit": {
      "post": {
        "operationId": "CreateOrUpdateDeposit",
        "summary": "Create or update deposit",
        "description": "Creates a new deposit or updates an existing one. To update, include Id and SyncToken in the request body.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Deposit data to update",
            "schema": {
              "$ref": "#/definitions/Deposit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deposit updated successfully",
            "schema": {
              "type": "object",
              "properties": {
                "Deposit": {
                  "$ref": "#/definitions/Deposit"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/employee": {
      "post": {
        "operationId": "CreateOrUpdateEmployee",
        "summary": "Create or update employee",
        "description": "Creates a new employee or updates an existing one. To update, include Id and SyncToken in the request body.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Employee data to update",
            "schema": {
              "$ref": "#/definitions/Employee"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Employee updated successfully",
            "schema": {
              "type": "object",
              "properties": {
                "Employee": {
                  "$ref": "#/definitions/Employee"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/estimate": {
      "post": {
        "operationId": "CreateOrUpdateEstimate",
        "summary": "Create or update estimate",
        "description": "Creates a new estimate or updates an existing one. To update, include Id and SyncToken in the request body.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Estimate data to update (include Id and SyncToken)",
            "schema": {
              "$ref": "#/definitions/Estimate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Estimate updated successfully",
            "schema": {
              "type": "object",
              "properties": {
                "Estimate": {
                  "$ref": "#/definitions/Estimate"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/invoice": {
      "post": {
        "operationId": "CreateOrUpdateInvoice",
        "summary": "Create or update invoice",
        "description": "Creates a new invoice or updates an existing one. To update, include Id and SyncToken in the request body.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Invoice data to update (include Id and SyncToken)",
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice updated successfully",
            "schema": {
              "type": "object",
              "properties": {
                "Invoice": {
                  "$ref": "#/definitions/Invoice"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/item": {
      "post": {
        "operationId": "CreateOrUpdateItem",
        "summary": "Create or update item",
        "description": "Creates a new item or updates an existing one. To update, include Id and SyncToken in the request body.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Item data to update (include Id and SyncToken)",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Item updated successfully",
            "schema": {
              "type": "object",
              "properties": {
                "Item": {
                  "$ref": "#/definitions/Item"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/journalentry": {
      "post": {
        "operationId": "CreateOrUpdateJournalEntry",
        "summary": "Create or update journalentry",
        "description": "Creates a new journalentry or updates an existing one. To update, include Id and SyncToken in the request body.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Journal entry data to update",
            "schema": {
              "$ref": "#/definitions/JournalEntry"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Journal entry updated successfully",
            "schema": {
              "type": "object",
              "properties": {
                "JournalEntry": {
                  "$ref": "#/definitions/JournalEntry"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/payment": {
      "post": {
        "operationId": "CreateOrUpdatePayment",
        "summary": "Create or update payment",
        "description": "Creates a new payment or updates an existing one. To update, include Id and SyncToken in the request body.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Payment data to update (include Id and SyncToken)",
            "schema": {
              "$ref": "#/definitions/Payment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment updated successfully",
            "schema": {
              "type": "object",
              "properties": {
                "Payment": {
                  "$ref": "#/definitions/Payment"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/purchase": {
      "post": {
        "operationId": "CreateOrUpdatePurchase",
        "summary": "Create or update purchase",
        "description": "Creates a new purchase or updates an existing one. To update, include Id and SyncToken in the request body.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Purchase data to update",
            "schema": {
              "$ref": "#/definitions/Purchase"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Purchase updated successfully",
            "schema": {
              "type": "object",
              "properties": {
                "Purchase": {
                  "$ref": "#/definitions/Purchase"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/purchaseorder": {
      "post": {
        "operationId": "CreateOrUpdatePurchaseOrder",
        "summary": "Create or update purchaseorder",
        "description": "Creates a new purchaseorder or updates an existing one. To update, include Id and SyncToken in the request body.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Purchase order data to update",
            "schema": {
              "$ref": "#/definitions/PurchaseOrder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Purchase order updated successfully",
            "schema": {
              "type": "object",
              "properties": {
                "PurchaseOrder": {
                  "$ref": "#/definitions/PurchaseOrder"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/refundreceipt": {
      "post": {
        "operationId": "CreateOrUpdateRefundReceipt",
        "summary": "Create or update refundreceipt",
        "description": "Creates a new refundreceipt or updates an existing one. To update, include Id and SyncToken in the request body.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Refund receipt data to update",
            "schema": {
              "$ref": "#/definitions/RefundReceipt"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Refund receipt updated successfully",
            "schema": {
              "type": "object",
              "properties": {
                "RefundReceipt": {
                  "$ref": "#/definitions/RefundReceipt"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/salesreceipt": {
      "post": {
        "operationId": "CreateOrUpdateSalesReceipt",
        "summary": "Create or update salesreceipt",
        "description": "Creates a new salesreceipt or updates an existing one. To update, include Id and SyncToken in the request body.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Sales receipt data to update (include Id and SyncToken)",
            "schema": {
              "$ref": "#/definitions/SalesReceipt"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sales receipt updated successfully",
            "schema": {
              "type": "object",
              "properties": {
                "SalesReceipt": {
                  "$ref": "#/definitions/SalesReceipt"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/transfer": {
      "post": {
        "operationId": "CreateOrUpdateTransfer",
        "summary": "Create or update transfer",
        "description": "Creates a new transfer or updates an existing one. To update, include Id and SyncToken in the request body.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Transfer data to update",
            "schema": {
              "$ref": "#/definitions/Transfer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer updated successfully",
            "schema": {
              "type": "object",
              "properties": {
                "Transfer": {
                  "$ref": "#/definitions/Transfer"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/vendor": {
      "post": {
        "operationId": "CreateOrUpdateVendor",
        "summary": "Create or update vendor",
        "description": "Creates a new vendor or updates an existing one. To update, include Id and SyncToken in the request body.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Vendor data to update (include Id and SyncToken)",
            "schema": {
              "$ref": "#/definitions/Vendor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vendor updated successfully",
            "schema": {
              "type": "object",
              "properties": {
                "Vendor": {
                  "$ref": "#/definitions/Vendor"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/vendorcredit": {
      "post": {
        "operationId": "CreateOrUpdateVendorCredit",
        "summary": "Create or update vendorcredit",
        "description": "Creates a new vendorcredit or updates an existing one. To update, include Id and SyncToken in the request body.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Vendor credit data to update",
            "schema": {
              "$ref": "#/definitions/VendorCredit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vendor credit updated successfully",
            "schema": {
              "type": "object",
              "properties": {
                "VendorCredit": {
                  "$ref": "#/definitions/VendorCredit"
                },
                "time": {
                  "type": "string",
                  "x-ms-summary": "Response Time"
                }
              }
            }
          }
        }
      }
    },
    "/{realmId}/estimate/{id}/send": {
      "post": {
        "operationId": "SendEstimate",
        "summary": "Send estimate email",
        "description": "Sends the estimate to the customer via email. Uses the customer's email by default, or specify a different address.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "$ref": "#/parameters/EntityId"
          },
          {
            "name": "sendTo",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Send To Email",
            "description": "Override recipient email address (optional)"
          }
        ],
        "responses": {
          "200": {
            "description": "Estimate sent successfully",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{realmId}/invoice/{id}/send": {
      "post": {
        "operationId": "SendInvoice",
        "summary": "Send invoice email",
        "description": "Sends the invoice to the customer via email. Uses the customer's email address by default, or specify a different address with sendTo parameter.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "$ref": "#/parameters/EntityId"
          },
          {
            "name": "sendTo",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Send To Email",
            "description": "Override recipient email address (optional)"
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice sent successfully",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{realmId}/purchaseorder/{id}/send": {
      "post": {
        "operationId": "SendPurchaseOrder",
        "summary": "Send purchase order email",
        "description": "Sends the purchase order to the vendor via email.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "$ref": "#/parameters/EntityId"
          },
          {
            "name": "sendTo",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Send To Email",
            "description": "Override recipient email address (optional)"
          }
        ],
        "responses": {
          "200": {
            "description": "Purchase order sent successfully",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{realmId}/salesreceipt/{id}/send": {
      "post": {
        "operationId": "SendSalesReceipt",
        "summary": "Send sales receipt email",
        "description": "Sends the sales receipt to the customer via email.",
        "parameters": [
          {
            "$ref": "#/parameters/RealmId"
          },
          {
            "$ref": "#/parameters/EntityId"
          },
          {
            "name": "sendTo",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Send To Email",
            "description": "Override recipient email address (optional)"
          }
        ],
        "responses": {
          "200": {
            "description": "Sales receipt sent successfully",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "EntityId": {
      "name": "id",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-summary": "ID",
      "description": "The unique identifier of the entity",
      "x-ms-url-encoding": "single"
    },
    "RealmId": {
      "name": "realmId",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-summary": "Company ID",
      "description": "QuickBooks Company ID (realmId from OAuth authorization)",
      "x-ms-url-encoding": "single"
    }
  },
  "definitions": {
    "Account": {
      "type": "object",
      "description": "Chart of accounts entity",
      "properties": {
        "Id": {
          "type": "string",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "SyncToken": {
          "type": "string",
          "x-ms-summary": "Sync Token",
          "x-ms-visibility": "advanced"
        },
        "sparse": {
          "type": "boolean",
          "default": true,
          "x-ms-summary": "Partial Update",
          "x-ms-visibility": "advanced"
        },
        "Name": {
          "type": "string",
          "x-ms-visibility": "important"
        },
        "AccountType": {
          "type": "string",
          "x-ms-summary": "Account Type",
          "enum": [
            "Bank",
            "Accounts Receivable",
            "Other Current Asset",
            "Fixed Asset",
            "Other Asset",
            "Accounts Payable",
            "Credit Card",
            "Other Current Liability",
            "Long Term Liability",
            "Equity",
            "Income",
            "Cost of Goods Sold",
            "Expense",
            "Other Income",
            "Other Expense"
          ]
        },
        "AccountSubType": {
          "type": "string",
          "x-ms-summary": "Account Sub-Type",
          "description": "Sub-classification (e.g., Checking, Savings, ServiceFeeIncome)"
        },
        "Active": {
          "type": "boolean",
          "x-ms-summary": "Active"
        }
      },
      "required": [
        "Name",
        "AccountType"
      ]
    },
    "Address": {
      "type": "object",
      "description": "Physical address",
      "properties": {
        "Line1": {
          "type": "string",
          "description": "Street address line 1"
        },
        "Line2": {
          "type": "string",
          "description": "Street address line 2"
        },
        "City": {
          "type": "string",
          "description": "City"
        },
        "CountrySubDivisionCode": {
          "type": "string",
          "description": "State/Province code"
        },
        "PostalCode": {
          "type": "string",
          "description": "ZIP/Postal code"
        },
        "Country": {
          "type": "string",
          "description": "Country"
        }
      }
    },
    "Bill": {
      "type": "object",
      "description": "Bill (Accounts Payable) entity",
      "properties": {
        "Id": {
          "type": "string",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "SyncToken": {
          "type": "string",
          "x-ms-summary": "Sync Token",
          "x-ms-visibility": "advanced"
        },
        "sparse": {
          "type": "boolean",
          "default": true,
          "x-ms-summary": "Partial Update",
          "x-ms-visibility": "advanced"
        },
        "VendorRef": {
          "$ref": "#/definitions/VendorRef"
        },
        "Line": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Line"
          },
          "x-ms-visibility": "important"
        },
        "DocNumber": {
          "type": "string",
          "x-ms-summary": "Document Number"
        },
        "TxnDate": {
          "type": "string",
          "x-ms-summary": "Transaction Date",
          "x-ms-visibility": "important"
        },
        "DueDate": {
          "type": "string",
          "x-ms-summary": "Due Date",
          "x-ms-visibility": "important"
        }
      },
      "required": [
        "VendorRef",
        "Line"
      ]
    },
    "BillPayment": {
      "type": "object",
      "description": "Bill payment entity",
      "properties": {
        "Id": {
          "type": "string",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "SyncToken": {
          "type": "string",
          "x-ms-summary": "Sync Token",
          "x-ms-visibility": "advanced"
        },
        "sparse": {
          "type": "boolean",
          "default": true,
          "x-ms-summary": "Partial Update",
          "x-ms-visibility": "advanced"
        },
        "VendorRef": {
          "$ref": "#/definitions/VendorRef"
        },
        "TotalAmt": {
          "type": "number",
          "x-ms-summary": "Total Amount",
          "x-ms-visibility": "important"
        },
        "PayType": {
          "type": "string",
          "x-ms-summary": "Pay Type",
          "enum": [
            "Check",
            "CreditCard"
          ]
        },
        "TxnDate": {
          "type": "string",
          "x-ms-summary": "Transaction Date",
          "x-ms-visibility": "important"
        },
        "CheckPayment": {
          "type": "object",
          "properties": {
            "BankAccountRef": {
              "$ref": "#/definitions/Ref"
            }
          }
        },
        "CreditCardPayment": {
          "type": "object",
          "properties": {
            "CCAccountRef": {
              "$ref": "#/definitions/Ref"
            }
          }
        }
      },
      "required": [
        "VendorRef",
        "TotalAmt",
        "PayType"
      ]
    },
    "CreditMemo": {
      "type": "object",
      "description": "Credit memo entity",
      "properties": {
        "Id": {
          "type": "string",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "SyncToken": {
          "type": "string",
          "x-ms-summary": "Sync Token",
          "x-ms-visibility": "advanced"
        },
        "sparse": {
          "type": "boolean",
          "default": true,
          "x-ms-summary": "Partial Update",
          "x-ms-visibility": "advanced"
        },
        "CustomerRef": {
          "$ref": "#/definitions/CustomerRef"
        },
        "Line": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Line"
          },
          "x-ms-visibility": "important"
        },
        "DocNumber": {
          "type": "string",
          "x-ms-summary": "Document Number"
        },
        "TxnDate": {
          "type": "string",
          "x-ms-summary": "Transaction Date",
          "x-ms-visibility": "important"
        }
      },
      "required": [
        "CustomerRef",
        "Line"
      ]
    },
    "Customer": {
      "type": "object",
      "description": "Customer entity",
      "properties": {
        "Id": {
          "type": "string",
          "description": "Unique identifier (required for updates)",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "SyncToken": {
          "type": "string",
          "description": "Version token (required for updates)",
          "x-ms-summary": "Sync Token",
          "x-ms-visibility": "advanced"
        },
        "sparse": {
          "type": "boolean",
          "description": "Set true for partial updates",
          "default": true,
          "x-ms-summary": "Partial Update",
          "x-ms-visibility": "advanced"
        },
        "DisplayName": {
          "type": "string",
          "description": "Name displayed in lists",
          "x-ms-summary": "Display Name",
          "x-ms-visibility": "important"
        },
        "GivenName": {
          "type": "string",
          "description": "First name",
          "x-ms-summary": "First Name"
        },
        "FamilyName": {
          "type": "string",
          "description": "Last name",
          "x-ms-summary": "Last Name"
        },
        "CompanyName": {
          "type": "string",
          "description": "Company name",
          "x-ms-summary": "Company Name"
        },
        "PrimaryEmailAddr": {
          "type": "object",
          "properties": {
            "Address": {
              "type": "string",
              "description": "Email address"
            }
          }
        },
        "PrimaryPhone": {
          "type": "object",
          "properties": {
            "FreeFormNumber": {
              "type": "string",
              "description": "Phone number"
            }
          }
        },
        "BillAddr": {
          "$ref": "#/definitions/Address"
        },
        "ShipAddr": {
          "$ref": "#/definitions/Address"
        },
        "Active": {
          "type": "boolean",
          "description": "Is customer active",
          "x-ms-summary": "Active"
        }
      },
      "required": [
        "DisplayName"
      ]
    },
    "DeleteRequest": {
      "type": "object",
      "description": "Request to delete a transaction",
      "required": [
        "Id",
        "SyncToken"
      ],
      "properties": {
        "Id": {
          "type": "string",
          "description": "ID of the entity to delete",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "SyncToken": {
          "type": "string",
          "description": "Current SyncToken value",
          "x-ms-summary": "Sync Token",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Deposit": {
      "type": "object",
      "description": "Bank deposit entity",
      "properties": {
        "Id": {
          "type": "string",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "SyncToken": {
          "type": "string",
          "x-ms-summary": "Sync Token",
          "x-ms-visibility": "advanced"
        },
        "sparse": {
          "type": "boolean",
          "default": true,
          "x-ms-summary": "Partial Update",
          "x-ms-visibility": "advanced"
        },
        "DepositToAccountRef": {
          "$ref": "#/definitions/Ref"
        },
        "Line": {
          "type": "array",
          "items": {
            "type": "object"
          },
          "x-ms-visibility": "important"
        },
        "TxnDate": {
          "type": "string",
          "x-ms-summary": "Transaction Date",
          "x-ms-visibility": "important"
        }
      }
    },
    "Employee": {
      "type": "object",
      "description": "Employee entity",
      "properties": {
        "Id": {
          "type": "string",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "SyncToken": {
          "type": "string",
          "x-ms-summary": "Sync Token",
          "x-ms-visibility": "advanced"
        },
        "sparse": {
          "type": "boolean",
          "default": true,
          "x-ms-summary": "Partial Update",
          "x-ms-visibility": "advanced"
        },
        "DisplayName": {
          "type": "string",
          "x-ms-summary": "Display Name",
          "x-ms-visibility": "important"
        },
        "GivenName": {
          "type": "string",
          "x-ms-summary": "First Name"
        },
        "FamilyName": {
          "type": "string",
          "x-ms-summary": "Last Name"
        },
        "PrimaryPhone": {
          "type": "object",
          "properties": {
            "FreeFormNumber": {
              "type": "string"
            }
          }
        },
        "PrimaryEmailAddr": {
          "type": "object",
          "properties": {
            "Address": {
              "type": "string"
            }
          }
        },
        "Active": {
          "type": "boolean",
          "x-ms-summary": "Active"
        }
      },
      "required": [
        "DisplayName"
      ]
    },
    "Estimate": {
      "type": "object",
      "description": "Estimate/Quote entity",
      "properties": {
        "Id": {
          "type": "string",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "SyncToken": {
          "type": "string",
          "x-ms-summary": "Sync Token",
          "x-ms-visibility": "advanced"
        },
        "sparse": {
          "type": "boolean",
          "default": true,
          "x-ms-summary": "Partial Update",
          "x-ms-visibility": "advanced"
        },
        "CustomerRef": {
          "$ref": "#/definitions/CustomerRef"
        },
        "Line": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Line"
          },
          "x-ms-visibility": "important"
        },
        "DocNumber": {
          "type": "string",
          "x-ms-summary": "Document Number"
        },
        "TxnDate": {
          "type": "string",
          "x-ms-summary": "Transaction Date",
          "x-ms-visibility": "important"
        },
        "ExpirationDate": {
          "type": "string",
          "x-ms-summary": "Expiration Date"
        },
        "TxnStatus": {
          "type": "string",
          "x-ms-summary": "Status",
          "enum": [
            "Pending",
            "Accepted",
            "Closed",
            "Rejected"
          ]
        }
      },
      "required": [
        "CustomerRef",
        "Line"
      ]
    },
    "Invoice": {
      "type": "object",
      "description": "Invoice entity",
      "properties": {
        "Id": {
          "type": "string",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "SyncToken": {
          "type": "string",
          "x-ms-summary": "Sync Token",
          "x-ms-visibility": "advanced"
        },
        "sparse": {
          "type": "boolean",
          "default": true,
          "x-ms-summary": "Partial Update",
          "x-ms-visibility": "advanced"
        },
        "CustomerRef": {
          "$ref": "#/definitions/CustomerRef"
        },
        "Line": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Line"
          },
          "description": "Line items",
          "x-ms-visibility": "important"
        },
        "DocNumber": {
          "type": "string",
          "description": "Invoice number",
          "x-ms-summary": "Invoice #"
        },
        "TxnDate": {
          "type": "string",
          "description": "Transaction date",
          "x-ms-summary": "Date",
          "x-ms-visibility": "important"
        },
        "DueDate": {
          "type": "string",
          "description": "Payment due date",
          "x-ms-summary": "Due Date",
          "x-ms-visibility": "important"
        },
        "BillEmail": {
          "type": "object",
          "properties": {
            "Address": {
              "type": "string"
            }
          }
        },
        "BillAddr": {
          "$ref": "#/definitions/Address"
        },
        "ShipAddr": {
          "$ref": "#/definitions/Address"
        }
      },
      "required": [
        "CustomerRef",
        "Line"
      ]
    },
    "Item": {
      "type": "object",
      "description": "Product/Service item entity",
      "properties": {
        "Id": {
          "type": "string",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "SyncToken": {
          "type": "string",
          "x-ms-summary": "Sync Token",
          "x-ms-visibility": "advanced"
        },
        "sparse": {
          "type": "boolean",
          "default": true,
          "x-ms-summary": "Partial Update",
          "x-ms-visibility": "advanced"
        },
        "Name": {
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "important"
        },
        "Type": {
          "type": "string",
          "x-ms-summary": "Item Type",
          "enum": [
            "Inventory",
            "Service",
            "NonInventory",
            "Group",
            "Category"
          ]
        },
        "UnitPrice": {
          "type": "number",
          "description": "Sales price",
          "x-ms-summary": "Unit Price"
        },
        "PurchaseCost": {
          "type": "number",
          "description": "Cost",
          "x-ms-summary": "Purchase Cost"
        },
        "IncomeAccountRef": {
          "$ref": "#/definitions/Ref"
        },
        "ExpenseAccountRef": {
          "$ref": "#/definitions/Ref"
        },
        "AssetAccountRef": {
          "$ref": "#/definitions/Ref"
        },
        "Active": {
          "type": "boolean",
          "x-ms-summary": "Active"
        }
      },
      "required": [
        "Name"
      ]
    },
    "JournalEntry": {
      "type": "object",
      "description": "Journal entry entity",
      "properties": {
        "Id": {
          "type": "string",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "SyncToken": {
          "type": "string",
          "x-ms-summary": "Sync Token",
          "x-ms-visibility": "advanced"
        },
        "sparse": {
          "type": "boolean",
          "default": true,
          "x-ms-summary": "Partial Update",
          "x-ms-visibility": "advanced"
        },
        "Line": {
          "type": "array",
          "items": {
            "type": "object"
          },
          "description": "Debit and credit lines",
          "x-ms-visibility": "important"
        },
        "DocNumber": {
          "type": "string",
          "x-ms-summary": "Document Number"
        },
        "TxnDate": {
          "type": "string",
          "x-ms-summary": "Transaction Date",
          "x-ms-visibility": "important"
        }
      },
      "required": [
        "Line"
      ]
    },
    "Line": {
      "type": "object",
      "description": "Transaction line item",
      "properties": {
        "Id": {
          "type": "string",
          "description": "Line ID",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "Amount": {
          "type": "number",
          "description": "Line amount"
        },
        "Description": {
          "type": "string",
          "description": "Line description"
        },
        "DetailType": {
          "type": "string",
          "description": "Type of line detail (SalesItemLineDetail, AccountBasedExpenseLineDetail, etc.)"
        },
        "SalesItemLineDetail": {
          "type": "object",
          "properties": {
            "ItemRef": {
              "$ref": "#/definitions/Ref"
            },
            "Qty": {
              "type": "number",
              "description": "Quantity",
              "x-ms-summary": "Quantity"
            },
            "UnitPrice": {
              "type": "number",
              "description": "Unit price",
              "x-ms-summary": "Unit Price"
            }
          }
        },
        "AccountBasedExpenseLineDetail": {
          "type": "object",
          "properties": {
            "AccountRef": {
              "$ref": "#/definitions/Ref"
            }
          }
        }
      }
    },
    "Payment": {
      "type": "object",
      "description": "Customer payment entity",
      "properties": {
        "Id": {
          "type": "string",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "SyncToken": {
          "type": "string",
          "x-ms-summary": "Sync Token",
          "x-ms-visibility": "advanced"
        },
        "sparse": {
          "type": "boolean",
          "default": true,
          "x-ms-summary": "Partial Update",
          "x-ms-visibility": "advanced"
        },
        "CustomerRef": {
          "$ref": "#/definitions/CustomerRef"
        },
        "TotalAmt": {
          "type": "number",
          "description": "Payment amount",
          "x-ms-summary": "Amount",
          "x-ms-visibility": "important"
        },
        "TxnDate": {
          "type": "string",
          "description": "Payment date",
          "x-ms-summary": "Transaction Date",
          "x-ms-visibility": "important"
        },
        "PaymentRefNum": {
          "type": "string",
          "description": "Check/reference number"
        },
        "DepositToAccountRef": {
          "$ref": "#/definitions/Ref"
        }
      },
      "required": [
        "CustomerRef",
        "TotalAmt"
      ]
    },
    "Purchase": {
      "type": "object",
      "description": "Purchase/Expense entity",
      "properties": {
        "Id": {
          "type": "string",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "SyncToken": {
          "type": "string",
          "x-ms-summary": "Sync Token",
          "x-ms-visibility": "advanced"
        },
        "sparse": {
          "type": "boolean",
          "default": true,
          "x-ms-summary": "Partial Update",
          "x-ms-visibility": "advanced"
        },
        "PaymentType": {
          "type": "string",
          "x-ms-summary": "Payment Type",
          "enum": [
            "Cash",
            "Check",
            "CreditCard"
          ]
        },
        "AccountRef": {
          "$ref": "#/definitions/Ref"
        },
        "EntityRef": {
          "$ref": "#/definitions/Ref"
        },
        "Line": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Line"
          },
          "x-ms-visibility": "important"
        },
        "TxnDate": {
          "type": "string",
          "x-ms-summary": "Transaction Date",
          "x-ms-visibility": "important"
        }
      }
    },
    "PurchaseOrder": {
      "type": "object",
      "description": "Purchase order entity",
      "properties": {
        "Id": {
          "type": "string",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "SyncToken": {
          "type": "string",
          "x-ms-summary": "Sync Token",
          "x-ms-visibility": "advanced"
        },
        "sparse": {
          "type": "boolean",
          "default": true,
          "x-ms-summary": "Partial Update",
          "x-ms-visibility": "advanced"
        },
        "VendorRef": {
          "$ref": "#/definitions/VendorRef"
        },
        "Line": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Line"
          },
          "x-ms-visibility": "important"
        },
        "DocNumber": {
          "type": "string",
          "x-ms-summary": "Document Number"
        },
        "TxnDate": {
          "type": "string",
          "x-ms-summary": "Transaction Date",
          "x-ms-visibility": "important"
        },
        "DueDate": {
          "type": "string",
          "x-ms-summary": "Due Date",
          "x-ms-visibility": "important"
        },
        "POStatus": {
          "type": "string",
          "x-ms-summary": "Status",
          "enum": [
            "Open",
            "Closed"
          ]
        }
      }
    },
    "Ref": {
      "type": "object",
      "description": "Reference to another entity",
      "properties": {
        "value": {
          "type": "string",
          "description": "The ID of the referenced entity",
          "x-ms-summary": "ID"
        },
        "name": {
          "type": "string",
          "description": "Display name (optional, for readability)",
          "x-ms-summary": "Name",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "RefundReceipt": {
      "type": "object",
      "description": "Refund receipt entity",
      "properties": {
        "Id": {
          "type": "string",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "SyncToken": {
          "type": "string",
          "x-ms-summary": "Sync Token",
          "x-ms-visibility": "advanced"
        },
        "sparse": {
          "type": "boolean",
          "default": true,
          "x-ms-summary": "Partial Update",
          "x-ms-visibility": "advanced"
        },
        "CustomerRef": {
          "$ref": "#/definitions/CustomerRef"
        },
        "Line": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Line"
          },
          "x-ms-visibility": "important"
        },
        "DocNumber": {
          "type": "string",
          "x-ms-summary": "Document Number"
        },
        "TxnDate": {
          "type": "string",
          "x-ms-summary": "Transaction Date",
          "x-ms-visibility": "important"
        },
        "DepositToAccountRef": {
          "$ref": "#/definitions/Ref"
        }
      }
    },
    "SalesReceipt": {
      "type": "object",
      "description": "Sales receipt (cash sale) entity",
      "properties": {
        "Id": {
          "type": "string",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "SyncToken": {
          "type": "string",
          "x-ms-summary": "Sync Token",
          "x-ms-visibility": "advanced"
        },
        "sparse": {
          "type": "boolean",
          "default": true,
          "x-ms-summary": "Partial Update",
          "x-ms-visibility": "advanced"
        },
        "CustomerRef": {
          "$ref": "#/definitions/CustomerRef"
        },
        "Line": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Line"
          },
          "x-ms-visibility": "important"
        },
        "DocNumber": {
          "type": "string",
          "x-ms-summary": "Document Number"
        },
        "TxnDate": {
          "type": "string",
          "x-ms-summary": "Transaction Date",
          "x-ms-visibility": "important"
        },
        "PaymentMethodRef": {
          "$ref": "#/definitions/Ref"
        },
        "DepositToAccountRef": {
          "$ref": "#/definitions/Ref"
        }
      },
      "required": [
        "Line"
      ]
    },
    "Transfer": {
      "type": "object",
      "description": "Account transfer entity",
      "properties": {
        "Id": {
          "type": "string",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "SyncToken": {
          "type": "string",
          "x-ms-summary": "Sync Token",
          "x-ms-visibility": "advanced"
        },
        "sparse": {
          "type": "boolean",
          "default": true,
          "x-ms-summary": "Partial Update",
          "x-ms-visibility": "advanced"
        },
        "FromAccountRef": {
          "$ref": "#/definitions/Ref"
        },
        "ToAccountRef": {
          "$ref": "#/definitions/Ref"
        },
        "Amount": {
          "type": "number"
        },
        "TxnDate": {
          "type": "string",
          "x-ms-summary": "Transaction Date",
          "x-ms-visibility": "important"
        }
      },
      "required": [
        "FromAccountRef",
        "ToAccountRef",
        "Amount"
      ]
    },
    "Vendor": {
      "type": "object",
      "description": "Vendor/Supplier entity",
      "properties": {
        "Id": {
          "type": "string",
          "description": "Unique identifier",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "SyncToken": {
          "type": "string",
          "description": "Version token",
          "x-ms-summary": "Sync Token",
          "x-ms-visibility": "advanced"
        },
        "sparse": {
          "type": "boolean",
          "default": true,
          "x-ms-summary": "Partial Update",
          "x-ms-visibility": "advanced"
        },
        "DisplayName": {
          "type": "string",
          "x-ms-summary": "Display Name",
          "x-ms-visibility": "important"
        },
        "GivenName": {
          "type": "string",
          "x-ms-summary": "First Name"
        },
        "FamilyName": {
          "type": "string",
          "x-ms-summary": "Last Name"
        },
        "CompanyName": {
          "type": "string",
          "x-ms-summary": "Company Name"
        },
        "PrimaryEmailAddr": {
          "type": "object",
          "properties": {
            "Address": {
              "type": "string"
            }
          }
        },
        "PrimaryPhone": {
          "type": "object",
          "properties": {
            "FreeFormNumber": {
              "type": "string"
            }
          }
        },
        "BillAddr": {
          "$ref": "#/definitions/Address"
        },
        "Active": {
          "type": "boolean",
          "x-ms-summary": "Active"
        },
        "Vendor1099": {
          "type": "boolean",
          "description": "Is 1099 vendor"
        }
      },
      "required": [
        "DisplayName"
      ]
    },
    "VendorCredit": {
      "type": "object",
      "description": "Vendor credit entity",
      "properties": {
        "Id": {
          "type": "string",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "SyncToken": {
          "type": "string",
          "x-ms-summary": "Sync Token",
          "x-ms-visibility": "advanced"
        },
        "sparse": {
          "type": "boolean",
          "default": true,
          "x-ms-summary": "Partial Update",
          "x-ms-visibility": "advanced"
        },
        "VendorRef": {
          "$ref": "#/definitions/VendorRef"
        },
        "Line": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Line"
          },
          "x-ms-visibility": "important"
        },
        "DocNumber": {
          "type": "string",
          "x-ms-summary": "Document Number"
        },
        "TxnDate": {
          "type": "string",
          "x-ms-summary": "Transaction Date",
          "x-ms-visibility": "important"
        }
      }
    },
    "VoidRequest": {
      "type": "object",
      "description": "Request to void a transaction",
      "required": [
        "Id",
        "SyncToken"
      ],
      "properties": {
        "Id": {
          "type": "string",
          "description": "ID of the entity to void",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "SyncToken": {
          "type": "string",
          "description": "Current SyncToken value",
          "x-ms-summary": "Sync Token",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "CustomerRef": {
      "type": "object",
      "description": "Reference to a customer. Get the Id from Query or GetCustomer.",
      "properties": {
        "value": {
          "type": "string",
          "x-ms-summary": "Customer ID",
          "description": "Customer ID (use Query to find)"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Customer Name",
          "x-ms-visibility": "advanced",
          "description": "Display name (optional)"
        }
      }
    },
    "VendorRef": {
      "type": "object",
      "description": "Reference to a vendor. Get the Id from Query or GetVendor.",
      "properties": {
        "value": {
          "type": "string",
          "x-ms-summary": "Vendor ID",
          "description": "Vendor ID (use Query to find)"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Vendor Name",
          "x-ms-visibility": "advanced",
          "description": "Display name (optional)"
        }
      }
    },
    "ItemRef": {
      "type": "object",
      "description": "Reference to an item. Get the Id from Query or GetItem.",
      "properties": {
        "value": {
          "type": "string",
          "x-ms-summary": "Item ID",
          "description": "Item ID (use Query to find)"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Item Name",
          "x-ms-visibility": "advanced",
          "description": "Display name (optional)"
        }
      }
    },
    "AccountRef": {
      "type": "object",
      "description": "Reference to an account. Get the Id from Query or GetAccount.",
      "properties": {
        "value": {
          "type": "string",
          "x-ms-summary": "Account ID",
          "description": "Account ID (use Query to find)"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Account Name",
          "x-ms-visibility": "advanced",
          "description": "Display name (optional)"
        }
      }
    }
  },
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://appcenter.intuit.com/connect/oauth2",
      "tokenUrl": "https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer",
      "scopes": {
        "com.intuit.quickbooks.accounting": "Access QuickBooks accounting data"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "com.intuit.quickbooks.accounting"
      ]
    }
  ]
}