{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Yeelight",
    "description": "Yeelight allows you to control the settings of compatible devices for smart lighting applications.",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "medlar-us.yeelight.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/ms-flow/discover": {
      "post": {
        "summary": "Discover",
        "description": "Discover",
        "operationId": "Discover",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "did": {
                    "description": "did",
                    "type": "string"
                  },
                  "name": {
                    "description": "name",
                    "type": "string"
                  },
                  "region": {
                    "description": "region",
                    "type": "string"
                  },
                  "type": {
                    "description": "type",
                    "type": "string"
                  },
                  "online": {
                    "description": "online",
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced"
      }
    },
    "/api/ms-flow/switch": {
      "post": {
        "summary": "Switch",
        "description": "Switch",
        "operationId": "Switch",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "default": {
                "did": "M1GAxtaW9A0LXNwZWMtdjIVgoAFGA55ZWVsaW5rLWNvbG9AyMRUUGAg0NTk2NTYwNRVoAA",
                "on": true,
                "region": "cn",
                "type": "urn:miot-spec-v2:device:light:0000A001:yeelink-color1:1"
              },
              "type": "object",
              "properties": {
                "did": {
                  "description": "did",
                  "type": "string"
                },
                "on": {
                  "description": "on",
                  "type": "boolean"
                },
                "region": {
                  "description": "region",
                  "type": "string"
                },
                "type": {
                  "description": "type",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "ids": {
                    "description": "ids",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "status": {
                    "description": "status",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced"
      }
    },
    "/api/ms-flow/color": {
      "post": {
        "summary": "Color",
        "description": "Color",
        "operationId": "Color",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "did": {
                  "description": "did",
                  "type": "string"
                },
                "spectrumRGB": {
                  "format": "int32",
                  "description": "spectrumRGB",
                  "type": "integer"
                },
                "region": {
                  "description": "region",
                  "type": "string"
                },
                "type": {
                  "description": "type",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "ids": {
                    "description": "ids",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "status": {
                    "description": "status",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced"
      }
    },
    "/api/ms-flow/brightness": {
      "post": {
        "summary": "Brightness",
        "description": "Brightness",
        "operationId": "Brightness",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "did": {
                  "description": "did",
                  "type": "string"
                },
                "brightness": {
                  "format": "int32",
                  "description": "brightness",
                  "type": "integer"
                },
                "region": {
                  "description": "region",
                  "type": "string"
                },
                "type": {
                  "description": "type",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "ids": {
                    "description": "ids",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "status": {
                    "description": "status",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced"
      }
    },
    "/api/ms-flow/temperature": {
      "post": {
        "summary": "Temperature",
        "description": "Temperature",
        "operationId": "Temperature",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "did": {
                  "description": "did",
                  "type": "string"
                },
                "temperature": {
                  "format": "int32",
                  "description": "temperature",
                  "type": "integer"
                },
                "region": {
                  "description": "region",
                  "type": "string"
                },
                "type": {
                  "description": "type",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "ids": {
                    "description": "ids",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "status": {
                    "description": "status",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced"
      }
    },
    "/api/ms-flow/query": {
      "post": {
        "summary": "Query",
        "description": "Query",
        "operationId": "Query",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "did": {
                  "description": "did",
                  "type": "string"
                },
                "region": {
                  "description": "region",
                  "type": "string"
                },
                "type": {
                  "description": "type",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "M1GAxtaW9A0LXNwZWMtdjIVgoAFGA55ZWVsaWdodC1sYW1wMRUUGAg0NTAxOTQ4MhWsAgA": {
                  "description": "M1GAxtaW9A0LXNwZWMtdjIVgoAFGA55ZWVsaWdodC1sYW1wMRUUGAg0NTAxOTQ4MhWsAgA",
                  "type": "object",
                  "properties": {
                    "online": {
                      "description": "online",
                      "type": "boolean"
                    },
                    "on": {
                      "description": "on",
                      "type": "boolean"
                    },
                    "brightness": {
                      "format": "int32",
                      "description": "brightness",
                      "type": "integer"
                    },
                    "color-temperature": {
                      "format": "int32",
                      "description": "color-temperature",
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://account.xiaomi.com/oauth2/authorize",
      "tokenUrl": "https://account.xiaomi.com/oauth2/token",
      "scopes": {
        "1 3 6000": "1 3 6000"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "1 3 6000"
      ]
    }
  ],
  "tags": []
}