{
  "swagger": "2.0",
  "info": {
    "title": "Tilkee",
    "description": "Tilkee is an online platform that makes cross-functional collaboration happen. Combining deep knowledge of sales enablement with augmented intelligence, the vision of the team behind Tilkee is to align marketing with sales and guide Sales, Product Marketing, Channel Enablement, and Customer Success teams towards digital transformation.",
    "version": "1.0"
  },
  "host": "api.tilkee.com",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/wrapper/token_from_files": {
      "post": {
        "tags": [
          "Wrapper"
        ],
        "responses": {
          "default": {
            "description": "Project",
            "schema": {
              "type": "object",
              "properties": {
                "project": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "title": "Project id"
                    },
                    "name": {
                      "type": "string",
                      "title": "Project name"
                    },
                    "preview_url": {
                      "type": "string",
                      "title": "Project preview url"
                    },
                    "external_id": {
                      "type": "string",
                      "title": "Project external id"
                    },
                    "url": {
                      "type": "string",
                      "title": "Project url (available only with Marketing option"
                    },
                    "iframes": {
                      "type": "object",
                      "properties": {
                        "project_escape": {
                          "type": "string",
                          "title": "Project iframes"
                        },
                        "tokens_escape": {
                          "type": "string",
                          "title": "Links iframes"
                        },
                        "stats_escape": {
                          "type": "string",
                          "title": "Stats iframes"
                        }
                      },
                      "title": "Project iframes"
                    }
                  },
                  "title": "Project"
                },
                "tokens": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Link id"
                      },
                      "name": {
                        "type": "string",
                        "description": "Link name"
                      },
                      "link": {
                        "type": "string",
                        "description": "Link"
                      },
                      "external_id": {
                        "type": "string",
                        "description": "Link external_id"
                      }
                    }
                  },
                  "description": "Links"
                }
              }
            }
          }
        },
        "summary": "Create a project, add document(s) and retrieve access link(s)",
        "operationId": "ProjectCreate",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x_tilk_ref",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "project": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Original project id",
                      "type": "string",
                      "description": "Id of an existing project that will be duplicated",
                      "x-ms-visibility": "advanced"
                    },
                    "name": {
                      "title": "Project name",
                      "type": "string",
                      "description": "Project name"
                    },
                    "can_be_downloaded": {
                      "title": "Downloadable?",
                      "type": "boolean",
                      "description": "TRUE if the documents can be downloaded",
                      "x-ms-visibility": "advanced"
                    },
                    "consultable": {
                      "title": "Consultable?",
                      "type": "boolean",
                      "description": "TRUE if the project is consultable",
                      "default": true,
                      "x-ms-visibility": "advanced"
                    },
                    "consultable_until": {
                      "title": "Deadline (date)",
                      "type": "string",
                      "description": "Allow consultation until this date",
                      "x-ms-visibility": "advanced"
                    },
                    "tags": {
                      "title": "Tags",
                      "type": "array",
                      "items": {},
                      "description": "Tags to add to this project (array of string(s))",
                      "x-ms-visibility": "advanced"
                    },
                    "collaborators": {
                      "title": "Collaborators (Ids)",
                      "type": "array",
                      "items": {},
                      "description": "Collaborators to add to this project (array of id(s))",
                      "x-ms-visibility": "advanced"
                    },
                    "is_template": {
                      "title": "Template?",
                      "type": "boolean",
                      "description": "TRUE if this project will be used as a template",
                      "default": false,
                      "x-ms-visibility": "advanced"
                    },
                    "external_id": {
                      "title": "External Id",
                      "type": "string",
                      "description": "Your internal id"
                    },
                    "theme": {
                      "title": "Theme",
                      "type": "object",
                      "properties": {
                        "id": {
                          "title": "Theme ID",
                          "type": "integer",
                          "format": "int32",
                          "description": "An ID of theme"
                        }
                      },
                      "description": "Theme (logo/colors) to be used for this project",
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "required": [
                    "name"
                  ],
                  "description": "Project information"
                },
                "documents": {
                  "title": "Documents",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "title": "Document name",
                        "type": "string",
                        "description": "name"
                      },
                      "s3_url": {
                        "title": "Document URL",
                        "type": "string",
                        "description": "Accessible URL of the document. This URL is retrieved after posting a file using ITEMS route OR by providing a public whitelisted URL, with from_url=TRUE"
                      },
                      "content": {
                        "title": "Base64 encoded content",
                        "type": "string",
                        "description": "Base64 encoded content - must include MIME : data:file/pdf;base64,",
                        "x-ms-visibility": "advanced"
                      },
                      "signable": {
                        "title": "Signable?",
                        "type": "boolean",
                        "description": "TRUE if the document can be signed - used ONLY with PDF files"
                      },
                      "from_url": {
                        "title": "From external URL?",
                        "type": "boolean",
                        "description": "TRUE if Document URL is external to Tilkee",
                        "x-ms-visibility": "advanced"
                      },
                      "external_id": {
                        "type": "string",
                        "title": "External Id",
                        "description": "ID of the contact in your system",
                        "x-ms-visibility": "advanced"
                      }
                    }
                  },
                  "description": "Documents to add to the project"
                },
                "person": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of the unique generated link",
                        "title": "Name of the link"
                      },
                      "external_id": {
                        "type": "string",
                        "title": "External Id",
                        "description": "ID of the contact in your system",
                        "x-ms-visibility": "advanced"
                      },
                      "external_data": {
                        "type": "object",
                        "title": "Misc information",
                        "description": "Specific information to be added in case of eSignature and form PDFs",
                        "x-ms-visibility": "advanced"
                      }
                    }
                  },
                  "description": "Access link(s)",
                  "title": "Access links"
                }
              },
              "required": [
                "project"
              ]
            }
          }
        ],
        "description": "Create a project, add document(s) and retrieve access link(s) from this endpoint"
      }
    },
    "/projects": {
      "get": {
        "tags": [
          "Project"
        ],
        "responses": {
          "default": {
            "description": "Projects",
            "schema": {
              "type": "object",
              "properties": {
                "search": {
                  "type": "string",
                  "description": "Projects search"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Projects limit"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Projects offset"
                },
                "total": {
                  "type": "integer",
				  "format": "int32",
                  "description": "Projects total"
                },
                "order": {
                  "type": "string",
                  "description": "Projects order"
                },
                "contents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Project id"
                      },
                      "name": {
                        "type": "string",
                        "description": "Project name"
                      },
                      "verdict": {
                        "type": "string",
                        "description": "Project verdict"
                      },
                      "is_template": {
                        "type": "boolean",
                        "description": "Project is_template?"
                      },
                      "can_be_downloaded": {
                        "type": "boolean",
                        "description": "Project can_be_downloaded?"
                      },
                      "preview_new": {
                        "type": "string",
                        "description": "Project preview_new url"
                      },
                      "duration": {
                        "type": "string",
                        "description": "Project duration"
                      },
                      "starred": {
                        "type": "boolean",
                        "description": "Project starred?"
                      },
                      "external_id": {
                        "type": "string",
                        "description": "Project external_id"
                      },
                      "url": {
                        "type": "string",
                        "description": "Project authentication url"
                      },
                      "signed": {
                        "type": "boolean",
                        "description": "Project signed?"
                      },
                      "signable": {
                        "type": "boolean",
                        "description": "Project signable?"
                      },
                      "consultable": {
                        "type": "boolean",
                        "description": "Project consultable?"
                      },
                      "tags": {
                        "type": "array",
                        "items": {},
                        "description": "Project tags"
                      },
                      "pt_note": {
                        "type": "number",
                        "format": "float",
                        "description": "Project pt_note"
                      },
                      "pt_accuracy": {
                        "type": "string",
                        "description": "Project pt_accuracy"
                      },
                      "pt_won": {
                        "type": "boolean",
                        "description": "Project pt_won"
                      },
                      "vcard_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Project vcard_id"
                      },
                      "email_cible": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Project email_cible"
                      },
                      "alert_on": {
                        "type": "boolean",
                        "description": "Project alert_on"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "Project created_at"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "Project updated_at"
                      },
                      "consultable_until": {
                        "type": "string",
                        "description": "Project consultable_until"
                      },
                      "last_sign_in_at": {
                        "type": "string",
                        "description": "Project last_sign_in_at"
                      },
                      "first_access_at": {
                        "type": "string",
                        "description": "Project first_access_at"
                      },
                      "collaborators_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Project collaborators_count"
                      },
                      "convert_status": {
                        "type": "object",
                        "properties": {
                          "complete_base": {
                            "type": "boolean",
                            "description": "Project complete_base"
                          },
                          "complete_full": {
                            "type": "boolean",
                            "description": "Project complete_full"
                          }
                        },
                        "description": "Project convert_status"
                      },
                      "nb_connections": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Project nb_connections"
                      },
                      "total_time": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Project total_time"
                      },
                      "leader_first_name": {
                        "type": "string",
                        "description": "Project leader_first_name"
                      },
                      "leader_last_name": {
                        "type": "string",
                        "description": "Project leader_last_name"
                      },
                      "leader_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Project leader_id"
                      },
                      "leader_email": {
                        "type": "string",
                        "description": "Project leader_email"
                      },
                      "leader_avatar": {
                        "type": "string",
                        "description": "Project leader_avatar"
                      },
                      "tokens_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Project tokens_count"
                      },
                      "project_items_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Project project_items_count"
                      },
                      "nb_used_as_template": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Project nb_used_as_template"
                      },
                      "email_templates_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Project email_templates_count"
                      },
                      "can_edit": {
                        "type": "boolean",
                        "description": "Project can_edit"
                      }
                    }
                  },
                  "description": "Project list"
                }
              }
            }
          }
        },
        "operationId": "ProjectList",
        "summary": "List and search projects or templates",
        "description": "List or search for project or template",
        "parameters": [
          {
            "name": "limit",
            "description": "number of results",
            "x-ms-summary": "Limit",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 20,
			"x-ms-visibility": "advanced"
          },
          {
            "name": "offset",
            "description": "offset",
            "x-ms-summary": "Offset",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 0,
			"x-ms-visibility": "advanced"
          },
          {
            "name": "order",
            "description": "Sorting order (-created_at to order by creation date desc)",
            "x-ms-summary": "Order",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "-created_at",
			"x-ms-visibility": "advanced"
          },
          {
            "name": "is_template",
            "description": "TRUE to retrieve only templates",
            "x-ms-summary": "is template",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": false
          },
          {
            "name": "tags",
            "description": "Add tags (coma separated) to search projects",
            "x-ms-summary": "Tag(s)",
            "in": "query",
            "required": false,
            "type": "string"
          },
		  {
            "name": "tagOperator",
            "description": "Use AND (default) to retrieve projects with all tags, OR to retrieve projects with any of the provided tags",
            "x-ms-summary": "tagOperator",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-visibility": "advanced"
          },
          {
            "name": "is_owner",
            "description": "TRUE to retrieve only my projects (no projects from other users)",
            "x-ms-summary": "is_owner",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true
          },
          {
            "name": "search",
            "description": "Search for any text in project's or link's name",
            "x-ms-summary": "Search text",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x_tilk_ref",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/projects/{id}": {
      "put": {
        "tags": [
          "Project"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Project id"
                },
                "name": {
                  "type": "string",
                  "description": "Project name"
                },
                "verdict": {
                  "type": "string",
                  "description": "Project verdict"
                },
                "is_template": {
                  "type": "boolean",
                  "description": "Project is_template?"
                },
                "can_be_downloaded": {
                  "type": "boolean",
                  "description": "Project can_be_downloaded?"
                },
                "preview_new": {
                  "type": "string",
                  "description": "Project preview URL"
                },
                "duration": {
                  "type": "string",
                  "description": "Project duration"
                },
                "starred": {
                  "type": "boolean",
                  "description": "Project starred?"
                },
                "external_id": {
                  "type": "string",
                  "description": "Project external_id"
                },
                "url": {
                  "type": "string",
                  "description": "Project authentication url"
                },
                "signed": {
                  "type": "boolean",
                  "description": "Project signed?"
                },
                "signable": {
                  "type": "boolean",
                  "description": "Project signable?"
                },
                "consultable": {
                  "type": "boolean",
                  "description": "Project consultable?"
                },
                "tags": {
                  "type": "array",
                  "items": {},
                  "description": "Project tags"
                },
                "pt_note": {
                  "type": "string",
                  "description": "Project pt_note"
                },
                "pt_accuracy": {
                  "type": "string",
                  "description": "Project pt_accuracy"
                },
                "pt_won": {
                  "type": "string",
                  "description": "Project pt_won"
                },
                "vcard_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Project vcard_id"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "is_or_was_signable": {
                      "type": "boolean",
                      "description": "Project is_or_was_signable?"
                    },
                    "nb_links": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Project nb_links"
                    },
                    "nb_links_by_prospect": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Project nb_links_by_prospect"
                    },
                    "most_visited_item_id": {
                      "type": "string",
                      "description": "Project most_visited_item_id"
                    },
                    "most_visited_time": {
                      "type": "string",
                      "description": "Project most_visited_time"
                    },
                    "median_percentage_read": {
                      "type": "number",
                        "format": "float",
                      "description": "Project median_percentage_read"
                    },
                    "median_nb_pages_readed": {
                      "type": "string",
                      "description": "Project median_nb_pages_readed"
                    },
                    "median_time_before_opening": {
                      "type": "string",
                      "description": "Project median_time_before_opening"
                    },
                    "avg_time_between_first_last": {
                      "type": "string",
                      "description": "Project avg_time_between_first_last"
                    },
                    "median_time_to_download": {
                      "type": "string",
                      "description": "Project median_time_to_download"
                    },
                    "median_time_read": {
                      "type": "string",
                      "description": "Project median_time_read"
                    },
                    "nb_platforms": {
                      "type": "string",
                      "description": "Project nb_platforms"
                    },
                    "nb_phones_platform": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Project nb_phones_platform"
                    },
                    "nb_computers_platform": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Project nb_computers_platform"
                    },
                    "nb_others_platform": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Project nb_others_platform"
                    },
                    "nb_tokens_consulted": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Project nb_tokens_consulted"
                    },
                    "nb_items": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Project nb_items"
                    },
                    "nb_pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Project nb_pages"
                    },
                    "nb_connexions_failed": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Project nb_connexions_failed"
                    },
                    "last_created_token_at": {
                      "type": "string",
                      "description": "Project last_created_token_at"
                    },
                    "nb_used_as_template": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Project nb_used_as_template"
                    },
                    "clicked_links_count": {
                      "type": "string",
                      "description": "Project clicked_links_count"
                    },
                    "pt_note_v2": {
                      "type": "string",
                      "description": "Project pt_note_v2"
                    }
                  },
                  "description": "Project data"
                },
                "email_cible": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Project email_cible"
                },
                "alert_on": {
                  "type": "boolean",
                  "description": "Project alert_on"
                },
                "created_at": {
                  "type": "string",
                  "description": "Project created_at"
                },
                "updated_at": {
                  "type": "string",
                  "description": "Project updated_at"
                },
                "consultable_until": {
                  "type": "string",
                  "description": "Project consultable_until"
                },
                "last_sign_in_at": {
                  "type": "string",
                  "description": "Project last_sign_in_at"
                },
                "first_access_at": {
                  "type": "string",
                  "description": "Project first_access_at"
                },
                "collaborators_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Project collaborators_count"
                },
                "convert_status": {
                  "type": "object",
                  "properties": {
                    "complete_base": {
                      "type": "boolean",
                      "description": "Project complete_base"
                    },
                    "complete_full": {
                      "type": "boolean",
                      "description": "Project complete_full"
                    }
                  },
                  "description": "Project convert_status"
                },
                "nb_connections": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Project nb_connections"
                },
                "total_time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Project total_time"
                },
                "leader": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Project leader id"
                    },
                    "first_name": {
                      "type": "string",
                      "description": "Project leader first_name"
                    },
                    "last_name": {
                      "type": "string",
                      "description": "Project leader last_name"
                    },
                    "full_name": {
                      "type": "string",
                      "description": "Project leader full_name"
                    },
                    "email": {
                      "type": "string",
                      "description": "Project leader email"
                    },
                    "contact_email": {
                      "type": "string",
                      "description": "Project leader contact_email"
                    },
                    "contact_email_confirmed": {
                      "type": "boolean",
                      "description": "Project leader contact_email_confirmed"
                    },
                    "should_receive_emails": {
                      "type": "boolean",
                      "description": "Project leader should_receive_emails"
                    },
                    "level_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Project leader level_id"
                    },
                    "locale": {
                      "type": "string",
                      "description": "Project leader locale"
                    },
                    "should_receive_connexion_email": {
                      "type": "boolean",
                      "description": "Project leader should_receive_connexion_email"
                    },
                    "last_sign_in_at": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Project leader last_sign_in_at"
                    }
                    
                  },
                  "description": "Project leader"
                },
                "theme": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Project theme id"
                    },
                    "name": {
                      "type": "string",
                      "description": "Project theme name"
                    },
                    "logo": {
                      "type": "string",
                      "description": "Project theme logo"
                    },
                    "main_color": {
                      "type": "string",
                      "description": "Project theme main_color"
                    },
                    "secondary_color": {
                      "type": "string",
                      "description": "Project theme secondary_color"
                    },
                    "text_color": {
                      "type": "string",
                      "description": "Project theme text_color"
                    },
                    "default": {
                      "type": "boolean",
                      "description": "Project theme default?"
                    },
                    "subdomain": {
                      "type": "string",
                      "description": "Project theme subdomain"
                    },
                    "domain": {
                      "type": "string",
                      "description": "Project theme domain"
                    },
                    "special_custom_domain": {
                      "type": "boolean",
                      "description": "Project theme special_custom_domain"
                    },
                    "downloadable": {
                      "type": "boolean",
                      "description": "Project theme downloadable?"
                    },
                    "download_requestable": {
                      "type": "boolean",
                      "description": "Project theme download_requestable?"
                    },
                    "show_summary_in_pdf": {
                      "type": "boolean",
                      "description": "Project theme show_summary_in_pdf?"
                    },
                    "sign_provider": {
                      "type": "string",
                      "description": "Project theme sign_provider"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Project theme created_at"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "Project theme updated_at"
                    }
                  },
                  "description": "Project theme"
                },
                "tokens_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Project tokens_count"
                },
                "project_items_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Project items_count"
                },
                "nb_used_as_template": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Project nb_used_as_template"
                },
                "email_templates_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Project email_templates_count"
                }
              }
            }
          }
        },
        "summary": "Update a project (verdict, consultable, downloadable...)",
        "description": "Update a project (verdict, consultable, downloadable...)",
        "operationId": "ProjectUpdate",
        "parameters": [
          {
            "name": "id",
            "description": "Tilkee internal id of the project to update",
            "x-ms-summary": "Project id",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x_tilk_ref",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Project name",
                  "title": "Project name"
                },
                "can_be_downloaded": {
                  "title": "Downloadable?",
                  "type": "boolean",
                  "description": "TRUE if the documents can be downloaded",
                  "x-ms-visibility": "advanced"
                },
                "consultable": {
                  "title": "Consultable?",
                  "description": "TRUE if the project if consultable",
                  "type": "boolean",
                  "x-ms-visibility": "advanced"
                },
                "consultable_until": {
                  "title": "Deadline (date)",
                  "type": "string",
                  "description": "Allow consultation until this date",
                  "x-ms-visibility": "advanced"
                },
                "duration": {
                  "title": "Duration (for templates only)",
                  "type": "string",
                  "description": "Used only for templates, you can create projects from this template that will expire xx days later.",
                  "x-ms-visibility": "advanced"
                },
                "external_id": {
                  "title": "External Id",
                  "type": "string",
                  "description": "external_id",
                  "x-ms-visibility": "advanced"
                },
                "starred": {
                  "title": "Starred?",
                  "type": "boolean",
                  "description": "TRUE if is a starred project",
                  "x-ms-visibility": "advanced"
                },
                "tags": {
                  "title": "Tags",
                  "type": "array",
                  "items": {},
                  "description": "Tags to add to this project (array of string(s))",
                  "x-ms-visibility": "advanced"
                },
                "verdict": {
                  "type": "string",
                  "description": "Verdict of the project (won/lost/na)",
                  "title": "Verdict of the project",
                  "enum": [
                    "won",
                    "lost",
                    "na",
                    "nc"
                  ]
                },
                "collaborators": {
                  "title": "Collaborators (Ids)",
                  "type": "array",
                  "items": {},
                  "description": "Collaborators to add to this project (array of id(s))",
                  "x-ms-visibility": "advanced"
                },
                "is_template": {
                  "title": "Template?",
                  "type": "boolean",
                  "description": "TRUE if this project will be used as a template",
                  "x-ms-visibility": "advanced"
                },
                "vcard_id": {
                  "title": "vCard",
                  "type": "integer",
                  "format": "int32",
                  "description": "ID of the vCard to be displayed",
                  "x-ms-visibility": "advanced"
                },
                "alert_on": {
                  "title": "Reading alerts?",
                  "type": "boolean",
                  "description": "Enable reading alerts",
                  "x-ms-visibility": "advanced"
                },
                "email_cible": {
                  "title": "Notification email",
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Other notification email (only for Marketing projects)",
                  "x-ms-visibility": "advanced"
                },
                "theme": {
                  "title": "Theme",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "theme id"
                    }
                  },
                  "description": "Theme (logo/colors) to be used for this project",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        ]
      }
    },
    "/projects/{project_id}/tokens": {
      "post": {
        "tags": [
          "Project"
        ],
        "responses": {
          "default": {
            "description": "Access links",
            "schema": {
              "type": "object",
              "properties": {
                "contents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Link id"
                      },
                      "name": {
                        "type": "string",
                        "description": "Link name"
                      },
                      "link": {
                        "type": "string",
                        "description": "Link URL"
                      },
                      "external_id": {
                        "type": "string",
                        "description": "Link external id"
                      }
                    }
                  },
                  "description": "Links"
                }
              }
            }
          }
        },
        "summary": "Create access link(s)",
        "description": "Create access link(s) in a specific project",
        "operationId": "AccessLinkCreate",
        "parameters": [
          {
            "name": "project_id",
            "description": "Tilkee internal id of the project to add links to",
            "x-ms-summary": "Project id",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x_tilk_ref",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "persons": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of the unique generated link",
                        "title": "Name of the link"
                      },
                      "external_id": {
                        "type": "string",
                        "title": "External Id",
                        "description": "ID of the contact in your system",
                        "x-ms-visibility": "advanced"
                      },
                      "external_data": {
                        "type": "object",
                        "title": "Misc information",
                        "description": "Specific information to be added in case of eSignature and form PDFs",
                        "x-ms-visibility": "advanced"
                      }
                    }
                  },
                  "description": "Access links",
                  "title": "Access links"
                }
              }
            }
          }
        ]
      }
    },
    "/projects/{project_id}/add_items": {
      "post": {
        "tags": [
          "Project"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Project item id"
                  },
                  "type": {
                    "type": "string",
                    "description": "Project item type"
                  },
                  "element_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Project item element_id"
                  },
                  "title": {
                    "type": "string",
                    "description": "Project item title"
                  },
                  "signable": {
                    "type": "boolean",
                    "description": "Project item signable?"
                  },
                  "downloadable": {
                    "type": "boolean",
                    "description": "Project item downloadable?"
                  },
                  "item": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Item id"
                      },
                      "title": {
                        "type": "string",
                        "description": "Item title"
                      },
                      "usable": {
                        "type": "boolean",
                        "description": "Item usable?"
                      },
                      "element_type": {
                        "type": "string",
                        "description": "Item element_type"
                      },
                      "extension": {
                        "type": "string",
                        "description": "Item extension"
                      },
                      "type": {
                        "type": "string",
                        "description": "Item type"
                      },
                      "external_id": {
                        "type": "string",
                        "description": "Item external_id"
                      },
                      "tags": {
                        "type": "array",
                        "items": {},
                        "description": "Item tags"
                      },
                      "favorite": {
                        "type": "boolean",
                        "description": "Item favorite?"
                      },
                      "file_version": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Item file_version"
                      },
                      "replaced_at": {
                        "type": "string",
                        "description": "Item replaced_at"
                      },
                      "file_size": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Item file_size"
                      },
                      "num_pages": {
                        "type": "integer",
                        "description": "Item num_pages"
                      },
                      "convert_status": {
                        "type": "object",
                        "properties": {
                          "complete_base": {
                            "type": "boolean",
                            "description": "Item complete_base"
                          },
                          "complete_full": {
                            "type": "boolean",
                            "description": "Item complete_full"
                          },
                          "status": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Item convert status"
                          }
                        },
                        "description": "convert_status"
                      },
                      "s3_url": {
                        "type": "string",
                        "description": "Item url"
                      },
                      "content_url": {
                        "type": "string",
                        "description": "Item content_url"
                      },
                      "thumbnail_url": {
                        "type": "string",
                        "description": "Item thumbnail_url"
                      },
                      "visible": {
                        "type": "boolean",
                        "description": "Item visible?"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "Item created_at"
                      }
                    },
                    "description": "Project item"
                  }
                }
              }
            }
          }
        },
        "summary": "Add item(s) to a specific project",
        "description": "Add one or mutiple items to a specific project",
        "operationId": "AddItemToProject",
        "parameters": [
          {
            "name": "project_id",
            "description": "Tilkee internal id of the project to add documents to",
            "x-ms-summary": "Project ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x_tilk_ref",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "title",
                        "title": "Name displayed"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Unique id retrieved from /items call",
                        "title": "Item's Id"
                      },
                      "downloadable": {
                        "title": "Downloadable?",
                        "type": "boolean",
                        "description": "TRUE if the document can be downloaded"
                      }
                    }
                  },
                  "description": "Documents to add to the project. Must be items, created using Tilkee'API",
                  "title": "Documents"
                },
                "type": {
                  "title": "Item's type",
                  "type": "string",
                  "description": "Item's type. Only ProjectItem allowed",
                  "default": "ProjectItem",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "type"
              ]
            }
          }
        ]
      }
    },
    "/items": {
      "get": {
        "tags": [
          "Item"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "search": {
                  "type": "string",
                  "description": "Items search"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Items limit"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Items offset"
                },
                "order": {
                  "type": "string",
                  "description": "Items order"
                },
                "contents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Item id"
                      },
                      "title": {
                        "type": "string",
                        "description": "Item title"
                      },
                      "usable": {
                        "type": "boolean",
                        "description": "Item usable?"
                      },
                      "element_type": {
                        "type": "string",
                        "description": "Item element type"
                      },
                      "extension": {
                        "type": "string",
                        "description": "Item extension"
                      },
                      "type": {
                        "type": "string",
                        "description": "Item type"
                      },
                      "external_id": {
                        "type": "string",
                        "description": "Item external_id"
                      },
                      "tags": {
                        "type": "array",
                        "items": {},
                        "description": "Item tags"
                      },
                      "favorite": {
                        "type": "boolean",
                        "description": "Item favorite?"
                      },
                      "file_version": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Item file_version"
                      },
                      "num_pages": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Item num_pages"
                      },
                      "visible": {
                        "type": "boolean",
                        "description": "Item visible?"
                      },
                      "thumbnail_url": {
                        "type": "string",
                        "description": "Item thumbnail_url?"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "Item created_at"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "Item updated_at"
                      },
                      "replaced_at": {
                        "type": "string",
                        "description": "Item replaced_at"
                      },
                      "s3_url": {
                        "type": "string",
                        "description": "Item url"
                      },
                      "content_url": {
                        "type": "string",
                        "description": "Item content_url"
                      },
                      "convert_status": {
                        "type": "object",
                        "properties": {
                          "complete_base": {
                            "type": "boolean",
                            "description": "Item convert complete_base"
                          },
                          "complete_full": {
                            "type": "boolean",
                            "description": "Item convert complete_full"
                          },
                          "status": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Item convert status"
                          }
                        },
                        "description": "Item convert_status"
                      },
                      "owner": {
                        "type": "object",
                        "properties": {
                          "first_name": {
                            "type": "string",
                            "description": "Item owner first_name"
                          },
                          "last_name": {
                            "type": "string",
                            "description": "Item owner last_name"
                          },
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Item owner id"
                          },
                          "email": {
                            "type": "string",
                            "description": "Item owner email"
                          },
                          "avatar": {
                            "type": "string",
                            "description": "Item owner avatar"
                          }
                        },
                        "description": "Item owner"
                      },
                      "projects": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Item projects id"
                            },
                            "name": {
                              "type": "string",
                              "description": "Item projects name"
                            },
                            "is_template": {
                              "type": "boolean",
                              "description": "Item projects is_template?"
                            }
                          }
                        },
                        "description": "Item projects"
                      },
                      "projects_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Item projects_count"
                      },
                      "content": {
                        "type": "string",
                        "description": "Item content"
                      },
                      "thumbnail_page_url": {
                        "type": "string",
                        "description": "Item thumbnail_page_url"
                      }
                    }
                  },
                  "description": "Items list"
                }
              }
            }
          }
        },
        "summary": "List and search items",
        "description": "List or search for items",
        "operationId": "ItemList",
        "parameters": [
          {
            "name": "limit",
            "description": "number of results",
            "x-ms-summary": "Limit",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 20,
			"x-ms-visibility": "advanced"
          },
          {
            "name": "offset",
            "description": "Offset",
            "x-ms-summary": "Offset",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 0,
			"x-ms-visibility": "advanced"
          },
          {
            "name": "tags",
            "description": "Add tags (coma separated) to search items",
            "x-ms-summary": "Tag(s)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "tagOperator",
            "description": "Use AND (default) to retrieve items with all tags, OR to retrieve items with any of the provided tags",
            "x-ms-summary": "tagOperator",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-visibility": "advanced"
          },
          {
            "name": "search",
            "description": "Search for any text in document's name",
            "x-ms-summary": "Search text",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x_tilk_ref",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "tags": [
          "Item"
        ],
        "responses": {
          "default": {
            "description": "Item info",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Item id"
                  },
                  "title": {
                    "type": "string",
                    "description": "Item title"
                  },
                  "usable": {
                    "type": "boolean",
                    "description": "Item usable?"
                  },
                  "element_type": {
                    "type": "string",
                    "description": "Item element_type?"
                  },
                  "extension": {
                    "type": "string",
                    "description": "Item extension"
                  },
                  "type": {
                    "type": "string",
                    "description": "Item type"
                  },
                  "external_id": {
                    "type": "string",
                    "description": "Item external_id"
                  },
                  "tags": {
                    "type": "array",
                    "items": {},
                    "description": "Item tags"
                  },
                  "favorite": {
                    "type": "boolean",
                    "description": "Item favorite?"
                  },
                  "file_version": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Item file_version"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Item visible?"
                  },
                  "thumbnail_url": {
                    "type": "string",
                    "description": "Item thumbnail_url"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "Item created_at"
                  },
                  "updated_at": {
                    "type": "string",
                    "description": "Item updated_at"
                  },
                  "replaced_at": {
                    "type": "string",
                    "description": "Item replaced_at"
                  },
                  "s3_url": {
                    "type": "string",
                    "description": "Item url"
                  },
                  "content_url": {
                    "type": "string",
                    "description": "Item content_url"
                  },
                  "convert_status": {
                    "type": "object",
                    "properties": {
                      "complete_base": {
                        "type": "boolean",
                        "description": "Item convert complete_base"
                      },
                      "complete_full": {
                        "type": "boolean",
                        "description": "Item convert complete_full"
                      },
                      "status": {
                        "type": "array",
                        "items": {},
                        "description": "Item convert status"
                      }
                    },
                    "description": "Item convert_status"
                  },
                  "owner": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "type": "string",
                        "description": "Item owner first_name"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "Item owner last_name"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Item owner id"
                      },
                      "email": {
                        "type": "string",
                        "description": "Item owner email"
                      },
                      "avatar": {
                        "type": "string",
                        "description": "Item owner avatar"
                      }
                    },
                    "description": "Item owner"
                  }
                }
              }
            }
          }
        },
        "summary": "Create an item",
        "description": "Create a new item before adding it to a project",
        "operationId": "ItemCreate",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x_tilk_ref",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "type",
                    "title": "",
                    "enum": [
                      "file",
                      "text",
                      "link"
                    ]
                  },
                  "url": {
                    "title": "iFrame URL (when type=link)",
                    "type": "string",
                    "description": "Accessible URL, which will be displayed in an iFrame"
                  },
                  "s3_url": {
                    "title": "Document URL (when type=file)",
                    "type": "string",
                    "description": "Accessible URL of the document. This URL is retrieved after posting a file using ITEMS route"
                  },
                  "content": {
                    "title": "Text content (when type=text)",
                    "type": "string",
                    "description": "Any HTML content that will be displayed in viewer"
                  },
                  "title": {
                    "title": "Document name",
                    "type": "string",
                    "description": "To be used with TEXT and LINK items only"
                  },
				  "name": {
                    "title": "File name",
                    "type": "string",
                    "description": "To be used with FILE items only"
                  },
                  "external_id": {
                    "type": "string",
                    "title": "External Id",
                    "description": "ID of the contact in your system",
                    "x-ms-visibility": "advanced"
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/direct_upload_data": {
      "get": {
        "tags": [
          "DirectUploadData"
        ],
        "responses": {
          "default": {
            "description": "Direct Upload Data",
            "schema": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "title": "Direct Upload key"
                },
                "acl": {
                  "type": "string",
                  "title": "Direct Upload acl"
                },
                "policy": {
                  "type": "string",
                  "title": "Direct Upload policy"
                },
                "signature": {
                  "type": "string",
                  "title": "Direct Upload signature"
                },
                "AWSAccessKeyId": {
                  "type": "string",
                  "title": "Direct Upload AWSAccessKeyId"
                },
                "success_action_status": {
                  "type": "string",
                  "title": "Direct Upload success_action_status"
                },
                "s3_endpoint": {
                  "type": "string",
                  "title": "Direct Upload endpoint"
                },
                "name": {
                  "type": "string",
                  "title": "File name"
                }
              }
            }
          }
        },
        "summary": "Upload information",
        "description": "Retrieve S3 upload information to upload file in Tilkee's platform. After retrieving this info, you should POST your file to 's3_endpoint, with key, acl, policy, signature & AWSAccessKeyId parameters. Amazon\u2019s response is the URL you need to create your item in Tilkee.",
        "operationId": "DirectUploadInformation",
        "parameters": [
          {
            "name": "filename",
            "description": "Filename, with extension",
            "x-ms-summary": "Filename with extension",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "original_filename",
            "description": "Filename, without extension",
            "x-ms-summary": "Filename without extension",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "check_existing",
            "description": "Check existing files with sames name?",
            "x-ms-summary": "check_existing",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x_tilk_ref",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/notifications": {
      "x-ms-notification-content": {
        "description": "notifications",
        "schema": {
          "type": "object",
          "properties": {
            "token": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Link id",
				  "title": "link.id"
                },
                "url": {
                  "type": "string",
                  "description": "Link URL",
				  "title": "link.url"
                },
                "won": {
                  "type": "string",
                  "description": "Link verdict",
				  "title": "link.verdict"
                },
                "name": {
                  "type": "string",
                  "description": "Link name",
				  "title": "link.name"
                },
                "signed": {
                  "type": "boolean",
                  "description": "Link Signed?",
				  "title": "link.Signed"
                },
                "interest": {
                  "type": "number",
                  "format": "float",
                  "description": "Link interest",
				  "title": "link.interest"
                },
                "created_at": {
                  "type": "string",
                  "description": "Link created_at",
				  "title": "link.created_at"
                },
                "creator_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Link creator_id",
				  "title": "link.creator_id"
                },
                "downloaded": {
                  "type": "boolean",
                  "description": "Link downloaded?",
				  "title": "link.downloaded"
                },
                "total_time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Link total_time",
				  "title": "link.total_time"
                },
                "archived_at": {
                  "type": "string",
                  "description": "Link archived_at",
				  "title": "link.archived_at"
                },
                "external_id": {
                  "type": "string",
                  "description": "Link external_id",
				  "title": "link.external_id"
                },
                "hot_prospect": {
                  "type": "boolean",
                  "description": "Link hot_prospect?",
				  "title": "link.hot_prospect"
                },
                "cc_recipients": {
                  "type": "string",
                  "description": "Link cc_recipients",
				  "title": "link.cc_recipients"
                },
                "external_data": {
                  "type": "string",
                  "description": "Link external_data",
				  "title": "link.external_data"
                },
                "signed_status": {
                  "type": "string",
                  "description": "Link signed_status",
				  "title": "link.signed_status"
                },
                "first_access_at": {
                  "type": "string",
                  "description": "Link first_access_at",
				  "title": "link.first_access_at"
                },
                "connections_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Link connections_count",
				  "title": "link.connections_count"
                },
                "most_visited_time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Link most_visited_time",
				  "title": "link.most_visited_time"
                },
                "most_visited_title": {
                  "type": "string",
                  "description": "Link most_visited_title",
				  "title": "link.most_visited_title"
                }
              },
              "description": "Link"
            },
            "project": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Project id",
				  "title": "project.id"
                },
                "url": {
                  "type": "string",
                  "description": "Project url",
				  "title": "project.url"
                },
                "name": {
                  "type": "string",
                  "description": "Project name",
				  "title": "project.name"
                },
                "tags": {
                  "type": "array",
                  "items": {},
                  "description": "Project tags",
				  "title": "project.tags"
                },
                "leader": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Project leader id",
				  "title": "project.leader_id"
                    },
                    "last_name": {
                      "type": "string",
                      "description": "Project leader last_name",
				  "title": "project.leader_last_name"
                    },
                    "first_name": {
                      "type": "string",
                      "description": "Project leader first_name",
				  "title": "project.leader_first_name"
                    }
                  },
                  "description": "Project leader"
                },
                "signed": {
                  "type": "boolean",
                  "description": "Project signed?",
				  "title": "project.signed"
                },
                "avg_time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Project avg_time",
				  "title": "project.avg_time"
                },
                "interest": {
                  "type": "number",
                  "format": "float",
                  "description": "Project interest",
				  "title": "project.interest"
                },
                "owner_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Project owner_id",
				  "title": "project.owner_id"
                },
                "created_at": {
                  "type": "string",
                  "description": "Project created_at",
				  "title": "project.created_at"
                },
                "downloaded": {
                  "type": "boolean",
                  "description": "Project downloaded",
				  "title": "project.downloaded"
                },
                "total_time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Project total_time",
				  "title": "project.total_time"
                },
                "archived_at": {
                  "type": "string",
                  "description": "Project archived_at",
				  "title": "project.archived_at"
                },
                "external_id": {
                  "type": "string",
                  "description": "Project external_id",
				  "title": "project.external_id"
                },
                "owner_email": {
                  "type": "string",
                  "description": "Project owner_email",
				  "title": "project.owner_email"
                },
                "platform_ids": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Project platform_ids",
				  "title": "project.platform_ids"
                },
                "connexion_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Project connexion_count",
				  "title": "project.connexion_count"
                },
                "first_access_at": {
                  "type": "string",
                  "description": "Project first_access_at",
				  "title": "project.first_access_at"
                },
                "most_visited_time": {
                  "type": "string",
                  "description": "Project most_visited_time",
				  "title": "project.most_visited_time"
                },
                "most_visited_title": {
                  "type": "string",
                  "description": "Project most_visited_title",
				  "title": "project.most_visited_title"
                },
                "median_percentage_read": {
                  "type": "number",
                        "format": "float",
                  "description": "Project median_percentage_read",
				  "title": "project.median_percentage_read"
                }
              },
              "description": "Project"
            },
            "connexion": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Connexion id",
				  "title": "connexion.id"
                },
                "title": {
                  "type": "string",
                  "description": "Connexion title",
				  "title": "connexion.title"
                },
                "signed": {
                  "type": "boolean",
                  "description": "Connexion signed?",
				  "title": "connexion.signed"
                },
                "created_at": {
                  "type": "string",
                  "description": "Connexion created_at",
				  "title": "connexion.created_at"
                },
                "downloaded": {
                  "type": "boolean",
                  "description": "Connexion downloaded?",
				  "title": "connexion.downloaded"
                },
                "new_person": {
                  "type": "boolean",
                  "description": "Connexion new_person?",
				  "title": "connexion.new_person"
                },
                "total_time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Connexion total_time",
				  "title": "connexion.total_time"
                },
                "user_agent": {
                  "type": "string",
                  "description": "Connexion user_agent",
				  "title": "connexion.user_agent"
                },
                "access_date": {
                  "type": "string",
                  "description": "Connexion access_date",
				  "title": "connexion.access_date"
                },
                "platform_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Connexion platform_id",
				  "title": "connexion.platform_id"
                },
                "percentage_read": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Connexion percentage_read",
				  "title": "connexion.percentage_read"
                },
                "most_visited_time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Connexion most_visited_time",
				  "title": "connexion.most_visited_time"
                },
                "most_visited_title": {
                  "type": "string",
                  "description": "Connexion most_visited_title",
				  "title": "connexion.most_visited_title"
                }
              },
              "description": "Connexion"
            },
            "product_title": {
              "type": "string",
              "description": "Product title"
            },
            "event": {
              "type": "string",
              "description": "event"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Webhook"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object"
            }
          }
        },
        "summary": "Subscribe to a Tilkee event",
        "operationId": "OnTilkeeEvent",
        "description": "Trigger your Flow when this event is triggered in Tilkee",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x_tilk_ref",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "rule": {
                  "type": "string",
                  "description": "Notification triggers",
                  "title": "Any of connexion_started, connexion_ended, token_signed, token_created, project_archived, unactivated_project_accessed, user_created",
                  "default": "connexion_ended",
                  "x-ms-visibility": "important",
                  "enum": [
                    "connexion_started",
                    "connexion_ended",
                    "token_signed",
                    "token_created",
                    "project_archived",
                    "unactivated_project_accessed",
                    "user_created"
                  ]
                },
                "user_id": {
                  "type": "string",
                  "description": "Only send notifications for this user's projects",
                  "title": "User ID",
                  "x-ms-visibility": "advanced"
                },
				"project_id": {
                  "type": "string",
                  "description": "Only send notifications for this projects",
                  "title": "Project ID",
                  "x-ms-visibility": "advanced"
                },
				"url": {
                  "type": "string",
                  "description": "Url to send notifications to",
                  "title": "Notification URL",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "target": {
                  "type": "string",
                  "description": "target",
                  "title": "Notification Target",
                  "x-ms-visibility": "internal",
                  "default": "Webhook"
                }
              },
              "required": [
                "rule",
                "target",
                "url"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}