{
  "swagger": "2.0",
  "info": {
    "version": "2.0.0",
    "description": "Tilkee is an online platform that makes cross-functional collaboration happen. Combining deep knowledge of sales enablement with augmented intelligence, the vision of the team behind Tilkee is to align marketing with sales and guide Sales, Product Marketing, Channel Enablement, and Customer Success teams towards digital transformation.",
    "title": "Tilkee",
    "contact": {
      "name": "Tilkee support",
      "url": "https://help.tilkee.com",
      "email": "support@tilkee.com"
    }
  },
  "host": "endpoints.tilkee.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v3/users/me/": {
      "get": {
        "description": "Retrieve current user details",
        "summary": "Get current user information",
        "tags": [
          "Users"
        ],
        "operationId": "retrieve_me_v3_users_me__get",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        }
      }
    },
    "/v3/items/": {
      "get": {
        "description": "List Items",
        "summary": "Get items list",
        "tags": [
          "Items"
        ],
        "operationId": "list_items_v3_items__get",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Search using keywords you tagged on the items.",
            "x-ms-summary": "Tags"
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "tags",
                "owner",
                "images",
                "sharing_settings",
                "projects"
              ]
            },
            "description": "Add related objects to your query results.",
            "x-ms-summary": "Tags"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "description": "Navigate to your query results pages using this parameter to skip already-read results.",
            "x-ms-summary": "Skip"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "default": 20,
            "type": "integer",
            "format": "int32",
            "description": "Define how many results you want to receive (default: 20)",
            "x-ms-summary": "Limit"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Use keywords to search in items name.",
            "x-ms-summary": "Search"
          },
          {
            "name": "owner_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Find items owned by a specific user by providing his user ID.",
            "x-ms-summary": "Owner ID"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "enum": [
              "Doc",
              "Excel",
              "Image",
              "Video",
              "Iframe",
              "Texte",
              "Medium"
            ],
            "type": "string",
            "description": "Find items of a specific type.",
            "x-ms-summary": "Type"
          },
          {
            "name": "extension",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Find items with a specific extension.",
            "x-ms-summary": "Extension"
          },
          {
            "name": "shared",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Find items that have been shared with you.",
            "x-ms-summary": "Shared"
          },
          {
            "name": "favorite",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Find items that you set as favorite.",
            "x-ms-summary": "Favorite"
          },
          {
            "name": "tag_operator",
            "in": "query",
            "required": false,
            "enum": [
              "AND",
              "OR"
            ],
            "type": "string",
            "description": "Define if query with tags must use AND or OR operators to retrieve items.",
            "x-ms-summary": "Tag operator"
          },
          {
            "name": "created_at_start",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Define a date, items retrieved will be the ones created after this specific date.",
            "x-ms-summary": "Created at (start)"
          },
          {
            "name": "created_at_end",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Define a date, items retrieved will be the ones created before this specific date.",
            "x-ms-summary": "Created at (end)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      },
      "post": {
        "description": "Create Items",
        "summary": "Post new item",
        "tags": [
          "Items"
        ],
        "operationId": "create_items_v3_items__post",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": "Must be application/json",
            "x-ms-summary": "Content-type"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Describe your new item.",
            "x-ms-summary": "Body",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ItemCreate"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "default": [],
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v3/projects/": {
      "get": {
        "description": "List Projects",
        "summary": "Get projects list",
        "tags": [
          "Projects"
        ],
        "operationId": "list_projects_v3_projects__get",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Search using keywords you tagged on the projects.",
            "x-ms-summary": "Tags"
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "tags",
                "owner",
                "sharing_settings",
                "vcard",
                "theme",
                "data",
                "iframe"
              ]
            },
            "description": "Add related objects to your query results.",
            "x-ms-summary": "Expand"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "description": "Navigate to your query results pages using this parameter to skip already-read results.",
            "x-ms-summary": "Skip"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "default": 20,
            "type": "integer",
            "format": "int32",
            "description": "Define how many results you want to receive (default: 20)",
            "x-ms-summary": "Limit"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Use keywords to search in projects name.",
            "x-ms-summary": "Search"
          },
          {
            "name": "owner_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Find items owned by a specific user by providing his user ID.",
            "x-ms-summary": "Owner ID"
          },
          {
            "name": "shared",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Find projects that have been shared with you.",
            "x-ms-summary": "Shared"
          },
          {
            "name": "consulted",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Find projects that have already been consulted.",
            "x-ms-summary": "Consulted"
          },
          {
            "name": "consultable",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Find projects that are consultable.",
            "x-ms-summary": "Consultable"
          },
          {
            "name": "signed",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Find projects that have already been signed.",
            "x-ms-summary": "Signed"
          },
          {
            "name": "favorite",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Find projects that you set as favorite.",
            "x-ms-summary": "Favorite"
          },
          {
            "name": "verdict",
            "in": "query",
            "required": false,
            "enum": [
              "won",
              "lost",
              "na",
              "unset"
            ],
            "type": "string",
            "description": "Find projects that are won, lost, na or unset.",
            "x-ms-summary": "Verdict"
          },
          {
            "name": "is_template",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Find projects that are templates.",
            "x-ms-summary": "Is template"
          },
          {
            "name": "created_at_start",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Define a date, projects retrieved will be the ones created after this specific date.",
            "x-ms-summary": "Created at (start)"
          },
          {
            "name": "created_at_end",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Define a date, projects retrieved will be the ones created before this specific date.",
            "x-ms-summary": "Created at (end)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "$ref": "#/definitions/ProjectsList"
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v3/projects/{id}/": {
      "get": {
        "description": "Retrieve Project",
        "summary": "Get a project details",
        "tags": [
          "Projects"
        ],
        "operationId": "retrieve_project_v3_projects__id___get",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Provide the Project ID of the project you want to find.",
            "x-ms-summary": "Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "tags",
                "owner",
                "sharing_settings",
                "vcard",
                "theme",
                "data",
                "iframe"
              ]
            },
            "description": "Add related objects to your query results.",
            "x-ms-summary": "Expand"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      },
      "put": {
        "description": "Update Project",
        "summary": "Update a project",
        "tags": [
          "Projects"
        ],
        "operationId": "update_project_v3_projects__id___put",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Provide ID of the project you want to update",
            "x-ms-summary": "Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": "Must be application/json",
            "x-ms-summary": "Content-type"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Provide your new Project details.",
            "x-ms-summary": "Body",
            "schema": {
              "$ref": "#/definitions/ProjectUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v3/projects/{id}/components/": {
      "post": {
        "description": "Add Components",
        "summary": "Add component to a project",
        "tags": [
          "Projects"
        ],
        "operationId": "add_components_v3_projects__id__components__post",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Provide the Id of the project on which you will add your new components",
            "x-ms-summary": "Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": "Must be application/json",
            "x-ms-summary": "Content-type"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Define the component you will add to your project.",
            "x-ms-summary": "Body",
            "schema": {
              "$ref": "#/definitions/ComponentCreateList"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "$ref": "#/definitions/ComponentsList"
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v3/projects-wrapper/": {
      "post": {
        "description": "Create Wrapper",
        "summary": "Post a new project",
        "tags": [
          "ProjectsWrapper"
        ],
        "operationId": "create_wrapper_v3_projects_wrapper__post",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": "Must be application/json",
            "x-ms-summary": "Content-type"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Define your project details, components you want to add and the access links you will need.",
            "x-ms-summary": "Body",
            "schema": {
              "$ref": "#/definitions/WrapperCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "$ref": "#/definitions/CreatedProject"
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AccessLinkCreate": {
      "title": "AccessLinkCreate",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "AccessLinkInWrapper": {
      "title": "AccessLinkInWrapper",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      },
      "required": [
        "id",
        "url"
      ]
    },
    "Assignment": {
      "title": "Assignment",
      "type": "object",
      "properties": {
        "user_ids": {
          "example": [],
          "type": "array",
          "default": [],
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "uniqueItems": true
        }
      }
    },
    "Body_oauth_authorize_v3_oauth_authorize__post": {
      "title": "Body_oauth_authorize_v3_oauth_authorize__post",
      "type": "object",
      "properties": {
        "grant_type": {
          "$ref": "#/definitions/GrantType"
        },
        "username": {
          "description": "Required for grant_type 'password'",
          "type": "string"
        },
        "password": {
          "description": "Required for grant_type 'password'",
          "type": "string"
        },
        "scope": {
          "type": "string"
        },
        "client_id": {
          "type": "string"
        },
        "client_secret": {
          "type": "string"
        },
        "refresh_token": {
          "description": "Required for grant_type 'refresh_token'",
          "type": "string"
        },
        "response_type": {
          "type": "string"
        },
        "state": {
          "description": "Required for response_type 'code'",
          "type": "string"
        },
        "redirect_uri": {
          "description": "Required for response_type 'code'",
          "type": "string",
          "minLength": 1,
          "maxLength": 65536
        },
        "has_session_opened": {
          "example": false,
          "type": "boolean",
          "default": false
        },
        "dry": {
          "description": "Dry run for response_type 'code'",
          "example": false,
          "type": "boolean",
          "default": false
        }
      }
    },
    "Body_oauth_token_v3_oauth_token__post": {
      "title": "Body_oauth_token_v3_oauth_token__post",
      "type": "object",
      "properties": {
        "grant_type": {
          "$ref": "#/definitions/GrantType"
        },
        "client_id": {
          "type": "string"
        },
        "client_secret": {
          "type": "string"
        },
        "redirect_uri": {
          "type": "string",
          "minLength": 1,
          "maxLength": 65536
        },
        "code": {
          "type": "string"
        }
      },
      "required": [
        "grant_type",
        "client_id",
        "client_secret",
        "code"
      ]
    },
    "ComponentCreate": {
      "title": "ComponentCreate",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "external_id": {
          "type": "string"
        },
        "tags": {
          "example": [],
          "type": "array",
          "default": [],
          "items": {
            "type": "string"
          }
        },
        "favorite": {
          "example": false,
          "type": "boolean",
          "default": false
        },
        "sharing_settings": {
          "$ref": "#/definitions/SharedCreate"
        },
        "content": {
          "type": "string"
        },
        "format": {
          "description": "document_type:upload_method",
          "type": "string",
          "pattern": "^(document|excel|image|video|iframe|texte|medium):(url|external_url|base64)$"
        },
        "retention": {
          "type": "boolean"
        },
        "retention_delay": {
          "type": "integer",
          "format": "int32"
        },
        "item_id": {
          "type": "integer",
          "format": "int32"
        },
        "downloadable": {
          "example": false,
          "type": "boolean",
          "default": false
        },
        "signable": {
          "example": false,
          "type": "boolean",
          "default": false
        },
        "type": {
          "$ref": "#/definitions/ComponentTypeDisplay"
        },
        "watermark": {
          "$ref": "#/definitions/WatermarkSerializer"
        }
      },
      "required": [
        "name",
        "type"
      ]
    },
    "ComponentCreateList": {
      "title": "ComponentCreateList",
      "type": "object",
      "properties": {
        "components": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ComponentCreate"
          }
        }
      },
      "required": [
        "components"
      ]
    },
    "Component": {
      "title": "Component",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "position": {
          "type": "integer",
          "format": "int32"
        },
        "signable": {
          "type": "boolean"
        },
        "downloadable": {
          "type": "boolean"
        },
        "type": {
          "$ref": "#/definitions/ComponentTypeDisplay"
        },
        "item_id": {
          "type": "integer",
          "format": "int32"
        }
      },
      "required": [
        "id",
        "name",
        "position",
        "type"
      ]
    },
    "ComponentTypeDisplay": {
      "title": "ComponentTypeDisplay",
      "description": "An enumeration.",
      "example": "document",
      "type": "string",
      "enum": [
        "document",
        "separator"
      ]
    },
    "DocImage": {
      "title": "DocImage",
      "type": "object",
      "properties": {
        "pagenum": {
          "type": "integer",
          "format": "int32"
        },
        "url": {
          "type": "string"
        },
        "thumbnail_url": {
          "type": "string"
        },
        "data": {
          "$ref": "#/definitions/DocImageData"
        }
      },
      "required": [
        "pagenum",
        "url",
        "thumbnail_url",
        "data"
      ]
    },
    "DocImageData": {
      "title": "DocImageData",
      "type": "object",
      "properties": {
        "links": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "width": {
          "type": "number",
          "format": "double"
        },
        "height": {
          "type": "number",
          "format": "double"
        },
        "forms": {
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      }
    },
    "ElementType": {
      "title": "ElementType",
      "description": "An enumeration.",
      "example": "Doc",
      "type": "string",
      "enum": [
        "Doc",
        "Excel",
        "Image",
        "Video",
        "Iframe",
        "Texte",
        "Medium"
      ]
    },
    "GrantType": {
      "title": "GrantType",
      "description": "An enumeration.",
      "example": "password",
      "type": "string",
      "enum": [
        "password",
        "refresh_token",
        "authorization_code"
      ]
    },
    "HTTPExceptionResponse": {
      "title": "HTTPExceptionResponse",
      "example": {
        "detail": "HTTPException raised"
      },
      "type": "object",
      "properties": {
        "detail": {
          "type": "string"
        }
      },
      "required": [
        "detail"
      ]
    },
    "HTTPValidationError": {
      "title": "HTTPValidationError",
      "type": "object",
      "properties": {
        "detail": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationError"
          }
        }
      }
    },
    "ItemCreate": {
      "title": "ItemCreate",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "external_id": {
          "type": "string"
        },
        "tags": {
          "example": [],
          "type": "array",
          "default": [],
          "items": {
            "type": "string"
          }
        },
        "favorite": {
          "example": false,
          "type": "boolean",
          "default": false
        },
        "sharing_settings": {
          "$ref": "#/definitions/SharedCreate"
        },
        "content": {
          "type": "string"
        },
        "format": {
          "description": "document_type:upload_method",
          "type": "string",
          "pattern": "^(document|excel|image|video|iframe):(url|external_url|base64)$"
        },
        "retention": {
          "type": "boolean"
        },
        "retention_delay": {
          "type": "integer",
          "format": "int32"
        }
      },
      "required": [
        "sharing_settings",
        "content",
        "format"
      ]
    },
    "ItemExpandFields": {
      "title": "ItemExpandFields",
      "description": "An enumeration.",
      "example": "tags",
      "type": "string",
      "enum": [
        "tags",
        "owner",
        "images",
        "sharing_settings",
        "projects"
      ]
    },
    "Item": {
      "title": "Item",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "external_id": {
          "type": "string"
        },
        "tags": {
          "example": [],
          "type": "array",
          "default": [],
          "items": {
            "type": "string"
          }
        },
        "favorite": {
          "example": false,
          "type": "boolean",
          "default": false
        },
        "sharing_settings": {
          "$ref": "#/definitions/ShareLight"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "user_id": {
          "type": "integer",
          "format": "int32"
        },
        "element_type": {
          "type": "string",
          "maxLength": 255
        },
        "extension": {
          "type": "string"
        },
        "file_version": {
          "example": 1,
          "type": "integer",
          "default": 1,
          "format": "int32"
        },
        "replaced_at": {
          "type": "string",
          "format": "date-time"
        },
        "processed": {
          "example": false,
          "type": "boolean",
          "default": false
        },
        "retention": {
          "example": false,
          "type": "boolean",
          "default": false
        },
        "retention_delay": {
          "type": "integer",
          "format": "int32"
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time"
        },
        "pages_count": {
          "type": "integer",
          "format": "int32"
        },
        "url": {
          "type": "string"
        },
        "projects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProjectLight"
          }
        },
        "owner": {
          "$ref": "#/definitions/User"
        },
        "images": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocImage"
          }
        }
      },
      "required": [
        "id",
        "user_id",
        "created_at",
        "updated_at"
      ]
    },
    "ProjectData": {
      "title": "ProjectData",
      "type": "object",
      "properties": {
        "total_time": {
          "example": 0,
          "type": "integer",
          "default": 0,
          "format": "int32"
        },
        "signed": {
          "example": false,
          "type": "boolean",
          "default": false
        },
        "connections_count": {
          "example": 0,
          "type": "integer",
          "default": 0,
          "format": "int32"
        },
        "first_access_at": {
          "type": "string",
          "format": "date-time"
        },
        "links_count": {
          "example": 0,
          "type": "integer",
          "default": 0,
          "format": "int32"
        },
        "links_by_prospect_count": {
          "example": 0,
          "type": "integer",
          "default": 0,
          "format": "int32"
        },
        "most_visited_item_id": {
          "type": "integer",
          "format": "int32"
        },
        "most_visited_time": {
          "type": "string"
        },
        "median_percentage_read": {
          "example": 0,
          "type": "number",
          "default": 0,
          "format": "double"
        },
        "median_nb_pages_readed": {
          "example": 0,
          "type": "number",
          "default": 0,
          "format": "double"
        },
        "median_time_before_opening": {
          "example": 0,
          "type": "number",
          "default": 0,
          "format": "double"
        },
        "avg_time_between_first_last": {
          "example": 0,
          "type": "number",
          "default": 0,
          "format": "double"
        },
        "median_time_to_download": {
          "example": 0,
          "type": "number",
          "default": 0,
          "format": "double"
        },
        "median_time_read": {
          "example": 0,
          "type": "number",
          "default": 0,
          "format": "double"
        },
        "platforms_count": {
          "example": 0,
          "type": "integer",
          "default": 0,
          "format": "int32"
        },
        "phones_platform_count": {
          "example": 0,
          "type": "integer",
          "default": 0,
          "format": "int32"
        },
        "computers_platform_count": {
          "example": 0,
          "type": "integer",
          "default": 0,
          "format": "int32"
        },
        "others_platform_count": {
          "example": 0,
          "type": "integer",
          "default": 0,
          "format": "int32"
        },
        "tokens_consulted_count": {
          "example": 0,
          "type": "integer",
          "default": 0,
          "format": "int32"
        },
        "items_count": {
          "example": 0,
          "type": "integer",
          "default": 0,
          "format": "int32"
        },
        "pages_count": {
          "example": 0,
          "type": "integer",
          "default": 0,
          "format": "int32"
        },
        "connexions_failed_count": {
          "example": 0,
          "type": "integer",
          "default": 0,
          "format": "int32"
        },
        "used_as_template_count": {
          "example": 0,
          "type": "integer",
          "default": 0,
          "format": "int32"
        },
        "clicked_links_count": {
          "example": 0,
          "type": "integer",
          "default": 0,
          "format": "int32"
        },
        "interest": {
          "example": 0,
          "type": "number",
          "default": 0,
          "format": "double"
        }
      }
    },
    "ProjectExpandFields": {
      "title": "ProjectExpandFields",
      "description": "An enumeration.",
      "example": "tags",
      "type": "string",
      "enum": [
        "tags",
        "owner",
        "sharing_settings",
        "vcard",
        "theme",
        "data",
        "iframe"
      ]
    },
    "ProjectLight": {
      "title": "ProjectLight",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "downloadable": {
          "example": false,
          "type": "boolean",
          "default": false
        },
        "expiration_date": {
          "type": "string",
          "format": "date-time"
        },
        "tags": {
          "example": [],
          "type": "array",
          "default": [],
          "items": {
            "type": "string"
          }
        },
        "external_id": {
          "type": "string"
        },
        "sharing_settings": {
          "$ref": "#/definitions/Assignment"
        },
        "notifications_enabled": {
          "example": true,
          "type": "boolean",
          "default": true
        },
        "email_cible": {
          "example": [],
          "type": "array",
          "default": [],
          "items": {
            "type": "string"
          }
        },
        "theme_id": {
          "type": "integer",
          "format": "int32"
        },
        "vcard_id": {
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time"
        },
        "url": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "signable": {
          "type": "boolean"
        },
        "signed": {
          "type": "boolean"
        },
        "processed": {
          "type": "boolean"
        },
        "is_template": {
          "example": false,
          "type": "boolean",
          "default": false
        },
        "verdict": {
          "example": "unset",
          "type": "string",
          "default": "unset"
        },
        "favorite": {
          "example": false,
          "type": "boolean",
          "default": false
        },
        "duration": {
          "type": "integer",
          "format": "int32"
        }
      },
      "required": [
        "name",
        "id",
        "created_at",
        "updated_at",
        "url",
        "signable",
        "signed",
        "processed"
      ]
    },
    "Project": {
      "title": "Project",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "downloadable": {
          "example": false,
          "type": "boolean",
          "default": false
        },
        "expiration_date": {
          "type": "string",
          "format": "date-time"
        },
        "tags": {
          "example": [],
          "type": "array",
          "default": [],
          "items": {
            "type": "string"
          }
        },
        "external_id": {
          "type": "string"
        },
        "sharing_settings": {
          "$ref": "#/definitions/Assignment"
        },
        "notifications_enabled": {
          "example": true,
          "type": "boolean",
          "default": true
        },
        "email_cible": {
          "example": [],
          "type": "array",
          "default": [],
          "items": {
            "type": "string"
          }
        },
        "theme_id": {
          "type": "integer",
          "format": "int32"
        },
        "vcard_id": {
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time"
        },
        "url": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "signable": {
          "type": "boolean"
        },
        "signed": {
          "type": "boolean"
        },
        "processed": {
          "type": "boolean"
        },
        "owner": {
          "$ref": "#/definitions/User"
        },
        "data": {
          "$ref": "#/definitions/ProjectData"
        },
        "iframe": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "is_template": {
          "example": false,
          "type": "boolean",
          "default": false
        },
        "verdict": {
          "example": "unset",
          "type": "string",
          "default": "unset"
        },
        "favorite": {
          "example": false,
          "type": "boolean",
          "default": false
        },
        "theme": {
          "$ref": "#/definitions/Theme"
        },
        "vcard": {
          "$ref": "#/definitions/Vcard"
        },
        "duration": {
          "type": "integer",
          "format": "int32"
        }
      },
      "required": [
        "name",
        "id",
        "created_at",
        "updated_at",
        "url",
        "signable",
        "signed",
        "processed"
      ]
    },
    "ProjectUpdate": {
      "title": "ProjectUpdate",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "downloadable": {
          "example": false,
          "type": "boolean",
          "default": false
        },
        "expiration_date": {
          "type": "string",
          "format": "date-time"
        },
        "tags": {
          "example": [],
          "type": "array",
          "default": [],
          "items": {
            "type": "string"
          }
        },
        "external_id": {
          "type": "string"
        },
        "sharing_settings": {
          "$ref": "#/definitions/Assignment"
        },
        "notifications_enabled": {
          "example": true,
          "type": "boolean",
          "default": true
        },
        "email_cible": {
          "example": [],
          "type": "array",
          "default": [],
          "items": {
            "type": "string"
          }
        },
        "theme_id": {
          "type": "integer",
          "format": "int32"
        },
        "vcard_id": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ProjectWrapperCreate": {
      "title": "ProjectWrapperCreate",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "downloadable": {
          "example": false,
          "type": "boolean",
          "default": false
        },
        "expiration_date": {
          "type": "string",
          "format": "date-time"
        },
        "tags": {
          "example": [],
          "type": "array",
          "default": [],
          "items": {
            "type": "string"
          }
        },
        "external_id": {
          "type": "string"
        },
        "sharing_settings": {
          "$ref": "#/definitions/Assignment"
        },
        "notifications_enabled": {
          "example": true,
          "type": "boolean",
          "default": true
        },
        "email_cible": {
          "example": [],
          "type": "array",
          "default": [],
          "items": {
            "type": "string"
          }
        },
        "vcard_id": {
          "type": "integer",
          "format": "int32"
        },
        "theme_id": {
          "type": "integer",
          "format": "int32"
        },
        "is_template": {
          "example": false,
          "type": "boolean",
          "default": false
        }
      },
      "required": [
        "name"
      ]
    },
    "SharedCreate": {
      "title": "SharedCreate",
      "type": "object",
      "properties": {
        "user_ids": {
          "example": [],
          "type": "array",
          "default": [],
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "all": {
          "example": false,
          "type": "boolean",
          "default": false
        },
        "team": {
          "example": false,
          "type": "boolean",
          "default": false
        }
      }
    },
    "ShareLight": {
      "title": "ShareLight",
      "type": "object",
      "properties": {
        "user_ids": {
          "example": [],
          "type": "array",
          "default": [],
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "all": {
          "example": false,
          "type": "boolean",
          "default": false
        },
        "team": {
          "example": false,
          "type": "boolean",
          "default": false
        }
      }
    },
    "TagOperatorField": {
      "title": "TagOperatorField",
      "description": "An enumeration.",
      "example": "AND",
      "type": "string",
      "enum": [
        "AND",
        "OR"
      ]
    },
    "Theme": {
      "title": "Theme",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "logo": {
          "type": "string"
        },
        "main_color": {
          "type": "string"
        },
        "secondary_color": {
          "type": "string"
        },
        "text_color": {
          "type": "string"
        },
        "downloadable": {
          "example": true,
          "type": "boolean",
          "default": true
        },
        "sign_provider": {
          "example": "Tilkee",
          "type": "string",
          "default": "Tilkee"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time"
        }
      },
      "required": [
        "name",
        "main_color",
        "secondary_color",
        "text_color",
        "id",
        "created_at",
        "updated_at"
      ]
    },
    "Token": {
      "title": "Token",
      "type": "object",
      "properties": {
        "access_token": {
          "type": "string"
        },
        "token_type": {
          "type": "string"
        },
        "expires_in": {
          "type": "number",
          "format": "double"
        },
        "refresh_token": {
          "type": "string"
        }
      },
      "required": [
        "access_token",
        "token_type",
        "expires_in",
        "refresh_token"
      ]
    },
    "TokenRevokedBase": {
      "title": "TokenRevokedBase",
      "type": "object",
      "properties": {
        "refresh_token": {
          "type": "string"
        }
      },
      "required": [
        "refresh_token"
      ]
    },
    "User": {
      "title": "User",
      "type": "object",
      "properties": {
        "first_name": {
          "type": "string"
        },
        "last_name": {
          "type": "string"
        },
        "avatar": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        }
      },
      "required": [
        "email"
      ]
    },
    "ValidationError": {
      "title": "ValidationError",
      "type": "object",
      "properties": {
        "loc": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "msg": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      },
      "required": [
        "loc",
        "msg",
        "type"
      ]
    },
    "Vcard": {
      "title": "Vcard",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "default": {
          "example": false,
          "type": "boolean",
          "default": false
        },
        "user_name": {
          "type": "string"
        },
        "avatar": {
          "type": "string"
        },
        "position": {
          "type": "string"
        },
        "company_name": {
          "type": "string"
        },
        "phone_number": {
          "type": "string"
        },
        "contact_email": {
          "type": "string"
        },
        "cell_phone_number": {
          "type": "string"
        },
        "twitter_account_url": {
          "type": "string"
        },
        "linkedin_account_url": {
          "type": "string"
        },
        "facebook_account_url": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        }
      },
      "required": [
        "id",
        "created_at"
      ]
    },
    "Verdict": {
      "title": "Verdict",
      "description": "An enumeration.",
      "example": "won",
      "type": "string",
      "enum": [
        "won",
        "lost",
        "na",
        "unset"
      ]
    },
    "WatermarkSerializer": {
      "title": "WatermarkSerializer",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "position": {
          "description": "Comma separated list of int, eg \"1,2,3,4\"",
          "type": "string"
        }
      },
      "required": [
        "text"
      ]
    },
    "WrapperCreate": {
      "title": "WrapperCreate",
      "type": "object",
      "properties": {
        "project_id_to_clone": {
          "type": "integer",
          "format": "int32"
        },
        "project": {
          "$ref": "#/definitions/ProjectWrapperCreate"
        },
        "components": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ComponentCreate"
          }
        },
        "access_links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccessLinkCreate"
          }
        }
      }
    },
    "CreatedProject": {
      "title": "CreatedProject",
      "type": "object",
      "properties": {
        "project": {
          "$ref": "#/definitions/Project"
        },
        "components": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Component"
          }
        },
        "access_links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccessLinkInWrapper"
          }
        }
      },
      "required": [
        "project"
      ]
    },
    "ItemsList": {
      "title": "ItemsList",
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Item"
          }
        },
        "has_more": {
          "example": false,
          "type": "boolean",
          "default": false
        }
      },
      "required": [
        "data"
      ]
    },
    "ProjectsList": {
      "title": "ProjectsList",
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Project"
          }
        },
        "has_more": {
          "example": false,
          "type": "boolean",
          "default": false
        }
      },
      "required": [
        "data"
      ]
    },
    "ComponentsList": {
      "title": "ComponentsList",
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Component"
          }
        },
        "has_more": {
          "example": false,
          "type": "boolean",
          "default": false
        }
      }
    }
  },
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://app.tilkee.com/v3/oauth/authorize/",
      "tokenUrl": "https://app.tilkee.com/v3/oauth/token/",
      "scopes": {
        "all": "all"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "all"
      ]
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Regroup all **auth** logic"
    },
    {
      "name": "Users",
      "description": "Regroup all actions concerning **users**"
    },
    {
      "name": "Items",
      "description": "Regroup all actions concerning **items**"
    },
    {
      "name": "Projects",
      "description": "Regroup all actions concerning **projects**"
    },
    {
      "name": "ProjectsWrapper",
      "description": "Regroup all actions concerning **projects-wrapper**"
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://tilkee.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.tilkee.fr/en/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Sales and CRM"
    }
  ]
}