{
  "swagger": "2.0",
  "info": {
    "title": "Tilkee",
    "description": "Tilkee is an online platform that makes cross-functional collaboration happen. Combining deep knowledge of sales enablement with augmented intelligence, the vision of the team behind Tilkee is to align marketing with sales and guide Sales, Product Marketing, Channel Enablement, and Customer Success teams towards digital transformation.",
    "version": "1.0"
  },
  "host": "api.tilkee.com",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/wrapper/token_from_files": {
      "post": {
        "tags": [
          "Wrapper"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "project": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "preview_url": {
                      "type": "string",
                      "description": "preview_url"
                    },
                    "external_id": {
                      "type": "string",
                      "description": "external_id"
                    },
                    "url": {
                      "type": "string",
                      "description": "url"
                    },
                    "iframes": {
                      "type": "object",
                      "properties": {
                        "project": {
                          "type": "string",
                          "description": "project"
                        },
                        "tokens": {
                          "type": "string",
                          "description": "tokens"
                        },
                        "stats": {
                          "type": "string",
                          "description": "stats"
                        },
                        "project_escape": {
                          "type": "string",
                          "description": "project_escape"
                        },
                        "tokens_escape": {
                          "type": "string",
                          "description": "tokens_escape"
                        },
                        "stats_escape": {
                          "type": "string",
                          "description": "stats_escape"
                        }
                      },
                      "description": "iframes"
                    }
                  },
                  "description": "project"
                },
                "tokens": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "project_name": {
                        "type": "string",
                        "description": "project_name"
                      },
                      "link": {
                        "type": "string",
                        "description": "link"
                      },
                      "won": {
                        "type": "string",
                        "description": "won"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "created_at"
                      },
                      "consulted": {
                        "type": "boolean",
                        "description": "consulted"
                      },
                      "signed_status": {
                        "type": "string",
                        "description": "signed_status"
                      },
                      "archived_at": {
                        "type": "string",
                        "description": "archived_at"
                      },
                      "signed": {
                        "type": "boolean",
                        "description": "signed"
                      },
                      "signed_docs": {
                        "type": "array",
                        "items": {},
                        "description": "signed_docs"
                      },
                      "interest": {
                        "type": "number",
                        "description": "interest"
                      },
                      "project_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "project_id"
                      },
                      "preview_url": {
                        "type": "string",
                        "description": "preview_url"
                      },
                      "external_id": {
                        "type": "string",
                        "description": "external_id"
                      },
                      "generated_by_prospect": {
                        "type": "boolean",
                        "description": "generated_by_prospect"
                      },
                      "first_access_at": {
                        "type": "string",
                        "description": "first_access_at"
                      },
                      "doc_more_seen": {
                        "type": "string",
                        "description": "doc_more_seen"
                      },
                      "percent_read": {
                        "type": "string",
                        "description": "percent_read"
                      },
                      "download": {
                        "type": "string",
                        "description": "download"
                      },
                      "downloaded": {
                        "type": "string",
                        "description": "downloaded"
                      },
                      "nb_platforms": {
                        "type": "integer",
                        "format": "int32",
                        "description": "nb_platforms"
                      }
                    }
                  },
                  "description": "tokens"
                }
              }
            }
          }
        },
        "summary": "Create a project, add document(s) and retrieve access link(s)",
        "operationId": "ProjectCreate",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x_tilk_ref",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "project": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Original project id",
                      "type": "string",
                      "description": "Id of an existing project that will be duplicated",
                      "x-ms-visibility": "advanced"
                    },
                    "name": {
                      "title": "Project name",
                      "type": "string",
                      "description": "Project name"
                    },
                    "can_be_downloaded": {
                      "title": "Downloadable?",
                      "type": "boolean",
                      "description": "TRUE if the documents can be downloaded",
                      "x-ms-visibility": "advanced"
                    },
                    "consultable": {
                      "title": "Consultable?",
                      "type": "boolean",
                      "description": "TRUE if the project is consultable",
                      "default": true,
                      "x-ms-visibility": "advanced"
                    },
                    "consultable_until": {
                      "title": "Deadline (date)",
                      "type": "string",
                      "description": "Allow consultation until this date",
                      "x-ms-visibility": "advanced"
                    },
                    "tags": {
                      "title": "Tags",
                      "type": "array",
                      "items": {},
                      "description": "Tags to add to this project (array of string(s))",
                      "x-ms-visibility": "advanced"
                    },
                    "collaborators": {
                      "title": "Collaborators (Ids)",
                      "type": "array",
                      "items": {},
                      "description": "Collaborators to add to this project (array of id(s))",
                      "x-ms-visibility": "advanced"
                    },
                    "is_template": {
                      "title": "Template?",
                      "type": "boolean",
                      "description": "TRUE if this project will be used as a template",
                      "default": false,
                      "x-ms-visibility": "advanced"
                    },
                    "external_id": {
                      "title": "External Id",
                      "type": "string",
                      "description": "Your internal id"
                    },
                    "theme": {
                      "title": "Theme",
                      "type": "object",
                      "properties": {
                        "id": {
                          "title": "Theme ID",
                          "type": "integer",
                          "format": "int32",
                          "description": "An ID of theme"
                        }
                      },
                      "description": "Theme (logo/colors) to be used for this project",
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "required": [
                    "name"
                  ],
                  "description": "Project information"
                },
                "documents": {
                  "title": "Documents",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "title": "Document name",
                        "type": "string",
                        "description": "name"
                      },
                      "s3_url": {
                        "title": "Document URL",
                        "type": "string",
                        "description": "Accessible URL of the document. This URL is retrieved after posting a file using ITEMS route OR by providing a public whitelisted URL, with from_url=TRUE"
                      },
                      "content": {
                        "title": "Base64 encoded content",
                        "type": "string",
                        "description": "Base64 encoded content - must include MIME : data:file/pdf;base64,",
                        "x-ms-visibility": "advanced"
                      },
                      "signable": {
                        "title": "Signable?",
                        "type": "boolean",
                        "description": "TRUE if the document can be signed - used ONLY with PDF files"
                      },
                      "from_url": {
                        "title": "From external URL?",
                        "type": "boolean",
                        "description": "TRUE if Document URL is external to Tilkee",
                        "default": false,
                        "x-ms-visibility": "advanced"
                      },
                      "external_id": {
                        "type": "string",
                        "title": "External Id",
                        "description": "ID of the contact in your system",
                        "x-ms-visibility": "advanced"
                      }
                    }
                  },
                  "description": "Documents to add to the project"
                },
                "person": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of the unique generated link",
                        "title": "Name of the link"
                      },
                      "external_id": {
                        "type": "string",
                        "title": "External Id",
                        "description": "ID of the contact in your system",
                        "x-ms-visibility": "advanced"
                      },
                      "external_data": {
                        "type": "object",
                        "title": "Misc information",
                        "description": "Specific information to be added in case of eSignature and form PDFs",
                        "x-ms-visibility": "advanced"
                      }
                    }
                  },
                  "description": "Access link(s)",
                  "title": "Access links"
                }
              },
              "required": [
                "project"
              ]
            }
          }
        ],
        "description": "Create a project, add document(s) and retrieve access link(s) from this endpoint"
      }
    },
    "/projects": {
      "get": {
        "tags": [
          "Project"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "search": {
                  "type": "string",
                  "description": "search"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "limit"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "offset"
                },
                "total": {
                  "type": "string",
                  "description": "total"
                },
                "order": {
                  "type": "string",
                  "description": "order"
                },
                "contents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "verdict": {
                        "type": "string",
                        "description": "verdict"
                      },
                      "is_template": {
                        "type": "boolean",
                        "description": "is_template"
                      },
                      "can_be_downloaded": {
                        "type": "boolean",
                        "description": "can_be_downloaded"
                      },
                      "preview": {
                        "type": "string",
                        "description": "preview"
                      },
                      "preview_new": {
                        "type": "string",
                        "description": "preview_new"
                      },
                      "duration": {
                        "type": "string",
                        "description": "duration"
                      },
                      "starred": {
                        "type": "boolean",
                        "description": "starred"
                      },
                      "external_id": {
                        "type": "string",
                        "description": "external_id"
                      },
                      "token_url": {
                        "type": "string",
                        "description": "token_url"
                      },
                      "url": {
                        "type": "string",
                        "description": "url"
                      },
                      "signed": {
                        "type": "boolean",
                        "description": "signed"
                      },
                      "signable": {
                        "type": "boolean",
                        "description": "signable"
                      },
                      "consultable": {
                        "type": "boolean",
                        "description": "consultable"
                      },
                      "tags": {
                        "type": "array",
                        "items": {},
                        "description": "tags"
                      },
                      "pt_note": {
                        "type": "number",
                        "format": "float",
                        "description": "pt_note"
                      },
                      "pt_accuracy": {
                        "type": "string",
                        "description": "pt_accuracy"
                      },
                      "pt_won": {
                        "type": "boolean",
                        "description": "pt_won"
                      },
                      "interest": {
                        "type": "number",
                        "format": "float",
                        "description": "interest"
                      },
                      "workspace_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "workspace_id"
                      },
                      "vcard_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "vcard_id"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "project_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "project_id"
                          },
                          "total_time": {
                            "type": "integer",
                            "format": "int32",
                            "description": "total_time"
                          },
                          "signed": {
                            "type": "boolean",
                            "description": "signed"
                          },
                          "last_sign_in_at": {
                            "type": "string",
                            "description": "last_sign_in_at"
                          },
                          "nb_connections": {
                            "type": "integer",
                            "format": "int32",
                            "description": "nb_connections"
                          },
                          "is_or_was_signable": {
                            "type": "boolean",
                            "description": "is_or_was_signable"
                          },
                          "pt_note": {
                            "type": "number",
                            "format": "float",
                            "description": "pt_note"
                          },
                          "pt_accuracy": {
                            "type": "string",
                            "description": "pt_accuracy"
                          },
                          "pt_won": {
                            "type": "boolean",
                            "description": "pt_won"
                          },
                          "first_access_at": {
                            "type": "string",
                            "description": "first_access_at"
                          },
                          "nb_links": {
                            "type": "integer",
                            "format": "int32",
                            "description": "nb_links"
                          },
                          "nb_links_by_prospect": {
                            "type": "integer",
                            "format": "int32",
                            "description": "nb_links_by_prospect"
                          },
                          "most_visited_item_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "most_visited_item_id"
                          },
                          "most_visited_time": {
                            "type": "string",
                            "description": "most_visited_time"
                          },
                          "median_percentage_read": {
                            "type": "integer",
                            "format": "int32",
                            "description": "median_percentage_read"
                          },
                          "median_nb_pages_readed": {
                            "type": "string",
                            "description": "median_nb_pages_readed"
                          },
                          "median_time_before_opening": {
                            "type": "integer",
                            "format": "int32",
                            "description": "median_time_before_opening"
                          },
                          "avg_time_between_first_last": {
                            "type": "string",
                            "description": "avg_time_between_first_last"
                          },
                          "median_time_to_download": {
                            "type": "string",
                            "description": "median_time_to_download"
                          },
                          "median_time_read": {
                            "type": "integer",
                            "format": "int32",
                            "description": "median_time_read"
                          },
                          "nb_platforms": {
                            "type": "integer",
                            "format": "int32",
                            "description": "nb_platforms"
                          },
                          "nb_phones_platform": {
                            "type": "integer",
                            "format": "int32",
                            "description": "nb_phones_platform"
                          },
                          "nb_computers_platform": {
                            "type": "integer",
                            "format": "int32",
                            "description": "nb_computers_platform"
                          },
                          "nb_others_platform": {
                            "type": "integer",
                            "format": "int32",
                            "description": "nb_others_platform"
                          },
                          "nb_tokens_consulted": {
                            "type": "integer",
                            "format": "int32",
                            "description": "nb_tokens_consulted"
                          },
                          "nb_items": {
                            "type": "integer",
                            "format": "int32",
                            "description": "nb_items"
                          },
                          "nb_pages": {
                            "type": "integer",
                            "format": "int32",
                            "description": "nb_pages"
                          },
                          "nb_connexions_failed": {
                            "type": "integer",
                            "format": "int32",
                            "description": "nb_connexions_failed"
                          },
                          "last_created_token_at": {
                            "type": "string",
                            "description": "last_created_token_at"
                          },
                          "nb_used_as_template": {
                            "type": "integer",
                            "format": "int32",
                            "description": "nb_used_as_template"
                          },
                          "clicked_links_count": {
                            "type": "string",
                            "description": "clicked_links_count"
                          },
                          "interest": {
                            "type": "number",
                            "format": "float",
                            "description": "interest"
                          },
                          "pt_note_v2": {
                            "type": "string",
                            "description": "pt_note_v2"
                          }
                        },
                        "description": "data"
                      },
                      "email_cible": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "email_cible"
                      },
                      "alert_on": {
                        "type": "boolean",
                        "description": "alert_on"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "created_at"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "updated_at"
                      },
                      "consultable_until": {
                        "type": "string",
                        "description": "consultable_until"
                      },
                      "last_sign_in_at": {
                        "type": "string",
                        "description": "last_sign_in_at"
                      },
                      "first_access_at": {
                        "type": "string",
                        "description": "first_access_at"
                      },
                      "collaborators_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "collaborators_count"
                      },
                      "convert_status": {
                        "type": "object",
                        "properties": {
                          "complete_base": {
                            "type": "boolean",
                            "description": "complete_base"
                          },
                          "complete_full": {
                            "type": "boolean",
                            "description": "complete_full"
                          }
                        },
                        "description": "convert_status"
                      },
                      "nb_connections": {
                        "type": "integer",
                        "format": "int32",
                        "description": "nb_connections"
                      },
                      "total_time": {
                        "type": "integer",
                        "format": "int32",
                        "description": "total_time"
                      },
                      "leader_first_name": {
                        "type": "string",
                        "description": "leader_first_name"
                      },
                      "leader_last_name": {
                        "type": "string",
                        "description": "leader_last_name"
                      },
                      "leader_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "leader_id"
                      },
                      "leader_email": {
                        "type": "string",
                        "description": "leader_email"
                      },
                      "leader_avatar": {
                        "type": "string",
                        "description": "leader_avatar"
                      },
                      "tokens_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "tokens_count"
                      },
                      "project_items_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "project_items_count"
                      },
                      "nb_used_as_template": {
                        "type": "integer",
                        "format": "int32",
                        "description": "nb_used_as_template"
                      },
                      "email_templates_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "email_templates_count"
                      },
                      "can_edit": {
                        "type": "boolean",
                        "description": "can_edit"
                      }
                    }
                  },
                  "description": "contents"
                }
              }
            }
          }
        },
        "operationId": "ProjectList",
        "summary": "List and search projects or templates",
        "description": "List or search for project or template",
        "parameters": [
          {
            "name": "limit",
            "description": "number of results",
            "x-ms-summary": "Limit",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 20
          },
          {
            "name": "offset",
            "description": "offset",
            "x-ms-summary": "Offset",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "order",
            "description": "Sorting order (-created_at to order by creation date desc)",
            "x-ms-summary": "Order",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "-created_at"
          },
          {
            "name": "is_template",
            "description": "TRUE to retrieve only templates",
            "x-ms-summary": "is template",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": false
          },
          {
            "name": "tags",
            "description": "Add tags (coma separated) to search projects",
            "x-ms-summary": "Tag(s)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "is_owner",
            "description": "TRUE to retrieve only my projects (no projects from other users)",
            "x-ms-summary": "is_owner",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true
          },
          {
            "name": "search",
            "description": "Search for any text in project's or link's name",
            "x-ms-summary": "Search text",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x_tilk_ref",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/projects/{id}": {
      "put": {
        "tags": [
          "Project"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "verdict": {
                  "type": "string",
                  "description": "verdict"
                },
                "is_template": {
                  "type": "boolean",
                  "description": "is_template"
                },
                "can_be_downloaded": {
                  "type": "boolean",
                  "description": "can_be_downloaded"
                },
                "preview": {
                  "type": "string",
                  "description": "preview"
                },
                "preview_new": {
                  "type": "string",
                  "description": "preview_new"
                },
                "duration": {
                  "type": "string",
                  "description": "duration"
                },
                "starred": {
                  "type": "boolean",
                  "description": "starred"
                },
                "external_id": {
                  "type": "string",
                  "description": "external_id"
                },
                "token_url": {
                  "type": "string",
                  "description": "token_url"
                },
                "url": {
                  "type": "string",
                  "description": "url"
                },
                "signed": {
                  "type": "boolean",
                  "description": "signed"
                },
                "signable": {
                  "type": "boolean",
                  "description": "signable"
                },
                "consultable": {
                  "type": "boolean",
                  "description": "consultable"
                },
                "tags": {
                  "type": "array",
                  "items": {},
                  "description": "tags"
                },
                "pt_note": {
                  "type": "string",
                  "description": "pt_note"
                },
                "pt_accuracy": {
                  "type": "string",
                  "description": "pt_accuracy"
                },
                "pt_won": {
                  "type": "string",
                  "description": "pt_won"
                },
                "interest": {
                  "type": "number",
                  "description": "interest"
                },
                "workspace_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "workspace_id"
                },
                "vcard_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "vcard_id"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "project_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "project_id"
                    },
                    "total_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "total_time"
                    },
                    "signed": {
                      "type": "boolean",
                      "description": "signed"
                    },
                    "last_sign_in_at": {
                      "type": "string",
                      "description": "last_sign_in_at"
                    },
                    "nb_connections": {
                      "type": "integer",
                      "format": "int32",
                      "description": "nb_connections"
                    },
                    "is_or_was_signable": {
                      "type": "boolean",
                      "description": "is_or_was_signable"
                    },
                    "pt_note": {
                      "type": "string",
                      "description": "pt_note"
                    },
                    "pt_accuracy": {
                      "type": "string",
                      "description": "pt_accuracy"
                    },
                    "pt_won": {
                      "type": "string",
                      "description": "pt_won"
                    },
                    "first_access_at": {
                      "type": "string",
                      "description": "first_access_at"
                    },
                    "nb_links": {
                      "type": "integer",
                      "format": "int32",
                      "description": "nb_links"
                    },
                    "nb_links_by_prospect": {
                      "type": "integer",
                      "format": "int32",
                      "description": "nb_links_by_prospect"
                    },
                    "most_visited_item_id": {
                      "type": "string",
                      "description": "most_visited_item_id"
                    },
                    "most_visited_time": {
                      "type": "string",
                      "description": "most_visited_time"
                    },
                    "median_percentage_read": {
                      "type": "string",
                      "description": "median_percentage_read"
                    },
                    "median_nb_pages_readed": {
                      "type": "string",
                      "description": "median_nb_pages_readed"
                    },
                    "median_time_before_opening": {
                      "type": "string",
                      "description": "median_time_before_opening"
                    },
                    "avg_time_between_first_last": {
                      "type": "string",
                      "description": "avg_time_between_first_last"
                    },
                    "median_time_to_download": {
                      "type": "string",
                      "description": "median_time_to_download"
                    },
                    "median_time_read": {
                      "type": "string",
                      "description": "median_time_read"
                    },
                    "nb_platforms": {
                      "type": "string",
                      "description": "nb_platforms"
                    },
                    "nb_phones_platform": {
                      "type": "integer",
                      "format": "int32",
                      "description": "nb_phones_platform"
                    },
                    "nb_computers_platform": {
                      "type": "integer",
                      "format": "int32",
                      "description": "nb_computers_platform"
                    },
                    "nb_others_platform": {
                      "type": "integer",
                      "format": "int32",
                      "description": "nb_others_platform"
                    },
                    "nb_tokens_consulted": {
                      "type": "integer",
                      "format": "int32",
                      "description": "nb_tokens_consulted"
                    },
                    "nb_items": {
                      "type": "integer",
                      "format": "int32",
                      "description": "nb_items"
                    },
                    "nb_pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "nb_pages"
                    },
                    "nb_connexions_failed": {
                      "type": "integer",
                      "format": "int32",
                      "description": "nb_connexions_failed"
                    },
                    "last_created_token_at": {
                      "type": "string",
                      "description": "last_created_token_at"
                    },
                    "nb_used_as_template": {
                      "type": "integer",
                      "format": "int32",
                      "description": "nb_used_as_template"
                    },
                    "clicked_links_count": {
                      "type": "string",
                      "description": "clicked_links_count"
                    },
                    "interest": {
                      "type": "string",
                      "description": "interest"
                    },
                    "pt_note_v2": {
                      "type": "string",
                      "description": "pt_note_v2"
                    }
                  },
                  "description": "data"
                },
                "email_cible": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "email_cible"
                },
                "alert_on": {
                  "type": "boolean",
                  "description": "alert_on"
                },
                "created_at": {
                  "type": "string",
                  "description": "created_at"
                },
                "updated_at": {
                  "type": "string",
                  "description": "updated_at"
                },
                "consultable_until": {
                  "type": "string",
                  "description": "consultable_until"
                },
                "last_sign_in_at": {
                  "type": "string",
                  "description": "last_sign_in_at"
                },
                "first_access_at": {
                  "type": "string",
                  "description": "first_access_at"
                },
                "collaborators_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "collaborators_count"
                },
                "convert_status": {
                  "type": "object",
                  "properties": {
                    "complete_base": {
                      "type": "boolean",
                      "description": "complete_base"
                    },
                    "complete_full": {
                      "type": "boolean",
                      "description": "complete_full"
                    }
                  },
                  "description": "convert_status"
                },
                "nb_connections": {
                  "type": "integer",
                  "format": "int32",
                  "description": "nb_connections"
                },
                "total_time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total_time"
                },
                "leader": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "first_name": {
                      "type": "string",
                      "description": "first_name"
                    },
                    "last_name": {
                      "type": "string",
                      "description": "last_name"
                    },
                    "full_name": {
                      "type": "string",
                      "description": "full_name"
                    },
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "cell_phone_number": {
                      "type": "string",
                      "description": "cell_phone_number"
                    },
                    "phone_number": {
                      "type": "string",
                      "description": "phone_number"
                    },
                    "contact_email": {
                      "type": "string",
                      "description": "contact_email"
                    },
                    "contact_email_confirmed": {
                      "type": "boolean",
                      "description": "contact_email_confirmed"
                    },
                    "should_receive_emails": {
                      "type": "boolean",
                      "description": "should_receive_emails"
                    },
                    "level_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "level_id"
                    },
                    "devices": {
                      "type": "array",
                      "items": {},
                      "description": "devices"
                    },
                    "tags": {
                      "type": "array",
                      "items": {},
                      "description": "tags"
                    },
                    "properties": {
                      "type": "object",
                      "properties": {},
                      "description": "properties"
                    },
                    "is_owner": {
                      "type": "boolean",
                      "description": "is_owner"
                    },
                    "can_see_stats": {
                      "type": "boolean",
                      "description": "can_see_stats"
                    },
                    "locale": {
                      "type": "string",
                      "description": "locale"
                    },
                    "should_receive_connexion_email": {
                      "type": "boolean",
                      "description": "should_receive_connexion_email"
                    },
                    "frequency_proposal_sumup_email": {
                      "type": "integer",
                      "format": "int32",
                      "description": "frequency_proposal_sumup_email"
                    },
                    "position": {
                      "type": "string",
                      "description": "position"
                    },
                    "avatar": {
                      "type": "string",
                      "description": "avatar"
                    },
                    "linkedin_account_url": {
                      "type": "string",
                      "description": "linkedin_account_url"
                    },
                    "twitter_account_url": {
                      "type": "string",
                      "description": "twitter_account_url"
                    },
                    "facebook_account_url": {
                      "type": "string",
                      "description": "facebook_account_url"
                    },
                    "last_sign_in_at": {
                      "type": "integer",
                      "format": "int32",
                      "description": "last_sign_in_at"
                    },
                    "crisp_session_token": {
                      "type": "string",
                      "description": "crisp_session_token"
                    },
                    "signed_email": {
                      "type": "string",
                      "description": "signed_email"
                    },
                    "payment_method": {
                      "type": "string",
                      "description": "payment_method"
                    },
                    "last_4": {
                      "type": "string",
                      "description": "last_4"
                    },
                    "vcards": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "default": {
                            "type": "boolean",
                            "description": "default"
                          },
                          "user_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "user_id"
                          },
                          "deleted_at": {
                            "type": "string",
                            "description": "deleted_at"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "created_at"
                          },
                          "user_name": {
                            "type": "string",
                            "description": "user_name"
                          },
                          "avatar": {
                            "type": "string",
                            "description": "avatar"
                          },
                          "position": {
                            "type": "string",
                            "description": "position"
                          },
                          "company_name": {
                            "type": "string",
                            "description": "company_name"
                          },
                          "phone_number": {
                            "type": "string",
                            "description": "phone_number"
                          },
                          "contact_email": {
                            "type": "string",
                            "description": "contact_email"
                          },
                          "cell_phone_number": {
                            "type": "string",
                            "description": "cell_phone_number"
                          },
                          "twitter_account_url": {
                            "type": "string",
                            "description": "twitter_account_url"
                          },
                          "linkedin_account_url": {
                            "type": "string",
                            "description": "linkedin_account_url"
                          },
                          "facebook_account_url": {
                            "type": "string",
                            "description": "facebook_account_url"
                          },
                          "dj_json_id": {
                            "type": "string",
                            "description": "dj_json_id"
                          },
                          "processed": {
                            "type": "boolean",
                            "description": "processed"
                          },
                          "company_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "company_id"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "format": "int32",
                                "description": "id"
                              },
                              "parent_id": {
                                "type": "integer",
                                "format": "int32",
                                "description": "parent_id"
                              },
                              "address": {
                                "type": "string",
                                "description": "address"
                              },
                              "postal_code": {
                                "type": "string",
                                "description": "postal_code"
                              },
                              "city": {
                                "type": "string",
                                "description": "city"
                              },
                              "country": {
                                "type": "string",
                                "description": "country"
                              },
                              "created_at": {
                                "type": "string",
                                "description": "created_at"
                              },
                              "updated_at": {
                                "type": "string",
                                "description": "updated_at"
                              },
                              "parent_type": {
                                "type": "string",
                                "description": "parent_type"
                              }
                            },
                            "description": "location"
                          }
                        }
                      },
                      "description": "vcards"
                    },
                    "support_end_date": {
                      "type": "string",
                      "description": "support_end_date"
                    }
                  },
                  "description": "leader"
                },
                "collaborators": {
                  "type": "array",
                  "items": {},
                  "description": "collaborators"
                },
                "theme": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "logo": {
                      "type": "string",
                      "description": "logo"
                    },
                    "main_color": {
                      "type": "string",
                      "description": "main_color"
                    },
                    "secondary_color": {
                      "type": "string",
                      "description": "secondary_color"
                    },
                    "text_color": {
                      "type": "string",
                      "description": "text_color"
                    },
                    "default": {
                      "type": "boolean",
                      "description": "default"
                    },
                    "subdomain": {
                      "type": "string",
                      "description": "subdomain"
                    },
                    "domain": {
                      "type": "string",
                      "description": "domain"
                    },
                    "special_custom_domain": {
                      "type": "boolean",
                      "description": "special_custom_domain"
                    },
                    "legal_overlay": {
                      "type": "boolean",
                      "description": "legal_overlay"
                    },
                    "legal_text": {
                      "type": "string",
                      "description": "legal_text"
                    },
                    "show_gdpr": {
                      "type": "boolean",
                      "description": "show_gdpr"
                    },
                    "legal_config": {
                      "type": "object",
                      "properties": {
                        "form": {
                          "type": "object",
                          "properties": {
                            "list": {
                              "type": "object",
                              "properties": {
                                "de": {
                                  "type": "string",
                                  "description": "de"
                                },
                                "en": {
                                  "type": "string",
                                  "description": "en"
                                },
                                "es": {
                                  "type": "string",
                                  "description": "es"
                                },
                                "fr": {
                                  "type": "string",
                                  "description": "fr"
                                },
                                "pt": {
                                  "type": "string",
                                  "description": "pt"
                                }
                              },
                              "description": "list"
                            },
                            "enabled": {
                              "type": "boolean",
                              "description": "enabled"
                            },
                            "default_local": {
                              "type": "string",
                              "description": "default_local"
                            }
                          },
                          "description": "form"
                        },
                        "text": {
                          "type": "object",
                          "properties": {
                            "list": {
                              "type": "object",
                              "properties": {
                                "de": {
                                  "type": "string",
                                  "description": "de"
                                },
                                "en": {
                                  "type": "string",
                                  "description": "en"
                                },
                                "es": {
                                  "type": "string",
                                  "description": "es"
                                },
                                "fr": {
                                  "type": "string",
                                  "description": "fr"
                                },
                                "pt": {
                                  "type": "string",
                                  "description": "pt"
                                }
                              },
                              "description": "list"
                            },
                            "enabled": {
                              "type": "boolean",
                              "description": "enabled"
                            },
                            "default_local": {
                              "type": "string",
                              "description": "default_local"
                            }
                          },
                          "description": "text"
                        }
                      },
                      "description": "legal_config"
                    },
                    "downloadable": {
                      "type": "boolean",
                      "description": "downloadable"
                    },
                    "download_requestable": {
                      "type": "boolean",
                      "description": "download_requestable"
                    },
                    "show_summary_in_pdf": {
                      "type": "boolean",
                      "description": "show_summary_in_pdf"
                    },
                    "sign_provider": {
                      "type": "string",
                      "description": "sign_provider"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "created_at"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "updated_at"
                    },
                    "workspace_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "workspace_id"
                    }
                  },
                  "description": "theme"
                },
                "tokens_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "tokens_count"
                },
                "project_items_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "project_items_count"
                },
                "nb_used_as_template": {
                  "type": "integer",
                  "format": "int32",
                  "description": "nb_used_as_template"
                },
                "email_templates_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "email_templates_count"
                }
              }
            }
          }
        },
        "summary": "Update a project (verdict, consultable, downloadable...)",
        "description": "Update a project (verdict, consultable, downloadable...)",
        "operationId": "ProjectUpdate",
        "parameters": [
          {
            "name": "id",
            "description": "Tilkee internal id of the project to update",
            "x-ms-summary": "Project id",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x_tilk_ref",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Project name",
                  "title": "Project name"
                },
                "can_be_downloaded": {
                  "title": "Downloadable?",
                  "type": "boolean",
                  "description": "TRUE if the documents can be downloaded",
                  "x-ms-visibility": "advanced"
                },
                "consultable": {
                  "title": "Consultable?",
                  "description": "TRUE if the project if consultable",
                  "type": "boolean",
                  "x-ms-visibility": "advanced"
                },
                "consultable_until": {
                  "title": "Deadline (date)",
                  "type": "string",
                  "description": "Allow consultation until this date",
                  "x-ms-visibility": "advanced"
                },
                "duration": {
                  "title": "Duration (for templates only)",
                  "type": "string",
                  "description": "Used only for templates, you can create projects from this template that will expire xx days later.",
                  "x-ms-visibility": "advanced"
                },
                "external_id": {
                  "title": "External Id",
                  "type": "string",
                  "description": "external_id",
                  "x-ms-visibility": "advanced"
                },
                "starred": {
                  "title": "Starred?",
                  "type": "boolean",
                  "description": "TRUE if is a starred project",
                  "x-ms-visibility": "advanced"
                },
                "tags": {
                  "title": "Tags",
                  "type": "array",
                  "items": {},
                  "description": "Tags to add to this project (array of string(s))",
                  "x-ms-visibility": "advanced"
                },
                "verdict": {
                  "type": "string",
                  "description": "Verdict of the project (won/lost/na)",
                  "title": "Verdict of the project",
                  "enum": [
                    "won",
                    "lost",
                    "na",
                    "nc"
                  ]
                },
                "collaborators": {
                  "title": "Collaborators (Ids)",
                  "type": "array",
                  "items": {},
                  "description": "Collaborators to add to this project (array of id(s))",
                  "x-ms-visibility": "advanced"
                },
                "is_template": {
                  "title": "Template?",
                  "type": "boolean",
                  "description": "TRUE if this project will be used as a template",
                  "x-ms-visibility": "advanced"
                },
                "vcard_id": {
                  "title": "vCard",
                  "type": "integer",
                  "format": "int32",
                  "description": "ID of the vCard to be displayed",
                  "x-ms-visibility": "advanced"
                },
                "alert_on": {
                  "title": "Reading alerts?",
                  "type": "boolean",
                  "description": "Enable reading alerts",
                  "x-ms-visibility": "advanced"
                },
                "email_cible": {
                  "title": "Notification email",
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Other notification email (only for Marketing projects)",
                  "x-ms-visibility": "advanced"
                },
                "theme": {
                  "title": "Theme",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "theme id"
                    }
                  },
                  "description": "Theme (logo/colors) to be used for this project",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        ]
      }
    },
    "/projects/{project_id}/tokens": {
      "post": {
        "tags": [
          "Project"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "contents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "project_name": {
                        "type": "string",
                        "description": "project_name"
                      },
                      "link": {
                        "type": "string",
                        "description": "link"
                      },
                      "won": {
                        "type": "string",
                        "description": "won"
                      },
                      "consulted": {
                        "type": "boolean",
                        "description": "consulted"
                      },
                      "signed_status": {
                        "type": "string",
                        "description": "signed_status"
                      },
                      "signed": {
                        "type": "boolean",
                        "description": "signed"
                      },
                      "signed_docs": {
                        "type": "array",
                        "items": {},
                        "description": "signed_docs"
                      },
                      "interest": {
                        "type": "integer",
                        "format": "int32",
                        "description": "interest"
                      },
                      "project_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "project_id"
                      },
                      "preview_url": {
                        "type": "string",
                        "description": "preview_url"
                      },
                      "external_id": {
                        "type": "string",
                        "description": "external_id"
                      },
                      "generated_by_prospect": {
                        "type": "boolean",
                        "description": "generated_by_prospect"
                      },
                      "doc_more_seen": {
                        "type": "string",
                        "description": "doc_more_seen"
                      },
                      "percent_read": {
                        "type": "string",
                        "description": "percent_read"
                      },
                      "downloaded": {
                        "type": "string",
                        "description": "downloaded"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "created_at"
                      },
                      "archived_at": {
                        "type": "string",
                        "description": "archived_at"
                      },
                      "first_access_at": {
                        "type": "string",
                        "description": "first_access_at"
                      },
                      "download": {
                        "type": "string",
                        "description": "download"
                      },
                      "project": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "verdict": {
                            "type": "string",
                            "description": "verdict"
                          },
                          "is_template": {
                            "type": "boolean",
                            "description": "is_template"
                          },
                          "can_be_downloaded": {
                            "type": "boolean",
                            "description": "can_be_downloaded"
                          },
                          "preview": {
                            "type": "string",
                            "description": "preview"
                          },
                          "preview_new": {
                            "type": "string",
                            "description": "preview_new"
                          },
                          "duration": {
                            "type": "string",
                            "description": "duration"
                          },
                          "starred": {
                            "type": "boolean",
                            "description": "starred"
                          },
                          "external_id": {
                            "type": "string",
                            "description": "external_id"
                          },
                          "token_url": {
                            "type": "string",
                            "description": "token_url"
                          },
                          "url": {
                            "type": "string",
                            "description": "url"
                          },
                          "signed": {
                            "type": "boolean",
                            "description": "signed"
                          },
                          "signable": {
                            "type": "boolean",
                            "description": "signable"
                          },
                          "consultable": {
                            "type": "boolean",
                            "description": "consultable"
                          },
                          "tags": {
                            "type": "array",
                            "items": {},
                            "description": "tags"
                          },
                          "pt_note": {
                            "type": "string",
                            "description": "pt_note"
                          },
                          "pt_accuracy": {
                            "type": "string",
                            "description": "pt_accuracy"
                          },
                          "pt_won": {
                            "type": "string",
                            "description": "pt_won"
                          },
                          "interest": {
                            "type": "string",
                            "description": "interest"
                          },
                          "workspace_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "workspace_id"
                          },
                          "vcard_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "vcard_id"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "format": "int32",
                                "description": "id"
                              },
                              "project_id": {
                                "type": "integer",
                                "format": "int32",
                                "description": "project_id"
                              },
                              "total_time": {
                                "type": "integer",
                                "format": "int32",
                                "description": "total_time"
                              },
                              "signed": {
                                "type": "boolean",
                                "description": "signed"
                              },
                              "last_sign_in_at": {
                                "type": "string",
                                "description": "last_sign_in_at"
                              },
                              "nb_connections": {
                                "type": "integer",
                                "format": "int32",
                                "description": "nb_connections"
                              },
                              "is_or_was_signable": {
                                "type": "boolean",
                                "description": "is_or_was_signable"
                              },
                              "pt_note": {
                                "type": "string",
                                "description": "pt_note"
                              },
                              "pt_accuracy": {
                                "type": "string",
                                "description": "pt_accuracy"
                              },
                              "pt_won": {
                                "type": "string",
                                "description": "pt_won"
                              },
                              "first_access_at": {
                                "type": "string",
                                "description": "first_access_at"
                              },
                              "nb_links": {
                                "type": "integer",
                                "format": "int32",
                                "description": "nb_links"
                              },
                              "nb_links_by_prospect": {
                                "type": "integer",
                                "format": "int32",
                                "description": "nb_links_by_prospect"
                              },
                              "most_visited_item_id": {
                                "type": "string",
                                "description": "most_visited_item_id"
                              },
                              "most_visited_time": {
                                "type": "string",
                                "description": "most_visited_time"
                              },
                              "median_percentage_read": {
                                "type": "string",
                                "description": "median_percentage_read"
                              },
                              "median_nb_pages_readed": {
                                "type": "string",
                                "description": "median_nb_pages_readed"
                              },
                              "median_time_before_opening": {
                                "type": "string",
                                "description": "median_time_before_opening"
                              },
                              "avg_time_between_first_last": {
                                "type": "string",
                                "description": "avg_time_between_first_last"
                              },
                              "median_time_to_download": {
                                "type": "string",
                                "description": "median_time_to_download"
                              },
                              "median_time_read": {
                                "type": "string",
                                "description": "median_time_read"
                              },
                              "nb_platforms": {
                                "type": "string",
                                "description": "nb_platforms"
                              },
                              "nb_phones_platform": {
                                "type": "integer",
                                "format": "int32",
                                "description": "nb_phones_platform"
                              },
                              "nb_computers_platform": {
                                "type": "integer",
                                "format": "int32",
                                "description": "nb_computers_platform"
                              },
                              "nb_others_platform": {
                                "type": "integer",
                                "format": "int32",
                                "description": "nb_others_platform"
                              },
                              "nb_tokens_consulted": {
                                "type": "integer",
                                "format": "int32",
                                "description": "nb_tokens_consulted"
                              },
                              "nb_items": {
                                "type": "integer",
                                "format": "int32",
                                "description": "nb_items"
                              },
                              "nb_pages": {
                                "type": "integer",
                                "format": "int32",
                                "description": "nb_pages"
                              },
                              "nb_connexions_failed": {
                                "type": "integer",
                                "format": "int32",
                                "description": "nb_connexions_failed"
                              },
                              "last_created_token_at": {
                                "type": "string",
                                "description": "last_created_token_at"
                              },
                              "nb_used_as_template": {
                                "type": "integer",
                                "format": "int32",
                                "description": "nb_used_as_template"
                              },
                              "clicked_links_count": {
                                "type": "string",
                                "description": "clicked_links_count"
                              },
                              "interest": {
                                "type": "string",
                                "description": "interest"
                              },
                              "pt_note_v2": {
                                "type": "string",
                                "description": "pt_note_v2"
                              }
                            },
                            "description": "data"
                          },
                          "email_cible": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "email_cible"
                          },
                          "alert_on": {
                            "type": "boolean",
                            "description": "alert_on"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "created_at"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "updated_at"
                          },
                          "consultable_until": {
                            "type": "string",
                            "description": "consultable_until"
                          },
                          "last_sign_in_at": {
                            "type": "string",
                            "description": "last_sign_in_at"
                          },
                          "first_access_at": {
                            "type": "string",
                            "description": "first_access_at"
                          },
                          "collaborators_count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "collaborators_count"
                          },
                          "convert_status": {
                            "type": "object",
                            "properties": {
                              "complete_base": {
                                "type": "boolean",
                                "description": "complete_base"
                              },
                              "complete_full": {
                                "type": "boolean",
                                "description": "complete_full"
                              }
                            },
                            "description": "convert_status"
                          }
                        },
                        "description": "project"
                      }
                    }
                  },
                  "description": "contents"
                }
              }
            }
          }
        },
        "summary": "Create access link(s)",
        "description": "Create access link(s) in a specific project",
        "operationId": "AccessLinkCreate",
        "parameters": [
          {
            "name": "project_id",
            "description": "Tilkee internal id of the project to add links to",
            "x-ms-summary": "Project id",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x_tilk_ref",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "persons": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of the unique generated link",
                        "title": "Name of the link"
                      },
                      "external_id": {
                        "type": "string",
                        "title": "External Id",
                        "description": "ID of the contact in your system",
                        "x-ms-visibility": "advanced"
                      },
                      "external_data": {
                        "type": "object",
                        "title": "Misc information",
                        "description": "Specific information to be added in case of eSignature and form PDFs",
                        "x-ms-visibility": "advanced"
                      }
                    }
                  },
                  "description": "Access links",
                  "title": "Access links"
                }
              }
            }
          }
        ]
      }
    },
    "/projects/{project_id}/add_items": {
      "post": {
        "tags": [
          "Project"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "id"
                  },
                  "type": {
                    "type": "string",
                    "description": "type"
                  },
                  "element_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "element_id"
                  },
                  "title": {
                    "type": "string",
                    "description": "title"
                  },
                  "signable": {
                    "type": "boolean",
                    "description": "signable"
                  },
                  "downloadable": {
                    "type": "boolean",
                    "description": "downloadable"
                  },
                  "item": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "usable": {
                        "type": "boolean",
                        "description": "usable"
                      },
                      "element_type": {
                        "type": "string",
                        "description": "element_type"
                      },
                      "extension": {
                        "type": "string",
                        "description": "extension"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "external_id": {
                        "type": "string",
                        "description": "external_id"
                      },
                      "tags": {
                        "type": "array",
                        "items": {},
                        "description": "tags"
                      },
                      "favorite": {
                        "type": "boolean",
                        "description": "favorite"
                      },
                      "file_version": {
                        "type": "integer",
                        "format": "int32",
                        "description": "file_version"
                      },
                      "replaced_at": {
                        "type": "string",
                        "description": "replaced_at"
                      },
                      "file_size": {
                        "type": "integer",
                        "format": "int32",
                        "description": "file_size"
                      },
                      "num_pages": {
                        "type": "integer",
                        "description": "num_pages"
                      },
                      "convert_status": {
                        "type": "object",
                        "properties": {
                          "complete_base": {
                            "type": "boolean",
                            "description": "complete_base"
                          },
                          "complete_full": {
                            "type": "boolean",
                            "description": "complete_full"
                          },
                          "status": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "status"
                          }
                        },
                        "description": "convert_status"
                      },
                      "s3_url": {
                        "type": "string",
                        "description": "s3_url"
                      },
                      "content_url": {
                        "type": "string",
                        "description": "content_url"
                      },
                      "shared_attributes": {
                        "type": "object",
                        "properties": {
                          "all": {
                            "type": "string",
                            "description": "all"
                          },
                          "team": {
                            "type": "string",
                            "description": "team"
                          },
                          "user_ids": {
                            "type": "array",
                            "items": {},
                            "description": "user_ids"
                          }
                        },
                        "description": "shared_attributes"
                      },
                      "thumbnail_url": {
                        "type": "string",
                        "description": "thumbnail_url"
                      },
                      "visible": {
                        "type": "boolean",
                        "description": "visible"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "created_at"
                      }
                    },
                    "description": "item"
                  }
                }
              }
            }
          }
        },
        "summary": "Add item(s) to a specific project",
        "description": "Add one or mutiple items to a specific project",
        "operationId": "AddItemToProject",
        "parameters": [
          {
            "name": "project_id",
            "description": "Tilkee internal id of the project to add documents to",
            "x-ms-summary": "Project ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x_tilk_ref",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "title",
                        "title": "Name displayed"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Unique id retrieved from /items call",
                        "title": "Item's Id"
                      },
                      "downloadable": {
                        "title": "Downloadable?",
                        "type": "boolean",
                        "description": "TRUE if the document can be downloaded"
                      }
                    }
                  },
                  "description": "Documents to add to the project. Must be items, created using Tilkee'API",
                  "title": "Documents"
                },
                "type": {
                  "title": "Item's type",
                  "type": "string",
                  "description": "Item's type. Only ProjectItem allowed",
                  "default": "ProjectItem",
[...]
