{
  "swagger": "2.0",
  "info": {
    "title": "Maximizer",
    "description": "Maximizer is an integration for Maximier CRM to CRUD Maximizer entries.",
    "version": "1.0",
    "contact": {
      "name": "Maximizer Software Inc.",
      "url": "https://www.maximizer.com/support",
      "email": "support@maximizer.com"
    }
  },
  "host": "www3.dataporthk.com",
  "basePath": "/MSFlows",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/api/SearchLead": {
      "post": {
        "responses": {
          "200": {
            "description": "OK, Success",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Code"
                },
                "State": {
                  "type": "string",
                  "description": "State"
                },
                "Values": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Key": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "string",
                            "description": "Key's Value"
                          },
                          "ID": {
                            "type": "string",
                            "description": "Key's ID"
                          }
                        },
                        "description": "Key"
                      },
                      "CompanyName": {
                        "type": "string",
                        "description": "CompanyName"
                      },
                      "MrMs": {
                        "type": "string",
                        "description": "MrMs"
                      },
                      "FirstName": {
                        "type": "string",
                        "description": "FirstName"
                      },
                      "MiddleName": {
                        "type": "string",
                        "description": "MiddleName"
                      },
                      "LastName": {
                        "type": "string",
                        "description": "LastName"
                      },
                      "Salutation": {
                        "type": "string",
                        "description": "Salutation"
                      },
                      "Position": {
                        "type": "string",
                        "description": "Position"
                      },
                      "Email": {
                        "type": "object",
                        "properties": {
                          "Default": {
                            "type": "boolean",
                            "description": "Is email default?"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Email's description"
                          },
                          "Address": {
                            "type": "string",
                            "description": "Email's Address"
                          },
                          "DisplayValue": {
                            "type": "string",
                            "description": "Email's DisplayValue"
                          }
                        },
                        "description": "Email"
                      },
                      "Website": {
                        "type": "string",
                        "description": "Website"
                      },
                      "Status": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Status's Value"
                          },
                          "Key": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Status's Key"
                          },
                          "DisplayValue": {
                            "type": "string",
                            "description": "Status's DisplayValue"
                          }
                        },
                        "description": "Status"
                      },
                      "AssignedTo": {
                        "type": "object",
                        "properties": {
                          "Key": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "string",
                                "description": "AssignedTo's Key Value"
                              },
                              "UID": {
                                "type": "string",
                                "description": "AssignedTo's UID"
                              }
                            },
                            "description": "AssignedTo's Key"
                          },
                          "DisplayValue": {
                            "type": "string",
                            "description": "AssignedTo's DisplayValue"
                          }
                        },
                        "description": "AssignedTo"
                      },
                      "Address": {
                        "type": "object",
                        "properties": {
                          "AddressLine1": {
                            "type": "string",
                            "description": "Address's AddressLine1"
                          },
                          "AddressLine2": {
                            "type": "string",
                            "description": "Address's AddressLine2"
                          },
                          "City": {
                            "type": "string",
                            "description": "Address's City"
                          },
                          "StateProvince": {
                            "type": "string",
                            "description": "Address's StateProvince"
                          },
                          "ZipCode": {
                            "type": "string",
                            "description": "Address's ZipCode"
                          },
                          "Country": {
                            "type": "string",
                            "description": "Address's Country"
                          }
                        },
                        "description": "Address"
                      },
                      "CreationDate": {
                        "type": "string",
                        "description": "CreationDate"
                      },
                      "LastModifyDate": {
                        "type": "string",
                        "description": "LastModifyDate"
                      },
                      "Phone1": {
                        "type": "object",
                        "properties": {
                          "Default": {
                            "type": "boolean",
                            "description": "is Phone1 Default?"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Phone1's Description"
                          },
                          "Number": {
                            "type": "string",
                            "description": "Phone1's Number"
                          },
                          "Extension": {
                            "type": "string",
                            "description": "Phone1's Extension"
                          },
                          "DisplayValue": {
                            "type": "string",
                            "description": "Phone1's DisplayValue"
                          }
                        },
                        "description": "Phone1"
                      },
                      "Phone2": {
                        "type": "object",
                        "properties": {
                          "Default": {
                            "type": "boolean",
                            "description": "is Phone2 Default?"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Phone2's Description"
                          },
                          "Number": {
                            "type": "string",
                            "description": "Phone2's Number"
                          },
                          "Extension": {
                            "type": "string",
                            "description": "Phone2's Extension"
                          },
                          "DisplayValue": {
                            "type": "string",
                            "description": "Phone2's DisplayValue"
                          }
                        },
                        "description": "Phone2"
                      },
                      "SecStatus": {
                        "type": "object",
                        "properties": {
                          "CanCreate": {
                            "type": "boolean",
                            "description": "SecStatus's CanCreate?"
                          },
                          "CanRead": {
                            "type": "boolean",
                            "description": "SecStatus's CanRead?"
                          },
                          "CanUpdate": {
                            "type": "boolean",
                            "description": "SecStatus's CanUpdate?"
                          },
                          "CanDelete": {
                            "type": "boolean",
                            "description": "SecStatus's CanDelete?"
                          }
                        },
                        "description": "SecStatus"
                      },
                      "DisplayValue": {
                        "type": "string",
                        "description": "DisplayValue"
                      },
                      "FullName": {
                        "type": "string",
                        "description": "FullName"
                      },
                      "CloseDate": {
                        "type": "string",
                        "description": "CloseDate"
                      },
                      "ProcessSetupKey": {
                        "type": "string",
                        "description": "ProcessSetupKey"
                      },
                      "ProcessStageSetupKey": {
                        "type": "string",
                        "description": "ProcessStageSetupKey"
                      },
                      "ProcessSetup": {
                        "type": "object",
                        "properties": {
                          "Key": {
                            "type": "string",
                            "description": "ProcessSetup's Key"
                          },
                          "DisplayValue": {
                            "type": "string",
                            "description": "ProcessSetup's DisplayValue"
                          }
                        },
                        "description": "Process"
                      },
                      "ProcessStageSetup": {
                        "type": "object",
                        "properties": {
                          "Key": {
                            "type": "string",
                            "description": "ProcessStageSetup's Key"
                          },
                          "DisplayValue": {
                            "type": "string",
                            "description": "ProcessStageSetup's DisplayValue"
                          }
                        },
                        "description": "ProcessStageSetup"
                      },
                      "Partner": {
                        "type": "object",
                        "properties": {
                          "Key": {
                            "type": "string",
                            "description": "Partner's Key"
                          },
                          "Email": {
                            "type": "string",
                            "description": "Partner's Email"
                          },
                          "Type": {
                            "type": "string",
                            "description": "Partner's Type"
                          },
                          "CompanyName": {
                            "type": "string",
                            "description": "Partner's CompanyName"
                          },
                          "MrMs": {
                            "type": "string",
                            "description": "Partner's MrMs"
                          },
                          "FirstName": {
                            "type": "string",
                            "description": "Partner's FirstName"
                          },
                          "MiddleName": {
                            "type": "string",
                            "description": "Partner's MiddleName"
                          },
                          "LastName": {
                            "type": "string",
                            "description": "Partner's LastName"
                          },
                          "FullName": {
                            "type": "string",
                            "description": "Partner's FullName"
                          }
                        },
                        "description": "Partner"
                      },
                      "AbEntry": {
                        "type": "object",
                        "properties": {
                          "Identification": {
                            "type": "string",
                            "description": "AbEntry's Identification"
                          },
                          "Email Address": {
                            "type": "string",
                            "description": "AbEntry's Email Address"
                          },
                          "Type": {
                            "type": "string",
                            "description": "AbEntry's Type"
                          },
                          "Company": {
                            "type": "string",
                            "description": "AbEntry's Company"
                          },
                          "Mr/Ms": {
                            "type": "string",
                            "description": "AbEntry's Mr/Ms"
                          },
                          "First name": {
                            "type": "string",
                            "description": "AbEntry's First name"
                          },
                          "Middle name": {
                            "type": "string",
                            "description": "AbEntry's Middle name"
                          },
                          "Last name": {
                            "type": "string",
                            "description": "AbEntry's Last name"
                          },
                          "Full name": {
                            "type": "string",
                            "description": "AbEntry's Full name"
                          }
                        },
                        "description": "AbEntry"
                      },
                      "Opportunity": {
                        "type": "string",
                        "description": "Opportunity"
                      }
                    }
                  },
                  "description": "Values"
                }
              }
            }
          }
        },
        "summary": "Lookup Lead Entry",
        "description": "Search action for Lead",
        "operationId": "FindLead",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "description": "The Key of Lead",
                  "title": "Lead Entry Key"
                },
                "email": {
                  "type": "string",
                  "description": "The Email Address of Lead",
                  "title": "Email Address"
                },
                "phone": {
                  "type": "string",
                  "description": "The Phone Number of Lead",
                  "title": "Phone Number"
                },
                "fname": {
                  "type": "string",
                  "description": "The First Name of Lead",
                  "title": "First Name"
                },
                "lname": {
                  "type": "string",
                  "description": "The Last Name of Lead",
                  "title": "Last Name"
                },
                "company": {
                  "type": "string",
                  "description": "The Company Name of Lead",
                  "title": "Company Name"
                },
                "process": {
                  "type": "string",
                  "x-ms-dynamic-list": {
                    "operationId": "DropdownLeadProcess",
                    "itemValuePath": "value",
                    "itemsPath": "Values",
                    "itemTitlePath": "label"
                  },
                  "description": "If the \"Stages\" field is not empty, this field is only used for loading the list in the \"Stages\" field",
                  "title": "Process"
                },
                "stage": {
                  "type": "string",
                  "x-ms-dynamic-list": {
                    "operationId": "DropdownLeadStage",
                    "itemValuePath": "Key",
                    "itemsPath": "Values",
                    "itemTitlePath": "DisplayValue",
                    "parameters": {
                      "processKey": {
                        "parameterReference": "body/process"
                      }
                    }
                  },
                  "description": "stage",
                  "title": "Stage"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Status",
                  "description": "Status",
                  "enum": [0, 2, 3],
                  "x-ms-enum-values": [
                    {
                      "displayName": "Unqualified",
                      "value": 0
                    },
                    {
                      "displayName": "Converted",
                      "value": 2
                    },
                    {
                      "displayName": "Archived",
                      "value": 3
                    }
                  ]
                },
                "sort": {
                  "type": "string",
                  "description": "Results sort by Creation Date or Last Modify Date",
                  "title": "Sort by",
                  "enum": ["Creation Date", "Last Modify Date"]
                },
                "order": {
                  "type": "string",
                  "description": "Sort in descending order or ascending order",
                  "title": "Sort Order",
                  "enum": ["DESC", "ASC"]
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The limit number of search result",
                  "title": "Search Limit"
                },
                "single": {
                  "type": "boolean",
                  "description": "Apply only when the search criteria returns a single record",
                  "title": "Restrict single record"
                },
                "udf": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "x-ms-dynamic-list": {
                      "operationId": "DropdownLeadUdf",
                      "itemValuePath": "Key",
                      "itemsPath": "Values",
                      "itemTitlePath": "DisplayValue"
                    }
                  },
                  "description": "Select User Defined Fields (UDFs) to include",
                  "title": "UDFs"
                }
              }
            }
          }
        ]
      }
    },
    "/api/DropdownLeadProcess": {
      "get": {
        "responses": {
          "200": {
            "description": "OK, Success",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Code"
                },
                "State": {
                  "type": "string",
                  "description": "State"
                },
                "Values": {
                  "type": "array",
                  "description": "Values",
                  "items": {
                    "type": "object",
                    "properties": {
                      "sample": {
                        "type": "string",
                        "description": "sample"
                      },
                      "value": {
                        "type": "string",
                        "description": "value"
                      },
                      "label": {
                        "type": "string",
                        "description": "label"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Dropdown list Lead's Process",
        "description": "DropdownLeadProcess",
        "operationId": "DropdownLeadProcess",
        "x-ms-visibility": "internal",
        "parameters": []
      }
    },
    "/api/DropdownLeadStage": {
      "get": {
        "responses": {
          "200": {
            "description": "OK, Success",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Code"
                },
                "State": {
                  "type": "string",
                  "description": "State"
                },
                "Values": {
                  "type": "array",
                  "description": "Values",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",

                        "description": "id"
                      },
                      "Key": {
                        "type": "string",
                        "description": "Key"
                      },
                      "DisplayValue": {
                        "type": "string",
                        "description": "DisplayValue"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "DropdownLeadStage",
        "summary": "Dropdown list for Lead's Stage",
        "description": "DropdownLeadStage",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "processKey",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/api/DropdownLeadUdf": {
      "get": {
        "responses": {
          "200": {
            "description": "OK, Success",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Code"
                },
                "State": {
                  "type": "string",
                  "description": "State"
                },
                "Values": {
                  "type": "array",
                  "description": "Values",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "Key": {
                        "type": "string",
                        "description": "Key"
                      },
                      "DisplayValue": {
                        "type": "string",
                        "description": "DisplayValue"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Dropdown list Lead's Udf",
        "description": "DropdownLeadUdf",
        "operationId": "DropdownLeadUdf",
        "x-ms-visibility": "internal",
        "parameters": []
      }
    },
    "/api/NotesCreate": {
      "post": {
        "description": "To create Notes",
        "responses": {
          "200": {
            "description": "OK, Success",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Code"
                },
                "State": {
                  "type": "string",
                  "description": "State"
                },
                "Values": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Msg": {
                        "type": "string",
                        "description": "Msg"
                      }
                    }
                  },
                  "description": "Values"
                }
              }
            }
          }
        },
        "summary": "Notes Create",
        "operationId": "NotesCreate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Key": {
                  "type": "string",
                  "description": "Key",
                  "title": ""
                },
                "Note Statement": {
                  "type": "string",
                  "description": "Note Statement"
                }
              }
            }
          }
        ]
      }
    },
    "/api/TriggerLeadsTextbox": {
      "get": {
        "summary": "(private) Retrieve form schema",
        "responses": {
          "200": {
            "description": "OK, Success",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Code"
                },
                "State": {
                  "type": "string",
                  "description": "State"
                },
                "Schema": {
                  "type": "object",
                  "description": "Values"
                }
              }
            }
          }
        },
        "x-ms-visibility": "internal",
        "operationId": "TriggerLeadsTextbox",
        "description": "Returns the schema for the specified form",
        "parameters": [
          {
            "name": "isUpdate",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/trigger/api/TriggerNewLead": {
      "post": {
        "responses": {
          "200": {
            "description": "OK, Success",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Code"
                },
                "State": {
                  "type": "string",
                  "description": "State"
                },
                "Values": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Key": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "string",
                            "description": "Lead Key Value"
                          },
                          "ID": {
                            "type": "string",
                            "description": "Lead Key ID"
                          }
                        },
                        "description": "The Lead Key"
                      },
                      "CompanyName": {
                        "type": "string",
                        "description": "CompanyName"
                      },
                      "MrMs": {
                        "type": "string",
                        "description": "MrMs"
                      },
                      "FirstName": {
                        "type": "string",
                        "description": "FirstName"
                      },
                      "MiddleName": {
                        "type": "string",
                        "description": "MiddleName"
                      },
                      "LastName": {
                        "type": "string",
                        "description": "LastName"
                      },
                      "Salutation": {
                        "type": "string",
                        "description": "Salutation"
                      },
                      "Position": {
                        "type": "string",
                        "description": "Position"
                      },
                      "Email": {
                        "type": "object",
                        "properties": {
                          "Default": {
                            "type": "boolean",
                            "description": "Is email default?"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Email description"
                          },
                          "Address": {
                            "type": "string",
                            "description": "Email Address"
                          },
                          "DisplayValue": {
                            "type": "string",
                            "description": "Eamil DisplayValue"
                          }
                        },
                        "description": "Email"
                      },
                      "Website": {
                        "type": "string",
                        "description": "Website"
                      },
                      "Status": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Status Value"
                          },
                          "Key": {
                            "type": "string",
                            "description": "Status Key"
                          },
                          "DisplayValue": {
                            "type": "string",
                            "description": "Status DisplayValue"
                          }
                        },
                        "description": "Status"
                      },
                      "AssignedTo": {
                        "type": "string",
                        "description": "AssignedTo"
                      },
                      "Address": {
                        "type": "object",
                        "properties": {
                          "AddressLine1": {
                            "type": "string",
                            "description": "AddressLine1"
                          },
                          "AddressLine2": {
                            "type": "string",
                            "description": "AddressLine2"
                          },
                          "City": {
                            "type": "string",
                            "description": "City"
                          },
                          "StateProvince": {
                            "type": "string",
                            "description": "StateProvince"
                          },
                          "ZipCode": {
                            "type": "string",
                            "description": "ZipCode"
                          },
                          "Country": {
                            "type": "string",
                            "description": "Country"
                          }
                        },
                        "description": "Address"
                      },
                      "CreationDate": {
                        "type": "string",
                        "description": "CreationDate"
                      },
                      "LastModifyDate": {
                        "type": "string",
                        "description": "LastModifyDate"
                      },
                      "Phone1": {
                        "type": "object",
                        "properties": {
                          "Default": {
                            "type": "boolean",
                            "description": "is Phone1 Default?"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Phone1 Description"
                          },
                          "Number": {
                            "type": "string",
                            "description": "Phone1 Number"
                          },
                          "Extension": {
                            "type": "string",
                            "description": "Phone1 Extension"
                          },
                          "DisplayValue": {
                            "type": "string",
                            "description": "Phone1 DisplayValue"
                          }
                        },
                        "description": "Phone1"
                      },
                      "Phone2": {
                        "type": "object",
                        "properties": {
                          "Default": {
                            "type": "boolean",
                            "description": "is Phone2 Default?"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Phone2 Description"
                          },
                          "Number": {
                            "type": "string",
                            "description": "Phone2 Number"
                          },
                          "Extension": {
                            "type": "string",
                            "description": "Phone2 Extension"
                          },
                          "DisplayValue": {
                            "type": "string",
                            "description": "Phone2 DisplayValue"
                          }
                        },
                        "description": "Phone2"
                      },
                      "SecStatus": {
                        "type": "object",
                        "properties": {
                          "CanCreate": {
                            "type": "boolean",
                            "description": "SecStatus CanCreate?"
                          },
                          "CanRead": {
                            "type": "boolean",
                            "description": "SecStatus CanRead?"
                          },
                          "CanUpdate": {
                            "type": "boolean",
                            "description": "SecStatus CanUpdate?"
                          },
                          "CanDelete": {
                            "type": "boolean",
                            "description": "SecStatus CanDelete?"
                          }
                        },
                        "description": "SecStatus"
                      },
                      "DisplayValue": {
                        "type": "string",
                        "description": "Lead DisplayValue"
                      },
                      "FullName": {
                        "type": "string",
                        "description": "FullName"
                      },
                      "PartnerKey": {
                        "type": "string",
                        "description": "PartnerKey"
                      },
                      "Partner": {
                        "type": "string",
                        "description": "Partner"
                      },
                      "CloseDate": {
                        "type": "string",
                        "description": "CloseDate"
                      },
                      "ProcessSetupKey": {
                        "type": "string",
                        "description": "ProcessSetupKey"
                      },
                      "Process": {
                        "type": "string",
                        "description": "Process"
                      },
                      "ProcessStageSetupKey": {
                        "type": "string",
                        "description": "ProcessStageSetupKey"
                      },
                      "CurrentProcessStage": {
                        "type": "string",
                        "description": "CurrentProcessStage"
                      },
                      "SecAccess": {
                        "type": "object",
                        "properties": {
                          "Write": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Write"
                          },
                          "Read": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Read"
                          },
                          "DisplayValue": {
                            "type": "string",
                            "description": "DisplayValue"
                          }
                        },
                        "description": "SecAccess"
                      },
                      "AbEntry": {
                        "type": "string",
                        "description": "AbEntry"
                      },
                      "Opportunity": {
                        "type": "string",
                        "description": "Opportunity"
                      }
                    }
                  },
                  "description": "Values"
                }
              }
            }
          }
        },
        "summary": "Triggers when a new Lead is added",
        "operationId": "TriggerNewLead",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "parameters": [
          {
            "name": "State",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "new",
            "x-ms-visibility": "internal",
            "x-ms-apimTemplateParameter.name": "State",
            "x-ms-apimTemplateParameter.value": "@triggerBody(\"body/State\")"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "TriggerLeadsTextbox",
                "itemValuePath": "Schema",
                "parameters": {
                  "isUpdate": {
                    "value": false
                  }
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important",
        "description": "Triggers when a new Lead is added"
      }
    },
    "/trigger/api/TriggerUpdateLead": {
      "post": {
        "responses": {
          "200": {
            "description": "OK, Success",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Code"
                },
                "State": {
                  "type": "string",
                  "description": "State"
                },
                "Values": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Key": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "string",
                            "description": "Lead Key Value"
                          },
                          "ID": {
                            "type": "string",
                            "description": "Lead Key ID"
                          }
                        },
                        "description": "The Lead Key"
                      },
                      "CompanyName": {
                        "type": "string",
                        "description": "CompanyName"
                      },
                      "MrMs": {
                        "type": "string",
                        "description": "MrMs"
                      },
                      "FirstName": {
                        "type": "string",
                        "description": "FirstName"
                      },
                      "MiddleName": {
                        "type": "string",
                        "description": "MiddleName"
                      },
                      "LastName": {
                        "type": "string",
                        "description": "LastName"
                      },
                      "Salutation": {
                        "type": "string",
                        "description": "Salutation"
                      },
                      "Position": {
                        "type": "string",
                        "description": "Position"
                      },
                      "Email": {
                        "type": "object",
                        "properties": {
                          "Default": {
                            "type": "boolean",
                            "description": "Is email default?"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Email description"
                          },
                          "Address": {
                            "type": "string",
                            "description": "Email Address"
                          },
                          "DisplayValue": {
                            "type": "string",
                            "description": "Eamil DisplayValue"
                          }
                        },
                        "description": "Email"
                      },
                      "Website": {
                        "type": "string",
                        "description": "Website"
                      },
                      "Status": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Status Value"
                          },
                          "Key": {
                            "type": "string",
                            "description": "Status Key"
                          },
                          "DisplayValue": {
                            "type": "string",
                            "description": "Status DisplayValue"
                          }
                        },
                        "description": "Status"
                      },
                      "AssignedTo": {
                        "type": "string",
                        "description": "AssignedTo"
                      },
                      "Address": {
                        "type": "object",
                        "properties": {
                          "AddressLine1": {
                            "type": "string",
                            "description": "AddressLine1"
                          },
                          "AddressLine2": {
                            "type": "string",
                            "description": "AddressLine2"
                          },
                          "City": {
                            "type": "string",
                            "description": "City"
                          },
                          "StateProvince": {
                            "type": "string",
                            "description": "StateProvince"
                          },
                          "ZipCode": {
                            "type": "string",
                            "description": "ZipCode"
                          },
                          "Country": {
                            "type": "string",
                            "description": "Country"
                          }
                        },
                        "description": "Address"
                      },
                      "CreationDate": {
                        "type": "string",
                        "description": "CreationDate"
                      },
                      "LastModifyDate": {
                        "type": "string",
                        "description": "LastModifyDate"
                      },
                      "Phone1": {
                        "type": "object",
                        "properties": {
                          "Default": {
                            "type": "boolean",
                            "description": "is Phone1 Default?"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Phone1 Description"
                          },
                          "Number": {
                            "type": "string",
                            "description": "Phone1 Number"
                          },
                          "Extension": {
                            "type": "string",
                            "description": "Phone1 Extension"
                          },
                          "DisplayValue": {
                            "type": "string",
                            "description": "Phone1 DisplayValue"
                          }
                        },
                        "description": "Phone1"
                      },
                      "Phone2": {
                        "type": "object",
                        "properties": {
                          "Default": {
                            "type": "boolean",
                            "description": "is Phone2 Default?"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Phone2 Description"
                          },
                          "Number": {
                            "type": "string",
                            "description": "Phone2 Number"
                          },
                          "Extension": {
                            "type": "string",
                            "description": "Phone2 Extension"
                          },
                          "DisplayValue": {
                            "type": "string",
                            "description": "Phone2 DisplayValue"
                          }
                        },
                        "description": "Phone2"
                      },
                      "SecStatus": {
                        "type": "object",
                        "properties": {
                          "CanCreate": {
                            "type": "boolean",
                            "description": "SecStatus CanCreate?"
                          },
                          "CanRead": {
                            "type": "boolean",
                            "description": "SecStatus CanRead?"
                          },
                          "CanUpdate": {
                            "type": "boolean",
                            "description": "SecStatus CanUpdate?"
                          },
                          "CanDelete": {
                            "type": "boolean",
                            "description": "SecStatus CanDelete?"
                          }
                        },
                        "description": "SecStatus"
                      },
                      "DisplayValue": {
                        "type": "string",
                        "description": "Lead DisplayValue"
                      },
                      "FullName": {
                        "type": "string",
                        "description": "FullName"
                      },
                      "PartnerKey": {
                        "type": "string",
                        "description": "PartnerKey"
                      },
                      "Partner": {
                        "type": "string",
                        "description": "Partner"
                      },
                      "CloseDate": {
                        "type": "string",
                        "description": "CloseDate"
                      },
                      "ProcessSetupKey": {
                        "type": "string",
                        "description": "ProcessSetupKey"
                      },
                      "Process": {
                        "type": "string",
                        "description": "Process"
                      },
                      "ProcessStageSetupKey": {
                        "type": "string",
                        "description": "ProcessStageSetupKey"
                      },
                      "CurrentProcessStage": {
                        "type": "string",
                        "description": "CurrentProcessStage"
                      },
                      "SecAccess": {
                        "type": "object",
                        "properties": {
                          "Write": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Write"
                          },
                          "Read": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Read"
                          },
                          "DisplayValue": {
                            "type": "string",
                            "description": "DisplayValue"
                          }
                        },
                        "description": "SecAccess"
                      },
                      "AbEntry": {
                        "type": "string",
                        "description": "AbEntry"
                      },
                      "Opportunity": {
                        "type": "string",
                        "description": "Opportunity"
                      }
                    }
                  },
                  "description": "Values"
                }
              }
            }
          }
        },
        "summary": "Triggers when a Lead is updated",
        "operationId": "TriggerUpdateLead",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "parameters": [
          {
            "name": "State",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "new",
            "x-ms-visibility": "internal",
            "x-ms-apimTemplateParameter.name": "State",
            "x-ms-apimTemplateParameter.value": "@triggerBody(\"body/State\")"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "TriggerLeadsTextbox",
                "itemValuePath": "Schema",
                "parameters": {
                  "isUpdate": {
                    "value": false
                  }
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important",
        "description": "Triggers when a Lead is updated"
      }
    },
    "/api/LeadsTextbox": {
      "get": {
        "summary": "(private) Retrieve form schema",
        "responses": {
          "200": {
            "description": "OK, Success",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Code"
                },
                "State": {
                  "type": "string",
                  "description": "State"
                },
                "Schema": {
                  "type": "object",
                  "description": "Values"
                }
              }
            }
          }
        },
        "x-ms-visibility": "internal",
        "operationId": "LeadsTextbox",
        "description": "Returns the schema for the specified form",
        "parameters": [
          {
            "name": "isUpdate",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/LeadsCreate": {
      "post": {
        "responses": {
          "200": {
            "description": "OK, Success",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Code"
                },
                "State": {
                  "type": "string",
                  "description": "State"
                },
                "Values": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Msg": {
                        "type": "string",
                        "description": "Msg"
                      },
                      "CreatedEntry": {
                        "type": "object",
                        "properties": {
                          "Key": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "string",
                                "description": "Key's Value"
                              },
                              "ID": {
                                "type": "string",
                                "description": "Key's ID"
                              }
                            },
                            "description": "Key"
                          },
                          "CompanyName": {
                            "type": "string",
                            "description": "CompanyName"
                          },
                          "MrMs": {
                            "type": "string",
                            "description": "MrMs"
                          },
                          "FirstName": {
                            "type": "string",
                            "description": "FirstName"
                          },
                          "MiddleName": {
                            "type": "string",
                            "description": "MiddleName"
                          },
                          "LastName": {
                            "type": "string",
                            "description": "LastName"
                          },
                          "Salutation": {
                            "type": "string",
                            "description": "Salutation"
                          },
                          "Position": {
                            "type": "string",
                            "description": "Position"
                          },
                          "Email": {
                            "type": "object",
                            "properties": {
                              "Default": {
                                "type": "boolean",
                                "description": "is Email Default?"
                              },
                              "Description": {
                                "type": "string",
                                "description": "Email's Description"
                              },
                              "Address": {
                                "type": "string",
                                "description": "Email's Address"
                              },
                              "DisplayValue": {
                                "type": "string",
                                "description": "Email's DisplayValue"
                              }
                            },
                            "description": "Email"
                          },
                          "Website": {
                            "type": "string",
                            "description": "Website"
                          },
                          "Status": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Status's Value"
                              },
                              "DisplayValue": {
                                "type": "string",
                                "description": "Status's DisplayValue"
                              }
                            },
                            "description": "Status"
                          },
                          "AssignedTo": {
                            "type": "object",
                            "properties": {
                              "Key": {
                                "type": "object",
                                "properties": {
                                  "Value": {
                                    "type": "string",
                                    "description": "AssignedTo's Key Value"
                                  },
                                  "UID": {
                                    "type": "string",
                                    "description": "AssignedTo's Key UID"
                                  }
                                },
                                "description": "AssignedTo's Key"
                              },
                              "DisplayValue": {
                                "type": "string",
                                "description": "AssignedTo's DisplayValue"
                              }
                            },
                            "description": "AssignedTo"
                          },
                          "Address": {
                            "type": "object",
                            "properties": {
                              "AddressLine1": {
                                "type": "string",
                                "description": "Address's AddressLine1"
                              },
                              "AddressLine2": {
                                "type": "string",
                                "description": "Address's AddressLine2"
                              },
                              "City": {
                                "type": "string",
                                "description": "Address's City"
                              },
                              "StateProvince": {
                                "type": "string",
                                "description": "Address's StateProvince"
                              },
                              "ZipCode": {
                                "type": "string",
                                "description": "Address's ZipCode"
                              },
                              "Country": {
                                "type": "string",
                                "description": "Address's Country"
                              }
                            },
                            "description": "Address"
                          },
                          "CreationDate": {
                            "type": "string",
                            "description": "CreationDate"
                          },
                          "LastModifyDate": {
                            "type": "string",
                            "description": "LastModifyDate"
                          },
                          "Phone1": {
                            "type": "object",
                            "properties": {
                              "Default": {
                                "type": "boolean",
                                "description": "is Phone1 Default?"
                              },
                              "Description": {
                                "type": "string",
                                "description": "Phone1's Description"
                              },
                              "Number": {
                                "type": "string",
                                "description": "Phone1's Number"
                              },
                              "Extension": {
                                "type": "string",
                                "description": "Phone1's Extension"
                              },
                              "DisplayValue": {
                                "type": "string",
                                "description": "Phone1's DisplayValue"
                              }
                            },
                            "description": "Phone1"
                          },
                          "Phone2": {
                            "type": "object",
                            "properties": {
                              "Default": {
                                "type": "boolean",
                                "description": "is Phone2 Default?"
                              },
                              "Description": {
                                "type": "string",
                                "description": "Phone2's Description"
                              },
                              "Number": {
                                "type": "string",
                                "description": "Phone2's Number"
                              },
                              "Extension": {
                                "type": "string",
                                "description": "Phone2's Extension"
                              },
                              "DisplayValue": {
                                "type": "string",
                                "description": "Phone2's DisplayValue"
                              }
                            },
                            "description": "Phone2"
                          },
                          "SecStatus": {
                            "type": "object",
                            "properties": {
                              "CanCreate": {
                                "type": "boolean",
                                "description": "SecStatus's CanCreate"
                              },
                              "CanRead": {
                                "type": "boolean",
                                "description": "SecStatus's CanRead"
                              },
                              "CanUpdate": {
                                "type": "boolean",
                                "description": "SecStatus's CanUpdate"
                              },
                              "CanDelete": {
                                "type": "boolean",
                                "description": "SecStatus's CanDelete"
                              }
                            },
                            "description": "SecStatus"
                          },
                          "DisplayValue": {
                            "type": "string",
                            "description": "DisplayValue"
                          },
                          "FullName": {
                            "type": "string",
                            "description": "FullName"
                          },
                          "CloseDate": {
                            "type": "string",
                            "description": "CloseDate"
                          },
                          "CampaignKey": {
                            "type": "string",
                            "description": "CampaignKey"
                          },
                          "Campaign": {
                            "type": "string",
                            "description": "Campaign"
                          },
                          "ProcessSetupKey": {
                            "type": "string",
                            "description": "ProcessSetupKey"
                          },
                          "ProcessStageSetupKey": {
                            "type": "string",
                            "description": "ProcessStageSetupKey"
                          },
                          "ProcessSetup": {
                            "type": "object",
                            "properties": {
                              "Key": {
                                "type": "string",
                                "description": "ProcessSetup's Key"
                              },
                              "DisplayValue": {
                                "type": "string",
                                "description": "ProcessSetup's DisplayValue"
                              }
                            },
                            "description": "ProcessSetup"
                          },
                          "ProcessStageSetup": {
                            "type": "object",
                            "properties": {
                              "Key": {
                                "type": "string",
                                "description": "ProcessStageSetup's Key"
                              },
                              "DisplayValue": {
                                "type": "string",
                                "description": "ProcessStageSetup's DisplayValue"
                              }
                            },
                            "description": "ProcessStageSetup"
                          },
                          "Partner": {
                            "type": "object",
                            "properties": {
                              "Key": {
                                "type": "string",
                                "description": "Partner's Key"
                              },
                              "Email": {
                                "type": "string",
                                "description": "Partner's Email"
                              },
                              "Type": {
                                "type": "string",
                                "description": "Partner's Type"
                              },
                              "CompanyName": {
                                "type": "string",
                                "description": "Partner's CompanyName"
                              },
                              "MrMs": {
                                "type": "string",
                                "description": "Partner's MrMs"
                              },
                              "FirstName": {
                                "type": "string",
                                "description": "Partner's FirstName"
                              },
                              "MiddleName": {
                                "type": "string",
                                "description": "Partner's MiddleName"
                              },
                              "LastName": {
                                "type": "string",
                                "description": "Partner's LastName"
                              },
                              "FullName": {
                                "type": "string",
                                "description": "Partner's FullName"
                              }
                            },
                            "description": "Partner"
                          },
                          "AbEntry": {
                            "type": "string",
                            "description": "AbEntry"
                          },
                          "Opportunity": {
                            "type": "string",
                            "description": "Opportunity"
                          }
                        },
                        "description": "CreatedEntry"
                      }
                    }
                  },
                  "description": "Values"
                }
              }
            }
          }
        },
        "summary": "Creates a new Lead record",
        "operationId": "LeadsCreate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "LeadsTextbox",
                "itemValuePath": "Schema",
                "parameters": {
                  "isUpdate": {
                    "value": false
                  }
                }
              }
            }
          }
        ],
        "description": "Creates a new Lead record",
        "x-ms-visibility": "important"
      }
    },
    "/api/LeadsUpdate": {
      "post": {
        "responses": {
          "200": {
            "description": "OK, Success",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Code"
                },
                "State": {
                  "type": "string",
                  "description": "State"
                },
                "Values": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Msg": {
                        "type": "string",
                        "description": "Msg"
                      },
                      "CreatedEntry": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Key": {
                              "type": "object",
                              "properties": {
                                "Value": {
                                  "type": "string",
                                  "description": "Key's Value"
                                },
                                "ID": {
                                  "type": "string",
                                  "description": "Key's ID"
                                }
                              },
                              "description": "Key"
                            },
                            "CompanyName": {
                              "type": "string",
                              "description": "CompanyName"
                            },
                            "MrMs": {
                              "type": "string",
                              "description": "MrMs"
                            },
                            "FirstName": {
                              "type": "string",
                              "description": "FirstName"
                            },
                            "MiddleName": {
                              "type": "string",
                              "description": "MiddleName"
                            },
                            "LastName": {
                              "type": "string",
                              "description": "LastName"
                            },
                            "Salutation": {
                              "type": "string",
                              "description": "Salutation"
                            },
                            "Position": {
                              "type": "string",
                              "description": "Position"
                            },
                            "Email": {
                              "type": "object",
                              "properties": {
                                "Default": {
                                  "type": "boolean",
                                  "description": "is Email Default?"
                                },
                                "Description": {
                                  "type": "string",
                                  "description": "Email's Description"
                                },
                                "Address": {
                                  "type": "string",
                                  "description": "Email's Address"
                                },
                                "DisplayValue": {
                                  "type": "string",
                                  "description": "Email's DisplayValue"
                                }
                              },
                              "description": "Email"
                            },
                            "Website": {
                              "type": "string",
                              "description": "Website"
                            },
                            "Status": {
                              "type": "object",
                              "properties": {
                                "Value": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Status's Value"
                                },
                                "DisplayValue": {
                                  "type": "string",
                                  "description": "Status's DisplayValue"
                                }
                              },
                              "description": "Status"
                            },
                            "AssignedTo": {
                              "type": "object",
                              "properties": {
                                "Key": {
                                  "type": "object",
                                  "properties": {
                                    "Value": {
                                      "type": "string",
                                      "description": "AssignedTo's Key Value"
                                    },
                                    "UID": {
                                      "type": "string",
                                      "description": "AssignedTo's Key UID"
                                    }
                                  },
                                  "description": "AssignedTo's Key"
                                },
                                "DisplayValue": {
                                  "type": "string",
                                  "description": "AssignedTo's DisplayValue"
                                }
                              },
                              "description": "AssignedTo"
                            },
                            "Address": {
                              "type": "object",
                              "properties": {
                                "AddressLine1": {
                                  "type": "string",
                                  "description": "Address's AddressLine1"
                                },
                                "AddressLine2": {
                                  "type": "string",
                                  "description": "Address's AddressLine2"
                                },
                                "City": {
                                  "type": "string",
                                  "description": "Address's City"
                                },
                                "StateProvince": {
                                  "type": "string",
                                  "description": "Address's StateProvince"
                                },
                                "ZipCode": {
                                  "type": "string",
                                  "description": "Address's ZipCode"
                                },
                                "Country": {
                                  "type": "string",
                                  "description": "Address's Country"
                                }
                              },
                              "description": "Address"
                            },
                            "CreationDate": {
                              "type": "string",
                              "description": "CreationDate"
                            },
                            "LastModifyDate": {
                              "type": "string",
                              "description": "LastModifyDate"
                            },
                            "Phone1": {
                              "type": "object",
                              "properties": {
                                "Default": {
                                  "type": "boolean",
                                  "description": "is Phone1 Default?"
                                },
                                "Description": {
                                  "type": "string",
                                  "description": "Phone1's Description"
                                },
                                "Number": {
                                  "type": "string",
                                  "description": "Phone1's Number"
                                },
                                "Extension": {
                                  "type": "string",
                                  "description": "Phone1's Extension"
                                },
                                "DisplayValue": {
                                  "type": "string",
                                  "description": "Phone1's DisplayValue"
                                }
                              },
                              "description": "Phone1"
                            },
                            "Phone2": {
                              "type": "object",
                              "properties": {
                                "Default": {
                                  "type": "boolean",
                                  "description": "is Phone2 Default?"
                                },
                                "Description": {
                                  "type": "string",
                                  "description": "Phone2's Description"
                                },
                                "Number": {
                                  "type": "string",
                                  "description": "Phone2's Number"
                                },
                                "Extension": {
                                  "type": "string",
                                  "description": "Phone2's Extension"
                                },
                                "DisplayValue": {
                                  "type": "string",
                                  "description": "Phone2's DisplayValue"
                                }
                              },
                              "description": "Phone2"
                            },
                            "SecStatus": {
                              "type": "object",
                              "properties": {
                                "CanCreate": {
                                  "type": "boolean",
                                  "description": "SecStatus's CanCreate"
                                },
                                "CanRead": {
                                  "type": "boolean",
                                  "description": "SecStatus's CanRead"
                                },
                                "CanUpdate": {
                                  "type": "boolean",
                                  "description": "SecStatus's CanUpdate"
                                },
                                "CanDelete": {
                                  "type": "boolean",
                                  "description": "SecStatus's CanDelete"
                                }
                              },
                              "description": "SecStatus"
                            },
                            "DisplayValue": {
                              "type": "string",
                              "description": "DisplayValue"
                            },
                            "FullName": {
                              "type": "string",
                              "description": "FullName"
                            },
                            "CloseDate": {
                              "type": "string",
                              "description": "CloseDate"
                            },
                            "CampaignKey": {
                              "type": "string",
                              "description": "CampaignKey"
                            },
                            "Campaign": {
                              "type": "string",
                              "description": "Campaign"
                            },
                            "ProcessSetupKey": {
                              "type": "string",
                              "description": "ProcessSetupKey"
                            },
                            "ProcessStageSetupKey": {
                              "type": "string",
                              "description": "ProcessStageSetupKey"
                            },
                            "ProcessSetup": {
                              "type": "object",
                              "properties": {
                                "Key": {
                                  "type": "string",
                                  "description": "ProcessSetup's Key"
                                },
                                "DisplayValue": {
                                  "type": "string",
                                  "description": "ProcessSetup's DisplayValue"
                                }
                              },
                              "description": "ProcessSetup"
                            },
                            "ProcessStageSetup": {
                              "type": "object",
                              "properties": {
                                "Key": {
                                  "type": "string",
                                  "description": "ProcessStageSetup's Key"
                                },
                                "DisplayValue": {
                                  "type": "string",
                                  "description": "ProcessStageSetup's DisplayValue"
                                }
                              },
                              "description": "ProcessStageSetup"
                            },
                            "Partner": {
                              "type": "object",
                              "properties": {
                                "Key": {
                                  "type": "string",
                                  "description": "Partner's Key"
                                },
                                "Email": {
                                  "type": "string",
                                  "description": "Partner's Email"
                                },
                                "Type": {
                                  "type": "string",
                                  "description": "Partner's Type"
                                },
                                "CompanyName": {
                                  "type": "string",
                                  "description": "Partner's CompanyName"
                                },
                                "MrMs": {
                                  "type": "string",
                                  "description": "Partner's MrMs"
                                },
                                "FirstName": {
                                  "type": "string",
                                  "description": "Partner's FirstName"
                                },
                                "MiddleName": {
                                  "type": "string",
                                  "description": "Partner's MiddleName"
                                },
                                "LastName": {
                                  "type": "string",
                                  "description": "Partner's LastName"
                                },
                                "FullName": {
                                  "type": "string",
                                  "description": "Partner's FullName"
                                }
                              },
                              "description": "Partner"
                            },
                            "AbEntry": {
                              "type": "string",
                              "description": "AbEntry"
                            },
                            "Opportunity": {
                              "type": "string",
                              "description": "Opportunity"
                            }
                          }
                        },
                        "description": "CreatedEntry"
                      }
                    }
                  },
                  "description": "Values"
                }
              }
            }
          }
        },
        "operationId": "LeadsUpdate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "LeadsTextbox",
                "itemValuePath": "Schema",
                "parameters": {
                  "isUpdate": {
                    "value": true
                  }
                }
              }
            }
          }
        ],
        "description": "Updates an existing Lead record",
        "summary": "Updates an existing Lead record",
        "x-ms-visibility": "important"
      }
    },
    "/api/SearchAbEntry": {
      "post": {
        "responses": {
          "200": {
            "description": "OK, Success",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Code"
                },
                "State": {
                  "type": "string",
                  "description": "State"
                },
                "Values": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Key": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "string",
                            "description": "Key's Value"
                          },
                          "ID": {
                            "type": "string",
                            "description": "Key's ID"
                          }
                        },
                        "description": "Key"
                      },
                      "Type": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "string",
                            "description": "Type's Value"
                          },
                          "DisplayValue": {
                            "type": "string",
                            "description": "Type's DisplayValue"
                          }
                        },
                        "description": "Type"
                      },
                      "CompanyName": {
                        "type": "string",
                        "description": "CompanyName"
                      },
                      "MrMs": {
                        "type": "string",
                        "description": "MrMs"
                      },
                      "FirstName": {
                        "type": "string",
                        "description": "FirstName"
                      },
                      "MiddleName": {
                        "type": "string",
                        "description": "MiddleName"
                      },
                      "LastName": {
                        "type": "string",
                        "description": "LastName"
                      },
                      "FullName": {
                        "type": "string",
                        "description": "FullName"
                      },
                      "Position": {
                        "type": "string",
                        "description": "Position"
                      },
                      "Salutation": {
                        "type": "string",
                        "description": "Salutation"
                      },
                      "Department": {
                        "type": "string",
                        "description": "Department"
                      },
                      "Division": {
                        "type": "string",
                        "description": "Division"
                      },
                      "Phone1": {
                        "type": "object",
                        "properties": {
                          "Default": {
                            "type": "string",
                            "description": "is Phone1 Default?"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Phone1's Description"
                          },
                          "Number": {
                            "type": "string",
                            "description": "Phone1's Number"
                          },
                          "Extension": {
                            "type": "string",
                            "description": "Phone1's Extension"
                          }
                        },
                        "description": "Phone1"
                      },
                      "Phone2": {
                        "type": "object",
                        "properties": {
                          "Default": {
                            "type": "string",
                            "description": "is Phone2 Default?"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Phone2's Description"
                          },
                          "Number": {
                            "type": "string",
                            "description": "Phone2's Number"
                          },
                          "Extension": {
                            "type": "string",
                            "description": "Phone2's Extension"
                          }
                        },
                        "description": "Phone2"
                      },
                      "Phone3": {
                        "type": "object",
                        "properties": {
                          "Default": {
                            "type": "string",
                            "description": "is Phone3 Default?"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Phone3's Description"
                          },
                          "Number": {
                            "type": "string",
                            "description": "Phone3's Number"
                          },
                          "Extension": {
                            "type": "string",
                            "description": "Phone3's Extension"
                          }
                        },
                        "description": "Phone3"
                      },
                      "Phone4": {
                        "type": "object",
                        "properties": {
                          "Default": {
                            "type": "string",
                            "description": "is Phone4 Default?"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Phone4's Description"
                          },
                          "Number": {
                            "type": "string",
                            "description": "Phone4's Number"
                          },
                          "Extension": {
                            "type": "string",
                            "description": "Phone4's Extension"
                          }
                        },
                        "description": "Phone4"
                      },
                      "Address": {
[...]
