{
  "swagger": "2.0",
  "info": {
    "title": "AccuWeather",
    "description": "AccuWeather provides commercial weather forecasting services worldwide.",
    "version": "1.0",
    "contact": {
      "name": "Ahmad Najjar",
      "email": "ahmadn82@hotmail.com"
    }
  },
  "host": "dataservice.accuweather.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/locations/v1/adminareas/{countryCode}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "ID": {
                    "type": "string",
                    "description": "ID"
                  },
                  "LocalizedName": {
                    "type": "string",
                    "description": "LocalizedName"
                  },
                  "EnglishName": {
                    "type": "string",
                    "description": "EnglishName"
                  },
                  "Level": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Level"
                  },
                  "LocalizedType": {
                    "type": "string",
                    "description": "LocalizedType"
                  },
                  "EnglishType": {
                    "type": "string",
                    "description": "EnglishType"
                  },
                  "CountryID": {
                    "type": "string",
                    "description": "CountryID"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Admin Area List",
        "description": "Returns basic information about administrative areas in the specified country.",
        "operationId": "AdminAreas",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The country code to return administrative areas for",
            "x-ms-summary": "Country Code",
            "x-ms-visibility": "important"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "String indicating the language in which to return the resource. (Default en-us)",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced",
            "description": "Integer, along with the limit (25) that determines the first resource to be returned. If no offset is provided, the max number (100) of results will be returned."
          }
        ]
      }
    },
    "/locations/v1/countries/{regionCode}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "ID": {
                    "type": "string",
                    "description": "ID"
                  },
                  "LocalizedName": {
                    "type": "string",
                    "description": "LocalizedName"
                  },
                  "EnglishName": {
                    "type": "string",
                    "description": "EnglishName"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Country List",
        "description": "Returns basic information about all countries within a specified region.",
        "operationId": "CountryList",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "regionCode",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The region code to return country list for",
            "x-ms-summary": "Region Code",
            "x-ms-visibility": "important"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "String indicating the language in which to return the resource. (Default en-us)",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/locations/v1/regions": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "ID": {
                    "type": "string",
                    "description": "ID"
                  },
                  "LocalizedName": {
                    "type": "string",
                    "description": "LocalizedName"
                  },
                  "EnglishName": {
                    "type": "string",
                    "description": "EnglishName"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Region List",
        "description": "Returns basic information about all regions.",
        "operationId": "RegionList",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/locations/v1/topcities/{group}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Version": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Version"
                  },
                  "Key": {
                    "type": "string",
                    "description": "Key"
                  },
                  "Type": {
                    "type": "string",
                    "description": "Type"
                  },
                  "Rank": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Rank"
                  },
                  "LocalizedName": {
                    "type": "string",
                    "description": "LocalizedName"
                  },
                  "EnglishName": {
                    "type": "string",
                    "description": "EnglishName"
                  },
                  "PrimaryPostalCode": {
                    "type": "string",
                    "description": "PrimaryPostalCode"
                  },
                  "Region": {
                    "type": "object",
                    "properties": {
                      "ID": {
                        "type": "string",
                        "description": "ID"
                      },
                      "LocalizedName": {
                        "type": "string",
                        "description": "LocalizedName"
                      },
                      "EnglishName": {
                        "type": "string",
                        "description": "EnglishName"
                      }
                    },
                    "description": "Region"
                  },
                  "Country": {
                    "type": "object",
                    "properties": {
                      "ID": {
                        "type": "string",
                        "description": "ID"
                      },
                      "LocalizedName": {
                        "type": "string",
                        "description": "LocalizedName"
                      },
                      "EnglishName": {
                        "type": "string",
                        "description": "EnglishName"
                      }
                    },
                    "description": "Country"
                  },
                  "AdministrativeArea": {
                    "type": "object",
                    "properties": {
                      "ID": {
                        "type": "string",
                        "description": "ID"
                      },
                      "LocalizedName": {
                        "type": "string",
                        "description": "LocalizedName"
                      },
                      "EnglishName": {
                        "type": "string",
                        "description": "EnglishName"
                      },
                      "Level": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Level"
                      },
                      "LocalizedType": {
                        "type": "string",
                        "description": "LocalizedType"
                      },
                      "EnglishType": {
                        "type": "string",
                        "description": "EnglishType"
                      },
                      "CountryID": {
                        "type": "string",
                        "description": "CountryID"
                      }
                    },
                    "description": "AdministrativeArea"
                  },
                  "TimeZone": {
                    "type": "object",
                    "properties": {
                      "Code": {
                        "type": "string",
                        "description": "Code"
                      },
                      "Name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "GmtOffset": {
                        "type": "integer",
                        "format": "int32",
                        "description": "GmtOffset"
                      },
                      "IsDaylightSaving": {
                        "type": "boolean",
                        "description": "IsDaylightSaving"
                      },
                      "NextOffsetChange": {
                        "type": "string",
                        "description": "NextOffsetChange"
                      }
                    },
                    "description": "TimeZone"
                  },
                  "GeoPosition": {
                    "type": "object",
                    "properties": {
                      "Latitude": {
                        "type": "number",
                        "format": "float",
                        "description": "Latitude"
                      },
                      "Longitude": {
                        "type": "number",
                        "format": "float",
                        "description": "Longitude"
                      },
                      "Elevation": {
                        "type": "object",
                        "properties": {
                          "Metric": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "UnitType"
                              }
                            },
                            "description": "Metric"
                          },
                          "Imperial": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "UnitType"
                              }
                            },
                            "description": "Imperial"
                          }
                        },
                        "description": "Elevation"
                      }
                    },
                    "description": "GeoPosition"
                  },
                  "IsAlias": {
                    "type": "boolean",
                    "description": "IsAlias"
                  },
                  "SupplementalAdminAreas": {
                    "type": "array",
                    "items": {},
                    "description": "SupplementalAdminAreas"
                  },
                  "DataSets": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "DataSets"
                  },
                  "Details": {
                    "type": "object",
                    "properties": {
                      "Key": {
                        "type": "string",
                        "description": "Key"
                      },
                      "StationCode": {
                        "type": "string",
                        "description": "StationCode"
                      },
                      "StationGmtOffset": {
                        "type": "integer",
                        "format": "int32",
                        "description": "StationGmtOffset"
                      },
                      "BandMap": {
                        "type": "string",
                        "description": "BandMap"
                      },
                      "Climo": {
                        "type": "string",
                        "description": "Climo"
                      },
                      "LocalRadar": {
                        "type": "string",
                        "description": "LocalRadar"
                      },
                      "MediaRegion": {
                        "type": "string",
                        "description": "MediaRegion"
                      },
                      "Metar": {
                        "type": "string",
                        "description": "Metar"
                      },
                      "NXMetro": {
                        "type": "string",
                        "description": "NXMetro"
                      },
                      "NXState": {
                        "type": "string",
                        "description": "NXState"
                      },
                      "Population": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Population"
                      },
                      "PrimaryWarningCountyCode": {
                        "type": "string",
                        "description": "PrimaryWarningCountyCode"
                      },
                      "PrimaryWarningZoneCode": {
                        "type": "string",
                        "description": "PrimaryWarningZoneCode"
                      },
                      "Satellite": {
                        "type": "string",
                        "description": "Satellite"
                      },
                      "Synoptic": {
                        "type": "string",
                        "description": "Synoptic"
                      },
                      "MarineStation": {
                        "type": "string",
                        "description": "MarineStation"
                      },
                      "MarineStationGMTOffset": {
                        "type": "string",
                        "description": "MarineStationGMTOffset"
                      },
                      "VideoCode": {
                        "type": "string",
                        "description": "VideoCode"
                      },
                      "LocationStem": {
                        "type": "string",
                        "description": "LocationStem"
                      },
                      "PartnerID": {
                        "type": "string",
                        "description": "PartnerID"
                      },
                      "Sources": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "DataType": {
                              "type": "string",
                              "description": "DataType"
                            },
                            "Source": {
                              "type": "string",
                              "description": "Source"
                            },
                            "SourceId": {
                              "type": "integer",
                              "format": "int32",
                              "description": "SourceId"
                            },
                            "PartnerSourceUrl": {
                              "type": "string",
                              "description": "PartnerSourceUrl"
                            }
                          }
                        },
                        "description": "Sources"
                      },
                      "CanonicalPostalCode": {
                        "type": "string",
                        "description": "CanonicalPostalCode"
                      },
                      "CanonicalLocationKey": {
                        "type": "string",
                        "description": "CanonicalLocationKey"
                      }
                    },
                    "description": "Details"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Top Cities List",
        "description": "Returns information for the top 50, 100, or 150 cities, worldwide.",
        "operationId": "TopCitiesList",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Group",
            "description": "Integer that indicates the number of cities to return. Current supported values are 50, 100, or 150 worldwide.",
            "x-ms-visibility": "important",
            "format": "int32"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "String indicating the language in which to return the resource. (Default en-us)",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "details",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Details",
            "x-ms-visibility": "advanced",
            "description": "Specifies whether or not to include full details in the response.",
            "enum": [
              false,
              true
            ]
          }
        ]
      }
    },
    "/locations/v1/cities/autocomplete": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Version": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Version"
                  },
                  "Key": {
                    "type": "string",
                    "description": "Key"
                  },
                  "Type": {
                    "type": "string",
                    "description": "Type"
                  },
                  "Rank": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Rank"
                  },
                  "LocalizedName": {
                    "type": "string",
                    "description": "LocalizedName"
                  },
                  "Country": {
                    "type": "object",
                    "properties": {
                      "ID": {
                        "type": "string",
                        "description": "ID"
                      },
                      "LocalizedName": {
                        "type": "string",
                        "description": "LocalizedName"
                      }
                    },
                    "description": "Country"
                  },
                  "AdministrativeArea": {
                    "type": "object",
                    "properties": {
                      "ID": {
                        "type": "string",
                        "description": "ID"
                      },
                      "LocalizedName": {
                        "type": "string",
                        "description": "LocalizedName"
                      }
                    },
                    "description": "AdministrativeArea"
                  }
                }
              }
            }
          }
        },
        "summary": "Autocomplete search (Cities)",
        "description": "Returns basic information about locations matching an autocomplete of the search text.",
        "operationId": "AutocompleteCities",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Text to use for Autocomplete search.",
            "x-ms-summary": "Text",
            "x-ms-visibility": "important"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "String indicating the language in which to return the resource. (Default en-us)",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/locations/v1/cities/geoposition/search": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Version": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Version"
                },
                "Key": {
                  "type": "string",
                  "description": "Key"
                },
                "Type": {
                  "type": "string",
                  "description": "Type"
                },
                "Rank": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Rank"
                },
                "LocalizedName": {
                  "type": "string",
                  "description": "LocalizedName"
                },
                "EnglishName": {
                  "type": "string",
                  "description": "EnglishName"
                },
                "PrimaryPostalCode": {
                  "type": "string",
                  "description": "PrimaryPostalCode"
                },
                "Region": {
                  "type": "object",
                  "properties": {
                    "ID": {
                      "type": "string",
                      "description": "ID"
                    },
                    "LocalizedName": {
                      "type": "string",
                      "description": "LocalizedName"
                    },
                    "EnglishName": {
                      "type": "string",
                      "description": "EnglishName"
                    }
                  },
                  "description": "Region"
                },
                "Country": {
                  "type": "object",
                  "properties": {
                    "ID": {
                      "type": "string",
                      "description": "ID"
                    },
                    "LocalizedName": {
                      "type": "string",
                      "description": "LocalizedName"
                    },
                    "EnglishName": {
                      "type": "string",
                      "description": "EnglishName"
                    }
                  },
                  "description": "Country"
                },
                "AdministrativeArea": {
                  "type": "object",
                  "properties": {
                    "ID": {
                      "type": "string",
                      "description": "ID"
                    },
                    "LocalizedName": {
                      "type": "string",
                      "description": "LocalizedName"
                    },
                    "EnglishName": {
                      "type": "string",
                      "description": "EnglishName"
                    },
                    "Level": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Level"
                    },
                    "LocalizedType": {
                      "type": "string",
                      "description": "LocalizedType"
                    },
                    "EnglishType": {
                      "type": "string",
                      "description": "EnglishType"
                    },
                    "CountryID": {
                      "type": "string",
                      "description": "CountryID"
                    }
                  },
                  "description": "AdministrativeArea"
                },
                "TimeZone": {
                  "type": "object",
                  "properties": {
                    "Code": {
                      "type": "string",
                      "description": "Code"
                    },
                    "Name": {
                      "type": "string",
                      "description": "Name"
                    },
                    "GmtOffset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "GmtOffset"
                    },
                    "IsDaylightSaving": {
                      "type": "boolean",
                      "description": "IsDaylightSaving"
                    },
                    "NextOffsetChange": {
                      "type": "string",
                      "description": "NextOffsetChange"
                    }
                  },
                  "description": "TimeZone"
                },
                "GeoPosition": {
                  "type": "object",
                  "properties": {
                    "Latitude": {
                      "type": "number",
                      "format": "float",
                      "description": "Latitude"
                    },
                    "Longitude": {
                      "type": "number",
                      "format": "float",
                      "description": "Longitude"
                    },
                    "Elevation": {
                      "type": "object",
                      "properties": {
                        "Metric": {
                          "type": "object",
                          "properties": {
                            "Value": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Value"
                            },
                            "Unit": {
                              "type": "string",
                              "description": "Unit"
                            },
                            "UnitType": {
                              "type": "integer",
                              "format": "int32",
                              "description": "UnitType"
                            }
                          },
                          "description": "Metric"
                        },
                        "Imperial": {
                          "type": "object",
                          "properties": {
                            "Value": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Value"
                            },
                            "Unit": {
                              "type": "string",
                              "description": "Unit"
                            },
                            "UnitType": {
                              "type": "integer",
                              "format": "int32",
                              "description": "UnitType"
                            }
                          },
                          "description": "Imperial"
                        }
                      },
                      "description": "Elevation"
                    }
                  },
                  "description": "GeoPosition"
                },
                "IsAlias": {
                  "type": "boolean",
                  "description": "IsAlias"
                },
                "ParentCity": {
                  "type": "object",
                  "properties": {
                    "Key": {
                      "type": "string",
                      "description": "Key"
                    },
                    "LocalizedName": {
                      "type": "string",
                      "description": "LocalizedName"
                    },
                    "EnglishName": {
                      "type": "string",
                      "description": "EnglishName"
                    }
                  },
                  "description": "ParentCity"
                },
                "SupplementalAdminAreas": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Level": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Level"
                      },
                      "LocalizedName": {
                        "type": "string",
                        "description": "LocalizedName"
                      },
                      "EnglishName": {
                        "type": "string",
                        "description": "EnglishName"
                      }
                    }
                  },
                  "description": "SupplementalAdminAreas"
                },
                "DataSets": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "DataSets"
                },
                "Details": {
                  "type": "object",
                  "properties": {
                    "Key": {
                      "type": "string",
                      "description": "Key"
                    },
                    "StationCode": {
                      "type": "string",
                      "description": "StationCode"
                    },
                    "StationGmtOffset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "StationGmtOffset"
                    },
                    "BandMap": {
                      "type": "string",
                      "description": "BandMap"
                    },
                    "Climo": {
                      "type": "string",
                      "description": "Climo"
                    },
                    "LocalRadar": {
                      "type": "string",
                      "description": "LocalRadar"
                    },
                    "MediaRegion": {
                      "type": "string",
                      "description": "MediaRegion"
                    },
                    "Metar": {
                      "type": "string",
                      "description": "Metar"
                    },
                    "NXMetro": {
                      "type": "string",
                      "description": "NXMetro"
                    },
                    "NXState": {
                      "type": "string",
                      "description": "NXState"
                    },
                    "Population": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Population"
                    },
                    "PrimaryWarningCountyCode": {
                      "type": "string",
                      "description": "PrimaryWarningCountyCode"
                    },
                    "PrimaryWarningZoneCode": {
                      "type": "string",
                      "description": "PrimaryWarningZoneCode"
                    },
                    "Satellite": {
                      "type": "string",
                      "description": "Satellite"
                    },
                    "Synoptic": {
                      "type": "string",
                      "description": "Synoptic"
                    },
                    "MarineStation": {
                      "type": "string",
                      "description": "MarineStation"
                    },
                    "MarineStationGMTOffset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "MarineStationGMTOffset"
                    },
                    "VideoCode": {
                      "type": "string",
                      "description": "VideoCode"
                    },
                    "LocationStem": {
                      "type": "string",
                      "description": "LocationStem"
                    },
                    "DMA": {
                      "type": "object",
                      "properties": {
                        "ID": {
                          "type": "string",
                          "description": "ID"
                        },
                        "EnglishName": {
                          "type": "string",
                          "description": "EnglishName"
                        }
                      },
                      "description": "DMA"
                    },
                    "PartnerID": {
                      "type": "string",
                      "description": "PartnerID"
                    },
                    "Sources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "DataType": {
                            "type": "string",
                            "description": "DataType"
                          },
                          "Source": {
                            "type": "string",
                            "description": "Source"
                          },
                          "SourceId": {
                            "type": "integer",
                            "format": "int32",
                            "description": "SourceId"
                          }
                        }
                      },
                      "description": "Sources"
                    },
                    "CanonicalPostalCode": {
                      "type": "string",
                      "description": "CanonicalPostalCode"
                    },
                    "CanonicalLocationKey": {
                      "type": "string",
                      "description": "CanonicalLocationKey"
                    }
                  },
                  "description": "Details"
                }
              }
            }
          }
        },
        "summary": "Geoposition Search (Latitude and Longitude)",
        "description": "Returns information about a specific location, by GeoPosition (Latitude and Longitude).",
        "operationId": "GeopositionSearch",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "A comma-separated lat/lon pair (lat,lon).",
            "x-ms-summary": "Latitude,Longtitude",
            "x-ms-visibility": "important"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "String indicating the language in which to return the resource. (Default en-us)",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "details",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether or not to include full details in the response.",
            "x-ms-summary": "Details",
            "x-ms-visibility": "advanced",
            "enum": [
              false,
              true
            ]
          },
          {
            "name": "toplevel",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "When toplevel=true, the city with the highest rank will be returned. Large cities have higher rank than the neighborhoods within them, so toplevel=true delivers a more generic location result. (Example: 40.73,-74.00 returns Greenwich Village, NY when toplevel=false. If toplevel=true, the same lat/lon pair will return New York, NY.)",
            "x-ms-summary": "Top Level",
            "x-ms-visibility": "advanced",
            "enum": [
              false,
              true
            ]
          }
        ]
      }
    },
    "/forecasts/v1/daily/{duration}day/{locationKey}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Headline": {
                  "type": "object",
                  "properties": {
                    "EffectiveDate": {
                      "type": "string",
                      "description": "EffectiveDate"
                    },
                    "EffectiveEpochDate": {
                      "type": "integer",
                      "format": "int32",
                      "description": "EffectiveEpochDate"
                    },
                    "Severity": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Severity"
                    },
                    "Text": {
                      "type": "string",
                      "description": "Text"
                    },
                    "Category": {
                      "type": "string",
                      "description": "Category"
                    },
                    "EndDate": {
                      "type": "string",
                      "description": "EndDate"
                    },
                    "EndEpochDate": {
                      "type": "integer",
                      "format": "int32",
                      "description": "EndEpochDate"
                    },
                    "MobileLink": {
                      "type": "string",
                      "description": "MobileLink"
                    },
                    "Link": {
                      "type": "string",
                      "description": "Link"
                    }
                  },
                  "description": "Headline"
                },
                "DailyForecasts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Date": {
                        "type": "string",
                        "description": "Date"
                      },
                      "EpochDate": {
                        "type": "integer",
                        "format": "int32",
                        "description": "EpochDate"
                      },
                      "Sun": {
                        "type": "object",
                        "properties": {
                          "Rise": {
                            "type": "string",
                            "description": "Rise"
                          },
                          "EpochRise": {
                            "type": "integer",
                            "format": "int32",
                            "description": "EpochRise"
                          },
                          "Set": {
                            "type": "string",
                            "description": "Set"
                          },
                          "EpochSet": {
                            "type": "integer",
                            "format": "int32",
                            "description": "EpochSet"
                          }
                        },
                        "description": "Sun"
                      },
                      "Moon": {
                        "type": "object",
                        "properties": {
                          "Rise": {
                            "type": "string",
                            "description": "Rise"
                          },
                          "EpochRise": {
                            "type": "integer",
                            "format": "int32",
                            "description": "EpochRise"
                          },
                          "Set": {
                            "type": "string",
                            "description": "Set"
                          },
                          "EpochSet": {
                            "type": "integer",
                            "format": "int32",
                            "description": "EpochSet"
                          },
                          "Phase": {
                            "type": "string",
                            "description": "Phase"
                          },
                          "Age": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Age"
                          }
                        },
                        "description": "Moon"
                      },
                      "Temperature": {
                        "type": "object",
                        "properties": {
                          "Minimum": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "UnitType"
                              }
                            },
                            "description": "Minimum"
                          },
                          "Maximum": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "UnitType"
                              }
                            },
                            "description": "Maximum"
                          }
                        },
                        "description": "Temperature"
                      },
                      "RealFeelTemperature": {
                        "type": "object",
                        "properties": {
                          "Minimum": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "UnitType"
                              }
                            },
                            "description": "Minimum"
                          },
                          "Maximum": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "UnitType"
                              }
                            },
                            "description": "Maximum"
                          }
                        },
                        "description": "RealFeelTemperature"
                      },
                      "RealFeelTemperatureShade": {
                        "type": "object",
                        "properties": {
                          "Minimum": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "UnitType"
                              }
                            },
                            "description": "Minimum"
                          },
                          "Maximum": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "UnitType"
                              }
                            },
                            "description": "Maximum"
                          }
                        },
                        "description": "RealFeelTemperatureShade"
                      },
                      "HoursOfSun": {
                        "type": "number",
                        "format": "float",
                        "description": "HoursOfSun"
                      },
                      "DegreeDaySummary": {
                        "type": "object",
                        "properties": {
                          "Heating": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "UnitType"
                              }
                            },
                            "description": "Heating"
                          },
                          "Cooling": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "UnitType"
                              }
                            },
                            "description": "Cooling"
                          }
                        },
                        "description": "DegreeDaySummary"
                      },
                      "AirAndPollen": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Name": {
                              "type": "string",
                              "description": "Name"
                            },
                            "Value": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Value"
                            },
                            "Category": {
                              "type": "string",
                              "description": "Category"
                            },
                            "CategoryValue": {
                              "type": "integer",
                              "format": "int32",
                              "description": "CategoryValue"
                            },
                            "Type": {
                              "type": "string",
                              "description": "Type"
                            }
                          }
                        },
                        "description": "AirAndPollen"
                      },
                      "Day": {
                        "type": "object",
                        "properties": {
                          "Icon": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Icon"
                          },
                          "IconPhrase": {
                            "type": "string",
                            "description": "IconPhrase"
                          },
                          "HasPrecipitation": {
                            "type": "boolean",
                            "description": "HasPrecipitation"
                          },
                          "ShortPhrase": {
                            "type": "string",
                            "description": "ShortPhrase"
                          },
                          "LongPhrase": {
                            "type": "string",
                            "description": "LongPhrase"
                          },
                          "PrecipitationProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "PrecipitationProbability"
                          },
                          "ThunderstormProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "ThunderstormProbability"
                          },
                          "RainProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "RainProbability"
                          },
                          "SnowProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "SnowProbability"
                          },
                          "IceProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "IceProbability"
                          },
                          "Wind": {
                            "type": "object",
                            "properties": {
                              "Speed": {
                                "type": "object",
                                "properties": {
                                  "Value": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Value"
                                  },
                                  "Unit": {
                                    "type": "string",
                                    "description": "Unit"
                                  },
                                  "UnitType": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "UnitType"
                                  }
                                },
                                "description": "Speed"
                              },
                              "Direction": {
                                "type": "object",
                                "properties": {
                                  "Degrees": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Degrees"
                                  },
                                  "Localized": {
                                    "type": "string",
                                    "description": "Localized"
                                  },
                                  "English": {
                                    "type": "string",
                                    "description": "English"
                                  }
                                },
                                "description": "Direction"
                              }
                            },
                            "description": "Wind"
                          },
                          "WindGust": {
                            "type": "object",
                            "properties": {
                              "Speed": {
                                "type": "object",
                                "properties": {
                                  "Value": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "Value"
                                  },
                                  "Unit": {
                                    "type": "string",
                                    "description": "Unit"
                                  },
                                  "UnitType": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "UnitType"
                                  }
                                },
                                "description": "Speed"
                              },
                              "Direction": {
                                "type": "object",
                                "properties": {
                                  "Degrees": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Degrees"
                                  },
                                  "Localized": {
                                    "type": "string",
                                    "description": "Localized"
                                  },
                                  "English": {
                                    "type": "string",
                                    "description": "English"
                                  }
                                },
                                "description": "Direction"
                              }
                            },
                            "description": "WindGust"
                          },
                          "TotalLiquid": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "UnitType"
                              }
                            },
                            "description": "TotalLiquid"
                          },
                          "Rain": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "UnitType"
                              }
                            },
                            "description": "Rain"
                          },
                          "Snow": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "UnitType"
                              }
                            },
                            "description": "Snow"
                          },
                          "Ice": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "UnitType"
                              }
                            },
                            "description": "Ice"
                          },
                          "HoursOfPrecipitation": {
                            "type": "integer",
                            "format": "int32",
                            "description": "HoursOfPrecipitation"
                          },
                          "HoursOfRain": {
                            "type": "integer",
                            "format": "int32",
                            "description": "HoursOfRain"
                          },
                          "HoursOfSnow": {
                            "type": "integer",
                            "format": "int32",
                            "description": "HoursOfSnow"
                          },
                          "HoursOfIce": {
                            "type": "integer",
                            "format": "int32",
                            "description": "HoursOfIce"
                          },
                          "CloudCover": {
                            "type": "integer",
                            "format": "int32",
                            "description": "CloudCover"
                          },
                          "Evapotranspiration": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "UnitType"
                              }
                            },
                            "description": "Evapotranspiration"
                          },
                          "SolarIrradiance": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "UnitType"
                              }
                            },
                            "description": "SolarIrradiance"
                          }
                        },
                        "description": "Day"
                      },
                      "Night": {
                        "type": "object",
                        "properties": {
                          "Icon": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Icon"
                          },
                          "IconPhrase": {
                            "type": "string",
                            "description": "IconPhrase"
                          },
                          "HasPrecipitation": {
                            "type": "boolean",
                            "description": "HasPrecipitation"
                          },
                          "ShortPhrase": {
                            "type": "string",
                            "description": "ShortPhrase"
                          },
                          "LongPhrase": {
                            "type": "string",
                            "description": "LongPhrase"
                          },
                          "PrecipitationProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "PrecipitationProbability"
                          },
                          "ThunderstormProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "ThunderstormProbability"
                          },
                          "RainProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "RainProbability"
                          },
                          "SnowProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "SnowProbability"
                          },
                          "IceProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "IceProbability"
                          },
                          "Wind": {
                            "type": "object",
                            "properties": {
                              "Speed": {
                                "type": "object",
                                "properties": {
                                  "Value": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "Value"
                                  },
                                  "Unit": {
                                    "type": "string",
                                    "description": "Unit"
                                  },
                                  "UnitType": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "UnitType"
                                  }
                                },
                                "description": "Speed"
                              },
                              "Direction": {
                                "type": "object",
                                "properties": {
                                  "Degrees": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Degrees"
                                  },
                                  "Localized": {
                                    "type": "string",
                                    "description": "Localized"
                                  },
                                  "English": {
                                    "type": "string",
                                    "description": "English"
                                  }
                                },
                                "description": "Direction"
                              }
                            },
                            "description": "Wind"
                          },
                          "WindGust": {
                            "type": "object",
                            "properties": {
                              "Speed": {
                                "type": "object",
                                "properties": {
                                  "Value": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "Value"
                                  },
                                  "Unit": {
                                    "type": "string",
                                    "description": "Unit"
                                  },
                                  "UnitType": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "UnitType"
                                  }
                                },
                                "description": "Speed"
                              },
                              "Direction": {
                                "type": "object",
                                "properties": {
                                  "Degrees": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Degrees"
                                  },
                                  "Localized": {
                                    "type": "string",
                                    "description": "Localized"
                                  },
                                  "English": {
                                    "type": "string",
                                    "description": "English"
                                  }
                                },
                                "description": "Direction"
                              }
                            },
                            "description": "WindGust"
                          },
                          "TotalLiquid": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "UnitType"
                              }
                            },
                            "description": "TotalLiquid"
                          },
                          "Rain": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "UnitType"
                              }
                            },
                            "description": "Rain"
                          },
                          "Snow": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "UnitType"
                              }
                            },
                            "description": "Snow"
                          },
                          "Ice": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "UnitType"
                              }
                            },
                            "description": "Ice"
                          },
                          "HoursOfPrecipitation": {
                            "type": "integer",
                            "format": "int32",
                            "description": "HoursOfPrecipitation"
                          },
                          "HoursOfRain": {
                            "type": "integer",
                            "format": "int32",
                            "description": "HoursOfRain"
                          },
                          "HoursOfSnow": {
                            "type": "integer",
                            "format": "int32",
                            "description": "HoursOfSnow"
                          },
                          "HoursOfIce": {
                            "type": "integer",
                            "format": "int32",
                            "description": "HoursOfIce"
                          },
                          "CloudCover": {
                            "type": "integer",
                            "format": "int32",
                            "description": "CloudCover"
                          },
                          "Evapotranspiration": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "UnitType"
                              }
                            },
                            "description": "Evapotranspiration"
                          },
                          "SolarIrradiance": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "UnitType"
                              }
                            },
                            "description": "SolarIrradiance"
                          }
                        },
                        "description": "Night"
                      },
                      "Sources": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Sources"
                      },
                      "MobileLink": {
                        "type": "string",
                        "description": "MobileLink"
                      },
                      "Link": {
                        "type": "string",
                        "description": "Link"
                      }
                    }
                  },
                  "description": "DailyForecasts"
                }
              }
            }
          }
        },
        "summary": "Get Daily Forecasts",
        "description": "Returns daily forecast data for a specific location.",
        "operationId": "DailyForcasts",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "duration",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Duration (days)",
            "description": "Time interval (duration)",
            "x-ms-visibility": "important",
            "format": "int32",
            "enum": [
              1,
              5,
              10,
              15
            ]
          },
          {
            "name": "locationKey",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Location Key",
            "description": "Unique ID used to search for a specific location.",
            "x-ms-visibility": "important",
            "format": "int32"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "String indicating the language in which to return the resource. (Default en-us)",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "details",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Details",
            "x-ms-visibility": "advanced",
            "description": "Specifies whether or not to include full details in the response.",
            "enum": [
              false,
              true
            ]
          },
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Metric",
            "x-ms-visibility": "advanced",
            "description": "Specifies whether or not to display metric values.",
            "enum": [
              false,
              true
            ]
          }
        ]
      }
    },
    "/forecasts/v1/hourly/{duration}hour/{locationKey}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "DateTime": {
                    "type": "string",
                    "description": "DateTime"
                  },
                  "EpochDateTime": {
                    "type": "integer",
                    "format": "int32",
                    "description": "EpochDateTime"
                  },
                  "WeatherIcon": {
                    "type": "integer",
                    "format": "int32",
                    "description": "WeatherIcon"
                  },
                  "IconPhrase": {
                    "type": "string",
                    "description": "IconPhrase"
                  },
                  "HasPrecipitation": {
                    "type": "boolean",
                    "description": "HasPrecipitation"
                  },
                  "IsDaylight": {
                    "type": "boolean",
                    "description": "IsDaylight"
                  },
                  "Temperature": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "float",
                        "description": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "UnitType"
                      }
                    },
                    "description": "Temperature"
                  },
                  "RealFeelTemperature": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "float",
                        "description": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "UnitType"
                      }
                    },
                    "description": "RealFeelTemperature"
                  },
                  "RealFeelTemperatureShade": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "float",
                        "description": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "UnitType"
                      }
                    },
                    "description": "RealFeelTemperatureShade"
                  },
                  "WetBulbTemperature": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "float",
                        "description": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "UnitType"
                      }
                    },
                    "description": "WetBulbTemperature"
                  },
                  "DewPoint": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "float",
                        "description": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "UnitType"
                      }
                    },
                    "description": "DewPoint"
                  },
                  "Wind": {
                    "type": "object",
                    "properties": {
                      "Speed": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Value"
                          },
                          "Unit": {
                            "type": "string",
                            "description": "Unit"
                          },
                          "UnitType": {
                            "type": "integer",
                            "format": "int32",
                            "description": "UnitType"
                          }
                        },
                        "description": "Speed"
                      },
                      "Direction": {
                        "type": "object",
                        "properties": {
                          "Degrees": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Degrees"
                          },
                          "Localized": {
                            "type": "string",
                            "description": "Localized"
                          },
                          "English": {
                            "type": "string",
                            "description": "English"
                          }
                        },
                        "description": "Direction"
                      }
                    },
                    "description": "Wind"
                  },
                  "WindGust": {
                    "type": "object",
                    "properties": {
                      "Speed": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "number",
                            "format": "float",
                            "description": "Value"
                          },
                          "Unit": {
                            "type": "string",
                            "description": "Unit"
                          },
                          "UnitType": {
                            "type": "integer",
                            "format": "int32",
                            "description": "UnitType"
                          }
                        },
                        "description": "Speed"
                      }
                    },
                    "description": "WindGust"
                  },
                  "RelativeHumidity": {
                    "type": "integer",
                    "format": "int32",
                    "description": "RelativeHumidity"
                  },
                  "IndoorRelativeHumidity": {
                    "type": "integer",
                    "format": "int32",
                    "description": "IndoorRelativeHumidity"
                  },
                  "Visibility": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "float",
                        "description": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "UnitType"
                      }
                    },
                    "description": "Visibility"
                  },
                  "Ceiling": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "UnitType"
                      }
                    },
                    "description": "Ceiling"
                  },
                  "UVIndex": {
                    "type": "integer",
                    "format": "int32",
                    "description": "UVIndex"
                  },
                  "UVIndexText": {
                    "type": "string",
                    "description": "UVIndexText"
                  },
                  "PrecipitationProbability": {
                    "type": "integer",
                    "format": "int32",
                    "description": "PrecipitationProbability"
                  },
                  "ThunderstormProbability": {
                    "type": "integer",
                    "format": "int32",
                    "description": "ThunderstormProbability"
                  },
                  "RainProbability": {
                    "type": "integer",
                    "format": "int32",
                    "description": "RainProbability"
                  },
                  "SnowProbability": {
                    "type": "integer",
                    "format": "int32",
                    "description": "SnowProbability"
                  },
                  "IceProbability": {
                    "type": "integer",
                    "format": "int32",
                    "description": "IceProbability"
                  },
                  "TotalLiquid": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "UnitType"
                      }
                    },
                    "description": "TotalLiquid"
                  },
                  "Rain": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "UnitType"
                      }
                    },
                    "description": "Rain"
                  },
                  "Snow": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "UnitType"
                      }
                    },
                    "description": "Snow"
                  },
                  "Ice": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "UnitType"
                      }
                    },
                    "description": "Ice"
                  },
                  "CloudCover": {
                    "type": "integer",
                    "format": "int32",
                    "description": "CloudCover"
                  },
                  "Evapotranspiration": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "UnitType"
                      }
                    },
                    "description": "Evapotranspiration"
                  },
                  "SolarIrradiance": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "UnitType"
                      }
                    },
                    "description": "SolarIrradiance"
                  },
                  "MobileLink": {
                    "type": "string",
                    "description": "MobileLink"
                  },
                  "Link": {
                    "type": "string",
                    "description": "Link"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Hourly Forecasts",
        "description": "Returns forecast data for the next hour(s) for a specific location.",
        "operationId": "HourlyForcasts",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "duration",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Duration (hours)",
            "description": "Time interval (duration)",
            "x-ms-visibility": "important",
            "format": "int32",
            "enum": [
              1,
              12,
              24,
              72,
              120
            ]
          },
          {
            "name": "locationKey",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Location Key",
            "description": "Unique ID used to search for a specific location.",
            "x-ms-visibility": "important",
            "format": "int32"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "String indicating the language in which to return the resource. (Default en-us)",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "details",
            "in": "query",
[...]
