{
  "swagger": "2.0",
  "info": {
    "title": "AccuWeather",
    "description": "AccuWeather provides commercial weather forecasting services worldwide.",
    "version": "3.1",
    "contact": {
      "name": "Ahmad Najjar",
      "email": "ahmadn82@hotmail.com"
    }
  },
  "host": "dataservice.accuweather.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/locations/v1/cities/autocomplete": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Version": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The version.",
                    "title": "Version"
                  },
                  "Key": {
                    "type": "string",
                    "description": "The key.",
                    "title": "Key"
                  },
                  "Type": {
                    "type": "string",
                    "description": "The type.",
                    "title": "Type"
                  },
                  "Rank": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The rank.",
                    "title": "Rank"
                  },
                  "LocalizedName": {
                    "type": "string",
                    "description": "The localized name.",
                    "title": "Localized Name"
                  },
                  "Country": {
                    "type": "object",
                    "properties": {
                      "ID": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "LocalizedName": {
                        "type": "string",
                        "description": "The localized name.",
                        "title": "Localized Name"
                      }
                    },
                    "title": "Country"
                  },
                  "AdministrativeArea": {
                    "type": "object",
                    "properties": {
                      "ID": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "LocalizedName": {
                        "type": "string",
                        "description": "The localized name.",
                        "title": "Localized Name"
                      }
                    },
                    "title": "Administrative Area"
                  }
                }
              }
            }
          }
        },
        "summary": "Autocomplete search (Cities)",
        "description": "Returns basic information about locations matching an autocomplete of the search text.",
        "operationId": "AutocompleteCities",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Text to use for Autocomplete search.",
            "x-ms-summary": "Text",
            "x-ms-visibility": "important"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "String indicating the language in which to return the resource. (Default en-us)",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced"
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "AutocompleteCities",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/forecasts/v1/daily/{duration}day/{locationKey}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Headline": {
                  "type": "object",
                  "properties": {
                    "EffectiveDate": {
                      "type": "string",
                      "description": "The effective date.",
                      "title": "Effective Date"
                    },
                    "EffectiveEpochDate": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The effective epoch date.",
                      "title": "Effective Epoch Date"
                    },
                    "Severity": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The severity.",
                      "title": "Severity"
                    },
                    "Text": {
                      "type": "string",
                      "description": "The text.",
                      "title": "Text"
                    },
                    "Category": {
                      "type": "string",
                      "description": "The category.",
                      "title": "Category"
                    },
                    "EndDate": {
                      "type": "string",
                      "description": "The end date.",
                      "title": "End Date"
                    },
                    "EndEpochDate": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The end epoch date.",
                      "title": "End Epoch Date"
                    },
                    "MobileLink": {
                      "type": "string",
                      "description": "The mobile link.",
                      "title": "Mobile Link"
                    },
                    "Link": {
                      "type": "string",
                      "description": "The link.",
                      "title": "Link"
                    }
                  },
                  "title": "Headline"
                },
                "DailyForecasts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Date": {
                        "type": "string",
                        "description": "The date.",
                        "title": "Date"
                      },
                      "EpochDate": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The epoch date.",
                        "title": "Epoch Date"
                      },
                      "Sun": {
                        "type": "object",
                        "properties": {
                          "Rise": {
                            "type": "string",
                            "description": "The rise.",
                            "title": "Rise"
                          },
                          "EpochRise": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The epoch rise.",
                            "title": "Epoch Rise"
                          },
                          "Set": {
                            "type": "string",
                            "description": "The set.",
                            "title": "Set"
                          },
                          "EpochSet": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The epoch set.",
                            "title": "Epoch Set"
                          }
                        },
                        "title": "Sun"
                      },
                      "Moon": {
                        "type": "object",
                        "properties": {
                          "Rise": {
                            "type": "string",
                            "description": "The rise.",
                            "title": "Rise"
                          },
                          "EpochRise": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The epoch rise.",
                            "title": "Epoch Rise"
                          },
                          "Set": {
                            "type": "string",
                            "description": "The set.",
                            "title": "Set"
                          },
                          "EpochSet": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The epoch set.",
                            "title": "Epoch Set"
                          },
                          "Phase": {
                            "type": "string",
                            "description": "The phase.",
                            "title": "Phase"
                          },
                          "Age": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The age.",
                            "title": "Age"
                          }
                        },
                        "title": "Moon"
                      },
                      "Temperature": {
                        "type": "object",
                        "properties": {
                          "Minimum": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Minimum"
                          },
                          "Maximum": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Maximum"
                          }
                        },
                        "title": "Temperature"
                      },
                      "RealFeelTemperature": {
                        "type": "object",
                        "properties": {
                          "Minimum": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Minimum"
                          },
                          "Maximum": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Maximum"
                          }
                        },
                        "title": "Real Feel Temperature"
                      },
                      "RealFeelTemperatureShade": {
                        "type": "object",
                        "properties": {
                          "Minimum": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Minimum"
                          },
                          "Maximum": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Maximum"
                          }
                        },
                        "title": "Real Feel Temperature Shade"
                      },
                      "HoursOfSun": {
                        "type": "number",
                        "format": "float",
                        "description": "The hours of sun.",
                        "title": "Hours Of Sun"
                      },
                      "DegreeDaySummary": {
                        "type": "object",
                        "properties": {
                          "Heating": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Heating"
                          },
                          "Cooling": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Cooling"
                          }
                        },
                        "title": "Degree Day Summary"
                      },
                      "AirAndPollen": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            },
                            "Value": {
                              "type": "number",
                              "format": "double",
                              "description": "The value.",
                              "title": "Value"
                            },
                            "Category": {
                              "type": "string",
                              "description": "The category.",
                              "title": "Category"
                            },
                            "CategoryValue": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The category value.",
                              "title": "Category Value"
                            },
                            "Type": {
                              "type": "string",
                              "description": "The type.",
                              "title": "Type"
                            }
                          }
                        },
                        "title": "Air And Pollen"
                      },
                      "Day": {
                        "type": "object",
                        "properties": {
                          "Icon": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The icon.",
                            "title": "Icon"
                          },
                          "IconPhrase": {
                            "type": "string",
                            "description": "The icon phase.",
                            "title": "Icon Phrase"
                          },
                          "HasPrecipitation": {
                            "type": "boolean",
                            "description": "Whether has precipitation.",
                            "title": "Has Precipitation"
                          },
                          "ShortPhrase": {
                            "type": "string",
                            "description": "The short phase.",
                            "title": "Short Phrase"
                          },
                          "LongPhrase": {
                            "type": "string",
                            "description": "The long phase.",
                            "title": "Long Phrase"
                          },
                          "PrecipitationProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The precipitation probability.",
                            "title": "Precipitation Probability"
                          },
                          "ThunderstormProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The thunderstorm probability.",
                            "title": "Thunderstorm Probability"
                          },
                          "RainProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The rain probability.",
                            "title": "Rain Probability"
                          },
                          "SnowProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The snow probability.",
                            "title": "Snow Probability"
                          },
                          "IceProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The ice probability.",
                            "title": "Ice Probability"
                          },
                          "Wind": {
                            "type": "object",
                            "properties": {
                              "Speed": {
                                "type": "object",
                                "properties": {
                                  "Value": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The value.",
                                    "title": "Value"
                                  },
                                  "Unit": {
                                    "type": "string",
                                    "description": "The unit.",
                                    "title": "Unit"
                                  },
                                  "UnitType": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The unit type.",
                                    "title": "Unit Type"
                                  }
                                },
                                "title": "Speed"
                              },
                              "Direction": {
                                "type": "object",
                                "properties": {
                                  "Degrees": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The degrees.",
                                    "title": "Degrees"
                                  },
                                  "Localized": {
                                    "type": "string",
                                    "description": "The localized.",
                                    "title": "Localized"
                                  },
                                  "English": {
                                    "type": "string",
                                    "description": "The English.",
                                    "title": "English"
                                  }
                                },
                                "title": "Direction"
                              }
                            },
                            "title": "Wind"
                          },
                          "WindGust": {
                            "type": "object",
                            "properties": {
                              "Speed": {
                                "type": "object",
                                "properties": {
                                  "Value": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The value.",
                                    "title": "Value"
                                  },
                                  "Unit": {
                                    "type": "string",
                                    "description": "The unit.",
                                    "title": "Unit"
                                  },
                                  "UnitType": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The unit type.",
                                    "title": "Unit Type"
                                  }
                                },
                                "title": "Speed"
                              },
                              "Direction": {
                                "type": "object",
                                "properties": {
                                  "Degrees": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The degrees.",
                                    "title": "Degrees"
                                  },
                                  "Localized": {
                                    "type": "string",
                                    "description": "The localized.",
                                    "title": "Localized"
                                  },
                                  "English": {
                                    "type": "string",
                                    "description": "The English.",
                                    "title": "English"
                                  }
                                },
                                "title": "Direction"
                              }
                            },
                            "title": "Wind Gust"
                          },
                          "TotalLiquid": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Total Liquid"
                          },
                          "Rain": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Rain"
                          },
                          "Snow": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Snow"
                          },
                          "Ice": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Ice"
                          },
                          "HoursOfPrecipitation": {
                            "type": "number",
                            "format": "double",
                            "description": "The hours of precipitation.",
                            "title": "Hours Of Precipitation"
                          },
                          "HoursOfRain": {
                            "type": "number",
                            "format": "double",
                            "description": "The hours of rain.",
                            "title": "Hours Of Rain"
                          },
                          "HoursOfSnow": {
                            "type": "number",
                            "format": "double",
                            "description": "The hours of snow.",
                            "title": "Hours Of Snow"
                          },
                          "HoursOfIce": {
                            "type": "number",
                            "format": "double",
                            "description": "The hours of ice.",
                            "title": "Hours Of Ice"
                          },
                          "CloudCover": {
                            "type": "number",
                            "format": "double",
                            "description": "The cloud cover.",
                            "title": "Cloud Cover"
                          },
                          "Evapotranspiration": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Evapotranspiration"
                          },
                          "SolarIrradiance": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Solar Irradiance"
                          }
                        },
                        "title": "Day"
                      },
                      "Night": {
                        "type": "object",
                        "properties": {
                          "Icon": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The icon.",
                            "title": "Icon"
                          },
                          "IconPhrase": {
                            "type": "string",
                            "description": "The icon phase.",
                            "title": "Icon Phrase"
                          },
                          "HasPrecipitation": {
                            "type": "boolean",
                            "description": "Whether has precipitation.",
                            "title": "Has Precipitation"
                          },
                          "ShortPhrase": {
                            "type": "string",
                            "description": "The short phase.",
                            "title": "Short Phrase"
                          },
                          "LongPhrase": {
                            "type": "string",
                            "description": "The long phase.",
                            "title": "Long Phrase"
                          },
                          "PrecipitationProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The precipitation probability.",
                            "title": "Precipitation Probability"
                          },
                          "ThunderstormProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The thunderstorm probability.",
                            "title": "Thunderstorm Probability"
                          },
                          "RainProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The rain probability.",
                            "title": "Rain Probability"
                          },
                          "SnowProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The snow probability.",
                            "title": "Snow Probability"
                          },
                          "IceProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The ice probability.",
                            "title": "Ice Probability"
                          },
                          "Wind": {
                            "type": "object",
                            "properties": {
                              "Speed": {
                                "type": "object",
                                "properties": {
                                  "Value": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The value.",
                                    "title": "Value"
                                  },
                                  "Unit": {
                                    "type": "string",
                                    "description": "The unit.",
                                    "title": "Unit"
                                  },
                                  "UnitType": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The unit type.",
                                    "title": "Unit Type"
                                  }
                                },
                                "title": "Speed"
                              },
                              "Direction": {
                                "type": "object",
                                "properties": {
                                  "Degrees": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The degrees.",
                                    "title": "Degrees"
                                  },
                                  "Localized": {
                                    "type": "string",
                                    "description": "The localized.",
                                    "title": "Localized"
                                  },
                                  "English": {
                                    "type": "string",
                                    "description": "The English.",
                                    "title": "English"
                                  }
                                },
                                "title": "Direction"
                              }
                            },
                            "title": "Wind"
                          },
                          "WindGust": {
                            "type": "object",
                            "properties": {
                              "Speed": {
                                "type": "object",
                                "properties": {
                                  "Value": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The value.",
                                    "title": "Value"
                                  },
                                  "Unit": {
                                    "type": "string",
                                    "description": "The unit.",
                                    "title": "Unit"
                                  },
                                  "UnitType": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The unit type.",
                                    "title": "Unit Type"
                                  }
                                },
                                "title": "Speed"
                              },
                              "Direction": {
                                "type": "object",
                                "properties": {
                                  "Degrees": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The degrees.",
                                    "title": "Degrees"
                                  },
                                  "Localized": {
                                    "type": "string",
                                    "description": "The localized.",
                                    "title": "Localized"
                                  },
                                  "English": {
                                    "type": "string",
                                    "description": "The English.",
                                    "title": "English"
                                  }
                                },
                                "title": "Direction"
                              }
                            },
                            "title": "Wind Gust"
                          },
                          "TotalLiquid": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Total Liquid"
                          },
                          "Rain": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Rain"
                          },
                          "Snow": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Snow"
                          },
                          "Ice": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Ice"
                          },
                          "HoursOfPrecipitation": {
                            "type": "number",
                            "format": "double",
                            "description": "The hours of precipitation.",
                            "title": "Hours Of Precipitation"
                          },
                          "HoursOfRain": {
                            "type": "number",
                            "format": "double",
                            "description": "The hours of rain.",
                            "title": "Hours Of Rain"
                          },
                          "HoursOfSnow": {
                            "type": "number",
                            "format": "double",
                            "description": "The hours of snow.",
                            "title": "Hours Of Snow"
                          },
                          "HoursOfIce": {
                            "type": "number",
                            "format": "double",
                            "description": "The hours of ice.",
                            "title": "Hours Of Ice"
                          },
                          "CloudCover": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The cloud cover.",
                            "title": "Cloud Cover"
                          },
                          "Evapotranspiration": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Evapotranspiration"
                          },
                          "SolarIrradiance": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Solar Irradiance"
                          }
                        },
                        "title": "Night"
                      },
                      "Sources": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Sources"
                      },
                      "MobileLink": {
                        "type": "string",
                        "description": "The mobile link.",
                        "title": "Mobile Link"
                      },
                      "Link": {
                        "type": "string",
                        "description": "The link.",
                        "title": "Link"
                      }
                    }
                  },
                  "title": "Daily Forecasts"
                }
              }
            }
          }
        },
        "summary": "Get Daily Forecasts",
        "description": "Returns daily forecast data for a specific location.",
        "operationId": "DailyForcasts",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "duration",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Duration (days)",
            "description": "Time interval (duration)",
            "x-ms-visibility": "important",
            "format": "int32",
            "enum": [
              1,
              5,
              10,
              15
            ],
            "default": 5
          },
          {
            "name": "locationKey",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Location Key",
            "description": "Unique ID used to search for a specific location.",
            "x-ms-visibility": "important",
            "format": "int32"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "String indicating the language in which to return the resource. (Default en-us)",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "details",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Details",
            "x-ms-visibility": "advanced",
            "description": "Specifies whether or not to include full details in the response.",
            "enum": [
              false,
              true
            ]
          },
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Metric",
            "x-ms-visibility": "advanced",
            "description": "Specifies whether or not to display metric values.",
            "enum": [
              false,
              true
            ]
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "DailyForcasts",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/forecasts/v1/hourly/{duration}hour/{locationKey}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "DateTime": {
                    "type": "string",
                    "description": "The date time.",
                    "title": "Date Time"
                  },
                  "EpochDateTime": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The epoch date time.",
                    "title": "Epoch Date Time"
                  },
                  "WeatherIcon": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The weather icon.",
                    "title": "Weather Icon"
                  },
                  "IconPhrase": {
                    "type": "string",
                    "description": "The icon phase.",
                    "title": "Icon Phrase"
                  },
                  "HasPrecipitation": {
                    "type": "boolean",
                    "description": "Whether has precipitation.",
                    "title": "Has Precipitation"
                  },
                  "IsDaylight": {
                    "type": "boolean",
                    "description": "Whether is daylight.",
                    "title": "Is Daylight"
                  },
                  "Temperature": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "double",
                        "description": "The value.",
                        "title": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "The unit.",
                        "title": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unit type.",
                        "title": "Unit Type"
                      }
                    },
                    "title": "Temperature"
                  },
                  "RealFeelTemperature": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "double",
                        "description": "The value.",
                        "title": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "The unit.",
                        "title": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unit type.",
                        "title": "Unit Type"
                      }
                    },
                    "title": "Real Feel Temperature"
                  },
                  "RealFeelTemperatureShade": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "double",
                        "description": "The value.",
                        "title": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "The unit.",
                        "title": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unit type.",
                        "title": "Unit Type"
                      }
                    },
                    "title": "Real Feel TemperatureShade"
                  },
                  "WetBulbTemperature": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "double",
                        "description": "The value.",
                        "title": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "The unit.",
                        "title": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unit type.",
                        "title": "Unit Type"
                      }
                    },
                    "title": "Wet Bulb Temperature"
                  },
                  "DewPoint": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "double",
                        "description": "The value.",
                        "title": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "The unit.",
                        "title": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unit type.",
                        "title": "Unit Type"
                      }
                    },
                    "title": "Dew Point"
                  },
                  "Wind": {
                    "type": "object",
                    "properties": {
                      "Speed": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "number",
                            "format": "double",
                            "description": "The value.",
                            "title": "Value"
                          },
                          "Unit": {
                            "type": "string",
                            "description": "The unit.",
                            "title": "Unit"
                          },
                          "UnitType": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unit type.",
                            "title": "Unit Type"
                          }
                        },
                        "title": "Speed"
                      },
                      "Direction": {
                        "type": "object",
                        "properties": {
                          "Degrees": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The degrees.",
                            "title": "Degrees"
                          },
                          "Localized": {
                            "type": "string",
                            "description": "The localized.",
                            "title": "Localized"
                          },
                          "English": {
                            "type": "string",
                            "description": "The English.",
                            "title": "English"
                          }
                        },
                        "title": "Direction"
                      }
                    },
                    "title": "Wind"
                  },
                  "WindGust": {
                    "type": "object",
                    "properties": {
                      "Speed": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "number",
                            "format": "double",
                            "description": "The value.",
                            "title": "Value"
                          },
                          "Unit": {
                            "type": "string",
                            "description": "The unit.",
                            "title": "Unit"
                          },
                          "UnitType": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unit type.",
                            "title": "Unit Type"
                          }
                        },
                        "title": "Speed"
                      }
                    },
                    "title": "WindGust"
                  },
                  "RelativeHumidity": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The relative humidity.",
                    "title": "Relative Humidity"
                  },
                  "IndoorRelativeHumidity": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The indoor relative humidity.",
                    "title": "Indoor Relative Humidity"
                  },
                  "Visibility": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "double",
                        "description": "The value.",
                        "title": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "The unit.",
                        "title": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unit type.",
                        "title": "Unit Type"
                      }
                    },
                    "title": "Visibility"
                  },
                  "Ceiling": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "double",
                        "description": "The value.",
                        "title": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "The unit.",
                        "title": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unit type.",
                        "title": "Unit Type"
                      }
                    },
                    "title": "Ceiling"
                  },
                  "UVIndex": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The UV index.",
                    "title": "UV Index"
                  },
                  "UVIndexText": {
                    "type": "string",
                    "description": "The UV index text.",
                    "title": "UV IndexText"
                  },
                  "PrecipitationProbability": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The precipitation probability.",
                    "title": "Precipitation Probability"
                  },
                  "ThunderstormProbability": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The thunderstorm probability.",
                    "title": "Thunderstorm Probability"
                  },
                  "RainProbability": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The rain probability.",
                    "title": "Rain Probability"
                  },
                  "SnowProbability": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The snow probability.",
                    "title": "Snow Probability"
                  },
                  "IceProbability": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The ice probability.",
                    "title": "Ice Probability"
                  },
                  "TotalLiquid": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "double",
                        "description": "The value.",
                        "title": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "The unit.",
                        "title": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unit type.",
                        "title": "Unit Type"
                      }
                    },
                    "title": "Total Liquid"
                  },
                  "Rain": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "double",
                        "description": "The value.",
                        "title": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "The unit.",
                        "title": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unit type.",
                        "title": "Unit Type"
                      }
                    },
                    "title": "Rain"
                  },
                  "Snow": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "double",
                        "description": "The value.",
                        "title": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "The unit.",
                        "title": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unit type.",
                        "title": "Unit Type"
                      }
                    },
                    "title": "Snow"
                  },
                  "Ice": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "double",
                        "description": "The value.",
                        "title": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "The unit.",
                        "title": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unit type.",
                        "title": "Unit Type"
                      }
                    },
                    "title": "Ice"
                  },
                  "CloudCover": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The cloud cover.",
                    "title": "Cloud Cover"
                  },
                  "Evapotranspiration": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "double",
                        "description": "The value.",
                        "title": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "The unit.",
                        "title": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unit type.",
                        "title": "Unit Type"
                      }
                    },
                    "title": "Evapotranspiration"
                  },
                  "SolarIrradiance": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "double",
                        "description": "The value.",
                        "title": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "The unit.",
                        "title": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unit type.",
                        "title": "Unit Type"
                      }
                    },
                    "title": "Solar Irradiance"
                  },
                  "MobileLink": {
                    "type": "string",
                    "description": "The mobile link.",
                    "title": "Mobile Link"
                  },
                  "Link": {
                    "type": "string",
                    "description": "The link.",
                    "title": "Link"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Hourly Forecasts",
        "description": "Returns forecast data for the next hour(s) for a specific location.",
        "operationId": "HourlyForcasts",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "duration",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Duration (hours)",
            "description": "Time interval (duration)",
            "x-ms-visibility": "important",
            "format": "int32",
            "enum": [
              1,
              12,
              24,
              72,
              120
            ]
          },
          {
            "name": "locationKey",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Location Key",
            "description": "Unique ID used to search for a specific location.",
            "x-ms-visibility": "important",
            "format": "int32"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "String indicating the language in which to return the resource. (Default en-us)",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "details",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Details",
            "x-ms-visibility": "advanced",
            "description": "Specifies whether or not to include full details in the response.",
            "enum": [
              false,
              true
            ]
          },
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Metric",
            "x-ms-visibility": "advanced",
            "description": "Specifies whether or not to display metric values.",
            "enum": [
              false,
              true
            ]
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "HourlyForcasts",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/currentconditions/v1/{locationKey}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "LocalObservationDateTime": {
                    "type": "string",
                    "description": "The local observation date time.",
                    "title": "Local Observation Date Time"
                  },
                  "EpochTime": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The epoch time.",
                    "title": "Epoch Time"
                  },
                  "WeatherText": {
                    "type": "string",
                    "description": "The weather text.",
                    "title": "Weather Text"
                  },
                  "WeatherIcon": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The weather icon.",
                    "title": "Weather Icon"
                  },
                  "HasPrecipitation": {
                    "type": "boolean",
                    "description": "Whether has precipitation.",
                    "title": "Has Precipitation"
                  },
                  "PrecipitationType": {
                    "type": "string",
                    "description": "The precipitation type.",
                    "title": "Precipitation Type"
                  },
                  "IsDayTime": {
                    "type": "boolean",
                    "description": "Whether is day time.",
                    "title": "Is Day Time"
                  },
                  "Temperature": {
                    "type": "object",
                    "properties": {
                      "Metric": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "number",
                            "format": "double",
                            "description": "The value.",
                            "title": "Value"
                          },
                          "Unit": {
                            "type": "string",
                            "description": "The unit.",
                            "title": "Unit"
                          },
                          "UnitType": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unit type.",
                            "title": "Unit Type"
                          }
                        },
                        "title": "Metric"
                      },
                      "Imperial": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "number",
                            "format": "double",
                            "description": "The value.",
                            "title": "Value"
                          },
                          "Unit": {
                            "type": "string",
                            "description": "The unit.",
                            "title": "Unit"
                          },
                          "UnitType": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unit type.",
                            "title": "Unit Type"
                          }
                        },
                        "title": "Imperial"
                      }
                    },
                    "title": "Temperature"
                  },
                  "RealFeelTemperature": {
                    "type": "object",
                    "properties": {
                      "Metric": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "number",
                            "format": "double",
                            "description": "The value.",
                            "title": "Value"
                          },
                          "Unit": {
                            "type": "string",
                            "description": "The unit.",
                            "title": "Unit"
                          },
                          "UnitType": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unit type.",
                            "title": "Unit Type"
                          }
                        },
                        "title": "Metric"
                      },
                      "Imperial": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "number",
                            "format": "double",
                            "description": "The value.",
                            "title": "Value"
                          },
                          "Unit": {
                            "type": "string",
                            "description": "The unit.",
                            "title": "Unit"
                          },
                          "UnitType": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unit type.",
                            "title": "Unit Type"
                          }
                        },
                        "title": "Imperial"
                      }
                    },
                    "title": "Real Feel Temperature"
                  },
                  "RealFeelTemperatureShade": {
                    "type": "object",
                    "properties": {
                      "Metric": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "number",
                            "format": "double",
                            "description": "The value.",
                            "title": "Value"
                          },
                          "Unit": {
                            "type": "string",
                            "description": "The unit.",
                            "title": "Unit"
                          },
                          "UnitType": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unit type.",
                            "title": "Unit Type"
                          }
                        },
                        "title": "Metric"
                      },
                      "Imperial": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "number",
                            "format": "double",
                            "description": "The value.",
                            "title": "Value"
                          },
                          "Unit": {
                            "type": "string",
                            "description": "The unit.",
                            "title": "Unit"
                          },
                          "UnitType": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unit type.",
                            "title": "Unit Type"
                          }
                        },
                        "title": "Imperial"
                      }
                    },
                    "title": "Real Feel Temperature Shade"
                  },
                  "RelativeHumidity": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The relative humidity.",
                    "title": "Relative Humidity"
                  },
                  "IndoorRelativeHumidity": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The indoor relative humidity.",
                    "title": "Indoor Relative Humidity"
                  },
                  "DewPoint": {
                    "type": "object",
                    "properties": {
                      "Metric": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "number",
                            "format": "double",
                            "description": "The value.",
                            "title": "Value"
                          },
                          "Unit": {
                            "type": "string",
                            "description": "The unit.",
                            "title": "Unit"
                          },
                          "UnitType": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unit type.",
                            "title": "Unit Type"
                          }
                        },
                        "title": "Metric"
                      },
                      "Imperial": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "number",
                            "format": "double",
                            "description": "The value.",
                            "title": "Value"
                          },
                          "Unit": {
                            "type": "string",
                            "description": "The unit.",
                            "title": "Unit"
                          },
                          "UnitType": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unit type.",
                            "title": "Unit Type"
                          }
                        },
                        "title": "Imperial"
                      }
                    },
                    "title": "Dew Point"
                  },
                  "Wind": {
                    "type": "object",
                    "properties": {
                      "Direction": {
                        "type": "object",
                        "properties": {
                          "Degrees": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The degrees.",
                            "title": "Degrees"
                          },
                          "Localized": {
                            "type": "string",
                            "description": "The localized.",
                            "title": "Localized"
                          },
                          "English": {
                            "type": "string",
                            "description": "The English.",
                            "title": "English"
                          }
                        },
                        "title": "Direction"
                      },
                      "Speed": {
                        "type": "object",
                        "properties": {
                          "Metric": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Metric"
                          },
                          "Imperial": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Imperial"
                          }
                        },
                        "title": "Speed"
                      }
                    },
                    "title": "Wind"
                  },
                  "WindGust": {
                    "type": "object",
                    "properties": {
                      "Speed": {
                        "type": "object",
                        "properties": {
                          "Metric": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Metric"
                          },
                          "Imperial": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Imperial"
                          }
                        },
                        "title": "Speed"
                      }
                    },
                    "title": "Wind Gust"
                  },
                  "UVIndex": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The UV index.",
                    "title": "UV Index"
                  },
                  "UVIndexText": {
                    "type": "string",
                    "description": "The UV index text.",
                    "title": "UV IndexText"
                  },
                  "Visibility": {
                    "type": "object",
                    "properties": {
                      "Metric": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "number",
                            "format": "double",
                            "description": "The value.",
                            "title": "Value"
                          },
                          "Unit": {
                            "type": "string",
                            "description": "The unit.",
                            "title": "Unit"
                          },
                          "UnitType": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unit type.",
                            "title": "Unit Type"
                          }
                        },
                        "title": "Metric"
                      },
                      "Imperial": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "number",
                            "format": "double",
                            "description": "The value.",
                            "title": "Value"
                          },
                          "Unit": {
                            "type": "string",
                            "description": "The unit.",
                            "title": "Unit"
                          },
                          "UnitType": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unit type.",
                            "title": "Unit Type"
                          }
                        },
                        "title": "Imperial"
                      }
                    },
                    "title": "Visibility"
                  },
                  "ObstructionsToVisibility": {
                    "type": "string",
                    "description": "The obstructions to visibility.",
                    "title": "Obstructions To Visibility"
                  },
                  "CloudCover": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The cloud cover.",
                    "title": "Cloud Cover"
                  },
                  "Ceiling": {
                    "type": "object",
                    "properties": {
                      "Metric": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "number",
                            "format": "double",
                            "description": "The value.",
                            "title": "Value"
                          },
                          "Unit": {
                            "type": "string",
                            "description": "The unit.",
                            "title": "Unit"
                          },
[...]
