{
  "swagger": "2.0",
  "info": {
    "title": "AccuWeather",
    "description": "AccuWeather provides commercial weather forecasting services worldwide.",
    "version": "3.2",
    "contact": {
      "name": "Troy Taylor"
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    },
    "x-ms-keywords": [
      "AccuWeather",
      "weather",
      "forecast",
      "current conditions"
    ]
  },
  "host": "dataservice.accuweather.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/locations/v1/adminareas/{countryCode}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "ID": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "LocalizedName": {
                    "type": "string",
                    "description": "The localized name.",
                    "title": "Localized Name"
                  },
                  "EnglishName": {
                    "type": "string",
                    "description": "The English name.",
                    "title": "English Name"
                  },
                  "Level": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The level.",
                    "title": "Level"
                  },
                  "LocalizedType": {
                    "type": "string",
                    "description": "The localized type.",
                    "title": "Localized Type"
                  },
                  "EnglishType": {
                    "type": "string",
                    "description": "The English type.",
                    "title": "English Type"
                  },
                  "CountryID": {
                    "type": "string",
                    "description": "The country identifier.",
                    "title": "Country ID"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Admin Area List",
        "description": "Returns basic information about administrative areas in the specified country.",
        "operationId": "AdminAreas",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The country code to return administrative areas for",
            "x-ms-summary": "Country Code",
            "x-ms-visibility": "important"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "String indicating the language in which to return the resource. (Default en-us)",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced",
            "description": "Integer, along with the limit (25) that determines the first resource to be returned. If no offset is provided, the max number (100) of results will be returned."
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "AdminAreas",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/locations/v1/countries/{regionCode}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "ID": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "LocalizedName": {
                    "type": "string",
                    "description": "The localized name.",
                    "title": "Localized Name"
                  },
                  "EnglishName": {
                    "type": "string",
                    "description": "The English name.",
                    "title": "English Name"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Country List",
        "description": "Returns basic information about all countries within a specified region.",
        "operationId": "CountryList",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "regionCode",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The region code to return country list for",
            "x-ms-summary": "Region Code",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "RegionList",
              "value-path": "ID",
              "value-title": "EnglishName"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "String indicating the language in which to return the resource. (Default en-us)",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced"
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "CountryList",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/locations/v1/regions": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "ID": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "LocalizedName": {
                    "type": "string",
                    "description": "The localized name.",
                    "title": "Localized Name"
                  },
                  "EnglishName": {
                    "type": "string",
                    "description": "The English name.",
                    "title": "English Name"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Region List",
        "description": "Returns basic information about all regions.",
        "operationId": "RegionList",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "String indicating the language in which to return the resource.",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Language"
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "RegionList",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/locations/v1/topcities/{group}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Version": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The version.",
                    "title": "Version"
                  },
                  "Key": {
                    "type": "string",
                    "description": "The key.",
                    "title": "Key"
                  },
                  "Type": {
                    "type": "string",
                    "description": "The type.",
                    "title": "Type"
                  },
                  "Rank": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The rank.",
                    "title": "Rank"
                  },
                  "LocalizedName": {
                    "type": "string",
                    "description": "The localized name.",
                    "title": "Localized Name"
                  },
                  "EnglishName": {
                    "type": "string",
                    "description": "The English name.",
                    "title": "English Name"
                  },
                  "PrimaryPostalCode": {
                    "type": "string",
                    "description": "The primary postal code.",
                    "title": "Primary Postal Code"
                  },
                  "Region": {
                    "type": "object",
                    "properties": {
                      "ID": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "LocalizedName": {
                        "type": "string",
                        "description": "The localized name.",
                        "title": "Localized Name"
                      },
                      "EnglishName": {
                        "type": "string",
                        "description": "The English name.",
                        "title": "English Name"
                      }
                    },
                    "title": "Region"
                  },
                  "Country": {
                    "type": "object",
                    "properties": {
                      "ID": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "LocalizedName": {
                        "type": "string",
                        "description": "The localized name.",
                        "title": "Localized Name"
                      },
                      "EnglishName": {
                        "type": "string",
                        "description": "The English name.",
                        "title": "English Name"
                      }
                    },
                    "title": "Country"
                  },
                  "AdministrativeArea": {
                    "type": "object",
                    "properties": {
                      "ID": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "LocalizedName": {
                        "type": "string",
                        "description": "The localized name.",
                        "title": "Localized Name"
                      },
                      "EnglishName": {
                        "type": "string",
                        "description": "The English name.",
                        "title": "English Name"
                      },
                      "Level": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The level.",
                        "title": "Level"
                      },
                      "LocalizedType": {
                        "type": "string",
                        "description": "The localized type.",
                        "title": "Localized Type"
                      },
                      "EnglishType": {
                        "type": "string",
                        "description": "The English type.",
                        "title": "English Type"
                      },
                      "CountryID": {
                        "type": "string",
                        "description": "The country identifier.",
                        "title": "Country ID"
                      }
                    },
                    "title": "Administrative area"
                  },
                  "TimeZone": {
                    "type": "object",
                    "properties": {
                      "Code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "Name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "GmtOffset": {
                        "type": "number",
                        "format": "float",
                        "description": "The GMT offset.",
                        "title": "GMT Offset"
                      },
                      "IsDaylightSaving": {
                        "type": "boolean",
                        "description": "Whether is daylight saving.",
                        "title": "Is Daylight Saving"
                      },
                      "NextOffsetChange": {
                        "type": "string",
                        "description": "The next offset change.",
                        "title": "Next Offset Change"
                      }
                    },
                    "title": "Time Zone"
                  },
                  "GeoPosition": {
                    "type": "object",
                    "properties": {
                      "Latitude": {
                        "type": "number",
                        "format": "float",
                        "description": "The latitude.",
                        "title": "Latitude"
                      },
                      "Longitude": {
                        "type": "number",
                        "format": "float",
                        "description": "The longitude.",
                        "title": "Longitude"
                      },
                      "Elevation": {
                        "type": "object",
                        "properties": {
                          "Metric": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Metric"
                          },
                          "Imperial": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Imperial"
                          }
                        },
                        "title": "Elevation"
                      }
                    },
                    "title": "Geo Position"
                  },
                  "IsAlias": {
                    "type": "boolean",
                    "description": "Whether is alias.",
                    "title": "Is Alias"
                  },
                  "SupplementalAdminAreas": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The supploement admin areas.",
                    "title": "Supplemental Admin Areas"
                  },
                  "DataSets": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The data sets.",
                    "title": "Data Sets"
                  },
                  "Details": {
                    "type": "object",
                    "properties": {
                      "Key": {
                        "type": "string",
                        "description": "The key.",
                        "title": "Key"
                      },
                      "StationCode": {
                        "type": "string",
                        "description": "The station code.",
                        "title": "Station Code"
                      },
                      "StationGmtOffset": {
                        "type": "number",
                        "format": "float",
                        "description": "The station GMT offset.",
                        "title": "Station GMT Offset"
                      },
                      "BandMap": {
                        "type": "string",
                        "description": "The band map.",
                        "title": "Band Map"
                      },
                      "Climo": {
                        "type": "string",
                        "description": "The climo.",
                        "title": "Climo"
                      },
                      "LocalRadar": {
                        "type": "string",
                        "description": "The local radar.",
                        "title": "Local Radar"
                      },
                      "MediaRegion": {
                        "type": "string",
                        "description": "The media region.",
                        "title": "Media Region"
                      },
                      "Metar": {
                        "type": "string",
                        "description": "The metar.",
                        "title": "Metar"
                      },
                      "NXMetro": {
                        "type": "string",
                        "description": "The NX metro.",
                        "title": "NX Metro"
                      },
                      "NXState": {
                        "type": "string",
                        "description": "The NX state.",
                        "title": "NX State"
                      },
                      "Population": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The population.",
                        "title": "Population"
                      },
                      "PrimaryWarningCountyCode": {
                        "type": "string",
                        "description": "The primary warning country code.",
                        "title": "Primary Warning County Code"
                      },
                      "PrimaryWarningZoneCode": {
                        "type": "string",
                        "description": "The primary warning zone code.",
                        "title": "Primary Warning Zone Code"
                      },
                      "Satellite": {
                        "type": "string",
                        "description": "The satellite.",
                        "title": "Satellite"
                      },
                      "Synoptic": {
                        "type": "string",
                        "description": "The synoptic.",
                        "title": "Synoptic"
                      },
                      "MarineStation": {
                        "type": "string",
                        "description": "The marine station.",
                        "title": "Marine Station"
                      },
                      "MarineStationGMTOffset": {
                        "type": "number",
                        "format": "float",
                        "description": "The marine station GMT offset.",
                        "title": "Marine Station GMT Offset"
                      },
                      "VideoCode": {
                        "type": "string",
                        "description": "The video code.",
                        "title": "Video Code"
                      },
                      "LocationStem": {
                        "type": "string",
                        "description": "The location stem.",
                        "title": "Location Stem"
                      },
                      "PartnerID": {
                        "type": "string",
                        "description": "The partner identifier.",
                        "title": "Partner ID"
                      },
                      "Sources": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "DataType": {
                              "type": "string",
                              "description": "The data type.",
                              "title": "Data Type"
                            },
                            "Source": {
                              "type": "string",
                              "description": "The source.",
                              "title": "Source"
                            },
                            "SourceId": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The source identifier.",
                              "title": "Source ID"
                            },
                            "PartnerSourceUrl": {
                              "type": "string",
                              "description": "The partner source URL address.",
                              "title": "Partner Source URL"
                            }
                          }
                        },
                        "title": "Sources"
                      },
                      "CanonicalPostalCode": {
                        "type": "string",
                        "description": "The canonical postal code.",
                        "title": "Canonical Postal Code"
                      },
                      "CanonicalLocationKey": {
                        "type": "string",
                        "description": "The canonical location key.",
                        "title": "Canonical Location Key"
                      }
                    },
                    "title": "Details"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Top Cities List",
        "description": "Returns information for the top 50, 100, or 150 cities, worldwide.",
        "operationId": "TopCitiesList",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Group",
            "description": "The number of cities to return.",
            "x-ms-visibility": "important",
            "format": "int32",
            "enum": [
              50,
              100,
              150
            ]
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "String indicating the language in which to return the resource. (Default en-us)",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "details",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Details",
            "x-ms-visibility": "advanced",
            "description": "Specifies whether or not to include full details in the response.",
            "enum": [
              false,
              true
            ]
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "TopCitiesList",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/locations/v1/cities/autocomplete": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Version": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The version.",
                    "title": "Version"
                  },
                  "Key": {
                    "type": "string",
                    "description": "The key.",
                    "title": "Key"
                  },
                  "Type": {
                    "type": "string",
                    "description": "The type.",
                    "title": "Type"
                  },
                  "Rank": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The rank.",
                    "title": "Rank"
                  },
                  "LocalizedName": {
                    "type": "string",
                    "description": "The localized name.",
                    "title": "Localized Name"
                  },
                  "Country": {
                    "type": "object",
                    "properties": {
                      "ID": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "LocalizedName": {
                        "type": "string",
                        "description": "The localized name.",
                        "title": "Localized Name"
                      }
                    },
                    "title": "Country"
                  },
                  "AdministrativeArea": {
                    "type": "object",
                    "properties": {
                      "ID": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "LocalizedName": {
                        "type": "string",
                        "description": "The localized name.",
                        "title": "Localized Name"
                      }
                    },
                    "title": "Administrative Area"
                  }
                }
              }
            }
          }
        },
        "summary": "Autocomplete search (Cities)",
        "description": "Returns basic information about locations matching an autocomplete of the search text.",
        "operationId": "AutocompleteCities",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Text to use for Autocomplete search.",
            "x-ms-summary": "Text",
            "x-ms-visibility": "important"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "String indicating the language in which to return the resource. (Default en-us)",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced"
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "AutocompleteCities",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/locations/v1/cities/geoposition/search": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Version": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The version.",
                  "title": "Version"
                },
                "Key": {
                  "type": "string",
                  "description": "The key.",
                  "title": "Key"
                },
                "Type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                },
                "Rank": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The rank.",
                  "title": "Rank"
                },
                "LocalizedName": {
                  "type": "string",
                  "description": "The localized name.",
                  "title": "Localized Name"
                },
                "EnglishName": {
                  "type": "string",
                  "description": "The English name.",
                  "title": "English Name"
                },
                "PrimaryPostalCode": {
                  "type": "string",
                  "description": "The primary postal code.",
                  "title": "Primary Postal Code"
                },
                "Region": {
                  "type": "object",
                  "properties": {
                    "ID": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "LocalizedName": {
                      "type": "string",
                      "description": "The localized name.",
                      "title": "Localized Name"
                    },
                    "EnglishName": {
                      "type": "string",
                      "description": "The English name.",
                      "title": "English Name"
                    }
                  },
                  "title": "Region"
                },
                "Country": {
                  "type": "object",
                  "properties": {
                    "ID": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "LocalizedName": {
                      "type": "string",
                      "description": "The localized name.",
                      "title": "Localized Name"
                    },
                    "EnglishName": {
                      "type": "string",
                      "description": "The English name.",
                      "title": "English Name"
                    }
                  },
                  "title": "Country"
                },
                "AdministrativeArea": {
                  "type": "object",
                  "properties": {
                    "ID": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "LocalizedName": {
                      "type": "string",
                      "description": "The localized name.",
                      "title": "Localized Name"
                    },
                    "EnglishName": {
                      "type": "string",
                      "description": "The English name.",
                      "title": "English Name"
                    },
                    "Level": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The level.",
                      "title": "Level"
                    },
                    "LocalizedType": {
                      "type": "string",
                      "description": "The localized type.",
                      "title": "Localized Type"
                    },
                    "EnglishType": {
                      "type": "string",
                      "description": "The English type.",
                      "title": "English Type"
                    },
                    "CountryID": {
                      "type": "string",
                      "description": "The country identifier.",
                      "title": "Country ID"
                    }
                  },
                  "title": "Administrative Area"
                },
                "TimeZone": {
                  "type": "object",
                  "properties": {
                    "Code": {
                      "type": "string",
                      "description": "The code.",
                      "title": "Code"
                    },
                    "Name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "GmtOffset": {
                      "type": "number",
                      "format": "float",
                      "description": "The GMT offset.",
                      "title": "GMT Offset"
                    },
                    "IsDaylightSaving": {
                      "type": "boolean",
                      "description": "Whether is daylight saving.",
                      "title": "Is Daylight Saving"
                    },
                    "NextOffsetChange": {
                      "type": "string",
                      "description": "The next offset change.",
                      "title": "Next Offset Change"
                    }
                  },
                  "title": "TimeZone"
                },
                "GeoPosition": {
                  "type": "object",
                  "properties": {
                    "Latitude": {
                      "type": "number",
                      "format": "float",
                      "description": "The latitude.",
                      "title": "Latitude"
                    },
                    "Longitude": {
                      "type": "number",
                      "format": "float",
                      "description": "The longitude.",
                      "title": "Longitude"
                    },
                    "Elevation": {
                      "type": "object",
                      "properties": {
                        "Metric": {
                          "type": "object",
                          "properties": {
                            "Value": {
                              "type": "number",
                              "format": "float",
                              "description": "The value.",
                              "title": "Value"
                            },
                            "Unit": {
                              "type": "string",
                              "description": "The unit.",
                              "title": "Unit"
                            },
                            "UnitType": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The unit type.",
                              "title": "Unit Type"
                            }
                          },
                          "title": "Metric"
                        },
                        "Imperial": {
                          "type": "object",
                          "properties": {
                            "Value": {
                              "type": "number",
                              "format": "float",
                              "description": "The value.",
                              "title": "Value"
                            },
                            "Unit": {
                              "type": "string",
                              "description": "The unit.",
                              "title": "Unit"
                            },
                            "UnitType": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The unit type.",
                              "title": "Unit Type"
                            }
                          },
                          "title": "Imperial"
                        }
                      },
                      "title": "Elevation"
                    }
                  },
                  "title": "Geo Position"
                },
                "IsAlias": {
                  "type": "boolean",
                  "description": "Whether is alias.",
                  "title": "Is Alias"
                },
                "ParentCity": {
                  "type": "object",
                  "properties": {
                    "Key": {
                      "type": "string",
                      "description": "The key.",
                      "title": "Key"
                    },
                    "LocalizedName": {
                      "type": "string",
                      "description": "The localized name.",
                      "title": "Localized Name"
                    },
                    "EnglishName": {
                      "type": "string",
                      "description": "The English name.",
                      "title": "English Name"
                    }
                  },
                  "title": "Parent City"
                },
                "SupplementalAdminAreas": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Level": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The level.",
                        "title": "Level"
                      },
                      "LocalizedName": {
                        "type": "string",
                        "description": "The localized name.",
                        "title": "Localized Name"
                      },
                      "EnglishName": {
                        "type": "string",
                        "description": "The English name.",
                        "title": "English Name"
                      }
                    }
                  },
                  "title": "Supplemental Admin Areas"
                },
                "DataSets": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The data sets.",
                  "title": "Data Sets"
                },
                "Details": {
                  "type": "object",
                  "properties": {
                    "Key": {
                      "type": "string",
                      "description": "The key.",
                      "title": "Key"
                    },
                    "StationCode": {
                      "type": "string",
                      "description": "The station code.",
                      "title": "Station Code"
                    },
                    "StationGmtOffset": {
                      "type": "number",
                      "format": "float",
                      "description": "The station GMT offset.",
                      "title": "Station GMT Offset"
                    },
                    "BandMap": {
                      "type": "string",
                      "description": "The band map.",
                      "title": "Band Map"
                    },
                    "Climo": {
                      "type": "string",
                      "description": "The climo.",
                      "title": "Climo"
                    },
                    "LocalRadar": {
                      "type": "string",
                      "description": "The local radar.",
                      "title": "Local Radar"
                    },
                    "MediaRegion": {
                      "type": "string",
                      "description": "The media region.",
                      "title": "Media Region"
                    },
                    "Metar": {
                      "type": "string",
                      "description": "The metar.",
                      "title": "Metar"
                    },
                    "NXMetro": {
                      "type": "string",
                      "description": "The NX metro.",
                      "title": "NX Metro"
                    },
                    "NXState": {
                      "type": "string",
                      "description": "The NX state.",
                      "title": "NX State"
                    },
                    "Population": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The population.",
                      "title": "Population"
                    },
                    "PrimaryWarningCountyCode": {
                      "type": "string",
                      "description": "The primary warning county code.",
                      "title": "Primary Warning County Code"
                    },
                    "PrimaryWarningZoneCode": {
                      "type": "string",
                      "description": "The primary warning zone code.",
                      "title": "Primary Warning Zone Code"
                    },
                    "Satellite": {
                      "type": "string",
                      "description": "The satellite.",
                      "title": "Satellite"
                    },
                    "Synoptic": {
                      "type": "string",
                      "description": "The synoptic.",
                      "title": "Synoptic"
                    },
                    "MarineStation": {
                      "type": "string",
                      "description": "The marine station.",
                      "title": "Marine Station"
                    },
                    "MarineStationGMTOffset": {
                      "type": "number",
                      "format": "float",
                      "description": "The marine station GMT offset.",
                      "title": "Marine Station GMT Offset"
                    },
                    "VideoCode": {
                      "type": "string",
                      "description": "The video code.",
                      "title": "Video Code"
                    },
                    "LocationStem": {
                      "type": "string",
                      "description": "The location stem.",
                      "title": "Location Stem"
                    },
                    "DMA": {
                      "type": "object",
                      "properties": {
                        "ID": {
                          "type": "string",
                          "description": "The identifier.",
                          "title": "ID"
                        },
                        "EnglishName": {
                          "type": "string",
                          "description": "The English name.",
                          "title": "English Name"
                        }
                      },
                      "title": "DMA"
                    },
                    "PartnerID": {
                      "type": "string",
                      "description": "The partner identifier.",
                      "title": "Partner ID"
                    },
                    "Sources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "DataType": {
                            "type": "string",
                            "description": "The data type.",
                            "title": "Data Type"
                          },
                          "Source": {
                            "type": "string",
                            "description": "The source.",
                            "title": "Source"
                          },
                          "SourceId": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The source identifier.",
                            "title": "Source ID"
                          }
                        }
                      },
                      "title": "Sources"
                    },
                    "CanonicalPostalCode": {
                      "type": "string",
                      "description": "The canonical postal code.",
                      "title": "Canonical Postal Code"
                    },
                    "CanonicalLocationKey": {
                      "type": "string",
                      "description": "The canonical location key.",
                      "title": "Canonical Location Key"
                    }
                  },
                  "title": "Details"
                }
              }
            }
          }
        },
        "summary": "Geoposition Search (Latitude and Longitude)",
        "description": "Returns information about a specific location, by GeoPosition (Latitude and Longitude).",
        "operationId": "GeopositionSearch",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "A comma-separated lat/long pair (lat,long).",
            "x-ms-summary": "Latitude,Longitude",
            "x-ms-visibility": "important"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "String indicating the language in which to return the resource. (Default en-us)",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "details",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether or not to include full details in the response.",
            "x-ms-summary": "Details",
            "x-ms-visibility": "advanced",
            "enum": [
              false,
              true
            ]
          },
          {
            "name": "toplevel",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "When toplevel=true, the city with the highest rank will be returned. Large cities have higher rank than the neighborhoods within them, so toplevel=true delivers a more generic location result. (Example: 40.73,-74.00 returns Greenwich Village, NY when toplevel=false. If toplevel=true, the same lat/lon pair will return New York, NY.)",
            "x-ms-summary": "Top Level",
            "x-ms-visibility": "advanced",
            "enum": [
              false,
              true
            ]
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "GeopositionSearch",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/forecasts/v1/daily/{duration}day/{locationKey}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Headline": {
                  "type": "object",
                  "properties": {
                    "EffectiveDate": {
                      "type": "string",
                      "description": "The effective date.",
                      "title": "Effective Date"
                    },
                    "EffectiveEpochDate": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The effective epoch date.",
                      "title": "Effective Epoch Date"
                    },
                    "Severity": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The severity.",
                      "title": "Severity"
                    },
                    "Text": {
                      "type": "string",
                      "description": "The text.",
                      "title": "Text"
                    },
                    "Category": {
                      "type": "string",
                      "description": "The category.",
                      "title": "Category"
                    },
                    "EndDate": {
                      "type": "string",
                      "description": "The end date.",
                      "title": "End Date"
                    },
                    "EndEpochDate": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The end epoch date.",
                      "title": "End Epoch Date"
                    },
                    "MobileLink": {
                      "type": "string",
                      "description": "The mobile link.",
                      "title": "Mobile Link"
                    },
                    "Link": {
                      "type": "string",
                      "description": "The link.",
                      "title": "Link"
                    }
                  },
                  "title": "Headline"
                },
                "DailyForecasts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Date": {
                        "type": "string",
                        "description": "The date.",
                        "title": "Date"
                      },
                      "EpochDate": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The epoch date.",
                        "title": "Epoch Date"
                      },
                      "Sun": {
                        "type": "object",
                        "properties": {
                          "Rise": {
                            "type": "string",
                            "description": "The rise.",
                            "title": "Rise"
                          },
                          "EpochRise": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The epoch rise.",
                            "title": "Epoch Rise"
                          },
                          "Set": {
                            "type": "string",
                            "description": "The set.",
                            "title": "Set"
                          },
                          "EpochSet": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The epoch set.",
                            "title": "Epoch Set"
                          }
                        },
                        "title": "Sun"
                      },
                      "Moon": {
                        "type": "object",
                        "properties": {
                          "Rise": {
                            "type": "string",
                            "description": "The rise.",
                            "title": "Rise"
                          },
                          "EpochRise": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The epoch rise.",
                            "title": "Epoch Rise"
                          },
                          "Set": {
                            "type": "string",
                            "description": "The set.",
                            "title": "Set"
                          },
                          "EpochSet": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The epoch set.",
                            "title": "Epoch Set"
                          },
                          "Phase": {
                            "type": "string",
                            "description": "The phase.",
                            "title": "Phase"
                          },
                          "Age": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The age.",
                            "title": "Age"
                          }
                        },
                        "title": "Moon"
                      },
                      "Temperature": {
                        "type": "object",
                        "properties": {
                          "Minimum": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Minimum"
                          },
                          "Maximum": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Maximum"
                          }
                        },
                        "title": "Temperature"
                      },
                      "RealFeelTemperature": {
                        "type": "object",
                        "properties": {
                          "Minimum": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Minimum"
                          },
                          "Maximum": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Maximum"
                          }
                        },
                        "title": "Real Feel Temperature"
                      },
                      "RealFeelTemperatureShade": {
                        "type": "object",
                        "properties": {
                          "Minimum": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Minimum"
                          },
                          "Maximum": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Maximum"
                          }
                        },
                        "title": "Real Feel Temperature Shade"
                      },
                      "HoursOfSun": {
                        "type": "number",
                        "format": "float",
                        "description": "The hours of sun.",
                        "title": "Hours Of Sun"
                      },
                      "DegreeDaySummary": {
                        "type": "object",
                        "properties": {
                          "Heating": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Heating"
                          },
                          "Cooling": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Cooling"
                          }
                        },
                        "title": "Degree Day Summary"
                      },
                      "AirAndPollen": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            },
                            "Value": {
                              "type": "number",
                              "format": "float",
                              "description": "The value.",
                              "title": "Value"
                            },
                            "Category": {
                              "type": "string",
                              "description": "The category.",
                              "title": "Category"
                            },
                            "CategoryValue": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The category value.",
                              "title": "Category Value"
                            },
                            "Type": {
                              "type": "string",
                              "description": "The type.",
                              "title": "Type"
                            }
                          }
                        },
                        "title": "Air And Pollen"
                      },
                      "Day": {
                        "type": "object",
                        "properties": {
                          "Icon": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The icon.",
                            "title": "Icon"
                          },
                          "IconPhrase": {
                            "type": "string",
                            "description": "The icon phase.",
                            "title": "Icon Phrase"
                          },
                          "HasPrecipitation": {
                            "type": "boolean",
                            "description": "Whether has precipitation.",
                            "title": "Has Precipitation"
                          },
                          "ShortPhrase": {
                            "type": "string",
                            "description": "The short phase.",
                            "title": "Short Phrase"
                          },
                          "LongPhrase": {
                            "type": "string",
                            "description": "The long phase.",
                            "title": "Long Phrase"
                          },
                          "PrecipitationProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The precipitation probability.",
                            "title": "Precipitation Probability"
                          },
                          "ThunderstormProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The thunderstorm probability.",
                            "title": "Thunderstorm Probability"
                          },
                          "RainProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The rain probability.",
                            "title": "Rain Probability"
                          },
                          "SnowProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The snow probability.",
                            "title": "Snow Probability"
                          },
                          "IceProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The ice probability.",
                            "title": "Ice Probability"
                          },
                          "Wind": {
                            "type": "object",
                            "properties": {
                              "Speed": {
                                "type": "object",
                                "properties": {
                                  "Value": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The value.",
                                    "title": "Value"
                                  },
                                  "Unit": {
                                    "type": "string",
                                    "description": "The unit.",
                                    "title": "Unit"
                                  },
                                  "UnitType": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The unit type.",
                                    "title": "Unit Type"
                                  }
                                },
                                "title": "Speed"
                              },
                              "Direction": {
                                "type": "object",
                                "properties": {
                                  "Degrees": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The degrees.",
                                    "title": "Degrees"
                                  },
                                  "Localized": {
                                    "type": "string",
                                    "description": "The localized.",
                                    "title": "Localized"
                                  },
                                  "English": {
                                    "type": "string",
                                    "description": "The English.",
                                    "title": "English"
                                  }
                                },
                                "title": "Direction"
                              }
                            },
                            "title": "Wind"
                          },
                          "WindGust": {
                            "type": "object",
                            "properties": {
                              "Speed": {
                                "type": "object",
                                "properties": {
                                  "Value": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The value.",
                                    "title": "Value"
                                  },
                                  "Unit": {
                                    "type": "string",
                                    "description": "The unit.",
                                    "title": "Unit"
                                  },
                                  "UnitType": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The unit type.",
                                    "title": "Unit Type"
                                  }
                                },
                                "title": "Speed"
                              },
                              "Direction": {
                                "type": "object",
                                "properties": {
                                  "Degrees": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The degrees.",
                                    "title": "Degrees"
                                  },
                                  "Localized": {
                                    "type": "string",
                                    "description": "The localized.",
                                    "title": "Localized"
                                  },
                                  "English": {
                                    "type": "string",
                                    "description": "The English.",
                                    "title": "English"
                                  }
                                },
                                "title": "Direction"
                              }
                            },
                            "title": "Wind Gust"
                          },
                          "TotalLiquid": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Total Liquid"
                          },
                          "Rain": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Rain"
                          },
                          "Snow": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Snow"
                          },
                          "Ice": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Ice"
                          },
                          "HoursOfPrecipitation": {
                            "type": "number",
                            "format": "float",
                            "description": "The hours of precipitation.",
                            "title": "Hours Of Precipitation"
                          },
                          "HoursOfRain": {
                            "type": "number",
                            "format": "float",
                            "description": "The hours of rain.",
                            "title": "Hours Of Rain"
                          },
                          "HoursOfSnow": {
                            "type": "number",
                            "format": "float",
                            "description": "The hours of snow.",
                            "title": "Hours Of Snow"
                          },
                          "HoursOfIce": {
                            "type": "number",
                            "format": "float",
                            "description": "The hours of ice.",
                            "title": "Hours Of Ice"
                          },
                          "CloudCover": {
                            "type": "number",
                            "format": "float",
                            "description": "The cloud cover.",
                            "title": "Cloud Cover"
                          },
                          "Evapotranspiration": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Evapotranspiration"
                          },
                          "SolarIrradiance": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Solar Irradiance"
                          }
                        },
                        "title": "Day"
                      },
                      "Night": {
                        "type": "object",
                        "properties": {
                          "Icon": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The icon.",
                            "title": "Icon"
                          },
                          "IconPhrase": {
                            "type": "string",
                            "description": "The icon phase.",
                            "title": "Icon Phrase"
                          },
                          "HasPrecipitation": {
                            "type": "boolean",
                            "description": "Whether has precipitation.",
                            "title": "Has Precipitation"
                          },
                          "ShortPhrase": {
                            "type": "string",
                            "description": "The short phase.",
                            "title": "Short Phrase"
                          },
                          "LongPhrase": {
                            "type": "string",
                            "description": "The long phase.",
                            "title": "Long Phrase"
                          },
                          "PrecipitationProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The precipitation probability.",
                            "title": "Precipitation Probability"
                          },
                          "ThunderstormProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The thunderstorm probability.",
                            "title": "Thunderstorm Probability"
                          },
                          "RainProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The rain probability.",
                            "title": "Rain Probability"
                          },
                          "SnowProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The snow probability.",
                            "title": "Snow Probability"
                          },
                          "IceProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The ice probability.",
                            "title": "Ice Probability"
                          },
                          "Wind": {
                            "type": "object",
                            "properties": {
                              "Speed": {
                                "type": "object",
                                "properties": {
                                  "Value": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The value.",
                                    "title": "Value"
                                  },
                                  "Unit": {
                                    "type": "string",
                                    "description": "The unit.",
                                    "title": "Unit"
                                  },
                                  "UnitType": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The unit type.",
                                    "title": "Unit Type"
                                  }
                                },
                                "title": "Speed"
                              },
                              "Direction": {
                                "type": "object",
                                "properties": {
                                  "Degrees": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The degrees.",
                                    "title": "Degrees"
                                  },
                                  "Localized": {
                                    "type": "string",
                                    "description": "The localized.",
                                    "title": "Localized"
                                  },
                                  "English": {
                                    "type": "string",
                                    "description": "The English.",
                                    "title": "English"
                                  }
                                },
                                "title": "Direction"
                              }
                            },
                            "title": "Wind"
                          },
                          "WindGust": {
                            "type": "object",
                            "properties": {
                              "Speed": {
                                "type": "object",
                                "properties": {
                                  "Value": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The value.",
                                    "title": "Value"
                                  },
                                  "Unit": {
                                    "type": "string",
                                    "description": "The unit.",
                                    "title": "Unit"
                                  },
                                  "UnitType": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The unit type.",
                                    "title": "Unit Type"
                                  }
                                },
                                "title": "Speed"
                              },
                              "Direction": {
                                "type": "object",
                                "properties": {
                                  "Degrees": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The degrees.",
                                    "title": "Degrees"
                                  },
                                  "Localized": {
                                    "type": "string",
                                    "description": "The localized.",
                                    "title": "Localized"
                                  },
                                  "English": {
                                    "type": "string",
                                    "description": "The English.",
                                    "title": "English"
                                  }
                                },
                                "title": "Direction"
                              }
                            },
                            "title": "Wind Gust"
                          },
                          "TotalLiquid": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Total Liquid"
                          },
                          "Rain": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Rain"
                          },
                          "Snow": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Snow"
                          },
                          "Ice": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Ice"
                          },
                          "HoursOfPrecipitation": {
                            "type": "number",
                            "format": "float",
                            "description": "The hours of precipitation.",
                            "title": "Hours Of Precipitation"
                          },
                          "HoursOfRain": {
                            "type": "number",
                            "format": "float",
                            "description": "The hours of rain.",
                            "title": "Hours Of Rain"
                          },
                          "HoursOfSnow": {
                            "type": "number",
                            "format": "float",
                            "description": "The hours of snow.",
                            "title": "Hours Of Snow"
                          },
                          "HoursOfIce": {
                            "type": "number",
                            "format": "float",
                            "description": "The hours of ice.",
                            "title": "Hours Of Ice"
                          },
                          "CloudCover": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The cloud cover.",
                            "title": "Cloud Cover"
                          },
                          "Evapotranspiration": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The unit type.",
                                "title": "Unit Type"
                              }
                            },
                            "title": "Evapotranspiration"
                          },
                          "SolarIrradiance": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "float",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "The unit.",
                                "title": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
[...]
