{
  "swagger": "2.0",
  "info": {
    "title": "AccuWeather",
    "description": "AccuWeather provides commercial weather forecasting services worldwide.",
    "version": "1.1",
    "contact": {
      "name": "Ahmad Najjar",
      "email": "ahmadn82@hotmail.com"
    }
  },
  "host": "dataservice.accuweather.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/locations/v1/adminareas/{countryCode}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "ID": {
                    "type": "string",
                    "description": "ID"
                  },
                  "LocalizedName": {
                    "type": "string",
                    "description": "Localized name"
                  },
                  "EnglishName": {
                    "type": "string",
                    "description": "English name"
                  },
                  "Level": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Level"
                  },
                  "LocalizedType": {
                    "type": "string",
                    "description": "Localized type"
                  },
                  "EnglishType": {
                    "type": "string",
                    "description": "English type"
                  },
                  "CountryID": {
                    "type": "string",
                    "description": "Country Id"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Admin Area List",
        "description": "Returns basic information about administrative areas in the specified country.",
        "operationId": "AdminAreas",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The country code to return administrative areas for",
            "x-ms-summary": "Country Code",
            "x-ms-visibility": "important"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "String indicating the language in which to return the resource. (Default en-us)",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced",
            "description": "Integer, along with the limit (25) that determines the first resource to be returned. If no offset is provided, the max number (100) of results will be returned."
          }
        ]
      }
    },
    "/locations/v1/countries/{regionCode}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "ID": {
                    "type": "string",
                    "description": "ID"
                  },
                  "LocalizedName": {
                    "type": "string",
                    "description": "Localized name"
                  },
                  "EnglishName": {
                    "type": "string",
                    "description": "English name"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Country List",
        "description": "Returns basic information about all countries within a specified region.",
        "operationId": "CountryList",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "regionCode",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The region code to return country list for",
            "x-ms-summary": "Region Code",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "RegionList",
              "value-path": "ID",
              "value-title": "EnglishName"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "String indicating the language in which to return the resource. (Default en-us)",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/locations/v1/regions": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "ID": {
                    "type": "string",
                    "description": "ID"
                  },
                  "LocalizedName": {
                    "type": "string",
                    "description": "Localized name"
                  },
                  "EnglishName": {
                    "type": "string",
                    "description": "English name"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Region List",
        "description": "Returns basic information about all regions.",
        "operationId": "RegionList",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "String indicating the language in which to return the resource.",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Language"
          }
        ]
      }
    },
    "/locations/v1/topcities/{group}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Version": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Version"
                  },
                  "Key": {
                    "type": "string",
                    "description": "Key"
                  },
                  "Type": {
                    "type": "string",
                    "description": "Type"
                  },
                  "Rank": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Rank"
                  },
                  "LocalizedName": {
                    "type": "string",
                    "description": "Localized name"
                  },
                  "EnglishName": {
                    "type": "string",
                    "description": "English name"
                  },
                  "PrimaryPostalCode": {
                    "type": "string",
                    "description": "Primary Postal Code"
                  },
                  "Region": {
                    "type": "object",
                    "properties": {
                      "ID": {
                        "type": "string",
                        "description": "ID"
                      },
                      "LocalizedName": {
                        "type": "string",
                        "description": "Localized name"
                      },
                      "EnglishName": {
                        "type": "string",
                        "description": "English name"
                      }
                    },
                    "description": "Region"
                  },
                  "Country": {
                    "type": "object",
                    "properties": {
                      "ID": {
                        "type": "string",
                        "description": "ID"
                      },
                      "LocalizedName": {
                        "type": "string",
                        "description": "Localized name"
                      },
                      "EnglishName": {
                        "type": "string",
                        "description": "English name"
                      }
                    },
                    "description": "Country"
                  },
                  "AdministrativeArea": {
                    "type": "object",
                    "properties": {
                      "ID": {
                        "type": "string",
                        "description": "ID"
                      },
                      "LocalizedName": {
                        "type": "string",
                        "description": "Localized name"
                      },
                      "EnglishName": {
                        "type": "string",
                        "description": "English name"
                      },
                      "Level": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Level"
                      },
                      "LocalizedType": {
                        "type": "string",
                        "description": "Localized type"
                      },
                      "EnglishType": {
                        "type": "string",
                        "description": "English type"
                      },
                      "CountryID": {
                        "type": "string",
                        "description": "Country Id"
                      }
                    },
                    "description": "Administrative area"
                  },
                  "TimeZone": {
                    "type": "object",
                    "properties": {
                      "Code": {
                        "type": "string",
                        "description": "Code"
                      },
                      "Name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "GmtOffset": {
                        "type": "number",
                        "format": "float",
                        "description": "Gmt Offset"
                      },
                      "IsDaylightSaving": {
                        "type": "boolean",
                        "description": "Is Day light Saving"
                      },
                      "NextOffsetChange": {
                        "type": "string",
                        "description": "Next Offset Change"
                      }
                    },
                    "description": "Time Zone"
                  },
                  "GeoPosition": {
                    "type": "object",
                    "properties": {
                      "Latitude": {
                        "type": "number",
                        "format": "float",
                        "description": "Latitude"
                      },
                      "Longitude": {
                        "type": "number",
                        "format": "float",
                        "description": "Longitude"
                      },
                      "Elevation": {
                        "type": "object",
                        "properties": {
                          "Metric": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Unit type"
                              }
                            },
                            "description": "Metric"
                          },
                          "Imperial": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Unit type"
                              }
                            },
                            "description": "Imperial"
                          }
                        },
                        "description": "Elevation"
                      }
                    },
                    "description": "Geo Position"
                  },
                  "IsAlias": {
                    "type": "boolean",
                    "description": "Is Alias"
                  },
                  "SupplementalAdminAreas": {
                    "type": "array",
                    "items": {},
                    "description": "Supplemental Admin Areas"
                  },
                  "DataSets": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Data Sets"
                  },
                  "Details": {
                    "type": "object",
                    "properties": {
                      "Key": {
                        "type": "string",
                        "description": "Key"
                      },
                      "StationCode": {
                        "type": "string",
                        "description": "Station Code"
                      },
                      "StationGmtOffset": {
                        "type": "number",
                        "format": "float",
                        "description": "Station Gmt Offset"
                      },
                      "BandMap": {
                        "type": "string",
                        "description": "Band Map"
                      },
                      "Climo": {
                        "type": "string",
                        "description": "Climo"
                      },
                      "LocalRadar": {
                        "type": "string",
                        "description": "Local Radar"
                      },
                      "MediaRegion": {
                        "type": "string",
                        "description": "Media Region"
                      },
                      "Metar": {
                        "type": "string",
                        "description": "Metar"
                      },
                      "NXMetro": {
                        "type": "string",
                        "description": "NX Metro"
                      },
                      "NXState": {
                        "type": "string",
                        "description": "NX State"
                      },
                      "Population": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Population"
                      },
                      "PrimaryWarningCountyCode": {
                        "type": "string",
                        "description": "Primary Warning County Code"
                      },
                      "PrimaryWarningZoneCode": {
                        "type": "string",
                        "description": "Primary Warning Zone Code"
                      },
                      "Satellite": {
                        "type": "string",
                        "description": "Satellite"
                      },
                      "Synoptic": {
                        "type": "string",
                        "description": "Synoptic"
                      },
                      "MarineStation": {
                        "type": "string",
                        "description": "Marine Station"
                      },
                      "MarineStationGMTOffset": {
                        "type": "number",
                        "format": "float",
                        "description": "Marine Station GMT Offset"
                      },
                      "VideoCode": {
                        "type": "string",
                        "description": "Video Code"
                      },
                      "LocationStem": {
                        "type": "string",
                        "description": "Location Stem"
                      },
                      "PartnerID": {
                        "type": "string",
                        "description": "Partner ID"
                      },
                      "Sources": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "DataType": {
                              "type": "string",
                              "description": "Data Type"
                            },
                            "Source": {
                              "type": "string",
                              "description": "Source"
                            },
                            "SourceId": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Source Id"
                            },
                            "PartnerSourceUrl": {
                              "type": "string",
                              "description": "Partner Source Url"
                            }
                          }
                        },
                        "description": "Sources"
                      },
                      "CanonicalPostalCode": {
                        "type": "string",
                        "description": "Canonical Postal Code"
                      },
                      "CanonicalLocationKey": {
                        "type": "string",
                        "description": "Canonical Location Key"
                      }
                    },
                    "description": "Details"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Top Cities List",
        "description": "Returns information for the top 50, 100, or 150 cities, worldwide.",
        "operationId": "TopCitiesList",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Group",
            "description": "The number of cities to return.",
            "x-ms-visibility": "important",
            "format": "int32",
            "enum": [
              50,
              100,
              150
            ]
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "String indicating the language in which to return the resource. (Default en-us)",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "details",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Details",
            "x-ms-visibility": "advanced",
            "description": "Specifies whether or not to include full details in the response.",
            "enum": [
              false,
              true
            ]
          }
        ]
      }
    },
    "/locations/v1/cities/autocomplete": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Version": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Version"
                  },
                  "Key": {
                    "type": "string",
                    "description": "Key"
                  },
                  "Type": {
                    "type": "string",
                    "description": "Type"
                  },
                  "Rank": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Rank"
                  },
                  "LocalizedName": {
                    "type": "string",
                    "description": "Localized name"
                  },
                  "Country": {
                    "type": "object",
                    "properties": {
                      "ID": {
                        "type": "string",
                        "description": "ID"
                      },
                      "LocalizedName": {
                        "type": "string",
                        "description": "Localized name"
                      }
                    },
                    "description": "Country"
                  },
                  "AdministrativeArea": {
                    "type": "object",
                    "properties": {
                      "ID": {
                        "type": "string",
                        "description": "ID"
                      },
                      "LocalizedName": {
                        "type": "string",
                        "description": "Localized name"
                      }
                    },
                    "description": "Administrative Area"
                  }
                }
              }
            }
          }
        },
        "summary": "Autocomplete search (Cities)",
        "description": "Returns basic information about locations matching an autocomplete of the search text.",
        "operationId": "AutocompleteCities",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Text to use for Autocomplete search.",
            "x-ms-summary": "Text",
            "x-ms-visibility": "important"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "String indicating the language in which to return the resource. (Default en-us)",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/locations/v1/cities/geoposition/search": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Version": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Version"
                },
                "Key": {
                  "type": "string",
                  "description": "Key"
                },
                "Type": {
                  "type": "string",
                  "description": "Type"
                },
                "Rank": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Rank"
                },
                "LocalizedName": {
                  "type": "string",
                  "description": "Localized name"
                },
                "EnglishName": {
                  "type": "string",
                  "description": "English name"
                },
                "PrimaryPostalCode": {
                  "type": "string",
                  "description": "Primary Postal Code"
                },
                "Region": {
                  "type": "object",
                  "properties": {
                    "ID": {
                      "type": "string",
                      "description": "ID"
                    },
                    "LocalizedName": {
                      "type": "string",
                      "description": "Localized name"
                    },
                    "EnglishName": {
                      "type": "string",
                      "description": "English name"
                    }
                  },
                  "description": "Region"
                },
                "Country": {
                  "type": "object",
                  "properties": {
                    "ID": {
                      "type": "string",
                      "description": "ID"
                    },
                    "LocalizedName": {
                      "type": "string",
                      "description": "Localized name"
                    },
                    "EnglishName": {
                      "type": "string",
                      "description": "English name"
                    }
                  },
                  "description": "Country"
                },
                "AdministrativeArea": {
                  "type": "object",
                  "properties": {
                    "ID": {
                      "type": "string",
                      "description": "ID"
                    },
                    "LocalizedName": {
                      "type": "string",
                      "description": "Localized name"
                    },
                    "EnglishName": {
                      "type": "string",
                      "description": "English name"
                    },
                    "Level": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Level"
                    },
                    "LocalizedType": {
                      "type": "string",
                      "description": "Localized type"
                    },
                    "EnglishType": {
                      "type": "string",
                      "description": "English type"
                    },
                    "CountryID": {
                      "type": "string",
                      "description": "Country Id"
                    }
                  },
                  "description": "Administrative Area"
                },
                "TimeZone": {
                  "type": "object",
                  "properties": {
                    "Code": {
                      "type": "string",
                      "description": "Code"
                    },
                    "Name": {
                      "type": "string",
                      "description": "Name"
                    },
                    "GmtOffset": {
                      "type": "number",
                      "format": "float",
                      "description": "Gmt Offset",
                      "title": ""
                    },
                    "IsDaylightSaving": {
                      "type": "boolean",
                      "description": "Is Daylight Saving"
                    },
                    "NextOffsetChange": {
                      "type": "string",
                      "description": "Next Offset Change"
                    }
                  },
                  "description": "TimeZone"
                },
                "GeoPosition": {
                  "type": "object",
                  "properties": {
                    "Latitude": {
                      "type": "number",
                      "format": "float",
                      "description": "Latitude"
                    },
                    "Longitude": {
                      "type": "number",
                      "format": "float",
                      "description": "Longitude"
                    },
                    "Elevation": {
                      "type": "object",
                      "properties": {
                        "Metric": {
                          "type": "object",
                          "properties": {
                            "Value": {
                              "type": "number",
                              "format": "double",
                              "description": "Value"
                            },
                            "Unit": {
                              "type": "string",
                              "description": "Unit"
                            },
                            "UnitType": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Unit type"
                            }
                          },
                          "description": "Metric"
                        },
                        "Imperial": {
                          "type": "object",
                          "properties": {
                            "Value": {
                              "type": "number",
                              "format": "double",
                              "description": "Value"
                            },
                            "Unit": {
                              "type": "string",
                              "description": "Unit"
                            },
                            "UnitType": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Unit type"
                            }
                          },
                          "description": "Imperial"
                        }
                      },
                      "description": "Elevation"
                    }
                  },
                  "description": "Geo Position"
                },
                "IsAlias": {
                  "type": "boolean",
                  "description": "Is Alias"
                },
                "ParentCity": {
                  "type": "object",
                  "properties": {
                    "Key": {
                      "type": "string",
                      "description": "Key"
                    },
                    "LocalizedName": {
                      "type": "string",
                      "description": "Localized name"
                    },
                    "EnglishName": {
                      "type": "string",
                      "description": "English name"
                    }
                  },
                  "description": "Parent City"
                },
                "SupplementalAdminAreas": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Level": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Level"
                      },
                      "LocalizedName": {
                        "type": "string",
                        "description": "Localized name"
                      },
                      "EnglishName": {
                        "type": "string",
                        "description": "English name"
                      }
                    }
                  },
                  "description": "Supplemental Admin Areas"
                },
                "DataSets": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Data Sets"
                },
                "Details": {
                  "type": "object",
                  "properties": {
                    "Key": {
                      "type": "string",
                      "description": "Key"
                    },
                    "StationCode": {
                      "type": "string",
                      "description": "Station Code"
                    },
                    "StationGmtOffset": {
                      "type": "number",
                      "format": "float",
                      "description": "Station Gmt Offset",
                      "title": ""
                    },
                    "BandMap": {
                      "type": "string",
                      "description": "Band Map"
                    },
                    "Climo": {
                      "type": "string",
                      "description": "Climo"
                    },
                    "LocalRadar": {
                      "type": "string",
                      "description": "Local Radar"
                    },
                    "MediaRegion": {
                      "type": "string",
                      "description": "Media Region"
                    },
                    "Metar": {
                      "type": "string",
                      "description": "Metar"
                    },
                    "NXMetro": {
                      "type": "string",
                      "description": "NX Metro"
                    },
                    "NXState": {
                      "type": "string",
                      "description": "NX State"
                    },
                    "Population": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Population"
                    },
                    "PrimaryWarningCountyCode": {
                      "type": "string",
                      "description": "Primary Warning County Code"
                    },
                    "PrimaryWarningZoneCode": {
                      "type": "string",
                      "description": "Primary Warning Zone Code"
                    },
                    "Satellite": {
                      "type": "string",
                      "description": "Satellite"
                    },
                    "Synoptic": {
                      "type": "string",
                      "description": "Synoptic"
                    },
                    "MarineStation": {
                      "type": "string",
                      "description": "Marine Station"
                    },
                    "MarineStationGMTOffset": {
                      "type": "number",
                      "format": "float",
                      "description": "Marine Station GMT Offset"
                    },
                    "VideoCode": {
                      "type": "string",
                      "description": "Video Code"
                    },
                    "LocationStem": {
                      "type": "string",
                      "description": "Location Stem"
                    },
                    "DMA": {
                      "type": "object",
                      "properties": {
                        "ID": {
                          "type": "string",
                          "description": "ID"
                        },
                        "EnglishName": {
                          "type": "string",
                          "description": "English name"
                        }
                      },
                      "description": "DMA"
                    },
                    "PartnerID": {
                      "type": "string",
                      "description": "Partner ID"
                    },
                    "Sources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "DataType": {
                            "type": "string",
                            "description": "Data Type"
                          },
                          "Source": {
                            "type": "string",
                            "description": "Source"
                          },
                          "SourceId": {
                            "type": "integer",
                            "format": "int32",
                            "description": "SourceId"
                          }
                        }
                      },
                      "description": "Sources"
                    },
                    "CanonicalPostalCode": {
                      "type": "string",
                      "description": "Canonical Postal Code"
                    },
                    "CanonicalLocationKey": {
                      "type": "string",
                      "description": "Canonical Location Key"
                    }
                  },
                  "description": "Details"
                }
              }
            }
          }
        },
        "summary": "Geoposition Search (Latitude and Longitude)",
        "description": "Returns information about a specific location, by GeoPosition (Latitude and Longitude).",
        "operationId": "GeopositionSearch",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "A comma-separated lat/long pair (lat,long).",
            "x-ms-summary": "Latitude,Longitude",
            "x-ms-visibility": "important"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "String indicating the language in which to return the resource. (Default en-us)",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "details",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Specifies whether or not to include full details in the response.",
            "x-ms-summary": "Details",
            "x-ms-visibility": "advanced",
            "enum": [
              false,
              true
            ]
          },
          {
            "name": "toplevel",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "When toplevel=true, the city with the highest rank will be returned. Large cities have higher rank than the neighborhoods within them, so toplevel=true delivers a more generic location result. (Example: 40.73,-74.00 returns Greenwich Village, NY when toplevel=false. If toplevel=true, the same lat/lon pair will return New York, NY.)",
            "x-ms-summary": "Top Level",
            "x-ms-visibility": "advanced",
            "enum": [
              false,
              true
            ]
          }
        ]
      }
    },
    "/forecasts/v1/daily/{duration}day/{locationKey}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Headline": {
                  "type": "object",
                  "properties": {
                    "EffectiveDate": {
                      "type": "string",
                      "description": "Effective Date"
                    },
                    "EffectiveEpochDate": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Effective Epoch Date"
                    },
                    "Severity": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Severity"
                    },
                    "Text": {
                      "type": "string",
                      "description": "Text"
                    },
                    "Category": {
                      "type": "string",
                      "description": "Category"
                    },
                    "EndDate": {
                      "type": "string",
                      "description": "EndDate"
                    },
                    "EndEpochDate": {
                      "type": "integer",
                      "format": "int32",
                      "description": "End Epoch Date"
                    },
                    "MobileLink": {
                      "type": "string",
                      "description": "Mobile Link"
                    },
                    "Link": {
                      "type": "string",
                      "description": "Link"
                    }
                  },
                  "description": "Headline"
                },
                "DailyForecasts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Date": {
                        "type": "string",
                        "description": "Date"
                      },
                      "EpochDate": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Epoch Date"
                      },
                      "Sun": {
                        "type": "object",
                        "properties": {
                          "Rise": {
                            "type": "string",
                            "description": "Rise"
                          },
                          "EpochRise": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Epoch Rise"
                          },
                          "Set": {
                            "type": "string",
                            "description": "Set"
                          },
                          "EpochSet": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Epoch Set"
                          }
                        },
                        "description": "Sun"
                      },
                      "Moon": {
                        "type": "object",
                        "properties": {
                          "Rise": {
                            "type": "string",
                            "description": "Rise"
                          },
                          "EpochRise": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Epoch Rise"
                          },
                          "Set": {
                            "type": "string",
                            "description": "Set"
                          },
                          "EpochSet": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Epoch Set"
                          },
                          "Phase": {
                            "type": "string",
                            "description": "Phase"
                          },
                          "Age": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Age"
                          }
                        },
                        "description": "Moon"
                      },
                      "Temperature": {
                        "type": "object",
                        "properties": {
                          "Minimum": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Unit type"
                              }
                            },
                            "description": "Minimum"
                          },
                          "Maximum": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Unit type"
                              }
                            },
                            "description": "Maximum"
                          }
                        },
                        "description": "Temperature"
                      },
                      "RealFeelTemperature": {
                        "type": "object",
                        "properties": {
                          "Minimum": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Unit type"
                              }
                            },
                            "description": "Minimum"
                          },
                          "Maximum": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Unit type"
                              }
                            },
                            "description": "Maximum"
                          }
                        },
                        "description": "Real Feel Temperature"
                      },
                      "RealFeelTemperatureShade": {
                        "type": "object",
                        "properties": {
                          "Minimum": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Unit type"
                              }
                            },
                            "description": "Minimum"
                          },
                          "Maximum": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Unit type"
                              }
                            },
                            "description": "Maximum"
                          }
                        },
                        "description": "Real Feel Temperature Shade"
                      },
                      "HoursOfSun": {
                        "type": "number",
                        "format": "float",
                        "description": "Hours Of Sun"
                      },
                      "DegreeDaySummary": {
                        "type": "object",
                        "properties": {
                          "Heating": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Unit type"
                              }
                            },
                            "description": "Heating"
                          },
                          "Cooling": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Unit type"
                              }
                            },
                            "description": "Cooling"
                          }
                        },
                        "description": "Degree Day Summary"
                      },
                      "AirAndPollen": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Name": {
                              "type": "string",
                              "description": "Name"
                            },
                            "Value": {
                              "type": "number",
                              "format": "double",
                              "description": "Value"
                            },
                            "Category": {
                              "type": "string",
                              "description": "Category"
                            },
                            "CategoryValue": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Category Value"
                            },
                            "Type": {
                              "type": "string",
                              "description": "Type"
                            }
                          }
                        },
                        "description": "Air And Pollen"
                      },
                      "Day": {
                        "type": "object",
                        "properties": {
                          "Icon": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Icon"
                          },
                          "IconPhrase": {
                            "type": "string",
                            "description": "Icon Phrase"
                          },
                          "HasPrecipitation": {
                            "type": "boolean",
                            "description": "Has Precipitation"
                          },
                          "ShortPhrase": {
                            "type": "string",
                            "description": "Short Phrase"
                          },
                          "LongPhrase": {
                            "type": "string",
                            "description": "Long Phrase"
                          },
                          "PrecipitationProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Precipitation Probability"
                          },
                          "ThunderstormProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Thunderstorm Probability"
                          },
                          "RainProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Rain Probability"
                          },
                          "SnowProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Snow Probability"
                          },
                          "IceProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Ice Probability"
                          },
                          "Wind": {
                            "type": "object",
                            "properties": {
                              "Speed": {
                                "type": "object",
                                "properties": {
                                  "Value": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "Value"
                                  },
                                  "Unit": {
                                    "type": "string",
                                    "description": "Unit"
                                  },
                                  "UnitType": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Unit type"
                                  }
                                },
                                "description": "Speed"
                              },
                              "Direction": {
                                "type": "object",
                                "properties": {
                                  "Degrees": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Degrees"
                                  },
                                  "Localized": {
                                    "type": "string",
                                    "description": "Localized"
                                  },
                                  "English": {
                                    "type": "string",
                                    "description": "English"
                                  }
                                },
                                "description": "Direction"
                              }
                            },
                            "description": "Wind"
                          },
                          "WindGust": {
                            "type": "object",
                            "properties": {
                              "Speed": {
                                "type": "object",
                                "properties": {
                                  "Value": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "Value"
                                  },
                                  "Unit": {
                                    "type": "string",
                                    "description": "Unit"
                                  },
                                  "UnitType": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Unit type"
                                  }
                                },
                                "description": "Speed"
                              },
                              "Direction": {
                                "type": "object",
                                "properties": {
                                  "Degrees": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Degrees"
                                  },
                                  "Localized": {
                                    "type": "string",
                                    "description": "Localized"
                                  },
                                  "English": {
                                    "type": "string",
                                    "description": "English"
                                  }
                                },
                                "description": "Direction"
                              }
                            },
                            "description": "Wind Gust"
                          },
                          "TotalLiquid": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Unit type"
                              }
                            },
                            "description": "Total Liquid"
                          },
                          "Rain": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Unit type"
                              }
                            },
                            "description": "Rain"
                          },
                          "Snow": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Unit type"
                              }
                            },
                            "description": "Snow"
                          },
                          "Ice": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Unit type"
                              }
                            },
                            "description": "Ice"
                          },
                          "HoursOfPrecipitation": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Hours Of Precipitation"
                          },
                          "HoursOfRain": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Hours Of Rain"
                          },
                          "HoursOfSnow": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Hours Of Snow"
                          },
                          "HoursOfIce": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Hours Of Ice"
                          },
                          "CloudCover": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Cloud Cover"
                          },
                          "Evapotranspiration": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Unit type"
                              }
                            },
                            "description": "Evapotranspiration"
                          },
                          "SolarIrradiance": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Unit type"
                              }
                            },
                            "description": "Solar Irradiance"
                          }
                        },
                        "description": "Day"
                      },
                      "Night": {
                        "type": "object",
                        "properties": {
                          "Icon": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Icon"
                          },
                          "IconPhrase": {
                            "type": "string",
                            "description": "Icon Phrase"
                          },
                          "HasPrecipitation": {
                            "type": "boolean",
                            "description": "Has Precipitation"
                          },
                          "ShortPhrase": {
                            "type": "string",
                            "description": "Short Phrase"
                          },
                          "LongPhrase": {
                            "type": "string",
                            "description": "Long Phrase"
                          },
                          "PrecipitationProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Precipitation Probability"
                          },
                          "ThunderstormProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Thunderstorm Probability"
                          },
                          "RainProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Rain Probability"
                          },
                          "SnowProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Snow Probability"
                          },
                          "IceProbability": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Ice Probability"
                          },
                          "Wind": {
                            "type": "object",
                            "properties": {
                              "Speed": {
                                "type": "object",
                                "properties": {
                                  "Value": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "Value"
                                  },
                                  "Unit": {
                                    "type": "string",
                                    "description": "Unit"
                                  },
                                  "UnitType": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Unit type"
                                  }
                                },
                                "description": "Speed"
                              },
                              "Direction": {
                                "type": "object",
                                "properties": {
                                  "Degrees": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Degrees"
                                  },
                                  "Localized": {
                                    "type": "string",
                                    "description": "Localized"
                                  },
                                  "English": {
                                    "type": "string",
                                    "description": "English"
                                  }
                                },
                                "description": "Direction"
                              }
                            },
                            "description": "Wind"
                          },
                          "WindGust": {
                            "type": "object",
                            "properties": {
                              "Speed": {
                                "type": "object",
                                "properties": {
                                  "Value": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "Value"
                                  },
                                  "Unit": {
                                    "type": "string",
                                    "description": "Unit"
                                  },
                                  "UnitType": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Unit type"
                                  }
                                },
                                "description": "Speed"
                              },
                              "Direction": {
                                "type": "object",
                                "properties": {
                                  "Degrees": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Degrees"
                                  },
                                  "Localized": {
                                    "type": "string",
                                    "description": "Localized"
                                  },
                                  "English": {
                                    "type": "string",
                                    "description": "English"
                                  }
                                },
                                "description": "Direction"
                              }
                            },
                            "description": "Wind Gust"
                          },
                          "TotalLiquid": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Unit type"
                              }
                            },
                            "description": "Total Liquid"
                          },
                          "Rain": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Unit type"
                              }
                            },
                            "description": "Rain"
                          },
                          "Snow": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Unit type"
                              }
                            },
                            "description": "Snow"
                          },
                          "Ice": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Unit type"
                              }
                            },
                            "description": "Ice"
                          },
                          "HoursOfPrecipitation": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Hours Of Precipitation"
                          },
                          "HoursOfRain": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Hours Of Rain"
                          },
                          "HoursOfSnow": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Hours Of Snow"
                          },
                          "HoursOfIce": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Hours Of Ice"
                          },
                          "CloudCover": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Cloud Cover"
                          },
                          "Evapotranspiration": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Unit type"
                              }
                            },
                            "description": "Evapotranspiration"
                          },
                          "SolarIrradiance": {
                            "type": "object",
                            "properties": {
                              "Value": {
                                "type": "number",
                                "format": "double",
                                "description": "Value"
                              },
                              "Unit": {
                                "type": "string",
                                "description": "Unit"
                              },
                              "UnitType": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Unit type"
                              }
                            },
                            "description": "Solar Irradiance"
                          }
                        },
                        "description": "Night"
                      },
                      "Sources": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Sources"
                      },
                      "MobileLink": {
                        "type": "string",
                        "description": "Mobile Link"
                      },
                      "Link": {
                        "type": "string",
                        "description": "Link"
                      }
                    }
                  },
                  "description": "Daily Forecasts"
                }
              }
            }
          }
        },
        "summary": "Get Daily Forecasts",
        "description": "Returns daily forecast data for a specific location.",
        "operationId": "DailyForcasts",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "duration",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Duration (days)",
            "description": "Time interval (duration)",
            "x-ms-visibility": "important",
            "format": "int32",
            "enum": [
              1,
              5,
              10,
              15
            ]
          },
          {
            "name": "locationKey",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Location Key",
            "description": "Unique ID used to search for a specific location.",
            "x-ms-visibility": "important",
            "format": "int32"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "String indicating the language in which to return the resource. (Default en-us)",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "details",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Details",
            "x-ms-visibility": "advanced",
            "description": "Specifies whether or not to include full details in the response.",
            "enum": [
              false,
              true
            ]
          },
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Metric",
            "x-ms-visibility": "advanced",
            "description": "Specifies whether or not to display metric values.",
            "enum": [
              false,
              true
            ]
          }
        ]
      }
    },
    "/forecasts/v1/hourly/{duration}hour/{locationKey}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "DateTime": {
                    "type": "string",
                    "description": "Date Time"
                  },
                  "EpochDateTime": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Epoch Date Time"
                  },
                  "WeatherIcon": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Weather Icon"
                  },
                  "IconPhrase": {
                    "type": "string",
                    "description": "Icon Phrase"
                  },
                  "HasPrecipitation": {
                    "type": "boolean",
                    "description": "Has Precipitation"
                  },
                  "IsDaylight": {
                    "type": "boolean",
                    "description": "Is Daylight"
                  },
                  "Temperature": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "double",
                        "description": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Unit type"
                      }
                    },
                    "description": "Temperature"
                  },
                  "RealFeelTemperature": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "double",
                        "description": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Unit type"
                      }
                    },
                    "description": "Real Feel Temperature"
                  },
                  "RealFeelTemperatureShade": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "double",
                        "description": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Unit type"
                      }
                    },
                    "description": "Real Feel TemperatureShade"
                  },
                  "WetBulbTemperature": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "double",
                        "description": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Unit type"
                      }
                    },
                    "description": "Wet Bulb Temperature"
                  },
                  "DewPoint": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "double",
                        "description": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Unit type"
                      }
                    },
                    "description": "Dew Point"
                  },
                  "Wind": {
                    "type": "object",
                    "properties": {
                      "Speed": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "number",
                            "format": "double",
                            "description": "Value"
                          },
                          "Unit": {
                            "type": "string",
                            "description": "Unit"
                          },
                          "UnitType": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Unit type"
                          }
                        },
                        "description": "Speed"
                      },
                      "Direction": {
                        "type": "object",
                        "properties": {
                          "Degrees": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Degrees"
                          },
                          "Localized": {
                            "type": "string",
                            "description": "Localized"
                          },
                          "English": {
                            "type": "string",
                            "description": "English"
                          }
                        },
                        "description": "Direction"
                      }
                    },
                    "description": "Wind"
                  },
                  "WindGust": {
                    "type": "object",
                    "properties": {
                      "Speed": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "number",
                            "format": "double",
                            "description": "Value"
                          },
                          "Unit": {
                            "type": "string",
                            "description": "Unit"
                          },
                          "UnitType": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Unit type"
                          }
                        },
                        "description": "Speed"
                      }
                    },
                    "description": "WindGust"
                  },
                  "RelativeHumidity": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Relative Humidity"
                  },
                  "IndoorRelativeHumidity": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Indoor Relative Humidity"
                  },
                  "Visibility": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "double",
                        "description": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Unit type"
                      }
                    },
                    "description": "Visibility"
                  },
                  "Ceiling": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "double",
                        "description": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Unit type"
                      }
                    },
                    "description": "Ceiling"
                  },
                  "UVIndex": {
                    "type": "integer",
                    "format": "int32",
                    "description": "UV Index"
                  },
                  "UVIndexText": {
                    "type": "string",
                    "description": "UV IndexText"
                  },
                  "PrecipitationProbability": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Precipitation Probability"
                  },
                  "ThunderstormProbability": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Thunderstorm Probability"
                  },
                  "RainProbability": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Rain Probability"
                  },
                  "SnowProbability": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Snow Probability"
                  },
                  "IceProbability": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Ice Probability"
                  },
                  "TotalLiquid": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "double",
                        "description": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Unit type"
                      }
                    },
                    "description": "Total Liquid"
                  },
                  "Rain": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "double",
                        "description": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Unit type"
                      }
                    },
                    "description": "Rain"
                  },
                  "Snow": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "double",
                        "description": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Unit type"
                      }
                    },
                    "description": "Snow"
                  },
                  "Ice": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "double",
                        "description": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Unit type"
                      }
                    },
                    "description": "Ice"
                  },
                  "CloudCover": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Cloud Cover"
                  },
                  "Evapotranspiration": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "double",
                        "description": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Unit type"
                      }
                    },
                    "description": "Evapotranspiration"
                  },
                  "SolarIrradiance": {
                    "type": "object",
                    "properties": {
                      "Value": {
                        "type": "number",
                        "format": "double",
                        "description": "Value"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "Unit"
                      },
                      "UnitType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Unit type"
                      }
                    },
                    "description": "Solar Irradiance"
                  },
                  "MobileLink": {
                    "type": "string",
                    "description": "Mobile Link"
                  },
                  "Link": {
                    "type": "string",
                    "description": "Link"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Hourly Forecasts",
        "description": "Returns forecast data for the next hour(s) for a specific location.",
        "operationId": "HourlyForcasts",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "duration",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Duration (hours)",
            "description": "Time interval (duration)",
[...]
