{
  "swagger": "2.0",
  "info": {
    "title": "Chuck Norris IO",
    "description": "Chuck Norris Jokes API",
    "version": "1.0"
  },
  "host": "api.chucknorris.io",
  "basePath": "/jokes/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/random": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "icon_url": {
                  "type": "string",
                  "description": "icon_url",
                  "title": "Icon URL",
                  "x-ms-visibility": "internal"
                },
                "id": {
                  "type": "string",
                  "description": "id",
                  "title": "ID",
                  "x-ms-visibility": "internal"
                },
                "url": {
                  "type": "string",
                  "description": "url",
                  "title": "URL",
                  "x-ms-visibility": "internal"
                },
                "value": {
                  "type": "string",
                  "description": "value",
                  "title": "Value"
                }
              }
            }
          }
        },
        "summary": "Get random Chuck Norris joke",
        "description": "This action will give you a random Chuck Norris joke",
        "operationId": "GetRandomChuckNorrisJoke",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Select a category",
            "x-ms-dynamic-values": {
              "operationId": "GetCategories"
            },
            "x-ms-summary": "Category"
          }
        ]
      }
    },
    "/categories": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Categories"
              }
            }
          }
        },
        "summary": "Get Chuck Norris jokes categories",
        "description": "This action will get all the possible categories of Chuck Norris jokes",
        "operationId": "GetCategories",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/search": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total",
                  "title": "Total",
                  "x-ms-visibility": "internal"
                },
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "categories": {
                        "type": "array",
                        "items": {},
                        "description": "categories"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "created_at",
                        "title": "Created at"
                      },
                      "icon_url": {
                        "type": "string",
                        "description": "icon_url",
                        "title": "Icon URL"
                      },
                      "id": {
                        "type": "string",
                        "description": "id",
                        "title": "ID",
                        "x-ms-visibility": "internal"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "updated_at",
                        "title": "Updated at"
                      },
                      "url": {
                        "type": "string",
                        "description": "url",
                        "title": "URL"
                      },
                      "value": {
                        "type": "string",
                        "description": "value",
                        "title": "Value"
                      }
                    }
                  },
                  "description": "result"
                }
              }
            }
          }
        },
        "summary": "Search for Chuck Norris jokes",
        "description": "This action will let you search for Chuck Norris Jokes by a keyword",
        "operationId": "SearchChuckNorrisJokes",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Enter your query here",
            "format": "",
            "x-ms-summary": "Query"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}