{
  "swagger": "2.0",
  "info": {
    "title": "Chuck Norris IO",
    "description": "This connector is an API provided by ChuckNorris.IO and will provide you with a Chuck Norris fact when you ask for it.",
    "version": "1.0",
    "contact": {
      "name": "Daniel Laskewitz",
      "url": "https://youtube.com/daniellaskewitz",
      "email": "connectorsupport@laskewitz.io"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://api.chucknorris.io/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://api.chucknorris.io/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ],
  "host": "api.chucknorris.io",
  "basePath": "/jokes/",
  "schemes": [ "https" ],
  "consumes": [ ],
  "produces": [ ],
  "paths": {
    "/random": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "icon_url": {
                  "type": "string",
                  "description": "Icon URL",
                  "x-ms-summary": "Icon URL",
                  "x-ms-visibility": "internal"
                },
                "id": {
                  "type": "string",
                  "description": "ID",
                  "x-ms-summary": "ID",
                  "x-ms-visibility": "internal"
                },
                "url": {
                  "type": "string",
                  "description": "url",
                  "x-ms-summary": "URL",
                  "x-ms-visibility": "internal"
                },
                "value": {
                  "type": "string",
                  "description": "value",
                  "x-ms-summary": "Value"
                }
              }
            }
          }
        },
        "summary": "Get random Chuck Norris fact",
        "description": "This action will give you a random Chuck Norris fact",
        "operationId": "GetRandomChuckNorrisFact",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Select a category",
            "x-ms-dynamic-values": {
              "operationId": "GetCategories"
            },
            "x-ms-summary": "Category"
          }
        ]
      }
    },
    "/categories": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "x-ms-summary": "Categories"
              }
            }
          }
        },
        "summary": "Get Chuck Norris fact categories",
        "description": "This action will get all the possible categories of Chuck Norris facts",
        "operationId": "GetCategories",
        "parameters": [ ],
        "x-ms-visibility": "internal"
      }
    },
    "/search": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total",
                  "x-ms-summary": "Total",
                  "x-ms-visibility": "internal"
                },
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "categories": {
                        "type": "array",
                        "items": { },
                        "description": "Categories"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "Created at",
                        "x-ms-summary": "Created at"
                      },
                      "icon_url": {
                        "type": "string",
                        "description": "Icon URL",
                        "x-ms-summary": "Icon URL"
                      },
                      "id": {
                        "type": "string",
                        "description": "ID",
                        "x-ms-summary": "ID",
                        "x-ms-visibility": "internal"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "Updated at",
                        "x-ms-summary": "Updated at"
                      },
                      "url": {
                        "type": "string",
                        "description": "URL",
                        "x-ms-summary": "URL"
                      },
                      "value": {
                        "type": "string",
                        "description": "Value",
                        "x-ms-summary": "Value"
                      }
                    }
                  },
                  "description": "result"
                }
              }
            }
          }
        },
        "summary": "Search for Chuck Norris facts",
        "description": "This action will let you search for Chuck Norris facts by a keyword",
        "operationId": "SearchChuckNorrisFacts",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter your query here",
            "x-ms-summary": "Query"
          }
        ]
      }
    }
  },
  "definitions": { },
  "parameters": { },
  "responses": { },
  "securityDefinitions": { },
  "security": [ ],
  "tags": [ ]
}
