{
  "swagger": "2.0",
  "info": {
    "title": "Google Maps Routes",
    "description": "This connector uses Google Maps Routes API to calculate travel distance and estimated travel time between a single origin and destination. Results include distance in kilometers and travel duration.",
    "version": "1.0",
    "contact": {
      "name": "Remsey Mailjard",
      "url": "https://www.skills4-it.nl",
      "email": "remsey@skills4-it.nl"
    }
  },
  "host": "routes.googleapis.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
      "application/json"
    ],
  "produces": [
      "application/json"
    ],
  "paths": {
    "/directions/v2:computeRoutes": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "routes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "distanceMeters": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Travel distance in meters.",
                        "title": "Distance",
                        "x-ms-visibility": "important"
                      },
                      "duration": {
                        "type": "string",
                        "description": "Estimated travel time (in seconds, formatted as ISO 8601 duration string, e.g. \"3461s\")",
                        "title": "Durations",
                        "x-ms-visibility": "important"
                      }
                    }
                  },
                  "description": "routes"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "summary": "Calculate Distance and Travel Time",
        "description": "Returns the distance (in kilometers) and the estimated travel time (in seconds) between the specified origin and destination.",
        "operationId": "GetDistanceAndTime",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "X-Goog-FieldMask",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "routes.duration,routes.distanceMeters",
            "description": "Specify the fields you want in the response, separated by commas (e.g. default routes.duration,routes.distanceMeters). Examples:  - routes.duration,routes.distanceMeters,routes.polyline.encodedPolyline  - routes.legs.steps,routes.distanceMeters  Limiting fields improves performancezz.",
            "x-ms-summary": "Response Fields",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "origin": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "description": "The full address or location that serves as the endpoint.",
                      "title": "Destination",
                      "x-ms-visibility": "important"
                    }
                  },
                  "description": "origin"
                },
                "destination": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "description": "The full address or location that serves as the starting point.",
                      "title": "Origin Address",
                      "x-ms-visibility": "important"
                    }
                  },
                  "description": "destination"
                }
              },
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-Goog-Api-Key"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://developers.google.com/maps/documentation/routes"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://policies.google.com/privacy"
    },
     {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]

}