{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "FEMA",
    "description": "The public's resource for FEMA program data. Promoting a culture of Open Government and increasing transparency, participation, and collaboration among the Whole Community in support of FEMA's mission to help people before, during, and after disasters. FEMA collects vast amounts of data on multiple aspects of emergency management - Disaster Information, Individual Assistance, Public Assistance, Hazard Mitigation, National Flood Insurance Program (NFIP), and Grants.",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "www.fema.gov",
  "basePath": "/api/open",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/DeclarationDenials": {
      "get": {
        "description": "This action lists all requests for major disaster declarations and emergency declarations that have been denied.",
        "summary": "Get declarations",
        "tags": [
          "Disaster Information"
        ],
        "operationId": "GetV1DeclarationDenials",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "x-ms-summary": "Filter",
            "required": false,
            "type": "string",
            "description": "Applies filter criteria to constrain the results."
          },
          {
            "name": "$top",
            "in": "query",
            "x-ms-summary": "Top",
            "required": false,
            "default": 1000,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 10000,
            "description": "The number of items to return in the result set."
          },
          {
            "name": "$skip",
            "in": "query",
            "x-ms-summary": "Skip",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "description": "The number of items to skip over before returning results."
          },
          {
            "name": "$count",
            "in": "query",
            "x-ms-summary": "Count",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Option to specify if a total entity count should be returned with the query."
          },
          {
            "name": "$filename",
            "in": "query",
            "x-ms-summary": "Filename",
            "required": false,
            "type": "string",
            "description": "The name of the file to be downloaded."
          },
          {
            "name": "$metadata",
            "in": "query",
            "x-ms-summary": "Metadata",
            "required": false,
            "default": true,
            "type": "boolean",
            "description": "Indicate whether to return metadata object with a data set."
          },
          {
            "name": "$gzip",
            "in": "query",
            "x-ms-summary": "GZip",
            "required": false,
            "type": "string",
            "description": "Indicates GZip status."
          },
          {
            "name": "$orderby",
            "in": "query",
            "x-ms-summary": "Order By",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "id desc",
                "declarationRequestNumber",
                "declarationRequestNumber desc",
                "region",
                "region desc",
                "stateAbbreviation",
                "stateAbbreviation desc",
                "tribalRequest",
                "tribalRequest desc",
                "state",
                "state desc",
                "declarationRequestDate",
                "declarationRequestDate desc",
                "declarationRequestType",
                "declarationRequestType desc",
                "incidentName",
                "incidentName desc",
                "requestedIncidentTypes",
                "requestedIncidentTypes desc",
                "currentRequestStatus",
                "currentRequestStatus desc",
                "requestedIncidentBeginDate",
                "requestedIncidentBeginDate desc",
                "requestedIncidentEndDate",
                "requestedIncidentEndDate desc",
                "requestStatusDate",
                "requestStatusDate desc",
                "ihProgramRequested",
                "ihProgramRequested desc",
                "iaProgramRequested",
                "iaProgramRequested desc",
                "paProgramRequested",
                "paProgramRequested desc",
                "hmProgramRequested",
                "hmProgramRequested desc",
                "incidentId",
                "incidentId desc",
                "incidentBeginDate",
                "incidentBeginDate desc"
              ]
            },
            "description": "Sort the returned data."
          },
          {
            "name": "$select",
            "in": "query",
            "x-ms-summary": "Select",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "declarationRequestNumber",
                "region",
                "stateAbbreviation",
                "tribalRequest",
                "state",
                "declarationRequestDate",
                "declarationRequestType",
                "incidentName",
                "requestedIncidentTypes",
                "currentRequestStatus",
                "requestedIncidentBeginDate",
                "requestedIncidentEndDate",
                "requestStatusDate",
                "ihProgramRequested",
                "iaProgramRequested",
                "paProgramRequested",
                "hmProgramRequested",
                "incidentId",
                "incidentBeginDate"
              ]
            },
            "description": "Controls which fields will be returned in the results."
          },
          {
            "name": "$format",
            "in": "query",
            "x-ms-summary": "Format",
            "required": false,
            "enum": [
              "json",
              "jsona",
              "csv",
              "jsonl",
              "parquet"
            ],
            "default": "json",
            "x-ms-visibility": "internal",
            "type": "string",
            "description": "The format of the data to be returned."
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/V1DeclarationDenialsResponse"
            }
          }
        }
      }
    },
    "/v2/DisasterDeclarationsSummaries": {
      "get": {
        "description": "Disaster Declarations Summaries is a summarized dataset describing all federally declared disasters. This action lists all official FEMA Disaster Declarations, beginning with the first disaster declaration in 1953 and features all three disaster declaration types: major disaster, emergency, and fire management assistance. The dataset includes declared recovery programs and geographic areas (county not available before 1964; Fire Management records are considered partial due to historical nature of the dataset).",
        "summary": "Get declaration summaries",
        "tags": [
          "Disaster Information"
        ],
        "operationId": "GetV2DisasterDeclarationsSummaries",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "x-ms-summary": "Filter",
            "required": false,
            "type": "string",
            "description": "Applies filter criteria to constrain the results."
          },
          {
            "name": "$top",
            "in": "query",
            "x-ms-summary": "Top",
            "required": false,
            "default": 1000,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 10000,
            "description": "The number of items to return in the result set."
          },
          {
            "name": "$skip",
            "in": "query",
            "x-ms-summary": "Skip",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "description": "The number of items to skip over before returning results."
          },
          {
            "name": "$count",
            "in": "query",
            "x-ms-summary": "Count",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Option to specify if a total entity count should be returned with the query."
          },
          {
            "name": "$filename",
            "in": "query",
            "x-ms-summary": "Filename",
            "required": false,
            "type": "string",
            "description": "The name of the file to be downloaded."
          },
          {
            "name": "$metadata",
            "in": "query",
            "x-ms-summary": "Metadata",
            "required": false,
            "default": true,
            "type": "boolean",
            "description": "Indicate whether to return metadata object with a data set."
          },
          {
            "name": "$gzip",
            "in": "query",
            "x-ms-summary": "GZip",
            "required": false,
            "type": "string",
            "description": "Indicates GZip status."
          },
          {
            "name": "$orderby",
            "in": "query",
            "x-ms-summary": "Order By",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "id desc",
                "disasterNumber",
                "disasterNumber desc",
                "state",
                "state desc",
                "femaDeclarationString",
                "femaDeclarationString desc",
                "declarationType",
                "declarationType desc",
                "declarationDate",
                "declarationDate desc",
                "fyDeclared",
                "fyDeclared desc",
                "incidentType",
                "incidentType desc",
                "declarationTitle",
                "declarationTitle desc",
                "ihProgramDeclared",
                "ihProgramDeclared desc",
                "iaProgramDeclared",
                "iaProgramDeclared desc",
                "paProgramDeclared",
                "paProgramDeclared desc",
                "hmProgramDeclared",
                "hmProgramDeclared desc",
                "incidentBeginDate",
                "incidentBeginDate desc",
                "incidentEndDate",
                "incidentEndDate desc",
                "disasterCloseoutDate",
                "disasterCloseoutDate desc",
                "tribalRequest",
                "tribalRequest desc",
                "fipsStateCode",
                "fipsStateCode desc",
                "fipsCountyCode",
                "fipsCountyCode desc",
                "placeCode",
                "placeCode desc",
                "designatedArea",
                "designatedArea desc",
                "declarationRequestNumber",
                "declarationRequestNumber desc",
                "lastIAFilingDate",
                "lastIAFilingDate desc",
                "incidentId",
                "incidentId desc",
                "region",
                "region desc",
                "designatedIncidentTypes",
                "designatedIncidentTypes desc",
                "lastRefresh",
                "lastRefresh desc",
                "hash",
                "hash desc"
              ]
            },
            "description": "Sort the returned data."
          },
          {
            "name": "$select",
            "in": "query",
            "x-ms-summary": "Select",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "disasterNumber",
                "state",
                "femaDeclarationString",
                "declarationType",
                "declarationDate",
                "fyDeclared",
                "incidentType",
                "declarationTitle",
                "ihProgramDeclared",
                "iaProgramDeclared",
                "paProgramDeclared",
                "hmProgramDeclared",
                "incidentBeginDate",
                "incidentEndDate",
                "disasterCloseoutDate",
                "tribalRequest",
                "fipsStateCode",
                "fipsCountyCode",
                "placeCode",
                "designatedArea",
                "declarationRequestNumber",
                "lastIAFilingDate",
                "incidentId",
                "region",
                "designatedIncidentTypes",
                "lastRefresh",
                "hash"
              ]
            },
            "description": "Controls which fields will be returned in the results."
          },
          {
            "name": "$format",
            "in": "query",
            "x-ms-summary": "Format",
            "required": false,
            "enum": [
              "json",
              "jsona",
              "csv",
              "jsonl",
              "parquet"
            ],
            "default": "json",
            "x-ms-visibility": "internal",
            "type": "string",
            "description": "The format of the data to be returned."
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/V2DisasterDeclarationsSummariesResponse"
            }
          }
        }
      }
    },
    "/v1/FemaWebDeclarationAreas": {
      "get": {
        "description": "This data set contains general information on declared disasters, including the disaster number, declaration type, state, description, incident start and end dates, and incident type.",
        "summary": "Get declaration areas",
        "tags": [
          "Disaster Information"
        ],
        "operationId": "GetV1FemaWebDeclarationAreas",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "x-ms-summary": "Filter",
            "required": false,
            "type": "string",
            "description": "Applies filter criteria to constrain the results."
          },
          {
            "name": "$top",
            "in": "query",
            "x-ms-summary": "Top",
            "required": false,
            "default": 1000,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 10000,
            "description": "The number of items to return in the result set."
          },
          {
            "name": "$skip",
            "in": "query",
            "x-ms-summary": "Skip",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "description": "The number of items to skip over before returning results."
          },
          {
            "name": "$count",
            "in": "query",
            "x-ms-summary": "Count",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Option to specify if a total entity count should be returned with the query."
          },
          {
            "name": "$filename",
            "in": "query",
            "x-ms-summary": "Filename",
            "required": false,
            "type": "string",
            "description": "The name of the file to be downloaded."
          },
          {
            "name": "$metadata",
            "in": "query",
            "x-ms-summary": "Metadata",
            "required": false,
            "default": true,
            "type": "boolean",
            "description": "Indicate whether to return metadata object with a data set."
          },
          {
            "name": "$gzip",
            "in": "query",
            "x-ms-summary": "GZip",
            "required": false,
            "type": "string",
            "description": "Indicates GZip status."
          },
          {
            "name": "$orderby",
            "in": "query",
            "x-ms-summary": "Order By",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "id desc",
                "disasterNumber",
                "disasterNumber desc",
                "programTypeCode",
                "programTypeCode desc",
                "programTypeDescription",
                "programTypeDescription desc",
                "stateCode",
                "stateCode desc",
                "stateName",
                "stateName desc",
                "placeCode",
                "placeCode desc",
                "placeName",
                "placeName desc",
                "designatedDate",
                "designatedDate desc",
                "entryDate",
                "entryDate desc",
                "updateDate",
                "updateDate desc",
                "closeoutDate",
                "closeoutDate desc",
                "lastRefresh",
                "lastRefresh desc",
                "hash",
                "hash desc"
              ]
            },
            "description": "Sort the returned data."
          },
          {
            "name": "$select",
            "in": "query",
            "x-ms-summary": "Select",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "disasterNumber",
                "programTypeCode",
                "programTypeDescription",
                "stateCode",
                "stateName",
                "placeCode",
                "placeName",
                "designatedDate",
                "entryDate",
                "updateDate",
                "closeoutDate",
                "lastRefresh",
                "hash"
              ]
            },
            "description": "Controls which fields will be returned in the results."
          },
          {
            "name": "$format",
            "in": "query",
            "x-ms-summary": "Format",
            "required": false,
            "enum": [
              "json",
              "jsona",
              "csv",
              "jsonl",
              "parquet"
            ],
            "default": "json",
            "x-ms-visibility": "internal",
            "type": "string",
            "description": "The format of the data to be returned."
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/V1FemaWebDeclarationAreasResponse"
            }
          }
        }
      }
    },
    "/v1/FemaWebDisasterDeclarations": {
      "get": {
        "description": "This action contains a list of FEMA declaration types and the types of assistance authorized.",
        "summary": "Get authorized declarations",
        "tags": [
          "Disaster Information"
        ],
        "operationId": "GetV1FemaWebDisasterDeclarations",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "x-ms-summary": "Filter",
            "required": false,
            "type": "string",
            "description": "Applies filter criteria to constrain the results."
          },
          {
            "name": "$top",
            "in": "query",
            "x-ms-summary": "Top",
            "required": false,
            "default": 1000,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 10000,
            "description": "The number of items to return in the result set."
          },
          {
            "name": "$skip",
            "in": "query",
            "x-ms-summary": "Skip",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "description": "The number of items to skip over before returning results."
          },
          {
            "name": "$count",
            "in": "query",
            "x-ms-summary": "Count",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Option to specify if a total entity count should be returned with the query."
          },
          {
            "name": "$filename",
            "in": "query",
            "x-ms-summary": "Filename",
            "required": false,
            "type": "string",
            "description": "The name of the file to be downloaded."
          },
          {
            "name": "$metadata",
            "in": "query",
            "x-ms-summary": "Metadata",
            "required": false,
            "default": true,
            "type": "boolean",
            "description": "Indicate whether to return metadata object with a data set."
          },
          {
            "name": "$gzip",
            "in": "query",
            "x-ms-summary": "GZip",
            "required": false,
            "type": "string",
            "description": "Indicates GZip status."
          },
          {
            "name": "$orderby",
            "in": "query",
            "x-ms-summary": "Order By",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "id desc",
                "disasterNumber",
                "disasterNumber desc",
                "declarationDate",
                "declarationDate desc",
                "disasterName",
                "disasterName desc",
                "incidentBeginDate",
                "incidentBeginDate desc",
                "incidentEndDate",
                "incidentEndDate desc",
                "declarationType",
                "declarationType desc",
                "stateCode",
                "stateCode desc",
                "stateName",
                "stateName desc",
                "incidentType",
                "incidentType desc",
                "entryDate",
                "entryDate desc",
                "updateDate",
                "updateDate desc",
                "closeoutDate",
                "closeoutDate desc",
                "region",
                "region desc",
                "ihProgramDeclared",
                "ihProgramDeclared desc",
                "iaProgramDeclared",
                "iaProgramDeclared desc",
                "paProgramDeclared",
                "paProgramDeclared desc",
                "hmProgramDeclared",
                "hmProgramDeclared desc",
                "designatedIncidentTypes",
                "designatedIncidentTypes desc",
                "declarationRequestDate",
                "declarationRequestDate desc",
                "lastRefresh",
                "lastRefresh desc",
                "hash",
                "hash desc"
              ]
            },
            "description": "Sort the returned data."
          },
          {
            "name": "$select",
            "in": "query",
            "x-ms-summary": "Select",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "disasterNumber",
                "declarationDate",
                "disasterName",
                "incidentBeginDate",
                "incidentEndDate",
                "declarationType",
                "stateCode",
                "stateName",
                "incidentType",
                "entryDate",
                "updateDate",
                "closeoutDate",
                "region",
                "ihProgramDeclared",
                "iaProgramDeclared",
                "paProgramDeclared",
                "hmProgramDeclared",
                "designatedIncidentTypes",
                "declarationRequestDate",
                "lastRefresh",
                "hash"
              ]
            },
            "description": "Controls which fields will be returned in the results."
          },
          {
            "name": "$format",
            "in": "query",
            "x-ms-summary": "Format",
            "required": false,
            "enum": [
              "json",
              "jsona",
              "csv",
              "jsonl",
              "parquet"
            ],
            "default": "json",
            "x-ms-visibility": "internal",
            "type": "string",
            "description": "The format of the data to be returned."
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/V1FemaWebDisasterDeclarationsResponse"
            }
          }
        }
      }
    },
    "/v1/FemaWebDisasterSummaries": {
      "get": {
        "description": "This data set contains financial assistance values, including the number of approved applications, as well as individual, public assistance, and hazard mitigation grant amounts.",
        "summary": "Get disaster summaries",
        "tags": [
          "Disaster Information"
        ],
        "operationId": "GetV1FemaWebDisasterSummaries",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "x-ms-summary": "Filter",
            "required": false,
            "type": "string",
            "description": "Applies filter criteria to constrain the results."
          },
          {
            "name": "$top",
            "in": "query",
            "x-ms-summary": "Top",
            "required": false,
            "default": 1000,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 10000,
            "description": "The number of items to return in the result set."
          },
          {
            "name": "$skip",
            "in": "query",
            "x-ms-summary": "Skip",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "description": "The number of items to skip over before returning results."
          },
          {
            "name": "$count",
            "in": "query",
            "x-ms-summary": "Count",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Option to specify if a total entity count should be returned with the query."
          },
          {
            "name": "$filename",
            "in": "query",
            "x-ms-summary": "Filename",
            "required": false,
            "type": "string",
            "description": "The name of the file to be downloaded."
          },
          {
            "name": "$metadata",
            "in": "query",
            "x-ms-summary": "Metadata",
            "required": false,
            "default": true,
            "type": "boolean",
            "description": "Indicate whether to return metadata object with a data set."
          },
          {
            "name": "$gzip",
            "in": "query",
            "x-ms-summary": "GZip",
            "required": false,
            "type": "string",
            "description": "Indicates GZip status."
          },
          {
            "name": "$orderby",
            "in": "query",
            "x-ms-summary": "Order By",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "id desc",
                "disasterNumber",
                "disasterNumber desc",
                "totalNumberIaApproved",
                "totalNumberIaApproved desc",
                "totalAmountIhpApproved",
                "totalAmountIhpApproved desc",
                "totalAmountHaApproved",
                "totalAmountHaApproved desc",
                "totalAmountOnaApproved",
                "totalAmountOnaApproved desc",
                "totalObligatedAmountPa",
                "totalObligatedAmountPa desc",
                "totalObligatedAmountCatAb",
                "totalObligatedAmountCatAb desc",
                "totalObligatedAmountCatC2g",
                "totalObligatedAmountCatC2g desc",
                "paLoadDate",
                "paLoadDate desc",
                "iaLoadDate",
                "iaLoadDate desc",
                "totalObligatedAmountHmgp",
                "totalObligatedAmountHmgp desc",
                "lastRefresh",
                "lastRefresh desc",
                "hash",
                "hash desc"
              ]
            },
            "description": "Sort the returned data."
          },
          {
            "name": "$select",
            "in": "query",
            "x-ms-summary": "Select",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "disasterNumber",
                "totalNumberIaApproved",
                "totalAmountIhpApproved",
                "totalAmountHaApproved",
                "totalAmountOnaApproved",
                "totalObligatedAmountPa",
                "totalObligatedAmountCatAb",
                "totalObligatedAmountCatC2g",
                "paLoadDate",
                "iaLoadDate",
                "totalObligatedAmountHmgp",
                "lastRefresh",
                "hash"
              ]
            },
            "description": "Controls which fields will be returned in the results."
          },
          {
            "name": "$format",
            "in": "query",
            "x-ms-summary": "Format",
            "required": false,
            "enum": [
              "json",
              "jsona",
              "csv",
              "jsonl",
              "parquet"
            ],
            "default": "json",
            "x-ms-visibility": "internal",
            "type": "string",
            "description": "The format of the data to be returned."
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/V1FemaWebDisasterSummariesResponse"
            }
          }
        }
      }
    },
    "/v2/MissionAssignments": {
      "get": {
        "description": "A mission assignment (MA) is a work order issued by FEMA to another Federal agency in anticipation of, or in response to, a Presidential declaration of an emergency or major disaster. Mission assignments are authorized by the Robert T. Stafford Disaster Relief and Emergency Assistance Act (Stafford Act).",
        "summary": "Get mission assignments",
        "tags": [
          "Disaster Information"
        ],
        "operationId": "GetV2MissionAssignments",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "x-ms-summary": "Filter",
            "required": false,
            "type": "string",
            "description": "Applies filter criteria to constrain the results."
          },
          {
            "name": "$top",
            "in": "query",
            "x-ms-summary": "Top",
            "required": false,
            "default": 1000,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 10000,
            "description": "The number of items to return in the result set."
          },
          {
            "name": "$skip",
            "in": "query",
            "x-ms-summary": "Skip",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "description": "The number of items to skip over before returning results."
          },
          {
            "name": "$count",
            "in": "query",
            "x-ms-summary": "Count",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Option to specify if a total entity count should be returned with the query."
          },
          {
            "name": "$filename",
            "in": "query",
            "x-ms-summary": "Filename",
            "required": false,
            "type": "string",
            "description": "The name of the file to be downloaded."
          },
          {
            "name": "$metadata",
            "in": "query",
            "x-ms-summary": "Metadata",
            "required": false,
            "default": true,
            "type": "boolean",
            "description": "Indicate whether to return metadata object with a data set."
          },
          {
            "name": "$gzip",
            "in": "query",
            "x-ms-summary": "GZip",
            "required": false,
            "type": "string",
            "description": "Indicates GZip status."
          },
          {
            "name": "$orderby",
            "in": "query",
            "x-ms-summary": "Order By",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "id desc",
                "incidentId",
                "incidentId desc",
                "incidentName",
                "incidentName desc",
                "incidentType",
                "incidentType desc",
                "disasterNumber",
                "disasterNumber desc",
                "declarationType",
                "declarationType desc",
                "declarationTitle",
                "declarationTitle desc",
                "maId",
                "maId desc",
                "maAmendNumber",
                "maAmendNumber desc",
                "actionId",
                "actionId desc",
                "maType",
                "maType desc",
                "supportFunction",
                "supportFunction desc",
                "priority",
                "priority desc",
                "region",
                "region desc",
                "stt",
                "stt desc",
                "agencyId",
                "agencyId desc",
                "agency",
                "agency desc",
                "authority",
                "authority desc",
                "dateReceived",
                "dateReceived desc",
                "dateRequired",
                "dateRequired desc",
                "popStartDate",
                "popStartDate desc",
                "popEndDate",
                "popEndDate desc",
                "dateObligated",
                "dateObligated desc",
                "obligationAmount",
                "obligationAmount desc",
                "sttCostSharePct",
                "sttCostSharePct desc",
                "fedCostSharePct",
                "fedCostSharePct desc",
                "sttCostShareAmt",
                "sttCostShareAmt desc",
                "fedCostShareAmt",
                "fedCostShareAmt desc",
                "maPopStartDate",
                "maPopStartDate desc",
                "maPopEndDate",
                "maPopEndDate desc",
                "maSttCostSharePct",
                "maSttCostSharePct desc",
                "maFedCostSharePct",
                "maFedCostSharePct desc",
                "maSttCostShareAmount",
                "maSttCostShareAmount desc",
                "maFedCostShareAmount",
                "maFedCostShareAmount desc",
                "maPriority",
                "maPriority desc",
                "assistanceRequested",
                "assistanceRequested desc",
                "statementOfWork",
                "statementOfWork desc",
                "hash",
                "hash desc",
                "lastRefresh",
                "lastRefresh desc"
              ]
            },
            "description": "Sort the returned data."
          },
          {
            "name": "$select",
            "in": "query",
            "x-ms-summary": "Select",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "incidentId",
                "incidentName",
                "incidentType",
                "disasterNumber",
                "declarationType",
                "declarationTitle",
                "maId",
                "maAmendNumber",
                "actionId",
                "maType",
                "supportFunction",
                "priority",
                "region",
                "stt",
                "agencyId",
                "agency",
                "authority",
                "dateReceived",
                "dateRequired",
                "popStartDate",
                "popEndDate",
                "dateObligated",
                "obligationAmount",
                "sttCostSharePct",
                "fedCostSharePct",
                "sttCostShareAmt",
                "fedCostShareAmt",
                "maPopStartDate",
                "maPopEndDate",
                "maSttCostSharePct",
                "maFedCostSharePct",
                "maSttCostShareAmount",
                "maFedCostShareAmount",
                "maPriority",
                "assistanceRequested",
                "statementOfWork",
                "hash",
                "lastRefresh"
              ]
            },
            "description": "Controls which fields will be returned in the results."
          },
          {
            "name": "$format",
            "in": "query",
            "x-ms-summary": "Format",
            "required": false,
            "enum": [
              "json",
              "jsona",
              "csv",
              "jsonl",
              "parquet"
            ],
            "default": "json",
            "x-ms-visibility": "internal",
            "type": "string",
            "description": "The format of the data to be returned."
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/V2MissionAssignmentsResponse"
            }
          }
        }
      }
    },
    "/v2/EmergencyManagementPerformanceGrants": {
      "get": {
        "description": "This action contains EMPG recipients as reported by their State and a summary of the funded program support as reported by the Recipient in the GRT.",
        "summary": "Get emergency management performance grants",
        "tags": [
          "Emergency Management/Preparedness/Alerts"
        ],
        "operationId": "GetV2EmergencyManagementPerformanceGrants",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "x-ms-summary": "Filter",
            "required": false,
            "type": "string",
            "description": "Applies filter criteria to constrain the results."
          },
          {
            "name": "$top",
            "in": "query",
            "x-ms-summary": "Top",
            "required": false,
            "default": 1000,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 10000,
            "description": "The number of items to return in the result set."
          },
          {
            "name": "$skip",
            "in": "query",
            "x-ms-summary": "Skip",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "description": "The number of items to skip over before returning results."
          },
          {
            "name": "$count",
            "in": "query",
            "x-ms-summary": "Count",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Option to specify if a total entity count should be returned with the query."
          },
          {
            "name": "$filename",
            "in": "query",
            "x-ms-summary": "Filename",
            "required": false,
            "type": "string",
            "description": "The name of the file to be downloaded."
          },
          {
            "name": "$metadata",
            "in": "query",
            "x-ms-summary": "Metadata",
            "required": false,
            "default": true,
            "type": "boolean",
            "description": "Indicate whether to return metadata object with a data set."
          },
          {
            "name": "$gzip",
            "in": "query",
            "x-ms-summary": "GZip",
            "required": false,
            "type": "string",
            "description": "Indicates GZip status."
          },
          {
            "name": "$orderby",
            "in": "query",
            "x-ms-summary": "Order By",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "id desc",
                "reportingPeriod",
                "reportingPeriod desc",
                "state",
                "state desc",
                "legalAgencyName",
                "legalAgencyName desc",
                "projectType",
                "projectType desc",
                "projectStartDate",
                "projectStartDate desc",
                "projectEndDate",
                "projectEndDate desc",
                "nameOfProgram",
                "nameOfProgram desc",
                "fundingAmount",
                "fundingAmount desc"
              ]
            },
            "description": "Sort the returned data."
          },
          {
            "name": "$select",
            "in": "query",
            "x-ms-summary": "Select",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "reportingPeriod",
                "state",
                "legalAgencyName",
                "projectType",
                "projectStartDate",
                "projectEndDate",
                "nameOfProgram",
                "fundingAmount"
              ]
            },
            "description": "Controls which fields will be returned in the results."
          },
          {
            "name": "$format",
            "in": "query",
            "x-ms-summary": "Format",
            "required": false,
            "enum": [
              "json",
              "jsona",
              "csv",
              "jsonl",
              "parquet"
            ],
            "default": "json",
            "x-ms-visibility": "internal",
            "type": "string",
            "description": "The format of the data to be returned."
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/V2EmergencyManagementPerformanceGrantsResponse"
            }
          }
        }
      }
    },
    "/v1/IpawsArchivedAlerts": {
      "get": {
        "description": "The Integrated Public Alert and Warning System (IPAWS) is a modernization of the nation's alert and warning infrastructure that unifies the United States' Emergency Alert System (EAS), Wireless Emergency Alerts (WEA), the National Oceanic and Atmospheric Administration (NOAA) Weather Radio, and other public alerting systems implemented as a set of Web services. IPAWS was designed to modernize these systems by enabling alerts to be aggregated over a network and distributed to the appropriate system for public dissemination.",
        "summary": "Get IPAWS alerts",
        "tags": [
          "Emergency Management/Preparedness/Alerts"
        ],
        "operationId": "GetV1IpawsArchivedAlerts",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "x-ms-summary": "Filter",
            "required": false,
            "type": "string",
            "description": "Applies filter criteria to constrain the results."
          },
          {
            "name": "$top",
            "in": "query",
            "x-ms-summary": "Top",
            "required": false,
            "default": 1000,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 10000,
            "description": "The number of items to return in the result set."
          },
          {
            "name": "$skip",
            "in": "query",
            "x-ms-summary": "Skip",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "description": "The number of items to skip over before returning results."
          },
          {
            "name": "$count",
            "in": "query",
            "x-ms-summary": "Count",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Option to specify if a total entity count should be returned with the query."
          },
          {
            "name": "$filename",
            "in": "query",
            "x-ms-summary": "Filename",
            "required": false,
            "type": "string",
            "description": "The name of the file to be downloaded."
          },
          {
            "name": "$metadata",
            "in": "query",
            "x-ms-summary": "Metadata",
            "required": false,
            "default": true,
            "type": "boolean",
            "description": "Indicate whether to return metadata object with a data set."
          },
          {
            "name": "$gzip",
            "in": "query",
            "x-ms-summary": "GZip",
            "required": false,
            "type": "string",
            "description": "Indicates GZip status."
          },
          {
            "name": "$orderby",
            "in": "query",
            "x-ms-summary": "Order By",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "id desc",
                "identifier",
                "identifier desc",
                "sent",
                "sent desc",
                "sender",
                "sender desc",
                "status",
                "status desc",
                "msgType",
                "msgType desc",
                "source",
                "source desc",
                "scope",
                "scope desc",
                "restriction",
                "restriction desc",
                "addresses",
                "addresses desc",
                "code",
                "code desc",
                "note",
                "note desc",
                "incidents",
                "incidents desc",
                "searchGeometry",
                "searchGeometry desc",
                "infos",
                "infos desc",
                "cogId",
                "cogId desc",
                "xmlns",
                "xmlns desc",
                "originalMessage",
                "originalMessage desc"
              ]
            },
            "description": "Sort the returned data."
          },
          {
            "name": "$select",
            "in": "query",
            "x-ms-summary": "Select",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "identifier",
                "sent",
                "sender",
                "status",
                "msgType",
                "source",
                "scope",
                "restriction",
                "addresses",
                "code",
                "note",
                "incidents",
                "searchGeometry",
                "infos",
                "cogId",
                "xmlns",
                "originalMessage"
              ]
            },
            "description": "Controls which fields will be returned in the results."
          },
          {
            "name": "$format",
            "in": "query",
            "x-ms-summary": "Format",
            "required": false,
            "enum": [
              "json",
              "jsonl",
              "jsona"
            ],
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal",
            "description": "The format of the data to be returned."
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/V1IpawsArchivedAlertsResponse"
            }
          }
        }
      }
    },
    "/v1/NonDisasterAssistanceFirefighterGrants": {
      "get": {
        "description": "The Grant Programs Directorate strategically and effectively administers and manages FEMA grants to ensure critical and measurable results for customers and stakeholders. The grants represented in This action are Preparedness (Non-Disaster or ND) Grants and Assistance to Firefighters Grants (AFG).",
        "summary": "Get firefighter grants",
        "tags": [
          "Emergency Management/Preparedness/Alerts"
        ],
        "operationId": "GetV1NonDisasterAssistanceFirefighterGrants",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "x-ms-summary": "Filter",
            "required": false,
            "type": "string",
            "description": "Applies filter criteria to constrain the results."
          },
          {
            "name": "$top",
            "in": "query",
            "x-ms-summary": "Top",
            "required": false,
            "default": 1000,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 10000,
            "description": "The number of items to return in the result set."
          },
          {
            "name": "$skip",
            "in": "query",
            "x-ms-summary": "Skip",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "description": "The number of items to skip over before returning results."
          },
          {
            "name": "$count",
            "in": "query",
            "x-ms-summary": "Count",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Option to specify if a total entity count should be returned with the query."
          },
          {
            "name": "$filename",
            "in": "query",
            "x-ms-summary": "Filename",
            "required": false,
            "type": "string",
            "description": "The name of the file to be downloaded."
          },
          {
            "name": "$metadata",
            "in": "query",
            "x-ms-summary": "Metadata",
            "required": false,
            "default": true,
            "type": "boolean",
            "description": "Indicate whether to return metadata object with a data set."
          },
          {
            "name": "$gzip",
            "in": "query",
            "x-ms-summary": "GZip",
            "required": false,
            "type": "string",
            "description": "Indicates GZip status."
          },
          {
            "name": "$orderby",
            "in": "query",
            "x-ms-summary": "Order By",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "id desc",
                "awardNumber",
                "awardNumber desc",
                "fiscalYear",
                "fiscalYear desc",
                "programName",
                "programName desc",
                "programAbbreviation",
                "programAbbreviation desc",
                "vendorState",
                "vendorState desc",
                "awardAmount",
                "awardAmount desc",
                "region",
                "region desc",
                "vendorName",
                "vendorName desc"
              ]
            },
            "description": "Sort the returned data."
          },
          {
            "name": "$select",
            "in": "query",
            "x-ms-summary": "Select",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "awardNumber",
                "fiscalYear",
                "programName",
                "programAbbreviation",
                "vendorState",
                "awardAmount",
                "region",
                "vendorName"
              ]
            },
            "description": "Controls which fields will be returned in the results."
          },
          {
            "name": "$format",
            "in": "query",
            "x-ms-summary": "Format",
            "required": false,
            "enum": [
              "json",
              "jsona",
              "csv",
              "jsonl",
              "parquet"
            ],
            "default": "json",
            "x-ms-visibility": "internal",
            "type": "string",
            "description": "The format of the data to be returned."
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/V1NonDisasterAssistanceFirefighterGrantsResponse"
            }
          }
        }
      }
    },
    "/v4/HazardMitigationAssistanceMitigatedProperties": {
      "get": {
        "description": "This action contains the properties identified in the Hazard Mitigation Assistance (HMA) subapplications/subgrants from the NEMIS Mitigation and eGrants grants management systems.",
        "summary": "Get hazard mitigation assistance properties",
        "tags": [
          "Hazard Mitigation"
        ],
        "operationId": "GetV4HazardMitigationAssistanceMitigatedProperties",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "x-ms-summary": "Filter",
            "required": false,
            "type": "string",
            "description": "Applies filter criteria to constrain the results."
          },
          {
            "name": "$top",
            "in": "query",
            "x-ms-summary": "Top",
            "required": false,
            "default": 1000,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 10000,
            "description": "The number of items to return in the result set."
          },
          {
            "name": "$skip",
            "in": "query",
            "x-ms-summary": "Skip",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "description": "The number of items to skip over before returning results."
          },
          {
            "name": "$count",
            "in": "query",
            "x-ms-summary": "Count",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Option to specify if a total entity count should be returned with the query."
          },
          {
            "name": "$filename",
            "in": "query",
            "x-ms-summary": "Filename",
            "required": false,
            "type": "string",
            "description": "The name of the file to be downloaded."
          },
          {
            "name": "$metadata",
            "in": "query",
            "x-ms-summary": "Metadata",
            "required": false,
            "default": true,
            "type": "boolean",
            "description": "Indicate whether to return metadata object with a data set."
          },
          {
            "name": "$gzip",
            "in": "query",
            "x-ms-summary": "GZip",
            "required": false,
            "type": "string",
            "description": "Indicates GZip status."
          },
          {
            "name": "$orderby",
            "in": "query",
            "x-ms-summary": "Order By",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "id desc",
                "disasterNumber",
                "disasterNumber desc",
                "propertyPartOfProject",
                "propertyPartOfProject desc",
                "region",
                "region desc",
                "stateNumberCode",
                "stateNumberCode desc",
                "state",
                "state desc",
                "foundationType",
                "foundationType desc",
                "county",
                "county desc",
                "city",
                "city desc",
                "zip",
                "zip desc",
                "projectIdentifier",
                "projectIdentifier desc",
                "propertyAction",
                "propertyAction desc",
                "structureType",
                "structureType desc",
                "typeOfResidency",
                "typeOfResidency desc",
                "actualAmountPaid",
                "actualAmountPaid desc",
                "programFy",
                "programFy desc",
                "programArea",
                "programArea desc",
                "numberOfProperties",
                "numberOfProperties desc",
                "damageCategory",
                "damageCategory desc"
              ]
            },
            "description": "Sort the returned data."
          },
          {
            "name": "$select",
            "in": "query",
            "x-ms-summary": "Select",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "disasterNumber",
                "propertyPartOfProject",
                "region",
                "stateNumberCode",
                "state",
                "foundationType",
                "county",
                "city",
                "zip",
                "projectIdentifier",
                "propertyAction",
                "structureType",
                "typeOfResidency",
                "actualAmountPaid",
                "programFy",
                "programArea",
                "numberOfProperties",
                "damageCategory"
              ]
            },
            "description": "Controls which fields will be returned in the results."
          },
          {
            "name": "$format",
            "in": "query",
            "x-ms-summary": "Format",
            "required": false,
            "enum": [
              "json",
              "jsona",
              "csv",
              "jsonl",
              "parquet"
            ],
            "default": "json",
            "x-ms-visibility": "internal",
            "type": "string",
            "description": "The format of the data to be returned."
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/V4HazardMitigationAssistanceMitigatedPropertiesResponse"
            }
          }
        }
      }
    },
    "/v4/HazardMitigationAssistanceProjects": {
      "get": {
        "description": "This action contains Hazard Mitigation Assistance (HMA) subapplications/subgrants from the NEMIS Mitigation and eGrants grants management systems.",
        "summary": "Get hazard mitigation assistance projects",
        "tags": [
          "Hazard Mitigation"
        ],
        "operationId": "GetV4HazardMitigationAssistanceProjects",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "x-ms-summary": "Filter",
            "required": false,
            "type": "string",
            "description": "Applies filter criteria to constrain the results."
          },
          {
            "name": "$top",
            "in": "query",
            "x-ms-summary": "Top",
            "required": false,
            "default": 1000,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 10000,
            "description": "The number of items to return in the result set."
          },
          {
            "name": "$skip",
            "in": "query",
            "x-ms-summary": "Skip",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "description": "The number of items to skip over before returning results."
          },
          {
            "name": "$count",
            "in": "query",
            "x-ms-summary": "Count",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Option to specify if a total entity count should be returned with the query."
          },
          {
            "name": "$filename",
            "in": "query",
            "x-ms-summary": "Filename",
            "required": false,
            "type": "string",
            "description": "The name of the file to be downloaded."
          },
          {
            "name": "$metadata",
            "in": "query",
            "x-ms-summary": "Metadata",
            "required": false,
            "default": true,
            "type": "boolean",
            "description": "Indicate whether to return metadata object with a data set."
          },
          {
            "name": "$gzip",
            "in": "query",
            "x-ms-summary": "GZip",
            "required": false,
            "type": "string",
            "description": "Indicates GZip status."
          },
          {
            "name": "$orderby",
            "in": "query",
            "x-ms-summary": "Order By",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "id desc",
                "region",
                "region desc",
                "stateNumberCode",
                "stateNumberCode desc",
                "state",
                "state desc",
                "countyCode",
                "countyCode desc",
                "county",
                "county desc",
                "programArea",
                "programArea desc",
                "projectIdentifier",
                "projectIdentifier desc",
                "projectType",
                "projectType desc",
                "projectCounties",
                "projectCounties desc",
                "numberOfProperties",
                "numberOfProperties desc",
                "numberOfFinalProperties",
                "numberOfFinalProperties desc",
                "status",
                "status desc",
                "subrecipient",
                "subrecipient desc",
                "projectAmount",
                "projectAmount desc",
                "initialObligationDate",
                "initialObligationDate desc",
                "initialObligationAmount",
                "initialObligationAmount desc",
                "costSharePercentage",
                "costSharePercentage desc",
                "federalShareObligated",
                "federalShareObligated desc",
                "programFy",
                "programFy desc",
                "dateInitiallyApproved",
                "dateInitiallyApproved desc",
                "dateApproved",
                "dateApproved desc",
                "dateClosed",
                "dateClosed desc",
                "recipientTribalIndicator",
                "recipientTribalIndicator desc",
                "recipient",
                "recipient desc",
                "disasterNumber",
                "disasterNumber desc",
                "benefitCostRatio",
                "benefitCostRatio desc",
                "netValueBenefits",
                "netValueBenefits desc",
                "subrecipientTribalIndicator",
                "subrecipientTribalIndicator desc",
                "dataSource",
                "dataSource desc",
                "subrecipientAdminCostAmt",
                "subrecipientAdminCostAmt desc",
                "recipientAdminCostAmt",
                "recipientAdminCostAmt desc",
                "srmcObligatedAmt",
                "srmcObligatedAmt desc"
              ]
            },
            "description": "Sort the returned data."
          },
          {
            "name": "$select",
            "in": "query",
            "x-ms-summary": "Select",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "region",
                "stateNumberCode",
                "state",
                "countyCode",
                "county",
                "programArea",
                "projectIdentifier",
                "projectType",
                "projectCounties",
                "numberOfProperties",
                "numberOfFinalProperties",
                "status",
                "subrecipient",
                "projectAmount",
                "initialObligationDate",
                "initialObligationAmount",
                "costSharePercentage",
                "federalShareObligated",
                "programFy",
                "dateInitiallyApproved",
                "dateApproved",
                "dateClosed",
                "recipientTribalIndicator",
                "recipient",
                "disasterNumber",
                "benefitCostRatio",
                "netValueBenefits",
                "subrecipientTribalIndicator",
                "dataSource",
                "subrecipientAdminCostAmt",
                "recipientAdminCostAmt",
                "srmcObligatedAmt"
              ]
            },
            "description": "Controls which fields will be returned in the results."
          },
          {
            "name": "$format",
            "in": "query",
            "x-ms-summary": "Format",
            "required": false,
            "enum": [
              "json",
              "jsona",
              "csv",
              "jsonl",
              "parquet"
            ],
            "default": "json",
            "x-ms-visibility": "internal",
            "type": "string",
            "description": "The format of the data to be returned."
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/V4HazardMitigationAssistanceProjectsResponse"
            }
          }
        }
      }
    },
    "/v2/HazardMitigationAssistanceProjectsByNfipCrsCommunities": {
      "get": {
        "description": "This action contains the communities identified in the Hazard Mitigation Assistance (HMA) subapplications/subgrants from the NEMIS Mitigation and eGrants grants management systems.",
        "summary": "Get hazard mitigation assistance projects by communities",
        "tags": [
          "Hazard Mitigation"
        ],
        "operationId": "GetV2HazardMitigationAssistanceProjectsByNfipCrsCommunities",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "x-ms-summary": "Filter",
            "required": false,
            "type": "string",
            "description": "Applies filter criteria to constrain the results."
          },
          {
            "name": "$top",
            "in": "query",
            "x-ms-summary": "Top",
            "required": false,
            "default": 1000,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 10000,
            "description": "The number of items to return in the result set."
          },
          {
            "name": "$skip",
            "in": "query",
            "x-ms-summary": "Skip",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "description": "The number of items to skip over before returning results."
          },
          {
            "name": "$count",
            "in": "query",
            "x-ms-summary": "Count",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Option to specify if a total entity count should be returned with the query."
          },
          {
            "name": "$filename",
            "in": "query",
            "x-ms-summary": "Filename",
            "required": false,
            "type": "string",
            "description": "The name of the file to be downloaded."
          },
          {
            "name": "$metadata",
            "in": "query",
            "x-ms-summary": "Metadata",
            "required": false,
            "default": true,
            "type": "boolean",
            "description": "Indicate whether to return metadata object with a data set."
          },
          {
            "name": "$gzip",
            "in": "query",
            "x-ms-summary": "GZip",
            "required": false,
            "type": "string",
            "description": "Indicates GZip status."
          },
          {
            "name": "$orderby",
            "in": "query",
            "x-ms-summary": "Order By",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "id desc",
                "projectIdentifier",
                "projectIdentifier desc",
                "communityName",
                "communityName desc",
                "communityNumber",
                "communityNumber desc",
                "lastRefresh",
                "lastRefresh desc",
                "hash",
                "hash desc"
              ]
            },
            "description": "Sort the returned data."
          },
          {
            "name": "$select",
            "in": "query",
            "x-ms-summary": "Select",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "projectIdentifier",
                "communityName",
                "communityNumber",
                "lastRefresh",
                "hash"
              ]
            },
            "description": "Controls which fields will be returned in the results."
          },
          {
            "name": "$format",
            "in": "query",
            "x-ms-summary": "Format",
            "required": false,
            "enum": [
              "json",
              "jsona",
              "csv",
              "jsonl",
              "parquet"
            ],
            "default": "json",
            "x-ms-visibility": "internal",
            "type": "string",
            "description": "The format of the data to be returned."
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/V2HazardMitigationAssistanceProjectsByNfipCrsCommunitiesResponse"
            }
          }
        }
      }
    },
    "/v1/HazardMitigationAssistanceProjectsFinancialTransactions": {
      "get": {
        "description": "This action contains information on the HMA subgrants that have received financial transactions in NEMIS Mitigation and eGrants. Sensitive information, such as Personally Identifiable Information (PII), has been removed to protect privacy. The information in this dataset has been deemed appropriate for publication to empower public knowledge of mitigation activities and the nature of HMA grant programs.",
        "summary": "Get hazard mitigation assistance project financial transactions",
        "tags": [
          "Hazard Mitigation"
        ],
        "operationId": "GetV1HazardMitigationAssistanceProjectsFinancialTransactions",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "x-ms-summary": "Filter",
            "required": false,
            "type": "string",
            "description": "Applies filter criteria to constrain the results."
          },
          {
            "name": "$top",
            "in": "query",
            "x-ms-summary": "Top",
            "required": false,
            "default": 1000,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 10000,
            "description": "The number of items to return in the result set."
          },
          {
            "name": "$skip",
            "in": "query",
            "x-ms-summary": "Skip",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "description": "The number of items to skip over before returning results."
          },
          {
            "name": "$count",
            "in": "query",
            "x-ms-summary": "Count",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Option to specify if a total entity count should be returned with the query."
          },
          {
            "name": "$filename",
            "in": "query",
            "x-ms-summary": "Filename",
            "required": false,
            "type": "string",
            "description": "The name of the file to be downloaded."
          },
          {
            "name": "$metadata",
            "in": "query",
            "x-ms-summary": "Metadata",
            "required": false,
            "default": true,
            "type": "boolean",
            "description": "Indicate whether to return metadata object with a data set."
          },
          {
            "name": "$gzip",
            "in": "query",
            "x-ms-summary": "GZip",
            "required": false,
            "type": "string",
            "description": "Indicates GZip status."
          },
          {
            "name": "$orderby",
            "in": "query",
            "x-ms-summary": "Order By",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "projectIdentifier",
                "projectIdentifier desc",
                "transactionIdentifier",
                "transactionIdentifier desc",
                "transactionDate",
                "transactionDate desc",
                "commitmentIdentifier",
                "commitmentIdentifier desc",
                "accsLine",
                "accsLine desc",
                "fundCode",
                "fundCode desc",
                "federalShareProjectCostAmt",
                "federalShareProjectCostAmt desc",
                "recipientAdminCostAmt",
                "recipientAdminCostAmt desc",
                "subrecipientAdminCostAmt",
                "subrecipientAdminCostAmt desc",
                "subrecipientMgmtCostAmt",
                "subrecipientMgmtCostAmt desc",
                "id",
                "id desc"
              ]
            },
            "description": "Sort the returned data."
          },
          {
            "name": "$select",
            "in": "query",
            "x-ms-summary": "Select",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "projectIdentifier",
                "transactionIdentifier",
                "transactionDate",
                "commitmentIdentifier",
                "accsLine",
                "fundCode",
                "federalShareProjectCostAmt",
                "recipientAdminCostAmt",
                "subrecipientAdminCostAmt",
                "subrecipientMgmtCostAmt",
                "id"
              ]
            },
            "description": "Controls which fields will be returned in the results."
          },
          {
            "name": "$format",
            "in": "query",
            "x-ms-summary": "Format",
            "required": false,
            "enum": [
              "json",
              "jsona",
              "csv",
              "parquet"
            ],
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal",
            "description": "The format of the data to be returned."
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/V1HazardMitigationAssistanceProjectsFinancialTransactionsResponse"
            }
          }
        }
      }
    },
    "/v2/HazardMitigationGrantProgramDisasterSummaries": {
      "get": {
        "description": "The dataset contains disaster level financial information for FEMA's Hazard Mitigation Grant Program (HMGP). The purpose of HMGP is to help communities implement hazard mitigation measures following a Presidential Major Disaster Declaration in the areas of the State, Tribe, or Territory requested by the Governor or Tribal Executive.",
        "summary": "Get hazard mitigation grant summaries",
        "tags": [
          "Hazard Mitigation"
        ],
        "operationId": "GetV2HazardMitigationGrantProgramDisasterSummaries",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "x-ms-summary": "Filter",
            "required": false,
            "type": "string",
            "description": "Applies filter criteria to constrain the results."
          },
          {
            "name": "$top",
            "in": "query",
            "x-ms-summary": "Top",
            "required": false,
            "default": 1000,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 10000,
            "description": "The number of items to return in the result set."
          },
          {
            "name": "$skip",
            "in": "query",
            "x-ms-summary": "Skip",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "description": "The number of items to skip over before returning results."
          },
          {
            "name": "$count",
            "in": "query",
            "x-ms-summary": "Count",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Option to specify if a total entity count should be returned with the query."
          },
          {
            "name": "$filename",
            "in": "query",
            "x-ms-summary": "Filename",
            "required": false,
            "type": "string",
            "description": "The name of the file to be downloaded."
          },
          {
            "name": "$metadata",
            "in": "query",
            "x-ms-summary": "Metadata",
            "required": false,
            "default": true,
            "type": "boolean",
            "description": "Indicate whether to return metadata object with a data set."
          },
          {
            "name": "$gzip",
            "in": "query",
            "x-ms-summary": "GZip",
            "required": false,
            "type": "string",
            "description": "Indicates GZip status."
          },
          {
            "name": "$orderby",
            "in": "query",
            "x-ms-summary": "Order By",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "id desc",
                "disasterNumber",
                "disasterNumber desc",
                "declarationDate",
                "declarationDate desc",
                "disasterType",
                "disasterType desc",
                "incidentType",
                "incidentType desc",
                "title",
                "title desc",
                "region",
                "region desc",
                "state",
                "state desc",
                "disasterCloseoutStatus",
                "disasterCloseoutStatus desc",
                "hmgpCloseoutStatus",
                "hmgpCloseoutStatus desc",
                "disasterCloseoutDate",
                "disasterCloseoutDate desc",
                "hmgpReconciliationDate",
                "hmgpReconciliationDate desc",
                "disasterDueDateForNewApps",
                "disasterDueDateForNewApps desc",
                "disasterPopEndDate",
                "disasterPopEndDate desc",
                "hmgpPopEndDate",
                "hmgpPopEndDate desc",
                "hmgpPopExtnDate",
                "hmgpPopExtnDate desc",
                "hmgpPopExtnNum",
                "hmgpPopExtnNum desc",
                "liqPeriodDate",
                "liqPeriodDate desc",
                "liqPeriodMaxDate",
                "liqPeriodMaxDate desc",
                "liqPeriodMaxPopNum",
                "liqPeriodMaxPopNum desc",
                "liqPeriodMaxExtDate",
                "liqPeriodMaxExtDate desc",
                "liqPeriodMaxExtNum",
                "liqPeriodMaxExtNum desc",
                "mitigationDollarsAvailable",
                "mitigationDollarsAvailable desc",
                "lockedInCeilingAmount",
                "lockedInCeilingAmount desc",
                "obligatedTotalAmount",
                "obligatedTotalAmount desc",
                "obligatedInitiativeAmount",
                "obligatedInitiativeAmount desc",
                "obligatedPlanningAmount",
                "obligatedPlanningAmount desc",
                "obligatedRegularAmount",
                "obligatedRegularAmount desc",
                "obligatedRecipientMgmtAmt",
                "obligatedRecipientMgmtAmt desc",
                "obligatedRecipientAdmin",
                "obligatedRecipientAdmin desc",
                "obligatedSubrecipientAdmin",
                "obligatedSubrecipientAdmin desc",
                "obligatedSubrecipMgmtAmt",
                "obligatedSubrecipMgmtAmt desc",
                "pendingProjectsQuantity",
                "pendingProjectsQuantity desc",
                "pendingFedShareProposedAmt",
                "pendingFedShareProposedAmt desc",
                "lastRefresh",
                "lastRefresh desc",
                "hash",
                "hash desc"
              ]
            },
            "description": "Sort the returned data."
          },
          {
            "name": "$select",
            "in": "query",
            "x-ms-summary": "Select",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "disasterNumber",
                "declarationDate",
                "disasterType",
                "incidentType",
                "title",
                "region",
                "state",
                "disasterCloseoutStatus",
                "hmgpCloseoutStatus",
                "disasterCloseoutDate",
                "hmgpReconciliationDate",
                "disasterDueDateForNewApps",
                "disasterPopEndDate",
                "hmgpPopEndDate",
                "hmgpPopExtnDate",
                "hmgpPopExtnNum",
                "liqPeriodDate",
                "liqPeriodMaxDate",
                "liqPeriodMaxPopNum",
                "liqPeriodMaxExtDate",
                "liqPeriodMaxExtNum",
                "mitigationDollarsAvailable",
                "lockedInCeilingAmount",
                "obligatedTotalAmount",
                "obligatedInitiativeAmount",
                "obligatedPlanningAmount",
                "obligatedRegularAmount",
                "obligatedRecipientMgmtAmt",
                "obligatedRecipientAdmin",
                "obligatedSubrecipientAdmin",
                "obligatedSubrecipMgmtAmt",
                "pendingProjectsQuantity",
                "pendingFedShareProposedAmt",
                "lastRefresh",
                "hash"
              ]
            },
            "description": "Controls which fields will be returned in the results."
          },
          {
            "name": "$format",
            "in": "query",
            "x-ms-summary": "Format",
            "required": false,
            "enum": [
              "json",
              "jsona",
              "csv",
              "jsonl",
              "parquet"
            ],
            "default": "json",
            "x-ms-visibility": "internal",
            "type": "string",
            "description": "The format of the data to be returned."
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/V2HazardMitigationGrantProgramDisasterSummariesResponse"
            }
          }
        }
      }
    },
    "/v1/HazardMitigationPlanStatuses": {
      "get": {
        "description": "The data found here comes from the Hazard Mitigation Planning Program's Mitigation Planning Portal (MPP). The MPP is an online platform for tracking and reporting on mitigation plans and related data elements across all ten Federal Emergency Management Agency (FEMA) Regions. MPP data provides insight into which jurisdictions are participating in mitigation plans across the country and what the status of those plans are. Additionally, MPP data provides dates to support tracking of when plans are approved and when they are set to expire which FEMA uses to monitor and support disaster preparedness and resilience.",
        "summary": "Get hazard mitigation plan statuses",
        "tags": [
          "Hazard Mitigation"
        ],
        "operationId": "GetV1HazardMitigationPlanStatuses",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "x-ms-summary": "Filter",
            "required": false,
            "type": "string",
            "description": "Applies filter criteria to constrain the results."
          },
          {
            "name": "$top",
            "in": "query",
            "x-ms-summary": "Top",
            "required": false,
            "default": 1000,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 10000,
            "description": "The number of items to return in the result set."
          },
          {
            "name": "$skip",
            "in": "query",
            "x-ms-summary": "Skip",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "description": "The number of items to skip over before returning results."
          },
          {
            "name": "$count",
            "in": "query",
            "x-ms-summary": "Count",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Option to specify if a total entity count should be returned with the query."
          },
          {
            "name": "$filename",
            "in": "query",
            "x-ms-summary": "Filename",
            "required": false,
            "type": "string",
            "description": "The name of the file to be downloaded."
          },
          {
            "name": "$metadata",
            "in": "query",
            "x-ms-summary": "Metadata",
            "required": false,
            "default": true,
            "type": "boolean",
            "description": "Indicate whether to return metadata object with a data set."
          },
          {
            "name": "$gzip",
            "in": "query",
            "x-ms-summary": "GZip",
            "required": false,
            "type": "string",
            "description": "Indicates GZip status."
          },
          {
            "name": "$orderby",
            "in": "query",
            "x-ms-summary": "Order By",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "id desc",
                "femaRegion",
                "femaRegion desc",
                "state",
                "state desc",
                "stateAbbreviation",
                "stateAbbreviation desc",
                "countyName",
                "countyName desc",
                "placeName",
                "placeName desc",
                "planType",
                "planType desc",
                "planId",
                "planId desc",
                "planTitle",
                "planTitle desc",
                "planStatus",
                "planStatus desc",
                "apaDate",
                "apaDate desc",
                "planApprovalDate",
                "planApprovalDate desc",
                "planExpirationDate",
                "planExpirationDate desc",
                "jurisdictionType",
                "jurisdictionType desc",
                "jurisdictionStatus",
                "jurisdictionStatus desc",
                "adoptionDate",
                "adoptionDate desc",
                "jurisdictionApprovalDate",
                "jurisdictionApprovalDate desc",
                "population",
                "population desc",
                "mppGeoid",
                "mppGeoid desc",
                "censusSource",
                "censusSource desc",
                "communityIdNumber",
                "communityIdNumber desc",
                "popCoverage",
                "popCoverage desc"
              ]
            },
            "description": "Sort the returned data."
          },
          {
            "name": "$select",
            "in": "query",
            "x-ms-summary": "Select",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "femaRegion",
                "state",
                "stateAbbreviation",
                "countyName",
                "placeName",
                "planType",
                "planId",
                "planTitle",
                "planStatus",
                "apaDate",
                "planApprovalDate",
                "planExpirationDate",
                "jurisdictionType",
                "jurisdictionStatus",
                "adoptionDate",
                "jurisdictionApprovalDate",
                "population",
                "mppGeoid",
                "censusSource",
                "communityIdNumber",
                "popCoverage"
              ]
            },
            "description": "Controls which fields will be returned in the results."
          },
          {
            "name": "$format",
            "in": "query",
            "x-ms-summary": "Format",
            "required": false,
            "enum": [
              "json",
              "jsona",
              "csv",
              "jsonl",
              "parquet"
            ],
            "default": "json",
            "x-ms-visibility": "internal",
            "type": "string",
            "description": "The format of the data to be returned."
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/V1HazardMitigationPlanStatusesResponse"
            }
          }
        }
      }
    },
    "/v2/HmaSubapplications": {
      "get": {
        "description": "This action contains Hazard Mitigation Assistance (HMA) subapplications/subgrants from the FEMA Grants Outcomes (FEMA GO) system (FEMA's new grants management system). FEMA GO started accepting Flood Mitigation Assistance (FMA) and Building Resilient Infrastructure and Communities (BRIC) subapplications in Fiscal Year 2020. FEMA GO is projected to support the Hazard Mitigation Grant Program (HMGP) in Calendar Year 2023.",
        "summary": "Get HMA subapplications",
        "tags": [
          "Hazard Mitigation"
        ],
        "operationId": "GetV2HmaSubapplications",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "x-ms-summary": "Filter",
            "required": false,
            "type": "string",
            "description": "Applies filter criteria to constrain the results."
          },
          {
            "name": "$top",
            "in": "query",
            "x-ms-summary": "Top",
            "required": false,
            "default": 1000,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 10000,
            "description": "The number of items to return in the result set."
          },
          {
            "name": "$skip",
            "in": "query",
            "x-ms-summary": "Skip",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "description": "The number of items to skip over before returning results."
          },
          {
            "name": "$count",
            "in": "query",
            "x-ms-summary": "Count",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Option to specify if a total entity count should be returned with the query."
          },
          {
            "name": "$filename",
            "in": "query",
            "x-ms-summary": "Filename",
            "required": false,
            "type": "string",
            "description": "The name of the file to be downloaded."
          },
          {
            "name": "$metadata",
            "in": "query",
            "x-ms-summary": "Metadata",
            "required": false,
            "default": true,
            "type": "boolean",
            "description": "Indicate whether to return metadata object with a data set."
          },
          {
            "name": "$gzip",
            "in": "query",
            "x-ms-summary": "GZip",
            "required": false,
            "type": "string",
[...]
