{
  "swagger": "2.0",
  "info": {
    "title": "Launch Library 2",
    "description": "The Launch Library 2 API is a product by The Space Devs with an up-to-date database of Spaceflight events. While this API is free to use it is subject to rate limiting for non-authenticated requests.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "ll.thespacedevs.com",
  "basePath": "/2.2.0",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/agencies/": {
      "get": {
        "operationId": "Agencies_list",
        "description": "Get all agencies.",
        "parameters": [
          {
            "name": "featured",
            "in": "query",
            "x-ms-summary": "Featured",
            "description": "Whether featured.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "agency_type",
            "in": "query",
            "x-ms-summary": "Agency Type",
            "description": "The agency type.",
            "required": false,
            "type": "string"
          },
          {
            "name": "country_code",
            "in": "query",
            "x-ms-summary": "Country Code",
            "description": "The country code.",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "title": "Count",
                  "type": "integer"
                },
                "next": {
                  "title": "Next",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "title": "Previous",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "title": "Results",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Agency"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "agencies"
        ],
        "summary": "Get all agencies"
      }
    },
    "/agencies/{id}/": {
     "get": {
        "operationId": "Agencies_read",
        "description": "Get an agency.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "A unique integer value identifying this Astronaut.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AgencySerializerDetailed"
            }
          }
        },
        "tags": [
          "agencies"
        ],
        "summary": "Get an agency"
      }
    },
    "/astronaut/": {
      "get": {
        "operationId": "Astronaut_list",
        "description": "Get all astronauts.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "x-ms-summary": "Name",
            "description": "The name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "nationality",
            "in": "query",
            "x-ms-summary": "Nationality",
            "description": "The astronaut's nationality.",
            "required": false,
            "type": "string"
          },
          {
            "name": "date_of_death",
            "in": "query",
            "x-ms-summary": "Date of death",
            "description": "The astronaut's date of death.",
            "required": false,
            "type": "string"
          },
          {
            "name": "agency__abbrev",
            "in": "query",
            "x-ms-summary": "Agency Abbreviation",
            "description": "The astronaut's agency abbreviation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "agency__name",
            "in": "query",
            "x-ms-summary": "Agency Name",
            "description": "The astronaut's agency name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "date_of_birth",
            "in": "query",
            "x-ms-summary": "Date of Birth",
            "description": "The astronaut's date of birth.",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "x-ms-summary": "Status",
            "description": "The current status.",
            "required": false,
            "type": "string"
          },
          {
            "name": "date_of_birth__gt",
            "in": "query",
            "x-ms-summary": "Date of Birth GT",
            "description": "The astronaut's date of birth greater than.",
            "required": false,
            "type": "string"
          },
          {
            "name": "date_of_birth__lt",
            "in": "query",
            "x-ms-summary": "Date of Birth LT",
            "description": "The astronaut's date of birth less than.",
            "required": false,
            "type": "string"
          },
          {
            "name": "date_of_birth__gte",
            "in": "query",
            "x-ms-summary": "Date of Birth GTE",
            "description": "The astronaut's date of birth greater than or equal to.",
            "required": false,
            "type": "string"
          },
          {
            "name": "date_of_birth__lte",
            "in": "query",
            "x-ms-summary": "Date of Birth LTE",
            "description": "The astronaut's date of birth less than or equal to.",
            "required": false,
            "type": "string"
          },
          {
            "name": "date_of_death__gt",
            "in": "query",
            "x-ms-summary": "Date of Birth GT",
            "description": "The astronaut's date of death greater than.",
            "required": false,
            "type": "string"
          },
          {
            "name": "date_of_death__lt",
            "in": "query",
            "x-ms-summary": "Date of Birth LT",
            "description": "The astronaut's date of death less than.",
            "required": false,
            "type": "string"
          },
          {
            "name": "date_of_death__gte",
            "in": "query",
            "x-ms-summary": "Date of Birth GTE",
            "description": "The astronaut's date of death greater than or equal to.",
            "required": false,
            "type": "string"
          },
          {
            "name": "date_of_death__lte",
            "in": "query",
            "x-ms-summary": "Date of Birth LTE",
            "description": "The astronaut's date of death less than or equal to.",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "title": "Count",
                  "type": "integer"
                },
                "next": {
                  "title": "Next",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "title": "Previous",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "title": "Results",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AstronautNormal"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "astronaut"
        ],
        "summary": "Get all astronauts"
      }
    },
    "/astronaut/{id}/": {
      "get": {
        "operationId": "Astronaut_read",
        "description": "Get an astronaut.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "A unique integer value identifying this Astronaut.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AstronautDetailed"
            }
          }
        },
        "tags": [
          "astronaut"
        ],
        "summary": "Get an astronaut"
      }
    },
    "/config/agencytype/": {
      "get": {
        "operationId": "Config_agencytype_list",
        "description": "Get agency configuration.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "title": "Count",
                  "type": "integer"
                },
                "next": {
                  "title": "Next",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "title": "Previous",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "title": "Results",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AgencyType"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get agency configuration"
      }
    },
    "/config/agencytype/{id}/": {
      "get": {
        "operationId": "Config_agencytype_read",
        "description": "Get an agency configuration.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "A unique value identifying this agency type.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AgencyType"
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get an agency configuration"
      }
    },
    "/config/astronautrole/": {
      "get": {
        "operationId": "Config_astronautrole_list",
        "description": "Get astronaut role configuration.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "title": "Count",
                  "type": "integer"
                },
                "next": {
                  "title": "Next",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "title": "Previous",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "title": "Results",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AstronautRole"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get astronaut role configuration"
      }
    },
    "/config/astronautrole/{id}/": {
      "get": {
        "operationId": "Config_astronautrole_read",
        "description": "Get astronaut role configuration.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "A unique integer value identifying this Astronaut Role.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AstronautRole"
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get an astronaut role configuration"
      }
    },
    "/config/astronautstatus/": {
      "get": {
        "operationId": "Config_astronautstatus_list",
        "description": "Get astronaut status configuration.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "title": "Count",
                  "type": "integer"
                },
                "next": {
                  "title": "Next",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "title": "Previous",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "title": "Results",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AstronautStatus"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get astronaut status configuration"
      }
    },
    "/config/astronautstatus/{id}/": {
      "get": {
        "operationId": "Config_astronautstatus_read",
        "description": "Get an astronaut status configuration.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "A unique integer value identifying this Astronaut Status.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AstronautStatus"
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get an astronaut status configuration"
      }
    },
    "/config/astronauttype/": {
      "get": {
        "operationId": "Config_astronauttype_list",
        "description": "Get astronaut type configuration.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "title": "Count",
                  "type": "integer"
                },
                "next": {
                  "title": "Next",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "title": "Previous",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "title": "Results",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AstronautType"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get astronaut type configuration"
      }
    },
    "/config/astronauttype/{id}/": {
      "get": {
        "operationId": "Config_astronauttype_read",
        "description": "Get an astronaut type configuration.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "A unique integer value identifying this Astronaut Type.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AstronautType"
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get an astronaut type configuration"
      }
    },
    "/config/dockinglocation/": {
      "get": {
        "operationId": "Config_dockinglocation_list",
        "description": "Get docking location configuration.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "title": "Count",
                  "type": "integer"
                },
                "next": {
                  "title": "Next",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "title": "Previous",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "title": "Results",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/DockingLocation"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get docking location configuration"
      }
    },
    "/config/dockinglocation/{id}/": {
      "get": {
        "operationId": "Config_dockinglocation_read",
        "description": "Get a docking location configuration.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "A unique integer value identifying this Docking Location.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DockingLocation"
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get a docking location configuration"
      }
    },
    "/config/eventtype/": {
      "get": {
        "operationId": "Config_eventtype_list",
        "description": "Get event type configuration.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "title": "Count",
                  "type": "integer"
                },
                "next": {
                  "title": "Next",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "title": "Previous",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "title": "Results",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/EventType"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get event type configuration"
      }
    },
    "/config/eventtype/{id}/": {
      "get": {
        "operationId": "Config_eventtype_read",
        "description": "Get an event type configuration",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "A unique value identifying this event type.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EventType"
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get an event type configuration"
      }
    },
    "/config/firststagetype/": {
      "get": {
        "operationId": "Config_firststagetype_list",
        "description": "Get first stage type configuration.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "title": "Count",
                  "type": "integer"
                },
                "next": {
                  "title": "Next",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "title": "Previous",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "title": "Results",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/FirstStageType"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get first stage type configuration"
      }
    },
    "/config/firststagetype/{id}/": {
      "get": {
        "operationId": "Config_firststagetype_read",
        "description": "Get a first stage type configuration.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "A unique value identifying this first stage type.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FirstStageType"
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get a first stage type configuration"
      }
    },
    "/config/landinglocation/": {
      "get": {
        "operationId": "Config_landinglocation_list",
        "description": "Get landing location configuration.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "title": "Count",
                  "type": "integer"
                },
                "next": {
                  "title": "Next",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "title": "Previous",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "title": "Results",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/LandingLocation"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get landing location configuration"
      }
    },
    "/config/landinglocation/{id}/": {
      "get": {
        "operationId": "Config_landinglocation_read",
        "description": "Get a landing location configuration.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "A unique integer value identifying this landing location.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LandingLocation"
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get a landing location configuration"
      }
    },
    "/config/launcher/": {
      "get": {
        "operationId": "Config_launcher_list",
        "description": "Get launcher configuration.",
        "parameters": [
          {
            "name": "family",
            "in": "query",
            "x-ms-summary": "Family",
            "description": "The launcher family.",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "x-ms-summary": "Name",
            "description": "The name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "manufacturer",
            "in": "query",
            "x-ms-summary": "Manufacturer",
            "description": "The manufacturer.",
            "required": false,
            "type": "string"
          },
          {
            "name": "full_name",
            "in": "query",
            "x-ms-summary": "Full Name",
            "description": "The full name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "active",
            "in": "query",
            "x-ms-summary": "Active",
            "description": "Whether active.",
            "required": false,
            "type": "string"
          },
          {
            "name": "reusable",
            "in": "query",
            "x-ms-summary": "Reusable",
            "description": "Whether reusable.",
            "required": false,
            "type": "string"
          },
          {
            "name": "program",
            "in": "query",
            "x-ms-summary": "Program",
            "description": "The program.",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "title": "Count",
                  "type": "integer"
                },
                "next": {
                  "title": "Next",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "title": "Previous",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "title": "Results",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/LauncherConfig"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get launcher configuration"
      }
    },
    "/config/launcher/{id}/": {
      "get": {
        "operationId": "Config_launcher_read",
        "description": "Get a launcher configuration.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "A unique integer value identifying this Launcher Configuration.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LauncherConfigDetail"
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get  launcher configuration"
      }
    },
    "/config/launchstatus/": {
      "get": {
        "operationId": "Config_launchstatus_list",
        "description": "Get launch status configuration.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "title": "Count",
                  "type": "integer"
                },
                "next": {
                  "title": "Next",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "title": "Previous",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "title": "Results",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/LaunchStatus"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get launch status configuration"
      }
    },
    "/config/launchstatus/{id}/": {
      "get": {
        "operationId": "Config_launchstatus_read",
        "description": "Get a launch status configuration.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "A unique value identifying this Launch Status.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LaunchStatus"
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get a launch status configuration"
      }
    },
    "/config/missiontype/": {
      "get": {
        "operationId": "Config_missiontype_list",
        "description": "Get mission type configuration.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "title": "Count",
                  "type": "integer"
                },
                "next": {
                  "title": "Next",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "title": "Previous",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "title": "Results",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/MissionType"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get mission type configuration"
      }
    },
    "/config/missiontype/{id}/": {
      "get": {
        "operationId": "Config_missiontype_read",
        "description": "Get a mission type configuration.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "A unique value identifying this mission type.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MissionType"
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get a mission type configuration"
      }
    },
    "/config/noticetype/": {
      "get": {
        "operationId": "Config_noticetype_list",
        "description": "Get notice type configuration.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "title": "Count",
                  "type": "integer"
                },
                "next": {
                  "title": "Next",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "title": "Previous",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "title": "Results",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/NoticeType"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get notice type configuration"
      }
    },
    "/config/noticetype/{id}/": {
      "get": {
        "operationId": "Config_noticetype_read",
        "description": "Get a notice type configuration.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "A unique integer value identifying this Notices Type.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NoticeType"
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get a notice type configuration"
      }
    },
    "/config/orbit/": {
      "get": {
        "operationId": "Config_orbit_list",
        "description": "Get orbit configuration.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "title": "Count",
                  "type": "integer"
                },
                "next": {
                  "title": "Next",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "title": "Previous",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "title": "Results",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Orbit"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get orbit configuration"
      }
    },
    "/config/orbit/{id}/": {
      "get": {
        "operationId": "Config_orbit_read",
        "description": "Get an orbit configuration.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "A unique integer value identifying this Orbit.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Orbit"
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get an orbit configuration"
      }
    },
    "/config/roadclosurestatus/": {
      "get": {
        "operationId": "Config_roadclosurestatus_list",
        "description": "Get road closure status configuration.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "title": "Count",
                  "type": "integer"
                },
                "next": {
                  "title": "Next",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "title": "Previous",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "title": "Results",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/RoadClosureStatus"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get road closure status configuration"
      }
    },
    "/config/roadclosurestatus/{id}/": {
      "get": {
        "operationId": "Config_roadclosurestatus_read",
        "description": "Get a road closure status configuration.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "A unique integer value identifying this Road Closure Type.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RoadClosureStatus"
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get a road closure status configuration"
      }
    },
    "/config/spacecraft/": {
      "get": {
        "operationId": "Config_spacecraft_list",
        "description": "Get spacecraft configuration.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "x-ms-summary": "Name",
            "description": "The name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "manufacturer",
            "in": "query",
            "x-ms-summary": "Manufacturer",
            "description": "The manufacturer.",
            "required": false,
            "type": "string"
          },
          {
            "name": "in_use",
            "in": "query",
            "x-ms-summary": "In Use",
            "description": "Whether in use.",
            "required": false,
            "type": "string"
          },
          {
            "name": "human_rated",
            "in": "query",
            "x-ms-summary": "Human Rated",
            "description": "Whether rated for humans.",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "title": "Count",
                  "type": "integer"
                },
                "next": {
                  "title": "Next",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "title": "Previous",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "title": "Results",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SpacecraftConfiguration"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get spacecraft configuration"
      }
    },
    "/config/spacecraft/{id}/": {
      "get": {
        "operationId": "Config_spacecraft_read",
        "description": "Get a spacecraft configuration.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "A unique integer value identifying this Spacecraft Configuration.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SpacecraftConfigurationDetail"
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get a spacecraft configuration"
      }
    },
    "/config/spacecraftstatus/": {
      "get": {
        "operationId": "Config_spacecraftstatus_list",
        "description": "Get spacecraft status configuration.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "title": "Count",
                  "type": "integer"
                },
                "next": {
                  "title": "Next",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "title": "Previous",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "title": "Results",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SpacecraftStatus"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get spacecraft status configuration"
      }
    },
    "/config/spacecraftstatus/{id}/": {
      "get": {
        "operationId": "Config_spacecraftstatus_read",
        "description": "Get a spacecraft status configuration.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "A unique integer value identifying this Spacecraft Status.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SpacecraftStatus"
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get a spacecraft status configuration"
      }
    },
    "/config/spacestationstatus/": {
      "get": {
        "operationId": "Config_spacestationstatus_list",
        "description": "Get spacestation status configuration.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "title": "Count",
                  "type": "integer"
                },
                "next": {
                  "title": "Next",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "title": "Previous",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "title": "Results",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SpaceStationStatus"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get spacestation status configuration"
      }
    },
    "/config/spacestationstatus/{id}/": {
      "get": {
        "operationId": "Config_spacestationstatus_read",
        "description": "Get a spacestation status configuration.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "A unique integer value identifying this Space Station Status.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SpaceStationStatus"
            }
          }
        },
        "tags": [
          "config"
        ],
        "summary": "Get a spacestation status configuration"
      }
    },
    "/docking_event/": {
      "get": {
        "operationId": "Docking_event_list",
        "description": "Get docking events.",
        "parameters": [
          {
            "name": "space_station__id",
            "in": "query",
            "x-ms-summary": "Space Station ID",
            "description": "The identifier of the space station.",
            "required": false,
            "type": "number"
          },
          {
            "name": "docking_location__id",
            "in": "query",
            "x-ms-summary": "Docking Location ID",
            "description": "The identifier of the docking location.",
            "required": false,
            "type": "number"
          },
          {
            "name": "flight_vehicle__id",
            "in": "query",
            "x-ms-summary": "Flight Vehicle ID",
            "description": "The identifier of the flight.",
            "required": false,
            "type": "number"
          },
          {
            "name": "docking__gt",
            "in": "query",
            "x-ms-summary": "Docking GT",
            "description": "The docking greater than.",
            "required": false,
            "type": "string"
          },
          {
            "name": "docking__lt",
            "in": "query",
            "x-ms-summary": "Docking LT",
            "description": "The docking less than.",
            "required": false,
            "type": "string"
          },
          {
            "name": "docking__gte",
            "in": "query",
            "x-ms-summary": "Docking GTE",
            "description": "The docking greather than or equal to.",
            "required": false,
            "type": "string"
          },
          {
            "name": "docking__lte",
            "in": "query",
            "x-ms-summary": "Docking LTE",
            "description": "The docking less than or equal to.",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "title": "Count",
                  "type": "integer"
                },
                "next": {
                  "title": "Next",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "title": "Previous",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "title": "Results",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/DockingEvent"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "docking_event"
        ],
        "summary": "Get docking events"
      }
    },
    "/docking_event/{id}/": {
      "get": {
        "operationId": "Docking_event_read",
        "description": "Get a docking event.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "A unique integer value identifying this docking event.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DockingEventDetailed"
            }
          }
        },
        "tags": [
          "docking_event"
        ],
        "summary": "Get a docking event"
      }
    },
    "/event/": {
      "get": {
        "operationId": "Event_list",
        "description": "Get events.",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "x-ms-summary": "Slug",
            "description": "The slug.",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "x-ms-summary": "ID",
            "description": "The identifier.",
            "required": false,
            "type": "number"
          },
          {
            "name": "type",
            "in": "query",
            "x-ms-summary": "Type",
            "description": "The type.",
            "required": false,
            "type": "string"
          },
          {
            "name": "program",
            "in": "query",
            "x-ms-summary": "Program",
            "description": "The program.",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "title": "Count",
                  "type": "integer"
                },
                "next": {
                  "title": "Next",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "title": "Previous",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "title": "Results",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Events"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "event"
        ],
        "summary": "Get events"
      }
    },
    "/event/previous/": {
      "get": {
        "operationId": "Event_previous_list",
        "description": "Get previous events.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "x-ms-summary": "Type",
            "description": "The type.",
            "required": false,
            "type": "string"
          },
          {
            "name": "program",
            "in": "query",
            "x-ms-summary": "Program",
            "description": "The program.",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "title": "Count",
                  "type": "integer"
                },
                "next": {
                  "title": "Next",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "title": "Previous",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "title": "Results",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Events"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "event"
        ],
        "summary": "Get previous events"
      }
    },
    "/event/previous/{id}/": {
      "get": {
        "operationId": "Event_previous_read",
        "description": "Get a previous event.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "A unique integer value identifying this previous event.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Events"
            }
          }
        },
        "tags": [
          "event"
        ],
        "summary": "Get a previous event"
      }
    },
    "/event/upcoming/": {
      "get": {
        "operationId": "Event_upcoming_list",
        "description": "Get upcoming events.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "x-ms-summary": "Type",
            "description": "The type.",
            "required": false,
            "type": "string"
          },
          {
            "name": "program",
            "in": "query",
            "x-ms-summary": "Program",
            "description": "The program.",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "title": "Count",
                  "type": "integer"
                },
                "next": {
                  "title": "Next",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "title": "Previous",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "title": "Results",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Events"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "event"
        ],
        "summary": "Get upcoming events"
      }
    },
    "/event/upcoming/{id}/": {
      "get": {
        "operationId": "Event_upcoming_read",
        "description": "Get an upcoming event.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "A unique integer value identifying this upcoming event.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Events"
            }
          }
        },
        "tags": [
          "event"
        ],
        "summary": "Get an upcoming event"
      }
    },
    "/event/{id}/": {
      "get": {
        "operationId": "Event_read",
        "description": "Get an event.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "A unique integer value identifying this Event.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Events"
            }
          }
        },
        "tags": [
          "event"
        ],
        "summary": "Get an event"
      }
    },
    "/expedition/": {
      "get": {
        "operationId": "Expedition_list",
        "description": "Get expeditions.",
        "parameters": [
          {
            "name": "crew__astronaut",
            "in": "query",
            "x-ms-summary": "Crew Astronaut",
            "description": "The astronaut member of the crew.",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "x-ms-summary": "Name",
            "description": "The name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "space_station",
            "in": "query",
            "x-ms-summary": "Space Station",
            "description": "The space station.",
            "required": false,
            "type": "string"
          },
          {
            "name": "crew__astronaut__agency",
            "in": "query",
            "x-ms-summary": "Crew Astronaut Agency",
            "description": "The astronaut member of the crew's agency.",
            "required": false,
            "type": "string"
          },
          {
            "name": "start__gt",
            "in": "query",
            "x-ms-summary": "Start GT",
            "description": "The start greater than.",
            "required": false,
            "type": "string"
          },
          {
            "name": "start__lt",
            "in": "query",
            "x-ms-summary": "Start LT",
            "description": "The start less than.",
            "required": false,
            "type": "string"
          },
          {
            "name": "start__gte",
            "in": "query",
            "x-ms-summary": "Start GTE",
            "description": "The start greater than or equal to.",
            "required": false,
            "type": "string"
          },
          {
            "name": "start__lte",
            "in": "query",
            "x-ms-summary": "Start LTE",
            "description": "The start less than or equal to.",
            "required": false,
            "type": "string"
          },
          {
            "name": "end__gt",
            "in": "query",
            "x-ms-summary": "End GT",
            "description": "The end greater than.",
            "required": false,
            "type": "string"
          },
          {
            "name": "end__lt",
            "in": "query",
            "x-ms-summary": "End LT",
            "description": "The end less than.",
            "required": false,
            "type": "string"
          },
          {
            "name": "end__gte",
            "in": "query",
            "x-ms-summary": "End GTE",
            "description": "The end greater than or equal to.",
            "required": false,
            "type": "string"
          },
          {
            "name": "end__lte",
            "in": "query",
            "x-ms-summary": "End LTE",
            "description": "The end less than or equal to.",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "title": "Count",
                  "type": "integer"
                },
                "next": {
                  "title": "Next",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "title": "Previous",
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "title": "Results",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Expedition"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "expedition"
        ],
        "summary": "Get expeditions"
      }
    },
    "/expedition/{id}/": {
      "get": {
        "operationId": "Expedition_read",
        "description": "Get an expedition.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "A unique integer value identifying this expedition.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExpeditionDetail"
            }
          }
        },
        "tags": [
          "expedition"
        ],
        "summary": "Get an expedition"
      }
    },
    "/launch/": {
      "get": {
        "operationId": "uplist",
        "summary": "Get launches",
        "description": "Get launches.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "x-ms-summary": "Name",
            "description": "The name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "slug",
            "in": "query",
            "x-ms-summary": "Slug",
            "description": "The slug.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rocket__configuration__name",
            "in": "query",
            "x-ms-summary": "Rocket Configuration Name",
            "description": "The rocket configuration name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rocket__configuration__id",
            "in": "query",
            "x-ms-summary": "Rocket Configuration ID",
            "description": "The rocket configuration identifier.",
            "required": false,
            "type": "number"
          },
          {
            "name": "status",
            "in": "query",
            "x-ms-summary": "Status",
            "description": "The current status.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rocket__spacecraftflight__spacecraft__name",
            "in": "query",
            "x-ms-summary": "Rocket Flight Spacecraft Name",
            "description": "The rocket flight spacecraft name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rocket__spacecraftflight__spacecraft__name__icontains",
            "in": "query",
            "x-ms-summary": "Rocket Flight Spacecraft Contains",
            "description": "The rocket flight spacecraft contains.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rocket__spacecraftflight__spacecraft__id",
            "in": "query",
            "x-ms-summary": "Rocket Flight Spacecraft ID",
            "description": "The rocket flight spacecraft identifier.",
            "required": false,
            "type": "number"
          },
          {
            "name": "rocket__configuration__manufacturer__name",
            "in": "query",
            "x-ms-summary": "Rocket Configuration Manufacturer Name",
            "description": "The rocket configuration manufacturer's name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rocket__configuration__manufacturer__name__icontains",
            "in": "query",
            "x-ms-summary": "Rocket Configuration Manufacturer Contains",
            "description": "The rocket configuration manufacturer contains.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rocket__configuration__full_name",
            "in": "query",
            "x-ms-summary": "Rocket Configuration Full Name",
            "description": "The rocket configuration full name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rocket__configuration__full_name__icontains",
            "in": "query",
            "x-ms-summary": "Rocket Configuration Full Name Contains",
            "description": "The rocket configuration full name contains.",
            "required": false,
            "type": "string"
          },
          {
            "name": "mission__orbit__name",
            "in": "query",
            "x-ms-summary": "Mission Orbit Name",
            "description": "The mission orbit name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "mission__orbit__name__icontains",
            "in": "query",
            "x-ms-summary": "Mission Orbit Contains",
            "description": "The mission orbit contains.",
            "required": false,
            "type": "string"
          },
          {
            "name": "r_spacex_api_id",
            "in": "query",
            "x-ms-summary": "r/SpaceX API ID",
            "description": "The r/SpaceX API identifier.",
            "required": false,
            "type": "string"
          },
          {
            "name": "net__gt",
            "in": "query",
            "x-ms-summary": "Net GT",
            "description": "The net greater than.",
            "required": false,
            "type": "string"
          },
          {
            "name": "net__lt",
            "in": "query",
            "x-ms-summary": "Net LT",
            "description": "The net less than.",
            "required": false,
            "type": "string"
          },
          {
            "name": "net__gte",
            "in": "query",
            "x-ms-summary": "Net GTE",
            "description": "The net greater than or equal to.",
            "required": false,
            "type": "string"
          },
          {
            "name": "net__lte",
            "in": "query",
            "x-ms-summary": "Net LTE",
            "description": "The net less than or equal to.",
            "required": false,
            "type": "string"
          },
          {
            "name": "window_start__gt",
            "in": "query",
            "x-ms-summary": "Window Start GT",
            "description": "The window start greater than.",
            "required": false,
            "type": "string"
          },
          {
            "name": "window_start__lt",
            "in": "query",
            "x-ms-summary": "Window Start LT",
            "description": "The window start less than.",
            "required": false,
            "type": "string"
          },
          {
            "name": "window_start__gte",
            "in": "query",
            "x-ms-summary": "Window Start GTE",
            "description": "The window start greater than or equal to.",
            "required": false,
            "type": "string"
          },
          {
            "name": "window_start__lte",
            "in": "query",
            "x-ms-summary": "Window Start LTE",
            "description": "The window start less than or equal to.",
            "required": false,
            "type": "string"
          },
          {
            "name": "window_end__gt",
            "in": "query",
            "x-ms-summary": "Window End GT",
            "description": "The window end greater than.",
            "required": false,
            "type": "string"
          },
          {
            "name": "window_end__lt",
            "in": "query",
            "x-ms-summary": "Window End LT",
            "description": "The window end less than.",
            "required": false,
            "type": "string"
          },
          {
            "name": "window_end__gte",
            "in": "query",
            "x-ms-summary": "Window End GTE",
            "description": "The window end greater than or equal to.",
            "required": false,
            "type": "string"
          },
          {
            "name": "window_end__lte",
            "in": "query",
            "x-ms-summary": "Window End LTE",
            "description": "The window end less than or equal to.",
            "required": false,
            "type": "string"
          },
          {
            "name": "last_updated__gte",
            "in": "query",
            "x-ms-summary": "Last Updated GTE",
            "description": "The last update greater than or equal to.",
            "required": false,
            "type": "string"
          },
          {
            "name": "last_updated__lte",
            "in": "query",
            "x-ms-summary": "Last Updated LTE",
            "description": "The last update less than or equal to.",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
[...]
