{
  "swagger": "2.0",
  "info": {
    "title": "LoginLlama",
    "description": "LoginLlama adds an extra layer of customer security without the extra work. LoginLlama uses a number of ranking factors to decide if a login is deemed suspicious. We determine a score for each login based on how 'suspicious' it is. We then use Bollinger Bands to determine if the login is suspicious or not.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "loginllama.app",
  "basePath": "/api/v1/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/login/check": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "The status message.",
                  "title": "Message"
                },
                "codes": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The codes.",
                  "title": "Codes"
                }
              }
            }
          }
        },
        "summary": "Check a login for suspicious behavior",
        "description": "Retrieve the status and codes for a submitted login.",
        "operationId": "LoginPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "ip_address": {
                  "type": "string",
                  "description": "The IP address.",
                  "title": "IP Address"
                },
                "user_agent": {
                  "type": "string",
                  "description": "The user agent string.",
                  "title": "User Agent"
                },
                "identity_key": {
                  "type": "string",
                  "description": "A unique identity key for the user.",
                  "title": "Identity Key"
                },
                "geo_country": {
                  "type": "string",
                  "description": "The user's country.",
                  "title": "Geo Country"
                },
                "geo_city": {
                  "type": "string",
                  "description": "The user's city.",
                  "title": "Geo City"
                },
                "user_time_of_day": {
                  "type": "string",
                  "description": "The user's time of day.",
                  "title": "User Time Of Day"
                }
              },
              "required": [
                "ip_address",
                "user_agent",
                "identity_key"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-KEY"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://loginllama.app/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://loginllama.app/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Website"
    }
  ]
}