{
  "swagger": "2.0",
  "info": {
    "title": "Affirmations",
    "description": "Retrieve daily affirmations. Inspired by the Saturday Night Live skit, \"Daily Affirmations With Stuart Smalley.\"",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "www.affirmations.dev",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "affirmation": {
                  "type": "string",
                  "description": "The affirmation.",
                  "title": "Affirmation"
                }
              }
            }
          }
        },
        "summary": "Get affirmation",
        "description": "Retrieve a daily affirmation.",
        "operationId": "Affirmation",
        "parameters": []
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.affirmations.dev/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.affirmations.dev/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ]
}