{
  "swagger": "2.0",
  "info": {
    "title": "PDF Blocks",
    "version": "1.2.0",
    "description": "PDF Blocks is a secure, reliable, and fast service to work with PDF documents in your flow. Actions include: Merge PDF documents, add or remove passwords, watermark documents, remove, extract, reverse, and rotate pages, and more. Check https://www.pdfblocks.com/power-automate for documentation, examples, and tutorials. Users can choose to process their PDF documents in US or European servers to comply with data location requirements.",
    "contact": {
      "name": "PDF Blocks Support",
      "url": "https://www.pdfblocks.com/support",
      "email": "support@pdfblocks.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.pdfblocks.com"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.pdfblocks.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Productivity"
    }
  ],
  "host": "api.pdfblocks.com",
  "consumes": [
    "multipart/form-data"
  ],
  "produces": [
    "application/octet-stream"
  ],
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "api_key": {
      "name": "X-Api-Key",
      "in": "header",
      "type": "apiKey",
      "description": "Get your API key in https://www.pdfblocks.com/power-automate/try-free"
    }
  },
  "paths": {
    "/add_password": {
      "post": {
        "operationId": "AddPassword",
        "summary": "Add a password to a PDF",
        "description": "Protect a PDF document with a password. Encrypt the PDF document to prevent unauthorized access. https://www.pdfblocks.com/docs/power-automate/add-password-to-pdf",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "string",
            "format": "binary",
            "description": "The content of the PDF document",
            "x-ms-summary": "File Content",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "in": "formData",
            "name": "password",
            "type": "string",
            "minLength": 4,
            "maxLength": 32,
            "description": "The password required to open the file",
            "x-ms-summary": "Password",
            "x-ms-visibility": "important",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Password Protected PDF File Content",
              "description": "The content of the password protected PDF document"
            }
          }
        }
      }
    },
    "/add_restrictions": {
      "post": {
        "operationId": "AddRestrictions",
        "summary": "Add restrictions to a PDF",
        "description": "Add restrictions to prevent copying, printing, and modifying a PDF document. https://www.pdfblocks.com/docs/power-automate/add-restrictions-to-pdf",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "string",
            "format": "binary",
            "description": "The content of the PDF document",
            "x-ms-summary": "File Content",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "in": "formData",
            "name": "owner_password",
            "type": "string",
            "minLength": 4,
            "maxLength": 32,
            "description": "The password required to open and change permissions of the PDF document",
            "x-ms-summary": "Owner Password",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "in": "formData",
            "name": "user_password",
            "type": "string",
            "minLength": 4,
            "maxLength": 32,
            "description": "The password required to open the PDF document",
            "x-ms-summary": "User Password",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "allow_copy_content",
            "type": "boolean",
            "description": "User can copy text and images to the clipboard",
            "x-ms-summary": "Allow Copy Content",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "allow_change_content",
            "type": "boolean",
            "description": "User can change the content of the document",
            "x-ms-summary": "Allow Change Content",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "allow_print",
            "type": "boolean",
            "description": "User can print the document",
            "x-ms-summary": "Allow Print",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "allow_print_high_resolution",
            "type": "boolean",
            "description": "User can print the document in high resolution",
            "x-ms-summary": "Allow Print High Resolution",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "allow_comment_and_fill_form",
            "type": "boolean",
            "description": "User can add, edit and modify annotations and fill form fields",
            "x-ms-summary": "Allow Comment And Fill Form",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "allow_fill_form",
            "type": "boolean",
            "description": "User can fill forms fields",
            "x-ms-summary": "Allow Fill Form",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "allow_assemble_document",
            "type": "boolean",
            "description": "User can assemble and manipulate the document",
            "x-ms-summary": "Allow Assemble Document",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "allow_accessibility",
            "type": "boolean",
            "description": "Accessibility programs can read text and images",
            "x-ms-summary": "Allow Accessibility",
            "x-ms-visibility": "important",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Locked PDF File Content",
              "description": "The content of the locked PDF document"
            }
          }
        }
      }
    },
    "/add_watermark": {
      "post": {
        "operationId": "AddWatermark",
        "summary": "Add a text watermark to a PDF",
        "description": "Add a text watermark to a PDF document. Choose from many watermark templates in https://www.pdfblocks.com/docs/power-automate/add-watermark",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "string",
            "format": "binary",
            "description": "The content of the PDF document",
            "x-ms-summary": "File Content",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "in": "formData",
            "name": "line_1",
            "type": "string",
            "maxLength": 32,
            "description": "The first line of text of the watermark",
            "x-ms-summary": "1st Line",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "line_2",
            "type": "string",
            "maxLength": 32,
            "description": "The second line of text of the watermark",
            "x-ms-summary": "2nd Line",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "line_3",
            "type": "string",
            "maxLength": 32,
            "description": "The third line of text of the watermark",
            "x-ms-summary": "3rd Line",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "template",
            "type": "integer",
            "format": "int32",
            "maximum": 9999,
            "minimum": 1000,
            "default": 1001,
            "description": "The id of the watermark template. To see all available templates visit https://www.pdfblocks.com/docs/power-automate/add-watermark-to-pdf",
            "x-ms-summary": "Template",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "color",
            "type": "string",
            "description": "The color of the text of the watermark",
            "x-ms-summary": "Color",
            "x-ms-visibility": "important",
            "required": false,
            "enum": [
              "Red",
              "Blue",
              "Gray",
              "Black"
            ]
          },
          {
            "in": "formData",
            "name": "transparency",
            "type": "integer",
            "format": "int32",
            "maximum": 100,
            "minimum": 0,
            "description": "Transparency level for the watermark from 0 (opaque) to 100 (transparent)",
            "x-ms-summary": "Transparency",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "margin",
            "type": "number",
            "format": "double",
            "minimum": 0,
            "description": "Distance in inches from the border of the page to the watermark",
            "x-ms-summary": "Margin",
            "x-ms-visibility": "important",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Watermarked PDF File Content",
              "description": "The content of the watermarked PDF document"
            }
          }
        }
      }
    },
    "/add_watermark/image": {
      "post": {
        "operationId": "AddImageWatermark",
        "summary": "Add an image watermark to a PDF",
        "description": "Add an image watermark to each page of a PDF document",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "string",
            "format": "binary",
            "description": "The content of the PDF document",
            "x-ms-summary": "File Content",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "in": "formData",
            "name": "image",
            "type": "string",
            "format": "binary",
            "description": "The content of the image of the watermark",
            "x-ms-summary": "Image Content",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "in": "formData",
            "name": "transparency",
            "type": "integer",
            "format": "int32",
            "maximum": 100,
            "minimum": 0,
            "description": "Transparency level for the watermark from 0 (opaque) to 100 (transparent)",
            "x-ms-summary": "Transparency",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "margin",
            "type": "number",
            "format": "double",
            "minimum": 0,
            "description": "Distance in inches from the border of the page to the watermark",
            "x-ms-summary": "Margin",
            "x-ms-visibility": "important",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Watermarked PDF File Content",
              "description": "The content of the watermarked PDF document"
            }
          }
        }
      }
    },
    "/extract_pages": {
      "post": {
        "operationId": "ExtractPages",
        "summary": "Extract pages from a PDF",
        "description": "Extract one or more pages from a PDF document. https://www.pdfblocks.com/docs/power-automate/extract-pages-from-pdf",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "string",
            "format": "binary",
            "description": "The content of the PDF document",
            "x-ms-summary": "File Content",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "in": "formData",
            "name": "first_page",
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "First page of the extracted PDF document",
            "x-ms-summary": "First Page",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "last_page",
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "Last page of the extracted PDF document",
            "x-ms-summary": "Last Page",
            "x-ms-visibility": "important",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Extracted PDF File Content",
              "description": "The content of the extracted PDF document"
            }
          }
        }
      }
    },
    "/merge_documents": {
      "post": {
        "operationId": "MergeDocuments",
        "summary": "Merge PDF documents",
        "description": "Combine multiple PDF documents into a single PDF document. https://www.pdfblocks.com/docs/power-automate/merge-pdf-documents",
        "parameters": [
          {
            "in": "formData",
            "name": "file_1",
            "type": "string",
            "format": "binary",
            "description": "The content of the 1st PDF document",
            "x-ms-summary": "1st File Content",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "file_2",
            "type": "string",
            "format": "binary",
            "description": "The content of the 2nd PDF document",
            "x-ms-summary": "2nd File Content",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "file_3",
            "type": "string",
            "format": "binary",
            "description": "The content of the 3rd PDF document",
            "x-ms-summary": "3rd File Content",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "file_4",
            "type": "string",
            "format": "binary",
            "description": "The content of the 4th PDF document",
            "x-ms-summary": "4th File Content",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "file_5",
            "type": "string",
            "format": "binary",
            "description": "The content of the 5th PDF document",
            "x-ms-summary": "5th File Content",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "file_6",
            "type": "string",
            "format": "binary",
            "description": "The content of the 6th PDF document",
            "x-ms-summary": "6th File Content",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "in": "formData",
            "name": "file_7",
            "type": "string",
            "format": "binary",
            "description": "The content of the 7th PDF document",
            "x-ms-summary": "7th File Content",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "in": "formData",
            "name": "file_8",
            "type": "string",
            "format": "binary",
            "description": "The content of the 8th PDF document",
            "x-ms-summary": "8th File Content",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "in": "formData",
            "name": "file_9",
            "type": "string",
            "format": "binary",
            "description": "The content of the 9th PDF document",
            "x-ms-summary": "9th File Content",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "in": "formData",
            "name": "file_10",
            "type": "string",
            "format": "binary",
            "description": "The content of the 10th PDF document",
            "x-ms-summary": "10th File Content",
            "x-ms-visibility": "advanced",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Merged PDF File Content",
              "description": "The content of the merged PDF document"
            }
          }
        }
      }
    },
    "/remove_pages": {
      "post": {
        "operationId": "RemovePages",
        "summary": "Remove pages from a PDF",
        "description": "Remove one or more pages from a PDF document. https://www.pdfblocks.com/docs/power-automate/remove-pages-from-pdf",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "string",
            "format": "binary",
            "description": "The content of the PDF document",
            "x-ms-summary": "File Content",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "in": "formData",
            "name": "first_page",
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "First page to remove in the PDF document",
            "x-ms-summary": "First Page",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "last_page",
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "Last page to remove in the PDF document",
            "x-ms-summary": "Last Page",
            "x-ms-visibility": "important",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Removed Pages PDF File Content",
              "description": "The content of the PDF document with some pages removed"
            }
          }
        }
      }
    },
    "/remove_password": {
      "post": {
        "operationId": "RemovePassword",
        "summary": "Remove the password from a PDF",
        "description": "Remove the password from an encrypted PDF document. The PDF document will no longer require a password to open. https://www.pdfblocks.com/docs/power-automate/remove-password-from-pdf",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "string",
            "format": "binary",
            "description": "The content of the PDF document",
            "x-ms-summary": "File Content",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "in": "formData",
            "name": "password",
            "type": "string",
            "minLength": 4,
            "maxLength": 32,
            "description": "The password required to open the PDF document",
            "x-ms-summary": "Password",
            "x-ms-visibility": "important",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Unencrypted PDF File Content",
              "description": "The content of the PDF document without password protection"
            }
          }
        }
      }
    },
    "/remove_restrictions": {
      "post": {
        "operationId": "RemoveRestrictions",
        "summary": "Remove restrictions from a PDF",
        "description": "Remove all the restrictions from a PDF document. https://www.pdfblocks.com/docs/power-automate/remove-restrictions-from-pdf",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "string",
            "format": "binary",
            "description": "The content of the PDF document",
            "x-ms-summary": "File Content",
            "x-ms-visibility": "important",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Unrestricted PDF File Content",
              "description": "The content of the PDF document without restrictions"
            }
          }
        }
      }
    },
    "/remove_signatures": {
      "post": {
        "operationId": "RemoveSignatures",
        "summary": "Remove signatures from a PDF",
        "description": "Remove all the signatures from a PDF document. https://www.pdfblocks.com/docs/power-automate/remove-signatures-from-pdf",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "string",
            "format": "binary",
            "description": "The content of the PDF document",
            "x-ms-summary": "File Content",
            "x-ms-visibility": "important",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Non-signed PDF File Content",
              "description": "The content of the PDF document without signatures"
            }
          }
        }
      }
    },
    "/reverse_pages": {
      "post": {
        "operationId": "ReversePages",
        "summary": "Reverse the pages of a PDF",
        "description": "Reverse the order of the pages of a PDF document. https://www.pdfblocks.com/docs/power-automate/reverse-pages-of-pdf",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "string",
            "format": "binary",
            "description": "The content of the PDF document",
            "x-ms-summary": "File Content",
            "x-ms-visibility": "important",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Reversed PDF File Content",
              "description": "The content of the PDF document with the pages reversed"
            }
          }
        }
      }
    },
    "/rotate_pages": {
      "post": {
        "operationId": "RotatePages",
        "summary": "Rotate pages in a PDF",
        "description": "Rotate one or more pages in a PDF document. https://www.pdfblocks.com/docs/power-automate/rotate-pages-in-pdf",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "string",
            "format": "binary",
            "description": "The content of the PDF document",
            "x-ms-summary": "File Content",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "in": "formData",
            "name": "angle",
            "type": "integer",
            "format": "int32",
            "description": "The angle of rotation of the page",
            "x-ms-summary": "Angle",
            "x-ms-visibility": "important",
            "enum": [
              0,
              90,
              180,
              270,
              -90,
              -180,
              -270
            ],
            "required": true
          },
          {
            "in": "formData",
            "name": "first_page",
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "First page to rotate in the PDF document",
            "x-ms-summary": "First Page",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "last_page",
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "Last page to rotate in the PDF document",
            "x-ms-summary": "Last Page",
            "x-ms-visibility": "important",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Rotated PDF File Content",
              "description": "The content of the PDF document with some pages rotated"
            }
          }
        }
      }
    }
  }
}
