{
  "swagger": "2.0",
  "info": {
    "title": "PDF Blocks",
    "version": "1.18.0",
    "description": "PDF Blocks is a secure, reliable, and fast service to work with PDF documents in your flow. Actions include: Merge PDF documents, add or remove passwords, watermark documents, remove, extract, reverse, and rotate pages, and more. Check https://www.pdfblocks.com/power-automate for documentation, examples, and tutorials. Users can choose to process their PDF documents in US or European servers to comply with data location requirements.",
    "contact": {
      "name": "PDF Blocks Support",
      "url": "https://www.pdfblocks.com/support",
      "email": "support@pdfblocks.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.pdfblocks.com"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.pdfblocks.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Productivity"
    }
  ],
  "host": "api.pdfblocks.com",
  "consumes": [
    "multipart/form-data"
  ],
  "produces": [
    "application/octet-stream"
  ],
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "api_key": {
      "name": "X-Api-Key",
      "in": "header",
      "type": "apiKey",
      "description": "Get your API key in https://www.pdfblocks.com/power-automate/try-free"
    }
  },
  "paths": {
    "/add_password": {
      "post": {
        "operationId": "AddPassword",
        "summary": "Add a password to a PDF",
        "description": "Protect a PDF document with a password. Encrypt the PDF document to prevent unauthorized access. https://www.pdfblocks.com/docs/power-automate/add-password-to-pdf",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "string",
            "format": "binary",
            "description": "The content of the PDF document",
            "x-ms-summary": "File Content",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "in": "formData",
            "name": "password",
            "type": "string",
            "minLength": 4,
            "maxLength": 32,
            "description": "The password required to open the file",
            "x-ms-summary": "Password",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "in": "formData",
            "name": "encryption_algorithm",
            "type": "string",
            "default": "AES-128",
            "description": "The algorithm used to encrypt the PDF document",
            "x-ms-summary": "Encryption Algorithm",
            "x-ms-visibility": "advanced",
            "required": false,
            "enum": [
              "AES-128",
              "AES-256"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Password Protected PDF File Content",
              "description": "The content of the password protected PDF document"
            }
          }
        }
      }
    },
    "/add_restrictions": {
      "post": {
        "operationId": "AddRestrictions",
        "summary": "Add restrictions to a PDF",
        "description": "Add restrictions to prevent copying, printing, and modifying a PDF document. https://www.pdfblocks.com/docs/power-automate/add-restrictions-to-pdf",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "string",
            "format": "binary",
            "description": "The content of the PDF document",
            "x-ms-summary": "File Content",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "in": "formData",
            "name": "owner_password",
            "type": "string",
            "minLength": 4,
            "maxLength": 32,
            "description": "The password required to open and change permissions of the PDF document",
            "x-ms-summary": "Owner Password",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "in": "formData",
            "name": "user_password",
            "type": "string",
            "minLength": 4,
            "maxLength": 32,
            "description": "The password required to open the PDF document",
            "x-ms-summary": "User Password",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "encryption_algorithm",
            "type": "string",
            "default": "AES-128",
            "description": "The algorithm used to encrypt the PDF document",
            "x-ms-summary": "Encryption Algorithm",
            "x-ms-visibility": "advanced",
            "required": false,
            "enum": [
              "AES-128",
              "AES-256"
            ]
          },
          {
            "in": "formData",
            "name": "allow_copy_content",
            "type": "boolean",
            "default": true,
            "description": "User can copy text and images to the clipboard",
            "x-ms-summary": "Allow Copy Content",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "allow_change_content",
            "type": "boolean",
            "default": true,
            "description": "User can change the content of the document",
            "x-ms-summary": "Allow Change Content",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "allow_print",
            "type": "boolean",
            "default": true,
            "description": "User can print the document",
            "x-ms-summary": "Allow Print",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "allow_print_high_resolution",
            "type": "boolean",
            "default": true,
            "description": "User can print the document in high resolution",
            "x-ms-summary": "Allow Print High Resolution",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "allow_comment_and_fill_form",
            "type": "boolean",
            "default": true,
            "description": "User can add, edit and modify annotations and fill form fields",
            "x-ms-summary": "Allow Comment And Fill Form",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "allow_fill_form",
            "type": "boolean",
            "default": true,
            "description": "User can fill forms fields",
            "x-ms-summary": "Allow Fill Form",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "allow_assemble_document",
            "type": "boolean",
            "default": true,
            "description": "User can assemble and manipulate the document",
            "x-ms-summary": "Allow Assemble Document",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "allow_accessibility",
            "type": "boolean",
            "default": true,
            "description": "Accessibility programs can read text and images",
            "x-ms-summary": "Allow Accessibility",
            "x-ms-visibility": "important",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Locked PDF File Content",
              "description": "The content of the locked PDF document"
            }
          }
        }
      }
    },
    "/add_watermark": {
      "post": {
        "operationId": "AddWatermark",
        "summary": "Add a text watermark to a PDF",
        "description": "Add a text watermark to a PDF document. Choose from many watermark templates in https://www.pdfblocks.com/docs/power-automate/add-text-watermark-to-pdf",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "string",
            "format": "binary",
            "description": "The content of the PDF document",
            "x-ms-summary": "File Content",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "in": "formData",
            "name": "line_1",
            "type": "string",
            "maxLength": 32,
            "description": "The first line of text of the watermark",
            "x-ms-summary": "1st Line",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "in": "formData",
            "name": "line_2",
            "type": "string",
            "maxLength": 32,
            "description": "The second line of text of the watermark",
            "x-ms-summary": "2nd Line",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "line_3",
            "type": "string",
            "maxLength": 32,
            "description": "The third line of text of the watermark",
            "x-ms-summary": "3rd Line",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "template",
            "type": "integer",
            "format": "int32",
            "maximum": 66536,
            "minimum": 1001,
            "default": 1001,
            "description": "The id of the watermark template. To see all available templates visit https://www.pdfblocks.com/docs/power-automate/add-text-watermark-to-pdf",
            "x-ms-summary": "Template",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "color",
            "type": "string",
            "default": "Gray",
            "description": "The color of the text of the watermark",
            "x-ms-summary": "Color",
            "x-ms-visibility": "important",
            "required": false,
            "enum": [
              "Red",
              "Blue",
              "Gray",
              "Black"
            ]
          },
          {
            "in": "formData",
            "name": "transparency",
            "type": "integer",
            "format": "int32",
            "maximum": 100,
            "minimum": 0,
            "default": 75,
            "description": "Transparency level for the watermark from 0 (opaque) to 100 (transparent)",
            "x-ms-summary": "Transparency",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "margin",
            "type": "number",
            "format": "double",
            "minimum": 0,
            "default": 1,
            "description": "Distance in inches from the border of the page to the watermark",
            "x-ms-summary": "Margin",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "pages",
            "type": "string",
            "maxLength": 1000,
            "description": "The pages to stamp, as a comma-separated list of page numbers and ranges (for example 1..3,5). A negative number counts from the end (-1 is the last page). Leave empty to stamp every page.",
            "x-ms-summary": "Pages",
            "x-ms-visibility": "advanced",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Watermarked PDF File Content",
              "description": "The content of the watermarked PDF document"
            }
          }
        }
      }
    },
    "/add_watermark/image": {
      "post": {
        "operationId": "AddImageWatermark",
        "summary": "Add an image watermark to a PDF",
        "description": "Add an image watermark to each page of a PDF document",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "string",
            "format": "binary",
            "description": "The content of the PDF document",
            "x-ms-summary": "File Content",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "in": "formData",
            "name": "image",
            "type": "string",
            "format": "binary",
            "description": "The content of the image of the watermark",
            "x-ms-summary": "Image Content",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "in": "formData",
            "name": "transparency",
            "type": "integer",
            "format": "int32",
            "maximum": 100,
            "minimum": 0,
            "default": 50,
            "description": "Transparency level for the watermark from 0 (opaque) to 100 (transparent)",
            "x-ms-summary": "Transparency",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "margin",
            "type": "number",
            "format": "double",
            "minimum": 0,
            "default": 1,
            "description": "Distance in inches from the border of the page to the watermark",
            "x-ms-summary": "Margin",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "pages",
            "type": "string",
            "maxLength": 1000,
            "description": "The pages to stamp, as a comma-separated list of page numbers and ranges (for example 1..3,5). A negative number counts from the end (-1 is the last page). Leave empty to stamp every page.",
            "x-ms-summary": "Pages",
            "x-ms-visibility": "advanced",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Watermarked PDF File Content",
              "description": "The content of the watermarked PDF document"
            }
          }
        }
      }
    },
    "/extract_pages": {
      "post": {
        "operationId": "ExtractPages",
        "summary": "Extract pages from a PDF",
        "description": "Extract one or more pages from a PDF document. https://www.pdfblocks.com/docs/power-automate/extract-pages-from-pdf",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "string",
            "format": "binary",
            "description": "The content of the PDF document",
            "x-ms-summary": "File Content",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "in": "formData",
            "name": "pages",
            "type": "string",
            "maxLength": 1000,
            "description": "The pages to extract, as a comma-separated list of page numbers and ranges (for example 1..3,5). A negative number counts from the end (-1 is the last page). Leave empty to extract all pages. Do not combine with First Page / Last Page.",
            "x-ms-summary": "Pages",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "first_page",
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "First page of the extracted PDF document. Legacy field kept for backward compatibility; prefer Pages. Do not combine with Pages.",
            "x-ms-summary": "First Page",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "in": "formData",
            "name": "last_page",
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "Last page of the extracted PDF document. Legacy field kept for backward compatibility; prefer Pages. Do not combine with Pages.",
            "x-ms-summary": "Last Page",
            "x-ms-visibility": "advanced",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Extracted PDF File Content",
              "description": "The content of the extracted PDF document"
            }
          }
        }
      }
    },
    "/merge_documents": {
      "post": {
        "operationId": "MergeDocuments",
        "summary": "Merge PDF documents",
        "description": "Combine multiple PDF documents into a single PDF document. https://www.pdfblocks.com/docs/power-automate/merge-pdf-documents",
        "parameters": [
          {
            "in": "formData",
            "name": "file_1",
            "type": "string",
            "format": "binary",
            "description": "The content of the 1st PDF document",
            "x-ms-summary": "1st File Content",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "file_2",
            "type": "string",
            "format": "binary",
            "description": "The content of the 2nd PDF document",
            "x-ms-summary": "2nd File Content",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "file_3",
            "type": "string",
            "format": "binary",
            "description": "The content of the 3rd PDF document",
            "x-ms-summary": "3rd File Content",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "file_4",
            "type": "string",
            "format": "binary",
            "description": "The content of the 4th PDF document",
            "x-ms-summary": "4th File Content",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "file_5",
            "type": "string",
            "format": "binary",
            "description": "The content of the 5th PDF document",
            "x-ms-summary": "5th File Content",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "file_6",
            "type": "string",
            "format": "binary",
            "description": "The content of the 6th PDF document",
            "x-ms-summary": "6th File Content",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "in": "formData",
            "name": "file_7",
            "type": "string",
            "format": "binary",
            "description": "The content of the 7th PDF document",
            "x-ms-summary": "7th File Content",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "in": "formData",
            "name": "file_8",
            "type": "string",
            "format": "binary",
            "description": "The content of the 8th PDF document",
            "x-ms-summary": "8th File Content",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "in": "formData",
            "name": "file_9",
            "type": "string",
            "format": "binary",
            "description": "The content of the 9th PDF document",
            "x-ms-summary": "9th File Content",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "in": "formData",
            "name": "file_10",
            "type": "string",
            "format": "binary",
            "description": "The content of the 10th PDF document",
            "x-ms-summary": "10th File Content",
            "x-ms-visibility": "advanced",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Merged PDF File Content",
              "description": "The content of the merged PDF document"
            }
          }
        }
      }
    },
    "/merge_documents/array": {
      "post": {
        "operationId": "MergeDocumentsArray",
        "summary": "Merge PDF documents from an array",
        "description": "Combine an array of PDF documents into a single PDF document. Use this when the documents come from a loop or an earlier action instead of fixed file fields. https://www.pdfblocks.com/docs/power-automate/merge-pdf-documents",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "documents"
              ],
              "properties": {
                "documents": {
                  "type": "array",
                  "description": "The PDF documents to merge. The merged document keeps this order.",
                  "x-ms-summary": "Documents",
                  "x-ms-visibility": "important",
                  "items": {
                    "type": "object",
                    "required": [
                      "fileContent"
                    ],
                    "properties": {
                      "fileContent": {
                        "type": "string",
                        "format": "byte",
                        "description": "The content of the PDF document.",
                        "x-ms-summary": "File Content"
                      },
                      "fileName": {
                        "type": "string",
                        "description": "An optional name for the PDF document. The documents are merged in array order, so the name is only for readability.",
                        "x-ms-summary": "File Name"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Merged PDF File Content",
              "description": "The content of the merged PDF document"
            }
          }
        }
      }
    },
    "/remove_pages": {
      "post": {
        "operationId": "RemovePages",
        "summary": "Remove pages from a PDF",
        "description": "Remove one or more pages from a PDF document. https://www.pdfblocks.com/docs/power-automate/remove-pages-from-pdf",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "string",
            "format": "binary",
            "description": "The content of the PDF document",
            "x-ms-summary": "File Content",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "in": "formData",
            "name": "pages",
            "type": "string",
            "maxLength": 1000,
            "description": "The pages to remove, as a comma-separated list of page numbers and ranges (for example 2,4..6). A negative number counts from the end (-1 is the last page). At least one page must remain. Do not combine with First Page / Last Page.",
            "x-ms-summary": "Pages",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "first_page",
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "First page to remove in the PDF document. Legacy field kept for backward compatibility; prefer Pages. Do not combine with Pages.",
            "x-ms-summary": "First Page",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "in": "formData",
            "name": "last_page",
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "Last page to remove in the PDF document. Legacy field kept for backward compatibility; prefer Pages. Do not combine with Pages.",
            "x-ms-summary": "Last Page",
            "x-ms-visibility": "advanced",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Removed Pages PDF File Content",
              "description": "The content of the PDF document with some pages removed"
            }
          }
        }
      }
    },
    "/remove_password": {
      "post": {
        "operationId": "RemovePassword",
        "summary": "Remove the password from a PDF",
        "description": "Remove the password from an encrypted PDF document. The PDF document will no longer require a password to open. https://www.pdfblocks.com/docs/power-automate/remove-password-from-pdf",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "string",
            "format": "binary",
            "description": "The content of the PDF document",
            "x-ms-summary": "File Content",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "in": "formData",
            "name": "password",
            "type": "string",
            "maxLength": 256,
            "description": "The password required to open the PDF document",
            "x-ms-summary": "Password",
            "x-ms-visibility": "important",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Unencrypted PDF File Content",
              "description": "The content of the PDF document without password protection"
            }
          }
        }
      }
    },
    "/remove_restrictions": {
      "post": {
        "operationId": "RemoveRestrictions",
        "summary": "Remove the restrictions from a PDF",
        "description": "Remove all the restrictions from a PDF document. https://www.pdfblocks.com/docs/power-automate/remove-restrictions-from-pdf",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "string",
            "format": "binary",
            "description": "The content of the PDF document",
            "x-ms-summary": "File Content",
            "x-ms-visibility": "important",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Unrestricted PDF File Content",
              "description": "The content of the PDF document without restrictions"
            }
          }
        }
      }
    },
    "/remove_signatures": {
      "post": {
        "operationId": "RemoveSignatures",
        "summary": "Remove the signatures from a PDF",
        "description": "Remove the cryptographic signatures and timestamps from a PDF document. https://www.pdfblocks.com/docs/power-automate/remove-signatures-from-pdf",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "string",
            "format": "binary",
            "description": "The content of the PDF document",
            "x-ms-summary": "File Content",
            "x-ms-visibility": "important",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Non-signed PDF File Content",
              "description": "The content of the PDF document without signatures"
            }
          }
        }
      }
    },
    "/reorder_pages": {
      "post": {
        "operationId": "ReorderPages",
        "summary": "Reorder the pages of a PDF",
        "description": "Rearrange the pages of a PDF document into a new order. Pages left out are dropped and a page listed more than once is repeated, so this doubles as extract-and-reorder. https://www.pdfblocks.com/docs/power-automate/reorder-pages-of-pdf",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "string",
            "format": "binary",
            "description": "The content of the PDF document",
            "x-ms-summary": "File Content",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "in": "formData",
            "name": "page_order",
            "type": "string",
            "description": "The desired page order, as a comma-separated list of page numbers and ranges (for example 3,1,2). A range may run backwards, so 10..5 walks from page 10 down to page 5. Pages left out are dropped; a page listed more than once is repeated.",
            "x-ms-summary": "Page Order",
            "x-ms-visibility": "important",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Reordered PDF File Content",
              "description": "The content of the reordered PDF document"
            }
          }
        }
      }
    },
    "/reverse_pages": {
      "post": {
        "operationId": "ReversePages",
        "summary": "Reverse the pages of a PDF",
        "description": "Reverse the order of the pages of a PDF document. https://www.pdfblocks.com/docs/power-automate/reverse-pages-of-pdf",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "string",
            "format": "binary",
            "description": "The content of the PDF document",
            "x-ms-summary": "File Content",
            "x-ms-visibility": "important",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Reversed PDF File Content",
              "description": "The content of the PDF document with the pages reversed"
            }
          }
        }
      }
    },
    "/rotate_pages": {
      "post": {
        "operationId": "RotatePages",
        "summary": "Rotate pages in a PDF",
        "description": "Rotate one or more pages in a PDF document. https://www.pdfblocks.com/docs/power-automate/rotate-pages-in-pdf",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "string",
            "format": "binary",
            "description": "The content of the PDF document",
            "x-ms-summary": "File Content",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "in": "formData",
            "name": "angle",
            "type": "integer",
            "format": "int32",
            "description": "The angle of rotation of the page",
            "x-ms-summary": "Angle",
            "x-ms-visibility": "important",
            "enum": [
              0,
              90,
              180,
              270,
              -90,
              -180,
              -270
            ],
            "required": true
          },
          {
            "in": "formData",
            "name": "pages",
            "type": "string",
            "maxLength": 1000,
            "description": "The pages to rotate, as a comma-separated list of page numbers and ranges (for example 1..3,5). A negative number counts from the end (-1 is the last page). Leave empty to rotate all pages. Do not combine with First Page / Last Page.",
            "x-ms-summary": "Pages",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "in": "formData",
            "name": "first_page",
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "First page to rotate in the PDF document. Legacy field kept for backward compatibility; prefer Pages. Do not combine with Pages.",
            "x-ms-summary": "First Page",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "in": "formData",
            "name": "last_page",
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "Last page to rotate in the PDF document. Legacy field kept for backward compatibility; prefer Pages. Do not combine with Pages.",
            "x-ms-summary": "Last Page",
            "x-ms-visibility": "advanced",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Rotated PDF File Content",
              "description": "The content of the PDF document with some pages rotated"
            }
          }
        }
      }
    },
    "/split_at_page": {
      "post": {
        "operationId": "SplitAtPage",
        "summary": "Split a PDF at a page",
        "description": "Split a PDF document into two documents at a page boundary. The pages before the split page form the first part; the split page and everything after form the second. Returns the output PDF documents as a list of files. https://www.pdfblocks.com/docs/power-automate/split-pdf-at-page",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "string",
            "format": "binary",
            "description": "The content of the PDF document",
            "x-ms-summary": "File Content",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "in": "formData",
            "name": "page",
            "type": "integer",
            "format": "int32",
            "minimum": 2,
            "description": "The page number that begins the second part. Must be between 2 and the number of pages in the document so both parts contain pages.",
            "x-ms-summary": "Page",
            "x-ms-visibility": "important",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The output PDF documents.",
              "properties": {
                "documents": {
                  "type": "array",
                  "description": "The output PDF documents, in order.",
                  "x-ms-summary": "Documents",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the PDF document (00001.pdf, 00002.pdf, and so on).",
                        "x-ms-summary": "File Name"
                      },
                      "content": {
                        "type": "string",
                        "format": "byte",
                        "description": "The content of the PDF document.",
                        "x-ms-summary": "File Content"
                      },
                      "content_type": {
                        "type": "string",
                        "description": "The media type of the document.",
                        "x-ms-summary": "Content Type"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/split_by_groups": {
      "post": {
        "operationId": "SplitByGroups",
        "summary": "Split a PDF into page groups",
        "description": "Split a PDF document into page groups that you define, where each group becomes one output PDF. Returns the output PDF documents as a list of files. https://www.pdfblocks.com/docs/power-automate/split-pdf-into-page-groups",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "string",
            "format": "binary",
            "description": "The content of the PDF document",
            "x-ms-summary": "File Content",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "in": "formData",
            "name": "groups",
            "type": "string",
            "description": "The groups to split into, separated by ; (semicolon). Within a group, pages and ranges are separated by , (comma). Each group becomes one output PDF, in written order. For example, 2..8,29;1 produces two PDFs: the first with pages 2 through 8 then 29, the second with page 1.",
            "x-ms-summary": "Groups",
            "x-ms-visibility": "important",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The output PDF documents.",
              "properties": {
                "documents": {
                  "type": "array",
                  "description": "The output PDF documents, in order.",
                  "x-ms-summary": "Documents",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the PDF document (00001.pdf, 00002.pdf, and so on).",
                        "x-ms-summary": "File Name"
                      },
                      "content": {
                        "type": "string",
                        "format": "byte",
                        "description": "The content of the PDF document.",
                        "x-ms-summary": "File Content"
                      },
                      "content_type": {
                        "type": "string",
                        "description": "The media type of the document.",
                        "x-ms-summary": "Content Type"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/split_by_page_count": {
      "post": {
        "operationId": "SplitByPageCount",
        "summary": "Split a PDF by page count",
        "description": "Split a PDF document into consecutive parts of a fixed number of pages. The last part holds the remaining pages and may be smaller. Returns the output PDF documents as a list of files. https://www.pdfblocks.com/docs/power-automate/split-pdf-by-page-count",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "string",
            "format": "binary",
            "description": "The content of the PDF document",
            "x-ms-summary": "File Content",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "in": "formData",
            "name": "page_count",
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "The number of pages in each output PDF document. The last part holds the remaining pages and may be smaller.",
            "x-ms-summary": "Page Count",
            "x-ms-visibility": "important",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The output PDF documents.",
              "properties": {
                "documents": {
                  "type": "array",
                  "description": "The output PDF documents, in order.",
                  "x-ms-summary": "Documents",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the PDF document (00001.pdf, 00002.pdf, and so on).",
                        "x-ms-summary": "File Name"
                      },
                      "content": {
                        "type": "string",
                        "format": "byte",
                        "description": "The content of the PDF document.",
                        "x-ms-summary": "File Content"
                      },
                      "content_type": {
                        "type": "string",
                        "description": "The media type of the document.",
                        "x-ms-summary": "Content Type"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/split_by_size": {
      "post": {
        "operationId": "SplitBySize",
        "summary": "Split a PDF by file size",
        "description": "Split a PDF document into multiple smaller PDF documents, each no larger than a maximum file size. Returns the output PDF documents as a list of files. https://www.pdfblocks.com/docs/power-automate/split-pdf-by-file-size",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "string",
            "format": "binary",
            "description": "The content of the PDF document",
            "x-ms-summary": "File Content",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "in": "formData",
            "name": "maximum_bytes",
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "The maximum size in bytes of each output PDF document (for example 1048576 for 1 MB). A single page larger than this size is returned as its own part that exceeds the limit.",
            "x-ms-summary": "Maximum Bytes",
            "x-ms-visibility": "important",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The output PDF documents.",
              "properties": {
                "documents": {
                  "type": "array",
                  "description": "The output PDF documents, in order.",
                  "x-ms-summary": "Documents",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the PDF document (00001.pdf, 00002.pdf, and so on).",
                        "x-ms-summary": "File Name"
                      },
                      "content": {
                        "type": "string",
                        "format": "byte",
                        "description": "The content of the PDF document.",
                        "x-ms-summary": "File Content"
                      },
                      "content_type": {
                        "type": "string",
                        "description": "The media type of the document.",
                        "x-ms-summary": "Content Type"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
