{
  "swagger": "2.0",
  "info": {
    "title": "Gratavid",
    "description": "Gratavid is a SaaS service that allows organizations to collect and send personalized videos.",
    "version": "1.0",
    "contact": {
      "name": "Gratavid Support",
      "url": "https://gratavid.zendesk.com/",
      "email": "contact@gratavid.com"
    }
  },
  "host": "api.gratavid.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/manageIntegrations": {
      "x-ms-notification-content": {
        "description": "Id Response",
        "schema": {
          "type": "object",
          "properties": {
            "noteTitle": {
              "type": "string",
              "description": "noteTitle",
              "title": "Gratavid Note Title"
            },
            "noteURL": {
              "type": "string",
              "description": "noteURL",
              "title": "Gratavid Note URL"
            },
            "contact_customUserId": {
              "type": "string",
              "description": "Gratavid Custom UserId of the contact",
              "title": "Contact Gratavid Custom User Id"
            },
            "contact_customAccountId": {
              "type": "string",
              "description": "Gratavid Custom AccountId of the contact",
              "title": "Contact Gratavid Custom Account Id"
            },
            "contact_email": {
              "type": "string",
              "description": "contact_email",
              "title": "Contact Email"
            },
            "contact_firstName": {
              "type": "string",
              "description": "contact_firstName",
              "title": "Contact First Name"
            },
            "contact_lastName": {
              "type": "string",
              "description": "contact_lastName",
              "title": "Contact Last Name"
            },
            "replyText": {
              "type": "string",
              "description": "replyText",
              "title": "Reply Message"
            },
            "replyVideoSrc": {
              "type": "string",
              "description": "replyVideoSrc",
              "title": "Video Reply Src"
            }
          }
        }
      },
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "label": {
                        "type": "string",
                        "description": "label",
                        "title": "",
                        "x-ms-visibility": "important"
                      },
                      "sample": {
                        "type": "string",
                        "description": "sample"
                      },
                      "value": {
                        "type": "string",
                        "description": "value"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Get Gratavid Data",
        "description": "Get Gratavid notes and users",
        "operationId": "getData",
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "microsoftPowerAutomate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "event",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "enum": [
              "getUsers",
              "getNotes"
            ]
          }
        ],
        "x-ms-visibility": "internal"
      },
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Webhook Unsubscribe",
        "description": "Unsubscribe the webhook",
        "operationId": "webhookUnsubscribe",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "microsoftPowerAutomate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "event",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "webhookUnsubscribe",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "webhookSubscribeId",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "webookHookEvent",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "When a new event (watch, reply, etc.) takes place in Gratavid",
        "description": "Triggers when a new event such as Gratavid watch, reply, task sent, unsubscribe, or text-opt out.",
        "operationId": "newEvent",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "microsoftPowerAutomate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "event",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "webhookSubscribe",
            "x-ms-visibility": "internal"
          },
          {
            "name": "webookHookEvent",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "taskSent",
              "reply",
              "noteWatched",
              "unsubscribe",
              "stopText"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "Gratavid task sent to a contact",
                "value": "taskSent"
              },
              {
                "displayName": "Contact replies to a Gratavid",
                "value": "reply"
              },
              {
                "displayName": "Contact watches a Gratavid all the way through",
                "value": "noteWatched"
              },
              {
                "displayName": "Contact unsubscribes from email after receiving Gratavid email",
                "value": "unsubscribe"
              },
              {
                "displayName": "Contact opt-out of text (replies 'STOP') after receiving Gratavid",
                "value": "stopText"
              }
            ],
            "x-ms-visibility": "important",
            "description": "Select the event you want to trigger on",
            "x-ms-summary": "Gratavid Event"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "webhookURL": {
                  "type": "string",
                  "description": "webhookURL",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                }
              },
              "required": [
                "webhookURL"
              ]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/api/integrationsEndpoint": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "taskId": {
                  "type": "string",
                  "description": "taskId"
                },
                "viewInGratavidLink": {
                  "type": "string",
                  "description": "Gratavid link"
                }
              }
            }
          }
        },
        "summary": "Create a Gratavid task",
        "operationId": "createTask",
        "description": "Create a Gratavid task",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "microsoftPowerAutomate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "event",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "createTask",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "email",
                  "title": "Contact Email",
                  "x-ms-visibility": "important"
                },
                "firstName": {
                  "type": "string",
                  "description": "firstName",
                  "title": "Contact First Name",
                  "x-ms-visibility": "important"
                },
                "lastName": {
                  "type": "string",
                  "description": "lastName",
                  "title": "Contact Last Name",
                  "x-ms-visibility": "important"
                },
                "customUserId": {
                  "type": "string",
                  "description": "customUserId",
                  "title": "Contact Gratavid Custom User Id"
                },
                "customAccountId": {
                  "type": "string",
                  "description": "customAccountId",
                  "title": "Contact Gratavid Custom Account Id"
                },
                "textOptIn": {
                  "type": "string",
                  "description": "textOptIn",
                  "title": "Contact Opted In To Text"
                },
                "cellNumber": {
                  "type": "string",
                  "description": "cellNumber",
                  "title": "Contact Cell Number"
                },
                "comments": {
                  "type": "string",
                  "description": "comments",
                  "title": "Task comments",
                  "x-ms-visibility": "important"
                },
                "assignedTo": {
                  "type": "string",
                  "description": "assignedTo",
                  "title": "Assign task to Gratavid user",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "getData",
                    "value-path": "id",
                    "value-collection": "data",
                    "value-title": "label",
                    "parameters": {
                      "source": "microsoftPowerAutomate",
                      "event": "getUsers"
                    }
                  }
                }
              },
              "required": [
                "email",
                "comments"
              ]
            }
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "noteId": {
                  "type": "string",
                  "description": "noteId"
                },
                "gvSendId": {
                  "type": "string",
                  "description": "gvSendId"
                },
                "viewInGratavidLink": {
                  "type": "string",
                  "description": "viewInGratavidLink"
                }
              }
            }
          }
        },
        "summary": "Send a Gratavid note",
        "description": "Send a Gratavid note",
        "operationId": "sendNote",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "microsoftPowerAutomate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "event",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "sendNote",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "noteId": {
                  "type": "string",
                  "description": "noteId",
                  "title": "Select Gratavid Note",
                  "x-ms-dynamic-values": {
                    "operationId": "getData",
                    "value-path": "id",
                    "value-collection": "data",
                    "value-title": "label",
                    "parameters": {
                      "source": "microsoftPowerAutomate",
                      "event": "getNotes"
                    }
                  }
                },
                "email": {
                  "type": "string",
                  "description": "email",
                  "title": "Contact Email"
                },
                "firstName": {
                  "type": "string",
                  "description": "firstName",
                  "title": "Contact First Name"
                },
                "lastName": {
                  "type": "string",
                  "description": "lastName",
                  "title": "Contact Last Name"
                },
                "customUserId": {
                  "type": "string",
                  "description": "customUserId",
                  "title": "Contact Gratavid Custom User Id"
                },
                "customAccountId": {
                  "type": "string",
                  "description": "customAccountId",
                  "title": "Contact Gratavid Custom Account Id"
                },
                "textOptIn": {
                  "type": "string",
                  "description": "textOptIn",
                  "title": "Contact Opted In To Text"
                },
                "cellNumber": {
                  "type": "string",
                  "description": "cellNumber",
                  "title": "Contact Cell Number"
                }
              },
              "required": [
                "noteId",
                "email"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "apiKey"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
      {
        "propertyName": "Website",
        "propertyValue": "https://gratavid.com/"
      },
      {
        "propertyName": "Privacy policy",
        "propertyValue": "https://account.gratavid.com/privacy"
      },
      {
        "propertyName": "Categories",
        "propertyValue": "Communication;Marketing"
      }
    ]
}
