{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "FuseLagNotam1.1",
    "description": "This connector will allow users to retrieve NOTAMs (Notices to airmen) directly from the FAA. Notams are used to notify pilots of any current and future issues within the United States Airspace.",
    "contact": {
      "name": "Falana Kidd",
      "url": "https://www.doubleaxisllc.com",
      "email": "sales@doubleaxisllc.com"
    }
  },
  "host": "external-api.faa.gov",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/notamapi/v1/notams": {
      "get": {
        "summary": "Get Notams",
        "description": "Get a list of all Notams",
        "operationId": "GetNotam",
        "parameters": [
          {
            "name": "client_id",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "",
            "description": "client_id",
            "x-ms-summary":"string"

          },
          {
            "name": "client_secret",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "",
            "description": "client_secret",
            "x-ms-summary":"string"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "pageSize"
                },
                "pageNum": {
                  "type": "integer",
                  "format": "int32",
                  "description": "pageNum"
                },
                "totalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "totalCount"
                },
                "totalPages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "totalPages"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "coreNOTAMData": {
                            "type": "object",
                            "properties": {
                              "notamEvent": {
                                "type": "object",
                                "properties": {
                                  "scenario": {
                                    "type": "string",
                                    "description": "scenario"
                                  }
                                },
                                "description": "notamEvent"
                              },
                              "notam": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "id"
                                  },
                                  "series": {
                                    "type": "string",
                                    "description": "series"
                                  },
                                  "number": {
                                    "type": "string",
                                    "description": "number"
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "type"
                                  },
                                  "issued": {
                                    "type": "string",
                                    "description": "issued"
                                  },
                                  "affectedFIR": {
                                    "type": "string",
                                    "description": "affectedFIR"
                                  },
                                  "selectionCode": {
                                    "type": "string",
                                    "description": "selectionCode"
                                  },
                                  "traffic": {
                                    "type": "string",
                                    "description": "traffic"
                                  },
                                  "purpose": {
                                    "type": "string",
                                    "description": "purpose"
                                  },
                                  "scope": {
                                    "type": "string",
                                    "description": "scope"
                                  },
                                  "minimumFL": {
                                    "type": "string",
                                    "description": "minimumFL"
                                  },
                                  "maximumFL": {
                                    "type": "string",
                                    "description": "maximumFL"
                                  },
                                  "location": {
                                    "type": "string",
                                    "description": "location"
                                  },
                                  "effectiveStart": {
                                    "type": "string",
                                    "description": "effectiveStart"
                                  },
                                  "effectiveEnd": {
                                    "type": "string",
                                    "description": "effectiveEnd"
                                  },
                                  "text": {
                                    "type": "string",
                                    "description": "text"
                                  },
                                  "classification": {
                                    "type": "string",
                                    "description": "classification"
                                  },
                                  "accountId": {
                                    "type": "string",
                                    "description": "accountId"
                                  },
                                  "lastUpdated": {
                                    "type": "string",
                                    "description": "lastUpdated"
                                  },
                                  "icaoLocation": {
                                    "type": "string",
                                    "description": "icaoLocation"
                                  },
                                  "coordinates": {
                                    "type": "string",
                                    "description": "coordinates"
                                  },
                                  "radius": {
                                    "type": "string",
                                    "description": "radius"
                                  },
                                  "schedule": {
                                    "type": "string",
                                    "description": "schedule"
                                  },
                                  "lowerLimit": {
                                    "type": "string",
                                    "description": "lowerLimit"
                                  },
                                  "upperLimit": {
                                    "type": "string",
                                    "description": "upperLimit"
                                  }
                                },
                                "description": "notam"
                              },
                              "notamTranslation": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "type"
                                    },
                                    "formattedText": {
                                      "type": "string",
                                      "description": "formattedText"
                                    }
                                  }
                                },
                                "description": "notamTranslation"
                              }
                            },
                            "description": "coreNOTAMData"
                          }
                        },
                        "description": "properties"
                      },
                      "geometry": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "type"
                          },
                          "geometries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "type"
                                },
                                "coordinates": {
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "float"
                                  },
                                  "description": "coordinates"
                                }
                              }
                            },
                            "description": "geometries"
                          }
                        },
                        "description": "geometry"
                      }
                    }
                  },
                  "description": "items"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "client_secret"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata":[
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    },
    {
      "propertyName": "Website",
      "propertyValue":"https://www.doubleaxisllc.com"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://doubleaxisllc.com/privacy-policy"
    }
  ]
}