{
  "swagger": "2.0",
  "info": {
    "version": "v1.0",
    "title": "Strategic Portfolio Manager",
    "description": "Strategic Portfolio Manager enables you to continuously connect, align and orchestrate all investments with strategies to drive business agility more effectively. It connects disparate silos across the enterprise and provides 360 degrees of insight to help ensure that all investments are derived from \u2013 and continuously align with \u2013 strategic priorities. Connect to Strategic Portfolio Manager to plan, manage, and adjust your initiatives, projects, epics and more.",
    "contact": {
      "name": "UMT360 Product Support",
      "url": "https://support.umt360.com",
      "email": "support@umt360.com"
    }
  },
  "host": "umt360pa-connector.umt360online.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/AllocationCenters/GetAllocationCenters": {
      "get": {
        "tags": [
          "AllocationCenters"
        ],
        "operationId": "AllocationCentersGetAllocationCenters",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your 360 Portfolio Insights site"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Lists all allocation centers",
        "description": "Returns a list with all allocation centers from the 360 Portfolio Insights site."
      }
    },
    "/ChangeRequests/GetChangeRequests": {
      "get": {
        "tags": [
          "ChangeRequests"
        ],
        "operationId": "ChangeRequestsGetChangeRequests",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your 360 Portfolio Insights site"
          },
          {
            "name": "entityId",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "FinancialEntitiesGetAllEntitiesShallow",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {
                "siteUrl": {
                  "parameter": "siteUrl"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "FinancialEntitiesGetAllEntitiesShallow",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {
                "siteUrl": {
                  "parameterReference": "siteUrl"
                }
              }
            },
            "x-ms-summary": "Entity",
            "description": "Choose entity by name or input an entity Uid."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "List Entity Change Requests",
        "description": "Lists all the change requests for an entity"
      }
    },
    "/ChangeRequests/GetChangeRequestStatusEnumValues": {
      "get": {
        "tags": [
          "ChangeRequests"
        ],
        "operationId": "ChangeRequestsGetChangeRequestStatusEnumValues",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "List change request status enum values",
        "description": "Utility method"
      }
    },
    "/ChangeRequests/SetChangeRequestStatus": {
      "post": {
        "tags": [
          "ChangeRequests"
        ],
        "operationId": "ChangeRequestsSetChangeRequestStatus",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your 360 Portfolio Insights site"
          },
          {
            "name": "entityId",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "FinancialEntitiesGetAllEntitiesShallow",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {
                "siteUrl": {
                  "parameter": "siteUrl"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "FinancialEntitiesGetAllEntitiesShallow",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {
                "siteUrl": {
                  "parameterReference": "siteUrl"
                }
              }
            },
            "x-ms-summary": "Entity",
            "description": "Choose entity by name or input an entity Uid."
          },
          {
            "name": "changeRequestId",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "ChangeRequestsGetChangeRequests",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {
                "siteUrl": {
                  "parameter": "siteUrl"
                },
                "entityId": {
                  "parameter": "entityId"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "ChangeRequestsGetChangeRequests",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {
                "siteUrl": {
                  "parameterReference": "siteUrl"
                },
                "entityId": {
                  "parameterReference": "entityId"
                }
              }
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ChangeRequestsGetChangeRequestStatusEnumValues",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {}
            },
            "x-ms-dynamic-list": {
              "operationId": "ChangeRequestsGetChangeRequestStatusEnumValues",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {}
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Set Change Request Status",
        "description": "Sets a change request status to draft/approved/rejected etc."
      }
    },
    "/CustomFields/GetCustomFields": {
      "get": {
        "tags": [
          "CustomFields"
        ],
        "operationId": "CustomFieldsGetCustomFields",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your 360 Portfolio Insights site"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Lists custom fields definitions",
        "description": "Utility method"
      }
    },
    "/CustomFields/GetFinancialCustomFields": {
      "get": {
        "tags": [
          "CustomFields"
        ],
        "operationId": "CustomFieldsGetFinancialCustomFields",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your 360 Portfolio Insights site"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Lists financial custom fields definitions",
        "description": "Utility method"
      }
    },
    "/CustomFields/GetEntityCustomFields": {
      "get": {
        "tags": [
          "CustomFields"
        ],
        "operationId": "CustomFieldsGetEntityCustomFields",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your 360 Portfolio Insights site"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Lists entity custom fields definitions",
        "description": "Utility method"
      }
    },
    "/EntityTypes/GetEntityTypes": {
      "get": {
        "tags": [
          "EntityTypes"
        ],
        "operationId": "EntityTypesGetEntityTypes",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your 360 Portfolio Insights site"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "List entity types",
        "description": "Returns a list with all Entity Types from the 360 Portfolio Insights site."
      }
    },
    "/Events/AddFinancialValuesChangedHook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteFinancialValuesEventArgs"
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddFinancialValuesChangedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "ReceiverEndpoint"
              ],
              "type": "object",
              "properties": {
                "SiteURL": {
                  "type": "string",
                  "x-ms-summary": "Site URL:",
                  "description": "The absolute URL of your 360 Portfolio Insights site"
                },
                "ReceiverEndpoint": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "Order": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Order",
                  "description": "The order of this event in the list"
                },
                "Name": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Name",
                  "description": "An identifier for the event"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "On Financial Values Change",
        "description": "Executed when a financial value is changed.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when a financial value is changed."
      }
    },
    "/Events/AddEntityCreatedHook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteEntityEventArgs"
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddEntityCreatedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "ReceiverEndpoint"
              ],
              "type": "object",
              "properties": {
                "SiteURL": {
                  "type": "string",
                  "x-ms-summary": "Site URL:",
                  "description": "The absolute URL of your 360 Portfolio Insights site"
                },
                "ReceiverEndpoint": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "Order": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Order",
                  "description": "The order of this event in the list"
                },
                "Name": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Name",
                  "description": "An identifier for the event"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "On Entity Created",
        "description": "Executed when a new entity is created in the 360 Portfolio Insights site.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when a new entity is created in the 360 Portfolio Insights site."
      }
    },
    "/Events/AddEntityUpdatedHook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteEntityEventArgs"
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddEntityUpdatedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "ReceiverEndpoint"
              ],
              "type": "object",
              "properties": {
                "SiteURL": {
                  "type": "string",
                  "x-ms-summary": "Site URL:",
                  "description": "The absolute URL of your 360 Portfolio Insights site"
                },
                "ReceiverEndpoint": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "Order": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Order",
                  "description": "The order of this event in the list"
                },
                "Name": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Name",
                  "description": "An identifier for the event"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "On Entity Updated",
        "description": "Executed when entity fields are updated.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when entity fields are updated."
      }
    },
    "/Events/AddEntityDeletedHook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteEntityDeletedEventArgs"
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddEntityDeletedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "ReceiverEndpoint"
              ],
              "type": "object",
              "properties": {
                "SiteURL": {
                  "type": "string",
                  "x-ms-summary": "Site URL:",
                  "description": "The absolute URL of your 360 Portfolio Insights site"
                },
                "ReceiverEndpoint": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "Order": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Order",
                  "description": "The order of this event in the list"
                },
                "Name": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Name",
                  "description": "An identifier for the event"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "On Entity Deleted",
        "description": "Executed when one or more entities are deleted from the 360 Portfolio Insights site.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when one or more entities are deleted from the 360 Portfolio Insights site."
      }
    },
    "/Events/AddStageTransitionHook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteStageEventArgs"
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddStageTransitionHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "ReceiverEndpoint"
              ],
              "type": "object",
              "properties": {
                "SiteURL": {
                  "type": "string",
                  "x-ms-summary": "Site URL:",
                  "description": "The absolute URL of your 360 Portfolio Insights site"
                },
                "ReceiverEndpoint": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "Order": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Order",
                  "description": "The order of this event in the list"
                },
                "Name": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Name",
                  "description": "An identifier for the event"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "On Process Stage Transition",
        "description": "Executed when an entity changes its workflow stage.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when an entity changes its workflow stage."
      }
    },
    "/Events/AddBreakdownValuesChangedHook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteBreakdownValuesEventArgs"
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddBreakdownValuesChangedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "ReceiverEndpoint"
              ],
              "type": "object",
              "properties": {
                "SiteURL": {
                  "type": "string",
                  "x-ms-summary": "Site URL:",
                  "description": "The absolute URL of your 360 Portfolio Insights site"
                },
                "ReceiverEndpoint": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "Order": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Order",
                  "description": "The order of this event in the list"
                },
                "Name": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Name",
                  "description": "An identifier for the event"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "On Breakdown Values Changed",
        "description": "Triggered when the breakdown values change",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Triggered when the breakdown values change"
      }
    },
    "/Events/AddActualsApprovalWorkflowStartedHook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/ActualsEventArgsBase"
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddActualsApprovalWorkflowStartedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "ReceiverEndpoint"
              ],
              "type": "object",
              "properties": {
                "SiteURL": {
                  "type": "string",
                  "x-ms-summary": "Site URL:",
                  "description": "The absolute URL of your 360 Portfolio Insights site"
                },
                "ReceiverEndpoint": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "Order": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Order",
                  "description": "The order of this event in the list"
                },
                "Name": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Name",
                  "description": "An identifier for the event"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "On Actuals Approval Workflow Started",
        "description": "Executed when Actuals Approval workflow starts",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when Actuals Approval workflow starts"
      }
    },
    "/Events/AddActualsPeriodStatusChangedHook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteActualsStatusEventArgs"
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddActualsPeriodStatusChangedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "ReceiverEndpoint"
              ],
              "type": "object",
              "properties": {
                "SiteURL": {
                  "type": "string",
                  "x-ms-summary": "Site URL:",
                  "description": "The absolute URL of your 360 Portfolio Insights site"
                },
                "ReceiverEndpoint": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "Order": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Order",
                  "description": "The order of this event in the list"
                },
                "Name": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Name",
                  "description": "An identifier for the event"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "On Actuals Period Status Changed",
        "description": "Executed when the status of an Actuals Period has been changed. Status values: Any = 0, Opened = 1, Locked = 2, Archived = 3, Waiting For Approval = 4, Open For Edit = 5, Processing = 6, Not Open = 7.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when the status of an Actuals Period has been changed. Status values: Any = 0, Opened = 1, Locked = 2, Archived = 3, Waiting For Approval = 4, Open For Edit = 5, Processing = 6, Not Open = 7."
      }
    },
    "/Events/AddChangeRequestCreatedHook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteChangeRequestsEventArgs"
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddChangeRequestCreatedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "ReceiverEndpoint"
              ],
              "type": "object",
              "properties": {
                "SiteURL": {
                  "type": "string",
                  "x-ms-summary": "Site URL:",
                  "description": "The absolute URL of your 360 Portfolio Insights site"
                },
                "ReceiverEndpoint": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "Order": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Order",
                  "description": "The order of this event in the list"
                },
                "Name": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Name",
                  "description": "An identifier for the event"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "On Change Request Created",
        "description": "Executed when a new Change Request is created.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when a new Change Request is created."
      }
    },
    "/Events/AddChangeRequestUpdatedHook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteChangeRequestsEventArgs"
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddChangeRequestUpdatedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "ReceiverEndpoint"
              ],
              "type": "object",
              "properties": {
                "SiteURL": {
                  "type": "string",
                  "x-ms-summary": "Site URL:",
                  "description": "The absolute URL of your 360 Portfolio Insights site"
                },
                "ReceiverEndpoint": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "Order": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Order",
                  "description": "The order of this event in the list"
                },
                "Name": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Name",
                  "description": "An identifier for the event"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "On Change Request Updated",
        "description": "Executed when a Change Request is updated.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when a Change Request is updated."
      }
    },
    "/Events/AddChangeRequestDeletedHook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteChangeRequestsEventArgs"
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddChangeRequestDeletedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "ReceiverEndpoint"
              ],
              "type": "object",
              "properties": {
                "SiteURL": {
                  "type": "string",
                  "x-ms-summary": "Site URL:",
                  "description": "The absolute URL of your 360 Portfolio Insights site"
                },
                "ReceiverEndpoint": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "Order": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Order",
                  "description": "The order of this event in the list"
                },
                "Name": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Name",
                  "description": "An identifier for the event"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "On Change Request Deleted",
        "description": "Executed when a \u201cChange request\u201d is deleted.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when a \u201cChange request\u201d is deleted."
      }
    },
    "/Events/AddChangeRequestStatusChangedHook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteChangeRequestStatusEventArgs"
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddChangeRequestStatusChangedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "ReceiverEndpoint"
              ],
              "type": "object",
              "properties": {
                "SiteURL": {
                  "type": "string",
                  "x-ms-summary": "Site URL:",
                  "description": "The absolute URL of your 360 Portfolio Insights site"
                },
                "ReceiverEndpoint": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "Order": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Order",
                  "description": "The order of this event in the list"
                },
                "Name": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Name",
                  "description": "An identifier for the event"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "On Change Request Status Changed",
        "description": "Executed when a Change Request status is changed. Status values: Draft = 0, Pending = 1, Approved = 2, Rejected = 3, None = 4.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when a Change Request status is changed. Status values: Draft = 0, Pending = 1, Approved = 2, Rejected = 3, None = 4."
      }
    },
    "/Events/AddResourceAssignmentAddedHook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteAssignmentEventArgs"
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddResourceAssignmentAddedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "ReceiverEndpoint"
              ],
              "type": "object",
              "properties": {
                "SiteURL": {
                  "type": "string",
                  "x-ms-summary": "Site URL:",
                  "description": "The absolute URL of your 360 Portfolio Insights site"
                },
                "ReceiverEndpoint": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "Order": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Order",
                  "description": "The order of this event in the list"
                },
                "Name": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Name",
                  "description": "An identifier for the event"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "On Resource Assignment Created",
        "description": "Executed when one or more resources are added to an entity\u2019s resource plan.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when one or more resources are added to an entity\u2019s resource plan."
      }
    },
    "/Events/AddResourceAssignmentRemovedHook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteAssignmentEventArgs"
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddResourceAssignmentRemovedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "ReceiverEndpoint"
              ],
              "type": "object",
              "properties": {
                "SiteURL": {
                  "type": "string",
                  "x-ms-summary": "Site URL:",
                  "description": "The absolute URL of your 360 Portfolio Insights site"
                },
                "ReceiverEndpoint": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "Order": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Order",
                  "description": "The order of this event in the list"
                },
                "Name": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Name",
                  "description": "An identifier for the event"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "On Resource Assignment Removed",
        "description": "Executed when one or more resources are deleted.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when one or more resources are deleted."
      }
    },
    "/Events/AddResourceAssignmentUpdatedHook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteAssignmentEventArgs"
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddResourceAssignmentUpdatedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "ReceiverEndpoint"
              ],
              "type": "object",
              "properties": {
                "SiteURL": {
                  "type": "string",
                  "x-ms-summary": "Site URL:",
                  "description": "The absolute URL of your 360 Portfolio Insights site"
                },
                "ReceiverEndpoint": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "Order": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Order",
                  "description": "The order of this event in the list"
                },
                "Name": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Name",
                  "description": "An identifier for the event"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "On Resource Assignment Updated",
        "description": "Executed when one or more resources are re-assigned.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when one or more resources are re-assigned."
      }
    },
    "/Events/AddMilestoneCreatedHook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteMilestoneEventArgs"
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddMilestoneCreatedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "ReceiverEndpoint"
              ],
              "type": "object",
              "properties": {
                "SiteURL": {
                  "type": "string",
                  "x-ms-summary": "Site URL:",
                  "description": "The absolute URL of your 360 Portfolio Insights site"
                },
                "ReceiverEndpoint": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "Order": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Order",
                  "description": "The order of this event in the list"
                },
                "Name": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Name",
                  "description": "An identifier for the event"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "On Milestone Created",
        "description": "Executed when a milestone is created in the 360 Portfolio Insights site.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when a milestone is created in the 360 Portfolio Insights site."
      }
    },
    "/Events/AddMilestoneUpdatedHook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteMilestoneEventArgs"
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddMilestoneUpdatedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "ReceiverEndpoint"
              ],
              "type": "object",
              "properties": {
                "SiteURL": {
                  "type": "string",
                  "x-ms-summary": "Site URL:",
                  "description": "The absolute URL of your 360 Portfolio Insights site"
                },
                "ReceiverEndpoint": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "Order": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Order",
                  "description": "The order of this event in the list"
                },
                "Name": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Name",
                  "description": "An identifier for the event"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "On Milestone Updated",
        "description": "Executed when a milestone is edited in the 360 Portfolio Insights site.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when a milestone is edited in the 360 Portfolio Insights site."
      }
    },
    "/Events/AddMilestoneDeletedHook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteMilestoneEventArgs"
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddMilestoneDeletedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "ReceiverEndpoint"
              ],
              "type": "object",
              "properties": {
                "SiteURL": {
                  "type": "string",
                  "x-ms-summary": "Site URL:",
                  "description": "The absolute URL of your 360 Portfolio Insights site"
                },
                "ReceiverEndpoint": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "Order": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Order",
                  "description": "The order of this event in the list"
                },
                "Name": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Name",
                  "description": "An identifier for the event"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "On Milestone Deleted",
        "description": "Executed when a milestone is deleted in the 360 Portfolio Insights site.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed when a milestone is deleted in the 360 Portfolio Insights site."
      }
    },
    "/Events/AddRelationshipCreatedHook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteRelationshipEventArgs"
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddRelationshipCreatedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "ReceiverEndpoint"
              ],
              "type": "object",
              "properties": {
                "SiteURL": {
                  "type": "string",
                  "x-ms-summary": "Site URL:",
                  "description": "The absolute URL of your 360 Portfolio Insights site"
                },
                "ReceiverEndpoint": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "Order": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Order",
                  "description": "The order of this event in the list"
                },
                "Name": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Name",
                  "description": "An identifier for the event"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "On Relationship Created",
        "description": "Executed each time a new relationship is created in the 360 Portfolio Insights site.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed each time a new relationship is created in the 360 Portfolio Insights site."
      }
    },
    "/Events/AddRelationshipUpdatedHook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteRelationshipEventArgs"
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddRelationshipUpdatedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "ReceiverEndpoint"
              ],
              "type": "object",
              "properties": {
                "SiteURL": {
                  "type": "string",
                  "x-ms-summary": "Site URL:",
                  "description": "The absolute URL of your 360 Portfolio Insights site"
                },
                "ReceiverEndpoint": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "Order": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Order",
                  "description": "The order of this event in the list"
                },
                "Name": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Name",
                  "description": "An identifier for the event"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "On Relationship Updated",
        "description": "Executed each time a new relationship is edited in the 360 Portfolio Insights site.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed each time a new relationship is edited in the 360 Portfolio Insights site."
      }
    },
    "/Events/AddRelationshipDeletedHook": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/RemoteRelationshipEventArgs"
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsAddRelationshipDeletedHook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventCreationInformation",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "ReceiverEndpoint"
              ],
              "type": "object",
              "properties": {
                "SiteURL": {
                  "type": "string",
                  "x-ms-summary": "Site URL:",
                  "description": "The absolute URL of your 360 Portfolio Insights site"
                },
                "ReceiverEndpoint": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "Order": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Order",
                  "description": "The order of this event in the list"
                },
                "Name": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Event Name",
                  "description": "An identifier for the event"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EventCreationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "On Relationship Deleted",
        "description": "Executed each time a new relationship is deleted in the 360 Portfolio Insights site.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Executed each time a new relationship is deleted in the 360 Portfolio Insights site."
      }
    },
    "/Events/DeleteHook": {
      "delete": {
        "tags": [
          "Events"
        ],
        "operationId": "EventsDeleteHook",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "siteURL",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Removes an existing trigger",
        "description": "Called to remove trigger hooks"
      }
    },
    "/FinancialBreakdowns/GetFinancialBreakdowns": {
      "get": {
        "tags": [
          "FinancialBreakdowns"
        ],
        "operationId": "FinancialBreakdownsGetFinancialBreakdowns",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your 360 Portfolio Insights site"
          },
          {
            "name": "entityId",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Entity",
            "description": "Insert entity Uid."
          },
          {
            "name": "eftId",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Entity type",
            "description": "Insert entity type Uid."
          },
          {
            "name": "dimId",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Financial dimenstion",
            "description": "Insert financial dimention Uid."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Lists financial breakdowns",
        "description": "Utility method"
      }
    },
    "/FinancialDimensions/GetFinancialDimensions": {
      "get": {
        "tags": [
          "FinancialDimensions"
        ],
        "operationId": "FinancialDimensionsGetFinancialDimensions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your 360 Portfolio Insights site"
          },
          {
            "name": "entityId",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "eftId",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Lists financial dimensions",
        "description": "Utility method"
      }
    },
    "/FinancialEntities/CreateEntity": {
      "post": {
        "tags": [
          "FinancialEntities"
        ],
        "operationId": "FinancialEntitiesCreateEntity",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your 360 Portfolio Insights site"
          },
          {
            "name": "entityTypeUid",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "EntityTypesGetEntityTypes",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {
                "siteUrl": {
                  "parameter": "siteUrl"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "EntityTypesGetEntityTypes",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {
                "siteUrl": {
                  "parameterReference": "siteUrl"
                }
              }
            },
            "x-ms-summary": "Entity Type",
            "description": "Choose an Entity Type to create the entity."
          },
          {
            "name": "entityName",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Entity Name",
            "description": "Input a unique name for the entity."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "uuid",
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "Create entity",
        "description": "Create a new entity in the 360 Portfolio Insights site."
      }
    },
    "/FinancialEntities/UpdateEntity": {
      "post": {
        "tags": [
          "FinancialEntities"
        ],
        "operationId": "FinancialEntitiesUpdateEntity",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "UMT360 site to read data from"
          },
          {
            "name": "entityId",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "FinancialEntitiesGetAllEntitiesShallow",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {
                "siteUrl": {
                  "parameter": "siteUrl"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "FinancialEntitiesGetAllEntitiesShallow",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {
                "siteUrl": {
                  "parameterReference": "siteUrl"
                }
              }
            },
            "x-ms-summary": "Entity",
            "description": "Choose entity by name or input an entity Uid."
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Name",
            "description": "A new name"
          },
          {
            "name": "description",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Description",
            "description": "Enter a description"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Update entity",
        "description": "Updates information of an existing entity"
      }
    },
    "/FinancialEntities/DeleteEntity": {
      "delete": {
        "tags": [
          "FinancialEntities"
        ],
        "operationId": "FinancialEntitiesDeleteEntity",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "UMT360 site to read data from"
          },
          {
            "name": "entityId",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "FinancialEntitiesGetAllEntitiesShallow",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {
                "siteUrl": {
                  "parameter": "siteUrl"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "FinancialEntitiesGetAllEntitiesShallow",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {
                "siteUrl": {
                  "parameterReference": "siteUrl"
                }
              }
            },
            "x-ms-summary": "Entity",
            "description": "Choose entity by name or input an entity Uid."
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Delete entity",
        "description": "Deletes an existing entity"
      }
    },
    "/FinancialEntities/GetAllEntitiesShallow": {
      "get": {
        "tags": [
          "FinancialEntities"
        ],
        "operationId": "FinancialEntitiesGetAllEntitiesShallow",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Lists all entities",
        "description": "Utility method"
      }
    },
    "/FinancialEntities/GetAllEntities": {
      "get": {
        "tags": [
          "FinancialEntities"
        ],
        "operationId": "FinancialEntitiesGetAllEntities",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your 360 Portfolio Insights site"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Filter",
            "description": "Use OData syntax to filter the entities read"
          },
          {
            "name": "selectColumns",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Columns",
            "description": "Use OData syntax to select only desired columns"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Entity"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "List all entities",
        "description": "Returns a list with all Entities from the 360 Portfolio Insights site."
      }
    },
    "/FinancialEntities/GetEntity": {
      "get": {
        "tags": [
          "FinancialEntities"
        ],
        "operationId": "FinancialEntitiesGetEntity",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your 360 Portfolio Insights site"
          },
          {
            "name": "entityId",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "FinancialEntitiesGetAllEntitiesShallow",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {
                "siteUrl": {
                  "parameter": "siteUrl"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "FinancialEntitiesGetAllEntitiesShallow",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {
                "siteUrl": {
                  "parameterReference": "siteUrl"
                }
              }
            },
            "x-ms-summary": "Entity",
            "description": "Choose entity by name or input an entity Uid."
          },
          {
            "name": "selectColumns",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Columns",
            "description": "Use OData syntax to select only desired columns"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Entity"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "Get entity",
        "description": "Returns properties of a selected entity."
      }
    },
    "/FinancialEntities/GetTimePeriods": {
      "get": {
        "tags": [
          "FinancialEntities"
        ],
        "operationId": "FinancialEntitiesGetTimePeriods",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "entityId",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "FinancialEntitiesGetAllEntitiesShallow",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {
                "siteUrl": {
                  "parameter": "siteUrl"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "FinancialEntitiesGetAllEntitiesShallow",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {
                "siteUrl": {
                  "parameterReference": "siteUrl"
                }
              }
            }
          },
          {
            "name": "eftId",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "FinancialTypesGetFinancialTypes",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {
                "siteUrl": {
                  "parameter": "siteUrl"
                },
                "entityId": {
                  "parameter": "entityId"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "FinancialTypesGetFinancialTypes",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {
                "siteUrl": {
                  "parameterReference": "siteUrl"
                },
                "entityId": {
                  "parameterReference": "entityId"
                }
              }
            }
          },
          {
            "name": "dimId",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "FinancialDimensionsGetFinancialDimensions",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {
                "siteUrl": {
                  "parameter": "siteUrl"
                },
                "entityId": {
                  "parameter": "entityId"
                },
                "eftId": {
                  "parameter": "eftId"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "FinancialDimensionsGetFinancialDimensions",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {
                "siteUrl": {
                  "parameterReference": "siteUrl"
                },
                "entityId": {
                  "parameterReference": "entityId"
                },
                "eftId": {
                  "parameterReference": "eftId"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Lists time periods",
        "description": "Utility method"
      }
    },
    "/FinancialEntities/GetTimePeriodStatusEnumValues": {
      "get": {
        "tags": [
          "FinancialEntities"
        ],
        "operationId": "FinancialEntitiesGetTimePeriodStatusEnumValues",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Lists time periods status enum values",
        "description": "Utility method"
      }
    },
    "/FinancialEntities/GetEntityFields": {
      "get": {
        "tags": [
          "FinancialEntities"
        ],
        "operationId": "FinancialEntitiesGetEntityFields",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your 360 Portfolio Insights site"
          },
          {
            "name": "entityId",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "FinancialEntitiesGetAllEntitiesShallow",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {
                "siteUrl": {
                  "parameter": "siteUrl"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "FinancialEntitiesGetAllEntitiesShallow",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {
                "siteUrl": {
                  "parameterReference": "siteUrl"
                }
              }
            },
            "x-ms-summary": "Entity",
            "description": "Choose entity by name or input an entity Uid."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "Get entity fields",
        "description": "Returns a list with an entity\u2019s field names and their unique identifiers."
      }
    },
    "/FinancialEntities/GetEntityFieldValues": {
      "post": {
        "tags": [
          "FinancialEntities"
        ],
        "operationId": "FinancialEntitiesGetEntityFieldValues",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your 360 Portfolio Insights site"
          },
          {
            "name": "entityId",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "FinancialEntitiesGetAllEntitiesShallow",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {
                "siteUrl": {
                  "parameter": "siteUrl"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "FinancialEntitiesGetAllEntitiesShallow",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {
                "siteUrl": {
                  "parameterReference": "siteUrl"
                }
              }
            },
            "x-ms-summary": "Entity",
            "description": "Choose entity by name or input an entity Uid."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FieldValue"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "Get entity fields values",
        "description": "Returns a list with all Entity Fields and their values for a certain entity."
      }
    },
    "/FinancialEntities/GetEntityFieldValue": {
      "post": {
        "tags": [
          "FinancialEntities"
        ],
        "operationId": "FinancialEntitiesGetEntityFieldValue",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your 360 Portfolio Insights site"
          },
          {
            "name": "entityId",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "FinancialEntitiesGetAllEntitiesShallow",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {
                "siteUrl": {
                  "parameter": "siteUrl"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "FinancialEntitiesGetAllEntitiesShallow",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {
                "siteUrl": {
                  "parameterReference": "siteUrl"
                }
              }
            },
            "x-ms-summary": "Entity",
            "description": "Choose entity by name or input an entity Uid."
          },
          {
            "name": "fieldIdentifier",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "FinancialEntitiesGetEntityFields",
              "value-path": "Id",
              "value-title": "Name",
              "parameters": {
                "siteUrl": {
                  "parameter": "siteUrl"
                },
                "entityId": {
                  "parameter": "entityId"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "FinancialEntitiesGetEntityFields",
              "itemValuePath": "Id",
              "itemTitlePath": "Name",
              "parameters": {
                "siteUrl": {
                  "parameterReference": "siteUrl"
                },
                "entityId": {
                  "parameterReference": "entityId"
                }
              }
            },
            "x-ms-summary": "Field",
            "description": "The custom field to read"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FieldValue"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Endpoint not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "summary": "Get entity field value",
        "description": "Returns a specific Entity Field value from an entity."
      }
    },
    "/FinancialEntities/SetEntityFieldValue": {
      "post": {
        "tags": [
          "FinancialEntities"
        ],
        "operationId": "FinancialEntitiesSetEntityFieldValue",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "siteUrl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site URL",
            "description": "The absolute URL of your 360 Portfolio Insights site"
          },
          {
[...]
