{
  "swagger": "2.0",
  "info": {
    "title": "zeroheight",
    "description": "The zeroheight MCP connects agents directly to your design system documentation. Give your agent access to your styleguide — components, tokens, patterns, and usage rules — so it can reference the right guidelines while generating code or answering questions about your design system.",
    "version": "1.0.0",
    "contact": {
      "name": "zeroheight Support",
      "url": "https://help.zeroheight.com",
      "email": "support@zeroheight.com"
    }
  },
  "host": "mcp.zeroheight.com",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json", "text/event-stream"],
  "paths": {
    "/mcp": {
      "post": {
        "operationId": "InvokeServer",
        "summary": "zeroheight MCP",
        "description": "Sends a JSON-RPC 2.0 message to the zeroheight MCP server over Streamable HTTP. Microsoft Copilot Studio handles MCP session and protocol negotiation; this operation is not intended to be called directly by makers.",
        "x-ms-agentic-protocol": "mcp-streamable-1.0",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json, text/event-stream",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "MCP Streamable HTTP response."
          },
          "401": {
            "description": "Unauthorized — the OAuth token is missing or invalid.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error from the zeroheight MCP server.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "description": "Error message returned by the zeroheight MCP server."
        }
      }
    }
  },
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://auth.zeroheight.com/oauth/authorize",
      "tokenUrl": "https://auth.zeroheight.com/oauth/token",
      "scopes": {
        "styleguide:list": "List styleguides",
        "styleguide:read": "Read styleguide content",
        "styleguide:search": "Search styleguides",
        "page:read": "Read pages",
        "styleguide_version:read": "Read styleguide versions"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "styleguide:list",
        "styleguide:read",
        "styleguide:search",
        "page:read",
        "styleguide_version:read"
      ]
    }
  ],
  "tags": [
    {
      "name": "zeroheight MCP"
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://zeroheight.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://zeroheight.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Collaboration;AI"
    }
  ]
}
