{
  "swagger": "2.0",
  "info": {
    "title": "Certopus",
    "description": "The Connector for Certopus allows users to integrate the Certopus into their workflows. With this connector, users can easily create and manage digital certificates using the Certopus platform. The connector provides a simple and intuitive interface for interacting with the Certopus, allowing users to automate tasks such as creating and publishing certificates and more.",
    "version": "1.0",
    "contact": {
      "name": "Certopus",
      "url": "https://certopus.com",
      "email": "support@certopus.com"
    }
  },
  "host": "api.certopus.com",
  "basePath": "/v1/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/certificates": {
      "post": {
        "summary": "Create a Credential",
        "operationId": "CreateCredential",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "organisationId": {
                  "type": "string",
                  "description": "organisationId",
                  "x-ms-dynamic-list": {
                    "operationId": "GetOrganisation",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "itemsPath": "data"
                  },
                  "title": "Select Organisation"
                },
                "eventId": {
                  "type": "string",
                  "description": "eventId",
                  "x-ms-dynamic-list": {
                    "operationId": "GetEvent",
                    "itemValuePath": "id",
                    "itemTitlePath": "title",
                    "itemsPath": "data",
                    "parameters": {
                      "organisationId": {
                        "parameterReference": "body/organisationId"
                      }
                    }
                  },
                  "title": "Select Event"
                },
                "categoryId": {
                  "type": "string",
                  "description": "categoryId",
                  "x-ms-dynamic-list": {
                    "operationId": "GetCategory",
                    "itemValuePath": "id",
                    "itemTitlePath": "title",
                    "itemsPath": "data",
                    "parameters": {
                      "organisationId": {
                        "parameterReference": "body/organisationId"
                      },
                      "eventId": {
                        "parameterReference": "body/eventId"
                      }
                    }
                  },
                  "title": "Select Category",
                  "x-ms-visibility": "important"
                },
                "generate": {
                  "type": "boolean",
                  "description": "generate"
                },
                "publish": {
                  "type": "boolean",
                  "description": "publish"
                },
                "recipients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "{Name}": {
                            "type": "string",
                            "description": "{Name}"
                          }
                        },
                        "description": "data"
                      },
                      "email": {
                        "type": "string",
                        "description": "email"
                      }
                    }
                  }
                }
              },
              "required": ["organisationId", "eventId", "categoryId"],
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "responses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "certificateId": {
                        "type": "string",
                        "description": "certificateId"
                      },
                      "recipient": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "email"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "{Name}": {
                                "type": "string",
                                "description": "{Name}"
                              }
                            },
                            "description": "data"
                          }
                        },
                        "description": "recipient"
                      },
                      "category": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          }
                        },
                        "description": "category"
                      },
                      "eventName": {
                        "type": "string",
                        "description": "eventName"
                      },
                      "pdfUrl": {
                        "type": "string",
                        "description": "pdfUrl"
                      },
                      "imageUrl": {
                        "type": "string",
                        "description": "imageUrl"
                      },
                      "certificateUrl": {
                        "type": "string",
                        "description": "certificateUrl"
                      },
                      "issueDate": {
                        "type": "string",
                        "description": "issueDate"
                      },
                      "expiryDate": {
                        "type": "string",
                        "description": "expiryDate"
                      },
                      "walletId": {
                        "type": "string",
                        "description": "walletId"
                      }
                    }
                  },
                  "description": "responses"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "description": "This action provides a simple and intuitive way to create and manage digital credentials using the Certopus platform"
      }
    },
    "/organisations": {
      "get": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "imageUrl": {
                        "type": "string",
                        "description": "imageUrl"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "integrationAllowed": {
                        "type": "boolean",
                        "description": "integrationAllowed"
                      }
                    }
                  },
                  "description": "data"
                },
                "email": {
                  "type": "string",
                  "description": "email"
                }
              }
            }
          }
        },
        "summary": "Get Organisation",
        "operationId": "GetOrganisation",
        "x-ms-visibility": "internal",
        "parameters": [],
        "description": "Fetch all the Organisations of current User"
      }
    },
    "/events/{organisationId}": {
      "get": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      }
                    }
                  },
                  "description": "data"
                },
                "lastKey": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "organisationId": {
                      "type": "string",
                      "description": "organisationId"
                    }
                  },
                  "description": "lastKey"
                }
              }
            }
          }
        },
        "summary": "Get Events",
        "operationId": "GetEvent",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "description": "Fetch all the Events for an Organisation"
      }
    },
    "/categories": {
      "get": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Select Category",
        "operationId": "GetCategory",
        "parameters": [
          {
            "name": "organisationId",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "eventId",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "x-ms-visibility": "internal",
        "description": "Fetch all the Categories of an Event"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://certopus.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://certopus.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Productivity"
    }
  ]
}
