{
	"swagger": "2.0",
	"info": {
		"title": "Lettria GDPR Compliance",
		"description": "Lettria GDPR Compliance helps your organization comply to GDPR by analyzing text data within your softwares and points outs compliance issues (such as personal data, offensive or subjective comments and more).",
		"contact": {
			"name": "victor",
			"url": "https://lettria.com",
			"email": "victor@lettria.com"
		},
		"version": "1.0"
	},
	"host": "api.rgpd.lettria.com",
	"basePath": "/",
	"schemes": [
		"https"
	],
	"consumes": [
		"application/json"
	],
	"produces": [
		"application/json"
	],
	"x-ms-connector-metadata": [{
			"propertyName": "Website",
			"propertyValue": "https://lettria.com"
		},
		{
			"propertyName": "Privacy policy",
			"propertyValue": "https://lettria.com/fr/politique-confidentialite"
		},
		{
			"propertyName": "Categories",
			"propertyValue": "AI;Data"
		}
	],
	"paths": {
		"/process": {
			"post": {
				"responses": {
					"400": {
						"description": "Error: bad request.",
						"schema": {
							"$ref": "#/definitions/APIErrorPayload"
						}
					},
					"401": {
						"description": "Error: unauthorized.",
						"schema": {
							"$ref": "#/definitions/APIErrorPayload"
						}
					},
					"500": {
						"description": "Error: internal server error.",
						"schema": {
							"$ref": "#/definitions/APIErrorPayload"
						}
					},
					"200": {
						"description": "Successful analysis",
						"schema": {
							"type": "object",
							"properties": {
								"decision": {
									"type": "string",
									"description": "Compliance as a string.",
									"x-ms-summary": "Compliance as string",
									"title": "Compliance string"
								},
								"dico": {
									"type": "array",
									"items": {},
									"description": "All detected dictionaries.",
									"x-ms-summary": "All detected dictionaries",
									"title": "Detected dictionaries"
								},
								"pattern": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"source": {
												"type": "string",
												"description": "Text source of the pattern.",
												"x-ms-summary": "Source of the pattern",
												"title": "Pattern source"
											},
											"type": {
												"type": "string",
												"description": "Type of the pattern.",
												"x-ms-summary": "Type of pattern",
												"title": "Pattern type"
											},
											"target": {
												"type": "integer",
												"format": "int32",
												"description": "Pattern index inside it's sentence.",
												"x-ms-summary": "Pattern index inside sentence",
												"title": "Pattern index in sentence"
											},
											"sentence_index": {
												"type": "integer",
												"format": "int32",
												"description": "Pattern sentence index.",
												"x-ms-summary": "Pattern sentence index",
												"title": "Pattern sentence index"
											}
										}
									},
									"description": "All extracted patterns.",
									"x-ms-summary": "All extracted patterns",
									"title": "All extracted patterns"
								},
								"pattern_ok": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"source": {
												"type": "string",
												"description": "Text source of the pattern.",
												"x-ms-summary": "Source of the pattern",
												"title": "Pattern source"
											},
											"type": {
												"type": "string",
												"description": "Type of the pattern.",
												"x-ms-summary": "Type of pattern",
												"title": "Pattern type"
											},
											"target": {
												"type": "integer",
												"format": "int32",
												"description": "Pattern index inside it's sentence.",
												"x-ms-summary": "Pattern index inside sentence",
												"title": "Pattern index in sentence"
											},
											"sentence_index": {
												"type": "integer",
												"format": "int32",
												"description": "Pattern sentence index.",
												"x-ms-summary": "Pattern sentence index",
												"title": "Pattern sentence index"
											}
										}
									},
									"description": "All compliant patterns.",
									"x-ms-summary": "All compliant patterns",
									"title": "All compliant patterns"
								},
								"pattern_bad": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"source": {
												"type": "string",
												"description": "Text source of the pattern.",
												"x-ms-summary": "Source of the pattern",
												"title": "Pattern source"
											},
											"type": {
												"type": "string",
												"description": "Type of the pattern.",
												"x-ms-summary": "Type of pattern",
												"title": "Pattern type"
											},
											"target": {
												"type": "integer",
												"format": "int32",
												"description": "Pattern index inside it's sentence.",
												"x-ms-summary": "Pattern index inside sentence",
												"title": "Pattern index in sentence"
											},
											"sentence_index": {
												"type": "integer",
												"format": "int32",
												"description": "Pattern sentence index.",
												"x-ms-summary": "Pattern sentence index",
												"title": "Pattern sentence index"
											}
										}
									},
									"description": "All non-compliant patterns.",
									"x-ms-summary": "All non-compliant patterns",
									"title": "All non-compliant patterns"
								},
								"problems": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"source": {
												"type": "string",
												"description": "Text source of the problem.",
												"x-ms-summary": "Source of the problem",
												"title": "Problem source"
											},
											"type": {
												"type": "string",
												"description": "Type of the problem.",
												"x-ms-summary": "Type of the problem",
												"title": "Problem type"
											},
											"target": {
												"type": "integer",
												"format": "int32",
												"description": "Problem index inside it's sentence.",
												"x-ms-summary": "Problem index inside sentence",
												"title": "Problem index"
											},
											"sentence_index": {
												"type": "integer",
												"format": "int32",
												"description": "Problem sentence index.",
												"x-ms-summary": "Problem sentence index",
												"title": "Problem sentence index"
											}
										}
									},
									"description": "Problems as a list of objects.",
									"x-ms-summary": "Problems as a list of objects",
									"title": "Problems as an object list"
								},
								"problems_list": {
									"type": "array",
									"items": {
										"type": "string",
										"description": "Type of the problem.",
										"x-ms-summary": "Type of the problem",
										"title": "Problem type"
									},
									"description": "Problems types as a list of strings.",
									"x-ms-summary": "Problems types as a list of strings",
									"title": "Problem types strings"
								},
								"problems_string": {
									"type": "string",
									"description": "Problems as a string.",
									"x-ms-summary": "Problems types as a string",
									"title": "Problem types string"
								},
								"conformite": {
									"type": "boolean",
									"description": "Compliance as a boolean.",
									"x-ms-summary": "Compliance as a boolean",
									"title": "Compliance boolean"
								}
							}
						}
					}
				},
				"summary": "Analyze GDPR Compliance",
				"description": "Lettria GDPR Compliance analyzes all the text data within your Microsoft apps and raises GDPR non-compliance issues.",
				"operationId": "Analyze",
				"parameters": [{
					"name": "body",
					"in": "body",
					"required": true,
					"schema": {
						"type": "object",
						"required": [
							"text"
						],
						"properties": {
							"text": {
								"type": "string",
								"description": "Text to analyze GDPR Compliance from.",
								"x-ms-summary": "Text to analyze GDPR Compliance",
								"title": "Text to analyze"
							}
						}
					}
				}]
			}
		}
	},
	"definitions": {
		"APIErrorPayload": {
			"type": "object",
			"properties": {
				"error": {
					"type": "string",
					"description": "Error message.",
					"x-ms-summary": "Error Message",
					"title": "Error Message"
				}
			}
		}
	},
	"parameters": {},
	"responses": {},
	"securityDefinitions": {
		"api_key": {
			"type": "apiKey",
			"in": "header",
			"name": "Authorization"
		}
	},
	"security": [],
	"tags": []
}
