{
  "basePath": "/",
  "consumes": [
    "application/x-www-form-urlencoded",
    "application/json"
  ],
  "host": "api.smsapi.com",
  "info": {
    "contact": {
      "email": "support@smsapi.com",
      "name": "SMSAPI.com",
      "url": "https://smsapi.com"
    },
    "description": "SMSAPI is a global professional SMS provider and a part of industry-leading LINK Mobility Group. We excel at providing easy and powerful tools, and Microsoft Power-Up has become one of them. Use this connector to send SMS messages globaly and manage your SMSAPI.com contact database.\nIn order to use this Power-Up, you need to have an SMSAPI.com account. SMSAPI.com is for professional use only.",
    "title": "SMSAPI",
    "version": "1.0"
  },
  "paths": {
    "/sms.do": {
      "post": {
        "description": "This method allows you to send either single or many sms in one request.",
        "operationId": "send_sms",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "fast": {
                  "default": 0,
                  "description": "Setting this parameter to '1' will result in sending message with the highest priority which ensures the quickest possible time of delivery. Fast messages costs 50% more than normal message. Attention! Mass and marketing messages must not be sent with fast parameter.",
                  "format": "int32",
                  "title": "fast",
                  "type": "integer"
                },
                "format": {
                  "default": "json",
                  "description": "format",
                  "title": "Type of returned response",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "from": {
                  "description": "Name of the sender. As a default the sender name is set to 'Test'. Only verified names are being accepted (&from=active_name). Sender name may be set after logging into Customer Portal.",
                  "title": "from",
                  "type": "string"
                },
                "group": {
                  "description": "Name of the group from the contacts database to which message should be sent.",
                  "title": "group",
                  "type": "string"
                },
                "message": {
                  "description": "The message text. Content of one message is normally 160 characters per single SMS or 70 in case of using at least one special character (polish characters are considered to be special characters). The maximal message is set to 918 normal characters or 402 if special chars are used and it is being sent as one block of 6 messages joined together and charged as six messages.",
                  "title": "message",
                  "type": "string"
                },
                "to": {
                  "description": "Recipient's mobile phone number(s) separated by comma (i.e. 44123456789,44123456788 ).",
                  "title": "to",
                  "type": "string"
                }
              },
              "required": [
                "message",
                "format"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "properties": {
                "count": {
                  "description": "count",
                  "format": "int32",
                  "type": "integer"
                },
                "list": {
                  "description": "list",
                  "items": {
                    "properties": {
                      "date_sent": {
                        "description": "Date of send",
                        "format": "int32",
                        "type": "integer"
                      },
                      "error": {
                        "description": "error",
                        "type": "string"
                      },
                      "id": {
                        "description": "Message's id",
                        "type": "string"
                      },
                      "idx": {
                        "description": "IDX if given in request",
                        "type": "string"
                      },
                      "number": {
                        "description": "Recipient's number with country prefix",
                        "type": "string"
                      },
                      "parts": {
                        "description": "Total number of parts to which message is splitted into",
                        "format": "int32",
                        "type": "integer"
                      },
                      "points": {
                        "description": "Price of delivery",
                        "format": "float",
                        "title": "",
                        "type": "number"
                      },
                      "status": {
                        "description": "status",
                        "type": "string"
                      },
                      "submitted_number": {
                        "description": "Phone number from request",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Send SMS"
      }
    }
  },
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "security": [
    {
      "oauth2_auth": [
        "sms"
      ]
    }
  ],
  "securityDefinitions": {
    "oauth2_auth": {
      "authorizationUrl": "https://ssl.smsapi.com/oauth/access",
      "flow": "accessCode",
      "scopes": {
        "sms": "sms"
      },
      "tokenUrl": "https://api.smsapi.com/oauth/token",
      "type": "oauth2"
    }
  },
  "swagger": "2.0",
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://smsapi.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.smsapi.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Marketing"
    }
  ]
}