{
  "swagger": "2.0",
  "info": {
    "title": "Riverbed IQ Assist",
    "description": "Riverbed empowers organizations to automate workflows and enhance IT operations by integrating advanced AIOps and observability. Unlock intelligent diagnostics and actionable insights to accelerate issue resolution, optimize performance, and drive greater efficiency across your service desk.",
    "contact": {
      "name": "Riverbed Support",
      "url": "https://support.riverbed.com",
      "email": "support@riverbed.com"
    },
    "version": "1.0"
  },
  "host": "app.cloud.riverbed.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/operations/{operationId}": {
      "get": {
        "tags": [
          "Skill",
          "Operation"
        ],
        "summary": "Poll Operation Status",
        "description": "Use this endpoint to get the results of a long running operation returned by HTTP 202",
        "operationId": "GetOperation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "operationId",
            "description": "Operation ID",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Operation ID",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "The output generated from the action",
            "schema": {
              "$ref": "#/definitions/SkillOutput"
            }
          },
          "202": {
            "description": "A response indicating a long running operation to be polled for status",
            "schema": {
              "$ref": "#/definitions/LongRunningResponse"
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/skills/findUserEndpoint": {
      "post": {
        "tags": [
          "Skill"
        ],
        "summary": "Find User Endpoint",
        "description": "Find user endpoint or user device hostname based on username, email or display user name.",
        "operationId": "FindUserEndpoint",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "asynchttp",
            "description": "Respond with a pollable status endpoint.",
            "type": "boolean",
            "x-ms-summary": "Respond with a pollable status endpoint.",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "username": {
                  "title": "Username",
                  "description": "The username of the user.",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "email": {
                  "title": "Email Address",
                  "description": "User email address",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "displayName": {
                  "title": "Display Name",
                  "description": "User Display Name",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "additionalProperties": false
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "The output generated from the action",
            "schema": {
              "$ref": "#/definitions/FindUserEndpointResponse"
            }
          },
          "202": {
            "description": "A response indicating a long running operation to be polled for status",
            "schema": {
              "$ref": "#/definitions/LongRunningResponse"
            }
          }
        }
      }
    },
    "/skills/createTicket": {
      "post": {
        "tags": [
          "Skill"
        ],
        "summary": "Create a Ticket",
        "description": "Create an incident in ServiceNow for a device and return the sys_id of the incident record for later updates.",
        "operationId": "CreateTicket",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "asynchttp",
            "description": "Respond with a pollable status endpoint.",
            "type": "boolean",
            "x-ms-summary": "Respond with a pollable status endpoint.",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "shortDescription": {
                  "title": "Short Description",
                  "description": "Short description of the issue",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "description": {
                  "title": "Description",
                  "description": "Detailed description of the issue",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "username": {
                  "title": "Username",
                  "description": "Username related to the issue",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "deviceName": {
                  "title": "Device Name",
                  "description": "Device name related to the issue",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "additionalProperties": false
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "The output generated from the action",
            "schema": {
              "$ref": "#/definitions/CreateTicketResponse"
            }
          },
          "202": {
            "description": "A response indicating a long running operation to be polled for status",
            "schema": {
              "$ref": "#/definitions/LongRunningResponse"
            }
          }
        }
      }
    },
    "/skills/getRemediationRunStatus": {
      "post": {
        "tags": [
          "Skill"
        ],
        "summary": "Get Remediation Run Status",
        "description": "Get remediation actions executed on a device by Aternity remediation service in the last 7 days. Remediation name is optional. An error message is returned when unsuccessful.",
        "operationId": "GetRemediationRunStatus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "asynchttp",
            "description": "Respond with a pollable status endpoint.",
            "type": "boolean",
            "x-ms-summary": "Respond with a pollable status endpoint.",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "required": [
                "deviceName",
                "runReferenceId"
              ],
              "type": "object",
              "properties": {
                "deviceName": {
                  "title": "Device Name",
                  "description": "Device name related to the issue",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "runReferenceId": {
                  "title": "Run Reference ID",
                  "description": "Identifier of a run of a remediation",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "additionalProperties": false
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "The output generated from the action",
            "schema": {
              "$ref": "#/definitions/GetRemediationRunStatusResponse"
            }
          },
          "202": {
            "description": "A response indicating a long running operation to be polled for status",
            "schema": {
              "$ref": "#/definitions/LongRunningResponse"
            }
          }
        }
      }
    },
    "/skills/startRemediationOnUserEndpoint": {
      "post": {
        "tags": [
          "Skill"
        ],
        "summary": "Initiate User Endpoint Remediation",
        "description": "Start remediation on user device.",
        "operationId": "StartRemediationOnUserEndpoint",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "asynchttp",
            "description": "Respond with a pollable status endpoint.",
            "type": "boolean",
            "x-ms-summary": "Respond with a pollable status endpoint.",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "required": [
                "deviceName",
                "remediationId"
              ],
              "type": "object",
              "properties": {
                "deviceName": {
                  "title": "Device Name",
                  "description": "The name of the device experiencing a problem or related to an incident that requires diagnosis.",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "remediationId": {
                  "title": "Remediation ID",
                  "description": "The ID of the remediation action to start.",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "additionalProperties": false
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "The output generated from the action",
            "schema": {
              "$ref": "#/definitions/StartEndpointRemediationResponse"
            }
          },
          "202": {
            "description": "A response indicating a long running operation to be polled for status",
            "schema": {
              "$ref": "#/definitions/LongRunningResponse"
            }
          }
        }
      }
    },
    "/skills/diagnoseUserEndpoint": {
      "post": {
        "tags": [
          "Skill"
        ],
        "summary": "Diagnose User Endpoint",
        "description": "Diagnose a device issue.",
        "operationId": "DiagnoseUserEndpoint",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "asynchttp",
            "description": "Respond with a pollable status endpoint.",
            "type": "boolean",
            "x-ms-summary": "Respond with a pollable status endpoint.",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "required": [
                "deviceName"
              ],
              "type": "object",
              "properties": {
                "deviceName": {
                  "title": "Device Name",
                  "description": "The name of the device experiencing a problem or related to an incident that requires diagnosis.",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "additionalProperties": false
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "The output generated from the action",
            "schema": {
              "$ref": "#/definitions/DiagnoseEndpointResponse"
            }
          },
          "202": {
            "description": "A response indicating a long running operation to be polled for status",
            "schema": {
              "$ref": "#/definitions/LongRunningResponse"
            }
          }
        }
      }
    },
    "/skills/suggestUserEndpointRemediation": {
      "post": {
        "tags": [
          "Skill"
        ],
        "summary": "Suggest User Endpoint Remediation",
        "description": "Suggest remediations for a device based on diagnosis or symptoms.",
        "operationId": "SuggestEndpointRemediation",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "asynchttp",
            "description": "Respond with a pollable status endpoint.",
            "type": "boolean",
            "x-ms-summary": "Respond with a pollable status endpoint.",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "description": "This object is used to request a suggested remediation action for a device.",
              "required": [
                "deviceName",
                "issue"
              ],
              "type": "object",
              "properties": {
                "deviceName": {
                  "title": "Device Name",
                  "description": "The name of the device that the remediation action should be applied to.",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "issue": {
                  "title": "Issue",
                  "description": "The issue experienced by the user that will influence the suggested remediation action.",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "additionalProperties": false
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "The output generated from the action",
            "schema": {
              "$ref": "#/definitions/SuggestEndpointRemediationResponse"
            }
          },
          "202": {
            "description": "A response indicating a long running operation to be polled for status",
            "schema": {
              "$ref": "#/definitions/LongRunningResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CreateTicketResponse": {
      "description": "The object contains the ticket reference number.",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "If the request fails, then this property will be populated with error details.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "response": {
          "description": "Ticket reference ID",
          "type": "string",
          "x-ms-visibility": "important"
        }
      },
      "additionalProperties": false
    },
    "DiagnoseEndpointResponse": {
      "description": "The object contains a diagnosis related to a problem on a device.",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "If the request fails, then this property will be populated with error details.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "response": {
          "description": "Device diagnosis",
          "type": "string",
          "x-ms-visibility": "important"
        }
      },
      "additionalProperties": false
    },
    "FindUserEndpointResponse": {
      "description": "The object contains the device name, hostname, or endpoint name.",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "If the request fails, then this property will be populated with error details.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "response": {
          "description": "Device name",
          "type": "string",
          "x-ms-visibility": "important"
        }
      },
      "additionalProperties": false
    },
    "GetRemediationRunStatusResponse": {
      "description": "The object contains the current status of the remediation run.",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "If the request fails, then this property will be populated with error details.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "response": {
          "description": "Remediation execution status",
          "type": "string",
          "x-ms-visibility": "important"
        }
      },
      "additionalProperties": false
    },
    "LongRunningResponse": {
      "type": "object",
      "properties": {
        "operationId": {
          "type": "string",
          "x-ms-visibility": "important"
        },
        "location": {
          "format": "uri",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "retryAfter": {
          "format": "date-time",
          "type": "string",
          "x-ms-visibility": "important"
        }
      },
      "additionalProperties": false
    },
    "SkillOutput": {
      "description": "This object is used to return the output of a skill.",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "If the request fails, then this property will be populated with error details.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "response": {
          "description": "The result from the tool, action, or skill invocation.",
          "type": "string",
          "x-ms-visibility": "important"
        }
      },
      "additionalProperties": false
    },
    "StartEndpointRemediationResponse": {
      "description": "The object contains reference to the remediation run.",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "If the request fails, then this property will be populated with error details.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "response": {
          "description": "Remediation execution ID",
          "type": "string",
          "x-ms-visibility": "important"
        }
      },
      "additionalProperties": false
    },
    "SuggestEndpointRemediationResponse": {
      "description": "The object contains a list of remediation actions that are suggested for the device.",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "If the request fails, then this property will be populated with error details.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "response": {
          "description": "Remediation recommendations",
          "type": "string",
          "x-ms-visibility": "important"
        }
      },
      "additionalProperties": false
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.riverbed.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.riverbed.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;IT Operations"
    }
  ]
}