{
  "swagger": "2.0",
  "info": {
    "title": "Riverbed IQ Assist",
    "description": "Riverbed IQ Assist interface providing automation support by Riverbed Technology",
    "contact": {
      "name": "Riverbed Support",
      "url": "https://support.riverbed.com",
      "email": "support@riverbed.com"
    },
    "version": "1.0"
  },
  "host": "iv66zay6wtrbaoyvvk5giw2b3a0iyfio.lambda-url.us-east-2.on.aws",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/skills/1.0/tenants/{tenantId}/skills/skill1": {
      "post": {
        "tags": [
          "Skill"
        ],
        "summary": "Find User Endpoint",
        "description": "Find user endpoint based on username, email or display user name.",
        "operationId": "FindUserEndpoint",
        "parameters": [
          {
            "in": "path",
            "name": "tenantId",
            "description": "The TenantId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The TenantId"
          },
          {
            "in": "query",
            "name": "username",
            "description": "Username",
            "required": true,
            "type": "string",
            "x-ms-summary": "Username"
          },
          {
            "in": "query",
            "name": "email",
            "description": "Email Address",
            "type": "string",
            "x-ms-summary": "Email Address"
          },
          {
            "in": "query",
            "name": "display_name",
            "description": "User Display Name",
            "type": "string",
            "x-ms-summary": "User Display Name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/skills/1.0/tenants/{tenantId}/skills/skill2": {
      "post": {
        "tags": [
          "Skill"
        ],
        "summary": "Create a Ticket",
        "description": "Create a ticket on a device.",
        "operationId": "CreateTicket",
        "parameters": [
          {
            "in": "path",
            "name": "tenantId",
            "description": "The TenantId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The TenantId"
          },
          {
            "in": "query",
            "name": "username",
            "description": "Username",
            "required": true,
            "type": "string",
            "x-ms-summary": "Username"
          },
          {
            "in": "query",
            "name": "email",
            "description": "Email Address",
            "type": "string",
            "x-ms-summary": "Email Address"
          },
          {
            "in": "query",
            "name": "display_name",
            "description": "User Display Name",
            "type": "string",
            "x-ms-summary": "User Display Name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/skills/1.0/tenants/{tenantId}/skills/skill3": {
      "post": {
        "tags": [
          "Skill"
        ],
        "summary": "Get Remediation Run Status",
        "description": "Get remediation run status given a remediation run ID.",
        "operationId": "GetRemediationRunStatus",
        "parameters": [
          {
            "in": "path",
            "name": "tenantId",
            "description": "The TenantId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The TenantId"
          },
          {
            "in": "query",
            "name": "username",
            "description": "Username",
            "required": true,
            "type": "string",
            "x-ms-summary": "Username"
          },
          {
            "in": "query",
            "name": "email",
            "description": "Email Address",
            "type": "string",
            "x-ms-summary": "Email Address"
          },
          {
            "in": "query",
            "name": "display_name",
            "description": "User Display Name",
            "type": "string",
            "x-ms-summary": "User Display Name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/skills/1.0/tenants/{tenantId}/skills/skill4": {
      "post": {
        "tags": [
          "Skill"
        ],
        "summary": "Initiate User Endpoint Remediation",
        "description": "Start remediation on user device.",
        "operationId": "StartRemediationOnUserEndpoint",
        "parameters": [
          {
            "in": "path",
            "name": "tenantId",
            "description": "The TenantId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The TenantId"
          },
          {
            "in": "query",
            "name": "username",
            "description": "Username",
            "required": true,
            "type": "string",
            "x-ms-summary": "Username"
          },
          {
            "in": "query",
            "name": "email",
            "description": "Email Address",
            "type": "string",
            "x-ms-summary": "Email Address"
          },
          {
            "in": "query",
            "name": "display_name",
            "description": "User Display Name",
            "type": "string",
            "x-ms-summary": "User Display Name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/skills/1.0/tenants/{tenantId}/skills/skill5": {
      "post": {
        "tags": [
          "Skill"
        ],
        "summary": "Diagnose User Endpoint",
        "description": "Diagnose a device issue.",
        "operationId": "DiagnoseUserEndpoint",
        "parameters": [
          {
            "in": "path",
            "name": "tenantId",
            "description": "The TenantId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The TenantId"
          },
          {
            "in": "query",
            "name": "username",
            "description": "Username",
            "required": true,
            "type": "string",
            "x-ms-summary": "Username"
          },
          {
            "in": "query",
            "name": "email",
            "description": "Email Address",
            "type": "string",
            "x-ms-summary": "Email Address"
          },
          {
            "in": "query",
            "name": "display_name",
            "description": "User Display Name",
            "type": "string",
            "x-ms-summary": "User Display Name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/skills/1.0/tenants/{tenantId}/skills/skill6": {
      "post": {
        "tags": [
          "Skill"
        ],
        "summary": "Suggest User Endpoint Remediation",
        "description": "Suggest remediations for a device based on diagnosis or symptoms.",
        "operationId": "SuggestUserEndpointRemediation",
        "parameters": [
          {
            "in": "path",
            "name": "tenantId",
            "description": "The TenantId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The TenantId"
          },
          {
            "in": "query",
            "name": "username",
            "description": "Username",
            "required": true,
            "type": "string",
            "x-ms-summary": "Username"
          },
          {
            "in": "query",
            "name": "email",
            "description": "Email Address",
            "type": "string",
            "x-ms-summary": "Email Address"
          },
          {
            "in": "query",
            "name": "display_name",
            "description": "User Display Name",
            "type": "string",
            "x-ms-summary": "User Display Name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.riverbed.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.riverbed.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;IT Operations"
    }
  ]
}