{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "contact@mailslurp.dev",
      "url": "https://www.mailslurp.com/contact/",
      "name": "Jack Mahoney"
    },
    "description": "MailSlurp is an API for sending and receiving emails and SMS from dynamically allocated email addresses and phone numbers. It's designed for developers and QA teams to test applications, process inbound emails, send templated notifications, attachments, and more.\n\n## Resources\n\n- [Homepage](https://www.mailslurp.com)\n- Get an [API KEY](https://app.mailslurp.com/sign-up/)\n- Generated [SDK Clients](https://docs.mailslurp.com/)\n- [Examples](https://github.com/mailslurp/examples) repository",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.mailslurp.com"
    },
    "title": "MailSlurp Email and SMS",
    "version": "1.0.0"
  },
  "host": "api.mailslurp.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/ai/structured-content/attachment": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerateStructuredContentAttachmentOptions"
            },
            "description": "Parameter body",
            "x-ms-summary": "Parameter body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StructuredContentResultDto"
            }
          }
        },
        "tags": [
          "AIController"
        ],
        "description": "Use output schemas to extract data from an attachment using AI",
        "operationId": "generateStructuredContentFromAttachment",
        "summary": "Generate structured content for an attachment",
        "x-ms-summary": "Use output schemas to extract data from an attachment using AI"
      }
    },
    "/ai/structured-content/email": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerateStructuredContentEmailOptions"
            },
            "description": "Parameter body",
            "x-ms-summary": "Parameter body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StructuredContentResultDto"
            }
          }
        },
        "tags": [
          "AIController"
        ],
        "description": "Use output schemas to extract data from an email using AI",
        "operationId": "generateStructuredContentFromEmail",
        "summary": "Generate structured content for an email",
        "x-ms-summary": "Use output schemas to extract data from an email using AI"
      }
    },
    "/ai/structured-content/sms": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerateStructuredContentSmsOptions"
            },
            "description": "Parameter body",
            "x-ms-summary": "Parameter body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StructuredContentResultDto"
            }
          }
        },
        "tags": [
          "AIController"
        ],
        "description": "Use output schemas to extract data from an SMS using AI",
        "operationId": "generateStructuredContentFromSms",
        "summary": "Generate structured content for a TXT message",
        "x-ms-summary": "Use output schemas to extract data from an SMS using AI"
      }
    },
    "/ai/structured-content/validate": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StructuredOutputSchema"
            },
            "description": "Parameter body",
            "x-ms-summary": "Parameter body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StructuredOutputSchemaValidation"
            }
          }
        },
        "tags": [
          "AIController"
        ],
        "description": "Check if a schema is valid and can be used to extract data using AI",
        "operationId": "validateStructuredOutputSchema",
        "summary": "Validate structured content schema",
        "x-ms-summary": "Check if a schema is valid and can be used to extract data using AI"
      }
    },
    "/attachments": {
      "delete": {
        "parameters": [],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "AttachmentController"
        ],
        "description": "Delete all attachments",
        "operationId": "deleteAllAttachments",
        "summary": "Delete all attachments",
        "x-ms-summary": "Delete all attachments"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 0,
            "description": "Optional page index for list pagination",
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Optional page index for list pagination"
          },
          {
            "default": 20,
            "description": "Optional page size for list pagination",
            "format": "int32",
            "in": "query",
            "name": "size",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Optional page size for list pagination"
          },
          {
            "default": "ASC",
            "description": "Optional createdAt sort direction ASC or DESC",
            "enum": [
              "ASC",
              "DESC"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional createdAt sort direction ASC or DESC"
          },
          {
            "description": "Optional file name and content type search filter",
            "in": "query",
            "name": "fileNameFilter",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional file name and content type search filter"
          },
          {
            "description": "Filter by created at after the given timestamp",
            "format": "date-time",
            "in": "query",
            "name": "since",
            "required": false,
            "type": "string",
            "x-ms-summary": "Filter by created at after the given timestamp"
          },
          {
            "description": "Filter by created at before the given timestamp",
            "format": "date-time",
            "in": "query",
            "name": "before",
            "required": false,
            "type": "string",
            "x-ms-summary": "Filter by created at before the given timestamp"
          },
          {
            "description": "Optional inboxId to filter attachments by",
            "format": "uuid",
            "in": "query",
            "name": "inboxId",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional inboxId to filter attachments by"
          },
          {
            "description": "Optional emailId to filter attachments by",
            "format": "uuid",
            "in": "query",
            "name": "emailId",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional emailId to filter attachments by"
          },
          {
            "description": "Optional sentEmailId to filter attachments by",
            "format": "uuid",
            "in": "query",
            "name": "sentEmailId",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional sentEmailId to filter attachments by"
          },
          {
            "description": "Optional list of IDs to include in result",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "include",
            "required": false,
            "type": "array",
            "x-ms-summary": "Optional list of IDs to include in result"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageAttachmentEntity"
            }
          }
        },
        "tags": [
          "AttachmentController"
        ],
        "description": "Get all attachments in paginated response. Each entity contains meta data for the attachment such as `name` and `content-type`. Use the `attachmentId` and the download endpoints to get the file contents.",
        "operationId": "getAttachments",
        "summary": "Get email attachments",
        "x-ms-summary": "Get all attachments in paginated response. Each entity contains meta data for th"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UploadAttachmentOptions"
            },
            "description": "Parameter body",
            "x-ms-summary": "Parameter body"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "AttachmentController"
        ],
        "operationId": "uploadAttachment",
        "summary": "Upload an attachment for sending using base64 file encoding. Returns an array wh",
        "description": "Upload an attachment for sending using base64 file encoding. Returns an array whose first element is the ID of the uploaded attachment.",
        "x-ms-summary": "Upload an attachment for sending using base64 file encoding. Returns an array wh"
      }
    },
    "/attachments/{attachmentId}": {
      "delete": {
        "parameters": [
          {
            "description": "ID of attachment",
            "in": "path",
            "name": "attachmentId",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID of attachment",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "AttachmentController"
        ],
        "description": "Delete an attachment",
        "operationId": "deleteAttachment",
        "summary": "Delete an attachment",
        "x-ms-summary": "Delete an attachment"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of attachment",
            "in": "path",
            "name": "attachmentId",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID of attachment",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AttachmentEntityDto"
            }
          }
        },
        "tags": [
          "AttachmentController"
        ],
        "operationId": "getAttachment",
        "summary": "Get an attachment entity",
        "description": "Get an attachment entity",
        "x-ms-summary": "Get an attachment entity"
      }
    },
    "/attachments/{attachmentId}/base64": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of attachment",
            "in": "path",
            "name": "attachmentId",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID of attachment",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DownloadAttachmentDto"
            }
          }
        },
        "tags": [
          "AttachmentController"
        ],
        "description": "Returns the specified attachment for a given email as a base 64 encoded string. The response type is application/json. This method is similar to the `downloadAttachment` method but allows some clients to get around issues with binary responses.",
        "operationId": "downloadAttachmentAsBase64Encoded",
        "summary": "Get email attachment as base64 encoded string as alternative to binary responses",
        "x-ms-summary": "Returns the specified attachment for a given email as a base 64 encoded string"
      }
    },
    "/attachments/{attachmentId}/metadata": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of attachment",
            "in": "path",
            "name": "attachmentId",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID of attachment",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AttachmentMetaData"
            }
          }
        },
        "tags": [
          "AttachmentController"
        ],
        "description": "Returns the metadata for an attachment. It is saved separately to the content of the attachment. Contains properties `name` and `content-type` and `content-length` in bytes for a given attachment.",
        "operationId": "getAttachmentInfo",
        "summary": "Get email attachment metadata information",
        "x-ms-summary": "Returns the metadata for an attachment. It is saved separately to the content of"
      }
    },
    "/bulk/inboxes": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "items": {
                "format": "uuid",
                "type": "string"
              },
              "type": "array"
            },
            "description": "Parameter body",
            "x-ms-summary": "Parameter body"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "BulkActionsController"
        ],
        "operationId": "bulkDeleteInboxes",
        "summary": "Bulk Delete Inboxes",
        "description": "Bulk Delete Inboxes",
        "x-ms-summary": "Bulk Delete Inboxes"
      },
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Number of inboxes to be created in bulk",
            "format": "int32",
            "in": "query",
            "name": "count",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Number of inboxes to be created in bulk"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "items": {
                "$ref": "#/definitions/InboxDto"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "BulkActionsController"
        ],
        "operationId": "bulkCreateInboxes",
        "summary": "Bulk create Inboxes (email addresses",
        "description": "Bulk create Inboxes (email addresses)",
        "x-ms-summary": "Bulk create Inboxes (email addresses"
      }
    },
    "/bulk/send": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkSendEmailOptions"
            },
            "description": "Parameter body",
            "x-ms-summary": "Parameter body"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "BulkActionsController"
        ],
        "operationId": "bulkSendEmails",
        "summary": "Bulk Send Emails",
        "description": "Bulk Send Emails",
        "x-ms-summary": "Bulk Send Emails"
      }
    },
    "/createInbox": {
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "allowTeamAccess",
            "required": false,
            "type": "boolean",
            "description": "Parameter allowTeamAccess",
            "x-ms-summary": "Parameter allowTeamAccess"
          },
          {
            "in": "query",
            "name": "useDomainPool",
            "required": false,
            "type": "boolean",
            "description": "Parameter useDomainPool",
            "x-ms-summary": "Parameter useDomainPool"
          },
          {
            "format": "date-time",
            "in": "query",
            "name": "expiresAt",
            "required": false,
            "type": "string",
            "description": "Parameter expiresAt",
            "x-ms-summary": "Parameter expiresAt"
          },
          {
            "format": "int64",
            "in": "query",
            "name": "expiresIn",
            "required": false,
            "type": "integer",
            "description": "Parameter expiresIn",
            "x-ms-summary": "Parameter expiresIn"
          },
          {
            "in": "query",
            "name": "emailAddress",
            "required": false,
            "type": "string",
            "description": "Parameter emailAddress",
            "x-ms-summary": "Parameter emailAddress"
          },
          {
            "description": "Type of inbox. HTTP inboxes are faster and better for most cases. SMTP inboxes are more suited for public facing inbound messages (but cannot send).",
            "enum": [
              "HTTP_INBOX",
              "SMTP_INBOX"
            ],
            "in": "query",
            "name": "inboxType",
            "required": false,
            "type": "string",
            "x-ms-summary": "Type of inbox. HTTP inboxes are faster and better for most cases. SMTP inboxes a"
          },
          {
            "in": "query",
            "name": "description",
            "required": false,
            "type": "string",
            "description": "Parameter description",
            "x-ms-summary": "Parameter description"
          },
          {
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string",
            "description": "Parameter name",
            "x-ms-summary": "Parameter name"
          },
          {
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "tags",
            "required": false,
            "type": "array",
            "description": "Parameter tags",
            "x-ms-summary": "Parameter tags"
          },
          {
            "in": "query",
            "name": "favourite",
            "required": false,
            "type": "boolean",
            "description": "Parameter favourite",
            "x-ms-summary": "Parameter favourite"
          },
          {
            "in": "query",
            "name": "virtualInbox",
            "required": false,
            "type": "boolean",
            "description": "Parameter virtualInbox",
            "x-ms-summary": "Parameter virtualInbox"
          },
          {
            "in": "query",
            "name": "useShortAddress",
            "required": false,
            "type": "boolean",
            "description": "Parameter useShortAddress",
            "x-ms-summary": "Parameter useShortAddress"
          },
          {
            "in": "query",
            "name": "domainName",
            "required": false,
            "type": "string",
            "description": "Parameter domainName",
            "x-ms-summary": "Parameter domainName"
          },
          {
            "format": "uuid",
            "in": "query",
            "name": "domainId",
            "required": false,
            "type": "string",
            "description": "Parameter domainId",
            "x-ms-summary": "Parameter domainId"
          },
          {
            "in": "query",
            "name": "prefix",
            "required": false,
            "type": "string",
            "description": "Parameter prefix",
            "x-ms-summary": "Parameter prefix"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/InboxDto"
            }
          }
        },
        "tags": [
          "CommonActionsController"
        ],
        "description": "Returns an Inbox with an `id` and an `emailAddress`",
        "operationId": "createRandomInbox",
        "summary": "Create new random inbox",
        "x-ms-summary": "Returns an Inbox with an `id` and an `emailAddress"
      }
    },
    "/deleteEmailAddress": {
      "delete": {
        "parameters": [
          {
            "description": "ID of inbox to delete",
            "format": "uuid",
            "in": "query",
            "name": "inboxId",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID of inbox to delete"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "CommonActionsController"
        ],
        "description": "Deletes inbox email address",
        "operationId": "deleteEmailAddress",
        "summary": "Delete inbox email address by inbox id",
        "x-ms-summary": "Deletes inbox email address"
      }
    },
    "/email-verification": {
      "delete": {
        "parameters": [],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "EmailVerificationController"
        ],
        "description": "Remove validation requests",
        "operationId": "deleteAllValidationRequests",
        "summary": "Delete all validation requests",
        "x-ms-summary": "Remove validation requests"
      }
    },
    "/email-verification/email-address-list": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidateEmailAddressListOptions"
            },
            "description": "Parameter body",
            "x-ms-summary": "Parameter body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ValidateEmailAddressListResult"
            }
          }
        },
        "tags": [
          "EmailVerificationController"
        ],
        "description": "Verify a list of email addresses is valid and can be contacted.",
        "operationId": "validateEmailAddressList",
        "summary": "Validate a list of email addresses. Per unit billing. See your plan for pricing",
        "x-ms-summary": "Verify a list of email addresses is valid and can be contacted"
      }
    },
    "/email-verification/validation-requests": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 0,
            "description": "Optional page index in list pagination",
            "format": "int32",
            "in": "query",
            "maximum": 9223372036854776000,
            "minimum": 0,
            "name": "page",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Optional page index in list pagination"
          },
          {
            "default": 20,
            "description": "Optional page size for paginated result list.",
            "format": "int32",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "size",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Optional page size for paginated result list"
          },
          {
            "default": "DESC",
            "description": "Optional createdAt sort direction ASC or DESC",
            "enum": [
              "ASC",
              "DESC"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional createdAt sort direction ASC or DESC"
          },
          {
            "description": "Optional search filter",
            "in": "query",
            "name": "searchFilter",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional search filter"
          },
          {
            "description": "Filter by created at after the given timestamp",
            "format": "date-time",
            "in": "query",
            "name": "since",
            "required": false,
            "type": "string",
            "x-ms-summary": "Filter by created at after the given timestamp"
          },
          {
            "description": "Filter by created at before the given timestamp",
            "format": "date-time",
            "in": "query",
            "name": "before",
            "required": false,
            "type": "string",
            "x-ms-summary": "Filter by created at before the given timestamp"
          },
          {
            "description": "Filter where email is valid is true or false",
            "in": "query",
            "name": "isValid",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Filter where email is valid is true or false"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageEmailValidationRequest"
            }
          }
        },
        "tags": [
          "EmailVerificationController"
        ],
        "description": "List email verification requests",
        "operationId": "getValidationRequests",
        "summary": "Validate a list of email addresses. Per unit billing. See your plan for pricing",
        "x-ms-summary": "List email verification requests"
      }
    },
    "/email-verification/{id}": {
      "delete": {
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "description": "Parameter id",
            "x-ms-summary": "Parameter id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "EmailVerificationController"
        ],
        "description": "Delete a validation record",
        "operationId": "deleteValidationRequest",
        "summary": "Delete a validation record",
        "x-ms-summary": "Delete a validation record"
      }
    },
    "/emails": {
      "delete": {
        "parameters": [],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Deletes all emails in your account. Be careful as emails cannot be recovered",
        "operationId": "deleteAllEmails",
        "summary": "Delete all emails in all inboxes",
        "x-ms-summary": "Deletes all emails in your account. Be careful as emails cannot be recovered"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Optional inbox ids to filter by. Can be repeated. By default will use all inboxes belonging to your account.",
            "in": "query",
            "items": {
              "format": "uuid",
              "type": "string"
            },
            "name": "inboxId",
            "required": false,
            "type": "array",
            "x-ms-summary": "Optional inbox ids to filter by. Can be repeated. By default will use all inboxe"
          },
          {
            "default": 0,
            "description": "Optional page index in email list pagination",
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Optional page index in email list pagination"
          },
          {
            "default": 20,
            "description": "Optional page size in email list pagination. Maximum size is 100. Use page index and sort to page through larger results",
            "format": "int32",
            "in": "query",
            "maximum": 100,
            "name": "size",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Optional page size in email list pagination. Maximum size is 100. Use page index"
          },
          {
            "default": "ASC",
            "description": "Optional createdAt sort direction ASC or DESC",
            "enum": [
              "ASC",
              "DESC"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional createdAt sort direction ASC or DESC"
          },
          {
            "default": false,
            "description": "Optional filter for unread emails only. All emails are considered unread until they are viewed in the dashboard or requested directly",
            "in": "query",
            "name": "unreadOnly",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Optional filter for unread emails only. All emails are considered unread until t"
          },
          {
            "description": "Optional search filter. Searches email recipients, sender, subject, email address and ID. Does not search email body",
            "in": "query",
            "name": "searchFilter",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional search filter. Searches email recipients, sender, subject, email addres"
          },
          {
            "description": "Optional filter emails received after given date time. If unset will use time 24hours prior to now.",
            "format": "date-time",
            "in": "query",
            "name": "since",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional filter emails received after given date time. If unset will use time 24"
          },
          {
            "description": "Optional filter emails received before given date time",
            "format": "date-time",
            "in": "query",
            "name": "before",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional filter emails received before given date time"
          },
          {
            "description": "Sync connectors",
            "in": "query",
            "name": "syncConnectors",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Sync connectors"
          },
          {
            "description": "Optional plus address ID filter",
            "format": "uuid",
            "in": "query",
            "name": "plusAddressId",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional plus address ID filter"
          },
          {
            "description": "Optional filter emails that are favourited",
            "in": "query",
            "name": "favourited",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Optional filter emails that are favourited"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageEmailProjection"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "By default returns all emails across all inboxes sorted by ascending created at date. Responses are paginated. You can restrict results to a list of inbox IDs. You can also filter out read messages",
        "operationId": "getEmailsPaginated",
        "summary": "Get all emails in all inboxes in paginated form. Email API list all",
        "x-ms-summary": "By default returns all emails across all inboxes sorted by ascending created at"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of the inbox you want to send the email from",
            "format": "uuid",
            "in": "query",
            "name": "inboxId",
            "required": false,
            "type": "string",
            "x-ms-summary": "ID of the inbox you want to send the email from"
          },
          {
            "description": "Use domain pool. Optionally create inbox to send from using the mailslurp domain pool.",
            "in": "query",
            "name": "useDomainPool",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Use domain pool. Optionally create inbox to send from using the mailslurp domain"
          },
          {
            "description": "Optionally create inbox to send from that is a virtual inbox and won't send to external addresses",
            "in": "query",
            "name": "virtualSend",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Optionally create inbox to send from that is a virtual inbox and won't send to e"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendEmailOptions"
            },
            "description": "Parameter body",
            "x-ms-summary": "Parameter body"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Alias for `InboxController.sendEmail` method - see original method for full details. Sends an email from a given inbox that you have created. If no inbox is supplied a random inbox will be created for you and used to send the email.",
        "operationId": "sendEmailSourceOptional",
        "summary": "Send email",
        "x-ms-summary": "Alias for `InboxController.sendEmail` method - see original method for full deta"
      }
    },
    "/emails/can-send": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of the inbox you want to send the email from",
            "format": "uuid",
            "in": "query",
            "name": "inboxId",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID of the inbox you want to send the email from"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendEmailOptions"
            },
            "description": "Parameter body",
            "x-ms-summary": "Parameter body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CanSendEmailResults"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Can user send email to given recipient or is the recipient blocked",
        "operationId": "canSend",
        "summary": "Check if email can be sent and options are valid",
        "x-ms-summary": "Can user send email to given recipient or is the recipient blocked"
      }
    },
    "/emails/check-email-client-support": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckEmailClientSupportOptions"
            },
            "description": "Parameter body",
            "x-ms-summary": "Parameter body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CheckEmailClientSupportResults"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Evaluate the features used in an email body and return a report of email client support across different platforms and versions.",
        "operationId": "checkEmailClientSupport",
        "summary": "Show which email programs and devices support the features used in an email body",
        "x-ms-summary": "Evaluate the features used in an email body and return a report of email client"
      }
    },
    "/emails/emails/count": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "query",
            "name": "inboxId",
            "required": false,
            "type": "string",
            "description": "Parameter inboxId",
            "x-ms-summary": "Parameter inboxId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CountDto"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "operationId": "getEmailCount",
        "summary": "Get email count",
        "description": "Get email count",
        "x-ms-summary": "Get email count"
      }
    },
    "/emails/gravatarFor": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "emailAddress",
            "required": true,
            "type": "string",
            "description": "Parameter emailAddress",
            "x-ms-summary": "Parameter emailAddress"
          },
          {
            "in": "query",
            "name": "size",
            "required": false,
            "type": "string",
            "description": "Parameter size",
            "x-ms-summary": "Parameter size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GravatarUrl"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Get gravatar url for email address",
        "operationId": "getGravatarUrlForEmailAddress",
        "summary": "Get gravatar url for email address",
        "x-ms-summary": "Get gravatar url for email address"
      }
    },
    "/emails/latest": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Optional set of inboxes to filter by. Only get the latest email from these inbox IDs. If not provided will search across all inboxes",
            "in": "query",
            "items": {
              "format": "uuid",
              "type": "string"
            },
            "name": "inboxIds",
            "required": false,
            "type": "array",
            "x-ms-summary": "Optional set of inboxes to filter by. Only get the latest email from these inbox"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Email"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Get the newest email in all inboxes or in a passed set of inbox IDs",
        "operationId": "getLatestEmail",
        "summary": "Get latest email in all inboxes. Most recently received",
        "x-ms-summary": "Get the newest email in all inboxes or in a passed set of inbox IDs"
      }
    },
    "/emails/latestIn": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of the inbox you want to get the latest email from",
            "format": "uuid",
            "in": "query",
            "name": "inboxId",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID of the inbox you want to get the latest email from"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Email"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Get the newest email in all inboxes or in a passed set of inbox IDs",
        "operationId": "getLatestEmailInInbox_1",
        "summary": "Get latest email in an inbox. Use `WaitForController` to get emails that may not",
        "x-ms-summary": "Get the newest email in all inboxes or in a passed set of inbox IDs"
      }
    },
    "/emails/offset-paginated": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Optional inbox ids to filter by. Can be repeated. By default will use all inboxes belonging to your account.",
            "in": "query",
            "items": {
              "format": "uuid",
              "type": "string"
            },
            "name": "inboxId",
            "required": false,
            "type": "array",
            "x-ms-summary": "Optional inbox ids to filter by. Can be repeated. By default will use all inboxe"
          },
          {
            "default": 0,
            "description": "Optional page index in email list pagination",
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Optional page index in email list pagination"
          },
          {
            "default": 20,
            "description": "Optional page size in email list pagination. Maximum size is 100. Use page index and sort to page through larger results",
            "format": "int32",
            "in": "query",
            "maximum": 100,
            "name": "size",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Optional page size in email list pagination. Maximum size is 100. Use page index"
          },
          {
            "default": "ASC",
            "description": "Optional createdAt sort direction ASC or DESC",
            "enum": [
              "ASC",
              "DESC"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional createdAt sort direction ASC or DESC"
          },
          {
            "default": false,
            "description": "Optional filter for unread emails only. All emails are considered unread until they are viewed in the dashboard or requested directly",
            "in": "query",
            "name": "unreadOnly",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Optional filter for unread emails only. All emails are considered unread until t"
          },
          {
            "description": "Optional search filter. Searches email recipients, sender, subject, email address and ID. Does not search email body",
            "in": "query",
            "name": "searchFilter",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional search filter. Searches email recipients, sender, subject, email addres"
          },
          {
            "description": "Optional filter emails received after given date time",
            "format": "date-time",
            "in": "query",
            "name": "since",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional filter emails received after given date time"
          },
          {
            "description": "Optional filter emails received before given date time",
            "format": "date-time",
            "in": "query",
            "name": "before",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional filter emails received before given date time"
          },
          {
            "description": "Optional filter emails that are favourited",
            "in": "query",
            "name": "favourited",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Optional filter emails that are favourited"
          },
          {
            "description": "Sync connectors",
            "in": "query",
            "name": "syncConnectors",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Sync connectors"
          },
          {
            "description": "Optional plus address ID filter",
            "format": "uuid",
            "in": "query",
            "name": "plusAddressId",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional plus address ID filter"
          },
          {
            "description": "Optional list of IDs to include in result",
            "in": "query",
            "items": {
              "format": "uuid",
              "type": "string"
            },
            "name": "include",
            "required": false,
            "type": "array",
            "x-ms-summary": "Optional list of IDs to include in result"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageEmailProjection"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "By default returns all emails across all inboxes sorted by ascending created at date. Responses are paginated. You can restrict results to a list of inbox IDs. You can also filter out read messages",
        "operationId": "getEmailsOffsetPaginated",
        "summary": "Get all emails in all inboxes in paginated form. Email API list all",
        "x-ms-summary": "By default returns all emails across all inboxes sorted by ascending created at"
      }
    },
    "/emails/organization": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Optional inbox ids to filter by. Can be repeated. By default will use all inboxes belonging to your account.",
            "in": "query",
            "items": {
              "format": "uuid",
              "type": "string"
            },
            "name": "inboxId",
            "required": false,
            "type": "array",
            "x-ms-summary": "Optional inbox ids to filter by. Can be repeated. By default will use all inboxe"
          },
          {
            "default": 0,
            "description": "Optional page index in email list pagination",
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Optional page index in email list pagination"
          },
          {
            "default": 20,
            "description": "Optional page size in email list pagination. Maximum size is 100. Use page index and sort to page through larger results",
            "format": "int32",
            "in": "query",
            "maximum": 100,
            "name": "size",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Optional page size in email list pagination. Maximum size is 100. Use page index"
          },
          {
            "default": "ASC",
            "description": "Optional createdAt sort direction ASC or DESC",
            "enum": [
              "ASC",
              "DESC"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional createdAt sort direction ASC or DESC"
          },
          {
            "default": false,
            "description": "Optional filter for unread emails only. All emails are considered unread until they are viewed in the dashboard or requested directly",
            "in": "query",
            "name": "unreadOnly",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Optional filter for unread emails only. All emails are considered unread until t"
          },
          {
            "description": "Optional search filter search filter for emails.",
            "in": "query",
            "name": "searchFilter",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional search filter search filter for emails"
          },
          {
            "description": "Optional filter emails received after given date time. If unset will use time 24hours prior to now.",
            "format": "date-time",
            "in": "query",
            "name": "since",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional filter emails received after given date time. If unset will use time 24"
          },
          {
            "description": "Optional filter emails received before given date time",
            "format": "date-time",
            "in": "query",
            "name": "before",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional filter emails received before given date time"
          },
          {
            "description": "Sync connectors",
            "in": "query",
            "name": "syncConnectors",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Sync connectors"
          },
          {
            "description": "Search only favorited emails",
            "in": "query",
            "name": "favourited",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Search only favorited emails"
          },
          {
            "description": "Optional plus address ID filter",
            "format": "uuid",
            "in": "query",
            "name": "plusAddressId",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional plus address ID filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageEmailProjection"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "By default returns all emails across all team inboxes sorted by ascending created at date. Responses are paginated. You can restrict results to a list of inbox IDs. You can also filter out read messages",
        "operationId": "getOrganizationEmailsPaginated",
        "summary": "Get all organization emails. List team or shared test email accounts",
        "x-ms-summary": "By default returns all emails across all team inboxes sorted by ascending create"
      }
    },
    "/emails/read": {
      "patch": {
        "parameters": [
          {
            "default": true,
            "description": "What value to assign to email read property. Default true.",
            "in": "query",
            "name": "read",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "What value to assign to email read property. Default true"
          },
          {
            "description": "Optional inbox ID filter",
            "format": "uuid",
            "in": "query",
            "name": "inboxId",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional inbox ID filter"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Marks all emails as read or unread. Pass boolean read flag to set value. This is useful if you want to read an email but keep it as unread",
        "operationId": "markAllAsRead",
        "summary": "Mark all emails as read or unread",
        "x-ms-summary": "Marks all emails as read or unread. Pass boolean read flag to set value. This is"
      }
    },
    "/emails/search": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Sync connectors",
            "in": "query",
            "name": "syncConnectors",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Sync connectors"
          },
          {
            "description": "Search only favourited emails",
            "in": "query",
            "name": "favourited",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Search only favourited emails"
          },
          {
            "description": "Optional plus address ID filter",
            "format": "uuid",
            "in": "query",
            "name": "plusAddressId",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional plus address ID filter"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SearchEmailsOptions"
            },
            "description": "Parameter body",
            "x-ms-summary": "Parameter body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageEmailProjection"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Search emails by given criteria return matches in paginated format. Searches against email recipients, sender, subject, email address and ID. Does not search email body",
        "operationId": "searchEmails",
        "summary": "Get all emails by search criteria. Return in paginated form",
        "x-ms-summary": "Search emails by given criteria return matches in paginated format. Searches aga"
      }
    },
    "/emails/threads": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Optional inbox filter",
            "format": "uuid",
            "in": "query",
            "name": "htmlSelector",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional inbox filter"
          },
          {
            "default": 0,
            "description": "Optional page index in email thread pagination",
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Optional page index in email thread pagination"
          },
          {
            "default": 20,
            "description": "Optional page size in email thread pagination. Maximum size is 100. Use page index and sort to page through larger results",
            "format": "int32",
            "in": "query",
            "maximum": 100,
            "name": "size",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Optional page size in email thread pagination. Maximum size is 100. Use page ind"
          },
          {
            "default": "ASC",
            "description": "Optional createdAt sort direction ASC or DESC",
            "enum": [
              "ASC",
              "DESC"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional createdAt sort direction ASC or DESC"
          },
          {
            "description": "Optional search filter search filter for email threads.",
            "in": "query",
            "name": "searchFilter",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional search filter search filter for email threads"
          },
          {
            "description": "Optional filter email threads created since time",
            "format": "date-time",
            "in": "query",
            "name": "since",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional filter email threads created since time"
          },
          {
            "description": "Optional filter emails threads created before given date time",
            "format": "date-time",
            "in": "query",
            "name": "before",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional filter emails threads created before given date time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageEmailThreadProjection"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Return email message chains built from Message-ID, In-Reply-To, and References header.",
        "operationId": "getEmailThreads",
        "summary": "Return email threads in paginated form",
        "x-ms-summary": "Return email message chains built from Message-ID, In-Reply-To, and References h"
      }
    },
    "/emails/threads/{threadId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "threadId",
            "required": true,
            "type": "string",
            "description": "Parameter threadId",
            "x-ms-summary": "Parameter threadId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EmailThreadDto"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Return email message thread summary from Message-ID, In-Reply-To, and References header. Get messages using items endpoint",
        "operationId": "getEmailThread",
        "summary": "Return email thread information. Use items endpoints to get messages for thread",
        "x-ms-summary": "Return email message thread summary from Message-ID, In-Reply-To, and References"
      }
    },
    "/emails/threads/{threadId}/items": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "threadId",
            "required": true,
            "type": "string",
            "description": "Parameter threadId",
            "x-ms-summary": "Parameter threadId",
            "x-ms-url-encoding": "single"
          },
          {
            "default": "ASC",
            "description": "Optional createdAt sort direction ASC or DESC",
            "enum": [
              "ASC",
              "DESC"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional createdAt sort direction ASC or DESC"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EmailThreadItemsDto"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Return email thread messages based on Message-ID, In-Reply-To, and References header",
        "operationId": "getEmailThreadItems",
        "summary": "Return email thread items",
        "x-ms-summary": "Return email thread messages based on Message-ID, In-Reply-To, and References he"
      }
    },
    "/emails/unreadCount": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Optional inbox ID filter",
            "format": "uuid",
            "in": "query",
            "name": "inboxId",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional inbox ID filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UnreadCount"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Get number of emails unread. Unread means has not been viewed in dashboard or returned in an email API response",
        "operationId": "getUnreadEmailCount",
        "summary": "Get unread email count",
        "x-ms-summary": "Get number of emails unread. Unread means has not been viewed in dashboard or re"
      }
    },
    "/emails/{emailId}": {
      "delete": {
        "parameters": [
          {
            "description": "ID of email to delete",
            "format": "uuid",
            "in": "path",
            "name": "emailId",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID of email to delete",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Deletes an email and removes it from the inbox. Deleted emails cannot be recovered.",
        "operationId": "deleteEmail",
        "summary": "Delete an email",
        "x-ms-summary": "Deletes an email and removes it from the inbox. Deleted emails cannot be recover"
      },
      "get": {
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "emailId",
            "required": true,
            "type": "string",
            "description": "Parameter emailId",
            "x-ms-summary": "Parameter emailId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Email"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Returns a email summary object with headers and content. To retrieve the raw unparsed email use the getRawEmail endpoints",
        "operationId": "getEmail",
        "summary": "Get email content including headers and body. Expects email to exist by ID. For",
        "x-ms-summary": "Returns a email summary object with headers and content. To retrieve the raw unp"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of the email that should be replied to",
            "format": "uuid",
            "in": "path",
            "name": "emailId",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID of the email that should be replied to",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReplyToEmailOptions"
            },
            "description": "Parameter body",
            "x-ms-summary": "Parameter body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SentEmailDto"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Send the reply to the email sender or reply-to and include same subject cc bcc etc. Reply to an email and the contents will be sent with the existing subject to the emails `to`, `cc`, and `bcc`.",
        "operationId": "replyToEmail",
        "summary": "Reply to an email",
        "x-ms-summary": "Send the reply to the email sender or reply-to and include same subject cc bcc e"
      }
    },
    "/emails/{emailId}/attachments": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of email",
            "format": "uuid",
            "in": "path",
            "name": "emailId",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID of email",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/AttachmentMetaData"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Returns an array of attachment metadata such as name and content-type for a given email if present.",
        "operationId": "getEmailAttachments",
        "summary": "Get all email attachment metadata. Metadata includes name and size of attachment",
        "x-ms-summary": "Returns an array of attachment metadata such as name and content-type for a give"
      }
    },
    "/emails/{emailId}/attachments/{attachmentId}/base64": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of email",
            "format": "uuid",
            "in": "path",
            "name": "emailId",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID of email",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "ID of attachment",
            "in": "path",
            "name": "attachmentId",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID of attachment",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DownloadAttachmentDto"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Returns the specified attachment for a given email as a base 64 encoded string. The response type is application/json. This method is similar to the `downloadAttachment` method but allows some clients to get around issues with binary responses.",
        "operationId": "downloadAttachmentBase64",
        "summary": "Get email attachment as base64 encoded string as an alternative to binary respon",
        "x-ms-summary": "Returns the specified attachment for a given email as a base 64 encoded string"
      }
    },
    "/emails/{emailId}/attachments/{attachmentId}/metadata": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of email",
            "format": "uuid",
            "in": "path",
            "name": "emailId",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID of email",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "ID of attachment",
            "in": "path",
            "name": "attachmentId",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID of attachment",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AttachmentMetaData"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Returns the metadata such as name and content-type for a given attachment and email.",
        "operationId": "getAttachmentMetaData",
        "summary": "Get email attachment metadata. This is the `contentType` and `contentLength` of",
        "x-ms-summary": "Returns the metadata such as name and content-type for a given attachment and em"
      }
    },
    "/emails/{emailId}/check-email-body": {
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "emailId",
            "required": true,
            "type": "string",
            "description": "Parameter emailId",
            "x-ms-summary": "Parameter emailId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CheckEmailBodyResults"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Find dead links, broken images, and spelling mistakes in email body. Will call included links via HTTP so do not invoke if your links are sensitive or stateful. Any resource that returns a 4xx or 5xx response or is not reachable via HEAD or GET HTTP operations will be considered unhealthy.",
        "operationId": "checkEmailBody",
        "summary": "Detect broken links, spelling, and images in email content",
        "x-ms-summary": "Find dead links, broken images, and spelling mistakes in email body. Will call i"
      }
    },
    "/emails/{emailId}/check-email-body-feature-support": {
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "emailId",
            "required": true,
            "type": "string",
            "description": "Parameter emailId",
            "x-ms-summary": "Parameter emailId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CheckEmailBodyFeatureSupportResults"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Detect HTML and CSS features inside an email body and return a report of email client support across different platforms and versions.",
        "operationId": "checkEmailBodyFeatureSupport",
        "summary": "Show which mail clients support the HTML and CSS features used in an email body",
        "x-ms-summary": "Detect HTML and CSS features inside an email body and return a report of email c"
      }
    },
    "/emails/{emailId}/contentMatch": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of email to match against",
            "format": "uuid",
            "in": "path",
            "name": "emailId",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID of email to match against",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContentMatchOptions"
            },
            "description": "Parameter body",
            "x-ms-summary": "Parameter body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EmailContentMatchResult"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Return the matches for a given Java style regex pattern. Do not include the typical `/` at start or end of regex in some languages. Given an example `your code is: 12345` the pattern to extract match looks like `code is: (\\d{6})`. This will return an array of matches with the first matching the entire pattern and the subsequent matching the groups: `['code is: 123456', '123456']` See https://docs.oracle.com/javase/8/docs/api/java/util/regex/Pattern.html for more information of available patterns. ",
        "operationId": "getEmailContentMatch",
        "summary": "Get email content regex pattern match results. Runs regex against email body and",
        "x-ms-summary": "Return the matches for a given Java style regex pattern. Do not include the typi"
      }
    },
    "/emails/{emailId}/contentPart": {
      "get": {
        "parameters": [
          {
            "description": "ID of email to match against",
            "format": "uuid",
            "in": "path",
            "name": "emailId",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID of email to match against",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Content type",
            "in": "query",
            "name": "contentType",
            "required": true,
            "type": "string",
            "x-ms-summary": "Content type"
          },
          {
            "description": "Strict content type match",
            "in": "query",
            "name": "strict",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Strict content type match"
          },
          {
            "description": "Index of content type part if multiple",
            "format": "int32",
            "in": "query",
            "name": "index",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Index of content type part if multiple"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EmailContentPartResult"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Get email body content parts from a multipart email message for a given content type",
        "operationId": "getEmailContentPart",
        "summary": "Get email content part by content type",
        "x-ms-summary": "Get email body content parts from a multipart email message for a given content"
      }
    },
    "/emails/{emailId}/contentPart/raw": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of email to match against",
            "format": "uuid",
            "in": "path",
            "name": "emailId",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID of email to match against",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Content type",
            "in": "query",
            "name": "contentType",
            "required": true,
            "type": "string",
            "x-ms-summary": "Content type"
          },
          {
            "description": "Strict content type match",
            "in": "query",
            "name": "strict",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Strict content type match"
          },
          {
            "description": "Index of content type part if multiple. Starts from 0 and applies to the result list after selecting for your content type. Content type parts are sorted by order found in original MIME message.",
            "format": "int32",
            "in": "query",
            "name": "index",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Index of content type part if multiple. Starts from 0 and applies to the result"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Get email body content parts from a multipart email message for a given content type and return as response",
        "operationId": "getEmailContentPartContent",
        "summary": "Get email content part by content type raw response",
        "x-ms-summary": "Get email body content parts from a multipart email message for a given content"
      }
    },
    "/emails/{emailId}/favourite": {
      "put": {
        "parameters": [
          {
            "description": "ID of email to set favourite state",
            "format": "uuid",
            "in": "path",
            "name": "emailId",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID of email to set favourite state",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "query",
            "name": "favourited",
            "required": true,
            "type": "boolean",
            "description": "Parameter favourited",
            "x-ms-summary": "Parameter favourited"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Set and return new favorite state for an email",
        "operationId": "setEmailFavourited",
        "summary": "Set email favourited state",
        "x-ms-summary": "Set and return new favorite state for an email"
      }
    },
    "/emails/{emailId}/forward": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of email",
            "format": "uuid",
            "in": "path",
            "name": "emailId",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID of email",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ForwardEmailOptions"
            },
            "description": "Parameter body",
            "x-ms-summary": "Parameter body"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/SentEmailDto"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Forward an existing email to new recipients. The sender of the email will be the inbox that received the email you are forwarding. You can override the sender with the `from` option. Note you must have access to the from address in MailSlurp to use the override. For more control consider fetching the email and sending it a new using the send email endpoints.",
        "operationId": "forwardEmail",
        "summary": "Forward email to recipients",
        "x-ms-summary": "Forward an existing email to new recipients. The sender of the email will be the"
      }
    },
    "/emails/{emailId}/html": {
      "get": {
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "emailId",
            "required": true,
            "type": "string",
            "description": "Parameter emailId",
            "x-ms-summary": "Parameter emailId",
            "x-ms-url-encoding": "single"
          },
          {
            "default": false,
            "in": "query",
            "name": "replaceCidImages",
            "required": false,
            "type": "boolean",
            "description": "Parameter replaceCidImages",
            "x-ms-summary": "Parameter replaceCidImages"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Retrieve email content as HTML response for viewing in browsers. Decodes quoted-printable entities and converts charset to UTF-8. Pass your API KEY as a request parameter when viewing in a browser: `?apiKey=xxx`. Returns content-type `text/html;charset=utf-8` so you must call expecting that content response not JSON. For JSON response see the `getEmailHTMLJson` method.",
        "operationId": "getEmailHTML",
        "summary": "Get email content as HTML. For displaying emails in browser context",
        "x-ms-summary": "Retrieve email content as HTML response for viewing in browsers. Decodes quoted"
      }
    },
    "/emails/{emailId}/html/json": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "emailId",
            "required": true,
            "type": "string",
            "description": "Parameter emailId",
            "x-ms-summary": "Parameter emailId",
            "x-ms-url-encoding": "single"
          },
          {
            "default": false,
            "in": "query",
            "name": "replaceCidImages",
            "required": false,
            "type": "boolean",
            "description": "Parameter replaceCidImages",
            "x-ms-summary": "Parameter replaceCidImages"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EmailHtmlDto"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Retrieve email content as HTML response. Decodes quoted-printable entities and converts charset to UTF-8. Returns content-type `application/json;charset=utf-8` so you must call expecting that content response not JSON.",
        "operationId": "getEmailHTMLJson",
        "summary": "Get email content as HTML in JSON wrapper. For fetching entity decoded HTML cont",
        "x-ms-summary": "Retrieve email content as HTML response. Decodes quoted-printable entities and c"
      }
    },
    "/emails/{emailId}/htmlQuery": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of email to perform HTML query on",
            "format": "uuid",
            "in": "path",
            "name": "emailId",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID of email to perform HTML query on",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "HTML selector to search for. Uses JQuery/JSoup/CSS style selector like '.my-div' to match content. See https://jsoup.org/apidocs/org/jsoup/select/Selector.html for more information.",
            "in": "query",
            "name": "htmlSelector",
            "required": true,
            "type": "string",
            "x-ms-summary": "HTML selector to search for. Uses JQuery JSoup CSS style selector like '.my-div"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EmailTextLinesResult"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Parse an email body and return the content as an array of text. HTML parsing uses JSoup which supports JQuery/CSS style selectors",
        "operationId": "getEmailHTMLQuery",
        "summary": "Parse and return text from an email, stripping HTML and decoding encoded charact",
        "x-ms-summary": "Parse an email body and return the content as an array of text. HTML parsing use"
      }
    },
    "/emails/{emailId}/imap-flag-operation": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "emailId",
            "required": true,
            "type": "string",
            "description": "Parameter emailId",
            "x-ms-summary": "Parameter emailId",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImapFlagOperationOptions"
            },
            "description": "Parameter body",
            "x-ms-summary": "Parameter body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EmailPreview"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Apply RFC3501 section-2.3.2 IMAP flag operations on an email",
        "operationId": "applyImapFlagOperation",
        "summary": "Set IMAP flags associated with a message",
        "x-ms-summary": "Apply RFC3501 section-2.3.2 IMAP flag operations on an email"
      }
    },
    "/emails/{emailId}/links": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of email to fetch text for",
            "format": "uuid",
            "in": "path",
            "name": "emailId",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID of email to fetch text for",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Optional HTML query selector for links",
            "in": "query",
            "name": "selector",
            "required": false,
            "type": "string",
            "x-ms-summary": "Optional HTML query selector for links"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EmailLinksResult"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "HTML parsing uses JSoup and UNIX line separators. Searches content for href attributes",
        "operationId": "getEmailLinks",
        "summary": "Parse and return list of links found in an email (only works for HTML content",
        "x-ms-summary": "HTML parsing uses JSoup and UNIX line separators. Searches content for href attr"
      }
    },
    "/emails/{emailId}/raw": {
      "get": {
        "parameters": [
          {
            "description": "ID of email",
            "format": "uuid",
            "in": "path",
            "name": "emailId",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID of email",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Returns a raw, unparsed, and unprocessed email. If your client has issues processing the response it is likely due to the response content-type which is text/plain. If you need a JSON response content-type use the getRawEmailJson endpoint",
        "operationId": "getRawEmailContents",
        "summary": "Get raw email string. Returns unparsed raw SMTP message with headers and body",
        "x-ms-summary": "Returns a raw, unparsed, and unprocessed email. If your client has issues proces"
      }
    },
    "/emails/{emailId}/raw/json": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of email",
            "format": "uuid",
            "in": "path",
            "name": "emailId",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID of email",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RawEmailJson"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Returns a raw, unparsed, and unprocessed email wrapped in a JSON response object for easier handling when compared with the getRawEmail text/plain response",
        "operationId": "getRawEmailJson",
        "summary": "Get raw email in JSON. Unparsed SMTP message in JSON wrapper format",
        "x-ms-summary": "Returns a raw, unparsed, and unprocessed email wrapped in a JSON response object"
      }
    },
    "/emails/{emailId}/read": {
      "patch": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "emailId",
            "required": true,
            "type": "string",
            "description": "Parameter emailId",
            "x-ms-summary": "Parameter emailId",
            "x-ms-url-encoding": "single"
          },
          {
            "default": true,
            "description": "What value to assign to email read property. Default true.",
            "in": "query",
            "name": "read",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "What value to assign to email read property. Default true"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EmailPreview"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Marks an email as read or unread. Pass boolean read flag to set value. This is useful if you want to read an email but keep it as unread",
        "operationId": "markAsRead",
        "summary": "Mark an email as read or unread",
        "x-ms-summary": "Marks an email as read or unread. Pass boolean read flag to set value. This is u"
      }
    },
    "/emails/{emailId}/screenshot/base64": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "emailId",
            "required": true,
            "type": "string",
            "description": "Parameter emailId",
            "x-ms-summary": "Parameter emailId",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetEmailScreenshotOptions"
            },
            "description": "Parameter body",
            "x-ms-summary": "Parameter body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EmailScreenshotResult"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Capture image of email screenshot and return as base64 encoded string. Useful for embedding in HTML. Be careful as this may contain sensitive information.",
        "operationId": "getEmailScreenshotAsBase64",
        "summary": "Take a screenshot of an email in a browser and return base64 encoded string",
        "x-ms-summary": "Capture image of email screenshot and return as base64 encoded string. Useful fo"
      }
    },
    "/emails/{emailId}/screenshot/binary": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "emailId",
            "required": true,
            "type": "string",
            "description": "Parameter emailId",
            "x-ms-summary": "Parameter emailId",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetEmailScreenshotOptions"
            },
            "description": "Parameter body",
            "x-ms-summary": "Parameter body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Returns binary octet-stream of screenshot of the given email",
        "operationId": "getEmailScreenshotAsBinary",
        "summary": "Take a screenshot of an email in a browser",
        "x-ms-summary": "Returns binary octet-stream of screenshot of the given email"
      }
    },
    "/emails/{emailId}/summary": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "emailId",
            "required": true,
            "type": "string",
            "description": "Parameter emailId",
            "x-ms-summary": "Parameter emailId",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "query",
            "name": "decode",
            "required": false,
            "type": "boolean",
            "description": "Parameter decode",
            "x-ms-summary": "Parameter decode"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EmailPreview"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Returns a email summary object with headers. To retrieve the body see getEmail and to get raw unparsed email use the getRawEmail endpoints",
        "operationId": "getEmailSummary",
        "summary": "Get email data including headers but not body. Expects email to exist by ID. For",
        "x-ms-summary": "Returns a email summary object with headers. To retrieve the body see getEmail a"
      }
    },
    "/emails/{emailId}/textLines": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of email to fetch text for",
            "format": "uuid",
            "in": "path",
            "name": "emailId",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID of email to fetch text for",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Decode HTML entities",
            "in": "query",
            "name": "decodeHtmlEntities",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Decode HTML entities"
          },
          {
            "description": "Line separator character",
            "in": "query",
            "name": "lineSeparator",
            "required": false,
            "type": "string",
            "x-ms-summary": "Line separator character"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EmailTextLinesResult"
            }
          }
        },
        "tags": [
          "EmailController"
        ],
        "description": "Parse an email body and return the content as an array of strings. HTML parsing uses JSoup and UNIX line separators.",
        "operationId": "getEmailTextLines",
        "summary": "Parse and return text from an email, stripping HTML and decoding encoded charact",
        "x-ms-summary": "Parse an email body and return the content as an array of strings. HTML parsing"
      }
    },
    "/emails/{emailId}/urls": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "uuid",
            "in": "path",
            "name": "emailId",
            "required": true,
            "type": "string",
            "description": "Parameter emailId",
            "x-ms-summary": "Parameter emailId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EmailPreviewUrls"
            }
          }
        },
        "tags": [
          "EmailController"
[...]
