{
  "swagger": "2.0",
  "info": {
    "title": "Automaited - E-Invoice",
    "version": "1.0.0",
    "description": "Validate E-Invoice / E-Rechnung in all common formats such as XRechnung, ZUGFeRD and Factur-X",
    "contact": {
      "name": "Automaited",
      "url": "https://automaited.com",
      "email": "support@automaited.com"
    }
  },
  "host": "app.automaited.com",
  "basePath": "/api/",
  "schemes": [
    "https"
  ],
  "x-ms-capabilities": {
    "brandColor": "#6612f8",
    "iconUri": "https://github.com/automaited.png"
  },
  "consumes": [],
  "produces": [],
  "paths": {
    "/validate/e-invoice": {
      "post": {
        "operationId": "validate_e_invoice",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "invoice_type",
            "in": "formData",
            "required": false,
            "type": "string",
            "enum": [
              "ZUGFERD_2_3_EXTENDED",
              "ZUGFERD_2_3_BASIC_WL",
              "ZUGFERD_2_3_BASIC",
              "ZUGFERD_2_3_EN16931",
              "ZUGFERD_2_3_MINIMUM",
              "XRECHNUNG_3_0",
              "XRECHNUNG_2_3",
              "XRECHNUNG_2_2",
              "XRECHNUNG_2_1",
              "XRECHNUNG_2_0",
              "XRECHNUNG_1_2",
              "ORDERX_1_0_BASIC",
              "ORDERX_1_0_COMFORT",
              "ORDERX_1_0_EXTENDED"
            ],
            "description": "Optional invoice type",
            "x-ms-summary": "Invoice specification to check against"
          },
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file",
            "description": "Invoice file (PDF or XML)",
            "x-ms-summary": "Invoice file"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/XMLValidationIssue"
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Validate E-Invoice",
        "description": "Validate E-Invoice / E-Rechnung in all common formats such as XRechnung, ZUGFeRD and Factur-X"
      }
    }
  },
  "definitions": {
    "XMLValidationIssue": {
      "type": "object",
      "properties": {
        "severity": {
          "type": "string",
          "enum": [
            "notice",
            "warning",
            "error",
            "fatal",
            "exception"
          ]
        },
        "message": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "required": [
        "severity",
        "message"
      ]
    },
    "ValidationError": {
      "type": "object",
      "properties": {
        "loc": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "msg": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      },
      "required": [
        "loc",
        "msg",
        "type"
      ]
    },
    "HTTPValidationError": {
      "type": "object",
      "properties": {
        "detail": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationError"
          }
        }
      },
      "required": [
        "detail"
      ]
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-openai-manifest": {
    "humanName": "Validate E-Invoice",
    "modelDescription": "Validate E-Invoice / E-Rechnung in all common formats such as XRechnung, ZUGFeRD and Factur-X. Returns a list of errors. The e-invoice is valid if the list is empty."
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://automaited.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.automaited.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Productivity"
    }
  ]
}