{
    "swagger": "2.0",
    "info": {
        "description": "The Blueink connector allows you to add Blueink's eSignature platform into automated workflows. The connector allows you to check bundle status, create new bundles, access signer information, and more.",
        "title": "BlueInk",
        "version": "2.2.3",
        "contact": {
            "name": "Blueink Support",
            "url": "https://help.blueink.com/en/",
            "email": "support@blueink.com"
        }
    },
    "host": "api.blueink.com",
    "basePath": "/api/v2/",
    "schemes": [
        "https"
    ],
    "x-ms-connector-metadata": [
        {
            "propertyName": "Website",
            "propertyValue": "https://blueink.com"
        },
        {
            "propertyName": "Privacy policy",
            "propertyValue": "https://blueink.com/privacy-policy/"
        },
        {
            "propertyName": "Categories",
            "propertyValue": "Business Management;Productivity"
        }
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [],
    "paths": {
        "/bundles/": {
            "get": {
                "description": "Returns a paginated list of Bundles in your Account, ordered by created date (from most recent to\nleast recent). Pagination can be controlled via Pagination paramaters (see Overview->Pagination).\nQuerystring filters paramaters can be combined, e.g.\n`/bundles/?search=Gibbons&status__in=se,co&tag=needs-attention`. When combining filters, only Bundles\nmatching ALL the filters are returned.\n",
                "operationId": "listBundles",
                "parameters": [
                    {
                        "x-ms-summary": "Search Query",
                        "description": "A search query. Only bundles matching the search will be returned. The following data in the\nthe Bundle is searched:\n\n- bundle slug\n- bundle label\n- bundle custom_key\n- signer name\n- signer email\n- signer phones\n\nE.g. `/bundles/?search=foobar@example.com`\n",
                        "in": "query",
                        "name": "search",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "x-ms-summary": "Bundle Status",
                        "description": "Limit bundles to those with the specified status.\n\n* dr: Draft - the Bundle has not yet been sent\n* se: Sent - the Bundle has been sent, but not yet started by any Signers\n* st: Started - at least one Signer has started reviewing the document(s)\n* co: Complete - all Signers have completed reviewing / signing\n* ca: Cancelled - the Bundle was cancelled\n* ex: Expired - the Bundle expired before it was Complete\n* fa: Failed - an error occurred and the Bundle could not be created or completed\n\nE.g. `/bundles/?status=co`\n",
                        "enum": [
                            "dr",
                            "se",
                            "st",
                            "co",
                            "ca",
                            "ex",
                            "fa"
                        ],
                        "in": "query",
                        "name": "status",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "x-ms-summary": "List of Bundle Status",
                        "description": "Limit bundles to those with one of the specified statuses. Statuses should be comma separated.\nE.g. `/bundles/?status=co,se,st`\n",
                        "enum": [
                            "dr",
                            "se",
                            "st",
                            "co",
                            "ca",
                            "ex",
                            "fa"
                        ],
                        "in": "query",
                        "name": "status__in",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "x-ms-summary": "Bundle Tag",
                        "description": "Return Bundles that have the given tag. E.g. `/bundles/?tag=some-tag`",
                        "in": "query",
                        "name": "tag",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "x-ms-summary": "List of Bundle Tags",
                        "description": "Return Bundles that have at least one of the given tags. Tags should be comma separated.\nE.g. `/bundles/?tag=some-tag,another-tag`\n",
                        "in": "query",
                        "name": "tag__in",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "x-ms-summary": "Bundle Sort Order",
                        "description": "Control the sort order of Bundles. Prefix with \"-\" to reverse the sort order.\nBy default Bundles are sorted by \"-created\", ie the Bundle creation date from most\nto least recent.\n",
                        "enum": [
                            "created",
                            "sent",
                            "completed_at"
                        ],
                        "in": "query",
                        "name": "ordering",
                        "required": false,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "A paged array of Bundles",
                        "headers": {
                            "x-next": {
                                "description": "A link to the next page of responses",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "items": {
                                "allOf": [
                                    {
                                        "properties": {
                                            "cc_emails": {
                                                "description": "An array of email addresses that should be cc'd when the documents are complete",
                                                "items": {
                                                    "format": "email",
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "custom_key": {
                                                "description": "An optional, unique custom key you can use to identify and retrieve this Bundle (e.g via search)\n",
                                                "maxLength": 200,
                                                "type": "string"
                                            },
                                            "email_message": {
                                                "description": "A custom message that will be included in the email sent to each Signers via email. A message set on the individual PacketRequest takes precedence.\n",
                                                "type": "string"
                                            },
                                            "email_subject": {
                                                "description": "A custom email subject that will be included in the email sent to each Signer.\n",
                                                "type": "string"
                                            },
                                            "in_order": {
                                                "default": false,
                                                "description": "If true, Signers are required to sign in order, and a signing message (email or SMS) is sent to a Signer when previous signers have signed.\n",
                                                "type": "boolean"
                                            },
                                            "is_test": {
                                                "description": "Set to True if this a test bundle. Test Bundles do not count against any account usage limits and cannot be used to create legally binding eSignatures. This should always be set to true while you App or integration is under development.\n",
                                                "type": "boolean"
                                            },
                                            "label": {
                                                "description": "A label to help you identify this Bundle",
                                                "type": "string"
                                            },
                                            "requester_email": {
                                                "description": "The email address of the requester. Defaults to the value configured for the Account (or Team).\n",
                                                "format": "email",
                                                "type": "string"
                                            },
                                            "requester_name": {
                                                "description": "The name of the requester. Defaults to the value configured for the Account (or Team).\n",
                                                "type": "string"
                                            },
                                            "sms_message": {
                                                "description": "A custom message that will be included in the SMS sent to each Signers. A message set on the individual PacketRequest takes precedence.\n",
                                                "type": "string"
                                            },
                                            "team": {
                                                "description": "A team ID, if teams are activated for your Account and you want to assign this Bundle to a particular team.\n",
                                                "format": "uuid",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    {
                                        "properties": {
                                            "created": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "data": {
                                                "items": {
                                                    "properties": {
                                                        "document_id": {
                                                            "format": "uuid",
                                                            "type": "string"
                                                        },
                                                        "key": {
                                                            "maxLength": 12,
                                                            "minLength": 2,
                                                            "pattern": "^[-\\w]+$",
                                                            "type": "string"
                                                        },
                                                        "kind": {
                                                            "type": "string"
                                                        },
                                                        "label": {
                                                            "type": "string"
                                                        },
                                                        "packet_id": {
                                                            "description": "The Packet (aka signer) that entered this value. Can be blank if the value was a default or an initial value provided at Bundle creation.\n",
                                                            "format": "uuid",
                                                            "type": "string"
                                                        },
                                                        "value": {}
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "docs_ready": {
                                                "description": "True when final documents have been generated on a complete Bundle",
                                                "type": "boolean"
                                            },
                                            "documents": {
                                                "items": {
                                                    "properties": {
                                                        "key": {
                                                            "description": "The name of the document. Defaults to the filename or the document when it was uploaded, but can be set to a human-friendly name.\n",
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "The generated filename for the this document. If the document was DocumentTemplate, this is the name of the DocumentTemplate. If it was generated from a file_url, this is the name extracted from the file_url (if possible). If it was generated from an uploaded file, this is an automatically generated name\n",
                                                            "type": "string"
                                                        },
                                                        "template_id": {
                                                            "description": "The ID of the DocumentTemplate if this BundleDocument was created from a DocumentTemplate, null otherwise\n",
                                                            "format": "uuid",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "errors": {
                                                "description": "An array of Errors, if any occured during document processing. Null otherwise.",
                                                "items": {
                                                    "properties": {
                                                        "code": {
                                                            "description": "A code that identifies the kind of the error. One of:\n\n- authentication_failed: Incorrect authentication credentials provided.\n- conflict: Server is in a conflicted state and cannot handle the request.\n- error: A general error occured that cannot be described by one of the more specific error\n  codes.\n- invalid: Validation of the incoming data failed. The request contained invalid input.\n- method_not_allowed: The requested method is not allowed on the API URL.\n- not_acceptable: Cannot satisfy the Accept header in the request.\n- not_authenticated: Authentication credentials were not provided.\n- not_found: The requested resource could not be found.\n- permission_denied: You do not have permission to perform the requested action.\n- parse_error: The request payload could not be parsed.\n- service_unavailable: The request failed because some part of the BlueInk service is\n  temporarily unavailable.\n- throttled: The request was throttled\n- unsupported_media_type: The request contained an unsupported media type.\n",
                                                            "enum": [
                                                                "authentication_failed",
                                                                "conflict",
                                                                "error",
                                                                "invalid",
                                                                "method_not_allowed",
                                                                "not_acceptable",
                                                                "not_authenticated",
                                                                "not_found",
                                                                "permission_denied",
                                                                "parse_error",
                                                                "service_unavailable",
                                                                "throttled",
                                                                "unsupported_media_type"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "errors": {
                                                            "description": "An optional array of field-specific errors providing additional details",
                                                            "items": {
                                                                "properties": {
                                                                    "field": {
                                                                        "description": "The field in the request associated with the error. For nested data, the\nfield might be specified using dot and array notation. For instance, for a\nBundleRequest, the field value might be `documents[0].key` to indicate the error\nis associated with the \"key\" field of the first document passed in the\ndocuments array.\n\nIn some cases, the field value might not identify every component in the path\nto the actual value in error. For example a field value of 'documents.fields'\nindicates that one of the documents has an issue with its 'fields' value, but\ndoes not identify the specific document. The message should provide\nadditional details.\n",
                                                                        "type": "string"
                                                                    },
                                                                    "messsage": {
                                                                        "description": "A human readable string describing the error for this field",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "required": [
                                                                "field",
                                                                "message"
                                                            ],
                                                            "type": "array"
                                                        },
                                                        "message": {
                                                            "description": "A human readable string describing the error",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "code",
                                                        "message"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "packets": {
                                                "items": {
                                                    "allOf": [
                                                        {
                                                            "properties": {
                                                                "auth_id": {
                                                                    "description": "True if you would like to require ID authentication before a signer can sign the documents in this Bundle\n",
                                                                    "type": "boolean"
                                                                },
                                                                "auth_selfie": {
                                                                    "description": "True if you would like to require Selfie authentication before a signer can sign the documents in this Bundle\n",
                                                                    "type": "boolean"
                                                                },
                                                                "auth_sms": {
                                                                    "description": "True if you would like to require SMS pin authentication before a signer can sign the documents in this Bundle\n",
                                                                    "type": "boolean"
                                                                },
                                                                "email": {
                                                                    "description": "The email address of the signer",
                                                                    "format": "email",
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "description": "The name of the signer",
                                                                    "type": "string"
                                                                },
                                                                "phone": {
                                                                    "description": "The phone number of the signer. Required if SMS Pin authentication is used.",
                                                                    "format": "phone",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        {
                                                            "properties": {
                                                                "completed_at": {
                                                                    "type": "string"
                                                                },
                                                                "deliver_via": {
                                                                    "enum": [
                                                                        "email",
                                                                        "phone",
                                                                        "embed"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "last_accessed_at": {
                                                                    "type": "string"
                                                                },
                                                                "order": {
                                                                    "type": "integer"
                                                                },
                                                                "person_id": {
                                                                    "format": "uuid",
                                                                    "type": "string"
                                                                },
                                                                "status": {
                                                                    "enum": [
                                                                        "ne",
                                                                        "re",
                                                                        "se",
                                                                        "st",
                                                                        "co",
                                                                        "ca",
                                                                        "ex",
                                                                        "fa"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    ]
                                                },
                                                "type": "array"
                                            },
                                            "status": {
                                                "enum": [
                                                    "dr",
                                                    "se",
                                                    "st",
                                                    "co",
                                                    "ca",
                                                    "ex",
                                                    "fa"
                                                ],
                                                "type": "string"
                                            },
                                            "tags": {
                                                "description": "An array of tags",
                                                "items": {
                                                    "description": "The tag, as a string. A tag cannot contain a space or comma.",
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            },
                            "type": "array"
                        }
                    }
                },
                "summary": "List Bundles",
                "security": [
                    {
                        "apiAuth_Key": []
                    }
                ],
                "tags": [
                    "Bundles"
                ]
            },
            "post": {
                "description": "Create and send a bundle out for signature\n",
                "consumes": [
                    "application/json",
                    "multipart/form-data"
                ],
                "operationId": "createBundle",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "The JSON body that defines the Bundle to be created",
                        "schema": {
                            "allOf": [
                                {
                                    "properties": {
                                        "cc_emails": {
                                            "description": "An array of email addresses that should be cc'd when the documents are complete",
                                            "items": {
                                                "format": "email",
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "custom_key": {
                                            "description": "An optional, unique custom key you can use to identify and retrieve this Bundle (e.g via search)\n",
                                            "maxLength": 200,
                                            "type": "string"
                                        },
                                        "email_message": {
                                            "description": "A custom message that will be included in the email sent to each Signers via email. A message set on the individual PacketRequest takes precedence.\n",
                                            "type": "string"
                                        },
                                        "email_subject": {
                                            "description": "A custom email subject that will be included in the email sent to each Signer.\n",
                                            "type": "string"
                                        },
                                        "in_order": {
                                            "default": false,
                                            "description": "If true, Signers are required to sign in order, and a signing message (email or SMS) is sent to a Signer when previous signers have signed.\n",
                                            "type": "boolean"
                                        },
                                        "is_test": {
                                            "description": "Set to True if this a test bundle. Test Bundles do not count against any account usage limits and cannot be used to create legally binding eSignatures. This should always be set to true while you App or integration is under development.\n",
                                            "type": "boolean"
                                        },
                                        "label": {
                                            "description": "A label to help you identify this Bundle",
                                            "type": "string"
                                        },
                                        "requester_email": {
                                            "description": "The email address of the requester. Defaults to the value configured for the Account (or Team).\n",
                                            "format": "email",
                                            "type": "string"
                                        },
                                        "requester_name": {
                                            "description": "The name of the requester. Defaults to the value configured for the Account (or Team).\n",
                                            "type": "string"
                                        },
                                        "sms_message": {
                                            "description": "A custom message that will be included in the SMS sent to each Signers. A message set on the individual PacketRequest takes precedence.\n",
                                            "type": "string"
                                        },
                                        "team": {
                                            "description": "A team ID, if teams are activated for your Account and you want to assign this Bundle to a particular team.\n",
                                            "format": "uuid",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                {
                                    "properties": {
                                        "documents": {
                                            "items": {},
                                            "type": "array"
                                        },
                                        "packets": {
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "properties": {
                                                            "auth_id": {
                                                                "description": "True if you would like to require ID authentication before a signer can sign the documents in this Bundle\n",
                                                                "type": "boolean"
                                                            },
                                                            "auth_selfie": {
                                                                "description": "True if you would like to require Selfie authentication before a signer can sign the documents in this Bundle\n",
                                                                "type": "boolean"
                                                            },
                                                            "auth_sms": {
                                                                "description": "True if you would like to require SMS pin authentication before a signer can sign the documents in this Bundle\n",
                                                                "type": "boolean"
                                                            },
                                                            "email": {
                                                                "description": "The email address of the signer",
                                                                "format": "email",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "The name of the signer",
                                                                "type": "string"
                                                            },
                                                            "phone": {
                                                                "description": "The phone number of the signer. Required if SMS Pin authentication is used.",
                                                                "format": "phone",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    {
                                                        "properties": {
                                                            "deliver_via": {
                                                                "default": "email",
                                                                "description": "How the signing link should be delivered to this Signer. If \"email\" (or \"phone\"), then an\nemail address (or phone number, respectively) must be provided in the PacketRequest, or\nsync_person must be true and a default email (or phone number, respectively)\nis set on the Person.\n\nIf \"embed\", then this Signer will be configured for embedded signing. No email or SMS\nmessage will be sent to the Signer. In a subsequent API request, you can use the\nunique Packet ID to for this signer to retrieve an URL you can use for embedded signing.\n",
                                                                "enum": [
                                                                    "email",
                                                                    "phone",
                                                                    "embed"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "key": {
                                                                "description": "A string that is unique to this Bundle which is used to identify the signer elsewhere in this request. This key is used when mapping a signer to a role in the 'assignments' field of a TemplateRequest and is used to assign a field to a signer in 'editors' field in a DocumentRequestField.\n",
                                                                "maxLength": 20,
                                                                "minLength": 2,
                                                                "pattern": "^[-\\w]+$",
                                                                "type": "string"
                                                            },
                                                            "order": {
                                                                "type": "integer"
                                                            },
                                                            "person_id": {
                                                                "description": "The ID of an existing Person, used to locate the Person object corresponding to this\nSigner. When person_id is provided, BlueInk does not use the default Person Matching\nAlgorithm, and instead matches a Person based on the ID. If no Person is found, an\nerror is raised.\n\nWhen a matching Person is found, that Person object will be updated with any new or\nchanged data provided in this PacketRequest. If PacketRequest.name does not equal\nPerson.name, Person.name will be updated. If the email or phone included in the\nPacketRequest are unknown, they will be added to the Person object.\n",
                                                                "format": "uuid",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "key"
                                                        ],
                                                        "type": "object"
                                                    }
                                                ]
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "packets",
                                        "documents"
                                    ],
                                    "type": "object"
                                }
                            ]
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "201": {
                        "description": "Returned when the Bundle is successfully created. Note that some Bundle processing (like\nparsing tags in documents, or processing large documents) can be time consuming. Therefore\nthis request return a '201' success message after preliminary data validation has been performed.\nAt this point, not all documents are guaranteed to have been processed, so it is possible\nthat Bundle creation could fail with a document processing error. If that is the case,\nthe error status will be reflected in the Bundle response returned by a subsequent call\nto retrieve a Bundle.\n\nAny errors are also reported via webhooks, so your App or integration\ndoes not need to poll to confirm successful Bunde creation.\n",
                        "schema": {
                            "allOf": [
                                {
                                    "properties": {
                                        "cc_emails": {
                                            "description": "An array of email addresses that should be cc'd when the documents are complete",
                                            "items": {
                                                "format": "email",
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "custom_key": {
                                            "description": "An optional, unique custom key you can use to identify and retrieve this Bundle (e.g via search)\n",
                                            "maxLength": 200,
                                            "type": "string"
                                        },
                                        "email_message": {
                                            "description": "A custom message that will be included in the email sent to each Signers via email. A message set on the individual PacketRequest takes precedence.\n",
                                            "type": "string"
                                        },
                                        "email_subject": {
                                            "description": "A custom email subject that will be included in the email sent to each Signer.\n",
                                            "type": "string"
                                        },
                                        "in_order": {
                                            "default": false,
                                            "description": "If true, Signers are required to sign in order, and a signing message (email or SMS) is sent to a Signer when previous signers have signed.\n",
                                            "type": "boolean"
                                        },
                                        "is_test": {
                                            "description": "Set to True if this a test bundle. Test Bundles do not count against any account usage limits and cannot be used to create legally binding eSignatures. This should always be set to true while you App or integration is under development.\n",
                                            "type": "boolean"
                                        },
                                        "label": {
                                            "description": "A label to help you identify this Bundle",
                                            "type": "string"
                                        },
                                        "requester_email": {
                                            "description": "The email address of the requester. Defaults to the value configured for the Account (or Team).\n",
                                            "format": "email",
                                            "type": "string"
                                        },
                                        "requester_name": {
                                            "description": "The name of the requester. Defaults to the value configured for the Account (or Team).\n",
                                            "type": "string"
                                        },
                                        "sms_message": {
                                            "description": "A custom message that will be included in the SMS sent to each Signers. A message set on the individual PacketRequest takes precedence.\n",
                                            "type": "string"
                                        },
                                        "team": {
                                            "description": "A team ID, if teams are activated for your Account and you want to assign this Bundle to a particular team.\n",
                                            "format": "uuid",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                {
                                    "properties": {
                                        "created": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "data": {
                                            "items": {
                                                "properties": {
                                                    "document_id": {
                                                        "format": "uuid",
                                                        "type": "string"
                                                    },
                                                    "key": {
                                                        "maxLength": 12,
                                                        "minLength": 2,
                                                        "pattern": "^[-\\w]+$",
                                                        "type": "string"
                                                    },
                                                    "kind": {
                                                        "type": "string"
                                                    },
                                                    "label": {
                                                        "type": "string"
                                                    },
                                                    "packet_id": {
                                                        "description": "The Packet (aka signer) that entered this value. Can be blank if the value was a default or an initial value provided at Bundle creation.\n",
                                                        "format": "uuid",
                                                        "type": "string"
                                                    },
                                                    "value": {}
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "docs_ready": {
                                            "description": "True when final documents have been generated on a complete Bundle",
                                            "type": "boolean"
                                        },
                                        "documents": {
                                            "items": {
                                                "properties": {
                                                    "key": {
                                                        "description": "The name of the document. Defaults to the filename or the document when it was uploaded, but can be set to a human-friendly name.\n",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "The generated filename for the this document. If the document was DocumentTemplate, this is the name of the DocumentTemplate. If it was generated from a file_url, this is the name extracted from the file_url (if possible). If it was generated from an uploaded file, this is an automatically generated name\n",
                                                        "type": "string"
                                                    },
                                                    "template_id": {
                                                        "description": "The ID of the DocumentTemplate if this BundleDocument was created from a DocumentTemplate, null otherwise\n",
                                                        "format": "uuid",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "errors": {
                                            "description": "An array of Errors, if any occured during document processing. Null otherwise.",
                                            "items": {
                                                "properties": {
                                                    "code": {
                                                        "description": "A code that identifies the kind of the error. One of:\n\n- authentication_failed: Incorrect authentication credentials provided.\n- conflict: Server is in a conflicted state and cannot handle the request.\n- error: A general error occured that cannot be described by one of the more specific error\n  codes.\n- invalid: Validation of the incoming data failed. The request contained invalid input.\n- method_not_allowed: The requested method is not allowed on the API URL.\n- not_acceptable: Cannot satisfy the Accept header in the request.\n- not_authenticated: Authentication credentials were not provided.\n- not_found: The requested resource could not be found.\n- permission_denied: You do not have permission to perform the requested action.\n- parse_error: The request payload could not be parsed.\n- service_unavailable: The request failed because some part of the BlueInk service is\n  temporarily unavailable.\n- throttled: The request was throttled\n- unsupported_media_type: The request contained an unsupported media type.\n",
                                                        "enum": [
                                                            "authentication_failed",
                                                            "conflict",
                                                            "error",
                                                            "invalid",
                                                            "method_not_allowed",
                                                            "not_acceptable",
                                                            "not_authenticated",
                                                            "not_found",
                                                            "permission_denied",
                                                            "parse_error",
                                                            "service_unavailable",
                                                            "throttled",
                                                            "unsupported_media_type"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "errors": {
                                                        "description": "An optional array of field-specific errors providing additional details",
                                                        "items": {
                                                            "properties": {
                                                                "field": {
                                                                    "description": "The field in the request associated with the error. For nested data, the\nfield might be specified using dot and array notation. For instance, for a\nBundleRequest, the field value might be `documents[0].key` to indicate the error\nis associated with the \"key\" field of the first document passed in the\ndocuments array.\n\nIn some cases, the field value might not identify every component in the path\nto the actual value in error. For example a field value of 'documents.fields'\nindicates that one of the documents has an issue with its 'fields' value, but\ndoes not identify the specific document. The message should provide\nadditional details.\n",
                                                                    "type": "string"
                                                                },
                                                                "messsage": {
                                                                    "description": "A human readable string describing the error for this field",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "required": [
                                                            "field",
                                                            "message"
                                                        ],
                                                        "type": "array"
                                                    },
                                                    "message": {
                                                        "description": "A human readable string describing the error",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "code",
                                                    "message"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "packets": {
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "properties": {
                                                            "auth_id": {
                                                                "description": "True if you would like to require ID authentication before a signer can sign the documents in this Bundle\n",
                                                                "type": "boolean"
                                                            },
                                                            "auth_selfie": {
                                                                "description": "True if you would like to require Selfie authentication before a signer can sign the documents in this Bundle\n",
                                                                "type": "boolean"
                                                            },
                                                            "auth_sms": {
                                                                "description": "True if you would like to require SMS pin authentication before a signer can sign the documents in this Bundle\n",
                                                                "type": "boolean"
                                                            },
                                                            "email": {
                                                                "description": "The email address of the signer",
                                                                "format": "email",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "The name of the signer",
                                                                "type": "string"
                                                            },
                                                            "phone": {
                                                                "description": "The phone number of the signer. Required if SMS Pin authentication is used.",
                                                                "format": "phone",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    {
                                                        "properties": {
                                                            "completed_at": {
                                                                "type": "string"
                                                            },
                                                            "deliver_via": {
                                                                "enum": [
                                                                    "email",
                                                                    "phone",
                                                                    "embed"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "last_accessed_at": {
                                                                "type": "string"
                                                            },
                                                            "order": {
                                                                "type": "integer"
                                                            },
                                                            "person_id": {
                                                                "format": "uuid",
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "enum": [
                                                                    "ne",
                                                                    "re",
                                                                    "se",
                                                                    "st",
                                                                    "co",
                                                                    "ca",
                                                                    "ex",
                                                                    "fa"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                ]
                                            },
                                            "type": "array"
                                        },
                                        "status": {
                                            "enum": [
                                                "dr",
                                                "se",
                                                "st",
                                                "co",
                                                "ca",
                                                "ex",
                                                "fa"
                                            ],
                                            "type": "string"
                                        },
                                        "tags": {
                                            "description": "An array of tags",
                                            "items": {
                                                "description": "The tag, as a string. A tag cannot contain a space or comma.",
                                                "type": "string"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "properties": {
                                "code": {
                                    "description": "A code that identifies the kind of the error. One of:\n\n- authentication_failed: Incorrect authentication credentials provided.\n- conflict: Server is in a conflicted state and cannot handle the request.\n- error: A general error occured that cannot be described by one of the more specific error\n  codes.\n- invalid: Validation of the incoming data failed. The request contained invalid input.\n- method_not_allowed: The requested method is not allowed on the API URL.\n- not_acceptable: Cannot satisfy the Accept header in the request.\n- not_authenticated: Authentication credentials were not provided.\n- not_found: The requested resource could not be found.\n- permission_denied: You do not have permission to perform the requested action.\n- parse_error: The request payload could not be parsed.\n- service_unavailable: The request failed because some part of the BlueInk service is\n  temporarily unavailable.\n- throttled: The request was throttled\n- unsupported_media_type: The request contained an unsupported media type.\n",
                                    "enum": [
                                        "authentication_failed",
                                        "conflict",
                                        "error",
                                        "invalid",
                                        "method_not_allowed",
                                        "not_acceptable",
                                        "not_authenticated",
                                        "not_found",
                                        "permission_denied",
                                        "parse_error",
                                        "service_unavailable",
                                        "throttled",
                                        "unsupported_media_type"
                                    ],
                                    "type": "string"
                                },
                                "errors": {
                                    "description": "An optional array of field-specific errors providing additional details",
                                    "items": {
                                        "properties": {
                                            "field": {
                                                "description": "The field in the request associated with the error. For nested data, the\nfield might be specified using dot and array notation. For instance, for a\nBundleRequest, the field value might be `documents[0].key` to indicate the error\nis associated with the \"key\" field of the first document passed in the\ndocuments array.\n\nIn some cases, the field value might not identify every component in the path\nto the actual value in error. For example a field value of 'documents.fields'\nindicates that one of the documents has an issue with its 'fields' value, but\ndoes not identify the specific document. The message should provide\nadditional details.\n",
                                                "type": "string"
                                            },
                                            "messsage": {
                                                "description": "A human readable string describing the error for this field",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "required": [
                                        "field",
                                        "message"
                                    ],
                                    "type": "array"
                                },
                                "message": {
                                    "description": "A human readable string describing the error",
                                    "type": "string"
                                }
                            },
                            "required": [
                                "code",
                                "message"
                            ],
                            "type": "object"
                        }
                    }
                },
                "summary": "Create a Bundle",
                "security": [
                    {
                        "apiAuth_Key": []
                    }
                ],
                "tags": [
                    "Bundles"
                ]
            }
        },
        "/bundles/{bundleSlug}/": {
            "get": {
                "description": "Retrieve a Bundle by slug\n",
                "operationId": "retrieveBundle",
                "parameters": [
                    {
                        "description": "The slug that uniquely identifies the Bundle",
                        "in": "path",
                        "name": "bundleSlug",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "Bundle Slug"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "A Bundle object",
                        "schema": {
                            "allOf": [
                                {
                                    "properties": {
                                        "cc_emails": {
                                            "description": "An array of email addresses that should be cc'd when the documents are complete",
                                            "items": {
                                                "format": "email",
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "custom_key": {
                                            "description": "An optional, unique custom key you can use to identify and retrieve this Bundle (e.g via search)\n",
                                            "maxLength": 200,
                                            "type": "string"
                                        },
                                        "email_message": {
                                            "description": "A custom message that will be included in the email sent to each Signers via email. A message set on the individual PacketRequest takes precedence.\n",
                                            "type": "string"
                                        },
                                        "email_subject": {
                                            "description": "A custom email subject that will be included in the email sent to each Signer.\n",
                                            "type": "string"
                                        },
                                        "in_order": {
                                            "default": false,
                                            "description": "If true, Signers are required to sign in order, and a signing message (email or SMS) is sent to a Signer when previous signers have signed.\n",
                                            "type": "boolean"
                                        },
                                        "is_test": {
                                            "description": "Set to True if this a test bundle. Test Bundles do not count against any account usage limits and cannot be used to create legally binding eSignatures. This should always be set to true while you App or integration is under development.\n",
                                            "type": "boolean"
                                        },
                                        "label": {
                                            "description": "A label to help you identify this Bundle",
                                            "type": "string"
                                        },
                                        "requester_email": {
                                            "description": "The email address of the requester. Defaults to the value configured for the Account (or Team).\n",
                                            "format": "email",
                                            "type": "string"
                                        },
                                        "requester_name": {
                                            "description": "The name of the requester. Defaults to the value configured for the Account (or Team).\n",
                                            "type": "string"
                                        },
                                        "sms_message": {
                                            "description": "A custom message that will be included in the SMS sent to each Signers. A message set on the individual PacketRequest takes precedence.\n",
                                            "type": "string"
                                        },
                                        "team": {
                                            "description": "A team ID, if teams are activated for your Account and you want to assign this Bundle to a particular team.\n",
                                            "format": "uuid",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                {
                                    "properties": {
                                        "created": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "data": {
                                            "items": {
                                                "properties": {
                                                    "document_id": {
                                                        "format": "uuid",
                                                        "type": "string"
                                                    },
                                                    "key": {
                                                        "maxLength": 12,
                                                        "minLength": 2,
                                                        "pattern": "^[-\\w]+$",
                                                        "type": "string"
                                                    },
                                                    "kind": {
                                                        "type": "string"
                                                    },
                                                    "label": {
                                                        "type": "string"
                                                    },
                                                    "packet_id": {
                                                        "description": "The Packet (aka signer) that entered this value. Can be blank if the value was a default or an initial value provided at Bundle creation.\n",
                                                        "format": "uuid",
                                                        "type": "string"
                                                    },
                                                    "value": {}
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "docs_ready": {
                                            "description": "True when final documents have been generated on a complete Bundle",
                                            "type": "boolean"
                                        },
                                        "documents": {
                                            "items": {
                                                "properties": {
                                                    "key": {
                                                        "description": "The name of the document. Defaults to the filename or the document when it was uploaded, but can be set to a human-friendly name.\n",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "The generated filename for the this document. If the document was DocumentTemplate, this is the name of the DocumentTemplate. If it was generated from a file_url, this is the name extracted from the file_url (if possible). If it was generated from an uploaded file, this is an automatically generated name\n",
                                                        "type": "string"
                                                    },
                                                    "template_id": {
                                                        "description": "The ID of the DocumentTemplate if this BundleDocument was created from a DocumentTemplate, null otherwise\n",
                                                        "format": "uuid",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "errors": {
                                            "description": "An array of Errors, if any occured during document processing. Null otherwise.",
                                            "items": {
                                                "properties": {
                                                    "code": {
                                                        "description": "A code that identifies the kind of the error. One of:\n\n- authentication_failed: Incorrect authentication credentials provided.\n- conflict: Server is in a conflicted state and cannot handle the request.\n- error: A general error occured that cannot be described by one of the more specific error\n  codes.\n- invalid: Validation of the incoming data failed. The request contained invalid input.\n- method_not_allowed: The requested method is not allowed on the API URL.\n- not_acceptable: Cannot satisfy the Accept header in the request.\n- not_authenticated: Authentication credentials were not provided.\n- not_found: The requested resource could not be found.\n- permission_denied: You do not have permission to perform the requested action.\n- parse_error: The request payload could not be parsed.\n- service_unavailable: The request failed because some part of the BlueInk service is\n  temporarily unavailable.\n- throttled: The request was throttled\n- unsupported_media_type: The request contained an unsupported media type.\n",
                                                        "enum": [
                                                            "authentication_failed",
                                                            "conflict",
                                                            "error",
                                                            "invalid",
                                                            "method_not_allowed",
                                                            "not_acceptable",
                                                            "not_authenticated",
                                                            "not_found",
                                                            "permission_denied",
                                                            "parse_error",
                                                            "service_unavailable",
                                                            "throttled",
                                                            "unsupported_media_type"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "errors": {
                                                        "description": "An optional array of field-specific errors providing additional details",
                                                        "items": {
                                                            "properties": {
                                                                "field": {
                                                                    "description": "The field in the request associated with the error. For nested data, the\nfield might be specified using dot and array notation. For instance, for a\nBundleRequest, the field value might be `documents[0].key` to indicate the error\nis associated with the \"key\" field of the first document passed in the\ndocuments array.\n\nIn some cases, the field value might not identify every component in the path\nto the actual value in error. For example a field value of 'documents.fields'\nindicates that one of the documents has an issue with its 'fields' value, but\ndoes not identify the specific document. The message should provide\nadditional details.\n",
                                                                    "type": "string"
                                                                },
                                                                "messsage": {
                                                                    "description": "A human readable string describing the error for this field",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "required": [
                                                            "field",
                                                            "message"
                                                        ],
                                                        "type": "array"
                                                    },
                                                    "message": {
                                                        "description": "A human readable string describing the error",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "code",
                                                    "message"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "packets": {
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "properties": {
                                                            "auth_id": {
                                                                "description": "True if you would like to require ID authentication before a signer can sign the documents in this Bundle\n",
                                                                "type": "boolean"
                                                            },
                                                            "auth_selfie": {
                                                                "description": "True if you would like to require Selfie authentication before a signer can sign the documents in this Bundle\n",
                                                                "type": "boolean"
                                                            },
                                                            "auth_sms": {
                                                                "description": "True if you would like to require SMS pin authentication before a signer can sign the documents in this Bundle\n",
                                                                "type": "boolean"
                                                            },
                                                            "email": {
                                                                "description": "The email address of the signer",
                                                                "format": "email",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "The name of the signer",
                                                                "type": "string"
                                                            },
                                                            "phone": {
                                                                "description": "The phone number of the signer. Required if SMS Pin authentication is used.",
                                                                "format": "phone",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    {
                                                        "properties": {
                                                            "completed_at": {
                                                                "type": "string"
                                                            },
                                                            "deliver_via": {
                                                                "enum": [
                                                                    "email",
                                                                    "phone",
                                                                    "embed"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "last_accessed_at": {
                                                                "type": "string"
                                                            },
                                                            "order": {
                                                                "type": "integer"
                                                            },
                                                            "person_id": {
                                                                "format": "uuid",
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "enum": [
                                                                    "ne",
                                                                    "re",
                                                                    "se",
                                                                    "st",
                                                                    "co",
                                                                    "ca",
                                                                    "ex",
                                                                    "fa"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                ]
                                            },
                                            "type": "array"
                                        },
                                        "status": {
                                            "enum": [
                                                "dr",
                                                "se",
                                                "st",
                                                "co",
                                                "ca",
                                                "ex",
                                                "fa"
                                            ],
                                            "type": "string"
                                        },
                                        "tags": {
                                            "description": "An array of tags",
                                            "items": {
                                                "description": "The tag, as a string. A tag cannot contain a space or comma.",
                                                "type": "string"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "Not found response",
                        "schema": {
                            "properties": {
                                "code": {
                                    "description": "A code that identifies the kind of the error. One of:\n\n- authentication_failed: Incorrect authentication credentials provided.\n- conflict: Server is in a conflicted state and cannot handle the request.\n- error: A general error occured that cannot be described by one of the more specific error\n  codes.\n- invalid: Validation of the incoming data failed. The request contained invalid input.\n- method_not_allowed: The requested method is not allowed on the API URL.\n- not_acceptable: Cannot satisfy the Accept header in the request.\n- not_authenticated: Authentication credentials were not provided.\n- not_found: The requested resource could not be found.\n- permission_denied: You do not have permission to perform the requested action.\n- parse_error: The request payload could not be parsed.\n- service_unavailable: The request failed because some part of the BlueInk service is\n  temporarily unavailable.\n- throttled: The request was throttled\n- unsupported_media_type: The request contained an unsupported media type.\n",
                                    "enum": [
                                        "authentication_failed",
                                        "conflict",
                                        "error",
                                        "invalid",
                                        "method_not_allowed",
                                        "not_acceptable",
                                        "not_authenticated",
                                        "not_found",
                                        "permission_denied",
                                        "parse_error",
                                        "service_unavailable",
                                        "throttled",
                                        "unsupported_media_type"
                                    ],
                                    "type": "string"
                                },
                                "errors": {
                                    "description": "An optional array of field-specific errors providing additional details",
                                    "items": {
                                        "properties": {
                                            "field": {
                                                "description": "The field in the request associated with the error. For nested data, the\nfield might be specified using dot and array notation. For instance, for a\nBundleRequest, the field value might be `documents[0].key` to indicate the error\nis associated with the \"key\" field of the first document passed in the\ndocuments array.\n\nIn some cases, the field value might not identify every component in the path\nto the actual value in error. For example a field value of 'documents.fields'\nindicates that one of the documents has an issue with its 'fields' value, but\ndoes not identify the specific document. The message should provide\nadditional details.\n",
                                                "type": "string"
                                            },
                                            "messsage": {
                                                "description": "A human readable string describing the error for this field",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "required": [
                                        "field",
                                        "message"
                                    ],
                                    "type": "array"
                                },
                                "message": {
                                    "description": "A human readable string describing the error",
                                    "type": "string"
                                }
                            },
                            "required": [
                                "code",
                                "message"
                            ],
                            "type": "object"
                        }
                    }
                },
                "summary": "Retrieve a Bundle",
                "security": [
                    {
                        "apiAuth_Key": []
                    }
                ],
                "tags": [
                    "Bundles"
                ]
            }
        },
        "/bundles/{bundleSlug}/add_tags/": {
            "put": {
                "consumes": [
                    "application/json"
                ],
                "description": "Add additional tags to a Bundle. No existing tags on the Bundle are removed. The result\nof this call is that Bundle.tags is the union of the set of previous tags with the set of new tags.\nDuplicate tags are ignored.\n",
                "operationId": "addBundleTags",
                "parameters": [
                    {
                        "x-ms-summary": "Bundle Slug",
                        "description": "The slug that uniquely identifies the Bundle",
                        "in": "path",
                        "name": "bundleSlug",
                        "required": true,
[...]
