{
  "swagger": "2.0",
  "info": {
    "title": "Micro Focus Content Manager",
    "description": "Micro Focus Content Manager is a governance-based enterprise content management system designed to help government agencies, regulated industries and global organizations manage their business content from creation to disposal. Connect to Micro Focus Content Manager to perform actions including creating or updating records or locations, uploading or downloading electronic files, searching and more. (1.0.3.736)",
    "version": "1.0.3.736",
    "contact": {
      "name": "Kapish Services Pty Ltd",
      "url": "https://kapish.com.au/products/power_connect/",
      "email": "sales@kapish.com.au"
    }
  },
  "host": "kpcprd01-apim01.azure-api.net",
  "basePath": "/kpc",
  "schemes": [
    "https"
  ],
  "paths": {
    "/Search": {
      "post": {
        "operationId": "CMObjectSearch",
        "summary": "Find CM Objects",
        "description": "Search for CM Objects",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-summary": "User to Impersonate",
            "x-ms-visibility": "advanced",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Search",
            "in": "body",
            "description": "Search for an object",
            "schema": {
              "$ref": "#/definitions/CMSearch"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "Uri,NameString",
            "x-ms-summary": "Properties",
            "x-ms-visibility": "advanced",
            "description": "A comma separated list of object properties, e.g. Uri,NameString"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMBobResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/LookupRecordTypes": {
      "get": {
        "operationId": "LookupRecordTypes",
        "summary": "(Private) Record Types Lookup",
        "description": "Get all Record Types",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "queryString",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "active",
            "x-ms-visibility": "internal"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordTypesResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/GetSchemaAdditionalFields": {
      "get": {
        "operationId": "GetSchemaAdditionalFields",
        "summary": "(Private) Get Record Type Fields",
        "description": "Get the Additional Fields associated with a Record Type",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "rtyUri",
            "in": "query",
            "required": true,
            "default": 0,
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "Record Type Uri",
            "x-ms-visibility": "internal"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "Operation Failed"
          }
        }
      }
    },
    "/GetSchemaRecordEntry": {
      "get": {
        "operationId": "GetSchemaRecordEntry",
        "summary": "(Private) Get Record Entry Schema",
        "description": "Get the schema for a Record entry form based on Record Type",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "rtyUri",
            "in": "query",
            "required": true,
            "default": 0,
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "Record Type Uri",
            "x-ms-visibility": "internal"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "Operation Failed"
          }
        }
      }
    },
    "/LookupActionDefsAssignable": {
      "get": {
        "operationId": "LookupActionDefsAssignable",
        "summary": "(Private) Lookup Assignable Action Definitions",
        "description": "Returns all the Action Definitions that can be attached to Records",
        "x-ms-visibility": "internal",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CaptionValuePairsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/LookupRecordActionsOnRecord/{RecUri}": {
      "get": {
        "operationId": "LookupRecordActionsOnRecord",
        "summary": "(Private) Lookup Record Actions on a Record",
        "description": "Returns all the Record Actions associated with a Record",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "RecUri",
            "in": "path",
            "required": true,
            "default": 0,
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "Record Uri",
            "x-ms-visibility": "internal",
            "x-ms-url-encoding": "single"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CaptionValuePairsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/LookupRecordAdditionalFields": {
      "get": {
        "operationId": "LookupRecordAdditionalFields",
        "summary": "(Private) Lookup Record Additional Fields",
        "description": "Returns all the Additional Fields that can be used by Records",
        "x-ms-visibility": "internal",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CaptionValuePairsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/LookupLocationAdditionalFields": {
      "get": {
        "operationId": "LookupLocationAdditionalFields",
        "summary": "(Private) Lookup Location Additional Fields",
        "description": "Returns all the Additional Fields that can be used by Locations",
        "x-ms-visibility": "internal",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CaptionValuePairsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/LookupEnumGender": {
      "get": {
        "operationId": "LookupEnumGender",
        "summary": "(Private) Enum Caption Lookup for Gender",
        "description": "Get the captions for the Gender enumeration",
        "x-ms-visibility": "internal",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CaptionValuePairsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/LookupEnumRenditionType": {
      "get": {
        "operationId": "LookupEnumRenditionType",
        "summary": "(Private) Enum Caption Lookup for Rendition Types",
        "description": "Get the captions for the Rendition Type enumeration",
        "x-ms-visibility": "internal",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CaptionValuePairsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/LookupEnumContactType": {
      "get": {
        "operationId": "LookupEnumContactType",
        "summary": "(Private) Enum Caption Lookup for Contact Type",
        "description": "Get the captions for the Contact Type enumeration",
        "x-ms-visibility": "internal",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CaptionValuePairsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/LookupEnumMediaTypes": {
      "get": {
        "operationId": "LookupEnumMediaTypes",
        "summary": "(Private) Enum Caption Lookup for Media Types",
        "description": "Get the captions for the Media Types enumeration",
        "x-ms-visibility": "internal",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/CaptionValuePairsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/LookupEnumFavoriteType": {
      "get": {
        "operationId": "LookupEnumFavoriteType",
        "summary": "(Private) Enum Caption Lookup for Favorite Type",
        "description": "Get the captions for the Favorite Type enumeration",
        "x-ms-visibility": "internal",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/CaptionValuePairsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/LookupEnumUserTypes": {
      "get": {
        "operationId": "LookupEnumUserTypes",
        "summary": "(Private) Enum Caption Lookup for User Types",
        "description": "Get the captions for the User Types enumeration",
        "x-ms-visibility": "internal",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/CaptionValuePairsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/FindRecordAdvanced": {
      "get": {
        "operationId": "RecordSearchAdvanced",
        "summary": "Find Records (Advanced)",
        "description": "Search for Records (Fetch a collection of Records using a search string).  Returns a raw Content Manager ServiceAPI response.",
        "parameters": [
          {
            "name": "AuthorizationServer",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "CMServiceAPIUrl",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ClientId",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ClientSecret",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "parseResponse",
            "in": "header",
            "required": true,
            "type": "boolean",
            "x-ms-visibility": "internal",
            "default": false
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search query",
            "required": true,
            "type": "string",
            "default": "all",
            "x-ms-summary": "Query"
          },
          {
            "name": "properties",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "RecordTitle,RecordNumber",
            "x-ms-summary": "Properties",
            "description": "A comma separated list of properties to return"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/Record": {
      "get": {
        "operationId": "RecordSearch",
        "summary": "Find Records",
        "description": "Search for Records (Fetch a collection of Records using a search string)",
        "parameters": [
          {
            "name": "AuthorizationServer",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "CMServiceAPIUrl",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ClientId",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ClientSecret",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search query",
            "required": true,
            "type": "string",
            "default": "all",
            "x-ms-summary": "Query"
          },
          {
            "name": "properties",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "RecordTitle,RecordNumber",
            "x-ms-summary": "Properties",
            "description": "A comma separated list of properties to return"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      },
      "post": {
        "operationId": "RecordUpdate",
        "summary": "Update Record (Properties)",
        "description": "Update a Record",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-summary": "User to Impersonate",
            "x-ms-visibility": "advanced",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Update a record",
            "schema": {
              "$ref": "#/definitions/CMUpdateRecord"
            }
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/DeleteRecord/{Uri}": {
      "post": {
        "operationId": "DeleteRecord",
        "summary": "Delete Record",
        "description": "Delete a Record",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "Uri",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Unique Identifier",
            "description": "The Unique ID of the Record to be deleted"
          },
          {
            "name": "DeleteRecordDetails",
            "in": "body",
            "description": "Delete a Record",
            "schema": {
              "$ref": "#/definitions/CMDeleteRecordDetails"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/CreateRecord": {
      "post": {
        "operationId": "RecordCreate",
        "summary": "Create Record (Document)",
        "description": "Create a Record",
        "parameters": [
          {
            "name": "AuthorizationServer",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "CMServiceAPIUrl",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ClientId",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ClientSecret",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Create a record",
            "schema": {
              "$ref": "#/definitions/CMCreateRecordDocument"
            }
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/CreateRecordContainer": {
      "post": {
        "operationId": "RecordCreateContainer",
        "summary": "Create Record (Folder)",
        "description": "Create a Record",
        "parameters": [
          {
            "name": "AuthorizationServer",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "CMServiceAPIUrl",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ClientId",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ClientSecret",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Create a record",
            "schema": {
              "$ref": "#/definitions/CMCreateRecordContainer"
            }
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/CreateRecordAdvanced": {
      "post": {
        "operationId": "RecordCreateAdvanced",
        "summary": "Create Record (Advanced)",
        "description": "Create a Record with Advanced Fields",
        "parameters": [
          {
            "name": "AuthorizationServer",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "CMServiceAPIUrl",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ClientId",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ClientSecret",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Create a record",
            "schema": {
              "$ref": "#/definitions/CMCreateRecordAdvanced"
            }
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/UpdateRecordAdvanced": {
      "post": {
        "operationId": "RecordUpdateAdvanced",
        "summary": "Update Record (Advanced)",
        "description": "Update a Record with Advanced Properties",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-summary": "User to Impersonate",
            "x-ms-visibility": "advanced",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Update a record",
            "schema": {
              "$ref": "#/definitions/CMUpdateRecordAdvanced"
            }
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/UpdateRecordFinalise": {
      "post": {
        "operationId": "RecordUpdateFinalise",
        "summary": "Update Record (Finalise)",
        "description": "Update a draft Record",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Update a record",
            "schema": {
              "$ref": "#/definitions/CMUpdateRecordFinalise"
            }
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/UpdateRecordUnfinalise": {
      "post": {
        "operationId": "RecordUpdateUnfinalise",
        "summary": "Update Record (Unfinalise - Set As Draft)",
        "description": "Update a Finalised Record to Draft",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Update a record",
            "schema": {
              "$ref": "#/definitions/CMUpdateRecordUnfinalise"
            }
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/AddAttachment": {
      "post": {
        "operationId": "RecordElecAttach",
        "summary": "Update Record (Attach Electronic File)",
        "description": "Attach an Electronic File to a Record",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "File",
            "in": "formData",
            "required": true,
            "type": "file",
            "x-ms-summary": "File",
            "description": "The File Content/Body of the electronic document to attach"
          },
          {
            "name": "Uri",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Unique ID of the record",
            "x-ms-summary": "Unique Identifier"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/Record/{Id}": {
      "get": {
        "operationId": "RecordSearchByID",
        "summary": "Find Record by ID",
        "description": "Fetch a single Record by Unique ID or Name",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-summary": "Format",
            "description": "Format",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Either the object Unique ID or Name",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "IncludePropertyDefs",
            "in": "query",
            "description": "True to return an array of the Property Definitions used by properties in this response",
            "type": "boolean",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Include Property Definitions"
          },
          {
            "name": "descendantProperties",
            "in": "query",
            "type": "string",
            "description": "A comma separated list of object properties, applies only to object properties of this and lower level properties e.g. RecordNumber,RecordTitle.",
            "x-ms-summary": "Descendant Properties",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "properties",
            "in": "query",
            "description": "A comma separated list of object properties, e.g. RecordNumber,RecordTitle.",
            "type": "string",
            "default": "RecordNumber",
            "x-ms-summary": "Properties",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "propertySets",
            "in": "query",
            "type": "string",
            "description": "One or more pre-defined property sets, select from DataGridVisible, Detailed, FromSearch, All or a custom property set as defined in your service configuration.",
            "x-ms-summary": "Property Sets"
          },
          {
            "name": "PropertyValue",
            "in": "query",
            "description": "Include the raw value, the string value, or both in the results",
            "type": "string",
            "enum": [
              "Raw",
              "String",
              "Both"
            ],
            "x-ms-summary": "Property Value",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "stringDisplayType",
            "x-ms-summary": "String Display Type",
            "in": "query",
            "description": "If returning the string value which format to use",
            "type": "string",
            "x-ms-visibility": "advanced",
            "enum": [
              "Default",
              "DataEntry",
              "ErrorMessage",
              "Export",
              "Merge",
              "Reporter",
              "TreeColumn",
              "ViewPane",
              "WebPublish",
              "WebService"
            ],
            "x-ms-enum-values": [
              {
                "value": "Default",
                "displayName": "Default"
              },
              {
                "value": "DataEntry",
                "displayName": "Data Entry"
              },
              {
                "value": "ErrorMessage",
                "displayName": "Error Message"
              },
              {
                "value": "Export",
                "displayName": "Export"
              },
              {
                "value": "Merge",
                "displayName": "Merge"
              },
              {
                "value": "Reporter",
                "displayName": "Reporter"
              },
              {
                "value": "TreeColumn",
                "displayName": "Tree Column"
              },
              {
                "value": "ViewPane",
                "displayName": "View Pane"
              },
              {
                "value": "WebPublish",
                "displayName": "Web Publish"
              },
              {
                "value": "WebService",
                "displayName": "Web Service"
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/RecordElecDownload": {
      "get": {
        "operationId": "RecordElecDownload",
        "summary": "Download Electronic File",
        "description": "Download an Electronic File of a Record",
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "description": "Unique ID or Record number",
            "required": true,
            "type": "string",
            "x-ms-summary": "Unique Identifier"
          },
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "format": "binary"
            },
            "headers": {}
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/RecordReassignAction": {
      "post": {
        "operationId": "RecordReassignAction",
        "summary": "Update Record (Reassign Action)",
        "description": "Reassigns the nominated action to a specified location",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Reassigns the nominated action to a specified location",
            "schema": {
              "$ref": "#/definitions/CMReassignAction"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/RecordClose": {
      "post": {
        "operationId": "RecordClose",
        "summary": "Update Record (Close)",
        "description": "Use the CloseRecord function to close a container - leave the date blank if you want the close date to be 'now'. Because closing a record may require updating many contained records, this function commits the changes automatically",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Closes the specified Record",
            "schema": {
              "$ref": "#/definitions/CMCloseRecord"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMLogResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/RecordReopen": {
      "post": {
        "operationId": "RecordReopen",
        "summary": "Update Record (Reopen)",
        "description": "Use the ReopenRecord function to re-open a closed container. Because re-opening a record may require updating many contained records, this function commits the changes automatically",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Closes the specified Record",
            "schema": {
              "$ref": "#/definitions/CMReopenRecord"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMLogResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/GetFileFromUrl": {
      "get": {
        "operationId": "GetFileFromUrl",
        "summary": "Get File from URL",
        "description": "Download a file from URL to a staging area using the 'GetFileFromUrl' CM Service API plugin",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "URL of File",
            "description": "Unencoded URL of the file to download"
          },
          {
            "name": "filename",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Filename to Save As",
            "description": "Filename to save the downloaded URL as (just the filename with suffix, do not include the full directory)"
          },
          {
            "name": "contentType",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Content Type",
            "description": "Typical string found in most Content-Type header (e.g. image/png, text/plain, application/pdf)."
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetFileFromUrlResponse"
            },
            "examples": {
              "application/json": {
                "Filepath": "string",
                "Message": "string"
              }
            }
          }
        }
      }
    },
    "/UploadFile": {
      "post": {
        "operationId": "RecordElecUpload",
        "summary": "Upload Electronic File",
        "description": "Upload an Electronic File which may later be attached to a Record",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "record",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CMUploadElectronicFile"
            }
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "200": {
            "description": "default"
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/UpdateRecordAdditionalFields": {
      "post": {
        "operationId": "RecordUpdateAdditionalFields",
        "summary": "Update Record (Additional Fields)",
        "description": "Update Additional Fields on a Record",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "AdditionalField",
            "in": "body",
            "description": "Set Additional Fields on a Record",
            "schema": {
              "$ref": "#/definitions/CMFields"
            }
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/UpdateRecordClassification": {
      "post": {
        "operationId": "RecordUpdateClassification",
        "summary": "Update Record (Classification)",
        "description": "Update the Classification of a Record",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Update a record",
            "schema": {
              "$ref": "#/definitions/CMUpdateRecordClassification"
            }
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/RecordAttachAction": {
      "post": {
        "operationId": "RecordAttachAction",
        "summary": "Update Record (Attach Action or Procedure)",
        "description": "Attach an Action or procedure to a Record",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Attach an action to the Record",
            "schema": {
              "$ref": "#/definitions/CMAttachAction"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/RecordCompleteActions": {
      "post": {
        "operationId": "RecordCompleteActions",
        "summary": "Update Record (Complete Actions)",
        "description": "Complete one or all actions due on a particular Record",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Complete one or all actions due on a particular Record",
            "schema": {
              "$ref": "#/definitions/CMCompleteActions"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/RecordRemoveAllActions": {
      "post": {
        "operationId": "RecordRemoveAllActions",
        "summary": "Update Record (Remove All Actions)",
        "description": "Removes all actions attached to the specified record",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Remove all actions from a Record",
            "schema": {
              "$ref": "#/definitions/CMRemoveAllActions"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/RecordRescheduleActions": {
      "post": {
        "operationId": "RecordRescheduleActions",
        "summary": "Update Record (Reschedule Actions)",
        "description": "Reschedules all actions attached to this record",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Reschedule Record Actions",
            "schema": {
              "$ref": "#/definitions/CMRescheduleActions"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/RecordDispose": {
      "post": {
        "operationId": "RecordDispose",
        "summary": "Update Record (Dispose)",
        "description": "Dispose of a Record",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Dispose of a Record",
            "schema": {
              "$ref": "#/definitions/CMDispose"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/RecordUndispose": {
      "post": {
        "operationId": "RecordUndispose",
        "summary": "Update Record (Undispose)",
        "description": "Reverts the state of the record (and any of its contents) so that it is no longer disposed",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Undispose a Record",
            "schema": {
              "$ref": "#/definitions/CMUndispose"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/RecordCheckout": {
      "post": {
        "operationId": "RecordCheckout",
        "summary": "Update Record (Checkout)",
        "description": "Set the status of the Record to checked out",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Checkout a Record",
            "schema": {
              "$ref": "#/definitions/CMCheckout"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/RecordUndoCheckout": {
      "post": {
        "operationId": "RecordUndoCheckout",
        "summary": "Update Record (Undo Checkout)",
        "description": "Undo a previous checkout of the electronic document for this Record, disregarding any changes made since it was checked out",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Undo a Record checkout",
            "schema": {
              "$ref": "#/definitions/CMUndoCheckout"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/RecordAttachContact": {
      "post": {
        "operationId": "RecordAttachContact",
        "summary": "Update Record (Attach Contact)",
        "description": "Attach a Contact to a Record",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Attach a Contact to the Record",
            "schema": {
              "$ref": "#/definitions/CMAttachContact"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/RecordAttachKeyword": {
      "post": {
        "operationId": "RecordAttachKeyword",
        "summary": "Update Record (Attach Thesaurus Term)",
        "description": "Attach a Thesaurus Term to a Record",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Attach a Thesaurus Term to the Record",
            "schema": {
              "$ref": "#/definitions/CMAttachKeyword"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/RecordSetUserLabel": {
      "post": {
        "operationId": "RecordSetUserLabel",
        "summary": "Update Record (Set User Label)",
        "description": "Allows for the setting of a user label on a Record",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Set a User Label on a Record",
            "schema": {
              "$ref": "#/definitions/CMSetUserLabel"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/RecordRequestRendition": {
      "post": {
        "operationId": "RecordRequestRendition",
        "summary": "Update Record (Request Rendition)",
        "description": "Allows you to create a request for the automatic rendering engine to make a rendition of a record",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Request Record Rendition",
            "schema": {
              "$ref": "#/definitions/CMRequestRendition"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/RecordSetAssignee": {
      "post": {
        "operationId": "RecordSetAssignee",
        "summary": "Update Record (Set Assignee)",
        "description": "Set the Assignee to a particular Location, back to Home or register as Missing",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Set the Assignee of a Record",
            "schema": {
              "$ref": "#/definitions/CMSetAssignee"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/Test": {
      "post": {
        "operationId": "Test",
        "summary": "Test",
        "description": "Test, test, testy, test, test",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "TestStuff",
            "in": "body",
            "description": "Test Definition",
            "schema": {
              "$ref": "#/definitions/CMTest"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/Location": {
      "get": {
        "operationId": "LocationSearch",
        "summary": "Find Locations",
        "description": "Search for Locations (Fetch a collection of Locations using a search string)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Format",
            "description": "Format"
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter a search query, e.g. 'all' to get all objects.",
            "x-ms-summary": "Query"
          },
          {
            "name": "ApplyDefaults",
            "in": "query",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Apply Defaults",
            "required": false,
            "type": "boolean",
            "description": "True to apply the user's default filter and sort to this search"
          },
          {
            "name": "CountResults",
            "in": "query",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Count Results",
            "required": false,
            "type": "boolean",
            "description": "True to include a count of the results"
          },
          {
            "name": "ExcludeCount",
            "in": "query",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Exclude Count",
            "required": false,
            "type": "boolean",
            "description": "True to exclude a count of the results"
          },
          {
            "name": "filter",
            "in": "query",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Filter",
            "required": false,
            "type": "string",
            "description": "A space separated list of search clauses to apply as a filter."
          },
          {
            "name": "fromSearch",
            "in": "query",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "From Search",
            "required": false,
            "type": "string",
            "description": "The Unique ID of a Saved Search from which to construct this search"
          },
          {
            "name": "descendantProperties",
            "in": "query",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Descendant Properties",
            "required": false,
            "type": "string",
            "description": "A comma separated list of object properties, applies only to object properties of this and lower level properties e.g. RecordNumber,RecordTitle"
          },
          {
            "name": "IncludePropertyDefs",
            "in": "query",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Include Property Definitions",
            "required": false,
            "type": "boolean",
            "description": "True to return an array of the Property Definitions used by properties in this response"
          },
          {
            "name": "Options",
            "in": "query",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Options",
            "required": false,
            "type": "string",
            "description": "Set one or more of the options typically set in User Options for this search only.  Use ids from the /PropertyDef?Get=SearchOptions service, append a minus sign to set to false, otherwise true is assumed."
          },
          {
            "name": "properties",
            "in": "query",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Properties",
            "required": false,
            "type": "string",
            "description": "A comma separated list of object properties, e.g. RecordNumber,RecordTitle"
          },
          {
            "name": "propertySets",
            "in": "query",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Property Sets",
            "required": false,
            "type": "string",
            "description": "One or more pre-defined property sets, select from DataGridVisible, Detailed, FromSearch, All or a custom property set as defined in your service configuration"
          },
          {
            "name": "PropertyValue",
            "in": "query",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Property Value",
            "required": false,
            "enum": [
              "Raw",
              "String",
              "Both"
            ],
            "type": "string",
            "description": "Include the raw value, the string value, or both in the results"
          },
          {
            "name": "pageSize",
            "in": "query",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Page Size",
            "required": false,
            "type": "string",
            "description": "The number of items to return in each page of results"
          },
          {
            "name": "purpose",
            "in": "query",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Purpose",
            "required": false,
            "type": "string",
            "description": "A special property to filter search results based on object Purpose enum values"
          },
          {
            "name": "purposeExtra",
            "in": "query",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Purpose Extra",
            "required": false,
            "type": "string",
            "description": "Necessary as a supplement to some purposes.  The ObjectDef service provides information on the enum or TrimMainObject type to specify, in particular ObjectDef.ExtraPurposeEnums, ObjectDef.ExtraPurposeObjectTypes and HaveExtraPurposeParameter."
          },
          {
            "name": "sortBy",
            "in": "query",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Sort By",
            "required": false,
            "type": "string",
            "description": "A comma separated list of search clause Ids"
          },
          {
            "name": "start",
            "in": "query",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Start",
            "required": false,
            "type": "string",
            "description": "The position in the result set to start, empty (or 1) to start at the beginning, 2 to start at the second object, 3 at the third, etc"
          },
          {
            "name": "stringDisplayType",
            "in": "query",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "String Display Type",
            "required": false,
            "enum": [
              "Default",
              "DataEntry",
              "ErrorMessage",
              "Export",
              "Merge",
              "Reporter",
              "TreeColumn",
              "ViewPane",
              "WebPublish",
              "WebService"
            ],
            "x-ms-enum-values": [
              {
                "value": "Default",
                "displayName": "Default"
              },
              {
                "value": "DataEntry",
                "displayName": "Data Entry"
              },
              {
                "value": "ErrorMessage",
                "displayName": "Error Message"
              },
              {
                "value": "Export",
                "displayName": "Export"
              },
              {
                "value": "Merge",
                "displayName": "Merge"
              },
              {
                "value": "Reporter",
                "displayName": "Reporter"
              },
              {
                "value": "TreeColumn",
                "displayName": "Tree Column"
              },
              {
                "value": "ViewPane",
                "displayName": "View Pane"
              },
              {
                "value": "WebPublish",
                "displayName": "Web Publish"
              },
              {
                "value": "WebService",
                "displayName": "Web Service"
              }
            ],
            "type": "string",
            "description": "If returning the string value which format to use"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMLocationsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      },
      "post": {
        "operationId": "LocationUpdate",
        "summary": "Update Location (Other)",
        "description": "Update a Location",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "UpdateLocation",
            "in": "body",
            "description": "Update a Location",
            "schema": {
              "$ref": "#/definitions/CMUpdateLocation"
            }
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMLocationsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/CreateLocation": {
      "post": {
        "operationId": "LocationCreate",
        "summary": "Create Location (Other)",
        "description": "Create a Location of any type",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "AuthorizationServer",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "CMServiceAPIUrl",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ClientId",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ClientSecret",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "CreateLocation",
            "in": "body",
            "description": "Create a Location",
            "schema": {
              "$ref": "#/definitions/CMCreateLocation"
            }
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMLocationsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/CreatePersonLocation": {
      "post": {
        "operationId": "LocationCreatePerson",
        "summary": "Create Location (Person)",
        "description": "Create a Person Location",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "AuthorizationServer",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "CMServiceAPIUrl",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ClientId",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ClientSecret",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "CreateLocation",
            "in": "body",
            "description": "Create a Location",
            "schema": {
              "$ref": "#/definitions/CMCreatePersonLocation"
            }
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMLocationsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/UpdatePersonLocation": {
      "post": {
        "operationId": "LocationUpdatePerson",
        "summary": "Update Location (Person)",
        "description": "Update a Person Location using its Unique Identifier",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "UpdateLocation",
            "in": "body",
            "description": "Update a Location",
            "schema": {
              "$ref": "#/definitions/CMUpdatePersonLocation"
            }
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMLocationsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/UpdateLocationAddress": {
      "post": {
        "operationId": "UpdateLocationAddress",
        "summary": "Update Location (Address)",
        "description": "Create / Update a Location's Address using the Unique ID of the address",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "UpdateLocation",
            "in": "body",
            "description": "Update a Location",
            "schema": {
              "$ref": "#/definitions/CMUpdateLocationAddress"
            }
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMLocationsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/Location/{Id}": {
      "get": {
        "operationId": "LocationSearchByID",
        "summary": "Find Location by ID",
        "description": "Fetch a single Location by Unique ID or Name",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Either the object Unique ID or Name",
            "x-ms-visibility": "important",
            "x-ms-summary": "Unique Identifier",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "descendantProperties",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma separated list of object properties, applies only to object properties of this and lower level properties e.g. Surname,GivenNames",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Descendant Properties"
          },
          {
            "name": "IncludePropertyDefs",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "True to return an array of the Property Definitions used by properties in this response",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Include Property Definitions"
          },
          {
            "name": "properties",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma separated list of object properties, e.g. Surname,GivenNames",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Properties"
          },
          {
            "name": "propertySets",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "One or more pre-defined property sets, select from DataGridVisible, Detailed, FromSearch, All or a custom property set as defined in your service configuration",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Property Sets"
          },
          {
            "name": "PropertyValue",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Raw",
              "String",
              "Both"
            ],
            "description": "Include the raw value, the string value, or both in the results",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Property Value"
          },
          {
            "name": "stringDisplayType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Default",
              "DataEntry",
              "ErrorMessage",
              "Export",
              "Merge",
              "Reporter",
              "TreeColumn",
              "ViewPane",
              "WebPublish",
              "WebService"
            ],
            "x-ms-enum-values": [
              {
                "value": "Default",
                "displayName": "Default"
              },
              {
                "value": "DataEntry",
                "displayName": "Data Entry"
              },
              {
                "value": "ErrorMessage",
                "displayName": "Error Message"
              },
              {
                "value": "Export",
                "displayName": "Export"
              },
              {
                "value": "Merge",
                "displayName": "Merge"
              },
              {
                "value": "Reporter",
                "displayName": "Reporter"
              },
              {
                "value": "TreeColumn",
                "displayName": "Tree Column"
              },
              {
                "value": "ViewPane",
                "displayName": "View Pane"
              },
              {
                "value": "WebPublish",
                "displayName": "Web Publish"
              },
              {
                "value": "WebService",
                "displayName": "Web Service"
              }
            ],
            "description": "Returns the string value which format to use",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "String Display Type"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMLocationsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/FindLocationChildAddressUri/{LocationUri}": {
      "get": {
        "operationId": "FindLocationChildAddressUri",
        "summary": "Find Unique ID of Location Address",
        "description": "Get the Unique ID of a Location's Child Address",
        "parameters": [
          {
            "name": "type",
            "enum": [
              "Street",
              "Postal"
            ],
            "x-ms-enum-values": [
              {
                "value": "Street",
                "displayName": "Street"
              },
              {
                "value": "Postal",
                "displayName": "Mailing"
              }
            ],
            "type": "string",
            "description": "Select address type",
            "x-ms-summary": "Type",
            "in": "query"
          },
          {
            "name": "LocationUri",
            "in": "path",
            "description": "Unique ID of Location",
            "required": true,
            "type": "string",
            "x-ms-summary": "Unique Identifier",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMLocationAddressUri"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/UpdateLocationAdditionalFields": {
      "post": {
        "operationId": "LocationUpdateAdditionalFields",
        "summary": "Update Location (Additional Fields)",
        "description": "Update Additional Fields on a Location",
        "parameters": [
          {
            "name": "userToImpersonate",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User to Impersonate",
            "description": "The Network Login or Alternative Login of the Location in CM to impersonate"
          },
          {
            "name": "AdditionalField",
            "in": "body",
            "description": "Set Additional Fields on a Location",
            "schema": {
              "$ref": "#/definitions/CMFieldsLocation"
            }
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMLocationsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/ReadEventData": {
      "post": {
        "operationId": "ReadEventData",
        "summary": "Read Event Data",
        "description": "Transform Kapish Dispatch event data for flow consumption",
        "parameters": [
          {
            "name": "Raw Event Data",
            "in": "body",
            "description": "Data retrieved from Kapish Dispatch",
            "schema": {
              "$ref": "#/definitions/RawEventData"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMEventData"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/AddAccessControl": {
      "post": {
        "description": "AddAccessControl",
        "operationId": "AddAccessControl",
        "summary": "Update Record (Add Access Controls)",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Adds locations in a given Access Control",
            "schema": {
              "$ref": "#/definitions/SetAccessControl"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/RemoveAccessControl": {
      "post": {
        "description": "RemoveAccessControl",
        "operationId": "RemoveAccessControl",
        "summary": "Update Record (Remove Location from Access Controls)",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Removes locations from a given Access Control",
            "schema": {
              "$ref": "#/definitions/SetAccessControl"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/SetAccessControl": {
      "post": {
        "description": "SetAccessControl",
        "operationId": "SetAccessControl",
        "summary": "Update Record (Replace Access Controls)",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Replaces all locations in a given Access Control",
            "schema": {
              "$ref": "#/definitions/SetAccessControl"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    },
    "/InheritAccessControl": {
      "post": {
        "description": "InheritAccessControl",
        "operationId": "InheritAccessControl",
        "summary": "Update Record (Set Access Unrestricted or Based on Container)",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Record",
            "in": "body",
            "description": "Update Record (Set Access Unrestricted or Based on Container)",
            "schema": {
              "$ref": "#/definitions/InheritAccessControl"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CMRecordsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        }
      }
    }
  },
  "definitions": {
    "InheritAccessControl": {
      "type": "object",
      "required": [
        "Uri"
      ],
      "properties": {
        "Uri": {
          "type": "integer",
          "format": "int64",
          "x-ms-summary": "Unique Identifier"
        },
        "AccessControlList": {
          "$ref": "#/definitions/AccessControlList"
        }
      }
    },
    "SetAccessControl": {
      "type": "object",
      "required": [
        "Uri"
      ],
      "properties": {
        "Uri": {
          "type": "integer",
          "format": "int64",
          "x-ms-summary": "Unique Identifier"
        },
        "AccessControlList": {
          "$ref": "#/definitions/AccessControlList"
        }
      }
    },
    "AccessControlList": {
      "type": "object",
      "properties": {
        "FunctionEnum": {
          "type": "string",
          "default": "RecordAccess",
          "x-ms-visibility": "advanced"
        },
        "FunctionProfiles": {
          "$ref": "#/definitions/FunctionProfiles"
        }
      }
    },
    "FunctionProfiles": {
      "type": "object",
      "properties": {
        "ViewDocument": {
          "$ref": "#/definitions/ViewDocument"
        },
        "ViewRecord": {
          "$ref": "#/definitions/ViewRecord"
        },
        "UpdateDocument": {
          "$ref": "#/definitions/UpdateDocument"
        },
        "UpdateMetadata": {
          "$ref": "#/definitions/UpdateMetadata"
        },
        "ModifyAccess": {
          "$ref": "#/definitions/ModifyAccess"
        },
        "DestroyRecord": {
          "$ref": "#/definitions/DestroyRecord"
        },
        "AddContents": {
          "$ref": "#/definitions/AddContents"
        }
      }
    },
    "ViewDocument": {
      "type": "object",
      "properties": {
        "AccessLocations": {
          "type": "array",
          "x-ms-summary": "View Document",
          "items": {
            "$ref": "#/definitions/AccessLocationsItem"
          }
        }
      }
    },
    "ViewRecord": {
      "type": "object",
      "properties": {
        "AccessLocations": {
          "type": "array",
          "x-ms-summary": "View Metadata",
          "items": {
            "$ref": "#/definitions/AccessLocationsItem"
          }
        }
      }
    },
    "UpdateDocument": {
      "type": "object",
      "properties": {
        "AccessLocations": {
          "type": "array",
          "x-ms-summary": "Update Document",
          "items": {
            "$ref": "#/definitions/AccessLocationsItem"
          }
        }
      }
    },
    "UpdateMetadata": {
      "type": "object",
      "properties": {
        "AccessLocations": {
          "type": "array",
          "x-ms-summary": "Update Record Metadata",
          "items": {
            "$ref": "#/definitions/AccessLocationsItem"
          }
        }
      }
    },
    "ModifyAccess": {
      "type": "object",
      "properties": {
        "AccessLocations": {
          "type": "array",
          "x-ms-summary": "Modify Record Access",
          "items": {
            "$ref": "#/definitions/AccessLocationsItem"
          }
        }
      }
    },
    "DestroyRecord": {
      "type": "object",
      "properties": {
        "AccessLocations": {
          "type": "array",
          "x-ms-summary": "Destroy Record",
          "items": {
            "$ref": "#/definitions/AccessLocationsItem"
          }
        }
      }
    },
    "AddContents": {
      "type": "object",
      "properties": {
        "AccessLocations": {
          "type": "array",
          "x-ms-summary": "Contribute Contents",
          "items": {
            "$ref": "#/definitions/AccessLocationsItem"
          }
        }
      }
    },
    "AccessLocationsItem": {
      "description": "AccessLocations",
      "type": "object",
      "properties": {
        "Uri": {
          "type": "integer",
          "format": "int64",
          "description": "Location Unique Identifier",
          "x-ms-summary": "Unique ID"
        }
      }
    },
    "RawEventData": {
      "type": "object",
      "properties": {
        "Content": {
          "description": "The content of the Service Bus action that retrieved the CM Event Data",
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Content"
        }
      }
    },
    "CMRecord": {
      "type": "object",
      "properties": {
        "RecordFilePath": {
          "description": "The filename as it appears in the Uploads folder",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "File Path"
        },
        "RecordAccessionNumber": {
          "description": "",
          "type": "integer",
          "format": "int64",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Accession Number"
        },
        "RecordAddressee": {
          "description": "",
          "type": "integer",
          "format": "int64",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Addressee"
        },
        "RecordAlternativeContainer": {
          "description": "",
          "type": "integer",
          "format": "int64",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Alternative Container"
        },
        "RecordAssignee": {
          "description": "",
          "type": "integer",
          "format": "int64",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Assignee"
        },
        "RecordAuthor": {
          "description": "",
          "type": "integer",
          "format": "int64",
          "x-ms-visibility": "important",
          "x-ms-summary": "Author"
        },
        "RecordAuthorizationMethod": {
          "type": "string",
          "enum": [
            "Simple",
            "Challenge",
            "Docusign"
          ],
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Authorization Method"
        },
        "RecordAutoClassificationConfidenceLevel": {
          "description": "",
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Auto Classification Confidence Level"
        },
        "RecordAutoRenderToPDFOnSave": {
          "description": "",
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Auto Render to PDF On Save"
        },
        "RecordBlueprintTitle": {
          "description": "",
[...]
