{
  "swagger": "2.0",
  "info": {
    "title": "Seismic Library",
    "description": "The Seismic Library connector includes actions related to adding, updating, deleting, publishing, and downloading Library content.",
    "contact": {
      "name": "Seismic",
      "email": "support@seismic.com",
      "url": "https://seismic.com"
    },
    "license": {
      "name": "Seismic"
    },
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "api.seismic.com",
  "basePath": "/integration/v2",
  "schemes": [
    "https"
  ],
  "paths": {
    "/teamsites/{teamsiteId}/files": {
      "post": {
        "tags": [
          "Library Content Management"
        ],
        "summary": "Add a File",
        "description": "Adds a new file using a multipart/form-data POST containing the file's metadata and the file contents.",
        "operationId": "CreateLibraryFile",
        "consumes": [
          "multipart/form-data",
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "query",
            "name": "resolveNameCollision",
            "description": "Optional query parameter. Accepts true or false, defaults to false.",
            "type": "boolean",
            "default": false,
            "x-ms-summary": "Resolve Name Collision"
          },
          {
            "in": "formData",
            "name": "metadata",
            "description": "Json Object with 'name', 'parentFolderId' and 'format' like 'ppt' or 'doc'. Example: {\"name\" : \"Big Presentation\", \"parentFolderId\" : \"root\", \"format\": \"ppt\"}",
            "type": "string",
            "x-ms-summary": "Metadata"
          },
          {
            "in": "formData",
            "name": "content",
            "description": "Only text file supported here, Add any strings to create file.",
            "type": "file",
            "x-ms-summary": "Content"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryContentManagement.LibraryFileDetailsResponse"
            }
          }
        }
      }
    },
    "/teamsites/{teamsiteId}/files/{libraryContentId}": {
      "get": {
        "tags": [
          "Library Content Management"
        ],
        "summary": "Get file information or properties",
        "description": "Get library file content information.",
        "operationId": "GetLibraryFileDetails",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "path",
            "name": "libraryContentId",
            "description": "Library Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Content Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryContentManagement.LibraryFileDetailsResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Library Content Management"
        ],
        "summary": "Change file information or properties",
        "description": "This endpoint can be use to move a file or update its properties, including system properties such as the name, owner, description, as well as custom properties.",
        "operationId": "UpdateLibraryFile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "path",
            "name": "libraryContentId",
            "description": "Library Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Content Id"
          },
          {
            "in": "query",
            "name": "includeResponse",
            "description": "If set it to true, it will return content information otherwise nothing will return.",
            "type": "boolean",
            "default": true,
            "x-ms-summary": "Include Response"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryContentManagement.UpdateLibraryFileRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryContentManagement.LibraryFileDetailsResponse"
            }
          }
        }
      }
    },
    "/teamsites/{teamsiteId}/files/{libraryContentId}/content": {
      "get": {
        "tags": [
          "Library Content Management"
        ],
        "summary": "Download a file",
        "description": "Downloads the binary contents of a file.",
        "operationId": "DownloadLibraryFile",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "path",
            "name": "libraryContentId",
            "description": "Library Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Content Id"
          },
          {
            "in": "query",
            "name": "redirect",
            "description": "Optional query parameter. Accepts true or false, defaults to true. If true then response is a 302 redirect to download url,\r\n            else a 200 response with download location in response body.",
            "type": "boolean",
            "default": true,
            "x-ms-summary": "Redirect"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.Common.DownloadLocationResp"
            }
          },
          "302": {
            "description": "Redirect"
          }
        }
      },
      "put": {
        "tags": [
          "Library Content Management"
        ],
        "summary": "Add a new file version",
        "description": "Adds a new file version using a multipart/form-data POST containing the file's content in the content form data.",
        "operationId": "CreateLibraryFileVersion",
        "consumes": [
          "multipart/form-data",
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "path",
            "name": "libraryContentId",
            "description": "Library Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Content Id"
          },
          {
            "in": "formData",
            "name": "content",
            "description": "File content bytes. Use a Content-Disposition that includes a 'filename' parameter to indicate this is file data. The specific filename value is ignored in favor of metadata.name.",
            "type": "file",
            "x-ms-summary": "Content"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryContentManagement.LibraryFileDetailsResponse"
            }
          }
        }
      }
    },
    "/teamsites/{teamsiteId}/files/{libraryContentId}/versions/{libraryVersionId}/content": {
      "get": {
        "tags": [
          "Library Content Management"
        ],
        "summary": "Download a file version",
        "description": "Downloads the binary contents of a file version.",
        "operationId": "DownloadLibraryFileVersion",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "path",
            "name": "libraryContentId",
            "description": "Library Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Content Id"
          },
          {
            "in": "path",
            "name": "libraryVersionId",
            "description": "Library Version Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Version Id"
          },
          {
            "in": "query",
            "name": "redirect",
            "description": "Optional query parameter. Accepts true or false, defaults to true. If true then response is a 302 redirect to download url,\r\n            else a 200 response with download location in response body.",
            "type": "boolean",
            "default": true,
            "x-ms-summary": "Redirect"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.Common.DownloadLocationResp"
            }
          },
          "302": {
            "description": "Redirect"
          }
        }
      }
    },
    "/teamsites/{teamsiteId}/files/{libraryContentId}/copy": {
      "post": {
        "tags": [
          "Library Content Management"
        ],
        "summary": "Copy a File",
        "description": "Copy a file to any target folder.",
        "operationId": "CopyLibraryFile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "path",
            "name": "libraryContentId",
            "description": "Library Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Content Id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryContentManagement.CopyTargetFolder"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryContentManagement.LibraryFileDetailsResponse"
            }
          }
        }
      }
    },
    "/teamsites/{teamsiteId}/folders": {
      "post": {
        "tags": [
          "Library Content Management"
        ],
        "summary": "Add a folder",
        "description": "Adds a new folder inside a given folder. Use the special keywork \"root\" as the parentFolderId to create a new folder in the teamsite's root",
        "operationId": "CreateLibraryFolder",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryContentManagement.LibraryFolderRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryContentManagement.LibraryFolderResponse"
            }
          }
        }
      }
    },
    "/teamsites/{teamsiteId}/folders/{libraryContentId}": {
      "get": {
        "tags": [
          "Library Content Management"
        ],
        "summary": "Get folder information",
        "description": "Get folder information.",
        "operationId": "GetLibraryFolderDetails",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "path",
            "name": "libraryContentId",
            "description": "Library Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Content Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryContentManagement.LibraryFolderResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Library Content Management"
        ],
        "summary": "Change folder information",
        "description": "This endpoint can be used to move or rename a folder.",
        "operationId": "UpdateLibraryFolder",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "path",
            "name": "libraryContentId",
            "description": "Library Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Content Id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryContentManagement.LibraryFolderRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryContentManagement.LibraryFolderResponse"
            }
          }
        }
      }
    },
    "/teamsites/{teamsiteId}/folders/createPath": {
      "put": {
        "tags": [
          "Library Content Management"
        ],
        "summary": "Create or Get folders by folder path",
        "description": "Create or Get folders starting from root folder.",
        "operationId": "CreateNestedLibraryFolders",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "query",
            "name": "folderPath",
            "description": "List of folder names. Example : /folder1/folder2",
            "type": "string",
            "x-ms-summary": "Folder Path"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryContentManagement.NestedLibraryFoldersResponse"
            }
          }
        }
      }
    },
    "/teamsites/{teamsiteId}/folders/{libraryContentId}/copy": {
      "post": {
        "tags": [
          "Library Content Management"
        ],
        "summary": "Copy a folder",
        "description": "Copy a folder to any target folder.",
        "operationId": "CopyLibraryFolder",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "path",
            "name": "libraryContentId",
            "description": "Library Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Content Id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryContentManagement.CopyTargetFolder"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryContentManagement.LibraryFolderResponse"
            }
          }
        }
      }
    },
    "/teamsites/{teamsiteId}/folders/{libraryContentId}/items": {
      "get": {
        "tags": [
          "Library Content Management"
        ],
        "summary": "Get the list of items in a folder",
        "description": "Get list of items in a folder. Each item's structure closely mirrors the structure returned by the `GET` endpoint for that item type.\n\n To expand the response there are two optional query string parameters. `includeExpiration` and `includeProperties` can be used to include additional properties within the list response. By default these are set to false.",
        "operationId": "GetLibraryFolderItems",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "path",
            "name": "libraryContentId",
            "description": "Library Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Content Id"
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Default 0",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Offset"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Default 1000",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "in": "query",
            "name": "includeExpiration",
            "description": "If specified and set to 'true', the item's ExpiresAt field will be filled if it has an expiration date.",
            "type": "boolean",
            "default": false,
            "x-ms-summary": "Include Expiration"
          },
          {
            "in": "query",
            "name": "includeProperties",
            "description": "If specified and set to 'true', the items's Properties field will be filled if it has custom properties.",
            "type": "boolean",
            "default": false,
            "x-ms-summary": "Include Properties"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.Paging.LibraryContentManagement.LibraryGenericItemDetailsResponse"
            }
          }
        }
      }
    },
    "/teamsites/{teamsiteId}/items/{libraryContentId}": {
      "get": {
        "tags": [
          "Library Content Management"
        ],
        "summary": "Get item information or properties",
        "description": "This is the generalized endpoint to get information (both built in and custom properties) for any item type.",
        "operationId": "GetLibraryItemDetails",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "path",
            "name": "libraryContentId",
            "description": "Library Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Content Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryContentManagement.LibraryGenericItemDetailsResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Library Content Management"
        ],
        "summary": "Delete an item",
        "description": "Delete an item",
        "operationId": "DeleteLibraryItem",
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "path",
            "name": "libraryContentId",
            "description": "file or folder id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Content Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/teamsites/{teamsiteId}/items/{libraryContentId}/copy": {
      "post": {
        "tags": [
          "Library Content Management"
        ],
        "summary": "Copy an item",
        "description": "Copy any type of item such as a file, folder, url, article, etc... to any target folder.",
        "operationId": "CopyLibraryItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "path",
            "name": "libraryContentId",
            "description": "Library Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Content Id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryContentManagement.CopyTargetFolder"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryContentManagement.LibraryGenericItemDetailsResponse"
            }
          }
        }
      }
    },
    "/teamsites/{teamsiteId}/items/{libraryContentId}/versions": {
      "get": {
        "tags": [
          "Library Content Management"
        ],
        "summary": "Get all versions for an item",
        "description": "Gets the list of versions for a given item.",
        "operationId": "GetLibraryItemVersion",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "path",
            "name": "libraryContentId",
            "description": "Library Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Content Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Seismic.LibraryContentManagement.SimpleItemVersion"
              }
            }
          }
        }
      }
    },
    "/teamsites/{teamsiteId}/items": {
      "get": {
        "tags": [
          "Library Content Management"
        ],
        "summary": "Get items by query",
        "description": "Gets items in the teamsite with the specified External Id or External Connection Id. (Limit 50 items)",
        "operationId": "GetLibraryItemsByQuery",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "query",
            "name": "externalId",
            "description": "External Id",
            "type": "string",
            "x-ms-summary": "External Id"
          },
          {
            "in": "query",
            "name": "externalConnectionId",
            "description": "External Connection Id",
            "type": "string",
            "x-ms-summary": "External Connection Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.Common.Items.Of.Seismic.LibraryContentManagement.LibraryGenericItemDetailsResponse"
            }
          }
        }
      }
    },
    "/teamsites/{teamsiteId}/items/{libraryContentId}/thumbnail": {
      "put": {
        "tags": [
          "Library Content Management"
        ],
        "summary": "Replace thumbnail on an item",
        "description": "Replace thumbnail on an item. Supported image types include `jpg`, `png`, and `tif`. Thumbnails shall be passed as a base64 encoded string in the body.",
        "operationId": "UpdateThumbnailItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "path",
            "name": "libraryContentId",
            "description": "Library Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Content Id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Provide base64 encoded string of thumbnail.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "x-ms-summary": "Thumbnail Id"
            }
          }
        }
      }
    },
    "/teamsites/{teamsiteId}/items/{libraryContentId}/instructions": {
      "get": {
        "tags": [
          "Library Instructions"
        ],
        "summary": "Get instructions on an item",
        "description": "Gets list of instructions on an item.",
        "operationId": "GetLibraryInstructions",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id",
            "description": "Teamsite Id"
          },
          {
            "in": "path",
            "name": "libraryContentId",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Content Id",
            "description": "Library Content Id"
          },
          {
            "in": "query",
            "name": "offset",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Offset",
            "description": "Offset"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit",
            "description": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.Paging.LibraryInstructions.InstructionInfoResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Library Instructions"
        ],
        "summary": "Add an instruction on an item",
        "description": "Adds an instruction on an item.",
        "operationId": "AddLibraryInstruction",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id",
            "description": "Teamsite Id"
          },
          {
            "in": "path",
            "name": "libraryContentId",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Content Id",
            "description": "Library Content Id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryInstructions.AddInstructionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryInstructions.InstructionInfoResponse"
            }
          }
        }
      }
    },
    "/teamsites/{teamsiteId}/items/{libraryContentId}/instructions/{instructionId}": {
      "delete": {
        "tags": [
          "Library Instructions"
        ],
        "summary": "Delete an instruction on an item",
        "description": "Deletes an instruction on an item.",
        "operationId": "DeleteLibraryInstruction",
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id",
            "description": "Teamsite Id"
          },
          {
            "in": "path",
            "name": "libraryContentId",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Content Id",
            "description": "Library Content Id"
          },
          {
            "in": "path",
            "name": "instructionId",
            "required": true,
            "type": "string",
            "x-ms-summary": "Instruction Id",
            "description": "Instruction Id"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/teamsites/{teamsiteId}/items/{libraryContentId}/submit": {
      "put": {
        "tags": [
          "Library Workflow"
        ],
        "summary": "Submit a document into workflow",
        "description": "Submit a document into workflow",
        "operationId": "SubmitLibraryItemToWorkflow",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "path",
            "name": "libraryContentId",
            "description": "Library Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Content Id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryWorkflow.SubmitFileToWorkFlowRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "x-ms-summary": "Workflow Id",
                "description": "Workflow Id"
              }
            }
          }
        }
      }
    },
    "/teamsites/{teamsiteId}/items/{libraryContentId}/recall": {
      "put": {
        "tags": [
          "Library Workflow"
        ],
        "summary": "Recall a document from workflow",
        "description": "Recall a document from workflow",
        "operationId": "RecallItemFromWorkflow",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "path",
            "name": "libraryContentId",
            "description": "Library Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Content Id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryWorkflow.SubmitFileToWorkFlowRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/teamsites/{teamsiteId}/publish": {
      "post": {
        "tags": [
          "Library Publishing"
        ],
        "summary": "Publish one or more documents",
        "description": "This endpoint can be used to immediately promote and publish content, or schedule publish of content for a future date for up to 10 unpublished documents",
        "operationId": "PublishLibraryItems",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "new folder",
            "schema": {
              "$ref": "#/definitions/Seismic.ContentManager.PublishRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryPublishing.PublishResponse"
            }
          }
        }
      }
    },
    "/teamsites/{teamsiteId}/items/{libraryContentId}/unpublish": {
      "put": {
        "tags": [
          "Library Publishing"
        ],
        "summary": "Unpublish a document",
        "description": "This endpoint is to unpublished a document that has been published.",
        "operationId": "UnpublishLibraryItem",
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "path",
            "name": "libraryContentId",
            "description": "Library Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Content Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/approvalWorkflows/{approvalWorkflowId}/steps/{stepId}": {
      "put": {
        "tags": [
          "Library Workflow"
        ],
        "summary": "Approve or Reject workflow step",
        "description": "Approve, reject, or revoke a given workflow step. Must be authenticated as the assigned user in order to complete this action.",
        "operationId": "UpdateLibraryWorkflowStep",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "approvalWorkflowId",
            "description": "Approval Workflow Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Approval Workflow Id"
          },
          {
            "in": "path",
            "name": "stepId",
            "description": "Step Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Step Id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "approval details",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryWorkflow.WorkflowStepApprovalRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryWorkflow.WorkflowResponse"
            }
          }
        }
      }
    },
    "/approvalWorkflows/{approvalWorkflowId}": {
      "get": {
        "tags": [
          "Library Workflow"
        ],
        "summary": "Get information for a particular workflow",
        "description": "Get information for a particular workflow given by workflow id.",
        "operationId": "GetLibraryWorkflow",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "approvalWorkflowId",
            "description": "Approval Workflow Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Approval Workflow Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryWorkflow.WorkflowResponse"
            }
          }
        }
      }
    },
    "/approvalWorkflows": {
      "get": {
        "tags": [
          "Library Workflow"
        ],
        "summary": "Get list of approval workflows",
        "description": "Get list of approval workflows. Use optional query string parameters to filter the response.",
        "operationId": "GetWorkflows",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "teamsiteId",
            "type": "string",
            "x-ms-summary": "Teamsite Id",
            "description": "Teamsite Id"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit",
            "description": "Limit"
          },
          {
            "in": "query",
            "name": "offset",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Offset",
            "description": "Offset"
          },
          {
            "in": "query",
            "name": "currentStepAssignedTo",
            "type": "string",
            "x-ms-summary": "Current Step Assigned To",
            "description": "Current Step AssignedTo"
          },
          {
            "in": "query",
            "name": "status",
            "type": "string",
            "x-ms-summary": "Status",
            "description": "Status"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.Paging.LibraryWorkflow.WorkflowResponse"
            }
          }
        }
      }
    },
    "/teamsites/{teamsiteId}/urls": {
      "post": {
        "tags": [
          "Library Content Management"
        ],
        "summary": "Add a url",
        "description": "Adds a new URL using an application/json POST with all required information in the POST body.",
        "operationId": "CreateLibraryUrl",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Body data",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryContentManagement.NewLibraryUrlRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryContentManagement.LibraryUrlDetailsResponse"
            }
          }
        }
      }
    },
    "/teamsites/{teamsiteId}/urls/{libraryContentId}": {
      "get": {
        "tags": [
          "Library Content Management"
        ],
        "summary": "Get url information or properties",
        "description": "Get url information or properties.",
        "operationId": "GetLibraryUrlDetails",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "path",
            "name": "libraryContentId",
            "description": "Library Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Content Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryContentManagement.LibraryUrlDetailsResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Library Content Management"
        ],
        "summary": "Change url information or properties",
        "description": "This endpoint allows any of the url's properties to be modified including system properties such as the name, owner, description, as well as custom properties.",
        "operationId": "UpdateLibraryUrl",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "path",
            "name": "libraryContentId",
            "description": "Library Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Content Id"
          },
          {
            "in": "query",
            "name": "includeResponse",
            "description": "Include Response",
            "type": "boolean",
            "default": true,
            "x-ms-summary": "Include Response"
          },
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryContentManagement.UpdateLibraryUrlRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryContentManagement.LibraryUrlDetailsResponse"
            }
          }
        }
      }
    },
    "/teamsites/{teamsiteId}/urls/{libraryContentId}/copy": {
      "post": {
        "tags": [
          "Library Content Management"
        ],
        "summary": "Copy a url",
        "description": "Copy a url to any target folder.",
        "operationId": "CopyLibraryUrl",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "path",
            "name": "libraryContentId",
            "description": "Library Content Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Content Id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryContentManagement.CopyTargetFolder"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Seismic.LibraryContentManagement.LibraryUrlDetailsResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Seismic.LibraryContentManagement.NestedLibraryFoldersResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Id",
          "description": "Folder Id"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name",
          "description": "Folder Name"
        },
        "path": {
          "type": "array",
          "x-ms-summary": "Path",
          "description": "Path",
          "items": {
            "$ref": "#/definitions/Seismic.LibraryContentManagement.NestedLibraryFoldersResponse"
          }
        }
      }
    },
    "Seismic.LibraryWorkflow.SubmitFileToWorkFlowRequest": {
      "type": "object",
      "properties": {
        "comments": {
          "type": "string",
          "x-ms-summary": "Comments",
          "description": "Comments"
        }
      }
    },
    "Seismic.ContentManager.PublishContentItem": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Id",
          "description": "Id"
        }
      }
    },
    "Seismic.ContentManager.PublishRequest": {
      "type": "object",
      "properties": {
        "comment": {
          "type": "string",
          "x-ms-summary": "Comment",
          "description": "Comment"
        },
        "publishAt": {
          "type": "string",
          "x-ms-summary": "Publish At",
          "description": "Publish At"
        },
        "content": {
          "type": "array",
          "x-ms-summary": "Content",
          "description": "Content",
          "items": {
            "$ref": "#/definitions/Seismic.ContentManager.PublishContentItem"
          }
        }
      }
    },
    "Seismic.Paging.LibraryContentManagement.LibraryGenericItemDetailsResponse": {
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Seismic.LibraryContentManagement.LibraryGenericItemDetailsResponse"
          }
        },
        "totalCount": {
          "format": "int64",
          "type": "integer",
          "x-ms-summary": "Total Count",
          "description": "Total Count"
        },
        "pageCap": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Page Cap",
          "description": "Page Cap"
        },
        "limit": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Limit",
          "description": "Limit"
        },
        "offset": {
          "format": "int64",
          "type": "integer",
          "x-ms-summary": "Offset",
          "description": "Offset"
        },
        "continuationToken": {
          "type": "string",
          "x-ms-summary": "Continuation Token",
          "description": "Continuation Token"
        },
        "nextPageLink": {
          "type": "string",
          "x-ms-summary": "Next Page Link",
          "description": "Next Page Link"
        }
      },
      "required": [
        "entries"
      ]
    },
    "Seismic.Paging.LibraryInstructions.InstructionInfoResponse": {
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Seismic.LibraryInstructions.InstructionInfoResponse"
          }
        },
        "totalCount": {
          "format": "int64",
          "type": "integer",
          "x-ms-summary": "Total Count",
          "description": "Total Count"
        },
        "pageCap": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Page Cap",
          "description": "Page Cap"
        },
        "limit": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Limit",
          "description": "Limit"
        },
        "offset": {
          "format": "int64",
          "type": "integer",
          "x-ms-summary": "Offset",
          "description": "Offset"
        },
        "continuationToken": {
          "type": "string",
          "x-ms-summary": "Continuation Token",
          "description": "Continuation Token"
        },
        "nextPageLink": {
          "type": "string",
          "x-ms-summary": "Next Page Link",
          "description": "Next Page Link"
        }
      }
    },
    "Seismic.Paging.LibraryWorkflow.WorkflowResponse": {
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Seismic.LibraryWorkflow.WorkflowResponse"
          }
        },
        "totalCount": {
          "format": "int64",
          "type": "integer",
          "x-ms-summary": "Total Count",
          "description": "Total Count"
        },
        "pageCap": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Page Cap",
          "description": "Page Cap"
        },
        "limit": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Limit",
          "description": "Limit"
        },
        "offset": {
          "format": "int64",
          "type": "integer",
          "x-ms-summary": "Offset",
          "description": "Offset"
        },
        "continuationToken": {
          "type": "string",
          "x-ms-summary": "Continuation Token",
          "description": "Continuation Token"
        },
        "nextPageLink": {
          "type": "string",
          "x-ms-summary": "Next Page Link",
          "description": "Next Page Link"
        }
      }
    },
    "Seismic.Common.DownloadLocationResp": {
      "type": "object",
      "properties": {
        "downloadUrl": {
          "type": "string",
          "x-ms-summary": "Download Url",
          "description": "Download Url"
        }
      }
    },
    "Seismic.Common.Items.Of.Seismic.LibraryContentManagement.LibraryGenericItemDetailsResponse": {
      "required": [
        "itemCount",
        "items"
      ],
      "type": "object",
      "properties": {
        "itemCount": {
          "format": "int64",
          "type": "integer",
          "x-ms-summary": "Item Count",
          "description": "Item Count"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Seismic.LibraryContentManagement.LibraryGenericItemDetailsResponse"
          }
        }
      }
    },
    "Seismic.Common.StateChangedByUser": {
      "type": "object",
      "x-ms-summary": "State changed by user",
      "properties": {
        "id": {
          "type": "string",
          "description": "State changed by user Id"
        },
        "username": {
          "type": "string",
          "description": "State changed by user Name",
          "x-ms-summary": "Name"
        },
        "isDeleted": {
          "type": "boolean",
          "description": "Modified by is user deleted?",
          "x-ms-summary": "Is deleted"
        }
      }
    },
    "Seismic.Common.CreatedByUser": {
      "type": "object",
      "x-ms-summary": "Created by user",
      "properties": {
        "id": {
          "type": "string",
          "description": "Created by user Id"
        },
        "username": {
          "type": "string",
          "description": "Created by user Name",
          "x-ms-summary": "Name"
        },
        "isDeleted": {
          "type": "boolean",
          "description": "Modified by is user deleted?",
          "x-ms-summary": "Is deleted"
        }
      }
    },
    "Seismic.Common.ModifiedByUser": {
      "type": "object",
      "x-ms-summary": "Modified by user",
      "properties": {
        "id": {
          "type": "string",
          "description": "Modified by user Id"
        },
        "username": {
          "type": "string",
          "description": "Modified by user Name",
          "x-ms-summary": "Name"
        },
        "isDeleted": {
          "type": "boolean",
          "description": "Modified by is user deleted?",
          "x-ms-summary": "Is deleted"
        }
      }
    },
    "Seismic.Common.SubmittedByUser": {
      "type": "object",
      "x-ms-summary": "Submitted by user",
      "description": "Submitted by user",
      "properties": {
        "id": {
          "type": "string",
          "description": "Submitted by user Id"
        },
        "username": {
          "type": "string",
          "description": "Submitted by user Name",
          "x-ms-summary": "Name"
        },
        "isDeleted": {
          "type": "boolean",
          "description": "Submitted by is user deleted?",
          "x-ms-summary": "Is deleted"
        }
      }
    },
    "Seismic.LibraryContentManagement.ContentExperts": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Id",
          "description": "Expert user Id"
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Type",
          "description": "Expert user Type"
        }
      }
    },
    "Seismic.LibraryContentManagement.ContentProfile": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id"
        },
        "name": {
          "type": "string",
          "description": "name"
        },
        "type": {
          "type": "string",
          "description": "type"
        }
      }
    },
    "Seismic.LibraryContentManagement.CopyTargetFolder": {
      "type": "object",
      "properties": {
        "parentFolderId": {
          "type": "string",
          "x-ms-summary": "Parent Folder Id",
          "title": "Parent Folder Id",
          "description": "Parent Folder Id"
        }
      },
      "required": [
        "parentFolderId"
      ]
    },
    "Seismic.LibraryContentManagement.CustomProperties": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Id",
          "description": "Id"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name",
          "description": "Name"
        },
        "values": {
          "type": "array",
          "x-ms-summary": "Values",
          "description": "Values",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Seismic.LibraryContentManagement.EnumResponseType": {
      "enum": [
        "unknown",
        "file",
        "folder",
        "url",
        "youtube",
        "vimeo",
        "datasource",
        "livedoc",
        "article",
        "livecomponent",
        "emailtemplate",
        "emailcomponent",
        "microapp"
      ],
      "type": "string"
    },
    "Seismic.LibraryContentManagement.LibraryFileDetailsResponse": {
      "type": "object",
      "properties": {
        "size": {
          "format": "int64",
          "description": "Size",
          "type": "integer",
          "x-ms-summary": "Size"
        },
        "assignedToProfiles": {
          "description": "Assigned To Profiles",
          "type": "array",
          "x-ms-summary": "Assigned To Profiles",
          "items": {
            "$ref": "#/definitions/Seismic.LibraryContentManagement.ContentProfile"
          }
        },
        "version": {
          "description": "Version",
          "type": "string",
          "x-ms-summary": "Version"
        },
        "versionId": {
          "description": "Version Id",
          "type": "string",
          "x-ms-summary": "Version Id"
        },
        "contentId": {
          "description": "Content ID",
          "type": "string",
          "x-ms-summary": "Content Id"
        },
        "format": {
          "type": "string",
          "x-ms-summary": "Format",
          "description": "Format"
        },
        "status": {
          "type": "string",
          "x-ms-summary": "Status",
          "description": "Status"
        },
        "ownerId": {
          "description": "The userId of the owner of the item.",
          "type": "string",
          "x-ms-summary": "Owner Id"
        },
        "thumbnailId": {
          "description": "",
          "type": "string",
          "x-ms-summary": "Thumbnail Id"
        },
        "thumbnailUrl": {
          "description": "Thumbnail Url",
          "type": "string",
          "x-ms-summary": "Thumbnail Url"
        },
        "experts": {
          "description": "A list of experts for this item. A user expert would be in the form `{\"type\":\"user\", \"id\":\"the users id\"}`. A group expert would be in the form `{\"type\":\"group\", \"id\":\"the group id\"}`.",
          "type": "array",
          "x-ms-summary": "Experts",
          "items": {
            "$ref": "#/definitions/Seismic.LibraryContentManagement.ContentExperts"
          }
        },
        "properties": {
          "description": "An array of properties and their values where each property is identified by its id such as `{\"id\": \"the property id\",\"values\": [\"Value A\", \"Value B\"]}`. The property name can be included, but will be ignored.",
          "type": "array",
          "x-ms-summary": "Content Properties",
          "items": {
            "$ref": "#/definitions/Seismic.LibraryContentManagement.CustomProperties"
          }
        },
        "description": {
          "description": "The description for the item.",
          "type": "string",
          "x-ms-summary": "Description"
        },
        "expiresAt": {
          "description": "This date does not accept the time component, so should be specified as a UTC YYYY-MM-DD.",
          "type": "string",
          "x-ms-summary": "Expires At"
        },
        "repository": {
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Repository",
          "description": "Repository"
        },
        "id": {
          "type": "string",
          "x-ms-summary": "Id",
          "description": "File Id"
        },
        "type": {
          "$ref": "#/definitions/Seismic.LibraryContentManagement.EnumResponseType"
        },
        "createdAt": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Created At",
          "description": "Created At"
        },
        "createdBy": {
          "$ref": "#/definitions/Seismic.Common.CreatedByUser"
        },
        "modifiedAt": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Modified At",
          "description": "Modified At"
        },
        "modifiedBy": {
          "$ref": "#/definitions/Seismic.Common.ModifiedByUser"
        },
        "parentFolderId": {
          "type": "string",
          "x-ms-summary": "Parent Folder Id",
          "description": "Parent Folder Id"
        },
        "name": {
          "description": "The name of the item",
          "type": "string",
          "x-ms-summary": "Name"
        },
        "externalId": {
          "description": "External Id",
          "type": "string",
          "x-ms-summary": "External Id"
        },
        "externalConnectionId": {
          "description": "External ConnectionId",
          "type": "string",
          "x-ms-summary": "External Connection Id"
        }
      }
    },
    "Seismic.LibraryContentManagement.LibraryFolderRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "x-ms-summary": "Name",
          "title": "Name",
          "description": "Name"
        },
        "parentFolderId": {
          "description": "Use \"root\" to place items in the root folder of the teamsite.",
          "type": "string",
          "x-ms-summary": "Parent Folder Id"
        },
        "externalId": {
          "description": "External Id",
          "type": "string",
          "x-ms-summary": "External Id"
        },
        "externalConnectionId": {
          "description": "External ConnectionId",
          "type": "string",
          "x-ms-summary": "External Connection Id"
        }
      },
      "required": [
        "name"
      ]
    },
    "Seismic.LibraryContentManagement.LibraryFolderResponse": {
      "type": "object",
      "properties": {
        "repository": {
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Repository",
          "description": "Repository"
        },
        "id": {
          "type": "string",
          "x-ms-summary": "Id",
          "description": "Id"
        },
        "type": {
          "$ref": "#/definitions/Seismic.LibraryContentManagement.EnumResponseType"
        },
        "createdAt": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Created At",
          "description": "Created At"
        },
        "createdBy": {
          "$ref": "#/definitions/Seismic.Common.CreatedByUser"
        },
        "modifiedAt": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Modified At",
          "description": "Modified At"
        },
        "modifiedBy": {
          "$ref": "#/definitions/Seismic.Common.ModifiedByUser"
        },
        "parentFolderId": {
          "type": "string",
          "x-ms-summary": "Parent Folder Id",
          "description": "Parent Folder Id"
        },
        "name": {
          "description": "The name of the item",
          "type": "string",
          "x-ms-summary": "Name"
        },
        "externalId": {
          "description": "external Id",
          "type": "string",
          "x-ms-summary": "External Id"
        },
        "externalConnectionId": {
          "description": "external Connection Id",
          "type": "string",
          "x-ms-summary": "External Connection Id"
        }
      }
    },
    "Seismic.LibraryContentManagement.LibraryGenericItemDetailsResponse": {
      "type": "object",
      "properties": {
        "url": {
          "$ref": "#/definitions/Seismic.LibraryContentManagement.UrlInfo"
        },
        "size": {
          "format": "int64",
          "description": "size",
          "type": "integer",
          "x-ms-summary": "Size"
        },
        "assignedToProfiles": {
          "description": "assigned To Profiles",
          "type": "array",
          "x-ms-summary": "Assigned To Profiles",
          "items": {
            "$ref": "#/definitions/Seismic.LibraryContentManagement.ContentProfile"
          }
        },
        "version": {
          "description": "version",
          "type": "string",
          "x-ms-summary": "Version"
        },
        "versionId": {
          "description": "version Id",
          "type": "string",
          "x-ms-summary": "Version Id"
        },
        "contentId": {
          "description": "Content ID",
          "type": "string",
          "x-ms-summary": "Content Id"
        },
        "format": {
          "type": "string",
          "x-ms-summary": "Format",
          "description": "format"
        },
        "status": {
          "type": "string",
          "x-ms-summary": "Status",
          "description": "Status"
        },
        "ownerId": {
          "description": "The userId of the owner of the item.",
          "type": "string",
          "x-ms-summary": "Owner Id"
        },
        "thumbnailId": {
          "description": "thumbnailId",
          "type": "string",
          "x-ms-summary": "Thumbnail Id"
        },
        "thumbnailUrl": {
          "description": "thumbnailUrl",
          "type": "string",
          "x-ms-summary": "Thumbnail Url"
        },
        "experts": {
          "description": "A list of experts for this item. A user expert would be in the form `{\"type\":\"user\", \"id\":\"the users id\"}`. A group expert would be in the form `{\"type\":\"group\", \"id\":\"the group id\"}`.",
          "type": "array",
          "x-ms-summary": "Experts",
          "items": {
            "$ref": "#/definitions/Seismic.LibraryContentManagement.ContentExperts"
          }
        },
        "properties": {
          "description": "An array of properties and their values where each property is identified by its id such as `{\"id\": \"the property id\",\"values\": [\"Value A\", \"Value B\"]}`. The property name can be included, but will be ignored.",
          "type": "array",
          "x-ms-summary": "Content Properties",
          "items": {
            "$ref": "#/definitions/Seismic.LibraryContentManagement.CustomProperties"
          }
        },
        "description": {
          "description": "The description for the item.",
          "type": "string"
        },
        "expiresAt": {
          "description": "Should be specified as a\n UTC YYYY-MM-DD.",
          "type": "string",
          "x-ms-summary": "Expires At"
        },
        "repository": {
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Repository",
          "description": "Repository"
        },
        "id": {
          "type": "string",
          "description": "Item Id",
          "x-ms-summary": "Id"
        },
        "type": {
          "$ref": "#/definitions/Seismic.LibraryContentManagement.EnumResponseType"
        },
        "createdAt": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Created At",
          "description": "Created At"
        },
        "createdBy": {
          "$ref": "#/definitions/Seismic.Common.CreatedByUser"
        },
        "modifiedAt": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Modified At",
          "description": "Modified At"
        },
        "modifiedBy": {
          "$ref": "#/definitions/Seismic.Common.ModifiedByUser"
        },
        "parentFolderId": {
          "type": "string",
          "x-ms-summary": "Parent Folder Id",
          "description": "Parent Folder Id"
        },
        "name": {
          "description": "The name of the item",
          "type": "string",
          "x-ms-summary": "Name"
        },
        "externalId": {
          "description": "externalId",
          "type": "string",
          "x-ms-summary": "External Id"
        },
        "externalConnectionId": {
          "description": "externalConnectionId",
          "type": "string",
          "x-ms-summary": "external Connection Id"
        }
      },
      "required": [
        "url"
      ]
    },
    "Seismic.LibraryContentManagement.LibraryUrlDetailsResponse": {
      "type": "object",
      "properties": {
        "url": {
          "$ref": "#/definitions/Seismic.LibraryContentManagement.UrlInfo"
        },
        "assignedToProfiles": {
          "description": "assignedToProfiles",
          "type": "array",
          "x-ms-summary": "Assigned To Profiles",
          "items": {
            "$ref": "#/definitions/Seismic.LibraryContentManagement.ContentProfile"
          }
        },
        "version": {
          "description": "version",
          "type": "string",
          "x-ms-summary": "Version"
        },
        "versionId": {
          "description": "versionId",
          "type": "string",
          "x-ms-summary": "Version Id"
        },
        "contentId": {
          "description": "Content ID",
          "type": "string",
          "x-ms-summary": "Content Id"
        },
        "format": {
          "type": "string",
          "x-ms-summary": "Format",
          "description": "Format"
        },
        "status": {
          "type": "string",
          "x-ms-summary": "Status",
          "description": "Status"
        },
        "ownerId": {
          "description": "The userId of the owner of the item.",
          "type": "string",
          "x-ms-summary": "Owner Id"
        },
        "thumbnailId": {
          "description": "thumbnailId",
          "type": "string",
          "x-ms-summary": "Thumbnail Id"
        },
        "thumbnailUrl": {
          "description": "thumbnailUrl",
          "type": "string",
          "x-ms-summary": "Thumbnail Url"
        },
        "experts": {
          "description": "A list of experts for this item. A user expert would be in the form `{\"type\":\"user\", \"id\":\"the users id\"}`. A group expert would be in the form `{\"type\":\"group\", \"id\":\"the group id\"}`.",
          "type": "array",
          "x-ms-summary": "Experts",
          "items": {
            "$ref": "#/definitions/Seismic.LibraryContentManagement.ContentExperts"
          }
        },
        "properties": {
          "description": "An array of properties and their values where each property is identified by its id such as `{\"id\": \"the property id\",\"values\": [\"Value A\", \"Value B\"]}`. The property name can be included, but will be ignored.",
          "type": "array",
          "x-ms-summary": "Content Properties",
          "items": {
            "$ref": "#/definitions/Seismic.LibraryContentManagement.CustomProperties"
          }
        },
        "description": {
          "description": "The description for the item.",
          "type": "string",
          "x-ms-summary": "Description"
        },
        "expiresAt": {
          "description": "This\n date does not accept the time component, so should be specified as a\n UTC YYYY-MM-DD.",
          "type": "string",
          "x-ms-summary": "Expires At"
        },
        "repository": {
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Repository",
          "description": "repository"
        },
        "id": {
          "type": "string",
          "x-ms-summary": "Id",
          "description": "Id"
        },
        "type": {
          "$ref": "#/definitions/Seismic.LibraryContentManagement.EnumResponseType"
        },
        "createdAt": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "CreatedAt",
          "description": "CreatedAt"
        },
        "createdBy": {
          "$ref": "#/definitions/Seismic.Common.CreatedByUser"
        },
        "modifiedAt": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "ModifiedAt",
          "description": "Modified At"
        },
        "modifiedBy": {
          "$ref": "#/definitions/Seismic.Common.ModifiedByUser"
        },
        "parentFolderId": {
          "type": "string",
          "x-ms-summary": "Parent Folder Id",
          "description":"Parent Folder Id"
        },
        "name": {
          "description": "The name of the item",
          "type": "string",
          "x-ms-summary": "Name"
        },
        "externalId": {
          "description": "externalId",
          "type": "string",
          "x-ms-summary": "External Id"
        },
        "externalConnectionId": {
          "description": "externalConnectionId",
          "type": "string",
          "x-ms-summary": "external Connection Id"
        }
      },
      "required": [
        "url"
      ]
    },
    "Seismic.LibraryContentManagement.NewLibraryUrlRequest": {
      "type": "object",
      "properties": {
        "format": {
          "description": "format",
          "type": "string",
          "x-ms-summary": "Format"
        },
        "url": {
          "$ref": "#/definitions/Seismic.LibraryContentManagement.AddUrl"
        },
        "ownerId": {
          "description": "The userId of the owner of the item.",
          "type": "string",
          "x-ms-summary": "Owner Id"
        },
        "name": {
          "description": "The name of the item",
          "type": "string",
          "x-ms-summary": "Name"
        },
        "parentFolderId": {
          "description": "Use \"root\" to place items in the root folder of the teamsite.",
          "type": "string",
          "x-ms-summary": "Parent Folder Id"
        },
        "description": {
          "description": "The description for the item.",
          "type": "string",
          "x-ms-summary": "Description"
        },
        "expiresAt": {
          "description": "This date does not accept the time component, so should be specified as a\n UTC YYYY-MM-DD.",
          "type": "string",
          "x-ms-summary": "Expires At"
        },
        "externalId": {
          "description": "externalId",
          "type": "string",
          "x-ms-summary": "External Id"
        },
        "externalConnectionId": {
          "description": "externalConnectionId",
          "type": "string",
          "x-ms-summary": "External Connection Id"
        },
        "experts": {
          "description": "A list of experts for this item. A user expert would be in the form `{\"type\":\"user\", \"id\":\"the users id\"}`. A group expert would be in the form `{\"type\":\"group\", \"id\":\"the group id\"}`.",
          "type": "array",
          "x-ms-summary": "Experts",
          "items": {
            "$ref": "#/definitions/Seismic.LibraryContentManagement.ContentExperts"
          }
        },
        "properties": {
          "description": "An array of properties and their values where each property is identified by its id such as `{\"id\": \"the property id\",\"values\": [\"Value A\", \"Value B\"]}`. The property name can be included, but will be ignored.",
          "type": "array",
          "x-ms-summary": "Content Properties",
          "items": {
            "$ref": "#/definitions/Seismic.LibraryContentManagement.CustomProperties"
          }
        }
      }
    },
    "Seismic.LibraryContentManagement.SimpleItemVersion": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Id",
          "description": "Id"
        },
        "version": {
          "type": "string",
          "x-ms-summary": "Version",
          "description": "Version"
        },
        "createdAt": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Created At",
          "description": "Created At"
        },
        "versionId": {
          "type": "string",
          "x-ms-summary": "Version Id",
          "description": "Version Id"
        }
      }
    },
    "Seismic.LibraryContentManagement.UpdateLibraryFileRequest": {
      "type": "object",
      "properties": {
        "ownerId": {
          "description": "The userId of the owner of the item.",
          "type": "string",
          "x-ms-summary": "Owner Id"
        },
        "description": {
          "description": "The description for the item.",
          "type": "string",
          "x-ms-summary": "Description"
        },
        "expiresAt": {
          "description": "This date does not accept the time component, so should be specified as a UTC YYYY-MM-DD.",
          "type": "string",
          "x-ms-summary": "Expires At"
        },
        "name": {
          "description": "The name of the item",
          "type": "string",
          "x-ms-summary": "Name"
        },
        "parentFolderId": {
          "description": "Use \"root\" to place items in the root folder of the teamsite.",
          "type": "string",
          "x-ms-summary": "Parent Folder Id"
        },
        "externalId": {
          "description": "externalId",
          "type": "string",
          "x-ms-summary": "External Id"
        },
        "externalConnectionId": {
          "description": "externalConnectionId",
          "type": "string",
          "x-ms-summary": "External Connection Id"
        },
        "experts": {
          "description": "A list of experts for this item. A user expert would be in the form `{\"type\":\"user\", \"id\":\"the users id\"}`. A group expert would be in the form `{\"type\":\"group\", \"id\":\"the group id\"}`.",
          "type": "array",
          "x-ms-summary": "Experts",
          "items": {
            "$ref": "#/definitions/Seismic.LibraryContentManagement.ContentExperts"
          }
        },
        "properties": {
          "description": "An array of properties and their values where each property is identified by its id such as `{\"id\": \"the property id\",\"values\": [\"Value A\", \"Value B\"]}`. The property name can be included, but will be ignored.",
          "type": "array",
          "x-ms-summary": "Content Properties",
          "items": {
            "$ref": "#/definitions/Seismic.LibraryContentManagement.CustomProperties"
          }
        }
      }
    },
    "Seismic.LibraryContentManagement.UpdateLibraryUrlRequest": {
      "type": "object",
      "properties": {
        "url": {
          "$ref": "#/definitions/Seismic.LibraryContentManagement.AddUrl"
        },
        "ownerId": {
          "description": "The userId of the owner of the item.",
          "type": "string",
          "x-ms-summary": "Owner Id"
        },
        "experts": {
          "description": "A list of experts for this item. A user expert would be in the form `{\"type\":\"user\", \"id\":\"the users id\"}`. A group expert would be in the form `{\"type\":\"group\", \"id\":\"the group id\"}`.",
          "type": "array",
          "x-ms-summary": "Experts",
          "items": {
            "$ref": "#/definitions/Seismic.LibraryContentManagement.ContentExperts"
          }
        },
        "properties": {
          "description": "An array of properties and their values where each property is identified by its id such as `{\"id\": \"the property id\",\"values\": [\"Value A\", \"Value B\"]}`. The property name can be included, but will be ignored.",
          "type": "array",
          "x-ms-summary": "Content Properties",
          "items": {
            "$ref": "#/definitions/Seismic.LibraryContentManagement.CustomProperties"
          }
        },
        "description": {
          "description": "The description for the item.",
          "type": "string",
          "x-ms-summary": "Description"
        },
        "expiresAt": {
          "description": "This date does not accept the time component, so should be specified as a UTC YYYY-MM-DD.",
          "type": "string",
          "x-ms-summary": "Expires At"
        },
        "name": {
          "description": "The name of the item",
          "type": "string",
          "x-ms-summary": "Name"
        },
        "parentFolderId": {
          "description": "Use \"root\" to place items in the root folder of the teamsite.",
          "type": "string",
          "x-ms-summary": "Parent Folder Id"
        },
        "externalId": {
          "description": "externalId",
          "type": "string",
          "x-ms-summary": "External Id"
        },
        "externalConnectionId": {
          "description": "externalConnectionId",
          "type": "string",
          "x-ms-summary": "External Connection Id"
        }
      },
      "required": [
        "url"
      ]
    },
    "Seismic.LibraryContentManagement.UrlInfo": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "x-ms-summary": "Url",
          "title": "Url",
          "description": "Url"
        },
        "openInNewWindow": {
          "type": "boolean",
          "x-ms-summary": "Open In New Window",
          "description": "Open In New Window"
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Url Type",
          "description":"Url Type"
        }
      }
    },
    "Seismic.LibraryContentManagement.AddUrl": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "x-ms-summary": "Url",
          "title": "Url",
          "description":"Url"
        },
        "openInNewWindow": {
          "type": "boolean",
          "x-ms-summary": "Open In New Window",
          "description": "Open In New Window"
        }
      }
    },
    "Seismic.LibraryInstructions.AddInstructionRequest": {
      "type": "object",
      "properties": {
        "type": {
          "x-ms-summary": "Type",
          "description":"Type",
          "$ref": "#/definitions/Seismic.LibraryInstructions.InstructionType"
        },
        "title": {
          "type": "string",
          "x-ms-summary": "Title",
          "description":"Title"
        },
        "text": {
          "type": "string",
          "x-ms-summary": "Text",
          "description":"Text"
        }
      }
    },
    "Seismic.LibraryInstructions.InstructionInfoResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Id",
          "description":"Id"
        },
        "type": {
          "$ref": "#/definitions/Seismic.LibraryInstructions.InstructionType"
        },
        "title": {
          "type": "string",
          "x-ms-summary": "Title",
          "description":"Title"
        },
        "text": {
          "type": "string",
          "x-ms-summary": "Text",
          "description":"Text"
        }
      }
    },
    "Seismic.LibraryInstructions.InstructionType": {
      "enum": [
        "text"
      ],
      "type": "string"
    },
    "Seismic.LibraryPublishing.PublishResponse": {
      "type": "object",
      "properties": {
        "totalRequests": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Total Requests",
          "description": "Total Requests"
        },
        "totalErrors": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Total Errors",
          "description": "Total Errors"
        },
        "totalSucceeded": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Total Succeeded",
          "description": "Total Succeeded"
        },
        "totalWarnings": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Total Warnings",
          "description": "Total Warnings"
        },
        "errors": {
          "type": "array",
          "x-ms-summary": "Errors",
          "description":"Errors",
          "items": {
            "$ref": "#/definitions/Seismic.LibraryPublishing.PublishResponseStatus"
          }
        },
        "warnings": {
          "type": "array",
          "x-ms-summary": "Warnings",
          "description": "Warnings",
          "items": {
            "$ref": "#/definitions/Seismic.LibraryPublishing.PublishResponseStatus"
          }
        }
      }
    },
    "Seismic.LibraryPublishing.PublishResponseStatus": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description":"Id"
        },
        "message": {
          "type": "string",
          "description":"message"
        }
      }
    },
    "Seismic.LibraryWorkflow.AssignedApprover": {
      "type": "object",
      "x-ms-summary": "Assigned Approver",
      "properties": {
        "id": {
          "type": "string",
          "description": "Assigned Approver user id"
        },
        "type": {
          "type": "string",
          "description": "Assigned Approver user type"
        }
      }
    },
    "Seismic.LibraryWorkflow.LibraryContent": {
      "type": "object",
      "x-ms-summary": "Library Content",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "LibraryContent Id",
          "description": "LibraryContent Id"
        },
        "versionId": {
          "type": "string",
          "x-ms-summary": "LibraryContent Version Id",
          "description": "LibraryContent Version Id"
        },
        "type": {
          "type": "string",
          "x-ms-summary": "LibraryContent Type",
          "description":"LibraryContent Type"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "LibraryContent Name",
          "description":"LibraryContent Name"
        },
        "teamsiteId": {
          "type": "string",
          "x-ms-summary": "LibraryContent Teamsite Id",
          "description":"LibraryContent Teamsite Id"
        }
      }
    },
    "Seismic.LibraryWorkflow.WorkflowApprovalAction": {
      "enum": [
        "approve",
        "reject",
        "revoke"
      ],
      "type": "string"
    },
    "Seismic.LibraryWorkflow.WorkflowApprovalProcess": {
      "type": "object",
      "x-ms-summary": "Workflow Approval Process",
      "properties": {
        "id": {
          "type": "string",
          "description":"Id"
        },
        "name": {
          "type": "string",
          "description":"Name"
        }
      }
    },
    "Seismic.LibraryWorkflow.WorkflowApprover": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Used Id",
          "description":"Used Id"
        },
        "type": {
          "type": "string",
          "x-ms-summary": "User Type",
          "description":"User Type"
        },
        "isDefault": {
          "type": "boolean",
          "x-ms-summary": "Is Default User",
          "description": "Is Default User"
        }
      }
    },
    "Seismic.LibraryWorkflow.NextWorkflowApprover": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Next Approver Used Id",
          "description": "Next Approver Used Id"
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Next Approver User Type",
          "description": "Next Approver User Type"
        }
      }
    },
    "Seismic.LibraryWorkflow.WorkflowResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Id",
          "description": "Workflow Id"
        },
        "approvalProcess": {
          "$ref": "#/definitions/Seismic.LibraryWorkflow.WorkflowApprovalProcess"
        },
        "submittedOn": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Submitted On",
          "description": "Submitted On"
        },
        "submittedBy": {
          "$ref": "#/definitions/Seismic.Common.SubmittedByUser"
        },
        "comment": {
          "type": "string",
          "x-ms-summary": "Comment",
          "description": "Comment"
        },
        "libraryContent": {
          "x-ms-summary": "LibraryContent",
          "$ref": "#/definitions/Seismic.LibraryWorkflow.LibraryContent"
        },
        "status": {
          "type": "string",
          "x-ms-summary": "Status",
          "description": "Status"
        },
        "stateChangedOn": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "State Changed On",
          "description": "State Changed On"
        },
        "steps": {
          "type": "array",
          "x-ms-summary": "Steps",
          "description": "Steps",
          "items": {
            "$ref": "#/definitions/Seismic.LibraryWorkflow.WorkflowStep"
          }
        }
      }
    },
    "Seismic.LibraryWorkflow.WorkflowStep": {
      "type": "object",
      "x-ms-summary": "Workflow Step",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Id",
          "description": "Id"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name",
          "description": "Name"
        },
        "status": {
          "type": "string",
          "x-ms-summary": "Status",
          "description": "Status"
        },
        "approveButtonLabel": {
          "type": "string",
          "x-ms-summary": "Approve Button Label",
          "description": "Approve Button Label"
        },
        "rejectButtonLabel": {
          "type": "string",
          "x-ms-summary": "Reject Button Label",
          "description": "Reject Button Label"
        },
        "comment": {
          "type": "string",
          "description": "Comment"
        },
        "assignedTo": {
          "$ref": "#/definitions/Seismic.LibraryWorkflow.AssignedApprover"
        },
        "approvers": {
          "type": "array",
          "x-ms-summary": "Approvers",
          "description": "Approvers",
          "items": {
            "$ref": "#/definitions/Seismic.LibraryWorkflow.WorkflowApprover"
          }
        },
        "watchers": {
          "type": "array",
          "x-ms-summary": "Watchers",
          "description": "Watchers",
          "items": {
            "$ref": "#/definitions/Seismic.LibraryWorkflow.WorkflowApprover"
          }
        },
        "stateChangedOn": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "State Changed On",
          "description": "State Changed On"
        },
        "stateChangedBy": {
          "$ref": "#/definitions/Seismic.Common.StateChangedByUser"
        }
      }
    },
    "Seismic.LibraryWorkflow.WorkflowStepApprovalRequest": {
      "required": [
        "action"
      ],
      "type": "object",
      "x-ms-summary": "Action",
      "description": "Action",
      "properties": {
        "action": {
          "$ref": "#/definitions/Seismic.LibraryWorkflow.WorkflowApprovalAction"
        },
        "comment": {
          "type": "string",
          "x-ms-summary": "Comment",
          "description": "Comment"
        },
        "nextApprover": {
          "$ref": "#/definitions/Seismic.LibraryWorkflow.NextWorkflowApprover"
        }
      }
    }
  },
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://auth.seismic.com/central/connect/authorize",
      "tokenUrl": "https://auth.seismic.com/central/connect/token",
      "scopes": {
        "seismic.library.view seismic.library.manage offline_access": "seismic.library.view seismic.library.manage offline_access"
      }
    }
  },
  "tags": [
    {
      "name": "Library Content Management"
    },
    {
      "name": "Library Instructions"
    },
    {
      "name": "Library Workflow"
    },
    {
      "name": "Library Publishing"
    }
  ],
  "security": [
    {
      "oauth2-auth": [
        "seismic.library.view seismic.library.manage offline_access"
      ]
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://seismic.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://seismic.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Marketing;Sales and CRM"
    }
  ]
}