{
    "swagger": "2.0",
    "info": {
        "version": "1.0",
        "title": "Pipeliner CRM",
        "description": "Pipeliner is a next generation sales CRM software designed to empower sales teams and grow profitable customer relationships. The conector provides an API to work with Pipeliner objects.",
        "contact": {
            "name": "Pipeliner CRM",
            "url": "https://www.pipelinersales.com",
            "email": "support@pipelinersales.com"
        }
    },
    "host": "us-east.api.pipelinersales.com",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "consumes": [],
    "produces": [],
    "paths": {
        "/api/v100/rest/spaces/{space_id}/entities/Accounts/{id}": {
            "get": {
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "title": "Success",
                                    "type": "boolean",
                                    "description": ""
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "is_delete_protected": {
                                            "title": "Is Delete Protected",
                                            "type": "boolean",
                                            "description": ""
                                        },
                                        "id": {
                                            "title": "Account ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "is_deleted": {
                                            "title": "Is Deleted",
                                            "type": "boolean",
                                            "description": ""
                                        },
                                        "created": {
                                            "title": "Date Created",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "modified": {
                                            "title": "Date Modified",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "account_type": {
                                            "title": "Account Type",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "customer_type": {
                                            "title": "Customer Type",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "industry": {
                                            "title": "Industry",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "owner": {
                                            "title": "Owner",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "parent_account": {
                                            "title": "Parent Account",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "parent_account_relation_type": {
                                            "title": "Parent Account Relation Type",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "picture": {
                                            "title": "Picture",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "unit": {
                                            "title": "Sales Unit ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "account_class": {
                                            "title": "Account Class",
                                            "type": "integer",
                                            "format": "int32",
                                            "description": ""
                                        },
                                        "account_type_id": {
                                            "title": "Account Type ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "address": {
                                            "title": "Address",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "city": {
                                            "title": "City",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "comments": {
                                            "title": "Comments",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "country": {
                                            "title": "Country",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "customer_type_id": {
                                            "title": "Customer Type ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "email1": {
                                            "title": "Primary E-mail",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "email2": {
                                            "title": "E-mail 2",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "email3": {
                                            "title": "E-mail 3",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "email4": {
                                            "title": "E-mail 4",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "email5": {
                                            "title": "E-mail 5",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "health_category": {
                                            "title": "Health Category",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "health_status": {
                                            "title": "Health Status",
                                            "type": "integer",
                                            "format": "int32",
                                            "description": ""
                                        },
                                        "home_page": {
                                            "title": "Home Page",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "industry_id": {
                                            "title": "Industry ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "name": {
                                            "title": "Account Name",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "owner_id": {
                                            "title": "Owner ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "parent_account_id": {
                                            "title": "Parent Account ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "parent_account_relation_type_id": {
                                            "title": "Parent Account Relation Type ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "phone1": {
                                            "title": "Primary Phone",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "phone2": {
                                            "title": "Phone 2",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "phone3": {
                                            "title": "Phone 3",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "phone4": {
                                            "title": "Phone 4",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "phone5": {
                                            "title": "Phone 5",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "picture_id": {
                                            "title": "Picture ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "quick_parent_account_name": {
                                            "title": "Quick Parent Account Name",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "share_mode": {
                                            "title": "Share Mode",
                                            "type": "integer",
                                            "format": "int32",
                                            "description": ""
                                        },
                                        "state_province": {
                                            "title": "State / Province",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "unit_id": {
                                            "title": "Sales Unit ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "zip_code": {
                                            "title": "ZIP Code",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "revision": {
                                            "title": "Revision",
                                            "type": "integer",
                                            "format": "int32",
                                            "description": ""
                                        },
                                        "formatted_name": {
                                            "title": "Formatted Name",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "social_media": {
                                            "title": "Social Media",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "sharing_units": {
                                            "title": "Sharing Units",
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": ""
                                        },
                                        "sharing_clients": {
                                            "title": "Sharing Clients",
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": ""
                                        },
                                        "documents": {
                                            "title": "Documents",
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": ""
                                        },
                                        "is_favorite": {
                                            "title": "Is Favorite",
                                            "type": "boolean",
                                            "description": ""
                                        },
                                        "is_unsubscribed": {
                                            "title": "Is Unsubscribed",
                                            "type": "boolean",
                                            "description": ""
                                        },
                                        "tags": {
                                            "title": "Tags",
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": ""
                                        },
                                        "health": {
                                            "title": "Health",
                                            "type": "object",
                                            "properties": {},
                                            "description": ""
                                        },
                                        "modified_by_user": {
                                            "title": "Modified By User",
                                            "type": "string",
                                            "description": ""
                                        }
                                    },
                                    "description": "data"
                                }
                            }
                        }
                    }
                },
                "operationId": "AccountsGet",
                "summary": "Get Account",
                "description": "Returns account with given ID",
                "parameters": [
                    {
                        "name": "service_url",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "Service URL",
                        "description": "Your Service URL starting with https://"
                    },
                    {
                        "name": "space_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "Space ID",
                        "description": "Your Space ID"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "Account ID",
                        "x-ms-dynamic-values": {
                            "operationId": "AccountsList",
                            "value-path": "id",
                            "value-collection": "data",
                            "value-title": "name",
                            "parameters": {
                                "space_id": {
                                    "parameter": "space_id"
                                },
                                "service_url": {
                                    "parameter": "service_url"
                                }
                            }
                        }
                    }
                ]
            },
            "delete": {
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "title": "Success",
                                    "type": "boolean",
                                    "description": ""
                                },
                                "data": {
                                    "title": "ID",
                                    "type": "string",
                                    "description": ""
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "service_url",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "Service URL",
                        "description": "Your Service URL starting with https://"
                    },
                    {
                        "name": "space_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "Space ID",
                        "description": "Your Space ID"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-dynamic-values": {
                            "operationId": "AccountsList",
                            "value-path": "id",
                            "value-collection": "data",
                            "value-title": "name",
                            "parameters": {
                                "space_id": {
                                    "parameter": "space_id"
                                },
                                "service_url": {
                                    "parameter": "service_url"
                                }
                            }
                        },
                        "x-ms-summary": "Account ID"
                    }
                ],
                "operationId": "AccountsDelete",
                "summary": "Delete Account",
                "description": "Removes account with given ID"
            },
            "patch": {
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "title": "Success",
                                    "type": "boolean",
                                    "description": ""
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "is_delete_protected": {
                                            "title": "Is Delete Protected",
                                            "type": "boolean",
                                            "description": ""
                                        },
                                        "id": {
                                            "title": "Account ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "is_deleted": {
                                            "title": "Is Deleted",
                                            "type": "boolean",
                                            "description": ""
                                        },
                                        "created": {
                                            "title": "Date Created",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "modified": {
                                            "title": "Date Modified",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "account_type": {
                                            "title": "Account Type",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "customer_type": {
                                            "title": "Customer Type",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "industry": {
                                            "title": "Industry",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "owner": {
                                            "title": "Owner",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "parent_account": {
                                            "title": "Parent Account",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "parent_account_relation_type": {
                                            "title": "Parent Account Relation Type",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "picture": {
                                            "title": "Picture",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "unit": {
                                            "title": "Unit",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "account_class": {
                                            "title": "Account Class",
                                            "type": "integer",
                                            "format": "int32",
                                            "description": ""
                                        },
                                        "account_type_id": {
                                            "title": "Account Type ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "address": {
                                            "title": "Address",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "city": {
                                            "title": "City",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "comments": {
                                            "title": "Comments",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "country": {
                                            "title": "Country",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "customer_type_id": {
                                            "title": "Customer Type ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "email1": {
                                            "title": "Primary E-mail",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "email2": {
                                            "title": "E-mail 2",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "email3": {
                                            "title": "E-mail 3",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "email4": {
                                            "title": "E-mail 4",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "email5": {
                                            "title": "E-mail 5",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "health_category": {
                                            "title": "Health Category",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "health_status": {
                                            "title": "Health Status",
                                            "type": "integer",
                                            "format": "int32",
                                            "description": ""
                                        },
                                        "home_page": {
                                            "title": "Home Page",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "industry_id": {
                                            "title": "Industry ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "name": {
                                            "title": "Account Name",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "owner_id": {
                                            "title": "Owner ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "parent_account_id": {
                                            "title": "Parent Account ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "parent_account_relation_type_id": {
                                            "title": "Parent Account Relation Type ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "phone1": {
                                            "title": "Primary Phone",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "phone2": {
                                            "title": "Phone 2",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "phone3": {
                                            "title": "Phone 3",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "phone4": {
                                            "title": "Phone 4",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "phone5": {
                                            "title": "Phone 5",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "picture_id": {
                                            "title": "Picture ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "quick_parent_account_name": {
                                            "title": "Quick Parent Account Name",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "share_mode": {
                                            "title": "Share Mode",
                                            "type": "integer",
                                            "format": "int32",
                                            "description": ""
                                        },
                                        "state_province": {
                                            "title": "State / Province",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "unit_id": {
                                            "title": "Sales Unit ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "zip_code": {
                                            "title": "ZIP Code",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "revision": {
                                            "title": "Revision",
                                            "type": "integer",
                                            "format": "int32",
                                            "description": ""
                                        },
                                        "formatted_name": {
                                            "title": "Formatted Name",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "social_media": {
                                            "title": "Social Media",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "sharing_units": {
                                            "title": "Sharing Units",
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": ""
                                        },
                                        "sharing_clients": {
                                            "title": "Sharing Clients",
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": ""
                                        },
                                        "documents": {
                                            "title": "Documents",
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": ""
                                        },
                                        "is_favorite": {
                                            "title": "Is Favorite",
                                            "type": "boolean",
                                            "description": ""
                                        },
                                        "is_unsubscribed": {
                                            "title": "Is Unsubscribed",
                                            "type": "boolean",
                                            "description": ""
                                        },
                                        "tags": {
                                            "title": "Tags",
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": ""
                                        },
                                        "health": {
                                            "title": "Health",
                                            "type": "object",
                                            "properties": {},
                                            "description": ""
                                        },
                                        "modified_by_user": {
                                            "title": "Modified By User",
                                            "type": "string",
                                            "description": ""
                                        }
                                    },
                                    "description": "data"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "service_url",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "Service URL",
                        "description": "https://"
                    },
                    {
                        "name": "space_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "Space ID",
                        "description": "Your Space ID"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-dynamic-values": {
                            "operationId": "AccountsList",
                            "value-path": "id",
                            "value-collection": "data",
                            "value-title": "name",
                            "parameters": {
                                "space_id": {
                                    "parameter": "space_id"
                                },
                                "service_url": {
                                    "parameter": "service_url"
                                }
                            }
                        },
                        "x-ms-summary": "Account ID",
                        "description": ""
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "",
                                    "title": "Account Name"
                                },
                                "owner_id": {
                                    "type": "string",
                                    "description": "",
                                    "title": "Owner ID",
                                    "x-ms-dynamic-values": {
                                        "operationId": "ClientsList",
                                        "value-path": "id",
                                        "value-collection": "data",
                                        "value-title": "formatted_name",
                                        "parameters": {
                                            "space_id": {
                                                "parameter": "space_id"
                                            },
                                            "service_url": {
                                                "parameter": "service_url"
                                            }
                                        }
                                    }
                                },
                                "account_type_id": {
                                    "type": "string",
                                    "description": "",
                                    "title": "Account Type ID",
                                    "x-ms-dynamic-values": {
                                        "operationId": "AccountTypesList",
                                        "value-path": "id",
                                        "value-collection": "data",
                                        "value-title": "name",
                                        "parameters": {
                                            "space_id": {
                                                "parameter": "space_id"
                                            },
                                            "service_url": {
                                                "parameter": "service_url"
                                            }
                                        }
                                    }
                                },
                                "unit_id": {
                                    "type": "string",
                                    "description": "",
                                    "title": "Sales Unit ID",
                                    "x-ms-dynamic-values": {
                                        "operationId": "SalesUnitsList",
                                        "value-path": "id",
                                        "value-collection": "data",
                                        "value-title": "name",
                                        "parameters": {
                                            "space_id": {
                                                "parameter": "space_id"
                                            },
                                            "service_url": {
                                                "parameter": "service_url"
                                            }
                                        }
                                    }
                                },
                                "account_class": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "1 - No Class, 2 - Class A, 3 - Class B, 4 - Class C, 5 - Class D",
                                    "title": "Account Class",
                                    "enum": [
                                        1,
                                        2,
                                        3,
                                        4,
                                        5
                                    ]
                                },
                                "email1": {
                                    "type": "string",
                                    "description": "",
                                    "title": "Primary E-mail"
                                },
                                "phone1": {
                                    "type": "string",
                                    "description": "",
                                    "title": "Primary Phone"
                                },
                                "home_page": {
                                    "type": "string",
                                    "description": "",
                                    "title": "Homepage"
                                },
                                "address": {
                                    "type": "string",
                                    "description": "",
                                    "title": "Address"
                                },
                                "city": {
                                    "type": "string",
                                    "description": "",
                                    "title": "City"
                                },
                                "country": {
                                    "type": "string",
                                    "description": "",
                                    "title": "Country"
                                },
                                "state_province": {
                                    "type": "string",
                                    "description": "",
                                    "title": "State / Province"
                                },
                                "zip_code": {
                                    "type": "string",
                                    "description": "",
                                    "title": "ZIP Code"
                                },
                                "comments": {
                                    "type": "string",
                                    "description": "",
                                    "title": "Comments",
                                    "x-ms-visibility": "advanced"
                                }
                            }
                        }
                    }
                ],
                "operationId": "AccountsUpdate",
                "summary": "Update Account",
                "description": "Modifies account or accounts with given ID(s)"
            }
        },
        "/api/v100/rest/spaces/{space_id}/entities/Accounts": {
            "get": {
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "title": "Success",
                                    "type": "boolean",
                                    "description": ""
                                },
                                "total": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "total"
                                },
                                "page_info": {
                                    "type": "object",
                                    "properties": {
                                        "start_cursor": {
                                            "type": "string",
                                            "description": "Start Cursor"
                                        },
                                        "end_cursor": {
                                            "type": "string",
                                            "description": "End Cursor"
                                        },
                                        "has_previous_page": {
                                            "type": "boolean",
                                            "description": "Has Previous Page"
                                        },
                                        "has_next_page": {
                                            "type": "boolean",
                                            "description": "Has Next Page"
                                        }
                                    },
                                    "description": "Page Info"
                                },
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "is_delete_protected": {
                                                "type": "boolean",
                                                "description": "Is Delete Protected"
                                            },
                                            "id": {
                                                "type": "string",
                                                "description": "Account ID"
                                            },
                                            "is_deleted": {
                                                "type": "boolean",
                                                "description": "Is Deleted"
                                            },
                                            "created": {
                                                "type": "string",
                                                "description": "Date Created"
                                            },
                                            "modified": {
                                                "type": "string",
                                                "description": "Date Modified"
                                            },
                                            "account_type": {
                                                "type": "string",
                                                "description": "Account Type"
                                            },
                                            "customer_type": {
                                                "type": "string",
                                                "description": "Customer Type"
                                            },
                                            "industry": {
                                                "type": "string",
                                                "description": "Industry"
                                            },
                                            "owner": {
                                                "type": "string",
                                                "description": "Owner"
                                            },
                                            "parent_account": {
                                                "type": "string",
                                                "description": "Parent Account"
                                            },
                                            "parent_account_relation_type": {
                                                "type": "string",
                                                "description": "Parent Account Relation Type"
                                            },
                                            "picture": {
                                                "type": "string",
                                                "description": "Picture"
                                            },
                                            "unit": {
                                                "type": "string",
                                                "description": "Sales Unit"
                                            },
                                            "account_class": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "Account Class"
                                            },
                                            "account_type_id": {
                                                "type": "string",
                                                "description": "Account Type ID"
                                            },
                                            "address": {
                                                "type": "string",
                                                "description": "Address"
                                            },
                                            "city": {
                                                "type": "string",
                                                "description": "City"
                                            },
                                            "comments": {
                                                "type": "string",
                                                "description": "Comments"
                                            },
                                            "country": {
                                                "type": "string",
                                                "description": "Country"
                                            },
                                            "customer_type_id": {
                                                "type": "string",
                                                "description": "Customer Type ID"
                                            },
                                            "email1": {
                                                "type": "string",
                                                "description": "Primary E-mail"
                                            },
                                            "email2": {
                                                "type": "string",
                                                "description": "E-mail 2"
                                            },
                                            "email3": {
                                                "type": "string",
                                                "description": "E-mail 3"
                                            },
                                            "email4": {
                                                "type": "string",
                                                "description": "E-mail 4"
                                            },
                                            "email5": {
                                                "type": "string",
                                                "description": "E-mail 5"
                                            },
                                            "health_category": {
                                                "type": "string",
                                                "description": "Health Category"
                                            },
                                            "health_status": {
                                                "type": "string",
                                                "description": "Health Status"
                                            },
                                            "home_page": {
                                                "type": "string",
                                                "description": "Home Page"
                                            },
                                            "industry_id": {
                                                "type": "string",
                                                "description": "Industry ID"
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": "Account Name"
                                            },
                                            "owner_id": {
                                                "type": "string",
                                                "description": "Owner ID"
                                            },
                                            "parent_account_id": {
                                                "type": "string",
                                                "description": "Parent Account ID"
                                            },
                                            "parent_account_relation_type_id": {
                                                "type": "string",
                                                "description": "Parent Account Relation Type ID"
                                            },
                                            "phone1": {
                                                "type": "string",
                                                "description": "Primary Phone 1"
                                            },
                                            "phone2": {
                                                "type": "string",
                                                "description": "Phone 2"
                                            },
                                            "phone3": {
                                                "type": "string",
                                                "description": "Phone 3"
                                            },
                                            "phone4": {
                                                "type": "string",
                                                "description": "Phone 4"
                                            },
                                            "phone5": {
                                                "type": "string",
                                                "description": "Phone 5"
                                            },
                                            "picture_id": {
                                                "type": "string",
                                                "description": "Picture ID"
                                            },
                                            "quick_parent_account_name": {
                                                "type": "string",
                                                "description": "Quick Parent Account Name"
                                            },
                                            "share_mode": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "Share Mode"
                                            },
                                            "state_province": {
                                                "type": "string",
                                                "description": "State / Province"
                                            },
                                            "unit_id": {
                                                "type": "string",
                                                "description": "Sales Unit ID"
                                            },
                                            "zip_code": {
                                                "type": "string",
                                                "description": "ZIP Code"
                                            },
                                            "revision": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "Revision"
                                            },
                                            "formatted_name": {
                                                "type": "string",
                                                "description": "Formatted Name"
                                            },
                                            "social_media": {
                                                "type": "string",
                                                "description": "Social Media"
                                            },
                                            "sharing_units": {
                                                "type": "array",
                                                "items": {},
                                                "description": "Sharing Units"
                                            },
                                            "sharing_clients": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "description": "Sharing Clients"
                                            },
                                            "documents": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "description": "Documents"
                                            },
                                            "is_favorite": {
                                                "type": "boolean",
                                                "description": "Is Favorite"
                                            },
                                            "is_unsubscribed": {
                                                "type": "boolean",
                                                "description": "Is Unsubscribed"
                                            },
                                            "tags": {
                                                "type": "array",
                                                "items": {},
                                                "description": "Tags"
                                            },
                                            "health": {
                                                "type": "string",
                                                "description": "Health"
                                            },
                                            "modified_by_user": {
                                                "type": "string",
                                                "description": "Modified By User"
                                            }
                                        }
                                    },
                                    "description": "data"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "service_url",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "Service URL",
                        "description": "Your Service URL starting with https://"
                    },
                    {
                        "name": "space_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "Space ID",
                        "description": "Your Space ID"
                    },
                    {
                        "name": "first",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "default": 100,
                        "x-ms-visibility": "internal"
                    }
                ],
                "summary": "List Accounts",
                "operationId": "AccountsList",
                "description": "Returns all defined Accounts",
                "x-ms-visibility": "internal"
            },
            "post": {
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "title": "Success",
                                    "type": "boolean",
                                    "description": ""
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "is_delete_protected": {
                                            "title": "Is Delete Protected",
                                            "type": "boolean",
                                            "description": ""
                                        },
                                        "id": {
                                            "title": "Account ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "is_deleted": {
                                            "title": "Is Deleted",
                                            "type": "boolean",
                                            "description": ""
                                        },
                                        "modified": {
                                            "title": "Date Modified",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "created": {
                                            "title": "Date Created",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "account_type": {
                                            "title": "Account Type",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "customer_type": {
                                            "title": "Customer Type",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "industry": {
                                            "title": "Industry",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "owner": {
                                            "title": "Owner",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "parent_account": {
                                            "title": "Parent Account",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "parent_account_relation_type": {
                                            "title": "Parent Account Relation Type",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "picture": {
                                            "title": "Picture",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "unit": {
                                            "title": "Unit",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "account_class": {
                                            "title": "Account Class",
                                            "type": "integer",
                                            "format": "int32",
                                            "description": ""
                                        },
                                        "account_type_id": {
                                            "title": "Account Type ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "address": {
                                            "title": "Address",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "city": {
                                            "title": "City",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "comments": {
                                            "title": "Comments",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "country": {
                                            "title": "Country",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "customer_type_id": {
                                            "title": "Customer Type ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "email1": {
                                            "title": "Primary E-mail",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "email2": {
                                            "title": "E-mail 2",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "email3": {
                                            "title": "E-mail 3",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "email4": {
                                            "title": "E-mail 4",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "email5": {
                                            "title": "E-mail 5",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "health_category": {
                                            "title": "Health Category",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "health_status": {
                                            "title": "Health Status",
                                            "type": "integer",
                                            "format": "int32",
                                            "description": ""
                                        },
                                        "home_page": {
                                            "title": "Home Page",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "industry_id": {
                                            "title": "Industry ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "name": {
                                            "title": "Account Name",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "owner_id": {
                                            "title": "Owner ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "parent_account_id": {
                                            "title": "Parent Account ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "parent_account_relation_type_id": {
                                            "title": "Parent Account Relation Type ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "phone1": {
                                            "title": "Primary Phone",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "phone2": {
                                            "title": "Phone 2",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "phone3": {
                                            "title": "Phone 3",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "phone4": {
                                            "title": "Phone 4",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "phone5": {
                                            "title": "Phone 5",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "picture_id": {
                                            "title": "Picture ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "quick_parent_account_name": {
                                            "title": "Quick Parent Account Name",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "share_mode": {
                                            "title": "Share Mode",
                                            "type": "integer",
                                            "format": "int32",
                                            "description": ""
                                        },
                                        "state_province": {
                                            "title": "State / Province",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "unit_id": {
                                            "title": "Sales Unit ID",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "zip_code": {
                                            "title": "ZIP Code",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "revision": {
                                            "title": "Revision",
                                            "type": "integer",
                                            "format": "int32",
                                            "description": ""
                                        },
                                        "formatted_name": {
                                            "title": "Formatted Name",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "social_media": {
                                            "title": "Social Media",
                                            "type": "string",
                                            "description": ""
                                        },
                                        "sharing_units": {
                                            "title": "Sharing Units",
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": ""
                                        },
                                        "sharing_clients": {
                                            "title": "Sharing Clients",
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": ""
                                        },
                                        "documents": {
                                            "title": "Documents",
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": ""
                                        },
                                        "is_favorite": {
                                            "title": "Is Favorite",
                                            "type": "boolean",
                                            "description": ""
                                        },
                                        "is_unsubscribed": {
                                            "title": "Is Unsubscribed",
                                            "type": "boolean",
                                            "description": ""
                                        },
                                        "tags": {
                                            "title": "Tags",
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": ""
                                        },
                                        "health": {
                                            "title": "Health",
                                            "type": "object",
                                            "properties": {},
                                            "description": ""
                                        },
                                        "modified_by_user": {
                                            "title": "Modified By User",
                                            "type": "string",
                                            "description": ""
                                        }
                                    },
                                    "description": "data"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "service_url",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "Service URL",
                        "description": "Your Service URL starting with https://"
                    },
                    {
                        "name": "space_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "Space ID",
                        "description": "Your Space ID"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "",
                                    "title": "Account Name"
                                },
                                "owner_id": {
                                    "type": "string",
                                    "description": "",
                                    "title": "Owner ID",
                                    "x-ms-dynamic-values": {
                                        "operationId": "ClientsList",
                                        "value-path": "id",
                                        "value-collection": "data",
                                        "value-title": "formatted_name",
                                        "parameters": {
                                            "space_id": {
                                                "parameter": "space_id"
                                            },
                                            "service_url": {
                                                "parameter": "service_url"
                                            }
                                        }
                                    }
                                },
                                "account_type_id": {
                                    "type": "string",
                                    "description": "",
                                    "title": "Account Type ID",
                                    "x-ms-dynamic-values": {
                                        "operationId": "AccountTypesList",
                                        "value-path": "id",
                                        "value-collection": "data",
                                        "value-title": "name",
                                        "parameters": {
                                            "space_id": {
                                                "parameter": "space_id"
                                            },
                                            "service_url": {
                                                "parameter": "service_url"
                                            }
                                        }
                                    }
                                },
                                "unit_id": {
                                    "type": "string",
                                    "description": "",
                                    "title": "Sales Unit ID",
                                    "x-ms-dynamic-values": {
                                        "operationId": "SalesUnitsList",
                                        "value-path": "id",
                                        "value-collection": "data",
                                        "value-title": "name",
                                        "parameters": {
                                            "space_id": {
                                                "parameter": "space_id"
                                            },
                                            "service_url": {
                                                "parameter": "service_url"
                                            }
                                        }
                                    }
                                },
                                "account_class": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "1 - No Class, 2 - Class A, 3 - Class B, 4 - Class C, 5 - Class D",
                                    "title": "Account Class",
                                    "enum": [
                                        1,
                                        2,
                                        3,
                                        4,
                                        5
                                    ]
                                },
                                "email1": {
                                    "type": "string",
                                    "description": "",
                                    "title": "Primary E-mail"
                                },
                                "phone1": {
                                    "type": "string",
                                    "description": "",
                                    "title": "Primary Phone"
                                },
                                "home_page": {
                                    "type": "string",
                                    "description": "",
                                    "title": "Homepage"
                                },
                                "address": {
                                    "type": "string",
                                    "description": "",
                                    "title": "Address"
                                },
                                "city": {
                                    "type": "string",
                                    "description": "",
                                    "title": "City"
                                },
                                "country": {
                                    "type": "string",
                                    "description": "",
                                    "title": "Country"
                                },
                                "state_province": {
                                    "type": "string",
                                    "description": "",
                                    "title": "State / Province"
                                },
                                "zip_code": {
                                    "type": "string",
                                    "description": "",
                                    "title": "ZIP Code"
                                },
                                "comments": {
                                    "type": "string",
                                    "description": "",
                                    "title": "Comments",
                                    "x-ms-visibility": "advanced"
                                }
                            },
                            "required": [
                                "name",
                                "owner_id"
                            ]
                        }
                    }
                ],
                "operationId": "AccountsCreate",
                "summary": "Create Account",
                "description": "Creates new account"
            }
        },
        "/api/v100/rest/spaces/{space_id}/entities/Clients": {
            "get": {
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "title": "Success",
                                    "type": "boolean",
                                    "description": ""
                                },
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "is_delete_protected": {
                                                "type": "boolean",
                                                "description": "is_delete_protected"
                                            },
                                            "id": {
                                                "type": "string",
                                                "description": "id",
                                                "title": ""
                                            },
                                            "is_deleted": {
                                                "type": "boolean",
                                                "description": "is_deleted"
                                            },
                                            "modified": {
                                                "type": "string",
                                                "description": "modified"
                                            },
                                            "created": {
                                                "type": "string",
                                                "description": "created"
                                            },
                                            "default_unit": {
                                                "type": "string",
                                                "description": "default_unit"
                                            },
                                            "master_right": {
                                                "type": "string",
                                                "description": "master_right"
                                            },
                                            "default_unit_id": {
                                                "type": "string",
                                                "description": "default_unit_id"
                                            },
                                            "email": {
                                                "type": "string",
                                                "description": "email"
                                            },
                                            "first_name": {
                                                "type": "string",
                                                "description": "first_name"
                                            },
                                            "last_active": {
                                                "type": "string",
                                                "description": "last_active"
                                            },
                                            "last_name": {
                                                "type": "string",
                                                "description": "last_name"
                                            },
                                            "master_right_id": {
                                                "type": "string",
                                                "description": "master_right_id"
                                            },
                                            "middle_name": {
                                                "type": "string",
                                                "description": "middle_name"
                                            },
                                            "phone": {
                                                "type": "string",
                                                "description": "phone"
                                            },
                                            "picture_url": {
                                                "type": "string",
                                                "description": "picture_url"
                                            },
                                            "position": {
                                                "type": "string",
                                                "description": "position"
                                            },
                                            "region": {
                                                "type": "string",
                                                "description": "region"
                                            },
                                            "timezone": {
                                                "type": "string",
                                                "description": "timezone"
                                            },
                                            "revision": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "revision"
                                            },
                                            "default_idp": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "default_idp"
                                            },
[...]
