{
    "swagger": "2.0",
    "info": {
        "title": "DomainTools Iris Enrich",
        "description": "Enrich On-Network Indicators at Scale: The DomainTools Iris Enrich API supports high query volumes of domain name attributes including Whois, DNS, SSL certificate, and risk scoring elements to help build out the needed context for appropriate disposition of indicators. It provides actionable insights-at-scale with enterprise-scale ingestion of DomainTools data on Microsoft Sentinel.",
        "contact": {
            "name": "DomainTools Integrations",
            "url": "https://www.domaintools.com/integrations",
            "email": "enterprisesupport@domaintools.com"
        },
        "version": "1.0"
    },
    "host": "api.domaintools.com",
    "basePath": "/v1",
    "schemes": [
        "https"
    ],
    "consumes": [],
    "produces": [],
    "paths": {
        "/iris-enrich/": {
            "post": {
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "$ref": "#/definitions/Enrich_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Enrich Domain",
                "description": "Retrieves the infrastructure and whois data associated with a domain or comma-separated list of up to 100 domains.",
                "operationId": "Enrich_Domain",
                "parameters": [{
                    "name": "domain",
                    "in": "query",
                    "required": true,
                    "type": "string",
                    "description": "Domain (e.g. name.tld) to be investigated or comma-separated list of domains.",
                    "x-ms-summary": "Domain Name"
                }]
            }
        },
        "/account/": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Account_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Retrieve Account Information",
                "description": "Information of the active API endpoints, rate limits and usage for an account.",
                "operationId": "Account_Information",
                "parameters": [{
                    "name": "Accept",
                    "in": "header",
                    "required": true,
                    "type": "string",
                    "default": "application/json",
                    "x-ms-visibility": "internal"
                }]
            }
        }
    },
    "x-ms-connector-metadata": [{
            "propertyName": "Website",
            "propertyValue": "http://www.domaintools.com/"
        },
        {
            "propertyName": "Privacy policy",
            "propertyValue": "https://www.domaintools.com/company/privacy-policy/"
        },
        {
            "propertyName": "Categories",
            "propertyValue": "Security;Website"
        }
    ],
    "definitions": {
        "Account_Response": {
            "type": "object",
            "properties": {
                "account": {
                    "type": "object",
                    "properties": {
                        "api_username": {
                            "type": "string",
                            "description": "API username",
                            "title": "API username"
                        },
                        "active": {
                            "type": "boolean",
                            "description": "Active",
                            "title": "Active"
                        }
                    },
                    "description": "Account Information"
                },
                "products": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string",
                                "description": "ID",
                                "title": "ID"
                            },
                            "per_month_limit": {
                                "type": "string",
                                "description": "Per Month Limit",
                                "title": "Per Month Limit"
                            },
                            "per_minute_limit": {
                                "type": "string",
                                "description": "Per Minute Limit",
                                "title": "Per Minute Limit"
                            },
                            "absolute_limit": {
                                "type": "string",
                                "description": "Absolute Limit",
                                "title": "Absolute Limit"
                            },
                            "usage": {
                                "type": "object",
                                "properties": {
                                    "today": {
                                        "type": "string",
                                        "description": "Today Usage",
                                        "title": "Today Usage"
                                    },
                                    "month": {
                                        "type": "string",
                                        "description": "Month Usage",
                                        "title": "Month Usage"
                                    }
                                },
                                "description": "Usage Details"
                            },
                            "expiration_date": {
                                "type": "string",
                                "description": "Expiration Date",
                                "title": "Expiration Date"
                            }
                        }
                    },
                    "description": "Products Information"
                }
            },
            "description": "Acoount Information Response"
        },
        "Enrich_Response": {
            "type": "object",
            "properties": {
                "response": {
                    "type": "object",
                    "properties": {
                        "limit_exceeded": {
                            "type": "boolean",
                            "description": "DomainTools API results are limited to 5000 entries in a result set. If a query has more than 5000 results, the 'Limit exceeded' returns true. Try refining your query with more specific search terms.",
                            "title": "Limit Exceeded"
                        },
                        "message": {
                            "type": "string",
                            "description": "Message",
                            "title": "Message"
                        },
                        "results_count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Results Count",
                            "title": "Results Count"
                        },
                        "results": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "domain": {
                                        "type": "string",
                                        "description": "Domain",
                                        "title": "Domain"
                                    },
                                    "whois_url": {
                                        "type": "string",
                                        "description": "Whois URL",
                                        "title": "Whois URL"
                                    },
                                    "adsense": {
                                        "type": "object",
                                        "properties": {
                                            "value": {
                                                "type": "string",
                                                "description": "Adsense Value",
                                                "title": "Adsense Value"
                                            }
                                        },
                                        "description": "Adsense"
                                    },
                                    "alexa": {
                                        "additionalProperties": {},
                                        "description": "Alexa"
                                    },
                                    "active": {
                                        "type": "boolean",
                                        "description": "Active",
                                        "title": "Active"
                                    },
                                    "google_analytics": {
                                        "type": "object",
                                        "additionalProperties": {},
                                        "description": "Google Analytics"
                                    },
                                    "admin_contact": {
                                        "type": "object",
                                        "properties": {
                                            "name": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Admin Contact Name",
                                                        "title": "Admin Contact Name"
                                                    }
                                                },
                                                "description": "Admin Contact Name"
                                            },
                                            "org": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Admin Contact Org",
                                                        "title": "Admin Contact Org"
                                                    }
                                                },
                                                "description": "Admin Contact Org"
                                            },
                                            "street": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Admin Contact Street",
                                                        "title": "Admin Contact Street"
                                                    }
                                                },
                                                "description": "Admin Contact Street"
                                            },
                                            "city": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Admin Contact City",
                                                        "title": "Admin Contact City"
                                                    }
                                                },
                                                "description": "Admin Contact City"
                                            },
                                            "state": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Admin Contact State",
                                                        "title": "Admin Contact State"
                                                    }
                                                },
                                                "description": "Admin Contact State"
                                            },
                                            "postal": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Admin Contact Postal",
                                                        "title": "Admin Contact Postal"
                                                    }
                                                },
                                                "description": "Admin Contact Postal"
                                            },
                                            "country": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Admin Contact Country",
                                                        "title": "Admin Contact Country"
                                                    }
                                                },
                                                "description": "Admin Contact Country"
                                            },
                                            "phone": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Admin Contact Phone",
                                                        "title": "Admin Contact Phone"
                                                    }
                                                },
                                                "description": "Admin Contact Phone"
                                            },
                                            "fax": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Admin Contact Fax",
                                                        "title": "Admin Contact Fax"
                                                    }
                                                },
                                                "description": "Admin Contact Fax"
                                            },
                                            "email": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "Admin Contact Email",
                                                            "title": "Admin Contact Email"
                                                        }
                                                    },
                                                    "description": "Admin Contact Email"
                                                }
                                            }
                                        },
                                        "description": "Admin Contact Object"
                                    },
                                    "billing_contact": {
                                        "type": "object",
                                        "properties": {
                                            "name": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Billing Contact Name",
                                                        "title": "Billing Contact Name"
                                                    }
                                                },
                                                "description": "Billing Contact Name"
                                            },
                                            "org": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Billing Contact Org",
                                                        "title": "Billing Contact Org"
                                                    }
                                                },
                                                "description": "Billing Contact Org"
                                            },
                                            "street": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Billing Contact Street",
                                                        "title": "Billing Contact Street"
                                                    }
                                                },
                                                "description": "Billing Contact Street"
                                            },
                                            "city": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Billing Contact City",
                                                        "title": "Billing Contact City"
                                                    }
                                                },
                                                "description": "Billing Contact City"
                                            },
                                            "state": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Billing Contact State",
                                                        "title": "Billing Contact State"
                                                    }
                                                },
                                                "description": "Billing Contact State"
                                            },
                                            "postal": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Billing Contact Postal",
                                                        "title": "Billing Contact Postal"
                                                    }
                                                },
                                                "description": "Billing Contact Postal"
                                            },
                                            "country": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Billing Contact Country",
                                                        "title": "Billing Contact Country"
                                                    }
                                                },
                                                "description": "Billing Contact Country"
                                            },
                                            "phone": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Billing Contact Phone",
                                                        "title": "Billing Contact Phone"
                                                    }
                                                },
                                                "description": "Billing Contact Phone"
                                            },
                                            "fax": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Billing Contact Fax",
                                                        "title": "Billing Contact Fax"
                                                    }
                                                },
                                                "description": "Billing Contact Fax"
                                            },
                                            "email": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "Billing Contact Email",
                                                            "title": "Billing Contact Email"
                                                        }
                                                    }
                                                },
                                                "description": "Billing Contact Email"
                                            }
                                        },
                                        "description": "Billing Contact Object"
                                    },
                                    "registrant_contact": {
                                        "type": "object",
                                        "properties": {
                                            "name": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Registrant Contact Name",
                                                        "title": "Registrant Contact Name"
                                                    }
                                                },
                                                "description": "Registrant Contact Name"
                                            },
                                            "org": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Registrant Contact Org",
                                                        "title": "Registrant Contact Org"
                                                    }
                                                },
                                                "description": "Registrant Contact Org"
                                            },
                                            "street": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Registrant Contact Street",
                                                        "title": "Registrant Contact Street"
                                                    }
                                                },
                                                "description": "Registrant Contact Street"
                                            },
                                            "city": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Registrant Contact City",
                                                        "title": "Registrant Contact City"
                                                    }
                                                },
                                                "description": "Registrant Contact City"
                                            },
                                            "state": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Registrant Contact State",
                                                        "title": "Registrant Contact State"
                                                    }
                                                },
                                                "description": "Registrant Contact State"
                                            },
                                            "postal": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Registrant Contact Postal",
                                                        "title": "Registrant Contact Postal"
                                                    }
                                                },
                                                "description": "Registrant Contact Postal"
                                            },
                                            "country": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Registrant Contact Country",
                                                        "title": "Registrant Contact Country"
                                                    }
                                                },
                                                "description": "Registrant Contact Country"
                                            },
                                            "phone": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Registrant Contact Phone",
                                                        "title": "Registrant Contact Phone"
                                                    }
                                                },
                                                "description": "Registrant Contact Phone"
                                            },
                                            "fax": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Registrant Contact Fax",
                                                        "title": "Registrant Contact Fax"
                                                    }
                                                },
                                                "description": "Registrant Contact Fax"
                                            },
                                            "email": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "Registrant Contact Email",
                                                            "title": "Registrant Contact Email"
                                                        }
                                                    }
                                                },
                                                "description": "Registrant Contact Email"
                                            }
                                        },
                                        "description": "Registrant Contact Object"
                                    },
                                    "technical_contact": {
                                        "type": "object",
                                        "properties": {
                                            "name": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Technical Contact Name",
                                                        "title": "Technical Contact Name"
                                                    }
                                                },
                                                "description": "Technical Contact Name"
                                            },
                                            "org": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Technical Contact Org",
                                                        "title": "Technical Contact Org"
                                                    }
                                                },
                                                "description": "Technical Contact Org"
                                            },
                                            "street": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Technical Contact Street",
                                                        "title": "Technical Contact Street"
                                                    }
                                                },
                                                "description": "Technical Contact Street"
                                            },
                                            "city": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Technical Contact City",
                                                        "title": "Technical Contact City"
                                                    }
                                                },
                                                "description": "Technical Contact City"
                                            },
                                            "state": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Technical Contact State",
                                                        "title": "Technical Contact State"
                                                    }
                                                },
                                                "description": "Technical Contact State"
                                            },
                                            "postal": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Technical Contact Postal",
                                                        "title": "Technical Contact Postal"
                                                    }
                                                },
                                                "description": "Technical Contact Postal"
                                            },
                                            "country": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Technical Contact Country",
                                                        "title": "Technical Contact Country"
                                                    }
                                                },
                                                "description": "Technical Contact Country"
                                            },
                                            "phone": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Technical Contact Phone",
                                                        "title": "Technical Contact Phone"
                                                    }
                                                },
                                                "description": "Technical Contact Phone"
                                            },
                                            "fax": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Technical Contact Fax",
                                                        "title": "Technical Contact Fax"
                                                    }
                                                },
                                                "description": "Technical Contact Fax"
                                            },
                                            "email": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "Technical Contact Email",
                                                            "title": "Technical Contact Email"
                                                        }
                                                    }
                                                },
                                                "description": "Technical Contact Email"
                                            }
                                        },
                                        "description": "Technical Contact Object"
                                    },
                                    "create_date": {
                                        "type": "object",
                                        "properties": {
                                            "value": {
                                                "type": "string",
                                                "description": "Create Date",
                                                "title": "Create Date"
                                            }
                                        },
                                        "description": "Create Date"
                                    },
                                    "expiration_date": {
                                        "type": "object",
                                        "properties": {
                                            "value": {
                                                "type": "string",
                                                "description": "Expiration Date",
                                                "title": "Expiration Date"
                                            }
                                        },
                                        "description": "Expiration Date"
                                    },
                                    "email_domain": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "value": {
                                                    "type": "string",
                                                    "description": "Email Domain",
                                                    "title": "Email Domain"
                                                }
                                            },
                                            "description": "Email Domain"
                                        }
                                    },
                                    "soa_email": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "value": {
                                                    "type": "string",
                                                    "description": "SOA Email",
                                                    "title": "SOA Email"
                                                }
                                            }
                                        },
                                        "description": "SOA Email"
                                    },
                                    "ssl_email": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "value": {
                                                    "type": "string",
                                                    "description": "SSL Email",
                                                    "title": "SSL Email"
                                                }
                                            }
                                        },
                                        "description": "SSL Email"
                                    },
                                    "additional_whois_email": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "value": {
                                                    "type": "string",
                                                    "description": "Additional Whois Email",
                                                    "title": "Additional Whois Email"
                                                }
                                            }
                                        },
                                        "description": "Additional Whois Email"
                                    },
                                    "ip": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "address": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "IP Address",
                                                            "title": "IP Address"
                                                        }
                                                    },
                                                    "description": "IP Address"
                                                },
                                                "asn": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "value": {
                                                                "type": "integer",
                                                                "format": "int32",
                                                                "description": "IP Address ASN",
                                                                "title": "IP Address ASN"
                                                            }
                                                        }
                                                    },
                                                    "description": "IP Address ASN"
                                                },
                                                "country_code": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "IP Address Country Code",
                                                            "title": "IP Address Country Code"
                                                        }
                                                    },
                                                    "description": "IP Address Country Code"
                                                },
                                                "isp": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "IP Address ISP",
                                                            "title": "IP Address ISP"
                                                        }
                                                    },
                                                    "description": "IP Address ISP"
                                                }
                                            }
                                        },
                                        "description": "IP Address Object"
                                    },
                                    "mx": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "host": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "MX host",
                                                            "title": "MX host"
                                                        }
                                                    },
                                                    "description": "MX host"
                                                },
                                                "domain": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "MX Domain",
                                                            "title": "MX Domain"
                                                        }
                                                    },
                                                    "description": "MX Domain"
                                                },
                                                "ip": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "value": {
                                                                "type": "string",
                                                                "description": "MX IP",
                                                                "title": "MX IP"
                                                            }
                                                        }
                                                    },
                                                    "description": "MX IP"
                                                },
                                                "priority": {
                                                    "type": "integer",
                                                    "format": "int32",
                                                    "description": "MX Priority",
                                                    "title": "MX Priority"
                                                }
                                            }
                                        },
                                        "description": "MX Object"
                                    },
                                    "name_server": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "host": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "Nameserver Host",
                                                            "title": "Nameserver Host"
                                                        }
                                                    },
                                                    "description": "Nameserver Host"
                                                },
                                                "domain": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "Nameserver Domain",
                                                            "title": "Nameserver Domain"
                                                        }
                                                    },
                                                    "description": "Nameserver Domain"
                                                },
                                                "ip": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "value": {
                                                                "type": "string",
                                                                "description": "Nameserver IP",
                                                                "title": "Nameserver IP"
                                                            }
                                                        }
                                                    },
                                                    "description": "Nameserver IP"
                                                }
                                            }
                                        },
                                        "description": "Nameserver Object"
                                    },
                                    "domain_risk": {
                                        "type": "object",
                                        "properties": {
                                            "risk_score": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "Risk Score",
                                                "title": "Risk Score"
                                            },
                                            "components": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "name": {
                                                            "type": "string",
                                                            "description": "Domain Risk Component Name",
                                                            "title": "Domain Risk Component Name"
                                                        },
                                                        "risk_score": {
                                                            "type": "integer",
                                                            "format": "int32",
                                                            "description": "Domain Risk Component Risk Score",
                                                            "title": "Domain Risk Component Risk Score"
                                                        },
                                                        "threats": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "description": "Domain Risk Threats"
                                                        },
                                                        "evidence": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "description": "Domain Risk Evidence"
                                                        }
                                                    }
                                                },
                                                "description": "Domain Risk Components"
                                            }
                                        },
                                        "description": "Domain Risk Object"
                                    },
                                    "redirect": {
                                        "type": "object",
                                        "properties": {
                                            "value": {
                                                "type": "string",
                                                "description": "Redirect",
                                                "title": "Redirect"
                                            }
                                        },
                                        "description": "Redirect"
                                    },
                                    "redirect_domain": {
                                        "type": "object",
                                        "properties": {
                                            "value": {
                                                "type": "string",
                                                "description": "Redirect Domain",
                                                "title": "Redirect Domain"
                                            }
                                        },
                                        "description": "Redirect Domain"
                                    },
                                    "registrant_name": {
                                        "type": "object",
                                        "properties": {
                                            "value": {
                                                "type": "string",
                                                "description": "Registrant Name",
                                                "title": "Registrant Name"
                                            }
                                        },
                                        "description": "Registrant Name"
                                    },
                                    "registrant_org": {
                                        "type": "object",
                                        "properties": {
                                            "value": {
                                                "type": "string",
                                                "description": "Registrant Org",
                                                "title": "Registrant Org"
                                            }
                                        },
                                        "description": "Registrant Org"
                                    },
                                    "registrar": {
                                        "additionalProperties": {},
                                        "description": "Registrar Name"
                                    },
                                    "registrar_status": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "Registrar Status"
                                    },
                                    "spf_info": {
                                        "type": "string",
                                        "description": "SPF Info",
                                        "title": "SPF Info"
                                    },
                                    "ssl_info": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "hash": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "SSL Info Hash Value",
                                                            "title": "SSL Info Hash Value"
                                                        },
                                                        "subject": {
                                                            "type": "object",
                                                            "properties": {
                                                                "value": {
                                                                    "type": "string",
                                                                    "description": "SSL Info Hash Subject",
                                                                    "title": "SSL Info Hash Subject"
                                                                }
                                                            },
                                                            "description": "SSL Info Hash Subject"
                                                        },
                                                        "organization": {
                                                            "type": "object",
                                                            "properties": {
                                                                "value": {
                                                                    "type": "string",
                                                                    "description": "SSL Info Hash Organization",
                                                                    "title": "SSL Info Hash Organization"
                                                                }
                                                            },
                                                            "description": "SSL Info Hash Organization"
                                                        },
                                                        "email": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "description": "SSL Info Hash Email"
                                                        }
                                                    },
                                                    "description": "SSL Info Hash"
                                                }
                                            }
                                        },
                                        "description": "SSL Info Object"
                                    },
                                    "tld": {
                                        "type": "string",
                                        "description": "TLD",
                                        "title": "TLD"
                                    },
                                    "website_response": {
                                        "additionalProperties": {},
                                        "description": "Website Response"
                                    },
                                    "data_updated_timestamp": {
                                        "type": "string",
                                        "description": "Data Updated Timestamp",
                                        "title": "Data Updated Timestamp"
                                    },
                                    "tags": {
                                        "type": "array",
                                        "items": {
                                            "additionalProperties": {}
                                        },
                                        "description": "Tags"
                                    }
                                }
                            },
                            "description": "Results Object"
                        },
                        "missing_domains": {
                            "type": "array",
                            "items": {
                                "additionalProperties": {}
                            },
                            "description": "Missing Domains"
                        }
                    }
                }
            }
        }
    },
    "parameters": {},
    "responses": {},
    "securityDefinitions": {
        "basic_auth": {
            "type": "basic"
        }
    },
    "security": [{
        "basic_auth": []
    }],
    "tags": []
}
