{
  "swagger": "2.0",
  "info": {
    "title": "Open Data Network",
    "description": "The Open Data Network connector enables users to access and utilize government data to improve decision-making and enrich lives. By leveraging data from various government sources, this connector allows developers, businesses, and public sector organizations to integrate valuable information into their applications and services, driving open data standards and best practices.",
    "version": "1.0",
    "contact": {
      "name": "Richard Wilson",
      "email": "richard.a.wilson@microsoft.com",
      "url": "https://www.richardawilson.com/"
    }
  },
  "host": "api.us.socrata.com",
  "basePath": "/api",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/catalog/v1": {
      "get": {
        "operationId": "SearchCatalog",
        "summary": "Search catalog for assets",
        "description": "Search for open data network assets.",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "The unique identifier of an asset",
            "type": "string",
            "x-ms-summary": "Id"
          },
          {
            "name": "domains",
            "in": "query",
            "description": "The domain name",
            "type": "string",
            "x-ms-summary": "Domain",
            "x-ms-dynamic-values": {
              "operationId": "CountByDomain",
              "value-collection": "results",
              "value-path": "domain"
            }
          },
          {
            "name": "names",
            "in": "query",
            "description": "The case-insensitive asset name",
            "type": "string",
            "x-ms-summary": "Name"
          },
          {
            "name": "categories",
            "in": "query",
            "description": "A single category",
            "type": "string",
            "x-ms-summary": "Category",
            "x-ms-dynamic-values": {
              "operationId": "CountByCategory",
              "value-collection": "results",
              "value-path": "category"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "A single tag",
            "type": "string",
            "x-ms-summary": "Tag",
            "x-ms-dynamic-values": {
              "operationId": "CountByTag",
              "value-collection": "results",
              "value-path": "tag"
            }
          },
          {
            "name": "only",
            "in": "query",
            "description": "One of the asset types (e.g., dataset, chart, map)",
            "type": "string",
            "x-ms-summary": "Only",
            "enum": [
              "api",
              "calendar",
              "chart",
              "datalens",
              "dataset",
              "federated_href",
              "file",
              "filter",
              "form",
              "href",
              "link",
              "map",
              "measure",
              "story",
              "visualization"
            ],
            "x-ms-enum-values": [
              { "displayName": "API", "value": "api" },
              { "displayName": "Calendar", "value": "calendar" },
              { "displayName": "Chart", "value": "chart" },
              { "displayName": "Datalens", "value": "datalens" },
              { "displayName": "Dataset", "value": "dataset" },
              { "displayName": "Federated Href", "value": "federated_href" },
              { "displayName": "File", "value": "file" },
              { "displayName": "Filter", "value": "filter" },
              { "displayName": "Form", "value": "form" },
              { "displayName": "Href", "value": "href" },
              { "displayName": "Link", "value": "link" },
              { "displayName": "Map", "value": "map" },
              { "displayName": "Measure", "value": "measure" },
              { "displayName": "Story", "value": "story" },
              { "displayName": "Visualization", "value": "visualization" }
            ]
          },
          {
            "name": "attribution",
            "in": "query",
            "description": "The case-sensitive name of the attributing entity",
            "type": "string",
            "x-ms-summary": "Attribution"
          },
          {
            "name": "license",
            "in": "query",
            "description": "The case-sensitive license name",
            "type": "string",
            "x-ms-summary": "License"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search for assets by any text in their name, description, category, tags, or other fields.",
            "type": "string",
            "x-ms-summary": "Full-Text Search Query"
          },
          {
            "name": "min_should_match",
            "in": "query",
            "description": "The number or percent of words that must match",
            "type": "string",
            "x-ms-summary": "Min Should Match"
          },
          {
            "name": "parent_ids",
            "in": "query",
            "description": "The unique identifier of a parent asset",
            "type": "string",
            "x-ms-summary": "Parent Id"
          },
          {
            "name": "derived_from",
            "in": "query",
            "description": "The unique identifier of an asset derived from another",
            "type": "string",
            "x-ms-summary": "Derived From"
          },
          {
            "name": "provenance",
            "in": "query",
            "description": "The provenance, either 'official' or 'community'",
            "type": "string",
            "x-ms-summary": "Provenance",
            "enum": ["official", "community"],
            "x-ms-enum-values": [
              { "displayName": "Official", "value": "official" },
              { "displayName": "Community", "value": "community" }
            ]
          },
          {
            "name": "for_user",
            "in": "query",
            "description": "The unique identifier of a user or a team",
            "type": "string",
            "x-ms-summary": "For User"
          },
          {
            "name": "shared_to",
            "in": "query",
            "description": "The unique identifier of a user or team to whom assets are shared",
            "type": "string",
            "x-ms-summary": "Shared To"
          },
          {
            "name": "column_names",
            "in": "query",
            "description": "The name of a column",
            "type": "string",
            "x-ms-summary": "Column Name"
          },
          {
            "name": "public",
            "in": "query",
            "description": "A true or false value for public or private assets",
            "type": "boolean",
            "x-ms-summary": "Public"
          },
          {
            "name": "visibility",
            "in": "query",
            "description": "The visibility status, either 'open' or 'internal'",
            "type": "string",
            "x-ms-summary": "Visibility",
            "enum": ["open", "internal"],
            "x-ms-enum-values": [
              { "displayName": "Open", "value": "open" },
              { "displayName": "Internal", "value": "internal" }
            ]
          },
          {
            "name": "audience",
            "in": "query",
            "description": "The audience, either 'private', 'site' or 'public'",
            "type": "string",
            "x-ms-summary": "Audience",
            "enum": ["private", "site", "public"],
            "x-ms-enum-values": [
              { "displayName": "Private", "value": "private" },
              { "displayName": "Site", "value": "site" },
              { "displayName": "Public", "value": "public" }
            ]
          },
          {
            "name": "published",
            "in": "query",
            "description": "A true or false value for published or unpublished assets",
            "type": "boolean",
            "x-ms-summary": "Published"
          },
          {
            "name": "approval_status",
            "in": "query",
            "description": "The approval status (pending, rejected, approved, not_ready)",
            "type": "string",
            "x-ms-summary": "Approval Status",
            "enum": ["pending", "rejected", "approved", "not_ready"],
            "x-ms-enum-values": [
              {
                "displayName": "Pending",
                "value": "pending"
              },
              {
                "displayName": "Rejected",
                "value": "rejected"
              },
              {
                "displayName": "Approved",
                "value": "approved"
              },
              {
                "displayName": "Not Ready",
                "value": "not_ready"
              }
            ]
          },
          {
            "name": "explicitly_hidden",
            "in": "query",
            "description": "A true or false value for hidden or unhidden assets",
            "type": "boolean",
            "x-ms-summary": "Explicitly Hidden"
          },
          {
            "name": "data_json_hidden",
            "in": "query",
            "description": "A true or false value for assets hidden or unhidden from data.json catalog",
            "type": "boolean",
            "x-ms-summary": "Data Json Hidden"
          },
          {
            "name": "derived",
            "in": "query",
            "description": "A true or false value for derived or base assets",
            "type": "boolean",
            "x-ms-summary": "Derived"
          },
          {
            "name": "order",
            "in": "query",
            "description": "The sort order of the results",
            "type": "string",
            "x-ms-summary": "Order",
            "enum": [
              "relevance DESC",
              "relevance ASC",
              "name ASC",
              "name DESC",
              "owner ASC",
              "owner DESC",
              "dataset_id ASC",
              "dataset_id DESC",
              "datatype ASC",
              "datatype DESC",
              "domain_category ASC",
              "domain_category DESC",
              "createdAt DESC",
              "createdAt ASC",
              "updatedAt DESC",
              "updatedAt ASC",
              "page_views_total DESC",
              "page_views_total ASC",
              "page_views_last_month DESC",
              "page_views_last_month ASC",
              "page_views_last_week DESC",
              "page_views_last_week ASC"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "Relevance Descending",
                "value": "relevance DESC"
              },
              {
                "displayName": "Relevance Ascending",
                "value": "relevance ASC"
              },
              {
                "displayName": "Name Ascending",
                "value": "name ASC"
              },
              {
                "displayName": "Name Descending",
                "value": "name DESC"
              },
              {
                "displayName": "Owner Ascending",
                "value": "owner ASC"
              },
              {
                "displayName": "Owner Descending",
                "value": "owner DESC"
              },
              {
                "displayName": "Dataset ID Ascending",
                "value": "dataset_id ASC"
              },
              {
                "displayName": "Dataset ID Descending",
                "value": "dataset_id DESC"
              },
              {
                "displayName": "Datatype Ascending",
                "value": "datatype ASC"
              },
              {
                "displayName": "Datatype Descending",
                "value": "datatype DESC"
              },
              {
                "displayName": "Domain Category Ascending",
                "value": "domain_category ASC"
              },
              {
                "displayName": "Domain Category Descending",
                "value": "domain_category DESC"
              },
              {
                "displayName": "Created At Descending",
                "value": "createdAt DESC"
              },
              {
                "displayName": "Created At Ascending",
                "value": "createdAt ASC"
              },
              {
                "displayName": "Updated At Descending",
                "value": "updatedAt DESC"
              },
              {
                "displayName": "Updated At Ascending",
                "value": "updatedAt ASC"
              },
              {
                "displayName": "Page Views Total Descending",
                "value": "page_views_total DESC"
              },
              {
                "displayName": "Page Views Total Ascending",
                "value": "page_views_total ASC"
              },
              {
                "displayName": "Page Views Last Month Descending",
                "value": "page_views_last_month DESC"
              },
              {
                "displayName": "Page Views Last Month Ascending",
                "value": "page_views_last_month ASC"
              },
              {
                "displayName": "Page Views Last Week Descending",
                "value": "page_views_last_week DESC"
              },
              {
                "displayName": "Page Views Last Week Ascending",
                "value": "page_views_last_week ASC"
              }
            ]
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Initial starting point for paging (0 by default)",
            "type": "integer",
            "x-ms-summary": "Offset"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return (100 by default, up to 10000)",
            "type": "integer",
            "x-ms-summary": "Limit"
          },
          {
            "name": "scroll_id",
            "in": "query",
            "description": "The identifier for the last asset from the previous results",
            "type": "string",
            "x-ms-summary": "Scroll Id"
          },
          {
            "name": "boostOfficial",
            "in": "query",
            "description": "Multiplier for the relevance score of official documents",
            "type": "number",
            "x-ms-summary": "Boost Official"
          },
          {
            "name": "show_visibility",
            "in": "query",
            "description": "Whether to return visibility information",
            "type": "boolean",
            "x-ms-summary": "Show Visibility"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "resource": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "x-ms-summary": "Asset Name",
                            "description": "The name of the asset."
                          },
                          "id": {
                            "type": "string",
                            "x-ms-summary": "Asset ID",
                            "description": "The unique identifier of the asset."
                          },
                          "description": {
                            "type": "string",
                            "x-ms-summary": "Description",
                            "description": "A brief description of the asset."
                          },
                          "attribution": {
                            "type": "string",
                            "x-ms-summary": "Attribution",
                            "description": "The entity attributed for the asset."
                          },
                          "type": {
                            "type": "string",
                            "x-ms-summary": "Type",
                            "description": "The type of the asset."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "x-ms-summary": "Updated At",
                            "description": "The date and time when the asset was last updated."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "x-ms-summary": "Created At",
                            "description": "The date and time when the asset was created."
                          },
                          "columns_name": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "x-ms-summary": "Columns Name",
                            "description": "Names of the columns in the asset."
                          },
                          "columns_field_name": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "x-ms-summary": "Columns Field Name",
                            "description": "Field names of the columns in the asset."
                          },
                          "columns_datatype": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "x-ms-summary": "Columns Datatype",
                            "description": "Datatypes of the columns in the asset."
                          },
                          "columns_description": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "x-ms-summary": "Columns Description",
                            "description": "Descriptions of the columns in the asset."
                          },
                          "page_views_total": {
                            "type": "number",
                            "x-ms-summary": "Page Views Total",
                            "description": "Total number of page views."
                          },
                          "page_views_last_week": {
                            "type": "number",
                            "x-ms-summary": "Page Views Last Week",
                            "description": "Number of page views in the last week."
                          },
                          "page_views_last_month": {
                            "type": "number",
                            "x-ms-summary": "Page Views Last Month",
                            "description": "Number of page views in the last month."
                          },
                          "download_count": {
                            "type": "number",
                            "x-ms-summary": "Download Count",
                            "description": "Total number of downloads."
                          },
                          "provenance": {
                            "type": "string",
                            "x-ms-summary": "Provenance",
                            "description": "The provenance of the asset."
                          },
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "x-ms-summary": "Categories",
                            "description": "Categories of the asset."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "x-ms-summary": "Tags",
                            "description": "Tags associated with the asset."
                          },
                          "domain": {
                            "type": "string",
                            "x-ms-summary": "Domain",
                            "description": "The domain of the asset."
                          },
                          "is_public": {
                            "type": "boolean",
                            "x-ms-summary": "Is Public",
                            "description": "Whether the asset is public."
                          },
                          "is_published": {
                            "type": "boolean",
                            "x-ms-summary": "Is Published",
                            "description": "Whether the asset is published."
                          },
                          "is_hidden": {
                            "type": "boolean",
                            "x-ms-summary": "Is Hidden",
                            "description": "Whether the asset is hidden."
                          }
                        }
                      }
                    }
                  }
                },
                "resultSetSize": {
                  "type": "number",
                  "x-ms-summary": "Result Set Size",
                  "description": "The size of the result set."
                },
                "warnings": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "x-ms-summary": "Warnings",
                  "description": "Warnings associated with the query."
                }
              }
            }
          }
        }
      }
    },
    "/catalog/v1/domains": {
      "get": {
        "operationId": "CountByDomain",
        "summary": "Count by domain",
        "description": "Returns each domain and the count of assets owned by that domain.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "domain": {
                        "type": "string",
                        "description": "The domain name."
                      },
                      "count": {
                        "type": "number",
                        "description": "The count of assets owned by the domain."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/catalog/v1/categories": {
      "get": {
        "operationId": "CountByCategory",
        "summary": "Count by category",
        "description": "Returns each category and the count of assets having that category.",
        "responses": {
          "200": {
            "description": "A list of categories and their counts",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "category": {
                        "type": "string",
                        "description": "The domain-specific category."
                      },
                      "count": {
                        "type": "number",
                        "description": "The count of assets having that category."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/catalog/v1/tags": {
      "get": {
        "operationId": "CountByTag",
        "summary": "Count by tag",
        "description": "Returns each asset tag and the count of assets having that tag.",
        "responses": {
          "200": {
            "description": "A list of tags and their counts",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "tag": {
                        "type": "string",
                        "description": "The asset tag."
                      },
                      "count": {
                        "type": "number",
                        "description": "The count of assets having that tag."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/views/{asset_id}": {
      "get": {
        "operationId": "GetDatasetSchema",
        "summary": "Get Dataset Schema",
        "description": "Retrieve the schema properties of a dataset by its Id",
        "parameters": [
          {
            "name": "domain",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Dataset domain",
            "x-ms-summary": "Domain"
          },
          {
            "name": "asset_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the asset",
            "type": "string",
            "x-ms-summary": "Dataset",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Invalid type specified"
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/resource/{resource_id}.json": {
      "post": {
        "operationId": "SearchDataset",
        "summary": "Search dataset",
        "description": "Retrieve data from a dataset using basic filtering.",
        "parameters": [
          {
            "name": "domain",
            "in": "header",
            "required": true,
            "description": "Dataset publisher",
            "type": "string",
            "x-ms-summary": "Domain",
            "x-ms-dynamic-values": {
              "operationId": "CountByDomain",
              "value-collection": "results",
              "value-path": "domain"
            }
          },
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the dataset resource",
            "type": "string",
            "x-ms-summary": "Dataset",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "SearchCatalog",
              "value-path": "resource/id",
              "value-title": "resource/name",
              "value-collection": "results",
              "parameters": {
                "only": "dataset",
                "domains": {
                  "parameter": "domain"
                }
              }
            }
          },
          {
            "name": "item_properties",
            "in": "body",
            "required": true,
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "GetDatasetSchema",
                "parameters": {
                  "asset_id": {
                    "parameterReference": "resource_id"
                  },
                  "domain": {
                    "parameterReference": "domain"
                  }
                },
                "itemValuePath": "data"
              }
            }
          },
          {
            "name": "$limit",
            "in": "query",
            "required": false,
            "description": "The number of records to return",
            "type": "integer",
            "x-ms-summary": "Limit"
          },
          {
            "name": "$offset",
            "in": "query",
            "required": false,
            "description": "The offset for pagination",
            "type": "integer",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "x-ms-dynamic-schema": {
                  "operationId": "GetDatasetSchema",
                  "parameters": {
                    "asset_id": {
                      "parameter": "resource_id"
                    },
                    "domain": {
                      "parameter": "domain"
                    }
                  },
                  "value-path": "data"
                },
                "x-ms-dynamic-properties": {
                  "operationId": "GetDatasetSchema",
                  "parameters": {
                    "asset_id": {
                      "parameterReference": "resource_id"
                    },
                    "domain": {
                      "parameterReference": "domain"
                    }
                  },
                  "itemValuePath": "data"
                }
              }
            }
          },
          "400": {
            "description": "Invalid type specified"
          }
        }
      }
    },
    "/resource/{resource_id}.json/SoQL": {
      "get": {
        "operationId": "SearchDatasetSoQL",
        "summary": "Search dataset with SoQL",
        "description": "Retrieve data from a dataset using SoQL query.",
        "parameters": [
          {
            "name": "domain",
            "in": "header",
            "required": true,
            "description": "Dataset publisher",
            "type": "string",
            "x-ms-summary": "Domain",
            "x-ms-dynamic-values": {
              "operationId": "CountByDomain",
              "value-collection": "results",
              "value-path": "domain"
            }
          },
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the dataset resource",
            "type": "string",
            "x-ms-summary": "Dataset",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "SearchCatalog",
              "value-path": "resource/id",
              "value-title": "resource/name",
              "value-collection": "results",
              "parameters": {
                "only": "dataset",
                "domains": {
                  "parameter": "domain"
                }
              }
            }
          },
          {
            "name": "$limit",
            "in": "query",
            "required": false,
            "description": "The number of records to return",
            "type": "integer",
            "x-ms-summary": "Limit"
          },
          {
            "name": "$offset",
            "in": "query",
            "required": false,
            "description": "The offset for pagination",
            "type": "integer",
            "x-ms-summary": "Offset"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "description": "The set of columns to be returned, similar to a SELECT in SQL",
            "type": "string",
            "x-ms-summary": "Select"
          },
          {
            "name": "$where",
            "in": "query",
            "required": false,
            "description": "Filters the rows to be returned, similar to WHERE",
            "type": "string",
            "x-ms-summary": "Where"
          },
          {
            "name": "$order",
            "in": "query",
            "required": false,
            "description": "Column to order results on, similar to ORDER BY in SQL",
            "type": "string",
            "x-ms-summary": "Order"
          },
          {
            "name": "$group",
            "in": "query",
            "required": false,
            "description": "Column to group results on, similar to GROUP BY in SQL",
            "type": "string",
            "x-ms-summary": "Group"
          },
          {
            "name": "$having",
            "in": "query",
            "required": false,
            "description": "Filters the rows that result from an aggregation, similar to HAVING",
            "type": "string",
            "x-ms-summary": "Having"
          },
          {
            "name": "$q",
            "in": "query",
            "required": false,
            "description": "Performs a full text search for a value",
            "type": "string",
            "x-ms-summary": "Full Text Search"
          },
          {
            "name": "$query",
            "in": "query",
            "required": false,
            "description": "A full SoQL query string, all as one parameter",
            "type": "string",
            "x-ms-summary": "Full SoQL Query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          },
          "400": {
            "description": "Invalid type specified"
          }
        }
      }
    },
    "/resource/{resource_id}.json/GetSearchData": {
      "get": {
        "operationId": "GetSearchData",
        "summary": "Get search data",
        "description": "Get data for search fields.",
        "parameters": [
          {
            "name": "domain",
            "in": "header",
            "type": "string",
            "required": true,
            "x-ms-summary": "Domain",
            "description": "Dataset publisher"
          },
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the dataset resource",
            "type": "string",
            "x-ms-summary": "Dataset",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$query",
            "in": "query",
            "required": true,
            "description": "The search query to get values",
            "type": "string",
            "x-ms-summary": "Query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "value": {
                    "title": "Value"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid type specified"
          }
        },
        "x-ms-visibility": "internal"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic-auth": {
      "type": "basic"
    },
    "api-auth": {
      "type": "apiKey",
      "in": "header",
      "name": "X-App-Token"
    }
  },
  "security": [
    {
      "basic-auth": [],
      "api-auth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.opendatanetwork.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.tylertech.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}
