{
  "swagger": "2.0",
  "info": {
    "title": "Tomorrow.io",
    "description": "Improve operational efficiency with the world's leading enterprise-grade weather service. Use our hyper-accurate weather data for endless use cases across all industries.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.tomorrow.io",
  "basePath": "/v4/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/weather/forecast": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "timelines": {
                  "type": "object",
                  "properties": {
                    "minutely": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "time": {
                            "type": "string",
                            "description": "The time.",
                            "title": "Time"
                          },
                          "values": {
                            "type": "object",
                            "properties": {
                              "cloudCover": {
                                "type": "number",
                                "format": "float",
                                "description": "The cloud cover.",
                                "title": "Cloud Cover"
                              },
                              "dewPoint": {
                                "type": "number",
                                "format": "float",
                                "description": "The dew point.",
                                "title": "Dew Point"
                              },
                              "freezingRainIntensity": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The frezzing rain intensity.",
                                "title": "Freezing Rain Intensity"
                              },
                              "humidity": {
                                "type": "number",
                                "format": "float",
                                "description": "The humidity.",
                                "title": "Humidity"
                              },
                              "precipitationProbability": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The precipitation probability.",
                                "title": "Precipitation Probability"
                              },
                              "pressureSurfaceLevel": {
                                "type": "number",
                                "format": "float",
                                "description": "The pressure surface level.",
                                "title": "Pressure Surface Level"
                              },
                              "rainIntensity": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The rain intensity.",
                                "title": "Rain Intensity"
                              },
                              "sleetIntensity": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet intensity.",
                                "title": "Sleet Intensity"
                              },
                              "snowIntensity": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow intensity.",
                                "title": "Snow Intensity"
                              },
                              "temperature": {
                                "type": "number",
                                "format": "float",
                                "description": "The temperature.",
                                "title": "Temperature"
                              },
                              "temperatureApparent": {
                                "type": "number",
                                "format": "float",
                                "description": "The temperature apparent.",
                                "title": "Temperature Apparent"
                              },
                              "uvHealthConcern": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The UV health concern.",
                                "title": "UV Health Concern"
                              },
                              "uvIndex": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The UV index.",
                                "title": "UV Index"
                              },
                              "visibility": {
                                "type": "number",
                                "format": "float",
                                "description": "The visibility.",
                                "title": "Visibility"
                              },
                              "weatherCode": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The weather code.",
                                "title": "Weather Code"
                              },
                              "windDirection": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind direction.",
                                "title": "Wind Direction"
                              },
                              "windGust": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind gust.",
                                "title": "Wind Gust"
                              },
                              "windSpeed": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind speed.",
                                "title": "Wind Speed"
                              }
                            },
                            "title": "Values"
                          }
                        }
                      },
                      "title": "Minutely"
                    },
                    "hourly": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "time": {
                            "type": "string",
                            "description": "The time.",
                            "title": "Time"
                          },
                          "values": {
                            "type": "object",
                            "properties": {
                              "cloudCover": {
                                "type": "number",
                                "format": "float",
                                "description": "The cloud cover.",
                                "title": "Cloud Cover"
                              },
                              "dewPoint": {
                                "type": "number",
                                "format": "float",
                                "description": "The dew point.",
                                "title": "Dew Point"
                              },
                              "evapotranspiration": {
                                "type": "number",
                                "format": "float",
                                "description": "The evapotransiration.",
                                "title": "Evapotranspiration"
                              },
                              "freezingRainIntensity": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The frezzing rain intensity.",
                                "title": "Freezing Rain Intensity"
                              },
                              "humidity": {
                                "type": "number",
                                "format": "float",
                                "description": "The humidity.",
                                "title": "Humidity"
                              },
                              "iceAccumulation": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The ice accumulation.",
                                "title": "Ice Accumulation"
                              },
                              "iceAccumulationLwe": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The ice accumulation LWE.",
                                "title": "Ice Accumulation LWE"
                              },
                              "precipitationProbability": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The precipitation probability.",
                                "title": "Precipitation Probability"
                              },
                              "pressureSurfaceLevel": {
                                "type": "number",
                                "format": "float",
                                "description": "The pressure surface level.",
                                "title": "Pressure Surface Level"
                              },
                              "rainAccumulation": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The rain accumulation.",
                                "title": "Rain Accumulation"
                              },
                              "rainAccumulationLwe": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The rain accumulation LWE.",
                                "title": "Rain Accumulation LWE"
                              },
                              "rainIntensity": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The rain intensity.",
                                "title": "Rain Intensity"
                              },
                              "sleetAccumulation": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet accumulation.",
                                "title": "Sleet Accumulation"
                              },
                              "sleetAccumulationLwe": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet accumulation LWE.",
                                "title": "Sleet Accumulation LWE"
                              },
                              "sleetIntensity": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet intensity.",
                                "title": "Sleet Intensity"
                              },
                              "snowAccumulation": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow accumulation.",
                                "title": "Snow Accumulation"
                              },
                              "snowAccumulationLwe": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow accumulation LWE.",
                                "title": "Snow Accumulation LWE"
                              },
                              "snowIntensity": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow intensity.",
                                "title": "Snow Intensity"
                              },
                              "temperature": {
                                "type": "number",
                                "format": "float",
                                "description": "The temperature.",
                                "title": "Temperature"
                              },
                              "temperatureApparent": {
                                "type": "number",
                                "format": "float",
                                "description": "The temperature apparent.",
                                "title": "Temperature Apparent"
                              },
                              "uvHealthConcern": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The UV health concern.",
                                "title": "UV Health Concern"
                              },
                              "uvIndex": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The UV index.",
                                "title": "UV Index"
                              },
                              "visibility": {
                                "type": "number",
                                "format": "float",
                                "description": "The visibility.",
                                "title": "Visibility"
                              },
                              "weatherCode": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The weather code.",
                                "title": "Weather Code"
                              },
                              "windDirection": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind direction.",
                                "title": "Wind Direction"
                              },
                              "windGust": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind gust.",
                                "title": "Wind Gust"
                              },
                              "windSpeed": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind speed.",
                                "title": "Wind Speed"
                              }
                            },
                            "title": "Values"
                          }
                        }
                      },
                      "title": "Hourly"
                    },
                    "daily": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "time": {
                            "type": "string",
                            "description": "The time.",
                            "title": "Time"
                          },
                          "values": {
                            "type": "object",
                            "properties": {
                              "cloudBaseAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The cloud base average.",
                                "title": "Cloud Base Avg"
                              },
                              "cloudBaseMax": {
                                "type": "number",
                                "format": "float",
                                "description": "The cloud base maximum.",
                                "title": "Cloud Base Max"
                              },
                              "cloudBaseMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The cloud base minimum.",
                                "title": "Cloud Base Min"
                              },
                              "cloudCeilingAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The cloud ceiling average.",
                                "title": "Cloud Ceiling Avg"
                              },
                              "cloudCeilingMax": {
                                "type": "number",
                                "format": "float",
                                "description": "The cloud ceiling max.",
                                "title": "Cloud Ceiling Max"
                              },
                              "cloudCeilingMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The cloud ceiling minimum.",
                                "title": "Cloud Ceiling Min"
                              },
                              "cloudCoverAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The cloud cover average.",
                                "title": "Cloud Cover Avg"
                              },
                              "cloudCoverMax": {
                                "type": "number",
                                "format": "float",
                                "description": "The cloud cover maximum.",
                                "title": "Cloud Cover Max"
                              },
                              "cloudCoverMin": {
                                "type": "number",
                                "format": "float",
                                "description": "The cloud cover minimum.",
                                "title": "Cloud Cover Min"
                              },
                              "dewPointAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The dew point average.",
                                "title": "Dew Point Avg"
                              },
                              "dewPointMax": {
                                "type": "number",
                                "format": "float",
                                "description": "The dew point maximum.",
                                "title": "Dew Point Max"
                              },
                              "dewPointMin": {
                                "type": "number",
                                "format": "float",
                                "description": "The dew point minimum.",
                                "title": "Dew Point Min"
                              },
                              "evapotranspirationAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The evapotranspiration average.",
                                "title": "Evapotranspiration Avg"
                              },
                              "evapotranspirationMax": {
                                "type": "number",
                                "format": "float",
                                "description": "The evapotranspiration maximum.",
                                "title": "Evapotranspiration Max"
                              },
                              "evapotranspirationMin": {
                                "type": "number",
                                "format": "float",
                                "description": "The evapotranspiration minimum.",
                                "title": "Evapotranspiration Min"
                              },
                              "evapotranspirationSum": {
                                "type": "number",
                                "format": "float",
                                "description": "The evapotranspiration summary.",
                                "title": "Evapotranspiration Sum"
                              },
                              "freezingRainIntensityAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The freezing rain intensity average.",
                                "title": "Freezing Rain Intensity Avg"
                              },
                              "freezingRainIntensityMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The freezing rain intensity maximum.",
                                "title": "Freezing Rain Intensity Max"
                              },
                              "freezingRainIntensityMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The freezing rain intensity minimum.",
                                "title": "Freezing Rain Intensity Min"
                              },
                              "humidityAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The humidity average.",
                                "title": "Humidity Avg"
                              },
                              "humidityMax": {
                                "type": "number",
                                "format": "float",
                                "description": "The humidity maximum.",
                                "title": "Humidity Max"
                              },
                              "humidityMin": {
                                "type": "number",
                                "format": "float",
                                "description": "The humidity minimum.",
                                "title": "Humidity Min"
                              },
                              "iceAccumulationAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The ice accumulation average.",
                                "title": "Ice Accumulation Avg"
                              },
                              "iceAccumulationLweAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The ice accumulation LWE average.",
                                "title": "Ice Accumulation LWE Avg"
                              },
                              "iceAccumulationLweMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The ice accumulation LWE maximum.",
                                "title": "Ice Accumulation LWE Max"
                              },
                              "iceAccumulationLweMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The ice accumulation LWE minimum.",
                                "title": "Ice Accumulation LWE Min"
                              },
                              "iceAccumulationLweSum": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The ice accumulation LWE summary.",
                                "title": "Ice Accumulation LWE Sum"
                              },
                              "iceAccumulationMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The ice accumulation maximum.",
                                "title": "Ice Accumulation Max"
                              },
                              "iceAccumulationMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The ice accumulation minimum.",
                                "title": "Ice Accumulation Min"
                              },
                              "iceAccumulationSum": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The ice accumulation summary.",
                                "title": "Ice Accumulation Sum"
                              },
                              "moonriseTime": {
                                "type": "string",
                                "description": "The moonrise time.",
                                "title": "Moonrise Time"
                              },
                              "moonsetTime": {
                                "type": "string",
                                "description": "The moonset time.",
                                "title": "Moonset Time"
                              },
                              "precipitationProbabilityAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The precipitation probability.",
                                "title": "Precipitation Probability Avg"
                              },
                              "precipitationProbabilityMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The precipitation probability maximum.",
                                "title": "Precipitation Probability Max"
                              },
                              "precipitationProbabilityMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The precipitation probability minimum.",
                                "title": "Precipitation Probability Min"
                              },
                              "pressureSurfaceLevelAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The pressure surface level average.",
                                "title": "Pressure Surface Level Avg"
                              },
                              "pressureSurfaceLevelMax": {
                                "type": "number",
                                "format": "float",
                                "description": "The pressure surface level maximum.",
                                "title": "Pressure Surface Level Max"
                              },
                              "pressureSurfaceLevelMin": {
                                "type": "number",
                                "format": "float",
                                "description": "The pressure surface level minimum.",
                                "title": "Pressure Surface Level Min"
                              },
                              "rainAccumulationAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The rain accumulation average.",
                                "title": "Rain Accumulation Avg"
                              },
                              "rainAccumulationLweAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The rain accumulation LWE average.",
                                "title": "Rain Accumulation LWE Avg"
                              },
                              "rainAccumulationLweMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The rain accumulation LWE maximum.",
                                "title": "Rain Accumulation LWE Max"
                              },
                              "rainAccumulationLweMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The rain accumulation LWE minimum.",
                                "title": "Rain Accumulation LWE Min"
                              },
                              "rainAccumulationMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The rain accumulation maximum.",
                                "title": "Rain Accumulation Max"
                              },
                              "rainAccumulationMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The rain accumulation minimum.",
                                "title": "Rain Accumulation Min"
                              },
                              "rainAccumulationSum": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The rain accumulation summary.",
                                "title": "Rain Accumulation Sum"
                              },
                              "rainIntensityAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The rain intesity average.",
                                "title": "Rain Intensity Avg"
                              },
                              "rainIntensityMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The rain intensity maximum.",
                                "title": "Rain Intensity Max"
                              },
                              "rainIntensityMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The rain intensity minimum.",
                                "title": "Rain Intensity Min"
                              },
                              "sleetAccumulationAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet accumulation average.",
                                "title": "Sleet Accumulation Avg"
                              },
                              "sleetAccumulationLweAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet accumulation LWE average.",
                                "title": "Sleet Accumulation LWE Avg"
                              },
                              "sleetAccumulationLweMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet accumulation LWE maximum.",
                                "title": "Sleet Accumulation LWE Max"
                              },
                              "sleetAccumulationLweMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet accumulation LWE minimum.",
                                "title": "Sleet Accumulation LWE Min"
                              },
                              "sleetAccumulationLweSum": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet accumulation LWE summary.",
                                "title": "Sleet Accumulation LWE Sum"
                              },
                              "sleetAccumulationMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet accumulation maximum.",
                                "title": "Sleet Accumulation Max"
                              },
                              "sleetAccumulationMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet accumulation minimum.",
                                "title": "Sleet Accumulation Min"
                              },
                              "sleetIntensityAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet intensity average.",
                                "title": "Sleet Intensity Avg"
                              },
                              "sleetIntensityMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet intensity maximum.",
                                "title": "Sleet Intensity Max"
                              },
                              "sleetIntensityMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet intensity minimum.",
                                "title": "Sleet Intensity Min"
                              },
                              "snowAccumulationAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow accumulation average.",
                                "title": "Snow Accumulation Avg"
                              },
                              "snowAccumulationLweAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow accumulation LWE average.",
                                "title": "Snow Accumulation LWE Avg"
                              },
                              "snowAccumulationLweMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow accumultation LWE maximum.",
                                "title": "Snow Accumulation LWE Max"
                              },
                              "snowAccumulationLweMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow accumulation LWE minimum.",
                                "title": "Snow Accumulation LWE Min"
                              },
                              "snowAccumulationLweSum": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow accumulation LWE summary.",
                                "title": "Snow Accumulation LWE Sum"
                              },
                              "snowAccumulationMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow accumulation maximum.",
                                "title": "Snow Accumulation Max"
                              },
                              "snowAccumulationMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow accumulation minimum.",
                                "title": "Snow Accumulation Min"
                              },
                              "snowAccumulationSum": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow accumulation summary.",
                                "title": "Snow Accumulation Sum"
                              },
                              "snowIntensityAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sun intensity average.",
                                "title": "Snow Intensity Avg"
                              },
                              "snowIntensityMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow intensity maximum.",
                                "title": "Snow Intensity Max"
                              },
                              "snowIntensityMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow intensity minimum.",
                                "title": "Snow Intensity Min"
                              },
                              "sunriseTime": {
                                "type": "string",
                                "description": "The sunrise time.",
                                "title": "Sunrise Time"
                              },
                              "sunsetTime": {
                                "type": "string",
                                "description": "The sunset time.",
                                "title": "Sunset Time"
                              },
                              "temperatureApparentAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The termperature apparernt average.",
                                "title": "Temperature Apparent Avg"
                              },
                              "temperatureApparentMax": {
                                "type": "number",
                                "format": "float",
                                "description": "The termperature apparent maximum.",
                                "title": "Temperature Apparent Max"
                              },
                              "temperatureApparentMin": {
                                "type": "number",
                                "format": "float",
                                "description": "The termperature apparent minimum.",
                                "title": "Temperature Apparent Min"
                              },
                              "temperatureAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The temperature average.",
                                "title": "Temperature Avg"
                              },
                              "temperatureMax": {
                                "type": "number",
                                "format": "float",
                                "description": "The temperature maximum.",
                                "title": "Temperature Max"
                              },
                              "temperatureMin": {
                                "type": "number",
                                "format": "float",
                                "description": "The temperature minimum.",
                                "title": "Temperature Min"
                              },
                              "uvHealthConcernAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The UV health concern average.",
                                "title": "UV Health Concern Avg"
                              },
                              "uvHealthConcernMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The UV health concern maximum.",
                                "title": "UV Health Concern Max"
                              },
                              "uvHealthConcernMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The UV health concern minimum.",
                                "title": "UV Health Concern Min"
                              },
                              "uvIndexAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The UV index average.",
                                "title": "UV Index Avg"
                              },
                              "uvIndexMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The UV index maximum.",
                                "title": "UV Index Max"
                              },
                              "uvIndexMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The UV index minimum.",
                                "title": "UV Index Min"
                              },
                              "visibilityAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The visibility average.",
                                "title": "Visibility Avg"
                              },
                              "visibilityMax": {
                                "type": "number",
                                "format": "float",
                                "description": "The visibility maximum.",
                                "title": "Visibility Max"
                              },
                              "visibilityMin": {
                                "type": "number",
                                "format": "float",
                                "description": "The visibility minimum.",
                                "title": "Visibility Min"
                              },
                              "weatherCodeMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The weather code maximum.",
                                "title": "Weather Code Max"
                              },
                              "weatherCodeMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The weather code minimum.",
                                "title": "Weather Code Min"
                              },
                              "windDirectionAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind direction average.",
                                "title": "Wind Direction Avg"
                              },
                              "windGustAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind gust average.",
                                "title": "Wind Gust Avg"
                              },
                              "windGustMax": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind gust maximum.",
                                "title": "Wind Gust Max"
                              },
                              "windGustMin": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind gust minimum.",
                                "title": "Wind Gust Min"
                              },
                              "windSpeedAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind speed average.",
                                "title": "Wind Speed Avg"
                              },
                              "windSpeedMax": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind speed maximum.",
                                "title": "Wind Speed Max"
                              },
                              "windSpeedMin": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind seed minimum.",
                                "title": "Wind Speed Min"
                              }
                            },
                            "title": "Values"
                          }
                        }
                      },
                      "title": "Daily"
                    }
                  },
                  "title": "Timelines"
                },
                "location": {
                  "type": "object",
                  "properties": {
                    "lat": {
                      "type": "number",
                      "format": "float",
                      "description": "The latitude.",
                      "title": "Lat"
                    },
                    "lon": {
                      "type": "number",
                      "format": "float",
                      "description": "The longitude.",
                      "title": "Lon"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    }
                  },
                  "title": "Location"
                }
              }
            }
          }
        },
        "summary": "Get weather forecast",
        "description": "Retrieve up-to-date weather information for a given location, including minute-by-minute forecasts for the next hour, hourly forecasts for the next 120 hours, and daily forecasts for the next 5 days.",
        "operationId": "ForecastGet",
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "x-ms-summary": "Location",
            "description": "The location.",
            "required": true,
            "type": "string"
          },
          {
            "name": "timesteps",
            "in": "query",
            "x-ms-summary": "Timesteps",
            "description": "The timesteps.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "units",
            "in": "query",
            "x-ms-summary": "Units",
            "description": "The units.",
            "required": false,
            "type": "string",
            "enum": [
              "metric",
              "imperial"
            ]
          }
        ]
      }
    },
    "/weather/realtime": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "time": {
                      "type": "string",
                      "description": "The time.",
                      "title": "Time"
                    },
                    "values": {
                      "type": "object",
                      "properties": {
                        "cloudCover": {
                          "type": "number",
                          "format": "float",
                          "description": "The cloud cover.",
                          "title": "Cloud Cover"
                        },
                        "dewPoint": {
                          "type": "number",
                          "format": "float",
                          "description": "The dew point.",
                          "title": "Dew Point"
                        },
                        "freezingRainIntensity": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The freezing rain intensity.",
                          "title": "Freezing Rain Intensity"
                        },
                        "humidity": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The humidity.",
                          "title": "Humidity"
                        },
                        "precipitationProbability": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The precipitation probability.",
                          "title": "Precipitation Probability"
                        },
                        "pressureSurfaceLevel": {
                          "type": "number",
                          "format": "float",
                          "description": "The pressure surface level.",
                          "title": "Pressure Surface Level"
                        },
                        "rainIntensity": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The rain intensity.",
                          "title": "Rain Intensity"
                        },
                        "sleetIntensity": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The sleet intensity.",
                          "title": "Sleet Intensity"
                        },
                        "snowIntensity": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The snow intensity.",
                          "title": "Snow Intensity"
                        },
                        "temperature": {
                          "type": "number",
                          "format": "float",
                          "description": "The temperature.",
                          "title": "Temperature"
                        },
                        "temperatureApparent": {
                          "type": "number",
                          "format": "float",
                          "description": "The termperature apparent.",
                          "title": "Temperature Apparent"
                        },
                        "uvHealthConcern": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The UV health concern.",
                          "title": "UV Health Concern"
                        },
                        "uvIndex": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The UV index.",
                          "title": "UV Index"
                        },
                        "visibility": {
                          "type": "number",
                          "format": "float",
                          "description": "The visibility.",
                          "title": "Visibility"
                        },
                        "weatherCode": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The weather code.",
                          "title": "Weather Code"
                        },
                        "windDirection": {
                          "type": "number",
                          "format": "float",
                          "description": "The wind direction.",
                          "title": "Wind Direction"
                        },
                        "windGust": {
                          "type": "number",
                          "format": "float",
                          "description": "The wind gust.",
                          "title": "Wind Gust"
                        },
                        "windSpeed": {
                          "type": "number",
                          "format": "float",
                          "description": "The wind speed.",
                          "title": "Wind Speed"
                        }
                      },
                      "title": "Values"
                    }
                  },
                  "title": "Data"
                },
                "location": {
                  "type": "object",
                  "properties": {
                    "lat": {
                      "type": "number",
                      "format": "float",
                      "description": "The latitude.",
                      "title": "Lat"
                    },
                    "lon": {
                      "type": "number",
                      "format": "float",
                      "description": "The longitude.",
                      "title": "Lon"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    }
                  },
                  "title": "Location"
                }
              }
            }
          }
        },
        "summary": "Get realtime weather",
        "description": "Retrieve current weather information for a location in minute-by-minute temporal resolution.",
        "operationId": "RealtimeGet",
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "x-ms-summary": "Location",
            "description": "The location.",
            "required": true,
            "type": "string"
          },
          {
            "name": "units",
            "in": "query",
            "x-ms-summary": "Units",
            "description": "The units.",
            "required": false,
            "type": "string",
            "enum": [
              "metric",
              "imperial"
            ]
          }
        ]
      }
    },
    "/timelines": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "timelines": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestep": {
                            "type": "string",
                            "description": "The timestep.",
                            "title": "Timestep"
                          },
                          "endTime": {
                            "type": "string",
                            "description": "The end time.",
                            "title": "End Time"
                          },
                          "startTime": {
                            "type": "string",
                            "description": "The start time.",
                            "title": "Start Time"
                          },
                          "intervals": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "startTime": {
                                  "type": "string",
                                  "description": "The start time.",
                                  "title": "Start Time"
                                },
                                "values": {
                                  "type": "object",
                                  "properties": {
                                    "temperature": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "The temperature.",
                                      "title": "Temperature"
                                    }
                                  },
                                  "title": "Values"
                                }
                              }
                            },
                            "title": "Intervals"
                          }
                        }
                      },
                      "title": "Timelines"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get weather timeline",
        "description": "Query weather conditions by specifying the location, fields, timesteps, and the startTime and endTime, such that the response includes multiple timelines, one for each timestep.",
        "operationId": "TimelinePost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "string",
                  "description": "The location.",
                  "title": "Location"
                },
                "fields": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The fields.",
                  "title": "Fields"
                },
                "units": {
                  "type": "string",
                  "description": "The units.",
                  "title": "Units",
                  "enum": [
                    "metric",
                    "imperial"
                  ]
                },
                "timesteps": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The timesteps.",
                  "title": "Timesteps"
                },
                "startTime": {
                  "type": "string",
                  "description": "The start time.",
                  "title": "Start Time"
                },
                "endTime": {
                  "type": "string",
                  "description": "The end time.",
                  "title": "End Time"
                },
                "timezone": {
                  "type": "string",
                  "description": "The timezone.",
                  "title": "Timezone"
                }
              },
              "required": [
                "location",
                "fields"
              ]
            }
          }
        ]
      }
    },
    "/map/tile/{zoom}/{x}/{y}/{field}/{time}.{format}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "type": "string",
                  "description": "The content type.",
                  "title": "Content Type"
                },
                "$content": {
                  "type": "string",
                  "description": "The content.",
                  "title": "Content"
                }
              }
            }
          }
        },
        "summary": "Get weather map",
        "parameters": [
          {
            "name": "zoom",
            "in": "path",
            "x-ms-summary": "Zoom",
            "x-ms-url-encoding": "single",
            "description": "The zoom.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x",
            "in": "path",
            "x-ms-summary": "X",
            "x-ms-url-encoding": "single",
            "description": "The X.",
            "required": true,
            "type": "string"
          },
          {
            "name": "y",
            "in": "path",
            "x-ms-summary": "Y",
            "x-ms-url-encoding": "single",
            "description": "The Y.",
            "required": true,
            "type": "string"
          },
          {
            "name": "field",
            "in": "path",
            "x-ms-summary": "Field",
            "x-ms-url-encoding": "single",
            "description": "The field.",
            "required": true,
            "type": "string"
          },
          {
            "name": "time",
            "in": "path",
            "x-ms-summary": "Time",
            "x-ms-url-encoding": "single",
            "description": "The time.",
            "required": true,
            "type": "string"
          },
          {
            "name": "format",
            "in": "path",
            "x-ms-summary": "Format",
            "x-ms-url-encoding": "single",
            "description": "The format.",
            "required": true,
            "type": "string",
            "default": "png",
            "x-ms-visibility": "internal"
          }
        ],
        "description": "Retrieve accurate weather conditions on a map tile.",
        "operationId": "MapGet"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "apikey"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.tomorrow.io/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.tomorrow.io/legal/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}