{
  "swagger": "2.0",
  "info": {
    "title": "Open-Elevation",
    "description": "Open-Elevation is a free and open-source alternative to the Google Elevation and similar offerings.",
    "version": "1.0",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_openelev@gmail.com"
    }

  },
  "host": "api.open-elevation.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/v1/lookup": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "latitude": {
                        "type": "number",
                        "format": "float",
                        "description": "Latitude of the requested location.",
                        "title": "Latitude"
                      },
                      "longitude": {
                        "type": "number",
                        "format": "float",
                        "description": "Longitude of the requested location.",
                        "title": "Longitude"
                      },
                      "elevation": {
                        "type": "number",
                        "format": "float",
                        "description": "Elevation in meters. If there is no recorded elevation at the provided coordinate, sea level (0 meters) is returned.",
                        "title": "Elevation"
                      }
                    }
                  },
                  "description": "results"
                }
              }
            }
          }
        },
        "summary": "Lookup",
        "operationId": "Lookup",
        "description": "Returns 'looks up' the elevation at one or more (latitude,longitude) points.",
        "parameters": [
          {
            "name": "locations",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Locations",
            "description": "List of locations, separated by '|' in latitude, longitude format, similar to the Google Elevation API. Example: '10,10|20,20'.",
            "x-ms-visibility": "important"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.open-elevation.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://github.com/Jorl17/open-elevation/blob/master/README.md"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}