{
  "swagger": "2.0",
  "info": {
    "title": "JWT-FL (V1)",
    "description": "Generates a signed JSON Web Token using your private key",
    "version": "1.0",
    "contact": {
      "name": "Farhan Latif",
      "url": "https://farhanlatif027.wixsite.com/prismixs",
      "email": "farhanlatif027@outlook.com"
    }
  },
  "host": "jwtconnector-1-b3038507.deta.app",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [],
  "paths": {
    "/v1/jwt_create_signed": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "succeeded": {
                  "type": "boolean",
                  "description": "succeeded",
                  "title": "Succeeded",
                  "x-ms-visibility": "internal",
                  "enum": [
                    true,
                    false
                  ]
                },
                "signed_token": {
                  "type": "string",
                  "description": "A JSON Web Token (JWT) that has been digitally signed to ensure its integrity and authenticity, allowing secure communication between parties by providing a verifiable proof of the token's origin",
                  "title": "JWT Signed Token Value",
                  "x-ms-visibility": "important"
                },
                "iat": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Denotes the timestamp indicating when a JWT was issued, serving as a useful component in validating the freshness and authenticity of the token during verification processes",
                  "title": "JWT iat (Issued At) Value",
                  "x-ms-visibility": "important"
                },
                "exp": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Specifies the date and time when the JSON Web Token expires, and it should not be accepted for processing after this timestamp",
                  "title": "JWT exp (expiration time) Value",
                  "x-ms-visibility": "important"
                },
                "request_took": {
                  "type": "string",
                  "description": "The time taken for a client's request to be processed and completed by a server, measuring the duration from the initiation of the request until the receipt of the corresponding response",
                  "title": "Response Time in Milliseconds (Returns String Output)",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        },
        "summary": "Create a Signed JWT Token",
        "description": "Generates a JWT token signed with your key",
        "operationId": "JWT_create_and_sign",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "jwt_sign_key": {
                  "type": "string",
                  "description": "The signature is used to verify the message wasn't changed along the way, and, in the case of tokens signed with a private key, it can also verify that the sender of the JWT is who it says it is.",
                  "title": "Signature Value | Private Key | if its .p8 file paste the content",
                  "x-ms-visibility": "important"
                },
                "minutes": {
                  "type": "integer",
                  "format": "int32",
                  "description": "How many minutes from current time should the token be valid for",
                  "title": "Expiry | Minutes",
                  "x-ms-visibility": "important",
                  "default": 15
                },
                "header": {
                  "type": "string",
                  "description": "Write it as 1 string separated by comma \",\" e.g alg: ES256,  typ: JWT",
                  "title": "Your JWT Header",
                  "default": "alg: ES256, typ: JWT",
                  "x-ms-visibility": "important"
                },
                "payload": {
                  "type": "string",
                  "description": "Write the content in single line separated by a comma e.g name:Farhan, greeting:hello",
                  "title": "Payload | Content",
                  "x-ms-visibility": "important"
                }
              },
              "x-ms-visibility": "important",
              "required": [
                "header",
                "jwt_sign_key",
                "minutes",
                "payload"
              ]
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/v1/jwt_validate": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "valid": {
                  "type": "boolean",
                  "description": "Determine the Validity of a JWT Token",
                  "title": "Is JWT Token Valid?",
                  "x-ms-visibility": "important",
                  "enum": [
                    true,
                    false
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Possible Values 'Token has expired' | 'Token is valid' | 'Token has expired {errorMessage}'",
                  "title": "Token Validity Message",
                  "x-ms-visibility": "important",
                  "x-ms-url-encoding": "single"
                },
                "valid_for_minutes": {
                  "type": "number",
                  "format": "float",
                  "description": "valid_for_minutes",
                  "title": "Duration (minutes) Until Token Expires",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        },
        "summary": "Validate JWT Token",
        "description": "This method validates jwt token against its exp time and returns duration remaining in minutes",
        "operationId": "JWT_validate",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "jwt_sign_key": {
                  "type": "string",
                  "description": "Your JWT token which has been signed by your private key",
                  "title": "Signature Value | Private Key | If Its .P8 File Paste The Content",
                  "x-ms-visibility": "important"
                },
                "signed_token": {
                  "type": "string",
                  "description": "signed_token",
                  "title": "Signed Token Value",
                  "x-ms-visibility": "important"
                }
              },
              "x-ms-visibility": "important",
              "required": [
                "jwt_sign_key",
                "signed_token"
              ]
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://jwt.io"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.okta.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Security"
    }
  ]
}
