{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Bloomflow",
    "description": "Bloomflow is the innovation management platform empowering large enterprises to thrive in today’s rapidly changing business landscape.  Leverage this connector to streamline collaboration and enhance productivity through efficient automated workflows.",
    "contact": {
      "name": "Bloomflow",
      "url": "https://www.bloomflow.com/contact-us",
      "email": "hello@bloomflow.com"
    }
  },
  "host": "api.demo.bloomflow.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/public/items/reference_data": {
      "get": {
        "summary": "Get reference data",
        "description": "Get reference data to create an item. Containing all valid values for typology, fundraising_stage, nb_employees and geographic_markets.\n\n### Scope\nTo use this endpoint ApiKey object must have this scope:\n**public:items**",
        "operationId": "PublicAPI-getItemsReference",
        "deprecated": false,
        "parameters": [
          {
            "$ref": "#/parameters/bloomflow_api_url_parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "schema": {
              "type": "object",
              "description": "typologies",
              "properties": {
                "typologies": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id",
                        "example": "startup"
                      },
                      "name": {
                        "type": "string",
                        "description": "name",
                        "example": "Startups"
                      },
                      "parentTypologyId": {
                        "type": "string",
                        "example": ""
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "5c7556ee467157cd2ba90a6a"
                            },
                            "name": {
                              "type": "string",
                              "example": "Home Staging"
                            }
                          }
                        },
                        "example": [
                          {
                            "id": "5c7556ee467157cd2ba90a6a",
                            "name": "Home Staging"
                          },
                          {
                            "id": "5c65710bd8c8966b514b4943",
                            "name": "Cloud"
                          }
                        ]
                      },
                      "labels": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "5c7556ee467157cd2ba90a6a"
                            },
                            "name": {
                              "type": "string",
                              "example": "Investment"
                            }
                          }
                        },
                        "example": [
                          {
                            "id": "5c7556ee467157cd2ba90a6a",
                            "name": "Investment"
                          },
                          {
                            "id": "5c65710bd8c8966b514b4943",
                            "name": "Staff Pick"
                          }
                        ]
                      },
                      "sources": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "5c7556ee467157cd2ba90a6a"
                            },
                            "name": {
                              "type": "string",
                              "example": "VivaTech 2019"
                            }
                          }
                        },
                        "example": [
                          {
                            "id": "5c7556ee467157cd2ba90a6a",
                            "name": "VivaTech 2019"
                          },
                          {
                            "id": "5c65710bd8c8966b514b4943",
                            "name": "Partech"
                          }
                        ]
                      }
                    }
                  },
                  "example": [
                    {
                      "id": "startup",
                      "name": "Startups",
                      "parentTypologyId": "",
                      "tags": [
                        {
                          "id": "5c7556ee467157cd2ba90a6a",
                          "name": "Home Staging"
                        },
                        {
                          "id": "5c65710bd8c8966b514b4943",
                          "name": "Cloud"
                        }
                      ],
                      "labels": [
                        {
                          "id": "5c7556ee467157cd2ba90a6a",
                          "name": "Investment"
                        },
                        {
                          "id": "5c65710bd8c8966b514b4943",
                          "name": "Staff Pick"
                        }
                      ],
                      "sources": [
                        {
                          "id": "5c7556ee467157cd2ba90a6a",
                          "name": "VivaTech 2019"
                        },
                        {
                          "id": "5c65710bd8c8966b514b4943",
                          "name": "Partech"
                        }
                      ]
                    }
                  ]
                },
                "custom_fields": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "types": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "startup"
                        },
                        "example": [
                          "startup"
                        ]
                      },
                      "field_id": {
                        "type": "string",
                        "example": "sourcing_partner_field"
                      }
                    }
                  },
                  "example": [
                    {
                      "types": [
                        "startup"
                      ],
                      "field_id": "sourcing_partner_field"
                    },
                    {
                      "types": [
                        "project"
                      ],
                      "field_id": "sourcing_partner_field_for_project"
                    }
                  ]
                },
                "fundraising_stage": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "seed",
                    "serieA",
                    "serieB",
                    "serieC",
                    "acquired",
                    "raisingFunds",
                    "ipo"
                  ],
                  "description": "Fundraising Stage"
                },
                "nb_employees": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Number of employees",
                  "example": [
                    "1 - 10",
                    "11 - 50",
                    "50 - 200",
                    "200 +"
                  ]
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "tags",
                  "example": [
                    "apps",
                    "media and entertainment",
                    "consumer goods",
                    "mobility",
                    "..."
                  ]
                },
                "geographic_markets": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "label_FR": {
                        "type": "string",
                        "description": "label_FR"
                      },
                      "label_EN": {
                        "type": "string",
                        "description": "label_EN"
                      }
                    }
                  },
                  "example": [
                    {
                      "id": "JP",
                      "label_FR": "Japon",
                      "label_EN": "Japan"
                    },
                    {
                      "id": "KE",
                      "label_FR": "Kenya",
                      "label_EN": "Kenya"
                    },
                    {
                      "id": "KG",
                      "label_FR": "Kirghizistan",
                      "label_EN": "Kyrgyzstan"
                    },
                    {
                      "id": "KH",
                      "label_FR": "Cambodge",
                      "label_EN": "Cambodia"
                    },
                    "..."
                  ],
                  "description": "Geographic markets"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/items": {
      "get": {
        "summary": "List Items",
        "description": "Retrieves a list of items. Result can be filtered by *term*, *tags*, *labels*, *sources* and by *updated date*.\n\nNumber of result returned can be handled by *limit* and *offset* parameters.\n\nResults can be ordered thanks to the *sort* parameter.\n\n###### Scope\nTo use this endpoint ApiKey object must have those scopes:\n**public:items**\n**public:items:\\*** (all typologies) or **public:items:startup,events,typology_id** (specific typologies)\n**Note**\nYou can add the http verb \"get\" in front of the scope to limit access to readonly endpoints.\n**get@public:item**",
        "operationId": "PublicAPI-searchItems",
        "parameters": [
          {
            "$ref": "#/parameters/bloomflow_api_url_parameter"
          },
          {
            "name": "typology",
            "in": "query",
            "description": "[required] The typology to search for. Could be either a string (*e.g. startup*) or a JSON array (*e.g. [\"startup\", \"event\"]*)",
            "type": "string",
            "required": true,
            "x-ms-summary": "Typology",
            "x-ms-dynamic-values": {
              "operationId": "PublicAPI-getItemsReference",
              "value-title": "name",
              "value-path": "id",
              "value-collection": "typologies",
              "parameters": {
                "bloomflow_api_url": {
                  "parameter": "bloomflow_api_url"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "PublicAPI-getItemsReference",
              "itemValuePath": "id",
              "itemTitlePath": "name",
              "itemsPath": "typologies",
              "parameters": {
                "bloomflow_api_url": {
                  "parameterReference": "bloomflow_api_url"
                }
              }
            }
          },
          {
            "name": "term",
            "in": "query",
            "description": "[optional] Term filter",
            "x-ms-summary": "Term",
            "type": "string",
            "required": false
          },
          {
            "name": "fields",
            "in": "query",
            "description": "[optional] Fields to match term with (default: term match on name, tags, pitch and description fields)\n*e.g: [\"website\",\"tags\"]*",
            "x-ms-summary": "Fields",
            "required": false,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "[optional] Tag ids filter. Should be a JSON array. Check reference_data endpoint to list available tag ids",
            "x-ms-summary": "Tags",
            "required": false,
            "type": "string"
          },
          {
            "name": "labels",
            "in": "query",
            "description": "[optional] Labels filter. Should be a JSON array. Check reference_data endpoint to list availabe label ids",
            "x-ms-summary": "Labels",
            "required": false,
            "type": "string"
          },
          {
            "name": "sources",
            "in": "query",
            "description": "[optional] Sources filter. Should be a JSON array. Check reference_data endpoint to list availabe source ids",
            "x-ms-summary": "Sources",
            "required": false,
            "type": "string"
          },
          {
            "name": "updated_at_gt",
            "in": "query",
            "description": "[optional] Minimum date filter",
            "x-ms-summary": "Updated At Greater Than",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "updated_at_lt",
            "in": "query",
            "description": "[optional] Maximum date filter",
            "x-ms-summary": "Updated At Lower Than",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "[optional] The number of items to retrieve. (maximum limit 1000)",
            "x-ms-summary": "Limit",
            "required": false,
            "default": 20,
            "maximum": 1000,
            "type": "number"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "[optional] The offset of the first hit to return",
            "x-ms-summary": "Offset",
            "required": false,
            "default": 0,
            "type": "number"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "[optional] Parameter to sort result",
            "x-ms-summary": "Sort",
            "required": false,
            "default": "relevance",
            "enum": [
              "created_at_desc",
              "created_at_asc",
              "updated_at_desc",
              "updated_at_asc",
              "relevance"
            ],
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total",
                  "example": 32
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id",
                        "example": "6308bdf9f541ef0013001f6e"
                      },
                      "name": {
                        "type": "string",
                        "description": "name",
                        "example": "Microsoft"
                      },
                      "short_description": {
                        "type": "string",
                        "description": "short_description",
                        "example": "Microsoft is a software corporation that develops, manufactures, licenses, supports, and sells a range of software products and services."
                      },
                      "full_description": {
                        "type": "string",
                        "description": "full_description",
                        "example": "Microsoft is an American multinational corporation that develops, manufactures, licenses, supports, and sells a range of software products and services.\n\nMicrosoft’s devices and consumer (D&C) licensing segment..."
                      },
                      "website": {
                        "type": "string",
                        "description": "website",
                        "example": "http://www.microsoft.com"
                      },
                      "startupflow_url": {
                        "type": "string",
                        "description": "startupflow_url",
                        "example": "http://localhost:4200/company/6308bdf9f541ef0013001f6e"
                      },
                      "logo_url": {
                        "type": "string",
                        "description": "logo_url",
                        "example": "https://images.startupflow.io/smach.startupflow.smach.files/1664891669854ypg7mliwmzomf9fdrkvz.png"
                      },
                      "year_founded": {
                        "type": "string",
                        "description": "year_founded",
                        "example": "1975"
                      },
                      "nb_employees": {
                        "type": "string",
                        "description": "nb_employees",
                        "example": "200 +"
                      },
                      "maturity": {
                        "type": "string",
                        "description": "maturity",
                        "example": "ipo"
                      },
                      "hq": {
                        "type": "object",
                        "properties": {
                          "hq_city": {
                            "type": "string",
                            "description": "hq_city",
                            "example": "Redmond"
                          },
                          "hq_address": {
                            "type": "string",
                            "description": "hq_address",
                            "example": "98052 Redmond"
                          },
                          "hq_country_id": {
                            "type": "string",
                            "description": "hq_country_id",
                            "example": "US"
                          },
                          "hq_country_label": {
                            "type": "string",
                            "description": "hq_country_label",
                            "example": "United States"
                          }
                        },
                        "description": "hq"
                      },
                      "typology_id": {
                        "type": "string",
                        "description": "typology_id",
                        "example": "startup"
                      },
                      "folder_id": {
                        "type": "string",
                        "description": "folder_id",
                        "example": "startup"
                      },
                      "tags": {
                        "type": "array",
                        "description": "tags",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id",
                              "example": "594773057733a4fa1b0b7611"
                            },
                            "name": {
                              "type": "string",
                              "description": "name",
                              "example": "Big Data"
                            },
                            "parent": {
                              "type": "string",
                              "description": "parent",
                              "example": "Technology"
                            },
                            "category": {
                              "type": "string",
                              "description": "category",
                              "example": "Technology"
                            }
                          }
                        },
                        "example": [
                          {
                            "id": "594773057733a4fa1b0b7611",
                            "name": "Big Data",
                            "parent": "Technology",
                            "category": "Technology"
                          },
                          {
                            "id": "5c77dd2a05529c17007ff0f8",
                            "name": "Hardware",
                            "parent": "Technology",
                            "category": "Technology"
                          },
                          {
                            "id": "632d81ac8e4ea600136e6873",
                            "name": "NFT",
                            "parent": "web3",
                            "category": "Technology"
                          }
                        ]
                      },
                      "labels": {
                        "type": "array",
                        "description": "labels",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id",
                              "example": "security"
                            },
                            "name": {
                              "type": "string",
                              "description": "name",
                              "example": "IT validation "
                            }
                          }
                        },
                        "example": [
                          {
                            "id": "security",
                            "name": "IT validation "
                          }
                        ]
                      },
                      "sources": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "5e6fcc67820e9c012f765178"
                            },
                            "name": {
                              "type": "string",
                              "example": "Frankfurt Messe 2019"
                            },
                            "categoryId": {
                              "type": "string",
                              "example": "5d6eb0bf1deac101b541aa75"
                            },
                            "category": {
                              "type": "string",
                              "example": "Event"
                            }
                          }
                        },
                        "example": [
                          {
                            "id": "5e6fcc67820e9c012f765178",
                            "name": "Frankfurt Messe 2019",
                            "categoryId": "5d6eb0bf1deac101b541aa75",
                            "category": "Event"
                          }
                        ]
                      },
                      "workflows": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "current_status": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "example": "5f7b50dc7b8792030dd93a1b"
                                },
                                "name": {
                                  "type": "string",
                                  "example": "Identification"
                                },
                                "date": {
                                  "type": "string",
                                  "example": "2023-06-15T14:46:46.000Z"
                                }
                              }
                            },
                            "current_state": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "example": "in_progress"
                                },
                                "name": {
                                  "type": "string",
                                  "example": "In progress"
                                },
                                "date": {
                                  "type": "string",
                                  "example": "2023-06-15T14:47:09.319Z"
                                }
                              }
                            },
                            "states": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "example": "in_progress"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "In progress"
                                  },
                                  "date": {
                                    "type": "string",
                                    "example": "2023-06-15T14:47:09.319Z"
                                  }
                                }
                              },
                              "example": [
                                {
                                  "id": "in_progress",
                                  "name": "In progress",
                                  "date": "2023-06-15T14:47:09.319Z"
                                }
                              ]
                            },
                            "status": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "example": "5f7b50dc7b8792030dd93a1b"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Identification"
                                  },
                                  "date": {
                                    "type": "string",
                                    "example": "2023-06-15T14:46:46.000Z"
                                  }
                                }
                              },
                              "example": [
                                {
                                  "id": "5f7b50dc7b8792030dd93a1b",
                                  "name": "Identification",
                                  "date": "2023-06-15T14:46:46.000Z"
                                }
                              ]
                            },
                            "groups": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "Administrators"
                              },
                              "example": [
                                "Administrators",
                                "IT department"
                              ]
                            }
                          }
                        }
                      }
                    }
                  },
                  "description": "results"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Items"
        ],
        "consumes": [
          "application/json"
        ],
        "summary": "Create Item",
        "description": "Create an item object.\n\n**CAUTION soft UPSERT behavior**: If the item exists (matching existing item with exact name or exact website), it will update empty field of existing item with data.\n\n### Scope\nTo use this endpoint ApiKey object must have this scope:\n**public:items:*** (all typologies) or **public:items:startup,events,typology_id** (specific typologies)\n**Note**\nYou can add the http verb \"get\" in front of the scope to limit access to readonly endpoints.\n**get@public:item:***",
        "operationId": "PublicAPI-addItem",
        "parameters": [
          {
            "$ref": "#/parameters/bloomflow_api_url_parameter"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "typologyId": {
                  "type": "string",
                  "description": "typologyId"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "website": {
                  "type": "string",
                  "description": "website"
                },
                "logo_url": {
                  "type": "string",
                  "description": "logo_url"
                },
                "short_description": {
                  "type": "string",
                  "description": "short_description"
                },
                "full_description": {
                  "type": "string",
                  "description": "full_description"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "tags"
                },
                "creation_date": {
                  "type": "string",
                  "description": "creation_date"
                },
                "nb_employees": {
                  "type": "string",
                  "description": "nb_employees"
                },
                "fundraising_stage": {
                  "type": "string",
                  "description": "fundraising_stage"
                },
                "hq_address": {
                  "type": "string",
                  "description": "hq_address"
                },
                "contacts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "type": "string",
                        "description": "first_name"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "last_name"
                      },
                      "linkedin": {
                        "type": "string",
                        "description": "linkedin"
                      },
                      "email_address": {
                        "type": "string",
                        "description": "email_address"
                      },
                      "phone_number": {
                        "type": "string",
                        "description": "phone_number"
                      },
                      "position": {
                        "type": "string",
                        "description": "position"
                      }
                    }
                  },
                  "description": "contacts"
                },
                "links": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "links"
                },
                "geographic_markets": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "geographic_markets"
                },
                "total_funding_usd": {
                  "type": "string",
                  "description": "total_funding_usd"
                },
                "owner_email": {
                  "type": "string",
                  "description": "owner_email"
                },
                "custom_fields": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "field_id": {
                        "type": "string",
                        "description": "field_id"
                      },
                      "value": {
                        "type": "string",
                        "description": "value"
                      }
                    }
                  },
                  "description": "custom_fields"
                }
              },
              "default": {
                "typologyId": "startup",
                "name": "Microsoft",
                "website": "http://www.microsoft.com",
                "logo_url": "https://assets.startupflow.io/documents/sflow.png",
                "short_description": "Microsoft is a software corporation that develops, manufactures, licenses, supports, and sells a range of software products and services.",
                "full_description": "Microsoft is an American multinational corporation that develops, manufactures, licenses, supports, and sells a range of software products and services.",
                "tags": [
                  "saas",
                  "data",
                  "api"
                ],
                "creation_date": "1975",
                "nb_employees": "200 +",
                "fundraising_stage": "ipo",
                "hq_address": "98052 Redmond",
                "contacts": [
                  {
                    "first_name": "Satya",
                    "last_name": "Nadella",
                    "linkedin": "https://www.linkedin.com/in/satyanadella",
                    "email_address": "satya.nadella@hotmail.com",
                    "phone_number": "+1-202-555-0130",
                    "position": "Chairman & CEO"
                  }
                ],
                "links": [
                  "https://www.welcometothejungle.co/fr/companies/microsoft"
                ],
                "geographic_markets": [
                  "France",
                  "US",
                  "GB"
                ],
                "total_funding_usd": "1000000",
                "owner_email": "ted.hoover@allicata.com",
                "custom_fields": [
                  {
                    "field_id": "sourcing_partner_field",
                    "value": "Custom field value"
                  }
                ]
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "action": {
                  "type": "string",
                  "description": "action"
                },
                "created_at": {
                  "type": "string",
                  "description": "created_at"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/items/{id}": {
      "get": {
        "summary": "Get item by ID",
        "description": "Retrieve a specific item by id.\n\n###### Scope\nTo use this endpoint ApiKey object must have those scopes:\n**public:items**\n**public:items:\\*** (all typologies) or **public:items:startup,events,typology_id** (specific typologies)\n**Note**\nYou can add the http verb \"get\" in front of the scope to limit access to readonly endpoints.\n**get@public:item**",
        "operationId": "PublicAPI-getItem",
        "parameters": [
          {
            "$ref": "#/parameters/bloomflow_api_url_parameter"
          },
          {
            "name": "id",
            "default": "62d943ee03b2e60013022971",
            "x-ms-summary": "Id", 
            "x-ms-url-encoding": "single",           
            "description": "Id of the object",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "short_description": {
                  "type": "string",
                  "description": "short_description"
                },
                "full_description": {
                  "type": "string",
                  "description": "full_description"
                },
                "website": {
                  "type": "string",
                  "description": "website"
                },
                "startupflow_url": {
                  "type": "string",
                  "description": "startupflow_url"
                },
                "logo_url": {
                  "type": "string",
                  "description": "logo_url"
                },
                "year_founded": {
                  "type": "string",
                  "description": "year_founded"
                },
                "nb_employees": {
                  "type": "string",
                  "description": "nb_employees"
                },
                "maturity": {
                  "type": "string",
                  "description": "maturity"
                },
                "hq": {
                  "type": "object",
                  "properties": {
                    "hq_city": {
                      "type": "string",
                      "description": "hq_city"
                    },
                    "hq_address": {
                      "type": "string",
                      "description": "hq_address"
                    },
                    "hq_country_id": {
                      "type": "string",
                      "description": "hq_country_id"
                    },
                    "hq_country_label": {
                      "type": "string",
                      "description": "hq_country_label"
                    }
                  },
                  "description": "hq"
                },
                "typologyId": {
                  "type": "string",
                  "description": "typologyId"
                },
                "typology_id": {
                  "type": "string",
                  "description": "typology_id"
                },
                "folder_id": {
                  "type": "string",
                  "description": "folder_id"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "parent": {
                        "type": "string",
                        "description": "parent"
                      },
                      "category": {
                        "type": "string",
                        "description": "category"
                      }
                    }
                  },
                  "description": "tags"
                },
                "labels": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    }
                  },
                  "description": "labels"
                },
                "business_model": {
                  "type": "string",
                  "description": "business_model"
                },
                "painpoints": {
                  "type": "string",
                  "description": "painpoints"
                },
                "business_opportunity": {
                  "type": "string",
                  "description": "business_opportunity"
                },
                "sustainability": {
                  "type": "string",
                  "description": "sustainability"
                },
                "success_proofs": {
                  "type": "string",
                  "description": "success_proofs"
                },
                "risks": {
                  "type": "string",
                  "description": "risks"
                },
                "key_differentiators": {
                  "type": "string",
                  "description": "key_differentiators"
                },
                "competitors": {
                  "type": "string",
                  "description": "competitors"
                },
                "market_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "market_ids"
                },
                "scoring_value": {
                  "type": "integer",
                  "format": "int32",
                  "description": "scoring_value"
                },
                "scoring_summary": {
                  "type": "string",
                  "description": "scoring_summary"
                },
                "scoring_detail": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "object",
                      "properties": {
                        "score": {
                          "type": "integer",
                          "format": "int32",
                          "description": "score"
                        },
                        "comment": {
                          "type": "string",
                          "description": "comment"
                        }
                      },
                      "description": "value"
                    },
                    "speed": {
                      "type": "object",
                      "properties": {
                        "score": {
                          "type": "integer",
                          "format": "int32",
                          "description": "score"
                        },
                        "comment": {
                          "type": "string",
                          "description": "comment"
                        }
                      },
                      "description": "speed"
                    },
                    "technology": {
                      "type": "object",
                      "properties": {
                        "score": {
                          "type": "integer",
                          "format": "int32",
                          "description": "score"
                        },
                        "comment": {
                          "type": "string",
                          "description": "comment"
                        }
                      },
                      "description": "technology"
                    },
                    "financial": {
                      "type": "object",
                      "properties": {
                        "score": {
                          "type": "integer",
                          "format": "int32",
                          "description": "score"
                        },
                        "comment": {
                          "type": "string",
                          "description": "comment"
                        }
                      },
                      "description": "financial"
                    },
                    "team": {
                      "type": "object",
                      "properties": {
                        "score": {
                          "type": "integer",
                          "format": "int32",
                          "description": "score"
                        },
                        "comment": {
                          "type": "string",
                          "description": "comment"
                        }
                      },
                      "description": "team"
                    }
                  },
                  "description": "scoring_detail"
                },
                "current_status": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "date": {
                      "type": "string",
                      "description": "date"
                    }
                  },
                  "description": "current_status"
                },
                "current_state": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "date": {
                      "type": "string",
                      "description": "date"
                    }
                  },
                  "description": "current_state"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "linkedin_url": {
                      "type": "string",
                      "description": "linkedin_url"
                    }
                  },
                  "description": "links"
                },
                "press_urls": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "press_urls"
                },
                "internal_contacts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "email": {
                        "type": "string",
                        "description": "email"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "created_at"
                      },
                      "last_connexion_at": {
                        "type": "string",
                        "description": "last_connexion_at"
                      }
                    }
                  },
                  "description": "internal_contacts"
                },
                "related_items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    }
                  },
                  "description": "related_items"
                },
                "custom_fields": {
                  "type": "object",
                  "properties": {
                    "sourcing_partner_field": {
                      "type": "string",
                      "description": "sourcing_partner_field"
                    }
                  },
                  "description": "custom_fields"
                },
                "statuses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "date": {
                        "type": "string",
                        "description": "date"
                      }
                    }
                  },
                  "description": "statuses"
                },
                "states": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "date": {
                        "type": "string",
                        "description": "date"
                      }
                    }
                  },
                  "description": "states"
                },
                "fundings": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "investors": {
                        "type": "string",
                        "description": "investors"
                      },
                      "year": {
                        "type": "string",
                        "description": "year"
                      },
                      "amount": {
                        "type": "string",
                        "description": "amount"
                      },
                      "currency_code": {
                        "type": "string",
                        "description": "currency_code"
                      },
                      "transaction": {
                        "type": "string",
                        "description": "transaction"
                      }
                    }
                  },
                  "description": "fundings"
                },
                "created_at": {
                  "type": "string",
                  "description": "created_at"
                },
                "updated_at": {
                  "type": "string",
                  "description": "updated_at"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update Item",
        "description": "Update an item object.\n\n**CAUTION**:\n\n- Will replace all fields of the item with the data provided.\n- Data provided should provide all required fields.\n    \n\n###### Scope\n\nTo use this endpoint ApiKey object must have those scopes:  \n**public:items**  \n**public:items:**\\* (all typologies) or **public:items:startup,events,typology_id** (specific typologies)  \n**Note**  \nYou can add the http verb \"get\" in front of the scope to limit access to readonly endpoints.  \n**get@public:item**",
        "operationId": "PublicAPI-updateItem",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/bloomflow_api_url_parameter"
          },
          {
            "name": "id",
            "default": "62d943ee03b2e60013022971",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Id",            
            "description": "Id of the object",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "typologyId": {
                  "type": "string",
                  "description": "typologyId"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "website": {
                  "type": "string",
                  "description": "website"
                },
                "logo_url": {
                  "type": "string",
                  "description": "logo_url"
                },
                "short_description": {
                  "type": "string",
                  "description": "short_description"
                },
                "full_description": {
                  "type": "string",
                  "description": "full_description"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "tags"
                },
                "creation_date": {
                  "type": "string",
                  "description": "creation_date"
                },
                "nb_employees": {
                  "type": "string",
                  "description": "nb_employees"
                },
                "fundraising_stage": {
                  "type": "string",
                  "description": "fundraising_stage"
                },
                "hq_address": {
                  "type": "string",
                  "description": "hq_address"
                },
                "contacts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "type": "string",
                        "description": "first_name"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "last_name"
                      },
                      "linkedin": {
                        "type": "string",
                        "description": "linkedin"
                      },
                      "email_address": {
                        "type": "string",
                        "description": "email_address"
                      },
                      "phone_number": {
                        "type": "string",
                        "description": "phone_number"
                      },
                      "position": {
                        "type": "string",
                        "description": "position"
                      }
                    }
                  },
                  "description": "contacts"
                },
                "links": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "links"
                },
                "geographic_markets": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "geographic_markets"
                },
                "total_funding_usd": {
                  "type": "string",
                  "description": "total_funding_usd"
                },
                "owner_email": {
                  "type": "string",
                  "description": "owner_email"
                },
                "custom_fields": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "field_id": {
                        "type": "string",
                        "description": "field_id"
                      },
                      "value": {
                        "type": "string",
                        "description": "value"
                      }
                    }
                  },
                  "description": "custom_fields"
                }
              },
              "default": {
                "typologyId": "startup",
                "name": "Microsoft",
                "website": "http://www.microsoft.com",
                "logo_url": "https://assets.startupflow.io/documents/sflow.png",
                "short_description": "Microsoft is a software corporation that develops, manufactures, licenses, supports, and sells a range of software products and services.",
                "full_description": "Microsoft is an American multinational corporation that develops, manufactures, licenses, supports, and sells a range of software products and services.",
                "tags": [
                  "saas",
                  "data",
                  "api"
                ],
                "creation_date": "1975",
                "nb_employees": "200 +",
                "fundraising_stage": "ipo",
                "hq_address": "98052 Redmond",
                "contacts": [
                  {
                    "first_name": "Satya",
                    "last_name": "Nadella",
                    "linkedin": "https://www.linkedin.com/in/satyanadella",
                    "email_address": "satya.nadella@hotmail.com",
                    "phone_number": "+1-202-555-0130",
                    "position": "Chairman & CEO"
                  }
                ],
                "links": [
                  "https://www.welcometothejungle.co/fr/companies/microsoft"
                ],
                "geographic_markets": [
                  "France",
                  "US",
                  "GB"
                ],
                "total_funding_usd": "1000000",
                "owner_email": "ted.hoover@allicata.com",
                "custom_fields": [
                  {
                    "field_id": "sourcing_partner_field",
                    "value": "Custom field value"
                  }
                ]
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "short_description": {
                  "type": "string",
                  "description": "short_description"
                },
                "full_description": {
                  "type": "string",
                  "description": "full_description"
                },
                "website": {
                  "type": "string",
                  "description": "website"
                },
                "startupflow_url": {
                  "type": "string",
                  "description": "startupflow_url"
                },
                "logo_url": {
                  "type": "string",
                  "description": "logo_url"
                },
                "year_founded": {
                  "type": "string",
                  "description": "year_founded"
                },
                "nb_employees": {
                  "type": "string",
                  "description": "nb_employees"
                },
                "maturity": {
                  "type": "string",
                  "description": "maturity"
                },
                "hq": {
                  "type": "object",
                  "properties": {},
                  "description": "hq"
                },
                "typologyId": {
                  "type": "string",
                  "description": "typologyId"
                },
                "typology_id": {
                  "type": "string",
                  "description": "typology_id"
                },
                "folder_id": {
                  "type": "string",
                  "description": "folder_id"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "parent": {
                        "type": "string",
                        "description": "parent"
                      },
                      "category": {
                        "type": "string",
                        "description": "category"
                      }
                    }
                  },
                  "description": "tags"
                },
                "labels": {
                  "type": "array",
                  "items": {},
                  "description": "labels"
                },
                "market_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "market_ids"
                },
                "current_status": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "date": {
                      "type": "string",
                      "description": "date"
                    }
                  },
                  "description": "current_status"
                },
                "current_state": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "date": {
                      "type": "string",
                      "description": "date"
                    }
                  },
                  "description": "current_state"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "links"
                },
                "press_urls": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "press_urls"
                },
                "internal_contacts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "email": {
                        "type": "string",
                        "description": "email"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "created_at"
                      },
                      "last_connexion_at": {
                        "type": "string",
                        "description": "last_connexion_at"
                      }
                    }
                  },
                  "description": "internal_contacts"
                },
                "related_items": {
                  "type": "array",
                  "items": {},
                  "description": "related_items"
                },
                "custom_fields": {
                  "type": "object",
                  "properties": {
                    "sourcing_partner_field": {
                      "type": "string",
                      "description": "sourcing_partner_field"
                    }
                  },
                  "description": "custom_fields"
                },
                "statuses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "date": {
                        "type": "string",
                        "description": "date"
                      }
                    }
                  },
                  "description": "statuses"
                },
                "states": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "date": {
                        "type": "string",
                        "description": "date"
                      }
                    }
                  },
                  "description": "states"
                },
                "fundings": {
                  "type": "array",
                  "items": {},
                  "description": "fundings"
                },
                "created_at": {
                  "type": "string",
                  "description": "created_at"
                },
                "updated_at": {
                  "type": "string",
                  "description": "updated_at"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/items/{id}/documents": {
      "get": {
        "summary": "List Documents",
        "description": "List all documents linked to an item.\n\n###### Scope\nTo use this endpoint ApiKey object must have those scopes:\n**public:items**\n**public:items:\\*** (all typologies) or **public:items:startup,events,typology_id** (specific typologies)\n**Note**\nYou can add the http verb \"get\" in front of the scope to limit access to readonly endpoints.\n**get@public:item**",
        "operationId": "PublicAPI-getItemDocuments",
        "parameters": [
          {
            "$ref": "#/parameters/bloomflow_api_url_parameter"
          },
          {
            "name": "id",
            "default": "62d943ee03b2e60013022971",
            "x-ms-summary": "Id", 
            "x-ms-url-encoding": "single",           
            "description": "Id of the object",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "url": {
                    "type": "string",
                    "description": "url"
                  },
                  "type": {
                    "type": "string",
                    "description": "type"
                  },
                  "size": {
                    "type": "integer",
                    "format": "int32",
                    "description": "size"
                  },
                  "pinned": {
                    "type": "boolean",
                    "description": "pinned"
                  },
                  "isExternal": {
                    "type": "boolean",
                    "description": "isExternal"
                  },
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "created_by": {
                    "type": "string",
                    "description": "created_by"
                  },
                  "companyId": {
                    "type": "string",
                    "description": "companyId"
                  },
                  "updated_by": {
                    "type": "string",
                    "description": "updated_by"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "created_at"
                  },
                  "updated_at": {
                    "type": "string",
                    "description": "updated_at"
                  },
                  "format": {
                    "type": "string",
                    "description": "format"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Document",
        "description": "Add a document to an item.\n\n###### Scope\nTo use this endpoint ApiKey object must have those scopes:\n**public:items**\n**public:items:\\*** (all typologies) or **public:items:startup,events,typology_id** (specific typologies)\n**Note**\nYou can add the http verb \"get\" in front of the scope to limit access to readonly endpoints.\n**get@public:item**",
        "operationId": "PublicAPI-addItemDocument",
        "consumes": [
          "multipart/form-data",
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/bloomflow_api_url_parameter"
          },
          {
            "name": "id",
            "default": "62d943ee03b2e60013022971",
            "x-ms-summary": "Id",          
            "x-ms-url-encoding": "single",  
            "description": "Id of the object",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "image",
            "default": "true",
            "x-ms-summary": "Image",            
            "description": "Boolean to say if the document provided is an image",
            "in": "formData",
            "type": "boolean",
            "required": true
          },
          {
            "name": "file",
            "x-ms-summary": "File",            
            "description": "File to upload",
            "in": "formData",
            "type": "file",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/public/items/{id}/notes": {
      "get": {
        "summary": "List Notes",
        "description": "List all notes linked to an item.\n\n###### Scope\nTo use this endpoint ApiKey object must have those scopes:\n**public:items**\n**public:items:\\*** (all typologies) or **public:items:startup,events,typology_id** (specific typologies)\n**Note**\nYou can add the http verb \"get\" in front of the scope to limit access to readonly endpoints.\n**get@public:item**",
        "operationId": "PublicAPI-getItemNotes",
        "parameters": [
          {
            "$ref": "#/parameters/bloomflow_api_url_parameter"
          },
          {
            "name": "id",
            "default": "635a707a22dec40013284294",
            "x-ms-summary": "Id",   
            "x-ms-url-encoding": "single",         
            "description": "Id of the object",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "description": "date"
                  },
                  "text": {
                    "type": "string",
                    "description": "text"
                  },
                  "confidential": {
                    "type": "boolean",
                    "description": "confidential"
                  },
                  "userMentions": {
                    "type": "array",
                    "items": {},
                    "description": "userMentions"
                  },
                  "isAutomatic": {
                    "type": "boolean",
                    "description": "isAutomatic"
                  },
                  "typologyId": {
                    "type": "string",
                    "description": "typologyId"
                  },
                  "parentTypologyId": {
                    "type": "string",
                    "description": "parentTypologyId"
                  },
                  "companyId": {
                    "type": "string",
                    "description": "companyId"
                  },
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "created_by": {
                    "type": "string",
                    "description": "created_by"
                  },
                  "updated_by": {
                    "type": "string",
                    "description": "updated_by"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "created_at"
                  },
                  "updated_at": {
                    "type": "string",
                    "description": "updated_at"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Note",
        "description": "Create a note linked to an item.\n\n###### Scope\nTo use this endpoint ApiKey object must have those scopes:\n**public:items**\n**public:items:\\*** (all typologies) or **public:items:startup,events,typology_id** (specific typologies)\n**Note**\nYou can add the http verb \"get\" in front of the scope to limit access to readonly endpoints.\n**get@public:item**",
        "operationId": "PublicAPI-addItemNote",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/bloomflow_api_url_parameter"
          },
          {
            "name": "id",
            "default": "62d943ee03b2e60013022971",
            "x-ms-summary": "Id",  
            "x-ms-url-encoding": "single",                   
            "description": "Id of the object",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "text": {
                  "type": "string",
                  "description": "text"
                },
                "date": {
                  "type": "string",
                  "description": "date"
                }
              },
              "default": {
                "name": "My note",
                "text": "Lorem Ipsum Dolor sit amet",
                "date": "2022-07-18T00:00:00.000Z"
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "description": "date"
                },
                "text": {
                  "type": "string",
                  "description": "text"
                },
                "confidential": {
                  "type": "boolean",
                  "description": "confidential"
                },
                "userMentions": {
                  "type": "array",
                  "items": {},
                  "description": "userMentions"
                },
                "isAutomatic": {
                  "type": "boolean",
                  "description": "isAutomatic"
                },
                "typologyId": {
                  "type": "string",
                  "description": "typologyId"
                },
                "parentTypologyId": {
                  "type": "string",
                  "description": "parentTypologyId"
                },
                "companyId": {
                  "type": "string",
                  "description": "companyId"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "created_by": {
                  "type": "string",
                  "description": "created_by"
                },
                "updated_by": {
                  "type": "string",
                  "description": "updated_by"
                },
                "created_at": {
                  "type": "string",
                  "description": "created_at"
                },
                "updated_at": {
                  "type": "string",
                  "description": "updated_at"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                }
              }
            }
          }
        }
      }
    },
    "/public/application-forms/{applicationFormId}": {
      "post": {
        "tags": [
          "ApplicationForms"
        ],
        "summary": "Create Application",
        "consumes": [
          "application/json"
        ],
        "description": "Create a new application for the given ApplicationForm. Application will be available in the ATS (Application portal).\nCheck the reference data endpoint to get the list of all fields and value available.\n\n**Note**: The first contact object in the contacts array will be the main contact, he will receive contact emails.\nYou can setup the language of email by setting the **activeLang** attribute of the contact object with the value FR or EN.\n\n### Scope\nTo use this endpoint ApiKey object must have this scope:\n**public:applications**",
        "operationId": "PublicAPI-createApplication",
        "parameters": [
          {
            "name": "applicationFormId",
            "in": "path",
            "x-ms-summary": "Application Form Id",
            "x-ms-url-encoding": "single",         
            "description": "[required] ApplicationForm id",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "logo": {
                  "type": "string",
                  "example": "https://assets.bloomflow.com/documents/bflow.png"
                },
                "name": {
                  "type": "string",
                  "example": "bloomflow"
                },
                "website": {
                  "type": "string",
                  "example": "https://www.bloomflow.com"
                },
                "pitch": {
                  "type": "string",
                  "example": "The innovation management platform for impact-driven organizations"
                },
                "description": {
                  "type": "string",
                  "example": "We enable corporations, NGOs, public userGroups and other large organizations to innovate for a blooming future: a future where organizations use collaborative innovation to generate impact for themselves and for the world."
                },
                "year_founded": {
                  "type": "string",
                  "example": "2008"
                },
                "hq_city": {
                  "type": "string",
                  "example": "Paris"
                },
                "hq_countryId": {
                  "type": "string",
                  "example": "FR"
                },
                "nb_employees": {
                  "type": "string",
                  "example": "11-49"
                },
                "maturity": {
                  "type": "string",
                  "example": "seed"
                },
                "tagIds": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "label": {
                        "type": "string",
                        "example": "FoodTech"
                      },
                      "id": {
                        "type": "string",
                        "example": "594773057733a4fa1b0b7616"
                      }
                    }
                  }
                },
                "contacts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "firstName": {
                        "type": "string",
                        "example": "John"
                      },
                      "lastName": {
                        "type": "string",
                        "example": "Doe"
                      },
                      "email": {
                        "type": "string",
                        "example": "john.doe@bloomflow.com"
                      },
                      "job": {
                        "type": "string",
                        "example": "CEO"
                      },
                      "linkedin": {
                        "type": "string",
                        "example": "https://www.linkedin.com/123456"
                      },
                      "phone": {
                        "type": "string",
                        "example": "0123456789"
                      },
                      "username": {
                        "type": "string",
                        "example": "John Doe"
                      },
                      "activeLang": {
                        "type": "string",
                        "example": "EN"
                      }
                    }
                  }
                },
                "documents": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                  }
                },
                "video_urls": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "https://www.youtube.com/watch?v=aqz-KE-bpKQ"
                  }
                },
                "press": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "https://lepetitjournal.com/vivre-madrid/entreprise/french-tech-days-iberia-meilleures-startups-francaises-rencontre-madrid-347361"
                  }
                },
                "business_model": {
                  "type": "string",
                  "example": "A monthly license for an unlimited number of users"
                },
                "marketIds": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "FR"
                  }
                },
                "competitors": {
                  "type": "string",
                  "example": "Yoomap, Hype, Braineet"
                },
                "note_collaboration": {
                  "type": "string",
                  "example": "Not yet"
                },
                "internal_contacts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "firstName": {
                        "type": "string",
                        "example": "Jane"
                      },
                      "lastName": {
                        "type": "string",
                        "example": "Doe"
                      },
                      "email": {
                        "type": "string",
                        "example": "jane.doe@your-company.com"
                      },
                      "username": {
                        "type": "string",
                        "example": "Jane Doe"
                      }
                    }
                  }
                },
                "note_service": {
                  "type": "string",
                  "example": "We think our product can make you save money and optimize your deliveries"
                },
                "note_department": {
                  "type": "string",
                  "example": "We want to work with your Innovation department"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "example": "5da97ee3d5d9fe6b42caebb1"
                },
                "status": {
                  "type": "string",
                  "example": "submitted"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "api_key_applications": []
          }
        ]
      }
    },
    "/api/public/webhooks/reference_data": {},
    "/api/public/webhooks": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "meta": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "object"
                },
                "objectId": {
                  "type": "string",
                  "description": "objectId"
                },
                "action": {
                  "type": "string",
                  "description": "action"
                },
                "createdAt": {
                  "type": "string",
                  "description": "createdAt"
                },
                "retry": {
                  "type": "integer",
                  "format": "int32",
                  "description": "retry"
                }
              },
              "description": "meta"
            }
          }
        }
      },
      "get": {
        "summary": "List Webhook subscriptions",
        "description": "Retrieve a list of webhook  object.\n\n### Scope\nTo use this endpoint ApiKey object must have this scope:\n**public:webhooks**\n    ",
        "operationId": "PublicAPI-getWebhooksItems",
        "parameters": [
          {
            "$ref": "#/parameters/bloomflow_api_url_parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "6464ff0d8624c800135ad739"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": [
                        "item.created",
                        "item.propertyChange"
                      ]
                    }
                  },
                  "webhookUrl": {
                    "type": "string",
                    "example": "https://hooks.zapier.com/hooks/catch/xxxxxx/yyyyyy/"
                  },
                  "enabled": {
                    "type": "boolean",
                    "example": true
                  },
                  "created_by": {
                    "type": "string",
                    "example": "2023-05-17T16:21:33.380+00:00"
                  },
                  "updated_by": {
                    "type": "string",
                    "example": "591aaf8292077d1e29c0b813"
                  },
                  "created_at": {
                    "type": "string",
                    "example": "2023-05-17T16:21:33.380+00:00"
                  },
                  "updated_at": {
                    "type": "string",
                    "example": "2023-05-17T16:21:33.380+00:00"
                  }
                }
              },
              "example": [
                {
                  "id": "6464ff0d8624c800135ad739",
                  "events": [
                    "item.created",
                    "item.propertyChange"
                  ],
                  "webhookUrl": "https://hooks.zapier.com/hooks/catch/xxxxxx/yyyyyy/",
                  "enabled": true,
                  "created_by": "591aaf8292077d1e29c0b813",
                  "updated_by": "591aaf8292077d1e29c0b813",
                  "created_at": "2023-05-17T16:21:33.380+00:00",
                  "updated_at": "2023-05-17T16:21:33.380+00:00"
                },
                {
                  "id": "6464ff0d8624c800135ad739",
                  "events": [
                    "item.propertyChanged",
                    "item.associationChange"
                  ],
                  "webhookUrl": "https://api.{customer}.bloomflow.com/api/public/",
                  "enabled": true,
                  "created_by": "591aaf8292077d1e29c0b813",
                  "updated_by": "591aaf8292077d1e29c0b813",
                  "created_at": "2023-06-17T08:21:33.380+00:00",
                  "updated_at": "2023-06-17T08:21:33.380+00:00"
                }
              ]
            }
          }
        },
        "x-ms-visibility": "internal"
      },
      "post": {
        "x-ms-trigger": "single",
        "summary": "Create Webhook subscription",
        "consumes": [
          "application/json"
        ],
        "description": "Create a Webhook subscription object.\n\n### Scope\nTo use this endpoint ApiKey object must have this scope:\n**public:webhooks**\n    ",
        "operationId": "PublicAPI-addWebhooksItem",
        "parameters": [
          {
            "$ref": "#/parameters/bloomflow_api_url_parameter"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "events": {
                  "type": "string",
                  "description": "event",
                  "x-ms-dynamic-values": {
                    "operationId": "PublicAPI-WebhooksPowerAutomateGetReferenceDataEvents",
                    "value-path": "id",
                    "value-title": "label",
                    "parameters": {
                      "bloomflow_api_url": {
                        "parameter": "bloomflow_api_url"
                      }
                    }
                  }
                },
                "webhookUrl": {
                  "type": "string",
                  "description": "webhookUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                },
                "enabled": {
                  "type": "boolean",
                  "description": "enabled",
                  "title": "",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "internal",
                  "default": true
                },
                "securityConfig": {
                  "type": "object",
                  "properties": {
                    "headerKey": {
                      "type": "string",
                      "description": "headerKey",
                      "title": "",
                      "x-ms-visibility": "internal"
                    },
                    "apiKey": {
                      "type": "string",
                      "description": "apiKey",
                      "title": "",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "securityConfig"
                }
              },
              "default": {
                "events": [
                  "item.created",
                  "project[id=”123456”].step[name=”poc”].reached"
                ],
                "webhookUrl": "https://api.bikini-bottom.bloomflow.com/api/public/",
                "enabled": true,
                "securityConfig": {
                  "headerKey": "x-bflow-api-key",
                  "apiKey": "123456789"
                }
              },
              "required": [
                "webhookUrl",
                "enabled"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "example": "6464ff0d8624c800135ad739"
                },
                "events": {
                  "type": "string",
                  "example": [
                    "item.created",
                    "item.propertyChange"
                  ]
                },
                "webhookUrl": {
                  "type": "string",
                  "example": "https://hooks.zapier.com/hooks/catch/xxxxxx/yyyyyy/"
                },
                "enabled": {
                  "type": "boolean",
                  "example": true
                },
                "created_by": {
                  "type": "string",
                  "example": "591aaf8292077d1e29c0b813"
                },
                "updated_by": {
                  "type": "string",
                  "example": "591aaf8292077d1e29c0b813"
                },
                "created_at": {
                  "type": "string",
                  "example": "2023-05-17T16:21:33.380+00:00"
                },
                "updated_at": {
                  "type": "string",
                  "example": "2023-05-17T16:21:33.380+00:00"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/webhooks/{id}": {
      "get": {
        "summary": "Get Webhook subscription",
        "description": "Retrieve a specific Webhook subscription object.\n\n### Scope\nTo use this endpoint ApiKey object must have this scope:\n**public:webhooks**\n    ",
        "operationId": "PublicAPI-getWebhooksItem",
        "parameters": [
          {
            "$ref": "#/parameters/bloomflow_api_url_parameter"
          },
          {
            "name": "id",
            "default": "635a707a22dec40013284294",
            "x-ms-summary": "Id",        
            "x-ms-url-encoding": "single",    
            "description": "Id of the object",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "example": "6464ff0d8624c800135ad739"
                },
                "events": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": [
                      "item.created",
                      "item.propertyChange"
                    ]
                  }
                },
                "webhookUrl": {
                  "type": "string",
                  "example": "https://hooks.zapier.com/hooks/catch/xxxxxx/yyyyyy/"
                },
                "enabled": {
                  "type": "boolean",
                  "example": true
                },
                "created_by": {
                  "type": "string",
                  "example": "2023-05-17T16:21:33.380+00:00"
                },
                "updated_by": {
[...]
