{
  "swagger": "2.0",
  "info": {
    "title": "Planful",
    "description": "Planful is the pioneer of financial performance management cloud software. The Planful platform is used by the Office of the CFO around the globe to streamline business-wide planning, budgeting, consolidations, reporting, and visual analytics.",
    "version": "1.0",
    "contact": {
        "name": "Planful",
        "url": "https://www.planful.com",
        "email": "support@planful.com"
      }
  },
  "host": "demo06.planful.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/financemodel/data/rules": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "DataLoadRuleId": {
                            "type": "integer",
                            "description": "Data rule id"
                        },
                        "Name": {
                            "type": "string",
                            "description": "Name of the data load rule"
                        },
                        "LoadItem": {
                            "type": "string",
                            "description": "Load item"
                        }
                    }
                }
            }
          }
        },
        "summary": "Get Rules",
        "description": "Get Rules",
        "operationId": "GetRules"
      }
    },
    "/financemodel/data/transferfile": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
                "type":"object",
                "properties": {
                    "DataLoadRuleId": {
                        "type": "integer",
                        "description": "Rule id"
                    },
                    "ExcecutionId": {
                        "type": "string",
                        "description": "Execution id"
                    },
                    "RunAsynchronously": {
                        "type": "boolean",
                        "description": "Does this task run asynchronously"
                    },
                    "Attempts": {
                        "type": "integer",
                        "description": "How many attempts did this take to load this file"
                    },
                    "TransferResponse": {
                        "type": "object",
                        "properties": {
                            "Success": {
                                "type": "boolean",
                                "description": "Is the file load successful"
                            },
                            "Message": {
                                "type": "string",
                                "description": "Response message"
                            }
                        }
                    }
                }
            }
          }
        },
        "summary": "File load",
        "x-ms-summary": "File load",
        "description": "File load",
        "operationId": "FileLoad",
        "parameters": [
            
          {
            "name": "DataLoadRuleName",
            "x-ms-summary": "Data load rule name",
            "description": "Data load rule name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ColumnDelimiter",
            "x-ms-summary": "Column Delimiter",
            "description": "Column delimiter",
            "in": "query",
            "required": true,
            "type": "string",
            "default": ","
          },
          {
            "in": "formData",
            "x-ms-summary": "The file",
            "name": "file",
            "type": "file",
            "description": "The file to upload."
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic-auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic-auth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.planful.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://planful.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Finance"
    }
  ]
}