{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "HubSpot Settings V2",
    "description": "HubSpot Settings allows you to retrieve information about a given HubSpot account, including the account settings, account activity, business units, and managing users.",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.hubapi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/account-info/v3/activity/login": {
      "get": {
        "summary": "Get login activity",
        "description": "Get login activity for a HubSpot account.",
        "operationId": "GetLoginActivityForAHubspotAccount",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "x-ms-summary": "After",
            "description": "The after.",
            "type": "string",
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "type": "string",
            "required": false
          },
          {
            "name": "userId",
            "in": "query",
            "x-ms-summary": "User ID",
            "description": "The user identifier.",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "loginAt": {
                        "type": "string",
                        "description": "The login at.",
                        "title": "Login At"
                      },
                      "userId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The user identifier.",
                        "title": "User ID"
                      },
                      "email": {
                        "type": "string",
                        "description": "The email address.",
                        "title": "Email"
                      },
                      "loginSucceeded": {
                        "type": "boolean",
                        "description": "Whether the login succeeded.",
                        "title": "Login Succeeded"
                      },
                      "ipAddress": {
                        "type": "string",
                        "description": "The IP address.",
                        "title": "IP Address"
                      },
                      "location": {
                        "type": "string",
                        "description": "The location.",
                        "title": "Location"
                      },
                      "userAgent": {
                        "type": "string",
                        "description": "The user agent.",
                        "title": "User Agent"
                      },
                      "countryCode": {
                        "type": "string",
                        "description": "The country code.",
                        "title": "Country Code"
                      },
                      "regionCode": {
                        "type": "string",
                        "description": "The region code.",
                        "title": "Region Code"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in string.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "GetLoginActivityForAHubspotAccount",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/account-info/v3/activity/security": {
      "get": {
        "summary": "Get security activity",
        "description": "Get security activity for a HubSpot account",
        "operationId": "GetSecurityActivityForAHubspotAccount",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "x-ms-summary": "After",
            "description": "The after.",
            "type": "string",
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "type": "string",
            "required": false
          },
          {
            "name": "userId",
            "in": "query",
            "x-ms-summary": "User ID",
            "description": "The user identifier.",
            "type": "string",
            "required": false
          },
          {
            "name": "fromTimestamp",
            "in": "query",
            "x-ms-summary": "From",
            "description": "The from timestamp.",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "userId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The user identifier.",
                        "title": "User ID"
                      },
                      "actingUser": {
                        "type": "string",
                        "description": "The acting user.",
                        "title": "Acting User"
                      },
                      "objectId": {
                        "type": "string",
                        "description": "The object identifier.",
                        "title": "Object ID"
                      },
                      "infoUrl": {
                        "type": "string",
                        "description": "The info URL address.",
                        "title": "Info URL"
                      },
                      "location": {
                        "type": "string",
                        "description": "The location.",
                        "title": "Location"
                      },
                      "ipAddress": {
                        "type": "string",
                        "description": "The IP address.",
                        "title": "IP Address"
                      },
                      "countryCode": {
                        "type": "string",
                        "description": "The country code.",
                        "title": "Country Code"
                      },
                      "regionCode": {
                        "type": "string",
                        "description": "The region code.",
                        "title": "Region Code"
                      }
                    }
                  },
                  "title": "Results"
                },
                "paging": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "object",
                      "properties": {
                        "after": {
                          "type": "string",
                          "description": "The after.",
                          "title": "After"
                        },
                        "link": {
                          "type": "string",
                          "description": "The link.",
                          "title": "Link"
                        }
                      },
                      "title": "Next"
                    }
                  },
                  "title": "Paging"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in string.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "GetSecurityActivityForAHubspotAccount",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/account-info/v3/api-usage/daily": {
      "get": {
        "summary": "Get API usage",
        "description": "Get the daily API usage and limits for a HubSpot account.",
        "operationId": "GetTheDailyApiUsageAndLimitsForAHubspotAccount",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "collectedAt": {
                        "type": "string",
                        "description": "When collected at.",
                        "title": "Collected At"
                      },
                      "currentUsage": {
                        "type": "string",
                        "description": "The current usage.",
                        "title": "Current Usage"
                      },
                      "fetchStatus": {
                        "type": "string",
                        "description": "The fetch status.",
                        "title": "Fetch Status"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "usageLimit": {
                        "type": "string",
                        "description": "The usage limit.",
                        "title": "Usage Limit"
                      },
                      "resetsAt": {
                        "type": "string",
                        "description": "When resets at.",
                        "title": "Resets At"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in string.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "GetTheDailyApiUsageAndLimitsForAHubspotAccount",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/account-info/v3/details": {
      "get": {
        "summary": "Get account details",
        "description": "Get account details for a HubSpot account.",
        "operationId": "GetAccountDetailsForAHubspotAccount",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "accountType": {
                  "type": "string",
                  "description": "The account type.",
                  "title": "Account Type"
                },
                "additionalCurrencies": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The additional currencies.",
                  "title": "Additional Currencies"
                },
                "companyCurrency": {
                  "type": "string",
                  "description": "The company currency.",
                  "title": "Company Currency"
                },
                "dataHostingLocation": {
                  "type": "string",
                  "description": "The data hosting location.",
                  "title": "Data Hosting Location"
                },
                "portalId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The portal identifier.",
                  "title": "Portal ID"
                },
                "timeZone": {
                  "type": "string",
                  "description": "The timezone.",
                  "title": "Timezone"
                },
                "uiDomain": {
                  "type": "string",
                  "description": "The UI domain.",
                  "title": "UI Domain"
                },
                "utcOffset": {
                  "type": "string",
                  "description": "The UTC offset.",
                  "title": "UTC Offset"
                },
                "utcOffsetMilliseconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The UTC offset in milliseconds.",
                  "title": "UTC Offset Milliseconds"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in string.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "GetAccountDetailsForAHubspotAccount.",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/business-units/v3/business-units/user/{userId}": {
      "get": {
        "summary": "Get business units for a user",
        "description": "Get business Units identified by `userId`. The `userId` refers to the user's ID.",
        "operationId": "GetBusinessUnitsForAUser",
        "parameters": [
          {
            "name": "properties",
            "in": "query",
            "x-ms-summary": "Properties",
            "description": "The properties.",
            "type": "string",
            "required": false
          },
          {
            "name": "name",
            "in": "query",
            "x-ms-summary": "Name",
            "description": "The name.",
            "type": "string",
            "required": false
          },
          {
            "name": "userId",
            "in": "path",
            "x-ms-summary": "User ID",
            "x-ms-url-encoding": "single",
            "description": "The user identifier.",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "logoMetadata": {
                        "type": "object",
                        "properties": {
                          "logoUrl": {
                            "type": "string",
                            "description": "The logo URL address.",
                            "title": "Logo URL"
                          },
                          "logoAltText": {
                            "type": "string",
                            "description": "The logo alt text.",
                            "title": "Logo Alt Text"
                          },
                          "resizedUrl": {
                            "type": "string",
                            "description": "The resized URL address.",
                            "title": "Resized URL"
                          }
                        },
                        "title": "Logo Metadata"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in string.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "GetBusinessUnitsForAUser",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/settings/v3/users/teams": {
      "get": {
        "summary": "Get account teams",
        "description": "Retrieve the details for the teams of this account.",
        "operationId": "SeeDetailsAboutThisAccountsTeams",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "secondaryUserIds": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "description": "The secondary user identifiers.",
                        "title": "Secondary User IDs"
                      },
                      "userIds": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "description": "The user identifiers.",
                        "title": "User IDs"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category.",
                        "title": "Sub Category"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in string.",
                        "title": "In"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "SeeDetailsAboutThisAccountsTeams",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/settings/v3/users/roles": {
      "get": {
        "summary": "Get account roles",
        "description": "Retrieves the roles on an account.",
        "operationId": "RetrievesTheRolesOnAnAccount",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "requiresBillingWrite": {
                        "type": "boolean",
                        "description": "Whether requires billing write.",
                        "title": "Requires Billing Write"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category.",
                        "title": "Sub Category"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in string.",
                        "title": "In"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "RetrievesTheRolesOnAnAccount",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/settings/v3/users/": {
      "get": {
        "summary": "Get users",
        "description": "Retrieves a list of users from an account.",
        "operationId": "RetrievesAListOfUsersFromAnAccount",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "type": "string",
            "required": false
          },
          {
            "name": "after",
            "in": "query",
            "x-ms-summary": "After",
            "description": "The after.",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "The email address.",
                        "title": "Email"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "primaryTeamId": {
                        "type": "string",
                        "description": "The primary team identifier.",
                        "title": "Primary Team ID"
                      },
                      "roleIds": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The role identifiers.",
                        "title": "Role IDs"
                      },
                      "sendWelcomeEmail": {
                        "type": "boolean",
                        "description": "Whether send welcome email.",
                        "title": "Send Welcome Email"
                      },
                      "roleId": {
                        "type": "string",
                        "description": "The role identifier.",
                        "title": "Role ID"
                      },
                      "secondaryTeamIds": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The secondary team identifiers.",
                        "title": "Secondary Team IDs"
                      },
                      "superAdmin": {
                        "type": "boolean",
                        "description": "Whether super admin.",
                        "title": "Super Admin"
                      }
                    }
                  },
                  "title": "Results"
                },
                "paging": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "object",
                      "properties": {
                        "after": {
                          "type": "string",
                          "description": "The after.",
                          "title": "After"
                        },
                        "link": {
                          "type": "string",
                          "description": "The link.",
                          "title": "Link"
                        }
                      },
                      "title": "Next"
                    }
                  },
                  "title": "Paging"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category.",
                        "title": "Sub Category"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in string.",
                        "title": "In"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "RetrievesAListOfUsersFromAnAccount",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "post": {
        "summary": "Add user",
        "description": "Adds a new user. New users will only have minimal permissions, which is contacts-base. A welcome email will prompt them to set a password and log in to HubSpot.",
        "operationId": "AddsAUser",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "primaryTeamId": {
                  "type": "string",
                  "description": "The primary team identifier.",
                  "title": "Primary Team ID"
                },
                "sendWelcomeEmail": {
                  "type": "boolean",
                  "description": "Whether to send welcome email.",
                  "title": "Send Welcome Email"
                },
                "roleId": {
                  "type": "string",
                  "description": "The role identifier.",
                  "title": "Role ID"
                },
                "secondaryTeamIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The secondary team identifiers.",
                  "title": "Secondary Team IDs"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "primaryTeamId": {
                  "type": "string",
                  "description": "The primary team identifier.",
                  "title": "Primary Team ID"
                },
                "roleIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The role identifiers.",
                  "title": "Role IDs"
                },
                "sendWelcomeEmail": {
                  "type": "boolean",
                  "description": "Whether to send welcome email.",
                  "title": "Send Welcome Email"
                },
                "roleId": {
                  "type": "string",
                  "description": "The role identifier.",
                  "title": "Role ID"
                },
                "secondaryTeamIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The secondary team identifiers.",
                  "title": "Secondary Team IDs"
                },
                "superAdmin": {
                  "type": "boolean",
                  "description": "Whether super admin.",
                  "title": "Super Admin"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category.",
                        "title": "Sub Category"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in string.",
                        "title": "In"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "AddsAUser",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/settings/v3/users/{userId}": {
      "get": {
        "summary": "Get user",
        "description": "Retrieves a user identified by `userId`. `userId` refers to the user's ID by default, or optionally email as specified by the `IdProperty` query param.",
        "operationId": "RetrievesAUser",
        "parameters": [
          {
            "name": "idProperty",
            "in": "query",
            "x-ms-summary": "ID Property",
            "description": "The identifier property.",
            "type": "string",
            "required": false
          },
          {
            "name": "userId",
            "in": "path",
            "x-ms-summary": "User ID",
            "x-ms-url-encoding": "single",
            "description": "The user identifier.",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "primaryTeamId": {
                  "type": "string",
                  "description": "The primary team identifier.",
                  "title": "Primary Team ID"
                },
                "roleIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The role identifiers.",
                  "title": "Role IDs"
                },
                "sendWelcomeEmail": {
                  "type": "boolean",
                  "description": "Whether to send welcome email.",
                  "title": "Send Welcome Email"
                },
                "roleId": {
                  "type": "string",
                  "description": "The role identifier.",
                  "title": "Role ID"
                },
                "secondaryTeamIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The secondary team identifiers.",
                  "title": "Secondary Team IDs"
                },
                "superAdmin": {
                  "type": "boolean",
                  "description": "Whether super admin.",
                  "title": "Super Admin"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category.",
                        "title": "Sub Category"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in string.",
                        "title": "In"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "RetrievesAUser",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "delete": {
        "summary": "Remove user",
        "description": "Removes a user identified by `userId`. `userId` refers to the user's ID by default, or optionally email as specified by the `IdProperty` query param.",
        "operationId": "RemovesAUser",
        "parameters": [
          {
            "name": "idProperty",
            "in": "query",
            "x-ms-summary": "ID Property",
            "description": "The identifier property.",
            "type": "string",
            "required": false
          },
          {
            "name": "userId",
            "in": "path",
            "x-ms-summary": "User ID",
            "x-ms-url-encoding": "single",
            "description": "The user identifier.",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category.",
                        "title": "Sub Category"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in string.",
                        "title": "In"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "RemovesAUser",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      },
      "put": {
        "summary": "Modifies a user",
        "description": "Modifies a user identified by `userId`. `userId` refers to the user's ID by default, or optionally email as specified by the `IdProperty` query param.",
        "operationId": "ModifiesAUser",
        "parameters": [
          {
            "name": "idProperty",
            "in": "query",
            "x-ms-summary": "ID Property",
            "description": "The identifier property.",
            "type": "string",
            "required": false
          },
          {
            "name": "userId",
            "in": "path",
            "x-ms-summary": "User ID",
            "x-ms-url-encoding": "single",
            "description": "The user identifier.",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "primaryTeamId": {
                  "type": "string",
                  "description": "The primary team identifier.",
                  "title": "Primary Team ID"
                },
                "roleId": {
                  "type": "string",
                  "description": "The role identifier.",
                  "title": "Role ID"
                },
                "secondaryTeamIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The secondary team identifiers.",
                  "title": "Secondary Team IDs"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "primaryTeamId": {
                  "type": "string",
                  "description": "The primary team identifier.",
                  "title": "Primary Team ID"
                },
                "roleIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The role identifiers.",
                  "title": "Role IDs"
                },
                "sendWelcomeEmail": {
                  "type": "boolean",
                  "description": "Whether to send welcome email.",
                  "title": "Send Welcome Email"
                },
                "roleId": {
                  "type": "string",
                  "description": "The role identifier.",
                  "title": "Role ID"
                },
                "secondaryTeamIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The secondary team identifiers.",
                  "title": "Secondary Team IDs"
                },
                "superAdmin": {
                  "type": "boolean",
                  "description": "Whether super admin.",
                  "title": "Super Admin"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category.",
                        "title": "Sub Category"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in string.",
                        "title": "In"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "ModifiesAUser",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-openai-manifest": {
    "humanName": "HubSpot Settings",
    "modelDescription": "This is a Copilot plugin to manage settings for the HubSpot service.",
    "contactEmail": "ttaylor@hitachisolutions.com"
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.hubspot.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://legal.hubspot.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM"
    }
  ]
}