{
  "swagger": "2.0",
  "info": {
    "title": "E-Sign",
    "description": "E-Sign Anything. Anywhere. It’s easy to e-sign and send your documents on any device with our secure electronic signature system.",
    "version": "1.0",
    "contact": {
      "name": "E-Sign Support",
      "url": "https://www.e-sign.co.uk",
      "email": "support@e-sign.co.uk"
    }
  },
  "host": "api.e-sign.co.uk",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v3/pa_uploads": {
      "post": {
        "responses": {
          "200": {
            "description": "Upload file response",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "processing": {
                  "type": "boolean",
                  "description": "processing"
                },
                "type": {
                  "type": "string",
                  "description": "type"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "summary": "Upload File to E-Sign Action",
        "description": "Uploads a file to the E-Sign platform which can be used to create a document for signing",
        "operationId": "uploadFile",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "base64": {
                  "type": "string",
                  "description": "base64",
                  "title": "base64"
                },
                "extension": {
                  "type": "string",
                  "description": "extension",
                  "title": "extension",
                  "default": "pdf",
                  "x-ms-visibility": "internal"
                },
                "title": {
                  "type": "string",
                  "description": "title",
                  "title": "title"
                },
                "type": {
                  "type": "string",
                  "description": "type",
                  "title": "type",
                  "default": "document",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "base64",
                "extension",
                "title",
                "type"
              ]
            }
          }
        ]
      }
    },
    "/v3/pa_envelopes": {
      "post": {
        "responses": {
          "default": {
            "description": "Envelope response",
            "schema": {}
          }
        },
        "summary": "Create Envelope From Template",
        "description": "Create a new envelope for signing using one of your E-Sign templates.",
        "operationId": "createEnvelopeFromTemplate",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "template uuid",
                  "title": "template uuid"
                },
                "upload_file": {
                  "type": "string",
                  "description": "uploaded file id",
                  "title": "upload_file"
                }
              },
              "required": [
                "id"
              ]
            }
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.e-sign.co.uk"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.e-sign.co.uk/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Website"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://app.e-sign.co.uk/#/authorize",
      "tokenUrl": "https://api.e-sign.co.uk/v3/oauth/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": []
}