{
  "swagger": "2.0",
  "info": {
    "title": "E-Sign",
    "description": "E-Sign Anything. Anywhere. It's easy to e-sign and send your documents on any device with our secure electronic signature system.",
    "version": "5.0",
    "contact": {
      "name": "E-Sign Support",
      "url": "https://www.e-sign.co.uk",
      "email": "support@e-sign.co.uk"
    }
  },
  "host": "api.e-sign.co.uk",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v3/pa_uploads": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "subject": {
                  "type": "string",
                  "description": "subject"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "envelope_status": {
                  "type": "string",
                  "description": "envelope_status"
                },
                "href": {
                  "type": "string",
                  "description": "href"
                },
                "language": {
                  "type": "string",
                  "description": "language"
                },
                "thumbnail": {
                  "type": "string",
                  "description": "thumbnail"
                },
                "documents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "document_status": {
                        "type": "string",
                        "description": "document_status"
                      },
                      "upload_file": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "uri": {
                            "type": "string",
                            "description": "uri"
                          },
                          "file_name": {
                            "type": "string",
                            "description": "file_name"
                          },
                          "file_size": {
                            "type": "integer",
                            "format": "int32",
                            "description": "file_size"
                          },
                          "processing": {
                            "type": "boolean",
                            "description": "processing"
                          },
                          "date_created": {
                            "type": "string",
                            "description": "date_created"
                          },
                          "pages": {
                            "type": "integer",
                            "format": "int32",
                            "description": "pages"
                          },
                          "thumbnail": {
                            "type": "string",
                            "description": "thumbnail"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          },
                          "href": {
                            "type": "string",
                            "description": "href"
                          },
                          "images": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string",
                                  "description": "url"
                                },
                                "thumb_url": {
                                  "type": "string",
                                  "description": "thumb_url"
                                }
                              }
                            },
                            "description": "images"
                          }
                        },
                        "description": "upload_file"
                      },
                      "document_file": {
                        "type": "object",
                        "properties": {
                          "uri": {
                            "type": "string",
                            "description": "uri"
                          },
                          "pages": {
                            "type": "integer",
                            "format": "int32",
                            "description": "pages"
                          },
                          "signature_certificate_page": {
                            "type": "integer",
                            "format": "int32",
                            "description": "signature_certificate_page"
                          },
                          "images": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string",
                                  "description": "url"
                                },
                                "thumb_url": {
                                  "type": "string",
                                  "description": "thumb_url"
                                }
                              }
                            },
                            "description": "images"
                          }
                        },
                        "description": "document_file"
                      },
                      "attachment_files": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "uri": {
                              "type": "string",
                              "description": "uri"
                            },
                            "file_name": {
                              "type": "string",
                              "description": "file_name"
                            },
                            "file_size": {
                              "type": "integer",
                              "format": "int32",
                              "description": "file_size"
                            },
                            "processing": {
                              "type": "boolean",
                              "description": "processing"
                            },
                            "date_created": {
                              "type": "string",
                              "description": "date_created"
                            },
                            "pages": {
                              "type": "integer",
                              "format": "int32",
                              "description": "pages"
                            },
                            "thumbnail": {
                              "type": "string",
                              "description": "thumbnail"
                            },
                            "type": {
                              "type": "string",
                              "description": "type"
                            },
                            "href": {
                              "type": "string",
                              "description": "href"
                            },
                            "images": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "type": "string",
                                    "description": "url"
                                  },
                                  "thumb_url": {
                                    "type": "string",
                                    "description": "thumb_url"
                                  }
                                }
                              },
                              "description": "images"
                            }
                          }
                        },
                        "description": "attachment_files"
                      },
                      "last_interaction": {
                        "type": "string",
                        "description": "last_interaction"
                      },
                      "document_fields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "signer_email": {
                              "type": "string",
                              "description": "signer_email"
                            },
                            "signer_id": {
                              "type": "string",
                              "description": "signer_id"
                            },
                            "field_type": {
                              "type": "string",
                              "description": "field_type"
                            },
                            "field_required": {
                              "type": "boolean",
                              "description": "field_required"
                            },
                            "field_placeholder": {
                              "type": "string",
                              "description": "field_placeholder"
                            },
                            "field_amount": {
                              "type": "string",
                              "description": "field_amount"
                            },
                            "field_value": {
                              "type": "string",
                              "description": "field_value"
                            },
                            "field_dropdown_options": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "field_dropdown_options"
                            },
                            "document_position": {
                              "type": "object",
                              "properties": {
                                "x": {
                                  "type": "string",
                                  "description": "x"
                                },
                                "y": {
                                  "type": "string",
                                  "description": "y"
                                },
                                "width": {
                                  "type": "string",
                                  "description": "width"
                                },
                                "height": {
                                  "type": "string",
                                  "description": "height"
                                },
                                "size": {
                                  "type": "string",
                                  "description": "size"
                                },
                                "page": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "page"
                                }
                              },
                              "description": "document_position"
                            }
                          }
                        },
                        "description": "document_fields"
                      }
                    }
                  },
                  "description": "documents"
                },
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "email": {
                        "type": "string",
                        "description": "email"
                      },
                      "viewed": {
                        "type": "object",
                        "properties": {
                          "last": {
                            "type": "string",
                            "description": "last"
                          },
                          "amount_of_times": {
                            "type": "integer",
                            "format": "int32",
                            "description": "amount_of_times"
                          }
                        },
                        "description": "viewed"
                      },
                      "envelope_status": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "description": "status"
                          },
                          "signed_at": {
                            "type": "string",
                            "description": "signed_at"
                          },
                          "declined_at": {
                            "type": "string",
                            "description": "declined_at"
                          }
                        },
                        "description": "envelope_status"
                      },
                      "individual_document_status": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "document_id": {
                              "type": "string",
                              "description": "document_id"
                            },
                            "status": {
                              "type": "string",
                              "description": "status"
                            },
                            "signed_at": {
                              "type": "string",
                              "description": "signed_at"
                            },
                            "declined_at": {
                              "type": "string",
                              "description": "declined_at"
                            },
                            "declined_reason": {
                              "type": "string",
                              "description": "declined_reason"
                            }
                          }
                        },
                        "description": "individual_document_status"
                      },
                      "signer_details": {
                        "type": "object",
                        "properties": {
                          "authenticated_user": {
                            "type": "boolean",
                            "description": "authenticated_user"
                          },
                          "current_sequential_signer": {
                            "type": "boolean",
                            "description": "current_sequential_signer"
                          },
                          "registered_user": {
                            "type": "boolean",
                            "description": "registered_user"
                          },
                          "id_checker_document": {
                            "type": "string",
                            "description": "id_checker_document"
                          }
                        },
                        "description": "signer_details"
                      }
                    }
                  },
                  "description": "signers"
                },
                "envelope_options": {
                  "type": "object",
                  "properties": {
                    "dont_send_signing_emails": {
                      "type": "boolean",
                      "description": "dont_send_signing_emails"
                    },
                    "sign_in_sequential_order": {
                      "type": "boolean",
                      "description": "sign_in_sequential_order"
                    }
                  },
                  "description": "envelope_options"
                },
                "envelope_meta": {
                  "type": "object",
                  "properties": {
                    "last_interaction": {
                      "type": "string",
                      "description": "last_interaction"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "created_at"
                    },
                    "audit_trail": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "type"
                          },
                          "datetime": {
                            "type": "string",
                            "description": "datetime"
                          },
                          "action": {
                            "type": "string",
                            "description": "action"
                          },
                          "concern": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "name"
                              },
                              "email_address": {
                                "type": "string",
                                "description": "email_address"
                              }
                            },
                            "description": "concern"
                          },
                          "resource": {
                            "type": "object",
                            "properties": {
                              "instance": {
                                "type": "string",
                                "description": "instance"
                              },
                              "name": {
                                "type": "string",
                                "description": "name"
                              },
                              "id": {
                                "type": "string",
                                "description": "id"
                              }
                            },
                            "description": "resource"
                          }
                        }
                      },
                      "description": "audit_trail"
                    },
                    "author": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "name"
                        },
                        "email": {
                          "type": "string",
                          "description": "email"
                        }
                      },
                      "description": "author"
                    }
                  },
                  "description": "envelope_meta"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    }
                  },
                  "description": "tags"
                }
              }
            }
          }
        },
        "summary": "Upload File to E-Sign Action",
        "description": "Uploads a file to the E-Sign platform which can be used to create a document for signing",
        "operationId": "UploadFile",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "base64": {
                  "type": "string",
                  "description": "base64",
                  "title": "base64"
                },
                "extension": {
                  "type": "string",
                  "description": "extension",
                  "title": "extension",
                  "default": "pdf",
                  "x-ms-visibility": "internal"
                },
                "title": {
                  "type": "string",
                  "description": "title",
                  "title": "title"
                },
                "type": {
                  "type": "string",
                  "description": "type",
                  "title": "type",
                  "default": "document",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "base64",
                "extension",
                "title",
                "type"
              ]
            }
          }
        ]
      }
    },
    "/v3/pa_envelopes": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create Envelope From Template",
        "description": "Create a new envelope for signing using one of your E-Sign templates.",
        "operationId": "CreateEnvelopeFromTemplate",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The UUID of the template (required unless template title)",
                  "title": "template id",
                  "x-ms-visibility": "important"
                },
                "template_title": {
                  "type": "string",
                  "description": "The title of the template (required unless template ID)",
                  "title": "template title",
                  "x-ms-visibility": "important"
                },
                "upload_file": {
                  "type": "string",
                  "description": "uploaded file id",
                  "title": "upload_file",
                  "x-ms-visibility": "advanced"
                },
                "subject": {
                  "type": "string",
                  "description": "template subject overrides the saved template title",
                  "title": "subject",
                  "x-ms-visibility": "advanced"
                },
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "signers name"
                      },
                      "email": {
                        "type": "string",
                        "description": "signers email"
                      }
                    }
                  },
                  "description": "signers"
                }
              }
            }
          }
        ]
      }
    },
    "/v3/pa_send_envelope": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "subject": {
                  "type": "string",
                  "description": "subject"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "envelope_status": {
                  "type": "string",
                  "description": "envelope_status"
                },
                "href": {
                  "type": "string",
                  "description": "href"
                },
                "language": {
                  "type": "string",
                  "description": "language"
                },
                "thumbnail": {
                  "type": "string",
                  "description": "thumbnail"
                },
                "documents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "document_status": {
                        "type": "string",
                        "description": "document_status"
                      },
                      "upload_file": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "uri": {
                            "type": "string",
                            "description": "uri"
                          },
                          "file_name": {
                            "type": "string",
                            "description": "file_name"
                          },
                          "file_size": {
                            "type": "integer",
                            "format": "int32",
                            "description": "file_size"
                          },
                          "processing": {
                            "type": "boolean",
                            "description": "processing"
                          },
                          "date_created": {
                            "type": "string",
                            "description": "date_created"
                          },
                          "pages": {
                            "type": "integer",
                            "format": "int32",
                            "description": "pages"
                          },
                          "thumbnail": {
                            "type": "string",
                            "description": "thumbnail"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          },
                          "href": {
                            "type": "string",
                            "description": "href"
                          },
                          "images": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string",
                                  "description": "url"
                                },
                                "thumb_url": {
                                  "type": "string",
                                  "description": "thumb_url"
                                }
                              }
                            },
                            "description": "images"
                          }
                        },
                        "description": "upload_file"
                      },
                      "document_file": {
                        "type": "object",
                        "properties": {
                          "uri": {
                            "type": "string",
                            "description": "uri"
                          },
                          "pages": {
                            "type": "integer",
                            "format": "int32",
                            "description": "pages"
                          },
                          "signature_certificate_page": {
                            "type": "integer",
                            "format": "int32",
                            "description": "signature_certificate_page"
                          },
                          "images": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string",
                                  "description": "url"
                                },
                                "thumb_url": {
                                  "type": "string",
                                  "description": "thumb_url"
                                }
                              }
                            },
                            "description": "images"
                          }
                        },
                        "description": "document_file"
                      },
                      "attachment_files": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "uri": {
                              "type": "string",
                              "description": "uri"
                            },
                            "file_name": {
                              "type": "string",
                              "description": "file_name"
                            },
                            "file_size": {
                              "type": "integer",
                              "format": "int32",
                              "description": "file_size"
                            },
                            "processing": {
                              "type": "boolean",
                              "description": "processing"
                            },
                            "date_created": {
                              "type": "string",
                              "description": "date_created"
                            },
                            "pages": {
                              "type": "integer",
                              "format": "int32",
                              "description": "pages"
                            },
                            "thumbnail": {
                              "type": "string",
                              "description": "thumbnail"
                            },
                            "type": {
                              "type": "string",
                              "description": "type"
                            },
                            "href": {
                              "type": "string",
                              "description": "href"
                            },
                            "images": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "type": "string",
                                    "description": "url"
                                  },
                                  "thumb_url": {
                                    "type": "string",
                                    "description": "thumb_url"
                                  }
                                }
                              },
                              "description": "images"
                            }
                          }
                        },
                        "description": "attachment_files"
                      },
                      "last_interaction": {
                        "type": "string",
                        "description": "last_interaction"
                      },
                      "document_fields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "signer_email": {
                              "type": "string",
                              "description": "signer_email"
                            },
                            "signer_id": {
                              "type": "string",
                              "description": "signer_id"
                            },
                            "field_type": {
                              "type": "string",
                              "description": "field_type"
                            },
                            "field_required": {
                              "type": "boolean",
                              "description": "field_required"
                            },
                            "field_placeholder": {
                              "type": "string",
                              "description": "field_placeholder"
                            },
                            "field_amount": {
                              "type": "string",
                              "description": "field_amount"
                            },
                            "field_value": {
                              "type": "string",
                              "description": "field_value"
                            },
                            "field_dropdown_options": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "field_dropdown_options"
                            },
                            "document_position": {
                              "type": "object",
                              "properties": {
                                "x": {
                                  "type": "string",
                                  "description": "x"
                                },
                                "y": {
                                  "type": "string",
                                  "description": "y"
                                },
                                "width": {
                                  "type": "string",
                                  "description": "width"
                                },
                                "height": {
                                  "type": "string",
                                  "description": "height"
                                },
                                "size": {
                                  "type": "string",
                                  "description": "size"
                                },
                                "page": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "page"
                                }
                              },
                              "description": "document_position"
                            }
                          }
                        },
                        "description": "document_fields"
                      }
                    }
                  },
                  "description": "documents"
                },
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "email": {
                        "type": "string",
                        "description": "email"
                      },
                      "viewed": {
                        "type": "object",
                        "properties": {
                          "last": {
                            "type": "string",
                            "description": "last"
                          },
                          "amount_of_times": {
                            "type": "integer",
                            "format": "int32",
                            "description": "amount_of_times"
                          }
                        },
                        "description": "viewed"
                      },
                      "envelope_status": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "description": "status"
                          },
                          "signed_at": {
                            "type": "string",
                            "description": "signed_at"
                          },
                          "declined_at": {
                            "type": "string",
                            "description": "declined_at"
                          }
                        },
                        "description": "envelope_status"
                      },
                      "individual_document_status": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "document_id": {
                              "type": "string",
                              "description": "document_id"
                            },
                            "status": {
                              "type": "string",
                              "description": "status"
                            },
                            "signed_at": {
                              "type": "string",
                              "description": "signed_at"
                            },
                            "declined_at": {
                              "type": "string",
                              "description": "declined_at"
                            },
                            "declined_reason": {
                              "type": "string",
                              "description": "declined_reason"
                            }
                          }
                        },
                        "description": "individual_document_status"
                      },
                      "signer_details": {
                        "type": "object",
                        "properties": {
                          "authenticated_user": {
                            "type": "boolean",
                            "description": "authenticated_user"
                          },
                          "current_sequential_signer": {
                            "type": "boolean",
                            "description": "current_sequential_signer"
                          },
                          "registered_user": {
                            "type": "boolean",
                            "description": "registered_user"
                          },
                          "id_checker_document": {
                            "type": "string",
                            "description": "id_checker_document"
                          }
                        },
                        "description": "signer_details"
                      }
                    }
                  },
                  "description": "signers"
                },
                "envelope_options": {
                  "type": "object",
                  "properties": {
                    "dont_send_signing_emails": {
                      "type": "boolean",
                      "description": "dont_send_signing_emails"
                    },
                    "sign_in_sequential_order": {
                      "type": "boolean",
                      "description": "sign_in_sequential_order"
                    }
                  },
                  "description": "envelope_options"
                },
                "envelope_meta": {
                  "type": "object",
                  "properties": {
                    "last_interaction": {
                      "type": "string",
                      "description": "last_interaction"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "created_at"
                    },
                    "audit_trail": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "type"
                          },
                          "datetime": {
                            "type": "string",
                            "description": "datetime"
                          },
                          "action": {
                            "type": "string",
                            "description": "action"
                          },
                          "concern": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "name"
                              },
                              "email_address": {
                                "type": "string",
                                "description": "email_address"
                              }
                            },
                            "description": "concern"
                          },
                          "resource": {
                            "type": "object",
                            "properties": {
                              "instance": {
                                "type": "string",
                                "description": "instance"
                              },
                              "name": {
                                "type": "string",
                                "description": "name"
                              },
                              "id": {
                                "type": "string",
                                "description": "id"
                              }
                            },
                            "description": "resource"
                          }
                        }
                      },
                      "description": "audit_trail"
                    },
                    "author": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "name"
                        },
                        "email": {
                          "type": "string",
                          "description": "email"
                        }
                      },
                      "description": "author"
                    }
                  },
                  "description": "envelope_meta"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    }
                  },
                  "description": "tags"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "summary": "Create Envelope",
        "operationId": "CreateEnvelope",
        "description": "Create and send a new E-Sign envelope",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "individual document title",
                  "title": ""
                },
                "subject": {
                  "type": "string",
                  "description": "Envelope subject",
                  "title": ""
                },
                "description": {
                  "type": "string",
                  "description": "Envelope description",
                  "title": "",
                  "x-ms-visibility": "advanced"
                },
                "documents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "Envelope title",
                        "title": ""
                      },
                      "upload_file": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Previously uploaded file uuid",
                            "title": "id"
                          }
                        },
                        "description": "upload_file",
                        "required": [
                          "id"
                        ]
                      },
                      "attachment_files": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            }
                          }
                        },
                        "description": "attachment_files"
                      },
                      "document_fields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "signer_email": {
                              "type": "string",
                              "description": "signer_email"
                            },
                            "field_type": {
                              "type": "string",
                              "description": "field_type",
                              "enum": [
                                "request-text",
                                "checkbox",
                                "signature",
                                "initials",
                                "date",
                                "dropdown",
                                "qrcode",
                                "add-text",
                                "payment"
                              ]
                            },
                            "field_required": {
                              "type": "boolean",
                              "description": "field_required"
                            },
                            "field_placeholder": {
                              "type": "string",
                              "description": "field_placeholder"
                            },
                            "field_value": {
                              "type": "string",
                              "description": "field_value"
                            },
                            "document_position": {
                              "type": "object",
                              "properties": {
                                "x": {
                                  "type": "string",
                                  "description": "x"
                                },
                                "y": {
                                  "type": "string",
                                  "description": "y"
                                },
                                "page": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "page"
                                }
                              },
                              "description": "document_position"
                            }
                          }
                        },
                        "description": "document_fields"
                      }
                    },
                    "required": [
                      "title",
                      "upload_file"
                    ]
                  },
                  "description": "documents"
                },
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "signers name",
                        "title": ""
                      },
                      "email": {
                        "type": "string",
                        "description": "signers email",
                        "title": ""
                      }
                    },
                    "required": [
                      "email",
                      "name"
                    ]
                  },
                  "description": "signers"
                },
                "envelope_options": {
                  "type": "object",
                  "properties": {
                    "sign_in_sequential_order": {
                      "type": "boolean",
                      "description": "sign_in_sequential_order",
                      "title": "",
                      "enum": [
                        false,
                        true
                      ],
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "description": "envelope_options"
                },
                "carbon_copies": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "email": {
                        "type": "string",
                        "description": "email"
                      }
                    }
                  },
                  "description": "carbon_copies"
                }
              },
              "required": [
                "documents",
                "title",
                "signers"
              ]
            }
          }
        ]
      }
    },
    "/v3/pa_create_webhook": {
      "x-ms-notification-content": {
        "description": "Webhook signer response",
        "schema": {
          "type": "object",
          "properties": {
            "signer": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "description": "uuid"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "email_address": {
                  "type": "string",
                  "description": "email_address"
                },
                "signed_at": {
                  "type": "string",
                  "description": "signed_at"
                },
                "declined_at": {
                  "type": "string",
                  "description": "declined_at"
                },
                "declined_reason": {
                  "type": "string",
                  "description": "declined_reason"
                },
                "response_ip": {
                  "type": "string",
                  "description": "response_ip"
                },
                "response_os": {
                  "type": "string",
                  "description": "response_os"
                },
                "response_browser": {
                  "type": "string",
                  "description": "response_browser"
                },
                "response_browser_version": {
                  "type": "integer",
                  "format": "int32",
                  "description": "response_browser_version"
                },
                "required_additional_fields": {
                  "type": "array",
                  "items": {},
                  "description": "required_additional_fields"
                }
              },
              "description": "signer"
            },
            "document_status": {
              "type": "string",
              "description": "document_status"
            },
            "document_uuid": {
              "type": "string",
              "description": "document_uuid"
            },
            "event_name": {
              "type": "string",
              "description": "event_name"
            }
          }
        },
        "headers": {
          "application/json": {
            "description": "application/json",
            "type": "string"
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "default"
          }
        },
        "summary": "Signee Signs",
        "description": "When an individual signer signs a document of the Envelope",
        "operationId": "SignDocument",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "target_url": {
                  "type": "string",
                  "description": "Webhook post endpoint url",
                  "title": "target_url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "event": {
                  "type": "string",
                  "description": "webhook event",
                  "title": "event",
                  "x-ms-visibility": "internal",
                  "default": "document_signed"
                }
              },
              "required": [
                "event",
                "target_url"
              ]
            }
          }
        ]
      }
    },
    "/v3/pa_create_webhook_two": {
      "x-ms-notification-content": {
        "description": "Envelope object",
        "schema": {
          "type": "object",
          "properties": {
            "event": {
              "type": "string",
              "description": "event"
            },
            "envelope": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "subject": {
                  "type": "string",
                  "description": "subject"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "envelope_status": {
                  "type": "string",
                  "description": "envelope_status"
                },
                "href": {
                  "type": "string",
                  "description": "href"
                },
                "language": {
                  "type": "string",
                  "description": "language"
                },
                "documents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "document_status": {
                        "type": "string",
                        "description": "document_status"
                      },
                      "upload_file": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "uri": {
                            "type": "string",
                            "description": "uri"
                          },
                          "file_name": {
                            "type": "string",
                            "description": "file_name"
                          },
                          "file_size": {
                            "type": "integer",
                            "format": "int32",
                            "description": "file_size"
                          },
                          "processing": {
                            "type": "boolean",
                            "description": "processing"
                          },
                          "date_created": {
                            "type": "string",
                            "description": "date_created"
                          },
                          "pages": {
                            "type": "integer",
                            "format": "int32",
                            "description": "pages"
                          },
                          "thumbnail": {
                            "type": "string",
                            "description": "thumbnail"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          },
                          "href": {
                            "type": "string",
                            "description": "href"
                          }
                        },
                        "description": "upload_file"
                      },
                      "document_file": {
                        "type": "object",
                        "properties": {
                          "uri": {
                            "type": "string",
                            "description": "uri"
                          },
                          "pages": {
                            "type": "integer",
                            "format": "int32",
                            "description": "pages"
                          },
                          "signature_certificate_page": {
                            "type": "integer",
                            "format": "int32",
                            "description": "signature_certificate_page"
                          }
                        },
                        "description": "document_file"
                      },
                      "attachment_files": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "uri": {
                              "type": "string",
                              "description": "uri"
                            },
                            "file_name": {
                              "type": "string",
                              "description": "file_name"
                            },
                            "file_size": {
                              "type": "integer",
                              "format": "int32",
                              "description": "file_size"
                            },
                            "processing": {
                              "type": "boolean",
                              "description": "processing"
                            },
                            "date_created": {
                              "type": "string",
                              "description": "date_created"
                            },
                            "pages": {
                              "type": "integer",
                              "format": "int32",
                              "description": "pages"
                            },
                            "thumbnail": {
                              "type": "string",
                              "description": "thumbnail"
                            },
                            "type": {
                              "type": "string",
                              "description": "type"
                            },
                            "href": {
                              "type": "string",
                              "description": "href"
                            }
                          }
                        },
                        "description": "attachment_files"
                      },
                      "last_interaction": {
                        "type": "string",
                        "description": "last_interaction"
                      },
                      "document_fields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "signer_email": {
                              "type": "string",
                              "description": "signer_email"
                            },
                            "signer_id": {
                              "type": "string",
                              "description": "signer_id"
                            },
                            "field_type": {
                              "type": "string",
                              "description": "field_type"
                            },
                            "field_required": {
                              "type": "boolean",
                              "description": "field_required"
                            },
                            "field_placeholder": {
                              "type": "string",
                              "description": "field_placeholder"
                            },
                            "field_amount": {
                              "type": "string",
                              "description": "field_amount"
                            },
                            "field_value": {
                              "type": "string",
                              "description": "field_value"
                            },
                            "field_dropdown_options": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "field_dropdown_options"
                            },
                            "document_position": {
                              "type": "object",
                              "properties": {
                                "x": {
                                  "type": "string",
                                  "description": "x"
                                },
                                "y": {
                                  "type": "string",
                                  "description": "y"
                                },
                                "width": {
                                  "type": "string",
                                  "description": "width"
                                },
                                "height": {
                                  "type": "string",
                                  "description": "height"
                                },
                                "size": {
                                  "type": "string",
                                  "description": "size"
                                },
                                "page": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "page"
                                }
                              },
                              "description": "document_position"
                            }
                          }
                        },
                        "description": "document_fields"
                      }
                    }
                  },
                  "description": "documents"
                },
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "email": {
                        "type": "string",
                        "description": "email"
                      },
                      "viewed": {
                        "type": "object",
                        "properties": {
                          "last": {
                            "type": "string",
                            "description": "last"
                          },
                          "amount_of_times": {
                            "type": "integer",
                            "format": "int32",
                            "description": "amount_of_times"
                          }
                        },
                        "description": "viewed"
                      }
                    }
                  },
                  "description": "signers"
                }
              },
              "description": "envelope"
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "default"
          }
        },
        "summary": "Created Envelope",
        "description": "When a new envelope is created within E-Sign",
        "operationId": "CreatedEnvelope",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "target_url": {
                  "type": "string",
                  "description": "Webhook post endpoint url",
                  "title": "target_url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "event": {
                  "type": "string",
                  "description": "webhook event",
                  "title": "event",
                  "x-ms-visibility": "internal",
                  "default": "envelope_created"
                }
              },
              "required": [
                "event",
                "target_url"
              ]
            }
          }
        ]
      }
    },
    "/v3/pa_create_webhook_three": {
      "x-ms-notification-content": {
        "description": "Envelope object",
        "schema": {
          "type": "object",
          "properties": {
            "event": {
              "type": "string",
              "description": "event"
            },
            "envelope": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "subject": {
                  "type": "string",
                  "description": "subject"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "envelope_status": {
                  "type": "string",
                  "description": "envelope_status"
                },
                "href": {
                  "type": "string",
                  "description": "href"
                },
                "language": {
                  "type": "string",
                  "description": "language"
                },
                "documents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "document_status": {
                        "type": "string",
                        "description": "document_status"
                      },
                      "upload_file": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "uri": {
                            "type": "string",
                            "description": "uri"
                          },
                          "file_name": {
                            "type": "string",
                            "description": "file_name"
                          },
                          "file_size": {
                            "type": "integer",
                            "format": "int32",
                            "description": "file_size"
                          },
                          "processing": {
                            "type": "boolean",
                            "description": "processing"
                          },
                          "date_created": {
                            "type": "string",
                            "description": "date_created"
                          },
                          "pages": {
                            "type": "integer",
                            "format": "int32",
                            "description": "pages"
                          },
                          "thumbnail": {
                            "type": "string",
                            "description": "thumbnail"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          },
                          "href": {
                            "type": "string",
                            "description": "href"
                          }
                        },
                        "description": "upload_file"
                      },
                      "document_file": {
                        "type": "object",
                        "properties": {
                          "uri": {
                            "type": "string",
                            "description": "uri"
                          },
                          "pages": {
                            "type": "integer",
                            "format": "int32",
                            "description": "pages"
                          },
                          "signature_certificate_page": {
                            "type": "integer",
                            "format": "int32",
                            "description": "signature_certificate_page"
                          }
                        },
                        "description": "document_file"
                      },
                      "attachment_files": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "uri": {
                              "type": "string",
                              "description": "uri"
                            },
                            "file_name": {
                              "type": "string",
                              "description": "file_name"
                            },
                            "file_size": {
                              "type": "integer",
                              "format": "int32",
                              "description": "file_size"
                            },
                            "processing": {
                              "type": "boolean",
                              "description": "processing"
                            },
                            "date_created": {
                              "type": "string",
                              "description": "date_created"
                            },
                            "pages": {
                              "type": "integer",
                              "format": "int32",
                              "description": "pages"
                            },
                            "thumbnail": {
                              "type": "string",
                              "description": "thumbnail"
                            },
                            "type": {
                              "type": "string",
                              "description": "type"
                            },
                            "href": {
                              "type": "string",
                              "description": "href"
                            }
                          }
                        },
                        "description": "attachment_files"
                      },
                      "last_interaction": {
                        "type": "string",
                        "description": "last_interaction"
                      },
                      "document_fields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "signer_email": {
                              "type": "string",
                              "description": "signer_email"
                            },
                            "signer_id": {
                              "type": "string",
                              "description": "signer_id"
                            },
                            "field_type": {
                              "type": "string",
                              "description": "field_type"
                            },
                            "field_required": {
                              "type": "boolean",
                              "description": "field_required"
                            },
                            "field_placeholder": {
                              "type": "string",
                              "description": "field_placeholder"
                            },
                            "field_amount": {
                              "type": "string",
                              "description": "field_amount"
                            },
                            "field_value": {
                              "type": "string",
                              "description": "field_value"
                            },
                            "field_dropdown_options": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "field_dropdown_options"
                            },
                            "document_position": {
                              "type": "object",
                              "properties": {
                                "x": {
                                  "type": "string",
                                  "description": "x"
                                },
                                "y": {
                                  "type": "string",
                                  "description": "y"
                                },
                                "width": {
                                  "type": "string",
                                  "description": "width"
                                },
                                "height": {
                                  "type": "string",
                                  "description": "height"
                                },
                                "size": {
                                  "type": "string",
                                  "description": "size"
                                },
                                "page": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "page"
                                }
                              },
                              "description": "document_position"
                            }
                          }
                        },
                        "description": "document_fields"
                      }
                    }
                  },
                  "description": "documents"
                },
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "email": {
                        "type": "string",
                        "description": "email"
                      },
                      "viewed": {
                        "type": "object",
                        "properties": {
                          "last": {
                            "type": "string",
                            "description": "last"
                          },
                          "amount_of_times": {
                            "type": "integer",
                            "format": "int32",
                            "description": "amount_of_times"
                          }
                        },
                        "description": "viewed"
                      }
                    }
                  },
                  "description": "signers"
                }
              },
              "description": "envelope"
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "default"
          }
        },
        "summary": "Completed Envelope",
        "description": "When an envelope is fully completed by all signees",
        "operationId": "CompletedEnvelope",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "target_url": {
                  "type": "string",
                  "description": "Webhook post endpoint url",
                  "title": "target_url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "event": {
                  "type": "string",
                  "description": "webhook event",
                  "title": "event",
                  "x-ms-visibility": "internal",
                  "default": "envelope_completed"
                }
              },
              "required": [
                "event",
                "target_url"
              ]
            }
          }
        ]
      }
    },
    "/v3/webhooks": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "signer": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "email_address": {
                  "type": "string",
                  "description": "email_address"
                },
                "signed_at": {
                  "type": "string",
                  "description": "signed_at"
                },
                "declined_at": {
                  "type": "string",
                  "description": "declined_at"
                },
                "declined_reason": {
                  "type": "string",
                  "description": "declined_reason"
                },
                "response_ip": {
                  "type": "string",
                  "description": "response_ip"
                },
                "response_os": {
                  "type": "string",
                  "description": "response_os"
                },
                "response_browser": {
                  "type": "string",
                  "description": "response_browser"
                },
                "response_browser_version": {
                  "type": "integer",
                  "format": "int32",
                  "description": "response_browser_version"
                },
                "required_additional_fields": {
                  "type": "array",
                  "items": {},
                  "description": "required_additional_fields"
                }
              },
              "description": "signer"
            },
            "envelope_status": {
              "type": "string",
              "description": "envelope_status"
            },
            "envelope_id": {
              "type": "string",
              "description": "envelope_id"
            },
            "event_name": {
              "type": "string",
              "description": "event_name"
            }
          }
        },
        "headers": {
          "Content-Type": {
            "description": "Content-Type",
            "type": "string"
          }
        },
        "description": "Signer object"
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.e-sign.co.uk"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.e-sign.co.uk/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Website"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://app.e-sign.co.uk/#/authorize",
      "tokenUrl": "https://api.e-sign.co.uk/v3/oauth/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": []
}
