{
  "swagger": "2.0",
  "info": {
    "title": "Velaro AI Live Chat",
    "description": "Connect Microsoft Power Automate to Velaro AI Live Chat. Trigger flows on chat events (chat started, chat ended, lead created, case created) and take actions such as looking up contacts, creating leads or support cases, sending messages into active conversations, and retrieving full chat transcripts.",
    "version": "1.0",
    "contact": {
      "name": "Velaro Support",
      "url": "https://velaro.com/help",
      "email": "support@velaro.com"
    }
  },
  "host": "admin.velaro.com",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "x-ms-connector-metadata": [
    { "propertyName": "Website", "propertyValue": "https://velaro.com" },
    { "propertyName": "Privacy policy", "propertyValue": "https://velaro.com/privacy" },
    { "propertyName": "Categories", "propertyValue": "Customer Service;Sales and CRM" }
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-Velaro-Api-Key",
      "description": "Velaro service key (vel_live_...). Create with: velaro mcp-key create --label \"Power Automate\""
    }
  },
  "security": [{ "api_key": [] }],
  "paths": {
    "/PowerAutomate/trigger/chat-started": {
      "post": {
        "operationId": "TriggerChatStarted",
        "summary": "When a chat starts",
        "description": "Triggers a Power Automate flow the moment a visitor starts a new chat conversation in Velaro. Returns the conversation ID, visitor details, and the page URL where the chat was initiated.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Fires when a new Velaro chat conversation is started by a visitor.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["callbackUrl"],
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "description": "Power Automate callback URL — set automatically"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook subscription registered",
            "schema": {
              "type": "object",
              "properties": {
                "subscriptionId": { "type": "string", "description": "Webhook subscription ID" }
              }
            }
          }
        }
      }
    },
    "/PowerAutomate/trigger/chat-ended": {
      "post": {
        "operationId": "TriggerChatEnded",
        "summary": "When a chat ends",
        "description": "Triggers a Power Automate flow when a Velaro chat conversation is closed. Payload includes conversation ID, duration, CSAT score (if collected), visitor info, and a link to the full transcript.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Fires when a Velaro chat conversation ends.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["callbackUrl"],
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "description": "Power Automate callback URL — set automatically"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook subscription registered",
            "schema": {
              "type": "object",
              "properties": {
                "subscriptionId": { "type": "string", "description": "Webhook subscription ID" }
              }
            }
          }
        }
      }
    },
    "/PowerAutomate/trigger/lead-created": {
      "post": {
        "operationId": "TriggerLeadCreated",
        "summary": "When a lead is created",
        "description": "Triggers a Power Automate flow when a new lead is created in Velaro — either by the AI bot during a conversation or manually by an agent. Payload includes lead name, email, phone, company, and source channel.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Fires when a new lead is created in Velaro.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["callbackUrl"],
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "description": "Power Automate callback URL — set automatically"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook subscription registered",
            "schema": {
              "type": "object",
              "properties": {
                "subscriptionId": { "type": "string", "description": "Webhook subscription ID" }
              }
            }
          }
        }
      }
    },
    "/PowerAutomate/trigger/case-created": {
      "post": {
        "operationId": "TriggerCaseCreated",
        "summary": "When a support case is created",
        "description": "Triggers a Power Automate flow when a support case is created in Velaro — either by the AI bot or an agent during a conversation. Payload includes case ID, subject, priority, visitor info, and the originating conversation ID.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Fires when a new support case is created in Velaro.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["callbackUrl"],
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "description": "Power Automate callback URL — set automatically"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook subscription registered",
            "schema": {
              "type": "object",
              "properties": {
                "subscriptionId": { "type": "string", "description": "Webhook subscription ID" }
              }
            }
          }
        }
      }
    },
    "/PowerAutomate/contact": {
      "get": {
        "operationId": "GetContact",
        "summary": "Look up a contact",
        "description": "Search for a contact across all CRM integrations connected to your Velaro account (Dynamics 365, HubSpot, Salesforce, etc.) by email address. Returns matched contact records with name, phone, company, and CRM source.",
        "parameters": [
          {
            "in": "query",
            "name": "email",
            "type": "string",
            "required": true,
            "x-ms-visibility": "important",
            "description": "Email address of the contact to look up"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact lookup result",
            "schema": {
              "type": "object",
              "properties": {
                "found": { "type": "boolean", "description": "Whether a contact was found" },
                "contacts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "name": { "type": "string" },
                      "email": { "type": "string" },
                      "phone": { "type": "string" },
                      "company": { "type": "string" },
                      "crmSource": { "type": "string", "description": "CRM system the contact was found in (e.g. Dynamics365, HubSpot)" }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized — invalid or missing API key" }
        }
      }
    },
    "/PowerAutomate/lead": {
      "post": {
        "operationId": "CreateLead",
        "summary": "Create a lead",
        "description": "Create a new lead record in Velaro. If a CRM integration (Dynamics 365, HubSpot, Salesforce) is connected, the lead is also pushed to the CRM automatically.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["firstName", "lastName", "email"],
              "properties": {
                "firstName": { "type": "string", "x-ms-visibility": "important", "description": "Lead first name" },
                "lastName": { "type": "string", "x-ms-visibility": "important", "description": "Lead last name" },
                "email": { "type": "string", "x-ms-visibility": "important", "description": "Lead email address" },
                "phone": { "type": "string", "description": "Lead phone number" },
                "company": { "type": "string", "description": "Lead company name" },
                "source": { "type": "string", "description": "Lead source (e.g. Web Chat, Teams, SMS)" },
                "notes": { "type": "string", "description": "Additional notes or context about the lead" },
                "conversationId": { "type": "string", "description": "Velaro conversation ID to associate this lead with" }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead created",
            "schema": {
              "type": "object",
              "properties": {
                "leadId": { "type": "string", "description": "Velaro lead ID" },
                "crmLeadId": { "type": "string", "description": "CRM lead ID (if a CRM integration is connected)" },
                "crmSource": { "type": "string", "description": "CRM the lead was pushed to" }
              }
            }
          },
          "400": { "description": "Validation error — check required fields" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/PowerAutomate/case": {
      "post": {
        "operationId": "CreateCase",
        "summary": "Create a support case",
        "description": "Create a support case in Velaro. If a CRM or ticketing integration (Dynamics 365, ServiceNow, HubSpot) is connected, the case is also created in the CRM automatically.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["subject", "contactEmail"],
              "properties": {
                "subject": { "type": "string", "x-ms-visibility": "important", "description": "Case subject / title" },
                "contactEmail": { "type": "string", "x-ms-visibility": "important", "description": "Email of the contact this case is for" },
                "description": { "type": "string", "description": "Case description or issue details" },
                "priority": {
                  "type": "string",
                  "enum": ["Low", "Normal", "High", "Critical"],
                  "description": "Case priority level"
                },
                "conversationId": { "type": "string", "description": "Velaro conversation ID to associate with this case" }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Case created",
            "schema": {
              "type": "object",
              "properties": {
                "caseId": { "type": "string", "description": "Velaro case ID" },
                "caseNumber": { "type": "string", "description": "Human-readable case number (e.g. CAS-00042)" },
                "crmCaseId": { "type": "string", "description": "CRM case ID (if a CRM integration is connected)" },
                "crmSource": { "type": "string", "description": "CRM the case was pushed to" }
              }
            }
          },
          "400": { "description": "Validation error" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/PowerAutomate/send-message": {
      "post": {
        "operationId": "SendMessage",
        "summary": "Send a message into a conversation",
        "description": "Send a message into an active Velaro conversation. Use this to inject automated responses, notifications, or context into an ongoing chat — for example, posting a case number or CRM record link back to the visitor.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["conversationId", "message"],
              "properties": {
                "conversationId": { "type": "string", "x-ms-visibility": "important", "description": "Velaro conversation ID to send the message into" },
                "message": { "type": "string", "x-ms-visibility": "important", "description": "Message text to deliver into the conversation" },
                "senderName": { "type": "string", "description": "Display name for the sender (defaults to 'Velaro Bot')" }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message sent",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": { "type": "string", "description": "ID of the delivered message" },
                "deliveredAt": { "type": "string", "format": "date-time", "description": "Timestamp when the message was delivered" }
              }
            }
          },
          "400": { "description": "Conversation not found or not active" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/PowerAutomate/transcript/{conversationId}": {
      "get": {
        "operationId": "GetTranscript",
        "summary": "Get a conversation transcript",
        "description": "Retrieve the full text transcript of a Velaro conversation, including all visitor and agent messages, timestamps, and channel information. Use after a chat-ended trigger to archive or process the transcript.",
        "parameters": [
          {
            "in": "path",
            "name": "conversationId",
            "type": "string",
            "required": true,
            "x-ms-visibility": "important",
            "description": "Velaro conversation ID (available from chat-started and chat-ended trigger payloads)"
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation transcript",
            "schema": {
              "type": "object",
              "properties": {
                "conversationId": { "type": "string" },
                "startedAt": { "type": "string", "format": "date-time" },
                "endedAt": { "type": "string", "format": "date-time" },
                "durationSeconds": { "type": "integer" },
                "channel": { "type": "string", "description": "Channel the conversation took place on (Web, SMS, WhatsApp, Teams, etc.)" },
                "visitorEmail": { "type": "string" },
                "visitorName": { "type": "string" },
                "csatScore": { "type": "number", "description": "CSAT score (1-5) if collected" },
                "messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "timestamp": { "type": "string", "format": "date-time" },
                      "sender": { "type": "string", "description": "Sender role: visitor, agent, or bot" },
                      "senderName": { "type": "string" },
                      "text": { "type": "string" }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Conversation not found" }
        }
      }
    }
  }
}
