{
  "basePath": "/api/batches",
  "consumes": [
    "application/json"
  ],
  "definitions": {},
  "host": "cloudrpa.ratchetx.com",
  "info": {
    "contact": {},
    "description": "Integration with the KnowledgeLake Intelligent Content Automation Platform",
    "title": "KnowledgeLake",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "parameters": {},
  "paths": {
    "/ImportJobs": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "deprecated": false,
        "description": "Call a KnowledgeLake RPA process",
        "operationId": "ImportJobsPost",
        "parameters": [
          {
            "description": "Required RPA import information",
            "in": "body",
            "name": "Batch",
            "required": true,
            "schema": {
              "properties": {
                "Data": {
                  "description": "Comman delimitted list of data values to import",
                  "type": "string",
                  "x-ms-summary": "Import Data",
                  "x-ms-visibility": "important"
                },
                "FileName": {
                  "description": "RPA import name, must end with .csv",
                  "type": "string",
                  "x-ms-summary": "Name for import",
                  "x-ms-visibility": "important"
                },
                "SecurityKey": {
                  "description": "RPA project security token",
                  "type": "string",
                  "x-ms-summary": "Security Token",
                  "x-ms-visibility": "important"
                },
                "Version": {
                  "description": "Choose staging (0) or production (1)",
                  "enum": [
                    "0",
                    "1"
                  ],
                  "type": "string",
                  "x-ms-summary": "RPA environment",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "SecurityKey",
                "Version",
                "FileName",
                "Data"
              ],
              "type": "object"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Response for RPA step",
            "schema": {
              "properties": {
                "$id": {
                  "type": "string"
                },
                "Data": {
                  "properties": {
                    "$id": {
                      "type": "string"
                    },
                    "BlobKey": {
                      "type": "string"
                    },
                    "JobId": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "Errors": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "Success": {
                  "type": "boolean"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Calls a KnowledgeLake RPA process",
        "tags": [
          "Misc"
        ],
        "x-ms-visibility": "important"
      }
    }
  },
  "produces": [
    "application/json"
  ],
  "responses": {},
  "schemes": [
    "https"
  ],
  "security": [],
  "securityDefinitions": {},
  "swagger": "2.0",
  "tags": [
    {
      "description": "",
      "name": "Misc"
    }
  ]
}