{
  "swagger": "2.0",
  "info": {
    "title": "Ozy Approvals",
    "description": "Manage approvals like a pro.",
    "version": "1.0",
	"contact":{
		"name": "OzyApprovals Support",
		"url": "guide.ozyapprovals.com",
		"email" : "support@ozyapprovals.com"
	}
  },
   "x-ms-connector-metadata":[
	  {
		  "propertyName":"Website",
		  "propertyValue":"https://ozyapprovals.com"
	  },
	  {
		  "propertyName":"Privacy policy",
		  "propertyValue":"https://ozyapprovals.com/index.php/home/privacy_policy"
	  },
	  {
		  "propertyName":"Categories",
		  "propertyValue":"Human Resouces, Productivity"
	  },
  ],
  
  "host": "ozyapprovals.com",
  "basePath": "/index.php/services/api/v1/rpa/common",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "parameters": {
    "get_approval_processes": {
      "x-ms-summary": "Approval Process",
      "x-ms-dynamic-values": {
        "operationId": "GetApprovalProcesses",
        "value-collection": "msg",
        "value-path": "id",
        "value-title": "name"
      },
      "required": true,
      "in": "path",
      "name": "process_id",
      "description": "Select the approval process",
      "x-ms-visibility": "important",
      "type": "string"
    }
  },
  "paths": {
    "/subscribe_trigger": {
      "x-ms-notification-content": {
        "description": "Trigger Payload",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "id"
            },
            "ticket_id": {
              "type": "string",
              "description": "Ticket ID"
            },
            "date_created": {
              "type": "string",
              "description": "Date Ticket Created"
            },
            "request_platform": {
              "type": "string",
              "description": "Request Platform"
            },
            "process_name": {
              "type": "string",
              "description": "Process Name"
            },
            "process_description": {
              "type": "string",
              "description": "Process Description"
            },
            "process_id": {
              "type": "string",
              "description": "Process ID"
            },
            "request_id": {
              "type": "string",
              "description": "Request ID"
            },
            "stage_id": {
              "type": "string",
              "description": "Stage ID"
            },
            "stage_name": {
              "type": "string",
              "description": "Stage Name"
            },
            "stage_description": {
              "type": "string",
              "description": "Stage Description"
            },
            "actioned_by": {
              "type": "string",
              "description": "Actioned By"
            },
            "date_actioned": {
              "type": "string",
              "description": "Date Actioned"
            },
            "action_data": {
              "type": "object"
            }
          }
        },
        "headers": {
          "Content-Type": {
            "description": "Content-Type",
            "type": "string"
          }
        }
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status"
                },
                "subject": {
                  "type": "string",
                  "description": "Subject"
                },
                "msg": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name"
                      }
                    }
                  },
                  "description": "msg"
                }
              }
            }
          }
        },
        "x-ms-trigger": "single",
        "summary": "When a Ticket Is Actioned",
        "description": "Triggers when a Ticket is actioned at a particular approval stage.",
        "operationId": "OnRequestActioned",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "target_url": {
                  "type": "string",
                  "description": "Target Url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                },
                "operation": {
                  "type": "string",
                  "description": "operation",
                  "title": "Trigger Type",
                  "default": "REQUEST_ACTIONED",
                  "x-ms-visibility": "internal"
                },
                "process_id": {
                  "type": "integer",
                  "description": "Process ID",
                  "title": "Approval Process",
                  "format": "string",
                  "x-ms-dynamic-values": {
                    "operationId": "GetApprovalProcesses",
                    "value-path": "id",
                    "value-collection": "msg",
                    "value-title": "name"
                  }
                },
                "stage_id": {
                  "type": "integer",
                  "description": "",
                  "title": "Approval Stage",
                  "format": "string",
                  "x-ms-dynamic-list": {
                    "operationId": "GetProcessApprovalStages",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "process_id": {
                        "parameterReference": "body/process_id"
                      }
                    }
                  },
                  "x-ms-dynamic-values": {
                    "operationId": "GetProcessApprovalStages",
                    "value-path": "id",
                    "value-collection": "msg",
                    "value-title": "name",
                    "parameters": {
                      "process_id": {
                        "parameter": "process_id"
                      }
                    }
                  }
                }
              },
              "required": [
                "target_url",
                "operation",
                "process_id",
                "stage_id"
              ]
            }
          }
        ]
      }
    },
    "/subscribe_trigger2": {
      "x-ms-notification-content": {
        "description": "Trigger Payload",
        "schema": {
          "type": "object",
          "properties": {
            "ticket_id": {
              "type": "string",
              "description": "ticket ID"
            },
            "process_name": {
              "type": "string",
              "description": "Process Name"
            },
            "stage_name": {
              "type": "string",
              "description": "Stage Name"
            },
            "sla_metrix": {
              "type": "string",
              "description": "SLA Metrix"
            },
            "sla_breach_duration": {
              "type": "string",
              "description": "SLA breach duration"
            },
            "date_created": {
              "type": "string",
              "description": "Date Created"
            },
            "date_breached": {
              "type": "string",
              "description": "Date Breached"
            },
            "view_link": {
              "type": "string",
              "description": "Link of view"
            },
            "stage_approvers": {
              "type": "string",
              "description": "Users that can action"
            }
          }
        },
        "headers": {
          "Content-Type": {
            "description": "Content-Type",
            "type": "string"
          }
        }
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status"
                },
                "subject": {
                  "type": "string",
                  "description": "Subject"
                },
                "msg": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name"
                      }
                    }
                  },
                  "description": "msg"
                }
              }
            }
          }
        },
        "x-ms-trigger": "single",
        "summary": "When a Ticket SLA is Breached",
        "description": "Triggers when a Ticket SLA is Breached at a particular approval stage.",
        "operationId": "OnSLABreached",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "target_url": {
                  "type": "string",
                  "description": "Target Url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                },
                "operation": {
                  "type": "string",
                  "description": "operation",
                  "title": "Trigger Type",
                  "default": "SLA_BREACHED",
                  "x-ms-visibility": "internal"
                },
                "process_id": {
                  "type": "integer",
                  "description": "approval_process_id",
                  "title": "Approval Process",
                  "format": "string",
                  "x-ms-dynamic-values": {
                    "operationId": "GetApprovalProcesses",
                    "value-path": "id",
                    "value-collection": "msg",
                    "value-title": "name"
                  }
                },
                "stage_id": {
                  "type": "integer",
                  "description": "",
                  "title": "Approval Stage",
                  "format": "string",
                  "x-ms-dynamic-list": {
                    "operationId": "GetProcessApprovalStages",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "process_id": {
                        "parameterReference": "body/process_id"
                      }
                    }
                  },
                  "x-ms-dynamic-values": {
                    "operationId": "GetProcessApprovalStages",
                    "value-path": "id",
                    "value-collection": "msg",
                    "value-title": "name",
                    "parameters": {
                      "process_id": {
                        "parameter": "process_id"
                      }
                    }
                  }
                }
              },
              "required": [
                "target_url",
                "operation",
                "process_id",
                "stage_id"
              ]
            }
          }
        ]
      }
    },
    "/get_approval_processes": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status"
                },
                "subject": {
                  "type": "string",
                  "description": "Subject"
                },
                "msg": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "id",
                        "title": "",
                        "format": "string"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name"
                      }
                    }
                  },
                  "description": "msg"
                }
              }
            }
          }
        },
        "summary": "Get Approval Processes",
        "description": "Get Approval Processes",
        "operationId": "GetApprovalProcesses",
        "x-ms-visibility": "internal"
      }
    },
    "/get_approval_stages2/{process_id}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status"
                },
                "subject": {
                  "type": "string",
                  "description": "Subject"
                },
                "msg": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name"
                      }
                    }
                  },
                  "description": "msg"
                }
              }
            }
          }
        },
        "summary": "Get Process Approval Stages",
        "description": "Get Process Approval Stages",
        "operationId": "GetProcessApprovalStages",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/unsubscribe_trigger/{trigger_id}": {
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "title": "",
              "type": "string"
            }
          }
        },
        "summary": "Delete Trigger Webhook",
        "description": "Delete Trigger Webhook",
        "operationId": "DeleteTriggerWebhook",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "trigger_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/stage_request_status/{approval_status_request_id}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "auth_key_id_used": {
                  "type": "string",
                  "description": "Token used to make request"
                },
                "date_created": {
                  "type": "string",
                  "description": "Date Created"
                },
                "request_platform": {
                  "type": "string",
                  "description": "Request Platform"
                },
                "process_name": {
                  "type": "string",
                  "description": "Process Name"
                },
                "process_description": {
                  "type": "string",
                  "description": "Process Description"
                },
                "process_id": {
                  "type": "string",
                  "description": "Process ID"
                },
                "request_id": {
                  "type": "string",
                  "description": "Request ID"
                },
                "status": {
                  "type": "string",
                  "description": "Status"
                },
                "actioned_by": {
                  "type": "string",
                  "description": "Approver"
                },
                "date_actioned": {
                  "type": "string",
                  "description": "Approval Date"
                },
                "stage_name": {
                  "type": "string",
                  "description": "Stage Name"
                },
                "stage_description": {
                  "type": "string",
                  "description": "Stage Description"
                },
                "approvers_emails": {
                  "type": "string",
                  "description": "Email addresses of approvers"
                },
                "view_link": {
                  "type": "string",
                  "description": "Link to view tickets"
                },
                "ticket_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Ticket ID"
                },
                "action_data": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "summary": "Check Request Status Webhook",
        "description": "Check Request Status Webhook",
        "operationId": "CheckRequestStatusWebhook",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "approval_status_request_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/index.php/services/api/v1/rpa/common/unsubscribe_trigger/{trigger_id}": {},
    "/index.php/services/api/v1/rpa/common/stage_request_status/{approval_status_request_id}": {},
    "/get_process_fields/{process_id}": {
      "get": {
        "summary": "(private) Retrieve form schema",
        "responses": {
          "200": {
            "description": "Note we do not have to specify the response!"
          },
          "403": {
            "schema": {},
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "x-ms-visibility": "internal",
        "operationId": "GetProcessFields",
        "description": "Returns the schema for the specified form"
      }
    },
    "/start_approval_process/{process_id}": {
      "post": {
        "summary": "Register New Approval Request",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status"
                },
                "subject": {
                  "type": "string",
                  "description": "Subject"
                },
                "msg": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status"
                    },
                    "request_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Request ID"
                    },
                    "approval_stages_under": {
                      "type": "string",
                      "description": "No of stages under this process",
                      "title": ""
                    },
                    "approval_process_stages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Stage ID"
                          },
                          "names": {
                            "type": "string",
                            "description": "Stage Names"
                          },
                          "description": {
                            "type": "string",
                            "description": "Stage Description"
                          },
                          "deleted": {
                            "type": "string",
                            "description": "Is stage deleted?"
                          }
                        }
                      }
                    },
                    "msg": {
                      "type": "string",
                      "description": "msg"
                    }
                  },
                  "description": "msg"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/get_approval_processes"
          },
          {
            "required": true,
            "name": "query",
            "in": "body",
            "schema": {
              "x-ms-dynamic-properties": {
                "itemValuePath": "msg",
                "parameters": {
                  "process_id": {
                    "parameterReference": "process_id"
                  }
                },
                "operationId": "GetProcessFields"
              },
              "x-ms-dynamic-schema": {
                "parameters": {
                  "process_id": {
                    "parameter": "process_id"
                  }
                },
                "operationId": "GetProcessFields",
                "value-path": "msg"
              }
            },
            "x-ms-visibility": "important",
            "description": "Register New Approval Request"
          }
        ],
        "operationId": "RegisterNewProcessRequest",
        "description": "Start a new approval process that can undergo multiple approval stages."
      }
    },
    "/activate_approval_stage": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "auth_key_id_used": {
                  "type": "string",
                  "description": "ID of Token used"
                },
                "date_created": {
                  "type": "string",
                  "description": "Date Created"
                },
                "request_platform": {
                  "type": "string",
                  "description": "Request Platform"
                },
                "process_name": {
                  "type": "string",
                  "description": "Process Name"
                },
                "process_description": {
                  "type": "string",
                  "description": "Process Description"
                },
                "process_id": {
                  "type": "string",
                  "description": "Process ID"
                },
                "request_id": {
                  "type": "string",
                  "description": "Request ID"
                },
                "status": {
                  "type": "string",
                  "description": "Status"
                },
                "actioned_by": {
                  "type": "string",
                  "description": "User who actioned"
                },
                "date_actioned": {
                  "type": "string",
                  "description": "Date ticket was actioned"
                },
                "stage_name": {
                  "type": "string",
                  "description": "Stage Name"
                },
                "stage_description": {
                  "type": "string",
                  "description": "Stage Description"
                },
                "approvers_emails": {
                  "type": "string",
                  "description": "Email addresses of approvers"
                },
                "view_link": {
                  "type": "string",
                  "description": "Link to action on tickets"
                },
                "ticket_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Ticket ID"
                },
                "action_data": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "summary": "Create a Ticket",
        "description": "Create a Ticket within an approval stage.",
        "operationId": "ActivateApprovalStage",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "approval_process_request_id": {
                  "type": "string",
                  "description": "Request ID",
                  "title": "Request ID",
                  "x-ms-dynamic-values": {
                    "operationId": "GetApprovalProcessRequests",
                    "value-path": "id",
                    "value-collection": "msg",
                    "value-title": "name"
                  },
                  "format": "string"
                },
                "approval_stage_id": {
                  "type": "string",
                  "description": "Approval Stage",
                  "title": "Approval Stage",
                  "x-ms-dynamic-list": {
                    "operationId": "GetProcessApprovalRequestStages",
                    "itemValuePath": "id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "approval_process_request_id": {
                        "parameterReference": "body/approval_process_request_id"
                      }
                    }
                  },
                  "x-ms-dynamic-values": {
                    "operationId": "GetProcessApprovalRequestStages",
                    "value-path": "id",
                    "value-title": "name",
                    "value-collection": "msg",
                    "parameters": {
                      "approval_process_request_id": {
                        "parameter": "approval_process_request_id"
                      }
                    }
                  }
                },
                "callback_url": {
                  "type": "string",
                  "description": "callback_url",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "-"
                }
              },
              "required": [
                "approval_process_request_id",
                "approval_stage_id",
                "callback_url"
              ]
            }
          }
        ]
      }
    },
    "/get_approval_process_requests": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status"
                },
                "subject": {
                  "type": "string",
                  "description": "Subject"
                },
                "msg": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "Request ID",
                        "title": "",
                        "format": "string"
                      },
                      "name": {
                        "type": "string",
                        "description": "Request Date"
                      }
                    }
                  },
                  "description": "msg"
                }
              }
            }
          }
        },
        "summary": "Get Approval Processes Requests",
        "description": "Get Approval Process Requests",
        "operationId": "GetApprovalProcessRequests",
        "x-ms-visibility": "internal"
      }
    },
    "/get_approval_stages/{approval_process_request_id}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status"
                },
                "subject": {
                  "type": "string",
                  "description": "Subject"
                },
                "msg": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Stage ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Stage Name"
                      }
                    }
                  },
                  "description": "msg"
                }
              }
            }
          }
        },
        "summary": "Get Process Approval Stages",
        "description": "Get Process Approval Request Stages",
        "operationId": "GetProcessApprovalRequestStages",
        "parameters": [
          {
            "name": "approval_process_request_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/retrieve_approval_process_request/{approval_process_request_id}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status"
                },
                "subject": {
                  "type": "string",
                  "description": "Subject"
                },
                "msg": {
                  "type": "object",
                  "properties": {
                    "auth_key_id_used": {
                      "type": "string",
                      "description": "ID of Token used"
                    },
                    "date_created": {
                      "type": "string",
                      "description": "Date Created"
                    },
                    "request_platform": {
                      "type": "string",
                      "description": "Request Platform"
                    },
                    "process_name": {
                      "type": "string",
                      "description": "Process Name"
                    },
                    "process_description": {
                      "type": "string",
                      "description": "Process Description"
                    },
                    "process_id": {
                      "type": "string",
                      "description": "Process ID"
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Request ID"
                    },
                    "request_data": {
                      "type": "object"
                    },
                    "approval_stages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Stage ID"
                          },
                          "names": {
                            "type": "string",
                            "description": "Stage Names"
                          },
                          "description": {
                            "type": "string",
                            "description": "Stage Description"
                          },
                          "deleted": {
                            "type": "string",
                            "description": "Is the stage deleted?"
                          }
                        }
                      }
                    }
                  },
                  "description": "msg"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "summary": "Find an Approval Request",
        "operationId": "FindApprovalProcessRequest",
        "description": "Search for an approval request by ID",
        "parameters": [
          {
            "name": "approval_process_request_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetApprovalProcessRequests",
              "value-path": "id",
              "value-collection": "msg",
              "value-title": "name"
            },
            "description": "Request ID",
            "x-ms-summary": "Request ID"
          }
        ]
      }
    },
    "/retrieve_approval_stage_request/{approval_stage_request_id}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status"
                },
                "subject": {
                  "type": "string",
                  "description": "Subject"
                },
                "msg": {
                  "type": "object",
                  "properties": {
                    "ticket_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Ticket ID"
                    },
                    "auth_key_id_used": {
                      "type": "string",
                      "description": "ID of Token used"
                    },
                    "date_created": {
                      "type": "string",
                      "description": "Date Created"
                    },
                    "request_platform": {
                      "type": "string",
                      "description": "Request Platform"
                    },
                    "process_name": {
                      "type": "string",
                      "description": "Process Name"
                    },
                    "process_description": {
                      "type": "string",
                      "description": "Process Description"
                    },
                    "process_id": {
                      "type": "string",
                      "description": "Process ID"
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Request ID"
                    },
                    "status": {
                      "type": "string",
                      "description": "Stage Status"
                    },
                    "actioned_by": {
                      "type": "string",
                      "description": "User who actioned"
                    },
                    "date_actioned": {
                      "type": "string",
                      "description": "Date ticket was actioned"
                    },
                    "stage_name": {
                      "type": "string",
                      "description": "Stage Name"
                    },
                    "stage_description": {
                      "type": "string",
                      "description": "Stage Description"
                    },
                    "approvers_emails": {
                      "type": "string",
                      "description": "Email addresses of approvers"
                    },
                    "view_link": {
                      "type": "string",
                      "description": "Link to view tickets"
                    },
                    "action_data": {
                      "type": "object"
                    }
                  },
                  "description": "msg"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "summary": "Find a Ticket",
        "operationId": "FindApprovalStageRequest",
        "description": "Search for a Ticket by ID.",
        "parameters": [
          {
            "name": "approval_stage_request_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetApprovalStageRequests",
              "value-path": "id",
              "value-collection": "msg",
              "value-title": "name"
            },
            "description": "Ticket ID",
            "x-ms-summary": "Ticket ID"
          }
        ]
      }
    },
    "/get_approval_stage_requests": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status"
                },
                "subject": {
                  "type": "string",
                  "description": "Subject"
                },
                "msg": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Ticket ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Date Created"
                      }
                    }
                  },
                  "description": "msg"
                }
              }
            }
          }
        },
        "summary": "Get Approval Stage Requests",
        "operationId": "GetApprovalStageRequests",
        "description": "Get Approval Stage Requests",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    }
  },
  "definitions": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}
