{
  "swagger": "2.0",
  "info": {
    "title": "Federal Reserve Markets (Independent Publisher)",
    "description": "The New York Federal Reserve's Markets Data API offers real-time data on various financial operations, including Treasury securities, agency mortgage-backed securities, and securities lending activities, sourced directly from the New York Fed",
    "version": "1.0",
    "contact": {
      "name": "Dan Romano",
      "url": "https://developments.substack.com",
      "email": "dan.romano@swolcat.com"
    }
  },
  "host": "markets.newyorkfed.org",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/ambs/{operation}/{status}/{include}/latest.{format}": {
      "get": {
        "tags": [
          "AMBS Operations"
        ],
        "summary": "Retrieve AMBS operations based on parameters",
        "description": "Fetches Agency Mortgage-Backed Securities (AMBS) operations with the specified parameters.",
        "parameters": [
          {
            "name": "operation",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "all",
              "purchases",
              "sales",
              "roll",
              "swap"
            ],
            "description": "The type of operation to retrieve.",
            "x-ms-summary": "Type of AMBS operation."
          },
          {
            "name": "status",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "announcements",
              "results"
            ],
            "description": "The status of the operation to retrieve.",
            "x-ms-summary": "Status of the AMBS operation."
          },
          {
            "name": "include",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "summary",
              "details"
            ],
            "description": "The level of details to include in the response.",
            "x-ms-summary": "Response detail level."
          },
          {
            "name": "format",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "json",
              "xml",
              "csv",
              "xlsx"
            ],
            "description": "The format of the response data.",
            "x-ms-summary": "Response format."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing AMBS operations data.",
            "schema": {
              "type": "object",
              "properties": {
                "ambs": {
                  "type": "object",
                  "properties": {
                    "auctions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/AMBSOperation"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to invalid parameters. Ensure the request URL follows the structure: /api/ambs/{operation}/{status}/{include}/latest.{format}",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Operations not found for the specified criteria.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "operationId": "GetAMBSOperationsByStatus",
        "x-ms-visibility": "advanced"
      }
    },
    "/tsy/{operation}/{status}/{include}/latest.{format}": {
      "get": {
        "tags": [
          "Treasury Securities"
        ],
        "summary": "Retrieve Treasury Securities operations based on parameters",
        "description": "Fetches Treasury Securities operations with the specified parameters.",
        "parameters": [
          {
            "name": "operation",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "all",
              "purchases",
              "sales"
            ],
            "description": "The type of operation to retrieve.",
            "x-ms-summary": "Type of Treasury operation."
          },
          {
            "name": "status",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "announcements",
              "results",
              "operations"
            ],
            "description": "The status of the operation to retrieve.",
            "x-ms-summary": "Status of the Treasury operation."
          },
          {
            "name": "include",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "summary",
              "details"
            ],
            "description": "The level of details to include in the response.",
            "x-ms-summary": "Response detail level."
          },
          {
            "name": "format",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "json",
              "xml",
              "csv",
              "xlsx"
            ],
            "description": "The format of the response data.",
            "x-ms-summary": "Response format."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing Treasury Securities operations data.",
            "schema": {
              "type": "object",
              "properties": {
                "treasury": {
                  "type": "object",
                  "properties": {
                    "auctions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/TreasurySecuritiesOperation"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "GetTreasurySecuritiesOperationsByStatus",
        "x-ms-visibility": "advanced"
      }
    },
    "/seclending/{operation}/results/{include}/latest.{format}": {
      "get": {
        "tags": [
          "Securities Lending"
        ],
        "summary": "Retrieve Securities Lending operations based on parameters",
        "description": "Fetches Securities Lending operations with the specified parameters.",
        "parameters": [
          {
            "name": "operation",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "all",
              "seclending",
              "extensions"
            ],
            "description": "The type of operation to retrieve.",
            "x-ms-summary": "Type of Securities Lending operation."
          },
          {
            "name": "include",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "summary",
              "details"
            ],
            "description": "The level of details to include in the response.",
            "x-ms-summary": "Response detail level."
          },
          {
            "name": "format",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "json",
              "xml",
              "csv",
              "xlsx"
            ],
            "description": "The format of the response data.",
            "x-ms-summary": "Response format."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing Securities Lending operations data.",
            "schema": {
              "type": "object",
              "properties": {
                "seclending": {
                  "type": "object",
                  "properties": {
                    "operations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/SecuritiesLendingOperation"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "GetSecuritiesLendingOperations",
        "x-ms-visibility": "advanced"
      }
    }
  },
  "definitions": {
    "AMBSOperation": {
      "type": "object",
      "properties": {
        "auctionStatus": {
          "type": "string",
          "description": "Status of the auction."
        },
        "operationId": {
          "type": "string",
          "description": "Unique identifier for the operation."
        },
        "operationDate": {
          "type": "string",
          "format": "date",
          "description": "Date of the operation."
        },
        "operationType": {
          "type": "string",
          "description": "Type of the operation."
        },
        "operationDirection": {
          "type": "string",
          "description": "Direction of the operation (e.g., Purchase, Sale)."
        },
        "method": {
          "type": "string",
          "description": "Method of auction pricing."
        },
        "releaseTime": {
          "type": "string",
          "description": "Time when results were released."
        },
        "closeTime": {
          "type": "string",
          "description": "Time when auction closed."
        },
        "classType": {
          "type": "string",
          "description": "Class type of the auction."
        },
        "totalAmtSubmittedPar": {
          "type": "string",
          "description": "Total submitted amount in par value."
        },
        "totalAmtAcceptedPar": {
          "type": "string",
          "description": "Total accepted amount in par value."
        },
        "settlementDate": {
          "type": "string",
          "format": "date",
          "description": "Settlement date of the auction."
        },
        "lastUpdated": {
          "type": "string",
          "description": "Last updated timestamp."
        },
        "note": {
          "type": "string",
          "description": "Additional notes."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "inclusionExclusionFlag": {
                "type": "string",
                "description": "Flag indicating inclusion or exclusion."
              },
              "securityDescription": {
                "type": "string",
                "description": "Description of the security."
              },
              "amtAcceptedPar": {
                "type": "string",
                "description": "Accepted amount in par value."
              }
            }
          }
        }
      }
    },
    "TreasurySecuritiesOperation": {
      "type": "object",
      "properties": {
        "operationId": {
          "type": "string",
          "description": "Unique identifier for the operation."
        },
        "auctionStatus": {
          "type": "string",
          "description": "Status of the auction."
        },
        "operationType": {
          "type": "string",
          "description": "Type of the operation."
        },
        "operationDate": {
          "type": "string",
          "format": "date",
          "description": "Date of the operation."
        },
        "settlementDate": {
          "type": "string",
          "format": "date",
          "description": "Settlement date of the auction."
        },
        "maturityRangeStart": {
          "type": "string",
          "format": "date",
          "description": "Start date of maturity range."
        },
        "maturityRangeEnd": {
          "type": "string",
          "format": "date",
          "description": "End date of maturity range."
        },
        "operationDirection": {
          "type": "string",
          "description": "Direction of the operation."
        },
        "auctionMethod": {
          "type": "string",
          "description": "Auction method used."
        },
        "releaseTime": {
          "type": "string",
          "description": "Time when results were released."
        },
        "closeTime": {
          "type": "string",
          "description": "Time when auction closed."
        },
        "totalParAmtSubmitted": {
          "type": "string",
          "description": "Total submitted amount in par value."
        },
        "totalParAmtAccepted": {
          "type": "string",
          "description": "Total accepted amount in par value."
        },
        "lastUpdated": {
          "type": "string",
          "description": "Last updated timestamp."
        },
        "note": {
          "type": "string",
          "description": "Additional notes."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "inclusionIndicator": {
                "type": "string",
                "description": "Indicator for inclusion or exclusion."
              },
              "cusip": {
                "type": "string",
                "description": "CUSIP number of the security."
              },
              "securityDescription": {
                "type": "string",
                "description": "Description of the security."
              },
              "parAmountAccepted": {
                "type": "string",
                "description": "Accepted par amount."
              },
              "weightedAvgAccptPrice": {
                "type": "string",
                "description": "Weighted average accepted price."
              },
              "leastFavoriteAccptPrice": {
                "type": "string",
                "description": "Least favorite accepted price."
              },
              "percentAllottedleastFavoriteAccptPrice": {
                "type": "string",
                "description": "Percentage allotted at least favorite accepted price."
              }
            }
          }
        }
      }
    },
    "SecuritiesLendingOperation": {
      "type": "object",
      "properties": {
        "operationId": {
          "type": "string",
          "description": "Unique identifier for the operation."
        },
        "auctionStatus": {
          "type": "string",
          "description": "Status of the auction."
        },
        "operationType": {
          "type": "string",
          "description": "Type of the operation."
        },
        "operationDate": {
          "type": "string",
          "format": "date",
          "description": "Date of the operation."
        },
        "settlementDate": {
          "type": "string",
          "format": "date",
          "description": "Settlement date of the auction."
        },
        "maturityDate": {
          "type": "string",
          "format": "date",
          "description": "Maturity date of the operation."
        },
        "releaseTime": {
          "type": "string",
          "description": "Time when results were released."
        },
        "closeTime": {
          "type": "string",
          "description": "Time when auction closed."
        },
        "lastUpdated": {
          "type": "string",
          "description": "Last updated timestamp."
        },
        "note": {
          "type": "string",
          "description": "Additional notes."
        },
        "totalParAmtSubmitted": {
          "type": "integer",
          "description": "Total submitted amount in par value."
        },
        "totalParAmtAccepted": {
          "type": "integer",
          "description": "Total accepted amount in par value."
        },
        "totalParAmtExtended": {
          "type": "integer",
          "description": "Total extended amount in par value."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "cusip": {
                "type": "string",
                "description": "CUSIP number of the security."
              },
              "securityDescription": {
                "type": "string",
                "description": "Description of the security."
              },
              "parAmtSubmitted": {
                "type": "integer",
                "description": "Submitted par amount."
              },
              "parAmtAccepted": {
                "type": "integer",
                "description": "Accepted par amount."
              },
              "parAmtExtended": {
                "type": "integer",
                "description": "Extended par amount."
              },
              "weightedAverageRate": {
                "type": "number",
                "format": "float",
                "description": "Weighted average rate."
              },
              "somaHoldings": {
                "type": "integer",
                "description": "SOMA holdings."
              },
              "theoAvailToBorrow": {
                "type": "integer",
                "description": "Theoretical available to borrow."
              },
              "actualAvailToBorrow": {
                "type": "integer",
                "description": "Actual available to borrow."
              },
              "outstandingLoans": {
                "type": "integer",
                "description": "Outstanding loans."
              }
            }
          }
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "Error code.",
          "enum": [
            400,
            401,
            403,
            404,
            500
          ]
        },
        "message": {
          "type": "string",
          "description": "Error message."
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "tags": [
    {
      "name": "AMBS Operations",
      "description": "Retrieve Agency Mortgage-Backed Securities operations"
    },
    {
      "name": "Treasury Securities",
      "description": "Retrieve Treasury Securities operations"
    },
    {
      "name": "Securities Lending",
      "description": "Retrieve Securities Lending operations"
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://markets.newyorkfed.org/"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.newyorkfed.org/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Finance;Data"
    }
  ],
  "securityDefinitions": {}
}